{
  "swagger": "2.0",
  "info": {
    "version": "2018-10-15",
    "title": "ManagedLabsClient",
    "description": "The Managed Labs Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.LabServices/operations": {
      "get": {
        "tags": [
          "ProviderOperations"
        ],
        "description": "Result of the request to list REST API operations",
        "operationId": "ProviderOperations_List",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProviderOperationResult"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.LabServices/users/{userName}/getEnvironment": {
      "post": {
        "tags": [
          "GlobalUsers"
        ],
        "description": "Gets the virtual machine details",
        "operationId": "GlobalUsers_GetEnvironment",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentOperationsPayload",
            "in": "body",
            "description": "Represents payload for any Environment operations like get, start, stop, connect",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentOperationsPayload"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($expand=environment)'",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentResponse"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/providers/Microsoft.LabServices/users/{userName}/getOperationBatchStatus": {
      "post": {
        "tags": [
          "GlobalUsers"
        ],
        "description": "Get batch operation status",
        "operationId": "GlobalUsers_GetOperationBatchStatus",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationBatchStatusPayload",
            "in": "body",
            "description": "Payload to get the status of an operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperationBatchStatusPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationBatchStatusResponse"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/providers/Microsoft.LabServices/users/{userName}/getOperationStatus": {
      "post": {
        "tags": [
          "GlobalUsers"
        ],
        "description": "Gets the status of long running operation",
        "operationId": "GlobalUsers_GetOperationStatus",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationStatusPayload",
            "in": "body",
            "description": "Payload to get the status of an operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperationStatusPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationStatusResponse"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/providers/Microsoft.LabServices/users/{userName}/getPersonalPreferences": {
      "post": {
        "tags": [
          "GlobalUsers"
        ],
        "description": "Get personal preferences for a user",
        "operationId": "GlobalUsers_GetPersonalPreferences",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "personalPreferencesOperationsPayload",
            "in": "body",
            "description": "Represents payload for any Environment operations like get, start, stop, connect",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PersonalPreferencesOperationsPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetPersonalPreferencesResponse"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/providers/Microsoft.LabServices/users/{userName}/listEnvironments": {
      "post": {
        "tags": [
          "GlobalUsers"
        ],
        "description": "List Environments for the user",
        "operationId": "GlobalUsers_ListEnvironments",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "listEnvironmentsPayload",
            "in": "body",
            "description": "Represents the payload to list environments owned by a user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListEnvironmentsPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListEnvironmentsResponse"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/providers/Microsoft.LabServices/users/{userName}/listLabs": {
      "post": {
        "tags": [
          "GlobalUsers"
        ],
        "description": "List labs for the user.",
        "operationId": "GlobalUsers_ListLabs",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListLabsResponse"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/providers/Microsoft.LabServices/users/{userName}/register": {
      "post": {
        "tags": [
          "GlobalUsers"
        ],
        "description": "Register a user to a managed lab",
        "operationId": "GlobalUsers_Register",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registerPayload",
            "in": "body",
            "description": "Represents payload for Register action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/providers/Microsoft.LabServices/users/{userName}/resetPassword": {
      "post": {
        "tags": [
          "GlobalUsers"
        ],
        "description": "Resets the user password on an environment This operation can take a while to complete",
        "operationId": "GlobalUsers_ResetPassword",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resetPasswordPayload",
            "in": "body",
            "description": "Represents the payload for resetting passwords.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetPasswordPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.LabServices/users/{userName}/startEnvironment": {
      "post": {
        "tags": [
          "GlobalUsers"
        ],
        "description": "Starts an environment by starting all resources inside the environment. This operation can take a while to complete",
        "operationId": "GlobalUsers_StartEnvironment",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentOperationsPayload",
            "in": "body",
            "description": "Represents payload for any Environment operations like get, start, stop, connect",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentOperationsPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.LabServices/users/{userName}/stopEnvironment": {
      "post": {
        "tags": [
          "GlobalUsers"
        ],
        "description": "Stops an environment by stopping all resources inside the environment This operation can take a while to complete",
        "operationId": "GlobalUsers_StopEnvironment",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentOperationsPayload",
            "in": "body",
            "description": "Represents payload for any Environment operations like get, start, stop, connect",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentOperationsPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/labaccounts": {
      "get": {
        "tags": [
          "LabAccounts"
        ],
        "description": "List lab accounts in a subscription.",
        "operationId": "LabAccounts_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($expand=sizeConfiguration)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWithContinuation[LabAccount]"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/LabAccount"
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/locations/{locationName}/operations/{operationName}": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Get operation",
        "operationId": "Operations_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/locationName"
          },
          {
            "name": "operationName",
            "in": "path",
            "description": "The name of the operation.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResult"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts": {
      "get": {
        "tags": [
          "LabAccounts"
        ],
        "description": "List lab accounts in a resource group.",
        "operationId": "LabAccounts_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($expand=sizeConfiguration)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWithContinuation[LabAccount]"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/LabAccount"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}": {
      "get": {
        "tags": [
          "LabAccounts"
        ],
        "description": "Get lab account",
        "operationId": "LabAccounts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($expand=sizeConfiguration)'",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabAccount"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "LabAccounts"
        ],
        "description": "Create or replace an existing Lab Account.",
        "operationId": "LabAccounts_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labAccount",
            "in": "body",
            "description": "Represents a lab account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabAccount"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabAccount"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/LabAccount"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "LabAccounts"
        ],
        "description": "Delete lab account. This operation can take a while to complete",
        "operationId": "LabAccounts_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "LabAccounts"
        ],
        "description": "Modify properties of lab accounts.",
        "operationId": "LabAccounts_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labAccount",
            "in": "body",
            "description": "Represents a lab account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabAccountFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabAccount"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/createLab": {
      "post": {
        "tags": [
          "LabAccounts"
        ],
        "description": "Create a lab in a lab account.",
        "operationId": "LabAccounts_CreateLab",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "createLabProperties",
            "in": "body",
            "description": "Properties for creating a managed lab and a default environment setting",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateLabProperties"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/galleryimages": {
      "get": {
        "tags": [
          "GalleryImages"
        ],
        "description": "List gallery images in a given lab account.",
        "operationId": "GalleryImages_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=author)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWithContinuation[GalleryImage]"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/GalleryImage"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/galleryimages/{galleryImageName}": {
      "get": {
        "tags": [
          "GalleryImages"
        ],
        "description": "Get gallery image",
        "operationId": "GalleryImages_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery Image.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=author)'",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "GalleryImages"
        ],
        "description": "Create or replace an existing Gallery Image.",
        "operationId": "GalleryImages_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery Image.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImage",
            "in": "body",
            "description": "Represents an image from the Azure Marketplace",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "GalleryImages"
        ],
        "description": "Delete gallery image.",
        "operationId": "GalleryImages_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery Image.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "GalleryImages"
        ],
        "description": "Modify properties of gallery images.",
        "operationId": "GalleryImages_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery Image.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImage",
            "in": "body",
            "description": "Represents an image from the Azure Marketplace",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImageFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/getRegionalAvailability": {
      "post": {
        "tags": [
          "LabAccounts"
        ],
        "description": "Get regional availability information for each size category configured under a lab account",
        "operationId": "LabAccounts_GetRegionalAvailability",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetRegionalAvailabilityResponse"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs": {
      "get": {
        "tags": [
          "Labs"
        ],
        "description": "List labs in a given lab account.",
        "operationId": "Labs_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=maxUsersInLab)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWithContinuation[Lab]"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Lab",
        "x-ms-examples": {
          "Labs_List": {
            "$ref": "./examples/Labs_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}": {
      "get": {
        "tags": [
          "Labs"
        ],
        "description": "Get lab",
        "operationId": "Labs_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=maxUsersInLab)'",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Lab"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Labs"
        ],
        "description": "Create or replace an existing Lab.",
        "operationId": "Labs_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lab",
            "in": "body",
            "description": "Represents a lab.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Lab"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Lab"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Lab"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Labs"
        ],
        "description": "Delete lab. This operation can take a while to complete",
        "operationId": "Labs_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Labs"
        ],
        "description": "Modify properties of labs.",
        "operationId": "Labs_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lab",
            "in": "body",
            "description": "Represents a lab.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Lab"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/addUsers": {
      "post": {
        "tags": [
          "Labs"
        ],
        "description": "Add users to a lab",
        "operationId": "Labs_AddUsers",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addUsersPayload",
            "in": "body",
            "description": "Payload for Add Users operation on a Lab.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddUsersPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings": {
      "get": {
        "tags": [
          "EnvironmentSettings"
        ],
        "description": "List environment setting in a given lab.",
        "operationId": "EnvironmentSettings_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=publishingState)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWithContinuation[EnvironmentSetting]"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/EnvironmentSetting"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}": {
      "get": {
        "tags": [
          "EnvironmentSettings"
        ],
        "description": "Get environment setting",
        "operationId": "EnvironmentSettings_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=publishingState)'",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentSetting"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "EnvironmentSettings"
        ],
        "description": "Create or replace an existing Environment Setting. This operation can take a while to complete",
        "operationId": "EnvironmentSettings_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSetting",
            "in": "body",
            "description": "Represents settings of an environment, from which environment instances would be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentSetting"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentSetting"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EnvironmentSetting"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "EnvironmentSettings"
        ],
        "description": "Delete environment setting. This operation can take a while to complete",
        "operationId": "EnvironmentSettings_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "EnvironmentSettings"
        ],
        "description": "Modify properties of environment setting.",
        "operationId": "EnvironmentSettings_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSetting",
            "in": "body",
            "description": "Represents settings of an environment, from which environment instances would be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentSettingFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentSetting"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/claimAny": {
      "post": {
        "tags": [
          "EnvironmentSettings"
        ],
        "description": "Claims a random environment for a user in an environment settings",
        "operationId": "EnvironmentSettings_ClaimAny",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments": {
      "get": {
        "tags": [
          "Environments"
        ],
        "description": "List environments in a given environment setting.",
        "operationId": "Environments_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($expand=networkInterface)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWithContinuation[Environment]"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Environment"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}": {
      "get": {
        "tags": [
          "Environments"
        ],
        "description": "Get environment",
        "operationId": "Environments_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($expand=networkInterface)'",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Environments"
        ],
        "description": "Create or replace an existing Environment.",
        "operationId": "Environments_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "body",
            "description": "Represents an environment instance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Environments"
        ],
        "description": "Delete environment. This operation can take a while to complete",
        "operationId": "Environments_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Environments"
        ],
        "description": "Modify properties of environments.",
        "operationId": "Environments_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "body",
            "description": "Represents an environment instance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/claim": {
      "post": {
        "tags": [
          "Environments"
        ],
        "description": "Claims the environment and assigns it to the user",
        "operationId": "Environments_Claim",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/resetPassword": {
      "post": {
        "tags": [
          "Environments"
        ],
        "description": "Resets the user password on an environment This operation can take a while to complete",
        "operationId": "Environments_ResetPassword",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resetPasswordPayload",
            "in": "body",
            "description": "Represents the payload for resetting passwords.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetPasswordPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/start": {
      "post": {
        "tags": [
          "Environments"
        ],
        "description": "Starts an environment by starting all resources inside the environment. This operation can take a while to complete",
        "operationId": "Environments_Start",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/stop": {
      "post": {
        "tags": [
          "Environments"
        ],
        "description": "Stops an environment by stopping all resources inside the environment This operation can take a while to complete",
        "operationId": "Environments_Stop",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/publish": {
      "post": {
        "tags": [
          "EnvironmentSettings"
        ],
        "description": "Provisions/deprovisions required resources for an environment setting based on current state of the lab/environment setting.",
        "operationId": "EnvironmentSettings_Publish",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publishPayload",
            "in": "body",
            "description": "Payload for Publish operation on EnvironmentSetting.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublishPayload"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/start": {
      "post": {
        "tags": [
          "EnvironmentSettings"
        ],
        "description": "Starts a template by starting all resources inside the template. This operation can take a while to complete",
        "operationId": "EnvironmentSettings_Start",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/stop": {
      "post": {
        "tags": [
          "EnvironmentSettings"
        ],
        "description": "Starts a template by starting all resources inside the template. This operation can take a while to complete",
        "operationId": "EnvironmentSettings_Stop",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentSettingName",
            "in": "path",
            "description": "The name of the environment Setting.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/register": {
      "post": {
        "tags": [
          "Labs"
        ],
        "description": "Register to managed lab.",
        "operationId": "Labs_Register",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "description": "List users in a given lab.",
        "operationId": "Users_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=email)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWithContinuation[User]"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/User"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/users/{userName}": {
      "get": {
        "tags": [
          "Users"
        ],
        "description": "Get user",
        "operationId": "Users_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=email)'",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Users"
        ],
        "description": "Create or replace an existing User.",
        "operationId": "Users_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "description": "The User registered to a lab",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "description": "Delete user. This operation can take a while to complete",
        "operationId": "Users_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "description": "Modify properties of users.",
        "operationId": "Users_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "labAccountName",
            "in": "path",
            "description": "The name of the lab Account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "description": "The User registered to a lab",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "AddUsersPayload": {
      "description": "Payload for Add Users operation on a Lab.",
      "required": [
        "emailAddresses"
      ],
      "type": "object",
      "properties": {
        "emailAddresses": {
          "description": "List of user emails addresses to add to the lab.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CloudError": {
      "description": "Error from a REST request.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "description": "Body of an error from a REST request.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        },
        "details": {
          "description": "Inner errors.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          }
        }
      },
      "x-ms-external": true
    },
    "CreateLabProperties": {
      "description": "Properties for creating a managed lab and a default environment setting",
      "required": [
        "labCreationParameters",
        "name"
      ],
      "type": "object",
      "properties": {
        "environmentSettingCreationParameters": {
          "$ref": "#/definitions/EnvironmentSettingCreationParameters",
          "description": "Settings related to creating an environment setting"
        },
        "labCreationParameters": {
          "$ref": "#/definitions/LabCreationParameters",
          "description": "Settings related to creating a lab"
        },
        "name": {
          "description": "The name of the resource",
          "type": "string"
        },
        "location": {
          "description": "The location of the resource",
          "type": "string"
        },
        "tags": {
          "description": "The tags of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Environment": {
      "description": "Represents an environment instance",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnvironmentProperties",
          "description": "The properties of the Environment resource",
          "x-ms-client-flatten": true
        }
      }
    },
    "EnvironmentDetails": {
      "description": "This represents the details about a User's environment and its state.",
      "type": "object",
      "properties": {
[...]
