{
  "swagger": "2.0",
  "info": {
    "version": "2020-01-01-alpha",
    "title": "DataProtectionBackupClient",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/backupVaults": {
      "get": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Returns resource collection belonging to a subscription.",
        "operationId": "BackupVaults_GetResourcesInSubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupVaultResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
			  }			
		  }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get BackupVaults in Subscription": {
            "$ref": "./examples/VaultCRUD/GetBackupVaultsInSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/locations/{location}/operationStatus/{operationId}": {
      "get": {
        "tags": [
          "DppOperationStatus"
        ],
        "summary": "Gets the operation status for a resource.",
        "operationId": "GetOperationStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
			  }			
		  }
        },
        "x-ms-examples": {
          "Get OperationStatus": {
            "$ref": "./examples/GetOperationStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults": {
      "get": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Returns resource collection belonging to a resource group.",
        "operationId": "BackupVaults_GetResourcesInResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupVaultResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
			  }			
		  }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get BackupVaults in ResourceGroup": {
            "$ref": "./examples/VaultCRUD/GetBackupVaultsInResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}": {
      "get": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Returns a resource belonging to a resource group.",
        "operationId": "BackupVaults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupVaultResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
			  }			
		  }
        },
        "x-ms-examples": {
          "Get BackupVault": {
            "$ref": "./examples/VaultCRUD/GetBackupVault.json"
          },
          "Get BackupVault With MSI": {
            "$ref": "./examples/VaultCRUD/GetBackupVaultWithMSI.json"
          }
        }
      },
      "put": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Creates or updates a BackupVault resource belonging to a resource group.",
        "operationId": "BackupVaults_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupVaultResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupVaultResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BackupVaultResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
			  }			
		  }
        },
        "x-ms-examples": {
          "Create BackupVault": {
            "$ref": "./examples/VaultCRUD/PutBackupVault.json"
          },
          "Create BackupVault With MSI": {
            "$ref": "./examples/VaultCRUD/PutBackupVaultWithMSI.json"
          }
        },
		"x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Deletes a BackupVault resource from the resource group.",
        "operationId": "BackupVaults_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
			  }
		  }
        },
        "x-ms-examples": {
          "Delete BackupVault": {
            "$ref": "./examples/VaultCRUD/DeleteBackupVault.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/locations/{location}/checkNameAvailability": {
      "post": {
        "tags": [
          "BackupVaults"
        ],
        "summary": "API to check for resource name availability",
        "operationId": "BackupVaults_CheckNameAvailability",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location in which uniqueness will be verified.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Check name availability request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
			  }			
		  }
        },
        "x-ms-examples": {
          "Check BackupVaults name availability": {
            "$ref": "./examples/VaultCRUD/CheckBackupVaultsNameAvailability.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataProtection/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Returns the list of available operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClientDiscoveryResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
			  }			
		  }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink",
          "itemName": "value"
        }
      }
    }
  },
  "definitions": {
    "ClientDiscoveryDisplay": {
      "description": "Localized display information of an operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Name of the provider for display purposes",
          "type": "string"
        },
        "resource": {
          "description": "ResourceType for which this Operation can be performed.",
          "type": "string"
        },
        "operation": {
          "description": "Operations Name itself.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation having details of what operation is about.",
          "type": "string"
        }
      }
    },
    "ClientDiscoveryForLogSpecification": {
      "description": "Class to represent shoebox log specification in json client discovery.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name for shoebox log specification.",
          "type": "string"
        },
        "displayName": {
          "description": "Localized display name",
          "type": "string"
        },
        "blobDuration": {
          "description": "blob duration of shoebox log specification",
          "type": "string"
        }
      }
    },
    "ClientDiscoveryForProperties": {
      "description": "Class to represent shoebox properties in json client discovery.",
      "type": "object",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ClientDiscoveryForServiceSpecification",
          "description": "Operation properties."
        }
      }
    },
    "ClientDiscoveryForServiceSpecification": {
      "description": "Class to represent shoebox service specification in json client discovery.",
      "type": "object",
      "properties": {
        "logSpecifications": {
          "description": "List of log specifications of this operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientDiscoveryForLogSpecification"
          }
        }
      }
    },
    "ClientDiscoveryResponse": {
      "description": "Operations List response which contains list of available APIs.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of available operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientDiscoveryValueForSingleApi"
          }
        },
        "nextLink": {
          "description": "Link to the next chunk of Response.",
          "type": "string"
        }
      }
    },
    "ClientDiscoveryValueForSingleApi": {
      "description": "Available operation details.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Operation.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/ClientDiscoveryDisplay",
          "description": "Contains the localized display information for this particular operation"
        },
        "origin": {
          "description": "The intended executor of the operation;governs the display of the operation in the RBAC UX and the audit logs UX",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/ClientDiscoveryForProperties",
          "description": "Properties for the given operation."
        }
      }
    },
    "BackupVault": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "enum": [
            "Failed",
            "Provisioning",
            "Updating",
            "Succeeded",
            "Unknown"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "storageSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageSetting"
          }
        }
      }
    },
    "BackupVaultResource": {
      "allOf": [
        {
          "$ref": "#/definitions/DppResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/BackupVault",
          "description": "BackupVaultResource properties"
        }
      }
    },
    "BackupVaultResourceList": {
      "description": "List of BackupVault resources",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DppResourceList"
        }
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BackupVaultResource"
          }
        }
      }
    },
    "BaseBackupObject": {
      "type": "object",
      "properties": {
        "objectType": {
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityResult": {
      "type": "object",
      "properties": {
        "nameAvailable": {
          "type": "boolean"
        },
        "reason": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }, 
    "DppIdentityDetails": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "identityUrl": {
          "type": "string",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DppResource": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "#/definitions/DppIdentityDetails"
        },
        "id": {
          "description": "Resource Id represents the complete path to the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name associated with the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Resource location.",
          "type": "string"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "eTag": {
          "description": "Optional ETag.",
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    },
    "DppResourceList": {
      "type": "object",
      "properties": {
        "nextLink": {
          "type": "string"
        }
      }
    },
	"CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/Error"
        }
      },
      "description": "An error response from Azure Backuup."
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "innerError": {
          "$ref": "#/definitions/InnerError"
        }
      }
    },
    "InnerError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "additionalInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "embeddedInnerError": {
          "$ref": "#/definitions/InnerError"
        }
      }
    },
    "OperationExtendedInfo": {
      "required": [
        "objectType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BaseBackupObject"
        }
      ],
      "properties": {
        "objectType": {
          "description": "This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.",
          "type": "string"
        }
      },
      "discriminator": "objectType",
      "x-ms-discriminator-value": "OperationExtendedInfo"
    },
    "OperationJobExtendedInfo": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OperationExtendedInfo"
        }
      ],
      "properties": {
        "jobId": {
          "description": "Arm Id of the job created for this operation.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "OperationJobExtendedInfo"
    },
    "OperationResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "error": {
          "$ref": "#/definitions/Error"
        },
        "startTime": {
          "format": "date-time",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/OperationExtendedInfo"
        }
      }
    },
    "StorageSetting": {
      "type": "object",
      "properties": {
        "datastoreType": {
          "enum": [
            "Invalid",
            "SnapshotStore",
            "VaultStore",
            "ArchiveStore"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DataStoreTypes",
            "modelAsString": true
          }
        },
        "type": {
          "enum": [
            "Invalid",
            "LocallyRedundant",
            "ZonallyRedundant",
            "LocalAndRegionallyRedundant",
            "ZonalAndRegionallyRedundant"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "StorageSettingTypes",
            "modelAsString": true
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription Id.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group where the backup vault is present.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "VaultName": {
      "name": "vaultName",
      "in": "path",
      "description": "The name of the backup vault.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account."
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
