{
  "swagger": "2.0",
  "info": {
    "title": "Cosmos DB",
    "description": "Azure Cosmos DB Database Service Resource Provider REST API",
    "version": "2021-11-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}": {
      "get": {
        "operationId": "DatabaseAccounts_Get",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGet": {
            "$ref": "./examples/CosmosDBDatabaseAccountGet.json"
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The database account properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountGetResults"
            }
          }
        }
      },
      "patch": {
        "operationId": "DatabaseAccounts_Update",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountPatch": {
            "$ref": "./examples/CosmosDBDatabaseAccountPatch.json"
          }
        },
        "description": "Updates the properties of an existing Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "updateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseAccountUpdateParameters"
            },
            "description": "The parameters to provide for the current database account."
          }
        ],
        "responses": {
          "200": {
            "description": "The database account update operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountGetResults"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_CreateOrUpdate",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountCreateMin": {
            "$ref": "./examples/CosmosDBDatabaseAccountCreateMin.json"
          },
          "CosmosDBDatabaseAccountCreateMax": {
            "$ref": "./examples/CosmosDBDatabaseAccountCreateMax.json"
          },
          "CosmosDBRestoreDatabaseAccountCreateUpdate.json": {
            "$ref": "./examples/CosmosDBRestoreDatabaseAccountCreateUpdate.json"
          }
        },
        "description": "Creates or updates an Azure Cosmos DB database account. The \"Update\" method is preferred when performing updates on an account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "createUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseAccountCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current database account."
          }
        ],
        "responses": {
          "200": {
            "description": "The database account create or update operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountGetResults"
            }
          }
        }
      },
      "delete": {
        "operationId": "DatabaseAccounts_Delete",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountDelete": {
            "$ref": "./examples/CosmosDBDatabaseAccountDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The database account delete operation will complete asynchronously."
          },
          "204": {
            "description": "The specified account does not exist in the subscription."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/failoverPriorityChange": {
      "post": {
        "operationId": "DatabaseAccounts_FailoverPriorityChange",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountFailoverPriorityChange": {
            "$ref": "./examples/CosmosDBDatabaseAccountFailoverPriorityChange.json"
          }
        },
        "description": "Changes the failover priority for the Azure Cosmos DB database account. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "failoverParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FailoverPolicies"
            },
            "description": "The new failover policies for the database account."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The failover policy change operation will complete asynchronously."
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts": {
      "get": {
        "operationId": "DatabaseAccounts_List",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountList": {
            "$ref": "./examples/CosmosDBDatabaseAccountList.json"
          }
        },
        "description": "Lists all the Azure Cosmos DB database accounts available under the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts": {
      "get": {
        "operationId": "DatabaseAccounts_ListByResourceGroup",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListByResourceGroup": {
            "$ref": "./examples/CosmosDBDatabaseAccountListByResourceGroup.json"
          }
        },
        "description": "Lists all the Azure Cosmos DB database accounts available under the given resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listKeys": {
      "post": {
        "operationId": "DatabaseAccounts_ListKeys",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListKeys": {
            "$ref": "./examples/CosmosDBDatabaseAccountListKeys.json"
          }
        },
        "description": "Lists the access keys for the specified Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountListKeysResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listConnectionStrings": {
      "post": {
        "operationId": "DatabaseAccounts_ListConnectionStrings",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListConnectionStrings": {
            "$ref": "./examples/CosmosDBDatabaseAccountListConnectionStrings.json"
          },
          "CosmosDBDatabaseAccountListConnectionStringsMongo": {
            "$ref": "./examples/CosmosDBDatabaseAccountListConnectionStringsMongo.json"
          }
        },
        "description": "Lists the connection strings for the specified Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountListConnectionStringsResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/offlineRegion": {
      "post": {
        "operationId": "DatabaseAccounts_OfflineRegion",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountOfflineRegion": {
            "$ref": "./examples/CosmosDBDatabaseAccountOfflineRegion.json"
          }
        },
        "description": "Offline the specified region for the specified Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "regionParameterForOffline",
            "in": "body",
            "required": true,
            "description": "Cosmos DB region to offline for the database account.",
            "schema": {
              "$ref": "#/definitions/RegionForOnlineOffline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The offline region operation is completed successfully."
          },
          "202": {
            "description": "Accepted. The offline region operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/onlineRegion": {
      "post": {
        "operationId": "DatabaseAccounts_OnlineRegion",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountOnlineRegion": {
            "$ref": "./examples/CosmosDBDatabaseAccountOnlineRegion.json"
          }
        },
        "description": "Online the specified region for the specified Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "regionParameterForOnline",
            "in": "body",
            "required": true,
            "description": "Cosmos DB region to online for the database account.",
            "schema": {
              "$ref": "#/definitions/RegionForOnlineOffline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The online region operation is completed successfully."
          },
          "202": {
            "description": "Accepted. The online region operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/readonlykeys": {
      "get": {
        "operationId": "DatabaseAccounts_GetReadOnlyKeys",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListReadOnlyKeys": {
            "$ref": "./examples/CosmosDBDatabaseAccountListReadOnlyKeys.json"
          }
        },
        "description": "Lists the read-only access keys for the specified Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountListReadOnlyKeysResult"
            }
          }
        }
      },
      "post": {
        "operationId": "DatabaseAccounts_ListReadOnlyKeys",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListReadOnlyKeys": {
            "$ref": "./examples/CosmosDBDatabaseAccountListReadOnlyKeys.json"
          }
        },
        "description": "Lists the read-only access keys for the specified Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountListReadOnlyKeysResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/regenerateKey": {
      "post": {
        "operationId": "DatabaseAccounts_RegenerateKey",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegenerateKey": {
            "$ref": "./examples/CosmosDBDatabaseAccountRegenerateKey.json"
          }
        },
        "description": "Regenerates an access key for the specified Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "keyToRegenerate",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseAccountRegenerateKeyParameters"
            },
            "description": "The name of the key to regenerate."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted. The regenerate key operation will complete asynchronously."
          }
        }
      }
    },
    "/providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}": {
      "head": {
        "operationId": "DatabaseAccounts_CheckNameExists",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountCheckNameExists": {
            "$ref": "./examples/CosmosDBDatabaseAccountCheckNameExists.json"
          }
        },
        "description": "Checks that the Azure Cosmos DB account name already exists. A valid account name may contain only lowercase letters, numbers, and the '-' character, and must be between 3 and 50 characters.",
        "parameters": [
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The account name is valid but is already in use."
          },
          "404": {
            "description": "Not Found. The account name is available and valid."
          }
        }
      }
    },
    "/providers/Microsoft.DocumentDB/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Cosmos DB Resource Provider operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "CosmosDBOperationsList": {
            "$ref": "./examples/CosmosDBOperationsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/metrics": {
      "get": {
        "operationId": "DatabaseAccounts_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGetMetrics": {
            "$ref": "./examples/CosmosDBDatabaseAccountGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metrics for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metrics": {
      "get": {
        "operationId": "Database_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseGetMetrics": {
            "$ref": "./examples/CosmosDBDatabaseGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account and database.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metrics for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metrics": {
      "get": {
        "operationId": "Collection_ListMetrics",
        "x-ms-examples": {
          "CosmosDBCollectionGetMetrics": {
            "$ref": "./examples/CosmosDBCollectionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account and collection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metrics for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/metrics": {
      "get": {
        "operationId": "CollectionRegion_ListMetrics",
        "x-ms-examples": {
          "CosmosDBRegionCollectionGetMetrics": {
            "$ref": "./examples/CosmosDBRegionCollectionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account, collection and region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/regionParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metrics for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/metrics": {
      "get": {
        "operationId": "DatabaseAccountRegion_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBDatabaseAccountRegionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account and region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/regionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metrics for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sourceRegion/{sourceRegion}/targetRegion/{targetRegion}/percentile/metrics": {
      "get": {
        "operationId": "PercentileSourceTarget_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPercentileSourceTargetGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given account, source and target region. This url is only for PBS and Replication Latency data",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/sourceRegionParameter"
          },
          {
            "$ref": "#/parameters/targetRegionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The percentile metrics for the account, source and target regions were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PercentileMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/targetRegion/{targetRegion}/percentile/metrics": {
      "get": {
        "operationId": "PercentileTarget_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPercentileTargetGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given account target region. This url is only for PBS and Replication Latency data",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/targetRegionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The percentile metrics for the account and target regions were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PercentileMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/percentile/metrics": {
      "get": {
        "operationId": "Percentile_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPercentileGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account. This url is only for PBS and Replication Latency data",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The percentile metrics for the account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PercentileMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics": {
      "get": {
        "operationId": "CollectionPartitionRegion_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBCollectionPartitionRegionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given collection and region, split by partition.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/regionParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The partition-level metrics for the collection and region were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PartitionMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics": {
      "get": {
        "operationId": "CollectionPartition_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBCollectionPartitionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given collection, split by partition.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The partition-level metrics for the collection were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PartitionMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics": {
      "get": {
        "operationId": "PartitionKeyRangeId_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPKeyRangeIdGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given partition key range id.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/partitionKeyRangeIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The partition-level metrics for the partition key range id were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PartitionMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics": {
      "get": {
        "operationId": "PartitionKeyRangeIdRegion_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPKeyRangeIdRegionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given partition key range id and region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/regionParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/partitionKeyRangeIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The partition-level metrics for the partition key range id and region were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PartitionMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/usages": {
      "get": {
        "operationId": "DatabaseAccounts_ListUsages",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGetUsages": {
            "$ref": "./examples/CosmosDBDatabaseAccountGetUsages.json"
          }
        },
        "description": "Retrieves the usages (most recent data) for the given database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The usages for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/UsagesResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/usages": {
      "get": {
        "operationId": "Database_ListUsages",
        "x-ms-examples": {
          "CosmosDBDatabaseGetUsages": {
            "$ref": "./examples/CosmosDBDatabaseGetUsages.json"
          }
        },
        "description": "Retrieves the usages (most recent data) for the given database.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The usages for the database were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/UsagesResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/usages": {
      "get": {
        "operationId": "Collection_ListUsages",
        "x-ms-examples": {
          "CosmosDBCollectionGetUsages": {
            "$ref": "./examples/CosmosDBCollectionGetUsages.json"
          }
        },
        "description": "Retrieves the usages (most recent storage data) for the given collection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The usages for the collection were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/UsagesResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/usages": {
      "get": {
        "operationId": "CollectionPartition_ListUsages",
        "x-ms-examples": {
          "CosmosDBCollectionGetUsages": {
            "$ref": "./examples/CosmosDBCollectionPartitionGetUsages.json"
          }
        },
        "description": "Retrieves the usages (most recent storage data) for the given collection, split by partition.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The usages for the collection, per partition were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PartitionUsagesResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metricDefinitions": {
      "get": {
        "operationId": "Database_ListMetricDefinitions",
        "x-ms-examples": {
          "CosmosDBDatabaseGetMetricDefinitions": {
            "$ref": "./examples/CosmosDBDatabaseGetMetricDefinitions.json"
          }
        },
        "description": "Retrieves metric definitions for the given database.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metric definitions for the database were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricDefinitionsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metricDefinitions": {
      "get": {
        "operationId": "Collection_ListMetricDefinitions",
        "x-ms-examples": {
          "CosmosDBCollectionGetMetricDefinitions": {
            "$ref": "./examples/CosmosDBCollectionGetMetricDefinitions.json"
          }
        },
        "description": "Retrieves metric definitions for the given collection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metric definitions for the collection were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricDefinitionsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/metricDefinitions": {
      "get": {
        "operationId": "DatabaseAccounts_ListMetricDefinitions",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGetMetricDefinitions": {
            "$ref": "./examples/CosmosDBDatabaseAccountGetMetricDefinitions.json"
          }
        },
        "description": "Retrieves metric definitions for the given database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metric definitions for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricDefinitionsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/graphs": {
      "get": {
        "operationId": "GraphResources_ListGraphs",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseList": {
            "$ref": "./examples/CosmosDBGraphResourceList.json"
          }
        },
        "description": "Lists the graphs under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The graph resource properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/GraphResourcesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/graphs/{graphName}": {
      "get": {
        "operationId": "GraphResources_GetGraph",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseGet": {
            "$ref": "./examples/CosmosDBGraphResourceGet.json"
          }
        },
        "description": "Gets the Graph resource under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/graphResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Graph resource property was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/GraphResourceGetResults"
            }
          }
        }
      },
      "put": {
        "operationId": "GraphResources_CreateUpdateGraph",
        "x-ms-examples": {
          "CosmosDBGraphCreateUpdate": {
            "$ref": "./examples/CosmosDBGraphResourceCreateUpdate.json"
          }
        },
        "description": "Create or update an Azure Cosmos DB Graph.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/graphResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "createUpdateGraphParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GraphResourceCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current graph."
          }
        ],
        "responses": {
          "202": {
            "description": "The graph create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The Graph create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/GraphResourceGetResults"
            }
          }
        }
      },
      "delete": {
        "operationId": "GraphResources_DeleteGraphResource",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseDelete": {
            "$ref": "./examples/CosmosDBGraphResourceDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Graph Resource.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/graphResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The graph delete operation was completed successfully."
          },
          "202": {
            "description": "The graph delete operation will complete asynchronously."
          },
          "204": {
            "description": "The graph delete operation was completed successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases": {
      "get": {
        "operationId": "SqlResources_ListSqlDatabases",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseList": {
            "$ref": "./examples/CosmosDBSqlDatabaseList.json"
          }
        },
        "description": "Lists the SQL databases under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQL database properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/SqlDatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}": {
      "get": {
        "operationId": "SqlResources_GetSqlDatabase",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseGet": {
            "$ref": "./examples/CosmosDBSqlDatabaseGet.json"
          }
        },
        "description": "Gets the SQL database under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQL database property was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/SqlDatabaseGetResults"
            }
          }
        }
      },
      "put": {
        "operationId": "SqlResources_CreateUpdateSqlDatabase",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseCreateUpdate": {
            "$ref": "./examples/CosmosDBSqlDatabaseCreateUpdate.json"
          }
        },
        "description": "Create or update an Azure Cosmos DB SQL database",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "createUpdateSqlDatabaseParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlDatabaseCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current SQL database."
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL database create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The SQL database create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlDatabaseGetResults"
            }
          }
        }
      },
      "delete": {
        "operationId": "SqlResources_DeleteSqlDatabase",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseDelete": {
            "$ref": "./examples/CosmosDBSqlDatabaseDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB SQL database.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL database delete operation will complete asynchronously."
          },
          "204": {
            "description": "The SQL database delete operation was completed successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/throughputSettings/default": {
      "get": {
        "operationId": "SqlResources_GetSqlDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseThroughputGet": {
            "$ref": "./examples/CosmosDBSqlDatabaseThroughputGet.json"
          }
        },
        "description": "Gets the RUs per second of the SQL database under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The RUs per second of the SQL database was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputSettingsGetResults"
            }
          }
        }
      },
      "put": {
        "operationId": "SqlResources_UpdateSqlDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseThroughputUpdate": {
            "$ref": "./examples/CosmosDBSqlDatabaseThroughputUpdate.json"
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB SQL database",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "updateThroughputParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputSettingsUpdateParameters"
            },
            "description": "The parameters to provide for the RUs per second of the current SQL database."
          }
        ],
        "responses": {
          "202": {
            "description": "The RUs per second of the SQL database update operation will complete asynchronously."
          },
          "200": {
            "description": "The RUs per second of the SQL database update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputSettingsGetResults"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/throughputSettings/default/migrateToAutoscale": {
      "post": {
        "operationId": "SqlResources_MigrateSqlDatabaseToAutoscale",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseMigrateToAutoscale": {
            "$ref": "./examples/CosmosDBSqlDatabaseMigrateToAutoscale.json"
          }
        },
        "description": "Migrate an Azure Cosmos DB SQL database from manual throughput to autoscale",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL database migrate operation will complete asynchronously."
          },
          "200": {
            "description": "The SQL database migrate operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputSettingsGetResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/throughputSettings/default/migrateToManualThroughput": {
      "post": {
        "operationId": "SqlResources_MigrateSqlDatabaseToManualThroughput",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseMigrateToManualThroughput": {
            "$ref": "./examples/CosmosDBSqlDatabaseMigrateToManualThroughput.json"
          }
        },
        "description": "Migrate an Azure Cosmos DB SQL database from autoscale to manual throughput",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL database migrate operation will complete asynchronously."
          },
          "200": {
            "description": "The SQL database migrate operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputSettingsGetResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/clientEncryptionKeys": {
      "get": {
        "operationId": "SqlResources_ListClientEncryptionKeys",
        "x-ms-examples": {
          "CosmosDBClientEncryptionKeysList": {
            "$ref": "./examples/CosmosDBSqlClientEncryptionKeysList.json"
          }
        },
        "description": "Lists the ClientEncryptionKeys under an existing Azure Cosmos DB SQL database.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The ClientEncryptionKeys were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ClientEncryptionKeysListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/clientEncryptionKeys/{clientEncryptionKeyName}": {
      "get": {
        "operationId": "SqlResources_GetClientEncryptionKey",
        "x-ms-examples": {
          "CosmosDBClientEncryptionKeyGet": {
            "$ref": "./examples/CosmosDBSqlClientEncryptionKeyGet.json"
          }
        },
        "description": "Gets the ClientEncryptionKey under an existing Azure Cosmos DB SQL database.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/clientEncryptionKeyNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The ClientEncryptionKey was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ClientEncryptionKeyGetResults"
            }
          }
        }
      },
      "put": {
        "operationId": "SqlResources_CreateUpdateClientEncryptionKey",
        "x-ms-examples": {
          "CosmosDBClientEncryptionKeyCreateUpdate": {
            "$ref": "./examples/CosmosDBSqlClientEncryptionKeyCreateUpdate.json"
          }
        },
        "description": "Create or update a ClientEncryptionKey. This API is meant to be invoked via tools such as the Azure Powershell (instead of directly).",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/clientEncryptionKeyNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "createUpdateClientEncryptionKeyParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientEncryptionKeyCreateUpdateParameters"
            },
            "description": "The parameters to provide for the client encryption key."
          }
        ],
        "responses": {
          "202": {
            "description": "The client encryption key create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The client encryption key create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClientEncryptionKeyGetResults"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/containers": {
      "get": {
        "operationId": "SqlResources_ListSqlContainers",
        "x-ms-examples": {
          "CosmosDBSqlContainerList": {
            "$ref": "./examples/CosmosDBSqlContainerList.json"
          }
        },
        "description": "Lists the SQL container under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQL container properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/SqlContainerListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/containers/{containerName}": {
      "get": {
        "operationId": "SqlResources_GetSqlContainer",
        "x-ms-examples": {
          "CosmosDBSqlContainerGet": {
            "$ref": "./examples/CosmosDBSqlContainerGet.json"
          }
        },
        "description": "Gets the SQL container under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQL container property was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/SqlContainerGetResults"
            }
          }
        }
      },
      "put": {
        "operationId": "SqlResources_CreateUpdateSqlContainer",
        "x-ms-examples": {
          "CosmosDBSqlContainerCreateUpdate": {
            "$ref": "./examples/CosmosDBSqlContainerCreateUpdate.json"
          }
        },
        "description": "Create or update an Azure Cosmos DB SQL container",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "createUpdateSqlContainerParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlContainerCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current SQL container."
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL container create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The SQL container create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlContainerGetResults"
            }
          }
        }
      },
      "delete": {
        "operationId": "SqlResources_DeleteSqlContainer",
        "x-ms-examples": {
          "CosmosDBSqlContainerDelete": {
            "$ref": "./examples/CosmosDBSqlContainerDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB SQL container.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL container delete operation will complete asynchronously."
          },
          "204": {
            "description": "The SQL container delete operation was completed successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/containers/{containerName}/throughputSettings/default": {
      "get": {
        "operationId": "SqlResources_GetSqlContainerThroughput",
        "x-ms-examples": {
          "CosmosDBSqlContainerThroughputGet": {
            "$ref": "./examples/CosmosDBSqlContainerThroughputGet.json"
          }
        },
        "description": "Gets the RUs per second of the SQL container under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The RUs per second of the SQL container was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputSettingsGetResults"
            }
          }
        }
      },
      "put": {
        "operationId": "SqlResources_UpdateSqlContainerThroughput",
        "x-ms-examples": {
          "CosmosDBSqlContainerThroughputUpdate": {
            "$ref": "./examples/CosmosDBSqlContainerThroughputUpdate.json"
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB SQL container",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "updateThroughputParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputSettingsUpdateParameters"
            },
            "description": "The parameters to provide for the RUs per second of the current SQL container."
          }
        ],
        "responses": {
          "202": {
            "description": "The RUs per second of the SQL container update operation will complete asynchronously."
          },
          "200": {
            "description": "The RUs per second of the SQL container update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputSettingsGetResults"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/containers/{containerName}/throughputSettings/default/migrateToAutoscale": {
      "post": {
        "operationId": "SqlResources_MigrateSqlContainerToAutoscale",
        "x-ms-examples": {
          "CosmosDBSqlContainerMigrateToAutoscale": {
            "$ref": "./examples/CosmosDBSqlContainerMigrateToAutoscale.json"
          }
        },
        "description": "Migrate an Azure Cosmos DB SQL container from manual throughput to autoscale",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL container migrate operation will complete asynchronously."
          },
          "200": {
            "description": "The SQL container migrate operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputSettingsGetResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/containers/{containerName}/throughputSettings/default/migrateToManualThroughput": {
      "post": {
        "operationId": "SqlResources_MigrateSqlContainerToManualThroughput",
        "x-ms-examples": {
          "CosmosDBSqlContainerMigrateToManualThroughput": {
            "$ref": "./examples/CosmosDBSqlContainerMigrateToManualThroughput.json"
          }
        },
        "description": "Migrate an Azure Cosmos DB SQL container from autoscale to manual throughput",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL container migrate operation will complete asynchronously."
          },
          "200": {
            "description": "The SQL container migrate operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputSettingsGetResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/containers/{containerName}/storedProcedures": {
      "get": {
        "operationId": "SqlResources_ListSqlStoredProcedures",
        "x-ms-examples": {
          "CosmosDBSqlStoredProcedureList": {
            "$ref": "./examples/CosmosDBSqlStoredProcedureList.json"
          }
        },
        "description": "Lists the SQL storedProcedure under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQL stored procedure properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/SqlStoredProcedureListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/containers/{containerName}/storedProcedures/{storedProcedureName}": {
      "get": {
        "operationId": "SqlResources_GetSqlStoredProcedure",
        "x-ms-examples": {
          "CosmosDBSqlStoredProcedureGet": {
            "$ref": "./examples/CosmosDBSqlStoredProcedureGet.json"
          }
        },
        "description": "Gets the SQL storedProcedure under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "#/parameters/storedProcedureNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQL storedProcedure property was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/SqlStoredProcedureGetResults"
            }
          }
        }
      },
      "put": {
        "operationId": "SqlResources_CreateUpdateSqlStoredProcedure",
        "x-ms-examples": {
          "CosmosDBSqlStoredProcedureCreateUpdate": {
            "$ref": "./examples/CosmosDBSqlStoredProcedureCreateUpdate.json"
          }
        },
        "description": "Create or update an Azure Cosmos DB SQL storedProcedure",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "#/parameters/storedProcedureNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "createUpdateSqlStoredProcedureParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlStoredProcedureCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current SQL storedProcedure."
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL storedProcedure create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The SQL storedProcedure create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlStoredProcedureGetResults"
            }
          }
        }
      },
      "delete": {
        "operationId": "SqlResources_DeleteSqlStoredProcedure",
        "x-ms-examples": {
          "CosmosDBSqlStoredProcedureDelete": {
            "$ref": "./examples/CosmosDBSqlStoredProcedureDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB SQL storedProcedure.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "#/parameters/storedProcedureNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL storedProcedure delete operation will complete asynchronously."
          },
          "204": {
            "description": "The SQL storedProcedure delete operation was completed successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/containers/{containerName}/userDefinedFunctions": {
      "get": {
        "operationId": "SqlResources_ListSqlUserDefinedFunctions",
        "x-ms-examples": {
          "CosmosDBSqlUserDefinedFunctionList": {
            "$ref": "./examples/CosmosDBSqlUserDefinedFunctionList.json"
          }
        },
        "description": "Lists the SQL userDefinedFunction under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
[...]
