{
  "swagger": "2.0",
  "info": {
    "title": "SingularityManagementClient",
    "version": "2020-12-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/accountQuotaPolicies/{policyName}": {
      "put": {
        "tags": [
          "AccountQuotaPolicyResource"
        ],
        "summary": "Creates or updates an account quota policy resource.",
        "description": "Creates an account resource with the specified name, description and properties. If an account resource with the same name exists, then it is updated with the specified description and properties. Currently the only supported policy name is 'AccountQuotaPolicy' ",
        "operationId": "AccountQuotaPolicy_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/policyNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity AccountQuotaPolicy information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountQuotaPolicyResourceDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountQuotaPolicyResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AccountQuotaPolicyResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AccountQuotaPolicyCreateOrUpdate": {
            "$ref": "./examples/accounts/accountQuotaPolicies/createorupdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AccountQuotaPolicyResource"
        ],
        "summary": "Updates an account quota policy resource.",
        "description": "If an account resource with the same name exists, then it is updated with the specified description and properties. Currently the only supported policy name is 'AccountQuotaPolicy' ",
        "operationId": "AccountQuotaPolicy_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/policyNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity AccountQuotaPolicy information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountQuotaPolicyResourcePatchDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountQuotaPolicyResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AccountQuotaPolicyResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AccountQuotaPolicyUpdate": {
            "$ref": "./examples/accounts/accountQuotaPolicies/update.json"
          }
        }
      },
      "get": {
        "tags": [
          "AccountQuotaPolicyResource"
        ],
        "summary": "Gets the account quota policy resource with the given name.",
        "description": "Gets the information about the account quota policy resource with the given name. The information include the description and other properties of the account quota policy.",
        "operationId": "AccountQuotaPolicy_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/policyNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountQuotaPolicyResourceDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-examples": {
          "AccountQuotaPolicyGet": {
            "$ref": "./examples/accounts/accountQuotaPolicies/get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/accountQuotaPolicies": {
      "get": {
        "tags": [
          "AccountQuotaPolicyResource"
        ],
        "summary": "Gets all the account quota policy resources in a given account.",
        "description": "Gets the information about all account quota policy resources in a given account. The information include the description and other properties of the account quota policy.",
        "operationId": "AccountQuotaPolicy_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/continuationTokenRequiredQueryParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountQuotaPolicyResourceDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AccountQuotaPolicyListByAccount": {
            "$ref": "./examples/accounts/accountQuotaPolicies/listbyaccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}": {
      "put": {
        "tags": [
          "AccountResource"
        ],
        "summary": "Creates or updates an account resource.",
        "description": "Creates an account resource with the specified name, description and properties. If an account resource with the same name exists, then it is updated with the specified description and properties.",
        "operationId": "Account_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity account information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountResourceDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AccountResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AccountCreateOrUpdate": {
            "$ref": "./examples/accounts/createorupdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AccountResource"
        ],
        "summary": "Updates an account resource.",
        "description": "If an account resource with the same name exists, then it is updated with the specified description and properties.",
        "operationId": "Account_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity account information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountResourcePatchDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AccountResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AccountUpdate": {
            "$ref": "./examples/accounts/update.json"
          }
        }
      },
      "get": {
        "tags": [
          "AccountResource"
        ],
        "summary": "Gets the account resource with the given name.",
        "description": "Gets the information about the account resource with the given name. The information include the description and other properties of the account.",
        "operationId": "Account_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountResourceDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-examples": {
          "AccountGet": {
            "$ref": "./examples/accounts/get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AccountResource"
        ],
        "summary": "Deletes the account resource.",
        "description": "Deletes the account resource identified by the name.",
        "operationId": "Account_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AccountDelete": {
            "$ref": "./examples/accounts/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts": {
      "get": {
        "tags": [
          "AccountResource"
        ],
        "summary": "Gets all the account resources in a given resource group.",
        "description": "Gets the information about all account resources in a given resource group. The information include the description and other properties of the Account.",
        "operationId": "Account_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountResourceDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AccountListByResourceGroup": {
            "$ref": "./examples/accounts/listbyresourcegroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Singularity/accounts": {
      "get": {
        "tags": [
          "AccountResource"
        ],
        "summary": "Gets all the account resources in a given subscription.",
        "description": "Gets the information about all account resources in a given subscription. The information include the description and other properties of the account.",
        "operationId": "Account_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountResourceDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AccountListBySubscription": {
            "$ref": "./examples/accounts/listbysubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/groupPolicies/{policyName}": {
      "put": {
        "tags": [
          "GroupPolicyResource"
        ],
        "summary": "Creates or updates a group policy resource.",
        "description": "Creates a group policy resource with the specified name, description and properties. If a resource with the same name exists, then it is updated with the specified description and properties.",
        "operationId": "GroupPolicy_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/policyNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity group policy quota limit information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupPolicyResourceDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GroupPolicyResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GroupPolicyResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GroupPolicyCreateOrUpdate": {
            "$ref": "./examples/accounts/groupPolicies/createorupdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "GroupPolicyResource"
        ],
        "summary": "Updates a group policy resource.",
        "description": "If a resource with the same name exists, then it is updated with the specified description and properties.",
        "operationId": "GroupPolicy_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/policyNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity group policy quota limit information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupPolicyResourcePatchDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GroupPolicyResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GroupPolicyResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GroupPolicyUpdate": {
            "$ref": "./examples/accounts/groupPolicies/update.json"
          }
        }
      },
      "get": {
        "tags": [
          "GroupPolicyResource"
        ],
        "summary": "Gets a group policy resource.",
        "description": "Get a group policy resource with the specified name. The information include the description and other properties of the resource.",
        "operationId": "GroupPolicy_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/policyNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GroupPolicyResourceDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-examples": {
          "GroupPolicyGet": {
            "$ref": "./examples/accounts/groupPolicies/get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "GroupPolicyResource"
        ],
        "summary": "Deletes a group policy resource.",
        "description": "Deletes a group policy resource with the specified name.",
        "operationId": "GroupPolicy_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/policyNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GroupPolicyDelete": {
            "$ref": "./examples/accounts/groupPolicies/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/groupPolicies": {
      "get": {
        "tags": [
          "GroupPolicyResource"
        ],
        "summary": "Lists all group policy resources in an account.",
        "description": "Get all group policy resources in an account. The information include the description and other properties of the resource.",
        "operationId": "GroupPolicy_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/continuationTokenRequiredQueryParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GroupPolicyResourceDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GroupPolicyListByAccount": {
            "$ref": "./examples/accounts/groupPolicies/listbyaccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Singularity/images": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "List available Singularity container images.",
        "description": "List all the available Singularity container images.",
        "operationId": "Images_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailablePlatformImageDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ImagesList": {
            "$ref": "./examples/list.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Singularity/locations/{location}/instanceTypeSeries": {
      "get": {
        "tags": [
          "InstanceTypeSeries"
        ],
        "summary": "List available Singularity instance type series.",
        "description": "List all the available instance type series for the location.",
        "operationId": "InstanceTypeSeries_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/locationRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailableInstanceTypeSeriesDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "InstanceTypeSeriesList": {
            "$ref": "./examples/instancetypeseries/list.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Singularity/locations/{location}/instanceTypeSeries/{instanceTypeSeriesId}/instanceTypes": {
      "get": {
        "tags": [
          "InstanceTypeSeries"
        ],
        "summary": "List available Singularity instance types.",
        "description": "List all the available instance types for the instance type series.",
        "operationId": "InstanceTypeSeries_ListInstanceType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/locationRequiredPathParam"
          },
          {
            "$ref": "#/parameters/instanceTypeSeriesIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailableInstanceTypeDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "InstanceTypeSeriesListInstanceType": {
            "$ref": "./examples/instancetypeseries/listinstancetype.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/jobs/{jobName}": {
      "put": {
        "tags": [
          "JobResource"
        ],
        "summary": "Creates or updates a job resource.",
        "description": "Creates a job resource with the specified name, description and properties. If a job with the same name exists, then it is updated with the specified description and properties.",
        "operationId": "Job_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity job information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobResourceDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/JobResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobCreateOrUpdate": {
            "$ref": "./examples/accounts/jobs/createorupdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "JobResource"
        ],
        "summary": "Updates a job resource.",
        "description": "Updates a job resource with the specified properties. If a job with the same name exists, then it is updated with the specified properties. If a job doesn't exist, then a no-content exception will be thrown",
        "operationId": "Job_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity job information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobResourcePatchDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobResourceDescription"
            }
          },
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobUpdate": {
            "$ref": "./examples/accounts/jobs/update.json"
          }
        }
      },
      "get": {
        "tags": [
          "JobResource"
        ],
        "summary": "Gets the job resource with the given name.",
        "description": "Gets the information about the job resource with the given name. The information include the description and other properties of the job.",
        "operationId": "Job_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobResourceDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-examples": {
          "JobGet": {
            "$ref": "./examples/accounts/jobs/get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "JobResource"
        ],
        "summary": "Deletes the job resource.",
        "description": "Deletes the job resource identified by the name.",
        "operationId": "Job_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobDelete": {
            "$ref": "./examples/accounts/jobs/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/jobs/{jobName}/approve": {
      "post": {
        "tags": [
          "JobResource"
        ],
        "summary": "Admin Quota approval for Job.",
        "description": "This action can be used by the account admin to approve a job manually, which is otherwise blocked by insufficient user-level quota (represented by Group Policy).",
        "operationId": "Job_Approve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/JobUserActionDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobApprove": {
            "$ref": "./examples/accounts/jobs/approve.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/jobs/{jobName}/createsastoken": {
      "post": {
        "tags": [
          "JobResource"
        ],
        "summary": "Creates SAS token to access job resource.",
        "description": "Creates a Shared Access Signature (SAS) token, that can be used for accessing job resource with the protocol specified in the description.",
        "operationId": "Job_CreateSasToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity job Shared Access Signature (SAS) token information.",
            "schema": {
              "$ref": "#/definitions/JobSasTokenDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobSasTokenDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/JobSasTokenDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobCreateSasToken": {
            "$ref": "./examples/accounts/jobs/createsastoken.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/jobs/{jobName}/renewkey": {
      "post": {
        "tags": [
          "JobResource"
        ],
        "summary": "Renews to the signing key for the job.",
        "description": "Renews to the Shared Access Signature (SAS) token singining key for the job. It invalidates all tokens generated prior to key rotation",
        "operationId": "Job_RenewKey",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobSasTokenDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/JobSasTokenDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-examples": {
          "JobRenewKey": {
            "$ref": "./examples/accounts/jobs/renewkey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/jobs/{jobName}/suspend": {
      "post": {
        "tags": [
          "JobResource"
        ],
        "summary": "Suspends the running job.",
        "description": "Suspending a job will stop the current execution and release any resources and quota reservations. The job will remain in the Suspended state until resumed or deleted.",
        "operationId": "Job_Suspend",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/JobUserActionDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobSuspend": {
            "$ref": "./examples/accounts/jobs/suspend.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/jobs/{jobName}/resume": {
      "post": {
        "tags": [
          "JobResource"
        ],
        "summary": "Resumes the paused job.",
        "description": "Resuming a paused job will attempt to return the job into the running state by reserving quota and scheduling execution.",
        "operationId": "Job_Resume",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/JobUserActionDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobResume": {
            "$ref": "./examples/accounts/jobs/resume.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/jobs/{jobName}/cancel": {
      "post": {
        "tags": [
          "JobResource"
        ],
        "summary": "Cancel the job resource.",
        "description": "Cancel the job operation without deleting the resource.",
        "operationId": "Job_Cancel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/JobUserActionDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobCancel": {
            "$ref": "./examples/accounts/jobs/cancel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/jobs": {
      "get": {
        "tags": [
          "JobResource"
        ],
        "summary": "Gets all the job resources in a given account.",
        "description": "Gets the information about all the job resources in a given account. The information include the description and other properties of the job.",
        "operationId": "Job_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/continuationTokenRequiredQueryParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobResourceDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "JobListByAccount": {
            "$ref": "./examples/accounts/jobs/listbyaccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/jobs/{jobName}/remove": {
      "post": {
        "tags": [
          "JobResource"
        ],
        "summary": "Delete the job resource through remove action.",
        "description": "Remove job operation is used to delete a job that is associated with a group policy.",
        "operationId": "Job_Remove",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/jobNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/JobUserActionDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobRemove": {
            "$ref": "./examples/accounts/jobs/remove.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/models/{modelName}": {
      "put": {
        "tags": [
          "ModelResource"
        ],
        "summary": "Creates or updates a model resource.",
        "description": "Creates a model resource with the specified name, description and properties. If a model with the same name exists, then it is updated with the specified description and properties.",
        "operationId": "Model_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/modelNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity model information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModelResourceDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ModelResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ModelCreateOrUpdate": {
            "$ref": "./examples/accounts/models/createorupdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ModelResource"
        ],
        "summary": "Updates a model resource.",
        "description": "Updates a model resource with the specified name, description and properties. If a model with the same name exists, then it is updated with the specified description and properties.",
        "operationId": "Model_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/modelNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity model information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModelResourcePatchDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ModelResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ModelUpdate": {
            "$ref": "./examples/accounts/models/update.json"
          }
        }
      },
      "get": {
        "tags": [
          "ModelResource"
        ],
        "summary": "Gets the model resource with the given name.",
        "description": "Gets the information about the model resource with the given name. The information include the description and other properties of the model.",
        "operationId": "Model_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/modelNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelResourceDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-examples": {
          "ModelGet": {
            "$ref": "./examples/accounts/models/get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ModelResource"
        ],
        "summary": "Deletes the model resource.",
        "description": "Deletes the model resource identified by the name.",
        "operationId": "Model_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/modelNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ModelDelete": {
            "$ref": "./examples/accounts/models/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/models": {
      "get": {
        "tags": [
          "ModelResource"
        ],
        "summary": "Gets all the model resources in a given account.",
        "description": "Gets the information about all the model resources in a given account. The information include the description and other properties of the model.",
        "operationId": "Model_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/continuationTokenRequiredQueryParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelResourceDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ModelListByAccount": {
            "$ref": "./examples/accounts/models/listbyaccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/models/{modelName}/validate": {
      "post": {
        "tags": [
          "ModelResource"
        ],
        "summary": "Validates a model resource.",
        "description": "Checks if the model resource properties are valid",
        "operationId": "Model_Validate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/modelNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity model information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModelResourceDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ModelValidate": {
            "$ref": "./examples/accounts/models/validate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/networks/{networkResourceName}": {
      "put": {
        "tags": [
          "NetworkResource"
        ],
        "summary": "Creates or updates a network resource.",
        "description": "Creates a network resource with the specified name and properties. If a network resource with the same name exists, then it is updated with the specified properties.",
        "operationId": "Network_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/networkResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity network information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkResourceDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NetworkResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "NetworkCreateOrUpdate": {
            "$ref": "./examples/accounts/createorupdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkResource"
        ],
        "summary": "Updates a network resource.",
        "description": "If a network resource with the same name exists, then it is updated with the specified properties.",
        "operationId": "Network_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/networkResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity network information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkResourceDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NetworkResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "NetworkUpdate": {
            "$ref": "./examples/accounts/update.json"
          }
        }
      },
      "get": {
        "tags": [
          "NetworkResource"
        ],
        "summary": "Gets a network resource.",
        "description": "Gets information about the network resource with the given name.",
        "operationId": "Network_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/networkResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkResourceDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-examples": {
          "NetworkGet": {
            "$ref": "./examples/accounts/get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkResource"
        ],
        "summary": "Deletes the network resource.",
        "description": "Deletes the network resource identified by the name.",
        "operationId": "Network_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/networkResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "NetworkDelete": {
            "$ref": "./examples/accounts/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/networks": {
      "get": {
        "tags": [
          "NetworkResource"
        ],
        "summary": "Gets all the network resources in a given account.",
        "description": "Gets information about all network resources in a given account.",
        "operationId": "Network_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/continuationTokenRequiredQueryParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkResourceDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NetworkListByAccount": {
            "$ref": "./examples/accounts/listbyaccount.json"
          }
        }
      }
    },
    "/providers/Microsoft.Singularity/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "List available Singularity operations.",
        "description": "List available Singularity operations.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/storagecontainers/{storageCacheResourceName}": {
      "put": {
        "tags": [
          "StorageContainerResource"
        ],
        "summary": "Creates or updates a storage cache resource.",
        "description": "Creates a storage cache resource with the specified name and properties. If a storage cache resource with the same name exists, then it is updated with the specified properties.",
        "operationId": "StorageCache_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/storageCacheResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity storage cache information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "StorageCacheCreateOrUpdate": {
            "$ref": "./examples/accounts/storagecontainers/createorupdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "StorageContainerResource"
        ],
        "summary": "Updates a storage cache resource.",
        "description": "If a storage cache resource with the same name exists, then it is updated with the specified properties.",
        "operationId": "StorageCache_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/storageCacheResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Singularity storage cache information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDescription"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "StorageCacheUpdate": {
            "$ref": "./examples/accounts/storagecontainers/update.json"
          }
        }
      },
      "get": {
        "tags": [
          "StorageContainerResource"
        ],
        "summary": "Gets a storage cache resource.",
        "description": "Gets information about the storage cache resource with the given name.",
        "operationId": "StorageCache_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/storageCacheResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-examples": {
          "StorageCacheGet": {
            "$ref": "./examples/accounts/storagecontainers/get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "StorageContainerResource"
        ],
        "summary": "Deletes the storage cache resource.",
        "description": "Deletes the storage cache resource identified by the name.",
        "operationId": "StorageCache_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/storageCacheResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "StorageCacheDelete": {
            "$ref": "./examples/accounts/storagecontainers/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/storagecontainers/{storageCacheResourceName}/diagnostics": {
      "get": {
        "tags": [
          "StorageContainerResource"
        ],
        "summary": "Gets diagnostics for a storage cache resource.",
        "description": "Gets diagnostic information about the storage cache resource with the given name.",
        "operationId": "StorageCache_GetDiagnostics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/storageCacheResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDiagnosticsInfo"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-examples": {
          "StorageCacheGetDiagnostics": {
            "$ref": "./examples/accounts/storagecontainers/getdiagnostics.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/storagecontainers": {
      "get": {
        "tags": [
          "StorageContainerResource"
        ],
        "summary": "Gets all the storage cache resources in a given account.",
        "description": "Gets information about all storage cache resources in a given account.",
        "operationId": "StorageCache_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/continuationTokenRequiredQueryParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDescriptionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "StorageCacheListByAccount": {
            "$ref": "./examples/accounts/storagecontainers/listbyaccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/storagecontainers/{storageCacheResourceName}/resume": {
      "post": {
        "tags": [
          "StorageContainerResource"
        ],
        "summary": "Resumes the storage cache resource.",
        "description": "Resumes the storage cache resource identified by the name.",
        "operationId": "StorageCache_Resume",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/storageCacheResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "StorageCacheResume": {
            "$ref": "./examples/accounts/storagecontainers/resume.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/storagecontainers/{storageCacheResourceName}/suspend": {
      "post": {
        "tags": [
          "StorageContainerResource"
        ],
        "summary": "Suspends the storage cache resource.",
        "description": "Suspends the storage cache resource identified by the name.",
        "operationId": "StorageCache_Suspend",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/resourceGroupNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/accountNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/storageCacheResourceNameRequiredPathParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StorageCacheResourceDescription"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "StorageCacheSuspend": {
            "$ref": "./examples/accounts/storagecontainers/suspend.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Singularity/quotas": {
      "get": {
        "tags": [
          "SubscriptionQuota"
        ],
        "summary": "Gets the subscription quota details for the given subscriptionId",
        "description": "Gets the information about the subscriptions quota resource with the given subscriptionId. The information includes subscription level quota allocation and usage for each InstanceTypeSeries and SLA tier.",
        "operationId": "SubscriptionQuota_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdRequiredPathParam"
          },
          {
            "$ref": "#/parameters/ownerSubscriptionIdRequiredQueryParam"
          },
          {
            "$ref": "#/parameters/api-versionRequiredQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InstanceTypeSeriesQuotaList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-examples": {
          "SubscriptionQuotaGet": {
            "$ref": "./examples/get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "enum": [
        "Succeeded",
        "Failed",
        "Creating",
        "Updating",
        "Suspending",
        "Resuming",
        "Canceling",
        "Deleting"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "PolicyStatus": {
      "enum": [
        "Creating",
        "Created",
        "Updating",
        "Deleting",
        "Failed"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "PolicyStatus",
        "modelAsString": true
      }
    },
    "SlaTier": {
      "enum": [
        "Premium",
        "Standard",
        "Basic"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SlaTier",
        "modelAsString": true
      }
    },
    "InstanceTypeSeriesQuota": {
      "description": "Describes the quota for the InstanceType series.",
      "required": [
        "id",
        "limit"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier for instance type series quota.",
          "type": "string"
        },
        "name": {
          "description": "User friendly description for the instance type series.",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "slaTier": {
          "$ref": "#/definitions/SlaTier"
        },
        "limit": {
          "format": "int64",
          "description": "Maximum allowed units for the instance type series.",
          "type": "integer"
        },
        "used": {
          "format": "int64",
          "description": "Number of units currently in use.",
          "type": "integer",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        }
      }
    },
    "AccountQuotaPolicyProperties": {
      "description": "Describes properties of AccountQuotaPolicy resource.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "status": {
          "$ref": "#/definitions/PolicyStatus"
        },
        "description": {
          "description": "User-friendly description of an AccountQuotaPolicy.",
          "type": "string"
        },
        "quotas": {
          "description": "A list of quota policy per instance type series.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstanceTypeSeriesQuota"
          }
        }
      }
    },
    "ResourceSystemData": {
      "type": "object",
      "properties": {
        "createdBy": {
          "description": "A string identifier for the identity that created the resource.",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "createdByType": {
          "description": "The type of identity that created the resource: user, application, managedIdentity, key.",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "createdAt": {
          "description": "The timestamp of resource creation (UTC).",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "lastModifiedBy": {
          "description": "A string identifier for the identity that last modified the resource",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "lastModifiedByType": {
          "description": "The type of identity that last modified the resource: user, application, managedIdentity, key.",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "lastModifiedAt": {
          "description": "The timestamp of resource last modification (UTC).",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        }
      }
    },
    "Resource": {
      "description": "The resource model definition for Azure Resource Manager resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Fully qualified identifier for the resource. For example, `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}`",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "name": {
          "description": "The name of the resource",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "type": {
          "description": "The type of the resource. For example, `Microsoft.Compute/virtualMachines` or `Microsoft.Storage/storageAccounts`.",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "systemData": {
          "$ref": "#/definitions/ResourceSystemData"
        }
      },
      "x-ms-azure-resource": true
    },
    "AccountQuotaPolicyResourceDescription": {
      "description": "Describes an account quota policy resource in Singularity.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "allOf": [
            {
              "$ref": "#/definitions/AccountQuotaPolicyProperties"
            }
          ],
          "x-ms-client-flatten": true
        }
      }
    },
    "AccountQuotaPolicyPatchProperties": {
      "description": "Describes all properties which can be updated for a Singularity account quota policy resource.",
      "type": "object",
      "properties": {
        "description": {
          "description": "User-friendly description of an AccountQuotaPolicy.",
          "type": "string"
        },
        "quotas": {
          "description": "A list of quota policy per instance type series.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstanceTypeSeriesQuota"
          }
        }
      }
    },
    "AccountQuotaPolicyResourcePatchDescription": {
      "description": "Describes all properties which can be updated for a Singularity account quota policy resource.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "allOf": [
            {
              "$ref": "#/definitions/AccountQuotaPolicyPatchProperties"
            }
          ],
          "x-ms-client-flatten": true
        }
      }
    },
    "AccountQuotaPolicyResourceDescriptionList": {
      "description": "A pageable list of AccountQuotaPolicy resources.",
      "type": "object",
      "properties": {
        "value": {
          "description": "One page of the list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountQuotaPolicyResourceDescription"
          },
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "nextLink": {
          "description": "URI to fetch the next page of the list.",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        }
      }
    },
    "AccountStatus": {
      "enum": [
        "Creating",
        "Created",
        "Updating",
        "Deleting",
        "Failed"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "AccountStatus",
        "modelAsString": true
      }
    },
    "IdleResourcesHandlingMode": {
      "enum": [
        "AutoSuspend",
        "AutoDelete"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "IdleResourcesHandlingMode",
        "modelAsString": true
      }
    },
    "IdleResourcesHandlingPolicy": {
      "description": "Describes the properties of idle resources handling policy.",
      "type": "object",
      "properties": {
        "idleResourcesHandlingMode": {
          "$ref": "#/definitions/IdleResourcesHandlingMode"
        }
      }
    },
    "AccountLocation": {
      "description": "Describes the properties of an Account location resource.",
      "required": [
        "failoverPriority",
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the account location.",
          "type": "string"
        },
        "failoverPriority": {
          "format": "int32",
          "description": "The failover priority of the location. Failover priority values must be unique for each of the locations associated with the account.",
          "maximum": 2147483647,
          "minimum": 1,
          "type": "integer"
        },
        "isZoneRedundant": {
          "description": "Indicates whether or not this location has AvailabilityZone enabled.",
          "type": "boolean",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        }
      }
    },
    "NetworkSettings": {
      "description": "Describes the network settings for the account.",
      "type": "object",
      "properties": {
        "subnetId": {
          "description": "The resource id of the delegated subnet.",
          "type": "string"
        }
      }
    },
    "AccountProperties": {
      "description": "Describes the properties of an Account resource.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "description": {
          "description": "User-friendly description of an account.",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/AccountStatus"
        },
        "idleResourcesHandlingPolicy": {
          "$ref": "#/definitions/IdleResourcesHandlingPolicy"
        },
        "statusDetails": {
[...]
