{
  "swagger": "2.0",
  "info": {
    "title": "MPCPro Ingestion and Management API",
    "version": "2025-04-30-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "contoso-catalog.gwhqfdeddydpareu.uksouth.geocatalog.spatio.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "OAuth2Auth": [
        "https://geocatalog.spatio.azure.com/.default"
      ]
    }
  ],
  "securityDefinitions": {
    "OAuth2Auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "https://geocatalog.spatio.azure.com/.default": ""
      }
    }
  },
  "tags": [
    {
      "name": "Ingestion Management"
    },
    {
      "name": "SpatioTemporal Asset Catalog (STAC) API"
    },
    {
      "name": "Ingestion Sources"
    },
    {
      "name": "STAC Collection Configuration"
    },
    {
      "name": "GeoCatalog Instance Configuration"
    },
    {
      "name": "Image Exports for STAC Collections"
    },
    {
      "name": "Tiles for STAC Items"
    },
    {
      "name": "Map Legends"
    },
    {
      "name": "Tiles for STAC Collections Mosaics"
    },
    {
      "name": "Tile Matrix Sets"
    },
    {
      "name": "Shared Access Signature (SAS) Tokens to use with Azure SDKs"
    },
    {
      "name": "Sign an HREF for read access"
    }
  ],
  "paths": {
    "/data/collections/{collectionId}/image/static": {
      "post": {
        "operationId": "TilerStaticImages_Create",
        "tags": [
          "Image Exports for STAC Collections"
        ],
        "summary": "Create Static Image",
        "description": "Create a new image export.",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/jpg",
          "image/webp",
          "image/jp2",
          "image/tiff; application=geotiff",
          "application/x-binary",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection ID",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Image request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return an image.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerStaticImages_Create": {
            "$ref": "./examples/TilerStaticImages_Create.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/image/static/{id}": {
      "get": {
        "operationId": "TilerStaticImages_Get",
        "tags": [
          "Image Exports for STAC Collections"
        ],
        "summary": "Get Static Image",
        "description": "Fetch an existing image export by ID",
        "produces": [
          "image/png",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection ID",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Image export ID",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          }
        ],
        "responses": {
          "200": {
            "description": "Return an image.",
            "schema": {
              "type": "file"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerStaticImages_Get": {
            "$ref": "./examples/TilerStaticImages_Get.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/{tileMatrixSetId}/WMTSCapabilities.xml": {
      "get": {
        "operationId": "TilerWmtsTileMatrixSets_GetCapabilitiesXml",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Wmts Tilematrixsetid As Path",
        "description": "OGC WMTS endpoint.",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithm"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithmParams"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "tileMatrixSetId",
            "in": "path",
            "description": "Identifier selecting one of the TileMatrixSetId supported",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "tile_format",
            "in": "query",
            "description": "Output image type. Default is png.",
            "required": false,
            "type": "string",
            "default": "png",
            "enum": [
              "png",
              "npy",
              "tif",
              "jpeg",
              "jpg",
              "jp2",
              "webp",
              "pngraw"
            ],
            "x-ms-enum": {
              "name": "ImageType",
              "modelAsString": true,
              "values": [
                {
                  "name": "png",
                  "value": "png",
                  "description": "Portable Network Graphics format - supports transparency"
                },
                {
                  "name": "npy",
                  "value": "npy",
                  "description": "NumPy array format for raw data access"
                },
                {
                  "name": "tif",
                  "value": "tif",
                  "description": "GeoTIFF format for georeferenced raster data"
                },
                {
                  "name": "jpeg",
                  "value": "jpeg",
                  "description": "JPEG format - smaller file size but lossy compression"
                },
                {
                  "name": "jpg",
                  "value": "jpg",
                  "description": "Alternate extension for JPEG format"
                },
                {
                  "name": "jp2",
                  "value": "jp2",
                  "description": "JPEG 2000 format - supports both lossy and lossless compression"
                },
                {
                  "name": "webp",
                  "value": "webp",
                  "description": "WebP format - modern image format with good compression"
                },
                {
                  "name": "pngraw",
                  "value": "pngraw",
                  "description": "Raw PNG format for access to unprocessed data"
                }
              ]
            },
            "x-ms-client-name": "tileFormat"
          },
          {
            "name": "tile_scale",
            "in": "query",
            "description": "Tile scale factor affecting output size. Values > 1 produce larger tiles (e.g., 1=256x256, 2=512x512).",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1,
            "x-ms-client-name": "tileScale"
          },
          {
            "$ref": "#/parameters/ZoomQueryParameters.minzoom"
          },
          {
            "$ref": "#/parameters/ZoomQueryParameters.maxzoom"
          },
          {
            "$ref": "#/parameters/TileMatrixSetQueryParameters.buffer"
          },
          {
            "$ref": "#/parameters/TileMatrixSetQueryParameters.colorFormula"
          },
          {
            "$ref": "#/parameters/TileMatrixSetQueryParameters.resampling"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.rescale"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormapName"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormap"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.returnMask"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerWmtsTileMatrixSets_GetCapabilitiesXml": {
            "$ref": "./examples/TilerWmtsTileMatrixSets_GetCapabilitiesXml.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/{tileMatrixSetId}/tilejson.json": {
      "get": {
        "operationId": "TilerTileJsonTileMatrixSets_Get",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Tilejson Tilematrixsetid As Path",
        "description": "Return the Tilejson Tilematrixsetid As a path",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithm"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithmParams"
          },
          {
            "name": "tileMatrixSetId",
            "in": "path",
            "description": "Identifier selecting one of the TileMatrixSetId supported",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "tile_format",
            "in": "query",
            "description": "Default will be automatically defined if the output image needs a mask (png) or\nnot (jpeg).",
            "required": false,
            "type": "string",
            "enum": [
              "png",
              "npy",
              "tif",
              "jpeg",
              "jpg",
              "jp2",
              "webp",
              "pngraw"
            ],
            "x-ms-enum": {
              "name": "ImageType",
              "modelAsString": true,
              "values": [
                {
                  "name": "png",
                  "value": "png",
                  "description": "Portable Network Graphics format - supports transparency"
                },
                {
                  "name": "npy",
                  "value": "npy",
                  "description": "NumPy array format for raw data access"
                },
                {
                  "name": "tif",
                  "value": "tif",
                  "description": "GeoTIFF format for georeferenced raster data"
                },
                {
                  "name": "jpeg",
                  "value": "jpeg",
                  "description": "JPEG format - smaller file size but lossy compression"
                },
                {
                  "name": "jpg",
                  "value": "jpg",
                  "description": "Alternate extension for JPEG format"
                },
                {
                  "name": "jp2",
                  "value": "jp2",
                  "description": "JPEG 2000 format - supports both lossy and lossless compression"
                },
                {
                  "name": "webp",
                  "value": "webp",
                  "description": "WebP format - modern image format with good compression"
                },
                {
                  "name": "pngraw",
                  "value": "pngraw",
                  "description": "Raw PNG format for access to unprocessed data"
                }
              ]
            },
            "x-ms-client-name": "tileFormat"
          },
          {
            "name": "tile_scale",
            "in": "query",
            "description": "Tile scale factor affecting output size. Values > 1 produce larger tiles (e.g., 1=256x256, 2=512x512).",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1,
            "x-ms-client-name": "tileScale"
          },
          {
            "$ref": "#/parameters/ZoomQueryParameters.minzoom"
          },
          {
            "$ref": "#/parameters/ZoomQueryParameters.maxzoom"
          },
          {
            "$ref": "#/parameters/TileMatrixSetQueryParameters.buffer"
          },
          {
            "$ref": "#/parameters/TileMatrixSetQueryParameters.colorFormula"
          },
          {
            "$ref": "#/parameters/TileMatrixSetQueryParameters.resampling"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.rescale"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormapName"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormap"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.returnMask"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TileJsonResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerTileJsonTileMatrixSets_Get": {
            "$ref": "./examples/TilerTileJsonTileMatrixSets_Get.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/WMTSCapabilities.xml": {
      "get": {
        "operationId": "TilerWmts_GetCapabilitiesXml",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Wmts",
        "description": "OGC WMTS endpoint.",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithm"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithmParams"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "tileMatrixSetId",
            "in": "query",
            "description": "Identifier selecting one of the TileMatrixSetId supported (default:\n'WebMercatorQuad')",
            "required": false,
            "type": "string",
            "default": "WebMercatorQuad",
            "enum": [
              "CanadianNAD83_LCC",
              "EuropeanETRS89_LAEAQuad",
              "LINZAntarticaMapTilegrid",
              "NZTM2000Quad",
              "UPSAntarcticWGS84Quad",
              "UPSArcticWGS84Quad",
              "UTM31WGS84Quad",
              "WGS1984Quad",
              "WebMercatorQuad",
              "WorldCRS84Quad",
              "WorldMercatorWGS84Quad"
            ],
            "x-ms-enum": {
              "name": "Tilematrixsetid",
              "modelAsString": true,
              "values": [
                {
                  "name": "CanadianNAD83_LCC",
                  "value": "CanadianNAD83_LCC",
                  "description": "Canadian NAD83 Lambert Conformal Conic projection tile matrix set"
                },
                {
                  "name": "EuropeanETRS89_LAEAQuad",
                  "value": "EuropeanETRS89_LAEAQuad",
                  "description": "European ETRS89 Lambert Azimuthal Equal Area Quad tile matrix set"
                },
                {
                  "name": "LINZAntarticaMapTilegrid",
                  "value": "LINZAntarticaMapTilegrid",
                  "description": "Land Information New Zealand (LINZ) Antarctica Map tile grid matrix set"
                },
                {
                  "name": "NZTM2000Quad",
                  "value": "NZTM2000Quad",
                  "description": "New Zealand Transverse Mercator 2000 Quad tile matrix set"
                },
                {
                  "name": "UPSAntarcticWGS84Quad",
                  "value": "UPSAntarcticWGS84Quad",
                  "description": "Universal Polar Stereographic Antarctic WGS84 Quad tile matrix set"
                },
                {
                  "name": "UPSArcticWGS84Quad",
                  "value": "UPSArcticWGS84Quad",
                  "description": "Universal Polar Stereographic Arctic WGS84 Quad tile matrix set"
                },
                {
                  "name": "UTM31WGS84Quad",
                  "value": "UTM31WGS84Quad",
                  "description": "Universal Transverse Mercator Zone 31 WGS84 Quad tile matrix set"
                },
                {
                  "name": "WGS1984Quad",
                  "value": "WGS1984Quad",
                  "description": "WGS 1984 Quad tile matrix set"
                },
                {
                  "name": "WebMercatorQuad",
                  "value": "WebMercatorQuad",
                  "description": "Web Mercator Quad tile matrix set"
                },
                {
                  "name": "WorldCRS84Quad",
                  "value": "WorldCRS84Quad",
                  "description": "World CRS84 Quad tile matrix set"
                },
                {
                  "name": "WorldMercatorWGS84Quad",
                  "value": "WorldMercatorWGS84Quad",
                  "description": "World Mercator WGS84 Quad tile matrix set"
                }
              ]
            }
          },
          {
            "name": "tile_format",
            "in": "query",
            "description": "Output image type. Default is png.",
            "required": false,
            "type": "string",
            "default": "png",
            "enum": [
              "png",
              "npy",
              "tif",
              "jpeg",
              "jpg",
              "jp2",
              "webp",
              "pngraw"
            ],
            "x-ms-enum": {
              "name": "ImageType",
              "modelAsString": true,
              "values": [
                {
                  "name": "png",
                  "value": "png",
                  "description": "Portable Network Graphics format - supports transparency"
                },
                {
                  "name": "npy",
                  "value": "npy",
                  "description": "NumPy array format for raw data access"
                },
                {
                  "name": "tif",
                  "value": "tif",
                  "description": "GeoTIFF format for georeferenced raster data"
                },
                {
                  "name": "jpeg",
                  "value": "jpeg",
                  "description": "JPEG format - smaller file size but lossy compression"
                },
                {
                  "name": "jpg",
                  "value": "jpg",
                  "description": "Alternate extension for JPEG format"
                },
                {
                  "name": "jp2",
                  "value": "jp2",
                  "description": "JPEG 2000 format - supports both lossy and lossless compression"
                },
                {
                  "name": "webp",
                  "value": "webp",
                  "description": "WebP format - modern image format with good compression"
                },
                {
                  "name": "pngraw",
                  "value": "pngraw",
                  "description": "Raw PNG format for access to unprocessed data"
                }
              ]
            },
            "x-ms-client-name": "tileFormat"
          },
          {
            "name": "tile_scale",
            "in": "query",
            "description": "Tile scale factor affecting output size. Values > 1 produce larger tiles (e.g., 1=256x256, 2=512x512).",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1,
            "x-ms-client-name": "tileScale"
          },
          {
            "$ref": "#/parameters/ZoomQueryParameters.minzoom"
          },
          {
            "$ref": "#/parameters/ZoomQueryParameters.maxzoom"
          },
          {
            "$ref": "#/parameters/TileMatrixSetQueryParameters.buffer"
          },
          {
            "$ref": "#/parameters/TileMatrixSetQueryParameters.colorFormula"
          },
          {
            "$ref": "#/parameters/TileMatrixSetQueryParameters.resampling"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.rescale"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormapName"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormap"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.returnMask"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "string"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerWmts_GetCapabilitiesXml": {
            "$ref": "./examples/TilerWmts_GetCapabilitiesXml.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/asset_statistics": {
      "get": {
        "operationId": "TilerAssetStatistics_GetAll",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Asset Statistics",
        "description": "Per Asset statistics",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.resampling"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.maxSize"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.categorical"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.c"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.p"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.histogramBins"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.histogramRange"
          }
        ],
        "responses": {
          "200": {
            "description": "Return dataset's statistics.",
            "schema": {
              "$ref": "#/definitions/AssetStatisticsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerAssetStatistics_GetAll": {
            "$ref": "./examples/TilerAssetStatistics_GetAll.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/assets": {
      "get": {
        "operationId": "TilerAvailableAssets_GetAll",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Available Assets",
        "description": "Return a list of supported assets.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          }
        ],
        "responses": {
          "200": {
            "description": "Return a list of supported assets.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerAvailableAssets_GetAll": {
            "$ref": "./examples/TilerAvailableAssets_GetAll.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/bounds": {
      "get": {
        "operationId": "TilerBound_GetAll",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Bounds",
        "description": "Return all Bounds",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BoundsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerBound_GetAll": {
            "$ref": "./examples/TilerBound_GetAll.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/crop/{minx},{miny},{maxx},{maxy}.{format}": {
      "get": {
        "operationId": "TilerParts_GetMinxMinyMaxxMaxyFormat",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Part",
        "description": "Create image from part of a dataset.",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/jpg",
          "image/webp",
          "image/jp2",
          "image/tiff; application=geotiff",
          "application/x-binary",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithm"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithmParams"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "$ref": "#/parameters/BoundingBoxPathParameters.minx"
          },
          {
            "$ref": "#/parameters/BoundingBoxPathParameters.miny"
          },
          {
            "$ref": "#/parameters/BoundingBoxPathParameters.maxx"
          },
          {
            "$ref": "#/parameters/BoundingBoxPathParameters.maxy"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Output format for the tile or image (e.g., png, jpeg, webp).",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "color_formula",
            "in": "query",
            "description": "rio-color formula (info: https://github.com/mapbox/rio-color)",
            "required": false,
            "type": "string",
            "x-ms-client-name": "colorFormula"
          },
          {
            "name": "dst-crs",
            "in": "query",
            "description": "Output Coordinate Reference System.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "dstCrs"
          },
          {
            "name": "coord-crs",
            "in": "query",
            "description": "Coordinate Reference System of the input coords. Default to `epsg:4326`.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "coordCrs"
          },
          {
            "name": "resampling",
            "in": "query",
            "description": "Resampling method.",
            "required": false,
            "type": "string",
            "default": "nearest",
            "enum": [
              "nearest",
              "bilinear",
              "cubic",
              "cubic_spline",
              "lanczos",
              "average",
              "mode",
              "gauss",
              "rms"
            ],
            "x-ms-enum": {
              "name": "Resampling",
              "modelAsString": true,
              "values": [
                {
                  "name": "nearest",
                  "value": "nearest",
                  "description": "Nearest neighbor - fastest method that selects the closest pixel value"
                },
                {
                  "name": "bilinear",
                  "value": "bilinear",
                  "description": "Bilinear interpolation - calculates output values using a weighted average of 2x2 input cells"
                },
                {
                  "name": "cubic",
                  "value": "cubic",
                  "description": "Cubic interpolation - uses a weighted average of 4x4 input cells for smoother results"
                },
                {
                  "name": "cubic_spline",
                  "value": "cubic_spline",
                  "description": "Cubic spline interpolation - similar to cubic but preserves edges better"
                },
                {
                  "name": "lanczos",
                  "value": "lanczos",
                  "description": "Lanczos windowed sinc resampling - high-quality with minimal artifacts"
                },
                {
                  "name": "average",
                  "value": "average",
                  "description": "Average resampling - calculates the mean of all contributing pixels"
                },
                {
                  "name": "mode",
                  "value": "mode",
                  "description": "Mode resampling - selects the most common value from contributing pixels"
                },
                {
                  "name": "gauss",
                  "value": "gauss",
                  "description": "Gaussian weighted resampling - applies a gaussian weighting to contributing pixels"
                },
                {
                  "name": "rms",
                  "value": "rms",
                  "description": "Root mean square resampling - useful for resampling error or deviation grids"
                }
              ]
            }
          },
          {
            "name": "max_size",
            "in": "query",
            "description": "Image output size limit if width and height limits are not set.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1024,
            "x-ms-client-name": "maxSize"
          },
          {
            "$ref": "#/parameters/DimensionsQueryParameters.height"
          },
          {
            "$ref": "#/parameters/DimensionsQueryParameters.width"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.rescale"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormapName"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormap"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.returnMask"
          }
        ],
        "responses": {
          "200": {
            "description": "Return an image.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerParts_GetMinxMinyMaxxMaxyFormat": {
            "$ref": "./examples/TilerParts_GetMinxMinyMaxxMaxyFormat.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/crop/{width}x{height}.{format}": {
      "post": {
        "operationId": "TilerGeoJsons_CropWidthxHeightFormat",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Geojson Crop",
        "description": "Create image from a geojson feature.",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/jpg",
          "image/webp",
          "image/jp2",
          "image/tiff; application=geotiff",
          "application/x-binary",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithm"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithmParams"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "width",
            "in": "path",
            "description": "Width in pixels for the output image.",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "height",
            "in": "path",
            "description": "Height in pixels for the output image.",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Output format for the tile or image (e.g., png, jpeg, webp).",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "color_formula",
            "in": "query",
            "description": "rio-color formula (info: https://github.com/mapbox/rio-color)",
            "required": false,
            "type": "string",
            "x-ms-client-name": "colorFormula"
          },
          {
            "name": "coord-crs",
            "in": "query",
            "description": "Coordinate Reference System of the input coords. Default to `epsg:4326`.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "coordCrs"
          },
          {
            "name": "resampling",
            "in": "query",
            "description": "Resampling method.",
            "required": false,
            "type": "string",
            "default": "nearest",
            "enum": [
              "nearest",
              "bilinear",
              "cubic",
              "cubic_spline",
              "lanczos",
              "average",
              "mode",
              "gauss",
              "rms"
            ],
            "x-ms-enum": {
              "name": "Resampling",
              "modelAsString": true,
              "values": [
                {
                  "name": "nearest",
                  "value": "nearest",
                  "description": "Nearest neighbor - fastest method that selects the closest pixel value"
                },
                {
                  "name": "bilinear",
                  "value": "bilinear",
                  "description": "Bilinear interpolation - calculates output values using a weighted average of 2x2 input cells"
                },
                {
                  "name": "cubic",
                  "value": "cubic",
                  "description": "Cubic interpolation - uses a weighted average of 4x4 input cells for smoother results"
                },
                {
                  "name": "cubic_spline",
                  "value": "cubic_spline",
                  "description": "Cubic spline interpolation - similar to cubic but preserves edges better"
                },
                {
                  "name": "lanczos",
                  "value": "lanczos",
                  "description": "Lanczos windowed sinc resampling - high-quality with minimal artifacts"
                },
                {
                  "name": "average",
                  "value": "average",
                  "description": "Average resampling - calculates the mean of all contributing pixels"
                },
                {
                  "name": "mode",
                  "value": "mode",
                  "description": "Mode resampling - selects the most common value from contributing pixels"
                },
                {
                  "name": "gauss",
                  "value": "gauss",
                  "description": "Gaussian weighted resampling - applies a gaussian weighting to contributing pixels"
                },
                {
                  "name": "rms",
                  "value": "rms",
                  "description": "Root mean square resampling - useful for resampling error or deviation grids"
                }
              ]
            }
          },
          {
            "name": "max_size",
            "in": "query",
            "description": "Image output size limit if width and height limits are not set.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1024,
            "x-ms-client-name": "maxSize"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.rescale"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormapName"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormap"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.returnMask"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request GeoJson body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeoJson"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return an image.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerGeoJsons_CropWidthxHeightFormat": {
            "$ref": "./examples/TilerGeoJsons_CropWidthxHeightFormat.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/crop/{minx},{miny},{maxx},{maxy}/{width}x{height}.{format}": {
      "get": {
        "operationId": "TilerParts_GetMinxMinyMaxxMaxyWidthxHeightFormat",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Part",
        "description": "Create image from part of a dataset.",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/jpg",
          "image/webp",
          "image/jp2",
          "image/tiff; application=geotiff",
          "application/x-binary",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithm"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithmParams"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "$ref": "#/parameters/BoundingBoxPathParameters.minx"
          },
          {
            "$ref": "#/parameters/BoundingBoxPathParameters.miny"
          },
          {
            "$ref": "#/parameters/BoundingBoxPathParameters.maxx"
          },
          {
            "$ref": "#/parameters/BoundingBoxPathParameters.maxy"
          },
          {
            "name": "width",
            "in": "path",
            "description": "Width in pixels for the output image.",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "height",
            "in": "path",
            "description": "Height in pixels for the output image.",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Output format for the tile or image (e.g., png, jpeg, webp).",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "color_formula",
            "in": "query",
            "description": "rio-color formula (info: https://github.com/mapbox/rio-color)",
            "required": false,
            "type": "string",
            "x-ms-client-name": "colorFormula"
          },
          {
            "name": "dst-crs",
            "in": "query",
            "description": "Output Coordinate Reference System.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "dstCrs"
          },
          {
            "name": "coord-crs",
            "in": "query",
            "description": "Coordinate Reference System of the input coords. Default to `epsg:4326`.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "coordCrs"
          },
          {
            "name": "resampling",
            "in": "query",
            "description": "Resampling method.",
            "required": false,
            "type": "string",
            "default": "nearest",
            "enum": [
              "nearest",
              "bilinear",
              "cubic",
              "cubic_spline",
              "lanczos",
              "average",
              "mode",
              "gauss",
              "rms"
            ],
            "x-ms-enum": {
              "name": "Resampling",
              "modelAsString": true,
              "values": [
                {
                  "name": "nearest",
                  "value": "nearest",
                  "description": "Nearest neighbor - fastest method that selects the closest pixel value"
                },
                {
                  "name": "bilinear",
                  "value": "bilinear",
                  "description": "Bilinear interpolation - calculates output values using a weighted average of 2x2 input cells"
                },
                {
                  "name": "cubic",
                  "value": "cubic",
                  "description": "Cubic interpolation - uses a weighted average of 4x4 input cells for smoother results"
                },
                {
                  "name": "cubic_spline",
                  "value": "cubic_spline",
                  "description": "Cubic spline interpolation - similar to cubic but preserves edges better"
                },
                {
                  "name": "lanczos",
                  "value": "lanczos",
                  "description": "Lanczos windowed sinc resampling - high-quality with minimal artifacts"
                },
                {
                  "name": "average",
                  "value": "average",
                  "description": "Average resampling - calculates the mean of all contributing pixels"
                },
                {
                  "name": "mode",
                  "value": "mode",
                  "description": "Mode resampling - selects the most common value from contributing pixels"
                },
                {
                  "name": "gauss",
                  "value": "gauss",
                  "description": "Gaussian weighted resampling - applies a gaussian weighting to contributing pixels"
                },
                {
                  "name": "rms",
                  "value": "rms",
                  "description": "Root mean square resampling - useful for resampling error or deviation grids"
                }
              ]
            }
          },
          {
            "name": "max_size",
            "in": "query",
            "description": "Image output size limit if width and height limits are not set.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1024,
            "x-ms-client-name": "maxSize"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.rescale"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormapName"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormap"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.returnMask"
          }
        ],
        "responses": {
          "200": {
            "description": "Return an image.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerParts_GetMinxMinyMaxxMaxyWidthxHeightFormat": {
            "$ref": "./examples/TilerParts_GetMinxMinyMaxxMaxyWidthxHeightFormat.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/crop.{format}": {
      "post": {
        "operationId": "TilerGeoJsons_CropFormat",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Geojson Crop",
        "description": "Create image from a geojson feature.",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/jpg",
          "image/webp",
          "image/jp2",
          "image/tiff; application=geotiff",
          "application/x-binary",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithm"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithmParams"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Output format for the tile or image (e.g., png, jpeg, webp) (default: \"png\").",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "color_formula",
            "in": "query",
            "description": "rio-color formula (info: https://github.com/mapbox/rio-color)",
            "required": false,
            "type": "string",
            "x-ms-client-name": "colorFormula"
          },
          {
            "name": "coord-crs",
            "in": "query",
            "description": "Coordinate Reference System of the input coords. Default to `epsg:4326`.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "coordCrs"
          },
          {
            "name": "resampling",
            "in": "query",
            "description": "Resampling method.",
            "required": false,
            "type": "string",
            "default": "nearest",
            "enum": [
              "nearest",
              "bilinear",
              "cubic",
              "cubic_spline",
              "lanczos",
              "average",
              "mode",
              "gauss",
              "rms"
            ],
            "x-ms-enum": {
              "name": "Resampling",
              "modelAsString": true,
              "values": [
                {
                  "name": "nearest",
                  "value": "nearest",
                  "description": "Nearest neighbor - fastest method that selects the closest pixel value"
                },
                {
                  "name": "bilinear",
                  "value": "bilinear",
                  "description": "Bilinear interpolation - calculates output values using a weighted average of 2x2 input cells"
                },
                {
                  "name": "cubic",
                  "value": "cubic",
                  "description": "Cubic interpolation - uses a weighted average of 4x4 input cells for smoother results"
                },
                {
                  "name": "cubic_spline",
                  "value": "cubic_spline",
                  "description": "Cubic spline interpolation - similar to cubic but preserves edges better"
                },
                {
                  "name": "lanczos",
                  "value": "lanczos",
                  "description": "Lanczos windowed sinc resampling - high-quality with minimal artifacts"
                },
                {
                  "name": "average",
                  "value": "average",
                  "description": "Average resampling - calculates the mean of all contributing pixels"
                },
                {
                  "name": "mode",
                  "value": "mode",
                  "description": "Mode resampling - selects the most common value from contributing pixels"
                },
                {
                  "name": "gauss",
                  "value": "gauss",
                  "description": "Gaussian weighted resampling - applies a gaussian weighting to contributing pixels"
                },
                {
                  "name": "rms",
                  "value": "rms",
                  "description": "Root mean square resampling - useful for resampling error or deviation grids"
                }
              ]
            }
          },
          {
            "name": "max_size",
            "in": "query",
            "description": "Image output size limit if width and height limits are not set.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1024,
            "x-ms-client-name": "maxSize"
          },
          {
            "$ref": "#/parameters/DimensionsQueryParameters.height"
          },
          {
            "$ref": "#/parameters/DimensionsQueryParameters.width"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.rescale"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormapName"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormap"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.returnMask"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request GeoJson body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeoJson"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return an image.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerGeoJsons_CropFormat": {
            "$ref": "./examples/TilerGeoJsons_CropFormat.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/info": {
      "get": {
        "operationId": "TilerInfoOperations_Get",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Info",
        "description": "Return dataset's basic info.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "assets",
            "in": "query",
            "description": "Asset's names.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "Return dataset's basic info or the list of available assets.",
            "schema": {
              "$ref": "#/definitions/InfoOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerInfoOperations_Get": {
            "$ref": "./examples/TilerInfoOperations_Get.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/info.geojson": {
      "get": {
        "operationId": "TilerInfoGeoJsonOperations_Get",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Info Geojson",
        "description": "Return Info Geojson",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "assets",
            "in": "query",
            "description": "Asset's names.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/FeaturePolygonDictStrRioTilerModelsInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerInfoGeoJsonOperations_Get": {
            "$ref": "./examples/TilerInfoGeoJsonOperations_Get.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/point/{lon},{lat}": {
      "get": {
        "operationId": "TilerPoints_GetLonLat",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Point",
        "description": "Get Point value for a dataset.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "lon",
            "in": "path",
            "description": "Longitude",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "lat",
            "in": "path",
            "description": "Latitude",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "name": "coord-crs",
            "in": "query",
            "description": "Coordinate Reference System of the input coords. Default to `epsg:4326`.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "coordCrs"
          },
          {
            "name": "resampling",
            "in": "query",
            "description": "Resampling method.",
            "required": false,
            "type": "string",
            "default": "nearest",
            "enum": [
              "nearest",
              "bilinear",
              "cubic",
              "cubic_spline",
              "lanczos",
              "average",
              "mode",
              "gauss",
              "rms"
            ],
            "x-ms-enum": {
              "name": "Resampling",
              "modelAsString": true,
              "values": [
                {
                  "name": "nearest",
                  "value": "nearest",
                  "description": "Nearest neighbor - fastest method that selects the closest pixel value"
                },
                {
                  "name": "bilinear",
                  "value": "bilinear",
                  "description": "Bilinear interpolation - calculates output values using a weighted average of 2x2 input cells"
                },
                {
                  "name": "cubic",
                  "value": "cubic",
                  "description": "Cubic interpolation - uses a weighted average of 4x4 input cells for smoother results"
                },
                {
                  "name": "cubic_spline",
                  "value": "cubic_spline",
                  "description": "Cubic spline interpolation - similar to cubic but preserves edges better"
                },
                {
                  "name": "lanczos",
                  "value": "lanczos",
                  "description": "Lanczos windowed sinc resampling - high-quality with minimal artifacts"
                },
                {
                  "name": "average",
                  "value": "average",
                  "description": "Average resampling - calculates the mean of all contributing pixels"
                },
                {
                  "name": "mode",
                  "value": "mode",
                  "description": "Mode resampling - selects the most common value from contributing pixels"
                },
                {
                  "name": "gauss",
                  "value": "gauss",
                  "description": "Gaussian weighted resampling - applies a gaussian weighting to contributing pixels"
                },
                {
                  "name": "rms",
                  "value": "rms",
                  "description": "Root mean square resampling - useful for resampling error or deviation grids"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TitilerCoreModelsResponsesPoint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerPoints_GetLonLat": {
            "$ref": "./examples/TilerPoints_GetLonLat.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/preview": {
      "get": {
        "operationId": "TilerPreviews_Get",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Preview",
        "description": "Create preview of a dataset.",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/jpg",
          "image/webp",
          "image/jp2",
          "image/tiff; application=geotiff",
          "application/x-binary",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithm"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithmParams"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format for the tile or image (e.g., png, jpeg, webp).",
            "required": false,
            "type": "string",
            "enum": [
              "png",
              "npy",
              "tif",
              "jpeg",
              "jpg",
              "jp2",
              "webp",
              "pngraw"
            ],
            "x-ms-enum": {
              "name": "ImageType",
              "modelAsString": true,
              "values": [
                {
                  "name": "png",
                  "value": "png",
                  "description": "Portable Network Graphics format - supports transparency"
                },
                {
                  "name": "npy",
                  "value": "npy",
                  "description": "NumPy array format for raw data access"
                },
                {
                  "name": "tif",
                  "value": "tif",
                  "description": "GeoTIFF format for georeferenced raster data"
                },
                {
                  "name": "jpeg",
                  "value": "jpeg",
                  "description": "JPEG format - smaller file size but lossy compression"
                },
                {
                  "name": "jpg",
                  "value": "jpg",
                  "description": "Alternate extension for JPEG format"
                },
                {
                  "name": "jp2",
                  "value": "jp2",
                  "description": "JPEG 2000 format - supports both lossy and lossless compression"
                },
                {
                  "name": "webp",
                  "value": "webp",
                  "description": "WebP format - modern image format with good compression"
                },
                {
                  "name": "pngraw",
                  "value": "pngraw",
                  "description": "Raw PNG format for access to unprocessed data"
                }
              ]
            }
          },
          {
            "name": "color_formula",
            "in": "query",
            "description": "rio-color formula (info: https://github.com/mapbox/rio-color)",
            "required": false,
            "type": "string",
            "x-ms-client-name": "colorFormula"
          },
          {
            "name": "dst-crs",
            "in": "query",
            "description": "Output Coordinate Reference System.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "dstCrs"
          },
          {
            "name": "resampling",
            "in": "query",
            "description": "Resampling method.",
            "required": false,
            "type": "string",
            "default": "nearest",
            "enum": [
              "nearest",
              "bilinear",
              "cubic",
              "cubic_spline",
              "lanczos",
              "average",
              "mode",
              "gauss",
              "rms"
            ],
            "x-ms-enum": {
              "name": "Resampling",
              "modelAsString": true,
              "values": [
                {
                  "name": "nearest",
                  "value": "nearest",
                  "description": "Nearest neighbor - fastest method that selects the closest pixel value"
                },
                {
                  "name": "bilinear",
                  "value": "bilinear",
                  "description": "Bilinear interpolation - calculates output values using a weighted average of 2x2 input cells"
                },
                {
                  "name": "cubic",
                  "value": "cubic",
                  "description": "Cubic interpolation - uses a weighted average of 4x4 input cells for smoother results"
                },
                {
                  "name": "cubic_spline",
                  "value": "cubic_spline",
                  "description": "Cubic spline interpolation - similar to cubic but preserves edges better"
                },
                {
                  "name": "lanczos",
                  "value": "lanczos",
                  "description": "Lanczos windowed sinc resampling - high-quality with minimal artifacts"
                },
                {
                  "name": "average",
                  "value": "average",
                  "description": "Average resampling - calculates the mean of all contributing pixels"
                },
                {
                  "name": "mode",
                  "value": "mode",
                  "description": "Mode resampling - selects the most common value from contributing pixels"
                },
                {
                  "name": "gauss",
                  "value": "gauss",
                  "description": "Gaussian weighted resampling - applies a gaussian weighting to contributing pixels"
                },
                {
                  "name": "rms",
                  "value": "rms",
                  "description": "Root mean square resampling - useful for resampling error or deviation grids"
                }
              ]
            }
          },
          {
            "name": "max_size",
            "in": "query",
            "description": "Image output size limit if width and height limits are not set.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1024,
            "x-ms-client-name": "maxSize"
          },
          {
            "$ref": "#/parameters/DimensionsQueryParameters.height"
          },
          {
            "$ref": "#/parameters/DimensionsQueryParameters.width"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.rescale"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormapName"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormap"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.returnMask"
          }
        ],
        "responses": {
          "200": {
            "description": "Return an image.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerPreviews_Get": {
            "$ref": "./examples/TilerPreviews_Get.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/preview.{format}": {
      "get": {
        "operationId": "TilerPreviews_GetFormat",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Preview",
        "description": "Create preview of a dataset.",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/jpg",
          "image/webp",
          "image/jp2",
          "image/tiff; application=geotiff",
          "application/x-binary",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithm"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithmParams"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Output format for the tile or image (e.g., png, jpeg, webp).",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "color_formula",
            "in": "query",
            "description": "rio-color formula (info: https://github.com/mapbox/rio-color)",
            "required": false,
            "type": "string",
            "x-ms-client-name": "colorFormula"
          },
          {
            "name": "dst-crs",
            "in": "query",
            "description": "Output Coordinate Reference System.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "dstCrs"
          },
          {
            "name": "resampling",
            "in": "query",
            "description": "Resampling method.",
            "required": false,
            "type": "string",
            "default": "nearest",
            "enum": [
              "nearest",
              "bilinear",
              "cubic",
              "cubic_spline",
              "lanczos",
              "average",
              "mode",
              "gauss",
              "rms"
            ],
            "x-ms-enum": {
              "name": "Resampling",
              "modelAsString": true,
              "values": [
                {
                  "name": "nearest",
                  "value": "nearest",
                  "description": "Nearest neighbor - fastest method that selects the closest pixel value"
                },
                {
                  "name": "bilinear",
                  "value": "bilinear",
                  "description": "Bilinear interpolation - calculates output values using a weighted average of 2x2 input cells"
                },
                {
                  "name": "cubic",
                  "value": "cubic",
                  "description": "Cubic interpolation - uses a weighted average of 4x4 input cells for smoother results"
                },
                {
                  "name": "cubic_spline",
                  "value": "cubic_spline",
                  "description": "Cubic spline interpolation - similar to cubic but preserves edges better"
                },
                {
                  "name": "lanczos",
                  "value": "lanczos",
                  "description": "Lanczos windowed sinc resampling - high-quality with minimal artifacts"
                },
                {
                  "name": "average",
                  "value": "average",
                  "description": "Average resampling - calculates the mean of all contributing pixels"
                },
                {
                  "name": "mode",
                  "value": "mode",
                  "description": "Mode resampling - selects the most common value from contributing pixels"
                },
                {
                  "name": "gauss",
                  "value": "gauss",
                  "description": "Gaussian weighted resampling - applies a gaussian weighting to contributing pixels"
                },
                {
                  "name": "rms",
                  "value": "rms",
                  "description": "Root mean square resampling - useful for resampling error or deviation grids"
                }
              ]
            }
          },
          {
            "name": "max_size",
            "in": "query",
            "description": "Image output size limit if width and height limits are not set.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1024,
            "x-ms-client-name": "maxSize"
          },
          {
            "$ref": "#/parameters/DimensionsQueryParameters.height"
          },
          {
            "$ref": "#/parameters/DimensionsQueryParameters.width"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.rescale"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormapName"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.colormap"
          },
          {
            "$ref": "#/parameters/MiscTileQueryParameters.returnMask"
          }
        ],
        "responses": {
          "200": {
            "description": "Return an image.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerPreviews_GetFormat": {
            "$ref": "./examples/TilerPreviews_GetFormat.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/statistics": {
      "get": {
        "operationId": "TilerStatistics_GetAll",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Statistics",
        "description": "Merged assets statistics.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.resampling"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.maxSize"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.categorical"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.c"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.p"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.histogramBins"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.histogramRange"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/StatisticsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerStatistics_GetAll": {
            "$ref": "./examples/TilerStatistics_GetAll.json"
          }
        }
      },
      "post": {
        "operationId": "TilerGeoJsonStatistics_GetAll",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Geojson Statistics",
        "description": "Get Statistics from a geojson feature or featureCollection.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "coord-crs",
            "in": "query",
            "description": "Coordinate Reference System of the input coords. Default to `epsg:4326`.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "coordCrs"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.resampling"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.maxSize"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.categorical"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.c"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.p"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.histogramBins"
          },
          {
            "$ref": "#/parameters/StatisticsQueryParameters.histogramRange"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request GeoJson body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeoJson"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GeoJsonStatisticsItemCollectionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "TilerGeoJsonStatistics_GetAll": {
            "$ref": "./examples/TilerGeoJsonStatistics_GetAll.json"
          }
        }
      }
    },
    "/data/collections/{collectionId}/items/{itemId}/tilejson.json": {
      "get": {
        "operationId": "TilerTileJsonOperations_Get",
        "tags": [
          "Tiles for STAC Items"
        ],
        "summary": "Tilejson",
        "description": "Return Tilejson",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assets"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.expression"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetBidx"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.assetAsBand"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.nodata"
          },
          {
            "$ref": "#/parameters/AssetQueryParameters.unscale"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithm"
          },
          {
            "$ref": "#/parameters/AlgorithmQueryParameters.algorithmParams"
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "STAC Collection Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "STAC Item Identifier",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "pattern": ".*"
          },
          {
            "name": "tileMatrixSetId",
            "in": "query",
            "description": "Identifier selecting one of the TileMatrixSetId supported (default:\n'WebMercatorQuad')",
            "required": false,
            "type": "string",
            "default": "WebMercatorQuad",
            "enum": [
              "CanadianNAD83_LCC",
              "EuropeanETRS89_LAEAQuad",
              "LINZAntarticaMapTilegrid",
              "NZTM2000Quad",
              "UPSAntarcticWGS84Quad",
              "UPSArcticWGS84Quad",
              "UTM31WGS84Quad",
              "WGS1984Quad",
              "WebMercatorQuad",
              "WorldCRS84Quad",
              "WorldMercatorWGS84Quad"
            ],
            "x-ms-enum": {
              "name": "Tilematrixsetid",
              "modelAsString": true,
              "values": [
                {
                  "name": "CanadianNAD83_LCC",
                  "value": "CanadianNAD83_LCC",
                  "description": "Canadian NAD83 Lambert Conformal Conic projection tile matrix set"
                },
                {
                  "name": "EuropeanETRS89_LAEAQuad",
[...]
