{
  "swagger": "2.0",
  "info": {
    "version": "2021-03-15-preview",
    "title": "Azure Quota Extension API",
    "description": "Microsoft Azure Quota Resource Provider."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/{providerId}/locations/{location}/providers/Microsoft.Quota/quotaLimitsRequests/{id}": {
      "get": {
        "tags": [
          "QuotaRequests"
        ],
        "x-ms-examples": {
          "QuotaRequestStatus": {
            "$ref": "./examples/getQuotaRequestStatusById.json"
          },
          "QuotaRequestInProgress": {
            "$ref": "./examples/getQuotaRequestStatusInProgress.json"
          },
          "QuotaRequestFailed": {
            "$ref": "./examples/getQuotaRequestStatusFailed.json"
          }
        },
        "description": "Gets the QuotaRequest details and status by the quota request Id for the resources for the resource provider at a specific location. The requestId is returned as response to the Put requests for quotaLimits.",
        "operationId": "QuotaRequestStatus_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/parameters/RequestIdInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok. Returning the status for the quota request .",
            "schema": {
              "$ref": "#/definitions/QuotaRequestDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{providerId}/locations/{location}/providers/Microsoft.Quota/quotaLimitsRequests": {
      "get": {
        "tags": [
          "QuotaRequests"
        ],
        "x-ms-examples": {
          "QuotaRequestHistory": {
            "$ref": "./examples/getQuotaRequestsHistory.json"
          }
        },
        "description": "For the specified location and Resource provider gets the current quota requests under the subscription over the time period of one year ago from now to one year back. oData filter can be used to select quota requests.",
        "operationId": "QuotaRequestStatus_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "| Field                    | Supported operators  \n|---------------------|------------------------\n\r\n|requestSubmitTime | ge, le, eq, gt, lt\n |provisioningState eq {QuotaRequestState}\n |resourceName eq {resourceName}\n"
          },
          {
            "$ref": "#/parameters/TopQueryParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok. Sending Quota request status and details",
            "schema": {
              "$ref": "#/definitions/QuotaRequestDetailsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Quota/quotaLimitProviders": {
      "get": {
        "tags": [
          "QuotaMetadata"
        ],
        "description": "Gets the list of current resource providers supported by Quota resource provider.\r\n  For each resource provider, resource templates supported by the resource provider will be provided. \r\n   For each resource template, the resource dimensions will be listed. The resource dimensions are the name value pairs in the resource uri.\r\n Example: \r\n For Microsoft.Compute Resource Provider: The url template will be '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationId}/quotaBucket' The actual dimensions will vary by resource provider. This an example for illustration.\r\n The resource dimensions will be: {subscriptions},{locations},{quotaBucket}.\r\n The specific details for each resource dimension can be retrieved using the quotaLimitTypes API call.",
        "operationId": "QuotaResourceProviders_List",
        "x-ms-examples": {
          "Quotas_listMetadataForRPs": {
            "$ref": "./examples/metadata/getQuotaRPMetadata.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Quota limits type information",
            "schema": {
              "$ref": "#/definitions/resourceProvidersList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{providerId}/providers/Microsoft.Quota/quotaMetadata": {
      "get": {
        "tags": [
          "QuotaMetadata"
        ],
        "description": "Gets details of each dimension for the resource provider and resourceDimension.",
        "operationId": "QuotaTemplateDimensionTypes_List",
        "x-ms-examples": {
          "Quotas_listMetadataForCompute": {
            "$ref": "./examples/metadata/getComputeMetadata.json"
          },
          "Quotas_listMetadataForBatch": {
            "$ref": "./examples/metadata/getBatchAccountsNamesMetadata.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Quota limits type information",
            "schema": {
              "$ref": "#/definitions/QuotaTemplatesDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Quota/operations": {
      "get": {
        "summary": "Get operations.",
        "description": "List all the operations.",
        "operationId": "Operation_List",
        "x-ms-examples": {
          "GetOperations": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Operation"
        ],
        "responses": {
          "200": {
            "description": "List all the operations.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationResponse"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page of items."
        }
      }
    },
    "OperationResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay"
        },
        "origin": {
          "type": "string"
        }
      }
    },
    "OperationDisplay": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "The provider name."
        },
        "resource": {
          "type": "string",
          "description": "The resource name."
        },
        "operation": {
          "type": "string",
          "description": "The operation name."
        },
        "description": {
          "type": "string",
          "description": "The description of operation."
        }
      }
    },
    "QuotaRequestStatusDetails": {
      "description": "The quota request status details.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The quota request status.",
          "$ref": "#/definitions/QuotaRequestState",
          "readOnly": true
        },
        "message": {
          "description": "A user friendly message.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "QuotaRequestDetails": {
      "type": "object",
      "description": "The details of the quota Request.",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The quota request Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the quota request.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "The quota request details.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QuotaRequestProperties"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Type of resource. \"Microsoft.Quota/quotaLimits\""
        }
      }
    },
    "QuotaRequestDetailsList": {
      "description": "Quota requests information.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The quota Requests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuotaRequestDetails"
          }
        },
        "nextLink": {
          "description": "The uri to fetch the next page of quota limits. When there are no more pages, this is null.",
          "type": "string"
        }
      }
    },
    "QuotaRequestProperties": {
      "type": "object",
      "description": "The details of quota request.",
      "properties": {
        "provisioningState": {
          "description": "The quota request status.",
          "$ref": "#/definitions/QuotaRequestState"
        },
        "message": {
          "description": "User friendly status message.",
          "type": "string",
          "readOnly": true
        },
        "requestSubmitTime": {
          "description": "The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "value": {
          "description": "The quotaRequests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubRequest"
          }
        }
      }
    },
    "SubRequest": {
      "type": "object",
      "description": "The sub-request submitted with the quota request.",
      "properties": {
        "limit": {
          "description": "The Resource limit.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "name": {
          "description": "The Resource name.",
          "$ref": "#/definitions/ResourceName"
        },
        "resourceType": {
          "description": "Resource type for which the quota check was made.",
          "type": "string",
          "readOnly": true
        },
        "unit": {
          "description": " The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response.",
          "type": "string"
        },
        "provisioningState": {
          "description": "The quota request status.",
          "$ref": "#/definitions/QuotaRequestState"
        },
        "message": {
          "description": "User friendly status message.",
          "type": "string",
          "readOnly": true
        },
        "subRequestId": {
          "description": "Sub request id for individual request.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "QuotaRequestState": {
      "description": "The quota request status.",
      "enum": [
        "Accepted",
        "Invalid",
        "Succeeded",
        "Failed",
        "InProgress"
      ],
      "readOnly": true,
      "type": "string",
      "x-ms-enum": {
        "name": "QuotaRequestState",
        "modelAsString": true
      }
    },
    "ResourceTypesName": {
      "description": "The resource types. For extendibility, we can keep it as string.",
      "enum": [
        "standard",
        "dedicated",
        "lowPriority",
        "shared",
        "serviceSpecific"
      ],
      "readOnly": false,
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceType",
        "modelAsString": true
      }
    },
    "ExceptionResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ServiceError",
          "description": "The api error details."
        }
      },
      "description": "The api error."
    },
    "quotaBucketProperties": {
      "type": "object",
      "description": "The resource provider quotaBucket properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name"
        },
        "displayName": {
          "description": "The display name",
          "type": "string"
        }
      }
    },
    "ResourceProviderDimension": {
      "type": "object",
      "description": "The resource provider resource dimension",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource dimension name"
        },
        "displayName": {
          "description": "The display name",
          "type": "string"
        }
      }
    },
    "ResourceProviderTemplate": {
      "type": "object",
      "description": "The resource provider resource template details",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Resource type"
        },
        "dimensions": {
          "description": "The resource provider dimensions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderDimension"
          }
        },
        "quotaBuckets": {
          "description": "The resource provider quotaBuckets",
          "type": "array",
          "items": {
            "$ref": "#/definitions/quotaBucketProperties"
          }
        }
      }
    },
    "ResourceProviderTemplates": {
      "type": "object",
      "description": "List of resource provider templates",
      "properties": {
        "value": {
          "description": "The resource provider templates",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderTemplate"
          }
        }
      }
    },
    "ResourceProviderInformation": {
      "type": "object",
      "description": "The resource provider information",
      "properties": {
        "resourceProviderName": {
          "type": "string",
          "description": "The name of the resource provider"
        },
        "properties": {
          "description": "The quota dimensions for the resource provider.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ResourceProviderTemplates"
        }
      }
    },
    "resourceProvidersList": {
      "type": "object",
      "description": "List of resource providers.",
      "properties": {
        "value": {
          "description": "The resource provider information.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderInformation"
          }
        }
      }
    },
    "QuotaTypeInformationDimensionList": {
      "description": "Quota types information list.",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The resource type"
        },
        "value": {
          "description": "The quota type information.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuotaTypeDimensionInformation"
          }
        }
      }
    },
    "QuotaTypeDimensionInformation": {
      "type": "object",
      "description": "Quota type information.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The property name."
        },
        "displayName": {
          "type": "string",
          "description": "The display name."
        },
        "id": {
          "type": "string",
          "description": "The dimension id."
        }
      }
    },
    "QuotaTemplateDetails": {
      "type": "object",
      "description": "Quota template details.",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The resource type."
        },
        "properties": {
          "description": "The quota type properties for the resource id.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QuotaTypeInformationDimensionList"
        }
      }
    },
    "QuotaTemplatesDetails": {
      "type": "object",
      "description": "Quota templates details.",
      "properties": {
        "value": {
          "description": "The quota templates information.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuotaTemplateDetails"
          }
        }
      }
    },
    "ServiceError": {
      "description": "The api error details.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceErrorDetail"
          },
          "description": "The list of error details.",
          "readOnly": true
        }
      }
    },
    "ServiceErrorDetail": {
      "description": "The error details.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "The error message."
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "API version."
    },
    "SubscriptionIdInParameters": {
      "name": "subscriptionId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Azure subscription id."
    },
    "LocationIdInParameters": {
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Azure region.",
      "x-ms-parameter-location": "method"
    },
    "ProviderIdInParameters": {
      "name": "providerId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Azure resource provider id.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameInParameters": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The resource name for a resource provider, such as SKU name for Microsoft.Compute, Sku or TotalLowPriorityCores for Microsoft.MachineLearningServices",
      "x-ms-parameter-location": "method"
    },
    "ResourceDimensionTypeInParameter": {
      "name": "resourceDimension",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The resource dimension type for a resource provider, such as locations. skus for Microsoft.Compute, resourceGroups, batchAccounts, skus for Microsoft.Batch",
      "x-ms-parameter-location": "method"
    },
    "RequestIdInParameters": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Quota Request id.",
      "x-ms-parameter-location": "method"
    },
    "TopQueryParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Number of records to return.",
      "minimum": 1,
      "x-ms-parameter-location": "method"
    },
    "SkipTokenParameter": {
      "name": "$skiptoken",
      "in": "query",
      "type": "string",
      "required": false,
      "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls",
      "x-ms-parameter-location": "method"
    }
  }
}
