{
  "swagger": "2.0",
  "info": {
    "title": "LabServicesClient",
    "version": "2023-06-07",
    "description": "REST API for managing Azure Lab Services images.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Images"
    },
    {
      "name": "LabPlans"
    },
    {
      "name": "Labs"
    },
    {
      "name": "Schedules"
    },
    {
      "name": "Users"
    },
    {
      "name": "VirtualMachines"
    }
  ],
  "paths": {
    "/providers/Microsoft.LabServices/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listOperations": {
            "$ref": "./examples/LabServices/listOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/labPlans": {
      "get": {
        "operationId": "LabPlans_ListBySubscription",
        "tags": [
          "LabPlans"
        ],
        "description": "Returns a list of all lab plans within a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedLabPlans"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listLabPlans": {
            "$ref": "./examples/LabPlans/listLabPlans.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/labs": {
      "get": {
        "operationId": "Labs_ListBySubscription",
        "tags": [
          "Labs"
        ],
        "description": "Returns a list of all labs for a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedLabs"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listLabs": {
            "$ref": "./examples/Labs/listLabs.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/locations/{location}/usages": {
      "get": {
        "operationId": "Usages_ListByLocation",
        "summary": "Gets the list of usages.",
        "description": "Returns list of usage per SKU family for the specified subscription in the specified region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListUsagesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listUsages": {
            "$ref": "./examples/Usages/getUsages.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/operationResults/{operationResultId}": {
      "get": {
        "operationId": "OperationResults_Get",
        "summary": "Get an azure operation result.",
        "description": "Returns an azure operation result.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "operationResultId",
            "in": "path",
            "description": "The operation result ID / name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getOperationResult": {
            "$ref": "./examples/OperationResults/getOperationResult.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/skus": {
      "get": {
        "operationId": "Skus_List",
        "summary": "Gets the Azure Lab Services resource SKUs.",
        "description": "Returns a list of Azure Lab Services resource SKUs.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedLabServicesSkus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listSkus": {
            "$ref": "./examples/Skus/listSkus.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans": {
      "get": {
        "operationId": "LabPlans_ListByResourceGroup",
        "tags": [
          "LabPlans"
        ],
        "description": "Returns a list of all lab plans for a subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedLabPlans"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listResourceGroupLabPlans": {
            "$ref": "./examples/LabPlans/listResourceGroupLabPlans.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}": {
      "get": {
        "operationId": "LabPlans_Get",
        "tags": [
          "LabPlans"
        ],
        "description": "Retrieves the properties of a Lab Plan.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labPlanName",
            "in": "path",
            "description": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabPlan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getLabPlan": {
            "$ref": "./examples/LabPlans/getLabPlan.json"
          }
        }
      },
      "put": {
        "operationId": "LabPlans_CreateOrUpdate",
        "tags": [
          "LabPlans"
        ],
        "description": "Operation to create or update a Lab Plan resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labPlanName",
            "in": "path",
            "description": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabPlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LabPlan' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LabPlan"
            }
          },
          "201": {
            "description": "Resource 'LabPlan' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LabPlan"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/LabPlan"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "putLabPlan": {
            "$ref": "./examples/LabPlans/putLabPlan.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LabPlans_Update",
        "tags": [
          "LabPlans"
        ],
        "description": "Operation to update a Lab Plan resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labPlanName",
            "in": "path",
            "description": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabPlanUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabPlan"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/LabPlan"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "patchLabPlan": {
            "$ref": "./examples/LabPlans/patchLabPlan.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LabPlans_Delete",
        "tags": [
          "LabPlans"
        ],
        "description": "Operation to delete a Lab Plan resource. Deleting a lab plan does not delete labs associated with a lab plan, nor does it delete shared images added to a gallery via the lab plan permission container.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labPlanName",
            "in": "path",
            "description": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "deleteLabPlan": {
            "$ref": "./examples/LabPlans/deleteLabPlan.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}/images": {
      "get": {
        "operationId": "Images_ListByLabPlan",
        "tags": [
          "Images"
        ],
        "description": "Gets all images from galleries attached to a lab plan.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labPlanName",
            "in": "path",
            "description": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedImages"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listImages": {
            "$ref": "./examples/Images/listImages.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}/images/{imageName}": {
      "get": {
        "operationId": "Images_Get",
        "tags": [
          "Images"
        ],
        "description": "Gets an image resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labPlanName",
            "in": "path",
            "description": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "imageName",
            "in": "path",
            "description": "The image name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Image"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getImage": {
            "$ref": "./examples/Images/getImage.json"
          }
        }
      },
      "put": {
        "operationId": "Images_CreateOrUpdate",
        "tags": [
          "Images"
        ],
        "description": "Updates an image resource via PUT. Creating new resources via PUT will not function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labPlanName",
            "in": "path",
            "description": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "imageName",
            "in": "path",
            "description": "The image name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Image"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Image' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Image"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "putImage": {
            "$ref": "./examples/Images/putImage.json"
          }
        }
      },
      "patch": {
        "operationId": "Images_Update",
        "tags": [
          "Images"
        ],
        "description": "Updates an image resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labPlanName",
            "in": "path",
            "description": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "imageName",
            "in": "path",
            "description": "The image name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Image"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "patchImage": {
            "$ref": "./examples/Images/patchImage.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}/saveImage": {
      "post": {
        "operationId": "LabPlans_SaveImage",
        "tags": [
          "LabPlans"
        ],
        "description": "Saves an image from a lab VM to the attached shared image gallery.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labPlanName",
            "in": "path",
            "description": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaveImageBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "saveImageVirtualMachine": {
            "$ref": "./examples/LabPlans/saveImageVirtualMachine.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs": {
      "get": {
        "operationId": "Labs_ListByResourceGroup",
        "tags": [
          "Labs"
        ],
        "description": "Returns a list of all labs in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedLabs"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listResourceGroupLabs": {
            "$ref": "./examples/Labs/listResourceGroupLabs.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}": {
      "get": {
        "operationId": "Labs_Get",
        "tags": [
          "Labs"
        ],
        "description": "Returns the properties of a lab resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Lab"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getLab": {
            "$ref": "./examples/Labs/getLab.json"
          }
        }
      },
      "put": {
        "operationId": "Labs_CreateOrUpdate",
        "tags": [
          "Labs"
        ],
        "description": "Operation to create or update a lab resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Lab"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Lab' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Lab"
            }
          },
          "201": {
            "description": "Resource 'Lab' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Lab"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Lab"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "putLab": {
            "$ref": "./examples/Labs/putLab.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Labs_Update",
        "tags": [
          "Labs"
        ],
        "description": "Operation to update a lab resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Lab"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Lab"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "patchLab": {
            "$ref": "./examples/Labs/patchLab.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Labs_Delete",
        "tags": [
          "Labs"
        ],
        "description": "Operation to delete a lab resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "deleteLab": {
            "$ref": "./examples/Labs/deleteLab.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/publish": {
      "post": {
        "operationId": "Labs_Publish",
        "tags": [
          "Labs"
        ],
        "description": "Publish or re-publish a lab. This will create or update all lab resources, such as virtual machines.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "publishLab": {
            "$ref": "./examples/Labs/publishLab.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/schedules": {
      "get": {
        "operationId": "Schedules_ListByLab",
        "tags": [
          "Schedules"
        ],
        "description": "Returns a list of all schedules for a lab.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedSchedules"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getListSchedule": {
            "$ref": "./examples/Schedules/listSchedule.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/schedules/{scheduleName}": {
      "get": {
        "operationId": "Schedules_Get",
        "tags": [
          "Schedules"
        ],
        "description": "Returns the properties of a lab Schedule.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "scheduleName",
            "in": "path",
            "description": "The name of the schedule that uniquely identifies it within containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getSchedule": {
            "$ref": "./examples/Schedules/getSchedule.json"
          }
        }
      },
      "put": {
        "operationId": "Schedules_CreateOrUpdate",
        "tags": [
          "Schedules"
        ],
        "description": "Operation to create or update a lab schedule.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "scheduleName",
            "in": "path",
            "description": "The name of the schedule that uniquely identifies it within containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Schedule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "201": {
            "description": "Resource 'Schedule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "putSchedule": {
            "$ref": "./examples/Schedules/putSchedule.json"
          }
        }
      },
      "patch": {
        "operationId": "Schedules_Update",
        "tags": [
          "Schedules"
        ],
        "description": "Operation to update a lab schedule.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "scheduleName",
            "in": "path",
            "description": "The name of the schedule that uniquely identifies it within containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduleUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "patchSchedule": {
            "$ref": "./examples/Schedules/patchSchedule.json"
          }
        }
      },
      "delete": {
        "operationId": "Schedules_Delete",
        "tags": [
          "Schedules"
        ],
        "description": "Operation to delete a schedule resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "scheduleName",
            "in": "path",
            "description": "The name of the schedule that uniquely identifies it within containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "deleteSchedule": {
            "$ref": "./examples/Schedules/deleteSchedule.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/syncGroup": {
      "post": {
        "operationId": "Labs_SyncGroup",
        "tags": [
          "Labs"
        ],
        "description": "Action used to manually kick off an AAD group sync job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "syncLab": {
            "$ref": "./examples/Labs/syncLab.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/users": {
      "get": {
        "operationId": "Users_ListByLab",
        "tags": [
          "Users"
        ],
        "description": "Returns a list of all users for a lab.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedUsers"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listUser": {
            "$ref": "./examples/Users/listUser.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/users/{userName}": {
      "get": {
        "operationId": "Users_Get",
        "tags": [
          "Users"
        ],
        "description": "Returns the properties of a lab user.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user that uniquely identifies it within containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getUser": {
            "$ref": "./examples/Users/getUser.json"
          }
        }
      },
      "put": {
        "operationId": "Users_CreateOrUpdate",
        "tags": [
          "Users"
        ],
        "description": "Operation to create or update a lab user.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user that uniquely identifies it within containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'User' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "201": {
            "description": "Resource 'User' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "putUser": {
            "$ref": "./examples/Users/putUser.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Users_Update",
        "tags": [
          "Users"
        ],
        "description": "Operation to update a lab user.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user that uniquely identifies it within containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "patchUser": {
            "$ref": "./examples/Users/patchUser.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Users_Delete",
        "tags": [
          "Users"
        ],
        "description": "Operation to delete a user resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user that uniquely identifies it within containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "deleteUser": {
            "$ref": "./examples/Users/deleteUser.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/users/{userName}/invite": {
      "post": {
        "operationId": "Users_Invite",
        "tags": [
          "Users"
        ],
        "description": "Operation to invite a user to a lab.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user that uniquely identifies it within containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InviteBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "inviteUser": {
            "$ref": "./examples/Users/inviteUser.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/virtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListByLab",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Returns a list of all virtual machines for a lab.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedVirtualMachines"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listVirtualMachine": {
            "$ref": "./examples/VirtualMachines/listVirtualMachine.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/virtualMachines/{virtualMachineName}": {
      "get": {
        "operationId": "VirtualMachines_Get",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Returns the properties for a lab virtual machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "virtualMachineName",
            "in": "path",
            "description": "The ID of the virtual machine that uniquely identifies it within the containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getVirtualMachine": {
            "$ref": "./examples/VirtualMachines/getVirtualMachine.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/virtualMachines/{virtualMachineName}/redeploy": {
      "post": {
        "operationId": "VirtualMachines_Redeploy",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Action to redeploy a lab virtual machine to a different compute node. For troubleshooting connectivity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "virtualMachineName",
            "in": "path",
            "description": "The ID of the virtual machine that uniquely identifies it within the containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "redeployVirtualMachine": {
            "$ref": "./examples/VirtualMachines/redeployVirtualMachine.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/virtualMachines/{virtualMachineName}/reimage": {
      "post": {
        "operationId": "VirtualMachines_Reimage",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Re-image a lab virtual machine. The virtual machine will be deleted and recreated using the latest published snapshot of the reference environment of the lab.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "virtualMachineName",
            "in": "path",
            "description": "The ID of the virtual machine that uniquely identifies it within the containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "reimageVirtualMachine": {
            "$ref": "./examples/VirtualMachines/reimageVirtualMachine.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/virtualMachines/{virtualMachineName}/resetPassword": {
      "post": {
        "operationId": "VirtualMachines_ResetPassword",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Resets a lab virtual machine password.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "virtualMachineName",
            "in": "path",
            "description": "The ID of the virtual machine that uniquely identifies it within the containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetPasswordBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "resetPasswordVirtualMachine": {
            "$ref": "./examples/VirtualMachines/resetPasswordVirtualMachine.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/virtualMachines/{virtualMachineName}/start": {
      "post": {
        "operationId": "VirtualMachines_Start",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Action to start a lab virtual machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "virtualMachineName",
            "in": "path",
            "description": "The ID of the virtual machine that uniquely identifies it within the containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "startVirtualMachine": {
            "$ref": "./examples/VirtualMachines/startVirtualMachine.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}/virtualMachines/{virtualMachineName}/stop": {
      "post": {
        "operationId": "VirtualMachines_Stop",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Action to stop a lab virtual machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab that uniquely identifies it within containing lab plan. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          {
            "name": "virtualMachineName",
            "in": "path",
            "description": "The ID of the virtual machine that uniquely identifies it within the containing lab. Used in resource URIs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[-\\w\\\\._\\\\(\\\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "stopVirtualMachine": {
            "$ref": "./examples/VirtualMachines/stopVirtualMachine.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AutoShutdownProfile": {
      "type": "object",
      "description": "Profile for how to handle shutting down virtual machines.",
      "properties": {
        "shutdownOnDisconnect": {
          "$ref": "#/definitions/EnableState",
          "description": "Whether shutdown on disconnect is enabled"
        },
        "shutdownWhenNotConnected": {
          "$ref": "#/definitions/EnableState",
          "description": "Whether a VM will get shutdown when it hasn't been connected to after a period of time."
        },
        "shutdownOnIdle": {
          "$ref": "#/definitions/ShutdownOnIdleMode",
          "description": "Whether a VM will get shutdown when it has idled for a period of time."
        },
        "disconnectDelay": {
          "type": "string",
          "format": "duration",
          "description": "The amount of time a VM will stay running after a user disconnects if this behavior is enabled."
        },
        "noConnectDelay": {
          "type": "string",
          "format": "duration",
          "description": "The amount of time a VM will stay running before it is shutdown if no connection is made and this behavior is enabled."
        },
        "idleDelay": {
          "type": "string",
          "format": "duration",
          "description": "The amount of time a VM will idle before it is shutdown if this behavior is enabled."
        }
      }
    },
    "ConnectionProfile": {
      "type": "object",
      "description": "Connection profile for how users connect to lab virtual machines.",
      "properties": {
        "webSshAccess": {
          "$ref": "#/definitions/ConnectionType",
          "description": "The enabled access level for Web Access over SSH."
        },
        "webRdpAccess": {
          "$ref": "#/definitions/ConnectionType",
          "description": "The enabled access level for Web Access over RDP."
        },
        "clientSshAccess": {
          "$ref": "#/definitions/ConnectionType",
          "description": "The enabled access level for Client Access over SSH."
        },
        "clientRdpAccess": {
          "$ref": "#/definitions/ConnectionType",
          "description": "The enabled access level for Client Access over RDP."
        }
      }
    },
    "ConnectionType": {
      "type": "string",
      "description": "A connection type for access labs and VMs (Public, Private or None).",
      "enum": [
        "Public",
        "Private",
        "None"
      ],
      "x-ms-enum": {
        "name": "ConnectionType",
        "modelAsString": false
      }
    },
    "CreateOption": {
      "type": "string",
      "description": "Indicates what lab virtual machines are created from.",
      "enum": [
        "Image",
        "TemplateVM"
      ],
      "x-ms-enum": {
        "name": "CreateOption",
        "modelAsString": false,
        "values": [
          {
            "name": "Image",
            "value": "Image",
            "description": "An image is used to create all lab user virtual machines. When this option is set, no template VM will be created."
          },
          {
            "name": "TemplateVM",
            "value": "TemplateVM",
            "description": "A template VM will be used to create all lab user virtual machines."
          }
        ]
      }
    },
    "Credentials": {
      "type": "object",
      "description": "Credentials for a user on a lab VM.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username to use when signing in to lab VMs.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "password": {
          "type": "string",
          "description": "The password for the user. This is required for the TemplateVM createOption.",
          "x-ms-mutability": [
            "create"
          ]
        }
      },
      "required": [
        "username"
      ]
    },
    "EnableState": {
      "type": "string",
      "description": "Property enabled state.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "EnableState",
        "modelAsString": false
      }
    },
    "Identity": {
      "type": "object",
[...]
