{
  "swagger": "2.0",
  "info": {
    "title": "Azure Communication Services Management API",
    "version": "2025-08-31-preview",
    "description": "REST API for Azure Communication Services Usernames"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/usernames/{username}": {
      "get": {
        "tags": [
          "Usernames"
        ],
        "operationId": "Usernames_Get",
        "description": "Get a Username resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "Domains.json#/parameters/DomainName"
          },
          {
            "$ref": "#/parameters/Username"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Username resource.",
            "schema": {
              "$ref": "#/definitions/UsernameResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Username resource": {
            "$ref": "./examples/usernames/get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Usernames"
        ],
        "operationId": "Usernames_CreateOrUpdate",
        "description": "Create or update a Username resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "Domains.json#/parameters/DomainName"
          },
          {
            "$ref": "#/parameters/Username"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UsernameResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resource was successfully updated.",
            "schema": {
              "$ref": "#/definitions/UsernameResource"
            }
          },
          "201": {
            "description": "The resource was successfully created.",
            "schema": {
              "$ref": "#/definitions/UsernameResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Username resource": {
            "$ref": "./examples/usernames/createOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Usernames"
        ],
        "operationId": "Usernames_Delete",
        "description": "Delete a Username resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "Domains.json#/parameters/DomainName"
          },
          {
            "$ref": "#/parameters/Username"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource was successfully deleted."
          },
          "204": {
            "description": "The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Username resource": {
            "$ref": "./examples/usernames/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/usernames": {
      "get": {
        "tags": [
          "Usernames"
        ],
        "operationId": "Usernames_ListByDomains",
        "description": "List all the Username resources under the parent Domain resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "Domains.json#/parameters/DomainName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of Username resources under the parent Domain resource.",
            "schema": {
              "$ref": "#/definitions/UsernameResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Username resources by Domain": {
            "$ref": "./examples/usernames/listByDomain.json"
          }
        }
      }
    }
  },
  "definitions": {
    "UsernameResource": {
      "type": "object",
      "description": "A class representing a Username resource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/UsernameProperties",
          "description": "The properties of a Username resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "UsernameProperties": {
      "type": "object",
      "description": "A class that describes the properties of a Username resource.",
      "required": [
        "username"
      ],
      "properties": {
        "dataLocation": {
          "type": "string",
          "description": "The location where the Username resource data is stored at rest.",
          "readOnly": true
        },
        "username": {
          "type": "string",
          "description": "A username for sending or receiving emails.",
          "minLength": 1,
          "maxLength": 253
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the username.",
          "maxLength": 256
        },
        "usernameType": {
          "type": "string",
          "description": "The type of username: Sender, Recipient, or Both.",
          "enum": [
            "Sender",
            "Recipient",
            "Both"
          ],
          "x-ms-enum": {
            "name": "UsernameType",
            "modelAsString": true
          }
        },
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Running",
            "Creating",
            "Updating",
            "Deleting",
            "Moving"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "EmailServices_ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "UsernameResourceList": {
      "type": "object",
      "description": "A class representing a list of Username resources.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Username resources.",
          "items": {
            "$ref": "#/definitions/UsernameResource"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      }
    }
  },
  "parameters": {
    "Username": {
      "name": "username",
      "in": "path",
      "description": "The name of the Username resource.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 253,
      "x-ms-parameter-location": "method"
    }
  }
}
