{
  "swagger": "2.0",
  "info": {
    "title": "Region Move Service API",
    "description": "A first party Azure service orchestrating the move of Azure resources from one Azure region to another or between zones within a region.",
    "version": "2019-10-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}": {
      "put": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "MoveCollections_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MoveCollection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MoveCollection"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MoveCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PutMoveCollection": {
            "$ref": "./examples/PutMoveCollection.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "MoveCollections_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "x-nullable": true,
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeleteMoveCollection": {
            "$ref": "./examples/DeleteMoveCollection.json"
          }
        }
      },
      "get": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "MoveCollections_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MoveCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetMoveCollection": {
            "$ref": "./examples/GetMoveCollection.json"
          }
        }
      },
      "patch": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "MoveCollection_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateMoveCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MoveCollection"
            }
          },
          "201": {
            "description": "Created"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "UpdateMoveCollection": {
            "$ref": "./examples/UpdateMoveCollection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/prepare": {
      "post": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "MoveCollections_Prepare",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PrepareRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PrepareMoveCollection": {
            "$ref": "./examples/PrepareMoveCollection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/InitiateMove": {
      "post": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "MoveCollections_InitiateMove",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ResourceMoveRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ResourceMoveCollection": {
            "$ref": "./examples/ResourceMoveCollection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MoveCollections/{moveCollectionName}/Commit": {
      "post": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "MoveCollections_Commit",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CommitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CommitMoveCollection": {
            "$ref": "./examples/CommitMoveCollection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MoveCollections/{moveCollectionName}/Discard": {
      "post": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "MoveCollections_Discard",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DiscardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DiscardMoveCollection": {
            "$ref": "./examples/DiscardMoveCollection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/resolveDependencies": {
      "post": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "MoveCollections_ResolveDependencies",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "RefreshMoveCollection": {
            "$ref": "./examples/ResolveDependencies.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/moveResources": {
      "get": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "MoveResources_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "| Field            | Supported operators    | Supported functions               |\n|------------------|------------------------|-----------------------------------|\n| id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| firstName        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| lastName         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| email            | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| state            | eq                     | N/A                               |\n| registrationDate | ge, le, eq, ne, gt, lt | N/A                               |\n| note             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MoveResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListMoveResources": {
            "$ref": "./examples/ListMoveResources.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MoveCollections/{moveCollectionName}/UnresolvedDependencies": {
      "get": {
        "tags": [
          "MoveCollections"
        ],
        "operationId": "UnresolvedDependencies_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UnresolvedDependencyCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetUnresolvedDependencies": {
            "$ref": "./examples/GetUnresolvedDependencies.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/moveResources/{moveResourceName}": {
      "put": {
        "tags": [
          "MoveResources"
        ],
        "operationId": "MoveResources_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveResourceName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MoveResource"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MoveResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PutMoveResource": {
            "$ref": "./examples/PutMoveResource.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MoveResources"
        ],
        "operationId": "MoveResources_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveResourceName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeleteMoveResource": {
            "$ref": "./examples/DeleteMoveResource.json"
          }
        }
      },
      "get": {
        "tags": [
          "MoveResources"
        ],
        "operationId": "MoveResources_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveCollectionName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "moveResourceName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MoveResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetMoveResource": {
            "$ref": "./examples/GetMoveResource.json"
          }
        }
      }
    },
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "tags": [
          "OperationsDiscovery"
        ],
        "operationId": "OperationsDiscovery_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationsDiscoveryCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/ListOperations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/moveCollections": {
      "get": {
        "summary": "Get all MoveCollections.",
        "description": "Get all the MoveCollections in the subscription.",
        "operationId": "MoveCollections_ListMoveCollectionsBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/MoveCollectionResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "ListMoveCollectionsBySubscription": {
            "$ref": "./examples/ListMoveCollectionsBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections": {
      "get": {
        "summary": "Get all projects.",
        "description": "Get all the projects in the resource group.",
        "operationId": "MoveCollections_ListMoveCollectionsByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/MoveCollectionResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "ListMoveCollectionsByResourceGroup": {
            "$ref": "./examples/ListMoveCollectionsByResourceGroup.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AutomaticResolutionProperties": {
      "description": "Defines the properties for automatic resolution.",
      "type": "object",
      "properties": {
        "moveResourceId": {
          "description": "Gets the MoveResource ARM ID of\r\nthe dependent resource if the resolution type is Automatic.",
          "type": "string"
        }
      }
    },
    "CloudError": {
      "properties": {
        "properties": {
          "type": "object",
          "description": "The cloud error body.",
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An error response from the azure region move service."
    },
    "CloudErrorBody": {
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the Azure Migrate service."
    },
    "CommitRequest": {
      "description": "Defines the request body for commit operation.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Gets or sets a value indicating whether the operation needs to only run pre-requisite.",
          "type": "boolean"
        },
        "moveResources": {
          "description": "Gets or sets the list of move resources ARM id's.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DiscardRequest": {
      "description": "Defines the request body for discard operation.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Gets or sets a value indicating whether the operation needs to only run pre-requisite.",
          "type": "boolean"
        },
        "moveResources": {
          "description": "Gets or sets the list of move resources ARM id's.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Display": {
      "description": "Contains the localized display information for this particular operation / action. These\r\nvalue will be used by several clients for\r\n(1) custom role definitions for RBAC;\r\n(2) complex query filters for the event service; and\r\n(3) audit history / records for management operations.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Gets or sets the provider.\r\nThe localized friendly form of the resource provider name – it is expected to also\r\ninclude the publisher/company responsible.\r\nIt should use Title Casing and begin with \"Microsoft\" for 1st party services.\r\ne.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\".",
          "type": "string"
        },
        "resource": {
          "description": "Gets or sets the resource.\r\nThe localized friendly form of the resource related to this action/operation – it\r\nshould match the public documentation for the resource provider.\r\nIt should use Title Casing.\r\nThis value should be unique for a particular URL type (e.g. nested types should *not*\r\nreuse their parent’s display.resource field)\r\ne.g. \"Virtual Machines\" or \"Scheduler Job Collections\", or \"Virtual Machine VM Sizes\"\r\nor \"Scheduler Jobs\".",
          "type": "string"
        },
        "operation": {
          "description": "Gets or sets the operation.\r\nThe localized friendly name for the operation, as it should be shown to the user.\r\nIt should be concise (to fit in drop downs) but clear (i.e. self-documenting).\r\nIt should use Title Casing.\r\nPrescriptive guidance: Read Create or Update Delete 'ActionName'.",
          "type": "string"
        },
        "description": {
          "description": "Gets or sets the description.\r\nThe localized friendly description for the operation, as it should be shown to the\r\nuser.\r\nIt should be thorough, yet concise – it will be used in tool tips and detailed views.\r\nPrescriptive guidance for namespace:\r\nRead any 'display.provider'  resource\r\nCreate or Update any  'display.provider'  resource\r\nDelete any  'display.provider'  resource\r\nPerform any other action on any  'display.provider'  resource\r\nPrescriptive guidance for namespace:\r\nRead any 'display.resource' Create or Update any  'display.resource' Delete any\r\n'display.resource' 'ActionName' any 'display.resources'.",
          "type": "string"
        }
      }
    },
    "Identity": {
      "description": "Defines the MSI properties of the Move Collection.",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/ResourceIdentityType"
        },
        "principalId": {
          "description": "Gets or sets the principal id.",
          "type": "string"
        },
        "tenantId": {
          "description": "Gets or sets the tenant id.",
          "type": "string"
        }
      }
    },
    "InnerError": {
      "properties": {
        "exceptiontype": {
          "type": "string",
          "description": "The exception type."
        },
        "errordetail": {
          "type": "string",
          "description": "The internal error message or exception dump."
        }
      },
      "description": "Inner error details."
    },
    "JobName": {
      "description": "Defines the job names.",
      "enum": [
        "InitialSync"
      ],
      "type": "string"
    },
    "JobStatus": {
      "description": "Defines the job status.",
      "type": "object",
      "properties": {
        "jobName": {
          "$ref": "#/definitions/JobName"
        },
        "jobProgress": {
          "description": "Gets or sets the monitoring job percentage.",
          "type": "string"
        }
      }
    },
    "LoadBalancerResourceSettings": {
      "description": "Defines the load balancer resource settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceSettings"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "Microsoft.Network/loadBalancers"
    },
    "ManualResolutionProperties": {
      "description": "Defines the properties for manual resolution.",
      "type": "object",
      "properties": {
        "targetId": {
          "description": "Gets or sets the target resource ARM ID of the dependent resource if the resource type is Manual.",
          "type": "string"
        }
      }
    },
    "MoveCollection": {
      "description": "Define the move collection.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "identity": {
          "$ref": "#/definitions/Identity"
        },
        "properties": {
          "$ref": "#/definitions/MoveCollectionProperties"
        }
      }
    },
    "MoveCollectionProperties": {
      "description": "Defines the move collection properties.",
      "type": "object",
      "properties": {
        "sourceRegion": {
          "description": "Gets or sets the source region.",
          "type": "string"
        },
        "targetRegion": {
          "description": "Gets or sets the target region.",
          "type": "string"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "MoveCollectionResultList": {
      "description": "Defines the collection of move collections.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets the list of move collections.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MoveCollection"
          }
        },
        "nextLink": {
          "description": "Gets the value of  next link.",
          "type": "string"
        }
      }
    },
    "MoveResource": {
      "description": "Defines the move resource.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        },
        "properties": {
          "$ref": "#/definitions/MoveResourceProperties"
        }
      }
    },
    "MoveResourceCollection": {
      "description": "Defines the collection of move resources.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets the list of move resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MoveResource"
          }
        },
        "nextLink": {
          "description": "Gets the value of  next link.",
          "type": "string"
        }
      }
    },
    "MoveResourceDependency": {
      "description": "Defines the dependency of the move resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets the source ARM ID of the dependent resource.",
          "type": "string"
        },
        "resolutionStatus": {
          "description": "Gets the dependency resolution status.",
          "type": "string"
        },
        "resolutionType": {
          "$ref": "#/definitions/ResolutionType"
        },
        "manualResolution": {
          "$ref": "#/definitions/ManualResolutionProperties"
        },
        "automaticResolution": {
          "$ref": "#/definitions/AutomaticResolutionProperties"
        }
      }
    },
    "MoveResourceDependencyOverride": {
      "description": "Defines the dependency of the move resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets the ARM ID of the dependent resource.",
          "type": "string"
        },
        "targetId": {
          "description": "Gets or sets the resource ARM id of either the MoveResource or the resource ARM ID of\r\nthe dependent resource.",
          "type": "string"
        }
      }
    },
    "MoveResourceProperties": {
      "description": "Defines the move resource properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "sourceId": {
          "description": "Gets or sets the Source ARM Id of the resource.",
          "type": "string"       
        },
        "targetId": {
          "description": "Gets or sets the Target ARM Id of the resource.",
          "type": "string",
          "readOnly": true
        },
        "existingTargetId": {
          "description": "Gets or sets the existing target ARM Id of the resource.",
          "type": "string"
        },
        "resourceSettings": {
          "description": "Gets or sets the resource settings.",
          "$ref": "#/definitions/ResourceSettings"
        },
        "moveStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/MoveResourceStatus"
            }
          ],
          "readOnly": true
        },
        "dependsOn": {
          "description": "Gets or sets the move resource dependencies.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/MoveResourceDependency"
          }
        },
        "dependsOnOverrides": {
          "description": "Gets or sets the move resource dependencies overrides.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MoveResourceDependencyOverride"
          }
        }
      }
    },
    "MoveResourceStatus": {
      "description": "Defines the move resource status.",
      "type": "object",
      "properties": {
        "moveState": {
          "$ref": "#/definitions/MoveState"
        },
        "jobStatus": {
          "$ref": "#/definitions/JobStatus"
        },
        "errors": {
          "$ref": "#/definitions/CloudError"
        },
        "targetId": {
          "description": "Gets the Target ARM Id of the resource.",
          "type": "string"
        }
      }
    },
    "MoveState": {
      "description": "Defines the MoveResource states.",
      "enum": [
        "AssignmentPending",
        "PreparePending",
        "PrepareInProgress",
        "PrepareFailed",
        "PrepareStarted",
        "PrepareFinalizeInProgress",
        "PrepareFinalizeFailed",
        "PrepareInitiateSyncTrackingInProgress",
        "PrepareSyncInProgress",
        "PrepareInitiateSyncTrackingFailed",
        "MovePending",
        "MoveInProgress",
        "MoveFailed",
        "DiscardInProgress",
        "DiscardFailed",
        "CommitPending",
        "CommitInProgress",
        "CommitFailed",
        "Committed"
      ],
      "type": "string"
    },
    "NetworkInterfaceResourceSettings": {
      "description": "Defines the network interface resource settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceSettings"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "Microsoft.Network/networkInterfaces"
    },
    "NetworkSecurityGroupResourceSettings": {
      "description": "Defines the network security group resource settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceSettings"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "Microsoft.Network/networkSecurityGroups"
    },
    "OperationsDiscovery": {
      "description": "Operations discovery class.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets Name of the API.\r\nThe name of the operation being performed on this particular object. It should\r\nmatch the action name that appears in RBAC / the event service.\r\nExamples of operations include:\r\n* Microsoft.Compute/virtualMachine/capture/action\r\n* Microsoft.Compute/virtualMachine/restart/action\r\n* Microsoft.Compute/virtualMachine/write\r\n* Microsoft.Compute/virtualMachine/read\r\n* Microsoft.Compute/virtualMachine/delete\r\nEach action should include, in order:\r\n(1) Resource Provider Namespace\r\n(2) Type hierarchy for which the action applies (e.g. server/databases for a SQL\r\nAzure database)\r\n(3) Read, Write, Action or Delete indicating which type applies. If it is a PUT/PATCH\r\non a collection or named value, Write should be used.\r\nIf it is a GET, Read should be used. If it is a DELETE, Delete should be used. If it\r\nis a POST, Action should be used.\r\nAs a note: all resource providers would need to include the \"{Resource Provider\r\nNamespace}/register/action\" operation in their response.\r\nThis API is used to register for their service, and should include details about the\r\noperation (e.g. a localized name for the resource provider + any special\r\nconsiderations like PII release).",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/Display"
        },
        "origin": {
          "description": "Gets or sets Origin.\r\nThe intended executor of the operation; governs the display of the operation in the\r\nRBAC UX and the audit logs UX.\r\nDefault value is \"user,system\".",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/OperationsDiscoveryProperties"
        }
      }
    },
    "OperationsDiscoveryCollection": {
      "description": "Collection of ClientDiscovery details.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets or sets the ClientDiscovery details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationsDiscovery"
          }
        },
        "nextLink": {
          "description": "Gets or sets the value of next link.",
          "type": "string"
        }
      }
    },
    "OperationsDiscoveryProperties": {
      "description": "ClientDiscovery properties.",
      "type": "object"
    },
    "OperationStatusError": {
      "properties": {
        "code": {          
          "type": "string",
          "description": "Operation ID",
          "x-nullable": true
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Operation ID",
          "x-nullable": true
        }
      }
    },
    "OperationStatus": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id",
          "x-nullable": true
        },
        "name": {
          "type": "string",
          "description": "Operation name",
          "x-nullable": true
        },
        "status": {
          "type": "string",
          "description": "Operation status",
          "x-nullable": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start time of the operation",
          "x-nullable": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End time of the operation",
          "x-nullable": true
        },
        "error": {
          "type": "object",
          "description": "Api error",
          "$ref": "#/definitions/OperationStatusError",
          "x-nullable": true
        },
        "properties": {
          "type": "object",
          "$ref": "#/definitions/OperationStatusProperties",
          "description": "Api error",
          "x-nullable": true
        }
      }
    },
    "OperationStatusProperties": {
      "type": "object",
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "description": "code",
          "x-nullable": true
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "message",
          "x-nullable": true
        },
        "details": {
          "readOnly": true,
          "type": "object",
          "description": "message",
          "x-nullable": true
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "object",
          "description": "message",
          "x-nullable": true
        }
      }
    },
    "PrepareRequest": {
      "description": "Defines the request body for initiate prepare operation.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Gets or sets a value indicating whether the operation needs to only run pre-requisite.",
          "type": "boolean"
        },
        "moveResources": {
          "description": "Gets or sets the list of move resources ARM id's.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningState": {
      "description": "Defines the provisioning states.",
      "enum": [
        "Succeeded",
        "Updating",
        "Creating",
        "Failed"
      ],
      "type": "string"
    },
    "PublicIPAddressResourceSettings": {
      "description": "Defines the public IP address resource settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceSettings"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "Microsoft.Network/publicIPAddresses"
    },
    "ResolutionType": {
      "description": "Defines the resolution type.",
      "enum": [
        "Manual",
        "Automatic"
      ],
      "type": "string"
    },
    "ResourceGroupResourceSettings": {
      "description": "Defines the resource group resource settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceSettings"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "resourceGroups"
    },
    "ResourceIdentityType": {
      "description": "The type of identity used for the region move service.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned"
      ],
      "type": "string"
    },
    "ResourceMoveRequest": {
      "description": "Defines the request body for resource move operation.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Gets or sets a value indicating whether the operation needs to only run pre-requisite.",
          "type": "boolean"
        },
        "moveResources": {
          "description": "Gets or sets the list of move resources ARM id's.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ResourceSettings": {
      "description": "Gets or sets the resource settings.",
      "type": "object",
      "required": [
        "resourceType"
      ],
      "properties": {
        "resourceType": {
          "description": "The resource type. For example, the value can be Microsoft.Compute/virtualMachines.",
          "type": "string"         
        },
        "targetResourceName": {
          "description": "Gets or sets the target Resource name.",
          "type": "string"
        }
      },
      "discriminator": "resourceType"
    },
    "SqlDatabaseResourceSettings": {
      "description": "Defines the Sql Database resource settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceSettings"
        }
      ],
      "properties": {
        "zoneRedundant": {
          "$ref": "#/definitions/ZoneRedundant"
        }
      },
      "x-ms-discriminator-value": "Microsoft.Sql/servers/databases"
    },
    "SqlElasticPoolResourceSettings": {
      "description": "Defines the Sql ElasticPool resource settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceSettings"
        }
      ],
      "properties": {
        "zoneRedundant": {
          "$ref": "#/definitions/ZoneRedundant"
        }
      },
      "x-ms-discriminator-value": "Microsoft.Sql/servers/elasticPools"
    },
    "SqlServerResourceSettings": {
      "description": "Defines the SQL Server resource settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceSettings"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "Microsoft.Sql/servers"
    },
    "UnresolvedDependency": {
      "description": "Unresolved dependency.",
      "type": "object",
      "properties": {
        "count": {
          "format": "int32",
          "description": "Gets or sets the count.",
          "type": "integer"
        },
        "id": {
          "description": "Gets or sets the arm id of the dependency.",
          "type": "string"
        }
      }
    },
    "UnresolvedDependencyCollection": {
      "description": "Unresolved dependency collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets or sets the list of unresolved dependencies.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UnresolvedDependency"
          }
        },
        "nextLink": {
          "description": "Gets or sets the value of  next link.",
          "type": "string"
        }
      }
    },
    "UpdateMoveCollectionRequest": {
      "description": "Defines the request body for updating move collection.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Gets or sets the Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/Identity"
        }
      }
    },
    "VirtualMachineResourceSettings": {
      "description": "Gets or sets the virtual machine resource settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceSettings"
        }
      ],
      "properties": {
        "targetAvailabilityZone": {
          "description": "Gets or sets the target availability zone.",
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "NA"
          ]
        },
        "targetVmSize": {
          "description": "Gets or sets the target vm size.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "Microsoft.Compute/virtualMachines"
    },
    "VirtualNetworkResourceSettings": {
      "description": "Defines the virtual network resource settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceSettings"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "Microsoft.Network/virtualNetworks"
    },
    "ZoneRedundant": {
      "description": "Defines the zone redundant resource setting.",
      "enum": [
        "Enable",
        "Disable"
      ],
      "type": "string"
    }
  },
  "parameters": {
    "subscriptionId": {
      "in": "path",
      "name": "subscriptionId",
      "description": "The Subscription ID.",
      "required": true,
      "type": "string"
    },
    "api-version": {
      "in": "query",
      "name": "api-version",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
