{
  "swagger": "2.0",
  "info": {
    "version": "2020-07-01-preview",
    "title": "MaintenanceManagementClient",
    "description": "Azure Maintenance Management Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/maintenanceConfigurations/{resourceName}": {
      "get": {
        "tags": [
          "MaintenanceConfigurations"
        ],
        "summary": "Get Configuration record",
        "operationId": "MaintenanceConfigurations_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource Identifier",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenanceConfigurations_GetForResource": {
            "$ref": "./examples/MaintenanceConfigurations_GetForResource.json"
          }
        }
      },
      "put": {
        "tags": [
          "MaintenanceConfigurations"
        ],
        "summary": "Create or Update configuration record",
        "operationId": "MaintenanceConfigurations_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource Identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "configuration",
            "in": "body",
            "description": "The configuration",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenanceConfigurations_CreateOrUpdateForResource": {
            "$ref": "./examples/MaintenanceConfigurations_CreateOrUpdateForResource.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MaintenanceConfigurations"
        ],
        "summary": "Delete Configuration record",
        "operationId": "MaintenanceConfigurations_Delete",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource Identifier",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenanceConfigurations_DeleteForResource": {
            "$ref": "./examples/MaintenanceConfigurations_DeleteForResource.json"
          }
        }
      },
      "patch": {
        "tags": [
          "MaintenanceConfigurations"
        ],
        "summary": "Patch configuration record",
        "operationId": "MaintenanceConfigurations_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Resource Identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "configuration",
            "in": "body",
            "description": "The configuration",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MaintenanceConfiguration"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-examples": {
          "MaintenanceConfigurations_UpdateForResource": {
            "$ref": "./examples/MaintenanceConfigurations_UpdateForResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/maintenanceConfigurations": {
      "get": {
        "tags": [
          "MaintenanceConfigurations"
        ],
        "summary": "Get Configuration records within a subscription",
        "operationId": "MaintenanceConfigurations_List",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListMaintenanceConfigurationsResult"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "MaintenanceConfigurations_List": {
            "$ref": "./examples/MaintenanceConfigurations_List.json"
          }
        }
      }
    },
    "/providers/Microsoft.Maintenance/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "List available operations",
        "description": "List the available operations supported by the Microsoft.Maintenance resource provider",
        "operationId": "Operations_List",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationsListResult"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/MaintenanceError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "Definition of a Resource",
      "type": "object",
      "properties": {
        "id": {
          "description": "Fully qualified identifier of the resource",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the resource",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of the resource",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "MaintenanceWindow": {
      "description": "Definition of a MaintenanceWindow",
      "type": "object",
      "properties": {
        "startDateTime" : {
          "description": "Effective start date of the maintenance window in YYYY-MM-DD hh:mm:ss format. The start date can be set to either the current date or future date. The window will be created in the time zone provided and adjusted to daylight savings according to that time zone.",
          "type": "string"
        },
        "expirationDateTime" : {
          "description": "Effective expiration date of the maintenance window in YYYY-MM-DD hh:mm:ss format. The window will be created in the time zone provided and adjusted to daylight savings according to that time zone. Expiration date must be set to a future date. If not provided, it will be set to the maximum datetime 9999-12-31 23:59:59.",
          "type": "string"
        },
        "duration" : {
          "description": "Duration of the maintenance window in HH:mm format. If not provided, default value will be used based on maintenance scope provided. Example: 05:00.",
          "type": "string"
        },
        "timeZone" : {
          "description": "Name of the timezone. List of timezones can be obtained by executing [System.TimeZoneInfo]::GetSystemTimeZones() in PowerShell. Example: Pacific Standard Time, UTC, W. Europe Standard Time, Korea Standard Time, Cen. Australia Standard Time.",
          "type": "string"
        },
        "recurEvery" : {
          "description": "Rate at which a Maintenance window is expected to recur. The rate can be expressed as daily, weekly, or monthly schedules. Daily schedule are formatted as recurEvery: [Frequency as integer]['Day(s)']. If no frequency is provided, the default frequency is 1. Daily schedule examples are recurEvery: Day, recurEvery: 3Days.  Weekly schedule are formatted as recurEvery: [Frequency as integer]['Week(s)'] [Optional comma separated list of weekdays Monday-Sunday]. Weekly schedule examples are recurEvery: 3Weeks, recurEvery: Week Saturday,Sunday. Monthly schedules are formatted as [Frequency as integer]['Month(s)'] [Comma separatedlist of month days] or [Frequency as integer]['Month(s)'] [Week of Month (First, Second, Third, Fourth, Last)] [Weekday Monday-Sunday]. Monthly schedule examples are recurEvery: Month, recurEvery: 2Months, recurEvery: Month day23,day24, recurEvery: Month Last Sunday, recurEvery: Month Fourth Monday.",
          "type": "string"
        }
      }
    },
    "MaintenanceConfigurationProperties": {
      "description": "Properties for maintenance configuration",
      "type": "object",
      "properties": {
        "namespace": {
          "description": "Gets or sets namespace of the resource",
          "type": "string"
        },
        "extensionProperties": {
          "description": "Gets or sets extensionProperties of the maintenanceConfiguration",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maintenanceScope": {
          "description": "Gets or sets maintenanceScope of the configuration",
          "enum": [
            "All",
            "Host",
            "Resource",
            "InResource",
            "OSImage",
            "Extension",
            "InGuestPatch"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "MaintenanceScope",
            "modelAsString": true
          }
        },
        "maintenanceWindow": {
          "$ref": "#/definitions/MaintenanceWindow",
          "description": "Definition of a MaintenanceWindow",
          "x-ms-client-flatten": true
        }
      }
    },
    "MaintenanceConfiguration": {
      "description": "Maintenance configuration record type",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "location": {
          "description": "Gets or sets location of the resource",
          "type": "string"
        },
        "tags": {
          "description": "Gets or sets tags of the resource",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/MaintenanceConfigurationProperties",
          "description": "Gets or sets properties of the resource",
          "x-ms-client-flatten": true
        }
      }
    },
    "ListMaintenanceConfigurationsResult": {
      "description": "Response for MaintenanceConfigurations list",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of maintenance Configurations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MaintenanceConfiguration"
          }
        }
      }
    },
    "OperationsListResult": {
      "description": "Result of the List Operations operation",
      "type": "object",
      "properties": {
        "value": {
          "description": "A collection of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "Operation": {
      "description": "Represents an operation returned by the GetOperations request",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationInfo",
          "description": "Display name of the operation"
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        },
        "properties": {
          "description": "Properties of the operation",
          "type": "object",
          "x-ms-client-flatten": true
        }
      }
    },
    "OperationInfo": {
      "description": "Information about an operation",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Name of the provider",
          "type": "string"
        },
        "resource": {
          "description": "Name of the resource type",
          "type": "string"
        },
        "operation": {
          "description": "Name of the operation",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation",
          "type": "string"
        }
      }
    },
    "MaintenanceError": {
      "description": "An error response received from the Azure Maintenance service.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDetails",
          "description": "Details of the error"
        }
      }
    },
    "ErrorDetails": {
      "description": "An error response details received from the Azure Maintenance service.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
          "type": "string"
        },
        "message": {
          "description": "Human-readable representation of the error.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to be used with the client request.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}