{
  "swagger": "2.0",
  "info": {
    "version": "2020-08-08-preview",
    "title": "DNC",
    "description": "DNC web api provides way to create, get and delete dnc controller"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DelegatedNetwork/orchestratorInstance/{resourceName}": {
      "get": {
        "description": "Gets details about the orchestrator instance.",
        "x-ms-examples": {
          "Get details of a orchestratorInstance": {
            "$ref": "./examples/getOrchestratorInstance.json"
          }
        },
        "tags": [
          "OrchestratorInstance"
        ],
        "operationId": "OrchestratorInstance_GetDetails",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation was successful.",
            "schema": {
              "$ref": "#/definitions/OrchestratorInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create a orchestrator instance",
        "x-ms-examples": {
          "Create orchestrator instance": {
            "$ref": "./examples/putOrchestratorInstance.json"
          }
        },
        "tags": [
          "OrchestratorInstance"
        ],
        "operationId": "orchestratorInstance_Create",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrchestratorInstance"
            },
            "description": "OrchestratorInstance type parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrchestratorInstance"
            }
          },
          "201": {
            "description": "InProgress. The operation is still in progress.",
            "schema": {
              "$ref": "#/definitions/OrchestratorInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "description": "Deletes the Orchestrator Instance",
        "x-ms-examples": {
          "Delete Orchestrator Instance": {
            "$ref": "./examples/deleteOrchestratorInstance.json"
          }
        },
        "tags": [
          "OrchestratorInstance"
        ],
        "operationId": "OrchestratorInstance_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "No Content."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "description": "Update Orchestrator Instance",
        "x-ms-examples": {
          "update Orchestrator Instance": {
            "$ref": "./examples/patchOrchestratorInstance.json"
          }
        },
        "tags": [
          "OrchestratorInstance"
        ],
        "operationId": "OrchestratorInstance_Patch",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceUpdateParameters"
            },
            "description": "OrchestratorInstance update parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrchestratorInstance"
            }
          },
          "201": {
            "description": "InProgress. The operation is still in progress.",
            "schema": {
              "$ref": "#/definitions/OrchestratorInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DelegatedNetwork/orchestratorInstanceList": {
      "get": {
        "tags": [
          "OrchestratorInstances"
        ],
        "description": "Get all the orchestratorInstance resources in a subscription.",
        "operationId": "orchestratorInstance_ListBySubscription",
        "x-ms-examples": {
          "Get orchestratorInstance resources by subscription": {
            "$ref": "./examples/orchestratorInstanceListBySub.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the orchestratorInstance in the subscription.",
            "schema": {
              "$ref": "#/definitions/OrchestratorInstances"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DelegatedNetwork/orchestratorInstanceList": {
      "get": {
        "tags": [
          "OrchestratorInstances"
        ],
        "description": "Get all the OrchestratorInstances resources in a resource group.",
        "operationId": "OrchestratorInstances_ListByResourceGroup",
        "x-ms-examples": {
          "Get OrchestratorInstance resources by resource group": {
            "$ref": "./examples/orchestratorInstanceListByRG.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the orchestratorInstances in the resource group.",
            "schema": {
              "$ref": "#/definitions/OrchestratorInstances"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "Represents an instance of a resource.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "An identifier that represents the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        }
      },
      "x-ms-azure-resource": true
    },
    "ResourceUpdateParameters": {
      "description": "Parameters for updating a resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        }
      }
    },
    "OrchestratorInstances": {
      "description": "An array of OrchestratorInstance resources.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrchestratorInstance"
          },
          "description": "An array of OrchestratorInstance resources."
        }
      },
      "required": [
        "value"
      ]
    },
    "OrchestratorInstance": {
      "description": "Represents an instance of a orchestrator.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "readOnly": true,
          "$ref": "#/definitions/OrchestratorResourceProperties",
          "description": "Properties of the provision operation request."
        }
      }
    },
    "OrchestratorResourceProperties": {
      "description": "Properties of orchestrator",
      "type": "object",
      "properties": {
        "resourceGuid": {
          "type": "string",
          "readOnly": true,
          "description": "Resource guid."
        },
        "state": {
          "type": "string",
          "enum": [
            "Deleting",
            "Succeeded",
            "Failed",
            "Provisioning"
          ],
          "x-ms-enum": {
            "name": "orchestratorInstance state",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "The current state of orchestratorInstance resource."
        },
        "orchestratorInstanceDetails": {
          "description": "orchestrator details",
          "$ref": "#/definitions/OrchestratorInstanceDetails"
        },
        "controllerDetails": {
          "description": "controller details",
          "$ref": "#/definitions/ControllerDetails"
        }
      }
    },
    "OrchestratorInstanceDetails": {
      "description": "Properties of orchestrator",
      "type": "object",
      "properties": {
        "orchestratorType": {
          "description": "AAD ID used with apiserver",
          "type": "string"
        },
        "properties": {
          "description": "orchestrator instance properties",
          "$ref": "#/definitions/OrchestratorInstanceProperties"
        }
      }
    },
    "OrchestratorInstanceProperties": {
      "description": "controller details",
      "type": "object",
      "properties": {
        "orchestratorAppID": {
          "description": "AAD ID used with apiserver",
          "type": "string"
        },
        "orchestratorTenantID": {
          "description": "TenantID of server App ID",
          "type": "string"
        },
        "clusterRootCA": {
          "description": "RootCA certificate of kubernetes cluster",
          "type": "string"
        },
        "apiServerEndpoint": {
          "description": "APIServer url",
          "type": "string"
        }
      }
    },
    "ControllerDetails": {
      "description": "controller details",
      "type": "object",
      "properties": {
        "id": {
          "description": "controller arm resource id",
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "description": "Error description",
          "$ref": "#/definitions/ErrorDefinition"
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The client API version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "The name of the Azure Resource group of which a given DelegatedNetwork resource is part. This name must be at least 1 character in length, and no more than 90."
    },
    "resourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z][a-z0-9]*$",
      "minLength": 3,
      "maxLength": 63,
      "x-ms-parameter-location": "method",
      "description": "The name of the resource. It must be a minimum of 3 characters, and a maximum of 63."
    }
  }
}
