{
  "swagger": "2.0",
  "info": {
    "title": "Azure Communication Services Management API",
    "version": "2025-09-01",
    "description": "REST API for Email Services/Domains/SuppressionLists",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "CommunicationServices"
    },
    {
      "name": "Domains"
    },
    {
      "name": "EmailServices"
    },
    {
      "name": "SenderUsernames"
    },
    {
      "name": "SmtpUsernames"
    },
    {
      "name": "SuppressionLists"
    },
    {
      "name": "SuppressionListAddresses"
    }
  ],
  "paths": {
    "/providers/Microsoft.Communication/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "summary": "List Operations",
        "description": "Lists all of the available REST API operations of the Microsoft.Communication provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/communicationServices/operationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Communication/checkNameAvailability": {
      "post": {
        "operationId": "CommunicationServices_CheckNameAvailability",
        "tags": [
          "CommunicationServices"
        ],
        "summary": "Check Name Availability",
        "description": "Checks that the CommunicationService name is valid and is not already in use.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "nameAvailabilityParameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Check name availability available": {
            "$ref": "./examples/communicationServices/checkNameAvailabilityAvailable.json"
          },
          "Check name availability unavailable": {
            "$ref": "./examples/communicationServices/checkNameAvailabilityUnavailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Communication/communicationServices": {
      "get": {
        "operationId": "CommunicationServices_ListBySubscription",
        "tags": [
          "CommunicationServices"
        ],
        "summary": "List By Subscription",
        "description": "Handles requests to list all resources in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResourceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List by subscription": {
            "$ref": "./examples/communicationServices/listBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Communication/emailServices": {
      "get": {
        "operationId": "EmailServices_ListBySubscription",
        "tags": [
          "EmailServices"
        ],
        "summary": "List By Subscription",
        "description": "Handles requests to list all resources in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmailServiceResourceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List EmailService resources by subscription": {
            "$ref": "./examples/emailServices/listBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Communication/listVerifiedExchangeOnlineDomains": {
      "post": {
        "operationId": "EmailServices_ListVerifiedExchangeOnlineDomains",
        "tags": [
          "EmailServices"
        ],
        "summary": "List Verified Domains From Exchange Online",
        "description": "Get a list of domains that are fully verified in Exchange Online.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VerifiedExchangeOnlineDomainList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get verified Exchange Online domains": {
            "$ref": "./examples/emailServices/getVerifiedExchangeOnlineDomains.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices": {
      "get": {
        "operationId": "CommunicationServices_ListByResourceGroup",
        "tags": [
          "CommunicationServices"
        ],
        "summary": "List By Resource Group",
        "description": "Handles requests to list all resources in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResourceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List by resource group": {
            "$ref": "./examples/communicationServices/listByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}": {
      "get": {
        "operationId": "CommunicationServices_Get",
        "tags": [
          "CommunicationServices"
        ],
        "summary": "Get",
        "description": "Get the CommunicationService and its properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get resource": {
            "$ref": "./examples/communicationServices/get.json"
          }
        }
      },
      "put": {
        "operationId": "CommunicationServices_CreateOrUpdate",
        "tags": [
          "CommunicationServices"
        ],
        "summary": "Create Or Update",
        "description": "Create a new CommunicationService or update an existing CommunicationService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CommunicationServiceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResource"
            }
          },
          "201": {
            "description": "Resource 'CommunicationServiceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update resource": {
            "$ref": "./examples/communicationServices/createOrUpdate.json"
          },
          "Create or update resource with DisableLocalAuth": {
            "$ref": "./examples/communicationServices/createOrUpdateWithDisableLocalAuth.json"
          },
          "Create or update resource with PublicNetworkAccess": {
            "$ref": "./examples/communicationServices/createOrUpdateWithPublicNetworkAccess.json"
          },
          "Create or update resource with managed identity": {
            "$ref": "./examples/communicationServices/createOrUpdateWithSystemAssignedIdentity.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/CommunicationServiceResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CommunicationServices_Update",
        "tags": [
          "CommunicationServices"
        ],
        "summary": "Update",
        "description": "Operation to update an existing CommunicationService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update resource": {
            "$ref": "./examples/communicationServices/update.json"
          },
          "Update resource to add DisableLocalAuth": {
            "$ref": "./examples/communicationServices/updateWithDisableLocalAuth.json"
          },
          "Update resource to add PublicNetworkAccess": {
            "$ref": "./examples/communicationServices/updateWithPublicNetworkAccess.json"
          },
          "Update resource to add System and User managed identities": {
            "$ref": "./examples/communicationServices/updateWithSystemAndUserIdentity.json"
          },
          "Update resource to add a System Assigned managed identity": {
            "$ref": "./examples/communicationServices/updateWithSystemAssignedIdentity.json"
          },
          "Update resource to add a User Assigned managed identity": {
            "$ref": "./examples/communicationServices/updateWithUserAssignedIdentity.json"
          },
          "Update resource to remove identity": {
            "$ref": "./examples/communicationServices/updateRemoveSystemIdentity.json"
          }
        }
      },
      "delete": {
        "operationId": "CommunicationServices_Delete",
        "tags": [
          "CommunicationServices"
        ],
        "summary": "Delete",
        "description": "Operation to delete a CommunicationService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete resource": {
            "$ref": "./examples/communicationServices/delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/linkNotificationHub": {
      "post": {
        "operationId": "CommunicationServices_LinkNotificationHub",
        "tags": [
          "CommunicationServices"
        ],
        "summary": "Link Notification Hub",
        "description": "Links an Azure Notification Hub to this communication service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "linkNotificationHubParameters",
            "in": "body",
            "description": "Parameters supplied to the operation.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LinkNotificationHubParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LinkedNotificationHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Link notification hub": {
            "$ref": "./examples/communicationServices/linkNotificationHub.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/listKeys": {
      "post": {
        "operationId": "CommunicationServices_ListKeys",
        "tags": [
          "CommunicationServices"
        ],
        "summary": "List Keys",
        "description": "Get the access keys of the CommunicationService resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List keys": {
            "$ref": "./examples/communicationServices/listKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/regenerateKey": {
      "post": {
        "operationId": "CommunicationServices_RegenerateKey",
        "tags": [
          "CommunicationServices"
        ],
        "summary": "Regenerate Key",
        "description": "Regenerate CommunicationService access key. PrimaryKey and SecondaryKey cannot be regenerated at the same time.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter that describes the Regenerate Key Operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regenerate key": {
            "$ref": "./examples/communicationServices/regenerateKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/smtpUsernames": {
      "get": {
        "operationId": "SmtpUsernames_List",
        "tags": [
          "SmtpUsernames"
        ],
        "summary": "Get",
        "description": "Get all SmtpUsernameResources for a Communication resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SmtpUsernameResourceCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all SmtpUsername resources for a CommunicationService resource.": {
            "$ref": "./examples/smtpUsername/getAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/smtpUsernames/{smtpUsername}": {
      "get": {
        "operationId": "SmtpUsernames_Get",
        "tags": [
          "SmtpUsernames"
        ],
        "summary": "Get",
        "description": "Get a SmtpUsernameResource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "smtpUsername",
            "in": "path",
            "description": "The name of the SmtpUsernameResource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SmtpUsernameResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a SmtpUsername resource.": {
            "$ref": "./examples/smtpUsername/get.json"
          }
        }
      },
      "put": {
        "operationId": "SmtpUsernames_CreateOrUpdate",
        "tags": [
          "SmtpUsernames"
        ],
        "summary": "Create Or Update",
        "description": "Create or update an SmtpUsernameResource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "smtpUsername",
            "in": "path",
            "description": "The name of the SmtpUsernameResource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SmtpUsernameResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SmtpUsernameResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SmtpUsernameResource"
            }
          },
          "201": {
            "description": "Resource 'SmtpUsernameResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SmtpUsernameResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate SmtpUsername resource": {
            "$ref": "./examples/smtpUsername/createOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "SmtpUsernames_Delete",
        "tags": [
          "SmtpUsernames"
        ],
        "summary": "Delete",
        "description": "Operation to delete a single SmtpUsername resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "smtpUsername",
            "in": "path",
            "description": "The name of the SmtpUsernameResource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a SmtpUsername resource.": {
            "$ref": "./examples/smtpUsername/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices": {
      "get": {
        "operationId": "EmailServices_ListByResourceGroup",
        "tags": [
          "EmailServices"
        ],
        "summary": "List By Resource Group",
        "description": "Handles requests to list all resources in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmailServiceResourceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List EmailService resources by resource group": {
            "$ref": "./examples/emailServices/listByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}": {
      "get": {
        "operationId": "EmailServices_Get",
        "tags": [
          "EmailServices"
        ],
        "summary": "Get",
        "description": "Get the EmailService and its properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get EmailService resource": {
            "$ref": "./examples/emailServices/get.json"
          }
        }
      },
      "put": {
        "operationId": "EmailServices_CreateOrUpdate",
        "tags": [
          "EmailServices"
        ],
        "summary": "Create Or Update",
        "description": "Create a new EmailService or update an existing EmailService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EmailServiceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            }
          },
          "201": {
            "description": "Resource 'EmailServiceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update EmailService resource": {
            "$ref": "./examples/emailServices/createOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/EmailServiceResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EmailServices_Update",
        "tags": [
          "EmailServices"
        ],
        "summary": "Update",
        "description": "Operation to update an existing EmailService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailServiceResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            }
          },
          "201": {
            "description": "Resource 'EmailServiceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update EmailService resource": {
            "$ref": "./examples/emailServices/update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/EmailServiceResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EmailServices_Delete",
        "tags": [
          "EmailServices"
        ],
        "summary": "Delete",
        "description": "Operation to delete a EmailService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete EmailService resource": {
            "$ref": "./examples/emailServices/delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains": {
      "get": {
        "operationId": "Domains_ListByEmailServiceResource",
        "tags": [
          "Domains"
        ],
        "summary": "List by EmailService",
        "description": "Handles requests to list all Domains resources under the parent EmailServices resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainResourceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Domains resources by EmailServiceName": {
            "$ref": "./examples/domains/listByEmailService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}": {
      "get": {
        "operationId": "Domains_Get",
        "tags": [
          "Domains"
        ],
        "summary": "Get",
        "description": "Get the Domains resource and its properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Domains resource": {
            "$ref": "./examples/domains/get.json"
          }
        }
      },
      "put": {
        "operationId": "Domains_CreateOrUpdate",
        "tags": [
          "Domains"
        ],
        "summary": "Create Or Update",
        "description": "Add a new Domains resource under the parent EmailService resource or update an existing Domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DomainResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "201": {
            "description": "Resource 'DomainResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Domains resource": {
            "$ref": "./examples/domains/createOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/DomainResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Domains_Update",
        "tags": [
          "Domains"
        ],
        "summary": "Update",
        "description": "Operation to update an existing Domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDomainRequestParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "201": {
            "description": "Resource 'DomainResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Domains resource": {
            "$ref": "./examples/domains/update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/DomainResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Domains_Delete",
        "tags": [
          "Domains"
        ],
        "summary": "Delete",
        "description": "Operation to delete a Domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Domains resource": {
            "$ref": "./examples/domains/delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/cancelVerification": {
      "post": {
        "operationId": "Domains_CancelVerification",
        "tags": [
          "Domains"
        ],
        "summary": "Cancel Verification",
        "description": "Cancel verification of DNS record.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Type of verification to be canceled.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerificationParameter"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Cancel verification": {
            "$ref": "./examples/domains/cancelVerification.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/initiateVerification": {
      "post": {
        "operationId": "Domains_InitiateVerification",
        "tags": [
          "Domains"
        ],
        "summary": "Initiate Verification",
        "description": "Initiate verification of DNS record.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Type of verification to be initiated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerificationParameter"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Initiate verification": {
            "$ref": "./examples/domains/initiateVerification.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/senderUsernames": {
      "get": {
        "operationId": "SenderUsernames_ListByDomains",
        "tags": [
          "SenderUsernames"
        ],
        "summary": "ListBy_Domains",
        "description": "List all valid sender usernames for a domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SenderUsernameResourceCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SenderUsernames resource": {
            "$ref": "./examples/senderUsernames/listByDomain.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/senderUsernames/{senderUsername}": {
      "get": {
        "operationId": "SenderUsernames_Get",
        "tags": [
          "SenderUsernames"
        ],
        "summary": "Get",
        "description": "Get a valid sender username for a domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "senderUsername",
            "in": "path",
            "description": "The valid sender Username.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SenderUsernameResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SenderUsernames resource": {
            "$ref": "./examples/senderUsernames/get.json"
          }
        }
      },
      "put": {
        "operationId": "SenderUsernames_CreateOrUpdate",
        "tags": [
          "SenderUsernames"
        ],
        "summary": "Create Or Update",
        "description": "Add a new SenderUsername resource under the parent Domains resource or update an existing SenderUsername resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "senderUsername",
            "in": "path",
            "description": "The valid sender Username.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SenderUsernameResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SenderUsernameResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SenderUsernameResource"
            }
          },
          "201": {
            "description": "Resource 'SenderUsernameResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SenderUsernameResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update SenderUsernames resource": {
            "$ref": "./examples/senderUsernames/createOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "SenderUsernames_Delete",
        "tags": [
          "SenderUsernames"
        ],
        "summary": "Delete",
        "description": "Operation to delete a SenderUsernames resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "senderUsername",
            "in": "path",
            "description": "The valid sender Username.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SenderUsernames resource": {
            "$ref": "./examples/senderUsernames/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists": {
      "get": {
        "operationId": "SuppressionLists_ListByDomain",
        "tags": [
          "SuppressionLists"
        ],
        "summary": "List",
        "description": "List all suppression lists for a domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SuppressionListResourceCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all SuppressionLists resources.": {
            "$ref": "./examples/suppressionLists/getSuppressionLists.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}": {
      "get": {
        "operationId": "SuppressionLists_Get",
        "tags": [
          "SuppressionLists"
        ],
        "summary": "Get",
        "description": "Get a SuppressionList resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SuppressionListResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a SuppressionList resource.": {
            "$ref": "./examples/suppressionLists/getSuppressionList.json"
          }
        }
      },
      "put": {
        "operationId": "SuppressionLists_CreateOrUpdate",
        "tags": [
          "SuppressionLists"
        ],
        "summary": "Create Or Update",
        "description": "Add a new SuppressionList resource under the parent Domains resource or update an existing SuppressionList resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuppressionListResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SuppressionListResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SuppressionListResource"
            }
          },
          "201": {
            "description": "Resource 'SuppressionListResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SuppressionListResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate SuppressionLists resource.": {
            "$ref": "./examples/suppressionLists/createOrUpdateSuppressionList.json"
          }
        }
      },
      "delete": {
        "operationId": "SuppressionLists_Delete",
        "tags": [
          "SuppressionLists"
        ],
        "summary": "Delete",
        "description": "Delete a SuppressionList.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a SuppressionLists resource.": {
            "$ref": "./examples/suppressionLists/deleteSuppressionList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}/suppressionListAddresses": {
      "get": {
        "operationId": "SuppressionListAddresses_List",
        "tags": [
          "SuppressionListAddresses"
        ],
        "summary": "Get",
        "description": "Get all the addresses in a suppression list.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SuppressionListAddressResourceCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all SuppressionListAddresses resources for a SuppressionList resource.": {
            "$ref": "./examples/suppressionLists/getAddresses.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}/suppressionListAddresses/{addressId}": {
      "get": {
        "operationId": "SuppressionListAddresses_Get",
        "tags": [
          "SuppressionListAddresses"
        ],
        "summary": "Get",
        "description": "Get a SuppressionListAddress.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The id of the address in a suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SuppressionListAddressResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a SuppressionListAddress resource.": {
            "$ref": "./examples/suppressionLists/getAddress.json"
          }
        }
      },
      "put": {
        "operationId": "SuppressionListAddresses_CreateOrUpdate",
        "tags": [
          "SuppressionListAddresses"
        ],
        "summary": "Create Or Update",
        "description": "Create or update a SuppressionListAddress.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The id of the address in a suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuppressionListAddressResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SuppressionListAddressResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SuppressionListAddressResource"
            }
          },
          "201": {
            "description": "Resource 'SuppressionListAddressResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SuppressionListAddressResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate SuppressionListAddress resource": {
            "$ref": "./examples/suppressionLists/createOrUpdateAddress.json"
          }
        }
      },
      "delete": {
        "operationId": "SuppressionListAddresses_Delete",
        "tags": [
          "SuppressionListAddresses"
        ],
        "summary": "Delete",
        "description": "Operation to delete a single address from a suppression list.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The id of the address in a suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a SuppressionListAddress resource.": {
            "$ref": "./examples/suppressionLists/deleteAddress.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CommunicationServiceKeys": {
      "type": "object",
      "description": "A class representing the access keys of a CommunicationService.",
      "properties": {
        "primaryKey": {
          "type": "string",
          "description": "The primary access key."
        },
        "secondaryKey": {
          "type": "string",
          "description": "The secondary access key."
        },
        "primaryConnectionString": {
          "type": "string",
          "description": "CommunicationService connection string constructed via the primaryKey"
        },
        "secondaryConnectionString": {
          "type": "string",
          "description": "CommunicationService connection string constructed via the secondaryKey"
        }
      }
    },
    "CommunicationServiceProperties": {
      "type": "object",
      "description": "A class that describes the properties of the CommunicationService.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/CommunicationServices_ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "hostName": {
          "type": "string",
          "description": "FQDN of the CommunicationService instance.",
          "readOnly": true
        },
        "dataLocation": {
          "type": "string",
          "description": "The location where the communication service stores its data at rest.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "notificationHubId": {
          "type": "string",
          "description": "Resource ID of an Azure Notification Hub linked to this resource.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Version of the CommunicationService resource. Probably you need the same or higher version of client SDKs.",
          "readOnly": true
        },
        "immutableResourceId": {
          "type": "string",
          "description": "The immutable resource Id of the communication service.",
          "readOnly": true
        },
        "linkedDomains": {
          "$ref": "#/definitions/DomainsResourceList",
          "description": "List of email Domain resource Ids."
        },
        "publicNetworkAccess": {
          "$ref": "../../../../../common-types/resource-management/v6/networksecurityperimeter.json#/definitions/PublicNetworkAccess",
          "description": "Allow, disallow, or let network security perimeter configuration control public network access to the protected resource. Value is optional but if passed in, it must be 'Enabled', 'Disabled' or 'SecuredByPerimeter'."
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Disable local authentication for the CommunicationService.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "dataLocation"
      ]
    },
    "CommunicationServiceResource": {
      "type": "object",
      "description": "A class representing a CommunicationService resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommunicationServiceProperties",
[...]
