{
  "swagger": "2.0",
  "info": {
    "title": "Workloads Client",
    "description": "The workload SAP monitor Client.",
    "version": "2024-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_List",
        "summary": "Gets a list of SAP monitors in the specified subscription.",
        "description": "Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.",
        "x-ms-examples": {
          "List all SAP monitors in a subscription": {
            "$ref": "./examples/Monitors/monitors_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_ListByResourceGroup",
        "summary": "Gets a list of SAP monitors",
        "description": "Gets a list of SAP monitors in the specified resource group.",
        "x-ms-examples": {
          "List all SAP monitors in a resource group": {
            "$ref": "./examples/Monitors/monitors_ListByRG.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}": {
      "get": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_Get",
        "summary": "Gets properties of a SAP monitor.",
        "description": "Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/Monitors/monitors_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Creates a SAP monitor.",
        "description": "Creates a SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Create a SAP monitor": {
            "$ref": "./examples/Monitors/monitors_Create.json"
          },
          "Create a SAP monitor with system assigned identity": {
            "$ref": "./examples/Monitors/monitors_Create_Identity.json"
          },
          "Create a SAP monitor with user assigned identity": {
            "$ref": "./examples/Monitors/monitors_Create_UserAssignedIdentity.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created SAP monitor",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "201": {
            "description": "Creating SAP monitor",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Deletes a SAP monitor.",
        "description": "Deletes a SAP monitor with the specified subscription, resource group, and SAP monitor name.",
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/Monitors/monitors_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Deleting SAP monitor",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "No SAP monitor to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Patches the Tags field of a SAP monitor.",
        "description": "Patches the Tags field of a SAP monitor for the specified subscription, resource group, and SAP monitor name.",
        "x-ms-examples": {
          "Update Tags field of a SAP monitor": {
            "$ref": "./examples/Monitors/monitors_PatchTags.json"
          },
          "Delete Tags field of a SAP monitor": {
            "$ref": "./examples/Monitors/monitors_PatchTags_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "The Update SAP workload monitor request body.",
            "schema": {
              "$ref": "#/definitions/UpdateMonitorRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "202": {
            "description": "Updating SAP monitor",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/providerInstances": {
      "get": {
        "tags": [
          "ProviderInstances"
        ],
        "operationId": "ProviderInstances_List",
        "summary": "Gets a list of provider instances in the specified SAP monitor.",
        "description": "Gets a list of provider instances in the specified SAP monitor. The operations returns various properties of each provider instances.",
        "x-ms-examples": {
          "List all SAP monitors providers in a subscription": {
            "$ref": "./examples/ProviderInstances/ProviderInstances_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderInstanceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alertTemplates": {
      "get": {
        "tags": [
          "AlertTemplates"
        ],
        "operationId": "AlertTemplates_List",
        "summary": "Gets a list of alert templates in the specified SAP monitor.",
        "description": "Gets a list of alert templates in the specified SAP monitor. The operations returns various properties of each alert template.",
        "x-ms-examples": {
          "List all Alert Templates in a monitor": {
            "$ref": "./examples/AlertTemplates/AlertTemplates_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderTypeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AlertTemplatesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alertTemplates/{alertTemplateName}": {
      "get": {
        "tags": [
          "AlertTemplates"
        ],
        "operationId": "AlertTemplates_Get",
        "summary": "Gets properties of an alert template.",
        "description": "Gets properties of an alert template for the specified subscription, resource group, SAP monitor name, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor Alert Template": {
            "$ref": "./examples/AlertTemplates/AlertTemplates_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/AlertTemplateNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AlertTemplate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alerts": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "operationId": "Alerts_List",
        "summary": "Gets a list of alerts in the specified SAP monitor.",
        "description": "Gets a list of alerts in the specified SAP monitor. The operations returns various properties of each alerts.",
        "x-ms-examples": {
          "List all Alerts in a monitor": {
            "$ref": "./examples/Alerts/Alerts_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AlertsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alerts/{alertName}": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "operationId": "Alerts_Get",
        "summary": "Gets properties of a alert.",
        "description": "Gets properties of an alert for the specified subscription, resource group, SAP monitor name, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor Alert": {
            "$ref": "./examples/Alerts/Alerts_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/AlertNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Alerts"
        ],
        "operationId": "Alerts_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Creates an alert.",
        "description": "Creates an alert for the specified subscription, resource group, SAP monitor name, and resource name.",
        "x-ms-examples": {
          "Create a Alert": {
            "$ref": "./examples/Alerts/Alerts_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/AlertNameParameter"
          },
          {
            "$ref": "#/parameters/AlertParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created alert",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "201": {
            "description": "Creating alert",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Alerts"
        ],
        "operationId": "Alerts_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Deletes an alert.",
        "description": "Deletes an alert for the specified subscription, resource group, SAP monitor name, and resource name.",
        "x-ms-examples": {
          "Deletes a SAP monitor alert": {
            "$ref": "./examples/Alerts/Alerts_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/AlertNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Deleting Alert",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "No Alert to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/db2JobConfigurations": {
      "get": {
        "tags": [
          "Db2JobConfigurations"
        ],
        "operationId": "Db2JobConfigurations_List",
        "summary": "Gets a list of DB2 job configurations in the specified SAP monitor.",
        "description": "Gets a list of DB2 job configurations in the specified SAP monitor. The operations returns various properties of each DB2 job configurations.",
        "x-ms-examples": {
          "List all db2 job configurations": {
            "$ref": "./examples/Db2JobConfigurations/Db2JobConfigurations_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/db2JobConfigurationsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/providerInstances/{providerInstanceName}": {
      "get": {
        "tags": [
          "ProviderInstances"
        ],
        "operationId": "ProviderInstances_Get",
        "summary": "Gets properties of a provider instance.",
        "description": "Gets properties of a provider instance for the specified subscription, resource group, SAP monitor name, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor Hana provider": {
            "$ref": "./examples/ProviderInstances/ProviderInstances_Get.json"
          },
          "Get properties of a SAP monitor NetWeaver provider": {
            "$ref": "./examples/NetWeaverProviderInstances/NetWeaverProviderInstances_Get.json"
          },
          "Get properties of a OS provider": {
            "$ref": "./examples/PrometheusOSProviderInstances/PrometheusOSProviderInstances_Get.json"
          },
          "Get properties of a Db2 provider": {
            "$ref": "./examples/Db2ProviderInstances/Db2ProviderInstances_Get.json"
          },
          "Get properties of a Oracle provider": {
            "$ref": "./examples/OracleProviderInstances/OracleProviderInstances_Get.json"
          },
          "Get properties of a MsSqlServer provider": {
            "$ref": "./examples/MsSqlServerProviderInstance/MsSqlServerProviderInstance_Get.json"
          },
          "Get properties of a PrometheusHaCluster provider": {
            "$ref": "./examples/PrometheusHaClusterProviderInstances/PrometheusHaClusterProviderInstances_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ProviderInstances"
        ],
        "operationId": "ProviderInstances_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Creates a provider instance.",
        "description": "Creates a provider instance for the specified subscription, resource group, SAP monitor name, and resource name.",
        "x-ms-examples": {
          "Create a SAP monitor Hana provider": {
            "$ref": "./examples/ProviderInstances/ProviderInstances_Create.json"
          },
          "Create a SAP monitor NetWeaver provider": {
            "$ref": "./examples/NetWeaverProviderInstances/NetWeaverProviderInstances_Create.json"
          },
          "Create a OS provider": {
            "$ref": "./examples/PrometheusOSProviderInstances/PrometheusOSProviderInstances_Create.json"
          },
          "Create a Db2 provider": {
            "$ref": "./examples/Db2ProviderInstances/Db2ProviderInstances_Create.json"
          },
          "Create a Oracle provider": {
            "$ref": "./examples/OracleProviderInstances/OracleProviderInstances_Create.json"
          },
          "Create a MsSqlServer provider": {
            "$ref": "./examples/MsSqlServerProviderInstance/MsSqlServerProviderInstance_Create.json"
          },
          "Create a PrometheusHaCluster provider": {
            "$ref": "./examples/PrometheusHaClusterProviderInstances/PrometheusHaClusterProviderInstances_Create.json"
          },
          "Create a SAP monitor Hana provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances/ProviderInstances_Create_Root_Certificate.json"
          },
          "Create a SAP monitor NetWeaver provider with Root Certificate": {
            "$ref": "./examples/NetWeaverProviderInstances/NetWeaverProviderInstances_Create_Root_Certificate.json"
          },
          "Create a OS provider with Root Certificate": {
            "$ref": "./examples/PrometheusOSProviderInstances/PrometheusOSProviderInstances_Create_Root_Certificate.json"
          },
          "Create a Db2 provider with Root Certificate": {
            "$ref": "./examples/Db2ProviderInstances/Db2ProviderInstances_Create_Root_Certificate.json"
          },
          "Create a Oracle provider with Root Certificate": {
            "$ref": "./examples/OracleProviderInstances/OracleProviderInstances_Create_Root_Certificate.json"
          },
          "Create a MsSqlServer provider with Root Certificate": {
            "$ref": "./examples/MsSqlServerProviderInstance/MsSqlServerProviderInstance_Create_Root_Certificate.json"
          },
          "Create a PrometheusHaCluster provider with Root Certificate": {
            "$ref": "./examples/PrometheusHaClusterProviderInstances/PrometheusHaClusterProviderInstances_Create_Root_Certificate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created provider instance",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "201": {
            "description": "Creating provider instance",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ProviderInstances"
        ],
        "operationId": "ProviderInstances_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Deletes a provider instance.",
        "description": "Deletes a provider instance for the specified subscription, resource group, SAP monitor name, and resource name.",
        "x-ms-examples": {
          "Deletes a SAP monitor provider": {
            "$ref": "./examples/ProviderInstances/ProviderInstances_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Deleting provider instance",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "No provider instance to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/db2JobConfigurations/{jobConfigurationName}": {
      "get": {
        "tags": [
          "Db2JobConfigurations"
        ],
        "operationId": "Db2JobConfigurations_Get",
        "summary": "Gets db2 job configurations.",
        "description": "Gets db2 job configuration for the specified subscription, resource group, SAP monitor name and job configurations name.",
        "x-ms-examples": {
          "Get db2 job configuration": {
            "$ref": "./examples/Db2JobConfigurations/Db2JobConfigurations_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/jobConfigurationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/db2JobConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Db2JobConfigurations"
        ],
        "operationId": "Db2JobConfigurations_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Create db2 job configuration.",
        "description": "Create db2 job configuration for the specified subscription, resource group, SAP monitor name and job configurations Name",
        "x-ms-examples": {
          "Create db2 job configuration": {
            "$ref": "./examples/Db2JobConfigurations/Db2JobConfigurations_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/jobConfigurationNameParameter"
          },
          {
            "$ref": "#/parameters/db2JobConfigurationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created DB2 job configurations",
            "schema": {
              "$ref": "#/definitions/db2JobConfiguration"
            }
          },
          "201": {
            "description": "Creating DB2 job configurations",
            "schema": {
              "$ref": "#/definitions/db2JobConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Db2JobConfigurations"
        ],
        "operationId": "Db2JobConfigurations_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Delete db2 job configuration.",
        "description": "Delete db2 job configuration for the specified subscription, resource group, SAP monitor name, and job configurations Name.",
        "x-ms-examples": {
          "Delete db2 job configuration": {
            "$ref": "./examples/Db2JobConfigurations/Db2JobConfigurations_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/jobConfigurationNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Deleting DB2 job configurations",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "No DB2 job configurations to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/sapLandscapeMonitor/default": {
      "get": {
        "tags": [
          "SapLandscapeMonitor"
        ],
        "operationId": "SapLandscapeMonitor_Get",
        "summary": "Gets configuration values for Single Pane Of Glass for SAP monitor.",
        "description": "Gets configuration values for Single Pane Of Glass for SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/SapLandscapeMonitor/SapLandscapeMonitor_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SapLandscapeMonitor"
        ],
        "operationId": "SapLandscapeMonitor_Create",
        "summary": "Creates a SAP Landscape Monitor Dashboard.",
        "description": "Creates a SAP Landscape Monitor Dashboard for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Create for SAP Landscape monitor Dashboard": {
            "$ref": "./examples/SapLandscapeMonitor/SapLandscapeMonitor_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/SapLandscapeMonitorParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated SAP Landscape Monitor Dashboard.",
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitor"
            }
          },
          "201": {
            "description": "Creating SAP Landscape Monitor Dashboard",
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SapLandscapeMonitor"
        ],
        "operationId": "SapLandscapeMonitor_Delete",
        "summary": "Deletes a SAP Landscape Monitor Dashboard.",
        "description": "Deletes a SAP Landscape Monitor Dashboard with the specified subscription, resource group, and SAP monitor name.",
        "x-ms-examples": {
          "Deletes SAP monitor": {
            "$ref": "./examples/SapLandscapeMonitor/SapLandscapeMonitor_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete SAP Landscape Monitor Dashboard"
          },
          "204": {
            "description": "SAP Landscape Monitor Dashboard is already deleted or not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SapLandscapeMonitor"
        ],
        "operationId": "SapLandscapeMonitor_Update",
        "summary": "Patches the SAP Landscape Monitor Dashboard.",
        "description": "Patches the SAP Landscape Monitor Dashboard for the specified subscription, resource group, and SAP monitor name.",
        "x-ms-examples": {
          "Update SAP monitor": {
            "$ref": "./examples/SapLandscapeMonitor/SapLandscapeMonitor_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/SapLandscapeMonitorParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/sapLandscapeMonitor": {
      "get": {
        "tags": [
          "SapLandscapeMonitor"
        ],
        "operationId": "SapLandscapeMonitor_List",
        "summary": "Gets configuration values for Single Pane Of Glass for SAP monitor.",
        "description": "Gets configuration values for Single Pane Of Glass for SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/SapLandscapeMonitor/SapLandscapeMonitor_List.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapLandscapeMonitorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "HealthState": {
      "readOnly": true,
      "type": "string",
      "enum": [
        "Healthy",
        "Degraded",
        "Unavailable",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "WorkloadProviderInstanceHealthState",
        "modelAsString": true
      },
      "description": "State of health of the provider instance"
    },
    "Health": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "healthState": {
          "description": "Health state of the resource",
          "$ref": "#/definitions/HealthState"
        },
        "impactingReasons": {
          "readOnly": true,
          "type": "string",
          "description": "Reasons impacting health state"
        }
      },
      "description": "Resource health details"
    },
    "SslPreference": {
      "description": "Gets or sets certificate preference if secure communication is enabled.",
      "type": "string",
      "enum": [
        "Disabled",
        "RootCertificate",
        "ServerCertificate"
      ],
      "x-ms-enum": {
        "name": "sslPreference",
        "modelAsString": true
      }
    },
    "JobConfigurationType": {
      "description": "Gets or sets job configuration type.",
      "type": "string",
      "enum": [
        "BuiltIn",
        "Custom"
      ],
      "x-ms-enum": {
        "name": "jobConfigurationType",
        "modelAsString": true
      }
    },
    "ManagedRGConfiguration": {
      "description": "Managed resource group configuration",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Managed resource group name"
        }
      }
    },
    "AppServicePlanConfiguration": {
      "description": "Configuration details of app service plan",
      "type": "object",
      "properties": {
        "tier": {
          "type": "string",
          "description": "The App Service plan tier.",
          "enum": [
            "ElasticPremium",
            "PremiumV3"
          ],
          "x-ms-enum": {
            "name": "AppServicePlanTier",
            "modelAsString": true,
            "values": [
              {
                "name": "ElasticPremium",
                "value": "ElasticPremium",
                "description": "Elastic Premium plan"
              },
              {
                "name": "PremiumV3",
                "value": "PremiumV3",
                "description": "Dedicated Premium v3 plan"
              }
            ]
          }
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The number of workers in app service plan. If this is not set or set to 0, auto scale will be configured for the app service plan, otherwise, instance count is set to this number.",
          "minimum": 0
        }
      }
    },
    "Tags": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags field of the resource."
        }
      },
      "description": "Tags field of the resource."
    },
    "MonitorListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Monitor"
          },
          "description": "The list of SAP monitors."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of SAP monitors."
        }
      },
      "description": "The response from the List SAP monitors operation."
    },
    "Monitor": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "../../../common-types/v2/commonTypes.json#/definitions/ManagedServiceIdentity"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MonitorProperties",
          "description": "SAP monitor properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "SAP monitor info on Azure (ARM properties and SAP monitor properties)"
    },
    "MonitorProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "WorkloadMonitorProvisioningState",
            "modelAsString": true
          },
          "description": "State of provisioning of the SAP monitor."
        },
        "errors": {
          "description": "Defines the SAP monitor errors.",
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "readOnly": true
        },
        "appLocation": {
          "type": "string",
          "description": "The SAP monitor resources will be deployed in the SAP monitoring region. The subnet region should be same as the SAP monitoring region."
        },
        "routingPreference": {
          "type": "string",
          "description": "Sets the routing preference of the SAP monitor. By default only RFC1918 traffic is routed to the customer VNET.",
          "enum": [
            "Default",
            "RouteAll"
          ],
          "x-ms-enum": {
            "name": "RoutingPreference",
            "modelAsString": true
          }
        },
        "zoneRedundancyPreference": {
          "type": "string",
          "description": "Sets the preference for zone redundancy on resources created for the SAP monitor. By default resources will be created which do not support zone redundancy."
        },
        "managedResourceGroupConfiguration": {
          "description": "Managed resource group configuration",
          "$ref": "#/definitions/ManagedRGConfiguration"
        },
        "logAnalyticsWorkspaceArmId": {
          "type": "string",
          "description": "The ARM ID of the Log Analytics Workspace that is used for SAP monitoring."
        },
        "monitorSubnet": {
          "type": "string",
          "description": "The subnet which the SAP monitor will be deployed in"
        },
        "appServicePlanConfiguration": {
          "description": "App service plan configuration",
          "$ref": "#/definitions/AppServicePlanConfiguration"
        },
        "msiArmId": {
          "readOnly": true,
          "type": "string",
          "description": "The ARM ID of the MSI used for SAP monitoring."
        },
        "storageAccountArmId": {
          "readOnly": true,
          "type": "string",
          "description": "The ARM ID of the Storage account used for SAP monitoring."
        }
      },
      "description": "Describes the properties of a SAP monitor."
    },
    "UpdateMonitorRequest": {
      "description": "Defines the request body for updating SAP monitor resource.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Gets or sets the Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../common-types/v2/commonTypes.json#/definitions/ManagedServiceIdentity"
        }
      }
    },
    "ProviderInstanceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderInstance"
          },
          "description": "The list of provider instances."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of provider instances."
        }
      },
      "description": "The response from the List provider instances operation."
    },
    "OracleProviderInstanceProperties": {
      "description": "Gets or sets the Oracle provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "hostname": {
          "description": "Gets or sets the target virtual machine name.",
          "type": "string"
        },
        "dbName": {
          "description": "Gets or sets the oracle database name.",
          "type": "string"
        },
        "dbPort": {
          "description": "Gets or sets the oracle database sql port.",
          "type": "string"
        },
        "dbUsername": {
          "description": "Gets or sets the oracle database user name.",
          "type": "string"
        },
        "dbPassword": {
          "description": "Gets or sets the oracle database password.",
          "type": "string",
          "x-ms-secret": true
        },
        "dbPasswordUri": {
          "description": "Gets or sets the key vault URI to secret with the database password.",
          "type": "string"
        },
        "sapSid": {
          "description": "Gets or sets the SAP System Identifier",
          "type": "string"
        },
        "sslPreference": {
          "$ref": "#/definitions/SslPreference"
        },
        "sslCertificateUri": {
          "description": "Gets or sets the blob URI to SSL certificate for the Oracle Database.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "Oracle"
    },
    "AlertsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Alert"
          },
          "description": "The list of alerts of the SAP monitor resource."
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The URL to get the next set of alert instances."
        }
      },
      "description": "The response from the List alerts operation."
    },
    "Alert": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AlertProperties",
          "description": "Alert Instance properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A alert associated with SAP monitor."
    },
    "AlertProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "AlertProvisioningState",
            "modelAsString": true
          },
          "description": "State of provisioning of the alert instance"
        },
        "errors": {
          "description": "Defines the alert instance errors.",
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "readOnly": true
        },
        "templateName": {
          "type": "string",
          "description": "Name of the alert template from which it was created."
        },
        "alertRuleResourceId": {
          "type": "string",
          "format": "arm-id",
          "readOnly": true,
          "description": "ID of the alert rule resource created."
        },
        "providerType": {
          "type": "string",
          "description": "The provider type for alert. For example, the value can be SapHana."
        },
        "providerNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of provider instances associated with the alert."
        },
        "alertRuleProperties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AlertRuleProperties",
          "description": "Alert properties"
        }
      },
      "description": "Describes the properties of a alert instance."
    },
    "AlertRuleProperties": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "alertRuleStatus",
            "modelAsString": true
          },
          "description": "The value which indicates whether this scheduled query rule is enabled. Value should be enabled or disabled"
        },
        "severity": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 4,
          "description": "Severity of the alert. Should be an integer between [0-4]. Value of 0 is severest."
        },
        "actionGroups": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "arm-id"
          },
          "description": "Action Group resource Ids to invoke when the alert fires"
        },
        "threshold": {
          "type": "integer",
          "format": "int32",
          "description": "the criteria threshold value that activates the alert"
        },
        "thresholdOperator": {
          "$ref": "#/definitions/ConditionalOperator",
          "description": "Evaluation Operator for Threshold."
        },
        "windowSize": {
          "type": "integer",
          "format": "int32",
          "description": "The period of time on which the Alert query will be executed"
        },
        "evaluationFrequency": {
          "type": "integer",
          "format": "int32",
          "description": "How often the scheduled query rule is evaluated."
        },
        "failingPeriodsToAlert": {
          "type": "integer",
          "format": "int32",
          "description": "The number of failing periods to trigger an alert."
        },
        "failingPeriodsOperator": {
          "$ref": "#/definitions/ConditionalOperator",
          "description": "Evaluation Operator for Failing Periods."
        },
        "muteActionsDuration": {
          "type": "integer",
          "format": "int32",
          "default": 0,
          "description": "Mute actions for the chosen period of time after the alert is fired"
        },
        "autoMitigate": {
          "type": "string",
          "enum": [
            "Enable",
            "Disable"
          ],
          "x-ms-enum": {
            "name": "alertAutoMitigate",
            "modelAsString": true
          },
          "default": "Disable",
          "description": "The value that indicates whether the alert should be automatically resolved or not. The default is Disable."
        },
        "dimension": {
          "type": "string",
          "default": "",
          "description": "Evaluation of metric on a particular column"
        },
        "alertQueryParameters": {
          "description": "Defines the alert query parameters.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AlertQueryParameter"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "description": "Describes the properties of a alert."
    },
    "ConditionalOperator": {
      "type": "string",
      "enum": [
        "LessThan",
        "GreaterThan",
        "Equal",
        "GreaterThanOrEqual",
        "LessThanOrEqual"
      ],
      "x-ms-enum": {
        "name": "conditionalOperator",
        "modelAsString": true
      },
      "description": "Result Condition Evaluation Criteria"
    },
    "AlertQueryParameter": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the alert query param."
        },
        "value": {
          "type": "string",
          "description": "The value of the alert query param."
        }
      },
      "description": "Describes the Alert Query Parameter properties in alert."
    },
    "AlertTemplatesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AlertTemplate"
          },
          "description": "The list of alert templates."
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The URL to get the next set of alert templates."
        }
      },
      "description": "The response from the List alert templates operation."
    },
    "AlertTemplate": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AlertTemplateProperties",
          "description": "Alert Template properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A alert template associated with SAP monitor."
    },
    "AlertTemplateProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "AlertTemplateProvisioningState",
            "modelAsString": true
          },
          "description": "Provisioning state of the alert template"
        },
        "templateDisplayName": {
          "type": "string",
          "description": "Display name of the alert template."
        },
        "providerType": {
          "type": "string",
          "description": "The provider type for alert template. For example, the value can be SapHana."
        },
        "description": {
          "type": "string",
          "description": "Short Description of the alert template."
        },
        "severity": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 4,
          "description": "Severity of the alert. Should be an integer between [0-4]. Value of 0 is most severe and value of 4 is least severe."
        },
        "query": {
          "type": "string",
          "description": "Query Associated with the Alert Template"
        },
        "thresholdOperator": {
          "$ref": "#/definitions/ConditionalOperator",
          "description": "Evaluation Operator for Alert Template Threshold."
        },
        "defaultThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Default Threshold Value Associated with the Alert Template"
        },
        "lowerBound": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum possible Default Threshold Value Associated with the Alert Template"
        },
        "upperBound": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum possible Default Threshold Value Associated with the Alert Template"
        },
        "defaultThresholdInputOption": {
          "type": "string",
          "enum": [
            "Required",
            "NotRequired",
            "Optional"
          ],
          "x-ms-enum": {
            "name": "defaultThresholdInputOption",
            "modelAsString": true
          },
          "description": "Is input required for Default Threshold Value Associated with the Alert Template"
        },
        "alertUnit": {
          "type": "string",
          "description": "Alert Unit Value Associated with the Alert Template"
        },
        "metricMeasurement": {
          "description": "Defines the metric measurement properties.",
          "$ref": "#/definitions/AlertTemplateMetricMeasurement"
        },
        "queryInputParameters": {
          "description": "Defines the query input properties.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AlertTemplateQueryInputParameter"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "description": "Describes the properties of a alert template."
    },
    "AlertTemplateMetricMeasurement": {
      "type": "object",
      "properties": {
        "thresholdOperator": {
          "type": "string",
          "enum": [
            "LessThan",
            "GreaterThan",
            "Equal",
            "GreaterThanOrEqual",
            "LessThanOrEqual"
          ],
          "x-ms-enum": {
            "name": "alertTemplateThresholdOperatorMetricMeasurement",
            "modelAsString": true
          },
          "description": "Threshold Operator for the alert template [Metric Measurement]"
        },
        "threshold": {
          "type": "integer",
          "format": "int32",
          "description": "The Threshold Value Associated with the Alert Template for Metric Measurement"
        },
        "metricTriggerType": {
          "type": "string",
          "enum": [
            "Consecutive",
            "Total"
          ],
          "x-ms-enum": {
            "name": "alertTemplateMetricTriggerType",
            "modelAsString": true
          },
          "description": "Metric Trigger Type Associated with the Alert Template for Metric Measurement"
        },
        "metricColumn": {
          "type": "string",
          "description": "Metric Column Associated with the Alert Template for Metric Measurement"
        },
        "frequencyInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Frequency (mins) value Associated with the Alert Template for Metric Measurement"
        },
        "timeWindowInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Time Window (mins) Value Associated with the Alert Template for Metric Measurement"
        }
      },
      "description": "Describes the properties for metric measurement in alerts template."
    },
    "AlertTemplateQueryInputParameter": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the Query Input Parameter",
          "enum": [
            "LogAnalyticsQuery",
            "ProviderProperty",
            "CustomInput"
          ],
          "x-ms-enum": {
            "name": "alertTemplateParameterType",
            "modelAsString": true
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the Query Input Parameter"
        },
        "description": {
          "type": "string",
          "description": "Description of the Query Input Parameter"
        },
        "defaultValue": {
          "type": "string",
          "description": "Default Value of the Query Input Parameter"
        },
        "laQuery": {
          "type": "string",
          "description": "Query of the Query Input Parameter"
        },
        "selectionMode": {
          "type": "string",
          "description": "Selection Mode of the Query Input Parameter",
          "enum": [
            "Single",
            "Multiple"
          ],
          "x-ms-enum": {
            "name": "alertTemplateSelectionMode",
            "modelAsString": true
          }
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the Query Input Parameter"
        }
      },
      "description": "Describes the Query Input Parameter properties in alerts template."
    },
    "db2JobConfigurationsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/db2JobConfiguration"
          },
          "description": "The list of db2 Job Configurations."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of db2 Job Configurations."
        }
      },
      "description": "The response from the List db2 Job Configurations operation."
    },
    "ProviderInstance": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProviderInstanceProperties",
          "description": "Provider Instance properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A provider instance associated with SAP monitor."
    },
    "db2JobConfiguration": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/db2JobConfigurationsProperties",
          "description": "DB2 job configurations properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A DB2 job configurations associated with SAP monitor."
    },
    "HanaDbProviderInstanceProperties": {
      "description": "Gets or sets the provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "hostname": {
          "description": "Gets or sets the target virtual machine size.",
          "type": "string"
        },
        "dbName": {
          "description": "Gets or sets the hana database name.",
          "type": "string"
        },
        "sqlPort": {
          "description": "Gets or sets the database sql port.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Gets or sets the database instance number.",
          "type": "string"
        },
        "dbUsername": {
          "description": "Gets or sets the database user name.",
          "type": "string"
        },
        "dbPassword": {
          "description": "Gets or sets the database password.",
          "type": "string",
          "x-ms-secret": true
        },
        "dbPasswordUri": {
          "description": "Gets or sets the key vault URI to secret with the database password.",
          "type": "string"
        },
        "sslCertificateUri": {
          "description": "Gets or sets the blob URI to SSL certificate for the DB.",
          "type": "string"
        },
        "sslHostNameInCertificate": {
          "description": "Gets or sets the hostname(s) in the SSL certificate.",
          "type": "string"
        },
        "sslPreference": {
          "$ref": "#/definitions/SslPreference"
        },
        "sapSid": {
          "description": "Gets or sets the SAP System Identifier.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "SapHana"
    },
    "SapNetWeaverProviderInstanceProperties": {
      "description": "Gets or sets the provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "sapSid": {
          "description": "Gets or sets the SAP System Identifier",
          "type": "string"
        },
        "sapHostname": {
          "description": "Gets or sets the target virtual machine IP Address/FQDN.",
          "type": "string"
        },
        "sapInstanceNr": {
          "description": "Gets or sets the instance number of SAP NetWeaver.",
          "type": "string"
        },
        "sapHostFileEntries": {
          "description": "Gets or sets the list of HostFile Entries",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sapUsername": {
          "description": "Gets or sets the SAP user name.",
          "type": "string"
        },
        "sapPassword": {
          "description": "Sets the SAP password.",
          "type": "string",
          "x-ms-secret": true
        },
        "sapPasswordUri": {
          "description": "Gets or sets the key vault URI to secret with the SAP password.",
          "type": "string"
        },
        "sapClientId": {
          "description": "Gets or sets the SAP Client ID.",
          "type": "string"
        },
        "sapPortNumber": {
          "description": "Gets or sets the SAP HTTP port number.",
          "type": "string"
        },
        "sslCertificateUri": {
          "description": "Gets or sets the blob URI to SSL certificate for the SAP system.",
          "type": "string"
        },
        "sslPreference": {
          "$ref": "#/definitions/SslPreference"
        }
      },
      "x-ms-discriminator-value": "SapNetWeaver"
    },
    "PrometheusOSProviderInstanceProperties": {
      "description": "Gets or sets the PrometheusOS provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "prometheusUrl": {
          "description": "URL of the Node Exporter endpoint",
          "type": "string"
        },
        "sslPreference": {
          "$ref": "#/definitions/SslPreference"
        },
        "sslCertificateUri": {
          "description": "Gets or sets the blob URI to SSL certificate for the prometheus node exporter.",
          "type": "string"
        },
        "sapSid": {
          "description": "Gets or sets the SAP System Identifier",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "PrometheusOS"
    },
    "DB2ProviderInstanceProperties": {
      "description": "Gets or sets the DB2 provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "hostname": {
          "description": "Gets or sets the target virtual machine name.",
          "type": "string"
        },
        "dbName": {
          "description": "Gets or sets the db2 database name.",
          "type": "string"
        },
        "dbPort": {
          "description": "Gets or sets the db2 database sql port.",
          "type": "string"
        },
        "dbUsername": {
          "description": "Gets or sets the db2 database user name.",
          "type": "string"
        },
        "dbPassword": {
          "description": "Gets or sets the db2 database password.",
          "type": "string",
          "x-ms-secret": true
        },
        "dbPasswordUri": {
          "description": "Gets or sets the key vault URI to secret with the database password.",
          "type": "string"
        },
        "sapSid": {
          "description": "Gets or sets the SAP System Identifier",
          "type": "string"
        },
        "sslPreference": {
          "$ref": "#/definitions/SslPreference"
        },
        "sslCertificateUri": {
          "description": "Gets or sets the blob URI to SSL certificate for the DB2 Database.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "Db2"
    },
    "PrometheusHaClusterProviderInstanceProperties": {
      "description": "Gets or sets the PrometheusHaCluster provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "prometheusUrl": {
          "description": "URL of the Node Exporter endpoint.",
          "type": "string"
        },
        "hostname": {
          "description": "Gets or sets the target machine name.",
          "type": "string"
        },
        "sid": {
          "description": "Gets or sets the cluster sid.",
          "type": "string"
        },
        "clusterName": {
          "description": "Gets or sets the clusterName.",
          "type": "string"
        },
        "sslPreference": {
          "$ref": "#/definitions/SslPreference"
        },
        "sslCertificateUri": {
          "description": "Gets or sets the blob URI to SSL certificate for the HA cluster exporter.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "PrometheusHaCluster"
    },
    "MsSqlServerProviderInstanceProperties": {
      "description": "Gets or sets the SQL server provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "hostname": {
          "description": "Gets or sets the SQL server host name.",
          "type": "string"
        },
        "dbPort": {
          "description": "Gets or sets the database sql port.",
          "type": "string"
        },
        "dbUsername": {
          "description": "Gets or sets the database user name.",
          "type": "string"
        },
        "dbPassword": {
          "description": "Gets or sets the database password.",
          "type": "string",
          "x-ms-secret": true
        },
        "dbPasswordUri": {
          "description": "Gets or sets the key vault URI to secret with the database password.",
          "type": "string"
        },
        "sapSid": {
          "description": "Gets or sets the SAP System Identifier",
          "type": "string"
        },
        "sslPreference": {
          "$ref": "#/definitions/SslPreference"
        },
        "sslCertificateUri": {
          "description": "Gets or sets the blob URI to SSL certificate for the SQL Database.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "MsSqlServer"
    },
    "ProviderSpecificProperties": {
      "description": "Gets or sets the provider specific properties.",
      "type": "object",
      "required": [
        "providerType"
      ],
      "properties": {
        "providerType": {
          "description": "The provider type. For example, the value can be SapHana.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "providerType"
    },
    "ProviderInstanceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "WorkloadMonitorProvisioningState",
            "modelAsString": true
          },
          "description": "State of provisioning of the provider instance"
        },
        "health": {
          "readOnly": true,
          "description": "Resource health details",
          "$ref": "#/definitions/Health"
        },
        "errors": {
          "description": "Defines the provider instance errors.",
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "readOnly": true
        },
        "providerSettings": {
          "description": "Defines the provider specific properties.",
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      },
      "description": "Describes the properties of a provider instance."
    },
    "db2JobConfigurationsProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "WorkloadMonitorProvisioningState",
            "modelAsString": true
          },
          "description": "State of provisioning of the DB2 job configurations."
        },
        "metricName": {
          "description": "Gets or sets the name of the DB2 job configurations.",
          "type": "string"
        },
        "metricDimensions": {
          "description": "Gets or sets the list of dimensions for the DB2 job configurations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customLogTable": {
          "description": "Gets or sets the name of the custom log table used to store data in log Analytics.",
          "type": "string"
        },
        "defaultFrequencyInSecs": {
          "description": "Gets or sets the value of the default frequency of execution for the job.",
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 86400
        },
        "type": {
          "description": "Gets or sets the type for the job configuration.",
          "$ref": "#/definitions/JobConfigurationType"
        },
        "parameters": {
          "description": "Gets or sets the list of Configuration parameters.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/configurationParameter"
          },
          "maxLength": 50,
          "x-ms-identifiers": []
        },
        "actions": {
          "description": "Gets or sets the list of actions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/actionsParameter"
          },
          "maxLength": 50,
          "x-ms-identifiers": []
        }
      }
    },
    "actionsParameter": {
      "description": "Gets or sets the list of action parameter",
      "type": "object",
      "properties": {
        "functionName": {
          "description": "Gets or sets the function Name",
          "type": "string"
        },
        "parameters": {
          "description": "Gets or sets the list of function Name.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/configurationParameter"
          },
          "maxLength": 50,
          "x-ms-identifiers": []
        }
      }
    },
    "configurationParameter": {
      "description": "Gets or sets list of configuration Parameter",
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets name of configuration",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets value of configuration parameter ",
          "type": "string"
        }
      }
    },
    "SapLandscapeMonitorMetricThresholds": {
      "description": "Gets or sets the Threshold Values for Top Metrics Health.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets the name of the threshold.",
          "type": "string"
        },
        "green": {
          "description": "Gets or sets the threshold value for Green.",
          "type": "number"
        },
        "yellow": {
          "description": "Gets or sets the threshold value for Yellow.",
          "type": "number"
        },
        "red": {
          "description": "Gets or sets the threshold value for Red.",
          "type": "number"
        }
      }
    },
    "SapLandscapeMonitorSidMapping": {
      "description": "Gets or sets the mapping for SID to Environment/Applications.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets the name of the grouping.",
          "type": "string"
        },
        "topSid": {
          "description": "Gets or sets the list of SID's.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "maxLength": 50
        }
      }
    },
    "SapLandscapeMonitorListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SapLandscapeMonitor"
          },
          "description": "The list of Sap Landscape Monitor configuration."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of SAP Landscape Monitor Dashboard."
        }
      },
      "description": "The response from the List SAP Landscape Monitor Dashboard operation."
    },
    "SapLandscapeMonitor": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SapLandscapeMonitorProperties",
          "description": "Sap Landscape Monitor properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "configuration associated with SAP Landscape Monitor Dashboard."
    },
    "SapLandscapeMonitorProperties": {
      "description": "Gets or sets the properties for Sap Landscape Monitor Dashboard.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Created",
            "Failed",
            "Succeeded",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "SapLandscapeMonitorProvisioningState",
            "modelAsString": true
          },
          "description": "State of provisioning of the SAP monitor."
        },
        "grouping": {
          "description": "Gets or sets the SID groupings by landscape and Environment.",
          "type": "object",
          "properties": {
            "landscape": {
              "description": "Gets or sets the list of landscape to SID mappings.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/SapLandscapeMonitorSidMapping"
              },
              "maxLength": 50,
              "x-ms-identifiers": [
                "name"
              ]
            },
            "sapApplication": {
              "description": "Gets or sets the list of Sap Applications to SID mappings.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/SapLandscapeMonitorSidMapping"
              },
              "maxLength": 50,
              "x-ms-identifiers": [
                "name"
              ]
            }
          }
        },
        "topMetricsThresholds": {
          "description": "Gets or sets the list Top Metric Thresholds for SAP Landscape Monitor Dashboard",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SapLandscapeMonitorMetricThresholds"
          },
          "maxLength": 50,
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    }
  },
  "parameters": {
    "monitorNameParameter": {
      "name": "monitorName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9-_]+$",
      "description": "Name of the SAP monitor resource.",
      "x-ms-parameter-location": "method"
    },
    "ProviderTypeParameter": {
      "name": "providerType",
      "in": "query",
      "type": "string",
      "description": "The provider type for filtering alert templates.",
      "minLength": 1
    },
    "AlertNameParameter": {
      "name": "alertName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[^<>*%&:\\?/{}#]*$",
      "minLength": 1,
      "description": "Name of the SAP monitor alert resource.",
      "x-ms-parameter-location": "method"
    },
    "AlertTemplateNameParameter": {
      "name": "alertTemplateName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9-_]+$",
      "minLength": 1,
      "description": "SAP monitor alert template resource name.",
      "x-ms-parameter-location": "method"
    },
    "ProviderInstanceNameParameter": {
      "name": "providerInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9-_]+$",
      "description": "Name of the provider instance.",
      "x-ms-parameter-location": "method"
    },
    "jobConfigurationNameParameter": {
      "name": "jobConfigurationName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9-_]+$",
      "description": "Name of the job configuration.",
      "x-ms-parameter-location": "method"
    },
    "MonitorParameter": {
      "name": "MonitorParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Monitor"
      },
      "description": "Request body representing a SAP monitor",
      "x-ms-parameter-location": "method"
    },
    "AlertParameter": {
      "name": "alertParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Alert"
      },
      "description": "Request body representing a SAP monitor's alert resource",
      "x-ms-parameter-location": "method"
    },
    "ProviderInstanceParameter": {
      "name": "providerInstanceParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ProviderInstance"
      }
    },
    "db2JobConfigurationParameter": {
      "name": "db2JobConfigurationsParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/db2JobConfiguration"
      },
      "description": "Request body representing a DB2 job configurations",
      "x-ms-parameter-location": "method"
    },
    "SapLandscapeMonitorParameter": {
      "name": "sapLandscapeMonitorParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/SapLandscapeMonitor"
      },
      "description": "Request body representing a configuration for Sap Landscape Monitor Dashboard",
      "x-ms-parameter-location": "method"
    }
  }
}
