{
  "swagger": "2.0",
  "info": {
    "version": "2018-11-01-preview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts": {
      "get": {
        "tags": [
          "BillingAccounts"
        ],
        "x-ms-examples": {
          "BillingAccountsList": {
            "$ref": "./examples/BillingAccountsList.json"
          },
          "BillingAccountsListWithExpand": {
            "$ref": "./examples/BillingAccountsListWithExpand.json"
          },
          "BillingAccountsListWithExpandForEnrollmentDetails": {
            "$ref": "./examples/BillingAccountsListWithExpandForEnrollmentDetails.json"
          }
        },
        "operationId": "BillingAccounts_List",
        "description": "Lists all billing accounts for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the invoiceSections and billingProfiles.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/listBillingAccountsWithCreateInvoiceSectionPermission": {
      "get": {
        "tags": [
          "BillingAccounts"
        ],
        "x-ms-examples": {
          "BillingAccountsListWithCreateInvoiceSectionPermission": {
            "$ref": "./examples/BillingAccountsListWithCreateInvoiceSectionPermission.json"
          }
        },
        "operationId": "BillingAccountsWithCreateInvoiceSectionPermission_List",
        "description": "Lists all billing accounts with create invoiceSection permission for a user.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the invoiceSections and billingProfiles.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}": {
      "get": {
        "tags": [
          "BillingAccounts"
        ],
        "x-ms-examples": {
          "BillingAccounts": {
            "$ref": "./examples/BillingAccount.json"
          },
          "BillingAccountWithExpand": {
            "$ref": "./examples/BillingAccountWithExpand.json"
          },
          "BillingAccountsListWithExpandForEnrollmentDetails": {
            "$ref": "./examples/BillingAccountsListWithExpandForEnrollmentDetails.json"
          }
        },
        "operationId": "BillingAccounts_Get",
        "description": "Get the billing account by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the invoiceSections and billingProfiles.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/availableBalance/default": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "AvailableBalanceByBillingProfile_Get",
        "description": "The latest available credit balance for a given billingAccountName and billingProfileName.",
        "x-ms-examples": {
          "AvailableBalanceByBillingProfile": {
            "$ref": "./examples/AvailableBalanceByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailableBalance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/paymentMethods": {
      "get": {
        "tags": [
          "PaymentMethods"
        ],
        "operationId": "PaymentMethodsByBillingProfile_List",
        "description": "Lists the Payment Methods by billing profile Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "PaymentMethodsListByBillingProfile": {
            "$ref": "./examples/PaymentMethodsListByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PaymentMethodsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles": {
      "get": {
        "tags": [
          "BillingProfiles"
        ],
        "x-ms-examples": {
          "BillingProfilesListByBillingAccountName": {
            "$ref": "./examples/BillingProfilesListByBillingAccountName.json"
          }
        },
        "operationId": "BillingProfilesByBillingAccountName_List",
        "description": "Lists all billing profiles for a user which that user has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the invoiceSections.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}": {
      "get": {
        "tags": [
          "BillingProfiles"
        ],
        "x-ms-examples": {
          "BillingProfile": {
            "$ref": "./examples/BillingProfile.json"
          }
        },
        "operationId": "BillingProfiles_Get",
        "description": "Get the billing profile by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the invoiceSections.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BillingProfiles"
        ],
        "operationId": "BillingProfiles_Update",
        "x-ms-long-running-operation": true,
        "description": "The operation to update a billing profile.",
        "x-ms-examples": {
          "UpdateBillingProfile": {
            "$ref": "./examples/UpdateBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            },
            "description": "Parameters supplied to the update billing profile operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "202": {
            "description": "Accepted. Billing profile update is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections": {
      "get": {
        "tags": [
          "InvoiceSections"
        ],
        "x-ms-examples": {
          "InvoiceSectionsListByBillingAccountName": {
            "$ref": "./examples/InvoiceSectionsListByBillingAccountName.json"
          },
          "InvoiceSectionsListByBillingAccountNameWithExpand": {
            "$ref": "./examples/InvoiceSectionsListByBillingAccountNameWithExpand.json"
          }
        },
        "operationId": "InvoiceSectionsByBillingAccountName_List",
        "description": "Lists all invoice sections for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the billingProfiles.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSectionListResult"
            }
          },
          "202": {
            "description": "Accepted. InvoiceSection creation is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "InvoiceSections"
        ],
        "operationId": "InvoiceSections_Create",
        "x-ms-long-running-operation": true,
        "description": "The operation to create a InvoiceSection.",
        "x-ms-examples": {
          "CreateInvoiceSection": {
            "$ref": "./examples/CreateInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvoiceSectionProperties"
            },
            "description": "Parameters supplied to the Create InvoiceSection operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "type": "integer"
              },
              "Azure-AsyncOperation": {
                "description": "URI to poll for the operation status",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/listInvoiceSectionsWithCreateSubscriptionPermission": {
      "get": {
        "tags": [
          "InvoiceSections"
        ],
        "x-ms-examples": {
          "InvoiceSectionsListByBillingAccountNameWithCreateSubPermission": {
            "$ref": "./examples/InvoiceSectionsListByBillingAccountNameWithCreateSubPermission.json"
          },
          "InvoiceSectionsListByBillingAccountNameWithExpandAndCreateSubPermission": {
            "$ref": "./examples/InvoiceSectionsListByBillingAccountNameWithExpandAndCreateSubPermission.json"
          }
        },
        "operationId": "InvoiceSectionsWithCreateSubscriptionPermission_List",
        "description": "Lists all invoiceSections with create subscription permission for a user.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the billingProfiles.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSectionListResult"
            }
          },
          "202": {
            "description": "Accepted. InvoiceSection creation is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}": {
      "get": {
        "tags": [
          "InvoiceSections"
        ],
        "x-ms-examples": {
          "InvoiceSection": {
            "$ref": "./examples/InvoiceSection.json"
          },
          "InvoiceSectionWithExpand": {
            "$ref": "./examples/InvoiceSectionWithExpand.json"
          }
        },
        "operationId": "InvoiceSections_Get",
        "description": "Get the InvoiceSection by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the billingProfiles.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "InvoiceSections"
        ],
        "operationId": "InvoiceSections_Update",
        "x-ms-long-running-operation": true,
        "description": "The operation to update a InvoiceSection.",
        "x-ms-examples": {
          "UpdateInvoiceSection": {
            "$ref": "./examples/UpdateInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            },
            "description": "Parameters supplied to the Create InvoiceSection operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            }
          },
          "202": {
            "description": "Accepted. InvoiceSection update is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments": {
      "get": {
        "tags": [
          "Departments"
        ],
        "x-ms-examples": {
          "DepartmentsListByBillingAccountName": {
            "$ref": "./examples/DepartmentsListByBillingAccountName.json"
          },
          "DepartmentsListByBillingAccountNameWithExpand": {
            "$ref": "./examples/DepartmentsListByBillingAccountNameWithExpand.json"
          }
        },
        "operationId": "DepartmentsByBillingAccountName_List",
        "description": "Lists all departments for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the enrollmentAccounts.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DepartmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments/{departmentName}": {
      "get": {
        "tags": [
          "Departments"
        ],
        "x-ms-examples": {
          "Department": {
            "$ref": "./examples/Department.json"
          },
          "DepartmentWithExpand": {
            "$ref": "./examples/DepartmentWithExpand.json"
          }
        },
        "operationId": "Departments_Get",
        "description": "Get the department by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/departmentNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the enrollmentAccounts.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Department"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountsListByBillingAccountName": {
            "$ref": "./examples/EnrollmentAccountsListByBillingAccountName.json"
          },
          "EnrollmentAccountsListByBillingAccountNameWithExpand": {
            "$ref": "./examples/EnrollmentAccountsListByBillingAccountNameWithExpand.json"
          }
        },
        "operationId": "EnrollmentAccountsByBillingAccountName_List",
        "description": "Lists all Enrollment Accounts for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the department.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts/{enrollmentAccountName}": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccount": {
            "$ref": "./examples/EnrollmentAccount.json"
          },
          "EnrollmentAccountWithExpand": {
            "$ref": "./examples/EnrollmentAccountWithExpand.json"
          }
        },
        "operationId": "EnrollmentAccounts_GetByEnrollmentAccountAccountId",
        "description": "Get the enrollment account by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the Department.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "x-ms-examples": {
          "BillingAccountInvoicesList": {
            "$ref": "./examples/BillingAccountInvoicesList.json"
          }
        },
        "operationId": "InvoicesByBillingAccount_List",
        "description": "List of invoices for a billing account.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "periodStartDate",
            "description": "Invoice period start date.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "periodEndDate",
            "description": "Invoice period end date.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoices/{invoiceName}/pricesheet/default/download": {
      "post": {
        "tags": [
          "Pricesheets"
        ],
        "x-ms-examples": {
          "PricesheetDownload": {
            "$ref": "./examples/PricesheetDownload.json"
          }
        },
        "operationId": "InvoicePricesheet_Download",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "description": "Get pricesheet data for invoice id (invoiceName).",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "billingAccountName",
            "in": "path",
            "description": "Azure Billing Account ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoiceName",
            "description": "The name of an invoice resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "To get the progress of the operation, call GET operation on the URL in Azure-AsyncOperation header field.",
                "type": "string"
              },
              "OData-EntityId": {
                "description": "The operation entity Id GUID.",
                "type": "string"
              }
            }
          },
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "x-ms-examples": {
          "InvoicesListByBillingProfile": {
            "$ref": "./examples/InvoicesListByBillingProfile.json"
          }
        },
        "operationId": "InvoicesByBillingProfile_List",
        "description": "List of invoices for a billing profile.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "periodStartDate",
            "description": "Invoice period start date.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "periodEndDate",
            "description": "Invoice period end date.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoices/{invoiceName}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "x-ms-examples": {
          "Invoice": {
            "$ref": "./examples/Invoice.json"
          }
        },
        "operationId": "Invoice_Get",
        "description": "Get the invoice by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingSubscriptions": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "ProductsByBillingSubscriptions_List",
        "description": "Lists billing subscriptions by billingAccountName.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByBillingAccount": {
            "$ref": "./examples/BillingSubscriptionsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscriptionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfile/{billingProfileName}/billingSubscriptions": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "BillingSubscriptionsByBillingProfile_List",
        "description": "Lists billing subscriptions by billingProfileName.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByBillingProfile": {
            "$ref": "./examples/BillingSubscriptionsListByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscriptionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/billingSubscriptions": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "BillingSubscriptionsByInvoiceSection_List",
        "description": "Lists billing subscription by invoiceSectionName.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByInvoiceSection": {
            "$ref": "./examples/BillingSubscriptionsListByInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscriptionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "BillingSubscription_Get",
        "description": "Get a single billing subscription by name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "BillingSubscription": {
            "$ref": "./examples/BillingSubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/billingSubscriptionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscriptionSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}/transfer": {
      "post": {
        "description": "Transfers the GTM subscription from one invoice section to another within a billing account.",
        "operationId": "BillingSubscription_Transfer",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "TransferBillingSubscription": {
            "$ref": "./examples/TransferBillingSubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/billingSubscriptionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransferBillingSubscriptionRequestProperties"
            },
            "description": "Parameters supplied to the Transfer Billing Subscription operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TransferBillingSubscriptionResult"
            }
          },
          "202": {
            "description": "Accepted. Billing Subscription transfer is in progress.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "type": "integer"
              },
              "Azure-AsyncOperation": {
                "description": "URI to poll for the operation status",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "ProductsByBillingAccount_List",
        "description": "Lists products by billingAccountName.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ProductsListByBillingAccount": {
            "$ref": "./examples/ProductsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by product type. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "ProductsByInvoiceSection_List",
        "description": "Lists products by invoiceSectionName.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ProductsListByInvoiceSection": {
            "$ref": "./examples/ProductsListByInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by product type. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/products/{productName}": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_Get",
        "description": "Get a single product by name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "Product": {
            "$ref": "./examples/Product.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/productNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/products/{productName}/transfer": {
      "post": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_Transfer",
        "description": "The operation to transfer a Product to another InvoiceSection.",
        "x-ms-examples": {
          "TransferProduct": {
            "$ref": "./examples/TransferProduct.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/productNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransferProductRequestProperties"
            },
            "description": "Parameters supplied to the Transfer Product operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductSummary"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "type": "integer"
              },
              "Azure-AsyncOperation": {
                "description": "URI to poll for the operation status",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "TransactionsByBillingAccount_List",
        "description": "Lists the transactions by billingAccountName for given start and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "TransactionsListByBillingAccount": {
            "$ref": "./examples/TransactionsListByBillingAccount.json"
          },
          "ReservationTransactionsListByBillingAccount": {
            "$ref": "./examples/ReservationTransactionsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date",
            "required": true,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by transaction kind. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TransactionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "TransactionsByBillingProfile",
        "description": "Lists the transactions by billingProfileName for given start date and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "TransactionsListByBillingProfile": {
            "$ref": "./examples/TransactionsListByBillingProfile.json"
          },
          "ReservationTransactionsListByBillingProfile": {
            "$ref": "./examples/ReservationTransactionsListByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date",
            "required": true,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by transaction kind. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TransactionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/policies/default": {
      "get": {
        "tags": [
          "Policy"
        ],
        "operationId": "Policy_GetByBillingProfile",
        "description": "The policy for a given billingAccountName and billingProfileName.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "PolicyByBillingProfile": {
            "$ref": "./examples/Policy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policy"
        ],
        "operationId": "Policy_Update",
        "description": "The operation to update a policy.",
        "x-ms-examples": {
          "UpdateBillingProfile": {
            "$ref": "./examples/UpdatePolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Policy"
            },
            "description": "Parameters supplied to the update policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingProperty": {
      "get": {
        "tags": [
          "BillingProperty"
        ],
        "operationId": "BillingProperty_Get",
        "description": "Get billing property by subscription Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "BillingProperty": {
            "$ref": "./examples/BillingProperty.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProperty"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/products/{productName}/updateAutoRenew": {
      "post": {
        "tags": [
          "Products"
        ],
        "operationId": "UpdateAutoRenewForBillingAccount",
        "description": "Cancel product by product id",
        "x-ms-examples": {
          "ProductsCancelByBillingAccount": {
            "$ref": "./examples/ProductCancelByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/productNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/updateAutoRenewRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UpdateAutoRenewOperationSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/products/{productName}/updateAutoRenew": {
      "post": {
        "tags": [
          "Products"
        ],
        "operationId": "UpdateAutoRenewForInvoiceSection",
        "description": "Cancel auto renew for product by product id",
        "x-ms-examples": {
          "CancelProductForInvoiceSection": {
            "$ref": "./examples/ProductCancelForInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/productNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/updateAutoRenewRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UpdateAutoRenewOperationSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/initiateTransfer": {
      "post": {
        "description": "Initiates the request to transfer the GTM or legacy subscriptions or RIs to GTM.",
        "operationId": "Transfers_Initiate",
        "x-ms-examples": {
          "InitiateTransfer": {
            "$ref": "./examples/InitiateTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/initiateTransferRequestParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Initiated transfer details.",
            "schema": {
              "$ref": "#/definitions/TransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/transfers/{transferName}": {
      "get": {
        "description": "Gets the transfer details for given transfer Id.",
        "operationId": "Transfers_Get",
        "x-ms-examples": {
          "TransferGet": {
            "$ref": "./examples/GetTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/transferNameParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of transfer.",
            "schema": {
              "$ref": "#/definitions/TransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Cancels the transfer for given transfer Id.",
        "operationId": "Transfers_Cancel",
        "x-ms-examples": {
          "TransferCancel": {
            "$ref": "./examples/CancelTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/transferNameParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of canceled transfer.",
            "schema": {
              "$ref": "#/definitions/TransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/transfers": {
      "get": {
        "description": "Lists all transfer's details initiated from given invoice section.",
        "operationId": "Transfers_List",
        "x-ms-examples": {
          "TransfersList": {
            "$ref": "./examples/ListTransfers.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "List of transfers initiated from this invoice section.",
            "schema": {
              "$ref": "#/definitions/TransferDetailsListResult"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/transfers/{transferName}/acceptTransfer": {
      "post": {
        "summary": "Accepts the transfer with given transfer Id.",
        "operationId": "RecipientTransfers_Accept",
        "x-ms-examples": {
          "AcceptTransfer": {
            "$ref": "./examples/AcceptTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/transferNameParameter"
          },
          {
            "$ref": "#/parameters/acceptTransferRequestParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of the accepted transfer.",
            "schema": {
              "$ref": "#/definitions/RecipientTransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/transfers/{transferName}/declineTransfer": {
      "post": {
        "summary": "Declines the transfer with given transfer Id.",
        "operationId": "RecipientTransfers_Decline",
        "x-ms-examples": {
          "DeclineTransfer": {
            "$ref": "./examples/DeclineTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/transferNameParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of the declined transfer.",
            "schema": {
              "$ref": "#/definitions/RecipientTransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/transfers/{transferName}/": {
      "get": {
        "summary": "Gets the transfer with given transfer Id.",
        "operationId": "RecipientTransfers_Get",
        "x-ms-examples": {
          "RecipientTransferGet": {
            "$ref": "./examples/GetRecipientTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/transferNameParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of the transfers with given Id.",
            "schema": {
              "$ref": "#/definitions/RecipientTransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/transfers": {
      "get": {
        "summary": "Lists the transfers received by caller.",
        "operationId": "RecipientTransfers_List",
        "x-ms-examples": {
          "RecipientTransfersList": {
            "$ref": "./examples/ListRecipientTransfers.json"
          }
        },
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "List of transfers received by caller.",
            "schema": {
              "$ref": "#/definitions/RecipientTransferDetailsListResult"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available billing REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/billingPermissions": {
      "get": {
        "tags": [
          "billingPermissions"
        ],
        "x-ms-examples": {
          "BillingAccountPermissionsList": {
            "$ref": "./examples/BillingAccountPermissionsList.json"
          }
        },
        "operationId": "BillingAccountBillingPermissions_List",
        "description": "Lists all billingPermissions for the caller has for a billing account.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Billing/billingPermissions": {
      "get": {
        "tags": [
          "billingPermissions"
        ],
        "x-ms-examples": {
          "InvoiceSectionPermissionsList": {
            "$ref": "./examples/InvoiceSectionPermissionsList.json"
          }
        },
        "operationId": "InvoiceSectionsBillingPermissions_List",
        "description": "Lists all billingPermissions for the caller has for a Invoice Section.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingPermissions": {
      "get": {
        "tags": [
          "billingPermissions"
        ],
        "x-ms-examples": {
          "BillingProfilePermissionsList": {
            "$ref": "./examples/BillingProfilePermissionsList.json"
          }
        },
        "operationId": "BillingProfileBillingPermissions_List",
        "description": "Lists all billingPermissions for the caller has for a billing account.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/billingRoleDefinitions/{billingRoleDefinitionName}": {
      "get": {
        "tags": [
          "billingRoleDefinition"
        ],
        "x-ms-examples": {
          "BillingAccountRoleDefinition": {
            "$ref": "./examples/BillingAccountRoleDefinition.json"
          }
        },
        "operationId": "BillingAccountBillingRoleDefinition_Get",
        "description": "Gets the role definition for a role",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingRoleDefinitionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Billing/billingRoleDefinitions/{billingRoleDefinitionName}": {
      "get": {
        "tags": [
          "billingRoleDefinition"
        ],
        "x-ms-examples": {
          "InvoiceSectionRoleDefinition": {
            "$ref": "./examples/InvoiceSectionRoleDefinition.json"
          }
        },
        "operationId": "InvoiceSectionBillingRoleDefinition_Get",
        "description": "Gets the role definition for a role",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/billingRoleDefinitionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleDefinitions/{billingRoleDefinitionName}": {
      "get": {
        "tags": [
          "billingRoleDefinition"
        ],
        "x-ms-examples": {
          "BillingProfileRoleDefinition": {
            "$ref": "./examples/BillingProfileRoleDefinition.json"
          }
        },
        "operationId": "BillingProfileBillingRoleDefinition_Get",
        "description": "Gets the role definition for a role",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/billingRoleDefinitionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/billingRoleDefinitions": {
      "get": {
        "tags": [
          "billingRoleDefinition"
        ],
        "x-ms-examples": {
          "BillingAccountRoleDefinitionsList": {
            "$ref": "./examples/BillingAccountRoleDefinitionsList.json"
          }
        },
        "operationId": "BillingAccountBillingRoleDefinition_List",
        "description": "Lists the role definition for a billing account",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Billing/billingRoleDefinitions": {
      "get": {
        "tags": [
          "billingRoleDefinition"
        ],
        "x-ms-examples": {
          "InvoiceSectionRoleDefinitionsList": {
            "$ref": "./examples/InvoiceSectionRoleDefinitionsList.json"
          }
        },
        "operationId": "InvoiceSectionBillingRoleDefinition_List",
        "description": "Lists the role definition for a invoice Section",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleDefinitions": {
      "get": {
        "tags": [
          "billingRoleDefinition"
        ],
        "x-ms-examples": {
          "BillingProfileRoleDefinitionsList": {
            "$ref": "./examples/BillingProfileRoleDefinitionsList.json"
          }
        },
        "operationId": "BillingProfileBillingRoleDefinition_List",
        "description": "Lists the role definition for a Billing Profile",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/billingRoleAssignments/{billingRoleAssignmentName}": {
      "get": {
        "tags": [
          "billingRoleAssignment"
        ],
        "x-ms-examples": {
          "BillingAccountRoleAssignment": {
            "$ref": "./examples/BillingAccountRoleAssignment.json"
          }
        },
        "operationId": "BillingAccountBillingRoleAssignment_Get",
        "description": "Get the role assignment for the caller",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "billingRoleAssignment"
        ],
        "x-ms-examples": {
          "BillingAccountRoleAssignmentDelete": {
            "$ref": "./examples/BillingAccountRoleAssignmentDelete.json"
          }
        },
        "operationId": "BillingAccountBillingRoleAssignment_Delete",
        "description": "Delete the role assignment on this billing account",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Billing/billingRoleAssignments/{billingRoleAssignmentName}": {
      "get": {
        "tags": [
          "billingRoleAssignment"
        ],
        "x-ms-examples": {
          "InvoiceSectionRoleAssignment": {
            "$ref": "./examples/InvoiceSectionRoleAssignment.json"
          }
        },
        "operationId": "InvoiceSectionBillingRoleAssignment_Get",
        "description": "Get the role assignment for the caller on the invoice Section",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "billingRoleAssignment"
        ],
        "x-ms-examples": {
          "InvoiceSectionRoleAssignmentDelete": {
            "$ref": "./examples/InvoiceSectionRoleAssignmentDelete.json"
          }
        },
        "operationId": "InvoiceSectionBillingRoleAssignment_Delete",
        "description": "Delete the role assignment on this invoice Section",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleAssignments/{billingRoleAssignmentName}": {
      "get": {
        "tags": [
          "billingRoleAssignment"
        ],
        "x-ms-examples": {
          "BillingProfileRoleAssignment": {
            "$ref": "./examples/BillingProfileRoleAssignment.json"
          }
        },
        "operationId": "BillingProfileBillingRoleAssignment_Get",
        "description": "Get the role assignment for the caller on the Billing Profile",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "billingRoleAssignment"
        ],
        "x-ms-examples": {
          "BillingProfileRoleAssignmentDelete": {
            "$ref": "./examples/BillingProfileRoleAssignmentDelete.json"
          }
        },
        "operationId": "BillingProfileBillingRoleAssignment_Delete",
        "description": "Delete the role assignment on this Billing Profile",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/billingRoleAssignments": {
      "get": {
        "tags": [
          "billingRoleAssignment"
        ],
        "x-ms-examples": {
          "BillingAccountRoleAssignmentList": {
            "$ref": "./examples/BillingAccountRoleAssignmentList.json"
          }
        },
        "operationId": "BillingAccountBillingRoleAssignment_List",
        "description": "Get the role assignments on the Billing Account",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/createBillingRoleAssignment": {
      "post": {
        "tags": [
          "billingRoleAssignment"
        ],
        "operationId": "BillingAccountBillingRoleAssignment_Add",
        "description": "The operation to add a role assignment to a billing account.",
        "x-ms-examples": {
          "AddRoleAssignmentToBillingAccount": {
            "$ref": "./examples/AddRoleAssignmentToBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentPayload"
            },
            "description": "Parameters supplied to add a role assignment."
          }
        ],
        "responses": {
          "201": {
            "description": "Role assignment is successfully created",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Billing/billingRoleAssignments": {
      "get": {
        "tags": [
          "billingRoleAssignment"
        ],
        "x-ms-examples": {
          "InvoiceSectionRoleAssignmentList": {
            "$ref": "./examples/InvoiceSectionRoleAssignmentList.json"
          }
        },
        "operationId": "InvoiceSectionBillingRoleAssignment_List",
        "description": "Get the role assignments on the invoice Section",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Billing/createBillingRoleAssignment": {
      "post": {
        "tags": [
          "billingRoleAssignment"
        ],
        "operationId": "InvoiceSectionBillingRoleAssignment_Add",
        "description": "The operation to add a role assignment to a invoice Section.",
        "x-ms-examples": {
          "AddRoleAssignmentToInvoiceSection": {
            "$ref": "./examples/AddRoleAssignmentToInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentPayload"
            },
            "description": "Parameters supplied to add a role assignment."
          }
        ],
        "responses": {
          "201": {
            "description": "Role assignment is successfully created",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleAssignments": {
      "get": {
        "tags": [
          "billingRoleAssignment"
        ],
        "x-ms-examples": {
          "BillingProfileRoleAssignmentList": {
            "$ref": "./examples/BillingProfileRoleAssignmentList.json"
          }
        },
        "operationId": "BillingProfileBillingRoleAssignment_List",
        "description": "Get the role assignments on the Billing Profile",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/createBillingRoleAssignment": {
      "post": {
        "tags": [
          "billingRoleAssignment"
        ],
        "operationId": "BillingProfileBillingRoleAssignment_Add",
        "description": "The operation to add a role assignment to a billing profile.",
        "x-ms-examples": {
          "AddRoleAssignmentToBillingProfile": {
            "$ref": "./examples/AddRoleAssignmentToBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentPayload"
            },
            "description": "Parameters supplied to add a role assignment."
          }
        ],
        "responses": {
          "201": {
            "description": "Role assignment is successfully created",
            "schema": {
              "$ref": "#/definitions/BillingRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "InitiateTransferRequest": {
      "type": "object",
      "description": "Request parameters to initiate transfer.",
      "properties": {
        "properties": {
          "description": "Request parameters to initiate transfer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InitiateTransferProperties"
        }
      }
    },
    "InitiateTransferProperties": {
      "type": "object",
      "description": "Request parameters to initiate transfer.",
      "properties": {
        "billingProfileId": {
          "type": "string",
          "description": "Target Usage context for devTest subscriptions."
        },
        "recipientEmailId": {
          "type": "string",
          "description": "Email Id of recipient for transfer."
        }
      }
    },
    "AcceptTransferRequest": {
      "type": "object",
      "description": "Request parameters to accept transfer.",
      "properties": {
        "properties": {
          "description": "Request parameters to accept transfer.",
          "x-ms-client-flatten": true,
[...]
