{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.GcpConnector",
    "version": "2027-01-01",
    "description": "Microsoft.GcpConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ContainerClusters"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.GcpConnector/containerClusters": {
      "get": {
        "operationId": "ContainerClusters_List",
        "tags": [
          "ContainerClusters"
        ],
        "description": "List ContainerCluster resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContainerClusters_List": {
            "$ref": "./examples/ContainerClusters_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.GcpConnector/containerClusters/default": {
      "get": {
        "operationId": "ContainerClusters_Get",
        "tags": [
          "ContainerClusters"
        ],
        "description": "Get a ContainerCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContainerClusters_Get": {
            "$ref": "./examples/ContainerClusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ContainerClusters_CreateOrReplace",
        "tags": [
          "ContainerClusters"
        ],
        "description": "Create a ContainerCluster. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContainerCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          },
          "201": {
            "description": "Resource 'ContainerCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContainerClusters_CreateOrReplace": {
            "$ref": "./examples/ContainerClusters_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ContainerClusters_Delete",
        "tags": [
          "ContainerClusters"
        ],
        "description": "Delete a ContainerCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContainerClusters_Delete": {
            "$ref": "./examples/ContainerClusters_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AcceleratorConfig": {
      "type": "object",
      "description": "Configuration for hardware accelerators attached to each node",
      "properties": {
        "acceleratorCount": {
          "type": "string",
          "description": "The number of the accelerator cards exposed to an instance"
        },
        "acceleratorType": {
          "type": "string",
          "description": "The accelerator type resource name"
        },
        "gpuPartitionSize": {
          "type": "string",
          "description": "Size of partitions to create on the GPU"
        },
        "gpuSharingConfig": {
          "$ref": "#/definitions/GpuSharingConfig",
          "description": "The configuration for GPU sharing options"
        },
        "gpuDriverInstallationConfig": {
          "$ref": "#/definitions/GpuDriverInstallationConfig",
          "description": "The configuration for auto-installing GPU driver"
        }
      }
    },
    "AccessTypes": {
      "type": "string",
      "description": "ControlPlaneEndpointsConfig.accessTypes values, as defined by the Google Cloud API.",
      "enum": [
        "ACCESS_TYPE_UNSPECIFIED",
        "PUBLIC",
        "PRIVATE",
        "SERVERLESS"
      ],
      "x-ms-enum": {
        "name": "AccessTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "ACCESS_TYPE_UNSPECIFIED",
            "value": "ACCESS_TYPE_UNSPECIFIED",
            "description": "access type unspecified"
          },
          {
            "name": "PUBLIC",
            "value": "PUBLIC",
            "description": "public"
          },
          {
            "name": "PRIVATE",
            "value": "PRIVATE",
            "description": "private"
          },
          {
            "name": "SERVERLESS",
            "value": "SERVERLESS",
            "description": "serverless"
          }
        ]
      }
    },
    "AdditionalNodeNetworkConfig": {
      "type": "object",
      "description": "Configuration for additional node network interfaces.",
      "properties": {
        "network": {
          "type": "string",
          "description": "Name of the VPC where the additional interface belongs."
        },
        "subnetwork": {
          "type": "string",
          "description": "Name of the subnetwork where the additional interface belongs."
        }
      }
    },
    "AdditionalPodNetworkConfig": {
      "type": "object",
      "description": "Configuration for additional pod network interfaces.",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "Name of the subnetwork where the additional pod network belongs."
        },
        "secondaryPodRange": {
          "type": "string",
          "description": "Name of the secondary range on the subnetwork."
        },
        "maxPodsPerNode": {
          "$ref": "#/definitions/MaxPodsConstraint",
          "description": "The maximum number of pods per node which use this pod network."
        }
      }
    },
    "AdditionalPodRangesConfig": {
      "type": "object",
      "description": "AdditionalPodRangesConfig is the configuration for additional pod secondary ranges supporting the ClusterUpdate message.",
      "properties": {
        "podRangeInfo": {
          "type": "array",
          "description": "Output only. [Output only] Information for additional pod range.",
          "items": {
            "$ref": "#/definitions/RangeInfo"
          },
          "x-ms-identifiers": []
        },
        "podRangeNames": {
          "type": "array",
          "description": "Name for pod secondary ipv4 range which has the actual range defined ahead.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AddonsConfig": {
      "type": "object",
      "description": "Configuration for the addons that can be automatically enabled",
      "properties": {
        "httpLoadBalancing": {
          "$ref": "#/definitions/HttpLoadBalancing",
          "description": "Configuration for the HTTP Load Balancing addon"
        },
        "horizontalPodAutoscaling": {
          "$ref": "#/definitions/HorizontalPodAutoscaling",
          "description": "Configuration for the Horizontal Pod Autoscaling addon"
        },
        "kubernetesDashboard": {
          "$ref": "#/definitions/KubernetesDashboard",
          "description": "Configuration for the Kubernetes Dashboard addon"
        },
        "networkPolicyConfig": {
          "$ref": "#/definitions/NetworkPolicyConfig",
          "description": "Configuration for the Network Policy addon"
        },
        "cloudRunConfig": {
          "$ref": "#/definitions/CloudRunConfig",
          "description": "Configuration for the Cloud Run addon"
        },
        "dnsCacheConfig": {
          "$ref": "#/definitions/DnsCacheConfig",
          "description": "Configuration for the DNS Cache addon"
        },
        "configConnectorConfig": {
          "$ref": "#/definitions/ConfigConnectorConfig",
          "description": "Configuration for the Config Connector addon"
        },
        "gcePersistentDiskCsiDriverConfig": {
          "$ref": "#/definitions/GcePersistentDiskCsiDriverConfig",
          "description": "Configuration for the GCE Persistent Disk CSI Driver addon"
        },
        "gcpFilestoreCsiDriverConfig": {
          "$ref": "#/definitions/GcpFilestoreCsiDriverConfig",
          "description": "Configuration for the GCP Filestore CSI Driver addon"
        },
        "gkeBackupAgentConfig": {
          "$ref": "#/definitions/GkeBackupAgentConfig",
          "description": "Configuration for the GKE Backup Agent addon"
        },
        "gcsFuseCsiDriverConfig": {
          "$ref": "#/definitions/GcsFuseCsiDriverConfig",
          "description": "Configuration for the GCS Fuse CSI Driver addon"
        },
        "statefulHaConfig": {
          "$ref": "#/definitions/StatefulHaConfig",
          "description": "Configuration for the Stateful HA addon"
        },
        "parallelstoreCsiDriverConfig": {
          "$ref": "#/definitions/ParallelstoreCsiDriverConfig",
          "description": "Configuration for the Parallelstore CSI Driver addon"
        },
        "rayOperatorConfig": {
          "$ref": "#/definitions/RayOperatorConfig",
          "description": "Configuration for the Ray Operator addon"
        },
        "highScaleCheckpointingConfig": {
          "$ref": "#/definitions/HighScaleCheckpointingConfig",
          "description": "Configuration for the High Scale Checkpointing addon"
        },
        "lustreCsiDriverConfig": {
          "$ref": "#/definitions/LustreCsiDriverConfig",
          "description": "Configuration for the Lustre CSI Driver addon"
        }
      }
    },
    "AdvancedMachineFeatures": {
      "type": "object",
      "description": "Specifies options for controlling advanced machine features",
      "properties": {
        "threadsPerCore": {
          "type": "string",
          "description": "The number of threads per physical core"
        },
        "enableNestedVirtualization": {
          "type": "boolean",
          "description": "Whether or not to enable nested virtualization"
        }
      }
    },
    "AnonymousAuthenticationConfig": {
      "type": "object",
      "description": "Anonymous authentication configuration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether anonymous authentication is enabled"
        }
      }
    },
    "AuthenticatorGroupsConfig": {
      "type": "object",
      "description": "Configuration for the Google Groups for GKE feature",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Google Groups for RBAC and IAM are enabled"
        },
        "securityGroup": {
          "type": "string",
          "description": "The name of the security group for the cluster"
        }
      }
    },
    "Autopilot": {
      "type": "object",
      "description": "Autopilot cluster configuration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the cluster is an Autopilot cluster"
        }
      }
    },
    "AutoprovisioningNodePoolDefaults": {
      "type": "object",
      "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP",
      "properties": {
        "oauthScopes": {
          "type": "array",
          "description": "Scopes that are used by NAP when creating node pools",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "type": "string",
          "description": "The Google Cloud Platform Service Account to be used by the node VMs"
        },
        "upgradeSettings": {
          "$ref": "#/definitions/UpgradeSettings",
          "description": "Upgrade settings for NAP created node pools"
        },
        "management": {
          "$ref": "#/definitions/NodeManagement",
          "description": "The node management for NAP created node pools"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Minimum CPU platform for NAP created node pools"
        },
        "diskSizeGb": {
          "type": "string",
          "description": "Size of the disk attached to each node"
        },
        "diskType": {
          "type": "string",
          "description": "Type of the disk attached to each node"
        },
        "shieldedInstanceConfig": {
          "$ref": "#/definitions/ShieldedInstanceConfig",
          "description": "Shielded Instance options for NAP created node pools"
        },
        "bootDiskKmsKey": {
          "type": "string",
          "description": "Boot disk KMS key for NAP created node pools"
        },
        "imageType": {
          "type": "string",
          "description": "The image type to use for NAP created node pools"
        },
        "insecureKubeletReadonlyPortEnabled": {
          "type": "boolean",
          "description": "Whether the nodes are preemptible or not"
        },
        "enableSpotInstances": {
          "type": "boolean",
          "description": "Whether the nodes are created as spot VM instances or not"
        },
        "resourceLabels": {
          "type": "object",
          "description": "Resource labels for NAP created node pools",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceManagerTags": {
          "$ref": "#/definitions/ResourceManagerTags",
          "description": "Resource manager tags for NAP created node pools"
        }
      }
    },
    "AutoscalingProfile": {
      "type": "string",
      "description": "Autoscaling profile options for the cluster autoscaler",
      "enum": [
        "PROFILE_UNSPECIFIED",
        "OPTIMIZE_UTILIZATION",
        "BALANCED"
      ],
      "x-ms-enum": {
        "name": "AutoscalingProfile",
        "modelAsString": true,
        "values": [
          {
            "name": "PROFILE_UNSPECIFIED",
            "value": "PROFILE_UNSPECIFIED",
            "description": "Profile is unspecified"
          },
          {
            "name": "OPTIMIZE_UTILIZATION",
            "value": "OPTIMIZE_UTILIZATION",
            "description": "Optimize for utilization"
          },
          {
            "name": "BALANCED",
            "value": "BALANCED",
            "description": "Balanced profile"
          }
        ]
      }
    },
    "BestEffortProvisioning": {
      "type": "object",
      "description": "Specifies the configuration of best effort provisioning.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "When this is enabled, cluster/node pool creations will ignore non-fatal errors like stockout to best provision as many nodes as possible."
        },
        "minProvisionNodes": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of nodes to be provisioned."
        }
      }
    },
    "BigQueryDestination": {
      "type": "object",
      "description": "Configuration for BigQuery destination",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The BigQuery dataset ID"
        }
      }
    },
    "BinaryAuthorization": {
      "type": "object",
      "description": "Configuration for Binary Authorization",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Binary Authorization is enabled for this cluster"
        },
        "evaluationMode": {
          "$ref": "#/definitions/EvaluationMode",
          "description": "Mode of operation for Binary Authorization policy evaluation"
        }
      }
    },
    "BlueGreenInfo": {
      "type": "object",
      "description": "Information about a blue-green upgrade.",
      "properties": {
        "phase": {
          "$ref": "#/definitions/BlueGreenPhase",
          "description": "Current blue-green upgrade phase."
        },
        "blueInstanceGroupUrls": {
          "type": "array",
          "description": "The resource URLs of the managed instance groups associated with blue pool.",
          "items": {
            "type": "string"
          }
        },
        "greenInstanceGroupUrls": {
          "type": "array",
          "description": "The resource URLs of the managed instance groups associated with green pool.",
          "items": {
            "type": "string"
          }
        },
        "bluePoolDeletionStartTime": {
          "type": "string",
          "description": "Time to start deleting blue pool to complete blue-green upgrade."
        },
        "greenPoolVersion": {
          "type": "string",
          "description": "The resource name of the green pool."
        }
      }
    },
    "BlueGreenPhase": {
      "type": "string",
      "description": "Blue-green upgrade phase options.",
      "enum": [
        "PHASE_UNSPECIFIED",
        "UPDATE_STARTED",
        "CREATING_GREEN_POOL",
        "CORDONING_BLUE_POOL",
        "DRAINING_BLUE_POOL",
        "NODE_POOL_SOAKING",
        "DELETING_BLUE_POOL",
        "ROLLBACK_STARTED"
      ],
      "x-ms-enum": {
        "name": "BlueGreenPhase",
        "modelAsString": true,
        "values": [
          {
            "name": "PHASE_UNSPECIFIED",
            "value": "PHASE_UNSPECIFIED",
            "description": "Phase is unspecified"
          },
          {
            "name": "UPDATE_STARTED",
            "value": "UPDATE_STARTED",
            "description": "Update has started"
          },
          {
            "name": "CREATING_GREEN_POOL",
            "value": "CREATING_GREEN_POOL",
            "description": "Green pool has been created"
          },
          {
            "name": "CORDONING_BLUE_POOL",
            "value": "CORDONING_BLUE_POOL",
            "description": "Cordoning blue pool"
          },
          {
            "name": "DRAINING_BLUE_POOL",
            "value": "DRAINING_BLUE_POOL",
            "description": "Draining blue pool"
          },
          {
            "name": "NODE_POOL_SOAKING",
            "value": "NODE_POOL_SOAKING",
            "description": "Node pool soaking"
          },
          {
            "name": "DELETING_BLUE_POOL",
            "value": "DELETING_BLUE_POOL",
            "description": "Deleting blue pool"
          },
          {
            "name": "ROLLBACK_STARTED",
            "value": "ROLLBACK_STARTED",
            "description": "Rolling back blue-green upgrade"
          }
        ]
      }
    },
    "BlueGreenSettings": {
      "type": "object",
      "description": "Settings for blue-green upgrade strategy.",
      "properties": {
        "nodePoolSoakDuration": {
          "type": "string",
          "description": "Time needed after draining entire blue pool. After this period, blue pool will be cleaned up."
        },
        "standardRolloutPolicy": {
          "$ref": "#/definitions/StandardRolloutPolicy",
          "description": "Standard policy for the blue-green upgrade."
        }
      }
    },
    "CanonicalCode": {
      "type": "string",
      "description": "StatusCondition.canonicalCode values, as defined by the Google Cloud API.",
      "enum": [
        "OK",
        "CANCELLED",
        "UNKNOWN",
        "INVALID_ARGUMENT",
        "DEADLINE_EXCEEDED",
        "NOT_FOUND",
        "ALREADY_EXISTS",
        "PERMISSION_DENIED",
        "UNAUTHENTICATED",
        "RESOURCE_EXHAUSTED",
        "FAILED_PRECONDITION",
        "ABORTED",
        "OUT_OF_RANGE",
        "UNIMPLEMENTED",
        "INTERNAL",
        "UNAVAILABLE",
        "DATA_LOSS"
      ],
      "x-ms-enum": {
        "name": "CanonicalCode",
        "modelAsString": true,
        "values": [
          {
            "name": "OK",
            "value": "OK",
            "description": "Not an error; returned on success. HTTP Mapping: 200 OK"
          },
          {
            "name": "CANCELLED",
            "value": "CANCELLED",
            "description": "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request"
          },
          {
            "name": "UNKNOWN",
            "value": "UNKNOWN",
            "description": "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error"
          },
          {
            "name": "INVALID_ARGUMENT",
            "value": "INVALID_ARGUMENT",
            "description": "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request"
          },
          {
            "name": "DEADLINE_EXCEEDED",
            "value": "DEADLINE_EXCEEDED",
            "description": "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout"
          },
          {
            "name": "NOT_FOUND",
            "value": "NOT_FOUND",
            "description": "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found"
          },
          {
            "name": "ALREADY_EXISTS",
            "value": "ALREADY_EXISTS",
            "description": "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict"
          },
          {
            "name": "PERMISSION_DENIED",
            "value": "PERMISSION_DENIED",
            "description": "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden"
          },
          {
            "name": "UNAUTHENTICATED",
            "value": "UNAUTHENTICATED",
            "description": "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized"
          },
          {
            "name": "RESOURCE_EXHAUSTED",
            "value": "RESOURCE_EXHAUSTED",
            "description": "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests"
          },
          {
            "name": "FAILED_PRECONDITION",
            "value": "FAILED_PRECONDITION",
            "description": "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request"
          },
          {
            "name": "ABORTED",
            "value": "ABORTED",
            "description": "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict"
          },
          {
            "name": "OUT_OF_RANGE",
            "value": "OUT_OF_RANGE",
            "description": "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request"
          },
          {
            "name": "UNIMPLEMENTED",
            "value": "UNIMPLEMENTED",
            "description": "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented"
          },
          {
            "name": "INTERNAL",
            "value": "INTERNAL",
            "description": "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error"
          },
          {
            "name": "UNAVAILABLE",
            "value": "UNAVAILABLE",
            "description": "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable"
          },
          {
            "name": "DATA_LOSS",
            "value": "DATA_LOSS",
            "description": "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          }
        ]
      }
    },
    "CertificateAuthorityDomainConfig": {
      "type": "object",
      "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods",
      "properties": {
        "fqdns": {
          "type": "array",
          "description": "List of fully-qualified-domain-names",
          "items": {
            "type": "string"
          }
        },
        "gcpSecretManagerCertificateConfig": {
          "$ref": "#/definitions/GcpSecretManagerCertificateConfig",
          "description": "Google Secret Manager URI for the certificate authority certificate"
        }
      }
    },
    "CgroupMode": {
      "type": "string",
      "description": "LinuxNodeConfig.cgroupMode values, as defined by the Google Cloud API.",
      "enum": [
        "CGROUP_MODE_UNSPECIFIED",
        "CGROUP_MODE_V1",
        "CGROUP_MODE_V2"
      ],
      "x-ms-enum": {
        "name": "CgroupMode",
        "modelAsString": true,
        "values": [
          {
            "name": "CGROUP_MODE_UNSPECIFIED",
            "value": "CGROUP_MODE_UNSPECIFIED",
            "description": "CGROUP_MODE_UNSPECIFIED is when unspecified cgroup configuration is used. The default for the GKE node OS image will be used."
          },
          {
            "name": "CGROUP_MODE_V1",
            "value": "CGROUP_MODE_V1",
            "description": "CGROUP_MODE_V1 specifies to use cgroupv1 for the cgroup configuration on the node image."
          },
          {
            "name": "CGROUP_MODE_V2",
            "value": "CGROUP_MODE_V2",
            "description": "CGROUP_MODE_V2 specifies to use cgroupv2 for the cgroup configuration on the node image."
          }
        ]
      }
    },
    "CidrBlock": {
      "type": "object",
      "description": "Configuration for a CIDR block that can access the cluster master endpoint",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "An optional field for users to identify CIDR blocks"
        },
        "cidrBlock": {
          "type": "string",
          "description": "The CIDR block in IPv4 or IPv6 format"
        }
      }
    },
    "ClientCertificateConfig": {
      "type": "object",
      "description": "Configuration for client certificate authentication on the cluster.",
      "properties": {
        "issueClientCertificate": {
          "type": "boolean",
          "description": "Issue a client certificate."
        }
      }
    },
    "CloudRunConfig": {
      "type": "object",
      "description": "Configuration for the Cloud Run addon",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Cloud Run addon is disabled"
        },
        "loadBalancerType": {
          "$ref": "#/definitions/CloudRunLoadBalancerType",
          "description": "The load balancer type for Cloud Run"
        }
      }
    },
    "CloudRunLoadBalancerType": {
      "type": "string",
      "description": "Load balancer type options for Cloud Run",
      "enum": [
        "LOAD_BALANCER_TYPE_UNSPECIFIED",
        "LOAD_BALANCER_TYPE_EXTERNAL",
        "LOAD_BALANCER_TYPE_INTERNAL"
      ],
      "x-ms-enum": {
        "name": "CloudRunLoadBalancerType",
        "modelAsString": true,
        "values": [
          {
            "name": "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "value": "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "description": "Load balancer type for Cloud Run is unspecified."
          },
          {
            "name": "LOAD_BALANCER_TYPE_EXTERNAL",
            "value": "LOAD_BALANCER_TYPE_EXTERNAL",
            "description": "Install external load balancer for Cloud Run."
          },
          {
            "name": "LOAD_BALANCER_TYPE_INTERNAL",
            "value": "LOAD_BALANCER_TYPE_INTERNAL",
            "description": "Install internal load balancer for Cloud Run."
          }
        ]
      }
    },
    "ClusterAutoscaling": {
      "type": "object",
      "description": "Cluster-level autoscaling configuration",
      "properties": {
        "enableNodeAutoprovisioning": {
          "type": "boolean",
          "description": "Enables automatic node pool creation and deletion"
        },
        "resourceLimits": {
          "type": "array",
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster",
          "items": {
            "$ref": "#/definitions/ResourceLimit"
          },
          "x-ms-identifiers": []
        },
        "autoscalingProfile": {
          "$ref": "#/definitions/AutoscalingProfile",
          "description": "Defines the autoscaling behavior"
        },
        "autoprovisioningNodePoolDefaults": {
          "$ref": "#/definitions/AutoprovisioningNodePoolDefaults",
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP"
        },
        "autoprovisioningLocations": {
          "type": "array",
          "description": "The list of Google Compute Engine zones in which the NodePool's nodes can be created by NAP",
          "items": {
            "type": "string"
          }
        },
        "defaultComputeClassConfig": {
          "$ref": "#/definitions/DefaultComputeClassConfig",
          "description": "Default configuration for the Compute Class of the node pool"
        }
      }
    },
    "ClusterNetworkPerformanceConfig": {
      "type": "object",
      "description": "Network performance configuration for the cluster",
      "properties": {
        "totalEgressBandwidthTier": {
          "$ref": "#/definitions/TotalEgressBandwidthTier",
          "description": "Total egress bandwidth tier for the cluster"
        }
      }
    },
    "ClusterProperties": {
      "type": "object",
      "description": "Definition of ContainerCluster",
      "properties": {
        "gcpProperties": {
          "$ref": "#/definitions/GcpContainerClusterProperties",
          "description": "GCP Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "gcpProjectNumber": {
          "type": "string",
          "description": "GCP Project Number"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "GCP Project Id"
        },
        "resourceName": {
          "type": "string",
          "description": "Fully qualified resource name of the GCP resource"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "gcpSourceSchema": {
          "type": "string",
          "description": "GCP Source Schema"
        },
        "gcpRegion": {
          "type": "string",
          "description": "GCP Region"
        },
        "gcpTags": {
          "type": "object",
          "description": "GCP Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ClusterStatus": {
      "type": "string",
      "description": "Cluster status options.",
      "enum": [
        "STATUS_UNSPECIFIED",
        "PROVISIONING",
        "RUNNING",
        "RECONCILING",
        "STOPPING",
        "ERROR",
        "DEGRADED"
      ],
      "x-ms-enum": {
        "name": "ClusterStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "STATUS_UNSPECIFIED",
            "value": "STATUS_UNSPECIFIED",
            "description": "Status is unspecified"
          },
          {
            "name": "PROVISIONING",
            "value": "PROVISIONING",
            "description": "The cluster is being provisioned"
          },
          {
            "name": "RUNNING",
            "value": "RUNNING",
            "description": "The cluster is running"
          },
          {
            "name": "RECONCILING",
            "value": "RECONCILING",
            "description": "The cluster is being reconciled"
          },
          {
            "name": "STOPPING",
            "value": "STOPPING",
            "description": "The cluster is stopping"
          },
          {
            "name": "ERROR",
            "value": "ERROR",
            "description": "There was an error"
          },
          {
            "name": "DEGRADED",
            "value": "DEGRADED",
            "description": "The cluster is degraded"
          }
        ]
      }
    },
    "CompliancePostureConfig": {
      "type": "object",
      "description": "Compliance posture configuration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether compliance posture features are enabled"
        }
      }
    },
    "ComputeClass": {
      "type": "string",
      "description": "Compute class options for node pools",
      "enum": [
        "COMPUTE_CLASS_UNSPECIFIED",
        "PERFORMANCE",
        "BALANCED",
        "ARM64",
        "MEMORY_OPTIMIZED"
      ],
      "x-ms-enum": {
        "name": "ComputeClass",
        "modelAsString": true,
        "values": [
          {
            "name": "COMPUTE_CLASS_UNSPECIFIED",
            "value": "COMPUTE_CLASS_UNSPECIFIED",
            "description": "Compute class is unspecified"
          },
          {
            "name": "PERFORMANCE",
            "value": "PERFORMANCE",
            "description": "Performance compute class"
          },
          {
            "name": "BALANCED",
            "value": "BALANCED",
            "description": "Balanced compute class"
          },
          {
            "name": "ARM64",
            "value": "ARM64",
            "description": "Arm64 compute class"
          },
          {
            "name": "MEMORY_OPTIMIZED",
            "value": "MEMORY_OPTIMIZED",
            "description": "Memory optimized compute class"
          }
        ]
      }
    },
    "ConfidentialInstanceType": {
      "type": "string",
      "description": "Confidential instance type options",
      "enum": [
        "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
        "SEV",
        "SEV_SNP",
        "TDX"
      ],
      "x-ms-enum": {
        "name": "ConfidentialInstanceType",
        "modelAsString": true,
        "values": [
          {
            "name": "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "value": "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "description": "No type specified. Do not use this value."
          },
          {
            "name": "SEV",
            "value": "SEV",
            "description": "AMD Secure Encrypted Virtualization."
          },
          {
            "name": "SEV_SNP",
            "value": "SEV_SNP",
            "description": "AMD Secure Encrypted Virtualization - Secure Nested Paging."
          },
          {
            "name": "TDX",
            "value": "TDX",
            "description": "Intel Trust Domain eXtension."
          }
        ]
      }
    },
    "ConfidentialNodes": {
      "type": "object",
      "description": "Configuration of Confidential Nodes",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Confidential Nodes feature is enabled for this cluster"
        },
        "confidentialInstanceType": {
          "$ref": "#/definitions/ConfidentialInstanceType",
          "description": "The type of Confidential Compute offering used by the node pool"
        }
      }
    },
    "ConfigConnectorConfig": {
      "type": "object",
      "description": "Configuration for the Config Connector addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Config Connector addon is enabled"
        }
      }
    },
    "ConsumeReservationType": {
      "type": "string",
      "description": "ReservationAffinity.consumeReservationType values, as defined by the Google Cloud API.",
      "enum": [
        "UNSPECIFIED",
        "NO_RESERVATION",
        "ANY_RESERVATION",
        "SPECIFIC_RESERVATION",
        "ANY_RESERVATION_THEN_FAIL"
      ],
      "x-ms-enum": {
        "name": "ConsumeReservationType",
        "modelAsString": true,
        "values": [
          {
            "name": "UNSPECIFIED",
            "value": "UNSPECIFIED",
            "description": "Default value. This should not be used."
          },
          {
            "name": "NO_RESERVATION",
            "value": "NO_RESERVATION",
            "description": "Do not consume from any reserved capacity."
          },
          {
            "name": "ANY_RESERVATION",
            "value": "ANY_RESERVATION",
            "description": "Consume any reservation available."
          },
          {
            "name": "SPECIFIC_RESERVATION",
            "value": "SPECIFIC_RESERVATION",
            "description": "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          },
          {
            "name": "ANY_RESERVATION_THEN_FAIL",
            "value": "ANY_RESERVATION_THEN_FAIL",
            "description": "Consume any reservation available. If no reservation is available, fail the node creation."
          }
        ]
      }
    },
    "ConsumptionMeteringConfig": {
      "type": "object",
      "description": "Configuration for consumption metering",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether consumption metering is enabled"
        }
      }
    },
    "ContainerCluster": {
      "type": "object",
      "description": "A Microsoft.GCPConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ContainerClusterListResult": {
      "type": "object",
      "description": "The response of a ContainerCluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ContainerCluster items on this page",
          "items": {
            "$ref": "#/definitions/ContainerCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ContainerdConfig": {
      "type": "object",
      "description": "ContainerdConfig contains configuration to customize containerd",
      "properties": {
        "privateRegistryAccessConfig": {
          "$ref": "#/definitions/PrivateRegistryAccessConfig",
          "description": "PrivateRegistryAccessConfig is used to configure access to private registries"
        }
      }
    },
    "ControlPlaneEndpointsConfig": {
      "type": "object",
      "description": "Control plane endpoints configuration",
      "properties": {
        "networkAccess": {
          "type": "object",
          "description": "Network access configuration for the control plane endpoints",
          "properties": {
            "accessTypes": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccessTypes"
              }
            }
          }
        }
      }
    },
    "CostManagementConfig": {
      "type": "object",
      "description": "Configuration for the cost management feature",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the cost management feature is enabled"
        }
      }
    },
    "DailyMaintenanceWindow": {
      "type": "object",
      "description": "Daily maintenance window configuration",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time of day the maintenance window starts"
        },
        "duration": {
          "type": "string",
          "description": "Duration of the maintenance window"
        }
      }
    },
    "DatabaseEncryption": {
      "type": "object",
      "description": "Configuration of etcd encryption",
      "properties": {
        "keyName": {
          "type": "string",
          "description": "Name of CloudKMS key to use for the encryption of secrets"
        },
        "state": {
          "$ref": "#/definitions/DatabaseEncryptionState",
          "description": "Encryption state"
        },
        "decryptionKeys": {
          "type": "array",
          "description": "List of decryption keys used for encryption",
          "items": {
            "type": "string"
          }
        },
        "lastOperationErrors": {
          "type": "array",
          "description": "Errors that occurred during the last operation",
          "items": {
            "$ref": "#/definitions/OperationError"
          },
          "x-ms-identifiers": []
        },
        "currentState": {
          "$ref": "#/definitions/DatabaseEncryptionCurrentState",
          "description": "Current state of the database encryption"
        }
      }
    },
    "DatabaseEncryptionCurrentState": {
      "type": "string",
      "description": "Database encryption current state options",
      "enum": [
        "CURRENT_STATE_UNSPECIFIED",
        "CURRENT_STATE_ENCRYPTED",
        "CURRENT_STATE_DECRYPTED",
        "CURRENT_STATE_ENCRYPTION_PENDING",
        "CURRENT_STATE_ENCRYPTION_ERROR",
        "CURRENT_STATE_DECRYPTION_PENDING",
        "CURRENT_STATE_DECRYPTION_ERROR",
        "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_ENABLED",
        "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_PENDING",
        "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_ERROR"
      ],
      "x-ms-enum": {
        "name": "DatabaseEncryptionCurrentState",
        "modelAsString": true,
        "values": [
          {
            "name": "CURRENT_STATE_UNSPECIFIED",
            "value": "CURRENT_STATE_UNSPECIFIED",
            "description": "Should never be set"
          },
          {
            "name": "CURRENT_STATE_ENCRYPTED",
            "value": "CURRENT_STATE_ENCRYPTED",
            "description": "Secrets in etcd are encrypted."
          },
          {
            "name": "CURRENT_STATE_DECRYPTED",
            "value": "CURRENT_STATE_DECRYPTED",
            "description": "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption."
          },
          {
            "name": "CURRENT_STATE_ENCRYPTION_PENDING",
            "value": "CURRENT_STATE_ENCRYPTION_PENDING",
            "description": "Encryption (or re-encryption with a different CloudKMS key) of Secrets is in progress."
          },
          {
            "name": "CURRENT_STATE_ENCRYPTION_ERROR",
            "value": "CURRENT_STATE_ENCRYPTION_ERROR",
            "description": "Encryption (or re-encryption with a different CloudKMS key) of Secrets in etcd encountered an error."
          },
          {
            "name": "CURRENT_STATE_DECRYPTION_PENDING",
            "value": "CURRENT_STATE_DECRYPTION_PENDING",
            "description": "De-crypting Secrets to plain text in etcd is in progress."
          },
          {
            "name": "CURRENT_STATE_DECRYPTION_ERROR",
            "value": "CURRENT_STATE_DECRYPTION_ERROR",
            "description": "De-crypting Secrets to plain text in etcd encountered an error."
          },
          {
            "name": "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_ENABLED",
            "value": "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_ENABLED",
            "description": "Encryption of all objects in the storage is enabled. It does not guarantee that all objects in the storage are encrypted, but eventually they will be."
          },
          {
            "name": "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_PENDING",
            "value": "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_PENDING",
            "description": "Enablement of the encryption of all objects in storage is pending."
          },
          {
            "name": "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_ERROR",
            "value": "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_ERROR",
            "description": "Enabling encryption of all objects in storage encountered an error."
          }
        ]
      }
    },
    "DatabaseEncryptionState": {
      "type": "string",
      "description": "Database encryption state options",
      "enum": [
        "UNKNOWN",
        "ENCRYPTED",
        "DECRYPTED",
        "ALL_OBJECTS_ENCRYPTION_ENABLED"
      ],
      "x-ms-enum": {
        "name": "DatabaseEncryptionState",
        "modelAsString": true,
        "values": [
          {
            "name": "UNKNOWN",
            "value": "UNKNOWN",
            "description": "Should never be set"
          },
          {
            "name": "ENCRYPTED",
            "value": "ENCRYPTED",
            "description": "Secrets in etcd are encrypted."
          },
          {
            "name": "DECRYPTED",
            "value": "DECRYPTED",
            "description": "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption."
          },
          {
            "name": "ALL_OBJECTS_ENCRYPTION_ENABLED",
            "value": "ALL_OBJECTS_ENCRYPTION_ENABLED",
            "description": "Encryption of all objects in the storage is enabled. There is no guarantee that all objects in the storage are encrypted, but eventually they will be."
          }
        ]
      }
    },
    "DatapathProvider": {
      "type": "string",
      "description": "Datapath provider options",
      "enum": [
        "DATAPATH_PROVIDER_UNSPECIFIED",
        "LEGACY_DATAPATH",
        "ADVANCED_DATAPATH"
      ],
      "x-ms-enum": {
        "name": "DatapathProvider",
        "modelAsString": true,
        "values": [
          {
            "name": "DATAPATH_PROVIDER_UNSPECIFIED",
            "value": "DATAPATH_PROVIDER_UNSPECIFIED",
            "description": "Default value."
          },
          {
            "name": "LEGACY_DATAPATH",
            "value": "LEGACY_DATAPATH",
            "description": "Use the IPTables implementation based on kube-proxy."
          },
          {
            "name": "ADVANCED_DATAPATH",
            "value": "ADVANCED_DATAPATH",
            "description": "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          }
        ]
      }
    },
    "DefaultComputeClassConfig": {
      "type": "object",
      "description": "Default configuration for the Compute Class of the node pool",
      "properties": {
        "computeClass": {
          "$ref": "#/definitions/ComputeClass",
          "description": "The compute class to use for NAP created node pools"
        }
      }
    },
    "DefaultSnatStatus": {
      "type": "object",
      "description": "Configuration for default SNAT status",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether SNAT is disabled"
        }
      }
    },
    "DnsCacheConfig": {
      "type": "object",
      "description": "Configuration for the DNS Cache addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the DNS Cache addon is enabled"
        }
      }
    },
    "DnsConfig": {
      "type": "object",
      "description": "DNS configuration for the cluster",
      "properties": {
        "dnsScope": {
          "$ref": "#/definitions/DnsScope",
          "description": "DNS scope for the cluster"
        },
        "customDnsEndpoint": {
          "type": "string",
          "description": "Custom DNS endpoint for the cluster"
        },
        "additionalDnsSearchDomains": {
          "type": "array",
          "description": "Additional DNS search domains",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DnsScope": {
      "type": "string",
      "description": "DnsConfig.dnsScope values, as defined by the Google Cloud API.",
      "enum": [
        "DNS_SCOPE_UNSPECIFIED",
        "CLUSTER_SCOPE",
        "VPC_SCOPE"
      ],
      "x-ms-enum": {
        "name": "DnsScope",
        "modelAsString": true,
        "values": [
          {
            "name": "DNS_SCOPE_UNSPECIFIED",
            "value": "DNS_SCOPE_UNSPECIFIED",
            "description": "Default value, will be inferred as cluster scope."
          },
          {
            "name": "CLUSTER_SCOPE",
            "value": "CLUSTER_SCOPE",
            "description": "DNS records are accessible from within the cluster."
          },
          {
            "name": "VPC_SCOPE",
            "value": "VPC_SCOPE",
            "description": "DNS records are accessible from within the VPC."
          }
        ]
      }
    },
    "EnableComponents": {
      "type": "string",
      "description": "LoggingComponentConfig.enableComponents values, as defined by the Google Cloud API.",
      "enum": [
        "COMPONENT_UNSPECIFIED",
        "SYSTEM_COMPONENTS",
        "WORKLOADS",
        "APISERVER",
        "SCHEDULER",
        "CONTROLLER_MANAGER",
        "KCP_SSHD",
        "KCP_CONNECTION",
        "KCP_HPA",
        "KCP_VPA"
      ],
      "x-ms-enum": {
        "name": "EnableComponents",
        "modelAsString": true,
        "values": [
          {
            "name": "COMPONENT_UNSPECIFIED",
            "value": "COMPONENT_UNSPECIFIED",
            "description": "Default value. This shouldn't be used."
          },
          {
            "name": "SYSTEM_COMPONENTS",
            "value": "SYSTEM_COMPONENTS",
            "description": "system components"
          },
          {
            "name": "WORKLOADS",
            "value": "WORKLOADS",
            "description": "workloads"
          },
          {
            "name": "APISERVER",
            "value": "APISERVER",
            "description": "kube-apiserver"
          },
          {
            "name": "SCHEDULER",
            "value": "SCHEDULER",
            "description": "kube-scheduler"
          },
          {
            "name": "CONTROLLER_MANAGER",
            "value": "CONTROLLER_MANAGER",
            "description": "kube-controller-manager"
          },
          {
            "name": "KCP_SSHD",
            "value": "KCP_SSHD",
            "description": "kcp-sshd"
          },
          {
            "name": "KCP_CONNECTION",
            "value": "KCP_CONNECTION",
            "description": "kcp connection logs"
          },
          {
            "name": "KCP_HPA",
            "value": "KCP_HPA",
            "description": "horizontal pod autoscaler decision logs"
          },
          {
            "name": "KCP_VPA",
            "value": "KCP_VPA",
            "description": "vertical pod autoscaler decision logs"
          }
        ]
      }
    },
    "EnterpriseConfig": {
      "type": "object",
      "description": "Enterprise features configuration",
      "properties": {
        "enableEnterpriseFeatures": {
          "type": "boolean",
          "description": "Whether enterprise features are enabled"
        },
        "enterpriseProjectId": {
          "type": "string",
          "description": "The enterprise project ID associated with this cluster"
        },
        "enterpriseTier": {
          "$ref": "#/definitions/EnterpriseTier",
          "description": "The enterprise tier level"
        }
      }
    },
    "EnterpriseTier": {
      "type": "string",
      "description": "EnterpriseConfig.enterpriseTier values, as defined by the Google Cloud API.",
      "enum": [
        "CLUSTER_TIER_UNSPECIFIED",
        "STANDARD",
        "ENTERPRISE"
      ],
      "x-ms-enum": {
        "name": "EnterpriseTier",
        "modelAsString": true,
        "values": [
          {
            "name": "CLUSTER_TIER_UNSPECIFIED",
            "value": "CLUSTER_TIER_UNSPECIFIED",
            "description": "CLUSTER_TIER_UNSPECIFIED is when cluster_tier is not set."
          },
          {
            "name": "STANDARD",
            "value": "STANDARD",
            "description": "STANDARD indicates a standard GKE cluster."
          },
          {
            "name": "ENTERPRISE",
            "value": "ENTERPRISE",
            "description": "ENTERPRISE indicates a GKE Enterprise cluster."
          }
        ]
      }
    },
    "EphemeralStorageLocalSsdConfig": {
      "type": "object",
      "description": "Configuration for the ephemeral storage local SSD",
      "properties": {
        "localSsdCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of local SSD disks to use to back ephemeral storage"
        }
      }
    },
    "EvaluationMode": {
      "type": "string",
      "description": "BinaryAuthorization.evaluationMode values, as defined by the Google Cloud API.",
      "enum": [
        "EVALUATION_MODE_UNSPECIFIED",
        "DISABLED",
        "PROJECT_SINGLETON_POLICY_ENFORCE"
      ],
      "x-ms-enum": {
        "name": "EvaluationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "EVALUATION_MODE_UNSPECIFIED",
            "value": "EVALUATION_MODE_UNSPECIFIED",
            "description": "Default value"
          },
          {
            "name": "DISABLED",
            "value": "DISABLED",
            "description": "Disable BinaryAuthorization"
          },
          {
            "name": "PROJECT_SINGLETON_POLICY_ENFORCE",
            "value": "PROJECT_SINGLETON_POLICY_ENFORCE",
            "description": "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy. This is equivalent to setting the enabled boolean to true."
          }
        ]
      }
    },
    "FastSocket": {
      "type": "object",
      "description": "Configuration of NCCL Fast Socket",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether or not NCCL Fast Socket is enabled"
        }
      }
    },
    "Filter": {
      "type": "object",
      "description": "Filter configuration for notifications",
      "properties": {
        "eventType": {
          "type": "array",
          "description": "Event types to include in the filter",
          "items": {
            "$ref": "#/definitions/FilterEventType"
          }
        }
      }
    },
    "FilterEventType": {
      "type": "string",
      "description": "Filter.eventType values, as defined by the Google Cloud API.",
      "enum": [
        "EVENT_TYPE_UNSPECIFIED",
        "UPGRADE_AVAILABLE_EVENT",
        "UPGRADE_EVENT",
        "SECURITY_BULLETIN_EVENT",
        "UPGRADE_INFO_EVENT"
      ],
      "x-ms-enum": {
        "name": "FilterEventType",
        "modelAsString": true,
        "values": [
          {
            "name": "EVENT_TYPE_UNSPECIFIED",
            "value": "EVENT_TYPE_UNSPECIFIED",
            "description": "Not set, will be ignored."
          },
          {
            "name": "UPGRADE_AVAILABLE_EVENT",
            "value": "UPGRADE_AVAILABLE_EVENT",
            "description": "Corresponds with UpgradeAvailableEvent."
          },
          {
            "name": "UPGRADE_EVENT",
            "value": "UPGRADE_EVENT",
            "description": "Corresponds with UpgradeEvent."
          },
          {
            "name": "SECURITY_BULLETIN_EVENT",
            "value": "SECURITY_BULLETIN_EVENT",
            "description": "Corresponds with SecurityBulletinEvent."
          },
          {
            "name": "UPGRADE_INFO_EVENT",
            "value": "UPGRADE_INFO_EVENT",
            "description": "Corresponds with UpgradeInfoEvent."
          }
        ]
      }
    },
    "Fleet": {
      "type": "object",
      "description": "Fleet configuration",
      "properties": {
        "project": {
          "type": "string",
          "description": "The project number for the fleet host project"
        }
      }
    },
    "GatewayApiChannel": {
      "type": "string",
      "description": "GatewayApiConfig.channel values, as defined by the Google Cloud API.",
      "enum": [
        "CHANNEL_UNSPECIFIED",
        "CHANNEL_DISABLED",
        "CHANNEL_EXPERIMENTAL",
        "CHANNEL_STANDARD"
      ],
      "x-ms-enum": {
        "name": "GatewayApiChannel",
        "modelAsString": true,
        "values": [
          {
            "name": "CHANNEL_UNSPECIFIED",
            "value": "CHANNEL_UNSPECIFIED",
            "description": "Default value."
          },
          {
            "name": "CHANNEL_DISABLED",
            "value": "CHANNEL_DISABLED",
            "description": "Gateway API support is disabled"
          },
          {
            "name": "CHANNEL_EXPERIMENTAL",
            "value": "CHANNEL_EXPERIMENTAL",
            "description": "Deprecated: use CHANNEL_STANDARD instead. Gateway API support is enabled, experimental CRDs are installed"
          },
          {
            "name": "CHANNEL_STANDARD",
            "value": "CHANNEL_STANDARD",
            "description": "Gateway API support is enabled, standard CRDs are installed"
          }
        ]
      }
    },
    "GatewayApiConfig": {
      "type": "object",
      "description": "Gateway API configuration",
      "properties": {
        "channel": {
          "$ref": "#/definitions/GatewayApiChannel",
          "description": "The Gateway API release channel to subscribe to"
        }
      }
    },
    "GcePersistentDiskCsiDriverConfig": {
      "type": "object",
      "description": "Configuration for the GCE Persistent Disk CSI Driver addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the GCE Persistent Disk CSI Driver addon is enabled"
        }
      }
    },
    "GcfsConfig": {
      "type": "object",
      "description": "Google Container File System (image streaming) configs",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to use GCFS or not"
        }
      }
    },
    "GcpContainerClusterProperties": {
      "type": "object",
      "description": "A Google Kubernetes Engine cluster.",
      "properties": {
        "addonsConfig": {
          "$ref": "#/definitions/AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "authenticatorGroupsConfig": {
          "$ref": "#/definitions/AuthenticatorGroupsConfig",
          "description": "Configuration controlling RBAC group membership information."
        },
        "autopilot": {
          "$ref": "#/definitions/Autopilot",
          "description": "Autopilot configuration for the cluster."
        },
        "autoscaling": {
          "$ref": "#/definitions/ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "binaryAuthorization": {
          "$ref": "#/definitions/BinaryAuthorization",
          "description": "Configuration for Binary Authorization."
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`."
        },
        "conditions": {
          "type": "array",
          "description": "Which conditions caused the current cluster state.",
          "items": {
            "$ref": "#/definitions/StatusCondition"
          },
          "x-ms-identifiers": []
        },
        "confidentialNodes": {
          "$ref": "#/definitions/ConfidentialNodes",
          "description": "Configuration of Confidential Nodes. All the nodes in the cluster will be Confidential VM once enabled."
        },
        "costManagementConfig": {
          "$ref": "#/definitions/CostManagementConfig",
          "description": "Configuration for the fine-grained cost management feature."
        },
        "createTime": {
          "type": "string",
          "format": "date-time",
          "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "currentMasterVersion": {
          "type": "string",
          "description": "[Output only] The current software version of the master endpoint."
        },
        "currentNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "[Output only] The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information."
        },
        "currentNodeVersion": {
          "type": "string",
          "description": "[Output only] Deprecated, use [NodePools.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes."
        },
        "databaseEncryption": {
          "$ref": "#/definitions/DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "defaultMaxPodsConstraint": {
          "$ref": "#/definitions/MaxPodsConstraint",
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support."
        },
        "description": {
          "type": "string",
          "description": "An optional description of this cluster."
        },
        "enableK8sBetaApis": {
          "$ref": "#/definitions/K8sBetaApiConfig",
          "description": "Beta APIs Config"
        },
        "enableKubernetesAlpha": {
          "type": "boolean",
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1alpha1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation."
        },
        "enableTpu": {
          "type": "boolean",
          "description": "Enable the ability to use Cloud TPUs in this cluster."
        },
        "endpoint": {
          "type": "string",
          "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information."
        },
        "enterpriseConfig": {
          "$ref": "#/definitions/EnterpriseConfig",
          "description": "GKE Enterprise Configuration."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of cluster fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding."
        },
        "expireTime": {
          "type": "string",
          "format": "date-time",
          "description": "[Output only] The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "fleet": {
          "$ref": "#/definitions/Fleet",
          "description": "Fleet information for the cluster."
        },
        "id": {
          "type": "string",
          "description": "Output only. Unique id for the cluster."
        },
        "identityServiceConfig": {
          "$ref": "#/definitions/IdentityServiceConfig",
          "description": "Configuration for Identity Service component."
        },
        "initialClusterVersion": {
          "type": "string",
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version"
        },
        "initialNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead."
        },
        "instanceGroupUrls": {
          "type": "array",
          "description": "Deprecated. Use node_pools.instance_group_urls.",
          "items": {
            "type": "string"
          }
        },
        "ipAllocationPolicy": {
          "$ref": "#/definitions/IpAllocationPolicy",
          "description": "Configuration for cluster IP allocation."
        },
        "labelFingerprint": {
          "type": "string",
          "description": "The fingerprint of the set of labels for this cluster."
        },
        "legacyAbac": {
          "$ref": "#/definitions/LegacyAbac",
          "description": "Configuration for the legacy ABAC authorization mode."
        },
        "location": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        },
        "locations": {
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed.",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "$ref": "#/definitions/LoggingConfig",
          "description": "Logging configuration for the cluster."
        },
        "loggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "maintenancePolicy": {
          "$ref": "#/definitions/MaintenancePolicy",
          "description": "Configure the maintenance policy for this cluster."
        },
        "masterAuth": {
          "$ref": "#/definitions/MasterAuth",
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued."
        },
        "masterAuthorizedNetworksConfig": {
          "$ref": "#/definitions/MasterAuthorizedNetworksConfig",
          "description": "The configuration options for master authorized networks feature."
        },
        "meshCertificates": {
          "$ref": "#/definitions/MeshCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "monitoringConfig": {
          "$ref": "#/definitions/MonitoringConfig",
          "description": "Monitoring configuration for the cluster."
        },
        "monitoringService": {
          "type": "string",
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "name": {
          "type": "string",
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter."
        },
        "network": {
          "type": "string",
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used."
        },
        "networkConfig": {
          "$ref": "#/definitions/NetworkConfig",
          "description": "Configuration for cluster networking."
        },
        "networkPolicy": {
          "$ref": "#/definitions/NetworkPolicy",
          "description": "Configuration options for the NetworkPolicy feature."
        },
        "nodeConfig": {
          "$ref": "#/definitions/NodeConfig",
          "description": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead."
        },
        "nodeIpv4CidrSize": {
          "type": "integer",
          "format": "int32",
          "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode."
        },
        "nodePoolAutoConfig": {
          "$ref": "#/definitions/NodePoolAutoConfig",
          "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "nodePoolDefaults": {
          "$ref": "#/definitions/NodePoolDefaults",
          "description": "Default NodePool settings for the entire cluster. These settings are overridden if specified on the specific NodePool object."
        },
        "nodePools": {
          "type": "array",
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
          "items": {
            "$ref": "#/definitions/NodePool"
          }
        },
        "notificationConfig": {
          "$ref": "#/definitions/NotificationConfig",
          "description": "Notification configuration of the cluster."
        },
        "parentProductConfig": {
          "$ref": "#/definitions/ParentProductConfig",
          "description": "The configuration of the parent product of the cluster. This field is used by Google internal products that are built on top of the GKE cluster and take the ownership of the cluster."
        },
        "privateClusterConfig": {
          "$ref": "#/definitions/PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "releaseChannel": {
          "$ref": "#/definitions/ReleaseChannel",
          "description": "Release channel configuration. If left unspecified on cluster creation and a version is specified, the cluster is enrolled in the most mature release channel where the version is available (first checking STABLE, then REGULAR, and finally RAPID). Otherwise, if no release channel configuration and no version is specified, the cluster is enrolled in the REGULAR channel with its default version."
        },
        "resourceLabels": {
          "type": "object",
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceUsageExportConfig": {
          "$ref": "#/definitions/ResourceUsageExportConfig",
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config is unspecified."
        },
        "securityPostureConfig": {
          "$ref": "#/definitions/SecurityPostureConfig",
          "description": "Enable/Disable Security Posture API features for the cluster."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output only] Server-defined URL for the resource."
        },
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR."
        },
        "shieldedNodes": {
          "$ref": "#/definitions/ShieldedNodes",
          "description": "Shielded Nodes configuration."
        },
        "status": {
          "$ref": "#/definitions/ClusterStatus",
          "description": "[Output only] The current status of this cluster."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available."
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected."
        },
        "tpuIpv4CidrBlock": {
          "type": "string",
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`)."
        },
        "verticalPodAutoscaling": {
          "$ref": "#/definitions/VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        },
        "workloadIdentityConfig": {
          "$ref": "#/definitions/WorkloadIdentityConfig",
          "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies."
        },
        "zone": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead."
        }
      }
    },
    "GcpFilestoreCsiDriverConfig": {
      "type": "object",
      "description": "Configuration for the GCP Filestore CSI Driver addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the GCP Filestore CSI Driver addon is enabled"
        }
      }
    },
    "GcpSecretManagerCertificateConfig": {
      "type": "object",
      "description": "GCPSecretManagerCertificateConfig specifies a certificate stored in Google Secret Manager",
      "properties": {
        "secretUri": {
          "type": "string",
          "description": "Secret Manager secret URI for the certificate authority certificate"
        }
      }
    },
    "GcsFuseCsiDriverConfig": {
      "type": "object",
      "description": "Configuration for the GCS Fuse CSI Driver addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the GCS Fuse CSI Driver addon is enabled"
        }
      }
    },
    "GkeAutoUpgradeConfig": {
      "type": "object",
      "description": "GKE auto-upgrade configuration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether auto-upgrade is enabled"
        },
        "autoUpgradeStartTime": {
          "type": "string",
          "description": "Time when auto-upgrade should start"
        }
      }
    },
    "GkeBackupAgentConfig": {
      "type": "object",
      "description": "Configuration for the GKE Backup Agent addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the GKE Backup Agent addon is enabled"
        }
      }
    },
    "GpuDriverInstallationConfig": {
      "type": "object",
      "description": "GPUDriverInstallationConfig specifies the version of GPU driver to be auto installed",
      "properties": {
        "gpuDriverVersion": {
          "$ref": "#/definitions/GpuDriverVersion",
          "description": "Mode for how the GPU driver is installed"
        }
      }
    },
    "GpuDriverVersion": {
      "type": "string",
      "description": "GpuDriverInstallationConfig.gpuDriverVersion values, as defined by the Google Cloud API.",
      "enum": [
        "GPU_DRIVER_VERSION_UNSPECIFIED",
        "INSTALLATION_DISABLED",
        "DEFAULT",
        "LATEST"
      ],
      "x-ms-enum": {
        "name": "GpuDriverVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "GPU_DRIVER_VERSION_UNSPECIFIED",
            "value": "GPU_DRIVER_VERSION_UNSPECIFIED",
            "description": "Default value is to not install any GPU driver."
          },
          {
            "name": "INSTALLATION_DISABLED",
            "value": "INSTALLATION_DISABLED",
            "description": "Disable GPU driver auto installation and needs manual installation"
          },
          {
            "name": "DEFAULT",
            "value": "DEFAULT",
            "description": "\"Default\" GPU driver in COS and Ubuntu."
          },
          {
            "name": "LATEST",
            "value": "LATEST",
            "description": "\"Latest\" GPU driver in COS."
          }
        ]
      }
    },
    "GpuSharingConfig": {
      "type": "object",
      "description": "GpuSharingConfig represents the GPU sharing configuration for Hardware Accelerators",
      "properties": {
        "gpuSharingStrategy": {
          "$ref": "#/definitions/GpuSharingStrategy",
          "description": "The type of GPU sharing strategy to enable on the GPU node"
        },
        "maxSharedClientsPerGpu": {
          "type": "string",
          "description": "The max number of containers that can share a physical GPU"
        }
      }
    },
    "GpuSharingStrategy": {
      "type": "string",
      "description": "GpuSharingConfig.gpuSharingStrategy values, as defined by the Google Cloud API.",
      "enum": [
        "GPU_SHARING_STRATEGY_UNSPECIFIED",
        "TIME_SHARING",
        "MPS"
      ],
      "x-ms-enum": {
        "name": "GpuSharingStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "GPU_SHARING_STRATEGY_UNSPECIFIED",
            "value": "GPU_SHARING_STRATEGY_UNSPECIFIED",
            "description": "Default value."
          },
          {
            "name": "TIME_SHARING",
            "value": "TIME_SHARING",
            "description": "GPUs are time-shared between containers."
          },
          {
            "name": "MPS",
            "value": "MPS",
            "description": "GPUs are shared between containers with NVIDIA MPS."
          }
        ]
      }
    },
    "HighScaleCheckpointingConfig": {
      "type": "object",
      "description": "Configuration for the High Scale Checkpointing addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the High Scale Checkpointing addon is enabled"
        }
      }
    },
    "HorizontalPodAutoscaling": {
      "type": "object",
      "description": "Configuration for the Horizontal Pod Autoscaling addon",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Horizontal Pod Autoscaling addon is disabled"
        }
      }
    },
    "HttpLoadBalancing": {
      "type": "object",
      "description": "Configuration for the HTTP Load Balancing addon",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the HTTP Load Balancing addon is disabled"
        }
      }
    },
    "IPv6AccessType": {
      "type": "string",
      "description": "IPv6 access type options for the cluster",
      "enum": [
        "IPV6_ACCESS_TYPE_UNSPECIFIED",
        "INTERNAL",
        "EXTERNAL"
      ],
      "x-ms-enum": {
        "name": "IPv6AccessType",
        "modelAsString": true,
        "values": [
          {
            "name": "IPV6_ACCESS_TYPE_UNSPECIFIED",
            "value": "IPV6_ACCESS_TYPE_UNSPECIFIED",
            "description": "IPv6 access type is unspecified"
          },
          {
            "name": "INTERNAL",
            "value": "INTERNAL",
            "description": "IPv6 access is internal only"
          },
          {
            "name": "EXTERNAL",
            "value": "EXTERNAL",
            "description": "IPv6 access is external"
          }
        ]
      }
    },
    "IdentityServiceConfig": {
      "type": "object",
      "description": "Configuration for Identity Service component",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Identity Service is enabled for this cluster"
        }
      }
    },
    "InTransitEncryptionConfig": {
      "type": "string",
      "description": "In-transit encryption configuration options",
      "enum": [
        "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
        "IN_TRANSIT_ENCRYPTION_DISABLED",
        "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
      ],
      "x-ms-enum": {
        "name": "InTransitEncryptionConfig",
        "modelAsString": true,
        "values": [
          {
            "name": "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
            "value": "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
            "description": "Unspecified, will be inferred as default - IN_TRANSIT_ENCRYPTION_UNSPECIFIED."
          },
          {
            "name": "IN_TRANSIT_ENCRYPTION_DISABLED",
            "value": "IN_TRANSIT_ENCRYPTION_DISABLED",
            "description": "In-transit encryption is disabled."
          },
          {
            "name": "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT",
            "value": "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT",
            "description": "Data in-transit is encrypted using inter-node transparent encryption."
          }
        ]
      }
    },
    "IpAllocationPolicy": {
      "type": "object",
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "properties": {
        "additionalPodRangesConfig": {
          "$ref": "#/definitions/AdditionalPodRangesConfig",
          "description": "Output only. [Output only] The additional pod ranges that are added to the cluster. These pod ranges can be used by new node pools to allocate pod IPs automatically. Once the range is removed it will not show up in IPAllocationPolicy."
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use cluster_ipv4_cidr_block."
        },
        "clusterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range for the cluster pod IPs. If this field is set, then `cluster.cluster_ipv4_cidr` must be left blank. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "clusterSecondaryRangeName": {
          "type": "string",
          "description": "The name of the secondary range to be used for the cluster CIDR block. The secondary range will be used for pod IP addresses. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false."
        },
        "createSubnetwork": {
          "type": "boolean",
          "description": "Whether a new subnetwork will be created automatically for the cluster. This field is only applicable when `use_ip_aliases` is true."
        },
        "defaultPodIpv4RangeUtilization": {
          "type": "number",
          "format": "double",
          "description": "Output only. [Output only] The utilization of the cluster default IPv4 range for the pod. The ratio is Usage/[Total number of IPs in the secondary range], Usage=numNodes*numZones*podIPsPerNode."
        },
        "ipv6AccessType": {
          "$ref": "#/definitions/IPv6AccessType",
          "description": "The ipv6 access type (internal or external) when create_subnetwork is true"
        },
        "nodeIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use node_ipv4_cidr_block."
        },
        "nodeIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the instance IPs in this cluster. This is applicable only if `create_subnetwork` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "podCidrOverprovisionConfig": {
          "$ref": "#/definitions/PodCidrOverprovisionConfig",
          "description": "[PRIVATE FIELD] Pod CIDR size overprovisioning config for the cluster. Pod CIDR size per node depends on max_pods_per_node. By default, the value of max_pods_per_node is doubled and then rounded off to next power of 2 to get the size of pod CIDR block per node. Example: max_pods_per_node of 30 would result in 64 IPs (/26). This config can disable the doubling of IPs (we still round off to next power of 2) Example: max_pods_per_node of 30 will result in 32 IPs (/27) when overprovisioning is disabled."
        },
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use services_ipv4_cidr_block."
        },
        "servicesIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the services IPs in this cluster. If blank, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "servicesIpv6CidrBlock": {
          "type": "string",
          "description": "Output only. [Output only] The services IPv6 CIDR block for the cluster."
        },
        "servicesSecondaryRangeName": {
          "type": "string",
          "description": "The name of the secondary range to be used as for the services CIDR block. The secondary range will be used for service ClusterIPs. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false."
        },
        "stackType": {
          "$ref": "#/definitions/StackType",
          "description": "The IP stack type of the cluster"
        },
        "subnetIpv6CidrBlock": {
          "type": "string",
          "description": "Output only. [Output only] The subnet's IPv6 CIDR block used by nodes and pods."
        },
        "subnetworkName": {
          "type": "string",
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true. If this field is empty, then an automatic name will be chosen for the new subnetwork."
        },
        "tpuIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the Cloud TPUs in this cluster. If unspecified, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. If unspecified, the range will use the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "useIpAliases": {
          "type": "boolean",
          "description": "Whether alias IPs will be used for pod IPs in the cluster. This is used in conjunction with use_routes. It cannot be true if use_routes is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode"
        },
        "useRoutes": {
          "type": "boolean",
          "description": "Whether routes will be used for pod IPs in the cluster. This is used in conjunction with use_ip_aliases. It cannot be true if use_ip_aliases is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode"
        }
      }
    },
    "K8sBetaApiConfig": {
      "type": "object",
      "description": "Kubernetes Beta API configuration",
      "properties": {
        "enableBetaApis": {
          "type": "boolean",
          "description": "Whether Beta APIs are enabled"
        },
        "allowedBetaApis": {
          "type": "array",
[...]
