{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used by vendors to on-board offerings and manage vendor virtual network function.",
    "version": "2020-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/locations/{locationName}/vendors/{vendorName}/virtualNetworkFunctions/{serviceKey}": {
      "get": {
        "tags": [
          "VendorVirtualNetworkFunctions"
        ],
        "operationId": "VendorVirtualNetworkFunctions_Get",
        "description": "Gets information about the specified vendor virtual network function.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure region where the virtual network function sub resource was created by the customer."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "serviceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID for the vendor virtual network function."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting vendor virtual network function sub resource.",
            "schema": {
              "$ref": "#/definitions/VendorVirtualNetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Get vendor virtual network function sub resource by service key of virtual network function.": {
            "$ref": "./examples/VendorVnfGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "VendorVirtualNetworkFunctions"
        ],
        "operationId": "VendorVirtualNetworkFunctions_CreateOrUpdate",
        "description": "Creates or updates a vendor virtual network function.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure region where the virtual network function resource was created by the customer."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "serviceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID for the vendor virtual network function."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VendorVirtualNetworkFunction"
            },
            "description": "Parameters supplied to the create or update vendor virtual network function operation."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting vendor virtual network function sub resource.",
            "schema": {
              "$ref": "#/definitions/VendorVirtualNetworkFunction"
            }
          },
          "201": {
            "description": "Created. The operation returns the resulting vendor virtual network function sub resource.",
            "schema": {
              "$ref": "#/definitions/VendorVirtualNetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Create or update vendor virtual network function sub resource": {
            "$ref": "./examples/VendorVnfCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/locations/{locationName}/vendors/{vendorName}/virtualNetworkFunctions/{serviceKey}/roleInstances/{roleInstanceName}/start": {
      "post": {
        "tags": [
          "RoleInstances"
        ],
        "operationId": "RoleInstances_Start",
        "description": "Starts a role instance of a vendor virtual network function.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure region where the virtual network function resource was created by customer."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "serviceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID for the vendor virtual network function."
          },
          {
            "name": "roleInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the role instance of the vendor virtual network function."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Start a role instance of a vendor virtual network function": {
            "$ref": "./examples/RoleInstanceStart.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/locations/{locationName}/vendors/{vendorName}/virtualNetworkFunctions/{serviceKey}/roleInstances/{roleInstanceName}/stop": {
      "post": {
        "tags": [
          "RoleInstances"
        ],
        "operationId": "RoleInstances_Stop",
        "description": "Powers off (stop) a role instance of a vendor virtual network function.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure region where the virtual network function resource was created by customer."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "serviceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID for the vendor virtual network function."
          },
          {
            "name": "roleInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the role instance of the vendor virtual network function."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Stop a role instance of a vendor virtual network function": {
            "$ref": "./examples/RoleInstanceStop.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/locations/{locationName}/vendors/{vendorName}/virtualNetworkFunctions/{serviceKey}/roleInstances/{roleInstanceName}/restart": {
      "post": {
        "tags": [
          "RoleInstances"
        ],
        "operationId": "RoleInstances_Restart",
        "description": "Restarts a role instance of a vendor virtual network function.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure region where the virtual network function resource was created by customer."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "serviceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID for the vendor virtual network function."
          },
          {
            "name": "roleInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the role instance of the vendor virtual network function."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Restart a role instance of a vendor virtual network function": {
            "$ref": "./examples/RoleInstanceRestart.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/locations/{locationName}/vendors/{vendorName}/virtualNetworkFunctions/{serviceKey}/roleInstances/getOperationalState": {
      "post": {
        "tags": [
          "RoleInstances"
        ],
        "operationId": "RoleInstances_ListGetOperationalState",
        "description": "Gets the operational state of role instances of a vendor virtual network function.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure region where the virtual network function resource was created by customer."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "serviceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID for the vendor virtual network function."
          },
          {
            "name": "roleInstanceNames",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunctionRoleInstanceNames"
            },
            "description": "A list of role instance names of a virtual network function. Omitting the role instance names will result in getting the operational state of all role instances of the virtual network function."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunctionRoleInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Get the operational state of role instances of a vendor virtual network function": {
            "$ref": "./examples/RoleInstanceGetOperationalState.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/locations/{locationName}/vendors/{vendorName}/virtualNetworkFunctions": {
      "get": {
        "tags": [
          "VendorVirtualNetworkFunctions"
        ],
        "operationId": "VendorVirtualNetworkFunctions_List",
        "description": "Lists all the vendor virtual network function sub resources in an Azure region, filtered by skuType, skuName, vendorProvisioningState.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure region where the virtual network function resource was created by the customer."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation. The properties you can use for eq (equals) are: skuType, skuName and vendorProvisioningState."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting hybrid network vendor virtual network function sub resource.",
            "schema": {
              "$ref": "#/definitions/VendorVirtualNetworkFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List all vnfs of vendor resource": {
            "$ref": "./examples/VendorVnfListByVendor.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "VendorVirtualNetworkFunctionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VendorVirtualNetworkFunction"
          },
          "description": "A list of vendor virtual network functions."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for vendors API service call."
    },
    "VendorVirtualNetworkFunction": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VendorVirtualNetworkFunctionPropertiesFormat",
          "description": "Virtual network function details."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ],
      "description": "Vendor virtual network function sub resource."
    },
    "VendorVirtualNetworkFunctionPropertiesFormat": {
      "description": "Vendor virtual network function properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the vendor virtual network function sub resource."
        },
        "vendorProvisioningState": {
          "$ref": "./common.json#/definitions/VendorProvisioningState",
          "description": "The vendor controlled provisioning state of the vendor virtual network function."
        },
        "skuName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the sku."
        },
        "skuType": {
          "$ref": "./common.json#/definitions/SkuType",
          "description": "The sku type.",
          "readOnly": true
        },
        "virtualNetworkFunctionVendorConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualNetworkFunctionVendorConfiguration"
          },
          "description": "An array of virtual network function vendor configurations."
        }
      }
    },
    "VirtualNetworkFunctionVendorConfiguration": {
      "properties": {
        "roleName": {
          "type": "string",
          "description": "The name of the vendor virtual network function role."
        },
        "osProfile": {
          "description": "Specifies the operating system settings for the role instance.",
          "$ref": "./common.json#/definitions/OsProfile"
        },
        "userDataParameters": {
          "$ref": "./common.json#/definitions/UserDataParameters",
          "readOnly": true,
          "description": "The user parameters from the customer."
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/NetworkInterface"
          },
          "description": "The network interface configurations."
        }
      },
      "description": "Virtual network function vendor configuration."
    },
    "VirtualNetworkFunctionRoleInstanceNames": {
      "properties": {
        "roleInstanceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The role instance names."
        }
      },
      "description": "Specifies a list of role instance names of the vendor virtual network function."
    },
    "VirtualNetworkFunctionRoleInstanceList": {
      "description": "List of role instances of vendor virtual network function.",
      "properties": {
        "roleInstances": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoleInstance"
          },
          "description": "A list of role instances."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      }
    },
    "RoleInstance": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RoleInstanceProperties",
          "description": "The role instance properties."
        }
      },
      "description": "The role instance sub resource."
    },
    "RoleInstanceProperties": {
      "properties": {
        "roleInstanceName": {
          "type": "string",
          "description": "The role instance name."
        },
        "operationalState": {
          "type": "string",
          "description": "The operational state of the role instance.",
          "enum": [
            "Unknown",
            "Stopped",
            "Running",
            "Stopping",
            "Starting"
          ],
          "x-ms-enum": {
            "name": "OperationalState",
            "modelAsString": true
          }
        }
      },
      "description": "The role instance properties of the virtual network function."
    }
  }
}