{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage the virtual network function deployment in a hybrid network resource provider.",
    "version": "2020-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/virtualNetworkFunctions/{virtualNetworkFunctionName}": {
      "delete": {
        "tags": [
          "VirtualNetworkFunctions"
        ],
        "operationId": "VirtualNetworkFunctions_Delete",
        "description": "Deletes the specified hybrid network virtual network function resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "virtualNetworkFunctionName",
            "description": "The name of the hybrid network virtual network function.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully."
          },
          "202": {
            "description": "Accepted. The header contains ‘Azure-AsyncOperation’ header pointing to an operations resource. The operation URI can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Delete hybrid network virtual network function resource": {
            "$ref": "./examples/VirtualNetworkFunctionDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "VirtualNetworkFunctions"
        ],
        "operationId": "VirtualNetworkFunctions_Get",
        "description": "Gets information about the specified hybrid network virtual network function resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "virtualNetworkFunctionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of hybrid network virtual network function resource."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful. The operation returns the resulting hybrid network virtual network function resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Get hybrid network virtual network function resource": {
            "$ref": "./examples/VirtualNetworkFunctionGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "VirtualNetworkFunctions"
        ],
        "operationId": "VirtualNetworkFunctions_CreateOrUpdate",
        "description": "Creates or updates a hybrid network virtual network function resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "virtualNetworkFunctionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource name for the hybrid network virtual network function resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunction"
            },
            "description": "Parameters supplied in the body to create or update hybrid network virtual network function operation."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunction"
            }
          },
          "201": {
            "description": "Created or Updated. The header contains ‘Azure-AsyncOperation’ header pointing to an operation resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Create hybrid network virtual network function resource": {
            "$ref": "./examples/VirtualNetworkFunctionCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "VirtualNetworkFunctions"
        ],
        "operationId": "VirtualNetworkFunctions_UpdateTags",
        "description": "Updates the tags for hybrid network virtual network function resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "virtualNetworkFunctionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource name for the virtual network function resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update hybrid network virtual network function tags."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update is completed successfully. The operation returns the resulting hybrid network virtual network function resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Update tags for hybrid network virtual network function resource": {
            "$ref": "./examples/VirtualNetworkFunctionUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/virtualNetworkFunctions": {
      "get": {
        "description": "List all the hybrid network virtual network functions in a subscription.",
        "operationId": "VirtualNetworkFunctions_ListBySubscription",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of hybrid network virtual network function resources.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "tags": [
          "VirtualNetworkFunctions"
        ],
        "x-ms-examples": {
          "List all hybrid network virtual network function resources in subscription.": {
            "$ref": "./examples/VirtualNetworkFunctionListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/virtualNetworkFunctions": {
      "get": {
        "tags": [
          "VirtualNetworkFunctions"
        ],
        "operationId": "VirtualNetworkFunctions_ListByResourceGroup",
        "description": "List all the hybrid network virtual network function resources in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of hybrid network virtual network function resources.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List hybrid network virtual network function in resource group": {
            "$ref": "./examples/VirtualNetworkFunctionListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "VirtualNetworkFunction": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VirtualNetworkFunctionPropertiesFormat",
          "description": "Hybrid network virtual network function properties."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ],
      "description": "Hybrid network virtual network function resource response."
    },
    "VirtualNetworkFunctionPropertiesFormat": {
      "description": "Hybrid network virtual network function properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the hybrid network virtual network function resource."
        },
        "device": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the hybrid network device."
        },
        "skuName": {
          "type": "string",
          "description": "The sku name for the hybrid network virtual network function."
        },
        "skuType": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/SkuType",
          "description": "The sku type for the hybrid network virtual network function."
        },
        "vendorName": {
          "type": "string",
          "description": "The vendor name for the hybrid network virtual network function."
        },
        "serviceKey": {
          "type": "string",
          "readOnly": true,
          "description": "The service key for the virtual network function resource."
        },
        "vendorProvisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/VendorProvisioningState",
          "description": "The vendor provisioning state for the virtual network function resource."
        },
        "managedApplication": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The resource URI of the managed application."
        },
        "managedApplicationParameters": {
          "$ref": "./common.json#/definitions/ManagedApplicationParameters",
          "description": "The parameters for the managed application."
        },
        "virtualNetworkFunctionUserConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualNetworkFunctionUserConfiguration"
          },
          "description": "The virtual network function configurations from the user."
        }
      }
    },
    "VirtualNetworkFunctionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualNetworkFunction"
          },
          "description": "A list of hybrid network virtual network function resources in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for hybrid network virtual network function API service call."
    },
    "VirtualNetworkFunctionUserConfiguration": {
      "properties": {
        "roleName": {
          "type": "string",
          "description": "The name of the virtual network function role."
        },
        "userDataParameters": {
          "$ref": "./common.json#/definitions/UserDataParameters",
          "description": "The user data parameters from the customer."
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/NetworkInterface"
          },
          "description": "The network interface configuration."
        }
      },
      "description": "The virtual network function user configuration."
    }
  }
}
