{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage the virtual network function vendor in a hybrid network resource provider.",
    "version": "2020-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/virtualNetworkFunctionVendors": {
      "get": {
        "tags": [
          "virtualNetworkFunctionVendors"
        ],
        "operationId": "virtualNetworkFunctionVendors_List",
        "description": "List all the available vendor and sku information in hybrid network.",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of hybrid network vendors with available sku information.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunctionVendorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List hybrid network vendors and skus.": {
            "$ref": "./examples/VirtualNetworkFunctionVendorAndSkuList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/virtualNetworkFunctionVendors/{vendorName}/vendorSkus": {
      "get": {
        "tags": [
          "virtualNetworkFunctionVendors"
        ],
        "operationId": "VirtualNetworkFunctionVendorSkus_ListByVendor",
        "description": "List all virtual network function vendor sku details in a vendor",
        "parameters": [
          {
            "name": "vendorName",
            "description": "The name of the hybrid network virtual network function vendor.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of virtual network function vendor skus",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunctionSkuListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List hybrid network vendors and skus.": {
            "$ref": "./examples/VirtualNetworkFunctionSkuList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/virtualNetworkFunctionVendors/{vendorName}/vendorSkus/{vendorSkuName}": {
      "get": {
        "tags": [
          "virtualNetworkFunctionVendors"
        ],
        "operationId": "virtualNetworkFunctionVendorSkus_List",
        "description": "Gets information about hybrid network virtual network function vendor sku details",
        "parameters": [
          {
            "name": "vendorName",
            "description": "The name of the hybrid network virtual network function vendor.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "vendorSkuName",
            "description": "The name of the hybrid network virtual network function sku.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting hybrid network virtual network function vendor sku details.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunctionSkuDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual network function sku details": {
            "$ref": "./examples/VirtualNetworkFunctionGetSkuDetails.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SkuOverview": {
      "properties": {
        "skuName": {
          "type": "string",
          "description": "The vendor sku name."
        },
        "skuType": {
          "$ref": "./common.json#/definitions/SkuType",
          "description": "The vendor sku type."
        }
      },
      "description": "The virtual network function sku overview."
    },
    "VirtualNetworkFunctionSkuDetails": {
      "properties": {
        "skuType": {
          "$ref": "./common.json#/definitions/SkuType",
          "description": "The virtual network function sku type."
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualNetworkFunctionSkuRoleDetails"
          },
          "description": "The virtual network function sku role details."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "The virtual network function sku details."
    },
    "VendorDetails": {
      "properties": {
        "vendorName": {
          "type": "string",
          "description": "The virtual network function vendor name."
        },
        "skuList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuOverview"
          },
          "description": "The virtual network function sku list."
        }
      },
      "description": "The virtual network function vendor details."
    },
    "VirtualNetworkFunctionVendor": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VendorDetails",
          "description": "Vendors of the hybrid network service provider."
        }
      },
      "description": "The virtual network function vendor."
    },
    "VirtualNetworkFunctionVendorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualNetworkFunctionVendor"
          },
          "description": "A list of available hybrid network virtual network function vendors and skus."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "The virtual network function vendor list result."
    },
    "VirtualNetworkFunctionSkuRoleDetails": {
      "properties": {
        "roleName": {
          "type": "string",
          "description": "The name of the virtual network function role."
        },
        "userDataTemplate": {
          "$ref": "./common.json#/definitions/UserDataTemplate",
          "description": "The user data template for customers."
        },
        "userDataParameters": {
          "$ref": "./common.json#/definitions/UserDataParameters",
          "description": "The user parameters for customers."
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/NetworkInterface"
          },
          "description": "The network interface configuration."
        }
      },
      "description": "The virtual network function user configuration."
    },
    "VirtualNetworkFunctionSkuListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuOverview"
          },
          "description": "The virtual network function vendor sku overview properties."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of available hybrid network virtual network function skus."
    }
  }
}
