{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage the virtual network functions deployed in a hybrid network Vnf",
    "version": "2020-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/vnfs/{vnfName}": {
      "delete": {
        "tags": [
          "HybridNetworkVnf"
        ],
        "operationId": "HybridNetworkVnfs_Delete",
        "description": "Deletes the specified hybrid network Vnf.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vnfName",
            "description": "The name of the hybrid network Vnf.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The header contains ‘Azure-AsyncOperation’ header pointing to an operations resource. The operation Uri can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Delete hybrid network Vnf resource": {
            "$ref": "./examples/VnfDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "HybridNetworkVnf"
        ],
        "operationId": "HybridNetworkVnfs_Get",
        "description": "Gets information about the specified hybrid network Vnf.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vnfName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of hybrid network Vnf."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful. The operation returns the resulting hybrid network Vnf resource.",
            "schema": {
              "$ref": "#/definitions/HybridNetworkVnf"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Get hybrid network Vnf resource": {
            "$ref": "./examples/VnfGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "HybridNetworkVnf"
        ],
        "operationId": "VnfMangerVnf_CreateOrUpdate",
        "description": "Creates or updates a hybrid network Vnf.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vnfName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource Name for the hybrid network Vnf resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HybridNetworkVnf"
            },
            "description": "Parameters supplied in the body to create or update hybrid network vnf operation."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created. The header also contains ‘Azure-AsyncOperation’ header pointing to an operations resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/HybridNetworkVnf"
            }
          },
          "202": {
            "description": "Accepted. The header also contains ‘Azure-AsyncOperation’ header pointing to an operations resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/HybridNetworkVnf"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Create Vnf Manager Vnf resource": {
            "$ref": "./examples/VnfCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "HybridNetworkVnf"
        ],
        "operationId": "HybridNetworkVnfs_Update",
        "description": "Creates or updates a hybrid network Vnf.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vnfName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource Name for the vnf resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update hybrid network Vnf tags."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting hybrid network vnf resource.",
            "schema": {
              "$ref": "#/definitions/HybridNetworkVnf"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Update tags for Vnf Manager Vnf resource": {
            "$ref": "./examples/VnfUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vnfs": {
      "get": {
        "description": "Gets all the hybrid network Vnfs in a subscription.",
        "operationId": "HybridNetworkVnfs_ListBySubscription",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of hybrid network vnf resources.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "tags": [
          "VirtualNetworkFunctions"
        ],
        "x-ms-examples": {
          "List all Vnf Manager Vnfs": {
            "$ref": "./examples/VnfListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/vnfs": {
      "get": {
        "tags": [
          "HybridNetworkVnf"
        ],
        "operationId": "HybridNetworkVnfs_ListByResourceGroup",
        "description": "Gets all the hybrid network Vnfs in a resource Group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of hybrid network vnf resources.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List VnfManager vnf in resource group": {
            "$ref": "./examples/VnfList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/virtualNetworkFunctionSkus": {
      "get": {
        "tags": [
          "HybridNetworkVnf"
        ],
        "operationId": "VirtualNetworkFunctionsSkus_List",
        "description": "Get all the available vendor information.",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of hybrid network vendors.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkFunctionVendorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List VnfManager vnf in resource group": {
            "$ref": "./examples/VirtualNetworkFunctionsSkusGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "HybridNetworkVnf": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/HybridNetworkVnfFormat",
          "description": "Vnf Manager vnf Properties."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ],
      "description": "Hybrid network Vnf resource response."
    },
    "HybridNetworkVnfFormat": {
      "description": "Hybrid network Vnf response properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the hybrid network Vnf resource."
        },
        "mecDevice": {
          "$ref": "#/definitions/MecDevice",
          "description": "The reference to the hybrid network Device."
        },
        "sku": {
          "type": "string",
          "description": "The sku for the hybrid network Vnf."
        },
        "vendor": {
          "type": "string",
          "description": "The vendor for the hybrid network Vnf."
        },
        "vnfServiceKey": {
          "type": "string",
          "readOnly": true,
          "description": "The service key for the Vnf vendor."
        },
        "vendorProvisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The vendor provisioning state for the Vnf."
        },
        "managedApp": {
          "readOnly": true,
          "$ref": "#/definitions/ManagedApp",
          "description": "The reference to the managed App."
        }
      }
    },
    "MecDevice": {
      "description": "The reference to the hybrid network device.",
      "$ref": "./common.json#/definitions/SubResource"
    },
    "ManagedApp": {
      "description": "The resource Uri of the managed App.",
      "$ref": "./common.json#/definitions/SubResource"
    },
    "VirtualNetworkFunctionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HybridNetworkVnf"
          },
          "description": "A list of hybrid network Vnfs in a resource group or in a subscription."
        },
        "nextLink": {
          "type": "string",
          "description": "The Url to get the next set of results."
        }
      },
      "description": "Response for hybrid network Vnfs Api service call."
    },
    "SKUNameType": {
      "properties": {
        "skuName": {
          "type": "string",
          "description": "The vendor Sku name"
        },
        "skuType": {
          "type": "string",
          "description": "The vendor Sku type"
        }
      },
      "description": "The vendor Sku."
    },
    "VirtualNetworkFunctionVendorPropertiesFormat": {
      "properties": {
        "skuNameType": {
		  "description": "The vendor Sku name type",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SKUNameType"
          }
        }
      },
      "description": "Vnf property format."
    },
    "VirtualNetworkFunctionVendor": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VirtualNetworkFunctionVendorPropertiesFormat",
          "description": "Vendors of the hybrid network service provider."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ],	  
	  "description": "Vendor vnf."
    },
    "VirtualNetworkFunctionVendorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualNetworkFunctionVendor"
          },
          "description": "A list of hybrid network vendors that are available."
        },
        "nextLink": {
          "type": "string",
          "description": "The Url to get the next set of results."
        }
      },	  
	  "description": "Vnf vendor list."
    }
  }
}
