{
  "swagger": "2.0",
  "info": {
    "version": "2022-06-15-preview",
    "title": "AzureArcDataManagementClient",
    "description": "The AzureArcData management API provides a RESTful set of web APIs to manage Azure Data Services on Azure Arc Resources."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/databases/{databaseName}": {
      "put": {
        "tags": [
          "SqlServerDatabases"
        ],
        "operationId": "SqlServerDatabases_Create",
        "description": "Creates or replaces an Arc Sql Server Database.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "sqlServerDatabaseResource",
            "description": "The request body for database resource.",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SqlServerDatabaseResource"
            }
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/databaseName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SqlServerDatabaseResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Arc Sql Server database.": {
            "$ref": "./examples/CreateOrUpdateArcSqlServerDatabase.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SqlServerDatabases"
        ],
        "operationId": "SqlServerDatabases_Delete",
        "description": "Deletes an Arc Sql Server database resource.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/databaseName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the database."
          },
          "204": {
            "description": "The specified database does not exist."
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a database resource": {
            "$ref": "./examples/DeleteArcSqlServerDatabase.json"
          }
        }
      },
      "get": {
        "tags": [
          "SqlServerDatabases"
        ],
        "operationId": "SqlServerDatabases_Get",
        "description": "Retrieves an Arc Sql Server database.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/databaseName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SqlServerDatabaseResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves an Arc Sql Server database resource.": {
            "$ref": "./examples/GetArcSqlServerDatabase.json"
          }
        }
      },
      "patch": {
        "tags": [
          "SqlServerDatabases"
        ],
        "description": "Updates an existing database.",
        "operationId": "SqlServerDatabases_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/databaseName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          },
          {
            "name": "sqlServerDatabaseUpdate",
            "in": "body",
            "description": "The requested database resource state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlServerDatabaseUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the database.",
            "schema": {
              "$ref": "#/definitions/SqlServerDatabaseResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a database.": {
            "$ref": "./examples/UpdateSqlServerDatabase.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/databases": {
      "get": {
        "tags": [
          "SqlServerDatabases"
        ],
        "operationId": "SqlServerDatabases_List",
        "summary": "List the databases associated with the given Arc Sql Server.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArcSqlServerDatabaseListResult"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets all databases associated with an Arc Enabled Sql server.": {
            "$ref": "./examples/ListBySqlServerInstanceDatabase.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ArcSqlServerDatabaseListResult": {
      "description": "A list of Arc Sql Server database.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of  Arc Sql Server database.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SqlServerDatabaseResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SqlServerDatabaseResource": {
      "type": "object",
      "description": "Arc Sql Server database",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SqlServerDatabaseResourceProperties",
          "description": "Properties of Arc Sql Server database",
          "x-ms-client-flatten": false
        }
      },
      "required": [
        "properties"
      ]
    },
    "SqlServerDatabaseResourceProperties": {
      "type": "object",
      "description": "The properties of Arc Sql Server database resource",
      "properties": {
        "collationName": {
          "description": "Collation of the database.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "databaseCreationDate": {
          "format": "date-time",
          "description": "Creation date of the database.",
          "type": "string"
        },
        "compatibilityLevel": {
          "type": "integer",
          "minimum": 80,
          "maximum": 200,
          "format": "int32",
          "description": "Compatibility level of the database"
        },
        "sizeMB": {
          "type": "number",
          "format": "float",
          "description": "Size of the database."
        },
        "spaceAvailableMB": {
          "type": "number",
          "format": "float",
          "description": "Space left of the database."
        },
        "state": {
          "description": "State of the database.",
          "enum": [
            "Online",
            "Restoring",
            "Recovering",
            "RecoveryPending",
            "Suspect",
            "Emergency",
            "Offline",
            "Copying",
            "OfflineSecondary"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DatabaseState",
            "modelAsString": true
          }
        },
        "isReadOnly": {
          "type": "boolean",
          "description": "Whether the database is read only or not."
        },
        "recoveryMode": {
          "description": "Status of the database.",
          "enum": [
            "Full",
            "Bulk-logged",
            "Simple"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RecoveryMode",
            "modelAsString": true
          }
        },
        "databaseOptions": {
          "type": "object",
          "description": "List of features that are enabled for the database",
          "properties": {
            "isAutoCloseOn": {
              "type": "boolean"
            },
            "isAutoShrinkOn": {
              "type": "boolean"
            },
            "isAutoCreateStatsOn": {
              "type": "boolean"
            },
            "isAutoUpdateStatsOn": {
              "type": "boolean"
            },
            "isRemoteDataArchiveEnabled": {
              "type": "boolean"
            },
            "isMemoryOptimizationEnabled": {
              "type": "boolean"
            },
            "isEncrypted": {
              "type": "boolean"
            },
            "isTrustworthyOn": {
              "type": "boolean"
            }
          }
        },
        "backupInformation": {
          "type": "object",
          "properties": {
            "lastFullBackup": {
              "format": "date-time",
              "description": "Date time of last full backup.",
              "type": "string"
            },
            "lastLogBackup": {
              "format": "date-time",
              "description": "Date time of last log backup.",
              "type": "string"
            }
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the Arc-enabled SQL Server database resource.",
          "readOnly": true
        }
      }
    },
    "SqlServerDatabaseUpdate": {
      "description": "An update to database resource.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/SqlServerDatabaseResourceProperties",
          "description": "The data controller's properties",
          "x-ms-client-flatten": false
        }
      }
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the Azure subscription",
      "x-ms-parameter-location": "client"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure resource group",
      "x-ms-parameter-location": "method"
    },
    "apiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request",
      "x-ms-parameter-location": "client"
    },
    "sqlServerInstanceName": {
      "name": "sqlServerInstanceName",
      "description": "Name of SQL Server Instance",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "databaseName": {
      "name": "databaseName",
      "description": "Name of the database",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
