{
  "swagger": "2.0",
  "info": {
    "title": "Azure Bot Service",
    "version": "2022-09-15",
    "description": "Azure Bot Service is a platform for creating smart conversational agents.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Bots"
    },
    {
      "name": "BotChannels"
    },
    {
      "name": "ConnectionSettings"
    },
    {
      "name": "PrivateEndpointConnections"
    }
  ],
  "paths": {
    "/providers/Microsoft.BotService/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/botServices": {
      "get": {
        "operationId": "Bots_List",
        "tags": [
          "Bots"
        ],
        "description": "Returns all the resources of a particular type belonging to a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Bots by Subscription": {
            "$ref": "./examples/Bots_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/botServices/{resourceName}/connections": {
      "get": {
        "operationId": "BotConnection_ListServiceProviders",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Lists the available Service Providers for creating Connection Settings",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Auth Service Providers": {
            "$ref": "./examples/BotConnection_ListServiceProviders.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/checkNameAvailability": {
      "post": {
        "operationId": "Bots_GetCheckNameAvailability",
        "tags": [
          "Bots"
        ],
        "description": "Check whether a bot name is available.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponseBody"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "check Name Availability": {
            "$ref": "./examples/Bots_GetCheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/hostSettings": {
      "get": {
        "operationId": "HostSettingsOperations_Get",
        "description": "Get per subscription settings needed to host bot in compute resource such as Azure App Service",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure Subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/HostSettingsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/listQnAMakerEndpointKeys": {
      "post": {
        "operationId": "QnAMakerEndpointKeysOperations_Get",
        "description": "Lists the QnA Maker endpoint keys",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure Subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body parameters to provide for the check name availability request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QnAMakerEndpointKeysRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QnAMakerEndpointKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/{channelName}/providers/Microsoft.BotService/botServices/{resourceName}/regenerateKeys": {
      "post": {
        "operationId": "DirectLine_RegenerateKeys",
        "tags": [
          "Bots"
        ],
        "description": "Regenerates secret keys and returns them for the DirectLine Channel of a particular BotService resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource for which keys are to be regenerated.",
            "required": true,
            "type": "string",
            "enum": [
              "WebChatChannel",
              "DirectLineChannel"
            ],
            "x-ms-enum": {
              "name": "RegenerateKeysChannelName",
              "modelAsString": false
            }
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for the created bot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteInfo"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regenerate Keys for DirectLine Channel Site": {
            "$ref": "./examples/DirectLine_RegenerateKeys_Regenerate_Keys_For_Direct_Line_Channel_Site.json"
          },
          "Regenerate Keys for WebChat Channel Site": {
            "$ref": "./examples/DirectLine_RegenerateKeys_Regenerate_Keys_For_Web_Chat_Channel_Site.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices": {
      "get": {
        "operationId": "Bots_ListByResourceGroup",
        "tags": [
          "Bots"
        ],
        "description": "Returns all the resources of a particular type belonging to a resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Bots by Resource Group": {
            "$ref": "./examples/Bots_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}": {
      "get": {
        "operationId": "Bots_Get",
        "tags": [
          "Bots"
        ],
        "description": "Returns a BotService specified by the parameters.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Bot": {
            "$ref": "./examples/Bots_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Bots_Create",
        "tags": [
          "Bots"
        ],
        "description": "Creates a Bot Service. Bot Service is a resource group wide resource type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for the created bot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Bot"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Bot' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "201": {
            "description": "Resource 'Bot' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Bot": {
            "$ref": "./examples/Bots_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "Bots_Delete",
        "tags": [
          "Bots"
        ],
        "description": "Deletes a Bot Service from the resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Bot": {
            "$ref": "./examples/Bots_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/botServices/{name}": {
      "patch": {
        "operationId": "Bots_Update",
        "tags": [
          "Bots"
        ],
        "description": "Updates a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for the created bot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Bot"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Bot": {
            "$ref": "./examples/Bots_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/channels": {
      "get": {
        "operationId": "Channels_ListByResourceGroup",
        "tags": [
          "BotChannels"
        ],
        "description": "Returns all the Channel registrations of a particular BotService resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Channels by Resource Group": {
            "$ref": "./examples/Channels_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/channels/{channelName}": {
      "get": {
        "operationId": "Channels_Get",
        "tags": [
          "BotChannels"
        ],
        "description": "Returns a BotService Channel registration specified by the parameters.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource.",
            "required": true,
            "type": "string",
            "enum": [
              "AlexaChannel",
              "FacebookChannel",
              "EmailChannel",
              "KikChannel",
              "TelegramChannel",
              "SlackChannel",
              "MsTeamsChannel",
              "SkypeChannel",
              "WebChatChannel",
              "DirectLineChannel",
              "SmsChannel",
              "LineChannel",
              "DirectLineSpeechChannel",
              "OutlookChannel",
              "Omnichannel",
              "TelephonyChannel",
              "AcsChatChannel",
              "SearchAssistant",
              "M365Extensions"
            ],
            "x-ms-enum": {
              "name": "ChannelName",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Alexa Channel": {
            "$ref": "./examples/Channels_Get_Get_Alexa_Channel.json"
          },
          "Get Channel": {
            "$ref": "./examples/Channels_Get_Get_Channel.json"
          },
          "Get DirectLine Speech Channel": {
            "$ref": "./examples/Channels_Get_Get_Direct_Line_Speech_Channel.json"
          },
          "Get Line Channel": {
            "$ref": "./examples/Channels_Get_Get_Line_Channel.json"
          }
        }
      },
      "put": {
        "operationId": "Channels_Create",
        "tags": [
          "BotChannels"
        ],
        "description": "Creates a Channel registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource.",
            "required": true,
            "type": "string",
            "enum": [
              "AlexaChannel",
              "FacebookChannel",
              "EmailChannel",
              "KikChannel",
              "TelegramChannel",
              "SlackChannel",
              "MsTeamsChannel",
              "SkypeChannel",
              "WebChatChannel",
              "DirectLineChannel",
              "SmsChannel",
              "LineChannel",
              "DirectLineSpeechChannel",
              "OutlookChannel",
              "Omnichannel",
              "TelephonyChannel",
              "AcsChatChannel",
              "SearchAssistant",
              "M365Extensions"
            ],
            "x-ms-enum": {
              "name": "ChannelName",
              "modelAsString": true
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for the created bot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BotChannel"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BotChannel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "201": {
            "description": "Resource 'BotChannel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Alexa Channel": {
            "$ref": "./examples/Channels_Create_Create_Alexa_Channel.json"
          },
          "Create Channel": {
            "$ref": "./examples/Channels_Create_Create_Channel.json"
          },
          "Create DirectLine Speech Channel": {
            "$ref": "./examples/Channels_Create_Create_Direct_Line_Speech_Channel.json"
          },
          "Create Email Channel": {
            "$ref": "./examples/Channels_Create_Create_Email_Channel.json"
          },
          "Create Line Channel": {
            "$ref": "./examples/Channels_Create_Create_Line_Channel.json"
          }
        }
      },
      "delete": {
        "operationId": "Channels_Delete",
        "tags": [
          "BotChannels"
        ],
        "description": "Deletes a Channel registration from a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource.",
            "required": true,
            "type": "string",
            "enum": [
              "AlexaChannel",
              "FacebookChannel",
              "EmailChannel",
              "KikChannel",
              "TelegramChannel",
              "SlackChannel",
              "MsTeamsChannel",
              "SkypeChannel",
              "WebChatChannel",
              "DirectLineChannel",
              "SmsChannel",
              "LineChannel",
              "DirectLineSpeechChannel",
              "OutlookChannel",
              "Omnichannel",
              "TelephonyChannel",
              "AcsChatChannel",
              "SearchAssistant",
              "M365Extensions"
            ],
            "x-ms-enum": {
              "name": "ChannelName",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Channel": {
            "$ref": "./examples/Channels_Delete_Delete_Channel.json"
          },
          "Delete DirectLine Speech Channel": {
            "$ref": "./examples/Channels_Delete_Delete_Direct_Line_Speech_Channel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/channels/{channelName}/channels/{name}": {
      "patch": {
        "operationId": "Channels_Update",
        "tags": [
          "BotChannels"
        ],
        "description": "Updates a Channel registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource.",
            "required": true,
            "type": "string",
            "enum": [
              "AlexaChannel",
              "FacebookChannel",
              "EmailChannel",
              "KikChannel",
              "TelegramChannel",
              "SlackChannel",
              "MsTeamsChannel",
              "SkypeChannel",
              "WebChatChannel",
              "DirectLineChannel",
              "SmsChannel",
              "LineChannel",
              "DirectLineSpeechChannel",
              "OutlookChannel",
              "Omnichannel",
              "TelephonyChannel",
              "AcsChatChannel",
              "SearchAssistant",
              "M365Extensions"
            ],
            "x-ms-enum": {
              "name": "ChannelName",
              "modelAsString": true
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Channel resource.",
            "required": true,
            "type": "string",
            "enum": [
              "AlexaChannel",
              "FacebookChannel",
              "EmailChannel",
              "KikChannel",
              "TelegramChannel",
              "SlackChannel",
              "MsTeamsChannel",
              "SkypeChannel",
              "WebChatChannel",
              "DirectLineChannel",
              "SmsChannel",
              "LineChannel",
              "DirectLineSpeechChannel",
              "OutlookChannel",
              "Omnichannel",
              "TelephonyChannel",
              "AcsChatChannel",
              "SearchAssistant",
              "M365Extensions"
            ],
            "x-ms-enum": {
              "name": "ChannelName",
              "modelAsString": true
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for the created bot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BotChannel"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Alexa Channel": {
            "$ref": "./examples/Channels_Update_Update_Alexa_Channel.json"
          },
          "Update Channel": {
            "$ref": "./examples/Channels_Update_Update_Channel.json"
          },
          "Update DirectLine Speech Channel": {
            "$ref": "./examples/Channels_Update_Update_Direct_Line_Speech_Channel.json"
          },
          "Update Line Channel": {
            "$ref": "./examples/Channels_Update_Update_Line_Channel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/channels/{channelName}/listWithKeys": {
      "post": {
        "operationId": "Channels_ListWithKeys",
        "tags": [
          "BotChannels"
        ],
        "description": "Lists a Channel registration for a Bot Service including secrets",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource.",
            "required": true,
            "type": "string",
            "enum": [
              "AlexaChannel",
              "FacebookChannel",
              "EmailChannel",
              "KikChannel",
              "TelegramChannel",
              "SlackChannel",
              "MsTeamsChannel",
              "SkypeChannel",
              "WebChatChannel",
              "DirectLineChannel",
              "SmsChannel",
              "LineChannel",
              "DirectLineSpeechChannel",
              "OutlookChannel",
              "Omnichannel",
              "TelephonyChannel",
              "AcsChatChannel",
              "SearchAssistant",
              "M365Extensions"
            ],
            "x-ms-enum": {
              "name": "ChannelName",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListChannelWithKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Channel": {
            "$ref": "./examples/Channels_ListWithKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/connections": {
      "get": {
        "operationId": "BotConnection_ListByBotService",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Returns all the Connection Settings registered to a particular BotService resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Connection Settings": {
            "$ref": "./examples/BotConnection_ListByBotService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/connections/{connectionName}": {
      "get": {
        "operationId": "BotConnection_Get",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Get a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Connection Setting": {
            "$ref": "./examples/BotConnection_Get.json"
          }
        }
      },
      "put": {
        "operationId": "BotConnection_Create",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Register a new Auth Connection for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for creating the Connection Setting.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConnectionSetting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "201": {
            "description": "Resource 'ConnectionSetting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Connection Setting": {
            "$ref": "./examples/BotConnection_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "BotConnection_Delete",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Deletes a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Connection Setting": {
            "$ref": "./examples/BotConnection_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/connections/{connectionName}/connections/{name}": {
      "patch": {
        "operationId": "BotConnection_Update",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Updates a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for updating the Connection Setting.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Connection Setting": {
            "$ref": "./examples/BotConnection_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/connections/{connectionName}/listWithSecrets": {
      "post": {
        "operationId": "BotConnection_ListWithSecrets",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Get a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Connection Setting With Secrets": {
            "$ref": "./examples/BotConnection_ListWithSecrets.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/createSignInUrl": {
      "post": {
        "operationId": "Email_CreateSignInUrl",
        "tags": [
          "Bots"
        ],
        "description": "Creates an email channel sign in url for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreateEmailSignInUrlResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Url": {
            "$ref": "./examples/Email_CreateSignInUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_List",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "List all the private endpoint connections associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Private Endpoint Connections": {
            "$ref": "./examples/PrivateEndpointConnections_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets the specified private endpoint connection associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Private Endpoint Connection": {
            "$ref": "./examples/PrivateEndpointConnections_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_Create",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the state of specified private endpoint connection associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The private endpoint connection properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put Private Endpoint Connection": {
            "$ref": "./examples/PrivateEndpointConnections_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Private Endpoint Connection": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/privateLinkResources/{resourceGroupName}/{resourceName}/{subscriptionId}": {
      "get": {
        "operationId": "PrivateLinkResources_ListByBotResource",
        "tags": [
          "Bots"
        ],
        "description": "Gets the private link resources that need to be created for a Bot.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the Bot resource group in the user subscription.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure Subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "List Private Link Resources": {
            "$ref": "./examples/PrivateLinkResources_ListByBotResource.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AcsChatChannel": {
      "type": "object",
      "description": "AcsChat channel definition",
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "AcsChatChannel"
    },
    "AlexaChannel": {
      "type": "object",
      "description": "Alexa channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlexaChannelProperties",
          "description": "The set of properties specific to Alexa channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "AlexaChannel"
    },
    "AlexaChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Alexa channel.",
      "properties": {
        "alexaSkillId": {
          "type": "string",
          "description": "The Alexa skill Id"
        },
        "urlFragment": {
          "type": "string",
          "description": "Url fragment used in part of the Uri configured in Alexa",
          "readOnly": true
        },
        "serviceEndpointUri": {
          "type": "string",
          "description": "Full Uri used to configured the skill in Alexa",
          "readOnly": true
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        }
      },
      "required": [
        "alexaSkillId",
        "isEnabled"
      ]
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.ResourceManager.Foundations.SkuTier": {
      "type": "string",
      "description": "Available service tiers for the SKU.",
      "enum": [
        "Free",
        "Basic",
        "Standard",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "SkuTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Free",
            "value": "Free",
            "description": "The Free service tier."
          },
          {
            "name": "Basic",
            "value": "Basic",
            "description": "The Basic service tier."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "The Standard service tier."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "The Premium service tier."
          }
        ]
      }
    },
    "Bot": {
      "type": "object",
      "description": "Bot resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BotProperties",
          "description": "The set of properties specific to bot resource",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BotChannel": {
      "type": "object",
      "description": "Bot channel resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Channel",
          "description": "The set of properties specific to bot channel resource",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BotChannelListResult": {
      "type": "object",
      "description": "The response of a BotChannel list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BotChannel items on this page",
          "items": {
            "$ref": "#/definitions/BotChannel"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BotListResult": {
      "type": "object",
      "description": "The response of a Bot list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Bot items on this page",
          "items": {
            "$ref": "#/definitions/Bot"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BotProperties": {
      "type": "object",
      "description": "The parameters to provide for the Bot.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The Name of the bot"
        },
        "description": {
          "type": "string",
          "description": "The description of the bot"
        },
        "iconUrl": {
          "type": "string",
          "description": "The Icon Url of the bot",
          "default": ""
        },
        "endpoint": {
          "type": "string",
          "description": "The bot's endpoint"
        },
        "endpointVersion": {
          "type": "string",
          "description": "The bot's endpoint version",
          "readOnly": true
        },
        "allSettings": {
          "type": "object",
          "description": "Contains resource all settings defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "object",
          "description": "Contains resource parameters defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "manifestUrl": {
          "type": "string",
          "description": "The bot's manifest url"
        },
        "msaAppType": {
          "$ref": "#/definitions/MsaAppType",
          "description": "Microsoft App Type for the bot"
        },
        "msaAppId": {
          "type": "string",
          "description": "Microsoft App Id for the bot",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "msaAppTenantId": {
          "type": "string",
          "description": "Microsoft App Tenant Id for the bot",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "msaAppMSIResourceId": {
          "type": "string",
          "description": "Microsoft App Managed Identity Resource Id for the bot"
        },
        "configuredChannels": {
          "type": "array",
          "description": "Collection of channels for which the bot is configured",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "enabledChannels": {
          "type": "array",
          "description": "Collection of channels for which the bot is enabled",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "developerAppInsightKey": {
          "type": "string",
          "description": "The Application Insights key"
        },
        "developerAppInsightsApiKey": {
          "type": "string",
          "description": "The Application Insights Api Key"
        },
        "developerAppInsightsApplicationId": {
          "type": "string",
          "description": "The Application Insights App Id"
        },
        "luisAppIds": {
          "type": "array",
          "description": "Collection of LUIS App Ids",
          "items": {
            "type": "string"
          }
        },
        "luisKey": {
          "type": "string",
          "description": "The LUIS Key"
        },
        "isCmekEnabled": {
          "type": "boolean",
          "description": "Whether Cmek is enabled"
        },
        "cmekKeyVaultUrl": {
          "type": "string",
          "description": "The CMK Url"
        },
        "cmekEncryptionStatus": {
          "type": "string",
          "description": "The CMK encryption status",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The Tenant Id for the bot",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Whether the bot is in an isolated network",
          "default": "Enabled"
        },
        "isStreamingSupported": {
          "type": "boolean",
          "description": "Whether the bot is streaming supported"
        },
        "isDeveloperAppInsightsApiKeySet": {
          "type": "boolean",
          "description": "Whether the bot is developerAppInsightsApiKey set",
          "readOnly": true
        },
        "migrationToken": {
          "type": "string",
          "description": "Token used to migrate non Azure bot to azure subscription",
          "readOnly": true
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Opt-out of local authentication and ensure only MSI and AAD can be used exclusively for authentication."
        },
        "schemaTransformationVersion": {
          "type": "string",
          "description": "The channel schema transformation version for the bot"
        },
        "storageResourceId": {
          "type": "string",
          "description": "The storage resourceId for the bot"
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of Private Endpoint Connections configured for the bot",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "openWithHint": {
          "type": "string",
          "description": "The hint to browser (e.g. protocol handler) on how to open the bot for authoring"
        },
        "appPasswordHint": {
          "type": "string",
          "description": "The hint (e.g. keyVault secret resourceId) on how to fetch the app secret"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "publishingCredentials": {
          "type": "string",
          "description": "Publishing credentials of the resource"
        }
      },
      "required": [
        "displayName",
        "endpoint",
        "msaAppId"
      ]
    },
    "Channel": {
      "type": "object",
      "description": "Channel definition",
      "properties": {
        "channelName": {
          "type": "string",
          "description": "Discriminator property for Channel."
        },
        "etag": {
          "type": "string",
          "description": "Entity Tag of the resource",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource.",
          "default": "global"
        }
      },
      "discriminator": "channelName",
      "required": [
        "channelName"
      ]
    },
    "ChannelName": {
      "type": "string",
      "enum": [
        "AlexaChannel",
        "FacebookChannel",
        "EmailChannel",
        "KikChannel",
        "TelegramChannel",
        "SlackChannel",
        "MsTeamsChannel",
        "SkypeChannel",
        "WebChatChannel",
        "DirectLineChannel",
        "SmsChannel",
        "LineChannel",
        "DirectLineSpeechChannel",
        "OutlookChannel",
        "Omnichannel",
        "TelephonyChannel",
        "AcsChatChannel",
        "SearchAssistant",
        "M365Extensions"
      ],
      "x-ms-enum": {
        "name": "ChannelName",
        "modelAsString": true
      }
    },
    "ChannelSettings": {
      "type": "object",
      "description": "Channel settings definition",
      "properties": {
        "extensionKey1": {
          "type": "string",
          "description": "The extensionKey1",
          "default": ""
        },
        "extensionKey2": {
          "type": "string",
          "description": "The extensionKey2",
          "default": ""
        },
        "sites": {
          "type": "array",
          "description": "The list of sites",
          "items": {
            "$ref": "#/definitions/Site"
          },
          "x-ms-identifiers": []
        },
        "channelId": {
          "type": "string",
          "description": "The channel id"
        },
        "channelDisplayName": {
          "type": "string",
          "description": "The channel display name"
        },
        "botId": {
          "type": "string",
          "description": "The bot id"
        },
        "botIconUrl": {
          "type": "string",
          "description": "The bot icon url"
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Opt-out of local authentication and ensure only MSI and AAD can be used exclusively for authentication."
        },
        "requireTermsAgreement": {
          "type": "boolean",
          "description": "Whether customer needs to agree to new terms."
        }
      }
    },
    "CheckNameAvailabilityRequestBody": {
      "type": "object",
      "description": "The request body for a request to Bot Service Management to check availability of a bot name.",
      "properties": {
        "name": {
          "type": "string",
          "description": "the name of the bot for which availability needs to be checked."
        },
        "type": {
          "type": "string",
          "description": "the type of the bot for which availability needs to be checked"
        }
      }
    },
    "CheckNameAvailabilityResponseBody": {
      "type": "object",
      "description": "The response body returned for a request to Bot Service Management to check availability of a bot name.",
      "properties": {
        "valid": {
          "type": "boolean",
          "description": "indicates if the bot name is valid."
        },
        "message": {
          "type": "string",
          "description": "additional message from the bot management api showing why a bot name is not available"
        },
        "absCode": {
          "type": "string",
          "description": "response code from ABS"
        }
      }
    },
    "ConnectionItemName": {
      "type": "object",
      "description": "The display name of a connection Item Setting registered with the Bot",
      "properties": {
        "name": {
          "type": "string",
          "description": "Connection Item name that has been added in the API",
          "readOnly": true
        }
      }
    },
    "ConnectionSetting": {
      "type": "object",
      "description": "Bot channel resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionSettingProperties",
          "description": "The set of properties specific to bot channel resource",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConnectionSettingListResult": {
      "type": "object",
      "description": "The response of a ConnectionSetting list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConnectionSetting items on this page",
          "items": {
            "$ref": "#/definitions/ConnectionSetting"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConnectionSettingParameter": {
      "type": "object",
      "description": "Extra Parameter in a Connection Setting Properties to indicate service provider specific properties",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key for the Connection Setting Parameter."
        },
        "value": {
          "type": "string",
          "description": "Value associated with the Connection Setting Parameter."
        }
      }
    },
    "ConnectionSettingProperties": {
      "type": "object",
      "description": "Properties for a Connection Setting Item",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Client Id associated with the Connection Setting."
        },
        "settingId": {
          "type": "string",
          "description": "Setting Id set by the service for the Connection Setting.",
          "readOnly": true
        },
        "clientSecret": {
          "type": "string",
          "description": "Client Secret associated with the Connection Setting"
        },
        "scopes": {
          "type": "string",
          "description": "Scopes associated with the Connection Setting",
          "default": ""
        },
        "serviceProviderId": {
          "type": "string",
          "description": "Service Provider Id associated with the Connection Setting"
        },
        "serviceProviderDisplayName": {
          "type": "string",
          "description": "Service Provider Display Name associated with the Connection Setting"
        },
        "parameters": {
          "type": "array",
          "description": "Service Provider Parameters associated with the Connection Setting",
          "items": {
            "$ref": "#/definitions/ConnectionSettingParameter"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource"
        }
      }
    },
    "CreateEmailSignInUrlResponse": {
      "type": "object",
      "description": "The ARM create email sign in url operation response.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Specifies the resource ID.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        },
        "properties": {
          "$ref": "#/definitions/CreateEmailSignInUrlResponseProperties",
          "description": "The set of properties specific to sign in url"
        }
      }
    },
    "CreateEmailSignInUrlResponseProperties": {
      "type": "object",
      "description": "The set of properties specific to sign in url",
      "properties": {
        "url": {
          "type": "string",
          "description": "Sign in url."
        }
      }
    },
    "DirectLineChannel": {
      "type": "object",
      "description": "Direct Line channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DirectLineChannelProperties",
          "description": "The set of properties specific to Direct Line channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "DirectLineChannel"
    },
    "DirectLineChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Direct Line channel.",
      "properties": {
        "sites": {
          "type": "array",
          "description": "The list of Direct Line sites",
          "items": {
            "$ref": "#/definitions/DirectLineSite"
          },
          "x-ms-identifiers": []
        },
        "extensionKey1": {
          "type": "string",
          "description": "The extensionKey1",
          "default": ""
        },
        "extensionKey2": {
          "type": "string",
          "description": "The extensionKey2",
          "default": ""
        },
        "DirectLineEmbedCode": {
          "type": "string",
          "description": "Direct Line embed code of the resource",
          "x-ms-client-name": "directLineEmbedCode"
        }
      }
    },
    "DirectLineSite": {
      "type": "object",
      "description": "A site for the Direct Line channel",
      "allOf": [
        {
          "$ref": "#/definitions/Site"
        }
      ]
    },
    "DirectLineSpeechChannel": {
      "type": "object",
      "description": "DirectLine Speech channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DirectLineSpeechChannelProperties",
          "description": "The set of properties specific to DirectLine Speech channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "DirectLineSpeechChannel"
    },
    "DirectLineSpeechChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the DirectLine Speech channel.",
      "properties": {
        "cognitiveServiceResourceId": {
          "type": "string",
          "description": "The cognitive service id with this channel registration."
        },
        "cognitiveServiceRegion": {
          "type": "string",
          "description": "The cognitive service region with this channel registration."
        },
        "cognitiveServiceSubscriptionKey": {
          "type": "string",
          "description": "The cognitive service subscription key to use with this channel registration."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled or not."
        },
        "customVoiceDeploymentId": {
          "type": "string",
          "description": "Custom speech model id (optional)."
        },
        "customSpeechModelId": {
          "type": "string",
          "description": "Custom voice deployment id (optional)."
        },
        "isDefaultBotForCogSvcAccount": {
          "type": "boolean",
          "description": "Make this a default bot for chosen cognitive service account."
        }
      }
    },
    "EmailChannel": {
      "type": "object",
      "description": "Email channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EmailChannelProperties",
          "description": "The set of properties specific to email channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "EmailChannel"
    },
    "EmailChannelAuthMethod": {
      "type": "number",
      "description": "Email channel auth method. 0 Password (Default); 1 Graph.",
      "enum": [
        0,
        1
      ],
      "x-ms-enum": {
        "name": "EmailChannelAuthMethod",
        "modelAsString": false,
        "values": [
          {
            "name": "Password",
            "value": 0,
            "description": "Basic authentication."
          },
          {
            "name": "Graph",
            "value": 1,
            "description": "Modern authentication."
          }
        ]
      }
    },
    "EmailChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Email channel.",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "The email address"
        },
        "authMethod": {
          "$ref": "#/definitions/EmailChannelAuthMethod",
          "description": "Email channel auth method. 0 Password (Default); 1 Graph."
        },
        "password": {
          "type": "string",
          "description": "The password for the email address. Value only returned through POST to the action Channel List API, otherwise empty."
        },
        "magicCode": {
          "type": "string",
          "description": "The magic code for setting up the modern authentication."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        }
      },
      "required": [
        "emailAddress",
        "isEnabled"
      ]
    },
    "Error": {
      "type": "object",
      "description": "Bot Service error object.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorBody",
          "description": "The error body."
        }
      }
    },
    "ErrorBody": {
      "type": "object",
      "description": "Bot Service error body.",
      "properties": {
        "code": {
          "type": "string",
          "description": "error code"
        },
        "message": {
          "type": "string",
          "description": "error message"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "FacebookChannel": {
      "type": "object",
      "description": "Facebook channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FacebookChannelProperties",
          "description": "The set of properties specific to bot facebook channel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "FacebookChannel"
    },
    "FacebookChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Facebook channel.",
      "properties": {
        "verifyToken": {
          "type": "string",
          "description": "Verify token. Value only returned through POST to the action Channel List API, otherwise empty.",
          "readOnly": true
        },
        "pages": {
          "type": "array",
          "description": "The list of Facebook pages",
          "items": {
            "$ref": "#/definitions/FacebookPage"
          }
        },
        "appId": {
          "type": "string",
          "description": "Facebook application id"
        },
        "appSecret": {
          "type": "string",
          "description": "Facebook application secret. Value only returned through POST to the action Channel List API, otherwise empty."
        },
        "callbackUrl": {
          "type": "string",
          "description": "Callback Url",
          "readOnly": true
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        }
      },
      "required": [
        "appId",
        "isEnabled"
      ]
    },
    "FacebookPage": {
      "type": "object",
      "description": "A Facebook page for Facebook channel registration",
      "properties": {
        "id": {
          "type": "string",
          "description": "Page id"
        },
        "accessToken": {
          "type": "string",
          "description": "Facebook application access token. Value only returned through POST to the action Channel List API, otherwise empty."
        }
      },
      "required": [
        "id"
      ]
    },
    "HostSettingsResponse": {
      "type": "object",
      "description": "The response body returned for a request to Bot Service Management to check per subscription hostSettings",
      "properties": {
        "OAuthUrl": {
          "type": "string",
          "description": "For in-conversation bot user authentication",
          "x-ms-client-name": "oAuthUrl"
        },
        "ToBotFromChannelOpenIdMetadataUrl": {
          "type": "string",
          "description": "For verifying incoming tokens from the channels",
          "x-ms-client-name": "toBotFromChannelOpenIdMetadataUrl"
        },
        "ToBotFromChannelTokenIssuer": {
          "type": "string",
          "description": "For verifying incoming tokens from the channels",
          "x-ms-client-name": "toBotFromChannelTokenIssuer"
        },
        "ToBotFromEmulatorOpenIdMetadataUrl": {
          "type": "string",
          "description": "For verifying incoming tokens from bot emulator",
          "x-ms-client-name": "toBotFromEmulatorOpenIdMetadataUrl"
        },
        "ToChannelFromBotLoginUrl": {
          "type": "string",
          "description": "For getting access token to channels from bot host",
          "x-ms-client-name": "toChannelFromBotLoginUrl"
        },
        "ToChannelFromBotOAuthScope": {
          "type": "string",
          "description": "For getting access token to channels from bot host",
          "x-ms-client-name": "toChannelFromBotOAuthScope"
        },
        "ValidateAuthority": {
          "type": "boolean",
          "description": "Per cloud OAuth setting on whether authority is validated",
          "x-ms-client-name": "validateAuthority"
        },
        "BotOpenIdMetadata": {
          "type": "string",
          "description": "Same as toBotFromChannelOpenIdMetadataUrl, used by SDK < v4.12",
          "x-ms-client-name": "botOpenIdMetadata"
        }
      }
    },
    "Key": {
      "type": "string",
      "description": "Determines which key is to be regenerated",
      "enum": [
        "key1",
        "key2"
      ],
      "x-ms-enum": {
        "name": "Key",
        "modelAsString": false
      }
    },
    "KikChannel": {
      "type": "object",
      "description": "Kik channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/KikChannelProperties",
          "description": "The set of properties specific to Kik channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "KikChannel"
    },
    "KikChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Kik channel.",
      "properties": {
        "userName": {
          "type": "string",
          "description": "The Kik user name"
        },
        "apiKey": {
          "type": "string",
          "description": "Kik API key. Value only returned through POST to the action Channel List API, otherwise empty."
        },
        "isValidated": {
          "type": "boolean",
          "description": "Whether this channel is validated for the bot"
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        }
      },
      "required": [
        "userName",
        "isEnabled"
      ]
    },
    "Kind": {
      "type": "string",
      "description": "Indicates the type of bot service",
      "enum": [
        "sdk",
        "designer",
        "bot",
        "function",
        "azurebot"
      ],
      "x-ms-enum": {
        "name": "Kind",
        "modelAsString": true
      }
    },
    "LineChannel": {
      "type": "object",
      "description": "Line channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LineChannelProperties",
          "description": "The set of properties specific to line channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "LineChannel"
    },
    "LineChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Line channel.",
      "properties": {
        "lineRegistrations": {
          "type": "array",
          "description": "The list of line channel registrations",
          "items": {
[...]
