{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Edge",
    "version": "2026-04-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ResourceInsights"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.Edge/resourceInsights": {
      "get": {
        "operationId": "ResourceInsights_List",
        "tags": [
          "ResourceInsights"
        ],
        "description": "List all ResourceInsight resources",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceInsightListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceInsights_List - generated by [MaximumSet] rule": {
            "$ref": "./examples/ResourceInsights_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Edge/resourceInsights/{resourceInsightName}": {
      "get": {
        "operationId": "ResourceInsights_Get",
        "tags": [
          "ResourceInsights"
        ],
        "description": "Get ResourceInsight resource by name",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ScopeParameter"
          },
          {
            "name": "resourceInsightName",
            "in": "path",
            "description": "The name of the ResourceInsight",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceInsight"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceInsights_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/ResourceInsights_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Connectivity": {
      "type": "object",
      "description": "ResourceInsights Connectivity",
      "properties": {
        "status": {
          "$ref": "#/definitions/ConnectivityStatusEnum",
          "description": "The connectivity status"
        },
        "eventReceivedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The event received time"
        }
      }
    },
    "ConnectivityStatusEnum": {
      "type": "string",
      "description": "Connectivity status enum",
      "enum": [
        "Connected",
        "NeedsAttention",
        "NotRecentlyConnected",
        "Disconnected",
        "InProgress",
        "FinishSetup"
      ],
      "x-ms-enum": {
        "name": "ConnectivityStatusEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The device is in Connected state"
          },
          {
            "name": "NeedsAttention",
            "value": "NeedsAttention",
            "description": "The device needs attention"
          },
          {
            "name": "NotRecentlyConnected",
            "value": "NotRecentlyConnected",
            "description": "The device was not recently connected (deprecated; use Disconnected)"
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "The device is in Disconnected state and replaces NotRecentlyConnected"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The device is in transition; NoDataAvailable should be represented as InProgress"
          },
          {
            "name": "FinishSetup",
            "value": "FinishSetup",
            "description": "The device is pending initial setup completion"
          }
        ]
      }
    },
    "ResourceInsight": {
      "type": "object",
      "description": "ResourceInsight resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ResourceInsightProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ResourceInsightListResult": {
      "type": "object",
      "description": "The response of a ResourceInsight list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ResourceInsight items on this page",
          "items": {
            "$ref": "#/definitions/ResourceInsight"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ResourceInsightProperties": {
      "type": "object",
      "description": "Resource Insight properties",
      "properties": {
        "connectivity": {
          "$ref": "#/definitions/Connectivity",
          "description": "The connectivity status"
        },
        "update": {
          "$ref": "#/definitions/Update",
          "description": "The update status"
        }
      }
    },
    "Update": {
      "type": "object",
      "description": "ResourceInsights Update",
      "properties": {
        "status": {
          "$ref": "#/definitions/UpdateStatus",
          "description": "The update status"
        },
        "eventReceivedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The event received time"
        }
      }
    },
    "UpdateStatus": {
      "type": "string",
      "description": "Update status enum",
      "enum": [
        "Unknown",
        "UpdateAvailable",
        "UptoDate",
        "UpdateInProgress",
        "NeedsAttention"
      ],
      "x-ms-enum": {
        "name": "UpdateStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The device is in Unknown state"
          },
          {
            "name": "UpdateAvailable",
            "value": "UpdateAvailable",
            "description": "The device is in Update state"
          },
          {
            "name": "UptoDate",
            "value": "UptoDate",
            "description": "The device is in UptoDate state"
          },
          {
            "name": "UpdateInProgress",
            "value": "UpdateInProgress",
            "description": "The device is in UpdateInProgress state"
          },
          {
            "name": "NeedsAttention",
            "value": "NeedsAttention",
            "description": "The device is in NeedsAttention state"
          }
        ]
      }
    }
  },
  "parameters": {}
}
