{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.UpdateManager service",
    "version": "2024-10-01-preview",
    "description": "Microsoft.UpdateManager Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PatchConfigurations"
    }
  ],
  "paths": {
    "/providers/Microsoft.UpdateManager/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.UpdateManager/patchConfigurations": {
      "get": {
        "operationId": "PatchConfigurations_ListBySubscription",
        "tags": [
          "PatchConfigurations"
        ],
        "description": "List PatchConfiguration resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PatchConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchConfigurations_ListBySubscription": {
            "$ref": "./examples/PatchConfigurations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.UpdateManager/patchConfigurations": {
      "get": {
        "operationId": "PatchConfigurations_ListByResourceGroup",
        "tags": [
          "PatchConfigurations"
        ],
        "description": "List PatchConfiguration resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PatchConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchConfigurations_ListByResourceGroup": {
            "$ref": "./examples/PatchConfigurations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.UpdateManager/patchConfigurations/{patchConfigurationName}": {
      "get": {
        "operationId": "PatchConfigurations_Get",
        "tags": [
          "PatchConfigurations"
        ],
        "description": "Get a PatchConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "patchConfigurationName",
            "in": "path",
            "description": "The name of the PatchConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PatchConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchConfigurations_Get": {
            "$ref": "./examples/PatchConfigurations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PatchConfigurations_CreateOrUpdate",
        "tags": [
          "PatchConfigurations"
        ],
        "description": "Create a PatchConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "patchConfigurationName",
            "in": "path",
            "description": "The name of the PatchConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PatchConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PatchConfiguration"
            }
          },
          "201": {
            "description": "Resource 'PatchConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PatchConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchConfigurations_CreateOrUpdate": {
            "$ref": "./examples/PatchConfigurations_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "PatchConfigurations_Update",
        "tags": [
          "PatchConfigurations"
        ],
        "description": "Update a PatchConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "patchConfigurationName",
            "in": "path",
            "description": "The name of the PatchConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PatchConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchConfigurations_Update": {
            "$ref": "./examples/PatchConfigurations_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "PatchConfigurations_Delete",
        "tags": [
          "PatchConfigurations"
        ],
        "description": "Delete a PatchConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "patchConfigurationName",
            "in": "path",
            "description": "The name of the PatchConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchConfigurations_Delete": {
            "$ref": "./examples/PatchConfigurations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "LinuxParameters": {
      "type": "object",
      "description": "Linux parameters.",
      "properties": {
        "packageNameMasksToExclude": {
          "type": "array",
          "description": "The package name masks to exclude.",
          "items": {
            "type": "string"
          }
        },
        "packageNameMasksToInclude": {
          "type": "array",
          "description": "The package name masks to include.",
          "items": {
            "type": "string"
          }
        },
        "classificationsToInclude": {
          "type": "array",
          "description": "The classifications to include.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PatchConfiguration": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PatchConfigurationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PatchConfigurationListResult": {
      "type": "object",
      "description": "The response of a PatchConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PatchConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/PatchConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PatchConfigurationProperties": {
      "type": "object",
      "description": "Patch configuration properties.",
      "properties": {
        "rebootSettings": {
          "$ref": "#/definitions/rebootSettings",
          "description": "reboot settings."
        },
        "windowsParameters": {
          "$ref": "#/definitions/WindowsParameters",
          "description": "windows parameter."
        },
        "linuxParameters": {
          "$ref": "#/definitions/LinuxParameters",
          "description": "linux parameter."
        },
        "approvePatchesAfterDays": {
          "type": "integer",
          "format": "int32",
          "description": "Approve patches after days.",
          "minimum": 0
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "PatchConfigurationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the PatchConfiguration.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/PatchConfigurationUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "PatchConfigurationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the PatchConfiguration.",
      "properties": {
        "rebootSettings": {
          "$ref": "#/definitions/rebootSettings",
          "description": "reboot settings."
        },
        "windowsParameters": {
          "$ref": "#/definitions/WindowsParameters",
          "description": "windows parameter."
        },
        "linuxParameters": {
          "$ref": "#/definitions/LinuxParameters",
          "description": "linux parameter."
        },
        "approvePatchesAfterDays": {
          "type": "integer",
          "format": "int32",
          "description": "Approve patches after days.",
          "minimum": 0
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource provisioning request has been accepted."
          }
        ]
      },
      "readOnly": true
    },
    "WindowsParameters": {
      "type": "object",
      "description": "Windows parameters.",
      "properties": {
        "kbNumbersToExclude": {
          "type": "array",
          "description": "The KB numbers to exclude.",
          "items": {
            "type": "string"
          }
        },
        "kbNumbersToInclude": {
          "type": "array",
          "description": "The KB numbers to include.",
          "items": {
            "type": "string"
          }
        },
        "classificationsToInclude": {
          "type": "array",
          "description": "The classifications to include.",
          "items": {
            "type": "string"
          }
        },
        "excludeKbsRequiringReboot": {
          "type": "boolean",
          "description": "Exclude KBs requiring reboot."
        }
      }
    },
    "rebootSettings": {
      "type": "string",
      "description": "Reboot settings.",
      "enum": [
        "IfRequired",
        "Never",
        "Always"
      ],
      "x-ms-enum": {
        "name": "rebootSettings",
        "modelAsString": true,
        "values": [
          {
            "name": "IfRequired",
            "value": "IfRequired",
            "description": "Reboot if required"
          },
          {
            "name": "Never",
            "value": "Never",
            "description": "Never reboot"
          },
          {
            "name": "Always",
            "value": "Always",
            "description": "Always reboot"
          }
        ]
      }
    }
  },
  "parameters": {}
}
