{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Edge",
    "version": "2025-12-01-preview",
    "description": "Microsoft.Edge Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ArcGatewayConfigurations"
    },
    {
      "name": "Configurations"
    },
    {
      "name": "ConfigurationReferences"
    },
    {
      "name": "ConnectivityConfigurations"
    },
    {
      "name": "DynamicConfigurations"
    },
    {
      "name": "DynamicConfigurationVersions"
    },
    {
      "name": "NetworkConfigurations"
    },
    {
      "name": "SecurityConfigurations"
    },
    {
      "name": "TimeServerConfigurations"
    },
    {
      "name": "ProvisioningConfigurations"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Edge/configurationReferences": {
      "get": {
        "operationId": "ConfigurationReferences_List",
        "tags": [
          "ConfigurationReferences"
        ],
        "description": "List ConfigurationReference resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationReferenceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationReferences_List": {
            "$ref": "./examples/ConfigurationReferences_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Edge/configurationReferences/{configurationReferenceName}": {
      "get": {
        "operationId": "ConfigurationReferences_Get",
        "tags": [
          "ConfigurationReferences"
        ],
        "description": "Get a ConfigurationReference",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "configurationReferenceName",
            "in": "path",
            "description": "The name of the ConfigurationReference",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationReference"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationReferences_Get": {
            "$ref": "./examples/ConfigurationReferences_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ConfigurationReferences_CreateOrUpdate",
        "tags": [
          "ConfigurationReferences"
        ],
        "description": "Create a ConfigurationReference",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "configurationReferenceName",
            "in": "path",
            "description": "The name of the ConfigurationReference",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationReference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConfigurationReference' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationReference"
            }
          },
          "201": {
            "description": "Resource 'ConfigurationReference' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationReference"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationReferences_CreateOrUpdate": {
            "$ref": "./examples/ConfigurationReferences_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ConfigurationReferences_Update",
        "tags": [
          "ConfigurationReferences"
        ],
        "description": "Update a ConfigurationReference",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "configurationReferenceName",
            "in": "path",
            "description": "The name of the ConfigurationReference",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationReferenceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationReference"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationReferences_Update": {
            "$ref": "./examples/ConfigurationReferences_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ConfigurationReferences_Delete",
        "tags": [
          "ConfigurationReferences"
        ],
        "description": "Delete a ConfigurationReference",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "configurationReferenceName",
            "in": "path",
            "description": "The name of the ConfigurationReference",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationReferences_Delete": {
            "$ref": "./examples/ConfigurationReferences_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/configurations": {
      "get": {
        "operationId": "Configurations_ListBySubscription",
        "tags": [
          "Configurations"
        ],
        "description": "List by subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_ListBySubscription": {
            "$ref": "./examples/Configurations_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations": {
      "get": {
        "operationId": "Configurations_ListByResourceGroup",
        "tags": [
          "Configurations"
        ],
        "description": "List by specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_ListByResourceGroup": {
            "$ref": "./examples/Configurations_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}": {
      "get": {
        "operationId": "Configurations_Get",
        "tags": [
          "Configurations"
        ],
        "description": "Get a Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_Get": {
            "$ref": "./examples/Configurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Configurations_CreateOrUpdate",
        "tags": [
          "Configurations"
        ],
        "description": "Create or update a Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Configuration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          "201": {
            "description": "Resource 'Configuration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Configuration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_CreateOrUpdate": {
            "$ref": "./examples/Configurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Configurations_Update",
        "tags": [
          "Configurations"
        ],
        "description": "Update a Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_Update": {
            "$ref": "./examples/Configurations_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Configurations_Delete",
        "tags": [
          "Configurations"
        ],
        "description": "Delete a Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_Delete": {
            "$ref": "./examples/Configurations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/arcGatewayConfigurations": {
      "get": {
        "operationId": "ArcGatewayConfigurations_ListByConfiguration",
        "tags": [
          "ArcGatewayConfigurations"
        ],
        "description": "List ArcGatewayConfiguration resources by Configuration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcGatewayConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcGatewayConfigurations_ListByConfiguration": {
            "$ref": "./examples/ArcGatewayConfigurations_ListByConfiguration_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/arcGatewayConfigurations/{arcGatewayConfigurationName}": {
      "get": {
        "operationId": "ArcGatewayConfigurations_Get",
        "tags": [
          "ArcGatewayConfigurations"
        ],
        "description": "Get a ArcGatewayConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "arcGatewayConfigurationName",
            "in": "path",
            "description": "The name of the ArcGatewayConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcGatewayConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcGatewayConfigurations_Get": {
            "$ref": "./examples/ArcGatewayConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ArcGatewayConfigurations_CreateOrUpdate",
        "tags": [
          "ArcGatewayConfigurations"
        ],
        "description": "Create a ArcGatewayConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "arcGatewayConfigurationName",
            "in": "path",
            "description": "The name of the ArcGatewayConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArcGatewayConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ArcGatewayConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ArcGatewayConfiguration"
            }
          },
          "201": {
            "description": "Resource 'ArcGatewayConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ArcGatewayConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcGatewayConfigurations_CreateOrUpdate": {
            "$ref": "./examples/ArcGatewayConfigurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ArcGatewayConfigurations_Update",
        "tags": [
          "ArcGatewayConfigurations"
        ],
        "description": "Update a ArcGatewayConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "arcGatewayConfigurationName",
            "in": "path",
            "description": "The name of the ArcGatewayConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArcGatewayConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcGatewayConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcGatewayConfigurations_Update": {
            "$ref": "./examples/ArcGatewayConfigurations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ArcGatewayConfigurations_Delete",
        "tags": [
          "ArcGatewayConfigurations"
        ],
        "description": "Delete a ArcGatewayConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "arcGatewayConfigurationName",
            "in": "path",
            "description": "The name of the ArcGatewayConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcGatewayConfigurations_Delete": {
            "$ref": "./examples/ArcGatewayConfigurations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/connectivityConfigurations": {
      "get": {
        "operationId": "ConnectivityConfigurations_ListByConfiguration",
        "tags": [
          "ConnectivityConfigurations"
        ],
        "description": "List ConnectivityConfiguration resources by Configuration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityConfigurations_ListByConfiguration": {
            "$ref": "./examples/ConnectivityConfigurations_ListByConfiguration_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/connectivityConfigurations/{connectivityConfigurationName}": {
      "get": {
        "operationId": "ConnectivityConfigurations_Get",
        "tags": [
          "ConnectivityConfigurations"
        ],
        "description": "Get a ConnectivityConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "connectivityConfigurationName",
            "in": "path",
            "description": "The name of the ConnectivityConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityConfigurations_Get": {
            "$ref": "./examples/ConnectivityConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ConnectivityConfigurations_CreateOrUpdate",
        "tags": [
          "ConnectivityConfigurations"
        ],
        "description": "Create a ConnectivityConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "connectivityConfigurationName",
            "in": "path",
            "description": "The name of the ConnectivityConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectivityConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConnectivityConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectivityConfiguration"
            }
          },
          "201": {
            "description": "Resource 'ConnectivityConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectivityConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityConfigurations_CreateOrUpdate": {
            "$ref": "./examples/ConnectivityConfigurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ConnectivityConfigurations_Update",
        "tags": [
          "ConnectivityConfigurations"
        ],
        "description": "Update a ConnectivityConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "connectivityConfigurationName",
            "in": "path",
            "description": "The name of the ConnectivityConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectivityConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityConfigurations_Update": {
            "$ref": "./examples/ConnectivityConfigurations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ConnectivityConfigurations_Delete",
        "tags": [
          "ConnectivityConfigurations"
        ],
        "description": "Delete a ConnectivityConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "connectivityConfigurationName",
            "in": "path",
            "description": "The name of the ConnectivityConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityConfigurations_Delete": {
            "$ref": "./examples/ConnectivityConfigurations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/dynamicConfigurations": {
      "get": {
        "operationId": "DynamicConfigurations_ListByConfiguration",
        "tags": [
          "DynamicConfigurations"
        ],
        "description": "List Dynamic Configuration Resources",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfigurations_ListByConfiguration": {
            "$ref": "./examples/DynamicConfigurations_ListByConfiguration_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/dynamicConfigurations/{dynamicConfigurationName}": {
      "get": {
        "operationId": "DynamicConfigurations_Get",
        "tags": [
          "DynamicConfigurations"
        ],
        "description": "Get a Dynamic Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationName",
            "in": "path",
            "description": "Name of the dynamic configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamicConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfigurations_Get": {
            "$ref": "./examples/DynamicConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DynamicConfigurations_CreateOrUpdate",
        "tags": [
          "DynamicConfigurations"
        ],
        "description": "Create or update a Dynamic Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationName",
            "in": "path",
            "description": "Name of the dynamic configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DynamicConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DynamicConfiguration"
            }
          },
          "201": {
            "description": "Resource 'DynamicConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DynamicConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfigurations_CreateOrUpdate": {
            "$ref": "./examples/DynamicConfigurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DynamicConfigurations_Update",
        "tags": [
          "DynamicConfigurations"
        ],
        "description": "Update a Dynamic Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationName",
            "in": "path",
            "description": "Name of the dynamic configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamicConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfigurations_Update": {
            "$ref": "./examples/DynamicConfigurations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DynamicConfigurations_Delete",
        "tags": [
          "DynamicConfigurations"
        ],
        "description": "Delete a Dynamic Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationName",
            "in": "path",
            "description": "Name of the dynamic configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfigurations_Delete": {
            "$ref": "./examples/DynamicConfigurations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/dynamicConfigurations/{dynamicConfigurationName}/versions": {
      "get": {
        "operationId": "DynamicConfigurationVersions_ListByDynamicConfiguration",
        "tags": [
          "DynamicConfigurationVersions"
        ],
        "description": "List Dynamic Configuration Version Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationName",
            "in": "path",
            "description": "Name of the dynamic configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfigurationVersions_ListByDynamicConfiguration - generated by [MaximumSet] rule": {
            "$ref": "./examples/DynamicConfigurationVersions_ListByDynamicConfiguration_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/dynamicConfigurations/{dynamicConfigurationName}/versions/{dynamicConfigurationVersionName}": {
      "get": {
        "operationId": "DynamicConfigurationVersions_Get",
        "tags": [
          "DynamicConfigurationVersions"
        ],
        "description": "Get a Dynamic Configuration Version Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationName",
            "in": "path",
            "description": "Name of the dynamic configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationVersionName",
            "in": "path",
            "description": "The name of the DynamicConfigurationVersion",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfigurationVersions_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/DynamicConfigurationVersions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DynamicConfigurationVersions_CreateOrUpdate",
        "tags": [
          "DynamicConfigurationVersions"
        ],
        "description": "Create or update a Dynamic Configuration Version Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationName",
            "in": "path",
            "description": "Name of the dynamic configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationVersionName",
            "in": "path",
            "description": "The name of the DynamicConfigurationVersion",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DynamicConfigurationVersion' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationVersion"
            }
          },
          "201": {
            "description": "Resource 'DynamicConfigurationVersion' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationVersion"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfigurationVersions_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/DynamicConfigurationVersions_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DynamicConfigurationVersions_Update",
        "tags": [
          "DynamicConfigurationVersions"
        ],
        "description": "update a Dynamic Configuration Version Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationName",
            "in": "path",
            "description": "Name of the dynamic configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationVersionName",
            "in": "path",
            "description": "The name of the DynamicConfigurationVersion",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationVersionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfigurationVersions_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/DynamicConfigurationVersions_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DynamicConfigurationVersions_Delete",
        "tags": [
          "DynamicConfigurationVersions"
        ],
        "description": "Delete a Dynamic Configuration Version Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationName",
            "in": "path",
            "description": "Name of the dynamic configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "dynamicConfigurationVersionName",
            "in": "path",
            "description": "The name of the DynamicConfigurationVersion",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfigurationVersions_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/DynamicConfigurationVersions_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/networkConfigurations": {
      "get": {
        "operationId": "NetworkConfigurations_ListByConfiguration",
        "tags": [
          "NetworkConfigurations"
        ],
        "description": "List NetworkConfiguration resources by Configuration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkConfigurations_ListByConfiguration": {
            "$ref": "./examples/NetworkConfigurations_ListByConfiguration_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/networkConfigurations/{networkConfigurationName}": {
      "get": {
        "operationId": "NetworkConfigurations_Get",
        "tags": [
          "NetworkConfigurations"
        ],
        "description": "Get a NetworkConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "networkConfigurationName",
            "in": "path",
            "description": "The name of the NetworkConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkConfigurations_Get": {
            "$ref": "./examples/NetworkConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkConfigurations_CreateOrUpdate",
        "tags": [
          "NetworkConfigurations"
        ],
        "description": "Create a NetworkConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "networkConfigurationName",
            "in": "path",
            "description": "The name of the NetworkConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkConfiguration"
            }
          },
          "201": {
            "description": "Resource 'NetworkConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkConfigurations_CreateOrUpdate": {
            "$ref": "./examples/NetworkConfigurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "NetworkConfigurations_Update",
        "tags": [
          "NetworkConfigurations"
        ],
        "description": "Update a NetworkConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "networkConfigurationName",
            "in": "path",
            "description": "The name of the NetworkConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkConfigurations_Update": {
            "$ref": "./examples/NetworkConfigurations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkConfigurations_Delete",
        "tags": [
          "NetworkConfigurations"
        ],
        "description": "Delete a NetworkConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "networkConfigurationName",
            "in": "path",
            "description": "The name of the NetworkConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkConfigurations_Delete": {
            "$ref": "./examples/NetworkConfigurations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/provisioningConfigurations": {
      "get": {
        "operationId": "ProvisioningConfigurations_ListByConfiguration",
        "tags": [
          "ProvisioningConfigurations"
        ],
        "description": "List ProvisioningConfiguration resources by Configuration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisioningConfigurations_ListByConfiguration": {
            "$ref": "./examples/ProvisioningConfigurations_ListByConfiguration_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/provisioningConfigurations/{provisioningConfigurationName}": {
      "get": {
        "operationId": "ProvisioningConfigurations_Get",
        "tags": [
          "ProvisioningConfigurations"
        ],
        "description": "Get a ProvisioningConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "provisioningConfigurationName",
            "in": "path",
            "description": "The name of the ProvisioningConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisioningConfigurations_Get": {
            "$ref": "./examples/ProvisioningConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ProvisioningConfigurations_CreateOrUpdate",
        "tags": [
          "ProvisioningConfigurations"
        ],
        "description": "Create a ProvisioningConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "provisioningConfigurationName",
            "in": "path",
            "description": "The name of the ProvisioningConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProvisioningConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProvisioningConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProvisioningConfiguration"
            }
          },
          "201": {
            "description": "Resource 'ProvisioningConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProvisioningConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisioningConfigurations_CreateOrUpdate": {
            "$ref": "./examples/ProvisioningConfigurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ProvisioningConfigurations_Update",
        "tags": [
          "ProvisioningConfigurations"
        ],
        "description": "Update a ProvisioningConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "provisioningConfigurationName",
            "in": "path",
            "description": "The name of the ProvisioningConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProvisioningConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisioningConfigurations_Update": {
            "$ref": "./examples/ProvisioningConfigurations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ProvisioningConfigurations_Delete",
        "tags": [
          "ProvisioningConfigurations"
        ],
        "description": "Delete a ProvisioningConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "provisioningConfigurationName",
            "in": "path",
            "description": "The name of the ProvisioningConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProvisioningConfigurations_Delete": {
            "$ref": "./examples/ProvisioningConfigurations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/securityConfigurations": {
      "get": {
        "operationId": "SecurityConfigurations_ListByConfiguration",
        "tags": [
          "SecurityConfigurations"
        ],
        "description": "List SecurityConfiguration resources by Configuration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityConfigurations_ListByConfiguration": {
            "$ref": "./examples/SecurityConfigurations_ListByConfiguration_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/securityConfigurations/{securityConfigurationName}": {
      "get": {
        "operationId": "SecurityConfigurations_Get",
        "tags": [
          "SecurityConfigurations"
        ],
        "description": "Get a SecurityConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "securityConfigurationName",
            "in": "path",
            "description": "The name of the SecurityConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityConfigurations_Get": {
            "$ref": "./examples/SecurityConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SecurityConfigurations_CreateOrUpdate",
        "tags": [
          "SecurityConfigurations"
        ],
        "description": "Create a SecurityConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "securityConfigurationName",
            "in": "path",
            "description": "The name of the SecurityConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SecurityConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "201": {
            "description": "Resource 'SecurityConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityConfigurations_CreateOrUpdate": {
            "$ref": "./examples/SecurityConfigurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "SecurityConfigurations_Update",
        "tags": [
          "SecurityConfigurations"
        ],
        "description": "Update a SecurityConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "securityConfigurationName",
            "in": "path",
            "description": "The name of the SecurityConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityConfigurations_Update": {
            "$ref": "./examples/SecurityConfigurations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "SecurityConfigurations_Delete",
        "tags": [
          "SecurityConfigurations"
        ],
        "description": "Delete a SecurityConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^(?!.*\\.\\.)[a-zA-Z0-9-][a-zA-Z0-9._-]{1,68}[a-zA-Z0-9-]$"
          },
          {
            "name": "securityConfigurationName",
            "in": "path",
            "description": "The name of the SecurityConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityConfigurations_Delete": {
            "$ref": "./examples/SecurityConfigurations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/timeServerConfigurations": {
      "get": {
        "operationId": "TimeServerConfigurations_ListByConfiguration",
        "tags": [
          "TimeServerConfigurations"
        ],
        "description": "List TimeServerConfiguration resources by Configuration",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
[...]
