{
  "swagger": "2.0",
  "info": {
    "title": "CognitiveServicesManagementClient",
    "description": "Cognitive Services Management Client",
    "version": "2017-04-18"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}": {
      "put": {
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "description": "Create Cognitive Services Account. Accounts is a resource group wide resource type. It holds the keys for developer to access intelligent APIs. It's also the resource type for billing.",
        "operationId": "CognitiveServicesAccounts_Create",
        "x-ms-examples": {
          "Get Account": {
            "$ref": "../examples/CreateAccount.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription."
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "minLength": 2,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "description": "The name of Cognitive Services account."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccountCreateParameters"
            },
            "description": "The parameters to provide for the created account."
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "If resource is created successfully or already existed, the service should return 200 (OK).",
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccount"
            }
          },
          "201": {
            "description": "If resource is created successfully, the service should return 201 (OK).",
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "description": "Updates a Cognitive Services account",
        "operationId": "CognitiveServicesAccounts_Update",
        "x-ms-examples": {
          "Get Account": {
            "$ref": "../examples/UpdateAccount.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription."
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "minLength": 2,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "description": "The name of Cognitive Services account."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "x-ms-client-flatten": true,
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccountUpdateParameters"
            },
            "description": "The parameters to provide for the created account."
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully. ",
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the resource group *or* resource does not exist, 404 (NotFound) should be returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "description": "Deletes a Cognitive Services account from the resource group. ",
        "operationId": "CognitiveServicesAccounts_Delete",
        "x-ms-examples": {
          "Delete Account": {
            "$ref": "../examples/DeleteAccount.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription."
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "minLength": 2,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "description": "The name of Cognitive Services account."
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A 200 (OK) should be returned if the object exists and was deleted successfully;"
          },
          "204": {
            "description": "a 204 (NoContent) should be used if the resource does not exist and the request is well formed."
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "description": "Returns a Cognitive Services account specified by the parameters.",
        "operationId": "CognitiveServicesAccounts_GetProperties",
        "x-ms-examples": {
          "Get Account": {
            "$ref": "../examples/GetAccount.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription."
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "minLength": 2,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "description": "The name of Cognitive Services account."
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully.\nFor a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. The only GET specific properties are “name,” “type” and “id.”\nField\tDescription\nKind\trequired.  String.\n\tThe API set for this API account. It can be \n\t· a single API, for example: Face API, Vision API, Speech API. \n\ta bundle of APIs:  Face + Speech, Vision + Emotion, etc.\nsku.name\tRequired.\n\tThe pricing tier/plan of this API. Could be: \n\tF0 - Free\n\tB0 - Basic\n\tS0 - Standard\n\tP0 - Premium\n",
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the resource does not exist, 404 (NotFound) should be returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts": {
      "get": {
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "description": "Returns all the resources of a particular type belonging to a resource group",
        "operationId": "Accounts_ListByResourceGroup",
        "x-ms-examples": {
          "List Accounts by Resource Group": {
            "$ref": "../examples/ListAccountsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription."
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.\nThe nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses here. If a resource provider does not support paging, it should return the same body (JSON object with “value” property) but omit nextLink entirely (or set to null, *not* empty string) for future compatibility.\nThe nextLink should be implemented using following query parameters:\n· skipToken: opaque token that allows the resource provider to skip resources already enumerated. This value is defined and returned by the RP after first request via nextLink.\n· top: the optional client query parameter which defines the maximum number of records to be returned by the server.\nImplementation details:\n· NextLink may include all the query parameters (specifically OData $filter) used by the client in the first query. \n· Server may return less records than requested with nextLink. Returning zero records with NextLink is an acceptable response. \nClients must fetch records until the nextLink is not returned back / null. Clients should never rely on number of returned records to determinate if pagination is completed.",
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/accounts": {
      "get": {
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "description": "Returns all the resources of a particular type belonging to a subscription.",
        "operationId": "Accounts_List",
        "x-ms-examples": {
          "List Accounts by Subscription": {
            "$ref": "../examples/ListAccountsBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.\nThe nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses. If a resource provider does not support paging, it should return the same body but leave nextLink empty for future compatibility.\nFor a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. ",
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/listKeys": {
      "post": {
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "operationId": "CognitiveServicesAccounts_ListKeys",
        "description": "Lists the account keys for the specified Cognitive Services account.",
        "x-ms-examples": {
          "List Keys": {
            "$ref": "../examples/ListKeys.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription."
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "minLength": 2,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "description": "The name of Cognitive Services account."
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns with a response body containing the subscription keys for the resource: key1\nThe first API key for authentication when client calls the API endpoint.\n\nkey2\nThe second API key for authentication when client calls the API endpoint.",
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccountKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/regenerateKey": {
      "post": {
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "operationId": "CognitiveServicesAccounts_RegenerateKey",
        "description": "Regenerates the specified account key for the specified Cognitive Services account.",
        "x-ms-examples": {
          "Regenerate Keys": {
            "$ref": "../examples/RegenerateKey.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription."
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "minLength": 2,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "description": "The name of Cognitive Services account."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "x-ms-client-flatten": true,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyParameters"
            },
            "description": "regenerate key parameters."
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccountKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/skus": {
      "get": {
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "description": "List available SKUs for the requested Cognitive Services account",
        "x-ms-examples": {
          "List SKUs": {
            "$ref": "../examples/ListSkus.json"
          }
        },
        "operationId": "CognitiveServicesAccounts_ListSkus",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription."
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "minLength": 2,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "description": "The name of Cognitive Services account."
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully.\nFor a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. The only GET specific properties are “name,” “type” and “id.”\nField\tDescription\nsku\tRequired, object\n\tThe exact set of keys that define this sku. This matches the fields on the respective resource.\nsku.name\tRequired, string\n\tThe name of the SKU. This is typically a letter + number code, such as A0 or P3\nsku.tier\tRequired, string\n\tThe tier of this particular SKU. Typically one of:\n\t· Free\n\t· Basic\n\t· Standard\n\t· Premium\n",
            "schema": {
              "$ref": "#/definitions/CognitiveServicesAccountEnumerateSkusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the resource does not exist, 404 (NotFound) will be returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/providers/Microsoft.CognitiveServices/operations": {
      "get": {
        "tags": [ "Operations" ],
        "description": "Lists all the available Cognitive Services account operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Get Operations": {
            "$ref": "../examples/GetOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/OperationEntityListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/locations/{location}/checkSkuAvailability": {
      "post": {
        "tags": [ "CognitiveServicesAccounts" ],
        "operationId": "CheckSkuAvailability_List",
        "description": "Check available SKUs.",
        "x-ms-examples": {
          "Check SKU Availability": {
            "$ref": "../examples/CheckSkuAvailability.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "x-ms-client-flatten": true,
            "schema": {
              "$ref": "#/definitions/CheckSkuAvailabilityParameter"
            },
            "description": "Check SKU Availablity POST body."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/CheckSkuAvailabilityResultList"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CognitiveServicesAccountCreateParameters": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Required. Gets or sets the SKU of the resource."
        },
        "kind": {
          "$ref": "#/definitions/CognitiveServicesAccountKind",
          "description": "Required. Gets or sets the Kind of the resource."
        },
        "location": {
          "type": "string",
          "description": "Required. Gets or sets the location of the resource. This will be one of the supported and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.). The geo region of a resource cannot be changed once it is created, but if an identical geo region is specified on update the request will succeed."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "properties": {
          "type": "object",
          "description": "Must exist in the request. Must be an empty object. Must not be null."
        }
      },
      "required": [
        "sku",
        "kind",
        "location",
        "properties"
      ],
      "description": "The parameters to provide for the account."
    },
    "CognitiveServicesAccountKind": {
      "type": "string",
      "description": "Required. Indicates the type of cognitive service account.",
      "enum": [
        "Academic",
        "Bing.Autosuggest",
        "Bing.Search",
        "Bing.Speech",
        "Bing.SpellCheck",
        "ComputerVision",
        "ContentModerator",
        "CustomSpeech",
        "Emotion",
        "Face",
        "LUIS",
        "Recommendations",
        "SpeakerRecognition",
        "Speech",
        "SpeechTranslation",
        "TextAnalytics",
        "TextTranslation",
        "WebLM"
      ],
      "x-ms-enum": {
        "name": "Kind",
        "modelAsString": true
      }
    },
    "CognitiveServicesAccountUpdateParameters": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets the SKU of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        }
      },
      "description": "The parameters to provide for the account."
    },
    "Sku": {
      "properties": {
        "name": {
          "$ref": "#/definitions/SkuName",
          "description": "Gets or sets the sku name. Required for account creation, optional for update."
        },
        "tier": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the sku tier. This is based on the SKU name.",
          "enum": [
            "Free",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": false
          }
        }
      },
      "required": [
        "name"
      ],
      "description": "The SKU of the cognitive services account."
    },
    "SkuName": {
      "type": "string",
      "description": "The name of SKU.",
      "enum": [
        "F0",
        "P0",
        "P1",
        "P2",
        "S0",
        "S1",
        "S2",
        "S3",
        "S4",
        "S5",
        "S6"
      ],
      "x-ms-enum": {
        "name": "SkuName",
        "modelAsString": true
      }
    },
    "CognitiveServicesAccount": {
      "description": "Cognitive Services Account is an Azure resource representing the provisioned account, its type, location and SKU.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Entity Tag"
        },
        "id": {
          "type": "string",
          "description": "The id of the created account"
        },
        "kind": {
          "type": "string",
          "description": "Type of cognitive service account."
        },
        "location": {
          "type": "string",
          "description": "The location of the resource"
        },
        "name": {
          "type": "string",
          "description": "The name of the created account"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CognitiveServicesAccountProperties",
          "description": "Properties of Cognitive Services account."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of Cognitive Services account."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "type": {
          "type": "string",
          "description": "Resource type"
        }
      },
      "x-ms-azure-resource": true
    },
    "CognitiveServicesAccountListResult": {
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of accounts.",
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/CognitiveServicesAccount"
          },
          "description": "Gets the list of Cognitive Services accounts and their properties."
        }
      },
      "description": "The list of cognitive services accounts operation response."
    },
    "CognitiveServicesAccountProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the status of the cognitive services account at the time the operation was called.",
          "enum": [
            "Creating",
            "ResolvingDNS",
            "Succeeded",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": false
          }
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the created account."
        },
        "internalId": {
          "type": "string",
          "description": "The internal identifier."
        }
      },
      "description": "Properties of Cognitive Services account."
    },
    "CognitiveServicesAccountKeys": {
      "properties": {
        "key1": {
          "type": "string",
          "description": "Gets the value of key 1."
        },
        "key2": {
          "type": "string",
          "description": "Gets the value of key 2."
        }
      },
      "description": "The access keys for the cognitive services account."
    },
    "RegenerateKeyParameters": {
      "properties": {
        "keyName": {
          "type": "string",
          "description": "key name to generate (Key1|Key2)",
          "enum": [
            "Key1",
            "Key2"
          ],
          "x-ms-enum": {
            "name": "KeyName",
            "modelAsString": false
          }
        }
      },
      "required": [
        "keyName"
      ],
      "description": "Regenerate key parameters."
    },
    "CognitiveServicesAccountEnumerateSkusResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/CognitiveServicesResourceAndSku"
          },
          "description": "Gets the list of Cognitive Services accounts and their properties."
        }
      },
      "description": "The list of cognitive services accounts operation response."
    },
    "CognitiveServicesResourceAndSku": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Resource Namespace and Type"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of Cognitive Services account."
        }
      },
      "description": "Cognitive Services resource type and SKU."
    },
    "Error": {
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorBody",
          "description": "The error body."
        }
      },
      "description": "Cognitive Services error object."
    },
    "ErrorBody": {
      "properties": {
        "code": {
          "type": "string",
          "description": "error code"
        },
        "message": {
          "type": "string",
          "description": "error message"
        }
      },
      "description": "Cognitive Services error body.",
      "required": [
        "code",
        "message"
      ]
    },
    "OperationEntityListResult": {
      "description": "The list of cognitive services accounts operation response.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "The list of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationEntity"
          }
        }
      }
    },
    "OperationEntity": {
      "description": "The operation supported by Cognitive Services.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplayInfo",
          "description": "The operation supported by Cognitive Services."
        },
        "origin": {
          "description": "The origin of the operation.",
          "type": "string"
        },
        "properties": {
          "description": "Additional properties.",
          "type": "object"
        }
      }
    },
    "OperationDisplayInfo": {
      "description": "The operation supported by Cognitive Services.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the operation.",
          "type": "string"
        },
        "operation": {
          "description": "The action that users can perform, based on their permission level.",
          "type": "string"
        },
        "provider": {
          "description": "Service provider: Microsoft Cognitive Services.",
          "type": "string"
        },
        "resource": {
          "description": "Resource on which the operation is performed.",
          "type": "string"
        }
      }
    },
    "CheckSkuAvailabilityParameter": {
      "description": "Check SKU availability parameter.",
      "properties": {
        "skus": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuName"
          },
          "description": "The SKU of the resource."
        },
        "kind": {
          "$ref": "#/definitions/CognitiveServicesAccountKind",
          "description": "The Kind of the resource."
        },
        "type": {
          "type": "string",
          "description": "The Type of the resource."
        }
      },
      "required": [
        "skus",
        "kind",
        "type"
      ]
    },
    "CheckSkuAvailabilityResultList": {
      "description": "Check SKU availability result list.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CheckSkuAvailabilityResult"
          },
          "description": "Check SKU availability result list."
        }
      }
    },
    "CheckSkuAvailabilityResult": {
      "description": "Check SKU availability result.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/CognitiveServicesAccountKind",
          "description": "The Kind of the resource."
        },
        "type": {
          "type": "string",
          "description": "The Type of the resource."
        },
        "skuName": {
          "$ref": "#/definitions/SkuName",
          "description": "The SKU of Cognitive Services account."
        },
        "skuAvailable": {
          "type": "boolean",
          "description": "Indicates the given SKU is available or not."
        },
        "reason": {
          "type": "string",
          "description": "Reason why the SKU is not available."
        },
        "message": {
          "type": "string",
          "description": "Additional error message."
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. Current version is 2017-04-18"
    },
    "locationParameter": {
      "name": "location",
      "in": "path",
      "description": "Resource location.",
      "required": true,
      "type": "string"
    }
  }
}