{
    "swagger": "2.0",
    "info": {
        "version": "2015-05-21-preview",
        "title": "DevTestLabsClient",
        "description": "The DevTest Labs Client."
    },
    "host": "management.azure.com",
    "schemes": [ "https" ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs": {
            "get": {
                "tags": [ "Lab" ],
                "operationId": "Lab_ListBySubscription",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Lab]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Lab"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs": {
            "get": {
                "tags": [ "Lab" ],
                "operationId": "Lab_ListByResourceGroup",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Lab]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Lab"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources": {
            "get": {
                "tags": [ "ArtifactSource" ],
                "operationId": "ArtifactSource_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[ArtifactSource]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/ArtifactSource"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts": {
            "get": {
                "tags": [ "Artifact" ],
                "operationId": "Artifact_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "artifactSourceName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Artifact]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Artifact"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}": {
            "get": {
                "tags": [ "Artifact" ],
                "operationId": "Artifact_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "artifactSourceName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Artifact" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate": {
            "post": {
                "tags": [ "Artifact" ],
                "operationId": "Artifact_GenerateArmTemplate",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "artifactSourceName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/GenerateArmTemplateRequest" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ArmTemplateInfo" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}": {
            "get": {
                "tags": [ "ArtifactSource" ],
                "operationId": "ArtifactSource_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "put": {
                "tags": [ "ArtifactSource" ],
                "operationId": "ArtifactSource_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [ "ArtifactSource" ],
                "operationId": "ArtifactSource_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "204": { "description": "No Content" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [ "ArtifactSource" ],
                "operationId": "ArtifactSource_PatchResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs": {
            "get": {
                "tags": [ "Cost" ],
                "operationId": "Cost_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Cost]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Cost"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costsettings/{name}": {
            "get": {
                "tags": [ "Costsetting" ],
                "operationId": "Costsetting_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CostSetting" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "put": {
                "tags": [ "Costsetting" ],
                "operationId": "Costsetting_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CostSetting" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CostSetting" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/CostSetting" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [ "Costsetting" ],
                "operationId": "Costsetting_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "204": { "description": "No Content" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [ "Costsetting" ],
                "operationId": "Costsetting_PatchResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CostSetting" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CostSetting" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages": {
            "get": {
                "tags": [ "CustomImage" ],
                "operationId": "CustomImage_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[CustomImage]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/CustomImage"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}": {
            "get": {
                "tags": [ "CustomImage" ],
                "operationId": "CustomImage_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CustomImage" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "put": {
                "tags": [ "CustomImage" ],
                "operationId": "CustomImage_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CustomImage" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CustomImage" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/CustomImage" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [ "CustomImage" ],
                "operationId": "CustomImage_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "202": { "description": "Accepted" },
                    "204": { "description": "No Content" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas": {
            "get": {
                "tags": [ "Formula" ],
                "operationId": "Formula_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Formula]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Formula"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}": {
            "get": {
                "tags": [ "Formula" ],
                "operationId": "Formula_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Formula" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "put": {
                "tags": [ "Formula" ],
                "operationId": "Formula_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/Formula" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Formula" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/Formula" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [ "Formula" ],
                "operationId": "Formula_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "204": { "description": "No Content" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages": {
            "get": {
                "tags": [ "GalleryImage" ],
                "operationId": "GalleryImage_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[GalleryImage]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/GalleryImage"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies": {
            "post": {
                "tags": [ "PolicySet" ],
                "operationId": "PolicySet_EvaluatePolicies",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": { "$ref": "#/definitions/EvaluatePoliciesProperties" }
                        }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": { "$ref": "#/definitions/PolicySetResult" }
                        }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies": {
            "get": {
                "tags": [ "Policy" ],
                "operationId": "Policy_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policySetName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Policy]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Policy"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}": {
            "get": {
                "tags": [ "Policy" ],
                "operationId": "Policy_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policySetName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "put": {
                "tags": [ "Policy" ],
                "operationId": "Policy_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policySetName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [ "Policy" ],
                "operationId": "Policy_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policySetName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "204": { "description": "No Content" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [ "Policy" ],
                "operationId": "Policy_PatchResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policySetName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules": {
            "get": {
                "tags": [ "Schedule" ],
                "operationId": "Schedule_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Schedule]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Schedule"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}": {
            "get": {
                "tags": [ "Schedule" ],
                "operationId": "Schedule_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "put": {
                "tags": [ "Schedule" ],
                "operationId": "Schedule_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [ "Schedule" ],
                "operationId": "Schedule_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "202": { "description": "Accepted" },
                    "204": { "description": "No Content" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            },
            "patch": {
                "tags": [ "Schedule" ],
                "operationId": "Schedule_PatchResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/unattendedtasks": {
            "get": {
                "tags": [ "UnattendedTask" ],
                "operationId": "UnattendedTask_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[UnattendedTask]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/UnattendedTask"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/unattendedtasks/{name}": {
            "get": {
                "tags": [ "UnattendedTask" ],
                "operationId": "UnattendedTask_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/UnattendedTask" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "put": {
                "tags": [ "UnattendedTask" ],
                "operationId": "UnattendedTask_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/UnattendedTask" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/UnattendedTask" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/UnattendedTask" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [ "UnattendedTask" ],
                "operationId": "UnattendedTask_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "204": { "description": "No Content" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [ "UnattendedTask" ],
                "operationId": "UnattendedTask_PatchResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/UnattendedTask" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/UnattendedTask" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/unattendedtasks/{name}/execute": {
            "post": {
                "tags": [ "UnattendedTask" ],
                "operationId": "UnattendedTask_Execute",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines": {
            "get": {
                "tags": [ "VirtualMachine" ],
                "operationId": "VirtualMachine_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[LabVirtualMachine]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/LabVirtualMachine"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}": {
            "get": {
                "tags": [ "VirtualMachine" ],
                "operationId": "VirtualMachine_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "put": {
                "tags": [ "VirtualMachine" ],
                "operationId": "VirtualMachine_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [ "VirtualMachine" ],
                "operationId": "VirtualMachine_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "202": { "description": "Accepted" },
                    "204": { "description": "No Content" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            },
            "patch": {
                "tags": [ "VirtualMachine" ],
                "operationId": "VirtualMachine_PatchResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/applyArtifacts": {
            "post": {
                "tags": [ "VirtualMachine" ],
                "operationId": "VirtualMachine_ApplyArtifacts",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": { "$ref": "#/definitions/ArtifactInstallProperties" }
                        }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/createTemplate": {
            "post": {
                "tags": [ "VirtualMachine" ],
                "operationId": "VirtualMachine_CreateTemplate",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CreateVmTemplateActionProperties" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/start": {
            "post": {
                "tags": [ "VirtualMachine" ],
                "operationId": "VirtualMachine_Start",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/stop": {
            "post": {
                "tags": [ "VirtualMachine" ],
                "operationId": "VirtualMachine_Stop",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks": {
            "get": {
                "tags": [ "VirtualNetwork" ],
                "operationId": "VirtualNetwork_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[VirtualNetwork]" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/VirtualNetwork"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks/{name}": {
            "get": {
                "tags": [ "VirtualNetwork" ],
                "operationId": "VirtualNetwork_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/VirtualNetwork" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false
            },
            "put": {
                "tags": [ "VirtualNetwork" ],
                "operationId": "VirtualNetwork_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/VirtualNetwork" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/VirtualNetwork" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/VirtualNetwork" }
                    },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [ "VirtualNetwork" ],
                "operationId": "VirtualNetwork_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "202": { "description": "Accepted" },
                    "204": { "description": "No Content" },
                    "default": { "schema": { "$ref": "#/definitions/CloudError" } }
                },
                "deprecated": false,
[...]
