{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ApplicationMigration management service",
    "version": "2025-02-01-preview",
    "description": "The Microsoft.ApplicationMigration Rest API spec.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MongoAgents"
    },
    {
      "name": "MongoSites"
    },
    {
      "name": "MongoCollections"
    },
    {
      "name": "MongoDatabases"
    },
    {
      "name": "MongoInstances"
    }
  ],
  "paths": {
    "/providers/Microsoft.ApplicationMigration/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApplicationMigration/mongoSites": {
      "get": {
        "operationId": "MongoSites_ListBySubscription",
        "tags": [
          "MongoSites"
        ],
        "description": "Lists the MongoSites resource in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoSiteList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoSites_ListBySubscription_MaximumSet": {
            "$ref": "./examples/MongoSites_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites": {
      "get": {
        "operationId": "MongoSites_ListByResourceGroup",
        "tags": [
          "MongoSites"
        ],
        "description": "Lists the MongoSites resource in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoSiteList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoSites_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/MongoSites_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}": {
      "get": {
        "operationId": "MongoSites_Get",
        "tags": [
          "MongoSites"
        ],
        "description": "Gets the MongoSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoSites_Get_MaximumSet": {
            "$ref": "./examples/MongoSites_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MongoSites_CreateOrUpdate",
        "tags": [
          "MongoSites"
        ],
        "description": "Puts the MongoSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The request body for creating or updating a MongoSite resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MongoSite' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MongoSite"
            }
          },
          "201": {
            "description": "Resource 'MongoSite' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MongoSite"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoSites_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/MongoSites_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MongoSites_Update",
        "tags": [
          "MongoSites"
        ],
        "description": "Patch the MongoSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteTagsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoSite"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoSites_Update_MaximumSet": {
            "$ref": "./examples/MongoSites_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MongoSites_Delete",
        "tags": [
          "MongoSites"
        ],
        "description": "Deletes the MongoSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoSites_Delete_MaximumSet": {
            "$ref": "./examples/MongoSites_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}/agents": {
      "get": {
        "operationId": "MongoAgents_ListBySite",
        "tags": [
          "MongoAgents"
        ],
        "description": "Lists the Agents resource in MongoSites.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoAgentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoAgents_ListBySite_MaximumSet": {
            "$ref": "./examples/MongoAgents_ListBySite_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}/agents/{agentName}": {
      "get": {
        "operationId": "MongoAgents_Get",
        "tags": [
          "MongoAgents"
        ],
        "description": "Gets the Agents resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of agent",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoAgents_Get_MaximumSet": {
            "$ref": "./examples/MongoAgents_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MongoAgents_CreateOrUpdate",
        "tags": [
          "MongoAgents"
        ],
        "description": "Puts the Agents resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of agent",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The request body for creating or updating agent.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MongoAgent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MongoAgent"
            }
          },
          "201": {
            "description": "Resource 'MongoAgent' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MongoAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoAgents_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/MongoAgents_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "MongoAgents_Update",
        "tags": [
          "MongoAgents"
        ],
        "description": "Patch the Agents resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of agent",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Agents patch payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoAgents_Update_MaximumSet": {
            "$ref": "./examples/MongoAgents_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "MongoAgents_Delete",
        "tags": [
          "MongoAgents"
        ],
        "description": "Deletes the Agents resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of agent",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoAgents_Delete_MaximumSet": {
            "$ref": "./examples/MongoAgents_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}/agents/{agentName}/refresh": {
      "post": {
        "operationId": "MongoAgents_TriggerRefresh",
        "tags": [
          "MongoAgents"
        ],
        "description": "Trigger Refresh Refresh action",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of agent",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoAgents_TriggerRefresh_MaximumSet": {
            "$ref": "./examples/MongoAgents_TriggerRefresh_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}/mongoCollections": {
      "get": {
        "operationId": "MongoCollections_ListBySite",
        "tags": [
          "MongoCollections"
        ],
        "description": "Lists the MongoCollection resources in MongoSite.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoCollectionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoCollections_ListBySite_MaximumSet": {
            "$ref": "./examples/MongoCollections_ListBySite_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}/mongoCollections/{collectionName}": {
      "get": {
        "operationId": "MongoCollections_Get",
        "tags": [
          "MongoCollections"
        ],
        "description": "Gets the MongoCollection resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "collectionName",
            "in": "path",
            "description": "The name of Collection",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoCollections_Get_MaximumSet": {
            "$ref": "./examples/MongoCollections_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MongoCollections_CreateOrUpdate",
        "tags": [
          "MongoCollections"
        ],
        "description": "Puts the MongoCollection resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "collectionName",
            "in": "path",
            "description": "The name of Collection",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The request body for creating or updating a MongoCollection resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoCollection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MongoCollection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MongoCollection"
            }
          },
          "201": {
            "description": "Resource 'MongoCollection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MongoCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoCollections_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/MongoCollections_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "MongoCollections_Update",
        "tags": [
          "MongoCollections"
        ],
        "description": "Patch the MongoCollection resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "collectionName",
            "in": "path",
            "description": "The name of Collection",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The request body for updating a MongoCollection resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoCollectionResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoCollections_Update_MaximumSet": {
            "$ref": "./examples/MongoCollections_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "MongoCollections_Delete",
        "tags": [
          "MongoCollections"
        ],
        "description": "Deletes the MongoCollection resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "collectionName",
            "in": "path",
            "description": "The name of Collection",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoCollections_Delete_MaximumSet": {
            "$ref": "./examples/MongoCollections_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}/mongoDatabases": {
      "get": {
        "operationId": "MongoDatabases_ListBySite",
        "tags": [
          "MongoDatabases"
        ],
        "description": "Lists the MongoDatabases resource in MongoSites.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoDatabaseList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoDatabases_ListBySite_MaximumSet": {
            "$ref": "./examples/MongoDatabases_ListBySite_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}/mongoDatabases/{databaseName}": {
      "get": {
        "operationId": "MongoDatabases_Get",
        "tags": [
          "MongoDatabases"
        ],
        "description": "Gets the MongoDatabases resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of Database",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoDatabase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoDatabases_Get_MaximumSet": {
            "$ref": "./examples/MongoDatabases_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MongoDatabases_CreateOrUpdate",
        "tags": [
          "MongoDatabases"
        ],
        "description": "Puts the MongoDatabases resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of Database",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The request body for creating or updating a MongoDatabase resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoDatabase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MongoDatabase' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MongoDatabase"
            }
          },
          "201": {
            "description": "Resource 'MongoDatabase' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MongoDatabase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoDatabases_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/MongoDatabases_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "MongoDatabases_Update",
        "tags": [
          "MongoDatabases"
        ],
        "description": "Patch the MongoDatabases resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of Database",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The request body for updating a MongoDatabase resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoDatabaseResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoDatabase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoDatabases_Update_MaximumSet": {
            "$ref": "./examples/MongoDatabases_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "MongoDatabases_Delete",
        "tags": [
          "MongoDatabases"
        ],
        "description": "Deletes the MongoDatabases resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of Database",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoDatabases_Delete_MaximumSet": {
            "$ref": "./examples/MongoDatabases_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}/mongoInstances": {
      "get": {
        "operationId": "MongoInstances_ListBySite",
        "tags": [
          "MongoInstances"
        ],
        "description": "Lists the MongoInstances resource in MongoSites.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoInstanceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoInstances_ListBySite_MaximumSet": {
            "$ref": "./examples/MongoInstances_ListBySite_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}/mongoInstances/{instanceName}": {
      "get": {
        "operationId": "MongoInstances_Get",
        "tags": [
          "MongoInstances"
        ],
        "description": "Gets the MongoInstances resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "The name of Instance",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoInstances_Get_MaximumSet": {
            "$ref": "./examples/MongoInstances_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MongoInstances_CreateOrUpdate",
        "tags": [
          "MongoInstances"
        ],
        "description": "Puts the MongoInstances resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "The name of Instance",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The request body for creating or updating a MongoInstance resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MongoInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MongoInstance"
            }
          },
          "201": {
            "description": "Resource 'MongoInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MongoInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoInstances_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/MongoInstances_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "MongoInstances_Update",
        "tags": [
          "MongoInstances"
        ],
        "description": "Patch the MongoInstances resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "The name of Instance",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The request body for updating a MongoInstance resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoInstanceResourcePatchProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoInstances_Update_MaximumSet": {
            "$ref": "./examples/MongoInstances_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "MongoInstances_Delete",
        "tags": [
          "MongoInstances"
        ],
        "description": "Deletes the MongoInstances resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "The name of Instance",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoInstances_Delete_MaximumSet": {
            "$ref": "./examples/MongoInstances_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/mongoSites/{siteName}/refresh": {
      "post": {
        "operationId": "MongoSites_TriggerRefresh",
        "tags": [
          "MongoSites"
        ],
        "description": "Trigger Refresh action",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MongoSites_TriggerRefresh_MaximumSet": {
            "$ref": "./examples/MongoSites_TriggerRefresh_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AgentHealthProperties": {
      "type": "object",
      "description": "Class for agent health properties.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the agent."
        },
        "lastHeartBeatUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Last heartbeat time of the agent in UTC."
        }
      }
    },
    "AgentProperties": {
      "type": "object",
      "description": "Agent properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "servicePrincipalIdentityDetails": {
          "$ref": "#/definitions/AgentSpnProperties",
          "description": "Service principal identity details used by agent for communication to the service.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "migrateApplianceName": {
          "type": "string",
          "description": "Name of the appliance on which agent is running.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "healthDetails": {
          "$ref": "#/definitions/AgentHealthProperties",
          "description": "Health details of the agent."
        },
        "fabricSiteName": {
          "type": "string",
          "description": "Name of the appliance on which agent is running.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "servicePrincipalIdentityDetails",
        "migrateApplianceName",
        "fabricSiteName"
      ]
    },
    "AgentResourcePatch": {
      "type": "object",
      "description": "Object containing tags updates for patch operations.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentResourcePatchProperties",
          "description": "The Agent properties resource definition."
        }
      }
    },
    "AgentResourcePatchProperties": {
      "type": "object",
      "description": "Agent resource patch properties",
      "properties": {
        "healthDetails": {
          "$ref": "#/definitions/AgentHealthProperties",
          "description": "Health details of the agent."
        }
      }
    },
    "AgentSpnProperties": {
      "type": "object",
      "description": "Class for agent spn properties.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Tenant Id for the service principal with which the on-premise management/data plane components would communicate with our Azure services."
        },
        "applicationId": {
          "type": "string",
          "description": "Application/client Id for the service principal with which the on-premise management/data plane components would communicate with our Azure services."
        },
        "objectId": {
          "type": "string",
          "description": "Object Id of the service principal with which the on-premise management/data plane components would communicate with our Azure services."
        }
      }
    },
    "AzureResourceProperties": {
      "type": "object",
      "description": "Common properties for all azure tracked and proxy resources.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "BoolValue": {
      "type": "string",
      "description": "Represents an Enum with boolean values.",
      "enum": [
        "Unknown",
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "BoolValue",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Represents an unknown value."
          },
          {
            "name": "True",
            "value": "True",
            "description": "Represents a true boolean value."
          },
          {
            "name": "False",
            "value": "False",
            "description": "Represents a false boolean value."
          }
        ]
      }
    },
    "CollectionExceptionInfo": {
      "type": "object",
      "description": "MongoError, Warning or information",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Content of the message"
        }
      },
      "required": [
        "errorMessage"
      ]
    },
    "Edition": {
      "type": "string",
      "description": "Represents the Edition of the Mongo instance.",
      "enum": [
        "Unknown",
        "Community",
        "Enterprise"
      ],
      "x-ms-enum": {
        "name": "Edition",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown edition."
          },
          {
            "name": "Community",
            "value": "Community",
            "description": "Community edition."
          },
          {
            "name": "Enterprise",
            "value": "Enterprise",
            "description": "Enterprise edition."
          }
        ]
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "The extended location for off-azure resources.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "MongoAgent": {
      "type": "object",
      "description": "The Agent resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentProperties",
          "description": "Resource properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MongoAgentList": {
      "type": "object",
      "description": "List of MongoAgents.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MongoAgent items on this page",
          "items": {
            "$ref": "#/definitions/MongoAgent"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MongoCollection": {
      "type": "object",
      "description": "The MongoCollection resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MongoCollectionProperties",
          "description": "Resource properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MongoCollectionList": {
      "type": "object",
      "description": "List of MongoCollections.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MongoCollection items on this page",
          "items": {
            "$ref": "#/definitions/MongoCollection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MongoCollectionProperties": {
      "type": "object",
      "description": "Mongo Collection Properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "collectionDisplayName": {
          "type": "string",
          "description": "The collection name."
        },
        "mongoDatabaseArmIds": {
          "type": "array",
          "description": "discovered Mongo Database Ids",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ApplicationMigration/mongoSites/mongoDatabases"
                }
              ]
            }
          }
        },
        "sizeInMb": {
          "type": "number",
          "format": "float",
          "description": "The size of the collection in MB."
        },
        "numberOfIndexes": {
          "type": "integer",
          "format": "int64",
          "description": "The number of indexes in the collection."
        },
        "numberOfDocuments": {
          "type": "integer",
          "format": "int64",
          "description": "The number of documents in the collection."
        },
        "averageDocumentSizeInBytes": {
          "type": "number",
          "format": "float",
          "description": "The average document size in bytes for this collection"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The collection creation timestamp."
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The collection last modified timestamp."
        },
        "criticalErrors": {
          "type": "array",
          "description": "The list of critical errors.",
          "items": {
            "$ref": "#/definitions/CollectionExceptionInfo"
          },
          "x-ms-identifiers": []
        },
        "criticalErrorCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of critical errors."
        },
        "warnings": {
          "type": "array",
          "description": "The list of warnings.",
          "items": {
            "$ref": "#/definitions/CollectionExceptionInfo"
          },
          "x-ms-identifiers": []
        },
        "warningsCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of warnings."
        },
        "informationalMessages": {
          "type": "array",
          "description": "The list of informational messages.",
          "items": {
            "$ref": "#/definitions/CollectionExceptionInfo"
          },
          "x-ms-identifiers": []
        },
        "informationalMessagesCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of informational messages."
        }
      },
      "required": [
        "collectionDisplayName",
        "criticalErrorCount",
        "warningsCount",
        "informationalMessagesCount"
      ]
    },
    "MongoCollectionResourcePatch": {
      "type": "object",
      "description": "Mongo Collection properties",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MongoCollectionResourcePatchProperties",
          "description": "The collection resource patch properties."
        }
      }
    },
    "MongoCollectionResourcePatchProperties": {
      "type": "object",
      "description": "Properties for PATCH operation on MongoCollection resource.",
      "properties": {
        "collectionDisplayName": {
          "type": "string",
          "description": "The collection name."
        },
        "mongoDatabaseArmIds": {
          "type": "array",
          "description": "discovered Mongo Database Ids",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ApplicationMigration/mongoSites/mongoDatabases"
                }
              ]
            }
          }
        },
        "sizeInMb": {
          "type": "number",
          "format": "float",
          "description": "The size of the collection in MB."
        },
        "numberOfIndexes": {
          "type": "integer",
          "format": "int64",
          "description": "The number of indexes in the collection."
        },
        "numberOfDocuments": {
          "type": "integer",
          "format": "int64",
          "description": "The number of documents in the collection."
        },
        "averageDocumentSizeInBytes": {
          "type": "number",
          "format": "float",
          "description": "The average document size in bytes."
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The collection creation timestamp."
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The collection last modified timestamp."
        }
      }
    },
    "MongoDatabase": {
      "type": "object",
      "description": "The MongoDatabase resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MongoDatabaseProperties",
          "description": "Resource properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MongoDatabaseList": {
      "type": "object",
      "description": "List of MongoDatabases.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MongoDatabase items on this page",
          "items": {
            "$ref": "#/definitions/MongoDatabase"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MongoDatabaseProperties": {
      "type": "object",
      "description": "Mongo Database properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "databaseDisplayName": {
          "type": "string",
          "description": "The database name."
        },
        "mongoInstanceArmIds": {
          "type": "array",
          "description": "discovered Mongo Instance Ids",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ApplicationMigration/mongoSites/mongoInstances"
                }
              ]
            }
          }
        },
        "sizeInMb": {
          "type": "number",
          "format": "float",
          "description": "The size of the database in MB."
        },
        "numberOfCollections": {
          "type": "integer",
          "format": "int64",
          "description": "The number of collections in the database."
        },
        "numberOfIndexes": {
          "type": "integer",
          "format": "int64",
          "description": "The number of indexes in the database."
        },
        "numberOfDocuments": {
          "type": "integer",
          "format": "int64",
          "description": "The number of documents in the database."
        },
        "averageDocumentSizeInBytes": {
          "type": "number",
          "format": "float",
          "description": "The average document size in bytes."
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The database creation timestamp."
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The database last modified timestamp."
        },
        "collections": {
          "type": "array",
          "description": "List of collection names in the database.",
          "items": {
            "type": "string"
          }
        },
        "usesGridFs": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the database uses GridFS for file storage."
        },
        "storageEngine": {
          "type": "string",
          "description": "The database storage engine."
        },
        "shardingConfig": {
          "type": "string",
          "description": "The database sharding configuration."
        },
        "criticalErrors": {
          "type": "array",
          "description": "The list of critical errors.",
          "items": {
            "$ref": "#/definitions/CollectionExceptionInfo"
          },
          "x-ms-identifiers": []
        },
        "criticalErrorCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of critical errors."
        },
        "warnings": {
          "type": "array",
          "description": "The list of warnings.",
          "items": {
            "$ref": "#/definitions/CollectionExceptionInfo"
          },
          "x-ms-identifiers": []
        },
        "warningsCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of warnings."
        },
        "informationalMessages": {
          "type": "array",
          "description": "The list of informational messages.",
          "items": {
            "$ref": "#/definitions/CollectionExceptionInfo"
          },
          "x-ms-identifiers": []
        },
        "informationalMessagesCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of informational messages."
        }
      },
      "required": [
        "databaseDisplayName",
        "criticalErrorCount",
        "warningsCount",
        "informationalMessagesCount"
      ]
    },
    "MongoDatabaseResourcePatch": {
      "type": "object",
      "description": "Mongo Database properties",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MongoDatabaseResourcePatchProperties",
          "description": "The database resource patch properties."
        }
      }
    },
    "MongoDatabaseResourcePatchProperties": {
      "type": "object",
      "description": "Mongo Database resource patch properties",
      "properties": {
        "databaseDisplayName": {
          "type": "string",
          "description": "The database name."
        },
        "mongoInstanceArmIds": {
          "type": "array",
          "description": "discovered Mongo Instance Ids",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ApplicationMigration/mongoSites/mongoInstances"
                }
              ]
            }
          }
        },
        "sizeInMb": {
          "type": "number",
          "format": "float",
          "description": "The size of the database in MB."
        },
        "numberOfCollections": {
          "type": "integer",
          "format": "int64",
          "description": "The number of collections in the database."
        }
      }
    },
    "MongoHostMachineProperties": {
      "type": "object",
      "description": "Represents a Mongo Hostmachine (With SKU Fields)",
      "properties": {
        "vCores": {
          "type": "integer",
          "format": "int64",
          "description": "The machine vCore count."
        },
        "allocatedMemoryInMb": {
          "type": "integer",
          "format": "int64",
          "description": "The allocated RAM in Machine."
        },
        "storageInMb": {
          "type": "integer",
          "format": "int64",
          "description": "The storage on the machine"
        },
        "maxIops": {
          "type": "integer",
          "format": "int64",
          "description": "IOPS"
        },
        "csName": {
          "type": "string",
          "description": "The network node host name for mongo."
        },
        "osType": {
          "type": "string",
          "description": "The operating system type for mongo."
        },
        "osName": {
          "type": "string",
          "description": "The operating system name for mongo."
        },
        "osVersion": {
          "type": "string",
          "description": "The operating system version for mongo."
        },
        "osEdition": {
          "type": "string",
          "description": "The operating system edition for mongo."
        },
        "osArch": {
          "type": "string",
          "description": "The operating system architecture for mongo."
        },
        "procName": {
          "type": "string",
          "description": "The processor name for mongo."
        },
        "procArch": {
          "type": "string",
          "description": "The processor architecture for mongo."
        },
        "procMaxClockSpeedMhz": {
          "type": "string",
          "description": "The processor max clock speed."
        },
        "sockets": {
          "type": "integer",
          "format": "int64",
          "description": "The sockets count."
        }
      },
      "required": [
        "vCores",
        "allocatedMemoryInMb",
        "storageInMb"
      ]
    },
    "MongoInstance": {
      "type": "object",
      "description": "The MongoInstance resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MongoInstanceProperties",
          "description": "Resource properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MongoInstanceList": {
      "type": "object",
      "description": "List of MongoInstances.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MongoInstance items on this page",
          "items": {
            "$ref": "#/definitions/MongoInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MongoInstanceProperties": {
      "type": "object",
      "description": "Mongo Instance properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "hostName": {
          "type": "string",
          "description": "The Server IP/host name."
        },
        "hostIp": {
          "type": "array",
          "description": "The Server IP/host name.",
          "items": {
            "type": "string"
          }
        },
        "machineArmIds": {
          "type": "array",
          "description": "discovery Machine Ids",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.OffAzure/serverSites/machines"
                }
              ]
            }
          }
        },
        "hostMachineProperties": {
          "$ref": "#/definitions/MongoHostMachineProperties",
          "description": "The host machine properties."
        },
        "portNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Mongo Server port number"
        },
        "version": {
          "type": "string",
          "description": "The mongo server version."
        },
        "home": {
          "type": "string",
          "description": "The home directory of mongo installation."
        },
        "region": {
          "type": "string",
          "description": "The mongo server region."
        },
        "numberOfDatabases": {
          "type": "integer",
          "format": "int64",
          "description": "The number of databases."
        },
        "supportStatus": {
          "$ref": "#/definitions/SupportStatus",
          "description": "mongo version support status."
        },
        "edition": {
          "$ref": "#/definitions/Edition",
          "description": "Mongo instance edition."
        },
        "endOfSupportDate": {
          "type": "string",
          "format": "date",
          "description": "Time when mongo instance version support end."
        },
        "criticalErrors": {
          "type": "array",
          "description": "The list of critical errors.",
          "items": {
            "$ref": "#/definitions/CollectionExceptionInfo"
          },
          "x-ms-identifiers": []
        },
        "criticalErrorCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of critical errors."
        },
        "warnings": {
          "type": "array",
          "description": "The list of warnings.",
          "items": {
            "$ref": "#/definitions/CollectionExceptionInfo"
          },
          "x-ms-identifiers": []
        },
        "warningsCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of warnings."
        },
        "informationalMessages": {
          "type": "array",
          "description": "The list of informational messages.",
          "items": {
            "$ref": "#/definitions/CollectionExceptionInfo"
          },
          "x-ms-identifiers": []
        },
        "informationalMessagesCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of informational messages."
        },
        "storageSizeInMb": {
          "type": "number",
          "format": "float",
          "description": "Gets or sets storage size of Mongo instance."
        },
        "maxConnections": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of connections allowed in the instance"
        },
        "supportsSsl": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system supports SSL connections."
        },
        "supportsIpv6Connections": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system supports IPv6 connections."
        },
        "supportsIpv4Connections": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system supports IPv4 connections."
        },
        "computeIops": {
          "type": "integer",
          "format": "int64",
          "description": "The number of compute IOPS (Input/Output Operations Per Second) collected."
        },
        "storageIops": {
          "type": "integer",
          "format": "int64",
          "description": "The number of storage IOPS (Input/Output Operations Per Second) collected."
        },
        "replicaSetName": {
          "type": "string",
          "description": "Specifies the replica set name for the MongoDB instance."
        },
        "isSharded": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the MongoDB instance is part of a sharded cluster."
        },
        "authenticationMechanism": {
          "type": "string",
          "description": "Specifies the authentication mechanism used by MongoDB."
        },
        "enabledFeatures": {
          "type": "array",
          "description": "List of enabled MongoDB features.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "hostName",
        "portNumber",
        "criticalErrorCount",
        "warningsCount",
        "informationalMessagesCount"
      ]
    },
    "MongoInstanceResourcePatch": {
      "type": "object",
      "description": "Mongo Instance resource patch properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "hostName": {
          "type": "string",
          "description": "The Server IP/host name."
        },
        "portNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Mongo Server port number"
        },
        "version": {
          "type": "string",
          "description": "The mongo server version."
        }
      }
    },
    "MongoInstanceResourcePatchProperties": {
      "type": "object",
      "description": "Mongo Instance properties",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MongoInstanceResourcePatch",
          "description": "The instance resource patch properties."
        }
      }
    },
    "MongoSite": {
      "type": "object",
      "description": "The MongoSite resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MongoSiteProperties",
          "description": "Resource properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MongoSiteList": {
      "type": "object",
      "description": "List of MongoSites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MongoSite items on this page",
          "items": {
            "$ref": "#/definitions/MongoSite"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MongoSiteProperties": {
      "type": "object",
      "description": "Mongo Site properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "masterSiteId": {
          "type": "string",
          "format": "arm-id",
          "description": "The mapped master Site Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OffAzure/masterSites"
              }
            ]
          }
        },
        "migrateProjectId": {
          "type": "string",
          "format": "arm-id",
          "description": "The mapped migrate project Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Migrate/migrateProjects"
              }
            ]
          }
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location."
        }
      },
      "required": [
        "masterSiteId",
        "migrateProjectId"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown provisioning state."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded provisioning state."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed provisioning state."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled provisioning state."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating provisioning state."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting provisioning state."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating provisioning state."
          }
        ]
      },
      "readOnly": true
    },
    "ProxySiteRefreshBody": {
      "type": "object",
      "description": "Request body for Proxy site refresh action.",
      "properties": {
        "applianceName": {
          "type": "string",
          "description": "Gets or sets the appliance name of the agent in the site."
        }
      }
    },
    "ServerParameter": {
      "type": "object",
      "description": "Definition of Server Parameter",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    },
    "SiteTagsPatch": {
      "type": "object",
      "description": "The Site Tags patch resource definition.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SupportStatus": {
      "type": "string",
      "description": "Represents the Support status of the Mongo instance.",
      "enum": [
        "Unknown",
        "OutOfSupport",
        "Extended",
        "Mainstream"
      ],
      "x-ms-enum": {
        "name": "SupportStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Support Status"
          },
          {
            "name": "OutOfSupport",
            "value": "OutOfSupport",
            "description": "OutOfSupport support status."
          },
          {
            "name": "Extended",
            "value": "Extended",
            "description": "Extended support status."
          },
          {
            "name": "Mainstream",
            "value": "Mainstream",
            "description": "Mainstream support status."
          }
        ]
      }
    },
    "TagsUpdate": {
      "type": "object",
      "description": "Base tracked resource type for PATCH updates.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TlsVersion": {
      "type": "string",
      "description": "Represents the TLS version.",
      "enum": [
        "UNKNOWN",
        "Tls1_0",
        "Tls1_1",
        "Tls1_2",
        "Tls1_3"
      ],
      "x-ms-enum": {
        "name": "TlsVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "UNKNOWN",
            "value": "UNKNOWN",
            "description": "UNKNOWN TLS version."
          },
          {
            "name": "Tls1_0",
            "value": "Tls1_0",
            "description": "TLS version 1.0.\n#deprecated This version is deprecated"
          },
          {
            "name": "Tls1_1",
            "value": "Tls1_1",
            "description": "TLS version 1.1.\n#deprecated This version is deprecated"
          },
          {
            "name": "Tls1_2",
            "value": "Tls1_2",
            "description": "TLS version 1.2."
          },
          {
            "name": "Tls1_3",
            "value": "Tls1_3",
            "description": "TLS version 1.3."
          }
        ]
      }
    }
  },
  "parameters": {}
}
