{
  "swagger": "2.0",
  "info": {
    "title": "Cosmos DB",
    "description": "Azure Cosmos DB Throughput Pool REST API",
    "version": "2023-11-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/throughputPools": {
      "get": {
        "operationId": "ThroughputPools_List",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountList": {
            "$ref": "./examples/throughputPool/CosmosDBThroughputPoolList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Lists all the Azure Cosmos DB Throughput Pools available under the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputPoolsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools": {
      "get": {
        "tags": [
          "ThroughputPools"
        ],
        "operationId": "ThroughputPools_ListByResourceGroup",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountList": {
            "$ref": "./examples/throughputPool/CosmosDBThroughputPoolList.json"
          }
        },
        "description": "List all the ThroughputPools in a given resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputPoolsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{poolName}": {
      "get": {
        "operationId": "ThroughputPool_Get",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGet": {
            "$ref": "./examples/throughputPool/CosmosDBThroughputPoolGet.json"
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB Throughput Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Throughput Pool properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputPoolResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ThroughputPool_CreateOrUpdate",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGet": {
            "$ref": "./examples/throughputPool/CosmosDBThroughputPoolCreateUpdate.json"
          }
        },
        "description": "Creates or updates an Azure Cosmos DB ThroughputPool account. The \"Update\" method is preferred when performing updates on an account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputPoolResource"
            },
            "description": "The parameters to provide for the current ThroughputPool."
          }
        ],
        "responses": {
          "202": {
            "description": "The ThroughputPool create or update operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/ThroughputPoolResource"
            },
            "headers": {
              "azure-AsyncOperation": {
                "type": "string",
                "description": "URI to poll for completion status."
              },
              "location": {
                "type": "string",
                "description": "URI to poll for completion status."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "ThroughputPool_Update",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountPatch": {
            "$ref": "./examples/throughputPool/CosmosDBThroughputPoolCreateUpdate.json"
          }
        },
        "description": "Updates the properties of an existing Azure Cosmos DB Throughput Pool.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputPoolUpdateParameters"
            },
            "description": "The parameters to provide for the current Throughput Pool."
          }
        ],
        "responses": {
          "200": {
            "description": "Completed synchronously. This will only happen if the fields changed by patch require no changes to the actual ThroughputPool.",
            "schema": {
              "$ref": "#/definitions/ThroughputPoolResource"
            }
          },
          "202": {
            "description": "The ThroughputPool update operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/ThroughputPoolResource"
            },
            "headers": {
              "azure-AsyncOperation": {
                "type": "string",
                "description": "URI to poll for completion status."
              },
              "location": {
                "type": "string",
                "description": "URI to poll for completion status."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "ThroughputPool_Delete",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountDelete": {
            "$ref": "./examples/throughputPool/CosmosDBThroughputPoolDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Throughput Pool.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Throughput Pool delete operation will complete asynchronously.",
            "headers": {
              "azure-AsyncOperation": {
                "type": "string",
                "description": "URI to poll for completion status."
              },
              "location": {
                "type": "string",
                "description": "URI to poll for completion status."
              }
            }
          },
          "204": {
            "description": "The specified Throughput Pool does not exist in the subscription."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{poolName}/throughputPoolAccounts": {
      "get": {
        "operationId": "ThroughputPoolAccounts_List",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountList": {
            "$ref": "./examples/throughputPool/CosmosDBThroughputPoolAccountsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Lists all the Azure Cosmos DB accounts available under the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputPoolAccountsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{poolName}/throughputPoolAccounts/{poolAccountName}": {
      "get": {
        "operationId": "ThroughputPoolAccount_Get",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGet": {
            "$ref": "./examples/throughputPool/CosmosDBThroughputPoolAccountGet.json"
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB Throughput Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Throughput Pool properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ThroughputPoolAccountGetResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ThroughputPoolAccount_Create",
        "description": "Creates or updates an Azure Cosmos DB ThroughputPool account. The \"Update\" method is preferred when performing updates on an account.",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CosmosDBDatabaseAccountPatch": {
            "$ref": "./examples/throughputPool/CosmosDBThroughputPoolAccountCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolAccountNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputPoolAccountCreateParameters"
            },
            "description": "The parameters to provide for the current ThroughputPoolAccount."
          }
        ],
        "responses": {
          "202": {
            "description": "The ThroughputPoolAccount create or update operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/ThroughputPoolAccountGetResult"
            },
            "headers": {
              "azure-AsyncOperation": {
                "type": "string",
                "description": "URI to poll for completion status."
              },
              "location": {
                "type": "string",
                "description": "URI to poll for completion status."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "ThroughputPoolAccount_Delete",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountDelete": {
            "$ref": "./examples/throughputPool/CosmosDBThroughputPoolAccountDelete.json"
          }
        },
        "description": "Removes an existing Azure Cosmos DB database account from a throughput pool.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolNameParameter"
          },
          {
            "$ref": "#/parameters/ThroughputPoolAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Throughput Pool delete operation will complete asynchronously.",
            "headers": {
              "azure-AsyncOperation": {
                "type": "string",
                "description": "URI to poll for completion status."
              },
              "location": {
                "type": "string",
                "description": "URI to poll for completion status."
              }
            }
          },
          "204": {
            "description": "The specified Throughput Pool does not exist in the subscription."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ThroughputPoolsListResult": {
      "description": "The List operation response, that contains the throughput pools and their properties.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of throughput pools and their properties.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ThroughputPoolResource"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ThroughputPoolResource": {
      "description": "An Azure Cosmos DB Throughputpool.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ThroughputPoolUpdateProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ThroughputPoolUpdateParameters": {
      "description": "Parameters for patching Azure Cosmos DB throughput pool properties.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ThroughputPoolUpdateProperties"
        }
      }
    },
    "ThroughputPoolUpdateProperties": {
      "description": "Properties to update Azure Cosmos DB throughput pool.",
      "type": "object",
      "x-ms-mutability": [
        "update"
      ],
      "properties": {
        "maxThroughput": {
          "type": "integer",
          "format": "int32",
          "description": "Value for throughput to be shared among CosmosDB resources in the pool."
        }
      }
    },
    "ThroughputPoolAccountsListResult": {
      "description": "The List operation response, that contains the global database accounts and their properties.",
      "type": "object",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ThroughputPoolAccountGetResult"
          },
          "description": "List of global database accounts in a throughput pool and their properties."
        },
        "nextLink": {
          "description": "The link used to get the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ThroughputPoolAccountCreateParameters": {
      "description": "Parameters for creating a Azure Cosmos DB throughput pool account.",
      "type": "object",
      "x-ms-mutability": [
        "create"
      ],
      "properties": {
        "tags": {
          "$ref": "cosmos-db.json#/definitions/Tags"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ThroughputPoolAccountCreateProperties"
        }
      }
    },
    "ThroughputPoolAccountCreateProperties": {
      "description": "Properties to update Azure Cosmos DB throughput pool.",
      "type": "object",
      "x-ms-mutability": [
        "create"
      ],
      "properties": {
        "accountResourceIdentifier": {
          "description": "The resource identifier of global database account in the throughputPool.",
          "type": "string"
        },
        "accountLocation": {
          "description": "The location of global database account in the throughputPool.",
          "type": "string"
        }
      }
    },
    "ThroughputPoolAccountGetResult": {
      "description": "An Azure Cosmos DB Global Database Account which is part of a Throughputpool.",
      "type": "object",
      "properties": {
        "accountResourceIdentifier": {
          "readOnly": true,
          "description": "The resource identifier of global database account in the throughputPool.",
          "type": "string"
        },
        "accountLocation": {
          "readOnly": true,
          "description": "The location of  global database account in the throughputPool.",
          "type": "string"
        },
        "accountInstanceId": {
          "readOnly": true,
          "description": "The instance id of global database account in the throughputPool.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ThroughputPoolNameParameter": {
      "name": "ThroughputPoolNameParameter",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Cosmos DB Throughput Pool name.",
      "minLength": 3,
      "maxLength": 50,
      "pattern": "^[a-z0-9]+(-[a-z0-9]+)*"
    },
    "ThroughputPoolAccountNameParameter": {
      "name": "ThroughputPoolAccountNameParameter",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Cosmos DB global database account in a Throughput Pool",
      "minLength": 3,
      "maxLength": 50,
      "pattern": "^[a-z0-9]+(-[a-z0-9]+)*"
    }
  }
}
