{
  "swagger": "2.0",
  "info": {
    "title": "Volumes",
    "version": "2023-12-15-preview",
    "description": "Azure Stack HCI Volumes.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Volumes"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/volumes": {
      "get": {
        "operationId": "Volumes_ListByClusters",
        "tags": [
          "Volumes"
        ],
        "description": "List Volume resources by Clusters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/volumes/{volumesName}": {
      "get": {
        "operationId": "Volumes_Get",
        "tags": [
          "Volumes"
        ],
        "description": "Get a Volume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumesName",
            "in": "path",
            "description": "Name of Volume",
            "required": true,
            "type": "string",
            "default": "default",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Volume"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Volumes_CreateOrUpdate",
        "tags": [
          "Volumes"
        ],
        "description": "Create a Volume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumesName",
            "in": "path",
            "description": "Name of Volume",
            "required": true,
            "type": "string",
            "default": "default",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Volume"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Volume' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Volume"
            }
          },
          "201": {
            "description": "Resource 'Volume' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Volume"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/volumes/{name}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/volumes/{volumesName}": {
      "delete": {
        "operationId": "Volumes_Delete",
        "tags": [
          "Volumes"
        ],
        "description": "Delete a Volume",
        "parameters": [
          {
            "$ref": "#/parameters/Volume.name"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumesName",
            "in": "path",
            "description": "Name of Volume",
            "required": true,
            "type": "string",
            "default": "default",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "The dynamic parameters of a resource instance - pass in the proper base type to indicate\nwhere the resource is based.  The default is in a resource group",
              "properties": {
                "force": {
                  "type": "boolean",
                  "default": false
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "NotSpecified",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The resource provision state is not specified"
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      }
    },
    "Step": {
      "type": "object",
      "description": "The Step of AzureStackHCI Cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of step.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of step.",
          "readOnly": true
        },
        "fullStepIndex": {
          "type": "string",
          "description": "FullStepIndex of step.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "description": "Start time of step.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "description": "End time of step.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of step. Allowed values are 'Error', 'Success', 'InProgress'",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of nested steps of AzureStackHCI Cluster Deployment.",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "exception": {
          "type": "array",
          "description": "List of exceptions in AzureStackHCI Cluster Deployment.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "Volume": {
      "type": "object",
      "description": "Azure stack HCI volume resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VolumeProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VolumeDeleteRequest": {
      "type": "object",
      "properties": {
        "force": {
          "type": "boolean",
          "default": false
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Volume"
        }
      ]
    },
    "VolumeListResult": {
      "type": "object",
      "description": "The response of a Volume list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Volume items on this page",
          "items": {
            "$ref": "#/definitions/Volume"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VolumeProperties": {
      "type": "object",
      "description": "Volume properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Volume provisioning state",
          "readOnly": true
        },
        "size": {
          "type": "string"
        },
        "resiliencyType": {
          "type": "string"
        },
        "provisioningType": {
          "type": "string"
        },
        "bitLocker": {
          "type": "string"
        },
        "runningState": {
          "type": "string"
        },
        "eligibleForVMPlacement": {
          "type": "string"
        },
        "volumeStatus": {
          "$ref": "#/definitions/VolumeStatus",
          "description": "Volume status of AzureStackHCI Cluster Deployment.",
          "readOnly": true
        }
      }
    },
    "VolumeStatus": {
      "type": "object",
      "description": "The VolumeStatus of AzureStackHCI Cluster.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of AzureStackHCI Cluster volume.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of steps of AzureStackHCI Cluster Deployment.",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    }
  },
  "parameters": {
    "Volume.name": {
      "name": "name",
      "in": "path",
      "description": "Name of Volume",
      "required": true,
      "type": "string",
      "default": "default",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "x-ms-parameter-location": "method"
    }
  }
}
