{
  "swagger": "2.0",
  "info": {
    "title": "PolicyTrackedResourcesClient",
    "version": "2018-07-01-preview",
    "description": "PolicyTrackedResources Management Api",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [],
  "paths": {
    "/{resourceId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
      "post": {
        "operationId": "PolicyTrackedResources_ListQueryResultsForResource",
        "description": "Queries policy tracked resources under the resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "policyTrackedResourcesResource",
            "in": "path",
            "description": "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "PolicyTrackedResourcesResourceType",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyTrackedResourcesQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Query at resource scope": {
            "$ref": "./examples/PolicyTrackedResources_QueryResourceScope.json"
          },
          "Query at resource scope using query parameters": {
            "$ref": "./examples/PolicyTrackedResources_QueryResourceScopeWithFilterAndTop.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
      "post": {
        "operationId": "PolicyTrackedResources_ListQueryResultsForManagementGroup",
        "description": "Queries policy tracked resources under the management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupName",
            "in": "path",
            "description": "Management group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyTrackedResourcesResource",
            "in": "path",
            "description": "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "PolicyTrackedResourcesResourceType",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyTrackedResourcesQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Query at management group scope": {
            "$ref": "./examples/PolicyTrackedResources_QueryManagementGroupScope.json"
          },
          "Query at management group scope using query parameters": {
            "$ref": "./examples/PolicyTrackedResources_QueryManagementGroupScopeWithFilterAndTop.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
      "post": {
        "operationId": "PolicyTrackedResources_ListQueryResultsForSubscription",
        "description": "Queries policy tracked resources under the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "policyTrackedResourcesResource",
            "in": "path",
            "description": "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "PolicyTrackedResourcesResourceType",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyTrackedResourcesQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Query at subscription scope": {
            "$ref": "./examples/PolicyTrackedResources_QuerySubscriptionScope.json"
          },
          "Query at subscription scope using query parameters": {
            "$ref": "./examples/PolicyTrackedResources_QuerySubscriptionScopeWithFilterAndTop.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
      "post": {
        "operationId": "PolicyTrackedResources_ListQueryResultsForResourceGroup",
        "description": "Queries policy tracked resources under the resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyTrackedResourcesResource",
            "in": "path",
            "description": "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "PolicyTrackedResourcesResourceType",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyTrackedResourcesQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Query at resource group scope": {
            "$ref": "./examples/PolicyTrackedResources_QueryResourceGroupScope.json"
          },
          "Query at resource group scope using query parameters": {
            "$ref": "./examples/PolicyTrackedResources_QueryResourceGroupScopeWithFilterAndTop.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PolicyDetails": {
      "type": "object",
      "description": "The policy details.",
      "properties": {
        "policyDefinitionId": {
          "type": "string",
          "description": "The ID of the policy definition.",
          "readOnly": true
        },
        "policyAssignmentId": {
          "type": "string",
          "description": "The ID of the policy assignment.",
          "readOnly": true
        },
        "policyAssignmentDisplayName": {
          "type": "string",
          "description": "The display name of the policy assignment.",
          "readOnly": true
        },
        "policyAssignmentScope": {
          "type": "string",
          "description": "The scope of the policy assignment.",
          "readOnly": true
        },
        "policySetDefinitionId": {
          "type": "string",
          "description": "The ID of the policy set definition.",
          "readOnly": true
        },
        "policyDefinitionReferenceId": {
          "type": "string",
          "description": "The policy definition reference ID within the policy set definition.",
          "readOnly": true
        }
      }
    },
    "PolicyInsightsCommon.QueryFailure": {
      "type": "object",
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/PolicyInsightsCommon.QueryFailureError",
          "description": "Error definition."
        }
      }
    },
    "PolicyInsightsCommon.QueryFailureError": {
      "type": "object",
      "description": "Error definition.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Description of the error.",
          "readOnly": true
        }
      }
    },
    "PolicyTrackedResource": {
      "type": "object",
      "description": "Policy tracked resource record.",
      "properties": {
        "trackedResourceId": {
          "type": "string",
          "description": "The ID of the policy tracked resource.",
          "readOnly": true
        },
        "policyDetails": {
          "$ref": "#/definitions/PolicyDetails",
          "description": "The details of the policy that require the tracked resource.",
          "readOnly": true
        },
        "createdBy": {
          "$ref": "#/definitions/TrackedResourceModificationDetails",
          "description": "The details of the policy triggered deployment that created the tracked resource.",
          "readOnly": true
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/TrackedResourceModificationDetails",
          "description": "The details of the policy triggered deployment that modified the tracked resource.",
          "readOnly": true
        },
        "lastUpdateUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of the last update to the tracked resource.",
          "readOnly": true
        }
      }
    },
    "PolicyTrackedResourcesQueryResults": {
      "type": "object",
      "description": "Query results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PolicyTrackedResource items on this page",
          "items": {
            "$ref": "#/definitions/PolicyTrackedResource"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "trackedResourceId"
          ]
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      }
    },
    "TrackedResourceModificationDetails": {
      "type": "object",
      "description": "The details of the policy triggered deployment that created or modified the tracked resource.",
      "properties": {
        "policyDetails": {
          "$ref": "#/definitions/PolicyDetails",
          "description": "The details of the policy that created or modified the tracked resource.",
          "readOnly": true
        },
        "deploymentId": {
          "type": "string",
          "description": "The ID of the deployment that created or modified the tracked resource.",
          "readOnly": true
        },
        "deploymentTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of the deployment that created or modified the tracked resource.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
