{
  "swagger": "2.0",
  "info": {
    "version": "2017-04-01",
    "title": "AzureActiveDirectoryClient",
    "description": "Description of the new service",
    "x-ms-code-generation-settings": {
      "name": "azureactivedirectoryClient"
    }
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{resourceUri}/providers/microsoft.aadiam/diagnosticSettings": {
      "get": {
        "tags": [
          "DiagnosticSettings"
        ],
        "operationId": "DiagnosticSettings_List",
        "description": "Gets the active diagnostic settings list for AadIam.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error, request for AadIam diagnostic settings has failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get more information about AadIam diagnostic settings",
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsResourceCollection"
            }
          }
        },
        "x-ms-examples": {
          "Gets the diagnostic setting": {
            "$ref": "./examples/listDiagnosticSettings.json"
          }
        } 
      }
    },
    "/{resourceUri}/providers/microsoft.aadiam/diagnosticSettings/{name}": {
      "put": {
        "tags": ["DiagnosticSettings"],
        "operationId": "DiagnosticSettings_CreateOrUpdate",
        "x-ms-examples": {
          "BatchAccountDelete": { "$ref": "./examples/createOrUpdateDiagnosticSetting.json" }
        },
        "description": "Creates or updates diagnostic settings for AadIam.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsResource"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/NameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to create AadIam diagnostic setting.",
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsResource"
            }
          },
          "default": {
            "description": "Error. The request to create diagnostic setting has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ProxyOnlyResource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource location"
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource kind"
        },
        "tags": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource tags"
        },
        "identity": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource identity"
        }
      },
      "x-ms-azure-resource": true,
      "description": "A proxy only azure resource object."
    },
    "RetentionPolicy": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "A value indicating whether the retention policy is enabled."
        },
        "days": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "description": "The number of days for the retention in days. A value of 0 will retain the events indefinitely."
        }
      },
      "required": [ "enabled", "days" ],
      "description": "Specifies the retention policy for the log."
    },
    "MetricSettings": {
      "properties": {
        "timeGrain": {
          "type": "string",
          "format": "duration",
          "description": "The timegrain of the metric in ISO8601 format."
        },
        "category": {
          "type": "string",
          "description": "Name of a Diagnostic Metric category for a resource type this setting is applied to. To obtain the list of Diagnostic metric categories for a resource, first perform a GET diagnostic settings operation."
        },
        "enabled": {
          "type": "boolean",
          "description": "A value indicating whether this category is enabled."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "The retention policy for this category."
        }
      },
      "required": [ "enabled" ],
      "description": "Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular metric."
    },
    "LogSettings": {
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of a Diagnostic Log category for a resource type this setting is applied to. To obtain the list of Diagnostic Log categories for a resource, first perform a GET diagnostic settings operation."
        },
        "enabled": {
          "type": "boolean",
          "description": "A value indicating whether this log is enabled."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "The retention policy for this log."
        }
      },
      "required": [ "enabled" ],
      "description": "Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular log."
    },
    "DiagnosticSettings": {
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "The resource ID of the storage account to which you would like to send Diagnostic Logs."
        },
        "serviceBusRuleId": {
          "type": "string",
          "description": "The service bus rule Id of the diagnostic setting. This is here to maintain backwards compatibility."
        },
        "eventHubAuthorizationRuleId": {
          "type": "string",
          "description": "The resource Id for the event hub authorization rule."
        },
        "eventHubName": {
          "type": "string",
          "description": "The name of the event hub. If none is specified, the default event hub will be selected."
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSettings"
          },
          "description": "The list of metric settings."
        },
        "logs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogSettings"
          },
          "description": "The list of logs settings."
        },
        "logAnalyticsDestinationType": {
          "type": "string",
          "description": "The type of log analyitics destination."
        }
      },
      "description": "The diagnostic settings."
    },
    "DiagnosticSettingsResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DiagnosticSettings",
          "description": "Properties of a Diagnostic Settings Resource."
        }
      },
      "description": "The diagnostic setting resource."
    },
    "DiagnosticSettingsResourceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiagnosticSettingsResource"
          },
          "description": "The collection of diagnostic settings resources."
        }
      },
      "description": "Represents a collection of alert rule resources."
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The identifier of the resource.",
      "x-ms-parameter-location": "method"
    },
    "NameParameter": {
      "name": "name",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the diagnostic setting.",
      "x-ms-parameter-location": "method"
    }
  }
}
