{
    "swagger": "2.0",
    "info": {
        "title": "Azure SQL Server Backup Long Term Retention Vault",
        "description": "Provides read and update functionality for Azure SQL Server backup long term retention vault",
        "version": "2014-04-01"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults/{backupLongTermRetentionVaultName}": {
            "get": {
                "tags": [
                    "BackupLongTermRetentionVaults"
                ],
                "operationId": "BackupLongTermRetentionVaults_Get",
                "description": "Gets a server backup long term retention vault",
                "x-ms-examples": {
                    "Get backup long term retention vault": {
                        "$ref": "./examples/BackupLongTermRetentionVaultGet.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "backupLongTermRetentionVaultName",
                        "in": "path",
                        "description": "The name of the Azure SQL Server backup LongTermRetention vault",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "RegisteredVault"
                        ],
                        "x-ms-enum": {
                            "name": "BackupLongTermRetentionVaultName",
                            "modelAsString": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BackupLongTermRetentionVault"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "BackupLongTermRetentionVaults"
                ],
                "operationId": "BackupLongTermRetentionVaults_CreateOrUpdate",
                "description": "Updates a server backup long term retention vault",
                "x-ms-examples": {
                    "Update backup long term retention vault": {
                        "$ref": "./examples/BackupLongTermRetentionVaultUpdate.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    },
                    {
                        "name": "backupLongTermRetentionVaultName",
                        "in": "path",
                        "description": "The name of the backup long term retention vault",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "RegisteredVault"
                        ],
                        "x-ms-enum": {
                            "name": "BackupLongTermRetentionVaultName",
                            "modelAsString": true
                        }
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BackupLongTermRetentionVault"
                        },
                        "description": "The required parameters to update a backup long term retention vault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BackupLongTermRetentionVault"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/BackupLongTermRetentionVault"
                        }
                    },
                    "202": {
                        "description": "Accepted"
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults": {
            "get": {
                "tags": [
                    "BackupLongTermRetentionVaults"
                ],
                "operationId": "BackupLongTermRetentionVaults_ListByServer",
                "description": "Gets server backup long term retention vaults in a server",
                "x-ms-examples": {
                    "Get backup long term retention vault": {
                        "$ref": "./examples/BackupLongTermRetentionVaultList.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/ServerNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BackupLongTermRetentionVaultListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                  "nextLinkName": null
                }
            }
        }
    },
    "definitions": {
        "Resource": {
            "description": "ARM resource.",
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource ID."
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource name."
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type."
                }
            },
            "x-ms-azure-resource": true
        },
        "ProxyResource": {
            "description": "ARM proxy resource.",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "BackupLongTermRetentionVaultProperties": {
            "properties": {
                "recoveryServicesVaultResourceId": {
                    "type": "string",
                    "description": "The azure recovery services vault resource id"
                }
            },
            "required": ["recoveryServicesVaultResourceId"],
            "description": "The properties of a backup long term retention vault."
        },
        "BackupLongTermRetentionVault": {
            "properties": {
                "location": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The geo-location where the resource lives"
                },
                "properties": {
                    "$ref": "#/definitions/BackupLongTermRetentionVaultProperties",
                    "description": "The properties of the backup long term retention vault",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/ProxyResource"
                }
            ],
            "description": "A backup long term retention vault"
        },
        "BackupLongTermRetentionVaultListResult": {
            "properties": {
              "value": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/BackupLongTermRetentionVault"
                },
                "description": "The list of vaults in the server."
              }
            },
            "required": ["value"],
            "description": "Represents the response to a list vaults request."
        }
    },
    "parameters": {
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The API version to use for the request."
        },
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The subscription ID that identifies an Azure subscription."
        },
        "ResourceGroupParameter": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
            "x-ms-parameter-location": "method"
        },
        "ServerNameParameter": {
            "name": "serverName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the server.",
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "description": "Azure Active Directory OAuth2 Flow",
            "flow": "implicit",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    }
}