{
  "swagger": "2.0",
  "info": {
    "version": "2021-06-01-preview",
    "title": "WebPubSubManagementClient",
    "description": "REST API for Azure WebPubSub Service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.SignalRService/operations": {
      "get": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Lists all of the available REST API operations of the Microsoft.SignalRService provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of operations.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/checkNameAvailability": {
      "post": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Checks that the resource name is valid and is not already in use.",
        "operationId": "WebPubSub_CheckNameAvailability",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "the region",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameAvailabilityParameters"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the name availability.",
            "schema": {
              "$ref": "#/definitions/NameAvailability"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WebPubSub_CheckNameAvailability": {
            "$ref": "./examples/WebPubSub_CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/usages": {
      "get": {
        "tags": [
          "WebPubSub"
        ],
        "description": "List resource usage quotas by location.",
        "operationId": "Usages_List",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "the location like \"eastus\"",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describe the usage quotas of a subscription in specified region.",
            "schema": {
              "$ref": "#/definitions/SignalRServiceUsageList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Usages_List": {
            "$ref": "./examples/Usages_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/webPubSub": {
      "get": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Handles requests to list all resources in a subscription.",
        "operationId": "WebPubSub_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of resources in the subscription.",
            "schema": {
              "$ref": "#/definitions/WebPubSubResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "WebPubSub_ListBySubscription": {
            "$ref": "./examples/WebPubSub_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub": {
      "get": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Handles requests to list all resources in a resource group.",
        "operationId": "WebPubSub_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of resources in a resourceGroup.",
            "schema": {
              "$ref": "#/definitions/WebPubSubResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "WebPubSub_ListByResourceGroup": {
            "$ref": "./examples/WebPubSub_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}": {
      "get": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Get the resource and its properties.",
        "operationId": "WebPubSub_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding resource.",
            "schema": {
              "$ref": "#/definitions/WebPubSubResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WebPubSub_Get": {
            "$ref": "./examples/WebPubSub_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Create or update a resource.",
        "operationId": "WebPubSub_CreateOrUpdate",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebPubSubResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a resource.",
            "schema": {
              "$ref": "#/definitions/WebPubSubResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new resource and contains a Location header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/WebPubSubResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting resource is now updating and contains a Location header to query the operation result.."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WebPubSub_CreateOrUpdate": {
            "$ref": "./examples/WebPubSub_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Operation to delete a resource.",
        "operationId": "WebPubSub_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is already deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background."
          },
          "204": {
            "description": "Success. The response indicates the resource is already deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WebPubSub_Delete": {
            "$ref": "./examples/WebPubSub_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Operation to update an exiting resource.",
        "operationId": "WebPubSub_Update",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebPubSubResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a resource.",
            "schema": {
              "$ref": "#/definitions/WebPubSubResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting resource is now updating and contains a Location header to query the operation result.."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WebPubSub_Update": {
            "$ref": "./examples/WebPubSub_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/listKeys": {
      "post": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Get the access keys of the resource.",
        "operationId": "WebPubSub_ListKeys",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes access keys of the resource.",
            "schema": {
              "$ref": "#/definitions/WebPubSubKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WebPubSub_ListKeys": {
            "$ref": "./examples/WebPubSub_ListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "WebPubSub"
        ],
        "description": "List private endpoint connections",
        "operationId": "WebPubSubPrivateEndpointConnections_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a list of private endpoint connections.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "WebPubSubPrivateEndpointConnections_List": {
            "$ref": "./examples/WebPubSubPrivateEndpointConnections_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Get the specified private endpoint connection",
        "operationId": "WebPubSubPrivateEndpointConnections_Get",
        "parameters": [
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a private endpoint connection.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WebPubSubPrivateEndpointConnections_Get": {
            "$ref": "./examples/WebPubSubPrivateEndpointConnections_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Update the state of specified private endpoint connection",
        "operationId": "WebPubSubPrivateEndpointConnections_Update",
        "parameters": [
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The resource of private endpoint and its properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The response indicates the private endpoint connection is updated successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WebPubSubPrivateEndpointConnections_Update": {
            "$ref": "./examples/WebPubSubPrivateEndpointConnections_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Delete the specified private endpoint connection",
        "operationId": "WebPubSubPrivateEndpointConnections_Delete",
        "parameters": [
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is already deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background."
          },
          "204": {
            "description": "Success. The response indicates the private endpoint connection is already deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WebPubSubPrivateEndpointConnections_Delete": {
            "$ref": "./examples/WebPubSubPrivateEndpointConnections_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateLinkResources": {
      "get": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Get the private link resources that need to be created for a resource.",
        "operationId": "WebPubSubPrivateLinkResources_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a list of private link resources.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "WebPubSubPrivateLinkResources_List": {
            "$ref": "./examples/WebPubSubPrivateLinkResources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/regenerateKey": {
      "post": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Regenerate the access key for the resource. PrimaryKey and SecondaryKey cannot be regenerated at the same time.",
        "operationId": "WebPubSub_RegenerateKey",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter that describes the Regenerate Key Operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyParameters"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and an async operation is executing in background to make the new key to take effect. The response contains new access keys and a Location header to query the async operation result.",
            "schema": {
              "$ref": "#/definitions/WebPubSubKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "WebPubSub_RegenerateKey": {
            "$ref": "./examples/WebPubSub_RegenerateKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/restart": {
      "post": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Operation to restart a resource.",
        "operationId": "WebPubSub_Restart",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The response indicates the restart operation is performed in the background."
          },
          "204": {
            "description": "Success. The response indicates the operation is successful and no content will be returned."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "WebPubSub_Restart": {
            "$ref": "./examples/WebPubSub_Restart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/sharedPrivateLinkResources": {
      "get": {
        "tags": [
          "WebPubSub"
        ],
        "description": "List shared private link resources",
        "operationId": "WebPubSubSharedPrivateLinkResources_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a list of shared private link resources.",
            "schema": {
              "$ref": "#/definitions/SharedPrivateLinkResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "WebPubSubSharedPrivateLinkResources_List": {
            "$ref": "./examples/WebPubSubSharedPrivateLinkResources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}": {
      "get": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Get the specified shared private link resource",
        "operationId": "WebPubSubSharedPrivateLinkResources_Get",
        "parameters": [
          {
            "name": "sharedPrivateLinkResourceName",
            "in": "path",
            "description": "The name of the shared private link resource",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a shared private link resource.",
            "schema": {
              "$ref": "#/definitions/SharedPrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WebPubSubSharedPrivateLinkResources_Get": {
            "$ref": "./examples/WebPubSubSharedPrivateLinkResources_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Create or update a shared private link resource",
        "operationId": "WebPubSubSharedPrivateLinkResources_CreateOrUpdate",
        "parameters": [
          {
            "name": "sharedPrivateLinkResourceName",
            "in": "path",
            "description": "The name of the shared private link resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The shared private link resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedPrivateLinkResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The response indicates the shared private link resource is updated.",
            "schema": {
              "$ref": "#/definitions/SharedPrivateLinkResource"
            }
          },
          "201": {
            "description": "Created. The response indicates the shared private link resource is created.",
            "schema": {
              "$ref": "#/definitions/SharedPrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WebPubSubSharedPrivateLinkResources_CreateOrUpdate": {
            "$ref": "./examples/WebPubSubSharedPrivateLinkResources_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "WebPubSub"
        ],
        "description": "Delete the specified shared private link resource",
        "operationId": "WebPubSubSharedPrivateLinkResources_Delete",
        "parameters": [
          {
            "name": "sharedPrivateLinkResourceName",
            "in": "path",
            "description": "The name of the shared private link resource",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is already deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background."
          },
          "204": {
            "description": "Success. The response indicates the private endpoint connection is already deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "WebPubSubSharedPrivateLinkResources_Delete": {
            "$ref": "./examples/WebPubSubSharedPrivateLinkResources_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ACLAction": {
      "description": "Default action when no other rule matches",
      "enum": [
        "Allow",
        "Deny"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ACLAction",
        "modelAsString": true
      }
    },
    "DiagnosticConfiguration": {
      "description": "Diagnostic configuration of a Microsoft.SignalRService resource. Used together with Azure monitor DiagnosticSettings.",
      "type": "object",
      "properties": {
        "enableConnectivityLogs": {
          "description": "Indicate whether or not enable Connectivity logs.\r\nAvailable values: Enabled, Disabled.\r\nCase insensitive.",
          "type": "string"
        },
        "enableMessagingLogs": {
          "description": "Indicate whether or not enable Messaging logs.\r\nAvailable values: Enabled, Disabled.\r\nCase insensitive.",
          "type": "string"
        },
        "enableLiveTrace": {
          "description": "Indicate whether or not enable Live Trace. \r\nAvailable values: Enabled, Disabled. \r\nCase insensitive. \r\nLive Trace allows you to know what's happening inside Azure SignalR service, it will give you live traces in real time, it will be helpful when you developing your own Azure SignalR based web application or self-troubleshooting some issues.",
          "type": "string"
        }
      }
    },
    "Dimension": {
      "description": "Specifications of the Dimension of metrics.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The public facing name of the dimension.",
          "type": "string"
        },
        "displayName": {
          "description": "Localized friendly display name of the dimension.",
          "type": "string"
        },
        "internalName": {
          "description": "Name of the dimension as it appears in MDM.",
          "type": "string"
        },
        "toBeExportedForShoebox": {
          "description": "A Boolean flag indicating whether this dimension should be included for the shoebox export scenario.",
          "type": "boolean"
        }
      }
    },
    "EventHandlerSettings": {
      "description": "The settings for event handler in webpubsub service",
      "type": "object",
      "properties": {
        "items": {
          "description": "Get or set the EventHandler items. The key is the hub name and the value is the corresponding EventHandlerTemplate.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/EventHandlerTemplate"
            }
          }
        }
      }
    },
    "EventHandlerTemplate": {
      "description": "EventHandler template item settings.",
      "required": [
        "urlTemplate"
      ],
      "type": "object",
      "properties": {
        "urlTemplate": {
          "description": "Gets or sets the EventHandler URL template. You can use a predefined parameter {hub} and {event} inside the template, the value of the EventHandler URL is dynamically calculated when the client request comes in.\r\nFor example, UrlTemplate can be `http://example.com/api/{hub}/{event}`. The host part can't contains parameters.",
          "type": "string"
        },
        "userEventPattern": {
          "description": "Gets or sets the matching pattern for event names.\r\nThere are 3 kind of patterns supported:\r\n    1. \"*\", it to matches any event name\r\n    2. Combine multiple events with \",\", for example \"event1,event2\", it matches event \"event1\" and \"event2\"\r\n    3. The single event name, for example, \"event1\", it matches \"event1\"",
          "type": "string"
        },
        "systemEventPattern": {
          "description": "Gets ot sets the system event pattern.\r\nThere are 2 kind of patterns supported:\r\n    1. The single event name, for example, \"connect\", it matches \"connect\"\r\n    2. Combine multiple events with \",\", for example \"connect,disconnected\", it matches event \"connect\" and \"disconnected\"",
          "type": "string"
        },
        "auth": {
          "$ref": "#/definitions/UpstreamAuthSettings",
          "description": "Gets or sets the auth settings for an event handler. If not set, no auth is used."
        }
      }
    },
    "KeyType": {
      "description": "The keyType to regenerate. Must be either 'primary' or 'secondary'(case-insensitive).",
      "enum": [
        "Primary",
        "Secondary"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "KeyType",
        "modelAsString": true
      }
    },
    "LogSpecification": {
      "description": "Specifications of the Logs for Azure Monitoring.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the log.",
          "type": "string"
        },
        "displayName": {
          "description": "Localized friendly display name of the log.",
          "type": "string"
        }
      }
    },
    "ManagedIdentity": {
      "description": "A class represent managed identities used for request and response",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/ManagedIdentityType",
          "description": "Represent the identity type: systemAssigned, userAssigned, None"
        },
        "userAssignedIdentities": {
          "description": "Get or set the user assigned identities",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/UserAssignedIdentityProperty"
          }
        },
        "principalId": {
          "description": "Get the principal id for the system assigned identity.\r\nOnly be used in response.",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "Get the tenant id for the system assigned identity.\r\nOnly be used in response",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ManagedIdentitySettings": {
      "description": "Managed identity settings for upstream.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "The Resource indicating the App ID URI of the target resource.\r\nIt also appears in the aud (audience) claim of the issued token.",
          "type": "string"
        }
      }
    },
    "ManagedIdentityType": {
      "description": "Represent the identity type: systemAssigned, userAssigned, None",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true
      }
    },
    "MetricSpecification": {
      "description": "Specifications of the Metrics for Azure Monitoring.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the metric.",
          "type": "string"
        },
        "displayName": {
          "description": "Localized friendly display name of the metric.",
          "type": "string"
        },
        "displayDescription": {
          "description": "Localized friendly description of the metric.",
          "type": "string"
        },
        "unit": {
          "description": "The unit that makes sense for the metric.",
          "type": "string"
        },
        "aggregationType": {
          "description": "Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count.",
          "type": "string"
        },
        "fillGapWithZero": {
          "description": "Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published. \r\nEx. a metric that returns the number of times a particular error code was emitted. The error code may not appear \r\noften, instead of the RP publishing 0, Shoebox can auto fill in 0s for time periods where nothing was emitted.",
          "type": "string"
        },
        "category": {
          "description": "The name of the metric category that the metric belongs to. A metric can only belong to a single category.",
          "type": "string"
        },
        "dimensions": {
          "description": "The dimensions of the metrics.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dimension"
          }
        }
      }
    },
    "NameAvailability": {
      "description": "Result of the request to check name availability. It contains a flag and possible reason of failure.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "Indicates whether the name is available or not.",
          "type": "boolean"
        },
        "reason": {
          "description": "The reason of the availability. Required if name is not available.",
          "type": "string"
        },
        "message": {
          "description": "The message of the operation.",
          "type": "string"
        }
      }
    },
    "NameAvailabilityParameters": {
      "description": "Data POST-ed to the nameAvailability action",
      "required": [
        "type",
        "name"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "The resource type. Can be \"Microsoft.SignalRService/SignalR\" or \"Microsoft.SignalRService/webPubSub\"",
          "type": "string"
        },
        "name": {
          "description": "The resource name to validate. e.g.\"my-resource-name\"",
          "type": "string"
        }
      }
    },
    "NetworkACL": {
      "description": "Network ACL",
      "type": "object",
      "properties": {
        "allow": {
          "description": "Allowed request types. The value can be one or more of: ClientConnection, ServerConnection, RESTAPI.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebPubSubRequestType"
          }
        },
        "deny": {
          "description": "Denied request types. The value can be one or more of: ClientConnection, ServerConnection, RESTAPI.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebPubSubRequestType"
          }
        }
      }
    },
    "Operation": {
      "description": "REST API operation supported by resource provider.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation with format: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "isDataAction": {
          "description": "If the operation is a data action. (for data plane rbac)",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "The object that describes the operation."
        },
        "origin": {
          "description": "Optional. The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX.",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/OperationProperties",
          "description": "Extra properties for the operation.",
          "x-ms-client-flatten": false
        }
      }
    },
    "OperationDisplay": {
      "description": "The object that describes a operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Friendly name of the resource provider",
          "type": "string"
        },
        "resource": {
          "description": "Resource type on which the operation is performed.",
          "type": "string"
        },
        "operation": {
          "description": "The localized friendly name for the operation.",
          "type": "string"
        },
        "description": {
          "description": "The localized friendly description for the operation",
          "type": "string"
        }
      }
    },
    "OperationList": {
      "description": "Result of the request to list REST API operations. It contains a list of operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of operations supported by the resource provider.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "OperationProperties": {
      "description": "Extra Operation properties.",
      "type": "object",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "The service specifications."
        }
      }
    },
    "PrivateEndpoint": {
      "description": "Private endpoint",
      "type": "object",
      "properties": {
        "id": {
          "description": "Full qualified Id of the private endpoint",
          "type": "string"
        }
      }
    },
    "PrivateEndpointACL": {
      "description": "ACL for a private endpoint",
      "required": [
        "name"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/NetworkACL"
        }
      ],
      "properties": {
        "name": {
          "description": "Name of the private endpoint connection",
          "type": "string"
        }
      }
    },
    "PrivateEndpointConnection": {
      "description": "A private endpoint connection to an azure resource",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "Properties of the private endpoint connection",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateEndpointConnectionList": {
      "description": "A list of private endpoint connections",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of the private endpoint connections",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "nextLink": {
          "description": "Request URL that can be used to query next page of private endpoint connections. Returned when the total number of requested private endpoint connections exceed maximum page size.",
          "type": "string"
        }
      }
    },
    "PrivateEndpointConnectionProperties": {
      "description": "Private endpoint connection properties",
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the private endpoint connection",
          "readOnly": true
        },
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "Private endpoint associated with the private endpoint connection"
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "Connection state"
        }
      }
    },
    "PrivateLinkResource": {
      "description": "Private link resource",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties",
          "description": "Properties of a private link resource",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateLinkResourceList": {
      "description": "Contains a list of PrivateLinkResource and a possible link to query more results",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of PrivateLinkResource",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "PrivateLinkResourceProperties": {
      "description": "Private link resource properties",
      "type": "object",
      "properties": {
        "groupId": {
          "description": "Group Id of the private link resource",
          "type": "string"
        },
        "requiredMembers": {
          "description": "Required members of the private link resource",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requiredZoneNames": {
          "description": "Required private DNS zone names",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "shareablePrivateLinkResourceTypes": {
          "description": "The list of resources that are onboarded to private link service",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShareablePrivateLinkResourceType"
          }
        }
      }
    },
    "PrivateLinkServiceConnectionState": {
      "description": "Connection state of the private endpoint connection",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionStatus",
          "description": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
        },
        "description": {
          "description": "The reason for approval/rejection of the connection.",
          "type": "string"
        },
        "actionsRequired": {
          "description": "A message indicating if changes on the service provider require any updates on the consumer.",
          "type": "string"
        }
      }
    },
    "PrivateLinkServiceConnectionStatus": {
      "description": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service.",
      "enum": [
        "Pending",
        "Approved",
        "Rejected",
        "Disconnected"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "PrivateLinkServiceConnectionStatus",
        "modelAsString": true
      }
    },
    "ProvisioningState": {
      "description": "Provisioning state of the resource.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Failed",
        "Canceled",
        "Running",
        "Creating",
        "Updating",
        "Deleting",
        "Moving"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "RegenerateKeyParameters": {
      "description": "Parameters describes the request to regenerate access keys",
      "type": "object",
      "properties": {
        "keyType": {
          "$ref": "#/definitions/KeyType",
          "description": "The keyType to regenerate. Must be either 'primary' or 'secondary'(case-insensitive)."
        }
      }
    },
    "Resource": {
      "description": "The core properties of ARM resources.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Fully qualified resource Id for the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource - e.g. \"Microsoft.SignalRService/SignalR\"",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "ResourceSku": {
      "description": "The billing information of the resource.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the SKU. Required.\r\n\r\nAllowed values: Standard_S1, Free_F1",
          "type": "string"
        },
        "tier": {
          "$ref": "#/definitions/WebPubSubSkuTier",
          "description": "Optional tier of this particular SKU. 'Standard' or 'Free'. \r\n\r\n`Basic` is deprecated, use `Standard` instead."
        },
        "size": {
          "description": "Not used. Retained for future use.",
          "type": "string",
          "readOnly": true
        },
        "family": {
          "description": "Not used. Retained for future use.",
          "type": "string",
          "readOnly": true
        },
        "capacity": {
          "format": "int32",
          "description": "Optional, integer. The unit count of the resource. 1 by default.\r\n\r\nIf present, following values are allowed:\r\n    Free: 1\r\n    Standard: 1,2,5,10,20,50,100",
          "type": "integer"
        }
      }
    },
    "ServiceSpecification": {
      "description": "An object that describes a specification.",
      "type": "object",
      "properties": {
        "metricSpecifications": {
          "description": "Specifications of the Metrics for Azure Monitoring.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSpecification"
          }
        },
        "logSpecifications": {
          "description": "Specifications of the Logs for Azure Monitoring.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogSpecification"
          }
        }
      }
    },
    "ShareablePrivateLinkResourceProperties": {
      "description": "Describes the properties of a resource type that has been onboarded to private link service",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the resource type that has been onboarded to private link service",
          "type": "string"
        },
        "groupId": {
          "description": "The resource provider group id for the resource that has been onboarded to private link service",
          "type": "string"
        },
        "type": {
          "description": "The resource provider type for the resource that has been onboarded to private link service",
          "type": "string"
        }
      }
    },
    "ShareablePrivateLinkResourceType": {
      "description": "Describes a  resource type that has been onboarded to private link service",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the resource type that has been onboarded to private link service",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/ShareablePrivateLinkResourceProperties",
          "description": "Describes the properties of a resource type that has been onboarded to private link service"
        }
      }
    },
    "SharedPrivateLinkResource": {
      "description": "Describes a Shared Private Link Resource",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/SharedPrivateLinkResourceProperties",
          "description": "Describes the properties of a Shared Private Link Resource",
          "x-ms-client-flatten": true
        }
      }
    },
    "SharedPrivateLinkResourceList": {
      "description": "A list of shared private link resources",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of the shared private link resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedPrivateLinkResource"
          }
        },
        "nextLink": {
          "description": "Request URL that can be used to query next page of private endpoint connections. Returned when the total number of requested private endpoint connections exceed maximum page size.",
          "type": "string"
        }
      }
    },
    "SharedPrivateLinkResourceProperties": {
      "description": "Describes the properties of an existing Shared Private Link Resource",
      "required": [
        "groupId",
        "privateLinkResourceId"
      ],
      "type": "object",
      "properties": {
        "groupId": {
          "description": "The group id from the provider of resource the shared private link resource is for",
          "type": "string"
        },
        "privateLinkResourceId": {
          "description": "The resource id of the resource the shared private link resource is for",
          "type": "string"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the shared private link resource",
          "readOnly": true
        },
        "requestMessage": {
          "description": "The request message for requesting approval of the shared private link resource",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/SharedPrivateLinkResourceStatus",
          "description": "Status of the shared private link resource",
          "readOnly": true
        }
      }
    },
    "SharedPrivateLinkResourceStatus": {
      "description": "Status of the shared private link resource",
      "enum": [
        "Pending",
        "Approved",
        "Rejected",
        "Disconnected",
        "Timeout"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SharedPrivateLinkResourceStatus",
        "modelAsString": true
      }
    },
    "SignalRServiceUsage": {
      "description": "Object that describes a specific usage of the resources.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Fully qualified ARM resource id",
          "type": "string"
        },
        "currentValue": {
          "format": "int64",
          "description": "Current value for the usage quota.",
          "type": "integer"
        },
        "limit": {
          "format": "int64",
          "description": "The maximum permitted value for the usage quota. If there is no limit, this value will be -1.",
          "type": "integer"
        },
        "name": {
          "$ref": "#/definitions/SignalRServiceUsageName",
          "description": "Localizable String object containing the name and a localized value."
        },
        "unit": {
          "description": "Representing the units of the usage quota. Possible values are: Count, Bytes, Seconds, Percent, CountPerSecond, BytesPerSecond.",
          "type": "string"
        }
      }
    },
    "SignalRServiceUsageList": {
      "description": "Object that includes an array of the resource usages and a possible link for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of the resource usages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SignalRServiceUsage"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "SignalRServiceUsageName": {
      "description": "Localizable String object containing the name and a localized value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The identifier of the usage.",
          "type": "string"
        },
        "localizedValue": {
          "description": "Localized name of the usage.",
          "type": "string"
        }
      }
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "location": {
          "description": "The GEO location of the resource. e.g. West US | East US | North Central US | South Central US.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "description": "Tags of the service which is a list of key value pairs that describe the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpstreamAuthSettings": {
      "description": "Upstream auth settings.",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/UpstreamAuthType",
          "description": "Gets or sets the type of auth. None or ManagedIdentity is supported now."
        },
        "managedIdentity": {
          "$ref": "#/definitions/ManagedIdentitySettings",
          "description": "Gets or sets the managed identity settings. It's required if the auth type is set to ManagedIdentity."
        }
      }
    },
    "UpstreamAuthType": {
      "description": "Gets or sets the type of auth. None or ManagedIdentity is supported now.",
      "enum": [
        "None",
        "ManagedIdentity"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "UpstreamAuthType",
        "modelAsString": true
      }
    },
    "UserAssignedIdentityProperty": {
      "description": "Properties of user assigned identity.",
      "type": "object",
      "properties": {
        "principalId": {
          "description": "Get the principal id for the user assigned identity",
          "type": "string",
          "readOnly": true
        },
        "clientId": {
          "description": "Get the client id for the user assigned identity",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WebPubSubKeys": {
      "description": "A class represents the access keys of the resource.",
      "type": "object",
      "properties": {
        "primaryKey": {
          "description": "The primary access key.",
          "type": "string",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "secondaryKey": {
          "description": "The secondary access key.",
          "type": "string",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "primaryConnectionString": {
          "description": "Connection string constructed via the primaryKey",
          "type": "string",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "secondaryConnectionString": {
          "description": "Connection string constructed via the secondaryKey",
          "type": "string",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "create",
            "update"
          ]
        }
      }
    },
    "WebPubSubNetworkACLs": {
      "description": "Network ACLs for the resource",
      "type": "object",
      "properties": {
        "defaultAction": {
          "$ref": "#/definitions/ACLAction",
          "description": "Default action when no other rule matches",
          "default": "Deny"
        },
        "publicNetwork": {
          "$ref": "#/definitions/NetworkACL",
          "description": "ACL for requests from public network"
        },
        "privateEndpoints": {
          "description": "ACLs for requests from private endpoints",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointACL"
          }
        }
      }
    },
    "WebPubSubProperties": {
      "description": "A class that describes the properties of the resource",
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "externalIP": {
          "description": "The publicly accessible IP of the resource.",
          "type": "string",
          "readOnly": true
        },
        "hostName": {
          "description": "FQDN of the service instance.",
          "type": "string",
          "readOnly": true
        },
        "publicPort": {
          "format": "int32",
          "description": "The publicly accessible port of the resource which is designed for browser/client side usage.",
          "type": "integer",
          "readOnly": true
        },
        "serverPort": {
          "format": "int32",
          "description": "The publicly accessible port of the resource which is designed for customer server side usage.",
          "type": "integer",
          "readOnly": true
        },
        "version": {
          "description": "Version of the resource. Probably you need the same or higher version of client SDKs.",
          "type": "string",
          "readOnly": true
        },
        "privateEndpointConnections": {
          "description": "Private endpoint connections to the resource.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "sharedPrivateLinkResources": {
          "description": "The list of shared private link resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedPrivateLinkResource"
          },
          "readOnly": true
        },
        "tls": {
          "$ref": "#/definitions/WebPubSubTlsSettings",
          "description": "TLS settings."
        },
        "diagnosticConfiguration": {
          "$ref": "#/definitions/DiagnosticConfiguration",
          "description": "Diagnostic configuration of a Microsoft.SignalRService resource. Used together with Azure monitor DiagnosticSettings."
        },
        "eventHandler": {
          "$ref": "#/definitions/EventHandlerSettings",
          "description": "The settings for event handler in webpubsub service."
        },
        "networkACLs": {
          "$ref": "#/definitions/WebPubSubNetworkACLs",
          "description": "Network ACLs"
        },
        "publicNetworkAccess": {
          "description": "Enable or disable public network access. Default to \"Enabled\".\r\nWhen it's Enabled, network ACLs still apply.\r\nWhen it's Disabled, public network access is always disabled no matter what you set in network ACLs.",
          "default": "Enabled",
          "type": "string"
        },
        "disableLocalAuth": {
          "description": "DisableLocalAuth\r\nEnable or disable local auth with AccessKey\r\nWhen set as true, connection with AccessKey=xxx won't work.",
          "default": false,
          "type": "boolean"
        },
        "disableAadAuth": {
          "description": "DisableLocalAuth\r\nEnable or disable aad auth\r\nWhen set as true, connection with AuthType=aad won't work.",
          "default": false,
          "type": "boolean"
        }
      }
    },
    "WebPubSubRequestType": {
      "description": "Allowed request types. The value can be one or more of: ClientConnection, ServerConnection, RESTAPI.",
      "enum": [
        "ClientConnection",
        "ServerConnection",
        "RESTAPI",
        "Trace"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "WebPubSubRequestType",
        "modelAsString": true
      }
    },
    "WebPubSubResource": {
      "description": "A class represent a resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "sku": {
          "$ref": "#/definitions/ResourceSku",
          "description": "The billing information of the resource.(e.g. Free, Standard)"
        },
        "properties": {
          "$ref": "#/definitions/WebPubSubProperties",
          "description": "Settings used to provision or configure the resource",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/ManagedIdentity",
          "description": "The managed identity response"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "readOnly": true
        }
      }
    },
    "WebPubSubResourceList": {
      "description": "Object that includes an array of resources and a possible link for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of the resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebPubSubResource"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "WebPubSubSkuTier": {
      "description": "Optional tier of this particular SKU. 'Standard' or 'Free'. \r\n\r\n`Basic` is deprecated, use `Standard` instead.",
      "enum": [
        "Free",
        "Basic",
        "Standard",
        "Premium"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "WebPubSubSkuTier",
        "modelAsString": true
      }
    },
    "WebPubSubTlsSettings": {
      "description": "TLS settings for the resource",
      "type": "object",
      "properties": {
        "clientCertEnabled": {
          "default": true,
          "description": "Request client certificate during TLS handshake if enabled",
          "type": "boolean"
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceName": {
      "name": "resourceName",
      "in": "path",
      "description": "The name of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
