{
  "swagger": "2.0",
  "info": {
    "title": "ComputeManagementClient",
    "description": "The Compute Management Client.",
    "version": "2016-04-30-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/SoftwareUpdateDeployments/{softwareUpdateDeploymentName}": {
      "put": {
        "tags": [
          "SoftwareUpdateDeployments"
        ],
        "operationId": "SoftwareUpdateDeployments_CreateOrUpdate",
        "description": "Create or update an software Update Deployment.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "softwareUpdateDeploymentName",
            "x-ms-client-name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the software Update Deployment."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateDeployment"
            },
            "description": "Parameters supplied to the Create software Update Deployment operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateDeployment"
            }
          }
        },
        "x-ms-examples": {
          "Create a virtual machine image from a blob.": {
            "$ref": "./examples/CreateAnImageFromABlob.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SoftwareUpdateDeployments"
        ],
        "operationId": "SoftwareUpdateDeployments_Delete",
        "description": "Delete a software Update Deployment.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "softwareUpdateDeploymentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Software Update Deployment."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationStatusResponse"
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-examples": {
          "Create a virtual machine image from a blob.": {
            "$ref": "./examples/CreateAnImageFromABlob.json"
          }
        }
      },
      "get": {
        "tags": [
          "SoftwareUpdateDeployments"
        ],
        "operationId": "SoftwareUpdateDeployments_Get",
        "description": "Retrieves information about a software update deployment.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "softwareUpdateDeploymentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the availability set."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateDeployment"
            }
          }
        },
        "x-ms-examples": {
          "Create a virtual machine image from a blob.": {
            "$ref": "./examples/CreateAnImageFromABlob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/SoftwareUpdateDeployments": {
      "get": {
        "tags": [
          "SoftwareUpdateDeployments"
        ],
        "operationId": "SoftwareUpdateDeployments_List",
        "description": "Lists all software update deployments in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateDeploymentListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Create a virtual machine image from a blob.": {
            "$ref": "./examples/CreateAnImageFromABlob.json"
          }
        }
      }
    }
  },
  "definitions": {
    "InstanceViewStatus": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The status code."
        },
        "level": {
          "type": "string",
          "description": "The level code.",
          "enum": [
            "Info",
            "Warning",
            "Error"
          ],
          "x-ms-enum": {
            "name": "StatusLevelTypes",
            "modelAsString": false
          }
        },
        "displayStatus": {
          "type": "string",
          "description": "The short localizable label for the status."
        },
        "message": {
          "type": "string",
          "description": "The detailed status message, including for alerts and error messages."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "The time of the status."
        }
      },
      "description": "Instance view status."
    },
    "SoftwareUpdateDeploymentProperties": {
      "properties": {
        "windows": {
          "$ref": "#/definitions/WindowsUpdateConfiguration",
          "description": "Windows Update Configuration."
        },
        "linux": {
          "$ref": "#/definitions/LinuxUpdateConfiguration",
          "description": "Linux Update Configuration."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state, which only appears in the response."
        },
        "maximumDuration": {
          "readOnly": true,
          "type": "string",
          "format": "?????",
          "description": "Maximum Duration of the Maintenance Window"
        },
        "rebootSetting": {
          "type": "string",
          "description": "The detailed status message, including for alerts and error messages."
        },        
        "instanceView": {
          "$ref": "#/definitions/SoftwareUpdateDeploymentInstanceView",
          "readOnly": true,
          "description": "The virtual machine instance view."
        }      
      },
      "description": "The instance view of a resource."
    },
    "SoftwareUpdateDeployment":  {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SoftwareUpdateDeploymentProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Describes a Software Update Deployment."
    },
    "SoftwareUpdateDeploymentListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SoftwareUpdateDeployment"
          },
          "description": "The list of software update deployments"
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of SoftwareUpdateDeployments. Call ListNext() with this URI to fetch the next page of SoftwareUpdateDeployments."
        }
      },
      "required": [
        "value"
      ],
      "description": "The List Availability Set operation response."
    },
    "WindowsUpdateConfiguration": {
      "properties": {
        "includedUpdates": {
          "type": "array",
          "items": {
            "type": "string"
          }          
        },
        "excludedUpdates": {
          "type": "array",
          "items": {
            "type": "string"
          }          
        },
        "includedUpdateClassifications": {
          "type": "array",
          "items": {
            "type": "string"
          }          
      }
    },
      "description": "Specifies Windows operating system Update configuration on the virtual machine."
    },
    "LinuxUpdateConfiguration": {
      "properties": {
          "includedUpdates": {
            "type": "array",
            "items": {
              "type": "string"
            }          
          },
          "excludedUpdates": {
            "type": "array",
            "items": {
              "type": "string"
            }          
          },
          "includedUpdateClassifications": {
            "type": "array",
            "items": {
              "type": "string"
            }          
        }
      },
        "description": "Specifies Linux operating system Update configuration on the virtual machine."
      },
      "SoftwareUpdateDeploymentInstanceView": {
        "properties": {
          "statuses": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/definitions/InstanceViewStatus"
            },
            "description": "The resource status information."
          },
          "updates": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/definitions/"
            },
            "description": "The resource status information."
          },
          "rebootRequired": {
            "type": "boolean",
            "description": "Specifies whether reboot need to be done."
          },        
          "maintenanceWindowExceeded": {
            "type": "boolean",
            "description": "Specifies whether maintenance window exceeded."
          }
        },
        "description": "The instance view of a Software Update Deployment ."
      },    
      "UpdateResult": {
        "properties": {
          "updateId": {
            "type": "boolean",
            "description": "Specifies whether reboot need to be done."
          },        
          "updateState": {
            "type": "string",
            "description": "Specifies whether maintenance window exceeded."
          },
          "updateStateReason": {
            "type": "string",
            "description": "Specifies whether maintenance window exceeded."
          },
          "message": {
            "type": "string",
            "description": "Specifies whether maintenance window exceeded."
          },
          "classification": {
            "type": "string",
            "description": "Specifies whether maintenance window exceeded."
          },
          "title": {
            "type": "string",
            "description": "Specifies whether maintenance window exceeded."
          }
        },
        "description": "The instance view of a Software Update Deployment ."
      },  
    "WindowsConfiguration": {
      "properties":  {
        "provisionVMAgent": {
          "type": "boolean",
          "description": "Indicates whether virtual machine agent should be provisioned on the virtual machine. <br><br> When this property is not specified in the request body, default behavior is to set it to true.  This will ensure that VM Agent is installed on the VM so that extensions can be added to the VM later."
        },
        "enableAutomaticUpdates": {
          "type": "boolean",
          "description": "Indicates whether virtual machine is enabled for automatic updates."
        },
        "timeZone": {
          "type": "string",
          "description": "Specifies the time zone of the virtual machine. e.g. \"Pacific Standard Time\""
        },
        "additionalUnattendContent": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdditionalUnattendContent"
          },
          "description": "Specifies additional base-64 encoded XML formatted information that can be included in the Unattend.xml file, which is used by Windows Setup."
        },
        "winRM": {
          "$ref": "#/definitions/WinRMConfiguration",
          "description": "Specifies the Windows Remote Management listeners. This enables remote Windows PowerShell."
        }
      },
      "description": "Specifies Windows operating system settings on the virtual machine."
    },
    "LinuxConfiguration": {
      "properties": {
        "disablePasswordAuthentication": {
          "type": "boolean",
          "description": "Specifies whether password authentication should be disabled."
        },
        "ssh": {
          "$ref": "#/definitions/SshConfiguration",
          "description": "Specifies the ssh key configuration for a Linux OS."
        }
      },
      "description": "Specifies the Linux operating system settings on the virtual machine. <br><br>For a list of supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-endorsed-distros?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json) <br><br> For running non-endorsed distributions, see [Information for Non-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-create-upload-generic?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)."
    },
    "OSProfile": {
      "properties": {
        "computerName": {
          "type": "string",
          "description": "Specifies the host OS name of the virtual machine. <br><br> **Max-length (Windows):** 15 characters <br><br> **Max-length (Linux):** 64 characters. <br><br> For naming conventions and restrictions see [Azure infrastructure services implementation guidelines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-infrastructure-subscription-accounts-guidelines?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json#1-naming-conventions)."
        },
        "adminUsername": {
          "type": "string",
          "description": "Specifies the name of the administrator account. <br><br> **Windows-only restriction:** Cannot end in \".\" <br><br> **Disallowed values:** \"administrator\", \"admin\", \"user\", \"user1\", \"test\", \"user2\", \"test1\", \"user3\", \"admin1\", \"1\", \"123\", \"a\", \"actuser\", \"adm\", \"admin2\", \"aspnet\", \"backup\", \"console\", \"david\", \"guest\", \"john\", \"owner\", \"root\", \"server\", \"sql\", \"support\", \"support_388945a0\", \"sys\", \"test2\", \"test3\", \"user4\", \"user5\". <br><br> **Minimum-length (Linux):** 1  character <br><br> **Max-length (Linux):** 64 characters <br><br> **Max-length (Windows):** 20 characters  <br><br><li> For root access to the Linux VM, see [Using root privileges on Linux virtual machines in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-use-root-privileges?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)<br><li> For a list of built-in system users on Linux that should not be used in this field, see [Selecting User Names for Linux on Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-usernames?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)"
        },
        "adminPassword": {
          "type": "string",
          "description": "Specifies the password of the administrator account. <br><br> **Minimum-length (Windows):** 8 characters <br><br> **Minimum-length (Linux):** 6 characters <br><br> **Max-length (Windows):** 123 characters <br><br> **Max-length (Linux):** 72 characters <br><br> **Complexity requirements:** 3 out of 4 conditions below need to be fulfilled <br> Has lower characters <br>Has upper characters <br> Has a digit <br> Has a special character (Regex match [\\W_]) <br><br> **Disallowed values:** \"abc@123\", \"P@$$w0rd\", \"P@ssw0rd\", \"P@ssword123\", \"Pa$$word\", \"pass@word1\", \"Password!\", \"Password1\", \"Password22\", \"iloveyou!\" <br><br> For resetting the password, see [How to reset the Remote Desktop service or its login password in a Windows VM](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-reset-rdp?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json) <br><br> For resetting root password, see [Manage users, SSH, and check or repair disks on Azure Linux VMs using the VMAccess Extension](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-using-vmaccess-extension?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json#reset-root-password)"
        },
        "customData": {
          "type": "string",
          "description": "Specifies a base-64 encoded string of custom data. The base-64 encoded string is decoded to a binary array that is saved as a file on the Virtual Machine. The maximum length of the binary array is 65535 bytes. <br><br> For using cloud-init for your VM, see [Using cloud-init to customize a Linux VM during creation](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-using-cloud-init?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)"
        },
        "windowsConfiguration": {
          "$ref": "#/definitions/WindowsConfiguration",
          "description": "Specifies Windows operating system settings on the virtual machine."
        },
        "linuxConfiguration": {
          "$ref": "#/definitions/LinuxConfiguration",
          "description": "Specifies the Linux operating system settings on the virtual machine. <br><br>For a list of supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-endorsed-distros?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json) <br><br> For running non-endorsed distributions, see [Information for Non-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-create-upload-generic?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)."
        },
        "secrets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VaultSecretGroup"
          },
          "description": "Specifies set of certificates that should be installed onto the virtual machine."
        }
      },
      "description": "Specifies the operating system settings for the virtual machine."
    },
    "DiagnosticsProfile": {
      "properties": {
        "bootDiagnostics": {
          "$ref": "#/definitions/BootDiagnostics",
          "description": "Boot Diagnostics is a debugging feature which allows you to view Console Output and Screenshot to diagnose VM status. <br><br> You can easily view the output of your console log. <br><br> Azure also enables you to see a screenshot of the VM from the hypervisor."
        }
      },
      "description": "Specifies the boot diagnostic settings state. <br><br>Minimum api-version: 2015-06-15."
    },
   
    "VirtualMachineInstanceView": {
      "properties": {
        "platformUpdateDomain": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the update domain of the virtual machine."
        },
        "platformFaultDomain": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the fault domain of the virtual machine."
        },
        "rdpThumbPrint": {
          "type": "string",
          "description": "The Remote desktop certificate thumbprint."
        },
        "vmAgent": {
          "$ref": "#/definitions/VirtualMachineAgentInstanceView",
          "description": "The VM Agent running on the virtual machine."
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiskInstanceView"
          },
          "description": "The virtual machine disk information."
        },
        "extensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachineExtensionInstanceView"
          },
          "description": "The extensions information."
        },
        "bootDiagnostics": {
          "$ref": "#/definitions/BootDiagnosticsInstanceView",
          "description": "Boot Diagnostics is a debugging feature which allows you to view Console Output and Screenshot to diagnose VM status. <br><br> You can easily view the output of your console log. <br><br> Azure also enables you to see a screenshot of the VM from the hypervisor."
        },
        "statuses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstanceViewStatus"
          },
          "description": "The resource status information."
        }
      },
      "description": "The instance view of a virtual machine."
    },
    "VirtualMachineProperties": {
      "properties": {
        "hardwareProfile": {
          "$ref": "#/definitions/HardwareProfile",
          "description": "Specifies the hardware settings for the virtual machine."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Specifies the storage settings for the virtual machine disks."
        },
        "osProfile": {
          "$ref": "#/definitions/OSProfile",
          "description": "Specifies the operating system settings for the virtual machine."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "Specifies the network interfaces of the virtual machine."
        },
        "diagnosticsProfile": {
          "$ref": "#/definitions/DiagnosticsProfile",
          "description": "Specifies the boot diagnostic settings state. <br><br>Minimum api-version: 2015-06-15."
        },
        "availabilitySet": {
          "$ref": "#/definitions/SubResource",
          "description": "Specifies information about the availability set that the virtual machine should be assigned to. Virtual machines specified in the same availability set are allocated to different nodes to maximize availability. For more information about availability sets, see [Manage the availability of virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-manage-availability?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json). <br><br> For more information on Azure planned maintainance, see [Planned maintenance for virtual machines in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-planned-maintenance?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json) <br><br> Currently, a VM can only be added to availability set at creation time. An existing VM cannot be added to an availability set."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state, which only appears in the response."
        },
        "instanceView": {
          "$ref": "#/definitions/VirtualMachineInstanceView",
          "readOnly": true,
          "description": "The virtual machine instance view."
        },
        "licenseType": {
          "type": "string",
          "description": "Specifies that the image or disk that is being used was licensed on-premises. This element is only used for images that contain the Windows Server operating system. <br><br> Possible values are: <br><br> Windows_Client <br><br> Windows_Server <br><br> If this element is included in a request for an update, the value must match the initial value. This value cannot be updated. <br><br> For more information, see [Azure Hybrid Use Benefit for Windows Server](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-hybrid-use-benefit-licensing?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json) <br><br> Minimum api-version: 2015-06-15"
        },
        "vmId": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the VM unique ID which is a 128-bits identifier that is encoded and stored in all Azure IaaS VMs SMBIOS and can be read using platform BIOS commands."
        }
      },
      "description": "Describes the properties of a Virtual Machine."
    },   
    "UpdateResource": {
      "description": "The Update Resource model definition.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "x-ms-azure-resource": true
    },
    "SubResourceReadOnly": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        }
      },
      "x-ms-azure-resource": true
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "OperationStatusResponse": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation ID"
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Operation status"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Start time of the operation"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "End time of the operation"
        },
        "error": {
          "readOnly": true,
          "$ref": "#/definitions/ApiError",
          "description": "Api error"
        }
      },
      "description": "Operation status response"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}