{
  "swagger": "2.0",

  "info": {
    "title": "Update Management API",
    "description": "APIs for managing software update configurations.",
    "contact": {
      "name": "Mohamed Enein"
    },
    "version": "2017-05-15-preview"
  },

  "consumes": [ "application/json" ],

  "produces": [ "application/json" ],

  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "description": "subscription id for tenant issuing the request.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "description": "The name of the resource group within user's subscription.",
      "type": "string",
      "required": true,
      "in": "path"
    },
    "automationAccountName": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    },
    "softwareUpdateConfigurationName": {
      "name": "softwareUpdateConfigurationName",
      "description": "The name of the software update configuration to be created.",
      "type": "string",
      "required": true,
      "in": "path"
    },
    "softwareUpdateConfigurationRunId": {
      "name": "softwareUpdateConfigurationRunId",
      "description": "The Id of the software update configuration run.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    },
    "softwareUpdateConfigurationMachineRunId": {
      "name": "softwareUpdateConfigurationMachineRunId",
      "description": "The Id of the software update configuration machine run.",
      "type": "string",
      "required": true,
      "in": "path",
      "format": "uuid"
    },
    "apiVersion": {
      "name": "api-version",
      "description": "The API version.",
      "type": "string",
      "required": true,
      "in": "query"
    },
    "clientRequestId": {
      "name": "clientRequestId",
      "description": "Identifies this specific client request.",
      "type": "string",
      "required": false,
      "in": "header"
    }
  },

  "schemes": [ "https" ],

  "host": "management.azure.com",

  "basePath": "/",

  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },

  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations/{softwareUpdateConfigurationName}": {
      "parameters": [
        {
          "$ref": "#/parameters/subscriptionId"
        },
        {
          "$ref": "#/parameters/resourceGroupName"
        },
        {
          "$ref": "#/parameters/automationAccountName"
        },
        {
          "$ref": "#/parameters/softwareUpdateConfigurationName"
        },
        {
          "$ref": "#/parameters/apiVersion"
        },
        {
          "$ref": "#/parameters/clientRequestId"
        }
      ],

      "put": {
        "tags": [ "Software Update Configuration" ],
        "description": "Create a new software update configuration with the name given in the URI.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "x-ms-examples": {
          "Create software update configuration": { "$ref": "./examples/createSoftwareUpdateConfiguration.json" }
        },
        "operationId": "softwareUpdateConfigurations_Create",
        "parameters": [
          {
            "name": "parameters",
            "description": "Request body.",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/updateConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Software update configuration with the same name and properties already exists.",
            "schema": {
              "$ref": "#/definitions/updateConfiguration"
            }
          },
          "201": {
            "description": "Software update configuration is created.",
            "schema": {
              "$ref": "#/definitions/updateConfiguration"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Resource group or automation account does not exist."
          },
          "409": {
            "description": "A software update configuration with different properties and the same name already exist."
          }
        }
      },


      "get": {
        "tags": [ "Software Update Configuration" ],
        "description": "Get a single software update configuration by name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "x-ms-examples": {
          "Get software update configuration by name": { "$ref": "./examples/listSoftwareUpdateConfigurationByName.json" }
        },
        "operationId": "softwareUpdateConfigurations_GetByName",
        "responses": {
          "200": {
            "description": "A single software update configuration.",
            "schema": {
              "$ref": "#/definitions/updateConfiguration"
            }
          },
          "400": {
            "description": "Request validation failed."
          },
          "404": {
            "description": "Resource group, account, or software update configuration doesn't exist."
          }
        }
      },

      "delete": {
        "tags": [ "Software Update Configuration" ],
        "description": "delete a specific software update configuration.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "x-ms-examples": {
          "Delete software update configuration": { "$ref": "./examples/deleteSoftwareUpdateConfiguration.json" }
        },
        "operationId": "softwareUpdateConfigurations_Delete",
        "responses": {
          "200": {
            "description": "The software update configuration has been deleted."
          },
          "204": {
            "description": "The software update configuration does not exist."
          },
          "400": {
            "description": "Request validation failed."
          },
          "404": {
            "description": "Resource group, account, or software update configuration doesn't exist."
          }
        }
      }
    },

    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations": {
      "parameters": [
        {
          "$ref": "#/parameters/subscriptionId"
        },
        {
          "$ref": "#/parameters/resourceGroupName"
        },
        {
          "$ref": "#/parameters/automationAccountName"
        },
        {
          "$ref": "#/parameters/apiVersion"
        },
        {
          "$ref": "#/parameters/clientRequestId"
        }
      ],


      "get": {
        "tags": [ "Software Update Configuration" ],
        "description": "Get all software update configurations for the account.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "x-ms-examples": {
          "List software update configurations": { "$ref": "./examples/listSoftwareUpdateConfigurations.json" },
          "List software update configurations Targeting a specific azure virtual machine": { "$ref": "./examples/listSoftwareUpdateConfigurationsByVm.json" }
        },
        "operationId": "softwareUpdateConfigurations_List",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Return list of software update configurations.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/updateConfigurationCollectionItem"
              }
            }
          },
          "204": {
            "description": "No software update configuration exist for this account."
          },
          "400": {
            "description": "Request validation failed."
          },
          "404": {
            "description": "Resource group, or account doesn't exist."
          }
        }
      }
    }
  }  
}
