{
    "swagger": "2.0",
    "info": {
        "description": "Network admin operation endpoints and objects.",
        "title": "NetworkAdminManagementClient",
        "version": "2015-06-15"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminOverview": {
            "get": {
                "x-ms-examples": {
                    "Get overview of the state of the network resource provider": {
                        "$ref": "./examples/ResourceProviderState/Get.json"
                    }
                },
                "tags": [
                    "Network"
                ],
                "description": "Get an overview of the state of the network resource provider.",
                "operationId": "ResourceProviderState_Get",
                "parameters": [
                    {
                        "$ref": "Network.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AdminOverview"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Resource": {
            "description": "Base Resource Object",
            "type": "object",
            "properties": {
                "id": {
                    "description": "URI of the resource.",
                    "type": "string",
                    "readOnly": true
                },
                "name": {
                    "description": "Name of the resource.",
                    "type": "string",
                    "readOnly": true
                },
                "type": {
                    "description": "Type of resource.",
                    "type": "string",
                    "readOnly": true
                },
                "location": {
                    "description": "Region location of resource.",
                    "type": "string",
                    "readOnly": true
                },
                "tags": {
                    "description": "List of key value pairs.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            },
            "x-ms-azure-resource": true
        },
        "ProvisionedResource": {
            "description": "Objects which have a provisioning state.",
            "type": "object",
            "properties": {
                "provisioningState": {
                    "description": "The provisioning state.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "TenantResource": {
            "description": "These resources are utilized by a single tenant.",
            "type": "object",
            "properties": {
                "subscriptionId": {
                    "description": "The subscription ID.",
                    "type": "string",
                    "readOnly": true
                },
                "tenantResourceUri": {
                    "description": "The tenant resource URI.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "AdminOverview": {
            "description": "Admin overview resource object.",
            "properties": {
                "properties": {
                    "description": "Admin overview properties.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/AdminOverviewProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "AdminOverviewProperties": {
            "description": "Admin overview properties.",
            "properties": {
                "provisioningState": {
                    "description": "The provisioning state.",
                    "type": "string",
                    "readOnly": true
                },
                "virtualNetworkHealth": {
                    "description": "Health for all virtual networks as reported by the NC.",
                    "$ref": "#/definitions/AdminOverviewResourceHealth"
                },
                "loadBalancerMuxHealth": {
                    "description": "Health for all LB MUXes as reported by the NC.",
                    "$ref": "#/definitions/AdminOverviewResourceHealth"
                },
                "virtualGatewayHealth": {
                    "description": "Health for all gateways as reported by the NC.",
                    "$ref": "#/definitions/AdminOverviewResourceHealth"
                },
                "publicIpAddressUsage": {
                    "description": "Total Public IP usage as reported by the NC.",
                    "$ref": "#/definitions/AdminOverviewResourceUsage"
                },
                "backendIpUsage": {
                    "description": "Total Backend IP usage as reported by the NC.",
                    "$ref": "#/definitions/AdminOverviewResourceUsage"
                },
                "macAddressUsage": {
                    "description": "Total MAC address usage as reported by the NC.",
                    "$ref": "#/definitions/AdminOverviewResourceUsage"
                }
            }
        },
        "AdminOverviewResourceHealth": {
            "description": "Resource health information.",
            "properties": {
                "totalResourceCount": {
                    "description": "Total number of resources.",
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                },
                "healthyResourceCount": {
                    "description": "Number of resources in the success state.",
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                },
                "errorResourceCount": {
                    "description": "Number of resources in the error state.",
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                },
                "warningResourceCount": {
                    "description": "Number of resources in the warning state.",
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                },
                "healthUnknownCount": {
                    "description": "Number of resources in an unknown state.",
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                }
            }
        },
        "AdminOverviewResourceUsage": {
            "description": "Resource usage information.",
            "properties": {
                "totalResourceCount": {
                    "description": "Total number of resources.",
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                },
                "inUseResourceCount": {
                    "description": "Number of resources in use.",
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "description": "Client API Version.",
            "required": true,
            "type": "string",
            "default": "2015-06-15"
        },
        "LocationParameter": {
            "description": "Location of the resource.",
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "ResourceNameParameter": {
            "description": "Name of the resource.",
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "FilterParameter": {
            "description": "OData filter parameter.",
            "name": "$filter",
            "in": "query",
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "OrderByParameter": {
            "description": "OData orderBy parameter.",
            "name": "$orderBy",
            "in": "query",
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "TopParameter": {
            "description": "OData top parameter.",
            "name": "$top",
            "in": "query",
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "SkipParameter": {
            "description": "OData skip parameter.",
            "name": "$skip",
            "in": "query",
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "InlineCountParameter": {
            "description": "OData inline count parameter.",
            "name": "$inlineCount",
            "in": "query",
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 flow.",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}
