{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2023-03-03",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AssessmentProjectsOperations"
    },
    {
      "name": "AssessmentProjectSummaryOperations"
    },
    {
      "name": "MachinesOperations"
    },
    {
      "name": "GroupsOperations"
    },
    {
      "name": "AssessmentsOperations"
    },
    {
      "name": "AssessmentOptionsOperations"
    },
    {
      "name": "AssessedMachinesOperations"
    },
    {
      "name": "HypervCollectorsOperations"
    },
    {
      "name": "VmwareCollectorsOperations"
    },
    {
      "name": "ServerCollectorsOperations"
    },
    {
      "name": "ImportCollectorsOperations"
    },
    {
      "name": "PrivateEndpointConnectionOperations"
    },
    {
      "name": "PrivateLinkResourceOperations"
    },
    {
      "name": "AvsAssessmentsOperations"
    },
    {
      "name": "AvsAssessmentOptionsOperations"
    },
    {
      "name": "AvsAssessedMachinesOperations"
    },
    {
      "name": "SqlAssessmentV2SummaryOperations"
    },
    {
      "name": "SqlAssessmentV2Operations"
    },
    {
      "name": "SqlAssessmentOptionsOperations"
    },
    {
      "name": "AssessedSqlMachinesOperations"
    },
    {
      "name": "AssessedSqlRecommendedEntityOperations"
    },
    {
      "name": "AssessedSqlInstanceV2Operations"
    },
    {
      "name": "AssessedSqlDatabaseV2Operations"
    },
    {
      "name": "SqlCollectorOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/assessmentProjects": {
      "get": {
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "operationId": "AssessmentProjectsOperations_ListBySubscription",
        "description": "List AssessmentProject resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_ListBySubscription_MaximumSet_Gen.json"
          },
          "AssessmentProjectsOperations_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}": {
      "get": {
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "operationId": "AssessmentProjectsOperations_Get",
        "description": "Get a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Get_MaximumSet_Gen.json"
          },
          "AssessmentProjectsOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "operationId": "AssessmentProjectsOperations_Create",
        "description": "Create a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AssessmentProjectsOperations_Create_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Create_MaximumSet_Gen.json"
          },
          "AssessmentProjectsOperations_Create_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Create_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "operationId": "AssessmentProjectsOperations_Update",
        "description": "Update a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AssessmentProjectsOperations_Update_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Update_MaximumSet_Gen.json"
          },
          "AssessmentProjectsOperations_Update_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "operationId": "AssessmentProjectsOperations_Delete",
        "description": "Delete a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AssessmentProjectsOperations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Delete_MaximumSet_Gen.json"
          },
          "AssessmentProjectsOperations_Delete_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions": {
      "get": {
        "tags": [
          "AssessmentOptionsOperations"
        ],
        "operationId": "AssessmentOptionsOperations_ListByAssessmentProject",
        "description": "List AssessmentOptions resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentOptionsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessmentOptionsOperations_ListByAssessmentProject_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentOptionsOperations_ListByAssessmentProject_MaximumSet_Gen.json"
          },
          "AssessmentOptionsOperations_ListByAssessmentProject_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentOptionsOperations_ListByAssessmentProject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions/{assessmentOptionsName}": {
      "get": {
        "tags": [
          "AssessmentOptionsOperations"
        ],
        "operationId": "AssessmentOptionsOperations_Get",
        "description": "Get a AssessmentOptions",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "assessmentOptionsName",
            "in": "path",
            "required": true,
            "description": " assessment options ARM name. Accepted value is 'default'",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentOptions"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentOptionsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentOptionsOperations_Get_MaximumSet_Gen.json"
          },
          "AssessmentOptionsOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentOptionsOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/avsAssessmentOptions": {
      "get": {
        "tags": [
          "AvsAssessmentOptionsOperations"
        ],
        "operationId": "AvsAssessmentOptionsOperations_ListByAssessmentProject",
        "description": "List AvsAssessmentOptions resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessmentOptionsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AvsAssessmentOptionsOperations_ListByAssessmentProject_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentOptionsOperations_ListByAssessmentProject_MaximumSet_Gen.json"
          },
          "AvsAssessmentOptionsOperations_ListByAssessmentProject_MinimumSet_Gen": {
            "$ref": "./examples/AvsAssessmentOptionsOperations_ListByAssessmentProject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/avsAssessmentOptions/{avsAssessmentOptionsName}": {
      "get": {
        "tags": [
          "AvsAssessmentOptionsOperations"
        ],
        "operationId": "AvsAssessmentOptionsOperations_Get",
        "description": "Get a AvsAssessmentOptions",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "avsAssessmentOptionsName",
            "in": "path",
            "required": true,
            "description": "AVS Assessment options ARM name. Accepted value is 'default'",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessmentOptions"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvsAssessmentOptionsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentOptionsOperations_Get_MaximumSet_Gen.json"
          },
          "AvsAssessmentOptionsOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/AvsAssessmentOptionsOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups": {
      "get": {
        "tags": [
          "GroupsOperations"
        ],
        "operationId": "GroupsOperations_ListByAssessmentProject",
        "description": "List Group resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GroupsOperations_ListByAssessmentProject_MaximumSet_Gen": {
            "$ref": "./examples/GroupsOperations_ListByAssessmentProject_MaximumSet_Gen.json"
          },
          "GroupsOperations_ListByAssessmentProject_MinimumSet_Gen": {
            "$ref": "./examples/GroupsOperations_ListByAssessmentProject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}": {
      "get": {
        "tags": [
          "GroupsOperations"
        ],
        "operationId": "GroupsOperations_Get",
        "description": "Get a Group",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GroupsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/GroupsOperations_Get_MaximumSet_Gen.json"
          },
          "GroupsOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/GroupsOperations_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "GroupsOperations"
        ],
        "operationId": "GroupsOperations_Create",
        "description": "Create a Group",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GroupsOperations_Create_MaximumSet_Gen": {
            "$ref": "./examples/GroupsOperations_Create_MaximumSet_Gen.json"
          },
          "GroupsOperations_Create_MinimumSet_Gen": {
            "$ref": "./examples/GroupsOperations_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "GroupsOperations"
        ],
        "operationId": "GroupsOperations_Delete",
        "description": "Delete a Group",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GroupsOperations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/GroupsOperations_Delete_MaximumSet_Gen.json"
          },
          "GroupsOperations_Delete_MinimumSet_Gen": {
            "$ref": "./examples/GroupsOperations_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments": {
      "get": {
        "tags": [
          "AssessmentsOperations"
        ],
        "operationId": "AssessmentsOperations_ListByGroup",
        "description": "List Assessment resources by Group",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessmentsOperations_ListByGroup_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_ListByGroup_MaximumSet_Gen.json"
          },
          "AssessmentsOperations_ListByGroup_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_ListByGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}": {
      "get": {
        "tags": [
          "AssessmentsOperations"
        ],
        "operationId": "AssessmentsOperations_Get",
        "description": "Get a Assessment",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_Get_MaximumSet_Gen.json"
          },
          "AssessmentsOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "AssessmentsOperations"
        ],
        "operationId": "AssessmentsOperations_Create",
        "description": "Create a Assessment",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AssessmentsOperations_Create_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_Create_MaximumSet_Gen.json"
          },
          "AssessmentsOperations_Create_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AssessmentsOperations"
        ],
        "operationId": "AssessmentsOperations_Delete",
        "description": "Delete a Assessment",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AssessmentsOperations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_Delete_MaximumSet_Gen.json"
          },
          "AssessmentsOperations_Delete_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines": {
      "get": {
        "tags": [
          "AssessedMachinesOperations"
        ],
        "operationId": "AssessedMachinesOperations_ListByAssessment",
        "description": "List AssessedMachine resources by Assessment",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "Filter query.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Optional parameter for page size."
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total record count."
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessedMachinesOperations_ListByAssessment_MaximumSet_Gen": {
            "$ref": "./examples/AssessedMachinesOperations_ListByAssessment_MaximumSet_Gen.json"
          },
          "AssessedMachinesOperations_ListByAssessment_MinimumSet_Gen": {
            "$ref": "./examples/AssessedMachinesOperations_ListByAssessment_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}": {
      "get": {
        "tags": [
          "AssessedMachinesOperations"
        ],
        "operationId": "AssessedMachinesOperations_Get",
        "description": "Get a AssessedMachine",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          },
          {
            "name": "assessedMachineName",
            "in": "path",
            "required": true,
            "description": "Machine assessment Assessed Machine ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedMachinesOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessedMachinesOperations_Get_MaximumSet_Gen.json"
          },
          "AssessedMachinesOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/AssessedMachinesOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/getReportDownloadUrl": {
      "post": {
        "tags": [
          "AssessmentsOperations"
        ],
        "operationId": "AssessmentsOperations_GetReportDownloadUrl",
        "summary": "Get download URL for the assessment report.",
        "description": "Get the URL for downloading the assessment in a report format.",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "Machine Assessment ARM name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "type": "object",
              "properties": {},
              "x-typespec-name": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AssessmentsOperations_GetReportDownloadUrl_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_GetReportDownloadUrl_MaximumSet_Gen.json"
          },
          "AssessmentsOperations_GetReportDownloadUrl_MinimumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_GetReportDownloadUrl_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments": {
      "get": {
        "tags": [
          "AvsAssessmentsOperations"
        ],
        "operationId": "AvsAssessmentsOperations_ListByGroup",
        "description": "List AvsAssessment resources by Group",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AvsAssessmentsOperations_ListByGroup_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_ListByGroup_MaximumSet_Gen.json"
          },
          "AvsAssessmentsOperations_ListByGroup_MinimumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_ListByGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}": {
      "get": {
        "tags": [
          "AvsAssessmentsOperations"
        ],
        "operationId": "AvsAssessmentsOperations_Get",
        "description": "Get a AvsAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "AVS Assessment ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvsAssessmentsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_Get_MaximumSet_Gen.json"
          },
          "AvsAssessmentsOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "AvsAssessmentsOperations"
        ],
        "operationId": "AvsAssessmentsOperations_Create",
        "description": "Create a AvsAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "AVS Assessment ARM name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/AvsAssessment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessment"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/AvsAssessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AvsAssessmentsOperations_Create_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_Create_MaximumSet_Gen.json"
          },
          "AvsAssessmentsOperations_Create_MinimumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AvsAssessmentsOperations"
        ],
        "operationId": "AvsAssessmentsOperations_Delete",
        "description": "Delete a AvsAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "AVS Assessment ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AvsAssessmentsOperations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_Delete_MaximumSet_Gen.json"
          },
          "AvsAssessmentsOperations_Delete_MinimumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}/avsAssessedMachines": {
      "get": {
        "tags": [
          "AvsAssessedMachinesOperations"
        ],
        "operationId": "AvsAssessedMachinesOperations_ListByAvsAssessment",
        "description": "List AvsAssessedMachine resources by AvsAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "Filter query.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Optional parameter for page size."
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total record count."
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "AVS Assessment ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessedMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AvsAssessedMachinesOperations_ListByAvsAssessment_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessedMachinesOperations_ListByAvsAssessment_MaximumSet_Gen.json"
          },
          "AvsAssessedMachinesOperations_ListByAvsAssessment_MinimumSet_Gen": {
            "$ref": "./examples/AvsAssessedMachinesOperations_ListByAvsAssessment_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}/avsAssessedMachines/{avsAssessedMachineName}": {
      "get": {
        "tags": [
          "AvsAssessedMachinesOperations"
        ],
        "operationId": "AvsAssessedMachinesOperations_Get",
        "description": "Get a AvsAssessedMachine",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "AVS Assessment ARM name",
            "type": "string"
          },
          {
            "name": "avsAssessedMachineName",
            "in": "path",
            "required": true,
            "description": "AVS assessment Assessed Machine ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessedMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvsAssessedMachinesOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessedMachinesOperations_Get_MaximumSet_Gen.json"
          },
          "AvsAssessedMachinesOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/AvsAssessedMachinesOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}/getReportDownloadUrl": {
      "post": {
        "tags": [
          "AvsAssessmentsOperations"
        ],
        "operationId": "AvsAssessmentsOperations_GetReportDownloadUrl",
        "summary": "Get download URL for the assessment report.",
        "description": "Get the URL for downloading the assessment in a report format.",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "AVS Assessment ARM name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "type": "object",
              "properties": {},
              "x-typespec-name": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AvsAssessmentsOperations_GetReportDownloadUrl_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_GetReportDownloadUrl_MaximumSet_Gen.json"
          },
          "AvsAssessmentsOperations_GetReportDownloadUrl_MinimumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_GetReportDownloadUrl_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments": {
      "get": {
        "tags": [
          "SqlAssessmentV2Operations"
        ],
        "operationId": "SqlAssessmentV2Operations_ListByGroup",
        "description": "List SqlAssessmentV2 resources by Group",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlAssessmentV2ListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SqlAssessmentV2Operations_ListByGroup_MaximumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_ListByGroup_MaximumSet_Gen.json"
          },
          "SqlAssessmentV2Operations_ListByGroup_MinimumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_ListByGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}": {
      "get": {
        "tags": [
          "SqlAssessmentV2Operations"
        ],
        "operationId": "SqlAssessmentV2Operations_Get",
        "description": "Get a SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "SQL Assessment arm name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlAssessmentV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SqlAssessmentV2Operations_Get_MaximumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_Get_MaximumSet_Gen.json"
          },
          "SqlAssessmentV2Operations_Get_MinimumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "SqlAssessmentV2Operations"
        ],
        "operationId": "SqlAssessmentV2Operations_Create",
        "description": "Create a SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "SQL Assessment arm name.",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/SqlAssessmentV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlAssessmentV2"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/SqlAssessmentV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "SqlAssessmentV2Operations_Create_MaximumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_Create_MaximumSet_Gen.json"
          },
          "SqlAssessmentV2Operations_Create_MinimumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SqlAssessmentV2Operations"
        ],
        "operationId": "SqlAssessmentV2Operations_Delete",
        "description": "Delete a SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "SQL Assessment arm name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "SqlAssessmentV2Operations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_Delete_MaximumSet_Gen.json"
          },
          "SqlAssessmentV2Operations_Delete_MinimumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlDatabases": {
      "get": {
        "tags": [
          "AssessedSqlDatabaseV2Operations"
        ],
        "operationId": "AssessedSqlDatabaseV2Operations_ListBySqlAssessmentV2",
        "description": "List AssessedSqlDatabaseV2 resources by SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "Filter query.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Optional parameter for page size."
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total record count."
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "SQL Assessment arm name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlDatabaseV2ListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessedSqlDatabaseV2Operations_ListBySqlAssessmentV2_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlDatabaseV2Operations_ListBySqlAssessmentV2_MaximumSet_Gen.json"
          },
          "AssessedSqlDatabaseV2Operations_ListBySqlAssessmentV2_MinimumSet_Gen": {
            "$ref": "./examples/AssessedSqlDatabaseV2Operations_ListBySqlAssessmentV2_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlDatabases/{assessedSqlDatabaseName}": {
      "get": {
        "tags": [
          "AssessedSqlDatabaseV2Operations"
        ],
        "operationId": "AssessedSqlDatabaseV2Operations_Get",
        "description": "Get a AssessedSqlDatabaseV2",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "SQL Assessment arm name.",
            "type": "string"
          },
          {
            "name": "assessedSqlDatabaseName",
            "in": "path",
            "required": true,
            "description": "Sql assessment Assessed Databases ARM name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlDatabaseV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedSqlDatabaseV2Operations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlDatabaseV2Operations_Get_MaximumSet_Gen.json"
          },
          "AssessedSqlDatabaseV2Operations_Get_MinimumSet_Gen": {
            "$ref": "./examples/AssessedSqlDatabaseV2Operations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlInstances": {
      "get": {
        "tags": [
          "AssessedSqlInstanceV2Operations"
        ],
        "operationId": "AssessedSqlInstanceV2Operations_ListBySqlAssessmentV2",
        "description": "List AssessedSqlInstanceV2 resources by SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "Filter query.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Optional parameter for page size."
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total record count."
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "SQL Assessment arm name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlInstanceV2ListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessedSqlInstanceV2Operations_ListBySqlAssessmentV2_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlInstanceV2Operations_ListBySqlAssessmentV2_MaximumSet_Gen.json"
          },
          "AssessedSqlInstanceV2Operations_ListBySqlAssessmentV2_MinimumSet_Gen": {
            "$ref": "./examples/AssessedSqlInstanceV2Operations_ListBySqlAssessmentV2_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlInstances/{assessedSqlInstanceName}": {
      "get": {
        "tags": [
          "AssessedSqlInstanceV2Operations"
        ],
        "operationId": "AssessedSqlInstanceV2Operations_Get",
        "description": "Get a AssessedSqlInstanceV2",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "SQL Assessment arm name.",
            "type": "string"
          },
          {
            "name": "assessedSqlInstanceName",
            "in": "path",
            "required": true,
            "description": "Sql assessment Assessed Instance ARM name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlInstanceV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedSqlInstanceV2Operations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlInstanceV2Operations_Get_MaximumSet_Gen.json"
          },
          "AssessedSqlInstanceV2Operations_Get_MinimumSet_Gen": {
            "$ref": "./examples/AssessedSqlInstanceV2Operations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlMachines": {
      "get": {
        "tags": [
          "AssessedSqlMachinesOperations"
        ],
        "operationId": "AssessedSqlMachinesOperations_ListBySqlAssessmentV2",
        "description": "List AssessedSqlMachine resources by SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "Filter query.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Optional parameter for page size."
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total record count."
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "description": "Group ARM name",
            "type": "string"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "required": true,
            "description": "SQL Assessment arm name.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessedSqlMachinesOperations_ListBySqlAssessmentV2_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlMachinesOperations_ListBySqlAssessmentV2_MaximumSet_Gen.json"
          },
          "AssessedSqlMachinesOperations_ListBySqlAssessmentV2_MinimumSet_Gen": {
            "$ref": "./examples/AssessedSqlMachinesOperations_ListBySqlAssessmentV2_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlMachines/{assessedSqlMachineName}": {
      "get": {
        "tags": [
          "AssessedSqlMachinesOperations"
        ],
        "operationId": "AssessedSqlMachinesOperations_Get",
        "description": "Get a AssessedSqlMachine",
        "parameters": [
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
[...]
