{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2023-03-15",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AssessmentProjectsOperations"
    },
    {
      "name": "AssessmentProjectSummaryOperations"
    },
    {
      "name": "MachinesOperations"
    },
    {
      "name": "GroupsOperations"
    },
    {
      "name": "AssessmentsOperations"
    },
    {
      "name": "AssessmentOptionsOperations"
    },
    {
      "name": "AssessedMachinesOperations"
    },
    {
      "name": "HypervCollectorsOperations"
    },
    {
      "name": "VmwareCollectorsOperations"
    },
    {
      "name": "ServerCollectorsOperations"
    },
    {
      "name": "ImportCollectorsOperations"
    },
    {
      "name": "PrivateEndpointConnectionOperations"
    },
    {
      "name": "PrivateLinkResourceOperations"
    },
    {
      "name": "AvsAssessmentsOperations"
    },
    {
      "name": "AvsAssessmentOptionsOperations"
    },
    {
      "name": "AvsAssessedMachinesOperations"
    },
    {
      "name": "SqlAssessmentV2SummaryOperations"
    },
    {
      "name": "SqlAssessmentV2Operations"
    },
    {
      "name": "SqlAssessmentOptionsOperations"
    },
    {
      "name": "AssessedSqlMachinesOperations"
    },
    {
      "name": "AssessedSqlRecommendedEntityOperations"
    },
    {
      "name": "AssessedSqlInstanceV2Operations"
    },
    {
      "name": "AssessedSqlDatabaseV2Operations"
    },
    {
      "name": "SqlCollectorOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/assessmentProjects": {
      "get": {
        "operationId": "AssessmentProjectsOperations_ListBySubscription",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "List AssessmentProject resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects": {
      "get": {
        "operationId": "AssessmentProjectsOperations_ListByResourceGroup",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "List AssessmentProject resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}": {
      "get": {
        "operationId": "AssessmentProjectsOperations_Get",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Get a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AssessmentProjectsOperations_Create",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Create a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AssessmentProject' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "201": {
            "description": "Resource 'AssessmentProject' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AssessmentProjectsOperations_Create_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Create_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "AssessmentProjectsOperations_Update",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Update a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssessmentProjectUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AssessmentProjectsOperations_Update_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "AssessmentProjectsOperations_Delete",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Delete a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentProjectsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions": {
      "get": {
        "operationId": "AssessmentOptionsOperations_ListByAssessmentProject",
        "tags": [
          "AssessmentOptionsOperations"
        ],
        "description": "List AssessmentOptions resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentOptionsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessmentOptionsOperations_ListByAssessmentProject_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentOptionsOperations_ListByAssessmentProject_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions/{assessmentOptionsName}": {
      "get": {
        "operationId": "AssessmentOptionsOperations_Get",
        "tags": [
          "AssessmentOptionsOperations"
        ],
        "description": "Get a AssessmentOptions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentOptionsName",
            "in": "path",
            "description": " assessment options ARM name. Accepted value is 'default'",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentOptions"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentOptionsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentOptionsOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/avsAssessmentOptions": {
      "get": {
        "operationId": "AvsAssessmentOptionsOperations_ListByAssessmentProject",
        "tags": [
          "AvsAssessmentOptionsOperations"
        ],
        "description": "List AvsAssessmentOptions resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessmentOptionsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AvsAssessmentOptionsOperations_ListByAssessmentProject_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentOptionsOperations_ListByAssessmentProject_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/avsAssessmentOptions/{avsAssessmentOptionsName}": {
      "get": {
        "operationId": "AvsAssessmentOptionsOperations_Get",
        "tags": [
          "AvsAssessmentOptionsOperations"
        ],
        "description": "Get a AvsAssessmentOptions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "avsAssessmentOptionsName",
            "in": "path",
            "description": "AVS Assessment options ARM name. Accepted value is 'default'",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessmentOptions"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvsAssessmentOptionsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentOptionsOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups": {
      "get": {
        "operationId": "GroupsOperations_ListByAssessmentProject",
        "tags": [
          "GroupsOperations"
        ],
        "description": "List Group resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GroupsOperations_ListByAssessmentProject_MaximumSet_Gen": {
            "$ref": "./examples/GroupsOperations_ListByAssessmentProject_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}": {
      "get": {
        "operationId": "GroupsOperations_Get",
        "tags": [
          "GroupsOperations"
        ],
        "description": "Get a Group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GroupsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/GroupsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "GroupsOperations_Create",
        "tags": [
          "GroupsOperations"
        ],
        "description": "Create a Group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Group' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "201": {
            "description": "Resource 'Group' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Group"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GroupsOperations_Create_MaximumSet_Gen": {
            "$ref": "./examples/GroupsOperations_Create_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "GroupsOperations_Delete",
        "tags": [
          "GroupsOperations"
        ],
        "description": "Delete a Group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GroupsOperations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/GroupsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments": {
      "get": {
        "operationId": "AssessmentsOperations_ListByGroup",
        "tags": [
          "AssessmentsOperations"
        ],
        "description": "List Assessment resources by Group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessmentsOperations_ListByGroup_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_ListByGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}": {
      "get": {
        "operationId": "AssessmentsOperations_Get",
        "tags": [
          "AssessmentsOperations"
        ],
        "description": "Get a Assessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AssessmentsOperations_Create",
        "tags": [
          "AssessmentsOperations"
        ],
        "description": "Create a Assessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Assessment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          },
          "201": {
            "description": "Resource 'Assessment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Assessment"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AssessmentsOperations_Create_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_Create_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "AssessmentsOperations_Delete",
        "tags": [
          "AssessmentsOperations"
        ],
        "description": "Delete a Assessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentsOperations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines": {
      "get": {
        "operationId": "AssessedMachinesOperations_ListByAssessment",
        "tags": [
          "AssessedMachinesOperations"
        ],
        "description": "List AssessedMachine resources by Assessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional parameter for page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Optional parameter for continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "description": "Total record count.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessedMachinesOperations_ListByAssessment_MaximumSet_Gen": {
            "$ref": "./examples/AssessedMachinesOperations_ListByAssessment_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}": {
      "get": {
        "operationId": "AssessedMachinesOperations_Get",
        "tags": [
          "AssessedMachinesOperations"
        ],
        "description": "Get a AssessedMachine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedMachineName",
            "in": "path",
            "description": "Machine assessment Assessed Machine ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedMachinesOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessedMachinesOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/downloadUrl": {
      "post": {
        "operationId": "AssessmentsOperations_DownloadUrl",
        "tags": [
          "AssessmentsOperations"
        ],
        "summary": "Get download URL for the assessment report.",
        "description": "Get the URL for downloading the assessment in a report format.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AssessmentsOperations_DownloadUrl_MaximumSet_Gen": {
            "$ref": "./examples/AssessmentsOperations_DownloadUrl_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments": {
      "get": {
        "operationId": "AvsAssessmentsOperations_ListByGroup",
        "tags": [
          "AvsAssessmentsOperations"
        ],
        "description": "List AvsAssessment resources by Group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AvsAssessmentsOperations_ListByGroup_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_ListByGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}": {
      "get": {
        "operationId": "AvsAssessmentsOperations_Get",
        "tags": [
          "AvsAssessmentsOperations"
        ],
        "description": "Get a AvsAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "AVS Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvsAssessmentsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AvsAssessmentsOperations_Create",
        "tags": [
          "AvsAssessmentsOperations"
        ],
        "description": "Create a AvsAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "AVS Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvsAssessment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AvsAssessment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AvsAssessment"
            }
          },
          "201": {
            "description": "Resource 'AvsAssessment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AvsAssessment"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AvsAssessmentsOperations_Create_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_Create_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "AvsAssessmentsOperations_Delete",
        "tags": [
          "AvsAssessmentsOperations"
        ],
        "description": "Delete a AvsAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "AVS Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvsAssessmentsOperations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}/avsAssessedMachines": {
      "get": {
        "operationId": "AvsAssessedMachinesOperations_ListByAvsAssessment",
        "tags": [
          "AvsAssessedMachinesOperations"
        ],
        "description": "List AvsAssessedMachine resources by AvsAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional parameter for page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Optional parameter for continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "description": "Total record count.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "AVS Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessedMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AvsAssessedMachinesOperations_ListByAvsAssessment_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessedMachinesOperations_ListByAvsAssessment_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}/avsAssessedMachines/{avsAssessedMachineName}": {
      "get": {
        "operationId": "AvsAssessedMachinesOperations_Get",
        "tags": [
          "AvsAssessedMachinesOperations"
        ],
        "description": "Get a AvsAssessedMachine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "AVS Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "avsAssessedMachineName",
            "in": "path",
            "description": "AVS assessment Assessed Machine ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsAssessedMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvsAssessedMachinesOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessedMachinesOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}/downloadUrl": {
      "post": {
        "operationId": "AvsAssessmentsOperations_DownloadUrl",
        "tags": [
          "AvsAssessmentsOperations"
        ],
        "summary": "Get download URL for the assessment report.",
        "description": "Get the URL for downloading the assessment in a report format.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "AVS Assessment ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AvsAssessmentsOperations_DownloadUrl_MaximumSet_Gen": {
            "$ref": "./examples/AvsAssessmentsOperations_DownloadUrl_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments": {
      "get": {
        "operationId": "SqlAssessmentV2Operations_ListByGroup",
        "tags": [
          "SqlAssessmentV2Operations"
        ],
        "description": "List SqlAssessmentV2 resources by Group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlAssessmentV2ListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SqlAssessmentV2Operations_ListByGroup_MaximumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_ListByGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}": {
      "get": {
        "operationId": "SqlAssessmentV2Operations_Get",
        "tags": [
          "SqlAssessmentV2Operations"
        ],
        "description": "Get a SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "SQL Assessment arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlAssessmentV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SqlAssessmentV2Operations_Get_MaximumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SqlAssessmentV2Operations_Create",
        "tags": [
          "SqlAssessmentV2Operations"
        ],
        "description": "Create a SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "SQL Assessment arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlAssessmentV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SqlAssessmentV2' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlAssessmentV2"
            }
          },
          "201": {
            "description": "Resource 'SqlAssessmentV2' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlAssessmentV2"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "SqlAssessmentV2Operations_Create_MaximumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_Create_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "SqlAssessmentV2Operations_Delete",
        "tags": [
          "SqlAssessmentV2Operations"
        ],
        "description": "Delete a SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "SQL Assessment arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SqlAssessmentV2Operations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlDatabases": {
      "get": {
        "operationId": "AssessedSqlDatabaseV2Operations_ListBySqlAssessmentV2",
        "tags": [
          "AssessedSqlDatabaseV2Operations"
        ],
        "description": "List AssessedSqlDatabaseV2 resources by SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional parameter for page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Optional parameter for continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "description": "Total record count.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "SQL Assessment arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlDatabaseV2ListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessedSqlDatabaseV2Operations_ListBySqlAssessmentV2_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlDatabaseV2Operations_ListBySqlAssessmentV2_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlDatabases/{assessedSqlDatabaseName}": {
      "get": {
        "operationId": "AssessedSqlDatabaseV2Operations_Get",
        "tags": [
          "AssessedSqlDatabaseV2Operations"
        ],
        "description": "Get a AssessedSqlDatabaseV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "SQL Assessment arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedSqlDatabaseName",
            "in": "path",
            "description": "Sql assessment Assessed Databases ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlDatabaseV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedSqlDatabaseV2Operations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlDatabaseV2Operations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlInstances": {
      "get": {
        "operationId": "AssessedSqlInstanceV2Operations_ListBySqlAssessmentV2",
        "tags": [
          "AssessedSqlInstanceV2Operations"
        ],
        "description": "List AssessedSqlInstanceV2 resources by SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional parameter for page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Optional parameter for continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "description": "Total record count.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "SQL Assessment arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlInstanceV2ListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessedSqlInstanceV2Operations_ListBySqlAssessmentV2_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlInstanceV2Operations_ListBySqlAssessmentV2_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlInstances/{assessedSqlInstanceName}": {
      "get": {
        "operationId": "AssessedSqlInstanceV2Operations_Get",
        "tags": [
          "AssessedSqlInstanceV2Operations"
        ],
        "description": "Get a AssessedSqlInstanceV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "SQL Assessment arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedSqlInstanceName",
            "in": "path",
            "description": "Sql assessment Assessed Instance ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlInstanceV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedSqlInstanceV2Operations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlInstanceV2Operations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlMachines": {
      "get": {
        "operationId": "AssessedSqlMachinesOperations_ListBySqlAssessmentV2",
        "tags": [
          "AssessedSqlMachinesOperations"
        ],
        "description": "List AssessedSqlMachine resources by SqlAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional parameter for page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Optional parameter for continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "description": "Total record count.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "SQL Assessment arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessedSqlMachinesOperations_ListBySqlAssessmentV2_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlMachinesOperations_ListBySqlAssessmentV2_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/assessedSqlMachines/{assessedSqlMachineName}": {
      "get": {
        "operationId": "AssessedSqlMachinesOperations_Get",
        "tags": [
          "AssessedSqlMachinesOperations"
        ],
        "description": "Get a AssessedSqlMachine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "SQL Assessment arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedSqlMachineName",
            "in": "path",
            "description": "Sql assessment Assessed Machine ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSqlMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedSqlMachinesOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/AssessedSqlMachinesOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/downloadUrl": {
      "post": {
        "operationId": "SqlAssessmentV2Operations_DownloadUrl",
        "tags": [
          "SqlAssessmentV2Operations"
        ],
        "summary": "Get download URL for the assessment report.",
        "description": "Get the URL for downloading the assessment in a report format.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "SQL Assessment arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "SqlAssessmentV2Operations_DownloadUrl_MaximumSet_Gen": {
            "$ref": "./examples/SqlAssessmentV2Operations_DownloadUrl_MaximumSet_Gen.json"
          }
        }
      }
    },
[...]
