{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2026-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/{scanId}": {
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Scans"
        ],
        "summary": "Gets the scan details of a single scan record.",
        "description": "Gets the scan details of a single scan record.",
        "operationId": "SqlVulnerabilityAssessmentScans_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scanId",
            "description": "The scan Id. Type 'latest' to get the scan record for the latest scan.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "databaseName",
            "description": "The name of the database to assess. Required when the API is called on the parent resource (e.g., server level) rather than on a specific database resource, since the database name is not part of the resource URI. This is the only way to assess system databases (e.g., master), which cannot be referenced directly in the resource URI.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the scan record details.",
            "schema": {
              "$ref": "#/definitions/ScanV2"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get scan on a resource - Arc Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ArcMachineScans_Get.json"
          },
          "Get scan on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SqlManagedInstanceScans_Get.json"
          },
          "Get scan on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SqlServerScans_Get.json"
          },
          "Get scan on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SynapseScans_Get.json"
          },
          "Get scan on a resource - Virtual Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/VirtualMachineScans_Get.json"
          },
          "Get scan on a resource (server-level) - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SqlServerScans_Get.json"
          },
          "Get scan on a resource (server-level) - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SqlManagedInstanceScans_Get.json"
          },
          "Get scan on a resource (server-level) - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SynapseScans_Get.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans": {
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Scans"
        ],
        "summary": "Gets a list of scan records.",
        "description": "Gets a list of scan records.",
        "operationId": "SqlVulnerabilityAssessmentScans_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "databaseName",
            "description": "The name of the database to assess. Required when the API is called on the parent resource (e.g., server level) rather than on a specific database resource, since the database name is not part of the resource URI. This is the only way to assess system databases (e.g., master), which cannot be referenced directly in the resource URI.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of scan records.",
            "schema": {
              "$ref": "#/definitions/ScansV2"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List scans on a resource - Arc Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ArcMachineScans_List.json"
          },
          "List scans on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SqlManagedInstanceScans_List.json"
          },
          "List scans on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SqlServerScans_List.json"
          },
          "List scans on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SynapseScans_List.json"
          },
          "List scans on a resource - Virtual Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/VirtualMachineScans_List.json"
          },
          "List scans on a resource (server-level) - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SqlServerScans_List.json"
          },
          "List scans on a resource (server-level) - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SqlManagedInstanceScans_List.json"
          },
          "List scans on a resource (server-level) - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SynapseScans_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/initiateScan": {
      "post": {
        "tags": [
          "Sql Vulnerability Assessment Scans"
        ],
        "summary": "Initiates a vulnerability assessment scan.",
        "description": "Initiates a vulnerability assessment scan.",
        "operationId": "SqlVulnerabilityAssessmentScans_InitiateScan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "databaseName",
            "description": "The name of the database to assess. Required when the API is called on the parent resource (e.g., server level) rather than on a specific database resource, since the database name is not part of the resource URI. This is the only way to assess system databases (e.g., master), which cannot be referenced directly in the resource URI.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "202": {
            "description": "The scan initiation request has been accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL for checking the status of the long running operation."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          },
          "200": {
            "description": "The scan operation has completed.",
            "schema": {
              "$ref": "#/definitions/SqlVulnerabilityAssessmentScanOperationResult"
            }
          }
        },
        "x-ms-examples": {
          "Initiate scan on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SqlManagedInstanceScans_InitiateScan.json"
          },
          "Initiate scan on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SqlServerScans_InitiateScan.json"
          },
          "Initiate scan on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SynapseScans_InitiateScan.json"
          },
          "Initiate scan on a resource (server-level) - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SqlServerScans_InitiateScan.json"
          },
          "Initiate scan on a resource (server-level) - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SqlManagedInstanceScans_InitiateScan.json"
          },
          "Initiate scan on a resource (server-level) - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SynapseScans_InitiateScan.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/scanOperationResults/{operationId}": {
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Scans"
        ],
        "summary": "Gets the result of a scan operation initiated by the InitiateScan action.",
        "description": "Gets the result of a scan operation initiated by the InitiateScan action.",
        "operationId": "SqlVulnerabilityAssessmentScans_GetScanOperationResult",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          },
          {
            "in": "path",
            "name": "operationId",
            "description": "The operation id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "databaseName",
            "description": "The name of the database to assess. Required when the API is called on the parent resource (e.g., server level) rather than on a specific database resource, since the database name is not part of the resource URI. This is the only way to assess system databases (e.g., master), which cannot be referenced directly in the resource URI.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The scan operation has completed. Returns the latest scan record.",
            "schema": {
              "$ref": "#/definitions/SqlVulnerabilityAssessmentScanOperationResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get scan operation result on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SqlManagedInstanceScans_GetScanOperationResult.json"
          },
          "Get scan operation result on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SqlServerScans_GetScanOperationResult.json"
          },
          "Get scan operation result on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/SynapseScans_GetScanOperationResult.json"
          },
          "Get scan operation result on a resource (server-level) - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SqlServerScans_GetScanOperationResult.json"
          },
          "Get scan operation result on a resource (server-level) - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SqlManagedInstanceScans_GetScanOperationResult.json"
          },
          "Get scan operation result on a resource (server-level) - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanOperations/ServerLevel_SynapseScans_GetScanOperationResult.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ScanOperationStatus": {
      "description": "The scan operation status.",
      "enum": [
        "Passed",
        "Failed",
        "FailedToRun",
        "InProgress"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ScanOperationStatus",
        "modelAsString": true,
        "values": [
          {
            "value": "Passed",
            "description": "The scan completed successfully with no vulnerabilities found."
          },
          {
            "value": "Failed",
            "description": "The scan completed but found vulnerabilities."
          },
          {
            "value": "FailedToRun",
            "description": "The scan failed to execute."
          },
          {
            "value": "InProgress",
            "description": "The scan is currently running."
          }
        ]
      }
    },
    "ScanPropertiesV2": {
      "description": "A vulnerability assessment scan record properties.",
      "type": "object",
      "properties": {
        "triggerType": {
          "$ref": "#/definitions/ScanTriggerType"
        },
        "state": {
          "$ref": "#/definitions/ScanState"
        },
        "server": {
          "description": "The server name.",
          "type": "string"
        },
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "sqlVersion": {
          "description": "The SQL version.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The scan start time (UTC).",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "Scan results are valid until end time (UTC).",
          "type": "string"
        },
        "highSeverityFailedRulesCount": {
          "format": "int32",
          "description": "The number of failed rules with high severity.",
          "type": "integer"
        },
        "mediumSeverityFailedRulesCount": {
          "format": "int32",
          "description": "The number of failed rules with medium severity.",
          "type": "integer"
        },
        "lowSeverityFailedRulesCount": {
          "format": "int32",
          "description": "The number of failed rules with low severity.",
          "type": "integer"
        },
        "totalPassedRulesCount": {
          "format": "int32",
          "description": "The number of total passed rules.",
          "type": "integer"
        },
        "totalFailedRulesCount": {
          "format": "int32",
          "description": "The number of total failed rules.",
          "type": "integer"
        },
        "totalRulesCount": {
          "format": "int32",
          "description": "The number of total rules assessed.",
          "type": "integer"
        },
        "isBaselineApplied": {
          "description": "Baseline created for this database, and has one or more rules.",
          "type": "boolean"
        },
        "lastScanTime": {
          "format": "date-time",
          "description": "Last scan time.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ScanState": {
      "description": "The scan status.",
      "enum": [
        "Failed",
        "FailedToRun",
        "InProgress",
        "Passed"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ScanState",
        "modelAsString": true,
        "values": [
          {
            "value": "Failed",
            "description": "Failed"
          },
          {
            "value": "FailedToRun",
            "description": "FailedToRun"
          },
          {
            "value": "InProgress",
            "description": "InProgress"
          },
          {
            "value": "Passed",
            "description": "Passed"
          }
        ]
      }
    },
    "ScanTriggerType": {
      "description": "The scan trigger type.",
      "enum": [
        "OnDemand",
        "Recurring"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ScanTriggerType",
        "modelAsString": true,
        "values": [
          {
            "value": "OnDemand",
            "description": "OnDemand"
          },
          {
            "value": "Recurring",
            "description": "Recurring"
          }
        ]
      }
    },
    "ScanV2": {
      "description": "A vulnerability assessment scan record.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./common/v1/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ScanPropertiesV2"
        }
      },
      "additionalProperties": false
    },
    "ScansV2": {
      "description": "A list of vulnerability assessment scan records.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of vulnerability assessment scan records.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScanV2"
          }
        }
      },
      "additionalProperties": false
    },
    "SqlVulnerabilityAssessmentScanOperationResult": {
      "description": "Represents the result of a SQL Vulnerability Assessment scan operation, wrapped in the ARM resource envelope.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./common/v1/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SqlVulnerabilityAssessmentScanOperationResultProperties"
        }
      },
      "additionalProperties": false
    },
    "SqlVulnerabilityAssessmentScanOperationResultProperties": {
      "description": "Represents the properties of a SQL Vulnerability Assessment scan operation result.",
      "type": "object",
      "properties": {
        "operationId": {
          "description": "Gets or sets the operation id.",
          "type": "string"
        },
        "scanStatus": {
          "$ref": "#/definitions/ScanOperationStatus"
        }
      },
      "additionalProperties": false
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
