{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2026-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default": {
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Settings"
        ],
        "summary": "Gets the SQL Vulnerability Assessment settings.",
        "description": "Test existing issues",
        "operationId": "SqlVulnerabilityAssessmentSettings_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the SQL Vulnerability Assessment settings.",
            "schema": {
              "$ref": "#/definitions/SqlVulnerabilityAssessmentSettings"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get SQL Vulnerability Assessment settings on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsSettingsOperations/SqlManagedInstanceSettings_Get.json"
          },
          "Get SQL Vulnerability Assessment settings on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsSettingsOperations/SqlServerSettings_Get.json"
          },
          "Get SQL Vulnerability Assessment settings on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsSettingsOperations/SynapseSettings_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Sql Vulnerability Assessment Settings"
        ],
        "summary": "Creates or updates the SQL Vulnerability Assessment settings.",
        "description": "Creates or updates the SQL Vulnerability Assessment settings.",
        "operationId": "SqlVulnerabilityAssessmentSettings_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SQL Vulnerability Assessment settings.",
            "schema": {
              "$ref": "#/definitions/SqlVulnerabilityAssessmentSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the SQL Vulnerability Assessment settings.",
            "schema": {
              "$ref": "#/definitions/SqlVulnerabilityAssessmentSettings"
            }
          },
          "201": {
            "description": "Successfully created the SQL Vulnerability Assessment settings.",
            "schema": {
              "$ref": "#/definitions/SqlVulnerabilityAssessmentSettings"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update SQL Vulnerability Assessment settings on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsSettingsOperations/SqlManagedInstanceSettings_Put.json"
          },
          "Create or update SQL Vulnerability Assessment settings on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsSettingsOperations/SqlServerSettings_Put.json"
          },
          "Create or update SQL Vulnerability Assessment settings on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsSettingsOperations/SynapseSettings_Put.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Sql Vulnerability Assessment Settings"
        ],
        "summary": "Deletes the SQL Vulnerability Assessment settings.",
        "description": "Deletes the SQL Vulnerability Assessment settings.",
        "operationId": "SqlVulnerabilityAssessmentSettings_Delete",
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the SQL Vulnerability Assessment settings."
          },
          "204": {
            "description": "Settings don't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete SQL Vulnerability Assessment settings on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsSettingsOperations/SqlManagedInstanceSettings_Delete.json"
          },
          "Delete SQL Vulnerability Assessment settings on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsSettingsOperations/SqlServerSettings_Delete.json"
          },
          "Delete SQL Vulnerability Assessment settings on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsSettingsOperations/SynapseSettings_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SqlVulnerabilityAssessmentSettings": {
      "description": "SQL Vulnerability Assessment settings resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./common/v1/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SqlVulnerabilityAssessmentSettingsProperties"
        }
      },
      "additionalProperties": false
    },
    "SqlVulnerabilityAssessmentSettingsProperties": {
      "description": "SQL Vulnerability Assessment settings properties.",
      "type": "object",
      "properties": {
        "creationTime": {
          "format": "date-time",
          "description": "The creation time of the SQL Vulnerability Assessment settings.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/SqlVulnerabilityAssessmentState"
        }
      },
      "additionalProperties": false
    },
    "SqlVulnerabilityAssessmentState": {
      "description": "Represents the state of a SQL Vulnerability Assessment.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SqlVulnerabilityAssessmentState",
        "modelAsString": true,
        "values": [
          {
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
