{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2026-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/baselineRules/{ruleId}": {
      "put": {
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Creates a Baseline for a rule in a database. Will overwrite any previously existing results.",
        "description": "Creates a Baseline for a rule in a database. Will overwrite any previously existing results.",
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          },
          {
            "in": "path",
            "name": "ruleId",
            "description": "The rule Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "databaseName",
            "description": "The name of the database to assess. Required when the API is called on the parent resource (e.g., server level) rather than on a specific database resource, since the database name is not part of the resource URI. This is the only way to assess system databases (e.g., master), which cannot be referenced directly in the resource URI.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The baseline results for this rule.",
            "schema": {
              "$ref": "#/definitions/RuleResultsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully set the vulnerability assessment rule baseline.",
            "schema": {
              "$ref": "#/definitions/RuleResults"
            }
          },
          "201": {
            "description": "Successfully created the vulnerability assessment rule baseline.",
            "schema": {
              "$ref": "#/definitions/RuleResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a baseline for a rule on a resource - Arc Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Put.json"
          },
          "Create a baseline for a rule on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SqlManagedInstanceBaselineRules_Put.json"
          },
          "Create a baseline for a rule on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SqlServerBaselineRules_Put.json"
          },
          "Create a baseline for a rule on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SynapseBaselineRules_Put.json"
          },
          "Create a baseline for a rule on a resource - Virtual Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/VirtualMachineBaselineRules_Put.json"
          },
          "Create a baseline for a rule on a resource (server-level) - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SqlServerBaselineRules_Put.json"
          },
          "Create a baseline for a rule on a resource (server-level) - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SqlManagedInstanceBaselineRules_Put.json"
          },
          "Create a baseline for a rule on a resource (server-level) - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SynapseBaselineRules_Put.json"
          }
        }
      },
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Gets the results for a given rule in the Baseline.",
        "description": "Gets the results for a given rule in the Baseline.",
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          },
          {
            "in": "path",
            "name": "ruleId",
            "description": "The rule Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "databaseName",
            "description": "The name of the database to assess. Required when the API is called on the parent resource (e.g., server level) rather than on a specific database resource, since the database name is not part of the resource URI. This is the only way to assess system databases (e.g., master), which cannot be referenced directly in the resource URI.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully got the vulnerability assessment rule baseline.",
            "schema": {
              "$ref": "#/definitions/RuleResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a baseline rule on a resource - Arc Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Get.json"
          },
          "Get a baseline rule on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SqlManagedInstanceBaselineRules_Get.json"
          },
          "Get a baseline rule on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SqlServerBaselineRules_Get.json"
          },
          "Get a baseline rule on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SynapseBaselineRules_Get.json"
          },
          "Get a baseline rule on a resource - Virtual Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/VirtualMachineBaselineRules_Get.json"
          },
          "Get a baseline rule on a resource (server-level) - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SqlServerBaselineRules_Get.json"
          },
          "Get a baseline rule on a resource (server-level) - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SqlManagedInstanceBaselineRules_Get.json"
          },
          "Get a baseline rule on a resource (server-level) - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SynapseBaselineRules_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Deletes a rule from the Baseline of a given database.",
        "description": "Deletes a rule from the Baseline of a given database.",
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_Delete",
        "parameters": [
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          },
          {
            "in": "path",
            "name": "ruleId",
            "description": "The rule Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "databaseName",
            "description": "The name of the database to assess. Required when the API is called on the parent resource (e.g., server level) rather than on a specific database resource, since the database name is not part of the resource URI. This is the only way to assess system databases (e.g., master), which cannot be referenced directly in the resource URI.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed the database vulnerability assessment rule baseline."
          },
          "204": {
            "description": "Rule baseline doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a baseline rule on a resource - Arc Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Delete.json"
          },
          "Delete a baseline rule on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SqlManagedInstanceBaselineRules_Delete.json"
          },
          "Delete a baseline rule on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SqlServerBaselineRules_Delete.json"
          },
          "Delete a baseline rule on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SynapseBaselineRules_Delete.json"
          },
          "Delete a baseline rule on a resource - Virtual Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/VirtualMachineBaselineRules_Delete.json"
          },
          "Delete a baseline rule on a resource (server-level) - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SqlServerBaselineRules_Delete.json"
          },
          "Delete a baseline rule on a resource (server-level) - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SqlManagedInstanceBaselineRules_Delete.json"
          },
          "Delete a baseline rule on a resource (server-level) - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SynapseBaselineRules_Delete.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/baselineRules": {
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Gets the results for all rules in the Baseline.",
        "description": "Gets the results for all rules in the Baseline.",
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "databaseName",
            "description": "The name of the database to assess. Required when the API is called on the parent resource (e.g., server level) rather than on a specific database resource, since the database name is not part of the resource URI. This is the only way to assess system databases (e.g., master), which cannot be referenced directly in the resource URI.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the database vulnerability assessment rule baselines.",
            "schema": {
              "$ref": "#/definitions/RulesResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List baseline rules on a resource - Arc Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_List.json"
          },
          "List baseline rules on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SqlManagedInstanceBaselineRules_List.json"
          },
          "List baseline rules on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SqlServerBaselineRules_List.json"
          },
          "List baseline rules on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SynapseBaselineRules_List.json"
          },
          "List baseline rules on a resource - Virtual Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/VirtualMachineBaselineRules_List.json"
          },
          "List baseline rules on a resource (server-level) - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SqlServerBaselineRules_List.json"
          },
          "List baseline rules on a resource (server-level) - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SqlManagedInstanceBaselineRules_List.json"
          },
          "List baseline rules on a resource (server-level) - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SynapseBaselineRules_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      },
      "post": {
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Set a list of baseline rules. Will overwrite any previously existing results (for all rules).",
        "description": "Set a list of baseline rules. Will overwrite any previously existing results (for all rules).",
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "databaseName",
            "description": "The name of the database to assess. Required when the API is called on the parent resource (e.g., server level) rather than on a specific database resource, since the database name is not part of the resource URI. This is the only way to assess system databases (e.g., master), which cannot be referenced directly in the resource URI.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The baseline rules.",
            "schema": {
              "$ref": "#/definitions/RulesResultsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully set the database vulnerability assessment rule baselines.",
            "schema": {
              "$ref": "#/definitions/RulesResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Set baseline rules on a resource - Arc Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Add.json"
          },
          "Set baseline rules on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SqlManagedInstanceBaselineRules_Add.json"
          },
          "Set baseline rules on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SqlServerBaselineRules_Add.json"
          },
          "Set baseline rules on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/SynapseBaselineRules_Add.json"
          },
          "Set baseline rules on a resource - Virtual Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/VirtualMachineBaselineRules_Add.json"
          },
          "Set baseline rules on a resource (server-level) - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SqlServerBaselineRules_Add.json"
          },
          "Set baseline rules on a resource (server-level) - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SqlManagedInstanceBaselineRules_Add.json"
          },
          "Set baseline rules on a resource (server-level) - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ServerLevel_SynapseBaselineRules_Add.json"
          }
        }
      }
    }
  },
  "definitions": {
    "RuleResults": {
      "description": "Rule results.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./common/v1/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/RuleResultsProperties"
        }
      },
      "additionalProperties": false
    },
    "RuleResultsInput": {
      "description": "Rule results input.",
      "type": "object",
      "properties": {
        "latestScan": {
          "description": "Take results from latest scan.",
          "type": "boolean"
        },
        "results": {
          "description": "Expected results to be inserted into the baseline.\r\nLeave this field empty if latestScan == true.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "additionalProperties": false
    },
    "RuleResultsProperties": {
      "description": "Rule results properties.",
      "type": "object",
      "properties": {
        "results": {
          "description": "Expected results in the baseline.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "latestScan": {
          "description": "Take results from latest scan.",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "RulesResults": {
      "description": "A list of rules results.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of rule results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleResults"
          }
        }
      },
      "additionalProperties": false
    },
    "RulesResultsInput": {
      "description": "Rules results input.",
      "type": "object",
      "properties": {
        "latestScan": {
          "description": "Take results from latest scan.",
          "type": "boolean"
        },
        "results": {
          "description": "Expected results to be inserted into the baseline.\r\nLeave this field empty if latestScan == true.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "additionalProperties": false
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
