{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2026-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/{scanId}/scanResults/{scanResultId}": {
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Scan Results"
        ],
        "summary": "Gets the scan results of a single rule in a scan record.",
        "operationId": "SqlVulnerabilityAssessmentScanResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scanId",
            "description": "The scan Id. Type 'latest' to get the scan results for the latest scan.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scanResultId",
            "description": "The rule Id of the results.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the scan results.",
            "schema": {
              "$ref": "#/definitions/ScanResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get scan result on a resource - Arc Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/ArcMachineScanResults_Get.json"
          },
          "Get scan result on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/SqlManagedInstanceScanResults_Get.json"
          },
          "Get scan result on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/SqlServerScanResults_Get.json"
          },
          "Get scan result on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/SynapseScanResults_Get.json"
          },
          "Get scan result on a resource - Virtual Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/VirtualMachineScanResults_Get.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/{scanId}/scanResults": {
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Scan Results"
        ],
        "summary": "Gets a list of scan results for a single scan record.",
        "operationId": "SqlVulnerabilityAssessmentScanResults_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scanId",
            "description": "The scan Id. Type 'latest' to get the scan results for the latest scan.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of scan results.",
            "schema": {
              "$ref": "#/definitions/ScanResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List scan results on a resource - Arc Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/ArcMachineScanResults_List.json"
          },
          "List scan results on a resource - Sql Managed Instance": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/SqlManagedInstanceScanResults_List.json"
          },
          "List scan results on a resource - Sql Server": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/SqlServerScanResults_List.json"
          },
          "List scan results on a resource - Synapse": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/SynapseScanResults_List.json"
          },
          "List scan results on a resource - Virtual Machine": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsScanResultsOperations/VirtualMachineScanResults_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Baseline": {
      "description": "Baseline details.",
      "type": "object",
      "properties": {
        "expectedResults": {
          "description": "Expected results.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "updatedTime": {
          "format": "date-time",
          "description": "Baseline update time (UTC).",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "BaselineAdjustedResult": {
      "description": "The rule result adjusted with baseline.",
      "type": "object",
      "properties": {
        "baseline": {
          "$ref": "#/definitions/Baseline"
        },
        "status": {
          "$ref": "#/definitions/RuleStatus"
        },
        "resultsNotInBaseline": {
          "description": "Results the are not in baseline.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "resultsOnlyInBaseline": {
          "description": "Results the are in baseline.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "additionalProperties": false
    },
    "BenchmarkReference": {
      "description": "The benchmark references.",
      "type": "object",
      "properties": {
        "benchmark": {
          "description": "The benchmark name.",
          "type": "string"
        },
        "reference": {
          "description": "The benchmark reference.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "QueryCheck": {
      "description": "The rule query details.",
      "type": "object",
      "properties": {
        "query": {
          "description": "The rule query.",
          "type": "string"
        },
        "expectedResult": {
          "description": "Expected result.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "columnNames": {
          "description": "Column names of expected result.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "additionalProperties": false
    },
    "Remediation": {
      "description": "Remediation details.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Remediation description.",
          "type": "string"
        },
        "scripts": {
          "description": "Remediation script.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "automated": {
          "description": "Is remediation automated.",
          "type": "boolean"
        },
        "portalLink": {
          "description": "Optional link to remediate in Azure Portal.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "RuleSeverity": {
      "description": "The rule severity.",
      "enum": [
        "High",
        "Medium",
        "Low",
        "Informational",
        "Obsolete"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "RuleSeverity",
        "modelAsString": true,
        "values": [
          {
            "value": "High",
            "description": "High"
          },
          {
            "value": "Medium",
            "description": "Medium"
          },
          {
            "value": "Low",
            "description": "Low"
          },
          {
            "value": "Informational",
            "description": "Informational"
          },
          {
            "value": "Obsolete",
            "description": "Obsolete"
          }
        ]
      }
    },
    "RuleStatus": {
      "description": "The rule result status.",
      "enum": [
        "NonFinding",
        "Finding",
        "InternalError",
        "NotApplicable"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "RuleStatus",
        "modelAsString": true,
        "values": [
          {
            "value": "NonFinding",
            "description": "NonFinding"
          },
          {
            "value": "Finding",
            "description": "Finding"
          },
          {
            "value": "InternalError",
            "description": "InternalError"
          },
          {
            "value": "NotApplicable",
            "description": "NotApplicable"
          }
        ]
      }
    },
    "RuleType": {
      "description": "The rule type.",
      "enum": [
        "Binary",
        "BaselineExpected",
        "PositiveList",
        "NegativeList"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "RuleType",
        "modelAsString": true,
        "values": [
          {
            "value": "Binary",
            "description": "Binary"
          },
          {
            "value": "BaselineExpected",
            "description": "BaselineExpected"
          },
          {
            "value": "PositiveList",
            "description": "PositiveList"
          },
          {
            "value": "NegativeList",
            "description": "NegativeList"
          }
        ]
      }
    },
    "ScanResult": {
      "description": "A vulnerability assessment scan result for a single rule.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./common/v1/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ScanResultProperties"
        }
      },
      "additionalProperties": false
    },
    "ScanResultProperties": {
      "description": "A vulnerability assessment scan result properties for a single rule.",
      "type": "object",
      "properties": {
        "ruleId": {
          "description": "The rule Id.",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/RuleStatus"
        },
        "isTrimmed": {
          "description": "Indicated whether the results specified here are trimmed.",
          "type": "boolean"
        },
        "queryResults": {
          "description": "The results of the query that was run.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "remediation": {
          "$ref": "#/definitions/Remediation"
        },
        "baselineAdjustedResult": {
          "$ref": "#/definitions/BaselineAdjustedResult"
        },
        "ruleMetadata": {
          "$ref": "#/definitions/VaRule"
        }
      },
      "additionalProperties": false
    },
    "ScanResults": {
      "description": "A list of vulnerability assessment scan results.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of vulnerability assessment scan results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScanResult"
          }
        }
      },
      "additionalProperties": false
    },
    "VaRule": {
      "description": "vulnerability assessment rule metadata details.",
      "type": "object",
      "properties": {
        "ruleId": {
          "description": "The rule Id.",
          "type": "string"
        },
        "severity": {
          "$ref": "#/definitions/RuleSeverity"
        },
        "category": {
          "description": "The rule category.",
          "type": "string"
        },
        "ruleType": {
          "$ref": "#/definitions/RuleType"
        },
        "title": {
          "description": "The rule title.",
          "type": "string"
        },
        "description": {
          "description": "The rule description.",
          "type": "string"
        },
        "rationale": {
          "description": "The rule rationale.",
          "type": "string"
        },
        "queryCheck": {
          "$ref": "#/definitions/QueryCheck"
        },
        "benchmarkReferences": {
          "description": "The benchmark references.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BenchmarkReference"
          }
        }
      },
      "additionalProperties": false
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
