{
  "swagger": "2.0",
  "info": {
    "title": "Azure Defender for IoT",
    "description": "API spec for Microsoft.IoTSecurity (Azure Defender for IoT) resource provider",
    "version": "2021-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/deviceGroups/{deviceGroupName}/alerts": {
      "get": {
        "x-ms-examples": {
          "List IoT Alerts": {
            "$ref": "./examples/Alerts/GetAlertList.json"
          }
        },
        "tags": [
          "IoT Security Alerts"
        ],
        "description": "List IoT alerts",
        "operationId": "IotAlerts_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/DeviceGroupName"
          },
          {
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "type": "string",
            "description": "Skip token used for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AlertListModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/deviceGroups/{deviceGroupName}/alerts/{alertId}": {
      "get": {
        "x-ms-examples": {
          "Get IoT Alert": {
            "$ref": "./examples/Alerts/GetAlert.json"
          }
        },
        "tags": [
          "IoT Security Alerts"
        ],
        "operationId": "IotAlerts_Get",
        "description": "Get IoT alert",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/DeviceGroupName"
          },
          {
            "$ref": "#/parameters/AlertId"
          }
        ],
        "responses": {
          "200": {
            "description": "IoT alert",
            "schema": {
              "$ref": "#/definitions/AlertModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "x-ms-examples": {
          "Update IoT Alert": {
            "$ref": "./examples/Alerts/PatchAlert.json"
          }
        },
        "tags": [
          "IoT Security Alerts"
        ],
        "operationId": "IotAlerts_Patch",
        "description": "Update an existing alert",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/DeviceGroupName"
          },
          {
            "$ref": "#/parameters/AlertId"
          },
          {
            "$ref": "#/parameters/AlertPatchModel"
          }
        ],
        "responses": {
          "200": {
            "description": "IoT alert",
            "schema": {
              "$ref": "#/definitions/AlertModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AlertListModel": {
      "description": "List of IoT alerts",
      "type": "object",
      "properties": {
        "value": {
          "description": "List data",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/AlertModel"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "When available, follow the URI to get the next page of data"
        }
      }
    },
    "AlertModel": {
      "type": "object",
      "description": "IoT alert",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Alert properties",
          "$ref": "#/definitions/AlertPropertiesModel"
        },
        "systemData": {
          "readOnly": true,
          "type": "object",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AlertSeverity": {
      "type": "string",
      "readOnly": false,
      "description": "Alert Severity",
      "enum": [
        "Informational",
        "Low",
        "Medium",
        "High"
      ],
      "x-ms-enum": {
        "name": "alertSeverity",
        "modelAsString": true
      }
    },
    "AlertStatus": {
      "type": "string",
      "readOnly": false,
      "description": "Alert Status",
      "enum": [
        "New",
        "InProgress",
        "Closed"
      ],
      "x-ms-enum": {
        "name": "alertStatus",
        "modelAsString": true,
        "values": [
          {
            "value": "New"
          },
          {
            "value": "InProgress"
          },
          {
            "value": "Closed"
          }
        ]
      }
    },
    "AlertPropertiesModel": {
      "type": "object",
      "description": "IoT alert properties",
      "properties": {
        "systemAlertId": {
          "description": "Holds the product canonical identifier of the alert within the scope of a product",
          "readOnly": true,
          "type": "string",
          "example": "903e76ff-17eb-4bac-ac8a-2bc31ab68fd8"
        },
        "azureResourceId": {
          "description": "Display name of the device entity being reported on",
          "readOnly": true,
          "type": "string",
          "example": "device-1"
        },
        "alertType": {
          "description": "The type name of the alert",
          "readOnly": true,
          "type": "string",
          "example": "IoT_PrivilegedContainer"
        },
        "startTimeUtc": {
          "description": "The impact start time of the alert (the time of the first event or activity included in the alert)",
          "readOnly": true,
          "type": "string",
          "example": "2020-05-13T06:32:25Z"
        },
        "endTimeUtc": {
          "description": "The impact end time of the alert (the time of the last event or activity included in the alert)",
          "readOnly": true,
          "type": "string",
          "example": "2020-05-13T06:32:25Z"
        },
        "entities": {
          "description": "A list of entities related to the alert",
          "type": "array",
          "items": {
            "type": "object"
          },
          "example": [
            {
              "$id": "1",
              "CommandLine": "docker run --privileged",
              "Type": "process"
            }
          ]
        },
        "extendedProperties": {
          "type": "object",
          "description": "A bag of fields which extends the alert information",
          "example": {
            "CommandLine": "docker run --privileged",
            "User Name": "aUser",
            "UserId": "",
            "ParentProcessId": 1593,
            "DeviceId": "device-1"
          }
        },
        "severity": {
          "type": "string",
          "example": "Medium",
          "$ref": "#/definitions/AlertSeverity",
          "description": "The severity of the alert"
        },
        "intent": {
          "readOnly": true,
          "type": "string",
          "example": "Exploitation,Execution",
          "description": "Kill chain related intent behind the alert. Could contain multiple enum values (separated by commas)",
          "enum": [
            "Unknown",
            "PreAttack",
            "InitialAccess",
            "Persistence",
            "PrivilegeEscalation",
            "DefenseEvasion",
            "CredentialAccess",
            "Discovery",
            "LateralMovement",
            "Execution",
            "Collection",
            "Exfiltration",
            "CommandAndControl",
            "Impact",
            "Probing",
            "Exploitation"
          ],
          "x-ms-enum": {
            "name": "alertIntent",
            "modelAsString": true,
            "values": [
              {
                "value": "Unknown"
              },
              {
                "value": "PreAttack"
              },
              {
                "value": "InitialAccess"
              },
              {
                "value": "Persistence"
              },
              {
                "value": "PrivilegeEscalation"
              },
              {
                "value": "DefenseEvasion"
              },
              {
                "value": "CredentialAccess"
              },
              {
                "value": "Discovery"
              },
              {
                "value": "LateralMovement"
              },
              {
                "value": "Execution"
              },
              {
                "value": "Collection"
              },
              {
                "value": "Exfiltration"
              },
              {
                "value": "CommandAndControl"
              },
              {
                "value": "Impact"
              },
              {
                "value": "Probing"
              },
              {
                "value": "Exploitation"
              }
            ]
          }
        },
        "productComponentName": {
          "readOnly": true,
          "type": "string",
          "example": "IoT Hub",
          "description": "The name of a component inside the product which generated the alert"
        },
        "status": {
          "type": "string",
          "example": "New",
          "description": "The status of the alert",
          "$ref": "#/definitions/AlertStatus"
        },
        "techniques": {
          "description": "A list of of techniques that lead up to the intent/tactic",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TechniqueModel"
          },
          "example": [
            {
              "id": "T1005",
              "name": "Data from Local System",
              "description": "Adversaries may search local system sources, such as file systems or local databases, to find files of interest and sensitive data prior to Exfiltration.",
              "link": "https://attack.mitre.org/techniques/T1005"
            }
          ]
        }
      }
    },
    "AlertPatchPropertiesModel": {
      "type": "object",
      "description": "IoT alert properties",
      "properties": {
        "properties": {
          "type": "object",
          "description": "IoT alert properties",
          "properties": {
            "severity": {
              "type": "string",
              "example": "Medium",
              "description": "The severity of the alert",
              "$ref": "#/definitions/AlertSeverity"
            },
            "status": {
              "type": "string",
              "example": "New",
              "description": "The status of the alert",
              "$ref": "#/definitions/AlertStatus"
            }
          }
        }
      }
    },
    "TechniqueModel": {
      "type": "object",
      "description": "Technique properties",
      "properties": {
        "id": {
          "description": "Technique id",
          "readOnly": true,
          "type": "string",
          "example": "T1005"
        },
        "name": {
          "description": "Technique display name",
          "readOnly": true,
          "type": "string",
          "example": "Data from Local System"
        },
        "description": {
          "description": "Technique description",
          "readOnly": true,
          "type": "string",
          "example": "Adversaries may search local system sources, such as file systems or local databases, to find files of interest and sensitive data prior to Exfiltration."
        },
        "link": {
          "description": "Link to the technique in MITRE portal",
          "readOnly": true,
          "type": "string",
          "example": "https://attack.mitre.org/techniques/T1005"
        }
      }
    }
  },
  "parameters": {
    "DeviceGroupName": {
      "name": "deviceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Device group name",
      "x-ms-parameter-location": "method"
    },
    "AlertId": {
      "name": "alertId",
      "in": "path",
      "required": true,
      "description": "Alert Id",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "AlertPatchModel": {
      "name": "alertPatchModel",
      "in": "body",
      "required": true,
      "description": "IoT alert",
      "schema": {
        "$ref": "#/definitions/AlertPatchPropertiesModel"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
