{
  "swagger": "2.0",
  "info": {
    "title": "Azure Defender for IoT",
    "description": "API spec for Microsoft.IoTSecurity (Azure Defender for IoT) resource provider",
    "version": "2021-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/deviceGroups/{deviceGroupName}/recommendations": {
      "get": {
        "x-ms-examples": {
          "Get IoT Recommendations": {
            "$ref": "./examples/Recommendations/GetRecommendationList.json"
          }
        },
        "tags": [
          "IoT Security Recommendations"
        ],
        "description": "List IoT recommendations",
        "operationId": "IotRecommendations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/DeviceGroupName"
          },
          {
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "type": "string",
            "description": "Skip token used for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecommendationListModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/deviceGroups/{deviceGroupName}/recommendations/{recommendationId}": {
      "get": {
        "x-ms-examples": {
          "Get IoT Recommendation": {
            "$ref": "./examples/Recommendations/GetRecommendation.json"
          }
        },
        "tags": [
          "IoT Security Recommendations"
        ],
        "operationId": "IotRecommendations_Get",
        "description": "Get IoT recommendation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/DeviceGroupName"
          },
          {
            "$ref": "#/parameters/RecommendationId"
          }
        ],
        "responses": {
          "200": {
            "description": "IoT recommendation",
            "schema": {
              "$ref": "#/definitions/RecommendationModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RecommendationListModel": {
      "description": "List of IoT recommendations",
      "type": "object",
      "properties": {
        "value": {
          "description": "List data",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendationModel"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "When available, follow the URI to get the next page of data"
        }
      }
    },
    "RecommendationModel": {
      "type": "object",
      "description": "IoT recommendation",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Recommendation properties",
          "$ref": "#/definitions/RecommendationPropertiesModel"
        },
        "systemData": {
          "readOnly": true,
          "type": "object",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RecommendationPropertiesModel": {
      "type": "object",
      "description": "IoT recommendation properties",
      "properties": {
        "azureResourceId": {
          "description": "Azure Resource Identifier of the device being reported on",
          "readOnly": true,
          "type": "string",
          "example": "device-1"
        },
        "recommendationType": {
          "description": "The type name of the recommendation",
          "readOnly": true,
          "type": "string",
          "example": "IoT_PrivilegedContainer"
        },
        "discoveredTimeUtc": {
          "description": "The discovery time of the recommendation",
          "readOnly": true,
          "type": "string",
          "example": "2020-05-13T06:32:25Z"
        },
        "recommendationAdditionalData": {
          "type": "object",
          "description": "A bag of fields which extends the recommendation information",
          "example": {
            "SnapshotId": "48519d58-4e35-46cd-aed5-6251af95ed50",
            "TotalFailedRules": "7",
            "TotalRulesFailedDuoToError": "1",
            "TotalInformationalFailedRules": "2",
            "TotalCriticalFailedRules": "3",
            "TotalWarningFailedRules": "1"
          }
        },
        "severity": {
          "readOnly": true,
          "type": "string",
          "example": "Medium",
          "description": "The severity of the recommendation",
          "enum": [
            "Unknown",
            "NotApplicable",
            "Healthy",
            "OffByPolicy",
            "Low",
            "Medium",
            "High"
          ],
          "x-ms-enum": {
            "name": "recommendationSeverity",
            "modelAsString": true,
            "values": [
              {
                "value": "Unknown"
              },
              {
                "value": "NotApplicable"
              },
              {
                "value": "Healthy"
              },
              {
                "value": "OffByPolicy"
              },
              {
                "value": "Low"
              },
              {
                "value": "Medium"
              },
              {
                "value": "High"
              }
            ]
          }
        },
        "productComponentName": {
          "readOnly": true,
          "type": "string",
          "example": "IoT Hub",
          "description": "The name of a component inside the product which generated the recommendation"
        },
        "control": {
          "readOnly": true,
          "type": "string",
          "example": "Communication between device and IoT Hub is not optimized",
          "description": "The name of the recommendation's control category "
        }
      }
    }
  },
  "parameters": {
    "DeviceGroupName": {
      "name": "deviceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Device group name",
      "x-ms-parameter-location": "method"
    },
    "RecommendationId": {
      "name": "recommendationId",
      "in": "path",
      "required": true,
      "description": "Recommendation Id",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
