{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Nginx.NginxPlus management service",
    "version": "2025-03-01-preview",
    "description": "Microsoft.Nginx.NginxPlus Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "NginxDeployments"
    },
    {
      "name": "Certificates"
    },
    {
      "name": "Configurations"
    },
    {
      "name": "ApiKeys"
    },
    {
      "name": "WafPolicies"
    }
  ],
  "paths": {
    "/providers/NGINX.NGINXPLUS/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/NGINX.NGINXPLUS/nginxDeployments": {
      "get": {
        "operationId": "NginxDeployments_ListBySubscription",
        "tags": [
          "NginxDeployments"
        ],
        "description": "Lists all Nginx deployments in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NginxDeploymentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NginxDeployments_ListBySubscription_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/NginxDeployments_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments": {
      "get": {
        "operationId": "NginxDeployments_ListByResourceGroup",
        "tags": [
          "NginxDeployments"
        ],
        "description": "Lists all Nginx deployments in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NginxDeploymentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NginxDeployments_ListByResourceGroup_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/NginxDeployments_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}": {
      "get": {
        "operationId": "NginxDeployments_Get",
        "tags": [
          "NginxDeployments"
        ],
        "description": "Gets the properties of a specific Nginx deployment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NginxDeployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NginxDeployments_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/NginxDeployments_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "NginxDeployments_CreateOrUpdate",
        "tags": [
          "NginxDeployments"
        ],
        "description": "Creates or updates an Nginx deployment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NginxDeployment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NginxDeployment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NginxDeployment"
            }
          },
          "201": {
            "description": "Resource 'NginxDeployment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NginxDeployment"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NginxDeployments_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/NginxDeployments_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "NginxDeployments_Update",
        "tags": [
          "NginxDeployments"
        ],
        "description": "Updates an Nginx deployment with patch semantics.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NginxDeploymentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NginxDeployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NginxDeployments_Update_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/NginxDeployments_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "NginxDeployments_Delete",
        "tags": [
          "NginxDeployments"
        ],
        "description": "Deletes a specific Nginx deployment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NginxDeployments_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/NginxDeployments_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}/apiKeys": {
      "get": {
        "operationId": "ApiKeys_ListByDeployment",
        "tags": [
          "ApiKeys"
        ],
        "description": "Lists all API keys under the specified Nginx deployment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiKeyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiKeys_ListByDeployment_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApiKeys_ListByDeployment_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}/apiKeys/{apiKeyName}": {
      "get": {
        "operationId": "ApiKeys_Get",
        "tags": [
          "ApiKeys"
        ],
        "description": "Retrieves the properties of a specific API key.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "apiKeyName",
            "in": "path",
            "description": "The name of the API Key resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiKeys_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApiKeys_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ApiKeys_CreateOrUpdate",
        "tags": [
          "ApiKeys"
        ],
        "description": "Creates a new API key or replaces an existing one.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "apiKeyName",
            "in": "path",
            "description": "The name of the API Key resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The API key resource to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiKeyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiKeys_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApiKeys_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ApiKeys_Delete",
        "tags": [
          "ApiKeys"
        ],
        "description": "Deletes the specified API key.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "apiKeyName",
            "in": "path",
            "description": "The name of the API Key resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiKeys_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApiKeys_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}/certificates": {
      "get": {
        "operationId": "Certificates_ListByDeployment",
        "tags": [
          "Certificates"
        ],
        "description": "Lists all certificates in a parent deployment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_ListByDeployment_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Certificates_ListByDeployment_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}/certificates/{certificateName}": {
      "get": {
        "operationId": "Certificates_Get",
        "tags": [
          "Certificates"
        ],
        "description": "Gets the properties of a specific certificate.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of the Certificate",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Certificates_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Certificates_CreateOrUpdate",
        "tags": [
          "Certificates"
        ],
        "description": "Creates or updates a certificate.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of the Certificate",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Certificate' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "201": {
            "description": "Resource 'Certificate' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Certificate"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Certificates_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Certificates_Update",
        "tags": [
          "Certificates"
        ],
        "description": "Updates a certificate with patch semantics.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of the Certificate",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_Update_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Certificates_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Certificates_Delete",
        "tags": [
          "Certificates"
        ],
        "description": "Deletes a specific certificate.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of the Certificate",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Certificates_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}/configurations": {
      "get": {
        "operationId": "Configurations_ListByDeployment",
        "tags": [
          "Configurations"
        ],
        "description": "Lists all configurations in a parent deployment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_ListByDeployment_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Configurations_ListByDeployment_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}/configurations/{configurationName}": {
      "get": {
        "operationId": "Configurations_Get",
        "tags": [
          "Configurations"
        ],
        "description": "Retrieves the properties of a specific configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Configurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Configurations_CreateOrUpdate",
        "tags": [
          "Configurations"
        ],
        "description": "Creates or updates a configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The configuration resource to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NginxConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Configuration"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Configurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Configurations_Update",
        "tags": [
          "Configurations"
        ],
        "description": "Patches an existing configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_Update_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Configurations_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Configurations_Delete",
        "tags": [
          "Configurations"
        ],
        "description": "Deletes a specific configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configurations_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Configurations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}/configurations/{configurationName}/analyze": {
      "post": {
        "operationId": "Configurations_Analyze",
        "tags": [
          "Configurations"
        ],
        "description": "Analyzes a configuration for potential issues or optimizations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalysisCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AnalysisResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Analyze NGINX Configuration": {
            "$ref": "./examples/Configurations_Analyze.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}/listDefaultWafPolicies": {
      "post": {
        "operationId": "NginxDeployments_ListDefaultWafPolicies",
        "tags": [
          "NginxDeployments"
        ],
        "description": "Lists the default WAF policies for a deployment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NginxDeploymentDefaultWafPolicyListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NginxDeployments_ListDefaultWafPolicies_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/NginxDeployments_ListDefaultWafPolicies_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}/wafPolicies": {
      "get": {
        "operationId": "WafPolicies_ListByDeployment",
        "tags": [
          "WafPolicies"
        ],
        "description": "List all WAF policies in a deployment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NginxDeploymentWafPolicyMetadataListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WafPolicies_ListByDeployment_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/WafPolicies_ListByDeployment_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NGINX.NGINXPLUS/nginxDeployments/{nginxDeploymentName}/wafPolicies/{wafPolicyName}": {
      "get": {
        "operationId": "WafPolicies_Get",
        "tags": [
          "WafPolicies"
        ],
        "description": "Read a specific WAF policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "wafPolicyName",
            "in": "path",
            "description": "The name of the WafPolicy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WafPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WafPolicies_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/WafPolicies_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "WafPolicies_CreateOrUpdate",
        "tags": [
          "WafPolicies"
        ],
        "description": "Create or update a WAF policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "wafPolicyName",
            "in": "path",
            "description": "The name of the WafPolicy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WafPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'WafPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/WafPolicy"
            }
          },
          "201": {
            "description": "Resource 'WafPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/WafPolicy"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WafPolicies_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/WafPolicies_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "WafPolicies_Delete",
        "tags": [
          "WafPolicies"
        ],
        "description": "Delete a specific WAF policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "nginxDeploymentName",
            "in": "path",
            "description": "The name of the Nginx deployment resource.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$"
          },
          {
            "name": "wafPolicyName",
            "in": "path",
            "description": "The name of the WafPolicy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WafPolicies_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/WafPolicies_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ActivationState": {
      "type": "string",
      "description": "The activation state of the WAF.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ActivationState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "WAF is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "WAF is disabled."
          }
        ]
      }
    },
    "AnalysisConfig": {
      "type": "object",
      "description": "Configuration details for analysis.",
      "properties": {
        "rootFile": {
          "type": "string",
          "description": "The root file of the NGINX config file(s). It must match one of the files' filepath."
        },
        "files": {
          "type": "array",
          "description": "List of configuration files.",
          "items": {
            "$ref": "#/definitions/NginxConfigurationFile"
          },
          "x-ms-identifiers": []
        },
        "protectedFiles": {
          "type": "array",
          "description": "List of protected files.",
          "items": {
            "$ref": "#/definitions/NginxConfigurationProtectedFileContent"
          },
          "x-ms-identifiers": []
        },
        "package": {
          "$ref": "#/definitions/NginxConfigurationPackage",
          "description": "Configuration package details."
        }
      }
    },
    "AnalysisCreate": {
      "type": "object",
      "description": "The request body for creating an analysis for an NGINX configuration.",
      "properties": {
        "config": {
          "$ref": "#/definitions/AnalysisConfig",
          "description": "Configuration details for analysis."
        }
      },
      "required": [
        "config"
      ]
    },
    "AnalysisDiagnostic": {
      "type": "object",
      "description": "An error object found during the analysis of an NGINX configuration.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the error."
        },
        "directive": {
          "type": "string",
          "description": "The directive being analyzed."
        },
        "description": {
          "type": "string",
          "description": "Description of the error."
        },
        "file": {
          "type": "string",
          "description": "The filepath of the most relevant config file."
        },
        "line": {
          "type": "integer",
          "format": "int64",
          "description": "Line number where the error was found."
        },
        "message": {
          "type": "string",
          "description": "Error message."
        },
        "rule": {
          "type": "string",
          "description": "Rule that triggered the error."
        }
      },
      "required": [
        "directive",
        "description",
        "file",
        "line",
        "message",
        "rule"
      ]
    },
    "AnalysisResult": {
      "type": "object",
      "description": "The response body for an analysis request. Contains the status of the analysis and any errors.",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the analysis."
        },
        "data": {
          "$ref": "#/definitions/AnalysisResultContent",
          "description": "Analysis result data."
        }
      },
      "required": [
        "status"
      ]
    },
    "AnalysisResultContent": {
      "type": "object",
      "description": "Analysis result data containing errors and diagnostics.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "List of errors found during analysis.",
          "items": {
            "$ref": "#/definitions/AnalysisDiagnostic"
          }
        },
        "diagnostics": {
          "type": "array",
          "description": "List of diagnostics found during analysis.",
          "items": {
            "$ref": "#/definitions/DiagnosticItem"
          }
        }
      }
    },
    "ApiKey": {
      "type": "object",
      "description": "API key resource returned by the service.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApiKeyResponseProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ApiKeyListResult": {
      "type": "object",
      "description": "The response of a ApiKey list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApiKey items on this page",
          "items": {
            "$ref": "#/definitions/ApiKey"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApiKeyRequest": {
      "type": "object",
      "description": "Request payload for creating or updating an API key.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApiKeyRequestProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ApiKeyRequestProperties": {
      "type": "object",
      "description": "Properties for an API key request.",
      "properties": {
        "secretText": {
          "type": "string",
          "format": "password",
          "description": "The secret text for the API key",
          "x-ms-secret": true
        },
        "endDateTime": {
          "type": "string",
          "description": "Expiry of the key in UTC date-time format."
        }
      },
      "required": [
        "secretText",
        "endDateTime"
      ]
    },
    "ApiKeyResponseProperties": {
      "type": "object",
      "description": "Properties returned for an API key resource.",
      "properties": {
        "hint": {
          "type": "string",
          "description": "This is the name of the API key."
        },
        "endDateTime": {
          "type": "string",
          "description": "Expiry of the key in UTC date-time format."
        }
      },
      "required": [
        "hint",
        "endDateTime"
      ]
    },
    "AutoScaleSettings": {
      "type": "object",
      "description": "Auto-scale settings for the deployment.",
      "properties": {
        "profiles": {
          "type": "array",
          "description": "List of scale profiles.",
          "items": {
            "$ref": "#/definitions/ScaleProfile"
          }
        }
      },
      "required": [
        "profiles"
      ]
    },
    "AutoScaleSettingsUpdate": {
      "type": "object",
      "description": "Auto-scale settings for the deployment.",
      "properties": {
        "profiles": {
          "type": "array",
          "description": "List of scale profiles.",
          "items": {
            "$ref": "#/definitions/ScaleProfile"
          }
        }
      }
    },
    "AutoUpgradeProfile": {
      "type": "object",
      "description": "Auto-upgrade profile for the deployment.",
      "properties": {
        "upgradeChannel": {
          "type": "string",
          "description": "The upgrade channel."
        }
      },
      "required": [
        "upgradeChannel"
      ]
    },
    "AutoUpgradeProfileUpdate": {
      "type": "object",
      "description": "Auto-upgrade profile for the deployment.",
      "properties": {
        "upgradeChannel": {
          "type": "string",
          "description": "The upgrade channel."
        }
      }
    },
    "Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "Managed service identity (system assigned and/or user assigned identities)",
      "properties": {
        "type": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/UserAssignedIdentity",
            "x-nullable": true
          }
        }
      }
    },
    "Azure.ResourceManager.CommonTypes.SkuUpdate": {
      "type": "object",
      "description": "The resource model definition representing SKU",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SKU. Ex - P3. It is typically a letter+number code"
        },
        "tier": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/SkuTier",
          "description": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
        },
        "size": {
          "type": "string",
          "description": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code."
        },
        "family": {
          "type": "string",
          "description": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
        }
      }
    },
    "Azure.ResourceManager.ResourceSkuProperty": {
      "type": "object",
      "description": "The SKU (Stock Keeping Unit) assigned to this resource.",
      "properties": {
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      }
    },
    "Certificate": {
      "type": "object",
      "description": "NginxCertificate resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NginxCertificateProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CertificateListResult": {
      "type": "object",
      "description": "The response of a Certificate list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Certificate items on this page",
          "items": {
            "$ref": "#/definitions/Certificate"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CertificateUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Certificate.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CertificateUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "CertificateUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Certificate.",
      "properties": {
        "keyVirtualPath": {
          "type": "string",
          "description": "The virtual path to the key file. This is a path that would be used in an Nginx configuration file, for example, /etc/nginx/ssl/key.key."
        },
        "certificateVirtualPath": {
          "type": "string",
          "description": "The virtual path to the certificate file. This is a path that would be used in an Nginx configuration file, for example, /etc/nginx/ssl/cert.pem."
        },
        "keyVaultSecretId": {
          "type": "string",
          "format": "uri",
          "description": "The Key Vault secret ID. Example: `https://myvault.vault.azure.net/secrets/mysecret/1234567890abcdef1234567890abcdef`."
        },
        "sha1Thumbprint": {
          "type": "string",
          "description": "The SHA1 thumbprint of the certificate."
        },
        "keyVaultSecretVersion": {
          "type": "string",
          "description": "The Key Vault secret version."
        },
        "keyVaultSecretCreated": {
          "type": "string",
          "description": "The creation time of the Key Vault secret in UTC RFC 3339 format.\nExample: `2025-07-08T10:11:08.856Z`."
        },
        "certificateError": {
          "$ref": "#/definitions/NginxCertificateErrorResponseBody",
          "description": "Error details for the certificate, if any."
        }
      }
    },
    "Configuration": {
      "type": "object",
      "description": "Represents an Nginx configuration resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NginxConfigurationResponseProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ConfigurationListResult": {
      "type": "object",
      "description": "The response of a Configuration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Configuration items on this page",
          "items": {
            "$ref": "#/definitions/Configuration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConfigurationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Configuration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "ConfigurationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Configuration.",
      "properties": {
        "files": {
          "type": "array",
          "description": "List of configuration files.",
          "items": {
            "$ref": "#/definitions/NginxConfigurationFile"
          },
          "x-ms-identifiers": [
            "virtualPath"
          ]
        },
        "protectedFiles": {
          "type": "array",
          "description": "List of protected file requests.",
          "items": {
            "$ref": "#/definitions/NginxConfigurationProtectedFileContent"
          },
          "x-ms-identifiers": [
            "virtualPath"
          ]
        },
        "package": {
          "$ref": "#/definitions/NginxConfigurationPackage",
          "description": "Configuration package data."
        },
        "rootFile": {
          "type": "string",
          "description": "Root file path."
        }
      }
    },
    "DeploymentWafPolicyApplyingStatus": {
      "type": "object",
      "description": "Applying status for a WAF policy.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The apply status code. Can be any free form text"
        },
        "displayStatus": {
          "type": "string",
          "description": "The human-readable apply status."
        },
        "time": {
          "type": "string",
          "description": "The timestamp when apply status was recorded in UTC."
        }
      },
      "required": [
        "code",
        "displayStatus",
        "time"
      ]
    },
    "DeploymentWafPolicyCompilingStatus": {
      "type": "object",
      "description": "Compilation status for a WAF policy.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The compilation status code. Can be any free form text"
        },
        "displayStatus": {
          "type": "string",
          "description": "The human-readable compilation status."
        },
        "time": {
          "type": "string",
          "description": "The timestamp when compilation status was recorded in UTC timezone and RFC 3339 format.\nExample: `2025-07-08T10:11:08.856Z`."
        }
      },
      "required": [
        "code",
        "displayStatus",
        "time"
      ]
    },
    "DiagnosticItem": {
      "type": "object",
      "description": "A diagnostic is a message associated with an NGINX config. The Analyzer returns diagnostics with a level indicating the importance of the diagnostic with optional category.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the diagnostic error type. Generated by the analyzer as a free form text."
        },
        "directive": {
          "type": "string",
          "description": "The directive being analyzed. This is a free form text that can be used to identify the directive."
        },
        "description": {
          "type": "string",
          "description": "Description of the diagnostic."
        },
        "file": {
          "type": "string",
          "description": "The filepath of the most relevant config file."
        },
        "line": {
          "type": "integer",
          "format": "int64",
          "description": "Line number where the diagnostic was found."
        },
        "message": {
          "type": "string",
          "description": "Diagnostic message."
        },
        "rule": {
          "type": "string",
          "description": "Rule that triggered the diagnostic. Rule names can be any free form text that can be used to identify."
        },
        "level": {
          "$ref": "#/definitions/DiagnosticLevel",
          "description": "Warning or Info."
        },
        "category": {
          "type": "string",
          "description": "Category of warning like Best-practices, Recommendation, Security etc. Can be any free form text."
        }
      },
      "required": [
        "directive",
        "description",
        "file",
        "line",
        "message",
        "rule",
        "level"
      ]
    },
    "DiagnosticLevel": {
      "type": "string",
      "description": "Diagnostic level indicating the importance of the diagnostic.",
      "enum": [
        "Info",
        "Warning"
      ],
      "x-ms-enum": {
        "name": "DiagnosticLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "Info",
            "value": "Info",
            "description": "Information level diagnostic."
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "Warning level diagnostic."
          }
        ]
      }
    },
    "IdentityProperties": {
      "type": "object",
      "description": "Managed identity properties for the deployment.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID."
        },
        "type": {
          "$ref": "#/definitions/IdentityType",
          "description": "The identity type."
        },
        "userAssignedIdentities": {
          "type": "array",
          "description": "User-assigned identities.",
          "items": {
            "$ref": "#/definitions/UserIdentityProperties"
          },
          "x-ms-identifiers": [
            "principalId"
          ]
        }
      },
      "required": [
        "principalId",
        "tenantId",
        "type",
        "userAssignedIdentities"
      ]
    },
    "IdentityType": {
      "type": "string",
      "description": "The type of managed identity.",
      "enum": [
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned",
        "None"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned, UserAssigned",
            "description": "Both system and user assigned managed identities."
          },
          {
            "name": "None",
            "value": "None",
            "description": "No managed identity."
          }
        ]
      }
    },
    "NginxAppProtect": {
      "type": "object",
      "description": "Nginx App Protect configuration.",
      "properties": {
        "webApplicationFirewallSettings": {
          "$ref": "#/definitions/WebApplicationFirewallSettings",
          "description": "Web application firewall settings."
        },
        "webApplicationFirewallStatus": {
          "$ref": "#/definitions/WebApplicationFirewallStatus",
          "description": "Web application firewall status."
        }
      },
      "required": [
        "webApplicationFirewallSettings",
        "webApplicationFirewallStatus"
      ]
    },
    "NginxAppProtectUpdate": {
      "type": "object",
      "description": "Nginx App Protect configuration.",
      "properties": {
        "webApplicationFirewallSettings": {
          "$ref": "#/definitions/WebApplicationFirewallSettingsUpdate",
          "description": "Web application firewall settings."
        },
        "webApplicationFirewallStatus": {
          "$ref": "#/definitions/WebApplicationFirewallStatusUpdate",
          "description": "Web application firewall status."
        }
      }
    },
    "NginxCertificateErrorResponseBody": {
      "type": "object",
      "description": "Error details for a certificate resource.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      }
    },
    "NginxCertificateProperties": {
      "type": "object",
      "description": "Properties of an Nginx certificate resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the certificate.",
          "readOnly": true
        },
        "keyVirtualPath": {
          "type": "string",
          "description": "The virtual path to the key file. This is a path that would be used in an Nginx configuration file, for example, /etc/nginx/ssl/key.key."
        },
        "certificateVirtualPath": {
          "type": "string",
          "description": "The virtual path to the certificate file. This is a path that would be used in an Nginx configuration file, for example, /etc/nginx/ssl/cert.pem."
        },
        "keyVaultSecretId": {
          "type": "string",
          "format": "uri",
          "description": "The Key Vault secret ID. Example: `https://myvault.vault.azure.net/secrets/mysecret/1234567890abcdef1234567890abcdef`."
        },
        "sha1Thumbprint": {
          "type": "string",
          "description": "The SHA1 thumbprint of the certificate."
        },
        "keyVaultSecretVersion": {
          "type": "string",
          "description": "The Key Vault secret version."
        },
        "keyVaultSecretCreated": {
          "type": "string",
          "description": "The creation time of the Key Vault secret in UTC RFC 3339 format.\nExample: `2025-07-08T10:11:08.856Z`."
        },
        "certificateError": {
          "$ref": "#/definitions/NginxCertificateErrorResponseBody",
          "description": "Error details for the certificate, if any."
        }
      }
    },
    "NginxConfigurationFile": {
      "type": "object",
      "description": "Represents a configuration file.",
      "properties": {
        "content": {
          "type": "string",
          "description": "File content in Nginx configuration format, base64 encoded."
        },
        "virtualPath": {
          "type": "string",
          "description": "Virtual path of the file."
        }
      }
    },
    "NginxConfigurationPackage": {
      "type": "object",
      "description": "Represents a configuration package.",
      "properties": {
        "data": {
          "type": "string",
          "description": "Package data. This is base64 encoded content of the files archive."
        },
        "protectedFiles": {
          "type": "array",
          "description": "List of protected files in the package.\nThese are standard file paths relative to the archive uploaded",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NginxConfigurationProtectedFileContent": {
      "type": "object",
      "description": "Request model for a protected configuration file.",
      "properties": {
        "content": {
          "type": "string",
          "description": "File content in Nginx configuration format, UTF-8 encoded."
        },
        "virtualPath": {
          "type": "string",
          "description": "Virtual path of the file."
        },
        "contentHash": {
          "type": "string",
          "description": "Content hash of the file using SHA-256 algorithm."
        }
      }
    },
    "NginxConfigurationProtectedFileResult": {
      "type": "object",
      "description": "Response model for a protected configuration file.",
      "properties": {
        "virtualPath": {
          "type": "string",
          "description": "Virtual path of the file."
        },
        "contentHash": {
          "type": "string",
          "description": "Content hash of the file using SHA-256 algorithm."
        }
      }
    },
    "NginxConfigurationRequest": {
      "type": "object",
      "description": "Request model for creating or updating an Nginx configuration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NginxConfigurationRequestProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NginxConfigurationRequestProperties": {
      "type": "object",
      "description": "Properties for an Nginx configuration request.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the configuration.",
          "readOnly": true
        },
        "files": {
          "type": "array",
          "description": "List of configuration files.",
          "items": {
            "$ref": "#/definitions/NginxConfigurationFile"
          },
          "x-ms-identifiers": [
            "virtualPath"
          ]
        },
        "protectedFiles": {
          "type": "array",
          "description": "List of protected file requests.",
          "items": {
            "$ref": "#/definitions/NginxConfigurationProtectedFileContent"
          },
          "x-ms-identifiers": [
            "virtualPath"
          ]
        },
        "package": {
          "$ref": "#/definitions/NginxConfigurationPackage",
          "description": "Configuration package data."
        },
        "rootFile": {
          "type": "string",
          "description": "Root file path."
        }
      }
    },
    "NginxConfigurationResponseProperties": {
      "type": "object",
      "description": "Properties returned for an Nginx configuration resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the configuration.",
          "readOnly": true
        },
        "files": {
          "type": "array",
          "description": "List of configuration files.",
          "items": {
            "$ref": "#/definitions/NginxConfigurationFile"
          },
          "x-ms-identifiers": [
            "virtualPath"
          ]
        },
        "protectedFiles": {
          "type": "array",
          "description": "List of protected files.",
          "items": {
            "$ref": "#/definitions/NginxConfigurationProtectedFileResult"
          },
          "x-ms-identifiers": [
            "virtualPath"
          ]
        },
        "package": {
          "$ref": "#/definitions/NginxConfigurationPackage",
          "description": "Configuration package details."
        },
        "rootFile": {
          "type": "string",
          "description": "Root file of the configuration."
        }
      }
    },
    "NginxDeployment": {
      "type": "object",
      "description": "Represents an Nginx deployment resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NginxDeploymentProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "NginxDeploymentDefaultWafPolicy": {
      "type": "object",
      "description": "Default WAF policy for a deployment.",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "description": "The raw policy content, base64-encoded."
        },
        "filepath": {
          "type": "string",
          "description": "The file path where this policy would be placed."
        }
      },
      "required": [
        "content",
        "filepath"
      ]
    },
    "NginxDeploymentDefaultWafPolicyListResponse": {
      "type": "object",
      "description": "Response model for listing default WAF policies.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of default WAF policies.",
          "items": {
            "$ref": "#/definitions/NginxDeploymentDefaultWafPolicy"
          },
          "x-ms-identifiers": [
            "filepath"
          ]
        },
        "nextLink": {
          "type": "string",
          "description": "URL to fetch the next page of WAF policies."
        }
      },
      "required": [
        "value"
      ]
    },
    "NginxDeploymentListResponse": {
      "type": "object",
      "description": "Response model for listing Nginx deployments.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Nginx deployments.",
          "items": {
            "$ref": "#/definitions/NginxDeployment"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URL to fetch the next page of deployments."
        }
      },
      "required": [
        "value"
      ]
    },
    "NginxDeploymentListResult": {
      "type": "object",
      "description": "The response of a NginxDeployment list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NginxDeployment items on this page",
          "items": {
            "$ref": "#/definitions/NginxDeployment"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NginxDeploymentPatchProperties": {
      "type": "object",
      "description": "Patch properties for updating an Nginx deployment.",
      "properties": {
        "enableDiagnosticsSupport": {
          "type": "boolean",
          "description": "Whether diagnostics support is enabled."
        },
        "logging": {
          "$ref": "#/definitions/NginxLogging",
          "description": "Logging configuration."
        },
        "scalingProperties": {
          "$ref": "#/definitions/NginxDeploymentScalingProperties",
          "description": "Scaling properties."
        },
        "userProfile": {
          "$ref": "#/definitions/NginxDeploymentUserProfile",
          "description": "User profile."
        },
        "networkProfile": {
          "$ref": "#/definitions/NginxNetworkProfile",
          "description": "Network profile."
        },
        "autoUpgradeProfile": {
          "$ref": "#/definitions/AutoUpgradeProfile",
          "description": "Auto-upgrade profile."
        },
        "nginxAppProtect": {
          "$ref": "#/definitions/NginxAppProtect",
          "description": "Nginx App Protect configuration."
        }
      },
      "required": [
        "enableDiagnosticsSupport",
        "logging",
        "scalingProperties",
        "userProfile",
        "networkProfile",
        "autoUpgradeProfile",
        "nginxAppProtect"
      ]
    },
    "NginxDeploymentProperties": {
      "type": "object",
      "description": "Properties of an Nginx deployment.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the deployment.",
          "readOnly": true
        },
        "nginxVersion": {
          "type": "string",
          "description": "The Nginx version."
        },
        "networkProfile": {
          "$ref": "#/definitions/NginxNetworkProfile",
          "description": "The network profile."
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address of the deployment."
        },
        "enableDiagnosticsSupport": {
          "type": "boolean",
          "description": "Whether diagnostics support is enabled."
        },
        "logging": {
          "$ref": "#/definitions/NginxLogging",
          "description": "Logging configuration."
        },
        "scalingProperties": {
          "$ref": "#/definitions/NginxDeploymentScalingProperties",
          "description": "Scaling properties."
        },
        "autoUpgradeProfile": {
          "$ref": "#/definitions/AutoUpgradeProfile",
          "description": "Auto-upgrade profile."
        },
        "userProfile": {
          "$ref": "#/definitions/NginxDeploymentUserProfile",
          "description": "User profile."
        },
        "nginxAppProtect": {
          "$ref": "#/definitions/NginxAppProtect",
          "description": "Nginx App Protect configuration."
        },
        "dataplaneApiEndpoint": {
          "type": "string",
          "description": "Dataplane API endpoint."
        }
      },
      "required": [
        "nginxVersion",
        "networkProfile",
        "ipAddress",
        "enableDiagnosticsSupport",
        "logging",
        "scalingProperties",
        "autoUpgradeProfile",
        "userProfile",
        "nginxAppProtect",
        "dataplaneApiEndpoint"
      ]
    },
    "NginxDeploymentScalingProperties": {
      "type": "object",
      "description": "Scaling properties for the deployment.",
      "properties": {
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The capacity of the deployment."
        },
        "autoScaleSettings": {
          "$ref": "#/definitions/AutoScaleSettings",
          "description": "Auto-scale settings."
        }
      },
      "required": [
        "capacity",
        "autoScaleSettings"
      ]
    },
    "NginxDeploymentScalingPropertiesUpdate": {
      "type": "object",
      "description": "Scaling properties for the deployment.",
      "properties": {
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The capacity of the deployment."
        },
        "autoScaleSettings": {
          "$ref": "#/definitions/AutoScaleSettingsUpdate",
          "description": "Auto-scale settings."
        }
      }
    },
    "NginxDeploymentTag": {
      "type": "object",
      "description": "Represents a single tag for an Nginx deployment.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The tag name."
        },
        "value": {
          "type": "string",
          "description": "The tag value."
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "NginxDeploymentUpdate": {
      "type": "object",
      "description": "The type used for update operations of the NginxDeployment.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate",
          "description": "The managed service identities assigned to this resource."
        },
        "sku": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.SkuUpdate",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/NginxDeploymentUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "NginxDeploymentUpdateParameters": {
      "type": "object",
      "description": "Parameters for updating an Nginx deployment.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/IdentityProperties",
          "description": "The identity properties for the deployment."
        },
        "tags": {
          "type": "array",
          "description": "Resource tags.",
          "items": {
            "$ref": "#/definitions/NginxDeploymentTag"
          }
        },
        "sku": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceSkuProperty",
[...]
