{
  "swagger": "2.0",
  "info": {
    "version": "2017-02-27-preview",
    "title": "BillingClient",
    "description": "Billing client provides access to billing resources for Azure Web-Direct subscrions. Other subscription types which were not purchased directly through the Azure web portal are not currently supported through this preview API."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_List",
        "description": "Lists the available invoices for a subscritpion in reverse chronological order beginning with the most recent one.",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=842057"
        },
        "x-ms-examples": {
					"InvoicesList": {
    				"$ref": "../examples/InvoicesList.json" 
        	},
					"InvoicesExpand": {
    				"$ref": "../examples/InvoicesExpand.json" 
        	}
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "$filter may be used to filter invoices by invoicePeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "$top may be used to limit the number of results to the most recent N invoices."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "The number of items to skip over before returning elements."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "$expand may be used to expand the downloadUrl property within a list of invoices. This enables download links to be generated for multiple invoices at once."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoicesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/{invoiceName}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_Get",
        "description": "Gets a named invoice resource. When getting a single invoice, the downloadUrl property is expanded automatically.",
        "x-ms-examples": {
					"InvoicesGet": {
    				"$ref": "../examples/InvoicesGet.json" 
        	}
        },
        "parameters": [
          {
            "name": "invoiceName", 
            "in": "path",
            "description": "The name of an invoice resource.",
            "required": true,
            "type": "string"
          },   
          {                                 
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
                "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/latest": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_GetLatest",
        "description": "Gets the most recent invoice. When getting a single invoice, the downloadUrl property is expanded automatically.",
        "x-ms-examples": {
					"InvoicesGetLatest": {
    				"$ref": "../examples/InvoicesGetLatest.json" 
        	}
        },
        "parameters": [
          {                                 
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
                "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Invoice": {
      "description": "An invoice resource can be used download a PDF version of an invoice.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InvoiceProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "DownloadUrl": {
      "description": "Secure URL that can be used temporarily to download a PDF invoice. May be null if returned from a list operation.",
      "properties": {
        "expiryTime": {
          "description": "The time in UTC at which this download link will expire.",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "url": {
            "description": "The URL to the PDF file.",
            "readOnly": true,
            "type": "string"
        }
      }
    },
    "InvoiceProperties":{
      "description": "The properties of the invoice.",
      "properties": {
        "invoicePeriodStartDate": {
          "description": "The start of the date range covered by the invoice.",
          "readOnly": true,
          "type": "string",
          "format": "date"
        },
        "invoicePeriodEndDate": {
          "description": "The end of the date range covered by the invoice.",
          "readOnly": true,
          "type": "string",
          "format": "date"
        },
        "downloadUrl": {
          "$ref": "#/definitions/DownloadUrl"
        }
      }
    },
    "InvoicesListResult": {
      "description": "Result of the request to list invoices. It contains a list of available invoices in reverse chronological order.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Invoice"
          },
          "description": "The list of invoices."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "the link (url) to the next page of results."
        }
      }
    },
    "ErrorResponse": {
      "description": "Error reponse indicates service is not able to process the incoming request. The reason is provided in the error message.",
        "type": "object",
        "properties": {
          "error": {
            "description": "The details of the error.",
            "properties": {
              "code": {
                "description": "Error code.",
                "type": "string"
              },
              "message": {
                "description": "Error message indicating why the operation failed.",
                "type": "string"
              }
            }
          }
        }
      }
    },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. Current version is 2017-02-27-preview."
    }
  }
}