{
  "swagger": "2.0",
  "info": {
    "title": "Azure CIS FRP",
    "version": "2024-06-24-preview",
    "description": "Dns Service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AddressRecord"
    },
    {
      "name": "ApSlbVip"
    },
    {
      "name": "CanonicalNameRecord"
    },
    {
      "name": "PtrRecord"
    },
    {
      "name": "ServiceRecord"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCis/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations AddressRecord": {
            "$ref": "./examples/AddressRecord_Operations.json"
          },
          "List Operations ApSlbVip": {
            "$ref": "./examples/ApSlbVip_Operations.json"
          },
          "List Operations CanonicalNameRecord": {
            "$ref": "./examples/CanonicalNameRecord_Operations.json"
          },
          "List Operations PtrRecord": {
            "$ref": "./examples/PtrRecord_Operations.json"
          },
          "List Operations ServiceRecord": {
            "$ref": "./examples/ServiceRecord_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/addressRecords": {
      "get": {
        "operationId": "AddressRecord_ListBySubscription",
        "tags": [
          "AddressRecord"
        ],
        "description": "List AddressRecordResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AddressRecordResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription AddressRecord": {
            "$ref": "./examples/AddressRecord_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/apSlbVips": {
      "get": {
        "operationId": "ApSlbVip_ListBySubscription",
        "tags": [
          "ApSlbVip"
        ],
        "description": "List ApSlbVipResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApSlbVipResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription ApSlbVip": {
            "$ref": "./examples/ApSlbVip_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/canonicalNameRecords": {
      "get": {
        "operationId": "CanonicalNameRecord_ListBySubscription",
        "tags": [
          "CanonicalNameRecord"
        ],
        "description": "List CanonicalNameRecordResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CanonicalNameRecordResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription CanonicalNameRecord": {
            "$ref": "./examples/CanonicalNameRecord_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/ptrRecords": {
      "get": {
        "operationId": "PtrRecord_ListBySubscription",
        "tags": [
          "PtrRecord"
        ],
        "description": "List PtrRecordResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PtrRecordResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription PtrRecord": {
            "$ref": "./examples/PtrRecord_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/serviceRecords": {
      "get": {
        "operationId": "ServiceRecord_ListBySubscription",
        "tags": [
          "ServiceRecord"
        ],
        "description": "List ServiceRecordResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceRecordResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription ServiceRecord": {
            "$ref": "./examples/ServiceRecord_ListBySubscriptions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/addressRecords": {
      "get": {
        "operationId": "AddressRecord_ListByResourceGroup",
        "tags": [
          "AddressRecord"
        ],
        "description": "List AddressRecordResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AddressRecordResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup AddressRecord": {
            "$ref": "./examples/AddressRecord_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/addressRecords/{resourceName}": {
      "get": {
        "operationId": "AddressRecord_Get",
        "tags": [
          "AddressRecord"
        ],
        "description": "Get a AddressRecordResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AddressRecordResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get AddressRecord": {
            "$ref": "./examples/AddressRecord_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AddressRecord_CreateOrUpdate",
        "tags": [
          "AddressRecord"
        ],
        "description": "Create a AddressRecordResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressRecordResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AddressRecordResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AddressRecordResource"
            }
          },
          "201": {
            "description": "Resource 'AddressRecordResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AddressRecordResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create AddressRecord": {
            "$ref": "./examples/AddressRecord_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/apSlbVips": {
      "get": {
        "operationId": "ApSlbVip_ListByResourceGroup",
        "tags": [
          "ApSlbVip"
        ],
        "description": "List ApSlbVipResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApSlbVipResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup ApSlbVip": {
            "$ref": "./examples/ApSlbVip_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/apSlbVips/{resourceName}": {
      "get": {
        "operationId": "ApSlbVip_Get",
        "tags": [
          "ApSlbVip"
        ],
        "description": "Get a ApSlbVipResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApSlbVipResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ApSlbVip": {
            "$ref": "./examples/ApSlbVip_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ApSlbVip_CreateOrUpdate",
        "tags": [
          "ApSlbVip"
        ],
        "description": "Create a ApSlbVipResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApSlbVipResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApSlbVipResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApSlbVipResource"
            }
          },
          "201": {
            "description": "Resource 'ApSlbVipResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApSlbVipResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create ApSlbVip": {
            "$ref": "./examples/ApSlbVip_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/canonicalNameRecords": {
      "get": {
        "operationId": "CanonicalNameRecord_ListByResourceGroup",
        "tags": [
          "CanonicalNameRecord"
        ],
        "description": "List CanonicalNameRecordResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CanonicalNameRecordResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup CanonicalNameRecord": {
            "$ref": "./examples/CanonicalNameRecord_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/canonicalNameRecords/{resourceName}": {
      "get": {
        "operationId": "CanonicalNameRecord_Get",
        "tags": [
          "CanonicalNameRecord"
        ],
        "description": "Get a CanonicalNameRecordResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CanonicalNameRecordResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get CanonicalNameRecord": {
            "$ref": "./examples/CanonicalNameRecord_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CanonicalNameRecord_CreateOrUpdate",
        "tags": [
          "CanonicalNameRecord"
        ],
        "description": "Create a CanonicalNameRecordResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CanonicalNameRecordResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CanonicalNameRecordResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CanonicalNameRecordResource"
            }
          },
          "201": {
            "description": "Resource 'CanonicalNameRecordResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CanonicalNameRecordResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create CanonicalNameRecord": {
            "$ref": "./examples/CanonicalNameRecord_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/ptrRecords": {
      "get": {
        "operationId": "PtrRecord_ListByResourceGroup",
        "tags": [
          "PtrRecord"
        ],
        "description": "List PtrRecordResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PtrRecordResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup PtrRecord": {
            "$ref": "./examples/PtrRecord_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/ptrRecords/{resourceName}": {
      "get": {
        "operationId": "PtrRecord_Get",
        "tags": [
          "PtrRecord"
        ],
        "description": "Get a PtrRecordResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PtrRecordResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get PtrRecord": {
            "$ref": "./examples/PtrRecord_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PtrRecord_CreateOrUpdate",
        "tags": [
          "PtrRecord"
        ],
        "description": "Create a PtrRecordResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PtrRecordResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PtrRecordResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PtrRecordResource"
            }
          },
          "201": {
            "description": "Resource 'PtrRecordResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PtrRecordResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create PtrRecord": {
            "$ref": "./examples/PtrRecord_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/serviceRecords": {
      "get": {
        "operationId": "ServiceRecord_ListByResourceGroup",
        "tags": [
          "ServiceRecord"
        ],
        "description": "List ServiceRecordResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceRecordResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup ServiceRecord": {
            "$ref": "./examples/ServiceRecord_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/serviceRecords/{resourceName}": {
      "get": {
        "operationId": "ServiceRecord_Get",
        "tags": [
          "ServiceRecord"
        ],
        "description": "Get a ServiceRecordResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceRecordResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ServiceRecord": {
            "$ref": "./examples/ServiceRecord_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ServiceRecord_CreateOrUpdate",
        "tags": [
          "ServiceRecord"
        ],
        "description": "Create a ServiceRecordResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceRecordResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ServiceRecordResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceRecordResource"
            }
          },
          "201": {
            "description": "Resource 'ServiceRecordResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceRecordResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create ServiceRecord": {
            "$ref": "./examples/ServiceRecord_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AddressRecordProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "AddressRecordProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "AddressRecordResource": {
      "type": "object",
      "description": "AddressRecord Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddressRecordResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AddressRecordResourceListResult": {
      "type": "object",
      "description": "The response of a AddressRecordResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AddressRecordResource items on this page",
          "items": {
            "$ref": "#/definitions/AddressRecordResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AddressRecordResourceProperties": {
      "type": "object",
      "description": "AddressRecord properties",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "Gets or sets the dns name"
        },
        "ipAddress": {
          "type": "string",
          "description": "Gets or sets the IP Address in String format"
        },
        "ttl": {
          "type": "string",
          "description": "Gets or sets the ttl"
        },
        "provisioningState": {
          "$ref": "#/definitions/AddressRecordProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "dnsName",
        "ipAddress",
        "ttl"
      ]
    },
    "ApSlbVipProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ApSlbVipProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "ApSlbVipResource": {
      "type": "object",
      "description": "ApSlbVip Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApSlbVipResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ApSlbVipResourceListResult": {
      "type": "object",
      "description": "The response of a ApSlbVipResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApSlbVipResource items on this page",
          "items": {
            "$ref": "#/definitions/ApSlbVipResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApSlbVipResourceProperties": {
      "type": "object",
      "description": "ApSlbVip properties",
      "properties": {
        "apDnsName": {
          "type": "string",
          "description": "Gets or sets the Ap Dns name. This is case-insensitive"
        },
        "provisioningState": {
          "$ref": "#/definitions/ApSlbVipProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "apDnsName"
      ]
    },
    "CanonicalNameRecordProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "CanonicalNameRecordProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "CanonicalNameRecordResource": {
      "type": "object",
      "description": "CanonicalNameRecord Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CanonicalNameRecordResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CanonicalNameRecordResourceListResult": {
      "type": "object",
      "description": "The response of a CanonicalNameRecordResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CanonicalNameRecordResource items on this page",
          "items": {
            "$ref": "#/definitions/CanonicalNameRecordResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CanonicalNameRecordResourceProperties": {
      "type": "object",
      "description": "CanonicalNameRecord properties",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "Gets or sets the dns name"
        },
        "canonicalName": {
          "type": "string",
          "description": "Gets or sets the canonical name"
        },
        "ttl": {
          "type": "string",
          "description": "Gets or sets the ttl"
        },
        "provisioningState": {
          "$ref": "#/definitions/CanonicalNameRecordProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "dnsName",
        "canonicalName",
        "ttl"
      ]
    },
    "PtrRecordProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "PtrRecordProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "PtrRecordResource": {
      "type": "object",
      "description": "PtrRecord Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PtrRecordResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PtrRecordResourceListResult": {
      "type": "object",
      "description": "The response of a PtrRecordResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PtrRecordResource items on this page",
          "items": {
            "$ref": "#/definitions/PtrRecordResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PtrRecordResourceProperties": {
      "type": "object",
      "description": "PtrRecord properties",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "Gets or sets the dns name"
        },
        "pointsTo": {
          "type": "string",
          "description": "Gets or sets the IP Address in String format"
        },
        "ttl": {
          "type": "string",
          "description": "Gets or sets the ttl"
        },
        "provisioningState": {
          "$ref": "#/definitions/PtrRecordProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "dnsName",
        "pointsTo",
        "ttl"
      ]
    },
    "ServiceRecordProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ServiceRecordProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "ServiceRecordResource": {
      "type": "object",
      "description": "ServiceRecord Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceRecordResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ServiceRecordResourceListResult": {
      "type": "object",
      "description": "The response of a ServiceRecordResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ServiceRecordResource items on this page",
          "items": {
            "$ref": "#/definitions/ServiceRecordResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ServiceRecordResourceProperties": {
      "type": "object",
      "description": "ServiceRecord properties",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "Gets or sets the dns name"
        },
        "priority": {
          "type": "string",
          "description": "Gets or sets the priority field of a service record"
        },
        "weight": {
          "type": "string",
          "description": "Gets or sets the weight field of a service record"
        },
        "port": {
          "type": "string",
          "description": "Gets or sets the port field of a service record"
        },
        "canonicalName": {
          "type": "string",
          "description": "Gets or sets the canonical hostname of the target machine providing the service"
        },
        "ttl": {
          "type": "string",
          "description": "Gets or sets the ttl"
        },
        "provisioningState": {
          "$ref": "#/definitions/ServiceRecordProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "dnsName",
        "priority",
        "weight",
        "port",
        "canonicalName",
        "ttl"
      ]
    }
  },
  "parameters": {}
}
