{
  "swagger": "2.0",
  "info": {
    "title": "dSCM Service",
    "version": "2024-06-24-preview",
    "description": "https://eng.ms/docs/products/azcis-resource-provisioning/template-user-guide/resources/dscm",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DsmsAllowlist"
    },
    {
      "name": "DsmsRootFolder"
    },
    {
      "name": "DstsApplications"
    },
    {
      "name": "DstsServiceAccount"
    },
    {
      "name": "DstsServiceAccountGroup"
    },
    {
      "name": "DstsServiceClientIdentity"
    },
    {
      "name": "DstsManagedServiceClientIdentityGroup"
    },
    {
      "name": "DstsSubjectNameBasedServiceClientIdentityGroup"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCis/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations DsmsAllowlist": {
            "$ref": "./examples/DsmsAllowlist_Operations.json"
          },
          "List Operations DsmsRootFolder": {
            "$ref": "./examples/DsmsRootFolder_Operations.json"
          },
          "List Operations DstsApplication": {
            "$ref": "./examples/DstsApplications_Operations.json"
          },
          "List Operations DstsManagedServiceClientIdentityGroup": {
            "$ref": "./examples/DstsManagedServiceClientIdentityGroup_Operations.json"
          },
          "List Operations DstsServiceAccount": {
            "$ref": "./examples/DstsServiceAccount_Operations.json"
          },
          "List Operations DstsServiceAccountGroup": {
            "$ref": "./examples/DstsServiceAccountGroup_Operations.json"
          },
          "List Operations DstsServiceClientIdentity": {
            "$ref": "./examples/DstsServiceClientIdentity_Operations.json"
          },
          "List Operations DstsSubjectNameBasedServiceClientIdentityGroup": {
            "$ref": "./examples/DstsSubjectNameBasedServiceClientIdentityGroup_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dsmsAllowlists": {
      "get": {
        "operationId": "DsmsAllowlist_ListBySubscription",
        "tags": [
          "DsmsAllowlist"
        ],
        "description": "List DsmsAllowlistResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DsmsAllowlistResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DsmsAllowlist": {
            "$ref": "./examples/DsmsAllowlist_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dsmsRootFolders": {
      "get": {
        "operationId": "DsmsRootFolder_ListBySubscription",
        "tags": [
          "DsmsRootFolder"
        ],
        "description": "List DsmsRootFolderResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DsmsRootFolderResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DsmsRootFolder": {
            "$ref": "./examples/DsmsRootFolder_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dstsApplications": {
      "get": {
        "operationId": "DstsApplications_ListBySubscription",
        "tags": [
          "DstsApplications"
        ],
        "description": "List DstsApplicationResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsApplicationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DstsApplication": {
            "$ref": "./examples/DstsApplications_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dstsManagedServiceClientIdentityGroups": {
      "get": {
        "operationId": "DstsManagedServiceClientIdentityGroup_ListBySubscription",
        "tags": [
          "DstsManagedServiceClientIdentityGroup"
        ],
        "description": "List DstsManagedServiceClientIdentityGroupResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsManagedServiceClientIdentityGroupResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DstsManagedServiceClientIdentityGroup": {
            "$ref": "./examples/DstsManagedServiceClientIdentityGroup_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dstsServiceAccountGroups": {
      "get": {
        "operationId": "DstsServiceAccountGroup_ListBySubscription",
        "tags": [
          "DstsServiceAccountGroup"
        ],
        "description": "List DstsServiceAccountGroupResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountGroupResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DstsServiceAccountGroup": {
            "$ref": "./examples/DstsServiceAccountGroup_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dstsServiceAccounts": {
      "get": {
        "operationId": "DstsServiceAccount_ListBySubscription",
        "tags": [
          "DstsServiceAccount"
        ],
        "description": "List DstsServiceAccountResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DstsServiceAccount": {
            "$ref": "./examples/DstsServiceAccount_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dstsServiceClientIdentities": {
      "get": {
        "operationId": "DstsServiceClientIdentity_ListBySubscription",
        "tags": [
          "DstsServiceClientIdentity"
        ],
        "description": "List DstsServiceClientIdentityResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceClientIdentityResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DstsServiceClientIdentity": {
            "$ref": "./examples/DstsServiceClientIdentity_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dstsSubjectNameBasedServiceClientIdentityGroups": {
      "get": {
        "operationId": "DstsSubjectNameBasedServiceClientIdentityGroup_ListBySubscription",
        "tags": [
          "DstsSubjectNameBasedServiceClientIdentityGroup"
        ],
        "description": "List DstsSubjectNameBasedServiceClientIdentityGroupResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsSubjectNameBasedServiceClientIdentityGroupResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DstsSubjectNameBasedServiceClientIdentityGroup": {
            "$ref": "./examples/DstsSubjectNameBasedServiceClientIdentityGroup_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dsmsAllowlists": {
      "get": {
        "operationId": "DsmsAllowlist_ListByResourceGroup",
        "tags": [
          "DsmsAllowlist"
        ],
        "description": "List DsmsAllowlistResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DsmsAllowlistResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DsmsAllowlist": {
            "$ref": "./examples/DsmsAllowlist_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dsmsAllowlists/{resourceName}": {
      "get": {
        "operationId": "DsmsAllowlist_Get",
        "tags": [
          "DsmsAllowlist"
        ],
        "description": "Get a DsmsAllowlistResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DsmsAllowlistResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DsmsAllowlist": {
            "$ref": "./examples/DsmsAllowlist_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DsmsAllowlist_CreateOrUpdate",
        "tags": [
          "DsmsAllowlist"
        ],
        "description": "Create a DsmsAllowlistResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DsmsAllowlistResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DsmsAllowlistResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DsmsAllowlistResource"
            }
          },
          "201": {
            "description": "Resource 'DsmsAllowlistResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DsmsAllowlistResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DsmsAllowlist": {
            "$ref": "./examples/DsmsAllowlist_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dsmsRootFolders": {
      "get": {
        "operationId": "DsmsRootFolder_ListByResourceGroup",
        "tags": [
          "DsmsRootFolder"
        ],
        "description": "List DsmsRootFolderResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DsmsRootFolderResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DsmsRootFolder": {
            "$ref": "./examples/DsmsRootFolder_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dsmsRootFolders/{resourceName}": {
      "get": {
        "operationId": "DsmsRootFolder_Get",
        "tags": [
          "DsmsRootFolder"
        ],
        "description": "Get a DsmsRootFolderResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DsmsRootFolderResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DsmsRootFolder": {
            "$ref": "./examples/DsmsRootFolder_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DsmsRootFolder_CreateOrUpdate",
        "tags": [
          "DsmsRootFolder"
        ],
        "description": "Create a DsmsRootFolderResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DsmsRootFolderResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DsmsRootFolderResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DsmsRootFolderResource"
            }
          },
          "201": {
            "description": "Resource 'DsmsRootFolderResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DsmsRootFolderResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DsmsRootFolder": {
            "$ref": "./examples/DsmsRootFolder_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsApplications": {
      "get": {
        "operationId": "DstsApplications_ListByResourceGroup",
        "tags": [
          "DstsApplications"
        ],
        "description": "List DstsApplicationResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsApplicationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DstsApplication": {
            "$ref": "./examples/DstsApplications_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsApplications/{resourceName}": {
      "get": {
        "operationId": "DstsApplications_Get",
        "tags": [
          "DstsApplications"
        ],
        "description": "Get a DstsApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsApplicationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DstsApplication": {
            "$ref": "./examples/DstsApplications_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DstsApplications_CreateOrUpdate",
        "tags": [
          "DstsApplications"
        ],
        "description": "Create a DstsApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstsApplicationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DstsApplicationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsApplicationResource"
            }
          },
          "201": {
            "description": "Resource 'DstsApplicationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsApplicationResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DstsApplication": {
            "$ref": "./examples/DstsApplications_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsManagedServiceClientIdentityGroups": {
      "get": {
        "operationId": "DstsManagedServiceClientIdentityGroup_ListByResourceGroup",
        "tags": [
          "DstsManagedServiceClientIdentityGroup"
        ],
        "description": "List DstsManagedServiceClientIdentityGroupResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsManagedServiceClientIdentityGroupResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DstsManagedServiceClientIdentityGroup": {
            "$ref": "./examples/DstsManagedServiceClientIdentityGroup_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsManagedServiceClientIdentityGroups/{resourceName}": {
      "get": {
        "operationId": "DstsManagedServiceClientIdentityGroup_Get",
        "tags": [
          "DstsManagedServiceClientIdentityGroup"
        ],
        "description": "Get a DstsManagedServiceClientIdentityGroupResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsManagedServiceClientIdentityGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DstsManagedServiceClientIdentityGroup": {
            "$ref": "./examples/DstsManagedServiceClientIdentityGroup_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DstsManagedServiceClientIdentityGroup_CreateOrUpdate",
        "tags": [
          "DstsManagedServiceClientIdentityGroup"
        ],
        "description": "Create a DstsManagedServiceClientIdentityGroupResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstsManagedServiceClientIdentityGroupResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DstsManagedServiceClientIdentityGroupResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsManagedServiceClientIdentityGroupResource"
            }
          },
          "201": {
            "description": "Resource 'DstsManagedServiceClientIdentityGroupResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsManagedServiceClientIdentityGroupResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DstsManagedServiceClientIdentityGroup": {
            "$ref": "./examples/DstsManagedServiceClientIdentityGroup_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsServiceAccountGroups": {
      "get": {
        "operationId": "DstsServiceAccountGroup_ListByResourceGroup",
        "tags": [
          "DstsServiceAccountGroup"
        ],
        "description": "List DstsServiceAccountGroupResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountGroupResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DstsServiceAccountGroup": {
            "$ref": "./examples/DstsServiceAccountGroup_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsServiceAccountGroups/{resourceName}": {
      "get": {
        "operationId": "DstsServiceAccountGroup_Get",
        "tags": [
          "DstsServiceAccountGroup"
        ],
        "description": "Get a DstsServiceAccountGroupResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DstsServiceAccountGroup": {
            "$ref": "./examples/DstsServiceAccountGroup_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DstsServiceAccountGroup_CreateOrUpdate",
        "tags": [
          "DstsServiceAccountGroup"
        ],
        "description": "Create a DstsServiceAccountGroupResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountGroupResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DstsServiceAccountGroupResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountGroupResource"
            }
          },
          "201": {
            "description": "Resource 'DstsServiceAccountGroupResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountGroupResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DstsServiceAccountGroup": {
            "$ref": "./examples/DstsServiceAccountGroup_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsServiceAccounts": {
      "get": {
        "operationId": "DstsServiceAccount_ListByResourceGroup",
        "tags": [
          "DstsServiceAccount"
        ],
        "description": "List DstsServiceAccountResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DstsServiceAccount": {
            "$ref": "./examples/DstsServiceAccount_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsServiceAccounts/{resourceName}": {
      "get": {
        "operationId": "DstsServiceAccount_Get",
        "tags": [
          "DstsServiceAccount"
        ],
        "description": "Get a DstsServiceAccountResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.-]{3,255}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DstsServiceAccount": {
            "$ref": "./examples/DstsServiceAccount_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DstsServiceAccount_CreateOrUpdate",
        "tags": [
          "DstsServiceAccount"
        ],
        "description": "Create a DstsServiceAccountResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.-]{3,255}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DstsServiceAccountResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountResource"
            }
          },
          "201": {
            "description": "Resource 'DstsServiceAccountResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsServiceAccountResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DstsServiceAccount": {
            "$ref": "./examples/DstsServiceAccount_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsServiceClientIdentities": {
      "get": {
        "operationId": "DstsServiceClientIdentity_ListByResourceGroup",
        "tags": [
          "DstsServiceClientIdentity"
        ],
        "description": "List DstsServiceClientIdentityResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceClientIdentityResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DstsServiceClientIdentity": {
            "$ref": "./examples/DstsServiceClientIdentity_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsServiceClientIdentities/{resourceName}": {
      "get": {
        "operationId": "DstsServiceClientIdentity_Get",
        "tags": [
          "DstsServiceClientIdentity"
        ],
        "description": "Get a DstsServiceClientIdentityResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsServiceClientIdentityResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DstsServiceClientIdentity": {
            "$ref": "./examples/DstsServiceClientIdentity_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DstsServiceClientIdentity_CreateOrUpdate",
        "tags": [
          "DstsServiceClientIdentity"
        ],
        "description": "Create a DstsServiceClientIdentityResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstsServiceClientIdentityResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DstsServiceClientIdentityResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsServiceClientIdentityResource"
            }
          },
          "201": {
            "description": "Resource 'DstsServiceClientIdentityResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsServiceClientIdentityResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DstsServiceClientIdentity": {
            "$ref": "./examples/DstsServiceClientIdentity_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsSubjectNameBasedServiceClientIdentityGroups": {
      "get": {
        "operationId": "DstsSubjectNameBasedServiceClientIdentityGroup_ListByResourceGroup",
        "tags": [
          "DstsSubjectNameBasedServiceClientIdentityGroup"
        ],
        "description": "List DstsSubjectNameBasedServiceClientIdentityGroupResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsSubjectNameBasedServiceClientIdentityGroupResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DstsSubjectNameBasedServiceClientIdentityGroup": {
            "$ref": "./examples/DstsSubjectNameBasedServiceClientIdentityGroup_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsSubjectNameBasedServiceClientIdentityGroups/{resourceName}": {
      "get": {
        "operationId": "DstsSubjectNameBasedServiceClientIdentityGroup_Get",
        "tags": [
          "DstsSubjectNameBasedServiceClientIdentityGroup"
        ],
        "description": "Get a DstsSubjectNameBasedServiceClientIdentityGroupResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsSubjectNameBasedServiceClientIdentityGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DstsSubjectNameBasedServiceClientIdentityGroup": {
            "$ref": "./examples/DstsSubjectNameBasedServiceClientIdentityGroup_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DstsSubjectNameBasedServiceClientIdentityGroup_CreateOrUpdate",
        "tags": [
          "DstsSubjectNameBasedServiceClientIdentityGroup"
        ],
        "description": "Create a DstsSubjectNameBasedServiceClientIdentityGroupResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstsSubjectNameBasedServiceClientIdentityGroupResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DstsSubjectNameBasedServiceClientIdentityGroupResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsSubjectNameBasedServiceClientIdentityGroupResource"
            }
          },
          "201": {
            "description": "Resource 'DstsSubjectNameBasedServiceClientIdentityGroupResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsSubjectNameBasedServiceClientIdentityGroupResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DstsSubjectNameBasedServiceClientIdentityGroup": {
            "$ref": "./examples/DstsSubjectNameBasedServiceClientIdentityGroup_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApplicationAccount": {
      "type": "object",
      "description": "Application. Optional.",
      "properties": {
        "dstsInstance": {
          "type": "string",
          "description": "The dSTS instance where the Application resides. Required."
        },
        "applicationAccountName": {
          "type": "string",
          "description": "The name of the Application. Required."
        },
        "realms": {
          "type": "array",
          "description": "The realms of the application. Optional.",
          "items": {
            "type": "string"
          }
        },
        "servicePrincipalNames": {
          "type": "array",
          "description": "The Service Principal Names of the application. Optional.",
          "items": {
            "type": "string"
          }
        },
        "replyToAddresses": {
          "type": "array",
          "description": "The Reply Addresses of application. Optional.",
          "items": {
            "type": "string"
          }
        },
        "groupId": {
          "type": "string",
          "description": "GUID of the dSCM Application group to which the Application belongs. Optional."
        },
        "groupName": {
          "type": "string",
          "description": "Group name of the dSCM Application group to which the Application belongs. Optional."
        },
        "isMfaEnabled": {
          "type": "boolean",
          "description": "If set to true, authenticating to the application requires MFA. Optional.",
          "default": true
        },
        "sawDeviceEnforcement": {
          "type": "string",
          "description": "If it is null, full SAW enforcement will apply to the application. Possible options are NoEnforcement, SAWFull, SAWElevatedOnly. Optional."
        },
        "isElevatedAccess": {
          "type": "boolean",
          "description": "If your application (service) is exclusively limited to System Metadata, Read-Only access levels, set it to false. Optional."
        },
        "isProduction": {
          "type": "boolean",
          "description": "If your application (service) is exclusively NonProduction, set it to false. Optional.",
          "default": true
        },
        "claimRules": {
          "type": "array",
          "description": "The claim rule which apply to this Application. Optional.",
          "items": {
            "$ref": "#/definitions/ApplicationClaimRule"
          },
          "x-ms-identifiers": []
        },
        "applicationClientIdentity": {
          "$ref": "#/definitions/ApplicationClientIdentity",
          "description": "Client identity when using the application as a client. Optional."
        },
        "azureLocation": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure location"
        }
      },
      "required": [
        "dstsInstance",
        "applicationAccountName"
      ]
    },
    "ApplicationClaimRule": {
      "type": "object",
      "description": "The claim rule which apply to Application.",
      "properties": {
        "clientIdentifier": {
          "$ref": "#/definitions/Claim",
          "description": "A claim used to identify client. e.g., group claim, application name claim, object id claim."
        },
        "claim": {
          "$ref": "#/definitions/Claim",
          "description": "The claim"
        },
        "clientIdentityOrigin": {
          "type": "string",
          "description": "The name of the original identity provider of the client. e.g., federation for user or dsts instance for applications."
        },
        "isRegionalEnforced": {
          "type": "boolean",
          "description": "If true, when the claim is scoped to service account group, only SCIs on the same dsts instance where the service accounts exist can get the claim.",
          "default": true
        }
      },
      "required": [
        "clientIdentifier",
        "claim",
        "clientIdentityOrigin"
      ]
    },
    "ApplicationClientIdentity": {
      "type": "object",
      "description": "Represents application client identity.",
      "properties": {
        "dmsiInfo": {
          "$ref": "#/definitions/DmsiInfo",
          "description": "Dmsi client."
        },
        "certificateBasedIdentity": {
          "$ref": "#/definitions/CertificateBasedIdentity",
          "description": "Certificate client."
        },
        "subjectNameBasedIdentity": {
          "$ref": "#/definitions/SubjectNameBasedIdentity",
          "description": "Subject name client."
        },
        "type": {
          "type": "string",
          "description": "The type of your client identity.e.g., Dmsi, Certificate, SubjectName."
        },
        "clientTokenIpRangeRestrictions": {
          "type": "array",
          "description": "Provide a list IP address ranges to restrict where this application's client token can be requested. Optional.",
          "items": {
            "$ref": "#/definitions/IpRange"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "type"
      ]
    },
    "ApplicationGroup": {
      "type": "object",
      "description": "The application group. Optional.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Group id. Optional."
        },
        "applicationGroupName": {
          "type": "string",
          "description": "Name of the Application Group. Required."
        },
        "applicationName": {
          "type": "string",
          "description": "Common Name for all Applications inside the group. Required."
        },
        "servicePrincipalNames": {
          "type": "array",
          "description": "The Service Principal Names of the application. Optional.",
          "items": {
            "type": "string"
          }
        },
        "realms": {
          "type": "array",
          "description": "Actor realm. Optional.",
          "items": {
            "type": "string"
          }
        },
        "replyToAddresses": {
          "type": "array",
          "description": "The Reply Addresses of application. Optional.",
          "items": {
            "type": "string"
          }
        },
        "isMfaEnabled": {
          "type": "boolean",
          "description": "If set to true, authenticating to the application requires MFA. Optional.",
          "default": true
        },
        "isGlobalService": {
          "type": "boolean",
          "description": "If not set, default is regional service. Optional."
        },
        "sawDeviceEnforcement": {
          "type": "string",
          "description": "If it is null, full SAW enforcement will apply to the application. Possible options are NoEnforcement, SAWFull, SAWElevatedOnly. Optional."
        },
        "clientTokenIpRangeRestrictions": {
          "type": "array",
          "description": "Change.Remove client token ip range. Optional.",
          "items": {
            "$ref": "#/definitions/IpRange"
          },
          "x-ms-identifiers": []
        },
        "cloudId": {
          "type": "string",
          "description": "The cloud identifier for the application group. Possible options are PROD, blackforest, fairfax, mooncake. Required.",
          "default": "PROD"
        },
        "clientSubscriptions": {
          "type": "array",
          "description": "Client subscriptions. Optional.",
          "items": {
            "type": "string"
          }
        },
        "regions": {
          "type": "array",
          "description": "Specific dSTS instances to create applications on. Optional.",
          "items": {
            "type": "string"
          }
        },
        "claimRules": {
          "type": "array",
          "description": "The claim rules that apply to this Application Group. Optional.",
          "items": {
            "$ref": "#/definitions/ApplicationClaimRule"
          },
          "x-ms-identifiers": []
        },
        "applicationClientIdentity": {
          "$ref": "#/definitions/ApplicationClientIdentity",
          "description": "Client identity when using the application as a client. Optional."
        },
        "azureLocation": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure location"
        }
      },
      "required": [
        "applicationGroupName",
        "applicationName",
        "cloudId"
      ]
    },
    "AuthenticationRequirement": {
      "type": "object",
      "description": "Authentication requirement.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The authentication requirement value. E.g. 'SAWEnforcement' or 'PTH'."
        },
        "requiredIpRanges": {
          "type": "array",
          "description": "A list of required IP ranges.",
          "items": {
            "$ref": "#/definitions/RequiredIpRange"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "value",
        "requiredIpRanges"
      ]
    },
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "CertificateBasedIdentity": {
      "type": "object",
      "description": "Represents certificate based authentication.",
      "properties": {
        "certificates": {
          "type": "array",
          "description": "Certificate",
          "items": {
            "$ref": "#/definitions/CertificateInfo"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "certificates"
      ]
    },
    "CertificateInfo": {
      "type": "object",
      "description": "Certification based application client identity.",
      "properties": {
        "thumbprint": {
          "type": "string",
          "description": "Certificate thumbprint information"
        },
        "expiryDate": {
          "type": "string",
          "description": "Certificate expiry date"
        }
      },
      "required": [
        "thumbprint",
        "expiryDate"
      ]
    },
    "Claim": {
      "type": "object",
      "description": "A claim used to identify client. e.g., group claim, application name claim, object id claim.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the claim"
        },
        "value": {
          "type": "string",
          "description": "Value of claim"
        }
      },
      "required": [
        "type",
        "value"
      ]
    },
    "ClaimExpansion": {
      "type": "object",
      "description": "Claim expansion for the service client identity group.",
      "properties": {
        "expandedClaim": {
          "$ref": "#/definitions/Claim",
          "description": "Expanded claim instance. Required."
        },
        "serviceAccountName": {
          "type": "string",
          "description": "Service account name. Optional."
        },
        "containerId": {
          "type": "string",
          "description": "Container id. Optional."
        },
        "dstsInstance": {
          "type": "string",
          "description": "DSTS instance. Optional."
        },
        "cloudId": {
          "$ref": "#/definitions/CloudId",
          "description": "Cloud id. Optional."
        },
        "serviceAccountGroup": {
          "type": "string",
          "description": "Service account group name. Optional."
        },
        "serviceAccountGroupServiceTreeId": {
          "type": "string",
          "description": "Service account group service tree id. Optional."
        },
        "isRegionalEnforced": {
          "type": "string",
          "description": "Flag to indicate if the claim is regional enforced or not. Optional.",
          "enum": [
            "False",
            "True"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      },
      "required": [
        "expandedClaim"
      ]
    },
    "ClaimProvisioningsForGroup": {
      "type": "object",
      "description": "The claim provisionings for a service client identity group.",
      "properties": {
        "claimInstance": {
          "$ref": "#/definitions/Claim",
          "description": "The claim identity instance. Required."
        },
        "scopedToServiceAccountGroup": {
          "type": "string",
          "description": "Scoped to service account group name. Optional."
        },
        "scopedToServiceAccountGroupServiceTreeId": {
          "type": "string",
          "description": "Scoped to service account group service tree id. Optional."
        }
      },
      "required": [
        "claimInstance"
      ]
    },
    "CloudId": {
      "type": "string",
      "description": "Cloud Id",
      "enum": [
        "Public",
        "BlackForest",
        "Bleu",
        "Delos",
        "Fairfax",
        "GovSG",
        "Mooncake",
        "USNat",
        "USSec"
      ],
      "x-ms-enum": {
        "name": "CloudId",
        "modelAsString": true,
        "values": [
          {
            "name": "Public",
            "value": "Public",
            "description": "Public cloud"
          },
          {
            "name": "BlackForest",
            "value": "BlackForest",
            "description": "BlackForest cloud"
          },
          {
            "name": "Bleu",
            "value": "Bleu",
            "description": "Bleu cloud"
          },
          {
            "name": "Delos",
            "value": "Delos",
            "description": "Delos cloud"
          },
          {
            "name": "Fairfax",
            "value": "Fairfax",
            "description": "Fairfax cloud"
          },
          {
            "name": "GovSG",
            "value": "GovSG",
            "description": "GovSG cloud"
          },
          {
            "name": "Mooncake",
            "value": "Mooncake",
            "description": "Mooncake cloud"
          },
          {
            "name": "USNat",
            "value": "USNat",
            "description": "USNat cloud"
          },
          {
            "name": "USSec",
            "value": "USSec",
            "description": "USSec cloud"
          }
        ]
      }
    },
    "DmsiInfo": {
      "type": "object",
      "description": "Dmsi information",
      "properties": {
        "path": {
          "type": "string",
          "description": "Dmsi path"
        },
        "region": {
          "type": "string",
          "description": "Dmsi region"
        },
        "subscriptions": {
          "type": "array",
          "description": "Dmsi subscriptions",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "path",
        "region",
        "subscriptions"
      ]
    },
    "DscmProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "DscmProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "DsmsAllowlistResource": {
      "type": "object",
      "description": "dsmsAllowlist Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DsmsAllowlistResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DsmsAllowlistResourceListResult": {
      "type": "object",
      "description": "The response of a DsmsAllowlistResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DsmsAllowlistResource items on this page",
          "items": {
            "$ref": "#/definitions/DsmsAllowlistResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DsmsAllowlistResourceProperties": {
      "type": "object",
      "description": "dsmsAllowlist properties",
      "properties": {
        "folderName": {
          "type": "string",
          "description": "The name of the folder to apply allowlist changes to. This should be the full folder path starting with a '$', with '$' replacing all '/' characters. Example: '/my-folder/root-folder' should be passed as '$my-folder$root-folder"
        },
        "targetDsmsEndpoints": {
          "type": "array",
          "description": "The dSMS endpoints to apply allowlist changes to. The folder specified in FolderName will be updated on each of the TargetDsmsEndpoints. If this is left null, this will default to all the dSMS endpoints used for the root folder.",
          "items": {
            "type": "string"
          }
        },
        "dnsPatterns": {
          "type": "array",
          "description": "Dns domain patterns in the allowlist. Patterns with '*' are accepted values here.",
          "items": {
            "type": "string"
          }
        },
        "deploymentSubscriptions": {
          "type": "array",
          "description": "Guids of Azure deployment subscriptions in allowlist.",
          "items": {
            "type": "string"
          }
        },
        "storageSubscriptions": {
          "type": "array",
          "description": "Guids of Azure storage subscriptions in allowlist.",
          "items": {
            "type": "string"
          }
        },
        "azureLocation": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure location"
        },
        "provisioningState": {
          "$ref": "#/definitions/DscmProvisioningState",
          "description": "Provisioning status of the resource.",
          "readOnly": true
        },
        "requestId": {
          "type": "string",
          "description": "Request ID; a part of provisioning ResultData output.",
          "readOnly": true
        }
      },
      "required": [
        "folderName"
      ]
    },
    "DsmsRootFolderResource": {
      "type": "object",
      "description": "dsmsRootFolder Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DsmsRootFolderResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DsmsRootFolderResourceListResult": {
      "type": "object",
      "description": "The response of a DsmsRootFolderResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DsmsRootFolderResource items on this page",
          "items": {
            "$ref": "#/definitions/DsmsRootFolderResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DsmsRootFolderResourceProperties": {
      "type": "object",
      "description": "dsmsRootFolder properties",
      "properties": {
        "folderName": {
          "type": "string",
          "description": "The name of the root folder to add. This should be the full folder path starting with a \"$\", with \"$\" replacing all \"/\" characters"
        },
        "cloudId": {
          "type": "string",
          "description": "The cloud ID where the root folder should be added. Acceptable values: Public, Fairfax, Mooncake, USSec, USNat"
        },
        "azureLocation": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure location"
        },
        "provisioningState": {
          "$ref": "#/definitions/DscmProvisioningState",
          "description": "Provisioning status of the resource.",
          "readOnly": true
        },
        "requestId": {
          "type": "string",
          "description": "Request ID; a part of provisioning ResultData output.",
          "readOnly": true
        }
      },
      "required": [
        "folderName"
      ]
    },
    "DstsApplicationResource": {
      "type": "object",
      "description": "dstsApplication Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DstsApplicationResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DstsApplicationResourceListResult": {
      "type": "object",
      "description": "The response of a DstsApplicationResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DstsApplicationResource items on this page",
          "items": {
            "$ref": "#/definitions/DstsApplicationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DstsApplicationResourceProperties": {
      "type": "object",
      "description": "dstsApplication properties",
      "properties": {
        "applicationAccount": {
          "$ref": "#/definitions/ApplicationAccount",
          "description": "Application."
        },
        "applicationGroup": {
          "$ref": "#/definitions/ApplicationGroup",
          "description": "The application group. Optional."
        },
        "provisioningState": {
          "$ref": "#/definitions/DscmProvisioningState",
          "description": "Provisioning status of the resource.",
          "readOnly": true
        },
        "requestId": {
          "type": "string",
          "description": "Request ID; a part of provisioning ResultData output.",
          "readOnly": true
        },
        "applicationGroupId": {
          "type": "string",
          "description": "Application Group ID; a part of provisioning ResultData output.",
          "readOnly": true
        }
      }
    },
    "DstsAuthenticationRequirement": {
      "type": "object",
      "description": "Authentication requirement of the account.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Authentication requirement value. E.g. \"PTH\"."
        }
      },
      "required": [
        "value"
      ]
    },
    "DstsClaimMapping": {
      "type": "object",
      "description": "Claim mapping for authorization of the account.",
      "properties": {
        "inputType": {
          "type": "string",
          "description": "Type of input identity. This is case-insensitive. E.g. \"http://sts.msft.net/user/Group\"."
        },
        "inputValue": {
          "type": "string",
          "description": "Name or ID of input identity. E.g. \"%($CS.CplatViewerGroup)\"."
        },
        "outputType": {
          "type": "string",
          "description": "Type of output identity, which is mapped from input identity. This is case-insensitive. E.g. \"http://schemas.microsoft.com/ws/2008/06/identity/claims/role\"."
        },
        "outputValue": {
          "type": "string",
          "description": "Name or ID of output identity, which is mapped from input identity. E.g. \"PlatformServiceViewer\" or \"PlatformServiceOperator\"."
        },
        "federation": {
          "type": "string",
          "description": "Federation context for the mapping. E.g. \"MSIT-ADFS-Federation\" or \"BF-ADFS-Federation\"."
        }
      },
      "required": [
        "inputType",
        "outputType"
      ]
    },
    "DstsClaimProvisioning": {
      "type": "object",
      "description": "This model represents a claim provisioning in SCI.",
      "properties": {
        "claimType": {
          "type": "string",
          "description": "Gets or sets the type of identity in the target service. This is case-insensitive. E.g. \"http://schemas.microsoft.com/ws/2008/06/identity/claims/role\"."
        },
        "claimValue": {
          "type": "string",
          "description": "Gets or sets the name or ID in the target service. This is case-insensitive. E.g. \"PlatformServiceViewer\" or \"PlatformServiceOperator\"."
        },
        "scopedToServiceAccount": {
          "type": "string",
          "description": "Gets or sets the service account name of the target service. This is case-insensitive. E.g. \"target-service-%(ArmRegionName).acs.%($CS.ComputeDnsSuffix)\"."
        },
        "scopedServiceAccountGroupId": {
          "type": "string",
          "description": "Gets or sets the service account group id of the target service name."
        },
        "scopedServiceAccountGroupName": {
          "type": "string",
          "description": "Gets or sets the service account group name of the target service name."
        },
        "scopedServiceTreeId": {
          "type": "string",
          "description": "Gets or sets the service tree id of the scoped service account."
        },
        "dstsInstance": {
          "type": "string",
          "description": "Dstsinstance for the claim. This is case-insensitive. E.g. \"co2agg04-dsts.dsts.core.azure-test.net\" for dogfood."
        }
      },
      "required": [
        "claimType",
        "claimValue"
      ]
    },
    "DstsControlledResource": {
      "type": "object",
      "description": "Represents a controlled resource in a JIT policy.",
      "properties": {
        "createNewResource": {
          "type": "boolean",
          "description": "Defines if the resource should be created."
        },
        "resourceType": {
          "type": "string",
          "description": "The type of the resource."
        },
        "owningServiceIds": {
          "type": "array",
          "description": "A list of IDs of the services that own the resource.",
          "items": {
            "type": "string"
          }
        },
        "accessLevels": {
          "type": "array",
          "description": "A list of access levels for the resource.",
          "items": {
            "$ref": "#/definitions/JitAccessLevel"
          }
        },
        "dstsContainerIds": {
          "type": "array",
          "description": "A list of IDs of the containers that the resource is allowed to be created in.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "createNewResource",
        "resourceType",
        "owningServiceIds",
        "accessLevels",
        "dstsContainerIds"
      ]
    },
    "DstsManagedServiceClientIdentityGroupResource": {
      "type": "object",
      "description": "DstsManagedServiceClientIdentityGroup Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DstsManagedServiceClientIdentityGroupResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DstsManagedServiceClientIdentityGroupResourceListResult": {
      "type": "object",
      "description": "The response of a DstsManagedServiceClientIdentityGroupResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DstsManagedServiceClientIdentityGroupResource items on this page",
          "items": {
            "$ref": "#/definitions/DstsManagedServiceClientIdentityGroupResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DstsManagedServiceClientIdentityGroupResourceProperties": {
      "type": "object",
      "description": "DSTS service client identity (SCI) group, which is managed by DSTS.",
      "properties": {
        "groupName": {
          "type": "string",
          "description": "The service client identity group name. The name cannot collide with the name of another SCI group or another service account group at the same dSTS instance. Required."
        },
        "commonSubscriptions": {
          "type": "array",
          "description": "List of common subscriptions. Optional.",
          "items": {
            "type": "string"
          }
        },
        "commonServiceClientIdentityName": {
          "type": "string",
          "description": "Common service client identity name. If set, all Service Client Identities (SCIs) belonging to this group will have the same name (as set by this field). Optional."
        },
        "listOfClaimProvisioningsForGroup": {
          "type": "array",
          "description": "List of claim provisionings for the service client identity group. This describes how the client identity is authorized. ClaimProvisionings included in an SCI group can specify scope to a service account group. With this, your claim can be manually or automatically (depending on autoapproval permissions) approved by the owning team of the service account for the first time, and later new SCI instance in the same SCI group will have the claim added by default. Optional.",
          "items": {
            "$ref": "#/definitions/ClaimProvisioningsForGroup"
          },
          "x-ms-identifiers": []
        },
        "commonAuthenticationRequirements": {
          "type": "array",
          "description": "List of common authentication requirements for the service client identity group. Optional.",
          "items": {
            "$ref": "#/definitions/AuthenticationRequirement"
          },
          "x-ms-identifiers": []
        },
        "cloudId": {
          "$ref": "#/definitions/CloudId",
          "description": "Cloud identifier for the service client identity group. Optional."
        },
        "claimExpansions": {
          "type": "array",
          "description": "List of claim expansions for the service client identity group. Optional.",
          "items": {
            "$ref": "#/definitions/ClaimExpansion"
          },
          "x-ms-identifiers": []
        },
        "dstsInstances": {
          "type": "array",
          "description": "List of dSTS instances for the service client identity group. A list contains specific dSTS instances to create identities on. Optional.",
          "items": {
            "type": "string"
          }
        },
        "enforceServiceClientIdentityIds": {
          "type": "array",
          "description": "It is used only during update request. List of member SCI ids to enforce group properties on. Each element should be a valid GUID. Optional.",
          "items": {
            "type": "string"
          }
        },
        "azureLocation": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure location."
        },
        "provisioningState": {
          "$ref": "#/definitions/DscmProvisioningState",
          "description": "Provisioning status of the resource.",
          "readOnly": true
        },
        "requestId": {
          "type": "string",
          "description": "Request ID; a part of provisioning ResultData output.",
          "readOnly": true
        }
      },
      "required": [
        "groupName"
      ]
    },
    "DstsRealm": {
      "type": "object",
      "description": "Realm information of the account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Realm's name. This is case-insensitive. E.g. \"svc://crpadmin@%(ArmRegionName).acs.%($CS.ComputeDnsSuffix)/\"."
        },
        "redirectionUrl": {
          "type": "string",
          "description": "Realm's redirection URL. This is case-insensitive. E.g. \"https://%(ArmRegionName).acs.%($CS.ComputeDnsSuffix)/\"."
        }
      },
      "required": [
        "name"
      ]
    },
    "DstsServiceAccountGroupResource": {
      "type": "object",
      "description": "DstsServiceAccountGroup Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DstsServiceAccountGroupResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DstsServiceAccountGroupResourceListResult": {
      "type": "object",
      "description": "The response of a DstsServiceAccountGroupResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DstsServiceAccountGroupResource items on this page",
          "items": {
            "$ref": "#/definitions/DstsServiceAccountGroupResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DstsServiceAccountGroupResourceProperties": {
      "type": "object",
      "description": "DstsServiceAccountGroup properties",
      "properties": {
        "groupName": {
          "type": "string",
          "description": "Service Account Group name. Case-insensitive."
        },
        "serviceAvailabilityStrategy": {
          "$ref": "#/definitions/ServiceAvailabilityStrategy",
          "description": "This property is used to enable auto-creation of service accounts in all regions. By default no service accounts are created."
        },
        "accountName": {
          "type": "string",
          "description": "Desired naming pattern of the accounts in this group."
        },
        "displayName": {
          "type": "string",
          "description": "Display name."
        },
        "realms": {
          "type": "array",
          "description": "List of realms.",
          "items": {
            "$ref": "#/definitions/DstsRealm"
          }
        },
        "claimMappings": {
          "type": "array",
          "description": "List of claim mappings.",
          "items": {
            "$ref": "#/definitions/GroupClaimMapping"
          },
          "x-ms-identifiers": []
        },
        "containerClaimMappings": {
          "type": "array",
          "description": "List of container claim mappings.",
          "items": {
            "$ref": "#/definitions/GroupClaimMapping"
          },
          "x-ms-identifiers": []
        },
        "authenticationRequirements": {
          "type": "array",
          "description": "List of authentication requirements.",
          "items": {
            "$ref": "#/definitions/AuthenticationRequirement"
          },
          "x-ms-identifiers": []
        },
        "cloudId": {
[...]
