{
  "swagger": "2.0",
  "info": {
    "title": "Azure CIS FRP",
    "version": "2024-06-24-preview",
    "description": "https://eng.ms/docs/products/azcis-resource-provisioning/template-user-guide/resources/dsms/dsms-managed-key-secret-rt",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DsmsManagedKeySecret"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCis/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations DsmsManagedKeySecret": {
            "$ref": "./examples/DsmsManagedKeySecret_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dsmsManagedKeySecrets": {
      "get": {
        "operationId": "DsmsManagedKeySecret_ListBySubscription",
        "tags": [
          "DsmsManagedKeySecret"
        ],
        "description": "List DsmsManagedKeySecretResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DsmsManagedKeySecretResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DsmsManagedKeySecret": {
            "$ref": "./examples/DsmsManagedKeySecret_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dsmsManagedKeySecrets": {
      "get": {
        "operationId": "DsmsManagedKeySecret_ListByResourceGroup",
        "tags": [
          "DsmsManagedKeySecret"
        ],
        "description": "List DsmsManagedKeySecretResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DsmsManagedKeySecretResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DsmsManagedKeySecret": {
            "$ref": "./examples/DsmsManagedKeySecret_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dsmsManagedKeySecrets/{resourceName}": {
      "get": {
        "operationId": "DsmsManagedKeySecret_Get",
        "tags": [
          "DsmsManagedKeySecret"
        ],
        "description": "Get a DsmsManagedKeySecretResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DsmsManagedKeySecretResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DsmsManagedKeySecret": {
            "$ref": "./examples/DsmsManagedKeySecret_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DsmsManagedKeySecret_CreateOrUpdate",
        "tags": [
          "DsmsManagedKeySecret"
        ],
        "description": "Create a DsmsManagedKeySecretResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 80,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DsmsManagedKeySecretResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DsmsManagedKeySecretResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DsmsManagedKeySecretResource"
            }
          },
          "201": {
            "description": "Resource 'DsmsManagedKeySecretResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DsmsManagedKeySecretResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DsmsManagedKeySecret": {
            "$ref": "./examples/DsmsManagedKeySecret_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "DsmsManagedKeySecretProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "DsmsManagedKeySecretProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "DsmsManagedKeySecretResource": {
      "type": "object",
      "description": "dsmsManagedKeySecret Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DsmsManagedKeySecretResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DsmsManagedKeySecretResourceListResult": {
      "type": "object",
      "description": "The response of a DsmsManagedKeySecretResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DsmsManagedKeySecretResource items on this page",
          "items": {
            "$ref": "#/definitions/DsmsManagedKeySecretResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DsmsManagedKeySecretResourceProperties": {
      "type": "object",
      "description": "dsmsManagedKeySecret properties",
      "properties": {
        "armResourceId": {
          "type": "string",
          "description": "ARM resource id."
        },
        "managedKeySubType": {
          "type": "string",
          "description": "Managed Key subtype. Used to determine which way to store the secret in dSMS. Acceptable values (case sensitive): 'Password', 'ConnectionString'. Optional, 'Password' by default.",
          "enum": [
            "Password",
            "ConnectionString"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "dsmsDns": {
          "type": "string",
          "description": "Defines in which region of dSMS to provision the Managed Key Secret, (ex. uswest-dsms.dsms.%(HostNameSuffix)). Used only when provisioning Managed Key Secret in non-home-dsms endpoint."
        },
        "rootFolder": {
          "type": "string",
          "description": "dSMS root path. Required if full Managed Key Name not provided."
        },
        "managedKeyName": {
          "type": "string",
          "description": "Managed Key Name in dSMS. This is the full path to the resource in dSMS."
        },
        "blockAutoRollover": {
          "type": "boolean",
          "description": "Set to True to disable automatic secret rotation by dSMS. Optional, False by default."
        },
        "customRolloverPeriodDays": {
          "type": "integer",
          "format": "int32",
          "description": "Defines how often the secret will be rolled over by dSMS. Optional, 90 by default."
        },
        "armResourceLocation": {
          "type": "string",
          "description": "Defines the ARM region where the resource exists for global managed keys."
        },
        "replicationScope": {
          "$ref": "#/definitions/ReplicationScope",
          "description": "Scope of replication for the global managed key. Optional, 'Local' by default. Acceptable values: 'Local', 'AllDsmsRegions', 'SpecifiedDsmsRegions', 'ExcludedDsmsRegions'."
        },
        "replicateTo": {
          "type": "string",
          "description": "dSMS region to sync the global managed key to."
        },
        "properties": {
          "type": "array",
          "description": "Properties can be used to save customer key-value pairs associated with the dSMS secrets. Optional.",
          "items": {
            "$ref": "#/definitions/PropertyElement"
          },
          "x-ms-identifiers": []
        },
        "azureLocation": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure location."
        },
        "provisioningState": {
          "$ref": "#/definitions/DsmsManagedKeySecretProvisioningState",
          "description": "Provisioning status of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "armResourceId",
        "managedKeySubType"
      ]
    },
    "PropertyElement": {
      "type": "object",
      "description": "Property element model.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the property."
        },
        "value": {
          "type": "string",
          "description": "The value of the property."
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "ReplicationScope": {
      "type": "string",
      "description": "Replication Scope of dSMS secret.",
      "enum": [
        "Local",
        "AllDsmsRegions",
        "SpecifiedDsmsRegions",
        "ExcludedDsmsRegions"
      ],
      "x-ms-enum": {
        "name": "ReplicationScope",
        "modelAsString": true,
        "values": [
          {
            "name": "Local",
            "value": "Local",
            "description": "This secret is not replicated to other dSMS instances."
          },
          {
            "name": "AllDsmsRegions",
            "value": "AllDsmsRegions",
            "description": "This secret can be replicated to all dSMS instances."
          },
          {
            "name": "SpecifiedDsmsRegions",
            "value": "SpecifiedDsmsRegions",
            "description": "This secret can only be replicated to the specified dSMS instances."
          },
          {
            "name": "ExcludedDsmsRegions",
            "value": "ExcludedDsmsRegions",
            "description": "This secret can only be replicated to non-specified dSMS instances."
          }
        ]
      }
    }
  },
  "parameters": {}
}
