{
  "swagger": "2.0",
  "info": {
    "title": "Azure CIS FRP",
    "version": "2024-06-24-preview",
    "description": "Autopilot Environment Provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Environment"
    },
    {
      "name": "AutopilotMachineFunction"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCis/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations AutopilotMachineFunction": {
            "$ref": "./examples/AutopilotMachineFunction_Operations.json"
          },
          "List Operations Environment": {
            "$ref": "./examples/Environment_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/autopilotEnvironments": {
      "get": {
        "operationId": "Environment_ListBySubscription",
        "tags": [
          "Environment"
        ],
        "description": "List EnvironmentResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnvironmentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription Environment": {
            "$ref": "./examples/Environment_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/autopilotMachineFunctions": {
      "get": {
        "operationId": "AutopilotMachineFunction_ListBySubscription",
        "tags": [
          "AutopilotMachineFunction"
        ],
        "description": "List AutopilotMachineFunctionResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutopilotMachineFunctionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription AutopilotMachineFunction": {
            "$ref": "./examples/AutopilotMachineFunction_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/autopilotEnvironments": {
      "get": {
        "operationId": "Environment_ListByResourceGroup",
        "tags": [
          "Environment"
        ],
        "description": "List EnvironmentResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnvironmentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup Environment": {
            "$ref": "./examples/Environment_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/autopilotEnvironments/{resourceName}": {
      "get": {
        "operationId": "Environment_Get",
        "tags": [
          "Environment"
        ],
        "description": "Get a EnvironmentResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnvironmentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Environment": {
            "$ref": "./examples/Environment_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Environment_CreateOrUpdate",
        "tags": [
          "Environment"
        ],
        "description": "Create a EnvironmentResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EnvironmentResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EnvironmentResource"
            }
          },
          "201": {
            "description": "Resource 'EnvironmentResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EnvironmentResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Environment": {
            "$ref": "./examples/Environment_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/autopilotMachineFunctions": {
      "get": {
        "operationId": "AutopilotMachineFunction_ListByResourceGroup",
        "tags": [
          "AutopilotMachineFunction"
        ],
        "description": "List AutopilotMachineFunctionResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutopilotMachineFunctionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup AutopilotMachineFunction": {
            "$ref": "./examples/AutopilotMachineFunction_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/autopilotMachineFunctions/{resourceName}": {
      "get": {
        "operationId": "AutopilotMachineFunction_Get",
        "tags": [
          "AutopilotMachineFunction"
        ],
        "description": "Get a AutopilotMachineFunctionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutopilotMachineFunctionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get AutopilotMachineFunction": {
            "$ref": "./examples/AutopilotMachineFunction_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AutopilotMachineFunction_CreateOrUpdate",
        "tags": [
          "AutopilotMachineFunction"
        ],
        "description": "Create a AutopilotMachineFunctionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutopilotMachineFunctionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AutopilotMachineFunctionResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AutopilotMachineFunctionResource"
            }
          },
          "201": {
            "description": "Resource 'AutopilotMachineFunctionResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AutopilotMachineFunctionResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create AutopilotMachineFunction": {
            "$ref": "./examples/AutopilotMachineFunction_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AutopilotMachineFunctionResource": {
      "type": "object",
      "description": "AutopilotMachineFunction Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutopilotMachineFunctionResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AutopilotMachineFunctionResourceListResult": {
      "type": "object",
      "description": "The response of a AutopilotMachineFunctionResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AutopilotMachineFunctionResource items on this page",
          "items": {
            "$ref": "#/definitions/AutopilotMachineFunctionResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AutopilotMachineFunctionResourceProperties": {
      "type": "object",
      "description": "AutopilotMachineFunction properties",
      "properties": {
        "machineFunctions": {
          "type": "array",
          "description": "Goal state of MachinesFunctions.",
          "items": {
            "$ref": "#/definitions/MachineFunction"
          },
          "x-ms-identifiers": []
        },
        "environmentName": {
          "type": "string",
          "description": "Target Environment Name to allocate MachineFunction."
        },
        "clusterName": {
          "type": "string",
          "description": "Target Cluster where Target Environment lives in."
        },
        "sourceEnvironment": {
          "type": "string",
          "description": "Name of the source environment. Legacy Machines will move out of this environment to the environment that need to be allocated."
        },
        "sourceManaTree": {
          "type": "string",
          "description": "Name of the source mana tree. If extra logical machines needed for allocation, logic machines will borrow from this ManaTree."
        },
        "targetManaTree": {
          "type": "string",
          "description": "Name of the target mana tree. If extra logical machines needed for allocation, logic machines will write into this ManaTree."
        },
        "requestedNodeLabels": {
          "type": "string",
          "description": "If a RequestedNodeLabel declared inside of MachineFunction, this particular MachineFunction will filled with this RequestedNodeLabels, but if no such requestedNodeLabel in ManaTree files, it will throw exception."
        },
        "azureLocation": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure location"
        },
        "provisioningState": {
          "$ref": "#/definitions/EnvironmentProvisioningState",
          "description": "Provisioning status of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "environmentName",
        "clusterName",
        "sourceEnvironment",
        "sourceManaTree",
        "targetManaTree"
      ]
    },
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "EnvironmentMode": {
      "type": "string",
      "description": "The EnvironmentMode indicates which files will be cloned to the new environment.",
      "enum": [
        "Basic",
        "All"
      ],
      "x-ms-enum": {
        "name": "EnvironmentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Basic",
            "value": "Basic",
            "description": "On the Basic mode only the environment basic files will be cloned to the new environment. The environment basic files are deployment.ini, allocation.ini, environment.ini, VirtualEnvironment.ini, UserProperty.ini, Machines.csv, owners.txt, access.txt."
          },
          {
            "name": "All",
            "value": "All",
            "description": "On the All mode all the files including customer files will be copied to the new environment."
          }
        ]
      }
    },
    "EnvironmentProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "EnvironmentProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "EnvironmentResource": {
      "type": "object",
      "description": "Environment Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnvironmentResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EnvironmentResourceListResult": {
      "type": "object",
      "description": "The response of a EnvironmentResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EnvironmentResource items on this page",
          "items": {
            "$ref": "#/definitions/EnvironmentResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EnvironmentResourceProperties": {
      "type": "object",
      "description": "environment properties",
      "properties": {
        "modelEnvironment": {
          "type": "string",
          "description": "The source environment and the source cluster from which you want to clone the environment."
        },
        "environmentName": {
          "type": "string",
          "description": "The name of the target environment to be created."
        },
        "clusterName": {
          "type": "string",
          "description": "The name of the target cluster where the new environment is supposed to be created."
        },
        "mode": {
          "$ref": "#/definitions/EnvironmentMode",
          "description": "The mode property indicates which files will be cloned to the new environment. There are two options. All: Will clone all the files including customer files to the new environment. Basic: Will clone only the environment basic files which is deployment.ini, allocation.ini, environment.ini, VirtualEnvironment.ini, UserProperty.ini, Machines.csv, owners.txt, access.txt.",
          "readOnly": true
        },
        "azureLocation": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure location"
        },
        "provisioningState": {
          "$ref": "#/definitions/EnvironmentProvisioningState",
          "description": "Provisioning status of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "modelEnvironment",
        "mode"
      ]
    },
    "MachineFunction": {
      "type": "object",
      "description": "Machine Function.",
      "properties": {
        "machineFunctionName": {
          "type": "string",
          "description": "Name of Machine Function allocated machines need to assign to."
        },
        "allocationType": {
          "type": "string",
          "description": "Allocation Type options: LegacyMachine - allocate and update machines in machines.csv; NonLegacyMachine (LogicalNameMachine, LogicalMachine, AzureVM, ApContainer etc.) - allocate and update machines in allocation.ini."
        },
        "requestedNodeLabels": {
          "type": "string",
          "description": "If a RequestedNodeLabel declared inside of MachineFunction, this particular MachineFunction will filled with this RequestedNodeLabels, but if no such requestedNodeLabel in ManaTree files, it will throw exception."
        },
        "numberOfMachines": {
          "type": "string",
          "description": "Number of machines being requested for this machine function."
        },
        "additionalFields": {
          "type": "array",
          "description": "Customized and non-required attribute needed to check-in in the allocation.ini file.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "machineFunctionName",
        "allocationType",
        "numberOfMachines"
      ]
    }
  },
  "parameters": {}
}
