{
  "swagger": "2.0",
  "info": {
    "title": "Management Groups API",
    "version": "2023-04-01",
    "description": "The Azure Management Groups API enables consolidation of multiple\nsubscriptions/resources into an organizational hierarchy and centrally\nmanage access control, policies, alerting and reporting for those resources.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ManagementGroups"
    },
    {
      "name": "SubscriptionUnderManagementGroups"
    },
    {
      "name": "HierarchySettingsOperationGroup"
    }
  ],
  "paths": {
    "/providers/Microsoft.Management/checkNameAvailability": {
      "post": {
        "operationId": "CheckNameAvailability",
        "description": "Checks if the specified management group name is valid and unique",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CheckNameAvailabilityRequest": {
                  "$ref": "#/definitions/CheckNameAvailabilityRequest"
                }
              },
              "required": [
                "CheckNameAvailabilityRequest"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/getEntities": {
      "post": {
        "operationId": "EntitiesOperations_List",
        "description": "List all entities (Management Groups, Subscriptions, etc.) for the authenticated user.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Page continuation token is only used if a previous operation returned a partial result.\nIf a previous response contains a nextLink element, the value of the nextLink element will include a token parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entities to skip over when retrieving results. Passing this in will override $skipToken.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of elements to return when retrieving results. Passing this in will override $skipToken.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "This parameter specifies the fields to include in the response. Can include any combination of Name,DisplayName,Type,ParentDisplayNameChain,ParentChain, e.g. '$select=Name,DisplayName,Type,ParentDisplayNameChain,ParentNameChain'. When specified the $select parameter can override select in $skipToken.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "The $search parameter is used in conjunction with the $filter parameter to return three different outputs depending on the parameter passed in.\nWith $search=AllowedParents the API will return the entity info of all groups that the requested entity will be able to reparent to as determined by the user's permissions.\nWith $search=AllowedChildren the API will return the entity info of all entities that can be added as children of the requested entity.\nWith $search=ParentAndFirstLevelChildren the API will return the parent and  first level of children that the user has either direct access to or indirect access via one of their descendants.\nWith $search=ParentOnly the API will return only the group if the user has access to at least one of the descendants of the group.\nWith $search=ChildrenOnly the API will return only the first level of children of the group entity info specified in $filter.  The user must have direct access to the children entities or one of it's descendants for it to show up in the results.",
            "required": false,
            "type": "string",
            "enum": [
              "AllowedParents",
              "AllowedChildren",
              "ParentAndFirstLevelChildren",
              "ParentOnly",
              "ChildrenOnly"
            ],
            "x-ms-enum": {
              "name": "EntitySearchType",
              "modelAsString": true,
              "values": [
                {
                  "name": "AllowedParents",
                  "value": "AllowedParents"
                },
                {
                  "name": "AllowedChildren",
                  "value": "AllowedChildren"
                },
                {
                  "name": "ParentAndFirstLevelChildren",
                  "value": "ParentAndFirstLevelChildren"
                },
                {
                  "name": "ParentOnly",
                  "value": "ParentOnly"
                },
                {
                  "name": "ChildrenOnly",
                  "value": "ChildrenOnly"
                }
              ]
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter parameter allows you to filter on the the name or display name fields. You can check for equality on the name field (e.g. name eq '{entityName}')  and you can check for substrings on either the name or display name fields(e.g. contains(name, '{substringToSearch}'), contains(displayName, '{substringToSearch')). Note that the '{entityName}' and '{substringToSearch}' fields are checked case insensitively.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$view",
            "in": "query",
            "description": "The view parameter allows clients to filter the type of data that is returned by the getEntities call.",
            "required": false,
            "type": "string",
            "enum": [
              "FullHierarchy",
              "GroupsOnly",
              "SubscriptionsOnly",
              "Audit"
            ],
            "x-ms-enum": {
              "name": "EntityViewParameterType",
              "modelAsString": true,
              "values": [
                {
                  "name": "FullHierarchy",
                  "value": "FullHierarchy"
                },
                {
                  "name": "GroupsOnly",
                  "value": "GroupsOnly"
                },
                {
                  "name": "SubscriptionsOnly",
                  "value": "SubscriptionsOnly"
                },
                {
                  "name": "Audit",
                  "value": "Audit"
                }
              ]
            }
          },
          {
            "name": "groupName",
            "in": "query",
            "description": "A filter which allows the get entities call to focus on a particular group (i.e. \"$filter=name eq 'groupName'\")",
            "required": false,
            "type": "string"
          },
          {
            "name": "cache-control",
            "in": "header",
            "description": "Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing caches.",
            "required": false,
            "type": "string",
            "default": "no-cache",
            "x-ms-client-name": "Cache-Control"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}": {
      "get": {
        "operationId": "ManagementGroups_Get",
        "tags": [
          "ManagementGroups"
        ],
        "description": "Get the details of the management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The $expand=children query string parameter allows clients to request inclusion of children in the response payload.  $expand=path includes the path from the root group to the current group.  $expand=ancestors includes the ancestor Ids of the current group.",
            "required": false,
            "type": "string",
            "enum": [
              "children",
              "path",
              "ancestors"
            ],
            "x-ms-enum": {
              "name": "ManagementGroupExpandType",
              "modelAsString": true,
              "values": [
                {
                  "name": "children",
                  "value": "children"
                },
                {
                  "name": "path",
                  "value": "path"
                },
                {
                  "name": "ancestors",
                  "value": "ancestors"
                }
              ]
            }
          },
          {
            "name": "$recurse",
            "in": "query",
            "description": "The $recurse=true query string parameter allows clients to request inclusion of entire hierarchy in the response payload. Note that  $expand=children must be passed up if $recurse is set to true.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "A filter which allows the exclusion of subscriptions from results (i.e. '$filter=children.childType ne Subscription')",
            "required": false,
            "type": "string"
          },
          {
            "name": "cache-control",
            "in": "header",
            "description": "Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing caches.",
            "required": false,
            "type": "string",
            "default": "no-cache",
            "x-ms-client-name": "Cache-Control"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagementGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetManagementGroup": {
            "$ref": "./examples/ManagementGroups_Get_Get_Management_Group.json"
          },
          "GetManagementGroupWithAncestors": {
            "$ref": "./examples/ManagementGroups_Get_Get_Management_Group_With_Ancestors.json"
          },
          "GetManagementGroupWithExpand": {
            "$ref": "./examples/ManagementGroups_Get_Get_Management_Group_With_Expand.json"
          },
          "GetManagementGroupWithPath": {
            "$ref": "./examples/ManagementGroups_Get_Get_Management_Group_With_Path.json"
          },
          "GetManagementGroupsWithExpandAndRecurse": {
            "$ref": "./examples/ManagementGroups_Get_Get_Management_Groups_With_Expand_And_Recurse.json"
          }
        }
      },
      "put": {
        "operationId": "ManagementGroups_CreateOrUpdate",
        "tags": [
          "ManagementGroups"
        ],
        "description": "Create or update a management group.\nIf a management group is already created and a subsequent create request is issued with different properties, the management group properties will be updated.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cache-control",
            "in": "header",
            "description": "Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing caches.",
            "required": false,
            "type": "string",
            "default": "no-cache",
            "x-ms-client-name": "Cache-Control"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Management group creation parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagementGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ManagementGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ManagementGroup"
            }
          },
          "201": {
            "description": "Resource 'ManagementGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ManagementGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PutManagementGroup": {
            "$ref": "./examples/ManagementGroups_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ManagementGroups_Update",
        "tags": [
          "ManagementGroups"
        ],
        "description": "Update a management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cache-control",
            "in": "header",
            "description": "Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing caches.",
            "required": false,
            "type": "string",
            "default": "no-cache",
            "x-ms-client-name": "Cache-Control"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Management group patch parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchManagementGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagementGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchManagementGroup": {
            "$ref": "./examples/ManagementGroups_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ManagementGroups_Delete",
        "tags": [
          "ManagementGroups"
        ],
        "description": "Delete management group.\nIf a management group contains child resources, the request will fail.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cache-control",
            "in": "header",
            "description": "Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing caches.",
            "required": false,
            "type": "string",
            "default": "no-cache",
            "x-ms-client-name": "Cache-Control"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteManagementGroup": {
            "$ref": "./examples/ManagementGroups_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}/descendants/{groupId}": {
      "get": {
        "operationId": "ManagementGroups_GetDescendants",
        "tags": [
          "ManagementGroups"
        ],
        "description": "List all entities that descend from a management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Page continuation token is only used if a previous operation returned a partial result.\nIf a previous response contains a nextLink element, the value of the nextLink element will include a token parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of elements to return when retrieving results. Passing this in will override $skipToken.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DescendantListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetDescendants": {
            "$ref": "./examples/ManagementGroups_GetDescendants.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}/settings": {
      "get": {
        "operationId": "HierarchySettingsOperationGroup_List",
        "tags": [
          "HierarchySettingsOperationGroup"
        ],
        "description": "Gets all the hierarchy settings defined at the Management Group level. Settings can only be set on the root Management Group of the hierarchy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HierarchySettingsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}/settings/{groupId}": {
      "get": {
        "operationId": "ManagementGroups_ListSettings",
        "tags": [
          "ManagementGroups"
        ],
        "description": "Gets all the hierarchy settings defined at the Management Group level. Settings can only be set on the root Management Group of the hierarchy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HierarchySettingsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}/settings/default": {
      "get": {
        "operationId": "HierarchySettingsOperationGroup_Get",
        "tags": [
          "HierarchySettingsOperationGroup"
        ],
        "description": "Gets the hierarchy settings defined at the Management Group level. Settings can only be set on the root Management Group of the hierarchy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HierarchySettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "HierarchySettingsOperationGroup_CreateOrUpdate",
        "tags": [
          "HierarchySettingsOperationGroup"
        ],
        "description": "Creates or updates the hierarchy settings defined at the Management Group level.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Tenant level settings request parameter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HierarchySettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HierarchySettings' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HierarchySettings"
            }
          },
          "201": {
            "description": "Resource 'HierarchySettings' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HierarchySettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "HierarchySettingsOperationGroup_Update",
        "tags": [
          "HierarchySettingsOperationGroup"
        ],
        "description": "Updates the hierarchy settings defined at the Management Group level.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Tenant level settings request parameter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateSettingsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HierarchySettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "HierarchySettingsOperationGroup_Delete",
        "tags": [
          "HierarchySettingsOperationGroup"
        ],
        "description": "Deletes the hierarchy settings defined at the Management Group level.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}/subscriptions": {
      "get": {
        "operationId": "SubscriptionUnderManagementGroups_GetSubscriptionsUnderManagementGroup",
        "tags": [
          "SubscriptionUnderManagementGroups"
        ],
        "description": "Retrieves details about all subscriptions which are associated with the management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Page continuation token is only used if a previous operation returned a partial result.\nIf a previous response contains a nextLink element, the value of the nextLink element will include a token parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SubscriptionUnderManagementGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}/subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "SubscriptionUnderManagementGroups_GetSubscription",
        "tags": [
          "SubscriptionUnderManagementGroups"
        ],
        "description": "Retrieves details about given subscription which is associated with the management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cache-control",
            "in": "header",
            "description": "Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing caches.",
            "required": false,
            "type": "string",
            "default": "no-cache",
            "x-ms-client-name": "Cache-Control"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SubscriptionUnderManagementGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "SubscriptionUnderManagementGroups_Create",
        "tags": [
          "SubscriptionUnderManagementGroups"
        ],
        "description": "Associates existing subscription with the management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cache-control",
            "in": "header",
            "description": "Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing caches.",
            "required": false,
            "type": "string",
            "default": "no-cache",
            "x-ms-client-name": "Cache-Control"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionUnderManagementGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SubscriptionUnderManagementGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SubscriptionUnderManagementGroup"
            }
          },
          "201": {
            "description": "Resource 'SubscriptionUnderManagementGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SubscriptionUnderManagementGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "SubscriptionUnderManagementGroups_Delete",
        "tags": [
          "SubscriptionUnderManagementGroups"
        ],
        "description": "De-associates subscription from the management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cache-control",
            "in": "header",
            "description": "Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing caches.",
            "required": false,
            "type": "string",
            "default": "no-cache",
            "x-ms-client-name": "Cache-Control"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Management Group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/startTenantBackfill": {
      "post": {
        "operationId": "StartTenantBackfill",
        "description": "Starts backfilling subscriptions for the Tenant.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TenantBackfillStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/tenantBackfillStatus": {
      "post": {
        "operationId": "TenantBackfillStatus",
        "description": "Gets tenant backfill status",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TenantBackfillStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Management/managementGroups": {
      "get": {
        "operationId": "ManagementGroups_List",
        "tags": [
          "ManagementGroups"
        ],
        "description": "List management groups for the authenticated user.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagementGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListManagementGroups": {
            "$ref": "./examples/ManagementGroups_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CheckNameAvailabilityRequest": {
      "type": "object",
      "description": "Management group name availability check parameters.",
      "properties": {
        "name": {
          "type": "string",
          "description": "the name to check for availability"
        },
        "type": {
          "type": "string",
          "description": "fully qualified resource type which includes provider namespace",
          "enum": [
            "Microsoft.Management/managementGroups"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      }
    },
    "CheckNameAvailabilityResult": {
      "type": "object",
      "description": "Describes the result of the request to check management group name availability.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Required. True indicates name is valid and available. False indicates the name is invalid, unavailable, or both.",
          "readOnly": true
        },
        "reason": {
          "$ref": "#/definitions/Reason",
          "description": "Required if nameAvailable == false. Invalid indicates the name provided does not match the resource provider's naming requirements (incorrect length, unsupported characters, etc.) AlreadyExists indicates that the name is already in use and is therefore unavailable.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Required if nameAvailable == false. Localized. If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that is already in use, and direct them to select a different name.",
          "readOnly": true
        }
      }
    },
    "CreateOrUpdateSettingsProperties": {
      "type": "object",
      "description": "The properties of the request to create or update Management Group settings",
      "properties": {
        "requireAuthorizationForGroupCreation": {
          "type": "boolean",
          "description": "Indicates whether RBAC access is required upon group creation under the root Management Group. If set to true, user will require Microsoft.Management/managementGroups/write action on the root Management Group scope in order to create new Groups directly under the root. This will prevent new users from creating new Management Groups, unless they are given access."
        },
        "defaultManagementGroup": {
          "type": "string",
          "description": "Settings that sets the default Management Group under which new subscriptions get added in this tenant. For example, /providers/Microsoft.Management/managementGroups/defaultGroup"
        }
      }
    },
    "CreateOrUpdateSettingsRequest": {
      "type": "object",
      "description": "Parameters for creating or updating Management Group settings",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CreateOrUpdateSettingsProperties",
          "description": "The properties of the request to create or update Management Group settings"
        }
      }
    },
    "DescendantInfo": {
      "type": "object",
      "description": "The descendant.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The fully qualified ID for the descendant.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000 or /subscriptions/0000000-0000-0000-0000-000000000000",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. For example, Microsoft.Management/managementGroups or /subscriptions",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the descendant. For example, 00000000-0000-0000-0000-000000000000",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/DescendantInfoProperties",
          "description": "The generic properties of an descendant."
        }
      }
    },
    "DescendantInfoProperties": {
      "type": "object",
      "description": "The generic properties of an descendant.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name of the management group."
        },
        "parent": {
          "$ref": "#/definitions/DescendantParentGroupInfo",
          "description": "The ID of the parent management group."
        }
      }
    },
    "DescendantListResult": {
      "type": "object",
      "description": "Describes the result of the request to view descendants.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DescendantInfo items on this page",
          "items": {
            "$ref": "#/definitions/DescendantInfo"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DescendantParentGroupInfo": {
      "type": "object",
      "description": "The ID of the parent management group.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The fully qualified ID for the parent management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
        }
      }
    },
    "EntityInfo": {
      "type": "object",
      "description": "The entity.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The fully qualified ID for the entity.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. For example, Microsoft.Management/managementGroups",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the entity. For example, 00000000-0000-0000-0000-000000000000",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/EntityInfoProperties",
          "description": "The generic properties of an entity."
        }
      }
    },
    "EntityInfoProperties": {
      "type": "object",
      "description": "The generic properties of an entity.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The AAD Tenant ID associated with the entity. For example, 00000000-0000-0000-0000-000000000000"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name of the management group."
        },
        "parent": {
          "$ref": "#/definitions/EntityParentGroupInfo",
          "description": "(Optional) The ID of the parent management group."
        },
        "permissions": {
          "$ref": "#/definitions/Permissions",
          "description": "The users specific permissions to this item."
        },
        "inheritedPermissions": {
          "$ref": "#/definitions/Permissions",
          "description": "The users specific permissions to this item."
        },
        "numberOfDescendants": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Descendants"
        },
        "numberOfChildren": {
          "type": "integer",
          "format": "int32",
          "description": "Number of children is the number of Groups and Subscriptions that are exactly one level underneath the current Group."
        },
        "numberOfChildGroups": {
          "type": "integer",
          "format": "int32",
          "description": "Number of children is the number of Groups that are exactly one level underneath the current Group."
        },
        "parentDisplayNameChain": {
          "type": "array",
          "description": "The parent display name chain from the root group to the immediate parent",
          "items": {
            "type": "string"
          }
        },
        "parentNameChain": {
          "type": "array",
          "description": "The parent name chain from the root group to the immediate parent",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EntityListResult": {
      "type": "object",
      "description": "Describes the result of the request to view entities.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EntityInfo items on this page",
          "items": {
            "$ref": "#/definitions/EntityInfo"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Total count of records that match the filter",
          "readOnly": true
        }
      },
      "required": [
        "value"
      ]
    },
    "EntityParentGroupInfo": {
      "type": "object",
      "description": "(Optional) The ID of the parent management group.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The fully qualified ID for the parent management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
        }
      }
    },
    "HierarchySettings": {
      "type": "object",
      "description": "Settings defined at the Management Group scope.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HierarchySettingsProperties",
          "description": "The resource-specific properties for this resource."
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.  For example, Microsoft.Management/managementGroups/settings.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HierarchySettingsListResult": {
      "type": "object",
      "description": "The response of a HierarchySettings list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HierarchySettings items on this page",
          "items": {
            "$ref": "#/definitions/HierarchySettings"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HierarchySettingsProperties": {
      "type": "object",
      "description": "The generic properties of hierarchy settings.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The AAD Tenant ID associated with the hierarchy settings. For example, 00000000-0000-0000-0000-000000000000"
        },
        "requireAuthorizationForGroupCreation": {
          "type": "boolean",
          "description": "Indicates whether RBAC access is required upon group creation under the root Management Group. If set to true, user will require Microsoft.Management/managementGroups/write action on the root Management Group scope in order to create new Groups directly under the root. This will prevent new users from creating new Management Groups, unless they are given access."
        },
        "defaultManagementGroup": {
          "type": "string",
          "description": "Settings that sets the default Management Group under which new subscriptions get added in this tenant. For example, /providers/Microsoft.Management/managementGroups/defaultGroup"
        }
      }
    },
    "ManagementGroup": {
      "type": "object",
      "description": "The management group details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "The resource-specific properties for this resource."
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.  For example, Microsoft.Management/managementGroups",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ManagementGroupChildInfo": {
      "type": "object",
      "description": "The child information of a management group.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ManagementGroupChildType",
          "description": "The fully qualified resource type which includes provider namespace (e.g. Microsoft.Management/managementGroups)"
        },
        "id": {
          "type": "string",
          "description": "The fully qualified ID for the child resource (management group or subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string",
          "description": "The name of the child entity."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name of the child resource."
        },
        "children": {
          "type": "array",
          "description": "The list of children.",
          "items": {
            "$ref": "#/definitions/ManagementGroupChildInfo"
          }
        }
      }
    },
    "ManagementGroupChildType": {
      "type": "string",
      "description": "The type of child resource.",
      "enum": [
        "Microsoft.Management/managementGroups",
        "/subscriptions"
      ],
      "x-ms-enum": {
        "name": "ManagementGroupChildType",
        "modelAsString": false
      }
    },
    "ManagementGroupDetails": {
      "type": "object",
      "description": "The details of a management group.",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "The version number of the object."
        },
        "updatedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when this object was last updated."
        },
        "updatedBy": {
          "type": "string",
          "description": "The identity of the principal or process that updated the object."
        },
        "parent": {
          "$ref": "#/definitions/ParentGroupInfo",
          "description": "(Optional) The ID of the parent management group."
        },
        "path": {
          "type": "array",
          "description": "The path from the root to the current group.",
          "items": {
            "$ref": "#/definitions/ManagementGroupPathElement"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "managementGroupAncestors": {
          "type": "array",
          "description": "The ancestors of the management group.",
          "items": {
            "type": "string"
          }
        },
        "managementGroupAncestorsChain": {
          "type": "array",
          "description": "The ancestors of the management group displayed in reversed order, from immediate parent to the root.",
          "items": {
            "$ref": "#/definitions/ManagementGroupPathElement"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "ManagementGroupListResult": {
      "type": "object",
      "description": "The response of a ManagementGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ManagementGroup items on this page",
          "items": {
            "$ref": "#/definitions/ManagementGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ManagementGroupPathElement": {
      "type": "object",
      "description": "A path element of a management group ancestors.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the group."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name of the group."
        }
      }
    },
    "ManagementGroupProperties": {
      "type": "object",
      "description": "The generic properties of a management group.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The AAD Tenant ID associated with the management group. For example, 00000000-0000-0000-0000-000000000000"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name of the management group."
        },
        "details": {
          "$ref": "#/definitions/ManagementGroupDetails",
          "description": "The details of a management group."
        },
        "children": {
          "type": "array",
          "description": "The list of children.",
          "items": {
            "$ref": "#/definitions/ManagementGroupChildInfo"
          }
        }
      }
    },
    "ParentGroupInfo": {
      "type": "object",
      "description": "(Optional) The ID of the parent management group.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The fully qualified ID for the parent management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string",
          "description": "The name of the parent management group"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name of the parent management group."
        }
      }
    },
    "PatchManagementGroupRequest": {
      "type": "object",
      "description": "Management group patch parameters.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name of the management group."
        },
        "parentGroupId": {
          "type": "string",
          "description": "(Optional) The fully qualified ID for the parent management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Permissions": {
      "type": "string",
      "description": "The users specific permissions to this item.",
      "enum": [
        "noaccess",
        "view",
        "edit",
        "delete"
      ],
      "x-ms-enum": {
        "name": "Permissions",
        "modelAsString": false
      }
    },
    "Reason": {
      "type": "string",
      "description": "Required if nameAvailable == false. Invalid indicates the name provided does not match the resource provider's naming requirements (incorrect length, unsupported characters, etc.) AlreadyExists indicates that the name is already in use and is therefore unavailable.",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "Reason",
        "modelAsString": false
      }
    },
    "Status": {
      "type": "string",
      "description": "The status of the Tenant Backfill",
      "enum": [
        "NotStarted",
        "NotStartedButGroupsExist",
        "Started",
        "Failed",
        "Cancelled",
        "Completed"
      ],
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": false
      }
    },
    "SubscriptionUnderManagementGroup": {
      "type": "object",
      "description": "The details of subscription under management group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SubscriptionUnderManagementGroupProperties",
          "description": "The resource-specific properties for this resource."
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.  For example, Microsoft.Management/managementGroups/subscriptions",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SubscriptionUnderManagementGroupListResult": {
      "type": "object",
      "description": "The response of a SubscriptionUnderManagementGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SubscriptionUnderManagementGroup items on this page",
          "items": {
            "$ref": "#/definitions/SubscriptionUnderManagementGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SubscriptionUnderManagementGroupProperties": {
      "type": "object",
      "description": "The generic properties of subscription under a management group.",
      "properties": {
        "tenant": {
          "type": "string",
          "description": "The AAD Tenant ID associated with the subscription. For example, 00000000-0000-0000-0000-000000000000"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name of the subscription."
        },
        "parent": {
          "$ref": "#/definitions/DescendantParentGroupInfo",
          "description": "The ID of the parent management group."
        },
        "state": {
          "type": "string",
          "description": "The state of the subscription."
        }
      }
    },
    "TenantBackfillStatusResult": {
      "type": "object",
      "description": "The tenant backfill status",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The AAD Tenant ID associated with the management group. For example, 00000000-0000-0000-0000-000000000000",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the Tenant Backfill",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
