{
  "swagger": "2.0",
  "info": {
    "title": "EventHubManagementClient",
    "version": "2025-05-01-preview",
    "description": "Azure Event Hubs client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Clusters"
    },
    {
      "name": "DisasterRecoveryConfigs"
    },
    {
      "name": "EHNamespaces"
    },
    {
      "name": "NetworkRuleSets"
    },
    {
      "name": "AuthorizationRules"
    },
    {
      "name": "EventHubs"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "NetworkSecurityPerimeterConfigurations"
    },
    {
      "name": "ArmDisasterRecoveries"
    },
    {
      "name": "Eventhubs"
    },
    {
      "name": "ConsumerGroups"
    },
    {
      "name": "SchemaGroups"
    },
    {
      "name": "ApplicationGroups"
    }
  ],
  "paths": {
    "/providers/Microsoft.EventHub/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Event Hub REST API operations.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to use for this operation.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EHOperations_List": {
            "parameters": {
              "api-version": "2025-05-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "Microsoft.EventHub/checkNameAvailability/action",
                      "display": {
                        "operation": "Get namespace availability.",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "Non Resource Operation"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/register/action",
                      "display": {
                        "operation": "Registers the EventHub Resource Provider",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "EventHub Resource Provider"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/write",
                      "display": {
                        "operation": "Create Or Update Namespace ",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "Namespace"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/read",
                      "display": {
                        "operation": "Get Namespace Resource",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "Namespace"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/Delete",
                      "display": {
                        "operation": "Delete Namespace",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "Namespace"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/authorizationRules/read",
                      "display": {
                        "operation": "Get Namespace Authorization Rules",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/authorizationRules/write",
                      "display": {
                        "operation": "Create or Update Namespace Authorization Rules",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/authorizationRules/delete",
                      "display": {
                        "operation": "Delete Namespace Authorization Rule",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/authorizationRules/listkeys/action",
                      "display": {
                        "operation": "Get Namespace Listkeys",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/authorizationRules/regenerateKeys/action",
                      "display": {
                        "operation": "Resource Regeneratekeys",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventhubs/write",
                      "display": {
                        "operation": "Create or Update EventHub",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "EventHub"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventhubs/read",
                      "display": {
                        "operation": "Get EventHub",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "EventHub"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventhubs/Delete",
                      "display": {
                        "operation": "Delete EventHub",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "EventHub"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventhubs/authorizationRules/read",
                      "display": {
                        "operation": " Get EventHub Authorization Rules",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "EventHub AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventhubs/authorizationRules/write",
                      "display": {
                        "operation": "Create or Update EventHub Authorization Rule",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "EventHub AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventhubs/authorizationRules/delete",
                      "display": {
                        "operation": "Delete EventHub Authorization Rules",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "EventHub AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventhubs/authorizationRules/listkeys/action",
                      "display": {
                        "operation": "List EventHub keys",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "EventHub AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventhubs/authorizationRules/regenerateKeys/action",
                      "display": {
                        "operation": "Resource Regeneratekeys",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "EventHub AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventHubs/consumergroups/write",
                      "display": {
                        "operation": "Create or Update ConsumerGroup",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "ConsumerGroup"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventHubs/consumergroups/read",
                      "display": {
                        "operation": "Get ConsumerGroup",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "ConsumerGroup"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/eventHubs/consumergroups/Delete",
                      "display": {
                        "operation": "Delete ConsumerGroup",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "ConsumerGroup"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/metricDefinitions/read",
                      "display": {
                        "operation": "Get Namespace metrics",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "Namespace metrics"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/diagnosticSettings/read",
                      "display": {
                        "operation": "Get Namespace diagnostic settings",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "Namespace diagnostic settings"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/diagnosticSettings/write",
                      "display": {
                        "operation": "Create or Update Namespace diagnostic settings",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "Namespace diagnostic settings"
                      }
                    },
                    {
                      "name": "Microsoft.EventHub/namespaces/logDefinitions/read",
                      "display": {
                        "operation": "Get Namespace logs",
                        "provider": "Microsoft Azure EventHub",
                        "resource": "Namespace logs"
                      }
                    }
                  ]
                }
              }
            },
            "operationId": "Operations_List",
            "title": "EHOperations_List"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/availableClusterRegions": {
      "get": {
        "operationId": "Clusters_ListAvailableClusterRegion",
        "description": "List the quantity of available pre-provisioned Event Hubs Clusters, indexed by Azure region.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailableClustersList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListAvailableClusters": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "location": "westus"
                    },
                    {
                      "location": "eastus"
                    }
                  ]
                }
              }
            },
            "operationId": "Clusters_ListAvailableClusterRegion",
            "title": "ListAvailableClusters"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/checkNameAvailability": {
      "post": {
        "operationId": "Namespaces_CheckNameAvailability",
        "description": "Check the give Namespace name availability.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NamespacesCheckNameAvailability": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "parameters": {
                "name": "sdk-Namespace-8458"
              },
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "message": "",
                  "nameAvailable": true,
                  "reason": "None"
                }
              }
            },
            "operationId": "Namespaces_CheckNameAvailability",
            "title": "NamespacesCheckNameAvailability"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/clusters": {
      "get": {
        "operationId": "Clusters_ListBySubscription",
        "tags": [
          "Clusters"
        ],
        "description": "Lists the available Event Hubs Clusters within an ARM resource group",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClustersListBySubscription": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "testCluster",
                      "type": "Microsoft.EventHub/Clusters",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/clusters/testCluster",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-13T23:17:25.24Z",
                        "metricId": "SN6-008",
                        "updatedAt": "2016-09-13T23:17:28.223Z"
                      },
                      "sku": {
                        "name": "Dedicated",
                        "capacity": 4
                      },
                      "tags": {}
                    }
                  ]
                }
              }
            },
            "operationId": "Clusters_ListBySubscription",
            "title": "ClustersListBySubscription"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/namespaces": {
      "get": {
        "operationId": "Namespaces_List",
        "tags": [
          "EHNamespaces"
        ],
        "description": "Lists all the available Namespaces within a subscription, irrespective of the resource groups.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EHNamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NamespacesListBySubscription": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "subscriptionId": "SampleSubscription"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "NamespaceSample",
                      "type": "Microsoft.EventHub/Namespaces",
                      "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceSample",
                      "identity": {
                        "type": "SystemAssigned, UserAssigned",
                        "principalId": "PrincipalIdGUID",
                        "tenantId": "TenantIdGUID",
                        "userAssignedIdentities": {
                          "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1": {
                            "clientId": "ClientIdGUID",
                            "principalId": "PrincipalIdGUID"
                          },
                          "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud2": {
                            "clientId": "6a35400f-6ccb-4817-8f1a-ce19ea4523bc",
                            "principalId": "ce2d5953-5c15-40ca-9d51-cc3f4a63b0f5"
                          }
                        }
                      },
                      "location": "East US",
                      "properties": {
                        "clusterArmId": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/clusters/enc-test",
                        "createdAt": "2021-01-30T00:28:38.963Z",
                        "disableLocalAuth": false,
                        "encryption": {
                          "keySource": "Microsoft.KeyVault",
                          "keyVaultProperties": [
                            {
                              "identity": {
                                "userAssignedIdentity": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1"
                              },
                              "keyName": "Samplekey",
                              "keyVaultUri": "https://sample-keyvault-user.vault-int.azure-int.net",
                              "keyVersion": ""
                            }
                          ],
                          "requireInfrastructureEncryption": false
                        },
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "metricId": "MetricGUID:NamespaceSample",
                        "minimumTlsVersion": "1.2",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NamespaceSample.servicebus.windows-int.net:443/",
                        "updatedAt": "2021-01-30T00:30:55.143Z",
                        "zoneRedundant": false
                      },
                      "sku": {
                        "name": "Standard",
                        "capacity": 0,
                        "tier": "Standard"
                      },
                      "tags": {}
                    }
                  ]
                }
              }
            },
            "operationId": "Namespaces_List",
            "title": "NamespacesListBySubscription"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters": {
      "get": {
        "operationId": "Clusters_ListByResourceGroup",
        "tags": [
          "Clusters"
        ],
        "description": "Lists the available Event Hubs Clusters within an ARM resource group",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClustersListByResourceGroup": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "testCluster",
                      "type": "Microsoft.EventHub/Clusters",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/clusters/testCluster",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-13T23:17:25.24Z",
                        "metricId": "SN6-008",
                        "updatedAt": "2016-09-13T23:17:28.223Z"
                      },
                      "sku": {
                        "name": "Dedicated",
                        "capacity": 4
                      },
                      "tags": {}
                    }
                  ]
                }
              }
            },
            "operationId": "Clusters_ListByResourceGroup",
            "title": "ClustersListByResourceGroup"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}": {
      "get": {
        "operationId": "Clusters_Get",
        "tags": [
          "Clusters"
        ],
        "description": "Gets the resource description of the specified Event Hubs Cluster.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Event Hubs Cluster.",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterGet": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "clusterName": "testCluster",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "testCluster",
                  "type": "Microsoft.EventHub/Clusters",
                  "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/myResourceGroup/providers/Microsoft.EventHub/clusters/testCluster",
                  "location": "South Central US",
                  "properties": {
                    "createdAt": "2017-05-24T23:23:27.877Z",
                    "metricId": "SN6-008",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "provisioningState": "Succeeded",
                    "updatedAt": "2017-05-24T23:23:27.877Z"
                  },
                  "sku": {
                    "name": "Dedicated",
                    "capacity": 4
                  },
                  "tags": {
                    "tag1": "value1",
                    "tag2": "value2"
                  }
                }
              }
            },
            "operationId": "Clusters_Get",
            "title": "ClusterGet"
          }
        }
      },
      "put": {
        "operationId": "Clusters_CreateOrUpdate",
        "tags": [
          "Clusters"
        ],
        "description": "Creates or updates an instance of an Event Hubs Cluster.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Event Hubs Cluster.",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for creating a eventhub cluster resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Cluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "201": {
            "description": "Resource 'Cluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterPut": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "clusterName": "testCluster",
              "parameters": {
                "location": "South Central US",
                "sku": {
                  "name": "Dedicated",
                  "capacity": 1
                },
                "tags": {
                  "tag1": "value1",
                  "tag2": "value2"
                }
              },
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "testCluster",
                  "type": "Microsoft.EventHub/Clusters",
                  "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/myResourceGroup/providers/Microsoft.EventHub/clusters/testCluster",
                  "location": "South Central US",
                  "properties": {
                    "createdAt": "2017-05-24T23:23:27.877Z",
                    "metricId": "SN6-008",
                    "provisioningState": "Succeeded",
                    "updatedAt": "2017-05-24T23:23:27.877Z"
                  },
                  "sku": {
                    "name": "Dedicated",
                    "capacity": 1
                  },
                  "tags": {
                    "tag1": "value1",
                    "tag2": "value2"
                  }
                }
              },
              "201": {
                "body": {
                  "name": "testCluster",
                  "type": "Microsoft.EventHub/Clusters",
                  "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/myResourceGroup/providers/Microsoft.EventHub/clusters/testCluster",
                  "location": "South Central US",
                  "properties": {
                    "createdAt": "2017-05-24T23:23:27.877Z",
                    "metricId": "SN6-008",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "provisioningState": "Succeeded",
                    "updatedAt": "2017-05-24T23:23:27.877Z"
                  },
                  "sku": {
                    "name": "Dedicated",
                    "capacity": 1
                  },
                  "tags": {
                    "tag1": "value1",
                    "tag2": "value2"
                  }
                }
              },
              "202": {}
            },
            "operationId": "Clusters_CreateOrUpdate",
            "title": "ClusterPut"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Cluster"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Clusters_Update",
        "tags": [
          "Clusters"
        ],
        "description": "Modifies mutable properties on the Event Hubs Cluster. This operation is idempotent.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Event Hubs Cluster.",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The properties of the Event Hubs Cluster which should be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "201": {
            "description": "Resource 'Cluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterPatch": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "clusterName": "testCluster",
              "parameters": {
                "location": "South Central US",
                "tags": {
                  "tag3": "value3",
                  "tag4": "value4"
                }
              },
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "testCluster",
                  "type": "Microsoft.EventHub/Clusters",
                  "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/myResourceGroup/providers/Microsoft.EventHub/clusters/testCluster",
                  "location": "South Central US",
                  "properties": {
                    "createdAt": "2017-06-01T21:37:04.46Z",
                    "metricId": "SN6-008",
                    "provisioningState": "Succeeded",
                    "updatedAt": "2017-06-01T21:37:53.413Z"
                  },
                  "sku": {
                    "name": "Dedicated",
                    "capacity": 4
                  },
                  "tags": {
                    "tag3": "value3",
                    "tag4": "value4"
                  }
                },
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              },
              "201": {
                "body": {
                  "name": "testCluster",
                  "type": "Microsoft.EventHub/Clusters",
                  "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/myResourceGroup/providers/Microsoft.EventHub/clusters/testCluster",
                  "location": "South Central US",
                  "properties": {
                    "createdAt": "2017-06-01T21:37:04.46Z",
                    "metricId": "SN6-008",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "provisioningState": "Succeeded",
                    "updatedAt": "2017-06-01T21:37:53.413Z"
                  },
                  "sku": {
                    "name": "Dedicated",
                    "capacity": 4
                  },
                  "tags": {
                    "tag3": "value3",
                    "tag4": "value4"
                  }
                },
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              },
              "202": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              }
            },
            "operationId": "Clusters_Update",
            "title": "ClusterPatch"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Cluster"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Clusters_Delete",
        "tags": [
          "Clusters"
        ],
        "description": "Deletes an existing Event Hubs Cluster. This operation is idempotent.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Event Hubs Cluster.",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterDelete": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "clusterName": "testCluster",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              },
              "202": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              },
              "204": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              }
            },
            "operationId": "Clusters_Delete",
            "title": "ClusterDelete"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}/namespaces": {
      "get": {
        "operationId": "Clusters_ListNamespaces",
        "tags": [
          "Clusters"
        ],
        "description": "List all Event Hubs Namespace IDs in an Event Hubs Dedicated Cluster.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Event Hubs Cluster.",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EHNamespaceIdListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListNamespacesInCluster": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "clusterName": "testCluster",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-int7-ns1"
                    },
                    {
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-ehns2-int7"
                    },
                    {
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/db3-rrama-foo1"
                    }
                  ]
                }
              }
            },
            "operationId": "Clusters_ListNamespaces",
            "title": "ListNamespacesInCluster"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}/quotaConfiguration/default": {
      "get": {
        "operationId": "Configuration_Get",
        "tags": [
          "Clusters"
        ],
        "description": "Get all Event Hubs Cluster settings - a collection of key/value pairs which represent the quotas and settings imposed on the cluster.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Event Hubs Cluster.",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterQuotaConfigurationProperties"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClustersQuotasConfigurationGet": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "clusterName": "testCluster",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "settings": {
                    "eventhub-per-namespace-quota": "20",
                    "namespaces-per-cluster-quota": "200"
                  }
                }
              }
            },
            "operationId": "Configuration_Get",
            "title": "ClustersQuotasConfigurationGet"
          }
        }
      },
      "patch": {
        "operationId": "Configuration_Patch",
        "tags": [
          "Clusters"
        ],
        "description": "Replace all specified Event Hubs Cluster settings with those contained in the request body. Leaves the settings not specified in the request body unmodified.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Event Hubs Cluster.",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for creating an Event Hubs Cluster resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterQuotaConfigurationProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterQuotaConfigurationProperties"
            }
          },
          "201": {
            "description": "Resource 'ClusterQuotaConfigurationProperties' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ClusterQuotaConfigurationProperties"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClustersQuotasConfigurationPatch": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "clusterName": "testCluster",
              "parameters": {
                "settings": {
                  "eventhub-per-namespace-quota": "20",
                  "namespaces-per-cluster-quota": "200"
                }
              },
              "resourceGroupName": "ArunMonocle",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "settings": {
                    "eventhub-per-namespace-quota": "20",
                    "namespaces-per-cluster-quota": "200"
                  }
                }
              },
              "201": {
                "body": {
                  "settings": {
                    "eventhub-per-namespace-quota": "20",
                    "namespaces-per-cluster-quota": "200"
                  }
                }
              },
              "202": {}
            },
            "operationId": "Configuration_Patch",
            "title": "ClustersQuotasConfigurationPatch"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces": {
      "get": {
        "operationId": "Namespaces_ListByResourceGroup",
        "tags": [
          "EHNamespaces"
        ],
        "description": "Lists the available Namespaces within a resource group.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EHNamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NamespaceListByResourceGroup": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "resourceGroupName": "ResurceGroupSample",
              "subscriptionId": "SampleSubscription"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "NamespaceSample",
                      "type": "Microsoft.EventHub/Namespaces",
                      "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceSample",
                      "identity": {
                        "type": "SystemAssigned, UserAssigned",
                        "principalId": "PrincipalIdGUID",
                        "tenantId": "TenantIdGUID",
                        "userAssignedIdentities": {
                          "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1": {
                            "clientId": "ClientIdGUID",
                            "principalId": "PrincipalIdGUID"
                          },
                          "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud2": {
                            "clientId": "6a35400f-6ccb-4817-8f1a-ce19ea4523bc",
                            "principalId": "ce2d5953-5c15-40ca-9d51-cc3f4a63b0f5"
                          }
                        }
                      },
                      "location": "East US",
                      "properties": {
                        "clusterArmId": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/clusters/enc-test",
                        "createdAt": "2021-01-30T00:28:38.963Z",
                        "disableLocalAuth": false,
                        "encryption": {
                          "keySource": "Microsoft.KeyVault",
                          "keyVaultProperties": [
                            {
                              "identity": {
                                "userAssignedIdentity": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1"
                              },
                              "keyName": "Samplekey",
                              "keyVaultUri": "https://sample-keyvault-user.vault-int.azure-int.net",
                              "keyVersion": ""
                            }
                          ],
                          "requireInfrastructureEncryption": false
                        },
                        "isAutoInflateEnabled": false,
                        "maximumThroughputUnits": 0,
                        "metricId": "MetricGUID:NamespaceSample",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NamespaceSample.servicebus.windows-int.net:443/",
                        "updatedAt": "2021-01-30T00:30:55.143Z",
                        "zoneRedundant": false
                      },
                      "sku": {
                        "name": "Standard",
                        "capacity": 1,
                        "tier": "Standard"
                      },
                      "tags": {}
                    }
                  ]
                }
              }
            },
            "operationId": "Namespaces_ListByResourceGroup",
            "title": "NamespaceListByResourceGroup"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}": {
      "get": {
        "operationId": "Namespaces_Get",
        "tags": [
          "EHNamespaces"
        ],
        "description": "Gets the description of the specified namespace.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The Namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{6,50}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EHNamespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NameSpaceGet": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "namespaceName": "NamespaceSample",
              "resourceGroupName": "ResurceGroupSample",
              "subscriptionId": "SampleSubscription"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "NamespaceSample",
                  "type": "Microsoft.EventHub/Namespaces",
                  "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceSample",
                  "identity": {
                    "type": "SystemAssigned, UserAssigned",
                    "principalId": "PrincipalIdGUID",
                    "tenantId": "TenantIdGUID",
                    "userAssignedIdentities": {
                      "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1": {
                        "clientId": "ClientIdGUID",
                        "principalId": "PrincipalIdGUID"
                      },
                      "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud2": {
                        "clientId": "6a35400f-6ccb-4817-8f1a-ce19ea4523bc",
                        "principalId": "ce2d5953-5c15-40ca-9d51-cc3f4a63b0f5"
                      }
                    }
                  },
                  "location": "East US",
                  "properties": {
                    "clusterArmId": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/clusters/enc-test",
                    "createdAt": "2021-01-30T00:28:38.963Z",
                    "disableLocalAuth": false,
                    "encryption": {
                      "keySource": "Microsoft.KeyVault",
                      "keyVaultProperties": [
                        {
                          "identity": {
                            "userAssignedIdentity": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1"
                          },
                          "keyName": "Samplekey",
                          "keyVaultUri": "https://sample-keyvault-user.vault-int.azure-int.net",
                          "keyVersion": ""
                        }
                      ],
                      "requireInfrastructureEncryption": false
                    },
                    "isAutoInflateEnabled": false,
                    "maximumThroughputUnits": 0,
                    "metricId": "MetricGUID:NamespaceSample",
                    "minimumTlsVersion": "1.2",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "privateEndpointConnections": [
                      {
                        "name": "privateEndpointConnectionName",
                        "type": "Microsoft.EventHub/Namespaces/PrivateEndpointConnections",
                        "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceSample/privateEndpointConnections/privateEndpointConnectionName",
                        "properties": {
                          "privateEndpoint": {
                            "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.Network/privateEndpoints/NamespaceSample"
                          },
                          "privateLinkServiceConnectionState": {
                            "description": "Auto-Approved",
                            "status": "Approved"
                          },
                          "provisioningState": "Succeeded"
                        }
                      }
                    ],
                    "provisioningState": "Succeeded",
                    "serviceBusEndpoint": "https://NamespaceSample.servicebus.windows-int.net:443",
                    "updatedAt": "2021-01-30T00:30:55.143Z",
                    "zoneRedundant": false
                  },
                  "sku": {
                    "name": "Standard",
                    "capacity": 1,
                    "tier": "Standard"
                  },
                  "tags": {}
                }
              }
            },
            "operationId": "Namespaces_Get",
            "title": "NameSpaceGet"
          }
        }
      },
      "put": {
        "operationId": "Namespaces_CreateOrUpdate",
        "tags": [
          "EHNamespaces"
        ],
        "description": "Creates or updates a namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The Namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{6,50}[a-zA-Z0-9]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for creating a namespace resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EHNamespace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EHNamespace' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EHNamespace"
            }
          },
          "201": {
            "description": "Resource 'EHNamespace' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EHNamespace"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NamespaceCreate": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "namespaceName": "NamespaceSample",
              "parameters": {
                "identity": {
                  "type": "SystemAssigned, UserAssigned",
                  "userAssignedIdentities": {
                    "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1": {},
                    "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud2": {}
                  }
                },
                "location": "East US",
                "properties": {
                  "clusterArmId": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/clusters/enc-test",
                  "encryption": {
                    "keySource": "Microsoft.KeyVault",
                    "keyVaultProperties": [
                      {
                        "identity": {
                          "userAssignedIdentity": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1"
                        },
                        "keyName": "Samplekey",
                        "keyVaultUri": "https://aprao-keyvault-user.vault-int.azure-int.net/"
                      }
                    ]
                  },
                  "geoDataReplication": {
                    "locations": [
                      {
                        "locationName": "eastus",
                        "roleType": "Primary"
                      },
                      {
                        "locationName": "southcentralus",
                        "roleType": "Secondary"
                      }
                    ],
                    "maxReplicationLagDurationInSeconds": 300
                  }
                }
              },
              "resourceGroupName": "ResurceGroupSample",
              "subscriptionId": "SampleSubscription"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "NamespaceSample",
                  "type": "Microsoft.EventHub/Namespaces",
                  "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceSample",
                  "identity": {
                    "type": "SystemAssigned, UserAssigned",
                    "principalId": "PrincipalIdGUID",
                    "tenantId": "TenantIdGUID",
                    "userAssignedIdentities": {
                      "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1": {
                        "clientId": "ClientIdGUID",
                        "principalId": "PrincipalIdGUID"
                      },
                      "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud2": {
                        "clientId": "6a35400f-6ccb-4817-8f1a-ce19ea4523bc",
                        "principalId": "ce2d5953-5c15-40ca-9d51-cc3f4a63b0f5"
                      }
                    }
                  },
                  "location": "East US",
                  "properties": {
                    "clusterArmId": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/clusters/enc-test",
                    "createdAt": "2021-02-16T22:36:06.107Z",
                    "disableLocalAuth": false,
                    "encryption": {
                      "keySource": "Microsoft.KeyVault",
                      "keyVaultProperties": [
                        {
                          "identity": {
                            "userAssignedIdentity": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1"
                          },
                          "keyName": "Samplekey",
                          "keyVaultUri": "https://sample-keyvault-user.vault-int.azure-int.net",
                          "keyVersion": ""
                        }
                      ],
                      "requireInfrastructureEncryption": false
                    },
                    "geoDataReplication": {
                      "locations": [
                        {
                          "locationName": "eastus",
                          "roleType": "Primary"
                        },
                        {
                          "locationName": "southcentralus",
                          "roleType": "Secondary"
                        }
                      ],
                      "maxReplicationLagDurationInSeconds": 300
                    },
                    "isAutoInflateEnabled": false,
                    "kafkaEnabled": false,
                    "maximumThroughputUnits": 0,
                    "metricId": "MetricGUID:NamespaceSample",
                    "minimumTlsVersion": "1.2",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "provisioningState": "Succeeded",
                    "serviceBusEndpoint": "https://NamespaceSample.servicebus.windows-int.net:443/",
                    "updatedAt": "2021-02-16T22:37:42.29Z",
                    "zoneRedundant": false
                  },
                  "sku": {
                    "name": "Standard",
                    "capacity": 1,
                    "tier": "Standard"
                  },
                  "tags": {}
                }
              },
              "201": {
                "body": {
                  "name": "NamespaceSample",
                  "type": "Microsoft.EventHub/Namespaces",
                  "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceSample",
                  "identity": {
                    "type": "SystemAssigned, UserAssigned",
                    "principalId": "PrincipalIdGUID",
                    "tenantId": "TenantIdGUID",
                    "userAssignedIdentities": {
                      "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1": {
                        "clientId": "ClientIdGUID",
                        "principalId": "PrincipalIdGUID"
                      },
                      "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud2": {
                        "clientId": "6a35400f-6ccb-4817-8f1a-ce19ea4523bc",
                        "principalId": "ce2d5953-5c15-40ca-9d51-cc3f4a63b0f5"
                      }
                    }
                  },
                  "location": "East US",
                  "properties": {
                    "clusterArmId": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/clusters/enc-test",
                    "createdAt": "2021-02-16T22:36:06.107Z",
                    "disableLocalAuth": false,
                    "encryption": {
                      "keySource": "Microsoft.KeyVault",
                      "keyVaultProperties": [
                        {
                          "identity": {
                            "userAssignedIdentity": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1"
                          },
                          "keyName": "Samplekey",
                          "keyVaultUri": "https://sample-keyvault-user.vault-int.azure-int.net",
                          "keyVersion": ""
                        }
                      ],
                      "requireInfrastructureEncryption": false
                    },
                    "geoDataReplication": {
                      "locations": [
                        {
                          "locationName": "eastus",
                          "roleType": "Primary"
                        },
                        {
                          "locationName": "southcentralus",
                          "roleType": "Secondary"
                        }
                      ],
                      "maxReplicationLagDurationInSeconds": 300
                    },
                    "isAutoInflateEnabled": false,
                    "kafkaEnabled": false,
                    "maximumThroughputUnits": 0,
                    "metricId": "MetricGUID:NamespaceSample",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "provisioningState": "Succeeded",
                    "serviceBusEndpoint": "https://NamespaceSample.servicebus.windows-int.net:443/",
                    "updatedAt": "2021-02-16T22:37:42.29Z",
                    "zoneRedundant": false
                  },
                  "sku": {
                    "name": "Standard",
                    "capacity": 1,
                    "tier": "Standard"
                  },
                  "tags": {}
                }
              },
              "202": {}
            },
            "operationId": "Namespaces_CreateOrUpdate",
            "title": "NamespaceCreate"
          },
          "NamespaceWithGeoDRCreate": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "namespaceName": "NamespaceGeoDRCreateSample",
              "parameters": {
                "location": "East US",
                "properties": {
                  "geoDataReplication": {
                    "locations": [
                      {
                        "locationName": "eastus",
                        "roleType": "Primary"
                      },
                      {
                        "locationName": "westus",
                        "roleType": "Secondary"
                      },
                      {
                        "locationName": "centralus",
                        "roleType": "Secondary"
                      }
                    ],
                    "maxReplicationLagDurationInSeconds": 60
                  }
                }
              },
              "resourceGroupName": "ResurceGroupSample",
              "subscriptionId": "SampleSubscription"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "NamespaceGeoDRCreateSample",
                  "type": "Microsoft.EventHub/Namespaces",
                  "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceGeoDRCreateSample",
                  "location": "East US",
                  "properties": {
                    "clusterArmId": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/clusters/enc-test",
                    "createdAt": "2021-02-16T22:36:06.107Z",
                    "disableLocalAuth": false,
                    "geoDataReplication": {
                      "locations": [
                        {
                          "locationName": "eastus",
                          "replicaState": "Active",
                          "roleType": "Primary"
                        },
                        {
                          "locationName": "westus",
                          "replicaState": "Active",
                          "roleType": "Secondary"
                        },
                        {
                          "locationName": "centralus",
                          "replicaState": "Creating",
                          "roleType": "Secondary"
                        }
                      ],
                      "maxReplicationLagDurationInSeconds": 60
                    },
                    "isAutoInflateEnabled": false,
                    "kafkaEnabled": false,
                    "maximumThroughputUnits": 0,
                    "metricId": "MetricGUID:NamespaceGeoDRCreateSample",
                    "minimumTlsVersion": "1.2",
                    "provisioningState": "Succeeded",
                    "serviceBusEndpoint": "https://NamespaceGeoDRCreateSample.servicebus.windows-int.net:443/",
                    "updatedAt": "2021-02-16T22:37:42.29Z",
                    "zoneRedundant": false
                  },
                  "sku": {
                    "name": "Standard",
                    "capacity": 1,
                    "tier": "Standard"
                  },
                  "tags": {}
                }
              },
              "201": {
                "body": {
                  "name": "NamespaceGeoDRCreateSample",
                  "type": "Microsoft.EventHub/Namespaces",
                  "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceGeoDRCreateSample",
                  "location": "East US",
                  "properties": {
                    "clusterArmId": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/clusters/enc-test",
                    "createdAt": "2021-02-16T22:36:06.107Z",
                    "disableLocalAuth": false,
                    "geoDataReplication": {
                      "locations": [
                        {
                          "locationName": "eastus",
                          "replicaState": "Active",
                          "roleType": "Primary"
                        },
                        {
                          "locationName": "westus",
                          "replicaState": "Active",
                          "roleType": "Secondary"
                        },
                        {
                          "locationName": "centralus",
                          "replicaState": "Creating",
                          "roleType": "Secondary"
                        }
                      ],
                      "maxReplicationLagDurationInSeconds": 60
                    },
                    "isAutoInflateEnabled": false,
                    "kafkaEnabled": false,
                    "maximumThroughputUnits": 0,
                    "metricId": "MetricGUID:NamespaceGeoDRCreateSample",
                    "minimumTlsVersion": "1.2",
                    "provisioningState": "Succeeded",
                    "serviceBusEndpoint": "https://NamespaceGeoDRCreateSample.servicebus.windows-int.net:443/",
                    "updatedAt": "2021-02-16T22:37:42.29Z",
                    "zoneRedundant": false
                  },
                  "sku": {
                    "name": "Standard",
                    "capacity": 1,
                    "tier": "Standard"
                  },
                  "tags": {}
                }
              },
              "202": {}
            },
            "operationId": "Namespaces_CreateOrUpdate",
            "title": "NamespaceWithGeoDRCreate"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/EHNamespace"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Namespaces_Update",
        "tags": [
          "EHNamespaces"
        ],
        "description": "Creates or updates a namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The Namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{6,50}[a-zA-Z0-9]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for updating a namespace resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EHNamespace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EHNamespace"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NamespacesUpdate": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "namespaceName": "NamespaceSample",
              "parameters": {
                "identity": {
                  "type": "SystemAssigned, UserAssigned",
                  "userAssignedIdentities": {
                    "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud2": null
                  }
                },
                "location": "East US"
              },
              "resourceGroupName": "ResurceGroupSample",
              "subscriptionId": "SampleSubscription"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "NamespaceSample",
                  "type": "Microsoft.EventHub/Namespaces",
                  "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceSample",
                  "identity": {
                    "type": "SystemAssigned, UserAssigned",
                    "principalId": "PrincipalIdGUID",
                    "tenantId": "TenantIdGUID",
                    "userAssignedIdentities": {
                      "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1": {
                        "clientId": "ClientIdGUID",
                        "principalId": "PrincipalIdGUID"
                      }
                    }
                  },
                  "location": "East US",
                  "properties": {
                    "createdAt": "2021-01-30T00:28:38.963Z",
                    "disableLocalAuth": false,
                    "encryption": {
                      "keySource": "Microsoft.KeyVault",
                      "keyVaultProperties": [
                        {
                          "identity": {
                            "userAssignedIdentity": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ud1"
                          },
                          "keyName": "Samplekey",
                          "keyVaultUri": "https://sample-keyvault-user.vault-int.azure-int.net",
                          "keyVersion": ""
                        }
                      ],
                      "requireInfrastructureEncryption": false
                    },
                    "isAutoInflateEnabled": false,
                    "maximumThroughputUnits": 0,
                    "metricId": "MetricGUID:NamespaceSample",
                    "minimumTlsVersion": "1.1",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "provisioningState": "ActivatingIdentity",
                    "serviceBusEndpoint": "https://NamespaceSample.servicebus.windows-int.net:443/",
                    "updatedAt": "2021-01-30T00:31:13.657Z",
                    "zoneRedundant": false
                  },
                  "sku": {
                    "name": "Standard",
                    "capacity": 1,
                    "tier": "Standard"
                  },
                  "tags": {}
                }
              },
              "202": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status",
                  "Location": "https://management.azure.com/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceSample?api-version=2025-05-01-preview"
                }
              }
            },
            "operationId": "Namespaces_Update",
            "title": "NamespacesUpdate"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/EHNamespace"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Namespaces_Delete",
        "tags": [
          "EHNamespaces"
        ],
        "description": "Deletes an existing namespace. This operation also removes all associated resources under the namespace.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The Namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{6,50}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NameSpaceDelete": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "namespaceName": "NamespaceSample",
              "resourceGroupName": "ResurceGroupSample",
              "subscriptionId": "SampleSubscription"
            },
            "responses": {
              "200": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              },
              "202": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              },
              "204": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              }
            },
            "operationId": "Namespaces_Delete",
            "title": "NameSpaceDelete"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/applicationGroups": {
      "get": {
        "operationId": "ApplicationGroup_ListByNamespace",
        "tags": [
          "ApplicationGroups"
        ],
        "description": "Gets a list of application groups for a Namespace.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The Namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{6,50}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListApplicationGroups": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "namespaceName": "contoso-ua-test-eh-system-1",
              "resourceGroupName": "contosotest",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "appGroup1",
                      "type": "Microsoft.EventHub/Namespaces/ApplicationGroups",
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosotest/providers/Microsoft.EventHub/namespaces/contoso-ua-test-eh-system-1/applicationgroups/appGroup1",
                      "location": "EAST US 2 EUAP",
                      "properties": {
                        "clientAppGroupIdentifier": "SASKeyName=KeyName",
                        "isEnabled": true,
                        "policies": [
                          {
                            "name": "ThrottlingPolicy1",
                            "type": "ThrottlingPolicy",
                            "metricId": "IncomingMessages",
                            "rateLimitThreshold": 7912
                          },
                          {
                            "name": "ThrottlingPolicy2",
                            "type": "ThrottlingPolicy",
                            "metricId": "IncomingBytes",
                            "rateLimitThreshold": 3951729
                          },
                          {
                            "name": "ThrottlingPolicy3",
                            "type": "ThrottlingPolicy",
                            "metricId": "OutgoingBytes",
                            "rateLimitThreshold": 245175
                          }
                        ]
                      }
                    },
                    {
                      "name": "appGroup2",
                      "type": "Microsoft.EventHub/Namespaces/ApplicationGroups",
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosotest/providers/Microsoft.EventHub/namespaces/contoso-ua-test-eh-system-1/applicationgroups/appGroup2",
                      "location": "EAST US 2 EUAP",
                      "properties": {
                        "clientAppGroupIdentifier": "AADAppID=Guid",
                        "isEnabled": false,
                        "policies": [
                          {
                            "name": "ThrottlingPolicy1",
                            "type": "ThrottlingPolicy",
                            "metricId": "IncomingMessages",
                            "rateLimitThreshold": 9984
                          },
                          {
                            "name": "ThrottlingPolicy2",
                            "type": "ThrottlingPolicy",
                            "metricId": "IncomingBytes",
                            "rateLimitThreshold": 7823412
                          },
                          {
                            "name": "ThrottlingPolicy3",
                            "type": "ThrottlingPolicy",
                            "metricId": "OutgoingBytes",
                            "rateLimitThreshold": 331665
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            },
            "operationId": "ApplicationGroup_ListByNamespace",
            "title": "ListApplicationGroups"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/applicationGroups/{applicationGroupName}": {
      "get": {
        "operationId": "ApplicationGroup_Get",
        "tags": [
          "ApplicationGroups"
        ],
        "description": "Gets an ApplicationGroup for a Namespace.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.EventHub~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.EventHub~1clusters/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The Namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{6,50}[a-zA-Z0-9]$"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The Application Group name ",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 256
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
[...]
