{
  "swagger": "2.0",
  "info": {
    "title": "Resource Health Service Groups",
    "version": "2026-08-01-preview",
    "description": "Resource Health collections for service groups.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ServiceGroupHealth"
    }
  ],
  "paths": {
    "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}/providers/Microsoft.ResourceHealth/availabilityStatuses": {
      "get": {
        "operationId": "ServiceGroupHealth_ListAvailabilityStatuses",
        "tags": [
          "ServiceGroupHealth"
        ],
        "description": "Lists current resource availability statuses for the direct subscription,\nresource group, and resource members of a service group. Subscription and\nresource group members contribute the resources within their scope. Child\nservice groups are not recursively expanded. This collection is not the\navailability history of the service group resource.\n\nEach status retains its original resource-scoped ID. Access requires both\npreview tenant enablement and Azure role-based access control authorization.\nReturns HTTP 403 with the standard error response when the caller is not\nauthorized or the tenant is not enabled for this preview, without disclosing\nmembership or health data.\nTo continue, follow the returned nextLink URL verbatim, including when a\npage has an empty value array. Continuation values are opaque.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ServiceGroupHealthParameters.serviceGroupName"
          },
          {
            "$ref": "#/parameters/ServiceGroupHealthParameters.skipToken"
          },
          {
            "name": "querySignature",
            "in": "query",
            "description": "An opaque query signature supplied by the service with the continuation\ntoken. Follow nextLink verbatim; do not construct or modify this value.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/availabilityStatusListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Continue availability status listing after an empty page": {
            "$ref": "./examples/ServiceGroupHealth_ListAvailabilityStatuses_Continuation.json"
          },
          "List current availability statuses for direct service group members": {
            "$ref": "./examples/ServiceGroupHealth_ListAvailabilityStatuses.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}/providers/Microsoft.ResourceHealth/events": {
      "get": {
        "operationId": "ServiceGroupHealth_ListEvents",
        "tags": [
          "ServiceGroupHealth"
        ],
        "description": "Lists service health events potentially relevant to the direct subscription,\nresource group, and resource members of a service group. Child service\ngroups are not recursively expanded. Inclusion indicates potential relevance,\nnot confirmed impact to any resource.\n\nThis preview collection includes ServiceIssue, PlannedMaintenance, and\nHealthAdvisory events, including retirement advisories. It excludes\nSecurityAdvisory and Billing events.\n\nEvents retain their original subscription-scoped IDs. An event with the\nsame tracking ID in two subscriptions remains two separate records. Access\nrequires both preview tenant enablement and Azure role-based access control\nauthorization. Returns HTTP 403 with the standard error response when the\ncaller is not authorized or the tenant is not enabled for this preview,\nwithout disclosing membership or health data.\nTo continue, follow the returned nextLink URL verbatim,\nincluding when a page has an empty value array. Continuation values are opaque.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ServiceGroupHealthParameters.serviceGroupName"
          },
          {
            "$ref": "#/parameters/ServiceGroupHealthParameters.skipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/events"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Continue service health event listing after an empty page": {
            "$ref": "./examples/ServiceGroupHealth_ListEvents_Continuation.json"
          },
          "List potentially relevant events preserving subscription-scoped identities": {
            "$ref": "./examples/ServiceGroupHealth_ListEvents.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Resource Health provider operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AvailabilityStateValues": {
      "type": "string",
      "description": "Impacted resource status of the resource.",
      "enum": [
        "Available",
        "Unavailable",
        "Degraded",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "AvailabilityStateValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Available",
            "value": "Available",
            "description": "Available"
          },
          {
            "name": "Unavailable",
            "value": "Unavailable",
            "description": "Unavailable"
          },
          {
            "name": "Degraded",
            "value": "Degraded",
            "description": "Degraded"
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown"
          }
        ]
      }
    },
    "AvailabilityStatusProperties": {
      "type": "object",
      "description": "Properties of availability state.",
      "properties": {
        "availabilityState": {
          "$ref": "#/definitions/AvailabilityStateValues",
          "description": "Availability status of the resource. When it is null, this availabilityStatus object represents an availability impacting event"
        },
        "title": {
          "type": "string",
          "description": "Title description of the availability status."
        },
        "summary": {
          "type": "string",
          "description": "Summary description of the availability status."
        },
        "detailedStatus": {
          "type": "string",
          "description": "Details of the availability status."
        },
        "reasonType": {
          "type": "string",
          "description": "When the resource's availabilityState is Unavailable, it describes where the health impacting event was originated. Examples are planned, unplanned, user initiated or an outage etc."
        },
        "context": {
          "type": "string",
          "description": "When an event is created, it can either be triggered by a customer or the platform of the resource and this field will illustrate that. This field is connected to the category field in this object."
        },
        "category": {
          "type": "string",
          "description": "When a context field is set to Platform, this field will reflect if the event was planned or unplanned. If the context field does not have a value of Platform, then this field will be ignored."
        },
        "articleId": {
          "type": "string",
          "description": "The Article Id"
        },
        "rootCauseAttributionTime": {
          "type": "string",
          "format": "date-time",
          "description": "When the resource's availabilityState is Unavailable, it provides the Timestamp for when the health impacting event was received."
        },
        "healthEventType": {
          "type": "string",
          "description": "In case of an availability impacting event, it describes when the health impacting event was originated. Examples are Lifecycle, Downtime, Fault Analysis etc."
        },
        "healthEventCause": {
          "type": "string",
          "description": "In case of an availability impacting event, it describes where the health impacting event was originated. Examples are PlatformInitiated, UserInitiated etc."
        },
        "healthEventCategory": {
          "type": "string",
          "description": "In case of an availability impacting event, it describes the category of a PlatformInitiated health impacting event. Examples are Planned, Unplanned etc."
        },
        "healthEventId": {
          "type": "string",
          "description": "It is a unique Id that identifies the event"
        },
        "resolutionETA": {
          "type": "string",
          "format": "date-time",
          "description": "When the resource's availabilityState is Unavailable and the reasonType is not User Initiated, it provides the date and time for when the issue is expected to be resolved."
        },
        "occuredTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when last change in health status occurred."
        },
        "reasonChronicity": {
          "$ref": "#/definitions/reasonChronicityTypes",
          "description": "Chronicity of the availability transition."
        },
        "reportedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when the health was last checked."
        },
        "recentlyResolved": {
          "$ref": "#/definitions/AvailabilityStatusPropertiesRecentlyResolved",
          "description": "An annotation describing a change in the availabilityState to Available from Unavailable with a reasonType of type Unplanned"
        },
        "recommendedActions": {
          "type": "array",
          "description": "Lists actions the user can take based on the current availabilityState of the resource.",
          "items": {
            "$ref": "#/definitions/recommendedAction"
          },
          "x-ms-identifiers": [
            "action"
          ]
        },
        "serviceImpactingEvents": {
          "type": "array",
          "description": "Lists the service impacting events that may be affecting the health of the resource.",
          "items": {
            "$ref": "#/definitions/serviceImpactingEvent"
          },
          "x-ms-identifiers": [
            "correlationId"
          ]
        }
      }
    },
    "AvailabilityStatusPropertiesRecentlyResolved": {
      "type": "object",
      "description": "An annotation describing a change in the availabilityState to Available from Unavailable with a reasonType of type Unplanned",
      "properties": {
        "unavailableOccuredTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when the availabilityState changed to Unavailable"
        },
        "resolvedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when the availabilityState changes to Available."
        },
        "unavailableSummary": {
          "type": "string",
          "description": "Brief description of cause of the resource becoming unavailable."
        }
      }
    },
    "Azure.Core.armResourceType": {
      "type": "string",
      "description": "Represents an Azure Resource Type."
    },
    "EventLevelValues": {
      "type": "string",
      "description": "Level of event.",
      "enum": [
        "Critical",
        "Error",
        "Warning",
        "Informational"
      ],
      "x-ms-enum": {
        "name": "EventLevelValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Critical"
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "Error"
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "Warning"
          },
          {
            "name": "Informational",
            "value": "Informational",
            "description": "Informational"
          }
        ]
      }
    },
    "EventProperties": {
      "type": "object",
      "description": "Properties of event.",
      "properties": {
        "eventType": {
          "$ref": "#/definitions/EventTypeValues",
          "description": "Type of event."
        },
        "eventSubType": {
          "$ref": "#/definitions/EventSubTypeValues",
          "description": "Sub-type of event."
        },
        "eventSource": {
          "$ref": "#/definitions/EventSourceValues",
          "description": "Source of event."
        },
        "status": {
          "$ref": "#/definitions/EventStatusValues",
          "description": "Current status of event."
        },
        "title": {
          "type": "string",
          "description": "Title text of event."
        },
        "summary": {
          "type": "string",
          "description": "Summary text of event. Use fetchEventDetails endpoint to get summary of sensitive events."
        },
        "header": {
          "type": "string",
          "description": "Header text of event."
        },
        "level": {
          "$ref": "#/definitions/LevelValues",
          "description": "Level of insight."
        },
        "eventLevel": {
          "$ref": "#/definitions/EventLevelValues",
          "description": "Level of event."
        },
        "isEventSensitive": {
          "type": "boolean",
          "description": "If true the event may contains sensitive data. Use the post events/{trackingId}/fetchEventDetails endpoint to fetch sensitive data see https://learn.microsoft.com/en-us/azure/service-health/security-advisories-elevated-access"
        },
        "externalIncidentId": {
          "type": "string",
          "description": "The id of the Incident"
        },
        "reason": {
          "type": "string",
          "description": "The reason for the Incident"
        },
        "article": {
          "$ref": "#/definitions/EventPropertiesArticle",
          "description": "Article of event."
        },
        "links": {
          "type": "array",
          "description": "Useful links of event.",
          "items": {
            "$ref": "#/definitions/link"
          },
          "x-ms-identifiers": []
        },
        "impactStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "It provides the Timestamp for when the health impacting event started."
        },
        "impactMitigationTime": {
          "type": "string",
          "format": "date-time",
          "description": "It provides the Timestamp for when the health impacting event resolved."
        },
        "impact": {
          "type": "array",
          "description": "List services impacted by the service health event.",
          "items": {
            "$ref": "#/definitions/impact"
          },
          "x-ms-identifiers": []
        },
        "recommendedActions": {
          "$ref": "#/definitions/EventPropertiesRecommendedActions",
          "description": "Recommended actions of event."
        },
        "faqs": {
          "type": "array",
          "description": "Frequently asked questions for the service health event.",
          "items": {
            "$ref": "#/definitions/faq"
          },
          "x-ms-identifiers": []
        },
        "isHIR": {
          "type": "boolean",
          "description": "It provides information if the event is High incident rate event or not."
        },
        "enableMicrosoftSupport": {
          "type": "boolean",
          "description": "Tells if we want to enable or disable Microsoft Support for this event."
        },
        "description": {
          "type": "string",
          "description": "Contains the communication message for the event, that could include summary, root cause and other details. Use fetchEventDetails endpoint to get description of sensitive events."
        },
        "platformInitiated": {
          "type": "boolean",
          "description": "Is true if the event is platform initiated."
        },
        "enableChatWithUs": {
          "type": "boolean",
          "description": "Tells if we want to enable or disable Microsoft Support for this event."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority level of the event. Has value from 0 to 23. 0 is the highest priority. Service issue events have higher priority followed by planned maintenance and health advisory. Critical events have higher priority followed by error, warning and informational. Furthermore, active events have higher priority than resolved."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "It provides the Timestamp for when the health impacting event was last updated."
        },
        "hirStage": {
          "type": "string",
          "description": "Stage for HIR Document"
        },
        "additionalInformation": {
          "$ref": "#/definitions/EventPropertiesAdditionalInformation",
          "description": "Additional information"
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "duration in seconds"
        },
        "impactType": {
          "type": "string",
          "description": "The type of the impact"
        },
        "eventTags": {
          "type": "array",
          "description": "A list of metadata tags associated with the event. Possible values include:\n-Action Recommended: Action may be required by you to avoid possible disruptions or mitigate risks for your services. It is recommended to evaluate these actions and the potential impact on your services.\n- False Positive: After investigation, we've determined your service is healthy and service issues did not impact your services as originally communicated.\n- Preliminary PIR: For our largest, most impactful service issues a Preliminary Post Incident Review (PIR) is published generally within 72 hours of mitigation, to summarize what we have learned so far from the still-in-progress investigation.\n- Final PIR: For service issues, a Final Post Incident Review (PIR) may be published to provide additional details or learnings. Sometimes this requires us to complete an internal retrospective, generally within 14 days of mitigation.",
          "items": {
            "type": "string"
          }
        },
        "newRate": {
          "type": "number",
          "format": "double",
          "description": "Billing rate change information - new rate"
        },
        "oldRate": {
          "type": "number",
          "format": "double",
          "description": "Billing rate change information - old rate"
        },
        "currencyType": {
          "type": "string",
          "description": "Billing currency type information. Example: USD, CAD"
        },
        "billingId": {
          "type": "string",
          "description": "Billing identifier information."
        }
      }
    },
    "EventPropertiesAdditionalInformation": {
      "type": "object",
      "description": "Additional information",
      "properties": {
        "message": {
          "type": "string",
          "description": "Additional information Message"
        }
      }
    },
    "EventPropertiesArticle": {
      "type": "object",
      "description": "Article of event.",
      "properties": {
        "articleContent": {
          "type": "string",
          "description": "Article content of event."
        },
        "articleId": {
          "type": "string",
          "description": "Article Id"
        },
        "parameters": {
          "description": "It provides a map of parameter name and value"
        }
      }
    },
    "EventPropertiesRecommendedActions": {
      "type": "object",
      "description": "Recommended actions of event.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Recommended action title for the service health event."
        },
        "actions": {
          "type": "array",
          "description": "Recommended actions for the service health event.",
          "items": {
            "$ref": "#/definitions/EventPropertiesRecommendedActionsActionsItem"
          },
          "x-ms-identifiers": []
        },
        "localeCode": {
          "type": "string",
          "description": "Recommended action locale for the service health event."
        }
      }
    },
    "EventPropertiesRecommendedActionsActionsItem": {
      "type": "object",
      "description": "Recommended action for the service health event.",
      "properties": {
        "groupId": {
          "type": "integer",
          "format": "int32",
          "description": "Recommended action group Id for the service health event."
        },
        "actionText": {
          "type": "string",
          "description": "Recommended action text"
        }
      }
    },
    "EventSourceValues": {
      "type": "string",
      "description": "Source of event.",
      "enum": [
        "ResourceHealth",
        "ServiceHealth"
      ],
      "x-ms-enum": {
        "name": "EventSourceValues",
        "modelAsString": true,
        "values": [
          {
            "name": "ResourceHealth",
            "value": "ResourceHealth",
            "description": "ResourceHealth"
          },
          {
            "name": "ServiceHealth",
            "value": "ServiceHealth",
            "description": "ServiceHealth"
          }
        ]
      }
    },
    "EventStatusValues": {
      "type": "string",
      "description": "Current status of event.",
      "enum": [
        "Active",
        "Resolved"
      ],
      "x-ms-enum": {
        "name": "EventStatusValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Active"
          },
          {
            "name": "Resolved",
            "value": "Resolved",
            "description": "Resolved"
          }
        ]
      }
    },
    "EventSubTypeValues": {
      "type": "string",
      "description": "Sub-type of event.",
      "enum": [
        "Retirement",
        "ForeignExchangeRateChange",
        "Underbilling",
        "Overbilling",
        "PriceChanges",
        "TaxChanges",
        "MeterIDChanges",
        "UnauthorizedPartyAbuse"
      ],
      "x-ms-enum": {
        "name": "EventSubTypeValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Retirement",
            "value": "Retirement",
            "description": "Retirement"
          },
          {
            "name": "ForeignExchangeRateChange",
            "value": "ForeignExchangeRateChange",
            "description": "ForeignExchangeRateChange"
          },
          {
            "name": "Underbilling",
            "value": "Underbilling",
            "description": "Underbilling"
          },
          {
            "name": "Overbilling",
            "value": "Overbilling",
            "description": "Overbilling"
          },
          {
            "name": "PriceChanges",
            "value": "PriceChanges",
            "description": "PriceChanges"
          },
          {
            "name": "TaxChanges",
            "value": "TaxChanges",
            "description": "TaxChanges"
          },
          {
            "name": "MeterIDChanges",
            "value": "MeterIDChanges",
            "description": "MeterIDChanges"
          },
          {
            "name": "UnauthorizedPartyAbuse",
            "value": "UnauthorizedPartyAbuse",
            "description": "UnauthorizedPartyAbuse"
          }
        ]
      }
    },
    "EventTypeValues": {
      "type": "string",
      "description": "Type of event.",
      "enum": [
        "ServiceIssue",
        "PlannedMaintenance",
        "HealthAdvisory",
        "RCA",
        "EmergingIssues",
        "SecurityAdvisory",
        "Billing"
      ],
      "x-ms-enum": {
        "name": "EventTypeValues",
        "modelAsString": true,
        "values": [
          {
            "name": "ServiceIssue",
            "value": "ServiceIssue",
            "description": "ServiceIssue"
          },
          {
            "name": "PlannedMaintenance",
            "value": "PlannedMaintenance",
            "description": "PlannedMaintenance"
          },
          {
            "name": "HealthAdvisory",
            "value": "HealthAdvisory",
            "description": "HealthAdvisory"
          },
          {
            "name": "RCA",
            "value": "RCA",
            "description": "RCA"
          },
          {
            "name": "EmergingIssues",
            "value": "EmergingIssues",
            "description": "EmergingIssues"
          },
          {
            "name": "SecurityAdvisory",
            "value": "SecurityAdvisory",
            "description": "SecurityAdvisory"
          },
          {
            "name": "Billing",
            "value": "Billing",
            "description": "Billing"
          }
        ]
      }
    },
    "LevelValues": {
      "type": "string",
      "description": "Level of insight.",
      "enum": [
        "Critical",
        "Warning"
      ],
      "x-ms-enum": {
        "name": "LevelValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Critical"
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "Warning"
          }
        ]
      }
    },
    "LinkDisplayText": {
      "type": "object",
      "description": "Display text of link.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Display text of link."
        },
        "localizedValue": {
          "type": "string",
          "description": "Localized display text of link."
        }
      }
    },
    "LinkTypeValues": {
      "type": "string",
      "description": "Type of link.",
      "enum": [
        "Button",
        "Hyperlink"
      ],
      "x-ms-enum": {
        "name": "LinkTypeValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Button",
            "value": "Button",
            "description": "Button"
          },
          {
            "name": "Hyperlink",
            "value": "Hyperlink",
            "description": "Hyperlink"
          }
        ]
      }
    },
    "ProxyResource": {
      "type": "object",
      "description": "ARM proxy resource.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Azure Resource Manager Identity for the availabilityStatuses resource."
        },
        "name": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/Azure.Core.armResourceType",
          "description": "Microsoft.ResourceHealth/AvailabilityStatuses."
        },
        "location": {
          "type": "string",
          "description": "Azure Resource Manager geo location of the resource."
        }
      }
    },
    "ServiceImpactingEventIncidentProperties": {
      "type": "object",
      "description": "Properties of the service impacting event.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the incident."
        },
        "service": {
          "type": "string",
          "description": "Service impacted by the event."
        },
        "region": {
          "type": "string",
          "description": "Region impacted by the event."
        },
        "incidentType": {
          "type": "string",
          "description": "Type of Event."
        }
      }
    },
    "ServiceImpactingEventStatus": {
      "type": "object",
      "description": "Status of the service impacting event.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Current status of the event"
        }
      }
    },
    "availabilityStatus": {
      "type": "object",
      "description": "availabilityStatus of a resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AvailabilityStatusProperties",
          "description": "Properties of availability state."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "availabilityStatusListResult": {
      "type": "object",
      "description": "The List availabilityStatus operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of availabilityStatuses.",
          "items": {
            "$ref": "#/definitions/availabilityStatus"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of availabilityStatuses. Call ListNext() with this URI to fetch the next page of availabilityStatuses."
        }
      },
      "required": [
        "value"
      ]
    },
    "event": {
      "type": "object",
      "description": "Service health event",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EventProperties",
          "description": "Properties of event.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "events": {
      "type": "object",
      "description": "The List events operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Event items on this page",
          "items": {
            "$ref": "#/definitions/event"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "faq": {
      "type": "object",
      "description": "Frequently asked question for the service health event",
      "properties": {
        "question": {
          "type": "string",
          "description": "FAQ question for the service health event."
        },
        "answer": {
          "type": "string",
          "description": "FAQ answer for the service health event."
        },
        "localeCode": {
          "type": "string",
          "description": "FAQ locale for the service health event."
        }
      }
    },
    "impact": {
      "type": "object",
      "description": "Azure service impacted by the service health event.",
      "properties": {
        "impactedService": {
          "type": "string",
          "description": "Impacted service name."
        },
        "impactedServiceGuid": {
          "type": "string",
          "description": "Impacted service guid. This is the permanent identifier for the impacted service."
        },
        "impactedRegions": {
          "type": "array",
          "description": "List regions impacted by the service health event.",
          "items": {
            "$ref": "#/definitions/impactedServiceRegion"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "impactedServiceRegion": {
      "type": "object",
      "description": "Azure region impacted by the service health event.",
      "properties": {
        "impactedRegion": {
          "type": "string",
          "description": "Impacted region name."
        },
        "status": {
          "$ref": "#/definitions/EventStatusValues",
          "description": "Current status of event in the region."
        },
        "impactedSubscriptions": {
          "type": "array",
          "description": "List subscription impacted by the service health event.",
          "items": {
            "type": "string"
          }
        },
        "impactedTenants": {
          "type": "array",
          "description": "List tenant impacted by the service health event.",
          "items": {
            "type": "string"
          }
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "It provides the Timestamp for when the last update for the service health event."
        },
        "updates": {
          "type": "array",
          "description": "List of updates for given service health event.  Use fetchEventDetails endpoint to get updates of sensitive events.",
          "items": {
            "$ref": "#/definitions/update"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "link": {
      "type": "object",
      "description": "Useful links for service health event.",
      "properties": {
        "type": {
          "$ref": "#/definitions/LinkTypeValues",
          "description": "Type of link."
        },
        "displayText": {
          "$ref": "#/definitions/LinkDisplayText",
          "description": "Display text of link."
        },
        "extensionName": {
          "type": "string",
          "description": "It provides the name of portal extension to produce link for given service health event."
        },
        "bladeName": {
          "type": "string",
          "description": "It provides the name of portal extension blade to produce link for given service health event."
        },
        "parameters": {
          "description": "It provides a map of parameter name and value for portal extension blade to produce lik for given service health event."
        }
      }
    },
    "reasonChronicityTypes": {
      "type": "string",
      "description": "Chronicity of the availability transition.",
      "enum": [
        "Transient",
        "Persistent"
      ],
      "x-ms-enum": {
        "name": "reasonChronicityTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "Transient",
            "value": "Transient",
            "description": "Transient"
          },
          {
            "name": "Persistent",
            "value": "Persistent",
            "description": "Persistent"
          }
        ]
      }
    },
    "recommendedAction": {
      "type": "object",
      "description": "Lists actions the user can take based on the current availabilityState of the resource.",
      "properties": {
        "action": {
          "type": "string",
          "description": "Recommended action."
        },
        "actionUrl": {
          "type": "string",
          "description": "Link to the action"
        },
        "_ActionUrl.Comment": {
          "type": "string",
          "description": "the comment for the Action"
        },
        "actionUrlText": {
          "type": "string",
          "description": "Substring of action, it describes which text should host the action URL."
        }
      }
    },
    "serviceImpactingEvent": {
      "type": "object",
      "description": "Lists the service impacting events that may be affecting the health of the resource.",
      "properties": {
        "eventStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when the event started."
        },
        "eventStatusLastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp for when event was submitted/detected."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation id for the event"
        },
        "status": {
          "$ref": "#/definitions/ServiceImpactingEventStatus",
          "description": "Status of the service impacting event."
        },
        "incidentProperties": {
          "$ref": "#/definitions/ServiceImpactingEventIncidentProperties",
          "description": "Properties of the service impacting event."
        }
      }
    },
    "update": {
      "type": "object",
      "description": "Update for service health event.",
      "properties": {
        "summary": {
          "type": "string",
          "description": "Summary text for the given update for the service health event."
        },
        "updateDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "It provides the Timestamp for the given update for the service health event."
        },
        "eventTags": {
          "type": "array",
          "description": "A list of metadata tags associated with the event. Possible values include:\n-Action Recommended: Action may be required by you to avoid possible disruptions or mitigate risks for your services. It is recommended to evaluate these actions and the potential impact on your services.\n- False Positive: After investigation, we've determined your service is healthy and service issues did not impact your services as originally communicated.\n- Preliminary PIR: For our largest, most impactful service issues a Preliminary Post Incident Review (PIR) is published generally within 72 hours of mitigation, to summarize what we have learned so far from the still-in-progress investigation.\n- Final PIR: For service issues, a Final Post Incident Review (PIR) may be published to provide additional details or learnings. Sometimes this requires us to complete an internal retrospective, generally within 14 days of mitigation.",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "ServiceGroupHealthParameters.serviceGroupName": {
      "name": "serviceGroupName",
      "in": "path",
      "description": "The name of the service group.",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9\\-_().]{1,90}$",
      "x-ms-parameter-location": "method"
    },
    "ServiceGroupHealthParameters.skipToken": {
      "name": "$skipToken",
      "in": "query",
      "description": "An opaque continuation token supplied by the service. Follow the nextLink\nURL verbatim rather than constructing or modifying this value.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "skipToken"
    }
  }
}
