{
  "swagger": "2.0",
  "info": {
    "version": "2020-01-01",
    "title": "AdvisorManagementClient",
    "description": "REST APIs for Azure Advisor"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations": {
      "get": {
        "tags": ["Configurations"],
        "summary": "Retrieve Azure Advisor configurations.",
        "description": "Retrieve Azure Advisor configurations and also retrieve configurations of contained resource groups.",
        "operationId": "Configurations_ListBySubscription",
        "parameters": [{
          "$ref": "#/parameters/apiVersionParameter"
        },
        {
          "$ref": "#/parameters/subscriptionIdParameter"
        }],
        "responses": {
          "200": {
            "description": "OK. Successfully retrieved zero or more configurations.",
            "schema": {
              "$ref": "#/definitions/ConfigurationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "GetConfigurations": {
            "$ref": "./examples/ListConfigurations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations/{configurationName}": {
      "put": {
        "tags": ["Configurations"],
        "summary": "Create/Overwrite Azure Advisor configuration.",
        "description": "Create/Overwrite Azure Advisor configuration and also delete all configurations of contained resource groups.",
        "operationId": "Configurations_CreateInSubscription",
        "parameters": [{
          "$ref": "#/parameters/apiVersionParameter"
        },
        {
          "name": "configContract",
          "in": "body",
          "description": "The Azure Advisor configuration data structure.",
          "required": true,
          "schema": {
            "$ref": "#/definitions/ConfigData"
          }
        },
        {
          "$ref": "#/parameters/subscriptionIdParameter"
        },
        {
          "name": "configurationName",
          "in": "path",
          "description": "Advisor configuration name. Value must be 'default'",
          "required": true,
          "type": "string",
          "enum": ["default"],
          "x-ms-enum": {
            "name": "ConfigurationName",
            "modelAsString": true
          }
        }],
        "responses": {
          "200": {
            "description": "Successfully created/overwrote configuration.",
            "schema": {
              "$ref": "#/definitions/ConfigData"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PutConfigurations": {
            "$ref": "./examples/CreateConfiguration.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations": {
      "get": {
        "tags": ["Configurations"],
        "summary": "Retrieve Azure Advisor configurations.",
        "operationId": "Configurations_ListByResourceGroup",
        "parameters": [{
          "$ref": "#/parameters/apiVersionParameter"
        },
        {
          "$ref": "#/parameters/subscriptionIdParameter"
        },
        {
          "name": "resourceGroup",
          "in": "path",
          "description": "The name of the Azure resource group.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK. Successfully retrieved zero or more configurations.",
            "schema": {
              "$ref": "#/definitions/ConfigurationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "GetConfigurations": {
            "$ref": "./examples/ListConfigurations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations/{configurationName}": {
      "put": {
        "tags": ["Configurations"],
        "summary": "Create/Overwrite Azure Advisor configuration.",
        "operationId": "Configurations_CreateInResourceGroup",
        "parameters": [{
          "$ref": "#/parameters/apiVersionParameter"
        },
        {
          "name": "configContract",
          "in": "body",
          "description": "The Azure Advisor configuration data structure.",
          "required": true,
          "schema": {
            "$ref": "#/definitions/ConfigData"
          }
        },
        {
          "$ref": "#/parameters/subscriptionIdParameter"
        },
        {
          "name": "configurationName",
          "in": "path",
          "description": "Advisor configuration name. Value must be 'default'",
          "required": true,
          "type": "string",
          "enum": ["default"],
          "x-ms-enum": {
            "name": "ConfigurationName",
            "modelAsString": true
          }
        },
        {
          "name": "resourceGroup",
          "in": "path",
          "description": "The name of the Azure resource group.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Successfully created/overwrote configuration.",
            "schema": {
              "$ref": "#/definitions/ConfigData"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PutConfigurations": {
            "$ref": "./examples/CreateConfiguration.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ARMErrorResponseBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "ConfigurationListResult": {
      "description": "The list of Advisor configurations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of configurations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigData"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of configurations.",
          "type": "string"
        }
      }
    },
    "ConfigData": {
      "description": "The Advisor configuration data structure.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigDataProperties",
          "description": "The Advisor configuration data structure.",
          "x-ms-client-flatten": true
        },
        "id": {
          "description": "Gets or sets the resource Id of the ARM resource.",
          "type": "string"
        },
        "type": {
          "description": "Gets or sets the type of the ARM resource.",
          "type": "string"
        },
        "name": {
          "description": "Gets or sets the name of the ARM resource.",
          "type": "string"
        }
      }
    },
    "ConfigDataProperties": {
      "description": "Configuration data properties",
      "type": "object",
      "properties": {
        "exclude": {
          "description": "Exclude the resource from Advisor evaluations. Valid values: False (default) or True.",
          "type": "boolean"
        },
        "lowCpuThreshold": {
          "description": "Minimum percentage threshold for Advisor low CPU utilization evaluation. Valid only for subscriptions. Valid values:\r\n5 (default), 10, 15 or 20.",
          "enum": ["5",
          "10",
          "15",
          "20"],
          "type": "string",
          "x-ms-enum": {
            "name": "CpuThreshold",
            "modelAsString": true
          }
        },
        "digests": {
          "description": "Advisor digest configuration. Valid only for subscriptions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DigestConfig"
          }
        }
      }
    },
    "DigestConfig": {
      "description": "Advisor Digest configuration entity",
      "type": "object",
      "properties": {
        "actionGroupResourceId": {
          "description": "Action group resource id used by digest.",
          "type": "string"
        },
        "frequency": {
          "description": "Frequency that digest will be triggered. Value must conform to ISO 8601 standard and must be greater than equal to 7 day and less than or equal to 30 days.",
          "type": "string"
        },
        "categories": {
          "description": "Categories to send digest for. If categories are not provided, then digest will be sent for all categories.",
          "type": "array",
          "items": {
            "enum": ["HighAvailability",
            "Security",
            "Performance",
            "Cost",
            "OperationalExcellence"],
            "type": "string",
            "x-ms-enum": {
              "name": "Category",
              "modelAsString": true
            }
          }
        },
        "language": {
          "description": "Language for digest content body. Value must be ISO 639-1 code for one of Azure portal supported languages. Otherwise, it will be converted into one. Default value is English (en).",
          "type": "string"
        }
      }
    },
    "ArmErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ARMErrorResponseBody"
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Azure subscription ID.",
      "required": true,
      "type": "string"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The version of the API to be used with the client request.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [{
    "azure_auth": ["user_impersonation"]
  }]
}