{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AzureWebCategories"
    },
    {
      "name": "FirewallPolicies"
    },
    {
      "name": "FirewallPolicyRuleCollectionGroups"
    },
    {
      "name": "FirewallPolicyIdpsSignaturesOverrides"
    },
    {
      "name": "FirewallPolicyDrafts"
    },
    {
      "name": "FirewallPolicyRuleCollectionGroupDrafts"
    },
    {
      "name": "NetworkInterfaceIPConfigurations"
    },
    {
      "name": "NetworkInterfaceTapConfigurations"
    },
    {
      "name": "ManagementGroupNetworkManagerConnections"
    },
    {
      "name": "StaticMembers"
    },
    {
      "name": "RoutingRuleCollections"
    },
    {
      "name": "RoutingRules"
    },
    {
      "name": "AdminRuleCollections"
    },
    {
      "name": "BaseAdminRules"
    },
    {
      "name": "SecurityUserRuleCollections"
    },
    {
      "name": "SecurityUserRules"
    },
    {
      "name": "SecurityRules"
    },
    {
      "name": "DefaultSecurityRules"
    },
    {
      "name": "NspProfiles"
    },
    {
      "name": "NspAccessRules"
    },
    {
      "name": "NspAssociations"
    },
    {
      "name": "NspLinks"
    },
    {
      "name": "NspLinkReferences"
    },
    {
      "name": "NspLoggingConfigurations"
    },
    {
      "name": "ReachabilityAnalysisRuns"
    },
    {
      "name": "VirtualApplianceSites"
    },
    {
      "name": "NetworkVirtualApplianceSkus"
    },
    {
      "name": "InboundSecurityRuleOperationGroup"
    },
    {
      "name": "ConnectionMonitorResults"
    },
    {
      "name": "FlowLogs"
    },
    {
      "name": "PrivateLinkServices"
    },
    {
      "name": "Routes"
    },
    {
      "name": "Subnets"
    },
    {
      "name": "VirtualNetworkPeerings"
    },
    {
      "name": "VirtualNetworkGatewayConnections"
    },
    {
      "name": "LocalNetworkGateways"
    },
    {
      "name": "VirtualNetworkGatewayNatRules"
    },
    {
      "name": "VirtualRouterPeerings"
    },
    {
      "name": "VpnSites"
    },
    {
      "name": "VpnSiteLinks"
    },
    {
      "name": "VpnServerConfigurations"
    },
    {
      "name": "VpnServerConfigurationPolicyGroups"
    },
    {
      "name": "VirtualHubs"
    },
    {
      "name": "RouteMaps"
    },
    {
      "name": "VpnGateways"
    },
    {
      "name": "ConnectionSharedKeyResults"
    },
    {
      "name": "VpnSiteLinkConnections"
    },
    {
      "name": "VpnGatewayNatRules"
    },
    {
      "name": "P2SVpnGateways"
    },
    {
      "name": "BgpConnections"
    },
    {
      "name": "HubIpConfigurations"
    },
    {
      "name": "HubRouteTables"
    },
    {
      "name": "RoutingIntents"
    }
  ],
  "paths": {
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Network/networkManagerConnections": {
      "get": {
        "operationId": "ManagementGroupNetworkManagerConnections_List",
        "tags": [
          "ManagementGroupNetworkManagerConnections"
        ],
        "description": "List all network manager connections created by this management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./networkManager.json#/definitions/NetworkManagerConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Management Group Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionManagementGroupList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Network/networkManagerConnections/{networkManagerConnectionName}": {
      "get": {
        "operationId": "ManagementGroupNetworkManagerConnections_Get",
        "tags": [
          "ManagementGroupNetworkManagerConnections"
        ],
        "description": "Get a specified connection created by this management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./networkManager.json#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Management Group Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionManagementGroupGet.json"
          }
        }
      },
      "put": {
        "operationId": "ManagementGroupNetworkManagerConnections_CreateOrUpdate",
        "tags": [
          "ManagementGroupNetworkManagerConnections"
        ],
        "description": "Create a network manager connection on this management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Network manager connection to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "./networkManager.json#/definitions/NetworkManagerConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkManagerConnection' update operation succeeded",
            "schema": {
              "$ref": "./networkManager.json#/definitions/NetworkManagerConnection"
            }
          },
          "201": {
            "description": "Resource 'NetworkManagerConnection' create operation succeeded",
            "schema": {
              "$ref": "./networkManager.json#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Management Group Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionManagementGroupPut.json"
          }
        }
      },
      "delete": {
        "operationId": "ManagementGroupNetworkManagerConnections_Delete",
        "tags": [
          "ManagementGroupNetworkManagerConnections"
        ],
        "description": "Delete specified pending connection created by this management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Management Group Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionManagementGroupDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureWebCategories": {
      "get": {
        "operationId": "WebCategories_ListBySubscription",
        "tags": [
          "AzureWebCategories"
        ],
        "description": "Gets all the Azure Web Categories in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureWebCategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Azure Web Categories for a given subscription": {
            "$ref": "./examples/AzureWebCategoriesListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureWebCategories/{name}": {
      "get": {
        "operationId": "WebCategories_Get",
        "tags": [
          "AzureWebCategories"
        ],
        "description": "Gets the specified Azure Web Category.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the azureWebCategory.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands resourceIds back referenced by the azureWebCategory resource.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureWebCategory"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Web Category by name": {
            "$ref": "./examples/AzureWebCategoryGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/firewallPolicies": {
      "get": {
        "operationId": "FirewallPolicies_ListAll",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Gets all the Firewall Policies in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Firewall Policies for a given subscription": {
            "$ref": "./examples/FirewallPolicyListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices": {
      "get": {
        "operationId": "PrivateLinkServices_ListAutoApprovedPrivateLinkServices",
        "description": "Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "./virtualNetwork.json#/definitions/AutoApprovedPrivateLinkServicesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get list of private link service id that can be linked to a private end point with auto approved": {
            "$ref": "./examples/AutoApprovedPrivateLinkServicesGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availablePrivateEndpointTypes": {
      "get": {
        "operationId": "AvailablePrivateEndpointTypes_List",
        "description": "Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "./virtualNetwork.json#/definitions/AvailablePrivateEndpointTypesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get available PrivateEndpoint types": {
            "$ref": "./examples/AvailablePrivateEndpointTypesGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility": {
      "post": {
        "operationId": "PrivateLinkServices_CheckPrivateLinkServiceVisibility",
        "description": "Checks whether the subscription is visible to private link service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "./virtualNetwork.json#/definitions/CheckPrivateLinkServiceVisibilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "./virtualNetwork.json#/definitions/PrivateLinkServiceVisibility"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Check private link service visibility": {
            "$ref": "./examples/CheckPrivateLinkServiceVisibility.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./virtualNetwork.json#/definitions/PrivateLinkServiceVisibility"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/networkSecurityPerimeterOperationStatuses/{operationId}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterOperationStatuses_Get",
        "description": "Gets the operation status for the given operation id.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The operation id of the async operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspOperationStatusGet": {
            "$ref": "./examples/NspOperationStatusGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/nspServiceTags": {
      "get": {
        "operationId": "NetworkSecurityPerimeterServiceTags_List",
        "description": "Gets the list of service tags supported by NSP. These service tags can be used to create access rules in NSP.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NspServiceTagsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NSPServiceTagsList": {
            "$ref": "./examples/NspServiceTagsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/perimeterAssociableResourceTypes": {
      "get": {
        "operationId": "NetworkSecurityPerimeterAssociableResourceTypes_List",
        "description": "Gets the list of resources that are onboarded with NSP. These resources can be associated with a network security perimeter",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PerimeterAssociableResourcesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterAssociableResourceTypes": {
            "$ref": "./examples/PerimeterAssociableResourcesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkVirtualApplianceSkus": {
      "get": {
        "operationId": "VirtualApplianceSkus_List",
        "tags": [
          "NetworkVirtualApplianceSkus"
        ],
        "description": "List all SKUs available for a virtual appliance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./virtualNetwork.json#/definitions/NetworkVirtualApplianceSkuListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkVirtualApplianceSkuListResult": {
            "$ref": "./examples/NetworkVirtualApplianceSkuList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkVirtualApplianceSkus/{skuName}": {
      "get": {
        "operationId": "VirtualApplianceSkus_Get",
        "tags": [
          "NetworkVirtualApplianceSkus"
        ],
        "description": "Retrieves a single available sku for network virtual appliance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "skuName",
            "in": "path",
            "description": "Name of the Sku.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./virtualNetwork.json#/definitions/NetworkVirtualApplianceSku"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkVirtualApplianceSkuGet": {
            "$ref": "./examples/NetworkVirtualApplianceSkuGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/p2svpnGateways": {
      "get": {
        "operationId": "P2sVpnGateways_List",
        "tags": [
          "P2SVpnGateways"
        ],
        "description": "Lists all the P2SVpnGateways in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./virtualWan.json#/definitions/ListP2SVpnGatewaysResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "P2SVpnGatewayListBySubscription": {
            "$ref": "./examples/P2SVpnGatewayList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/privateLinkServices": {
      "get": {
        "operationId": "PrivateLinkServices_ListBySubscription",
        "tags": [
          "PrivateLinkServices"
        ],
        "description": "Gets all private link service in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./virtualNetwork.json#/definitions/PrivateLinkServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List all private list service": {
            "$ref": "./examples/PrivateLinkServiceListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualHubs": {
      "get": {
        "operationId": "VirtualHubs_List",
        "tags": [
          "VirtualHubs"
        ],
        "description": "Lists all the VirtualHubs in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./virtualWan.json#/definitions/ListVirtualHubsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualHubList": {
            "$ref": "./examples/VirtualHubList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnGateways": {
      "get": {
        "operationId": "VpnGateways_List",
        "tags": [
          "VpnGateways"
        ],
        "description": "Lists all the VpnGateways in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./virtualWan.json#/definitions/ListVpnGatewaysResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VpnGatewayListBySubscription": {
            "$ref": "./examples/VpnGatewayList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnServerConfigurations": {
      "get": {
        "operationId": "VpnServerConfigurations_List",
        "tags": [
          "VpnServerConfigurations"
        ],
        "description": "Lists all the VpnServerConfigurations in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListVpnServerConfigurationsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VpnServerConfigurationList": {
            "$ref": "./examples/VpnServerConfigurationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnSites": {
      "get": {
        "operationId": "VpnSites_List",
        "tags": [
          "VpnSites"
        ],
        "description": "Lists all the VpnSites in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./virtualWan.json#/definitions/ListVpnSitesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VpnSiteList": {
            "$ref": "./examples/VpnSiteList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections": {
      "get": {
        "operationId": "VirtualNetworkGatewayConnections_List",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGatewayConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVirtualNetworkGatewayConnectionsinResourceGroup": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}": {
      "get": {
        "operationId": "VirtualNetworkGatewayConnections_Get",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Gets the specified virtual network gateway connection by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGatewayConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGatewayConnection": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionGet.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworkGatewayConnections_CreateOrUpdate",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Creates or updates a virtual network gateway connection in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update virtual network gateway connection operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGatewayConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetworkGatewayConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGatewayConnection"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetworkGatewayConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGatewayConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CreateVirtualNetworkGatewayConnection_S2S": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualNetworkGatewayConnection"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualNetworkGatewayConnections_UpdateTags",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Updates a virtual network gateway connection tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update virtual network gateway connection tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGatewayConnection"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "UpdateVirtualNetworkGatewayConnectionTags": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionUpdateTags.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualNetworkGatewayConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualNetworkGatewayConnections_Delete",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Deletes the specified virtual network Gateway connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeleteVirtualNetworkGatewayConnection": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/getikesas": {
      "post": {
        "operationId": "VirtualNetworkGatewayConnections_GetIkeSas",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Lists IKE Security Associations for the virtual network gateway connection in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/stringApplicationJson"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./networkWatcher.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGatewayConnectionIkeSa": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionGetIkeSas.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/resetconnection": {
      "post": {
        "operationId": "VirtualNetworkGatewayConnections_ResetConnection",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Resets the virtual network gateway connection specified.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./networkWatcher.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResetVirtualNetworkGatewayConnection": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionReset.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey": {
      "get": {
        "operationId": "VirtualNetworkGatewayConnections_GetSharedKey",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./networkGateway.json#/definitions/ConnectionSharedKey"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGatewayConnectionSharedKey": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionGetSharedKey.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworkGatewayConnections_SetSharedKey",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Begin Set Virtual Network Gateway connection Shared key operation throughNetwork resource provider.",
            "required": true,
            "schema": {
              "$ref": "./networkGateway.json#/definitions/ConnectionSharedKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./networkGateway.json#/definitions/ConnectionSharedKey"
            }
          },
          "201": {
            "description": "Resource 'ConnectionSharedKey' create operation succeeded",
            "schema": {
              "$ref": "./networkGateway.json#/definitions/ConnectionSharedKey"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SetVirtualNetworkGatewayConnectionSharedKey": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionSetSharedKey.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "./networkGateway.json#/definitions/ConnectionSharedKey"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset": {
      "post": {
        "operationId": "VirtualNetworkGatewayConnections_ResetSharedKey",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the begin reset virtual network gateway connection shared key operation through network resource provider.",
            "required": true,
            "schema": {
              "$ref": "./networkGateway.json#/definitions/ConnectionResetSharedKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./networkGateway.json#/definitions/ConnectionResetSharedKey"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ResetVirtualNetworkGatewayConnectionSharedKey": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionResetSharedKey.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./networkGateway.json#/definitions/ConnectionResetSharedKey"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/startPacketCapture": {
      "post": {
        "operationId": "VirtualNetworkGatewayConnections_StartPacketCapture",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Starts packet capture on virtual network gateway connection in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Virtual network gateway packet capture parameters supplied to start packet capture on gateway connection.",
            "required": false,
            "schema": {
              "$ref": "./networkGateway.json#/definitions/VpnPacketCaptureStartParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/stringApplicationJson"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Start packet capture on virtual network gateway connection with filter": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionStartPacketCaptureFilterData.json"
          },
          "Start packet capture on virtual network gateway connection without filter": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionStartPacketCapture.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/stopPacketCapture": {
      "post": {
        "operationId": "VirtualNetworkGatewayConnections_StopPacketCapture",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Stops packet capture on virtual network gateway connection in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Virtual network gateway packet capture parameters supplied to stop packet capture on gateway connection.",
            "required": true,
            "schema": {
              "$ref": "./networkGateway.json#/definitions/VpnPacketCaptureStopParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/stringApplicationJson"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Stop packet capture on virtual network gateway connection": {
            "$ref": "./examples/VirtualNetworkGatewayConnectionStopPacketCapture.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/vpndeviceconfigurationscript": {
      "post": {
        "operationId": "VirtualNetworkGateways_VpnDeviceConfigurationScript",
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Gets a xml format representation for vpn device configuration script.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayConnectionName",
            "in": "path",
            "description": "The name of the virtual network gateway connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the generate vpn device script operation.",
            "required": true,
            "schema": {
              "$ref": "./networkGateway.json#/definitions/VpnDeviceScriptParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/stringApplicationJson"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVPNDeviceConfigurationScript": {
            "$ref": "./examples/VirtualNetworkGatewayVpnDeviceConfigurationScript.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies": {
      "get": {
        "operationId": "FirewallPolicies_List",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Lists all Firewall Policies in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Firewall Policies for a given resource group": {
            "$ref": "./examples/FirewallPolicyListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}": {
      "get": {
        "operationId": "FirewallPolicies_Get",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Gets the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicies_CreateOrUpdate",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Creates or updates the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update Firewall Policy operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FirewallPolicy"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "FirewallPolicies_UpdateTags",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Updates tags of a Azure Firewall Policy resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update Azure Firewall Policy tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update FirewallPolicy Tags": {
            "$ref": "./examples/FirewallPolicyPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "FirewallPolicies_Delete",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Deletes the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Firewall Policy": {
            "$ref": "./examples/FirewallPolicyDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/deploy": {
      "post": {
        "operationId": "FirewallPolicyDeployments_Deploy",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Deploys the firewall policy draft and child rule collection group drafts.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "deploy firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftDeploy.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/firewallPolicyDrafts/default": {
      "get": {
        "operationId": "FirewallPolicyDrafts_Get",
        "tags": [
          "FirewallPolicyDrafts"
        ],
        "description": "Get a draft Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicyDrafts_CreateOrUpdate",
        "tags": [
          "FirewallPolicyDrafts"
        ],
        "description": "Create or update a draft Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update Firewall Policy Draft operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicyDraft' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicyDraft' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftPut.json"
          }
        }
      },
      "delete": {
        "operationId": "FirewallPolicyDrafts_Delete",
        "tags": [
          "FirewallPolicyDrafts"
        ],
        "description": "Delete a draft policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "delete firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/listIdpsFilterOptions": {
      "post": {
        "operationId": "FirewallPolicyIdpsSignaturesFilterValues_List",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Retrieves the current filter values for the signatures overrides",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignatureOverridesFilterValuesQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignatureOverridesFilterValuesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "query signature overrides": {
            "$ref": "./examples/FirewallPolicyQuerySignatureOverridesFilterValues.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/listIdpsSignatures": {
      "post": {
        "operationId": "FirewallPolicyIdpsSignatures_List",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Retrieves the current status of IDPS signatures for the relevant policy. Maximal amount of returned signatures is 1000.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IDPSQueryObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "query signature overrides": {
            "$ref": "./examples/FirewallPolicyQuerySignatureOverrides.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleCollectionGroups": {
      "get": {
        "operationId": "FirewallPolicyRuleCollectionGroups_List",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Lists all FirewallPolicyRuleCollectionGroups in a FirewallPolicy resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all FirewallPolicyRuleCollectionGroup With Web Categories": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithWebCategoriesList.json"
          },
          "List all FirewallPolicyRuleCollectionGroups for a given FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupList.json"
          },
          "List all FirewallPolicyRuleCollectionGroups with IpGroups for a given FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithIpGroupsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleCollectionGroups/{ruleCollectionGroupName}": {
      "get": {
        "operationId": "FirewallPolicyRuleCollectionGroups_Get",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Gets the specified FirewallPolicyRuleCollectionGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get FirewallPolicyNatRuleCollectionGroup": {
            "$ref": "./examples/FirewallPolicyNatRuleCollectionGroupGet.json"
          },
          "Get FirewallPolicyRuleCollectionGroup": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupGet.json"
          },
          "Get FirewallPolicyRuleCollectionGroup With IpGroups": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithIpGroupsGet.json"
          },
          "Get FirewallPolicyRuleCollectionGroup With Web Categories": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithWebCategoriesGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicyRuleCollectionGroups_CreateOrUpdate",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Creates or updates the specified FirewallPolicyRuleCollectionGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update FirewallPolicyRuleCollectionGroup operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicyRuleCollectionGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicyRuleCollectionGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create Firewall Policy Nat Rule Collection Group": {
            "$ref": "./examples/FirewallPolicyNatRuleCollectionGroupPut.json"
          },
          "Create Firewall Policy Rule Collection Group": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupPut.json"
          },
          "Create Firewall Policy Rule Collection Group With IP Groups": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithIpGroupsPut.json"
          },
          "Create Firewall Policy Rule Collection Group With Web Categories": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithWebCategoriesPut.json"
          },
          "Create Firewall Policy Rule Collection Group With http header to insert": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithHttpHeadersToInsert.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FirewallPolicyRuleCollectionGroup"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "FirewallPolicyRuleCollectionGroups_Delete",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Deletes the specified FirewallPolicyRuleCollectionGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
[...]
