{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AzureFirewalls"
    },
    {
      "name": "AzureWebCategories"
    },
    {
      "name": "FirewallPolicies"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewallFqdnTags": {
      "get": {
        "operationId": "AzureFirewallFqdnTags_ListAll",
        "description": "Gets all the Azure Firewall FQDN Tags in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "./common.json/definitions/AzureFirewallFqdnTagListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Azure Firewall FQDN Tags for a given subscription": {
            "$ref": "./examples/AzureFirewallFqdnTagsListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewalls": {
      "get": {
        "operationId": "AzureFirewalls_ListAll",
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Gets all the Azure Firewalls in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureFirewallListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Azure Firewalls for a given subscription": {
            "$ref": "./examples/AzureFirewallListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureWebCategories": {
      "get": {
        "operationId": "WebCategories_ListBySubscription",
        "tags": [
          "AzureWebCategories"
        ],
        "description": "Gets all the Azure Web Categories in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureWebCategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Azure Web Categories for a given subscription": {
            "$ref": "./examples/AzureWebCategoriesListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureWebCategories/{name}": {
      "get": {
        "operationId": "WebCategories_Get",
        "tags": [
          "AzureWebCategories"
        ],
        "description": "Gets the specified Azure Web Category.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the azureWebCategory.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands resourceIds back referenced by the azureWebCategory resource.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureWebCategory"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Web Category by name": {
            "$ref": "./examples/AzureWebCategoryGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/firewallPolicies": {
      "get": {
        "operationId": "FirewallPolicies_ListAll",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Gets all the Firewall Policies in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Firewall Policies for a given subscription": {
            "$ref": "./examples/FirewallPolicyListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls": {
      "get": {
        "operationId": "AzureFirewalls_List",
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Lists all Azure Firewalls in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureFirewallListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Azure Firewalls for a given resource group": {
            "$ref": "./examples/AzureFirewallListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls/{azureFirewallName}": {
      "get": {
        "operationId": "AzureFirewalls_Get",
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Gets the specified Azure Firewall.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureFirewallName",
            "in": "path",
            "description": "The name of the Azure Firewall.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureFirewall"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Firewall": {
            "$ref": "./examples/AzureFirewallGet.json"
          },
          "Get Azure Firewall With Additional Properties": {
            "$ref": "./examples/AzureFirewallGetWithAdditionalProperties.json"
          },
          "Get Azure Firewall With IpGroups": {
            "$ref": "./examples/AzureFirewallGetWithIpGroups.json"
          },
          "Get Azure Firewall With Zones": {
            "$ref": "./examples/AzureFirewallGetWithZones.json"
          },
          "Get Azure Firewall With management subnet": {
            "$ref": "./examples/AzureFirewallGetWithMgmtSubnet.json"
          }
        }
      },
      "put": {
        "operationId": "AzureFirewalls_CreateOrUpdate",
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Creates or updates the specified Azure Firewall.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureFirewallName",
            "in": "path",
            "description": "The name of the Azure Firewall.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update Azure Firewall operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureFirewall"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureFirewall' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureFirewall"
            }
          },
          "201": {
            "description": "Resource 'AzureFirewall' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureFirewall"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create Azure Firewall": {
            "$ref": "./examples/AzureFirewallPut.json"
          },
          "Create Azure Firewall With Additional Properties": {
            "$ref": "./examples/AzureFirewallPutWithAdditionalProperties.json"
          },
          "Create Azure Firewall With IpGroups": {
            "$ref": "./examples/AzureFirewallPutWithIpGroups.json"
          },
          "Create Azure Firewall With Zones": {
            "$ref": "./examples/AzureFirewallPutWithZones.json"
          },
          "Create Azure Firewall With management subnet": {
            "$ref": "./examples/AzureFirewallPutWithMgmtSubnet.json"
          },
          "Create Azure Firewall in virtual Hub": {
            "$ref": "./examples/AzureFirewallPutInHub.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AzureFirewall"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AzureFirewalls_UpdateTags",
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Updates tags of an Azure Firewall resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureFirewallName",
            "in": "path",
            "description": "The name of the Azure Firewall.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update azure firewall tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureFirewall"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update Azure Firewall Tags": {
            "$ref": "./examples/AzureFirewallUpdateTags.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/AzureFirewall"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AzureFirewalls_Delete",
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Deletes the specified Azure Firewall.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureFirewallName",
            "in": "path",
            "description": "The name of the Azure Firewall.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Azure Firewall": {
            "$ref": "./examples/AzureFirewallDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls/{azureFirewallName}/learnedIPPrefixes": {
      "post": {
        "operationId": "AzureFirewalls_ListLearnedPrefixes",
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Retrieves a list of all IP prefixes that azure firewall has learned to not SNAT.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureFirewallName",
            "in": "path",
            "description": "The name of the Azure Firewall.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/IPPrefixesList"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "AzureFirewallListLearnedPrefixes": {
            "$ref": "./examples/AzureFirewallListLearnedIPPrefixes.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json/definitions/IPPrefixesList"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls/{azureFirewallName}/packetCapture": {
      "post": {
        "operationId": "AzureFirewalls_PacketCapture",
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Runs a packet capture on AzureFirewall.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureFirewallName",
            "in": "path",
            "description": "The name of the Azure Firewall.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to run packet capture on azure firewall.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/FirewallPacketCaptureParameters"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "AzureFirewallPacketCapture": {
            "$ref": "./examples/AzureFirewallPacketCapture.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls/{azureFirewallName}/packetCaptureOperation": {
      "post": {
        "operationId": "AzureFirewalls_PacketCaptureOperation",
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Runs a packet capture operation on AzureFirewall.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureFirewallName",
            "in": "path",
            "description": "The name of the Azure Firewall.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to run packet capture on azure firewall.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/FirewallPacketCaptureParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/AzureFirewallPacketCaptureResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "AzureFirewallPacketCaptureOperation": {
            "$ref": "./examples/AzureFirewallPacketCaptureOperation.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json/definitions/AzureFirewallPacketCaptureResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies": {
      "get": {
        "operationId": "FirewallPolicies_List",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Lists all Firewall Policies in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Firewall Policies for a given resource group": {
            "$ref": "./examples/FirewallPolicyListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}": {
      "get": {
        "operationId": "FirewallPolicies_Get",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Gets the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicies_CreateOrUpdate",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Creates or updates the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update Firewall Policy operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FirewallPolicy"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "FirewallPolicies_UpdateTags",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Updates tags of a Azure Firewall Policy resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update Azure Firewall Policy tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update FirewallPolicy Tags": {
            "$ref": "./examples/FirewallPolicyPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "FirewallPolicies_Delete",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Deletes the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Firewall Policy": {
            "$ref": "./examples/FirewallPolicyDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/deploy": {
      "post": {
        "operationId": "FirewallPolicyDeployments_Deploy",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Deploys the firewall policy draft and child rule collection group drafts.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "deploy firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftDeploy.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/listIdpsFilterOptions": {
      "post": {
        "operationId": "FirewallPolicyIdpsSignaturesFilterValues_List",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Retrieves the current filter values for the signatures overrides",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/SignatureOverridesFilterValuesQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/SignatureOverridesFilterValuesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "query signature overrides": {
            "$ref": "./examples/FirewallPolicyQuerySignatureOverridesFilterValues.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/listIdpsSignatures": {
      "post": {
        "operationId": "FirewallPolicyIdpsSignatures_List",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Retrieves the current status of IDPS signatures for the relevant policy. Maximal amount of returned signatures is 1000.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/IDPSQueryObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/QueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "query signature overrides": {
            "$ref": "./examples/FirewallPolicyQuerySignatureOverrides.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AzureFirewall": {
      "type": "object",
      "description": "Azure Firewall resource.",
      "properties": {
        "properties": {
          "$ref": "./common.json/definitions/AzureFirewallPropertiesFormat",
          "description": "Properties of the azure firewall.",
          "x-ms-client-flatten": true
        },
        "extendedLocation": {
          "$ref": "./common.json/definitions/ExtendedLocation",
          "description": "The extended location of type local virtual network gateway."
        },
        "zones": {
          "type": "array",
          "description": "A list of availability zones denoting where the resource needs to come from.",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json/definitions/Resource"
        }
      ]
    },
    "AzureFirewallListResult": {
      "type": "object",
      "description": "The response of a AzureFirewall list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureFirewall items on this page",
          "items": {
            "$ref": "#/definitions/AzureFirewall"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureWebCategory": {
      "type": "object",
      "description": "Azure Web Category Resource.",
      "properties": {
        "properties": {
          "$ref": "./common.json/definitions/AzureWebCategoryPropertiesFormat",
          "description": "Properties of the Azure Web Category.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json/definitions/ProxyResource"
        }
      ]
    },
    "AzureWebCategoryListResult": {
      "type": "object",
      "description": "The response of a AzureWebCategory list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureWebCategory items on this page",
          "items": {
            "$ref": "#/definitions/AzureWebCategory"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FirewallPolicy": {
      "type": "object",
      "description": "FirewallPolicy Resource.",
      "properties": {
        "properties": {
          "$ref": "./common.json/definitions/FirewallPolicyPropertiesFormat",
          "description": "Properties of the firewall policy.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "identity": {
          "$ref": "./common.json/definitions/ManagedServiceIdentity",
          "description": "The identity of the firewall policy."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json/definitions/Resource"
        }
      ]
    },
    "FirewallPolicyListResult": {
      "type": "object",
      "description": "The response of a FirewallPolicy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The FirewallPolicy items on this page",
          "items": {
            "$ref": "#/definitions/FirewallPolicy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {}
}
