{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "LoadBalancers"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers": {
      "get": {
        "operationId": "LoadBalancers_ListAll",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the load balancers in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all load balancers": {
            "$ref": "./examples/LoadBalancerListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers": {
      "get": {
        "operationId": "LoadBalancers_List",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the load balancers in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List load balancers in resource group": {
            "$ref": "./examples/LoadBalancerList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}": {
      "get": {
        "operationId": "LoadBalancers_Get",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets the specified load balancer.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get load balancer": {
            "$ref": "./examples/LoadBalancerGet.json"
          },
          "Get load balancer with inbound NAT rule port mapping": {
            "$ref": "./examples/LoadBalancerGetInboundNatRulePortMapping.json"
          }
        }
      },
      "put": {
        "operationId": "LoadBalancers_CreateOrUpdate",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Creates or updates a load balancer.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update load balancer operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LoadBalancer' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          },
          "201": {
            "description": "Resource 'LoadBalancer' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create load balancer": {
            "$ref": "./examples/LoadBalancerCreate.json"
          },
          "Create load balancer with Frontend IP in Zone 1": {
            "$ref": "./examples/LoadBalancerCreateWithZones.json"
          },
          "Create load balancer with Gateway Load Balancer Consumer configured": {
            "$ref": "./examples/LoadBalancerCreateGatewayLoadBalancerConsumer.json"
          },
          "Create load balancer with Gateway Load Balancer Provider configured with one Backend Pool": {
            "$ref": "./examples/LoadBalancerCreateGatewayLoadBalancerProviderWithOneBackendPool.json"
          },
          "Create load balancer with Gateway Load Balancer Provider configured with two Backend Pool": {
            "$ref": "./examples/LoadBalancerCreateGatewayLoadBalancerProviderWithTwoBackendPool.json"
          },
          "Create load balancer with Global Tier and one regional load balancer in its backend pool": {
            "$ref": "./examples/LoadBalancerCreateGlobalTier.json"
          },
          "Create load balancer with Standard SKU": {
            "$ref": "./examples/LoadBalancerCreateStandardSku.json"
          },
          "Create load balancer with Sync Mode Property on Pool": {
            "$ref": "./examples/LoadBalancerCreateWithSyncModePropertyOnPool.json"
          },
          "Create load balancer with inbound nat pool": {
            "$ref": "./examples/LoadBalancerCreateWithInboundNatPool.json"
          },
          "Create load balancer with outbound rules": {
            "$ref": "./examples/LoadBalancerCreateWithOutboundRules.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/LoadBalancer"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LoadBalancers_UpdateTags",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Updates a load balancer tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update load balancer tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update load balancer tags": {
            "$ref": "./examples/LoadBalancerUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "LoadBalancers_Delete",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Deletes the specified load balancer.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete load balancer": {
            "$ref": "./examples/LoadBalancerDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/migrateToIpBased": {
      "post": {
        "operationId": "LoadBalancers_MigrateToIpBased",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Migrate load balancer to IP Based",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the migrateToIpBased Api.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MigrateLoadBalancerToIpBasedRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigratedPools"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Migrate load balancer to IP Based": {
            "$ref": "./examples/MigrateLoadBalancerToIPBased.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/networkInterfaces": {
      "get": {
        "operationId": "LoadBalancerNetworkInterfaces_List",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets associated load balancer network interfaces.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./virtualNetwork.json#/definitions/NetworkInterfaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerNetworkInterfaceListSimple": {
            "$ref": "./examples/LoadBalancerNetworkInterfaceListSimple.json"
          },
          "LoadBalancerNetworkInterfaceListVmss": {
            "$ref": "./examples/LoadBalancerNetworkInterfaceListVmss.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "BackendAddressInboundNatRulePortMappings": {
      "type": "object",
      "description": "The response for a QueryInboundNatRulePortMapping API.",
      "properties": {
        "inboundNatRulePortMappings": {
          "type": "array",
          "description": "Collection of inbound NAT rule port mappings.",
          "items": {
            "$ref": "#/definitions/InboundNatRulePortMapping"
          }
        }
      }
    },
    "BackendAddressPool": {
      "type": "object",
      "description": "Pool of backend IP addresses.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BackendAddressPoolPropertiesFormat",
          "description": "Properties of load balancer backend address pool.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResourceModel"
        }
      ]
    },
    "BackendAddressPoolPropertiesFormat": {
      "type": "object",
      "description": "Properties of the backend address pool.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the backend address pool."
        },
        "tunnelInterfaces": {
          "type": "array",
          "description": "An array of gateway load balancer tunnel interfaces.",
          "items": {
            "$ref": "#/definitions/GatewayLoadBalancerTunnelInterface"
          }
        },
        "loadBalancerBackendAddresses": {
          "type": "array",
          "description": "An array of backend addresses.",
          "items": {
            "$ref": "#/definitions/LoadBalancerBackendAddress"
          }
        },
        "backendIPConfigurations": {
          "type": "array",
          "description": "An array of references to IP addresses defined in network interfaces.",
          "items": {
            "$ref": "./virtualNetwork.json#/definitions/NetworkInterfaceIPConfiguration"
          },
          "readOnly": true
        },
        "loadBalancingRules": {
          "type": "array",
          "description": "An array of references to load balancing rules that use this backend address pool.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "outboundRule": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "A reference to an outbound rule that uses this backend address pool.",
          "readOnly": true
        },
        "outboundRules": {
          "type": "array",
          "description": "An array of references to outbound rules that use this backend address pool.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "inboundNatRules": {
          "type": "array",
          "description": "An array of references to inbound NAT rules that use this backend address pool.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the backend address pool resource.",
          "readOnly": true
        },
        "drainPeriodInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Amount of seconds Load Balancer waits for before sending RESET to client and backend address."
        },
        "virtualNetwork": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "A reference to a virtual network."
        },
        "syncMode": {
          "$ref": "./common.json#/definitions/SyncMode",
          "description": "Backend address synchronous mode for the backend pool"
        }
      }
    },
    "FrontendIPConfiguration": {
      "type": "object",
      "description": "Frontend IP address of the load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FrontendIPConfigurationPropertiesFormat",
          "description": "Properties of the load balancer probe.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "zones": {
          "type": "array",
          "description": "A list of availability zones denoting the IP allocated for the resource needs to come from.",
          "items": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResourceModel"
        }
      ]
    },
    "FrontendIPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of Frontend IP Configuration of the load balancer.",
      "properties": {
        "inboundNatRules": {
          "type": "array",
          "description": "An array of references to inbound rules that use this frontend IP.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "inboundNatPools": {
          "type": "array",
          "description": "An array of references to inbound pools that use this frontend IP.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "outboundRules": {
          "type": "array",
          "description": "An array of references to outbound rules that use this frontend IP.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "loadBalancingRules": {
          "type": "array",
          "description": "An array of references to load balancing rules that use this frontend IP.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "./common.json#/definitions/IPAllocationMethod",
          "description": "The Private IP allocation method."
        },
        "privateIPAddressVersion": {
          "$ref": "./common.json#/definitions/IPVersion",
          "description": "Whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4."
        },
        "subnet": {
          "$ref": "./virtualNetwork.json#/definitions/Subnet",
          "description": "The reference to the subnet resource."
        },
        "publicIPAddress": {
          "$ref": "./virtualNetwork.json#/definitions/PublicIPAddress",
          "description": "The reference to the Public IP resource."
        },
        "publicIPPrefix": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the Public IP Prefix resource."
        },
        "gatewayLoadBalancer": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to gateway load balancer frontend IP."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the frontend IP configuration resource.",
          "readOnly": true
        }
      }
    },
    "GatewayLoadBalancerTunnelInterface": {
      "type": "object",
      "description": "Gateway load balancer tunnel interface of a load balancer backend address pool.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port of gateway load balancer tunnel interface."
        },
        "identifier": {
          "type": "integer",
          "format": "int32",
          "description": "Identifier of gateway load balancer tunnel interface."
        },
        "protocol": {
          "$ref": "./common.json#/definitions/GatewayLoadBalancerTunnelProtocol",
          "description": "Protocol of gateway load balancer tunnel interface."
        },
        "type": {
          "$ref": "./common.json#/definitions/GatewayLoadBalancerTunnelInterfaceType",
          "description": "Traffic type of gateway load balancer tunnel interface."
        }
      }
    },
    "InboundNatPool": {
      "type": "object",
      "description": "Inbound NAT pool of the load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/InboundNatPoolPropertiesFormat",
          "description": "Properties of load balancer inbound nat pool.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of inbound NAT pools used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResource"
        }
      ]
    },
    "InboundNatPoolPropertiesFormat": {
      "type": "object",
      "description": "Properties of Inbound NAT pool.",
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "A reference to frontend IP addresses."
        },
        "protocol": {
          "$ref": "./common.json#/definitions/TransportProtocol",
          "description": "The reference to the transport protocol used by the inbound NAT pool."
        },
        "frontendPortRangeStart": {
          "type": "integer",
          "format": "int32",
          "description": "The first port number in the range of external ports that will be used to provide Inbound Nat to NICs associated with a load balancer. Acceptable values range between 1 and 65534."
        },
        "frontendPortRangeEnd": {
          "type": "integer",
          "format": "int32",
          "description": "The last port number in the range of external ports that will be used to provide Inbound Nat to NICs associated with a load balancer. Acceptable values range between 1 and 65535."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for internal connections on the endpoint. Acceptable values are between 1 and 65535."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP."
        },
        "enableFloatingIP": {
          "type": "boolean",
          "description": "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the inbound NAT pool resource.",
          "readOnly": true
        }
      },
      "required": [
        "protocol",
        "frontendPortRangeStart",
        "frontendPortRangeEnd",
        "backendPort"
      ]
    },
    "InboundNatRule": {
      "type": "object",
      "description": "Inbound NAT rule of the load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/InboundNatRulePropertiesFormat",
          "description": "Properties of load balancer inbound NAT rule.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResourceModel"
        }
      ]
    },
    "InboundNatRuleListResult": {
      "type": "object",
      "description": "The response of a InboundNatRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The InboundNatRule items on this page",
          "items": {
            "$ref": "#/definitions/InboundNatRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "InboundNatRulePortMapping": {
      "type": "object",
      "description": "Individual port mappings for inbound NAT rule created for backend pool.",
      "properties": {
        "inboundNatRuleName": {
          "type": "string",
          "description": "Name of inbound NAT rule.",
          "readOnly": true
        },
        "protocol": {
          "$ref": "./common.json#/definitions/TransportProtocol",
          "description": "The reference to the transport protocol used by the inbound NAT rule.",
          "readOnly": true
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "Frontend port.",
          "readOnly": true
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "Backend port.",
          "readOnly": true
        }
      }
    },
    "InboundNatRulePropertiesFormat": {
      "type": "object",
      "description": "Properties of the inbound NAT rule.",
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "A reference to frontend IP addresses."
        },
        "backendIPConfiguration": {
          "$ref": "./virtualNetwork.json#/definitions/NetworkInterfaceIPConfiguration",
          "description": "A reference to a private IP address defined on a network interface of a VM. Traffic sent to the frontend port of each of the frontend IP configurations is forwarded to the backend IP.",
          "readOnly": true
        },
        "protocol": {
          "$ref": "./common.json#/definitions/TransportProtocol",
          "description": "The reference to the transport protocol used by the load balancing rule."
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values range from 1 to 65534."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for the internal endpoint. Acceptable values range from 1 to 65535."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP."
        },
        "enableFloatingIP": {
          "type": "boolean",
          "description": "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "frontendPortRangeStart": {
          "type": "integer",
          "format": "int32",
          "description": "The port range start for the external endpoint. This property is used together with BackendAddressPool and FrontendPortRangeEnd. Individual inbound NAT rule port mappings will be created for each backend address from BackendAddressPool. Acceptable values range from 1 to 65534."
        },
        "frontendPortRangeEnd": {
          "type": "integer",
          "format": "int32",
          "description": "The port range end for the external endpoint. This property is used together with BackendAddressPool and FrontendPortRangeStart. Individual inbound NAT rule port mappings will be created for each backend address from BackendAddressPool. Acceptable values range from 1 to 65534."
        },
        "backendAddressPool": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "A reference to backendAddressPool resource."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the inbound NAT rule resource.",
          "readOnly": true
        }
      }
    },
    "LoadBalancer": {
      "type": "object",
      "description": "LoadBalancer resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LoadBalancerPropertiesFormat",
          "description": "Properties of load balancer.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "extendedLocation": {
          "$ref": "./common.json#/definitions/ExtendedLocation",
          "description": "The extended location of the load balancer."
        },
        "sku": {
          "$ref": "#/definitions/LoadBalancerSku",
          "description": "The load balancer SKU."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ]
    },
    "LoadBalancerBackendAddress": {
      "type": "object",
      "description": "Load balancer backend addresses.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LoadBalancerBackendAddressPropertiesFormat",
          "description": "Properties of load balancer backend address pool.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the backend address."
        }
      }
    },
    "LoadBalancerBackendAddressPropertiesFormat": {
      "type": "object",
      "description": "Properties of the load balancer backend addresses.",
      "properties": {
        "virtualNetwork": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "Reference to an existing virtual network."
        },
        "subnet": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "Reference to an existing subnet."
        },
        "ipAddress": {
          "type": "string",
          "description": "IP Address belonging to the referenced virtual network."
        },
        "networkInterfaceIPConfiguration": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "Reference to IP address defined in network interfaces.",
          "readOnly": true
        },
        "loadBalancerFrontendIPConfiguration": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "Reference to the frontend ip address configuration defined in regional loadbalancer."
        },
        "inboundNatRulesPortMapping": {
          "type": "array",
          "description": "Collection of inbound NAT rule port mappings.",
          "items": {
            "$ref": "#/definitions/NatRulePortMapping"
          },
          "readOnly": true
        },
        "adminState": {
          "$ref": "./common.json#/definitions/LoadBalancerBackendAddressAdminState",
          "description": "A list of administrative states which once set can override health probe so that Load Balancer will always forward new connections to backend, or deny new connections and reset existing connections."
        }
      }
    },
    "LoadBalancerHealthPerRule": {
      "type": "object",
      "description": "The response for a Health API.",
      "properties": {
        "up": {
          "type": "integer",
          "format": "int32",
          "description": "Number of backend instances associated to the LB rule that are considered healthy."
        },
        "down": {
          "type": "integer",
          "format": "int32",
          "description": "Number of backend instances associated to the LB rule that are considered unhealthy."
        },
        "loadBalancerBackendAddresses": {
          "type": "array",
          "description": "Information about the health per rule of the backend addresses.",
          "items": {
            "$ref": "#/definitions/LoadBalancerHealthPerRulePerBackendAddress"
          }
        }
      }
    },
    "LoadBalancerHealthPerRulePerBackendAddress": {
      "type": "object",
      "description": "The information about health per rule per backend address.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "The IP address belonging to the backend address."
        },
        "networkInterfaceIPConfigurationId": {
          "type": "string",
          "description": "Resource ID of the Network Interface IP Configuration."
        },
        "state": {
          "type": "string",
          "description": "The current health of the backend instances that is associated to the LB rule."
        },
        "reason": {
          "type": "string",
          "description": "The explanation of the State"
        }
      }
    },
    "LoadBalancerListResult": {
      "type": "object",
      "description": "The response of a LoadBalancer list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LoadBalancer items on this page",
          "items": {
            "$ref": "#/definitions/LoadBalancer"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadBalancerPropertiesFormat": {
      "type": "object",
      "description": "Properties of the load balancer.",
      "properties": {
        "frontendIPConfigurations": {
          "type": "array",
          "description": "Object representing the frontend IPs to be used for the load balancer.",
          "items": {
            "$ref": "#/definitions/FrontendIPConfiguration"
          }
        },
        "backendAddressPools": {
          "type": "array",
          "description": "Collection of backend address pools used by a load balancer.",
          "items": {
            "$ref": "#/definitions/BackendAddressPool"
          }
        },
        "loadBalancingRules": {
          "type": "array",
          "description": "Object collection representing the load balancing rules Gets the provisioning.",
          "items": {
            "$ref": "#/definitions/LoadBalancingRule"
          }
        },
        "probes": {
          "type": "array",
          "description": "Collection of probe objects used in the load balancer.",
          "items": {
            "$ref": "#/definitions/Probe"
          }
        },
        "inboundNatRules": {
          "type": "array",
          "description": "Collection of inbound NAT Rules used by a load balancer. Defining inbound NAT rules on your load balancer is mutually exclusive with defining an inbound NAT pool. Inbound NAT pools are referenced from virtual machine scale sets. NICs that are associated with individual virtual machines cannot reference an Inbound NAT pool. They have to reference individual inbound NAT rules.",
          "items": {
            "$ref": "#/definitions/InboundNatRule"
          }
        },
        "inboundNatPools": {
          "type": "array",
          "description": "Defines an external port range for inbound NAT to a single backend port on NICs associated with a load balancer. Inbound NAT rules are created automatically for each NIC associated with the Load Balancer using an external port from this range. Defining an Inbound NAT pool on your Load Balancer is mutually exclusive with defining inbound NAT rules. Inbound NAT pools are referenced from virtual machine scale sets. NICs that are associated with individual virtual machines cannot reference an inbound NAT pool. They have to reference individual inbound NAT rules.",
          "items": {
            "$ref": "#/definitions/InboundNatPool"
          }
        },
        "outboundRules": {
          "type": "array",
          "description": "The outbound rules.",
          "items": {
            "$ref": "#/definitions/OutboundRule"
          }
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the load balancer resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the load balancer resource.",
          "readOnly": true
        },
        "scope": {
          "$ref": "./common.json#/definitions/LoadBalancerScope",
          "description": "Indicates the scope of the load balancer: external (Public) or internal (Private)."
        }
      }
    },
    "LoadBalancerSku": {
      "type": "object",
      "description": "SKU of a load balancer.",
      "properties": {
        "name": {
          "$ref": "./common.json#/definitions/LoadBalancerSkuName",
          "description": "Name of a load balancer SKU."
        },
        "tier": {
          "$ref": "./common.json#/definitions/LoadBalancerSkuTier",
          "description": "Tier of a load balancer SKU."
        }
      }
    },
    "LoadBalancerVipSwapRequest": {
      "type": "object",
      "description": "The request for a VIP swap.",
      "properties": {
        "frontendIPConfigurations": {
          "type": "array",
          "description": "A list of frontend IP configuration resources that should swap VIPs.",
          "items": {
            "$ref": "#/definitions/LoadBalancerVipSwapRequestFrontendIPConfiguration"
          }
        }
      }
    },
    "LoadBalancerVipSwapRequestFrontendIPConfiguration": {
      "type": "object",
      "description": "VIP swap request's frontend IP configuration object.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of frontend IP configuration resource."
        },
        "properties": {
          "$ref": "#/definitions/LoadBalancerVipSwapRequestFrontendIPConfigurationProperties",
          "description": "The properties of VIP swap request's frontend IP configuration object.",
          "x-ms-client-flatten": true
        }
      }
    },
    "LoadBalancerVipSwapRequestFrontendIPConfigurationProperties": {
      "type": "object",
      "description": "The properties of VIP swap request's frontend IP configuration object.",
      "properties": {
        "publicIPAddress": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "A reference to public IP address resource."
        }
      }
    },
    "LoadBalancingRule": {
      "type": "object",
      "description": "A load balancing rule for a load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LoadBalancingRulePropertiesFormat",
          "description": "Properties of load balancer load balancing rule.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResourceModel"
        }
      ]
    },
    "LoadBalancingRulePropertiesFormat": {
      "type": "object",
      "description": "Properties of the load balancer.",
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "A reference to frontend IP addresses."
        },
        "backendAddressPool": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "A reference to a pool of DIPs. Inbound traffic is randomly load balanced across IPs in the backend IPs."
        },
        "backendAddressPools": {
          "type": "array",
          "description": "An array of references to pool of DIPs.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          }
        },
        "probe": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the load balancer probe used by the load balancing rule."
        },
        "protocol": {
          "$ref": "./common.json#/definitions/TransportProtocol",
          "description": "The reference to the transport protocol used by the load balancing rule."
        },
        "loadDistribution": {
          "$ref": "./common.json#/definitions/LoadDistribution",
          "description": "The load distribution policy for this rule."
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values are between 0 and 65534. Note that value 0 enables \"Any Port\"."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for internal connections on the endpoint. Acceptable values are between 0 and 65535. Note that value 0 enables \"Any Port\"."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP."
        },
        "enableFloatingIP": {
          "type": "boolean",
          "description": "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "disableOutboundSnat": {
          "type": "boolean",
          "description": "Configures SNAT for the VMs in the backend pool to use the publicIP address specified in the frontend of the load balancing rule."
        },
        "enableConnectionTracking": {
          "type": "boolean",
          "description": "Defines whether connections between 2 communicating endpoints can be tracked and associated to the same backend VM over its lifetime when using UDP protocol."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the load balancing rule resource.",
          "readOnly": true
        }
      },
      "required": [
        "protocol",
        "frontendPort"
      ]
    },
    "MigrateLoadBalancerToIpBasedRequest": {
      "type": "object",
      "description": "The request for a migrateToIpBased API.",
      "properties": {
        "pools": {
          "type": "array",
          "description": "A list of pool names that should be migrated from Nic based to IP based pool",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MigratedPools": {
      "type": "object",
      "description": "The response for a migrateToIpBased API.",
      "properties": {
        "migratedPools": {
          "type": "array",
          "description": "A list of pools migrated from Nic based to IP based pool",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NatRulePortMapping": {
      "type": "object",
      "description": "Individual port mappings for inbound NAT rule created for backend pool.",
      "properties": {
        "inboundNatRuleName": {
          "type": "string",
          "description": "Name of inbound NAT rule."
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "Frontend port."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "Backend port."
        }
      }
    },
    "OutboundRule": {
      "type": "object",
      "description": "Outbound rule of the load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OutboundRulePropertiesFormat",
          "description": "Properties of load balancer outbound rule.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResourceModel"
        }
      ]
    },
    "OutboundRulePropertiesFormat": {
      "type": "object",
      "description": "Outbound rule of the load balancer.",
      "properties": {
        "allocatedOutboundPorts": {
          "type": "integer",
          "format": "int32",
          "description": "The number of outbound ports to be used for NAT."
        },
        "frontendIPConfigurations": {
          "type": "array",
          "description": "The Frontend IP addresses of the load balancer.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          }
        },
        "backendAddressPool": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "A reference to a pool of DIPs. Outbound traffic is randomly load balanced across IPs in the backend IPs."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the outbound rule resource.",
          "readOnly": true
        },
        "protocol": {
          "$ref": "./common.json#/definitions/LoadBalancerOutboundRuleProtocol",
          "description": "The protocol for the outbound rule in load balancer."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection."
        }
      },
      "required": [
        "frontendIPConfigurations",
        "backendAddressPool",
        "protocol"
      ]
    },
    "Probe": {
      "type": "object",
      "description": "A load balancer probe.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProbePropertiesFormat",
          "description": "Properties of load balancer probe.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResourceModel"
        }
      ]
    },
    "ProbePropertiesFormat": {
      "type": "object",
      "description": "Load balancer probe resource.",
      "properties": {
        "loadBalancingRules": {
          "type": "array",
          "description": "The load balancer rules that use this probe.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "protocol": {
          "$ref": "./common.json#/definitions/ProbeProtocol",
          "description": "The protocol of the end point. If 'Tcp' is specified, a received ACK is required for the probe to be successful. If 'Http' or 'Https' is specified, a 200 OK response from the specifies URI is required for the probe to be successful."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port for communicating the probe. Possible values range from 1 to 65535, inclusive."
        },
        "intervalInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The interval, in seconds, for how frequently to probe the endpoint for health status. Typically, the interval is slightly less than half the allocated timeout period (in seconds) which allows two full probes before taking the instance out of rotation. The default value is 15, the minimum value is 5."
        },
        "noHealthyBackendsBehavior": {
          "$ref": "./common.json#/definitions/ProbeNoHealthyBackendsBehavior",
          "description": "Determines how new connections are handled by the load balancer when all backend instances are probed down."
        },
        "numberOfProbes": {
          "type": "integer",
          "format": "int32",
          "description": "The number of probes where if no response, will result in stopping further traffic from being delivered to the endpoint. This values allows endpoints to be taken out of rotation faster or slower than the typical times used in Azure."
        },
        "probeThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "The number of consecutive successful or failed probes in order to allow or deny traffic from being delivered to this endpoint. After failing the number of consecutive probes equal to this value, the endpoint will be taken out of rotation and require the same number of successful consecutive probes to be placed back in rotation."
        },
        "requestPath": {
          "type": "string",
          "description": "The URI used for requesting health status from the VM. Path is required if a protocol is set to http. Otherwise, it is not allowed. There is no default value."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the probe resource.",
          "readOnly": true
        }
      },
      "required": [
        "protocol",
        "port"
      ]
    },
    "QueryInboundNatRulePortMappingRequest": {
      "type": "object",
      "description": "The request for a QueryInboundNatRulePortMapping API. Either IpConfiguration or IpAddress should be set",
      "properties": {
        "ipConfiguration": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "NetworkInterfaceIPConfiguration set in load balancer backend address."
        },
        "ipAddress": {
          "type": "string",
          "description": "IP address set in load balancer backend address."
        }
      }
    }
  },
  "parameters": {}
}
