{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkWatchers"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkWatchers": {
      "get": {
        "operationId": "NetworkWatchers_ListAll",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Gets all network watchers by subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkWatcherListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all network watchers": {
            "$ref": "./examples/NetworkWatcherListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers": {
      "get": {
        "operationId": "NetworkWatchers_List",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Gets all network watchers by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkWatcherListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List network watchers": {
            "$ref": "./examples/NetworkWatcherList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}": {
      "get": {
        "operationId": "NetworkWatchers_Get",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Gets the specified network watcher by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkWatcher"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get network watcher": {
            "$ref": "./examples/NetworkWatcherGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkWatchers_CreateOrUpdate",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Creates or updates a network watcher in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that define the network watcher resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkWatcher"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkWatcher' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkWatcher"
            }
          },
          "201": {
            "description": "Resource 'NetworkWatcher' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkWatcher"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create network watcher": {
            "$ref": "./examples/NetworkWatcherCreate.json"
          }
        }
      },
      "patch": {
        "operationId": "NetworkWatchers_UpdateTags",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Updates a network watcher tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update network watcher tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkWatcher"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update network watcher tags": {
            "$ref": "./examples/NetworkWatcherUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkWatchers_Delete",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Deletes the specified network watcher resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete network watcher": {
            "$ref": "./examples/NetworkWatcherDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/availableProvidersList": {
      "post": {
        "operationId": "NetworkWatchers_ListAvailableProviders",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "NOTE: This feature is currently in preview and still being tested for stability. Lists all available internet service providers for a specified Azure region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that scope the list of available providers.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailableProvidersListParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvailableProvidersList"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/AvailableProvidersList"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Available Providers List": {
            "$ref": "./examples/NetworkWatcherAvailableProvidersListGet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AvailableProvidersList"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/azureReachabilityReport": {
      "post": {
        "operationId": "NetworkWatchers_GetAzureReachabilityReport",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "NOTE: This feature is currently in preview and still being tested for stability. Gets the relative latency score for internet service providers from a specified location to Azure regions.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that determine Azure reachability report configuration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureReachabilityReportParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureReachabilityReport"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/AzureReachabilityReport"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Reachability Report": {
            "$ref": "./examples/NetworkWatcherAzureReachabilityReportGet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AzureReachabilityReport"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/configureFlowLog": {
      "post": {
        "operationId": "NetworkWatchers_SetFlowLogConfiguration",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Configures flow log and traffic analytics (optional) on a specified resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that define the configuration of flow log.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowLogInformation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FlowLogInformation"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/FlowLogInformation"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Configure flow log": {
            "$ref": "./examples/NetworkWatcherFlowLogConfigure.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/FlowLogInformation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectivityCheck": {
      "post": {
        "operationId": "NetworkWatchers_CheckConnectivity",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Verifies the possibility of establishing a direct TCP connection from a virtual machine to a given endpoint including another VM or an arbitrary remote server.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that determine how the connectivity check will be performed.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectivityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityInformation"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/ConnectivityInformation"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Check connectivity": {
            "$ref": "./examples/NetworkWatcherConnectivityCheck.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ConnectivityInformation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/ipFlowVerify": {
      "post": {
        "operationId": "NetworkWatchers_VerifyIPFlow",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Verify IP flow from the specified VM to a location given the currently configured NSG rules.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that define the IP flow to be verified.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerificationIPFlowParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VerificationIPFlowResult"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/VerificationIPFlowResult"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ip flow verify": {
            "$ref": "./examples/NetworkWatcherIpFlowVerify.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/VerificationIPFlowResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/networkConfigurationDiagnostic": {
      "post": {
        "operationId": "NetworkWatchers_GetNetworkConfigurationDiagnostic",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Gets Network Configuration Diagnostic data to help customers understand and debug network behavior. It provides detailed information on what security rules were applied to a specified traffic flow and the result of evaluating these rules. Customers must provide details of a flow like source, destination, protocol, etc. The API returns whether traffic was allowed or denied, the rules evaluated for the specified flow and the evaluation results.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to get network configuration diagnostic.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkConfigurationDiagnosticParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkConfigurationDiagnosticResponse"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/NetworkConfigurationDiagnosticResponse"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Network configuration diagnostic": {
            "$ref": "./examples/NetworkWatcherNetworkConfigurationDiagnostic.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/NetworkConfigurationDiagnosticResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/nextHop": {
      "post": {
        "operationId": "NetworkWatchers_GetNextHop",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Gets the next hop from the specified VM.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that define the source and destination endpoint.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NextHopParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NextHopResult"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/NextHopResult"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get next hop": {
            "$ref": "./examples/NetworkWatcherNextHopGet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/NextHopResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures": {
      "get": {
        "operationId": "PacketCaptures_List",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Lists all packet capture sessions within the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCaptureListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List packet captures": {
            "$ref": "./examples/NetworkWatcherPacketCapturesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}": {
      "get": {
        "operationId": "PacketCaptures_Get",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Gets a packet capture session by name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "packetCaptureName",
            "in": "path",
            "description": "The name of the packet capture session.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCaptureResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get packet capture": {
            "$ref": "./examples/NetworkWatcherPacketCaptureGet.json"
          }
        }
      },
      "put": {
        "operationId": "PacketCaptures_Create",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Create and start a packet capture on the specified VM.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "packetCaptureName",
            "in": "path",
            "description": "The name of the packet capture session.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that define the create packet capture operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PacketCapture"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource 'PacketCaptureResult' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PacketCaptureResult"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create packet capture": {
            "$ref": "./examples/NetworkWatcherPacketCaptureCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/NetworkWatcher"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PacketCaptures_Delete",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Deletes the specified packet capture session.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "packetCaptureName",
            "in": "path",
            "description": "The name of the packet capture session.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete packet capture": {
            "$ref": "./examples/NetworkWatcherPacketCaptureDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/queryStatus": {
      "post": {
        "operationId": "PacketCaptures_GetStatus",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Query the status of a running packet capture session.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "packetCaptureName",
            "in": "path",
            "description": "The name of the packet capture session.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCaptureQueryStatusResult"
            }
          },
          "202": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCaptureQueryStatusResult"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Query packet capture status": {
            "$ref": "./examples/NetworkWatcherPacketCaptureQueryStatus.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/PacketCaptureQueryStatusResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/stop": {
      "post": {
        "operationId": "PacketCaptures_Stop",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Stops a specified packet capture session.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "packetCaptureName",
            "in": "path",
            "description": "The name of the packet capture session.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Stop packet capture": {
            "$ref": "./examples/NetworkWatcherPacketCaptureStop.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryFlowLogStatus": {
      "post": {
        "operationId": "NetworkWatchers_GetFlowLogStatus",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Queries status of flow log and traffic analytics (optional) on a specified resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that define a resource to query flow log and traffic analytics (optional) status.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowLogStatusParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FlowLogInformation"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/FlowLogInformation"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get flow log status": {
            "$ref": "./examples/NetworkWatcherFlowLogStatusQuery.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/FlowLogInformation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryTroubleshootResult": {
      "post": {
        "operationId": "NetworkWatchers_GetTroubleshootingResult",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Get the last completed troubleshooting result on a specified resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that define the resource to query the troubleshooting result.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryTroubleshootingParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TroubleshootingResult"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/TroubleshootingResult"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get troubleshoot result": {
            "$ref": "./examples/NetworkWatcherTroubleshootResultQuery.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TroubleshootingResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/securityGroupView": {
      "post": {
        "operationId": "NetworkWatchers_GetVMSecurityRules",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Gets the configured and effective security group rules on the specified VM.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that define the VM to check security groups for.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityGroupViewParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityGroupViewResult"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/SecurityGroupViewResult"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get security group view": {
            "$ref": "./examples/NetworkWatcherSecurityGroupViewGet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/SecurityGroupViewResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/topology": {
      "post": {
        "operationId": "NetworkWatchers_GetTopology",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Gets the current network topology by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that define the representation of topology.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TopologyParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Topology"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Topology": {
            "$ref": "./examples/NetworkWatcherTopologyGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/troubleshoot": {
      "post": {
        "operationId": "NetworkWatchers_GetTroubleshooting",
        "tags": [
          "NetworkWatchers"
        ],
        "description": "Initiate troubleshooting on a specified resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkWatcherName",
            "in": "path",
            "description": "The name of the network watcher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that define the resource to troubleshoot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TroubleshootingParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TroubleshootingResult"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/TroubleshootingResult"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get troubleshooting": {
            "$ref": "./examples/NetworkWatcherTroubleshootGet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TroubleshootingResult"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AvailableProvidersList": {
      "type": "object",
      "description": "List of available countries with details.",
      "properties": {
        "countries": {
          "type": "array",
          "description": "List of available countries.",
          "items": {
            "$ref": "#/definitions/AvailableProvidersListCountry"
          }
        }
      },
      "required": [
        "countries"
      ]
    },
    "AvailableProvidersListCity": {
      "type": "object",
      "description": "City or town details.",
      "properties": {
        "cityName": {
          "type": "string",
          "description": "The city or town name."
        },
        "providers": {
          "type": "array",
          "description": "A list of Internet service providers.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AvailableProvidersListCountry": {
      "type": "object",
      "description": "Country details.",
      "properties": {
        "countryName": {
          "type": "string",
          "description": "The country name."
        },
        "providers": {
          "type": "array",
          "description": "A list of Internet service providers.",
          "items": {
            "type": "string"
          }
        },
        "states": {
          "type": "array",
          "description": "List of available states in the country.",
          "items": {
            "$ref": "#/definitions/AvailableProvidersListState"
          }
        }
      }
    },
    "AvailableProvidersListParameters": {
      "type": "object",
      "description": "Constraints that determine the list of available Internet service providers.",
      "properties": {
        "azureLocations": {
          "type": "array",
          "description": "A list of Azure regions.",
          "items": {
            "type": "string"
          }
        },
        "country": {
          "type": "string",
          "description": "The country for available providers list."
        },
        "state": {
          "type": "string",
          "description": "The state for available providers list."
        },
        "city": {
          "type": "string",
          "description": "The city or town for available providers list."
        }
      }
    },
    "AvailableProvidersListState": {
      "type": "object",
      "description": "State details.",
      "properties": {
        "stateName": {
          "type": "string",
          "description": "The state name."
        },
        "providers": {
          "type": "array",
          "description": "A list of Internet service providers.",
          "items": {
            "type": "string"
          }
        },
        "cities": {
          "type": "array",
          "description": "List of available cities or towns in the state.",
          "items": {
            "$ref": "#/definitions/AvailableProvidersListCity"
          }
        }
      }
    },
    "AzureReachabilityReport": {
      "type": "object",
      "description": "Azure reachability report details.",
      "properties": {
        "aggregationLevel": {
          "type": "string",
          "description": "The aggregation level of Azure reachability report. Can be Country, State or City."
        },
        "providerLocation": {
          "$ref": "#/definitions/AzureReachabilityReportLocation",
          "description": "Parameters that define a geographic location."
        },
        "reachabilityReport": {
          "type": "array",
          "description": "List of Azure reachability report items.",
          "items": {
            "$ref": "#/definitions/AzureReachabilityReportItem"
          }
        }
      },
      "required": [
        "aggregationLevel",
        "providerLocation",
        "reachabilityReport"
      ]
    },
    "AzureReachabilityReportItem": {
      "type": "object",
      "description": "Azure reachability report details for a given provider location.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "The Internet service provider."
        },
        "azureLocation": {
          "type": "string",
          "description": "The Azure region."
        },
        "latencies": {
          "type": "array",
          "description": "List of latency details for each of the time series.",
          "items": {
            "$ref": "#/definitions/AzureReachabilityReportLatencyInfo"
          }
        }
      }
    },
    "AzureReachabilityReportLatencyInfo": {
      "type": "object",
      "description": "Details on latency for a time series.",
      "properties": {
        "timeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "The time stamp."
        },
        "score": {
          "type": "integer",
          "format": "int32",
          "description": "The relative latency score between 1 and 100, higher values indicating a faster connection.",
          "minimum": 1,
          "maximum": 100
        }
      }
    },
    "AzureReachabilityReportLocation": {
      "type": "object",
      "description": "Parameters that define a geographic location.",
      "properties": {
        "country": {
          "type": "string",
          "description": "The name of the country."
        },
        "state": {
          "type": "string",
          "description": "The name of the state."
        },
        "city": {
          "type": "string",
          "description": "The name of the city or town."
        }
      },
      "required": [
        "country"
      ]
    },
    "AzureReachabilityReportParameters": {
      "type": "object",
      "description": "Geographic and time constraints for Azure reachability report.",
      "properties": {
        "providerLocation": {
          "$ref": "#/definitions/AzureReachabilityReportLocation",
          "description": "Parameters that define a geographic location."
        },
        "providers": {
          "type": "array",
          "description": "List of Internet service providers.",
          "items": {
            "type": "string"
          }
        },
        "azureLocations": {
          "type": "array",
          "description": "Optional Azure regions to scope the query to.",
          "items": {
            "type": "string"
          }
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time for the Azure reachability report."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time for the Azure reachability report."
        }
      },
      "required": [
        "providerLocation",
        "startTime",
        "endTime"
      ]
    },
    "ConnectionMonitor": {
      "type": "object",
      "description": "Parameters that define the operation to create a connection monitor.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Connection monitor location."
        },
        "tags": {
          "type": "object",
          "description": "Connection monitor tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ConnectionMonitorParameters",
          "description": "Properties of the connection monitor.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ]
    },
    "ConnectionMonitorDestination": {
      "type": "object",
      "description": "Describes the destination of connection monitor.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ID of the resource used as the destination by connection monitor."
        },
        "address": {
          "type": "string",
          "description": "Address of the connection monitor destination (IP or domain name)."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The destination port used by connection monitor.",
          "minimum": 0,
          "maximum": 65535
        }
      }
    },
    "ConnectionMonitorEndpoint": {
      "type": "object",
      "description": "Describes the connection monitor endpoint.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the connection monitor endpoint."
        },
        "type": {
          "$ref": "./common.json#/definitions/EndpointType",
          "description": "The endpoint type."
        },
        "resourceId": {
          "type": "string",
          "description": "Resource ID of the connection monitor endpoint are supported for AzureVM, AzureVMSS, AzureVNet, AzureSubnet, MMAWorkspaceMachine, MMAWorkspaceNetwork, AzureArcVM endpoint type."
        },
        "address": {
          "type": "string",
          "description": "Address of the connection monitor endpoint. Supported for AzureVM, ExternalAddress, ArcMachine, MMAWorkspaceMachine endpoint type."
        },
        "filter": {
          "$ref": "#/definitions/ConnectionMonitorEndpointFilter",
          "description": "Filter field is getting deprecated and should not be used. Instead use Include/Exclude scope fields for it."
        },
        "scope": {
          "$ref": "#/definitions/ConnectionMonitorEndpointScope",
          "description": "Endpoint scope defines which target resource to monitor in case of compound resource endpoints like VMSS, AzureSubnet, AzureVNet, MMAWorkspaceNetwork, AzureArcNetwork."
        },
        "coverageLevel": {
          "$ref": "./common.json#/definitions/CoverageLevel",
          "description": "Test coverage for the endpoint."
        },
        "locationDetails": {
          "$ref": "#/definitions/ConnectionMonitorEndpointLocationDetails",
          "description": "Location details is optional and only being used for 'AzureArcNetwork' type endpoints, which contains region details."
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription ID for connection monitor endpoint. It's an optional parameter which is being used for 'AzureArcNetwork' type endpoint."
        }
      },
      "required": [
        "name"
      ]
    },
    "ConnectionMonitorEndpointFilter": {
      "type": "object",
      "description": "Describes the connection monitor endpoint filter.",
      "properties": {
        "type": {
          "$ref": "./common.json#/definitions/ConnectionMonitorEndpointFilterType",
          "description": "The behavior of the endpoint filter. Currently only 'Include' is supported."
        },
        "items": {
          "type": "array",
          "description": "List of items in the filter.",
          "items": {
            "$ref": "#/definitions/ConnectionMonitorEndpointFilterItem"
          }
        }
      }
    },
    "ConnectionMonitorEndpointFilterItem": {
      "type": "object",
      "description": "Describes the connection monitor endpoint filter item.",
      "properties": {
        "type": {
          "$ref": "./common.json#/definitions/ConnectionMonitorEndpointFilterItemType",
          "description": "The type of item included in the filter. Currently only 'AgentAddress' is supported."
        },
        "address": {
          "type": "string",
          "description": "The address of the filter item."
        }
      }
    },
    "ConnectionMonitorEndpointLocationDetails": {
      "type": "object",
      "description": "Connection monitor endpoint location details only being used for 'AzureArcNetwork' type endpoints, which contains the region details.",
      "properties": {
        "region": {
          "type": "string",
          "description": "Region for connection monitor endpoint."
        }
      }
    },
    "ConnectionMonitorEndpointScope": {
      "type": "object",
      "description": "Describes the connection monitor endpoint scope.",
      "properties": {
        "include": {
          "type": "array",
          "description": "List of items which needs to be included to the endpoint scope.",
          "items": {
            "$ref": "#/definitions/ConnectionMonitorEndpointScopeItem"
          }
        },
        "exclude": {
          "type": "array",
          "description": "List of items which needs to be excluded from the endpoint scope.",
          "items": {
            "$ref": "#/definitions/ConnectionMonitorEndpointScopeItem"
          }
        }
      }
    },
    "ConnectionMonitorEndpointScopeItem": {
      "type": "object",
      "description": "Describes the connection monitor endpoint scope item.",
      "properties": {
        "address": {
          "type": "string",
          "description": "The address of the endpoint item. Supported types are IPv4/IPv6 subnet mask or IPv4/IPv6 IP address."
        }
      }
    },
    "ConnectionMonitorHttpConfiguration": {
      "type": "object",
      "description": "Describes the HTTP configuration.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port to connect to.",
          "minimum": 0,
          "maximum": 65535
        },
        "method": {
          "$ref": "./common.json#/definitions/HTTPConfigurationMethod",
          "description": "The HTTP method to use."
        },
        "path": {
          "type": "string",
          "description": "The path component of the URI. For instance, \"/dir1/dir2\"."
        },
        "requestHeaders": {
          "type": "array",
          "description": "The HTTP headers to transmit with the request.",
          "items": {
            "$ref": "#/definitions/HTTPHeader"
          }
        },
        "validStatusCodeRanges": {
          "type": "array",
          "description": "HTTP status codes to consider successful. For instance, \"2xx,301-304,418\".",
          "items": {
            "type": "string"
          }
        },
        "preferHTTPS": {
          "type": "boolean",
          "description": "Value indicating whether HTTPS is preferred over HTTP in cases where the choice is not explicit."
        }
      }
    },
    "ConnectionMonitorIcmpConfiguration": {
      "type": "object",
      "description": "Describes the ICMP configuration.",
      "properties": {
        "disableTraceRoute": {
          "type": "boolean",
          "description": "Value indicating whether path evaluation with trace route should be disabled."
        }
      }
    },
    "ConnectionMonitorListResult": {
      "type": "object",
      "description": "List of connection monitors.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Information about connection monitors.",
          "items": {
            "$ref": "#/definitions/ConnectionMonitorResult"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of results."
        }
      }
    },
    "ConnectionMonitorOutput": {
      "type": "object",
      "description": "Describes a connection monitor output destination.",
      "properties": {
        "type": {
          "$ref": "./common.json#/definitions/OutputType",
          "description": "Connection monitor output destination type. Currently, only \"Workspace\" is supported."
        },
        "workspaceSettings": {
          "$ref": "#/definitions/ConnectionMonitorWorkspaceSettings",
          "description": "Describes the settings for producing output into a log analytics workspace."
        }
      }
    },
    "ConnectionMonitorParameters": {
      "type": "object",
      "description": "Parameters that define the operation to create a connection monitor.",
      "properties": {
        "source": {
          "$ref": "#/definitions/ConnectionMonitorSource",
          "description": "Describes the source of connection monitor."
        },
        "destination": {
          "$ref": "#/definitions/ConnectionMonitorDestination",
          "description": "Describes the destination of connection monitor."
        },
        "autoStart": {
          "type": "boolean",
          "description": "Determines if the connection monitor will start automatically once created.",
          "default": true
        },
        "monitoringIntervalInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Monitoring interval in seconds.",
          "default": 60,
          "minimum": 30,
          "maximum": 1800
        },
        "endpoints": {
          "type": "array",
          "description": "List of connection monitor endpoints.",
          "items": {
            "$ref": "#/definitions/ConnectionMonitorEndpoint"
          }
        },
        "testConfigurations": {
          "type": "array",
          "description": "List of connection monitor test configurations.",
          "items": {
            "$ref": "#/definitions/ConnectionMonitorTestConfiguration"
          }
        },
        "testGroups": {
          "type": "array",
          "description": "List of connection monitor test groups.",
          "items": {
            "$ref": "#/definitions/ConnectionMonitorTestGroup"
          }
        },
        "outputs": {
          "type": "array",
          "description": "List of connection monitor outputs.",
          "items": {
            "$ref": "#/definitions/ConnectionMonitorOutput"
          }
        },
        "notes": {
          "type": "string",
          "description": "Optional notes to be associated with the connection monitor."
        }
      }
    },
    "ConnectionMonitorResult": {
      "type": "object",
      "description": "Information about the connection monitor.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionMonitorResultProperties",
          "description": "Properties of the connection monitor result.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/TrackedResourcewithOptionalLocation"
        }
      ]
    },
    "ConnectionMonitorResultProperties": {
      "type": "object",
      "description": "Describes the properties of a connection monitor.",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the connection monitor.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the connection monitor was started.",
          "readOnly": true
        },
        "monitoringStatus": {
          "type": "string",
          "description": "The monitoring status of the connection monitor.",
          "readOnly": true
        },
        "connectionMonitorType": {
          "$ref": "./common.json#/definitions/ConnectionMonitorType",
          "description": "Type of connection monitor.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ConnectionMonitorParameters"
        }
      ]
    },
    "ConnectionMonitorSource": {
      "type": "object",
      "description": "Describes the source of connection monitor.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ID of the resource used as the source by connection monitor."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The source port used by connection monitor.",
          "minimum": 0,
          "maximum": 65535
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "ConnectionMonitorSuccessThreshold": {
      "type": "object",
      "description": "Describes the threshold for declaring a test successful.",
      "properties": {
        "checksFailedPercent": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum percentage of failed checks permitted for a test to evaluate as successful."
        },
        "roundTripTimeMs": {
          "type": "number",
          "format": "float",
          "description": "The maximum round-trip time in milliseconds permitted for a test to evaluate as successful."
        }
      }
    },
    "ConnectionMonitorTcpConfiguration": {
      "type": "object",
      "description": "Describes the TCP configuration.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port to connect to.",
          "minimum": 0,
          "maximum": 65535
        },
        "disableTraceRoute": {
          "type": "boolean",
          "description": "Value indicating whether path evaluation with trace route should be disabled."
        },
        "destinationPortBehavior": {
          "$ref": "./common.json#/definitions/DestinationPortBehavior",
          "description": "Destination port behavior."
        }
      }
    },
    "ConnectionMonitorTestConfiguration": {
      "type": "object",
      "description": "Describes a connection monitor test configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the connection monitor test configuration."
        },
        "testFrequencySec": {
          "type": "integer",
          "format": "int32",
          "description": "The frequency of test evaluation, in seconds."
        },
        "protocol": {
          "$ref": "./common.json#/definitions/ConnectionMonitorTestConfigurationProtocol",
          "description": "The protocol to use in test evaluation."
        },
        "preferredIPVersion": {
          "$ref": "./common.json#/definitions/PreferredIPVersion",
          "description": "The preferred IP version to use in test evaluation. The connection monitor may choose to use a different version depending on other parameters."
        },
        "httpConfiguration": {
          "$ref": "#/definitions/ConnectionMonitorHttpConfiguration",
          "description": "The parameters used to perform test evaluation over HTTP."
        },
        "tcpConfiguration": {
          "$ref": "#/definitions/ConnectionMonitorTcpConfiguration",
          "description": "The parameters used to perform test evaluation over TCP."
        },
        "icmpConfiguration": {
          "$ref": "#/definitions/ConnectionMonitorIcmpConfiguration",
          "description": "The parameters used to perform test evaluation over ICMP."
        },
        "successThreshold": {
          "$ref": "#/definitions/ConnectionMonitorSuccessThreshold",
          "description": "The threshold for declaring a test successful."
        }
      },
      "required": [
        "name",
        "protocol"
      ]
    },
    "ConnectionMonitorTestGroup": {
      "type": "object",
      "description": "Describes the connection monitor test group.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the connection monitor test group."
        },
        "disable": {
          "type": "boolean",
          "description": "Value indicating whether test group is disabled."
        },
        "testConfigurations": {
          "type": "array",
          "description": "List of test configuration names.",
          "items": {
            "type": "string"
          }
        },
        "sources": {
          "type": "array",
          "description": "List of source endpoint names.",
          "items": {
            "type": "string"
          }
        },
        "destinations": {
          "type": "array",
          "description": "List of destination endpoint names.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "name",
        "testConfigurations",
        "sources",
        "destinations"
      ]
    },
    "ConnectionMonitorWorkspaceSettings": {
      "type": "object",
      "description": "Describes the settings for producing output into a log analytics workspace.",
      "properties": {
        "workspaceResourceId": {
          "type": "string",
          "description": "Log analytics workspace resource ID."
        }
      }
    },
    "ConnectivityDestination": {
      "type": "object",
      "description": "Parameters that define destination of connection.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ID of the resource to which a connection attempt will be made."
        },
        "address": {
          "type": "string",
          "description": "The IP address or URI the resource to which a connection attempt will be made."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port on which check connectivity will be performed.",
          "minimum": 0,
          "maximum": 65535
        }
      }
    },
    "ConnectivityHop": {
      "type": "object",
      "description": "Information about a hop between the source and the destination.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the hop.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The ID of the hop.",
          "readOnly": true
        },
        "address": {
          "type": "string",
          "description": "The IP address of the hop.",
          "readOnly": true
        },
        "resourceId": {
          "type": "string",
          "description": "The ID of the resource corresponding to this hop.",
          "readOnly": true
        },
        "nextHopIds": {
          "type": "array",
          "description": "List of next hop identifiers.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "previousHopIds": {
          "type": "array",
          "description": "List of previous hop identifiers.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "links": {
          "type": "array",
          "description": "List of hop links.",
          "items": {
            "$ref": "#/definitions/HopLink"
          },
          "readOnly": true
        },
        "previousLinks": {
          "type": "array",
          "description": "List of previous hop links.",
          "items": {
            "$ref": "#/definitions/HopLink"
          },
          "readOnly": true
        },
        "issues": {
          "type": "array",
          "description": "List of issues.",
          "items": {
            "$ref": "#/definitions/ConnectivityIssue"
          },
          "readOnly": true
        }
      }
    },
    "ConnectivityInformation": {
      "type": "object",
      "description": "Information on the connectivity status.",
      "properties": {
        "hops": {
          "type": "array",
          "description": "List of hops between the source and the destination.",
          "items": {
            "$ref": "#/definitions/ConnectivityHop"
          },
          "readOnly": true
        },
        "connectionStatus": {
          "$ref": "./common.json#/definitions/ConnectionStatus",
          "description": "The connection status.",
          "readOnly": true
        },
        "avgLatencyInMs": {
          "type": "integer",
          "format": "int32",
          "description": "Average latency in milliseconds.",
          "readOnly": true
        },
        "minLatencyInMs": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum latency in milliseconds.",
          "readOnly": true
        },
        "maxLatencyInMs": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum latency in milliseconds.",
          "readOnly": true
        },
        "probesSent": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of probes sent.",
          "readOnly": true
        },
        "probesFailed": {
          "type": "integer",
          "format": "int32",
          "description": "Number of failed probes.",
          "readOnly": true
        }
      }
    },
    "ConnectivityIssue": {
      "type": "object",
      "description": "Information about an issue encountered in the process of checking for connectivity.",
      "properties": {
        "origin": {
          "$ref": "./common.json#/definitions/Origin",
          "description": "The origin of the issue.",
          "readOnly": true
        },
        "severity": {
          "$ref": "./common.json#/definitions/Severity",
          "description": "The severity of the issue.",
          "readOnly": true
        },
        "type": {
          "$ref": "./common.json#/definitions/IssueType",
          "description": "The type of issue.",
          "readOnly": true
        },
        "context": {
          "type": "array",
          "description": "Provides additional context on the issue.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "readOnly": true
        }
      }
    },
    "ConnectivityParameters": {
      "type": "object",
      "description": "Parameters that determine how the connectivity check will be performed.",
      "properties": {
        "source": {
          "$ref": "#/definitions/ConnectivitySource",
          "description": "The source of the connection."
        },
        "destination": {
          "$ref": "#/definitions/ConnectivityDestination",
          "description": "The destination of connection."
        },
        "protocol": {
          "$ref": "./common.json#/definitions/Protocol",
          "description": "Network protocol."
        },
        "protocolConfiguration": {
          "$ref": "#/definitions/ProtocolConfiguration",
          "description": "Configuration of the protocol."
        },
        "preferredIPVersion": {
          "$ref": "./common.json#/definitions/IPVersion",
          "description": "Preferred IP version of the connection."
        }
      },
      "required": [
        "source",
        "destination"
      ]
    },
    "ConnectivitySource": {
      "type": "object",
      "description": "Parameters that define the source of the connection.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ID of the resource from which a connectivity check will be initiated."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The source port from which a connectivity check will be performed.",
          "minimum": 0,
          "maximum": 65535
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "ErrorResponse": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "error": {
          "$ref": "./common.json#/definitions/ErrorDetails",
          "title": "Error",
          "description": "The error details object."
        }
      }
    },
    "EvaluatedNetworkSecurityGroup": {
      "type": "object",
      "description": "Results of network security group evaluation.",
      "properties": {
        "networkSecurityGroupId": {
          "type": "string",
          "description": "Network security group ID."
        },
        "appliedTo": {
          "type": "string",
          "description": "Resource ID of nic or subnet to which network security group is applied."
        },
        "matchedRule": {
          "$ref": "#/definitions/MatchedRule",
          "description": "Matched network security rule."
        },
        "rulesEvaluationResult": {
          "type": "array",
          "description": "List of network security rules evaluation results.",
          "items": {
            "$ref": "#/definitions/NetworkSecurityRulesEvaluationResult"
          },
          "readOnly": true
        }
      }
    },
    "FlowLog": {
      "type": "object",
      "description": "A flow log resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FlowLogPropertiesFormat",
          "description": "Properties of the flow log.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "identity": {
          "$ref": "./common.json#/definitions/ManagedServiceIdentity",
          "description": "FlowLog resource Managed Identity"
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ]
    },
    "FlowLogFormatParameters": {
      "type": "object",
      "description": "Parameters that define the flow log format.",
      "properties": {
        "type": {
          "$ref": "./common.json#/definitions/FlowLogFormatType",
          "description": "The file type of flow log."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "The version (revision) of the flow log.",
          "default": 0
        }
      }
    },
    "FlowLogInformation": {
      "type": "object",
      "description": "Information on the configuration of flow log and traffic analytics (optional) .",
      "properties": {
        "targetResourceId": {
          "type": "string",
          "description": "The ID of the resource to configure for flow log and traffic analytics (optional) ."
        },
        "properties": {
          "$ref": "#/definitions/FlowLogProperties",
          "description": "Properties of the flow log.",
          "x-ms-client-flatten": true
        },
        "flowAnalyticsConfiguration": {
          "$ref": "#/definitions/TrafficAnalyticsProperties",
          "description": "Parameters that define the configuration of traffic analytics."
        },
        "identity": {
          "$ref": "./common.json#/definitions/ManagedServiceIdentity",
          "description": "FlowLog resource Managed Identity"
        }
      },
      "required": [
        "targetResourceId",
        "properties"
      ]
    },
    "FlowLogListResult": {
      "type": "object",
      "description": "The response of a FlowLog list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The FlowLog items on this page",
          "items": {
            "$ref": "#/definitions/FlowLog"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FlowLogProperties": {
      "type": "object",
      "description": "Parameters that define the configuration of flow log.",
      "properties": {
        "storageId": {
          "type": "string",
          "description": "ID of the storage account which is used to store the flow log."
        },
        "enabledFilteringCriteria": {
          "type": "string",
          "description": "Optional field to filter network traffic logs based on SrcIP, SrcPort, DstIP, DstPort, Protocol, Encryption, Direction and Action. If not specified, all network traffic will be logged."
        },
        "recordTypes": {
          "type": "string",
          "description": "Optional field to filter network traffic logs based on flow states. Value of this field could be any comma separated combination string of letters B,C,E or D. B represents Begin, when a flow is created. C represents Continue for an ongoing flow generated at every five-minute interval. E represents End, when a flow is terminated. D represents Deny, when a flow is denied. If not specified, all network traffic will be logged."
        },
        "enabled": {
          "type": "boolean",
          "description": "Flag to enable/disable flow logging."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicyParameters",
          "description": "Parameters that define the retention policy for flow log."
        },
        "format": {
          "$ref": "#/definitions/FlowLogFormatParameters",
          "description": "Parameters that define the flow log format."
        }
      },
      "required": [
        "storageId",
        "enabled"
      ]
    },
    "FlowLogPropertiesFormat": {
      "type": "object",
      "description": "Parameters that define the configuration of flow log.",
      "properties": {
        "targetResourceId": {
          "type": "string",
          "description": "ID of network security group to which flow log will be applied."
        },
        "targetResourceGuid": {
          "type": "string",
          "description": "Guid of network security group to which flow log will be applied.",
          "readOnly": true
        },
        "storageId": {
          "type": "string",
          "description": "ID of the storage account which is used to store the flow log."
        },
        "enabledFilteringCriteria": {
          "type": "string",
          "description": "Optional field to filter network traffic logs based on SrcIP, SrcPort, DstIP, DstPort, Protocol, Encryption, Direction and Action. If not specified, all network traffic will be logged."
        },
        "recordTypes": {
          "type": "string",
          "description": "Optional field to filter network traffic logs based on flow states. Value of this field could be any comma separated combination string of letters B,C,E or D. B represents Begin, when a flow is created. C represents Continue for an ongoing flow generated at every five-minute interval. E represents End, when a flow is terminated. D represents Deny, when a flow is denied. If not specified, all network traffic will be logged."
        },
        "enabled": {
          "type": "boolean",
          "description": "Flag to enable/disable flow logging."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicyParameters",
          "description": "Parameters that define the retention policy for flow log."
        },
        "format": {
          "$ref": "#/definitions/FlowLogFormatParameters",
          "description": "Parameters that define the flow log format."
        },
        "flowAnalyticsConfiguration": {
          "$ref": "#/definitions/TrafficAnalyticsProperties",
          "description": "Parameters that define the configuration of traffic analytics."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the flow log.",
          "readOnly": true
        }
      },
      "required": [
        "targetResourceId",
        "storageId"
      ]
    },
    "FlowLogStatusParameters": {
      "type": "object",
      "description": "Parameters that define a resource to query flow log and traffic analytics (optional) status.",
      "properties": {
        "targetResourceId": {
          "type": "string",
          "description": "The target resource where getting the flow log and traffic analytics (optional) status."
        }
      },
      "required": [
        "targetResourceId"
      ]
    },
    "HTTPConfiguration": {
      "type": "object",
      "description": "HTTP configuration of the connectivity check.",
      "properties": {
        "method": {
          "$ref": "./common.json#/definitions/HTTPMethod",
          "description": "HTTP method."
        },
        "headers": {
          "type": "array",
[...]
