{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkManagers"
    },
    {
      "name": "NetworkManagerConnections"
    },
    {
      "name": "ConnectivityConfigurations"
    },
    {
      "name": "NetworkGroups"
    },
    {
      "name": "NetworkManagerRoutingConfigurations"
    },
    {
      "name": "ScopeConnections"
    },
    {
      "name": "SecurityAdminConfigurations"
    },
    {
      "name": "SecurityUserConfigurations"
    },
    {
      "name": "EffectiveConfigurations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkManagerConnections": {
      "get": {
        "operationId": "SubscriptionNetworkManagerConnections_List",
        "tags": [
          "NetworkManagerConnections"
        ],
        "description": "List all network manager connections created by this subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Subscription Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionSubscriptionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkManagerConnections/{networkManagerConnectionName}": {
      "get": {
        "operationId": "SubscriptionNetworkManagerConnections_Get",
        "tags": [
          "NetworkManagerConnections"
        ],
        "description": "Get a specified connection created by this subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Subscription Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionSubscriptionGet.json"
          }
        }
      },
      "put": {
        "operationId": "SubscriptionNetworkManagerConnections_CreateOrUpdate",
        "tags": [
          "NetworkManagerConnections"
        ],
        "description": "Create a network manager connection on this subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Network manager connection to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkManagerConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "201": {
            "description": "Resource 'NetworkManagerConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Subscription Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionSubscriptionPut.json"
          }
        }
      },
      "delete": {
        "operationId": "SubscriptionNetworkManagerConnections_Delete",
        "tags": [
          "NetworkManagerConnections"
        ],
        "description": "Delete specified connection created by this subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Subscription Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionSubscriptionDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkManagers": {
      "get": {
        "operationId": "NetworkManagers_ListBySubscription",
        "tags": [
          "NetworkManagers"
        ],
        "description": "List all network managers in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagersList": {
            "$ref": "./examples/NetworkManagerListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers": {
      "get": {
        "operationId": "NetworkManagers_List",
        "tags": [
          "NetworkManagers"
        ],
        "description": "List network managers in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Network Manager": {
            "$ref": "./examples/NetworkManagerList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}": {
      "get": {
        "operationId": "NetworkManagers_Get",
        "tags": [
          "NetworkManagers"
        ],
        "description": "Gets the specified Network Manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManager"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagersGet": {
            "$ref": "./examples/NetworkManagerGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkManagers_CreateOrUpdate",
        "tags": [
          "NetworkManagers"
        ],
        "description": "Creates or updates a Network Manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to specify which network manager is.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManager"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkManager' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkManager"
            }
          },
          "201": {
            "description": "Resource 'NetworkManager' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkManager"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Put Network Manager": {
            "$ref": "./examples/NetworkManagerPut.json"
          }
        }
      },
      "patch": {
        "operationId": "NetworkManagers_Patch",
        "tags": [
          "NetworkManagers"
        ],
        "description": "Patch NetworkManager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to specify which network manager is.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManager"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagesPatch": {
            "$ref": "./examples/NetworkManagerPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkManagers_Delete",
        "tags": [
          "NetworkManagers"
        ],
        "description": "Deletes a network manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagersDelete": {
            "$ref": "./examples/NetworkManagerDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/commit": {
      "post": {
        "operationId": "NetworkManagerCommits_Post",
        "tags": [
          "NetworkManagers"
        ],
        "description": "Post a Network Manager Commit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to specify which Managed Network commit is.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerCommit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerCommit"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerCommit"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManageCommitPost": {
            "$ref": "./examples/NetworkManagerCommitPost.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/NetworkManagerCommit"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/connectivityConfigurations": {
      "get": {
        "operationId": "ConnectivityConfigurations_List",
        "tags": [
          "ConnectivityConfigurations"
        ],
        "description": "Lists all the network manager connectivity configuration in a specified network manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityConfigurationsList": {
            "$ref": "./examples/NetworkManagerConnectivityConfigurationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/connectivityConfigurations/{configurationName}": {
      "get": {
        "operationId": "ConnectivityConfigurations_Get",
        "tags": [
          "ConnectivityConfigurations"
        ],
        "description": "Gets a Network Connectivity Configuration, specified by the resource group, network manager name, and connectivity Configuration name",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager connectivity configuration.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityConfigurationsGet": {
            "$ref": "./examples/NetworkManagerConnectivityConfigurationGet.json"
          }
        }
      },
      "put": {
        "operationId": "ConnectivityConfigurations_CreateOrUpdate",
        "tags": [
          "ConnectivityConfigurations"
        ],
        "description": "Creates/Updates a new network manager connectivity configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager connectivity configuration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectivityConfiguration",
            "in": "body",
            "description": "Parameters supplied to create/update a network manager connectivity configuration",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectivityConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConnectivityConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectivityConfiguration"
            }
          },
          "201": {
            "description": "Resource 'ConnectivityConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectivityConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityConfigurationsPut": {
            "$ref": "./examples/NetworkManagerConnectivityConfigurationPut.json"
          }
        }
      },
      "delete": {
        "operationId": "ConnectivityConfigurations_Delete",
        "tags": [
          "ConnectivityConfigurations"
        ],
        "description": "Deletes a network manager connectivity configuration, specified by the resource group, network manager name, and connectivity configuration name",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager connectivity configuration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityConfigurationsDelete": {
            "$ref": "./examples/NetworkManagerConnectivityConfigurationDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/listActiveConnectivityConfigurations": {
      "post": {
        "operationId": "ListActiveConnectivityConfigurations",
        "tags": [
          "NetworkManagers"
        ],
        "description": "Lists active connectivity configurations in a network manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Active Configuration Parameter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActiveConfigurationParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveConnectivityConfigurationsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Active Connectivity Configurations": {
            "$ref": "./examples/NetworkManagerActiveConnectivityConfigurationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/listActiveSecurityAdminRules": {
      "post": {
        "operationId": "ListActiveSecurityAdminRules",
        "tags": [
          "NetworkManagers"
        ],
        "description": "Lists active security admin rules in a network manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Active Configuration Parameter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActiveConfigurationParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveSecurityAdminRulesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Active Security Admin Rules": {
            "$ref": "./examples/NetworkManagerActiveSecurityAdminRulesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/listDeploymentStatus": {
      "post": {
        "operationId": "NetworkManagerDeploymentStatus_List",
        "tags": [
          "NetworkManagers"
        ],
        "description": "Post to List of Network Manager Deployment Status.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to specify which Managed Network deployment status is.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerDeploymentStatusParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerDeploymentStatusListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagerDeploymentStatusList": {
            "$ref": "./examples/NetworkManagerDeploymentStatusList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/networkGroups": {
      "get": {
        "operationId": "NetworkGroups_List",
        "tags": [
          "NetworkGroups"
        ],
        "description": "Lists the specified network group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkGroupsList": {
            "$ref": "./examples/NetworkManagerGroupList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/networkGroups/{networkGroupName}": {
      "get": {
        "operationId": "NetworkGroups_Get",
        "tags": [
          "NetworkGroups"
        ],
        "description": "Gets the specified network group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "networkGroupName",
            "in": "path",
            "description": "The name of the network group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkGroupsGet": {
            "$ref": "./examples/NetworkManagerGroupGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkGroups_CreateOrUpdate",
        "tags": [
          "NetworkGroups"
        ],
        "description": "Creates or updates a network group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "networkGroupName",
            "in": "path",
            "description": "The name of the network group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the specify which network group need to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NetworkGroup"
            },
            "headers": {
              "ETag": {
                "type": "string",
                "description": "The current entity tag."
              }
            }
          },
          "201": {
            "description": "The request has succeeded and a new resource has been created as a result.",
            "schema": {
              "$ref": "#/definitions/NetworkGroup"
            },
            "headers": {
              "ETag": {
                "type": "string",
                "description": "The current entity tag."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkGroupsPut": {
            "$ref": "./examples/NetworkManagerGroupPut.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkGroups_Delete",
        "tags": [
          "NetworkGroups"
        ],
        "description": "Deletes a network group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "networkGroupName",
            "in": "path",
            "description": "The name of the network group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkGroupsDelete": {
            "$ref": "./examples/NetworkManagerGroupDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/routingConfigurations": {
      "get": {
        "operationId": "NetworkManagerRoutingConfigurations_List",
        "tags": [
          "NetworkManagerRoutingConfigurations"
        ],
        "description": "Lists all the network manager routing configurations in a network manager, in a paginated format.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerRoutingConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List routing configurations in a network manager": {
            "$ref": "./examples/NetworkManagerRoutingConfigurationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/routingConfigurations/{configurationName}": {
      "get": {
        "operationId": "NetworkManagerRoutingConfigurations_Get",
        "tags": [
          "NetworkManagerRoutingConfigurations"
        ],
        "description": "Retrieves a network manager routing configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager Routing Configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerRoutingConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get routing configurations": {
            "$ref": "./examples/NetworkManagerRoutingConfigurationGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkManagerRoutingConfigurations_CreateOrUpdate",
        "tags": [
          "NetworkManagerRoutingConfigurations"
        ],
        "description": "Creates or updates a network manager routing configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager Routing Configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]*$"
          },
          {
            "name": "routingConfiguration",
            "in": "body",
            "description": "The routing configuration to create or update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerRoutingConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkManagerRoutingConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkManagerRoutingConfiguration"
            }
          },
          "201": {
            "description": "Resource 'NetworkManagerRoutingConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkManagerRoutingConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create network manager routing configuration": {
            "$ref": "./examples/NetworkManagerRoutingConfigurationPut.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkManagerRoutingConfigurations_Delete",
        "tags": [
          "NetworkManagerRoutingConfigurations"
        ],
        "description": "Deletes a network manager routing configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager Routing Configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]*$"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete network manager routing configuration": {
            "$ref": "./examples/NetworkManagerRoutingConfigurationDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/scopeConnections": {
      "get": {
        "operationId": "ScopeConnections_List",
        "tags": [
          "ScopeConnections"
        ],
        "description": "List all scope connections created by this network manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScopeConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Network Manager Scope Connection": {
            "$ref": "./examples/NetworkManagerScopeConnectionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/scopeConnections/{scopeConnectionName}": {
      "get": {
        "operationId": "ScopeConnections_Get",
        "tags": [
          "ScopeConnections"
        ],
        "description": "Get specified scope connection created by this Network Manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "scopeConnectionName",
            "in": "path",
            "description": "Name for the cross-tenant connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScopeConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Network Manager Scope Connection": {
            "$ref": "./examples/NetworkManagerScopeConnectionGet.json"
          }
        }
      },
      "put": {
        "operationId": "ScopeConnections_CreateOrUpdate",
        "tags": [
          "ScopeConnections"
        ],
        "description": "Creates or updates scope connection from Network Manager",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "scopeConnectionName",
            "in": "path",
            "description": "Name for the cross-tenant connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Scope connection to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScopeConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ScopeConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ScopeConnection"
            }
          },
          "201": {
            "description": "Resource 'ScopeConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ScopeConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Network Manager Scope Connection": {
            "$ref": "./examples/NetworkManagerScopeConnectionPut.json"
          }
        }
      },
      "delete": {
        "operationId": "ScopeConnections_Delete",
        "tags": [
          "ScopeConnections"
        ],
        "description": "Delete the pending scope connection created by this network manager.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "scopeConnectionName",
            "in": "path",
            "description": "Name for the cross-tenant connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Network Manager Scope Connection": {
            "$ref": "./examples/NetworkManagerScopeConnectionDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityAdminConfigurations": {
      "get": {
        "operationId": "SecurityAdminConfigurations_List",
        "tags": [
          "SecurityAdminConfigurations"
        ],
        "description": "Lists all the network manager security admin configurations in a network manager, in a paginated format.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityAdminConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CommonErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List security admin configurations in a network manager": {
            "$ref": "./examples/NetworkManagerSecurityAdminConfigurationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityAdminConfigurations/{configurationName}": {
      "get": {
        "operationId": "SecurityAdminConfigurations_Get",
        "tags": [
          "SecurityAdminConfigurations"
        ],
        "description": "Retrieves a network manager security admin configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager Security Configuration.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityAdminConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CommonErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get security admin configurations": {
            "$ref": "./examples/NetworkManagerSecurityAdminConfigurationGet.json"
          }
        }
      },
      "put": {
        "operationId": "SecurityAdminConfigurations_CreateOrUpdate",
        "tags": [
          "SecurityAdminConfigurations"
        ],
        "description": "Creates or updates a network manager security admin configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager Security Configuration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityAdminConfiguration",
            "in": "body",
            "description": "The security admin configuration to create or update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityAdminConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SecurityAdminConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityAdminConfiguration"
            }
          },
          "201": {
            "description": "Resource 'SecurityAdminConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityAdminConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CommonErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create manual-mode security admin configuration": {
            "$ref": "./examples/NetworkManagerSecurityAdminConfigurationPut_ManualAggregation.json"
          },
          "Create network manager security admin configuration": {
            "$ref": "./examples/NetworkManagerSecurityAdminConfigurationPut.json"
          }
        }
      },
      "delete": {
        "operationId": "SecurityAdminConfigurations_Delete",
        "tags": [
          "SecurityAdminConfigurations"
        ],
        "description": "Deletes a network manager security admin configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager Security Configuration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CommonErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete network manager security admin configuration": {
            "$ref": "./examples/NetworkManagerSecurityAdminConfigurationDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityUserConfigurations": {
      "get": {
        "operationId": "SecurityUserConfigurations_List",
        "tags": [
          "SecurityUserConfigurations"
        ],
        "description": "Lists all the network manager security user configurations in a network manager, in a paginated format.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityUserConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security user configurations in a network manager": {
            "$ref": "./examples/NetworkManagerSecurityUserConfigurationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityUserConfigurations/{configurationName}": {
      "get": {
        "operationId": "SecurityUserConfigurations_Get",
        "tags": [
          "SecurityUserConfigurations"
        ],
        "description": "Retrieves a network manager security user configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager Security Configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityUserConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security user configurations": {
            "$ref": "./examples/NetworkManagerSecurityUserConfigurationGet.json"
          }
        }
      },
      "put": {
        "operationId": "SecurityUserConfigurations_CreateOrUpdate",
        "tags": [
          "SecurityUserConfigurations"
        ],
        "description": "Creates or updates a network manager security user configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager Security Configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]*$"
          },
          {
            "name": "securityUserConfiguration",
            "in": "body",
            "description": "The security user configuration to create or update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityUserConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SecurityUserConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityUserConfiguration"
            }
          },
          "201": {
            "description": "Resource 'SecurityUserConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityUserConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create network manager security user configuration": {
            "$ref": "./examples/NetworkManagerSecurityUserConfigurationPut.json"
          }
        }
      },
      "delete": {
        "operationId": "SecurityUserConfigurations_Delete",
        "tags": [
          "SecurityUserConfigurations"
        ],
        "description": "Deletes a network manager security user configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkManagerName",
            "in": "path",
            "description": "The name of the network manager.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the network manager Security Configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]*$"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete network manager security user configuration": {
            "$ref": "./examples/NetworkManagerSecurityUserConfigurationDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/listNetworkManagerEffectiveConnectivityConfigurations": {
      "post": {
        "operationId": "ListNetworkManagerEffectiveConnectivityConfigurations",
        "tags": [
          "EffectiveConfigurations"
        ],
        "description": "List all effective connectivity configurations applied on a virtual network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkName",
            "in": "path",
            "description": "The name of the virtual network.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to list correct page.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryRequestOptions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerEffectiveConnectivityConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List effective connectivity configuration": {
            "$ref": "./examples/NetworkManagerEffectiveConnectivityConfigurationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/listNetworkManagerEffectiveSecurityAdminRules": {
      "post": {
        "operationId": "ListNetworkManagerEffectiveSecurityAdminRules",
        "tags": [
          "EffectiveConfigurations"
        ],
        "description": "List all effective security admin rules applied on a virtual network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkName",
            "in": "path",
            "description": "The name of the virtual network.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to list correct page.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryRequestOptions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerEffectiveSecurityAdminRulesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List effective security admin rules": {
            "$ref": "./examples/NetworkManagerEffectiveSecurityAdminRulesList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActiveBaseSecurityAdminRule": {
      "type": "object",
      "description": "Network base admin rule.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "commitTime": {
          "type": "string",
          "format": "date-time",
          "description": "Deployment time string."
        },
        "region": {
          "type": "string",
          "description": "Deployment region."
        },
        "configurationDescription": {
          "type": "string",
          "description": "A description of the security admin configuration."
        },
        "ruleCollectionDescription": {
          "type": "string",
          "description": "A description of the rule collection."
        },
        "ruleCollectionAppliesToGroups": {
          "type": "array",
          "description": "Groups for rule collection",
          "items": {
            "$ref": "#/definitions/NetworkManagerSecurityGroupItem"
          },
          "x-ms-identifiers": []
        },
        "ruleGroups": {
          "type": "array",
          "description": "Effective configuration groups.",
          "items": {
            "$ref": "#/definitions/ConfigurationGroup"
          }
        },
        "kind": {
          "$ref": "./common.json/definitions/EffectiveAdminRuleKind",
          "description": "Whether the rule is custom or default."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "ActiveConfigurationParameter": {
      "type": "object",
      "description": "Effective Virtual Networks Parameter.",
      "properties": {
        "regions": {
          "type": "array",
          "description": "List of regions.",
          "items": {
            "type": "string"
          }
        },
        "skipToken": {
          "type": "string",
          "description": "When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data."
        }
      }
    },
    "ActiveConnectivityConfiguration": {
      "type": "object",
      "description": "Active connectivity configuration.",
      "properties": {
        "commitTime": {
          "type": "string",
          "format": "date-time",
          "description": "Deployment time string."
        },
        "region": {
          "type": "string",
          "description": "Deployment region."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveConnectivityConfiguration"
        }
      ]
    },
    "ActiveConnectivityConfigurationsListResult": {
      "type": "object",
      "description": "Result of the request to list active connectivity configurations. It contains a list of active connectivity configurations and a skiptoken to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Gets a page of active connectivity configurations.",
          "items": {
            "$ref": "#/definitions/ActiveConnectivityConfiguration"
          }
        },
        "skipToken": {
          "type": "string",
          "description": "When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data."
        }
      }
    },
    "ActiveDefaultSecurityAdminRule": {
      "type": "object",
      "description": "Network default admin rule.",
      "properties": {
[...]
