{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "VirtualNetworkGateways"
    },
    {
      "name": "VirtualNetworkTaps"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworkTaps": {
      "get": {
        "operationId": "VirtualNetworkTaps_ListAll",
        "tags": [
          "VirtualNetworkTaps"
        ],
        "description": "Gets all the VirtualNetworkTaps in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkTapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all virtual network taps": {
            "$ref": "./examples/VirtualNetworkTapListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways": {
      "get": {
        "operationId": "VirtualNetworkGateways_List",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Gets all virtual network gateways by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVirtualNetworkGatewaysinResourceGroup": {
            "$ref": "./examples/VirtualNetworkGatewayList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}": {
      "get": {
        "operationId": "VirtualNetworkGateways_Get",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Gets the specified virtual network gateway by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGateway": {
            "$ref": "./examples/VirtualNetworkGatewayGet.json"
          },
          "GetVirtualNetworkScalableGateway": {
            "$ref": "./examples/VirtualNetworkScalableGatewayGet.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworkGateways_CreateOrUpdate",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Creates or updates a virtual network gateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to create or update virtual network gateway operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetworkGateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGateway"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetworkGateway' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGateway"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "UpdateVirtualNetworkGateway": {
            "$ref": "./examples/VirtualNetworkGatewayUpdate.json"
          },
          "UpdateVirtualNetworkScalableGateway": {
            "$ref": "./examples/VirtualNetworkScalableGatewayUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualNetworkGateway"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualNetworkGateways_UpdateTags",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Updates a virtual network gateway tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update virtual network gateway tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGateway"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "UpdateVirtualNetworkGatewayTags": {
            "$ref": "./examples/VirtualNetworkGatewayUpdateTags.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualNetworkGateway"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualNetworkGateways_Delete",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Deletes the specified virtual network gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeleteVirtualNetworkGateway": {
            "$ref": "./examples/VirtualNetworkGatewayDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/abortMigration": {
      "post": {
        "operationId": "VirtualNetworkGateways_InvokeAbortMigration",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Trigger abort migration for the virtual network gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworkGatewayAbortMigration": {
            "$ref": "./examples/VirtualNetworkGatewayAbortMigration.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/commitMigration": {
      "post": {
        "operationId": "VirtualNetworkGateways_InvokeCommitMigration",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Trigger commit migration for the virtual network gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworkGatewayCommitMigration": {
            "$ref": "./examples/VirtualNetworkGatewayCommitMigration.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/connections": {
      "get": {
        "operationId": "VirtualNetworkGateways_ListConnections",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Gets all the connections in a virtual network gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/VirtualNetworkGatewayListConnectionsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworkGatewaysListConnections": {
            "$ref": "./examples/VirtualNetworkGatewaysListConnections.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/disconnectVirtualNetworkGatewayVpnConnections": {
      "post": {
        "operationId": "VirtualNetworkGateways_DisconnectVirtualNetworkGatewayVpnConnections",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Disconnect vpn connections of virtual network gateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "The parameters are supplied to disconnect vpn connections.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/P2SVpnConnectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Disconnect VpnConnections from Virtual Network Gateway": {
            "$ref": "./examples/VirtualNetworkGatewaysDisconnectP2sVpnConnections.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/executeMigration": {
      "post": {
        "operationId": "VirtualNetworkGateways_InvokeExecuteMigration",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Trigger execute migration for the virtual network gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworkGatewayExecuteMigration": {
            "$ref": "./examples/VirtualNetworkGatewayExecuteMigration.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage": {
      "post": {
        "operationId": "VirtualNetworkGateways_Generatevpnclientpackage",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Generates VPN client package for P2S client of the virtual network gateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the generate virtual network gateway VPN client package operation.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/VpnClientParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/stringApplicationJson"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GenerateVPNClientPackage": {
            "$ref": "./examples/VirtualNetworkGatewayGenerateVpnClientPackage.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnprofile": {
      "post": {
        "operationId": "VirtualNetworkGateways_GenerateVpnProfile",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Generates VPN profile for P2S client of the virtual network gateway in the specified resource group. Used for IKEV2 and radius based authentication.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the generate virtual network gateway VPN client package operation.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/VpnClientParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/stringApplicationJson"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GenerateVirtualNetworkGatewayVPNProfile": {
            "$ref": "./examples/VirtualNetworkGatewayGenerateVpnProfile.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getAdvertisedRoutes": {
      "post": {
        "operationId": "VirtualNetworkGateways_GetAdvertisedRoutes",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "This operation retrieves a list of routes the virtual network gateway is advertising to the specified peer.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "peer",
            "in": "query",
            "description": "The IP address of the peer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/GatewayRouteListResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGatewayAdvertisedRoutes": {
            "$ref": "./examples/VirtualNetworkGatewayGetAdvertisedRoutes.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json/definitions/GatewayRouteListResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getBgpPeerStatus": {
      "post": {
        "operationId": "VirtualNetworkGateways_GetBgpPeerStatus",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "The GetBgpPeerStatus operation retrieves the status of all BGP peers.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "peer",
            "in": "query",
            "description": "The IP address of the peer to retrieve the status of.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/BgpPeerStatusListResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGatewayBGPPeerStatus": {
            "$ref": "./examples/VirtualNetworkGatewayGetBGPPeerStatus.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json/definitions/BgpPeerStatusListResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getFailoverAllTestsDetails": {
      "post": {
        "operationId": "VirtualNetworkGateways_GetFailoverAllTestDetails",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "This operation retrieves the details of all the failover tests performed on the gateway for different peering locations",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of failover test",
            "required": true,
            "type": "string"
          },
          {
            "name": "fetchLatest",
            "in": "query",
            "description": "Fetch only the latest tests for each peering location",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "./common.json/definitions/ExpressRouteFailoverTestDetails"
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworkGatewayGetFailoverAllTestsDetails": {
            "$ref": "./examples/VirtualNetworkGatewayGetFailoverAllTestsDetails.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getFailoverSingleTestDetails": {
      "post": {
        "operationId": "VirtualNetworkGateways_GetFailoverSingleTestDetails",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "This operation retrieves the details of a particular failover test performed on the gateway based on the test Guid",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "peeringLocation",
            "in": "query",
            "description": "Peering location of the test",
            "required": true,
            "type": "string"
          },
          {
            "name": "failoverTestId",
            "in": "query",
            "description": "The unique Guid value which identifies the test",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "./common.json/definitions/ExpressRouteFailoverSingleTestDetails"
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworkGatewayGetFailoverSingleTestDetails": {
            "$ref": "./examples/VirtualNetworkGatewayGetFailoverSingleTestDetails.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getLearnedRoutes": {
      "post": {
        "operationId": "VirtualNetworkGateways_GetLearnedRoutes",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "This operation retrieves a list of routes the virtual network gateway has learned, including routes learned from BGP peers.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/GatewayRouteListResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGatewayLearnedRoutes": {
            "$ref": "./examples/VirtualNetworkGatewayLearnedRoutes.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json/definitions/GatewayRouteListResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getResiliencyInformation": {
      "post": {
        "operationId": "VirtualNetworkGateways_GetResiliencyInformation",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "This operation retrieves the resiliency information for an Express Route Gateway, including the gateway's current resiliency score and recommendations to further improve the score",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "attemptRefresh",
            "in": "query",
            "description": "Attempt to recalculate the Resiliency Information for the gateway",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/GatewayResiliencyInformation"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGatewayResiliencyInformation": {
            "$ref": "./examples/VirtualNetworkGatewayGetResiliencyInformation.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json/definitions/GatewayResiliencyInformation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getRoutesInformation": {
      "post": {
        "operationId": "VirtualNetworkGateways_GetRoutesInformation",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "This operation retrieves the route set information for an Express Route Gateway based on their resiliency",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "attemptRefresh",
            "in": "query",
            "description": "Attempt to recalculate the Route Sets Information for the gateway",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/GatewayRouteSetsInformation"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGatewayRoutesInformation": {
            "$ref": "./examples/VirtualNetworkGatewayGetRoutesInformation.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json/definitions/GatewayRouteSetsInformation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getVpnClientConnectionHealth": {
      "post": {
        "operationId": "VirtualNetworkGateways_GetVpnclientConnectionHealth",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Get VPN client connection health detail per P2S client connection of the virtual network gateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/VpnClientConnectionHealthDetailListResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGatewayVpnclientConnectionHealth": {
            "$ref": "./examples/VirtualNetworkGatewayGetVpnclientConnectionHealth.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json/definitions/VpnClientConnectionHealthDetailListResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getvpnclientipsecparameters": {
      "post": {
        "operationId": "VirtualNetworkGateways_GetVpnclientIpsecParameters",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "The Get VpnclientIpsecParameters operation retrieves information about the vpnclient ipsec policy for P2S client of virtual network gateway in the specified resource group through Network resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "./common.json/definitions/VpnClientIPsecParameters"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get VirtualNetworkGateway VpnClientIpsecParameters": {
            "$ref": "./examples/VirtualNetworkGatewayGetVpnClientIpsecParameters.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json/definitions/VpnClientIPsecParameters"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getvpnprofilepackageurl": {
      "post": {
        "operationId": "VirtualNetworkGateways_GetVpnProfilePackageUrl",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Gets pre-generated VPN profile for P2S client of the virtual network gateway in the specified resource group. The profile needs to be generated first using generateVpnProfile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/stringApplicationJson"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualNetworkGatewayVPNProfilePackageURL": {
            "$ref": "./examples/VirtualNetworkGatewayGetVpnProfilePackageUrl.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/listRadiusSecrets": {
      "post": {
        "operationId": "VirtualNetworkGateways_ListRadiusSecrets",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "List all Radius servers with respective radius secrets from virtual network gateway VpnClientConfiguration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/RadiusAuthServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListAllVirtualNetworkGatewayRadiusServerSecrets": {
            "$ref": "./examples/AllVirtualNetworkGatewayRadiusServerSecretsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/prepareMigration": {
      "post": {
        "operationId": "VirtualNetworkGateways_InvokePrepareMigration",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Trigger prepare migration for the virtual network gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "migrationParams",
            "in": "body",
            "description": "Parameters supplied to the Begin Prepare migration on basic vpn gateway through Network resource provider.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/VirtualNetworkGatewayMigrationParameters"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworkGatewayPrepareMigration": {
            "$ref": "./examples/VirtualNetworkGatewayPrepareMigration.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset": {
      "post": {
        "operationId": "VirtualNetworkGateways_Reset",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Resets the primary of the virtual network gateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "gatewayVip",
            "in": "query",
            "description": "Virtual network gateway vip address supplied to the begin reset of the active-active feature enabled gateway.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGateway"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ResetVirtualNetworkGateway": {
            "$ref": "./examples/VirtualNetworkGatewayReset.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/VirtualNetworkGateway"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/resetvpnclientsharedkey": {
      "post": {
        "operationId": "VirtualNetworkGateways_ResetVpnClientSharedKey",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Resets the VPN client shared key of the virtual network gateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ResetVpnClientSharedKey": {
            "$ref": "./examples/VirtualNetworkGatewayResetVpnClientSharedKey.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/setvpnclientipsecparameters": {
      "post": {
        "operationId": "VirtualNetworkGateways_SetVpnclientIpsecParameters",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "The Set VpnclientIpsecParameters operation sets the vpnclient ipsec policy for P2S client of virtual network gateway in the specified resource group through Network resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vpnclientIpsecParams",
            "in": "body",
            "description": "Parameters supplied to the Begin Set vpnclient ipsec parameters of Virtual Network Gateway P2S client operation through Network resource provider.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/VpnClientIPsecParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/VpnClientIPsecParameters"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Set VirtualNetworkGateway VpnClientIpsecParameters": {
            "$ref": "./examples/VirtualNetworkGatewaySetVpnClientIpsecParameters.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json/definitions/VpnClientIPsecParameters"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/startPacketCapture": {
      "post": {
        "operationId": "VirtualNetworkGateways_StartPacketCapture",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Starts packet capture on virtual network gateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Virtual network gateway packet capture parameters supplied to start packet capture on gateway.",
            "required": false,
            "schema": {
              "$ref": "./common.json/definitions/VpnPacketCaptureStartParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/stringApplicationJson"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Start packet capture on virtual network gateway with filter": {
            "$ref": "./examples/VirtualNetworkGatewayStartPacketCaptureFilterData.json"
          },
          "Start packet capture on virtual network gateway without filter": {
            "$ref": "./examples/VirtualNetworkGatewayStartPacketCapture.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/startSiteFailoverTest": {
      "post": {
        "operationId": "VirtualNetworkGateways_StartExpressRouteSiteFailoverSimulation",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "This operation starts failover simulation on the gateway for the specified peering location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "peeringLocation",
            "in": "query",
            "description": "Peering location of the test",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/stringApplicationJson"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworkGatewayStartSiteFailoverSimulation": {
            "$ref": "./examples/VirtualNetworkGatewayStartSiteFailoverSimulation.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/stopPacketCapture": {
      "post": {
        "operationId": "VirtualNetworkGateways_StopPacketCapture",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Stops packet capture on virtual network gateway in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Virtual network gateway packet capture parameters supplied to stop packet capture on gateway.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/VpnPacketCaptureStopParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/stringApplicationJson"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Stop packet capture on virtual network gateway": {
            "$ref": "./examples/VirtualNetworkGatewayStopPacketCapture.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/stopSiteFailoverTest": {
      "post": {
        "operationId": "VirtualNetworkGateways_StopExpressRouteSiteFailoverSimulation",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "This operation stops failover simulation on the gateway for the specified peering location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "stopParameters",
            "in": "body",
            "description": "Virtual network gateway stop simulation parameters supplied to stop failover simulation on gateway.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/ExpressRouteFailoverStopApiParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/stringApplicationJson"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworkGatewayStopSiteFailoverSimulation": {
            "$ref": "./examples/VirtualNetworkGatewayStopSiteFailoverSimulation.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/supportedvpndevices": {
      "post": {
        "operationId": "VirtualNetworkGateways_SupportedVpnDevices",
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Gets a xml format representation for supported vpn devices.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkGatewayName",
            "in": "path",
            "description": "The name of the virtual network gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json/definitions/stringApplicationJson"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVirtualNetworkGatewaySupportedVPNDevices": {
            "$ref": "./examples/VirtualNetworkGatewaySupportedVpnDevice.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkTaps": {
      "get": {
        "operationId": "VirtualNetworkTaps_ListByResourceGroup",
        "tags": [
          "VirtualNetworkTaps"
        ],
        "description": "Gets all the VirtualNetworkTaps in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkTapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual network taps in resource group": {
            "$ref": "./examples/VirtualNetworkTapList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkTaps/{tapName}": {
      "get": {
        "operationId": "VirtualNetworkTaps_Get",
        "tags": [
          "VirtualNetworkTaps"
        ],
        "description": "Gets information about the specified virtual network tap.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "tapName",
            "in": "path",
            "description": "The name of virtual network tap.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkTap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Virtual Network Tap": {
            "$ref": "./examples/VirtualNetworkTapGet.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworkTaps_CreateOrUpdate",
        "tags": [
          "VirtualNetworkTaps"
        ],
        "description": "Creates or updates a Virtual Network Tap.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "tapName",
            "in": "path",
            "description": "The name of virtual network tap.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update virtual network tap operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkTap"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetworkTap' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkTap"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetworkTap' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkTap"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create Virtual Network Tap": {
            "$ref": "./examples/VirtualNetworkTapCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualNetworkTap"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualNetworkTaps_UpdateTags",
        "tags": [
          "VirtualNetworkTaps"
        ],
        "description": "Updates an VirtualNetworkTap tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "tapName",
            "in": "path",
            "description": "The name of virtual network tap.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tapParameters",
            "in": "body",
            "description": "Parameters supplied to update VirtualNetworkTap tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkTap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update virtual network tap tags": {
            "$ref": "./examples/VirtualNetworkTapUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "VirtualNetworkTaps_Delete",
        "tags": [
          "VirtualNetworkTaps"
        ],
        "description": "Deletes the specified virtual network tap.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "tapName",
            "in": "path",
            "description": "The name of virtual network tap.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Virtual Network Tap resource": {
            "$ref": "./examples/VirtualNetworkTapDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "VirtualNetworkGateway": {
      "type": "object",
      "description": "A common class for general resource information.",
      "properties": {
        "properties": {
          "$ref": "./common.json/definitions/VirtualNetworkGatewayPropertiesFormat",
          "description": "Properties of the virtual network gateway.",
          "x-ms-client-flatten": true
        },
        "extendedLocation": {
          "$ref": "./common.json/definitions/ExtendedLocation",
          "description": "The extended location of type local virtual network gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "identity": {
          "$ref": "./common.json/definitions/ManagedServiceIdentity",
          "description": "The identity of the virtual network gateway, if configured."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "./common.json/definitions/Resource"
        }
      ]
    },
    "VirtualNetworkGatewayListResult": {
      "type": "object",
      "description": "The response of a VirtualNetworkGateway list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VirtualNetworkGateway items on this page",
          "items": {
            "$ref": "#/definitions/VirtualNetworkGateway"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VirtualNetworkTap": {
      "type": "object",
      "description": "Virtual Network Tap resource.",
      "properties": {
        "properties": {
          "$ref": "./common.json/definitions/VirtualNetworkTapPropertiesFormat",
          "description": "Virtual Network Tap Properties.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json/definitions/Resource"
        }
      ]
    },
    "VirtualNetworkTapListResult": {
      "type": "object",
      "description": "The response of a VirtualNetworkTap list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VirtualNetworkTap items on this page",
          "items": {
            "$ref": "#/definitions/VirtualNetworkTap"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {}
}
