{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkSecurityPerimeters"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityPerimeters": {
      "get": {
        "operationId": "NetworkSecurityPerimeters_ListBySubscription",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "List all network security perimeters in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimetersList": {
            "$ref": "./examples/NetworkSecurityPerimeterListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters": {
      "get": {
        "operationId": "NetworkSecurityPerimeters_List",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "List network security perimeters in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeters_Get",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Gets the specified network security perimeter by the name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterGet": {
            "$ref": "./examples/NetworkSecurityPerimeterGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkSecurityPerimeters_CreateOrUpdate",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Creates or updates a Network Security Perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter supplied to create or update the network security perimeter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkSecurityPerimeter' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "201": {
            "description": "Resource 'NetworkSecurityPerimeter' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Put Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterPut.json"
          }
        }
      },
      "patch": {
        "operationId": "NetworkSecurityPerimeters_Patch",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Patch Tags for a Network Security Perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter supplied to the network security perimeter.",
            "required": true,
            "schema": {
              "$ref": "./common.json/definitions/UpdateTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Patch Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkSecurityPerimeters_Delete",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Deletes a network security perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Deletes the resource even if it contains any child associations.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterDelete": {
            "$ref": "./examples/NetworkSecurityPerimeterDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "NetworkSecurityPerimeter": {
      "type": "object",
      "description": "The Network Security Perimeter resource",
      "properties": {
        "properties": {
          "$ref": "./common.json/definitions/NetworkSecurityPerimeterProperties",
          "description": "The network security perimeter properties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json/definitions/CommonTrackedResource"
        }
      ]
    },
    "NetworkSecurityPerimeterListResult": {
      "type": "object",
      "description": "The response of a NetworkSecurityPerimeter list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NetworkSecurityPerimeter items on this page",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeter"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {}
}
