{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ApplicationGateways"
    },
    {
      "name": "ApplicationGatewayAvailableSslOptionsOperationGroup"
    },
    {
      "name": "ApplicationGatewayPrivateEndpointConnections"
    },
    {
      "name": "ApplicationGatewayWafDynamicManifestResults"
    },
    {
      "name": "ApplicationSecurityGroups"
    },
    {
      "name": "AzureFirewalls"
    },
    {
      "name": "AzureWebCategories"
    },
    {
      "name": "BastionHosts"
    },
    {
      "name": "ExpressRouteProviderPorts"
    },
    {
      "name": "NetworkInterfaces"
    },
    {
      "name": "NetworkInterfaceOperationGroup"
    },
    {
      "name": "PublicIPAddresses"
    },
    {
      "name": "PublicIPAddressOperationGroup"
    },
    {
      "name": "SwapResources"
    },
    {
      "name": "CustomIpPrefixes"
    },
    {
      "name": "DdosCustomPolicies"
    },
    {
      "name": "DdosProtectionPlans"
    },
    {
      "name": "DscpConfigurations"
    },
    {
      "name": "ExpressRouteCircuitAuthorizations"
    },
    {
      "name": "ExpressRouteCircuits"
    },
    {
      "name": "ExpressRouteCircuitPeerings"
    },
    {
      "name": "ExpressRouteCircuitConnections"
    },
    {
      "name": "PeerExpressRouteCircuitConnections"
    },
    {
      "name": "ExpressRouteCrossConnections"
    },
    {
      "name": "ExpressRoutePortsLocations"
    },
    {
      "name": "ExpressRoutePorts"
    },
    {
      "name": "ExpressRoutePortAuthorizations"
    },
    {
      "name": "FirewallPolicies"
    },
    {
      "name": "FirewallPolicyRuleCollectionGroups"
    },
    {
      "name": "FirewallPolicyIdpsSignaturesOverrides"
    },
    {
      "name": "FirewallPolicyDrafts"
    },
    {
      "name": "FirewallPolicyRuleCollectionGroupDrafts"
    },
    {
      "name": "IpamPools"
    },
    {
      "name": "NetworkManagers"
    },
    {
      "name": "StaticCidrs"
    },
    {
      "name": "IpAllocations"
    },
    {
      "name": "IpGroups"
    },
    {
      "name": "LoadBalancers"
    },
    {
      "name": "BackendAddressPools"
    },
    {
      "name": "FrontendIPConfigurations"
    },
    {
      "name": "InboundNatRules"
    },
    {
      "name": "LoadBalancingRules"
    },
    {
      "name": "OutboundRules"
    },
    {
      "name": "Probes"
    },
    {
      "name": "NatGateways"
    },
    {
      "name": "NetworkInterfaceIPConfigurations"
    },
    {
      "name": "NetworkInterfaceTapConfigurations"
    },
    {
      "name": "NetworkManagerConnections"
    },
    {
      "name": "ManagementGroupNetworkManagerConnections"
    },
    {
      "name": "ConnectivityConfigurations"
    },
    {
      "name": "NetworkGroups"
    },
    {
      "name": "StaticMembers"
    },
    {
      "name": "NetworkManagerRoutingConfigurations"
    },
    {
      "name": "RoutingRuleCollections"
    },
    {
      "name": "RoutingRules"
    },
    {
      "name": "ScopeConnections"
    },
    {
      "name": "SecurityAdminConfigurations"
    },
    {
      "name": "AdminRuleCollections"
    },
    {
      "name": "BaseAdminRules"
    },
    {
      "name": "SecurityUserConfigurations"
    },
    {
      "name": "SecurityUserRuleCollections"
    },
    {
      "name": "SecurityUserRules"
    },
    {
      "name": "NetworkProfiles"
    },
    {
      "name": "NetworkSecurityGroups"
    },
    {
      "name": "SecurityRules"
    },
    {
      "name": "DefaultSecurityRules"
    },
    {
      "name": "NetworkSecurityPerimeters"
    },
    {
      "name": "NspProfiles"
    },
    {
      "name": "NspAccessRules"
    },
    {
      "name": "NspAssociations"
    },
    {
      "name": "NspLinks"
    },
    {
      "name": "NspLinkReferences"
    },
    {
      "name": "NspLoggingConfigurations"
    },
    {
      "name": "ReachabilityAnalysisIntents"
    },
    {
      "name": "VerifierWorkspaces"
    },
    {
      "name": "ReachabilityAnalysisRuns"
    },
    {
      "name": "NetworkVirtualAppliances"
    },
    {
      "name": "VirtualApplianceSites"
    },
    {
      "name": "NetworkVirtualApplianceSkus"
    },
    {
      "name": "InboundSecurityRuleOperationGroup"
    },
    {
      "name": "NetworkWatchers"
    },
    {
      "name": "ConnectionMonitorResults"
    },
    {
      "name": "FlowLogs"
    },
    {
      "name": "PrivateEndpoints"
    },
    {
      "name": "PrivateLinkServices"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "PublicIPPrefixes"
    },
    {
      "name": "RouteFilters"
    },
    {
      "name": "RouteTables"
    },
    {
      "name": "Routes"
    },
    {
      "name": "SecurityPartnerProviders"
    },
    {
      "name": "ServiceEndpointPolicies"
    },
    {
      "name": "ServiceEndpointPolicyDefinitions"
    },
    {
      "name": "VirtualNetworks"
    },
    {
      "name": "Subnets"
    },
    {
      "name": "VirtualNetworkPeerings"
    },
    {
      "name": "VirtualNetworkGateways"
    },
    {
      "name": "VirtualNetworkGatewayConnections"
    },
    {
      "name": "LocalNetworkGateways"
    },
    {
      "name": "VirtualNetworkGatewayNatRules"
    },
    {
      "name": "VirtualNetworkTaps"
    },
    {
      "name": "VirtualRouters"
    },
    {
      "name": "VirtualRouterPeerings"
    },
    {
      "name": "VirtualWANS"
    },
    {
      "name": "VpnSites"
    },
    {
      "name": "VpnSiteLinks"
    },
    {
      "name": "VpnServerConfigurations"
    },
    {
      "name": "VpnServerConfigurationPolicyGroups"
    },
    {
      "name": "VirtualHubs"
    },
    {
      "name": "RouteMaps"
    },
    {
      "name": "VpnGateways"
    },
    {
      "name": "ConnectionSharedKeyResults"
    },
    {
      "name": "VpnSiteLinkConnections"
    },
    {
      "name": "VpnGatewayNatRules"
    },
    {
      "name": "P2SVpnGateways"
    },
    {
      "name": "ExpressRouteGateways"
    },
    {
      "name": "BgpConnections"
    },
    {
      "name": "HubIpConfigurations"
    },
    {
      "name": "HubRouteTables"
    },
    {
      "name": "RoutingIntents"
    },
    {
      "name": "WebApplicationFirewallPolicies"
    }
  ],
  "paths": {
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Network/networkManagerConnections": {
      "get": {
        "operationId": "ManagementGroupNetworkManagerConnections_List",
        "tags": [
          "ManagementGroupNetworkManagerConnections"
        ],
        "description": "List all network manager connections created by this management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Management Group Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionManagementGroupList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Network/networkManagerConnections/{networkManagerConnectionName}": {
      "get": {
        "operationId": "ManagementGroupNetworkManagerConnections_Get",
        "tags": [
          "ManagementGroupNetworkManagerConnections"
        ],
        "description": "Get a specified connection created by this management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Management Group Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionManagementGroupGet.json"
          }
        }
      },
      "put": {
        "operationId": "ManagementGroupNetworkManagerConnections_CreateOrUpdate",
        "tags": [
          "ManagementGroupNetworkManagerConnections"
        ],
        "description": "Create a network manager connection on this management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Network manager connection to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkManagerConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "201": {
            "description": "Resource 'NetworkManagerConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Management Group Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionManagementGroupPut.json"
          }
        }
      },
      "delete": {
        "operationId": "ManagementGroupNetworkManagerConnections_Delete",
        "tags": [
          "ManagementGroupNetworkManagerConnections"
        ],
        "description": "Delete specified pending connection created by this management group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Management Group Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionManagementGroupDelete.json"
          }
        }
      }
    },
    "/providers/Microsoft.Network/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Network Rest API operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a list of operations for a resource provider": {
            "$ref": "./examples/OperationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies": {
      "get": {
        "operationId": "WebApplicationFirewallPolicies_ListAll",
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Gets all the WAF policies in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Lists all WAF policies in a subscription": {
            "$ref": "./examples/WafListAllPolicies.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePorts": {
      "get": {
        "operationId": "ExpressRoutePorts_List",
        "tags": [
          "ExpressRoutePorts"
        ],
        "description": "List all the ExpressRoutePort resources in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExpressRoutePortListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRoutePortList": {
            "$ref": "./examples/ExpressRoutePortList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePortsLocations": {
      "get": {
        "operationId": "ExpressRoutePortsLocations_List",
        "tags": [
          "ExpressRoutePortsLocations"
        ],
        "description": "Retrieves all ExpressRoutePort peering locations. Does not return available bandwidths for each location. Available bandwidths can only be obtained when retrieving a specific peering location.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExpressRoutePortsLocationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRoutePortsLocationList": {
            "$ref": "./examples/ExpressRoutePortsLocationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePortsLocations/{locationName}": {
      "get": {
        "operationId": "ExpressRoutePortsLocations_Get",
        "tags": [
          "ExpressRoutePortsLocations"
        ],
        "description": "Retrieves a single ExpressRoutePort peering location, including the list of available bandwidths available at said peering location.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "Name of the requested ExpressRoutePort peering location.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRoutePortsLocation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRoutePortsLocationGet": {
            "$ref": "./examples/ExpressRoutePortsLocationGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/IpAllocations": {
      "get": {
        "operationId": "IpAllocations_List",
        "tags": [
          "IpAllocations"
        ],
        "description": "Gets all IpAllocations in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpAllocationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all IpAllocations": {
            "$ref": "./examples/IpAllocationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableRequestHeaders": {
      "get": {
        "operationId": "ApplicationGateways_ListAvailableRequestHeaders",
        "description": "Lists all available request headers.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get Available Request Headers": {
            "$ref": "./examples/ApplicationGatewayAvailableRequestHeadersGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableResponseHeaders": {
      "get": {
        "operationId": "ApplicationGateways_ListAvailableResponseHeaders",
        "description": "Lists all available response headers.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get Available Response Headers": {
            "$ref": "./examples/ApplicationGatewayAvailableResponseHeadersGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableServerVariables": {
      "get": {
        "operationId": "ApplicationGateways_ListAvailableServerVariables",
        "description": "Lists all available server variables.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get Available Server Variables": {
            "$ref": "./examples/ApplicationGatewayAvailableServerVariablesGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default": {
      "get": {
        "operationId": "ApplicationGateways_ListAvailableSslOptions",
        "tags": [
          "ApplicationGatewayAvailableSslOptionsOperationGroup"
        ],
        "description": "Lists available Ssl options for configuring Ssl policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGatewayAvailableSslOptions"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Available Ssl Options": {
            "$ref": "./examples/ApplicationGatewayAvailableSslOptionsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies": {
      "get": {
        "operationId": "ApplicationGateways_ListAvailableSslPredefinedPolicies",
        "tags": [
          "ApplicationGatewayAvailableSslOptionsOperationGroup"
        ],
        "description": "Lists all SSL predefined policies for configuring Ssl policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGatewayAvailableSslPredefinedPolicies"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Available Ssl Predefined Policies": {
            "$ref": "./examples/ApplicationGatewayAvailableSslOptionsPredefinedPoliciesGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies/{predefinedPolicyName}": {
      "get": {
        "operationId": "ApplicationGateways_GetSslPredefinedPolicy",
        "tags": [
          "ApplicationGatewayAvailableSslOptionsOperationGroup"
        ],
        "description": "Gets Ssl predefined policy with the specified policy name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "predefinedPolicyName",
            "in": "path",
            "description": "The name of the ssl predefined policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGatewaySslPredefinedPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Available Ssl Predefined Policy by name": {
            "$ref": "./examples/ApplicationGatewayAvailableSslOptionsPredefinedPolicyGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableWafRuleSets": {
      "get": {
        "operationId": "ApplicationGateways_ListAvailableWafRuleSets",
        "description": "Lists all available web application firewall rule sets.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApplicationGatewayAvailableWafRuleSetsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Available Waf Rule Sets": {
            "$ref": "./examples/ApplicationGatewayAvailableWafRuleSetsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways": {
      "get": {
        "operationId": "ApplicationGateways_ListAll",
        "tags": [
          "ApplicationGateways"
        ],
        "description": "Gets all the application gateways in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Lists all application gateways in a subscription": {
            "$ref": "./examples/ApplicationGatewayListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationSecurityGroups": {
      "get": {
        "operationId": "ApplicationSecurityGroups_ListAll",
        "tags": [
          "ApplicationSecurityGroups"
        ],
        "description": "Gets all application security groups in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationSecurityGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all application security groups": {
            "$ref": "./examples/ApplicationSecurityGroupListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewallFqdnTags": {
      "get": {
        "operationId": "AzureFirewallFqdnTags_ListAll",
        "description": "Gets all the Azure Firewall FQDN Tags in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AzureFirewallFqdnTagListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Azure Firewall FQDN Tags for a given subscription": {
            "$ref": "./examples/AzureFirewallFqdnTagsListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewalls": {
      "get": {
        "operationId": "AzureFirewalls_ListAll",
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Gets all the Azure Firewalls in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureFirewallListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Azure Firewalls for a given subscription": {
            "$ref": "./examples/AzureFirewallListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureWebCategories": {
      "get": {
        "operationId": "WebCategories_ListBySubscription",
        "tags": [
          "AzureWebCategories"
        ],
        "description": "Gets all the Azure Web Categories in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureWebCategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Azure Web Categories for a given subscription": {
            "$ref": "./examples/AzureWebCategoriesListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureWebCategories/{name}": {
      "get": {
        "operationId": "WebCategories_Get",
        "tags": [
          "AzureWebCategories"
        ],
        "description": "Gets the specified Azure Web Category.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the azureWebCategory.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands resourceIds back referenced by the azureWebCategory resource.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureWebCategory"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Web Category by name": {
            "$ref": "./examples/AzureWebCategoryGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/bastionHosts": {
      "get": {
        "operationId": "BastionHosts_List",
        "tags": [
          "BastionHosts"
        ],
        "description": "Lists all Bastion Hosts in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BastionHostListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Bastion Hosts for a given subscription": {
            "$ref": "./examples/BastionHostListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/bgpServiceCommunities": {
      "get": {
        "operationId": "BgpServiceCommunities_List",
        "description": "Gets all the available bgp service communities.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BgpServiceCommunityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ServiceCommunityList": {
            "$ref": "./examples/ServiceCommunityList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/customIpPrefixes": {
      "get": {
        "operationId": "CustomIPPrefixes_ListAll",
        "tags": [
          "CustomIpPrefixes"
        ],
        "description": "Gets all the custom IP prefixes in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CustomIpPrefixListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all custom IP prefixes": {
            "$ref": "./examples/CustomIpPrefixListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ddosProtectionPlans": {
      "get": {
        "operationId": "DdosProtectionPlans_List",
        "tags": [
          "DdosProtectionPlans"
        ],
        "description": "Gets all DDoS protection plans in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DdosProtectionPlanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all DDoS protection plans": {
            "$ref": "./examples/DdosProtectionPlanListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/dscpConfigurations": {
      "get": {
        "operationId": "DscpConfiguration_ListAll",
        "tags": [
          "DscpConfigurations"
        ],
        "description": "Gets all dscp configurations in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DscpConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all network interfaces": {
            "$ref": "./examples/DscpConfigurationListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits": {
      "get": {
        "operationId": "ExpressRouteCircuits_ListAll",
        "tags": [
          "ExpressRouteCircuits"
        ],
        "description": "Gets all the express route circuits in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List ExpressRouteCircuits in a subscription": {
            "$ref": "./examples/ExpressRouteCircuitListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCrossConnections": {
      "get": {
        "operationId": "ExpressRouteCrossConnections_List",
        "tags": [
          "ExpressRouteCrossConnections"
        ],
        "description": "Retrieves all the ExpressRouteCrossConnections in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For example, you can use $filter=name eq '{circuitServiceKey}'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCrossConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteCrossConnectionList": {
            "$ref": "./examples/ExpressRouteCrossConnectionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteGateways": {
      "get": {
        "operationId": "ExpressRouteGateways_ListBySubscription",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Lists ExpressRoute gateways under a given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGatewayList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayListBySubscription": {
            "$ref": "./examples/ExpressRouteGatewayListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteProviderPorts": {
      "get": {
        "operationId": "ExpressRouteProviderPortsLocation_List",
        "tags": [
          "ExpressRouteProviderPorts"
        ],
        "description": "Retrieves all the ExpressRouteProviderPorts in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. For example, you can use $filter=location eq '{state}'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteProviderPortListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteProviderPortList": {
            "$ref": "./examples/expressRouteProviderPortList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteProviderPorts/{providerport}": {
      "get": {
        "operationId": "ExpressRouteProviderPort",
        "tags": [
          "ExpressRouteProviderPorts"
        ],
        "description": "Retrieves detail of a provider port.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "providerport",
            "in": "path",
            "description": "The name of the provider port.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteProviderPort"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteProviderPort": {
            "$ref": "./examples/expressRouteProviderPort.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders": {
      "get": {
        "operationId": "ExpressRouteServiceProviders_List",
        "description": "Gets all the available express route service providers.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteServiceProviderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List ExpressRoute providers": {
            "$ref": "./examples/ExpressRouteProviderList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/firewallPolicies": {
      "get": {
        "operationId": "FirewallPolicies_ListAll",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Gets all the Firewall Policies in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Firewall Policies for a given subscription": {
            "$ref": "./examples/FirewallPolicyListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ipGroups": {
      "get": {
        "operationId": "IpGroups_List",
        "tags": [
          "IpGroups"
        ],
        "description": "Gets all IpGroups in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List_IpGroups": {
            "$ref": "./examples/IpGroupsListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers": {
      "get": {
        "operationId": "LoadBalancers_ListAll",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the load balancers in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all load balancers": {
            "$ref": "./examples/LoadBalancerListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/applicationGatewayWafDynamicManifests": {
      "get": {
        "operationId": "ApplicationGatewayWafDynamicManifests_Get",
        "tags": [
          "ApplicationGatewayWafDynamicManifestResults"
        ],
        "description": "Gets the regional application gateway waf manifest.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location for which the WAF dynamic manifest is requested.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGatewayWafDynamicManifestResultList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Gets WAF manifests": {
            "$ref": "./examples/GetApplicationGatewayWafDynamicManifests.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/applicationGatewayWafDynamicManifests/dafault": {
      "get": {
        "operationId": "ApplicationGatewayWafDynamicManifestsDefault_Get",
        "tags": [
          "ApplicationGatewayWafDynamicManifestResults"
        ],
        "description": "Gets the regional application gateway waf manifest.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location for which the WAF dynamic manifest is requested.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGatewayWafDynamicManifestResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Gets WAF default manifest": {
            "$ref": "./examples/GetApplicationGatewayWafDynamicManifestsDefault.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices": {
      "get": {
        "operationId": "PrivateLinkServices_ListAutoApprovedPrivateLinkServices",
        "description": "Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AutoApprovedPrivateLinkServicesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get list of private link service id that can be linked to a private end point with auto approved": {
            "$ref": "./examples/AutoApprovedPrivateLinkServicesGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableDelegations": {
      "get": {
        "operationId": "AvailableDelegations_List",
        "description": "Gets all of the available subnet delegations for this subscription in this region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailableDelegationsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get available delegations": {
            "$ref": "./examples/AvailableDelegationsSubscriptionGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availablePrivateEndpointTypes": {
      "get": {
        "operationId": "AvailablePrivateEndpointTypes_List",
        "description": "Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailablePrivateEndpointTypesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get available PrivateEndpoint types": {
            "$ref": "./examples/AvailablePrivateEndpointTypesGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableServiceAliases": {
      "get": {
        "operationId": "AvailableServiceAliases_List",
        "description": "Gets all available service aliases for this subscription in this region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailableServiceAliasesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get available service aliases": {
            "$ref": "./examples/AvailableServiceAliasesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/checkDnsNameAvailability": {
      "get": {
        "operationId": "CheckDnsNameAvailability",
        "description": "Checks whether a domain name in the cloudapp.azure.com zone is available for use.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "domainNameLabel",
            "in": "query",
            "description": "The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DnsNameAvailabilityResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Check Dns Name Availability": {
            "$ref": "./examples/CheckDnsNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility": {
      "post": {
        "operationId": "PrivateLinkServices_CheckPrivateLinkServiceVisibility",
        "description": "Checks whether the subscription is visible to private link service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckPrivateLinkServiceVisibilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkServiceVisibility"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Check private link service visibility": {
            "$ref": "./examples/CheckPrivateLinkServiceVisibility.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/PrivateLinkServiceVisibility"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/networkSecurityPerimeterOperationStatuses/{operationId}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterOperationStatuses_Get",
        "description": "Gets the operation status for the given operation id.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The operation id of the async operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspOperationStatusGet": {
            "$ref": "./examples/NspOperationStatusGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/nspServiceTags": {
      "get": {
        "operationId": "NetworkSecurityPerimeterServiceTags_List",
        "description": "Gets the list of service tags supported by NSP. These service tags can be used to create access rules in NSP.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NspServiceTagsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NSPServiceTagsList": {
            "$ref": "./examples/NspServiceTagsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/perimeterAssociableResourceTypes": {
      "get": {
        "operationId": "NetworkSecurityPerimeterAssociableResourceTypes_List",
        "description": "Gets the list of resources that are onboarded with NSP. These resources can be associated with a network security perimeter",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PerimeterAssociableResourcesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterAssociableResourceTypes": {
            "$ref": "./examples/PerimeterAssociableResourcesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/serviceTagDetails": {
      "get": {
        "operationId": "ServiceTagInformation_List",
        "description": "Gets a list of service tag information resources with pagination.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "noAddressPrefixes",
            "in": "query",
            "description": "Do not return address prefixes for the tag(s).",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "tagName",
            "in": "query",
            "description": "Return tag information for a particular tag.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ServiceTagInformationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get list of service tags": {
            "$ref": "./examples/ServiceTagInformationListResult.json"
          },
          "Get list of service tags with no address prefixes": {
            "$ref": "./examples/ServiceTagInformationListResultWithNoAddressPrefixes.json"
          },
          "Get list of service tags with tag name.": {
            "$ref": "./examples/ServiceTagInformationListResultWithTagname.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/serviceTags": {
      "get": {
        "operationId": "ServiceTags_List",
        "description": "Gets a list of service tag information resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ServiceTagsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get list of service tags": {
            "$ref": "./examples/ServiceTagsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/setLoadBalancerFrontendPublicIpAddresses": {
      "post": {
        "operationId": "LoadBalancers_SwapPublicIpAddresses",
        "description": "Swaps VIPs between two load balancers.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadBalancerVipSwapRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Swap VIPs between two load balancers.": {
            "$ref": "./examples/LoadBalancersSwapPublicIpAddresses.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages": {
      "get": {
        "operationId": "Usages_List",
        "description": "List network usages for a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UsagesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List usages": {
            "$ref": "./examples/UsageList.json"
          },
          "List usages spaced location": {
            "$ref": "./examples/UsageListSpacedLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/virtualNetworkAvailableEndpointServices": {
      "get": {
        "operationId": "AvailableEndpointServices_List",
        "description": "List what values of endpoint services are available for use.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EndpointServicesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "EndpointServicesList": {
            "$ref": "./examples/EndpointServicesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/natGateways": {
      "get": {
        "operationId": "NatGateways_ListAll",
        "tags": [
          "NatGateways"
        ],
        "description": "Gets all the Nat Gateways in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NatGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all nat gateways": {
            "$ref": "./examples/NatGatewayListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces": {
      "get": {
        "operationId": "NetworkInterfaces_ListAll",
        "tags": [
          "NetworkInterfaceOperationGroup"
        ],
        "description": "Gets all network interfaces in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all network interfaces": {
            "$ref": "./examples/NetworkInterfaceListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkManagerConnections": {
      "get": {
        "operationId": "SubscriptionNetworkManagerConnections_List",
        "tags": [
          "NetworkManagerConnections"
        ],
        "description": "List all network manager connections created by this subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Subscription Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionSubscriptionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkManagerConnections/{networkManagerConnectionName}": {
      "get": {
        "operationId": "SubscriptionNetworkManagerConnections_Get",
        "tags": [
          "NetworkManagerConnections"
        ],
        "description": "Get a specified connection created by this subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Subscription Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionSubscriptionGet.json"
          }
        }
      },
      "put": {
        "operationId": "SubscriptionNetworkManagerConnections_CreateOrUpdate",
        "tags": [
          "NetworkManagerConnections"
        ],
        "description": "Create a network manager connection on this subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Network manager connection to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkManagerConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "201": {
            "description": "Resource 'NetworkManagerConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Subscription Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionSubscriptionPut.json"
          }
        }
      },
      "delete": {
        "operationId": "SubscriptionNetworkManagerConnections_Delete",
        "tags": [
          "NetworkManagerConnections"
        ],
        "description": "Delete specified connection created by this subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "networkManagerConnectionName",
            "in": "path",
            "description": "Name for the network manager connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Subscription Network Manager Connection": {
            "$ref": "./examples/NetworkManagerConnectionSubscriptionDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkManagers": {
      "get": {
        "operationId": "NetworkManagers_ListBySubscription",
        "tags": [
          "NetworkManagers"
        ],
        "description": "List all network managers in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagersList": {
            "$ref": "./examples/NetworkManagerListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkProfiles": {
      "get": {
        "operationId": "NetworkProfiles_ListAll",
        "tags": [
          "NetworkProfiles"
        ],
        "description": "Gets all the network profiles in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all network profiles": {
            "$ref": "./examples/NetworkProfileListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityGroups": {
      "get": {
        "operationId": "NetworkSecurityGroups_ListAll",
        "tags": [
          "NetworkSecurityGroups"
        ],
        "description": "Gets all network security groups in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all network security groups": {
            "$ref": "./examples/NetworkSecurityGroupListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityPerimeters": {
      "get": {
        "operationId": "NetworkSecurityPerimeters_ListBySubscription",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "List all network security perimeters in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
[...]
