{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "VirtualWANS"
    },
    {
      "name": "ExpressRouteGateways"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteGateways": {
      "get": {
        "operationId": "ExpressRouteGateways_ListBySubscription",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Lists ExpressRoute gateways under a given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGatewayList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayListBySubscription": {
            "$ref": "./examples/ExpressRouteGatewayListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualWans": {
      "get": {
        "operationId": "VirtualWans_List",
        "tags": [
          "VirtualWANS"
        ],
        "description": "Lists all the VirtualWANs in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListVirtualWANsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualWANList": {
            "$ref": "./examples/VirtualWANList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways": {
      "get": {
        "operationId": "ExpressRouteGateways_ListByResourceGroup",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Lists ExpressRoute gateways in a given resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGatewayList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayListByResourceGroup": {
            "$ref": "./examples/ExpressRouteGatewayListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}": {
      "get": {
        "operationId": "ExpressRouteGateways_Get",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Fetches the details of a ExpressRoute gateway in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the ExpressRoute gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayGet": {
            "$ref": "./examples/ExpressRouteGatewayGet.json"
          }
        }
      },
      "put": {
        "operationId": "ExpressRouteGateways_CreateOrUpdate",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Creates or updates a ExpressRoute gateway in a specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the ExpressRoute gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "putExpressRouteGatewayParameters",
            "in": "body",
            "description": "Parameters required in an ExpressRoute gateway PUT operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressRouteGateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExpressRouteGateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGateway"
            }
          },
          "201": {
            "description": "Resource 'ExpressRouteGateway' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGateway"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayCreate": {
            "$ref": "./examples/ExpressRouteGatewayCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ExpressRouteGateway"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ExpressRouteGateways_UpdateTags",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Updates express route gateway tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the ExpressRoute gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "expressRouteGatewayParameters",
            "in": "body",
            "description": "Parameters supplied to update a virtual wan express route gateway tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteGateway"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayUpdate": {
            "$ref": "./examples/ExpressRouteGatewayUpdateTags.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ExpressRouteGateway"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ExpressRouteGateways_Delete",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Deletes the specified ExpressRoute gateway in a resource group. An ExpressRoute gateway resource can only be deleted when there are no connection subresources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the ExpressRoute gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteGatewayDelete": {
            "$ref": "./examples/ExpressRouteGatewayDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}/expressRouteConnections": {
      "get": {
        "operationId": "ExpressRouteConnections_List",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Lists ExpressRouteConnections.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the ExpressRoute gateway.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteConnectionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteConnectionList": {
            "$ref": "./examples/ExpressRouteConnectionList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}/expressRouteConnections/{connectionName}": {
      "get": {
        "operationId": "ExpressRouteConnections_Get",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Gets the specified ExpressRouteConnection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the express route gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the express route connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteConnectionGet": {
            "$ref": "./examples/ExpressRouteConnectionGet.json"
          }
        }
      },
      "put": {
        "operationId": "ExpressRouteConnections_CreateOrUpdate",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Creates a connection between an ExpressRoute gateway and an ExpressRoute circuit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the express route gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the express route connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "putExpressRouteConnectionParameters",
            "in": "body",
            "description": "Parameters required in an ExpressRouteConnection PUT operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressRouteConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteConnection"
            }
          },
          "201": {
            "description": "Resource 'ExpressRouteConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExpressRouteConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteConnectionCreate": {
            "$ref": "./examples/ExpressRouteConnectionCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ExpressRouteConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ExpressRouteConnections_Delete",
        "tags": [
          "ExpressRouteGateways"
        ],
        "description": "Deletes a connection to a ExpressRoute circuit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "expressRouteGatewayName",
            "in": "path",
            "description": "The name of the express route gateway.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the express route connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteConnectionDelete": {
            "$ref": "./examples/ExpressRouteConnectionDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans": {
      "get": {
        "operationId": "VirtualWans_ListByResourceGroup",
        "tags": [
          "VirtualWANS"
        ],
        "description": "Lists all the VirtualWANs in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListVirtualWANsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualWANListByResourceGroup": {
            "$ref": "./examples/VirtualWANListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{VirtualWANName}": {
      "get": {
        "operationId": "VirtualWans_Get",
        "tags": [
          "VirtualWANS"
        ],
        "description": "Retrieves the details of a VirtualWAN.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "VirtualWANName",
            "in": "path",
            "description": "The name of the VirtualWAN being retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualWAN"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualWANGet": {
            "$ref": "./examples/VirtualWANGet.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualWans_CreateOrUpdate",
        "tags": [
          "VirtualWANS"
        ],
        "description": "Creates a VirtualWAN resource if it doesn't exist else updates the existing VirtualWAN.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "VirtualWANName",
            "in": "path",
            "description": "The name of the VirtualWAN being retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "WANParameters",
            "in": "body",
            "description": "Parameters supplied to create or update VirtualWAN.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualWAN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualWAN' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualWAN"
            }
          },
          "201": {
            "description": "Resource 'VirtualWAN' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualWAN"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualWANCreate": {
            "$ref": "./examples/VirtualWANPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualWAN"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualWans_UpdateTags",
        "tags": [
          "VirtualWANS"
        ],
        "description": "Updates a VirtualWAN tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "VirtualWANName",
            "in": "path",
            "description": "The name of the VirtualWAN being retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "WANParameters",
            "in": "body",
            "description": "Parameters supplied to Update VirtualWAN tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualWAN"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualWANUpdate": {
            "$ref": "./examples/VirtualWANUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "VirtualWans_Delete",
        "tags": [
          "VirtualWANS"
        ],
        "description": "Deletes a VirtualWAN.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "VirtualWANName",
            "in": "path",
            "description": "The name of the VirtualWAN being retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualWANDelete": {
            "$ref": "./examples/VirtualWANDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/generateVpnProfile": {
      "post": {
        "operationId": "generatevirtualwanvpnserverconfigurationvpnprofile",
        "tags": [
          "VirtualWANS"
        ],
        "description": "Generates a unique VPN profile for P2S clients for VirtualWan and associated VpnServerConfiguration combination in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualWANName",
            "in": "path",
            "description": "The name of the VirtualWAN.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vpnClientParams",
            "in": "body",
            "description": "Parameters supplied to the generate VirtualWan VPN profile generation operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualWanVpnProfileParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VpnProfileResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GenerateVirtualWanVpnServerConfigurationVpnProfile": {
            "$ref": "./examples/GenerateVirtualWanVpnServerConfigurationVpnProfile.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/VpnProfileResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/supportedSecurityProviders": {
      "get": {
        "operationId": "SupportedSecurityProviders",
        "tags": [
          "VirtualWANS"
        ],
        "description": "Gives the supported security providers for the virtual wan.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualWANName",
            "in": "path",
            "description": "The name of the VirtualWAN.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualWanSecurityProviders"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "supportedSecurityProviders": {
            "$ref": "./examples/VirtualWanSupportedSecurityProviders.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/vpnConfiguration": {
      "post": {
        "operationId": "VpnSitesConfiguration_Download",
        "tags": [
          "VirtualWANS"
        ],
        "description": "Gives the sas-url to download the configurations for vpn-sites in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualWANName",
            "in": "path",
            "description": "The name of the VirtualWAN.",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Parameters supplied to download vpn-sites configuration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetVpnSitesConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VpnSitesConfigurationDownload": {
            "$ref": "./examples/VpnSitesConfigurationDownload.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/vpnServerConfigurations": {
      "post": {
        "operationId": "VpnServerConfigurationsAssociatedWithVirtualWan_List",
        "tags": [
          "VirtualWANS"
        ],
        "description": "Gives the list of VpnServerConfigurations associated with Virtual Wan in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualWANName",
            "in": "path",
            "description": "The name of the VirtualWAN.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VpnServerConfigurationsResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVirtualWanVpnServerConfigurations": {
            "$ref": "./examples/GetVirtualWanVpnServerConfigurations.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/VpnServerConfigurationsResponse"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AadAuthenticationParameters": {
      "type": "object",
      "description": "AAD Vpn authentication type related parameters.",
      "properties": {
        "aadTenant": {
          "type": "string",
          "description": "AAD Vpn authentication parameter AAD tenant."
        },
        "aadAudience": {
          "type": "string",
          "description": "AAD Vpn authentication parameter AAD audience."
        },
        "aadIssuer": {
          "type": "string",
          "description": "AAD Vpn authentication parameter AAD issuer."
        }
      }
    },
    "Action": {
      "type": "object",
      "description": "Action to be taken on a route matching a RouteMap criterion.",
      "properties": {
        "type": {
          "$ref": "./common.json#/definitions/RouteMapActionType",
          "description": "Type of action to be taken. Supported types are 'Remove', 'Add', 'Replace', and 'Drop.'"
        },
        "parameters": {
          "type": "array",
          "description": "List of parameters relevant to the action.For instance if type is drop then parameters has list of prefixes to be dropped.If type is add, parameters would have list of ASN numbers to be added",
          "items": {
            "$ref": "#/definitions/Parameter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "BgpConnection": {
      "type": "object",
      "description": "Virtual Appliance Site resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BgpConnectionProperties",
          "description": "The properties of the Bgp connections.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResourceModel"
        }
      ]
    },
    "BgpConnectionProperties": {
      "type": "object",
      "description": "Properties of the bgp connection.",
      "properties": {
        "peerAsn": {
          "type": "integer",
          "format": "int64",
          "description": "Peer ASN.",
          "minimum": 0,
          "maximum": 4294967295
        },
        "peerIp": {
          "type": "string",
          "description": "Peer IP."
        },
        "hubVirtualNetworkConnection": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the HubVirtualNetworkConnection resource."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "connectionState": {
          "$ref": "./common.json#/definitions/HubBgpConnectionStatus",
          "description": "The current state of the VirtualHub to Peer.",
          "readOnly": true
        }
      }
    },
    "Criterion": {
      "type": "object",
      "description": "A matching criteria which matches routes based on route prefix, community, and AS path.",
      "properties": {
        "routePrefix": {
          "type": "array",
          "description": "List of route prefixes which this criteria matches.",
          "items": {
            "type": "string"
          }
        },
        "community": {
          "type": "array",
          "description": "List of BGP communities which this criteria matches.",
          "items": {
            "type": "string"
          }
        },
        "asPath": {
          "type": "array",
          "description": "List of AS paths which this criteria matches.",
          "items": {
            "type": "string"
          }
        },
        "matchCondition": {
          "$ref": "./common.json#/definitions/RouteMapMatchCondition",
          "description": "Match condition to apply RouteMap rules."
        }
      }
    },
    "DeviceProperties": {
      "type": "object",
      "description": "List of properties of the device.",
      "properties": {
        "deviceVendor": {
          "type": "string",
          "description": "Name of the device Vendor."
        },
        "deviceModel": {
          "type": "string",
          "description": "Model of the device."
        },
        "linkSpeedInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "Link speed."
        }
      }
    },
    "EffectiveRouteMapRoute": {
      "type": "object",
      "description": "The effective RouteMap route configured on the connection resource.",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "The address prefix of the route."
        },
        "bgpCommunities": {
          "type": "string",
          "description": "BGP communities of the route."
        },
        "asPath": {
          "type": "string",
          "description": "The ASPath of this route."
        }
      }
    },
    "EffectiveRouteMapRouteList": {
      "type": "object",
      "description": "EffectiveRouteMapRoute List.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of Effective RouteMap Routes configured on the connection resource.",
          "items": {
            "$ref": "#/definitions/EffectiveRouteMapRoute"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "EffectiveRoutesParameters": {
      "type": "object",
      "description": "The parameters specifying the resource whose effective routes are being requested.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The resource whose effective routes are being requested."
        },
        "virtualWanResourceType": {
          "type": "string",
          "description": "The type of the specified resource like RouteTable, ExpressRouteConnection, HubVirtualNetworkConnection, VpnConnection and P2SConnection."
        }
      }
    },
    "ExpressRouteCircuitPeeringId": {
      "type": "object",
      "description": "ExpressRoute circuit peering identifier.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the ExpressRoute circuit peering."
        }
      }
    },
    "ExpressRouteConnection": {
      "type": "object",
      "description": "ExpressRouteConnection resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExpressRouteConnectionProperties",
          "description": "Properties of the express route connection.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource."
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResource"
        }
      ]
    },
    "ExpressRouteConnectionId": {
      "type": "object",
      "description": "The ID of the ExpressRouteConnection.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the ExpressRouteConnection.",
          "readOnly": true
        }
      }
    },
    "ExpressRouteConnectionList": {
      "type": "object",
      "description": "ExpressRouteConnection list.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of ExpressRoute connections.",
          "items": {
            "$ref": "#/definitions/ExpressRouteConnection"
          }
        }
      }
    },
    "ExpressRouteConnectionProperties": {
      "type": "object",
      "description": "Properties of the ExpressRouteConnection subresource.",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the express route connection resource.",
          "readOnly": true
        },
        "expressRouteCircuitPeering": {
          "$ref": "#/definitions/ExpressRouteCircuitPeeringId",
          "description": "The ExpressRoute circuit peering."
        },
        "authorizationKey": {
          "type": "string",
          "description": "Authorization key to establish the connection."
        },
        "routingWeight": {
          "type": "integer",
          "format": "int32",
          "description": "The routing weight associated to the connection."
        },
        "enableInternetSecurity": {
          "type": "boolean",
          "description": "Enable internet security."
        },
        "expressRouteGatewayBypass": {
          "type": "boolean",
          "description": "Enable FastPath to vWan Firewall hub."
        },
        "enablePrivateLinkFastPath": {
          "type": "boolean",
          "description": "Bypass the ExpressRoute gateway when accessing private-links. ExpressRoute FastPath (expressRouteGatewayBypass) must be enabled."
        },
        "routingConfiguration": {
          "$ref": "#/definitions/RoutingConfiguration",
          "description": "The Routing Configuration indicating the associated and propagated route tables on this connection."
        }
      },
      "required": [
        "expressRouteCircuitPeering"
      ]
    },
    "ExpressRouteGateway": {
      "type": "object",
      "description": "ExpressRoute gateway resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExpressRouteGatewayProperties",
          "description": "Properties of the express route gateway.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ]
    },
    "ExpressRouteGatewayList": {
      "type": "object",
      "description": "List of ExpressRoute gateways.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of ExpressRoute gateways.",
          "items": {
            "$ref": "#/definitions/ExpressRouteGateway"
          }
        }
      }
    },
    "ExpressRouteGatewayProperties": {
      "type": "object",
      "description": "ExpressRoute gateway resource properties.",
      "properties": {
        "autoScaleConfiguration": {
          "$ref": "./common.json#/definitions/ExpressRouteGatewayPropertiesAutoScaleConfiguration",
          "description": "Configuration for auto scaling."
        },
        "expressRouteConnections": {
          "type": "array",
          "description": "List of ExpressRoute connections to the ExpressRoute gateway.",
          "items": {
            "$ref": "#/definitions/ExpressRouteConnection"
          }
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the express route gateway resource.",
          "readOnly": true
        },
        "virtualHub": {
          "$ref": "#/definitions/VirtualHubId",
          "description": "The Virtual Hub where the ExpressRoute gateway is or will be deployed."
        },
        "allowNonVirtualWanTraffic": {
          "type": "boolean",
          "description": "Configures this gateway to accept traffic from non Virtual WAN networks."
        }
      },
      "required": [
        "virtualHub"
      ]
    },
    "GetInboundRoutesParameters": {
      "type": "object",
      "description": "The parameters specifying the connection resource whose inbound routes are being requested.",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The connection resource whose inbound routes are being requested."
        },
        "connectionType": {
          "type": "string",
          "description": "The type of the specified connection resource like ExpressRouteConnection, HubVirtualNetworkConnection, VpnConnection and P2SConnection."
        }
      }
    },
    "GetOutboundRoutesParameters": {
      "type": "object",
      "description": "The parameters specifying the connection resource whose outbound routes are being requested.",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The connection resource whose outbound routes are being requested."
        },
        "connectionType": {
          "type": "string",
          "description": "The type of the specified connection resource like ExpressRouteConnection, HubVirtualNetworkConnection, VpnConnection and P2SConnection."
        }
      }
    },
    "GetVpnSitesConfigurationRequest": {
      "type": "object",
      "description": "List of Vpn-Sites.",
      "properties": {
        "vpnSites": {
          "type": "array",
          "description": "List of resource-ids of the vpn-sites for which config is to be downloaded.",
          "items": {
            "type": "string"
          }
        },
        "outputBlobSasUrl": {
          "type": "string",
          "description": "The sas-url to download the configurations for vpn-sites."
        }
      },
      "required": [
        "outputBlobSasUrl"
      ]
    },
    "HubIPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of IP configuration.",
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "./common.json#/definitions/IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "subnet": {
          "$ref": "./virtualNetwork.json#/definitions/Subnet",
          "description": "The reference to the subnet resource."
        },
        "publicIPAddress": {
          "$ref": "./virtualNetwork.json#/definitions/PublicIPAddress",
          "description": "The reference to the public IP resource."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the IP configuration resource.",
          "readOnly": true
        }
      }
    },
    "HubIpConfiguration": {
      "type": "object",
      "description": "IpConfigurations.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HubIPConfigurationPropertiesFormat",
          "description": "The properties of the Virtual Hub IPConfigurations.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResourceModel"
        }
      ]
    },
    "HubRoute": {
      "type": "object",
      "description": "RouteTable route.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Route that is unique within a RouteTable. This name can be used to access this route."
        },
        "destinationType": {
          "type": "string",
          "description": "The type of destinations (eg: CIDR, ResourceId, Service)."
        },
        "destinations": {
          "type": "array",
          "description": "List of all destinations.",
          "items": {
            "type": "string"
          }
        },
        "nextHopType": {
          "type": "string",
          "description": "The type of next hop (eg: ResourceId)."
        },
        "nextHop": {
          "type": "string",
          "description": "NextHop resource ID."
        }
      },
      "required": [
        "name",
        "destinationType",
        "destinations",
        "nextHopType",
        "nextHop"
      ]
    },
    "HubRouteTable": {
      "type": "object",
      "description": "RouteTable resource in a virtual hub.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HubRouteTableProperties",
          "description": "Properties of the RouteTable resource.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResourceModel"
        }
      ]
    },
    "HubRouteTableProperties": {
      "type": "object",
      "description": "Parameters for RouteTable.",
      "properties": {
        "routes": {
          "type": "array",
          "description": "List of all routes.",
          "items": {
            "$ref": "#/definitions/HubRoute"
          }
        },
        "labels": {
          "type": "array",
          "description": "List of labels associated with this route table.",
          "items": {
            "type": "string"
          }
        },
        "associatedConnections": {
          "type": "array",
          "description": "List of all connections associated with this route table.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "propagatingConnections": {
          "type": "array",
          "description": "List of all connections that advertise to this route table.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the RouteTable resource.",
          "readOnly": true
        }
      }
    },
    "HubVirtualNetworkConnection": {
      "type": "object",
      "description": "HubVirtualNetworkConnection Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HubVirtualNetworkConnectionProperties",
          "description": "Properties of the hub virtual network connection.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResource"
        }
      ]
    },
    "HubVirtualNetworkConnectionProperties": {
      "type": "object",
      "description": "Parameters for HubVirtualNetworkConnection.",
      "properties": {
        "remoteVirtualNetwork": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "Reference to the remote virtual network."
        },
        "allowHubToRemoteVnetTransit": {
          "type": "boolean",
          "description": "Deprecated: VirtualHub to RemoteVnet transit to enabled or not."
        },
        "allowRemoteVnetToUseHubVnetGateways": {
          "type": "boolean",
          "description": "Deprecated: Allow RemoteVnet to use Virtual Hub's gateways."
        },
        "enableInternetSecurity": {
          "type": "boolean",
          "description": "Enable internet security."
        },
        "routingConfiguration": {
          "$ref": "#/definitions/RoutingConfiguration",
          "description": "The Routing Configuration indicating the associated and propagated route tables on this connection."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the hub virtual network connection resource.",
          "readOnly": true
        }
      }
    },
    "ListHubRouteTablesResult": {
      "type": "object",
      "description": "List of RouteTables and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HubRouteTable items on this page",
          "items": {
            "$ref": "#/definitions/HubRouteTable"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListP2SVpnGatewaysResult": {
      "type": "object",
      "description": "Result of the request to list P2SVpnGateways. It contains a list of P2SVpnGateways and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The P2SVpnGateway items on this page",
          "items": {
            "$ref": "#/definitions/P2SVpnGateway"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListRouteMapsResult": {
      "type": "object",
      "description": "List of RouteMaps and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RouteMap items on this page",
          "items": {
            "$ref": "#/definitions/RouteMap"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListRoutingIntentResult": {
      "type": "object",
      "description": "List of the routing intent result and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RoutingIntent items on this page",
          "items": {
            "$ref": "#/definitions/RoutingIntent"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListVirtualHubBgpConnectionResults": {
      "type": "object",
      "description": "VirtualHubBgpConnections list.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BgpConnection items on this page",
          "items": {
            "$ref": "#/definitions/BgpConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListVirtualHubsResult": {
      "type": "object",
      "description": "Result of the request to list VirtualHubs. It contains a list of VirtualHubs and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VirtualHub items on this page",
          "items": {
            "$ref": "#/definitions/VirtualHub"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListVirtualWANsResult": {
      "type": "object",
      "description": "Result of the request to list VirtualWANs. It contains a list of VirtualWANs and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VirtualWAN items on this page",
          "items": {
            "$ref": "#/definitions/VirtualWAN"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListVpnConnectionsResult": {
      "type": "object",
      "description": "Result of the request to list all vpn connections to a virtual wan vpn gateway. It contains a list of Vpn Connections and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VpnConnection items on this page",
          "items": {
            "$ref": "#/definitions/VpnConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListVpnGatewayNatRulesResult": {
      "type": "object",
      "description": "Result of the request to list all nat rules to a virtual wan vpn gateway. It contains a list of Nat rules and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VpnGatewayNatRule items on this page",
          "items": {
            "$ref": "#/definitions/VpnGatewayNatRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListVpnGatewaysResult": {
      "type": "object",
      "description": "Result of the request to list VpnGateways. It contains a list of VpnGateways and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VpnGateway items on this page",
          "items": {
            "$ref": "#/definitions/VpnGateway"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListVpnSiteLinksResult": {
      "type": "object",
      "description": "Result of the request to list VpnSiteLinks. It contains a list of VpnSiteLinks and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VpnSiteLink items on this page",
          "items": {
            "$ref": "#/definitions/VpnSiteLink"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ListVpnSitesResult": {
      "type": "object",
      "description": "Result of the request to list VpnSites. It contains a list of VpnSites and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VpnSite items on this page",
          "items": {
            "$ref": "#/definitions/VpnSite"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NetworkVirtualApplianceConnection": {
      "type": "object",
      "description": "NetworkVirtualApplianceConnection resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkVirtualApplianceConnectionProperties",
          "description": "Properties of the express route connection.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResource"
        }
      ]
    },
    "NetworkVirtualApplianceConnectionProperties": {
      "type": "object",
      "description": "Properties of the NetworkVirtualApplianceConnection subresource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the NetworkVirtualApplianceConnection resource.",
          "readOnly": true
        },
        "asn": {
          "type": "integer",
          "format": "int64",
          "description": "Network Virtual Appliance ASN.",
          "minimum": 0,
          "maximum": 4294967295
        },
        "tunnelIdentifier": {
          "type": "integer",
          "format": "int64",
          "description": "Unique identifier for the connection.",
          "minimum": 0,
          "maximum": 4294967295
        },
        "bgpPeerAddress": {
          "type": "array",
          "description": "List of bgpPeerAddresses for the NVA instances",
          "items": {
            "type": "string"
          }
        },
        "enableInternetSecurity": {
          "type": "boolean",
          "description": "Enable internet security."
        },
        "routingConfiguration": {
          "$ref": "#/definitions/RoutingConfiguration",
          "description": "The Routing Configuration indicating the associated and propagated route tables on this connection."
        }
      }
    },
    "O365BreakOutCategoryPolicies": {
      "type": "object",
      "description": "Office365 breakout categories.",
      "properties": {
        "allow": {
          "type": "boolean",
          "description": "Flag to control allow category."
        },
        "optimize": {
          "type": "boolean",
          "description": "Flag to control optimize category."
        },
        "default": {
          "type": "boolean",
          "description": "Flag to control default category."
        }
      }
    },
    "O365PolicyProperties": {
      "type": "object",
      "description": "The Office365 breakout policy.",
      "properties": {
        "breakOutCategories": {
          "$ref": "#/definitions/O365BreakOutCategoryPolicies",
          "description": "Office365 breakout categories."
        }
      }
    },
    "P2SConnectionConfiguration": {
      "type": "object",
      "description": "P2SConnectionConfiguration Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/P2SConnectionConfigurationProperties",
          "description": "Properties of the P2S connection configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResource"
        }
      ]
    },
    "P2SConnectionConfigurationProperties": {
      "type": "object",
      "description": "Parameters for P2SConnectionConfiguration.",
      "properties": {
        "vpnClientAddressPool": {
          "$ref": "./virtualNetwork.json#/definitions/AddressSpace",
          "description": "The reference to the address space resource which represents Address space for P2S VpnClient."
        },
        "routingConfiguration": {
          "$ref": "#/definitions/RoutingConfiguration",
          "description": "The Routing Configuration indicating the associated and propagated route tables on this connection."
        },
        "enableInternetSecurity": {
          "type": "boolean",
          "description": "Flag indicating whether the enable internet security flag is turned on for the P2S Connections or not."
        },
        "configurationPolicyGroupAssociations": {
          "type": "array",
          "description": "List of Configuration Policy Groups that this P2SConnectionConfiguration is attached to.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          }
        },
        "previousConfigurationPolicyGroupAssociations": {
          "type": "array",
          "description": "List of previous Configuration Policy Groups that this P2SConnectionConfiguration was attached to.",
          "items": {
            "$ref": "#/definitions/VpnServerConfigurationPolicyGroup"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the P2SConnectionConfiguration resource.",
          "readOnly": true
        }
      }
    },
    "P2SVpnConnectionHealth": {
      "type": "object",
      "description": "P2S Vpn connection detailed health written to sas url.",
      "properties": {
        "sasUrl": {
          "type": "string",
          "description": "Returned sas url of the blob to which the p2s vpn connection detailed health will be written."
        }
      }
    },
    "P2SVpnConnectionHealthRequest": {
      "type": "object",
      "description": "List of P2S Vpn connection health request.",
      "properties": {
        "vpnUserNamesFilter": {
          "type": "array",
          "description": "The list of p2s vpn user names whose p2s vpn connection detailed health to retrieve for.",
          "items": {
            "type": "string"
          }
        },
        "outputBlobSasUrl": {
          "type": "string",
          "description": "The sas-url to download the P2S Vpn connection health detail."
        }
      }
    },
    "P2SVpnConnectionRequest": {
      "type": "object",
      "description": "List of p2s vpn connections to be disconnected.",
      "properties": {
        "vpnConnectionIds": {
          "type": "array",
          "description": "List of p2s vpn connection Ids.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "P2SVpnGateway": {
      "type": "object",
      "description": "P2SVpnGateway Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/P2SVpnGatewayProperties",
          "description": "Properties of the P2SVpnGateway.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/ResourceWithRequiredLocation"
        }
      ]
    },
    "P2SVpnGatewayProperties": {
      "type": "object",
      "description": "Parameters for P2SVpnGateway.",
      "properties": {
        "virtualHub": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The VirtualHub to which the gateway belongs."
        },
        "p2SConnectionConfigurations": {
          "type": "array",
          "description": "List of all p2s connection configurations of the gateway.",
          "items": {
            "$ref": "#/definitions/P2SConnectionConfiguration"
          }
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the P2S VPN gateway resource.",
          "readOnly": true
        },
        "vpnGatewayScaleUnit": {
          "type": "integer",
          "format": "int32",
          "description": "The scale unit for this p2s vpn gateway."
        },
        "vpnServerConfiguration": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The VpnServerConfiguration to which the p2sVpnGateway is attached to."
        },
        "vpnClientConnectionHealth": {
          "$ref": "./networkGateway.json#/definitions/VpnClientConnectionHealth",
          "description": "All P2S VPN clients' connection health status.",
          "readOnly": true
        },
        "customDnsServers": {
          "type": "array",
          "description": "List of all customer specified DNS servers IP addresses.",
          "items": {
            "type": "string"
          }
        },
        "isRoutingPreferenceInternet": {
          "type": "boolean",
          "description": "Enable Routing Preference property for the Public IP Interface of the P2SVpnGateway."
        }
      }
    },
    "P2SVpnProfileParameters": {
      "type": "object",
      "description": "Vpn Client Parameters for package generation.",
      "properties": {
        "authenticationMethod": {
          "$ref": "./common.json#/definitions/AuthenticationMethod",
          "description": "VPN client authentication method."
        }
      }
    },
    "Parameter": {
      "type": "object",
      "description": "Parameters for an Action.",
      "properties": {
        "routePrefix": {
          "type": "array",
          "description": "List of route prefixes.",
          "items": {
            "type": "string"
          }
        },
        "community": {
          "type": "array",
          "description": "List of BGP communities.",
          "items": {
            "type": "string"
          }
        },
        "asPath": {
          "type": "array",
          "description": "List of AS paths.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PeerRoute": {
      "type": "object",
      "description": "Peer routing details.",
      "properties": {
        "localAddress": {
          "type": "string",
          "description": "The peer's local address.",
          "readOnly": true
        },
        "network": {
          "type": "string",
          "description": "The route's network prefix.",
          "readOnly": true
        },
        "nextHop": {
          "type": "string",
          "description": "The route's next hop.",
          "readOnly": true
        },
        "sourcePeer": {
          "type": "string",
          "description": "The peer this route was learned from.",
          "readOnly": true
        },
        "origin": {
          "type": "string",
          "description": "The source this route was learned from.",
          "readOnly": true
        },
        "asPath": {
          "type": "string",
          "description": "The route's AS path sequence.",
          "readOnly": true
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "The route's weight.",
          "readOnly": true
        }
      }
    },
    "PropagatedRouteTable": {
      "type": "object",
      "description": "The list of RouteTables to advertise the routes to.",
      "properties": {
        "labels": {
          "type": "array",
          "description": "The list of labels.",
          "items": {
            "type": "string"
          }
        },
        "ids": {
          "type": "array",
          "description": "The list of resource ids of all the RouteTables.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          }
        }
      }
    },
    "Record<PeerRoute[]>": {
      "type": "object",
      "additionalProperties": {
        "items": {
          "$ref": "#/definitions/PeerRoute"
        },
        "type": "array"
      }
    },
    "RouteMap": {
      "type": "object",
      "description": "The RouteMap child resource of a Virtual hub.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RouteMapProperties",
          "description": "Properties of the RouteMap resource.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/ReadOnlySubResourceModel"
        }
      ]
    },
    "RouteMapProperties": {
      "type": "object",
      "description": "Properties of RouteMap resource",
      "properties": {
        "associatedInboundConnections": {
          "type": "array",
          "description": "List of connections which have this RoutMap associated for inbound traffic.",
          "items": {
            "type": "string"
          }
        },
        "associatedOutboundConnections": {
          "type": "array",
          "description": "List of connections which have this RoutMap associated for outbound traffic.",
          "items": {
            "type": "string"
          }
        },
        "rules": {
          "type": "array",
          "description": "List of RouteMap rules to be applied.",
          "items": {
            "$ref": "#/definitions/RouteMapRule"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the RouteMap resource.",
          "readOnly": true
        }
      }
    },
    "RouteMapRule": {
      "type": "object",
      "description": "A RouteMap Rule.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The unique name for the rule."
        },
        "matchCriteria": {
          "type": "array",
          "description": "List of matching criterion which will be applied to traffic.",
          "items": {
            "$ref": "#/definitions/Criterion"
          },
          "x-ms-identifiers": []
        },
        "actions": {
          "type": "array",
          "description": "List of actions which will be applied on a match.",
          "items": {
            "$ref": "#/definitions/Action"
          },
          "x-ms-identifiers": []
        },
        "nextStepIfMatched": {
          "$ref": "./common.json#/definitions/NextStep",
          "description": "Next step after rule is evaluated. Current supported behaviors are 'Continue'(to next rule) and 'Terminate'."
        }
      }
    },
    "RoutingConfiguration": {
      "type": "object",
      "description": "Routing Configuration indicating the associated and propagated route tables for this connection.",
      "properties": {
        "associatedRouteTable": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The resource id RouteTable associated with this RoutingConfiguration."
        },
        "propagatedRouteTables": {
          "$ref": "#/definitions/PropagatedRouteTable",
          "description": "The list of RouteTables to advertise the routes to."
        },
        "vnetRoutes": {
          "$ref": "#/definitions/VnetRoute",
          "description": "List of routes that control routing from VirtualHub into a virtual network connection."
        },
        "inboundRouteMap": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The resource id of the RouteMap associated with this RoutingConfiguration for inbound learned routes."
        },
        "outboundRouteMap": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The resource id of theRouteMap associated with this RoutingConfiguration for outbound advertised routes."
        }
      }
    },
    "RoutingIntent": {
      "type": "object",
      "description": "The routing intent child resource of a Virtual hub.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RoutingIntentProperties",
          "description": "Properties of the RoutingIntent resource.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResourceModel"
        }
      ]
    },
    "RoutingIntentProperties": {
      "type": "object",
      "description": "The properties of a RoutingIntent resource.",
      "properties": {
        "routingPolicies": {
          "type": "array",
          "description": "List of routing policies.",
          "items": {
            "$ref": "#/definitions/RoutingPolicy"
          }
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the RoutingIntent resource.",
          "readOnly": true
        }
      }
    },
    "RoutingPolicy": {
      "type": "object",
      "description": "The routing policy object used in a RoutingIntent resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The unique name for the routing policy."
        },
        "destinations": {
          "type": "array",
          "description": "List of all destinations which this routing policy is applicable to (for example: Internet, PrivateTraffic).",
          "items": {
            "type": "string"
          }
        },
        "nextHop": {
          "type": "string",
          "description": "The next hop resource id on which this routing policy is applicable to."
        }
      },
      "required": [
        "name",
        "destinations",
        "nextHop"
      ]
    },
    "SharedKeyProperties": {
      "type": "object",
      "description": "Parameters for SharedKey.",
      "properties": {
        "sharedKey": {
          "type": "string",
          "format": "password",
          "description": "The value of the shared key for the vpn link connection.",
          "x-ms-secret": true
        },
        "sharedKeyLength": {
          "type": "integer",
          "format": "int32",
          "description": "The length of the shared key for the vpn link connection.",
          "minimum": 1,
          "maximum": 128
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the SharedKey resource.",
          "readOnly": true
        }
      }
    },
    "StaticRoute": {
      "type": "object",
      "description": "List of all Static Routes.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the StaticRoute that is unique within a VnetRoute."
        },
        "addressPrefixes": {
          "type": "array",
          "description": "List of all address prefixes.",
          "items": {
            "type": "string"
          }
        },
        "nextHopIpAddress": {
          "type": "string",
          "description": "The ip address of the next hop."
        }
      }
    },
    "StaticRoutesConfig": {
      "type": "object",
      "description": "Configuration for static routes on this HubVnetConnectionConfiguration for static routes on this HubVnetConnection.",
      "properties": {
        "propagateStaticRoutes": {
          "type": "boolean",
          "description": "Boolean indicating whether static routes on this connection are automatically propagate to route tables which this connection propagates to.",
          "readOnly": true
        },
        "vnetLocalRouteOverrideCriteria": {
          "$ref": "./common.json#/definitions/VnetLocalRouteOverrideCriteria",
          "description": "Parameter determining whether NVA in spoke vnet is bypassed for traffic with destination in spoke."
        }
      }
    },
    "VirtualHub": {
      "type": "object",
      "description": "VirtualHub Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualHubProperties",
          "description": "Properties of the virtual hub.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "Kind of service virtual hub. This is metadata used for the Azure portal experience for Route Server.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/ResourceWithRequiredLocation"
        }
      ]
    },
    "VirtualHubEffectiveRoute": {
      "type": "object",
      "description": "The effective route configured on the virtual hub or specified resource.",
      "properties": {
        "addressPrefixes": {
          "type": "array",
          "description": "The list of address prefixes.",
          "items": {
            "type": "string"
          }
        },
        "nextHops": {
          "type": "array",
          "description": "The list of next hops.",
          "items": {
            "type": "string"
          }
        },
        "nextHopType": {
          "type": "string",
          "description": "The type of the next hop."
        },
        "asPath": {
          "type": "string",
          "description": "The ASPath of this route."
        },
        "routeOrigin": {
          "type": "string",
          "description": "The origin of this route."
        }
      }
    },
    "VirtualHubEffectiveRouteList": {
      "type": "object",
      "description": "EffectiveRoutes List.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of effective routes configured on the virtual hub or the specified resource.",
          "items": {
            "$ref": "#/definitions/VirtualHubEffectiveRoute"
          }
        }
      }
    },
    "VirtualHubId": {
      "type": "object",
      "description": "Virtual Hub identifier.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource URI for the Virtual Hub where the ExpressRoute gateway is or will be deployed. The Virtual Hub resource and the ExpressRoute gateway resource reside in the same subscription."
        }
      }
    },
    "VirtualHubProperties": {
      "type": "object",
      "description": "Parameters for VirtualHub.",
      "properties": {
        "virtualWan": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The VirtualWAN to which the VirtualHub belongs."
        },
        "vpnGateway": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The VpnGateway associated with this VirtualHub."
        },
        "p2SVpnGateway": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The P2SVpnGateway associated with this VirtualHub."
        },
        "expressRouteGateway": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The expressRouteGateway associated with this VirtualHub."
        },
        "azureFirewall": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The azureFirewall associated with this VirtualHub."
        },
        "securityPartnerProvider": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The securityPartnerProvider associated with this VirtualHub."
        },
        "addressPrefix": {
          "type": "string",
          "description": "Address-prefix for this VirtualHub."
        },
        "routeTable": {
          "$ref": "#/definitions/VirtualHubRouteTable",
          "description": "The routeTable associated with this virtual hub."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the virtual hub resource.",
          "readOnly": true
        },
        "securityProviderName": {
          "type": "string",
          "description": "The Security Provider name."
        },
        "virtualHubRouteTableV2s": {
          "type": "array",
          "description": "List of all virtual hub route table v2s associated with this VirtualHub.",
          "items": {
            "$ref": "#/definitions/VirtualHubRouteTableV2"
          }
        },
        "sku": {
          "type": "string",
          "description": "The sku of this VirtualHub."
        },
        "routingState": {
          "$ref": "./common.json#/definitions/RoutingState",
          "description": "The routing state.",
          "readOnly": true
        },
        "bgpConnections": {
          "type": "array",
          "description": "List of references to Bgp Connections.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "ipConfigurations": {
          "type": "array",
          "description": "List of references to IpConfigurations.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "routeMaps": {
          "type": "array",
          "description": "List of references to RouteMaps.",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true
        },
        "virtualRouterAsn": {
          "type": "integer",
          "format": "int64",
          "description": "VirtualRouter ASN.",
          "minimum": 0,
          "maximum": 4294967295
        },
        "virtualRouterIps": {
          "type": "array",
          "description": "VirtualRouter IPs.",
          "items": {
            "type": "string"
          }
        },
        "allowBranchToBranchTraffic": {
          "type": "boolean",
          "description": "Flag to control transit for VirtualRouter hub."
        },
        "preferredRoutingGateway": {
          "$ref": "./common.json#/definitions/PreferredRoutingGateway",
          "description": "The preferred gateway to route on-prem traffic"
        },
        "hubRoutingPreference": {
          "$ref": "./common.json#/definitions/HubRoutingPreference",
          "description": "The hubRoutingPreference of this VirtualHub."
        },
        "virtualRouterAutoScaleConfiguration": {
          "$ref": "#/definitions/VirtualRouterAutoScaleConfiguration",
          "description": "The VirtualHub Router autoscale configuration."
        }
      }
    },
    "VirtualHubRoute": {
      "type": "object",
      "description": "VirtualHub route.",
      "properties": {
        "addressPrefixes": {
          "type": "array",
          "description": "List of all addressPrefixes.",
          "items": {
            "type": "string"
          }
        },
        "nextHopIpAddress": {
          "type": "string",
          "description": "NextHop ip address."
        }
      }
    },
    "VirtualHubRouteTable": {
      "type": "object",
      "description": "VirtualHub route table.",
      "properties": {
        "routes": {
          "type": "array",
          "description": "List of all routes.",
          "items": {
            "$ref": "#/definitions/VirtualHubRoute"
          }
        }
      }
    },
    "VirtualHubRouteTableV2": {
      "type": "object",
      "description": "VirtualHubRouteTableV2 Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualHubRouteTableV2Properties",
          "description": "Properties of the virtual hub route table v2.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResource"
        }
      ]
    },
    "VirtualHubRouteTableV2Properties": {
      "type": "object",
      "description": "Parameters for VirtualHubRouteTableV2.",
      "properties": {
        "routes": {
          "type": "array",
          "description": "List of all routes.",
          "items": {
            "$ref": "#/definitions/VirtualHubRouteV2"
          }
        },
        "attachedConnections": {
          "type": "array",
          "description": "List of all connections attached to this route table v2.",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the virtual hub route table v2 resource.",
          "readOnly": true
        }
      }
    },
[...]
