{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Titan management service",
    "version": "2021-10-01-preview",
    "description": "Microsoft.Titan Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ComputeDevices"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Titan/computeDevices": {
      "get": {
        "operationId": "ComputeDevices_List",
        "tags": [
          "ComputeDevices"
        ],
        "description": "List ComputeDeviceResource resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ComputeDeviceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ComputeDevices_List": {
            "$ref": "./examples/ComputeDevices_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Titan/computeDevices/{deviceName}": {
      "get": {
        "operationId": "ComputeDevices_Get",
        "tags": [
          "ComputeDevices"
        ],
        "description": "Get a ComputeDeviceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "The parent resource name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-._]{1,58}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ComputeDeviceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ComputeDevices_Get": {
            "$ref": "./examples/ComputeDevices_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Titan/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ComputeDeviceProperties": {
      "type": "object",
      "description": "Compute Device Properties",
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "The parent device name",
          "readOnly": true
        },
        "deviceType": {
          "type": "string",
          "description": "The parent device type",
          "readOnly": true
        },
        "dcCode": {
          "type": "string",
          "description": "The short datacenter code where the physical device is located as surfaced by Network Graph Service (NGS). Ex: BN1 ",
          "readOnly": true
        },
        "cloudType": {
          "type": "string",
          "description": "The cloud of physical device as surfaced by Network Graph Service (NGS).",
          "readOnly": true
        },
        "region": {
          "type": "string",
          "description": "The geographical region of the physical device as surfaced by Network Graph Service (NGS).",
          "readOnly": true
        },
        "deploymentType": {
          "type": "string",
          "description": "The onboarding group as surfaced by Network Graph Service (NGS). ",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "If the NgsDeviceType is a chassis manager or rack manager, the location of the rack. Unknown otherwise. Surfaced by Network Graph Service (NGS).",
          "readOnly": true
        },
        "function": {
          "type": "string",
          "description": "Whether the device is for production. Surfaced by Network Graph Service (NGS).",
          "readOnly": true
        },
        "assetTag": {
          "type": "string",
          "description": "Unique asset tag of the machine as reported by Hardware Inventory System.",
          "readOnly": true
        },
        "ipAddress": {
          "type": "string",
          "description": "The main (or front-end) IP address of the machine at the time of the snapshot.",
          "readOnly": true
        },
        "lifeCycleState": {
          "type": "string",
          "description": "Represents the logical state of the machine as it goes through the hardware lifecycle.",
          "readOnly": true
        },
        "macAddress": {
          "type": "string",
          "description": "The network MAC address of the machine.",
          "readOnly": true
        },
        "machineName": {
          "type": "string",
          "description": "The name of the machine.",
          "readOnly": true
        },
        "machineType": {
          "type": "string",
          "description": "A device that connects to the network. One of: Server, ChassisManager, RackManager.",
          "readOnly": true
        },
        "rackName": {
          "type": "string",
          "description": "The name of the physical structure the machine is on.",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Unique serial number of the machine as reported by Hardware Inventory System.",
          "readOnly": true
        },
        "serviceTreeId": {
          "type": "string",
          "description": "The Service Tree ID owner of the machine.",
          "readOnly": true
        },
        "workloadType": {
          "type": "string",
          "description": "If the machine type is a server, the environment in which workloads are run. One of: Baremetal, VM, Container.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation",
          "readOnly": true
        }
      },
      "required": [
        "deviceName",
        "deviceType",
        "dcCode",
        "cloudType",
        "region",
        "deploymentType",
        "location",
        "function",
        "assetTag",
        "ipAddress",
        "lifeCycleState",
        "macAddress",
        "machineName",
        "machineType",
        "rackName",
        "serialNumber",
        "serviceTreeId",
        "workloadType"
      ]
    },
    "ComputeDeviceResource": {
      "type": "object",
      "description": "Compute Device resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ComputeDeviceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ComputeDeviceResourceListResult": {
      "type": "object",
      "description": "The response of a ComputeDeviceResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ComputeDeviceResource items on this page",
          "items": {
            "$ref": "#/definitions/ComputeDeviceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state enum",
      "enum": [
        "Provisioning",
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Deleted",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource action is successful."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The resource action has failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The resource action has been cancelled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource provisioning has been accepted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The resource has been deleted."
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The resource status is unspecified."
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
