{
  "swagger": "2.0",
  "info": {
    "version": "2020-05-01-preview",
    "title": "cpim",
    "description": "CPIM Service Client ",
    "x-ms-code-generation-settings": {
      "name": "cpimClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "OperationGroup_Get",
        "x-ms-examples": {},
        "description": "Lists the operations available from this provider.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages/{resourceName}": {
      "put": {
        "operationId": "GuestUsages_Create",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Create": {
            "$ref": "./examples/GuestUsagesCreate.json"
          }
        },
        "summary": "Creates a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "description": "Creates a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "Resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and the resource was created successfully",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          }
        }
      },
      "patch": {
        "operationId": "GuestUsages_Update",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Update": {
            "$ref": "./examples/GuestUsagesUpdate.json"
          }
        },
        "summary": "Updates a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "description": "Updates a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "Resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          }
        }
      },
      "delete": {
        "operationId": "GuestUsages_Delete",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Delete": {
            "$ref": "./examples/GuestUsagesDelete.json"
          }
        },
        "summary": "Deletes a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "description": "Deletes a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "204": {
            "description": "No Content."
          },
          "202": {
            "description": "Accepted."
          }
        }
      },
      "get": {
        "operationId": "GuestUsages_Get",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Get": {
            "$ref": "./examples/GuestUsagesGet.json"
          }
        },
        "summary": "Gets a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "description": "Gets a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Operation": {
      "description": "A Guest Usages REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Consumption.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: UsageDetail, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            },
            "description": {
              "description": "Friendly name of the operation",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of listing operations for the resourceProvider",
      "properties": {
        "value": {
          "description": "List of analysis services operations supported by the Microsoft.AzureActiveDirectory resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "GuestUsagesResourceProperties": {
      "description": "Guest Usages Resource",
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "An identifier that represents the Analysis Services resource."
        }
      }
    },
    "GuestUsagesResource": {
      "description": "Guest Usages Resource",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "An identifier that represents the Analysis Services resource."
        },
        "name": {
          "type": "string",
          "description": "The name of the Analysis Services resource."
        },
        "type": {
          "type": "string",
          "description": "The type of the Analysis Services resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the Analysis Services resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional resource provisioning properties."
        },
        "properties": {
          "$ref": "#/definitions/GuestUsagesResourceProperties",
          "description": "The Guest Usages Resource Properties"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The initial domain name of the AAD tenant.",
      "x-ms-parameter-location": "method"
    }
  }
}
