{
  "swagger": "2.0",
  "info": {
    "version": "2020-05-01-preview",
    "title": "cpim",
    "description": "CPIM Service Client "
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.AzureActiveDirectory/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "operations_list": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "description": "Lists the operations available from this provider.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages/{resourceName}": {
      "put": {
        "operationId": "GuestUsages_Create",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Create": {
            "$ref": "./examples/GuestUsagesCreate.json"
          }
        },
        "summary": "Creates a Guest Usages resource",
        "description": "Creates a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "Resource",
            "in": "body",
            "description": "Guest Usages resource to be created",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and the resource was created successfully",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "operationId": "GuestUsages_Update",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Update": {
            "$ref": "./examples/GuestUsagesUpdate.json"
          }
        },
        "summary": "Updates a Guest Usages resource",
        "description": "Updates a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "ResourcePatch",
            "in": "body",
            "description": "Guest Usages Resource to be updated",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Guest Usages Resource Successfully Updated",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "GuestUsages_Delete",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Delete": {
            "$ref": "./examples/GuestUsagesDelete.json"
          }
        },
        "summary": "Deletes a Guest Usages resource",
        "description": "Deletes a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Guest Usages Resource Successfully Deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "get": {
        "operationId": "GuestUsages_Get",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Get": {
            "$ref": "./examples/GuestUsagesGet.json"
          }
        },
        "summary": "Gets a Guest Usages resource",
        "description": "Gets a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Guest Usages resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/guestUsages": {
      "get": {
        "operationId": "GuestUsages_ListBySubscription",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsagesSubscription_List": {
            "$ref": "./examples/GuestUsagesSubscriptionGet.json"
          }
        },
        "summary": "Gets Guest Usages resources under a subscription",
        "description": "Gets Guest Usages resources under a subscription for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Guest Usages resources under the subscription successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages": {
      "get": {
        "operationId": "GuestUsages_ListByResourceGroup",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsagesResourceGroup_List": {
            "$ref": "./examples/GuestUsagesResourceGroupGet.json"
          }
        },
        "summary": "Gets Guest Usages resources under resource group",
        "description": "Gets Guest Usages resources under a resource group for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Guest Usages resources under the resourceGroup successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "Operation": {
      "description": "Microsoft.AzureActiveDirectory REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.AzureActiveDirectory.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: GuestUsages, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            },
            "description": {
              "description": "Friendly name of the operation",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of listing operations for the resourceProvider",
      "properties": {
        "value": {
          "description": "List of cpim service operations supported by the Microsoft.AzureActiveDirectory resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "GuestUsagesResourceProperties": {
      "description": "Guest Usages Resource Properties",
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "An identifier for the tenant for which the resource is being created"
        }
      }
    },
    "GuestUsagesResource": {
      "description": "Guest Usages Resource",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "An identifier that represents the Guest Usages resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the Guest Usages resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the Guest Usages resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the Guest Usages resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional resource provisioning properties."
        },
        "properties": {
          "$ref": "#/definitions/GuestUsagesResourceProperties",
          "x-ms-client-flatten": true,
          "description": "The Guest Usages Resource Properties"
        }
      },
      "x-ms-azure-resource": true
    },
    "GuestUsagesResourcePatch": {
      "description": "Guest Usages Resource for Patch",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional resource provisioning properties."
        }
      }
    },
    "GuestUsagesResourceList": {
      "description": "The collection of guest usages resources",
      "properties": {
        "value": {
          "description": "List of guest usages resources",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/GuestUsagesResource"
          }
        }
      }
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
        }
      },
      "description": "An error response for a resource management request."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The initial domain name of the AAD tenant.",
      "x-ms-parameter-location": "method"
    }
  }
}
