{
  "swagger": "2.0",
  "info": {
    "title": "Azure Maps Feedback Service",
    "version": "1.0"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "These are the [Azure Active Directory OAuth2](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-overview)  Flows. When paired with [Azure Role Based Access](https://docs.microsoft.com/en-us/azure/role-based-access-control/overview)  control it can be used to control access to Azure Maps REST APIs. Azure Role based access controls are used to designate access to one or more Azure Maps resource account or sub-resources. Any user, group, or service principal can be granted access via a  built in role or a custom role composed of one or more permissions to Azure Maps REST APIs.\n\nTo implement scenarios we recommend viewing [authentication concepts](https://aka.ms/amauth). In summary, this security definition provides a solution  for modeling application(s) via objects capable of access control on specific APIs and scopes.\n\n#### Note\n* This security definition **requires** the use of the `x-ms-client-id` header to indicate which Azure Maps resource the application is requesting access to.  This can be acquired from the [Maps management API](https://aka.ms/amauthdetails).\n* The `Authorization URL` is specific to the Azure public cloud instance. Sovereign clouds have unique Authorization URLs and Azure Active directory configurations. \n* The Azure role based access control is configured from the [Azure management plane](https://aka.ms/amrbac) via Azure portal, Powershell, CLI, Azure SDKs, or REST APIs.\n* Usage of the [Azure Maps Web SDK](https://aka.ms/amaadmc) allows for configuration based setup of an application for multiple use cases.\n* Currently Azure Active Directory [v1.0](https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison) tokens are supported.",
      "scopes": {
        "user_impersonation": "Impersonates a user's Azure Active Directory account."
      }
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "description": "This is a shared key which is provisioned when creating an [Azure Maps resource](https://aka.ms/amauth) through the Azure management plane  via Azure portal, Powershell, CLI, Azure SDKs, or REST APIs. With this key, any application is authorized to access  all REST APIs. In other words, these can currently be treated as master keys to the account which they are issued for.  For publicly exposed applications our recommendation is to use server to server access of Azure Maps REST APIs where this key can be  securely stored.",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "azure_auth": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {},
  "definitions": {
    "GeoJsonBoundingBox": {
      "description": "Bounding Box. The bounding box is an array of length 2*n where n is\nthe number of dimensions represented in the contained geometries,\nwith all axes of the most southwesterly point followed by all axes\nof the more northeasterly point.  The axes order of a bbox follows\nthe axes order of geometries.\n\nThe edges of the bounding box follow lines of constant longitude,\nlatitude, and elevation.",
      "type": "array",
      "items": {
        "type": "number",
        "format": "double"
      }
    },
    "FeedbackStatusResponse": {
      "type": "object",
      "required": [
        "formatVersion",
        "feedbackId",
        "status",
        "createDate",
        "featureType",
        "action",
        "request"
      ],
      "properties": {
        "formatVersion": {
          "type": "string"
        },
        "feedbackId": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "createDate": {
          "type": "string"
        },
        "featureType": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "request": {
          "description": "The original request object.",
          "type": "object"
        }
      }
    },
    "FeedbackAddPoiRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackPoiFeature"
        }
      }
    },
    "FeedbackFixPoiRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackPoiUpdateFeature"
        }
      }
    },
    "FeedbackDeletePoiRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackPoiFeature"
        }
      }
    },
    "FeedbackPoiFeature": {
      "type": "object",
      "required": [
        "name",
        "category",
        "geometry"
      ],
      "properties": {
        "featureId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subcategory": {
          "type": "string"
        },
        "emailAddress": {
          "type": "string"
        },
        "faxNumber": {
          "type": "string"
        },
        "telephoneNumber": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "houseNumber": {
          "type": "string"
        },
        "streetName": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "postCode": {
          "type": "string"
        },
        "stateName": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "geometry": {
          "$ref": "../../../Common/common.json#/definitions/Point"
        }
      }
    },
    "FeedbackPoiUpdateFeature": {
      "type": "object",
      "required": [
        "name",
        "category",
        "geometry"
      ],
      "properties": {
        "featureId": {
          "type": "string"
        },
        "name": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "category": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "subcategory": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "emailAddress": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "faxNumber": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "telephoneNumber": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "website": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "houseNumber": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "streetName": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "city": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "postCode": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "stateName": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "country": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "geometry": {
          "$ref": "#/definitions/FeedbackGeometryFieldUpdate"
        }
      }
    },
    "FeedbackAddAddressRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackAddressFeature"
        }
      }
    },
    "FeedbackFixAddressRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackAddressUpdateFeature"
        }
      }
    },
    "FeedbackDeleteAddressRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackAddressFeature"
        }
      }
    },
    "FeedbackAddressFeature": {
      "type": "object",
      "required": [
        "houseNumber",
        "streetName",
        "city",
        "postCode",
        "geometry"
      ],
      "properties": {
        "featureId": {
          "type": "string"
        },
        "houseNumber": {
          "type": "string"
        },
        "streetName": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "postCode": {
          "type": "string"
        },
        "stateName": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "geometry": {
          "$ref": "../../../Common/common.json#/definitions/Point"
        }
      }
    },
    "FeedbackAddressUpdateFeature": {
      "type": "object",
      "required": [
        "houseNumber",
        "streetName",
        "city",
        "postCode",
        "geometry"
      ],
      "properties": {
        "featureId": {
          "type": "string"
        },
        "houseNumber": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "streetName": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "city": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "postCode": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "stateName": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "country": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "geometry": {
          "$ref": "#/definitions/FeedbackGeometryFieldUpdate"
        }
      }
    },
    "FeedbackFixOtherRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        }
      }
    },
    "FeedbackContactInformation": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string"
        }
      }
    },
    "FeedbackStringFieldUpdate": {
      "type": "object",
      "properties": {
        "current": {
          "type": "string"
        },
        "proposed": {
          "type": "string"
        }
      }
    },
    "FeedbackGeometryFieldUpdate": {
      "type": "object",
      "properties": {
        "current": {
          "$ref": "../../../Common/common.json#/definitions/Geometry"
        },
        "proposed": {
          "$ref": "../../../Common/common.json#/definitions/Geometry"
        }
      }
    }
  }
}
