{
  "swagger": "2.0",
  "info": {
    "title": "Azure Maps Feedback Service",
    "version": "1.0"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "$ref": "../../../Common/preview/1.0/common.json#/securityDefinitions/azure_auth"
    },
    "apiKeyQuery": {
      "$ref": "../../../Common/preview/1.0/common.json#/securityDefinitions/apiKeyQuery"
    }
  },
  "security": [
    {
      "azure_auth": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {},
  "definitions": {
    "GeoJsonBoundingBox": {
      "description": "Bounding Box. The bounding box is an array of length 2*n where n is\nthe number of dimensions represented in the contained geometries,\nwith all axes of the most southwesterly point followed by all axes\nof the more northeasterly point.  The axes order of a bbox follows\nthe axes order of geometries.\n\nThe edges of the bounding box follow lines of constant longitude,\nlatitude, and elevation.",
      "type": "array",
      "items": {
        "type": "number",
        "format": "double"
      }
    },
    "FeedbackStatusResponse": {
      "type": "object",
      "required": [
        "formatVersion",
        "feedbackId",
        "status",
        "createDate",
        "featureType",
        "action",
        "request"
      ],
      "properties": {
        "formatVersion": {
          "type": "string"
        },
        "feedbackId": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "createDate": {
          "type": "string"
        },
        "featureType": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "request": {
          "description": "The original request object.",
          "type": "object"
        }
      }
    },
    "FeedbackAddPoiRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackPoiFeature"
        }
      }
    },
    "FeedbackFixPoiRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackPoiUpdateFeature"
        }
      }
    },
    "FeedbackDeletePoiRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackPoiFeature"
        }
      }
    },
    "FeedbackPoiFeature": {
      "type": "object",
      "required": [
        "name",
        "category",
        "geometry"
      ],
      "properties": {
        "featureId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subcategory": {
          "type": "string"
        },
        "emailAddress": {
          "type": "string"
        },
        "faxNumber": {
          "type": "string"
        },
        "telephoneNumber": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "houseNumber": {
          "type": "string"
        },
        "streetName": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "postCode": {
          "type": "string"
        },
        "stateName": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "geometry": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/Point"
        }
      }
    },
    "FeedbackPoiUpdateFeature": {
      "type": "object",
      "required": [
        "name",
        "category",
        "geometry"
      ],
      "properties": {
        "featureId": {
          "type": "string"
        },
        "name": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "category": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "subcategory": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "emailAddress": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "faxNumber": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "telephoneNumber": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "website": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "houseNumber": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "streetName": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "city": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "postCode": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "stateName": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "country": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "geometry": {
          "$ref": "#/definitions/FeedbackGeometryFieldUpdate"
        }
      }
    },
    "FeedbackAddAddressRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackAddressFeature"
        }
      }
    },
    "FeedbackFixAddressRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackAddressUpdateFeature"
        }
      }
    },
    "FeedbackDeleteAddressRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox",
        "feature"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        },
        "feature": {
          "$ref": "#/definitions/FeedbackAddressFeature"
        }
      }
    },
    "FeedbackAddressFeature": {
      "type": "object",
      "required": [
        "houseNumber",
        "streetName",
        "city",
        "postCode",
        "geometry"
      ],
      "properties": {
        "featureId": {
          "type": "string"
        },
        "houseNumber": {
          "type": "string"
        },
        "streetName": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "postCode": {
          "type": "string"
        },
        "stateName": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "geometry": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/Point"
        }
      }
    },
    "FeedbackAddressUpdateFeature": {
      "type": "object",
      "required": [
        "houseNumber",
        "streetName",
        "city",
        "postCode",
        "geometry"
      ],
      "properties": {
        "featureId": {
          "type": "string"
        },
        "houseNumber": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "streetName": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "city": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "postCode": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "stateName": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "country": {
          "$ref": "#/definitions/FeedbackStringFieldUpdate"
        },
        "geometry": {
          "$ref": "#/definitions/FeedbackGeometryFieldUpdate"
        }
      }
    },
    "FeedbackFixOtherRequestBody": {
      "type": "object",
      "required": [
        "location",
        "bbox"
      ],
      "properties": {
        "isMock": {
          "type": "boolean"
        },
        "location": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/GeoJSONPosition"
        },
        "bbox": {
          "$ref": "#/definitions/GeoJsonBoundingBox"
        },
        "comments": {
          "type": "string"
        },
        "contactInformation": {
          "$ref": "#/definitions/FeedbackContactInformation"
        }
      }
    },
    "FeedbackContactInformation": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string"
        }
      }
    },
    "FeedbackStringFieldUpdate": {
      "type": "object",
      "properties": {
        "current": {
          "type": "string"
        },
        "proposed": {
          "type": "string"
        }
      }
    },
    "FeedbackGeometryFieldUpdate": {
      "type": "object",
      "properties": {
        "current": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/Geometry"
        },
        "proposed": {
          "$ref": "../../../Common/preview/1.0/common.json#/definitions/Geometry"
        }
      }
    }
  }
}
