{
  "swagger": "2.0",
  "info": {
    "title": "SubscriptionClient",
    "version": "2022-12-01",
    "description": "All resource groups and resources exist within subscriptions. These operation enable you get information about your subscriptions and tenants. A tenant is a dedicated instance of Azure Active Directory (Azure AD) for your organization."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Resources/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available Microsoft.Resources REST API operations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {}
      }
    },
    "/subscriptions/{subscriptionId}/locations": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_ListLocations",
        "summary": "Gets all available geo-locations.",
        "description": "This operation provides all the locations that are available for resource providers; however, each resource provider may support a subset of this list.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "includeExtendedLocations",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to include extended locations.",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of locations.",
            "schema": {
              "$ref": "#/definitions/LocationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "GetLocationsWithASubscriptionId": {
            "$ref": "./examples/GetLocations.json"
          },
          "GetLocationsWithExtendedLocations": {
            "$ref": "./examples/GetLocationsWithExtendedLocations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Get",
        "description": "Gets details about a specified subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the subscription.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetASingleSubscription": {
            "$ref": "./examples/GetSubscription.json"
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_List",
        "description": "Gets all subscriptions for a tenant.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of subscriptions.",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetAllSubscriptions": {
            "$ref": "./examples/GetSubscriptions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/tenants": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "operationId": "Tenants_List",
        "description": "Gets the tenants for your account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of tenants.",
            "schema": {
              "$ref": "#/definitions/TenantListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetAllTenants": {
            "$ref": "./examples/GetTenants.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/checkZonePeers/": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_CheckZonePeers",
        "description": "Compares a subscriptions logical zone mapping",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckZonePeersRequest"
            },
            "description": "Parameters for checking zone peers."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the logical availability zone mapping between subscriptions",
            "schema": {
              "$ref": "#/definitions/CheckZonePeersResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetLogicalZoneMapping": {
            "$ref": "./examples/PostCheckZonePeers.json"
          }
        }
      }
    },
    "/providers/Microsoft.Resources/checkResourceName": {
      "post": {
        "tags": [
          "Tenants"
        ],
        "operationId": "checkResourceName",
        "description": "A resource name is valid if it is not a reserved word, does not contains a reserved word and does not start with a reserved word",
        "summary": "Checks resource name validity",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/CheckResourceNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns status as allowed or not.",
            "schema": {
              "$ref": "#/definitions/CheckResourceNameResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CheckValidityForAResourceName": {
            "$ref": "./examples/CheckResourceName.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PairedRegion": {
      "description": "Information regarding paired region.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the paired region."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified ID of the location. For example, /subscriptions/8d65815f-a5b6-402f-9298-045155da7d74/locations/westus."
        },
        "subscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription ID."
        }
      }
    },
    "AvailabilityZoneMappings": {
      "description": "Availability zone mappings for the region",
      "type": "object",
      "properties": {
        "logicalZone": {
          "type": "string",
          "readOnly": true,
          "description": "The logical zone id for the availability zone"
        },
        "physicalZone": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified physical zone id of availability zone to which logical zone id is mapped to"
        }
      }
    },
    "LocationMetadata": {
      "description": "Location metadata information",
      "type": "object",
      "properties": {
        "regionType": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the region.",
          "enum": [
            "Physical",
            "Logical"
          ],
          "x-ms-enum": {
            "name": "RegionType",
            "modelAsString": true
          }
        },
        "regionCategory": {
          "readOnly": true,
          "type": "string",
          "description": "The category of the region.",
          "enum": [
            "Recommended",
            "Extended",
            "Other"
          ],
          "x-ms-enum": {
            "name": "RegionCategory",
            "modelAsString": true
          }
        },
        "geography": {
          "readOnly": true,
          "type": "string",
          "description": "The geography of the location."
        },
        "geographyGroup": {
          "readOnly": true,
          "type": "string",
          "description": "The geography group of the location."
        },
        "longitude": {
          "readOnly": true,
          "type": "string",
          "description": "The longitude of the location."
        },
        "latitude": {
          "readOnly": true,
          "type": "string",
          "description": "The latitude of the location."
        },
        "physicalLocation": {
          "readOnly": true,
          "type": "string",
          "description": "The physical location of the Azure location."
        },
        "pairedRegion": {
          "type": "array",
          "description": "The regions paired to this region.",
          "items": {
            "$ref": "#/definitions/PairedRegion"
          }
        },
        "homeLocation": {
          "readOnly": true,
          "type": "string",
          "description": "The home location of an edge zone."
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified ID of the location. For example, /subscriptions/8d65815f-a5b6-402f-9298-045155da7d74/locations/westus."
        },
        "subscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The location name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The location type.",
          "enum": [
            "Region",
            "EdgeZone"
          ],
          "x-ms-enum": {
            "name": "LocationType",
            "modelAsString": false
          }
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "The display name of the location."
        },
        "regionalDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "The display name of the location and its region."
        },
        "metadata": {
          "description": "Metadata of the location, such as lat/long, paired region, and others.",
          "$ref": "#/definitions/LocationMetadata"
        },
        "availabilityZoneMappings": {
          "type": "array",
          "description": "The availability zone mappings for this region.",
          "items": {
            "$ref": "#/definitions/AvailabilityZoneMappings"
          },
          "x-ms-identifiers": []
        }
      },
      "description": "Location information."
    },
    "LocationListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Location"
          },
          "description": "An array of locations."
        }
      },
      "description": "Location list operation response."
    },
    "Subscription": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified ID for the subscription. For example, /subscriptions/8d65815f-a5b6-402f-9298-045155da7d74"
        },
        "subscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription ID."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription display name."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription tenant ID."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription state. Possible values are Enabled, Warned, PastDue, Disabled, and Deleted.",
          "enum": [
            "Enabled",
            "Warned",
            "PastDue",
            "Disabled",
            "Deleted"
          ],
          "x-ms-enum": {
            "name": "SubscriptionState",
            "modelAsString": false
          }
        },
        "subscriptionPolicies": {
          "$ref": "#/definitions/SubscriptionPolicies",
          "description": "The subscription policies."
        },
        "authorizationSource": {
          "type": "string",
          "description": "The authorization source of the request. Valid values are one or more combinations of Legacy, RoleBased, Bypassed, Direct and Management. For example, 'Legacy, RoleBased'."
        },
        "managedByTenants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedByTenant"
          },
          "x-ms-identifiers": [
            "tenantId"
          ],
          "description": "An array containing the tenants managing the subscription."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The additional properties. "
          },
          "description": "The tags attached to the subscription."
        }
      },
      "description": "Subscription information."
    },
    "SubscriptionPolicies": {
      "type": "object",
      "properties": {
        "locationPlacementId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription location placement ID. The ID indicates which regions are visible for a subscription. For example, a subscription with a location placement Id of Public_2014-09-01 has access to Azure public regions."
        },
        "quotaId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription quota ID."
        },
        "spendingLimit": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription spending limit.",
          "enum": [
            "On",
            "Off",
            "CurrentPeriodOff"
          ],
          "x-ms-enum": {
            "name": "spendingLimit",
            "modelAsString": false
          }
        }
      },
      "description": "Subscription policies."
    },
    "ManagedByTenant": {
      "type": "object",
      "properties": {
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of the managing tenant. This is a GUID."
        }
      },
      "description": "Information about a tenant managing the subscription."
    },
    "SubscriptionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subscription"
          },
          "description": "An array of subscriptions."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "required": [
        "nextLink"
      ],
      "description": "Subscription list operation response."
    },
    "TenantIdDescription": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified ID of the tenant. For example, /tenants/8d65815f-a5b6-402f-9298-045155da7d74"
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID. For example, 8d65815f-a5b6-402f-9298-045155da7d74"
        },
        "tenantCategory": {
          "readOnly": true,
          "type": "string",
          "description": "Category of the tenant.",
          "enum": [
            "Home",
            "ProjectedBy",
            "ManagedBy"
          ],
          "x-ms-enum": {
            "name": "TenantCategory",
            "modelAsString": false
          }
        },
        "country": {
          "readOnly": true,
          "type": "string",
          "description": "Country/region name of the address for the tenant."
        },
        "countryCode": {
          "readOnly": true,
          "type": "string",
          "description": "Country/region abbreviation for the tenant."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "The display name of the tenant."
        },
        "domains": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "description": "The domain name for a tenant."
          },
          "description": "The list of domains for the tenant."
        },
        "defaultDomain": {
          "readOnly": true,
          "type": "string",
          "description": "The default domain for the tenant."
        },
        "tenantType": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant type. Only available for 'Home' tenant category."
        },
        "tenantBrandingLogoUrl": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant's branding logo URL. Only available for 'Home' tenant category."
        }
      },
      "description": "Tenant Id information."
    },
    "TenantListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TenantIdDescription"
          },
          "description": "An array of tenants."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "required": [
        "nextLink"
      ],
      "description": "Tenant Ids information."
    },
    "ResourceName": {
      "type": "object",
      "description": "Name and Type of the Resource",
      "required": [
        "name",
        "type"
      ],
      "properties": {
        "name": {
          "description": "Name of the resource",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the resource"
        }
      }
    },
    "CheckResourceNameResult": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of Resource",
          "type": "string"
        },
        "type": {
          "description": "Type of Resource",
          "type": "string"
        },
        "status": {
          "description": "Is the resource name Allowed or Reserved",
          "type": "string",
          "enum": [
            "Allowed",
            "Reserved"
          ],
          "x-ms-enum": {
            "name": "ResourceNameStatus",
            "modelAsString": true
          }
        }
      },
      "description": "Resource Name valid if not a reserved word, does not contain a reserved word and does not start with a reserved word"
    },
    "CloudError": {
      "type": "object",
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
        }
      },
      "description": "An error response for a resource management request."
    },
    "Operation": {
      "title": "REST API Operation",
      "description": "Details of a REST API operation, returned from the Resource Provider Operations API",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "isDataAction": {
          "description": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations.",
          "type": "boolean",
          "readOnly": true
        },
        "display": {
          "description": "Localized display information for this particular operation.",
          "type": "object",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Resources",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            },
            "description": {
              "description": "Description of the operation.",
              "type": "string"
            }
          }
        },
        "origin": {
          "description": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\"",
          "type": "string",
          "readOnly": true,
          "enum": [
            "user",
            "system",
            "user,system"
          ],
          "x-ms-enum": {
            "name": "Origin",
            "modelAsString": true
          }
        },
        "actionType": {
          "description": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "Internal"
          ],
          "x-ms-enum": {
            "name": "ActionType",
            "modelAsString": true
          }
        }
      }
    },
    "OperationListResult": {
      "description": "A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "List of operations supported by the resource provider"
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results (if there are any)."
        }
      }
    },
    "CheckZonePeersRequest": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The Microsoft location.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "subscriptionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The peer Microsoft Azure subscription ID."
        }
      },
      "description": "Check zone peers request parameters."
    },
    "CheckZonePeersResult": {
      "type": "object",
      "description": "Result of the Check zone peers operation.",
      "properties": {
        "subscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription ID."
        },
        "location": {
          "type": "string",
          "description": "the location of the subscription.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "availabilityZonePeers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AvailabilityZonePeers"
          },
          "x-ms-identifiers": [
            "availabilityZone"
          ],
          "description": "The Availability Zones shared by the subscriptions."
        }
      }
    },
    "AvailabilityZonePeers": {
      "type": "object",
      "properties": {
        "availabilityZone": {
          "readOnly": true,
          "type": "string",
          "description": "The availabilityZone."
        },
        "peers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Peers"
          },
          "x-ms-identifiers": [
            "availabilityZone",
            "subscriptionId"
          ],
          "description": "Details of shared availability zone."
        }
      },
      "description": "List of availability zones shared by the subscriptions."
    },
    "Peers": {
      "type": "object",
      "properties": {
        "subscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "The subscription ID."
        },
        "availabilityZone": {
          "readOnly": true,
          "type": "string",
          "description": "The availabilityZone."
        }
      },
      "description": "Information about shared availability zone."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription.",
      "x-ms-parameter-location": "method"
    },
    "CheckResourceNameParameter": {
      "description": "Resource object with values for resource name and resource type",
      "in": "body",
      "name": "Resource Name Definition",
      "schema": {
        "$ref": "#/definitions/ResourceName"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
