{
  "x-generator": "NSwag v13.12.1.0 (NJsonSchema v10.4.6.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Marketplace Catalog Browse API",
    "description": "Microsoft Marketplace Catalog Browse API",
    "version": "2022-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/products/{id}": {
      "get": {
        "tags": [
          "SinglePrivateProduct"
        ],
        "summary": "Returns a single product directly from BigCat, by subscription as audience",
        "operationId": "SinglePrivateProduct_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique product Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-partner-tenantid",
            "x-originalName": "partnerTenantId",
            "in": "header",
            "description": "Partner tenant ID",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-pricing-audience",
            "x-originalName": "pricingAudienceHeaderValue",
            "in": "header",
            "description": "Pricing audience",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "description": "Version of the REST API used for the request. ",
            "default": "2022-09-01-preview",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "includeStopSoldPlans",
            "in": "query",
            "description": "Denotes whether to include stop sold plans",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,zh-hans,zh-hant'. Default='en'",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "market",
            "in": "query",
            "description": "Product sold market, possible values at https://docs.microsoft.com/en-us/azure/marketplace/marketplace-geo-availability-currencies, such as ['US']",
            "default": "US",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "lookupOfferInTenantLevel",
            "in": "query",
            "description": "Optional - in case you want to check against tenant private audience also",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "includeHiddenPlans",
            "in": "query",
            "description": "Denotes whether to include hidden plans",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "x-ms-client-object-id",
            "x-originalName": "userObjectId",
            "in": "header",
            "description": "AAD user ID",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-client-alt-sec-id",
            "x-originalName": "altSecId",
            "in": "header",
            "description": "Alternate Security ID - relevant for MSA user",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a single product directly from BigCat, by subscription as audience",
            "schema": {
              "$ref": "#/definitions/ProductSummary"
            }
          },
          "404": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "In case the product does not exist, does not exist in the given market or is not available for the given audience",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "In case the request is malformed",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "In case the provided authorization token is not in allowed list",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "In case the provided authorization token validation has failed",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateProduct_Get": {
            "$ref": "./examples/SinglePrivateProduct_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/products/{id}": {
      "get": {
        "tags": [
          "TenantBasedSingleProduct"
        ],
        "summary": "Returns a single product directly from BigCat, by tenant as audience",
        "operationId": "TenantBasedSingleProduct_Get",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique product Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-client-tenant-id",
            "x-originalName": "tenantId",
            "in": "header",
            "required": true,
            "description": "The caller tenant Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-client-principal-name",
            "x-originalName": "userPrincipal",
            "in": "header",
            "required": true,
            "description": "The caller user principal",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-client-object-id",
            "x-originalName": "userObjectId",
            "in": "header",
            "description": "User object id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-client-subscription-id",
            "x-originalName": "subscriptionId",
            "in": "header",
            "description": "Subscription Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-pricing-audience",
            "x-originalName": "pricingAudienceHeaderValue",
            "in": "header",
            "description": "Pricing audience",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-partner-tenantid",
            "x-originalName": "partnerTenantId",
            "in": "header",
            "description": "Partner tenant Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-client-billingaccount-id",
            "x-originalName": "billingAccountId",
            "in": "header",
            "description": "Billing account Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-client-billingprofile-id",
            "x-originalName": "billingProfileId",
            "in": "header",
            "description": "Billing profile Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "description": "Version of the REST API used for the request. ",
            "default": "2022-09-01-preview",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "includeStopSoldPlans",
            "in": "query",
            "description": "Denotes whether to include stop-sold plans",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,zh-hans,zh-hant'. Default='en'",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "market",
            "in": "query",
            "description": "Product sold market, possible values at https://docs.microsoft.com/en-us/azure/marketplace/marketplace-geo-availability-currencies, such as ['US']",
            "default": "US",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "shouldCheckMarketplaceAdminPermissions",
            "in": "query",
            "description": "Denotes whether to include marketplace admin permissions",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "includeHiddenPlans",
            "in": "query",
            "description": "Denotes whether to include hidden plans",
            "default": false,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a single product directly from BigCat, by tenant as audience",
            "schema": {
              "$ref": "#/definitions/ProductSummary"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "In case the product does not exist, does not exist in the given market or is not available for the given audience",
            "x-ms-error-response": true,
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "In case the request is malformed",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "In case the provided authorization token is not in allowed list",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "In case the provided authorization token validation has failed",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TenantBasedProduct_Get": {
            "$ref": "./examples/TenantBasedSingleProduct_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/products": {
      "get": {
        "tags": [
          "ListingSubscriptionBasedPrivateProducts"
        ],
        "summary": "Returns a list of public, private and preview products, by subscription as audience",
        "operationId": "ListingSubscriptionBasedPrivateProducts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "description": "Version of the REST API used for the request. ",
            "default": "2022-09-01-preview",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,zh-hans,zh-hant'. Default='en'",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storefront",
            "in": "query",
            "description": "Relevant storefront, possible values - 'azure, amp, appsource'. Default='azure'",
            "default": "azure",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "market",
            "in": "query",
            "description": "Product sold market, possible values at https://docs.microsoft.com/en-us/azure/marketplace/marketplace-geo-availability-currencies, such as ['US']",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "excludePublic",
            "x-originalName": "excludePublicOffersAndPublicPlans",
            "in": "query",
            "description": "Denotes whether to exclude public products and plans",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the results. Example: '$select=displayName'"
          },
          {
            "type": "string",
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition. Example: '$filter=(isReseller eq true)'"
          },
          {
            "type": "string",
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline. Example: '$expand=startingPrice'"
          },
          {
            "type": "string",
            "name": "$orderBy",
            "in": "query",
            "description": "Ordering expression for the results using OData notation. Example: '$orderby=displayName desc'"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of public, private and preview products, by subscription as audience",
            "schema": {
              "$ref": "#/definitions/CatalogApiResponse"
            }
          },
          "401": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "Authorization token is not in allowed list",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "Authorization token validation has failed",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "In case request is malformed",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListingSubscriptionBasedPrivateProducts_Get": {
            "$ref": "./examples/ListingSubscriptionBasedPrivateProducts_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/products": {
      "get": {
        "tags": [
          "ListingTenantBasedPrivateProducts"
        ],
        "summary": "Returns a list of public, private and preview products, by tenant as audience",
        "operationId": "ListingTenantBasedPrivateProducts_Get",
        "parameters": [
          {
            "type": "string",
            "name": "x-ms-client-tenant-id",
            "x-originalName": "tenantId",
            "in": "header",
            "required": true,
            "description": "The caller tenant Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-client-principal-name",
            "x-originalName": "userPrincipal",
            "in": "header",
            "required": true,
            "description": "The caller user principal",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "description": "Version of the REST API used for the request. ",
            "default": "2022-09-01-preview",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "x-ms-pricing-audience",
            "x-originalName": "pricingAudienceHeaderValue",
            "in": "header",
            "description": "Pricing audience",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,zh-hans,zh-hant'. Default='en'",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storefront",
            "in": "query",
            "description": "Relevant storefront, possible values - 'azure, amp, appsource'. Default='azure'",
            "default": "azure",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "market",
            "in": "query",
            "description": "Product sold market, possible values at https://docs.microsoft.com/en-us/azure/marketplace/marketplace-geo-availability-currencies, such as ['US']",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "excludePublic",
            "x-originalName": "excludePublicOffersAndPublicPlans",
            "in": "query",
            "description": "Denotes whether to exclude public products and plans",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the results. Example: '$select=displayName'"
          },
          {
            "type": "string",
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition. Example: '$filter=(isReseller eq true)'"
          },
          {
            "type": "string",
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline. Example: '$expand=startingPrice'"
          },
          {
            "type": "string",
            "name": "$orderBy",
            "in": "query",
            "description": "Ordering expression for the results using OData notation. Example: '$orderby=displayName desc'"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of public, private and preview products, by tenant as audience",
            "schema": {
              "$ref": "#/definitions/CatalogApiResponse"
            }
          },
          "401": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "Authorization token is not in allowed list",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "Authorization token validation has failed",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "x-nullable": false,
            "x-ms-error-response": true,
            "description": "In case request is malformed",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListingTenantBasedPrivateProducts_Get": {
            "$ref": "./examples/ListingTenantBasedPrivateProducts_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available authenticated Microsoft.Marketplace REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_Get": {
            "$ref": "./examples/Operations_Get.json"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "type": "string",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Subscription Id of the caller"
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Error response indicates Microsoft.Marketplace service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "type": "object",
          "properties": {
            "code": {
              "description": "Error code.",
              "type": "string",
              "readOnly": true
            },
            "message": {
              "description": "Error message indicating why the operation failed.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "ProductSummary": {
      "type": "object",
      "description": "Summary description of the product",
      "required": [
        "productType"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Product display name"
        },
        "popularity": {
          "type": "number",
          "description": "Popularity of the product",
          "format": "double"
        },
        "categoryIds": {
          "type": "array",
          "description": "Array of product categories, https://docs.microsoft.com/en-us/azure/marketplace/marketplace-categories-industries#categories. Such as 'Productivity'",
          "items": {
            "type": "string"
          }
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher id"
        },
        "azureBenefit": {
          "description": "Eligibility for Azure consumption commitment benefit (https://docs.microsoft.com/en-us/marketplace/azure-consumption-commitment-benefit), Possible values: Eligible, NotEligible, if no value selected, this filter is ignored. Default: null",
          "allOf": [
            {
              "$ref": "#/definitions/AzureBenefit"
            }
          ]
        },
        "badges": {
          "type": "array",
          "description": "The following product badges are available: preferredSolution, powerBICertified, AdditionalPurchaseRequirement",
          "items": {
            "$ref": "#/definitions/Badge"
          }
        },
        "publisherType": {
          "description": "A value indicating whether it is a Microsoft product or a third-party offer",
          "allOf": [
            {
              "$ref": "#/definitions/PublisherType"
            }
          ]
        },
        "publishingStage": {
          "description": "Publishing Stage, can be Live or Preview",
          "allOf": [
            {
              "$ref": "#/definitions/PublishingStage"
            }
          ]
        },
        "uniqueProductId": {
          "type": "string",
          "description": "Product unique identifier"
        },
        "productType": {
          "description": "Offer type",
          "allOf": [
            {
              "$ref": "#/definitions/ProductType"
            }
          ]
        },
        "operatingSystems": {
          "type": "array",
          "description": "Operating system info for this product",
          "items": {
            "type": "string"
          }
        },
        "pricingTypes": {
          "type": "array",
          "description": "The list of the pricing types for which this offer is designated: \n - `Free`: The product has at least one plan that is free of charge.\n - `FreeTrial`: The product has at least one plan that is free trial.\n - `Byol`: The product has at least one plan that is bring your own license.\n - `Payg`: The product has at least one plan that is Pay as you go, usage based billing model.\n - `Ri`: The product has at least one plan that is Reserved Instance billing model.",
          "items": {
            "$ref": "#/definitions/PricingType"
          }
        },
        "publisherDisplayName": {
          "type": "string",
          "description": "Publisher display name"
        },
        "summary": {
          "type": "string",
          "description": "Product summary"
        },
        "privacyPolicyUri": {
          "type": "string",
          "description": "The Privacy Policy URL"
        },
        "version": {
          "type": "string",
          "description": "The product version"
        },
        "cspLegalTermsUri": {
          "type": "string",
          "description": "The CSP legal terms URI"
        },
        "vmImageGenerations": {
          "type": "array",
          "description": "Array of Virtual Machine image architecture types to search by, see https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2: \n - `X64Gen1`: X64 Generation 1.\n - `X64Gen2`: X64 Generation 2.\n - `Arm64`: Arm64 image architecture.",
          "items": {
            "$ref": "#/definitions/VmImageGeneration"
          }
        },
        "vmArchitectureTypes": {
          "type": "array",
          "description": "Array of Virtual Machine image architecture types and generation: \n - `Gen1`: Generation 1 architecture type.\n - `Gen2`: Generation 2 architecture type.",
          "items": {
            "$ref": "#/definitions/VmArchitectureType"
          }
        },
        "vmSecurityTypes": {
          "type": "array",
          "description": "Array of vm security types to search by, possible values, Trusted, Confidential, None. For example, ['Trusted']",
          "items": {
            "$ref": "#/definitions/VmSecurityType"
          }
        },
        "smallIconUri": {
          "type": "string",
          "description": "URI to the small product icon"
        },
        "mediumIconUri": {
          "type": "string",
          "description": "URI to the medium product icon"
        },
        "largeIconUri": {
          "type": "string",
          "description": "URI to the large product icon"
        },
        "wideIconUri": {
          "type": "string",
          "description": "URI to the wide product icon"
        },
        "description": {
          "type": "string",
          "description": "The product description text"
        },
        "ratingBuckets": {
          "type": "array",
          "description": "Rating buckets, Above1, Above2, Above3, Above4. Above5",
          "items": {
            "$ref": "#/definitions/RatingBucket"
          }
        },
        "ratingAverage": {
          "type": "number",
          "description": "Average rating for the offer",
          "format": "double"
        },
        "ratingCount": {
          "type": "integer",
          "description": "Total number of ratings for the offer",
          "format": "int32"
        },
        "startingPrice": {
          "description": "The product starting price",
          "allOf": [
            {
              "$ref": "#/definitions/MarketStartPrice"
            }
          ]
        },
        "linkedAddIns": {
          "type": "array",
          "description": "List of linked Add Ins supported by the product",
          "items": {
            "type": "string"
          }
        },
        "plans": {
          "type": "array",
          "description": "List of plans that are available for this product",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/PlanSummary"
          }
        },
        "legalTermsUri": {
          "type": "string",
          "description": "The legal terms URI"
        },
        "legalTermsType": {
          "type": "string",
          "description": "The legal terms type"
        },
        "supportUri": {
          "type": "string",
          "description": "The publisher support URI"
        },
        "links": {
          "type": "array",
          "description": "Links provided by the publisher",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "supportedProducts": {
          "type": "array",
          "description": "It maps to the list of products the publisher provides with which their offer works",
          "items": {
            "type": "string"
          }
        },
        "applicableProducts": {
          "type": "array",
          "description": "Product categories the offer belongs to",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedDateTime": {
          "type": "string",
          "description": "Latest update date of the product",
          "format": "date-time"
        }
      }
    },
    "AzureBenefit": {
      "type": "string",
      "description": "Eligibility for Azure consumption commitment benefit (https://docs.microsoft.com/en-us/marketplace/azure-consumption-commitment-benefit), Possible values: Eligible, NotEligible, if no value selected, this filter is ignored. Default: null",
      "enum": [
        "Eligible",
        "NotEligible"
      ],
      "x-ms-enum": {
        "name": "AzureBenefit",
        "modelAsString": true
      }
    },
    "Badge": {
      "type": "string",
      "description": "Badge type",
      "enum": [
        "PreferredSolution",
        "PowerBICertified",
        "AdditionalPurchaseRequirement"
      ],
      "x-ms-enum": {
        "name": "Badge",
        "modelAsString": true
      }
    },
    "PublisherType": {
      "type": "string",
      "description": "The publisher type",
      "enum": [
        "Microsoft",
        "ThirdParty"
      ],
      "x-ms-enum": {
        "name": "PublisherType",
        "modelAsString": true
      }
    },
    "PublishingStage": {
      "type": "string",
      "description": "The product publishing stage",
      "enum": [
        "Preview",
        "Public"
      ],
      "x-ms-enum": {
        "name": "PublishingStage",
        "modelAsString": true
      }
    },
    "ProductType": {
      "type": "string",
      "description": "The delivery method, deployment model",
      "enum": [
        "None",
        "DevService",
        "ManagedApplication",
        "VirtualMachine",
        "AzureApplication",
        "Container",
        "SaaS",
        "SolutionTemplate",
        "IotEdgeModules",
        "ManagedServices",
        "ContainerApps",
        "VisualStudioExtension",
        "DynamicsOps",
        "DynamicsCE",
        "DynamicsBC",
        "PowerBI",
        "ConsultingServices",
        "CosellOnly",
        "CoreVirtualMachine",
        "PowerBIVisuals",
        "Office365",
        "AADApps",
        "AzureServices"
      ],
      "x-ms-enum": {
        "name": "ProductType",
        "modelAsString": true
      }
    },
    "PricingType": {
      "type": "string",
      "description": "Pricing type",
      "enum": [
        "Free",
        "FreeTrial",
        "Byol",
        "Payg",
        "Ri"
      ],
      "x-ms-enum": {
        "name": "PricingType",
        "modelAsString": true
      }
    },
    "VmImageGeneration": {
      "type": "string",
      "description": "VM Image Generation",
      "enum": [
        "Gen1",
        "Gen2"
      ],
      "x-ms-enum": {
        "name": "VmImageGeneration",
        "modelAsString": true
      }
    },
    "VmArchitectureType": {
      "type": "string",
      "description": "VM Architecture Type",
      "enum": [
        "X64Gen1",
        "X64Gen2",
        "Arm64"
      ],
      "x-ms-enum": {
        "name": "VmArchitectureType",
        "modelAsString": true
      }
    },
    "VmSecurityType": {
      "type": "string",
      "description": "VM Security type",
      "enum": [
        "None",
        "Trusted",
        "Confidential"
      ],
      "x-ms-enum": {
        "name": "VmSecurityType",
        "modelAsString": true
      }
    },
    "RatingBucket": {
      "type": "string",
      "description": "Rating Bucket",
      "enum": [
        "AboveOne",
        "AboveTwo",
        "AboveThree",
        "AboveFour"
      ],
      "x-ms-enum": {
        "name": "RatingBucket",
        "modelAsString": true
      }
    },
    "MarketStartPrice": {
      "type": "object",
      "description": "The product starting price",
      "properties": {
        "market": {
          "type": "string",
          "description": "The market for which the starting price is calculated."
        },
        "termUnits": {
          "type": "string",
          "description": "The terms pricing model units."
        },
        "meterUnits": {
          "type": "string",
          "description": "The meters pricing model units."
        },
        "minTermPrice": {
          "type": "number",
          "description": "Starting (minimal) terms price."
        },
        "minMeterPrice": {
          "type": "number",
          "description": "Starting (minimal) meters price."
        },
        "currency": {
          "type": "string",
          "description": "Currency for price."
        }
      }
    },
    "PlanSummary": {
      "type": "object",
      "description": "Summary description of the plan",
      "required": [
        "productType"
      ],
      "properties": {
        "planId": {
          "type": "string",
          "description": "Plan id"
        },
        "cspState": {
          "description": "Value showing whether the product is available for purchase through CSP channel, Possible values, OptIn, OptOut, SelectiveOptIn, for more information see, https://docs.microsoft.com/en-us/azure/marketplace/cloud-solution-providers",
          "allOf": [
            {
              "$ref": "#/definitions/CspState"
            }
          ]
        },
        "uniquePlanId": {
          "type": "string",
          "description": "Unique plan Id which is obtained by combining uniqueProductId and PlanId with no separator in between"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the plan"
        },
        "vmArchitectureType": {
          "type": "string",
          "description": "The VM image architecture type: x64, ARM"
        },
        "metadata": {
          "description": "Additional plan metadata",
          "allOf": [
            {
              "$ref": "#/definitions/PlanMetadata"
            }
          ]
        },
        "uiDefinitionUri": {
          "type": "string",
          "description": "What Azure portal view to open when someone wants to create a marketplace item"
        },
        "pricingTypes": {
          "type": "array",
          "description": "The list of the pricing types for which this plan is designated: \n - `Free`: The product has at least one plan that is free of charge.\n - `FreeTrial`: The product has at least one plan that is free trial.\n - `Byol`: The product has at least one plan that is bring your own license.\n - `Payg`: The product has at least one plan that is Pay as you go, usage based billing model.\n - `Ri`: The product has at least one plan that is Reserved Instance billing model.",
          "items": {
            "$ref": "#/definitions/PricingType"
          }
        },
        "isQuantifiable": {
          "type": "boolean",
          "description": "A value indicating whether the plan is quantifiable"
        },
        "vmSecuritytypes": {
          "type": "array",
          "description": "VM security types",
          "items": {
            "$ref": "#/definitions/VmSecurityType"
          }
        },
        "artifacts": {
          "type": "array",
          "description": "Plan level resources and configuration files",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/Artifact"
          }
        },
        "summary": {
          "type": "string",
          "description": "The plan summary text"
        },
        "description": {
          "type": "string",
          "description": "Plan description"
        },
        "skuId": {
          "type": "string",
          "description": "The SKU id"
        },
        "productType": {
          "description": "The plan type, for Azure Application product type, this can be Solution Template or ManagedApp",
          "allOf": [
            {
              "$ref": "#/definitions/ProductType"
            }
          ]
        },
        "displayRank": {
          "type": "string",
          "description": "The display rank"
        },
        "purchaseDurationDiscounts": {
          "type": "array",
          "description": "The percentage discount for third-party virtual machines software reservations",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/PurchaseDurationDiscount"
          }
        },
        "leadGeneration": {
          "description": "Lead generation information",
          "allOf": [
            {
              "$ref": "#/definitions/LeadGeneration"
            }
          ]
        },
        "isPrivate": {
          "type": "boolean",
          "description": "Indication that the plan is accessible to restricted audience only"
        }
      }
    },
    "CspState": {
      "type": "string",
      "description": "Value showing whether the product is available for purchase through CSP channel, Possible values, OptIn, OptOut, SelectiveOptIn, for more information see, https://docs.microsoft.com/en-us/azure/marketplace/cloud-solution-providers",
      "enum": [
        "OptIn",
        "OptOut",
        "Terminated",
        "SelectiveOptIn"
      ],
      "x-ms-enum": {
        "name": "CspState",
        "modelAsString": true
      }
    },
    "PlanMetadata": {
      "type": "object",
      "description": "Additional metadata",
      "properties": {
        "generation": {
          "type": "string",
          "description": "The VM image generation.see https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2"
        },
        "altStackReference": {
          "type": "string",
          "description": "Pointing to a planId which holds the alternative stack reference"
        },
        "relatedSkus": {
          "type": "array",
          "description": "Pointing to a planId that is related to this plan",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/PlanSkuRelation"
          }
        }
      }
    },
    "PlanSkuRelation": {
      "type": "object",
      "description": "Related plan information",
      "properties": {
        "sku": {
          "description": "The Sku",
          "allOf": [
            {
              "$ref": "#/definitions/RelatedSku"
            }
          ]
        },
        "relationType": {
          "type": "string",
          "description": "Relation Type"
        }
      }
    },
    "RelatedSku": {
      "type": "object",
      "description": "The sku",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name"
        },
        "generation": {
          "type": "string",
          "description": "The generation"
        },
        "identity": {
          "type": "string",
          "description": "The identity"
        }
      }
    },
    "Artifact": {
      "type": "object",
      "description": "Plan level resources and configuration files",
      "required": [
        "artifactType"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Artifact name"
        },
        "uri": {
          "type": "string",
          "description": "Artifact uri"
        },
        "artifactType": {
          "description": "The type of the artifact",
          "allOf": [
            {
              "$ref": "#/definitions/ArtifactType"
            }
          ]
        }
      }
    },
    "ArtifactType": {
      "type": "string",
      "description": "The type of the artifact",
      "enum": [
        "Template",
        "Fragment",
        "Custom",
        "Metadata"
      ],
      "x-ms-enum": {
        "name": "ArtifactType",
        "modelAsString": true
      }
    },
    "PurchaseDurationDiscount": {
      "type": "object",
      "description": "The percentage discount for 3rd party virtual machines software reservations",
      "required": [
        "discountPercentage"
      ],
      "properties": {
        "duration": {
          "type": "string",
          "description": "The duration"
        },
        "discountPercentage": {
          "type": "number",
          "description": "The discountPercentage"
        }
      }
    },
    "LeadGeneration": {
      "type": "object",
      "description": "Lead generation information",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Product Id"
        },
        "leadGenEnabled": {
          "type": "boolean",
          "description": "An indicator if leadgen is enabled"
        }
      }
    },
    "Link": {
      "type": "object",
      "description": "Links to publisher external references documents",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the link"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the link"
        },
        "uri": {
          "type": "string",
          "description": "URI of the link"
        }
      }
    },
    "CatalogApiResponse": {
      "type": "object",
      "description": "Response page composed of a list of Product Summaries together with a next page link",
      "properties": {
        "value": {
          "type": "array",
          "x-ms-identifiers": [],
          "description": "The list of returned items",
          "items": {
            "$ref": "#/definitions/ProductSummary"
          }
        },
        "nextPageLink": {
          "type": "string",
          "description": "Link to the next page",
          "format": "uri"
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
