{
  "swagger": "2.0",
  "info": {
    "version": "2023-04-01-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.App/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get the Container Apps Jobs in a given subscription.",
        "operationId": "Jobs_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobsCollection"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container Apps Jobs by subscription": {
            "$ref": "./examples/Jobs_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get the Container Apps Jobs in a given resource group.",
        "operationId": "Jobs_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container Apps Jobs by resource group": {
            "$ref": "./examples/Jobs_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get the properties of a Container Apps Job.",
        "operationId": "Jobs_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container Apps Job": {
            "$ref": "./examples/Job_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create or Update a Container Apps Job.",
        "description": "Create or Update a Container Apps Job.",
        "operationId": "Jobs_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          },
          {
            "name": "JobEnvelope",
            "in": "body",
            "description": "Properties used to create a container apps job",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Container Apps Job create has been started.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "200": {
            "description": "No change performed on the Container Apps Job.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Container Apps Job": {
            "$ref": "./examples/Job_CreateorUpdate.json"
          },
          "Create or Update Container Apps Job With Event Driven Trigger": {
            "$ref": "./examples/Job_CreateorUpdate_EventTrigger.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Delete a Container Apps Job.",
        "description": "Delete a Container Apps Job.",
        "operationId": "Jobs_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container Apps Job deleted successfully."
          },
          "202": {
            "description": "Delete operation is in progress.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Container Apps Job does not exist."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Container Apps Job": {
            "$ref": "./examples/Job_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "Jobs"
        ],
        "summary": "Update properties of a Container Apps Job",
        "description": "Patches a Container Apps Job using JSON Merge Patch",
        "operationId": "Jobs_Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          },
          {
            "name": "JobEnvelope",
            "in": "body",
            "required": true,
            "description": "Properties used to create a container apps job",
            "schema": {
              "$ref": "#/definitions/JobPatchProperties"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "202": {
            "description": "Patch operation is in progress.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Container Apps Job": {
            "$ref": "./examples/Job_Patch.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/start": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Start a Container Apps Job",
        "operationId": "Jobs_Start",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          },
          {
            "name": "template",
            "in": "body",
            "description": "Properties used to start a job execution.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/JobExecutionTemplate"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobExecutionBase"
            }
          },
          "202": {
            "description": "OK",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Run a Container Apps Job": {
            "$ref": "./examples/Job_Start.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/executions/{jobExecutionName}/stop": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Terminates execution of a running container apps job",
        "operationId": "Jobs_StopExecution",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          },
          {
            "$ref": "#/parameters/JobExecutionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container Apps Jobs terminated successfully."
          },
          "202": {
            "description": "OK",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Terminate a Container Apps Job": {
            "$ref": "./examples/Job_Stop_Execution.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/stop": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Terminates execution of a running container apps job",
        "operationId": "Jobs_StopMultipleExecutions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all the job executions that were requested to be stopped",
            "schema": {
              "$ref": "#/definitions/ContainerAppJobExecutions"
            }
          },
          "202": {
            "description": "OK",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Terminate Multiple Container Apps Job": {
            "$ref": "./examples/Job_Stop_Multiple.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/executions": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a Container Apps Job's executions",
        "operationId": "JobsExecutions_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerAppJobExecutions"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Container Apps Job Executions": {
            "$ref": "./examples/Job_Executions_Get.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/executions/{jobExecutionName}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get details of a single job execution",
        "operationId": "JobExecution",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          },
          {
            "$ref": "#/parameters/JobExecutionNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobExecution"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a single Job Execution": {
            "$ref": "./examples/Job_Execution_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/listSecrets": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "List secrets for a container apps job",
        "operationId": "Jobs_ListSecrets",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobSecretsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container Apps Job Secrets": {
            "$ref": "./examples/Job_ListSecrets.json"
          }
        }
      }
    }
  },
  "parameters": {
    "JobNameParameter": {
      "name": "jobName",
      "in": "path",
      "description": "Job Name",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "x-ms-parameter-location": "method"
    },
    "JobExecutionNameParameter": {
      "name": "jobExecutionName",
      "in": "path",
      "description": "Job execution name.",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "JobConfiguration": {
      "description": "Non versioned Container Apps Job configuration properties",
      "type": "object",
      "required": [
        "replicaTimeout",
        "triggerType"
      ],
      "properties": {
        "secrets": {
          "description": "Collection of secrets used by a Container Apps Job",
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/Secret"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "triggerType": {
          "description": "Trigger type of the job",
          "enum": [
            "Schedule",
            "Event",
            "Manual"
          ],
          "type": "string",
          "default": "Manual",
          "x-ms-enum": {
            "name": "TriggerType",
            "modelAsString": true
          }
        },
        "replicaTimeout": {
          "description": "Maximum number of seconds a replica is allowed to run.",
          "format": "int32",
          "type": "integer"
        },
        "replicaRetryLimit": {
          "format": "int32",
          "description": "Maximum number of retries before failing the job.",
          "type": "integer"
        },
        "manualTriggerConfig": {
          "type": "object",
          "description": "Manual trigger configuration for a single execution job. Properties replicaCompletionCount and parallelism would be set to 1 by default",
          "properties": {
            "replicaCompletionCount": {
              "$ref": "#/definitions/ReplicaCompletionCount"
            },
            "parallelism": {
              "$ref": "#/definitions/Parallelism"
            }
          }
        },
        "scheduleTriggerConfig": {
          "description": "Cron formatted repeating trigger schedule (\"* * * * *\") for cronjobs. Properties completions and parallelism would be set to 1 by default",
          "required": [
            "cronExpression"
          ],
          "type": "object",
          "properties": {
            "replicaCompletionCount": {
              "$ref": "#/definitions/ReplicaCompletionCount"
            },
            "cronExpression": {
              "description": "Cron formatted repeating schedule (\"* * * * *\") of a Cron Job.",
              "type": "string"
            },
            "parallelism": {
              "$ref": "#/definitions/Parallelism"
            }
          }
        },
        "eventTriggerConfig": {
          "type": "object",
          "description": "Trigger configuration of an event driven job.",
          "properties": {
            "replicaCompletionCount": {
              "$ref": "#/definitions/ReplicaCompletionCount"
            },
            "parallelism": {
              "$ref": "#/definitions/Parallelism"
            },
            "scale": {
              "$ref": "#/definitions/JobScale"
            }
          }
        },
        "registries": {
          "description": "Collection of private container registry credentials used by a Container apps job",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegistryCredentials"
          },
          "x-ms-identifiers": [
            "server"
          ]
        }
      }
    },
    "Job": {
      "type": "object",
      "description": "Container App Job",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "identity": {
          "description": "Managed identities needed by a container app job to interact with other Azure services to not maintain any secrets or credentials in code.",
          "$ref": "../../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity"
        },
        "properties": {
          "description": "Container Apps Job resource specific properties.",
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "Provisioning state of the Container Apps Job.",
              "enum": [
                "InProgress",
                "Succeeded",
                "Failed",
                "Canceled",
                "Deleting"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "JobProvisioningState",
                "modelAsString": true
              }
            },
            "environmentId": {
              "description": "Resource ID of environment.",
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "workloadProfileName": {
              "$ref": "./CommonDefinitions.json#/definitions/WorkloadProfileName",
              "description": "Workload profile name to pin for container apps job execution."
            },
            "configuration": {
              "$ref": "#/definitions/JobConfiguration",
              "description": "Container Apps Job configuration properties."
            },
            "template": {
              "$ref": "./CommonDefinitions.json#/definitions/JobTemplate",
              "description": "Container Apps job definition."
            },
            "outboundIpAddresses": {
              "description": "Outbound IP Addresses of a container apps job.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "readOnly": true
            },
            "eventStreamEndpoint": {
              "description": "The endpoint of the eventstream of the container apps job.",
              "type": "string",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "JobPatchProperties": {
      "type": "object",
      "description": "Container Apps Job resource specific properties.",
      "properties": {
        "identity": {
          "description": "Managed identities needed by a container app job to interact with other Azure services to not maintain any secrets or credentials in code.",
          "$ref": "../../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "properties": {
          "type": "object",
          "properties": {
            "environmentId": {
              "description": "Resource ID of environment.",
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read",
                "update"
              ]
            },
            "configuration": {
              "$ref": "#/definitions/JobConfiguration",
              "description": "Container Apps Job configuration properties."
            },
            "template": {
              "$ref": "./CommonDefinitions.json#/definitions/JobTemplate",
              "description": "Container Apps job definition."
            },
            "outboundIpAddresses": {
              "description": "Outbound IP Addresses of a container apps job.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "eventStreamEndpoint": {
              "description": "The endpoint of the eventstream of the container apps job.",
              "type": "string"
            }
          }
        }
      }
    },
    "JobsCollection": {
      "description": "Container Apps Jobs collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Job"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RegistryCredentials": {
      "description": "Container App Private Registry",
      "type": "object",
      "properties": {
        "server": {
          "description": "Container Registry Server",
          "type": "string"
        },
        "username": {
          "description": "Container Registry Username",
          "type": "string"
        },
        "passwordSecretRef": {
          "description": "The name of the Secret that contains the registry login password",
          "type": "string"
        },
        "identity": {
          "description": "A Managed Identity to use to authenticate with Azure Container Registry. For user-assigned identities, use the full user-assigned identity Resource ID. For system-assigned identities, use 'system'",
          "type": "string"
        }
      }
    },
    "JobSecretsCollection": {
      "description": "Container Apps Job Secrets Collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/Secret"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "ReplicaCompletionCount": {
      "description": "Minimum number of successful replica completions before overall job completion.",
      "format": "int32",
      "type": "integer"
    },
    "Parallelism": {
      "description": "Number of parallel replicas of a job that can run at a given time.",
      "format": "int32",
      "type": "integer"
    },
    "PollingInterval": {
      "description": "Interval to check each event source in seconds. Defaults to 30s",
      "format": "int32",
      "type": "integer"
    },
    "JobScaleRule": {
      "description": "Scaling rule.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Scale Rule Name",
          "type": "string"
        },
        "type": {
          "description": "Type of the scale rule\neg: azure-servicebus, redis etc.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata properties to describe the scale rule.",
          "type": "object"
        },
        "auth": {
          "description": "Authentication secrets for the scale rule.",
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/ScaleRuleAuth"
          }
        }
      }
    },
    "JobScale": {
      "description": "Scaling configurations for event driven jobs.",
      "type": "object",
      "properties": {
        "pollingInterval": {
          "$ref": "#/definitions/PollingInterval"
        },
        "minExecutions": {
          "format": "int32",
          "description": "Minimum number of job executions that are created for a trigger, default 0",
          "type": "integer",
          "default": 0
        },
        "maxExecutions": {
          "format": "int32",
          "description": "Maximum number of job executions that are created for a trigger, default 100.",
          "type": "integer",
          "default": 100
        },
        "rules": {
          "description": "Scaling rules.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobScaleRule"
          }
        }
      }
    },
    "JobExecutionBase": {
      "description": "Container App's Job execution name.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Job execution name.",
          "type": "string"
        },
        "id": {
          "description": "Job execution Id.",
          "type": "string"
        }
      }
    },
    "JobExecution": {
      "description": "Container Apps Job execution.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Job execution Name.",
          "type": "string"
        },
        "id": {
          "description": "Job execution Id.",
          "type": "string"
        },
        "type": {
          "description": "Job execution type",
          "type": "string"
        },
        "properties": {
          "description": "Container Apps Job execution specific properties.",
          "type": "object",
          "properties": {
            "status": {
              "description": "Current running State of the job",
              "enum": [
                "Running",
                "Processing",
                "Stopped",
                "Degraded",
                "Failed",
                "Unknown",
                "Succeeded"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "JobExecutionRunningState",
                "modelAsString": true
              }
            },
            "startTime": {
              "description": "Job execution start time.",
              "format": "date-time",
              "type": "string"
            },
            "endTime": {
              "description": "Job execution end time.",
              "format": "date-time",
              "type": "string"
            },
            "template": {
              "description": "Job's execution container.",
              "$ref": "#/definitions/JobExecutionTemplate"
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "ContainerAppJobExecutions": {
      "description": "Container App executions collection ARM resource.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobExecution"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      },
      "required": [
        "value"
      ]
    },
    "JobExecutionNamesCollection": {
      "description": "Container App executions names list.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobExecutionBase"
          }
        }
      }
    },
    "JobExecutionTemplate": {
      "description": "Job's execution template, containing container configuration for a job's execution",
      "type": "object",
      "properties": {
        "containers": {
          "description": "List of container definitions for the Container Apps Job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobExecutionContainer"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "initContainers": {
          "description": "List of specialized containers that run before job containers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobExecutionContainer"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "JobExecutionContainer": {
      "description": "Container Apps Jobs execution container definition.",
      "type": "object",
      "properties": {
        "image": {
          "description": "Container image tag.",
          "type": "string"
        },
        "name": {
          "description": "Custom container name.",
          "type": "string"
        },
        "command": {
          "description": "Container start command.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "Container start command arguments.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "env": {
          "description": "Container environment variables.",
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/EnvironmentVar"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "resources": {
          "$ref": "./CommonDefinitions.json#/definitions/ContainerResources",
          "description": "Container resource requirements."
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
