{
  "swagger": "2.0",
  "info": {
    "title": "Azure Bot Service",
    "version": "2023-09-15-preview",
    "description": "Azure Bot Service is a platform for creating smart conversational agents.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Bots"
    },
    {
      "name": "BotChannels"
    },
    {
      "name": "ConnectionSettings"
    },
    {
      "name": "AzureBotServicePrivateEndpointConnections"
    },
    {
      "name": "NetworkSecurityPerimeterConfigurations"
    }
  ],
  "paths": {
    "/providers/Microsoft.BotService/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/botServices": {
      "get": {
        "operationId": "Bots_List",
        "tags": [
          "Bots"
        ],
        "description": "Returns all the resources of a particular type belonging to a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/botServices/{resourceName}/connections": {
      "get": {
        "operationId": "ConnectionSettings_ListServiceProviders",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Lists the available Service Providers for creating Connection Settings",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/hostSettings": {
      "get": {
        "operationId": "HostSettingsOperations_Get",
        "description": "Get per subscription settings needed to host bot in compute resource such as Azure App Service",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure Subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/HostSettingsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/listQnAMakerEndpointKeys": {
      "post": {
        "operationId": "QnAMakerEndpointKeysOperations_Get",
        "description": "Lists the QnA Maker endpoint keys",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure Subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body parameters to provide for the check name availability request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QnAMakerEndpointKeysRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QnAMakerEndpointKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/operationresults/{operationResultId}": {
      "get": {
        "operationId": "OperationResultsOperations_Get",
        "description": "Get the operation result for a long running operation.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure Subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationResultId",
            "in": "path",
            "description": "The ID of the operation result to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationResultsDescription"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/{channelName}/providers/Microsoft.BotService/botServices/{resourceName}/listWithKeys": {
      "post": {
        "operationId": "Bots_ListWithKeys",
        "tags": [
          "Bots"
        ],
        "description": "Lists a Channel registration for a Bot Service including secrets",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource.",
            "required": true,
            "type": "string",
            "enum": [
              "AlexaChannel",
              "FacebookChannel",
              "EmailChannel",
              "KikChannel",
              "TelegramChannel",
              "SlackChannel",
              "MsTeamsChannel",
              "SkypeChannel",
              "WebChatChannel",
              "DirectLineChannel",
              "SmsChannel",
              "LineChannel",
              "DirectLineSpeechChannel",
              "OutlookChannel",
              "Omnichannel",
              "TelephonyChannel",
              "AcsChatChannel",
              "SearchAssistant",
              "M365Extensions"
            ],
            "x-ms-enum": {
              "name": "ChannelName",
              "modelAsString": false
            }
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListChannelWithKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/{channelName}/providers/Microsoft.BotService/botServices/{resourceName}/regenerateKeys": {
      "post": {
        "operationId": "Bots_RegenerateKeys",
        "tags": [
          "Bots"
        ],
        "description": "Regenerates secret keys and returns them for the DirectLine Channel of a particular BotService resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource for which keys are to be regenerated.",
            "required": true,
            "type": "string",
            "enum": [
              "WebChatChannel",
              "DirectLineChannel"
            ],
            "x-ms-enum": {
              "name": "RegenerateKeysChannelName",
              "modelAsString": false
            }
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices": {
      "get": {
        "operationId": "Bots_ListByResourceGroup",
        "tags": [
          "Bots"
        ],
        "description": "Returns all the resources of a particular type belonging to a resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}": {
      "get": {
        "operationId": "Bots_Get",
        "tags": [
          "Bots"
        ],
        "description": "Returns a BotService specified by the parameters.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Bots_Create",
        "tags": [
          "Bots"
        ],
        "description": "Creates a Bot Service. Bot Service is a resource group wide resource type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Bot' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "201": {
            "description": "Resource 'Bot' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "Bots_Update",
        "tags": [
          "Bots"
        ],
        "description": "Updates a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BotUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Bots_Delete",
        "tags": [
          "Bots"
        ],
        "description": "Deletes a Bot Service from the resource group. ",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/channels": {
      "get": {
        "operationId": "BotChannels_ListByBot",
        "tags": [
          "BotChannels"
        ],
        "description": "Returns all the Channel registrations of a particular BotService resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/channels/{channelName}": {
      "get": {
        "operationId": "BotChannels_Get",
        "tags": [
          "BotChannels"
        ],
        "description": "Returns a BotService Channel registration specified by the parameters.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "BotChannels_Create",
        "tags": [
          "BotChannels"
        ],
        "description": "Creates a Channel registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BotChannel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "201": {
            "description": "Resource 'BotChannel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "BotChannels_Update",
        "tags": [
          "BotChannels"
        ],
        "description": "Updates a Channel registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BotChannelUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "BotChannels_Delete",
        "tags": [
          "BotChannels"
        ],
        "description": "Deletes a Channel registration from a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/connections": {
      "get": {
        "operationId": "ConnectionSettings_ListByBot",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Returns all the Connection Settings registered to a particular BotService resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/connections/{connectionName}": {
      "get": {
        "operationId": "ConnectionSettings_Get",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Get a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ConnectionSettings_Create",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Register a new Auth Connection for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConnectionSetting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "201": {
            "description": "Resource 'ConnectionSetting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "ConnectionSettings_Update",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Updates a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionSettingUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "ConnectionSettings_Delete",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Deletes a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/connections/{connectionName}/listWithSecrets": {
      "post": {
        "operationId": "ConnectionSettings_ListWithSecrets",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Get a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/createSignInUrl": {
      "post": {
        "operationId": "Bots_CreateSignInUrl",
        "tags": [
          "Bots"
        ],
        "description": "Creates an email channel sign in url for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreateEmailSignInUrlResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/networkSecurityPerimeterConfigurations": {
      "get": {
        "operationId": "NetworkSecurityPerimeterConfigurations_ListByBot",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "List Network Security Perimeter configurations associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/networkSecurityPerimeterConfigurations/{networkSecurityPerimeterConfigurationName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterConfigurations_Get",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets the specified Network Security Perimeter configuration associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "networkSecurityPerimeterConfigurationName",
            "in": "path",
            "description": "The resource association Name. Composed of parameter guid and association name.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/networkSecurityPerimeterConfigurations/{networkSecurityPerimeterConfigurationName}/reconcile": {
      "post": {
        "operationId": "NetworkSecurityPerimeterConfigurations_Reconcile",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Reconcile the specified Network Security Perimeter configuration associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "networkSecurityPerimeterConfigurationName",
            "in": "path",
            "description": "The resource association Name. Composed of parameter guid and association name.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/privateEndpointConnections": {
      "get": {
        "operationId": "AzureBotServicePrivateEndpointConnections_ListByBot",
        "tags": [
          "AzureBotServicePrivateEndpointConnections"
        ],
        "description": "List all the private endpoint connections associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureBotServicePrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "AzureBotServicePrivateEndpointConnections_Get",
        "tags": [
          "AzureBotServicePrivateEndpointConnections"
        ],
        "description": "Gets the specified private endpoint connection associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureBotServicePrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "AzureBotServicePrivateEndpointConnections_Create",
        "tags": [
          "AzureBotServicePrivateEndpointConnections"
        ],
        "description": "Update the state of specified private endpoint connection associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureBotServicePrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureBotServicePrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureBotServicePrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'AzureBotServicePrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureBotServicePrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "AzureBotServicePrivateEndpointConnections_Delete",
        "tags": [
          "AzureBotServicePrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/privateLinkResources/{resourceGroupName}/{resourceName}/{subscriptionId}": {
      "get": {
        "operationId": "Bots_ListByBotResource",
        "tags": [
          "Bots"
        ],
        "description": "Gets the private link resources that need to be created for a Bot.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the Bot resource group in the user subscription.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure Subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccessMode": {
      "type": "string",
      "enum": [
        "Enforced",
        "Learning",
        "Audit"
      ],
      "x-ms-enum": {
        "name": "AccessMode",
        "modelAsString": true
      }
    },
    "AcsChatChannel": {
      "type": "object",
      "description": "AcsChat channel definition",
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "AcsChatChannel"
    },
    "AlexaChannel": {
      "type": "object",
      "description": "Alexa channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlexaChannelProperties",
          "description": "The set of properties specific to Alexa channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "AlexaChannel"
    },
    "AlexaChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Alexa channel.",
      "properties": {
        "alexaSkillId": {
          "type": "string",
          "description": "The Alexa skill Id"
        },
        "urlFragment": {
          "type": "string",
          "description": "Url fragment used in part of the Uri configured in Alexa",
          "readOnly": true
        },
        "serviceEndpointUri": {
          "type": "string",
          "description": "Full Uri used to configured the skill in Alexa",
          "readOnly": true
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        }
      },
      "required": [
        "alexaSkillId",
        "isEnabled"
      ]
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.ResourceManager.PrivateEndpointConnection": {
      "type": "object",
      "description": "The private endpoint connection resource",
      "properties": {
        "properties": {
          "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnectionProperties",
          "description": "The private endpoint connection properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureBotServicePrivateEndpointConnection": {
      "type": "object",
      "description": "The Private Endpoint Connection resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureBotServicePrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "The response of a AzureBotServicePrivateEndpointConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureBotServicePrivateEndpointConnection items on this page",
          "items": {
            "$ref": "#/definitions/AzureBotServicePrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Bot": {
      "type": "object",
      "description": "Bot resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BotProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BotChannel": {
      "type": "object",
      "description": "Bot channel resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Channel",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BotChannelListResult": {
      "type": "object",
      "description": "The response of a BotChannel list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BotChannel items on this page",
          "items": {
            "$ref": "#/definitions/BotChannel"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BotChannelUpdate": {
      "type": "object",
      "description": "The type used for update operations of the BotChannel.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/BotChannelUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "BotChannelUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the BotChannel.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        }
      }
    },
    "BotListResult": {
      "type": "object",
      "description": "The response of a Bot list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Bot items on this page",
          "items": {
            "$ref": "#/definitions/Bot"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BotProperties": {
      "type": "object",
      "description": "The parameters to provide for the Bot.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The Name of the bot"
        },
        "description": {
          "type": "string",
          "description": "The description of the bot"
        },
        "iconUrl": {
          "type": "string",
          "description": "The Icon Url of the bot"
        },
        "endpoint": {
          "type": "string",
          "description": "The bot's endpoint"
        },
        "endpointVersion": {
          "type": "string",
          "description": "The bot's endpoint version",
          "readOnly": true
        },
        "allSettings": {
          "type": "object",
          "description": "Contains resource all settings defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "object",
          "description": "Contains resource parameters defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "manifestUrl": {
          "type": "string",
          "description": "The bot's manifest url"
        },
        "msaAppType": {
          "$ref": "#/definitions/MsaAppType",
          "description": "Microsoft App Type for the bot"
        },
        "msaAppId": {
          "type": "string",
          "description": "Microsoft App Id for the bot",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "msaAppTenantId": {
          "type": "string",
          "description": "Microsoft App Tenant Id for the bot",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "msaAppMSIResourceId": {
          "type": "string",
          "description": "Microsoft App Managed Identity Resource Id for the bot"
        },
        "configuredChannels": {
          "type": "array",
          "description": "Collection of channels for which the bot is configured",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "enabledChannels": {
          "type": "array",
          "description": "Collection of channels for which the bot is enabled",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "developerAppInsightKey": {
          "type": "string",
          "description": "The Application Insights key"
        },
        "developerAppInsightsApiKey": {
          "type": "string",
          "description": "The Application Insights Api Key"
        },
        "developerAppInsightsApplicationId": {
          "type": "string",
          "description": "The Application Insights App Id"
        },
        "luisAppIds": {
          "type": "array",
          "description": "Collection of LUIS App Ids",
          "items": {
            "type": "string"
          }
        },
        "luisKey": {
          "type": "string",
          "description": "The LUIS Key"
        },
        "isCmekEnabled": {
          "type": "boolean",
          "description": "Whether Cmek is enabled"
        },
        "cmekKeyVaultUrl": {
          "type": "string",
          "description": "The CMK Url"
        },
        "cmekEncryptionStatus": {
          "type": "string",
          "description": "The CMK encryption status",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The Tenant Id for the bot",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Whether the bot is in an isolated network"
        },
        "isStreamingSupported": {
          "type": "boolean",
          "description": "Whether the bot is streaming supported"
        },
        "isDeveloperAppInsightsApiKeySet": {
          "type": "boolean",
          "description": "Whether the bot is developerAppInsightsApiKey set",
          "readOnly": true
        },
        "migrationToken": {
          "type": "string",
          "description": "Token used to migrate non Azure bot to azure subscription",
          "readOnly": true
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Opt-out of local authentication and ensure only MSI and AAD can be used exclusively for authentication."
        },
        "schemaTransformationVersion": {
          "type": "string",
          "description": "The channel schema transformation version for the bot"
        },
        "storageResourceId": {
          "type": "string",
          "description": "The storage resourceId for the bot"
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of Private Endpoint Connections configured for the bot",
          "items": {
            "$ref": "#/definitions/Azure.ResourceManager.PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "networkSecurityPerimeterConfigurations": {
          "type": "array",
          "description": "List of Network Security Perimeter configurations for the bot",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
          },
          "readOnly": true
        },
        "openWithHint": {
          "type": "string",
          "description": "The hint to browser (e.g. protocol handler) on how to open the bot for authoring"
        },
        "appPasswordHint": {
          "type": "string",
          "description": "The hint (e.g. keyVault secret resourceId) on how to fetch the app secret"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "publishingCredentials": {
          "type": "string",
          "description": "Publishing credentials of the resource"
        }
      },
      "required": [
        "displayName",
        "endpoint",
        "msaAppId"
      ]
    },
    "BotUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Bot.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/BotUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "BotUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Bot.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The Name of the bot"
        },
        "description": {
          "type": "string",
          "description": "The description of the bot"
        },
        "iconUrl": {
          "type": "string",
          "description": "The Icon Url of the bot"
        },
        "endpoint": {
          "type": "string",
          "description": "The bot's endpoint"
        },
        "allSettings": {
          "type": "object",
          "description": "Contains resource all settings defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "object",
          "description": "Contains resource parameters defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "manifestUrl": {
          "type": "string",
          "description": "The bot's manifest url"
        },
        "msaAppType": {
          "$ref": "#/definitions/MsaAppType",
          "description": "Microsoft App Type for the bot"
        },
        "msaAppMSIResourceId": {
          "type": "string",
          "description": "Microsoft App Managed Identity Resource Id for the bot"
        },
        "developerAppInsightKey": {
          "type": "string",
          "description": "The Application Insights key"
        },
        "developerAppInsightsApiKey": {
          "type": "string",
          "description": "The Application Insights Api Key"
        },
        "developerAppInsightsApplicationId": {
          "type": "string",
          "description": "The Application Insights App Id"
        },
        "luisAppIds": {
          "type": "array",
          "description": "Collection of LUIS App Ids",
          "items": {
            "type": "string"
          }
        },
        "luisKey": {
          "type": "string",
          "description": "The LUIS Key"
        },
        "isCmekEnabled": {
          "type": "boolean",
          "description": "Whether Cmek is enabled"
        },
        "cmekKeyVaultUrl": {
          "type": "string",
          "description": "The CMK Url"
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Whether the bot is in an isolated network"
        },
        "isStreamingSupported": {
          "type": "boolean",
          "description": "Whether the bot is streaming supported"
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Opt-out of local authentication and ensure only MSI and AAD can be used exclusively for authentication."
        },
        "schemaTransformationVersion": {
          "type": "string",
          "description": "The channel schema transformation version for the bot"
        },
        "storageResourceId": {
          "type": "string",
          "description": "The storage resourceId for the bot"
        },
        "openWithHint": {
          "type": "string",
          "description": "The hint to browser (e.g. protocol handler) on how to open the bot for authoring"
        },
        "appPasswordHint": {
          "type": "string",
          "description": "The hint (e.g. keyVault secret resourceId) on how to fetch the app secret"
        },
        "publishingCredentials": {
          "type": "string",
          "description": "Publishing credentials of the resource"
        }
      }
    },
    "Channel": {
      "type": "object",
      "description": "Channel definition",
      "properties": {
        "channelName": {
          "type": "string",
          "description": "Discriminator property for Channel."
        },
        "etag": {
          "type": "string",
          "description": "Entity Tag of the resource",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        }
      },
      "discriminator": "channelName",
      "required": [
        "channelName"
      ]
    },
    "ChannelName": {
      "type": "string",
      "enum": [
        "AlexaChannel",
        "FacebookChannel",
        "EmailChannel",
        "KikChannel",
        "TelegramChannel",
        "SlackChannel",
        "MsTeamsChannel",
        "SkypeChannel",
        "WebChatChannel",
        "DirectLineChannel",
        "SmsChannel",
        "LineChannel",
        "DirectLineSpeechChannel",
        "OutlookChannel",
        "Omnichannel",
        "TelephonyChannel",
        "AcsChatChannel",
        "SearchAssistant",
        "M365Extensions"
      ],
      "x-ms-enum": {
        "name": "ChannelName",
        "modelAsString": false
      }
    },
    "ChannelSettings": {
      "type": "object",
      "description": "Channel settings definition",
      "properties": {
        "extensionKey1": {
          "type": "string",
          "description": "The extensionKey1"
        },
        "extensionKey2": {
          "type": "string",
          "description": "The extensionKey2"
        },
        "sites": {
          "type": "array",
          "description": "The list of sites",
          "items": {
            "$ref": "#/definitions/Site"
          },
          "x-ms-identifiers": []
        },
        "channelId": {
          "type": "string",
          "description": "The channel id"
        },
        "channelDisplayName": {
          "type": "string",
          "description": "The channel display name"
        },
        "botId": {
          "type": "string",
          "description": "The bot id"
        },
        "botIconUrl": {
          "type": "string",
          "description": "The bot icon url"
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Opt-out of local authentication and ensure only MSI and AAD can be used exclusively for authentication."
        },
        "requireTermsAgreement": {
          "type": "boolean",
          "description": "Whether customer needs to agree to new terms."
        }
      }
    },
    "CheckNameAvailabilityRequestBody": {
      "type": "object",
      "description": "The request body for a request to Bot Service Management to check availability of a bot name.",
      "properties": {
        "name": {
          "type": "string",
          "description": "the name of the bot for which availability needs to be checked."
        },
        "type": {
          "type": "string",
          "description": "the type of the bot for which availability needs to be checked"
        }
      }
    },
    "CheckNameAvailabilityResponseBody": {
      "type": "object",
      "description": "The response body returned for a request to Bot Service Management to check availability of a bot name.",
      "properties": {
        "valid": {
          "type": "boolean",
          "description": "indicates if the bot name is valid."
        },
        "message": {
          "type": "string",
          "description": "additional message from the bot management api showing why a bot name is not available"
        },
        "absCode": {
          "type": "string",
          "description": "response code from ABS"
        }
      }
    },
    "ConnectionItemName": {
      "type": "object",
      "description": "The display name of a connection Item Setting registered with the Bot",
      "properties": {
        "name": {
          "type": "string",
          "description": "Connection Item name that has been added in the API",
          "readOnly": true
        }
      }
    },
    "ConnectionSetting": {
      "type": "object",
      "description": "Bot channel resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionSettingProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConnectionSettingListResult": {
      "type": "object",
      "description": "The response of a ConnectionSetting list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConnectionSetting items on this page",
          "items": {
            "$ref": "#/definitions/ConnectionSetting"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConnectionSettingParameter": {
      "type": "object",
      "description": "Extra Parameter in a Connection Setting Properties to indicate service provider specific properties",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key for the Connection Setting Parameter."
        },
        "value": {
          "type": "string",
          "description": "Value associated with the Connection Setting Parameter."
        }
      }
    },
    "ConnectionSettingProperties": {
      "type": "object",
      "description": "Properties for a Connection Setting Item",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the Connection Setting."
        },
        "name": {
          "type": "string",
          "description": "Name of the Connection Setting."
        },
        "clientId": {
          "type": "string",
          "description": "Client Id associated with the Connection Setting."
        },
        "settingId": {
          "type": "string",
          "description": "Setting Id set by the service for the Connection Setting.",
          "readOnly": true
        },
        "clientSecret": {
          "type": "string",
          "description": "Client Secret associated with the Connection Setting"
        },
        "scopes": {
          "type": "string",
          "description": "Scopes associated with the Connection Setting"
        },
        "serviceProviderId": {
          "type": "string",
          "description": "Service Provider Id associated with the Connection Setting"
        },
        "serviceProviderDisplayName": {
          "type": "string",
          "description": "Service Provider Display Name associated with the Connection Setting"
        },
        "parameters": {
          "type": "array",
          "description": "Service Provider Parameters associated with the Connection Setting",
          "items": {
            "$ref": "#/definitions/ConnectionSettingParameter"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource"
        }
      }
    },
    "ConnectionSettingUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ConnectionSetting.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ConnectionSettingUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ConnectionSettingUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ConnectionSetting.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the Connection Setting."
        },
        "name": {
          "type": "string",
          "description": "Name of the Connection Setting."
        },
        "clientId": {
          "type": "string",
          "description": "Client Id associated with the Connection Setting."
        },
        "clientSecret": {
          "type": "string",
          "description": "Client Secret associated with the Connection Setting"
        },
        "scopes": {
          "type": "string",
          "description": "Scopes associated with the Connection Setting"
        },
        "serviceProviderId": {
          "type": "string",
          "description": "Service Provider Id associated with the Connection Setting"
        },
        "serviceProviderDisplayName": {
          "type": "string",
          "description": "Service Provider Display Name associated with the Connection Setting"
        },
        "parameters": {
          "type": "array",
          "description": "Service Provider Parameters associated with the Connection Setting",
          "items": {
            "$ref": "#/definitions/ConnectionSettingParameter"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource"
        }
      }
    },
    "CreateEmailSignInUrlResponse": {
      "type": "object",
      "description": "The ARM create email sign in url operation response.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Specifies the resource ID.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        },
        "properties": {
          "$ref": "#/definitions/CreateEmailSignInUrlResponseProperties",
          "description": "The set of properties specific to sign in url"
        }
      }
    },
    "CreateEmailSignInUrlResponseProperties": {
      "type": "object",
      "description": "The set of properties specific to sign in url",
      "properties": {
        "url": {
          "type": "string",
          "description": "Sign in url."
        }
      }
    },
    "DirectLineChannel": {
      "type": "object",
      "description": "Direct Line channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DirectLineChannelProperties",
          "description": "The set of properties specific to Direct Line channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "DirectLineChannel"
    },
    "DirectLineChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Direct Line channel.",
      "properties": {
        "sites": {
          "type": "array",
          "description": "The list of Direct Line sites",
          "items": {
            "$ref": "#/definitions/DirectLineSite"
          },
          "x-ms-identifiers": []
        },
        "extensionKey1": {
          "type": "string",
          "description": "The extensionKey1"
        },
        "extensionKey2": {
          "type": "string",
          "description": "The extensionKey2"
        },
        "DirectLineEmbedCode": {
          "type": "string",
          "description": "Direct Line embed code of the resource",
          "x-ms-client-name": "directLineEmbedCode"
        }
      }
    },
    "DirectLineSite": {
      "type": "object",
      "description": "A site for the Direct Line channel",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Tenant Id"
        },
        "siteId": {
          "type": "string",
          "description": "Site Id",
          "readOnly": true
        },
        "siteName": {
          "type": "string",
          "description": "Site name",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "key": {
          "type": "string",
          "description": "Primary key. Value only returned through POST to the action Channel List API, otherwise empty.",
          "readOnly": true
        },
        "key2": {
          "type": "string",
          "description": "Secondary key. Value only returned through POST to the action Channel List API, otherwise empty.",
          "readOnly": true
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this site is enabled for DirectLine channel"
        },
        "isTokenEnabled": {
          "type": "boolean",
          "description": "Whether this site is token enabled for channel",
          "readOnly": true
        },
        "isEndpointParametersEnabled": {
          "type": "boolean",
          "description": "Whether this site is EndpointParameters enabled for channel"
        },
        "isDetailedLoggingEnabled": {
          "type": "boolean",
          "description": "Whether this site is disabled detailed logging for"
        },
        "isBlockUserUploadEnabled": {
          "type": "boolean",
          "description": "Whether this site is enabled for block user upload."
        },
        "isNoStorageEnabled": {
          "type": "boolean",
          "description": "Whether this no-storage site is disabled detailed logging for"
        },
        "eTag": {
          "type": "string",
          "description": "Entity Tag"
        },
        "appId": {
          "type": "string",
          "description": "DirectLine application id"
        },
        "isV1Enabled": {
          "type": "boolean",
          "description": "Whether this site is enabled for Bot Framework V1 protocol.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "isV3Enabled": {
          "type": "boolean",
          "description": "Whether this site is enabled for Bot Framework V3 protocol."
        },
        "isSecureSiteEnabled": {
          "type": "boolean",
          "description": "Whether this site is enabled for authentication with Bot Framework."
        },
        "trustedOrigins": {
          "type": "array",
          "description": "List of Trusted Origin URLs for this site. This field is applicable only if isSecureSiteEnabled is True.",
          "items": {
            "type": "string"
          }
        },
        "isWebChatSpeechEnabled": {
          "type": "boolean",
          "description": "Whether this site is enabled for Webchat Speech"
        },
        "isWebchatPreviewEnabled": {
          "type": "boolean",
          "description": "Whether this site is enabled for preview versions of Webchat"
        }
      },
      "required": [
        "siteName",
        "isEnabled"
      ]
    },
    "DirectLineSpeechChannel": {
      "type": "object",
      "description": "DirectLine Speech channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DirectLineSpeechChannelProperties",
          "description": "The set of properties specific to DirectLine Speech channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "DirectLineSpeechChannel"
    },
    "DirectLineSpeechChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the DirectLine Speech channel.",
      "properties": {
        "cognitiveServiceResourceId": {
          "type": "string",
          "description": "The cognitive service id with this channel registration."
        },
        "cognitiveServiceRegion": {
          "type": "string",
          "description": "The cognitive service region with this channel registration."
        },
        "cognitiveServiceSubscriptionKey": {
          "type": "string",
          "description": "The cognitive service subscription key to use with this channel registration."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled or not."
        },
        "customVoiceDeploymentId": {
          "type": "string",
          "description": "Custom speech model id (optional)."
        },
        "customSpeechModelId": {
          "type": "string",
          "description": "Custom voice deployment id (optional)."
        },
        "isDefaultBotForCogSvcAccount": {
          "type": "boolean",
          "description": "Make this a default bot for chosen cognitive service account."
        }
      }
    },
    "EmailChannel": {
      "type": "object",
[...]
