{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.VoiceServices",
    "version": "2023-04-03",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "TestLines"
    },
    {
      "name": "CommunicationsGateways"
    }
  ],
  "paths": {
    "/providers/Microsoft.VoiceServices/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.VoiceServices/communicationsGateways": {
      "get": {
        "operationId": "CommunicationsGateways_ListBySubscription",
        "tags": [
          "CommunicationsGateways"
        ],
        "description": "List CommunicationsGateway resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationsGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListCommunicationsGatewayResourceSub": {
            "$ref": "./examples/CommunicationsGateways_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.VoiceServices/locations/{location}/checkNameAvailability": {
      "post": {
        "operationId": "NameAvailability_CheckLocal",
        "description": "Check whether the resource name is available in the given region.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location in which uniqueness will be verified.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The check availability request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckLocalNameAvailability": {
            "$ref": "./examples/NameAvailability_CheckLocal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/communicationsGateways": {
      "get": {
        "operationId": "CommunicationsGateways_ListByResourceGroup",
        "tags": [
          "CommunicationsGateways"
        ],
        "description": "List CommunicationsGateway resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationsGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListCommunicationsGatewayResource": {
            "$ref": "./examples/CommunicationsGateways_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/communicationsGateways/{communicationsGatewayName}": {
      "get": {
        "operationId": "CommunicationsGateways_Get",
        "tags": [
          "CommunicationsGateways"
        ],
        "description": "Get a CommunicationsGateway",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationsGatewayName",
            "in": "path",
            "description": "Unique identifier for this deployment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationsGateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetCommunicationsGatewayResource": {
            "$ref": "./examples/CommunicationsGateways_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CommunicationsGateways_CreateOrUpdate",
        "tags": [
          "CommunicationsGateways"
        ],
        "description": "Create a CommunicationsGateway",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationsGatewayName",
            "in": "path",
            "description": "Unique identifier for this deployment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunicationsGateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CommunicationsGateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CommunicationsGateway"
            }
          },
          "201": {
            "description": "Resource 'CommunicationsGateway' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CommunicationsGateway"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateCommunicationsGatewayResource": {
            "$ref": "./examples/CommunicationsGateways_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CommunicationsGateways_Update",
        "tags": [
          "CommunicationsGateways"
        ],
        "description": "Update a CommunicationsGateway",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationsGatewayName",
            "in": "path",
            "description": "Unique identifier for this deployment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunicationsGatewayUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationsGateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateCommunicationsGatewayResource": {
            "$ref": "./examples/CommunicationsGateways_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "CommunicationsGateways_Delete",
        "tags": [
          "CommunicationsGateways"
        ],
        "description": "Delete a CommunicationsGateway",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationsGatewayName",
            "in": "path",
            "description": "Unique identifier for this deployment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteCommunicationsGatewayResource": {
            "$ref": "./examples/CommunicationsGateways_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/communicationsGateways/{communicationsGatewayName}/testLines": {
      "get": {
        "operationId": "TestLines_ListByCommunicationsGateway",
        "tags": [
          "TestLines"
        ],
        "description": "List TestLine resources by CommunicationsGateway",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationsGatewayName",
            "in": "path",
            "description": "Unique identifier for this deployment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListTestLineResource": {
            "$ref": "./examples/TestLines_ListByCommunicationsGateway.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/communicationsGateways/{communicationsGatewayName}/testLines/{testLineName}": {
      "get": {
        "operationId": "TestLines_Get",
        "tags": [
          "TestLines"
        ],
        "description": "Get a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationsGatewayName",
            "in": "path",
            "description": "Unique identifier for this deployment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "testLineName",
            "in": "path",
            "description": "Unique identifier for this test line",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetTestLineResource": {
            "$ref": "./examples/TestLines_Get.json"
          }
        }
      },
      "put": {
        "operationId": "TestLines_CreateOrUpdate",
        "tags": [
          "TestLines"
        ],
        "description": "Create a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationsGatewayName",
            "in": "path",
            "description": "Unique identifier for this deployment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "testLineName",
            "in": "path",
            "description": "Unique identifier for this test line",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'TestLine' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "201": {
            "description": "Resource 'TestLine' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/TestLine"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateTestLineResource": {
            "$ref": "./examples/TestLines_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "TestLines_Update",
        "tags": [
          "TestLines"
        ],
        "description": "Update a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationsGatewayName",
            "in": "path",
            "description": "Unique identifier for this deployment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "testLineName",
            "in": "path",
            "description": "Unique identifier for this test line",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestLineUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateTestLineResource": {
            "$ref": "./examples/TestLines_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "TestLines_Delete",
        "tags": [
          "TestLines"
        ],
        "description": "Delete a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationsGatewayName",
            "in": "path",
            "description": "Unique identifier for this deployment",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "testLineName",
            "in": "path",
            "description": "Unique identifier for this test line",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteTestLineResource": {
            "$ref": "./examples/TestLines_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApiBridgeProperties": {
      "type": "object",
      "description": "Configuration of the API Bridge."
    },
    "CheckNameAvailabilityReason": {
      "type": "string",
      "description": "Possible reasons for a name not being available.",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "CheckNameAvailabilityReason",
        "modelAsString": true,
        "values": [
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Name not available if the name is invalid."
          },
          {
            "name": "AlreadyExists",
            "value": "AlreadyExists",
            "description": "Name not available if the name is already in use."
          }
        ]
      }
    },
    "CheckNameAvailabilityRequest": {
      "type": "object",
      "description": "The check availability request body.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource for which availability needs to be checked."
        },
        "type": {
          "type": "string",
          "description": "The resource type."
        }
      }
    },
    "CheckNameAvailabilityResponse": {
      "type": "object",
      "description": "The check availability result.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Indicates if the resource name is available."
        },
        "reason": {
          "$ref": "#/definitions/CheckNameAvailabilityReason",
          "description": "The reason why the given name is not available."
        },
        "message": {
          "type": "string",
          "description": "Detailed reason why the given name is not available."
        }
      }
    },
    "CommunicationsGateway": {
      "type": "object",
      "description": "A CommunicationsGateway resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommunicationsGatewayProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CommunicationsGatewayListResult": {
      "type": "object",
      "description": "The response of a CommunicationsGateway list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CommunicationsGateway items on this page",
          "items": {
            "$ref": "#/definitions/CommunicationsGateway"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CommunicationsGatewayProperties": {
      "type": "object",
      "description": "Details of the CommunicationsGateway resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource provisioning state.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The current status of the deployment.",
          "readOnly": true
        },
        "serviceLocations": {
          "type": "array",
          "description": "The regions in which to deploy the resources needed for Teams Calling",
          "items": {
            "$ref": "#/definitions/ServiceRegionProperties"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "connectivity": {
          "$ref": "#/definitions/Connectivity",
          "description": "How to connect back to the Operator Network, e.g. MAPS",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "codecs": {
          "type": "array",
          "description": "Voice codecs to support",
          "items": {
            "$ref": "#/definitions/TeamsCodecs"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "e911Type": {
          "$ref": "#/definitions/E911Type",
          "description": "How to handle 911 calls",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "platforms": {
          "type": "array",
          "description": "What platforms to support",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/CommunicationsPlatform"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "apiBridge": {
          "$ref": "#/definitions/ApiBridgeProperties",
          "description": "Details of API bridge functionality, if required",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "autoGeneratedDomainNameLabelScope": {
          "type": "string",
          "description": "The scope at which the auto-generated domain name can be re-used",
          "default": "TenantReuse",
          "enum": [
            "TenantReuse",
            "SubscriptionReuse",
            "ResourceGroupReuse",
            "NoReuse"
          ],
          "x-ms-enum": {
            "name": "AutoGeneratedDomainNameLabelScope",
            "modelAsString": true,
            "values": [
              {
                "name": "TenantReuse",
                "value": "TenantReuse",
                "description": "Generated domain name label depends on resource name and tenant ID."
              },
              {
                "name": "SubscriptionReuse",
                "value": "SubscriptionReuse",
                "description": "Generated domain name label depends on resource name, tenant ID and subscription ID."
              },
              {
                "name": "ResourceGroupReuse",
                "value": "ResourceGroupReuse",
                "description": "Generated domain name label depends on resource name, tenant ID, subscription ID and resource group name."
              },
              {
                "name": "NoReuse",
                "value": "NoReuse",
                "description": "Generated domain name label is always unique."
              }
            ]
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "autoGeneratedDomainNameLabel": {
          "type": "string",
          "description": "The autogenerated label used as part of the FQDNs for accessing the Communications Gateway",
          "readOnly": true
        },
        "teamsVoicemailPilotNumber": {
          "type": "string",
          "description": "This number is used in Teams Phone Mobile scenarios for access to the voicemail IVR from the native dialer.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "onPremMcpEnabled": {
          "type": "boolean",
          "description": "Whether an on-premises Mobile Control Point is in use.",
          "default": false,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "integratedMcpEnabled": {
          "type": "boolean",
          "description": "Whether an integrated Mobile Control Point is in use.",
          "default": false,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "emergencyDialStrings": {
          "type": "array",
          "description": "A list of dial strings used for emergency calling.",
          "default": [
            "911",
            "933"
          ],
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "serviceLocations",
        "connectivity",
        "codecs",
        "e911Type",
        "platforms"
      ]
    },
    "CommunicationsGatewayUpdate": {
      "type": "object",
      "description": "The type used for update operations of the CommunicationsGateway.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CommunicationsPlatform": {
      "type": "string",
      "description": "Available platform types.",
      "enum": [
        "OperatorConnect",
        "TeamsPhoneMobile"
      ],
      "x-ms-enum": {
        "name": "CommunicationsPlatform",
        "modelAsString": true,
        "values": [
          {
            "name": "OperatorConnect",
            "value": "OperatorConnect",
            "description": "Operator Connect"
          },
          {
            "name": "TeamsPhoneMobile",
            "value": "TeamsPhoneMobile",
            "description": "Teams Phone Mobile"
          }
        ]
      }
    },
    "Connectivity": {
      "type": "string",
      "description": "How this deployment connects back to the Operator Network",
      "enum": [
        "PublicAddress"
      ],
      "x-ms-enum": {
        "name": "Connectivity",
        "modelAsString": true,
        "values": [
          {
            "name": "PublicAddress",
            "value": "PublicAddress",
            "description": "This deployment connects to the Operator Network using a Public IP address, e.g. when using MAPS"
          }
        ]
      }
    },
    "E911Type": {
      "type": "string",
      "description": "The method for terminating emergency calls to the PSTN.",
      "enum": [
        "Standard",
        "DirectToEsrp"
      ],
      "x-ms-enum": {
        "name": "E911Type",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Emergency calls are not handled different from other calls"
          },
          {
            "name": "DirectToEsrp",
            "value": "DirectToEsrp",
            "description": "Emergency calls are routed directly to the ESRP"
          }
        ]
      }
    },
    "PrimaryRegionProperties": {
      "type": "object",
      "description": "The configuration used in this region as primary, and other regions as backup.",
      "properties": {
        "operatorAddresses": {
          "type": "array",
          "description": "IP address to use to contact the Operator Network from this region",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "esrpAddresses": {
          "type": "array",
          "description": "IP address to use to contact the ESRP from this region",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "allowedSignalingSourceAddressPrefixes": {
          "type": "array",
          "description": "The allowed source IP addresses or CIDR ranges for signaling",
          "default": [],
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "allowedMediaSourceAddressPrefixes": {
          "type": "array",
          "description": "The allowed source IP addresses or CIDR ranges for media",
          "default": [],
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "operatorAddresses"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "ServiceRegionProperties": {
      "type": "object",
      "description": "The service region configuration needed for Teams Callings.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the region in which the resources needed for Teams Calling will be deployed.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "primaryRegionProperties": {
          "$ref": "#/definitions/PrimaryRegionProperties",
          "description": "The configuration used in this region as primary, and other regions as backup.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "name",
        "primaryRegionProperties"
      ]
    },
    "Status": {
      "type": "string",
      "description": "The status of the current CommunicationsGateway resource.",
      "enum": [
        "ChangePending",
        "Complete"
      ],
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": true,
        "values": [
          {
            "name": "ChangePending",
            "value": "ChangePending",
            "description": "The resource has been created or updated, but the CommunicationsGateway service has not yet been updated to reflect the changes."
          },
          {
            "name": "Complete",
            "value": "Complete",
            "description": "The CommunicationsGateway service is up and running with the parameters specified in the resource."
          }
        ]
      }
    },
    "TeamsCodecs": {
      "type": "string",
      "description": "The voice codecs expected for communication with Teams.",
      "enum": [
        "PCMA",
        "PCMU",
        "G722",
        "G722_2",
        "SILK_8",
        "SILK_16"
      ],
      "x-ms-enum": {
        "name": "TeamsCodecs",
        "modelAsString": true,
        "values": [
          {
            "name": "PCMA",
            "value": "PCMA",
            "description": "Pulse code modulation(PCM) U-law narrowband audio codec(G.711u)"
          },
          {
            "name": "PCMU",
            "value": "PCMU",
            "description": "Pulse code modulation(PCM) U-law narrowband audio codec(G.711u)"
          },
          {
            "name": "G722",
            "value": "G722",
            "description": "G.722 wideband audio codec"
          },
          {
            "name": "G722_2",
            "value": "G722_2",
            "description": "G.722.2 wideband audio codec"
          },
          {
            "name": "SILK_8",
            "value": "SILK_8",
            "description": "SILK/8000 narrowband audio codec"
          },
          {
            "name": "SILK_16",
            "value": "SILK_16",
            "description": "SILK/16000 wideband audio codec"
          }
        ]
      }
    },
    "TestLine": {
      "type": "object",
      "description": "A TestLine resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TestLineProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "TestLineListResult": {
      "type": "object",
      "description": "The response of a TestLine list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The TestLine items on this page",
          "items": {
            "$ref": "#/definitions/TestLine"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "TestLineProperties": {
      "type": "object",
      "description": "Details of the TestLine resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource provisioning state.",
          "readOnly": true
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "purpose": {
          "$ref": "#/definitions/TestLinePurpose",
          "description": "Purpose of this test line, e.g. automated or manual testing",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "phoneNumber",
        "purpose"
      ]
    },
    "TestLinePurpose": {
      "type": "string",
      "description": "The purpose of the TestLine resource.",
      "enum": [
        "Manual",
        "Automated"
      ],
      "x-ms-enum": {
        "name": "TestLinePurpose",
        "modelAsString": true,
        "values": [
          {
            "name": "Manual",
            "value": "Manual",
            "description": "The test line is used for manual testing"
          },
          {
            "name": "Automated",
            "value": "Automated",
            "description": "The test line is used for automated testing"
          }
        ]
      }
    },
    "TestLineUpdate": {
      "type": "object",
      "description": "The type used for update operations of the TestLine.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
