{
  "swagger": "2.0",
  "info": {
    "title": "HDInsightManagementClient",
    "description": "The HDInsight Management Client.",
    "version": "2021-06-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.HDInsight/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available HDInsight REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Operation": {
      "description": "The HDInsight REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The display of operation.",
          "$ref": "#/definitions/OperationDisplay"
        },
        "properties": {
          "description": "The operation properties.",
          "$ref": "#/definitions/OperationProperties"
        }
      },
      "readOnly": true
    },
    "OperationDisplay": {
      "type": "object",
      "description": "The object that represents the operation.",
      "properties": {
        "provider": {
          "description": "The service provider: Microsoft.HDInsight",
          "type": "string"
        },
        "resource": {
          "description": "The resource on which the operation is performed: Cluster, Applications, etc.",
          "type": "string"
        },
        "operation": {
          "description": "The operation type: read, write, delete, etc.",
          "type": "string"
        },
        "description": {
          "description": "Localized friendly description for the operation",
          "type": "string"
        }
      }
    },
    "OperationProperties": {
      "description": "The details of operation.",
      "type": "object",
      "properties": {
        "serviceSpecification": {
          "description": "The specification of the service.",
          "$ref": "#/definitions/ServiceSpecification"
        }
      }
    },
    "ServiceSpecification": {
      "description": "The specification of the service.",
      "type": "object",
      "properties": {
        "metricSpecifications": {
          "description": "The metric specifications.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSpecifications"
          }
        }
      }
    },
    "MetricSpecifications": {
      "description": "The details of metric specifications.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the metric specification.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the metric specification.",
          "type": "string"
        },
        "displayDescription": {
          "description": "The display description of the metric specification.",
          "type": "string"
        },
        "unit": {
          "description": "The unit of the metric specification.",
          "type": "string"
        },
        "aggregationType": {
          "description": "The aggregation type of the metric specification.",
          "type": "string"
        },
        "supportedAggregationTypes": {
          "description": "The supported aggregation types of the metric specification.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedTimeGrainTypes": {
          "description": "The supported time grain types of the metric specification.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableRegionalMdmAccount": {
          "description": "The flag indicates whether enable regional mdm account or not.",
          "type": "boolean"
        },
        "sourceMdmAccount": {
          "description": "The source mdm account.",
          "type": "string"
        },
        "sourceMdmNamespace": {
          "description": "The source mdm namespace.",
          "type": "string"
        },
        "metricFilterPattern": {
          "description": "The metric filter pattern.",
          "type": "string"
        },
        "fillGapWithZero": {
          "description": "The flag indicates whether filling gap with zero.",
          "type": "boolean"
        },
        "category": {
          "description": "The category of the metric.",
          "type": "string"
        },
        "resourceIdDimensionNameOverride": {
          "description": "The override name of resource id dimension name.",
          "type": "string"
        },
        "isInternal": {
          "description": "The flag indicates whether the metric is internal or not.",
          "type": "boolean"
        },
        "delegateMetricNameOverride": {
          "description": "The override name of delegate metric.",
          "type": "string"
        },
        "dimensions": {
          "description": "The dimensions of the metric specification.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dimension"
          }
        }
      }
    },
    "Dimension": {
      "description": "The definition of Dimension.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the dimension.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the dimension.",
          "type": "string"
        },
        "internalName": {
          "description": "The display name of the dimension.",
          "type": "string"
        },
        "toBeExportedForShoebox": {
          "description": "The flag indicates whether the metric will be exported for shoebox or not.",
          "type": "boolean"
        }
      }
    },
    "OperationListResult": {
      "type": "object",
      "description": "Result of the request to list HDInsight operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "The list of HDInsight operations supported by the HDInsight resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of operation list results if there are any."
        }
      },
      "readOnly": true
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The HDInsight client API Version."
    }
  }
}
