{
  "swagger": "2.0",
  "info": {
    "title": "HDInsightManagementClient",
    "description": "The HDInsight Management Client.",
    "version": "2021-06-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_ListByCluster",
        "description": "Lists the private endpoint connections for a HDInsight cluster.",
        "x-ms-examples": {
          "Get all private endpoint connections for a specific HDInsight cluster.": {
            "$ref": "./examples/GetAllPrivateEndpointConnectionsInCluster.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./operations.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "put": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "description": "Approve or reject a private endpoint connection manually.",
        "x-ms-examples": {
          "Approve a private endpoint connection manually.": {
            "$ref": "./examples/ApprovePrivateEndpointConnection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointConnectionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "description": "The private endpoint connection create or update request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./operations.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Created response definition",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_Get",
        "description": "Gets the specific private endpoint connection.",
        "x-ms-examples": {
          "Get specific private endpoint connection for a specific HDInsight cluster.": {
            "$ref": "./examples/GetPrivateEndpointConnection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointConnectionNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./operations.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_Delete",
        "description": "Deletes the specific private endpoint connection.",
        "x-ms-examples": {
          "Delete specific private endpoint connection for a specific HDInsight cluster.": {
            "$ref": "./examples/DeletePrivateEndpointConnection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointConnectionNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./operations.json#/definitions/ErrorResponse"
            }
          },
          "202": {
            "description": "Accepted response definition."
          },
          "200": {
            "description": "Ok response definition."
          },
          "204": {
            "description": "No Content response definition."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "definitions": {
    "PrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "The list private endpoint connections response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of private endpoint connections.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The link (url) to the next page of results."
        }
      }
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "The private endpoint connection.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "The private endpoint connection properties.",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./cluster.json#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ]
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "The private endpoint connection properties.",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "The private endpoint of the private endpoint connection",
          "readOnly": true
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "The private link service connection state."
        },
        "linkIdentifier": {
          "type": "string",
          "description": "The link identifier.",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state, which only appears in the response.",
          "enum": [
            "InProgress",
            "Updating",
            "Failed",
            "Succeeded",
            "Canceled",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "PrivateEndpointConnectionProvisioningState",
            "modelAsString": true
          },
          "readOnly": true
        }
      },
      "required": [
        "privateLinkServiceConnectionState"
      ]
    },
    "PrivateEndpoint": {
      "type": "object",
      "description": "The private endpoint.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The private endpoint id."
        }
      }
    },
    "PrivateLinkServiceConnectionState": {
      "type": "object",
      "description": "The private link service connection state.",
      "properties": {
        "status": {
          "type": "string",
          "description": "The concrete private link service connection.",
          "enum": [
            "Approved",
            "Rejected",
            "Pending",
            "Removed"
          ],
          "x-ms-enum": {
            "name": "PrivateLinkServiceConnectionStatus",
            "modelAsString": true
          }
        },
        "description": {
          "type": "string",
          "description": "The optional description of the status."
        },
        "actionsRequired": {
          "type": "string",
          "description": "Whether there is further actions."
        }
      },
      "required": [
        "status"
      ]
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The HDInsight client API Version."
    },
    "PrivateEndpointConnectionNameParameter": {
      "name": "privateEndpointConnectionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the private endpoint connection.",
      "x-ms-parameter-location": "method"
    }
  }
}
