{
  "swagger": "2.0",
  "info": {
    "title": "AzureChangeAnalysisManagementClient",
    "version": "2020-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeAnalysis/profile/{profileName}": {
      "get": {
        "tags": [
          "ConfigurationProfile"
        ],
        "summary": "Get the configuration profile for the Microsoft.ChangeAnalysis resource provider.\r\nThis operation is expected to be idempotent.",
        "produces": [
          "application/json",
          "default"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ConfigurationProfileResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ConfigurationProfile"
        ],
        "summary": "Updates configuration profile for for the Microsoft.ChangeAnalysis resource provider.\r\nThis operation is expected to be idempotent. In current version of API name of the profile is ignored.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "default"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request body containing new configuration profile.",
            "schema": {
              "$ref": "#/definitions/ConfigurationProfileResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ConfigurationProfileResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ConfigurationProfile"
        ],
        "summary": "Updates a configuration profile with the specified parameters.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "default"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The parameters for updating a configuration store.",
            "schema": {
              "$ref": "#/definitions/ConfigurationProfileResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ConfigurationProfileResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ConfigurationProfile"
        ],
        "summary": "Deletes existing configuration profile.",
        "produces": [
          "default"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/providers/Microsoft.ChangeAnalysis/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Lists operations for the resource provider.",
        "description": "Lists all the supported operations by the Microsoft.ChangeAnalysis resource provider along with their description.",
        "produces": [
          "text/plain",
          "application/json",
          "text/json",
          "default"
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ResourceIdentity": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "None",
            "SystemAssigned"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ManagedIdentityTypes",
            "modelAsString": true
          }
        },
        "principalId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AzureMonitorWorkspaceProperties": {
      "type": "object",
      "properties": {
        "workspaceId": {
          "type": "string"
        },
        "workspaceResourceId": {
          "type": "string"
        }
      }
    },
    "NotificationsState": {
      "enum": [
        "None",
        "Enabled",
        "Disabled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "NotificationsState",
        "modelAsString": true
      }
    },
    "NotificationSettings": {
      "type": "object",
      "properties": {
        "azureMonitorWorkspaceProperties": {
          "$ref": "#/definitions/AzureMonitorWorkspaceProperties"
        },
        "activationState": {
          "$ref": "#/definitions/NotificationsState"
        }
      }
    },
    "ConfigurationProfileResourceProperties": {
      "type": "object",
      "properties": {
        "notifications": {
          "$ref": "#/definitions/NotificationSettings"
        },
        "lastModifiedBy": {
          "type": "string",
          "readOnly": true
        },
        "lastModifiedTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ConfigurationProfileResource": {
      "description": "The configuration profile along with all resource properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/ResourceIdentity"
        },
        "properties": {
          "$ref": "#/definitions/ConfigurationProfileResourceProperties"
        }
      }
    },
    "Error": {
      "description": "Unexpected Azure Change Analysis ProxyResource Provider Error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message.",
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationDisplay": {
      "type": "object",
      "properties": {
        "provider": {
          "description": "Name of the resource provider.",
          "type": "string"
        },
        "resource": {
          "description": "Name of the resource type.",
          "type": "string"
        },
        "operation": {
          "description": "Name of the resource provider operation.",
          "type": "string"
        },
        "description": {
          "description": "Description of the resource provider operation.",
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationDefinition": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource provider operation name.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/ResourceProviderOperationDisplay"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Resource provider operations list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperationDefinition"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next page for list of Azure operations.",
          "type": "string"
        }
      }
    },
    "ProxyResource": {
      "description": "An Azure resource.",
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "in": "path",
      "name": "subscriptionId",
      "description": "The Microsoft Azure subscription ID.",
      "required": true,
      "type": "string"
    },
    "ProfileNameParameter": {
      "in": "path",
      "name": "profileName",
      "description": "The name of the configuration profile. The profile name should be set to 'default', all other names will be overwritten.",
      "required": true,
      "type": "string",
      "pattern": "^(?!.*-$)[^-][a-zA-Z0-9-]*$",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "in": "query",
      "name": "api-version",
      "description": "The client API version.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}