{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2023-05-01-preview",
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "HealthReports"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.Security/healthReports": {
      "get": {
        "operationId": "HealthReports_List",
        "tags": [
          "HealthReports"
        ],
        "description": "Get a list of all health reports inside a scope. Valid scopes are: subscription (format: 'subscriptions/{subscriptionId}'), or security connector (format: 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName})'",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthReportsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List health reports": {
            "$ref": "./examples/HealthReports/ListHealthReports_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/healthReports/{healthReportName}": {
      "get": {
        "operationId": "HealthReports_Get",
        "tags": [
          "HealthReports"
        ],
        "description": "Get health report of resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "healthReportName",
            "in": "path",
            "description": "The health report key.",
            "required": true,
            "type": "string",
            "pattern": "[{]?[0-9a-fA-F]{8}-(?:[0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}[}]?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthReport"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get health report of resource": {
            "$ref": "./examples/HealthReports/GetHealthReports_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "HealthReport": {
      "type": "object",
      "description": "The health report resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HealthReportProperties",
          "description": "Properties of a health report",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HealthReportProperties": {
      "type": "object",
      "description": "Describes properties of the health report",
      "properties": {
        "resourceDetails": {
          "$ref": "#/definitions/resourceDetails",
          "description": "The resource details of the health report"
        },
        "environmentDetails": {
          "$ref": "#/definitions/environmentDetails",
          "description": "The environment details of the resource"
        },
        "healthDataClassification": {
          "$ref": "#/definitions/healthDataClassification",
          "description": "The classification of the health report"
        },
        "status": {
          "$ref": "#/definitions/status",
          "description": "The status of the health report"
        },
        "affectedDefendersPlans": {
          "type": "array",
          "description": "The affected defenders plans by unhealthy report",
          "items": {
            "type": "string"
          }
        },
        "affectedDefendersSubPlans": {
          "type": "array",
          "description": "The affected defenders sub plans by unhealthy report",
          "items": {
            "type": "string"
          }
        },
        "reportAdditionalData": {
          "type": "object",
          "description": "Additional data for the given health report, this field can include more details on the resource and the health scenario.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "issues": {
          "type": "array",
          "description": "A collection of the issues in the report",
          "items": {
            "$ref": "#/definitions/issue"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "HealthReportsList": {
      "type": "object",
      "description": "Page of health reports list",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HealthReport items on this page.",
          "items": {
            "$ref": "#/definitions/HealthReport"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      }
    },
    "Source": {
      "type": "string",
      "description": "The status of the health report",
      "enum": [
        "Aws",
        "Gcp",
        "Azure"
      ],
      "x-ms-enum": {
        "name": "Source",
        "modelAsString": true,
        "values": [
          {
            "name": "Aws",
            "value": "Aws",
            "description": "Aws"
          },
          {
            "name": "Gcp",
            "value": "Gcp",
            "description": "Gcp"
          },
          {
            "name": "Azure",
            "value": "Azure",
            "description": "Azure"
          }
        ]
      }
    },
    "StatusName": {
      "type": "string",
      "description": "The status of the health report",
      "enum": [
        "Healthy",
        "NotHealthy",
        "NotApplicable"
      ],
      "x-ms-enum": {
        "name": "StatusName",
        "modelAsString": true,
        "values": [
          {
            "name": "Healthy",
            "value": "Healthy",
            "description": "Healthy"
          },
          {
            "name": "NotHealthy",
            "value": "NotHealthy",
            "description": "NotHealthy"
          },
          {
            "name": "NotApplicable",
            "value": "NotApplicable",
            "description": "NotApplicable"
          }
        ]
      }
    },
    "environmentDetails": {
      "type": "object",
      "description": "The environment details of the resource",
      "properties": {
        "nativeResourceId": {
          "type": "string",
          "description": "The native resource id of the resource (in case of Azure - the resource Id, in case of MC - the native resource id)"
        },
        "environmentHierarchyId": {
          "type": "string",
          "description": "The hierarchy id of the connector (in case of Azure - the subscription Id, in case of MC - the hierarchyId id)"
        },
        "organizationalHierarchyId": {
          "type": "string",
          "description": "The organizational hierarchy id of the connector (in case of Azure - the subscription Id, in case of MC - the organizational hierarchyId id)"
        },
        "subscriptionId": {
          "type": "string",
          "description": "The subscription Id"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant Id"
        }
      }
    },
    "healthDataClassification": {
      "type": "object",
      "description": "The classification of the health report",
      "properties": {
        "component": {
          "type": "string",
          "description": "The component describes the name of the agent/service that scans the issue"
        },
        "scenario": {
          "type": "string",
          "description": "The scenario describes the health scenario issue of the component"
        },
        "scope": {
          "type": "string",
          "description": "The resource scope of the health report"
        }
      }
    },
    "issue": {
      "type": "object",
      "description": "The issue that caused the resource to by unhealthy",
      "properties": {
        "issueKey": {
          "type": "string",
          "description": "The unique issue key"
        },
        "issueName": {
          "type": "string",
          "description": "The issue name"
        },
        "securityValues": {
          "type": "array",
          "description": "The affected security values that MDC offers that will be affected by the issue, for example: recommendations, alerts, etc",
          "items": {
            "type": "string"
          }
        },
        "issueDescription": {
          "type": "string",
          "description": "The issue description"
        },
        "remediationSteps": {
          "type": "string",
          "description": "Human readable description of what you should do to mitigate this health issue"
        },
        "remediationScript": {
          "type": "string",
          "description": "The remediation script to solve this issue"
        },
        "issueAdditionalData": {
          "type": "object",
          "description": "Additional data for the given issue. The additional data depends on the issue type",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "issueKey"
      ]
    },
    "resourceDetails": {
      "type": "object",
      "description": "The resource details of the health report",
      "properties": {
        "source": {
          "$ref": "#/definitions/Source",
          "description": "The status of the health report"
        },
        "id": {
          "type": "string",
          "description": "The azure id of the resource",
          "readOnly": true
        },
        "connectorId": {
          "type": "string",
          "description": "The id of the connector",
          "readOnly": true
        }
      }
    },
    "status": {
      "type": "object",
      "description": "The status of the health report",
      "properties": {
        "code": {
          "$ref": "#/definitions/StatusName",
          "description": "The status of the health report"
        },
        "reason": {
          "type": "string",
          "description": "The reason of the given status",
          "readOnly": true
        },
        "lastScannedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date of when the resource was scanned in the last time",
          "readOnly": true
        },
        "statusChangeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date of when the status of the health report was changed in the last time",
          "readOnly": true
        },
        "firstEvaluationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date of when the resource of the health report was scanned in the first time",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
