{
  "swagger": "2.0",
  "info": {
    "version": "2024-11-01-preview",
    "title": "ContainerInstanceManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/containerGroups": {
      "get": {
        "operationId": "ContainerGroups_List",
        "x-ms-examples": {
          "ContainerGroupsList": {
            "$ref": "./examples/ContainerGroupsList.json"
          }
        },
        "summary": "Get a list of container groups in the specified subscription.",
        "description": "Get a list of container groups in the specified subscription. This operation returns properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups": {
      "get": {
        "operationId": "ContainerGroups_ListByResourceGroup",
        "x-ms-examples": {
          "ContainerGroupsListByResourceGroup": {
            "$ref": "./examples/ContainerGroupsListByResourceGroup.json"
          }
        },
        "summary": "Get a list of container groups in the specified subscription and resource group.",
        "description": "Get a list of container groups in a specified subscription and resource group. This operation returns properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}": {
      "get": {
        "operationId": "ContainerGroups_Get",
        "x-ms-examples": {
          "ContainerGroupsGet_Succeeded": {
            "$ref": "./examples/ContainerGroupsGet_Succeeded.json"
          },
          "ContainerGroupsGet_Failed": {
            "$ref": "./examples/ContainerGroupsGet_Failed.json"
          },
          "ContainerGroupsGetWithPriority": {
            "$ref": "./examples/ContainerGroupsGetPriority.json"
          }
        },
        "summary": "Get the properties of the specified container group.",
        "description": "Gets the properties of the specified container group in the specified subscription and resource group. The operation returns the properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "ContainerGroups_CreateOrUpdate",
        "x-ms-examples": {
          "ContainerGroupsCreateOrUpdate": {
            "$ref": "./examples/ContainerGroupsCreateOrUpdate.json"
          },
          "ContainerGroupsCreateOrUpdateSecretReference": {
            "$ref": "./examples/ContainerGroupsCreateOrUpdateSecretReference.json"
          },
          "ContainerGroupCreateWithExtensions": {
            "$ref": "./examples/ContainerGroupExtensions.json"
          },
          "ContainerGroupWithEncryptionProperties": {
            "$ref": "./examples/ContainerGroupEncryptionProperties.json"
          },
          "ConfidentialContainerGroup": {
            "$ref": "./examples/ContainerGroupCreateConfidential.json"
          },
          "ContainerGroupsCreateWithPriority": {
            "$ref": "./examples/ContainerGroupsCreatePriority.json"
          }
        },
        "summary": "Create or update container groups.",
        "description": "Create or update container groups with specified configurations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          },
          {
            "name": "containerGroup",
            "description": "The properties of the container group to be created or updated.",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          },
          "201": {
            "description": "Created - the container group is created.",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ContainerGroups_Update",
        "x-ms-examples": {
          "ContainerGroupsUpdate": {
            "$ref": "./examples/ContainerGroupsUpdate.json"
          }
        },
        "summary": "Update container groups.",
        "description": "Updates container group tags with specified values.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          },
          {
            "name": "Resource",
            "description": "The container group resource with just the tags to be updated.",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "ContainerGroups_Delete",
        "x-ms-examples": {
          "ContainerGroupsDelete": {
            "$ref": "./examples/ContainerGroupsDelete.json"
          }
        },
        "summary": "Delete the specified container group.",
        "description": "Delete the specified container group in the specified subscription and resource group. The operation does not delete other resources provided by the user, such as volumes.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          },
          "202": {
            "description": "Delete started."
          },
          "204": {
            "description": "No Content - the specified container group was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/restart": {
      "post": {
        "operationId": "ContainerGroups_Restart",
        "x-ms-examples": {
          "ContainerRestart": {
            "$ref": "./examples/ContainerGroupsRestart.json"
          }
        },
        "summary": "Restarts all containers in a container group.",
        "description": "Restarts all containers in a container group in place. If container image has updates, new image will be downloaded.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/stop": {
      "post": {
        "operationId": "ContainerGroups_Stop",
        "x-ms-examples": {
          "ContainerStop": {
            "$ref": "./examples/ContainerGroupsStop.json"
          }
        },
        "summary": "Stops all containers in a container group.",
        "description": "Stops all containers in a container group. Compute resources will be deallocated and billing will stop.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/start": {
      "post": {
        "operationId": "ContainerGroups_Start",
        "x-ms-examples": {
          "ContainerStart": {
            "$ref": "./examples/ContainerGroupsStart.json"
          }
        },
        "summary": "Starts all containers in a container group.",
        "description": "Starts all containers in a container group. Compute resources will be allocated and billing will start.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Started - the container group is starting."
          },
          "204": {
            "description": "Started - the container group is already running or starting."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.ContainerInstance/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "description": "List the operations for Azure Container Instance service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/usages": {
      "get": {
        "operationId": "Location_ListUsage",
        "x-ms-examples": {
          "ContainerUsage": {
            "$ref": "./examples/ContainerGroupUsage.json"
          }
        },
        "description": "Get the usage for a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UsageListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/logs": {
      "get": {
        "operationId": "Containers_ListLogs",
        "x-ms-examples": {
          "ContainerListLogs": {
            "$ref": "./examples/ContainerListLogs.json"
          }
        },
        "summary": "Get the logs for a specified container instance.",
        "description": "Get the logs for a specified container instance in a specified resource group and container group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the container instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tail",
            "in": "query",
            "description": "The number of lines to show from the tail of the container instance log. If not provided, all available logs are shown up to 4mb.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "timestamps",
            "in": "query",
            "description": "If true, adds a timestamp at the beginning of every line of log output. If not provided, defaults to false.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Logs"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/exec": {
      "post": {
        "operationId": "Containers_ExecuteCommand",
        "x-ms-examples": {
          "ContainerExec": {
            "$ref": "./examples/ContainerExec.json"
          }
        },
        "summary": "Executes a command in a specific container instance.",
        "description": "Executes a command for a specific container instance in a specified resource group and container group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the container instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerExecRequest",
            "in": "body",
            "description": "The request for the exec command.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerExecRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerExecResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/attach": {
      "post": {
        "operationId": "Containers_Attach",
        "x-ms-examples": {
          "ContainerAttach": {
            "$ref": "./examples/ContainerAttach.json"
          }
        },
        "summary": "Attach to the output of a specific container instance.",
        "description": "Attach to the output stream of a specific container instance in a specified resource group and container group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the container instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerAttachResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/cachedImages": {
      "get": {
        "operationId": "Location_ListCachedImages",
        "x-ms-examples": {
          "CachedImages": {
            "$ref": "./examples/CachedImagesList.json"
          }
        },
        "summary": "Get the list of cached images.",
        "description": "Get the list of cached images on specific OS type for a subscription in a region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CachedImagesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/capabilities": {
      "get": {
        "operationId": "Location_ListCapabilities",
        "x-ms-examples": {
          "GetCapabilities": {
            "$ref": "./examples/CapabilitiesList.json"
          }
        },
        "summary": "Get the list of capabilities of the location.",
        "description": "Get the list of CPU/memory/GPU capabilities of a region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapabilitiesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/outboundNetworkDependenciesEndpoints": {
      "get": {
        "operationId": "ContainerGroups_GetOutboundNetworkDependenciesEndpoints",
        "x-ms-examples": {},
        "summary": "Get all network dependencies for container group.",
        "description": "Gets all the network dependencies for this container group to allow complete control of network setting and configuration. For container groups, this will always be an empty list.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkDependenciesResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}/providers/Microsoft.ContainerInstance/serviceAssociationLinks/default": {
      "delete": {
        "operationId": "SubnetServiceAssociationLink_Delete",
        "x-ms-examples": {
          "SubnetServiceAssociationLinkDelete": {
            "$ref": "./examples/SubnetServiceAssociationLinkDelete.json"
          }
        },
        "summary": "Delete container group virtual network association links.",
        "description": "Delete container group virtual network association links. The operation does not delete other resources provided by the user.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworkNameParameter"
          },
          {
            "$ref": "#/parameters/SubnetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Delete started."
          },
          "204": {
            "description": "No Content - the specified container group was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}": {
      "get": {
        "operationId": "NGroups_Get",
        "x-ms-examples": {},
        "summary": "NGroups GET REST API",
        "description": "Get the properties of the specified NGroups resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NGroupsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "NGroups_CreateOrUpdate",
        "x-ms-examples": {},
        "summary": "NGroup PUT REST API",
        "description": "Create or update a NGroups resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NGroupsNameParameter"
          },
          {
            "name": "NGroup",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NGroup"
            },
            "description": "The NGroup object."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/NGroup"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "operationId": "NGroups_Update",
        "x-ms-examples": {},
        "summary": "NGroups PATCH REST API",
        "description": "Update a specified NGroups resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NGroupsNameParameter"
          },
          {
            "name": "NGroup",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NGroupPatch"
            },
            "description": "The NGroup object."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "202": {
            "description": "NGroup update started",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "operationId": "NGroups_Delete",
        "x-ms-examples": {},
        "summary": "NGroups Delete REST API",
        "description": "Deletes the NGroups resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NGroupsNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}/start": {
      "post": {
        "operationId": "NGroups_Start",
        "x-ms-examples": {},
        "summary": "Starts all container groups in the specified NGroups resource.",
        "description": "Starts all container groups in the specified NGroups resource. Compute resources will be allocated and billing will start.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NGroupsNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Started - the container groups are starting.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}/stop": {
      "post": {
        "operationId": "NGroups_Stop",
        "x-ms-examples": {},
        "summary": "Stops all container groups in the specified NGroups resource.",
        "description": "Stops all container groups in the specified NGroups resource. Compute resources will be deallocated and billing will stop.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NGroupsNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}/restart": {
      "post": {
        "operationId": "NGroups_Restart",
        "x-ms-examples": {},
        "summary": "Restarts all container groups in the specified NGroups resource.",
        "description": "Restarts all container groups in the specified NGroups resource in place. If container image has updates, new image will be downloaded.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NGroupsNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "NoContent",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups": {
      "get": {
        "operationId": "NGroups_ListByResourceGroup",
        "x-ms-examples": {},
        "summary": "GET NGroups under a resource group REST API.",
        "description": "Gets a list of all NGroups resources under a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NGroupsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/ngroups": {
      "get": {
        "operationId": "NGroups_List",
        "x-ms-examples": {},
        "summary": "List NGroups in a subscription.",
        "description": "Gets a list of all NGroups resources under a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NGroupsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/containerGroupProfiles": {
      "get": {
        "operationId": "CGProfiles_ListBySubscription",
        "x-ms-examples": {
          "ContainerGroupProfilesList": {
            "$ref": "./examples/ContainerGroupProfilesList.json"
          }
        },
        "summary": "List container group profiles in a subscription.",
        "description": "Gets a list of all container group profiles under a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroupProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroupProfiles": {
      "get": {
        "operationId": "CGProfiles_ListByResourceGroup",
        "x-ms-examples": {
          "ContainerGroupProfilesListByResourceGroup": {
            "$ref": "./examples/ContainerGroupProfilesListByResourceGroup.json"
          }
        },
        "summary": "List container group profiles in a resource group.",
        "description": "Gets a list of all container group profiles under a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroupProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroupProfiles/{containerGroupProfileName}": {
      "put": {
        "operationId": "CGProfile_CreateOrUpdate",
        "x-ms-examples": {
          "ContainerGroupProfilesCreateOrUpdate": {
            "$ref": "./examples/ContainerGroupProfilesCreateOrUpdate.json"
          },
          "ContainerGroupProfileCreateWithExtensions": {
            "$ref": "./examples/ContainerGroupProfileCreateOrUpdate_Extensions.json"
          },
          "ContainerGroupProfileWithEncryptionProperties": {
            "$ref": "./examples/ContainerGroupProfileCreateOrUpdate_EncryptionProperties.json"
          },
          "ConfidentialContainerGroupProfile": {
            "$ref": "./examples/ContainerGroupProfileCreateOrUpdate_CreateConfidential.json"
          }
        },
        "summary": "Create or Update a ContainerGroupProfile",
        "description": "Create a CGProfile if it doesn't exist or update an existing CGProfile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupProfileNameParameter"
          },
          {
            "name": "ContainerGroupProfile",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerGroupProfile"
            },
            "description": "The ContainerGroupProfile object."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ContainerGroupProfile"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ContainerGroupProfile"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "CGProfile_Update",
        "x-ms-examples": {
          "ContainerGroupProfilesPatch": {
            "$ref": "./examples/ContainerGroupProfilesPatch.json"
          }
        },
        "summary": "Container group profile PATCH REST API.",
        "description": "Update a specified container group profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupProfileNameParameter"
          },
          {
            "name": "properties",
            "description": "The container group profile properties that need to be updated.",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ContainerGroupProfilePatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroupProfile"
            },
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "operationId": "CGProfile_Get",
        "x-ms-examples": {
          "ContainerGroupProfilesGet_Succeeded": {
            "$ref": "./examples/ContainerGroupProfilesGet.json"
          },
          "ContainerGroupProfilesGetWithPriority": {
            "$ref": "./examples/ContainerGroupProfilesGetPriority.json"
          }
        },
        "summary": "Display information about a specified ContainerGroupProfile.",
        "description": "Get the properties of the specified container group profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroupProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "CGProfile_Delete",
        "x-ms-examples": {
          "ContainerGroupProfilesDelete": {
            "$ref": "./examples/ContainerGroupProfilesDelete.json"
          }
        },
        "summary": "Container group profile DELETE REST API.",
        "description": "Deletes a container group profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupProfileNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroupProfiles/{containerGroupProfileName}/revisions": {
      "get": {
        "operationId": "CGProfile_ListAllRevisions",
        "x-ms-examples": {
          "ContainerGroupProfileListAllRevisions": {
            "$ref": "./examples/ContainerGroupProfileListAllRevisions.json"
          }
        },
        "summary": "Get a list of all the revisions of the specified container group profile in the given subscription and resource group.",
        "description": "Get a list of all the revisions of the specified container group profile in the given subscription and resource group. This operation returns properties of each revision of the specified container group profile including containers, image registry credentials, restart policy, IP address type, OS type volumes, revision number, etc.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupProfileNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroupProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroupProfiles/{containerGroupProfileName}/revisions/{revisionNumber}": {
      "get": {
        "operationId": "CGProfile_GetByRevisionNumber",
        "x-ms-examples": {
          "ContainerGroupProfileGetByRevisionNumber": {
            "$ref": "./examples/ContainerGroupProfileGetByRevisionNumber.json"
          }
        },
        "summary": "Get the properties of the specified revision of the container group profile.",
        "description": "Gets the properties of the specified revision of the container group profile in the given subscription and resource group. The operation returns the properties of container group profile including containers, image registry credentials, restart policy, IP address type, OS type, volumes, current revision number, etc.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupProfileNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RevisionNumberParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroupProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SecretReference": {
      "description": "A secret reference",
      "type": "object",
      "required": [
        "name",
        "identity",
        "secretReferenceUri"
      ],
      "properties": {
        "name": {
          "description": "The identifier of the secret reference",
          "type": "string"
        },
        "identity": {
          "description": "The ARM resource id of the managed identity that has access to the secret in the key vault",
          "type": "string",
          "format": "arm-id"
        },
        "secretReferenceUri": {
          "description": "The URI to the secret in key vault",
          "type": "string",
          "format": "uri"
        }
      }
    },
    "Container": {
      "description": "A container instance.",
      "type": "object",
      "required": [
        "properties",
        "name"
      ],
      "properties": {
        "name": {
          "description": "The user-provided name of the container instance.",
          "type": "string"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "The properties of the container instance.",
          "$ref": "#/definitions/ContainerProperties"
        }
      }
    },
    "ContainerProperties": {
      "description": "The container instance properties.",
      "type": "object",
      "required": [
        "image",
        "resources"
      ],
      "properties": {
        "image": {
          "description": "The name of the image used to create the container instance.",
          "type": "string"
        },
        "command": {
          "description": "The commands to execute within the container instance in exec form.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ports": {
          "description": "The exposed ports on the container instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContainerPort"
          },
          "x-ms-identifiers": [
            "port"
          ]
        },
        "environmentVariables": {
          "description": "The environment variables to set in the container instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentVariable"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "instanceView": {
          "description": "The instance view of the container instance. Only valid in response.",
          "readOnly": true,
          "type": "object",
          "properties": {
            "restartCount": {
              "readOnly": true,
              "type": "integer",
              "format": "int32",
              "description": "The number of times that the container instance has been restarted."
            },
            "currentState": {
              "readOnly": true,
              "description": "Current container instance state.",
              "$ref": "#/definitions/ContainerState"
            },
            "previousState": {
              "readOnly": true,
              "description": "Previous container instance state.",
              "$ref": "#/definitions/ContainerState"
            },
            "events": {
              "readOnly": true,
              "description": "The events of the container instance.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              },
              "x-ms-identifiers": [
                "name",
                "type"
              ]
            }
          }
        },
        "resources": {
          "description": "The resource requirements of the container instance.",
          "$ref": "#/definitions/ResourceRequirements"
        },
        "volumeMounts": {
          "description": "The volume mounts available to the container instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VolumeMount"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "livenessProbe": {
          "description": "The liveness probe.",
          "$ref": "#/definitions/ContainerProbe"
        },
        "readinessProbe": {
          "description": "The readiness probe.",
          "$ref": "#/definitions/ContainerProbe"
        },
        "securityContext": {
          "description": "The container security properties.",
          "$ref": "#/definitions/SecurityContextDefinition"
        }
      }
    },
    "SecurityContextDefinition": {
      "description": "The security context for the container.",
      "type": "object",
      "properties": {
        "privileged": {
          "type": "boolean",
          "description": "The flag to determine if the container permissions is elevated to Privileged."
        },
        "allowPrivilegeEscalation": {
          "type": "boolean",
          "description": "A boolean value indicating whether the init process can elevate its privileges"
        },
        "capabilities": {
          "description": "The capabilities to add or drop from a container.",
          "$ref": "#/definitions/SecurityContextCapabilitiesDefinition"
        },
        "runAsGroup": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the User GID for the container."
        },
        "runAsUser": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the User UID for the container."
        },
        "seccompProfile": {
          "type": "string",
          "description": "a base64 encoded string containing the contents of the JSON in the seccomp profile"
        }
      }
    },
    "SecurityContextCapabilitiesDefinition": {
      "description": "The capabilities to add or drop from a container.",
      "type": "object",
      "properties": {
        "add": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The capabilities to add to the container."
        },
        "drop": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The capabilities to drop from the container."
        }
      }
    },
    "ContainerState": {
      "description": "The container instance state.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "The state of the container instance."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The date-time when the container instance state started."
        },
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "The container instance exit codes correspond to those from the `docker run` command."
        },
        "finishTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The date-time when the container instance state finished."
        },
        "detailStatus": {
          "type": "string",
          "readOnly": true,
          "description": "The human-readable status of the container instance state."
        }
      }
    },
    "Event": {
      "description": "A container group or container instance event.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "The count of the event."
        },
        "firstTimestamp": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The date-time of the earliest logged event."
        },
        "lastTimestamp": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The date-time of the latest logged event."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The event name."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "The event message."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The event type."
        }
      }
    },
    "ResourceRequirements": {
      "description": "The resource requirements.",
      "type": "object",
      "required": [
        "requests"
      ],
      "properties": {
        "requests": {
          "description": "The resource requests of this container instance.",
          "$ref": "#/definitions/ResourceRequests"
        },
        "limits": {
          "description": "The resource limits of this container instance.",
          "$ref": "#/definitions/ResourceLimits"
        }
      }
    },
    "ResourceRequests": {
      "description": "The resource requests.",
      "type": "object",
      "required": [
        "memoryInGB",
        "cpu"
      ],
      "properties": {
        "memoryInGB": {
          "description": "The memory request in GB of this container instance.",
          "type": "number",
          "format": "double"
        },
        "cpu": {
          "description": "The CPU request of this container instance.",
          "type": "number",
          "format": "double"
        },
        "gpu": {
          "description": "The GPU request of this container instance.",
          "$ref": "#/definitions/GpuResource"
        }
      }
    },
    "ResourceLimits": {
      "description": "The resource limits.",
      "type": "object",
      "properties": {
        "memoryInGB": {
          "description": "The memory limit in GB of this container instance.",
          "type": "number",
          "format": "double"
        },
        "cpu": {
          "description": "The CPU limit of this container instance.",
          "type": "number",
          "format": "double"
        },
        "gpu": {
          "description": "The GPU limit of this container instance.",
          "$ref": "#/definitions/GpuResource"
        }
      }
    },
    "GpuResource": {
      "description": "The GPU resource.",
      "type": "object",
      "required": [
        "count",
        "sku"
      ],
      "properties": {
        "count": {
          "description": "The count of the GPU resource.",
          "type": "integer",
          "format": "int32"
        },
        "sku": {
          "type": "string",
          "description": "The SKU of the GPU resource.",
          "enum": [
            "K80",
            "P100",
            "V100"
          ],
          "x-ms-enum": {
            "name": "GpuSku",
            "modelAsString": true
          }
        }
      }
    },
    "AzureFileVolume": {
      "description": "The properties of the Azure File volume. Azure File shares are mounted as volumes.",
      "type": "object",
      "required": [
        "shareName",
        "storageAccountName"
      ],
      "properties": {
        "shareName": {
          "description": "The name of the Azure File share to be mounted as a volume.",
          "type": "string"
        },
        "readOnly": {
          "description": "The flag indicating whether the Azure File shared mounted as a volume is read-only.",
          "type": "boolean"
        },
        "storageAccountName": {
          "description": "The name of the storage account that contains the Azure File share.",
          "type": "string"
        },
        "storageAccountKey": {
          "description": "The storage account access key used to access the Azure File share.",
          "type": "string"
        },
        "storageAccountKeyReference": {
          "description": "The reference to the storage account access key used to access the Azure File share.",
          "type": "string"
        }
      }
    },
    "EmptyDirVolume": {
      "description": "The empty directory volume.",
      "type": "object",
      "properties": {}
    },
    "SecretVolume": {
      "description": "The secret volume.",
      "type": "object",
      "additionalProperties": {
        "type": "string"
      }
    },
    "SecretReferenceVolume": {
      "description": "The secret reference volume.",
      "type": "object",
      "additionalProperties": {
        "type": "string"
      }
    },
    "GitRepoVolume": {
      "description": "Represents a volume that is populated with the contents of a git repository",
      "required": [
        "repository"
      ],
      "properties": {
        "directory": {
          "description": "Target directory name. Must not contain or start with '..'.  If '.' is supplied, the volume directory will be the git repository.  Otherwise, if specified, the volume will contain the git repository in the subdirectory with the given name.",
          "type": "string"
        },
        "repository": {
          "description": "Repository URL",
          "type": "string"
        },
        "revision": {
          "description": "Commit hash for the specified revision.",
          "type": "string"
        }
      }
    },
    "Volume": {
      "description": "The properties of the volume.",
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "description": "The name of the volume.",
          "type": "string"
        },
        "azureFile": {
          "description": "The Azure File volume.",
          "$ref": "#/definitions/AzureFileVolume"
        },
        "emptyDir": {
          "description": "The empty directory volume.",
          "$ref": "#/definitions/EmptyDirVolume"
        },
        "secret": {
          "description": "The secret volume.",
          "$ref": "#/definitions/SecretVolume"
        },
        "secretReference": {
          "description": "The secret reference volume.",
          "$ref": "#/definitions/SecretReferenceVolume"
        },
        "gitRepo": {
          "description": "The git repo volume.",
          "$ref": "#/definitions/GitRepoVolume"
        }
      }
    },
    "VolumeMount": {
      "description": "The properties of the volume mount.",
      "type": "object",
      "required": [
        "name",
        "mountPath"
      ],
      "properties": {
        "name": {
          "description": "The name of the volume mount.",
          "type": "string"
        },
        "mountPath": {
          "description": "The path within the container where the volume should be mounted. Must not contain colon (:).",
          "type": "string"
        },
        "readOnly": {
          "description": "The flag indicating whether the volume mount is read-only.",
          "type": "boolean"
        }
      }
    },
    "ContainerExec": {
      "type": "object",
      "description": "The container execution command, for liveness or readiness probe",
      "properties": {
        "command": {
          "description": "The commands to execute within the container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ContainerHttpGet": {
      "type": "object",
      "description": "The container Http Get settings, for liveness or readiness probe",
      "properties": {
        "path": {
          "description": "The path to probe.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "The port number to probe.",
          "format": "int32"
        },
        "scheme": {
          "description": "The scheme.",
          "type": "string",
          "enum": [
            "http",
            "https"
          ],
          "x-ms-enum": {
            "name": "Scheme",
            "modelAsString": true
          }
        },
        "httpHeaders": {
          "description": "The HTTP headers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HttpHeader"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "port"
      ]
    },
    "ContainerProbe": {
      "type": "object",
      "description": "The container probe, for liveness or readiness",
      "properties": {
        "exec": {
          "description": "The execution command to probe",
          "$ref": "#/definitions/ContainerExec"
        },
        "httpGet": {
          "description": "The Http Get settings to probe",
          "$ref": "#/definitions/ContainerHttpGet"
        },
        "initialDelaySeconds": {
          "description": "The initial delay seconds.",
          "type": "integer",
          "format": "int32"
        },
        "periodSeconds": {
          "description": "The period seconds.",
          "type": "integer",
          "format": "int32"
        },
        "failureThreshold": {
          "description": "The failure threshold.",
          "type": "integer",
          "format": "int32"
        },
        "successThreshold": {
          "description": "The success threshold.",
          "type": "integer",
          "format": "int32"
        },
        "timeoutSeconds": {
          "description": "The timeout seconds.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ContainerGroup": {
      "description": "A container group.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "$ref": "#/definitions/ContainerGroupProperties"
        }
      ]
    },
    "ContainerGroupProperties": {
      "description": "The container group properties",
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/ContainerGroupIdentity",
          "description": "The identity of the container group, if configured."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "The container group properties",
          "properties": {
            "provisioningState": {
              "readOnly": true,
              "type": "string",
              "description": "The provisioning state of the container group. This only appears in the response."
            },
            "secretReferences": {
              "type": "array",
              "description": "The secret references that will be referenced within the container group.",
              "items": {
                "$ref": "#/definitions/SecretReference"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "containers": {
              "type": "array",
              "description": "The containers within the container group.",
              "items": {
                "$ref": "#/definitions/Container"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "imageRegistryCredentials": {
              "type": "array",
              "description": "The image registry credentials by which the container group is created from.",
              "items": {
                "$ref": "#/definitions/ImageRegistryCredential"
              },
              "x-ms-identifiers": [
                "username"
              ]
            },
            "restartPolicy": {
              "type": "string",
              "description": "Restart policy for all containers within the container group. \n- `Always` Always restart\n- `OnFailure` Restart on failure\n- `Never` Never restart\n",
              "enum": [
                "Always",
                "OnFailure",
                "Never"
              ],
              "x-ms-enum": {
                "name": "ContainerGroupRestartPolicy",
                "modelAsString": true
              }
            },
            "ipAddress": {
              "description": "The IP address type of the container group.",
              "$ref": "#/definitions/IpAddress"
            },
            "osType": {
              "type": "string",
              "description": "The operating system type required by the containers in the container group.",
              "enum": [
                "Windows",
                "Linux"
              ],
              "x-ms-enum": {
                "name": "OperatingSystemTypes",
                "modelAsString": true
              }
            },
            "volumes": {
              "type": "array",
              "description": "The list of volumes that can be mounted by containers in this container group.",
              "items": {
                "$ref": "#/definitions/Volume"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "instanceView": {
              "description": "The instance view of the container group. Only valid in response.",
              "readOnly": true,
              "type": "object",
              "properties": {
                "events": {
                  "description": "The events of this container group.",
                  "readOnly": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Event"
                  },
                  "x-ms-identifiers": [
                    "name",
                    "type"
                  ]
                },
                "state": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The state of the container group. Only valid in response."
                }
              }
            },
            "diagnostics": {
              "description": "The diagnostic information for a container group.",
              "$ref": "#/definitions/ContainerGroupDiagnostics"
            },
            "subnetIds": {
              "type": "array",
              "description": "The subnet resource IDs for a container group.",
              "items": {
                "$ref": "#/definitions/ContainerGroupSubnetId"
              }
            },
            "dnsConfig": {
              "description": "The DNS config information for a container group.",
              "$ref": "#/definitions/DnsConfiguration"
            },
            "sku": {
              "description": "The SKU for a container group.",
              "$ref": "#/definitions/ContainerGroupSku"
            },
            "encryptionProperties": {
              "description": "The encryption properties for a container group.",
              "$ref": "#/definitions/EncryptionProperties"
            },
            "initContainers": {
              "type": "array",
              "description": "The init containers for a container group.",
              "items": {
                "$ref": "#/definitions/InitContainerDefinition"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "extensions": {
              "type": "array",
              "description": "extensions used by virtual kubelet",
              "items": {
                "$ref": "#/definitions/DeploymentExtensionSpec"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "confidentialComputeProperties": {
              "description": "The properties for confidential container group",
              "$ref": "#/definitions/ConfidentialComputeProperties"
            },
            "priority": {
              "type": "string",
              "description": "The priority of the container group.",
              "$ref": "#/definitions/Priority",
              "enum": [
                "Regular",
                "Spot"
              ],
              "x-ms-enum": {
                "name": "Priority",
                "modelAsString": true
              }
            },
            "identityAcls": {
              "description": "The access control levels of the identities.",
              "$ref": "#/definitions/IdentityAcls"
            }
          },
          "required": [
            "containers",
            "osType"
          ]
        }
      }
    },
    "ListResultContainerGroup": {
      "description": "A container group part of the list result.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "$ref": "#/definitions/ListResultContainerGroupProperties"
        }
      ]
    },
    "ListResultContainerGroupProperties": {
      "description": "Properties of container group part of list result",
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/ContainerGroupIdentity",
          "description": "The identity of the container group, if configured."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "The container group properties",
          "properties": {
            "provisioningState": {
              "readOnly": true,
              "type": "string",
              "description": "The provisioning state of the container group. This only appears in the response.",
              "enum": [
                "NotSpecified",
                "Accepted",
                "Pending",
                "Updating",
                "Creating",
                "Repairing",
                "Unhealthy",
                "Failed",
                "Canceled",
                "Succeeded",
                "Deleting",
                "NotAccessible",
                "PreProvisioned"
              ],
              "x-ms-enum": {
                "name": "ContainerGroupProvisioningState",
                "modelAsString": true
              }
            },
            "secretReferences": {
              "type": "array",
              "description": "The secret references that will be referenced within the container group.",
              "items": {
                "$ref": "#/definitions/SecretReference"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "containers": {
              "type": "array",
              "description": "The containers within the container group.",
              "items": {
                "$ref": "#/definitions/Container"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "imageRegistryCredentials": {
              "type": "array",
              "description": "The image registry credentials by which the container group is created from.",
              "items": {
                "$ref": "#/definitions/ImageRegistryCredential"
              },
              "x-ms-identifiers": [
                "username"
              ]
            },
            "restartPolicy": {
              "type": "string",
              "description": "Restart policy for all containers within the container group. \n- `Always` Always restart\n- `OnFailure` Restart on failure\n- `Never` Never restart\n",
              "enum": [
                "Always",
                "OnFailure",
                "Never"
              ],
              "x-ms-enum": {
                "name": "ContainerGroupRestartPolicy",
                "modelAsString": true
              }
            },
            "ipAddress": {
              "description": "The IP address type of the container group.",
              "$ref": "#/definitions/IpAddress"
            },
            "osType": {
              "type": "string",
              "description": "The operating system type required by the containers in the container group.",
              "enum": [
                "Windows",
                "Linux"
              ],
              "x-ms-enum": {
                "name": "OperatingSystemTypes",
                "modelAsString": true
              }
            },
            "volumes": {
              "type": "array",
              "description": "The list of volumes that can be mounted by containers in this container group.",
              "items": {
                "$ref": "#/definitions/Volume"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "diagnostics": {
              "description": "The diagnostic information for a container group.",
              "$ref": "#/definitions/ContainerGroupDiagnostics"
            },
            "subnetIds": {
              "type": "array",
              "description": "The subnet resource IDs for a container group.",
              "items": {
                "$ref": "#/definitions/ContainerGroupSubnetId"
              }
            },
            "dnsConfig": {
              "description": "The DNS config information for a container group.",
              "$ref": "#/definitions/DnsConfiguration"
            },
            "sku": {
              "description": "The SKU for a container group.",
              "$ref": "#/definitions/ContainerGroupSku"
            },
            "encryptionProperties": {
              "description": "The encryption properties for a container group.",
              "$ref": "#/definitions/EncryptionProperties"
            },
            "initContainers": {
              "type": "array",
              "description": "The init containers for a container group.",
              "items": {
                "$ref": "#/definitions/InitContainerDefinition"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "extensions": {
              "type": "array",
              "description": "extensions used by virtual kubelet",
              "items": {
                "$ref": "#/definitions/DeploymentExtensionSpec"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "confidentialComputeProperties": {
              "description": "The properties for confidential container group",
              "$ref": "#/definitions/ConfidentialComputeProperties"
            },
            "priority": {
              "type": "string",
              "description": "The priority of the container group.",
              "$ref": "#/definitions/Priority",
              "enum": [
                "Regular",
                "Spot"
              ],
              "x-ms-enum": {
                "name": "Priority",
                "modelAsString": true
              }
            },
            "identityAcls": {
              "description": "The access control levels of the identities.",
              "$ref": "#/definitions/IdentityAcls"
            }
          },
          "required": [
            "containers",
            "osType"
          ]
        }
      }
    },
    "DeploymentExtensionSpec": {
      "description": "Extension sidecars to be added to the deployment.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the extension."
        },
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "Extension specific properties",
          "properties": {
            "extensionType": {
              "type": "string",
              "description": "Type of extension to be added."
            },
            "version": {
              "type": "string",
              "description": "Version of the extension being used."
            },
            "settings": {
              "type": "object",
              "description": "Settings for the extension."
            },
            "protectedSettings": {
              "type": "object",
              "description": "Protected settings for the extension."
            }
          },
          "required": [
            "extensionType",
            "version"
          ]
        }
      },
      "required": [
        "name"
      ]
    },
    "ContainerGroupIdentity": {
      "description": "Identity for the container group.",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of the container group identity. This property will only be provided for a system assigned identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant id associated with the container group. This property will only be provided for a system assigned identity."
        },
        "type": {
          "type": "string",
          "description": "The type of identity used for the container group. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the container group.",
          "enum": [
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The list of user identities associated with the container group.",
          "additionalProperties": {
            "description": "The list of user identities associated with the container group. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
            "$ref": "#/definitions/UserAssignedIdentities"
          }
        }
      }
    },
    "UserAssignedIdentities": {
      "type": "object",
      "description": "The list of user identities associated with the container group. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of user assigned identity."
        },
        "clientId": {
          "readOnly": true,
          "type": "string",
          "description": "The client id of user assigned identity."
        }
      }
    },
    "ImageRegistryCredential": {
      "description": "Image registry credential.",
      "type": "object",
      "properties": {
        "server": {
          "type": "string",
          "description": "The Docker image registry server without a protocol such as \"http\" and \"https\"."
        },
        "username": {
          "type": "string",
          "description": "The username for the private registry."
        },
        "password": {
          "type": "string",
          "description": "The password for the private registry.",
          "x-ms-secret": true
        },
        "passwordReference": {
          "type": "string",
          "description": "The reference for the private registry password."
        },
        "identity": {
          "type": "string",
          "description": "The identity for the private registry."
        },
        "identityUrl": {
          "type": "string",
          "description": "The identity URL for the private registry."
        }
      },
      "required": [
        "server"
      ]
    },
    "ContainerGroupDiagnostics": {
      "description": "Container group diagnostic information.",
      "type": "object",
      "properties": {
        "logAnalytics": {
          "description": "Container group log analytics information.",
          "$ref": "#/definitions/LogAnalytics"
        }
      }
    },
    "LogAnalytics": {
      "description": "Container group log analytics information.",
      "type": "object",
      "properties": {
        "workspaceId": {
          "description": "The workspace id for log analytics",
          "type": "string"
        },
        "workspaceKey": {
          "description": "The workspace key for log analytics",
          "type": "string",
          "x-ms-secret": true
        },
        "logType": {
          "type": "string",
          "description": "The log type to be used.",
          "enum": [
            "ContainerInsights",
            "ContainerInstanceLogs"
          ],
          "x-ms-enum": {
            "name": "LogAnalyticsLogType",
            "modelAsString": true
          }
        },
        "metadata": {
          "type": "object",
          "description": "Metadata for log analytics.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workspaceResourceId": {
          "description": "The workspace resource id for log analytics",
          "type": "string",
          "x-ms-secret": true
        }
      },
      "required": [
        "workspaceId",
        "workspaceKey"
      ]
    },
    "ContainerGroupSubnetId": {
      "description": "Container group subnet information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource ID of virtual network and subnet.",
          "type": "string"
        },
        "name": {
          "description": "Friendly name for the subnet.",
          "type": "string"
        }
      },
      "required": [
        "id"
      ]
    },
    "IpAddress": {
      "description": "IP address for the container group.",
      "type": "object",
      "properties": {
        "ports": {
          "type": "array",
          "description": "The list of ports exposed on the container group.",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-ms-identifiers": [
            "port"
          ]
        },
        "type": {
          "type": "string",
          "description": "Specifies if the IP is exposed to the public internet or private VNET.",
          "enum": [
            "Public",
            "Private"
          ],
          "x-ms-enum": {
            "name": "ContainerGroupIpAddressType",
            "modelAsString": true
          }
        },
        "ip": {
          "type": "string",
          "description": "The IP exposed to the public internet."
        },
        "dnsNameLabel": {
          "type": "string",
          "description": "The Dns name label for the IP."
        },
        "autoGeneratedDomainNameLabelScope": {
          "type": "string",
          "description": "The value representing the security enum. The 'Unsecure' value is the default value if not selected and means the object's domain name label is not secured against subdomain takeover. The 'TenantReuse' value is the default value if selected and means the object's domain name label can be reused within the same tenant. The 'SubscriptionReuse' value means the object's domain name label can be reused within the same subscription. The 'ResourceGroupReuse' value means the object's domain name label can be reused within the same resource group. The 'NoReuse' value means the object's domain name label cannot be reused within the same resource group, subscription, or tenant.",
          "enum": [
            "Unsecure",
            "TenantReuse",
            "SubscriptionReuse",
            "ResourceGroupReuse",
            "Noreuse"
          ],
          "default": "Unsecure",
          "x-ms-enum": {
            "name": "dnsNameLabelReusePolicy",
            "modelAsString": true
          }
        },
        "fqdn": {
          "readOnly": true,
          "type": "string",
          "description": "The FQDN for the IP."
        }
      },
      "required": [
        "ports",
        "type"
      ]
    },
    "Port": {
      "description": "The port exposed on the container group.",
      "type": "object",
[...]
