{
  "swagger": "2.0",
  "info": {
    "title": "Split.IO Experimentation",
    "version": "2024-03-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ExperimentationWorkspaces"
    }
  ],
  "paths": {
    "/providers/SplitIO.Experimentation/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/SplitIO.Experimentation/experimentationWorkspaces": {
      "get": {
        "operationId": "ExperimentationWorkspaces_ListBySubscription",
        "tags": [
          "ExperimentationWorkspaces"
        ],
        "description": "List ExperimentationWorkspace resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExperimentationWorkspaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExperimentationWorkspacesListBySubscription": {
            "$ref": "./examples/ExperimentationWorkspacesListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/SplitIO.Experimentation/experimentationWorkspaces": {
      "get": {
        "operationId": "ExperimentationWorkspaces_ListByResourceGroup",
        "tags": [
          "ExperimentationWorkspaces"
        ],
        "description": "List ExperimentationWorkspace resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExperimentationWorkspaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExperimentationWorkspacesListByResourceGroup": {
            "$ref": "./examples/ExperimentationWorkspacesListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/SplitIO.Experimentation/experimentationWorkspaces/{workspaceName}": {
      "get": {
        "operationId": "ExperimentationWorkspaces_Get",
        "tags": [
          "ExperimentationWorkspaces"
        ],
        "description": "Get a ExperimentationWorkspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the ExperimentationWorkspace resource",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "^[^<>%&:\\?/#]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExperimentationWorkspace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExperimentationWorkspacesGet": {
            "$ref": "./examples/ExperimentationWorkspacesGet.json"
          }
        }
      },
      "put": {
        "operationId": "ExperimentationWorkspaces_Create",
        "tags": [
          "ExperimentationWorkspaces"
        ],
        "description": "Create a ExperimentationWorkspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the ExperimentationWorkspace resource",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "^[^<>%&:\\?/#]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExperimentationWorkspace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExperimentationWorkspace' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExperimentationWorkspace"
            }
          },
          "201": {
            "description": "Resource 'ExperimentationWorkspace' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExperimentationWorkspace"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExperimentationWorkspacesCreate": {
            "$ref": "./examples/ExperimentationWorkspacesCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ExperimentationWorkspaces_Update",
        "tags": [
          "ExperimentationWorkspaces"
        ],
        "description": "Update a ExperimentationWorkspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the ExperimentationWorkspace resource",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "^[^<>%&:\\?/#]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExperimentationWorkspaceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExperimentationWorkspace"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExperimentationWorkspacesUpdate": {
            "$ref": "./examples/ExperimentationWorkspacesUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ExperimentationWorkspaces_Delete",
        "tags": [
          "ExperimentationWorkspaces"
        ],
        "description": "Delete a ExperimentationWorkspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the ExperimentationWorkspace resource",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "^[^<>%&:\\?/#]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExperimentationWorkspacesDelete": {
            "$ref": "./examples/ExperimentationWorkspacesDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AccessPolicy": {
      "type": "object",
      "description": "Access policy for an experimentation workspace",
      "properties": {
        "authApplicationId": {
          "type": "string",
          "description": "Application id used for access to the experimentation workspace"
        }
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "DataSource": {
      "type": "object",
      "description": "DataSource for an experimentation workspace",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id in partner's system",
          "readOnly": true
        },
        "resourceId": {
          "type": "string",
          "description": "Resource id of the data source"
        }
      }
    },
    "ExperimentationWorkspace": {
      "type": "object",
      "description": "A ExperimentationWorkspace Resource by Split.IO",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExperimentationWorkspaceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ExperimentationWorkspaceListResult": {
      "type": "object",
      "description": "The response of a ExperimentationWorkspace list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ExperimentationWorkspace items on this page",
          "items": {
            "$ref": "#/definitions/ExperimentationWorkspace"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExperimentationWorkspaceProperties": {
      "type": "object",
      "description": "The properties of ExperimentationWorkspace",
      "properties": {
        "marketplace": {
          "$ref": "#/definitions/LiftrBase.MarketplaceDetails",
          "description": "Marketplace details of the resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "user": {
          "$ref": "#/definitions/UserDetails",
          "description": "Details of the user."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "partnerExperimentationWorkspaceProperties": {
          "$ref": "#/definitions/PartnerExperimentationWorkspaceProperties",
          "description": "Partner ExperimentationWorkspace properties"
        }
      },
      "required": [
        "marketplace",
        "user"
      ]
    },
    "ExperimentationWorkspaceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ExperimentationWorkspace.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ExperimentationWorkspaceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ExperimentationWorkspaceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ExperimentationWorkspace.",
      "properties": {
        "user": {
          "$ref": "#/definitions/UserDetailsUpdate",
          "description": "Details of the user."
        },
        "partnerExperimentationWorkspaceProperties": {
          "$ref": "#/definitions/PartnerExperimentationWorkspaceProperties",
          "description": "Partner ExperimentationWorkspace properties"
        }
      }
    },
    "LiftrBase.Address": {
      "type": "object",
      "description": "Address details.",
      "properties": {
        "addressLine1": {
          "type": "string",
          "description": "Address line 1"
        },
        "addressLine2": {
          "type": "string",
          "description": "Address line 2"
        },
        "city": {
          "type": "string",
          "description": "Name of the city"
        },
        "state": {
          "type": "string",
          "description": "Name of the state"
        },
        "country": {
          "type": "string",
          "description": "Name of the country"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code"
        }
      },
      "required": [
        "addressLine1",
        "city",
        "state",
        "country",
        "postalCode"
      ]
    },
    "LiftrBase.AddressUpdate": {
      "type": "object",
      "description": "Address details.",
      "properties": {
        "addressLine1": {
          "type": "string",
          "description": "Address line 1"
        },
        "addressLine2": {
          "type": "string",
          "description": "Address line 2"
        },
        "city": {
          "type": "string",
          "description": "Name of the city"
        },
        "state": {
          "type": "string",
          "description": "Name of the state"
        },
        "country": {
          "type": "string",
          "description": "Name of the country"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code"
        }
      }
    },
    "LiftrBase.CompanyDetails": {
      "type": "object",
      "description": "Company details.",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "Company name."
        },
        "address": {
          "$ref": "#/definitions/LiftrBase.Address",
          "description": "Company address."
        }
      },
      "required": [
        "companyName"
      ]
    },
    "LiftrBase.CompanyDetailsUpdate": {
      "type": "object",
      "description": "Company details.",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "Company name."
        },
        "address": {
          "$ref": "#/definitions/LiftrBase.AddressUpdate",
          "description": "Company address."
        }
      }
    },
    "LiftrBase.MarketplaceDetails": {
      "type": "object",
      "description": "Marketplace details of a resource.",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Azure subscription id for the the marketplace offer is purchased from"
        },
        "subscriptionStatus": {
          "$ref": "#/definitions/LiftrBase.MarketplaceSubscriptionStatus",
          "description": "Marketplace subscription status"
        },
        "offerDetails": {
          "$ref": "#/definitions/LiftrBase.OfferDetails",
          "description": "Offer details for the marketplace that is selected by the user"
        }
      },
      "required": [
        "subscriptionId",
        "offerDetails"
      ]
    },
    "LiftrBase.MarketplaceSubscriptionStatus": {
      "type": "string",
      "description": "Marketplace subscription status of a resource.",
      "enum": [
        "PendingFulfillmentStart",
        "Subscribed",
        "Suspended",
        "Unsubscribed"
      ],
      "x-ms-enum": {
        "name": "MarketplaceSubscriptionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "PendingFulfillmentStart",
            "value": "PendingFulfillmentStart",
            "description": "Purchased but not yet activated"
          },
          {
            "name": "Subscribed",
            "value": "Subscribed",
            "description": "Marketplace subscription is activated"
          },
          {
            "name": "Suspended",
            "value": "Suspended",
            "description": "This state indicates that a customer's payment for the Marketplace service was not received"
          },
          {
            "name": "Unsubscribed",
            "value": "Unsubscribed",
            "description": "Customer has cancelled the subscription"
          }
        ]
      }
    },
    "LiftrBase.OfferDetails": {
      "type": "object",
      "description": "Offer details for the marketplace that is selected by the user",
      "properties": {
        "publisherId": {
          "type": "string",
          "description": "Publisher Id for the marketplace offer"
        },
        "offerId": {
          "type": "string",
          "description": "Offer Id for the marketplace offer"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id for the marketplace offer"
        },
        "planName": {
          "type": "string",
          "description": "Plan Name for the marketplace offer"
        },
        "termUnit": {
          "type": "string",
          "description": "Term Unit for the marketplace offer"
        },
        "termId": {
          "type": "string",
          "description": "Term ID for the marketplace offer"
        }
      },
      "required": [
        "publisherId",
        "offerId",
        "planId"
      ]
    },
    "LiftrBase.email": {
      "type": "string",
      "description": "Reusable representation of an email address.",
      "pattern": "^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z]{2,}$"
    },
    "PartnerExperimentationWorkspaceProperties": {
      "type": "object",
      "description": "Properties specific to Partner's ExperimentationWorkspace",
      "properties": {
        "experimentationWorkspaceId": {
          "type": "string",
          "description": "ExperimentationWorkspace id in partner's system",
          "readOnly": true
        },
        "experimentationEnabled": {
          "type": "boolean",
          "description": "Whether experimentation is enabled"
        },
        "accessPolicy": {
          "$ref": "#/definitions/AccessPolicy",
          "description": "Access policy for an experimentation workspace"
        },
        "dataSource": {
          "$ref": "#/definitions/DataSource",
          "description": "DataSource for an experimentation workspace"
        }
      }
    },
    "UserDetails": {
      "type": "object",
      "description": "Details of the User.",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of the user"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the user"
        },
        "emailAddress": {
          "$ref": "#/definitions/LiftrBase.email",
          "description": "Email address of the user"
        },
        "upn": {
          "type": "string",
          "description": "User's principal name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number"
        },
        "companyDetails": {
          "$ref": "#/definitions/LiftrBase.CompanyDetails",
          "description": "Company details of the user."
        }
      },
      "required": [
        "firstName",
        "lastName",
        "emailAddress"
      ]
    },
    "UserDetailsUpdate": {
      "type": "object",
      "description": "Details of the User.",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of the user"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the user"
        },
        "emailAddress": {
          "$ref": "#/definitions/LiftrBase.email",
          "description": "Email address of the user"
        },
        "upn": {
          "type": "string",
          "description": "User's principal name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number"
        },
        "companyDetails": {
          "$ref": "#/definitions/LiftrBase.CompanyDetailsUpdate",
          "description": "Company details of the user."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Supported API versions for the SplitIO.Experimentation resource provider.",
      "enum": [
        "2024-03-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v1_preview",
            "value": "2024-03-01-preview",
            "description": "Dependent on Azure.ResourceManager.Versions.v1_0_Preview_1"
          }
        ]
      }
    }
  },
  "parameters": {}
}
