{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ApplicationMigration ConnectionHubs management service",
    "version": "2025-09-09-preview",
    "description": "Microsoft.ApplicationMigration ConnectionHubs Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ConnectionHubs"
    },
    {
      "name": "GitHubConnections"
    },
    {
      "name": "GitHubIssues"
    }
  ],
  "paths": {
    "/providers/Microsoft.ApplicationMigration/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApplicationMigration/connectionHubs": {
      "get": {
        "operationId": "ConnectionHubs_ListBySubscription",
        "tags": [
          "ConnectionHubs"
        ],
        "summary": "List Connection Hubs by subscription",
        "description": "List ConnectionHub resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionHubListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Connection Hubs by subscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs": {
      "get": {
        "operationId": "ConnectionHubs_ListByResourceGroup",
        "tags": [
          "ConnectionHubs"
        ],
        "summary": "List Connection Hubs by resource group",
        "description": "List ConnectionHub resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionHubListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Connection Hubs by resource group - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs/{connectionHubName}": {
      "get": {
        "operationId": "ConnectionHubs_Get",
        "tags": [
          "ConnectionHubs"
        ],
        "summary": "Get a Connection Hub",
        "description": "Get a ConnectionHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Connection Hub - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ConnectionHubs_CreateOrUpdate",
        "tags": [
          "ConnectionHubs"
        ],
        "summary": "Create or update a Connection Hub",
        "description": "Create a ConnectionHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionHub"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConnectionHub' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionHub"
            }
          },
          "201": {
            "description": "Resource 'ConnectionHub' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionHub"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a Connection Hub - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ConnectionHub"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConnectionHubs_Update",
        "tags": [
          "ConnectionHubs"
        ],
        "summary": "Update a Connection Hub",
        "description": "Update a ConnectionHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionHubUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a Connection Hub - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ConnectionHubs_Delete",
        "tags": [
          "ConnectionHubs"
        ],
        "summary": "Delete a Connection Hub",
        "description": "Delete a ConnectionHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Connection Hub - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs/{connectionHubName}/githubConnections": {
      "get": {
        "operationId": "GitHubConnections_ListByConnectionHub",
        "tags": [
          "GitHubConnections"
        ],
        "summary": "List GitHub Connections by resource group.",
        "description": "List GitHubConnection resources by ConnectionHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List GitHub Connections by resource group. - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubConnections_ListByConnectionHub_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs/{connectionHubName}/githubConnections/{connectionId}": {
      "get": {
        "operationId": "GitHubConnections_Get",
        "tags": [
          "GitHubConnections"
        ],
        "summary": "Get a GitHub Connection",
        "description": "Get a GitHubConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a GitHub Connection - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubConnections_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "GitHubConnections_CreateOrUpdate",
        "tags": [
          "GitHubConnections"
        ],
        "summary": "Create or update a GitHub Connection",
        "description": "Create a GitHubConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GitHubConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GitHubConnection"
            }
          },
          "201": {
            "description": "Resource 'GitHubConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GitHubConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a GitHub Connection - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubConnections_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/GitHubConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GitHubConnections_Delete",
        "tags": [
          "GitHubConnections"
        ],
        "summary": "Delete a GitHub Connection",
        "description": "Delete a GitHubConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a GitHub Connection - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubConnections_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs/{connectionHubName}/githubConnections/{connectionId}/githubIssues": {
      "get": {
        "operationId": "GitHubIssues_ListByGitHubConnection",
        "tags": [
          "GitHubIssues"
        ],
        "summary": "List GitHub Issues by GitHub Connection",
        "description": "List GitHubIssue resources by GitHubConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubIssueListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List GitHub Issues by GitHub Connection - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubIssues_ListByGitHubConnection_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs/{connectionHubName}/githubConnections/{connectionId}/githubIssues/{githubIssueId}": {
      "get": {
        "operationId": "GitHubIssues_Get",
        "tags": [
          "GitHubIssues"
        ],
        "summary": "Get a GitHub Issue",
        "description": "Get a GitHubIssue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "githubIssueId",
            "in": "path",
            "description": "The GitHub issue name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubIssue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a GitHub Issue - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubIssues_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "GitHubIssues_CreateOrUpdate",
        "tags": [
          "GitHubIssues"
        ],
        "summary": "Create or update a GitHub Issue",
        "description": "Create a GitHubIssue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "githubIssueId",
            "in": "path",
            "description": "The GitHub issue name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubIssue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GitHubIssue' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GitHubIssue"
            }
          },
          "201": {
            "description": "Resource 'GitHubIssue' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GitHubIssue"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a GitHub Issue - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubIssues_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/GitHubIssue"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GitHubIssues_Delete",
        "tags": [
          "GitHubIssues"
        ],
        "summary": "Delete a GitHub Issue",
        "description": "Delete a GitHubIssue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The connection hub name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "githubIssueId",
            "in": "path",
            "description": "The GitHub issue name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a GitHub Issue - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubIssues_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "ConnectionHub": {
      "type": "object",
      "description": "Connection Hub resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionHubProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConnectionHubListResult": {
      "type": "object",
      "description": "The response of a ConnectionHub list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConnectionHub items on this page",
          "items": {
            "$ref": "#/definitions/ConnectionHub"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConnectionHubProperties": {
      "type": "object",
      "description": "Connection Hub properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the ConnectionHub resource.",
          "readOnly": true
        },
        "migrateProjectId": {
          "type": "string",
          "description": "Migrate project ID."
        }
      },
      "required": [
        "migrateProjectId"
      ]
    },
    "ConnectionHubPropertiesUpdate": {
      "type": "object",
      "description": "Connection Hub properties",
      "properties": {
        "migrateProjectId": {
          "type": "string",
          "description": "Migrate project ID."
        }
      }
    },
    "ConnectionHubUpdate": {
      "type": "object",
      "description": "Connection Hub resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionHubPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ConnectionStatus": {
      "type": "string",
      "description": "Connection status.",
      "enum": [
        "Success",
        "InProgress",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ConnectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Success",
            "value": "Success",
            "description": "The connection status is Successful."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The connection status is InProgress."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The connection status is Failed."
          }
        ]
      }
    },
    "GitHubConnection": {
      "type": "object",
      "description": "GitHub Connection resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GitHubConnectionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GitHubConnectionListResult": {
      "type": "object",
      "description": "The response of a GitHubConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GitHubConnection items on this page",
          "items": {
            "$ref": "#/definitions/GitHubConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GitHubConnectionProperties": {
      "type": "object",
      "description": "GitHub Connection properties.",
      "properties": {
        "appId": {
          "type": "string",
          "description": "GitHub App ID"
        },
        "tokenSecretId": {
          "type": "string",
          "description": "Customer key vault url which stores private key of GitHub App."
        },
        "installationId": {
          "type": "string",
          "description": "GitHub Installation ID."
        },
        "repos": {
          "type": "array",
          "description": "List of repositories.",
          "items": {
            "$ref": "#/definitions/Repository"
          },
          "x-ms-identifiers": [
            "url"
          ]
        },
        "status": {
          "$ref": "#/definitions/ConnectionStatus",
          "description": "Connection status.",
          "readOnly": true
        },
        "webhookId": {
          "type": "string",
          "description": "ID of the GitHub Webhook created.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "appId",
        "tokenSecretId",
        "installationId",
        "repos"
      ]
    },
    "GitHubIssue": {
      "type": "object",
      "description": "GitHub Issue resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GitHubIssueProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GitHubIssueListResult": {
      "type": "object",
      "description": "The response of a GitHubIssue list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GitHubIssue items on this page",
          "items": {
            "$ref": "#/definitions/GitHubIssue"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GitHubIssueProperties": {
      "type": "object",
      "description": "GitHub Issue properties.",
      "properties": {
        "status": {
          "$ref": "#/definitions/GitHubIssueStatus",
          "description": "GitHub Issue status.",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "GitHub Issue title."
        },
        "body": {
          "type": "string",
          "description": "GitHub Issue body."
        },
        "githubIssueUrl": {
          "type": "string",
          "description": "GitHub Issue URL.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "title",
        "body"
      ]
    },
    "GitHubIssueStatus": {
      "type": "string",
      "description": "GitHub issue status.",
      "enum": [
        "Open",
        "Closed",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "GitHubIssueStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Open",
            "value": "Open",
            "description": "Issue is open."
          },
          {
            "name": "Closed",
            "value": "Closed",
            "description": "Issue is closed."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Issue is deleted."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted."
          }
        ]
      },
      "readOnly": true
    },
    "Repository": {
      "type": "object",
      "description": "Repository information.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Repository URL."
        }
      }
    },
    "ToolType": {
      "type": "string",
      "description": "Tool type for GitHub issues.",
      "enum": [
        "AppCAT"
      ],
      "x-ms-enum": {
        "name": "ToolType",
        "modelAsString": true,
        "values": [
          {
            "name": "AppCAT",
            "value": "AppCAT",
            "description": "AppCAT tool type."
          }
        ]
      }
    }
  },
  "parameters": {}
}
