{
  "swagger": "2.0",
  "info": {
    "version": "2020-12-08-preview",
    "title": "AzureArcDataManagementClient",
    "description": "The AzureArcData management API provides a RESTful set of web APIs to manage Azure Data Services on Azure Arc Resources."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {

  },
  "definitions": {
    "Sku": {
      "description": "The resource model definition representing SKU",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SKU. Ex - P3. It is typically a letter+number code"
        },
        "tier": {
          "type": "string",
          "enum": [
            "Free",
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": false
          },
          "description": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
        },
        "size": {
          "type": "string",
          "description": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. "
        },
        "family": {
          "type": "string",
          "description": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
        }
      },
      "required": [
        "name"
      ]
    },
    "Identity": {
      "description": "Identity for the resource.",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of resource."
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": [
            "SystemAssigned"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        }
      }
    },
    "Plan": {
      "properties": {
        "name": {
          "type": "string",
          "description": "A user defined name of the 3rd Party Artifact that is being procured."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic"
        },
        "product": {
          "type": "string",
          "description": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. "
        },
        "promotionCode": {
          "type": "string",
          "description": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
        },
        "version": {
          "type": "string",
          "description": "The version of the desired product/artifact."
        }
      },
      "description": "Plan for the resource.",
      "required": [
        "name",
        "publisher",
        "product"
      ]
    },
    "OperationListResult": {
      "description": "Result of the request to list Azure Data Services on Azure Arc operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "Azure Data Services on Azure Arc operation definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the operation being performed on this particular object.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "The localized display information for this particular operation / action.",
          "readOnly": true
        },
        "origin": {
          "description": "The intended executor of the operation.",
          "enum": [
            "user",
            "system"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "OperationOrigin",
            "modelAsString": true
          }
        },
        "properties": {
          "description": "Additional descriptions for the operation.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          },
          "readOnly": true,
          "x-ms-client-flatten": false
        }
      }
    },
    "OperationDisplay": {
      "description": "Display metadata associated with the operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "The localized friendly form of the resource provider name.",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "description": "The localized friendly form of the resource type related to this action/operation.",
          "type": "string",
          "readOnly": true
        },
        "operation": {
          "description": "The localized friendly name for the operation.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "The localized friendly description for the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "systemData": {
          "$ref": "#/definitions/SystemData",
          "readOnly": true
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "PageOfDataControllerResource": {
      "type": "object",
      "properties": {
        "value": {
          "items": {
            "$ref": "#/definitions/DataControllerResource"
          },
          "type": "array"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to retrieve next page of results."
        }
      }
    },
    "DataControllerResource": {
      "description": "Data controller resource",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataControllerProperties",
          "description": "The data controller's properties",
          "x-ms-client-flatten": false
        }
      },
      "required": [
        "properties"
      ]
    },
    "DataControllerUpdate": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "Used for updating a data controller resource."
    },
    "SystemData": {
      "description": "Read only system data",
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "An identifier for the identity that created the resource"
        },
        "createdByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that created the resource"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)"
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "An identifier for the identity that last modified the resource"
        },
        "lastModifiedByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that last modified the resource"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource last modification (UTC)"
        }
      }
    },
    "IdentityType": {
      "description": "The type of identity that creates/modifies resources",
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true
      }
    },
    "ResourceSku": {
      "type": "object",
      "properties": {
        "capacity": {
          "type": "integer",
          "format": "int32"
        },
        "family": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "size": {
          "type": "string"
        },
        "tier": {
          "type": "string"
        }
      }
    },
    "DataControllerProperties": {
      "description": "The data controller properties.",
      "type": "object",
      "properties": {
        "onPremiseProperty": {
          "$ref": "#/definitions/OnPremiseProperty"
        },
        "k8sRaw": {
          "type": "object",
          "description": "The raw kubernetes information"
        },
        "lastUploadedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last uploaded date from on premise cluster. Defaults to current date time"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      },
      "required": [
        "onPremiseProperty"
      ]
    },
    "OnPremiseProperty": {
      "description": "Properties from the on premise data controller",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid",
          "description": "A globally unique ID identifying the associated on premise cluster"
        },
        "publicSigningKey": {
          "type": "string",
          "description": "Certificate that contains the on premise cluster public key used to verify signing"
        },
        "signingCertificateThumbprint": {
          "type": "string",
          "description": "Unique thumbprint returned to customer to verify the certificate being uploaded"
        }
      },
      "required": [
        "id",
        "publicSigningKey"
      ]
    },
    "PostgresInstanceProperties": {
      "description": "Postgres Instance properties.",
      "type": "object",
      "properties": {
        "dataControllerId": {
          "type": "string",
          "description": "The data controller id"
        },
        "admin": {
          "type": "string",
          "description": "The instance admin"
        },
        "k8sRaw": {
          "type": "object",
          "description": "The raw kubernetes information"
        },
        "lastUploadedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last uploaded date from on premise cluster. Defaults to current date time"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PostgresInstance": {
      "description": "A Postgres Instance.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource",
          "description": "null"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PostgresInstanceProperties",
          "x-ms-client-flatten": false,
          "description": "null"
        }
      }
    },
    "PostgresInstanceUpdate": {
      "description": "An update to a Postgres Instance.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/PostgresInstanceProperties"
        }
      }
    },
    "PostgresInstanceListResult": {
      "description": "A list of PostgresInstance.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PostgresInstance"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SqlManagedInstanceProperties": {
      "description": "Properties of sqlManagedInstance.",
      "type": "object",
      "properties": {
        "dataControllerId": {
          "type": "string",
          "description": "null"
        },
        "instanceEndpoint": {
          "type": "string",
          "description": "The on premise instance endpoint"
        },
        "admin": {
          "type": "string",
          "description": "The instance admin user"
        },
        "startTime": {
          "type": "string",
          "description": "The instance start time"
        },
        "endTime": {
          "type": "string",
          "description": "The instance end time"
        },
        "vCore": {
          "type": "string",
          "description": "The instance vCore"
        },
        "k8sRaw": {
          "type": "object",
          "description": "The raw kubernetes information"
        },
        "lastUploadedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last uploaded date from on premise cluster. Defaults to current date time"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SqlManagedInstance": {
      "description": "A SqlManagedInstance.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SqlManagedInstanceProperties",
          "description": "null",
          "x-ms-client-flatten": false
        }
      }
    },
    "SqlManagedInstanceUpdate": {
      "description": "An update to a SQL Managed Instance.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SqlManagedInstanceListResult": {
      "description": "A list of SqlManagedInstance.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SqlManagedInstance"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SqlServerInstanceProperties": {
      "description": "Properties of SqlServerInstance.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "SQL Server version."
        },
        "edition": {
          "type": "string",
          "description": "SQL Server edition."
        },
        "containerResourceId": {
          "type": "string",
          "description": "ARM Resource id of the container resource (Azure Arc for Servers)."
        },
        "createTime": {
          "type": "string",
          "description": "The time when the resource was created.",
          "readOnly": true
        },
        "vCore": {
          "type": "string",
          "description": "The number of logical processors used by the SQL Server instance."
        },
        "status": {
          "type": "string",
          "description": "The cloud connectivity status."
        },
        "patchLevel": {
          "type": "string",
          "description": "SQL Server update level."
        },
        "collation": {
          "type": "string",
          "description": "SQL Server collation."
        },
        "currentVersion": {
          "type": "string",
          "description": "SQL Server current version."
        },
        "instanceName": {
          "type": "string",
          "description": "SQL Server instance name."
        },
        "tcpDynamicPorts": {
          "type": "string",
          "description": "Dynamic TCP ports used by SQL Server."
        },
        "tcpStaticPorts ": {
          "type": "string",
          "description": "Static TCP ports used by SQL Server."
        },
        "productId": {
          "type": "string",
          "description": "SQL Server product ID."
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      },
      "required": [
        "containerResourceId",
        "status"
      ]
    },
    "SqlServerInstance": {
      "description": "A SqlServerInstance.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SqlServerInstanceProperties",
          "description": "null",
          "x-ms-client-flatten": false
        }
      }
    },
    "SqlServerInstanceUpdate": {
      "description": "An update to a SQL Server Instance.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SqlServerInstanceListResult": {
      "description": "A list of SqlServerInstance.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SqlServerInstance"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "null"
        }
      },
      "description": "An error response from the Azure Data on Azure Arc service."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the Batch service."
    },
    "ODataError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "A language-independent error name."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "type": "string",
          "description": "The target of the error (for example, the name of the property in error)."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ODataError"
          },
          "description": "The error details."
        }
      },
      "type": "object",
      "description": "Information about an error."
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the Azure subscription"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure resource group",
      "x-ms-parameter-location": "method"
    },
    "location": {
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure region to use for the request",
      "x-ms-parameter-location": "method"
    },
    "apiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription ID that identifies an Azure subscription.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API version to use for the request.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "PostgresInstanceNameParameter": {
      "in": "path",
      "name": "postgresInstanceName",
      "description": "The name of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SqlManagedInstanceNameParameter": {
      "in": "path",
      "name": "sqlManagedInstanceName",
      "description": "The name of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SqlServerInstanceNameParameter": {
      "in": "path",
      "name": "sqlServerInstanceName",
      "description": "The name of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
