{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2025-06-01",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DefenderForStorage"
    },
    {
      "name": "Antimalware"
    },
    {
      "name": "Scan"
    }
  ],
  "paths": {
    "/{resourceId}/providers/Microsoft.Security/defenderForStorageSettings/{settingName}": {
      "get": {
        "operationId": "DefenderForStorage_Get",
        "tags": [
          "DefenderForStorage"
        ],
        "description": "Gets the Defender for Storage settings for the specified storage account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "settingName",
            "in": "path",
            "description": "The defender for storage setting name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "enum": [
              "current"
            ],
            "x-ms-enum": {
              "name": "SettingName",
              "modelAsString": true,
              "values": [
                {
                  "name": "current",
                  "value": "current",
                  "description": "Name of the Defender for Storage Settings name."
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DefenderForStorageSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Gets the Defender for Storage settings for the specified resource.": {
            "$ref": "./examples/DefenderForStorage/GetDefenderForStorageSettings_example.json"
          }
        }
      },
      "put": {
        "operationId": "DefenderForStorage_Create",
        "tags": [
          "DefenderForStorage"
        ],
        "description": "Creates or updates the Defender for Storage settings on a specified storage account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "settingName",
            "in": "path",
            "description": "The defender for storage setting name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "enum": [
              "current"
            ],
            "x-ms-enum": {
              "name": "SettingName",
              "modelAsString": true,
              "values": [
                {
                  "name": "current",
                  "value": "current",
                  "description": "Name of the Defender for Storage Settings name."
                }
              ]
            }
          },
          {
            "name": "defenderForStorageSetting",
            "in": "body",
            "description": "Defender for Storage Settings",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DefenderForStorageSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DefenderForStorageSetting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DefenderForStorageSetting"
            }
          },
          "201": {
            "description": "Resource 'DefenderForStorageSetting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DefenderForStorageSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates the Defender for Storage settings on a specified resource.": {
            "$ref": "./examples/DefenderForStorage/PutDefenderForStorageSettings_example.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/defenderForStorageSettings/{settingName}/malwareScans/{scanId}": {
      "get": {
        "operationId": "DefenderForStorage_GetMalwareScan",
        "tags": [
          "DefenderForStorage",
          "Antimalware",
          "Scan"
        ],
        "description": "Gets the Defender for Storage malware scan for the specified storage resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "settingName",
            "in": "path",
            "description": "The defender for storage setting name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "enum": [
              "current"
            ],
            "x-ms-enum": {
              "name": "SettingName",
              "modelAsString": true,
              "values": [
                {
                  "name": "current",
                  "value": "current",
                  "description": "Name of the Defender for Storage Settings name."
                }
              ]
            }
          },
          {
            "name": "scanId",
            "in": "path",
            "description": "The identifier of the scan. Can be either 'latest' or a GUID.",
            "required": true,
            "type": "string",
            "pattern": "^(latest|[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MalwareScan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Gets the Defender for Storage malware scan for the specified storage resource.": {
            "$ref": "./examples/DefenderForStorage/GetMalwareScan_example.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/defenderForStorageSettings/{settingName}/malwareScans/{scanId}/cancelMalwareScan": {
      "post": {
        "operationId": "DefenderForStorage_CancelMalwareScan",
        "tags": [
          "DefenderForStorage",
          "Antimalware",
          "Scan"
        ],
        "description": "Cancels a Defender for Storage malware scan for the specified storage account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "settingName",
            "in": "path",
            "description": "The defender for storage setting name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "enum": [
              "current"
            ],
            "x-ms-enum": {
              "name": "SettingName",
              "modelAsString": true,
              "values": [
                {
                  "name": "current",
                  "value": "current",
                  "description": "Name of the Defender for Storage Settings name."
                }
              ]
            }
          },
          {
            "name": "scanId",
            "in": "path",
            "description": "The identifier of the scan. Can be either 'latest' or a GUID.",
            "required": true,
            "type": "string",
            "pattern": "^(latest|[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MalwareScan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Cancel a Defender for Storage malware scan for the specified storage resource.": {
            "$ref": "./examples/DefenderForStorage/CancelMalwareScan_example.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/defenderForStorageSettings/{settingName}/startMalwareScan": {
      "post": {
        "operationId": "DefenderForStorage_StartMalwareScan",
        "tags": [
          "DefenderForStorage",
          "Antimalware",
          "Scan"
        ],
        "description": "Initiate a Defender for Storage malware scan for the specified storage account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "settingName",
            "in": "path",
            "description": "The defender for storage setting name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$",
            "enum": [
              "current"
            ],
            "x-ms-enum": {
              "name": "SettingName",
              "modelAsString": true,
              "values": [
                {
                  "name": "current",
                  "value": "current",
                  "description": "Name of the Defender for Storage Settings name."
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MalwareScan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Initiate a Defender for Storage malware scan for the specified storage account.": {
            "$ref": "./examples/DefenderForStorage/StartMalwareScan_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "BlobScanResultsOptions": {
      "type": "string",
      "description": "Optional. Write scan result on blobIndexTags by default.",
      "enum": [
        "blobIndexTags",
        "None"
      ],
      "x-ms-enum": {
        "name": "BlobScanResultsOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "blobIndexTags",
            "value": "blobIndexTags",
            "description": "Write scan results on the blobs index tags."
          },
          {
            "name": "None",
            "value": "None",
            "description": "Do not write scan results on the blobs index tags."
          }
        ]
      }
    },
    "BlobsScanSummary": {
      "type": "object",
      "description": "A summary of the scan results of the blobs that were scanned.",
      "properties": {
        "totalBlobsScanned": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of blobs that were scanned."
        },
        "maliciousBlobsCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of malicious blobs that were detected during the scan."
        },
        "skippedBlobsCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of blobs that were skipped."
        },
        "failedBlobsCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of failed blob scans."
        },
        "scannedBlobsInGB": {
          "type": "number",
          "format": "double",
          "description": "The number of gigabytes of data that were scanned."
        }
      }
    },
    "CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "readOnly": true
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "readOnly": true
        }
      },
      "x-ms-external": true
    },
    "DefenderForStorageSetting": {
      "type": "object",
      "description": "The Defender for Storage resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DefenderForStorageSettingProperties",
          "description": "Defender for Storage resource properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DefenderForStorageSettingProperties": {
      "type": "object",
      "description": "Defender for Storage resource properties.",
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "description": "Indicates whether Defender for Storage is enabled on this storage account."
        },
        "malwareScanning": {
          "$ref": "#/definitions/MalwareScanningProperties",
          "description": "Properties of Malware Scanning."
        },
        "sensitiveDataDiscovery": {
          "$ref": "#/definitions/SensitiveDataDiscoveryProperties",
          "description": "Properties of Sensitive Data Discovery."
        },
        "overrideSubscriptionLevelSettings": {
          "type": "boolean",
          "description": "Indicates whether the settings defined for this storage account should override the settings defined for the subscription."
        }
      }
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "MalwareScan": {
      "type": "object",
      "description": "Describes the state of a malware scan operation.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MalwareScanProperties"
        }
      }
    },
    "MalwareScanProperties": {
      "type": "object",
      "properties": {
        "scanId": {
          "type": "string",
          "description": "The identifier of the scan."
        },
        "scanStatus": {
          "type": "string",
          "description": "A status code of the scan operation."
        },
        "scanStatusMessage": {
          "type": "string",
          "description": "A description of the status of the scan."
        },
        "scanStartTime": {
          "type": "string",
          "description": "The time at which the scan had been initiated."
        },
        "scanEndTime": {
          "type": "string",
          "description": "The time at which the scan has ended. Only available for a scan which has terminated."
        },
        "scanSummary": {
          "$ref": "#/definitions/ScanSummary",
          "description": "A summary of the scan results."
        }
      }
    },
    "MalwareScanningProperties": {
      "type": "object",
      "description": "Properties of Malware Scanning.",
      "properties": {
        "onUpload": {
          "$ref": "#/definitions/OnUploadProperties",
          "description": "Properties of On Upload malware scanning."
        },
        "scanResultsEventGridTopicResourceId": {
          "type": "string",
          "description": "Optional. Resource id of an Event Grid Topic to send scan results to."
        },
        "blobScanResultsOptions": {
          "$ref": "#/definitions/BlobScanResultsOptions",
          "description": "Optional. Write scan result on blobIndexTags by default."
        },
        "operationStatus": {
          "$ref": "#/definitions/OperationStatus",
          "description": "Upon failure or partial success. Additional data describing Malware Scanning enable/disable operation.",
          "readOnly": true
        }
      }
    },
    "OnUploadFilters": {
      "type": "object",
      "description": "Optional. Determine which blobs get scanned by On Upload malware scanning. An Or operation is performed between each filter type.",
      "properties": {
        "excludeBlobsWithPrefix": {
          "type": "array",
          "description": "Optional. A list of prefixes to exclude from on-upload malware scanning.\nFormat: `container-name/blob-name` (start with the container name; do not include the storage account name).\nExclude entire containers: Use prefix of container names you want to exclude without a trailing `/`.\nExclude a single container: Add a trailing slash `/` after the container name to avoid excluding other containers with similar prefixes.",
          "x-nullable": true,
          "items": {
            "type": "string"
          }
        },
        "excludeBlobsWithSuffix": {
          "type": "array",
          "description": "Optional. A list of suffixes to exclude from on-upload malware scanning. Suffixes match only the end of blob names, and should be used for file extensions or blob name endings only.",
          "x-nullable": true,
          "items": {
            "type": "string"
          }
        },
        "excludeBlobsLargerThan": {
          "description": "Optional. Specifies the maximum size in bytes for blobs to be scanned. This parameter accepts a single positive integer value. Blobs larger than this value will be excluded from scanning.",
          "x-nullable": true
        }
      }
    },
    "OnUploadProperties": {
      "type": "object",
      "description": "Properties of On Upload malware scanning.",
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "description": "Indicates whether On Upload malware scanning should be enabled."
        },
        "capGBPerMonth": {
          "type": "integer",
          "format": "int32",
          "description": "Defines the max GB to be scanned per Month. Set to -1 if no capping is needed. If not specified, the default value is -1."
        },
        "filters": {
          "$ref": "#/definitions/OnUploadFilters",
          "description": "Optional. Determine which blobs get scanned by On Upload malware scanning. An Or operation is performed between each filter type.",
          "x-nullable": true
        }
      }
    },
    "OperationStatus": {
      "type": "object",
      "description": "A status describing the success/failure of the enablement/disablement operation.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The operation status code."
        },
        "message": {
          "type": "string",
          "description": "Additional information regarding the success/failure of the operation."
        }
      }
    },
    "ScanSummary": {
      "type": "object",
      "description": "A summary of the scan results.",
      "properties": {
        "blobs": {
          "$ref": "#/definitions/BlobsScanSummary",
          "description": "A summary of the scan results of the blobs that were scanned."
        },
        "estimatedScanCostUSD": {
          "type": "number",
          "format": "double",
          "description": "The estimated cost of the scan. Only available for a scan which has terminated."
        }
      }
    },
    "SensitiveDataDiscoveryProperties": {
      "type": "object",
      "description": "Properties of Sensitive Data Discovery.",
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "description": "Indicates whether Sensitive Data Discovery should be enabled."
        },
        "operationStatus": {
          "$ref": "#/definitions/OperationStatus",
          "description": "Upon failure or partial success. Additional data describing Sensitive Data Discovery enable/disable operation.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
