{
  "swagger": "2.0",
  "info": {
    "title": "CostManagementClient",
    "description": "CostManagement management client provides access to CostManagement resources for Azure Enterprise Subscriptions.",
    "version": "2023-04-01-preview"
  },
  "tags": [
    {
      "name": "Budgets API",
      "description": "APIs for creating and managing cost and utilization alerts."
    }
  ],
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.CostManagement/budgets": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "operationId": "Budgets_List",
        "description": "Lists all budgets for the defined scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/CostManagement/"
        },
        "x-ms-examples": {
          "BudgetsList": {
            "$ref": "./examples/Budgets/BudgetsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeBudgetParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BudgetsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "common-types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/budgets/{budgetName}": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "operationId": "Budgets_Get",
        "description": "Gets the budget for the scope by budget name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/CostManagement/"
        },
        "x-ms-examples": {
          "Budget": {
            "$ref": "./examples/Budgets/Budget.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeBudgetParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/budgetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "common-types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Budgets"
        ],
        "operationId": "Budgets_CreateOrUpdate",
        "description": "The operation to create or update a budget. You can optionally provide an eTag if desired as a form of concurrency control. To obtain the latest eTag for a given budget, perform a get operation prior to your put operation.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/CostManagement/"
        },
        "x-ms-examples": {
          "CreateOrUpdateBudget": {
            "$ref": "./examples/Budgets/CreateOrUpdateBudget.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeBudgetParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/budgetNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Budget"
            },
            "description": "Parameters supplied to the Create Budget operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "common-types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Budgets"
        ],
        "operationId": "Budgets_Delete",
        "description": "The operation to delete a budget.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/CostManagement/"
        },
        "x-ms-examples": {
          "DeleteBudget": {
            "$ref": "./examples/Budgets/DeleteBudget.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeBudgetParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/budgetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "common-types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BudgetsListResult": {
      "description": "Result of listing budgets. It contains a list of available budgets in the scope provided.",
      "properties": {
        "value": {
          "description": "The list of budgets.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Budget"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Budget": {
      "description": "A budget resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "common-types.json#/definitions/CostManagementProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BudgetProperties",
          "title": "Budget properties"
        }
      }
    },
    "BudgetProperties": {
      "description": "The properties of the budget.",
      "properties": {
        "category": {
          "description": "The category of the budget, whether the budget tracks cost or usage.",
          "type": "string",
          "enum": [
            "Cost"
          ],
          "x-ms-enum": {
            "name": "CategoryType",
            "modelAsString": true
          }
        },
        "amount": {
          "description": "The total amount of cost to track with the budget",
          "type": "number",
          "format": "decimal"
        },
        "timeGrain": {
          "description": "The time covered by a budget. Tracking of the amount will be reset based on the time grain. BillingMonth, BillingQuarter, and BillingAnnual are only supported by WD customers",
          "type": "string",
          "enum": [
            "Monthly",
            "Quarterly",
            "Annually",
            "BillingMonth",
            "BillingQuarter",
            "BillingAnnual"
          ],
          "x-ms-enum": {
            "name": "TimeGrainType",
            "modelAsString": true
          }
        },
        "timePeriod": {
          "description": "Has start and end date of the budget. The start date must be first of the month and should be less than the end date. Budget start date must be on or after June 1, 2017. Future start date should not be more than twelve months. Past start date should  be selected within the timegrain period. There are no restrictions on the end date.",
          "$ref": "#/definitions/BudgetTimePeriod"
        },
        "filter": {
          "description": "May be used to filter budgets by user-specified dimensions and/or tags.",
          "type": "object",
          "$ref": "#/definitions/BudgetFilter"
        },
        "currentSpend": {
          "description": "The current amount of cost which is being tracked for a budget.",
          "$ref": "#/definitions/CurrentSpend",
          "readOnly": true
        },
        "notifications": {
          "type": "object",
          "description": "Dictionary of notifications associated with the budget. Budget can have up to five notifications.",
          "additionalProperties": {
            "type": "object",
            "$ref": "#/definitions/Notification"
          },
          "maxItems": 5
        },
        "forecastSpend": {
          "description": "The forecasted cost which is being tracked for a budget.",
          "$ref": "#/definitions/ForecastSpend",
          "readOnly": true
        }
      },
      "required": [
        "category",
        "amount",
        "timeGrain",
        "timePeriod"
      ]
    },
    "BudgetTimePeriod": {
      "description": "The start and end date for a budget.",
      "properties": {
        "startDate": {
          "description": "The start date for the budget.",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "The end date for the budget. If not provided, we default this to 10 years from the start date.",
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "startDate"
      ]
    },
    "BudgetFilter": {
      "description": "May be used to filter budgets by resource group, resource, or meter.",
      "properties": {
        "and": {
          "description": "The logical \"AND\" expression. Must have at least 2 items.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BudgetFilterProperties"
          },
          "x-ms-identifiers": [],
          "minItems": 0
        },
        "dimensions": {
          "description": "Has comparison expression for a dimension",
          "$ref": "#/definitions/BudgetComparisonExpression"
        },
        "tags": {
          "description": "Has comparison expression for a tag",
          "$ref": "#/definitions/BudgetComparisonExpression"
        }
      }
    },
    "BudgetFilterProperties": {
      "description": "The Dimensions or Tags to filter a budget by.",
      "properties": {
        "dimensions": {
          "description": "Has comparison expression for a dimension",
          "$ref": "#/definitions/BudgetComparisonExpression"
        },
        "tags": {
          "description": "Has comparison expression for a tag",
          "$ref": "#/definitions/BudgetComparisonExpression"
        }
      }
    },
    "BudgetComparisonExpression": {
      "description": "The comparison expression to be used in the budgets.",
      "properties": {
        "name": {
          "description": "The name of the column to use in comparison.",
          "type": "string"
        },
        "operator": {
          "description": "The operator to use for comparison.",
          "type": "string",
          "enum": [
            "In"
          ],
          "x-ms-enum": {
            "name": "BudgetOperatorType",
            "modelAsString": true
          }
        },
        "values": {
          "description": "Array of values to use for comparison",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 0
        }
      },
      "required": [
        "name",
        "operator",
        "values"
      ]
    },
    "CurrentSpend": {
      "description": "The current amount of cost which is being tracked for a budget.",
      "properties": {
        "amount": {
          "description": "The total amount of cost which is being tracked by the budget.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "unit": {
          "description": "The unit of measure for the budget amount.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ForecastSpend": {
      "description": "The forecasted cost which is being tracked for a budget.",
      "properties": {
        "amount": {
          "description": "The forecasted cost for the total time period which is being tracked by the budget. This value is only provided if the budget contains a forecast alert type.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "unit": {
          "description": "The unit of measure for the budget amount.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Notification": {
      "description": "The notification associated with a budget.",
      "properties": {
        "enabled": {
          "description": "The notification is enabled or not.",
          "type": "boolean"
        },
        "operator": {
          "description": "The comparison operator.",
          "type": "string",
          "enum": [
            "EqualTo",
            "GreaterThan",
            "GreaterThanOrEqualTo"
          ],
          "x-ms-enum": {
            "name": "OperatorType",
            "modelAsString": true,
            "values": [
              {
                "value": "EqualTo",
                "description": "Alert will be triggered if the evaluated cost is the same as threshold value. Note: It’s not recommended to use this OperatorType as there’s low chance of cost being exactly the same as threshold value, leading to missing of your alert. This OperatorType will be deprecated in future. ",
                "name": "EqualTo"
              },
              {
                "value": "GreaterThan",
                "description": "Alert will be triggered if the evaluated cost is greater than the threshold value. Note: This is the recommended OperatorType while configuring Budget Alert.",
                "name": "GreaterThan"
              },
              {
                "value": "GreaterThanOrEqualTo",
                "description": "Alert will be triggered if the evaluated cost is greater than or equal to the threshold value.",
                "name": "GreaterThanOrEqualTo"
              }
            ]
          }
        },
        "threshold": {
          "description": "Threshold value associated with a notification. Notification is sent when the cost exceeded the threshold. It is always percent and has to be between 0 and 1000.",
          "type": "number",
          "format": "decimal"
        },
        "contactEmails": {
          "description": "Email addresses to send the budget notification to when the threshold is exceeded. Must have at least one contact email or contact group specified at the Subscription or Resource Group scopes. All other scopes must have at least one contact email specified.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 0,
          "maxItems": 50
        },
        "contactRoles": {
          "description": "Contact roles to send the budget notification to when the threshold is exceeded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contactGroups": {
          "description": "Action groups to send the budget notification to when the threshold is exceeded. Must be provided as a fully qualified Azure resource id. Only supported at Subscription or Resource Group scopes.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 0,
          "maxItems": 50
        },
        "thresholdType": {
          "description": "The type of threshold",
          "type": "string",
          "enum": [
            "Actual",
            "Forecasted"
          ],
          "x-ms-enum": {
            "name": "ThresholdType",
            "modelAsString": true,
            "values": [
              {
                "value": "Actual",
                "description": "Actual costs budget alerts notify when the actual accrued cost exceeds the allocated budget .",
                "name": "Actual"
              },
              {
                "value": "Forecasted",
                "description": "Forecasted costs budget alerts provide advanced notification that your spending trends are likely to exceed your allocated budget, as it relies on forecasted cost predictions.",
                "name": "Forecasted"
              }
            ]
          },
          "default": "Actual"
        },
        "locale": {
          "description": "Language in which the recipient will receive the notification",
          "type": "string",
          "enum": [
            "en-us",
            "ja-jp",
            "zh-cn",
            "de-de",
            "es-es",
            "fr-fr",
            "it-it",
            "ko-kr",
            "pt-br",
            "ru-ru",
            "zh-tw",
            "cs-cz",
            "pl-pl",
            "tr-tr",
            "da-dk",
            "en-gb",
            "hu-hu",
            "nb-no",
            "nl-nl",
            "pt-pt",
            "sv-se"
          ],
          "x-ms-enum": {
            "name": "CultureCode",
            "modelAsString": true
          }
        }
      },
      "required": [
        "enabled",
        "operator",
        "threshold",
        "contactEmails"
      ]
    }
  },
  "parameters": {
    "scopeBudgetParameter": {
      "name": "scope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "budgetNameParameter": {
      "name": "budgetName",
      "in": "path",
      "description": "Budget Name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
