{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagerDeployment",
    "description": "The Microsoft Azure Network Manager API provides a RESTful set of web services that interact with Microsoft Azure Network Manager service to manage your network resources.",
    "version": "2019-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/deploy": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        }
      ],
      "post": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Post",
        "description": "The post security deployment operation post a new Managed Network Deployment",
        "parameters": [
          {
            "name": "deployment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment"
            },
            "description": "Parameters supplied to post a Managed Network deployment"
          }
        ],
        "responses": {
          "200": {
            "description": "Post successful. The operation returns the resulting Managed Network Deployment.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentsPost": {
            "$ref": "./examples/NetworkManagerDeploymentsPost.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/activeDeployments/{locationId}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Get",
        "description": "The Get Security Deployment operation retrieves security deployment.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location id of the deployment belong to.",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Get successful. The operation returns deployment resources in the specified Managed Network.",
            "schema": {
              "$ref": "#/definitions/DeploymentResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentsGet": {
            "$ref": "./examples/NetworkManagerDeploymentsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/activeDeployments/{locationId}/rules": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_GetRulesList",
        "description": "The Get Security Deployment operation retrieves rules in security deployment.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "#/parameters/LocationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get successful. The operation returns deployment resources.",
            "schema": {
              "$ref": "#/definitions/DeploymentRuleResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentRulesGet": {
            "$ref": "./examples/NetworkManagerDeploymentRulesGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Deployment": {
      "properties": {
        "configuration": {
          "type": "string",
          "description": "configuration Id need to deploy."
        },
        "location": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Location List"
        }
      },
      "description": "Configuration and location lists to deploy."
    },
    "DeploymentResult": {
      "properties": {
        "configuration": {
          "type": "string",
          "description": "configuration Id need to deploy."
        },
        "deployedTime": {
          "type": "string",
          "description": "Deployed Time"
        }
      },
      "description": "Configuration and location lists to deploy."
    },
    "DeploymentRuleResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "./networkManagerSecurityConfiguration.json#/definitions/SecurityConfigurationRule"
          },
          "description": "Rule List"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      }
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "NetworkManagerNameParameter": {
      "name": "networkManagerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network manager.",
      "x-ms-parameter-location": "method"
    },
    "LocationIdParameter": {
      "name": "locationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The location id of the deployment belong to.",
      "x-ms-parameter-location": "method"
    },
    "ListPageSizeParameter": {
      "name": "$top",
      "description": "May be used to limit the number of results in a page for list queries.",
      "in": "query",
      "required": false,
      "type": "integer",
      "minimum": 1,
      "maximum": 20,
      "x-ms-parameter-location": "method"
    },
    "ListSkipTokenParameter": {
      "name": "$skiptoken",
      "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
