{
  "swagger": "2.0",
  "info": {
    "title": "SecurityConfiguration",
    "version": "2019-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations": {
      "get": {
        "tags": [
          "SecurityConfigurations"
        ],
        "operationId": "SecurityConfigurations_List",
        "description": "The list securityConfigurations operation retrieves all the Managed Network Security Configurations in a resource group, in a paginated format.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "#/parameters/ListPageSizeParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get successful. The operation returns all Managed Network Security Configuration resources in the specified Managed Network, in a paginated format",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List security configurations in a network manager": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        }
      ],
      "get": {
        "tags": [
          "SecurityConfigurations"
        ],
        "summary": "Get",
        "description": "Retrieves a network manager security Configuration.",
        "operationId": "SecurityConfigurations_Get",
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security configurations": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "SecurityConfigurations"
        ],
        "summary": "Create Or Update",
        "description": "Creates or updates a network manager security Configuration in a subscription.  This operation creates or updates a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurations_CreateOrUpdate",
        "parameters": [
          {
            "name": "securityConfiguration",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            },
            "description": "The security Configuration to create or update"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Configuration",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "201": {
            "description": "Created Configuration",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create network manager security Configuration for a subscription": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationPut.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "SecurityConfigurations"
        ],
        "summary": "Delete",
        "description": "Deletes a network manager security Configuration in a subscription. This operation deletes the network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurations_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete network manager security Configuration": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "NetworkManagers"
        ],
        "operationId": "SecurityConfigurations_Patch",
        "description": "Update a SecurityConfiguration.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./network.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update network manager SecurityConfiguration tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the network manager SecurityConfiguration.",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagesPut": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/rules": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        }
      ],
      "get": {
        "tags": [
          "SecurityConfigurationRules"
        ],
        "summary": "List",
        "description": "Retrieves a network manager security Configuration rule. This operation retrieves a rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationRules_List",
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security configuration rules": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationRulesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/rules/{ruleName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationsRuleParameter"
        }
      ],
      "get": {
        "tags": [
          "SecurityConfigurationRules"
        ],
        "summary": "Get",
        "description": "Retrieves a network manager security Configuration rule in a subscription. This operation retrieves a rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationRules_Get",
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security rule for a specific security Configuration for a network manager": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationRuleGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "SecurityConfigurationRules"
        ],
        "summary": "Create Or Update",
        "description": "Creates or updates a rule for a network manager security Configuration in a subscription. This operation creates or updates a rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationRules_CreateOrUpdateRule",
        "parameters": [
          {
            "name": "securityConfigurationRule",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationRule"
            },
            "description": "The security rule to create or update"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated rule",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationRule"
            }
          },
          "201": {
            "description": "Created rule",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a rule for a network manager security Configuration": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationRulePut.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "SecurityConfigurationRules"
        ],
        "summary": "Delete",
        "description": "Deletes a rule for a network manager security Configuration in a subscription. This operation deletes a rule for a network manager security Configuration in the given subscription with the given name.",
        "operationId": "SecurityConfigurationRules_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete security rule for a specific security Configuration for a network manager": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationRuleDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "SecurityConfigurationRules"
        ],
        "operationId": "SecurityConfigurationRules_Patch",
        "description": "Update a SecurityConfiguration Rule.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./network.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update network manager SecurityConfiguration rule tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the network manager SecurityConfiguration Rule.",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationRule"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkManagesPut": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationRulePatch.json"
          }
        }
      }
    }
  },
  "parameters": {
    "SecurityConfigurationParameter": {
      "name": "configurationName",
      "in": "path",
      "description": "The name of the network manager security Configuration.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SecurityConfigurationsRuleParameter": {
      "name": "ruleName",
      "in": "path",
      "description": "The name of the rule.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "NetworkManagerNameParameter": {
      "name": "networkManagerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network manager.",
      "x-ms-parameter-location": "method"
    },
    "ListPageSizeParameter": {
      "name": "$top",
      "description": "May be used to limit the number of results in a page for list queries.",
      "in": "query",
      "required": false,
      "type": "integer",
      "minimum": 1,
      "maximum": 20,
      "x-ms-parameter-location": "method"
    },
    "ListSkipTokenParameter": {
      "name": "$skiptoken",
      "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "SecurityConfiguration": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SecurityConfigurationPropertiesFormat",
          "description": "Indicates the properties for the managed network security Configuration."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "Defines the security Configuration for a managed network"
    },
    "SecurityConfigurationPropertiesFormat": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name of the network manager security Configuration."
        },
        "description": {
          "type": "string",
          "description": "A description of the network manager security Configuration."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the scope assignment resource."
        }
      },
      "description": "Defines the security Configuration properties for a managed network"
    },
    "SecurityConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityConfiguration"
          },
          "description": "Gets a page of security configurations"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "A list of managed network security configurations"
    },
    "SecurityConfigurationRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityConfigurationRule"
          },
          "description": "A list of managed network security configuration rules"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      }
    },
    "SecurityConfigurationRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityConfigurationRulePropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security rule"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "Network security rule."
    },
    "SecurityConfigurationRulePropertiesFormat": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the rule."
        },
        "description": {
          "type": "string",
          "description": "A description for this rule. Restricted to 140 chars."
        },
        "protocol": {
          "type": "string",
          "description": "Network protocol this rule applies to.",
          "enum": [
            "Tcp",
            "Udp",
            "Icmp",
            "Esp",
            "*",
            "Ah"
          ],
          "x-ms-enum": {
            "name": "SecurityConfigurationRuleProtocol",
            "modelAsString": true
          }
        },
        "sourceAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The CIDR or source IP ranges."
        },
        "destinationAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The destination address prefixes. CIDR or destination IP ranges."
        },
        "sourcePortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The source port."
          },
          "description": "The source port ranges."
        },
        "destinationPortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The destination port."
          },
          "description": "The destination port ranges."
        },
        "access": {
          "$ref": "#/definitions/SecurityConfigurationRuleAccess",
          "description": "Indicates the access allowed for this particular rule"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the rule. The value can be between 1 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule."
        },
        "direction": {
          "$ref": "#/definitions/SecurityConfigurationRuleDirection",
          "description": "Indicates if the traffic matched against the rule in inbound or outbound."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the security Configuration resource."
        },
        "appliesToGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkManagerSecurityGroupItem"
          },
          "description": "Groups for configuration"
        }
      },
      "required": [
        "priority",
        "protocol",
        "access",
        "direction"
      ],
      "description": "Security rule resource."
    },
    "SecurityConfigurationRuleAccess": {
      "type": "string",
      "description": "Whether network traffic is allowed or denied.",
      "enum": [
        "Allow",
        "Deny",
        "AlwaysAllow"
      ],
      "x-ms-enum": {
        "name": "SecurityConfigurationRuleAccess",
        "modelAsString": true
      }
    },
    "SecurityConfigurationRuleDirection": {
      "type": "string",
      "description": "The direction of the rule. The direction specifies if rule will be evaluated on incoming or outgoing traffic.",
      "enum": [
        "Inbound",
        "Outbound"
      ],
      "x-ms-enum": {
        "name": "SecurityConfigurationRuleDirection",
        "modelAsString": true
      }
    },
    "networkManagerSecurityGroupItem": {
      "type": "object",
      "properties": {
        "networkGroupId": {
          "type": "string",
          "description": "Network manager group Id."
        }
      }
    }
  }
}
