{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagerDeployment",
    "description": "The Microsoft Azure Network Manager API provides a RESTful set of web services that interact with Microsoft Azure Network Manager service to manage your network resources.",
    "version": "2019-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/deploy": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        }
      ],
      "post": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Post",
        "description": "The post security deployment operation post a new Managed Network Deployment",
        "parameters": [
          {
            "name": "deployment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment"
            },
            "description": "Parameters supplied to post a Managed Network deployment"
          }
        ],
        "responses": {
          "200": {
            "description": "Post successful. The operation returns the resulting Managed Network Deployment.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentsPost": {
            "$ref": "./examples/NetworkManagerDeploymentsPost.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/activeDeployments/{locationId}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Get",
        "description": "The Get Security Deployment operation retrieves security deployment.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location id of the deployment belong to.",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Get successful. The operation returns deployment resources in the specified Managed Network.",
            "schema": {
              "$ref": "#/definitions/DeploymentResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentsGet": {
            "$ref": "./examples/NetworkManagerDeploymentsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/activeDeployments/{locationId}/rules": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_GetRulesList",
        "description": "The Get Security Deployment operation retrieves rules in security deployment.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "#/parameters/LocationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get successful. The operation returns deployment resources.",
            "schema": {
              "$ref": "#/definitions/DeploymentRuleResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentRulesGet": {
            "$ref": "./examples/NetworkManagerDeploymentRulesGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Deployment": {
      "properties": {
        "configuration": {
          "type": "string",
          "description": "configuration Id need to deploy."
        },
        "location": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Location List"
        }
      },
      "description": "Configuration and location lists to deploy."
    },
    "DeploymentResult": {
      "properties": {
        "configuration": {
          "type": "string",
          "description": "configuration Id need to deploy."
        },
        "deployedTime": {
          "type": "string",
          "description": "Deployed Time",
          "format": "date-time"
        }
      },
      "description": "Configuration and location lists to deploy."
    },
    "DeploymentRuleResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentRule"
          },
          "description": "Rule List"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      }
    },
    "DeploymentRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentRuleFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security rule"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "Network security rule."
    },
    "DeploymentRuleFormat": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the deployment rule."
        },
        "description": {
          "type": "string",
          "description": "A description for this rule. Restricted to 140 chars."
        },
        "protocol": {
          "type": "string",
          "description": "Network protocol this rule applies to.",
          "enum": [
            "Tcp",
            "Udp",
            "Icmp",
            "Esp",
            "*",
            "Ah"
          ],
          "x-ms-enum": {
            "name": "SecurityConfigurationRuleProtocol",
            "modelAsString": true
          }
        },
        "sourceAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The CIDR or source IP ranges."
        },
        "destinationAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The destination address prefixes. CIDR or destination IP ranges."
        },
        "sourcePortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The source port."
          },
          "description": "The source port ranges."
        },
        "destinationPortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The destination port."
          },
          "description": "The destination port ranges."
        },
        "access": {
          "$ref": "#/definitions/DeploymentRuleAccess",
          "description": "Indicates the access allowed for this particular rule"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the rule. The value can be between 1 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule."
        },
        "direction": {
          "$ref": "#/definitions/DeploymentRuleDirection",
          "description": "Indicates if the traffic matched against the rule in inbound or outbound."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the security Configuration resource."
        },
        "appliesToGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentGroupItem"
          },
          "description": "Groups for configuration"
        }
      },
      "required": [
        "priority",
        "protocol",
        "access",
        "direction"
      ],
      "description": "Security rule resource."
    },
    "DeploymentRuleAccess": {
      "type": "string",
      "description": "Whether network traffic is allowed or denied.",
      "enum": [
        "Allow",
        "Deny",
        "AlwaysAllow"
      ],
      "x-ms-enum": {
        "name": "DeploymentRuleAccess",
        "modelAsString": true
      }
    },
    "DeploymentRuleDirection": {
      "type": "string",
      "description": "The direction of the rule. The direction specifies if rule will be evaluated on incoming or outgoing traffic.",
      "enum": [
        "Inbound",
        "Outbound"
      ],
      "x-ms-enum": {
        "name": "DeploymentRuleDirection",
        "modelAsString": true
      }
    },
    "DeploymentGroupItem": {
      "type": "object",
      "properties": {
        "groupMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "group of Network Manager rule."
        },
        "conditionalMembership": {
          "type": "object",
          "description": "group filter."
        },
        "deployedTime": {
          "type": "string",
          "description": "deploy Time.",
          "format": "date-time"
        }
      }
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "NetworkManagerNameParameter": {
      "name": "networkManagerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network manager.",
      "x-ms-parameter-location": "method"
    },
    "LocationIdParameter": {
      "name": "locationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The location id of the deployment belong to.",
      "x-ms-parameter-location": "method"
    },
    "ListPageSizeParameter": {
      "name": "$top",
      "description": "May be used to limit the number of results in a page for list queries.",
      "in": "query",
      "required": false,
      "type": "integer",
      "minimum": 1,
      "maximum": 20,
      "x-ms-parameter-location": "method"
    },
    "ListSkipTokenParameter": {
      "name": "$skiptoken",
      "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
