{
  "swagger": "2.0",
  "info": {
    "version": "2019-11-01",
    "title": "WebApplicationFirewallManagement",
    "description": "APIs to manage web application firewall rules."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies": {
      "get": {
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Lists all of the protection policies within a resource group.",
        "operationId": "WebApplicationFirewallPolicies_List",
        "x-ms-examples": {
          "Lists all WAF policies in a resource group": {
            "$ref": "./examples/WafListPolicies.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicyListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies": {
      "get": {
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Gets all the WAF policies in a subscription.",
        "operationId": "WebApplicationFirewallPolicies_ListAll",
        "x-ms-examples": {
          "Lists all WAF policies in a subscription": {
            "$ref": "./examples/WafListAllPolicies.json"
          }
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicyListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/{policyName}": {
      "get": {
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Retrieve protection policy with specified name within a resource group.",
        "operationId": "WebApplicationFirewallPolicies_Get",
        "x-ms-examples": {
          "Gets a WAF policy within a resource group": {
            "$ref": "./examples/WafPolicyGet.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "description": "The name of the policy."
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Creates or update policy with specified rule set name within a resource group.",
        "operationId": "WebApplicationFirewallPolicies_CreateOrUpdate",
        "x-ms-examples": {
          "Creates or updates a WAF policy within a resource group": {
            "$ref": "./examples/WafPolicyCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "description": "The name of the policy."
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Policy to be created.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicy"
            }
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicy"
            }
          },
          "201": {
            "description": "Created. The request has been fulfilled and a new protection policy has been created.",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WebApplicationFirewallPolicies"
        ],
        "description": "Deletes Policy.",
        "operationId": "WebApplicationFirewallPolicies_Delete",
        "x-ms-examples": {
          "Deletes a WAF policy within a resource group": {
            "$ref": "./examples/WafPolicyDelete.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "description": "The name of the policy."
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content. The request has been accepted but the policy was not found."
          },
          "200": {
            "description": "Delete successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    }
  },
  "definitions": {
    "WebApplicationFirewallPolicy": {
      "description": "Defines web application firewall policy.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WebApplicationFirewallPolicyPropertiesFormat",
          "description": "Properties of the web application firewall policy."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ]
    },
    "WebApplicationFirewallPolicyPropertiesFormat": {
      "description": "Defines web application firewall policy properties.",
      "required": [
        "managedRules"
      ],
      "properties": {
        "policySettings": {
          "description": "The PolicySettings for policy.",
          "$ref": "#/definitions/PolicySettings"
        },
        "customRules": {
          "description": "The custom rules inside the policy.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebApplicationFirewallCustomRule"
          }
        },
        "applicationGateways": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./applicationGateway.json#/definitions/ApplicationGateway"
          },
          "description": "A collection of references to application gateways."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the web application firewall policy resource."
        },
        "resourceState": {
          "title": "Resource status of the policy.",
          "readOnly": true,
          "type": "string",
          "description": "Resource status of the policy.",
          "enum": [
            "Creating",
            "Enabling",
            "Enabled",
            "Disabling",
            "Disabled",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "WebApplicationFirewallPolicyResourceState",
            "modelAsString": true
          }
        },
        "managedRules": {
          "description": "Describes the managedRules structure.",
          "$ref": "#/definitions/ManagedRulesDefinition"
        },
        "httpListeners": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          },
          "description": "A collection of references to application gateway http listeners."
        },
        "pathBasedRules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          },
          "description": "A collection of references to application gateway path rules."
        }
      }
    },
    "WebApplicationFirewallPolicyListResult": {
      "description": "Result of the request to list WebApplicationFirewallPolicies. It contains a list of WebApplicationFirewallPolicy objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/WebApplicationFirewallPolicy"
          },
          "description": "List of WebApplicationFirewallPolicies within a resource group."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "URL to get the next set of WebApplicationFirewallPolicy objects if there are any."
        }
      }
    },
    "ManagedRulesDefinition": {
      "description": "Allow to exclude some variable satisfy the condition for the WAF check.",
      "required": [
        "managedRuleSets"
      ],
      "properties": {
        "exclusions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OwaspCrsExclusionEntry"
          },
          "description": "The Exclusions that are applied on the policy."
        },
        "managedRuleSets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedRuleSet"
          },
          "description": "The managed rule sets that are associated with the policy."
        }
      }
    },
    "PolicySettings": {
      "description": "Defines contents of a web application firewall global configuration.",
      "properties": {
        "state": {
          "description": "The state of the policy.",
          "type": "string",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "x-ms-enum": {
            "name": "WebApplicationFirewallEnabledState",
            "modelAsString": true
          }
        },
        "mode": {
          "description": "The mode of the policy.",
          "type": "string",
          "enum": [
            "Prevention",
            "Detection"
          ],
          "x-ms-enum": {
            "name": "WebApplicationFirewallMode",
            "modelAsString": true
          }
        },
        "requestBodyCheck": {
          "type": "boolean",
          "description": "Whether to allow WAF to check request Body."
        },
        "maxRequestBodySizeInKb": {
          "type": "integer",
          "format": "int32",
          "maximum": 128,
          "exclusiveMaximum": false,
          "minimum": 8,
          "exclusiveMinimum": false,
          "description": "Maximum request body size in Kb for WAF."
        },
        "fileUploadLimitInMb": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "exclusiveMinimum": false,
          "description": "Maximum file upload size in Mb for WAF."
        }
      }
    },
    "WebApplicationFirewallCustomRule": {
      "description": "Defines contents of a web application rule.",
      "required": [
        "priority",
        "ruleType",
        "matchConditions",
        "action"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a policy. This name can be used to access the resource.",
          "maxLength": 128
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "priority": {
          "description": "Priority of the rule. Rules with a lower value will be evaluated before rules with a higher value.",
          "type": "integer"
        },
        "ruleType": {
          "description": "The rule type.",
          "type": "string",
          "enum": [
            "MatchRule",
            "Invalid"
          ],
          "x-ms-enum": {
            "name": "WebApplicationFirewallRuleType",
            "modelAsString": true
          }
        },
        "matchConditions": {
          "description": "List of match conditions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchCondition"
          }
        },
        "action": {
          "description": "Type of Actions.",
          "type": "string",
          "enum": [
            "Allow",
            "Block",
            "Log"
          ],
          "x-ms-enum": {
            "name": "WebApplicationFirewallAction",
            "modelAsString": true
          }
        }
      }
    },
    "Transform": {
      "description": "Transforms applied before matching.",
      "type": "string",
      "enum": [
        "Lowercase",
        "Trim",
        "UrlDecode",
        "UrlEncode",
        "RemoveNulls",
        "HtmlEntityDecode"
      ],
      "x-ms-enum": {
        "name": "WebApplicationFirewallTransform",
        "modelAsString": true
      }
    },
    "MatchVariable": {
      "description": "Define match variables.",
      "required": [
        "variableName"
      ],
      "properties": {
        "variableName": {
          "description": "Match Variable.",
          "type": "string",
          "enum": [
            "RemoteAddr",
            "RequestMethod",
            "QueryString",
            "PostArgs",
            "RequestUri",
            "RequestHeaders",
            "RequestBody",
            "RequestCookies"
          ],
          "x-ms-enum": {
            "name": "WebApplicationFirewallMatchVariable",
            "modelAsString": true
          }
        },
        "selector": {
          "description": "The selector of match variable.",
          "type": "string"
        }
      }
    },
    "MatchCondition": {
      "description": "Define match conditions.",
      "required": [
        "matchVariables",
        "operator",
        "matchValues"
      ],
      "properties": {
        "matchVariables": {
          "description": "List of match variables.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchVariable"
          }
        },
        "operator": {
          "description": "The operator to be matched.",
          "type": "string",
          "enum": [
            "IPMatch",
            "Equal",
            "Contains",
            "LessThan",
            "GreaterThan",
            "LessThanOrEqual",
            "GreaterThanOrEqual",
            "BeginsWith",
            "EndsWith",
            "Regex",
            "GeoMatch"
          ],
          "x-ms-enum": {
            "name": "WebApplicationFirewallOperator",
            "modelAsString": true
          }
        },
        "negationConditon": {
          "description": "Whether this is negate condition or not.",
          "type": "boolean"
        },
        "matchValues": {
          "description": "Match value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transforms": {
          "description": "List of transforms.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Transform"
          }
        }
      }
    },
    "ManagedRuleSet": {
      "type": "object",
      "description": "Defines a managed rule set.",
      "required": [
        "ruleSetType",
        "ruleSetVersion"
      ],
      "properties": {
        "ruleSetType": {
          "description": "Defines the rule set type to use.",
          "type": "string"
        },
        "ruleSetVersion": {
          "description": "Defines the version of the rule set to use.",
          "type": "string"
        },
        "ruleGroupOverrides": {
          "description": "Defines the rule group overrides to apply to the rule set.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedRuleGroupOverride"
          }
        }
      }
    },
    "ManagedRuleGroupOverride": {
      "description": "Defines a managed rule group override setting.",
      "required": [
        "ruleGroupName"
      ],
      "properties": {
        "ruleGroupName": {
          "description": "The managed rule group to override.",
          "type": "string"
        },
        "rules": {
          "description": "List of rules that will be disabled. If none specified, all rules in the group will be disabled.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedRuleOverride"
          }
        }
      }
    },
    "ManagedRuleOverride": {
      "description": "Defines a managed rule group override setting.",
      "required": [
        "ruleId"
      ],
      "properties": {
        "ruleId": {
          "description": "Identifier for the managed rule.",
          "type": "string"
        },
        "state": {
          "description": "The state of the managed rule. Defaults to Disabled if not specified.",
          "type": "string",
          "enum": [
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "ManagedRuleEnabledState",
            "modelAsString": true
          }
        }
      }
    },
    "OwaspCrsExclusionEntry": {
      "required": [
        "matchVariable",
        "selectorMatchOperator",
        "selector"
      ],
      "description": "Allow to exclude some variable satisfy the condition for the WAF check.",
      "properties": {
        "matchVariable": {
          "type": "string",
          "enum": [
            "RequestHeaderNames",
            "RequestCookieNames",
            "RequestArgNames"
          ],
          "description": "The variable to be excluded.",
          "x-ms-enum": {
            "name": "OwaspCrsExclusionEntryMatchVariable",
            "modelAsString": true
          }
        },
        "selectorMatchOperator": {
          "type": "string",
          "enum": [
            "Equals",
            "Contains",
            "StartsWith",
            "EndsWith",
            "EqualsAny"
          ],
          "description": "When matchVariable is a collection, operate on the selector to specify which elements in the collection this exclusion applies to.",
          "x-ms-enum": {
            "name": "OwaspCrsExclusionEntrySelectorMatchOperator",
            "modelAsString": true
          }
        },
        "selector": {
          "type": "string",
          "description": "When matchVariable is a collection, operator used to specify which elements in the collection this exclusion applies to."
        }
      }
    }
  }
}
