{
  "swagger": "2.0",
  "info": {
    "title": "Data Sensitivity Settings",
    "version": "2023-02-15-preview",
    "description": "API spec for Microsoft.Security Data Sensitivity Settings",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "sensitivitySettings"
    }
  ],
  "paths": {
    "/providers/Microsoft.Security/sensitivitySettings": {
      "get": {
        "operationId": "SensitivitySettings_List",
        "description": "Gets a list with a single sensitivity settings resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetSensitivitySettingsListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get sensitivity settings list": {
            "$ref": "./examples/SensitivitySettings/GetSensitivitySettingsList_example.json"
          }
        }
      }
    },
    "/providers/Microsoft.Security/sensitivitySettings/current": {
      "get": {
        "operationId": "SensitivitySettings_Get",
        "tags": [
          "sensitivitySettings"
        ],
        "description": "Gets data sensitivity settings for sensitive data discovery",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetSensitivitySettingsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get sensitivity settings": {
            "$ref": "./examples/SensitivitySettings/GetSensitivitySettings_example.json"
          }
        }
      },
      "put": {
        "operationId": "SensitivitySettings_CreateOrUpdate",
        "tags": [
          "sensitivitySettings"
        ],
        "description": "Create or update data sensitivity settings for sensitive data discovery",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "sensitivitySettings",
            "in": "body",
            "description": "The data sensitivity settings to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSensitivitySettingsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GetSensitivitySettingsResponse' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GetSensitivitySettingsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update sensitivity settings": {
            "$ref": "./examples/SensitivitySettings/PutSensitivitySettings_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "BuiltInInfoType": {
      "type": "object",
      "description": "Pre-configured sensitive information type",
      "properties": {
        "name": {
          "type": "string",
          "description": "Display name of the info type"
        },
        "id": {
          "type": "string",
          "format": "uuid",
          "description": "Id of the info type"
        },
        "type": {
          "type": "string",
          "description": "Category of the built-in info type"
        }
      }
    },
    "CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "readOnly": true
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "readOnly": true
        }
      },
      "x-ms-external": true
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "GetSensitivitySettingsListResponse": {
      "type": "object",
      "description": "A list with a single sensitivity settings resource",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetSensitivitySettingsResponse"
          }
        }
      }
    },
    "GetSensitivitySettingsResponse": {
      "type": "object",
      "description": "Data sensitivity settings for sensitive data discovery",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GetSensitivitySettingsResponseProperties",
          "description": "The sensitivity settings properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GetSensitivitySettingsResponseProperties": {
      "type": "object",
      "description": "The sensitivity settings properties",
      "properties": {
        "sensitiveInfoTypesIds": {
          "type": "array",
          "description": "List of selected sensitive info types' IDs.",
          "items": {
            "$ref": "#/definitions/Azure.Core.uuid"
          }
        },
        "sensitivityThresholdLabelOrder": {
          "type": "number",
          "format": "float",
          "description": "The order of the sensitivity threshold label. Any label at or above this order will be considered sensitive. If set to -1, sensitivity by labels is turned off"
        },
        "sensitivityThresholdLabelId": {
          "type": "string",
          "format": "uuid",
          "description": "The id of the sensitivity threshold label. Any label at or above this rank will be considered sensitive."
        },
        "mipInformation": {
          "$ref": "#/definitions/GetSensitivitySettingsResponsePropertiesMipInformation",
          "description": "Microsoft information protection built-in and custom information types, labels, and integration status."
        }
      }
    },
    "GetSensitivitySettingsResponsePropertiesMipInformation": {
      "type": "object",
      "description": "Microsoft information protection built-in and custom information types, labels, and integration status.",
      "properties": {
        "mipIntegrationStatus": {
          "$ref": "#/definitions/MipIntegrationStatus",
          "description": "Microsoft information protection integration status"
        },
        "labels": {
          "type": "array",
          "description": "List of Microsoft information protection sensitivity labels",
          "items": {
            "$ref": "#/definitions/Label"
          }
        },
        "customInfoTypes": {
          "type": "array",
          "description": "List of custom user-defined information types",
          "items": {
            "$ref": "#/definitions/InfoType"
          }
        },
        "builtInInfoTypes": {
          "type": "array",
          "description": "List of pre-configured sensitive information types",
          "items": {
            "$ref": "#/definitions/BuiltInInfoType"
          }
        }
      }
    },
    "InfoType": {
      "type": "object",
      "description": "Custom user-defined information type",
      "properties": {
        "name": {
          "type": "string",
          "description": "Display name of the info type"
        },
        "id": {
          "type": "string",
          "format": "uuid",
          "description": "Id of the info type"
        },
        "description": {
          "type": "string",
          "description": "Description of the info type"
        }
      }
    },
    "Label": {
      "type": "object",
      "description": "Microsoft information protection sensitivity label",
      "properties": {
        "name": {
          "type": "string",
          "description": "The display name of the label"
        },
        "id": {
          "type": "string",
          "format": "uuid",
          "description": "The ID of the label"
        },
        "order": {
          "type": "number",
          "format": "float",
          "description": "Labels are ordered by sensitivity level. The higher the order of the label, the more sensitive it is."
        }
      }
    },
    "MipIntegrationStatus": {
      "type": "string",
      "description": "Microsoft information protection integration status",
      "enum": [
        "Ok",
        "noConsent",
        "noAutoLabelingRules",
        "noMipLabels"
      ],
      "x-ms-enum": {
        "name": "MipIntegrationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Ok",
            "value": "Ok",
            "description": "Ok"
          },
          {
            "name": "noConsent",
            "value": "noConsent",
            "description": "noConsent"
          },
          {
            "name": "noAutoLabelingRules",
            "value": "noAutoLabelingRules",
            "description": "noAutoLabelingRules"
          },
          {
            "name": "noMipLabels",
            "value": "noMipLabels",
            "description": "noMipLabels"
          }
        ]
      }
    },
    "UpdateSensitivitySettingsRequest": {
      "type": "object",
      "description": "Request to update data sensitivity settings for sensitive data discovery",
      "properties": {
        "sensitiveInfoTypesIds": {
          "type": "array",
          "description": "List of selected sensitive info types' IDs.",
          "items": {
            "$ref": "#/definitions/Azure.Core.uuid"
          }
        },
        "sensitivityThresholdLabelOrder": {
          "type": "number",
          "format": "float",
          "description": "The order of the sensitivity threshold label. Any label at or above this order will be considered sensitive. If set to -1, sensitivity by labels is turned off"
        },
        "sensitivityThresholdLabelId": {
          "type": "string",
          "format": "uuid",
          "description": "The id of the sensitivity threshold label. Any label at or above this rank will be considered sensitive."
        }
      },
      "required": [
        "sensitiveInfoTypesIds"
      ]
    }
  },
  "parameters": {}
}
