{
  "swagger": "2.0",
  "info": {
    "title": "CodeSigningManagementClient",
    "description": "Code Sign Resource Provider Account and Certificate Profile management API.",
    "version": "2020-12-14-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts/{accountName}": {
      "put": {
        "operationId": "CodeSignAccount_Create",
        "description": "Create a Code Sign Account",
        "x-ms-examples": {
          "Create Code Sign Account": {
            "$ref": "./examples/createCodeSignAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "in": "body",
            "name": "codeSignAccount",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CodeSignAccounts"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "operationId": "CodeSignAccount_Update",
        "description": "Update a code sign account",
        "x-ms-examples": {
          "Update Code Sign Account": {
            "$ref": "./examples/updateCodeSignAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "in": "body",
            "name": "codeSignAccountPatch",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeSignAccountPatch"
            },
            "description": "Parameters supplied to update code sign account"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CodeSignAccounts"
        ]
      },
      "get": {
        "operationId": "CodeSignAccount_Get",
        "description": "Get a Code Sign Account",
        "x-ms-examples": {
          "Get Code Sign Account": {
            "$ref": "./examples/getCodeSignAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CodeSignAccounts"
        ]
      },
      "delete": {
        "operationId": "CodeSignAccount_Delete",
        "description": "Delete Code Sign Account",
        "x-ms-examples": {
          "Delete Code Sign Account": {
            "$ref": "./examples/deleteCodeSignAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Resource deletion is in progress"
          },
          "204": {
            "description": "The resource was not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CodeSignAccounts"
        ],
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts/{accountName}/certificateProfiles": {
      "get": {
        "operationId": "CertificateProfile_ListByCodeSignAccount",
        "description": "List certificate profiles within a code sign account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "x-ms-examples": {
          "List Certificate Profiles": {
            "$ref": "./examples/listCertificateProfiles.json"
          }
        },
        "responses": {
          "200": {
            "description": "Gets all code sign accounts in the specified resource group",
            "schema": {
              "$ref": "#/definitions/CertificateProfiles"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts/{accountName}/certificateProfiles/{profileName}": {
      "put": {
        "operationId": "CertificateProfile_Create",
        "description": "Create a certificate profile",
        "x-ms-examples": {
          "Create Certificate Profile": {
            "$ref": "./examples/createCertificateProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          },
          {
            "in": "body",
            "name": "certificateProfile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create a certificate profile",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CertificateProfiles"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "operationId": "CertificateProfile_Update",
        "description": "Update a certificate profile",
        "x-ms-examples": {
          "Update Certificate Profile": {
            "$ref": "./examples/updateCertificateProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          },
          {
            "in": "body",
            "name": "certificateProfilePatch",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateProfilePatch"
            },
            "description": "Parameters supplied to update certificate profile"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CertificateProfiles"
        ]
      },
      "get": {
        "operationId": "CertificateProfile_Get",
        "description": "Get details of a certificate profile",
        "x-ms-examples": {
          "Get Certificate Profile": {
            "$ref": "./examples/getCertificateProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CertificateProfiles"
        ]
      },
      "delete": {
        "operationId": "CertificateProfile_Delete",
        "description": "Delete a Certificate Profile",
        "x-ms-examples": {
          "Delete Certificate Profile": {
            "$ref": "./examples/deleteCertificateProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Resource deletion is in progress"
          },
          "204": {
            "description": "The resource was not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CertificateProfiles"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CodeSigning/codeSignAccounts": {
      "get": {
        "operationId": "CodeSignAccount_ListBySubscription",
        "description": "Lists Code Sign Accounts within a subscription",
        "x-ms-examples": {
          "List Code Sign Accounts by Subscription": {
            "$ref": "./examples/listCodeSignAccountsBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all code sign accounts in the specified subscription",
            "schema": {
              "$ref": "#/definitions/CodeSignAccounts"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CodeSignAccounts"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts": {
      "get": {
        "operationId": "CodeSignAccount_ListByResourceGroup",
        "description": "List Code Sign Accounts within a resource group",
        "x-ms-examples": {
          "List Code Sign Accounts by Resource Group": {
            "$ref": "./examples/listCodeSignAccountsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all code sign accounts in the specified resource group",
            "schema": {
              "$ref": "#/definitions/CodeSignAccounts"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CodeSignAccounts"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.CodeSigning/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "Lists all of the available API operations for code signing resource.",
        "x-ms-examples": {
          "List Code Sign Account operations": {
            "$ref": "./examples/listCodeSignAccountOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CodeSignAccounts": {
      "description": "The paginated list of code sign accounts",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of code sign accounts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CodeSignAccount"
          }
        },
        "nextLink": {
          "description": "The link to fetch the next page of code sign account",
          "type": "string"
        }
      }
    },
    "CodeSignAccount": {
      "description": "Code sign account resource",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CodeSignAccountProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CodeSignAccountProperties": {
      "description": "Properties of the code sign account",
      "type": "object",
      "properties": {
        "accountUri": {
          "description": "The URI of the code sign account for performing operations on certificate profiles. This property is readonly",
          "readOnly": true,
          "type": "string"
        },
        "verificationStatus": {
          "readOnly": true,
          "$ref": "#/definitions/VerificationStatus"
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "CodeSignAccountPatch": {
      "description": "Parameters for creating or updating a code sign account",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CodeSignAccountPatchProperties",
          "description": "Properties of the code sign account"
        }
      }
    },
    "CodeSignAccountPatchProperties": {
      "description": "Properties of the code sign account",
      "type": "object",
      "properties": {
        "accountUri": {
          "readOnly": true,
          "type": "string",
          "description": "Account Uri of the code sign account"
        }
      }
    },
    "CertificateProfiles": {
      "description": "The paginated list of certificate profiles",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of certificate profiles",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CertificateProfile"
          }
        },
        "nextLink": {
          "description": "The link to fetch the next page of certificate profile",
          "type": "string"
        }
      }
    },
    "CertificateProfile": {
      "description": "Certificate profile resource",
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CertificateProfileProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CertificateProfileProperties": {
      "description": "Properties of the certificate profile",
      "type": "object",
      "required": [
        "profileType",
        "rotationPolicy",
        "commonName",
        "organization"
      ],
      "properties": {
        "profileType": {
          "$ref": "#/definitions/ProfileType"
        },
        "rotationPolicy": {
          "$ref": "#/definitions/RotationPolicy"
        },
        "commonName": {
          "type": "string",
          "description": "Used as CN in the subject name of the certificate"
        },
        "authority": {
          "type": "string",
          "readOnly": true,
          "description": "Certificate authority of the certificate"
        },
        "organization": {
          "type": "string",
          "description": "Used as O in the subject name of the certificate"
        },
        "streetAddress": {
          "type": "string",
          "readOnly": true
        },
        "country": {
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true
        },
        "city": {
          "type": "string",
          "readOnly": true
        },
        "certificates": {
          "readOnly": true,
          "type": "array",
          "x-ms-client-flatten": true,
          "items": {
            "$ref": "#/definitions/Certificate"
          }
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "Certificate": {
      "description": "Properties of the certificate",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the certificate",
          "type": "string"
        },
        "subjectName": {
          "description": "Subject name of the certificate",
          "type": "string"
        },
        "thumbprint": {
          "description": "Thumbprint of the certificate",
          "type": "string"
        },
        "createdDate": {
          "description": "Certificate created date",
          "type": "string"
        },
        "expiryDate": {
          "description": "Certificate expiry date",
          "type": "string"
        }
      }
    },
    "CertificateProfilePatch": {
      "type": "object",
      "description": "Certificate Profile Patch Properties",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CertificateProfilePatchProperties",
          "description": "Properties of the certificate profile"
        }
      }
    },
    "CertificateProfilePatchProperties": {
      "description": "Properties of the certificate profile",
      "type": "object",
      "properties": {
        "certificates": {
          "readOnly": true,
          "type": "array",
          "x-ms-client-flatten": true,
          "items": {
            "$ref": "#/definitions/Certificate"
          }
        }
      }
    },
    "VerificationStatus": {
      "type": "string",
      "description": "Vetting status of the code sign account",
      "enum": [
        "Completed",
        "InProgress",
        "NotCompleted"
      ],
      "x-ms-enum": {
        "name": "VerificationStatus",
        "modelAsString": false
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the vault",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ProfileType": {
      "description": "Profile type of the certificate",
      "type": "string",
      "enum": [
        "Test",
        "Trial",
        "PrivateTrust",
        "PublicTrust"
      ],
      "x-ms-enum": {
        "name": "ProfileType",
        "modelAsString": true
      }
    },
    "RotationPolicy": {
      "description": "Rotation policy of the certificate",
      "type": "string",
      "enum": [
        "Monthly"
      ],
      "x-ms-enum": {
        "name": "RotationPolicy",
        "modelAsString": true
      }
    },
    "OperationList": {
      "description": "The paginated list of code signing API operations.",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "The list of code signing API operations."
        },
        "nextLink": {
          "type": "string",
          "description": "The link to fetch the next page of code signing API operations."
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "The code signing API operation",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation name: {Microsoft.CodeSigning}/{resource}/{operation}"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Display of the operation"
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display payload",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource provider of the operation",
          "type": "string"
        },
        "resource": {
          "description": "Code sign resource on which the operation is performed",
          "type": "string"
        },
        "operation": {
          "description": "Localized friendly name for the operation read, write, etc",
          "type": "string"
        },
        "description": {
          "description": "Localized friendly description for the operation",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "AccountNameParameter": {
      "name": "accountName",
      "description": "Code Signing account name",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
      "x-ms-parameter-location": "method"
    },
    "ProfileNameParameter": {
      "name": "profileName",
      "description": "Certificate profile name",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^(?=.{5,100}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
      "x-ms-parameter-location": "method"
    }
  }
}
