{
  "swagger": "2.0",
  "info": {
    "title": "Cosmos DB",
    "description": "Azure Cosmos DB API for Table Role Based Access Control Resource Provider REST API",
    "version": "2024-12-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/tableRoleDefinitions/{tableRoleDefinitionId}": {
      "get": {
        "operationId": "TableResources_GetTableRoleDefinition",
        "x-ms-examples": {
          "CosmosDBTableRoleDefinitionGet": {
            "$ref": "./examples/CosmosDBTableRoleDefinitionGet.json"
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB Table Role Definition with the given Id.",
        "parameters": [
          {
            "$ref": "#/parameters/tableRoleDefinitionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Role Definition was successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/TableRoleDefinitionGetResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "TableResources_CreateUpdateTableRoleDefinition",
        "x-ms-examples": {
          "CosmosDBTableRoleDefinitionCreateUpdate": {
            "$ref": "./examples/CosmosDBTableRoleDefinitionCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Creates or updates an Azure Cosmos DB Table Role Definition.",
        "parameters": [
          {
            "$ref": "#/parameters/tableRoleDefinitionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "createUpdateTableRoleDefinitionParameters",
            "in": "body",
            "required": true,
            "description": "The properties required to create or update a Role Definition.",
            "schema": {
              "$ref": "#/definitions/TableRoleDefinitionCreateUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Role Definition create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/TableRoleDefinitionGetResults"
            }
          },
          "202": {
            "description": "The Role Definition create or update request was accepted and will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "TableResources_DeleteTableRoleDefinition",
        "x-ms-examples": {
          "CosmosDBTableRoleDefinitionDelete": {
            "$ref": "./examples/CosmosDBTableRoleDefinitionDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Deletes an existing Azure Cosmos DB Table Role Definition.",
        "parameters": [
          {
            "$ref": "#/parameters/tableRoleDefinitionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Table Role Definition delete operation was completed successfully."
          },
          "202": {
            "description": "The Table Role Definition delete request was accepted and will complete asynchronously."
          },
          "204": {
            "description": "The requested Table Role Definition does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/tableRoleDefinitions": {
      "get": {
        "operationId": "TableResources_ListTableRoleDefinitions",
        "x-ms-examples": {
          "CosmosDBTableRoleDefinitionList": {
            "$ref": "./examples/CosmosDBTableRoleDefinitionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the list of all Azure Cosmos DB Table Role Definitions.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TableRoleDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/tableRoleAssignments/{roleAssignmentId}": {
      "get": {
        "operationId": "TableResources_GetTableRoleAssignment",
        "x-ms-examples": {
          "CosmosDBTableRoleAssignmentGet": {
            "$ref": "./examples/CosmosDBTableRoleAssignmentGet.json"
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB Table Role Assignment with the given Id.",
        "parameters": [
          {
            "$ref": "#/parameters/roleAssignmentIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Table Role Assignment was successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/TableRoleAssignmentGetResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "TableResources_CreateUpdateTableRoleAssignment",
        "x-ms-examples": {
          "CosmosDBTableRoleAssignmentCreateUpdate": {
            "$ref": "./examples/CosmosDBTableRoleAssignmentCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Creates or updates an Azure Cosmos DB Table Role Assignment.",
        "parameters": [
          {
            "$ref": "#/parameters/roleAssignmentIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "createUpdateTableRoleAssignmentParameters",
            "in": "body",
            "required": true,
            "description": "The properties required to create or update a Table Role Assignment.",
            "schema": {
              "$ref": "#/definitions/TableRoleAssignmentCreateUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Table Role Assignment create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/TableRoleAssignmentGetResults"
            }
          },
          "202": {
            "description": "The Table Role Assignment create or update request was accepted and will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "TableResources_DeleteTableRoleAssignment",
        "x-ms-examples": {
          "CosmosDBTableRoleAssignmentDelete": {
            "$ref": "./examples/CosmosDBTableRoleAssignmentDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Deletes an existing Azure Cosmos DB Table Role Assignment.",
        "parameters": [
          {
            "$ref": "#/parameters/roleAssignmentIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Table Role Assignment delete operation was completed successfully."
          },
          "202": {
            "description": "The Table Role Assignment delete request was accepted and will complete asynchronously."
          },
          "204": {
            "description": "The requested Table Role Assignment does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/tableRoleAssignments": {
      "get": {
        "operationId": "TableResources_ListTableRoleAssignments",
        "x-ms-examples": {
          "CosmosDBTableRoleAssignmentList": {
            "$ref": "./examples/CosmosDBTableRoleAssignmentList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the list of all Azure Cosmos DB Table Role Assignments.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TableRoleAssignmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "TableRoleDefinitionResource": {
      "properties": {
        "roleName": {
          "type": "string",
          "description": "A user-friendly name for the Role Definition. Must be unique for the database account."
        },
        "type": {
          "type": "string",
          "enum": [
            "BuiltInRole",
            "CustomRole"
          ],
          "description": "Indicates whether the Role Definition was built-in or user created.",
          "x-ms-enum": {
            "name": "RoleDefinitionType",
            "modelAsString": false
          }
        },
        "assignableScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of fully qualified Scopes at or below which Table Role Assignments may be created using this Role Definition. This will allow application of this Role Definition on the entire database account or any underlying Database / Collection. Must have at least one element. Scopes higher than Database account are not enforceable as assignable Scopes. Note that resources referenced in assignable Scopes need not exist."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Permission"
          },
          "description": "The set of operations allowed through this Role Definition."
        }
      },
      "description": "Azure Cosmos DB Table Role Definition resource object."
    },
    "TableRoleDefinitionCreateUpdateParameters": {
      "description": "Parameters to create and update an Azure Cosmos DB Table Role Definition.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties to create and update an Azure Cosmos DB Table Role Definition.",
          "$ref": "#/definitions/TableRoleDefinitionResource"
        }
      }
    },
    "TableRoleDefinitionGetResults": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TableRoleDefinitionResource",
          "description": "Properties related to the Role Definition."
        }
      },
      "allOf": [
        {
          "$ref": "cosmos-db.json#/definitions/ARMProxyResource"
        }
      ],
      "description": "An Azure Cosmos DB Table Role Definition."
    },
    "Permission": {
      "type": "object",
      "properties": {
        "dataActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An array of data actions that are allowed."
        },
        "notDataActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An array of data actions that are denied."
        }
      },
      "description": "The set of data plane operations permitted through this Role Definition."
    },
    "TableRoleDefinitionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/TableRoleDefinitionGetResults"
          },
          "description": "List of Role Definitions and their properties."
        }
      },
      "description": "The relevant Role Definitions."
    },
    "TableRoleAssignmentResource": {
      "type": "object",
      "properties": {
        "tableRoleDefinitionId": {
          "type": "string",
          "description": "The unique identifier for the associated Role Definition."
        },
        "scope": {
          "type": "string",
          "description": "The data plane resource path for which access is being granted through this Table Role Assignment."
        },
        "principalId": {
          "type": "string",
          "description": "The unique identifier for the associated AAD principal in the AAD graph to which access is being granted through this Table Role Assignment. Tenant ID for the principal is inferred using the tenant associated with the subscription."
        }
      },
      "description": "Azure Cosmos DB Table Role Assignment resource object."
    },
    "TableRoleAssignmentCreateUpdateParameters": {
      "description": "Parameters to create and update an Azure Cosmos DB Table Role Assignment.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties to create and update an Azure Cosmos DB Table Role Assignment.",
          "$ref": "#/definitions/TableRoleAssignmentResource"
        }
      }
    },
    "TableRoleAssignmentGetResults": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TableRoleAssignmentResource",
          "description": "Properties related to the Table Role Assignment."
        }
      },
      "allOf": [
        {
          "$ref": "cosmos-db.json#/definitions/ARMProxyResource"
        }
      ],
      "description": "An Azure Cosmos DB Table Role Assignment"
    },
    "TableRoleAssignmentListResult": {
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/TableRoleAssignmentGetResults"
          },
          "description": "List of Table Role Assignments and their properties"
        }
      },
      "description": "The relevant Table Role Assignments."
    }
  },
  "parameters": {
    "tableRoleDefinitionIdParameter": {
      "name": "tableRoleDefinitionId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The GUID for the Role Definition."
    },
    "roleAssignmentIdParameter": {
      "name": "roleAssignmentId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The GUID for the Table Role Assignment."
    }
  }
}