{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationInsightsManagementClient",
    "description": "Azure Application Insights private workbook type.",
    "version": "2021-03-08"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/myWorkbooks": {
      "get": {
        "description": "Get all private workbooks defined within a specified resource group and category.",
        "operationId": "MyWorkbooks_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CategoryParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          },
          {
            "$ref": "#/parameters/SourceIdParameter"
          },
          {
            "$ref": "#/parameters/CanFetchWorkbookContentParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more private workbook definitions.",
            "schema": {
              "$ref": "#/definitions/MyWorkbooksListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/MyWorkbookError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "WorkbooksList": {
            "$ref": "./examples/MyWorkbooksList.json"
          },
          "WorkbooksList2": {
            "$ref": "./examples/MyWorkbooksList2.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/myWorkbooks": {
      "get": {
        "description": "Get all private workbooks defined within a specified subscription and category.",
        "operationId": "MyWorkbooks_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/CategoryParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          },
          {
            "$ref": "#/parameters/CanFetchWorkbookContentParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more private workbook definitions.",
            "schema": {
              "$ref": "#/definitions/MyWorkbooksListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/MyWorkbookError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "WorkbooksList": {
            "$ref": "./examples/MyWorkbooksList.json"
          },
          "WorkbooksList2": {
            "$ref": "./examples/MyWorkbooksList2.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/myWorkbooks/{resourceName}": {
      "get": {
        "description": "Get a single private workbook by its resourceName.",
        "operationId": "MyWorkbooks_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A private workbook definition.",
            "schema": {
              "$ref": "#/definitions/MyWorkbook"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/MyWorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookGet": {
            "$ref": "./examples/MyWorkbookGet.json"
          }
        }
      },
      "delete": {
        "description": "Delete a private workbook.",
        "operationId": "MyWorkbooks_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The private workbook has been successfully deleted."
          },
          "204": {
            "description": "The resource doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/MyWorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookDelete": {
            "$ref": "./examples/MyWorkbookDelete.json"
          }
        }
      },
      "put": {
        "description": "Create a new private workbook.",
        "operationId": "MyWorkbooks_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "#/parameters/SourceIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "workbookProperties",
            "description": "Properties that need to be specified to create a new private workbook.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MyWorkbook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The newly created private workbook.",
            "schema": {
              "$ref": "#/definitions/MyWorkbook"
            }
          },
          "201": {
            "description": "The newly created private workbook.",
            "schema": {
              "$ref": "#/definitions/MyWorkbook"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/MyWorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookAdd": {
            "$ref": "./examples/MyWorkbookAdd.json"
          }
        }
      },
      "patch": {
        "description": "Updates a private workbook that has already been added.",
        "operationId": "MyWorkbooks_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "#/parameters/SourceIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "workbookProperties",
            "description": "Properties that need to be specified to create a new private workbook.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MyWorkbook"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The private workbook definition updated.",
            "schema": {
              "$ref": "#/definitions/MyWorkbook"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/MyWorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookUpdate": {
            "$ref": "./examples/MyWorkbookUpdate.json"
          }
        }
      }
    }
  },
  "definitions": {
    "MyWorkbookResource": {
      "properties": {
        "identity": {
          "description": "Identity used for BYOS",
          "$ref": "#/definitions/MyWorkbookManagedIdentity"
        },
        "id": {
          "type": "string",
          "description": "Azure resource Id",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "name": {
          "type": "string",
          "description": "Azure resource name",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "type": {
          "type": "string",
          "description": "Azure resource type",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "etag": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource etag"
        }
      },
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "MyWorkbooksListResult": {
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/MyWorkbook"
          },
          "description": "An array of private workbooks."
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Workbook list result."
    },
    "MyWorkbook": {
      "description": "An Application Insights private workbook definition.",
      "allOf": [
        {
          "$ref": "#/definitions/MyWorkbookResource"
        }
      ],
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of workbook. Choices are user and shared.",
          "enum": [
            "user",
            "shared"
          ],
          "x-ms-enum": {
            "name": "kind",
            "modelAsString": true
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Metadata describing a workbook for an Azure resource.",
          "$ref": "#/definitions/MyWorkbookProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "MyWorkbookProperties": {
      "description": "Properties that contain a private workbook.",
      "required": [
        "displayName",
        "category",
        "serializedData"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user-defined name of the private workbook."
        },
        "serializedData": {
          "type": "string",
          "x-nullable": true,
          "description": "Configuration of this particular private workbook. Configuration data is a string containing valid JSON"
        },
        "version": {
          "type": "string",
          "description": "This instance's version of the data model. This can change as new features are added that can be marked private workbook."
        },
        "timeModified": {
          "type": "string",
          "description": "Date and time in UTC of the last modification that was made to this private workbook definition.",
          "readOnly": true
        },
        "category": {
          "type": "string",
          "description": "Workbook category, as defined by the user at creation time."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of 0 or more tags that are associated with this private workbook definition"
        },
        "userId": {
          "type": "string",
          "description": "Unique user id of the specific user that owns this private workbook.",
          "readOnly": true
        },
        "sourceId": {
          "type": "string",
          "description": "Optional resourceId for a source resource."
        },
        "storageUri": {
          "type": "string",
          "x-nullable": true,
          "description": "BYOS Storage Account URI"
        }
      }
    },
    "MyWorkbookError": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "innererror": {
          "description": "Internal error details.",
          "items": {
            "$ref": "#/definitions/InnerErrorTrace"
          },
          "readOnly": true
        }
      }
    },
    "InnerErrorTrace": {
      "description": "Error details",
      "properties": {
        "trace": {
          "description": "detailed error trace",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "MyWorkbookManagedIdentity": {
      "description": "Customer Managed Identity",
      "properties": {
        "userAssignedIdentities": {
          "$ref": "#/definitions/MyWorkbookUserAssignedIdentities"
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": [
            "UserAssigned",
            "None"
          ]
        }
      }
    },
    "MyWorkbookUserAssignedIdentities": {
      "description": "Customer Managed Identity",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of resource."
        }
      }
    }
  },
  "parameters": {
    "WorkbookResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Application Insights component resource.",
      "x-ms-parameter-location": "method"
    },
    "CategoryParameter": {
      "name": "category",
      "in": "query",
      "required": true,
      "type": "string",
      "enum": [
        "workbook",
        "TSG",
        "performance",
        "retention"
      ],
      "x-ms-enum": {
        "name": "CategoryType",
        "modelAsString": true
      },
      "description": "Category of workbook to return.",
      "x-ms-parameter-location": "method"
    },
    "SourceIdParameter": {
      "name": "sourceId",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Azure Resource Id that will fetch all linked workbooks.",
      "x-ms-parameter-location": "method"
    },
    "CanFetchWorkbookContentParameter": {
      "name": "canFetchContent",
      "in": "query",
      "required": false,
      "type": "boolean",
      "description": "Flag indicating whether or not to return the full content for each applicable workbook. If false, only return summary content for workbooks.",
      "x-ms-parameter-location": "method"
    },
    "TagsParameter": {
      "name": "tags",
      "in": "query",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "description": "Tags presents on each workbook returned.",
      "x-ms-parameter-location": "method"
    }
  }
}
