{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Pipelines Control Plane API",
    "version": "2026-04-01",
    "description": "Provides operations for working with Azure Monitor Pipelines",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PipelineGroups"
    }
  ],
  "paths": {
    "/providers/Microsoft.Monitor/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Monitor/pipelineGroups": {
      "get": {
        "operationId": "PipelineGroups_ListBySubscription",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Lists all workspaces in the specified subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PipelineGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Pipeline groups by subscription": {
            "$ref": "./examples/PipelineGroupListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/pipelineGroups": {
      "get": {
        "operationId": "PipelineGroups_ListByResourceGroup",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Lists all workspaces in the specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PipelineGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Pipeline groups by resource group": {
            "$ref": "./examples/PipelineGroupListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/pipelineGroups/{pipelineGroupName}": {
      "get": {
        "operationId": "PipelineGroups_Get",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Returns the specific pipeline group instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pipelineGroupName",
            "in": "path",
            "description": "The name of pipeline group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PipelineGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves a PipelineGroup instance by name": {
            "$ref": "./examples/PipelineGroupGet.json"
          }
        }
      },
      "put": {
        "operationId": "PipelineGroups_CreateOrUpdate",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Create or update a pipeline group instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pipelineGroupName",
            "in": "path",
            "description": "The name of pipeline group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PipelineGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PipelineGroup"
            }
          },
          "201": {
            "description": "Resource 'PipelineGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PipelineGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a PipelineGroup instance demonstrating different TLS modes including disabled TLS for development": {
            "$ref": "./examples/PipelineGroupCreateWithTlsModes.json"
          },
          "Create a PipelineGroup instance using Azure Key Vault certificates with combined PEM format for Bring Your Own Certificate": {
            "$ref": "./examples/PipelineGroupCreateWithAKVCertificates.json"
          },
          "Create a PipelineGroup instance using OTLP receiver with Bring Your Own Certificate mutual TLS configuration": {
            "$ref": "./examples/PipelineGroupCreateWithBYOCTls.json"
          },
          "Create a PipelineGroup instance using a syslog receiver": {
            "$ref": "./examples/PipelineGroupCreateSyslogs.json"
          },
          "Create a PipelineGroup instance using a syslog receiver and backfill.": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithPersistence.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with Microsoft CommonSecurityLog transform and a custom TransformLanguage manipulation exporting to a custom table": {
            "$ref": "./examples/PipelineGroupCreateStandardCEFWithTransformToCustomTable.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with Microsoft CommonSecurityLog transform and a custom TransformLanguage manipulation exporting to the standard CommonSecurityLog table": {
            "$ref": "./examples/PipelineGroupCreateStandardCEFWithTransform.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with Microsoft CommonSecurityLog transform exporting to the standard CommonSecurityLog table": {
            "$ref": "./examples/PipelineGroupCreateStandardCEF.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with Microsoft Syslog transform and a custom TransformLanguage manipulation exporting to a custom table": {
            "$ref": "./examples/PipelineGroupCreateStandardSyslogWithTransformToCustomTable.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with Microsoft Syslog transform and a custom TransformLanguage manipulation exporting to the standard Syslog table": {
            "$ref": "./examples/PipelineGroupCreateStandardSyslogWithTransform.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with Microsoft Syslog transform exporting to the standard Syslog table": {
            "$ref": "./examples/PipelineGroupCreateStandardSyslog.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with allowedFormats set to cefRfc3164": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithCefRfc3164.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with allowedFormats set to cefRfc5424": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithCefRfc5424.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with allowedFormats set to rawCef": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithRawCef.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with allowedFormats set to syslogRfc3164": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithSyslogRfc3164.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with allowedFormats set to syslogRfc3164 and allowSkipPriHeader set to false": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithSyslogRfc3164AndAllowSkipPri.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with allowedFormats set to syslogRfc3164 and syslogRfc5424 for migration": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithAllowedFormats.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with allowedFormats set to syslogRfc5424": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithSyslogRfc5424.json"
          },
          "Create a PipelineGroup instance using a syslog receiver with udp as its transport protocol and pri header skip turned on": {
            "$ref": "./examples/PipelineGroupCreateSyslogsWithUdp.json"
          },
          "Create a PipelineGroup instance using an otlp receiver with a custom TransformLanguage manipulation exporting to a custom table": {
            "$ref": "./examples/PipelineGroupCreateOtlpWithTransform.json"
          },
          "Create a PipelineGroup instance with a large batch timeout": {
            "$ref": "./examples/PipelineGroupCreateBatch.json"
          },
          "Create a PipelineGroup instance with execution placement for hero customer use case (node labeling + pod isolation)": {
            "$ref": "./examples/PipelineGroupCreatePodPlacementWithInOperator.json"
          },
          "Create a PipelineGroup instance with execution placement using Exists operator": {
            "$ref": "./examples/PipelineGroupCreatePodPlacementWithExistsOperator.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "PipelineGroups_Update",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Updates a pipeline group instance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pipelineGroupName",
            "in": "path",
            "description": "The name of pipeline group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineGroupUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PipelineGroup"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a PipelineGroup instance": {
            "$ref": "./examples/PipelineGroupUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PipelineGroups_Delete",
        "tags": [
          "PipelineGroups"
        ],
        "description": "Delete a pipeline group instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pipelineGroupName",
            "in": "path",
            "description": "The name of pipeline group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a PipelineGroup instance": {
            "$ref": "./examples/PipelineGroupDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AllowedFormats": {
      "type": "string",
      "description": "Supported literals for allowed syslog and CEF parsing formats.",
      "enum": [
        "all",
        "syslogRfc3164",
        "syslogRfc5424",
        "cefRfc3164",
        "cefRfc5424",
        "rawCef"
      ],
      "x-ms-enum": {
        "name": "AllowedFormats",
        "modelAsString": true,
        "values": [
          {
            "name": "all",
            "value": "all",
            "description": "Allow all supported syslog and CEF formats."
          },
          {
            "name": "syslogRfc3164",
            "value": "syslogRfc3164",
            "description": "Allow RFC3164 syslog messages."
          },
          {
            "name": "syslogRfc5424",
            "value": "syslogRfc5424",
            "description": "Allow RFC5424 syslog messages."
          },
          {
            "name": "cefRfc3164",
            "value": "cefRfc3164",
            "description": "Allow CEF payloads embedded in RFC3164 syslog messages."
          },
          {
            "name": "cefRfc5424",
            "value": "cefRfc5424",
            "description": "Allow CEF payloads embedded in RFC5424 syslog messages."
          },
          {
            "name": "rawCef",
            "value": "rawCef",
            "description": "Allow raw CEF payloads without syslog encapsulation."
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.ExtendedLocation": {
      "type": "object",
      "description": "The complex type of the extended location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the extended location."
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ExtendedLocationType",
          "description": "The type of the extended location."
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "Azure.ResourceManager.CommonTypes.ExtendedLocationType": {
      "type": "string",
      "description": "The supported ExtendedLocation types.",
      "enum": [
        "EdgeZone",
        "CustomLocation"
      ],
      "x-ms-enum": {
        "name": "ExtendedLocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "EdgeZone",
            "value": "EdgeZone",
            "description": "Azure Edge Zones location type"
          },
          {
            "name": "CustomLocation",
            "value": "CustomLocation",
            "description": "Azure Custom Locations type"
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "AzureMonitorWorkspaceLogsApiConfig": {
      "type": "object",
      "description": "Azure Monitor Workspace Logs Api configurations.",
      "properties": {
        "dataCollectionEndpointUrl": {
          "type": "string",
          "description": "Data collection endpoint ingestion url.",
          "pattern": "^(https?)://[a-zA-Z0-9-]+(\\.[a-zA-Z0-9-]+)*$"
        },
        "stream": {
          "type": "string",
          "description": "Stream name in destination. Azure Monitor stream is related to the destination table.",
          "pattern": "^(?!-)[a-zA-Z0-9._-]{1,1000}[^-]$"
        },
        "dataCollectionRule": {
          "type": "string",
          "description": "Data Collection Rule (DCR) immutable id.",
          "pattern": "^(?!-)[a-zA-Z0-9.-]{1,1000}[^-]$"
        },
        "schema": {
          "$ref": "#/definitions/SchemaMap",
          "description": "The schema mapping for incoming data."
        }
      },
      "required": [
        "dataCollectionEndpointUrl",
        "stream",
        "dataCollectionRule",
        "schema"
      ]
    },
    "AzureMonitorWorkspaceLogsExporter": {
      "type": "object",
      "description": "Azure Monitor Workspace Logs specific configurations.",
      "properties": {
        "api": {
          "$ref": "#/definitions/AzureMonitorWorkspaceLogsApiConfig",
          "description": "API configurations for Azure Monitor workspace exporter."
        },
        "persistence": {
          "$ref": "#/definitions/ExporterPersistenceConfiguration",
          "description": "Persistence options for the exporter."
        }
      },
      "required": [
        "api"
      ]
    },
    "BatchProcessor": {
      "type": "object",
      "description": "Batch processor.",
      "properties": {
        "batchSize": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the batch.",
          "default": 8192,
          "minimum": 10,
          "maximum": 100000
        },
        "timeout": {
          "type": "integer",
          "format": "int32",
          "description": "Timeout in milliseconds.",
          "default": 200,
          "minimum": 10,
          "maximum": 300000
        }
      }
    },
    "CapabilityOperator": {
      "type": "string",
      "description": "The match operator for placement constraints.",
      "enum": [
        "In",
        "NotIn",
        "Exists",
        "DoesNotExist"
      ],
      "x-ms-enum": {
        "name": "CapabilityOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "In",
            "value": "In",
            "description": "The capability value must be one of the specified values."
          },
          {
            "name": "NotIn",
            "value": "NotIn",
            "description": "The capability value must not be one of the specified values."
          },
          {
            "name": "Exists",
            "value": "Exists",
            "description": "The capability key must exist (value is ignored)."
          },
          {
            "name": "DoesNotExist",
            "value": "DoesNotExist",
            "description": "The capability key must not exist."
          }
        ]
      }
    },
    "CertificateSource": {
      "type": "object",
      "description": "Configuration for certificate source location.",
      "properties": {
        "type": {
          "$ref": "#/definitions/CertificateSourceType",
          "description": "The type of certificate source."
        },
        "location": {
          "type": "string",
          "description": "Location of the certificate source."
        },
        "subLocation": {
          "type": "string",
          "description": "Sub-location within the certificate source."
        }
      },
      "required": [
        "type",
        "location",
        "subLocation"
      ]
    },
    "CertificateSourceType": {
      "type": "string",
      "description": "The type of certificate source.",
      "enum": [
        "kubernetesSecret",
        "kubernetesConfigMap"
      ],
      "x-ms-enum": {
        "name": "CertificateSourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "KubernetesSecret",
            "value": "kubernetesSecret",
            "description": "Certificate stored in a Kubernetes secret."
          },
          {
            "name": "KubernetesConfigMap",
            "value": "kubernetesConfigMap",
            "description": "Certificate stored in a Kubernetes configmap."
          }
        ]
      }
    },
    "CertificateWithKey": {
      "type": "object",
      "description": "TLS certificate and private key pair.",
      "properties": {
        "certificate": {
          "$ref": "#/definitions/CertificateSource",
          "description": "Source configuration for the TLS certificate."
        },
        "privateKey": {
          "$ref": "#/definitions/PrivateKeySource",
          "description": "Source configuration for the private key. Private keys must be stored in Kubernetes secrets for security reasons."
        }
      },
      "required": [
        "certificate",
        "privateKey"
      ]
    },
    "DistributionPolicy": {
      "type": "object",
      "description": "Distribution policy for spreading instances across compute units.",
      "properties": {
        "maxInstancesPerHost": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of instances allowed per compute unit (node/VM). If not specified, default scheduling applies.",
          "minimum": 1
        }
      }
    },
    "ExecutionPlacement": {
      "type": "object",
      "description": "Constraints for guiding the execution environment of the pipeline group.",
      "properties": {
        "constraints": {
          "type": "array",
          "description": "A list of placement constraints to guide where pipelineGroup instances should run.",
          "items": {
            "$ref": "#/definitions/PlacementConstraint"
          },
          "x-ms-identifiers": []
        },
        "distribution": {
          "$ref": "#/definitions/DistributionPolicy",
          "description": "Distribution policy for spreading instances across compute units (nodes/VMs)."
        }
      }
    },
    "Exporter": {
      "type": "object",
      "description": "Exporter Info.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ExporterType",
          "description": "The type of exporter."
        },
        "name": {
          "type": "string",
          "description": "The name of exporter.",
          "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
        },
        "azureMonitorWorkspaceLogs": {
          "$ref": "#/definitions/AzureMonitorWorkspaceLogsExporter",
          "description": "Azure Monitor Workspace Logs specific configurations."
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ExporterPersistenceConfiguration": {
      "type": "object",
      "description": "Persistence options for this exporter.",
      "properties": {
        "maxStorageUsage": {
          "type": "integer",
          "format": "int32",
          "description": "Max storage usage in gigabytes.",
          "minimum": 1
        },
        "retentionPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Retention period in minutes.",
          "minimum": 1
        }
      }
    },
    "ExporterType": {
      "type": "string",
      "description": "The exporter type.",
      "enum": [
        "AzureMonitorWorkspaceLogs"
      ],
      "x-ms-enum": {
        "name": "ExporterType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureMonitorWorkspaceLogs",
            "value": "AzureMonitorWorkspaceLogs",
            "description": "Export logs to Azure Monitor Workspace."
          }
        ]
      }
    },
    "OtlpReceiver": {
      "type": "object",
      "description": "OTLP Receiver.",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "OTLP GRPC endpoint definition. Example: 0.0.0.0:<port>.",
          "pattern": "^[a-zA-Z0-9-\\.]+:[0-9]+$"
        }
      },
      "required": [
        "endpoint"
      ]
    },
    "PersistenceConfigurations": {
      "type": "object",
      "description": "Persistence options to all pipelines in the instance.",
      "properties": {
        "persistentVolumeName": {
          "type": "string",
          "description": "The name of the mounted persistent volume."
        }
      },
      "required": [
        "persistentVolumeName"
      ]
    },
    "PersistenceConfigurationsUpdate": {
      "type": "object",
      "description": "Persistence options to all pipelines in the instance.",
      "properties": {
        "persistentVolumeName": {
          "type": "string",
          "description": "The name of the mounted persistent volume."
        }
      }
    },
    "Pipeline": {
      "type": "object",
      "description": "Pipeline Info.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the pipeline.",
          "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
        },
        "type": {
          "$ref": "#/definitions/PipelineType",
          "description": "The type of pipeline"
        },
        "receivers": {
          "type": "array",
          "description": "Reference to receivers configured for the pipeline.",
          "items": {
            "type": "string"
          }
        },
        "processors": {
          "type": "array",
          "description": "Reference to processors configured for the pipeline.",
          "items": {
            "type": "string"
          }
        },
        "exporters": {
          "type": "array",
          "description": "Reference to exporters configured for the pipeline.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "name",
        "type",
        "receivers",
        "exporters"
      ]
    },
    "PipelineGroup": {
      "type": "object",
      "description": "A pipeline group definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PipelineGroupProperties",
          "description": "The resource-specific properties for this resource."
        },
        "extendedLocation": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ExtendedLocation",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PipelineGroupListResult": {
      "type": "object",
      "description": "The response of a PipelineGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PipelineGroup items on this page",
          "items": {
            "$ref": "#/definitions/PipelineGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PipelineGroupProperties": {
      "type": "object",
      "description": "Properties that need to be specified to create a new pipeline group instance.",
      "properties": {
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "Defines the amount of replicas of the pipeline group instance.",
          "minimum": 1
        },
        "receivers": {
          "type": "array",
          "description": "The receivers specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Receiver"
          },
          "x-ms-identifiers": []
        },
        "processors": {
          "type": "array",
          "description": "The processors specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Processor"
          },
          "x-ms-identifiers": []
        },
        "exporters": {
          "type": "array",
          "description": "The exporters specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Exporter"
          },
          "x-ms-identifiers": []
        },
        "service": {
          "$ref": "#/definitions/Service",
          "description": "The service section for a given pipeline group instance."
        },
        "executionPlacement": {
          "$ref": "#/definitions/ExecutionPlacement",
          "description": "Constraints for guiding the execution environment of the pipeline group."
        },
        "tlsConfigurations": {
          "type": "array",
          "description": "TLS configurations for the pipeline group instance.",
          "items": {
            "$ref": "#/definitions/TlsConfiguration"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of a pipeline group instance. Set to Succeeded if everything is healthy.",
          "readOnly": true
        }
      },
      "required": [
        "receivers",
        "processors",
        "exporters",
        "service"
      ]
    },
    "PipelineGroupPropertiesUpdate": {
      "type": "object",
      "description": "Properties that need to be specified to create a new pipeline group instance.",
      "properties": {
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "Defines the amount of replicas of the pipeline group instance.",
          "minimum": 1
        },
        "receivers": {
          "type": "array",
          "description": "The receivers specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Receiver"
          },
          "x-ms-identifiers": []
        },
        "processors": {
          "type": "array",
          "description": "The processors specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Processor"
          },
          "x-ms-identifiers": []
        },
        "exporters": {
          "type": "array",
          "description": "The exporters specified for a pipeline group instance.",
          "items": {
            "$ref": "#/definitions/Exporter"
          },
          "x-ms-identifiers": []
        },
        "service": {
          "$ref": "#/definitions/ServiceUpdate",
          "description": "The service section for a given pipeline group instance."
        },
        "executionPlacement": {
          "$ref": "#/definitions/ExecutionPlacement",
          "description": "Constraints for guiding the execution environment of the pipeline group."
        },
        "tlsConfigurations": {
          "type": "array",
          "description": "TLS configurations for the pipeline group instance.",
          "items": {
            "$ref": "#/definitions/TlsConfiguration"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PipelineGroupUpdate": {
      "type": "object",
      "description": "A pipeline group definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PipelineGroupPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "PipelineType": {
      "type": "string",
      "description": "The pipeline type.",
      "enum": [
        "Logs"
      ],
      "x-ms-enum": {
        "name": "PipelineType",
        "modelAsString": true,
        "values": [
          {
            "name": "Logs",
            "value": "Logs",
            "description": "Pipeline for logs telemetry."
          }
        ]
      }
    },
    "PlacementConstraint": {
      "type": "object",
      "description": "A placement constraint defines requirements for where pipeline group instances can be scheduled.",
      "properties": {
        "capability": {
          "type": "string",
          "description": "The capability or attribute key used to match compute unit properties."
        },
        "operator": {
          "$ref": "#/definitions/CapabilityOperator",
          "description": "The match operator, e.g., In, NotIn, Exists, DoesNotExist."
        },
        "values": {
          "type": "array",
          "description": "The values to match against. Not required for Exists/DoesNotExist.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "capability",
        "operator"
      ]
    },
    "PrivateKeySource": {
      "type": "object",
      "description": "Configuration for private key source location.",
      "properties": {
        "type": {
          "$ref": "#/definitions/PrivateKeySourceType",
          "description": "The type of private key source. Only kubernetesSecret is supported for security reasons."
        },
        "location": {
          "type": "string",
          "description": "Location of the private key source."
        },
        "subLocation": {
          "type": "string",
          "description": "Sub-location within the private key source."
        }
      },
      "required": [
        "type",
        "location",
        "subLocation"
      ]
    },
    "PrivateKeySourceType": {
      "type": "string",
      "description": "The type of private key source.",
      "enum": [
        "kubernetesSecret"
      ],
      "x-ms-enum": {
        "name": "PrivateKeySourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "KubernetesSecret",
            "value": "kubernetesSecret",
            "description": "Private key stored in a Kubernetes secret. This is the only supported type for security reasons."
          }
        ]
      }
    },
    "Processor": {
      "type": "object",
      "description": "Processor Info.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ProcessorType",
          "description": "The type of processor."
        },
        "name": {
          "type": "string",
          "description": "The name of processor.",
          "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
        },
        "batch": {
          "$ref": "#/definitions/BatchProcessor",
          "description": "Batch processor configurations."
        },
        "transformLanguage": {
          "$ref": "#/definitions/TransformLanguageProcessor",
          "description": "Transform language processor configurations."
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ProcessorType": {
      "type": "string",
      "description": "The processor type.",
      "enum": [
        "Batch",
        "TransformLanguage",
        "MicrosoftSyslog",
        "MicrosoftCommonSecurityLog"
      ],
      "x-ms-enum": {
        "name": "ProcessorType",
        "modelAsString": true,
        "values": [
          {
            "name": "Batch",
            "value": "Batch",
            "description": "Batch processor."
          },
          {
            "name": "TransformLanguage",
            "value": "TransformLanguage",
            "description": "Transform language processor."
          },
          {
            "name": "MicrosoftSyslog",
            "value": "MicrosoftSyslog",
            "description": "Microsoft Syslog processor."
          },
          {
            "name": "MicrosoftCommonSecurityLog",
            "value": "MicrosoftCommonSecurityLog",
            "description": "Microsoft CEF/Common Security Log processor."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "Receiver": {
      "type": "object",
      "description": "Receiver Info.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ReceiverType",
          "description": "The type of receiver."
        },
        "name": {
          "type": "string",
          "description": "The name of receiver.",
          "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
        },
        "tlsConfiguration": {
          "type": "string",
          "description": "Reference to a named TLS configuration. If not specified, default TLS configuration is used."
        },
        "syslog": {
          "$ref": "#/definitions/SyslogReceiver",
          "description": "Syslog configurations. This field is mandatory for syslog type receivers."
        },
        "otlp": {
          "$ref": "#/definitions/OtlpReceiver",
          "description": "OTLP receiver configurations. This field is mandatory for OTLP receivers."
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ReceiverType": {
      "type": "string",
      "description": "The receiver type.",
      "enum": [
        "Syslog",
        "OTLP"
      ],
      "x-ms-enum": {
        "name": "ReceiverType",
        "modelAsString": true,
        "values": [
          {
            "name": "Syslog",
            "value": "Syslog",
            "description": "Linux syslog."
          },
          {
            "name": "OTLP",
            "value": "OTLP",
            "description": "Receives data from a OTLP collector."
          }
        ]
      }
    },
    "RecordMap": {
      "type": "object",
      "description": "Record map for schema in azure monitor.",
      "properties": {
        "from": {
          "type": "string",
          "description": "Record Map Key."
        },
        "to": {
          "type": "string",
          "description": "Record Map Value."
        }
      },
      "required": [
        "from",
        "to"
      ]
    },
    "ResourceMap": {
      "type": "object",
      "description": "Resource map for schema in azure monitor.",
      "properties": {
        "from": {
          "type": "string",
          "description": "Resource Map Key."
        },
        "to": {
          "type": "string",
          "description": "Resource Map Value."
        }
      },
      "required": [
        "from",
        "to"
      ]
    },
    "SchemaMap": {
      "type": "object",
      "description": "Schema map for azure monitor for logs.",
      "properties": {
        "recordMap": {
          "type": "array",
          "description": "Record Map.",
          "items": {
            "$ref": "#/definitions/RecordMap"
          },
          "x-ms-identifiers": []
        },
        "resourceMap": {
          "type": "array",
          "description": "Resource Map captures information about the entity for which telemetry is recorded. For example, metrics exposed by a Kubernetes container can be linked to a resource that specifies the cluster, namespace, pod, and container name.Resource may capture an entire hierarchy of entity identification. It may describe the host in the cloud and specific container or an application running in the process.",
          "items": {
            "$ref": "#/definitions/ResourceMap"
          },
          "x-ms-identifiers": []
        },
        "scopeMap": {
          "type": "array",
          "description": "A scope map is a logical unit of the application code with which the emitted telemetry can be associated.",
          "items": {
            "$ref": "#/definitions/ScopeMap"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "recordMap"
      ]
    },
    "ScopeMap": {
      "type": "object",
      "description": "Scope map for schema in azure monitor.",
      "properties": {
        "from": {
          "type": "string",
          "description": "Scope Map Key."
        },
        "to": {
          "type": "string",
          "description": "Scope Map Value."
        }
      },
      "required": [
        "from",
        "to"
      ]
    },
    "Service": {
      "type": "object",
      "description": "Service Info.",
      "properties": {
        "pipelines": {
          "type": "array",
          "description": "Pipelines belonging to a given pipeline group.",
          "items": {
            "$ref": "#/definitions/Pipeline"
          },
          "x-ms-identifiers": []
        },
        "persistence": {
          "$ref": "#/definitions/PersistenceConfigurations",
          "description": "Persistence options to all pipelines in the instance."
        }
      },
      "required": [
        "pipelines"
      ]
    },
    "ServiceUpdate": {
      "type": "object",
      "description": "Service Info.",
      "properties": {
        "pipelines": {
          "type": "array",
          "description": "Pipelines belonging to a given pipeline group.",
          "items": {
            "$ref": "#/definitions/Pipeline"
          },
          "x-ms-identifiers": []
        },
        "persistence": {
          "$ref": "#/definitions/PersistenceConfigurationsUpdate",
          "description": "Persistence options to all pipelines in the instance."
        }
      }
    },
    "SyslogReceiver": {
      "type": "object",
      "description": "Base receiver using TCP as transport protocol.",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Syslog receiver endpoint definition. Example: 0.0.0.0:<port>.",
          "pattern": "^[a-zA-Z0-9-\\.]+:[0-9]+$"
        },
        "allowedFormats": {
          "type": "array",
          "description": "List of allowed message formats for syslog/CEF ingestion. Default 'all'.",
          "default": [
            "all"
          ],
          "items": {
            "$ref": "#/definitions/AllowedFormats"
          }
        },
        "transportProtocol": {
          "type": "string",
          "description": "Transport protocol. Default tcp.",
          "default": "tcp",
          "enum": [
            "tcp",
            "udp"
          ],
          "x-ms-enum": {
            "name": "TransportProtocol",
            "modelAsString": true,
            "values": [
              {
                "name": "tcp",
                "value": "tcp",
                "description": "tcp protocol."
              },
              {
                "name": "udp",
                "value": "udp",
                "description": "udp protocol."
              }
            ]
          }
        },
        "allowSkipPriHeader": {
          "type": "boolean",
          "description": "Configure the receiver to allow parsing of messages without the PRI header. Default false.",
          "default": false
        }
      },
      "required": [
        "endpoint"
      ]
    },
    "TlsConfiguration": {
      "type": "object",
      "description": "TLS configuration that can be referenced by receivers.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the TLS configuration.",
          "pattern": "^(?!-)[a-zA-Z0-9-]{3,32}[^-]$"
        },
        "mode": {
          "type": "string",
          "description": "The TLS security mode for receivers using this configuration. Default is 'mutualTls'.",
          "default": "mutualTls",
          "enum": [
            "disabled",
            "serverOnly",
            "mutualTls"
          ],
          "x-ms-enum": {
            "name": "TlsMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Disabled",
                "value": "disabled",
                "description": "No TLS encryption - plain text communication."
              },
              {
                "name": "ServerOnly",
                "value": "serverOnly",
                "description": "Server-side TLS only - encrypts communication but doesn't validate client certificates."
              },
              {
                "name": "MutualTls",
                "value": "mutualTls",
                "description": "Mutual TLS - encrypts communication and validates both server and client certificates."
              }
            ]
          }
        },
        "tlsCertificate": {
          "$ref": "#/definitions/CertificateWithKey",
          "description": "TLS certificate and its private key. If not specified, default TLS certificate is used."
        },
        "clientCa": {
          "$ref": "#/definitions/CertificateSource",
          "description": "Certificate source configuration for the client CA certificate for validating client certificates. If not specified, default CA certificates are used."
        }
      },
      "required": [
        "name"
      ]
    },
    "TransformLanguageProcessor": {
      "type": "object",
      "description": "Transform language processor.",
      "properties": {
        "transformStatement": {
          "type": "string",
          "description": "Transform statement to execute over the data passing through the processor.",
          "minLength": 1,
          "maxLength": 10000
        }
      },
      "required": [
        "transformStatement"
      ]
    }
  },
  "parameters": {}
}
