{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Data Collection Control Plane API",
    "description": "Provides operations for working with Azure Monitor data collection",
    "version": "2025-06-03-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "x-ms-namespace": "Microsoft.Monitor",
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Monitor/settings/default": {
      "put": {
        "tags": [
          "AzureMonitorSettings"
        ],
        "operationId": "AzureMonitorSettings_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AzureMonitorSettingsPublicResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureMonitorSettingsPublicResource"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureMonitorSettingsPublicResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Settings_CreateOrUpdate": {
            "$ref": "./examples/Settings_CreateOrUpdate.json"
          }
        }
      },
      "get": {
        "tags": [
          "AzureMonitorSettings"
        ],
        "operationId": "AzureMonitorSettings_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureMonitorSettingsPublicResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Settings_Get": {
            "$ref": "./examples/Settings_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AzureMonitorSettings"
        ],
        "operationId": "AzureMonitorSettings_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Settings_Delete": {
            "$ref": "./examples/Settings_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Monitor/settings": {
      "get": {
        "tags": [
          "AzureMonitorSettings"
        ],
        "operationId": "AzureMonitorSettings_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureMonitorSettingsPublicResourceListResult"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Settings_CreateOrUpdate": {
            "$ref": "./examples/Settings_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}/providers/Microsoft.Monitor/settings/default": {
      "put": {
        "tags": [
          "AzureMonitorSettings"
        ],
        "operationId": "AzureMonitorSettings_CreateOrUpdateAtServiceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ServiceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AzureMonitorSettingsPublicResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureMonitorSettingsPublicResource"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureMonitorSettingsPublicResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Settings_CreateOrUpdateAtServiceGroup": {
            "$ref": "./examples/Settings_CreateOrUpdateAtServiceGroup.json"
          }
        }
      },
      "get": {
        "tags": [
          "AzureMonitorSettings"
        ],
        "operationId": "AzureMonitorSettings_GetAtServiceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ServiceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureMonitorSettingsPublicResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Settings_GetAtServiceGroup": {
            "$ref": "./examples/Settings_GetAtServiceGroup.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AzureMonitorSettings"
        ],
        "operationId": "AzureMonitorSettings_DeleteAtServiceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ServiceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Settings_DeleteAtServiceGroup": {
            "$ref": "./examples/Settings_DeleteAtServiceGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}/providers/Microsoft.Monitor/settings": {
      "get": {
        "tags": [
          "AzureMonitorSettings"
        ],
        "operationId": "AzureMonitorSettings_ListByServiceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ServiceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureMonitorSettingsPublicResourceListResult"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Settings_ListByServiceGroup": {
            "$ref": "./examples/Settings_ListByServiceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "parameters": {
    "ServiceGroupNameParameter": {
      "name": "serviceGroupName",
      "in": "path",
      "description": "The name of the service group.",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "AzureMonitorSettingsPublic": {
      "type": "object",
      "required": [
        "defaultAzureMonitorWorkspace"
      ],
      "properties": {
        "defaultAzureMonitorWorkspace": {
          "type": "string",
          "description": "The ARM resource ID of the Azure monitor workspace account."
        },
        "defaultManagedIdentity": {
          "type": "string",
          "description": "The ARM resource ID of the default user managed identity."
        },
        "defaultActionGroup": {
          "type": "string",
          "description": "The ARM resource ID of the default action group."
        }
      }
    },
    "AzureMonitorSettingsPublicResource": {
      "description": "Defines the Azure monitor settings resource.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Defines the Azure monitor setting resource properties.",
          "allOf": [
            {
              "$ref": "#/definitions/AzureMonitorSettingsPublic"
            }
          ],
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "Fully qualified ID of the resource.",
          "type": "string",
          "readOnly": true,
          "example": "/subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/myResourceGroup/providers/Microsoft.Insights/dataCollectionRules/myCollectionRule",
          "x-ms-mutability": [
            "read"
          ]
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true,
          "example": "default",
          "x-ms-mutability": [
            "read"
          ]
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true,
          "example": "Microsoft.Monitor/settings",
          "x-ms-mutability": [
            "read"
          ]
        },
        "etag": {
          "description": "Resource entity tag (ETag).",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "systemData": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/systemData"
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorAdditionalInfo": {
      "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorAdditionalInfo"
    },
    "ErrorDetails": {
      "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail"
    },
    "ErrorResponse": {
      "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
    },
    "AzureMonitorSettingsPublicResourceListResult": {
      "description": "The response of a list operation.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureMonitorSettingsPublicResource"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of results, if any.",
          "readOnly": true
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
