{
  "swagger": "2.0",
  "info": {
    "version": "v2.0",
    "title": "Speech Services API v2.0",
    "description": "Speech Services API v2.0.",
    "contact": {
      "name": "Cognitive Services - Speech Services",
      "email": "crservice@microsoft.com"
    }
  },
  "host": "westus.cris.ai",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/speechtotext/v2.0/accuracytests": {
      "get": {
        "tags": [
          "Custom Speech accuracy tests:"
        ],
        "summary": "Gets the list of accuracy tests for the authenticated subscription.",
        "operationId": "GetAccuracyTests",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Test"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": [
                {
                  "models": [
                    {
                      "modelKind": "Acoustic",
                      "datasets": [
                        {
                          "dataImportKind": "Acoustic",
                          "id": "187ca2fd-1bde-4cb3-bab8-4f92b5cd8e56",
                          "createdDateTime": "2019-03-20T14:46:18Z",
                          "lastActionDateTime": "2019-03-20T14:46:18Z",
                          "status": "Succeeded",
                          "locale": "en-US",
                          "name": "Acoustic dataset",
                          "properties": {
                            "AcceptedLines": "11",
                            "RejectedLines": "2",
                            "ReportUri": "https://www.example.org/AcousticData/ed9b62f0-aa8e-419c-ab55-d7ca83c2f6b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=2b5e9932-8c65-45e5-9f70-9854e1997034"
                          }
                        }
                      ],
                      "id": "983f0403-89a0-49d1-9b2c-bf89c9b69e8a",
                      "createdDateTime": "2019-03-20T14:46:18Z",
                      "lastActionDateTime": "2019-03-20T14:46:18Z",
                      "status": "Running",
                      "locale": "en-US",
                      "name": "Acoustic model",
                      "description": "Example for an acoustic model"
                    },
                    {
                      "modelKind": "Language",
                      "baseModel": {
                        "modelKind": "AcousticAndLanguage",
                        "id": "12d47f63-bb84-4baf-a7b1-718f512c8201",
                        "createdDateTime": "2019-03-20T14:46:18Z",
                        "lastActionDateTime": "2019-03-20T14:46:18Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Base model",
                        "description": "Base model description",
                        "properties": {}
                      },
                      "datasets": [
                        {
                          "dataImportKind": "Language",
                          "id": "c93d0931-ba7f-4ca5-b2a9-11fe4bdcf16d",
                          "createdDateTime": "2019-03-20T14:46:18Z",
                          "lastActionDateTime": "2019-03-20T14:46:18Z",
                          "status": "Succeeded",
                          "locale": "en-US",
                          "name": "Language dataset",
                          "properties": {
                            "AcceptedLines": "11",
                            "RejectedLines": "2",
                            "ReportUri": "https://www.example.org/LanguageData/e75c10b6-f6c3-4693-9fc7-a6baf32b599f?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=c628a4fa-7501-4f8a-9f4e-3651fe696e39"
                          }
                        }
                      ],
                      "id": "75088617-dee2-4657-80de-82bb000c5943",
                      "createdDateTime": "2019-03-20T14:46:18Z",
                      "lastActionDateTime": "2019-03-20T14:46:18Z",
                      "status": "Running",
                      "locale": "en-US",
                      "name": "Language model",
                      "description": "This is a language model"
                    }
                  ],
                  "dataset": {
                    "dataImportKind": "Acoustic",
                    "id": "932727fb-015c-493b-9e5d-786f7a4e2c89",
                    "createdDateTime": "2019-03-20T14:46:18Z",
                    "lastActionDateTime": "2019-03-20T14:46:18Z",
                    "status": "Succeeded",
                    "locale": "en-US",
                    "name": "Acoustic dataset",
                    "properties": {
                      "AcceptedLines": "11",
                      "RejectedLines": "2",
                      "ReportUri": "https://www.example.org/AcousticData/ed9b62f0-aa8e-419c-ab55-d7ca83c2f6b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=2b5e9932-8c65-45e5-9f70-9854e1997034"
                    }
                  },
                  "wordErrorRate": 0.0,
                  "resultsUrl": "https://contoso.com/results/9E32D75F-CEE1-47F5-BA32-65E9BBA18743",
                  "id": "f480788a-0465-496b-907d-bd447c552edd",
                  "createdDateTime": "2019-03-20T14:46:18Z",
                  "lastActionDateTime": "2019-03-20T14:46:18Z",
                  "status": "Running",
                  "name": "Accuracy test",
                  "properties": {}
                }
              ]
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Speech accuracy tests:"
        ],
        "summary": "Creates a new accuracy test.",
        "operationId": "CreateAccuracyTest",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "testDefinition",
            "in": "body",
            "description": "The details of the new accuracy test.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestDefinition"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "UnsupportedMediaType",
                "message": "The request entity's media type 'application/xml' is not supported for this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/accuracytests/{id}": {
      "get": {
        "tags": [
          "Custom Speech accuracy tests:"
        ],
        "summary": "Gets the accuracy test identified by the given ID.",
        "operationId": "GetAccuracyTest",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the accuracy test.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Test"
            },
            "headers": {
              "Retry-After": {
                "description": "The minimum number of seconds to wait for a running operation to complete.",
                "type": "integer"
              },
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "models": [
                  {
                    "modelKind": "Acoustic",
                    "datasets": [
                      {
                        "dataImportKind": "Acoustic",
                        "id": "87a9234e-79d7-4760-84a1-078ee57ef21a",
                        "createdDateTime": "2019-03-20T14:46:18Z",
                        "lastActionDateTime": "2019-03-20T14:46:18Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Acoustic dataset",
                        "properties": {
                          "AcceptedLines": "11",
                          "RejectedLines": "2",
                          "ReportUri": "https://www.example.org/AcousticData/ed9b62f0-aa8e-419c-ab55-d7ca83c2f6b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=2b5e9932-8c65-45e5-9f70-9854e1997034"
                        }
                      }
                    ],
                    "id": "2d51aceb-86f3-400b-9d4f-a46b8c550ad5",
                    "createdDateTime": "2019-03-20T14:46:18Z",
                    "lastActionDateTime": "2019-03-20T14:46:18Z",
                    "status": "Running",
                    "locale": "en-US",
                    "name": "Acoustic model",
                    "description": "Example for an acoustic model"
                  },
                  {
                    "modelKind": "Language",
                    "baseModel": {
                      "modelKind": "AcousticAndLanguage",
                      "id": "a41baf79-89f0-45e7-a53f-413f45ad81fe",
                      "createdDateTime": "2019-03-20T14:46:18Z",
                      "lastActionDateTime": "2019-03-20T14:46:18Z",
                      "status": "Succeeded",
                      "locale": "en-US",
                      "name": "Base model",
                      "description": "Base model description",
                      "properties": {}
                    },
                    "datasets": [
                      {
                        "dataImportKind": "Language",
                        "id": "a7daef7e-7dc0-44e8-b317-cdf96cb65347",
                        "createdDateTime": "2019-03-20T14:46:18Z",
                        "lastActionDateTime": "2019-03-20T14:46:18Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Language dataset",
                        "properties": {
                          "AcceptedLines": "11",
                          "RejectedLines": "2",
                          "ReportUri": "https://www.example.org/LanguageData/e75c10b6-f6c3-4693-9fc7-a6baf32b599f?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=c628a4fa-7501-4f8a-9f4e-3651fe696e39"
                        }
                      }
                    ],
                    "id": "2f0a03b6-b28c-4da4-9a1e-b66d8a97e022",
                    "createdDateTime": "2019-03-20T14:46:18Z",
                    "lastActionDateTime": "2019-03-20T14:46:18Z",
                    "status": "Running",
                    "locale": "en-US",
                    "name": "Language model",
                    "description": "This is a language model"
                  }
                ],
                "dataset": {
                  "dataImportKind": "Acoustic",
                  "id": "9fb1dacd-9d69-46b6-8cf1-16e7f09902a8",
                  "createdDateTime": "2019-03-20T14:46:18Z",
                  "lastActionDateTime": "2019-03-20T14:46:18Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Acoustic dataset",
                  "properties": {
                    "AcceptedLines": "11",
                    "RejectedLines": "2",
                    "ReportUri": "https://www.example.org/AcousticData/ed9b62f0-aa8e-419c-ab55-d7ca83c2f6b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=2b5e9932-8c65-45e5-9f70-9854e1997034"
                  }
                },
                "wordErrorRate": 0.0,
                "resultsUrl": "https://contoso.com/results/9E32D75F-CEE1-47F5-BA32-65E9BBA18743",
                "id": "f1a122fb-dfb6-4763-b844-10473d2c39c2",
                "createdDateTime": "2019-03-20T14:46:18Z",
                "lastActionDateTime": "2019-03-20T14:46:18Z",
                "status": "Running",
                "name": "Accuracy test",
                "properties": {}
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "NotFound",
                "message": "The specified entity cannot be found."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom Speech accuracy tests:"
        ],
        "summary": "Deletes the accuracy test identified by the given ID.",
        "operationId": "DeleteAccuracyTest",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the accuracy test.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "The test was successfully deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Custom Speech accuracy tests:"
        ],
        "summary": "Updates the mutable details of the test identified by its id.",
        "operationId": "UpdateAccuracyTest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the accuracy test.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "testUpdate",
            "in": "body",
            "description": "The object containing the updated fields of the test.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Test"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "models": [
                  {
                    "modelKind": "Acoustic",
                    "datasets": [
                      {
                        "dataImportKind": "Acoustic",
                        "id": "90658047-3791-4e82-bebb-08701ecf9204",
                        "createdDateTime": "2019-03-20T14:46:18Z",
                        "lastActionDateTime": "2019-03-20T14:46:18Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Acoustic dataset",
                        "properties": {
                          "AcceptedLines": "11",
                          "RejectedLines": "2",
                          "ReportUri": "https://www.example.org/AcousticData/ed9b62f0-aa8e-419c-ab55-d7ca83c2f6b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=2b5e9932-8c65-45e5-9f70-9854e1997034"
                        }
                      }
                    ],
                    "id": "5eaf77e7-5847-4654-8f65-9924952569c2",
                    "createdDateTime": "2019-03-20T14:46:18Z",
                    "lastActionDateTime": "2019-03-20T14:46:18Z",
                    "status": "Running",
                    "locale": "en-US",
                    "name": "Acoustic model",
                    "description": "Example for an acoustic model"
                  },
                  {
                    "modelKind": "Language",
                    "baseModel": {
                      "modelKind": "AcousticAndLanguage",
                      "id": "e6a5e9c9-60f6-4b75-9278-ca10a67a83e9",
                      "createdDateTime": "2019-03-20T14:46:18Z",
                      "lastActionDateTime": "2019-03-20T14:46:18Z",
                      "status": "Succeeded",
                      "locale": "en-US",
                      "name": "Base model",
                      "description": "Base model description",
                      "properties": {}
                    },
                    "datasets": [
                      {
                        "dataImportKind": "Language",
                        "id": "ee625acc-d4a0-45cd-88c4-7f176e9c08f1",
                        "createdDateTime": "2019-03-20T14:46:18Z",
                        "lastActionDateTime": "2019-03-20T14:46:18Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Language dataset",
                        "properties": {
                          "AcceptedLines": "11",
                          "RejectedLines": "2",
                          "ReportUri": "https://www.example.org/LanguageData/e75c10b6-f6c3-4693-9fc7-a6baf32b599f?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=c628a4fa-7501-4f8a-9f4e-3651fe696e39"
                        }
                      }
                    ],
                    "id": "05649460-5d19-4ed0-8692-d2ca7fc7d747",
                    "createdDateTime": "2019-03-20T14:46:18Z",
                    "lastActionDateTime": "2019-03-20T14:46:18Z",
                    "status": "Running",
                    "locale": "en-US",
                    "name": "Language model",
                    "description": "This is a language model"
                  }
                ],
                "dataset": {
                  "dataImportKind": "Acoustic",
                  "id": "811bc783-b423-47d2-b52a-fb7128ca1ae7",
                  "createdDateTime": "2019-03-20T14:46:18Z",
                  "lastActionDateTime": "2019-03-20T14:46:18Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Acoustic dataset",
                  "properties": {
                    "AcceptedLines": "11",
                    "RejectedLines": "2",
                    "ReportUri": "https://www.example.org/AcousticData/ed9b62f0-aa8e-419c-ab55-d7ca83c2f6b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=2b5e9932-8c65-45e5-9f70-9854e1997034"
                  }
                },
                "wordErrorRate": 0.0,
                "resultsUrl": "https://contoso.com/results/9E32D75F-CEE1-47F5-BA32-65E9BBA18743",
                "id": "16100f5b-0530-47fa-95c5-bd4cc97d04ee",
                "createdDateTime": "2019-03-20T14:46:18Z",
                "lastActionDateTime": "2019-03-20T14:46:18Z",
                "status": "Running",
                "name": "Accuracy test",
                "properties": {}
              }
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "BadRequest",
                "message": "The request has been incorrect."
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "409": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Conflict",
                "message": "An operation on this resource already in progress."
              }
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "UnsupportedMediaType",
                "message": "The request entity's media type 'application/xml' is not supported for this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/datasets": {
      "get": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Gets a list of datasets for the authenticated subscription.",
        "operationId": "GetDatasets",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dataset"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": [
                {
                  "dataImportKind": "Acoustic",
                  "id": "6ff902e4-848b-4840-9b25-89a00ebc6488",
                  "createdDateTime": "2019-03-20T14:46:18Z",
                  "lastActionDateTime": "2019-03-20T14:46:18Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Acoustic dataset",
                  "properties": {
                    "AcceptedLines": "11",
                    "RejectedLines": "2",
                    "ReportUri": "https://www.example.org/AcousticData/ed9b62f0-aa8e-419c-ab55-d7ca83c2f6b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=2b5e9932-8c65-45e5-9f70-9854e1997034"
                  }
                },
                {
                  "dataImportKind": "Pronunciation",
                  "id": "117402dc-bed2-4ccb-ae83-11ea88b77494",
                  "createdDateTime": "2019-03-20T14:46:18Z",
                  "lastActionDateTime": "2019-03-20T14:46:18Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Pronunciation dataset",
                  "properties": {
                    "AcceptedLines": "11",
                    "RejectedLines": "2",
                    "ReportUri": "https://www.example.org/PronunciationData/1685fadb-2344-4b28-89b7-5de8aae8c939?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a0c925a2-b7dd-45a8-ba62-d4a6f10153ba"
                  }
                },
                {
                  "dataImportKind": "Language",
                  "id": "05a26138-c4ee-49a0-98f7-622bd605d542",
                  "createdDateTime": "2019-03-20T14:46:18Z",
                  "lastActionDateTime": "2019-03-20T14:46:18Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Language dataset",
                  "properties": {
                    "AcceptedLines": "11",
                    "RejectedLines": "2",
                    "ReportUri": "https://www.example.org/LanguageData/e75c10b6-f6c3-4693-9fc7-a6baf32b599f?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=c628a4fa-7501-4f8a-9f4e-3651fe696e39"
                  }
                }
              ]
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/datasets/{id}": {
      "get": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Gets the dataset identified by the given ID.",
        "operationId": "GetDataset",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the dataset.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Dataset"
            },
            "headers": {
              "Retry-After": {
                "description": "The minimum number of seconds to wait for a running operation to complete.",
                "type": "integer"
              },
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "dataImportKind": "Acoustic",
                "id": "6790ffa9-114b-45d3-9a8b-862681e8b4da",
                "createdDateTime": "2019-03-20T14:46:18Z",
                "lastActionDateTime": "2019-03-20T14:46:18Z",
                "status": "Succeeded",
                "locale": "en-US",
                "name": "Acoustic dataset",
                "properties": {
                  "AcceptedLines": "11",
                  "RejectedLines": "2",
                  "ReportUri": "https://www.example.org/AcousticData/ed9b62f0-aa8e-419c-ab55-d7ca83c2f6b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=2b5e9932-8c65-45e5-9f70-9854e1997034"
                }
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "NotFound",
                "message": "The specified entity cannot be found."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Deletes the specified dataset.",
        "operationId": "DeleteDataset",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the dataset.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "The dataset was successfully deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "405": {
            "description": "In case the operation cannot be performed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "DeleteNotAllowed",
                "message": "The task is still in use."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Updates the mutable details of the dataset identified by its ID.",
        "operationId": "UpdateDataset",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the dataset.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "datasetUpdate",
            "in": "body",
            "description": "The updated values for the dataset.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasetUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Dataset"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "dataImportKind": "Acoustic",
                "id": "c0a8e65e-e61a-479f-8600-38dd2aaaf4ca",
                "createdDateTime": "2019-03-20T14:46:18Z",
                "lastActionDateTime": "2019-03-20T14:46:18Z",
                "status": "Succeeded",
                "locale": "en-US",
                "name": "Acoustic dataset",
                "properties": {
                  "AcceptedLines": "11",
                  "RejectedLines": "2",
                  "ReportUri": "https://www.example.org/AcousticData/ed9b62f0-aa8e-419c-ab55-d7ca83c2f6b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=2b5e9932-8c65-45e5-9f70-9854e1997034"
                }
              }
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "BadRequest",
                "message": "The request has been incorrect."
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "409": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Conflict",
                "message": "An operation on this resource already in progress."
              }
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "UnsupportedMediaType",
                "message": "The request entity's media type 'application/xml' is not supported for this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/datasets/locales": {
      "get": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Gets a list of supported locales for data imports.",
        "operationId": "GetSupportedLocalesForDatasets",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "title": "IReadOnlyDictionary`2",
              "type": "object",
              "properties": {
                "None": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Language": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Acoustic": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Pronunciation": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "CustomVoice": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "LanguageGeneration": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "Acoustic": [
                  "en-US"
                ],
                "Language": [
                  "en-US",
                  "de-DE"
                ],
                "Pronunciation": [
                  "en-US"
                ]
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/datasets/upload": {
      "post": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Uploads data and creates a new dataset.",
        "operationId": "UploadDataset",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The name of this data import (always add this string for any import).",
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "Optional description of this data import.",
            "type": "string"
          },
          {
            "name": "locale",
            "in": "formData",
            "description": "The locale of this data import (always add this string for any import).",
            "type": "string"
          },
          {
            "name": "dataImportKind",
            "in": "formData",
            "description": "The kind of the data import (always add this string for any import).",
            "type": "string",
            "enum": [
              "None",
              "Language",
              "Acoustic",
              "Pronunciation",
              "CustomVoice",
              "LanguageGeneration"
            ]
          },
          {
            "name": "properties",
            "in": "formData",
            "description": "Optional properties of this data import (json serialized object with key/values, where all values must be strings)",
            "type": "string"
          },
          {
            "name": "audiodata",
            "in": "formData",
            "description": "A zip file containing the audio data (this and the audio archive file for acoustic data imports).",
            "type": "file"
          },
          {
            "name": "transcriptions",
            "in": "formData",
            "description": "A text file containing the transcriptions for the audio data (this and the transcriptions file for acoustic data imports).",
            "type": "file"
          },
          {
            "name": "languagedata",
            "in": "formData",
            "description": "A text file containing the language or pronunciation data (only this file for language data imports).",
            "type": "file"
          }
        ],
        "responses": {
          "202": {
            "description": "The response contains the location of the operation as header.",
            "headers": {
              "Location": {
                "description": "The URI of the operation.",
                "type": "string"
              },
              "Operation-Location": {
                "description": "The URI of the operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before accessing the resource created in this operation.",
                "type": "integer"
              },
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "BadRequest",
                "message": "The request has been incorrect."
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "UnsupportedMediaType",
                "message": "The request entity's media type 'application/xml' is not supported for this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/endpoints": {
      "get": {
        "tags": [
          "Custom Speech endpoints:"
        ],
        "summary": "Gets the list of endpoints for the authenticated subscription.",
        "operationId": "GetEndpoints",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Endpoint"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": [
                {
                  "endpointKind": "SpeechRecognition",
                  "models": [
                    {
                      "modelKind": "Acoustic",
                      "datasets": [
                        {
                          "dataImportKind": "Acoustic",
                          "id": "10e34a82-f4b9-48a4-92c8-ef0d10fdf2dd",
                          "createdDateTime": "2019-03-20T14:46:18Z",
                          "lastActionDateTime": "2019-03-20T14:46:18Z",
                          "status": "Succeeded",
                          "locale": "en-US",
                          "name": "Acoustic dataset",
                          "properties": {
                            "AcceptedLines": "11",
                            "RejectedLines": "2",
                            "ReportUri": "https://www.example.org/AcousticData/ed9b62f0-aa8e-419c-ab55-d7ca83c2f6b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=2b5e9932-8c65-45e5-9f70-9854e1997034"
                          }
                        }
                      ],
                      "id": "12f751ac-0c1c-4288-9681-7c523489f16d",
                      "createdDateTime": "2019-03-20T14:46:18Z",
                      "lastActionDateTime": "2019-03-20T14:46:18Z",
                      "status": "Running",
                      "locale": "en-US",
                      "name": "Acoustic model",
                      "description": "Example for an acoustic model"
                    },
                    {
                      "modelKind": "Language",
                      "baseModel": {
                        "modelKind": "AcousticAndLanguage",
                        "id": "171e5cd7-510f-4cbf-860d-0eb5f666f303",
                        "createdDateTime": "2019-03-20T14:46:18Z",
                        "lastActionDateTime": "2019-03-20T14:46:18Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Base model",
                        "description": "Base model description",
                        "properties": {}
                      },
                      "datasets": [
                        {
                          "dataImportKind": "Language",
                          "id": "c425edfc-da5e-412b-8d2a-fd73b8e0d9a5",
                          "createdDateTime": "2019-03-20T14:46:18Z",
                          "lastActionDateTime": "2019-03-20T14:46:18Z",
                          "status": "Succeeded",
                          "locale": "en-US",
                          "name": "Language dataset",
                          "properties": {
                            "AcceptedLines": "11",
                            "RejectedLines": "2",
                            "ReportUri": "https://www.example.org/LanguageData/e75c10b6-f6c3-4693-9fc7-a6baf32b599f?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=c628a4fa-7501-4f8a-9f4e-3651fe696e39"
                          }
                        }
                      ],
                      "id": "b6575af7-0f87-40b2-b0f2-371ed5b291c1",
                      "createdDateTime": "2019-03-20T14:46:18Z",
                      "lastActionDateTime": "2019-03-20T14:46:18Z",
                      "status": "Running",
                      "locale": "en-US",
                      "name": "Language model",
                      "description": "This is a language model"
                    }
                  ],
                  "concurrentRecognitions": 1,
                  "contentLoggingEnabled": false,
                  "endpointUrls": {
                    "UniversalWebSocketInteractive": "wss://fedev.develop2.cris.ai/speech/recognition/interactive/cognitiveservices/v1?cid=77CB309E-5780-4DE4-877E-BE91B66FA548"
                  },
                  "id": "b5be35fa-46e4-4d8f-b6da-c65da569fc99",
                  "createdDateTime": "2019-03-20T14:46:18Z",
                  "lastActionDateTime": "2019-03-20T14:46:18Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Speech endpoint",
                  "description": "Example for speech endpoint"
                }
              ]
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": [],
            "token": []
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Speech endpoints:"
        ],
        "summary": "Creates a new endpoint.",
        "operationId": "CreateEndpoint",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "endpointDefinition",
            "in": "body",
            "description": "The details of the endpoint.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpeechEndpointDefinition"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The response contains the location of the operation as header.",
            "headers": {
              "Location": {
                "description": "The URI of the operation.",
                "type": "string"
              },
              "Operation-Location": {
                "description": "The URI of the operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before accessing the resource created in this operation.",
                "type": "integer"
              },
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "BadRequest",
                "message": "The request has been incorrect."
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
[...]
