{
  "swagger": "2.0",
  "info": {
    "version": "3.3",
    "title": "Custom Vision Training Client"
  },
  "host": "southcentralus.api.cognitive.microsoft.com",
  "basePath": "/customvision/v3.3/training",
  "schemes": [
    "https"
  ],
  "paths": {
    "/domains": {
      "get": {
        "tags": [
          "DomainsApi"
        ],
        "summary": "Get a list of the available domains.",
        "operationId": "GetDomains",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Domain"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetDomains request": {
            "$ref": "./examples/GetDomains.json"
          }
        }
      }
    },
    "/domains/{domainId}": {
      "get": {
        "tags": [
          "DomainsApi"
        ],
        "summary": "Get information about a specific domain.",
        "operationId": "GetDomain",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "description": "The id of the domain to get information about.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetDomain request": {
            "$ref": "./examples/GetDomain.json"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Get your projects.",
        "operationId": "GetProjects",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Project"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetProjects request": {
            "$ref": "./examples/GetProjects.json"
          }
        }
      },
      "post": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Create a project.",
        "operationId": "CreateProject",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the project.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "The description of the project.",
            "required": false,
            "type": "string"
          },
          {
            "name": "domainId",
            "in": "query",
            "description": "The id of the domain to use for this project. Defaults to General.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "classificationType",
            "in": "query",
            "description": "The type of classifier to create for this project.",
            "required": false,
            "type": "string",
            "enum": [
              "Multiclass",
              "Multilabel"
            ]
          },
          {
            "name": "targetExportPlatforms",
            "in": "query",
            "description": "List of platforms the trained model is intending exporting to.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "CoreML",
                "TensorFlow",
                "DockerFile",
                "ONNX",
                "VAIDK"
              ]
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful CreateProject request": {
            "$ref": "./examples/CreateProject.json"
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Get a specific project.",
        "operationId": "GetProject",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project to get.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetProject request": {
            "$ref": "./examples/GetProject.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Delete a specific project.",
        "operationId": "DeleteProject",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful DeleteProject request": {
            "$ref": "./examples/DeleteProject.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Update a specific project.",
        "operationId": "UpdateProject",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project to update.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "updatedProject",
            "in": "body",
            "description": "The updated project model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful UpdateProject request": {
            "$ref": "./examples/UpdateProject.json"
          }
        }
      }
    },
    "/projects/{projectId}/artifacts": {
      "get": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Get artifact content from blob storage, based on artifact relative path in the blob.",
        "operationId": "GetArtifact",
        "consumes": [],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "path",
            "in": "query",
            "description": "The relative path for artifact.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetArtifact request": {
            "$ref": "./examples/GetArtifact.json"
          }
        }
      }
    },
    "/projects/{projectId}/export": {
      "get": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Exports a project.",
        "operationId": "ExportProject",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id of the project to export.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectExport"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful ExportProject request": {
            "$ref": "./examples/ExportProject.json"
          }
        }
      }
    },
    "/projects/{projectId}/images": {
      "get": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Get images for a given project iteration or workspace.",
        "description": "This API supports batching and range selection. By default it will only return first 50 images matching images.\r\nUse the {take} and {skip} parameters to control how many images to return in a given batch.\r\nThe filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned",
        "operationId": "GetImages",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The iteration id. Defaults to workspace.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 20,
            "minItems": 0
          },
          {
            "name": "taggingStatus",
            "in": "query",
            "description": "The tagging status filter. It can be 'All', 'Tagged', or 'Untagged'. Defaults to 'All'.",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "Tagged",
              "Untagged"
            ]
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An expression to filter the images against image metadata. Only images where the expression evaluates to true are included in the response.\r\nThe expression supports eq (Equal), ne (Not equal), and (Logical and), or (Logical or) operators.\r\nHere is an example, metadata=key1 eq 'value1' and key2 ne 'value2'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The ordering. Defaults to newest.",
            "required": false,
            "type": "string",
            "enum": [
              "Newest",
              "Oldest"
            ]
          },
          {
            "name": "take",
            "in": "query",
            "description": "Maximum number of images to return. Defaults to 50, limited to 256.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 50,
            "maximum": 256,
            "minimum": 0
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of images to skip before beginning the image batch. Defaults to 0.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Image"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetImages request": {
            "$ref": "./examples/GetImages.json"
          }
        }
      },
      "post": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Add the provided images to the set of training images.",
        "description": "This API accepts body content as multipart/form-data and application/octet-stream. When using multipart\r\nmultiple image files can be sent at once, with a maximum of 64 files.\r\nIf all images are successful created, 200(OK) status code will be returned.\r\nOtherwise, 207 (Multi-Status) status code will be returned and detail status for each image will be listed in the response payload.",
        "operationId": "CreateImagesFromData",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "The tags ids with which to tag each image. Limited to 20.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 20,
            "minItems": 0
          },
          {
            "name": "imageData",
            "in": "formData",
            "description": "Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 6MB.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful CreateImagesFromData request": {
            "$ref": "./examples/CreateImagesFromData.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Delete images from the set of training images.",
        "operationId": "DeleteImages",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "imageIds",
            "in": "query",
            "description": "Ids of the images to be deleted. Limited to 256 images per batch.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 256,
            "minItems": 0
          },
          {
            "name": "allImages",
            "in": "query",
            "description": "Flag to specify delete all images, specify this flag or a list of images. Using this flag will return a 202 response to indicate the images are being deleted.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "allIterations",
            "in": "query",
            "description": "Removes these images from all iterations, not just the current workspace. Using this flag will return a 202 response to indicate the images are being deleted.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful DeleteImages request": {
            "$ref": "./examples/DeleteImages.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}/regionproposals": {
      "post": {
        "tags": [
          "ImageRegionProposalApi"
        ],
        "summary": "Get region proposals for an image. Returns empty array if no proposals are found.",
        "description": "This API will get region proposals for an image along with confidences for the region. It returns an empty array if no proposals are found.",
        "operationId": "GetImageRegionProposals",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "imageId",
            "in": "path",
            "description": "The image id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageRegionProposal"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetImageRegionProposals request": {
            "$ref": "./examples/GetImageRegionProposals.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/count": {
      "get": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Get the number of images.",
        "description": "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned",
        "operationId": "GetImageCount",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The iteration id. Defaults to workspace.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "taggingStatus",
            "in": "query",
            "description": "The tagging status filter. It can be 'All', 'Tagged', or 'Untagged'. Defaults to 'All'.",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "Tagged",
              "Untagged"
            ]
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An expression to filter the images against image metadata. Only images where the expression evaluates to true are included in the response.\r\nThe expression supports eq (Equal), ne (Not equal), and (Logical and), or (Logical or) operators.\r\nHere is an example, metadata=key1 eq 'value1' and key2 ne 'value2'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "A list of tags ids to filter the images to count. Defaults to all tags when null.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetImageCount request": {
            "$ref": "./examples/GetImageCount.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/files": {
      "post": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Add the provided batch of images to the set of training images.",
        "description": "This API accepts a batch of files, and optionally tags, to create images. There is a limit of 64 images and 20 tags.\r\nIf all images are successful created, 200(OK) status code will be returned.\r\nOtherwise, 207 (Multi-Status) status code will be returned and detail status for each image will be listed in the response payload.",
        "operationId": "CreateImagesFromFiles",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "batch",
            "in": "body",
            "description": "The batch of image files to add. Limited to 64 images and 20 tags per batch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageFileCreateBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful CreateImagesFromFiles request": {
            "$ref": "./examples/CreateImagesFromFiles.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/id": {
      "get": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Get images by id for a given project iteration.",
        "description": "This API will return a set of Images for the specified tags and optionally iteration. If no iteration is specified the\r\ncurrent workspace is used.",
        "operationId": "GetImagesByIds",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "imageIds",
            "in": "query",
            "description": "The list of image ids to retrieve. Limited to 256.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 256,
            "minItems": 0
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The iteration id. Defaults to workspace.",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Image"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetImagesByIds request": {
            "$ref": "./examples/GetImagesByIds.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/metadata": {
      "post": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Update metadata of images.",
        "description": "This API accepts a batch of image Ids, and metadata, to update images. There is a limit of 64 images.",
        "operationId": "UpdateImageMetadata",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "imageIds",
            "in": "query",
            "description": "The list of image ids to update. Limited to 64.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 256,
            "minItems": 0
          },
          {
            "name": "metadata",
            "in": "body",
            "description": "The metadata to be updated to the specified images. Limited to 50 key-value pairs per image. The length of key is limited to 256. The length of value is limited to 512.",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              },
              "x-nullable":  true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageMetadataUpdateSummary"
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "$ref": "#/definitions/ImageMetadataUpdateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful UpdateImageMetadata request": {
            "$ref": "./examples/UpdateImageMetadata.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/predictions": {
      "post": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Add the specified predicted images to the set of training images.",
        "description": "This API creates a batch of images from predicted images specified. There is a limit of 64 images and 20 tags.\r\nIf all images are successful created, 200(OK) status code will be returned.\r\nOtherwise, 207 (Multi-Status) status code will be returned and detail status for each image will be listed in the response payload.",
        "operationId": "CreateImagesFromPredictions",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "batch",
            "in": "body",
            "description": "Image, tag ids, and metadata. Limited to 64 images and 20 tags per batch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageIdCreateBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful CreateImagesFromPredictions request": {
            "$ref": "./examples/CreateImagesFromPredictions.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/regions": {
      "post": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Create a set of image regions.",
        "description": "This API accepts a batch of image regions, and optionally tags, to update existing images with region information.\r\nThere is a limit of 64 entries in the batch.\r\nIf all regions are successful created, 200(OK) status code will be returned.\r\nOtherwise, 207 (Multi-Status) status code will be returned and detail status for each region will be listed in the response payload.",
        "operationId": "CreateImageRegions",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "batch",
            "in": "body",
            "description": "Batch of image regions which include a tag and bounding box. Limited to 64.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageRegionCreateBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageRegionCreateSummary"
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "$ref": "#/definitions/ImageRegionCreateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful CreateImageRegions request": {
            "$ref": "./examples/CreateImageRegions.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Delete a set of image regions.",
        "operationId": "DeleteImageRegions",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "regionIds",
            "in": "query",
            "description": "Regions to delete. Limited to 64.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 64,
            "minItems": 0
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful DeleteImageRegions request": {
            "$ref": "./examples/DeleteImageRegions.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/suggested": {
      "post": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Get untagged images whose suggested tags match given tags. Returns empty array if no images are found.",
        "description": "This API will fetch untagged images filtered by suggested tags Ids. It returns an empty array if no images are found.",
        "operationId": "QuerySuggestedImages",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "IterationId to use for the suggested tags and regions.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "query",
            "in": "body",
            "description": "Contains properties we need to query suggested images.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuggestedTagAndRegionQueryToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuggestedTagAndRegionQuery"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful QuerySuggestedImages request": {
            "$ref": "./examples/QuerySuggestedImages.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/suggested/count": {
      "post": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Get count of images whose suggested tags match given tags and their probabilities are greater than or equal to the given threshold. Returns count as 0 if none found.",
        "description": "This API takes in tagIds to get count of untagged images per suggested tags for a given threshold.",
        "operationId": "QuerySuggestedImageCount",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "IterationId to use for the suggested tags and regions.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "query",
            "in": "body",
            "description": "Model that contains tagIds, threshold and projectType to query by.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "format": "int32",
                "type": "integer"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful QuerySuggestedImageCount request": {
            "$ref": "./examples/QuerySuggestedImageCount.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/tagged": {
      "get": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Get tagged images for a given project iteration.",
        "description": "This API supports batching and range selection. By default it will only return first 50 images matching images.\r\nUse the {take} and {skip} parameters to control how many images to return in a given batch.\r\nThe filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned",
        "operationId": "GetTaggedImages",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The iteration id. Defaults to workspace.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 20,
            "minItems": 0
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The ordering. Defaults to newest.",
            "required": false,
            "type": "string",
            "enum": [
              "Newest",
              "Oldest"
            ]
          },
          {
            "name": "take",
            "in": "query",
            "description": "Maximum number of images to return. Defaults to 50, limited to 256.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 50,
            "maximum": 256,
            "minimum": 0
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of images to skip before beginning the image batch. Defaults to 0.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Image"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetTaggedImages request": {
            "$ref": "./examples/GetTaggedImages.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/tagged/count": {
      "get": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Gets the number of images tagged with the provided {tagIds}.",
        "description": "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned",
        "operationId": "GetTaggedImageCount",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The iteration id. Defaults to workspace.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "A list of tags ids to filter the images to count. Defaults to all tags when null.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetTaggedImageCount request": {
            "$ref": "./examples/GetTaggedImageCount.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/tags": {
      "post": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Associate a set of images with a set of tags.",
        "operationId": "CreateImageTags",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "batch",
            "in": "body",
            "description": "Batch of image tags. Limited to 128 tags per batch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageTagCreateBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageTagCreateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful CreateImageTags request": {
            "$ref": "./examples/CreateImageTags.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Remove a set of tags from a set of images.",
        "operationId": "DeleteImageTags",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "imageIds",
            "in": "query",
            "description": "Image ids. Limited to 64 images.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 64,
            "minItems": 0
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "Tags to be deleted from the specified images. Limited to 20 tags.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 20,
            "minItems": 0
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful DeleteImageTags request": {
            "$ref": "./examples/DeleteImageTags.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/untagged": {
      "get": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Get untagged images for a given project iteration.",
        "description": "This API supports batching and range selection. By default it will only return first 50 images matching images.\r\nUse the {take} and {skip} parameters to control how many images to return in a given batch.",
        "operationId": "GetUntaggedImages",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The iteration id. Defaults to workspace.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The ordering. Defaults to newest.",
            "required": false,
            "type": "string",
            "enum": [
              "Newest",
              "Oldest"
            ]
          },
          {
            "name": "take",
            "in": "query",
            "description": "Maximum number of images to return. Defaults to 50, limited to 256.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 50,
            "maximum": 256,
            "minimum": 0
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of images to skip before beginning the image batch. Defaults to 0.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Image"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetUntaggedImages request": {
            "$ref": "./examples/GetUntaggedImages.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/untagged/count": {
      "get": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Gets the number of untagged images.",
        "description": "This API returns the images which have no tags for a given project and optionally an iteration. If no iteration is specified the\r\ncurrent workspace is used.",
        "operationId": "GetUntaggedImageCount",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The iteration id. Defaults to workspace.",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetUntaggedImageCount request": {
            "$ref": "./examples/GetUntaggedImageCount.json"
          }
        }
      }
    },
    "/projects/{projectId}/images/urls": {
      "post": {
        "tags": [
          "ImageApi"
        ],
        "summary": "Add the provided images urls to the set of training images.",
        "description": "This API accepts a batch of urls, and optionally tags, to create images. There is a limit of 64 images and 20 tags.\r\nIf all images are successful created, 200(OK) status code will be returned.\r\nOtherwise, 207 (Multi-Status) status code will be returned and detail status for each image will be listed in the response payload.",
        "operationId": "CreateImagesFromUrls",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "batch",
            "in": "body",
            "description": "Image urls, tag ids, and metadata. Limited to 64 images and 20 tags per batch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageUrlCreateBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "$ref": "#/definitions/ImageCreateSummary"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful CreateImagesFromUrls request": {
            "$ref": "./examples/CreateImagesFromUrls.json"
          }
        }
      }
    },
    "/projects/{projectId}/iterations": {
      "get": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Get iterations for the project.",
        "operationId": "GetIterations",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Iteration"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetIterations request": {
            "$ref": "./examples/GetIterations.json"
          }
        }
      }
    },
    "/projects/{projectId}/iterations/{iterationId}": {
      "get": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Get a specific iteration.",
        "operationId": "GetIteration",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project the iteration belongs to.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "path",
            "description": "The id of the iteration to get.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Iteration"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetIteration request": {
            "$ref": "./examples/GetIteration.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Delete a specific iteration of a project.",
        "operationId": "DeleteIteration",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "path",
            "description": "The iteration id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful DeleteIteration request": {
            "$ref": "./examples/DeleteIteration.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Update a specific iteration.",
        "operationId": "UpdateIteration",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "path",
            "description": "Iteration id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "updatedIteration",
            "in": "body",
            "description": "The updated iteration model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Iteration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Iteration"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful UpdateIteration request": {
            "$ref": "./examples/UpdateIteration.json"
          }
        }
      }
    },
    "/projects/{projectId}/iterations/{iterationId}/export": {
      "get": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Get the list of exports for a specific iteration.",
        "operationId": "GetExports",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "path",
            "description": "The iteration id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Export"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetExports request": {
            "$ref": "./examples/GetExports.json"
          }
        }
      },
      "post": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Export a trained iteration.",
        "operationId": "ExportIteration",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "path",
            "description": "The iteration id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "platform",
            "in": "query",
            "description": "The target platform.",
            "required": true,
            "type": "string",
            "enum": [
              "CoreML",
              "TensorFlow",
              "DockerFile",
              "ONNX",
              "VAIDK"
            ]
          },
          {
            "name": "flavor",
            "in": "query",
            "description": "The flavor of the target platform.",
            "required": false,
            "type": "string",
            "enum": [
              "Linux",
              "Windows",
              "ONNX10",
              "ONNX12",
              "ARM",
              "TensorFlowNormal",
              "TensorFlowLite"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful ExportIteration request": {
            "$ref": "./examples/ExportIteration.json"
          }
        }
      }
    },
    "/projects/{projectId}/iterations/{iterationId}/performance": {
      "get": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Get detailed performance information about an iteration.",
        "operationId": "GetIterationPerformance",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project the iteration belongs to.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "path",
            "description": "The id of the iteration to get.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "threshold",
            "in": "query",
            "description": "The threshold used to determine true predictions.",
            "required": false,
            "type": "number",
            "format": "float"
          },
          {
            "name": "overlapThreshold",
            "in": "query",
            "description": "If applicable, the bounding box overlap threshold used to determine true predictions.",
            "required": false,
            "type": "number",
            "format": "float"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IterationPerformance"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetIterationPerformance request": {
            "$ref": "./examples/GetIterationPerformance.json"
          }
        }
      }
    },
    "/projects/{projectId}/iterations/{iterationId}/performance/images": {
      "get": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Get image with its prediction for a given project iteration.",
        "description": "This API supports batching and range selection. By default it will only return first 50 images matching images.\r\nUse the {take} and {skip} parameters to control how many images to return in a given batch.\r\nThe filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned",
        "operationId": "GetImagePerformances",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "path",
            "description": "The iteration id. Defaults to workspace.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 20,
            "minItems": 0
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The ordering. Defaults to newest.",
            "required": false,
            "type": "string",
            "enum": [
              "Newest",
              "Oldest"
            ]
          },
          {
            "name": "take",
            "in": "query",
            "description": "Maximum number of images to return. Defaults to 50, limited to 256.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 50,
            "maximum": 256,
            "minimum": 0
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of images to skip before beginning the image batch. Defaults to 0.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ImagePerformance"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetImagePerformances request": {
            "$ref": "./examples/GetImagePerformances.json"
          }
        }
      }
    },
    "/projects/{projectId}/iterations/{iterationId}/performance/images/count": {
      "get": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Gets the number of images tagged with the provided {tagIds} that have prediction results from\r\ntraining for the provided iteration {iterationId}.",
        "description": "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned",
        "operationId": "GetImagePerformanceCount",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "path",
            "description": "The iteration id. Defaults to workspace.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "A list of tags ids to filter the images to count. Defaults to all tags when null.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetImagePerformanceCount request": {
            "$ref": "./examples/GetImagePerformanceCount.json"
          }
        }
      }
    },
    "/projects/{projectId}/iterations/{iterationId}/publish": {
      "post": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Publish a specific iteration.",
        "operationId": "PublishIteration",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "path",
            "description": "The iteration id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "publishName",
            "in": "query",
            "description": "The name to give the published iteration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "predictionId",
            "in": "query",
            "description": "The id of the prediction resource to publish to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Whether to overwrite the published model with the given name (default: false).",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful PublishIteration request": {
            "$ref": "./examples/PublishIteration.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Unpublish a specific iteration.",
        "operationId": "UnpublishIteration",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "path",
            "description": "The iteration id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful UnpublishIteration request": {
            "$ref": "./examples/UnpublishIteration.json"
          }
        }
      }
    },
    "/projects/{projectId}/predictions": {
      "delete": {
        "tags": [
          "PredictionsApi"
        ],
        "summary": "Delete a set of predicted images and their associated prediction results.",
        "operationId": "DeletePrediction",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "ids",
            "in": "query",
            "description": "The prediction ids. Limited to 64.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 64,
            "minItems": 0
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful DeletePrediction request": {
            "$ref": "./examples/DeletePrediction.json"
          }
        }
      }
    },
    "/projects/{projectId}/predictions/query": {
      "post": {
        "tags": [
          "PredictionsApi"
        ],
        "summary": "Get images that were sent to your prediction endpoint.",
        "operationId": "QueryPredictions",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "query",
            "in": "body",
            "description": "Parameters used to query the predictions. Limited to combining 2 tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictionQueryToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictionQueryResult"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful QueryPredictions request": {
            "$ref": "./examples/QueryPredictions.json"
          }
        }
      }
    },
    "/projects/{projectId}/quicktest/image": {
      "post": {
        "tags": [
          "PredictionsApi"
        ],
        "summary": "Quick test an image.",
        "operationId": "QuickTestImage",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "store",
            "in": "query",
            "description": "Optional. Specifies whether or not to store the result of this prediction. The default is true, to store.",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "name": "imageData",
            "in": "formData",
            "description": "Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 6MB.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImagePrediction"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful QuickTestImage request": {
            "$ref": "./examples/QuickTestImage.json"
          }
        }
      }
    },
    "/projects/{projectId}/quicktest/url": {
      "post": {
        "tags": [
          "PredictionsApi"
        ],
        "summary": "Quick test an image url.",
        "operationId": "QuickTestImageUrl",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project to evaluate against.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "imageUrl",
            "in": "body",
            "description": "An ImageUrl that contains the url of the image to be evaluated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageUrl"
            }
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "store",
            "in": "query",
            "description": "Optional. Specifies whether or not to store the result of this prediction. The default is true, to store.",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImagePrediction"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful QuickTestImageUrl request": {
            "$ref": "./examples/QuickTestImageUrl.json"
          }
        }
      }
    },
    "/projects/{projectId}/tags": {
      "get": {
        "tags": [
          "TagsApi"
        ],
        "summary": "Get the tags for a given project and iteration.",
        "operationId": "GetTags",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The iteration id. Defaults to workspace.",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Tag"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetTags request": {
            "$ref": "./examples/GetTags.json"
          }
        }
      },
      "post": {
        "tags": [
          "TagsApi"
        ],
        "summary": "Create a tag for the project.",
        "operationId": "CreateTag",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "name",
            "in": "query",
            "description": "The tag name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Optional description for the tag.",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Optional type for the tag.",
            "required": false,
            "type": "string",
            "enum": [
              "Regular",
              "Negative",
              "GeneralProduct"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful CreateTag request": {
            "$ref": "./examples/CreateTag.json"
          }
        }
      }
    },
    "/projects/{projectId}/tags/{tagId}": {
      "get": {
        "tags": [
          "TagsApi"
        ],
        "summary": "Get information about a specific tag.",
        "operationId": "GetTag",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project this tag belongs to.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "The tag id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The iteration to retrieve this tag from. Optional, defaults to current training set.",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GetTag request": {
            "$ref": "./examples/GetTag.json"
          }
        }
      },
      "delete": {
        "tags": [
          "TagsApi"
        ],
        "summary": "Delete a tag from the project.",
        "operationId": "DeleteTag",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "Id of the tag to be deleted.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful DeleteTag request": {
            "$ref": "./examples/DeleteTag.json"
          }
        }
      },
      "patch": {
        "tags": [
          "TagsApi"
        ],
        "summary": "Update a tag.",
        "operationId": "UpdateTag",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "The id of the target tag.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "updatedTag",
            "in": "body",
            "description": "The updated tag model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful UpdateTag request": {
            "$ref": "./examples/UpdateTag.json"
          }
        }
      }
    },
    "/projects/{projectId}/tagsandregions/suggestions": {
      "post": {
        "tags": [
          "SuggestTagsAndRegionsApi"
        ],
        "summary": "Suggest tags and regions for an array/batch of untagged images. Returns empty array if no tags are found.",
        "description": "This API will get suggested tags and regions for an array/batch of untagged images along with confidences for the tags. It returns an empty array if no tags are found.\r\nThere is a limit of 64 images in the batch.",
        "operationId": "SuggestTagsAndRegions",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "IterationId to use for tag and region suggestion.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "imageIds",
            "in": "query",
            "description": "Array of image ids tag suggestion are needed for. Use GetUntaggedImages API to get imageIds.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "collectionFormat": "csv",
            "maxItems": 64,
            "minItems": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SuggestedTagAndRegion"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful SuggestTagsAndRegions request": {
            "$ref": "./examples/SuggestTagsAndRegions.json"
          }
        }
      }
    },
    "/projects/{projectId}/train": {
      "post": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Queues project for training.",
        "operationId": "TrainProject",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-nullable": false
          },
          {
            "name": "trainingType",
            "in": "query",
            "description": "The type of training to use to train the project (default: Regular).",
            "required": false,
            "type": "string",
            "enum": [
              "Regular",
              "Advanced"
            ]
          },
          {
            "name": "reservedBudgetInHours",
            "in": "query",
            "description": "The number of hours reserved as budget for training (if applicable).",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "forceTrain",
            "in": "query",
            "description": "Whether to force train even if dataset and configuration does not change (default: false).",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "notificationEmailAddress",
            "in": "query",
            "description": "The email address to send notification to when training finishes (default: null).",
            "required": false,
            "type": "string"
          },
          {
            "name": "trainingParameters",
            "in": "body",
            "description": "Additional training parameters passed in to control how the project is trained.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TrainingParameters"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Iteration"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful TrainProject request": {
            "$ref": "./examples/TrainProject.json"
          }
        }
      }
    },
    "/projects/import": {
      "post": {
        "tags": [
          "ProjectApi"
        ],
        "summary": "Imports a project.",
        "operationId": "ImportProject",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Token generated from the export project call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Optional, name of the project to use instead of auto-generated name.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/CustomVisionError"
            }
          }
        },
[...]
