{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "version": "2023-08-22-preview",
    "description": "PushAgentV2Account Provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PushAgentV2Account"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCIS/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations PushAgentV2Account": {
            "$ref": "./examples/PushAgentV2Account_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/pushAgentV2Accounts": {
      "get": {
        "operationId": "PushAgentV2Account_ListBySubscription",
        "tags": [
          "PushAgentV2Account"
        ],
        "description": "List PushAgentV2AccountResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PushAgentV2AccountResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription PushAgentV2Account": {
            "$ref": "./examples/PushAgentV2Account_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/pushAgentV2Accounts": {
      "get": {
        "operationId": "PushAgentV2Account_ListByResourceGroup",
        "tags": [
          "PushAgentV2Account"
        ],
        "description": "List PushAgentV2AccountResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PushAgentV2AccountResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup PushAgentV2Account": {
            "$ref": "./examples/PushAgentV2Account_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/pushAgentV2Accounts/{resourceName}": {
      "get": {
        "operationId": "PushAgentV2Account_Get",
        "tags": [
          "PushAgentV2Account"
        ],
        "description": "Get a PushAgentV2AccountResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PushAgentV2AccountResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get PushAgentV2Account": {
            "$ref": "./examples/PushAgentV2Account_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PushAgentV2Account_CreateOrUpdate",
        "tags": [
          "PushAgentV2Account"
        ],
        "description": "Create a PushAgentV2AccountResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushAgentV2AccountResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PushAgentV2AccountResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PushAgentV2AccountResource"
            }
          },
          "201": {
            "description": "Resource 'PushAgentV2AccountResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PushAgentV2AccountResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create PushAgentV2Account": {
            "$ref": "./examples/PushAgentV2Account_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "PushAgentV2AccountProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "PushAgentV2AccountProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "PushAgentV2AccountResource": {
      "type": "object",
      "description": "PushAgentV2Account Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PushAgentV2AccountResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PushAgentV2AccountResourceListResult": {
      "type": "object",
      "description": "The response of a PushAgentV2AccountResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PushAgentV2AccountResource items on this page",
          "items": {
            "$ref": "#/definitions/PushAgentV2AccountResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "readOnly": true
        }
      },
      "required": [
        "value"
      ]
    },
    "PushAgentV2AccountResourceProperties": {
      "type": "object",
      "description": "PushAgentV2Account properties",
      "properties": {
        "environment": {
          "type": "string",
          "description": "Geneva environment. Test or Prod. Default is Prod."
        },
        "resourceProvider": {
          "type": "string",
          "description": "PAv2 Resource Provider name."
        },
        "location": {
          "type": "string",
          "description": "PAv2 location. It's the same as the CIS region name."
        },
        "storageAccount": {
          "type": "string",
          "description": "Storage Account to onboard."
        },
        "accountType": {
          "type": "string",
          "description": "The type of the account where the storage account secret is stored. It can be dSMS, KeyVault, or Gsm."
        },
        "endpointSuffix": {
          "type": "string",
          "description": "The endpoint suffix of the Storage Account"
        },
        "secretPath": {
          "type": "string",
          "description": "Absolute URL to the secret where storage account SAS token is stored. The secret path of storage account key."
        },
        "usageReportingQueue": {
          "type": "string",
          "description": "Usage reporting queue name."
        },
        "usageReportingTable": {
          "type": "string",
          "description": "Usage reporting table name."
        },
        "errorReportingQueue": {
          "type": "string",
          "description": "Error Reporting Queue name."
        },
        "errorReportingTable": {
          "type": "string",
          "description": "Error Reporting Table name."
        },
        "armLocation": {
          "type": "string",
          "description": "The ARM location of the Storage Account. ARM location is different from PAv2/CIS location, e.g. eastus VS. useast."
        },
        "tenantId": {
          "type": "string",
          "description": "Tenant ID of the Subscription."
        },
        "provisioningState": {
          "$ref": "#/definitions/PushAgentV2AccountProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "resourceProvider",
        "location",
        "storageAccount",
        "accountType",
        "secretPath",
        "usageReportingQueue",
        "usageReportingTable",
        "errorReportingQueue",
        "errorReportingTable",
        "armLocation",
        "tenantId"
      ]
    },
    "Versions": {
      "type": "string",
      "description": "Supported versions.",
      "enum": [
        "2023-08-22-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2023_08_22_preview",
            "value": "2023-08-22-preview",
            "description": "API version 2023-08-22-preview"
          }
        ]
      }
    }
  },
  "parameters": {}
}
