{
  "swagger": "2.0",
  "info": {
    "title": "WANDisco Fusion",
    "description": "WANDisco Fusion",
    "version": "2019-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Wandisco.Fusion/fusionGroups": {
      "get": {
        "tags": [
          "fusionGroups"
        ],
        "description": "Returns list of fusionGroups under subscription.",
        "operationId": "FusionGroups_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "fusionGroups details.",
            "schema": {
              "$ref": "#/definitions/FusionGroupList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get fusion groups list": {
            "$ref": "./examples/FusionGroup/FusionGroupsListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups": {
      "get": {
        "tags": [
          "fusionGroups"
        ],
        "description": "Returns list of fusionGroups.",
        "operationId": "FusionGroups_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "fusionGroups details.",
            "schema": {
              "$ref": "#/definitions/FusionGroupList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get fusion groups list": {
            "$ref": "./examples/FusionGroup/FusionGroupsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}": {
      "get": {
        "tags": [
          "fusionGroup"
        ],
        "description": "Returns a given FusionGroup.",
        "operationId": "FusionGroups_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "fusionGroup details.",
            "schema": {
              "$ref": "#/definitions/FusionGroup"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get fusionGroup details.": {
            "$ref": "./examples/FusionGroup/FusionGroupGet.json"
          },
          "Get fusionGroup details including HealthStatus": {
            "$ref": "./examples/FusionGroup/FusionGroupGetWithHealthStatus.json"
          }
        }
      },
      "put": {
        "tags": [
          "fusionGroup"
        ],
        "description": "Create or update fusionGroup resource.",
        "operationId": "FusionGroups_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "name": "fusionGroup",
            "description": "fusionGroup details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FusionGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/FusionGroup"
            }
          },
          "201": {
            "description": "Creating.",
            "schema": {
              "$ref": "#/definitions/FusionGroup"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create simple fusionGroup": {
            "$ref": "./examples/FusionGroup/FusionGroupCreate.json"
          },
          "Create fusionGroup with label": {
            "$ref": "./examples/FusionGroup/FusionGroupCreateWithLabel.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "fusionGroup"
        ],
        "description": "Delete a fusionGroup resource.",
        "operationId": "FusionGroups_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Fusion Group was successfully deleted"
          },
          "204": {
            "description": "The Fusion Group was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful delete": {
            "$ref": "./examples/FusionGroup/FusionGroupDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "fusionGroup"
        ],
        "description": "Patches a fusionGroup resource.",
        "operationId": "FusionGroups_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "name": "fusionGroup",
            "description": "fusionGroup details.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FusionGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Fusion Group was successfully updated",
            "schema": {
              "$ref": "#/definitions/FusionGroup"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful Patch": {
            "$ref": "./examples/FusionGroup/FusionGroupPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/azureZones": {
      "get": {
        "tags": [
          "azureZones"
        ],
        "description": "Returns list of azureZones.",
        "operationId": "AzureZones_ListByFusionGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "azureZones details.",
            "schema": {
              "$ref": "#/definitions/AzureZoneList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Create Azure Zone": {
            "$ref": "./examples/FusionGroup/AzureZoneList.json"
          },
          "Get Azure Zone": {
            "$ref": "./examples/FusionGroup/AzureZoneResourceList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/azureZones/{azureZoneName}": {
      "get": {
        "tags": [
          "azureZone"
        ],
        "description": "Returns a given azureZone.",
        "operationId": "AzureZones_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/AzureZoneParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "azureZone details.",
            "schema": {
              "$ref": "#/definitions/AzureZone"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Zone by name": {
            "$ref": "./examples/FusionGroup/AzureZoneGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "azureZone"
        ],
        "description": "Creates a given azureZone.",
        "operationId": "AzureZones_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/AzureZoneParameter"
          },
          {
            "name": "azureZone",
            "description": "azureZone details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureZone"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Fusion Azure Zone.",
            "schema": {
              "$ref": "#/definitions/AzureZone"
            }
          },
          "201": {
            "description": "Installing Fusion Azure Zone.",
            "schema": {
              "$ref": "#/definitions/AzureZone"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Azure Zone": {
            "$ref": "./examples/FusionGroup/AzureZoneCreate.json"
          },
          "Create Azure Zone High Availability": {
            "$ref": "./examples/FusionGroup/AzureZoneCreateHA.json"
          },
          "Create Azure Zone with Managed Identity": {
            "$ref": "./examples/FusionGroup/AzureZoneCreateManagedIdentity.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "azureZone"
        ],
        "description": "Updates a given azureZone.",
        "operationId": "AzureZones_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/AzureZoneParameter"
          },
          {
            "name": "azureZone",
            "description": "azureZone update fields.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Fusion Azure Zone.",
            "schema": {
              "$ref": "#/definitions/AzureZone"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful Patch": {
            "$ref": "./examples/FusionGroup/AzureZonePatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "azureZone"
        ],
        "description": "Deletes a given azureZone.",
        "operationId": "AzureZones_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/AzureZoneParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Azure Zone was successfully deleted"
          },
          "202": {
            "description": "The Azure Zone was accepted for deletion"
          },
          "204": {
            "description": "The Azure Zone was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful delete": {
            "$ref": "./examples/FusionGroup/AzureZoneDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/azureZones/{azureZoneName}/plugins": {
      "get": {
        "tags": [
          "Plugins"
        ],
        "description": "Returns a list of AzureZone Plugin",
        "operationId": "Plugins_ListByAzureZone",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/AzureZoneParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of PluginDetails",
            "schema": {
              "$ref": "#/definitions/PluginList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Plugin": {
            "$ref": "./examples/FusionGroup/PluginList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/azureZones/{azureZoneName}/plugins/{pluginName}": {
      "get": {
        "tags": [
          "Plugins"
        ],
        "description": "Returns an AzureZone Plugin",
        "operationId": "Plugins_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/AzureZoneParameter"
          },
          {
            "$ref": "#/parameters/PluginsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "PluginDetails",
            "schema": {
              "$ref": "#/definitions/Plugin"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Plugin": {
            "$ref": "./examples/FusionGroup/PluginGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "Plugins"
        ],
        "description": "Creates or updates a Plugin",
        "operationId": "Plugins_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/AzureZoneParameter"
          },
          {
            "$ref": "#/parameters/PluginsParameter"
          },
          {
            "name": "plugin",
            "description": "plugin details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Plugin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Plugin.",
            "schema": {
              "$ref": "#/definitions/Plugin"
            }
          },
          "201": {
            "description": "Creating Plugin.",
            "schema": {
              "$ref": "#/definitions/Plugin"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creating Plugin": {
            "$ref": "./examples/FusionGroup/PluginCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "Plugins"
        ],
        "description": "Updates a Plugin",
        "operationId": "Plugins_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/AzureZoneParameter"
          },
          {
            "$ref": "#/parameters/PluginsParameter"
          },
          {
            "name": "plugin",
            "description": "plugin update details.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Plugin.",
            "schema": {
              "$ref": "#/definitions/Plugin"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Plugin Patch": {
            "$ref": "./examples/FusionGroup/PluginPatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Plugins"
        ],
        "description": "Deletes a given Plugin.",
        "operationId": "Plugins_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/AzureZoneParameter"
          },
          {
            "$ref": "#/parameters/PluginsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Plugin was successfully deleted"
          },
          "202": {
            "description": "The Plugin was accepted for deletion"
          },
          "204": {
            "description": "The Plugin was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful delete": {
            "$ref": "./examples/FusionGroup/PluginDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/replicationRules": {
      "get": {
        "tags": [
          "replicationRules"
        ],
        "description": "List of replication rules",
        "operationId": "ReplicationRules_ListByFusionGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "replicationRule details",
            "schema": {
              "$ref": "#/definitions/ReplicationRulesList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Replication Rules": {
            "$ref": "./examples/FusionGroup/ReplicationRulesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/replicationRules/{replicationRuleName}": {
      "get": {
        "tags": [
          "replicationRule"
        ],
        "description": "Return a given replicationRule",
        "operationId": "ReplicationRules_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "replicationRule details",
            "schema": {
              "$ref": "#/definitions/ReplicationRule"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Replication Rule": {
            "$ref": "./examples/FusionGroup/ReplicationRuleGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "replicationRule"
        ],
        "description": "Create or update a replicationRule",
        "operationId": "ReplicationRules_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          },
          {
            "name": "replicationRule",
            "description": "replicationRule details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplicationRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Fusion Replication Rule.",
            "schema": {
              "$ref": "#/definitions/ReplicationRule"
            }
          },
          "201": {
            "description": "Creating Fusion Replication Rule.",
            "schema": {
              "$ref": "#/definitions/ReplicationRule"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Replication Rule": {
            "$ref": "./examples/FusionGroup/ReplicationRuleCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "replicationRule"
        ],
        "description": "Update a replicationRule",
        "operationId": "ReplicationRules_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          },
          {
            "name": "replicationRule",
            "description": "replicationRule update details",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Fusion Replication Rule.",
            "schema": {
              "$ref": "#/definitions/ReplicationRule"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Replication Rule": {
            "$ref": "./examples/FusionGroup/ReplicationRulePatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "replicationRule"
        ],
        "description": "Delete a replicationRule",
        "operationId": "ReplicationRules_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Replication Rule was successfully deleted"
          },
          "202": {
            "description": "The Replication Rule was accepted for deletion"
          },
          "204": {
            "description": "The Replication Rule was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful delete": {
            "$ref": "./examples/FusionGroup/ReplicationRuleDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/replicationRules/{replicationRuleName}/consistencyCheck": {
      "post": {
        "tags": [
          "Consistency Check"
        ],
        "description": "Trigger a consistency check on a Replication Rule",
        "operationId": "ReplicationRules_ConsistencyCheck",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "consistencyCheckOptions",
            "description": "Consistency Check options",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConsistencyCheckOptions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request to consistency check the path was accepted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful start of Consistency Check": {
            "$ref": "./examples/FusionGroup/ConsistencyCheckStart.json"
          }
        }
      }
    },
    "/providers/Wandisco.Fusion/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available RP operations.",
        "operationId": "Operations_list",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Wandisco.Fusion Operations": {
            "$ref": "./examples/WandiscoFusionListOperations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/managedOnPremZones": {
      "get": {
        "tags": [
          "managedOnPremZone"
        ],
        "description": "Returns list of ManagedOnPremZones.",
        "operationId": "ManagedOnPremZones_ListByFusionGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "managedOnPremZone details.",
            "schema": {
              "$ref": "#/definitions/ManagedOnPremZoneList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get On Prem Zone list": {
            "$ref": "./examples/FusionGroup/ManagedOnPremZoneList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/managedOnPremZones/{managedOnPremZoneName}": {
      "get": {
        "tags": [
          "managedOnPremZone"
        ],
        "description": "Returns a given ManagedOnPremZone.",
        "operationId": "ManagedOnPremZones_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ManagedOnPremZoneParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "managedOnPremZone details.",
            "schema": {
              "$ref": "#/definitions/ManagedOnPremZone"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ManagedOnPrem Zone by name": {
            "$ref": "./examples/FusionGroup/ManagedOnPremZoneGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "managedOnPremZone"
        ],
        "description": "Creates a managed OnPremZone.",
        "operationId": "ManagedOnPremZones_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ManagedOnPremZoneParameter"
          },
          {
            "name": "ManagedOnPremZone",
            "description": "managedOnPremZone details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedOnPremZone"
            }
          }
        ],
        "x-ms-examples": {
          "Create Managed OnPrem Zone": {
            "$ref": "./examples/FusionGroup/ManagedOnPremZoneCreate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Updating OnPrem Zone.",
            "schema": {
              "$ref": "#/definitions/ManagedOnPremZone"
            }
          },
          "201": {
            "description": "Creating Managed OnPrem Zone.",
            "schema": {
              "$ref": "#/definitions/ManagedOnPremZone"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "managedOnPremZone"
        ],
        "description": "Updates a given ManagedOnPremZone.",
        "operationId": "ManagedOnPremZones_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ManagedOnPremZoneParameter"
          },
          {
            "name": "ManagedOnPremZone",
            "description": "managedOnPremZone update details.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating ManagedOnPrem Zone.",
            "schema": {
              "$ref": "#/definitions/ManagedOnPremZone"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful Patch": {
            "$ref": "./examples/FusionGroup/ManagedOnPremZonePatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "managedOnPremZone"
        ],
        "description": "Deletes a given ManagedOnPremZone.",
        "operationId": "ManagedOnPremZones_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ManagedOnPremZoneParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The ManagedOnPrem Zone was successfully deleted"
          },
          "202": {
            "description": "The ManagedOnPrem Zone was accepted for deletion"
          },
          "204": {
            "description": "The ManagedOnPrem Zone was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful delete": {
            "$ref": "./examples/FusionGroup/ManagedOnPremZoneDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/managedOnPremZones/{managedOnPremZoneName}/induct": {
      "post": {
        "tags": [
          "managedOnPremZone"
        ],
        "description": "Induct a managed OnPremZone.",
        "operationId": "ManagedOnPremZones_Induct",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ManagedOnPremZoneParameter"
          }
        ],
        "x-ms-examples": {
          "Induct a Managed OnPrem Zone": {
            "$ref": "./examples/FusionGroup/ManagedOnPremZoneInduct.json"
          }
        },
        "responses": {
          "200": {
            "description": "Induction request completed."
          },
          "202": {
            "description": "Induction request accepted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/managedOnPremZones/{managedOnPremZoneName}/updateDownloadLocation": {
      "post": {
        "tags": [
          "managedOnPremZone"
        ],
        "description": "Update the downloadLocation of the Managed OnPrem Zone.",
        "operationId": "ManagedOnPremZones_UpdateDownloadLocation",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ManagedOnPremZoneParameter"
          }
        ],
        "x-ms-examples": {
          "Update DownloadLocation for Managed OnPrem Zone": {
            "$ref": "./examples/FusionGroup/ManagedOnPremZoneUpdateDownloadLocation.json"
          }
        },
        "responses": {
          "200": {
            "description": "Update download location request completed."
          },
          "202": {
            "description": "Update download location request accepted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Wandisco.Fusion/migrators": {
      "get": {
        "tags": [
          "migrators"
        ],
        "description": "Returns list of migrators under subscription.",
        "operationId": "Migrators_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migrators details.",
            "schema": {
              "$ref": "#/definitions/MigratorList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get fusion groups list": {
            "$ref": "./examples/LiveDataMigrator/MigratorsListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators": {
      "get": {
        "tags": [
          "migrator"
        ],
        "description": "Returns list of Migrators.",
        "operationId": "Migrators_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migrator details.",
            "schema": {
              "$ref": "#/definitions/MigratorList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Migrators list": {
            "$ref": "./examples/LiveDataMigrator/MigratorList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}": {
      "get": {
        "tags": [
          "migrator"
        ],
        "description": "Returns a given Migrator.",
        "operationId": "Migrators_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migrator details.",
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Migrator by name": {
            "$ref": "./examples/LiveDataMigrator/MigratorGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "migrator"
        ],
        "description": "Creates a Migrator.",
        "operationId": "Migrators_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "name": "Migrator",
            "description": "migrator details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          }
        ],
        "x-ms-examples": {
          "Create Migrator": {
            "$ref": "./examples/LiveDataMigrator/MigratorCreate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Updating Migrator.",
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          },
          "201": {
            "description": "Creating Migrator.",
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "migrator"
        ],
        "description": "Updates a given Migrator.",
        "operationId": "Migrators_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "name": "Migrator",
            "description": "migrator update details.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Migrator.",
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful Patch": {
            "$ref": "./examples/LiveDataMigrator/MigratorPatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "migrator"
        ],
        "description": "Deletes a given Migrator.",
        "operationId": "Migrators_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Migrator was successfully deleted"
          },
          "202": {
            "description": "The Migrator was accepted for deletion"
          },
          "204": {
            "description": "The Migrator was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful delete": {
            "$ref": "./examples/LiveDataMigrator/MigratorDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/updateDownloadLocation": {
      "post": {
        "tags": [
          "migrator"
        ],
        "description": "Update the downloadLocation of the Migrator.",
        "operationId": "Migrators_UpdateDownloadLocation",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "x-ms-examples": {
          "Refresh a Migrator": {
            "$ref": "./examples/LiveDataMigrator/MigratorUpdateDownloadLocation.json"
          }
        },
        "responses": {
          "200": {
            "description": "Update download location request completed."
          },
          "202": {
            "description": "Update download location request accepted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/liveDataMigrations": {
      "get": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "List migrations in the migrator",
        "operationId": "LiveDataMigrations_ListByMigrator",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LiveDataMigrationList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/liveDataMigrations/{migrationName}": {
      "get": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Read a migrator migration",
        "operationId": "LiveDataMigrations_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LiveDataMigration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Start a Migrator migration",
        "operationId": "LiveDataMigrations_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          },
          {
            "name": "migration",
            "description": "migration details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LiveDataMigration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LiveDataMigration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Delete a Migrator migration",
        "operationId": "LiveDataMigrations_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "204": {
            "description": "The migration was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Updates a given LiveDataMigration.",
        "operationId": "LiveDataMigrations_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          },
          {
            "name": "LiveDataMigration",
            "description": "LiveDataMigration update properties.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating LiveDataMigration",
            "schema": {
              "$ref": "#/definitions/LiveDataMigration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful Patch": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/liveDataMigrations/{migrationName}/start": {
      "post": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Start an existing migrator migration",
        "operationId": "LiveDataMigrations_Start",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationStart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/liveDataMigrations/{migrationName}/stop": {
      "post": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Stop a migrator migration",
        "operationId": "LiveDataMigrations_Stop",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Stop Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationStop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/targets": {
      "get": {
        "tags": [
          "migratorTarget"
        ],
        "description": "Returns list of Migrator Targets.",
        "operationId": "Targets_ListByMigrator",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migrator details.",
            "schema": {
              "$ref": "#/definitions/MigratorTargetList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Migrators list": {
            "$ref": "./examples/LiveDataMigrator/MigratorTargetList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/targets/{migratorTargetName}": {
      "get": {
        "tags": [
          "migratorTarget"
        ],
        "description": "Returns a given Migrator Target.",
        "operationId": "Targets_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigratorTargetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migrator target details.",
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Migrator Target by name": {
            "$ref": "./examples/LiveDataMigrator/MigratorTargetGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "migratorTarget"
        ],
        "description": "Creates a Migrator Target.",
        "operationId": "Targets_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigratorTargetNameParameter"
          },
          {
            "name": "MigratorTarget",
            "description": "migrator target details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          }
        ],
        "x-ms-examples": {
          "Create Migrator": {
            "$ref": "./examples/LiveDataMigrator/MigratorTargetCreate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Updating Migrator Target.",
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          },
          "201": {
            "description": "Creating Migrator Target.",
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "migratorTarget"
        ],
        "description": "Updates a given Migrator Target.",
        "operationId": "Targets_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigratorTargetNameParameter"
          },
          {
            "name": "Migrator Target",
            "description": "migrator target update details.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Migrator Target.",
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful Patch": {
            "$ref": "./examples/LiveDataMigrator/MigratorTargetPatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "migratorTarget"
        ],
        "description": "Deletes a given Migrator Target.",
        "operationId": "Targets_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigratorTargetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Migrator Target was successfully deleted"
          },
          "202": {
            "description": "The Migrator Target was accepted for deletion"
          },
          "204": {
            "description": "The Migrator Target was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful delete": {
            "$ref": "./examples/LiveDataMigrator/MigratorTargetDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/replicationRules/{replicationRuleName}/migrations": {
      "get": {
        "tags": [
          "Migrations"
        ],
        "description": "List migrations in replication rule",
        "operationId": "Migrations_ListByReplicationRule",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MigrationList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Migration": {
            "$ref": "./examples/FusionGroup/MigrationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/replicationRules/{replicationRuleName}/migrations/{migrationName}": {
      "get": {
        "tags": [
          "Migrations"
        ],
        "description": "Read migration",
        "operationId": "Migrations_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Migration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Migration": {
            "$ref": "./examples/FusionGroup/MigrationGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "Migrations"
        ],
        "description": "Start a migration",
        "operationId": "Migrations_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          },
          {
            "name": "migration",
            "description": "migration details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Migration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Migration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Migration": {
            "$ref": "./examples/FusionGroup/MigrationCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Migrations"
        ],
        "description": "Delete a migration",
        "operationId": "Migrations_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "204": {
            "description": "The migration was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Migration": {
            "$ref": "./examples/FusionGroup/MigrationDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/replicationRules/{replicationRuleName}/migrations/{migrationName}/pause": {
      "post": {
        "tags": [
          "Migrations"
        ],
        "description": "Pause a migration",
        "operationId": "Migrations_Pause",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pause Migration": {
            "$ref": "./examples/FusionGroup/MigrationPause.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/replicationRules/{replicationRuleName}/migrations/{migrationName}/resume": {
      "post": {
        "tags": [
          "Migrations"
        ],
        "description": "Resume a migration",
        "operationId": "Migrations_Resume",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pause Migration": {
            "$ref": "./examples/FusionGroup/MigrationResume.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/replicationRules/{replicationRuleName}/migrations/{migrationName}/abort": {
      "post": {
        "tags": [
          "Migrations"
        ],
        "description": "Abort a migration",
        "operationId": "Migrations_Abort",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/ReplicationRuleNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pause Migration": {
            "$ref": "./examples/FusionGroup/MigrationAbort.json"
          }
        }
      }
    },
    "/providers/Wandisco.Fusion/locations/{locationName}/operationStatuses/{operationStatusId}": {
      "get": {
        "tags": [
          "operationStatus"
        ],
        "description": "Return the given operationStatus.",
        "operationId": "OperationStatuses_Get",
        "parameters": [
          {
            "$ref": "#/parameters/LocationNameParameter"
          },
          {
            "$ref": "#/parameters/OperationStatusIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
          ],
        "responses": {
          "200": {
            "description": "operationStatus details.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful get": {
            "$ref": "./examples/FusionGroup/OperationStatusGet.json"
          },
          "Successful get of failed operation": {
            "$ref": "./examples/FusionGroup/OperationStatusGetError.json"
          }
        }
      },
      "patch": {
        "tags": [
          "operationStatus"
        ],
        "description": "Patches a given operationStatus.",
        "operationId": "OperationStatuses_Update",
        "parameters": [
          {
            "$ref": "#/parameters/LocationNameParameter"
          },
          {
            "$ref": "#/parameters/OperationStatusIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "operationStatus",
            "description": "operationStatus details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "operationStatus details.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful update": {
            "$ref": "./examples/FusionGroup/OperationStatusPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/hiveReplicationRules": {
      "get": {
        "tags": [
          "hiveReplicationRules"
        ],
        "description": "List of hive replication rules",
        "operationId": "HiveReplicationRules_ListByFusionGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "replicationRule details",
            "schema": {
              "$ref": "#/definitions/HiveReplicationRulesList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Hive Replication Rules": {
            "$ref": "./examples/FusionGroup/HiveReplicationRulesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/hiveReplicationRules/{hiveReplicationRuleName}": {
      "get": {
        "tags": [
          "hiveReplicationRule"
        ],
        "description": "Return a given hiveReplicationRule",
        "operationId": "HiveReplicationRules_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/HiveReplicationRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "hiveReplicationRule details",
            "schema": {
              "$ref": "#/definitions/HiveReplicationRule"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Hive Replication Rule": {
            "$ref": "./examples/FusionGroup/HiveReplicationRuleGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "hiveReplicationRule"
        ],
        "description": "Create or update a hiveReplicationRule",
        "operationId": "HiveReplicationRules_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/HiveReplicationRuleNameParameter"
          },
          {
            "name": "hiveReplicationRule",
            "description": "hiveReplicationRule details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HiveReplicationRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Fusion Hive Replication Rule.",
            "schema": {
              "$ref": "#/definitions/HiveReplicationRule"
            }
          },
          "201": {
            "description": "Creating Fusion Hive Replication Rule.",
            "schema": {
              "$ref": "#/definitions/HiveReplicationRule"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Hive Replication Rule": {
            "$ref": "./examples/FusionGroup/HiveReplicationRuleCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "hiveReplicationRule"
        ],
        "description": "Update a hiveReplicationRule",
        "operationId": "HiveReplicationRules_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/HiveReplicationRuleNameParameter"
          },
          {
            "name": "hiveReplicationRule",
            "description": "hiveReplicationRule update details",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Fusion Hive Replication Rule.",
            "schema": {
              "$ref": "#/definitions/HiveReplicationRule"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Hive Replication Rule": {
            "$ref": "./examples/FusionGroup/HiveReplicationRulePatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "hiveReplicationRule"
        ],
        "description": "Delete a hiveReplicationRule",
        "operationId": "HiveReplicationRules_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/HiveReplicationRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Hive Replication Rule was successfully deleted"
          },
          "202": {
            "description": "The Hive Replication Rule was accepted for deletion"
          },
          "204": {
            "description": "The Hive Replication Rule was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful delete": {
            "$ref": "./examples/FusionGroup/HiveReplicationRuleDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/fusionGroups/{fusionGroupName}/hiveReplicationRules/{hiveReplicationRuleName}/consistencyCheck": {
      "post": {
        "tags": [
          "Hive Consistency Check"
        ],
        "description": "Trigger a consistency check on a Hive Replication Rule",
        "operationId": "HiveReplicationRules_ConsistencyCheck",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FusionGroupParameter"
          },
          {
            "$ref": "#/parameters/HiveReplicationRuleNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request to consistency check the rule was accepted."
          },
          "204": {
            "description": "The rule to check is not present."
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful start of Consistency Check": {
            "$ref": "./examples/FusionGroup/HiveConsistencyCheckStart.json"
          }
        }
      }
    }
  },
  "definitions": {
    "TagsUpdate": {
      "description": "Resource tags",
      "type": "object",
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "title": "Proxy resource type",
      "description": "An azure proxy resource",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "VirtualMachineIdentity": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of identity used for the virtual machine.",
          "enum": [
            "UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "principalId": {
                "readOnly": true,
                "type": "string",
                "description": "The principal id of user assigned identity."
              },
              "clientId": {
                "readOnly": true,
                "type": "string",
                "description": "The client id of user assigned identity."
              }
            }
          },
          "description": "The list of user identities associated with the Virtual Machine. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
        }
      },
      "description": "Identity for the virtual machine."
    },
    "FusionGroup": {
      "type": "object",
      "description": "Fusion Group details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "title": "properties",
          "description": "fusion group properties",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "label": {
              "title": "Property Type",
              "description": "Property type label",
              "type": "string"
            },
            "provisioningState": {
              "title": "ProvisioningState",
              "description": "Provisioning State of resource",
              "$ref": "#/definitions/ProvisioningState",
              "readOnly": true
            },
            "healthStatus": {
              "title": "HealthStatus",
              "description": "The health of the Fusion Group",
              "$ref": "#/definitions/HealthStatus",
              "readOnly": true
            },
            "allowance": {
              "title": "Allowance",
              "description": "The remaining allowance for the company associated with the Fusion Group",
              "$ref": "#/definitions/Allowance",
              "readOnly": true
            }
          }
        },
        "plan": {
          "description": "Plan to use for Store purchase",
          "$ref": "#/definitions/Plan"
        }
      }
    },
    "FusionGroupList": {
      "description": "The list of Fusion Groups.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Fusion Groups list.",
          "type": "string"
        },
        "value": {
          "description": "The list of groups",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FusionGroup"
          }
        }
      }
    },
    "AzureZone": {
      "description": "Azure Zone",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "azure zone resource properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureZoneProperties"
        }
      }
    },
    "AzureZoneProperties": {
      "description": "azure zone properties",
      "properties": {
[...]
