{
  "swagger": "2.0",
  "info": {
    "version": "2020-11-01",
    "title": "Compute Admin Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/features/{featureName}": {
      "get": {
        "x-ms-examples": {
          "Get an existing feature.": {
            "$ref": "examples/Features/Get.json"
          }
        },
        "tags": [
          "Features"
        ],
        "summary": "Returns the requested feature.",
        "description": "Get an existing feature.",
        "operationId": "Features_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../preview/2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2015-12-01-preview/Compute.json#/parameters/LocationParameter"
          },
          {
            "$ref": "Features.json#/parameters/FeatureParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "Features.json#/definitions/Feature"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
            "schema": {
              "$ref": "../../preview/2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/features": {
      "get": {
        "x-ms-examples": {
          "Get a list of existing features.": {
            "$ref": "examples/Features/List.json"
          }
        },
        "tags": [
          "Features"
        ],
        "summary": "Lists all features.",
        "description": "Get a list of existing features.",
        "operationId": "Features_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../preview/2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2015-12-01-preview/Compute.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "Features.json#/definitions/FeatureList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
            "schema": {
              "$ref": "../../preview/2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/features/{featureName}/updateGlobalFeatureSettings": {
      "post": {
        "x-ms-examples": {
          "Update the feature settings.": {
            "$ref": "examples/Features/Update.json"
          }
        },
        "tags": [
          "Features"
        ],
        "summary": "Updates the global feature settings.",
        "description": "Update the feature settings.",
        "operationId": "UpdateGlobalFeatureSettings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../preview/2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2015-12-01-preview/Compute.json#/parameters/LocationParameter"
          },
          {
            "$ref": "Features.json#/parameters/FeatureParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Features.json#/parameters/GlobalFeatureSettingsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
            "schema": {
              "$ref": "../../preview/2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/features/{featureName}/enableTenantSubscriptionFeature": {
      "post": {
        "x-ms-examples": {
          "Enable the tenant subscription feature.": {
            "$ref": "examples/Features/Enable.json"
          }
        },
        "tags": [
          "Features"
        ],
        "summary": "Enables the requested feature in the tenant subscription.",
        "description": "Enable the tenant subscription feature.",
        "operationId": "EnableTenantSubscriptionFeature",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../preview/2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2015-12-01-preview/Compute.json#/parameters/LocationParameter"
          },
          {
            "$ref": "Features.json#/parameters/FeatureParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Features.json#/parameters/TenantSubscriptionFeatureSettingsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
            "schema": {
              "$ref": "../../preview/2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/features/{featureName}/disableTenantSubscriptionFeature": {
      "post": {
        "x-ms-examples": {
          "Disable the tenant subscription feature.": {
            "$ref": "examples/Features/Disable.json"
          }
        },
        "tags": [
          "Features"
        ],
        "summary": "Disables the requested feature in the tenant subscription.",
        "description": "Disable the tenant subscription feature.",
        "operationId": "DisableTenantSubscriptionFeature",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../preview/2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2015-12-01-preview/Compute.json#/parameters/LocationParameter"
          },
          {
            "$ref": "Features.json#/parameters/FeatureParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Features.json#/parameters/TenantSubscriptionFeatureSettingsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
            "schema": {
              "$ref": "../../preview/2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Feature": {
      "description": "Subscription features that can be toggled.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Feature properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FeatureProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../preview/2015-12-01-preview/Compute.json#/definitions/CrpResource"
        }
      ]
    },
    "FeatureProperties": {
      "description": "Properties of features.",
      "type": "object",
      "properties": {
        "featureName": {
          "description": "The name of the feature.",
          "type": "string"
        },
        "globalFeatureSettings": {
          "description": "Higher-priority global feature flags.",
          "$ref": "#/definitions/GlobalFeatureSettings"
        },
        "enabledTenantSubscriptionIds": {
          "description": "List of subscription identifiers which have the feature enabled.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GlobalFeatureSettings": {
      "description": "Higher-priority global feature flags.",
      "type": "object",
      "properties": {
        "globalFeatureState": {
          "description": "The state of the global feature.",
          "$ref": "#/definitions/GlobalFeatureState"
        }
      }
    },
    "GlobalFeatureState": {
      "description": "The state of the global feature.",
      "enum": [
        "TenantSubscriptionLevel",
        "Enabled",
        "Disabled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "GlobalFeatureState"
      }
    },
    "FeatureList": {
      "type": "object",
      "description": "List features.",
      "properties": {
        "value": {
          "description": "List of features.",
          "type": "array",
          "items": {
            "$ref": "Features.json#/definitions/Feature"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    },
    "TenantSubscriptionFeatureSettings": {
      "type": "object",
      "description": "The feature settings for the tenant subscription.",
      "properties": {
        "tenantSubscriptionId": {
          "description": "The tenant subscription identifier.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "FeatureParameter": {
      "description": "Name of the feature.",
      "name": "featureName",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "GlobalFeatureSettingsParameter": {
      "description": "The global feature state to update.",
      "name": "globalFeatureSettings",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/GlobalFeatureSettings"
      },
      "x-ms-parameter-location": "method"
    },
    "TenantSubscriptionFeatureSettingsParameter": {
      "description": "The tenant subscription feature settings to enable or disable.",
      "name": "tenantSubscriptionFeatureSettings",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/TenantSubscriptionFeatureSettings"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
