{
  "swagger": "2.0",
  "info": {
    "title": "IIDTManagementClient",
    "description": "Intelligent IT Digital Twin (IIDT) uses our proprietary discovery tool for corporate on-prem infrastructure and provisions its light-weight twin in Azure.",
    "version": "2020-07-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IntelligentITDigitalTwin/digitalTwins/{iidtName}": {
      "put": {
        "tags": [
          "ITDigitalTwins"
        ],
        "operationId": "ITDigitalTwins_CreateOrUpdate",
        "description": "The operation to create or update a IT Digital Twins.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "iidtName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the it digital twin."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ITDigitalTwin"
            },
            "description": "Parameters supplied to the Create it digital twin operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ITDigitalTwin"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create an IT Digital Twin.": {
            "$ref": "./examples/CreateAITDigitalTwin.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ITDigitalTwins"
        ],
        "operationId": "ITDigitalTwins_Update",
        "description": "The operation to update a it digital twins.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "iidtName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the it digital twin."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ITDigitalTwin"
            },
            "description": "Parameters supplied to the Update IT Digital Twin operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ITDigitalTwin"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an IT Digital Twin": {
            "$ref": "./examples/UpdateAITDigitalTwin.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ITDigitalTwins"
        ],
        "operationId": "ITDigitalTwins_Delete",
        "description": "The operation to delete a it digital twin.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "iidtName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the it digital twin."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an IT Digital Twin.": {
            "$ref": "./examples/DeleteAITDigitalTwin.json"
          }
        }
      },
      "get": {
        "tags": [
          "ITDigitalTwins"
        ],
        "operationId": "ITDigitalTwins_Get",
        "description": "Retrieves information about the model view or the instance view of a it digital twin.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "iidtName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the it digital twin."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ITDigitalTwin"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an IT Digital Twin.": {
            "$ref": "./examples/GetAITDigitalTwin.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IntelligentITDigitalTwin/digitalTwins": {
      "get": {
        "tags": [
          "ITDigitalTwins"
        ],
        "operationId": "ITDigitalTwins_List",
        "description": "Lists all of the IT Digital Twins in the specified resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ITDigitalTwinListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all it digital twins in a resource group.": {
            "$ref": "./examples/ListByResourceGroupITDigitalTwins.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IntelligentITDigitalTwin/digitalTwins": {
      "get": {
        "tags": [
          "ITDigitalTwins"
        ],
        "operationId": "ITDigitalTwins_ListAll",
        "description": "Lists all of the IT Digital Twins in the specified subscription id.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ITDigitalTwinListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all it digital twins in a subscription.": {
            "$ref": "./examples/ListSubscriptionITDigitalTwins.json"
          }
        }
      }
    },
    "/providers/Microsoft.IntelligentITDigitalTwin/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available RP operations.",
        "operationId": "Operations_ListAll",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all it digital twins in a subscription.": {
            "$ref": "./examples/ListOperations.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "x-ms-azure-resource": true
    },
    "ITDigitalTwinProperties": {
      "properties": {
        "iidtName": {
          "type": "string",
          "description": "Unique identifier of this IIDT"
        },
        "createdTime": {
          "description": "Time when this IIDT instance was created.",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "lastUpdatedTime": {
          "description": "Time when this IIDT instance was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "provisioningState": {
          "description": "The provisioning state.",
          "enum": [ "Succeeded", "Created", "Configured", "Deployed", "Failed" ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": true
          }
        },
        "adlsId": {
          "description": "Link to the ADLS account.",
          "type": "string"
        },
        "configuration": {
          "description": "configuration for the digital twin project.",
          "type": "string"
        }
      },
      "description": "Describes the properties of a IT Digital Twin."
    },
    "ITDigitalTwin": {
      "properties": {
        "properties": {
          "title": "Digital Twin Properties",
          "description": "List the properties of IT Digital Twin",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ITDigitalTwinProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Describes a IT Digital Twin."
    },
    "ITDigitalTwinListResult": {
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ITDigitalTwin"
          },
          "description": "The list of it digital twins."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of it digital twin."
        }
      },
      "description": "The List IT DIgital Twins."
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "REST API operation",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "type": "string"
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Resource Provider operations supported by the Resource Provider resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}
