{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2019-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Security/assessmentsMetadata": {
      "get": {
        "x-ms-examples": {
          "List security assessment metadata": {
            "$ref": "./examples/AssessmentsMetadata/ListAssessmentsMetadata_example.json"
          }
        },
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on all assessment types",
        "operationId": "AssessmentsMetadata_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Security/assessmentsMetadata/{assessmentsMetadataName}": {
      "get": {
        "x-ms-examples": {
          "Get security assessment metadata": {
            "$ref": "./examples/AssessmentsMetadata/GetAssessmentsMetadata_example.json"
          }
        },
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on an assessment type",
        "operationId": "AssessmentsMetadata_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/AssessmentsMetadataName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadata"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentsMetadata": {
      "get": {
        "x-ms-examples": {
          "List security assessment metadata for subscription": {
            "$ref": "./examples/AssessmentsMetadata/ListAssessmentsMetadata_subscription_example.json"
          }
        },
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on all assessment types in a specific subscription",
        "operationId": "AssessmentsMetadataSubscription_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentsMetadata/{assessmentsMetadataName}": {
      "get": {
        "x-ms-examples": {
          "Get security assessment metadata for subscription": {
            "$ref": "./examples/AssessmentsMetadata/GetAssessmentsMetadata_subscription_example.json"
          }
        },
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on an assessment type in a specific subscription",
        "operationId": "AssessmentsMetadataSubscription_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/AssessmentsMetadataName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadata"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SecurityAssessmentMetadataList": {
      "type": "object",
      "description": "List of security assessment metadata",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityAssessmentMetadata"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to fetch the next page."
        }
      }
    },
    "SecurityAssessmentMetadata": {
      "type": "object",
      "description": "Security assessment metadata",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SecurityAssessmentMetadataProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "SecurityAssessmentMetadataProperties": {
      "type": "object",
      "description": "Describes properties of an assessment metadata.",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "User friendly display name of the assessment"
        },
        "policyDefinitionId": {
          "readOnly": true,
          "type": "string",
          "description": "Azure resource ID of the policy definition that turns this assessment calculation on"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Human readable description of the assessment"
        },
        "remediationDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Human readable description of what you should do to mitigate this security issue"
        },
        "category": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "description": "The category of resource that is at risk when the assessment is unhealthy",
            "enum": [
              "Compute",
              "Network",
              "Data",
              "IdentityAndAccess",
              "IoT"
            ],
            "x-ms-enum": {
              "name": "category",
              "modelAsString": true,
              "values": [
                {
                  "value": "Compute"
                },
                {
                  "value": "Network"
                },
                {
                  "value": "Data"
                },
                {
                  "value": "IdentityAndAccess"
                },
                {
                  "value": "IoT"
                }
              ]
            }
          }
        },
        "secureScoreWeight": {
          "readOnly": true,
          "type": "integer",
          "description": "Weight for the security score calculation. the higher this number, this severity  of this assessment is higher"
        },
        "requiredPricingBundle": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "description": "The required Azure Security Center pricing bundle name. One of the bundles must be Standard. Empty list is a free assessment.",
            "enum": [
              "VirtualMachines",
              "SqlServers",
              "AppServices",
              "StorageAccounts"
            ],
            "x-ms-enum": {
              "name": "requiredPricingBundle",
              "modelAsString": true,
              "values": [
                {
                  "value": "VirtualMachines"
                },
                {
                  "value": "SqlServers"
                },
                {
                  "value": "AppServices"
                },
                {
                  "value": "StorageAccounts"
                }
              ]
            }
          }
        },
        "preview": {
          "readOnly": true,
          "type": "boolean",
          "description": "True if this assessment is in preview release status"
        },
        "assessmentType": {
          "readOnly": true,
          "type": "string",
          "description": "BuiltIn if the assessment based on built-in Azure Policy definition, Custom if the assessment based on custom Azure Policy definition",
          "enum": [
            "BuiltIn",
            "Custom"
          ],
          "x-ms-enum": {
            "name": "assessmentType",
            "modelAsString": true,
            "values": [
              {
                "value": "BuiltIn"
              },
              {
                "value": "Custom"
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "AssessmentsMetadataName": {
      "name": "assessmentsMetadataName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Assessment Key - Unique key for the assessment type",
      "x-ms-parameter-location": "method"
    }
  }
}