{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2019-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/networkData": {
      "get": {
        "x-ms-examples": {
          "subscription List network data": {
            "$ref": "./examples/networkData/SubscriptionListNetworkData_example.json"
          }
        },
        "tags": [
          "NetworkData"
        ],
        "description": "Get the network data on all your scanned resources inside a scope",
        "operationId": "NetworkData_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "expand whether you want to get more information about the network data (ports and connections details)",
            "enum": [
              "true",
              "false"
            ],
            "x-ms-enum": {
              "name": "ExpandValues",
              "modelAsString": true,
              "values": [
                {
                  "value": "true",
                  "description": "Get the expand network data object - more information about the network data (ports and connections details)"
                },
                {
                  "value": "false",
                  "description": "Get the slim network data object"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkDataList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/NetworkData/default": {
      "get": {
        "x-ms-examples": {
          "Get the network data of a resource": {
            "$ref": "./examples/networkData/GetNetworkData_example.json"
          }
        },
        "tags": [
          "NetworkData"
        ],
        "description": "Get the network data on your scanned resource",
        "operationId": "NetworkData_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "name": "resourceNamespace",
            "in": "path",
            "description": "The Namespace of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The type of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "expand whether you want to get more information about the network data (ports and connections details)",
            "enum": [
              "true",
              "false"
            ],
            "x-ms-enum": {
              "name": "ExpandValues",
              "modelAsString": true,
              "values": [
                {
                  "value": "true",
                  "description": "Get the expand network data object - more information about the network data (ports and connections details)"
                },
                {
                  "value": "false",
                  "description": "Get the slim network data object"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkData"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkDataList": {
      "type": "object",
      "description": "List of network data",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkData"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to fetch the next page."
        }
      }
    },
    "NetworkData": {
      "type": "object",
      "description": "Network data on a resource",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkDataProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "NetworkDataProperties": {
      "type": "object",
      "description": "Describes the properties of the network data.",
      "properties": {
        "connectableResources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkDataConnectableResource"
          }
        }
      }
    },
    "NetworkDataConnectableResource": {
      "type": "object",
      "description": "Describes the allowed inbound and outbound traffic of an Azure resource",
      "properties": {
        "connectableResourceId": {
          "readOnly": true,
          "type": "string",
          "description": "The connectable resource id"
        },
        "connectionType": {
          "type": "string",
          "description": "The connection type between the extention resoure to the connectable resource Id",
          "enum": [
            "Azure vm"
          ],
          "x-ms-enum": {
            "name": "connectionType",
            "modelAsString": true,
            "values": [
              {
                "value": "Azure vm"
              }
            ]
          }
        },
        "allowedConnections": {
          "readOnly": true,
          "type": "object",
          "description": "The allowed connections details",
          "properties": {
            "calculatedDateTime": {
              "type": "string",
              "format": "date-time",
              "readOnly": true,
              "description": "The UTC time on which the allowed connections was calculated"
            },
            "inboundConnectedResources": {
              "$ref": "#/definitions/AllowedConnectionsConnectedResources"
            },
            "outboundConnectedResources": {
              "$ref": "#/definitions/AllowedConnectionsConnectedResources"
            }
          }
        },
        "actualTraffic": {
          "readOnly": true,
          "type": "object",
          "description": "The actual traffic details",
          "properties": {
            "startTime": {
              "type": "string",
              "format": "date-time",
              "readOnly": true,
              "description": "The UTC start time of the actual traffic time range"
            },
            "endTime": {
              "type": "string",
              "format": "date-time",
              "readOnly": true,
              "description": "The UTC end time of the actual traffic time range"
            },
            "trafficDataState": {
              "type": "string",
              "description": "Indicate whether the Azure monitor agent is installed on the vm",
              "enum": [
                "Available",
                "Not available"
              ],
              "x-ms-enum": {
                "name": "trafficDataState",
                "modelAsString": true,
                "values": [
                  {
                    "value": "Available",
                    "description": "The Azure monitor agent is installed on the vm"
                  },
                  {
                    "value": "Not available",
                    "description": "the Azure monitor agent is not installed on the vm"
                  }
                ]
              }
            },
            "inboundConnectedResources": {
              "$ref": "#/definitions/ActualTrafficConnectedResources"
            },
            "outboundConnectedResources": {
              "$ref": "#/definitions/ActualTrafficConnectedResources"
            }
          }
        },
        "unusedPorts": {
          "readOnly": true,
          "type": "object",
          "description": "The unused ports details",
          "properties": {
            "inboundConnectedResources": {
              "$ref": "#/definitions/UnusedPortsConnectedResources"
            },
            "outboundConnectedResources": {
              "$ref": "#/definitions/UnusedPortsConnectedResources"
            }
          }
        }
      }
    },
    "AllowedConnectionsConnectedResources": {
      "readOnly": true,
      "type": "object",
      "description": "The allowed connections details",
      "properties": {
        "tcpPortsCount": {
          "readOnly": true,
          "type": "integer",
          "description": "The allowed connections tcp ports count"
        },
        "udpPortsCount": {
          "readOnly": true,
          "type": "integer",
          "description": "The allowed connections udp ports count"
        },
        "tcpPorts": {
          "readOnly": true,
          "type": "string",
          "description": "The allowed connections tcp ports"
        },
        "udpPorts": {
          "readOnly": true,
          "type": "string",
          "description": "The allowed connections udp ports"
        }
      }
    },
    "ActualTrafficConnectedResources": {
      "readOnly": true,
      "type": "object",
      "description": "The actual traffic details",
      "properties": {
        "trafficVolume": {
          "readOnly": true,
          "type": "string",
          "description": "The actual traffic volume"
        },
        "connectionsDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionDetails"
          }
        }
      }
    },
    "UnusedPortsConnectedResources": {
      "readOnly": true,
      "type": "object",
      "description": "The unused ports details",
      "properties": {
        "unusedTcpPortsCount": {
          "readOnly": true,
          "type": "integer",
          "description": "The unused tcp ports count"
        },
        "unusedUdpPortsCount": {
          "readOnly": true,
          "type": "integer",
          "description": "The unused udp ports count"
        },
        "tcpPorts": {
          "readOnly": true,
          "type": "string",
          "description": "The unused tcp ports"
        },
        "udpPorts": {
          "readOnly": true,
          "type": "string",
          "description": "The unused udp ports"
        }
      }
    },
    "ConnectionDetails": {
      "type": "object",
      "description": "Details of the actual traffic connections",
      "properties": {
        "portAndProtocol": {
          "readOnly": true,
          "type": "string",
          "description": "The port and the protocol of the traffic"
        },
        "volume": {
          "readOnly": true,
          "type": "string",
          "description": "The volume of the traffic"
        }
      }
    }
  }
}
