{
  "swagger": "2.0",
  "info": {
    "version": "2020-01-01",
    "title": "MarketplaceManagementClient",
    "description": "REST APIs for Azure Marketplace"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/providers/Microsoft.Marketplace/privateStores/{PrivateStoreId}/offers": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStoreOffers_List",
        "description": "Get a list of all private offers in the given private store",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OfferListResponse"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetPrivateStoreOffers": {
            "$ref": "./examples/GetPrivateStoreOffers.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{PrivateStoreId}/offers/{OfferId}": {
      "parameters": [
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "delete": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStoreOffer_Delete",
        "description": "Deletes an offer from the given private store.",
        "responses": {
          "200": {
            "description": "Offer was deleted successfully"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletePrivateStoreOffer": {
            "$ref": "./examples/DeletePrivateStoreOffer.json"
          }
        }
      },
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStoreOffer_Get",
        "description": "Gets information about a specific offer.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Offer information retrieved",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStoreOffer": {
            "$ref": "./examples/GetPrivateStoreOffer.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStoreOffer_CreateOrUpdate",
        "description": "Update or add an offer to the default collection of the private store.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdatePrivateStoreOffer": {
            "$ref": "./examples/UpdatePrivateStoreOffer.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores": {
      "parameters": [
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_List",
        "description": "Gets the list of available private stores",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateStoreList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetPrivateStores": {
            "$ref": "./examples/GetPrivateStores.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{PrivateStoreId}": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_Get",
        "description": "Get information about the private store",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateStoreProperties"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStore": {
            "$ref": "./examples/GetPrivateStore.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_Delete",
        "description": "Deletes the private store. All that is not saved will be lost.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Private store was deleted successfully ."
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletePrivateStores": {
            "$ref": "./examples/DeletePrivateStore.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_CreateOrUpdate",
        "description": "Changes private store properties",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/PrivateStoreProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Change successful"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdatePrivateStores": {
            "$ref": "./examples/UpdatePrivateStore.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Microsoft.Marketplace REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "PrivateStoreIdParameter": {
      "name": "PrivateStoreId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The store ID - must use the tenant ID"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "OfferIdPathParameter": {
      "in": "path",
      "name": "OfferId",
      "type": "string",
      "required": true,
      "description": "The offer ID to update or delete"
    },
    "offerObjectParameter": {
      "in": "body",
      "name": "offerObject",
      "schema": {
        "$ref": "#/definitions/offerSkuObject"
      }
    }
  },
  "definitions": {
    "offerSkuObject": {
      "type": "object",
      "required": [
        "isAvailable"
      ],
      "properties": {
        "isAvailable": {
          "type": "boolean"
        }
      }
    },
    "offerObject": {
      "type": "object",
      "required": [
        "isAvailable"
      ],
      "properties": {
        "isAvailable": {
          "type": "boolean"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates Microsoft.Marketplace service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "properties": {
            "code": {
              "description": "Error code.",
              "type": "string",
              "readOnly": true
            },
            "message": {
              "description": "Error message indicating why the operation failed.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "PrivateStoreList": {
      "description": "Describes the json payload for the list of available private stores (between zero and one, inclusive)",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateStoreProperties"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of PrivateStore list results if there are any.",
          "type": "string"
        }
      }
    },
    "PrivateStoreProperties": {
      "description": "Describes the json payload on whether or not the private store is enabled for a given tenant",
      "type": "object",
      "properties": {
        "availability": {
          "description": "Indicates private store availability",
          "type": "string",
          "enum": [
            "enabled",
            "disabled"
          ],
          "x-ms-enum": {
            "name": "Availability",
            "modelAsString": true
          }
        },
        "privateStoreId": {
          "description": "Private Store id",
          "type": "string"
        },
        "eTag": {
          "description": "Identifier for purposes of race condition",
          "type": "string"
        }
      }
    },
    "OfferListResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Offer"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of offer list results if there are any.",
          "type": "string"
        }
      }
    },
    "Offer": {
      "type": "object",
      "properties": {
        "uniqueOfferId": {
          "description": "Offers unique id",
          "type": "string",
          "readOnly": true
        },
        "offerDisplayName": {
          "description": "It will be displayed prominently in the marketplace",
          "type": "string",
          "readOnly": true
        },
        "publisherDisplayName": {
          "description": "Publisher name that will be displayed prominently in the marketplace",
          "type": "string",
          "readOnly": true
        },
        "eTag": {
          "description": "Identifier for purposes of race condition",
          "type": "string"
        },
        "privateStoreId": {
          "readOnly": true,
          "description": "Private store unique id",
          "type": "string"
        },
        "plans": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Plan"
          }
        },
        "specificPlanIdsLimitation": {
          "description": "Plan ids limitation for this offer",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Plan": {
      "type": "object",
      "properties": {
        "skuId": {
          "description": "Identifier for this plan",
          "type": "string",
          "readOnly": true
        },
        "planId": {
          "description": "Text identifier for this plan",
          "type": "string",
          "readOnly": true
        },
        "planDisplayName": {
          "description": "Friendly name for the plan for display in the marketplace",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "Microsoft.Marketplace REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Marketplace",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Amendments",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Get Amendments etc.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list Marketplace operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Microsoft.Marketplace operations supported by the Microsoft.Marketplace resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any.",
          "readOnly": true
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
