# this file
.prettierignore

# code coverage
coverage

# specs in test folders
fixtures
specification

# unmanaged files and folders
copilot-instructions.md
chatmodes
ISSUE_TEMPLATE
policies
prompts
PULL_REQUEST_TEMPLATE
