{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.SoftwareSupplyChain management service",
    "version": "2025-01-01-preview",
    "description": "Microsoft.SoftwareSupplyChain Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Insights"
    },
    {
      "name": "PackageTypes"
    },
    {
      "name": "Packages"
    },
    {
      "name": "PackageVersions"
    },
    {
      "name": "Sboms"
    },
    {
      "name": "VulnerabilityTypes"
    },
    {
      "name": "Vulnerabilities"
    }
  ],
  "paths": {
    "/providers/Microsoft.SoftwareSupplyChain/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SoftwareSupplyChain/insights": {
      "get": {
        "operationId": "Insights_ListBySubscription",
        "tags": [
          "Insights"
        ],
        "description": "List Insight resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InsightListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Insights_ListBySubscription": {
            "$ref": "./examples/Insights_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights": {
      "get": {
        "operationId": "Insights_ListByResourceGroup",
        "tags": [
          "Insights"
        ],
        "description": "List Insight resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InsightListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Insights_ListByResourceGroup": {
            "$ref": "./examples/Insights_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}": {
      "get": {
        "operationId": "Insights_Get",
        "tags": [
          "Insights"
        ],
        "description": "Get a Insight",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Insight"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Insights_Get": {
            "$ref": "./examples/Insights_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Insights_CreateOrUpdate",
        "tags": [
          "Insights"
        ],
        "description": "Create a Insight",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Insight"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Insight' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Insight"
            }
          },
          "201": {
            "description": "Resource 'Insight' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Insight"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Insights_CreateOrUpdate": {
            "$ref": "./examples/Insights_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Insights_Update",
        "tags": [
          "Insights"
        ],
        "description": "Update a Insight",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsightTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Insight"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Insights_Update": {
            "$ref": "./examples/Insights_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Insights_Delete",
        "tags": [
          "Insights"
        ],
        "description": "Delete a Insight",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Insights_Delete": {
            "$ref": "./examples/Insights_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/packageTypes": {
      "get": {
        "operationId": "PackageTypes_ListByParent",
        "tags": [
          "PackageTypes"
        ],
        "description": "List PackageType resources by Insight",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PackageTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageTypes_ListByParent": {
            "$ref": "./examples/PackageTypes_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/packageTypes/{packageTypeName}": {
      "get": {
        "operationId": "PackageTypes_Get",
        "tags": [
          "PackageTypes"
        ],
        "description": "Get a PackageType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageTypeName",
            "in": "path",
            "description": "The name of the PackageType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PackageType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageTypes_Get": {
            "$ref": "./examples/PackageTypes_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/packageTypes/{packageTypeName}/packages": {
      "get": {
        "operationId": "Packages_ListByParent",
        "tags": [
          "Packages"
        ],
        "description": "List Package resources by PackageType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageTypeName",
            "in": "path",
            "description": "The name of the PackageType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PackageListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Packages_ListByParent": {
            "$ref": "./examples/Packages_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/packageTypes/{packageTypeName}/packages/{packageName}": {
      "get": {
        "operationId": "Packages_Get",
        "tags": [
          "Packages"
        ],
        "description": "Get a Package",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageTypeName",
            "in": "path",
            "description": "The name of the PackageType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageName",
            "in": "path",
            "description": "The name of the Package",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Packages_Get": {
            "$ref": "./examples/Packages_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/packageTypes/{packageTypeName}/packages/{packageName}/packageVersions": {
      "get": {
        "operationId": "PackageVersions_ListByParent",
        "tags": [
          "PackageVersions"
        ],
        "description": "List PackageVersion resources by Package",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageTypeName",
            "in": "path",
            "description": "The name of the PackageType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageName",
            "in": "path",
            "description": "The name of the Package",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PackageVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageVersions_ListByParent": {
            "$ref": "./examples/PackageVersions_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/packageTypes/{packageTypeName}/packages/{packageName}/packageVersions/{packageVersionName}": {
      "get": {
        "operationId": "PackageVersions_Get",
        "tags": [
          "PackageVersions"
        ],
        "description": "Get a PackageVersion",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageTypeName",
            "in": "path",
            "description": "The name of the PackageType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageName",
            "in": "path",
            "description": "The name of the Package",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,64}$"
          },
          {
            "name": "packageVersionName",
            "in": "path",
            "description": "The name of the PackageVersion",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PackageVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageVersions_Get": {
            "$ref": "./examples/PackageVersions_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/sboms": {
      "get": {
        "operationId": "Sboms_ListByParent",
        "tags": [
          "Sboms"
        ],
        "description": "List Sbom resources by Insight",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SbomListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Sboms_ListByParent_MaximumSet": {
            "$ref": "./examples/Sboms_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/sboms/{sbomName}": {
      "get": {
        "operationId": "Sboms_Get",
        "tags": [
          "Sboms"
        ],
        "description": "Get a Sbom",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "sbomName",
            "in": "path",
            "description": "The name of the Sbom",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Sbom"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Sboms_Get": {
            "$ref": "./examples/Sboms_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/vulnerabilityTypes": {
      "get": {
        "operationId": "VulnerabilityTypes_ListByParent",
        "tags": [
          "VulnerabilityTypes"
        ],
        "description": "List VulnerabilityType resources by Insight",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VulnerabilityTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VulnerabilityTypes_ListByParent": {
            "$ref": "./examples/VulnerabilityTypes_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/vulnerabilityTypes/{vulnerabilityTypeName}": {
      "get": {
        "operationId": "VulnerabilityTypes_Get",
        "tags": [
          "VulnerabilityTypes"
        ],
        "description": "Get a VulnerabilityType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "vulnerabilityTypeName",
            "in": "path",
            "description": "The name of the VulnerabilityType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VulnerabilityType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VulnerabilityTypes_Get": {
            "$ref": "./examples/VulnerabilityTypes_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/vulnerabilityTypes/{vulnerabilityTypeName}/vulnerabilities": {
      "get": {
        "operationId": "Vulnerabilities_ListByParent",
        "tags": [
          "Vulnerabilities"
        ],
        "description": "List Vulnerability resources by VulnerabilityType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "vulnerabilityTypeName",
            "in": "path",
            "description": "The name of the VulnerabilityType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VulnerabilityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Vulnerabilities_ListByParent": {
            "$ref": "./examples/Vulnerabilities_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareSupplyChain/insights/{insightName}/vulnerabilityTypes/{vulnerabilityTypeName}/vulnerabilities/{vulnerabilityName}": {
      "get": {
        "operationId": "Vulnerabilities_Get",
        "tags": [
          "Vulnerabilities"
        ],
        "description": "Get a Vulnerability",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "insightName",
            "in": "path",
            "description": "The name of the Insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "vulnerabilityTypeName",
            "in": "path",
            "description": "The name of the VulnerabilityType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "vulnerabilityName",
            "in": "path",
            "description": "The name of the Vulnerability",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Vulnerability"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Vulnerabilities_Get": {
            "$ref": "./examples/Vulnerabilities_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Insight": {
      "type": "object",
      "description": "Insight resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/InsightProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "InsightListResult": {
      "type": "object",
      "description": "The response of a Insight list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Insight items on this page",
          "items": {
            "$ref": "#/definitions/Insight"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "InsightProperties": {
      "type": "object",
      "description": "The properties of Insight resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "InsightTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in Insight resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Package": {
      "type": "object",
      "description": "Concrete extension resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PackageNameProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PackageListResult": {
      "type": "object",
      "description": "The response of a Package list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Package items on this page",
          "items": {
            "$ref": "#/definitions/Package"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PackageNameProperties": {
      "type": "object",
      "description": "The properties of PackageName resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "PackageType": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PackageTypeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PackageTypeListResult": {
      "type": "object",
      "description": "The response of a PackageType list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PackageType items on this page",
          "items": {
            "$ref": "#/definitions/PackageType"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PackageTypeProperties": {
      "type": "object",
      "description": "The properties of PackageType resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "PackageVersion": {
      "type": "object",
      "description": "Concrete extension resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PackageVersionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PackageVersionListResult": {
      "type": "object",
      "description": "The response of a PackageVersion list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PackageVersion items on this page",
          "items": {
            "$ref": "#/definitions/PackageVersion"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PackageVersionProperties": {
      "type": "object",
      "description": "The properties of PackageVersion resource derived from the purl spec",
      "properties": {
        "packageType": {
          "type": "string",
          "description": "The package \"type\" or package \"protocol\" such as maven, npm, nuget, gem, pypi, etc"
        },
        "packageNamespace": {
          "type": "string",
          "description": "Some name prefix such as a Maven groupId, a Docker image owner, a GitHub user or organization. Optional and type-specific."
        },
        "packageName": {
          "type": "string",
          "description": "The name of the package"
        },
        "packageVersion": {
          "type": "string",
          "description": "The version of the package"
        },
        "subpath": {
          "type": "string",
          "description": "Extra subpath within a package, relative to the package root"
        },
        "qualifiers": {
          "type": "array",
          "description": "Extra qualifying data for a package such as an OS, architecture, a distro, etc",
          "items": {
            "$ref": "#/definitions/QualifierProperties"
          },
          "x-ms-identifiers": []
        },
        "purl": {
          "type": "string",
          "description": "The package url as per the https://github.com/package-url/purl-spec spec"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "packageType",
        "packageName",
        "packageVersion",
        "subpath"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "QualifierProperties": {
      "type": "object",
      "description": "The properties of the Qualifier type",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the qualifier"
        },
        "value": {
          "type": "string",
          "description": "The value of the qualifier"
        }
      },
      "required": [
        "key",
        "value"
      ]
    },
    "Sbom": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SbomProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SbomListResult": {
      "type": "object",
      "description": "The response of a Sbom list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Sbom items on this page",
          "items": {
            "$ref": "#/definitions/Sbom"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SbomProperties": {
      "type": "object",
      "description": "The properties of Sbom resource",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the SBOM. For SPDX SBOMs, this is equivalent to the document namespace"
        },
        "algorithm": {
          "type": "string",
          "description": "The algorithm used for the SBOM hash"
        },
        "digest": {
          "type": "string",
          "description": "The digest of the SBOM"
        },
        "downloadUrl": {
          "type": "string",
          "description": "The download location of the SBOM"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "Vulnerability": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VulnerabilityProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VulnerabilityListResult": {
      "type": "object",
      "description": "The response of a Vulnerability list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Vulnerability items on this page",
          "items": {
            "$ref": "#/definitions/Vulnerability"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VulnerabilityProperties": {
      "type": "object",
      "description": "The properties of Vulnerability resource",
      "properties": {
        "vulnerabilityType": {
          "type": "string",
          "description": "The type of the vulnerability. This maps to the system where the vulnerability was created in such as CVE or GHSA."
        },
        "vulnerabilityId": {
          "type": "string",
          "description": "The identifier of the vulnerability."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "vulnerabilityType",
        "vulnerabilityId"
      ]
    },
    "VulnerabilityType": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VulnerabilityTypeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VulnerabilityTypeListResult": {
      "type": "object",
      "description": "The response of a VulnerabilityType list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VulnerabilityType items on this page",
          "items": {
            "$ref": "#/definitions/VulnerabilityType"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VulnerabilityTypeProperties": {
      "type": "object",
      "description": "The properties of PackageType resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
