{
  "swagger": "2.0",
  "info": {
    "title": "NotificationHubsManagementClient",
    "description": "Azure NotificationHub client",
    "version": "2017-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.NotificationHubs/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/NHOperationsList.json"
          }
        },
        "description": "Lists all of the available NotificationHubs REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "NotificationHubs error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceCheckNameAvailability": {
            "$ref": "./examples/Namespaces/NHNameSpaceCheckNameAvailability.json"
          }
        },
        "operationId": "Namespaces_CheckAvailability",
        "description": "Checks the availability of the given service namespace across all Azure subscriptions. This is useful because the domain name is created based on the service namespace name.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityParameters"
            },
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Checks if the Namespace name is a valid available name",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}": {
      "put": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceCreate": {
            "$ref": "./examples/Namespaces/NHNameSpaceCreate.json"
          }
        },
        "operationId": "Namespaces_CreateOrUpdate",
        "description": "Creates/Updates a service namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NamespaceCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to create a Namespace Resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace is Create/Update",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          },
          "201": {
            "description": "Namespace is Create/Update",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceUpdate": {
            "$ref": "./examples/Namespaces/NHNameSpaceUpdate.json"
          }
        },
        "operationId": "Namespaces_Patch",
        "description": "Patches the existing namespace",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NamespacePatchParameters"
            },
            "description": "Parameters supplied to patch a Namespace Resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace is Updated",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceDelete": {
            "$ref": "./examples/Namespaces/NHNameSpaceDelete.json"
          }
        },
        "operationId": "Namespaces_Delete",
        "description": "Deletes an existing namespace. This operation also removes all associated notificationHubs under the namespace.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace is deleted"
          },
          "202": {
            "description": "Namespace delete request has been accepted"
          },
          "204": {
            "description": "Namespace is already Deleted"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceGet": {
            "$ref": "./examples/Namespaces/NHNameSpaceGet.json"
          }
        },
        "operationId": "Namespaces_Get",
        "description": "Returns the description for the specified namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Namespace",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}": {
      "put": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceAuthorizationRuleCreate": {
            "$ref": "./examples/Namespaces/NHNameSpaceAuthorizationRuleCreate.json"
          }
        },
        "operationId": "Namespaces_CreateOrUpdateAuthorizationRule",
        "description": "Creates an authorization rule for a namespace",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Authorization Rule Name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
            },
            "description": "The shared access authorization rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace Authorization Rule is Created/Updated",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceAuthorizationRuleDelete": {
            "$ref": "./examples/Namespaces/NHNameSpaceAuthorizationRuleDelete.json"
          }
        },
        "operationId": "Namespaces_DeleteAuthorizationRule",
        "description": "Deletes a namespace authorization rule",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Authorization Rule Name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace AuthorizationRule is deleted"
          },
          "204": {
            "description": "Namespace AuthorizationRule is already deleted"
          }
        }
      },
      "get": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceAuthorizationRuleGet": {
            "$ref": "./examples/Namespaces/NHNameSpaceAuthorizationRuleGet.json"
          }
        },
        "operationId": "Namespaces_GetAuthorizationRule",
        "description": "Gets an authorization rule for a namespace by name.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name"
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Authorization rule name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the Namespace AuthorizationRule",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceListByResourceGroup": {
            "$ref": "./examples/Namespaces/NHNameSpaceListByResourceGroup.json"
          }
        },
        "operationId": "Namespaces_List",
        "description": "Lists the available namespaces within a resourceGroup.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. If resourceGroupName value is null the method lists all the namespaces within subscription"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all Namespaces with the ResourceGroup",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceList": {
            "$ref": "./examples/Namespaces/NHNameSpaceList.json"
          }
        },
        "operationId": "Namespaces_ListAll",
        "description": "Lists all the available namespaces within the subscription irrespective of the resourceGroups.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all the Namespaces within the subscription irrespective of the ResourceGroup",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceAuthorizationRuleListAll": {
            "$ref": "./examples/Namespaces/NHNameSpaceAuthorizationRuleListAll.json"
          }
        },
        "operationId": "Namespaces_ListAuthorizationRules",
        "description": "Gets the authorization rules for a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the List of AuthorizationRules of a Namespace",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceAuthorizationRuleListKey": {
            "$ref": "./examples/Namespaces/NHNameSpaceAuthorizationRuleListKey.json"
          }
        },
        "operationId": "Namespaces_ListKeys",
        "description": "Gets the Primary and Secondary ConnectionStrings to the namespace ",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The connection string of the namespace for the specified authorizationRule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings",
            "schema": {
              "$ref": "#/definitions/ResourceListKeys"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "x-ms-examples": {
          "NameSpaceAuthorizationRuleRegenerateKey": {
            "$ref": "./examples/Namespaces/NHNameSpaceAuthorizationRuleRegenrateKey.json"
          }
        },
        "operationId": "Namespaces_RegenerateKeys",
        "description": "Regenerates the Primary/Secondary Keys to the Namespace Authorization Rule",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The connection string of the namespace for the specified authorizationRule."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicykeyResource"
            },
            "description": "Parameters supplied to regenerate the Namespace Authorization Rule Key."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Regenerate the Primary/Secondary Key and returns the Keys and the connection string",
            "schema": {
              "$ref": "#/definitions/ResourceListKeys"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability": {
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "notificationHubCheckNameAvailability": {
            "$ref": "./examples/NotificationHubs/NotificationHubCheckNameAvailability.json"
          }
        },
        "operationId": "NotificationHubs_CheckNotificationHubAvailability",
        "description": "Checks the availability of the given notificationHub in a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityParameters"
            },
            "description": "The notificationHub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Checks if the NotificationHub name is a valid available name",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}": {
      "put": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubCreate": {
            "$ref": "./examples/NotificationHubs/NotificationHubCreate.json"
          }
        },
        "operationId": "NotificationHubs_CreateOrUpdate",
        "description": "Creates/Update a NotificationHub in a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationHubCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to the create/update a NotificationHub Resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "NotificationHub is Created/Updated",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          },
          "201": {
            "description": "NotificationHub is Created/Updated",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubPatch": {
            "$ref": "./examples/NotificationHubs/NotificationHubPatch.json"
          }
        },
        "operationId": "NotificationHubs_Patch",
        "description": "Patch a NotificationHub in a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/NotificationHubPatchParameters"
            },
            "description": "Parameters supplied to patch a NotificationHub Resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "NotificationHub is patched",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubDelete": {
            "$ref": "./examples/NotificationHubs/NotificationHubDelete.json"
          }
        },
        "operationId": "NotificationHubs_Delete",
        "description": "Deletes a notification hub associated with a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace is deleted"
          }
        }
      },
      "get": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubGet": {
            "$ref": "./examples/NotificationHubs/NotificationHubGet.json"
          }
        },
        "operationId": "NotificationHubs_Get",
        "description": "Lists the notification hubs associated with a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the NotificationHub",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/debugsend": {
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "debugsend": {
            "$ref": "./examples/NotificationHubs/NotificationHubDebugSend.json"
          }
        },
        "operationId": "NotificationHubs_DebugSend",
        "description": "test send a push notification",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DebugSendParameters"
            },
            "description": "Debug send parameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "push send status",
            "schema": {
              "$ref": "#/definitions/DebugSendResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}": {
      "put": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubAuthorizationRuleCreate": {
            "$ref": "./examples/NotificationHubs/NotificationHubAuthorizationRuleCreate.json"
          }
        },
        "operationId": "NotificationHubs_CreateOrUpdateAuthorizationRule",
        "description": "Creates/Updates an authorization rule for a NotificationHub",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Authorization Rule Name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
            },
            "description": "The shared access authorization rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "NotificationHub AuthorizationRule is Created/Updated",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubAuthorizationRuleDelete": {
            "$ref": "./examples/NotificationHubs/NotificationHubAuthorizationRuleDelete.json"
          }
        },
        "operationId": "NotificationHubs_DeleteAuthorizationRule",
        "description": "Deletes a notificationHub authorization rule",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Authorization Rule Name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "NotificationHub AuthorizationRule is deleted"
          },
          "204": {
            "description": "NotificationHub AuthorizationRule is already deleted"
          }
        }
      },
      "get": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubAuthorizationRuleGet": {
            "$ref": "./examples/NotificationHubs/NotificationHubAuthorizationRuleGet.json"
          }
        },
        "operationId": "NotificationHubs_GetAuthorizationRule",
        "description": "Gets an authorization rule for a NotificationHub by name.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name"
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "authorization rule name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get NotificationHub AuthorizationRule",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs": {
      "get": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubListByNameSpace": {
            "$ref": "./examples/NotificationHubs/NotificationHubListByNameSpace.json"
          }
        },
        "operationId": "NotificationHubs_List",
        "description": "Lists the notification hubs associated with a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all NotificationHubs within a Namespace",
            "schema": {
              "$ref": "#/definitions/NotificationHubListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules": {
      "get": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubAuthorizationRuleListAll": {
            "$ref": "./examples/NotificationHubs/NotificationHubAuthorizationRuleListAll.json"
          }
        },
        "operationId": "NotificationHubs_ListAuthorizationRules",
        "description": "Gets the authorization rules for a NotificationHub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name"
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all NotificationHub AuthorizationRules",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubAuthorizationRuleListKey": {
            "$ref": "./examples/NotificationHubs/NotificationHubAuthorizationRuleListKey.json"
          }
        },
        "operationId": "NotificationHubs_ListKeys",
        "description": "Gets the Primary and Secondary ConnectionStrings to the NotificationHub ",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The connection string of the NotificationHub for the specified authorizationRule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings",
            "schema": {
              "$ref": "#/definitions/ResourceListKeys"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "NotificationHubAuthorizationRuleRegenrateKey": {
            "$ref": "./examples/NotificationHubs/NotificationHubAuthorizationRuleRegenrateKey.json"
          }
        },
        "operationId": "NotificationHubs_RegenerateKeys",
        "description": "Regenerates the Primary/Secondary Keys to the NotificationHub Authorization Rule",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The connection string of the NotificationHub for the specified authorizationRule."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicykeyResource"
            },
            "description": "Parameters supplied to regenerate the NotificationHub Authorization Rule Key."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Regenerate the Primary/Secondary Key and returns the Keys and the connection string",
            "schema": {
              "$ref": "#/definitions/ResourceListKeys"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials": {
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "x-ms-examples": {
          "notificationHubPnsCredentials": {
            "$ref": "./examples/NotificationHubs/NotificationHubPnsCredentials.json"
          }
        },
        "operationId": "NotificationHubs_GetPnsCredentials",
        "description": "Lists the PNS Credentials associated with a notification hub .",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all the NotificationHub PNS credentials",
            "schema": {
              "$ref": "#/definitions/PnsCredentialsResource"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "description": "Result of the request to list NotificationHubs operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "description": "List of NotificationHubs operations supported by the Microsoft.NotificationHubs resource provider.",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "A NotificationHubs REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation name: {provider}/{resource}/{operation}"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "readOnly": true,
              "type": "string",
              "description": "Service provider: Microsoft.NotificationHubs"
            },
            "resource": {
              "readOnly": true,
              "type": "string",
              "description": "Resource on which the operation is performed: Invoice, etc."
            },
            "operation": {
              "readOnly": true,
              "type": "string",
              "description": "Operation type: Read, write, delete, etc."
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates NotificationHubs service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "CheckAvailabilityParameters": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the created namespace"
        },
        "isAvailiable": {
          "type": "boolean",
          "description": "True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false."
        }
      },
      "required": [
        "name"
      ],
      "description": "Parameters supplied to the Check Name Availability for Namespace and NotificationHubs."
    },
    "CheckAvailabilityResult": {
      "properties": {
        "isAvailiable": {
          "type": "boolean",
          "description": "True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a CheckAvailability resource."
    },
    "NamespaceProperties": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the namespace."
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the Namespace."
        },
        "region": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Specifies the targeted region in which the namespace should be created. It can be any of the following values: Australia East, Australia Southeast, Central US, East US, East US 2, West US, North Central US, South Central US, East Asia, Southeast Asia, Brazil South, Japan East, Japan West, North Europe, West Europe"
        },
        "metricId": {
          "readOnly": true,
          "type": "string",
          "description": "Identifier for Azure Insights metrics"
        },
        "status": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Status of the namespace. It can be any of these values:1 = Created/Active2 = Creating3 = Suspended4 = Deleting"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time the namespace was created."
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time the namespace was updated."
        },
        "serviceBusEndpoint": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Endpoint you can use to perform NotificationHub operations."
        },
        "subscriptionId": {
          "type": "string",
          "description": "The Id of the Azure subscription associated with the namespace."
        },
        "scaleUnit": {
          "type": "string",
          "description": "ScaleUnit where the namespace gets created"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether or not the namespace is currently enabled."
        },
        "critical": {
          "type": "boolean",
          "description": "Whether or not the namespace is set as Critical."
        },
        "dataCenter": {
          "type": "string",
          "description": "Data center for the namespace"
        },
        "namespaceType": {
          "type": "string",
          "description": "The namespace type.",
          "enum": [
            "Messaging",
            "NotificationHub"
          ],
          "x-ms-enum": {
            "name": "NamespaceType",
            "modelAsString": false
          }
        }
      },
      "description": "Namespace properties."
    },
    "NamespaceCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NamespaceProperties",
          "description": "Properties of the Namespace."
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Parameters supplied to the CreateOrUpdate Namespace operation."
    },
    "NamespacePatchParameters": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the created namespace"
        }
      },
      "description": "Parameters supplied to the Patch Namespace operation."
    },
    "NamespaceResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NamespaceProperties",
          "description": "Properties of the Namespace."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a Namespace resource."
    },
    "SharedAccessAuthorizationRuleProperties": {
      "properties": {
        "rights": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Manage",
              "Send",
              "Listen"
            ],
            "x-ms-enum": {
              "name": "AccessRights",
              "modelAsString": false
            }
          },
          "description": "The rights associated with the rule."
        },
        "primaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
        },
        "secondaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
        },
        "keyName": {
          "readOnly": true,
          "type": "string",
          "description": "A string that describes the authorization rule."
        },
        "claimType": {
          "readOnly": true,
          "type": "string",
          "description": "A string that describes the claim type"
        },
        "claimValue": {
          "readOnly": true,
          "type": "string",
          "description": "A string that describes the claim value"
        },
        "modifiedTime": {
          "readOnly": true,
          "type": "string",
          "description": "The last modified time for this rule"
        },
        "createdTime": {
          "readOnly": true,
          "type": "string",
          "description": "The created time for this rule"
        },
        "revision": {
          "readOnly": true,
          "type": "integer",
          "description": "The revision number for the rule"
        }
      },
      "description": "SharedAccessAuthorizationRule properties."
    },
    "SharedAccessAuthorizationRuleCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties",
          "description": "Properties of the Namespace AuthorizationRules."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules."
    },
    "SharedAccessAuthorizationRuleResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties",
          "description": "Properties of the Namespace AuthorizationRule."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a Namespace AuthorizationRules."
    },
    "NamespaceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NamespaceResource"
          },
          "description": "Result of the List Namespace operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of Namespaces"
        }
      },
      "description": "The response of the List Namespace operation."
    },
    "SharedAccessAuthorizationRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
          },
          "description": "Result of the List AuthorizationRules operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules"
        }
      },
      "description": "The response of the List Namespace operation."
    },
    "ResourceListKeys": {
      "properties": {
        "primaryConnectionString": {
          "type": "string",
          "description": "PrimaryConnectionString of the AuthorizationRule."
        },
        "secondaryConnectionString": {
          "type": "string",
          "description": "SecondaryConnectionString of the created AuthorizationRule"
        },
        "primaryKey": {
          "type": "string",
          "description": "PrimaryKey of the created AuthorizationRule."
        },
        "secondaryKey": {
          "type": "string",
          "description": "SecondaryKey of the created AuthorizationRule"
        },
        "keyName": {
          "type": "string",
          "description": "KeyName of the created AuthorizationRule"
        }
      },
      "description": "Namespace/NotificationHub Connection String"
    },
    "PolicykeyResource": {
      "properties": {
        "policyKey": {
          "type": "string",
          "description": "Name of the key that has to be regenerated for the Namespace/Notification Hub Authorization Rule. The value can be Primary Key/Secondary Key."
        }
      },
      "description": "Namespace/NotificationHub Regenerate Keys"
    },
    "ApnsCredentialProperties": {
      "properties": {
        "apnsCertificate": {
          "type": "string",
          "description": "The APNS certificate. Specify if using Certificate Authentication Mode."
        },
        "certificateKey": {
          "type": "string",
          "description": "The APNS certificate password if it exists."
        },
        "endpoint": {
          "type": "string",
          "description": "The APNS endpoint of this credential. If using Certificate Authentication Mode and Sandbox specify 'gateway.sandbox.push.apple.com'. If using Certificate Authentication Mode and Production specify 'gateway.push.apple.com'. If using Token Authentication Mode and Sandbox specify 'https://api.development.push.apple.com:443/3/device'. If using Token Authentication Mode and Production specify 'https://api.push.apple.com:443/3/device'."
        },
        "thumbprint": {
          "type": "string",
          "description": "The APNS certificate thumbprint. Specify if using Certificate Authentication Mode."
        },
        "keyId": {
          "type": "string",
          "description": "A 10-character key identifier (kid) key, obtained from your developer account. Specify if using Token Authentication Mode."
        },
        "appName": {
          "type": "string",
          "description": "The name of the application or BundleId. Specify if using Token Authentication Mode."
        },
        "appId": {
          "type": "string",
          "description": "The issuer (iss) registered claim key. The value is a 10-character TeamId, obtained from your developer account. Specify if using Token Authentication Mode."
        },
        "token": {
          "type": "string",
          "description": "Provider Authentication Token, obtained through your developer account. Specify if using Token Authentication Mode."
        }
      },
      "description": "Description of a NotificationHub ApnsCredential. Note that there is no explicit switch between Certificate and Token Authentication Modes. The mode is determined based on the properties passed in."
    },
    "ApnsCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApnsCredentialProperties",
          "description": "Properties of NotificationHub ApnsCredential."
        }
      },
      "description": "Description of a NotificationHub ApnsCredential."
    },
    "WnsCredentialProperties": {
      "properties": {
        "packageSid": {
          "type": "string",
          "description": "The package ID for this credential."
        },
        "secretKey": {
          "type": "string",
          "description": "The secret key."
        },
        "windowsLiveEndpoint": {
          "type": "string",
          "description": "The Windows Live endpoint."
        }
      },
      "description": "Description of a NotificationHub WnsCredential."
    },
    "WnsCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WnsCredentialProperties",
          "description": "Properties of NotificationHub WnsCredential."
        }
      },
      "description": "Description of a NotificationHub WnsCredential."
    },
    "GcmCredentialProperties": {
      "properties": {
        "gcmEndpoint": {
          "type": "string",
          "description": "The FCM legacy endpoint. Default value is 'https://fcm.googleapis.com/fcm/send'"
        },
        "googleApiKey": {
          "type": "string",
          "description": "The Google API key."
        }
      },
      "description": "Description of a NotificationHub GcmCredential."
    },
    "GcmCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GcmCredentialProperties",
          "description": "Properties of NotificationHub GcmCredential."
        }
      },
      "description": "Description of a NotificationHub GcmCredential."
    },
    "MpnsCredentialProperties": {
      "properties": {
        "mpnsCertificate": {
          "type": "string",
          "description": "The MPNS certificate."
        },
        "certificateKey": {
          "type": "string",
          "description": "The certificate key for this credential."
        },
        "thumbprint": {
          "type": "string",
          "description": "The MPNS certificate Thumbprint"
        }
      },
      "description": "Description of a NotificationHub MpnsCredential."
    },
    "MpnsCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MpnsCredentialProperties",
          "description": "Properties of NotificationHub MpnsCredential."
        }
      },
      "description": "Description of a NotificationHub MpnsCredential."
    },
    "AdmCredentialProperties": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        },
        "clientSecret": {
          "type": "string",
          "description": "The credential secret access key."
        },
        "authTokenUrl": {
          "type": "string",
          "description": "The URL of the authorization token."
        }
      },
      "description": "Description of a NotificationHub AdmCredential."
    },
    "AdmCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AdmCredentialProperties",
          "description": "Properties of NotificationHub AdmCredential."
        }
      },
      "description": "Description of a NotificationHub AdmCredential."
    },
    "BaiduCredentialProperties": {
      "properties": {
        "baiduApiKey": {
          "type": "string",
          "description": "Baidu Api Key."
        },
        "baiduEndPoint": {
          "type": "string",
          "description": "Baidu Endpoint."
        },
        "baiduSecretKey": {
          "type": "string",
          "description": "Baidu Secret Key"
        }
      },
      "description": "Description of a NotificationHub BaiduCredential."
    },
    "BaiduCredential": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BaiduCredentialProperties",
          "description": "Properties of NotificationHub BaiduCredential."
        }
      },
      "description": "Description of a NotificationHub BaiduCredential."
    },
    "NotificationHubProperties": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The NotificationHub name."
        },
        "registrationTtl": {
          "type": "string",
          "description": "The RegistrationTtl of the created NotificationHub"
        },
        "authorizationRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties"
          },
          "description": "The AuthorizationRules of the created NotificationHub"
        },
        "apnsCredential": {
          "$ref": "#/definitions/ApnsCredential",
          "description": "The ApnsCredential of the created NotificationHub"
        },
        "wnsCredential": {
          "$ref": "#/definitions/WnsCredential",
          "description": "The WnsCredential of the created NotificationHub"
        },
        "gcmCredential": {
          "$ref": "#/definitions/GcmCredential",
          "description": "The GcmCredential of the created NotificationHub"
        },
        "mpnsCredential": {
          "$ref": "#/definitions/MpnsCredential",
          "description": "The MpnsCredential of the created NotificationHub"
        },
        "admCredential": {
          "$ref": "#/definitions/AdmCredential",
          "description": "The AdmCredential of the created NotificationHub"
        },
        "baiduCredential": {
          "$ref": "#/definitions/BaiduCredential",
          "description": "The BaiduCredential of the created NotificationHub"
        }
      },
      "description": "NotificationHub properties."
    },
    "NotificationHubCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NotificationHubProperties",
          "description": "Properties of the NotificationHub."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Parameters supplied to the CreateOrUpdate NotificationHub operation."
    },
    "NotificationHubPatchParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NotificationHubProperties",
          "description": "Properties of the NotificationHub."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Parameters supplied to the patch NotificationHub operation."
    },
    "DebugSendParameters": {
      "description": "Debug Send payload",
      "type": "object"
    },
    "NotificationHubResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NotificationHubProperties",
          "description": "Properties of the NotificationHub."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a NotificationHub Resource."
    },
    "DebugSendResponse": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DebugSendResult",
          "description": "Properties of the NotificationHub."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a NotificationHub Resource."
    },
    "PnsCredentialsResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PnsCredentialsProperties",
          "description": "NotificationHub PNS Credentials."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of a NotificationHub PNS Credentials."
    },
    "PnsCredentialsProperties": {
      "properties": {
        "apnsCredential": {
          "$ref": "#/definitions/ApnsCredential",
          "description": "The ApnsCredential of the created NotificationHub"
        },
        "wnsCredential": {
          "$ref": "#/definitions/WnsCredential",
          "description": "The WnsCredential of the created NotificationHub"
        },
        "gcmCredential": {
          "$ref": "#/definitions/GcmCredential",
          "description": "The GcmCredential of the created NotificationHub"
        },
        "mpnsCredential": {
          "$ref": "#/definitions/MpnsCredential",
          "description": "The MpnsCredential of the created NotificationHub"
        },
        "admCredential": {
          "$ref": "#/definitions/AdmCredential",
          "description": "The AdmCredential of the created NotificationHub"
        },
        "baiduCredential": {
          "$ref": "#/definitions/BaiduCredential",
          "description": "The BaiduCredential of the created NotificationHub"
        }
      },
      "description": "Description of a NotificationHub PNS Credentials."
    },
    "NotificationHubListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationHubResource"
          },
          "description": "Result of the List NotificationHub operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of NotificationHub"
        }
      },
      "description": "The response of the List NotificationHub operation."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the created namespace"
        }
      },
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "x-ms-azure-resource": true
    },
    "DebugSendResult": {
      "properties": {
        "success": {
          "type": "number",
          "description": "successful send"
        },
        "failure": {
          "type": "number",
          "description": "send failure"
        },
        "results": {
          "type": "object",
          "description": "actual failure description"
        }
      },
      "x-ms-azure-resource": true
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the notification hub sku",
          "enum": [
            "Free",
            "Basic",
            "Standard"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        },
        "tier": {
          "type": "string",
          "description": "The tier of particular sku"
        },
        "size": {
          "type": "string",
          "description": "The Sku size"
        },
        "family": {
          "type": "string",
          "description": "The Sku Family"
        },
        "capacity": {
          "type": "integer",
          "description": "The capacity of the resource"
        }
      },
      "required": [
        "name"
      ],
      "description": "The Sku description for a namespace"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}
