{
  "swagger": "2.0",
  "info": {
    "version": "2022-10-01",
    "title": "AzureStackHCI",
    "description": "Azure Stack HCI management service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/apply": {
      "post": {
        "operationId": "Updates_Post",
        "description": "Apply Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "ACCEPTED"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List available updates": {
            "$ref": "./examples/PostUpdates.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates": {
      "get": {
        "operationId": "Updates_List",
        "description": "List all Updates",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List available updates": {
            "$ref": "./examples/ListUpdates.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}": {
      "get": {
        "operationId": "Updates_Get",
        "description": "Get specified Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a specific update": {
            "$ref": "./examples/GetUpdates.json"
          }
        }
      }
    }
  },
  "definitions": {
    "UpdateList": {
      "description": "List of Updates",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Updates",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Update"
          }
        }
      }
    },
    "UpdatePrerequisite": {
      "description": "If update State is HasPrerequisite, this property contains an array of objects describing prerequisite updates before installing this update. Otherwise, it is empty.",
      "type": "object",
      "properties": {
        "updateType": {
          "description": "Updatable component type.",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "version": {
          "description": "Version of the prerequisite.",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "packageName": {
          "description": "Friendly name of the prerequisite.",
          "type": "string",
          "x-ms-client-flatten": true
        }
      }
    },
    "Update": {
      "description": "Update details",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "description": "Update properties",
          "type": "object",
          "$ref": "#/definitions/UpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "UpdateProperties": {
      "description": "Details of a singular Update in HCI Cluster",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the Updates proxy resource.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Provisioning"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "readOnly": true
        },
        "installedDate": {
          "description": "Date that the update was installed.",
          "type": "string",
          "format": "date-time",
          "x-ms-client-flatten": true
        },
        "description": {
          "description": "Description of the update.",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "state": {
          "description": "State of the update as it relates to this stamp.",
          "type": "string",
          "enum": [
            "HasPrerequisite",
            "Obsolete",
            "Ready",
            "NotApplicableBecauseAnotherUpdateIsInProgress",
            "Preparing",
            "Installing",
            "Installed",
            "PreparationFailed",
            "InstallationFailed",
            "Invalid",
            "Recalled",
            "Downloading",
            "DownloadFailed",
            "HealthChecking",
            "HealthCheckFailed",
            "ReadyToInstall",
            "ScanInProgress",
            "ScanFailed"
          ],
          "x-ms-client-flatten": true,
          "x-ms-enum": {
            "name": "state",
            "modelAsString": true
          }
        },
        "prerequisites": {
          "description": "If update State is HasPrerequisite, this property contains an array of objects describing prerequisite updates before installing this update. Otherwise, it is empty.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpdatePrerequisite"
          },
          "x-ms-identifiers": []
        },
        "packagePath": {
          "description": "Path where the update package is available.",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "packageSizeInMb": {
          "description": "Size of the package. This value is a combination of the size from update metadata and size of the payload that results from the live scan operation for OS update content.",
          "type": "number",
          "x-ms-client-flatten": true
        },
        "displayName": {
          "description": "Display name of the Update",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "version": {
          "description": "Version of the update.",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "publisher": {
          "description": "Publisher of the update package.",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "releaseLink": {
          "description": "Link to release notes for the update.",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "availabilityType": {
          "description": "Indicates the way the update content can be downloaded.",
          "type": "string",
          "enum": [
            "Local",
            "Online",
            "Notify"
          ],
          "x-ms-client-flatten": true,
          "x-ms-enum": {
            "name": "availabilityType",
            "modelAsString": true
          }
        },
        "packageType": {
          "description": "Customer-visible type of the update.",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "additionalProperties": {
          "description": "Extensible KV pairs serialized as a string. This is currently used to report the stamp OEM family and hardware model information when an update is flagged as Invalid for the stamp based on OEM type.",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "updateStateProperties": {
          "description": "Additional information regarding the state of the update. See definition of UpdateStateProperties type below for more details on this property.",
          "type": "object",
          "$ref": "#/definitions/UpdateStateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "UpdateStateProperties": {
      "description": "Additional information regarding the state of the update. See definition of UpdateStateProperties type below for more details on this property.",
      "type": "object",
      "properties": {
        "progressPercentage": {
          "description": "Progress percentage of ongoing operation. Currently this property is only valid when the update is in the Downloading state, where it maps to how much of the update content has been downloaded.",
          "type": "number",
          "x-ms-client-flatten": true
        },
        "notifyMessage": {
          "description": "Brief message with instructions for updates of AvailabilityType Notify.",
          "type": "string",
          "x-ms-client-flatten": true
        }
      }
    }
  },
  "parameters": {
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    },
    "UpdateNameParameter": {
      "name": "updateName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Update",
      "x-ms-parameter-location": "method"
    }
  }
}
