{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Edge",
    "version": "2024-02-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ConnectivityStatuses"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Edge/connectivityStatuses": {
      "get": {
        "operationId": "ConnectivityStatuses_List",
        "tags": [
          "ConnectivityStatuses"
        ],
        "description": "List ConnectivityStatus resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatusListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityStatuses_List_MaximumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_List_MaximumSet_Gen.json"
          },
          "ConnectivityStatuses_List_MinimumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Edge/connectivityStatuses/{connectivityStatusName}": {
      "get": {
        "operationId": "ConnectivityStatuses_Get",
        "tags": [
          "ConnectivityStatuses"
        ],
        "description": "Get a ConnectivityStatus",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "connectivityStatusName",
            "in": "path",
            "description": "Name of ConnectivityStatus",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityStatuses_Get_MaximumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Get_MaximumSet_Gen.json"
          },
          "ConnectivityStatuses_Get_MinimumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ConnectivityStatuses_CreateOrUpdate",
        "tags": [
          "ConnectivityStatuses"
        ],
        "description": "Create a ConnectivityStatus",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "connectivityStatusName",
            "in": "path",
            "description": "Name of ConnectivityStatus",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectivityStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConnectivityStatus' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatus"
            }
          },
          "201": {
            "description": "Resource 'ConnectivityStatus' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatus"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityStatuses_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "ConnectivityStatuses_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConnectivityStatuses_Update",
        "tags": [
          "ConnectivityStatuses"
        ],
        "description": "Update a ConnectivityStatus",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "connectivityStatusName",
            "in": "path",
            "description": "Name of ConnectivityStatus",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectivityStatusUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectivityStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityStatuses_Update_MaximumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Update_MaximumSet_Gen.json"
          },
          "ConnectivityStatuses_Update_MinimumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ConnectivityStatuses_Delete",
        "tags": [
          "ConnectivityStatuses"
        ],
        "description": "Delete a ConnectivityStatus",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "connectivityStatusName",
            "in": "path",
            "description": "Name of ConnectivityStatus",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectivityStatuses_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Delete_MaximumSet_Gen.json"
          },
          "ConnectivityStatuses_Delete_MinimumSet_Gen": {
            "$ref": "./examples/ConnectivityStatuses_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectivityStatus": {
      "type": "object",
      "description": "A Microsoft.Edge connectivity status resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectivityStatusProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ConnectivityStatusEnum": {
      "type": "string",
      "description": "The Status",
      "enum": [
        "Connected",
        "NotRecentlyConnected",
        "NeedsAttention"
      ],
      "x-ms-enum": {
        "name": "ConnectivityStatusEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The device is in Connected state"
          },
          {
            "name": "NotRecentlyConnected",
            "value": "NotRecentlyConnected",
            "description": "The device was NotRecentlyConnected"
          },
          {
            "name": "NeedsAttention",
            "value": "NeedsAttention",
            "description": "The device NeedsAttention"
          }
        ]
      }
    },
    "ConnectivityStatusListResult": {
      "type": "object",
      "description": "The response of a ConnectivityStatus list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConnectivityStatus items on this page",
          "items": {
            "$ref": "#/definitions/ConnectivityStatus"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConnectivityStatusProperties": {
      "type": "object",
      "description": "ConnectivityStatus properties",
      "properties": {
        "status": {
          "$ref": "#/definitions/ConnectivityStatusEnum",
          "description": "The Status"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ConnectivityStatusUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ConnectivityStatus.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectivityStatusUpdateProperties",
          "description": "The updatable properties of the ConnectivityStatus."
        }
      }
    },
    "ConnectivityStatusUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ConnectivityStatus.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ConnectivityStatusEnum",
          "description": "The Status"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The ProvisioningState",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
