{
	"swagger": "2.0",
	"info": {
		"title": "MonitorManagementClient",
		"x-ms-code-generation-settings": {
			"name": "MonitorManagementClient"
		},
		"version": "2019-10-01-preview"
	},
	"host": "management.azure.com",
	"schemes": [
		"https"
	],
	"consumes": [],
	"produces": [
		"application/json"
	],
	"security": [
		{
			"azure_auth": [
				"user_impersonation"
			]
		}
	],
	"securityDefinitions": {
		"azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
	"paths": {
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popbrs/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_brs",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popjpe/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_jpe",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popsuk/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_suk",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popfrs/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_frs",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popeas/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_eas",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popsea/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_sea",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popaue/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_aue",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popwuk/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_wuk",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popfrc/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_frc",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popneu/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_neu",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popweu/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_weu",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popscus/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_scus",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popcus/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_cus",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popeus/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_eus",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popwus2/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_wus2",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					},
					{
						"$ref": "#/parameters/ApiVersionParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resoucegroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webtestName}/popncus/testresultfile": {
			"get": {
				"tags": [
					"FindWebTestResult"
				],
				"operationId": "testresultfile_ncus",
				"description": "Returns a file test result for the matching test",
				"parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
					{
						"$ref": "#/parameters/WebtestNameParameter"
					},
					{
						"$ref": "#/parameters/PartitionIdParameter"
					},
					{
						"$ref": "#/parameters/TestIdParameter"
					},
					{
						"$ref": "#/parameters/PosixTimeStampParameter"
					},
					{
						"$ref": "#/parameters/TestSuccessfulParameter"
					},
					{
						"$ref": "#/parameters/DownloadAsParameter"
					},
					{
						"$ref": "#/parameters/OffsetParameter"
					}
				],
				"responses": {
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					},
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/TestResultFileResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get Metadata for Operation": {
						"$ref": "./examples/WebTestResultsTestResultFile.json"
					}
				}
			}
		}
	},
	"definitions": {
		"ErrorResponse": {
			"description": "Describes the format of Error response.",
			"type": "object",
			"properties": {
				"code": {
					"description": "Error code",
					"type": "string"
				},
				"message": {
					"description": "Error message indicating why the operation failed.",
					"type": "string"
				}
			}
		},
    "TestResultFileResponse": {
      "description": "Test result",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "data": {
          "description": "File contents",
          "type": "string"
        },
        "nextLink": {
          "description": "the next link.",
          "type": "string"
        }
      }
    }
	},
	"parameters": {
		"SubscriptionIdParameter": {
			"name": "subscriptionId",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The Azure subscription ID."
		},
		"ResourceGroupNameParameter": {
			"name": "resourceGroupName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The name of the resource group.",
			"x-ms-parameter-location": "method"
		},
		"WebtestNameParameter": {
			"name": "webtestName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The name of the webtest.",
			"x-ms-parameter-location": "method"
		},
		"PartitionIdParameter": {
			"name": "partitionId",
			"in": "query",
			"required": true,
			"type": "string",
			"description": "The partition ID for the result",
			"x-ms-parameter-location": "method"
		},
		"TestIdParameter": {
			"name": "testId",
			"in": "query",
			"required": true,
			"type": "string",
			"description": "The test id for the result",
			"x-ms-parameter-location": "method"
		},
		"PosixTimeStampParameter": {
			"name": "posixTimeStamp",
			"in": "query",
			"required": true,
			"type": "integer",
			"format": "int64",
			"description": "The posix time stamp for the test result",
			"x-ms-parameter-location": "method"
		},
		"TestSuccessfulParameter": {
			"name": "testSuccessful",
			"in": "query",
			"required": true,
			"type": "boolean",
			"description": "the desired success state for the test result",
			"x-ms-parameter-location": "method"
		},
		"DownloadAsParameter": {
			"name": "downloadas",
			"in": "query",
			"required": true,
			"type": "string",
			"description": "the format of webtest result to download",
			"x-ms-parameter-location": "method"
		},
    "OffsetParameter": {
      "name": "offset",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int64",
      "description": "the starting offset in the file to return data from",
      "x-ms-parameter-location": "method"
    },
		"ApiVersionParameter": {
			"name": "api-version",
			"in": "query",
			"required": true,
			"type": "string",
			"description": "Client Api Version."
		}
	}
}
