{
  "swagger": "2.0",
  "info": {
    "title": "Security Insights",
    "description": "API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider",
    "version": "2024-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/recommendations": {
      "get": {
        "x-ms-examples": {
          "Get Recommendations list.": {
            "$ref": "./examples/recommendations/GetRecommendations.json"
          }
        },
        "tags": [
          "recommendations"
        ],
        "description": "Gets a list of all recommendations.",
        "operationId": "GetRecommendations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/WorkspaceName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecommendationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/recommendations/{recommendationId}": {
      "get": {
        "x-ms-examples": {
          "Get a recommendation.": {
            "$ref": "./examples/recommendations/GetRecommendation.json"
          }
        },
        "tags": [
          "recommendations"
        ],
        "description": "Gets a recommendation by its id.",
        "operationId": "Get_SingleRecommendation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/RecommendationId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Recommendation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "x-ms-examples": {
          "Creates a recommendation.": {
            "$ref": "./examples/recommendations/PatchRecommendation.json"
          }
        },
        "tags": [
          "recommendations"
        ],
        "description": "Patch a recommendation.",
        "operationId": "Update_Recommendation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/RecommendationId"
          },
          {
            "$ref": "#/parameters/RecommendationPatch"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Recommendation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/recommendations/{recommendationId}/triggerEvaluation": {
      "post": {
        "x-ms-examples": {
          "Reevaluate a recommendation.": {
            "$ref": "./examples/recommendations/ReevaluateRecommendation.json"
          }
        },
        "tags": [
          "recommendations"
        ],
        "description": "Reevaluate a recommendation.",
        "operationId": "Reevaluate_Recommendation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/RecommendationId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReevaluateResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Recommendation": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../common/2.0/types.json#/definitions/ResourceWithEtag"
        }
      ],
      "description": "Recommendation object.",
      "properties": {
        "properties": {
          "type": "object",
          "$ref": "#/definitions/RecommendationProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "RecommendationProperties": {
      "description": "Recommendation properties object.",
      "properties": {
        "recommendationTypeId": {
          "description": "Id of the recommendation type.",
          "type": "string"
        },
        "state": {
          "description": "State of the recommendation.",
          "$ref": "#/definitions/RecommendationState"
        },
        "title": {
          "description": "Title of the recommendation.",
          "type": "string"
        },
        "description": {
          "description": "Description of the recommendation.",
          "type": "string"
        },
        "creationTimeUtc": {
          "description": "The time stamp (UTC) when the recommendation was created.",
          "type": "string",
          "format": "date-time"
        },
        "lastEvaluatedTimeUtc": {
          "description": "The time stamp (UTC) when the recommendation was last evaluated.",
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedTimeUtc": {
          "description": "The time stamp (UTC) when the recommendation was last modified.",
          "type": "string",
          "format": "date-time"
        },
        "suggestions": {
          "description": "List of suggestions to take for this recommendation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedSuggestion"
          },
          "x-ms-identifiers": []
        },
        "resourceId": {
          "description": "Id of the resource this recommendation refers to.",
          "type": "string",
          "x-nullable": true
        },
        "additionalProperties": {
          "description": "Collection of additional properties for the recommendation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-nullable": true
        }
      },
      "required": [
        "recommendationTypeId",
        "state",
        "title",
        "description",
        "creationTimeUtc",
        "lastEvaluatedTimeUtc",
        "lastModifiedTimeUtc",
        "suggestions"
      ],
      "type": "object"
    },
    "RecommendationList": {
      "description": "A list of recommendations",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Recommendation"
          },
          "description": "An list of recommendations"
        }
      },
      "type": "object"
    },
    "RecommendedSuggestion": {
      "description": "What suggestions should be taken to complete the recommendation.",
      "properties": {
        "suggestionTypeId": {
          "description": "Id of the suggestion type.",
          "type": "string"
        },
        "title": {
          "description": "Title of the suggestion.",
          "type": "string"
        },
        "description": {
          "description": "Description of the suggestion.",
          "type": "string"
        },
        "action": {
          "description": "Action of the suggestion.",
          "type": "string"
        },
        "additionalProperties": {
          "description": "Collection of additional properties for the suggestion.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-nullable": true
        }
      },
      "required": [
        "suggestionTypeId",
        "title",
        "description",
        "action"
      ],
      "type": "object"
    },
    "RecommendationPatch": {
      "description": "Recommendation Fields to update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecommendationPatchProperties"
        }
      },
      "type": "object"
    },
    "RecommendationPatchProperties": {
      "description": "Recommendation Fields Properties to update.",
      "properties": {
        "state": {
          "description": "State of the recommendation.",
          "$ref": "#/definitions/RecommendationState"
        }
      },
      "type": "object"
    },
    "RecommendationState": {
      "description": "State of recommendation.",
      "type": "string",
      "enum": [
        "Active",
        "InProgress",
        "Dismissed",
        "CompletedByUser",
        "CompletedBySystem"
      ],
      "x-ms-enum": {
        "name": "State",
        "modelAsString": true,
        "values": [
          {
            "value": "Active",
            "description": "Recommendation is active."
          },
          {
            "value": "InProgress",
            "description": "Recommendation is in progress."
          },
          {
            "value": "Dismissed",
            "description": "Recommendation has been dismissed."
          },
          {
            "value": "CompletedByUser",
            "description": "Recommendation has been completed by user."
          },
          {
            "value": "CompletedBySystem",
            "description": "Recommendation has been completed by the system."
          }
        ]
      }
    },
    "ReevaluateResponse": {
      "description": "Reevaluate response object.",
      "properties": {
        "lastEvaluatedTimeUtc": {
          "description": "The time stamp (UTC) when the recommendation was last evaluated.",
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "RecommendationId": {
      "description": "Recommendation Id.",
      "in": "path",
      "name": "recommendationId",
      "required": true,
      "type": "string",
      "format": "uuid",
      "x-ms-parameter-location": "method"
    },
    "RecommendationPatch": {
      "description": "Recommendation Fields to Update.",
      "in": "body",
      "name": "recommendationPatch",
      "required": true,
      "schema": {
        "type": "object",
        "$ref": "#/definitions/RecommendationPatch",
        "x-ms-identifiers": []
      },
      "x-ms-parameter-location": "method"
    }
  }
}
