{
  "swagger": "2.0",
  "info": {
    "version": "2025-05-01-preview",
    "title": "AdvisorManagementClient",
    "description": "REST APIs for Azure Advisor Resiliency Reviews."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews": {
      "get": {
        "tags": [
          "resiliencyReviews"
        ],
        "summary": "Get list of resiliency reviews.",
        "description": "Get list of Azure Advisor resiliency reviews.",
        "operationId": "resiliencyReviews_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/topParameter"
          },
          {
            "$ref": "#/parameters/skipParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/resiliencyReviewCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListResiliencyReviews": {
            "$ref": "./examples/ResiliencyReviewsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews/{reviewId}": {
      "get": {
        "tags": [
          "resiliencyReviews"
        ],
        "summary": "Get existing resiliency review.",
        "description": "Get existing Azure Advisor resiliency review by id.",
        "operationId": "resiliencyReviews_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/reviewIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/resiliencyReview"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "GetResiliencyReview": {
            "$ref": "./examples/ResiliencyReviewsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews/{reviewId}/providers/Microsoft.Advisor/triageRecommendations": {
      "get": {
        "tags": [
          "triageRecommendations"
        ],
        "summary": "Get list of recommendations for an existing resiliency review id.",
        "description": "Get list of recommendations for an existing Azure Advisor Resiliency Review Id.",
        "operationId": "triageRecommendations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/reviewIdParameter"
          },
          {
            "$ref": "#/parameters/topParameter"
          },
          {
            "$ref": "#/parameters/skipParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/triageRecommendationCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListTriageRecommendations": {
            "$ref": "./examples/TriageRecommendationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews/{reviewId}/providers/Microsoft.Advisor/triageRecommendations/{recommendationId}": {
      "get": {
        "tags": [
          "triageRecommendations"
        ],
        "summary": "Get an existing recommendation by id for an existing resiliency review id.",
        "description": "Get an existing recommendation by id for an existing Azure Advisor Resiliency Review Id.",
        "operationId": "triageRecommendations_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/reviewIdParameter"
          },
          {
            "$ref": "#/parameters/recommendationIdParameter"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/triageRecommendation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "GetTriageRecommendation": {
            "$ref": "./examples/TriageRecommendationsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews/{reviewId}/providers/Microsoft.Advisor/triageRecommendations/{recommendationId}/approve": {
      "post": {
        "tags": [
          "triageRecommendations"
        ],
        "summary": "Approve triage recommendation by id.",
        "description": "Approve a triage recommendation for a given id.",
        "operationId": "triageRecommendations_ApproveTriageRecommendation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/reviewIdParameter"
          },
          {
            "$ref": "#/parameters/recommendationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "Approve a triage recommendation": {
            "$ref": "./examples/TriageRecommendationsApprove.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews/{reviewId}/providers/Microsoft.Advisor/triageRecommendations/{recommendationId}/reject": {
      "post": {
        "tags": [
          "triageRecommendations"
        ],
        "summary": "Reject existing triage recommendation by id.",
        "description": "Reject an existing triage recommendation for a given id.",
        "operationId": "triageRecommendations_RejectTriageRecommendation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/reviewIdParameter"
          },
          {
            "$ref": "#/parameters/recommendationIdParameter"
          },
          {
            "$ref": "#/parameters/recommendationRejectBodyParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "Reject a triage recommendation": {
            "$ref": "./examples/TriageRecommendationsReject.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews/{reviewId}/providers/Microsoft.Advisor/triageRecommendations/{recommendationId}/reset": {
      "post": {
        "tags": [
          "triageRecommendations"
        ],
        "summary": "Reset existing triage recommendation by id.",
        "description": "Reset an existing triage recommendation for a given id.",
        "operationId": "triageRecommendations_ResetTriageRecommendation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/reviewIdParameter"
          },
          {
            "$ref": "#/parameters/recommendationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "Reset a triage recommendation": {
            "$ref": "./examples/TriageRecommendationsReset.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews/{reviewId}/providers/Microsoft.Advisor/triageRecommendations/{recommendationId}/providers/Microsoft.Advisor/triageResources/{recommendationResourceId}": {
      "get": {
        "tags": [
          "triageResources"
        ],
        "summary": "Get existing triage resource.",
        "description": "Get a triage resource for a given review and recommendation.",
        "operationId": "triageResources_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/reviewIdParameter"
          },
          {
            "$ref": "#/parameters/recommendationIdParameter"
          },
          {
            "$ref": "#/parameters/recommendationResourceIdParameter"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/triageResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "GetTriageResource": {
            "$ref": "./examples/TriageResourcesGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews/{reviewId}/providers/Microsoft.Advisor/triageRecommendations/{recommendationId}/providers/Microsoft.Advisor/triageResources": {
      "get": {
        "tags": [
          "triageResources"
        ],
        "summary": "List triage resources based on a review and recommendation.",
        "description": "List all triage resources that belong to a review and recommendation.",
        "operationId": "triageResources_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/reviewIdParameter"
          },
          {
            "$ref": "#/parameters/recommendationIdParameter"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/triageResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListTriageResources": {
            "$ref": "./examples/TriageResourcesList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "resiliencyReviewCollection": {
      "description": "Collection of Resiliency Reviews.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resiliency reviews.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/resiliencyReview"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of Advisor resiliency reviews, if there are any."
        }
      }
    },
    "resiliencyReview": {
      "description": "The Advisor resiliency review data structure.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/ResiliencyReviews/{reviewId}\".",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name E.g. \"{guid}\".",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Resource type E.g. \"Microsoft.Advisor/resiliencyReviews\".",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/systemData",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/resiliencyReviewProperties",
          "description": "Advisor resiliency review properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "resiliencyReviewProperties": {
      "description": "Resiliency review properties.",
      "type": "object",
      "properties": {
        "reviewName": {
          "type": "string",
          "readOnly": true,
          "description": "Review name."
        },
        "workloadName": {
          "type": "string",
          "readOnly": true,
          "description": "Workload Name."
        },
        "reviewStatus": {
          "readOnly": true,
          "description": "Review status.",
          "$ref": "#/definitions/reviewStatusName"
        },
        "recommendationsCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Review recommendations count."
        },
        "publishedAt": {
          "type": "string",
          "readOnly": true,
          "description": "Review last updated timestamp."
        },
        "updatedAt": {
          "type": "string",
          "readOnly": true,
          "description": "Review last updated timestamp."
        }
      }
    },
    "triageRecommendationCollection": {
      "description": "Collection of Advisor triage recommendations.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "List of triage recommendations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/triageRecommendation"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of triage recommendations, if there are any."
        }
      }
    },
    "triageRecommendation": {
      "description": "Triage recommendation data structure.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/ResiliencyReviews/{reviewId}/providers/Microsoft.Advisor/triageRecommendation/{recommendationId}\".",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name E.g. \"{guid}\".",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Resource type E.g. \"Microsoft.Advisor/triageRecommendation\".",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/systemData",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/triageRecommendationProperties",
          "description": "Advisor resiliency review properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "triageRecommendationProperties": {
      "description": "Triage recommendation properties.",
      "type": "object",
      "properties": {
        "reviewId": {
          "type": "string",
          "readOnly": true,
          "description": "Review id."
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Recommendation label."
        },
        "priority": {
          "description": "Recommendation priority.",
          "$ref": "#/definitions/priorityName"
        },
        "appliesToSubscriptions": {
          "type": "array",
          "readOnly": true,
          "description": "List of subscription ids.",
          "items": {
            "type": "string"
          }
        },
        "recommendationStatus": {
          "description": "Recommendation status.",
          "$ref": "#/definitions/recommendationStatusName"
        },
        "updatedAt": {
          "type": "string",
          "readOnly": true,
          "description": "Recommendation potential benefit."
        },
        "rejectReason": {
          "type": "string",
          "readOnly": true,
          "description": "Recommendation rejection reason."
        },
        "potentialBenefits": {
          "type": "string",
          "readOnly": true,
          "description": "Recommendation potential benefit."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Recommendation description."
        },
        "notes": {
          "type": "string",
          "readOnly": true,
          "description": "Recommendation notes."
        }
      }
    },
    "triageResourceCollection": {
      "description": "Collection of Advisor triage resources.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "List of triage resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/triageResource"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of triage resources, if there are any."
        }
      }
    },
    "triageResource": {
      "description": "Triage resource data structure.",
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/triageResourceProperties",
          "description": "Triage resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "triageResourceProperties": {
      "description": "Triage resource properties.",
      "type": "object",
      "properties": {
        "reviewId": {
          "type": "string",
          "readOnly": true,
          "description": "Unique identifier for the review resource this triageResource belongs to."
        },
        "recommendationId": {
          "type": "string",
          "readOnly": true,
          "description": "Unique identifier for the recommendation resource this triageResource belongs to."
        },
        "subscriptionId": {
          "type": "string",
          "readOnly": true,
          "description": "Unique identifier for the subscription resource this triageResource belongs to."
        },
        "resourceGroup": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the resource group this triageResource belongs to."
        },
        "resourceType": {
          "type": "string",
          "readOnly": true,
          "description": "Type of resource this triageResource corresponds to e.g. \"Cosmos DB\"."
        },
        "resourceId": {
          "type": "string",
          "readOnly": true,
          "description": "Full Azure resource id path of the resource this triageResource corresponds to.",
          "format": "arm-id"
        },
        "resourceName": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the resource this triageResource corresponds to."
        }
      }
    },
    "priorityName": {
      "description": "Recommendation priority name enum.",
      "type": "string",
      "readOnly": true,
      "enum": [
        "High",
        "Medium",
        "Low"
      ],
      "x-ms-enum": {
        "name": "priorityName",
        "modelAsString": true,
        "values": [
          {
            "value": "High",
            "description": "High"
          },
          {
            "value": "Medium",
            "description": "Medium"
          },
          {
            "value": "Low",
            "description": "Low"
          }
        ]
      }
    },
    "recommendationStatusName": {
      "description": "Recommendation status name enum.",
      "type": "string",
      "readOnly": true,
      "enum": [
        "Approved",
        "Rejected",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "recommendationStatusName",
        "modelAsString": true,
        "values": [
          {
            "value": "Approved",
            "description": "Approved"
          },
          {
            "value": "Rejected",
            "description": "Rejected"
          },
          {
            "value": "Pending",
            "description": "Pending"
          }
        ]
      }
    },
    "reviewStatusName": {
      "description": "Review status string, returns the Reviews by the given status (e.g. 'New', 'Triaged', 'Completed').",
      "type": "string",
      "readOnly": true,
      "enum": [
        "New",
        "InProgress",
        "Triaged",
        "Completed"
      ],
      "x-ms-enum": {
        "name": "reviewStatus",
        "modelAsString": true,
        "values": [
          {
            "value": "New",
            "description": "New"
          },
          {
            "value": "InProgress",
            "description": "In Progress"
          },
          {
            "value": "Triaged",
            "description": "Triaged"
          },
          {
            "value": "Completed",
            "description": "Completed"
          }
        ]
      }
    },
    "recommendationRejectBody": {
      "description": "Recommendation reject body.",
      "type": "object",
      "properties": {
        "reasonForRejection": {
          "description": "Reason for rejecting recommendation.",
          "$ref": "#/definitions/reasonForRejectionName"
        }
      }
    },
    "reasonForRejectionName": {
      "description": "Reason for rejecting recommendation name enum.",
      "type": "string",
      "enum": [
        "NotARisk",
        "RiskAccepted"
      ],
      "x-ms-enum": {
        "name": "reasonForRejectionName",
        "modelAsString": true,
        "values": [
          {
            "value": "NotARisk",
            "description": "Not A Risk"
          },
          {
            "value": "RiskAccepted",
            "description": "Risk Accepted"
          }
        ]
      }
    }
  },
  "parameters": {
    "reviewIdParameter": {
      "name": "reviewId",
      "in": "path",
      "description": "Existing review id. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "recommendationIdParameter": {
      "name": "recommendationId",
      "in": "path",
      "description": "Existing triage recommendation id. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "recommendationResourceIdParameter": {
      "name": "recommendationResourceId",
      "in": "path",
      "description": "Existing recommendation triage resource associated with a triage recommendation. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "recommendationRejectBodyParameter": {
      "name": "recommendationRejectBody",
      "in": "body",
      "description": "JSON object that contains reason for rejecting triage recommendation.",
      "required": true,
      "schema": {
        "$ref": "#/definitions/recommendationRejectBody"
      }
    },
    "topParameter": {
      "name": "$top",
      "in": "query",
      "description": "The number of items to be included in the result.",
      "required": false,
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method"
    },
    "skipParameter": {
      "name": "$skip",
      "in": "query",
      "description": "The number of items to skip before starting to collect the result set.",
      "required": false,
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method"
    },
    "filterParameter": {
      "name": "$filter",
      "in": "query",
      "description": "The filter to apply.<br>Filter can be applied to properties ['reviewStatus', 'reviewId'] with operators ['eq', 'and', 'or'].<br>Example:<br>- $filter=reviewStatus eq 'New'",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account."
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
