{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "description": "The Microsoft.AzureStackHCI Rest API spec.",
    "version": "2023-07-01-preview",
    "x-ms-code-generation-settings": {
      "name": "AzureStackHCIClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/virtualNetworks/{virtualNetworkName}": {
      "get": {
        "operationId": "VirtualNetworks_Get",
        "x-ms-examples": {
          "GetVirtualNetwork": {
            "$ref": "./examples/GetVirtualNetwork.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworkNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualNetworks"
            }
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworks_CreateOrUpdate",
        "description": "The operation to create or update a virtual network. Please note some properties can be set only during virtual network creation.",
        "x-ms-examples": {
          "PutVirtualNetwork": {
            "$ref": "./examples/PutVirtualNetwork.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworkNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "virtualNetworks",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworks"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualNetworks"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualNetworks"
            }
          }
        }
      },
      "delete": {
        "operationId": "VirtualNetworks_Delete",
        "description": "The operation to delete a virtual network.",
        "x-ms-examples": {
          "DeleteVirtualNetwork": {
            "$ref": "./examples/DeleteVirtualNetwork.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworkNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "patch": {
        "operationId": "VirtualNetworks_Update",
        "description": "The operation to update a virtual network.",
        "x-ms-examples": {
          "UpdateVirtualNetwork": {
            "$ref": "./examples/UpdateVirtualNetwork.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworkNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "virtualNetworks",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworksUpdateRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualNetworks"
            }
          },
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/virtualNetworks": {
      "get": {
        "operationId": "VirtualNetworks_List",
        "description": "Lists all of the virtual networks in the specified resource group. Use the nextLink property in the response to get the next page of virtual networks.",
        "x-ms-examples": {
          "ListVirtualNetworkByResourceGroup": {
            "$ref": "./examples/ListVirtualNetworkByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualNetworksListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/virtualNetworks": {
      "get": {
        "operationId": "VirtualNetworks_ListAll",
        "description": "Lists all of the virtual networks in the specified subscription. Use the nextLink property in the response to get the next page of virtual networks.",
        "x-ms-examples": {
          "ListVirtualNetworkBySubscription": {
            "$ref": "./examples/ListVirtualNetworkBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualNetworksListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "VirtualNetworkProperties": {
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "dhcpOptions": {
          "description": "DhcpOptions contains an array of DNS servers available to VMs deployed in the virtual network. Standard DHCP option for a subnet overrides VNET DHCP options.",
          "properties": {
            "dnsServers": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The list of DNS servers IP addresses."
            }
          }
        },
        "networkType": {
          "type": "string",
          "description": "Type of the network",
          "enum": [
            "NAT",
            "Transparent",
            "L2Bridge",
            "L2Tunnel",
            "ICS",
            "Private",
            "Overlay",
            "Internal",
            "Mirrored"
          ],
          "x-ms-enum": {
            "name": "NetworkTypeEnum",
            "modelAsString": true
          }
        },
        "subnets": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,78}[_a-zA-Z0-9]$",
                "description": "Name - The name of the resource that is unique within a resource group. This name can be used to access the resource."
              },
              "properties": {
                "type": "object",
                "x-ms-client-flatten": true,
                "properties": {
                  "addressPrefix": {
                    "type": "string",
                    "description": "Cidr for this subnet - IPv4, IPv6"
                  },
                  "addressPrefixes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "AddressPrefixes - List of address prefixes for the subnet."
                  },
                  "ipAllocationMethod": {
                    "type": "string",
                    "description": "IPAllocationMethod - The IP address allocation method. Possible values include: 'Static', 'Dynamic'",
                    "enum": [
                      "Dynamic",
                      "Static"
                    ],
                    "x-ms-enum": {
                      "name": "IpAllocationMethodEnum",
                      "modelAsString": true
                    }
                  },
                  "ipConfigurationReferences": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string",
                          "description": "IPConfigurationID"
                        }
                      },
                      "description": "IPConfigurationReference - Describes a IPConfiguration under the virtual network"
                    },
                    "x-ms-identifiers": [],
                    "description": "IPConfigurationReferences - list of IPConfigurationReferences"
                  },
                  "routeTable": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Etag - Gets a unique read-only string that changes whenever the resource is updated."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name - READ-ONLY; Resource name."
                      },
                      "properties": {
                        "type": "object",
                        "x-ms-client-flatten": true,
                        "properties": {
                          "routes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,78}[_a-zA-Z0-9]$",
                                  "description": "Name - name of the subnet"
                                },
                                "properties": {
                                  "type": "object",
                                  "x-ms-client-flatten": true,
                                  "properties": {
                                    "addressPrefix": {
                                      "type": "string",
                                      "description": "AddressPrefix - The destination CIDR to which the route applies."
                                    },
                                    "nextHopIpAddress": {
                                      "type": "string",
                                      "description": "NextHopIPAddress - The IP address packets should be forwarded to. Next hop values are only allowed in routes where the next hop type is VirtualAppliance."
                                    }
                                  },
                                  "description": "RoutePropertiesFormat - Properties of the route."
                                }
                              },
                              "description": "Route is associated with a subnet."
                            },
                            "description": "Routes - Collection of routes contained within a route table.",
                            "x-ms-identifiers": []
                          }
                        },
                        "description": "RouteTablePropertiesFormat route Table resource."
                      },
                      "type": {
                        "type": "string",
                        "description": "Type - READ-ONLY; Resource type."
                      }
                    },
                    "description": "RouteTable for the subnet"
                  },
                  "vlan": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Vlan to use for the subnet"
                  }
                },
                "description": "SubnetProperties - Properties of the subnet."
              }
            },
            "description": "Subnet subnet in a virtual network resource."
          },
          "description": "Subnet - list of subnets under the virtual network",
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the virtual network.",
          "readOnly": true,
          "enum": [
            "Succeeded",
            "Failed",
            "InProgress",
            "Accepted",
            "Deleting",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "ProvisioningStateEnum",
            "modelAsString": true
          }
        },
        "vmSwitchName": {
          "type": "string",
          "description": "name of the network switch to be used for VMs"
        },
        "status": {
          "$ref": "#/definitions/VirtualNetworkStatus"
        }
      },
      "description": "Properties under the virtual network resource"
    },
    "VirtualNetworkStatus": {
      "x-ms-client-flatten": true,
      "readOnly": true,
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "VirtualNetwork provisioning error code"
        },
        "errorMessage": {
          "type": "string",
          "description": "Descriptive error message"
        },
        "provisioningStatus": {
          "properties": {
            "operationId": {
              "type": "string",
              "description": "The ID of the operation performed on the virtual network"
            },
            "status": {
              "type": "string",
              "description": "The status of the operation performed on the virtual network [Succeeded, Failed, InProgress]",
              "enum": [
                "Succeeded",
                "Failed",
                "InProgress"
              ],
              "x-ms-enum": {
                "name": "Status",
                "modelAsString": true
              }
            }
          }
        }
      },
      "description": "The observed state of virtual networks"
    },
    "VirtualNetworks": {
      "type": "object",
      "description": "The virtual network resource definition.",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VirtualNetworkProperties"
        },
        "extendedLocation": {
          "$ref": "./common.json#/definitions/ExtendedLocation",
          "description": "The extendedLocation of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "VirtualNetworksUpdateRequest": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The virtual network resource patch definition."
    },
    "VirtualNetworksListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualNetworks"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "VirtualNetworkNameParameter": {
      "name": "virtualNetworkName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,62}[_a-zA-Z0-9]$",
      "x-ms-parameter-location": "method",
      "maxLength": 64,
      "minLength": 2,
      "description": "Name of the virtual network"
    }
  }
}
