{
  "swagger": "2.0",
  "info": {
    "title": "Azure Alerts Management Service Resource Provider",
    "version": "2025-05-25-preview",
    "description": "Azure Alerts Management Service provides a single pane of glass of alerts across Azure Monitor.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Alerts"
    },
    {
      "name": "AlertGetAllTenantOperation"
    },
    {
      "name": "AlertOperationGroup"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.AlertsManagement/alerts": {
      "get": {
        "operationId": "Alerts_GetAll",
        "tags": [
          "AlertOperationGroup"
        ],
        "description": "List all existing alerts, where the results can be filtered on the basis of multiple parameters (e.g. time range). The results can then be sorted on the basis specific fields, with the default being lastModifiedDateTime.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetResource",
            "in": "query",
            "description": "Filter by target resource( which is full ARM ID) Default value is select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetResourceType",
            "in": "query",
            "description": "Filter by target resource type. Default value is select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetResourceGroup",
            "in": "query",
            "description": "Filter by target resource group name. Default value is select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "monitorService",
            "in": "query",
            "description": "Filter by monitor service which generates the alert instance. Default value is select all.",
            "required": false,
            "type": "string",
            "enum": [
              "Application Insights",
              "ActivityLog Administrative",
              "ActivityLog Security",
              "ActivityLog Recommendation",
              "ActivityLog Policy",
              "ActivityLog Autoscale",
              "Log Analytics",
              "Nagios",
              "Platform",
              "SCOM",
              "ServiceHealth",
              "SmartDetector",
              "VM Insights",
              "Zabbix",
              "Resource Health"
            ],
            "x-ms-enum": {
              "name": "MonitorService",
              "modelAsString": true,
              "values": [
                {
                  "name": "Application Insights",
                  "value": "Application Insights",
                  "description": "Application Insights"
                },
                {
                  "name": "ActivityLog Administrative",
                  "value": "ActivityLog Administrative",
                  "description": "ActivityLog Administrative"
                },
                {
                  "name": "ActivityLog Security",
                  "value": "ActivityLog Security",
                  "description": "ActivityLog Security"
                },
                {
                  "name": "ActivityLog Recommendation",
                  "value": "ActivityLog Recommendation",
                  "description": "ActivityLog Recommendation"
                },
                {
                  "name": "ActivityLog Policy",
                  "value": "ActivityLog Policy",
                  "description": "ActivityLog Policy"
                },
                {
                  "name": "ActivityLog Autoscale",
                  "value": "ActivityLog Autoscale",
                  "description": "ActivityLog Autoscale"
                },
                {
                  "name": "Log Analytics",
                  "value": "Log Analytics",
                  "description": "Log Analytics"
                },
                {
                  "name": "Nagios",
                  "value": "Nagios",
                  "description": "Nagios"
                },
                {
                  "name": "Platform",
                  "value": "Platform",
                  "description": "Platform"
                },
                {
                  "name": "SCOM",
                  "value": "SCOM",
                  "description": "SCOM"
                },
                {
                  "name": "ServiceHealth",
                  "value": "ServiceHealth",
                  "description": "ServiceHealth"
                },
                {
                  "name": "SmartDetector",
                  "value": "SmartDetector",
                  "description": "SmartDetector"
                },
                {
                  "name": "VM Insights",
                  "value": "VM Insights",
                  "description": "VM Insights"
                },
                {
                  "name": "Zabbix",
                  "value": "Zabbix",
                  "description": "Zabbix"
                },
                {
                  "name": "Resource Health",
                  "value": "Resource Health",
                  "description": "Resource Health"
                }
              ]
            }
          },
          {
            "name": "monitorCondition",
            "in": "query",
            "description": "Filter by monitor condition which is either 'Fired' or 'Resolved'. Default value is to select all.",
            "required": false,
            "type": "string",
            "enum": [
              "Fired",
              "Resolved"
            ],
            "x-ms-enum": {
              "name": "MonitorCondition",
              "modelAsString": true,
              "values": [
                {
                  "name": "Fired",
                  "value": "Fired",
                  "description": "Fired"
                },
                {
                  "name": "Resolved",
                  "value": "Resolved",
                  "description": "Resolved"
                }
              ]
            }
          },
          {
            "name": "severity",
            "in": "query",
            "description": "Filter by severity.  Default value is select all.",
            "required": false,
            "type": "string",
            "enum": [
              "Sev0",
              "Sev1",
              "Sev2",
              "Sev3",
              "Sev4"
            ],
            "x-ms-enum": {
              "name": "Severity",
              "modelAsString": true,
              "values": [
                {
                  "name": "Sev0",
                  "value": "Sev0",
                  "description": "Sev0"
                },
                {
                  "name": "Sev1",
                  "value": "Sev1",
                  "description": "Sev1"
                },
                {
                  "name": "Sev2",
                  "value": "Sev2",
                  "description": "Sev2"
                },
                {
                  "name": "Sev3",
                  "value": "Sev3",
                  "description": "Sev3"
                },
                {
                  "name": "Sev4",
                  "value": "Sev4",
                  "description": "Sev4"
                }
              ]
            }
          },
          {
            "name": "alertState",
            "in": "query",
            "description": "Filter by state of the alert instance. Default value is to select all.",
            "required": false,
            "type": "string",
            "enum": [
              "New",
              "Acknowledged",
              "Closed"
            ],
            "x-ms-enum": {
              "name": "AlertState",
              "modelAsString": true,
              "values": [
                {
                  "name": "New",
                  "value": "New",
                  "description": "New"
                },
                {
                  "name": "Acknowledged",
                  "value": "Acknowledged",
                  "description": "Acknowledged"
                },
                {
                  "name": "Closed",
                  "value": "Closed",
                  "description": "Closed"
                }
              ]
            }
          },
          {
            "name": "alertRule",
            "in": "query",
            "description": "Filter by specific alert rule.  Default value is to select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "smartGroupId",
            "in": "query",
            "description": "Filter the alerts list by the Smart Group Id. Default value is none.",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeContext",
            "in": "query",
            "description": "Include context which has contextual data specific to the monitor service. Default value is false'",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includeEgressConfig",
            "in": "query",
            "description": "Include egress config which would be used for displaying the content in portal.  Default value is 'false'.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pageCount",
            "in": "query",
            "description": "Determines number of alerts returned per page in response. Permissible value is between 1 to 250. When the \"includeContent\"  filter is selected, maximum value allowed is 25. Default value is 25.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort the query results by input field,  Default value is 'lastModifiedDateTime'.",
            "required": false,
            "type": "string",
            "enum": [
              "name",
              "severity",
              "alertState",
              "monitorCondition",
              "targetResource",
              "targetResourceName",
              "targetResourceGroup",
              "targetResourceType",
              "startDateTime",
              "lastModifiedDateTime"
            ],
            "x-ms-enum": {
              "name": "AlertsSortByFields",
              "modelAsString": true,
              "values": [
                {
                  "name": "name",
                  "value": "name",
                  "description": "name"
                },
                {
                  "name": "severity",
                  "value": "severity",
                  "description": "severity"
                },
                {
                  "name": "alertState",
                  "value": "alertState",
                  "description": "alertState"
                },
                {
                  "name": "monitorCondition",
                  "value": "monitorCondition",
                  "description": "monitorCondition"
                },
                {
                  "name": "targetResource",
                  "value": "targetResource",
                  "description": "targetResource"
                },
                {
                  "name": "targetResourceName",
                  "value": "targetResourceName",
                  "description": "targetResourceName"
                },
                {
                  "name": "targetResourceGroup",
                  "value": "targetResourceGroup",
                  "description": "targetResourceGroup"
                },
                {
                  "name": "targetResourceType",
                  "value": "targetResourceType",
                  "description": "targetResourceType"
                },
                {
                  "name": "startDateTime",
                  "value": "startDateTime",
                  "description": "startDateTime"
                },
                {
                  "name": "lastModifiedDateTime",
                  "value": "lastModifiedDateTime",
                  "description": "lastModifiedDateTime"
                }
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort the query results order in either ascending or descending.  Default value is 'desc' for time fields and 'asc' for others.",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-enum": {
              "name": "SortOrder",
              "modelAsString": true,
              "values": [
                {
                  "name": "asc",
                  "value": "asc",
                  "description": "asc"
                },
                {
                  "name": "desc",
                  "value": "desc",
                  "description": "desc"
                }
              ]
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "This filter allows to selection of the fields(comma separated) which would  be part of the essential section. This would allow to project only the  required fields rather than getting entire content.  Default is to fetch all the fields in the essentials section.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeRange",
            "in": "query",
            "description": "Filter by time range by below listed values. Default value is 1 day.",
            "required": false,
            "type": "string",
            "enum": [
              "1h",
              "1d",
              "7d",
              "30d"
            ],
            "x-ms-enum": {
              "name": "TimeRange",
              "modelAsString": true,
              "values": [
                {
                  "name": "1h",
                  "value": "1h",
                  "description": "1h"
                },
                {
                  "name": "1d",
                  "value": "1d",
                  "description": "1d"
                },
                {
                  "name": "7d",
                  "value": "7d",
                  "description": "7d"
                },
                {
                  "name": "30d",
                  "value": "30d",
                  "description": "30d"
                }
              ]
            }
          },
          {
            "name": "customTimeRange",
            "in": "query",
            "description": "Filter by custom time range in the format <start-time>/<end-time>  where time is in (ISO-8601 format)'. Permissible values is within 30 days from  query time. Either timeRange or customTimeRange could be used but not both. Default is none.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AlertsManagementErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListAlerts": {
            "$ref": "./examples/Alerts_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.AlertsManagement/alerts/{alertId}": {
      "get": {
        "operationId": "Alerts_GetById",
        "tags": [
          "AlertOperationGroup"
        ],
        "summary": "Get a specific alert.",
        "description": "Get information related to a specific alert. If scope is a deleted resource then please use scope as parent resource of the delete resource. For example if my alert id is '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/virtualMachines/vm1/providers/Microsoft.AlertsManagement/alerts/{alertId}' and 'vm1' is deleted then if you want to get alert by id then use parent resource of scope. So in this example get alert by id call will look like this: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/alerts/{alertId}'.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique ID of an alert instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AlertsManagementErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetById": {
            "$ref": "./examples/Alerts_GetById.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.AlertsManagement/alerts/{alertId}/changestate": {
      "post": {
        "operationId": "Alerts_ChangeState",
        "tags": [
          "AlertOperationGroup"
        ],
        "description": "Change the state of an alert. If scope is a deleted resource then please use scope as parent resource of the delete resource. For example if my alert id is '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/virtualMachines/vm1/providers/Microsoft.AlertsManagement/alerts/{alertId}' and 'vm1' is deleted then if you want to change state of this particular alert then use parent resource of scope. So in this example change state call will look like this: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/alerts/{alertId}'.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique ID of an alert instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "newState",
            "in": "query",
            "description": "New state of the alert.",
            "required": true,
            "type": "string",
            "enum": [
              "New",
              "Acknowledged",
              "Closed"
            ],
            "x-ms-enum": {
              "name": "AlertState",
              "modelAsString": true,
              "values": [
                {
                  "name": "New",
                  "value": "New",
                  "description": "New"
                },
                {
                  "name": "Acknowledged",
                  "value": "Acknowledged",
                  "description": "Acknowledged"
                },
                {
                  "name": "Closed",
                  "value": "Closed",
                  "description": "Closed"
                }
              ]
            }
          },
          {
            "name": "comment",
            "in": "body",
            "description": "reason of change alert state",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Comments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AlertsManagementErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resolve": {
            "$ref": "./examples/Alerts_ChangeState.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.AlertsManagement/alerts/{alertId}/enrichments": {
      "get": {
        "operationId": "Alerts_GetEnrichments",
        "tags": [
          "AlertOperationGroup"
        ],
        "description": "Get the enrichments of an alert. It returns a collection of one object named default.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique ID of an alert instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertEnrichmentsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resolve": {
            "$ref": "./examples/Alerts_GetEnrichments.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.AlertsManagement/alerts/{alertId}/history": {
      "get": {
        "operationId": "Alerts_GetHistory",
        "tags": [
          "AlertOperationGroup"
        ],
        "description": "Get the history of an alert, which captures any monitor condition changes (Fired/Resolved), alert state changes (New/Acknowledged/Closed) and applied action rules for that particular alert. If scope is a deleted resource then please use scope as parent resource of the delete resource. For example if my alert id is '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/virtualMachines/vm1/providers/Microsoft.AlertsManagement/alerts/{alertId}' and 'vm1' is deleted then if you want to get history of this particular alert then use parent resource of scope. So in this example get history call will look like this: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/alerts/{alertId}/history'.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique ID of an alert instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertModification"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AlertsManagementErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resolve": {
            "$ref": "./examples/Alerts_History.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.AlertsManagement/alertsSummary": {
      "get": {
        "operationId": "Alerts_GetSummary",
        "description": "Get a summarized count of your alerts grouped by various parameters (e.g. grouping by 'Severity' returns the count of alerts for each severity).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "groupby",
            "in": "query",
            "description": "This parameter allows the result set to be grouped by input fields. For example, groupby=severity,alertstate.",
            "required": true,
            "type": "string",
            "enum": [
              "severity",
              "alertState",
              "monitorCondition",
              "monitorService",
              "signalType",
              "alertRule"
            ],
            "x-ms-enum": {
              "name": "AlertsSummaryGroupByFields",
              "modelAsString": true,
              "values": [
                {
                  "name": "severity",
                  "value": "severity",
                  "description": "severity"
                },
                {
                  "name": "alertState",
                  "value": "alertState",
                  "description": "alertState"
                },
                {
                  "name": "monitorCondition",
                  "value": "monitorCondition",
                  "description": "monitorCondition"
                },
                {
                  "name": "monitorService",
                  "value": "monitorService",
                  "description": "monitorService"
                },
                {
                  "name": "signalType",
                  "value": "signalType",
                  "description": "signalType"
                },
                {
                  "name": "alertRule",
                  "value": "alertRule",
                  "description": "alertRule"
                }
              ]
            }
          },
          {
            "name": "includeSmartGroupsCount",
            "in": "query",
            "description": "Include count of the SmartGroups as part of the summary. Default value is 'false'.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "targetResource",
            "in": "query",
            "description": "Filter by target resource( which is full ARM ID) Default value is select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetResourceType",
            "in": "query",
            "description": "Filter by target resource type. Default value is select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetResourceGroup",
            "in": "query",
            "description": "Filter by target resource group name. Default value is select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "monitorService",
            "in": "query",
            "description": "Filter by monitor service which generates the alert instance. Default value is select all.",
            "required": false,
            "type": "string",
            "enum": [
              "Application Insights",
              "ActivityLog Administrative",
              "ActivityLog Security",
              "ActivityLog Recommendation",
              "ActivityLog Policy",
              "ActivityLog Autoscale",
              "Log Analytics",
              "Nagios",
              "Platform",
              "SCOM",
              "ServiceHealth",
              "SmartDetector",
              "VM Insights",
              "Zabbix",
              "Resource Health"
            ],
            "x-ms-enum": {
              "name": "MonitorService",
              "modelAsString": true,
              "values": [
                {
                  "name": "Application Insights",
                  "value": "Application Insights",
                  "description": "Application Insights"
                },
                {
                  "name": "ActivityLog Administrative",
                  "value": "ActivityLog Administrative",
                  "description": "ActivityLog Administrative"
                },
                {
                  "name": "ActivityLog Security",
                  "value": "ActivityLog Security",
                  "description": "ActivityLog Security"
                },
                {
                  "name": "ActivityLog Recommendation",
                  "value": "ActivityLog Recommendation",
                  "description": "ActivityLog Recommendation"
                },
                {
                  "name": "ActivityLog Policy",
                  "value": "ActivityLog Policy",
                  "description": "ActivityLog Policy"
                },
                {
                  "name": "ActivityLog Autoscale",
                  "value": "ActivityLog Autoscale",
                  "description": "ActivityLog Autoscale"
                },
                {
                  "name": "Log Analytics",
                  "value": "Log Analytics",
                  "description": "Log Analytics"
                },
                {
                  "name": "Nagios",
                  "value": "Nagios",
                  "description": "Nagios"
                },
                {
                  "name": "Platform",
                  "value": "Platform",
                  "description": "Platform"
                },
                {
                  "name": "SCOM",
                  "value": "SCOM",
                  "description": "SCOM"
                },
                {
                  "name": "ServiceHealth",
                  "value": "ServiceHealth",
                  "description": "ServiceHealth"
                },
                {
                  "name": "SmartDetector",
                  "value": "SmartDetector",
                  "description": "SmartDetector"
                },
                {
                  "name": "VM Insights",
                  "value": "VM Insights",
                  "description": "VM Insights"
                },
                {
                  "name": "Zabbix",
                  "value": "Zabbix",
                  "description": "Zabbix"
                },
                {
                  "name": "Resource Health",
                  "value": "Resource Health",
                  "description": "Resource Health"
                }
              ]
            }
          },
          {
            "name": "monitorCondition",
            "in": "query",
            "description": "Filter by monitor condition which is either 'Fired' or 'Resolved'. Default value is to select all.",
            "required": false,
            "type": "string",
            "enum": [
              "Fired",
              "Resolved"
            ],
            "x-ms-enum": {
              "name": "MonitorCondition",
              "modelAsString": true,
              "values": [
                {
                  "name": "Fired",
                  "value": "Fired",
                  "description": "Fired"
                },
                {
                  "name": "Resolved",
                  "value": "Resolved",
                  "description": "Resolved"
                }
              ]
            }
          },
          {
            "name": "severity",
            "in": "query",
            "description": "Filter by severity.  Default value is select all.",
            "required": false,
            "type": "string",
            "enum": [
              "Sev0",
              "Sev1",
              "Sev2",
              "Sev3",
              "Sev4"
            ],
            "x-ms-enum": {
              "name": "Severity",
              "modelAsString": true,
              "values": [
                {
                  "name": "Sev0",
                  "value": "Sev0",
                  "description": "Sev0"
                },
                {
                  "name": "Sev1",
                  "value": "Sev1",
                  "description": "Sev1"
                },
                {
                  "name": "Sev2",
                  "value": "Sev2",
                  "description": "Sev2"
                },
                {
                  "name": "Sev3",
                  "value": "Sev3",
                  "description": "Sev3"
                },
                {
                  "name": "Sev4",
                  "value": "Sev4",
                  "description": "Sev4"
                }
              ]
            }
          },
          {
            "name": "alertState",
            "in": "query",
            "description": "Filter by state of the alert instance. Default value is to select all.",
            "required": false,
            "type": "string",
            "enum": [
              "New",
              "Acknowledged",
              "Closed"
            ],
            "x-ms-enum": {
              "name": "AlertState",
              "modelAsString": true,
              "values": [
                {
                  "name": "New",
                  "value": "New",
                  "description": "New"
                },
                {
                  "name": "Acknowledged",
                  "value": "Acknowledged",
                  "description": "Acknowledged"
                },
                {
                  "name": "Closed",
                  "value": "Closed",
                  "description": "Closed"
                }
              ]
            }
          },
          {
            "name": "alertRule",
            "in": "query",
            "description": "Filter by specific alert rule.  Default value is to select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeRange",
            "in": "query",
            "description": "Filter by time range by below listed values. Default value is 1 day.",
            "required": false,
            "type": "string",
            "enum": [
              "1h",
              "1d",
              "7d",
              "30d"
            ],
            "x-ms-enum": {
              "name": "TimeRange",
              "modelAsString": true,
              "values": [
                {
                  "name": "1h",
                  "value": "1h",
                  "description": "1h"
                },
                {
                  "name": "1d",
                  "value": "1d",
                  "description": "1d"
                },
                {
                  "name": "7d",
                  "value": "7d",
                  "description": "7d"
                },
                {
                  "name": "30d",
                  "value": "30d",
                  "description": "30d"
                }
              ]
            }
          },
          {
            "name": "customTimeRange",
            "in": "query",
            "description": "Filter by custom time range in the format <start-time>/<end-time>  where time is in (ISO-8601 format)'. Permissible values is within 30 days from  query time. Either timeRange or customTimeRange could be used but not both. Default is none.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AlertsSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AlertsManagementErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Summary": {
            "$ref": "./examples/Alerts_Summary.json"
          }
        }
      }
    },
    "/providers/Microsoft.AlertsManagement/alerts": {
      "get": {
        "operationId": "Alerts_GetAllTenant",
        "tags": [
          "AlertGetAllTenantOperation"
        ],
        "description": "List all existing alerts, where the results can be filtered on the basis of multiple parameters (e.g. time range). The results can then be sorted on the basis specific fields, with the default being lastModifiedDateTime.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "targetResource",
            "in": "query",
            "description": "Filter by target resource( which is full ARM ID) Default value is select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetResourceType",
            "in": "query",
            "description": "Filter by target resource type. Default value is select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetResourceGroup",
            "in": "query",
            "description": "Filter by target resource group name. Default value is select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "monitorService",
            "in": "query",
            "description": "Filter by monitor service which generates the alert instance. Default value is select all.",
            "required": false,
            "type": "string",
            "enum": [
              "Application Insights",
              "ActivityLog Administrative",
              "ActivityLog Security",
              "ActivityLog Recommendation",
              "ActivityLog Policy",
              "ActivityLog Autoscale",
              "Log Analytics",
              "Nagios",
              "Platform",
              "SCOM",
              "ServiceHealth",
              "SmartDetector",
              "VM Insights",
              "Zabbix",
              "Resource Health"
            ],
            "x-ms-enum": {
              "name": "MonitorService",
              "modelAsString": true,
              "values": [
                {
                  "name": "Application Insights",
                  "value": "Application Insights",
                  "description": "Application Insights"
                },
                {
                  "name": "ActivityLog Administrative",
                  "value": "ActivityLog Administrative",
                  "description": "ActivityLog Administrative"
                },
                {
                  "name": "ActivityLog Security",
                  "value": "ActivityLog Security",
                  "description": "ActivityLog Security"
                },
                {
                  "name": "ActivityLog Recommendation",
                  "value": "ActivityLog Recommendation",
                  "description": "ActivityLog Recommendation"
                },
                {
                  "name": "ActivityLog Policy",
                  "value": "ActivityLog Policy",
                  "description": "ActivityLog Policy"
                },
                {
                  "name": "ActivityLog Autoscale",
                  "value": "ActivityLog Autoscale",
                  "description": "ActivityLog Autoscale"
                },
                {
                  "name": "Log Analytics",
                  "value": "Log Analytics",
                  "description": "Log Analytics"
                },
                {
                  "name": "Nagios",
                  "value": "Nagios",
                  "description": "Nagios"
                },
                {
                  "name": "Platform",
                  "value": "Platform",
                  "description": "Platform"
                },
                {
                  "name": "SCOM",
                  "value": "SCOM",
                  "description": "SCOM"
                },
                {
                  "name": "ServiceHealth",
                  "value": "ServiceHealth",
                  "description": "ServiceHealth"
                },
                {
                  "name": "SmartDetector",
                  "value": "SmartDetector",
                  "description": "SmartDetector"
                },
                {
                  "name": "VM Insights",
                  "value": "VM Insights",
                  "description": "VM Insights"
                },
                {
                  "name": "Zabbix",
                  "value": "Zabbix",
                  "description": "Zabbix"
                },
                {
                  "name": "Resource Health",
                  "value": "Resource Health",
                  "description": "Resource Health"
                }
              ]
            }
          },
          {
            "name": "monitorCondition",
            "in": "query",
            "description": "Filter by monitor condition which is either 'Fired' or 'Resolved'. Default value is to select all.",
            "required": false,
            "type": "string",
            "enum": [
              "Fired",
              "Resolved"
            ],
            "x-ms-enum": {
              "name": "MonitorCondition",
              "modelAsString": true,
              "values": [
                {
                  "name": "Fired",
                  "value": "Fired",
                  "description": "Fired"
                },
                {
                  "name": "Resolved",
                  "value": "Resolved",
                  "description": "Resolved"
                }
              ]
            }
          },
          {
            "name": "severity",
            "in": "query",
            "description": "Filter by severity.  Default value is select all.",
            "required": false,
            "type": "string",
            "enum": [
              "Sev0",
              "Sev1",
              "Sev2",
              "Sev3",
              "Sev4"
            ],
            "x-ms-enum": {
              "name": "Severity",
              "modelAsString": true,
              "values": [
                {
                  "name": "Sev0",
                  "value": "Sev0",
                  "description": "Sev0"
                },
                {
                  "name": "Sev1",
                  "value": "Sev1",
                  "description": "Sev1"
                },
                {
                  "name": "Sev2",
                  "value": "Sev2",
                  "description": "Sev2"
                },
                {
                  "name": "Sev3",
                  "value": "Sev3",
                  "description": "Sev3"
                },
                {
                  "name": "Sev4",
                  "value": "Sev4",
                  "description": "Sev4"
                }
              ]
            }
          },
          {
            "name": "alertState",
            "in": "query",
            "description": "Filter by state of the alert instance. Default value is to select all.",
            "required": false,
            "type": "string",
            "enum": [
              "New",
              "Acknowledged",
              "Closed"
            ],
            "x-ms-enum": {
              "name": "AlertState",
              "modelAsString": true,
              "values": [
                {
                  "name": "New",
                  "value": "New",
                  "description": "New"
                },
                {
                  "name": "Acknowledged",
                  "value": "Acknowledged",
                  "description": "Acknowledged"
                },
                {
                  "name": "Closed",
                  "value": "Closed",
                  "description": "Closed"
                }
              ]
            }
          },
          {
            "name": "alertRule",
            "in": "query",
            "description": "Filter by specific alert rule.  Default value is to select all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "smartGroupId",
            "in": "query",
            "description": "Filter the alerts list by the Smart Group Id. Default value is none.",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeContext",
            "in": "query",
            "description": "Include context which has contextual data specific to the monitor service. Default value is false'",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includeEgressConfig",
            "in": "query",
            "description": "Include egress config which would be used for displaying the content in portal.  Default value is 'false'.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pageCount",
            "in": "query",
            "description": "Determines number of alerts returned per page in response. Permissible value is between 1 to 250. When the \"includeContent\"  filter is selected, maximum value allowed is 25. Default value is 25.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort the query results by input field,  Default value is 'lastModifiedDateTime'.",
            "required": false,
            "type": "string",
            "enum": [
              "name",
              "severity",
              "alertState",
              "monitorCondition",
              "targetResource",
              "targetResourceName",
              "targetResourceGroup",
              "targetResourceType",
              "startDateTime",
              "lastModifiedDateTime"
            ],
            "x-ms-enum": {
              "name": "AlertsSortByFields",
              "modelAsString": true,
              "values": [
                {
                  "name": "name",
                  "value": "name",
                  "description": "name"
                },
                {
                  "name": "severity",
                  "value": "severity",
                  "description": "severity"
                },
                {
                  "name": "alertState",
                  "value": "alertState",
                  "description": "alertState"
                },
                {
                  "name": "monitorCondition",
                  "value": "monitorCondition",
                  "description": "monitorCondition"
                },
                {
                  "name": "targetResource",
                  "value": "targetResource",
                  "description": "targetResource"
                },
                {
                  "name": "targetResourceName",
                  "value": "targetResourceName",
                  "description": "targetResourceName"
                },
                {
                  "name": "targetResourceGroup",
                  "value": "targetResourceGroup",
                  "description": "targetResourceGroup"
                },
                {
                  "name": "targetResourceType",
                  "value": "targetResourceType",
                  "description": "targetResourceType"
                },
                {
                  "name": "startDateTime",
                  "value": "startDateTime",
                  "description": "startDateTime"
                },
                {
                  "name": "lastModifiedDateTime",
                  "value": "lastModifiedDateTime",
                  "description": "lastModifiedDateTime"
                }
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort the query results order in either ascending or descending.  Default value is 'desc' for time fields and 'asc' for others.",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-enum": {
              "name": "SortOrder",
              "modelAsString": true,
              "values": [
                {
                  "name": "asc",
                  "value": "asc",
                  "description": "asc"
                },
                {
                  "name": "desc",
                  "value": "desc",
                  "description": "desc"
                }
              ]
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "This filter allows to selection of the fields(comma separated) which would  be part of the essential section. This would allow to project only the  required fields rather than getting entire content.  Default is to fetch all the fields in the essentials section.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeRange",
            "in": "query",
            "description": "Filter by time range by below listed values. Default value is 1 day.",
            "required": false,
            "type": "string",
            "enum": [
              "1h",
              "1d",
              "7d",
              "30d"
            ],
            "x-ms-enum": {
              "name": "TimeRange",
              "modelAsString": true,
              "values": [
                {
                  "name": "1h",
                  "value": "1h",
                  "description": "1h"
                },
                {
                  "name": "1d",
                  "value": "1d",
                  "description": "1d"
                },
                {
                  "name": "7d",
                  "value": "7d",
                  "description": "7d"
                },
                {
                  "name": "30d",
                  "value": "30d",
                  "description": "30d"
                }
              ]
            }
          },
          {
            "name": "customTimeRange",
            "in": "query",
            "description": "Filter by custom time range in the format <start-time>/<end-time>  where time is in (ISO-8601 format)'. Permissible values is within 30 days from  query time. Either timeRange or customTimeRange could be used but not both. Default is none.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AlertsManagementErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListAlerts": {
            "$ref": "./examples/Alerts_List_GetAllTenant.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.AlertsManagement/alerts/{alertId}": {
      "get": {
        "operationId": "Alerts_GetByIdTenant",
        "tags": [
          "Alerts"
        ],
        "summary": "Get a specific alert.",
        "description": "Get information related to a specific alert.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique ID of an alert instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AlertsManagementErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetById": {
            "$ref": "./examples/Alerts_GetByIdTenant.json"
          }
        }
      }
    },
    "/providers/Microsoft.AlertsManagement/alerts/{alertId}/changestate": {
      "post": {
        "operationId": "Alerts_ChangeStateTenant",
        "tags": [
          "Alerts"
        ],
        "description": "Change the state of an alert.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique ID of an alert instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "newState",
            "in": "query",
            "description": "New state of the alert.",
            "required": true,
            "type": "string",
            "enum": [
              "New",
              "Acknowledged",
              "Closed"
            ],
            "x-ms-enum": {
              "name": "AlertState",
              "modelAsString": true,
              "values": [
                {
                  "name": "New",
                  "value": "New",
                  "description": "New"
                },
                {
                  "name": "Acknowledged",
                  "value": "Acknowledged",
                  "description": "Acknowledged"
                },
                {
                  "name": "Closed",
                  "value": "Closed",
                  "description": "Closed"
                }
              ]
            }
          },
          {
            "name": "comment",
            "in": "body",
            "description": "reason of change alert state",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Comments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AlertsManagementErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resolve": {
            "$ref": "./examples/Alerts_ChangeStateTenant.json"
          }
        }
      }
    },
    "/providers/Microsoft.AlertsManagement/alerts/{alertId}/history": {
      "get": {
        "operationId": "Alerts_GetHistoryTenant",
        "tags": [
          "Alerts"
        ],
        "description": "Get the history of an alert, which captures any monitor condition changes (Fired/Resolved), alert state changes (New/Acknowledged/Closed) and applied action rules for that particular alert.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Unique ID of an alert instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertModification"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AlertsManagementErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resolve": {
            "$ref": "./examples/Alerts_GetHistoryTenant.json"
          }
        }
      }
    },
    "/providers/Microsoft.AlertsManagement/alertsMetaData": {
      "get": {
        "operationId": "Alerts_MetaData",
        "description": "List alerts meta data information based on value of identifier parameter.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Identification of the information to be retrieved by API call.",
            "required": true,
            "type": "string",
            "enum": [
              "MonitorServiceList"
            ],
            "x-ms-enum": {
              "name": "Identifier",
              "modelAsString": true,
              "values": [
                {
                  "name": "MonitorServiceList",
                  "value": "MonitorServiceList",
                  "description": "MonitorServiceList"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AlertsMetaData"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/AlertsManagementErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MonService": {
            "$ref": "./examples/AlertsMetaData_MonitorService.json"
          }
        }
      }
    },
    "/providers/Microsoft.AlertsManagement/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List all operations available through Azure Alerts Management Resource Provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ActionStatus": {
      "type": "object",
      "description": "Action status",
      "properties": {
        "isSuppressed": {
          "type": "boolean",
          "description": "Value indicating whether alert is suppressed."
        }
      }
    },
    "ActionSuppressedDetails": {
      "type": "object",
      "properties": {
        "suppressionActionRules": {
          "type": "array",
          "description": "List of suppression action rules",
          "items": {
            "type": "string"
          }
        },
        "suppressedActionGroups": {
          "type": "array",
          "description": "List of suppressed action groups",
          "items": {
            "$ref": "#/definitions/TriggeredRule"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BaseDetails"
        }
      ],
      "x-ms-discriminator-value": "ActionsSuppressed"
    },
    "ActionTriggeredDetails": {
      "type": "object",
      "properties": {
        "actionGroup": {
          "$ref": "#/definitions/TriggeredRule",
          "description": "The action group that was triggered"
        },
        "notificationResult": {
          "$ref": "#/definitions/NotificationResult",
          "description": "The result of the notification delivery"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BaseDetails"
        }
      ],
      "x-ms-discriminator-value": "ActionsTriggered"
    },
    "Alert": {
      "type": "object",
      "description": "An alert created in alert management service.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertProperties",
          "description": "Alert property bag"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AlertEnrichmentItem": {
      "type": "object",
      "description": "Alert enrichment item.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The enrichment title."
        },
        "description": {
          "type": "string",
          "description": "The enrichment description."
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the evaluation of the enrichment."
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message. Will be present only if the status is 'Failed'."
        },
        "type": {
          "$ref": "#/definitions/Type",
          "description": "The enrichment type."
        }
      },
      "discriminator": "type",
      "required": [
        "title",
        "description",
        "status",
        "type"
      ]
    },
    "AlertEnrichmentProperties": {
      "type": "object",
      "description": "Properties of the alert enrichment item.",
      "properties": {
        "alertId": {
          "type": "string",
          "description": "Unique Id (GUID) of the alert for which the enrichments are being retrieved.",
          "readOnly": true
        },
        "enrichments": {
          "type": "array",
          "description": "Enrichment details",
          "items": {
            "$ref": "#/definitions/AlertEnrichmentItem"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AlertEnrichmentResponse": {
      "type": "object",
      "description": "The alert's enrichments.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertEnrichmentProperties",
          "description": "Properties of the alert enrichment item."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AlertEnrichmentsList": {
      "type": "object",
      "description": "List the alert's enrichments.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AlertEnrichmentResponse items on this page",
          "items": {
            "$ref": "#/definitions/AlertEnrichmentResponse"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AlertModification": {
      "type": "object",
      "description": "Alert Modification details",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertModificationProperties",
          "description": "Alert modification history properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "AlertModificationEvent": {
      "type": "string",
      "description": "Reason for the modification",
      "enum": [
        "AlertCreated",
        "StateChange",
        "SeverityChange",
        "MonitorConditionChange",
        "ActionsTriggered",
        "ActionsSuppressed"
      ],
      "x-ms-enum": {
        "name": "AlertModificationEvent",
        "modelAsString": false,
        "values": [
          {
            "name": "AlertCreated",
            "value": "AlertCreated",
            "description": "AlertCreated"
          },
          {
            "name": "StateChange",
            "value": "StateChange",
            "description": "StateChange"
          },
          {
            "name": "SeverityChange",
            "value": "SeverityChange",
            "description": "SeverityChange"
          },
          {
            "name": "MonitorConditionChange",
            "value": "MonitorConditionChange",
            "description": "MonitorConditionChange"
          },
          {
            "name": "ActionsTriggered",
            "value": "ActionsTriggered",
            "description": "ActionsTriggered"
          },
          {
            "name": "ActionsSuppressed",
            "value": "ActionsSuppressed",
            "description": "ActionsSuppressed"
          }
        ]
      }
    },
    "AlertModificationItem": {
      "type": "object",
      "description": "Alert modification item.",
      "properties": {
        "modificationEvent": {
          "$ref": "#/definitions/AlertModificationEvent",
          "description": "Reason for the modification"
        },
        "oldValue": {
          "type": "string",
          "description": "Old value"
        },
        "newValue": {
          "type": "string",
          "description": "New value"
        },
        "modifiedAt": {
          "type": "string",
          "description": "Modified date and time"
        },
        "modifiedBy": {
          "type": "string",
          "description": "Modified user details (Principal client name)"
        },
        "comments": {
          "type": "string",
          "description": "Modification comments"
        },
        "description": {
          "type": "string",
          "description": "Description of the modification"
        },
        "details": {
          "$ref": "#/definitions/BaseDetails",
          "description": "Base details class."
        }
      }
    },
    "AlertModificationProperties": {
      "type": "object",
      "description": "Alert modification history properties.",
      "properties": {
        "alertId": {
          "type": "string",
          "description": "Unique identifier of the alert.",
          "readOnly": true
        },
        "modifications": {
          "type": "array",
          "description": "Array of alert modification events.",
          "items": {
            "$ref": "#/definitions/AlertModificationItem"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AlertModificationType": {
      "type": "string",
      "description": "Type of modification details",
      "enum": [
        "PropertyChange",
        "ActionsSuppressed",
        "ActionsTriggered"
      ],
      "x-ms-enum": {
        "name": "AlertModificationType",
        "modelAsString": true,
        "values": [
          {
            "name": "PropertyChange",
            "value": "PropertyChange",
            "description": "PropertyChange"
          },
          {
            "name": "ActionsSuppressed",
            "value": "ActionsSuppressed",
            "description": "ActionsSuppressed"
          },
          {
            "name": "ActionsTriggered",
            "value": "ActionsTriggered",
            "description": "ActionsTriggered"
          }
        ]
      }
    },
    "AlertProperties": {
      "type": "object",
      "description": "Alert property bag",
      "properties": {
        "essentials": {
          "$ref": "#/definitions/Essentials",
          "description": "This object contains consistent fields across different monitor services."
        },
        "context": {
          "description": "Information specific to the monitor service that gives more contextual details about the alert.",
          "readOnly": true
        },
        "egressConfig": {
          "description": "Config which would be used for displaying the data in portal.",
          "readOnly": true
        },
        "customProperties": {
          "type": "object",
          "description": "Custom properties that can hold any user defined key-value pairs",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AlertState": {
      "type": "string",
      "enum": [
        "New",
        "Acknowledged",
        "Closed"
      ],
      "x-ms-enum": {
        "name": "AlertState",
        "modelAsString": true,
        "values": [
          {
            "name": "New",
            "value": "New",
            "description": "New"
          },
          {
            "name": "Acknowledged",
            "value": "Acknowledged",
            "description": "Acknowledged"
          },
          {
            "name": "Closed",
            "value": "Closed",
            "description": "Closed"
          }
        ]
      }
    },
    "AlertsList": {
      "type": "object",
      "description": "List the alerts.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Alert items on this page",
          "items": {
            "$ref": "#/definitions/Alert"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AlertsManagementErrorResponse": {
      "type": "object",
      "description": "An error response from the service.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorResponseBody",
          "description": "Details of error response."
        }
      }
    },
    "AlertsMetaData": {
      "type": "object",
      "description": "alert meta data information.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertsMetaDataProperties",
          "description": "alert meta data property bag"
        }
      }
    },
    "AlertsMetaDataProperties": {
      "type": "object",
      "description": "alert meta data property bag",
      "properties": {
        "metadataIdentifier": {
          "$ref": "#/definitions/MetadataIdentifier",
          "description": "Identification of the information to be retrieved by API call"
        }
      },
      "discriminator": "metadataIdentifier",
      "required": [
        "metadataIdentifier"
      ]
    },
    "AlertsSortByFields": {
      "type": "string",
      "enum": [
        "name",
        "severity",
        "alertState",
        "monitorCondition",
        "targetResource",
        "targetResourceName",
        "targetResourceGroup",
        "targetResourceType",
        "startDateTime",
        "lastModifiedDateTime"
      ],
      "x-ms-enum": {
        "name": "AlertsSortByFields",
        "modelAsString": true,
        "values": [
          {
            "name": "name",
            "value": "name",
            "description": "name"
          },
          {
            "name": "severity",
            "value": "severity",
            "description": "severity"
          },
          {
            "name": "alertState",
            "value": "alertState",
            "description": "alertState"
          },
          {
            "name": "monitorCondition",
            "value": "monitorCondition",
            "description": "monitorCondition"
          },
          {
            "name": "targetResource",
            "value": "targetResource",
            "description": "targetResource"
          },
          {
            "name": "targetResourceName",
            "value": "targetResourceName",
            "description": "targetResourceName"
          },
          {
            "name": "targetResourceGroup",
            "value": "targetResourceGroup",
            "description": "targetResourceGroup"
          },
          {
            "name": "targetResourceType",
            "value": "targetResourceType",
            "description": "targetResourceType"
          },
          {
            "name": "startDateTime",
            "value": "startDateTime",
            "description": "startDateTime"
          },
          {
            "name": "lastModifiedDateTime",
            "value": "lastModifiedDateTime",
            "description": "lastModifiedDateTime"
          }
        ]
      }
    },
    "AlertsSummary": {
      "type": "object",
      "description": "Summary of alerts based on the input filters and 'groupby' parameters.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertsSummaryGroup",
          "description": "Group the result set."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "AlertsSummaryGroup": {
      "type": "object",
      "description": "Group the result set.",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int64",
          "description": "Total count of the result set."
        },
        "smartGroupsCount": {
          "type": "integer",
          "format": "int64",
          "description": "Total count of the smart groups."
        },
        "groupedby": {
          "type": "string",
          "description": "Name of the field aggregated"
        },
        "values": {
          "type": "array",
          "description": "List of the items",
          "items": {
            "$ref": "#/definitions/AlertsSummaryGroupItem"
          }
        }
      }
    },
    "AlertsSummaryGroupByFields": {
      "type": "string",
      "enum": [
        "severity",
        "alertState",
        "monitorCondition",
        "monitorService",
        "signalType",
        "alertRule"
      ],
      "x-ms-enum": {
        "name": "AlertsSummaryGroupByFields",
        "modelAsString": true,
        "values": [
          {
            "name": "severity",
            "value": "severity",
            "description": "severity"
          },
          {
            "name": "alertState",
            "value": "alertState",
            "description": "alertState"
          },
          {
            "name": "monitorCondition",
            "value": "monitorCondition",
            "description": "monitorCondition"
          },
          {
            "name": "monitorService",
            "value": "monitorService",
            "description": "monitorService"
          },
          {
            "name": "signalType",
            "value": "signalType",
            "description": "signalType"
          },
          {
            "name": "alertRule",
            "value": "alertRule",
            "description": "alertRule"
          }
        ]
      }
    },
    "AlertsSummaryGroupItem": {
      "type": "object",
      "description": "Alerts summary group item",
      "properties": {
        "name": {
          "type": "string",
          "description": "Value of the aggregated field"
        },
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "Count of the aggregated field"
        },
        "groupedby": {
          "type": "string",
          "description": "Name of the field aggregated"
        },
        "values": {
          "type": "array",
          "description": "List of the items",
          "items": {
            "$ref": "#/definitions/AlertsSummaryGroupItem"
          }
        }
      }
    },
    "ApiVersion": {
      "type": "string",
      "enum": [
        "2019-03-01",
        "2025-05-25-preview"
      ],
      "x-ms-enum": {
        "name": "ApiVersion",
        "modelAsString": false,
        "values": [
          {
            "name": "2019-03-01",
            "value": "2019-03-01",
            "description": "2019-03-01"
          },
          {
            "name": "2025-05-25-preview",
            "value": "2025-05-25-preview",
            "description": "2025-05-25-preview"
          }
        ]
      }
    },
    "BaseDetails": {
      "type": "object",
      "description": "Base details class.",
      "properties": {
        "type": {
          "$ref": "#/definitions/AlertModificationType",
          "description": "Type of modification details"
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "Comments": {
      "type": "object",
      "description": "Change alert state reason",
      "properties": {
        "comments": {
          "type": "string"
        }
      }
    },
    "ErrorResponseBody": {
      "type": "object",
      "description": "Details of error response.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code, intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "Description of the error, intended for display in user interface."
        },
        "target": {
          "type": "string",
          "description": "Target of the particular error, for example name of the property."
        },
        "details": {
          "type": "array",
          "description": "A list of additional details about the error.",
          "items": {
            "$ref": "#/definitions/ErrorResponseBody"
          },
          "x-ms-identifiers": []
        }
      },
      "x-ms-external": true
    },
    "Essentials": {
      "type": "object",
      "description": "This object contains consistent fields across different monitor services.",
      "properties": {
        "severity": {
          "$ref": "#/definitions/Severity",
          "description": "Severity of alert Sev0 being highest and Sev4 being lowest.",
          "readOnly": true
        },
        "signalType": {
          "$ref": "#/definitions/SignalType",
          "description": "The type of signal the alert is based on, which could be metrics, logs or activity logs.",
          "readOnly": true
        },
        "alertState": {
          "$ref": "#/definitions/AlertState",
          "description": "Alert object state, which can be modified by the user.",
          "readOnly": true
        },
        "monitorCondition": {
          "$ref": "#/definitions/MonitorCondition",
          "description": "Can be 'Fired' or 'Resolved', which represents whether the underlying conditions have crossed the defined alert rule thresholds.",
          "readOnly": true
        },
        "targetResource": {
          "type": "string",
          "description": "Target ARM resource, on which alert got created."
        },
        "targetResourceName": {
          "type": "string",
          "description": "Name of the target ARM resource name, on which alert got created."
        },
        "targetResourceGroup": {
          "type": "string",
          "description": "Resource group of target ARM resource, on which alert got created."
        },
        "targetResourceType": {
          "type": "string",
          "description": "Resource type of target ARM resource, on which alert got created."
        },
        "monitorService": {
          "$ref": "#/definitions/MonitorService",
          "description": "Monitor service on which the rule(monitor) is set.",
          "readOnly": true
        },
        "alertRule": {
          "type": "string",
          "description": "Rule(monitor) which fired alert instance. Depending on the monitor service,  this would be ARM id or name of the rule.",
          "readOnly": true
        },
        "sourceCreatedId": {
          "type": "string",
          "description": "Unique Id created by monitor service for each alert instance. This could be used to track the issue at the monitor service, in case of Nagios, Zabbix, SCOM etc.",
          "readOnly": true
        },
        "smartGroupId": {
          "type": "string",
          "description": "Unique Id of the smart group",
          "readOnly": true
        },
        "smartGroupingReason": {
          "type": "string",
          "description": "Verbose reason describing the reason why this alert instance is added to a smart group",
          "readOnly": true
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Creation time(ISO-8601 format) of alert instance.",
          "readOnly": true
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last modification time(ISO-8601 format) of alert instance.",
          "readOnly": true
        },
        "monitorConditionResolvedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Resolved time(ISO-8601 format) of alert instance. This will be updated when monitor service resolves the alert instance because the rule condition is no longer met.",
          "readOnly": true
        },
        "lastModifiedUserName": {
          "type": "string",
          "description": "User who last modified the alert, in case of monitor service updates user would be 'system', otherwise name of the user.",
          "readOnly": true
        },
        "actionStatus": {
          "$ref": "#/definitions/ActionStatus",
          "description": "Action status"
        },
        "description": {
          "type": "string",
          "description": "Alert description."
        }
      }
    },
    "Identifier": {
      "type": "string",
      "enum": [
        "MonitorServiceList"
      ],
      "x-ms-enum": {
        "name": "Identifier",
        "modelAsString": true,
        "values": [
          {
            "name": "MonitorServiceList",
            "value": "MonitorServiceList",
            "description": "MonitorServiceList"
          }
        ]
      }
    },
    "MetadataIdentifier": {
      "type": "string",
      "description": "Identification of the information to be retrieved by API call",
      "enum": [
        "MonitorServiceList"
      ],
      "x-ms-enum": {
        "name": "MetadataIdentifier",
        "modelAsString": true,
        "values": [
          {
            "name": "MonitorServiceList",
            "value": "MonitorServiceList",
            "description": "MonitorServiceList"
          }
        ]
      }
    },
    "MonitorCondition": {
      "type": "string",
      "enum": [
        "Fired",
        "Resolved"
      ],
      "x-ms-enum": {
        "name": "MonitorCondition",
        "modelAsString": true,
        "values": [
          {
            "name": "Fired",
            "value": "Fired",
            "description": "Fired"
          },
          {
            "name": "Resolved",
            "value": "Resolved",
            "description": "Resolved"
          }
        ]
      }
    },
    "MonitorService": {
      "type": "string",
      "enum": [
        "Application Insights",
        "ActivityLog Administrative",
        "ActivityLog Security",
        "ActivityLog Recommendation",
        "ActivityLog Policy",
        "ActivityLog Autoscale",
        "Log Analytics",
        "Nagios",
        "Platform",
        "SCOM",
        "ServiceHealth",
        "SmartDetector",
        "VM Insights",
        "Zabbix",
        "Resource Health"
      ],
      "x-ms-enum": {
        "name": "MonitorService",
        "modelAsString": true,
        "values": [
          {
            "name": "Application Insights",
            "value": "Application Insights",
            "description": "Application Insights"
          },
          {
            "name": "ActivityLog Administrative",
            "value": "ActivityLog Administrative",
            "description": "ActivityLog Administrative"
          },
          {
            "name": "ActivityLog Security",
            "value": "ActivityLog Security",
            "description": "ActivityLog Security"
          },
          {
            "name": "ActivityLog Recommendation",
            "value": "ActivityLog Recommendation",
            "description": "ActivityLog Recommendation"
          },
          {
            "name": "ActivityLog Policy",
            "value": "ActivityLog Policy",
            "description": "ActivityLog Policy"
          },
          {
            "name": "ActivityLog Autoscale",
            "value": "ActivityLog Autoscale",
            "description": "ActivityLog Autoscale"
          },
          {
            "name": "Log Analytics",
            "value": "Log Analytics",
            "description": "Log Analytics"
          },
          {
            "name": "Nagios",
            "value": "Nagios",
            "description": "Nagios"
          },
          {
            "name": "Platform",
            "value": "Platform",
            "description": "Platform"
          },
          {
            "name": "SCOM",
            "value": "SCOM",
            "description": "SCOM"
          },
          {
            "name": "ServiceHealth",
            "value": "ServiceHealth",
            "description": "ServiceHealth"
          },
          {
            "name": "SmartDetector",
            "value": "SmartDetector",
            "description": "SmartDetector"
          },
          {
            "name": "VM Insights",
            "value": "VM Insights",
            "description": "VM Insights"
          },
          {
            "name": "Zabbix",
            "value": "Zabbix",
            "description": "Zabbix"
          },
          {
            "name": "Resource Health",
            "value": "Resource Health",
            "description": "Resource Health"
          }
        ]
      }
    },
    "MonitorServiceDetails": {
      "type": "object",
      "description": "Details of a monitor service",
      "properties": {
        "name": {
          "type": "string",
          "description": "Monitor service name"
        },
        "displayName": {
          "type": "string",
          "description": "Monitor service display name"
        }
      }
    },
    "MonitorServiceList": {
      "type": "object",
      "description": "Monitor service details",
      "properties": {
        "data": {
          "type": "array",
          "description": "Array of operations",
          "items": {
            "$ref": "#/definitions/MonitorServiceDetails"
          }
        }
      },
      "required": [
        "data"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AlertsMetaDataProperties"
        }
      ],
      "x-ms-discriminator-value": "MonitorServiceList"
    },
    "NotificationResult": {
      "type": "object",
      "properties": {
        "statusURL": {
          "type": "string",
          "description": "URL endpoint for checking notification delivery status. Only populated when status is 'Inline'."
        },
        "status": {
          "$ref": "#/definitions/ResultStatus",
          "description": "The status of the notification"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Properties of the operation"
        },
        "origin": {
          "type": "string",
          "description": "Origin of the operation"
        }
      }
    },
    "OperationDisplay": {
      "type": "object",
      "description": "Properties of the operation",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Provider name"
        },
        "resource": {
          "type": "string",
          "description": "Resource name"
        },
        "operation": {
          "type": "string",
          "description": "Operation name"
        },
        "description": {
          "type": "string",
          "description": "Description of the operation"
        }
      }
    },
    "PrometheusEnrichmentItem": {
      "type": "object",
      "description": "Prometheus enrichment object.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The enrichment title."
        },
        "description": {
          "type": "string",
          "description": "The enrichment description."
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the evaluation of the enrichment."
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message. Will be present only if the status is 'Failed'."
        },
        "type": {
          "$ref": "#/definitions/Type",
          "description": "The enrichment type."
        },
        "linkToApi": {
          "type": "string",
          "description": "Link to Prometheus query API (Url format)."
        },
        "datasources": {
          "type": "array",
          "description": "An array of the azure monitor workspace resource ids.",
          "items": {
            "type": "string"
          }
        },
        "grafanaExplorePath": {
          "type": "string",
          "description": "Partial link to the Grafana explore API."
        },
        "query": {
          "type": "string",
          "description": "The Prometheus expression query."
        }
      },
      "discriminator": "type",
      "required": [
        "title",
        "description",
        "status",
        "type",
        "linkToApi",
        "datasources",
        "grafanaExplorePath",
        "query"
      ]
    },
    "PrometheusInstantQuery": {
      "type": "object",
      "description": "Prometheus instant query enrichment object.",
      "properties": {
        "linkToApi": {
          "type": "string",
          "description": "Link to Prometheus query API (Url format)."
        },
        "datasources": {
          "type": "array",
          "description": "An array of the azure monitor workspace resource ids.",
          "items": {
            "type": "string"
          }
        },
        "grafanaExplorePath": {
          "type": "string",
          "description": "Partial link to the Grafana explore API."
        },
        "query": {
          "type": "string",
          "description": "The Prometheus expression query."
        },
        "time": {
          "type": "string",
          "description": "The date and the time of the evaluation."
        }
      },
      "required": [
        "linkToApi",
        "datasources",
        "grafanaExplorePath",
        "query",
        "time"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AlertEnrichmentItem"
        }
      ],
      "x-ms-discriminator-value": "PrometheusInstantQuery"
    },
    "PrometheusRangeQuery": {
      "type": "object",
      "description": "Prometheus instant query enrichment object.",
      "properties": {
        "linkToApi": {
          "type": "string",
          "description": "Link to Prometheus query API (Url format)."
        },
        "datasources": {
          "type": "array",
          "description": "An array of the azure monitor workspace resource ids.",
          "items": {
            "type": "string"
          }
        },
        "grafanaExplorePath": {
          "type": "string",
          "description": "Partial link to the Grafana explore API."
        },
        "query": {
          "type": "string",
          "description": "The Prometheus expression query."
        },
        "start": {
          "type": "string",
          "format": "date-time",
          "description": "The start evaluation date and time in ISO8601 format."
        },
        "end": {
          "type": "string",
          "format": "date-time",
          "description": "The end evaluation date and time in ISO8601 format."
        },
        "step": {
          "type": "string",
          "description": "Query resolution step width in ISO8601 format."
        }
      },
      "required": [
        "linkToApi",
        "datasources",
        "grafanaExplorePath",
        "query",
        "start",
        "end",
        "step"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AlertEnrichmentItem"
        }
      ],
      "x-ms-discriminator-value": "PrometheusRangeQuery"
    },
    "PropertyChangeDetails": {
      "type": "object",
      "properties": {
        "oldValue": {
          "type": "string",
          "description": "The value before the change"
        },
        "newValue": {
          "type": "string",
          "description": "The value after the change"
        },
        "comment": {
          "type": "string",
          "description": "The comment"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BaseDetails"
        }
      ],
      "x-ms-discriminator-value": "PropertyChange"
    },
    "ProxyResource": {
      "type": "object",
      "description": "An azure resource object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Azure resource Id",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Azure resource type",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Azure resource name",
          "readOnly": true
        }
      }
    },
    "ResultStatus": {
      "type": "string",
      "description": "The status of the notification",
      "enum": [
        "None",
        "Inline",
        "Throttled",
        "Failed",
        "ThrottledByAlertRule",
        "ThrottledBySubscription"
      ],
      "x-ms-enum": {
        "name": "ResultStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Inline",
            "value": "Inline",
            "description": "Inline"
          },
          {
            "name": "Throttled",
            "value": "Throttled",
            "description": "Throttled"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "ThrottledByAlertRule",
            "value": "ThrottledByAlertRule",
            "description": "ThrottledByAlertRule"
          },
          {
            "name": "ThrottledBySubscription",
            "value": "ThrottledBySubscription",
            "description": "ThrottledBySubscription"
          }
        ]
      }
    },
    "RuleType": {
      "type": "string",
      "description": "The rule type",
      "enum": [
        "AlertRule",
        "ActionRule"
      ],
      "x-ms-enum": {
        "name": "RuleType",
        "modelAsString": true,
        "values": [
          {
            "name": "AlertRule",
            "value": "AlertRule",
            "description": "AlertRule"
          },
          {
            "name": "ActionRule",
            "value": "ActionRule",
            "description": "ActionRule"
          }
        ]
      }
    },
    "Severity": {
      "type": "string",
      "enum": [
        "Sev0",
        "Sev1",
        "Sev2",
        "Sev3",
        "Sev4"
      ],
      "x-ms-enum": {
        "name": "Severity",
        "modelAsString": true,
        "values": [
          {
            "name": "Sev0",
            "value": "Sev0",
            "description": "Sev0"
          },
          {
            "name": "Sev1",
            "value": "Sev1",
            "description": "Sev1"
          },
          {
            "name": "Sev2",
            "value": "Sev2",
            "description": "Sev2"
          },
          {
            "name": "Sev3",
            "value": "Sev3",
            "description": "Sev3"
          },
          {
            "name": "Sev4",
            "value": "Sev4",
            "description": "Sev4"
          }
        ]
      }
    },
    "SignalType": {
      "type": "string",
      "description": "The type of signal the alert is based on, which could be metrics, logs or activity logs.",
      "enum": [
        "Metric",
        "Log",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "SignalType",
        "modelAsString": true,
        "values": [
          {
            "name": "Metric",
            "value": "Metric",
            "description": "Metric"
          },
          {
            "name": "Log",
            "value": "Log",
            "description": "Log"
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown"
          }
        ]
      }
    },
    "SortOrder": {
      "type": "string",
      "enum": [
        "asc",
        "desc"
      ],
      "x-ms-enum": {
        "name": "SortOrder",
        "modelAsString": true,
        "values": [
          {
            "name": "asc",
            "value": "asc",
            "description": "asc"
          },
          {
            "name": "desc",
            "value": "desc",
            "description": "desc"
          }
        ]
      }
    },
    "Status": {
      "type": "string",
      "description": "The status of the evaluation of the enrichment.",
      "enum": [
        "Succeeded",
        "Failed"
[...]
