{
  "swagger": "2.0",
  "info": {
    "title": "Security Insights",
    "description": "API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectors": {
      "get": {
        "x-ms-examples": {
          "Get all data connectors.": {
            "$ref": "./examples/dataConnectors/GetDataConnectors.json"
          }
        },
        "tags": [
          "Data Connectors"
        ],
        "description": "Gets all data connectors.",
        "operationId": "DataConnectors_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, Operation successfully completed",
            "schema": {
              "$ref": "#/definitions/DataConnectorList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/1.0/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectors/{dataConnectorId}": {
      "get": {
        "x-ms-examples": {
          "Get an Office365 data connector.": {
            "$ref": "./examples/dataConnectors/GetOfficeDataConnetorById.json"
          },
          "Get a TI data connector": {
            "$ref": "./examples/dataConnectors/GetThreatIntelligenceById.json"
          },
          "Get a TI Taxii data connector.": {
            "$ref": "./examples/dataConnectors/GetThreatIntelligenceTaxiiById.json"
          },
          "Get a MCAS data connector": {
            "$ref": "./examples/dataConnectors/GetMicrosoftCloudAppSecurityById.json"
          },
          "Get a ASC data connector": {
            "$ref": "./examples/dataConnectors/GetAzureSecurityCenterById.json"
          },
          "Get an AAD data connector": {
            "$ref": "./examples/dataConnectors/GetAzureActiveDirectoryById.json"
          },
          "Get an AwsCloudTrail data connector": {
            "$ref": "./examples/dataConnectors/GetAmazonWebServicesCloudTrailById.json"
          },
          "Get an AATP data connector": {
            "$ref": "./examples/dataConnectors/GetAzureAdvancedThreatProtectionById.json"
          },
          "Get a MDATP data connector": {
            "$ref": "./examples/dataConnectors/GetMicrosoftDefenderAdvancedThreatProtectionById.json"
          },
          "Get a Office ATP data connector": {
            "$ref": "./examples/dataConnectors/GetOffice365AdvancedThreatProtectionById.json"
          },
          "Get a Dynamics365 data connector": {
            "$ref": "./examples/dataConnectors/GetDynamics365DataConnectorById.json"
          },
          "Get a MicrosoftThreatProtection data connector": {
            "$ref": "./examples/dataConnectors/GetMicrosoftThreatProtectionById.json"
          },
          "Get a MicrosoftThreatIntelligence data connector": {
            "$ref": "./examples/dataConnectors/GetMicrosoftThreatIntelligenceById.json"
          },
          "Get a GenericUI data connector": {
            "$ref": "./examples/dataConnectors/GetGenericUI.json"
          }
        },
        "tags": [
          "Data Connectors"
        ],
        "description": "Gets a data connector.",
        "operationId": "DataConnectors_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/DataConnectorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, Operation successfully completed",
            "schema": {
              "$ref": "#/definitions/DataConnector"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/1.0/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Creates or updates an Office365 data connector": {
            "$ref": "./examples/dataConnectors/CreateOfficeDataConnetor.json"
          },
          "Creates or updates a Threat Intelligence Taxii data connector.": {
            "$ref": "./examples/dataConnectors/CreateThreatIntelligenceTaxiiDataConnector.json"
          },
          "Creates or updates an Threat Intelligence Platform data connector": {
            "$ref": "./examples/dataConnectors/CreateThreatIntelligenceDataConnector.json"
          },
          "Creates or updates a Dynamics365 data connector.": {
            "$ref": "./examples/dataConnectors/CreateDynamics365DataConnetor.json"
          },
          "Creates or updates a GenericUI data connector": {
            "$ref": "./examples/dataConnectors/CreateGenericUI.json"
          }
        },
        "tags": [
          "Data Connectors"
        ],
        "description": "Creates or updates the data connector.",
        "operationId": "DataConnectors_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/DataConnectorId"
          },
          {
            "$ref": "#/parameters/DataConnector"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, Operation successfully completed",
            "schema": {
              "$ref": "#/definitions/DataConnector"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DataConnector"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/1.0/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete an Office365 data connector": {
            "$ref": "./examples/dataConnectors/DeleteOfficeDataConnetor.json"
          },
          "Delete a GenericUI data connector": {
            "$ref": "./examples/dataConnectors/DeleteGenericUI.json"
          }
        },
        "tags": [
          "Data Connectors"
        ],
        "description": "Delete the data connector.",
        "operationId": "DataConnectors_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/DataConnectorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, Operation successfully completed"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/1.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AADDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents AAD (Azure Active Directory) data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AADDataConnectorProperties",
          "description": "AAD (Azure Active Directory) data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "AzureActiveDirectory"
    },
    "AADDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        },
        {
          "$ref": "#/definitions/DataConnectorWithAlertsProperties"
        }
      ],
      "description": "AAD (Azure Active Directory) data connector properties.",
      "type": "object"
    },
    "AlertsDataTypeOfDataConnector": {
      "description": "Alerts data type for data connectors.",
      "properties": {
        "alerts": {
          "$ref": "#/definitions/DataConnectorDataTypeCommon",
          "description": "Alerts data type connection.",
          "type": "object"
        }
      },
      "type": "object",
      "required": [
        "alerts"
      ]
    },
    "MSTIDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents Microsoft Threat Intelligence data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MSTIDataConnectorProperties",
          "description": "Microsoft Threat Intelligence data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "MicrosoftThreatIntelligence"
    },
    "MSTIDataConnectorDataTypes": {
      "description": "The available data types for Microsoft Threat Intelligence Platforms data connector.",
      "properties": {
        "bingSafetyPhishingURL": {
          "allOf": [
            {
              "$ref": "#/definitions/DataConnectorDataTypeCommon"
            }
          ],
          "properties": {
            "lookbackPeriod": {
              "description": "lookback period",
              "type": "string"
            }
          },
          "description": "Data type for Microsoft Threat Intelligence Platforms data connector.",
          "type": "object",
          "required": [
            "lookbackPeriod"
          ]
        },
        "microsoftEmergingThreatFeed": {
          "allOf": [
            {
              "$ref": "#/definitions/DataConnectorDataTypeCommon"
            }
          ],
          "properties": {
            "lookbackPeriod": {
              "description": "lookback period",
              "type": "string"
            }
          },
          "description": "Data type for Microsoft Threat Intelligence Platforms data connector.",
          "type": "object",
          "required": [
            "lookbackPeriod"
          ]
        }
      },
      "type": "object",
      "required": [
        "bingSafetyPhishingURL",
        "microsoftEmergingThreatFeed"
      ]
    },
    "MSTIDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        }
      ],
      "description": "Microsoft Threat Intelligence data connector properties.",
      "properties": {
        "dataTypes": {
          "$ref": "#/definitions/MSTIDataConnectorDataTypes",
          "description": "The available data types for the connector."
        }
      },
      "required": [
        "dataTypes"
      ],
      "type": "object"
    },
    "MTPDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents MTP (Microsoft Threat Protection) data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MTPDataConnectorProperties",
          "description": "MTP (Microsoft Threat Protection) data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "MicrosoftThreatProtection"
    },
    "MTPDataConnectorDataTypes": {
      "description": "The available data types for Microsoft Threat Protection Platforms data connector.",
      "properties": {
        "incidents": {
          "allOf": [
            {
              "$ref": "#/definitions/DataConnectorDataTypeCommon"
            }
          ],
          "description": "Data type for Microsoft Threat Protection Platforms data connector.",
          "type": "object"
        }
      },
      "type": "object",
      "required": [
        "incidents"
      ]
    },
    "MTPDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        }
      ],
      "description": "MTP (Microsoft Threat Protection) data connector properties.",
      "properties": {
        "dataTypes": {
          "$ref": "#/definitions/MTPDataConnectorDataTypes",
          "description": "The available data types for the connector."
        }
      },
      "required": [
        "dataTypes"
      ],
      "type": "object"
    },
    "AATPDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents AATP (Azure Advanced Threat Protection) data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AATPDataConnectorProperties",
          "description": "AATP (Azure Advanced Threat Protection) data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "AzureAdvancedThreatProtection"
    },
    "AATPDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        },
        {
          "$ref": "#/definitions/DataConnectorWithAlertsProperties"
        }
      ],
      "description": "AATP (Azure Advanced Threat Protection) data connector properties.",
      "type": "object"
    },
    "ASCDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents ASC (Azure Security Center) data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ASCDataConnectorProperties",
          "description": "ASC (Azure Security Center) data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "AzureSecurityCenter"
    },
    "ASCDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorWithAlertsProperties"
        }
      ],
      "description": "ASC (Azure Security Center) data connector properties.",
      "properties": {
        "subscriptionId": {
          "description": "The subscription id to connect to, and get the data from.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AwsCloudTrailDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents Amazon Web Services CloudTrail data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AwsCloudTrailDataConnectorProperties",
          "description": "Amazon Web Services CloudTrail data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "AmazonWebServicesCloudTrail"
    },
    "AwsCloudTrailDataConnectorDataTypes": {
      "description": "The available data types for Amazon Web Services CloudTrail data connector.",
      "properties": {
        "logs": {
          "allOf": [
            {
              "$ref": "#/definitions/DataConnectorDataTypeCommon"
            }
          ],
          "description": "Logs data type.",
          "type": "object"
        }
      },
      "type": "object",
      "required": [
        "logs"
      ]
    },
    "AwsCloudTrailDataConnectorProperties": {
      "description": "Amazon Web Services CloudTrail data connector properties.",
      "properties": {
        "awsRoleArn": {
          "description": "The Aws Role Arn (with CloudTrailReadOnly policy) that is used to access the Aws account.",
          "type": "string"
        },
        "dataTypes": {
          "$ref": "#/definitions/AwsCloudTrailDataConnectorDataTypes",
          "description": "The available data types for the connector."
        }
      },
      "type": "object",
      "required": [
        "dataTypes"
      ]
    },
    "DataConnector": {
      "description": "Data connector",
      "allOf": [
        {
          "$ref": "../../../common/1.0/types.json#/definitions/ResourceWithEtag"
        }
      ],
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "properties": {
        "kind": {
          "$ref": "#/definitions/DataConnectorKind",
          "description": "The data connector kind"
        }
      },
      "type": "object"
    },
    "DataConnectorDataTypeCommon": {
      "description": "Common field for data type in data connectors.",
      "properties": {
        "state": {
          "description": "Describe whether this data type connection is enabled or not.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "DataTypeState"
          }
        }
      },
      "type": "object",
      "required": [
        "state"
      ]
    },
    "DataConnectorWithAlertsProperties": {
      "description": "Data connector properties.",
      "properties": {
        "dataTypes": {
          "$ref": "#/definitions/AlertsDataTypeOfDataConnector",
          "description": "The available data types for the connector."
        }
      },
      "type": "object"
    },
    "DataConnectorKind": {
      "description": "The kind of the data connector",
      "enum": [
        "AzureActiveDirectory",
        "AzureSecurityCenter",
        "MicrosoftCloudAppSecurity",
        "ThreatIntelligence",
        "ThreatIntelligenceTaxii",
        "Office365",
        "OfficeATP",
        "AmazonWebServicesCloudTrail",
        "AzureAdvancedThreatProtection",
        "MicrosoftDefenderAdvancedThreatProtection",
        "Dynamics365",
        "MicrosoftThreatProtection",
        "MicrosoftThreatIntelligence",
        "GenericUI"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "DataConnectorKind",
        "values": [
          {
            "value": "AzureActiveDirectory"
          },
          {
            "value": "AzureSecurityCenter"
          },
          {
            "value": "MicrosoftCloudAppSecurity"
          },
          {
            "value": "ThreatIntelligence"
          },
          {
            "value": "ThreatIntelligenceTaxii"
          },
          {
            "value": "Office365"
          },
          {
            "value": "OfficeATP"
          },
          {
            "value": "AmazonWebServicesCloudTrail"
          },
          {
            "value": "AzureAdvancedThreatProtection"
          },
          {
            "value": "MicrosoftDefenderAdvancedThreatProtection"
          },
          {
            "value": "Dynamics365"
          },
          {
            "value": "MicrosoftThreatProtection"
          },
          {
            "value": "MicrosoftThreatIntelligence"
          },
          {
            "value": "GenericUI"
          }
        ]
      }
    },
    "DataConnectorList": {
      "description": "List all the data connectors.",
      "properties": {
        "nextLink": {
          "description": "URL to fetch the next set of data connectors.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "Array of data connectors.",
          "items": {
            "$ref": "#/definitions/DataConnector"
          },
          "type": "array"
        }
      },
      "type": "object",
      "required": [
        "value"
      ]
    },
    "DataConnectorTenantId": {
      "description": "Properties data connector on tenant level.",
      "properties": {
        "tenantId": {
          "description": "The tenant id to connect to, and get the data from.",
          "type": "string"
        }
      },
      "type": "object",
      "required": [
        "tenantId"
      ]
    },
    "MCASDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents MCAS (Microsoft Cloud App Security) data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MCASDataConnectorProperties",
          "description": "MCAS (Microsoft Cloud App Security) data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "MicrosoftCloudAppSecurity"
    },
    "MCASDataConnectorDataTypes": {
      "allOf": [
        {
          "$ref": "#/definitions/AlertsDataTypeOfDataConnector"
        }
      ],
      "description": "The available data types for MCAS (Microsoft Cloud App Security) data connector.",
      "properties": {
        "discoveryLogs": {
          "$ref": "#/definitions/DataConnectorDataTypeCommon",
          "description": "Discovery log data type connection."
        }
      },
      "type": "object"
    },
    "MCASDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        }
      ],
      "description": "MCAS (Microsoft Cloud App Security) data connector properties.",
      "properties": {
        "dataTypes": {
          "$ref": "#/definitions/MCASDataConnectorDataTypes",
          "description": "The available data types for the connector."
        }
      },
      "required": [
        "dataTypes"
      ],
      "type": "object"
    },
    "Dynamics365DataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents Dynamics365 data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Dynamics365DataConnectorProperties",
          "description": "Dynamics365 data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Dynamics365"
    },
    "Dynamics365DataConnectorDataTypes": {
      "description": "The available data types for Dynamics365 data connector.",
      "properties": {
        "dynamics365CdsActivities": {
          "allOf": [
            {
              "$ref": "#/definitions/DataConnectorDataTypeCommon"
            }
          ],
          "description": "Common Data Service data type connection.",
          "type": "object"
        }
      },
      "type": "object",
      "required": [
        "dynamics365CdsActivities"
      ]
    },
    "Dynamics365DataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        }
      ],
      "description": "Dynamics365 data connector properties.",
      "properties": {
        "dataTypes": {
          "$ref": "#/definitions/Dynamics365DataConnectorDataTypes",
          "description": "The available data types for the connector."
        }
      },
      "required": [
        "dataTypes"
      ],
      "type": "object"
    },
    "OfficeATPDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents OfficeATP (Office 365 Advanced Threat Protection) data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OfficeATPDataConnectorProperties",
          "description": "OfficeATP (Office 365 Advanced Threat Protection) data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "OfficeATP"
    },
    "OfficeATPDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        },
        {
          "$ref": "#/definitions/DataConnectorWithAlertsProperties"
        }
      ],
      "description": "OfficeATP (Office 365 Advanced Threat Protection) data connector properties.",
      "type": "object"
    },
    "MDATPDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents MDATP (Microsoft Defender Advanced Threat Protection) data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MDATPDataConnectorProperties",
          "description": "MDATP (Microsoft Defender Advanced Threat Protection) data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "MicrosoftDefenderAdvancedThreatProtection"
    },
    "MDATPDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        },
        {
          "$ref": "#/definitions/DataConnectorWithAlertsProperties"
        }
      ],
      "description": "MDATP (Microsoft Defender Advanced Threat Protection) data connector properties.",
      "type": "object"
    },
    "OfficeDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents office data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OfficeDataConnectorProperties",
          "description": "Office data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Office365"
    },
    "OfficeDataConnectorDataTypes": {
      "description": "The available data types for office data connector.",
      "properties": {
        "exchange": {
          "allOf": [
            {
              "$ref": "#/definitions/DataConnectorDataTypeCommon"
            }
          ],
          "description": "Exchange data type connection.",
          "type": "object"
        },
        "sharePoint": {
          "allOf": [
            {
              "$ref": "#/definitions/DataConnectorDataTypeCommon"
            }
          ],
          "description": "SharePoint data type connection.",
          "type": "object"
        },
        "teams": {
          "allOf": [
            {
              "$ref": "#/definitions/DataConnectorDataTypeCommon"
            }
          ],
          "description": "Teams data type connection.",
          "type": "object"
        }
      },
      "required": [
        "exchange",
        "sharePoint",
        "teams"
      ],
      "type": "object"
    },
    "OfficeDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        }
      ],
      "description": "Office data connector properties.",
      "properties": {
        "dataTypes": {
          "$ref": "#/definitions/OfficeDataConnectorDataTypes",
          "description": "The available data types for the connector."
        }
      },
      "required": [
        "dataTypes"
      ],
      "type": "object"
    },
    "TIDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents threat intelligence data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TIDataConnectorProperties",
          "description": "TI (Threat Intelligence) data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "ThreatIntelligence"
    },
    "TIDataConnectorDataTypes": {
      "description": "The available data types for TI (Threat Intelligence) data connector.",
      "properties": {
        "indicators": {
          "allOf": [
            {
              "$ref": "#/definitions/DataConnectorDataTypeCommon"
            }
          ],
          "description": "Data type for indicators connection.",
          "type": "object"
        }
      },
      "type": "object",
      "required": [
        "indicators"
      ]
    },
    "TIDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        }
      ],
      "description": "TI (Threat Intelligence) data connector properties.",
      "properties": {
        "tipLookbackPeriod": {
          "description": "The lookback period for the feed to be imported.",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "dataTypes": {
          "$ref": "#/definitions/TIDataConnectorDataTypes",
          "description": "The available data types for the connector."
        }
      },
      "type": "object",
      "required": [
        "dataTypes"
      ]
    },
    "TiTaxiiDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Data connector to pull Threat intelligence data from TAXII 2.0/2.1 server",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TiTaxiiDataConnectorProperties",
          "description": "Threat intelligence TAXII data connector properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "ThreatIntelligenceTaxii"
    },
    "TiTaxiiDataConnectorDataTypes": {
      "description": "The available data types for Threat Intelligence TAXII data connector.",
      "properties": {
        "taxiiClient": {
          "allOf": [
            {
              "$ref": "#/definitions/DataConnectorDataTypeCommon"
            }
          ],
          "description": "Data type for TAXII connector.",
          "type": "object"
        }
      },
      "type": "object",
      "required": [
        "taxiiClient"
      ]
    },
    "TiTaxiiDataConnectorProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnectorTenantId"
        }
      ],
      "description": "Threat Intelligence TAXII data connector properties.",
      "properties": {
        "workspaceId": {
          "description": "The workspace id.",
          "type": "string"
        },
        "friendlyName": {
          "description": "The friendly name for the TAXII server.",
          "type": "string"
        },
        "taxiiServer": {
          "description": "The API root for the TAXII server.",
          "type": "string"
        },
        "collectionId": {
          "description": "The collection id of the TAXII server.",
          "type": "string"
        },
        "userName": {
          "description": "The userName for the TAXII server.",
          "type": "string"
        },
        "password": {
          "description": "The password for the TAXII server.",
          "type": "string"
        },
        "taxiiLookbackPeriod": {
          "description": "The lookback period for the TAXII server.",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "pollingFrequency": {
          "description": "The polling frequency for the TAXII server.",
          "type": "string",
          "x-nullable": true,
          "enum": [
            "OnceAMinute",
            "OnceAnHour",
            "OnceADay"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "PollingFrequency",
            "values": [
              {
                "description": "Once a minute",
                "value": "OnceAMinute"
              },
              {
                "description": "Once an hour",
                "value": "OnceAnHour"
              },
              {
                "description": "Once a day",
                "value": "OnceADay"
              }
            ]
          }
        },
        "dataTypes": {
          "$ref": "#/definitions/TiTaxiiDataConnectorDataTypes",
          "description": "The available data types for Threat Intelligence TAXII data connector."
        }
      },
      "required": [
        "dataTypes",
        "pollingFrequency"
      ],
      "type": "object"
    },
    "CodelessUiDataConnector": {
      "allOf": [
        {
          "$ref": "#/definitions/DataConnector"
        }
      ],
      "description": "Represents Codeless UI data connector.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodelessParameters",
          "description": "Codeless UI data connector properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "GenericUI"
    },
    "CodelessParameters": {
      "description": "Represents Codeless UI data connector",
      "type": "object",
      "properties": {
        "connectorUiConfig": {
          "$ref": "#/definitions/CodelessUiConnectorConfigProperties",
          "description": "Config to describe the instructions blade"
        }
      }
    },
    "CodelessUiConnectorConfigProperties": {
      "description": "Config to describe the instructions blade",
      "type": "object",
      "properties": {
        "title": {
          "description": "Connector blade title",
          "type": "string"
        },
        "publisher": {
          "description": "Connector publisher name",
          "type": "string"
        },
        "descriptionMarkdown": {
          "description": "Connector description",
          "type": "string"
        },
        "customImage": {
          "description": "An optional custom image to be used when displaying the connector within Azure Sentinel's connector's gallery",
          "type": "string"
        },
        "graphQueriesTableName": {
          "description": "Name of the table the connector will insert the data to",
          "type": "string"
        },
        "graphQueries": {
          "description": "The graph query to show the current data status",
          "items": {
            "allOf": [
              {
                "$ref": "#/definitions/GraphQueries"
              }
            ]
          },
          "type": "array"
        },
        "sampleQueries": {
          "description": "The sample queries for the connector",
          "items": {
            "allOf": [
              {
                "$ref": "#/definitions/SampleQueries"
              }
            ]
          },
          "type": "array"
        },
        "dataTypes": {
          "description": "Data types to check for last data received",
          "items": {
            "allOf": [
              {
                "$ref": "#/definitions/LastDataReceivedDataType"
              }
            ]
          },
          "type": "array"
        },
        "connectivityCriteria": {
          "description": "Define the way the connector check connectivity",
          "items": {
            "allOf": [
              {
                "$ref": "#/definitions/ConnectivityCriteria"
              }
            ]
          },
          "type": "array"
        },
        "availability": {
          "description": "Connector Availability Status",
          "$ref": "#/definitions/Availability"
        },
        "permissions": {
          "description": "Permissions required for the connector",
          "$ref": "#/definitions/Permissions"
        },
        "instructionSteps": {
          "description": "Instruction steps to enable the connector",
          "items": {
            "allOf": [
              {
                "$ref": "#/definitions/InstructionSteps"
              }
            ]
          },
          "type": "array"
        }
      },
      "required": [
        "title",
        "publisher",
        "descriptionMarkdown",
        "graphQueriesTableName",
        "graphQueries",
        "sampleQueries",
        "dataTypes",
        "connectivityCriteria",
        "availability",
        "permissions",
        "instructionSteps"
      ]
    },
    "LastDataReceivedDataType": {
      "description": "Data type for last data received",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the data type to show in the graph. can be use with {{graphQueriesTableName}} placeholder",
          "type": "string"
        },
        "lastDataReceivedQuery": {
          "description": "Query for indicate last data received",
          "type": "string"
        }
      }
    },
    "Permissions": {
      "description": "Permissions required for the connector",
      "type": "object",
      "properties": {
        "resourceProvider": {
          "description": "Resource provider permissions required for the connector",
          "items": {
            "allOf": [
              {
                "$ref": "#/definitions/ResourceProvider"
              }
            ]
          },
          "type": "array"
        },
        "customs": {
          "description": "Customs permissions required for the connector",
          "items": {
            "allOf": [
              {
                "$ref": "#/definitions/Customs"
              }
            ]
          },
          "type": "array"
        }
      }
    },
    "Customs": {
      "description": "Customs permissions required for the connector",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CustomsPermission"
        }
      ]
    },
    "CustomsPermission": {
      "description": "Customs permissions required for the connector",
      "type": "object",
      "properties": {
        "name": {
          "description": "Customs permissions name",
          "type": "string"
        },
        "description": {
          "description": "Customs permissions description",
          "type": "string"
        }
      }
    },
    "ResourceProvider": {
      "description": "Resource provider permissions required for the connector",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Provider name",
          "enum": [
            "Microsoft.OperationalInsights/solutions",
            "Microsoft.OperationalInsights/workspaces",
            "Microsoft.OperationalInsights/workspaces/datasources",
            "microsoft.aadiam/diagnosticSettings",
            "Microsoft.OperationalInsights/workspaces/sharedKeys",
            "Microsoft.Authorization/policyAssignments"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ProviderName"
          }
        },
        "permissionsDisplayText": {
          "description": "Permission description text",
          "type": "string"
        },
        "providerDisplayName": {
          "description": "Permission provider display name",
          "type": "string"
        },
        "scope": {
          "description": "Permission provider scope",
          "enum": [
            "ResourceGroup",
            "Subscription",
            "Workspace"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "PermissionProviderScope"
          }
        },
        "requiredPermissions": {
          "description": "Required permissions for the connector",
          "$ref": "#/definitions/RequiredPermissions"
        }
      }
    },
    "InstructionSteps": {
      "description": "Instruction steps to enable the connector",
      "type": "object",
      "properties": {
        "title": {
          "description": "Instruction step title",
          "type": "string"
        },
        "description": {
          "description": "Instruction step description",
          "type": "string"
        },
        "instructions": {
          "description": "Instruction step details",
          "items": {
            "allOf": [
              {
                "$ref": "#/definitions/ConnectorInstructionModelBase"
              }
            ]
          },
          "type": "array"
        }
      }
    },
    "ConnectorInstructionModelBase": {
      "description": "Instruction step details",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "description": "The parameters for the setting"
        },
        "type": {
          "description": "The kind of the setting",
          "enum": [
            "CopyableLabel",
            "InstructionStepsGroup",
            "InfoMessage"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "SettingType"
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "RequiredPermissions": {
      "description": "Required permissions for the connector",
      "type": "object",
      "properties": {
        "action": {
          "description": "action permission",
          "type": "boolean"
        },
        "write": {
          "description": "write permission",
          "type": "boolean"
        },
        "read": {
          "description": "read permission",
          "type": "boolean"
        },
        "delete": {
          "description": "delete permission",
          "type": "boolean"
        }
      }
    },
    "Availability": {
      "description": "Connector Availability Status",
      "type": "object",
      "properties": {
        "status": {
          "description": "The connector Availability Status",
          "format": "int32",
          "type": "integer",
          "enum": [
            1
          ],
          "x-ms-enum": {
            "name": "AvailabilityStatus",
            "values": [
              {
                "value": 1,
                "description": "Available"
              }
            ]
          }
        },
        "isPreview": {
          "description": "Set connector as preview",
          "type": "boolean"
        }
      }
    },
    "ConnectivityCriteria": {
      "description": "Setting for the connector check connectivity",
      "type": "object",
      "properties": {
        "type": {
          "description": "type of connectivity",
          "enum": [
            "IsConnectedQuery"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ConnectivityType"
          }
        },
        "value": {
          "description": "Queries for checking connectivity",
          "type": "array",
          "items": {
            "description": "checking connectivity query",
            "type": "string"
          }
        }
      }
    },
    "SampleQueries": {
      "description": "The sample queries for the connector",
      "type": "object",
      "properties": {
        "description": {
          "description": "The sample query description",
          "type": "string"
        },
        "query": {
          "description": "the sample query",
          "type": "string"
        }
      }
    },
    "GraphQueries": {
      "type": "object",
      "description": "The graph query to show the current data status",
      "properties": {
        "metricName": {
          "description": "the metric that the query is checking",
          "type": "string"
        },
        "legend": {
          "description": "The legend for the graph",
          "type": "string"
        },
        "baseQuery": {
          "description": "The base query for the graph",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ResourceGroupName": {
      "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
      "in": "path",
      "maxLength": 90,
      "minLength": 1,
      "name": "resourceGroupName",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionId": {
      "description": "Azure subscription ID",
      "in": "path",
      "name": "subscriptionId",
      "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
      "required": true,
      "type": "string"
    },
    "DataConnector": {
      "description": "The data connector",
      "in": "body",
      "name": "dataConnector",
      "required": true,
      "schema": {
        "$ref": "#/definitions/DataConnector"
      },
      "x-ms-parameter-location": "method"
    },
    "DataConnectorId": {
      "description": "Connector ID",
      "in": "path",
      "name": "dataConnectorId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
