{
  "swagger": "2.0",
  "info": {
    "title": "Security Insights",
    "description": "API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/entityQueries": {
      "get": {
        "x-ms-examples": {
          "Get all entity queries.": {
            "$ref": "./examples/entityQueries/GetEntityQueries.json"
          }
        },
        "tags": [
          "EntityQueries"
        ],
        "description": "Gets all entity queries.",
        "operationId": "EntityQueries_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityQueryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/1.0/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/entityQueries/{entityQueryId}": {
      "get": {
        "x-ms-examples": {
          "Get an entity query.": {
            "$ref": "./examples/entityQueries/GetExpansionEntityQueryById.json"
          }
        },
        "tags": [
          "EntityQueries"
        ],
        "description": "Gets an entity query.",
        "operationId": "EntityQueries_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/EntityQueryId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityQuery"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/1.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "EntityInnerType": {
      "description": "The type of the entity",
      "enum": [
        "Account",
        "Host",
        "File",
        "AzureResource",
        "CloudApplication",
        "DNS",
        "FileHash",
        "IP",
        "Malware",
        "Process",
        "RegistryKey",
        "RegistryValue",
        "SecurityGroup",
        "URL",
        "IoTDevice",
        "SecurityAlert",
        "HuntingBookmark",
        "MailCluster",
        "MailMessage",
        "Mailbox",
        "SubmissionMail"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "EntityType",
        "values": [
          {
            "description": "Entity represents account in the system.",
            "value": "Account"
          },
          {
            "description": "Entity represents host in the system.",
            "value": "Host"
          },
          {
            "description": "Entity represents file in the system.",
            "value": "File"
          },
          {
            "description": "Entity represents azure resource in the system.",
            "value": "AzureResource"
          },
          {
            "description": "Entity represents cloud application in the system.",
            "value": "CloudApplication"
          },
          {
            "description": "Entity represents dns in the system.",
            "value": "DNS"
          },
          {
            "description": "Entity represents file hash in the system.",
            "value": "FileHash"
          },
          {
            "description": "Entity represents ip in the system.",
            "value": "IP"
          },
          {
            "description": "Entity represents malware in the system.",
            "value": "Malware"
          },
          {
            "description": "Entity represents process in the system.",
            "value": "Process"
          },
          {
            "description": "Entity represents registry key in the system.",
            "value": "RegistryKey"
          },
          {
            "description": "Entity represents registry value in the system.",
            "value": "RegistryValue"
          },
          {
            "description": "Entity represents security group in the system.",
            "value": "SecurityGroup"
          },
          {
            "description": "Entity represents url in the system.",
            "value": "URL"
          },
          {
            "description": "Entity represents IoT device in the system.",
            "value": "IoTDevice"
          },
          {
            "description": "Entity represents security alert in the system.",
            "value": "SecurityAlert"
          },
          {
            "description": "Entity represents HuntingBookmark in the system.",
            "value": "HuntingBookmark"
          },
          {
            "description": "Entity represents mail cluster in the system.",
            "value": "MailCluster"
          },
          {
            "description": "Entity represents mail message in the system.",
            "value": "MailMessage"
          },
          {
            "description": "Entity represents mailbox in the system.",
            "value": "Mailbox"
          },
          {
            "description": "Entity represents submission mail in the system.",
            "value": "SubmissionMail"
          }
        ]
      }
    },
    "EntityQueryKind": {
      "description": "The kind of the entity query",
      "enum": [
        "Expansion",
        "Insight"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "EntityQueryKind",
        "values": [
          {
            "value": "Expansion"
          },
          {
            "value": "Insight"
          }
        ]
      }
    },
    "EntityQueryList": {
      "description": "List of all the entity queries.",
      "properties": {
        "nextLink": {
          "description": "URL to fetch the next set of entity queries.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "Array of entity queries.",
          "items": {
            "$ref": "#/definitions/EntityQuery"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ]
    },
    "EntityQuery": {
      "allOf": [
        {
          "$ref": "../../../common/1.0/types.json#/definitions/ResourceWithEtag"
        }
      ],
      "description": "Specific entity query.",
      "discriminator": "kind",
      "properties": {
        "kind": {
          "$ref": "#/definitions/EntityQueryKind",
          "description": "the entity query kind"
        }
      },
      "type": "object",
      "required": [
        "kind"
      ]
    },
    "ExpansionEntityQuery": {
      "description": "Represents Expansion entity query.",
      "allOf": [
        {
          "$ref": "#/definitions/EntityQuery"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExpansionEntityQueriesProperties",
          "description": "Expansion entity query properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Expansion"
    },
    "ExpansionEntityQueriesProperties": {
      "description": "Describes expansion entity query properties",
      "properties": {
        "dataSources": {
          "description": "List of the data sources that are required to run the query",
          "items": {
            "description": "data source",
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The query display name",
          "type": "string"
        },
        "inputEntityType": {
          "$ref": "#/definitions/EntityInnerType",
          "description": "The type of the query's source entity"
        },
        "inputFields": {
          "description": "List of the fields of the source entity that are required to run the query",
          "items": {
            "description": "input field",
            "type": "string"
          },
          "type": "array"
        },
        "outputEntityTypes": {
          "description": "List of the desired output types to be constructed from the result",
          "items": {
            "$ref": "#/definitions/EntityInnerType",
            "description": "output entity type"
          },
          "type": "array"
        },
        "queryTemplate": {
          "description": "The template query string to be parsed and formatted",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "EntityQueryId": {
      "description": "entity query ID",
      "in": "path",
      "name": "entityQueryId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
