{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.FileShares",
    "version": "2023-01-01-preview",
    "description": "Azure File Shares Resource Provider API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "FileShares"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.FileShares/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.FileShares/fileShares": {
      "get": {
        "operationId": "FileShares_ListBySubscription",
        "tags": [
          "FileShares"
        ],
        "description": "List FileShare resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileShareListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileShares_ListBySubscription_MaximumSet": {
            "$ref": "./examples/FileShares_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.FileShares/locations/{location}/checkNameAvailability": {
      "post": {
        "operationId": "FileShares_CheckNameAvailability",
        "tags": [
          "FileShares"
        ],
        "description": "Implements local CheckNameAvailability operations",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileShares_CheckNameAvailability_MaximumSet": {
            "$ref": "./examples/FileShares_CheckNameAvailability_MaximumSet_Gen.json"
          },
          "FileShares_CheckNameAvailability_MinimumSet": {
            "$ref": "./examples/FileShares_CheckNameAvailability_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares": {
      "get": {
        "operationId": "FileShares_ListByParent",
        "tags": [
          "FileShares"
        ],
        "description": "List FileShare resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileShareListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileShares_ListByParent_MaximumSet": {
            "$ref": "./examples/FileShares_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}": {
      "get": {
        "operationId": "FileShares_Get",
        "tags": [
          "FileShares"
        ],
        "description": "Get a FileShare",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name of the file share, as seen by the administrator through Azure Resource Manager.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z]|[0-9])([a-z]|[0-9]|(-(?!-))){1,61}([a-z]|[0-9])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileShare"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileShares_Get_MaximumSet": {
            "$ref": "./examples/FileShares_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "FileShares_CreateOrUpdate",
        "tags": [
          "FileShares"
        ],
        "description": "Create or update a file share.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name of the file share, as seen by the administrator through Azure Resource Manager.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z]|[0-9])([a-z]|[0-9]|(-(?!-))){1,61}([a-z]|[0-9])$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileShare"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FileShare' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FileShare"
            }
          },
          "201": {
            "description": "Resource 'FileShare' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FileShare"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileShares_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/FileShares_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "FileShares_Update",
        "tags": [
          "FileShares"
        ],
        "description": "Update a FileShare",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name of the file share, as seen by the administrator through Azure Resource Manager.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z]|[0-9])([a-z]|[0-9]|(-(?!-))){1,61}([a-z]|[0-9])$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileShareUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileShare"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileShares_Update_MaximumSet": {
            "$ref": "./examples/FileShares_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "FileShares_Delete",
        "tags": [
          "FileShares"
        ],
        "description": "Delete a FileShare",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name of the file share, as seen by the administrator through Azure Resource Manager.",
            "required": true,
            "type": "string",
            "pattern": "^([a-z]|[0-9])([a-z]|[0-9]|(-(?!-))){1,61}([a-z]|[0-9])$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileShares_Delete_MaximumSet": {
            "$ref": "./examples/FileShares_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AzureAsyncOperation": {
      "type": "object",
      "description": "Azure Async Operation",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource path from GET operation."
        },
        "name": {
          "type": "string",
          "description": "The operation id."
        },
        "status": {
          "type": "string",
          "description": "The status of the operation: <RP defined values> | Succeeded | Failed | Canceled"
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the operation."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time of the operation."
        },
        "percentComplete": {
          "type": "number",
          "format": "double",
          "description": "The percentage completed of the operation.",
          "minimum": 0,
          "maximum": 100
        },
        "properties": {
          "type": "object",
          "description": "Custom operation properties, populated only for a successful operation.",
          "additionalProperties": {}
        },
        "error": {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Operation error."
        }
      },
      "required": [
        "status"
      ]
    },
    "FileShare": {
      "type": "object",
      "description": "File share resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FileShareProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "FileShareListResult": {
      "type": "object",
      "description": "The response of a FileShare list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The FileShare items on this page",
          "items": {
            "$ref": "#/definitions/FileShare"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FileShareProperties": {
      "type": "object",
      "description": "File share properties",
      "properties": {
        "shareName": {
          "type": "string",
          "description": "The name of the file share as seen by the end user when mounting the share, such as in a URI or UNC format in their operating system.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "hostName": {
          "type": "string",
          "description": "The host name of the file share.",
          "readOnly": true
        },
        "tier": {
          "$ref": "#/definitions/Tier",
          "description": "The storage media tier of the file share.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "redundancy": {
          "$ref": "#/definitions/Redundancy",
          "description": "The chosen redundancy level of the file share.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "protocols": {
          "type": "array",
          "description": "The file sharing protocol for this file share.",
          "items": {
            "$ref": "#/definitions/Protocol"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisionedStorageGiB": {
          "type": "integer",
          "format": "int32",
          "description": "The provisioned storage size of the share in GiB (1 GiB is 1024^3 bytes or 1073741824 bytes). A component of the file share's bill is the provisioned storage, regardless of the amount of used storage.",
          "minimum": 0,
          "maximum": 102400,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "provisionedIOPerSec": {
          "type": "integer",
          "format": "int32",
          "description": "The provisioned IO / sec of the share. A component of the file share's bill is the provisioned IOPS, regardless of the amount of used IO. In 2023-01-01-preview, this is a computed value.",
          "minimum": 0,
          "maximum": 102400,
          "readOnly": true
        },
        "provisionedThroughputMiBPerSec": {
          "type": "integer",
          "format": "int64",
          "description": "The provisioned throughput / sec of the share. In 2023-01-01-preview, this is a computed value.",
          "minimum": 0,
          "maximum": 10737418240,
          "readOnly": true
        },
        "includedBurstIOPerSec": {
          "type": "integer",
          "format": "int32",
          "description": "Burst IOPS are extra buffer IOPS enabling you to consume more than your provisioned IOPS for a short period of time, depending on the burst credits available for your share.",
          "minimum": 3000,
          "readOnly": true
        },
        "maxBurstIOPerSecCredits": {
          "type": "integer",
          "format": "int64",
          "description": "Max burst IOPS credits shows the maximum number of burst credits the share can have at the current IOPS provisioning level.",
          "minimum": 0,
          "readOnly": true
        },
        "nfsProtocolProperties": {
          "$ref": "#/definitions/NfsProtocolProperties",
          "description": "Protocol settings specific NFS.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "publicEndpointNetworkRuleSet": {
          "$ref": "#/definitions/PublicEndpointNetworkRuleSet",
          "description": "The set of properties for control public access.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/FileShareProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "provisionedStorageGiB"
      ]
    },
    "FileShareProvisioningState": {
      "type": "string",
      "description": "The status of the last operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "FileShareProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The operation is provisioning."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The operation is updating."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The operation is deleting."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The operation is accepted."
          }
        ]
      },
      "readOnly": true
    },
    "FileShareUpdate": {
      "type": "object",
      "description": "The type used for update operations of the FileShare.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/FileShareUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "FileShareUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the FileShare.",
      "properties": {
        "provisionedStorageGiB": {
          "type": "integer",
          "format": "int32",
          "description": "The provisioned storage size of the share in GiB (1 GiB is 1024^3 bytes or 1073741824 bytes). A component of the file share's bill is the provisioned storage, regardless of the amount of used storage.",
          "minimum": 0,
          "maximum": 102400,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "nfsProtocolProperties": {
          "$ref": "#/definitions/NfsProtocolProperties",
          "description": "Protocol settings specific NFS.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "publicEndpointNetworkRuleSet": {
          "$ref": "#/definitions/PublicEndpointNetworkRuleSet",
          "description": "The set of properties for control public access.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "NfsProtocolProperties": {
      "type": "object",
      "description": "Properties specific to the NFS protocol.",
      "properties": {
        "rootSquash": {
          "$ref": "#/definitions/ShareRootSquash",
          "description": "Root squash defines how root users on clients are mapped to the NFS share."
        }
      }
    },
    "Protocol": {
      "type": "string",
      "description": "Protocol enum.",
      "enum": [
        "NFS"
      ],
      "x-ms-enum": {
        "name": "Protocol",
        "modelAsString": false
      }
    },
    "PublicEndpointNetworkRuleSet": {
      "type": "object",
      "description": "The set of properties for control public access.",
      "properties": {
        "virtualNetworkRules": {
          "type": "array",
          "description": "The allowed set of subnets when access is restricted.",
          "items": {
            "$ref": "#/definitions/VirtualNetworkRule"
          }
        }
      }
    },
    "PublicNetworkAccess": {
      "type": "string",
      "description": "State of the public network access.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccess",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The public network access is enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The public network access is disabled"
          }
        ]
      }
    },
    "Redundancy": {
      "type": "string",
      "description": "Redundancy enum.",
      "enum": [
        "Local",
        "Zone"
      ],
      "x-ms-enum": {
        "name": "Redundancy",
        "modelAsString": false
      }
    },
    "ShareRootSquash": {
      "type": "string",
      "description": "Share root squash enum.",
      "enum": [
        "NoRootSquash",
        "RootSquash",
        "AllSquash"
      ],
      "x-ms-enum": {
        "name": "ShareRootSquash",
        "modelAsString": false
      }
    },
    "Tier": {
      "type": "string",
      "description": "Media Tier enum.",
      "enum": [
        "SSD"
      ],
      "x-ms-enum": {
        "name": "Tier",
        "modelAsString": false
      }
    },
    "VirtualNetworkRule": {
      "type": "object",
      "description": "A virtual network rule for the public endpoint.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID of a subnet."
        }
      },
      "required": [
        "id"
      ]
    }
  },
  "parameters": {}
}
