{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Contoso management service",
    "version": "2024-06-01-preview",
    "description": "Microsoft.Contoso Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Employees"
    },
    {
      "name": "NestedResourceTypes"
    },
    {
      "name": "ExtensionResourceTypes"
    },
    {
      "name": "Clusters"
    },
    {
      "name": "Desks"
    },
    {
      "name": "GlobalResourceTypes"
    }
  ],
  "paths": {
    "/providers/Microsoft.Contoso/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Contoso/clusters": {
      "get": {
        "operationId": "Clusters_ListBySubscription",
        "tags": [
          "Clusters"
        ],
        "description": "List Cluster resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_ListBySubscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/Clusters_ListBySubscription_MaximumSet_Gen.json"
          },
          "Clusters_ListBySubscription - generated by [MinimumSet] rule": {
            "$ref": "./examples/Clusters_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Contoso/employees": {
      "get": {
        "operationId": "Employees_ListBySubscription",
        "tags": [
          "Employees"
        ],
        "description": "List Employee resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmployeeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Employees_ListBySubscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/Employees_ListBySubscription_MaximumSet_Gen.json"
          },
          "Employees_ListBySubscription - generated by [MinimumSet] rule": {
            "$ref": "./examples/Employees_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Contoso/extensionResourceType": {
      "get": {
        "operationId": "ExtensionResourceTypes_ListBySubscription",
        "tags": [
          "ExtensionResourceTypes"
        ],
        "description": "List ExtensionResourceType resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionResourceTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExtensionResourceTypes_ListBySubscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/ExtensionResourceTypes_ListBySubscription_MaximumSet_Gen.json"
          },
          "ExtensionResourceTypes_ListBySubscription - generated by [MinimumSet] rule": {
            "$ref": "./examples/ExtensionResourceTypes_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Contoso/globalResourceTypes": {
      "get": {
        "operationId": "GlobalResourceTypes_ListBySubscription",
        "tags": [
          "GlobalResourceTypes"
        ],
        "description": "List GlobalResourceType resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalResourceTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalResourceTypes_ListBySubscription": {
            "$ref": "./examples/GlobalResourceTypes_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/clusters": {
      "get": {
        "operationId": "Clusters_ListByResourceGroup",
        "tags": [
          "Clusters"
        ],
        "description": "List Cluster resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_ListByResourceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/Clusters_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Clusters_ListByResourceGroup - generated by [MinimumSet] rule": {
            "$ref": "./examples/Clusters_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/clusters/{clusterName}": {
      "get": {
        "operationId": "Clusters_Get",
        "tags": [
          "Clusters"
        ],
        "description": "Get a Cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/Clusters_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Clusters_CreateOrUpdate",
        "tags": [
          "Clusters"
        ],
        "description": "Create a Cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Cluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "201": {
            "description": "Resource 'Cluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/Clusters_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Clusters_Update",
        "tags": [
          "Clusters"
        ],
        "description": "Update a Cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/Clusters_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Clusters_Delete",
        "tags": [
          "Clusters"
        ],
        "description": "Delete a Cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/Clusters_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/employees": {
      "get": {
        "operationId": "Employees_ListByResourceGroup",
        "tags": [
          "Employees"
        ],
        "description": "List Employee resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmployeeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Employees_ListByResourceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/Employees_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Employees_ListByResourceGroup - generated by [MinimumSet] rule": {
            "$ref": "./examples/Employees_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/employees/{employeeName}": {
      "get": {
        "operationId": "Employees_Get",
        "tags": [
          "Employees"
        ],
        "description": "Get a Employee",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Employees_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/Employees_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Employees_CreateOrUpdate",
        "tags": [
          "Employees"
        ],
        "description": "Create a Employee",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Employee' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "201": {
            "description": "Resource 'Employee' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Employee"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Employees_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/Employees_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Employees_Update",
        "tags": [
          "Employees"
        ],
        "description": "Update a Employee",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmployeeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Employees_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/Employees_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Employees_Delete",
        "tags": [
          "Employees"
        ],
        "description": "Delete a Employee",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Employees_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/Employees_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/employees/{employeeName}/desks": {
      "get": {
        "operationId": "Desks_List",
        "tags": [
          "Desks"
        ],
        "description": "List Desk resources by Employee",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeskListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Desks_List": {
            "$ref": "./examples/Desks_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/employees/{employeeName}/desks/{deskName}": {
      "get": {
        "operationId": "Desks_Get",
        "tags": [
          "Desks"
        ],
        "description": "Get a Desk",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "deskName",
            "in": "path",
            "description": "The name of the Desk",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Desk"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Desks_Get": {
            "$ref": "./examples/Desks_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Desks_CreateOrUpdate",
        "tags": [
          "Desks"
        ],
        "description": "Create a Desk",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "deskName",
            "in": "path",
            "description": "The name of the Desk",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Desk"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Desk' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Desk"
            }
          },
          "201": {
            "description": "Resource 'Desk' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Desk"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Desks_CreateOrUpdate": {
            "$ref": "./examples/Desks_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Desks_Update",
        "tags": [
          "Desks"
        ],
        "description": "Update a Desk",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "deskName",
            "in": "path",
            "description": "The name of the Desk",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeskUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Desk"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Desks_Update": {
            "$ref": "./examples/Desks_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Desks_Delete",
        "tags": [
          "Desks"
        ],
        "description": "Delete a Desk",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "deskName",
            "in": "path",
            "description": "The name of the Desk",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Desks_Delete": {
            "$ref": "./examples/Desks_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/employees/{employeeName}/nestedResourceType": {
      "get": {
        "operationId": "NestedResourceTypes_List",
        "tags": [
          "NestedResourceTypes"
        ],
        "description": "List NestedResourceType resources by Employee",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NestedResourceTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NestedResourceTypes_List": {
            "$ref": "./examples/NestedResourceTypes_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/employees/{employeeName}/nestedResourceType/{nestedResourceTypeName}": {
      "get": {
        "operationId": "NestedResourceTypes_Get",
        "tags": [
          "NestedResourceTypes"
        ],
        "description": "Get a NestedResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "nestedResourceTypeName",
            "in": "path",
            "description": "The name of the NestedResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NestedResourceType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NestedResourceTypes_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/NestedResourceTypes_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "NestedResourceTypes_CreateOrUpdate",
        "tags": [
          "NestedResourceTypes"
        ],
        "description": "Create a NestedResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "nestedResourceTypeName",
            "in": "path",
            "description": "The name of the NestedResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NestedResourceType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NestedResourceType' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NestedResourceType"
            }
          },
          "201": {
            "description": "Resource 'NestedResourceType' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NestedResourceType"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NestedResourceTypes_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/NestedResourceTypes_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "NestedResourceTypes_Update",
        "tags": [
          "NestedResourceTypes"
        ],
        "description": "Update a NestedResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "nestedResourceTypeName",
            "in": "path",
            "description": "The name of the NestedResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NestedResourceTypeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NestedResourceType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NestedResourceTypes_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/NestedResourceTypes_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "NestedResourceTypes_Delete",
        "tags": [
          "NestedResourceTypes"
        ],
        "description": "Delete a NestedResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "The name of the Employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "nestedResourceTypeName",
            "in": "path",
            "description": "The name of the NestedResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NestedResourceTypes_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/NestedResourceTypes_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/extensionResourceType": {
      "get": {
        "operationId": "ExtensionResourceTypes_ListByResourceGroup",
        "tags": [
          "ExtensionResourceTypes"
        ],
        "description": "List ExtensionResourceType resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionResourceTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExtensionResourceTypes_ListByResourceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/ExtensionResourceTypes_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "ExtensionResourceTypes_ListByResourceGroup - generated by [MinimumSet] rule": {
            "$ref": "./examples/ExtensionResourceTypes_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/extensionResourceType/{extensionResourceTypeName}": {
      "get": {
        "operationId": "ExtensionResourceTypes_Get",
        "tags": [
          "ExtensionResourceTypes"
        ],
        "description": "Get a ExtensionResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "extensionResourceTypeName",
            "in": "path",
            "description": "The name of the ExtensionResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionResourceType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExtensionResourceTypes_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/ExtensionResourceTypes_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ExtensionResourceTypes_CreateOrUpdate",
        "tags": [
          "ExtensionResourceTypes"
        ],
        "description": "Create a ExtensionResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "extensionResourceTypeName",
            "in": "path",
            "description": "The name of the ExtensionResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionResourceType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExtensionResourceType' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExtensionResourceType"
            }
          },
          "201": {
            "description": "Resource 'ExtensionResourceType' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExtensionResourceType"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExtensionResourceTypes_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/ExtensionResourceTypes_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ExtensionResourceTypes_Update",
        "tags": [
          "ExtensionResourceTypes"
        ],
        "description": "Update a ExtensionResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "extensionResourceTypeName",
            "in": "path",
            "description": "The name of the ExtensionResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionResourceTypeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionResourceType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExtensionResourceTypes_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/ExtensionResourceTypes_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ExtensionResourceTypes_Delete",
        "tags": [
          "ExtensionResourceTypes"
        ],
        "description": "Delete a ExtensionResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "extensionResourceTypeName",
            "in": "path",
            "description": "The name of the ExtensionResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExtensionResourceTypes_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/ExtensionResourceTypes_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/globalResourceTypes": {
      "get": {
        "operationId": "GlobalResourceTypes_ListByResourceGroup",
        "tags": [
          "GlobalResourceTypes"
        ],
        "description": "List GlobalResourceType resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalResourceTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalResourceTypes_ListByResourceGroup": {
            "$ref": "./examples/GlobalResourceTypes_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/globalResourceTypes/{globalResourceTypeName}": {
      "get": {
        "operationId": "GlobalResourceTypes_Get",
        "tags": [
          "GlobalResourceTypes"
        ],
        "description": "Get a GlobalResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalResourceTypeName",
            "in": "path",
            "description": "The name of the GlobalResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalResourceType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalResourceTypes_Get": {
            "$ref": "./examples/GlobalResourceTypes_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "GlobalResourceTypes_CreateOrUpdate",
        "tags": [
          "GlobalResourceTypes"
        ],
        "description": "Create a GlobalResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalResourceTypeName",
            "in": "path",
            "description": "The name of the GlobalResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalResourceType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GlobalResourceType' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalResourceType"
            }
          },
          "201": {
            "description": "Resource 'GlobalResourceType' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalResourceType"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalResourceTypes_CreateOrUpdate": {
            "$ref": "./examples/GlobalResourceTypes_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GlobalResourceTypes_Update",
        "tags": [
          "GlobalResourceTypes"
        ],
        "description": "Update a GlobalResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalResourceTypeName",
            "in": "path",
            "description": "The name of the GlobalResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalResourceTypeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalResourceType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalResourceTypes_Update": {
            "$ref": "./examples/GlobalResourceTypes_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "GlobalResourceTypes_Delete",
        "tags": [
          "GlobalResourceTypes"
        ],
        "description": "Delete a GlobalResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalResourceTypeName",
            "in": "path",
            "description": "The name of the GlobalResourceType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalResourceTypes_Delete_Max": {
            "$ref": "./examples/GlobalResourceTypes_Delete_MaximumSet_Gen.json"
          },
          "GlobalResourceTypes_Delete_Min": {
            "$ref": "./examples/GlobalResourceTypes_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.ExtendedLocation": {
      "type": "object",
      "description": "The complex type of the extended location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the extended location."
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ExtendedLocationType",
          "description": "The type of the extended location."
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "Azure.ResourceManager.CommonTypes.ExtendedLocationType": {
      "type": "string",
      "description": "The supported ExtendedLocation types.",
      "enum": [
        "EdgeZone",
        "CustomLocation"
      ],
      "x-ms-enum": {
        "name": "ExtendedLocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "EdgeZone",
            "value": "EdgeZone",
            "description": "Azure Edge Zones location type"
          },
          {
            "name": "CustomLocation",
            "value": "CustomLocation",
            "description": "Azure Custom Locations type"
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "Cluster": {
      "type": "object",
      "description": "Cluster resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "The resource-specific properties for this resource."
        },
        "extendedLocation": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ExtendedLocation",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ClusterListResult": {
      "type": "object",
      "description": "The response of a Cluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Cluster items on this page",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ClusterProperties": {
      "type": "object",
      "description": "Cluster properties",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "The Cluster"
        },
        "dataCenter": {
          "type": "string",
          "description": "Data center of Cluster"
        },
        "dummyVolume": {
          "$ref": "#/definitions/DummyVolumeProperties",
          "description": "The dummy volume."
        },
        "nodes": {
          "type": "integer",
          "format": "int32",
          "description": "The number of nodes."
        },
        "serviceAccountName": {
          "type": "string",
          "description": "The service account name."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ClusterUpdate": {
      "type": "object",
      "description": "Cluster resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "Desk": {
      "type": "object",
      "description": "Desk resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeskProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DeskListResult": {
      "type": "object",
      "description": "The response of a Desk list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Desk items on this page",
          "items": {
            "$ref": "#/definitions/Desk"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeskProperties": {
      "type": "object",
      "description": "Desk properties",
      "properties": {
        "deskType": {
          "type": "string",
          "description": "Type of Desk",
          "minLength": 1,
          "maxLength": 20,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "deskType"
      ]
    },
    "DeskPropertiesUpdate": {
      "type": "object",
      "description": "Desk properties",
      "properties": {
        "deskType": {
          "type": "string",
          "description": "Type of Desk",
          "minLength": 1,
          "maxLength": 20,
          "pattern": "^[A-Za-z0-9-._]+$"
        }
      }
    },
    "DeskUpdate": {
      "type": "object",
      "description": "Desk resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeskPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "DummyVolumeProperties": {
      "type": "object",
      "description": "DummyVolume properties",
      "properties": {
        "medium": {
          "type": "string",
          "description": "The medium."
        },
        "sizeLimit": {
          "type": "string",
          "description": "The size limit."
        }
      }
    },
    "Employee": {
      "type": "object",
      "description": "Employee resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EmployeeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EmployeeListResult": {
      "type": "object",
      "description": "The response of a Employee list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Employee items on this page",
          "items": {
            "$ref": "#/definitions/Employee"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EmployeeProperties": {
      "type": "object",
      "description": "Employee properties",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of employee",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of employee",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of employee",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "identificationNumber": {
          "type": "string",
          "description": "Identification number of employee assigned at creation",
          "readOnly": true
        },
        "group": {
          "type": "string",
          "description": "Group of employee"
        },
        "likesTea": {
          "$ref": "#/definitions/likesTea",
          "description": "Boolean indicating whether the employee likes tea or not"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "firstName",
        "lastName",
        "group",
        "likesTea"
      ]
    },
    "EmployeePropertiesUpdate": {
      "type": "object",
      "description": "Employee properties",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of employee",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of employee",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of employee",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "Group of employee"
        },
        "likesTea": {
          "$ref": "#/definitions/likesTea",
          "description": "Boolean indicating whether the employee likes tea or not"
        }
      }
    },
    "EmployeeUpdate": {
      "type": "object",
      "description": "Employee resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EmployeePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ExtensionResourceType": {
      "type": "object",
      "description": "ExtensionResourceType resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExtensionResourceTypeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ExtensionResourceTypeListResult": {
      "type": "object",
      "description": "The response of a ExtensionResourceType list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ExtensionResourceType items on this page",
          "items": {
            "$ref": "#/definitions/ExtensionResourceType"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExtensionResourceTypeProperties": {
      "type": "object",
      "description": "ExtensionResourceType properties",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of ExtensionResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of ExtensionResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of ExtensionResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "identificationNumber": {
          "type": "string",
          "description": "Identification number of ExtensionResourceType assigned at creation",
          "readOnly": true
        },
        "group": {
          "type": "string",
          "description": "Group of ExtensionResourceType"
        },
        "likesTea": {
          "$ref": "#/definitions/likesTea",
          "description": "Boolean indicating whether the ExtensionResourceType likes tea or not"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "firstName",
        "lastName",
        "group",
        "likesTea"
      ]
    },
    "ExtensionResourceTypePropertiesUpdate": {
      "type": "object",
      "description": "ExtensionResourceType properties",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of ExtensionResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of ExtensionResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of ExtensionResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "Group of ExtensionResourceType"
        },
        "likesTea": {
          "$ref": "#/definitions/likesTea",
          "description": "Boolean indicating whether the ExtensionResourceType likes tea or not"
        }
      }
    },
    "ExtensionResourceTypeUpdate": {
      "type": "object",
      "description": "ExtensionResourceType resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExtensionResourceTypePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "GlobalResourceType": {
      "type": "object",
      "description": "ProxyResource resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GlobalResourceTypeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GlobalResourceTypeListResult": {
      "type": "object",
      "description": "The response of a GlobalResourceType list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GlobalResourceType items on this page",
          "items": {
            "$ref": "#/definitions/GlobalResourceType"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GlobalResourceTypeProperties": {
      "type": "object",
      "description": "ProxyResource properties",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of ProxyResource",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of ProxyResource",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of ProxyResource",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "identificationNumber": {
          "type": "string",
          "description": "Identification number of ProxyResource assigned at creation",
          "readOnly": true
        },
        "group": {
          "type": "string",
          "description": "Group of ProxyResource"
        },
        "likesTea": {
          "$ref": "#/definitions/likesTea",
          "description": "Boolean indicating whether the ProxyResource likes tea or not"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "firstName",
        "lastName",
        "group",
        "likesTea"
      ]
    },
    "GlobalResourceTypePropertiesUpdate": {
      "type": "object",
      "description": "ProxyResource properties",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of ProxyResource",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of ProxyResource",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of ProxyResource",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "Group of ProxyResource"
        },
        "likesTea": {
          "$ref": "#/definitions/likesTea",
          "description": "Boolean indicating whether the ProxyResource likes tea or not"
        }
      }
    },
    "GlobalResourceTypeUpdate": {
      "type": "object",
      "description": "ProxyResource resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GlobalResourceTypePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NestedResourceType": {
      "type": "object",
      "description": "NestedResourceType resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NestedResourceTypeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NestedResourceTypeListResult": {
      "type": "object",
      "description": "The response of a NestedResourceType list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NestedResourceType items on this page",
          "items": {
            "$ref": "#/definitions/NestedResourceType"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NestedResourceTypeProperties": {
      "type": "object",
      "description": "NestedResourceType properties",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of NestedResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of NestedResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of NestedResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "identificationNumber": {
          "type": "string",
          "description": "Identification number of NestedResourceType assigned at creation",
          "readOnly": true
        },
        "group": {
          "type": "string",
          "description": "Group of NestedResourceType"
        },
        "likesTea": {
          "$ref": "#/definitions/likesTea",
          "description": "Boolean indicating whether the NestedResourceType likes tea or not"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "firstName",
        "lastName",
        "group",
        "likesTea"
      ]
    },
    "NestedResourceTypePropertiesUpdate": {
      "type": "object",
      "description": "NestedResourceType properties",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of NestedResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of NestedResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of NestedResourceType",
          "minLength": 1,
          "maxLength": 10,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "Group of NestedResourceType"
        },
        "likesTea": {
          "$ref": "#/definitions/likesTea",
          "description": "Boolean indicating whether the NestedResourceType likes tea or not"
        }
      }
    },
    "NestedResourceTypeUpdate": {
      "type": "object",
      "description": "NestedResourceType resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NestedResourceTypePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "likesTea": {
      "type": "string",
      "description": "Value indicating if the employee likes tea",
      "enum": [
        "Yes"
      ],
      "x-ms-enum": {
        "name": "likesTea",
        "modelAsString": true,
        "values": [
          {
            "name": "yes",
            "value": "Yes",
            "description": "The employee likes tea."
          }
        ]
      }
    }
  },
  "parameters": {}
}
