{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.GcpConnector",
    "version": "2025-12-01-preview",
    "description": "Microsoft.GcpConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ContainerClusters"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.GcpConnector/containerClusters": {
      "get": {
        "operationId": "ContainerClusters_List",
        "tags": [
          "ContainerClusters"
        ],
        "description": "List ContainerCluster resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContainerClusters_List": {
            "$ref": "./examples/ContainerClusters_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.GcpConnector/containerClusters/default": {
      "get": {
        "operationId": "ContainerClusters_Get",
        "tags": [
          "ContainerClusters"
        ],
        "description": "Get a ContainerCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContainerClusters_Get": {
            "$ref": "./examples/ContainerClusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ContainerClusters_CreateOrReplace",
        "tags": [
          "ContainerClusters"
        ],
        "description": "Create a ContainerCluster. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContainerCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          },
          "201": {
            "description": "Resource 'ContainerCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContainerClusters_CreateOrReplace": {
            "$ref": "./examples/ContainerClusters_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ContainerClusters_Delete",
        "tags": [
          "ContainerClusters"
        ],
        "description": "Delete a ContainerCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContainerClusters_Delete": {
            "$ref": "./examples/ContainerClusters_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AcceleratorConfig": {
      "type": "object",
      "description": "Configuration for hardware accelerators attached to each node",
      "properties": {
        "acceleratorCount": {
          "type": "string",
          "description": "The number of the accelerator cards exposed to an instance"
        },
        "acceleratorType": {
          "type": "string",
          "description": "The accelerator type resource name"
        },
        "gpuPartitionSize": {
          "type": "string",
          "description": "Size of partitions to create on the GPU"
        },
        "gpuSharingConfig": {
          "$ref": "#/definitions/GpuSharingConfig",
          "description": "The configuration for GPU sharing options"
        },
        "gpuDriverInstallationConfig": {
          "$ref": "#/definitions/GpuDriverInstallationConfig",
          "description": "The configuration for auto-installing GPU driver"
        }
      }
    },
    "AdditionalNodeNetworkConfig": {
      "type": "object",
      "description": "Configuration for additional node network interfaces.",
      "properties": {
        "network": {
          "type": "string",
          "description": "Name of the VPC where the additional interface belongs."
        },
        "subnetwork": {
          "type": "string",
          "description": "Name of the subnetwork where the additional interface belongs."
        }
      }
    },
    "AdditionalPodNetworkConfig": {
      "type": "object",
      "description": "Configuration for additional pod network interfaces.",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "Name of the subnetwork where the additional pod network belongs."
        },
        "secondaryPodRange": {
          "type": "string",
          "description": "Name of the secondary range on the subnetwork."
        },
        "maxPodsPerNode": {
          "$ref": "#/definitions/MaxPodsConstraint",
          "description": "The maximum number of pods per node which use this pod network."
        }
      }
    },
    "AdditionalPodRangesConfig": {
      "type": "object",
      "description": "AdditionalPodRangesConfig is the configuration for additional pod secondary ranges supporting the ClusterUpdate message.",
      "properties": {
        "podRangeInfo": {
          "type": "array",
          "description": "Output only. [Output only] Information for additional pod range.",
          "items": {
            "$ref": "#/definitions/RangeInfo"
          },
          "x-ms-identifiers": []
        },
        "podRangeNames": {
          "type": "array",
          "description": "Name for pod secondary ipv4 range which has the actual range defined ahead.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AddonsConfig": {
      "type": "object",
      "description": "Configuration for the addons that can be automatically enabled",
      "properties": {
        "httpLoadBalancing": {
          "$ref": "#/definitions/HttpLoadBalancing",
          "description": "Configuration for the HTTP Load Balancing addon"
        },
        "horizontalPodAutoscaling": {
          "$ref": "#/definitions/HorizontalPodAutoscaling",
          "description": "Configuration for the Horizontal Pod Autoscaling addon"
        },
        "kubernetesDashboard": {
          "$ref": "#/definitions/KubernetesDashboard",
          "description": "Configuration for the Kubernetes Dashboard addon"
        },
        "networkPolicyConfig": {
          "$ref": "#/definitions/NetworkPolicyConfig",
          "description": "Configuration for the Network Policy addon"
        },
        "cloudRunConfig": {
          "$ref": "#/definitions/CloudRunConfig",
          "description": "Configuration for the Cloud Run addon"
        },
        "dnsCacheConfig": {
          "$ref": "#/definitions/DnsCacheConfig",
          "description": "Configuration for the DNS Cache addon"
        },
        "configConnectorConfig": {
          "$ref": "#/definitions/ConfigConnectorConfig",
          "description": "Configuration for the Config Connector addon"
        },
        "gcePersistentDiskCsiDriverConfig": {
          "$ref": "#/definitions/GcePersistentDiskCsiDriverConfig",
          "description": "Configuration for the GCE Persistent Disk CSI Driver addon"
        },
        "gcpFilestoreCsiDriverConfig": {
          "$ref": "#/definitions/GcpFilestoreCsiDriverConfig",
          "description": "Configuration for the GCP Filestore CSI Driver addon"
        },
        "gkeBackupAgentConfig": {
          "$ref": "#/definitions/GkeBackupAgentConfig",
          "description": "Configuration for the GKE Backup Agent addon"
        },
        "gcsFuseCsiDriverConfig": {
          "$ref": "#/definitions/GcsFuseCsiDriverConfig",
          "description": "Configuration for the GCS Fuse CSI Driver addon"
        },
        "statefulHaConfig": {
          "$ref": "#/definitions/StatefulHaConfig",
          "description": "Configuration for the Stateful HA addon"
        },
        "parallelstoreCsiDriverConfig": {
          "$ref": "#/definitions/ParallelstoreCsiDriverConfig",
          "description": "Configuration for the Parallelstore CSI Driver addon"
        },
        "rayOperatorConfig": {
          "$ref": "#/definitions/RayOperatorConfig",
          "description": "Configuration for the Ray Operator addon"
        },
        "highScaleCheckpointingConfig": {
          "$ref": "#/definitions/HighScaleCheckpointingConfig",
          "description": "Configuration for the High Scale Checkpointing addon"
        },
        "lustreCsiDriverConfig": {
          "$ref": "#/definitions/LustreCsiDriverConfig",
          "description": "Configuration for the Lustre CSI Driver addon"
        }
      }
    },
    "AdvancedMachineFeatures": {
      "type": "object",
      "description": "Specifies options for controlling advanced machine features",
      "properties": {
        "threadsPerCore": {
          "type": "string",
          "description": "The number of threads per physical core"
        },
        "enableNestedVirtualization": {
          "type": "boolean",
          "description": "Whether or not to enable nested virtualization"
        }
      }
    },
    "AnonymousAuthenticationConfig": {
      "type": "object",
      "description": "Anonymous authentication configuration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether anonymous authentication is enabled"
        }
      }
    },
    "AuthenticatorGroupsConfig": {
      "type": "object",
      "description": "Configuration for the Google Groups for GKE feature",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Google Groups for RBAC and IAM are enabled"
        },
        "securityGroup": {
          "type": "string",
          "description": "The name of the security group for the cluster"
        }
      }
    },
    "Autopilot": {
      "type": "object",
      "description": "Autopilot cluster configuration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the cluster is an Autopilot cluster"
        }
      }
    },
    "AutoprovisioningNodePoolDefaults": {
      "type": "object",
      "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP",
      "properties": {
        "oauthScopes": {
          "type": "array",
          "description": "Scopes that are used by NAP when creating node pools",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "type": "string",
          "description": "The Google Cloud Platform Service Account to be used by the node VMs"
        },
        "upgradeSettings": {
          "$ref": "#/definitions/UpgradeSettings",
          "description": "Upgrade settings for NAP created node pools"
        },
        "management": {
          "$ref": "#/definitions/NodeManagement",
          "description": "The node management for NAP created node pools"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Minimum CPU platform for NAP created node pools"
        },
        "diskSizeGb": {
          "type": "string",
          "description": "Size of the disk attached to each node"
        },
        "diskType": {
          "type": "string",
          "description": "Type of the disk attached to each node"
        },
        "shieldedInstanceConfig": {
          "$ref": "#/definitions/ShieldedInstanceConfig",
          "description": "Shielded Instance options for NAP created node pools"
        },
        "bootDiskKmsKey": {
          "type": "string",
          "description": "Boot disk KMS key for NAP created node pools"
        },
        "imageType": {
          "type": "string",
          "description": "The image type to use for NAP created node pools"
        },
        "insecureKubeletReadonlyPortEnabled": {
          "type": "boolean",
          "description": "Whether the nodes are preemptible or not"
        },
        "enableSpotInstances": {
          "type": "boolean",
          "description": "Whether the nodes are created as spot VM instances or not"
        },
        "resourceLabels": {
          "type": "object",
          "description": "Resource labels for NAP created node pools",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceManagerTags": {
          "$ref": "#/definitions/ResourceManagerTags",
          "description": "Resource manager tags for NAP created node pools"
        }
      }
    },
    "AutoscalingProfile": {
      "type": "string",
      "description": "Autoscaling profile options for the cluster autoscaler",
      "enum": [
        "PROFILE_UNSPECIFIED",
        "OPTIMIZE_UTILIZATION",
        "BALANCED"
      ],
      "x-ms-enum": {
        "name": "AutoscalingProfile",
        "modelAsString": true,
        "values": [
          {
            "name": "PROFILE_UNSPECIFIED",
            "value": "PROFILE_UNSPECIFIED",
            "description": "Profile is unspecified"
          },
          {
            "name": "OPTIMIZE_UTILIZATION",
            "value": "OPTIMIZE_UTILIZATION",
            "description": "Optimize for utilization"
          },
          {
            "name": "BALANCED",
            "value": "BALANCED",
            "description": "Balanced profile"
          }
        ]
      }
    },
    "BestEffortProvisioning": {
      "type": "object",
      "description": "Specifies the configuration of best effort provisioning.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "When this is enabled, cluster/node pool creations will ignore non-fatal errors like stockout to best provision as many nodes as possible."
        },
        "minProvisionNodes": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of nodes to be provisioned."
        }
      }
    },
    "BigQueryDestination": {
      "type": "object",
      "description": "Configuration for BigQuery destination",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The BigQuery dataset ID"
        }
      }
    },
    "BinaryAuthorization": {
      "type": "object",
      "description": "Configuration for Binary Authorization",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Binary Authorization is enabled for this cluster"
        },
        "evaluationMode": {
          "type": "string",
          "description": "Mode of operation for Binary Authorization policy evaluation"
        }
      }
    },
    "BlueGreenInfo": {
      "type": "object",
      "description": "Information about a blue-green upgrade.",
      "properties": {
        "phase": {
          "$ref": "#/definitions/BlueGreenPhase",
          "description": "Current blue-green upgrade phase."
        },
        "blueInstanceGroupUrls": {
          "type": "array",
          "description": "The resource URLs of the managed instance groups associated with blue pool.",
          "items": {
            "type": "string"
          }
        },
        "greenInstanceGroupUrls": {
          "type": "array",
          "description": "The resource URLs of the managed instance groups associated with green pool.",
          "items": {
            "type": "string"
          }
        },
        "bluePoolDeletionStartTime": {
          "type": "string",
          "description": "Time to start deleting blue pool to complete blue-green upgrade."
        },
        "greenPoolVersion": {
          "type": "string",
          "description": "The resource name of the green pool."
        }
      }
    },
    "BlueGreenPhase": {
      "type": "string",
      "description": "Blue-green upgrade phase options.",
      "enum": [
        "PHASE_UNSPECIFIED",
        "UPDATE_STARTED",
        "CREATING_GREEN_POOL",
        "CORDONING_BLUE_POOL",
        "DRAINING_BLUE_POOL",
        "NODE_POOL_SOAKING",
        "DELETING_BLUE_POOL",
        "ROLLBACK_STARTED"
      ],
      "x-ms-enum": {
        "name": "BlueGreenPhase",
        "modelAsString": true,
        "values": [
          {
            "name": "PHASE_UNSPECIFIED",
            "value": "PHASE_UNSPECIFIED",
            "description": "Phase is unspecified"
          },
          {
            "name": "UPDATE_STARTED",
            "value": "UPDATE_STARTED",
            "description": "Update has started"
          },
          {
            "name": "CREATING_GREEN_POOL",
            "value": "CREATING_GREEN_POOL",
            "description": "Green pool has been created"
          },
          {
            "name": "CORDONING_BLUE_POOL",
            "value": "CORDONING_BLUE_POOL",
            "description": "Cordoning blue pool"
          },
          {
            "name": "DRAINING_BLUE_POOL",
            "value": "DRAINING_BLUE_POOL",
            "description": "Draining blue pool"
          },
          {
            "name": "NODE_POOL_SOAKING",
            "value": "NODE_POOL_SOAKING",
            "description": "Node pool soaking"
          },
          {
            "name": "DELETING_BLUE_POOL",
            "value": "DELETING_BLUE_POOL",
            "description": "Deleting blue pool"
          },
          {
            "name": "ROLLBACK_STARTED",
            "value": "ROLLBACK_STARTED",
            "description": "Rolling back blue-green upgrade"
          }
        ]
      }
    },
    "BlueGreenSettings": {
      "type": "object",
      "description": "Settings for blue-green upgrade strategy.",
      "properties": {
        "nodePoolSoakDuration": {
          "type": "string",
          "description": "Time needed after draining entire blue pool. After this period, blue pool will be cleaned up."
        },
        "standardRolloutPolicy": {
          "$ref": "#/definitions/StandardRolloutPolicy",
          "description": "Standard policy for the blue-green upgrade."
        }
      }
    },
    "CertificateAuthorityDomainConfig": {
      "type": "object",
      "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods",
      "properties": {
        "fqdns": {
          "type": "array",
          "description": "List of fully-qualified-domain-names",
          "items": {
            "type": "string"
          }
        },
        "gcpSecretManagerCertificateConfig": {
          "$ref": "#/definitions/GcpSecretManagerCertificateConfig",
          "description": "Google Secret Manager URI for the certificate authority certificate"
        }
      }
    },
    "CidrBlock": {
      "type": "object",
      "description": "Configuration for a CIDR block that can access the cluster master endpoint",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "An optional field for users to identify CIDR blocks"
        },
        "cidrBlock": {
          "type": "string",
          "description": "The CIDR block in IPv4 or IPv6 format"
        }
      }
    },
    "ClientCertificateConfig": {
      "type": "object",
      "description": "Configuration for client certificate authentication on the cluster.",
      "properties": {
        "issueClientCertificate": {
          "type": "boolean",
          "description": "Issue a client certificate."
        }
      }
    },
    "CloudRunConfig": {
      "type": "object",
      "description": "Configuration for the Cloud Run addon",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Cloud Run addon is disabled"
        },
        "loadBalancerType": {
          "$ref": "#/definitions/CloudRunLoadBalancerType",
          "description": "The load balancer type for Cloud Run"
        }
      }
    },
    "CloudRunLoadBalancerType": {
      "type": "string",
      "description": "Load balancer type options for Cloud Run",
      "enum": [
        "EXTERNAL",
        "INTERNAL"
      ],
      "x-ms-enum": {
        "name": "CloudRunLoadBalancerType",
        "modelAsString": true,
        "values": [
          {
            "name": "EXTERNAL",
            "value": "EXTERNAL",
            "description": "External load balancer"
          },
          {
            "name": "INTERNAL",
            "value": "INTERNAL",
            "description": "Internal load balancer"
          }
        ]
      }
    },
    "ClusterAutoscaling": {
      "type": "object",
      "description": "Cluster-level autoscaling configuration",
      "properties": {
        "enableNodeAutoprovisioning": {
          "type": "boolean",
          "description": "Enables automatic node pool creation and deletion"
        },
        "resourceLimits": {
          "type": "array",
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster",
          "items": {
            "$ref": "#/definitions/ResourceLimit"
          },
          "x-ms-identifiers": []
        },
        "autoscalingProfile": {
          "$ref": "#/definitions/AutoscalingProfile",
          "description": "Defines the autoscaling behavior"
        },
        "autoprovisioningNodePoolDefaults": {
          "$ref": "#/definitions/AutoprovisioningNodePoolDefaults",
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP"
        },
        "autoprovisioningLocations": {
          "type": "array",
          "description": "The list of Google Compute Engine zones in which the NodePool's nodes can be created by NAP",
          "items": {
            "type": "string"
          }
        },
        "defaultComputeClassConfig": {
          "$ref": "#/definitions/DefaultComputeClassConfig",
          "description": "Default configuration for the Compute Class of the node pool"
        }
      }
    },
    "ClusterNetworkPerformanceConfig": {
      "type": "object",
      "description": "Network performance configuration for the cluster",
      "properties": {
        "totalEgressBandwidthTier": {
          "type": "string",
          "description": "Total egress bandwidth tier for the cluster",
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      }
    },
    "ClusterProperties": {
      "type": "object",
      "description": "Definition of ContainerCluster",
      "properties": {
        "gcpProperties": {
          "$ref": "#/definitions/GcpContainerClusterProperties",
          "description": "GCP Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "gcpProjectNumber": {
          "type": "string",
          "description": "GCP Project Number"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "GCP Project Id"
        },
        "resourceName": {
          "type": "string",
          "description": "Fully qualified resource name of the GCP resource"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "gcpSourceSchema": {
          "type": "string",
          "description": "GCP Source Schema"
        },
        "gcpRegion": {
          "type": "string",
          "description": "GCP Region"
        },
        "gcpTags": {
          "type": "object",
          "description": "GCP Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ClusterStatus": {
      "type": "string",
      "description": "Cluster status options.",
      "enum": [
        "STATUS_UNSPECIFIED",
        "PROVISIONING",
        "RUNNING",
        "RECONCILING",
        "STOPPING",
        "ERROR",
        "DEGRADED"
      ],
      "x-ms-enum": {
        "name": "ClusterStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "STATUS_UNSPECIFIED",
            "value": "STATUS_UNSPECIFIED",
            "description": "Status is unspecified"
          },
          {
            "name": "PROVISIONING",
            "value": "PROVISIONING",
            "description": "The cluster is being provisioned"
          },
          {
            "name": "RUNNING",
            "value": "RUNNING",
            "description": "The cluster is running"
          },
          {
            "name": "RECONCILING",
            "value": "RECONCILING",
            "description": "The cluster is being reconciled"
          },
          {
            "name": "STOPPING",
            "value": "STOPPING",
            "description": "The cluster is stopping"
          },
          {
            "name": "ERROR",
            "value": "ERROR",
            "description": "There was an error"
          },
          {
            "name": "DEGRADED",
            "value": "DEGRADED",
            "description": "The cluster is degraded"
          }
        ]
      }
    },
    "CompliancePostureConfig": {
      "type": "object",
      "description": "Compliance posture configuration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether compliance posture features are enabled"
        }
      }
    },
    "ComputeClass": {
      "type": "string",
      "description": "Compute class options for node pools",
      "enum": [
        "COMPUTE_CLASS_UNSPECIFIED",
        "PERFORMANCE",
        "BALANCED",
        "ARM64",
        "MEMORY_OPTIMIZED"
      ],
      "x-ms-enum": {
        "name": "ComputeClass",
        "modelAsString": true,
        "values": [
          {
            "name": "COMPUTE_CLASS_UNSPECIFIED",
            "value": "COMPUTE_CLASS_UNSPECIFIED",
            "description": "Compute class is unspecified"
          },
          {
            "name": "PERFORMANCE",
            "value": "PERFORMANCE",
            "description": "Performance compute class"
          },
          {
            "name": "BALANCED",
            "value": "BALANCED",
            "description": "Balanced compute class"
          },
          {
            "name": "ARM64",
            "value": "ARM64",
            "description": "Arm64 compute class"
          },
          {
            "name": "MEMORY_OPTIMIZED",
            "value": "MEMORY_OPTIMIZED",
            "description": "Memory optimized compute class"
          }
        ]
      }
    },
    "ConfidentialInstanceType": {
      "type": "string",
      "description": "Confidential instance type options",
      "enum": [
        "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
        "CONFIDENTIAL_VM",
        "CONFIDENTIAL_SPACE"
      ],
      "x-ms-enum": {
        "name": "ConfidentialInstanceType",
        "modelAsString": true,
        "values": [
          {
            "name": "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "value": "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "description": "Instance type is unspecified"
          },
          {
            "name": "CONFIDENTIAL_VM",
            "value": "CONFIDENTIAL_VM",
            "description": "Confidential VM"
          },
          {
            "name": "CONFIDENTIAL_SPACE",
            "value": "CONFIDENTIAL_SPACE",
            "description": "Confidential Space"
          }
        ]
      }
    },
    "ConfidentialNodes": {
      "type": "object",
      "description": "Configuration of Confidential Nodes",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Confidential Nodes feature is enabled for this cluster"
        },
        "confidentialInstanceType": {
          "$ref": "#/definitions/ConfidentialInstanceType",
          "description": "The type of Confidential Compute offering used by the node pool"
        }
      }
    },
    "ConfigConnectorConfig": {
      "type": "object",
      "description": "Configuration for the Config Connector addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Config Connector addon is enabled"
        }
      }
    },
    "ConsumptionMeteringConfig": {
      "type": "object",
      "description": "Configuration for consumption metering",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether consumption metering is enabled"
        }
      }
    },
    "ContainerCluster": {
      "type": "object",
      "description": "A Microsoft.GCPConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ContainerClusterListResult": {
      "type": "object",
      "description": "The response of a ContainerCluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ContainerCluster items on this page",
          "items": {
            "$ref": "#/definitions/ContainerCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ContainerdConfig": {
      "type": "object",
      "description": "ContainerdConfig contains configuration to customize containerd",
      "properties": {
        "privateRegistryAccessConfig": {
          "$ref": "#/definitions/PrivateRegistryAccessConfig",
          "description": "PrivateRegistryAccessConfig is used to configure access to private registries"
        }
      }
    },
    "ControlPlaneEndpointsConfig": {
      "type": "object",
      "description": "Control plane endpoints configuration",
      "properties": {
        "networkAccess": {
          "type": "object",
          "description": "Network access configuration for the control plane endpoints",
          "properties": {
            "accessTypes": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACCESS_TYPE_UNSPECIFIED",
                  "PUBLIC",
                  "PRIVATE",
                  "SERVERLESS"
                ],
                "x-ms-enum": {
                  "modelAsString": true
                }
              }
            }
          }
        }
      }
    },
    "CostManagementConfig": {
      "type": "object",
      "description": "Configuration for the cost management feature",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the cost management feature is enabled"
        }
      }
    },
    "DailyMaintenanceWindow": {
      "type": "object",
      "description": "Daily maintenance window configuration",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time of day the maintenance window starts"
        },
        "duration": {
          "type": "string",
          "description": "Duration of the maintenance window"
        }
      }
    },
    "DatabaseEncryption": {
      "type": "object",
      "description": "Configuration of etcd encryption",
      "properties": {
        "keyName": {
          "type": "string",
          "description": "Name of CloudKMS key to use for the encryption of secrets"
        },
        "state": {
          "$ref": "#/definitions/DatabaseEncryptionState",
          "description": "Encryption state"
        },
        "decryptionKeys": {
          "type": "array",
          "description": "List of decryption keys used for encryption",
          "items": {
            "type": "string"
          }
        },
        "lastOperationErrors": {
          "type": "array",
          "description": "Errors that occurred during the last operation",
          "items": {
            "$ref": "#/definitions/OperationError"
          },
          "x-ms-identifiers": []
        },
        "currentState": {
          "$ref": "#/definitions/DatabaseEncryptionCurrentState",
          "description": "Current state of the database encryption"
        }
      }
    },
    "DatabaseEncryptionCurrentState": {
      "type": "string",
      "description": "Database encryption current state options",
      "enum": [
        "CURRENT_STATE_UNSPECIFIED",
        "CURRENT_STATE_ENCRYPTING",
        "CURRENT_STATE_ENCRYPTED",
        "CURRENT_STATE_DECRYPTING",
        "CURRENT_STATE_DECRYPTED",
        "CURRENT_STATE_ENCRYPTION_ERROR"
      ],
      "x-ms-enum": {
        "name": "DatabaseEncryptionCurrentState",
        "modelAsString": true,
        "values": [
          {
            "name": "CURRENT_STATE_UNSPECIFIED",
            "value": "CURRENT_STATE_UNSPECIFIED",
            "description": "Current state is unknown"
          },
          {
            "name": "CURRENT_STATE_ENCRYPTING",
            "value": "CURRENT_STATE_ENCRYPTING",
            "description": "Encryption is being applied"
          },
          {
            "name": "CURRENT_STATE_ENCRYPTED",
            "value": "CURRENT_STATE_ENCRYPTED",
            "description": "Database is encrypted"
          },
          {
            "name": "CURRENT_STATE_DECRYPTING",
            "value": "CURRENT_STATE_DECRYPTING",
            "description": "Decryption is being applied"
          },
          {
            "name": "CURRENT_STATE_DECRYPTED",
            "value": "CURRENT_STATE_DECRYPTED",
            "description": "Database is decrypted"
          },
          {
            "name": "CURRENT_STATE_ENCRYPTION_ERROR",
            "value": "CURRENT_STATE_ENCRYPTION_ERROR",
            "description": "Encryption/decryption operation failed"
          }
        ]
      }
    },
    "DatabaseEncryptionState": {
      "type": "string",
      "description": "Database encryption state options",
      "enum": [
        "UNKNOWN",
        "ENCRYPTED",
        "DECRYPTED"
      ],
      "x-ms-enum": {
        "name": "DatabaseEncryptionState",
        "modelAsString": true,
        "values": [
          {
            "name": "UNKNOWN",
            "value": "UNKNOWN",
            "description": "Unknown encryption state"
          },
          {
            "name": "ENCRYPTED",
            "value": "ENCRYPTED",
            "description": "Database is encrypted"
          },
          {
            "name": "DECRYPTED",
            "value": "DECRYPTED",
            "description": "Database is decrypted"
          }
        ]
      }
    },
    "DatapathProvider": {
      "type": "string",
      "description": "Datapath provider options",
      "enum": [
        "DATAPATH_PROVIDER_UNSPECIFIED",
        "LEGACY",
        "ADVANCED"
      ],
      "x-ms-enum": {
        "name": "DatapathProvider",
        "modelAsString": true,
        "values": [
          {
            "name": "DATAPATH_PROVIDER_UNSPECIFIED",
            "value": "DATAPATH_PROVIDER_UNSPECIFIED",
            "description": "Legacy datapath provider"
          },
          {
            "name": "LEGACY",
            "value": "LEGACY",
            "description": "Legacy datapath provider"
          },
          {
            "name": "ADVANCED",
            "value": "ADVANCED",
            "description": "Advanced datapath provider"
          }
        ]
      }
    },
    "DefaultComputeClassConfig": {
      "type": "object",
      "description": "Default configuration for the Compute Class of the node pool",
      "properties": {
        "computeClass": {
          "$ref": "#/definitions/ComputeClass",
          "description": "The compute class to use for NAP created node pools"
        }
      }
    },
    "DefaultSnatStatus": {
      "type": "object",
      "description": "Configuration for default SNAT status",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether SNAT is disabled"
        }
      }
    },
    "DnsCacheConfig": {
      "type": "object",
      "description": "Configuration for the DNS Cache addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the DNS Cache addon is enabled"
        }
      }
    },
    "DnsConfig": {
      "type": "object",
      "description": "DNS configuration for the cluster",
      "properties": {
        "dnsScope": {
          "type": "string",
          "description": "DNS scope for the cluster",
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "CLUSTER_SCOPE",
            "VPC_SCOPE"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "customDnsEndpoint": {
          "type": "string",
          "description": "Custom DNS endpoint for the cluster"
        },
        "additionalDnsSearchDomains": {
          "type": "array",
          "description": "Additional DNS search domains",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnterpriseConfig": {
      "type": "object",
      "description": "Enterprise features configuration",
      "properties": {
        "enableEnterpriseFeatures": {
          "type": "boolean",
          "description": "Whether enterprise features are enabled"
        },
        "enterpriseProjectId": {
          "type": "string",
          "description": "The enterprise project ID associated with this cluster"
        },
        "enterpriseTier": {
          "type": "string",
          "description": "The enterprise tier level",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "ADVANCED",
            "PREMIUM"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      }
    },
    "EphemeralStorageLocalSsdConfig": {
      "type": "object",
      "description": "Configuration for the ephemeral storage local SSD",
      "properties": {
        "localSsdCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of local SSD disks to use to back ephemeral storage"
        }
      }
    },
    "FastSocket": {
      "type": "object",
      "description": "Configuration of NCCL Fast Socket",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether or not NCCL Fast Socket is enabled"
        }
      }
    },
    "Filter": {
      "type": "object",
      "description": "Filter configuration for notifications",
      "properties": {
        "eventType": {
          "type": "array",
          "description": "Event types to include in the filter",
          "items": {
            "type": "string",
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "UPGRADE_AVAILABLE_EVENT",
              "UPGRADE_EVENT",
              "SECURITY_BULLETIN_EVENT"
            ],
            "x-ms-enum": {
              "modelAsString": true
            }
          }
        }
      }
    },
    "Fleet": {
      "type": "object",
      "description": "Fleet configuration",
      "properties": {
        "project": {
          "type": "string",
          "description": "The project number for the fleet host project"
        }
      }
    },
    "GatewayApiConfig": {
      "type": "object",
      "description": "Gateway API configuration",
      "properties": {
        "channel": {
          "type": "string",
          "description": "The Gateway API release channel to subscribe to",
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      }
    },
    "GcePersistentDiskCsiDriverConfig": {
      "type": "object",
      "description": "Configuration for the GCE Persistent Disk CSI Driver addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the GCE Persistent Disk CSI Driver addon is enabled"
        }
      }
    },
    "GcfsConfig": {
      "type": "object",
      "description": "Google Container File System (image streaming) configs",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to use GCFS or not"
        }
      }
    },
    "GcpContainerClusterProperties": {
      "type": "object",
      "description": "A Google Kubernetes Engine cluster.",
      "properties": {
        "addonsConfig": {
          "$ref": "#/definitions/AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "authenticatorGroupsConfig": {
          "$ref": "#/definitions/AuthenticatorGroupsConfig",
          "description": "Configuration controlling RBAC group membership information."
        },
        "autopilot": {
          "$ref": "#/definitions/Autopilot",
          "description": "Autopilot configuration for the cluster."
        },
        "autoscaling": {
          "$ref": "#/definitions/ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "binaryAuthorization": {
          "$ref": "#/definitions/BinaryAuthorization",
          "description": "Configuration for Binary Authorization."
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`."
        },
        "conditions": {
          "type": "array",
          "description": "Which conditions caused the current cluster state.",
          "items": {
            "$ref": "#/definitions/StatusCondition"
          },
          "x-ms-identifiers": []
        },
        "confidentialNodes": {
          "$ref": "#/definitions/ConfidentialNodes",
          "description": "Configuration of Confidential Nodes. All the nodes in the cluster will be Confidential VM once enabled."
        },
        "costManagementConfig": {
          "$ref": "#/definitions/CostManagementConfig",
          "description": "Configuration for the fine-grained cost management feature."
        },
        "createTime": {
          "type": "string",
          "format": "date-time",
          "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "currentMasterVersion": {
          "type": "string",
          "description": "[Output only] The current software version of the master endpoint."
        },
        "currentNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "[Output only] The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information."
        },
        "currentNodeVersion": {
          "type": "string",
          "description": "[Output only] Deprecated, use [NodePools.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes."
        },
        "databaseEncryption": {
          "$ref": "#/definitions/DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "defaultMaxPodsConstraint": {
          "$ref": "#/definitions/MaxPodsConstraint",
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support."
        },
        "description": {
          "type": "string",
          "description": "An optional description of this cluster."
        },
        "enableK8sBetaApis": {
          "$ref": "#/definitions/K8sBetaApiConfig",
          "description": "Beta APIs Config"
        },
        "enableKubernetesAlpha": {
          "type": "boolean",
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1alpha1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation."
        },
        "enableTpu": {
          "type": "boolean",
          "description": "Enable the ability to use Cloud TPUs in this cluster."
        },
        "endpoint": {
          "type": "string",
          "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information."
        },
        "enterpriseConfig": {
          "$ref": "#/definitions/EnterpriseConfig",
          "description": "GKE Enterprise Configuration."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of cluster fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding."
        },
        "expireTime": {
          "type": "string",
          "format": "date-time",
          "description": "[Output only] The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "fleet": {
          "$ref": "#/definitions/Fleet",
          "description": "Fleet information for the cluster."
        },
        "id": {
          "type": "string",
          "description": "Output only. Unique id for the cluster."
        },
        "identityServiceConfig": {
          "$ref": "#/definitions/IdentityServiceConfig",
          "description": "Configuration for Identity Service component."
        },
        "initialClusterVersion": {
          "type": "string",
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version"
        },
        "initialNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead."
        },
        "instanceGroupUrls": {
          "type": "array",
          "description": "Deprecated. Use node_pools.instance_group_urls.",
          "items": {
            "type": "string"
          }
        },
        "ipAllocationPolicy": {
          "$ref": "#/definitions/IpAllocationPolicy",
          "description": "Configuration for cluster IP allocation."
        },
        "labelFingerprint": {
          "type": "string",
          "description": "The fingerprint of the set of labels for this cluster."
        },
        "legacyAbac": {
          "$ref": "#/definitions/LegacyAbac",
          "description": "Configuration for the legacy ABAC authorization mode."
        },
        "location": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        },
        "locations": {
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed.",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "$ref": "#/definitions/LoggingConfig",
          "description": "Logging configuration for the cluster."
        },
        "loggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "maintenancePolicy": {
          "$ref": "#/definitions/MaintenancePolicy",
          "description": "Configure the maintenance policy for this cluster."
        },
        "masterAuth": {
          "$ref": "#/definitions/MasterAuth",
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued."
        },
        "masterAuthorizedNetworksConfig": {
          "$ref": "#/definitions/MasterAuthorizedNetworksConfig",
          "description": "The configuration options for master authorized networks feature."
        },
        "meshCertificates": {
          "$ref": "#/definitions/MeshCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "monitoringConfig": {
          "$ref": "#/definitions/MonitoringConfig",
          "description": "Monitoring configuration for the cluster."
        },
        "monitoringService": {
          "type": "string",
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "name": {
          "type": "string",
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter."
        },
        "network": {
          "type": "string",
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used."
        },
        "networkConfig": {
          "$ref": "#/definitions/NetworkConfig",
          "description": "Configuration for cluster networking."
        },
        "networkPolicy": {
          "$ref": "#/definitions/NetworkPolicy",
          "description": "Configuration options for the NetworkPolicy feature."
        },
        "nodeConfig": {
          "$ref": "#/definitions/NodeConfig",
          "description": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead."
        },
        "nodeIpv4CidrSize": {
          "type": "integer",
          "format": "int32",
          "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode."
        },
        "nodePoolAutoConfig": {
          "$ref": "#/definitions/NodePoolAutoConfig",
          "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "nodePoolDefaults": {
          "$ref": "#/definitions/NodePoolDefaults",
          "description": "Default NodePool settings for the entire cluster. These settings are overridden if specified on the specific NodePool object."
        },
        "nodePools": {
          "type": "array",
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
          "items": {
            "$ref": "#/definitions/NodePool"
          }
        },
        "notificationConfig": {
          "$ref": "#/definitions/NotificationConfig",
          "description": "Notification configuration of the cluster."
        },
        "parentProductConfig": {
          "$ref": "#/definitions/ParentProductConfig",
          "description": "The configuration of the parent product of the cluster. This field is used by Google internal products that are built on top of the GKE cluster and take the ownership of the cluster."
        },
        "privateClusterConfig": {
          "$ref": "#/definitions/PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "releaseChannel": {
          "$ref": "#/definitions/ReleaseChannel",
          "description": "Release channel configuration. If left unspecified on cluster creation and a version is specified, the cluster is enrolled in the most mature release channel where the version is available (first checking STABLE, then REGULAR, and finally RAPID). Otherwise, if no release channel configuration and no version is specified, the cluster is enrolled in the REGULAR channel with its default version."
        },
        "resourceLabels": {
          "type": "object",
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceUsageExportConfig": {
          "$ref": "#/definitions/ResourceUsageExportConfig",
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config is unspecified."
        },
        "securityPostureConfig": {
          "$ref": "#/definitions/SecurityPostureConfig",
          "description": "Enable/Disable Security Posture API features for the cluster."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output only] Server-defined URL for the resource."
        },
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR."
        },
        "shieldedNodes": {
          "$ref": "#/definitions/ShieldedNodes",
          "description": "Shielded Nodes configuration."
        },
        "status": {
          "$ref": "#/definitions/ClusterStatus",
          "description": "[Output only] The current status of this cluster."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available."
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected."
        },
        "tpuIpv4CidrBlock": {
          "type": "string",
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`)."
        },
        "verticalPodAutoscaling": {
          "$ref": "#/definitions/VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        },
        "workloadIdentityConfig": {
          "$ref": "#/definitions/WorkloadIdentityConfig",
          "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies."
        },
        "zone": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead."
        }
      }
    },
    "GcpFilestoreCsiDriverConfig": {
      "type": "object",
      "description": "Configuration for the GCP Filestore CSI Driver addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the GCP Filestore CSI Driver addon is enabled"
        }
      }
    },
    "GcpSecretManagerCertificateConfig": {
      "type": "object",
      "description": "GCPSecretManagerCertificateConfig specifies a certificate stored in Google Secret Manager",
      "properties": {
        "secretUri": {
          "type": "string",
          "description": "Secret Manager secret URI for the certificate authority certificate"
        }
      }
    },
    "GcsFuseCsiDriverConfig": {
      "type": "object",
      "description": "Configuration for the GCS Fuse CSI Driver addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the GCS Fuse CSI Driver addon is enabled"
        }
      }
    },
    "GkeAutoUpgradeConfig": {
      "type": "object",
      "description": "GKE auto-upgrade configuration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether auto-upgrade is enabled"
        },
        "autoUpgradeStartTime": {
          "type": "string",
          "description": "Time when auto-upgrade should start"
        }
      }
    },
    "GkeBackupAgentConfig": {
      "type": "object",
      "description": "Configuration for the GKE Backup Agent addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the GKE Backup Agent addon is enabled"
        }
      }
    },
    "GpuDriverInstallationConfig": {
      "type": "object",
      "description": "GPUDriverInstallationConfig specifies the version of GPU driver to be auto installed",
      "properties": {
        "gpuDriverVersion": {
          "type": "string",
          "description": "Mode for how the GPU driver is installed",
          "enum": [
            "GPU_DRIVER_VERSION_UNSPECIFIED",
            "INSTALLATION_DISABLED",
            "DEFAULT",
            "LATEST"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      }
    },
    "GpuSharingConfig": {
      "type": "object",
      "description": "GpuSharingConfig represents the GPU sharing configuration for Hardware Accelerators",
      "properties": {
        "gpuSharingStrategy": {
          "type": "string",
          "description": "The type of GPU sharing strategy to enable on the GPU node",
          "enum": [
            "GPU_SHARING_STRATEGY_UNSPECIFIED",
            "TIME_SHARING",
            "MPS"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "maxSharedClientsPerGpu": {
          "type": "string",
          "description": "The max number of containers that can share a physical GPU"
        }
      }
    },
    "HighScaleCheckpointingConfig": {
      "type": "object",
      "description": "Configuration for the High Scale Checkpointing addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the High Scale Checkpointing addon is enabled"
        }
      }
    },
    "HorizontalPodAutoscaling": {
      "type": "object",
      "description": "Configuration for the Horizontal Pod Autoscaling addon",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Horizontal Pod Autoscaling addon is disabled"
        }
      }
    },
    "HttpLoadBalancing": {
      "type": "object",
      "description": "Configuration for the HTTP Load Balancing addon",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the HTTP Load Balancing addon is disabled"
        }
      }
    },
    "IPv6AccessType": {
      "type": "string",
      "description": "IPv6 access type options for the cluster",
      "enum": [
        "IPV6_ACCESS_TYPE_UNSPECIFIED",
        "INTERNAL",
        "EXTERNAL"
      ],
      "x-ms-enum": {
        "name": "IPv6AccessType",
        "modelAsString": true,
        "values": [
          {
            "name": "IPV6_ACCESS_TYPE_UNSPECIFIED",
            "value": "IPV6_ACCESS_TYPE_UNSPECIFIED",
            "description": "IPv6 access type is unspecified"
          },
          {
            "name": "INTERNAL",
            "value": "INTERNAL",
            "description": "IPv6 access is internal only"
          },
          {
            "name": "EXTERNAL",
            "value": "EXTERNAL",
            "description": "IPv6 access is external"
          }
        ]
      }
    },
    "IdentityServiceConfig": {
      "type": "object",
      "description": "Configuration for Identity Service component",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Identity Service is enabled for this cluster"
        }
      }
    },
    "InTransitEncryptionConfig": {
      "type": "string",
      "description": "In-transit encryption configuration options",
      "enum": [
        "IN_TRANSIT_ENCRYPTION_UNSPECIFIED",
        "IN_TRANSIT_ENCRYPTION_DISABLED",
        "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
      ],
      "x-ms-enum": {
        "name": "InTransitEncryptionConfig",
        "modelAsString": true,
        "values": [
          {
            "name": "IN_TRANSIT_ENCRYPTION_UNSPECIFIED",
            "value": "IN_TRANSIT_ENCRYPTION_UNSPECIFIED",
            "description": "Unspecified in-transit encryption"
          },
          {
            "name": "IN_TRANSIT_ENCRYPTION_DISABLED",
            "value": "IN_TRANSIT_ENCRYPTION_DISABLED",
            "description": "In-transit encryption disabled"
          },
          {
            "name": "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT",
            "value": "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT",
            "description": "In-transit encryption with inter-node transparent encryption"
          }
        ]
      }
    },
    "IpAllocationPolicy": {
      "type": "object",
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "properties": {
        "additionalPodRangesConfig": {
          "$ref": "#/definitions/AdditionalPodRangesConfig",
          "description": "Output only. [Output only] The additional pod ranges that are added to the cluster. These pod ranges can be used by new node pools to allocate pod IPs automatically. Once the range is removed it will not show up in IPAllocationPolicy."
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use cluster_ipv4_cidr_block."
        },
        "clusterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range for the cluster pod IPs. If this field is set, then `cluster.cluster_ipv4_cidr` must be left blank. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "clusterSecondaryRangeName": {
          "type": "string",
          "description": "The name of the secondary range to be used for the cluster CIDR block. The secondary range will be used for pod IP addresses. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false."
        },
        "createSubnetwork": {
          "type": "boolean",
          "description": "Whether a new subnetwork will be created automatically for the cluster. This field is only applicable when `use_ip_aliases` is true."
        },
        "defaultPodIpv4RangeUtilization": {
          "type": "number",
          "format": "double",
          "description": "Output only. [Output only] The utilization of the cluster default IPv4 range for the pod. The ratio is Usage/[Total number of IPs in the secondary range], Usage=numNodes*numZones*podIPsPerNode."
        },
        "ipv6AccessType": {
          "$ref": "#/definitions/IPv6AccessType",
          "description": "The ipv6 access type (internal or external) when create_subnetwork is true"
        },
        "nodeIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use node_ipv4_cidr_block."
        },
        "nodeIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the instance IPs in this cluster. This is applicable only if `create_subnetwork` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "podCidrOverprovisionConfig": {
          "$ref": "#/definitions/PodCidrOverprovisionConfig",
          "description": "[PRIVATE FIELD] Pod CIDR size overprovisioning config for the cluster. Pod CIDR size per node depends on max_pods_per_node. By default, the value of max_pods_per_node is doubled and then rounded off to next power of 2 to get the size of pod CIDR block per node. Example: max_pods_per_node of 30 would result in 64 IPs (/26). This config can disable the doubling of IPs (we still round off to next power of 2) Example: max_pods_per_node of 30 will result in 32 IPs (/27) when overprovisioning is disabled."
        },
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use services_ipv4_cidr_block."
        },
        "servicesIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the services IPs in this cluster. If blank, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "servicesIpv6CidrBlock": {
          "type": "string",
          "description": "Output only. [Output only] The services IPv6 CIDR block for the cluster."
        },
        "servicesSecondaryRangeName": {
          "type": "string",
          "description": "The name of the secondary range to be used as for the services CIDR block. The secondary range will be used for service ClusterIPs. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false."
        },
        "stackType": {
          "$ref": "#/definitions/StackType",
          "description": "The IP stack type of the cluster"
        },
        "subnetIpv6CidrBlock": {
          "type": "string",
          "description": "Output only. [Output only] The subnet's IPv6 CIDR block used by nodes and pods."
        },
        "subnetworkName": {
          "type": "string",
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true. If this field is empty, then an automatic name will be chosen for the new subnetwork."
        },
        "tpuIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the Cloud TPUs in this cluster. If unspecified, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. If unspecified, the range will use the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "useIpAliases": {
          "type": "boolean",
          "description": "Whether alias IPs will be used for pod IPs in the cluster. This is used in conjunction with use_routes. It cannot be true if use_routes is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode"
        },
        "useRoutes": {
          "type": "boolean",
          "description": "Whether routes will be used for pod IPs in the cluster. This is used in conjunction with use_ip_aliases. It cannot be true if use_ip_aliases is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode"
        }
      }
    },
    "K8sBetaApiConfig": {
      "type": "object",
      "description": "Kubernetes Beta API configuration",
      "properties": {
        "enableBetaApis": {
          "type": "boolean",
          "description": "Whether Beta APIs are enabled"
        },
        "allowedBetaApis": {
          "type": "array",
          "description": "List of allowed Beta APIs",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "KubernetesDashboard": {
      "type": "object",
      "description": "Configuration for the Kubernetes Dashboard addon",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Kubernetes Dashboard addon is disabled"
        }
      }
    },
    "LegacyAbac": {
      "type": "object",
      "description": "Configuration for the legacy Attribute Based Access Control authorization mode",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Legacy Authorization mode is enabled"
        },
        "provider": {
          "type": "string",
          "description": "The provider of the legacy ABAC authorization mode"
        }
      }
    },
    "LinuxNodeConfig": {
      "type": "object",
      "description": "Parameters that can be configured on Linux nodes",
      "properties": {
        "sysctls": {
          "type": "object",
          "description": "The Linux kernel parameters to be applied to the nodes and all pods running on the nodes",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cgroupMode": {
          "type": "string",
          "description": "cgroup_mode specifies the cgroup mode to be used on the node",
          "enum": [
            "CGROUP_MODE_UNSPECIFIED",
            "CGROUP_MODE_V1",
            "CGROUP_MODE_V2"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      }
    },
    "LocalNvmeSsdBlockConfig": {
      "type": "object",
      "description": "Configuration for the local NVMe SSD block device",
      "properties": {
        "localSsdCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of raw-block local NVMe SSD disks to be attached to the node"
        }
      }
    },
    "LocalSsdEncryptionMode": {
      "type": "string",
      "description": "Local SSD encryption mode",
      "enum": [
        "LOCAL_SSD_ENCRYPTION_MODE_UNSPECIFIED",
        "GOOGLE_MANAGED",
        "CUSTOMER_MANAGED"
      ],
      "x-ms-enum": {
        "name": "LocalSsdEncryptionMode",
        "modelAsString": true,
        "values": [
          {
            "name": "LOCAL_SSD_ENCRYPTION_MODE_UNSPECIFIED",
            "value": "LOCAL_SSD_ENCRYPTION_MODE_UNSPECIFIED",
            "description": "Local SSD encryption mode is unspecified"
          },
          {
            "name": "GOOGLE_MANAGED",
            "value": "GOOGLE_MANAGED",
            "description": "Use Google-managed encryption keys for local SSD encryption"
          },
          {
            "name": "CUSTOMER_MANAGED",
            "value": "CUSTOMER_MANAGED",
            "description": "Use customer-managed encryption keys for local SSD encryption"
          }
        ]
      }
    },
    "LocationPolicy": {
      "type": "string",
      "description": "Location policy options used when scaling up a nodepool.",
      "enum": [
        "LOCATION_POLICY_UNSPECIFIED",
        "BALANCED",
        "ANY"
      ],
      "x-ms-enum": {
        "name": "LocationPolicy",
        "modelAsString": true,
        "values": [
          {
            "name": "LOCATION_POLICY_UNSPECIFIED",
            "value": "LOCATION_POLICY_UNSPECIFIED",
            "description": "Location policy is unspecified"
          },
          {
            "name": "BALANCED",
            "value": "BALANCED",
            "description": "Balanced location policy"
          },
          {
            "name": "ANY",
            "value": "ANY",
            "description": "Any location policy"
          }
        ]
      }
    },
    "LoggingConfig": {
      "type": "object",
      "description": "Logging configuration for the cluster",
      "properties": {
        "componentConfig": {
          "type": "object",
          "description": "Configuration of cluster logging components",
          "properties": {
            "enableComponents": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "COMPONENT_UNSPECIFIED",
                  "SYSTEM_COMPONENTS",
                  "WORKLOADS"
                ],
                "x-ms-enum": {
                  "modelAsString": true
                }
              }
            }
          }
        }
      }
    },
    "LoggingVariantConfig": {
      "type": "object",
      "description": "LoggingVariantConfig specifies the behaviour of the logging agent",
      "properties": {
        "variant": {
          "type": "string",
          "description": "Logging variant deployed on nodes",
          "enum": [
            "VARIANT_UNSPECIFIED",
            "DEFAULT",
            "MAX_THROUGHPUT"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      }
    },
    "LustreCsiDriverConfig": {
      "type": "object",
      "description": "Configuration for the Lustre CSI Driver addon",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Lustre CSI Driver addon is enabled"
        }
      }
    },
    "MaintenanceExclusion": {
      "type": "object",
      "description": "Maintenance exclusion configuration",
      "properties": {
        "window": {
          "$ref": "#/definitions/TimeWindow",
          "description": "The time window during which maintenance is excluded"
        },
        "exclusionOptions": {
          "$ref": "#/definitions/MaintenanceExclusionOptions",
          "description": "The scope of the exclusion"
        }
      }
    },
    "MaintenanceExclusionOptions": {
      "type": "object",
      "description": "Options for maintenance exclusions",
      "properties": {
        "scope": {
          "$ref": "#/definitions/MaintenanceExclusionScope",
          "description": "The scope of automatic upgrades to restrict"
        }
      }
    },
    "MaintenanceExclusionScope": {
      "type": "string",
      "description": "Scope of maintenance exclusions",
      "enum": [
        "NO_EXCLUSIONS",
        "NO_MINOR_UPGRADES",
        "NO_MINOR_OR_NODE_UPGRADES"
      ],
      "x-ms-enum": {
        "name": "MaintenanceExclusionScope",
        "modelAsString": true,
        "values": [
          {
            "name": "NO_EXCLUSIONS",
            "value": "NO_EXCLUSIONS",
            "description": "No exclusions"
          },
          {
            "name": "NO_MINOR_UPGRADES",
            "value": "NO_MINOR_UPGRADES",
            "description": "Exclude minor upgrades"
          },
          {
            "name": "NO_MINOR_OR_NODE_UPGRADES",
            "value": "NO_MINOR_OR_NODE_UPGRADES",
            "description": "Exclude minor and node upgrades"
          }
        ]
      }
    },
    "MaintenancePolicy": {
      "type": "object",
      "description": "Specifies the maintenance policy for the cluster",
      "properties": {
        "window": {
          "$ref": "#/definitions/MaintenanceWindow",
          "description": "Specifies the maintenance window for this cluster"
        },
        "resourceVersion": {
          "type": "string",
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes"
        }
      }
    },
    "MaintenanceWindow": {
      "type": "object",
      "description": "Maintenance window configuration for the cluster",
      "properties": {
        "dailyMaintenanceWindow": {
          "$ref": "#/definitions/DailyMaintenanceWindow",
          "description": "Daily maintenance window configuration"
        },
        "recurringWindow": {
          "$ref": "#/definitions/RecurringTimeWindow",
          "description": "Recurring maintenance window configuration"
        },
        "maintenanceExclusions": {
          "type": "object",
          "description": "Exceptions to maintenance window",
          "additionalProperties": {
            "$ref": "#/definitions/MaintenanceExclusion"
          }
        }
      }
    },
    "MasterAuth": {
      "type": "object",
      "description": "The authentication information for accessing the master endpoint.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username to use for HTTP basic authentication."
        },
        "password": {
          "type": "string",
          "description": "The password to use for HTTP basic authentication."
        },
        "clientCertificateConfig": {
          "$ref": "#/definitions/ClientCertificateConfig",
          "description": "Configuration for client certificate authentication on the cluster."
        },
        "clusterCaCertificate": {
          "type": "string",
          "description": "Base64-encoded public certificate used as the root of trust for the cluster."
        },
        "clientCertificate": {
          "type": "string",
          "description": "Base64-encoded public certificate used by clients to authenticate to the cluster endpoint. Issued only if clientCertificateConfig is set."
        },
        "clientKey": {
          "type": "string",
          "description": "Base64-encoded private key used by clients to authenticate to the cluster endpoint."
        }
      }
    },
    "MasterAuthorizedNetworksConfig": {
      "type": "object",
      "description": "Configuration for controlling which IP addresses can access the cluster master endpoint",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether or not master authorized networks is enabled"
        },
        "cidrBlocks": {
          "type": "array",
          "description": "External networks that can access Kubernetes master through HTTPS",
          "items": {
            "$ref": "#/definitions/CidrBlock"
          },
          "x-ms-identifiers": []
        },
        "gcpPublicCidrsAccessEnabled": {
          "type": "boolean",
          "description": "Whether access from Google Cloud public IP addresses is enabled"
        },
        "privateEndpointEnforcementEnabled": {
          "type": "boolean",
          "description": "Whether private endpoint enforcement is enabled"
        }
      }
    },
    "MaxPodsConstraint": {
      "type": "object",
      "description": "Constraints applied to pods",
      "properties": {
        "maxPodsPerNode": {
          "type": "string",
          "description": "The maximum number of pods that can run on a node"
        }
      }
    },
    "MeshCertificates": {
      "type": "object",
      "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods",
      "properties": {
        "enableCertificates": {
          "type": "boolean",
          "description": "Whether to enable certificates for service mesh"
        }
      }
    },
    "MonitoringConfig": {
      "type": "object",
      "description": "Monitoring configuration for the cluster",
      "properties": {
        "componentConfig": {
          "type": "object",
          "description": "Configuration of cluster monitoring components",
          "properties": {
            "enableComponents": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "COMPONENT_UNSPECIFIED",
                  "SYSTEM_COMPONENTS",
                  "WORKLOADS"
                ],
                "x-ms-enum": {
                  "modelAsString": true
                }
              }
            }
          }
        }
      }
    },
    "NetworkConfig": {
      "type": "object",
      "description": "NetworkConfig reports the relative names of network & subnetwork",
      "properties": {
        "network": {
          "type": "string",
          "description": "Name of the Google Compute Engine network"
        },
        "subnetwork": {
          "type": "string",
          "description": "Name of the Google Compute Engine subnetwork"
        },
        "enableIntraNodeVisibility": {
          "type": "boolean",
          "description": "Whether Intra-node visibility is enabled for this cluster"
        },
        "defaultSnatStatus": {
          "$ref": "#/definitions/DefaultSnatStatus",
          "description": "Configuration for default SNAT status"
        },
        "enableL4ilbSubsetting": {
          "type": "boolean",
          "description": "Whether L4ILB Subsetting is enabled for this cluster"
        },
        "datapathProvider": {
          "$ref": "#/definitions/DatapathProvider",
          "description": "The datapath provider for this cluster"
        },
        "privateIpv6GoogleAccess": {
          "$ref": "#/definitions/PrivateIPv6GoogleAccess",
          "description": "Private IPv6 Google Access configuration"
        },
        "dnsConfig": {
          "$ref": "#/definitions/DnsConfig",
          "description": "DNS configuration for the cluster"
        },
        "serviceExternalIpsConfig": {
          "$ref": "#/definitions/ServiceExternalIpsConfig",
          "description": "Configuration for external IPs on services"
        },
        "gatewayApiConfig": {
          "$ref": "#/definitions/GatewayApiConfig",
          "description": "Gateway API configuration"
        },
        "enableMultiNetworking": {
          "type": "boolean",
          "description": "Whether multi-networking is enabled for this cluster"
        },
        "networkPerformanceConfig": {
          "$ref": "#/definitions/ClusterNetworkPerformanceConfig",
          "description": "Network performance configuration for the cluster"
        },
        "enableFqdnNetworkPolicy": {
          "type": "boolean",
          "description": "Whether FQDN network policy is enabled"
        },
        "inTransitEncryptionConfig": {
          "$ref": "#/definitions/InTransitEncryptionConfig",
          "description": "In-transit encryption configuration"
        },
        "enableCiliumClusterwideNetworkPolicy": {
          "type": "boolean",
          "description": "Whether Cilium cluster-wide network policy is enabled"
        },
        "defaultEnablePrivateNodes": {
          "type": "boolean",
          "description": "Whether private nodes are enabled by default"
        },
        "disableL4LbFirewallReconciliation": {
          "type": "boolean",
          "description": "Whether to disable L4 load balancer firewall reconciliation"
        }
      }
    },
    "NetworkPolicy": {
      "type": "object",
      "description": "Configuration options for the NetworkPolicy feature",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether network policy is enabled on the cluster"
        },
        "provider": {
          "type": "string",
          "description": "The selected network policy provider"
        }
      }
    },
    "NetworkPolicyConfig": {
      "type": "object",
      "description": "Configuration for the Network Policy addon",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Network Policy addon is disabled"
        }
      }
    },
    "NetworkTags": {
      "type": "object",
      "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster creation. Each tag within the list must comply with RFC1035.",
      "properties": {
        "tags": {
          "type": "array",
          "description": "List of network tags",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NodeAffinity": {
      "type": "object",
      "description": "Specifies the NodeAffinity key, values, and affinity operator according to shared sole tenant node group affinities",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key for NodeAffinity"
        },
        "operator": {
          "type": "string",
          "description": "Operator for NodeAffinity",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "values": {
          "type": "array",
          "description": "Values for NodeAffinity",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NodeConfig": {
      "type": "object",
      "description": "Parameters that describe the nodes in a cluster. GKE Autopilot clusters do not recognize parameters in `NodeConfig`. Use AutoprovisioningNodePoolDefaults instead.",
      "properties": {
        "accelerators": {
          "type": "array",
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
          "items": {
            "$ref": "#/definitions/AcceleratorConfig"
          },
          "x-ms-identifiers": []
        },
        "advancedMachineFeatures": {
          "$ref": "#/definitions/AdvancedMachineFeatures",
          "description": "Advanced features for the Compute Engine VM."
        },
        "bootDiskKmsKey": {
          "type": "string",
          "description": "The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption"
        },
        "confidentialNodes": {
          "$ref": "#/definitions/ConfidentialNodes",
          "description": "Confidential nodes config. All the nodes in the node pool will be Confidential VM once enabled."
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB."
        },
        "diskType": {
          "type": "string",
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'"
        },
        "enableConfidentialStorage": {
          "type": "boolean",
          "description": "Optional. Reserved for future use."
        },
        "ephemeralStorageLocalSsdConfig": {
          "$ref": "#/definitions/EphemeralStorageLocalSsdConfig",
          "description": "Parameters for the node ephemeral storage using Local SSDs. If unspecified, ephemeral storage is backed by the boot disk."
        },
        "fastSocket": {
          "$ref": "#/definitions/FastSocket",
          "description": "Enable or disable NCCL fast socket for the node pool."
        },
        "gcfsConfig": {
          "$ref": "#/definitions/GcfsConfig",
          "description": "Google Container File System (image streaming) configs."
        },
        "gvnic": {
          "$ref": "#/definitions/VirtualNic",
          "description": "Enable or disable gvnic in the node pool."
        },
        "imageType": {
          "type": "string",
          "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used. Please see https://cloud.google.com/kubernetes-engine/docs/concepts/node-images for available image types."
        },
        "kubeletConfig": {
          "$ref": "#/definitions/NodeKubeletConfig",
          "description": "Node kubelet configs."
        },
        "labels": {
          "type": "object",
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "additionalProperties": {
            "type": "string"
          }
        },
        "linuxNodeConfig": {
          "$ref": "#/definitions/LinuxNodeConfig",
          "description": "Parameters that can be configured on Linux nodes."
        },
        "localNvmeSsdBlockConfig": {
          "$ref": "#/definitions/LocalNvmeSsdBlockConfig",
          "description": "Parameters for using raw-block Local NVMe SSDs."
        },
        "localSsdCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependent upon the maximum number of disks available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information."
        },
        "loggingConfig": {
          "$ref": "#/definitions/NodePoolLoggingConfig",
          "description": "Logging configuration."
        },
        "machineType": {
          "type": "string",
          "description": "The name of a Google Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-types) If unspecified, the default machine type is `e2-medium`."
        },
        "metadata": {
          "type": "object",
[...]
