{
  "swagger": "2.0",
  "info": {
    "title": "Azure Compute resource management API.",
    "version": "2026-04-06-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Compute/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationparameter}/virtualMachines/bulkVmOperations": {
      "get": {
        "operationId": "VirtualMachineBulkOperations_BulkVmOperations",
        "description": "BulkVmOperations_Get: Gets the singleton bulk VM operations proxy resource status.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BulkVmOperationsReadResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkVmOperations - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_Bulkvmoperations_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkVmOperations - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_Bulkvmoperations_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationparameter}/virtualMachines/bulkVmOperations/cancel": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkCancel",
        "description": "BulkCancelOperations: Cancel a previously submitted (start/deallocate/hibernate) request",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelOperationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CancelOperationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkCancel - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkCancel_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkCancel - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkCancel_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationparameter}/virtualMachines/bulkVmOperations/create": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkCreate",
        "description": "BulkCreate: Execute create operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkCreate - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkCreate_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkCreate - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkCreate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationparameter}/virtualMachines/bulkVmOperations/deallocate": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkDeallocate",
        "description": "BulkDeallocate: Execute deallocate operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteDeallocateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeallocateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkDeallocate - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkDeallocate_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkDeallocate - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkDeallocate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationparameter}/virtualMachines/bulkVmOperations/delete": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkDelete",
        "description": "BulkDelete: Execute delete operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteDeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeleteResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkDelete - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkDelete_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkDelete - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkDelete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationparameter}/virtualMachines/bulkVmOperations/getOperationsStatus": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkGetOperationsStatus",
        "description": "BulkGetOperationsStatus: Polling endpoint to read status of operations performed on virtual machines",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOperationStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetOperationStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkGetOperationsStatus - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkGetOperationsStatus_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkGetOperationsStatus - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkGetOperationsStatus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationparameter}/virtualMachines/bulkVmOperations/hibernate": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkHibernate",
        "description": "BulkHibernate: Execute hibernate operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteHibernateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HibernateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkHibernate - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkHibernate_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkHibernate - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkHibernate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationparameter}/virtualMachines/bulkVmOperations/reimage": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkReimage",
        "description": "BulkReimage: Execute reimage operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteReimageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReimageResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkReimage - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkReimage_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkReimage - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkReimage_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationparameter}/virtualMachines/bulkVmOperations/start": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkStart",
        "description": "BulkStart: Execute start operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StartResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkStart - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkStart_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkStart - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkStart_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationparameter}/virtualMachines/bulkVmOperations/vdiFlexCreate": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkVdiFlexCreate",
        "description": "BulkVdiFlexCreate: Bulk create  operation for a batch of virtual machines, this operation supports flex properties to give options on Sku and zone selection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteVdiCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkVdiFlexCreate - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkVdiFlexCreate_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkVdiFlexCreate - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkVdiFlexCreate_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AdditionalCapabilities": {
      "type": "object",
      "description": "Enables or disables a capability on the virtual machine or virtual machine scale set.",
      "properties": {
        "ultraSSDEnabled": {
          "type": "boolean",
          "description": "The flag that enables or disables a capability to have one or more managed data disks with UltraSSD_LRS storage account type on the VM or VMSS. Managed disks with storage account type UltraSSD_LRS can be added to a virtual machine or virtual machine scale set only if this property is enabled."
        },
        "hibernationEnabled": {
          "type": "boolean",
          "description": "The flag that enables or disables hibernation capability on the VM."
        }
      }
    },
    "AdditionalUnattendContent": {
      "type": "object",
      "description": "Specifies additional XML formatted information that can be included in the Unattend.xml file, which is used by Windows Setup. Contents are defined by setting name, component name, and the pass in which the content is applied.",
      "properties": {
        "passName": {
          "type": "string",
          "description": "The pass name. Currently, the only allowable value is OobeSystem.",
          "enum": [
            "OobeSystem"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "componentName": {
          "type": "string",
          "description": "The component name. Currently, the only allowable value is Microsoft-Windows-Shell-Setup.",
          "enum": [
            "Microsoft-Windows-Shell-Setup"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "settingName": {
          "$ref": "#/definitions/SettingNames",
          "description": "Specifies the name of the setting to which the content applies. Possible values are: FirstLogonCommands and AutoLogon."
        },
        "content": {
          "type": "string",
          "description": "Specifies the XML formatted content that is added to the unattend.xml file for the specified path and component. The XML must be less than 4KB and must include the root element for the setting or feature that is being inserted."
        }
      }
    },
    "AllInstancesDown": {
      "type": "object",
      "description": "Specifies if Scheduled Events should be auto-approved when all instances are down.",
      "properties": {
        "automaticallyApprove": {
          "type": "boolean",
          "description": "Specifies if Scheduled Events should be auto-approved when all instances are down. Its default value is true."
        }
      }
    },
    "AllocationStrategy": {
      "type": "string",
      "description": "The allocation strategy for VM size selection",
      "enum": [
        "LowestPrice",
        "Prioritized",
        "CapacityOptimized"
      ],
      "x-ms-enum": {
        "name": "AllocationStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "LowestPrice",
            "value": "LowestPrice",
            "description": "Platform prioritizes VM sizes with the lowest hourly cost"
          },
          {
            "name": "Prioritized",
            "value": "Prioritized",
            "description": "Customer specifies a rank for each VM size, platform uses VM sizes in rank order"
          },
          {
            "name": "CapacityOptimized",
            "value": "CapacityOptimized",
            "description": "Platform prioritizes VM sizes with the highest available capacity first"
          }
        ]
      }
    },
    "ApiEntityReference": {
      "type": "object",
      "description": "The API entity reference.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
        }
      }
    },
    "ApplicationProfile": {
      "type": "object",
      "description": "Contains the list of gallery applications that should be made available to the VM",
      "properties": {
        "galleryApplications": {
          "type": "array",
          "description": "Specifies the gallery applications that should be made available to the VM",
          "items": {
            "$ref": "#/definitions/VMGalleryApplication"
          },
          "x-ms-identifiers": [
            "packageReferenceId"
          ]
        }
      }
    },
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "Azure.ResourceManager.CommonTypes.ExtendedLocation": {
      "type": "object",
      "description": "The complex type of the extended location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the extended location."
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ExtendedLocationType",
          "description": "The type of the extended location."
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "Azure.ResourceManager.CommonTypes.ExtendedLocationType": {
      "type": "string",
      "description": "The supported ExtendedLocation types.",
      "enum": [
        "EdgeZone",
        "CustomLocation"
      ],
      "x-ms-enum": {
        "name": "ExtendedLocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "EdgeZone",
            "value": "EdgeZone",
            "description": "Azure Edge Zones location type"
          },
          {
            "name": "CustomLocation",
            "value": "CustomLocation",
            "description": "Azure Custom Locations type"
          }
        ]
      }
    },
    "BootDiagnostics": {
      "type": "object",
      "description": "Boot Diagnostics is a debugging feature which allows you to view Console Output and Screenshot to diagnose VM status. You can easily view the output of your console log. Azure also enables you to see a screenshot of the VM from the hypervisor.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether boot diagnostics should be enabled on the Virtual Machine."
        },
        "storageUri": {
          "type": "string",
          "description": "Uri of the storage account to use for placing the console output and screenshot. If storageUri is not specified while enabling boot diagnostics, managed storage will be used."
        }
      }
    },
    "BulkActionVmExtensionProperties": {
      "type": "object",
      "description": "Describes the properties of a Virtual Machine Extension.",
      "properties": {
        "forceUpdateTag": {
          "type": "string",
          "description": "How the extension handler should be forced to update even if the extension configuration has not changed."
        },
        "publisher": {
          "type": "string",
          "description": "The name of the extension handler publisher."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is 'CustomScriptExtension'."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "autoUpgradeMinorVersion": {
          "type": "boolean",
          "description": "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
        },
        "enableAutomaticUpgrade": {
          "type": "boolean",
          "description": "Indicates whether the extension should be automatically upgraded by the platform if there is a newer version of the extension available."
        },
        "settings": {
          "type": "object",
          "description": "JSON formatted public settings for the extension.",
          "additionalProperties": {}
        },
        "protectedSettings": {
          "type": "object",
          "description": "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.",
          "additionalProperties": {}
        },
        "suppressFailures": {
          "type": "boolean",
          "description": "Indicates whether failures stemming from the extension will be suppressed (Operational failures such as not connecting to the VM will not be suppressed regardless of this value). The default is false."
        },
        "protectedSettingsFromKeyVault": {
          "$ref": "#/definitions/KeyVaultSecretReference",
          "description": "The extensions protected settings that are passed by reference, and consumed from key vault"
        },
        "provisionAfterExtensions": {
          "type": "array",
          "description": "Collection of extension names after which this extension needs to be provisioned.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BulkVMConfiguration": {
      "type": "object",
      "description": "Per-VM configuration overrides that can be applied within a bulk virtual machine operation.",
      "properties": {
        "vmProperties": {
          "$ref": "#/definitions/BulkactionVMSpec",
          "description": "Bulk Actions Virtual Machine Profile to configure Virtual Machines - mirrors Microsoft.Compute VirtualMachine structure"
        },
        "extensions": {
          "type": "array",
          "description": "Virtual Machine Extensions Array to be applied to the Virtual Machines.",
          "items": {
            "$ref": "#/definitions/BulkactionVMExtension"
          }
        },
        "computeApiVersion": {
          "type": "string",
          "description": "Specifies the Microsoft.Compute API version to use when creating underlying Virtual Machines."
        },
        "name": {
          "type": "string",
          "description": "Identifier for the created virtual machine. If not provided, a name will be generated based on the resource prefix."
        }
      }
    },
    "BulkVmOperationsReadResponse": {
      "type": "object",
      "description": "Static read response for the singleton bulk VM operations proxy endpoint",
      "properties": {
        "status": {
          "type": "string",
          "description": "Indicates the singleton proxy endpoint is reachable",
          "enum": [
            "Ready"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "name": {
          "type": "string",
          "description": "Echoes the singleton proxy resource name",
          "enum": [
            "bulkVmOperations"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      },
      "required": [
        "status",
        "name"
      ]
    },
    "BulkactionVMExtension": {
      "type": "object",
      "description": "Defines a virtual machine extension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the virtual machine extension."
        },
        "properties": {
          "$ref": "#/definitions/BulkActionVmExtensionProperties",
          "description": "Properties of the virtual machine extension."
        }
      },
      "required": [
        "name",
        "properties"
      ]
    },
    "BulkactionVMProfile": {
      "type": "object",
      "description": "Describes the properties of a Virtual Machine for bulk create.",
      "properties": {
        "scheduledEventsPolicy": {
          "$ref": "#/definitions/ScheduledEventsPolicy",
          "description": "Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets Scheduled Event related configurations for the virtual machine."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Specifies the storage settings for the virtual machine disks."
        },
        "additionalCapabilities": {
          "$ref": "#/definitions/AdditionalCapabilities",
          "description": "Specifies additional capabilities enabled or disabled on the virtual machine."
        },
        "osProfile": {
          "$ref": "#/definitions/OSProfile",
          "description": "Specifies the operating system settings used while creating the virtual machine. Some of the settings cannot be changed once VM is provisioned."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "Specifies the network interfaces of the virtual machine."
        },
        "securityProfile": {
          "$ref": "#/definitions/SecurityProfile",
          "description": "Specifies the Security related profile settings for the virtual machine."
        },
        "diagnosticsProfile": {
          "$ref": "#/definitions/DiagnosticsProfile",
          "description": "Specifies the boot diagnostic settings state. Minimum compute api-version: 2015-06-15."
        },
        "licenseType": {
          "type": "string",
          "description": "Specifies that the image or disk that is being used was licensed on-premises. <br><br> Possible values for Windows Server operating system are: <br><br> Windows_Client <br><br> Windows_Server <br><br> Possible values for Linux Server operating system are: <br><br> RHEL_BYOS (for RHEL) <br><br> SLES_BYOS (for SUSE) <br><br> For more information, see [Azure Hybrid Use Benefit for Windows Server](https://docs.microsoft.com/azure/virtual-machines/windows/hybrid-use-benefit-licensing) <br><br> [Azure Hybrid Use Benefit for Linux Server](https://docs.microsoft.com/azure/virtual-machines/linux/azure-hybrid-benefit-linux) <br><br> Minimum api-version: 2015-06-15"
        },
        "extensionsTimeBudget": {
          "type": "string",
          "description": "Specifies the time alloted for all extensions to start. The time duration should be between 15 minutes and 120 minutes (inclusive) and should be specified in ISO 8601 format. The default value is 90 minutes (PT1H30M). Minimum compute api-version: 2020-06-01."
        },
        "scheduledEventsProfile": {
          "$ref": "#/definitions/ScheduledEventsProfile",
          "description": "Specifies Scheduled Event related configurations."
        },
        "userData": {
          "type": "string",
          "description": "UserData for the VM, which must be base-64 encoded. Customer should not pass any secrets in here. Minimum compute api-version: 2021-03-01."
        },
        "capacityReservation": {
          "$ref": "#/definitions/CapacityReservationProfile",
          "description": "Specifies information about the capacity reservation that is used to allocate virtual machine. Minimum compute api-version: 2021-04-01."
        },
        "applicationProfile": {
          "$ref": "#/definitions/ApplicationProfile",
          "description": "Specifies the gallery applications that should be made available to the VM."
        }
      }
    },
    "BulkactionVMSpec": {
      "type": "object",
      "description": "The virtual machine specification for bulk create.",
      "properties": {
        "plan": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Plan",
          "description": "The marketplace image plan used for the virtual machine."
        },
        "zones": {
          "type": "array",
          "description": "The availability zones.",
          "items": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/VirtualMachineIdentity",
          "description": "The identity of the virtual machine, if configured."
        },
        "extendedLocation": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ExtendedLocation",
          "description": "The extended location of the Virtual Machine."
        },
        "placement": {
          "$ref": "#/definitions/Placement",
          "description": "Placement constraints for virtual machine hardware placement - see specification/compute/Compute.Management/models.tsp#Placement"
        },
        "tags": {
          "type": "object",
          "description": "Resource tags to apply to the virtual machines created by this bulk action.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vmProperties": {
          "$ref": "#/definitions/BulkactionVMProfile",
          "description": "Describes the properties of a Virtual Machine."
        }
      }
    },
    "CachingTypes": {
      "type": "string",
      "description": "Specifies the caching requirements. Possible values are: **None,** **ReadOnly,** **ReadWrite.** The default values are: **None for Standard storage. ReadOnly for Premium storage**",
      "enum": [
        "None",
        "ReadOnly",
        "ReadWrite"
      ],
      "x-ms-enum": {
        "name": "CachingTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Caching type:None"
          },
          {
            "name": "ReadOnly",
            "value": "ReadOnly",
            "description": "Caching type:ReadOnly"
          },
          {
            "name": "ReadWrite",
            "value": "ReadWrite",
            "description": "Caching type:ReadWrite"
          }
        ]
      }
    },
    "CancelOperationsRequest": {
      "type": "object",
      "description": "This is the request to cancel running operations in scheduled actions using the operation ids",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "The list of operation ids to cancel operations on",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "operationIds"
      ]
    },
    "CancelOperationsResponse": {
      "type": "object",
      "description": "This is the response from a cancel operations request",
      "properties": {
        "results": {
          "type": "array",
          "description": "An array of resource operations that were successfully cancelled",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "results"
      ]
    },
    "CapacityReservationProfile": {
      "type": "object",
      "description": "The parameters of a capacity reservation Profile.",
      "properties": {
        "capacityReservationGroup": {
          "$ref": "#/definitions/SubResource",
          "description": "Specifies the capacity reservation group resource id that should be used for allocating the virtual machine provided enough capacity has been reserved. Please refer to https://aka.ms/CapacityReservation for more details."
        }
      }
    },
    "CreateResourceOperationResponse": {
      "type": "object",
      "description": "The response from a create request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the create request eg virtual machines"
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the create request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the create request if no errors exist",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "DataDisk": {
      "type": "object",
      "description": "Describes a data disk.",
      "properties": {
        "lun": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM."
        },
        "name": {
          "type": "string",
          "description": "The disk name."
        },
        "vhd": {
          "$ref": "#/definitions/VirtualHardDisk",
          "description": "The virtual hard disk."
        },
        "image": {
          "$ref": "#/definitions/VirtualHardDisk",
          "description": "The source user image virtual hard disk. The virtual hard disk will be copied before being attached to the virtual machine. If SourceImage is provided, the destination virtual hard drive must not exist."
        },
        "caching": {
          "$ref": "#/definitions/CachingTypes",
          "description": "Specifies the caching requirements. Possible values are: None, ReadOnly, ReadWrite. The defaulting behavior is: None for Standard storage. ReadOnly for Premium storage."
        },
        "writeAcceleratorEnabled": {
          "type": "boolean",
          "description": "Specifies whether writeAccelerator should be enabled or disabled on the disk."
        },
        "createOption": {
          "$ref": "#/definitions/DiskCreateOptionTypes",
          "description": "Specifies how the virtual machine disk should be created. Possible values are Attach, FromImage, Empty, Copy, Restore."
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of an empty data disk in gigabytes. This element can be used to overwrite the size of the disk in a virtual machine image. The property 'diskSizeGB' is the number of bytes x 1024^3 for the disk and the value cannot be larger than 1023."
        },
        "managedDisk": {
          "$ref": "#/definitions/ManagedDiskParameters",
          "description": "The managed disk parameters."
        },
        "sourceResource": {
          "$ref": "#/definitions/ApiEntityReference",
          "description": "The source resource identifier. It can be a snapshot, or disk restore point from which to create a disk."
        },
        "toBeDetached": {
          "type": "boolean",
          "description": "Specifies whether the data disk is in process of detachment from the VirtualMachine/VirtualMachineScaleset."
        },
        "detachOption": {
          "$ref": "#/definitions/DiskDetachOptionTypes",
          "description": "Specifies the detach behavior to be used while detaching a disk or which is already in the process of detachment from the virtual machine. Supported values: ForceDetach. This feature is still in preview. To force-detach a data disk update toBeDetached to 'true' along with setting detachOption: 'ForceDetach'."
        },
        "deleteOption": {
          "$ref": "#/definitions/DiskDeleteOptionTypes",
          "description": "Specifies whether data disk should be deleted or detached upon VM deletion. Possible values are: Delete, Detach. The default value is set to Detach."
        }
      },
      "required": [
        "lun",
        "createOption"
      ]
    },
    "DeallocateResourceOperationResponse": {
      "type": "object",
      "description": "The response from a deallocate request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the deallocate request eg virtual machines"
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the deallocate request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the deallocate request if no errors exist",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "DeleteOptions": {
      "type": "string",
      "description": "Specify what happens to the network interface when the VM is deleted",
      "enum": [
        "Delete",
        "Detach"
      ],
      "x-ms-enum": {
        "name": "DeleteOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Delete",
            "value": "Delete",
            "description": "Delete network interface when the VM is deleted"
          },
          {
            "name": "Detach",
            "value": "Detach",
            "description": "Detach network interface when the VM is deleted"
          }
        ]
      }
    },
    "DeleteResourceOperationResponse": {
      "type": "object",
      "description": "The response from a delete request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the delete request eg virtual machines"
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the delete request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the delete request if no errors exist",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "DiagnosticsProfile": {
      "type": "object",
      "description": "Specifies the boot diagnostic settings state. Minimum compute api-version: 2015-06-15.",
      "properties": {
        "bootDiagnostics": {
          "$ref": "#/definitions/BootDiagnostics",
          "description": "Boot Diagnostics is a debugging feature which allows you to view Console Output and Screenshot to diagnose VM status. **NOTE**: If storageUri is being specified then ensure that the storage account is in the same region and subscription as the VM. You can easily view the output of your console log. Azure also enables you to see a screenshot of the VM from the hypervisor."
        }
      }
    },
    "DiffDiskOptions": {
      "type": "string",
      "description": "Specifies the ephemeral disk option for operating system disk.",
      "enum": [
        "Local"
      ],
      "x-ms-enum": {
        "name": "DiffDiskOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Local",
            "value": "Local",
            "description": "Local Ephemeral disk option: Local"
          }
        ]
      }
    },
    "DiffDiskPlacement": {
      "type": "string",
      "description": "Specifies the ephemeral disk placement for operating system disk. This property can be used by user in the request to choose the location i.e, cache disk, resource disk or nvme disk space for Ephemeral OS disk provisioning. For more information on Ephemeral OS disk size requirements, please refer Ephemeral OS disk size requirements for Windows VM at https://docs.microsoft.com/azure/virtual-machines/windows/ephemeral-os-disks#size-requirements and Linux VM at https://docs.microsoft.com/azure/virtual-machines/linux/ephemeral-os-disks#size-requirements. Minimum api-version for NvmeDisk: 2024-03-01.",
      "enum": [
        "CacheDisk",
        "ResourceDisk",
        "NvmeDisk"
      ],
      "x-ms-enum": {
        "name": "DiffDiskPlacement",
        "modelAsString": true,
        "values": [
          {
            "name": "CacheDisk",
            "value": "CacheDisk",
            "description": "CacheDisk disk placement"
          },
          {
            "name": "ResourceDisk",
            "value": "ResourceDisk",
            "description": "ResourceDisk disk placement"
          },
          {
            "name": "NvmeDisk",
            "value": "NvmeDisk",
            "description": "NvmeDisk disk placement"
          }
        ]
      }
    },
    "DiffDiskSettings": {
      "type": "object",
      "description": "Describes the parameters of ephemeral disk settings that can be specified for operating system disk. Note: The ephemeral disk settings can only be specified for managed disk.",
      "properties": {
        "option": {
          "$ref": "#/definitions/DiffDiskOptions",
          "description": "Specifies the ephemeral disk settings for operating system disk."
        },
        "placement": {
          "$ref": "#/definitions/DiffDiskPlacement",
          "description": "Specifies the ephemeral disk placement for operating system disk. Possible values are: CacheDisk, ResourceDisk, NvmeDisk. The defaulting behavior is: CacheDisk if one is configured for the VM size otherwise ResourceDisk or NvmeDisk is used. Minimum api-version for NvmeDisk: 2024-03-01."
        }
      }
    },
    "DiskControllerTypes": {
      "type": "string",
      "description": "Specifies the disk controller type configured for the VM and VirtualMachineScaleSet. This property is only supported for virtual machines whose operating system disk and VM sku supports Generation 2 (https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2), please check the HyperVGenerations capability returned as part of VM sku capabilities in the response of Microsoft.Compute SKUs api for the region contains V2 (https://docs.microsoft.com/rest/api/compute/resourceskus/list). For more information about Disk Controller Types supported please refer to https://aka.ms/azure-diskcontrollertypes.",
      "enum": [
        "SCSI",
        "NVMe"
      ],
      "x-ms-enum": {
        "name": "DiskControllerTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "SCSI",
            "value": "SCSI",
            "description": "SCSI disk controller type"
          },
          {
            "name": "NVMe",
            "value": "NVMe",
            "description": "NVMe disk controller type"
          }
        ]
      }
    },
    "DiskCreateOptionTypes": {
      "type": "string",
      "description": "Specifies how the virtual machine disk should be created. Possible values are **Attach:** This value is used when you are using a specialized disk to create the virtual machine. **FromImage:** This value is used when you are using an image to create the virtual machine. If you are using a platform image, you should also use the imageReference element described above. If you are using a marketplace image, you should also use the plan element previously described. **Empty:** This value is used when creating an empty data disk. **Copy:** This value is used to create a data disk from a snapshot or another disk. **Restore:** This value is used to create a data disk from a disk restore point.",
      "enum": [
        "FromImage",
        "Empty",
        "Attach",
        "Copy",
        "Restore"
      ],
      "x-ms-enum": {
        "name": "DiskCreateOptionTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "FromImage",
            "value": "FromImage",
            "description": "Create disk FromImage"
          },
          {
            "name": "Empty",
            "value": "Empty",
            "description": "Empty value"
          },
          {
            "name": "Attach",
            "value": "Attach",
            "description": "Create disk by Attach"
          },
          {
            "name": "Copy",
            "value": "Copy",
            "description": "Create disk by Copy"
          },
          {
            "name": "Restore",
            "value": "Restore",
            "description": "Create disk by Restore"
          }
        ]
      }
    },
    "DiskDeleteOptionTypes": {
      "type": "string",
      "description": "Specifies the behavior of the managed disk when the VM gets deleted, for example whether the managed disk is deleted or detached. Supported values are: **Delete.** If this value is used, the managed disk is deleted when VM gets deleted. **Detach.** If this value is used, the managed disk is retained after VM gets deleted. Minimum api-version: 2021-03-01.",
      "enum": [
        "Delete",
        "Detach"
      ],
      "x-ms-enum": {
        "name": "DiskDeleteOptionTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "Delete",
            "value": "Delete",
            "description": "Delete the disk upon VM deletion"
          },
          {
            "name": "Detach",
            "value": "Detach",
            "description": "Detach the disk upon VM deletion"
          }
        ]
      }
    },
    "DiskDetachOptionTypes": {
      "type": "string",
      "description": "Specifies the detach behavior to be used while detaching a disk or which is already in the process of detachment from the virtual machine. Supported values are: **ForceDetach.** detachOption: **ForceDetach** is applicable only for managed data disks. If a previous detachment attempt of the data disk did not complete due to an unexpected failure from the virtual machine and the disk is still not released then use force-detach as a last resort option to detach the disk forcibly from the VM. All writes might not have been flushed when using this detach behavior. **This feature is still in preview**. To force-detach a data disk update toBeDetached to 'true' along with setting detachOption: 'ForceDetach'.",
      "enum": [
        "ForceDetach"
      ],
      "x-ms-enum": {
        "name": "DiskDetachOptionTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "ForceDetach",
            "value": "ForceDetach",
            "description": "ForceDetach the disk"
          }
        ]
      }
    },
    "DiskEncryptionSetParameters": {
      "type": "object",
      "description": "Describes the parameter of customer managed disk encryption set resource id that can be specified for disk. **Note:** The disk encryption set resource id can only be specified for managed disk. Please refer https://aka.ms/mdssewithcmkoverview for more details.",
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "DiskEncryptionSettings": {
      "type": "object",
      "description": "Describes a Encryption Settings for a Disk",
      "properties": {
        "diskEncryptionKey": {
          "$ref": "#/definitions/KeyVaultSecretReference",
          "description": "Specifies the location of the disk encryption key, which is a Key Vault Secret."
        },
        "keyEncryptionKey": {
          "$ref": "#/definitions/KeyVaultKeyReference",
          "description": "Specifies the location of the key encryption key in Key Vault."
        },
        "enabled": {
          "type": "boolean",
          "description": "Specifies whether disk encryption should be enabled on the virtual machine."
        }
      }
    },
    "DistributionStrategy": {
      "type": "string",
      "description": "The distribution strategy for zone allocation",
      "enum": [
        "BestEffortSingleZone",
        "Prioritized",
        "BestEffortBalanced",
        "StrictBalanced"
      ],
      "x-ms-enum": {
        "name": "DistributionStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "BestEffortSingleZone",
            "value": "BestEffortSingleZone",
            "description": "Platform attempts to place as many VMs as possible in a single zone, falls back to multiple zones if needed"
          },
          {
            "name": "Prioritized",
            "value": "Prioritized",
            "description": "Platform uses customer-provided zone rankings to allocate VMs"
          },
          {
            "name": "BestEffortBalanced",
            "value": "BestEffortBalanced",
            "description": "Platform attempts to evenly distribute VMs across all available zones with best effort"
          },
          {
            "name": "StrictBalanced",
            "value": "StrictBalanced",
            "description": "Platform must evenly distribute VMs across zones, request is rejected if exact balance cannot be achieved"
          }
        ]
      }
    },
    "DomainNameLabelScopeTypes": {
      "type": "string",
      "description": "The Domain name label scope.The concatenation of the hashed domain name label that generated according to the policy from domain name label scope and vm index will be the domain name labels of the PublicIPAddress resources that will be created",
      "enum": [
        "TenantReuse",
        "SubscriptionReuse",
        "ResourceGroupReuse",
        "NoReuse"
      ],
      "x-ms-enum": {
        "name": "DomainNameLabelScopeTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "TenantReuse",
            "value": "TenantReuse",
            "description": "TenantReuse scope type"
          },
          {
            "name": "SubscriptionReuse",
            "value": "SubscriptionReuse",
            "description": "SubscriptionReuse scope type"
          },
          {
            "name": "ResourceGroupReuse",
            "value": "ResourceGroupReuse",
            "description": "ResourceGroupReuse scope type"
          },
          {
            "name": "NoReuse",
            "value": "NoReuse",
            "description": "NoReuse scope type"
          }
        ]
      }
    },
    "EncryptionIdentity": {
      "type": "object",
      "description": "Specifies the Managed Identity used by ADE to get access token for keyvault operations.",
      "properties": {
        "userAssignedIdentityResourceId": {
          "type": "string",
          "description": "Specifies ARM Resource ID of one of the user identities associated with the VM."
        }
      }
    },
    "EventGridAndResourceGraph": {
      "type": "object",
      "description": "Specifies eventGridAndResourceGraph related Scheduled Event related configurations.",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Specifies if event grid and resource graph is enabled for Scheduled event related configurations."
        },
        "scheduledEventsApiVersion": {
          "type": "string",
          "description": "Specifies the api-version to determine which Scheduled Events configuration schema version will be delivered."
        }
      }
    },
    "ExecuteCreateRequest": {
      "type": "object",
      "description": "The ExecuteCreateRequest request for create operations",
      "properties": {
        "resourceConfigParameters": {
          "$ref": "#/definitions/ResourceProvisionPayload",
          "description": "resource creation payload"
        },
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        }
      },
      "required": [
        "resourceConfigParameters",
        "executionParameters"
      ]
    },
    "ExecuteDeallocateRequest": {
      "type": "object",
      "description": "The ExecuteDeallocateRequest request for executeDeallocate operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        }
      },
      "required": [
        "executionParameters",
        "resources"
      ]
    },
    "ExecuteDeleteRequest": {
      "type": "object",
      "description": "The ExecuteDeleteRequest for delete VM operation",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        },
        "forceDeletion": {
          "type": "boolean",
          "description": "Forced delete resource item"
        }
      },
      "required": [
        "executionParameters",
        "resources"
      ]
    },
    "ExecuteHibernateRequest": {
      "type": "object",
      "description": "The ExecuteHibernateRequest request for executeHibernate operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        }
      },
      "required": [
        "executionParameters",
        "resources"
      ]
    },
    "ExecuteReimageRequest": {
      "type": "object",
      "description": "The ExecuteReimageRequest request for reimage operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        },
        "reimageParameters": {
          "$ref": "#/definitions/ReimagePayload",
          "description": "Reimage parameters including base profile and per-resource overrides"
        }
      },
      "required": [
        "executionParameters",
        "resources"
      ]
    },
    "ExecuteStartRequest": {
      "type": "object",
      "description": "The ExecuteStartRequest request for executeStart operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        }
      },
      "required": [
        "executionParameters",
        "resources"
      ]
    },
    "ExecuteVdiCreateRequest": {
      "type": "object",
      "description": "The VdiCreateRequest request for create operations",
      "properties": {
        "resourceConfigParameters": {
          "$ref": "#/definitions/ResourceProvisionVdiPayload",
          "description": "resource creation payload"
        },
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        }
      },
      "required": [
        "resourceConfigParameters",
        "executionParameters"
      ]
    },
    "ExecutionParameters": {
      "type": "object",
      "description": "Extra details needed to run the user's request",
      "properties": {
        "retryPolicy": {
          "$ref": "#/definitions/RetryPolicy",
          "description": "Retry policy the user can pass"
        }
      }
    },
    "FallbackOperationInfo": {
      "type": "object",
      "description": "Describes the fallback operation that was performed",
      "properties": {
        "lastOpType": {
          "$ref": "#/definitions/ResourceOperationType",
          "description": "The last operation type that was performed as a fallback"
        },
        "status": {
          "type": "string",
          "description": "The status of the fallback operation"
        },
        "error": {
          "$ref": "#/definitions/ResourceOperationError",
          "description": "The error code if the fallback operation failed"
        }
      },
      "required": [
        "lastOpType",
        "status"
      ]
    },
    "FlexProperties": {
      "type": "object",
      "description": "The flex properties for flexible VM creation",
      "properties": {
        "vmSizeProfiles": {
          "type": "array",
          "description": "The list of VM size profiles to use for flex creation",
          "minItems": 1,
          "maxItems": 5,
          "items": {
            "$ref": "#/definitions/VmSizeProfile"
          },
          "x-ms-identifiers": []
        },
        "osType": {
          "$ref": "#/definitions/OsType",
          "description": "The operating system type for the VMs"
        },
        "priorityProfile": {
          "$ref": "#/definitions/PriorityProfile",
          "description": "The priority profile for VM allocation"
        },
        "zoneAllocationPolicy": {
          "$ref": "#/definitions/ZoneAllocationPolicy",
          "description": "The zone allocation policy for distributing VMs across availability zones"
        }
      },
      "required": [
        "vmSizeProfiles",
        "osType",
        "priorityProfile"
      ]
    },
    "GetOperationStatusRequest": {
      "type": "object",
      "description": "This is the request to get operation status using operationids",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "The list of operation ids to get the status of",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "operationIds"
      ]
    },
    "GetOperationStatusResponse": {
      "type": "object",
      "description": "This is the response from a get operations status request",
      "properties": {
        "results": {
          "type": "array",
          "description": "An array of resource operations based on their operation ids",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "results"
      ]
    },
    "HibernateResourceOperationResponse": {
      "type": "object",
      "description": "The response from a Hibernate request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the Hibernate request eg virtual machines"
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The location of the Hibernate request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the Hibernate request if no errors exist",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "HostEndpointSettings": {
      "type": "object",
      "description": "Specifies particular host endpoint settings.",
      "properties": {
        "mode": {
          "$ref": "#/definitions/Modes",
          "description": "Specifies the execution mode. In Audit mode, the system acts as if it is enforcing the access control policy, including emitting access denial entries in the logs but it does not actually deny any requests to host endpoints. In Enforce mode, the system will enforce the access control and it is the recommended mode of operation."
        },
        "inVMAccessControlProfileReferenceId": {
          "type": "string",
          "description": "Specifies the InVMAccessControlProfileVersion resource id in the format of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/inVMAccessControlProfiles/{profile}/versions/{version}"
        }
      }
    },
    "IPVersions": {
      "type": "string",
      "description": "Available from compute Api-Version 2017-03-30 onwards, it represents whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4. Possible values are: 'IPv4' and 'IPv6'.",
      "enum": [
        "IPv4",
        "IPv6"
      ],
      "x-ms-enum": {
        "name": "IPVersions",
        "modelAsString": true,
        "values": [
          {
            "name": "IPv4",
            "value": "IPv4",
            "description": "IPv4 version"
          },
          {
            "name": "IPv6",
            "value": "IPv6",
            "description": "IPv6 version"
          }
        ]
      }
    },
    "ImageReference": {
      "type": "object",
      "description": "Specifies information about the image to use. You can specify information about platform images, marketplace images, or virtual machine images. This element is required when you want to use a platform image, marketplace image, or virtual machine image, but is not used in other creation operations. NOTE: Image reference publisher and offer can only be set when you create the scale set.",
      "properties": {
        "publisher": {
          "type": "string",
          "description": "The image publisher."
        },
        "offer": {
          "type": "string",
          "description": "Specifies the offer of the platform image or marketplace image used to create the virtual machine."
        },
        "sku": {
          "type": "string",
          "description": "The image SKU."
        },
        "version": {
          "type": "string",
          "description": "Specifies the version of the platform image or marketplace image used to create the virtual machine. The allowed formats are Major.Minor.Build or 'latest'. Major, Minor, and Build are decimal numbers. Specify 'latest' to use the latest version of an image available at deploy time. Even if you use 'latest', the VM image will not automatically update after deploy time even if a new version becomes available. Please do not use field 'version' for gallery image deployment, gallery image should always use 'id' field for deployment, to use 'latest' version of gallery image, just set '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{imageName}' in the 'id' field without version input."
        },
        "sharedGalleryImageId": {
          "type": "string",
          "description": "Specified the shared gallery image unique id for vm deployment. This can be fetched from shared gallery image GET call."
        },
        "communityGalleryImageId": {
          "type": "string",
          "description": "Specified the community gallery image unique id for vm deployment. This can be fetched from community gallery image GET call."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "KeyVaultKeyReference": {
      "type": "object",
      "description": "Describes a reference to Key Vault Key",
      "properties": {
        "keyUrl": {
          "type": "string",
          "description": "The URL referencing a key encryption key in Key Vault."
        },
        "sourceVault": {
          "$ref": "#/definitions/SubResource",
          "description": "The relative URL of the Key Vault containing the key."
        }
      },
      "required": [
        "keyUrl",
        "sourceVault"
      ]
    },
    "KeyVaultSecretReference": {
      "type": "object",
      "description": "Describes a reference to Key Vault Secret",
      "properties": {
        "secretUrl": {
          "type": "string",
          "description": "The URL referencing a secret in a Key Vault."
        },
        "sourceVault": {
          "$ref": "#/definitions/SubResource",
          "description": "The relative URL of the Key Vault containing the secret."
        }
      },
      "required": [
        "secretUrl",
        "sourceVault"
      ]
    },
    "LinuxConfiguration": {
      "type": "object",
      "description": "Specifies the Linux operating system settings on the virtual machine. For a list of supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/linux/endorsed-distros).",
      "properties": {
        "disablePasswordAuthentication": {
          "type": "boolean",
          "description": "Specifies whether password authentication should be disabled."
        },
        "ssh": {
          "$ref": "#/definitions/SshConfiguration",
          "description": "Specifies the ssh key configuration for a Linux OS."
        },
        "provisionVMAgent": {
          "type": "boolean",
          "description": "Indicates whether virtual machine agent should be provisioned on the virtual machine. When this property is not specified in the request body, default behavior is to set it to true. This will ensure that VM Agent is installed on the VM so that extensions can be added to the VM later."
        },
        "patchSettings": {
          "$ref": "#/definitions/LinuxPatchSettings",
          "description": "[Preview Feature] Specifies settings related to VM Guest Patching on Linux."
        },
        "enableVMAgentPlatformUpdates": {
          "type": "boolean",
          "description": "Indicates whether VMAgent Platform Updates is enabled for the Linux virtual machine. Default value is false."
        }
      }
    },
    "LinuxPatchAssessmentMode": {
      "type": "string",
      "description": "Specifies the mode of VM Guest Patch Assessment for the IaaS virtual machine.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - You control the timing of patch assessments on a virtual machine. <br /><br /> **AutomaticByPlatform** - The platform will trigger periodic patch assessments. The property provisionVMAgent must be true.",
      "enum": [
        "ImageDefault",
        "AutomaticByPlatform"
      ],
      "x-ms-enum": {
        "name": "LinuxPatchAssessmentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "ImageDefault",
            "value": "ImageDefault",
            "description": "ImageDefault mode"
          },
          {
            "name": "AutomaticByPlatform",
            "value": "AutomaticByPlatform",
            "description": "AutomaticByPlatform mode"
          }
        ]
      }
    },
    "LinuxPatchSettings": {
      "type": "object",
      "description": "Specifies settings related to VM Guest Patching on Linux.",
      "properties": {
        "patchMode": {
          "$ref": "#/definitions/LinuxVMGuestPatchMode",
          "description": "Specifies the mode of VM Guest Patching to IaaS virtual machine or virtual machines associated to virtual machine scale set with OrchestrationMode as Flexible.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - The virtual machine's default patching configuration is used. <br /><br /> **AutomaticByPlatform** - The virtual machine will be automatically updated by the platform. The property provisionVMAgent must be true"
        },
        "assessmentMode": {
          "$ref": "#/definitions/LinuxPatchAssessmentMode",
          "description": "Specifies the mode of VM Guest Patch Assessment for the IaaS virtual machine.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - You control the timing of patch assessments on a virtual machine. <br /><br /> **AutomaticByPlatform** - The platform will trigger periodic patch assessments. The property provisionVMAgent must be true."
        },
        "automaticByPlatformSettings": {
          "$ref": "#/definitions/LinuxVMGuestPatchAutomaticByPlatformSettings",
          "description": "Specifies additional settings for patch mode AutomaticByPlatform in VM Guest Patching on Linux."
        }
      }
    },
    "LinuxVMGuestPatchAutomaticByPlatformRebootSetting": {
      "type": "string",
      "description": "Specifies the reboot setting for all AutomaticByPlatform patch installation operations.",
      "enum": [
        "Unknown",
        "IfRequired",
        "Never",
        "Always"
      ],
      "x-ms-enum": {
        "name": "LinuxVMGuestPatchAutomaticByPlatformRebootSetting",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown reboot setting"
          },
          {
            "name": "IfRequired",
            "value": "IfRequired",
            "description": "Reboot if required"
          },
          {
            "name": "Never",
            "value": "Never",
            "description": "Never reboot"
          },
          {
            "name": "Always",
            "value": "Always",
            "description": "Always reboot"
          }
        ]
      }
    },
    "LinuxVMGuestPatchAutomaticByPlatformSettings": {
      "type": "object",
      "description": "Specifies additional settings to be applied when patch mode AutomaticByPlatform is selected in Linux patch settings.",
      "properties": {
        "rebootSetting": {
          "$ref": "#/definitions/LinuxVMGuestPatchAutomaticByPlatformRebootSetting",
          "description": "Specifies the reboot setting for all AutomaticByPlatform patch installation operations."
        },
        "bypassPlatformSafetyChecksOnUserSchedule": {
          "type": "boolean",
          "description": "Enables customer to schedule patching without accidental upgrades"
        }
      }
    },
    "LinuxVMGuestPatchMode": {
      "type": "string",
      "description": "Specifies the mode of VM Guest Patching to IaaS virtual machine or virtual machines associated to virtual machine scale set with OrchestrationMode as Flexible.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - The virtual machine's default patching configuration is used. <br /><br /> **AutomaticByPlatform** - The virtual machine will be automatically updated by the platform. The property provisionVMAgent must be true",
      "enum": [
        "ImageDefault",
        "AutomaticByPlatform"
      ],
      "x-ms-enum": {
        "name": "LinuxVMGuestPatchMode",
        "modelAsString": true,
        "values": [
          {
            "name": "ImageDefault",
            "value": "ImageDefault",
            "description": "ImageDefault linux VM guest patch mode"
          },
          {
            "name": "AutomaticByPlatform",
            "value": "AutomaticByPlatform",
            "description": "AutomaticByPlatform linux VM guest patch mode"
          }
        ]
      }
    },
    "ManagedDiskParameters": {
      "type": "object",
      "description": "The parameters of a managed disk.",
      "properties": {
        "storageAccountType": {
          "$ref": "#/definitions/StorageAccountTypes",
          "description": "Specifies the storage account type for the managed disk. NOTE: UltraSSD_LRS can only be used with data disks, it cannot be used with OS Disk."
        },
        "diskEncryptionSet": {
          "$ref": "#/definitions/DiskEncryptionSetParameters",
          "description": "Specifies the customer managed disk encryption set resource id for the managed disk."
        },
        "securityProfile": {
          "$ref": "#/definitions/VMDiskSecurityProfile",
          "description": "Specifies the security profile for the managed disk."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "Mode": {
      "type": "string",
      "description": "Specifies the mode that ProxyAgent will execute on if the feature is enabled. ProxyAgent will start to audit or monitor but not enforce access control over requests to host endpoints in Audit mode, while in Enforce mode it will enforce access control. The default value is Enforce mode.",
      "enum": [
        "Audit",
        "Enforce"
      ],
      "x-ms-enum": {
        "name": "Mode",
        "modelAsString": true,
        "values": [
          {
            "name": "Audit",
            "value": "Audit",
            "description": "Audit mode"
          },
          {
            "name": "Enforce",
            "value": "Enforce",
            "description": "Enforce mode"
          }
        ]
      }
    },
    "Modes": {
      "type": "string",
      "description": "Specifies the execution mode. In Audit mode, the system acts as if it is enforcing the access control policy, including emitting access denial entries in the logs but it does not actually deny any requests to host endpoints. In Enforce mode, the system will enforce the access control and it is the recommended mode of operation.",
      "enum": [
        "Audit",
        "Enforce",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "Modes",
        "modelAsString": true,
        "values": [
          {
            "name": "Audit",
            "value": "Audit",
            "description": "Audit mode"
          },
          {
            "name": "Enforce",
            "value": "Enforce",
            "description": "Enforce mode"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled mode"
          }
        ]
      }
    },
    "NetworkApiVersion": {
      "type": "string",
      "description": "Specifies the Microsoft.Network API version used when creating networking resources in the Network Interface Configurations",
      "enum": [
        "2020-11-01",
        "2022-11-01"
      ],
      "x-ms-enum": {
        "name": "NetworkApiVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "2020-11-01",
            "value": "2020-11-01",
            "description": "2020-11-01 version"
          },
          {
            "name": "2022-11-01",
            "value": "2022-11-01",
            "description": "2022-11-01 version"
          }
        ]
      }
    },
    "NetworkInterfaceAuxiliaryMode": {
      "type": "string",
      "description": "Specifies whether the Auxiliary mode is enabled for the Network Interface resource.",
      "enum": [
        "None",
        "AcceleratedConnections",
        "Floating"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceAuxiliaryMode",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None mode"
          },
          {
            "name": "AcceleratedConnections",
            "value": "AcceleratedConnections",
            "description": "AcceleratedConnections mode"
          },
          {
            "name": "Floating",
            "value": "Floating",
            "description": "Floating mode"
          }
        ]
      }
    },
    "NetworkInterfaceAuxiliarySku": {
      "type": "string",
      "description": "Specifies whether the Auxiliary sku is enabled for the Network Interface resource.",
      "enum": [
        "None",
        "A1",
        "A2",
        "A4",
        "A8"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceAuxiliarySku",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None: None sku"
          },
          {
            "name": "A1",
            "value": "A1",
            "description": "A1 sku"
          },
          {
            "name": "A2",
            "value": "A2",
            "description": "A2 sku"
          },
          {
            "name": "A4",
            "value": "A4",
            "description": "A4 sku"
          },
          {
            "name": "A8",
            "value": "A8",
            "description": "A8 sku"
          }
        ]
      }
    },
    "NetworkInterfaceReference": {
      "type": "object",
      "description": "Describes a network interface reference.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkInterfaceReferenceProperties",
          "description": "Describes a network interface reference properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "NetworkInterfaceReferenceProperties": {
      "type": "object",
      "description": "Describes a network interface reference properties.",
      "properties": {
        "primary": {
          "type": "boolean",
          "description": "Specifies the primary network interface in case the virtual machine has more than 1 network interface."
        },
        "deleteOption": {
          "$ref": "#/definitions/DeleteOptions",
          "description": "Specify what happens to the network interface when the VM is deleted"
        }
      }
    },
    "NetworkProfile": {
      "type": "object",
      "description": "Specifies the network interfaces or the networking configuration of the virtual machine.",
      "properties": {
        "networkInterfaces": {
          "type": "array",
          "description": "Specifies the list of resource Ids for the network interfaces associated with the virtual machine.",
          "items": {
            "$ref": "#/definitions/NetworkInterfaceReference"
          }
        },
        "networkApiVersion": {
          "$ref": "#/definitions/NetworkApiVersion",
          "description": "specifies the Microsoft.Network API version used when creating networking resources in the Network Interface Configurations"
        },
        "networkInterfaceConfigurations": {
          "type": "array",
          "description": "Specifies the networking configurations that will be used to create the virtual machine networking resources.",
          "items": {
            "$ref": "#/definitions/VirtualMachineNetworkInterfaceConfiguration"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "OSDisk": {
      "type": "object",
      "description": "Specifies information about the operating system disk used by the virtual machine. For more information about disks, see [About disks and VHDs for Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/managed-disks-overview).",
      "properties": {
        "osType": {
          "$ref": "#/definitions/OperatingSystemTypes",
          "description": "This property allows you to specify the type of the OS that is included in the disk if creating a VM from user-image or a specialized VHD. Possible values are: Windows, Linux."
        },
        "encryptionSettings": {
          "$ref": "#/definitions/DiskEncryptionSettings",
          "description": "Specifies the encryption settings for the OS Disk. Minimum compute api-version: 2015-06-15."
        },
        "name": {
          "type": "string",
          "description": "The disk name."
        },
        "vhd": {
          "$ref": "#/definitions/VirtualHardDisk",
          "description": "The virtual hard disk."
        },
        "image": {
          "$ref": "#/definitions/VirtualHardDisk",
          "description": "The source user image virtual hard disk. The virtual hard disk will be copied before being attached to the virtual machine. If SourceImage is provided, the destination virtual hard drive must not exist."
        },
        "caching": {
          "$ref": "#/definitions/CachingTypes",
          "description": "Specifies the caching requirements. Possible values are: None, ReadOnly, ReadWrite. The defaulting behavior is: None for Standard storage. ReadOnly for Premium storage."
        },
        "writeAcceleratorEnabled": {
          "type": "boolean",
          "description": "Specifies whether writeAccelerator should be enabled or disabled on the disk."
        },
        "diffDiskSettings": {
          "$ref": "#/definitions/DiffDiskSettings",
          "description": "Specifies the ephemeral Disk Settings for the operating system disk used by the virtual machine."
        },
        "createOption": {
          "$ref": "#/definitions/DiskCreateOptionTypes",
          "description": "Specifies how the virtual machine disk should be created. Possible values are Attach, FromImage. If you are using a platform image, you should also use the imageReference element described above. If you are using a marketplace image, you should also use the plan element previously described."
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of an empty data disk in gigabytes. This element can be used to overwrite the size of the disk in a virtual machine image. The property 'diskSizeGB' is the number of bytes x 1024^3 for the disk and the value cannot be larger than 1023."
        },
        "managedDisk": {
          "$ref": "#/definitions/ManagedDiskParameters",
          "description": "The managed disk parameters."
        },
        "deleteOption": {
          "$ref": "#/definitions/DiskDeleteOptionTypes",
          "description": "Specifies whether OS Disk should be deleted or detached upon VM deletion. Possible values are: Delete, Detach. The default value is set to Detach. For an ephemeral OS Disk, the default value is set to Delete. The user cannot change the delete option for an ephemeral OS Disk."
        }
      },
      "required": [
        "createOption"
      ]
    },
    "OSImageNotificationProfile": {
      "type": "object",
      "description": "Profile for the OS Image Scheduled event.",
      "properties": {
        "notBeforeTimeout": {
          "type": "string",
          "description": "Length of time a Virtual Machine being reimaged or having its OS upgraded will have to potentially approve the OS Image Scheduled Event before the event is auto approved (timed out). The configuration is specified in ISO 8601 format, and the value must be 15 minutes (PT15M)"
        },
        "enable": {
          "type": "boolean",
          "description": "Specifies whether the OS Image Scheduled event is enabled or disabled."
        }
      }
    },
    "OSProfile": {
      "type": "object",
      "description": "Specifies the operating system settings for the virtual machine. Some of the settings cannot be changed once VM is provisioned.",
      "properties": {
        "computerName": {
          "type": "string",
          "description": "Specifies the host OS name of the virtual machine. This name cannot be updated after the VM is created. **Max-length (Windows):** 15 characters. **Max-length (Linux):** 64 characters. For naming conventions and restrictions see [Azure infrastructure services implementation guidelines](https://docs.microsoft.com/azure/azure-resource-manager/management/resource-name-rules)."
        },
        "adminUsername": {
          "type": "string",
          "description": "Specifies the name of the administrator account. <br><br> This property cannot be updated after the VM is created. <br><br> **Windows-only restriction:** Cannot end in \".\" <br><br> **Disallowed values:** \"administrator\", \"admin\", \"user\", \"user1\", \"test\", \"user2\", \"test1\", \"user3\", \"admin1\", \"1\", \"123\", \"a\", \"actuser\", \"adm\", \"admin2\", \"aspnet\", \"backup\", \"console\", \"david\", \"guest\", \"john\", \"owner\", \"root\", \"server\", \"sql\", \"support\", \"support_388945a0\", \"sys\", \"test2\", \"test3\", \"user4\", \"user5\". <br><br> **Minimum-length (Linux):** 1  character <br><br> **Max-length (Linux):** 64 characters <br><br> **Max-length (Windows):** 20 characters."
        },
        "adminPassword": {
          "type": "string",
          "format": "password",
          "description": "Specifies the password of the administrator account. <br><br> **Minimum-length (Windows):** 8 characters <br><br> **Minimum-length (Linux):** 6 characters <br><br> **Max-length (Windows):** 123 characters <br><br> **Max-length (Linux):** 72 characters <br><br> **Complexity requirements:** 3 out of 4 conditions below need to be fulfilled <br> Has lower characters <br>Has upper characters <br> Has a digit <br> Has a special character (Regex match [\\W_]) <br><br> **Disallowed values:** \"abc@123\", \"P@$$w0rd\", \"P@ssw0rd\", \"P@ssword123\", \"Pa$$word\", \"pass@word1\", \"Password!\", \"Password1\", \"Password22\", \"iloveyou!\" <br><br> For resetting the password, see [How to reset the Remote Desktop service or its login password in a Windows VM](https://docs.microsoft.com/troubleshoot/azure/virtual-machines/reset-rdp) <br><br> For resetting root password, see [Manage users, SSH, and check or repair disks on Azure Linux VMs using the VMAccess Extension](https://docs.microsoft.com/troubleshoot/azure/virtual-machines/troubleshoot-ssh-connection)",
          "x-ms-secret": true
        },
        "customData": {
          "type": "string",
          "description": "Specifies a base-64 encoded string of custom data. The base-64 encoded string is decoded to a binary array that is saved as a file on the Virtual Machine. The maximum length of the binary array is 65535 bytes. **Note: Do not pass any secrets or passwords in customData property.** This property cannot be updated after the VM is created. The property 'customData' is passed to the VM to be saved as a file, for more information see [Custom Data on Azure VMs](https://azure.microsoft.com/blog/custom-data-and-cloud-init-on-windows-azure/). For using cloud-init for your Linux VM, see [Using cloud-init to customize a Linux VM during creation](https://docs.microsoft.com/azure/virtual-machines/linux/using-cloud-init)."
        },
        "windowsConfiguration": {
          "$ref": "#/definitions/WindowsConfiguration",
          "description": "Specifies Windows operating system settings on the virtual machine."
        },
        "linuxConfiguration": {
          "$ref": "#/definitions/LinuxConfiguration",
          "description": "Specifies the Linux operating system settings on the virtual machine. For a list of supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/linux/endorsed-distros)."
        },
        "secrets": {
          "type": "array",
          "description": "Specifies set of certificates that should be installed onto the virtual machine. To install certificates on a virtual machine it is recommended to use the [Azure Key Vault virtual machine extension for Linux](https://docs.microsoft.com/azure/virtual-machines/extensions/key-vault-linux) or the [Azure Key Vault virtual machine extension for Windows](https://docs.microsoft.com/azure/virtual-machines/extensions/key-vault-windows).",
          "items": {
            "$ref": "#/definitions/VaultSecretGroup"
          },
          "x-ms-identifiers": [
            "sourceVault/id"
          ]
        },
        "allowExtensionOperations": {
          "type": "boolean",
          "description": "Specifies whether extension operations should be allowed on the virtual machine. This may only be set to False when no extensions are present on the virtual machine."
        },
        "requireGuestProvisionSignal": {
          "type": "boolean",
          "description": "Optional property which must either be set to True or omitted."
        }
      }
    },
    "OSProfileProvisioningData": {
      "type": "object",
      "description": "Additional parameters for Reimaging Non-Ephemeral Virtual Machine.",
      "properties": {
        "adminPassword": {
          "type": "string",
          "format": "password",
[...]
