{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ComputeSchedule",
    "version": "2024-08-01-preview",
    "description": "Microsoft.ComputeSchedule Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AutoActions"
    },
    {
      "name": "Occurrences"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.ComputeSchedule/autoActions": {
      "get": {
        "operationId": "AutoActions_ListByVms",
        "tags": [
          "AutoActions"
        ],
        "description": "List auto actions associated to the resource. This is intended to be used for Microsoft.Compute/virtualMachines only",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoActionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_ListByVms": {
            "$ref": "./examples/AutoActions_ListByVms_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ComputeSchedule/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          },
          "Operations_List_Max": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/autoActions": {
      "get": {
        "operationId": "AutoActions_ListBySubscription",
        "tags": [
          "AutoActions"
        ],
        "description": "List AutoAction resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoActionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_ListBySubscription": {
            "$ref": "./examples/AutoActions_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesCancelOperations": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesCancelOperations",
        "description": "virtualMachinesCancelOperations: cancelOperations for a virtual machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelOperationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CancelOperationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesCancelOperations": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesCancelOperations_MinimumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesCancelOperations_Max": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesCancelOperations_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesExecuteDeallocate": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesExecuteDeallocate",
        "description": "virtualMachinesExecuteDeallocate: executeDeallocate for a virtual machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteDeallocateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeallocateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesExecuteDeallocate": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteDeallocate_MinimumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesExecuteDeallocate_Max": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteDeallocate_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesExecuteHibernate": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesExecuteHibernate",
        "description": "virtualMachinesExecuteHibernate: executeHibernate for a virtual machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteHibernateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HibernateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesExecuteHibernate": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteHibernate_MinimumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesExecuteHibernate_Max": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteHibernate_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesExecuteStart": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesExecuteStart",
        "description": "virtualMachinesExecuteStart: executeStart for a virtual machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StartResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesExecuteStart": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteStart_MinimumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesExecuteStart_Max": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesExecuteStart_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesGetOperationStatus": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesGetOperationStatus",
        "description": "virtualMachinesGetOperationStatus: getOperationStatus for a virtual machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOperationStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetOperationStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesGetOperationStatus": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesGetOperationStatus_MinimumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesGetOperationStatus_Max": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesGetOperationStatus_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesSubmitDeallocate": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesSubmitDeallocate",
        "description": "virtualMachinesSubmitDeallocate: submitDeallocate for a virtual machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitDeallocateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeallocateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesSubmitDeallocate": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitDeallocate_MinimumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesSubmitDeallocate_Max": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitDeallocate_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesSubmitHibernate": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesSubmitHibernate",
        "description": "virtualMachinesSubmitHibernate: submitHibernate for a virtual machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitHibernateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HibernateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesSubmitHibernate": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitHibernate_MinimumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesSubmitHibernate_Max": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitHibernate_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeSchedule/locations/{locationparameter}/virtualMachinesSubmitStart": {
      "post": {
        "operationId": "ScheduledActions_VirtualMachinesSubmitStart",
        "description": "virtualMachinesSubmitStart: submitStart for a virtual machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationparameter",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StartResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActions_VirtualMachinesSubmitStart": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitStart_MinimumSet_Gen.json"
          },
          "ScheduledActions_VirtualMachinesSubmitStart_Max": {
            "$ref": "./examples/ScheduledActions_VirtualMachinesSubmitStart_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions": {
      "get": {
        "operationId": "AutoActions_ListByResourceGroup",
        "tags": [
          "AutoActions"
        ],
        "description": "List AutoAction resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoActionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_ListByResourceGroup": {
            "$ref": "./examples/AutoActions_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}": {
      "get": {
        "operationId": "AutoActions_Get",
        "tags": [
          "AutoActions"
        ],
        "description": "Get a AutoAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoAction"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_Get": {
            "$ref": "./examples/AutoActions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AutoActions_CreateOrUpdate",
        "tags": [
          "AutoActions"
        ],
        "description": "Create a AutoAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoAction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AutoAction' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AutoAction"
            }
          },
          "201": {
            "description": "Resource 'AutoAction' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AutoAction"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_CreateOrUpdate": {
            "$ref": "./examples/AutoActions_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AutoActions_Update",
        "tags": [
          "AutoActions"
        ],
        "description": "Update a AutoAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoActionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoAction"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_Update": {
            "$ref": "./examples/AutoActions_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "AutoActions_Delete",
        "tags": [
          "AutoActions"
        ],
        "description": "Delete a AutoAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_Delete": {
            "$ref": "./examples/AutoActions_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/attachResources": {
      "post": {
        "operationId": "AutoActions_AttachResources",
        "tags": [
          "AutoActions"
        ],
        "description": "A synchronous resource action that returns no content.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AutoActionResource"
              },
              "x-ms-identifiers": []
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_AttachResources": {
            "$ref": "./examples/AutoActions_AttachResources_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/cancelNextOccurrence": {
      "post": {
        "operationId": "AutoActions_CancelNextOccurrence",
        "tags": [
          "AutoActions"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OccurrenceResource"
              },
              "x-ms-identifiers": []
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Occurrence"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_CancelNextOccurrence": {
            "$ref": "./examples/AutoActions_CancelNextOccurrence_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/detachResources": {
      "post": {
        "operationId": "AutoActions_DetachResources",
        "tags": [
          "AutoActions"
        ],
        "description": "A synchronous resource action that returns no content.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AutoActionResource"
              },
              "x-ms-identifiers": []
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_DetachResources": {
            "$ref": "./examples/AutoActions_DetachResources_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/disable": {
      "post": {
        "operationId": "AutoActions_Disable",
        "tags": [
          "AutoActions"
        ],
        "description": "disables the auto action",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_Disable": {
            "$ref": "./examples/AutoActions_Disable_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/enable": {
      "post": {
        "operationId": "AutoActions_Enable",
        "tags": [
          "AutoActions"
        ],
        "description": "enables the auto action",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_Enable": {
            "$ref": "./examples/AutoActions_Enable_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/occurrences": {
      "get": {
        "operationId": "Occurrences_ListByAutoAction",
        "tags": [
          "Occurrences"
        ],
        "description": "List Occurrence resources by AutoAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OccurrenceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Occurrences_ListByAutoAction": {
            "$ref": "./examples/Occurrences_ListByAutoAction_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/occurrences/{occurrenceId}": {
      "get": {
        "operationId": "Occurrences_Get",
        "tags": [
          "Occurrences"
        ],
        "description": "Get a Occurrence",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "The name of the Occurrence",
            "required": true,
            "type": "string",
            "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Occurrence"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Occurrences_Get": {
            "$ref": "./examples/Occurrences_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/occurrences/{occurrenceId}/cancel": {
      "post": {
        "operationId": "Occurrences_Cancel",
        "tags": [
          "Occurrences"
        ],
        "description": "A synchronous resource action that returns no content.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "The name of the Occurrence",
            "required": true,
            "type": "string",
            "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OccurrenceResource"
              },
              "x-ms-identifiers": []
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Occurrences_Cancel": {
            "$ref": "./examples/Occurrences_Cancel_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/occurrences/{occurrenceId}/delay": {
      "post": {
        "operationId": "Occurrences_Delay",
        "tags": [
          "Occurrences"
        ],
        "description": "A synchronous resource action that returns no content.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "The name of the Occurrence",
            "required": true,
            "type": "string",
            "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelayRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Occurrences_Delay": {
            "$ref": "./examples/Occurrences_Delay_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/occurrences/{occurrenceId}/resources": {
      "get": {
        "operationId": "Occurrences_GetResources",
        "tags": [
          "Occurrences"
        ],
        "description": "Lists OccurrenceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "occurrenceId",
            "in": "path",
            "description": "The name of the Occurrence",
            "required": true,
            "type": "string",
            "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OccurrenceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Occurrences_GetResources": {
            "$ref": "./examples/Occurrences_GetResources_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/resources": {
      "get": {
        "operationId": "AutoActions_GetResources",
        "tags": [
          "AutoActions"
        ],
        "description": "Lists AutoActionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutoActionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_GetResources": {
            "$ref": "./examples/AutoActions_GetResources_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ComputeSchedule/autoActions/{autoActionName}/triggerManualOccurrence": {
      "post": {
        "operationId": "AutoActions_TriggerManualOccurrence",
        "tags": [
          "AutoActions"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "autoActionName",
            "in": "path",
            "description": "The name of the AutoAction",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Occurrence"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AutoActions_TriggerManualOccurrence": {
            "$ref": "./examples/AutoActions_TriggerManualOccurrence_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ActionType": {
      "type": "string",
      "description": "Specify which action user wants to the auto action to perform on the resources",
      "enum": [
        "Start",
        "Deallocate",
        "Hibernate"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Start",
            "value": "Start",
            "description": "Auto action should perform a start action on the specified resources"
          },
          {
            "name": "Deallocate",
            "value": "Deallocate",
            "description": "Auto action should perform a deallocate action on the specified resources"
          },
          {
            "name": "Hibernate",
            "value": "Hibernate",
            "description": "Auto action should perform hibernate and deallocate on the specified resources"
          }
        ]
      }
    },
    "AutoAction": {
      "type": "object",
      "description": "The auto action resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutoActionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AutoActionListResult": {
      "type": "object",
      "description": "The response of a AutoAction list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AutoAction items on this page",
          "items": {
            "$ref": "#/definitions/AutoAction"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AutoActionProperties": {
      "type": "object",
      "description": "Auto action properties",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/ResourceType",
          "description": "The type of resource the auto action is targeting"
        },
        "actionType": {
          "$ref": "#/definitions/ActionType",
          "description": "The action the auto action should perform in the resources"
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time which the auto action is supposed to start running"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time when the auto action is supposed to stop scheduling"
        },
        "resources": {
          "type": "array",
          "description": "The list of the resources the auto action is supposed to perform the actions on",
          "items": {
            "$ref": "#/definitions/AutoActionResource"
          },
          "x-ms-identifiers": [
            "resourceId"
          ],
          "x-ms-mutability": [
            "update",
            "create"
          ]
        },
        "schedule": {
          "$ref": "#/definitions/AutoActionSchedule",
          "description": "The schedule the auto action is supposed to follow"
        },
        "notificationSettings": {
          "type": "array",
          "description": "The notification settings for the auto action",
          "items": {
            "$ref": "#/definitions/NotificationProperties"
          },
          "x-ms-identifiers": [
            "destination"
          ]
        },
        "isDisabled": {
          "type": "boolean",
          "description": "Tell if the auto action is disabled or not",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last provisioning operation performed on the resource.",
          "readOnly": true
        }
      },
      "required": [
        "resourceType",
        "actionType",
        "startTime",
        "resources",
        "schedule",
        "notificationSettings",
        "isDisabled"
      ]
    },
    "AutoActionResource": {
      "type": "object",
      "description": "Represents an auto action resource metadata.",
      "properties": {
        "resourceId": {
          "$ref": "#/definitions/validAutoActionResourceId",
          "description": "The ARM Id of the resource."
        },
        "notificationSettings": {
          "type": "array",
          "description": "The desired notification settings for the specified resource.",
          "items": {
            "$ref": "#/definitions/NotificationProperties"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "destination"
          ]
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "AutoActionResourceListResult": {
      "type": "object",
      "description": "The response of a AutoActionResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AutoActionResource items on this page",
          "items": {
            "$ref": "#/definitions/AutoActionResource"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AutoActionSchedule": {
      "type": "object",
      "description": "Specify the schedule in which the auto action is supposed to follow",
      "properties": {
        "scheduledTime": {
          "type": "string",
          "format": "time",
          "description": "The time the auto action is supposed to run on"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone the scheduled time is specified on"
        },
        "requestedWeekDays": {
          "type": "array",
          "description": "The week days the auto action is supposed to run on",
          "items": {
            "$ref": "#/definitions/WeekDay"
          }
        },
        "requestedMonths": {
          "type": "array",
          "description": "The months the auto action is supposed to run on",
          "items": {
            "$ref": "#/definitions/Month"
          }
        },
        "requestedDaysOfTheMonth": {
          "type": "array",
          "description": "The days of the month the auto action is supposed to run on. If empty, it means it will run on every day of the month.",
          "items": {
            "$ref": "#/definitions/DayOfTheMonth"
          }
        },
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters the auto action is supposed to follow"
        },
        "deadlineType": {
          "$ref": "#/definitions/DeadlineType",
          "description": "The type of deadline the auto action is supposed to follow for the schedule"
        }
      },
      "required": [
        "scheduledTime",
        "timeZone",
        "requestedWeekDays",
        "requestedMonths",
        "requestedDaysOfTheMonth",
        "executionParameters",
        "deadlineType"
      ]
    },
    "AutoActionScheduleUpdate": {
      "type": "object",
      "description": "Specify the schedule in which the auto action is supposed to follow",
      "properties": {
        "scheduledTime": {
          "type": "string",
          "format": "time",
          "description": "The time the auto action is supposed to run on"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone the scheduled time is specified on"
        },
        "requestedWeekDays": {
          "type": "array",
          "description": "The week days the auto action is supposed to run on",
          "items": {
            "$ref": "#/definitions/WeekDay"
          }
        },
        "requestedMonths": {
          "type": "array",
          "description": "The months the auto action is supposed to run on",
          "items": {
            "$ref": "#/definitions/Month"
          }
        },
        "requestedDaysOfTheMonth": {
          "type": "array",
          "description": "The days of the month the auto action is supposed to run on. If empty, it means it will run on every day of the month.",
          "items": {
            "$ref": "#/definitions/DayOfTheMonth"
          }
        },
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters the auto action is supposed to follow"
        },
        "deadlineType": {
          "$ref": "#/definitions/DeadlineType",
          "description": "The type of deadline the auto action is supposed to follow for the schedule"
        }
      }
    },
    "AutoActionUpdate": {
      "type": "object",
      "description": "The type used for update operations of the AutoAction.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/AutoActionUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "AutoActionUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the AutoAction.",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/ResourceType",
          "description": "The type of resource the auto action is targeting"
        },
        "actionType": {
          "$ref": "#/definitions/ActionType",
          "description": "The action the auto action should perform in the resources"
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time which the auto action is supposed to start running"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time when the auto action is supposed to stop scheduling"
        },
        "resources": {
          "type": "array",
          "description": "The list of the resources the auto action is supposed to perform the actions on",
          "items": {
            "$ref": "#/definitions/AutoActionResource"
          },
          "x-ms-identifiers": [
            "resourceId"
          ],
          "x-ms-mutability": [
            "update",
            "create"
          ]
        },
        "schedule": {
          "$ref": "#/definitions/AutoActionScheduleUpdate",
          "description": "The schedule the auto action is supposed to follow"
        },
        "notificationSettings": {
          "type": "array",
          "description": "The notification settings for the auto action",
          "items": {
            "$ref": "#/definitions/NotificationProperties"
          },
          "x-ms-identifiers": [
            "destination"
          ]
        }
      }
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "CancelOperationsRequest": {
      "type": "object",
      "description": "This is the request to cancel running operations in scheduled actions using the operation ids",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "The list of operation ids to cancel operations on",
          "items": {
            "type": "string"
          }
        },
        "correlationid": {
          "type": "string",
          "description": "Correlationid item"
        }
      },
      "required": [
        "operationIds",
        "correlationid"
      ]
    },
    "CancelOperationsResponse": {
      "type": "object",
      "description": "This is the response from a cancel operations request",
      "properties": {
        "results": {
          "type": "array",
          "description": "An array of resource operations that were successfully cancelled",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "results"
      ]
    },
    "DayOfTheMonth": {
      "type": "integer",
      "format": "int32",
      "description": "Represents the possible days in a month",
      "minimum": 1,
      "maximum": 31
    },
    "DeadlineType": {
      "type": "string",
      "description": "The types of deadlines supported by ScheduledActions",
      "enum": [
        "Unknown",
        "InitiateAt",
        "CompleteBy"
      ],
      "x-ms-enum": {
        "name": "DeadlineType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Default value of Unknown."
          },
          {
            "name": "InitiateAt",
            "value": "InitiateAt",
            "description": "Initiate the operation at the given deadline."
          },
          {
            "name": "CompleteBy",
            "value": "CompleteBy",
            "description": "Complete the operation by the given deadline."
          }
        ]
      }
    },
    "DeallocateResourceOperationResponse": {
      "type": "object",
      "description": "The response from a deallocate request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the deallocate request eg virtual machines"
        },
        "location": {
          "type": "string",
          "description": "The location of the deallocate request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the deallocate request if no errors exist",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "DelayRequest": {
      "type": "object",
      "description": "Request to ask for a delay in an occurrence",
      "properties": {
        "delay": {
          "type": "string",
          "format": "duration",
          "description": "The amount of delay the occurrence should have"
        },
        "resources": {
          "type": "array",
          "description": "The resources that should be delayed. If empty, the delay will apply to the whole occurrence.",
          "items": {
            "$ref": "#/definitions/OccurrenceResource"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "delay",
        "resources"
      ]
    },
    "ExecuteDeallocateRequest": {
      "type": "object",
      "description": "The ExecuteDeallocateRequest request for executeDeallocate operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        },
        "correlationid": {
          "type": "string",
          "description": "Correlationid item"
        }
      },
      "required": [
        "executionParameters",
        "resources",
        "correlationid"
      ]
    },
    "ExecuteHibernateRequest": {
      "type": "object",
      "description": "The ExecuteHibernateRequest request for executeHibernate operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        },
        "correlationid": {
          "type": "string",
          "description": "Correlationid item"
        }
      },
      "required": [
        "executionParameters",
        "resources",
        "correlationid"
      ]
    },
    "ExecuteStartRequest": {
      "type": "object",
      "description": "The ExecuteStartRequest request for executeStart operations",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution parameters for the request"
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources for the request"
        },
        "correlationid": {
          "type": "string",
          "description": "Correlationid item"
        }
      },
      "required": [
        "executionParameters",
        "resources",
        "correlationid"
      ]
    },
    "ExecutionParameters": {
      "type": "object",
      "description": "Extra details needed to run the user's request",
      "properties": {
        "optimizationPreference": {
          "$ref": "#/definitions/OptimizationPreference",
          "description": "Details that could optimize the user's request"
        },
        "retryPolicy": {
          "$ref": "#/definitions/RetryPolicy",
          "description": "Retry policy the user can pass"
        }
      }
    },
    "GetOperationStatusRequest": {
      "type": "object",
      "description": "This is the request to get operation status using operationids",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "The list of operation ids to get the status of",
          "items": {
            "type": "string"
          }
        },
        "correlationid": {
          "type": "string",
          "description": "Correlationid item"
        }
      },
      "required": [
        "operationIds",
        "correlationid"
      ]
    },
    "GetOperationStatusResponse": {
      "type": "object",
      "description": "This is the response from a get operations status request",
      "properties": {
        "results": {
          "type": "array",
          "description": "An array of resource operations based on their operation ids",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "results"
      ]
    },
    "HibernateResourceOperationResponse": {
      "type": "object",
      "description": "The response from a Hibernate request",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation response"
        },
        "type": {
          "type": "string",
          "description": "The type of resources used in the Hibernate request eg virtual machines"
        },
        "location": {
          "type": "string",
          "description": "The location of the Hibernate request eg westus",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The results from the Hibernate request if no errors exist",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "Language": {
      "type": "string",
      "description": "The support notification languages by auto action",
      "enum": [
        "en-us"
      ],
      "x-ms-enum": {
        "name": "Language",
        "modelAsString": true,
        "values": [
          {
            "name": "EnUs",
            "value": "en-us",
            "description": "American english language"
          }
        ]
      }
    },
    "Month": {
      "type": "string",
      "description": "Representation of the months available selection in a gregorian calendar for auto actions",
      "enum": [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
        "All"
      ],
      "x-ms-enum": {
        "name": "Month",
        "modelAsString": true,
        "values": [
          {
            "name": "January",
            "value": "January",
            "description": "The January month."
          },
          {
            "name": "February",
            "value": "February",
            "description": "The February month."
          },
          {
            "name": "March",
            "value": "March",
            "description": "The March month."
          },
          {
            "name": "April",
            "value": "April",
            "description": "The April month."
          },
          {
            "name": "May",
            "value": "May",
            "description": "The May month."
          },
          {
            "name": "June",
            "value": "June",
            "description": "The June month."
          },
          {
            "name": "July",
            "value": "July",
            "description": "The July month."
          },
          {
            "name": "August",
            "value": "August",
            "description": "The August month."
          },
          {
            "name": "September",
            "value": "September",
            "description": "The September month."
          },
          {
            "name": "October",
            "value": "October",
            "description": "The October month."
          },
          {
            "name": "November",
            "value": "November",
            "description": "The November month."
          },
          {
            "name": "December",
            "value": "December",
            "description": "The December month."
          },
          {
            "name": "All",
            "value": "All",
            "description": "All months"
          }
        ]
      }
    },
    "NotificationProperties": {
      "type": "object",
      "description": "The information about where notifications should be sent to about auto actions upcoming operations.",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Where the notification should be sent. For email, it should follow email format."
        },
        "type": {
          "$ref": "#/definitions/NotificationType",
          "description": "Type of notification to be sent."
        },
        "language": {
          "$ref": "#/definitions/Language",
          "description": "The language the notification should be sent on."
        }
      },
      "required": [
        "destination",
        "type",
        "language"
      ]
    },
    "NotificationType": {
      "type": "string",
      "description": "The type of notification we want to send for auto actions operations.",
      "enum": [
        "Email"
      ],
      "x-ms-enum": {
        "name": "NotificationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Email",
            "value": "Email",
            "description": "Notify through e-mail"
          }
        ]
      }
    },
    "Occurrence": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OccurrenceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OccurrenceListResult": {
      "type": "object",
      "description": "The response of a Occurrence list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Occurrence items on this page",
          "items": {
            "$ref": "#/definitions/Occurrence"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OccurrenceProperties": {
      "type": "object",
      "description": "Properties for an occurrence",
      "properties": {
        "initialScheduledTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time the occurrence was initial scheduled for. Actual scheduled time for resources can change by calling the delay API",
          "readOnly": true
        },
        "resultSummary": {
          "$ref": "#/definitions/OccurrenceResultSummary",
          "description": "The result for occurrences that achieved a terminal state",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/OccurrenceState",
          "description": "The aggregated provisioning state of the occurrence",
          "readOnly": true
        }
      },
      "required": [
        "initialScheduledTime",
        "resultSummary"
      ]
    },
    "OccurrenceResource": {
      "type": "object",
      "description": "Represents an auto action resource metadata.",
      "properties": {
        "resourceId": {
          "$ref": "#/definitions/validAutoActionResourceId",
          "description": "The ARM Id of the resource."
        },
        "notificationSettings": {
          "type": "array",
          "description": "The desired notification settings for the specified resource.",
          "items": {
            "$ref": "#/definitions/NotificationProperties"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "destination"
          ]
        },
        "scheduledTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time the occurrence is scheduled for the resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The current state of the resource",
          "readOnly": true
        },
        "errorDetails": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "Error details for the resource. Only populated if resource is in failed state.",
          "readOnly": true
        }
      },
      "required": [
        "resourceId",
        "scheduledTime"
      ]
    },
    "OccurrenceResourceListResult": {
      "type": "object",
      "description": "The response of a OccurrenceResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OccurrenceResource items on this page",
          "items": {
            "$ref": "#/definitions/OccurrenceResource"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OccurrenceResultSummary": {
      "type": "object",
      "description": "The summarized provisioning result of an occurrence",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of resources that the occurrence was supposed to act on."
        },
        "statuses": {
          "type": "array",
          "description": "The summarized status of the resources.",
          "items": {
            "$ref": "#/definitions/ResourceResultSummary"
          },
          "x-ms-identifiers": [
            "code"
          ]
        }
      },
      "required": [
        "total",
        "statuses"
      ]
    },
    "OccurrenceState": {
      "type": "string",
      "description": "The state the occurrence is at a given time",
      "enum": [
        "Created",
        "Rescheduling",
        "Scheduled",
        "Succeeded",
        "Failed",
        "Cancelling",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "OccurrenceState",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "The occurrence was created"
          },
          {
            "name": "Rescheduling",
            "value": "Rescheduling",
            "description": "The occurrence is being rescheduled"
          },
          {
            "name": "Scheduled",
            "value": "Scheduled",
            "description": "The occurrence has been scheduled"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The occurrence has successfully ran"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The occurrence has failed during its scheduling"
          },
          {
            "name": "Cancelling",
            "value": "Cancelling",
            "description": "The occurrence is going through cancellation"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The occurrence has been canceled"
          }
        ]
      },
      "readOnly": true
    },
    "OperationState": {
      "type": "string",
      "description": "Values that define the states of operations in Scheduled Actions",
      "enum": [
        "Unknown",
        "PendingScheduling",
        "Scheduled",
        "PendingExecution",
        "Executing",
        "Succeeded",
        "Failed",
        "Cancelled",
        "Blocked"
      ],
      "x-ms-enum": {
        "name": "OperationState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The default value for the operation state enum"
          },
          {
            "name": "PendingScheduling",
            "value": "PendingScheduling",
            "description": "Operations that are pending scheduling"
          },
          {
            "name": "Scheduled",
            "value": "Scheduled",
            "description": "Operations that have been scheduled"
          },
          {
            "name": "PendingExecution",
            "value": "PendingExecution",
            "description": "Operations that are waiting to be executed"
          },
          {
            "name": "Executing",
            "value": "Executing",
            "description": "Operations that are in the process of being executed"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Operations that suceeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Operations that have failed"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Operations that have been cancelled by the user"
          },
          {
            "name": "Blocked",
            "value": "Blocked",
            "description": "Operations that are blocked"
          }
        ]
      },
      "readOnly": true
    },
    "OptimizationPreference": {
      "type": "string",
      "description": "The preferences customers can select to optimize their requests to ScheduledActions",
      "enum": [
        "Cost",
        "Availability",
        "CostAvailabilityBalanced"
      ],
      "x-ms-enum": {
        "name": "OptimizationPreference",
        "modelAsString": true,
        "values": [
          {
            "name": "Cost",
            "value": "Cost",
            "description": "Optimize while considering cost savings"
          },
          {
            "name": "Availability",
            "value": "Availability",
            "description": "Optimize while considering availability of resources"
          },
          {
            "name": "CostAvailabilityBalanced",
            "value": "CostAvailabilityBalanced",
            "description": "Optimize while considering a balance of cost and availability"
          }
        ]
      }
    },
    "ResourceOperation": {
      "type": "object",
      "description": "High level response from an operation on a resource",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Unique identifier for the resource involved in the operation, eg ArmId"
        },
        "errorCode": {
          "type": "string",
          "description": "Resource level error code if it exists"
        },
        "errorDetails": {
          "type": "string",
          "description": "Resource level error details if they exist"
        },
        "operation": {
          "$ref": "#/definitions/ResourceOperationDetails",
          "description": "Details of the operation performed on a resource"
        }
      }
    },
    "ResourceOperationDetails": {
      "type": "object",
      "description": "The details of a response from an operation on a resource",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "Operation identifier for the unique operation"
        },
        "resourceId": {
          "type": "string",
          "description": "Unique identifier for the resource involved in the operation, eg ArmId"
        },
        "opType": {
          "type": "string",
          "description": "Type of operation performed on the resources",
          "default": "Unknown",
          "enum": [
            "Unknown",
            "Start",
            "Deallocate",
            "Hibernate"
          ],
          "x-ms-enum": {
            "name": "ResourceOperationType",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "The default value for this enum type"
              },
              {
                "name": "Start",
                "value": "Start",
                "description": "Start operations on the resources"
              },
              {
                "name": "Deallocate",
                "value": "Deallocate",
                "description": "Deallocate operations on the resources"
              },
              {
                "name": "Hibernate",
                "value": "Hibernate",
                "description": "Hibernate operations on the resources"
              }
            ]
          },
          "x-ms-enum.modelAsString": true
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription id attached to the request"
        },
        "deadline": {
          "type": "string",
          "format": "date-time",
          "description": "Deadline for the operation"
        },
        "deadlineType": {
          "type": "string",
          "description": "Type of deadline of the operation",
          "default": "Unknown",
          "enum": [
            "Unknown",
            "InitiateAt",
            "CompleteBy"
          ],
          "x-ms-enum": {
            "name": "DeadlineType",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Default value of Unknown."
              },
              {
                "name": "InitiateAt",
                "value": "InitiateAt",
                "description": "Initiate the operation at the given deadline."
              },
              {
                "name": "CompleteBy",
                "value": "CompleteBy",
                "description": "Complete the operation by the given deadline."
              }
            ]
          },
          "x-ms-enum.modelAsString": true
        },
        "state": {
          "type": "string",
          "description": "Current state of the operation",
          "default": "Unknown",
          "enum": [
            "Unknown",
            "PendingScheduling",
            "Scheduled",
            "PendingExecution",
            "Executing",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Blocked"
          ],
          "x-ms-enum": {
            "name": "OperationState",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "The default value for the operation state enum"
              },
              {
                "name": "PendingScheduling",
                "value": "PendingScheduling",
                "description": "Operations that are pending scheduling"
              },
              {
                "name": "Scheduled",
                "value": "Scheduled",
                "description": "Operations that have been scheduled"
              },
              {
                "name": "PendingExecution",
                "value": "PendingExecution",
                "description": "Operations that are waiting to be executed"
              },
              {
                "name": "Executing",
                "value": "Executing",
                "description": "Operations that are in the process of being executed"
              },
              {
                "name": "Succeeded",
                "value": "Succeeded",
                "description": "Operations that suceeded"
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "Operations that have failed"
              },
              {
                "name": "Cancelled",
                "value": "Cancelled",
                "description": "Operations that have been cancelled by the user"
              },
              {
                "name": "Blocked",
                "value": "Blocked",
                "description": "Operations that are blocked"
              }
            ]
          },
          "readOnly": true,
          "x-ms-enum.modelAsString": true
        },
        "timeZone": {
          "type": "string",
          "description": "Timezone for the operation"
        },
        "resourceOperationError": {
          "$ref": "#/definitions/ResourceOperationError",
          "description": "Operation level errors if they exist"
        },
        "completedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Time the operation was complete if errors are null"
        },
        "retryPolicy": {
          "$ref": "#/definitions/RetryPolicy",
          "description": "Retry policy the user can pass"
        }
      },
      "required": [
        "operationId",
        "resourceId",
        "opType",
        "subscriptionId",
        "deadline",
        "deadlineType",
        "state"
      ]
    },
    "ResourceOperationError": {
      "type": "object",
      "description": "These describe errors that occur at the resource level",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "Code for the error eg 404, 500"
        },
        "errorDetails": {
          "type": "string",
          "description": "Detailed message about the error"
        }
      },
      "required": [
        "errorCode",
        "errorDetails"
      ]
    },
    "ResourceOperationType": {
      "type": "string",
      "description": "The kind of operation types that can be performed on resources using ScheduledActions",
      "enum": [
        "Unknown",
        "Start",
        "Deallocate",
        "Hibernate"
      ],
      "x-ms-enum": {
        "name": "ResourceOperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The default value for this enum type"
          },
          {
            "name": "Start",
            "value": "Start",
            "description": "Start operations on the resources"
          },
          {
            "name": "Deallocate",
            "value": "Deallocate",
            "description": "Deallocate operations on the resources"
          },
          {
            "name": "Hibernate",
            "value": "Hibernate",
            "description": "Hibernate operations on the resources"
          }
        ]
      }
    },
    "ResourceResultSummary": {
      "type": "object",
      "description": "The status of the resources",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code for those resources. In case of success, code is populated with Success."
        },
        "count": {
          "type": "integer",
[...]
