{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ChangeSafety management service",
    "version": "2024-10-01-preview",
    "description": "Microsoft.ChangeSafety Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StageMaps"
    },
    {
      "name": "ChangeStates"
    },
    {
      "name": "StageProgressions"
    }
  ],
  "paths": {
    "/providers/Microsoft.ChangeSafety/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates": {
      "get": {
        "operationId": "ChangeStates_ListBySubscription",
        "tags": [
          "ChangeStates"
        ],
        "description": "List ChangeState resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeStateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_ListBySubscription_MaximumSet": {
            "$ref": "./examples/ChangeStates_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}": {
      "get": {
        "operationId": "ChangeStates_GetAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Get a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_Get_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/ChangeStates_Get_At_Subscription_Level.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeStates_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Create a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeState' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "201": {
            "description": "Resource 'ChangeState' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_CreateOrUpdate_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/ChangeStates_CreateOrUpdate_At_Subscription_Level.json"
          }
        }
      },
      "patch": {
        "operationId": "ChangeStates_UpdateAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Update a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeStateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_Update_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/ChangeStates_Update_At_Subscription_Level.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeStates_DeleteAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Delete a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_Delete_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/ChangeStates_Delete_Subscription_Level.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/retrieveNextStages": {
      "post": {
        "operationId": "ChangeStates_RetrieveNextStagesAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Gets list of next stages that are eligible to put in 'InProgress' state in a changestate resource at subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RetrieveNextStagesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_RetrieveNextStages_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/ChangeStates_RetrieveNextStages_At_Subscription_Level.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions": {
      "get": {
        "operationId": "StageProgressions_ListByParentAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "List StageProgression resources by ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgressionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_ListByParent_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/StageProgressions_ListByParent_At_Subscription_Level.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions/{stageProgressionName}": {
      "put": {
        "operationId": "StageProgressions_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Create a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageProgression' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "201": {
            "description": "Resource 'StageProgression' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_CreateOrUpdate_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/StageProgressions_CreateOrUpdate_At_Subscription_Level.json"
          }
        }
      },
      "patch": {
        "operationId": "StageProgressions_UpdateAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Update a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgressionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_Update_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/StageProgressions_Update_At_Subscription_Level.json"
          }
        }
      },
      "delete": {
        "operationId": "StageProgressions_DeleteAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Delete a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_Delete_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/StageProgressions_Delete_At_Subscription_Level.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/stageMaps": {
      "get": {
        "operationId": "StageMaps_ListBySubscription",
        "tags": [
          "StageMaps"
        ],
        "description": "List StageMap resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_ListBySubscription_MaximumSet": {
            "$ref": "./examples/StageMaps_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/stageMaps/{stageMapName}": {
      "get": {
        "operationId": "StageMaps_GetAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Get a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_Get_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/StageMaps_Get_At_Subscription_Level.json"
          }
        }
      },
      "put": {
        "operationId": "StageMaps_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Create a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageMap' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "201": {
            "description": "Resource 'StageMap' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_CreateOrUpdate_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/StageMaps_CreateOrUpdate_At_Subscription_Level.json"
          }
        }
      },
      "patch": {
        "operationId": "StageMaps_UpdateAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Update a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMapUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_Update_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/StageMaps_Update_At_Subscription_Level.json"
          }
        }
      },
      "delete": {
        "operationId": "StageMaps_DeleteAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Delete a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_Delete_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/StageMaps_Delete_At_Subscription_Level.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates": {
      "get": {
        "operationId": "ChangeStates_ListByResourceGroup",
        "tags": [
          "ChangeStates"
        ],
        "description": "List ChangeState resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeStateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_List_MaximumSet": {
            "$ref": "./examples/ChangeStates_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}": {
      "get": {
        "operationId": "ChangeStates_Get",
        "tags": [
          "ChangeStates"
        ],
        "description": "Get a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_Get_MaximumSet": {
            "$ref": "./examples/ChangeStates_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeStates_CreateOrUpdate",
        "tags": [
          "ChangeStates"
        ],
        "description": "Create a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeState' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "201": {
            "description": "Resource 'ChangeState' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/ChangeStates_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "ChangeStates_Update",
        "tags": [
          "ChangeStates"
        ],
        "description": "Update a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeStateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_Update_MaximumSet": {
            "$ref": "./examples/ChangeStates_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeStates_Delete",
        "tags": [
          "ChangeStates"
        ],
        "description": "Delete a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_Delete_MaximumSet": {
            "$ref": "./examples/ChangeStates_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/retrieveNextStages": {
      "post": {
        "operationId": "ChangeStates_RetrieveNextStages",
        "tags": [
          "ChangeStates"
        ],
        "description": "Gets list of next stages that are eligible to put in 'InProgress' state in a changestate resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RetrieveNextStagesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_RetrieveNextStages_MaximumSet": {
            "$ref": "./examples/ChangeStates_RetrieveNextStages.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions": {
      "get": {
        "operationId": "StageProgressions_ListByParent",
        "tags": [
          "StageProgressions"
        ],
        "description": "List StageProgression resources by ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgressionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_ListByParent_MaximumSet": {
            "$ref": "./examples/StageProgressions_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions/{stageProgressionName}": {
      "get": {
        "operationId": "StageProgressions_Get",
        "tags": [
          "StageProgressions"
        ],
        "description": "Get a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_Get_MaximumSet": {
            "$ref": "./examples/StageProgressions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "StageProgressions_CreateOrUpdate",
        "tags": [
          "StageProgressions"
        ],
        "description": "Create a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageProgression' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "201": {
            "description": "Resource 'StageProgression' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/StageProgressions_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "StageProgressions_Update",
        "tags": [
          "StageProgressions"
        ],
        "description": "Update a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgressionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_Update_MaximumSet": {
            "$ref": "./examples/StageProgressions_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "StageProgressions_Delete",
        "tags": [
          "StageProgressions"
        ],
        "description": "Delete a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_Delete_MaximumSet": {
            "$ref": "./examples/StageProgressions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/stageMaps": {
      "get": {
        "operationId": "StageMaps_ListByResourceGroup",
        "tags": [
          "StageMaps"
        ],
        "description": "List StageMap resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_List_MaximumSet": {
            "$ref": "./examples/StageMaps_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/stageMaps/{stageMapName}": {
      "get": {
        "operationId": "StageMaps_Get",
        "tags": [
          "StageMaps"
        ],
        "description": "Get a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_Get_MaximumSet": {
            "$ref": "./examples/StageMaps_Get.json"
          }
        }
      },
      "put": {
        "operationId": "StageMaps_CreateOrUpdate",
        "tags": [
          "StageMaps"
        ],
        "description": "Create a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageMap' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "201": {
            "description": "Resource 'StageMap' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/StageMaps_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "StageMaps_Update",
        "tags": [
          "StageMaps"
        ],
        "description": "Update a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMapUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_Update_MaximumSet": {
            "$ref": "./examples/StageMaps_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "StageMaps_Delete",
        "tags": [
          "StageMaps"
        ],
        "description": "Delete a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_Delete_MaximumSet": {
            "$ref": "./examples/StageMaps_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ArmOperation": {
      "type": "string",
      "description": "Supported ARM Operations.",
      "enum": [
        "DELETE"
      ],
      "x-ms-enum": {
        "name": "ArmOperation",
        "modelAsString": true,
        "values": [
          {
            "name": "DELETE",
            "value": "DELETE",
            "description": "DELETE ARM Operation."
          }
        ]
      }
    },
    "ArmOperationArtifactContent": {
      "type": "object",
      "description": "Artifact model when artifactType is ArmOperation.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "Arm Operation array.",
          "items": {
            "$ref": "#/definitions/ArmOperationResource"
          },
          "x-ms-identifiers": [
            "resourceId"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "operations"
      ]
    },
    "ArmOperationChangeArtifact": {
      "type": "object",
      "description": "Describes the change payload for artifactType='ArmOperation'",
      "properties": {
        "artifactPayload": {
          "$ref": "#/definitions/ArmOperationArtifactContent",
          "description": "The actual payload content.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "artifactPayload"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ChangeArtifact"
        }
      ],
      "x-ms-discriminator-value": "ArmOperation"
    },
    "ArmOperationResource": {
      "type": "object",
      "description": "Artifact content model for Inline ArmOperations.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Target resource Id that needs to be changed.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "operation": {
          "$ref": "#/definitions/ArmOperation",
          "description": "ARM operation. eg: DELETE",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "resourceId",
        "operation"
      ]
    },
    "ArtifactType": {
      "type": "string",
      "description": "Defines the type of change artifact.",
      "enum": [
        "InlineArmTemplate",
        "InlineBicep",
        "ArmOperation",
        "ExternalArmTemplate",
        "ExternalBicep",
        "TemplateSpec"
      ],
      "x-ms-enum": {
        "name": "ArtifactType",
        "modelAsString": true,
        "values": [
          {
            "name": "InlineArmTemplate",
            "value": "InlineArmTemplate",
            "description": "Artifact is in the format of an ARM template specified inline."
          },
          {
            "name": "InlineBicep",
            "value": "InlineBicep",
            "description": "Artifact is in the format of inline Bicep file."
          },
          {
            "name": "ArmOperation",
            "value": "ArmOperation",
            "description": "Artifact is in the format of ARM API operations."
          },
          {
            "name": "ExternalArmTemplate",
            "value": "ExternalArmTemplate",
            "description": "Artifact is in the format of URI to an ArmTemplate stored in blob or other location."
          },
          {
            "name": "ExternalBicep",
            "value": "ExternalBicep",
            "description": "Artifact is in the format of URI to an Bicep stored in blob or other location."
          },
          {
            "name": "TemplateSpec",
            "value": "TemplateSpec",
            "description": "Artifact is in the format of TemplateSpec."
          }
        ]
      }
    },
    "ChangeArtifact": {
      "type": "object",
      "description": "Base type for the ChangeArtifact, which is polymorphic based on ArtifactType",
      "properties": {
        "name": {
          "type": "string",
          "description": "Artifact label.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "artifactType": {
          "$ref": "#/definitions/ArtifactType",
          "description": "The type of the artifact.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "discriminator": "artifactType",
      "required": [
        "name",
        "artifactType"
      ]
    },
    "ChangeState": {
      "type": "object",
      "description": "Resource allows the user to define the change that they intended to execute & indicate the progression it will use.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ChangeStateProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ChangeStateListResult": {
      "type": "object",
      "description": "The response of a ChangeState list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ChangeState items on this page",
          "items": {
            "$ref": "#/definitions/ChangeState"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ChangeStateProperties": {
      "type": "object",
      "description": "Detailed properties of the ChangeState resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "changeType": {
          "$ref": "#/definitions/ChangeType",
          "description": "Describes the type of the change.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "description": {
          "type": "string",
          "description": "Brief description about the change.",
          "maxLength": 2000,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "stageMapResourceId": {
          "$ref": "#/definitions/StageMapResourceId",
          "description": "Azure resource Id of the referenced StageMap.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "changeArtifact": {
          "$ref": "#/definitions/ChangeArtifact",
          "description": "Object that describes the change payload.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time",
          "description": "Change is expected to be expired by date, in ISO 8601 format.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "serviceCatalogReference": {
          "type": "string",
          "format": "uri",
          "description": "URI to the external service catalog reference.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "workItemReference": {
          "type": "string",
          "format": "uri",
          "description": "URI to the work item related to this change.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "state": {
          "$ref": "#/definitions/ChangeStatus",
          "description": "Internal status of the changestate resource.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "comments": {
          "type": "string",
          "description": "Comments about the last update to the changeState resource.",
          "maxLength": 2000,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "stageParameters": {
          "type": "object",
          "description": "Schema of parameters that will be provided for each stageProgression.",
          "additionalProperties": {
            "$ref": "#/definitions/Parameter"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "changeType",
        "stageMapResourceId",
        "changeArtifact",
        "expirationDate",
        "state",
        "stageParameters"
      ]
    },
    "ChangeStatePropertiesUpdate": {
      "type": "object",
      "description": "Detailed properties of the ChangeState resource.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Brief description about the change.",
          "maxLength": 2000,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "serviceCatalogReference": {
          "type": "string",
          "format": "uri",
          "description": "URI to the external service catalog reference.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "workItemReference": {
          "type": "string",
          "format": "uri",
          "description": "URI to the work item related to this change.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "state": {
          "$ref": "#/definitions/ChangeStatus",
          "description": "Internal status of the changestate resource.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "comments": {
          "type": "string",
          "description": "Comments about the last update to the changeState resource.",
          "maxLength": 2000,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "ChangeStateResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "Azure resource Id of a ChangeState.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ChangeSafety/changeStates"
          }
        ]
      }
    },
    "ChangeStateUpdate": {
      "type": "object",
      "description": "Resource allows the user to define the change that they intended to execute & indicate the progression it will use.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ChangeStatePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ChangeStatus": {
      "type": "string",
      "description": "Internal status of the ChangeState resource.",
      "enum": [
        "Initialized",
        "InProgress",
        "Completed",
        "Abandoned",
        "Paused",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ChangeStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Initialized",
            "value": "Initialized",
            "description": "Resource initialized status."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Resource is currently In progress."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Resource is completed the execution."
          },
          {
            "name": "Abandoned",
            "value": "Abandoned",
            "description": "Resource is Abandoned."
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "Resource is in Paused state."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource is in Failed state."
          }
        ]
      }
    },
    "ChangeType": {
      "type": "string",
      "description": "Defines the Kind of the intended Change.",
      "enum": [
        "Normal",
        "Emergency",
        "Breakglass"
      ],
      "x-ms-enum": {
        "name": "ChangeType",
        "modelAsString": true,
        "values": [
          {
            "name": "Normal",
            "value": "Normal",
            "description": "Regular resource change."
          },
          {
            "name": "Emergency",
            "value": "Emergency",
            "description": "An Emergency type resource change."
          },
          {
            "name": "Breakglass",
            "value": "Breakglass",
            "description": "Breakglass level resource change."
          }
        ]
      }
    },
    "ExternalArmTemplateChangeArtifact": {
      "type": "object",
      "description": "Describes the change payload for External ArmTemplate file.",
      "properties": {
        "artifactPayload": {
          "$ref": "#/definitions/ExternalArtifactContent",
          "description": "The actual payload content.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "artifactPayload"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ChangeArtifact"
        }
      ],
      "x-ms-discriminator-value": "ExternalArmTemplate"
    },
    "ExternalArtifactContent": {
      "type": "object",
      "description": "Artifact content model for External ArmTemplates or Bicep files.",
      "properties": {
        "uri": {
          "type": "string",
          "format": "uri",
          "description": "URI for the external ARM template or Bicep file.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "uri"
      ]
    },
    "ExternalBicepTemplateChangeArtifact": {
      "type": "object",
      "description": "Describes the change payload for External Bicep file.",
      "properties": {
        "artifactPayload": {
          "$ref": "#/definitions/ExternalArtifactContent",
          "description": "The actual payload content.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "artifactPayload"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ChangeArtifact"
        }
      ],
      "x-ms-discriminator-value": "ExternalBicep"
    },
    "InlineArmTemplateChangeArtifact": {
      "type": "object",
      "description": "Describes the change payload for InlineArmTemplate or InlineBicep",
      "properties": {
        "artifactPayload": {
          "$ref": "#/definitions/InlineArtifactContent",
          "description": "The actual payload content.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "artifactPayload"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ChangeArtifact"
        }
      ],
      "x-ms-discriminator-value": "InlineArmTemplate"
    },
    "InlineArtifactContent": {
      "type": "object",
      "description": "Artifact content model for Inline template or bicep content.",
      "properties": {
        "script": {
          "type": "string",
          "description": "Inline ArmTemplate string or Bicep content.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "script"
      ]
    },
    "InlineBicepTemplateChangeArtifact": {
      "type": "object",
      "description": "Describes the change payload for InlineBicep",
      "properties": {
        "artifactPayload": {
          "$ref": "#/definitions/InlineArtifactContent",
          "description": "The actual payload content.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "artifactPayload"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ChangeArtifact"
        }
      ],
      "x-ms-discriminator-value": "InlineBicep"
    },
    "NumberParameter": {
      "type": "object",
      "description": "Integer type parameter model",
      "properties": {
        "defaultValue": {
          "type": "integer",
          "format": "int32",
          "description": "Default value for the parameter.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "allowedValues": {
          "type": "array",
          "description": "Allowed list of the values for the parameter.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "allowedValues"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Parameter"
        }
      ],
      "x-ms-discriminator-value": "number"
    },
    "NumberParameterUpdate": {
      "type": "object",
      "description": "Integer type parameter model",
      "allOf": [
        {
          "$ref": "#/definitions/ParameterUpdate"
        }
      ],
      "x-ms-discriminator-value": "number"
    },
    "Parameter": {
      "type": "object",
      "description": "Base class for the Parameters.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ParameterType",
          "description": "Data type of the parameter.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "metadata": {
          "type": "object",
          "description": "user-specified parameter metadata",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ParameterType": {
      "type": "string",
      "description": "Data type of the parameter.",
      "enum": [
        "string",
        "number"
      ],
      "x-ms-enum": {
        "name": "ParameterType",
        "modelAsString": true,
        "values": [
          {
            "name": "String",
            "value": "string",
            "description": "String data type"
          },
          {
            "name": "Number",
            "value": "number",
            "description": "Integer data type"
          }
        ]
      }
    },
    "ParameterUpdate": {
      "type": "object",
      "description": "Base class for the Parameters.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ParameterType",
          "description": "Data type of the parameter.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "metadata": {
          "type": "object",
          "description": "user-specified parameter metadata",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of resource.",
      "enum": [
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": " The resource create request has been accepted."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "RetrieveNextStagesResponse": {
      "type": "object",
      "description": "RetrieveNextStage POST Action response.",
      "properties": {
        "changeStateResourceId": {
          "$ref": "#/definitions/ChangeStateResourceId",
          "description": "ChangeState resource Id."
        },
        "lastStageSequence": {
          "type": "integer",
          "format": "int32",
          "description": "Last stage sequence in the StageProgression."
        },
        "nextStages": {
          "type": "array",
          "description": "StageProgression resources that are ready to put in 'InProgress' state.",
          "items": {
            "$ref": "#/definitions/RetrieveNextStagesResponseItem"
          },
          "x-ms-identifiers": [
            "stageReference"
          ]
        }
      },
      "required": [
        "changeStateResourceId",
        "lastStageSequence",
        "nextStages"
      ]
    },
    "RetrieveNextStagesResponseItem": {
      "type": "object",
      "description": "StageProgression data comes from RetrieveNextStages API.",
      "properties": {
        "stageReference": {
          "type": "string",
          "description": "Stage name relevant to the hierarchical StageMap. Identifies the stage uniquely within a changestate resource.",
          "readOnly": true
        },
        "parameterValues": {
          "type": "object",
          "description": "Parameters to apply on the change for the stage.",
          "additionalProperties": {},
          "readOnly": true
        }
      },
      "required": [
        "stageReference",
        "parameterValues"
      ]
    },
    "Stage": {
      "type": "object",
      "description": "Defines details about each stage in the stage map resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the individual stage.",
          "minLength": 3,
          "maxLength": 100,
          "pattern": "^[a-zA-Z0-9-]{3,100}$",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "sequence": {
          "type": "integer",
          "format": "int32",
          "description": "Positive integer defining the orchestration order of the stages.",
          "minimum": 1,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "parameterValues": {
          "type": "object",
          "description": "Parameters to apply on the change of that stage. Key value pairs of parameter and values.",
          "additionalProperties": {},
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "nestedStageMapResourceId": {
          "$ref": "#/definitions/StageMapResourceId",
          "description": "Stage Map resource Id.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "name",
        "sequence"
      ]
    },
    "StageMap": {
      "type": "object",
      "description": "Resource provides details about stages a deployment goes through.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StageMapProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StageMapListResult": {
      "type": "object",
      "description": "The response of a StageMap list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StageMap items on this page",
          "items": {
            "$ref": "#/definitions/StageMap"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StageMapProperties": {
      "type": "object",
      "description": "Detailed properties of the StageMap resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "stages": {
          "type": "array",
          "description": "Array of stages objects.",
          "items": {
            "$ref": "#/definitions/Stage"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "parameters": {
          "type": "object",
          "description": "StageMap parameters schema for each stage.",
          "additionalProperties": {
            "$ref": "#/definitions/Parameter"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "stages"
      ]
    },
    "StageMapPropertiesUpdate": {
      "type": "object",
      "description": "Detailed properties of the StageMap resource.",
      "properties": {
        "stages": {
          "type": "array",
          "description": "Array of stages objects.",
          "items": {
            "$ref": "#/definitions/Stage"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "parameters": {
          "type": "object",
          "description": "StageMap parameters schema for each stage.",
          "additionalProperties": {
            "$ref": "#/definitions/ParameterUpdate"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "StageMapResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "Azure resource Id of a stage map.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ChangeSafety/stageMaps"
          }
        ]
      }
    },
    "StageMapUpdate": {
      "type": "object",
      "description": "Resource provides details about stages a deployment goes through.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StageMapPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StageProgression": {
      "type": "object",
      "description": "Defines the progression of a change using these child resources, with ChangeState parent resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StageProgressionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StageProgressionListResult": {
      "type": "object",
      "description": "The response of a StageProgression list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StageProgression items on this page",
          "items": {
            "$ref": "#/definitions/StageProgression"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StageProgressionProperties": {
      "type": "object",
      "description": "Detailed properties of the StageProgression resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "stageReference": {
          "type": "string",
          "description": "Stage name relevant to hierarchical StageMap.",
          "minLength": 3,
          "maxLength": 200,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "state": {
          "$ref": "#/definitions/StageProgressionState",
          "description": "StageProgression resource state.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "sequence": {
          "type": "integer",
          "format": "int32",
          "description": "The sequence of the stage within the ChangeStage parent resource.",
          "minimum": 1,
          "readOnly": true
        },
        "parameterValues": {
          "type": "object",
          "description": "Parameters to apply on the change of that stage. Key value pairs of parameter and values.",
          "additionalProperties": {},
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "comments": {
          "type": "string",
          "description": "Comments about the update to the resource.",
          "maxLength": 2000,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "stageReference",
        "state",
        "parameterValues"
      ]
    },
    "StageProgressionPropertiesUpdate": {
      "type": "object",
      "description": "Detailed properties of the StageProgression resource.",
      "properties": {
        "stageReference": {
          "type": "string",
          "description": "Stage name relevant to hierarchical StageMap.",
          "minLength": 3,
          "maxLength": 200,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "state": {
          "$ref": "#/definitions/StageProgressionState",
          "description": "StageProgression resource state.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "parameterValues": {
          "type": "object",
          "description": "Parameters to apply on the change of that stage. Key value pairs of parameter and values.",
          "additionalProperties": {},
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "comments": {
          "type": "string",
          "description": "Comments about the update to the resource.",
          "maxLength": 2000,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "StageProgressionState": {
      "type": "string",
      "description": "Indicates the current status of the progression of the change within the stage.",
      "enum": [
        "Initialized",
        "InProgress",
        "Completed",
        "Abandoned",
        "Paused",
        "Failed",
        "Skipped"
      ],
      "x-ms-enum": {
        "name": "StageProgressionState",
        "modelAsString": true,
        "values": [
          {
            "name": "Initialized",
            "value": "Initialized",
            "description": "Change is initialized to be applied within the stage."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Change is being applied within the stage."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Change has successfully been applied to the stage."
          },
          {
            "name": "Abandoned",
            "value": "Abandoned",
            "description": "Change apply operation was abandoned."
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "Change apply operation was paused."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Change apply operation was failed."
          },
          {
            "name": "Skipped",
            "value": "Skipped",
            "description": "Change is not applied to the stage."
          }
        ]
      }
    },
    "StageProgressionUpdate": {
      "type": "object",
      "description": "Defines the progression of a change using these child resources, with ChangeState parent resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StageProgressionPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StringParameter": {
      "type": "object",
      "description": "String Type Parameter model.",
      "properties": {
        "defaultValue": {
          "type": "string",
          "description": "Default value for the parameter.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "allowedValues": {
          "type": "array",
          "description": "Allowed list of the values for the parameter.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "allowedValues"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Parameter"
        }
      ],
      "x-ms-discriminator-value": "string"
    },
    "StringParameterUpdate": {
      "type": "object",
      "description": "String Type Parameter model.",
      "allOf": [
        {
          "$ref": "#/definitions/ParameterUpdate"
        }
      ],
      "x-ms-discriminator-value": "string"
    },
    "TemplateSpecArtifactContent": {
      "type": "object",
      "description": "Artifact content model for TemplateSpec resource.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "TemplateSpec resource Id in ARM.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "TemplateSpecChangeArtifact": {
      "type": "object",
      "description": "Describes the change payload for artifactType=External & artifactType='ArmTemplate' or Bicep.",
      "properties": {
        "artifactPayload": {
          "$ref": "#/definitions/TemplateSpecArtifactContent",
          "description": "The actual payload content.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "artifactPayload"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ChangeArtifact"
        }
      ],
      "x-ms-discriminator-value": "TemplateSpec"
    }
  },
  "parameters": {}
}
