{
  "swagger": "2.0",
  "info": {
    "title": "Azure Action Groups API",
    "version": "2024-10-01-preview",
    "description": "Monitor Management Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/actionGroups": {
      "get": {
        "operationId": "ActionGroups_ListBySubscriptionId",
        "description": "Get a list of all action groups in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActionGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List action groups at subscription level": {
            "$ref": "./examples/listActionGroups.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups": {
      "get": {
        "operationId": "ActionGroups_ListByResourceGroup",
        "description": "Get a list of all action groups in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActionGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List action groups at resource group level": {
            "$ref": "./examples/listActionGroupsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}": {
      "get": {
        "operationId": "ActionGroups_Get",
        "description": "Get an action group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "actionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActionGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an action group": {
            "$ref": "./examples/getActionGroup.json"
          }
        }
      },
      "put": {
        "operationId": "ActionGroups_CreateOrUpdate",
        "description": "Create a new action group or update an existing one.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "actionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionGroup",
            "in": "body",
            "description": "The action group to create or use for the update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionGroupResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ActionGroupResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ActionGroupResource"
            }
          },
          "201": {
            "description": "Resource 'ActionGroupResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ActionGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an action group": {
            "$ref": "./examples/createOrUpdateActionGroup.json"
          }
        }
      },
      "patch": {
        "operationId": "ActionGroups_Update",
        "description": "Updates an existing action group's tags. To update other fields use the CreateOrUpdate method.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "actionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionGroupPatch",
            "in": "body",
            "description": "Parameters supplied to the operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionGroupPatchBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActionGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch an action group": {
            "$ref": "./examples/patchActionGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "ActionGroups_Delete",
        "description": "Delete an action group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "actionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an action group": {
            "$ref": "./examples/deleteActionGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/createNotifications": {
      "post": {
        "operationId": "ActionGroups_CreateNotificationsAtActionGroupResourceLevel",
        "description": "Send test notifications to a set of provided receivers",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "actionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notificationRequest",
            "in": "body",
            "description": "The notification request body which includes the contact details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestNotificationDetailsResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create notifications at resource group level": {
            "$ref": "./examples/postTestNotificationsAtActionGroupResourceLevel.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TestNotificationDetailsResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/notificationStatus/{notificationId}": {
      "get": {
        "operationId": "ActionGroups_GetTestNotificationsAtActionGroupResourceLevel",
        "description": "Get the test notifications by the notification id",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "actionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notificationId",
            "in": "path",
            "description": "The notification id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestNotificationDetailsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get notification details at resource group level": {
            "$ref": "./examples/getTestNotificationsAtActionGroupResourceLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/subscribe": {
      "post": {
        "operationId": "ActionGroups_EnableReceiver",
        "description": "Enable a receiver in an action group. This changes the receiver's status from Disabled to Enabled. This operation is only supported for Email or SMS receivers.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "actionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "enableRequest",
            "in": "body",
            "description": "The receiver to re-enable.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnableRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "409": {
            "description": "The request conflicts with the current state of the server.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Enable the receiver": {
            "$ref": "./examples/enableReceiver.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActionDetail": {
      "type": "object",
      "description": "The action detail",
      "properties": {
        "MechanismType": {
          "type": "string",
          "description": "The mechanism type"
        },
        "Name": {
          "type": "string",
          "description": "The name of the action"
        },
        "Status": {
          "type": "string",
          "description": "The status of the action"
        },
        "SubState": {
          "type": "string",
          "description": "The substatus of the action"
        },
        "SendTime": {
          "type": "string",
          "description": "The send time"
        },
        "Detail": {
          "type": "string",
          "description": "The detail of the friendly error message"
        }
      }
    },
    "ActionGroup": {
      "type": "object",
      "description": "An Azure action group.",
      "properties": {
        "groupShortName": {
          "type": "string",
          "description": "The short name of the action group. This will be used in SMS messages.",
          "maxLength": 12
        },
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether this action group is enabled. If an action group is not enabled, then none of its receivers will receive communications.",
          "default": true
        },
        "emailReceivers": {
          "type": "array",
          "description": "The list of email receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/EmailReceiver"
          },
          "x-ms-identifiers": []
        },
        "smsReceivers": {
          "type": "array",
          "description": "The list of SMS receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/SmsReceiver"
          },
          "x-ms-identifiers": []
        },
        "webhookReceivers": {
          "type": "array",
          "description": "The list of webhook receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/WebhookReceiver"
          },
          "x-ms-identifiers": []
        },
        "itsmReceivers": {
          "type": "array",
          "description": "The list of ITSM receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/ItsmReceiver"
          },
          "x-ms-identifiers": []
        },
        "azureAppPushReceivers": {
          "type": "array",
          "description": "The list of AzureAppPush receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/AzureAppPushReceiver"
          },
          "x-ms-identifiers": []
        },
        "automationRunbookReceivers": {
          "type": "array",
          "description": "The list of AutomationRunbook receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/AutomationRunbookReceiver"
          },
          "x-ms-identifiers": []
        },
        "voiceReceivers": {
          "type": "array",
          "description": "The list of voice receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/VoiceReceiver"
          },
          "x-ms-identifiers": []
        },
        "logicAppReceivers": {
          "type": "array",
          "description": "The list of logic app receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/LogicAppReceiver"
          },
          "x-ms-identifiers": []
        },
        "azureFunctionReceivers": {
          "type": "array",
          "description": "The list of azure function receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/AzureFunctionReceiver"
          },
          "x-ms-identifiers": []
        },
        "armRoleReceivers": {
          "type": "array",
          "description": "The list of ARM role receivers that are part of this action group. Roles are Azure RBAC roles and only built-in roles are supported.",
          "items": {
            "$ref": "#/definitions/ArmRoleReceiver"
          },
          "x-ms-identifiers": []
        },
        "eventHubReceivers": {
          "type": "array",
          "description": "The list of event hub receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/EventHubReceiver"
          },
          "x-ms-identifiers": []
        },
        "incidentReceivers": {
          "type": "array",
          "description": "The list of incident receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/IncidentReceiver"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "groupShortName",
        "enabled"
      ]
    },
    "ActionGroupList": {
      "type": "object",
      "description": "A list of action groups.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ActionGroupResource items on this page",
          "items": {
            "$ref": "#/definitions/ActionGroupResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ActionGroupPatch": {
      "type": "object",
      "description": "An Azure action group for patch operations.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether this action group is enabled. If an action group is not enabled, then none of its actions will be activated.",
          "default": true
        }
      }
    },
    "ActionGroupPatchBody": {
      "type": "object",
      "description": "An action group object for the body of patch operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "Managed service identity (system assigned and/or user assigned identities)"
        },
        "properties": {
          "$ref": "#/definitions/ActionGroupPatch",
          "description": "The action group settings for an update operation.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ActionGroupResource": {
      "type": "object",
      "description": "An action group resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ActionGroup",
          "description": "The action groups properties of the resource.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ArmRoleReceiver": {
      "type": "object",
      "description": "An arm role receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the arm role receiver. Names must be unique across all receivers within an action group."
        },
        "roleId": {
          "type": "string",
          "description": "The arm role id."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "description": "Indicates whether to use common alert schema.",
          "default": false
        }
      },
      "required": [
        "name",
        "roleId"
      ]
    },
    "AutomationRunbookReceiver": {
      "type": "object",
      "description": "The Azure Automation Runbook notification receiver.",
      "properties": {
        "automationAccountId": {
          "type": "string",
          "description": "The Azure automation account Id which holds this runbook and authenticate to Azure resource."
        },
        "runbookName": {
          "type": "string",
          "description": "The name for this runbook."
        },
        "webhookResourceId": {
          "type": "string",
          "description": "The resource id for webhook linked to this runbook."
        },
        "isGlobalRunbook": {
          "type": "boolean",
          "description": "Indicates whether this instance is global runbook."
        },
        "name": {
          "type": "string",
          "description": "Indicates name of the webhook."
        },
        "serviceUri": {
          "type": "string",
          "description": "The URI where webhooks should be sent."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "description": "Indicates whether to use common alert schema.",
          "default": false
        },
        "managedIdentity": {
          "type": "string",
          "description": "The principal id of the managed identity. The value can be \"None\", \"SystemAssigned\""
        }
      },
      "required": [
        "automationAccountId",
        "runbookName",
        "webhookResourceId",
        "isGlobalRunbook"
      ]
    },
    "AzureAppPushReceiver": {
      "type": "object",
      "description": "The Azure mobile App push notification receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Azure mobile app push receiver. Names must be unique across all receivers within an action group."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address registered for the Azure mobile app."
        }
      },
      "required": [
        "name",
        "emailAddress"
      ]
    },
    "AzureFunctionReceiver": {
      "type": "object",
      "description": "An azure function receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the azure function receiver. Names must be unique across all receivers within an action group."
        },
        "functionAppResourceId": {
          "type": "string",
          "description": "The azure resource id of the function app."
        },
        "functionName": {
          "type": "string",
          "description": "The function name in the function app."
        },
        "httpTriggerUrl": {
          "type": "string",
          "description": "The http trigger url where http request sent to."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "description": "Indicates whether to use common alert schema.",
          "default": false
        },
        "managedIdentity": {
          "type": "string",
          "description": "The principal id of the managed identity. The value can be \"None\", \"SystemAssigned\""
        }
      },
      "required": [
        "name",
        "functionAppResourceId",
        "functionName",
        "httpTriggerUrl"
      ]
    },
    "Context": {
      "type": "object",
      "description": "The context info",
      "properties": {
        "notificationSource": {
          "type": "string",
          "description": "The source of the notification request"
        },
        "contextType": {
          "type": "string",
          "description": "The context id type"
        }
      }
    },
    "EmailReceiver": {
      "type": "object",
      "description": "An email receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the email receiver. Names must be unique across all receivers within an action group."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of this receiver."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "description": "Indicates whether to use common alert schema.",
          "default": false
        },
        "status": {
          "$ref": "#/definitions/ReceiverStatus",
          "description": "The receiver status of the e-mail.",
          "readOnly": true
        }
      },
      "required": [
        "name",
        "emailAddress"
      ]
    },
    "EnableRequest": {
      "type": "object",
      "description": "Describes a receiver that should be resubscribed.",
      "properties": {
        "receiverName": {
          "type": "string",
          "description": "The name of the receiver to resubscribe."
        }
      },
      "required": [
        "receiverName"
      ]
    },
    "EventHubReceiver": {
      "type": "object",
      "description": "An Event hub receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Event hub receiver. Names must be unique across all receivers within an action group."
        },
        "eventHubNameSpace": {
          "type": "string",
          "description": "The Event Hub namespace"
        },
        "eventHubName": {
          "type": "string",
          "description": "The name of the specific Event Hub queue"
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "description": "Indicates whether to use common alert schema.",
          "default": false
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant Id for the subscription containing this event hub"
        },
        "subscriptionId": {
          "type": "string",
          "description": "The Id for the subscription containing this event hub"
        },
        "managedIdentity": {
          "type": "string",
          "description": "The principal id of the managed identity. The value can be \"None\", \"SystemAssigned\""
        }
      },
      "required": [
        "name",
        "eventHubNameSpace",
        "eventHubName",
        "subscriptionId"
      ]
    },
    "IncidentManagementService": {
      "type": "string",
      "description": "The incident management service type",
      "enum": [
        "Icm"
      ],
      "x-ms-enum": {
        "name": "IncidentManagementService",
        "modelAsString": true,
        "values": [
          {
            "name": "Icm",
            "value": "Icm",
            "description": "Icm"
          }
        ]
      }
    },
    "IncidentReceiver": {
      "type": "object",
      "description": "An Incident receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Incident receiver. Names must be unique across all receivers within an action group."
        },
        "connection": {
          "$ref": "#/definitions/IncidentServiceConnection",
          "description": "The incident service connection"
        },
        "incidentManagementService": {
          "$ref": "#/definitions/IncidentManagementService",
          "description": "The incident management service type"
        },
        "mappings": {
          "type": "object",
          "description": "Field mappings for the incident service",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "name",
        "connection",
        "incidentManagementService",
        "mappings"
      ]
    },
    "IncidentServiceConnection": {
      "type": "object",
      "description": "The connection info for Incident Receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the connection."
        },
        "id": {
          "type": "string",
          "description": "GUID value representing the connection ID for the incident management service."
        }
      },
      "required": [
        "name",
        "id"
      ]
    },
    "ItsmReceiver": {
      "type": "object",
      "description": "An Itsm receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Itsm receiver. Names must be unique across all receivers within an action group."
        },
        "workspaceId": {
          "type": "string",
          "description": "OMS LA instance identifier."
        },
        "connectionId": {
          "type": "string",
          "description": "Unique identification of ITSM connection among multiple defined in above workspace."
        },
        "ticketConfiguration": {
          "type": "string",
          "description": "JSON blob for the configurations of the ITSM action. CreateMultipleWorkItems option will be part of this blob as well."
        },
        "region": {
          "type": "string",
          "description": "Region in which workspace resides. Supported values:'centralindia','japaneast','southeastasia','australiasoutheast','uksouth','westcentralus','canadacentral','eastus','westeurope'"
        }
      },
      "required": [
        "name",
        "workspaceId",
        "connectionId",
        "ticketConfiguration",
        "region"
      ]
    },
    "LogicAppReceiver": {
      "type": "object",
      "description": "A logic app receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the logic app receiver. Names must be unique across all receivers within an action group."
        },
        "resourceId": {
          "type": "string",
          "description": "The azure resource id of the logic app receiver."
        },
        "callbackUrl": {
          "type": "string",
          "description": "The callback url where http request sent to."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "description": "Indicates whether to use common alert schema.",
          "default": false
        },
        "managedIdentity": {
          "type": "string",
          "description": "The principal id of the managed identity. The value can be \"None\", \"SystemAssigned\""
        }
      },
      "required": [
        "name",
        "resourceId",
        "callbackUrl"
      ]
    },
    "NotificationRequestBody": {
      "type": "object",
      "description": "The request body which contain contact detail metadata",
      "properties": {
        "alertType": {
          "type": "string",
          "description": "The value of the supported alert type. Supported alert type values are: servicehealth, metricstaticthreshold, metricsdynamicthreshold, logalertv2, smartalert, webtestalert, logalertv1numresult, logalertv1metricmeasurement, resourcehealth, activitylog, actualcostbudget, forecastedbudget",
          "maxLength": 30
        },
        "emailReceivers": {
          "type": "array",
          "description": "The list of email receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/EmailReceiver"
          },
          "x-ms-identifiers": []
        },
        "smsReceivers": {
          "type": "array",
          "description": "The list of SMS receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/SmsReceiver"
          },
          "x-ms-identifiers": []
        },
        "webhookReceivers": {
          "type": "array",
          "description": "The list of webhook receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/WebhookReceiver"
          },
          "x-ms-identifiers": []
        },
        "itsmReceivers": {
          "type": "array",
          "description": "The list of ITSM receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/ItsmReceiver"
          },
          "x-ms-identifiers": []
        },
        "azureAppPushReceivers": {
          "type": "array",
          "description": "The list of AzureAppPush receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/AzureAppPushReceiver"
          },
          "x-ms-identifiers": []
        },
        "automationRunbookReceivers": {
          "type": "array",
          "description": "The list of AutomationRunbook receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/AutomationRunbookReceiver"
          },
          "x-ms-identifiers": []
        },
        "voiceReceivers": {
          "type": "array",
          "description": "The list of voice receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/VoiceReceiver"
          },
          "x-ms-identifiers": []
        },
        "logicAppReceivers": {
          "type": "array",
          "description": "The list of logic app receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/LogicAppReceiver"
          },
          "x-ms-identifiers": []
        },
        "azureFunctionReceivers": {
          "type": "array",
          "description": "The list of azure function receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/AzureFunctionReceiver"
          },
          "x-ms-identifiers": []
        },
        "armRoleReceivers": {
          "type": "array",
          "description": "The list of ARM role receivers that are part of this action group. Roles are Azure RBAC roles and only built-in roles are supported.",
          "items": {
            "$ref": "#/definitions/ArmRoleReceiver"
          },
          "x-ms-identifiers": []
        },
        "eventHubReceivers": {
          "type": "array",
          "description": "The list of event hub receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/EventHubReceiver"
          },
          "x-ms-identifiers": []
        },
        "incidentReceivers": {
          "type": "array",
          "description": "The list of incident receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/IncidentReceiver"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "alertType"
      ]
    },
    "ReceiverStatus": {
      "type": "string",
      "description": "Indicates the status of the receiver. Receivers that are not Enabled will not receive any communications.",
      "enum": [
        "NotSpecified",
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ReceiverStatus",
        "modelAsString": false,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "SmsReceiver": {
      "type": "object",
      "description": "An SMS receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SMS receiver. Names must be unique across all receivers within an action group."
        },
        "countryCode": {
          "type": "string",
          "description": "The country code of the SMS receiver."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the SMS receiver."
        },
        "status": {
          "$ref": "#/definitions/ReceiverStatus",
          "description": "The status of the receiver.",
          "readOnly": true
        }
      },
      "required": [
        "name",
        "countryCode",
        "phoneNumber"
      ]
    },
    "TestNotificationDetailsResponse": {
      "type": "object",
      "description": "The details of the test notification results.",
      "properties": {
        "context": {
          "$ref": "#/definitions/Context",
          "description": "The context info"
        },
        "state": {
          "type": "string",
          "description": "The overall state"
        },
        "completedTime": {
          "type": "string",
          "description": "The completed time"
        },
        "createdTime": {
          "type": "string",
          "description": "The created time"
        },
        "actionDetails": {
          "type": "array",
          "description": "The list of action detail",
          "items": {
            "$ref": "#/definitions/ActionDetail"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "state"
      ]
    },
    "VoiceReceiver": {
      "type": "object",
      "description": "A voice receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the voice receiver. Names must be unique across all receivers within an action group."
        },
        "countryCode": {
          "type": "string",
          "description": "The country code of the voice receiver."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the voice receiver."
        }
      },
      "required": [
        "name",
        "countryCode",
        "phoneNumber"
      ]
    },
    "WebhookReceiver": {
      "type": "object",
      "description": "A webhook receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the webhook receiver. Names must be unique across all receivers within an action group."
        },
        "serviceUri": {
          "type": "string",
          "description": "The URI where webhooks should be sent."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "description": "Indicates whether to use common alert schema.",
          "default": false
        },
        "useAadAuth": {
          "type": "boolean",
          "description": "Indicates whether or not use AAD authentication.",
          "default": false
        },
        "objectId": {
          "type": "string",
          "description": "Indicates the webhook app object Id for aad auth."
        },
        "identifierUri": {
          "type": "string",
          "description": "Indicates the identifier uri for aad auth."
        },
        "tenantId": {
          "type": "string",
          "description": "Indicates the tenant id for aad auth."
        },
        "managedIdentity": {
          "type": "string",
          "description": "The principal id of the managed identity. The value can be \"None\", \"SystemAssigned\""
        }
      },
      "required": [
        "name",
        "serviceUri"
      ]
    }
  },
  "parameters": {}
}
