{
  "swagger": "2.0",
  "info": {
    "title": "Security Insights",
    "description": "API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider",
    "version": "2022-11-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentpackages": {
      "get": {
        "x-ms-examples": {
          "Get all available packages.": {
            "$ref": "./examples/packages/GetPackages.json"
          }
        },
        "tags": [
          "Packages"
        ],
        "description": "Gets all available packages.",
        "operationId": "Packages_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataFilter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataOrderBy"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataTop"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataSkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/packageList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentpackages/{packageId}": {
      "get": {
        "x-ms-examples": {
          "Get a package.": {
            "$ref": "./examples/packages/GetPackageById.json"
          }
        },
        "tags": [
          "Package"
        ],
        "description": "Gets a package byt its identifier.",
        "operationId": "Packages_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/PackageIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/packageModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentpackages/{packageId}/install": {
      "post": {
        "x-ms-examples": {
          "Install a package to the workspace.": {
            "$ref": "./examples/packages/InstallPackage.json"
          }
        },
        "tags": [
          "Packages"
        ],
        "description": "Install a package to the workspace.",
        "operationId": "Package_Install",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/PackageIdParameter"
          },
          {
            "$ref": "#/parameters/PackageInstallationProperties"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/packageModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentpackages/{packageId}/uninstall": {
      "post": {
        "x-ms-examples": {
          "Uninstall a package from the workspace.": {
            "$ref": "./examples/packages/UninstallPackage.json"
          }
        },
        "tags": [
          "Packages"
        ],
        "description": "Uninstall a package from the workspace.",
        "operationId": "Package_Uninstall",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/PackageIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "packageList": {
      "description": "List available packages.",
      "properties": {
        "nextLink": {
          "description": "URL to fetch the next set of packages.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "Array of packages.",
          "items": {
            "$ref": "#/definitions/packageModel"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "packageModel": {
      "allOf": [
        {
          "$ref": "../../../common/2.0/types.json#/definitions/ResourceWithEtag"
        }
      ],
      "description": "Represents a Package in Azure Security Insights.",
      "properties": {
        "properties": {
          "description": "package properties",
          "$ref": "#/definitions/packageProperties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "packageProperties": {
      "description": "Describes package properties",
      "properties": {
        "packageId": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataContentId",
          "description": "The package id"
        },
        "packageKind": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataPackageKind",
          "description": "The package kind"
        },
        "installedVersion": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataVersion",
          "description": "The version of the installed package, null or absent means not installed."
        },
        "contentSchemaVersion": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataVersion",
          "description": "The version of the content schema."
        },
        "resourceId": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataContentId",
          "description": "The metadata resource id."
        },
        "isNew": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataTrueFalseFlag",
          "description": "Flag indicates if this is a newly published package."
        },
        "isPreview": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataTrueFalseFlag",
          "description": "Flag indicates if this package is in preview."
        },
        "isFeatured": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataTrueFalseFlag",
          "description": "Flag indicates if this package is among the featured list."
        },
        "version": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataVersion",
          "description": "the latest version number of the package"
        },
        "displayName": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataDisplayName",
          "description": "The display name of the package"
        },
        "description": {
          "description": "The description of the package",
          "type": "string"
        },
        "publisherDisplayName": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataDisplayName",
          "description": "The publisher display name of the package"
        },
        "source": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataSource",
          "description": "The source of the package"
        },
        "author": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataAuthor",
          "description": "The author of the package"
        },
        "support": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataSupport",
          "description": "The support tier of the package"
        },
        "dependencies": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataDependencies",
          "description": "The support tier of the package"
        },
        "providers": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataProviders",
          "description": "Providers for the package item"
        },
        "firstPublishDate": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataFirstPublishDate",
          "description": "first publish date package item"
        },
        "lastPublishDate": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataLastPublishDate",
          "description": "last publish date for the package item"
        },
        "categories": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataCategories",
          "description": "The categories of the package"
        },
        "threatAnalysisTactics": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataThreatAnalysisTactics",
          "description": "the tactics the resource covers"
        },
        "threatAnalyticsTechniques": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataThreatAnalysisTechniques",
          "description": "the techniques the resource covers, these have to be aligned with the tactics being used"
        },
        "icon": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataIcon",
          "description": "the icon identifier. this id can later be fetched from the content metadata"
        },
        "packageItems": {
          "description": "The JSON string of the package.",
          "type": "string"
        }
      },
      "required": [
        "packageId",
        "packageKind",
        "version",
        "displayName"
      ],
      "type": "object"
    },
    "PackageInstallationProperties": {
      "type": "object",
      "description": "Package installation properties.",
      "properties": {
        "packageKind": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataPackageKind",
          "description": "package kind."
        },
        "version": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataVersion",
          "description": "version of the package to be installed."
        }
      }
    }
  },
  "parameters": {
    "PackageIdParameter": {
      "description": "package Id",
      "in": "path",
      "name": "packageId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "PackageInstallationProperties": {
      "description": "Package installation properties",
      "in": "body",
      "name": "packageInstallationProperties",
      "required": true,
      "schema": {
        "$ref": "#/definitions/PackageInstallationProperties"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
