{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.NetworkAnalytics",
    "version": "2022-11-15-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Storage"
    }
  ],
  "paths": {
    "/providers/Microsoft.NetworkAnalytics/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkAnalytics/dataLakeHouses": {
      "get": {
        "operationId": "Storage_ListBySubscription",
        "tags": [
          "Storage"
        ],
        "description": "List DataLakeHouseResources resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataLakeHouseResourcesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Storage_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Storage_ListBySubscription_MaximumSet_Gen.json"
          },
          "Storage_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Storage_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataLakeHouses": {
      "get": {
        "operationId": "Storage_ListByResourceGroup",
        "tags": [
          "Storage"
        ],
        "description": "List DataLakeHouseResources resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataLakeHouseResourcesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Storage_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Storage_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Storage_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Storage_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataLakeHouses/{storageName}": {
      "get": {
        "operationId": "Storage_Get",
        "tags": [
          "Storage"
        ],
        "description": "Get a DataLakeHouseResources",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageName",
            "in": "path",
            "description": "The data lake house resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataLakeHouseResources"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Storage_Get_MaximumSet_Gen": {
            "$ref": "./examples/Storage_Get_MaximumSet_Gen.json"
          },
          "Storage_Get_MinimumSet_Gen": {
            "$ref": "./examples/Storage_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Storage_CreateOrUpdate",
        "tags": [
          "Storage"
        ],
        "description": "Create a DataLakeHouseResources",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageName",
            "in": "path",
            "description": "The data lake house resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataLakeHouseResources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataLakeHouseResources"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataLakeHouseResources"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Storage_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Storage_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Storage_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/Storage_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Storage_Update",
        "tags": [
          "Storage"
        ],
        "description": "Update a DataLakeHouseResources",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageName",
            "in": "path",
            "description": "The data lake house resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataLakeHouseResourcesUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataLakeHouseResources"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Storage_Update_MaximumSet_Gen": {
            "$ref": "./examples/Storage_Update_MaximumSet_Gen.json"
          },
          "Storage_Update_MinimumSet_Gen": {
            "$ref": "./examples/Storage_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Storage_Delete",
        "tags": [
          "Storage"
        ],
        "description": "Delete a DataLakeHouseResources",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageName",
            "in": "path",
            "description": "The data lake house resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Storage_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Storage_Delete_MaximumSet_Gen.json"
          },
          "Storage_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Storage_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AzureDataExplorerProperties": {
      "type": "object",
      "description": "ADx Properties",
      "properties": {
        "virtualNetworkConfiguration": {
          "$ref": "#/definitions/VirtualNetworkConfiguration",
          "description": "Virtual Network Configuration",
          "x-ms-mutability": [
            "create"
          ]
        },
        "kustoClusterPrincipalAssignments": {
          "$ref": "#/definitions/KustoClusterPrincipalAssignments",
          "description": "Kusto Cluster Principal Assignments"
        }
      },
      "required": [
        "kustoClusterPrincipalAssignments"
      ]
    },
    "BlobServices": {
      "type": "object",
      "description": "Configuration for creating Blob Service",
      "properties": {
        "restorePolicy": {
          "$ref": "#/definitions/RestorePolicy",
          "description": "Restore Policy"
        }
      },
      "required": [
        "restorePolicy"
      ]
    },
    "BronzeStorageAccountProperties": {
      "type": "object",
      "description": "Configuration for BronzeAccount",
      "properties": {
        "isSftpEnabled": {
          "type": "boolean",
          "description": "Enables Secure File Transfer Protocol, if set to true"
        }
      },
      "required": [
        "isSftpEnabled"
      ]
    },
    "Bypass": {
      "type": "string",
      "enum": [
        "None",
        "Logging",
        "Metrics",
        "AzureServices"
      ],
      "x-ms-enum": {
        "name": "Bypass",
        "modelAsString": true
      }
    },
    "CommonStorageAccountProperties": {
      "type": "object",
      "description": "Common Storage Account Properties.",
      "properties": {
        "publicNetworkAccess": {
          "type": "string",
          "description": "Allow or disallow public network access to Storage Account.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "networkacls": {
          "$ref": "#/definitions/NetworkAcls",
          "description": "Network rule set"
        },
        "blobServices": {
          "$ref": "#/definitions/BlobServices",
          "description": "Blob Services",
          "x-ms-mutability": [
            "create"
          ]
        },
        "privateEndPoint": {
          "$ref": "#/definitions/PrivateEndPoint",
          "description": "Private End Point"
        }
      }
    },
    "DataLakeHouseResources": {
      "type": "object",
      "description": "The data lake house resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DataLakeHouseResourcesListResult": {
      "type": "object",
      "description": "The response of a DataLakeHouseResources list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DataLakeHouseResources items on this page",
          "items": {
            "$ref": "#/definitions/DataLakeHouseResources"
          },
          "x-typespec-name": "DataLakeHouseResources[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "required": [
        "value"
      ]
    },
    "DataLakeHouseResourcesUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DataLakeHouseResources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>"
        },
        "properties": {
          "$ref": "#/definitions/DataLakeHouseResourcesUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "DataLakeHouseResourcesUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the DataLakeHouseResources.",
      "properties": {
        "managedResourceGroupConfiguration": {
          "$ref": "#/definitions/ManagedResourceGroupConfigurationUpdate",
          "description": "Managed Resource Group configuration."
        }
      }
    },
    "DefaultAction": {
      "type": "string",
      "enum": [
        "Allow",
        "Deny"
      ],
      "x-ms-enum": {
        "name": "DefaultAction",
        "modelAsString": true
      }
    },
    "IPRules": {
      "type": "object",
      "description": "IP rule with specific IP or IP range in CIDR format.",
      "properties": {
        "value": {
          "type": "string",
          "description": "IP Rules Value"
        },
        "action": {
          "type": "string",
          "description": "The action of virtual network rule."
        }
      },
      "required": [
        "action"
      ]
    },
    "KustoClusterPrincipalAssignments": {
      "type": "object",
      "description": "ADx Role assignments",
      "properties": {
        "systemIdentityName": {
          "type": "string",
          "description": "system Identity Name",
          "x-ms-mutability": [
            "create"
          ]
        },
        "role": {
          "$ref": "#/definitions/KustoRole",
          "description": "Kusto roles"
        },
        "principalType": {
          "$ref": "#/definitions/PrincipalType",
          "description": "Principal type."
        }
      },
      "required": [
        "role",
        "principalType"
      ]
    },
    "KustoRole": {
      "type": "string",
      "description": "The KustoRole options.",
      "enum": [
        "AllDatabasesAdmin",
        "AllDatabasesViewer"
      ],
      "x-ms-enum": {
        "name": "KustoRole",
        "modelAsString": true,
        "values": [
          {
            "name": "AllDatabasesAdmin",
            "value": "AllDatabasesAdmin",
            "description": "The Kusto Cluster Admin role."
          },
          {
            "name": "AllDatabasesViewer",
            "value": "AllDatabasesViewer",
            "description": "The Kusto Database Viewer role."
          }
        ]
      }
    },
    "ManagedResourceGroupConfiguration": {
      "type": "object",
      "description": "ManagedResourceGroup related properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of managed resource group"
        },
        "location": {
          "type": "string",
          "description": "Managed Resource Group location"
        }
      },
      "required": [
        "name",
        "location"
      ]
    },
    "ManagedResourceGroupConfigurationUpdate": {
      "type": "object",
      "description": "ManagedResourceGroup related properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of managed resource group"
        },
        "location": {
          "type": "string",
          "description": "Managed Resource Group location"
        }
      }
    },
    "NetworkAcls": {
      "type": "object",
      "description": "Network rule set",
      "properties": {
        "bypass": {
          "$ref": "#/definitions/Bypass",
          "description": "Specifies whether traffic is bypassed for Logging/Metrics/AzureServices"
        },
        "virtualNetworkRule": {
          "type": "array",
          "description": "Virtual Network Rule",
          "items": {
            "$ref": "#/definitions/VirtualNetworkRule"
          },
          "x-typespec-name": "VirtualNetworkRule[]"
        },
        "ipRules": {
          "type": "array",
          "description": "IP rule with specific IP or IP range in CIDR format.",
          "items": {
            "$ref": "#/definitions/IPRules"
          },
          "x-ms-identifiers": [],
          "x-typespec-name": "IPRules[]"
        },
        "resourceAccessRules": {
          "type": "array",
          "description": "Resource Access Rules.",
          "items": {
            "$ref": "#/definitions/ResourceAccessRules"
          },
          "x-ms-identifiers": [],
          "x-typespec-name": "ResourceAccessRules[]"
        },
        "defaultAction": {
          "$ref": "#/definitions/DefaultAction",
          "description": "Default Action"
        }
      },
      "required": [
        "bypass",
        "virtualNetworkRule",
        "ipRules",
        "resourceAccessRules",
        "defaultAction"
      ]
    },
    "PrincipalType": {
      "type": "string",
      "description": "The PrincipalType options.",
      "enum": [
        "App",
        "Group",
        "User"
      ],
      "x-ms-enum": {
        "name": "PrincipalType",
        "modelAsString": true,
        "values": [
          {
            "name": "App",
            "value": "App",
            "description": "The principal is an app."
          },
          {
            "name": "Group",
            "value": "Group",
            "description": "The principal is a group."
          },
          {
            "name": "User",
            "value": "User",
            "description": "The principal is a user."
          }
        ]
      }
    },
    "PrivateEndPoint": {
      "type": "object",
      "description": "Private End Point Resource",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "Resource ID of a subnet"
        },
        "privateLinkServiceId": {
          "type": "string",
          "description": "The private link resource service id"
        },
        "groupIds": {
          "type": "array",
          "description": "The private link resource group id.",
          "items": {
            "type": "string"
          },
          "x-typespec-name": "string[]"
        },
        "customDnsConfigs": {
          "type": "string",
          "description": "The private link resource customDnsConfigs."
        }
      },
      "required": [
        "subnetId",
        "privateLinkServiceId",
        "groupIds",
        "customDnsConfigs"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Represents a succeeded operation."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Represents a failed operation."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Represents a canceled operation."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Represents a pending operation."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Represents a pending operation."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Represents an operation under deletion."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Represents an accepted operation."
          }
        ]
      }
    },
    "ResourceAccessRules": {
      "type": "object",
      "description": "Resource Access Rules.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of resource."
        },
        "resourceId": {
          "type": "string",
          "description": "Resource ID"
        }
      },
      "required": [
        "tenantId",
        "resourceId"
      ]
    },
    "RestorePolicy": {
      "type": "object",
      "description": "Restore Policy",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Restore Policy enabled or disabled boolean value"
        },
        "days": {
          "type": "integer",
          "format": "int32",
          "description": "Restore Policy in days"
        }
      },
      "required": [
        "enabled",
        "days"
      ]
    },
    "StorageProperties": {
      "type": "object",
      "description": "Details of the NetworkAnalytics Storage.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Storage properties",
          "readOnly": true
        },
        "managedResourceGroupConfiguration": {
          "$ref": "#/definitions/ManagedResourceGroupConfiguration",
          "description": "Managed Resource Group configuration."
        },
        "uniqueIdentifierName": {
          "type": "string",
          "description": "unique Identifier Name",
          "x-ms-mutability": [
            "create"
          ]
        },
        "commonStorageAccountProperties": {
          "$ref": "#/definitions/CommonStorageAccountProperties",
          "description": "Common Storage Account properties.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "bronzeStorageAccountProperties": {
          "$ref": "#/definitions/BronzeStorageAccountProperties",
          "description": "Bronze Storage Account properties.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "azureDataExplorerProperties": {
          "$ref": "#/definitions/AzureDataExplorerProperties",
          "description": "Azure DataExplorer Cluster properties.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "uniqueIdentifierName",
        "commonStorageAccountProperties",
        "azureDataExplorerProperties"
      ]
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions for the Microsoft.NetworkAnalytics RP.",
      "enum": [
        "2022-11-15-preview",
        "2023-03-31-preview",
        "2023-04-30-preview",
        "2023-11-15"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2022_11_15_preview",
            "value": "2022-11-15-preview",
            "description": "The 2022-11-15-preview version."
          },
          {
            "name": "v2023_03_31_preview",
            "value": "2023-03-31-preview",
            "description": "The 2023-03-31-preview version."
          },
          {
            "name": "v2023_04_30_preview",
            "value": "2023-04-30-preview",
            "description": "The 2023-04-30-preview version."
          },
          {
            "name": "v2023_11_15",
            "value": "2023-11-15",
            "description": "The 2023-11-15 stable version."
          }
        ]
      }
    },
    "VirtualNetworkConfiguration": {
      "type": "object",
      "description": "Virtual Network Configuration",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "Resource ID of a subnet"
        },
        "enginePublicIpId": {
          "type": "string",
          "description": "Engine Public IP ID"
        },
        "dataManagementPublicIpId": {
          "type": "string",
          "description": "Data Management Public Ip ID"
        }
      },
      "required": [
        "subnetId",
        "enginePublicIpId",
        "dataManagementPublicIpId"
      ]
    },
    "VirtualNetworkRule": {
      "type": "object",
      "description": "Virtual Network Rule",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID of a subnet"
        },
        "action": {
          "type": "string",
          "description": "The action of virtual network rule."
        },
        "state": {
          "type": "string",
          "description": "Gets the state of virtual network rule."
        }
      },
      "required": [
        "id"
      ]
    }
  },
  "parameters": {}
}
