{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.EngineeringSystem management service.",
    "version": "2025-01-01-preview",
    "description": "Microsoft.EngineeringSystem Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Builds"
    },
    {
      "name": "Files"
    },
    {
      "name": "Packages"
    },
    {
      "name": "PackageVersions"
    },
    {
      "name": "PackageTypes"
    },
    {
      "name": "Products"
    },
    {
      "name": "Sboms"
    }
  ],
  "paths": {
    "/providers/Microsoft.EngineeringSystem/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products": {
      "get": {
        "operationId": "Products_ListByResourceGroup",
        "tags": [
          "Products"
        ],
        "description": "List Product resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProductListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Products_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/Products_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}": {
      "get": {
        "operationId": "Products_Get",
        "tags": [
          "Products"
        ],
        "description": "Get a Product",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Products_Get_MaximumSet": {
            "$ref": "./examples/Products_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/builds": {
      "get": {
        "operationId": "Builds_ListByParent",
        "tags": [
          "Builds"
        ],
        "description": "List Build resources by Product",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuildListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builds_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Builds_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/builds/{buildName}": {
      "get": {
        "operationId": "Builds_Get",
        "tags": [
          "Builds"
        ],
        "description": "Get a Build",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "buildName",
            "in": "path",
            "description": "The name of the Build",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builds_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Builds_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/files": {
      "get": {
        "operationId": "Files_ListByParent",
        "tags": [
          "Files"
        ],
        "description": "List File resources by Product",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Files_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Files_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/files/{fileName}": {
      "get": {
        "operationId": "Files_Get",
        "tags": [
          "Files"
        ],
        "description": "Get a File",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "The name of the File",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Files_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Files_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/packageTypes": {
      "get": {
        "operationId": "PackageTypes_ListByParent",
        "tags": [
          "PackageTypes"
        ],
        "description": "List PackageType resources by Product",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PackageTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageTypes_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/PackageTypes_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/packageTypes/{packageTypeName}": {
      "get": {
        "operationId": "PackageTypes_Get",
        "tags": [
          "PackageTypes"
        ],
        "description": "Get a PackageType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageTypeName",
            "in": "path",
            "description": "The name of the PackageType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PackageType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageTypes_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/PackageTypes_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/packageTypes/{packageTypeName}/packages": {
      "get": {
        "operationId": "Packages_ListByParent",
        "tags": [
          "Packages"
        ],
        "description": "List Package resources by PackageType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageTypeName",
            "in": "path",
            "description": "The name of the PackageType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PackageListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Packages_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Packages_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/packageTypes/{packageTypeName}/packages/{packageName}": {
      "get": {
        "operationId": "Packages_Get",
        "tags": [
          "Packages"
        ],
        "description": "Get a Package",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageTypeName",
            "in": "path",
            "description": "The name of the PackageType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageName",
            "in": "path",
            "description": "The name of the Package",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Packages_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Packages_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/packageTypes/{packageTypeName}/packages/{packageName}/packageVersions": {
      "get": {
        "operationId": "PackageVersions_ListByParent",
        "tags": [
          "PackageVersions"
        ],
        "description": "List PackageVersion resources by Package",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageTypeName",
            "in": "path",
            "description": "The name of the PackageType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageName",
            "in": "path",
            "description": "The name of the Package",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PackageVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageVersions_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/PackageVersions_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/packageTypes/{packageTypeName}/packages/{packageName}/packageVersions/{packageVersionName}": {
      "get": {
        "operationId": "PackageVersions_Get",
        "tags": [
          "PackageVersions"
        ],
        "description": "Get a PackageVersion",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageTypeName",
            "in": "path",
            "description": "The name of the PackageType",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "packageName",
            "in": "path",
            "description": "The name of the Package",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,64}$"
          },
          {
            "name": "packageVersionName",
            "in": "path",
            "description": "The name of the PackageVersion",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PackageVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageVersions_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/PackageVersions_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/sboms": {
      "get": {
        "operationId": "Sboms_ListByParent",
        "tags": [
          "Sboms"
        ],
        "description": "List Sbom resources by Product",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SbomListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Sboms_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Sboms_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngineeringSystem/products/{productName}/sboms/{sbomName}": {
      "get": {
        "operationId": "Sboms_Get",
        "tags": [
          "Sboms"
        ],
        "description": "Get a Sbom",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "productName",
            "in": "path",
            "description": "The name of the Product",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "sbomName",
            "in": "path",
            "description": "The name of the Sbom",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Sbom"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Sboms_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Sboms_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Build": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BuildProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BuildListResult": {
      "type": "object",
      "description": "The response of a Build list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Build items on this page",
          "items": {
            "$ref": "#/definitions/Build"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BuildProperties": {
      "type": "object",
      "description": "The properties of Build resource.",
      "properties": {
        "sha256": {
          "type": "string",
          "description": "The SHA-256 digest is generated from a composite ID that includes the project ID, build definition ID, and build ID."
        },
        "organizationId": {
          "type": "string",
          "description": "The organization ID for the build."
        },
        "projectId": {
          "type": "string",
          "description": "The project ID for the build."
        },
        "buildDefinitionId": {
          "type": "string",
          "description": "The build definition ID for the build."
        },
        "buildDefinitionName": {
          "type": "string",
          "description": "The build definition name for the build."
        },
        "buildId": {
          "type": "string",
          "description": "The build ID."
        },
        "buildType": {
          "$ref": "#/definitions/BuildType",
          "description": "The build type."
        },
        "productName": {
          "type": "string",
          "description": "The product name for the build."
        },
        "productVersion": {
          "type": "string",
          "description": "The product version for the build."
        },
        "repositoryId": {
          "type": "string",
          "description": "The repository ID for the build."
        },
        "repositoryUrl": {
          "type": "string",
          "description": "The repository URL for the build."
        },
        "branchName": {
          "type": "string",
          "description": "The branch name for the build."
        },
        "dateProduced": {
          "type": "string",
          "description": "The date produced for the build."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "sha256",
        "projectId",
        "buildDefinitionId",
        "buildId",
        "buildType"
      ]
    },
    "BuildType": {
      "type": "string",
      "description": "The available build types.",
      "enum": [
        "AzureDevOps",
        "CloudBuild",
        "GitHub"
      ],
      "x-ms-enum": {
        "name": "BuildType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureDevOps",
            "value": "AzureDevOps",
            "description": "Azure DevOps pipeline build."
          },
          {
            "name": "CloudBuild",
            "value": "CloudBuild",
            "description": "Cloud Build."
          },
          {
            "name": "GitHub",
            "value": "GitHub",
            "description": "GitHub build."
          }
        ]
      }
    },
    "File": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FileProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "FileListResult": {
      "type": "object",
      "description": "The response of a File list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The File items on this page",
          "items": {
            "$ref": "#/definitions/File"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FileProperties": {
      "type": "object",
      "description": "The properties of file resource.",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "The file name."
        },
        "filePath": {
          "type": "string",
          "description": "The path for the file."
        },
        "spdxId": {
          "type": "string",
          "description": "The file SPDX ID."
        },
        "sha256": {
          "type": "string",
          "description": "The SHA-256 digest of the file."
        },
        "license": {
          "type": "string",
          "description": "The file license."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "fileName",
        "sha256"
      ]
    },
    "Package": {
      "type": "object",
      "description": "Concrete extension resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PackageNameProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PackageListResult": {
      "type": "object",
      "description": "The response of a Package list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Package items on this page",
          "items": {
            "$ref": "#/definitions/Package"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PackageNameProperties": {
      "type": "object",
      "description": "The properties of PackageName resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "PackageType": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PackageTypeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PackageTypeListResult": {
      "type": "object",
      "description": "The response of a PackageType list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PackageType items on this page",
          "items": {
            "$ref": "#/definitions/PackageType"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PackageTypeProperties": {
      "type": "object",
      "description": "The properties of PackageType resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "PackageVersion": {
      "type": "object",
      "description": "Concrete extension resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PackageVersionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PackageVersionListResult": {
      "type": "object",
      "description": "The response of a PackageVersion list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PackageVersion items on this page",
          "items": {
            "$ref": "#/definitions/PackageVersion"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PackageVersionProperties": {
      "type": "object",
      "description": "The properties of PackageVersion resource derived from the purl spec.",
      "properties": {
        "packageType": {
          "type": "string",
          "description": "The package \"type\" or package \"protocol\" such as maven, npm, nuget, gem, pypi, etc."
        },
        "packageName": {
          "type": "string",
          "description": "The name of the package."
        },
        "packageVersion": {
          "type": "string",
          "description": "The version of the package."
        },
        "purl": {
          "type": "string",
          "description": "The package url as per the https://github.com/package-url/purl-spec spec."
        },
        "spdxId": {
          "type": "string",
          "description": "The package SPDX ID."
        },
        "packageSource": {
          "type": "string",
          "description": "The package source."
        },
        "supplier": {
          "type": "string",
          "description": "The package supplier."
        },
        "license": {
          "type": "string",
          "description": "The package license."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "packageType",
        "packageName",
        "packageVersion"
      ]
    },
    "Product": {
      "type": "object",
      "description": "Product resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProductProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProductListResult": {
      "type": "object",
      "description": "The response of a Product list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Product items on this page",
          "items": {
            "$ref": "#/definitions/Product"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProductProperties": {
      "type": "object",
      "description": "The properties of Product resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Sbom": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SbomProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SbomListResult": {
      "type": "object",
      "description": "The response of a Sbom list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Sbom items on this page",
          "items": {
            "$ref": "#/definitions/Sbom"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SbomProperties": {
      "type": "object",
      "description": "The properties of Sbom resource.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the SBOM. For SPDX SBOMs, this is equivalent to the document namespace."
        },
        "sha256": {
          "type": "string",
          "description": "The SHA-256 digest of the SBOM."
        },
        "ebomId": {
          "type": "string",
          "description": "The EBOM ID for the SBOM."
        },
        "productName": {
          "type": "string",
          "description": "The product name for the SBOM."
        },
        "productVersion": {
          "type": "string",
          "description": "The product version for the SBOM."
        },
        "license": {
          "type": "string",
          "description": "The product license for the SBOM."
        },
        "supplier": {
          "type": "string",
          "description": "The supplier for the SBOM."
        },
        "toolVersion": {
          "type": "string",
          "description": "The tool version for the SBOM."
        },
        "dateProduced": {
          "type": "string",
          "description": "The date produced for the SBOM."
        },
        "projectId": {
          "type": "string",
          "description": "The project ID for the SBOM."
        },
        "buildDefinitionId": {
          "type": "string",
          "description": "The build definition ID for the SBOM."
        },
        "buildDefinitionName": {
          "type": "string",
          "description": "The build definition name for the SBOM."
        },
        "branchName": {
          "type": "string",
          "description": "The branch name of the repository for the SBOM."
        },
        "repositoryUrl": {
          "type": "string",
          "description": "The project ID for the SBOM."
        },
        "commit": {
          "type": "string",
          "description": "The change commit ID of the repository for the SBOM."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "sha256"
      ]
    }
  },
  "parameters": {}
}
