{
  "swagger": "2.0",
  "info": {
    "title": "Commvault.ContentStore",
    "version": "2024-10-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Entities"
    },
    {
      "name": "Storages"
    },
    {
      "name": "Plans"
    },
    {
      "name": "ProtectionGroups"
    },
    {
      "name": "ProtectedResources"
    }
  ],
  "paths": {
    "/providers/Commvault.ContentStore/configure": {
      "post": {
        "operationId": "CommvaultTenant_Configure",
        "description": "Configure provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body for the action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyProperties"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CommvaultTenant_Configure_MaximumSet_Gen": {
            "$ref": "./examples/CommvaultTenant_Configure_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Commvault.ContentStore/describe": {
      "post": {
        "operationId": "CommvaultTenant_Describe",
        "description": "Describe provider details",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CompanyProperties"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CommvaultTenant_Describe_MaximumSet_Gen": {
            "$ref": "./examples/CommvaultTenant_Describe_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Commvault.ContentStore/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Commvault.ContentStore/entities": {
      "get": {
        "operationId": "Entities_ListBySubscription",
        "tags": [
          "Entities"
        ],
        "description": "List Entity resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Entities_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Entities_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities": {
      "get": {
        "operationId": "Entities_ListByResourceGroup",
        "tags": [
          "Entities"
        ],
        "description": "List Entity resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Entities_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Entities_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities/{entityName}": {
      "get": {
        "operationId": "Entities_Get",
        "tags": [
          "Entities"
        ],
        "description": "Get a Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_Get_MaximumSet_Gen": {
            "$ref": "./examples/Entities_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Entities_Create",
        "tags": [
          "Entities"
        ],
        "description": "Create a Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Entity' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          },
          "201": {
            "description": "Resource 'Entity' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Entity"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Entities_Create_MaximumSet_Gen": {
            "$ref": "./examples/Entities_Create_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Entities_Delete",
        "tags": [
          "Entities"
        ],
        "description": "Delete a Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Entities_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Entities_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities/{entityName}/plans": {
      "get": {
        "operationId": "Plans_ListByParent",
        "tags": [
          "Plans"
        ],
        "description": "List Plan resources by Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Plans_ListByParent_MaximumSet_Gen": {
            "$ref": "./examples/Plans_ListByParent_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities/{entityName}/plans/{planName}": {
      "get": {
        "operationId": "Plans_Get",
        "tags": [
          "Plans"
        ],
        "description": "Get a Plan",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "planName",
            "in": "path",
            "description": "Name of the Plan resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Plan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Plans_Get_MaximumSet_Gen": {
            "$ref": "./examples/Plans_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Plans_Create",
        "tags": [
          "Plans"
        ],
        "description": "Create a Plan",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "planName",
            "in": "path",
            "description": "Name of the Plan resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Plan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Plan' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Plan"
            }
          },
          "201": {
            "description": "Resource 'Plan' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Plan"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Plans_Create_MaximumSet_Gen": {
            "$ref": "./examples/Plans_Create_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Plans_Update",
        "tags": [
          "Plans"
        ],
        "description": "Update a Plan",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "planName",
            "in": "path",
            "description": "Name of the Plan resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlanUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Plan"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Plans_Update_MaximumSet_Gen": {
            "$ref": "./examples/Plans_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Plans_Delete",
        "tags": [
          "Plans"
        ],
        "description": "Delete a Plan",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "planName",
            "in": "path",
            "description": "Name of the Plan resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Plans_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Plans_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities/{entityName}/protectionGroups": {
      "get": {
        "operationId": "ProtectionGroups_ListByParent",
        "tags": [
          "ProtectionGroups"
        ],
        "description": "List ProtectionGroup resources by Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProtectionGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ProtectionGroups_ListByParent_MaximumSet_Gen": {
            "$ref": "./examples/ProtectionGroups_ListByParent_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities/{entityName}/protectionGroups/{protectionGroupName}": {
      "get": {
        "operationId": "ProtectionGroups_Get",
        "tags": [
          "ProtectionGroups"
        ],
        "description": "Get a ProtectionGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "protectionGroupName",
            "in": "path",
            "description": "Name of the ProtectionGroup resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProtectionGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProtectionGroups_Get_MaximumSet_Gen": {
            "$ref": "./examples/ProtectionGroups_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ProtectionGroups_Create",
        "tags": [
          "ProtectionGroups"
        ],
        "description": "Create a ProtectionGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "protectionGroupName",
            "in": "path",
            "description": "Name of the ProtectionGroup resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProtectionGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProtectionGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProtectionGroup"
            }
          },
          "201": {
            "description": "Resource 'ProtectionGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProtectionGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ProtectionGroups_Create_MaximumSet_Gen": {
            "$ref": "./examples/ProtectionGroups_Create_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ProtectionGroups_Update",
        "tags": [
          "ProtectionGroups"
        ],
        "description": "Update a ProtectionGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "protectionGroupName",
            "in": "path",
            "description": "Name of the ProtectionGroup resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProtectionGroupUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProtectionGroup"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ProtectionGroups_Update_MaximumSet_Gen": {
            "$ref": "./examples/ProtectionGroups_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ProtectionGroups_Delete",
        "tags": [
          "ProtectionGroups"
        ],
        "description": "Delete a ProtectionGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "protectionGroupName",
            "in": "path",
            "description": "Name of the ProtectionGroup resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ProtectionGroups_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ProtectionGroups_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities/{entityName}/protectionGroups/{protectionGroupName}/protectedresources": {
      "get": {
        "operationId": "ProtectedResources_ListByParent",
        "tags": [
          "ProtectedResources"
        ],
        "description": "List ProtectedResource resources by ProtectionGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "protectionGroupName",
            "in": "path",
            "description": "Name of the ProtectionGroup resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProtectedResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ProtectedResources_ListByParent_MaximumSet_Gen": {
            "$ref": "./examples/ProtectedResources_ListByParent_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities/{entityName}/protectionGroups/{protectionGroupName}/protectedresources/{protectedResourceName}": {
      "get": {
        "operationId": "ProtectedResources_Get",
        "tags": [
          "ProtectedResources"
        ],
        "description": "Get a ProtectedResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "protectionGroupName",
            "in": "path",
            "description": "Name of the ProtectionGroup resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "protectedResourceName",
            "in": "path",
            "description": "The protectedResource name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9\\-_]{1,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProtectedResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProtectedResources_Get_MaximumSet_Gen": {
            "$ref": "./examples/ProtectedResources_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities/{entityName}/protectionGroups/{protectionGroupName}/stopBackup": {
      "post": {
        "operationId": "ProtectionGroups_StopBackup",
        "tags": [
          "ProtectionGroups"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "protectionGroupName",
            "in": "path",
            "description": "Name of the ProtectionGroup resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopBackupProtectionGroupRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ProtectionGroups_StopBackup_MaximumSet_Gen": {
            "$ref": "./examples/ProtectionGroups_StopBackup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities/{entityName}/storages": {
      "get": {
        "operationId": "Storages_ListByParent",
        "tags": [
          "Storages"
        ],
        "description": "List Storage resources by Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Storages_ListByParent_MaximumSet_Gen": {
            "$ref": "./examples/Storages_ListByParent_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Commvault.ContentStore/entities/{entityName}/storages/{storageName}": {
      "get": {
        "operationId": "Storages_Get",
        "tags": [
          "Storages"
        ],
        "description": "Get a Storage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the Storage resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Storage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Storages_Get_MaximumSet_Gen": {
            "$ref": "./examples/Storages_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Storages_Create",
        "tags": [
          "Storages"
        ],
        "description": "Create a Storage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the Storage resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Storage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Storage' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Storage"
            }
          },
          "201": {
            "description": "Resource 'Storage' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Storage"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Storages_Create_MaximumSet_Gen": {
            "$ref": "./examples/Storages_Create_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Storages_Delete",
        "tags": [
          "Storages"
        ],
        "description": "Delete a Storage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the Entity resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the Storage resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Storages_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Storages_Delete_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BackUpType": {
      "type": "string",
      "description": "The type of backup",
      "enum": [
        "INCREMENTAL",
        "FULL",
        "BOTH"
      ],
      "x-ms-enum": {
        "name": "BackUpType",
        "modelAsString": true,
        "values": [
          {
            "name": "Incremental",
            "value": "INCREMENTAL",
            "description": "Incremental backup"
          },
          {
            "name": "Full",
            "value": "FULL",
            "description": "Full backup"
          },
          {
            "name": "Both",
            "value": "BOTH",
            "description": "Both incremental and full backups"
          }
        ]
      }
    },
    "CompanyProperties": {
      "type": "object",
      "description": "The properties of Commvault Company",
      "properties": {
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetails",
          "description": "Details of the user."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "singleSignOnProperties": {
          "$ref": "#/definitions/LiftrBase.SingleSignOnProperties",
          "description": "Single Sign On properties for the organization"
        }
      },
      "required": [
        "user"
      ]
    },
    "Entity": {
      "type": "object",
      "description": "A Commvault Entity Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntityProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EntityListResult": {
      "type": "object",
      "description": "The response of a Entity list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Entity items on this page",
          "items": {
            "$ref": "#/definitions/Entity"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EntityProperties": {
      "type": "object",
      "description": "Properties specific to Commvault Entity resource",
      "properties": {
        "marketplace": {
          "$ref": "#/definitions/LiftrBase.MarketplaceDetails",
          "description": "Marketplace details of the resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetails",
          "description": "Details of the user."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "marketplace",
        "user"
      ]
    },
    "Frequency": {
      "type": "string",
      "description": "The frequency of backups",
      "enum": [
        "daily",
        "weekly"
      ],
      "x-ms-enum": {
        "name": "Frequency",
        "modelAsString": true,
        "values": [
          {
            "name": "Daily",
            "value": "daily",
            "description": "Daily backups"
          },
          {
            "name": "Weekly",
            "value": "weekly",
            "description": "Weekly backups"
          }
        ]
      }
    },
    "LiftrBase.MarketplaceDetails": {
      "type": "object",
      "description": "Marketplace details for an organization",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Azure subscription id for the the marketplace offer is purchased from"
        },
        "subscriptionStatus": {
          "$ref": "#/definitions/LiftrBase.MarketplaceSubscriptionStatus",
          "description": "Marketplace subscription status",
          "readOnly": true
        },
        "offerDetails": {
          "$ref": "#/definitions/LiftrBase.OfferDetails",
          "description": "Offer details for the marketplace that is selected by the user"
        }
      },
      "required": [
        "subscriptionId",
        "offerDetails"
      ]
    },
    "LiftrBase.MarketplaceSubscriptionStatus": {
      "type": "string",
      "description": "Marketplace subscription status of a resource.",
      "enum": [
        "PendingFulfillmentStart",
        "Subscribed",
        "Suspended",
        "Unsubscribed"
      ],
      "x-ms-enum": {
        "name": "MarketplaceSubscriptionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "PendingFulfillmentStart",
            "value": "PendingFulfillmentStart",
            "description": "Purchased but not yet activated"
          },
          {
            "name": "Subscribed",
            "value": "Subscribed",
            "description": "Marketplace subscription is activated"
          },
          {
            "name": "Suspended",
            "value": "Suspended",
            "description": "This state indicates that a customer's payment for the Marketplace service was not received"
          },
          {
            "name": "Unsubscribed",
            "value": "Unsubscribed",
            "description": "Customer has cancelled the subscription"
          }
        ]
      }
    },
    "LiftrBase.OfferDetails": {
      "type": "object",
      "description": "Offer details for the marketplace that is selected by the user",
      "properties": {
        "publisherId": {
          "type": "string",
          "description": "Publisher Id for the marketplace offer"
        },
        "offerId": {
          "type": "string",
          "description": "Offer Id for the marketplace offer"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id for the marketplace offer"
        },
        "planName": {
          "type": "string",
          "description": "Plan Name for the marketplace offer"
        },
        "termUnit": {
          "type": "string",
          "description": "Plan Display Name for the marketplace offer"
        },
        "termId": {
          "type": "string",
          "description": "Plan Display Name for the marketplace offer"
        }
      },
      "required": [
        "publisherId",
        "offerId",
        "planId"
      ]
    },
    "LiftrBase.SingleSignOnProperties": {
      "type": "object",
      "description": "Properties specific to Single Sign On Resource",
      "properties": {
        "singleSignOnState": {
          "$ref": "#/definitions/LiftrBase.SingleSignOnStates",
          "description": "State of the Single Sign On for the organization"
        },
        "enterpriseAppId": {
          "type": "string",
          "description": "AAD enterprise application Id used to setup SSO"
        },
        "singleSignOnUrl": {
          "$ref": "#/definitions/LiftrBase.Uri",
          "description": "URL for SSO to be used by the partner to redirect the user to their system"
        },
        "aadDomains": {
          "type": "array",
          "description": "List of AAD domains fetched from Microsoft Graph for user.",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning State of the resource",
          "readOnly": true
        }
      }
    },
    "LiftrBase.SingleSignOnStates": {
      "type": "string",
      "description": "Various states of the SSO resource",
      "enum": [
        "Initial",
        "Enable",
        "Disable"
      ],
      "x-ms-enum": {
        "name": "SingleSignOnStates",
        "modelAsString": true,
        "values": [
          {
            "name": "Initial",
            "value": "Initial",
            "description": "Initial state of the SSO resource"
          },
          {
            "name": "Enable",
            "value": "Enable",
            "description": "State of the SSO resource when it is enabled"
          },
          {
            "name": "Disable",
            "value": "Disable",
            "description": "State of the SSO resource when it is disabled"
          }
        ]
      }
    },
    "LiftrBase.Uri": {
      "type": "string",
      "description": "A string that represents a URI."
    },
    "LiftrBase.UserDetails": {
      "type": "object",
      "description": "User details for an organization",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of the user"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the user"
        },
        "emailAddress": {
          "$ref": "#/definitions/LiftrBase.email",
          "description": "Email address of the user"
        },
        "upn": {
          "type": "string",
          "description": "User's principal name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number"
        }
      },
      "required": [
        "firstName",
        "lastName",
        "emailAddress"
      ]
    },
    "LiftrBase.UserDetailsUpdate": {
      "type": "object",
      "description": "User details for an organization",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of the user"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the user"
        },
        "emailAddress": {
          "$ref": "#/definitions/LiftrBase.email",
          "description": "Email address of the user"
        },
        "upn": {
          "type": "string",
          "description": "User's principal name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number"
        }
      }
    },
    "LiftrBase.email": {
      "type": "string",
      "description": "Reusable representation of an email address.",
      "pattern": "^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z]{2,}$"
    },
    "MatchType": {
      "type": "string",
      "description": "The match type",
      "enum": [
        "all",
        "any"
      ],
      "x-ms-enum": {
        "name": "MatchType",
        "modelAsString": true,
        "values": [
          {
            "name": "All",
            "value": "all",
            "description": "All rules should match"
          },
          {
            "name": "Any",
            "value": "any",
            "description": "Any rule should match"
          }
        ]
      }
    },
    "Operator": {
      "type": "string",
      "description": "The types of operator",
      "enum": [
        "contains",
        "doesnotcontains",
        "doesnotequal",
        "startsWith",
        "endsWith",
        "equals"
      ],
      "x-ms-enum": {
        "name": "Operator",
        "modelAsString": true,
        "values": [
          {
            "name": "Contains",
            "value": "contains",
            "description": "The operator contains"
          },
          {
            "name": "DoesNotContains",
            "value": "doesnotcontains",
            "description": "The operator does not contains"
          },
          {
            "name": "DoesNotEqual",
            "value": "doesnotequal",
            "description": "The operator does not equal"
          },
          {
            "name": "StartsWith",
            "value": "startsWith",
            "description": "The operator starts with"
          },
          {
            "name": "EndsWith",
            "value": "endsWith",
            "description": "The operator ends with"
          },
          {
            "name": "Equals",
            "value": "equals",
            "description": "The operator equals"
          }
        ]
      }
    },
    "Plan": {
      "type": "object",
      "description": "A Commvault Plan Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlanProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PlanListResult": {
      "type": "object",
      "description": "The response of a Plan list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Plan items on this page",
          "items": {
            "$ref": "#/definitions/Plan"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PlanProperties": {
      "type": "object",
      "description": "The properties of Commvault Plan",
      "properties": {
        "storagePlans": {
          "type": "array",
          "description": "The storage plans associated with the Commvault Plan",
          "minItems": 1,
          "maxItems": 11,
          "items": {
            "$ref": "#/definitions/StoragePlan"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "schedule": {
          "$ref": "#/definitions/Schedule",
          "description": "The Commvault Plan Schedule",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "retention": {
          "$ref": "#/definitions/Retention",
          "description": "The Commvault Plan Retention",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetails",
          "description": "Details of the user."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "storagePlans",
        "schedule",
        "retention",
        "user"
      ]
    },
    "PlanPropertiesUpdate": {
      "type": "object",
      "description": "The properties of Commvault Plan",
      "properties": {
        "schedule": {
          "$ref": "#/definitions/ScheduleUpdate",
          "description": "The Commvault Plan Schedule",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "retention": {
          "$ref": "#/definitions/RetentionUpdate",
          "description": "The Commvault Plan Retention",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetailsUpdate",
          "description": "Details of the user."
        }
      }
    },
    "PlanUpdate": {
      "type": "object",
      "description": "A Commvault Plan Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlanPropertiesUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProtectedResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProtectedResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProtectedResourceListResult": {
      "type": "object",
      "description": "The response of a ProtectedResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ProtectedResource items on this page",
          "items": {
            "$ref": "#/definitions/ProtectedResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProtectedResourceProperties": {
      "type": "object",
      "description": "The properties of Commvault Protected Resource",
      "properties": {
        "lastBackUpTime": {
          "type": "string",
          "format": "date-time",
          "description": "The Commvault Protected Resource backup time",
          "readOnly": true
        }
      },
      "required": [
        "lastBackUpTime"
      ]
    },
    "ProtectionGroup": {
      "type": "object",
      "description": "A Commvault Plan Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProtectionGroupProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProtectionGroupListResult": {
      "type": "object",
      "description": "The response of a ProtectionGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ProtectionGroup items on this page",
          "items": {
            "$ref": "#/definitions/ProtectionGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProtectionGroupProperties": {
      "type": "object",
      "description": "The properties of Commvault Protection Group",
      "properties": {
        "dataSourceType": {
          "type": "string",
          "description": "The datasource type of Commvault Protection Group",
          "enum": [
            "AzureVM"
          ],
          "x-ms-enum": {
            "modelAsString": false
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "plan": {
          "type": "string",
          "description": "The Commvault Plan to be associated with the Protection Group",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "resources": {
          "$ref": "#/definitions/ProtectionGroupResources",
          "description": "The resources to be protected under Protection Group",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "protectionStatus": {
          "$ref": "#/definitions/ProtectionStatus",
          "description": "The protection group schedu",
          "readOnly": true
        },
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetails",
          "description": "Details of the user."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "dataSourceType",
        "plan",
        "resources",
        "protectionStatus",
        "user"
      ]
    },
    "ProtectionGroupPropertiesUpdate": {
      "type": "object",
      "description": "The properties of Commvault Protection Group",
      "properties": {
        "plan": {
          "type": "string",
          "description": "The Commvault Plan to be associated with the Protection Group",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "resources": {
          "$ref": "#/definitions/ProtectionGroupResourcesUpdate",
          "description": "The resources to be protected under Protection Group",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetailsUpdate",
          "description": "Details of the user."
        }
      }
    },
    "ProtectionGroupResources": {
      "type": "object",
      "description": "The resources to be protected under Protection Group",
      "properties": {
        "manual": {
          "type": "array",
          "description": "The items to be protected under Protection Group",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "matchRules": {
          "type": "object",
          "description": "Rules to match resources",
          "properties": {
            "rules": {
              "type": "array",
              "description": "rules to match",
              "items": {
                "$ref": "#/definitions/Rule"
              },
              "x-ms-identifiers": [],
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            },
            "matchType": {
              "$ref": "#/definitions/MatchType",
              "description": "match Type all or any",
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            }
          },
          "required": [
            "rules",
            "matchType"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "ProtectionGroupResourcesUpdate": {
      "type": "object",
      "description": "The resources to be protected under Protection Group",
      "properties": {
        "manual": {
          "type": "array",
          "description": "The items to be protected under Protection Group",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "matchRules": {
          "type": "object",
          "description": "Rules to match resources",
          "properties": {
            "rules": {
              "type": "array",
              "description": "rules to match",
              "items": {
                "$ref": "#/definitions/Rule"
              },
              "x-ms-identifiers": [],
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            },
            "matchType": {
              "$ref": "#/definitions/MatchType",
              "description": "match Type all or any",
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            }
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "ProtectionGroupUpdate": {
      "type": "object",
      "description": "A Commvault Plan Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProtectionGroupPropertiesUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProtectionStatus": {
      "type": "string",
      "description": "The Protection Status",
      "enum": [
        "active",
        "inactive"
      ],
      "x-ms-enum": {
        "name": "ProtectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "active",
            "description": "The protection group is active"
          },
          {
            "name": "Inactive",
            "value": "inactive",
            "description": "The protection group is inactive"
          }
        ]
      }
    },
    "Retention": {
      "type": "object",
      "description": "A Commvault Plan Retention Model",
      "properties": {
        "numberOfSnapshots": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Snapshots",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "type": {
          "$ref": "#/definitions/RetentionType",
          "description": "Type of retention",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "numberOfSnapshots",
        "type"
      ]
    },
    "RetentionTime": {
      "type": "string",
      "description": "The retention time for Commvault Plan",
      "enum": [
        "monthly",
        "yearly"
      ],
      "x-ms-enum": {
        "name": "RetentionTime",
        "modelAsString": true,
        "values": [
          {
            "name": "Monthly",
            "value": "monthly",
            "description": "Monthly retention time"
          },
          {
            "name": "Yearly",
            "value": "yearly",
            "description": "Yearly retention time"
          }
        ]
      }
    },
    "RetentionType": {
      "type": "string",
      "description": "The retention type for Commvault Plan",
      "enum": [
        "STANDARD",
        "EXTENDED",
        "CUSTOM"
      ],
      "x-ms-enum": {
        "name": "RetentionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "STANDARD",
            "description": "Standard retention type"
          },
          {
            "name": "Extended",
            "value": "EXTENDED",
            "description": "Extended retention type"
          },
          {
            "name": "Custom",
            "value": "CUSTOM",
            "description": "Custom retention type"
          }
        ]
      }
    },
    "RetentionUpdate": {
      "type": "object",
      "description": "A Commvault Plan Retention Model",
      "properties": {
        "numberOfSnapshots": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Snapshots",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "type": {
          "$ref": "#/definitions/RetentionType",
          "description": "Type of retention",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "Rule": {
      "type": "object",
      "description": "The rules to match resources",
      "properties": {
        "property": {
          "$ref": "#/definitions/RuleProperty",
          "description": "property of the rule",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "operator": {
          "$ref": "#/definitions/Operator",
          "description": "property of the rule",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "value": {
          "type": "string",
          "description": "property of the rule",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "property",
        "operator",
        "value"
      ]
    },
    "RuleProperty": {
      "type": "string",
      "description": "The Rule property",
      "enum": [
        "resourceGroup",
        "name",
        "tagName",
        "tagValue",
        "region",
        "status",
        "powerstate",
        "virtualmachine",
        "virtualmachinepattern"
      ],
      "x-ms-enum": {
        "name": "RuleProperty",
        "modelAsString": true,
        "values": [
          {
            "name": "ResourceGroup",
            "value": "resourceGroup",
            "description": "The resource group of the rule"
          },
          {
            "name": "Name",
            "value": "name",
            "description": "The name of the rule"
          },
          {
            "name": "TagName",
            "value": "tagName",
            "description": "The tag name of the rule"
          },
          {
            "name": "TagValue",
            "value": "tagValue",
            "description": "The tag value of the rule"
          },
          {
            "name": "Region",
            "value": "region",
            "description": "The region of the rule"
          },
          {
            "name": "Status",
            "value": "status",
            "description": "The status of the rule"
          },
          {
            "name": "PowerState",
            "value": "powerstate",
            "description": "The power state of the rule"
          },
          {
            "name": "VirtualMachine",
            "value": "virtualmachine",
            "description": "The virtual machine of the rule"
          },
          {
            "name": "VirtualMachinePattern",
            "value": "virtualmachinepattern",
            "description": "The virtual machine pattern of the rule"
          }
        ]
      }
    },
    "Schedule": {
      "type": "object",
      "description": "A Commvault Plan Schedul Model",
      "properties": {
        "backupType": {
          "$ref": "#/definitions/BackUpType",
          "description": "Type of Backup"
        },
        "fullbackupDetails": {
          "$ref": "#/definitions/ScheduleDetails",
          "description": "FullBackUpDetails",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "incrementalbackUpDetails": {
          "$ref": "#/definitions/ScheduleDetails",
          "description": "IncrementalBackUpDetails",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "retentionType": {
          "$ref": "#/definitions/RetentionType",
          "description": "Type of Retention"
        }
      },
      "required": [
        "backupType",
        "retentionType"
      ]
    },
    "ScheduleDetails": {
      "type": "object",
      "description": "Schedule Details",
      "properties": {
        "frequency": {
          "$ref": "#/definitions/Frequency",
          "description": "Frequency of backups",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "time": {
          "type": "string",
          "description": "Time of backups",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "frequency",
        "time"
      ]
    },
    "ScheduleDetailsUpdate": {
      "type": "object",
      "description": "Schedule Details",
      "properties": {
        "frequency": {
          "$ref": "#/definitions/Frequency",
          "description": "Frequency of backups",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "time": {
          "type": "string",
          "description": "Time of backups",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "ScheduleUpdate": {
      "type": "object",
      "description": "A Commvault Plan Schedul Model",
      "properties": {
        "backupType": {
          "$ref": "#/definitions/BackUpType",
          "description": "Type of Backup"
        },
        "fullbackupDetails": {
          "$ref": "#/definitions/ScheduleDetailsUpdate",
          "description": "FullBackUpDetails",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "incrementalbackUpDetails": {
          "$ref": "#/definitions/ScheduleDetailsUpdate",
          "description": "IncrementalBackUpDetails",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "retentionType": {
          "$ref": "#/definitions/RetentionType",
          "description": "Type of Retention"
        }
      }
    },
    "StopBackupProtectionGroupRequest": {
      "type": "object",
      "description": "The properties of StopBackupProtectionGroupRequest",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for stopping the backup",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "comment": {
          "type": "string",
          "description": "Any further comments",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "reason"
      ]
    },
    "Storage": {
      "type": "object",
      "description": "A Commvault Storage Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StorageClass": {
      "type": "string",
      "description": "The class of Commvault Storage",
      "enum": [
        "COOL",
        "HOT"
      ],
      "x-ms-enum": {
        "name": "StorageClass",
        "modelAsString": true,
        "values": [
          {
            "name": "Cool",
            "value": "COOL",
            "description": "Cool storage class"
          },
          {
            "name": "Hot",
            "value": "HOT",
            "description": "Hot storage class"
          }
        ]
      }
    },
    "StorageListResult": {
      "type": "object",
      "description": "The response of a Storage list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Storage items on this page",
          "items": {
            "$ref": "#/definitions/Storage"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StoragePlan": {
      "type": "object",
      "description": "The properties of Commvault Storage Plan",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Storage resource"
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Indicates if this is the primary storage plan"
        },
        "retentionPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the retention period valid only if the type of retention choosen in CUSTOM"
        },
        "retentionTime": {
          "$ref": "#/definitions/RetentionTime",
          "description": "Indicates the retention timeframe valid only if the type of retention choosen in CUSTOM"
        },
        "monthlyRetnetion": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the montlhyFull retention time valid only if the type of retention choosen in CUSTOM"
        },
        "yearlyRetention": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the yearly Full retention time valid only if the type of retention choosen in CUSTOM"
        }
      },
      "required": [
        "name",
        "isPrimary"
      ]
    },
    "StorageProperties": {
      "type": "object",
      "description": "The properties of Commvault Storage",
      "properties": {
        "storageType": {
          "type": "string",
          "description": "The type of Commvault Storage",
          "enum": [
            "Air_Gap_Protect"
          ],
          "x-ms-enum": {
            "modelAsString": false
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "vendor": {
          "type": "string",
          "description": "The vendor of Commvault Storage",
          "enum": [
            "Azure_Blob_Storage"
          ],
          "x-ms-enum": {
            "modelAsString": false
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "class": {
          "$ref": "#/definitions/StorageClass",
          "description": "The class of Commvault Storage",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetails",
          "description": "Details of the user."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "storageType",
        "vendor",
        "class",
        "user"
      ]
    }
  },
  "parameters": {}
}