{
    "swagger": "2.0",
    "info": {
      "version": "2017-06-01",
      "title": "Azure Stack Azure Bridge Client"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/edgeSubscriptions": {
        "get": {
          "x-ms-examples": {
            "Returns a list of all edge suscriptions.": {
              "$ref": "examples/EdgeSubscription/ListEdgeSubs.json"
            }
          },
          "tags": [
            "EdgeSubscriptions"
          ],
          "description": "Returns a list of all edge subscriptions.",
          "operationId": "EdgeSubscriptions_List",
          "parameters": [
            {
              "$ref": "AzureStack.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/EdgeSubscriptionList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "AzureStack.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/edgeSubscriptions/{edgeSubscriptionName}": {
        "get": {
          "x-ms-examples": {
            "Returns the properties of an edge suscription.": {
              "$ref": "examples/EdgeSubscription/GetEdgeSub.json"
            }
          },
          "tags": [
            "EdgeSubscriptions"
          ],
          "description": "Returns the properties of an Azure Stack edge subscriptions.",
          "operationId": "EdgeSubscriptions_Get",
          "parameters": [
            {
              "$ref": "AzureStack.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/ResourceGroupNameParameter"
            },
            {
                "$ref": "AzureStack.json#/parameters/EdgeSubscriptionNameParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/EdgeSubscription"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "AzureStack.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        },
        "delete": {
          "x-ms-examples": {
            "Delete the requested Azure Stack edge subscription.": {
              "$ref": "examples/EdgeSubscription/DeleteEdgeSub.json"
            }
          },
          "tags": [
            "EdgeSubscriptions"
          ],
          "description": "Delete the requested Azure Stack edge subscription.",
          "operationId": "EdgeSubscriptions_Delete",
          "parameters": [
            {
              "$ref": "AzureStack.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/EdgeSubscriptionNameParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "204": {
              "description": "NO CONTENT"
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "AzureStack.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "x-ms-examples": {
            "Create or update an Azure Stack registration.": {
              "$ref": "examples/EdgeSubscription/PutEdgeSub.json"
            }
          },
          "tags": [
            "Registrations"
          ],
          "description": "Create or update an Azure Stack registration.",
          "operationId": "Registrations_CreateOrUpdate",
          "parameters": [
            {
              "$ref": "AzureStack.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/EdgeSubscriptionNameParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/EdgeSubscriptionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Registration"
              }
            },
            "201": {
              "description": "CREATED",
              "schema": {
                "$ref": "#/definitions/Registration"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/edgeSubscriptions?deviceId={deviceId}": {
        "get": {
          "x-ms-examples": {
            "Returns a list of edge suscriptions with a given deviceId.": {
              "$ref": "examples/EdgeSubscription/ListDeviceId.json"
            }
          },
          "tags": [
            "EdgeSubscriptions"
          ],
          "description": "Returns the properties of an Azure Stack edge subscriptions.",
          "operationId": "EdgeSubscriptions_GetDeviceSubs",
          "parameters": [
            {
              "$ref": "AzureStack.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/ResourceGroupNameParameter"
            },
            {
                "$ref": "AzureStack.json#/parameters/DeviceIdParameter"
            },
            {
              "$ref": "AzureStack.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/EdgeSubscription"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "AzureStack.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
    },
    "definitions": {
      "EdgeSubscriptionList": {
        "description": "Pageable list of edge subscriptions.",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of Edge Subscriptions",
            "type": "array",
            "items": {
              "$ref": "#/definitions/EdgeSubscription"
            }
          }
        }
      },
      "EdgeSubscription": {
        "description": "Edge Subscription information.",
        "type": "object",
        "properties": {
          "properties": {
            "description": "Edge subscription resource.",
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/EdgeSubscriptionProperties"
          }
        },
        "allOf": [
          {
            "$ref": "AzureStack.json#/definitions/TrackedResource"
          }
        ]
      },
      "EdgeSubscriptionProperties": {
        "description": "Properties portion of the edge subscription resource.",
        "type": "object",
        "properties": {
          "remoteSubscriptionId": {
            "description": "Guid of subscription on the edge device",
            "type": "string"
          },
          "registrationResourceId": {
            "description": "Registration resource id for the edge device",
            "type": "string"
          },
          "deviceId": {
            "description": "Edge device id",
            "type": "string"
          },
          "deviceObjectId": {
            "description": "Edge device AAD service principal object id",
            "type": "string"
          }
        }
      }
    },
    "parameters": {
      "EdgeSubscriptionNameParameter": {
        "description": "Name of the edge subscription",
        "name": "edgeSubscriptionName",
        "type": "string",
        "in": "path",
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "DeviceIdParameter": {
        "description": "Device Id",
        "name": "deviceId",
        "type": "string",
        "in": "path",
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "EdgeSubscriptionParameter": {
        "description": "Parameters use to create a edge subscription.",
        "name": "edgeSubscriptionParameters",
        "schema": {
          "$ref": "#/definitions/EdgeSubscription"
        },
        "in": "body",
        "required": true,
        "x-ms-parameter-location": "method"
      }
      
    },
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ]
  }
  