{
    "swagger": "2.0",
    "info": {
      "version": "2020-06-01-preview",
      "title": "Azure Stack Azure Bridge Client"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/edgeSubscriptions": {
        "get": {
          "x-ms-examples": {
            "Returns a list of all edge suscriptions.": {
              "$ref": "examples/EdgeSubscription/ListEdgeSubs.json"
            }
          },
          "tags": [
            "EdgeSubscriptions"
          ],
          "description": "Returns a list of all edge subscriptions.",
          "operationId": "EdgeSubscriptions_List",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/DeviceIdParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/EdgeSubscriptionList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/edgeSubscriptions/{edgeSubscriptionName}": {
        "get": {
          "x-ms-examples": {
            "Returns the properties of an edge suscription.": {
              "$ref": "examples/EdgeSubscription/GetEdgeSub.json"
            }
          },
          "tags": [
            "EdgeSubscriptions"
          ],
          "description": "Returns the properties of an Azure Stack edge subscriptions.",
          "operationId": "EdgeSubscriptions_Get",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
                "$ref": "#/parameters/EdgeSubscriptionNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/EdgeSubscription"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
            
          }
        },
        "delete": {
          "x-ms-examples": {
            "Delete the requested Azure Stack edge subscription.": {
              "$ref": "examples/EdgeSubscription/DeleteEdgeSub.json"
            }
          },
          "tags": [
            "EdgeSubscriptions"
          ],
          "description": "Delete the requested Azure Stack edge subscription.",
          "operationId": "EdgeSubscriptions_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/EdgeSubscriptionNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "204": {
              "description": "NO CONTENT"
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "x-ms-examples": {
            "Create or update an Azure Stack registration.": {
              "$ref": "examples/EdgeSubscription/PutEdgeSub.json"
            }
          },
          "tags": [
            "EdgeSubscriptions"
          ],
          "description": "Create a new edge subscription",
          "operationId": "EdgeSubscriptions_Create",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/EdgeSubscriptionNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/NewEdgeSubscriptionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/EdgeSubscription"
              }
            },
            "201": {
              "description": "CREATED",
              "schema": {
                "$ref": "#/definitions/EdgeSubscription"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "TrackedResource": {
        "description": "Base resource object.",
        "type": "object",
        "properties": {
          "id": {
            "readOnly": true,
            "description": "ID of the resource.",
            "type": "string"
          },
          "name": {
            "readOnly": true,
            "description": "Name of the resource.",
            "type": "string"
          },
          "type": {
            "readOnly": true,
            "description": "Type of Resource.",
            "type": "string"
          },
          "location": {
            "description": "Location of the resource.",
            "type": "string",
            "enum": [
              "global"
            ],
            "x-ms-enum": {
              "name": "Location",
              "modelAsString": true
            },
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "tags": {
            "description": "Custom tags for the resource.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "etag": {
            "description": "The entity tag used for optimistic concurrency when modifying the resource.",
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "x-ms-azure-resource": true
      },
      "ErrorDetails": {
        "description": "The details of the error.",
        "properties": {
          "code": {
            "description": "Error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string",
            "readOnly": true
          },
          "target": {
            "description": "The target of the particular error.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "ErrorResponse": {
        "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
        "type": "object",
        "properties": {
          "error": {
            "description": "The details of the error.",
            "$ref": "#/definitions/ErrorDetails"
          }
        }
      },
      "EdgeSubscriptionList": {
        "description": "Pageable list of edge subscriptions.",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of Edge Subscriptions",
            "type": "array",
            "items": {
              "$ref": "#/definitions/EdgeSubscription"
            }
          }
        }
      },
      "EdgeSubscription": {
        "description": "Edge Subscription information.",
        "type": "object",
        "properties": {
          "properties": {
            "description": "Edge subscription resource.",
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/EdgeSubscriptionProperties"
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/TrackedResource"
          }
        ]
      },
      "EdgeSubscriptionProperties": {
        "description": "Properties portion of the edge subscription resource.",
        "type": "object",
        "properties": {
          "remoteSubscriptionId": {
            "description": "Guid of subscription on the edge device",
            "type": "string"
          },
          "registrationResourceId": {
            "description": "Registration resource id for the edge device",
            "type": "string"
          },
          "deviceId": {
            "description": "Edge device id",
            "type": "string"
          },
          "deviceObjectId": {
            "description": "Edge device AAD service principal object id",
            "type": "string"
          }
        }
      }
    },
    "parameters": {
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required": true,
        "type": "string"
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "description": "Client API Version.",
        "required": true,
        "type": "string",
        "default": "2020-06-01-preview"
      },
      "ResourceGroupNameParameter": {
        "description": "Name of the resource group.",
        "name": "resourceGroup",
        "in": "path",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
      },
      "EdgeSubscriptionNameParameter": {
        "description": "Name of the edge subscription",
        "name": "edgeSubscriptionName",
        "type": "string",
        "in": "path",
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "DeviceIdParameter": {
        "description": "Device Id",
        "name": "deviceId",
        "type": "string",
        "in": "query",
        "required": false,
        "x-ms-parameter-location": "method"
      },
      "NewEdgeSubscriptionParameter": {
        "description": "Edge subscription object",
        "name": "edgeSubscription",
        "in": "body",
        "schema": {
          "$ref": "#/definitions/EdgeSubscription"
        },
        "required": true,
        "x-ms-parameter-location": "method"
      }      
    },
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ]
  }
  