{
  "swagger": "2.0",
  "info": {
    "description": "API for managing Virtustream Private Clouds through Azure.",
    "version": "2016-09-01-preview",
    "title": "Virtustream Private Cloud Resource Provider API"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "PrivateClouds",
      "description": ""
    },
    {
      "name": "Clusters",
      "description": ""
    }
  ],
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Unique identifier for the Azure subscription"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the resource group within the Azure subscription",
      "x-ms-parameter-location": "method"
    },
    "apiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of Azure VMware Solution by Virtustream API to be used with the client request"
    },
    "privateCloudName": {
      "name": "privateCloudName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the private cloud",
      "x-ms-parameter-location": "method"
    },
    "clusterName": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the cluster in the private cloud",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/providers/Microsoft.VMwareVirtustream/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available operations",
        "operationId": "Operations_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Request has succeeded",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareVirtustream/privateClouds": {
      "get": {
        "operationId": "PrivateClouds_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "tags": [
          "PrivateClouds"
        ],
        "summary": "List private clouds in a resource group",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PrivateCloudResponseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateClouds_List": {
            "$ref": "./examples/PrivateClouds_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareVirtustream/privateClouds/{privateCloudName}": {
      "get": {
        "operationId": "PrivateClouds_Get",
        "tags": [
          "PrivateClouds"
        ],
        "summary": "Get a private cloud",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PrivateCloudResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateClouds_Get": {
            "$ref": "./examples/PrivateClouds_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateClouds_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "tags": [
          "PrivateClouds"
        ],
        "summary": "Create or update a private cloud",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateCloudRequest"
            }
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PrivateCloudResponse"
            }
          },
          "202": {
            "description": "accepted operation"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateClouds_CreateOrUpdate": {
            "$ref": "./examples/PrivateClouds_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateClouds_Delete",
        "x-ms-long-running-operation": true,
        "tags": [
          "PrivateClouds"
        ],
        "summary": "Delete a private cloud",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "202": {
            "description": "accepted operation"
          },
          "204": {
            "description": "no content"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateClouds_Delete": {
            "$ref": "./examples/PrivateClouds_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareVirtustream/privateClouds/{privateCloudName}/clusters": {
      "get": {
        "operationId": "Clusters_List",
        "tags": [
          "Clusters"
        ],
        "summary": "List clusters in a private cloud",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ClusterResponse"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_List": {
            "$ref": "./examples/Clusters_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareVirtustream/privateClouds/{privateCloudName}/clusters/{clusterName}": {
      "get": {
        "operationId": "Clusters_Get",
        "tags": [
          "Clusters"
        ],
        "summary": "Get a cluster by name in a private cloud",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "$ref": "#/parameters/clusterName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ClusterResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_Get": {
            "$ref": "./examples/Clusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Clusters_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "tags": [
          "Clusters"
        ],
        "summary": "Create or update a cluster in a private cloud",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "privateCloudName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the private cloud."
          },
          {
            "$ref": "#/parameters/clusterName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterRequest"
            }
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ClusterResponse"
            }
          },
          "202": {
            "description": "accepted operation"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_CreateOrUpdate": {
            "$ref": "./examples/Clusters_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Clusters_Update",
        "x-ms-long-running-operation": true,
        "tags": [
          "Clusters"
        ],
        "summary": "Update a cluster in a private cloud",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "$ref": "#/parameters/clusterName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterRequest"
            }
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ClusterResponse"
            }
          },
          "202": {
            "description": "accepted operation"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_Update": {
            "$ref": "./examples/Clusters_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Clusters_Delete",
        "x-ms-long-running-operation": true,
        "tags": [
          "Clusters"
        ],
        "summary": "Delete a cluster in a private cloud",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "$ref": "#/parameters/clusterName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "202": {
            "description": "accepted operation"
          },
          "204": {
            "description": "no content"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_Delete": {
            "$ref": "./examples/Clusters_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareVirtustream/privateClouds/{privateCloudName}/addAuthorization/{authorizationName}": {
      "post": {
        "operationId": "PrivateClouds_AddAuthorization",
        "x-ms-long-running-operation": true,
        "tags": [
          "PrivateClouds"
        ],
        "summary": "Add ExpressRoute circuit authorization",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "name": "authorizationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the ExpressRoute circuit authorization"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PrivateCloudResponse"
            }
          },
          "202": {
            "description": "accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateClouds_AddAuthorization": {
            "$ref": "./examples/PrivateClouds_AddAuthorization.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareVirtustream/privateClouds/{privateCloudName}/deleteAuthorization/{authorizationName}": {
      "post": {
        "operationId": "PrivateClouds_DeleteAuthorization",
        "x-ms-long-running-operation": true,
        "tags": [
          "PrivateClouds"
        ],
        "summary": "Delete ExpressRoute circuit authorization",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "name": "authorizationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the ER authorization."
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PrivateCloudResponse"
            }
          },
          "202": {
            "description": "accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateClouds_DeleteAuthorization": {
            "$ref": "./examples/PrivateClouds_DeleteAuthorization.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareVirtustream/privateClouds/{privateCloudName}/addIdentitySource": {
      "post": {
        "operationId": "PrivateClouds_AddIdentitySource",
        "x-ms-long-running-operation": true,
        "tags": [
          "PrivateClouds"
        ],
        "summary": "Add an identity source to the private cloud",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddIdentitySourceRequest"
            }
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PrivateCloudResponse"
            }
          },
          "202": {
            "description": "accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateClouds_AddIdentitySource": {
            "$ref": "./examples/PrivateClouds_AddIdentitySource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareVirtustream/privateClouds/{privateCloudName}/deleteIdentitySource": {
      "post": {
        "operationId": "PrivateClouds_DeleteIdentitySource",
        "x-ms-long-running-operation": true,
        "tags": [
          "PrivateClouds"
        ],
        "summary": "Delete an identity source from the private cloud",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteIdentitySourceRequest"
            }
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PrivateCloudResponse"
            }
          },
          "202": {
            "description": "accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateClouds_DeleteIdentitySource": {
            "$ref": "./examples/PrivateClouds_DeleteIdentitySource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareVirtustream/privateClouds/{privateCloudName}/getAdminCredentials": {
      "post": {
        "operationId": "PrivateClouds_GetAdminCredentials",
        "tags": [
          "PrivateClouds"
        ],
        "summary": "Get the admin credentials for the private cloud",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/privateCloudName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GetAdminCredentialsResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateClouds_GetAdminCredentials": {
            "$ref": "./examples/PrivateClouds_GetAdminCredentials.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApiError": {
      "properties": {
        "error": {
          "$ref": "#/definitions/ApiErrorBase"
        }
      },
      "description": "API error response"
    },
    "ApiErrorBase": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code"
        },
        "message": {
          "type": "string",
          "description": "Error message"
        }
      },
      "description": "Api error."
    },
    "OperationList": {
      "description": "Pageable list of operations",
      "properties": {
        "value": {
          "description": "List of operations",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next page if any",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "A REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation being performed on this object",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "Contains the localized display information for this operation",
          "readOnly": true,
          "properties": {
            "provider": {
              "description": "Localized friendly form of the resource provider name",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Localized friendly form of the resource type related to this operation",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Localized friendly name for the operation",
              "type": "string",
              "readOnly": true
            },
            "description": {
              "description": "Localized friendly description for the operation",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "ExpressRouteAuthorization": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "Circuit": {
      "properties": {
        "primarySubnet": {
          "type": "string",
          "description": "CIDR of primary subnet"
        },
        "secondarySubnet": {
          "type": "string",
          "description": "CIDR of secondary subnet"
        },
        "expressRouteID": {
          "type": "string",
          "description": "Identifier of the ExpressRoute (Microsoft Colo only)"
        },
        "authorizations": {
          "type": "array",
          "description": "Authorizations for the ExpressRoute (Microsoft Colo only)",
          "items": {
            "$ref": "#/definitions/ExpressRouteAuthorization"
          }
        }
      }
    },
    "ClusterDetail": {
      "properties": {
        "clusterSize": {
          "type": "integer",
          "description": "Number of hosts in the cluster"
        }
      }
    },
    "Vpc": {
      "type": "string"
    },
    "Endpoints": {
      "properties": {
        "nsxManager": {
          "type": "string"
        },
        "vcsa": {
          "type": "string"
        }
      }
    },
    "AddIdentitySourceRequest": {
      "properties": {
        "name": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "baseUserDN": {
          "type": "string"
        },
        "baseGroupDN": {
          "type": "string"
        },
        "primaryServer": {
          "type": "string"
        },
        "secondaryServer": {
          "type": "string"
        },
        "useSsl": {
          "type": "boolean"
        },
        "username": {
          "type": "string"
        },
        "credential": {
          "type": "string"
        }
      }
    },
    "DeleteIdentitySourceRequest": {
      "properties": {
        "name": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        }
      }
    },
    "IdentitySource": {
      "properties": {
        "name": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "baseUserDN": {
          "type": "string"
        },
        "baseGroupDN": {
          "type": "string"
        },
        "primaryServer": {
          "type": "string"
        },
        "secondaryServer": {
          "type": "string"
        },
        "useSsl": {
          "type": "boolean"
        }
      }
    },
    "PrivateCloud": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Cancelled",
            "Pending",
            "Building",
            "Updating"
          ]
        },
        "circuit": {
          "$ref": "#/definitions/Circuit"
        },
        "cluster": {
          "$ref": "#/definitions/Cluster"
        },
        "clusters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endpoints": {
          "$ref": "#/definitions/Endpoints"
        },
        "internetEnabled": {
          "type": "boolean"
        },
        "identitySources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IdentitySource"
          }
        },
        "vpc": {
          "$ref": "#/definitions/Vpc"
        }
      }
    },
    "Cluster": {
      "properties": {
        "clusterId": {
          "type": "integer"
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Cancelled",
            "Updating"
          ]
        },
        "clusterSize": {
          "type": "integer",
          "minimum": 3,
          "maximum": 16
        },
        "hosts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrivateCloudRequest": {
      "properties": {
        "location": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/PrivateCloud"
        },
        "tags": {
          "type": "object"
        }
      }
    },
    "PrivateCloudResponse": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateCloud"
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "type": "object"
        }
      },
      "x-ms-azure-resource": true
    },
    "PrivateCloudResponseList": {
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/PrivateCloudResponse"
          }
        }
      }
    },
    "ClusterRequest": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterDetail"
        }
      }
    },
    "ClusterResponse": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/Cluster"
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "GetAdminCredentialsResponse": {
      "properties": {
        "nsxUser": {
          "type": "string"
        },
        "nsxPassword": {
          "type": "string"
        },
        "user": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    }
  }
}