{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ApplicationMigration management service",
    "version": "2026-02-02-preview",
    "description": "Microsoft.ApplicationMigration Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DiscoveryHubs"
    },
    {
      "name": "Applications"
    },
    {
      "name": "Members"
    }
  ],
  "paths": {
    "/providers/Microsoft.ApplicationMigration/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApplicationMigration/discoveryHubs": {
      "get": {
        "operationId": "DiscoveryHubs_ListBySubscription",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Lists all DiscoveryHub resources in the specified subscription.",
        "description": "List DiscoveryHub resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryHubListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all DiscoveryHub resources in the specified subscription.": {
            "$ref": "./examples/DiscoveryHubs_ListBySubscription_MaximumSet_Gen.json"
          },
          "Lists all DiscoveryHub resources in the specified subscription. - generated by [MinimumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/applications": {
      "get": {
        "operationId": "Applications_ListBySubscription",
        "tags": [
          "Applications"
        ],
        "summary": "Lists Application resources by subscription.",
        "description": "List Application resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists Application resources by subscription.": {
            "$ref": "./examples/Applications_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs": {
      "get": {
        "operationId": "DiscoveryHubs_ListByResourceGroup",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Lists all DiscoveryHub resources in the specified resource group.",
        "description": "List DiscoveryHub resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryHubListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all DiscoveryHub resources in the specified resource group.": {
            "$ref": "./examples/DiscoveryHubs_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Lists all DiscoveryHub resources in the specified resource group. - generated by [MinimumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}": {
      "get": {
        "operationId": "DiscoveryHubs_Get",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Retrieves the specified DiscoveryHub resource.",
        "description": "Get a DiscoveryHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves the specified DiscoveryHub resource.": {
            "$ref": "./examples/DiscoveryHubs_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DiscoveryHubs_CreateOrUpdate",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Creates or updates a DiscoveryHub resource.",
        "description": "Create a DiscoveryHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoveryHub"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DiscoveryHub' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DiscoveryHub"
            }
          },
          "201": {
            "description": "Resource 'DiscoveryHub' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DiscoveryHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates a DiscoveryHub resource.": {
            "$ref": "./examples/DiscoveryHubs_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "DiscoveryHubs_Update",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Updates the specified properties of a DiscoveryHub resource.",
        "description": "Update a DiscoveryHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoveryHubUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates the specified properties of a DiscoveryHub resource.": {
            "$ref": "./examples/DiscoveryHubs_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DiscoveryHubs_Delete",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Deletes the specified DiscoveryHub resource.",
        "description": "Delete a DiscoveryHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes the specified DiscoveryHub resource.": {
            "$ref": "./examples/DiscoveryHubs_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/applications": {
      "get": {
        "operationId": "Applications_ListByResourceGroup",
        "tags": [
          "Applications"
        ],
        "summary": "Lists Application resources by resource group.",
        "description": "List Application resources by DiscoveryHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists Application resources by resource group.": {
            "$ref": "./examples/Applications_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/applications/{applicationName}": {
      "get": {
        "operationId": "Applications_Get",
        "tags": [
          "Applications"
        ],
        "summary": "Retrieves an Application resource.",
        "description": "Get a Application",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves an Application resource.": {
            "$ref": "./examples/Applications_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Applications_CreateOrUpdate",
        "tags": [
          "Applications"
        ],
        "summary": "Creates or updates an Application resource synchronously.",
        "description": "Create a Application",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Application' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Resource 'Application' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates an Application resource synchronously.": {
            "$ref": "./examples/Applications_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Applications_Update",
        "tags": [
          "Applications"
        ],
        "summary": "Updates an Application resource synchronously.",
        "description": "Update a Application",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates an Application resource synchronously.": {
            "$ref": "./examples/Applications_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Applications_Delete",
        "tags": [
          "Applications"
        ],
        "summary": "Deletes an Application resource synchronously.",
        "description": "Delete a Application",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an Application resource synchronously.": {
            "$ref": "./examples/Applications_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/applications/{applicationName}/members": {
      "get": {
        "operationId": "Members_ListByApplication",
        "tags": [
          "Members"
        ],
        "summary": "List members in an Application.",
        "description": "List Member resources by Application",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MemberListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List members in an Application.": {
            "$ref": "./examples/Members_ListByApplication_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/applications/{applicationName}/members/{memberName}": {
      "get": {
        "operationId": "Members_Get",
        "tags": [
          "Members"
        ],
        "summary": "Get a member resource.",
        "description": "Get a Member",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "memberName",
            "in": "path",
            "description": "The name of the Member",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a member resource.": {
            "$ref": "./examples/Members_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Members_CreateOrUpdate",
        "tags": [
          "Members"
        ],
        "summary": "Create or update a member resource.",
        "description": "Create a Member",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "memberName",
            "in": "path",
            "description": "The name of the Member",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Member' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          },
          "201": {
            "description": "Resource 'Member' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a member resource.": {
            "$ref": "./examples/Members_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Members_Update",
        "tags": [
          "Members"
        ],
        "summary": "Update a member resource.",
        "description": "Update a Member",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "memberName",
            "in": "path",
            "description": "The name of the Member",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MemberUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a member resource.": {
            "$ref": "./examples/Members_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Members_Delete",
        "tags": [
          "Members"
        ],
        "summary": "Delete a member resource.",
        "description": "Delete a Member",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "memberName",
            "in": "path",
            "description": "The name of the Member",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a member resource.": {
            "$ref": "./examples/Members_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/fetchSasUri": {
      "post": {
        "operationId": "DiscoveryHubs_FetchSasUri",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Returns a SAS uri that can be used to upload the import applications csv.",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FetchSasUriResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Returns a SAS uri that can be used to upload the import applications csv. - generated by [MaximumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_FetchSasUri_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/startAutoAppDiscovery": {
      "post": {
        "operationId": "DiscoveryHubs_StartAutoAppDiscovery",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Initiates automatic discovery of applications from uploaded inventory.",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoDiscoverAppsRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Azure operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Initiates automatic discovery of applications from uploaded inventory.": {
            "$ref": "./examples/DiscoveryHubs_StartAutoAppDiscovery_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/startImportApplications": {
      "post": {
        "operationId": "DiscoveryHubs_StartImportApplications",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Imports applications from a CSV file into the DiscoveryHub resource.",
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportApplicationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImportApplicationsOperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Imports applications from a CSV file into the DiscoveryHub resource. - generated by [MaximumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_StartImportApplications_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ImportApplicationsOperationStatusResult"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AppDiscoveryFeatureState": {
      "type": "string",
      "description": "The feature state of application discovery.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AppDiscoveryFeatureState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Application discovery feature is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Application discovery feature is disabled."
          }
        ]
      }
    },
    "AppDiscoveryState": {
      "type": "object",
      "description": "Application discovery settings and runtime status.",
      "properties": {
        "featureState": {
          "$ref": "#/definitions/AppDiscoveryFeatureState",
          "description": "Indicates whether the application discovery feature is enabled or disabled."
        },
        "status": {
          "$ref": "#/definitions/AppDiscoveryStatus",
          "description": "The current operational status of application discovery.",
          "readOnly": true
        },
        "lastAttemptedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when discovery was last attempted.",
          "readOnly": true
        },
        "errors": {
          "type": "array",
          "description": "Errors encountered during the most recent discovery operation.",
          "items": {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "summary": {
          "$ref": "#/definitions/AppDiscoverySummary",
          "description": "Summary of the current or most recent discovery operation.",
          "readOnly": true
        }
      }
    },
    "AppDiscoveryStatus": {
      "type": "string",
      "description": "The operational status of application discovery.",
      "enum": [
        "NotStarted",
        "InProgress",
        "Completed",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "AppDiscoveryStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotStarted",
            "value": "NotStarted",
            "description": "Application discovery has not been started."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Application discovery is in progress."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Application discovery has completed successfully."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Application discovery has failed."
          }
        ]
      }
    },
    "AppDiscoverySummary": {
      "type": "object",
      "description": "Progress tracking information for application discovery.",
      "properties": {
        "machineProcessingPercentage": {
          "type": "number",
          "format": "float",
          "description": "Percentage of machines that have been processed for application discovery.",
          "minimum": 0,
          "maximum": 100
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the auto app discovery operation."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time the auto app discovery operation."
        },
        "discoveredApplications": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of applications discovered so far.",
          "minimum": 0
        },
        "machineCoveragePercentage": {
          "type": "number",
          "format": "float",
          "description": "Percentage of machines that have been identified as part of applications.",
          "minimum": 0,
          "maximum": 100
        },
        "totalMachines": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of machines being processed for discovery.",
          "minimum": 0
        },
        "processedMachines": {
          "type": "integer",
          "format": "int32",
          "description": "Number of machines that have been processed.",
          "minimum": 0
        },
        "machinesInApplications": {
          "type": "integer",
          "format": "int32",
          "description": "Number of machines that are part of discovered applications.",
          "minimum": 0
        }
      }
    },
    "AppOperationType": {
      "type": "string",
      "description": "The operation type for import applications.",
      "enum": [
        "ImportApplications"
      ],
      "x-ms-enum": {
        "name": "AppOperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "ImportApplications",
            "value": "ImportApplications",
            "description": "The import applications operation type."
          }
        ]
      }
    },
    "Application": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ApplicationListResult": {
      "type": "object",
      "description": "The response of a Application list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Application items on this page",
          "items": {
            "$ref": "#/definitions/Application"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApplicationProperties": {
      "type": "object",
      "description": "Model representing the properties of an application.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the application."
        },
        "tags": {
          "type": "object",
          "description": "The tags of the application.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher of the application."
        },
        "applicationType": {
          "$ref": "#/definitions/ApplicationType",
          "description": "The type of the application."
        },
        "technologyStack": {
          "type": "array",
          "description": "The technology stack of the application.",
          "items": {
            "type": "string"
          }
        },
        "businessCriticality": {
          "$ref": "#/definitions/BusinessCriticality",
          "description": "The business criticality of the application."
        },
        "complexity": {
          "$ref": "#/definitions/Complexity",
          "description": "The complexity of the application."
        },
        "managedBy": {
          "$ref": "#/definitions/ManagedBy",
          "description": "The entity that manages the application."
        },
        "confidenceScore": {
          "type": "number",
          "format": "float",
          "description": "The confidence score for the application (used in autoAppDiscovery).",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning status of Application.",
          "readOnly": true
        },
        "codeScanDetails": {
          "type": "array",
          "description": "The code scan details for the application.",
          "items": {
            "$ref": "#/definitions/CodeScanDetail"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "ApplicationType": {
      "type": "string",
      "description": "The enum defining type of application.",
      "enum": [
        "COTS",
        "Custom"
      ],
      "x-ms-enum": {
        "name": "ApplicationType",
        "modelAsString": true,
        "values": [
          {
            "name": "COTS",
            "value": "COTS",
            "description": "The application is a Commercial Off the Shelf application."
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "The application is a custom developed application."
          }
        ]
      }
    },
    "ApplicationUpdate": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AutoDiscoverAppsRequest": {
      "type": "object",
      "description": "Request model for the auto-discover applications operation.",
      "properties": {
        "forceDiscover": {
          "type": "boolean",
          "description": "Flag to force rediscovery even if discovery was already completed."
        }
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "AzureTarget": {
      "type": "string",
      "description": "The enum defining the Azure target platform.",
      "enum": [
        "Unknown",
        "AKS",
        "AzureAppService",
        "AzureAppServiceContainer"
      ],
      "x-ms-enum": {
        "name": "AzureTarget",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown target."
          },
          {
            "name": "AKS",
            "value": "AKS",
            "description": "Azure Kubernetes Service."
          },
          {
            "name": "AzureAppService",
            "value": "AzureAppService",
            "description": "Azure App Service (Code based deployment)."
          },
          {
            "name": "AzureAppServiceContainer",
            "value": "AzureAppServiceContainer",
            "description": "Azure App Service (Container based deployment)."
          }
        ]
      }
    },
    "BusinessCriticality": {
      "type": "string",
      "description": "The enum defining the business criticality of the application.",
      "enum": [
        "Low",
        "Medium",
        "High"
      ],
      "x-ms-enum": {
        "name": "BusinessCriticality",
        "modelAsString": true,
        "values": [
          {
            "name": "Low",
            "value": "Low",
            "description": "The application has low criticality for the business."
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "The application has medium criticality for the business."
          },
          {
            "name": "High",
            "value": "High",
            "description": "The application is highly critical for the business."
          }
        ]
      }
    },
    "CodeScanDetail": {
      "type": "object",
      "description": "Model representing the code scan details for an application.",
      "properties": {
        "codeScanTool": {
          "$ref": "#/definitions/CodeScanTool",
          "description": "The code scan tool used to scan the application."
        },
        "azureTarget": {
          "$ref": "#/definitions/AzureTarget",
          "description": "The Azure target platform for migration."
        },
        "totalCodeScanIssues": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of code scan issues found.",
          "minimum": 0
        }
      },
      "required": [
        "codeScanTool",
        "azureTarget",
        "totalCodeScanIssues"
      ]
    },
    "CodeScanTool": {
      "type": "string",
      "description": "The enum defining the code scan tool.",
      "enum": [
        "APPCAT",
        "CAST"
      ],
      "x-ms-enum": {
        "name": "CodeScanTool",
        "modelAsString": true,
        "values": [
          {
            "name": "APPCAT",
            "value": "APPCAT",
            "description": "Application Containerization and Assessment Tool."
          },
          {
            "name": "CAST",
            "value": "CAST",
            "description": "CAST code analysis tool."
          }
        ]
      }
    },
    "Complexity": {
      "type": "string",
      "description": "The enum defining the complexity of the application.",
      "enum": [
        "Low",
        "Medium",
        "High"
      ],
      "x-ms-enum": {
        "name": "Complexity",
        "modelAsString": true,
        "values": [
          {
            "name": "Low",
            "value": "Low",
            "description": "The application is simple, with minimal dependencies and straightforward functionality."
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "The application has moderate interdependencies and requires some coordination between components."
          },
          {
            "name": "High",
            "value": "High",
            "description": "The application is intricate, with multiple interdependent components and complex interactions."
          }
        ]
      }
    },
    "DiscoveryHub": {
      "type": "object",
      "description": "The top level management resource for Application Discovery.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiscoveryHubProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DiscoveryHubListResult": {
      "type": "object",
      "description": "The response of a DiscoveryHub list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DiscoveryHub items on this page",
          "items": {
            "$ref": "#/definitions/DiscoveryHub"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DiscoveryHubProperties": {
      "type": "object",
      "description": "The properties of the DiscoveryHub resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the DiscoveryHub resource.",
          "readOnly": true
        },
        "masterSiteId": {
          "type": "string",
          "format": "arm-id",
          "description": "The masterSite identifier associated with the discovery hub."
        },
        "appDiscovery": {
          "$ref": "#/definitions/AppDiscoveryState",
          "description": "Application discovery settings and runtime status."
        }
      }
    },
    "DiscoveryHubUpdate": {
      "type": "object",
      "description": "The top level management resource for Application Discovery.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiscoveryHubProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "FetchSasUriResult": {
      "type": "object",
      "description": "Model representing the result of the fetch SAS URI operation.",
      "properties": {
        "importApplicationsSasUri": {
          "type": "string",
          "description": "The SAS URI to upload the import applications csv."
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "description": "The expiration time of the SAS uri."
        }
      },
      "required": [
        "importApplicationsSasUri",
        "expirationTime"
      ]
    },
    "ImportApplicationOperationStatus": {
      "type": "string",
      "description": "The status of the import operation.",
      "enum": [
        "Accepted",
        "InProgress",
        "Succeeded",
        "PartiallySucceeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ImportApplicationOperationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The import operation status - Accepted."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The import operation status - InProgress."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The import operation status - Succeeded."
          },
          {
            "name": "PartiallySucceeded",
            "value": "PartiallySucceeded",
            "description": "The import operation status - PartiallySucceeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The import operation status - Failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The import operation status - Canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ImportApplicationsOperationStatusResult": {
      "type": "object",
      "description": "Model representing the status of the import applications operation.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "The status url of the import applications operation."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the operation status"
        },
        "status": {
          "type": "string",
          "description": "The overall arm status of the operation. Has to have one of the following terminal states - Succeeded/Failed/Canceled."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the operation."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time of the operation."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Contains error details if status is Failed/Canceled."
        },
        "properties": {
          "$ref": "#/definitions/ImportOperationStatusProperties",
          "description": "Additional properties applicable for import applications operation status result"
        }
      },
      "required": [
        "status"
      ]
    },
    "ImportApplicationsRequest": {
      "type": "object",
      "description": "Model representing the request to import applications.",
      "properties": {
        "importApplicationsSasUri": {
          "type": "string",
          "description": "The SAS URI of the CSV file to be imported."
        }
      },
      "required": [
        "importApplicationsSasUri"
      ]
    },
    "ImportOperationStatusProperties": {
      "type": "object",
      "description": "Model representing the properties of the import operation status.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ImportApplicationOperationStatus",
          "description": "Status of the import application request."
        },
        "operationType": {
          "$ref": "#/definitions/AppOperationType",
          "description": "The operation type of the import applications operation."
        },
        "errorExcelSasUri": {
          "type": "string",
          "format": "uri",
          "description": "The SAS URI of the Excel file containing the error data."
        },
        "noOfRowsProcessed": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows processed successfully.",
          "minimum": 0
        },
        "noOfApplicationsCreated": {
          "type": "integer",
          "format": "int32",
          "description": "The number of applications created successfully.",
          "minimum": 0
        }
      },
      "required": [
        "operationType"
      ]
    },
    "ManagedBy": {
      "type": "string",
      "description": "The enum defining the entity that manages the application.",
      "enum": [
        "System",
        "User"
      ],
      "x-ms-enum": {
        "name": "ManagedBy",
        "modelAsString": true,
        "values": [
          {
            "name": "System",
            "value": "System",
            "description": "The application is managed by the system."
          },
          {
            "name": "User",
            "value": "User",
            "description": "The application is managed by a user."
          }
        ]
      }
    },
    "Member": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MemberProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MemberListResult": {
      "type": "object",
      "description": "The response of a Member list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Member items on this page",
          "items": {
            "$ref": "#/definitions/Member"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MemberProperties": {
      "type": "object",
      "description": "Model representing the properties of a member.",
      "properties": {
        "memberResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The Azure resource id of the member."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning status of Application.",
          "readOnly": true
        }
      },
      "required": [
        "memberResourceId"
      ]
    },
    "MemberPropertiesUpdate": {
      "type": "object",
      "description": "Model representing the properties of a member.",
      "properties": {
        "memberResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The Azure resource id of the member."
        }
      }
    },
    "MemberUpdate": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MemberPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted."
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
