{
  "swagger": "2.0",
  "info": {
    "title": "MediaServicesManagementClient",
    "description": "Media Services resource management APIs.",
    "version": "2015-10-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Media/CheckNameAvailability": {
      "post": {
        "operationId": "MediaService_CheckNameAvailability",
        "description": "Checks whether the Media Service resource name is available. The name must be globally unique.",
        "externalDocs": {
          "url": "https://aka.ms/media-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "CheckNameAvailabilityInput",
            "description": "Properties needed to check the availability of a name.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityInput"
            }
         }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns details about whether a Media Service resource name is available.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityOutput"
            },
            "examples": {
              "value": [
                {
                  "nameAvailable": true,
                  "reason": null,
                  "message": null
                }, 
                {  
                  "nameAvailable": false,
                  "reason": "AlreadyExists",
                  "message": "Already in use by another Media Service instance. Please try again with a name that is not likely to be in use."
                },
                {
                  "nameAvailable": false,
                  "reason": "Invalid",
                  "message": "The media service name should be between 3 and 24 characters and may contain only lowercase letters and numbers."
                }
              ]
            }
          },
          "default": {
            "description": "CheckNameAvailability of a Media Service failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices": {
      "get": {
        "operationId": "MediaService_ListByResourceGroup",
        "description": "Lists all of the Media Services in a resource group.",
        "externalDocs": {
          "url": "https://aka.ms/media-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          }
        ],        
        "responses": {
          "200": {
            "description": "Success. Returns a list of all of the Media Services accounts in a resource group.",
            "schema": {
              "$ref": "#/definitions/MediaServiceCollection"
            },
            "examples": {
              "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Media/mediaServices/{name}",
              "name": "{name}",
              "type": "Microsoft.Media/mediaServices",
              "location": "{location}",
              "tags":{ 
              },
              "properties":{  
                "apiEndpoints":[  
                  {  
                    "majorVersion": "{rest-api-version}",
                    "endpoint": "https://{rest-endpoint}/api/"
                  }
                ],
                "storageAccounts":[  
                  {  
                    "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Storage/storageAccounts/{storage-account-name}",
                    "isPrimary": "true | false"
                  }
                ]
              }
            }
          },
          "default": {
            "description": "List Media Services failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-pageable": {
            "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{mediaServiceName}": {
      "get": {
        "operationId": "MediaService_Get",
        "description": "Gets a Media Service.",
        "externalDocs": {
          "url": "https://aka.ms/media-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/mediaResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns the details of the Media Services account.",
            "schema": {
              "$ref": "#/definitions/MediaService"
            },
            "examples" : {  
              "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Media/mediaServices/{name}",
              "name": "{name}",
              "type": "Microsoft.Media/mediaServices",
              "location": "{location}",
              "tags":{  
              },
              "properties":{  
                "apiEndpoints":[  
                  {  
                    "majorVersion": "{rest-api-version}",
                    "endpoint": "https://{rest-endpoint}/api/"
                  }
                ],
                "storageAccounts":[  
                  {  
                    "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Storage/storageAccounts/{storage-account-name}",
                    "isPrimary": "true | false"
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Get Media Services failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      },
      "put": {
        "description": "Creates a Media Service.",
        "operationId": "MediaService_Create",
        "externalDocs": {
          "url": "https://aka.ms/media-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/mediaResourceNameParameter"
          },
          {
            "name": "MediaService",
            "description": "Media Service properties needed for creation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MediaService"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success. Returns the new Media Services account.",
            "schema": {
              "$ref": "#/definitions/MediaService"
            },
            "examples" : {  
              "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Media/mediaServices/{name}",
              "name": "{name}",
              "type": "Microsoft.Media/mediaServices",
              "location": "{location}",
              "tags": {  
              },
              "properties":{  
                "apiEndpoints":[  
                  {  
                    "majorVersion": "{rest-api-version}",
                    "endpoint": "https://{rest-endpoint}/api/"
                  }
                ],
                "storageAccounts":[  
                  {  
                    "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Storage/storageAccounts/{storage-account-name}",
                    "isPrimary": "true | false"
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Create Media Services failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      },
      "delete": {
        "operationId": "MediaService_Delete",
        "description": "Deletes a Media Service.",
        "externalDocs": {
          "url": "https://aka.ms/media-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/mediaResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The Media Services account was deleted."
          },
          "204": {
            "description": "No Content. The account name does not exist."
          },
          "default": {
            "description": "Delete Media Services failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      },
      "patch": {
        "operationId": "MediaService_Update",
        "description": "Updates a Media Service.",
        "externalDocs": {
          "url": "https://aka.ms/media-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/mediaResourceNameParameter"
          },
          {
            "name": "MediaService",
            "description": "Media Service properties needed for update.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MediaService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The Media Services account was updated.",
            "schema": {
              "$ref": "#/definitions/MediaService"
            },
            "examples" : {  
              "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Media/mediaServices/{name}",
              "name": "{name}",
              "type": "Microsoft.Media/mediaServices",
              "location": "{location}",
              "tags":{  
              },
              "properties":{  
                "apiEndpoints":[  
                  {  
                    "majorVersion": "{rest-api-version}",
                    "endpoint": "https://{rest-endpoint}/api/"
                  }
                ],
                "storageAccounts":[  
                  {  
                    "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Storage/storageAccounts/{storage-account-name}",
                    "isPrimary": "true | false"
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Update Media Services failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{mediaServiceName}/regenerateKey": {
      "post": {
        "operationId": "MediaService_RegenerateKey",
        "description": "Regenerates the key for a Media Service.",
        "externalDocs": {
          "url": "https://aka.ms/media-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/mediaResourceNameParameter"
          },
          {
            "name": "RegenerateKeyInput",
            "description": "Properties needed to regenerate the Media Service key.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The Media Services key specified in the input was regenerated.",
            "schema": {
              "$ref": "#/definitions/RegenerateKeyOutput"
            },
            "examples": {
              "key": "{key}"
            }
          },
          "default": {
            "description": "Regenerate Media Service key failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{mediaServiceName}/listKeys": {
      "post": {
        "operationId": "MediaService_ListKeys",
        "description": "Lists the keys for a Media Service.",
        "externalDocs": {
          "url": "https://aka.ms/media-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/mediaResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The keys for the Media Services account were listed.",
            "schema": {
              "$ref": "#/definitions/ServiceKeys"
            },
            "examples":{
              "primaryAuthEndpoint": "{primary-auth-endpoint}",
              "secondaryAuthEndpoint": "{secondaryAuthEndpoint}",
              "primaryKey": "{primaryKey}",
              "secondaryKey": "{secondaryKey}",
              "scope": "{scope}"
            }
          },
          "default": {
            "description": "List Media Service keys failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{mediaServiceName}/syncStorageKeys": {
      "post": {
        "operationId": "MediaService_SyncStorageKeys",
        "description": "Synchronizes storage account keys for a storage account associated with the Media Service account.",
        "externalDocs": {
          "url": "https://aka.ms/media-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/mediaResourceNameParameter"
          },
          {
            "name": "SyncStorageKeysInput",
            "description": "Properties needed to synchronize the keys for a storage account to the Media Service.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SyncStorageKeysInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The keys for the storage account were synchronized."
          },
          "default": {
            "description": "Synch Media Service storage keys failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ApiEndpoint": {
      "description": "The properties for a Media Services REST API endpoint.",
      "readOnly": true,
      "properties": {
        "endpoint": {
          "description": "The Media Services REST endpoint.",
          "type": "string"
        },
        "majorVersion": {
          "description": "The version of Media Services REST API.",
          "type": "string"
        }
      }
    },
    "ApiError": {
      "description": "The error returned from a failed Media Services REST API call.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message.",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityInput": {
      "description": "The request body for CheckNameAvailability API.",
      "required": [
        "name",
        "type"
      ],
      "properties": {
        "name": {
          "description": "The name of the resource. A name must be globally unique.",
          "type": "string",
          "pattern": "^[a-z0-9]",
          "minLength": 3,
          "maxLength": 24
        },
        "type": {
          "$ref": "#/definitions/ResourceType"
        }
      }
    },
    "ResourceType": {
      "description": "Type of MediaService resource.",
      "readOnly": true,
      "enum": [
        "mediaservices"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceType",
        "modelAsString": false
      }
    },    
    "CheckNameAvailabilityOutput": {
      "description": "The response body for CheckNameAvailability API.",
      "properties": {
        "NameAvailable": {
          "description": "Specifies if the name is available.",
          "type": "boolean"
        },
        "Reason": {
          "description": "Specifies the reason if the name is not available.",
          "type": "string",
          "enum": [
            "None",
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "EntityNameUnavailabilityReason",
            "modelAsString": false
          }  
        },
        "Message": {
          "description": "Specifies the detailed reason if the name is not available.",
          "type": "string"
        }
      }
    },
    "MediaService": {
      "description": "The properties of a Media Service resource.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MediaServiceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "MediaServiceCollection": {
      "description": "The collection of Media Service resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaService"
          }
        }
      }
    },
    "MediaServiceProperties": {
      "description": "The additional properties of a Media Service resource.",
      "properties": {
        "apiEndpoints": {
          "description": "Read-only property that lists the Media Services REST API endpoints for this resource. If supplied on a PUT or PATCH, the value will be ignored.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiEndpoint"
          }
        },
        "storageAccounts": {
          "description": "The storage accounts for this resource.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageAccount"
          }
        }
      }
    },
    "RegenerateKeyInput": {
      "description": "The request body for a RegenerateKey API.",
      "properties": {
        "keyType": {
          "description": "The keyType indicating which key you want to regenerate, Primary or Secondary.",
          "type": "string",
          "enum": [
            "Primary",
            "Secondary"  
          ],
          "x-ms-enum": {
            "name": "KeyType",
            "modelAsString": false
          }  
        }
      },
      "required": [
         "keyType"
      ]
    },
    "RegenerateKeyOutput": {
      "description": "The response body for a RegenerateKey API.",
      "properties": {
        "key": {
          "description": "The new value of either the primary or secondary key.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "The Azure Resource Manager resource.",
      "properties": {
        "id": {
          "description": "The id of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The name of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "The type of the resource",
          "readOnly": true,
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    },
    "ServiceKeys": {
      "description": "The response body for a ListKeys API.",
      "properties": {
        "primaryAuthEndpoint": {
          "description": "The primary Authorization endpoint.",
          "type": "string"
        },
        "secondaryAuthEndpoint": {
          "description": "The secondary Authorization endpoint.",
          "type": "string"
        },
        "primaryKey": {
          "description": "The primary resource.",
          "type": "string"
        },
        "secondaryKey": {
          "description": "The secondary resource.",
          "type": "string"
        },
        "scope": {
          "description": "The authorization scope.",
          "type": "string"
        }
      }
    },
    "StorageAccount": {
      "description": "The properties of a storage account associated with this resource.",
      "properties": {
        "id": {
          "description": "The id of the storage account resource.",
          "type": "string"
        },
        "isPrimary": {
          "description": "Is this storage account resource the primary storage account for the Media Service resource.",
          "type": "boolean"
        }
      }
    },
    "SyncStorageKeysInput": {
      "description": "The request  body for a SyncStorageKeys API.",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "description": "The id of the storage account resource.",
          "type": "string"
        }
      }
    },
    "TrackedResource": {
      "description": "ARM tracked resource",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "location"
      ],
      "properties": {
        "location": {
          "description": "The location of the resource.",
          "type": "string"
        },
        "tags": {
          "description": "The tags of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "description": "Azure subscription id.",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "description": "Name of the resource group within the Azure subscription.",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "mediaResourceNameParameter": {
      "name": "mediaServiceName",
      "description": "Name of the Media Service.",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z0-9]",
      "minLength": 3,
      "maxLength": 24
    },
    "apiVersionParameter": {
      "name": "api-version",
      "description": "Version of the API to be used with the client request. Current version is 2015-10-01",
      "in": "query",
      "required": true,
      "type": "string"
    }
  }
}
