{
  "swagger": "2.0",
  "info": {
    "title": "CustomerInsightsManagementClient",
    "description": "The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.",
    "version": "2017-01-01",
    "x-ms-code-generation-settings": {
      "name": "CustomerInsightsManagementClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.CustomerInsights/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "DCIOperations_List": {
            "$ref": "./examples/DCIOperations_List.json"
          }
        },
        "description": "Lists all of the available Customer Insights REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}": {
      "put": {
        "tags": [
          "Hubs"
        ],
        "operationId": "Hubs_CreateOrUpdate",
        "x-ms-examples": {
          "Hubs_CreateOrUpdate": {
            "$ref": "./examples/HubsCreateOrUpdate.json"
          }
        },
        "description": "Creates a hub, or updates an existing hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Hub.",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Hub"
            },
            "description": "Parameters supplied to the CreateOrUpdate Hub operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created. A new hub is created.",
            "schema": {
              "$ref": "#/definitions/Hub"
            }
          },
          "200": {
            "description": "OK. An existing hub is updated.",
            "schema": {
              "$ref": "#/definitions/Hub"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Hubs"
        ],
        "operationId": "Hubs_Update",
        "x-ms-examples": {
          "Hubs_Update": {
            "$ref": "./examples/HubsUpdate.json"
          }
        },
        "description": "Updates a Hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Hub."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Hub"
            },
            "description": "Parameters supplied to the Update Hub operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The hub is updated.",
            "schema": {
              "$ref": "#/definitions/Hub"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Hubs"
        ],
        "operationId": "Hubs_Delete",
        "x-ms-examples": {
          "Hubs_Delete": {
            "$ref": "./examples/HubsDelete.json"
          }
        },
        "description": "Deletes the specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The hub is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          },
          "204": {
            "description": "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Hubs"
        ],
        "operationId": "Hubs_Get",
        "x-ms-examples": {
          "Hubs_Get": {
            "$ref": "./examples/HubsGet.json"
          }
        },
        "description": "Gets information about the specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the hub.",
            "schema": {
              "$ref": "#/definitions/Hub"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs": {
      "get": {
        "tags": [
          "Hubs"
        ],
        "operationId": "Hubs_ListByResourceGroup",
        "x-ms-examples": {
          "Hubs_ListByResourceGroup": {
            "$ref": "./examples/HubsListByResourceGroup.json"
          }
        },
        "description": "Gets all the hubs in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the hubs in the resource group.",
            "schema": {
              "$ref": "#/definitions/HubListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CustomerInsights/hubs": {
      "get": {
        "tags": [
          "Hubs"
        ],
        "operationId": "Hubs_List",
        "x-ms-examples": {
          "Hubs_List": {
            "$ref": "./examples/HubsList.json"
          }
        },
        "description": "Gets all hubs in the specified subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the hubs in the subscription.",
            "schema": {
              "$ref": "#/definitions/HubListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/profiles/{profileName}": {
      "put": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_CreateOrUpdate",
        "x-ms-examples": {
          "Profiles_CreateOrUpdate": {
            "$ref": "./examples/ProfilesCreateOrUpdate.json"
          }
        },
        "description": "Creates a profile within a Hub, or updates an existing profile.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the profile.",
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileResourceFormat"
            },
            "description": "Parameters supplied to the create/delete Profile type operation"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created the profile.",
            "schema": {
              "$ref": "#/definitions/ProfileResourceFormat"
            }
          },
          "202": {
            "description": "Accepted. The create profile operation is accepted."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_Get",
        "x-ms-examples": {
          "Profiles_Get": {
            "$ref": "./examples/ProfilesGet.json"
          }
        },
        "description": "Gets information about the specified profile.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the profile."
          },
          {
            "name": "locale-code",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "en-us",
            "description": "Locale of profile to retrieve, default is en-us."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the profile.",
            "schema": {
              "$ref": "#/definitions/ProfileResourceFormat"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_Delete",
        "x-ms-examples": {
          "Profiles_Delete": {
            "$ref": "./examples/ProfilesDelete.json"
          }
        },
        "description": "Deletes a profile within a hub",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the profile."
          },
          {
            "name": "locale-code",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "en-us",
            "description": "Locale of profile to retrieve, default is en-us."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The profile is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          },
          "204": {
            "description": "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/profiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_ListByHub",
        "x-ms-examples": {
          "Profiles_ListByHub": {
            "$ref": "./examples/ProfilesListByHub.json"
          }
        },
        "description": "Gets all profile in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "locale-code",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "en-us",
            "description": "Locale of profile to retrieve, default is en-us."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the profiles in the hub.",
            "schema": {
              "$ref": "#/definitions/ProfileListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/profiles/{profileName}/getEnrichingKpis": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_GetEnrichingKpis",
        "x-ms-examples": {
          "Profiles_GetEnrichingKpis": {
            "$ref": "./examples/ProfileGetEnrichingKpis.json"
          }
        },
        "description": "Gets the KPIs that enrich the profile Type identified by the supplied name. Enrichment happens through participants of the Interaction on an Interaction KPI and through Relationships for Profile KPIs.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the profile."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the enriching KPIs.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/KpiDefinition"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions/{interactionName}": {
      "put": {
        "tags": [
          "Interactions"
        ],
        "operationId": "Interactions_CreateOrUpdate",
        "x-ms-examples": {
          "Interactions_CreateOrUpdate": {
            "$ref": "./examples/InteractionsCreateOrUpdate.json"
          }
        },
        "description": "Creates an interaction or updates an existing interaction within a hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "interactionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the interaction.",
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InteractionResourceFormat"
            },
            "description": "Parameters supplied to the CreateOrUpdate Interaction operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created the interaction.",
            "schema": {
              "$ref": "#/definitions/InteractionResourceFormat"
            }
          },
          "202": {
            "description": "Accepted. The create interaction operation is accepted."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Interactions"
        ],
        "operationId": "Interactions_Get",
        "x-ms-examples": {
          "Interactions_Get": {
            "$ref": "./examples/InteractionsGet.json"
          }
        },
        "description": "Gets information about the specified interaction.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "interactionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the interaction."
          },
          {
            "name": "locale-code",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "en-us",
            "description": "Locale of interaction to retrieve, default is en-us."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the interaction.",
            "schema": {
              "$ref": "#/definitions/InteractionResourceFormat"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions": {
      "get": {
        "tags": [
          "Interactions"
        ],
        "operationId": "Interactions_ListByHub",
        "x-ms-examples": {
          "Interactions_ListByHub": {
            "$ref": "./examples/InteractionsListByHub.json"
          }
        },
        "description": "Gets all interactions in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "locale-code",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "en-us",
            "description": "Locale of interaction to retrieve, default is en-us."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the interactions in the hub.",
            "schema": {
              "$ref": "#/definitions/InteractionListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions/{interactionName}/suggestRelationshipLinks": {
      "post": {
        "tags": [
          "Interactions"
        ],
        "operationId": "Interactions_SuggestRelationshipLinks",
        "x-ms-examples": {
          "Interactions_SuggestRelationshipLinks": {
            "$ref": "./examples/InteractionsSuggestRelationshipLinks.json"
          }
        },
        "description": "Suggests relationships to create relationship links.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "interactionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the interaction."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get suggested Relationship Links.",
            "schema": {
              "$ref": "#/definitions/SuggestRelationshipLinksResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationships/{relationshipName}": {
      "put": {
        "tags": [
          "Relationships"
        ],
        "operationId": "Relationships_CreateOrUpdate",
        "x-ms-examples": {
          "Relationships_CreateOrUpdate": {
            "$ref": "./examples/RelationshipsCreateOrUpdate.json"
          }
        },
        "description": "Creates a relationship or updates an existing relationship within a hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "relationshipName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Relationship.",
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
            "minLength": 1,
            "maxLength": 512
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RelationshipResourceFormat"
            },
            "description": "Parameters supplied to the CreateOrUpdate Relationship operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created the relationship.",
            "schema": {
              "$ref": "#/definitions/RelationshipResourceFormat"
            }
          },
          "202": {
            "description": "Accepted. The create relationship operation is accepted."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Relationships"
        ],
        "operationId": "Relationships_Get",
        "x-ms-examples": {
          "Relationships_Get": {
            "$ref": "./examples/RelationshipsGet.json"
          }
        },
        "description": "Gets information about the specified relationship.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "relationshipName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the relationship."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the relationship.",
            "schema": {
              "$ref": "#/definitions/RelationshipResourceFormat"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Relationships"
        ],
        "operationId": "Relationships_Delete",
        "x-ms-examples": {
          "Relationships_Delete": {
            "$ref": "./examples/RelationshipsDelete.json"
          }
        },
        "description": "Deletes a relationship within a hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "relationshipName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the relationship."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The delete operation is accepted."
          },
          "200": {
            "description": "OK. The relationship is deleted."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationships": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "operationId": "Relationships_ListByHub",
        "x-ms-examples": {
          "Relationships_ListByHub": {
            "$ref": "./examples/RelationshipsListByHub.json"
          }
        },
        "description": "Gets all relationships in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the relationships in the hub.",
            "schema": {
              "$ref": "#/definitions/RelationshipListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationshipLinks/{relationshipLinkName}": {
      "put": {
        "tags": [
          "RelationshipLinks"
        ],
        "operationId": "RelationshipLinks_CreateOrUpdate",
        "x-ms-examples": {
          "RelationshipLinks_CreateOrUpdate": {
            "$ref": "./examples/RelationshipLinksCreateOrUpdate.json"
          }
        },
        "description": "Creates a relationship link or updates an existing relationship link within a hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "relationshipLinkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the relationship link.",
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
            "minLength": 1,
            "maxLength": 512
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RelationshipLinkResourceFormat"
            },
            "description": "Parameters supplied to the CreateOrUpdate relationship link operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created the relationship link.",
            "schema": {
              "$ref": "#/definitions/RelationshipLinkResourceFormat"
            }
          },
          "202": {
            "description": "Accepted. The create relationship operation is accepted."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "RelationshipLinks"
        ],
        "operationId": "RelationshipLinks_Get",
        "x-ms-examples": {
          "RelationshipLinks_Get": {
            "$ref": "./examples/RelationshipLinksGet.json"
          }
        },
        "description": "Gets information about the specified relationship Link.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "relationshipLinkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the relationship link."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the relationship link.",
            "schema": {
              "$ref": "#/definitions/RelationshipLinkResourceFormat"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RelationshipLinks"
        ],
        "operationId": "RelationshipLinks_Delete",
        "x-ms-examples": {
          "RelationshipLinks_Delete": {
            "$ref": "./examples/RelationshipLinksDelete.json"
          }
        },
        "description": "Deletes a relationship link within a hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "relationshipLinkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the relationship."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The delete operation is accepted."
          },
          "200": {
            "description": "OK. The relationship link is deleted."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationshipLinks": {
      "get": {
        "tags": [
          "RelationshipLinks"
        ],
        "operationId": "RelationshipLinks_ListByHub",
        "x-ms-examples": {
          "RelationshipLinks_ListByHub": {
            "$ref": "./examples/RelationshipLinksListByHub.json"
          }
        },
        "description": "Gets all relationship links in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the relationship links in the hub.",
            "schema": {
              "$ref": "#/definitions/RelationshipLinkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}": {
      "put": {
        "tags": [
          "AuthorizationPolicies"
        ],
        "operationId": "AuthorizationPolicies_CreateOrUpdate",
        "x-ms-examples": {
          "AuthorizationPolicies_CreateOrUpdate": {
            "$ref": "./examples/AuthorizationPoliciesCreateOrUpdate.json"
          }
        },
        "description": "Creates an authorization policy or updates an existing authorization policy.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "authorizationPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the policy.",
            "pattern": "^[A-Za-z0-9]$|^[A-Za-z0-9][\\w-\\.]*[A-Za-z0-9]$",
            "minLength": 1,
            "maxLength": 50
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthorizationPolicyResourceFormat"
            },
            "description": "Parameters supplied to the CreateOrUpdate authorization policy operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully update an existing authorization policy.",
            "schema": {
              "$ref": "#/definitions/AuthorizationPolicyResourceFormat"
            }
          },
          "201": {
            "description": "Created. A new authorization policy is created.",
            "schema": {
              "$ref": "#/definitions/AuthorizationPolicyResourceFormat"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AuthorizationPolicies"
        ],
        "operationId": "AuthorizationPolicies_Get",
        "x-ms-examples": {
          "AuthorizationPolicies_Get": {
            "$ref": "./examples/AuthorizationPoliciesGet.json"
          }
        },
        "description": "Gets an authorization policy in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "authorizationPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the policy."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the authorization policy.",
            "schema": {
              "$ref": "#/definitions/AuthorizationPolicyResourceFormat"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies": {
      "get": {
        "tags": [
          "AuthorizationPolicies"
        ],
        "operationId": "AuthorizationPolicies_ListByHub",
        "x-ms-examples": {
          "AuthorizationPolicies_ListByHub": {
            "$ref": "./examples/AuthorizationPoliciesListByHub.json"
          }
        },
        "description": "Gets all the authorization policies in a specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the authorization policies in the hub.",
            "schema": {
              "$ref": "#/definitions/AuthorizationPolicyListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}/regeneratePrimaryKey": {
      "post": {
        "tags": [
          "AuthorizationPolicies"
        ],
        "operationId": "AuthorizationPolicies_RegeneratePrimaryKey",
        "x-ms-examples": {
          "AuthorizationPolicies_RegeneratePrimaryKey": {
            "$ref": "./examples/AuthorizationPoliciesRegeneratePrimaryKey.json"
          }
        },
        "description": "Regenerates the primary policy key of the specified authorization policy.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "authorizationPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the policy."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The primary key of the authorization policy is regenerated.",
            "schema": {
              "$ref": "#/definitions/AuthorizationPolicy"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}/regenerateSecondaryKey": {
      "post": {
        "tags": [
          "AuthorizationPolicies"
        ],
        "operationId": "AuthorizationPolicies_RegenerateSecondaryKey",
        "x-ms-examples": {
          "AuthorizationPolicies_RegenerateSecondaryKey": {
            "$ref": "./examples/AuthorizationPoliciesRegenerateSecondaryKey.json"
          }
        },
        "description": "Regenerates the secondary policy key of the specified authorization policy.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "authorizationPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the policy."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The secondary key of the authorization policy is regenerated.",
            "schema": {
              "$ref": "#/definitions/AuthorizationPolicy"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}": {
      "put": {
        "tags": [
          "Connectors"
        ],
        "operationId": "Connectors_CreateOrUpdate",
        "x-ms-examples": {
          "Connectors_CreateOrUpdate": {
            "$ref": "./examples/ConnectorsCreateOrUpdate.json"
          }
        },
        "description": "Creates a connector or updates an existing connector in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector.",
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorResourceFormat"
            },
            "description": "Parameters supplied to the CreateOrUpdate Connector operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created the connector.",
            "schema": {
              "$ref": "#/definitions/ConnectorResourceFormat"
            }
          },
          "202": {
            "description": "Accepted. The create connector operation is accepted."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Connectors"
        ],
        "operationId": "Connectors_Get",
        "x-ms-examples": {
          "Connectors_Get": {
            "$ref": "./examples/ConnectorsGet.json"
          }
        },
        "description": "Gets a connector in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the connector.",
            "schema": {
              "$ref": "#/definitions/ConnectorResourceFormat"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Connectors"
        ],
        "operationId": "Connectors_Delete",
        "x-ms-examples": {
          "Connectors_Delete": {
            "$ref": "./examples/ConnectorsDelete.json"
          }
        },
        "description": "Deletes a connector in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The connector is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          },
          "204": {
            "description": "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "operationId": "Connectors_ListByHub",
        "x-ms-examples": {
          "Connectors_ListByHub": {
            "$ref": "./examples/ConnectorsListByHub.json"
          }
        },
        "description": "Gets all the connectors in the specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the connectors in the hub.",
            "schema": {
              "$ref": "#/definitions/ConnectorListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}/mappings/{mappingName}": {
      "put": {
        "tags": [
          "ConnectorMappings"
        ],
        "operationId": "ConnectorMappings_CreateOrUpdate",
        "x-ms-examples": {
          "ConnectorMappings_CreateOrUpdate": {
            "$ref": "./examples/ConnectorMappingsCreateOrUpdate.json"
          }
        },
        "description": "Creates a connector mapping or updates an existing connector mapping in the connector.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          },
          {
            "name": "mappingName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector mapping.",
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorMappingResourceFormat"
            },
            "description": "Parameters supplied to the CreateOrUpdate Connector Mapping operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created the connector mapping.",
            "schema": {
              "$ref": "#/definitions/ConnectorMappingResourceFormat"
            }
          },
          "201": {
            "description": "Created. A new connector mapping is created.",
            "schema": {
              "$ref": "#/definitions/ConnectorMappingResourceFormat"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ConnectorMappings"
        ],
        "operationId": "ConnectorMappings_Get",
        "x-ms-examples": {
          "ConnectorMappings_Get": {
            "$ref": "./examples/ConnectorMappingsGet.json"
          }
        },
        "description": "Gets a connector mapping in the connector.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          },
          {
            "name": "mappingName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector mapping."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the connector mapping.",
            "schema": {
              "$ref": "#/definitions/ConnectorMappingResourceFormat"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ConnectorMappings"
        ],
        "operationId": "ConnectorMappings_Delete",
        "x-ms-examples": {
          "ConnectorMappings_Delete": {
            "$ref": "./examples/ConnectorMappingsDelete.json"
          }
        },
        "description": "Deletes a connector mapping in the connector.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          },
          {
            "name": "mappingName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector mapping."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The connector mapping is deleted."
          },
          "204": {
            "description": "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}/mappings": {
      "get": {
        "tags": [
          "ConnectorMappings"
        ],
        "operationId": "ConnectorMappings_ListByConnector",
        "x-ms-examples": {
          "ConnectorMappings_ListByConnector": {
            "$ref": "./examples/ConnectorMappingsListByConnector.json"
          }
        },
        "description": "Gets all the connector mappings in the specified connector.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the connector mappings in the connector.",
            "schema": {
              "$ref": "#/definitions/ConnectorMappingListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}": {
      "put": {
        "tags": [
          "Kpi"
        ],
        "operationId": "Kpi_CreateOrUpdate",
        "x-ms-examples": {
          "Kpi_CreateOrUpdate": {
            "$ref": "./examples/KpiCreateOrUpdate.json"
          }
        },
        "description": "Creates a KPI or updates an existing KPI in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "kpiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the KPI.",
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
            "minLength": 1,
            "maxLength": 512
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KpiResourceFormat"
            },
            "description": "Parameters supplied to the create/update KPI operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created the KPI.",
            "schema": {
              "$ref": "#/definitions/KpiResourceFormat"
            }
          },
          "202": {
            "description": "Accepted. The create KPI operation is accepted."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Kpi"
        ],
        "operationId": "Kpi_Get",
        "x-ms-examples": {
          "Kpi_Get": {
            "$ref": "./examples/KpiGet.json"
          }
        },
        "description": "Gets a KPI in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "kpiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the KPI."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the KPI.",
            "schema": {
              "$ref": "#/definitions/KpiResourceFormat"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Kpi"
        ],
        "operationId": "Kpi_Delete",
        "x-ms-examples": {
          "Kpi_Delete": {
            "$ref": "./examples/KpiDelete.json"
          }
        },
        "description": "Deletes a KPI in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "kpiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the KPI."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The KPI is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}/reprocess": {
      "post": {
        "tags": [
          "Kpi"
        ],
        "operationId": "Kpi_Reprocess",
        "x-ms-examples": {
          "Kpi_Reprocess": {
            "$ref": "./examples/KpiReprocess.json"
          }
        },
        "description": "Reprocesses the Kpi values of the specified KPI.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "kpiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the KPI."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Reprocessing Kpi Values operation is accepted."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi": {
      "get": {
        "tags": [
          "Kpi"
        ],
        "operationId": "Kpi_ListByHub",
        "x-ms-examples": {
          "Kpi_ListByHub": {
            "$ref": "./examples/KpiListByHub.json"
          }
        },
        "description": "Gets all the KPIs in the specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the KPIs in the hub.",
            "schema": {
              "$ref": "#/definitions/KpiListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/widgetTypes": {
      "get": {
        "tags": [
          "WidgetTypes"
        ],
        "operationId": "WidgetTypes_ListByHub",
        "x-ms-examples": {
          "WidgetTypes_ListByHub": {
            "$ref": "./examples/WidgetTypesListByHub.json"
          }
        },
        "description": "Gets all available widget types in the specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the widget types in the hub.",
            "schema": {
              "$ref": "#/definitions/WidgetTypeListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/widgetTypes/{widgetTypeName}": {
      "get": {
        "tags": [
          "WidgetTypes"
        ],
        "operationId": "WidgetTypes_Get",
        "x-ms-examples": {
          "WidgetTypes_Get": {
            "$ref": "./examples/WidgetTypesGet.json"
          }
        },
        "description": "Gets a widget type in the specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "widgetTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the widget type."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the widget type.",
            "schema": {
              "$ref": "#/definitions/WidgetTypeResourceFormat"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/views": {
      "get": {
        "tags": [
          "Views"
        ],
        "operationId": "Views_ListByHub",
        "x-ms-examples": {
          "Views_ListByHub": {
            "$ref": "./examples/ViewsListByHub.json"
          }
        },
        "description": "Gets all available views for given user in the specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The user ID. Use * to retrieve hub level views."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the views in the hub for the given user.",
            "schema": {
              "$ref": "#/definitions/ViewListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/views/{viewName}": {
      "put": {
        "tags": [
          "Views"
        ],
        "operationId": "Views_CreateOrUpdate",
        "x-ms-examples": {
          "Views_CreateOrUpdate": {
            "$ref": "./examples/ViewsCreateOrUpdate.json"
          }
        },
        "description": "Creates a view or updates an existing view in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "viewName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the view.",
            "minLength": 1,
            "maxLength": 512
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ViewResourceFormat"
            },
            "description": "Parameters supplied to the CreateOrUpdate View operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created the view.",
            "schema": {
              "$ref": "#/definitions/ViewResourceFormat"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Views"
        ],
        "operationId": "Views_Get",
        "x-ms-examples": {
          "Views_Get": {
            "$ref": "./examples/ViewsGet.json"
          }
        },
        "description": "Gets a view in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "viewName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the view."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The user ID. Use * to retrieve hub level view."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the view.",
            "schema": {
              "$ref": "#/definitions/ViewResourceFormat"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Views"
        ],
        "operationId": "Views_Delete",
        "x-ms-examples": {
          "Views_Delete": {
            "$ref": "./examples/ViewsDelete.json"
          }
        },
        "description": "Deletes a view in the specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "viewName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the view."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The user ID. Use * to retrieve hub level view."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The view is deleted."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/links/{linkName}": {
      "put": {
        "tags": [
          "Links"
        ],
        "operationId": "Links_CreateOrUpdate",
        "x-ms-examples": {
          "Links_CreateOrUpdate": {
            "$ref": "./examples/LinksCreateOrUpdate.json"
          }
        },
        "description": "Creates a link or updates an existing link in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "linkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the link.",
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
            "minLength": 1,
            "maxLength": 512
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LinkResourceFormat"
            },
            "description": "Parameters supplied to the CreateOrUpdate Link operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created the link.",
            "schema": {
              "$ref": "#/definitions/LinkResourceFormat"
            }
          },
          "202": {
            "description": "Accepted. The create link operation is accepted."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Links"
        ],
        "operationId": "Links_Get",
        "x-ms-examples": {
          "Links_Get": {
            "$ref": "./examples/LinksGet.json"
          }
        },
        "description": "Gets a link in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "linkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the link."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the link.",
            "schema": {
              "$ref": "#/definitions/LinkResourceFormat"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Links"
        ],
        "operationId": "Links_Delete",
        "x-ms-examples": {
          "Links_Delete": {
            "$ref": "./examples/LinksDelete.json"
          }
        },
        "description": "Deletes a link in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "linkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the link."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The link is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/links": {
      "get": {
        "tags": [
          "Links"
        ],
        "operationId": "Links_ListByHub",
        "x-ms-examples": {
          "Links_ListByHub": {
            "$ref": "./examples/LinksListByHub.json"
          }
        },
        "description": "Gets all the links in the specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the links in the hub.",
            "schema": {
              "$ref": "#/definitions/LinkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "operationId": "Roles_ListByHub",
        "x-ms-examples": {
          "Roles_ListByHub": {
            "$ref": "./examples/RolesListByHub.json"
          }
        },
        "description": "Gets all the roles for the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the roles in the hub.",
            "schema": {
              "$ref": "#/definitions/RoleListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roleAssignments": {
      "get": {
        "tags": [
          "RoleAssignments"
        ],
        "operationId": "RoleAssignments_ListByHub",
        "x-ms-examples": {
          "RoleAssignments_ListByHub": {
            "$ref": "./examples/RoleAssignmentsListByHub.json"
          }
        },
        "description": "Gets all the role assignments for the specified hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get all the role assignment in the hub.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roleAssignments/{assignmentName}": {
      "put": {
        "tags": [
          "RoleAssignments"
        ],
        "operationId": "RoleAssignments_CreateOrUpdate",
        "x-ms-examples": {
          "RoleAssignments_CreateOrUpdate": {
            "$ref": "./examples/RoleAssignmentsCreateOrUpdate.json"
          }
        },
        "description": "Creates or updates a role assignment in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "assignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The assignment name",
            "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleAssignmentResourceFormat"
            },
            "description": "Parameters supplied to the CreateOrUpdate RoleAssignment operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created the role assignment.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentResourceFormat"
            }
          },
          "202": {
            "description": "Accepted. The create role assignment operation is accepted."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "RoleAssignments"
        ],
        "operationId": "RoleAssignments_Get",
        "x-ms-examples": {
          "RoleAssignments_Get": {
            "$ref": "./examples/RoleAssignmentsGet.json"
          }
        },
        "description": "Gets the role assignment in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "assignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the role assignment."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the role assignment.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentResourceFormat"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RoleAssignments"
        ],
        "operationId": "RoleAssignments_Delete",
        "x-ms-examples": {
          "RoleAssignments_Delete": {
            "$ref": "./examples/RoleAssignmentsDelete.json"
          }
        },
        "description": "Deletes the role assignment in the hub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "assignmentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the role assignment."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The role assignment is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          },
          "204": {
            "description": "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/images/getEntityTypeImageUploadUrl": {
      "post": {
        "tags": [
          "Images"
        ],
        "operationId": "Images_GetUploadUrlForEntityType",
        "x-ms-examples": {
          "Images_GetUploadUrlForEntityType": {
            "$ref": "./examples/ImagesGetUploadUrlForEntityType.json"
          }
        },
        "description": "Gets entity type (profile or interaction) image upload URL.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetImageUploadUrlInput"
            },
            "description": "Parameters supplied to the GetUploadUrlForEntityType operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the image upload URL for entity type.",
            "schema": {
              "$ref": "#/definitions/ImageDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/images/getDataImageUploadUrl": {
      "post": {
        "tags": [
          "Images"
        ],
        "operationId": "Images_GetUploadUrlForData",
        "x-ms-examples": {
          "Images_GetUploadUrlForData": {
            "$ref": "./examples/ImagesGetUploadUrlForData.json"
          }
        },
        "description": "Gets data image upload URL.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hub."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetImageUploadUrlInput"
            },
            "description": "Parameters supplied to the GetUploadUrlForData operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully get the image upload URL for data.",
            "schema": {
              "$ref": "#/definitions/ImageDefinition"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "HubBillingInfoFormat": {
      "properties": {
        "skuName": {
          "type": "string",
          "description": "The sku name."
        },
        "minUnits": {
          "type": "integer",
          "minimum": 1,
          "maximum": 10,
          "description": "The minimum number of units will be billed. One unit is 10,000 Profiles and 100,000 Interactions."
        },
        "maxUnits": {
          "type": "integer",
          "minimum": 1,
          "maximum": 10,
          "description": "The maximum number of units can be used.  One unit is 10,000 Profiles and 100,000 Interactions."
        }
      },
      "description": "Hub billing info."
    },
    "HubPropertiesFormat": {
      "properties": {
        "apiEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "API endpoint URL of the hub."
        },
        "webEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Web endpoint URL of the hub."
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "description": "Provisioning state of the hub."
        },
        "tenantFeatures": {
          "type": "integer",
          "description": "The bit flags for enabled hub features. Bit 0 is set to 1 indicates graph is enabled, or disabled if set to 0. Bit 1 is set to 1 indicates the hub is disabled, or enabled if set to 0."
        },
        "hubBillingInfo": {
          "$ref": "#/definitions/HubBillingInfoFormat",
          "description": "Billing settings of the hub."
        }
      },
      "description": "Properties of hub."
    },
    "Hub": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/HubPropertiesFormat"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Hub resource."
    },
    "HubListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Hub"
          },
          "description": "Results of the list operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link for next set of results."
        }
      },
      "description": "Response of list hub operation."
    },
    "MetadataDefinitionBase": {
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": "The attributes for the Type."
        },
        "description": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Localized descriptions for the property."
        },
        "displayName": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Localized display names for the property."
        },
        "localizedAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "description": "Any custom localized attributes for the Type."
        },
        "smallImage": {
          "type": "string",
          "description": "Small Image associated with the Property or EntityType."
        },
        "mediumImage": {
          "type": "string",
          "description": "Medium Image associated with the Property or EntityType."
        },
        "largeImage": {
          "type": "string",
          "description": "Large Image associated with the Property or EntityType."
        }
      },
      "description": "The Metadata definition base."
    },
    "EntityTypeDefinition": {
      "properties": {
        "apiEntitySetName": {
          "type": "string",
          "description": "The api entity set name. This becomes the odata entity set name for the entity Type being referred in this object."
        },
        "entityType": {
          "type": "string",
          "enum": [
            "None",
            "Profile",
            "Interaction",
            "Relationship"
          ],
[...]
