{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2022-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/serverVulnerabilityAssessmentsSettings": {
      "get": {
        "x-ms-examples": {
          "List the server vulnerability assessments settings set on the subscription": {
            "$ref": "./examples/ServerVulnerabilityAssessmentsSettings/ListServerVulnerabilityAssessmentsSettings_example.json"
          }
        },
        "tags": [
          "ServerVulnerabilityAssessmentsSettings"
        ],
        "description": "Get a list of all the server vulnerability assessments settings over a subscription level scope",
        "operationId": "ServerVulnerabilityAssessmentsSettings_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessmentsSettingsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/serverVulnerabilityAssessmentsSettings/{settingKind}": {
      "get": {
        "x-ms-examples": {
          "Get the server vulnerability assessments setting of the kind settingKind that is set on the subscription": {
            "$ref": "./examples/ServerVulnerabilityAssessmentsSettings/GetServerVulnerabilityAssessmentsSetting_example.json"
          }
        },
        "tags": [
          "ServerVulnerabilityAssessmentsSettings"
        ],
        "description": "Get a server vulnerability assessments setting of the requested kind, that is set on the subscription",
        "operationId": "ServerVulnerabilityAssessmentsSettings_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/SettingKind"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Set a server vulnerability assessments setting of the kind settingKind on the subscription": {
            "$ref": "./examples/ServerVulnerabilityAssessmentsSettings/PutServerVulnerabilityAssessmentsSetting_example.json"
          }
        },
        "tags": [
          "ServerVulnerabilityAssessmentsSettings"
        ],
        "description": "Create a server vulnerability assessments setting of the requested kind on the subscription",
        "operationId": "ServerVulnerabilityAssessmentsSettings_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/SettingKind"
          },
          {
            "$ref": "#/parameters/SettingBody"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete the server vulnerability assessments setting of the kind settingKind from the subscription": {
            "$ref": "./examples/ServerVulnerabilityAssessmentsSettings/DeleteServerVulnerabilityAssessmentsSetting_example.json"
          }
        },
        "tags": [
          "ServerVulnerabilityAssessmentsSettings"
        ],
        "description": "Delete the server vulnerability assessments setting of the requested kind from the subscription",
        "operationId": "ServerVulnerabilityAssessmentsSettings_Delete",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/SettingKind"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Setting was deleted"
          },
          "204": {
            "description": "No Content - Setting does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ServerVulnerabilityAssessmentsSettingsList": {
      "type": "object",
      "description": "A page of a server vulnerability assessments settings list",
      "properties": {
        "value": {
          "description": "A collection of server vulnerability assessments settings in this page",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to fetch the next page"
        }
      }
    },
    "ServerVulnerabilityAssessmentsSetting": {
      "type": "object",
      "description": "A base vulnerability assessments setting on servers in the defined scope.",
      "properties": {
        "kind": {
          "description": "The kind of the server vulnerability assessments setting.",
          "$ref": "#/definitions/ServerVulnerabilityAssessmentsSettingKind"
        },
        "systemData": {
          "readOnly": true,
          "type": "object",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "AzureServersSetting": {
      "type": "object",
      "description": "A vulnerability assessments setting on Azure servers in the defined scope.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "The vulnerability assessments setting properties on Azure servers in the defined scope.",
          "$ref": "#/definitions/ServerVulnerabilityAssessmentsAzureSettingProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
        }
      ],
      "x-ms-discriminator-value": "AzureServersSetting"
    },
    "ServerVulnerabilityAssessmentsAzureSettingProperties": {
      "type": "object",
      "description": "Describes the vulnerability assessments setting properties on Azure servers in the defined scope.",
      "properties": {
        "selectedProvider": {
          "description": "The selected vulnerability assessments provider on Azure servers in the defined scope.",
          "type": "string",
          "enum": [
            "MdeTvm"
          ],
          "x-ms-enum": {
            "name": "ServerVulnerabilityAssessmentsAzureSettingSelectedProvider",
            "modelAsString": true,
            "values": [
              {
                "description": "Microsoft Defender for Endpoints threat and vulnerability management.",
                "value": "MdeTvm"
              }
            ]
          }
        }
      },
      "required": [
        "selectedProvider"
      ]
    },
    "ServerVulnerabilityAssessmentsSettingKind": {
      "type": "string",
      "description": "The kind of the server vulnerability assessments setting",
      "enum": [
        "AzureServersSetting"
      ],
      "x-ms-enum": {
        "name": "ServerVulnerabilityAssessmentsSettingKind",
        "modelAsString": true,
        "values": [
          {
            "value": "AzureServersSetting"
          }
        ]
      }
    }
  },
  "parameters": {
    "SettingKind": {
      "name": "settingKind",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The kind of the server vulnerability assessments setting",
      "enum": [
        "azureServersSetting"
      ],
      "x-ms-enum": {
        "name": "ServerVulnerabilityAssessmentsSettingKindName",
        "modelAsString": true,
        "values": [
          {
            "value": "azureServersSetting"
          }
        ]
      },
      "x-ms-parameter-location": "method"
    },
    "SettingBody": {
      "name": "serverVulnerabilityAssessmentsSetting",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
      },
      "description": "A server vulnerability assessments setting over a predefined scope",
      "x-ms-parameter-location": "method"
    }
  }
}
