{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Cascade",
    "version": "2020-11-01-preview",
    "description": "Cascade test RP"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Cascade/operations": {
      "get": {
        "tags": [
          "CascadeDefinitions"
        ],
        "description": "Lists all of the available Microsoft.Cascade API operations.",
        "operationId": "CascadeOperationMetadata_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get operations": {
            "$ref": "./examples/getOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cascade/sites": {
      "get": {
        "description": "Returns list of sites.",
        "operationId": "sites_ListByReSourceGroup",
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "sites list for all resource",
            "schema": {
              "$ref": "#/definitions/SiteResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "sites list all in resource group": {
            "$ref": "./examples/SitesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cascade/sites": {
      "get": {
        "description": "Returns list of sites given subscription id",
        "operationId": "sites_ListBySubscription",
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "sites list for all resource",
            "schema": {
              "$ref": "#/definitions/SiteResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "sites list all in subscription": {
            "$ref": "./examples/SitesListAll.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cascade/sites/{resourceName}": {
      "get": {
        "description": "Returns sites resource for a given name.",
        "operationId": "Site_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "sites details for a specific resource",
            "schema": {
              "$ref": "#/definitions/SiteResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "sites Get": {
            "$ref": "./examples/SiteResourceGetExample.json"
          }
        }
      },
      "put": {
        "description": "create or update sites resource.",
        "operationId": "Site_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "name": "body",
            "description": "sites details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteResource"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created a new site resource",
            "schema": {
              "$ref": "#/definitions/SiteResource"
            }
          },
          "200": {
            "description": "Successfully update a site resource",
            "schema": {
              "$ref": "#/definitions/SiteResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "sites put": {
            "$ref": "./examples/SiteResourcePutExample.json"
          }
        }
      },
      "delete": {
        "summary": "Delete the Site Resource",
        "operationId": "Site_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteResource"
            }
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SiteResourceDeleteExample status code 200": {
            "$ref": "./examples/SiteResourceDeleteExample.json"
          }
        }
      },
      "patch": {
        "summary": "Update site resource",
        "operationId": "SiteResource_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "name": "body",
            "description": "sites details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SiteResourcePatchExample": {
            "$ref": "./examples/SiteResourcePatchExample.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SiteResource": {
      "description": "The subscription definition used to create the subscription.",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "properties": {
          "description": "the subscription definition properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SiteProperty"
        }
      }
    },
    "SiteProperty": {
      "description": "An Azure resource.",
      "type": "object",
      "properties": {
        "version": {
          "description": "version id",
          "type": "string"
        },
        "date": {
          "description": "creation date",
          "type": "string"
        }
      }
    },
    "SiteResourceList": {
      "description": "The list of sites.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of versions resource.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SiteResource"
          }
        }
      }
    },
    "OperationList": {
      "description": "Result of the request to list REST API operations. It contains a list of operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of operations supported by the resource provider.",
          "type": "array",
          "uniqueItems": false,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "REST API operation supported by SignalR resource provider.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation with format: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "The object that describes the operation."
        },
        "origin": {
          "description": "Optional. The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX.",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/OperationProperties",
          "description": "Extra properties for the operation.",
          "x-ms-client-flatten": false
        }
      }
    },
    "OperationDisplay": {
      "description": "The object that describes a operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Friendly name of the resource provider",
          "type": "string"
        },
        "resource": {
          "description": "Resource type on which the operation is performed.",
          "type": "string"
        },
        "operation": {
          "description": "The localized friendly name for the operation.",
          "type": "string"
        },
        "description": {
          "description": "The localized friendly description for the operation",
          "type": "string"
        }
      }
    },
    "OperationProperties": {
      "description": "Extra Operation properties.",
      "type": "object",
      "properties": {}
    }
  },
  "parameters": {
    "resourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "resource Name",
      "x-ms-parameter-location": "method"
    }
  }
}
