{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Cascade",
    "version": "2020-11-01",
    "description": "Cascade test RP"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths":{
    "/providers/Microsoft.Cascade/operations": {
      "get": {
        "tags": [
          "CascadeDefinitions"
        ],
        "description": "Lists all of the available Microsoft.Cascade API operations.",
        "operationId": "CascadeDefinitionsOperationMetadata_list",
        "x-ms-examples": {
          "getSubscriptionDefinitionOperations": {
            "$ref": "./examples/getOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Cascade/Versions":{
      "get":{
          "description":"Returns list of Versions.",
          "operationId":"Versions_List",
          "deprecated":false,
          "parameters":[
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            }
          ],
          "responses":{
            "200":{
                "description":"Versions list for allresource",
                "schema":{
                  "$ref":"#/definitions/VersionResourceList"
                }
            }
          },
          "x-ms-examples":{
            "VersionsGet":{
                "$ref":"./examples/VersionsGet.json"
            }
          }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Cascade/Versions/{ResourceName}":{
      "get":{
          "description":"Returns Versions resource for a given name.",
          "operationId":"Versions_Get",
          "parameters":[
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResourceNameParameter"
            }
          ],
          "responses":{
            "200":{
                "description":"Versions details for a specific resource",
                "schema":{
                  "$ref":"#/definitions/VersionResource"
                }
            }
          },
          "x-ms-examples":{
            "VersionsGet":{
                "$ref":"./examples/VersionPropertyGet.json"
            }
          }
      },
      "put":{
          "description":"update Versions resource.",
          "operationId":"Versions_Update",
          "parameters":[
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResourceNameParameter"
            },
            {
                "name":"body",
                "description":"Versions details.",
                "in":"body",
                "required":true,
                "schema":{
                  "$ref":"#/definitions/VersionResource"
                }
            }
          ],
          "responses":{
            "200":{
                "description":"Successful.",
                "schema":{
                  "$ref":"#/definitions/VersionResource"
                }
            }
          },
          "x-ms-examples":{
            "VersionsGet":{
                "$ref":"./examples/VersionPropertyPut.json"
            }
          }
      },
      "post":{
          "description":"Create Versions resource.",
          "operationId":"Versions_Create",
          "parameters":[
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResourceNameParameter"
            },
            {
                "name":"body",
                "description":"Versions details.",
                "in":"body",
                "required":true,
                "schema":{
                  "$ref":"#/definitions/VersionResource"
                }
            }
          ],
          "responses":{
            "200":{
                "description":"Successful.",
                "schema":{
                  "$ref":"#/definitions/VersionResource"
                }
            }
          },
          "x-ms-examples":{
            "VersionsGet":{
                "$ref":"./examples/VersionPropertyPost.json"
            }
          }
      }
    }
  },
  "definitions":{
    "VersionResource": {
      "description": "The subscription definition used to create the subscription.",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string"
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string"
        },
        "properties": {
          "description": "the subscription definition properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VersionProperty"
        }
      }
    },
    "VersionProperty":{
       "description":"An Azure resource.",
       "type":"object",
       "properties":{
          "version":{
             "description":"version id",
             "type":"string"
          },
          "date":{
             "description":"creation date",
             "type":"string"
          }
       }
    },
    "VersionResourceList":{
       "description":"The list of Versions.",
       "type":"object",
       "properties":{
          "value":{
             "description":"The list of versions resource.",
             "type":"array",
             "items":{
                "$ref":"#/definitions/VersionResource"
             }
          }
       }
    },
    "Operation": {
      "description": "REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Subscription",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of operations."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
 },
 "parameters":{
    "SubscriptionIdParameter":{
       "name":"subscriptionId",
       "in":"path",
       "required":true,
       "type":"string",
       "description":"The Azure subscription ID."
    },
    "ApiVersionParameter":{
       "name":"api-version",
       "in":"query",
       "required":true,
       "type":"string",
       "description":"Client Api Version."
    },
    "ResourceGroupNameParameter":{
       "name":"ResourceGroupName",
       "in":"path",
       "required":true,
       "type":"string",
       "description":"The name of the resource group.",
       "x-ms-parameter-location":"method"
    },
    "ResourceNameParameter":{
      "name":"ResourceName",
      "in":"path",
      "required":true,
      "type":"string",
      "description":"resource Name",
      "x-ms-parameter-location":"method"
   }
  }
}
