# Use unix line endings always, even on Windows
* text=auto eol=lf

.github/workflows/*.lock.yml linguist-generated=true

tsconfig*.json linguist-language=JSONC
**/.vscode/*.json linguist-language=JSONC
