#### linux gitignore

*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


#### win gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


#### osx gitignore

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Ignore repo files
/scripts/stostools/restoredPackages
/scripts/stostools/restoredpackages

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# npm
node_modules

#### JetBrains
.idea

# ignore code gen virtual env folder
SdkCodeGen

# Visual Studio #
.settings/
.vs/
/app.js
*.suo
*.user
.ntvs_analysis.*
.njsproj
*.etl
*.etl.tmp
*.vspx
*.njsperf
*.sdf
*.opensdf
bin/*.dll

# Visual Studio Code
.settings/

# Builds #
out/*
tmp/*
obj/


# AutoRest Nightly #
AutoRest.*
output/*
errors.txt
warnings.txt

# VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.js
*.d.ts
*.js.map
*.d.ts.map
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Alterations.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/AlterationsExtensions.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/EndpointKeys.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/EndpointKeysExtensions.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/EndpointSettings.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/EndpointSettingsExtensions.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/IAlterations.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/IEndpointKeys.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/IEndpointSettings.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/IKnowledgebase.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/IOperations.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/IQnAMakerClient.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Knowledgebase.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/KnowledgebaseExtensions.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Operations.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/OperationsExtensions.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/QnAMakerClient.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/ActiveLearningSettingsDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/AlterationsDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/AnswerSpanRequestDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/AnswerSpanResponseDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/ContextDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/CreateKbDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/CreateKbInputDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/DeleteKbContentsDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/EndpointKeysDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/EndpointSettingsDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/EndpointSettingsDTOActiveLearning.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/EnvironmentType.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/Error.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/ErrorCodeType.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/ErrorResponse.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/ErrorResponseError.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/ErrorResponseException.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/FeedbackRecordDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/FeedbackRecordsDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/FileDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/InnerErrorModel.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/KnowledgebaseDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/KnowledgebasesDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/KnowledgebaseUpdateHeaders.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/MetadataDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/Operation.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/OperationsGetDetailsHeaders.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/OperationStateType.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/PromptDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/PromptDTOQna.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QnADocumentsDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QnADTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QnADTOContext.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QnASearchResult.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QnASearchResultAnswerSpan.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QnASearchResultContext.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QnASearchResultList.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QueryContextDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QueryDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QueryDTOAnswerSpanRequest.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/QueryDTOContext.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/ReplaceKbDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/StrictFiltersCompoundOperationType.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateContextDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateKbContentsDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateKbOperationDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateKbOperationDTOAdd.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateKbOperationDTODelete.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateKbOperationDTOUpdate.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateMetadataDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateQnaDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateQnaDTOContext.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateQnaDTOMetadata.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateQnaDTOQuestions.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/UpdateQuestionsDTO.cs
specification/cognitiveservices/data-plane/QnAMaker/$(csharp-sdks-folder)/CognitiveServices/Knowledge.QnAMaker/preview/src/Generated/Models/WordAlterationsDTO.cs
