#### linux gitignore

*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


#### win gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


#### osx gitignore

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Ignore repo files
/scripts/stostools/restoredPackages
/scripts/stostools/restoredpackages

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# npm
node_modules

#### JetBrains
.idea

# ignore code gen virtual env folder
SdkCodeGen

# Visual Studio #
.settings/
.vs/
/app.js
*.suo
*.user
.ntvs_analysis.*
.njsproj
*.etl
*.etl.tmp
*.vspx
*.njsperf
*.sdf
*.opensdf
bin/*.dll

# Visual Studio Code
.settings/

# Builds #
out/*
tmp/*
obj/


# AutoRest Nightly #
AutoRest.*
output/*
errors.txt
warnings.txt

# VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.js
*.d.ts
*.js.map
*.d.ts.map