# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

#########
# Specification
#########

#########
# Codeowner assignments are made from the _last_ matching entry in CODEOWNERS, so catch-all entries must come first
#########
/specification/*/data-plane/ @Azure/api-stewardship-board

# PRLabel: %Schema Registry
/specification/schemaregistry/ @hmlam @nickghardwick @lmazuel @deyaaeldeen @JoshLove-msft @swathipil @conniey @minhanh-phan

# PRLabel: %Cognitive Services
/dev/cognitiveservices/data-plane/Language/ @assafi @rokulka @ChongTang @annatisch @heaths @deyaaeldeen @kristapratico @mssfang @joseharriaga @minhanh-phan @Azure/api-stewardship-board

/specification/adp/ @Azure/adp

# PRLabel: %FarmBeats
/specification/agrifood/data-plane @Azure/api-stewardship-board

# PRLabel: %Analysis Services
/specification/analysisservices/ @taiwu

# PRLabel: %Alerts Management
/specification/alertsmanagement/ @ofirmanor @olalavi @erangon @orieldar @ilaizi @shakednai1 @orenhor

# PRLabel: %API Management
/specification/apimanagement/ @promoisha @solankisamir

# PRLabel: %Insights
/specification/applicationinsights/ @alexeldeib

# PRLabel: %Monitor - Exporter
/specification/applicationinsights/data-plane/Monitor.Exporters/ @ramthi @trask @hectorhdzg @lzchen @Azure/api-stewardship-board

# PRLabel: %Code Signing
/specification/codesigning/data-plane @Azure/api-stewardship-board

/specification/asazure/ @athipp

# PRLabel: %Authorization
/specification/authorization/ @darshanhs90 @stankovski

# PRLabel: %Automation
/specification/automation/ @vrdmr

/specification/azsadmin/ @deathly809

# PRLabel: %Batch
/specification/batch/ @wiboris @dpwatrous @skapur12 @cRui861 @wanghoppe

# PRLabel: %BatchAI
/specification/batchai/ @alexanderyukhanov

# PRLabel: %Billing
/specification/billing/ @wilcobmsft @asarkar84

# PRLabel: %Network - CDN
/specification/cdn/ @jorinmejia @yunhemsft @jessicl-ms @rrahulms @t-bzhan

# PRLabel: %Cognitive Services
/specification/cognitiveservices/ @felixwa @yangyuan

# PRLabel: %Cognitive Services - Form Recognizer
/specification/cognitiveservices/data-plane/FormRecognizer/ @bojunehsu @nizi1127 @johanste

# PRLabel: %Cognitive - Language
/specification/cognitiveservices/data-plane/Language/ @assafi @rokulka @ChongTang @annatisch @heaths @deyaaeldeen @kristapratico @mssfang @joseharriaga @minhanh-phan @Azure/api-stewardship-board

# PRLabel: %Compute
/specification/compute/ @bilaakpan-ms @sandido @dkulkarni-ms @haagha @MS-syh2qs @grizzlytheodore @mabhard @danielli90 @smotwani @ppatwa @vikramd-ms @yunusm @ZhidongPeng @nkuchta @maheshnemichand @najams @changov

/specification/consumption/ @kjeur @panda-wang

# PRLabel: %Container Instances
/specification/containerinstance/ @novinc

# PRLabel: %Container Registry
/specification/containerregistry/ @djyou

# PRLabel: %Container Service
/specification/containerservice/ @palma21 @weinong @seguler @alvinli222 @justindavies @matthchr @robbiezhang @paulgmiller @yizhang4321 @circy9 @qike-ms

# PRLabel: %Cosmos
/specification/cosmos-db/ @pjohari-ms @MehaKaushik

# PRLabel: %Customer Insights
/specification/customer-insights/ @tjlvtao

# PRLabel: %Data Factory
/specification/datafactory/ @Frey-Wang @zhangyd2015 @davidzhaoyue

# PRLabel: %Data Lake Analytics
/specification/datalake-analytics/ @ro-joowan

# PRLabel: %Data Lake Store
/specification/datalake-store/ @ro-joowan

# PRLabel: %Data Migration
/specification/datamigration/ @hitenjava

/specification/deploymentmanager/ @netrock

# PRLabel: %Device Update
/specification/deviceupdate/data-plane/ @mikekistler @Azure/api-stewardship-board

/specification/documentdb/ @dmakwana

/specification/domainservices/ @jihochang

# PRLabel: %Event Grid
/specification/eventgrid/ @Kishp01 @ahamad-MS

# PRLabel: %Event Hubs
/specification/eventhub/ @v-ajnava @dsouzaarun @damodaravadhani

/specification/features/ @stankovski

/specification/graphrbac/ @lmazuel @yugangw-msft @amarzavery

# PRLabel: %HDInsight
/specification/hdinsight/ @pulkittomar @wawon-msft

/specification/insights/ @gucalder

# PRLabel: %Intune
/specification/intune/ @vrmurthy01

# PRLabel: %IotHub
/specification/iothub/ @rkmanda

# PRLabel: %KeyVault
/specification/keyvault/ @heaths @randallilama @jlichwa

# PRLabel: %Load Test Service
/specification/loadtestservice/data-plane/ @mikekistler @Azure/api-stewardship-board

# PRLabel: %Logic App
/specification/logic/ @pankajsn @tonytang-microsoft-com

# PRLabel: %Machine Learning
/specification/machinelearning/ @nonstatic2014

# PRLabel: %Machine Learning Compute
/specification/machinelearningcompute/ @shutchings

/specification/managementpartner/ @jeffrey-ace

# PRLabel: %Media Services
/specification/mediaservices/ @giakas

# PRLabel: %Monitor
/specification/monitor/ @gucalder

# PRLabel: %Network
/specification/network/ @Joanna-Yang-Art

# PRLabel: %Notification Hub
/specification/notificationhubs/ @amolr @smithab

# PRLabel: %Monitor - Operational Insights
/specification/operationalinsights/ @sw47

# PRLabel: %Operations Management
/specification/operationsmanagement/ @dashimi16

# PRLabel: %Peering
/specification/peering/ @rileymckenna

# PRLabel: %Policy Insights
/specification/policyinsights/ @pilor

/specification/powerbidedicated/ @tarostok

# PRLabel: %Purview
/specification/purview/data-plane @mikekistler @Azure/api-stewardship-board

# PRLabel: %PostgreSQL
/specification/postgresql/** @Azure/azure-sdk-write-postgresql

/specification/provisioningservices/ @kvish

# PRLabel: %RecoveryServices
/specification/recoveryservices/ @dragonfly91 @sonathan

# PRLabel: %Recovery Services Backup
/specification/recoveryservicesbackup/ @dheerendrarathor

# PRLabel: %Recovery Services Site-Recovery
/specification/recoveryservicessiterecovery/ @avneeshrai

# PRLabel: %Redis Cache
/specification/redis/ @siddharthchatrolams @timlovellsmith

# PRLabel: %Relay
/specification/relay/ @v-ajnava @dsouzaarun @damodaravadhani

/specification/resources/ @Azure/arm-template-deployments @rajshah11 @vivsriaus

# PRLabel: %Scheduler
/specification/scheduler/ @pinwang81

# PRLabel: %Search
/specification/search/data-plane/ @arv100kri @bleroy @Azure/api-stewardship-board @BevLoh @giulianob

# PRLabel: %Search
/specification/search/resource-manager/ @tjacobhi @conor-joplin @BevLoh

/specification/serialconsole/ @amitchat @craigw @asinn826

# PRLabel: %Service Map
/specification/service-map/ @daveirwin1

# PRLabel: %Service Bus
/specification/servicebus/ @v-ajnava @dsouzaarun @damodaravadhani

# PRLabel: %Service Fabric
/specification/servicefabric/ @juhacket @samedder

# PRLabel: %SQL
/specification/sql/ @jamestao @ericshape @jeremyfrosti

# PRLabel: %Storage
/specification/storage/ @jasonyang-msft
/specification/storage/data-plane/ @seanmcc-msft @Azure/api-stewardship-board

# PRLabel: %Import Export
/specification/storageimportexport/ @leoz-ms

# PRLabel: %StorageSync
/specification/storagesync/ @ankushbindlish2

# PRLabel: %Storsimple
/specification/storsimple8000series/ @manaas-microsoft

# PRLabel: %Stream Analytics
/specification/streamanalytics/ @atpham256

# PRLabel: %Subscription
/specification/subscriptions/ @navysingla

# PRLabel: %Synapses
/specification/synapse/ @wonner @yanjungao718

# PRLabel: %TimeseriesInsights
/specification/timeseriesinsights/ @sandshadow

# PRLabel: %Network - Traffic Manager
/specification/trafficmanager/ @allencal @hrkulkarmsft

# PRLabel: %Web Apps
/specification/web/ @naveedaz @Azure/azure-app-service-control-plane

# PRLabel: %AzureML - Compute Instance
/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/**/machineLearningServices.json @Azure/aml-compute-instance

# PRLabel: %Profile
/profile/ @shahabhijeet

/specification/**/resource-manager/**/readme.typescript.md @qiaozha
/specification/**/resource-manager/**/readme.az.md @jsntcy @qiaozha
/specification/**/resource-manager/**/readme.cli.md @jsntcy @qiaozha
/specification/**/resource-manager/**/readme.go.md @tadelesh
/specification/**/resource-manager/**/readme.python.md @msyyc

###########
# Eng Sys
###########
/.gitattributes     @weshaggard @mikeharder @konrad-jamrozik
/.gitignore         @weshaggard @mikeharder @konrad-jamrozik
/.prettierrc.json   @weshaggard @mikeharder @konrad-jamrozik
/package-lock.json  @weshaggard @mikeharder @konrad-jamrozik
/package.json       @weshaggard @mikeharder @konrad-jamrozik
/tsconfig.json      @weshaggard @mikeharder @konrad-jamrozik
/.azure-pipelines/  @weshaggard @mikeharder @konrad-jamrozik
/.github/           @weshaggard @mikeharder @konrad-jamrozik
/eng/               @weshaggard @mikeharder @konrad-jamrozik
/scripts/           @weshaggard @mikeharder @konrad-jamrozik
