/specification/adp/ @Azure/adp
/specification/analysisservices/ @taiwu
/specification/alertsmanagement/ @ofirmanor @olalavi @erangon @orieldar @ilaizi @shakednai1 @khaboasb @orenhor
/specification/apimanagement/ @promoisha @solankisamir
/specification/applicationinsights/ @alexeldeib
/specification/applicationinsights/data-plane/Monitor.Exporters/ @ramthi @trask @hectorhdzg @lzchen
/specification/asazure/ @athipp
/specification/authorization/ @darshanhs90 @stankovski
/specification/automation/ @vrdmr
/specification/azsadmin/ @deathly809
/specification/batch/ @paterasMSFT @dpwatrous
/specification/batchai/ @alexanderyukhanov
/specification/billing/ @wilcobmsft @asarkar84
/specification/cdn/ @csmengwan @injyzarif @prakharsharma10
/specification/cognitiveservices/ @felixwa @yangyuan
/specification/compute/ @bilaakpan-ms @sandido @dkulkarni-ms @haagha @madewithsmiles @MS-syh2qs @grizzlytheodore @hyonholee @mabhard @danielli90 @smotwani @ppatwa @vikramd-ms @savyasachisamal @yunusm @ZhidongPeng @nkuchta @maheshnemichand @najams @changov
/specification/consumption/ @kjeur @panda-wang
/specification/containerinstance/ @novinc
/specification/containerregistry/ @djyou
/specification/containerservice/ @yangl900
/specification/cosmos-db/ @dmakwana @MehaKaushik @wmengmsft @shurd
/specification/customer-insights/ @tjlvtao
/specification/datafactory/ @Frey-Wang @zhangyd2015 @davidzhaoyue
/specification/datalake-analytics/ @ro-joowan
/specification/datalake-store/ @ro-joowan
/specification/datamigration/ @hitenjava
/specification/deploymentmanager/ @netrock
/specification/devtestlabs/ @iouri-s
/specification/dns/ @owolabi2
/specification/documentdb/ @dmakwana
/specification/domainservices/ @jihochang
/specification/eventgrid/ @Kishp01 @ahamad-MS
/specification/eventhub/ @v-ajnava @dsouzaarun @damodaravadhani
/specification/features/ @stankovski
/specification/graphrbac/ @lmazuel @yugangw-msft @amarzavery
/specification/hdinsight/ @pulkittomar @wawon-msft
/specification/insights/ @gucalder
/specification/intune/ @vrmurthy01
/specification/iothub/ @rkmanda
/specification/keyvault/ @heaths @randallilama @jlichwa
/specification/logic/ @pankajsn @tonytang-microsoft-com
/specification/machinelearning/ @nonstatic2014
/specification/machinelearningcompute/ @shutchings
/specification/managementpartner/ @jeffrey-ace
/specification/mediaservices/ @giakas
/specification/mobileengagement/ @pshrosbree
/specification/monitor/ @gucalder
/specification/mysql/ @qingqingyuan
/specification/network/ @MikhailTryakhov
/specification/notificationhubs/ @amolr @smithab
/specification/operationalinsights/ @sw47
/specification/operationsmanagement/ @dashimi16
/specification/peering/ @rileymckenna
/specification/policyinsights/ @pilor
/specification/postgresql/ @qingqingyuan
/specification/powerbidedicated/ @tarostok
/specification/provisioningservices/ @kvish
/specification/recoveryservices/ @dragonfly91 @sonathan
/specification/recoveryservicesbackup/ @dheerendrarathor
/specification/recoveryservicessiterecovery/ @avneeshrai
/specification/redis/ @siddharthchatrolams @timlovellsmith
/specification/relay/ @v-ajnava @dsouzaarun @damodaravadhani
/specification/resources/ @Azure/arm-template-deployments @rajshah11 @vivsriaus
/specification/scheduler/ @pinwang81
/specification/search/data-plane/ @brjohnstmsft @arv100kri @bleroy @AlexGhiondea @Mohit-Chakraborty
/specification/search/resource-manager/ @abhi1509 @tjacobhi
/specification/serialconsole/ @amitchat @craigw @asinn826
/specification/service-map/ @daveirwin1
/specification/servicebus/ @v-ajnava @dsouzaarun @damodaravadhani
/specification/servicefabric/ @juhacket @samedder
/specification/sql/ @jamestao @ericshape @apurvans
/specification/storage/ @jasonyang-msft @xiaonlimsft
/specification/storage/data-plane/ @seanmcc-msft
/specification/storageimportexport/ @leoz-ms
/specification/storagesync/ @ankushbindlish2
/specification/storsimple8000series/ @manaas-microsoft
/specification/streamanalytics/ @atpham256
/specification/subscriptions/ @navysingla
/specification/synapse/ @idear1203 @wonner
/specification/timeseriesinsights/ @sandshadow
/specification/trafficmanager/ @allencal @hrkulkarmsft
/specification/web/ @naveedaz @Azure/azure-app-service-control-plane
/profile/ @shahabhijeet
/specification/**/resource-manager/**/readme.typescript.md @qiaozha
/specification/**/resource-manager/**/readme.az.md @jsntcy @qiaozha
/specification/**/resource-manager/**/readme.cli.md @jsntcy @qiaozha
/specification/**/resource-manager/**/readme.go.md @ArcturusZhang
/specification/**/resource-manager/**/readme.python.md @msyyc @RAY-316 @BigCat20196
