# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

#########
# Specification
#########

# PRLabel: %Cognitive Services
/dev/cognitiveservices/data-plane/Language/ @assafi @ChongTang @annatisch @heaths @Azure/api-stewardship-board

/specification/adp/

# PRLabel: %Analysis Services
/specification/analysisservices/

# PRLabel: %Alerts Management
/specification/alertsmanagement/ @ofirmanor @orieldar

# PRLabel: %API Management
/specification/apimanagement/ @solankisamir

# PRLabel: %Insights
/specification/applicationinsights/

# PRLabel: %Monitor - Exporter
/specification/applicationinsights/data-plane/Monitor.Exporters/ @ramthi @trask @hectorhdzg @lzchen @Azure/api-stewardship-board


/specification/asazure/

# PRLabel: %Authorization
/specification/authorization/ @stankovski

# PRLabel: %Automation
/specification/automation/

/specification/azsadmin/

# PRLabel: %Batch
/specification/batch/ @paterasMSFT @dpwatrous

# PRLabel: %BatchAI
/specification/batchai/

# PRLabel: %Billing
/specification/billing/ @wilcobmsft @asarkar84

# PRLabel: %Network - CDN
/specification/cdn/ @jorinmejia @yunhemsft @t-bzhan

# PRLabel: %Cognitive Services
/specification/cognitiveservices/ @yangyuan

# PRLabel: %Cognitive - Language
/specification/cognitiveservices/data-plane/Language/ @assafi @ChongTang @annatisch @heaths @Azure/api-stewardship-board

# PRLabel: %Compute
/specification/compute/ @sandido @dkulkarni-ms @haagha @madewithsmiles @MS-syh2qs @grizzlytheodore @hyonholee

/specification/consumption/ @kjeur

# PRLabel: %Container Instances
/specification/containerinstance/

# PRLabel: %Container Registry
/specification/containerregistry/

# PRLabel: %Container Service
/specification/containerservice/ @palma21 @matthchr

# PRLabel: %Cosmos
/specification/cosmos-db/ @MehaKaushik @wmengmsft

# PRLabel: %Customer Insights
/specification/customer-insights/

# PRLabel: %Data Factory
/specification/datafactory/ @Frey-Wang @zhangyd2015 @davidzhaoyue

# PRLabel: %Data Lake Analytics
/specification/datalake-analytics/

# PRLabel: %Data Lake Store
/specification/datalake-store/

# PRLabel: %Data Migration
/specification/datamigration/ @hitenjava

/specification/deploymentmanager/ @netrock

# PRLabel: %Device Update
/specification/deviceupdate/data-plane/ @mikekistler
# PRLabel: %Devtestlab
/specification/devtestlabs/

# PRLabel: %Network - DNS
/specification/dns/

/specification/documentdb/

/specification/domainservices/

# PRLabel: %Event Grid
/specification/eventgrid/ @Kishp01 @ahamad-MS

# PRLabel: %Event Hubs
/specification/eventhub/ @v-ajnava @dsouzaarun @damodaravadhani

/specification/features/ @stankovski

/specification/graphrbac/ @lmazuel @yugangw-msft

# PRLabel: %HDInsight
/specification/hdinsight/

/specification/insights/

# PRLabel: %Intune
/specification/intune/

# PRLabel: %IotHub
/specification/iothub/ @rkmanda

# PRLabel: %KeyVault
/specification/keyvault/ @heaths @jlichwa

% PRLabel: %Load Test Service
/specification/loadtestservice/data-plane/ @mikekistler

# PRLabel: %Logic App
/specification/logic/

# PRLabel: %Machine Learning
/specification/machinelearning/

# PRLabel: %Machine Learning Compute
/specification/machinelearningcompute/

/specification/managementpartner/

# PRLabel: %Media Services
/specification/mediaservices/ @giakas

# PRLabel: %Mobile Engagement
/specification/mobileengagement/

# PRLabel: %Monitor
/specification/monitor/

# PRLabel: %MySQL
/specification/mysql/

# PRLabel: %Network
/specification/network/ @MikhailTryakhov

# PRLabel: %Notification Hub
/specification/notificationhubs/

# PRLabel: %Monitor - Operational Insights
/specification/operationalinsights/

# PRLabel: %Operations Management
/specification/operationsmanagement/

# PRLabel: %Peering
/specification/peering/

# PRLabel: %Policy Insights
/specification/policyinsights/ @pilor

# PRLabel: %PostgreSQL
/specification/postgresql/

/specification/powerbidedicated/

# PRLabel: %PostgreSQL
/specification/provisioningservices/

# PRLabel: %RecoveryServices
/specification/recoveryservices/

# PRLabel: %Recovery Services Backup
/specification/recoveryservicesbackup/

# PRLabel: %Recovery Services Site-Recovery
/specification/recoveryservicessiterecovery/

# PRLabel: %Redis Cache
/specification/redis/ @timlovellsmith

# PRLabel: %Relay
/specification/relay/

/specification/resources/

# PRLabel: %Scheduler
/specification/scheduler/

# PRLabel: %Search
/specification/search/data-plane/ @arv100kri @bleroy @Azure/api-stewardship-board

# PRLabel: %Search
/specification/search/resource-manager/ @tjacobhi

/specification/serialconsole/

# PRLabel: %Service Map
/specification/service-map/

# PRLabel: %Service Bus
/specification/servicebus/ @v-ajnava @dsouzaarun @damodaravadhani

# PRLabel: %Service Fabric
/specification/servicefabric/ @samedder

# PRLabel: %SQL
/specification/sql/ @jamestao @ericshape

# PRLabel: %Storage
/specification/storage/ @jasonyang-msft
/specification/storage/data-plane/ @seanmcc-msft @Azure/api-stewardship-board

# PRLabel: %Import Export
/specification/storageimportexport/

# PRLabel: %StorageSync
/specification/storagesync/ @ankushbindlish2

# PRLabel: %Storsimple
/specification/storsimple8000series/

# PRLabel: %Stream Analytics
/specification/streamanalytics/ @atpham256

# PRLabel: %Subscription
/specification/subscriptions/

# PRLabel: %Synapses
/specification/synapse/ @wonner

# PRLabel: %TimeseriesInsights
/specification/timeseriesinsights/

# PRLabel: %Network - Traffic Manager
/specification/trafficmanager/ @allencal

# PRLabel: %Web Apps
/specification/web/ @naveedaz

# PRLabel: %Profile
/profile/ @shahabhijeet

/specification/**/resource-manager/**/readme.typescript.md @qiaozha
/specification/**/resource-manager/**/readme.az.md @jsntcy @qiaozha
/specification/**/resource-manager/**/readme.cli.md @jsntcy @qiaozha
/specification/**/resource-manager/**/readme.go.md @ArcturusZhang
/specification/**/resource-manager/**/readme.python.md @msyyc @BigCat20196
/specification/*/data-plane/ @Azure/api-stewardship-board
