{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2019-02-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateEndpoints/{privateEndpointName}": {
      "delete": {
        "tags": [
          "PrivateEndpoints"
        ],
        "operationId": "PrivateEndpoints_Delete",
        "description": "Deletes the specified private endpoint.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "privateEndpointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the private endpoint."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Delete successful."
          },
          "200": {
            "description": "Delete successful."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete private endpoint": { "$ref": "./examples/PrivateEndpointDelete.json" }
        }
      },
      "get": {
        "tags": [
          "PrivateEndpoints"
        ],
        "operationId": "PrivateEndpoints_Get",
        "description": "Gets the specified private endpoint by resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "privateEndpointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the private endpoint."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands referenced resources."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting PrivateEndpoint resource.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpoint"
            }
          }
        },
        "x-ms-examples": {
          "Get private endpoint": { "$ref": "./examples/PrivateEndpointGet.json" }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpoints"
        ],
        "operationId": "PrivateEndpoints_CreateOrUpdate",
        "description": "Creates or updates an private endpoint in the specified resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "privateEndpointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the private endpoint."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpoint"
            },
            "description": "Parameters supplied to the create or update private endpoint operation"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting PrivateEndpoint resource.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpoint"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting PrivateEndpoint resource.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpoint"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create private endpoint": { "$ref": "./examples/PrivateEndpointCreate.json" }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateEndpoints": {
      "get": {
        "tags": [
          "PrivateEndpoints"
        ],
        "operationId": "PrivateEndpoints_List",
        "description": "Gets all private endpoints in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of PrivateEndpoint resources.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointListResult"
            }
          }
        },
        "x-ms-examples": {
          "List private endpoints in resource group": { "$ref": "./examples/PrivateEndpointList.json" }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/privateEndpoints": {
      "get": {
        "tags": [
          "PrivateEndpoints"
        ],
        "operationId": "PrivateEndpoints_ListBySubscription",
        "description": "Gets all private endpoints in a subscription.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of PrivateEndpoint resources.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointListResult"
            }
          }
        },
        "x-ms-examples": {
          "List all private endpoints": { "$ref": "./examples/PrivateEndpointListAll.json" }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PrivateEndpoint": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PrivateEndpointProperties",
          "description": "Properties of the private endpoint."
        },
        "etag": {
          "type": "string",
          "description": "Gets a unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "Private endpoint resource."
    },
    "PrivateEndpointProperties": {
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "A first-party service's FQDN that is mapped to the private IP allocated via this private endpoint."
        },
        "endpointService": {
          "$ref": "#/definitions/EndpointService",
          "description": "A reference to the service being brought into the virtual network."
        },
        "subnet": {
          "$ref": "./virtualNetwork.json#/definitions/Subnet",
          "description": "The ID of the subnet from which the private IP will be allocated."
        },
        "networkInterfaces": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "./networkInterface.json#/definitions/NetworkInterface"
          },
          "description": "Gets an array of references to the network interfaces created for this private endpoint."
        },
        "owner": {
          "type": "string",
          "readOnly": true,
          "description": "A read-only property that identifies who created this private endpoint."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state of the private endpoint. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        }
      },
      "description": "Properties of the private endpoint."
    },
    "EndpointService": {
      "properties": {
        "id": {
          "type": "string",
          "description": "A unique identifier of the service being referenced by the private endpoint."
        }
      },
      "description": "Identifies the service being brought into the virtual network."
    },
    "PrivateEndpointListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpoint"
          },
          "description": "Gets a list of PrivateEndpoint resources in a resource group."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results.",
          "readOnly": true
        }
      },
      "description": "Response for the ListPrivateEndpoints API service call."
    }
  }
}
