{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2023-04-01-preview",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": ["https"],
  "host": "management.azure.com",
  "produces": ["application/json"],
  "consumes": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "BusinessCaseOperations"
    },
    {
      "name": "BusinessCaseIaasSummaryOperations"
    },
    {
      "name": "BusinessCasePaasSummaryOperations"
    },
    {
      "name": "BusinessCaseOverviewSummaryOperations"
    },
    {
      "name": "BusinessCaseAvsSummaryOperations"
    },
    {
      "name": "EvaluatedMachinesOperations"
    },
    {
      "name": "EvaluatedSqlEntitiesOperations"
    },
    {
      "name": "EvaluatedWebAppsOperations"
    },
    {
      "name": "EvaluatedAvsMachinesOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "tags": ["Operations"],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases": {
      "get": {
        "tags": ["BusinessCaseOperations"],
        "operationId": "BusinessCaseOperations_ListByAssessmentProject",
        "description": "List BusinessCase resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessCaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BusinessCaseOperations_ListByAssessmentProject_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_ListByAssessmentProject_MaximumSet_Gen.json"
          },
          "BusinessCaseOperations_ListByAssessmentProject_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_ListByAssessmentProject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}": {
      "get": {
        "tags": ["BusinessCaseOperations"],
        "operationId": "BusinessCaseOperations_Get",
        "description": "Get a BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_Get_MaximumSet_Gen.json"
          },
          "BusinessCaseOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": ["BusinessCaseOperations"],
        "operationId": "BusinessCaseOperations_Create",
        "description": "Create a BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "BusinessCaseOperations_Create_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_Create_MaximumSet_Gen.json"
          },
          "BusinessCaseOperations_Create_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": ["BusinessCaseOperations"],
        "operationId": "BusinessCaseOperations_Delete",
        "description": "Delete a BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "BusinessCaseOperations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_Delete_MaximumSet_Gen.json"
          },
          "BusinessCaseOperations_Delete_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/avssummaries": {
      "get": {
        "tags": ["BusinessCaseAvsSummaryOperations"],
        "operationId": "BusinessCaseAvsSummaryOperations_ListByBusinessCase",
        "description": "List AvsSummary resources by BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BusinessCaseAvsSummaryOperations_ListByBusinessCase_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseAvsSummaryOperations_ListByBusinessCase_MaximumSet_Gen.json"
          },
          "BusinessCaseAvsSummaryOperations_ListByBusinessCase_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseAvsSummaryOperations_ListByBusinessCase_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/avssummaries/{avsSummaryName}": {
      "get": {
        "tags": ["BusinessCaseAvsSummaryOperations"],
        "operationId": "BusinessCaseAvsSummaryOperations_Get",
        "description": "Get a AvsSummary",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "avsSummaryName",
            "in": "path",
            "required": true,
            "description": "Gets the Name of the Avs Summary.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseAvsSummaryOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseAvsSummaryOperations_Get_MaximumSet_Gen.json"
          },
          "BusinessCaseAvsSummaryOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseAvsSummaryOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/compareSummary": {
      "post": {
        "tags": ["BusinessCaseOperations"],
        "operationId": "BusinessCaseOperations_CompareSummary",
        "summary": "Get Compare summary report for Business case.",
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "type": "object",
              "properties": {},
              "x-typespec-name": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CompareSummary"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "BusinessCaseOperations_CompareSummary_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_CompareSummary_MaximumSet_Gen.json"
          },
          "BusinessCaseOperations_CompareSummary_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_CompareSummary_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/evaluatedAvsMachines": {
      "get": {
        "tags": ["EvaluatedAvsMachinesOperations"],
        "operationId": "EvaluatedAvsMachinesOperations_ListByBusinessCase",
        "description": "List EvaluatedAvsMachine resources by BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "Filter query.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Optional parameter for page size.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total record count.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedAvsMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EvaluatedAvsMachinesOperations_ListByBusinessCase_MaximumSet_Gen": {
            "$ref": "./examples/EvaluatedAvsMachinesOperations_ListByBusinessCase_MaximumSet_Gen.json"
          },
          "EvaluatedAvsMachinesOperations_ListByBusinessCase_MinimumSet_Gen": {
            "$ref": "./examples/EvaluatedAvsMachinesOperations_ListByBusinessCase_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/evaluatedAvsMachines/{evaluatedAvsMachineName}": {
      "get": {
        "tags": ["EvaluatedAvsMachinesOperations"],
        "operationId": "EvaluatedAvsMachinesOperations_Get",
        "description": "Get a EvaluatedAvsMachine",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "evaluatedAvsMachineName",
            "in": "path",
            "required": true,
            "description": "Business case Evaluated AVS machine ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedAvsMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedAvsMachinesOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/EvaluatedAvsMachinesOperations_Get_MaximumSet_Gen.json"
          },
          "EvaluatedAvsMachinesOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/EvaluatedAvsMachinesOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/evaluatedMachines": {
      "get": {
        "tags": ["EvaluatedMachinesOperations"],
        "operationId": "EvaluatedMachinesOperations_ListByBusinessCase",
        "description": "List EvaluatedMachine resources by BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "Filter query.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Optional parameter for page size.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total record count.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EvaluatedMachinesOperations_ListByBusinessCase_MaximumSet_Gen": {
            "$ref": "./examples/EvaluatedMachinesOperations_ListByBusinessCase_MaximumSet_Gen.json"
          },
          "EvaluatedMachinesOperations_ListByBusinessCase_MinimumSet_Gen": {
            "$ref": "./examples/EvaluatedMachinesOperations_ListByBusinessCase_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/evaluatedMachines/{evaluatedMachineName}": {
      "get": {
        "tags": ["EvaluatedMachinesOperations"],
        "operationId": "EvaluatedMachinesOperations_Get",
        "description": "Get a EvaluatedMachine",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "evaluatedMachineName",
            "in": "path",
            "required": true,
            "description": "Business case Evaluated machine ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedMachinesOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/EvaluatedMachinesOperations_Get_MaximumSet_Gen.json"
          },
          "EvaluatedMachinesOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/EvaluatedMachinesOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/evaluatedSqlEntities": {
      "get": {
        "tags": ["EvaluatedSqlEntitiesOperations"],
        "operationId": "EvaluatedSqlEntitiesOperations_ListByBusinessCase",
        "description": "List EvaluatedSqlEntity resources by BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "Filter query.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Optional parameter for page size.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total record count.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedSqlEntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EvaluatedSqlEntitiesOperations_ListByBusinessCase_MaximumSet_Gen": {
            "$ref": "./examples/EvaluatedSqlEntitiesOperations_ListByBusinessCase_MaximumSet_Gen.json"
          },
          "EvaluatedSqlEntitiesOperations_ListByBusinessCase_MinimumSet_Gen": {
            "$ref": "./examples/EvaluatedSqlEntitiesOperations_ListByBusinessCase_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/evaluatedSqlEntities/{evaluatedSqlEntityName}": {
      "get": {
        "tags": ["EvaluatedSqlEntitiesOperations"],
        "operationId": "EvaluatedSqlEntitiesOperations_Get",
        "description": "Get a EvaluatedSqlEntity",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "evaluatedSqlEntityName",
            "in": "path",
            "required": true,
            "description": "Business case Evaluated sql entity ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedSqlEntity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedSqlEntitiesOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/EvaluatedSqlEntitiesOperations_Get_MaximumSet_Gen.json"
          },
          "EvaluatedSqlEntitiesOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/EvaluatedSqlEntitiesOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/evaluatedWebApps": {
      "get": {
        "tags": ["EvaluatedWebAppsOperations"],
        "operationId": "EvaluatedWebAppsOperations_ListByBusinessCase",
        "description": "List EvaluatedWebApp resources by BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "Filter query.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Optional parameter for page size.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Optional parameter for continuation token.",
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "required": false,
            "description": "Total record count.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedWebAppListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EvaluatedWebAppsOperations_ListByBusinessCase_MaximumSet_Gen": {
            "$ref": "./examples/EvaluatedWebAppsOperations_ListByBusinessCase_MaximumSet_Gen.json"
          },
          "EvaluatedWebAppsOperations_ListByBusinessCase_MinimumSet_Gen": {
            "$ref": "./examples/EvaluatedWebAppsOperations_ListByBusinessCase_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/evaluatedWebApps/{evaluatedWebAppName}": {
      "get": {
        "tags": ["EvaluatedWebAppsOperations"],
        "operationId": "EvaluatedWebAppsOperations_Get",
        "description": "Get a EvaluatedWebApp",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "evaluatedWebAppName",
            "in": "path",
            "required": true,
            "description": "Business case Evaluated web App ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedWebApp"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedWebAppsOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/EvaluatedWebAppsOperations_Get_MaximumSet_Gen.json"
          },
          "EvaluatedWebAppsOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/EvaluatedWebAppsOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/getReportDownloadUrl": {
      "post": {
        "tags": ["BusinessCaseOperations"],
        "operationId": "BusinessCaseOperations_GetReportDownloadUrl",
        "summary": "Get download URL for the business case report.",
        "description": "Get the URL for downloading the business case in a report format.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "type": "object",
              "properties": {},
              "x-typespec-name": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReportDownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "BusinessCaseOperations_GetReportDownloadUrl_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_GetReportDownloadUrl_MaximumSet_Gen.json"
          },
          "BusinessCaseOperations_GetReportDownloadUrl_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseOperations_GetReportDownloadUrl_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/iaassummaries": {
      "get": {
        "tags": ["BusinessCaseIaasSummaryOperations"],
        "operationId": "BusinessCaseIaasSummaryOperations_ListByBusinessCase",
        "description": "List IaasSummary resources by BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IaasSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BusinessCaseIaasSummaryOperations_ListByBusinessCase_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseIaasSummaryOperations_ListByBusinessCase_MaximumSet_Gen.json"
          },
          "BusinessCaseIaasSummaryOperations_ListByBusinessCase_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseIaasSummaryOperations_ListByBusinessCase_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/iaassummaries/{iaasSummaryName}": {
      "get": {
        "tags": ["BusinessCaseIaasSummaryOperations"],
        "operationId": "BusinessCaseIaasSummaryOperations_Get",
        "description": "Get a IaasSummary",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "iaasSummaryName",
            "in": "path",
            "required": true,
            "description": "Gets the Name of the Iaas Summary.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IaasSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseIaasSummaryOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseIaasSummaryOperations_Get_MaximumSet_Gen.json"
          },
          "BusinessCaseIaasSummaryOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseIaasSummaryOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/overviewsummaries": {
      "get": {
        "tags": ["BusinessCaseOverviewSummaryOperations"],
        "operationId": "BusinessCaseOverviewSummaryOperations_ListByBusinessCase",
        "description": "List OverviewSummary resources by BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OverviewSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BusinessCaseOverviewSummaryOperations_ListByBusinessCase_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseOverviewSummaryOperations_ListByBusinessCase_MaximumSet_Gen.json"
          },
          "BusinessCaseOverviewSummaryOperations_ListByBusinessCase_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseOverviewSummaryOperations_ListByBusinessCase_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/overviewsummaries/{overviewSummaryName}": {
      "get": {
        "tags": ["BusinessCaseOverviewSummaryOperations"],
        "operationId": "BusinessCaseOverviewSummaryOperations_Get",
        "description": "Get a OverviewSummary",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "overviewSummaryName",
            "in": "path",
            "required": true,
            "description": "Gets the Name of the Overview Summary.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OverviewSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOverviewSummaryOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCaseOverviewSummaryOperations_Get_MaximumSet_Gen.json"
          },
          "BusinessCaseOverviewSummaryOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCaseOverviewSummaryOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/paassummaries": {
      "get": {
        "tags": ["BusinessCasePaasSummaryOperations"],
        "operationId": "BusinessCasePaasSummaryOperations_ListByBusinessCase",
        "description": "List PaasSummary resources by BusinessCase",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PaasSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BusinessCasePaasSummaryOperations_ListByBusinessCase_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCasePaasSummaryOperations_ListByBusinessCase_MaximumSet_Gen.json"
          },
          "BusinessCasePaasSummaryOperations_ListByBusinessCase_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCasePaasSummaryOperations_ListByBusinessCase_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businesscases/{businessCaseName}/paassummaries/{paasSummaryName}": {
      "get": {
        "tags": ["BusinessCasePaasSummaryOperations"],
        "operationId": "BusinessCasePaasSummaryOperations_Get",
        "description": "Get a PaasSummary",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "description": "Assessment Project Name",
            "type": "string"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "required": true,
            "description": "Business case ARM name",
            "type": "string"
          },
          {
            "name": "paasSummaryName",
            "in": "path",
            "required": true,
            "description": "Gets the Name of the Paas Summary.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PaasSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCasePaasSummaryOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/BusinessCasePaasSummaryOperations_Get_MaximumSet_Gen.json"
          },
          "BusinessCasePaasSummaryOperations_Get_MinimumSet_Gen": {
            "$ref": "./examples/BusinessCasePaasSummaryOperations_Get_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "title": "Resource",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
        },
        "systemData": {
          "readOnly": true,
          "type": "object",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "$ref": "#/definitions/systemData"
        }
      },
      "x-ms-azure-resource": true
    },
    "AzureEntityResource": {
      "x-ms-client-name": "AzureEntityResource",
      "title": "Entity Resource",
      "description": "The resource model definition for an Azure Resource Manager resource with an etag.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Etag."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "TrackedResource": {
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": ["read", "create", "update"],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": ["read", "create"],
          "description": "The geo-location where the resource lives"
        }
      },
      "required": ["location"],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "title": "Proxy Resource",
      "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ResourceModelWithAllowedPropertySet": {
      "description": "The resource model definition containing the full set of allowed properties for a resource. Except properties bag, there cannot be a top level property outside of this set.",
      "type": "object",
      "properties": {
        "managedBy": {
          "type": "string",
          "x-ms-mutability": ["read", "create", "update"],
          "description": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
        },
        "kind": {
          "type": "string",
          "x-ms-mutability": ["read", "create"],
          "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. "
        },
        "identity": {
          "allOf": [
            {
              "$ref": "#/definitions/Identity"
            }
          ]
        },
        "sku": {
          "allOf": [
            {
              "$ref": "#/definitions/Sku"
            }
          ]
        },
        "plan": {
          "allOf": [
            {
              "$ref": "#/definitions/Plan"
            }
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "SkuTier": {
      "type": "string",
      "enum": ["Free", "Basic", "Standard", "Premium"],
      "x-ms-enum": {
        "name": "SkuTier",
        "modelAsString": false
      },
      "description": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
    },
    "Sku": {
      "description": "The resource model definition representing SKU",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SKU. Ex - P3. It is typically a letter+number code"
        },
        "tier": {
          "$ref": "#/definitions/SkuTier"
        },
        "size": {
          "type": "string",
          "description": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. "
        },
        "family": {
          "type": "string",
          "description": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
        }
      },
      "required": ["name"]
    },
    "Identity": {
      "description": "Identity for the resource.",
      "type": "object",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of resource."
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": ["SystemAssigned"],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        }
      }
    },
    "Plan": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A user defined name of the 3rd Party Artifact that is being procured."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic"
        },
        "product": {
          "type": "string",
          "description": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. "
        },
        "promotionCode": {
          "type": "string",
          "description": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
        },
        "version": {
          "type": "string",
          "description": "The version of the desired product/artifact."
        }
      },
      "description": "Plan for the resource.",
      "required": ["name", "publisher", "product"]
    },
    "ErrorDetail": {
      "description": "The error detail.",
      "type": "object",
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "The error target."
        },
        "details": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "x-ms-identifiers": ["message", "target"],
          "description": "The error details."
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "x-ms-identifiers": [],
          "description": "The error additional info."
        }
      }
    },
    "ErrorResponse": {
      "title": "Error response",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error object.",
          "$ref": "#/definitions/ErrorDetail"
        }
      }
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "Operation": {
      "title": "REST API Operation",
      "description": "Details of a REST API operation, returned from the Resource Provider Operations API",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\"",
          "type": "string",
          "readOnly": true
        },
        "isDataAction": {
          "description": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations.",
          "type": "boolean",
          "readOnly": true
        },
        "display": {
          "description": "Localized display information for this particular operation.",
          "type": "object",
          "properties": {
            "provider": {
              "description": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\".",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\".",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\".",
              "type": "string",
              "readOnly": true
            },
            "description": {
              "description": "The short, localized friendly description of the operation; suitable for tool tips and detailed views.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "origin": {
          "description": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\"",
          "type": "string",
          "readOnly": true,
          "enum": ["user", "system", "user,system"],
          "x-ms-enum": {
            "name": "Origin",
            "modelAsString": true
          }
        },
        "actionType": {
          "description": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs.",
          "type": "string",
          "readOnly": true,
          "enum": ["Internal"],
          "x-ms-enum": {
            "name": "ActionType",
            "modelAsString": true
          }
        }
      }
    },
    "OperationListResult": {
      "description": "A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "x-ms-identifiers": ["name"],
          "description": "List of operations supported by the resource provider",
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results (if there are any).",
          "readOnly": true
        }
      }
    },
    "OperationStatusResult": {
      "description": "The current status of an async operation.",
      "type": "object",
      "required": ["status"],
      "properties": {
        "id": {
          "description": "Fully qualified ID for the async operation.",
          "type": "string"
        },
        "name": {
          "description": "Name of the async operation.",
          "type": "string"
        },
        "status": {
          "description": "Operation status.",
          "type": "string"
        },
        "percentComplete": {
          "description": "Percent of the operation that is complete.",
          "type": "number",
          "minimum": 0,
          "maximum": 100
        },
        "startTime": {
          "description": "The start time of the operation.",
          "type": "string",
          "format": "date-time"
        },
        "endTime": {
          "description": "The end time of the operation.",
          "type": "string",
          "format": "date-time"
        },
        "operations": {
          "description": "The operations list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationStatusResult"
          }
        },
        "error": {
          "description": "If present, details of the operation error.",
          "$ref": "#/definitions/ErrorDetail"
        }
      }
    },
    "locationData": {
      "description": "Metadata pertaining to the geographic location of the resource.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "maxLength": 256,
          "description": "A canonical name for the geographic or physical location."
        },
        "city": {
          "type": "string",
          "description": "The city or locality where the resource is located."
        },
        "district": {
          "type": "string",
          "description": "The district, state, or province where the resource is located."
        },
        "countryOrRegion": {
          "type": "string",
          "description": "The country or region where the resource is located"
        }
      },
      "required": ["name"]
    },
    "systemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource.",
          "enum": ["User", "Application", "ManagedIdentity", "Key"],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource.",
          "enum": ["User", "Application", "ManagedIdentity", "Key"],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource last modification (UTC)"
        }
      }
    },
    "encryptionProperties": {
      "description": "Configuration of key for data encryption",
      "type": "object",
      "properties": {
        "status": {
          "description": "Indicates whether or not the encryption is enabled for container registry.",
          "enum": ["enabled", "disabled"],
          "type": "string",
          "x-ms-enum": {
            "name": "EncryptionStatus",
            "modelAsString": true
          }
        },
        "keyVaultProperties": {
          "$ref": "#/definitions/KeyVaultProperties",
          "description": "Key vault properties."
        }
      }
    },
    "KeyVaultProperties": {
      "type": "object",
      "properties": {
        "keyIdentifier": {
          "description": "Key vault uri to access the encryption key.",
          "type": "string"
        },
        "identity": {
          "description": "The client ID of the identity which will be used to access key vault.",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityRequest": {
      "description": "The check availability request body.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the resource for which availability needs to be checked.",
          "type": "string"
        },
        "type": {
          "description": "The resource type.",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityResponse": {
      "description": "The check availability result.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "Indicates if the resource name is available.",
          "type": "boolean"
        },
        "reason": {
          "description": "The reason why the given name is not available.",
          "type": "string",
          "enum": ["Invalid", "AlreadyExists"],
          "x-ms-enum": {
            "name": "CheckNameAvailabilityReason",
            "modelAsString": true
          }
        },
        "message": {
          "description": "Detailed reason why the given name is available.",
          "type": "string"
        }
      }
    },
    "ApiVersions": {
      "type": "string",
      "description": "Common API Versions for Assessment Project Tracked Resource.",
      "enum": [
        "2019-10-01",
        "2020-01-01",
        "2020-05-01-preview",
        "2022-02-02-preview",
        "2023-03-03",
        "2023-03-15",
        "2023-04-01-preview"
      ],
      "x-ms-enum": {
        "name": "ApiVersions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2019_10_01",
            "value": "2019-10-01",
            "description": "2019-10-01 API Version."
          },
          {
            "name": "v2020_01_01",
            "value": "2020-01-01",
            "description": "2020-01-01 API Version."
          },
          {
            "name": "v2020_05_01_preview",
            "value": "2020-05-01-preview",
            "description": "2020-05-01-preview API Version."
          },
          {
            "name": "v2022_02_02_preview",
            "value": "2022-02-02-preview",
            "description": "2022-02-02-preview API Version."
          },
          {
            "name": "v2023_03_03",
            "value": "2023-03-03",
            "description": "2023-03-03 API Version."
          },
          {
            "name": "v2023_03_15",
            "value": "2023-03-15",
            "description": "2023-03-15 API Version."
          },
          {
            "name": "v2023_04_01_preview",
            "value": "2023-04-01-preview",
            "description": "2023-04-01-preview API Version."
          }
        ]
      }
    },
    "AppServiceSku": {
      "type": "object",
      "properties": {
        "skuName": {
          "type": "string",
          "description": "The SKU name.",
          "readOnly": true
        },
        "cost": {
          "type": "string",
          "description": "The cost details.",
          "readOnly": true
        }
      },
      "description": "The app service SKU with corresponding cost."
    },
    "AssessmentProject": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProjectProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": ["read", "create"]
        }
      },
      "description": "An Assessment project site resource.",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "AvsNodeSummary": {
      "type": "object",
      "properties": {
        "serversSuitableForMigration": {
          "type": "integer",
          "format": "int32",
          "description": "Servers suitable for migration.",
          "readOnly": true
        },
        "totalNumberOfServers": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of servers.",
          "readOnly": true
        },
        "cores": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of Avs VM cores.",
          "readOnly": true
        },
        "memoryGb": {
          "type": "number",
          "format": "float",
          "description": "The total memory in GB.",
          "readOnly": true
        },
        "avsNodeCostDetails": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        },
        "estimatedCost": {
          "type": "number",
          "format": "float",
          "description": "Estimated cost.",
          "readOnly": true
        },
        "osLicensingCost": {
          "type": "number",
          "format": "float",
          "description": "OS licensing cost.",
          "readOnly": true
        },
        "estimatedCostByRecommendedOffer": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "x-ms-identifiers": [],
          "description": "Estimated cost by offer.",
          "x-typespec-name": "EstimatedCostByOffer[]",
          "readOnly": true
        },
        "recommendedAvsNodeTypeSummary": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedAvsNodeTypeSummary"
          },
          "x-ms-identifiers": [],
          "description": "The recommended VM family summary.",
          "x-typespec-name": "RecommendedAvsNodeTypeSummary[]",
          "readOnly": true
        }
      },
      "description": "Azure Avs Node summary."
    },
    "AvsSummary": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AvsSummaryProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": ["read", "create"]
        }
      },
      "description": "Avs summary REST resource.",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "AvsSummaryListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AvsSummary"
          },
          "description": "The AvsSummary items on this page",
          "x-typespec-name": "AvsSummary[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a AvsSummary list operation.",
      "required": ["value"]
    },
    "AvsSummaryProperties": {
      "type": "object",
      "properties": {
        "azureAvsSummary": {
          "$ref": "#/definitions/AzureAvsSummary",
          "description": "The Azure Avs summary.",
          "readOnly": true
        },
        "onPremisesIaasSummary": {
          "$ref": "#/definitions/OnPremisesIaasSummary",
          "description": "The on premises IaaS summary.",
          "readOnly": true
        }
      },
      "description": "Avs summary properties class.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureResourceProperties"
        }
      ]
    },
    "AzureAppServiceContainerSummary": {
      "type": "object",
      "properties": {
        "estimatedCostByOffer": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "x-ms-identifiers": [],
          "description": "Estimated cost by recommendation offer.",
          "x-typespec-name": "EstimatedCostByOffer[]",
          "readOnly": true
        },
        "distributionBySku": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebAppTargetSku"
          },
          "x-ms-identifiers": [],
          "description": "Distribution by SKU.",
          "x-typespec-name": "WebAppTargetSku[]",
          "readOnly": true
        },
        "distributionByApp": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebAppDistribution"
          },
          "x-ms-identifiers": [],
          "description": "Distribution by application type.",
          "x-typespec-name": "WebAppDistribution[]",
          "readOnly": true
        }
      },
      "description": "Shows Azure App Service Container summary."
    },
    "AzureAppServiceSummary": {
      "type": "object",
      "properties": {
        "estimatedCostByOffer": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "x-ms-identifiers": [],
          "description": "Estimated cost by recommendation offer.",
          "x-typespec-name": "EstimatedCostByOffer[]",
          "readOnly": true
        },
        "distributionBySku": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AppServiceSku"
          },
          "x-ms-identifiers": [],
          "description": "Distribution by SKU.",
          "x-typespec-name": "AppServiceSku[]",
          "readOnly": true
        },
        "distributionByApp": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebAppDistribution"
          },
          "x-ms-identifiers": [],
          "description": "Distribution by application type.",
          "x-typespec-name": "WebAppDistribution[]",
          "readOnly": true
        }
      },
      "description": "Shows Azure App Service summary."
    },
    "AzureAvsSummary": {
      "type": "object",
      "properties": {
        "yearOnYearEstimates": {
          "$ref": "#/definitions/YearOnYearEstimates",
          "description": "Shows the year-on-year cost overall.",
          "readOnly": true
        },
        "avsNodeSummary": {
          "$ref": "#/definitions/AvsNodeSummary",
          "description": "Avs virtual machine summary.",
          "readOnly": true
        },
        "avsCostDetails": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        }
      },
      "description": "The Azure AVS summary."
    },
    "AzureIaasSqlSummary": {
      "type": "object",
      "properties": {
        "totalSqlEntities": {
          "type": "integer",
          "format": "int32",
          "description": "Total SQL entities.",
          "readOnly": true
        },
        "suitableSqlEntities": {
          "type": "integer",
          "format": "int32",
          "description": "Suitable SQL enitities.",
          "readOnly": true
        },
        "azureSqlCostDetails": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        },
        "estimatedCost": {
          "type": "number",
          "format": "float",
          "description": "Estimated cost.",
          "readOnly": true
        },
        "osLicensingCost": {
          "type": "number",
          "format": "float",
          "description": "OS licensing cost.",
          "readOnly": true
        },
        "estimatedCostByRecommendedOffer": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "x-ms-identifiers": [],
          "description": "Estimated cost by offer.",
          "x-typespec-name": "EstimatedCostByOffer[]",
          "readOnly": true
        },
        "recommendedVmFamilySummary": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedVmFamilySummary"
          },
          "x-ms-identifiers": [],
          "description": "The recommended VM family summary.",
          "x-typespec-name": "RecommendedVmFamilySummary[]",
          "readOnly": true
        },
        "costByStorageType": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CostByStorageType"
          },
          "x-ms-identifiers": [],
          "description": "The cost by storage type.",
          "x-typespec-name": "CostByStorageType[]",
          "readOnly": true
        }
      },
      "description": "Azure Iaas sql server summary."
    },
    "AzureIaasSummary": {
      "type": "object",
      "properties": {
        "yearOnYearEstimates": {
          "$ref": "#/definitions/YearOnYearEstimates",
          "description": "Shows the year-on-year cost overall.",
          "readOnly": true
        },
        "azureIaasVmSummary": {
          "$ref": "#/definitions/AzureIaasVmSummary",
          "description": "Azure Iaas virtual machine summary.",
          "readOnly": true
        },
        "azureIaasSqlSummary": {
          "$ref": "#/definitions/AzureIaasSqlSummary",
          "description": "Azure Iaas sql server summary.",
          "readOnly": true
        },
        "azureIaasCostDetails": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        }
      },
      "description": "The Azure IaaS summary."
    },
    "AzureIaasVmSummary": {
      "type": "object",
      "properties": {
        "serversSuitableForMigration": {
          "type": "integer",
          "format": "int32",
          "description": "Servers suitable for migration.",
          "readOnly": true
        },
        "totalNumberOfServers": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of servers.",
          "readOnly": true
        },
        "cores": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of IaaS VM cores.",
          "readOnly": true
        },
        "memoryGb": {
          "type": "number",
          "format": "float",
          "description": "The total memory in GB.",
          "readOnly": true
        },
        "azureVmCostDetails": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        },
        "estimatedCost": {
          "type": "number",
          "format": "float",
          "description": "Estimated cost.",
          "readOnly": true
        },
        "osLicensingCost": {
          "type": "number",
          "format": "float",
          "description": "OS licensing cost.",
          "readOnly": true
        },
        "estimatedCostByRecommendedOffer": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "x-ms-identifiers": [],
          "description": "Estimated cost by offer.",
          "x-typespec-name": "EstimatedCostByOffer[]",
          "readOnly": true
        },
        "recommendedVmFamilySummary": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedVmFamilySummary"
          },
          "x-ms-identifiers": [],
          "description": "The recommended VM family summary.",
          "x-typespec-name": "RecommendedVmFamilySummary[]",
          "readOnly": true
        },
        "costByStorageType": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CostByStorageType"
          },
          "x-ms-identifiers": [],
          "description": "The cost by storage type.",
          "x-typespec-name": "CostByStorageType[]",
          "readOnly": true
        }
      },
      "description": "Azure Iaas virtual machine summary."
    },
    "AzureKubernetesServiceSummary": {
      "type": "object",
      "properties": {
        "estimatedCostByOffer": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "x-ms-identifiers": [],
          "description": "Estimated cost by recommendation offer.",
          "x-typespec-name": "EstimatedCostByOffer[]",
          "readOnly": true
        },
        "distributionBySku": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebAppTargetSku"
          },
          "x-ms-identifiers": [],
          "description": "Distribution by SKU.",
          "x-typespec-name": "WebAppTargetSku[]",
          "readOnly": true
        },
        "distributionByApp": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebAppDistribution"
          },
          "x-ms-identifiers": [],
          "description": "Distribution by application type.",
          "x-typespec-name": "WebAppDistribution[]",
          "readOnly": true
        }
      },
      "description": "Shows Azure Kubernetes Service summary."
    },
    "AzurePaasSummary": {
      "type": "object",
      "properties": {
        "totalSqlEntities": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Sql instances.",
          "readOnly": true
        },
        "suitableSqlEntities": {
          "type": "integer",
          "format": "int32",
          "description": "Suitable Sql instances.",
          "readOnly": true
        },
        "totalWebApps": {
          "type": "integer",
          "format": "int32",
          "description": "Number of web applications.",
          "readOnly": true
        },
        "suitableWebApps": {
          "type": "integer",
          "format": "int32",
          "description": "Suitable web applications.",
          "readOnly": true
        },
        "cores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of cores.",
          "readOnly": true
        },
        "memory": {
          "type": "number",
          "format": "float",
          "description": "Memory Utilization.",
          "readOnly": true
        },
        "storage": {
          "type": "number",
          "format": "float",
          "description": "Storage Utilization.",
          "readOnly": true
        },
        "estimatedCostByTarget": {
          "$ref": "#/definitions/EstimatedCostByTarget",
          "description": "Shows the estimated cost by target.",
          "readOnly": true
        },
        "estimatedSqlServerLicensingCost": {
          "type": "number",
          "format": "float",
          "description": "estimated SQL Server licensing cost.",
          "readOnly": true
        },
        "azureSqlSummary": {
          "$ref": "#/definitions/AzureSqlSummary",
          "description": "Shows the Azure SQL details.",
          "readOnly": true
        },
        "azureAppServiceSummary": {
          "$ref": "#/definitions/AzureAppServiceSummary",
          "description": "Shows Azure App Service summary.",
          "readOnly": true
        },
        "azureAppServiceContainerSummary": {
          "$ref": "#/definitions/AzureAppServiceContainerSummary",
          "description": "Shows Azure App Service Container summary.",
          "readOnly": true
        },
        "azureKubernetesServiceSummary": {
          "$ref": "#/definitions/AzureKubernetesServiceSummary",
          "description": "Shows Azure Kubernetes Service summary.",
          "readOnly": true
        },
        "totalAzurePaasCost": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        }
      },
      "description": "Shows the PaaS Azure summary."
    },
    "AzureResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation."
        }
      },
      "description": "Common properties for all azure tracked and proxy resources."
    },
    "AzureSettings": {
      "type": "object",
      "properties": {
        "targetLocation": {
          "$ref": "#/definitions/Location",
          "description": "Gets or sets azure location.",
          "default": "WestUs2"
        },
        "discountPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets azure Discount percentage.",
          "minimum": 0,
          "maximum": 100
        },
        "currency": {
          "$ref": "#/definitions/Currency",
          "description": "Business case Currency.",
          "default": "USD"
        },
        "businessCaseType": {
          "$ref": "#/definitions/MigrationStrategy",
          "description": "Migration Strategy.",
          "default": "OptimizeForCost"
        },
        "workloadDiscoverySource": {
          "$ref": "#/definitions/DiscoverySource",
          "description": "Workload discovery source.",
          "default": "Appliance"
        },
        "performanceDataStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets start time to use for performance."
        },
        "performanceDataEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets end time to use for performance."
        },
        "comfortFactor": {
          "type": "number",
          "format": "float",
          "description": "Gets comfort factor.",
          "default": 1
        },
        "performanceUtilizationPercentile": {
          "type": "number",
          "format": "float",
          "description": "Gets utilisation percentile for performance.",
          "minimum": 0,
          "maximum": 100,
          "default": 95
        },
        "perYearMigrationCompletionPercentage": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "description": "Gets migration completion percentage per year.",
          "x-typespec-name": "Record<float32>"
        },
        "infrastructureGrowthRate": {
          "type": "number",
          "format": "float",
          "description": "Gets infrastructure growth rate.",
          "minimum": 0,
          "maximum": 100,
          "default": 5
        },
        "wacc": {
          "type": "number",
          "format": "float",
          "description": "Gets wACC percentage.",
          "minimum": 0,
          "maximum": 100
        },
        "networkCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets network cost percentage.",
          "minimum": 0,
          "maximum": 100,
          "default": 5
        },
        "iaasLaborCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets IaaS labour cost percentage.",
          "minimum": 0,
          "maximum": 100,
          "default": 75
        },
        "paasLaborCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets PaaS labour cost percentage.",
          "minimum": 0,
          "maximum": 100,
          "default": 60
        },
        "avsLaborCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets Avs labour cost percentage.",
          "minimum": 0,
          "maximum": 100,
          "default": 75
        },
        "savingsOption": {
          "$ref": "#/definitions/SavingsOption",
          "description": "Gets the business case savings option type.",
          "default": "RI3Year"
        }
      },
      "description": "Azure settings for a business case."
    },
    "AzureSqlSummary": {
      "type": "object",
      "properties": {
        "estimatedCostByOffer": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "x-ms-identifiers": [],
          "description": "Estimated cost by recommended offer.",
          "x-typespec-name": "EstimatedCostByOffer[]",
          "readOnly": true
        },
        "distributionByServiceTier": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SqlServiceTier"
          },
          "x-ms-identifiers": [],
          "description": "Distribution by service tiers, retaining just to support older Business cases.",
          "x-typespec-name": "SqlServiceTier[]",
          "readOnly": true
        },
        "distributionByServiceTierForSqlMi": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SqlServiceTier"
          },
          "x-ms-identifiers": [],
          "description": "Distribution by service tiers for SQL MI.",
          "x-typespec-name": "SqlServiceTier[]",
          "readOnly": true
        },
        "distributionByServiceTierForSqlDb": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SqlServiceTier"
          },
          "x-ms-identifiers": [],
          "description": "Distribution by service tiers for SQL DB.",
          "x-typespec-name": "SqlServiceTier[]",
          "readOnly": true
        }
      },
      "description": "Shows the Azure SQL details."
    },
    "BusinessCase": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BusinessCaseProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": ["read", "create"]
        }
      },
      "description": "Business case resource.",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "BusinessCaseListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BusinessCase"
          },
          "description": "The BusinessCase items on this page",
          "x-typespec-name": "BusinessCase[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a BusinessCase list operation.",
      "required": ["value"]
    },
    "BusinessCaseProperties": {
      "type": "object",
      "properties": {
        "settings": {
          "$ref": "#/definitions/Settings",
          "description": "Business case settings."
        },
        "state": {
          "$ref": "#/definitions/BusinessCaseState",
          "description": "Business case state.",
          "readOnly": true
        },
        "reportStatusDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReportDetails"
          },
          "x-ms-identifiers": [],
          "description": "Gets the state of business case reports.",
          "x-typespec-name": "ReportDetails[]",
          "readOnly": true
        }
      },
      "description": "Property bag for an\nMicrosoft.Azure.Migrate.BusinessCaseService.Api.V20220202_preview.Resources.BusinessCase\nresource.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureResourceProperties"
        }
      ]
    },
    "BusinessCaseState": {
      "type": "string",
      "description": "Business case supported state types.",
      "enum": [
        "Unknown",
        "InProgress",
        "Completed",
        "OutDated",
        "Invalid",
        "OutOfSync",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "BusinessCaseState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown State."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "InProgress  State."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Completed State."
          },
          {
            "name": "OutDated",
            "value": "OutDated",
            "description": "OutDated State."
          },
          {
[...]
