{
  "swagger": "2.0",
  "info": {
    "title": "HanaManagementClient",
    "description": "The SAP HANA on Azure Management Client.",
    "version": "2020-02-07-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/sapMonitors": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_List",
        "summary": "Gets a list of SAP monitors in the specified subscription.",
        "description": "Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.",
        "x-ms-examples": {
          "List all SAP Monitors in a subscription": {
            "$ref": "./examples/SapMonitors_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapMonitorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Get",
        "summary": "Gets properties of a SAP monitor.",
        "description": "Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/SapMonitors_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Create",
        "x-ms-long-running-operation": true,
        "summary": "Creates a SAP monitor.",
        "description": "Creates a SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Create a SAP Monitor": {
            "$ref": "./examples/SapMonitors_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created SapMonitor",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "201": {
            "description": "Creating SapMonitor",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a SAP monitor.",
        "description": "Deletes a SAP monitor with the specified subscription, resource group, and monitor name.",
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/SapMonitors_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted SapMonitor"
          },
          "202": {
            "description": "Deleting SapMonitor"
          },
          "204": {
            "description": "No SapMonitor to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Update",
        "summary": "Patches the Tags field of a SAP monitor.",
        "description": "Patches the Tags field of a SAP monitor for the specified subscription, resource group, and monitor name.",
        "x-ms-examples": {
          "Update Tags field of a SAP monitor": {
            "$ref": "./examples/SapMonitors_PatchTags.json"
          },
          "Delete Tags field of a SAP monitor": {
            "$ref": "./examples/SapMonitors_PatchTags_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}/providerInstances/{providerInstanceName}": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "ProviderInstances_Get",
        "summary": "Gets properties of a provider instance.",
        "description": "Gets properties of a provider instance for the specified subscription, resource group, SapMonitor name, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/ProviderInstances_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "ProviderInstance_Create",
        "x-ms-long-running-operation": true,
        "summary": "Creates a provider instance.",
        "description": "Creates a provider instance for the specified subscription, resource group, SapMonitor name, and resource name.",
        "x-ms-examples": {
          "Create a SAP Monitor": {
            "$ref": "./examples/ProviderInstances_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created provider instance",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "ProviderInstance_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a provider instance.",
        "description": "Deletes a provider instance for the specified subscription, resource group, SapMonitor name, and resource name.",
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/ProviderInstances_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted provider instance"
          },
          "204": {
            "description": "No provider instance to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "Tags": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags field of the resource."
        }
      },
      "description": "Tags field of the resource."
    },
    "SapMonitorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SapMonitor"
          },
          "description": "The list of SAP monitors."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of SAP monitors."
        }
      },
      "description": "The response from the List SAP monitors operation."
    },
    "SapMonitor": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SapMonitorProperties",
          "description": "SAP monitor properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "SAP monitor info on Azure (ARM properties and SAP monitor properties)"
    },
    "SapMonitorProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "HanaProvisioningStatesEnum",
            "modelAsString": true
          },
          "description": "State of provisioning of the HanaInstance"
        },
        "managedResourceGroupName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource group the SAP Monitor resources get deployed into."
        },
        "logAnalyticsWorkspaceArmId": {
          "type": "string",
          "description": "The ARM ID of the Log Analytics Workspace that is used for monitoring"
        },
        "enableCustomerAnalytics": {
          "type": "boolean",
          "description": "The value indicating whether to send analytics to Microsoft"
        },
        "logAnalyticsWorkspaceId": {
          "type": "string",
          "description": "The workspace ID of the log analytics workspace to be used for monitoring"
        },
        "logAnalyticsWorkspaceSharedKey": {
          "type": "string",
          "description": "The shared key of the log analytics workspace that is used for monitoring"
        },
        "sapMonitorCollectorVersion": {
          "type": "string",
          "description": "The version of the payload running int he Collector VM"
        },
        "monitorProviders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/providerInstance"
          },
          "description": "The list of monitor provider instances."
        }
      },
      "description": "Describes the properties of a SAP monitor."
    },
    "ProviderInstance": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the provider instance."
        },
        "type": {
          "type": "string",
          "description": "The provider instance type."
        },
        "properties": {
          "type": "string",
          "description": "A JSON string containing the properties of the provider instance."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "SapMonitorNameParameter": {
      "name": "sapMonitorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the SAP monitor resource.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "TagsParameter": {
      "name": "tagsParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Tags"
      },
      "description": "Request body that only contains the new Tags field",
      "x-ms-parameter-location": "method"
    },
    "SapMonitorParameter": {
      "name": "sapMonitorParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/SapMonitor"
      },
      "description": "Request body representing a SAP Monitor",
      "x-ms-parameter-location": "method"
    },
    "ProviderInstanceParameter": {
      "name": "providerInstanceParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ProviderInstance"
      },
      "description": "Request body representing a provider instance",
      "x-ms-parameter-location": "method"
    }
  }
}
