{
  "swagger": "2.0",
  "info": {
    "title": "HanaManagementClient",
    "description": "The SAP HANA on Azure Management Client.",
    "version": "2020-02-07-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.HanaOnAzure/operations": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "Operations_List",
        "description": "Gets a list of SAP HANA management operations.",
        "x-ms-examples": {
          "List all HANA management operations supported by HANA RP": {
            "$ref": "./examples/HanaOperations_List.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/sapMonitors": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_List",
        "summary": "Gets a list of SAP monitors in the specified subscription.",
        "description": "Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.",
        "x-ms-examples": {
          "List all SAP Monitors in a subscription": {
            "$ref": "./examples/SapMonitors_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapMonitorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Get",
        "summary": "Gets properties of a SAP monitor.",
        "description": "Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/SapMonitors_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Create",
        "x-ms-long-running-operation": true,
        "summary": "Creates a SAP monitor.",
        "description": "Creates a SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Create a SAP Monitor": {
            "$ref": "./examples/SapMonitors_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created SapMonitor",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "201": {
            "description": "Creating SapMonitor",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a SAP monitor.",
        "description": "Deletes a SAP monitor with the specified subscription, resource group, and monitor name.",
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/SapMonitors_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted SapMonitor"
          },
          "202": {
            "description": "Deleting SapMonitor"
          },
          "204": {
            "description": "No SapMonitor to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "SapMonitors_Update",
        "summary": "Patches the Tags field of a SAP monitor.",
        "description": "Patches the Tags field of a SAP monitor for the specified subscription, resource group, and monitor name.",
        "x-ms-examples": {
          "Update Tags field of a SAP monitor": {
            "$ref": "./examples/SapMonitors_PatchTags.json"
          },
          "Delete Tags field of a SAP monitor": {
            "$ref": "./examples/SapMonitors_PatchTags_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}/providerInstances": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "ProviderInstances_List",
        "summary": "Gets a list of provider instances in the specified SAP monitor.",
        "description": "Gets a list of provider instances in the specified SAP monitor. The operations returns various properties of each provider instances.",
        "x-ms-examples": {
          "List all SAP Monitors in a subscription": {
            "$ref": "./examples/ProviderInstances_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderInstanceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}/providerInstances/{providerInstanceName}": {
      "get": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "ProviderInstances_Get",
        "summary": "Gets properties of a provider instance.",
        "description": "Gets properties of a provider instance for the specified subscription, resource group, SapMonitor name, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/ProviderInstances_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "ProviderInstances_Create",
        "x-ms-long-running-operation": true,
        "summary": "Creates a provider instance.",
        "description": "Creates a provider instance for the specified subscription, resource group, SapMonitor name, and resource name.",
        "x-ms-examples": {
          "Create a SAP Monitor": {
            "$ref": "./examples/ProviderInstances_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created provider instance",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "201": {
            "description": "Creating provider instance",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HanaOnAzure"
        ],
        "operationId": "ProviderInstances_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a provider instance.",
        "description": "Deletes a provider instance for the specified subscription, resource group, SapMonitor name, and resource name.",
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/ProviderInstances_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SapMonitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted provider instance"
          },
          "202": {
            "description": "Deleting provider instance"
          },
          "204": {
            "description": "No provider instance to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of HANA operations"
        }
      },
      "description": "List of HANA operations"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the operation being performed on this particular object. This name should match the action name that appears in RBAC / the event service."
        },
        "display": {
          "$ref": "#/definitions/Display",
          "description": "Displayed HANA operation information"
        }
      },
      "description": "HANA operation information"
    },
    "Display": {
      "type": "object",
      "properties": {
        "provider": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly form of the resource provider name. This form is also expected to include the publisher/company responsible. Use Title Casing. Begin with \"Microsoft\" for 1st party services."
        },
        "resource": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly form of the resource type related to this action/operation. This form should match the public documentation for the resource provider. Use Title Casing. For examples, refer to the “name” section."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly name for the operation as shown to the user. This name should be concise (to fit in drop downs), but clear (self-documenting). Use Title Casing and include the entity/resource to which it applies."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly description for the operation as shown to the user. This description should be thorough, yet concise. It will be used in tool-tips and detailed views."
        },
        "origin": {
          "readOnly": true,
          "type": "string",
          "description": "The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX. Default value is 'user,system'"
        }
      },
      "description": "Detailed HANA operation information"
    },
    "Tags": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags field of the resource."
        }
      },
      "description": "Tags field of the resource."
    },
    "SapMonitorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SapMonitor"
          },
          "description": "The list of SAP monitors."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of SAP monitors."
        }
      },
      "description": "The response from the List SAP monitors operation."
    },
    "SapMonitor": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SapMonitorProperties",
          "description": "SAP monitor properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "SAP monitor info on Azure (ARM properties and SAP monitor properties)"
    },
    "SapMonitorProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "HanaProvisioningStatesEnum",
            "modelAsString": true
          },
          "description": "State of provisioning of the HanaInstance"
        },
        "managedResourceGroupName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource group the SAP Monitor resources get deployed into."
        },
        "logAnalyticsWorkspaceArmId": {
          "type": "string",
          "description": "The ARM ID of the Log Analytics Workspace that is used for monitoring"
        },
        "enableCustomerAnalytics": {
          "type": "boolean",
          "description": "The value indicating whether to send analytics to Microsoft"
        },
        "logAnalyticsWorkspaceId": {
          "type": "string",
          "description": "The workspace ID of the log analytics workspace to be used for monitoring"
        },
        "logAnalyticsWorkspaceSharedKey": {
          "type": "string",
          "description": "The shared key of the log analytics workspace that is used for monitoring"
        },
        "sapMonitorCollectorVersion": {
          "readOnly": true,
          "type": "string",
          "description": "The version of the payload running in the Collector VM"
        },
        "monitorSubnet": {
          "type": "string",
          "description": "The subnet which the SAP monitor will be deployed in"
        }
      },
      "description": "Describes the properties of a SAP monitor."
    },
    "ProviderInstanceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderInstance"
          },
          "description": "The list of provider instances."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of provider instances."
        }
      },
      "description": "The response from the List provider instances operation."
    },
    "ProviderInstance": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProviderInstanceProperties",
          "description": "Provider Instance properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A provider instance associated with a SAP monitor."
    },
    "ProviderInstanceProperties": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of provider instance."
        },
        "properties": {
          "type": "string",
          "description": "A JSON string containing the properties of the provider instance."
        },
        "metadata": {
          "type": "string",
          "description": "A JSON string containing metadata of the provider instance."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "HanaProvisioningStatesEnum",
            "modelAsString": true
          },
          "description": "State of provisioning of the provider instance"
        }
      },
      "description": "Describes the properties of a provider instance."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "SapMonitorNameParameter": {
      "name": "sapMonitorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the SAP monitor resource.",
      "x-ms-parameter-location": "method"
    },
    "ProviderInstanceNameParameter": {
      "name": "providerInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the provider instance.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "TagsParameter": {
      "name": "tagsParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Tags"
      },
      "description": "Request body that only contains the new Tags field",
      "x-ms-parameter-location": "method"
    },
    "SapMonitorParameter": {
      "name": "sapMonitorParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/SapMonitor"
      },
      "description": "Request body representing a SAP Monitor",
      "x-ms-parameter-location": "method"
    },
    "ProviderInstanceParameter": {
      "name": "providerInstanceParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ProviderInstance"
      },
      "description": "Request body representing a provider instance",
      "x-ms-parameter-location": "method"
    }
  }
}
