{
  "swagger": "2.0",
  "info": {
    "description": "Azure Notebooks Resource Management Client",
    "version": "2019-10-11-preview",
    "title": "NotebookResourceManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Notebooks/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "description": "Lists all of the available Azure Notebooks REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/APIVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Notebooks/notebookProxies/{resourceName}": {
      "get": {
        "tags": [
          "NotebookProxy"
        ],
        "operationId": "NotebookProxies_Get",
        "x-ms-examples": {
          "Get Notebook Proxy": {
            "$ref": "./examples/NBResourceGet.json"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "Get the properties of the specified NotebookProxy.",
        "description": "Gets the properties of the specified NotebookProxy resource in the specified subscription and resource group. This operation returns properties of specified NotebookProxy resource including resourceId, credentials, and systemData.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotebookProxy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "NotebookProxy"
        ],
        "operationId": "NotebookProxies_CreateOrUpdate",
        "x-ms-examples": {
          "Create Notebook Proxy": {
            "$ref": "./examples/NBResourceCreate.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Create or update NotebookProxy resource.",
        "description": "Create or update NotebookProxy resource with specified configuration.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "parameters",
            "description": "The properties of the NotebookProxy to be created or updated.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotebookProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotebookProxy"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NotebookProxy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "NotebookProxy"
        ],
        "operationId": "NotebookProxies_Delete",
        "x-ms-examples": {
          "Delete Notebook Proxy": {
            "$ref": "./examples/NBResourceDelete.json"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "Delete the specified NotebookProxy.",
        "description": "Delete the specified NotebookProxy in the specified subscription and resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "NotebookProxy"
        ],
        "operationId": "NotebookProxies_Update",
        "x-ms-examples": {
          "Update Notebook Proxy": {
            "$ref": "./examples/NBResourcePatch.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Patch NotebookProxy resource.",
        "description": "Patch NotebookProxy resource with specified configuration.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "parameters",
            "description": "The properties of the NotebookProxy to be created or updated.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MutableNotebookProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "NotFound"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Notebooks/notebookProxies": {
      "get": {
        "tags": [
          "NotebookProxy"
        ],
        "operationId": "NotebookProxies_ListByResourceGroup",
        "x-ms-examples": {
          "List Notebook Proxy by Resource Group": {
            "$ref": "./examples/NBResourceList.json"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "Get a list of NotebookProxy resources in the specified subscription and resource group.",
        "description": "Get a list of NotebookProxy resources in the specified subscription and resource group. This operation returns properties of each NotebookProxy including resourceId, credentials, and systemData.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotebookProxyListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Notebooks/notebookProxies": {
      "get": {
        "tags": [
          "NotebookProxy"
        ],
        "operationId": "NotebookProxies_List",
        "x-ms-examples": {
          "List Notebook Proxy by Subscription": {
            "$ref": "./examples/NBResourceList.json"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "Get a list of NotebookProxy resources in the specified subscription.",
        "description": "Get a list of NotebookProxy resources in the specified subscription. This operation returns properties of each NotebookProxy including resourceId, credentials, and systemData.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotebookProxyListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Notebooks/notebookProxies/{resourceName}/listCredentials": {
      "post": {
        "tags": [
          "NotebookProxy"
        ],
        "operationId": "NotebookProxies_ListCredentials",
        "x-ms-examples": {
          "List Notebook Proxy Credentials": {
            "$ref": "./examples/NBResourceListCredentials.json"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "Get the access keys of the specified NotebookProxy.",
        "description": "Get the access keys of the specified NotebookProxy. in the specified subscription and resource group. This operation returns resourceId, primaryAccessKey and secondaryAccessKey.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotebookProxyCredentials"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Notebooks/notebookProxies/{resourceName}/privateEndpointConnectionProxies/{privateLinkId}": {
      "post": {
        "tags": [
          "NotebookProxy"
        ],
        "operationId": "PostPrivateLinkIdNotebookResource",
        "x-ms-examples": {
          "Create Notebook Proxy Private Endpoint": {
            "$ref": "./examples/NBResourcePEUpdate.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateLinkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/NotebookPEResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotebookPEResponse"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotebookPEResponse"
            }
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Notebooks/notebookProxies/{resourceName}/removePrivateLinkId/{privateLinkId}": {
      "post": {
        "tags": [
          "NotebookProxy"
        ],
        "operationId": "RemovePrivateLinkIdNotebookResource",
        "x-ms-examples": {
          "Remove Notebook Proxy Private Endpoint": {
            "$ref": "./examples/NBResourcePEDelete.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateLinkId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/NotebookPEResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "NotebookProxy": {
      "description": "A NotebookProxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/NotebookResourceEntity",
          "description": "The properties of NotebookProxy resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "NotebookResourceEntity": {
      "description": "Properties of NotebookProxy resource",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The unique identifier (a GUID) generated for every resource.",
          "type": "string",
          "readOnly": true
        },
        "hostname": {
          "description": "The friendly string identifier of the creator of the NotebookProxy resource.",
          "type": "string"
        },
        "region": {
          "description": "The region of the NotebookProxy resource.",
          "type": "string"
        },
        "secondaryAppId": {
          "description": "The alternate application ID used for auth token request in the data plane",
          "type": "string"
        },
        "publicDns": {
          "description": "The public DNS name",
          "type": "string"
        },
        "publicNetworkAccess": {
          "description": "Allow public network access on a V-Net locked notebook resource",
          "type": "string"
        }
      }
    },
    "MutableNotebookProxy": {
      "description": "The mutable properties on a NotebookProxy resource ",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MutableNotebookResource",
          "description": "The mutable properties of NotebookProxy resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "MutableNotebookResource": {
      "description": "Properties of NotebookProxy resource",
      "type": "object",
      "properties": {
        "publicNetworkAccess": {
          "description": "A flag that allows public network access to a private link locked notebook resource.",
          "type": "string"
        }
      }
    },
    "NotebookPEResource": {
      "description": "Notebooks Proxy resource with Private Link",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "The friendly string identifier of the creator of the NotebookProxy resource.",
          "type": "string"
        },
        "connectionDetails": {
          "description": "Private link connection details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionDetail"
          }
        }
      }
    },
    "NotebookPEResponse": {
      "description": "Private Endpoint details for a Notebook Proxy resource",
      "type": "object",
      "properties": {
        "id": {
          "description": "Private endpoint id",
          "type": "string"
        },
        "privateLinkServiceProxies": {
          "description": "Private endpoint service proxies",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointServiceProxy"
          }
        },
        "connectionDetails": {
          "description": "Private link connection details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionDetail"
          }
        }
      }
    },
    "PrivateEndpointServiceProxy": {
      "description": "Private Endpoint service proxy details",
      "type": "object",
      "properties": {
        "id": {
          "description": "Service proxy id",
          "type": "string"
        },
        "groupConnectivityInformation": {
          "description": "Group connectivity information",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupConnectivityInformation"
          }
        }
      }
    },
    "GroupConnectivityInformation": {
      "description": "Private link Group Connectivity Detail",
      "type": "object",
      "properties": {
        "internalFqdn": {
          "description": "Internal fully qualified domain name",
          "type": "string"
        },
        "customerVisibleFqdns": {
          "description": "Customer visible fully qualified domain names",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groupId": {
          "description": "Private link group Id",
          "type": "string"
        },
        "memberName": {
          "description": "Private link member name",
          "type": "string"
        }
      }
    },
    "ConnectionDetail": {
      "description": "Private link Connection Detail",
      "type": "object",
      "properties": {
        "id": {
          "description": "Private link connection id",
          "type": "string"
        },
        "privateIpAddress": {
          "description": "Private endpoint IP address",
          "type": "string"
        },
        "linkIdentifier": {
          "description": "Link Id for the private link",
          "type": "integer",
          "format": "int32"
        },
        "groupId": {
          "description": "Private link group Id",
          "type": "string"
        },
        "memberName": {
          "description": "Private link member name",
          "type": "string"
        }
      }
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource. Ex- Microsoft.Storage/storageAccounts or Microsoft.Notebooks/notebookProxies."
        },
        "systemData": {
          "$ref": "#/definitions/NotebookResourceSystemData"
        }
      },
      "x-ms-azure-resource": true
    },
    "NotebookResourceSystemData": {
      "type": "object",
      "description": "System data for notebook resource",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "createdByType": {
          "$ref": "#/definitions/IdentityType"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string"
        },
        "lastModifiedBy": {
          "type": "string"
        },
        "lastModifiedByType": {
          "$ref": "#/definitions/IdentityType"
        },
        "lastModifiedAt": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "IdentityType": {
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "type": "string"
    },
    "CloudError": {
      "type": "object",
      "description": "Wrapper for error response to follow ARM guidelines.",
      "properties": {
        "error": {
          "description": "The error response.",
          "$ref": "#/definitions/ErrorResponse"
        },
        "code": {
          "type": "string",
          "description": "[DEPRECATED] Error code."
        },
        "message": {
          "type": "string",
          "description": "[DEPRECATED] Error message."
        },
        "target": {
          "type": "string",
          "description": "[DEPRECATED] Error target."
        },
        "details": {
          "type": "array",
          "description": "[DEPRECATED] An array of error detail objects.",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Error response information.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "description": "Error message."
        },
        "target": {
          "type": "string",
          "description": "Error target."
        },
        "details": {
          "type": "array",
          "description": "An array of error detail objects.",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          }
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "ErrorDetail": {
      "type": "object",
      "description": "Error detail information.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "description": "Error message."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Operation": {
      "description": "Azure Notebooks Proxy REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation applies to data-plane. True is for data-plane operations and false is for ARM/control-plane operations.",
          "type": "boolean"
        },
        "display": {
          "description": "Display properties of the operation",
          "properties": {
            "provider": {
              "description": "The resource provider name: Microsoft.Notebooks",
              "type": "string"
            },
            "resource": {
              "description": "The resource on which the operation is performed.",
              "type": "string"
            },
            "operation": {
              "description": "The operation that users can perform.",
              "type": "string"
            },
            "description": {
              "description": "The description for the operation.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "An array of operations supported by the resource provider.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Notebook Proxy operations supported by the Azure Notebooks resource provider."
        }
      }
    },
    "NotebookProxyListResult": {
      "description": "The response containing list of NotebookProxy resources.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotebookProxy"
          },
          "description": "The list of NotebookProxy resources."
        },
        "nextLink": {
          "description": "The URI that can be used to request the next list of NotebookProxy resources.",
          "type": "string"
        }
      }
    },
    "NotebookProxyCredentials": {
      "description": "Credentials and other properties of NotebookProxy resource",
      "type": "object",
      "readOnly": true,
      "properties": {
        "resourceId": {
          "description": "Notebook Proxy resource id",
          "type": "string"
        },
        "primaryAccessKey": {
          "description": "The primary key of the NotebookProxy resource.",
          "type": "string"
        },
        "secondaryAccessKey": {
          "description": "The secondary key of the NotebookProxy resource.",
          "type": "string"
        },
        "hostname": {
          "description": "Hostname for the Notebook Proxy resource",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription.",
      "minLength": 1
    },
    "APIVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation.",
      "minLength": 1
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group. The name is case insensitive.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource.",
      "minLength": 1,
      "x-ms-parameter-location": "method"
    }
  }
}
