{
  "swagger": "2.0",
  "consumes": [
    "application/json"
  ],
  "host": "management.azure.com",
  "info": {
    "title": "MySQLManagementClient",
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules and configurations.",
    "version": "2023-06-01-preview"
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/backupAndExport": {
      "post": {
        "tags": [
          "BackupAndExport"
        ],
        "operationId": "BackupAndExport_Create",
        "x-ms-examples": {
          "Create and Export Backup": {
            "$ref": "./examples/BackupAndExport.json"
          }
        },
        "description": "Exports the backup of the given server by creating a backup if not existing.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupAndExportRequest"
            },
            "description": "The required parameters for creating and exporting backup of the given server."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupAndExportResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "URL to retrieve the final result after operation completes.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/validateBackup": {
      "post": {
        "tags": [
          "BackupAndExport"
        ],
        "operationId": "BackupAndExport_ValidateBackup",
        "x-ms-examples": {
          "Validate Backup": {
            "$ref": "./examples/ValidateBackup.json"
          }
        },
        "description": "Validates if backup can be performed for given server.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common-types.json#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ValidateBackupResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BackupRequestBase": {
      "description": "BackupRequestBase is the base for all backup request.",
      "required": [
        "backupSettings"
      ],
      "type": "object",
      "properties": {
        "backupSettings": {
          "$ref": "#/definitions/BackupSettings",
          "description": "Backup Settings"
        }
      }
    },
    "BackupAndExportRequest": {
      "description": "BackupAndExport API Request",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BackupRequestBase"
        }
      ],
      "required": [
        "backupSettings",
        "targetDetails"
      ],
      "properties": {
        "targetDetails": {
          "$ref": "#/definitions/BackupStoreDetails",
          "description": "Backup Target Store Details"
        }
      }
    },
    "BackupStoreDetails": {
      "description": "Details about the target where the backup content will be stored.",
      "required": [
        "objectType"
      ],
      "type": "object",
      "properties": {
        "objectType": {
          "description": "Type of the specific object - used for deserializing",
          "type": "string"
        }
      },
      "discriminator": "objectType"
    },
    "FullBackupStoreDetails": {
      "description": "FullBackupStoreDetails is used for scenarios where backup data is streamed/copied over to a storage destination.",
      "type": "object",
      "required": [
        "sasUriList"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BackupStoreDetails"
        }
      ],
      "properties": {
        "sasUriList": {
          "description": "SASUriList of storage containers where backup data is to be streamed/copied.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BackupSettings": {
      "description": "Backup Settings",
      "type": "object",
      "required": [
        "backupName"
      ],
      "properties": {
        "backupName": {
          "$ref": "../../../common-types/v1/common-types.json#/definitions/BackupName"
        },
        "backupFormat": {
          "description": "Backup Format for the current backup. (CollatedFormat is INTERNAL – DO NOT USE)",
          "enum": [
            "CollatedFormat",
            "Raw"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BackupFormat",
            "modelAsString": true
          }
        }
      }
    },
    "ValidateBackupResponseProperties": {
      "description": "ValidateBackup Response Properties",
      "type": "object",
      "properties": {
        "numberOfContainers": {
          "format": "int32",
          "description": "Estimated no of storage containers required for resource data to be backed up.",
          "type": "integer"
        }
      }
    },
    "BackupAndExportResponseProperties": {
      "description": "BackupAndExport Response Properties",
      "type": "object",
      "properties": {
        "datasourceSizeInBytes": {
          "format": "int64",
          "description": "Size of datasource in bytes",
          "type": "integer"
        },
        "dataTransferredInBytes": {
          "format": "int64",
          "description": "Data transferred in bytes",
          "type": "integer"
        },
        "backupMetadata": {
          "description": "Metadata related to backup to be stored for restoring resource in key-value pairs.",
          "type": "string"
        }
      }
    },
    "BackupAndExportResponse": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The operation status",
          "type": "string",
          "enum": [
            "Pending",
            "InProgress",
            "Succeeded",
            "Failed",
            "CancelInProgress",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "OperationStatus",
            "modelAsString": false,
            "values": [
              {
                "value": "Pending",
                "description": "The operation has been accepted but hasn't started."
              },
              {
                "value": "InProgress",
                "description": "The operation is running"
              },
              {
                "value": "Succeeded",
                "description": "The operation Succeeded"
              },
              {
                "value": "Failed",
                "description": "The operation Failed"
              },
              {
                "value": "CancelInProgress",
                "description": "The cancellation in progress"
              },
              {
                "value": "Canceled",
                "description": "The operation has been Canceled"
              }
            ]
          }
        },
        "startTime": {
          "description": "Start time",
          "type": "string",
          "format": "date-time"
        },
        "endTime": {
          "description": "End time",
          "type": "string",
          "format": "date-time"
        },
        "percentComplete": {
          "description": "Operation progress (0-100).",
          "type": "number",
          "format": "double",
          "minimum": 0,
          "maximum": 100
        },
        "properties": {
          "$ref": "#/definitions/BackupAndExportResponseProperties",
          "x-ms-client-flatten": true,
          "description": "The response properties of a backup and export operation."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        },
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
        }
      ],
      "description": "Represents BackupAndExport API Response"
    },
    "ValidateBackupResponse": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ValidateBackupResponseProperties",
          "x-ms-client-flatten": true,
          "description": "The response properties of a pre backup operation."
        }
      },
      "description": "Represents ValidateBackup API Response"
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
