{
  "swagger": "2.0",
  "info": {
    "version": "2023-07-20",
    "title": "azurelargeinstance",
    "description": "The AzureLargeInstance Management client",
    "x-ms-code-generation-settings": {
      "name": "azurelargeinstanceClient"
    }
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureLargeInstance/azureLargeInstance": {
      "get": {
        "tags": ["AzureLargeInstance"],
        "operationId": "AzureLargeInstanceInstances_ListBySubscription",
        "summary": "Gets a list of Azure Large Instances in the specified subscription.",
        "description": "Gets a list of Azure Large Instances in the specified subscription. The operations returns various properties of each Azure Large instance.",
        "x-ms-examples": {
          "List all Azure Large Instances in a subscription": {
            "$ref": "./examples/AzureLargeInstance_ListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureLargeInstanceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeInstance": {
      "get": {
        "operationId": "AzureLargeInstance_ListByResourceGroup",
        "summary": "Gets a list of Azure Large Instances in the specified subscription and resource group.",
        "description": "Gets a list of Azure Large Instances in the specified subscription and resource group. The operations returns various properties of each Azure Large instance.",
        "x-ms-examples": {
          "List all Azure Large Instances in a resource group": {
            "$ref": "./examples/AzureLargeInstance_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureLargeInstanceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeInstance/{azureLargeInstanceName}/start": {
      "post": {
        "description": "The operation to start an Azure Large Instance",
        "operationId": "AzureLargeInstance_Start",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Start an Azure Large Instance": {
            "$ref": "./examples/AzureLargeInstance_Start.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureLargeInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeInstance/{azureLargeInstanceName}/restart": {
      "post": {
        "description": "The operation to restart an Azure Large Instance",
        "operationId": "AzureLargeInstance_Restart",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Restart an Azure Large Instance": {
            "$ref": "./examples/AzureLargeInstance_Restart.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureLargeInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeInstance/{azureLargeInstanceName}/shutdown": {
      "post": {
        "description": "The operation to shutdown an Azure Large Instance",
        "operationId": "AzureLargeInstance_Shutdown",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Shutdown an AzureLarge instance": {
            "$ref": "./examples/AzureLargeInstance_Shutdown.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureLargeInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.AzureLargeInstance/operations": {
      "get": {
        "tags": ["AzureLargeInstance"],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "List all management operations supported by the AzureLargeInstance RP": {
            "$ref": "./examples/AzureLargeInstanceOperations_List.json"
          }
        },
        "description": "Gets a list of AzureLargeInstance management operations.",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLargeInstance/azureLargeInstance/{azureLargeInstanceName}": {
      "get": {
        "tags": ["AzureLargeInstance"],
        "operationId": "AzureLargeInstance_Get",
        "summary": "Gets an Azure Large instance.",
        "description": "Gets an Azure Large instance for the specified subscription, resource group, and instance name.",
        "x-ms-examples": {
          "Get an Azure Large instance": {
            "$ref": "./examples/AzureLargeInstance_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureLargeInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureLargeInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": ["AzureLargeInstance"],
        "operationId": "AzureLargeInstanceInstances_Update",
        "summary": "Patches the Tags field of a Azure Large instance.",
        "description": "Patches the Tags field of a Azure Large instance for the specified subscription, resource group, and instance name.",
        "x-ms-examples": {
          "Update Tags field of an Azure Large instance": {
            "$ref": "./examples/AzureLargeInstance_PatchTags.json"
          },
          "Delete Tags field of an Azure Large instance": {
            "$ref": "./examples/AzureLargeInstance_PatchTags_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureLargeInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureLargeInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AzureLargeInstanceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureLargeInstance"
          },
          "description": "The list of Azure Large Instances."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of Azure Large Instances."
        }
      },
      "description": "The response from the List Azure Large Instances operation."
    },
    "AzureLargeInstance": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureLargeInstanceProperties",
          "description": "Azure Large instance properties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system metadata relating to this resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Azure Large instance info on Azure (ARM properties and AzureLargeInstance properties)"
    },
    "AzureLargeInstanceProperties": {
      "properties": {
        "hardwareProfile": {
          "$ref": "#/definitions/HardwareProfile",
          "description": "Specifies the hardware settings for the Azure Large instance."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Specifies the storage settings for the Azure Large instance disks."
        },
        "osProfile": {
          "$ref": "#/definitions/OSProfile",
          "description": "Specifies the operating system settings for the Azure Large instance."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "Specifies the network settings for the Azure Large instance."
        },
        "azureLargeInstanceId": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the Azure Large instance unique ID."
        },
        "powerState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "starting",
            "started",
            "stopping",
            "stopped",
            "restarting",
            "unknown"
          ],
          "x-ms-enum": {
            "name": "AzureLargeInstanceInstancePowerStateEnum",
            "modelAsString": true
          },
          "description": "Resource power state"
        },
        "proximityPlacementGroup": {
          "readOnly": true,
          "type": "string",
          "description": "Resource proximity placement group"
        },
        "hwRevision": {
          "readOnly": true,
          "type": "string",
          "description": "Hardware revision of an Azure Large instance"
        },
        "partnerNodeId": {
          "type": "string",
          "description": "ARM ID of another AzureLargeInstanceInstance that will share a network with this AzureLargeInstanceInstance"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "AzureLargeInstanceProvisioningStatesEnum",
            "modelAsString": true
          },
          "description": "State of provisioning of the AzureLargeInstanceInstance"
        }
      },
      "description": "Describes the properties of an Azure Large instance."
    },
    "HardwareProfile": {
      "type": "object",
      "properties": {
        "hardwareType": {
          "readOnly": true,
          "type": "string",
          "enum": ["Cisco_UCS", "HPE"],
          "x-ms-enum": {
            "name": "AzureLargeInstanceHardwareTypeNamesEnum",
            "modelAsString": true
          },
          "description": "Name of the hardware type (vendor and/or their product name)"
        },
        "azureLargeInstanceSize": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "S72m",
            "S144m",
            "S72",
            "S144",
            "S192",
            "S192m",
            "S192xm",
            "S96",
            "S112",
            "S224",
            "S224m",
            "S224om",
            "S224oo",
            "S224oom",
            "S224ooo",
            "S224se",
            "S448se",
            "S384",
            "S384m",
            "S384xm",
            "S384xxm",
            "S448",
            "S448m",
            "S448om",
            "S448oo",
            "S448oom",
            "S448ooo",
            "S576m",
            "S576xm",
            "S672",
            "S672m",
            "S672om",
            "S672oo",
            "S672oom",
            "S672ooo",
            "S768",
            "S768m",
            "S768xm",
            "S896",
            "S896m",
            "S896om",
            "S896oo",
            "S896oom",
            "S896ooo",
            "S960m"
          ],
          "x-ms-enum": {
            "name": "azureLargeInstanceSizeNamesEnum",
            "modelAsString": true
          },
          "description": "Specifies the Azure Large instance SKU."
        }
      },
      "description": "Specifies the hardware settings for the Azure Large instance."
    },
    "Disk": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name."
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of an empty data disk in gigabytes."
        },
        "lun": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM."
        }
      },
      "description": "Specifies the disk information fo the Azure Large instance"
    },
    "StorageProfile": {
      "type": "object",
      "properties": {
        "nfsIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "IP Address to connect to storage."
        },
        "osDisks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Disk"
          },
          "x-ms-identifiers": ["name"],
          "description": "Specifies information about the operating system disk used by Azure Large instance."
        }
      },
      "description": "Specifies the storage settings for the Azure Large instance disks."
    },
    "OSProfile": {
      "type": "object",
      "properties": {
        "computerName": {
          "type": "string",
          "description": "Specifies the host OS name of the Azure Large instance."
        },
        "osType": {
          "readOnly": true,
          "type": "string",
          "description": "This property allows you to specify the type of the OS."
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies version of operating system."
        },
        "sshPublicKey": {
          "type": "string",
          "description": "Specifies the SSH public key used to access the operating system."
        }
      },
      "description": "Specifies the operating system settings for the Azure Large instance."
    },
    "NetworkProfile": {
      "type": "object",
      "properties": {
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpAddress"
          },
          "x-ms-identifiers": ["ipAddress"],
          "description": "Specifies the network interfaces for the Azure Large instance."
        },
        "circuitId": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the circuit id for connecting to express route."
        }
      },
      "description": "Specifies the network settings for the Azure Large instance disks."
    },
    "IpAddress": {
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Specifies the IP address of the network interface."
        }
      },
      "description": "Specifies the IP address of the network interface."
    },
    "OperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "x-ms-identifiers": ["name"],
          "description": "List of AzureLargeInstance operations"
        }
      },
      "description": "List of AzureLargeInstance operations"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the operation being performed on this particular object. This name should match the action name that appears in RBAC / the event service."
        },
        "display": {
          "$ref": "#/definitions/Display",
          "description": "Displayed AzureLargeInstance operation information"
        },
        "isDataAction": {
          "readOnly": true,
          "description": "indicates whether an operation is a data action or not.",
          "type": "boolean"
        }
      },
      "description": "AzureLargeInstance operation information"
    },
    "Result": {
      "type": "object",
      "description": "Sample result definition",
      "properties": {
        "sampleProperty": {
          "type": "string",
          "description": "Sample property of type string"
        }
      }
    },
    "Display": {
      "type": "object",
      "properties": {
        "provider": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly form of the resource provider name."
        },
        "resource": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly form of the resource type related to this action/operation."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly name for the operation as shown to the user."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly description for the operation as shown to the user."
        }
      },
      "description": "Detailed Azure Large Instance operation information"
    },
    "Tags": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags field of the AzureLargeInstance instance."
        }
      },
      "description": "Tags field of the AzureLargeInstance instance."
    }
  },
  "parameters": {
    "AzureLargeInstanceNameParameter": {
      "name": "azureLargeInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the AzureLargeInstance.",
      "x-ms-parameter-location": "method"
    },
    "TagsParameter": {
      "name": "tagsParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Tags"
      },
      "description": "Request body that only contains the new Tags field",
      "x-ms-parameter-location": "method"
    }
  }
}
