{
 "swagger": "2.0",
 "info": {
  "x-ms-code-generation-settings": {
   "header": "MICROSOFT_MIT",
   "namespace": "Microsoft.AzureStack.InfrastructureInsights.Admin"
  },
  "version": "2016-05-01",
  "title": "InfrastructureInsightsManagementClient",
  "description": "The Admin Infrastructure Insights Management Client."
 },
 "host": "adminmanagement.local.azurestack.external",
 "schemes": [
  "https"
 ],
 "paths": {
  "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/operations": {
   "get": {
    "x-ms-examples": {
     "Get a list of all operations": "examples/Operations/OperationListOperation_example.json"
    },
    "description": "Get a list of all operations supported by the Infrastructure Insights Admin API",
    "operationId": "GetSupportOperations",
    "parameters": [
     {
      "$ref": "#/parameters/SubscriptionIdParameter"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "202": {
      "description": "ACCEPTED"
     }
    }
   }
  }
 },
 "definitions": {
  "BaseHealth": {
   "description": "Models the base properties for health resource.",
   "properties": {
    "alertSummary": {
     "description": "Gets or sets the alert summary.",
     "$ref": "#/definitions/AlertSummary"
    },
    "healthState": {
     "description": "Gets or sets the health status.",
     "type": "string"
    },
    "namespace": {
     "description": "Gets or sets the name space.",
     "type": "string"
    },
    "registrationId": {
     "description": "Gets or sets the registration id.",
     "type": "string"
    },
    "routePrefix": {
     "description": "Gets or sets the route prefix.",
     "type": "string"
    }
   }
  },
  "Resource": {
   "description": "Base Resource Object",
   "type": "object",
   "properties": {
    "id": {
     "description": "URI of the resource.",
     "type": "string"
    },
    "name": {
     "readOnly": true,
     "description": "Name of the resource.",
     "type": "string"
    },
    "type": {
     "readOnly": true,
     "description": "Type of resource.",
     "type": "string"
    },
    "location": {
     "readOnly": true,
     "description": "Location where resource is location.",
     "type": "string"
    },
    "tags": {
     "readOnly": true,
     "description": "List of key value pairs.",
     "type": "object",
     "additionalProperties": {
      "type": "string"
     }
    }
   },
   "x-ms-azure-resource": true
  },
  "MarkupElementType": {
   "type": "string",
   "description": "The type of MarkupElement",
   "enum": [
    "Text",
    "NewLine",
    "LinkBegin",
    "LinkEnd"
   ],
   "x-ms-enum": {
    "name": "MarkupElementType",
    "modelAsString": true
   }
  },
  "MarkupElement": {
   "description": "A markup element.",
   "properties": {
    "text": {
     "description": "Value of the MarkupElement",
     "type": "string"
    },
    "type": {
     "description": "Type of the MarkupElement",
     "$ref": "#/definitions/MarkupElementType"
    }
   }
  },
  "AlertSummary": {
   "description": "Summary of the alerts.",
   "properties": {
    "criticalAlertCount": {
     "description": "How many critical alerts this service has.",
     "type": "integer"
    },
    "warningAlertCount": {
     "description": "How many warning alerts this service has.",
     "type": "integer"
    }
   }
  },
  "Metrics": {
   "description": "Metrics for a source.",
   "properties": {
    "name": {
     "description": "Name of the usage metric.",
     "type": "string"
    },
    "maCounterName": {
     "description": "Name of the usage metric.",
     "type": "string"
    },
    "observedTimestamp": {
     "description": "Name of the usage metric.",
     "type": "string",
     "format": "date-time"
    },
    "sourceType": {
     "description": "Name of the usage metric.",
     "type": "string"
    },
    "sourceName": {
     "description": "Source of the metric.",
     "$ref": "#/definitions/MetricsSourceType"
    },
    "unit": {
     "description": "Unit for the metric.",
     "$ref": "#/definitions/MetricsUnit"
    },
    "value": {
     "description": "Name of the usage metric.",
     "type": "number",
     "format": "double"
    }
   }
  },
  "MetricsSourceType": {
   "type": "string",
   "description": "What created the metric.",
   "enum": [
    "PhysicalNode",
    "VirtualMachine",
    "ResourceProvider"
   ],
   "x-ms-enum": {
    "name": "MetricsSourceType",
    "modelAsString": true
   }
  },
  "MetricsUnit": {
   "type": "string",
   "description": "The unit of the metric.",
   "enum": [
    "One",
    "Percentage",
    "Byte",
    "KiloByte",
    "MegaByte",
    "GigaByte",
    "TeraByte"
   ],
   "x-ms-enum": {
    "name": "MetricsUnit",
    "modelAsString": true
   }
  },
  "UsageMetrics": {
   "description": "Metrics of resource usage.",
   "properties": {
    "name": {
     "description": "Name of the usage metric.",
     "type": "string"
    },
    "metricsValue": {
     "description": "List of usage metrics.",
     "type": "array",
     "items": {
      "$ref": "#/definitions/Metrics"
     }
    }
   }
  }
 },
 "parameters": {
  "SubscriptionIdParameter": {
   "name": "subscriptionId",
   "in": "path",
   "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
   "required": true,
   "type": "string"
  },
  "ApiVersionParameter": {
   "name": "api-version",
   "in": "query",
   "description": "Client Api Version.",
   "required": true,
   "x-ms-global": true,
   "enum": [
    "2016-05-01"
   ],
   "type": "string",
   "default": "2016-05-01"
  },
  "FilterParameter": {
   "description": "OData filter parameter.",
   "name": "$filter",
   "in": "query",
   "type": "string",
   "x-ms-parameter-location": "method"
  },
  "LocationParameter": {
   "description": "Location name.",
   "name": "location",
   "in": "path",
   "type": "string",
   "x-ms-parameter-location": "method"
  },
  "ResourceRegistrationIdParameter": {
   "description": "Resource registration id.",
   "name": "resourceRegistrationId",
   "type": "string",
   "required": true,
   "in": "path",
   "x-ms-parameter-location": "method"
  },
  "ServiceRegistrationIdParameter": {
   "description": "Service registration id.",
   "name": "serviceRegistrationId",
   "required": true,
   "type": "string",
   "in": "path",
   "x-ms-parameter-location": "method"
  }
 },
 "securityDefinitions": {
  "azure_auth": {
   "type": "oauth2",
   "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
   "flow": "implicit",
   "description": "Azure Active Directory OAuth2 Flow",
   "scopes": {
    "user_impersonation": "impersonate your user account"
   }
  }
 },
 "security": [
  {
   "azure_auth": [
    "user_impersonation"
   ]
  }
 ]
}