{
    "swagger": "2.0",
    "info": {
        "description": "Resource health operation endpoints and objects.",
        "version": "2016-05-01"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceRegistrationId}/resourceHealths": {
            "get": {
                "x-ms-examples": {
                    "Get a list of resource health items": "./examples/ResourceHealth/ResourceHealthsListOperation_example.json"
                },
                "tags": [
                    "Resources"
                ],
                "description": "Get a list of resources?.",
                "operationId": "ResourceHealths_List",
                "parameters": [
                    {
                        "$ref": "infrastructureinsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/ServiceRegistrationIdParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceHealthList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-ms-odata": "#/definitions/ResourceHealth",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceRegistrationId}/resourceHealths/{resourceRegistrationId}": {
            "get": {
                "x-ms-examples": {
                    "Get health information about a resource": "./examples/Resources/ResourceGetOperation_example.json"
                },
                "tags": [
                    "Resources"
                ],
                "description": "Get health information about a resources.",
                "operationId": "ResourceHealths_Get",
                "parameters": [
                    {
                        "$ref": "infrastructureinsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/ServiceRegistrationIdParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/ResourceRegistrationIdParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceHealth"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "ResourceHealth": {
            "description": "Health information related to a resource.",
            "properties": {
                "properties": {
                    "description": "Health information related to a resource.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/ResourceHealthModel"
                }
            },
            "allOf": [
                {
                    "$ref": "infrastructureinsights.json#/definitions/Resource"
                }
            ]
        },
        "ResourceHealthModel": {
            "description": "Health information related to a resource.",
            "properties": {
                "resourceLocation": {
                    "description": "Gets or sets the resource location.",
                    "type": "string"
                },
                "resourceName": {
                    "description": "Gets or sets the resource name.",
                    "type": "string"
                },
                "resourceDisplayName": {
                    "description": "Gets or sets the resource display name.",
                    "type": "string"
                },
                "resourceType": {
                    "description": "Gets or sets the resource type.",
                    "type": "string"
                },
                "resourceURI": {
                    "description": "Gets or sets the resource uri.",
                    "type": "string"
                },
                "rpRegistrationId": {
                    "description": "Gets or sets the resource provider registration id.",
                    "type": "string"
                },
                "usageMetrics": {
                    "description": "Gets or sets the usage metrics.",
                    "type": "array",
                    "items": {
                        "$ref": "infrastructureinsights.json#/definitions/UsageMetrics"
                    }
                }
            },
            "allOf": [
                {
                    "$ref": "infrastructureinsights.json#/definitions/BaseHealth"
                }
            ]
        },
        "ResourceHealthList": {
            "description": "Pageable list of resource healths.",
            "properties": {
                "value": {
                    "description": "Array of of resource healths",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ResourceHealth"
                    }
                },
                "nextLink": {
                    "description": "URI to next page.",
                    "type": "string"
                }
            }
        }
    }
}