{
    "swagger": "2.0",
    "info": {
        "description": "Service health operation endpoints and objects.",
        "version": "2016-05-01"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths": {
            "get": {
                "x-ms-examples": {
                    "List all services health": "./examples/ServiceHealth/ServiceHealthListOperation_example.json"
                },
                "tags": [
                    "ServiceHealths"
                ],
                "description": "Get a list of all services health",
                "operationId": "ServiceHealths_List",
                "parameters": [
                    {
                        "$ref": "infrastructureinsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ServiceHealthList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-ms-odata": "#/definitions/ServiceHealth",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceHealth}": {
            "get": {
                "x-ms-examples": {
                    "Get a services health": "./examples/ServiceHealth/ServiceHealthGetOperation_example.json"
                },
                "tags": [
                    "ServiceHealths"
                ],
                "description": "Get a services health",
                "operationId": "ServiceHealths_Get",
                "parameters": [
                    {
                        "$ref": "infrastructureinsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/ServiceHealthParameter"
                    },
                    {
                        "$ref": "infrastructureinsights.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ServiceHealth"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "ServiceHealth": {
            "description": "Holds information about a services health.",
            "properties": {
                "properties": {
                    "description": "Holds information about a services health.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/ServiceHealthModel"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "ServiceHealthModel": {
            "description": "Holds information about a services health.",
            "properties": {
                "displayName": {
                    "description": "Name of the alert.",
                    "type": "string"
                },
                "serviceLocation": {
                    "description": "Location of the service.",
                    "type": "string"
                },
                "infraURI": {
                    "description": "The route prefix to the alert.",
                    "type": "string"
                }
            },
            "allOf": [
                {
                    "$ref": "infrastructureinsights.json#/definitions/BaseHealth"
                }
            ]
        },
        "ServiceHealthList": {
            "description": "Pageable list of service health instances.",
            "properties": {
                "value": {
                    "description": "Array of service health instances.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ServiceHealth"
                    }
                },
                "nextLink": {
                    "description": "URI of the next page.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "ServiceHealthParameter": {
            "description": "Service Health name.",
            "name": "serviceHealth",
            "type": "string",
            "required": true,
            "in": "path",
            "x-ms-parameter-location": "method"
        }
    }
}