{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Edge - Config Manager",
    "version": "2024-06-01-preview",
    "description": "Microsoft.Edge Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DynamicConfiguration"
    },
    {
      "name": "CapabilityLists"
    },
    {
      "name": "DeploymentInstances"
    },
    {
      "name": "TargetBindings"
    },
    {
      "name": "DeploymentTargets"
    },
    {
      "name": "UseCases"
    },
    {
      "name": "UseCaseVersion"
    },
    {
      "name": "ConfigurationVersion"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Edge/configurationVersionResources/{configurationVersionResourceName}": {
      "get": {
        "operationId": "ConfigurationVersion_Get",
        "tags": [
          "ConfigurationVersion"
        ],
        "description": "Get a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "configurationVersionResourceName",
            "in": "path",
            "description": "The name of the ConfigurationVersionResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationVersionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationVersion_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConfigurationVersion_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ConfigurationVersion_CreateOrUpdate",
        "tags": [
          "ConfigurationVersion"
        ],
        "description": "Create or update a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "configurationVersionResourceName",
            "in": "path",
            "description": "The name of the ConfigurationVersionResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationVersionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConfigurationVersionResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationVersionResource"
            }
          },
          "201": {
            "description": "Resource 'ConfigurationVersionResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationVersionResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationVersion_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConfigurationVersion_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConfigurationVersion_Update",
        "tags": [
          "ConfigurationVersion"
        ],
        "description": "update a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "configurationVersionResourceName",
            "in": "path",
            "description": "The name of the ConfigurationVersionResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationVersionResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationVersionResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationVersion_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConfigurationVersion_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ConfigurationVersion_Delete",
        "tags": [
          "ConfigurationVersion"
        ],
        "description": "Delete a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "configurationVersionResourceName",
            "in": "path",
            "description": "The name of the ConfigurationVersionResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationVersion_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConfigurationVersion_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Edge/useCaseVersionResources/{useCaseVersionResourceName}": {
      "get": {
        "operationId": "UseCaseVersion_Get",
        "tags": [
          "UseCaseVersion"
        ],
        "description": "Get a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "useCaseVersionResourceName",
            "in": "path",
            "description": "The name of the UseCaseVersionResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UseCaseVersionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UseCaseVersion_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/UseCaseVersion_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "UseCaseVersion_CreateOrUpdate",
        "tags": [
          "UseCaseVersion"
        ],
        "description": "Create or update a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "useCaseVersionResourceName",
            "in": "path",
            "description": "The name of the UseCaseVersionResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UseCaseVersionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'UseCaseVersionResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/UseCaseVersionResource"
            }
          },
          "201": {
            "description": "Resource 'UseCaseVersionResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/UseCaseVersionResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UseCaseVersion_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/UseCaseVersion_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "UseCaseVersion_Update",
        "tags": [
          "UseCaseVersion"
        ],
        "description": "update a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "useCaseVersionResourceName",
            "in": "path",
            "description": "The name of the UseCaseVersionResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UseCaseVersionResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UseCaseVersionResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UseCaseVersion_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/UseCaseVersion_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "UseCaseVersion_Delete",
        "tags": [
          "UseCaseVersion"
        ],
        "description": "Delete a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "useCaseVersionResourceName",
            "in": "path",
            "description": "The name of the UseCaseVersionResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UseCaseVersion_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/UseCaseVersion_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/capabilityListsResources": {
      "get": {
        "operationId": "CapabilityLists_ListBySubscription",
        "tags": [
          "CapabilityLists"
        ],
        "description": "List by subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CapabilityListsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CapabilityLists_ListBySubscription": {
            "$ref": "./examples/CapabilityLists_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/deploymentTargetsResources": {
      "get": {
        "operationId": "DeploymentTargets_ListBySubscription",
        "tags": [
          "DeploymentTargets"
        ],
        "description": "List by subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentTargets_ListBySubscription": {
            "$ref": "./examples/DeploymentTargets_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/targetBindingsResources": {
      "get": {
        "operationId": "TargetBindings_ListBySubscription",
        "tags": [
          "TargetBindings"
        ],
        "description": "List by subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TargetBindingsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TargetBindings_ListBySubscription": {
            "$ref": "./examples/TargetBindings_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/useCasesResources": {
      "get": {
        "operationId": "UseCases_ListBySubscription",
        "tags": [
          "UseCases"
        ],
        "description": "List by subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UseCasesResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UseCases_ListBySubscription": {
            "$ref": "./examples/UseCases_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/capabilityListsResources": {
      "get": {
        "operationId": "CapabilityLists_ListByResourceGroup",
        "tags": [
          "CapabilityLists"
        ],
        "description": "List by specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CapabilityListsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CapabilityLists_ListByResourceGroup": {
            "$ref": "./examples/CapabilityLists_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/capabilityListsResources/{capabilityListsResourceName}": {
      "get": {
        "operationId": "CapabilityLists_Get",
        "tags": [
          "CapabilityLists"
        ],
        "description": "Get a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capabilityListsResourceName",
            "in": "path",
            "description": "The name of the CapabilityListsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CapabilityListsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CapabilityLists_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/CapabilityLists_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "CapabilityLists_CreateOrUpdate",
        "tags": [
          "CapabilityLists"
        ],
        "description": "Create or update a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capabilityListsResourceName",
            "in": "path",
            "description": "The name of the CapabilityListsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapabilityListsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CapabilityListsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CapabilityListsResource"
            }
          },
          "201": {
            "description": "Resource 'CapabilityListsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CapabilityListsResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CapabilityLists_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/CapabilityLists_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CapabilityLists_Update",
        "tags": [
          "CapabilityLists"
        ],
        "description": "update a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capabilityListsResourceName",
            "in": "path",
            "description": "The name of the CapabilityListsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapabilityListsResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CapabilityListsResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CapabilityLists_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/CapabilityLists_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CapabilityLists_Delete",
        "tags": [
          "CapabilityLists"
        ],
        "description": "Delete a Capability Lists Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capabilityListsResourceName",
            "in": "path",
            "description": "The name of the CapabilityListsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CapabilityLists_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/CapabilityLists_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/configurations/{configurationName}/dynamicConfigurationResources/{dynamicConfigurationResourceName}": {
      "get": {
        "operationId": "DynamicConfiguration_Get",
        "tags": [
          "DynamicConfiguration"
        ],
        "description": "Get a Dynamic Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "dynamicConfigurationResourceName",
            "in": "path",
            "description": "The name of the DynamicConfigurationResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfiguration_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/DynamicConfiguration_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DynamicConfiguration_CreateOrUpdate",
        "tags": [
          "DynamicConfiguration"
        ],
        "description": "Create or update a Dynamic Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "dynamicConfigurationResourceName",
            "in": "path",
            "description": "The name of the DynamicConfigurationResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DynamicConfigurationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationResource"
            }
          },
          "201": {
            "description": "Resource 'DynamicConfigurationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfiguration_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/DynamicConfiguration_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DynamicConfiguration_Update",
        "tags": [
          "DynamicConfiguration"
        ],
        "description": "update a Dynamic Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "dynamicConfigurationResourceName",
            "in": "path",
            "description": "The name of the DynamicConfigurationResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamicConfigurationResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfiguration_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/DynamicConfiguration_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DynamicConfiguration_Delete",
        "tags": [
          "DynamicConfiguration"
        ],
        "description": "Delete a Dynamic Configuration Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The name of the Configuration",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "dynamicConfigurationResourceName",
            "in": "path",
            "description": "The name of the DynamicConfigurationResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamicConfiguration_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/DynamicConfiguration_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/deploymentTargetsResources": {
      "get": {
        "operationId": "DeploymentTargets_ListByResourceGroup",
        "tags": [
          "DeploymentTargets"
        ],
        "description": "List by specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentTargets_ListByResourceGroup": {
            "$ref": "./examples/DeploymentTargets_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/deploymentTargetsResources/{deploymentTargetsResourceName}": {
      "get": {
        "operationId": "DeploymentTargets_Get",
        "tags": [
          "DeploymentTargets"
        ],
        "description": "Get a Deployment Targets Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "deploymentTargetsResourceName",
            "in": "path",
            "description": "The name of the DeploymentTargetsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentTargets_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeploymentTargets_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DeploymentTargets_CreateOrUpdate",
        "tags": [
          "DeploymentTargets"
        ],
        "description": "Create or update a Deployment Targets Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "deploymentTargetsResourceName",
            "in": "path",
            "description": "The name of the DeploymentTargetsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentTargetsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DeploymentTargetsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetsResource"
            }
          },
          "201": {
            "description": "Resource 'DeploymentTargetsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetsResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentTargets_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeploymentTargets_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DeploymentTargets_Update",
        "tags": [
          "DeploymentTargets"
        ],
        "description": "update a Deployment Targets Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "deploymentTargetsResourceName",
            "in": "path",
            "description": "The name of the DeploymentTargetsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentTargetsResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentTargetsResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentTargets_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeploymentTargets_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DeploymentTargets_Delete",
        "tags": [
          "DeploymentTargets"
        ],
        "description": "Delete a Deployment Targets Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "deploymentTargetsResourceName",
            "in": "path",
            "description": "The name of the DeploymentTargetsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentTargets_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeploymentTargets_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targetBindingsResources": {
      "get": {
        "operationId": "TargetBindings_ListByResourceGroup",
        "tags": [
          "TargetBindings"
        ],
        "description": "List by specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TargetBindingsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TargetBindings_ListByResourceGroup": {
            "$ref": "./examples/TargetBindings_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targetBindingsResources/{targetBindingsResourceName}": {
      "get": {
        "operationId": "TargetBindings_Get",
        "tags": [
          "TargetBindings"
        ],
        "description": "Get a Target Bindings Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "targetBindingsResourceName",
            "in": "path",
            "description": "The name of the TargetBindingsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TargetBindingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TargetBindings_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/TargetBindings_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "TargetBindings_CreateOrUpdate",
        "tags": [
          "TargetBindings"
        ],
        "description": "Create or update a Target Bindings Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "targetBindingsResourceName",
            "in": "path",
            "description": "The name of the TargetBindingsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetBindingsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'TargetBindingsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/TargetBindingsResource"
            }
          },
          "201": {
            "description": "Resource 'TargetBindingsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/TargetBindingsResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TargetBindings_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/TargetBindings_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "TargetBindings_Update",
        "tags": [
          "TargetBindings"
        ],
        "description": "update a Target Bindings Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "targetBindingsResourceName",
            "in": "path",
            "description": "The name of the TargetBindingsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetBindingsResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TargetBindingsResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TargetBindings_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/TargetBindings_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "TargetBindings_Delete",
        "tags": [
          "TargetBindings"
        ],
        "description": "Delete a Target Bindings Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "targetBindingsResourceName",
            "in": "path",
            "description": "The name of the TargetBindingsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TargetBindings_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/TargetBindings_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targetBindingsResources/{targetBindingsResourceName}/deploymentInstancesResources/{deploymentInstancesResourceName}": {
      "get": {
        "operationId": "DeploymentInstances_Get",
        "tags": [
          "DeploymentInstances"
        ],
        "description": "Get a Deployment Instances Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "targetBindingsResourceName",
            "in": "path",
            "description": "The name of the TargetBindingsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "deploymentInstancesResourceName",
            "in": "path",
            "description": "The name of the DeploymentInstancesResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentInstancesResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentInstances_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeploymentInstances_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DeploymentInstances_CreateOrUpdate",
        "tags": [
          "DeploymentInstances"
        ],
        "description": "Create or update a Deployment Instances Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "targetBindingsResourceName",
            "in": "path",
            "description": "The name of the TargetBindingsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "deploymentInstancesResourceName",
            "in": "path",
            "description": "The name of the DeploymentInstancesResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentInstancesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DeploymentInstancesResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeploymentInstancesResource"
            }
          },
          "201": {
            "description": "Resource 'DeploymentInstancesResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeploymentInstancesResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentInstances_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeploymentInstances_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DeploymentInstances_Update",
        "tags": [
          "DeploymentInstances"
        ],
        "description": "update a Deployment Instances Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "targetBindingsResourceName",
            "in": "path",
            "description": "The name of the TargetBindingsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "deploymentInstancesResourceName",
            "in": "path",
            "description": "The name of the DeploymentInstancesResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentInstancesResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentInstancesResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentInstances_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeploymentInstances_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DeploymentInstances_Delete",
        "tags": [
          "DeploymentInstances"
        ],
        "description": "Delete a Deployment Instances Resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "targetBindingsResourceName",
            "in": "path",
            "description": "The name of the TargetBindingsResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "deploymentInstancesResourceName",
            "in": "path",
            "description": "The name of the DeploymentInstancesResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentInstances_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeploymentInstances_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/useCasesResources": {
      "get": {
        "operationId": "UseCases_ListByResourceGroup",
        "tags": [
          "UseCases"
        ],
        "description": "List by specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UseCasesResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UseCases_ListByResourceGroup": {
            "$ref": "./examples/UseCases_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/useCasesResources/{useCasesResourceName}": {
      "get": {
        "operationId": "UseCases_Get",
        "tags": [
          "UseCases"
        ],
        "description": "Get a Use Case resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "useCasesResourceName",
            "in": "path",
            "description": "The name of the UseCasesResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UseCasesResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UseCases_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/UseCases_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "UseCases_CreateOrUpdate",
        "tags": [
          "UseCases"
        ],
        "description": "Create or update a Use Case resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "useCasesResourceName",
            "in": "path",
            "description": "The name of the UseCasesResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UseCasesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'UseCasesResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/UseCasesResource"
            }
          },
          "201": {
            "description": "Resource 'UseCasesResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/UseCasesResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UseCases_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/UseCases_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "UseCases_Update",
        "tags": [
          "UseCases"
        ],
        "description": "update a Use Case resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "useCasesResourceName",
            "in": "path",
            "description": "The name of the UseCasesResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UseCasesResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UseCasesResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UseCases_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/UseCases_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "UseCases_Delete",
        "tags": [
          "UseCases"
        ],
        "description": "Delete a Use Case resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "useCasesResourceName",
            "in": "path",
            "description": "The name of the UseCasesResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UseCases_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/UseCases_Delete_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "Capability": {
      "type": "object",
      "description": "Capability Properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the capability"
        },
        "description": {
          "type": "string",
          "description": "Description of the capability"
        }
      },
      "required": [
        "name",
        "description"
      ]
    },
    "CapabilityListsResource": {
      "type": "object",
      "description": "Capability Lists Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CapabilityListsResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CapabilityListsResourceListResult": {
      "type": "object",
      "description": "The response of a CapabilityListsResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CapabilityListsResource items on this page",
          "items": {
            "$ref": "#/definitions/CapabilityListsResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CapabilityListsResourceProperties": {
      "type": "object",
      "description": "Capability List Resource Properties",
      "properties": {
        "capabilities": {
          "type": "array",
          "description": "List of capabilities",
          "items": {
            "$ref": "#/definitions/Capability"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        }
      },
      "required": [
        "capabilities"
      ]
    },
    "CapabilityListsResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the CapabilityListsResource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/CapabilityListsResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "CapabilityListsResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the CapabilityListsResource.",
      "properties": {
        "capabilities": {
          "type": "array",
          "description": "List of capabilities",
          "items": {
            "$ref": "#/definitions/Capability"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Configuration": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConfigurationProperties": {
      "type": "object",
      "description": "Configuration Properties",
      "properties": {
        "timezone": {
          "type": "string",
          "description": "Timezone"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "timezone"
      ]
    },
    "ConfigurationVersionResource": {
      "type": "object",
      "description": "Configuration Version Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationVersionResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Kind of the resource",
          "default": "Configuration"
        }
      },
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ConfigurationVersionResourceProperties": {
      "type": "object",
      "description": "Configuration Version Resource Properties",
      "properties": {
        "values": {
          "type": "string",
          "description": "Values for the configuration version"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        }
      },
      "required": [
        "values"
      ]
    },
    "ConfigurationVersionResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ConfigurationVersionResource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of the resource",
          "default": "Configuration"
        },
        "properties": {
          "$ref": "#/definitions/ConfigurationVersionResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ConfigurationVersionResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ConfigurationVersionResource.",
      "properties": {
        "values": {
          "type": "string",
          "description": "Values for the configuration version"
        }
      }
    },
    "DeploymentInstancesResource": {
      "type": "object",
      "description": "Deployment Instances Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentInstancesResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeploymentInstancesResourceProperties": {
      "type": "object",
      "description": "Deployment Instances Resource Properties",
      "properties": {
        "useCaseVersion": {
          "type": "string",
          "description": "Use case version of the deployment instance"
        },
        "configVersion": {
          "type": "string",
          "description": "Config Version of the deployment instance"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        }
      },
      "required": [
        "useCaseVersion",
        "configVersion"
      ]
    },
    "DeploymentInstancesResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DeploymentInstancesResource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentInstancesResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "DeploymentInstancesResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the DeploymentInstancesResource.",
      "properties": {
        "useCaseVersion": {
          "type": "string",
          "description": "Use case version of the deployment instance"
        },
        "configVersion": {
          "type": "string",
          "description": "Config Version of the deployment instance"
        }
      }
    },
    "DeploymentTargetsResource": {
      "type": "object",
      "description": "Deployment Targets Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentTargetsResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the Deployment Targets Resource"
        }
      },
      "required": [
        "displayName"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DeploymentTargetsResourceListResult": {
      "type": "object",
      "description": "The response of a DeploymentTargetsResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeploymentTargetsResource items on this page",
          "items": {
            "$ref": "#/definitions/DeploymentTargetsResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentTargetsResourceProperties": {
      "type": "object",
      "description": "Deployment Targets Resource Properties",
      "properties": {
        "customLocation": {
          "type": "string",
          "description": "Custom location for the deployment target"
        },
        "capabilities": {
          "type": "array",
          "description": "List of capabilities",
          "items": {
            "$ref": "#/definitions/Capability"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        }
      },
      "required": [
        "customLocation",
        "capabilities"
      ]
    },
    "DeploymentTargetsResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DeploymentTargetsResource.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display Name of the Deployment Targets Resource"
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/DeploymentTargetsResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "DeploymentTargetsResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the DeploymentTargetsResource.",
      "properties": {
        "customLocation": {
          "type": "string",
          "description": "Custom location for the deployment target"
        },
        "capabilities": {
          "type": "array",
          "description": "List of capabilities",
          "items": {
            "$ref": "#/definitions/Capability"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DynamicConfigurationResource": {
      "type": "object",
      "description": "Dynamic Configuration Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DynamicConfigurationResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DynamicConfigurationResourceProperties": {
      "type": "object",
      "description": "Dynamic Configuration Resource Properties",
      "properties": {
        "currentVersion": {
          "type": "string",
          "description": "Current Version of the Dynamic Configuration"
        },
        "targetResource": {
          "type": "string",
          "description": "Target Resource of the Dynamic Configuration"
        },
        "parentId": {
          "type": "string",
          "description": "Parent ID of the Dynamic Configuration"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        }
      },
      "required": [
        "currentVersion"
      ]
    },
    "DynamicConfigurationResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DynamicConfigurationResource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DynamicConfigurationResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "DynamicConfigurationResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the DynamicConfigurationResource.",
      "properties": {
        "currentVersion": {
          "type": "string",
          "description": "Current Version of the Dynamic Configuration"
        },
        "targetResource": {
          "type": "string",
          "description": "Target Resource of the Dynamic Configuration"
        },
        "parentId": {
          "type": "string",
          "description": "Parent ID of the Dynamic Configuration"
        }
      }
    },
    "TargetBindingsResource": {
      "type": "object",
      "description": "Target Bindings Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TargetBindingsResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "TargetBindingsResourceListResult": {
[...]
