{
  "swagger": "2.0",
  "info": {
    "title": "StorageImportExport",
    "description": "The Microsoft Azure Storage Import/Export Resource Provider API.",
    "version": "2016-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.windows-ppe.net/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ImportExport/locations": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "ListLocations",
        "description": "Returns a list of locations to which you can ship the disks associated with an import or export job. A location is a Microsoft data center region.",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "The locations were successfully retrieved and are in the response.",
            "schema": {
              "$ref": "#/definitions/LocationsListResult"
            }
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.ImportExport/locations/{locationName}": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "GetLocation",
        "description": "Gets a location to which you can ship the disks associated with an import or export job. A location is an Azure region.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "description": "The name of the location. For example, 'West US' or 'westus'.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "The location was successfully retrieved and is in the response.",
            "schema": {
              "$ref": "#/definitions/Location"
            }
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ImportExport/jobs": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_List",
        "description": "Gets all the active and completed import/export jobs in a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.",
            "required": false,
            "type": "integer",
            "maximum": 100,
            "minimum": 1
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Can be used to restrict the results to certain conditions. The following possible values can be used with $filter: 1) $filter=type eq '{type}'; 2) $filter=trackingnumber eq '{trackingnumber}'; 3) $filter=state eq '{state}'; 4) Logical and combination of the above, for example: $filter=type eq 'Import' and state eq 'Transferring'. Valid values for type are Import and Export. Valid values for state are Creating, Shipping, Received, Transferring, Packaging, Closed, and Completed.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The jobs were successfully retrieved and are in the response.",
            "schema": {
              "$ref": "#/definitions/JobListResult"
            }
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_ListByResourceGroup",
        "description": "Returns all active and completed import/export jobs in a resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.",
            "required": false,
            "type": "integer",
            "maximum": 100,
            "minimum": 1
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Can be used to restrict the results to certain conditions. The following possible values can be used with $filter: 1) $filter=type eq '{type}'; 2) $filter=trackingnumber eq '{trackingnumber}'; 3) $filter=state eq '{state}'; 4) Logical and combination of the above, for example: $filter=type eq 'Import' and state eq 'Transferring'. Valid values for type are Import and Export. Valid values for state are Creating, Shipping, Received, Transferring, Packaging, Closed, and Completed.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The jobs were successfully retrieved and are in the response.",
            "schema": {
              "$ref": "#/definitions/JobListResult"
            }
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_Get",
        "description": "Gets information about an existing import/export job.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the import/export job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "The job was successfully retrieved and is in the response.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_Update",
        "description": "Updates specific properties of the import/export job. You can call this operation to notify the Import/Export service that the hard drives comprising the import or export job have been shipped to the Microsoft data center. It can also be used to cancel an existing job.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the import/export job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobProperties",
            "description": "Import/export job properties that need to be updated.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MutableJob"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "The job was successfully updated.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_CreateOrUpdate",
        "description": "Creates a new import/export job or updates an existing import/export job in the specified subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the import/export job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobProperties",
            "description": "Properties of the import/export job that need to be specified during creation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "The job was successfully updated.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "201": {
            "description": "The job was successfully created.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_Delete",
        "description": "Deletes an existing import/export job. Only import/export jobs in the Creating or Completed states can be deleted.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the import/export job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "The job was successfully deleted."
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/moveResources": {
      "post": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_Move",
        "description": "Moves the specified import/export jobs from the resource group to a target resource group. The target resource group may be in a different subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "MoveJobsParameters",
            "description": "Parameters to be provided to move a job from one resource group to another.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MoveJobParameters"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "The job was successfully moved to the specified resource group."
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}/listBitLockerKeys": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_ListBitLockerKeys",
        "description": "Lists the BitLocker keys for all drives in the specified import/export job.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the import/export job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "The BitLocker keys were successfully retrieved and are in the response.",
            "schema": {
              "$ref": "#/definitions/BitLockerKeysListResult"
            }
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.ImportExport/operations": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "ListSupportedOperations",
        "description": "Returns the list of operations supported by the import/export resource provider.",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "The supported operations were successfully retrieved and are in the response.",
            "schema": {
              "$ref": "#/definitions/SupportedOperationsListResult"
            }
          },
          "default": {
            "description": "An error occurred during the operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource":{
      "description": "The Resource model definition.",
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the resource identifier of the job."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the name of the job."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the type of the job resource."
        },
        "location": {
          "type": "string",
          "description": "Specifies the Azure location where the job is created."
        },
        "tags": {
          "type": "object",
          "description": "Specifies the tags that are assigned to the job."
        }
      }
    },
    "SupportedOperationsListResult": {
      "description": "List of supported operations by the import/export resource provider.",
      "properties": {
        "value": {
          "description": "List of supported operations by the import/export resource provider.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "BitLockerKeysListResult": {
      "description": "List of BitLocker keys for the specified import/export job.",
      "properties": {
        "value": {
          "description": "List of BitLocker keys for the specified import/export job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DriveStatus"
          }
        }
      }
    },
    "MoveJobParameters": {
      "description": "Defines the parameters that need to be provided for moving an import/export job from one reesource group to another.",
      "required": [
        "targetResourceGroup",
        "resources"
      ],
      "properties": {
        "targetResourceGroup": {
          "type": "string",
          "description": "Specifies the target resource group ID to move the jobs to."
        },
        "resources": {
          "type": "array",
          "description": "Specifies the list of jobs to move to the target resource group. The jobs must be from the current resource group from the request URL.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LocationsListResult": {
      "description": "List of locations.",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "description": "List of locations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Location"
          }
        }
      }
    },
    "ErrorBase": {
      "description": "Describes the common properties of the Error object",
      "properties": {
        "code": {
          "description": "Provides information about the error code.",
          "type": "string"
        },
        "message": {
          "description": "Provides information about the error message.",
          "type": "string"
        },
        "target": {
          "description": "Provides information about the error target.",
          "type": "string"
        }
      }
    },
    "ErrorInfo": {
      "description": "Describes the error information.",
      "properties": {
        "details": {
          "description": "Describes the error details if present.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorBase"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ErrorBase"
        }
      ]
    },
    "ErrorResponse": {
      "description": "Describes the model for Error Response.",
      "properties": {
        "error": {
          "description": "Describes the error information",
          "$ref": "#/definitions/ErrorInfo"
        }
      }
    },
    "MutableJobProperties":{
      "description": "Properties of the job that can be updated.",
      "properties": {
        "cancelRequested": {
          "type": "boolean",
          "description": "If specified, the value must be true. The service will attempt to cancel the job."
        },
        "state": {
          "type": "string",
          "description": "If specified, the value must be Shipping, which tells the Import/Export service that the package for the job has been shipped. The ReturnAddress and DeliveryPackage properties must have been set either in this request or in a previous request, otherwise the request will fail.",
          "enum": [ "Shipping" ],
          "x-ms-enum": {
            "name": "MutableJobState",
            "modelAsString": true
          }
        },
        "returnAddress": {
          "description": "Specifies the return address information for the job.",
          "$ref": "#/definitions/ReturnAddress"
        },
        "returnShipping": {
          "description": "Specifies the return carrier and customer's account with the carrier.",
          "$ref": "#/definitions/ReturnShipping"
        },
        "deliveryPackage": {
          "description": "Contains information about the package being shipped by the customer to the Microsoft data center.",
          "$ref": "#/definitions/PackageInfomation"
        },
        "logLevel": {
          "type": "string",
          "description": "Indicates whether error logging or verbose logging is enabled."
        },
        "backupDriveManifest": {
          "type": "boolean",
          "description": "Indicates whether the manifest files on the drives should be copied to block blobs."
        }
      }
    },
    "MutableJob": {
      "description": "Describes the updatable properties of the job",
      "properties": {
        "tags": {
          "type": "object"
        },
        "properties": {
          "description": "Specifies the properties of an UpdateJob.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MutableJobProperties"
        }
      }
    },
    "JobListResult": {
      "description": "List of import/export jobs.",
      "required": [
        "value"
      ],
      "properties": {
        "nextLink": {
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Job"
          }
        }
      }
    },
    "JobProperties": {
      "description": "Import/export job specific properties.",
      "required": [
        "storageAccountId",
        "jobType",
        "returnAddress",
        "returnShipping",
        "diagnosticsPath"
      ],
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "The resource identifier of the storage account where data will be imported to or exported from."
        },
        "containerSas": {
          "type": "string",
          "description": "The container shared access signature (SAS) to be used to import or export data to or from the storage account."
        },
        "jobType": {
          "type": "string",
          "description": "The type of job: Import or Export.",
          "enum": [ "Import", "Export" ],
          "x-ms-enum": {
            "name": "JobType",
            "modelAsString": false
          }
        },
        "returnAddress": {
          "description": "Specifies the return address information for the job.",
          "$ref": "#/definitions/ReturnAddress"
        },
        "returnShipping": {
          "description": "Specifies the return carrier and customer's account with the carrier.",
          "$ref": "#/definitions/ReturnShipping"
        },
        "shippingInformation": {
          "readOnly": true,
          "description": "Contains information about the Microsoft datacenter to which the drives should be shipped.",
          "$ref": "#/definitions/ShippingInformation"
        },
        "deliveryPackage": {
          "description": "Contains information about the package being shipped by the customer to the Microsoft data center.",
          "$ref": "#/definitions/PackageInfomation"
        },
        "returnPackage": {
          "readOnly": true,
          "description": "Contains information about the package being shipped from the Microsoft data center to the customer to return the drives. The format is the same as the deliveryPackage property above. This property is not included if the drives have not yet been returned.",
          "$ref": "#/definitions/PackageInfomation"
        },
        "diagnosticsPath": {
          "type": "string",
          "description": "The virtual blob directory to which the copy logs and backups of drive manifest files (if enabled) will be stored."
        },
        "logLevel": {
          "type": "string",
          "description": "Default value is Error. Indicates whether error logging or verbose logging will be enabled.",
          "default": "Error",
          "enum": [ "Error", "Verbose" ],
          "x-ms-enum": {
            "name": "LogLevel",
            "modelAsString": true
          }
        },
        "backupDriveManifest": {
          "type": "boolean",
          "description": "Default value is false. Indicates whether the manifest files on the drives should be copied to block blobs.",
          "default": false
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Current state of the job.",
          "enum": [ "Creating", "Shipping", "Received", "Transferring", "Packaging", "Closed", "Completed" ],
          "x-ms-enum": {
            "name": "JobState",
            "modelAsString": true
          }
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Indicates whether a request has been submitted to cancel the job."
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "description": "Overall percentage completed for the job."
        },
        "incompleteBlobListUri": {
          "readOnly": true,
          "type": "string",
          "description": "A blob path that points to a block blob containing a list of blob names that were not exported due to insufficient drive space. If all blobs were exported successfully, then this element is not included in the response."
        },
        "driveList": {
          "description": "List of up to ten drives that comprise the job. The drive list is a required element for an import job; it is not specified for export jobs.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DriveStatus"
          },
          "minItems": 0,
          "maxItems": 10
        },
        "export": {
          "description": "A property containing information about the blobs to be exported for an export job. This property is included for export jobs only.",
          "$ref": "#/definitions/Export"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the provisioning state of the job."
        }
      }
    },
    "Job": {
      "description": "Describes an import/export job.",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "description": "Import/export job properties.",
          "$ref": "#/definitions/JobProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "OperationDisplayInformation": {
      "description": "Display information about the operation.",
      "properties": {
        "provider": {
          "description": "The resource provider name to which the operation belongs.",
          "type": "string"
        },
        "resource": {
          "description": "The name of the resource to which the operation belongs.",
          "type": "string"
        },
        "operation": {
          "description": "The display name of the operation.",
          "type": "string"
        },
        "description": {
          "description": "Short description of the operation.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "Describes a supported operation by the Storage Import/Export job API.",
      "required": ["name", "display"],
      "properties": {
        "name": {
          "description": "Name of the operation.",
          "type": "string"
        },
        "display": {
          "description": "Display information about the operation.",
          "$ref": "#/definitions/OperationDisplayInformation",
          "x-ms-client-flatten": true
        }
      }
    },
    "LocationProperties": {
      "description": "Describes the properties of a location.",
      "properties": {
        "recipientName": {
          "description": "The recipient name to use when shipping the drives to the Azure data center.",
          "type": "string"
        },
        "streetAddress1": {
          "description": "The first line of the street address to use when shipping the drives to the Azure data center.",
          "type": "string"
        },
        "streetAddress2": {
          "description": "The second line of the street address to use when shipping the drives to the Azure data center.",
          "type": "string"
        },
        "city": {
          "description": "The city name to use when shipping the drives to the Azure data center.",
          "type": "string"
        },
        "stateOrProvince": {
          "description": "The state or province to use when shipping the drives to the Azure data center.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code to use when shipping the drives to the Azure data center.",
          "type": "string"
        },
        "countryOrRegion": {
          "description": "The country or region to use when shipping the drives to the Azure data center.",
          "type": "string"
        },
        "phone": {
          "description": "The phone number for the Azure data center.",
          "type": "string"
        },
        "supportedCarriers": {
          "type": "array",
          "description": "A list of carriers that are supported at this location.",
          "items": {
            "type": "string"
          }
        },
        "alternateLocations": {
          "type": "array",
          "description": "A list of location IDs that should be used to ship shipping drives to for jobs created against the current location. If the current location is active, it will be part of the list. If it is temporarily closed due to maintenance, this list may contain other locations.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Location": {
      "description": "Provides information about an Azure data center location.",
      "properties": {
        "id": {
          "description": "Specifies the resource identifier of the location.",
          "type": "string"
        },
        "name": {
          "description": "Specifies the name of the location. Use List Locations to get all supported locations.",
          "type": "string"
        },
        "type": {
          "description": "Specifies the resource type of the location.",
          "type": "string"
        },
        "properties": {
          "description": "Describes the properties of a location.",
          "$ref": "#/definitions/LocationProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ReturnAddress": {
      "description": "Specifies the return address information for the job.",
      "required": [
        "recipientName",
        "streetAddress1",
        "city",
        "postalCode",
        "countryOrRegion",
        "phone",
        "email"
      ],
      "properties": {
        "recipientName": {
          "type": "string",
          "description": "The name of the recipient who will receive the hard drives when they are returned."
        },
        "streetAddress1": {
          "type": "string",
          "description": "The first line of the street address to use when returning the drives."
        },
        "streetAddress2": {
          "type": "string",
          "description": "The second line of the street address to use when returning the drives."
        },
        "city": {
          "type": "string",
          "description": "The city name to use when returning the drives."
        },
        "stateOrProvince": {
          "type": "string",
          "description": "The state or province to use when returning the drives."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code to use when returning the drives."
        },
        "countryOrRegion": {
          "type": "string",
          "description": "The country or region to use when returning the drives."
        },
        "phone": {
          "type": "string",
          "description": "Phone number of the recipient of the returned drives."
        },
        "email": {
          "type": "string",
          "description": "Email address of the recipient of the returned drives."
        }
      }
    },
    "ReturnShipping": {
      "description": "Specifies the return carrier and customer's account with the carrier.",
      "required": [
        "carrierName",
        "carrierAccountNumber"
      ],
      "properties": {
        "carrierName": {
          "type": "string",
          "description": "The carrier's name."
        },
        "carrierAccountNumber": {
          "type": "string",
          "description": "The customer's account number with the carrier."
        }
      }
    },
    "ShippingInformation": {
      "description": "Provides information about the Microsoft datacenter to which the drives should be shipped.",
      "required": [
        "name",
        "address"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the recipient at the datacenter."
        },
        "address": {
          "type": "string",
          "description": "The address of the datacenter."
        }
      }
    },
    "PackageInfomation": {
      "description": "Provides information about the package being shipped by the customer to the Microsoft data center.",
      "required": [
        "carrierName",
        "trackingNumber",
        "driveCount",
        "shipDate"
      ],
      "properties": {
        "carrierName": {
          "type": "string",
          "description": "The name of the carrier that is used to ship the import or export drives."
        },
        "trackingNumber": {
          "type": "string",
          "description": "The tracking number of the package."
        },
        "driveCount": {
          "type": "integer",
          "description": "The number of drives included in the package."
        },
        "shipDate": {
          "type": "string",
          "description": "The date the package is shipped."
        }
      }
    },
    "Drive": {
      "description": "Provides information about the drive that contains information about the import/export jobs.",
      "required": [
        "driveId",
        "bitLockerKey",
        "manifestFile",
        "manifestHash"
      ],
      "properties": {
        "driveId": {
          "type": "string",
          "description": "The drive's hardware serial number, without spaces."
        },
        "bitLockerKey": {
          "type": "string",
          "description": "The BitLocker key used to encrypt the drive."
        },
        "manifestFile": {
          "type": "string",
          "description": "The relative path of the manifest file on the drive."
        },
        "manifestHash": {
          "type": "string",
          "description": "The Base16-encoded MD5 hash of the manifest file on the drive."
        }
      }
    },
    "DriveStatus": {
      "description": "Provides information about the drive's status.",
      "properties": {
        "state": {
          "type": "string",
          "description": "The drive's current state.",
          "enum": [ "Specified", "Received", "NeverReceived", "Transferring", "Completed", "CompletedMoreInfo", "ShippedBack" ],
          "x-ms-enum": {
            "name": "DriveState",
            "modelAsString": true
          }
        },
        "copyStatus": {
          "type": "string",
          "description": "Detailed status about the data transfer process. This field is not returned in the response until the drive is in the Transferring state."
        },
        "percentComplete": {
          "type": "integer",
          "description": "Percentage completed for the drive."
        },
        "verboseLogUri": {
          "type": "string",
          "description": "A URI that points to the blob containing the verbose log for the data transfer operation."
        },
        "errorLogUri": {
          "type": "string",
          "description": "A URI that points to the blob containing the error log for the data transfer operation."
        },
        "manifestUri": {
          "type": "string",
          "description": "A URI that points to the blob containing the drive manifest file."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Drive"
        }
      ]
    },
    "Export": {
      "description": "A property containing information about the blobs to be exported for an export job. This property is required for export jobs, but must not be specified for import jobs.",
      "properties": {
        "blobList": {
          "description": "A list of the blobs to be exported.",
          "x-ms-client-flatten": true,
          "properties": {
            "blobPath": {
              "type": "array",
              "description": "A collection of blob-path strings.",
              "items": {
                "type": "string"
              }
            },
            "blobPathPrefix": {
              "type": "array",
              "description": "A collection of blob-prefix strings.",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "blobListblobPath": {
          "type": "string",
          "description": "The relative URI to the block blob that contains the list of blob paths or blob path prefixes as defined above, beginning with the container name. If the blob is in the root container, the URI must begin with $root."
        }
      }
    }
  },
  "parameters": {
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "Specifies the API version to use for this request.",
      "required": true,
      "type": "string",
      "enum": [
        "2016-11-01"
      ]
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription ID for the Azure user.",
      "required": true,
      "type": "string"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The resource group name uniquely identifies the resource group within the user subscription.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "Accept-Language": {
      "name": "Accept-Language",
      "in": "header",
      "description": "Specifies the preferred language for the response.",
      "required": true,
      "type": "string",
      "enum": [
        "en-us"
      ]
    }
  }
}
