{
  "swagger": "2.0",
  "info": {
    "title": "RemediationsClient",
    "version": "2024-10-01",
    "description": "Query component policy states at varying resource scopes for Resource Provider mode policies.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [],
  "paths": {
    "/{resourceId}/providers/Microsoft.PolicyInsights/attestations": {
      "get": {
        "operationId": "Attestations_ListForResource",
        "description": "Gets all attestations for a resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AttestationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List attestations at individual resource scope": {
            "$ref": "./examples/Attestations_ListResourceScope.json"
          },
          "List attestations at individual resource scope with query parameters": {
            "$ref": "./examples/Attestations_ListResourceScope_WithQuery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/attestations/{attestationName}": {
      "get": {
        "operationId": "Attestations_GetAtResource",
        "description": "Gets an existing attestation at resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "attestationName",
            "in": "path",
            "description": "The name of the attestation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Attestation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get attestation at individual resource scope": {
            "$ref": "./examples/Attestations_GetResourceScope.json"
          }
        }
      },
      "put": {
        "operationId": "Attestations_CreateOrUpdateAtResource",
        "description": "Creates or updates an attestation at resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "attestationName",
            "in": "path",
            "description": "The name of the attestation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The attestation parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Attestation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Attestation"
            }
          },
          "201": {
            "description": "Resource 'Attestation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Attestation"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create attestation at individual resource scope": {
            "$ref": "./examples/Attestations_CreateResourceScope.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Attestation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Attestations_DeleteAtResource",
        "description": "Deletes an existing attestation at individual resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "attestationName",
            "in": "path",
            "description": "The name of the attestation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete attestation at individual resource scope": {
            "$ref": "./examples/Attestations_DeleteResourceScope.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/componentPolicyStates/{componentPolicyStatesResource}/queryResults": {
      "post": {
        "operationId": "ComponentPolicyStates_ListQueryResultsForResource",
        "description": "Queries component policy states for the resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "componentPolicyStatesResource",
            "in": "path",
            "description": "The virtual resource under ComponentPolicyStates resource type. In a given time range, 'latest' represents the latest component policy state(s).",
            "required": true,
            "type": "string",
            "enum": [
              "latest"
            ],
            "x-ms-enum": {
              "name": "ComponentPolicyStatesResource",
              "modelAsString": true,
              "values": [
                {
                  "name": "latest",
                  "value": "latest",
                  "description": "latest"
                }
              ]
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "OrderBy"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Select"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "OData apply expression for aggregations.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Apply"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The $expand query parameter.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Expand"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ComponentPolicyStatesQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Query latest component policy compliance state at resource scope filtered by given component id.": {
            "$ref": "./examples/ComponentPolicyStates_QueryResourceScopeFilterByComponentId.json"
          },
          "Query latest component policy compliance state count grouped by component type at resource scope filtered by given assignment.": {
            "$ref": "./examples/ComponentPolicyStates_QueryResourceScopeGroupByComponentTypeWithAggregate.json"
          },
          "Query latest component policy states at nested resource scope": {
            "$ref": "./examples/ComponentPolicyStates_QueryNestedResourceScope.json"
          },
          "Query latest component policy states at resource scope": {
            "$ref": "./examples/ComponentPolicyStates_QueryResourceScope.json"
          },
          "Query latest component policy states at resource scope and expand policyEvaluationDetails": {
            "$ref": "./examples/ComponentPolicyStates_QueryResourceScopeExpandPolicyEvaluationDetails.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults": {
      "post": {
        "operationId": "PolicyEvents_ListQueryResultsForResource",
        "description": "Queries policy events for the resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policyEventsResource",
            "in": "path",
            "description": "The name of the virtual resource under PolicyEvents resource type; only \"default\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "PolicyEventsResourceType",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "OrderBy"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Select"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "OData apply expression for aggregations.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Apply"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The $expand query parameter. For example, to expand components use $expand=components",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Expand"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only provided if a previous response returned a partial result as a part of nextLink element.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "SkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyEventsQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Query at nested resource scope": {
            "$ref": "./examples/PolicyEvents_QueryNestedResourceScope.json"
          },
          "Query at resource scope": {
            "$ref": "./examples/PolicyEvents_QueryResourceScope.json"
          },
          "Query at resource scope with next link": {
            "$ref": "./examples/PolicyEvents_QueryResourceScopeNextLink.json"
          },
          "Query at subscription level nested resource scope": {
            "$ref": "./examples/PolicyEvents_QuerySubscriptionLevelNestedResourceScope.json"
          },
          "Query at subscription level resource scope": {
            "$ref": "./examples/PolicyEvents_QuerySubscriptionLevelResourceScope.json"
          },
          "Query components policy events count grouped by user and action type for resource scope filtered by given assignment.": {
            "$ref": "./examples/PolicyEvents_QueryResourceScopeExpandComponentsGroupByWithAggregate.json"
          },
          "Query components policy events for resource scope filtered by given assignment.": {
            "$ref": "./examples/PolicyEvents_QueryResourceScopeExpandComponents.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults": {
      "post": {
        "operationId": "PolicyStates_ListQueryResultsForResource",
        "description": "Queries policy states for the resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policyStatesResource",
            "in": "path",
            "description": "The virtual resource under PolicyStates resource type. In a given time range, 'latest' represents the latest policy state(s), whereas 'default' represents all policy state(s).",
            "required": true,
            "type": "string",
            "enum": [
              "default",
              "latest"
            ],
            "x-ms-enum": {
              "name": "PolicyStatesResource",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                },
                {
                  "name": "latest",
                  "value": "latest",
                  "description": "latest"
                }
              ]
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "OrderBy"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Select"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "OData apply expression for aggregations.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Apply"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The $expand query parameter. For example, to expand components use $expand=components",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Expand"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only provided if a previous response returned a partial result as a part of nextLink element.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "SkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyStatesQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Query all policy states at nested resource scope": {
            "$ref": "./examples/PolicyStates_QueryNestedResourceScope.json"
          },
          "Query all policy states at resource scope": {
            "$ref": "./examples/PolicyStates_QueryResourceScope.json"
          },
          "Query all policy states at resource scope and expand policyEvaluationDetails": {
            "$ref": "./examples/PolicyStates_QueryResourceScopeExpandPolicyEvaluationDetails.json"
          },
          "Query all policy states at resource scope with next link": {
            "$ref": "./examples/PolicyStates_QueryResourceScopeNextLink.json"
          },
          "Query all policy states at subscription level nested resource scope": {
            "$ref": "./examples/PolicyStates_QuerySubscriptionLevelNestedResourceScope.json"
          },
          "Query all policy states at subscription level resource scope": {
            "$ref": "./examples/PolicyStates_QuerySubscriptionLevelResourceScope.json"
          },
          "Query component policy compliance state at resource scope filtered by given assignment.": {
            "$ref": "./examples/PolicyStates_QueryResourceScopeExpandComponents.json"
          },
          "Query component policy compliance state count grouped by state type at resource scope filtered by given assignment.": {
            "$ref": "./examples/PolicyStates_QueryResourceScopeExpandComponentsGroupByWithAggregate.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize": {
      "post": {
        "operationId": "PolicyStates_SummarizeForResource",
        "description": "Summarizes policy states for the resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policyStatesSummaryResource",
            "in": "path",
            "description": "The virtual resource under PolicyStates resource type for summarize action. In a given time range, 'latest' represents the latest policy state(s) and is the only allowed value.",
            "required": true,
            "type": "string",
            "enum": [
              "latest"
            ],
            "x-ms-enum": {
              "name": "PolicyStatesSummaryResourceType",
              "modelAsString": true,
              "values": [
                {
                  "name": "latest",
                  "value": "latest",
                  "description": "latest"
                }
              ]
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SummarizeResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Summarize at resource scope": {
            "$ref": "./examples/PolicyStates_SummarizeResourceScope.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/remediations": {
      "get": {
        "operationId": "Remediations_ListForResource",
        "description": "Gets all remediations for a resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RemediationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List remediations at individual resource scope": {
            "$ref": "./examples/Remediations_ListResourceScope.json"
          },
          "List remediations at individual resource scope with query parameters": {
            "$ref": "./examples/Remediations_ListResourceScope_WithQuery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}": {
      "get": {
        "operationId": "Remediations_GetAtResource",
        "description": "Gets an existing remediation at resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "remediationName",
            "in": "path",
            "description": "The name of the remediation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Remediation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get remediation at individual resource scope": {
            "$ref": "./examples/Remediations_GetResourceScope.json"
          }
        }
      },
      "put": {
        "operationId": "Remediations_CreateOrUpdateAtResource",
        "description": "Creates or updates a remediation at resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "remediationName",
            "in": "path",
            "description": "The name of the remediation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The remediation parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Remediation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Remediation"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Remediation"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create remediation at individual resource scope": {
            "$ref": "./examples/Remediations_CreateResourceScope.json"
          }
        }
      },
      "delete": {
        "operationId": "Remediations_DeleteAtResource",
        "description": "Deletes an existing remediation at individual resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "remediationName",
            "in": "path",
            "description": "The name of the remediation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Remediation"
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete remediation at individual resource scope": {
            "$ref": "./examples/Remediations_DeleteResourceScope.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/cancel": {
      "post": {
        "operationId": "Remediations_CancelAtResource",
        "description": "Cancel a remediation at resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "remediationName",
            "in": "path",
            "description": "The name of the remediation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Remediation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Cancel a remediation at individual resource scope": {
            "$ref": "./examples/Remediations_CancelResourceScope.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/listDeployments": {
      "post": {
        "operationId": "Remediations_ListDeploymentsAtResource",
        "description": "Gets all deployments for a remediation at resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Resource ID.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "remediationName",
            "in": "path",
            "description": "The name of the remediation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RemediationDeploymentsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List deployments for a remediation at individual resource scope": {
            "$ref": "./examples/Remediations_ListDeploymentsResourceScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/checkPolicyRestrictions": {
      "post": {
        "operationId": "PolicyRestrictions_CheckAtManagementGroupScope",
        "description": "Checks what restrictions Azure Policy will place on resources within a management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "Management group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The check policy restrictions parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckManagementGroupRestrictionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckRestrictionsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Check policy restrictions at management group scope": {
            "$ref": "./examples/PolicyRestrictions_CheckAtManagementGroupScope.json"
          }
        }
      }
    },
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults": {
      "post": {
        "operationId": "PolicyEvents_ListQueryResultsForManagementGroup",
        "description": "Queries policy events for the resources under the management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policyEventsResource",
            "in": "path",
            "description": "The name of the virtual resource under PolicyEvents resource type; only \"default\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "PolicyEventsResourceType",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupName",
            "in": "path",
            "description": "Management group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "OrderBy"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Select"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "OData apply expression for aggregations.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Apply"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only provided if a previous response returned a partial result as a part of nextLink element.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "SkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyEventsQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Query at management group scope": {
            "$ref": "./examples/PolicyEvents_QueryManagementGroupScope.json"
          },
          "Query at management group scope with next link": {
            "$ref": "./examples/PolicyEvents_QueryManagementGroupScopeNextLink.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      }
    },
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults": {
      "post": {
        "operationId": "PolicyStates_ListQueryResultsForManagementGroup",
        "description": "Queries policy states for the resources under the management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policyStatesResource",
            "in": "path",
            "description": "The virtual resource under PolicyStates resource type. In a given time range, 'latest' represents the latest policy state(s), whereas 'default' represents all policy state(s).",
            "required": true,
            "type": "string",
            "enum": [
              "default",
              "latest"
            ],
            "x-ms-enum": {
              "name": "PolicyStatesResource",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                },
                {
                  "name": "latest",
                  "value": "latest",
                  "description": "latest"
                }
              ]
            }
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupName",
            "in": "path",
            "description": "Management group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "OrderBy"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Select"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "OData apply expression for aggregations.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Apply"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only provided if a previous response returned a partial result as a part of nextLink element.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "SkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyStatesQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Query latest at management group scope": {
            "$ref": "./examples/PolicyStates_QueryManagementGroupScope.json"
          },
          "Query latest at management group scope with next link": {
            "$ref": "./examples/PolicyStates_QueryManagementGroupScopeNextLink.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      }
    },
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize": {
      "post": {
        "operationId": "PolicyStates_SummarizeForManagementGroup",
        "description": "Summarizes policy states for the resources under the management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policyStatesSummaryResource",
            "in": "path",
            "description": "The virtual resource under PolicyStates resource type for summarize action. In a given time range, 'latest' represents the latest policy state(s) and is the only allowed value.",
            "required": true,
            "type": "string",
            "enum": [
              "latest"
            ],
            "x-ms-enum": {
              "name": "PolicyStatesSummaryResourceType",
              "modelAsString": true,
              "values": [
                {
                  "name": "latest",
                  "value": "latest",
                  "description": "latest"
                }
              ]
            }
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupName",
            "in": "path",
            "description": "Management group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SummarizeResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Summarize at management group scope": {
            "$ref": "./examples/PolicyStates_SummarizeManagementGroupScope.json"
          }
        }
      }
    },
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations": {
      "get": {
        "operationId": "Remediations_ListForManagementGroup",
        "description": "Gets all remediations for the management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "Management group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RemediationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List remediations at management group scope": {
            "$ref": "./examples/Remediations_ListManagementGroupScope.json"
          },
          "List remediations at management group scope with query parameters": {
            "$ref": "./examples/Remediations_ListManagementGroupScope_WithQuery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}": {
      "get": {
        "operationId": "Remediations_GetAtManagementGroup",
        "description": "Gets an existing remediation at management group scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "Management group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "remediationName",
            "in": "path",
            "description": "The name of the remediation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Remediation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get remediation at management group scope": {
            "$ref": "./examples/Remediations_GetManagementGroupScope.json"
          }
        }
      },
      "put": {
        "operationId": "Remediations_CreateOrUpdateAtManagementGroup",
        "description": "Creates or updates a remediation at management group scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "Management group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "remediationName",
            "in": "path",
            "description": "The name of the remediation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The remediation parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Remediation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Remediation"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Remediation"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create remediation at management group scope": {
            "$ref": "./examples/Remediations_CreateManagementGroupScope.json"
          }
        }
      },
      "delete": {
        "operationId": "Remediations_DeleteAtManagementGroup",
        "description": "Deletes an existing remediation at management group scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "Management group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "remediationName",
            "in": "path",
            "description": "The name of the remediation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Remediation"
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete remediation at management group scope": {
            "$ref": "./examples/Remediations_DeleteManagementGroupScope.json"
          }
        }
      }
    },
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/cancel": {
      "post": {
        "operationId": "Remediations_CancelAtManagementGroup",
        "description": "Cancels a remediation at management group scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "Management group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "remediationName",
            "in": "path",
            "description": "The name of the remediation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Remediation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Cancel a remediation at management group scope": {
            "$ref": "./examples/Remediations_CancelManagementGroupScope.json"
          }
        }
      }
    },
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/listDeployments": {
      "post": {
        "operationId": "Remediations_ListDeploymentsAtManagementGroup",
        "description": "Gets all deployments for a remediation at management group scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupsNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Management"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "Management group ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "remediationName",
            "in": "path",
            "description": "The name of the remediation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RemediationDeploymentsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List deployments for a remediation at management group scope": {
            "$ref": "./examples/Remediations_ListDeploymentsManagementGroupScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.PolicyInsights/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "Lists available operations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationsListResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/Operations_ListOperations.json"
          }
        }
      }
    },
    "/providers/Microsoft.PolicyInsights/policyMetadata": {
      "get": {
        "operationId": "PolicyMetadata_List",
        "description": "Get a list of the policy metadata resources.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyMetadataCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get collection of policy metadata resources": {
            "$ref": "./examples/PolicyMetadata_List.json"
          },
          "Get collection of policy metadata resources using top query parameter": {
            "$ref": "./examples/PolicyMetadata_List_WithTop.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.PolicyInsights/policyMetadata/{resourceName}": {
      "get": {
        "operationId": "PolicyMetadata_GetResource",
        "description": "Get policy metadata resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the policy metadata resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyMetadata"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a single policy metadata resource": {
            "$ref": "./examples/PolicyMetadata_GetResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/componentPolicyStates/{componentPolicyStatesResource}/queryResults": {
      "post": {
        "operationId": "ComponentPolicyStates_ListQueryResultsForSubscriptionLevelPolicyAssignment",
        "description": "Queries component policy states for the subscription level policy assignment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorizationNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Authorization resource provider; only \"Microsoft.Authorization\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Authorization"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "policyAssignmentName",
            "in": "path",
            "description": "Policy assignment name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[^<>%&:\\\\?/#]*$"
          },
          {
            "name": "componentPolicyStatesResource",
            "in": "path",
            "description": "The virtual resource under ComponentPolicyStates resource type. In a given time range, 'latest' represents the latest component policy state(s).",
            "required": true,
            "type": "string",
            "enum": [
              "latest"
            ],
            "x-ms-enum": {
              "name": "ComponentPolicyStatesResource",
              "modelAsString": true,
              "values": [
                {
                  "name": "latest",
                  "value": "latest",
                  "description": "latest"
                }
              ]
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "OrderBy"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Select"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "OData apply expression for aggregations.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Apply"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ComponentPolicyStatesQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Query latest at subscription level policy assignment scope": {
            "$ref": "./examples/ComponentPolicyStates_QuerySubscriptionLevelPolicyAssignmentScope.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults": {
      "post": {
        "operationId": "PolicyEvents_ListQueryResultsForSubscriptionLevelPolicyAssignment",
        "description": "Queries policy events for the subscription level policy assignment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyEventsResource",
            "in": "path",
            "description": "The name of the virtual resource under PolicyEvents resource type; only \"default\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "PolicyEventsResourceType",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "authorizationNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Authorization resource provider; only \"Microsoft.Authorization\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Authorization"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "policyAssignmentName",
            "in": "path",
            "description": "Policy assignment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "OrderBy"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Select"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "OData apply expression for aggregations.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Apply"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only provided if a previous response returned a partial result as a part of nextLink element.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "SkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyEventsQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Query at subscription level policy assignment scope": {
            "$ref": "./examples/PolicyEvents_QuerySubscriptionLevelPolicyAssignmentScope.json"
          },
          "Query at subscription level policy assignment scope with next link": {
            "$ref": "./examples/PolicyEvents_QuerySubscriptionLevelPolicyAssignmentScopeNextLink.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults": {
      "post": {
        "operationId": "PolicyStates_ListQueryResultsForSubscriptionLevelPolicyAssignment",
        "description": "Queries policy states for the subscription level policy assignment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyStatesResource",
            "in": "path",
            "description": "The virtual resource under PolicyStates resource type. In a given time range, 'latest' represents the latest policy state(s), whereas 'default' represents all policy state(s).",
            "required": true,
            "type": "string",
            "enum": [
              "default",
              "latest"
            ],
            "x-ms-enum": {
              "name": "PolicyStatesResource",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                },
                {
                  "name": "latest",
                  "value": "latest",
                  "description": "latest"
                }
              ]
            }
          },
          {
            "name": "authorizationNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Authorization resource provider; only \"Microsoft.Authorization\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Authorization"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "policyAssignmentName",
            "in": "path",
            "description": "Policy assignment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "OrderBy"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Select"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "OData apply expression for aggregations.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Apply"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only provided if a previous response returned a partial result as a part of nextLink element.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "SkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyStatesQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Query latest at subscription level policy assignment scope": {
            "$ref": "./examples/PolicyStates_QuerySubscriptionLevelPolicyAssignmentScope.json"
          },
          "Query latest at subscription level policy assignment scope with next link": {
            "$ref": "./examples/PolicyStates_QuerySubscriptionLevelPolicyAssignmentScopeNextLink.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize": {
      "post": {
        "operationId": "PolicyStates_SummarizeForSubscriptionLevelPolicyAssignment",
        "description": "Summarizes policy states for the subscription level policy assignment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyStatesSummaryResource",
            "in": "path",
            "description": "The virtual resource under PolicyStates resource type for summarize action. In a given time range, 'latest' represents the latest policy state(s) and is the only allowed value.",
            "required": true,
            "type": "string",
            "enum": [
              "latest"
            ],
            "x-ms-enum": {
              "name": "PolicyStatesSummaryResourceType",
              "modelAsString": true,
              "values": [
                {
                  "name": "latest",
                  "value": "latest",
                  "description": "latest"
                }
              ]
            }
          },
          {
            "name": "authorizationNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Authorization resource provider; only \"Microsoft.Authorization\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Authorization"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "policyAssignmentName",
            "in": "path",
            "description": "Policy assignment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SummarizeResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/PolicyInsightsCommon.QueryFailure"
            }
          }
        },
        "x-ms-examples": {
          "Summarize at policy assignment scope": {
            "$ref": "./examples/PolicyStates_SummarizeSubscriptionLevelPolicyAssignmentScope.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyDefinitions/{policyDefinitionName}/providers/Microsoft.PolicyInsights/componentPolicyStates/{componentPolicyStatesResource}/queryResults": {
      "post": {
        "operationId": "ComponentPolicyStates_ListQueryResultsForPolicyDefinition",
        "description": "Queries component policy states for the subscription level policy definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorizationNamespace",
            "in": "path",
            "description": "The namespace for Microsoft Authorization resource provider; only \"Microsoft.Authorization\" is allowed.",
            "required": true,
            "type": "string",
            "enum": [
              "Microsoft.Authorization"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "Policy definition name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[^<>%&:\\\\?/#]*$"
          },
          {
            "name": "componentPolicyStatesResource",
            "in": "path",
            "description": "The virtual resource under ComponentPolicyStates resource type. In a given time range, 'latest' represents the latest component policy state(s).",
            "required": true,
            "type": "string",
            "enum": [
              "latest"
            ],
            "x-ms-enum": {
              "name": "ComponentPolicyStatesResource",
              "modelAsString": true,
              "values": [
                {
                  "name": "latest",
                  "value": "latest",
                  "description": "latest"
                }
              ]
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-client-name": "Top"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "OrderBy"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\".",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Select"
          },
          {
            "name": "$from",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "From"
          },
          {
            "name": "$to",
            "in": "query",
            "description": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-client-name": "To"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Filter"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "OData apply expression for aggregations.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "Apply"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ComponentPolicyStatesQueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
[...]
