{
  "swagger": "2.0",
  "info": {
    "title": "Azure Log Analytics",
    "description": "Azure Log Analytics API reference",
    "version": "2019-08-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/linkedStorageAccounts/{dataSourceType}": {
      "put": {
        "tags": [
          "LinkedStorageAccounts"
        ],
        "x-ms-examples": {
          "LinkedStorageAccountsCreate": {
            "$ref": "./examples/LinkedStorageAccountsCreate.json"
          }
        },
        "operationId": "LinkedStorageAccounts_CreateOrUpdate",
        "description": "Create or Update a link relation between current workspace and a group of storage accounts of a specific data source type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Log Analytics Workspace that will contain the resource."
          },
          {
            "$ref": "#/parameters/DataSourceTypeParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LinkedStorageAccounts"
            },
            "description": "The parameters required to create or update linked storage accounts."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/LinkedStorageAccounts"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "LinkedStorageAccounts"
        ],
        "x-ms-examples": {
          "LinkedStorageAccountsDelete": {
            "$ref": "./examples/LinkedStorageAccountsDelete.json"
          }
        },
        "operationId": "LinkedStorageAccounts_Delete",
        "description": "Deletes all linked storage accounts of a specific data source type associated with the specified workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Log Analytics Workspace that will contain the resource."
          },
          {
            "$ref": "#/parameters/DataSourceTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          }
        }
      },
      "get": {
        "tags": [
          "LinkedStorageAccounts"
        ],
        "x-ms-examples": {
          "LinkedStorageAccountsGet": {
            "$ref": "./examples/LinkedStorageAccountsGet.json"
          }
        },
        "operationId": "LinkedStorageAccounts_Get",
        "description": "Gets all linked storage account of a specific data source type associated with the specified workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Log Analytics Workspace that will contain the resource."
          },
          {
            "$ref": "#/parameters/DataSourceTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/LinkedStorageAccounts"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/linkedStorageAccounts": {
      "get": {
        "tags": [
          "LinkedStorageAccounts"
        ],
        "description": "Gets all linked storage accounts associated with the specified workspace, storage accounts will be sorted by their data source type.",
        "operationId": "LinkedStorageAccounts_ListByWorkspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Log Analytics Workspace that will contain the resource."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/LinkedStorageAccountsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Gets list of linked storage accounts on a workspace.": {
            "$ref": "./examples/LinkedStorageAccountsListByWorkspace.json"
          }
        }
      }
    }
  },
  "definitions": {
    "LinkedStorageAccountsProperties": {
      "description": "Linked storage accounts properties.",
      "type": "object",
      "properties": {
        "dataSourceType": {
          "description": "Linked storage accounts type.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CustomLogs",
            "AzureWatson"
          ],
          "x-ms-enum": {
            "name": "DataSourceType",
            "modelAsString": false
          }
        },
        "storageAccountIds": {
          "description": "Linked storage accounts resources ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LinkedStorageAccounts": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LinkedStorageAccountsProperties",
          "description": "Linked storage accounts properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Linked storage accounts top level resource container.",
      "x-ms-azure-resource": true
    },
    "LinkedStorageAccountsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LinkedStorageAccounts"
          },
          "description": "A list of linked storage accounts instances."
        }
      },
      "description": "The list linked storage accounts service operation response."
    }
  },
  "parameters": {
    "WorkspaceNameParameter": {
      "name": "workspaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Log Analytics workspace name.",
      "x-ms-parameter-location": "method"
    },
    "DataSourceTypeParameter": {
      "name": "dataSourceType",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "CustomLogs",
        "AzureWatson"
      ],
      "x-ms-enum": {
        "name": "DataSourceType",
        "modelAsString": false
      },
      "description": "Linked storage accounts type.",
      "x-ms-parameter-location": "method"
    }
  }
}
