{
  "swagger": "2.0",
  "info": {
    "title": "Azure Log Analytics",
    "description": "Azure Log Analytics API reference",
    "version": "2019-08-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "WorkspacesGet": {
            "$ref": "./examples/WorkspacesListByResourceGroup.json"
          }
        },
        "operationId": "Workspaces_ListByResourceGroup",
        "description": "Gets workspaces in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/WorkspaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "WorkspacesSubscriptionList": {
            "$ref": "./examples/WorkspacesSubscriptionList.json"
          }
        },
        "operationId": "Workspaces_List",
        "description": "Gets the workspaces in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/WorkspaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}": {
      "put": {
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "WorkspacesCreate": {
            "$ref": "./examples/WorkspacesCreate.json"
          }
        },
        "operationId": "Workspaces_CreateOrUpdate",
        "description": "Create or update a workspace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name of the workspace."
          },
          {
            "name": "workspaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$",
            "minLength": 4,
            "maxLength": 63,
            "description": "The name of the workspace."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": "The parameters required to create or update a workspace."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "201": {
            "description": "Created response definition.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "WorkspacesDelete": {
            "$ref": "./examples/WorkspacesDelete.json"
          }
        },
        "operationId": "Workspaces_Delete",
        "description": "Deletes a workspace instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name of the workspace."
          },
          {
            "name": "workspaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Log Analytics Workspace."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent response definition."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "WorkspaceGet": {
            "$ref": "./examples/WorkspacesGet.json"
          }
        },
        "operationId": "Workspaces_Get",
        "description": "Gets a workspace instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name of the workspace."
          },
          {
            "name": "workspaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Log Analytics Workspace."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "WorkspacesPatch": {
            "$ref": "./examples/WorkspacesUpdate.json"
          }
        },
        "operationId": "Workspaces_Update",
        "description": "Updates a workspace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name of the workspace."
          },
          {
            "name": "workspaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$",
            "minLength": 4,
            "maxLength": 63,
            "description": "The name of the workspace."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": "The parameters required to patch a workspace."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The existing workspace was successfully updated. Check provisioningStatus to see detailed status.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SKU.",
          "enum": [
            "Free",
            "Standard",
            "Premium",
            "PerNode",
            "PerGB2018",
            "Standalone",
            "CapacityReservation"
          ],
          "x-ms-enum": {
            "name": "SkuNameEnum",
            "modelAsString": true
          }
        }
      },
      "required": [
        "name"
      ],
      "description": "The SKU (tier) of a workspace."
    },
    "WorkspaceProperties": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the workspace.",
          "enum": [
            "Creating",
            "Succeeded",
            "Failed",
            "Canceled",
            "Deleting",
            "ProvisioningAccount"
          ],
          "x-ms-enum": {
            "name": "EntityStatus",
            "modelAsString": true
          }
        },
        "customerId": {
          "type": "string",
          "description": "This is a read-only property. Represents the ID associated with the workspace.",
          "readOnly": true
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the workspace."
        },
        "retentionInDays": {
          "type": "integer",
          "format": "int32",
          "minimum": -1,
          "maximum": 730,
          "description": "The workspace data retention in days. -1 means Unlimited retention for the Unlimited Sku. 730 days is the maximum allowed for all other Skus. "
        },
        "publicNetworkAccessForIngestion": {
          "description": "The network access type for accessing Log Analytics ingestion.",
          "$ref": "#/definitions/PublicNetworkAccessType"
        },
        "publicNetworkAccessForQuery": {
          "description": "The network access type for accessing Log Analytics query.",
          "$ref": "#/definitions/PublicNetworkAccessType"
        }
      },
      "description": "Workspace properties."
    },
    "Workspace": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkspaceProperties",
          "description": "Workspace properties."
        },
        "eTag": {
          "type": "string",
          "description": "The ETag of the workspace."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
        }
      ],
      "description": "The top level Workspace resource container.",
      "x-ms-azure-resource": true
    },
    "WorkspaceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workspace"
          },
          "description": "A list of workspaces."
        }
      },
      "description": "The list workspaces operation response."
    },
    "PublicNetworkAccessType": {
      "type": "string",
      "description": "The network access type for operating on the Log Analytics Workspace. By default it is Enabled",
      "default": "Enabled",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccessType",
        "modelAsString": true,
        "values": [
          {
            "value": "Enabled",
            "description": "Enables connectivity to Log Analytics through public DNS."
          },
          {
            "value": "Disabled",
            "description": "Disables public connectivity to Log Analytics through public DNS."
          }
        ]
      }
    }
  },
  "parameters": {
  }
}
