{
    "swagger": "2.0",
    "info": {
        "title": "ACE Provisioning GSM API",
        "description": "This API describe ACE Provisioning GSM",
        "version": "2018-01-01"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/providers/Microsoft.ManagementPartner/partners/{partnerId}": {
            "get": {
                "summary": "Get a specific `Partner`.",
                "description": "Get the management partner using the partnerId, objectId and tenantId.",
                "operationId": "Partner_Get",
                "x-ms-examples": {
                    "GetPartnerDetails": {
                        "$ref": "./examples/GetPartnerDetails.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/PartnerIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "tags": [
                    "partner"
                ],
                "responses": {
                    "200": {
                        "description": "Get the details of the `Partner`.",
                        "schema": {
                            "$ref": "#/definitions/PartnerResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.ManagementPartner/partners": {
            "get": {
                "summary": "Get a specific `Partner`.",
                "description": "Get the management partner using the objectId and tenantId..",
                "operationId": "Partner_Get",
                "x-ms-examples": {
                    "GetPartnerDetails": {
                        "$ref": "./examples/GetPartnerDetails.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "tags": [
                    "partner"
                ],
                "responses": {
                    "200": {
                        "description": "Get the details of the `Partner`.",
                        "schema": {
                            "$ref": "#/definitions/PartnerResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.ManagementPartner/partners/{partnerId}": {
            "put": {
                "summary": "Add a specific `Partner`.",
                "description": "Add a management partner for the objectId and tenantId.",
                "operationId": "Partner_Put",
                "x-ms-examples": {
                    "PutPartnerDetails": {
                        "$ref": "./examples/PutPartnerDetails.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/PartnerIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "tags": [
                    "partner"
                ],
                "responses": {
                    "200": {
                        "description": "Get the details of the `Partner`.",
                        "schema": {
                            "$ref": "#/definitions/PartnerResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.ManagementPartner/partners/{partnerId}": {
            "patch": {
                "summary": "Update a specific `Partner`.",
                "description": "Update the management partner for the objectId and tenantId.",
                "operationId": "Partner_Patch",
                "x-ms-examples": {
                    "PatchPartnerDetails": {
                        "$ref": "./examples/PatchPartnerDetails.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/PartnerIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "tags": [
                    "partner"
                ],
                "responses": {
                    "200": {
                        "description": "Get the details of the `Partner`.",
                        "schema": {
                            "$ref": "#/definitions/PartnerResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.ManagementPartner/partners/{partnerId}": {
            "delete": {
                "summary": "Delete a specific `Partner`.",
                "description": "Delete the management partner for the objectId and tenantId.",
                "operationId": "Partner_Delete",
                "x-ms-examples": {
                    "DeletePartnerDetails": {
                        "$ref": "./examples/DeletePartnerDetails.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/PartnerIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "tags": [
                    "partner"
                ],
                "responses": {
                    "200": {
                        "description": "Deleted the `Partner`.",
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
		"/providers/Microsoft.ManagementPartner/operations": {
            "get": {
                "summary": "Get operations.",
                "description": "List all the operations.",
                "operationId": "Operation_List",
                "x-ms-examples": {
                    "GetOperations": {
                        "$ref": "./examples/GetOperations.json"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "tags": [
                    "Operation"
                ],
                "responses": {
                    "200": {
                        "description": "List all the operations.",
                        "schema": {
                            "$ref": "#/definitions/OperationList"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
     "PartnerResponse": {
            "type": "object",
            "x-ms-azure-resource": true,
            "properties": {
                "etag": {
                    "type": "integer"
                },
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Identifier of the partner"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Name of the partner"
                },
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/PartnerProperties"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Type of resource. \"Microsoft.ManagementPartner/partners\""
                }
            }
        },
        "PartnerProperties": {
            "type": "object",
            "properties": {
                "partnerId": {
                    "type": "string",
                    "description": "This is the partner id"
                }，
                "tenantId": {
                   "type": "string",
                    "description": "This is the tenant id."
                },
                "objectId": {
                    "type": "string",
                    "description": "This is the object id."
                },
                "version": {
                    "type": "unit",
                    "description": "This is the object id."
                },
                "updatedTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "This is the DateTime when the partner was updated."
                },
                "createdTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "This is the DateTime when the partner was created."
                },
                "managementPartnerState": {
                     "x-ms-client-flatten": true,
                    "$ref": "#/definitions/ManagementPartnerState"
                }
            }
        },
        "ManagementPartnerState": {
            "type": "string",
            "enum": [
                "Active",
                "Deleted",
            ]
        },
        "ErrorResponseCode": {
            "type": "string",
            "enum": [
                "NotFound",
                "Conflict",
                "BadRequest",
            ]
        },
        "Error": {
            "type": "object",
            "properties": {
                "error": {
                    "$ref": "#/definitions/ExtendedErrorInfo"
                }
            }
        },
        "ExtendedErrorInfo": {
            "type": "object",
            "properties": {
                "code": {
                    "$ref": "#/definitions/ErrorResponseCode"
                },
                "message": {
                    "type": "string"
                }
            }
        },
		"OperationList": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OperationResponse"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "Url to get the next page of items."
                }
            }
        },
        "OperationResponse": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "display": {
                    "$ref": "#/definitions/OperationDisplay"
                },
                "origin": {
                    "type": "string"
                }
            }
        },
        "OperationDisplay": {
            "type": "object",
            "properties": {
                "provider": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "operation": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "PartnerIdParameter": {
            "name": "partnerId",
            "x-ms-parameter-location": "method",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id of the Partner"
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "description": "Supported version.",
            "required": true,
            "type": "string"
        }
    }
}