{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.OperatorVoicemail",
    "version": "2023-03-01-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OperatorVoicemailInstances"
    }
  ],
  "paths": {
    "/providers/Microsoft.OperatorVoicemail/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OperatorVoicemail/locations/{location}/checkNameAvailability": {
      "post": {
        "operationId": "NameAvailability_CheckLocal",
        "description": "Check whether the resource name is available in the given region.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "description": "The location in which uniqueness will be verified.",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The check availability request body.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckNameAvailability": {
            "$ref": "./examples/NameAvailability_CheckLocal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OperatorVoicemail/operatorVoicemailInstances": {
      "get": {
        "tags": [
          "OperatorVoicemailInstances"
        ],
        "operationId": "OperatorVoicemailInstances_ListBySubscription",
        "description": "List OperatorVoicemailInstance resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorVoicemailInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListOperatorVoicemailInstanceResourceSub": {
            "$ref": "./examples/OperatorVoicemailInstances_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperatorVoicemail/operatorVoicemailInstances": {
      "get": {
        "tags": [
          "OperatorVoicemailInstances"
        ],
        "operationId": "OperatorVoicemailInstances_ListByResourceGroup",
        "description": "List OperatorVoicemailInstance resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorVoicemailInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListOperatorVoicemailInstanceResource": {
            "$ref": "./examples/OperatorVoicemailInstances_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperatorVoicemail/operatorVoicemailInstances/{operatorVoicemailInstanceName}": {
      "get": {
        "tags": [
          "OperatorVoicemailInstances"
        ],
        "operationId": "OperatorVoicemailInstances_Get",
        "description": "Get a OperatorVoicemailInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorVoicemailInstanceName",
            "in": "path",
            "required": true,
            "description": "Unique identifier for this Operator Voicemail deployment",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{2,23}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorVoicemailInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetOperatorVoicemailInstanceResource": {
            "$ref": "./examples/OperatorVoicemailInstances_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "OperatorVoicemailInstances"
        ],
        "operationId": "OperatorVoicemailInstances_CreateOrUpdate",
        "description": "Create a OperatorVoicemailInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorVoicemailInstanceName",
            "in": "path",
            "required": true,
            "description": "Unique identifier for this Operator Voicemail deployment",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{2,23}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/OperatorVoicemailInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorVoicemailInstance"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/OperatorVoicemailInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOperatorVoicemailInstanceResource": {
            "$ref": "./examples/OperatorVoicemailInstances_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "OperatorVoicemailInstances"
        ],
        "operationId": "OperatorVoicemailInstances_Delete",
        "description": "Delete a OperatorVoicemailInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorVoicemailInstanceName",
            "in": "path",
            "required": true,
            "description": "Unique identifier for this Operator Voicemail deployment",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{2,23}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteOperatorVoicemailInstanceResource": {
            "$ref": "./examples/OperatorVoicemailInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "OperatorVoicemailInstances"
        ],
        "operationId": "OperatorVoicemailInstances_Update",
        "description": "Update a OperatorVoicemailInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorVoicemailInstanceName",
            "in": "path",
            "required": true,
            "description": "Unique identifier for this Operator Voicemail deployment",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{2,23}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/OperatorVoicemailInstanceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorVoicemailInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateOperatorVoicemailInstanceResource": {
            "$ref": "./examples/OperatorVoicemailInstances_Update.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AutoGeneratedDomainNameLabelScope": {
      "type": "string",
      "description": "Available auto-generated domain name scopes.",
      "enum": [
        "TenantReuse",
        "SubscriptionReuse",
        "ResourceGroupReuse",
        "NoReuse"
      ],
      "x-ms-enum": {
        "name": "AutoGeneratedDomainNameLabelScope",
        "modelAsString": true
      }
    },
    "CheckNameAvailabilityReason": {
      "type": "string",
      "description": "Possible reasons for a name not being available.",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "CheckNameAvailabilityReason",
        "modelAsString": true
      }
    },
    "CheckNameAvailabilityRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource for which availability needs to be checked."
        },
        "type": {
          "type": "string",
          "description": "The resource type."
        }
      },
      "description": "The check availability request body."
    },
    "CheckNameAvailabilityResponse": {
      "type": "object",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Indicates if the resource name is available."
        },
        "reason": {
          "$ref": "#/definitions/CheckNameAvailabilityReason",
          "description": "The reason why the given name is not available."
        },
        "message": {
          "type": "string",
          "description": "Detailed reason why the given name is not available."
        }
      },
      "description": "The check availability result."
    },
    "OperatorVoicemailInstance": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OperatorVoicemailInstanceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "description": "A OperatorVoicemailInstance resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OperatorVoicemailInstanceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperatorVoicemailInstance"
          },
          "x-cadl-name": "OperatorVoicemailInstance[]",
          "description": "The OperatorVoicemailInstance items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a OperatorVoicemailInstance list operation.",
      "required": [
        "value"
      ]
    },
    "OperatorVoicemailInstanceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource provisioning state.",
          "readOnly": true
        },
        "voipConnections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperatorVoicemailVoipConnection"
          },
          "x-ms-identifiers": [
            "remoteDomain"
          ],
          "x-cadl-name": "OperatorVoicemailVoipConnection[]",
          "description": "The set of SIP trunks to be configured on this deployment",
          "minItems": 1,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "autoGeneratedDomainNameLabelScope": {
          "$ref": "#/definitions/AutoGeneratedDomainNameLabelScope",
          "description": "The scope at which the auto-generated domain name can be re-used",
          "default": "TenantReuse",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "autoGeneratedDomainNameLabel": {
          "type": "string",
          "description": "The autogenerated label used as part of the FQDNs for accessing the Azure Operator Voicemail",
          "readOnly": true
        }
      },
      "description": "Details of the OperatorVoicemailInstance resource.",
      "required": [
        "voipConnections"
      ]
    },
    "OperatorVoicemailInstanceUpdate": {
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        }
      },
      "description": "The type used for update operations of the OperatorVoicemailInstance."
    },
    "OperatorVoicemailVoipConnection": {
      "type": "object",
      "properties": {
        "remoteDomain": {
          "type": "string",
          "description": "Domain name of the peer connecting to Azure Operator Voicemail over this SIP trunk. This must match the common name of the TLS certificate presented by the peer.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "allowedSignalingSourceAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "The allowed source IP address or CIDR ranges for signaling",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "allowedMediaSourceAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "The allowed source IP address or CIDR ranges for media",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "Details of SIP trunk.",
      "required": [
        "remoteDomain",
        "allowedSignalingSourceAddressPrefixes",
        "allowedMediaSourceAddressPrefixes"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    }
  },
  "parameters": {}
}
