{
    "swagger": "2.0",
    "info": {
        "title": "Security Center",
        "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
        "version": "2017-08-01-preview"
    },
    "host": "management.azure.com",
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "security": [{
        "azure_auth": [
            "user_impersonation"
        ]
    }],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings": {
            "get": {
                "x-ms-examples": {
                    "Get pricings on subscription": {
                        "$ref": "./examples/Pricings/GetPricingsSubscription_example.json"
                    }
                },
                "tags": ["Pricings"],
                "description": "Security pricing configurations in the subscription",
                "operationId": "Pricings_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PricingList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings": {
            "get": {
                "x-ms-examples": {
                    "Get pricings on subscription": {
                        "$ref": "./examples/Pricings/GetPricingsResourceGroup_example.json"
                    }
                },
                "tags": ["Pricings"],
                "description": "Security pricing configurations in the resource group",
                "operationId": "Pricings_ListByResourceGroup",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/ResourceGroupName"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PricingList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}": {
            "get": {
                "x-ms-examples": {
                    "Get pricings on subscription": {
                        "$ref": "./examples/Pricings/GetPricingSubscription_example.json"
                    }
                },
                "tags": ["Pricings"],
                "description": "Security pricing configuration in the subscriptionSecurity pricing configuration in the subscription",
                "operationId": "Pricings_GetSubscriptionPricing",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/PricingName"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Pricing"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Update pricings on subscription": {
                        "$ref": "./examples/Pricings/CreatePricingsSubscription_example.json"
                    }
                },
                "tags": ["Pricings"],
                "description": "Security pricing configuration in the subscription",
                "operationId": "Pricings_UpdateSubscriptionPricing",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/PricingName"
                }, {
                    "$ref": "#/parameters/Pricing"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Pricing"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings/{pricingName}": {
            "get": {
                "x-ms-examples": {
                    "Get pricings on subscription": {
                        "$ref": "./examples/Pricings/GetPricingResourceGroup_example.json"
                    }
                },
                "tags": ["Pricings"],
                "description": "Security pricing configuration in the resource group",
                "operationId": "Pricings_GetResourceGroupPricing",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/ResourceGroupName"
                }, {
                    "$ref": "#/parameters/PricingName"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Pricing"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Update pricings on resource group": {
                        "$ref": "./examples/Pricings/CreatePricingsResourceGroup_example.json"
                    }
                },
                "tags": ["Pricings"],
                "description": "Security pricing configuration in the resource group",
                "operationId": "Pricings_CreateOrUpdateResourceGroupPricing",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/ResourceGroupName"
                }, {
                    "$ref": "#/parameters/PricingName"
                }, {
                    "$ref": "#/parameters/Pricing"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Pricing"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts": {
            "get": {
                "x-ms-examples": {
                    "Update security contact data": {
                        "$ref": "./examples/SecurityContacts/GetSecurityContactsSubscription_example.json"
                    }
                },
                "tags": ["Security Contacts"],
                "description": "Security contact configurations for the subscription",
                "operationId": "SecurityContacts_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecurityContactList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}": {
            "get": {
                "x-ms-examples": {
                    "Get security contact data": {
                        "$ref": "./examples/SecurityContacts/GetSecurityContact_example.json"
                    }
                },
                "tags": ["Security Contacts"],
                "description": "Security contact configurations for the subscription",
                "operationId": "SecurityContacts_Get",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/SecurityContactName"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecurityContact"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Create security contact data": {
                        "$ref": "./examples/SecurityContacts/CreateSecurityContact_example.json"
                    }
                },
                "tags": ["Security Contacts"],
                "description": "Security contact configurations for the subscription",
                "operationId": "SecurityContacts_Create",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/SecurityContactName"
                }, {
                    "$ref": "#/parameters/SecurityContact"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecurityContact"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete security contact data": {
                        "$ref": "./examples/SecurityContacts/DeleteSecurityContact_example.json"
                    }
                },
                "tags": ["Security Contacts"],
                "description": "Security contact configurations for the subscription",
                "operationId": "SecurityContacts_Delete",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/SecurityContactName"
                }],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "patch": {
                "x-ms-examples": {
                    "Update security contact data": {
                        "$ref": "./examples/SecurityContacts/UpdateSecurityContact_example.json"
                    }
                },
                "tags": ["Security Contacts"],
                "description": "Security contact configurations for the subscription",
                "operationId": "SecurityContacts_Update",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/SecurityContactName"
                }, {
                    "$ref": "#/parameters/SecurityContact"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecurityContact"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings": {
            "get": {
                "x-ms-examples": {
                    "Get workspace settings on subscription": {
                        "$ref": "./examples/WorkspaceSettings/GetWorkspaceSettings_example.json"
                    }
                },
                "tags": ["Workspace Settings"],
                "description": "Settings about where we should store your security data and logs",
                "operationId": "WorkspaceSettings_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkspaceSettingList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings/{workspaceSettingName}": {
            "get": {
                "x-ms-examples": {
                    "Get a workspace setting on subscription": {
                        "$ref": "./examples/WorkspaceSettings/GetWorkspaceSetting_example.json"
                    }
                },
                "tags": ["Workspace Settings"],
                "description": "Settings about where we should store your security data and logs",
                "operationId": "WorkspaceSettings_Get",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/WorkspaceSettingName"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkspaceSetting"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Create a workspace setting data for subscription": {
                        "$ref": "./examples/WorkspaceSettings/CreateWorkspaceSetting_example.json"
                    }
                },
                "tags": ["Workspace Settings"],
                "description": "creating settings about where we should store your security data and logs",
                "operationId": "WorkspaceSettings_Create",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/WorkspaceSettingName"
                }, {
                    "$ref": "#/parameters/WorkspaceSetting"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkspaceSetting"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "patch": {
                "x-ms-examples": {
                    "Update a workspace setting data for subscription": {
                        "$ref": "./examples/WorkspaceSettings/UpdateWorkspaceSetting_example.json"
                    }
                },
                "tags": ["Workspace Settings"],
                "description": "Settings about where we should store your security data and logs",
                "operationId": "WorkspaceSettings_Update",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/WorkspaceSettingName"
                }, {
                    "$ref": "#/parameters/WorkspaceSetting"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkspaceSetting"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete a workspace setting data for resource group": {
                        "$ref": "./examples/WorkspaceSettings/DeleteWorkspaceSetting_example.json"
                    }
                },
                "tags": ["Workspace Settings"],
                "description": "Deletes the custom workspace settings for this subscription. new VMs will report to the default workspace",
                "operationId": "WorkspaceSettings_Delete",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/WorkspaceSettingName"
                }],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings": {
            "get": {
                "x-ms-examples": {
                    "Get auto provisioning settings for subscription": {
                        "$ref": "./examples/AutoProvisioningSettings/GetAutoProvisioningSettingsSubscription_example.json"
                    }
                },
                "tags": ["AutoProvisioningSettings"],
                "description": "Exposes the auto provisioning settings of the subscriptions",
                "operationId": "AutoProvisioningSettings_List",
                "parameters": [{
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AutoProvisioningSettingList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}": {
            "get": {
                "x-ms-examples": {
                    "Get an auto provisioning setting for subscription": {
                        "$ref": "./examples/AutoProvisioningSettings/GetAutoProvisioningSettingSubscription_example.json"
                    }
                },
                "tags": ["AutoProvisioningSettings"],
                "description": "Details of a specific setting",
                "operationId": "AutoProvisioningSettings_Get",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AutoProvisioningSettingName"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AutoProvisioningSetting"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Create auto provisioning settings for subscription": {
                        "$ref": "./examples/AutoProvisioningSettings/CreateAutoProvisioningSettingsSubscription_example.json"
                    }
                },
                "tags": ["AutoProvisioningSettings"],
                "description": "Details of a specific setting",
                "operationId": "AutoProvisioningSettings_Create",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AutoProvisioningSettingName"
                }, {
                    "$ref": "#/parameters/AutoProvisioningSetting"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AutoProvisioningSetting"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        },
        "/{scope}/providers/Microsoft.Security/compliances": {
            "get": {
                "x-ms-examples": {
                    "Get security compliance data over time": {
                        "$ref": "./examples/Compliances/GetCompliances_example.json"
                    }
                },
                "tags": ["Compliances"],
                "description": "The Compliance scores of the specific management group.",
                "operationId": "Compliances_List",
                "parameters": [{
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/Scope"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ComplianceList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/{scope}/providers/Microsoft.Security/compliances/{complianceName}": {
            "get": {
                "x-ms-examples": {
                    "Get security compliance data for a day": {
                        "$ref": "./examples/Compliances/GetCompliance_example.json"
                    }
                },
                "tags": ["Compliances"],
                "description": "Details of a specific Compliance.",
                "operationId": "Compliances_Get",
                "parameters": [{
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/Scope"
                    },
                    {
                        "$ref": "#/parameters/ComplianceName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Compliance"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/CloudError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "CloudError": {
            "x-ms-external": true,
            "type": "object",
            "description": "Error response structure.",
            "properties": {
                "error": {
                    "x-ms-client-flatten": true,
                    "description": "Error data",
                    "$ref": "#/definitions/CloudErrorBody"
                }
            }
        },
        "CloudErrorBody": {
            "x-ms-external": true,
            "type": "object",
            "description": "Error details.",
            "properties": {
                "code": {
                    "readOnly": true,
                    "type": "string",
                    "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
                },
                "message": {
                    "readOnly": true,
                    "type": "string",
                    "description": "A message describing the error, intended to be suitable for display in a user interface."
                }
            }
        },
        "Resource": {
            "type": "object",
            "description": "Describes an Azure resource.",
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Id"
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource name"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type"
                }
            },
            "x-ms-azure-resource": true
        },
        "SecurityContactList": {
            "type": "object",
            "description": "List of security contacts response",
            "properties": {
                "value": {
                    "readOnly": true,
                    "description": "List of security contacts",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SecurityContact"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "SecurityContact": {
            "type": "object",
            "description": "Contact details for security issues",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Security contact data",
                    "$ref": "#/definitions/SecurityContactProperties"
                }
            },
            "allOf": [{
                "$ref": "#/definitions/Resource"
            }]
        },
        "SecurityContactProperties": {
            "type": "object",
            "description": "describes security contact properties",
            "properties": {
                "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email of this security contact"
                },
                "phone": {
                    "type": "string",
                    "description": "The phone number of this security contact"
                },
                "alertNotifications": {
                    "type": "string",
                    "enum": ["On", "Off"],
                    "x-ms-enum": {
                        "name": "alertNotifications",
                        "modelAsString": true,
                        "values": [{
                                "value": "On",
                                "description": "Get notifications on new alerts"
                            },
                            {
                                "value": "Off",
                                "description": "Don't get notifications on new alerts"
                            }
                        ]
                    },
                    "description": "Whether to send security alerts notifications to the security contact"
                },
                "alertsToAdmins": {
                    "type": "string",
                    "enum": ["On", "Off"],
                    "x-ms-enum": {
                        "name": "alertsToAdmins",
                        "modelAsString": true,
                        "values": [{
                                "value": "On",
                                "description": "Send notification on new alerts to the subscription's admins"
                            },
                            {
                                "value": "Off",
                                "description": "Don't send notification on new alerts to the subscription's admins"
                            }
                        ]
                    },
                    "description": "Whether to send security alerts notifications to subscription admins"
                }
            },
            "required": [
                "email",
                "phone",
                "alertNotifications",
                "alertsToAdmins"
            ]
        },
        "PricingList": {
            "description": "List of pricing configurations response",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "array",
                    "description": "List of pricing configurations",
                    "items": {
                        "$ref": "#/definitions/Pricing"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "Pricing": {
            "type": "object",
            "description": "Pricing tier will be applied for the scope based on the resource ID",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Pricing data",
                    "$ref": "#/definitions/PricingProperties"
                }
            },
            "allOf": [{
                "$ref": "#/definitions/Resource"
            }]
        },
        "PricingProperties": {
            "type": "object",
            "description": "Pricing data",
            "properties": {
                "pricingTier": {
                    "type": "string",
                    "description": "Pricing tier type",
                    "enum": ["Free", "Standard"],
                    "x-ms-enum": {
                        "name": "pricingTier",
                        "modelAsString": true,
                        "values": [{
                                "value": "Free",
                                "description": "Get free Azure security center experience with basic security features"
                            },
                            {
                                "value": "Standard",
                                "description": "Get the standard Azure security center experience with advanced security features"
                            }
                        ]
                    }
                }
            },
            "required": [
                "pricingTier"
            ]
        },
        "WorkspaceSettingList": {
            "description": "List of workspace settings response",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "array",
                    "description": "List of workspace settings",
                    "items": {
                        "$ref": "#/definitions/WorkspaceSetting"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "WorkspaceSetting": {
            "type": "object",
            "description": "Configures where to store the OMS agent data for workspaces under a scope",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Workspace setting data",
                    "$ref": "#/definitions/WorkspaceSettingProperties"
                }
            },
            "allOf": [{
                "$ref": "#/definitions/Resource"
            }]
        },
        "WorkspaceSettingProperties": {
            "type": "object",
            "description": "Workspace setting data",
            "properties": {
                "workspaceId": {
                    "type": "string",
                    "description": "The full Azure ID of the workspace to save the data in"
                },
                "scope": {
                    "type": "string",
                    "description": "All the VMs in this scope will send their security data to the mentioned workspace unless overridden by a setting with more specific scope"
                }
            },
            "required": [
                "workspaceId",
                "scope"
            ]
        },
        "AutoProvisioningSettingList": {
            "type": "object",
            "description": "List of all the auto provisioning settings response",
            "properties": {
                "value": {
                    "description": "List of all the auto provisioning settings",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AutoProvisioningSetting"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "AutoProvisioningSetting": {
            "type": "object",
            "description": "Auto provisioning setting",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Auto provisioning setting data",
                    "$ref": "#/definitions/AutoProvisioningSettingProperties"
                }
            },
            "allOf": [{
                "$ref": "#/definitions/Resource"
            }]
        },
        "AutoProvisioningSettingProperties": {
            "type": "object",
            "description": "describes properties of an auto provisioning setting",
            "properties": {
                "autoProvision": {
                    "type": "string",
                    "description": "Describes what kind of security agent provisioning action to take",
                    "enum": ["On", "Off"],
                    "x-ms-enum": {
                        "name": "autoProvision",
                        "modelAsString": true,
                        "values": [{
                                "value": "On",
                                "description": "Install missing security agent on VMs automatically"
                            },
                            {
                                "value": "Off",
                                "description": "Do not install security agent on the VMs automatically"
                            }
                        ]
                    }
                }
            },
            "required": [
                "autoProvision"
            ]
        },
        "ComplianceList": {
            "type": "object",
            "readOnly": true,
            "description": "List of Compliance objects response",
            "properties": {
                "value": {
                    "type": "array",
                    "description": "List of Compliance objects",
                    "items": {
                        "$ref": "#/definitions/Compliance"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "Compliance": {
            "type": "object",
            "readOnly": true,
            "description": "Compliance of a scope",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Compliance data",
                    "$ref": "#/definitions/ComplianceProperties"
                }
            },
            "allOf": [{
                "$ref": "#/definitions/Resource"
            }]
        },
        "ComplianceProperties": {
            "type": "object",
            "description": "The Compliance score (percentage) of a Subscription is a sum of all Resources' Compliances under the given Subscription. A Resource Compliance is defined as the compliant ('healthy') Policy Definitions out of all Policy Definitions applicable to a given resource.",
            "properties": {
                "assessmentTimestampUtcDate": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "The timestamp when the Compliance calculation was conducted."
                },
                "resourceCount": {
                    "readOnly": true,
                    "type": "integer",
                    "description": "The resource count of the given subscription for which the Compliance calculation was conducted (needed for Management Group Compliance calculation)."
                },
                "assessmentResult": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ComplianceSegment"
                    },
                    "description": "An array of segment, which is the actually the compliance assessment."
                }
            }
        },
        "ComplianceSegment": {
            "type": "object",
            "description": "A segment of a compliance assessment.",
            "properties": {
                "segmentType": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The segment type, e.g. compliant, non-compliance, insufficient coverage, N/A, etc."
                },
                "percentage": {
                    "type": "number",
                    "format": "double",
                    "readOnly": true,
                    "description": "The size (%) of the segment."
                }
            }
        }
    },
    "parameters": {
        "SubscriptionId": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type": "string",
            "description": "Azure subscription ID"
        },
        "ResourceGroupName": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90,
            "x-ms-parameter-location": "method"
        },
        "ApiVersion": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": ["2017-08-01-preview"],
            "description": "API version for the operation"
        },
        "Scope": {
            "name": "scope",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
            "x-ms-parameter-location": "method"
        },
        "PricingName": {
            "name": "pricingName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "name of the pricing configuration",
            "x-ms-parameter-location": "method"
        },
        "Pricing": {
            "name": "pricing",
            "in": "body",
            "required": true,
            "description": "Pricing object",
            "schema": {
                "$ref": "#/definitions/Pricing"
            },
            "x-ms-parameter-location": "method"
        },
        "SecurityContactName": {
            "name": "securityContactName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the security contact object",
            "x-ms-parameter-location": "method"
        },
        "SecurityContact": {
            "name": "securityContact",
            "in": "body",
            "required": true,
            "description": "Security contact object",
            "schema": {
                "$ref": "#/definitions/SecurityContact"
            },
            "x-ms-parameter-location": "method"
        },
        "WorkspaceSettingName": {
            "name": "workspaceSettingName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the security setting",
            "x-ms-parameter-location": "method"
        },
        "WorkspaceSetting": {
            "name": "workspaceSetting",
            "in": "body",
            "required": true,
            "description": "Security data setting object",
            "schema": {
                "$ref": "#/definitions/WorkspaceSetting"
            },
            "x-ms-parameter-location": "method"
        },
        "AutoProvisioningSettingName": {
            "name": "settingName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Auto provisioning setting key",
            "x-ms-parameter-location": "method"
        },
        "AutoProvisioningSetting": {
            "name": "setting",
            "in": "body",
            "required": true,
            "description": "Auto provisioning setting key",
            "schema": {
                "$ref": "#/definitions/AutoProvisioningSetting"
            },
            "x-ms-parameter-location": "method"
        },
        "ComplianceName": {
            "name": "complianceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "name of the Compliance",
            "x-ms-parameter-location": "method"
        }
    }
}