{
  "swagger": "2.0",
  "info": {
      "title": "Security Center",
      "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
      "version": "2017-08-01-preview"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [{
      "azure_auth": [
          "user_impersonation"
      ]
  }],
  "securityDefinitions": {
      "azure_auth": {
          "type": "oauth2",
          "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
          "flow": "implicit",
          "description": "Azure Active Directory OAuth2 Flow",
          "scopes": {
              "user_impersonation": "impersonate your user account"
          }
      }
  },
  "paths": {
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings": {
          "get": {
              "x-ms-examples": {
                  "Get pricings on subscription": {
                      "$ref": "./examples/Pricings/GetPricingsSubscription_example.json"
                  }
              },
              "tags": ["Pricings"],
              "description": "Security pricing configurations in the subscription",
              "operationId": "Pricings_List",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/PricingList"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              },
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings": {
          "get": {
              "x-ms-examples": {
                  "Get pricings on subscription": {
                      "$ref": "./examples/Pricings/GetPricingsResourceGroup_example.json"
                  }
              },
              "tags": ["Pricings"],
              "description": "Security pricing configurations in the resource group",
              "operationId": "Pricings_ListByResourceGroup",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/ResourceGroupName"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/PricingList"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              },
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}": {
          "get": {
              "x-ms-examples": {
                  "Get pricings on subscription": {
                      "$ref": "./examples/Pricings/GetPricingSubscription_example.json"
                  }
              },
              "tags": ["Pricings"],
              "description": "Security pricing configuration in the subscriptionSecurity pricing configuration in the subscription",
              "operationId": "Pricings_GetSubscriptionPricing",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/PricingName"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/Pricing"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "put": {
              "x-ms-examples": {
                  "Update pricings on subscription": {
                      "$ref": "./examples/Pricings/CreatePricingsSubscription_example.json"
                  }
              },
              "tags": ["Pricings"],
              "description": "Security pricing configuration in the subscription",
              "operationId": "Pricings_UpdateSubscriptionPricing",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/PricingName"
              }, {
                  "$ref": "#/parameters/Pricing"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/Pricing"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings/{pricingName}": {
          "get": {
              "x-ms-examples": {
                  "Get pricings on subscription": {
                      "$ref": "./examples/Pricings/GetPricingResourceGroup_example.json"
                  }
              },
              "tags": ["Pricings"],
              "description": "Security pricing configuration in the resource group",
              "operationId": "Pricings_GetResourceGroupPricing",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/ResourceGroupName"
              }, {
                  "$ref": "#/parameters/PricingName"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/Pricing"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "put": {
              "x-ms-examples": {
                  "Update pricings on resource group": {
                      "$ref": "./examples/Pricings/CreatePricingsResourceGroup_example.json"
                  }
              },
              "tags": ["Pricings"],
              "description": "Security pricing configuration in the resource group",
              "operationId": "Pricings_CreateOrUpdateResourceGroupPricing",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/ResourceGroupName"
              }, {
                  "$ref": "#/parameters/PricingName"
              }, {
                  "$ref": "#/parameters/Pricing"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/Pricing"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts": {
          "get": {
              "x-ms-examples": {
                  "Update security contact data minimal": {
                      "$ref": "./examples/SecurityContacts/GetSecurityContactsSubscription_min_example.json"
                  },
                  "Update security contact data full": {
                      "$ref": "./examples/SecurityContacts/GetSecurityContactsSubscription_full_example.json"
                  }
              },
              "tags": ["Security Contacts"],
              "description": "Security contact configurations for the subscription",
              "operationId": "SecurityContacts_List",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SecurityContactList"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              },
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}": {
          "get": {
              "x-ms-examples": {
                  "Get security contact data minimal": {
                      "$ref": "./examples/SecurityContacts/GetSecurityContact_min_example.json"
                  },
                  "Get security contact data full": {
                      "$ref": "./examples/SecurityContacts/GetSecurityContact_full_example.json"
                  }
              },
              "tags": ["Security Contacts"],
              "description": "Security contact configurations for the subscription",
              "operationId": "SecurityContacts_Get",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/SecurityContactName"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SecurityContact"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "put": {
              "x-ms-examples": {
                  "Create security contact data minimal": {
                      "$ref": "./examples/SecurityContacts/CreateSecurityContact_min_example.json"
                  },
                  "Create security contact data full": {
                      "$ref": "./examples/SecurityContacts/CreateSecurityContact_full_example.json"
                  }
              },
              "tags": ["Security Contacts"],
              "description": "Security contact configurations for the subscription",
              "operationId": "SecurityContacts_Create",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/SecurityContactName"
              }, {
                  "$ref": "#/parameters/SecurityContact"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SecurityContact"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "delete": {
              "x-ms-examples": {
                  "Delete security contact data": {
                      "$ref": "./examples/SecurityContacts/DeleteSecurityContact_example.json"
                  }
              },
              "tags": ["Security Contacts"],
              "description": "Security contact configurations for the subscription",
              "operationId": "SecurityContacts_Delete",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/SecurityContactName"
              }],
              "responses": {
                  "204": {
                      "description": "No Content"
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "patch": {
              "x-ms-examples": {
                  "Update security contact data minimal": {
                      "$ref": "./examples/SecurityContacts/UpdateSecurityContact_min_example.json"
                  },
                  "Update security contact data full": {
                      "$ref": "./examples/SecurityContacts/UpdateSecurityContact_full_example.json"
                  }
              },
              "tags": ["Security Contacts"],
              "description": "Security contact configurations for the subscription",
              "operationId": "SecurityContacts_Update",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/SecurityContactName"
              }, {
                  "$ref": "#/parameters/SecurityContact"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SecurityContact"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings": {
          "get": {
              "x-ms-examples": {
                  "Get workspace settings on subscription": {
                      "$ref": "./examples/WorkspaceSettings/GetWorkspaceSettings_example.json"
                  }
              },
              "tags": ["Workspace Settings"],
              "description": "Settings about where we should store your security data and logs",
              "operationId": "WorkspaceSettings_List",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/WorkspaceSettingList"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              },
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings/{workspaceSettingName}": {
          "get": {
              "x-ms-examples": {
                  "Get a workspace setting on subscription": {
                      "$ref": "./examples/WorkspaceSettings/GetWorkspaceSetting_example.json"
                  }
              },
              "tags": ["Workspace Settings"],
              "description": "Settings about where we should store your security data and logs",
              "operationId": "WorkspaceSettings_Get",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/WorkspaceSettingName"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/WorkspaceSetting"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "put": {
              "x-ms-examples": {
                  "Create a workspace setting data for subscription": {
                      "$ref": "./examples/WorkspaceSettings/CreateWorkspaceSetting_example.json"
                  }
              },
              "tags": ["Workspace Settings"],
              "description": "creating settings about where we should store your security data and logs",
              "operationId": "WorkspaceSettings_Create",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/WorkspaceSettingName"
              }, {
                  "$ref": "#/parameters/WorkspaceSetting"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/WorkspaceSetting"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "patch": {
              "x-ms-examples": {
                  "Update a workspace setting data for subscription": {
                      "$ref": "./examples/WorkspaceSettings/UpdateWorkspaceSetting_example.json"
                  }
              },
              "tags": ["Workspace Settings"],
              "description": "Settings about where we should store your security data and logs",
              "operationId": "WorkspaceSettings_Update",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/WorkspaceSettingName"
              }, {
                  "$ref": "#/parameters/WorkspaceSetting"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/WorkspaceSetting"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "delete": {
              "x-ms-examples": {
                  "Delete a workspace setting data for resource group": {
                      "$ref": "./examples/WorkspaceSettings/DeleteWorkspaceSetting_example.json"
                  }
              },
              "tags": ["Workspace Settings"],
              "description": "Deletes the custom workspace settings for this subscription. new VMs will report to the default workspace",
              "operationId": "WorkspaceSettings_Delete",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/WorkspaceSettingName"
              }],
              "responses": {
                  "204": {
                      "description": "No Content"
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings": {
          "get": {
              "x-ms-examples": {
                  "Get auto provisioning settings for subscription": {
                      "$ref": "./examples/AutoProvisioningSettings/GetAutoProvisioningSettingsSubscription_example.json"
                  }
              },
              "tags": ["AutoProvisioningSettings"],
              "description": "Exposes the auto provisioning settings of the subscriptions",
              "operationId": "AutoProvisioningSettings_List",
              "parameters": [{
                      "$ref": "#/parameters/ApiVersion"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionId"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/AutoProvisioningSettingList"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              },
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}": {
          "get": {
              "x-ms-examples": {
                  "Get an auto provisioning setting for subscription": {
                      "$ref": "./examples/AutoProvisioningSettings/GetAutoProvisioningSettingSubscription_example.json"
                  }
              },
              "tags": ["AutoProvisioningSettings"],
              "description": "Details of a specific setting",
              "operationId": "AutoProvisioningSettings_Get",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/AutoProvisioningSettingName"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/AutoProvisioningSetting"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "put": {
              "x-ms-examples": {
                  "Create auto provisioning settings for subscription": {
                      "$ref": "./examples/AutoProvisioningSettings/CreateAutoProvisioningSettingsSubscription_example.json"
                  }
              },
              "tags": ["AutoProvisioningSettings"],
              "description": "Details of a specific setting",
              "operationId": "AutoProvisioningSettings_Create",
              "parameters": [{
                  "$ref": "#/parameters/ApiVersion"
              }, {
                  "$ref": "#/parameters/SubscriptionId"
              }, {
                  "$ref": "#/parameters/AutoProvisioningSettingName"
              }, {
                  "$ref": "#/parameters/AutoProvisioningSetting"
              }],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/AutoProvisioningSetting"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/IoTSecuritySolutions": {
          "get": {
              "x-ms-examples": {
                  "Get Security Solutions list": {
                      "$ref": "./examples/IoTSecuritySolutions/GetIoTSecuritySolutionsList_example.json"
                  },
                  "Get Security Solutions list By IotHub": {
                      "$ref": "./examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHub_example.json"
                  }
              },
              "tags": ["IoT Security Solutions"],
              "description": "List of security solutions",
              "operationId": "IoTSecuritySolutions_List",
              "parameters": [
                {
                  "$ref": "#/parameters/ApiVersion"
                },
                {
                  "$ref": "#/parameters/SubscriptionId"
                },
                {
                  "$ref": "#/parameters/FilterParam"
                }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/IoTSecuritySolutionsList"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              },
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/IoTSecuritySolutions": {
          "get": {
              "x-ms-examples": {
                  "Get Security Solutions list": {
                      "$ref": "./examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByRg_example.json"
                  },
                  "Get Security Solutions list By IotHub": {
                      "$ref": "./examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHubAndRg_example.json"
                  }
              },
              "tags": ["IoT Security Solutions"],
              "description": "List of security solutions",
              "operationId": "IoTSecuritySolutionsResourceGroup_List",
              "parameters": [
                {
                  "$ref": "#/parameters/ApiVersion"
                },
                {
                  "$ref": "#/parameters/SubscriptionId"
                },
                {
                  "$ref": "#/parameters/ResourceGroupName"
                },
                {
                  "$ref": "#/parameters/FilterParam"
                }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/IoTSecuritySolutionsList"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              },
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/IoTSecuritySolutions/{solutionName}": {
          "get": {
              "x-ms-examples": {
                  "Get an iot security solution": {
                      "$ref": "./examples/IoTSecuritySolutions/GetIoTSecuritySolution_example.json"
                  }
              },
              "tags": ["IoT Security Solutions"],
              "description": "Details of a specific iot security solution",
              "operationId": "IotSecuritySolution_Get",
              "parameters": [
                {
                    "$ref": "#/parameters/ApiVersion"
                },
                {
                    "$ref": "#/parameters/SubscriptionId"
                },
                {
                  "$ref": "#/parameters/ResourceGroupName"
                },
                {
                    "$ref": "#/parameters/SolutionName"
                }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/IoTSecuritySolution"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "put": {
              "x-ms-examples": {
                  "Create an iot security solution": {
                      "$ref": "./examples/IoTSecuritySolutions/CreateIoTSecuritySolution_example.json"
                  }
              },
              "tags": ["IoT Security Solutions"],
              "description": "Create new solution manager",
              "operationId": "IotSecuritySolution_Create",
              "parameters": [
                {
                    "$ref": "#/parameters/ApiVersion"
                },
                {
                    "$ref": "#/parameters/SubscriptionId"
                },
                {
                  "$ref": "#/parameters/ResourceGroupName"
                },
                {
                    "$ref": "#/parameters/SolutionName"
                }
              ],
              "responses": {
                  "200": {
                      "description": "Updated",
                      "schema": {
                          "$ref": "#/definitions/IoTSecuritySolution"
                      }
                  },
                  "201": {
                    "description": "Created",
                    "schema": {
                        "$ref": "#/definitions/IoTSecuritySolution"
                    }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "patch": {
              "x-ms-examples": {
                  "Create an iot security solution": {
                      "$ref": "./examples/IoTSecuritySolutions/UpdateIoTSecuritySolution_example.json"
                  }
              },
              "tags": ["IoT Security Solutions"],
              "description": "update exists Security Solution tags. to update other fields use the CreateOrUpdate method",
              "operationId": "IotSecuritySolution_Update",
              "parameters": [
                {
                    "$ref": "#/parameters/ApiVersion"
                },
                {
                    "$ref": "#/parameters/SubscriptionId"
                },
                {
                  "$ref": "#/parameters/ResourceGroupName"
                },
                {
                    "$ref": "#/parameters/SolutionName"
                },
                {
                  "name": "SecuritySolutionTags",
                  "in": "body",
                  "required": true,
                  "description": "Updated tag information to set into the iot hub instance.",
                  "schema": {
                    "$ref": "#/definitions/TagsResource"
                  }
                }
              ],
              "responses": {
                  "200": {
                      "description": "Updated",
                      "schema": {
                          "$ref": "#/definitions/IoTSecuritySolution"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "delete": {
              "x-ms-examples": {
                  "Create an iot security solution": {
                      "$ref": "./examples/IoTSecuritySolutions/DeleteIoTSecuritySolution_example.json"
                  }
              },
              "tags": ["IoT Security Solutions"],
              "description": "Create new solution manager",
              "operationId": "IotSecuritySolution_Delete",
              "parameters": [
                {
                    "$ref": "#/parameters/ApiVersion"
                },
                {
                    "$ref": "#/parameters/SubscriptionId"
                },
                {
                  "$ref": "#/parameters/ResourceGroupName"
                },
                {
                    "$ref": "#/parameters/SolutionName"
                }
              ],
              "responses": {
                  "200": {
                      "description": "Security Solution deleted"
                  },
                  "204": {
                    "description": "Security Solution was not exists"
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          }
      },
      "/{scope}/providers/Microsoft.Security/compliances": {
          "get": {
              "x-ms-examples": {
                  "Get security compliance data over time": {
                      "$ref": "./examples/Compliances/GetCompliances_example.json"
                  }
              },
              "tags": ["Compliances"],
              "description": "The Compliance scores of the specific management group.",
              "operationId": "Compliances_List",
              "parameters": [{
                      "$ref": "#/parameters/ApiVersion"
                  },
                  {
                      "$ref": "#/parameters/Scope"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ComplianceList"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              },
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/{scope}/providers/Microsoft.Security/compliances/{complianceName}": {
          "get": {
              "x-ms-examples": {
                  "Get security compliance data for a day": {
                      "$ref": "./examples/Compliances/GetCompliance_example.json"
                  }
              },
              "tags": ["Compliances"],
              "description": "Details of a specific Compliance.",
              "operationId": "Compliances_Get",
              "parameters": [{
                      "$ref": "#/parameters/ApiVersion"
                  },
                  {
                      "$ref": "#/parameters/Scope"
                  },
                  {
                      "$ref": "#/parameters/ComplianceName"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/Compliance"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          }
      },
      "/{resourceId}/providers/Microsoft.Security/advancedThreatProtectionSettings/{settingName}": {
        "get": {
          "x-ms-examples": {
            "Gets the Advanced Threat Protection settings for the specified resource.": {
              "$ref": "./examples/AdvancedThreatProtection/GetAdvancedThreatProtectionSettings_example.json"
            }
          },
          "tags": [ "AdvancedThreatProtection" ],
          "description": "Gets the Advanced Threat Protection settings for the specified resource.",
          "operationId": "AdvancedThreatProtection_Get",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersion"
            },
            {
              "$ref": "#/parameters/ResourceId"
            },
            {
              "$ref": "#/parameters/AdvancedThreatProtectionSettingName"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful request to get Advanced Threat Protection settings.",
              "schema": {
                "$ref": "#/definitions/AdvancedThreatProtectionSetting"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          }
        },
        "put": {
          "x-ms-examples": {
            "Creates or updates the Advanced Threat Protection settings on a specified resource.": {
              "$ref": "./examples/AdvancedThreatProtection/PutAdvancedThreatProtectionSettings_example.json"
            }
          },
          "tags": [ "AdvancedThreatProtection" ],
          "description": "Creates or updates the Advanced Threat Protection settings on a specified resource.",
          "operationId": "AdvancedThreatProtection_Create",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersion"
            },
            {
              "$ref": "#/parameters/ResourceId"
            },
            {
              "$ref": "#/parameters/AdvancedThreatProtectionSettingName"
            },
            {
              "$ref": "#/parameters/AdvancedThreatProtectionSetting"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful request to put Advanced Threat Protection settings.",
              "schema": {
                "$ref": "#/definitions/AdvancedThreatProtectionSetting"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/settings": {
          "get": {
              "x-ms-examples": {
                  "Get settings of subscription": {
                      "$ref": "./examples/Settings/GetSettings_example.json"
                  }
              },
              "tags": [
                  "Settings"
              ],
              "description": "Settings about different configurations in security center",
              "operationId": "Settings_List",
              "parameters": [
                  {
                      "$ref": "#/parameters/ApiVersion"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionId"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SettingsList"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              },
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Security/settings/{settingName}": {
          "get": {
              "x-ms-examples": {
                  "Get a setting on subscription": {
                      "$ref": "./examples/Settings/GetSetting_example.json"
                  }
              },
              "tags": [
                  "Settings"
              ],
              "description": "Settings of different configurations in security center",
              "operationId": "Settings_Get",
              "parameters": [
                  {
                      "$ref": "#/parameters/ApiVersion"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionId"
                  },
                  {
                      "$ref": "#/parameters/SettingName"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/Setting"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "put": {
              "x-ms-examples": {
                  "Update a setting for subscription": {
                      "$ref": "./examples/Settings/UpdateSetting_example.json"
                  }
              },
              "tags": [
                  "Settings"
              ],
              "description": "updating settings about different configurations in security center",
              "operationId": "Settings_Update",
              "parameters": [
                  {
                      "$ref": "#/parameters/ApiVersion"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionId"
                  },
                  {
                      "$ref": "#/parameters/SettingName"
                  },
                  {
                      "$ref": "#/parameters/Setting"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/Setting"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          }
      },
      "/{scope}/providers/Microsoft.Security/informationProtectionPolicies/{informationProtectionPolicyName}": {
          "get": {
              "x-ms-examples": {
                  "Get the customized information protection policy for a management group": {
                      "$ref": "./examples/InformationProtectionPolicies/GetCustomInformationProtectionPolicy_example.json"
                  },
                  "Get the effective information protection policy for a management group": {
                      "$ref": "./examples/InformationProtectionPolicies/GetEffectiveInformationProtectionPolicy_example.json"
                  }
              },
              "tags": ["InformationProtectionPolicies"],
              "description": "Details of the information protection policy.",
              "operationId": "InformationProtectionPolicies_Get",
              "parameters": [{
                      "$ref": "#/parameters/ApiVersion"
                  }, {
                      "$ref": "#/parameters/Scope"
                  }, {
                      "$ref": "#/parameters/InformationProtectionPolicyName"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/InformationProtectionPolicy"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          },
          "put": {
              "x-ms-examples": {
                  "Create or update an information protection policy for a management group": {
                      "$ref": "./examples/InformationProtectionPolicies/CreateOrUpdateInformationProtectionPolicy_example.json"
                  }
              },
              "tags": ["InformationProtectionPolicies"],
              "description": "Details of the information protection policy.",
              "operationId": "InformationProtectionPolicies_CreateOrUpdate",
              "parameters": [{
                      "$ref": "#/parameters/ApiVersion"
                  }, {
                      "$ref": "#/parameters/Scope"
                  }, {
                      "$ref": "#/parameters/InformationProtectionPolicyName"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/InformationProtectionPolicy"
                      }
                  },
                  "201": {
                      "description": "Created",
                      "schema": {
                          "$ref": "#/definitions/InformationProtectionPolicy"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              }
          }
      },
      "/{scope}/providers/Microsoft.Security/informationProtectionPolicies": {
          "get": {
              "x-ms-examples": {
                  "Get information protection policies": {
                      "$ref": "./examples/InformationProtectionPolicies/ListInformationProtectionPolicies_example.json"
                  }
              },
              "tags": ["InformationProtectionPolicies"],
              "description": "Information protection policies of a specific management group.",
              "operationId": "InformationProtectionPolicies_List",
              "parameters": [{
                      "$ref": "#/parameters/ApiVersion"
                  }, {
                      "$ref": "#/parameters/Scope"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/InformationProtectionPolicyList"
                      }
                  },
                  "default": {
                      "description": "Error response describing why the operation failed.",
                      "schema": {
                          "$ref": "#/definitions/CloudError"
                      }
                  }
              },
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      }
  },
  "definitions": {
      "CloudError": {
          "x-ms-external": true,
          "type": "object",
          "description": "Error response structure.",
          "properties": {
              "error": {
                  "x-ms-client-flatten": true,
                  "description": "Error data",
                  "$ref": "#/definitions/CloudErrorBody"
              }
          }
      },
      "CloudErrorBody": {
          "x-ms-external": true,
          "type": "object",
          "description": "Error details.",
          "properties": {
              "code": {
                  "readOnly": true,
                  "type": "string",
                  "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
              },
              "message": {
                  "readOnly": true,
                  "type": "string",
                  "description": "A message describing the error, intended to be suitable for display in a user interface."
              }
          }
      },
      "Resource": {
          "type": "object",
          "description": "Describes an Azure resource.",
          "properties": {
              "id": {
                  "readOnly": true,
                  "type": "string",
                  "description": "Resource Id"
              },
              "name": {
                  "readOnly": true,
                  "type": "string",
                  "description": "Resource name"
              },
              "type": {
                  "readOnly": true,
                  "type": "string",
                  "description": "Resource type"
              }
          },
          "x-ms-azure-resource": true
      },
      "TagsResource": {
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "description": "A container holding only the Tags for a resource, allowing the user to update the tags."
      },
      "Kind": {
          "type": "object",
          "description": "Describes an Azure resource with kind",
          "properties": {
              "kind": {
                  "type": "string",
                  "description": "Kind of the resource"
              }
          }
      },
      "SecurityContactList": {
          "type": "object",
          "description": "List of security contacts response",
          "properties": {
              "value": {
                  "readOnly": true,
                  "description": "List of security contacts",
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/SecurityContact"
                  }
              },
              "nextLink": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The URI to fetch the next page."
              }
          }
      },
      "SecurityContact": {
          "type": "object",
          "description": "Contact details for security issues",
          "properties": {
              "properties": {
                  "x-ms-client-flatten": true,
                  "description": "Security contact data",
                  "$ref": "#/definitions/SecurityContactProperties"
              }
          },
          "allOf": [{
              "$ref": "#/definitions/Resource"
          }]
      },
      "SecurityContactProperties": {
          "type": "object",
          "description": "describes security contact properties",
          "properties": {
              "email": {
                  "type": "string",
                  "format": "email",
                  "description": "The email of this security contact"
              },
              "phone": {
                  "type": "string",
                  "description": "The phone number of this security contact"
              },
              "alertNotifications": {
                  "type": "string",
                  "enum": ["On", "Off"],
                  "x-ms-enum": {
                      "name": "alertNotifications",
                      "modelAsString": true,
                      "values": [{
                              "value": "On",
                              "description": "Get notifications on new alerts"
                          },
                          {
                              "value": "Off",
                              "description": "Don't get notifications on new alerts"
                          }
                      ]
                  },
                  "description": "Whether to send security alerts notifications to the security contact"
              },
              "alertsToAdmins": {
                  "type": "string",
                  "enum": ["On", "Off"],
                  "x-ms-enum": {
                      "name": "alertsToAdmins",
                      "modelAsString": true,
                      "values": [{
                              "value": "On",
                              "description": "Send notification on new alerts to the subscription's admins"
                          },
                          {
                              "value": "Off",
                              "description": "Don't send notification on new alerts to the subscription's admins"
                          }
                      ]
                  },
                  "description": "Whether to send security alerts notifications to subscription admins"
              }
          },
          "required": [
              "email",
              "alertNotifications",
              "alertsToAdmins"
          ]
      },
      "PricingList": {
          "description": "List of pricing configurations response",
          "required": [
              "value"
          ],
          "properties": {
              "value": {
                  "type": "array",
                  "description": "List of pricing configurations",
                  "items": {
                      "$ref": "#/definitions/Pricing"
                  }
              },
              "nextLink": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The URI to fetch the next page."
              }
          }
      },
      "Pricing": {
          "type": "object",
          "description": "Pricing tier will be applied for the scope based on the resource ID",
          "properties": {
              "properties": {
                  "x-ms-client-flatten": true,
                  "description": "Pricing data",
                  "$ref": "#/definitions/PricingProperties"
              }
          },
          "allOf": [{
              "$ref": "#/definitions/Resource"
          }]
      },
      "PricingProperties": {
          "type": "object",
          "description": "Pricing data",
          "properties": {
              "pricingTier": {
                  "type": "string",
                  "description": "Pricing tier type",
                  "enum": ["Free", "Standard"],
                  "x-ms-enum": {
                      "name": "pricingTier",
                      "modelAsString": true,
                      "values": [{
                              "value": "Free",
                              "description": "Get free Azure security center experience with basic security features"
                          },
                          {
                              "value": "Standard",
                              "description": "Get the standard Azure security center experience with advanced security features"
                          }
                      ]
                  }
              }
          },
          "required": [
              "pricingTier"
          ]
      },
      "WorkspaceSettingList": {
          "description": "List of workspace settings response",
          "required": [
              "value"
          ],
          "properties": {
              "value": {
                  "type": "array",
                  "description": "List of workspace settings",
                  "items": {
                      "$ref": "#/definitions/WorkspaceSetting"
                  }
              },
              "nextLink": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The URI to fetch the next page."
              }
          }
      },
      "WorkspaceSetting": {
          "type": "object",
          "description": "Configures where to store the OMS agent data for workspaces under a scope",
          "properties": {
              "properties": {
                  "x-ms-client-flatten": true,
                  "description": "Workspace setting data",
                  "$ref": "#/definitions/WorkspaceSettingProperties"
              }
          },
          "allOf": [{
              "$ref": "#/definitions/Resource"
          }]
      },
      "IoTSecuritySolutionsList": {
          "description": "List of iot solutions",
          "required": [
              "value"
          ],
          "properties": {
              "value": {
                  "type": "array",
                  "description": "List of security solutions",
                  "items": {
                      "$ref": "#/definitions/IoTSecuritySolution"
                  }
              },
              "nextLink": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The URI to fetch the next page."
              }
          }
      },
      "IoTSecuritySolution": {
          "type": "object",
          "description": "Security Solution",
          "properties": {
              "properties": {
                  "x-ms-client-flatten": true,
                  "description": "Security Solution data",
                  "$ref": "#/definitions/IoTSecuritySolutionProperties"
              }
          },
          "allOf": [{
              "$ref": "#/definitions/Resource"
          }, {"$ref": "#/definitions/TagsResource"}]
      },
      "IoTSecuritySolutionProperties": {
          "type": "object",
          "description": "Security Solution setting data",
          "properties": {
              "workspaceResourceId": {
                  "type": "string",
                  "description": "The full Azure ID of the workspace to save the data in"
              },
              "workspaceCustomerId": {
                  "type": "string",
                  "description": "the customer id associate with the workspace"
              },
              "displayName": {
                  "type": "string",
                  "description": "The display name."
              },
              "enabled": {
                  "type": "boolean",
                  "default": true,
                  "description": "Is the solution Enabled for the customer."
              },
              "export": {
                "type": "array",
                "items": {
                  "enum": [
                    "RawEvents",
                    "TwinData"
                  ],
                  "type": "string",
                  "x-ms-enum":{
                    "name": "ExtraData"
                  }
                },
                "default": ["TwinData"],
                "description": "Wether to save the raw events to the given workspace."
              },
              "iotHubs": {
                  "type": "array",
                  "description": "Related iot hub resources ID",
                  "items": { "type": "string" }
              }
          },
          "required": [
              "iotHubs",
              "displayName"
          ]
      },
      "WorkspaceSettingProperties": {
          "type": "object",
          "description": "Workspace setting data",
          "properties": {
              "workspaceId": {
                  "type": "string",
                  "description": "The full Azure ID of the workspace to save the data in"
              },
              "scope": {
                  "type": "string",
                  "description": "All the VMs in this scope will send their security data to the mentioned workspace unless overridden by a setting with more specific scope"
              }
          },
          "required": [
              "workspaceId",
              "scope"
          ]
      },
      "AutoProvisioningSettingList": {
          "type": "object",
          "description": "List of all the auto provisioning settings response",
          "properties": {
              "value": {
                  "description": "List of all the auto provisioning settings",
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/AutoProvisioningSetting"
                  }
              },
              "nextLink": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The URI to fetch the next page."
              }
          }
      },
      "AutoProvisioningSetting": {
          "type": "object",
          "description": "Auto provisioning setting",
          "properties": {
              "properties": {
                  "x-ms-client-flatten": true,
                  "description": "Auto provisioning setting data",
                  "$ref": "#/definitions/AutoProvisioningSettingProperties"
              }
          },
          "allOf": [{
              "$ref": "#/definitions/Resource"
          }]
      },
      "AutoProvisioningSettingProperties": {
          "type": "object",
          "description": "describes properties of an auto provisioning setting",
          "properties": {
              "autoProvision": {
                  "type": "string",
                  "description": "Describes what kind of security agent provisioning action to take",
                  "enum": ["On", "Off"],
                  "x-ms-enum": {
                      "name": "autoProvision",
                      "modelAsString": true,
                      "values": [{
                              "value": "On",
                              "description": "Install missing security agent on VMs automatically"
                          },
                          {
                              "value": "Off",
                              "description": "Do not install security agent on the VMs automatically"
                          }
                      ]
                  }
              }
          },
          "required": [
              "autoProvision"
          ]
      },
      "ComplianceList": {
          "type": "object",
          "readOnly": true,
          "description": "List of Compliance objects response",
          "properties": {
              "value": {
                  "type": "array",
                  "description": "List of Compliance objects",
                  "items": {
                      "$ref": "#/definitions/Compliance"
                  }
              },
              "nextLink": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The URI to fetch the next page."
              }
          }
      },
      "Compliance": {
          "type": "object",
          "readOnly": true,
          "description": "Compliance of a scope",
          "properties": {
              "properties": {
                  "x-ms-client-flatten": true,
                  "description": "Compliance data",
                  "$ref": "#/definitions/ComplianceProperties"
              }
          },
          "allOf": [{
              "$ref": "#/definitions/Resource"
          }]
      },
      "ComplianceProperties": {
          "type": "object",
          "description": "The Compliance score (percentage) of a Subscription is a sum of all Resources' Compliances under the given Subscription. A Resource Compliance is defined as the compliant ('healthy') Policy Definitions out of all Policy Definitions applicable to a given resource.",
          "properties": {
              "assessmentTimestampUtcDate": {
                  "readOnly": true,
                  "type": "string",
                  "format": "date-time",
                  "description": "The timestamp when the Compliance calculation was conducted."
              },
              "resourceCount": {
                  "readOnly": true,
                  "type": "integer",
                  "description": "The resource count of the given subscription for which the Compliance calculation was conducted (needed for Management Group Compliance calculation)."
              },
              "assessmentResult": {
                  "readOnly": true,
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/ComplianceSegment"
                  },
                  "description": "An array of segment, which is the actually the compliance assessment."
              }
          }
      },
      "ComplianceSegment": {
          "type": "object",
          "description": "A segment of a compliance assessment.",
          "properties": {
              "segmentType": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The segment type, e.g. compliant, non-compliance, insufficient coverage, N/A, etc."
              },
              "percentage": {
                  "type": "number",
                  "format": "double",
                  "readOnly": true,
                  "description": "The size (%) of the segment."
              }
          }
      },
      "AdvancedThreatProtectionProperties": {
        "properties": {
          "isEnabled": {
            "type": "boolean",
            "description": "Indicates whether Advanced Threat Protection is enabled."
          }
        },
        "description": "The Advanced Threat Protection settings."
      },
      "AdvancedThreatProtectionSetting": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/definitions/Resource"
          }
        ],
        "properties": {
          "properties": {
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/AdvancedThreatProtectionProperties"
          }
        },
        "description": "The Advanced Threat Protection resource."
      },
      "SettingsList": {
          "type": "object",
          "description": "Subscription settings list.",
          "properties": {
              "value": {
                  "type": "array",
                  "description": "The settings list.",
                  "items": {
                      "$ref": "#/definitions/Setting"
                  }
              },
              "nextLink": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The URI to fetch the next page."
              }
          }
      },
      "Setting": {
          "type": "object",
          "description": "Represents a security setting in Azure Security Center.",
          "discriminator": "kind",
          "properties": {},
          "allOf": [
              {
                  "$ref": "#/definitions/SettingResource"
              }
          ]
      },
      "DataExportSetting": {
          "type": "object",
          "description": "Represents a data export setting",
          "x-ms-discriminator-value": "DataExportSetting",
          "properties": {
              "properties": {
                  "x-ms-client-flatten": true,
                  "description": "Data export setting data",
                  "$ref": "#/definitions/DataExportSettingProperties"
              }
          },
          "allOf": [
              {
                  "$ref": "#/definitions/Setting"
              }
          ]
      },
      "SettingResource": {
          "type": "object",
          "description": "The kind of the security setting",
          "properties": {
              "kind": {
                  "type": "string",
                  "description": "the kind of the settings string (DataExportSetting)",
                  "enum": [
                      "DataExportSetting",
                      "AlertSuppressionSetting"
                  ],
                  "x-ms-enum": {
                      "name": "SettingKind",
                      "modelAsString": true,
                      "values": [
                          {
                              "value": "DataExportSetting"
                          },
                          {
                              "value": "AlertSuppressionSetting"
                          }
                      ]
                  }

              }
          },
          "required": [
              "kind"
          ],
          "allOf": [
              {
                  "$ref": "#/definitions/Resource"
              }
          ]
      },
      "DataExportSettingProperties": {
          "type": "object",
          "description": "The data export setting properties",
          "properties": {
              "enabled": {
                  "type": "boolean",
                  "description": "Is the data export setting is enabled"
              }
          },
          "required": [
              "enabled"
          ]
      },
      "InformationProtectionPolicyList": {
          "type": "object",
          "readOnly": true,
          "description": "Information protection policies response.",
          "properties": {
              "value": {
                  "type": "array",
                  "description": "List of information protection policies.",
                  "items": {
                      "$ref": "#/definitions/InformationProtectionPolicy"
                  }
              },
              "nextLink": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The URI to fetch the next page."
              }
          }
      },
      "InformationProtectionPolicy": {
          "type": "object",
          "description": "Information protection policy.",
          "properties": {
              "properties": {
                  "x-ms-client-flatten": true,
                  "description": "Information protection policy data",
                  "$ref": "#/definitions/InformationProtectionPolicyProperties"
              }
          },
          "allOf": [{
                  "$ref": "#/definitions/Resource"
              }
          ]
      },
      "InformationProtectionPolicyProperties": {
          "type": "object",
          "description": "describes properties of an information protection policy.",
          "properties": {
              "lastModifiedUtc": {
                  "type": "string",
                  "format": "date-time",
                  "readOnly": true,
                  "description": "Describes the last UTC time the policy was modified."
              },
              "labels": {
                  "type": "object",
                  "description": "Dictionary of sensitivity labels.",
                  "additionalProperties": {
                      "type": "object",
                      "$ref": "#/definitions/SensitivityLabel"
                  }
              },
              "informationTypes": {
                  "type": "object",
                  "description": "The sensitivity information types.",
                  "additionalProperties": {
                      "type": "object",
                      "$ref": "#/definitions/InformationType"
                  }
              }
          }
      },
      "SensitivityLabel": {
          "type": "object",
          "description": "The sensitivity label.",
          "properties": {
              "displayName": {
                  "type": "string",
                  "description": "The name of the sensitivity label."
              },
              "order": {
                  "type": "number",
                  "description": "The order of the sensitivity label."
              },
              "enabled": {
                  "type": "boolean",
                  "description": "Indicates whether the label is enabled or not."
              }
          }
      },
      "InformationType": {
          "type": "object",
          "description": "The information type.",
          "properties": {
              "displayName": {
                  "type": "string",
                  "description": "The name of the information type."
              },
              "order": {
                  "type": "number",
                  "description": "The order of the information type."
              },
              "recommendedLabelId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "The recommended label id to be associated with this information type."
              },
              "enabled": {
                  "type": "boolean",
                  "description": "Indicates whether the information type is enabled or not."
              },
              "custom": {
                  "type": "boolean",
                  "description": "Indicates whether the information type is custom or not."
              },
              "keywords": {
                  "type": "array",
                  "description": "The information type keywords.",
                  "items": {
                      "$ref": "#/definitions/InformationProtectionKeyword"
                  }
              }
          }
      },
      "InformationProtectionKeyword": {
          "type": "object",
          "description": "The information type keyword.",
          "properties": {
              "pattern": {
                  "type": "string",
                  "description": "The keyword pattern."
              },
              "custom": {
                  "type": "boolean",
                  "description": "Indicates whether the keyword is custom or not."
              },
              "canBeNumeric": {
                  "type": "boolean",
                  "description": "Indicates whether the keyword can be applied on numeric types or not."
              },
              "excluded": {
                  "type": "boolean",
                  "description": "Indicates whether the keyword is excluded or not."
              }
          }
      }
  },
  "parameters": {
      "SubscriptionId": {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
          "type": "string",
          "description": "Azure subscription ID"
      },
      "Location": {
          "name": "location",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Azure location"
      },
      "ResourceGroupName": {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "minLength": 1,
          "maxLength": 90,
          "x-ms-parameter-location": "method"
      },
      "ApiVersion": {
          "name": "api-version",
          "in": "query",
          "required": true,
          "type": "string",
          "enum": ["2017-08-01-preview"],
          "description": "API version for the operation"
      },
      "Scope": {
          "name": "scope",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
          "x-ms-parameter-location": "method"
      },
      "PricingName": {
          "name": "pricingName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "name of the pricing configuration",
          "x-ms-parameter-location": "method"
      },
      "Pricing": {
          "name": "pricing",
          "in": "body",
          "required": true,
          "description": "Pricing object",
          "schema": {
              "$ref": "#/definitions/Pricing"
          },
          "x-ms-parameter-location": "method"
      },
      "SecurityContactName": {
          "name": "securityContactName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Name of the security contact object",
          "x-ms-parameter-location": "method"
      },
      "SecurityContact": {
          "name": "securityContact",
          "in": "body",
          "required": true,
          "description": "Security contact object",
          "schema": {
              "$ref": "#/definitions/SecurityContact"
          },
          "x-ms-parameter-location": "method"
      },
      "WorkspaceSettingName": {
          "name": "workspaceSettingName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Name of the security setting",
          "x-ms-parameter-location": "method"
      },
      "WorkspaceSetting": {
          "name": "workspaceSetting",
          "in": "body",
          "required": true,
          "description": "Security data setting object",
          "schema": {
              "$ref": "#/definitions/WorkspaceSetting"
          },
          "x-ms-parameter-location": "method"
      },
      "SettingName": {
          "name": "settingName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Name of setting: (MCAS/WDATP)",
          "enum": [
              "MCAS",
              "WDATP"
          ],
          "x-ms-parameter-location": "method"
      },
      "Setting": {
          "name": "setting",
          "in": "body",
          "required": true,
          "description": "Setting object",
          "schema": {
              "$ref": "#/definitions/Setting"
          },
          "x-ms-parameter-location": "method"
      },
      "AutoProvisioningSettingName": {
          "name": "settingName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Auto provisioning setting key",
          "x-ms-parameter-location": "method"
      },
      "AutoProvisioningSetting": {
          "name": "setting",
          "in": "body",
          "required": true,
          "description": "Auto provisioning setting key",
          "schema": {
              "$ref": "#/definitions/AutoProvisioningSetting"
          },
          "x-ms-parameter-location": "method"
      },
      "ComplianceName": {
          "name": "complianceName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "name of the Compliance",
          "x-ms-parameter-location": "method"
      },
      "InformationProtectionPolicyName": {
          "name": "informationProtectionPolicyName",
          "in": "path",
          "required": true,
          "type": "string",
          "enum": ["effective", "custom"],
          "description": "Name of the information protection policy.",
          "x-ms-parameter-location": "method"
      },
      "ResourceId": {
        "name": "resourceId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The identifier of the resource.",
        "x-ms-parameter-location": "method"
      },
      "AdvancedThreatProtectionSettingName": {
        "name": "settingName",
        "in": "path",
        "required": true,
        "type": "string",
        "enum": ["current"],
        "description": "Advanced Threat Protection setting name.",
        "x-ms-parameter-location": "method"
      },
      "AdvancedThreatProtectionSetting": {
        "name": "advancedThreatProtectionSetting",
        "in": "body",
        "required": true,
        "description": "Advanced Threat Protection Settings",
        "schema": {
          "$ref": "#/definitions/AdvancedThreatProtectionSetting"
        },
        "x-ms-parameter-location": "method"
      },
      "SolutionName": {
        "name": "solutionName",
        "in": "path",
        "required": true,
        "description": "The solution manager name",
        "type": "string",
        "x-ms-parameter-location": "method"
      },
      "IotSecuritySolutionData": {
        "name": "iotSecuritySolutionData",
        "in": "body",
        "required": true,
        "description": "The security solution data",
        "schema": {
          "$ref": "#/definitions/IoTSecuritySolution"
        },
        "x-ms-parameter-location": "method"
      },
      "FilterParam": {
        "name": "$filter",
        "in": "query",
        "required": false,
        "description": "filter the Security Solution with OData syntax. supporting filter by iotHubs",
        "type": "string",
        "x-ms-parameter-location": "method"
      }
  }
}