{
  "swagger": "2.0",
  "info": {
      "title": "RPaaSStressTestClient",
      "description": "ProviderHubDevTest provider",
      "version": "2021-01-03-preview"
  },
  "host": "management.azure.com",
  "schemes": [
      "https"
  ],
  "consumes": [
      "application/json"
  ],
  "produces": [
      "application/json"
  ],
  "security": [
      {
          "azure_auth": [
              "user_impersonation"
          ]
      }
  ],
  "securityDefinitions": {
      "azure_auth": {
          "type": "oauth2",
          "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
          "flow": "implicit",
          "description": "Azure Active Directory OAuth2 Flow.",
          "scopes": {
              "user_impersonation": "impersonate your user account"
          }
      }
  },
  "paths": {
      "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHubDevTest/stressTests": {
          "get": {
            "description": "Returns list of stresstests.",
            "operationId": "StressTest_ListBySubscription",
            "parameters": [
              {
                "$ref": "#/parameters/ApiVersionParameter"
              },
              {
                "$ref": "#/parameters/SubscriptionIdParameter"
              }
            ],
            "x-ms-examples": {
              "StressTestListBySubscriptionExample": {
                "$ref": "./examples/StressTestListBySubscriptionExample.json"
              }
            },
            "responses": {
              "200": {
                "description": "StressTest details.",
                "schema": {
                  "$ref": "#/definitions/StressTestResourceList"
                }
              },
              "default": {
                "description": "Resource Provider error response.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            },
            "deprecated": false,
            "x-ms-pageable": {
              "nextLinkName": "nextLink"
            }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHubDevTest/stressTests": {
          "get": {
              "description": "Returns list of stresstests.",
              "operationId": "StressTest_List",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  }
              ],
              "x-ms-examples": {
                "StressTestListExample": {
                  "$ref": "./examples/StressTestListExample.json"
                }
              },
              "responses": {
                  "200": {
                      "description": "StressTest details.",
                      "schema": {
                          "$ref": "#/definitions/StressTestResourceList"
                      }
                  },
                  "default": {
                    "description": "Resource Provider error response.",
                    "schema": {
                      "$ref": "#/definitions/ErrorResponse"
                    }
                  }
              },
              "deprecated": false,
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHubDevTest/stresstests/{stresstestName}": {
          "get": {
              "description": "Returns stresstest resource for a given name.",
              "operationId": "StressTest_Get",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/StressTestNameParameter"
                  }
              ],
              "x-ms-examples": {
                "StressTestGetExample": {
                  "$ref": "./examples/StressTestGetExample.json"
                }
              },
              "responses": {
                  "200": {
                      "description": "StressTest details.",
                      "schema": {
                          "$ref": "#/definitions/StressTestResource"
                      }
                  },
                  "default": {
                    "description": "Resource Provider error response.",
                    "schema": {
                      "$ref": "#/definitions/ErrorResponse"
                    }
                  }
              }
          },
          "delete": {
              "description": "Deletes stresstest resource for a given name.",
              "operationId": "StressTest_Delete",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/StressTestNameParameter"
                  }
              ],
              "x-ms-examples": {
                "StressTestDeleteExample": {
                  "$ref": "./examples/StressTestDeleteExample.json"
                }
              },
              "responses": {
                  "200": {
                      "description": "Deletes the stresstest details.",
                      "schema": {
                        "$ref": "#/definitions/StressTestResource"
                    }
                  },
                  "204": {
                    "description": "Deletes the stresstest details."
                },
                  "default": {
                    "description": "Resource Provider error response.",
                    "schema": {
                      "$ref": "#/definitions/ErrorResponse"
                    }
                  }
              }
          },
          "put": {
              "description": "Create or update stresstest resource.",
              "operationId": "StressTest_CreateAndUpdate",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/StressTestNameParameter"
                  },
                  {
                      "name": "StressTestResourcePut",
                      "description": "StressTest details.",
                      "in": "body",
                      "required": true,
                      "schema": {
                          "$ref": "#/definitions/StressTestResource"
                      }
                  }
              ],
              "x-ms-examples": {
                "StressTestPutExample": {
                  "$ref": "./examples/StressTestPutExample.json"
                }
              },
              "responses": {
                  "200": {
                      "description": "Successful.",
                      "schema": {
                          "$ref": "#/definitions/StressTestResource"
                      }
                  },
                  "default": {
                    "description": "Resource Provider error response.",
                    "schema": {
                      "$ref": "#/definitions/ErrorResponse"
                    }
                  }
              }
          },
          "patch": {
            "description": "Update stresstest resource.",
            "operationId": "StressTest_Update",
            "parameters": [
                {
                    "$ref": "#/parameters/ResourceGroupNameParameter"
                },
                {
                    "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                    "$ref": "#/parameters/StressTestNameParameter"
                },
                {
                    "name": "StressTestResourcePatch",
                    "description": "StressTest details.",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/StressTestResource"
                    }
                }
            ],
            "x-ms-examples": {
              "StressTestPutExample": {
                "$ref": "./examples/StressTestPatchExample.json"
              }
            },
            "responses": {
                "200": {
                    "description": "Successful.",
                    "schema": {
                        "$ref": "#/definitions/StressTestResource"
                    }
                },
                "default": {
                  "description": "Resource Provider error response.",
                  "schema": {
                    "$ref": "#/definitions/ErrorResponse"
                  }
                }
            }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHubDevTest/regionalStressTests": {
        "get": {
          "description": "Returns list of regional stresstests resources.",
          "operationId": "RegionalStressTest_ListBySubscription",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            }
          ],
          "x-ms-examples": {
            "StressTestListBySubscriptionExample": {
              "$ref": "./examples/StressTestListBySubscriptionExample.json"
            }
          },
          "responses": {
            "200": {
              "description": "Regional StressTest details.",
              "schema": {
                "$ref": "#/definitions/StressTestResourceList"
              }
            },
            "default": {
              "description": "Resource Provider error response.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHubDevTest/regionalStressTests": {
        "get": {
            "description": "Returns list of regional stresstests.",
            "operationId": "RegionalStressTest_List",
            "parameters": [
                {
                    "$ref": "#/parameters/ResourceGroupNameParameter"
                },
                {
                    "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "#/parameters/SubscriptionIdParameter"
                }
            ],
            "x-ms-examples": {
              "StressTestListExample": {
                "$ref": "./examples/StressTestListExample.json"
              }
            },
            "responses": {
                "200": {
                    "description": "Regional StressTest details.",
                    "schema": {
                        "$ref": "#/definitions/StressTestResourceList"
                    }
                },
                "default": {
                  "description": "Resource Provider error response.",
                  "schema": {
                    "$ref": "#/definitions/ErrorResponse"
                  }
                }
            },
            "deprecated": false,
            "x-ms-pageable": {
                "nextLinkName": "nextLink"
            }
        }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHubDevTest/regionalStresstests/{stresstestName}": {
        "get": {
            "description": "Returns stresstest resource for a given name.",
            "operationId": "RegionalStressTest_Get",
            "parameters": [
                {
                    "$ref": "#/parameters/ResourceGroupNameParameter"
                },
                {
                    "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                    "$ref": "#/parameters/StressTestNameParameter"
                }
            ],
            "x-ms-examples": {
              "StressTestGetExample": {
                "$ref": "./examples/StressTestGetExample.json"
              }
            },
            "responses": {
                "200": {
                    "description": "RegionalStressTest details.",
                    "schema": {
                        "$ref": "#/definitions/StressTestResource"
                    }
                },
                "default": {
                  "description": "Resource Provider error response.",
                  "schema": {
                    "$ref": "#/definitions/ErrorResponse"
                  }
                }
            }
        },
        "delete": {
            "description": "Deletes regional stresstest resource for a given name.",
            "operationId": "RegionalStressTest_Delete",
            "parameters": [
                {
                    "$ref": "#/parameters/ResourceGroupNameParameter"
                },
                {
                    "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                    "$ref": "#/parameters/StressTestNameParameter"
                }
            ],
            "x-ms-examples": {
              "StressTestDeleteExample": {
                "$ref": "./examples/StressTestDeleteExample.json"
              }
            },
            "responses": {
                "200": {
                    "description": "Deletes the regional stresstest details.",
                    "schema": {
                      "$ref": "#/definitions/StressTestResource"
                  }
                },
                "204": {
                  "description": "Deletes the regional stresstest details."
              },
                "default": {
                  "description": "Resource Provider error response.",
                  "schema": {
                    "$ref": "#/definitions/ErrorResponse"
                  }
                }
            }
        },
        "put": {
            "description": "Create or update regional stresstest resource.",
            "operationId": "RegionalStressTest_CreateAndUpdate",
            "parameters": [
                {
                    "$ref": "#/parameters/ResourceGroupNameParameter"
                },
                {
                    "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                    "$ref": "#/parameters/StressTestNameParameter"
                },
                {
                    "name": "StressTestResourcePut",
                    "description": "StressTest details.",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/StressTestResource"
                    }
                }
            ],
            "x-ms-examples": {
              "StressTestPutExample": {
                "$ref": "./examples/StressTestPutExample.json"
              }
            },
            "responses": {
                "200": {
                    "description": "Successful.",
                    "schema": {
                        "$ref": "#/definitions/StressTestResource"
                    }
                },
                "default": {
                  "description": "Resource Provider error response.",
                  "schema": {
                    "$ref": "#/definitions/ErrorResponse"
                  }
                }
            }
        },
        "patch": {
          "description": "Update the regional stresstest resource.",
          "operationId": "RegionalStressTest_Update",
          "parameters": [
              {
                  "$ref": "#/parameters/ResourceGroupNameParameter"
              },
              {
                  "$ref": "#/parameters/ApiVersionParameter"
              },
              {
                  "$ref": "#/parameters/SubscriptionIdParameter"
              },
              {
                  "$ref": "#/parameters/StressTestNameParameter"
              },
              {
                  "name": "StressTestResourcePatch",
                  "description": "StressTest details.",
                  "in": "body",
                  "required": true,
                  "schema": {
                      "$ref": "#/definitions/StressTestResource"
                  }
              }
          ],
          "x-ms-examples": {
            "StressTestPutExample": {
              "$ref": "./examples/StressTestPatchExample.json"
            }
          },
          "responses": {
              "200": {
                  "description": "Successful.",
                  "schema": {
                      "$ref": "#/definitions/StressTestResource"
                  }
              },
              "default": {
                "description": "Resource Provider error response.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
          }
      }
    },
      "/providers/Microsoft.ProviderHubDevTest/operations": {
        "get": {
          "tags": [
            "Operations"
          ],
          "operationId": "Operations_List",
          "description": "Lists all of the available consumption REST API operations.",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded.",
              "schema": {
                "$ref": "#/definitions/OperationListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
  },
  "definitions": {
      "Resource": {
          "description": "An Azure resource.",
          "properties": {
              "systemData": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
                "readOnly": true,
                "description": "Read only system data"
              },
              "id": {
                  "description": "Azure resource Id.",
                  "type": "string",
                  "readOnly": true
              },
              "name": {
                  "description": "Azure resource name.",
                  "type": "string",
                  "readOnly": true
              },
              "type": {
                  "description": "Azure resource type.",
                  "type": "string",
                  "readOnly": true
              },
              "location": {
                  "description": "Location of the resource.",
                  "type": "string",
                  "readOnly": false
              },
              "tags": {
                  "description": "resource tags.",
                  "type": "object",
                  "readOnly": false,
                  "additionalProperties": {
                      "type": "string"
                  }
              }
          },
          "x-ms-azure-resource": true
      },
      "StressTestResource": {
          "type": "object",
          "description": "StressTest details",
          "allOf": [
              {
                  "$ref": "#/definitions/Resource"
              }
          ],
          "properties": {
              "properties": {
                  "type": "object",
                  "properties": {
                    "provisioningState": {
                      "type": "string",
                      "description": "StressTest full name."
                    },
                      "firstName": {
                          "type": "string",
                          "description": "StressTest full name.",
                          "minLength": 1
                      },
                      "middleName": {
                          "type": "string",
                          "description": "StressTest middle name."                          
                      },
                      "lastName": {
                          "type": "string",
                          "description": "StressTest last name."
                      },
                      "group": {
                          "type": "string",
                          "description": "group like Finance, HR etc..."
                      },
                      "likesTea": {
                          "type": "string",
                          "description": "Gets or sets the deployment mode.",
                          "enum": [
                              "Yes"
                          ],
                          "x-ms-enum": {
                              "name": "likesTea",
                              "modelAsString": true
                          }
                      }
                  }
              }
          }
      },
      "StressTestResourceList": {
          "description": "The list of stresstests.",
          "type": "object",
          "properties": {
              "nextLink": {
                  "description": "The link used to get the next page of stresstests list.",
                  "type": "string"
              },
              "value": {
                  "description": "The list of recommendations.",
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/StressTestResource"
                  }
              }
          }
      },
      "OperationDetail": {
        "description": "Operation detail payload",
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the operation",
            "type": "string"
          },
          "isDataAction": {
            "description": "Indicates whether the operation is a data action",
            "type": "boolean"
          },
          "display": {
            "$ref": "#/definitions/OperationDisplay",
            "description": "Display of the operation"
          },
          "origin": {
            "description": "Origin of the operation",
            "type": "string"
          },
          "properties": {
            "type": "object",
            "description": "Properties of the operation"
          }
        }
      },
      "OperationDisplay": {
        "description": "Operation display payload",
        "type": "object",
        "properties": {
          "provider": {
            "description": "Resource provider of the operation",
            "type": "string"
          },
          "resource": {
            "description": "Resource of the operation",
            "type": "string"
          },
          "operation": {
            "description": "Localized friendly name for the operation",
            "type": "string"
          },
          "description": {
            "description": "Localized friendly description for the operation",
            "type": "string"
          }
        }
      },
      "OperationListResult": {
        "description": "Available operations of the service",
        "type": "object",
        "properties": {
          "value": {
            "description": "Collection of available operation details",
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/definitions/OperationDetail"
            }
          },
          "nextLink": {
            "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "description": "The error response that indicates why an operation has failed.",
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/definitions/ErrorDetails"
          }
        }
      },
      "ErrorDetails": {
        "description": "The error response details containing error code and error message",
        "type": "object",
        "properties": {
          "code": {
            "description": "The error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "The error message.",
            "type": "string",
            "readOnly": true
          }
        }
      }
  },
  "parameters": {
      "SubscriptionIdParameter": {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The Azure subscription ID."
      },
      "ApiVersionParameter": {
          "name": "api-version",
          "in": "query",
          "required": true,
          "type": "string",
          "description": "Client Api Version."
      },
      "ResourceGroupNameParameter": {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The name of the resource group.",
          "x-ms-parameter-location": "method"
      },
      "StressTestNameParameter": {
          "name": "stresstestName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The name stresstest resource.",
          "x-ms-parameter-location": "method"
      },
      "NestedResourceNameParameter": {
          "name": "nestedResourceName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The name of nested resource.",
          "x-ms-parameter-location": "method"
      },
      "ExtensionResourceNameParameter": {
          "name": "extensionResourceName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The name of extension resource.",
          "x-ms-parameter-location": "method"
      }
  }
}