{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-05-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "FirewallPolicies"
    },
    {
      "name": "FirewallPolicyRuleCollectionGroups"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/firewallPolicies": {
      "get": {
        "operationId": "FirewallPolicies_ListAll",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Gets all the Firewall Policies in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Firewall Policies for a given subscription": {
            "$ref": "./examples/FirewallPolicyListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies": {
      "get": {
        "operationId": "FirewallPolicies_List",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Lists all Firewall Policies in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Firewall Policies for a given resource group": {
            "$ref": "./examples/FirewallPolicyListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}": {
      "get": {
        "operationId": "FirewallPolicies_Get",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Gets the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicies_CreateOrUpdate",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Creates or updates the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update Firewall Policy operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FirewallPolicy"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "FirewallPolicies_UpdateTags",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Updates tags of a Azure Firewall Policy resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update Azure Firewall Policy tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update FirewallPolicy Tags": {
            "$ref": "./examples/FirewallPolicyPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "FirewallPolicies_Delete",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Deletes the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Firewall Policy": {
            "$ref": "./examples/FirewallPolicyDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/deploy": {
      "post": {
        "operationId": "FirewallPolicyDeployments_Deploy",
        "description": "Deploys the firewall policy draft and child rule collection group drafts.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "deploy firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftDeploy.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/firewallPolicyDrafts/default": {
      "get": {
        "operationId": "FirewallPolicyDrafts_Get",
        "description": "Get a draft Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicyDrafts_CreateOrUpdate",
        "description": "Create or update a draft Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update Firewall Policy Draft operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicyDraft' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicyDraft' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftPut.json"
          }
        }
      },
      "delete": {
        "operationId": "FirewallPolicyDrafts_Delete",
        "description": "Delete a draft policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "delete firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/listIdpsFilterOptions": {
      "post": {
        "operationId": "FirewallPolicyIdpsSignaturesFilterValues_List",
        "description": "Retrieves the current filter values for the signatures overrides",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignatureOverridesFilterValuesQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignatureOverridesFilterValuesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "query signature overrides": {
            "$ref": "./examples/FirewallPolicyQuerySignatureOverridesFilterValues.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/listIdpsSignatures": {
      "post": {
        "operationId": "FirewallPolicyIdpsSignatures_List",
        "description": "Retrieves the current status of IDPS signatures for the relevant policy. Maximal amount of returned signatures is 1000.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IDPSQueryObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "query signature overrides": {
            "$ref": "./examples/FirewallPolicyQuerySignatureOverrides.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleCollectionGroups": {
      "get": {
        "operationId": "FirewallPolicyRuleCollectionGroups_List",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Lists all FirewallPolicyRuleCollectionGroups in a FirewallPolicy resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all FirewallPolicyRuleCollectionGroup With Web Categories": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithWebCategoriesList.json"
          },
          "List all FirewallPolicyRuleCollectionGroups for a given FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupList.json"
          },
          "List all FirewallPolicyRuleCollectionGroups with IpGroups for a given FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithIpGroupsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleCollectionGroups/{ruleCollectionGroupName}": {
      "get": {
        "operationId": "FirewallPolicyRuleCollectionGroups_Get",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Gets the specified FirewallPolicyRuleCollectionGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get FirewallPolicyNatRuleCollectionGroup": {
            "$ref": "./examples/FirewallPolicyNatRuleCollectionGroupGet.json"
          },
          "Get FirewallPolicyRuleCollectionGroup": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupGet.json"
          },
          "Get FirewallPolicyRuleCollectionGroup With IpGroups": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithIpGroupsGet.json"
          },
          "Get FirewallPolicyRuleCollectionGroup With Web Categories": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithWebCategoriesGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicyRuleCollectionGroups_CreateOrUpdate",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Creates or updates the specified FirewallPolicyRuleCollectionGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update FirewallPolicyRuleCollectionGroup operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicyRuleCollectionGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicyRuleCollectionGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create Firewall Policy Nat Rule Collection Group": {
            "$ref": "./examples/FirewallPolicyNatRuleCollectionGroupPut.json"
          },
          "Create Firewall Policy Rule Collection Group": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupPut.json"
          },
          "Create Firewall Policy Rule Collection Group With IP Groups": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithIpGroupsPut.json"
          },
          "Create Firewall Policy Rule Collection Group With Web Categories": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithWebCategoriesPut.json"
          },
          "Create Firewall Policy Rule Collection Group With http header to insert": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithHttpHeadersToInsert.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FirewallPolicyRuleCollectionGroup"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "FirewallPolicyRuleCollectionGroups_Delete",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Deletes the specified FirewallPolicyRuleCollectionGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete FirewallPolicyRuleCollectionGroup": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleCollectionGroups/{ruleCollectionGroupName}/ruleCollectionGroupDrafts/default": {
      "get": {
        "operationId": "FirewallPolicyRuleCollectionGroupDrafts_Get",
        "description": "Get Rule Collection Group Draft.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupDraft"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get rule collection group draft": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupDraftGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicyRuleCollectionGroupDrafts_CreateOrUpdate",
        "description": "Create or Update Rule Collection Group Draft.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update FirewallPolicyRuleCollectionGroup operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupDraft"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicyRuleCollectionGroupDraft' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupDraft"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicyRuleCollectionGroupDraft' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupDraft"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update rule collection group draft": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupDraftPut.json"
          }
        }
      },
      "delete": {
        "operationId": "FirewallPolicyRuleCollectionGroupDrafts_Delete",
        "description": "Delete Rule Collection Group Draft.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "delete firewall rule collection group draft": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupDraftDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/signatureOverrides": {
      "get": {
        "operationId": "FirewallPolicyIdpsSignaturesOverrides_List",
        "description": "Returns all signatures overrides objects for a specific policy as a list containing a single value.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignaturesOverridesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get signature overrides": {
            "$ref": "./examples/FirewallPolicySignatureOverridesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/signatureOverrides/default": {
      "get": {
        "operationId": "FirewallPolicyIdpsSignaturesOverrides_Get",
        "description": "Returns all signatures overrides for a specific policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignaturesOverrides"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get signature overrides": {
            "$ref": "./examples/FirewallPolicySignatureOverridesGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicyIdpsSignaturesOverrides_Put",
        "description": "Will override/create a new signature overrides for the policy's IDPS",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Will contain all properties of the object to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignaturesOverrides"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SignaturesOverrides' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SignaturesOverrides"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "put signature overrides": {
            "$ref": "./examples/FirewallPolicySignatureOverridesPut.json"
          }
        }
      },
      "patch": {
        "operationId": "FirewallPolicyIdpsSignaturesOverrides_Patch",
        "description": "Will update the status of policy's signature overrides for IDPS",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Will contain all properties of the object to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignaturesOverrides"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignaturesOverrides"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "patch signature overrides": {
            "$ref": "./examples/FirewallPolicySignatureOverridesPatch.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApplicationRule": {
      "type": "object",
      "description": "Rule of type application.",
      "properties": {
        "sourceAddresses": {
          "type": "array",
          "description": "List of source IP addresses for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationAddresses": {
          "type": "array",
          "description": "List of destination IP addresses or Service Tags.",
          "items": {
            "type": "string"
          }
        },
        "protocols": {
          "type": "array",
          "description": "Array of Application Protocols.",
          "items": {
            "$ref": "#/definitions/FirewallPolicyRuleApplicationProtocol"
          }
        },
        "targetFqdns": {
          "type": "array",
          "description": "List of FQDNs for this rule.",
          "items": {
            "type": "string"
          }
        },
        "targetUrls": {
          "type": "array",
          "description": "List of Urls for this rule condition.",
          "items": {
            "type": "string"
          }
        },
        "fqdnTags": {
          "type": "array",
          "description": "List of FQDN Tags for this rule.",
          "items": {
            "type": "string"
          }
        },
        "sourceIpGroups": {
          "type": "array",
          "description": "List of source IpGroups for this rule.",
          "items": {
            "type": "string"
          }
        },
        "terminateTLS": {
          "type": "boolean",
          "description": "Terminate TLS connections for this rule."
        },
        "webCategories": {
          "type": "array",
          "description": "List of destination azure web categories.",
          "items": {
            "type": "string"
          }
        },
        "httpHeadersToInsert": {
          "type": "array",
          "description": "List of HTTP/S headers to insert.",
          "items": {
            "$ref": "#/definitions/FirewallPolicyHttpHeaderToInsert"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/FirewallPolicyRule"
        }
      ],
      "x-ms-discriminator-value": "ApplicationRule"
    },
    "DnsSettings": {
      "type": "object",
      "description": "DNS Proxy Settings in Firewall Policy.",
      "properties": {
        "servers": {
          "type": "array",
          "description": "List of Custom DNS Servers.",
          "items": {
            "type": "string"
          }
        },
        "enableProxy": {
          "type": "boolean",
          "description": "Enable DNS Proxy on Firewalls attached to the Firewall Policy."
        },
        "requireProxyForNetworkRules": {
          "type": "boolean",
          "description": "FQDNs in Network Rules are supported when set to true.",
          "x-nullable": true
        }
      }
    },
    "ExplicitProxy": {
      "type": "object",
      "description": "Explicit Proxy Settings in Firewall Policy.",
      "properties": {
        "enableExplicitProxy": {
          "type": "boolean",
          "description": "When set to true, explicit proxy mode is enabled.",
          "x-nullable": true
        },
        "httpPort": {
          "type": "integer",
          "format": "int32",
          "description": "Port number for explicit proxy http protocol, cannot be greater than 64000.",
          "minimum": 0,
          "maximum": 64000
        },
        "httpsPort": {
          "type": "integer",
          "format": "int32",
          "description": "Port number for explicit proxy https protocol, cannot be greater than 64000.",
          "minimum": 0,
          "maximum": 64000
        },
        "enablePacFile": {
          "type": "boolean",
          "description": "When set to true, pac file port and url needs to be provided.",
          "x-nullable": true
        },
        "pacFilePort": {
          "type": "integer",
          "format": "int32",
          "description": "Port number for firewall to serve PAC file.",
          "minimum": 0,
          "maximum": 64000
        },
        "pacFile": {
          "type": "string",
          "description": "SAS URL for PAC file."
        }
      }
    },
    "FilterItems": {
      "type": "object",
      "description": "Will contain the filter name and values to operate on",
      "properties": {
        "field": {
          "type": "string",
          "description": "The name of the field we would like to filter"
        },
        "values": {
          "type": "array",
          "description": "List of values to filter the current field by",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FirewallPolicy": {
      "type": "object",
      "description": "FirewallPolicy Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirewallPolicyPropertiesFormat",
          "description": "Properties of the firewall policy.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "identity": {
          "$ref": "./common.json#/definitions/Microsoft.Common.ManagedServiceIdentity",
          "description": "The identity of the firewall policy."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Microsoft.Common.Resource"
        }
      ]
    },
    "FirewallPolicyCertificateAuthority": {
      "type": "object",
      "description": "Trusted Root certificates properties for tls.",
      "properties": {
        "keyVaultSecretId": {
          "type": "string",
          "description": "Secret Id of (base-64 encoded unencrypted pfx) 'Secret' or 'Certificate' object stored in KeyVault."
        },
        "name": {
          "type": "string",
          "description": "Name of the CA certificate."
        }
      }
    },
    "FirewallPolicyDraft": {
      "type": "object",
      "description": "FirewallPolicy Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirewallPolicyDraftProperties",
          "description": "Properties of the firewall policy.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Microsoft.Common.Resource"
        }
      ]
    },
    "FirewallPolicyDraftProperties": {
      "type": "object",
      "properties": {
        "basePolicy": {
          "$ref": "./common.json#/definitions/Microsoft.Common.SubResource",
          "description": "The parent firewall policy from which rules are inherited."
        },
        "threatIntelMode": {
          "$ref": "./common.json#/definitions/AzureFirewallThreatIntelMode",
          "description": "The operation mode for Threat Intelligence."
        },
        "threatIntelWhitelist": {
          "$ref": "#/definitions/FirewallPolicyThreatIntelWhitelist",
          "description": "ThreatIntel Whitelist for Firewall Policy."
        },
        "insights": {
          "$ref": "#/definitions/FirewallPolicyInsights",
          "description": "Insights on Firewall Policy."
        },
        "snat": {
          "$ref": "#/definitions/FirewallPolicySNAT",
          "description": "The private IP addresses/IP ranges to which traffic will not be SNAT."
        },
        "sql": {
          "$ref": "#/definitions/FirewallPolicySQL",
          "description": "SQL Settings definition."
        },
        "dnsSettings": {
          "$ref": "#/definitions/DnsSettings",
          "description": "DNS Proxy Settings definition."
        },
        "explicitProxy": {
          "$ref": "#/definitions/ExplicitProxy",
          "description": "Explicit Proxy Settings definition."
        },
        "intrusionDetection": {
          "$ref": "#/definitions/FirewallPolicyIntrusionDetection",
          "description": "The configuration for Intrusion detection."
        }
      }
    },
    "FirewallPolicyFilterRuleCollection": {
      "type": "object",
      "description": "Firewall Policy Filter Rule Collection.",
      "properties": {
        "action": {
          "$ref": "#/definitions/FirewallPolicyFilterRuleCollectionAction",
          "description": "The action type of a Filter rule collection."
        },
        "rules": {
          "type": "array",
          "description": "List of rules included in a rule collection.",
          "items": {
            "$ref": "#/definitions/FirewallPolicyRule"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/FirewallPolicyRuleCollection"
        }
      ],
      "x-ms-discriminator-value": "FirewallPolicyFilterRuleCollection"
    },
    "FirewallPolicyFilterRuleCollectionAction": {
      "type": "object",
      "description": "Properties of the FirewallPolicyFilterRuleCollectionAction.",
      "properties": {
        "type": {
          "$ref": "./common.json#/definitions/FirewallPolicyFilterRuleCollectionActionType",
          "description": "The type of action."
        }
      }
    },
    "FirewallPolicyHttpHeaderToInsert": {
      "type": "object",
      "description": "name and value of HTTP/S header to insert",
      "properties": {
        "headerName": {
          "type": "string",
          "description": "Contains the name of the header"
        },
        "headerValue": {
          "type": "string",
          "description": "Contains the value of the header"
        }
      }
    },
    "FirewallPolicyInsights": {
      "type": "object",
      "description": "Firewall Policy Insights.",
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "description": "A flag to indicate if the insights are enabled on the policy."
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Number of days the insights should be enabled on the policy."
        },
        "logAnalyticsResources": {
          "$ref": "#/definitions/FirewallPolicyLogAnalyticsResources",
          "description": "Workspaces needed to configure the Firewall Policy Insights."
        }
      }
    },
    "FirewallPolicyIntrusionDetection": {
      "type": "object",
      "description": "Configuration for intrusion detection mode and rules.",
      "properties": {
        "mode": {
          "$ref": "./common.json#/definitions/FirewallPolicyIntrusionDetectionStateType",
          "description": "Intrusion detection general state. When attached to a parent policy, the firewall's effective IDPS mode is the stricter mode of the two."
        },
        "profile": {
          "$ref": "./common.json#/definitions/FirewallPolicyIntrusionDetectionProfileType",
          "description": "IDPS profile name. When attached to a parent policy, the firewall's effective profile is the profile name of the parent policy."
        },
        "configuration": {
          "$ref": "#/definitions/FirewallPolicyIntrusionDetectionConfiguration",
          "description": "Intrusion detection configuration properties."
        }
      }
    },
    "FirewallPolicyIntrusionDetectionBypassTrafficSpecifications": {
      "type": "object",
      "description": "Intrusion detection bypass traffic specification.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the bypass traffic rule."
        },
        "description": {
          "type": "string",
          "description": "Description of the bypass traffic rule."
        },
        "protocol": {
          "$ref": "./common.json#/definitions/FirewallPolicyIntrusionDetectionProtocol",
          "description": "The rule bypass protocol."
        },
        "sourceAddresses": {
          "type": "array",
          "description": "List of source IP addresses or ranges for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationAddresses": {
          "type": "array",
          "description": "List of destination IP addresses or ranges for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationPorts": {
          "type": "array",
          "description": "List of destination ports or ranges.",
          "items": {
            "type": "string"
          }
        },
        "sourceIpGroups": {
          "type": "array",
          "description": "List of source IpGroups for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationIpGroups": {
          "type": "array",
          "description": "List of destination IpGroups for this rule.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FirewallPolicyIntrusionDetectionConfiguration": {
      "type": "object",
      "description": "The operation for configuring intrusion detection.",
      "properties": {
        "signatureOverrides": {
          "type": "array",
          "description": "List of specific signatures states.",
          "items": {
            "$ref": "#/definitions/FirewallPolicyIntrusionDetectionSignatureSpecification"
          }
        },
        "bypassTrafficSettings": {
          "type": "array",
          "description": "List of rules for traffic to bypass.",
          "items": {
            "$ref": "#/definitions/FirewallPolicyIntrusionDetectionBypassTrafficSpecifications"
          },
          "x-ms-identifiers": []
        },
        "privateRanges": {
          "type": "array",
          "description": "IDPS Private IP address ranges are used to identify traffic direction (i.e. inbound, outbound, etc.). By default, only ranges defined by IANA RFC 1918 are considered private IP addresses. To modify default ranges, specify your Private IP address ranges with this property",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FirewallPolicyIntrusionDetectionSignatureSpecification": {
      "type": "object",
      "description": "Intrusion detection signatures specification states.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Signature id."
        },
        "mode": {
          "$ref": "./common.json#/definitions/FirewallPolicyIntrusionDetectionStateType",
          "description": "The signature state."
        }
      }
    },
    "FirewallPolicyListResult": {
      "type": "object",
      "description": "The response of a FirewallPolicy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The FirewallPolicy items on this page",
          "items": {
            "$ref": "#/definitions/FirewallPolicy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FirewallPolicyLogAnalyticsResources": {
      "type": "object",
      "description": "Log Analytics Resources for Firewall Policy Insights.",
      "properties": {
        "workspaces": {
          "type": "array",
          "description": "List of workspaces for Firewall Policy Insights.",
          "items": {
            "$ref": "#/definitions/FirewallPolicyLogAnalyticsWorkspace"
          },
          "x-ms-identifiers": []
        },
        "defaultWorkspaceId": {
          "$ref": "./common.json#/definitions/Microsoft.Common.SubResource",
          "description": "The default workspace Id for Firewall Policy Insights."
        }
      }
    },
    "FirewallPolicyLogAnalyticsWorkspace": {
      "type": "object",
      "description": "Log Analytics Workspace for Firewall Policy Insights.",
      "properties": {
        "region": {
          "type": "string",
          "description": "Region to configure the Workspace."
        },
        "workspaceId": {
          "$ref": "./common.json#/definitions/Microsoft.Common.SubResource",
          "description": "The workspace Id for Firewall Policy Insights."
        }
      }
    },
    "FirewallPolicyNatRuleCollection": {
      "type": "object",
      "description": "Firewall Policy NAT Rule Collection.",
      "properties": {
        "action": {
          "$ref": "#/definitions/FirewallPolicyNatRuleCollectionAction",
          "description": "The action type of a Nat rule collection."
        },
        "rules": {
          "type": "array",
          "description": "List of rules included in a rule collection.",
          "items": {
            "$ref": "#/definitions/FirewallPolicyRule"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/FirewallPolicyRuleCollection"
        }
      ],
      "x-ms-discriminator-value": "FirewallPolicyNatRuleCollection"
    },
    "FirewallPolicyNatRuleCollectionAction": {
      "type": "object",
      "description": "Properties of the FirewallPolicyNatRuleCollectionAction.",
      "properties": {
        "type": {
          "$ref": "./common.json#/definitions/FirewallPolicyNatRuleCollectionActionType",
          "description": "The type of action."
        }
      }
    },
    "FirewallPolicyPropertiesFormat": {
      "type": "object",
      "description": "Firewall Policy definition.",
      "properties": {
        "size": {
          "type": "string",
          "description": "A read-only string that represents the size of the FirewallPolicyPropertiesFormat in MB. (ex 0.5MB)",
          "readOnly": true
        },
        "ruleCollectionGroups": {
          "type": "array",
          "description": "List of references to FirewallPolicyRuleCollectionGroups.",
          "items": {
            "$ref": "./common.json#/definitions/Microsoft.Common.SubResource"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/Microsoft.Common.ProvisioningState",
          "description": "The provisioning state of the firewall policy resource.",
          "readOnly": true
        },
        "basePolicy": {
          "$ref": "./common.json#/definitions/Microsoft.Common.SubResource",
          "description": "The parent firewall policy from which rules are inherited."
        },
        "firewalls": {
          "type": "array",
          "description": "List of references to Azure Firewalls that this Firewall Policy is associated with.",
          "items": {
            "$ref": "./common.json#/definitions/Microsoft.Common.SubResource"
          },
          "readOnly": true
        },
        "childPolicies": {
          "type": "array",
          "description": "List of references to Child Firewall Policies.",
          "items": {
            "$ref": "./common.json#/definitions/Microsoft.Common.SubResource"
          },
          "readOnly": true
        },
        "threatIntelMode": {
          "$ref": "./common.json#/definitions/AzureFirewallThreatIntelMode",
          "description": "The operation mode for Threat Intelligence."
        },
        "threatIntelWhitelist": {
          "$ref": "#/definitions/FirewallPolicyThreatIntelWhitelist",
          "description": "ThreatIntel Whitelist for Firewall Policy."
        },
        "insights": {
          "$ref": "#/definitions/FirewallPolicyInsights",
          "description": "Insights on Firewall Policy."
        },
        "snat": {
          "$ref": "#/definitions/FirewallPolicySNAT",
          "description": "The private IP addresses/IP ranges to which traffic will not be SNAT."
        },
        "sql": {
          "$ref": "#/definitions/FirewallPolicySQL",
          "description": "SQL Settings definition."
        },
        "dnsSettings": {
          "$ref": "#/definitions/DnsSettings",
          "description": "DNS Proxy Settings definition."
        },
        "explicitProxy": {
          "$ref": "#/definitions/ExplicitProxy",
          "description": "Explicit Proxy Settings definition."
        },
        "intrusionDetection": {
          "$ref": "#/definitions/FirewallPolicyIntrusionDetection",
          "description": "The configuration for Intrusion detection."
        },
        "transportSecurity": {
          "$ref": "#/definitions/FirewallPolicyTransportSecurity",
          "description": "TLS Configuration definition."
        },
        "sku": {
          "$ref": "#/definitions/FirewallPolicySku",
          "description": "The Firewall Policy SKU."
        }
      }
    },
    "FirewallPolicyRule": {
      "type": "object",
      "description": "Properties of a rule.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the rule."
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        },
        "ruleType": {
          "$ref": "./common.json#/definitions/FirewallPolicyRuleType",
          "description": "Rule Type."
        }
      },
      "discriminator": "ruleType",
      "required": [
        "ruleType"
      ]
    },
    "FirewallPolicyRuleApplicationProtocol": {
      "type": "object",
      "description": "Properties of the application rule protocol.",
      "properties": {
        "protocolType": {
          "$ref": "./common.json#/definitions/FirewallPolicyRuleApplicationProtocolType",
          "description": "Protocol type."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port number for the protocol, cannot be greater than 64000.",
          "minimum": 0,
          "maximum": 64000
        }
      }
    },
    "FirewallPolicyRuleCollection": {
      "type": "object",
      "description": "Properties of the rule collection.",
      "properties": {
        "ruleCollectionType": {
          "$ref": "./common.json#/definitions/FirewallPolicyRuleCollectionType",
          "description": "The type of the rule collection."
        },
        "name": {
          "type": "string",
          "description": "The name of the rule collection."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority of the Firewall Policy Rule Collection resource.",
          "minimum": 100,
          "maximum": 65000
        }
      },
      "discriminator": "ruleCollectionType",
      "required": [
        "ruleCollectionType"
      ]
    },
    "FirewallPolicyRuleCollectionGroup": {
      "type": "object",
      "description": "Rule Collection Group resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupProperties",
          "description": "The properties of the firewall policy rule collection group.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Microsoft.Common.SubResourceModel"
        }
      ]
    },
    "FirewallPolicyRuleCollectionGroupDraft": {
      "type": "object",
      "description": "Rule Collection Group resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupDraftProperties",
          "description": "The properties of the firewall policy rule collection group.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Microsoft.Common.SubResourceModel"
        }
      ]
    },
    "FirewallPolicyRuleCollectionGroupDraftProperties": {
      "type": "object",
      "description": "Properties of the rule collection group draft.",
      "properties": {
        "size": {
          "type": "string",
          "description": "A read-only string that represents the size of the FirewallPolicyRuleCollectionGroupProperties in MB. (ex 1.2MB)",
          "readOnly": true
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority of the Firewall Policy Rule Collection Group resource.",
          "minimum": 100,
          "maximum": 65000
        },
        "ruleCollections": {
          "type": "array",
          "description": "Group of Firewall Policy rule collections.",
          "items": {
            "$ref": "#/definitions/FirewallPolicyRuleCollection"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "FirewallPolicyRuleCollectionGroupListResult": {
      "type": "object",
      "description": "The response of a FirewallPolicyRuleCollectionGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The FirewallPolicyRuleCollectionGroup items on this page",
          "items": {
            "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FirewallPolicyRuleCollectionGroupProperties": {
      "type": "object",
      "description": "Properties of the rule collection group.",
      "properties": {
        "size": {
          "type": "string",
          "description": "A read-only string that represents the size of the FirewallPolicyRuleCollectionGroupProperties in MB. (ex 1.2MB)",
          "readOnly": true
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority of the Firewall Policy Rule Collection Group resource.",
          "minimum": 100,
          "maximum": 65000
        },
        "ruleCollections": {
          "type": "array",
          "description": "Group of Firewall Policy rule collections.",
          "items": {
            "$ref": "#/definitions/FirewallPolicyRuleCollection"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/Microsoft.Common.ProvisioningState",
          "description": "The provisioning state of the firewall policy rule collection group resource.",
          "readOnly": true
        }
      }
    },
    "FirewallPolicySNAT": {
      "type": "object",
      "description": "The private IP addresses/IP ranges to which traffic will not be SNAT.",
      "properties": {
        "privateRanges": {
          "type": "array",
          "description": "List of private IP addresses/IP address ranges to not be SNAT.",
          "items": {
            "type": "string"
          }
        },
        "autoLearnPrivateRanges": {
          "$ref": "./common.json#/definitions/AutoLearnPrivateRangesMode",
          "description": "The operation mode for automatically learning private ranges to not be SNAT"
        }
      }
    },
    "FirewallPolicySQL": {
      "type": "object",
      "description": "SQL Settings in Firewall Policy.",
      "properties": {
        "allowSqlRedirect": {
          "type": "boolean",
          "description": "A flag to indicate if SQL Redirect traffic filtering is enabled. Turning on the flag requires no rule using port 11000-11999."
        }
      }
    },
    "FirewallPolicySku": {
      "type": "object",
      "description": "SKU of Firewall policy.",
      "properties": {
        "tier": {
          "$ref": "./common.json#/definitions/FirewallPolicySkuTier",
          "description": "Tier of Firewall Policy."
        }
      }
    },
    "FirewallPolicyThreatIntelWhitelist": {
      "type": "object",
      "description": "ThreatIntel Whitelist for Firewall Policy.",
      "properties": {
        "ipAddresses": {
          "type": "array",
          "description": "List of IP addresses for the ThreatIntel Whitelist.",
          "items": {
            "type": "string"
          }
        },
        "fqdns": {
          "type": "array",
          "description": "List of FQDNs for the ThreatIntel Whitelist.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FirewallPolicyTransportSecurity": {
      "type": "object",
      "description": "Configuration needed to perform TLS termination & initiation.",
      "properties": {
        "certificateAuthority": {
          "$ref": "#/definitions/FirewallPolicyCertificateAuthority",
          "description": "The CA used for intermediate CA generation."
        }
      }
    },
    "IDPSQueryObject": {
      "type": "object",
      "description": "Will describe the query to run against the IDPS signatures DB",
      "properties": {
        "filters": {
          "type": "array",
          "description": "Contain all filters names and values",
          "items": {
            "$ref": "#/definitions/FilterItems"
          },
          "x-ms-identifiers": []
        },
        "search": {
          "type": "string",
          "description": "Search term in all columns"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderBy",
          "description": "Column to sort response by"
        },
        "resultsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The number of the results to return in each page",
          "minimum": 1,
          "maximum": 1000
        },
        "skip": {
          "type": "integer",
          "format": "int32",
          "description": "The number of records matching the filter to skip"
        }
      }
    },
    "NatRule": {
      "type": "object",
      "description": "Rule of type nat.",
      "properties": {
        "ipProtocols": {
          "type": "array",
          "description": "Array of FirewallPolicyRuleNetworkProtocols.",
          "items": {
            "$ref": "./common.json#/definitions/FirewallPolicyRuleNetworkProtocol"
          }
        },
        "sourceAddresses": {
          "type": "array",
          "description": "List of source IP addresses for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationAddresses": {
          "type": "array",
          "description": "List of destination IP addresses or Service Tags.",
          "items": {
            "type": "string"
          }
        },
        "destinationPorts": {
          "type": "array",
          "description": "List of destination ports.",
          "items": {
            "type": "string"
          }
        },
        "translatedAddress": {
          "type": "string",
          "description": "The translated address for this NAT rule."
        },
        "translatedPort": {
          "type": "string",
          "description": "The translated port for this NAT rule."
        },
        "sourceIpGroups": {
          "type": "array",
          "description": "List of source IpGroups for this rule.",
          "items": {
            "type": "string"
          }
        },
        "translatedFqdn": {
          "type": "string",
          "description": "The translated FQDN for this NAT rule."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/FirewallPolicyRule"
        }
      ],
      "x-ms-discriminator-value": "NatRule"
    },
    "NetworkRule": {
      "type": "object",
      "description": "Rule of type network.",
      "properties": {
        "ipProtocols": {
          "type": "array",
          "description": "Array of FirewallPolicyRuleNetworkProtocols.",
          "items": {
            "$ref": "./common.json#/definitions/FirewallPolicyRuleNetworkProtocol"
          }
        },
        "sourceAddresses": {
          "type": "array",
          "description": "List of source IP addresses for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationAddresses": {
          "type": "array",
          "description": "List of destination IP addresses or Service Tags.",
          "items": {
            "type": "string"
          }
        },
        "destinationPorts": {
          "type": "array",
          "description": "List of destination ports.",
          "items": {
            "type": "string"
          }
        },
        "sourceIpGroups": {
          "type": "array",
          "description": "List of source IpGroups for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationIpGroups": {
          "type": "array",
          "description": "List of destination IpGroups for this rule.",
          "items": {
            "type": "string"
          }
        },
        "destinationFqdns": {
          "type": "array",
          "description": "List of destination FQDNs.",
          "items": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/FirewallPolicyRule"
        }
      ],
      "x-ms-discriminator-value": "NetworkRule"
    },
    "OrderBy": {
      "type": "object",
      "description": "Describes a column to sort",
      "properties": {
        "field": {
          "type": "string",
          "description": "Describes the actual column name to sort by"
        },
        "order": {
          "$ref": "./common.json#/definitions/FirewallPolicyIDPSQuerySortOrder",
          "description": "Describes if results should be in ascending/descending order"
        }
      }
    },
    "QueryResults": {
      "type": "object",
      "description": "Query result",
      "properties": {
        "matchingRecordsCount": {
          "type": "integer",
          "format": "int64",
          "description": "Number of total records matching the query."
        },
        "signatures": {
          "type": "array",
          "description": "Array containing the results of the query",
          "items": {
            "$ref": "#/definitions/SingleQueryResult"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SignatureOverridesFilterValuesQuery": {
      "type": "object",
      "description": "Describes the filter values possibles for a given column",
      "properties": {
        "filterName": {
          "type": "string",
          "description": "Describes the name of the column which values will be returned"
        }
      }
    },
    "SignatureOverridesFilterValuesResponse": {
      "type": "object",
      "description": "Describes the list of all possible values for a specific filter value",
      "properties": {
        "filterValues": {
          "type": "array",
          "description": "Describes the possible values",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SignaturesOverrides": {
      "type": "object",
      "description": "Contains all specific policy signatures overrides for the IDPS",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SignaturesOverridesProperties",
          "description": "Will contain the properties of the resource (the actual signature overrides)"
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/WritableResource"
        }
      ]
    },
    "SignaturesOverridesList": {
      "type": "object",
      "description": "Describes an object containing an array with a single item",
      "properties": {
        "value": {
          "type": "array",
          "description": "Describes a list consisting exactly one item describing the policy's signature override status",
          "items": {
            "$ref": "#/definitions/SignaturesOverrides"
          }
        }
      }
    },
    "SignaturesOverridesProperties": {
      "type": "object",
      "description": "Will contain the properties of the resource (the actual signature overrides)",
      "properties": {
        "signatures": {
          "type": "object",
          "description": "Dictionary of <string>",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SingleQueryResult": {
      "type": "object",
      "properties": {
        "signatureId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the signature"
        },
        "mode": {
          "$ref": "./common.json#/definitions/FirewallPolicyIDPSSignatureMode",
          "description": "The current mode enforced, 0 - Disabled, 1 - Alert, 2 -Deny"
        },
        "severity": {
          "$ref": "./common.json#/definitions/FirewallPolicyIDPSSignatureSeverity",
          "description": "Describes the severity of signature: 1 - High, 2 - Medium, 3 - Low"
        },
        "direction": {
          "$ref": "./common.json#/definitions/FirewallPolicyIDPSSignatureDirection",
          "description": "Describes in which direction signature is being enforced: 0 - OutBound, 1 - InBound, 2 - Any, 3 - Internal, 4 - InternalOutbound, 5 - InternalInbound"
        },
        "group": {
          "type": "string",
          "description": "Describes the groups the signature belongs to"
        },
        "description": {
          "type": "string",
          "description": "Describes what is the signature enforces"
        },
        "protocol": {
          "type": "string",
          "description": "Describes the protocol the signatures is being enforced in"
        },
        "sourcePorts": {
          "type": "array",
          "description": "Describes the list of source ports related to this signature",
          "items": {
            "type": "string"
          }
        },
        "destinationPorts": {
          "type": "array",
          "description": "Describes the list of destination ports related to this signature",
          "items": {
            "type": "string"
          }
        },
        "lastUpdated": {
          "type": "string",
          "description": "Describes the last updated time of the signature (provided from 3rd party vendor)"
        },
        "inheritedFromParentPolicy": {
          "type": "boolean",
          "description": "Describes if this override is inherited from base policy or not"
        }
      }
    }
  },
  "parameters": {}
}
