{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-05-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "LoadBalancers"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers": {
      "get": {
        "operationId": "LoadBalancers_ListAll",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the load balancers in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all load balancers": {
            "$ref": "./examples/LoadBalancerListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/setLoadBalancerFrontendPublicIpAddresses": {
      "post": {
        "operationId": "LoadBalancers_SwapPublicIpAddresses",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Swaps VIPs between two load balancers.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadBalancerVipSwapRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Swap VIPs between two load balancers.": {
            "$ref": "./examples/LoadBalancersSwapPublicIpAddresses.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers": {
      "get": {
        "operationId": "LoadBalancers_List",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the load balancers in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List load balancers in resource group": {
            "$ref": "./examples/LoadBalancerList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}": {
      "get": {
        "operationId": "LoadBalancers_Get",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets the specified load balancer.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.LoadBalancer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get load balancer": {
            "$ref": "./examples/LoadBalancerGet.json"
          },
          "Get load balancer with inbound NAT rule port mapping": {
            "$ref": "./examples/LoadBalancerGetInboundNatRulePortMapping.json"
          }
        }
      },
      "put": {
        "operationId": "LoadBalancers_CreateOrUpdate",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Creates or updates a load balancer.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update load balancer operation.",
            "required": true,
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.LoadBalancer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LoadBalancer' update operation succeeded",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.LoadBalancer"
            }
          },
          "201": {
            "description": "Resource 'LoadBalancer' create operation succeeded",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.LoadBalancer"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create load balancer": {
            "$ref": "./examples/LoadBalancerCreate.json"
          },
          "Create load balancer with Frontend IP in Zone 1": {
            "$ref": "./examples/LoadBalancerCreateWithZones.json"
          },
          "Create load balancer with Gateway Load Balancer Consumer configured": {
            "$ref": "./examples/LoadBalancerCreateGatewayLoadBalancerConsumer.json"
          },
          "Create load balancer with Gateway Load Balancer Provider configured with one Backend Pool": {
            "$ref": "./examples/LoadBalancerCreateGatewayLoadBalancerProviderWithOneBackendPool.json"
          },
          "Create load balancer with Gateway Load Balancer Provider configured with two Backend Pool": {
            "$ref": "./examples/LoadBalancerCreateGatewayLoadBalancerProviderWithTwoBackendPool.json"
          },
          "Create load balancer with Global Tier and one regional load balancer in its backend pool": {
            "$ref": "./examples/LoadBalancerCreateGlobalTier.json"
          },
          "Create load balancer with Standard SKU": {
            "$ref": "./examples/LoadBalancerCreateStandardSku.json"
          },
          "Create load balancer with Sync Mode Property on Pool": {
            "$ref": "./examples/LoadBalancerCreateWithSyncModePropertyOnPool.json"
          },
          "Create load balancer with inbound nat pool": {
            "$ref": "./examples/LoadBalancerCreateWithInboundNatPool.json"
          },
          "Create load balancer with outbound rules": {
            "$ref": "./examples/LoadBalancerCreateWithOutboundRules.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "../2018-10-01/vmssNetwork.json#/definitions/Common.LoadBalancer"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LoadBalancers_UpdateTags",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Updates a load balancer tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update load balancer tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.LoadBalancer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update load balancer tags": {
            "$ref": "./examples/LoadBalancerUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "LoadBalancers_Delete",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Deletes the specified load balancer.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete load balancer": {
            "$ref": "./examples/LoadBalancerDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/backendAddressPools": {
      "get": {
        "operationId": "LoadBalancerBackendAddressPools_List",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the load balancer backed address pools.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerBackendAddressPoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Load balancer with BackendAddressPool containing BackendAddresses": {
            "$ref": "./examples/LBBackendAddressPoolListWithBackendAddressesPoolType.json"
          },
          "LoadBalancerBackendAddressPoolList": {
            "$ref": "./examples/LoadBalancerBackendAddressPoolList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/backendAddressPools/{backendAddressPoolName}": {
      "get": {
        "operationId": "LoadBalancerBackendAddressPools_Get",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets load balancer backend address pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "backendAddressPoolName",
            "in": "path",
            "description": "The name of the backend address pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.BackendAddressPool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancer with BackendAddressPool with BackendAddresses": {
            "$ref": "./examples/LBBackendAddressPoolWithBackendAddressesGet.json"
          },
          "LoadBalancerBackendAddressPoolGet": {
            "$ref": "./examples/LoadBalancerBackendAddressPoolGet.json"
          }
        }
      },
      "put": {
        "operationId": "LoadBalancerBackendAddressPools_CreateOrUpdate",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Creates or updates a load balancer backend address pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "backendAddressPoolName",
            "in": "path",
            "description": "The name of the backend address pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update load balancer backend address pool operation.",
            "required": true,
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.BackendAddressPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BackendAddressPool' update operation succeeded",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.BackendAddressPool"
            }
          },
          "201": {
            "description": "Resource 'BackendAddressPool' create operation succeeded",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.BackendAddressPool"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update load balancer backend pool with backend addresses containing virtual network and  IP address.": {
            "$ref": "./examples/LBBackendAddressPoolWithBackendAddressesPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "../2018-10-01/vmssNetwork.json#/definitions/Common.BackendAddressPool"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LoadBalancerBackendAddressPools_Delete",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Deletes the specified load balancer backend address pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "backendAddressPoolName",
            "in": "path",
            "description": "The name of the backend address pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BackendAddressPoolDelete": {
            "$ref": "./examples/LoadBalancerBackendAddressPoolDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/backendAddressPools/{backendPoolName}/queryInboundNatRulePortMapping": {
      "post": {
        "operationId": "LoadBalancers_ListInboundNatRulePortMappings",
        "tags": [
          "LoadBalancers"
        ],
        "description": "List of inbound NAT rule port mappings.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "backendPoolName",
            "in": "path",
            "description": "The name of the backend address pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Query inbound NAT rule port mapping request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryInboundNatRulePortMappingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BackendAddressInboundNatRulePortMappings"
            }
          },
          "202": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BackendAddressInboundNatRulePortMappings"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Query inbound NAT rule port mapping": {
            "$ref": "./examples/QueryInboundNatRulePortMapping.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/BackendAddressInboundNatRulePortMappings"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/frontendIPConfigurations": {
      "get": {
        "operationId": "LoadBalancerFrontendIPConfigurations_List",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the load balancer frontend IP configurations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerFrontendIPConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerFrontendIPConfigurationList": {
            "$ref": "./examples/LoadBalancerFrontendIPConfigurationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/frontendIPConfigurations/{frontendIPConfigurationName}": {
      "get": {
        "operationId": "LoadBalancerFrontendIPConfigurations_Get",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets load balancer frontend IP configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "frontendIPConfigurationName",
            "in": "path",
            "description": "The name of the resource that is unique within the set of frontend IP configurations used by the load balancer. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.FrontendIPConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerFrontendIPConfigurationGet": {
            "$ref": "./examples/LoadBalancerFrontendIPConfigurationGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/inboundNatRules": {
      "get": {
        "operationId": "InboundNatRules_List",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the inbound NAT rules in a load balancer.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InboundNatRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "InboundNatRuleList": {
            "$ref": "./examples/InboundNatRuleList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/inboundNatRules/{inboundNatRuleName}": {
      "get": {
        "operationId": "InboundNatRules_Get",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets the specified load balancer inbound NAT rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inboundNatRuleName",
            "in": "path",
            "description": "The name of the inbound NAT rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.InboundNatRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "InboundNatRuleGet": {
            "$ref": "./examples/InboundNatRuleGet.json"
          }
        }
      },
      "put": {
        "operationId": "InboundNatRules_CreateOrUpdate",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Creates or updates a load balancer inbound NAT rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inboundNatRuleName",
            "in": "path",
            "description": "The name of the inbound NAT rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inboundNatRuleParameters",
            "in": "body",
            "description": "Parameters supplied to the create or update inbound NAT rule operation.",
            "required": true,
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.InboundNatRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'InboundNatRule' update operation succeeded",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.InboundNatRule"
            }
          },
          "201": {
            "description": "Resource 'InboundNatRule' create operation succeeded",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.InboundNatRule"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "InboundNatRuleCreate": {
            "$ref": "./examples/InboundNatRuleCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "../2018-10-01/vmssNetwork.json#/definitions/Common.InboundNatRule"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "InboundNatRules_Delete",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Deletes the specified load balancer inbound NAT rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inboundNatRuleName",
            "in": "path",
            "description": "The name of the inbound NAT rule.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "InboundNatRuleDelete": {
            "$ref": "./examples/InboundNatRuleDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/loadBalancingRules": {
      "get": {
        "operationId": "LoadBalancerLoadBalancingRules_List",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the load balancing rules in a load balancer.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerLoadBalancingRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerLoadBalancingRuleList": {
            "$ref": "./examples/LoadBalancerLoadBalancingRuleList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/loadBalancingRules/{loadBalancingRuleName}": {
      "get": {
        "operationId": "LoadBalancerLoadBalancingRules_Get",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets the specified load balancer load balancing rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "loadBalancingRuleName",
            "in": "path",
            "description": "The name of the load balancing rule.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.LoadBalancingRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerLoadBalancingRuleGet": {
            "$ref": "./examples/LoadBalancerLoadBalancingRuleGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/loadBalancingRules/{loadBalancingRuleName}/health": {
      "post": {
        "operationId": "LoadBalancerLoadBalancingRules_Health",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Get health details of a load balancing rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]*$"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]*$"
          },
          {
            "name": "loadBalancingRuleName",
            "in": "path",
            "description": "The name of the load balancing rule.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerHealthPerRule"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Query load balancing rule health": {
            "$ref": "./examples/LoadBalancerHealth.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/LoadBalancerHealthPerRule"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/migrateToIpBased": {
      "post": {
        "operationId": "LoadBalancers_MigrateToIpBased",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Migrate load balancer to IP Based",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the migrateToIpBased Api.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MigrateLoadBalancerToIpBasedRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigratedPools"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Migrate load balancer to IP Based": {
            "$ref": "./examples/MigrateLoadBalancerToIPBased.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/networkInterfaces": {
      "get": {
        "operationId": "LoadBalancerNetworkInterfaces_List",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets associated load balancer network interfaces.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./virtualNetwork.json#/definitions/NetworkInterfaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerNetworkInterfaceListSimple": {
            "$ref": "./examples/LoadBalancerNetworkInterfaceListSimple.json"
          },
          "LoadBalancerNetworkInterfaceListVmss": {
            "$ref": "./examples/LoadBalancerNetworkInterfaceListVmss.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/outboundRules": {
      "get": {
        "operationId": "LoadBalancerOutboundRules_List",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the outbound rules in a load balancer.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerOutboundRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerOutboundRuleList": {
            "$ref": "./examples/LoadBalancerOutboundRuleList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/outboundRules/{outboundRuleName}": {
      "get": {
        "operationId": "LoadBalancerOutboundRules_Get",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets the specified load balancer outbound rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "outboundRuleName",
            "in": "path",
            "description": "The name of the outbound rule.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.OutboundRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerOutboundRuleGet": {
            "$ref": "./examples/LoadBalancerOutboundRuleGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/probes": {
      "get": {
        "operationId": "LoadBalancerProbes_List",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets all the load balancer probes.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerProbeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerProbeList": {
            "$ref": "./examples/LoadBalancerProbeList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/probes/{probeName}": {
      "get": {
        "operationId": "LoadBalancerProbes_Get",
        "tags": [
          "LoadBalancers"
        ],
        "description": "Gets load balancer probe.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "description": "The name of the load balancer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "probeName",
            "in": "path",
            "description": "The name of the probe.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.Probe"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerProbeGet": {
            "$ref": "./examples/LoadBalancerProbeGet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "BackendAddressInboundNatRulePortMappings": {
      "type": "object",
      "description": "The response for a QueryInboundNatRulePortMapping API.",
      "properties": {
        "inboundNatRulePortMappings": {
          "type": "array",
          "description": "Collection of inbound NAT rule port mappings.",
          "items": {
            "$ref": "#/definitions/InboundNatRulePortMapping"
          }
        }
      }
    },
    "InboundNatRuleListResult": {
      "type": "object",
      "description": "The response of a InboundNatRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The InboundNatRule items on this page",
          "items": {
            "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.InboundNatRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "InboundNatRulePortMapping": {
      "type": "object",
      "description": "Individual port mappings for inbound NAT rule created for backend pool.",
      "properties": {
        "inboundNatRuleName": {
          "type": "string",
          "description": "Name of inbound NAT rule.",
          "readOnly": true
        },
        "protocol": {
          "$ref": "./common.json#/definitions/Common.TransportProtocol",
          "description": "The reference to the transport protocol used by the inbound NAT rule.",
          "readOnly": true
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "Frontend port.",
          "readOnly": true
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "Backend port.",
          "readOnly": true
        }
      }
    },
    "LoadBalancerBackendAddressPoolListResult": {
      "type": "object",
      "description": "Paged collection of BackendAddressPool items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BackendAddressPool items on this page",
          "items": {
            "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.BackendAddressPool"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadBalancerFrontendIPConfigurationListResult": {
      "type": "object",
      "description": "Paged collection of FrontendIPConfiguration items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The FrontendIPConfiguration items on this page",
          "items": {
            "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.FrontendIPConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadBalancerHealthPerRule": {
      "type": "object",
      "description": "The response for a Health API.",
      "properties": {
        "up": {
          "type": "integer",
          "format": "int32",
          "description": "Number of backend instances associated to the LB rule that are considered healthy."
        },
        "down": {
          "type": "integer",
          "format": "int32",
          "description": "Number of backend instances associated to the LB rule that are considered unhealthy."
        },
        "loadBalancerBackendAddresses": {
          "type": "array",
          "description": "Information about the health per rule of the backend addresses.",
          "items": {
            "$ref": "#/definitions/LoadBalancerHealthPerRulePerBackendAddress"
          }
        }
      }
    },
    "LoadBalancerHealthPerRulePerBackendAddress": {
      "type": "object",
      "description": "The information about health per rule per backend address.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "The IP address belonging to the backend address."
        },
        "networkInterfaceIPConfigurationId": {
          "type": "string",
          "description": "Resource ID of the Network Interface IP Configuration."
        },
        "state": {
          "type": "string",
          "description": "The current health of the backend instances that is associated to the LB rule."
        },
        "reason": {
          "type": "string",
          "description": "The explanation of the State"
        }
      }
    },
    "LoadBalancerListResult": {
      "type": "object",
      "description": "The response of a LoadBalancer list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LoadBalancer items on this page",
          "items": {
            "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.LoadBalancer"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadBalancerLoadBalancingRuleListResult": {
      "type": "object",
      "description": "Paged collection of LoadBalancingRule items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LoadBalancingRule items on this page",
          "items": {
            "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.LoadBalancingRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadBalancerOutboundRuleListResult": {
      "type": "object",
      "description": "Paged collection of OutboundRule items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OutboundRule items on this page",
          "items": {
            "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.OutboundRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadBalancerProbeListResult": {
      "type": "object",
      "description": "Paged collection of Probe items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Probe items on this page",
          "items": {
            "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.Probe"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadBalancerVipSwapRequest": {
      "type": "object",
      "description": "The request for a VIP swap.",
      "properties": {
        "frontendIPConfigurations": {
          "type": "array",
          "description": "A list of frontend IP configuration resources that should swap VIPs.",
          "items": {
            "$ref": "#/definitions/LoadBalancerVipSwapRequestFrontendIPConfiguration"
          }
        }
      }
    },
    "LoadBalancerVipSwapRequestFrontendIPConfiguration": {
      "type": "object",
      "description": "VIP swap request's frontend IP configuration object.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of frontend IP configuration resource."
        },
        "properties": {
          "$ref": "#/definitions/LoadBalancerVipSwapRequestFrontendIPConfigurationProperties",
          "description": "The properties of VIP swap request's frontend IP configuration object.",
          "x-ms-client-flatten": true
        }
      }
    },
    "LoadBalancerVipSwapRequestFrontendIPConfigurationProperties": {
      "type": "object",
      "description": "The properties of VIP swap request's frontend IP configuration object.",
      "properties": {
        "publicIPAddress": {
          "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.SubResource",
          "description": "A reference to public IP address resource."
        }
      }
    },
    "MigrateLoadBalancerToIpBasedRequest": {
      "type": "object",
      "description": "The request for a migrateToIpBased API.",
      "properties": {
        "pools": {
          "type": "array",
          "description": "A list of pool names that should be migrated from Nic based to IP based pool",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MigratedPools": {
      "type": "object",
      "description": "The response for a migrateToIpBased API.",
      "properties": {
        "migratedPools": {
          "type": "array",
          "description": "A list of pools migrated from Nic based to IP based pool",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "QueryInboundNatRulePortMappingRequest": {
      "type": "object",
      "description": "The request for a QueryInboundNatRulePortMapping API. Either IpConfiguration or IpAddress should be set",
      "properties": {
        "ipConfiguration": {
          "$ref": "../2018-10-01/vmssNetwork.json#/definitions/Common.SubResource",
          "description": "NetworkInterfaceIPConfiguration set in load balancer backend address."
        },
        "ipAddress": {
          "type": "string",
          "description": "IP address set in load balancer backend address."
        }
      }
    }
  },
  "parameters": {}
}
