{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-05-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkSecurityPerimeters"
    },
    {
      "name": "NetworkSecurityPerimeterProfiles"
    },
    {
      "name": "NetworkSecurityPerimeterAccessRules"
    },
    {
      "name": "NetworkSecurityPerimeterAssociations"
    },
    {
      "name": "NetworkSecurityPerimeterLinks"
    },
    {
      "name": "NetworkSecurityPerimeterLinkReferences"
    },
    {
      "name": "NetworkSecurityPerimeterLoggingConfigurations"
    },
    {
      "name": "NetworkSecurityPerimeterAssociableResourceTypes"
    },
    {
      "name": "NetworkSecurityPerimeterOperationStatuses"
    },
    {
      "name": "NetworkSecurityPerimeterServiceTags"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/networkSecurityPerimeterOperationStatuses/{operationId}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterOperationStatuses_Get",
        "tags": [
          "NetworkSecurityPerimeterOperationStatuses"
        ],
        "description": "Gets the operation status for the given operation id.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The operation id of the async operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspOperationStatusGet": {
            "$ref": "./examples/NspOperationStatusGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/nspServiceTags": {
      "get": {
        "operationId": "NetworkSecurityPerimeterServiceTags_List",
        "tags": [
          "NetworkSecurityPerimeterServiceTags"
        ],
        "description": "Gets the list of service tags supported by NSP. These service tags can be used to create access rules in NSP.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NspServiceTagsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NSPServiceTagsList": {
            "$ref": "./examples/NspServiceTagsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/perimeterAssociableResourceTypes": {
      "get": {
        "operationId": "NetworkSecurityPerimeterAssociableResourceTypes_List",
        "tags": [
          "NetworkSecurityPerimeterAssociableResourceTypes"
        ],
        "description": "Gets the list of resources that are onboarded with NSP. These resources can be associated with a network security perimeter",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PerimeterAssociableResourcesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterAssociableResourceTypes": {
            "$ref": "./examples/PerimeterAssociableResourcesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityPerimeters": {
      "get": {
        "operationId": "NetworkSecurityPerimeters_ListBySubscription",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "List all network security perimeters in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimetersList": {
            "$ref": "./examples/NetworkSecurityPerimeterListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters": {
      "get": {
        "operationId": "NetworkSecurityPerimeters_List",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "List network security perimeters in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeters_Get",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Gets the specified network security perimeter by the name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterGet": {
            "$ref": "./examples/NetworkSecurityPerimeterGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkSecurityPerimeters_CreateOrUpdate",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Creates or updates a Network Security Perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter supplied to create or update the network security perimeter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkSecurityPerimeter' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "201": {
            "description": "Resource 'NetworkSecurityPerimeter' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Put Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterPut.json"
          }
        }
      },
      "patch": {
        "operationId": "NetworkSecurityPerimeters_Patch",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Patch Tags for a Network Security Perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter supplied to the network security perimeter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Patch Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkSecurityPerimeters_Delete",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Deletes a network security perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "forceDeletion",
            "in": "query",
            "description": "Deletes the resource even if it contains any child associations.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterDelete": {
            "$ref": "./examples/NetworkSecurityPerimeterDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/linkReferences": {
      "get": {
        "operationId": "NetworkSecurityPerimeterLinkReferences_List",
        "tags": [
          "NetworkSecurityPerimeterLinkReferences"
        ],
        "description": "Lists the NSP LinkReference resources in the specified network security perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspLinkReferenceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinkReferenceList": {
            "$ref": "./examples/NspLinkReferenceList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/linkReferences/{linkReferenceName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterLinkReferences_Get",
        "tags": [
          "NetworkSecurityPerimeterLinkReferences"
        ],
        "description": "Gets the specified NSP linkReference resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "linkReferenceName",
            "in": "path",
            "description": "The name of the NSP linkReference.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspLinkReference"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinkReferencesGet": {
            "$ref": "./examples/NspLinkReferenceGet.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkSecurityPerimeterLinkReferences_Delete",
        "tags": [
          "NetworkSecurityPerimeterLinkReferences"
        ],
        "description": "Deletes an NSP LinkReference resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "linkReferenceName",
            "in": "path",
            "description": "The name of the NSP linkReference.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinkReferenceDelete": {
            "$ref": "./examples/NspLinkReferenceDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/links": {
      "get": {
        "operationId": "NetworkSecurityPerimeterLinks_List",
        "tags": [
          "NetworkSecurityPerimeterLinks"
        ],
        "description": "Lists the NSP Link resources in the specified network security perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspLinkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinkList": {
            "$ref": "./examples/NspLinkList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/links/{linkName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterLinks_Get",
        "tags": [
          "NetworkSecurityPerimeterLinks"
        ],
        "description": "Gets the specified NSP link resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "linkName",
            "in": "path",
            "description": "The name of the NSP link.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspLink"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinksGet": {
            "$ref": "./examples/NspLinkGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkSecurityPerimeterLinks_CreateOrUpdate",
        "tags": [
          "NetworkSecurityPerimeterLinks"
        ],
        "description": "Creates or updates NSP link resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "linkName",
            "in": "path",
            "description": "The name of the NSP link.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that hold the NspLink resource to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspLink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NspLink' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NspLink"
            }
          },
          "201": {
            "description": "Resource 'NspLink' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NspLink"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinksPut": {
            "$ref": "./examples/NspLinkPut.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkSecurityPerimeterLinks_Delete",
        "tags": [
          "NetworkSecurityPerimeterLinks"
        ],
        "description": "Deletes an NSP Link resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "linkName",
            "in": "path",
            "description": "The name of the NSP link.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinkDelete": {
            "$ref": "./examples/NspLinkDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/loggingConfigurations": {
      "get": {
        "operationId": "NetworkSecurityPerimeterLoggingConfigurations_List",
        "tags": [
          "NetworkSecurityPerimeterLoggingConfigurations"
        ],
        "description": "Lists the NSP logging configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspLoggingConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLoggingConfigurationList": {
            "$ref": "./examples/NspLoggingConfigurationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/loggingConfigurations/{loggingConfigurationName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterLoggingConfigurations_Get",
        "tags": [
          "NetworkSecurityPerimeterLoggingConfigurations"
        ],
        "description": "Gets the NSP logging configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "loggingConfigurationName",
            "in": "path",
            "description": "The name of the NSP logging configuration. Accepts 'instance' as name.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspLoggingConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLoggingConfigurationGet": {
            "$ref": "./examples/NspLoggingConfigurationGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkSecurityPerimeterLoggingConfigurations_CreateOrUpdate",
        "tags": [
          "NetworkSecurityPerimeterLoggingConfigurations"
        ],
        "description": "Creates or updates NSP logging configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "loggingConfigurationName",
            "in": "path",
            "description": "The name of the NSP logging configuration. Accepts 'instance' as name.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that hold the NspLoggingConfiguration to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspLoggingConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NspLoggingConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NspLoggingConfiguration"
            }
          },
          "201": {
            "description": "Resource 'NspLoggingConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NspLoggingConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLoggingConfigurationPut": {
            "$ref": "./examples/NspLoggingConfigurationPut.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkSecurityPerimeterLoggingConfigurations_Delete",
        "tags": [
          "NetworkSecurityPerimeterLoggingConfigurations"
        ],
        "description": "Deletes an NSP Logging configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "loggingConfigurationName",
            "in": "path",
            "description": "The name of the NSP logging configuration. Accepts 'instance' as name.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLoggingConfigurationDelete": {
            "$ref": "./examples/NspLoggingConfigurationDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles": {
      "get": {
        "operationId": "NetworkSecurityPerimeterProfiles_List",
        "tags": [
          "NetworkSecurityPerimeterProfiles"
        ],
        "description": "Lists the NSP profiles in the specified network security perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspProfilesList": {
            "$ref": "./examples/NspProfileList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles/{profileName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterProfiles_Get",
        "tags": [
          "NetworkSecurityPerimeterProfiles"
        ],
        "description": "Gets the specified NSP profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the NSP profile.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspProfilesGet": {
            "$ref": "./examples/NspProfileGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkSecurityPerimeterProfiles_CreateOrUpdate",
        "tags": [
          "NetworkSecurityPerimeterProfiles"
        ],
        "description": "Creates or updates a network profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the NSP profile.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that hold the NspProfile resource to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NspProfile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NspProfile"
            }
          },
          "201": {
            "description": "Resource 'NspProfile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NspProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspProfilesPut": {
            "$ref": "./examples/NspProfilePut.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkSecurityPerimeterProfiles_Delete",
        "tags": [
          "NetworkSecurityPerimeterProfiles"
        ],
        "description": "Deletes an NSP profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the NSP profile.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspProfilesDelete": {
            "$ref": "./examples/NspProfileDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles/{profileName}/accessRules": {
      "get": {
        "operationId": "NetworkSecurityPerimeterAccessRules_List",
        "tags": [
          "NetworkSecurityPerimeterAccessRules"
        ],
        "description": "Lists the NSP access rules in the specified NSP profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the NSP profile.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspAccessRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAccessRulesList": {
            "$ref": "./examples/NspAccessRuleList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles/{profileName}/accessRules/{accessRuleName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterAccessRules_Get",
        "tags": [
          "NetworkSecurityPerimeterAccessRules"
        ],
        "description": "Gets the specified NSP access rule by name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the NSP profile.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "accessRuleName",
            "in": "path",
            "description": "The name of the NSP access rule.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspAccessRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAccessRuleGet": {
            "$ref": "./examples/NspAccessRuleGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkSecurityPerimeterAccessRules_CreateOrUpdate",
        "tags": [
          "NetworkSecurityPerimeterAccessRules"
        ],
        "description": "Creates or updates a network access rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the NSP profile.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "accessRuleName",
            "in": "path",
            "description": "The name of the NSP access rule.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that hold the NspAccessRule resource to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspAccessRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NspAccessRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NspAccessRule"
            }
          },
          "201": {
            "description": "Resource 'NspAccessRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NspAccessRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAccessRulePut": {
            "$ref": "./examples/NspAccessRulePut.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkSecurityPerimeterAccessRules_Delete",
        "tags": [
          "NetworkSecurityPerimeterAccessRules"
        ],
        "description": "Deletes an NSP access rule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the NSP profile.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "accessRuleName",
            "in": "path",
            "description": "The name of the NSP access rule.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAccessRulesDelete": {
            "$ref": "./examples/NspAccessRuleDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles/{profileName}/accessRules/{accessRuleName}/reconcile": {
      "post": {
        "operationId": "NetworkSecurityPerimeterAccessRules_Reconcile",
        "tags": [
          "NetworkSecurityPerimeterAccessRules"
        ],
        "description": "Reconcile NSP access rules",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The name of the NSP profile.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "accessRuleName",
            "in": "path",
            "description": "The name of the NSP access rule.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for NSP access rule reconcile",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAccessRuleReconcile": {
            "$ref": "./examples/NspAccessRuleReconcile.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/resourceAssociations": {
      "get": {
        "operationId": "NetworkSecurityPerimeterAssociations_List",
        "tags": [
          "NetworkSecurityPerimeterAssociations"
        ],
        "description": "Lists the NSP resource associations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NspAssociationsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAssociationList": {
            "$ref": "./examples/NspAssociationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/resourceAssociations/{associationName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterAssociations_Get",
        "tags": [
          "NetworkSecurityPerimeterAssociations"
        ],
        "description": "Gets the specified NSP association by name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "associationName",
            "in": "path",
            "description": "The name of the NSP association.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NspAssociation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAssociationGet": {
            "$ref": "./examples/NspAssociationGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkSecurityPerimeterAssociations_CreateOrUpdate",
        "tags": [
          "NetworkSecurityPerimeterAssociations"
        ],
        "description": "Creates or updates a NSP resource association.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "associationName",
            "in": "path",
            "description": "The name of the NSP association.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters that hold the NspAssociation resource to be created/updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspAssociation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NspAssociation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NspAssociation"
            }
          },
          "201": {
            "description": "Resource 'NspAssociation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NspAssociation"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/NspAssociation"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAssociationPut": {
            "$ref": "./examples/NspAssociationPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/NspAssociation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "NetworkSecurityPerimeterAssociations_Delete",
        "tags": [
          "NetworkSecurityPerimeterAssociations"
        ],
        "description": "Deletes an NSP association resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "associationName",
            "in": "path",
            "description": "The name of the NSP association.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAssociationDelete": {
            "$ref": "./examples/NspAssociationDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/resourceAssociations/{associationName}/reconcile": {
      "post": {
        "operationId": "NetworkSecurityPerimeterAssociations_Reconcile",
        "tags": [
          "NetworkSecurityPerimeterAssociations"
        ],
        "description": "Reconcile NSP association",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "associationName",
            "in": "path",
            "description": "The name of the NSP association.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for NSP association reconcile",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAssociationReconcile": {
            "$ref": "./examples/NspAssociationReconcile.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkSecurityPerimeter": {
      "type": "object",
      "description": "The Network Security Perimeter resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkSecurityPerimeterProperties",
          "description": "The network security perimeter properties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SecurityPerimeterTrackedResource"
        }
      ]
    },
    "NetworkSecurityPerimeterListResult": {
      "type": "object",
      "description": "The response of a NetworkSecurityPerimeter list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NetworkSecurityPerimeter items on this page",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeter"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NetworkSecurityPerimeterProperties": {
      "type": "object",
      "description": "Properties of network security perimeter.",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NspProvisioningState",
          "description": "The provisioning state of the scope assignment resource.",
          "readOnly": true
        },
        "perimeterGuid": {
          "type": "string",
          "description": "perimeter guid of the network security perimeter.",
          "readOnly": true
        }
      }
    },
    "NspAccessRule": {
      "type": "object",
      "description": "The NSP access rule resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspAccessRuleProperties",
          "description": "Properties of the NSP access rule.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SecurityPerimeterProxyResource"
        }
      ]
    },
    "NspAccessRuleListResult": {
      "type": "object",
      "description": "The response of a NspAccessRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspAccessRule items on this page",
          "items": {
            "$ref": "#/definitions/NspAccessRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NspAccessRuleProperties": {
      "type": "object",
      "description": "Properties of NSP access rule.",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NspProvisioningState",
          "description": "The provisioning state of the scope assignment resource.",
          "readOnly": true
        },
        "direction": {
          "$ref": "./common.json#/definitions/AccessRuleDirection",
          "description": "Direction that specifies whether the access rules is inbound/outbound."
        },
        "addressPrefixes": {
          "type": "array",
          "description": "Inbound address prefixes (IPv4/IPv6)",
          "items": {
            "type": "string"
          }
        },
        "fullyQualifiedDomainNames": {
          "type": "array",
          "description": "Outbound rules in fully qualified domain name format.",
          "items": {
            "type": "string"
          }
        },
        "subscriptions": {
          "type": "array",
          "description": "List of subscription ids",
          "items": {
            "$ref": "#/definitions/SubscriptionId"
          },
          "x-ms-client-flatten": true
        },
        "networkSecurityPerimeters": {
          "type": "array",
          "description": "Rule specified by the perimeter id.",
          "items": {
            "$ref": "#/definitions/PerimeterBasedAccessRule"
          },
          "readOnly": true,
          "x-ms-client-flatten": true
        },
        "emailAddresses": {
          "type": "array",
          "description": "Outbound rules in email address format. This access rule type is currently unavailable for use.",
          "items": {
            "type": "string"
          }
        },
        "phoneNumbers": {
          "type": "array",
          "description": "Outbound rules in phone number format. This access rule type is currently unavailable for use.",
          "items": {
            "type": "string"
          }
        },
        "serviceTags": {
          "type": "array",
          "description": "Inbound rules of type service tag. This access rule type is currently unavailable for use.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NspAssociation": {
      "type": "object",
      "description": "The NSP resource association resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspAssociationProperties",
          "description": "Properties of the NSP resource association.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SecurityPerimeterProxyResource"
        }
      ]
    },
    "NspAssociationProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NspProvisioningState",
          "description": "The provisioning state of the resource  association resource.",
          "readOnly": true
        },
        "privateLinkResource": {
          "$ref": "./common.json#/definitions/Common.SubResource",
          "description": "The PaaS resource to be associated."
        },
        "profile": {
          "$ref": "./common.json#/definitions/Common.SubResource",
          "description": "Profile id to which the PaaS resource is associated."
        },
        "accessMode": {
          "$ref": "./common.json#/definitions/AssociationAccessMode",
          "description": "Access mode on the association."
        },
        "hasProvisioningIssues": {
          "type": "string",
          "description": "Specifies if there are provisioning issues",
          "readOnly": true
        }
      }
    },
    "NspAssociationsListResult": {
      "type": "object",
      "description": "Paged collection of NspAssociation items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspAssociation items on this page",
          "items": {
            "$ref": "#/definitions/NspAssociation"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NspLink": {
      "type": "object",
      "description": "The network security perimeter link resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspLinkProperties",
          "description": "Properties of the network security perimeter link resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SecurityPerimeterProxyResource"
        }
      ]
    },
    "NspLinkListResult": {
      "type": "object",
      "description": "The response of a NspLink list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspLink items on this page",
          "items": {
            "$ref": "#/definitions/NspLink"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NspLinkProperties": {
      "type": "object",
      "description": "Properties of NSP Link resource.",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NspLinkProvisioningState",
          "description": "The provisioning state of the NSP Link resource.",
          "readOnly": true
        },
        "autoApprovedRemotePerimeterResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Perimeter ARM Id for the remote NSP with which the link gets created in Auto-approval mode. It should be used when the NSP admin have Microsoft.Network/networkSecurityPerimeters/linkPerimeter/action permission on the remote NSP resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/networkSecurityPerimeters"
              }
            ]
          }
        },
        "remotePerimeterGuid": {
          "type": "string",
          "description": "Remote NSP Guid with which the link gets created.",
          "readOnly": true
        },
        "remotePerimeterLocation": {
          "type": "string",
          "description": "Remote NSP location with which the link gets created.",
          "readOnly": true
        },
        "localInboundProfiles": {
          "type": "array",
          "description": "Local Inbound profile names to which Inbound is allowed. Use ['*'] to allow inbound to all profiles.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        },
        "localOutboundProfiles": {
          "type": "array",
          "description": "Local Outbound profile names from which Outbound is allowed. In current version, it is readonly property and it's value is set to ['*'] to allow outbound from all profiles. In later version, user will be able to modify it.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "remoteInboundProfiles": {
          "type": "array",
          "description": "Remote Inbound profile names to which Inbound is allowed. Use ['*'] to allow inbound to all profiles. This property can only be updated in auto-approval mode.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        },
        "remoteOutboundProfiles": {
          "type": "array",
          "description": "Remote Outbound profile names from which Outbound is allowed. In current version, it is readonly property and it's value is set to ['*'] to allow outbound from all profiles. In later version, user will be able to modify it.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A message passed to the owner of the remote NSP link resource with this connection request. In case of Auto-approved flow, it is default to 'Auto Approved'. Restricted to 140 chars."
        },
        "status": {
          "$ref": "./common.json#/definitions/NspLinkStatus",
          "description": "The NSP link state.",
          "readOnly": true
        }
      }
    },
    "NspLinkReference": {
      "type": "object",
      "description": "The network security perimeter linkReference resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspLinkReferenceProperties",
          "description": "Properties of the network security perimeter linkReference resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SecurityPerimeterProxyResource"
        }
      ]
    },
    "NspLinkReferenceListResult": {
      "type": "object",
      "description": "The response of a NspLinkReference list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspLinkReference items on this page",
          "items": {
            "$ref": "#/definitions/NspLinkReference"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NspLinkReferenceProperties": {
      "type": "object",
      "description": "Properties of NSP LinkReference resource.",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NspLinkProvisioningState",
          "description": "The provisioning state of the NSP LinkReference resource.",
          "readOnly": true
        },
        "remotePerimeterResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Perimeter ARM Id for the remote NSP with which the link is created.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/networkSecurityPerimeters"
              }
            ]
          }
        },
        "remotePerimeterGuid": {
          "type": "string",
          "description": "Remote NSP Guid with which the link is created.",
          "readOnly": true
        },
        "remotePerimeterLocation": {
          "type": "string",
          "description": "Remote NSP location with which the link gets created.",
          "readOnly": true
        },
        "localInboundProfiles": {
          "type": "array",
          "description": "Local Inbound profile names to which Inbound is allowed. Use ['*'] to allow inbound to all profiles.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        },
        "localOutboundProfiles": {
          "type": "array",
          "description": "Local Outbound profile names from which Outbound is allowed. In current version, it is readonly property and it's value is set to ['*'] to allow outbound from all profiles. In later version, user will be able to modify it.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "remoteInboundProfiles": {
          "type": "array",
          "description": "Remote Inbound profile names to which Inbound is allowed. ['*'] value implies inbound is allowed to all profiles at remote perimeter. This property can only be updated from corresponding link resource present in remote perimeter.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "remoteOutboundProfiles": {
          "type": "array",
          "description": "Remote Outbound profile names from which Outbound is allowed. ['*'] value implies outbound is allowed from all profiles at remote perimeter. This property can only be updated from corresponding link resource present in remote perimeter.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A message sent by the remote NSP link admin for connection request. In case of Auto-approved flow, it is default to 'Auto Approved'.",
          "readOnly": true
        },
        "status": {
          "$ref": "./common.json#/definitions/NspLinkStatus",
          "description": "The NSP linkReference state. It cannot be changed if link is created in auto-approval mode."
        }
      }
    },
    "NspLoggingConfiguration": {
      "type": "object",
      "description": "The NSP logging configuration",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspLoggingConfigurationProperties",
          "description": "Properties of the NSP logging configuration.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SecurityPerimeterProxyResource"
        }
      ]
    },
    "NspLoggingConfigurationListResult": {
      "type": "object",
      "description": "The response of a NspLoggingConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspLoggingConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/NspLoggingConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NspLoggingConfigurationProperties": {
      "type": "object",
      "description": "The NSP logging configuration properties.",
      "properties": {
        "enabledLogCategories": {
          "type": "array",
          "description": "The log categories to enable in the NSP logging configuration.",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "The version of the NSP logging configuration."
        }
      }
    },
    "NspProfile": {
      "type": "object",
      "description": "The network security perimeter profile resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspProfileProperties",
          "description": "Properties of the network security perimeter profile",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SecurityPerimeterProxyResource"
        }
      ]
    },
    "NspProfileListResult": {
      "type": "object",
      "description": "The response of a NspProfile list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspProfile items on this page",
          "items": {
[...]
