{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Mission",
    "version": "2023-02-01-preview",
    "description": "Microsoft Mission Resource Provider management API.",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Workload"
    },
    {
      "name": "VirtualEnclave"
    },
    {
      "name": "Community"
    }
  ],
  "paths": {
    "/providers/Microsoft.Mission/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Mission/communities": {
      "get": {
        "tags": [
          "Community"
        ],
        "operationId": "Community_ListBySubscription",
        "description": "List CommunityResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunityResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Community_ListBySubscription_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Community_ListBySubscription_MaximumSet_Gen.json"
          },
          "Community_ListBySubscription": {
            "$ref": "./examples/Community_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Mission/virtualEnclaves": {
      "get": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_ListBySubscription",
        "description": "List EnclaveResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnclaveResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VirtualEnclave_ListBySubscription_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualEnclave_ListBySubscription_MaximumSet_Gen.json"
          },
          "VirtualEnclave_ListBySubscription": {
            "$ref": "./examples/VirtualEnclave_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/workloads": {
      "get": {
        "tags": [
          "Workload"
        ],
        "operationId": "Workload_ListBySubscription",
        "description": "List WorkloadResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "virtualEnclaveName",
            "in": "path",
            "required": true,
            "description": "The name of the enclaveResource Resource",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workload_ListBySubscription_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Workload_ListBySubscription_MaximumSet_Gen.json"
          },
          "Workload_ListBySubscription": {
            "$ref": "./examples/Workload_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/communities": {
      "get": {
        "tags": [
          "Community"
        ],
        "operationId": "Community_ListByResourceGroup",
        "description": "List CommunityResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunityResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Community_ListByResourceGroup_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Community_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Community_ListByResourceGroup": {
            "$ref": "./examples/Community_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/communities/{communityName}": {
      "get": {
        "tags": [
          "Community"
        ],
        "operationId": "Community_Get",
        "description": "Get a CommunityResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communityName",
            "in": "path",
            "required": true,
            "description": "The name of the communityResource Resource",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Community_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Community_Get_MaximumSet_Gen.json"
          },
          "Community_Get": {
            "$ref": "./examples/Community_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "Community"
        ],
        "operationId": "Community_CreateOrUpdate",
        "description": "Create a CommunityResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communityName",
            "in": "path",
            "required": true,
            "description": "The name of the communityResource Resource",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Community_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Community_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Community_CreateOrUpdate": {
            "$ref": "./examples/Community_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Community"
        ],
        "operationId": "Community_Update",
        "description": "Update a CommunityResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communityName",
            "in": "path",
            "required": true,
            "description": "The name of the communityResource Resource",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/CommunityResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Community_Update_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Community_Update_MaximumSet_Gen.json"
          },
          "Community_Update": {
            "$ref": "./examples/Community_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Community"
        ],
        "operationId": "Community_Delete",
        "description": "Delete a CommunityResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communityName",
            "in": "path",
            "required": true,
            "description": "The name of the communityResource Resource",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Community_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Community_Delete_MaximumSet_Gen.json"
          },
          "Community_Delete_MaximumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Community_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves": {
      "get": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_ListByResourceGroup",
        "description": "List EnclaveResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnclaveResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VirtualEnclave_ListByResourceGroup_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualEnclave_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "VirtualEnclave_ListByResourceGroup": {
            "$ref": "./examples/VirtualEnclave_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}": {
      "get": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_Get",
        "description": "Get a EnclaveResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualEnclaveName",
            "in": "path",
            "required": true,
            "description": "The name of the enclaveResource Resource",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnclaveResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualEnclave_Get_MaximumSet_Gen.json"
          },
          "VirtualEnclave_Get": {
            "$ref": "./examples/VirtualEnclave_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_CreateOrUpdate",
        "description": "Create a EnclaveResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualEnclaveName",
            "in": "path",
            "required": true,
            "description": "The name of the enclaveResource Resource",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/EnclaveResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnclaveResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/EnclaveResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualEnclave_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VirtualEnclave_CreateOrUpdate": {
            "$ref": "./examples/VirtualEnclave_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_Update",
        "description": "Update a EnclaveResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualEnclaveName",
            "in": "path",
            "required": true,
            "description": "The name of the enclaveResource Resource",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EnclaveResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnclaveResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_Update_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualEnclave_Update_MaximumSet_Gen.json"
          },
          "VirtualEnclave_Update": {
            "$ref": "./examples/VirtualEnclave_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_Delete",
        "description": "Delete a EnclaveResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualEnclaveName",
            "in": "path",
            "required": true,
            "description": "The name of the enclaveResource Resource",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualEnclave_Delete_MaximumSet_Gen.json"
          },
          "VirtualEnclave_Delete_MaximumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualEnclave_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/workloads": {
      "get": {
        "tags": [
          "Workload"
        ],
        "operationId": "Workload_ListByEnclaveResource",
        "description": "List WorkloadResource resources by EnclaveResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualEnclaveName",
            "in": "path",
            "required": true,
            "description": "The name of the enclaveResource Resource",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workload_ListByEnclaveResource_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Workload_ListByEnclaveResource_MaximumSet_Gen.json"
          },
          "Workload_ListByEnclaveResource": {
            "$ref": "./examples/Workload_ListByEnclaveResource_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/workloads/{workloadName}": {
      "get": {
        "tags": [
          "Workload"
        ],
        "operationId": "Workload_Get",
        "description": "Get a WorkloadResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualEnclaveName",
            "in": "path",
            "required": true,
            "description": "The name of the enclaveResource Resource",
            "type": "string"
          },
          {
            "name": "workloadName",
            "in": "path",
            "required": true,
            "description": "The name of the workloadResource Resource",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workload_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Workload_Get_MaximumSet_Gen.json"
          },
          "Workload_Get": {
            "$ref": "./examples/Workload_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "Workload"
        ],
        "operationId": "Workload_CreateOrUpdate",
        "description": "Create a WorkloadResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualEnclaveName",
            "in": "path",
            "required": true,
            "description": "The name of the enclaveResource Resource",
            "type": "string"
          },
          {
            "name": "workloadName",
            "in": "path",
            "required": true,
            "description": "The name of the workloadResource Resource",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workload_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Workload_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Workload_CreateOrUpdate": {
            "$ref": "./examples/Workload_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Workload"
        ],
        "operationId": "Workload_Update",
        "description": "Update a WorkloadResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualEnclaveName",
            "in": "path",
            "required": true,
            "description": "The name of the enclaveResource Resource",
            "type": "string"
          },
          {
            "name": "workloadName",
            "in": "path",
            "required": true,
            "description": "The name of the workloadResource Resource",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/WorkloadResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workload_Update_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Workload_Update_MaximumSet_Gen.json"
          },
          "Workload_Update": {
            "$ref": "./examples/Workload_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Workload"
        ],
        "operationId": "Workload_Delete",
        "description": "Delete a WorkloadResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualEnclaveName",
            "in": "path",
            "required": true,
            "description": "The name of the enclaveResource Resource",
            "type": "string"
          },
          {
            "name": "workloadName",
            "in": "path",
            "required": true,
            "description": "The name of the workloadResource Resource",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workload_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Workload_Delete_MaximumSet_Gen.json"
          },
          "Workload_Delete_MaximumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Workload_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CommunityProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Community Description."
        },
        "addressSpace": {
          "type": "string",
          "description": "Address Space."
        },
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Dns Servers."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning State.",
          "readOnly": true
        },
        "resourceCollection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "List of resource ids created by communities."
        },
        "virtualEnclaveCollection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "List of virtual enclaves that a community contains."
        }
      },
      "description": "Community Resource Properties"
    },
    "CommunityResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommunityProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Community Model Resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CommunityResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommunityResource"
          },
          "x-cadl-name": "CommunityResource[]",
          "description": "The CommunityResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a CommunityResource list operation.",
      "required": [
        "value"
      ]
    },
    "CommunityResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/CommunityResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the CommunityResource."
    },
    "CommunityResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Community Description."
        },
        "addressSpace": {
          "type": "string",
          "description": "Address Space."
        },
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Dns Servers."
        },
        "resourceCollection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "List of resource ids created by communities."
        },
        "virtualEnclaveCollection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "List of virtual enclaves that a community contains."
        }
      },
      "description": "The updatable properties of the CommunityResource."
    },
    "EnclaveDefaultSettings": {
      "type": "object",
      "properties": {
        "keyVaultResourceId": {
          "type": "string",
          "description": "Key Vault Resource Id."
        },
        "logAnalyticsResourceId": {
          "type": "string",
          "description": "Log Analytics Resource Id."
        },
        "storageAccountResourceId": {
          "type": "string",
          "description": "Storage Account Resource Id."
        }
      },
      "description": "Virtual Enclave Default Settings"
    },
    "EnclaveResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualEnclaveProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Virtual Enclave Model Resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EnclaveResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnclaveResource"
          },
          "x-cadl-name": "EnclaveResource[]",
          "description": "The EnclaveResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a EnclaveResource list operation.",
      "required": [
        "value"
      ]
    },
    "EnclaveResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/EnclaveResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the EnclaveResource."
    },
    "EnclaveResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "enclaveVirtualNetwork": {
          "$ref": "#/definitions/EnclaveVirtualNetwork",
          "description": "Virtual Network."
        },
        "communityResourceId": {
          "type": "string",
          "description": "Community Resource Id."
        },
        "enclaveDefaultSettings": {
          "$ref": "#/definitions/EnclaveDefaultSettings",
          "description": "Default Settings"
        },
        "resourceCollection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "List of resource ids created by Virtual Enclave."
        }
      },
      "description": "The updatable properties of the EnclaveResource."
    },
    "EnclaveVirtualNetwork": {
      "type": "object",
      "properties": {
        "networkSize": {
          "type": "string",
          "description": "Network Size."
        }
      },
      "description": "Enclave Virtual Network Properties",
      "required": [
        "networkSize"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning State Enum",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "VirtualEnclaveProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning State.",
          "readOnly": true
        },
        "enclaveVirtualNetwork": {
          "$ref": "#/definitions/EnclaveVirtualNetwork",
          "description": "Virtual Network."
        },
        "communityResourceId": {
          "type": "string",
          "description": "Community Resource Id."
        },
        "enclaveDefaultSettings": {
          "$ref": "#/definitions/EnclaveDefaultSettings",
          "description": "Default Settings"
        },
        "resourceCollection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "List of resource ids created by Virtual Enclave."
        }
      },
      "description": "Virtual Enclave Resource properties",
      "required": [
        "enclaveVirtualNetwork",
        "communityResourceId"
      ]
    },
    "WorkloadProperties": {
      "type": "object",
      "properties": {
        "workloadDescription": {
          "type": "string",
          "description": "Workload Description."
        },
        "enclaveResourceId": {
          "type": "string",
          "description": "Virtual Enclave Resource Id."
        },
        "managedResourceGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Managed Resource Groups."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning State.",
          "readOnly": true
        }
      },
      "description": "Workload Resource properties"
    },
    "WorkloadResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkloadProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Workload Model Resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "WorkloadResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkloadResource"
          },
          "x-cadl-name": "WorkloadResource[]",
          "description": "The WorkloadResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a WorkloadResource list operation.",
      "required": [
        "value"
      ]
    },
    "WorkloadResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/WorkloadResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the WorkloadResource."
    },
    "WorkloadResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "workloadDescription": {
          "type": "string",
          "description": "Workload Description."
        },
        "enclaveResourceId": {
          "type": "string",
          "description": "Virtual Enclave Resource Id."
        },
        "managedResourceGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Managed Resource Groups."
        }
      },
      "description": "The updatable properties of the WorkloadResource."
    }
  },
  "parameters": {}
}
