{
    "swagger": "2.0",
    "info": {
        "version": "2023-01-01-preview",
        "title": "MonitorManagementClient",
        "description": "Azure Monitor client to list alert rule recommendations."
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/{resourceUri}/providers/Microsoft.AlertsManagement/alertRuleRecommendations": {
            "get": {
                "tags": [
                    "alertRuleRecommendations"
                ],
                "description": "Retrieve alert rule recommendations for a resource.",
                "operationId": "AlertRuleRecommendations_ListByResource",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceUriParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/TargetTypeParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request for a list of alert rule recommendations",
                        "schema": {
                            "$ref": "#/definitions/AlertRuleRecommendationsResponse"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                },
                "x-ms-examples": {
                    "List alert rule recommendations for virtual machines at resource level": {
                        "$ref": "./examples/AlertRuleRecommendations_GetByResource_VM.json"
                    },
                    "List alert rule recommendations for virtual machines at subscription level": {
                        "$ref": "./examples/AlertRuleRecommendations_GetBySubscription_VM.json"
                    },
                    "List alert rule recommendations for Monitoring accounts at subscription level": {
                        "$ref": "./examples/AlertRuleRecommendations_GetBySubscription_MAC.json"
                    },
                    "List alert rule recommendations for Monitoring accounts at resource level": {
                        "$ref": "./examples/AlertRuleRecommendations_GetByResource_MAC.json"
                    }
                }
            }
        }
    },
    "parameters": {
        "ResourceUriParameter": {
            "name": "resourceUri",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The identifier of the resource.",
            "x-ms-parameter-location": "method",
            "x-ms-skip-url-encoding": true
        },
        "TargetTypeParameter": {
            "name": "targetType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The recommendations target type.",
            "x-ms-parameter-location": "client"
        }
    },
    "definitions": {
        "AlertRuleRecommendationsResponse": {
            "description": "Describes the format of Alert Rule Recommendations response.",
            "type": "object",
            "required": [
                "requestedTargetType",
                "displayInformation",
                "rulesArmTemplate"
            ],
            "properties": {
                "requestedTargetType": {
                    "type": "string",
                    "description": "The requested target resource type."
                },
                "displayInformation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DisplayInformationItem"
                    },
                    "x-ms-identifiers": [],
                    "description": "The list of display information, used by the UI. Each information matches a rule recommendation."
                },
                "rulesArmTemplate": {
                    "$ref": "#/definitions/RulesArmTemplate"
                }
            }
        },
        "DisplayInformationItem": {
            "description": "Provides the display information for an alert rule recommendation recommendations.",
            "type": "object",
            "properties": {
                "ruleInfo": {
                    "type": "string",
                    "description": "The alert rule information."
                },
                "infoBallonMessage": {
                    "type": "string",
                    "description": "The information to display inside an information balloon."
                },
                "infoBallonLink": {
                    "type": "string",
                    "description": "The documentation link to display inside an information balloon."
                },
                "metricAlertsDisplayInformation": {
                    "$ref": "#/definitions/MetricAlertsDisplayInformation"
                }
            }
        },
        "MetricAlertsDisplayInformation": {
            "description": "Provides display information specific for Metric Alerts rule.",
            "type": "object",
            "required": [
                "metricDisplayName",
                "displayUnits"
            ],
            "properties": {
                "metricDisplayName": {
                    "type": "string",
                    "description": "The metric display name to use in the UI for the metric alert rule."
                },
                "displayUnits": {
                    "type": "string",
                    "description": "The display units to use in the UI for the metric alert rule."
                }
            }
        },
        "RulesArmTemplate": {
            "description": "A complete ARM template to deploy the alert rules.",
            "type": "object",
            "required": [
                "$schema",
                "contentVersion",
                "variables",
                "parameters",
                "resources"
            ],
            "properties": {
                "$schema": {
                    "type": "string",
                    "description": "JSON schema reference"
                },
                "contentVersion": {
                    "type": "string",
                    "pattern": "(^[0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+$)",
                    "description": "A 4 number format for the version number of this template file. For example, 1.0.0.0"
                },
                "variables": {
                    "type": "object",
                    "description": "Variable definitions"
                },
                "parameters": {
                    "type": "object",
                    "description": "Input parameter definitions"
                },
                "resources":{
                    "type": "array",
                    "description": "Alert rule resource definitions",
                    "items": {
                      "type": "object"
                    },
                    "x-ms-identifiers": []
                }
            }
        },
        "ErrorResponse": {
            "description": "Describes the format of Error response.",
            "type": "object",
            "properties": {
                "code": {
                    "description": "Error code",
                    "type": "string"
                },
                "message": {
                    "description": "Error message indicating why the operation failed.",
                    "type": "string"
                }
            }
        }
    }
}