{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft HealthcareInterop Edge service",
    "version": "2025-06-01-preview",
    "description": "Microsoft HealthcareInterop Edge resources management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OperationStatus"
    },
    {
      "name": "Hl7EdgeConnectors"
    },
    {
      "name": "DicomEdgeConnectors"
    }
  ],
  "paths": {
    "/providers/Microsoft.HealthcareInterop/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HealthcareInterop/dicomEdgeConnectors": {
      "get": {
        "operationId": "DicomEdgeConnectors_ListBySubscription",
        "tags": [
          "DicomEdgeConnectors"
        ],
        "description": "List DicomEdgeConnector resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DicomEdgeConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DicomEdgeConnectors_ListBySubscription_MaximumSet": {
            "$ref": "./examples/DicomEdgeConnectors_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HealthcareInterop/hl7EdgeConnectors": {
      "get": {
        "operationId": "Hl7EdgeConnectors_ListBySubscription",
        "tags": [
          "Hl7EdgeConnectors"
        ],
        "description": "List Hl7EdgeConnector resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Hl7EdgeConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Hl7EdgeConnectors_ListBySubscription_MaximumSet": {
            "$ref": "./examples/Hl7EdgeConnectors_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HealthcareInterop/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "operationId": "OperationStatus_Get",
        "tags": [
          "OperationStatus"
        ],
        "description": "Returns the current status of an async operation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationStatus_Get_MaximumSet": {
            "$ref": "./examples/OperationStatus_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareInterop/dicomEdgeConnectors": {
      "get": {
        "operationId": "DicomEdgeConnectors_ListByResourceGroup",
        "tags": [
          "DicomEdgeConnectors"
        ],
        "description": "List DicomEdgeConnector resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DicomEdgeConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DicomEdgeConnectors_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/DicomEdgeConnectors_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareInterop/dicomEdgeConnectors/{dicomEdgeConnectorName}": {
      "get": {
        "operationId": "DicomEdgeConnectors_Get",
        "tags": [
          "DicomEdgeConnectors"
        ],
        "description": "Get a DicomEdgeConnector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dicomEdgeConnectorName",
            "in": "path",
            "description": "The name of the dicom edge connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DicomEdgeConnector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DicomEdgeConnectors_Get_MaximumSet": {
            "$ref": "./examples/DicomEdgeConnectors_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DicomEdgeConnectors_CreateOrUpdate",
        "tags": [
          "DicomEdgeConnectors"
        ],
        "description": "Create a DicomEdgeConnector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dicomEdgeConnectorName",
            "in": "path",
            "description": "The name of the dicom edge connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DicomEdgeConnector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DicomEdgeConnector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DicomEdgeConnector"
            }
          },
          "201": {
            "description": "Resource 'DicomEdgeConnector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DicomEdgeConnector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DicomEdgeConnectors_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/DicomEdgeConnectors_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DicomEdgeConnectors_Update",
        "tags": [
          "DicomEdgeConnectors"
        ],
        "description": "Update a DicomEdgeConnector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dicomEdgeConnectorName",
            "in": "path",
            "description": "The name of the dicom edge connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DicomEdgeConnectorUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DicomEdgeConnector"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DicomEdgeConnectors_Update_MaximumSet": {
            "$ref": "./examples/DicomEdgeConnectors_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DicomEdgeConnectors_Delete",
        "tags": [
          "DicomEdgeConnectors"
        ],
        "description": "Delete a DicomEdgeConnector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dicomEdgeConnectorName",
            "in": "path",
            "description": "The name of the dicom edge connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DicomEdgeConnectors_Delete_MaximumSet": {
            "$ref": "./examples/DicomEdgeConnectors_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareInterop/hl7EdgeConnectors": {
      "get": {
        "operationId": "Hl7EdgeConnectors_ListByResourceGroup",
        "tags": [
          "Hl7EdgeConnectors"
        ],
        "description": "List Hl7EdgeConnector resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Hl7EdgeConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Hl7EdgeConnectors_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/Hl7EdgeConnectors_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareInterop/hl7EdgeConnectors/{hl7EdgeConnectorName}": {
      "get": {
        "operationId": "Hl7EdgeConnectors_Get",
        "tags": [
          "Hl7EdgeConnectors"
        ],
        "description": "Get a Hl7EdgeConnector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hl7EdgeConnectorName",
            "in": "path",
            "description": "The name of the hl7 edge connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Hl7EdgeConnector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Hl7EdgeConnectors_Get_MaximumSet": {
            "$ref": "./examples/Hl7EdgeConnectors_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Hl7EdgeConnectors_CreateOrUpdate",
        "tags": [
          "Hl7EdgeConnectors"
        ],
        "description": "Create a Hl7EdgeConnector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hl7EdgeConnectorName",
            "in": "path",
            "description": "The name of the hl7 edge connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Hl7EdgeConnector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Hl7EdgeConnector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Hl7EdgeConnector"
            }
          },
          "201": {
            "description": "Resource 'Hl7EdgeConnector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Hl7EdgeConnector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Hl7EdgeConnectors_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/Hl7EdgeConnectors_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Hl7EdgeConnectors_Update",
        "tags": [
          "Hl7EdgeConnectors"
        ],
        "description": "Update a Hl7EdgeConnector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hl7EdgeConnectorName",
            "in": "path",
            "description": "The name of the hl7 edge connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Hl7EdgeConnectorUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Hl7EdgeConnector"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Hl7EdgeConnectors_Update_MaximumSet": {
            "$ref": "./examples/Hl7EdgeConnectors_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Hl7EdgeConnectors_Delete",
        "tags": [
          "Hl7EdgeConnectors"
        ],
        "description": "Delete a Hl7EdgeConnector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hl7EdgeConnectorName",
            "in": "path",
            "description": "The name of the hl7 edge connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Hl7EdgeConnectors_Delete_MaximumSet": {
            "$ref": "./examples/Hl7EdgeConnectors_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "DicomEdgeConnector": {
      "type": "object",
      "description": "The healthcare interop DicomEdgeConnector resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DicomEdgeConnectorProperties",
          "description": "The resource-specific properties for this resource."
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "extendedLocation"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DicomEdgeConnectorListResult": {
      "type": "object",
      "description": "The response of a DicomEdgeConnector list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DicomEdgeConnector items on this page",
          "items": {
            "$ref": "#/definitions/DicomEdgeConnector"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DicomEdgeConnectorProperties": {
      "type": "object",
      "description": "DicomEdgeConnector properties",
      "properties": {
        "receiver": {
          "type": "object",
          "description": "The Receiver Configuration to be used for dicom connector configuration.",
          "properties": {
            "dicomListenerConfiguration": {
              "$ref": "#/definitions/DicomListenerConfiguration",
              "description": "The Listener Configuration to be used for dicom connector configuration.",
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            },
            "requirements": {
              "$ref": "#/definitions/Requirements",
              "description": "The resource requirements for the application (CPU, Memory, and Storage)."
            },
            "storageEndpointConfiguration": {
              "type": "object",
              "description": "The Storage Endpoint Configuration to be used for dicom connector configuration.",
              "properties": {
                "endpoint": {
                  "type": "string",
                  "description": "URL of the storage endpoint where the output will be stored.",
                  "pattern": "^https://.*$",
                  "x-ms-mutability": [
                    "read",
                    "update",
                    "create"
                  ]
                },
                "container": {
                  "type": "string",
                  "description": "Name of the container in the blob storage.",
                  "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$",
                  "x-ms-mutability": [
                    "read",
                    "update",
                    "create"
                  ]
                },
                "outputFolderFormat": {
                  "type": "string",
                  "description": "Format for the output folder.",
                  "maxLength": 255
                }
              },
              "required": [
                "endpoint",
                "container"
              ],
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            }
          },
          "required": [
            "dicomListenerConfiguration"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "DicomEdgeConnectorPropertiesUpdate": {
      "type": "object",
      "description": "DicomEdgeConnector properties",
      "properties": {
        "receiver": {
          "type": "object",
          "description": "The Receiver Configuration to be used for dicom connector configuration.",
          "properties": {
            "dicomListenerConfiguration": {
              "$ref": "#/definitions/DicomListenerConfigurationUpdate",
              "description": "The Listener Configuration to be used for dicom connector configuration.",
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            },
            "requirements": {
              "$ref": "#/definitions/Requirements",
              "description": "The resource requirements for the application (CPU, Memory, and Storage)."
            },
            "storageEndpointConfiguration": {
              "type": "object",
              "description": "The Storage Endpoint Configuration to be used for dicom connector configuration.",
              "properties": {
                "endpoint": {
                  "type": "string",
                  "description": "URL of the storage endpoint where the output will be stored.",
                  "pattern": "^https://.*$",
                  "x-ms-mutability": [
                    "read",
                    "update",
                    "create"
                  ]
                },
                "container": {
                  "type": "string",
                  "description": "Name of the container in the blob storage.",
                  "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$",
                  "x-ms-mutability": [
                    "read",
                    "update",
                    "create"
                  ]
                },
                "outputFolderFormat": {
                  "type": "string",
                  "description": "Format for the output folder.",
                  "maxLength": 255
                }
              },
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            }
          }
        }
      }
    },
    "DicomEdgeConnectorUpdate": {
      "type": "object",
      "description": "The healthcare interop DicomEdgeConnector resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DicomEdgeConnectorPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocationUpdate",
          "description": "The extended location.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "DicomListenerConfiguration": {
      "type": "object",
      "description": "The Listener Configuration to be used for dicom connector configuration.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port number that will be exposed to receive DICOM images.",
          "minimum": 1,
          "maximum": 65535,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "port"
      ]
    },
    "DicomListenerConfigurationUpdate": {
      "type": "object",
      "description": "The Listener Configuration to be used for dicom connector configuration.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port number that will be exposed to receive DICOM images.",
          "minimum": 1,
          "maximum": 65535,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "ErrorAckStrategy": {
      "type": "string",
      "description": "The strategy for how HL7 message error acknowledgments are sent back to the caller.",
      "enum": [
        "SendNackOnError",
        "NeverSendNack"
      ],
      "x-ms-enum": {
        "name": "ErrorAckStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "SendNackOnError",
            "value": "SendNackOnError",
            "description": "The error acknowledgment strategy is to send a negative acknowledgment (NACK) message"
          },
          {
            "name": "NeverSendNack",
            "value": "NeverSendNack",
            "description": "The error acknowledgment strategy is to never send a negative acknowledgment (NACK) message"
          }
        ]
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "The extended location.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ExtendedLocationUpdate": {
      "type": "object",
      "description": "The extended location.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "Hl7Configuration": {
      "type": "object",
      "description": "Settings used to customize how HL7 messages are read.",
      "properties": {
        "carriageReturn": {
          "type": "string",
          "description": "Optional string representing the carriage return character used in the HL7/MLLP implementation.",
          "maxLength": 4
        },
        "carriageReturnOptional": {
          "type": "boolean",
          "description": "Optional boolean indicating if the carriage return is optional in the HL7/MLLP implementation."
        },
        "endBlockDelimiter": {
          "type": "string",
          "description": "Optional string representing the end block delimiter used in the HL7/MLLP implementation.",
          "maxLength": 4
        },
        "errorAckStrategy": {
          "$ref": "#/definitions/ErrorAckStrategy",
          "description": "Optional enum representing how HL7 message error acknowledgments are sent back to the caller"
        },
        "noStartByteRequired": {
          "type": "boolean",
          "description": "Optional boolean indicating if no start byte is required in the HL7/MLLP implementation."
        },
        "startBlockDelimiter": {
          "type": "string",
          "description": "Optional string representing the start block delimiter used in the HL7/MLLP implementation.",
          "maxLength": 4
        }
      }
    },
    "Hl7EdgeConnector": {
      "type": "object",
      "description": "The healthcare interop Hl7EdgeConnector resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Hl7EdgeConnectorProperties",
          "description": "The resource-specific properties for this resource."
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "extendedLocation"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "Hl7EdgeConnectorListResult": {
      "type": "object",
      "description": "The response of a Hl7EdgeConnector list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Hl7EdgeConnector items on this page",
          "items": {
            "$ref": "#/definitions/Hl7EdgeConnector"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Hl7EdgeConnectorProperties": {
      "type": "object",
      "description": "Hl7EdgeConnector properties",
      "properties": {
        "receiver": {
          "type": "object",
          "description": "The Receiver Configuration to be used for hl7 connector configuration.",
          "properties": {
            "hl7Configuration": {
              "$ref": "#/definitions/Hl7Configuration",
              "description": "Settings used to customize how HL7 messages are read."
            },
            "messageListenerConfiguration": {
              "$ref": "#/definitions/MessageListenerConfiguration",
              "description": "The Listener Configuration to be used for hl7 connector configuration.",
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            },
            "requirements": {
              "$ref": "#/definitions/Requirements",
              "description": "The resource requirements for the application (CPU, Memory, and Storage)."
            },
            "storageEndpointConfiguration": {
              "type": "object",
              "description": "The Storage Endpoint Configuration to be used for hl7 connector configuration.",
              "properties": {
                "endpoint": {
                  "type": "string",
                  "description": "URL of the storage endpoint where the output will be stored.",
                  "pattern": "^https://.*$",
                  "x-ms-mutability": [
                    "read",
                    "update",
                    "create"
                  ]
                },
                "container": {
                  "type": "string",
                  "description": "Name of the container in the blob storage.",
                  "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$",
                  "x-ms-mutability": [
                    "read",
                    "update",
                    "create"
                  ]
                },
                "fileExtension": {
                  "type": "string",
                  "description": "Optional file extension for the output file.",
                  "pattern": "^[a-zA-Z0-9]+$"
                },
                "outputFileNameFormat": {
                  "type": "string",
                  "description": "Optional format for the output file name.",
                  "maxLength": 255
                },
                "outputFolderFormat": {
                  "type": "string",
                  "description": "Optional format for the output folder.",
                  "maxLength": 255
                }
              },
              "required": [
                "endpoint",
                "container"
              ],
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            }
          },
          "required": [
            "messageListenerConfiguration",
            "storageEndpointConfiguration"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "Hl7EdgeConnectorPropertiesUpdate": {
      "type": "object",
      "description": "Hl7EdgeConnector properties",
      "properties": {
        "receiver": {
          "type": "object",
          "description": "The Receiver Configuration to be used for hl7 connector configuration.",
          "properties": {
            "hl7Configuration": {
              "$ref": "#/definitions/Hl7Configuration",
              "description": "Settings used to customize how HL7 messages are read."
            },
            "messageListenerConfiguration": {
              "$ref": "#/definitions/MessageListenerConfigurationUpdate",
              "description": "The Listener Configuration to be used for hl7 connector configuration.",
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            },
            "requirements": {
              "$ref": "#/definitions/Requirements",
              "description": "The resource requirements for the application (CPU, Memory, and Storage)."
            },
            "storageEndpointConfiguration": {
              "type": "object",
              "description": "The Storage Endpoint Configuration to be used for hl7 connector configuration.",
              "properties": {
                "endpoint": {
                  "type": "string",
                  "description": "URL of the storage endpoint where the output will be stored.",
                  "pattern": "^https://.*$",
                  "x-ms-mutability": [
                    "read",
                    "update",
                    "create"
                  ]
                },
                "container": {
                  "type": "string",
                  "description": "Name of the container in the blob storage.",
                  "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$",
                  "x-ms-mutability": [
                    "read",
                    "update",
                    "create"
                  ]
                },
                "fileExtension": {
                  "type": "string",
                  "description": "Optional file extension for the output file.",
                  "pattern": "^[a-zA-Z0-9]+$"
                },
                "outputFileNameFormat": {
                  "type": "string",
                  "description": "Optional format for the output file name.",
                  "maxLength": 255
                },
                "outputFolderFormat": {
                  "type": "string",
                  "description": "Optional format for the output folder.",
                  "maxLength": 255
                }
              },
              "x-ms-mutability": [
                "read",
                "update",
                "create"
              ]
            }
          }
        }
      }
    },
    "Hl7EdgeConnectorUpdate": {
      "type": "object",
      "description": "The healthcare interop Hl7EdgeConnector resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Hl7EdgeConnectorPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocationUpdate",
          "description": "The extended location.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "MessageListenerConfiguration": {
      "type": "object",
      "description": "Settings used to customize the newtwork listener configuration.",
      "properties": {
        "inactivityTimeoutInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional duration in seconds to wait before an inactive connection is closed. Not used if useTransientConnection is true.",
          "minimum": 10
        },
        "messageBufferSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional size of the message buffer used when reading HL7 messages from an MLLP connection.",
          "minimum": 512
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port number that will be exposed to receive HL7 messages.",
          "minimum": 1,
          "maximum": 65535,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "useTransientConnection": {
          "type": "boolean",
          "description": "Optional setting that will close the connection between each HL7 message received."
        }
      },
      "required": [
        "port"
      ]
    },
    "MessageListenerConfigurationUpdate": {
      "type": "object",
      "description": "Settings used to customize the newtwork listener configuration.",
      "properties": {
        "inactivityTimeoutInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional duration in seconds to wait before an inactive connection is closed. Not used if useTransientConnection is true.",
          "minimum": 10
        },
        "messageBufferSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional size of the message buffer used when reading HL7 messages from an MLLP connection.",
          "minimum": 512
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port number that will be exposed to receive HL7 messages.",
          "minimum": 1,
          "maximum": 65535,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "useTransientConnection": {
          "type": "boolean",
          "description": "Optional setting that will close the connection between each HL7 message received."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being Deleted"
          }
        ]
      },
      "readOnly": true
    },
    "Requirements": {
      "type": "object",
      "description": "The resource requirements for the application (CPU, Memory, and Storage).",
      "properties": {
        "cpu": {
          "type": "string",
          "description": "The required CPU for the edge connector. The string is Kubernetes Quantity Format (e.g. 100m)."
        },
        "memory": {
          "type": "string",
          "description": "The required Memory for the edge connector. The string is Kubernetes Quantity Format (e.g. 512Mi)."
        },
        "storage": {
          "type": "string",
          "description": "The required Storage for the edge connector. The string is Kubernetes Quantity Format (e.g. 10Gi)."
        }
      }
    }
  },
  "parameters": {}
}
