{
  "swagger": "2.0",
  "info": {
    "title": "DeploymentStacksClient",
    "description": "The APIs listed in this specification can be used to manage Deployment stack resources through the Azure Resource Manager.",
    "version": "2024-03-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentStacks": {
      "get": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_ListAtResourceGroup",
        "description": "Lists all the Deployment stacks within the specified Resource Group.",
        "x-ms-examples": {
          "DeploymentStacksResourceGroupList": {
            "$ref": "./examples/DeploymentStackResourceGroupList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of Deployment stacks.",
            "schema": {
              "$ref": "#/definitions/DeploymentStackListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deploymentStacks": {
      "get": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_ListAtSubscription",
        "description": "Lists all the Deployment stacks within the specified Subscription.",
        "x-ms-examples": {
          "DeploymentStacksSubscriptionList": {
            "$ref": "./examples/DeploymentStackSubscriptionList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of Deployment stacks.",
            "schema": {
              "$ref": "#/definitions/DeploymentStackListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Resources/deploymentStacks": {
      "get": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_ListAtManagementGroup",
        "description": "Lists all the Deployment stacks within the specified Management Group.",
        "x-ms-examples": {
          "DeploymentStacksManagementGroupList": {
            "$ref": "./examples/DeploymentStackManagementGroupList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of Deployment stacks.",
            "schema": {
              "$ref": "#/definitions/DeploymentStackListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentStacks/{deploymentStackName}": {
      "put": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_CreateOrUpdateAtResourceGroup",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "description": "Creates or updates a Deployment stack at Resource Group scope.",
        "x-ms-examples": {
          "DeploymentStacksResourceGroupCreateOrUpdate": {
            "$ref": "./examples/DeploymentStackResourceGroupCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "deploymentStack",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            },
            "description": "Deployment stack supplied to the operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The Deployment stack update request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            }
          },
          "201": {
            "description": "Deployment stack created.",
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_GetAtResourceGroup",
        "description": "Gets a Deployment stack with a given name at Resource Group scope.",
        "x-ms-examples": {
          "DeploymentStacksResourceGroupGet": {
            "$ref": "./examples/DeploymentStackResourceGroupGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the Deployment stack.",
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_DeleteAtResourceGroup",
        "description": "Deletes a Deployment stack by name at Resource Group scope. When operation completes, status code 200 returned without content.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "DeploymentStacksResourceGroupDelete": {
            "$ref": "./examples/DeploymentStackResourceGroupDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "#/parameters/DeleteResourceParameter"
          },
          {
            "$ref": "#/parameters/DeleteResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/DeleteManagementGroupParameter"
          },
          {
            "$ref": "#/parameters/BypassStackOutOfSyncErrorParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Deployment stack deleted."
          },
          "202": {
            "description": "Accepted - Check location header for deletion status.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Deployment stack does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deploymentStacks/{deploymentStackName}": {
      "put": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_CreateOrUpdateAtSubscription",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "description": "Creates or updates a Deployment stack at Subscription scope.",
        "x-ms-examples": {
          "DeploymentStacksSubscriptionCreateOrUpdate": {
            "$ref": "./examples/DeploymentStackSubscriptionCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "deploymentStack",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            },
            "description": "Deployment stack supplied to the operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The Deployment stack update request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            }
          },
          "201": {
            "description": "Deployment stack created.",
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_GetAtSubscription",
        "description": "Gets a Deployment stack with a given name at Subscription scope.",
        "x-ms-examples": {
          "DeploymentStacksSubscriptionGet": {
            "$ref": "./examples/DeploymentStackSubscriptionGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the Deployment stack.",
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_DeleteAtSubscription",
        "description": "Deletes a Deployment stack by name at Subscription scope. When operation completes, status code 200 returned without content.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "DeploymentStacksSubscriptionDelete": {
            "$ref": "./examples/DeploymentStackSubscriptionDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "#/parameters/DeleteResourceParameter"
          },
          {
            "$ref": "#/parameters/DeleteResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/DeleteManagementGroupParameter"
          },
          {
            "$ref": "#/parameters/BypassStackOutOfSyncErrorParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Deployment stack deleted."
          },
          "202": {
            "description": "Accepted - Check location header for deletion status.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Deployment stack does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Resources/deploymentStacks/{deploymentStackName}": {
      "put": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_CreateOrUpdateAtManagementGroup",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "description": "Creates or updates a Deployment stack at Management Group scope.",
        "x-ms-examples": {
          "DeploymentStacksManagementGroupCreateOrUpdate": {
            "$ref": "./examples/DeploymentStackManagementGroupCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "deploymentStack",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            },
            "description": "Deployment stack supplied to the operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The Deployment stack update request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            }
          },
          "201": {
            "description": "Deployment stack created.",
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_GetAtManagementGroup",
        "description": "Gets a Deployment stack with a given name at Management Group scope.",
        "x-ms-examples": {
          "DeploymentStacksManagementGroupGet": {
            "$ref": "./examples/DeploymentStackManagementGroupGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the Deployment stack.",
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_DeleteAtManagementGroup",
        "description": "Deletes a Deployment stack by name at Management Group scope. When operation completes, status code 200 returned without content.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "DeploymentStacksManagementGroupDelete": {
            "$ref": "./examples/DeploymentStackManagementGroupDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "#/parameters/DeleteResourceParameter"
          },
          {
            "$ref": "#/parameters/DeleteResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/DeleteManagementGroupParameter"
          },
          {
            "$ref": "#/parameters/BypassStackOutOfSyncErrorParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Deployment stack deleted."
          },
          "202": {
            "description": "Accepted - Check location header for deletion status.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Deployment stack does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentStacks/{deploymentStackName}/exportTemplate": {
      "post": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_ExportTemplateAtResourceGroup",
        "description": "Exports the template used to create the Deployment stack at Resource Group scope.",
        "x-ms-examples": {
          "DeploymentStacksResourceGroupExportTemplate": {
            "$ref": "./examples/DeploymentStackExportTemplate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Template or TemplateLink payload of the deployment stack.",
            "schema": {
              "$ref": "#/definitions/DeploymentStackTemplateDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deploymentStacks/{deploymentStackName}/exportTemplate": {
      "post": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_ExportTemplateAtSubscription",
        "description": "Exports the template used to create the Deployment stack at Subscription scope.",
        "x-ms-examples": {
          "DeploymentStacksSubscriptionExportTemplate": {
            "$ref": "./examples/DeploymentStackSubscriptionExportTemplate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Template or TemplateLink payload of the deployment stack.",
            "schema": {
              "$ref": "#/definitions/DeploymentStackTemplateDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Resources/deploymentStacks/{deploymentStackName}/exportTemplate": {
      "post": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_ExportTemplateAtManagementGroup",
        "description": "Exports the template used to create the Deployment stack at Management Group scope.",
        "x-ms-examples": {
          "DeploymentStacksManagementGroupExportTemplate": {
            "$ref": "./examples/DeploymentStackManagementGroupExportTemplate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Template or TemplateLink payload of the deployment stack.",
            "schema": {
              "$ref": "#/definitions/DeploymentStackTemplateDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentStacks/{deploymentStackName}/validate": {
      "post": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_ValidateStackAtResourceGroup",
        "description": "Runs preflight validation on the Resource Group scoped Deployment stack template to verify its acceptance to Azure Resource Manager.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "DeploymentStacksResourceGroupValidate": {
            "$ref": "./examples/DeploymentStackResourceGroupValidate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "deploymentStack",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            },
            "description": "Deployment stack to validate."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The validation operation result.",
            "schema": {
              "$ref": "#/definitions/DeploymentStackValidateResult"
            }
          },
          "202": {
            "description": "Accepted - The validation request has been accepted for processing and the operation will complete asynchronously.",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Retry-After": {
                "type": "string",
                "description": "Number of seconds to wait before polling for status."
              }
            }
          },
          "400": {
            "description": "Failed - The validation operation result.",
            "x-ms-error-response": false,
            "schema": {
              "$ref": "#/definitions/DeploymentStackValidateResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deploymentStacks/{deploymentStackName}/validate": {
      "post": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_ValidateStackAtSubscription",
        "description": "Runs preflight validation on the Subscription scoped Deployment stack template to verify its acceptance to Azure Resource Manager.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "DeploymentStacksSubscriptionValidate": {
            "$ref": "./examples/DeploymentStackSubscriptionValidate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "deploymentStack",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            },
            "description": "Deployment stack to validate."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The validation operation result.",
            "schema": {
              "$ref": "#/definitions/DeploymentStackValidateResult"
            }
          },
          "202": {
            "description": "Accepted - The validation request has been accepted for processing and the operation will complete asynchronously.",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Retry-After": {
                "type": "string",
                "description": "Number of seconds to wait before polling for status."
              }
            }
          },
          "400": {
            "description": "Failed - The validation operation result.",
            "x-ms-error-response": false,
            "schema": {
              "$ref": "#/definitions/DeploymentStackValidateResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Resources/deploymentStacks/{deploymentStackName}/validate": {
      "post": {
        "tags": [
          "DeploymentStacks"
        ],
        "operationId": "DeploymentStacks_ValidateStackAtManagementGroup",
        "description": "Runs preflight validation on the Management Group scoped Deployment stack template to verify its acceptance to Azure Resource Manager.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "DeploymentStacksManagementGroupValidate": {
            "$ref": "./examples/DeploymentStackManagementGroupValidate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/DeploymentStackNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "deploymentStack",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentStack"
            },
            "description": "Deployment stack to validate."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The validation operation result.",
            "schema": {
              "$ref": "#/definitions/DeploymentStackValidateResult"
            }
          },
          "202": {
            "description": "Accepted - The validation request has been accepted for processing and the operation will complete asynchronously.",
            "headers": {
              "Location": {
                "type": "string"
              },
              "Retry-After": {
                "type": "string",
                "description": "Number of seconds to wait before polling for status."
              }
            }
          },
          "400": {
            "description": "Failed - The validation operation result.",
            "x-ms-error-response": false,
            "schema": {
              "$ref": "#/definitions/DeploymentStackValidateResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DeploymentStacksError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DeploymentStack": {
      "type": "object",
      "description": "Deployment stack object.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureResourceBase"
        }
      ],
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The location of the Deployment stack. It cannot be changed after creation. It must be one of the supported Azure locations."
        },
        "tags": {
          "type": "object",
          "description": "Deployment stack resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Deployment stack properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DeploymentStackProperties"
        }
      }
    },
    "DeploymentStackProperties": {
      "type": "object",
      "required": [
        "actionOnUnmanage",
        "denySettings"
      ],
      "description": "Deployment stack properties.",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentStacksError"
        }
      ],
      "properties": {
        "template": {
          "type": "object",
          "description": "The template content. You use this element when you want to pass the template syntax directly in the request rather than link to an existing template. It can be a JObject or well-formed JSON string. Use either the templateLink property or the template property, but not both.",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "templateLink": {
          "$ref": "#/definitions/DeploymentStacksTemplateLink",
          "description": "The URI of the template. Use either the templateLink property or the template property, but not both.",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DeploymentParameter"
          },
          "description": "Name and value pairs that define the deployment parameters for the template. Use this element when providing the parameter values directly in the request, rather than linking to an existing parameter file. Use either the parametersLink property or the parameters property, but not both."
        },
        "parametersLink": {
          "$ref": "#/definitions/DeploymentStacksParametersLink",
          "description": "The URI of parameters file. Use this element to link to an existing parameters file. Use either the parametersLink property or the parameters property, but not both."
        },
        "actionOnUnmanage": {
          "$ref": "#/definitions/ActionOnUnmanage",
          "description": "Defines the behavior of resources that are no longer managed after the Deployment stack is updated or deleted."
        },
        "debugSetting": {
          "$ref": "#/definitions/DeploymentStacksDebugSetting",
          "description": "The debug setting of the deployment."
        },
        "bypassStackOutOfSyncError": {
          "type": "boolean",
          "description": "Flag to bypass service errors that indicate the stack resource list is not correctly synchronized.",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "deploymentScope": {
          "type": "string",
          "description": "The scope at which the initial deployment should be created. If a scope is not specified, it will default to the scope of the deployment stack. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroupId}'), subscription (format: '/subscriptions/{subscriptionId}'), resource group (format: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}')."
        },
        "description": {
          "type": "string",
          "maxLength": 4096,
          "description": "Deployment stack description. Max length of 4096 characters."
        },
        "denySettings": {
          "description": "Defines how resources deployed by the stack are locked.",
          "$ref": "#/definitions/DenySettings"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "description": "State of the deployment stack.",
          "enum": [
            "creating",
            "validating",
            "waiting",
            "deploying",
            "canceling",
            "updatingDenyAssignments",
            "deletingResources",
            "succeeded",
            "failed",
            "canceled",
            "deleting"
          ],
          "x-ms-enum": {
            "name": "DeploymentStackProvisioningState",
            "modelAsString": true
          }
        },
        "correlationId": {
          "type": "string",
          "readOnly": true,
          "description": "The correlation id of the last Deployment stack upsert or delete operation. It is in GUID format and is used for tracing.",
          "example": "01234567-89ab-cdef-0000-000000000000"
        },
        "detachedResources": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ResourceReference"
          },
          "description": "An array of resources that were detached during the most recent Deployment stack update. Detached means that the resource was removed from the template, but no relevant deletion operations were specified. So, the resource still exists while no longer being associated with the stack."
        },
        "deletedResources": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ResourceReference"
          },
          "description": "An array of resources that were deleted during the most recent Deployment stack update. Deleted means that the resource was removed from the template and relevant deletion operations were specified."
        },
        "failedResources": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ResourceReferenceExtended"
          },
          "description": "An array of resources that failed to reach goal state during the most recent update. Each resourceId is accompanied by an error message."
        },
        "resources": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ManagedResourceReference"
          },
          "description": "An array of resources currently managed by the deployment stack."
        },
        "deploymentId": {
          "type": "string",
          "readOnly": true,
          "description": "The resourceId of the deployment resource created by the deployment stack."
        },
        "outputs": {
          "type": "object",
          "readOnly": true,
          "description": "The outputs of the deployment resource created by the deployment stack."
        },
        "duration": {
          "type": "string",
          "readOnly": true,
          "description": "The duration of the last successful Deployment stack update."
        }
      }
    },
    "DeploymentStackListResult": {
      "description": "List of Deployment stacks.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentStack"
          },
          "description": "An array of Deployment stacks."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      }
    },
    "ResourceReference": {
      "type": "object",
      "description": "The resourceId model.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resourceId of a resource managed by the deployment stack."
        }
      }
    },
    "ManagedResourceReference": {
      "type": "object",
      "description": "The managed resource model.",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceReference"
        }
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "Current management state of the resource in the deployment stack.",
          "enum": [
            "managed",
            "removeDenyFailed",
            "deleteFailed"
          ],
          "x-ms-enum": {
            "name": "ResourceStatusMode",
            "modelAsString": true,
            "values": [
              {
                "value": "managed",
                "description": "This resource is managed by the deployment stack."
              },
              {
                "value": "removeDenyFailed",
                "description": "Unable to remove the deny assignment on resource."
              },
              {
                "value": "deleteFailed",
                "description": "Unable to delete the resource from Azure. The delete will be retried on the next stack deployment, or can be deleted manually."
              }
            ]
          }
        },
        "denyStatus": {
          "type": "string",
          "default": "none",
          "description": "denyAssignment settings applied to the resource.",
          "enum": [
            "denyDelete",
            "notSupported",
            "inapplicable",
            "denyWriteAndDelete",
            "removedBySystem",
            "none"
          ],
          "x-ms-enum": {
            "name": "DenyStatusMode",
            "modelAsString": true,
            "values": [
              {
                "value": "denyDelete",
                "description": "Authorized users are able to read and modify the resources, but cannot delete."
              },
              {
                "value": "notSupported",
                "description": "Resource type does not support denyAssignments."
              },
              {
                "value": "inapplicable",
                "description": "denyAssignments are not supported on resources outside the scope of the deployment stack."
              },
              {
                "value": "denyWriteAndDelete",
                "description": "Authorized users can only read from a resource, but cannot modify or delete it."
              },
              {
                "value": "removedBySystem",
                "description": "Deny assignment has been removed by Azure due to a resource management change (management group move, etc.)"
              },
              {
                "value": "none",
                "description": "No denyAssignments have been applied."
              }
            ]
          }
        }
      }
    },
    "ResourceReferenceExtended": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceReference"
        },
        {
          "$ref": "#/definitions/DeploymentStacksError"
        }
      ],
      "description": "The resourceId extended model. This is used to document failed resources with a resourceId and a corresponding error."
    },
    "ActionOnUnmanage": {
      "type": "object",
      "description": "Defines the behavior of resources that are no longer managed after the stack is updated or deleted.",
      "required": [
        "resources"
      ],
      "properties": {
        "resources": {
          "$ref": "#/definitions/DeploymentStacksDeleteDetachEnum"
        },
        "resourceGroups": {
          "$ref": "#/definitions/DeploymentStacksDeleteDetachEnum"
        },
        "managementGroups": {
          "$ref": "#/definitions/DeploymentStacksDeleteDetachEnum"
        }
      }
    },
    "DeploymentStacksError": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorDetail"
        }
      },
      "description": "Deployment Stacks error response."
    },
    "DenySettings": {
      "description": "Defines how resources deployed by the Deployment stack are locked.",
      "type": "object",
      "required": [
        "mode"
      ],
      "properties": {
        "mode": {
          "type": "string",
          "description": "denySettings Mode that defines denied actions.",
          "enum": [
            "denyDelete",
            "denyWriteAndDelete",
            "none"
          ],
          "x-ms-enum": {
            "name": "DenySettingsMode",
            "modelAsString": true,
            "values": [
              {
                "value": "denyDelete",
                "description": "Authorized users are able to read and modify the resources, but cannot delete."
              },
              {
                "value": "denyWriteAndDelete",
                "description": "Authorized users can read from a resource, but cannot modify or delete it."
              },
              {
                "value": "none",
                "description": "No denyAssignments have been applied."
              }
            ]
          }
        },
        "excludedPrincipals": {
          "type": "array",
          "description": "List of AAD principal IDs excluded from the lock. Up to 5 principals are permitted.",
          "items": {
            "type": "string"
          }
        },
        "excludedActions": {
          "type": "array",
          "description": "List of role-based management operations that are excluded from the denySettings. Up to 200 actions are permitted. If the denySetting mode is set to 'denyWriteAndDelete', then the following actions are automatically appended to 'excludedActions': '*\\/read' and 'Microsoft.Authorization/locks/delete'. If the denySetting mode is set to 'denyDelete', then the following actions are automatically appended to 'excludedActions': 'Microsoft.Authorization/locks/delete'. Duplicate actions will be removed.",
          "items": {
            "type": "string"
          }
        },
        "applyToChildScopes": {
          "type": "boolean",
          "description": "DenySettings will be applied to child resource scopes of every managed resource with a deny assignment."
        }
      }
    },
    "AzureResourceBase": {
      "x-ms-azure-resource": true,
      "type": "object",
      "description": "Common properties for all Azure resources.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "String Id used to locate any resource on Azure."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of this resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Type of this resource."
        },
        "systemData": {
          "readOnly": true,
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/systemData"
        }
      }
    },
    "DeploymentStackTemplateDefinition": {
      "type": "object",
      "description": "Export Template specific properties of the Deployment stack.",
      "properties": {
        "template": {
          "type": "object",
          "description": "The template content. Use this element to pass the template syntax directly in the request rather than link to an existing template. It can be a JObject or well-formed JSON string. Use either the templateLink property or the template property, but not both."
        },
        "templateLink": {
          "type": "object",
          "$ref": "#/definitions/DeploymentStacksTemplateLink",
          "description": "The URI of the template. Use either the templateLink property or the template property, but not both."
        }
      }
    },
    "DeploymentStacksTemplateLink": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the template to deploy. Use either the uri or id property, but not both."
        },
        "id": {
          "type": "string",
          "description": "The resourceId of a Template Spec. Use either the id or uri property, but not both."
        },
        "relativePath": {
          "type": "string",
          "description": "The relativePath property can be used to deploy a linked template at a location relative to the parent. If the parent template was linked with a TemplateSpec, this will reference an artifact in the TemplateSpec.  If the parent was linked with a URI, the child deployment will be a combination of the parent and relativePath URIs."
        },
        "queryString": {
          "type": "string",
          "description": "The query string (for example, a SAS token) to be used with the templateLink URI."
        },
        "contentVersion": {
          "type": "string",
          "description": "If included, must match the ContentVersion in the template."
        }
      },
      "description": "Entity representing the reference to the template."
    },
    "DeploymentParameter": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Input value to the parameter."
        },
        "type": {
          "type": "string",
          "description": "Type of the value."
        },
        "reference": {
          "$ref": "#/definitions/KeyVaultParameterReference",
          "description": "Azure Key Vault parameter reference."
        }
      },
      "description": "Deployment parameter for the template."
    },
    "KeyVaultParameterReference": {
      "type": "object",
      "properties": {
        "keyVault": {
          "$ref": "#/definitions/KeyVaultReference",
          "description": "Azure Key Vault reference."
        },
        "secretName": {
          "type": "string",
          "description": "Azure Key Vault secret name."
        },
        "secretVersion": {
          "type": "string",
          "description": "Azure Key Vault secret version."
        }
      },
      "required": [
        "keyVault",
        "secretName"
      ],
      "description": "Azure Key Vault parameter reference."
    },
    "KeyVaultReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Azure Key Vault resourceId."
        }
      },
      "required": [
        "id"
      ],
      "description": "Azure Key Vault reference."
    },
    "DeploymentStacksParametersLink": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the parameters file."
        },
        "contentVersion": {
          "type": "string",
          "description": "If included, must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the deployment parameters."
    },
    "DeploymentStacksDebugSetting": {
      "type": "object",
      "properties": {
        "detailLevel": {
          "type": "string",
          "description": "Specifies the type of information to log for debugging. The permitted values are none, requestContent, responseContent, or both requestContent and responseContent separated by a comma. The default is none. When setting this value, carefully consider the type of information that is being passed in during deployment. By logging information about the request or response, sensitive data that is retrieved through the deployment operations could potentially be exposed."
        }
      },
      "description": "The debug setting."
    },
    "DeploymentStacksDeleteDetachEnum": {
      "type": "string",
      "enum": [
        "delete",
        "detach"
      ],
      "description": "Specifies an action for a newly unmanaged resource. Delete will attempt to delete the resource from Azure. Detach will leave the resource in it's current state.",
      "x-ms-enum": {
        "name": "DeploymentStacksDeleteDetachEnum",
        "modelAsString": true
      }
    },
    "DeploymentStackValidateResult": {
      "type": "object",
      "description": "The Deployment stack validation result.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureResourceBase"
        },
        {
          "$ref": "#/definitions/DeploymentStacksError"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentStackValidateProperties",
          "description": "The validation result details."
        }
      }
    },
    "DeploymentStackValidateProperties": {
      "type": "object",
      "description": "The Deployment stack validation result details.",
      "properties": {
        "actionOnUnmanage": {
          "$ref": "#/definitions/ActionOnUnmanage",
          "description": "Defines the behavior of resources that are no longer managed after the Deployment stack is updated or deleted."
        },
        "correlationId": {
          "type": "string",
          "description": "The correlation id of the Deployment stack validate operation. It is in GUID format and is used for tracing.",
          "example": "01234567-89ab-cdef-0000-000000000000"
        },
        "denySettings": {
          "$ref": "#/definitions/DenySettings",
          "description": "The Deployment stack deny settings."
        },
        "deploymentScope": {
          "type": "string",
          "description": "The Deployment stack deployment scope."
        },
        "description": {
          "type": "string",
          "description": "The Deployment stack validation description."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DeploymentParameter"
          },
          "description": "Deployment parameters."
        },
        "templateLink": {
          "$ref": "#/definitions/DeploymentStacksTemplateLink",
          "description": "The URI of the template."
        },
        "validatedResources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceReference"
          },
          "description": "The array of resources that were validated."
        }
      }
    }
  },
  "parameters": {
    "ManagementGroupIdParameter": {
      "name": "managementGroupId",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "description": "Management Group id.",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    },
    "DeploymentStackNameParameter": {
      "name": "deploymentStackName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "description": "Name of the deployment stack.",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    },
    "DeleteResourceParameter": {
      "name": "unmanageAction.Resources",
      "in": "query",
      "required": false,
      "type": "string",
      "enum": [
        "delete",
        "detach"
      ],
      "x-ms-enum": {
        "name": "UnmanageActionResourceMode",
        "modelAsString": true
      },
      "x-ms-parameter-location": "method",
      "description": "Flag to indicate delete rather than detach for unmanaged resources."
    },
    "DeleteResourceGroupParameter": {
      "name": "unmanageAction.ResourceGroups",
      "in": "query",
      "required": false,
      "type": "string",
      "enum": [
        "delete",
        "detach"
      ],
      "x-ms-enum": {
        "name": "UnmanageActionResourceGroupMode",
        "modelAsString": true
      },
      "x-ms-parameter-location": "method",
      "description": "Flag to indicate delete rather than detach for unmanaged resource groups."
    },
    "DeleteManagementGroupParameter": {
      "name": "unmanageAction.ManagementGroups",
      "in": "query",
      "required": false,
      "type": "string",
      "enum": [
        "delete",
        "detach"
      ],
      "x-ms-enum": {
        "name": "UnmanageActionManagementGroupMode",
        "modelAsString": true
      },
      "x-ms-parameter-location": "method",
      "description": "Flag to indicate delete rather than detach for unmanaged management groups."
    },
    "BypassStackOutOfSyncErrorParameter": {
      "name": "bypassStackOutOfSyncError",
      "in": "query",
      "required": false,
      "type": "boolean",
      "x-ms-parameter-location": "method",
      "description": "Flag to bypass service errors that indicate the stack resource list is not correctly synchronized."
    }
  }
}
