{
  "swagger": "2.0",
  "info": {
    "title": "AzureAttestation",
    "description": "The service for managing azure attestation.",
    "version": "2017-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.AzureAttestation/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available Azure attestation operations.",
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "List all the operations.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureAttestation/attestationProvider/{providerName}":
    {
      "get": {
        "tags": [
          "AttestationService"
        ],
        "operationId": "AttestationService_Get",
        "description": "Get the status of Attestation Service.",
        "x-ms-examples": {
          "AttestationService_Get": {
            "$ref": "./examples/Get_AttestationService.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "description": "Name of the attestation service"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the status of attestation service",
            "schema": {
              "$ref": "#/definitions/AttestationResponseMessage"
            }
          },
          "default": {
            "description": "Error result from Attestation service",
            "schema": {
              "$ref": "#/definitions/ErrorResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AttestationService"
        ],
        "operationId": "AttestationService_Create",
        "description": "Creates or updates the Attestation Service.",
        "x-ms-examples": {
          "AttestationService_Create": {
            "$ref": "./examples/Create_AttestationService.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "description": "Name of the attestation service"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created or updated attestation service",
            "schema": {
              "$ref": "#/definitions/AttestationResponseMessage"
            }
          },
          "200": {
            "description": "Created or updated attestation service",
            "schema": {
              "$ref": "#/definitions/AttestationResponseMessage"
            }
          },
          "default": {
            "description": "Error result from Attestation service",
            "schema": {
              "$ref": "#/definitions/ErrorResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AttestationService"
        ],
        "operationId": "AttestationService_Delete",
        "description": "Delete Attestation Service.",
        "x-ms-examples": {
          "AttestationService_Delete": {
            "$ref": "./examples/Delete_AttestationService.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "description": "Name of the attestation service"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted for deletion of attestation service"
          },
          "default": {
            "description": "Error result from Attestation service",
            "schema": {
              "$ref": "#/definitions/ErrorResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureAttestation/attestationProvider/{providerName}/metadata/signingKeys":
    {
      "get": {
        "tags": [
          "AttestationSigningKeys"
        ],
        "operationId": "AttestationSigningKey_List",
        "description": "Returns attestation service signing keys.",
        "x-ms-examples": {
          "AttestationSigningKey_List": {
            "$ref": "./examples/Get_AttestationSigningKeys.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "description": "Name of the attestation service"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null,
          "itemName": "keys"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AttestationSigningKeys"
            }
          },
          "default": {
            "description": "Attestation service error result",
            "schema": {
              "$ref": "#/definitions/ErrorResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationList": {
      "properties": {
        "value": {
          "type": "array",
          "description": "List of supported operations.",
          "items": {
            "$ref": "#/definitions/OperationsDefinition"
          }
        }
      },
      "description": "List of supported operations."
    },
    "OperationsDefinition": {
      "type": "object",
      "description": "Definition object with the name and properties of an operation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation."
        },
        "display": {
          "$ref": "#/definitions/OperationsDisplayDefinition",
          "description": "Display object with properties of the operation."
        }
      }
    },
    "OperationsDisplayDefinition": {
      "type": "object",
      "description": "Display object with properties of the operation.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Resource provider of the operation."
        },
        "resource": {
          "type": "string",
          "description": "Resource for the operation."
        },
        "operation": {
          "type": "string",
          "description": "Short description of the operation."
        },
        "description": {
          "type": "string",
          "description": "Description of the operation."
        }
      }
    },
    "AttestationResponseMessage": {
      "type": "object",
      "description": "Attestation service response message.",
      "required": [
        "properties"
      ],
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description":
            "The id of the ARM resource, e.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureAttestation/attestationProvider/{providerName}\""
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the  attestation service."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Microsoft.AzureAttestation/service"
        },
        "properties": {
          "type": "object",
          "$ref": "#/definitions/StatusResult",
          "description": "Describes Attestation service status.",
          "x-ms-client-flatten": true
        }
      }
    },
    "StatusResult": {
      "type": "object",
      "description": "Status of attestation service.",
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of attestation service."
        },
        "ask": {
          "type": "string",
          "description": "This is the key used by the attestation service to sign artifacts, such as tokens"
        },
        "cek": {
          "type": "string",
          "description":
            "This key is used by administrators to encrypt data for sending sensitive configuration to the attestation enclave"
        },
        "cskMap": {
          "type": "string",
          "description":
            "These keys are used by administrators to updates changes to the attestation service instance"
        }
      }
    },
    "ErrorResult": {
      "type": "object",
      "title": "Error",
      "description": "Error description and code explaining why an operation failed.",
      "properties": {
        "error": {
          "type": "object",
          "description": "Error object.",
          "$ref": "#/definitions/ErrorResponseBody"
        }
      }
    },
    "ErrorResponseBody": {
      "type": "object",
      "title": "Error",
      "description": "Error description and code explaining why an operation failed.",
      "required": [
        "message",
        "code"
      ],
      "properties": {
        "message": {
          "type": "string",
          "description": "Description of the error."
        },
        "code": {
          "type": "string",
          "description": "Service specific error code"
        }
      }
    },
    "AttestationSigningKeys": {
      "description": "Attestation signing keys.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Attestation signing keys.",
          "items": {
            "$ref": "#/definitions/SigningKey"
          }
        }
      }
    },
    "SigningKey": {
      "type": "object",
      "description": "Attestation signing keys.",
      "properties": {
        "kid": {
          "type": "string",
          "description": "Unique Key Identifier."
        },
        "kty": {
          "type": "string",
          "description": "JsonWebKey key types (kty) for Elliptic curve."
        },
        "n": {
          "type": "string",
          "description": "RSA modulus, in Base64."
        },
        "e": {
          "type": "string",
          "description": "RSA public exponent, in Base64."
        }
      }
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description":
        "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    }
  }
}