{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2022-01-01-preview",
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "GovernanceAssignments"
    },
    {
      "name": "GovernanceRules"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.Security/assessments/{assessmentName}/governanceAssignments": {
      "get": {
        "operationId": "GovernanceAssignments_List",
        "tags": [
          "GovernanceAssignments"
        ],
        "description": "Get governance assignments on all of your resources inside a scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the governance assignment.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "The assessment key of the governance assignment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GovernanceAssignmentsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List governance assignments": {
            "$ref": "./examples/GovernanceAssignments/ListGovernanceAssignments_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/assessments/{assessmentName}/governanceAssignments/{assignmentKey}": {
      "get": {
        "operationId": "GovernanceAssignments_Get",
        "tags": [
          "GovernanceAssignments"
        ],
        "description": "Get a specific governanceAssignment for the requested scope by AssignmentKey",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the governance assignment.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "The assessment key of the governance assignment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "assignmentKey",
            "in": "path",
            "description": "The governance assignment key.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GovernanceAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get governanceAssignment by specific governanceAssignmentKey": {
            "$ref": "./examples/GovernanceAssignments/GetGovernanceAssignment_example.json"
          }
        }
      },
      "put": {
        "operationId": "GovernanceAssignments_CreateOrUpdate",
        "tags": [
          "GovernanceAssignments"
        ],
        "description": "Creates or updates a governance assignment on the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the governance assignment.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "The assessment key of the governance assignment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "assignmentKey",
            "in": "path",
            "description": "The governance assignment key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "governanceAssignment",
            "in": "body",
            "description": "Governance assignment over a subscription scope",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GovernanceAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GovernanceAssignment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GovernanceAssignment"
            }
          },
          "201": {
            "description": "Resource 'GovernanceAssignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GovernanceAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create Governance assignment": {
            "$ref": "./examples/GovernanceAssignments/PutGovernanceAssignment_example.json"
          }
        }
      },
      "delete": {
        "operationId": "GovernanceAssignments_Delete",
        "tags": [
          "GovernanceAssignments"
        ],
        "description": "Delete a GovernanceAssignment over a given scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the governance assignment.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "The assessment key of the governance assignment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "assignmentKey",
            "in": "path",
            "description": "The governance assignment key.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete security assignment": {
            "$ref": "./examples/GovernanceAssignments/DeleteGovernanceAssignment_example.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/governanceRules": {
      "get": {
        "operationId": "GovernanceRules_List",
        "tags": [
          "GovernanceRules"
        ],
        "description": "Get a list of all relevant governance rules over a scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GovernanceRuleList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List governance rules by management group scope": {
            "$ref": "./examples/GovernanceRules/ListByManagementGroupGovernanceRules_example.json"
          },
          "List governance rules by security connector scope": {
            "$ref": "./examples/GovernanceRules/ListBySecurityConnectorGovernanceRules_example.json"
          },
          "List governance rules by subscription scope": {
            "$ref": "./examples/GovernanceRules/ListBySubscriptionGovernanceRules_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/governanceRules/{ruleId}": {
      "get": {
        "operationId": "GovernanceRules_Get",
        "tags": [
          "GovernanceRules"
        ],
        "description": "Get a specific governance rule for the requested scope by ruleId",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The governance rule key - unique key for the standard governance rule (GUID)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GovernanceRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a governance rule over management group scope": {
            "$ref": "./examples/GovernanceRules/GetManagementGroupGovernanceRule_example.json"
          },
          "Get a governance rule over security connector scope": {
            "$ref": "./examples/GovernanceRules/GetSecurityConnectorGovernanceRule_example.json"
          },
          "Get a governance rule over subscription scope": {
            "$ref": "./examples/GovernanceRules/GetGovernanceRule_example.json"
          }
        }
      },
      "put": {
        "operationId": "GovernanceRules_CreateOrUpdate",
        "tags": [
          "GovernanceRules"
        ],
        "description": "Creates or updates a governance rule over a given scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The governance rule key - unique key for the standard governance rule (GUID)",
            "required": true,
            "type": "string"
          },
          {
            "name": "governanceRule",
            "in": "body",
            "description": "Governance rule over a given scope",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GovernanceRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GovernanceRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GovernanceRule"
            }
          },
          "201": {
            "description": "Resource 'GovernanceRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GovernanceRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update governance rule over management group scope": {
            "$ref": "./examples/GovernanceRules/PutManagementGroupGovernanceRule_example.json"
          },
          "Create or update governance rule over security connector scope": {
            "$ref": "./examples/GovernanceRules/PutSecurityConnectorGovernanceRule_example.json"
          },
          "Create or update governance rule over subscription scope": {
            "$ref": "./examples/GovernanceRules/PutGovernanceRule_example.json"
          }
        }
      },
      "delete": {
        "operationId": "GovernanceRules_Delete",
        "tags": [
          "GovernanceRules"
        ],
        "description": "Delete a Governance rule over a given scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The governance rule key - unique key for the standard governance rule (GUID)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Governance rule over management group scope": {
            "$ref": "./examples/GovernanceRules/DeleteManagementGroupGovernanceRule_example.json"
          },
          "Delete a Governance rule over security connector scope": {
            "$ref": "./examples/GovernanceRules/DeleteSecurityConnectorGovernanceRule_example.json"
          },
          "Delete a Governance rule over subscription scope": {
            "$ref": "./examples/GovernanceRules/DeleteGovernanceRule_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{scope}/providers/Microsoft.Security/governanceRules/{ruleId}/execute": {
      "post": {
        "operationId": "GovernanceRules_Execute",
        "tags": [
          "GovernanceRules"
        ],
        "description": "Execute a governance rule",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The governance rule key - unique key for the standard governance rule (GUID)",
            "required": true,
            "type": "string"
          },
          {
            "name": "ExecuteGovernanceRuleParams",
            "in": "body",
            "description": "Execute governance rule over a given scope",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExecuteGovernanceRuleParams"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Execute Governance rule over subscription scope": {
            "$ref": "./examples/GovernanceRules/PostGovernanceRule_example.json"
          },
          "Execute governance rule over management group scope": {
            "$ref": "./examples/GovernanceRules/PostManagementGroupGovernanceRule_example.json"
          },
          "Execute governance rule over security connector scope": {
            "$ref": "./examples/GovernanceRules/PostSecurityConnectorGovernanceRule_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{scope}/providers/Microsoft.Security/governanceRules/{ruleId}/operationResults/{operationId}": {
      "get": {
        "operationId": "GovernanceRules_OperationResults",
        "tags": [
          "GovernanceRules"
        ],
        "description": "Get governance rules long run operation result for the requested scope by ruleId and operationId",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the governance rule.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The governance rule key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The governance rule long running operation unique key.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationResult"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Location URL for the execution status"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get governance rules long run operation result over management group": {
            "$ref": "./examples/GovernanceRules/GetManagementGroupGovernanceRuleExecuteStatus_example.json"
          },
          "Get governance rules long run operation result over security connector": {
            "$ref": "./examples/GovernanceRules/GetSecurityConnectorGovernanceRuleExecuteStatus_example.json"
          },
          "Get governance rules long run operation result over subscription": {
            "$ref": "./examples/GovernanceRules/GetGovernanceRuleExecuteStatus_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Common.CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/Common.CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "Common.CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/Common.CloudErrorBody"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/Common.ErrorAdditionalInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "x-ms-external": true
    },
    "Common.ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "Condition": {
      "type": "object",
      "description": "Governance rule's condition",
      "properties": {
        "property": {
          "type": "string",
          "description": "The governance rule Condition's Property, e.g. Severity or AssessmentKey, see examples"
        },
        "value": {
          "type": "string",
          "description": "The governance rule Condition's Value like severity Low, High or assessments keys, see examples"
        },
        "operator": {
          "$ref": "#/definitions/GovernanceRuleConditionOperator",
          "description": "The governance rule Condition's Operator, for example Equals for severity or In for list of assessments, see examples"
        }
      }
    },
    "ExecuteGovernanceRuleParams": {
      "type": "object",
      "description": "Governance rule execution parameters",
      "properties": {
        "override": {
          "type": "boolean",
          "description": "Describe if governance rule should be override"
        }
      }
    },
    "GovernanceAssignment": {
      "type": "object",
      "description": "Governance assignment over a given scope",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GovernanceAssignmentProperties",
          "description": "The properties of a governance assignment",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GovernanceAssignmentAdditionalData": {
      "type": "object",
      "description": "Describe the additional data of governance assignment - optional",
      "properties": {
        "ticketNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Ticket number associated with this governance assignment",
          "minimum": 0
        },
        "ticketLink": {
          "type": "string",
          "description": "Ticket link associated with this governance assignment - for example: https://snow.com"
        },
        "ticketStatus": {
          "type": "string",
          "description": "The ticket status associated with this governance assignment - for example: Active"
        }
      }
    },
    "GovernanceAssignmentProperties": {
      "type": "object",
      "description": "Describes properties of an governance assignment",
      "properties": {
        "owner": {
          "type": "string",
          "description": "The Owner for the governance assignment - e.g. user@contoso.com - see example"
        },
        "remediationDueDate": {
          "type": "string",
          "format": "date-time",
          "description": "The remediation due-date - after this date Secure Score will be affected (in case of  active grace-period)"
        },
        "remediationEta": {
          "$ref": "#/definitions/RemediationEta",
          "description": "The ETA (estimated time of arrival) for remediation (optional), see example"
        },
        "isGracePeriod": {
          "type": "boolean",
          "description": "Defines whether there is a grace period on the governance assignment"
        },
        "governanceEmailNotification": {
          "$ref": "#/definitions/GovernanceEmailNotification",
          "description": "The email notifications settings for the governance rule, states whether to disable notifications for mangers and owners"
        },
        "additionalData": {
          "$ref": "#/definitions/GovernanceAssignmentAdditionalData",
          "description": "The additional data for the governance assignment - e.g. links to ticket (optional), see example"
        }
      },
      "required": [
        "remediationDueDate"
      ]
    },
    "GovernanceAssignmentsList": {
      "type": "object",
      "description": "Page of a governance assignments list",
      "properties": {
        "value": {
          "type": "array",
          "description": "Collection of governance assignments in this page",
          "items": {
            "$ref": "#/definitions/GovernanceAssignment"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page"
        }
      }
    },
    "GovernanceEmailNotification": {
      "type": "object",
      "description": "The governance email weekly notification configuration.",
      "properties": {
        "disableManagerEmailNotification": {
          "type": "boolean",
          "description": "Exclude manager from weekly email notification."
        },
        "disableOwnerEmailNotification": {
          "type": "boolean",
          "description": "Exclude  owner from weekly email notification."
        }
      }
    },
    "GovernanceRule": {
      "type": "object",
      "description": "Governance rule over a given scope",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GovernanceRuleProperties",
          "description": "Properties of a governance rule",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GovernanceRuleConditionOperator": {
      "type": "string",
      "description": "The governance rule Condition's Operator, for example Equals for severity or In for list of assessments, see examples",
      "enum": [
        "Equals",
        "In"
      ],
      "x-ms-enum": {
        "name": "GovernanceRuleConditionOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "Equals",
            "value": "Equals",
            "description": "Checks that the string value of the data defined in Property equals the given value - exact fit"
          },
          {
            "name": "In",
            "value": "In",
            "description": "Checks that the string value of the data defined in Property equals any of the given values (exact fit)"
          }
        ]
      }
    },
    "GovernanceRuleEmailNotification": {
      "type": "object",
      "description": "The governance email weekly notification configuration",
      "properties": {
        "disableManagerEmailNotification": {
          "type": "boolean",
          "description": "Defines whether manager email notifications are disabled"
        },
        "disableOwnerEmailNotification": {
          "type": "boolean",
          "description": "Defines whether owner email notifications are disabled"
        }
      }
    },
    "GovernanceRuleList": {
      "type": "object",
      "description": "Page of a governance rules list",
      "properties": {
        "value": {
          "type": "array",
          "description": "Collection of governance rules in this page",
          "items": {
            "$ref": "#/definitions/GovernanceRule"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page"
        }
      }
    },
    "GovernanceRuleMetadata": {
      "type": "object",
      "description": "The governance rule metadata",
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "Governance rule Created by object id (GUID)",
          "readOnly": true
        },
        "createdOn": {
          "type": "string",
          "format": "date-time",
          "description": "Governance rule creation date",
          "readOnly": true
        },
        "updatedBy": {
          "type": "string",
          "description": "Governance rule last updated by object id (GUID)",
          "readOnly": true
        },
        "updatedOn": {
          "type": "string",
          "format": "date-time",
          "description": "Governance rule last update date",
          "readOnly": true
        }
      }
    },
    "GovernanceRuleOwnerSource": {
      "type": "object",
      "description": "Describe the owner source of governance rule",
      "properties": {
        "type": {
          "$ref": "#/definitions/GovernanceRuleOwnerSourceType",
          "description": "The owner type for the governance rule owner source"
        },
        "value": {
          "type": "string",
          "description": "The source value e.g. tag key like owner name or email address"
        }
      }
    },
    "GovernanceRuleOwnerSourceType": {
      "type": "string",
      "description": "The owner type for the governance rule owner source",
      "enum": [
        "ByTag",
        "Manually"
      ],
      "x-ms-enum": {
        "name": "GovernanceRuleOwnerSourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "ByTag",
            "value": "ByTag",
            "description": "The rule source type defined using resource tag"
          },
          {
            "name": "Manually",
            "value": "Manually",
            "description": "The rule source type defined manually"
          }
        ]
      }
    },
    "GovernanceRuleProperties": {
      "type": "object",
      "description": "Describes properties of an governance rule",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The tenantId (GUID)",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the governance rule"
        },
        "description": {
          "type": "string",
          "description": "Description of the governance rule"
        },
        "remediationTimeframe": {
          "type": "string",
          "description": "Governance rule remediation timeframe - this is the time that will affect on the grace-period duration e.g. 7.00:00:00 - means 7 days",
          "pattern": "^[0-9]+\\.[0-9]{2}:[0-9]{2}:[0-9]{2}$"
        },
        "isGracePeriod": {
          "type": "boolean",
          "description": "Defines whether there is a grace period on the governance rule"
        },
        "rulePriority": {
          "type": "integer",
          "format": "int32",
          "description": "The governance rule priority, priority to the lower number. Rules with the same priority on the same scope will not be allowed",
          "minimum": 0,
          "maximum": 1000
        },
        "isDisabled": {
          "type": "boolean",
          "description": "Defines whether the rule is active/inactive"
        },
        "ruleType": {
          "$ref": "#/definitions/GovernanceRuleType",
          "description": "The rule type of the governance rule, defines the source of the rule e.g. Integrated"
        },
        "sourceResourceType": {
          "$ref": "#/definitions/GovernanceRuleSourceResourceType",
          "description": "The governance rule source, what the rule affects, e.g. Assessments"
        },
        "excludedScopes": {
          "type": "array",
          "description": "Excluded scopes, filter out the descendants of the scope (on management scopes)",
          "items": {
            "type": "string"
          }
        },
        "conditionSets": {
          "type": "array",
          "description": "The governance rule conditionSets - see examples",
          "items": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Condition"
              }
            }
          }
        },
        "includeMemberScopes": {
          "type": "boolean",
          "description": "Defines whether the rule is management scope rule (master connector as a single scope or management scope)"
        },
        "ownerSource": {
          "$ref": "#/definitions/GovernanceRuleOwnerSource",
          "description": "The owner source for the governance rule - e.g. Manually by user@contoso.com - see example"
        },
        "governanceEmailNotification": {
          "$ref": "#/definitions/GovernanceRuleEmailNotification",
          "description": "The email notifications settings for the governance rule, states whether to disable notifications for mangers and owners"
        },
        "metadata": {
          "$ref": "#/definitions/GovernanceRuleMetadata",
          "description": "The governance rule metadata"
        }
      },
      "required": [
        "displayName",
        "rulePriority",
        "ruleType",
        "sourceResourceType",
        "conditionSets",
        "ownerSource"
      ]
    },
    "GovernanceRuleSourceResourceType": {
      "type": "string",
      "description": "The governance rule source, what the rule affects, e.g. Assessments",
      "enum": [
        "Assessments"
      ],
      "x-ms-enum": {
        "name": "GovernanceRuleSourceResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "Assessments",
            "value": "Assessments",
            "description": "The source of the governance rule is assessments"
          }
        ]
      }
    },
    "GovernanceRuleType": {
      "type": "string",
      "description": "The rule type of the governance rule, defines the source of the rule e.g. Integrated",
      "enum": [
        "Integrated",
        "ServiceNow"
      ],
      "x-ms-enum": {
        "name": "GovernanceRuleType",
        "modelAsString": true,
        "values": [
          {
            "name": "Integrated",
            "value": "Integrated",
            "description": "The source of the rule type definition is integrated"
          },
          {
            "name": "ServiceNow",
            "value": "ServiceNow",
            "description": "The source of the rule type definition is ServiceNow"
          }
        ]
      }
    },
    "OperationResult": {
      "type": "object",
      "description": "Long run operation status of governance rule over a given scope",
      "properties": {
        "status": {
          "$ref": "#/definitions/OperationResultStatus",
          "description": "The status of the long run operation result of governance rule",
          "readOnly": true
        }
      }
    },
    "OperationResultStatus": {
      "type": "string",
      "description": "The status of the long run operation result of governance rule",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "OperationResultStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The operation succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The operation failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The operation canceled"
          }
        ]
      }
    },
    "RemediationEta": {
      "type": "object",
      "description": "The ETA (estimated time of arrival) for remediation",
      "properties": {
        "eta": {
          "type": "string",
          "format": "date-time",
          "description": "ETA for remediation."
        },
        "justification": {
          "type": "string",
          "description": "Justification for change of Eta."
        }
      },
      "required": [
        "eta",
        "justification"
      ]
    }
  },
  "parameters": {}
}
