{
  "swagger": "2.0",
  "info": {
    "title": "Workloads Client",
    "description": "The workload monitor Client.",
    "version": "2021-12-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_List",
        "summary": "Gets a list of SAP monitors in the specified subscription.",
        "description": "Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.",
        "x-ms-examples": {
          "List all SAP Monitors in a subscription": {
            "$ref": "./examples/workloadmonitor/monitors_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_ListByResourceGroup",
        "summary": "Gets a list of SAP monitors",
        "description": "Gets a list of SAP monitors in the specified resource group.",
        "x-ms-examples": {
          "List all SAP Monitors in a resource group": {
            "$ref": "./examples/workloadmonitor/monitors_ListByRG.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}": {
      "get": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_Get",
        "summary": "Gets properties of a SAP monitor.",
        "description": "Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/workloadmonitor/monitors_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Creates a SAP monitor.",
        "description": "Creates a SAP monitor for the specified subscription, resource group, and resource name.",
        "x-ms-examples": {
          "Create a SAP Monitor": {
            "$ref": "./examples/workloadmonitor/monitors_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created Monitor",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "201": {
            "description": "Creating Monitor",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a SAP monitor.",
        "description": "Deletes a SAP monitor with the specified subscription, resource group, and monitor name.",
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/workloadmonitor/monitors_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete Monitor",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Deleting Monitor"
          },
          "204": {
            "description": "No Monitor to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Monitors"
        ],
        "operationId": "monitors_Update",
        "summary": "Patches the Tags field of a SAP monitor.",
        "description": "Patches the Tags field of a SAP monitor for the specified subscription, resource group, and monitor name.",
        "x-ms-examples": {
          "Update Tags field of a SAP monitor": {
            "$ref": "./examples/workloadmonitor/monitors_PatchTags.json"
          },
          "Delete Tags field of a SAP monitor": {
            "$ref": "./examples/workloadmonitor/monitors_PatchTags_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/providerInstances": {
      "get": {
        "tags": [
          "ProviderInstances"
        ],
        "operationId": "ProviderInstances_List",
        "summary": "Gets a list of provider instances in the specified SAP monitor.",
        "description": "Gets a list of provider instances in the specified SAP monitor. The operations returns various properties of each provider instances.",
        "x-ms-examples": {
          "List all SAP Monitors providers in a subscription": {
            "$ref": "./examples/workloadmonitor/ProviderInstances_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderInstanceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/providerInstances/{providerInstanceName}": {
      "get": {
        "tags": [
          "ProviderInstances"
        ],
        "operationId": "ProviderInstances_Get",
        "summary": "Gets properties of a provider instance.",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "description": "Gets properties of a provider instance for the specified subscription, resource group, Monitor name, and resource name.",
        "x-ms-examples": {
          "Get properties of a SAP monitor Hana provider": {
            "$ref": "./examples/workloadmonitor/ProviderInstances_Get.json"
          },
          "Get properties of a SAP monitor NetWeaver provider": {
            "$ref": "./examples/workloadmonitor/NetWeaverProviderInstances_Get.json"
          },
          "Get properties of a OS provider": {
            "$ref": "./examples/workloadmonitor/PrometheusOSProviderInstances_Get.json"
          },
          "Get properties of a Db2 provider": {
            "$ref": "./examples/workloadmonitor/Db2ProviderInstances_Get.json"
          },
          "Get properties of a MsSqlServer provider": {
            "$ref": "./examples/workloadmonitor/MsSqlServerProviderInstance_Get.json"
          },
          "Get properties of a PrometheusHaCluster provider": {
            "$ref": "./examples/workloadmonitor/PrometheusHaClusterProviderInstances_Get.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ProviderInstances"
        ],
        "operationId": "ProviderInstances_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Creates a provider instance.",
        "description": "Creates a provider instance for the specified subscription, resource group, Monitor name, and resource name.",
        "x-ms-examples": {
          "Create a SAP Monitor Hana provider": {
            "$ref": "./examples/workloadmonitor/ProviderInstances_Create.json"
          },
          "Create a SAP Monitor NetWeaver provider": {
            "$ref": "./examples/workloadmonitor/NetWeaverProviderInstances_Create.json"
          },
          "Create a OS provider": {
            "$ref": "./examples/workloadmonitor/PrometheusOSProviderInstances_Create.json"
          },
          "Create a Db2 provider": {
            "$ref": "./examples/workloadmonitor/Db2ProviderInstances_Create.json"
          },
          "Create a MsSqlServer provider": {
            "$ref": "./examples/workloadmonitor/MsSqlServerProviderInstance_Create.json"
          },
          "Create a PrometheusHaCluster provider": {
            "$ref": "./examples/workloadmonitor/PrometheusHaClusterProviderInstances_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created provider instance",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "201": {
            "description": "Creating provider instance",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ProviderInstances"
        ],
        "operationId": "ProviderInstances_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a provider instance.",
        "description": "Deletes a provider instance for the specified subscription, resource group, Monitor name, and resource name.",
        "x-ms-examples": {
          "Deletes a SAP monitor provider": {
            "$ref": "./examples/workloadmonitor/ProviderInstances_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted provider instance",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Deleting provider instance"
          },
          "204": {
            "description": "No provider instance to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationsDisplayDefinition": {
      "description": "Defines the workload operation.",
      "required": [
        "description",
        "operation",
        "provider",
        "resource"
      ],
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Defines the workload provider."
        },
        "resource": {
          "type": "string",
          "description": "Defines the workload resource."
        },
        "operation": {
          "type": "string",
          "description": "Defines the workload operation."
        },
        "description": {
          "type": "string",
          "description": "Describes the workload operation."
        }
      }
    },
    "OperationsDefinition": {
      "required": [
        "display",
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation."
        },
        "isDataAction": {
          "type": "boolean",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "origin": {
          "enum": [
            "NotSpecified",
            "User",
            "System"
          ],
          "type": "string",
          "description": "Defines the workload operation origin.",
          "x-ms-enum": {
            "name": "OperationProperties",
            "modelAsString": true
          }
        },
        "display": {
          "description": "Display information of the operation.",
          "allOf": [
            {
              "$ref": "#/definitions/OperationsDisplayDefinition"
            }
          ]
        },
        "actionType": {
          "enum": [
            "NotSpecified",
            "Internal"
          ],
          "x-ms-enum": {
            "name": "WorkloadMonitorActionType",
            "modelAsString": true
          },
          "description": "Defines the action type of workload operation.",
          "type": "string"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Defines the workload operation properties."
        }
      },
      "description": "Properties of an Operation."
    },
    "OperationsContent": {
      "type": "object",
      "description": "Defines the workload operation content.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Operations content.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OperationsDefinition"
        }
      },
      "x-ms-azure-resource": true
    },
    "OperationsDefinitionArrayResponseWithContinuation": {
      "type": "object",
      "description": "Defines the workload operation definition response.",
      "properties": {
        "value": {
          "description": "Defines the workload operation definition response properties.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationsDefinition"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "description": "The URL to get to the next set of results, if there are any.",
          "type": "string"
        }
      }
    },
    "Error": {
      "description": "Standard error object.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Server-defined set of error codes.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Human-readable representation of the error.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Target of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Array of details about specific errors that led to this reported error.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "innerError": {
          "description": "Object containing more specific information than  the current object about the error.",
          "type": "object",
          "properties": {
            "innerError": {
              "$ref": "#/definitions/Error"
            }
          },
          "readOnly": true
        }
      }
    },
    "ManagedRGConfiguration": {
      "description": "Managed resource group configuration",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Managed resource group name"
        }
      }
    },
    "Tags": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags field of the resource."
        }
      },
      "description": "Tags field of the resource."
    },
    "MonitorListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Monitor"
          },
          "description": "The list of SAP monitors."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of SAP monitors."
        }
      },
      "description": "The response from the List SAP monitors operation."
    },
    "Monitor": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MonitorProperties",
          "description": "SAP monitor properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "SAP monitor info on Azure (ARM properties and SAP monitor properties)"
    },
    "MonitorProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "WorkloadMonitorProvisioningState",
            "modelAsString": true
          },
          "description": "State of provisioning of the monitor."
        },
        "errors": {
          "description": "Defines the SAP monitor errors.",
          "allOf": [
            {
              "$ref": "#/definitions/Error"
            }
          ],
          "readOnly": true
        },
        "appLocation": {
          "type": "string",
          "description": "The monitor resources will be deployed in the monitoring region. The subnet region should be same as the monitoring region."
        },
        "routingPreference": {
          "type": "string",
          "description": "Sets the routing preference of the monitor. By default only RFC1918 traffic is routed to the customer VNET.",
          "enum": [
            "Default",
            "RouteAll"
          ],
          "x-ms-enum": {
            "name": "RoutingPreference",
            "modelAsString": true
          }
        },
        "managedResourceGroupConfiguration": {
          "description": "Managed resource group configuration",
          "$ref": "#/definitions/ManagedRGConfiguration"
        },
        "logAnalyticsWorkspaceArmId": {
          "type": "string",
          "description": "The ARM ID of the Log Analytics Workspace that is used for monitoring."
        },
        "monitorSubnet": {
          "type": "string",
          "description": "The subnet which the SAP monitor will be deployed in"
        },
        "msiArmId": {
          "readOnly": true,
          "type": "string",
          "description": "The ARM ID of the MSI used for monitoring."
        }
      },
      "description": "Describes the properties of a SAP monitor."
    },
    "ProviderInstanceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderInstance"
          },
          "description": "The list of provider instances."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of provider instances."
        }
      },
      "description": "The response from the List provider instances operation."
    },
    "ProviderInstance": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProviderInstanceProperties",
          "description": "Provider Instance properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A provider instance associated with monitor."
    },
    "HanaDbProviderInstanceProperties": {
      "description": "Gets or sets the provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "hostname": {
          "description": "Gets or sets the target virtual machine size.",
          "type": "string"
        },
        "dbName": {
          "description": "Gets or sets the hana database name.",
          "type": "string"
        },
        "sqlPort": {
          "description": "Gets or sets the database sql port.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Gets or sets the database instance number.",
          "type": "string"
        },
        "dbUsername": {
          "description": "Gets or sets the database user name.",
          "type": "string"
        },
        "dbPassword": {
          "description": "Gets or sets the database password.",
          "type": "string",
          "x-ms-secret": true
        },
        "dbPasswordUri": {
          "description": "Gets or sets the key vault URI to secret with the database password.",
          "type": "string"
        },
        "dbSslCertificateUri": {
          "description": "Gets or sets the blob URI to SSL certificate for the DB.",
          "type": "string"
        },
        "sslHostNameInCertificate": {
          "description": "Gets or sets the hostname(s) in the SSL certificate.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "SapHana"
    },
    "SapNetWeaverProviderInstanceProperties": {
      "description": "Gets or sets the provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "sapSid": {
          "description": "Gets or sets the SAP System Identifier",
          "type": "string"
        },
        "sapHostname": {
          "description": "Gets or sets the target virtual machine IP Address/FQDN.",
          "type": "string"
        },
        "sapInstanceNr": {
          "description": "Gets or sets the instance number of SAP NetWeaver.",
          "type": "string"
        },
        "sapHostFileEntries": {
          "description": "Gets or sets the list of HostFile Entries",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sapUsername": {
          "description": "Gets or sets the SAP user name.",
          "type": "string"
        },
        "sapPassword": {
          "description": "Sets the SAP password.",
          "type": "string",
          "x-ms-secret": true
        },
        "sapPasswordUri": {
          "description": "Gets or sets the key vault URI to secret with the SAP password.",
          "type": "string"
        },
        "sapClientId": {
          "description": "Gets or sets the SAP Client ID.",
          "type": "string"
        },
        "sapPortNumber": {
          "description": "Gets or sets the SAP HTTP port number.",
          "type": "string"
        },
        "sapSslCertificateUri": {
          "description": "Gets or sets the blob URI to SSL certificate for the SAP system.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "SapNetWeaver"
    },
    "PrometheusOSProviderInstanceProperties": {
      "description": "Gets or sets the PrometheusOS provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "prometheusUrl": {
          "description": "URL of the Node Exporter endpoint",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "PrometheusOS"
    },
    "DB2ProviderInstanceProperties": {
      "description": "Gets or sets the DB2 provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "hostname": {
          "description": "Gets or sets the target virtual machine name.",
          "type": "string"
        },
        "dbName": {
          "description": "Gets or sets the db2 database name.",
          "type": "string"
        },
        "dbPort": {
          "description": "Gets or sets the db2 database sql port.",
          "type": "string"
        },
        "dbUsername": {
          "description": "Gets or sets the db2 database user name.",
          "type": "string"
        },
        "dbPassword": {
          "description": "Gets or sets the db2 database password.",
          "type": "string",
          "x-ms-secret": true
        },
        "dbPasswordUri": {
          "description": "Gets or sets the key vault URI to secret with the database password.",
          "type": "string"
        },
        "sapSid": {
          "description": "Gets or sets the SAP System Identifier",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "Db2"
    },
    "PrometheusHaClusterProviderInstanceProperties": {
      "description": "Gets or sets the PrometheusHaCluster provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "prometheusUrl": {
          "description": "URL of the Node Exporter endpoint.",
          "type": "string"
        },
        "hostname": {
          "description": "Gets or sets the target machine name.",
          "type": "string"
        },
        "sid": {
          "description": "Gets or sets the cluster sid.",
          "type": "string"
        },
        "clusterName": {
          "description": "Gets or sets the clusterName.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "PrometheusHaCluster"
    },
    "MsSqlServerProviderInstanceProperties": {
      "description": "Gets or sets the SQL server provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      ],
      "properties": {
        "hostname": {
          "description": "Gets or sets the SQL server host name.",
          "type": "string"
        },
        "dbPort": {
          "description": "Gets or sets the database sql port.",
          "type": "string"
        },
        "dbUsername": {
          "description": "Gets or sets the database user name.",
          "type": "string"
        },
        "dbPassword": {
          "description": "Gets or sets the database password.",
          "type": "string",
          "x-ms-secret": true
        },
        "dbPasswordUri": {
          "description": "Gets or sets the key vault URI to secret with the database password.",
          "type": "string"
        },
        "sapSid": {
          "description": "Gets or sets the SAP System Identifier",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "MsSqlServer"
    },
    "ProviderSpecificProperties": {
      "description": "Gets or sets the provider specific properties.",
      "type": "object",
      "required": [
        "providerType"
      ],
      "properties": {
        "providerType": {
          "description": "The provider type. For example, the value can be SapHana.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "providerType"
    },
    "ProviderInstanceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "WorkloadMonitorProvisioningState",
            "modelAsString": true
          },
          "description": "State of provisioning of the provider instance"
        },
        "errors": {
          "description": "Defines the provider instance errors.",
          "allOf": [
            {
              "$ref": "#/definitions/Error"
            }
          ],
          "readOnly": true
        },
        "providerSettings": {
          "description": "Defines the provider instance errors.",
          "$ref": "#/definitions/ProviderSpecificProperties"
        }
      },
      "description": "Describes the properties of a provider instance."
    }
  },
  "parameters": {
    "monitorNameParameter": {
      "name": "monitorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the SAP monitor resource.",
      "x-ms-parameter-location": "method"
    },
    "ProviderInstanceNameParameter": {
      "name": "providerInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the provider instance.",
      "x-ms-parameter-location": "method"
    },
    "TagsParameter": {
      "name": "tagsParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Tags"
      },
      "description": "Request body that only contains the new Tags field",
      "x-ms-parameter-location": "method"
    },
    "MonitorParameter": {
      "name": "MonitorParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Monitor"
      },
      "description": "Request body representing a SAP Monitor",
      "x-ms-parameter-location": "method"
    },
    "ProviderInstanceParameter": {
      "name": "providerInstanceParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ProviderInstance"
      },
      "description": "Request body representing a provider instance",
      "x-ms-parameter-location": "method"
    }
  }
}
