{
  "swagger": "2.0",
  "info": {
    "version": "2021-12-01-preview",
    "title": "Workloads Client",
    "description": "Workloads client provides access to various workload operations"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getSizingRecommendations": {
      "post": {
        "tags": [
          "SAPRecommendations"
        ],
        "description": "Get SAP sizing recommendations by providing input SAPS for application tier and memory required for database tier",
        "operationId": "SAPSizingRecommendations",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "SAPSizingRecommendation",
            "description": "SAP Sizing Recommendation Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SAPSizingRecommendationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SAP Sizing Recommendation Result.",
            "schema": {
              "$ref": "#/definitions/SAPSizingRecommendationResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPSizingRecommendations_S4HANA_Distributed": {
            "$ref": "./examples/sapvirtualinstances/SAPSizingRecommendations_S4HANA_Distributed.json"
          },
          "SAPSizingRecommendations_S4HANA_SingleServer": {
            "$ref": "./examples/sapvirtualinstances/SAPSizingRecommendations_S4HANA_SingleServer.json"
          },
          "SAPSizingRecommendations_S4HANA_DistributedHA_AvSet": {
            "$ref": "./examples/sapvirtualinstances/SAPSizingRecommendations_S4HANA_HA_AvSet.json"
          },
          "SAPSizingRecommendations_S4HANA_DistributedHA_AvZone": {
            "$ref": "./examples/sapvirtualinstances/SAPSizingRecommendations_S4HANA_HA_AvZone.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getSapSupportedSku": {
      "post": {
        "tags": [
          "SAPSupportedSku"
        ],
        "description": "Get a list of SAP supported SKUs for ASCS, Application and Database tier.",
        "operationId": "SAPSupportedSku",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "SAPSupportedSku",
            "description": "SAP Supported SKU Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SAPSupportedSkusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SAP Supported SKU Result.",
            "schema": {
              "$ref": "#/definitions/SAPSupportedResourceSkusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPSupportedSkus_Distributed": {
            "$ref": "./examples/sapvirtualinstances/SAPSupportedSkus_Distributed.json"
          },
          "SAPSupportedSkus_SingleServer": {
            "$ref": "./examples/sapvirtualinstances/SAPSupportedSkus_SingleServer.json"
          },
          "SAPSupportedSkus_DistributedHA_AvSet": {
            "$ref": "./examples/sapvirtualinstances/SAPSupportedSkus_DistributedHA_AvSet.json"
          },
          "SAPSupportedSkus_DistributedHA_AvZone": {
            "$ref": "./examples/sapvirtualinstances/SAPSupportedSkus_DistributedHA_AvZone.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getDiskConfigurations": {
      "post": {
        "tags": [
          "SAPDiskConfigurations"
        ],
        "description": "Get the SAP Disk Configuration Layout prod/non-prod SAP System.",
        "operationId": "SAPDiskConfigurations",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "SAPDiskConfigurations",
            "description": "SAP Disk Configurations Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SAPDiskConfigurationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SAP Disk Configurations Result.",
            "schema": {
              "$ref": "#/definitions/SAPDiskConfigurationsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPDiskConfigurations_Prod": {
            "$ref": "./examples/sapvirtualinstances/SAPDiskConfigurations_Prod.json"
          },
          "SAPDiskConfigurations_NonProd": {
            "$ref": "./examples/sapvirtualinstances/SAPDiskConfigurations_NonProd.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getAvailabilityZoneDetails": {
      "post": {
        "tags": [
          "SAPAvailabilityZoneDetails"
        ],
        "description": "Get the recommended SAP Availability Zone Pair Details for your region.",
        "operationId": "SAPAvailabilityZoneDetails",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "SAPAvailabilityZoneDetails",
            "description": "SAP Availability Zone Details Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SAPAvailabilityZoneDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SAP Availability Zone Details Result.",
            "schema": {
              "$ref": "#/definitions/SAPAvailabilityZoneDetailsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPAvailabilityZoneDetails_eastus": {
            "$ref": "./examples/sapvirtualinstances/SAPAvailabilityZoneDetails_eastus.json"
          },
          "SAPAvailabilityZoneDetails_northeurope": {
            "$ref": "./examples/sapvirtualinstances/SAPAvailabilityZoneDetails_northeurope.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}": {
      "put": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Register existing SAP system as Virtual Instance for SAP solutions.": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Create_Discover.json"
          },
          "Create Infrastructure with OS configuration for Single Server System (Recommended)": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_SingleServer.json"
          },
          "Create Infrastructure with OS configuration for Distributed System (Recommended)": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_Distributed.json"
          },
          "Create Infrastructure with OS configuration for HA System with Availability Set (Recommended)": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_HA_AvSet.json"
          },
          "Create Infrastructure with OS configuration for HA System with Availability Zone (Recommended)": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Create_WithOSConfig_HA_AvZone.json"
          },
          "Create Infrastructure only for Distributed System": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Create_Distributed.json"
          },
          "Create Infrastructure only for HA System with Availability Set": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Create_HA_AvSet.json"
          },
          "Create Infrastructure only for HA System with Availability Zone": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Create_HA_AvZone.json"
          },
          "Create Infrastructure only for Single Server System": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Create_SingleServer.json"
          },
          "Install SAP Software on Single Server System": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Install_SingleServer.json"
          },
          "Install SAP Software on Distributed System": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Install_Distributed.json"
          }
        },
        "description": "Creates a Virtual Instance for SAP solutions (VIS) resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "description": "Virtual Instance for SAP solutions resource request body.",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the Virtual Instance for SAP solutions resource created.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "200": {
            "description": "Describes the Virtual Instance for SAP solutions resource which is created successfully.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Get",
        "x-ms-examples": {
          "SAPVirtualInstances_Get": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Get.json"
          }
        },
        "description": "Gets a Virtual Instance for SAP solutions resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the Virtual Instance for SAP solutions resource",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Update",
        "x-ms-examples": {
          "SAPVirtualInstances_Update": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Update.json"
          }
        },
        "description": "Updates a Virtual Instance for SAP solutions resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request body to update a Virtual Instance for SAP solutions resource.",
            "schema": {
              "$ref": "#/definitions/UpdateSAPVirtualInstanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the Virtual Instance for SAP solutions resource which is successfully updated.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPVirtualInstances_Delete": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Delete.json"
          }
        },
        "description": "Deletes a Virtual Instance for SAP solutions resource and its child resources, that is the associated Central Services Instance, Application Server Instances and Database Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances": {
      "get": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_ListByResourceGroup",
        "x-ms-examples": {
          "SAPVirtualInstances_ListByResourceGroup": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Gets all Virtual Instances for SAP solutions resources in a Resource Group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all Virtual Instances for SAP solutions resources.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/sapVirtualInstances": {
      "get": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_ListBySubscription",
        "x-ms-examples": {
          "SAPVirtualInstances_ListBySubscription": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Gets all Virtual Instances for SAP solutions resources in a Subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all Virtual Instances for SAP solutions resources in the Subscription.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances/{centralInstanceName}": {
      "get": {
        "tags": [
          "SAPCentralInstances"
        ],
        "operationId": "SAPCentralInstances_Get",
        "x-ms-examples": {
          "SAPCentralInstances_Get": {
            "$ref": "./examples/sapvirtualinstances/SAPCentralInstances_Get.json"
          }
        },
        "description": "Gets the SAP Central Services Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/CentralInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the SAP Central Services Instance resource.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SAPCentralInstances"
        ],
        "operationId": "SAPCentralInstances_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPCentralInstances_Create": {
            "$ref": "./examples/sapvirtualinstances/SAPCentralInstances_Create.json"
          }
        },
        "description": "Creates the SAP Central Services Instance resource. <br><br>This will be used by service only. PUT operation on this resource by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/CentralInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP Central Services Instance request body.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the SAP Central Services Instance resource created.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "200": {
            "description": "Describes the SAP Central Services Instance resource.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SAPCentralInstances"
        ],
        "operationId": "SAPCentralInstances_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPCentralInstances_Update": {
            "$ref": "./examples/sapvirtualinstances/SAPCentralInstances_Update.json"
          }
        },
        "description": "Updates the SAP Central Services Instance resource. <br><br>This can be used to update tags on the resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/CentralInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP Central Services Instance resource request body.",
            "schema": {
              "$ref": "#/definitions/UpdateSAPCentralInstanceRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the SAP Central Services Instance resource created.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "200": {
            "description": "Describes the SAP Central Services Instance resource created.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SAPCentralInstances"
        ],
        "operationId": "SAPCentralInstances_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPCentralInstances_Delete": {
            "$ref": "./examples/sapvirtualinstances/SAPCentralInstances_Delete.json"
          }
        },
        "description": "Deletes the SAP Central Services Instance resource. <br><br>This will be used by service only. Delete operation on this resource by end user will return a Bad Request error. You can delete the parent resource, which is the Virtual Instance for SAP solutions resource, using the delete operation on it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/CentralInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances": {
      "get": {
        "tags": [
          "SAPCentralInstances"
        ],
        "operationId": "SAPCentralInstances_List",
        "x-ms-examples": {
          "SAPCentralInstances_List": {
            "$ref": "./examples/sapvirtualinstances/SAPCentralInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Lists the SAP Central Services Instance resource for the given Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the SAP Central Services Instance resource.",
            "schema": {
              "$ref": "#/definitions/SAPCentralInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}": {
      "get": {
        "tags": [
          "SAPDatabaseInstances"
        ],
        "operationId": "SAPDatabaseInstances_Get",
        "x-ms-examples": {
          "SAPDatabaseInstances_Get": {
            "$ref": "./examples/sapvirtualinstances/SAPDatabaseInstances_Get.json"
          }
        },
        "description": "Gets the SAP Database Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the Database resource associated with the SAP system.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SAPDatabaseInstances"
        ],
        "operationId": "SAPDatabaseInstances_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPDatabaseInstances_Create": {
            "$ref": "./examples/sapvirtualinstances/SAPDatabaseInstances_Create.json"
          }
        },
        "description": "Creates the Database resource corresponding to the Virtual Instance for SAP solutions resource. <br><br>This will be used by service only. PUT by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request body of Database resource of a SAP system.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the Database resource of the SAP system.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "200": {
            "description": "Describes the Database resource of the SAP system.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SAPDatabaseInstances"
        ],
        "operationId": "SAPDatabaseInstances_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPDatabaseInstances_Update": {
            "$ref": "./examples/sapvirtualinstances/SAPDatabaseInstances_Update.json"
          }
        },
        "description": "Updates the Database resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Database resource update request body.",
            "schema": {
              "$ref": "#/definitions/UpdateSAPDatabaseInstanceRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the Database resource of the SAP system.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "200": {
            "description": "Describes the Database resource of the SAP system.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SAPDatabaseInstances"
        ],
        "operationId": "SAPDatabaseInstances_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPDatabaseInstances_Delete": {
            "$ref": "./examples/sapvirtualinstances/SAPDatabaseInstances_Delete.json"
          }
        },
        "description": "Deletes the Database resource corresponding to a Virtual Instance for SAP solutions resource. <br><br>This will be used by service only. Delete by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances": {
      "get": {
        "tags": [
          "SAPDatabaseInstances"
        ],
        "operationId": "SAPDatabaseInstances_List",
        "x-ms-examples": {
          "SAPDatabaseInstances_List": {
            "$ref": "./examples/sapvirtualinstances/SAPDatabaseInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Lists the Database resources associated with a Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the Database resource corresponding to a Virtual Instance for SAP solutions resource.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}": {
      "get": {
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "operationId": "SAPApplicationServerInstances_Get",
        "x-ms-examples": {
          "SAPApplicationServerInstances_Get": {
            "$ref": "./examples/sapvirtualinstances/SAPApplicationServerInstances_Get.json"
          }
        },
        "description": "Gets the SAP Application Server Instance corresponding to the Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/SAPApplicationInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the SAP Application Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "operationId": "SAPApplicationServerInstances_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPApplicationServerInstances_Create": {
            "$ref": "./examples/sapvirtualinstances/SAPApplicationServerInstances_Create.json"
          }
        },
        "description": "Puts the SAP Application Server Instance resource. <br><br>This will be used by service only. PUT by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/SAPApplicationInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP Application Server Instance resource request body.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the SAP Application Server Instance resource.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "200": {
            "description": "Describes the SAP Application Server Instance resource.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "operationId": "SAPApplicationServerInstances_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPApplicationServerInstances_Update": {
            "$ref": "./examples/sapvirtualinstances/SAPApplicationServerInstances_Update.json"
          }
        },
        "description": "Puts the SAP Application Server Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/SAPApplicationInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP Application Server Instance resource request body.",
            "schema": {
              "$ref": "#/definitions/UpdateSAPApplicationInstanceRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the SAP Application Server Instance resource.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "200": {
            "description": "Describes the SAP Application Server Instance resource.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "operationId": "SAPApplicationServerInstances_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPApplicationServerInstances_Delete": {
            "$ref": "./examples/sapvirtualinstances/SAPApplicationServerInstances_Delete.json"
          }
        },
        "description": "Deletes the SAP Application Server Instance resource. <br><br>This operation will be used by service only. Delete by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/SAPApplicationInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances": {
      "get": {
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "operationId": "SAPApplicationServerInstances_List",
        "x-ms-examples": {
          "SAPApplicationServerInstances_List": {
            "$ref": "./examples/sapvirtualinstances/SAPApplicationServerInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Lists the SAP Application Server Instance resources for a given Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of SAP Application Server Instance resources.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/start": {
      "post": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Start",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPVirtualInstances_Start": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Start.json"
          }
        },
        "description": "Starts the SAP application, that is the Central Services instance and Application server instances.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/stop": {
      "post": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Stop",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPVirtualInstances_Stop": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Stop.json"
          }
        },
        "description": "Stops the SAP Application, that is the Application server instances and Central Services instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The Virtual Instance for SAP solutions resource stop request body.",
            "schema": {
              "$ref": "#/definitions/StopRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "HealthState": {
      "description": "Defines the health of SAP Instances.",
      "enum": [
        "Unknown",
        "Healthy",
        "Unhealthy",
        "Degraded"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPHealthState",
        "modelAsString": true
      }
    },
    "DeploymentType": {
      "description": "The type of SAP deployment, single server or Three tier.",
      "enum": [
        "SingleServer",
        "ThreeTier"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPDeploymentType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "SAPSoftwareInstallationType": {
      "description": "The SAP software installation Type.",
      "enum": [
        "ServiceInitiated",
        "SAPInstallWithoutOSConfig"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPSoftwareInstallationType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "HighAvailabilityType": {
      "description": "The high availability Type. AvailabilitySet guarantees 99.95% availability. Availability Zone guarantees 99.99% availability.",
      "enum": [
        "AvailabilitySet",
        "AvailabilityZone"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPHighAvailabilityType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "DatabaseScaleMethod": {
      "description": "The database scale method.",
      "enum": [
        "ScaleUp"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPDatabaseScaleMethod",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "ConfigurationType": {
      "description": "The configuration Type.",
      "enum": [
        "Deployment",
        "Discovery",
        "DeploymentWithOSConfig"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPConfigurationType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "SAPVirtualInstanceStatus": {
      "description": "Defines the SAP Instance status.",
      "enum": [
        "Starting",
        "Running",
        "Stopping",
        "Offline",
        "PartiallyRunning",
        "Unavailable"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPVirtualInstanceStatus",
        "modelAsString": true
      }
    },
    "SAPVirtualInstanceState": {
      "description": "Defines the Virtual Instance for SAP state.",
      "enum": [
        "InfrastructureDeploymentPending",
        "InfrastructureDeploymentInProgress",
        "InfrastructureDeploymentFailed",
        "SoftwareInstallationPending",
        "SoftwareInstallationInProgress",
        "SoftwareInstallationFailed",
        "DiscoveryPending",
        "DiscoveryInProgress",
        "DiscoveryFailed",
        "RegistrationComplete"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPVirtualInstanceState",
        "modelAsString": true
      }
    },
    "EnvironmentType": {
      "description": "Defines the environment type - Production/Non Production.",
      "enum": [
        "NonProd",
        "Prod"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPEnvironmentType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "CentralServerVirtualMachineType": {
      "description": "Defines the type of central server VM.",
      "enum": [
        "Primary",
        "Secondary",
        "Unknown",
        "ASCS",
        "ERSInactive",
        "ERS",
        "Standby"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "CentralServerVirtualMachineType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "read"
      ]
    },
    "SAPDatabaseType": {
      "description": "Defines the supported SAP Database types.",
      "enum": [
        "HANA",
        "DB2"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPDatabaseType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "SAPProductType": {
      "description": "Defines the SAP Product type.",
      "enum": [
        "ECC",
        "S4HANA",
        "Other"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPProductType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "EnqueueReplicationServerType": {
      "description": "Defines the type of Enqueue Replication Server.",
      "enum": [
        "EnqueueReplicator1",
        "EnqueueReplicator2"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "EnqueueReplicationServerType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "read"
      ]
    },
    "ProvisioningState": {
      "description": "Defines the provisioning states.",
      "enum": [
        "Succeeded",
        "Updating",
        "Creating",
        "Failed",
        "Deleting"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "SapVirtualInstanceProvisioningState",
        "modelAsString": true
      }
    },
    "SAPVirtualInstanceError": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The Virtual Instance for SAP error body.",
          "$ref": "#/definitions/ErrorDefinition"
        }
      },
      "description": "An error response from the Virtual Instance for SAP Workload service."
    },
    "UpdateSAPVirtualInstanceRequest": {
      "description": "Defines the request body for updating Virtual Instance for SAP.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Gets or sets the Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "./commonTypes.json#/definitions/UserAssignedServiceIdentity"
        }
      }
    },
    "UpdateSAPApplicationInstanceRequest": {
      "description": "Defines the request body for updating SAP Application Instance.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Gets or sets the Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpdateSAPDatabaseInstanceRequest": {
      "description": "Defines the request body for updating SAP Database Instance.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Gets or sets the Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpdateSAPCentralInstanceRequest": {
      "description": "Defines the request body for updating SAP Central Instance.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Gets or sets the Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ImageReference": {
      "type": "object",
      "properties": {
        "publisher": {
          "type": "string",
          "description": "The image publisher."
        },
        "offer": {
          "type": "string",
          "description": "Specifies the offer of the platform image or marketplace image used to create the virtual machine."
        },
        "sku": {
          "type": "string",
          "description": "The image SKU."
        },
        "version": {
          "type": "string",
          "description": "Specifies the version of the platform image or marketplace image used to create the virtual machine. The allowed formats are Major.Minor.Build or 'latest'. Major, Minor, and Build are decimal numbers. Specify 'latest' to use the latest version of an image available at deploy time. Even if you use 'latest', the VM image will not automatically update after deploy time even if a new version becomes available."
        },
        "exactVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies in decimal numbers, the version of platform image or marketplace image used to create the virtual machine. This readonly field differs from 'version', only if the value specified in 'version' field is 'latest'."
        },
        "sharedGalleryImageId": {
          "type": "string",
          "description": "Specified the shared gallery image unique id for vm deployment. This can be fetched from shared gallery image GET call."
        }
      },
      "description": "Specifies information about the image to use. You can specify information about platform images, marketplace images, or virtual machine images. This element is required when you want to use a platform image, marketplace image, or virtual machine image, but is not used in other creation operations. NOTE: Image reference publisher and offer can only be set when you create the scale set."
    },
    "WindowsConfiguration": {
      "type": "object",
      "x-ms-discriminator-value": "Windows",
      "allOf": [
        {
          "$ref": "#/definitions/OSConfiguration"
        }
      ],
      "properties": {},
      "description": "Specifies Windows operating system settings on the virtual machine."
    },
    "SshPublicKey": {
      "type": "object",
      "properties": {
        "keyData": {
          "type": "string",
          "description": "SSH public key certificate used to authenticate with the VM through ssh. The key needs to be at least 2048-bit and in ssh-rsa format. <br><br> For creating ssh keys, see [Create SSH keys on Linux and Mac for Linux VMs in Azure](https://docs.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed)."
        }
      },
      "description": "Contains information about SSH certificate public key and the path on the Linux VM where the public key is placed."
    },
    "SshConfiguration": {
      "type": "object",
      "properties": {
        "publicKeys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SshPublicKey"
          },
          "description": "The list of SSH public keys used to authenticate with linux based VMs.",
          "x-ms-identifiers": []
        }
      },
      "description": "SSH configuration for Linux based VMs running on Azure"
    },
    "LinuxConfiguration": {
      "type": "object",
      "x-ms-discriminator-value": "Linux",
      "allOf": [
        {
          "$ref": "#/definitions/OSConfiguration"
        }
      ],
      "properties": {
        "disablePasswordAuthentication": {
          "type": "boolean",
          "description": "Specifies whether password authentication should be disabled."
        },
        "ssh": {
          "$ref": "#/definitions/SshConfiguration",
          "description": "Specifies the ssh key configuration for a Linux OS. (This property is deprecated, please use 'sshKeyPair' instead)"
        },
        "sshKeyPair": {
          "$ref": "#/definitions/SshKeyPair",
          "description": "The SSH Key-pair used to authenticate with the VM's."
        }
      },
      "description": "Specifies the Linux operating system settings on the virtual machine. <br><br>For a list of supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/linux/endorsed-distros)."
    },
    "OSConfiguration": {
      "description": "Defines the OS configuration.",
      "type": "object",
      "required": [
        "osType"
      ],
      "properties": {
        "osType": {
          "description": "The OS Type",
          "enum": [
            "Linux",
            "Windows"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "OSType",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "osType"
    },
    "OSProfile": {
      "type": "object",
      "properties": {
        "adminUsername": {
          "type": "string",
          "description": "Specifies the name of the administrator account. <br><br> This property cannot be updated after the VM is created. <br><br> **Windows-only restriction:** Cannot end in \".\" <br><br> **Disallowed values:** \"administrator\", \"admin\", \"user\", \"user1\", \"test\", \"user2\", \"test1\", \"user3\", \"admin1\", \"1\", \"123\", \"a\", \"actuser\", \"adm\", \"admin2\", \"aspnet\", \"backup\", \"console\", \"david\", \"guest\", \"john\", \"owner\", \"root\", \"server\", \"sql\", \"support\", \"support_388945a0\", \"sys\", \"test2\", \"test3\", \"user4\", \"user5\". <br><br> **Minimum-length (Linux):** 1  character <br><br> **Max-length (Linux):** 64 characters <br><br> **Max-length (Windows):** 20 characters."
        },
        "adminPassword": {
          "type": "string",
          "x-ms-secret": true,
          "description": "Specifies the password of the administrator account. <br><br> **Minimum-length (Windows):** 8 characters <br><br> **Minimum-length (Linux):** 6 characters <br><br> **Max-length (Windows):** 123 characters <br><br> **Max-length (Linux):** 72 characters <br><br> **Complexity requirements:** 3 out of 4 conditions below need to be fulfilled <br> Has lower characters <br>Has upper characters <br> Has a digit <br> Has a special character (Regex match [\\W_]) <br><br> **Disallowed values:** \"abc@123\", \"P@$$w0rd\", \"P@ssw0rd\", \"P@ssword123\", \"Pa$$word\", \"pass@word1\", \"Password!\", \"Password1\", \"Password22\", \"iloveyou!\" <br><br> For resetting the password, see [How to reset the Remote Desktop service or its login password in a Windows VM](https://docs.microsoft.com/troubleshoot/azure/virtual-machines/reset-rdp) <br><br> For resetting root password, see [Manage users, SSH, and check or repair disks on Azure Linux VMs using the VMAccess Extension](https://docs.microsoft.com/troubleshoot/azure/virtual-machines/troubleshoot-ssh-connection)"
        },
        "osConfiguration": {
          "$ref": "#/definitions/OSConfiguration",
          "description": "Specifies Windows operating system settings on the virtual machine."
        }
      },
      "description": "Specifies the operating system settings for the virtual machine. Some of the settings cannot be changed once VM is provisioned."
    },
    "SingleServerRecommendationResult": {
      "x-ms-discriminator-value": "SingleServer",
      "description": "The recommended configuration for a single server SAP system.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SAPSizingRecommendationResult"
        }
      ],
      "properties": {
        "vmSku": {
          "description": "The recommended VM SKU for single server.",
          "type": "string"
        }
      }
    },
    "ThreeTierRecommendationResult": {
      "x-ms-discriminator-value": "ThreeTier",
      "description": "The recommended configuration for a three tier SAP system.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SAPSizingRecommendationResult"
        }
      ],
      "properties": {
        "dbVmSku": {
          "description": "The database VM SKU.",
          "type": "string"
        },
        "databaseInstanceCount": {
          "description": "The database server instance count.",
          "type": "integer",
          "format": "int64"
        },
        "centralServerVmSku": {
          "description": "The central server VM SKU.",
          "type": "string"
        },
        "centralServerInstanceCount": {
          "description": "The central server instance count.",
          "type": "integer",
          "format": "int64"
        },
        "applicationServerVmSku": {
          "description": "The application server VM SKU.",
          "type": "string"
        },
        "applicationServerInstanceCount": {
          "description": "The application server instance count.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SAPSizingRecommendationRequest": {
      "description": "The SAP Sizing Recommendation request.",
      "type": "object",
      "properties": {
        "appLocation": {
          "type": "string",
          "description": "The geo-location where the resource is to be created."
        },
        "environment": {
          "$ref": "#/definitions/EnvironmentType"
        },
        "sapProduct": {
          "$ref": "#/definitions/SAPProductType"
        },
        "deploymentType": {
          "description": "The deployment type. Eg: SingleServer/ThreeTier",
          "$ref": "#/definitions/DeploymentType"
        },
        "saps": {
          "description": "The SAP Application Performance Standard measurement.",
          "type": "integer",
          "format": "int64"
        },
        "dbMemory": {
          "description": "The database memory configuration.",
          "type": "integer",
          "format": "int64"
        },
        "databaseType": {
          "description": "The database type.",
          "$ref": "#/definitions/SAPDatabaseType"
        },
        "dbScaleMethod": {
          "description": "The DB scale method.",
          "$ref": "#/definitions/DatabaseScaleMethod"
        },
        "highAvailabilityType": {
          "description": "The high availability type.",
          "$ref": "#/definitions/HighAvailabilityType"
        }
      },
      "required": [
        "appLocation",
        "environment",
        "sapProduct",
        "deploymentType",
        "saps",
        "dbMemory",
        "databaseType"
      ]
    },
    "SAPSizingRecommendationResult": {
      "description": "The SAP sizing recommendation result.",
      "type": "object",
      "required": [
        "deploymentType"
      ],
      "properties": {
        "deploymentType": {
          "$ref": "#/definitions/DeploymentType"
        }
      },
      "discriminator": "deploymentType"
    },
    "SAPSupportedSkusRequest": {
      "description": "The SAP request to get list of supported SKUs.",
      "type": "object",
      "properties": {
        "appLocation": {
          "type": "string",
          "description": "The geo-location where the resource is to be created."
        },
        "environment": {
          "$ref": "#/definitions/EnvironmentType"
        },
        "sapProduct": {
          "$ref": "#/definitions/SAPProductType"
        },
        "deploymentType": {
          "description": "The deployment type. Eg: SingleServer/ThreeTier",
          "$ref": "#/definitions/DeploymentType"
        },
        "databaseType": {
          "description": "The database type. Eg: HANA, DB2, etc",
          "$ref": "#/definitions/SAPDatabaseType"
        },
        "highAvailabilityType": {
          "description": "The high availability type.",
          "$ref": "#/definitions/HighAvailabilityType"
        }
      },
      "required": [
        "appLocation",
        "environment",
        "sapProduct",
        "databaseType",
        "deploymentType"
      ]
    },
    "SAPSupportedSku": {
      "description": "The SAP supported SKU.",
      "type": "object",
      "properties": {
        "vmSku": {
          "type": "string",
          "description": "The VM Sku."
        },
        "isAppServerCertified": {
          "description": "True if the Sku is certified for App server in the SAP system.",
          "type": "boolean"
        },
        "isDatabaseCertified": {
          "description": "True if the Sku is certified for Database server in the SAP system.",
          "type": "boolean"
        }
      }
    },
    "SAPSupportedResourceSkusResult": {
      "description": "The list of supported SKUs for different resources which are part of SAP deployment.",
      "type": "object",
      "properties": {
        "supportedSkus": {
          "description": "Gets the list of SAP supported SKUs.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SAPSupportedSku"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SAPDiskConfigurationsRequest": {
      "description": "The SAP request to get list of disk configurations.",
      "type": "object",
      "properties": {
        "appLocation": {
          "type": "string",
          "description": "The geo-location where the SAP resources will be created."
        },
        "environment": {
          "$ref": "#/definitions/EnvironmentType"
        },
        "sapProduct": {
          "$ref": "#/definitions/SAPProductType"
        },
        "databaseType": {
          "description": "The database type. Eg: HANA, DB2, etc",
          "$ref": "#/definitions/SAPDatabaseType"
        },
        "deploymentType": {
          "description": "The deployment type. Eg: SingleServer/ThreeTier",
          "$ref": "#/definitions/DeploymentType"
        },
        "dbVmSku": {
          "description": "The VM SKU for database instance.",
          "type": "string"
        }
      },
      "required": [
        "appLocation",
        "environment",
        "sapProduct",
        "databaseType",
        "deploymentType",
        "dbVmSku"
      ]
    },
    "SAPDiskConfiguration": {
      "description": "The SAP Disk Configuration.",
      "type": "object",
      "properties": {
        "volume": {
          "type": "string",
          "description": "The volume name."
        },
        "diskType": {
          "type": "string",
          "description": "The disk type."
        },
        "diskCount": {
          "description": "The disk count.",
          "type": "integer",
          "format": "int64"
        },
        "diskSizeGB": {
          "description": "The disk size in GB.",
          "type": "integer",
          "format": "int64"
        },
        "diskIopsReadWrite": {
          "description": "The disk Iops.",
          "type": "integer",
          "format": "int64"
        },
        "diskMBpsReadWrite": {
          "description": "The disk provisioned throughput in MBps.",
          "type": "integer",
          "format": "int64"
        },
        "diskStorageType": {
          "description": "The disk storage type",
          "type": "string"
        }
      }
    },
    "SAPDiskConfigurationsResult": {
      "description": "The list of disk configuration for vmSku which are part of SAP deployment.",
      "type": "object",
      "properties": {
        "diskConfigurations": {
          "description": "Gets the list of Disk Configurations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SAPDiskConfiguration"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SAPAvailabilityZoneDetailsRequest": {
      "description": "The SAP request to get list of availability zones.",
      "type": "object",
      "properties": {
        "appLocation": {
          "type": "string",
          "description": "The geo-location where the SAP resources will be created."
        },
        "sapProduct": {
          "$ref": "#/definitions/SAPProductType"
        },
        "databaseType": {
          "description": "The database type. Eg: HANA, DB2, etc",
          "$ref": "#/definitions/SAPDatabaseType"
        }
      },
      "required": [
        "appLocation",
        "sapProduct",
        "databaseType"
      ]
    },
    "SAPAvailabilityZonePair": {
      "description": "The SAP Availability Zone Pair.",
      "type": "object",
      "properties": {
        "zoneA": {
          "description": "The zone A.",
          "type": "integer",
          "format": "int64"
        },
        "zoneB": {
          "description": "The zone B.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SAPAvailabilityZoneDetailsResult": {
      "description": "The list of supported availability zone pairs which are part of SAP HA deployment.",
      "type": "object",
      "properties": {
        "availabilityZonePairs": {
          "description": "Gets the list of availability zone pairs.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SAPAvailabilityZonePair"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "VirtualMachineConfiguration": {
      "description": "Defines the virtual machine configuration.",
      "type": "object",
      "properties": {
        "vmSize": {
          "type": "string",
          "description": "The virtual machine size."
        },
        "imageReference": {
          "description": "The image reference.",
          "$ref": "#/definitions/ImageReference"
        },
        "osProfile": {
          "description": "The OS profile.",
          "$ref": "#/definitions/OSProfile"
        }
      },
      "required": [
        "vmSize",
        "imageReference",
        "osProfile"
      ]
    },
    "SingleServerConfiguration": {
      "x-ms-discriminator-value": "SingleServer",
      "description": "Gets or sets the single server configuration.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/InfrastructureConfiguration"
        }
      ],
      "properties": {
        "networkConfiguration": {
          "description": "Network configuration for the server",
          "$ref": "#/definitions/NetworkConfiguration"
        },
        "databaseType": {
          "description": "The database type.",
          "$ref": "#/definitions/SAPDatabaseType"
        },
        "subnetId": {
          "description": "The subnet id.",
          "type": "string"
        },
        "virtualMachineConfiguration": {
          "description": "Gets or sets the virtual machine configuration.",
          "$ref": "#/definitions/VirtualMachineConfiguration"
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration"
      ]
    },
    "CentralServerConfiguration": {
      "description": "Gets or sets the central server configuration.",
      "type": "object",
      "properties": {
        "subnetId": {
          "description": "The subnet id.",
          "type": "string"
        },
        "virtualMachineConfiguration": {
          "description": "Gets or sets the virtual machine configuration.",
          "$ref": "#/definitions/VirtualMachineConfiguration"
        },
        "instanceCount": {
          "description": "The number of central server VMs.",
          "type": "integer",
          "format": "int64"
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration",
        "instanceCount"
      ]
    },
    "DatabaseConfiguration": {
      "description": "Gets or sets the database configuration.",
      "type": "object",
      "properties": {
        "databaseType": {
          "description": "The database type.",
          "$ref": "#/definitions/SAPDatabaseType"
        },
        "subnetId": {
          "description": "The subnet id.",
          "type": "string"
        },
        "virtualMachineConfiguration": {
          "description": "Gets or sets the virtual machine configuration.",
          "$ref": "#/definitions/VirtualMachineConfiguration"
        },
        "instanceCount": {
          "description": "The number of database VMs.",
          "type": "integer",
          "format": "int64"
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration",
        "instanceCount"
      ]
    },
    "ApplicationServerConfiguration": {
      "description": "Gets or sets the application server configuration.",
      "type": "object",
      "properties": {
        "subnetId": {
          "description": "The subnet id.",
          "type": "string"
        },
        "virtualMachineConfiguration": {
          "description": "Gets or sets the virtual machine configuration.",
          "$ref": "#/definitions/VirtualMachineConfiguration"
        },
        "instanceCount": {
          "description": "The number of app server instances.",
          "type": "integer",
          "format": "int64"
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration",
        "instanceCount"
      ]
    },
    "HighAvailabilityConfiguration": {
      "description": "Gets or sets the high availability configuration.",
      "type": "object",
      "properties": {
        "highAvailabilityType": {
          "description": "The high availability type.",
          "$ref": "#/definitions/HighAvailabilityType"
        }
      },
      "required": [
        "highAvailabilityType"
      ]
    },
    "ThreeTierConfiguration": {
      "x-ms-discriminator-value": "ThreeTier",
      "x-ms-client-flatten": true,
      "description": "Gets or sets the three tier SAP configuration.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/InfrastructureConfiguration"
        }
      ],
      "properties": {
        "networkConfiguration": {
          "description": "Network configuration common to all servers",
          "$ref": "#/definitions/NetworkConfiguration"
        },
        "centralServer": {
          "description": "The central server configuration.",
          "$ref": "#/definitions/CentralServerConfiguration"
        },
        "applicationServer": {
          "description": "The application server configuration.",
          "$ref": "#/definitions/ApplicationServerConfiguration"
        },
        "databaseServer": {
          "description": "The database configuration.",
          "$ref": "#/definitions/DatabaseConfiguration"
        },
        "highAvailabilityConfig": {
          "description": "The high availability configuration.",
          "$ref": "#/definitions/HighAvailabilityConfiguration"
        }
      },
      "required": [
        "centralServer",
        "applicationServer",
        "databaseServer"
      ]
    },
    "InfrastructureConfiguration": {
      "description": "Deploy SAP Infrastructure Details.",
      "type": "object",
      "required": [
        "deploymentType",
        "appResourceGroup"
      ],
      "properties": {
        "deploymentType": {
          "$ref": "#/definitions/DeploymentType"
        },
        "appResourceGroup": {
          "type": "string",
          "description": "The application resource group where SAP system resources will be deployed."
        }
      },
      "discriminator": "deploymentType"
    },
    "SoftwareConfiguration": {
      "description": "The SAP Software configuration Input.",
      "type": "object",
      "properties": {
        "softwareInstallationType": {
          "$ref": "#/definitions/SAPSoftwareInstallationType"
        }
      },
      "required": [
        "softwareInstallationType"
      ],
      "discriminator": "softwareInstallationType"
    },
    "ServiceInitiatedSoftwareConfiguration": {
      "description": "The SAP Software configuration Input when the software is to be installed by service.",
      "type": "object",
      "x-ms-discriminator-value": "ServiceInitiated",
      "x-ms-client-flatten": true,
      "allOf": [
        {
          "$ref": "#/definitions/SoftwareConfiguration"
        }
      ],
      "properties": {
        "bomUrl": {
          "type": "string",
          "description": "The URL to the SAP Build of Materials(BOM) file."
        },
        "softwareVersion": {
          "type": "string",
          "description": "The software version to install."
        },
        "sapBitsStorageAccountId": {
          "type": "string",
          "description": "The SAP bits storage account id."
        },
        "sapFqdn": {
          "type": "string",
          "description": "The FQDN to set for the SAP system during install."
        },
        "sshPrivateKey": {
          "type": "string",
          "x-ms-secret": true,
          "description": "The SSH private key."
        },
        "highAvailabilitySoftwareConfiguration": {
          "$ref": "#/definitions/HighAvailabilitySoftwareConfiguration"
        }
      },
      "required": [
        "bomUrl",
        "softwareVersion",
        "sapBitsStorageAccountId",
        "sapFqdn",
        "sshPrivateKey"
      ]
    },
    "SAPInstallWithoutOSConfigSoftwareConfiguration": {
      "description": "The SAP Software configuration Input when the software is to be installed by service without OS Configurations",
      "type": "object",
      "x-ms-discriminator-value": "SAPInstallWithoutOSConfig",
      "x-ms-client-flatten": true,
      "allOf": [
        {
          "$ref": "#/definitions/SoftwareConfiguration"
        }
      ],
      "properties": {
        "bomUrl": {
          "type": "string",
          "description": "The URL to the SAP Build of Materials(BOM) file."
        },
        "sapBitsStorageAccountId": {
          "type": "string",
          "description": "The SAP bits storage account id."
        },
        "softwareVersion": {
          "type": "string",
          "description": "The software version to install."
        },
        "highAvailabilitySoftwareConfiguration": {
          "$ref": "#/definitions/HighAvailabilitySoftwareConfiguration"
        }
      },
      "required": [
        "bomUrl",
        "sapBitsStorageAccountId",
        "softwareVersion"
      ]
    },
    "HighAvailabilitySoftwareConfiguration": {
      "description": "Gets or sets the HA software configuration.",
      "type": "object",
      "properties": {
        "fencingClientId": {
          "description": "The fencing client id.",
          "type": "string"
        },
        "fencingClientPassword": {
          "description": "The fencing client id secret/password. The secret should never expire. This will be used pacemaker to start/stop the cluster VMs.",
          "x-ms-secret": true,
          "type": "string"
        }
      },
      "required": [
        "fencingClientId",
        "fencingClientPassword"
      ]
    },
    "StopRequest": {
      "description": "Stop SAP Request.",
      "type": "object",
      "properties": {
        "hardStop": {
          "type": "boolean",
          "default": false,
          "description": "A boolean to specify if the SAP system should be hard-stopped."
        }
      }
    },
    "DiscoveryConfiguration": {
      "x-ms-discriminator-value": "Discovery",
      "description": "Discovery Details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SAPConfiguration"
        }
      ],
      "properties": {
        "centralServerVmId": {
          "type": "string",
          "description": "The virtual machine ID of the Central Server."
        },
        "appLocation": {
          "type": "string",
          "readOnly": true,
          "description": "The geo-location where the SAP system exists."
        }
      }
    },
    "DeploymentConfiguration": {
      "x-ms-discriminator-value": "Deployment",
      "description": "Deployment Configuration.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SAPConfiguration"
        }
      ],
      "properties": {
        "appLocation": {
          "type": "string",
          "description": "The geo-location where the SAP system is to be created."
        },
        "infrastructureConfiguration": {
          "$ref": "#/definitions/InfrastructureConfiguration",
          "description": "The infrastructure configuration."
        },
        "softwareConfiguration": {
          "$ref": "#/definitions/SoftwareConfiguration",
          "description": "The software configuration."
        }
      }
    },
    "DeploymentWithOSConfiguration": {
      "x-ms-discriminator-value": "DeploymentWithOSConfig",
      "description": "Deployment along with OS Configuration.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SAPConfiguration"
        }
      ],
      "properties": {
        "appLocation": {
          "type": "string",
          "description": "The geo-location where the SAP system is to be created."
        },
        "infrastructureConfiguration": {
          "$ref": "#/definitions/InfrastructureConfiguration",
          "description": "The infrastructure configuration."
        },
        "softwareConfiguration": {
          "$ref": "#/definitions/SoftwareConfiguration",
          "description": "The software configuration."
        },
        "osSapConfiguration": {
          "$ref": "#/definitions/OsSapConfiguration",
          "description": "The OS and SAP configuration."
        }
      }
    },
    "OsSapConfiguration": {
      "description": "Defines the OS and SAP Configurations for Deployment",
      "type": "object",
      "properties": {
        "deployerVmPackages": {
          "$ref": "#/definitions/DeployerVmPackages",
          "description": "The url and storage account ID where deployer VM packages are uploaded"
        },
        "sapFqdn": {
          "type": "string",
          "description": "The FQDN to set for the SAP system"
        }
      }
    },
    "DeployerVmPackages": {
      "description": "Defines the url and storage account ID where deployer VM packages are uploaded",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL to the deployer VM packages file."
        },
        "storageAccountId": {
          "type": "string",
          "description": "The deployer VM packages storage account id"
        }
      }
    },
    "SshKeyPair": {
      "description": "The SSH Key-pair used to authenticate with the VM. The key needs to be at least 2048-bit and in ssh-rsa format. <br><br> For creating ssh keys, see [Create SSH keys on Linux and Mac for Linux VMs in Azure](https://docs.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).",
      "type": "object",
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "SSH public key"
        },
        "privateKey": {
          "type": "string",
          "x-ms-secret": true,
          "description": "SSH private key."
        }
      }
    },
    "SAPConfiguration": {
      "description": "The SAP Configuration.",
      "type": "object",
      "required": [
        "configurationType"
      ],
      "properties": {
        "configurationType": {
          "$ref": "#/definitions/ConfigurationType"
        }
      },
      "discriminator": "configurationType"
    },
    "CentralServerVmDetails": {
      "description": "The SAP Central Services Instance VM details.",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/CentralServerVirtualMachineType",
          "readOnly": true
        },
        "virtualMachineId": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DatabaseVmDetails": {
      "description": "Database VM details.",
      "type": "object",
      "properties": {
        "virtualMachineId": {
          "type": "string",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/SAPVirtualInstanceStatus",
          "readOnly": true
        }
      }
    },
    "ManagedRGConfiguration": {
      "description": "Managed resource group configuration",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Managed resource group name"
        }
      }
    },
    "SAPVirtualInstanceProperties": {
      "description": "Defines the Virtual Instance for SAP solutions resource properties.",
      "type": "object",
      "required": [
        "environment",
        "sapProduct",
        "configuration"
      ],
      "properties": {
        "environment": {
          "$ref": "#/definitions/EnvironmentType",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "sapProduct": {
          "$ref": "#/definitions/SAPProductType",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "configuration": {
          "description": "Defines if the SAP system is being created using Azure Center for SAP solutions (ACSS) or if an existing SAP system is being registered with ACSS",
          "$ref": "#/definitions/SAPConfiguration"
        },
        "managedResourceGroupConfiguration": {
          "description": "Managed resource group configuration",
          "$ref": "#/definitions/ManagedRGConfiguration"
        },
        "status": {
          "$ref": "#/definitions/SAPVirtualInstanceStatus",
          "readOnly": true
        },
        "health": {
          "$ref": "#/definitions/HealthState",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/SAPVirtualInstanceState",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        },
        "errors": {
          "description": "Indicates any errors on the Virtual Instance for SAP solutions resource.",
          "$ref": "#/definitions/SAPVirtualInstanceError",
          "readOnly": true
        }
      }
    },
    "SAPVirtualInstance": {
      "description": "Define the Virtual Instance for SAP solutions resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "./commonTypes.json#/definitions/UserAssignedServiceIdentity"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SAPVirtualInstanceProperties"
        }
      },
      "required": [
        "properties"
      ]
    },
    "SAPVirtualInstanceList": {
      "description": "Defines the collection of Virtual Instance for SAP solutions resources.",
      "type": "object",
[...]
