{
  "swagger": "2.0",
  "info": {
    "version": "2021-12-01-preview",
    "title": "Workloads Client",
    "description": "Workloads client provides access to various workload operations"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/getSapSizingRecommendation": {
      "post": {
        "tags": [
          "SAPRecommendations"
        ],
        "description": "Get SAP sizing recommendations.",
        "operationId": "SAPSizingRecommendations",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "SAPSizingRecommendation",
            "description": "SAP Sizing Recommendation Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SAPSizingRecommendationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SAP Sizing Recommendation Result.",
            "schema": {
              "$ref": "#/definitions/SAPSizingRecommendationResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPSizingRecommendations": {
            "$ref": "./examples/sapvirtualinstances/SAPSizingRecommendations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}": {
      "put": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPVirtualInstances_Create": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Create.json"
          }
        },
        "description": "Creates an SAP Virtual Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "description": "The SAP Virtual Instance request body.",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the created SAP Virtual Instance.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "200": {
            "description": "Describes the successfully created SAP Virtual Instance.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Get",
        "x-ms-examples": {
          "SAPVirtualInstances_Get": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Get.json"
          }
        },
        "description": "Gets an SAP Virtual Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the SAP Virtual Instance.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Update",
        "x-ms-examples": {
          "SAPVirtualInstances_Update": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Update.json"
          }
        },
        "description": "Updates an SAP Virtual Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The Update SAP Virtual Instance request body.",
            "schema": {
              "$ref": "#/definitions/UpdateSAPVirtualInstanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the successfully updated SAP Virtual Instance.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPVirtualInstances_Delete": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Delete.json"
          }
        },
        "description": "Deletes an SAP Virtual Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances": {
      "get": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_ListByResourceGroup",
        "x-ms-examples": {
          "SAPVirtualInstances_ListByResourceGroup": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Gets all SAP Virtual Instances in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all SAP Virtual Instances.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/sapVirtualInstances": {
      "get": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_ListBySubscription",
        "x-ms-examples": {
          "SAPVirtualInstances_ListBySubscription": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Gets all SAP Virtual Instances in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all SAP Virtual Instances in the subscription.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances/{centralInstanceName}": {
      "get": {
        "tags": [
          "SAPCentralInstances"
        ],
        "operationId": "SAPCentralInstances_Get",
        "x-ms-examples": {
          "SAPCentralInstances_Get": {
            "$ref": "./examples/sapvirtualinstances/SAPCentralInstances_Get.json"
          }
        },
        "description": "Gets the SAP Central Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/CentralInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the SAP Central Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SAPCentralInstances"
        ],
        "operationId": "SAPCentralInstances_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPCentralInstances_Create": {
            "$ref": "./examples/sapvirtualinstances/SAPCentralInstances_Create.json"
          }
        },
        "description": "Puts the SAP Central Instance. <br><br>This will be used by service only. PUT by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/CentralInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP Central Server instance request body.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the created SAP Central Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "200": {
            "description": "Describes the SAP Central Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SAPCentralInstances"
        ],
        "operationId": "SAPCentralInstances_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPCentralInstances_Update": {
            "$ref": "./examples/sapvirtualinstances/SAPCentralInstances_Update.json"
          }
        },
        "description": "Updates the SAP Central Instance. <br><br>This can be used to update tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/CentralInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP Central Server instance request body.",
            "schema": {
              "$ref": "#/definitions/UpdateSAPCentralInstanceRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the created SAP Central Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "200": {
            "description": "Describes the SAP Central Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SAPCentralInstances"
        ],
        "operationId": "SAPCentralInstances_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPCentralInstances_Delete": {
            "$ref": "./examples/sapvirtualinstances/SAPCentralInstances_Delete.json"
          }
        },
        "description": "Deletes the SAP Central Instance. <br><br>This will be used by service only. Delete by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/CentralInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances": {
      "get": {
        "tags": [
          "SAPCentralInstances"
        ],
        "operationId": "SAPCentralInstances_List",
        "x-ms-examples": {
          "SAPCentralInstances_List": {
            "$ref": "./examples/sapvirtualinstances/SAPCentralInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Lists the SAP Central Instances in an SVI.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the SAP Central Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPCentralInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}": {
      "get": {
        "tags": [
          "SAPDatabaseInstances"
        ],
        "operationId": "SAPDatabaseInstances_Get",
        "x-ms-examples": {
          "SAPDatabaseInstances_Get": {
            "$ref": "./examples/sapvirtualinstances/SAPDatabaseInstances_Get.json"
          }
        },
        "description": "Gets the SAP Database Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the SAP Database Instance.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SAPDatabaseInstances"
        ],
        "operationId": "SAPDatabaseInstances_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPDatabaseInstances_Create": {
            "$ref": "./examples/sapvirtualinstances/SAPDatabaseInstances_Create.json"
          }
        },
        "description": "Puts the SAP Database Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP Database Server instance request body.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the SAP Database Instance.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "200": {
            "description": "Describes the SAP Database Instance.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SAPDatabaseInstances"
        ],
        "operationId": "SAPDatabaseInstances_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPDatabaseInstances_Update": {
            "$ref": "./examples/sapvirtualinstances/SAPDatabaseInstances_Update.json"
          }
        },
        "description": "Puts the SAP Database Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP Database Server instance request body.",
            "schema": {
              "$ref": "#/definitions/UpdateSAPDatabaseInstanceRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the SAP Database Instance.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "200": {
            "description": "Describes the SAP Database Instance.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SAPDatabaseInstances"
        ],
        "operationId": "SAPDatabaseInstances_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPDatabaseInstances_Delete": {
            "$ref": "./examples/sapvirtualinstances/SAPDatabaseInstances_Delete.json"
          }
        },
        "description": "Deletes the SAP Database Instance. <br><br>This will be used by service only. Delete by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances": {
      "get": {
        "tags": [
          "SAPDatabaseInstances"
        ],
        "operationId": "SAPDatabaseInstances_List",
        "x-ms-examples": {
          "SAPDatabaseInstances_List": {
            "$ref": "./examples/sapvirtualinstances/SAPDatabaseInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Lists the SAP Database Instances in an SVI.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the SAP Database Instance.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}": {
      "get": {
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "operationId": "SAPApplicationServerInstances_Get",
        "x-ms-examples": {
          "SAPApplicationServerInstances_Get": {
            "$ref": "./examples/sapvirtualinstances/SAPApplicationServerInstances_Get.json"
          }
        },
        "description": "Gets the SAP Application Server Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/SAPApplicationInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the SAP Application Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "operationId": "SAPApplicationServerInstances_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPApplicationServerInstances_Create": {
            "$ref": "./examples/sapvirtualinstances/SAPApplicationServerInstances_Create.json"
          }
        },
        "description": "Puts the SAP Application Server Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/SAPApplicationInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP Application Server instance request body.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the SAP Application Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "200": {
            "description": "Describes the SAP Application Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "operationId": "SAPApplicationServerInstances_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPApplicationServerInstances_Update": {
            "$ref": "./examples/sapvirtualinstances/SAPApplicationServerInstances_Update.json"
          }
        },
        "description": "Puts the SAP Application Server Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/SAPApplicationInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP Application Server instance request body.",
            "schema": {
              "$ref": "#/definitions/UpdateSAPApplicationInstanceRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Describes the SAP Application Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "200": {
            "description": "Describes the SAP Application Server Instance.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "operationId": "SAPApplicationServerInstances_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPApplicationServerInstances_Delete": {
            "$ref": "./examples/sapvirtualinstances/SAPApplicationServerInstances_Delete.json"
          }
        },
        "description": "Deletes the SAP Application Server Instance. <br><br>This operation will be used by service only. Delete by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/SAPApplicationInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances": {
      "get": {
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "operationId": "SAPApplicationServerInstances_List",
        "x-ms-examples": {
          "SAPApplicationServerInstances_List": {
            "$ref": "./examples/sapvirtualinstances/SAPApplicationServerInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Lists the SAP Application server Instances in an SVI.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the SAP Application Instance list.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstanceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/start": {
      "post": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Start",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPVirtualInstances_Start": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Start.json"
          }
        },
        "description": "Starts the SAP System.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP virtual instance Start request body.",
            "schema": {
              "$ref": "#/definitions/StartRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/stop": {
      "post": {
        "tags": [
          "SAPVirtualInstances"
        ],
        "operationId": "SAPVirtualInstances_Stop",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SAPVirtualInstances_Stop": {
            "$ref": "./examples/sapvirtualinstances/SAPVirtualInstances_Stop.json"
          }
        },
        "description": "Stops the SAP System.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SAPVirtualInstanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The SAP virtual instance stop request body.",
            "schema": {
              "$ref": "#/definitions/StopRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "HealthState": {
      "description": "Defines the SAP Virtual Instance health.",
      "enum": [
        "Unknown",
        "Healthy",
        "Unhealthy"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "HealthState",
        "modelAsString": true
      }
    },
    "DeploymentType": {
      "description": "The deployment Type.",
      "enum": [
        "SingleServer",
        "ThreeTier"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "DeploymentType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "ConfigurationType": {
      "description": "The configuration Type.",
      "enum": [
        "Deployment",
        "Discovery"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ConfigurationType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "SAPVirtualInstanceStatus": {
      "description": "Defines the SAP Virtual Instance status.",
      "enum": [
        "Starting",
        "Running",
        "Stopping",
        "Stopped",
        "Unknown"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPVirtualInstanceStatus",
        "modelAsString": true
      }
    },
    "SAPVirtualInstanceState": {
      "description": "Defines the SAP Virtual Instance state.",
      "enum": [
        "InfrastructureDeploymentPending",
        "InfrastructureDeploymentInProgress",
        "InfrastructureDeploymentFailed",
        "SoftwareInstallationPending",
        "SoftwareInstallationInProgress",
        "SoftwareInstallationFailed",
        "DiscoveryPending",
        "DiscoveryInProgress",
        "DiscoveryFailed",
        "RegistrationComplete"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPVirtualInstanceState",
        "modelAsString": true
      }
    },
    "EnvironmentType": {
      "description": "Defines the environment type - Production/Non Production.",
      "enum": [
        "NonProd",
        "Prod"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "EnvironmentType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "ApplicationServerType": {
      "description": "Defines the SAP Application Server type.",
      "enum": [
        "Primary",
        "Additional"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "ApplicationServerType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "read"
      ]
    },
    "DatabaseVirtualMachineType": {
      "description": "Defines the type of database VM.",
      "enum": [
        "Primary",
        "Secondary"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "DatabaseVirtualMachineType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "read"
      ]
    },
    "CentralServerVirtualMachineType": {
      "description": "Defines the type of central server VM.",
      "enum": [
        "Primary",
        "Secondary"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "CentralServerVirtualMachineType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "read"
      ]
    },
    "SAPProductType": {
      "description": "Defines the SAP Product type.",
      "enum": [
        "ECC",
        "S4HANA"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SAPProductType",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    },
    "ProvisioningState": {
      "description": "Defines the provisioning states.",
      "enum": [
        "Succeeded",
        "Updating",
        "Creating",
        "Failed"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "SapVirtualInstanceProvisioningState",
        "modelAsString": true
      }
    },
    "SAPVirtualInstanceError": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The SAP Virtual Instance error body.",
          "$ref": "#/definitions/ErrorDefinition"
        }
      },
      "description": "An error response from the SAP Virtual Instance Workload service."
    },
    "UpdateSAPVirtualInstanceRequest": {
      "description": "Defines the request body for updating SAP Virtual Instance.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Gets or sets the Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "allOf": [
            {
              "$ref": "./commonTypes.json#/definitions/UserAssignedServiceIdentity"
            }
          ]
        }
      }
    },
    "UpdateSAPApplicationInstanceRequest": {
      "description": "Defines the request body for updating SAP Application Instance.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Gets or sets the Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpdateSAPDatabaseInstanceRequest": {
      "description": "Defines the request body for updating SAP Database Instance.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Gets or sets the Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpdateSAPCentralInstanceRequest": {
      "description": "Defines the request body for updating SAP Central Instance.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Gets or sets the Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ImageReference": {
      "type": "object",
      "properties": {
        "publisher": {
          "type": "string",
          "description": "The image publisher."
        },
        "offer": {
          "type": "string",
          "description": "Specifies the offer of the platform image or marketplace image used to create the virtual machine."
        },
        "sku": {
          "type": "string",
          "description": "The image SKU."
        },
        "version": {
          "type": "string",
          "description": "Specifies the version of the platform image or marketplace image used to create the virtual machine. The allowed formats are Major.Minor.Build or 'latest'. Major, Minor, and Build are decimal numbers. Specify 'latest' to use the latest version of an image available at deploy time. Even if you use 'latest', the VM image will not automatically update after deploy time even if a new version becomes available."
        },
        "exactVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies in decimal numbers, the version of platform image or marketplace image used to create the virtual machine. This readonly field differs from 'version', only if the value specified in 'version' field is 'latest'."
        },
        "sharedGalleryImageId": {
          "type": "string",
          "description": "Specified the shared gallery image unique id for vm deployment. This can be fetched from shared gallery image GET call."
        }
      },
      "description": "Specifies information about the image to use. You can specify information about platform images, marketplace images, or virtual machine images. This element is required when you want to use a platform image, marketplace image, or virtual machine image, but is not used in other creation operations. NOTE: Image reference publisher and offer can only be set when you create the scale set."
    },
    "WindowsConfiguration": {
      "type": "object",
      "x-ms-discriminator-value": "Windows",
      "allOf": [
        {
          "$ref": "#/definitions/OSConfiguration"
        }
      ],
      "properties": {},
      "description": "Specifies Windows operating system settings on the virtual machine."
    },
    "SshPublicKey": {
      "type": "object",
      "properties": {
        "keyData": {
          "type": "string",
          "description": "SSH public key certificate used to authenticate with the VM through ssh. The key needs to be at least 2048-bit and in ssh-rsa format. <br><br> For creating ssh keys, see [Create SSH keys on Linux and Mac for Linux VMs in Azure]https://docs.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed)."
        }
      },
      "description": "Contains information about SSH certificate public key and the path on the Linux VM where the public key is placed."
    },
    "SshConfiguration": {
      "type": "object",
      "properties": {
        "publicKeys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SshPublicKey"
          },
          "description": "The list of SSH public keys used to authenticate with linux based VMs."
        }
      },
      "description": "SSH configuration for Linux based VMs running on Azure"
    },
    "LinuxConfiguration": {
      "type": "object",
      "x-ms-discriminator-value": "Linux",
      "allOf": [
        {
          "$ref": "#/definitions/OSConfiguration"
        }
      ],
      "properties": {
        "disablePasswordAuthentication": {
          "type": "boolean",
          "description": "Specifies whether password authentication should be disabled."
        },
        "ssh": {
          "$ref": "#/definitions/SshConfiguration",
          "description": "Specifies the ssh key configuration for a Linux OS."
        }
      },
      "description": "Specifies the Linux operating system settings on the virtual machine. <br><br>For a list of supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/linux/endorsed-distros)."
    },
    "OSConfiguration": {
      "description": "Defines the OS configuration.",
      "type": "object",
      "required": [
        "osType"
      ],
      "properties": {
        "osType": {
          "description": "The OS Type",
          "enum": [
            "Linux",
            "Windows"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "OSType",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "osType"
    },
    "OSProfile": {
      "type": "object",
      "properties": {
        "adminUsername": {
          "type": "string",
          "description": "Specifies the name of the administrator account. <br><br> This property cannot be updated after the VM is created. <br><br> **Windows-only restriction:** Cannot end in \".\" <br><br> **Disallowed values:** \"administrator\", \"admin\", \"user\", \"user1\", \"test\", \"user2\", \"test1\", \"user3\", \"admin1\", \"1\", \"123\", \"a\", \"actuser\", \"adm\", \"admin2\", \"aspnet\", \"backup\", \"console\", \"david\", \"guest\", \"john\", \"owner\", \"root\", \"server\", \"sql\", \"support\", \"support_388945a0\", \"sys\", \"test2\", \"test3\", \"user4\", \"user5\". <br><br> **Minimum-length (Linux):** 1  character <br><br> **Max-length (Linux):** 64 characters <br><br> **Max-length (Windows):** 20 characters."
        },
        "adminPassword": {
          "type": "string",
          "x-ms-secret": true,
          "description": "Specifies the password of the administrator account. <br><br> **Minimum-length (Windows):** 8 characters <br><br> **Minimum-length (Linux):** 6 characters <br><br> **Max-length (Windows):** 123 characters <br><br> **Max-length (Linux):** 72 characters <br><br> **Complexity requirements:** 3 out of 4 conditions below need to be fulfilled <br> Has lower characters <br>Has upper characters <br> Has a digit <br> Has a special character (Regex match [\\W_]) <br><br> **Disallowed values:** \"abc@123\", \"P@$$w0rd\", \"P@ssw0rd\", \"P@ssword123\", \"Pa$$word\", \"pass@word1\", \"Password!\", \"Password1\", \"Password22\", \"iloveyou!\" <br><br> For resetting the password, see [How to reset the Remote Desktop service or its login password in a Windows VM](https://docs.microsoft.com/troubleshoot/azure/virtual-machines/reset-rdp) <br><br> For resetting root password, see [Manage users, SSH, and check or repair disks on Azure Linux VMs using the VMAccess Extension](https://docs.microsoft.com/troubleshoot/azure/virtual-machines/troubleshoot-ssh-connection)"
        },
        "osConfiguration": {
          "$ref": "#/definitions/OSConfiguration",
          "description": "Specifies Windows operating system settings on the virtual machine."
        }
      },
      "description": "Specifies the operating system settings for the virtual machine. Some of the settings cannot be changed once VM is provisioned."
    },
    "SingleServerRecommendationResult": {
      "x-ms-discriminator-value": "SingleServer",
      "description": "The recommended configuration for a single server SAP system.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SAPSizingRecommendationResult"
        }
      ],
      "properties": {
        "vmSku": {
          "description": "The recommended VM SKU for single server.",
          "type": "string"
        }
      }
    },
    "ThreeTierRecommendationResult": {
      "x-ms-discriminator-value": "ThreeTier",
      "description": "The recommended configuration for a three tier SAP system.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SAPSizingRecommendationResult"
        }
      ],
      "properties": {
        "dbVmSku": {
          "description": "The database VM SKU.",
          "type": "string"
        },
        "centralServerVmSku": {
          "description": "The central server VM SKU.",
          "type": "string"
        },
        "applicationServerVmSku": {
          "description": "The application server VM SKU.",
          "type": "string"
        },
        "applicationServerInstanceCount": {
          "description": "The application server instance count.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SAPSizingRecommendationRequest": {
      "description": "The SAP Sizing Recommendation request.",
      "type": "object",
      "properties": {
        "deploymentLocation": {
          "type": "string",
          "description": "The geo-location where the resource is to be created."
        },
        "environment": {
          "$ref": "#/definitions/EnvironmentType"
        },
        "sapProduct": {
          "$ref": "#/definitions/SAPProductType"
        },
        "deploymentType": {
          "description": "The deployment type. Eg: SingleServer/ThreeTier",
          "$ref": "#/definitions/DeploymentType"
        },
        "saps": {
          "description": "The SAP Application Performance Standard measurement.",
          "type": "integer",
          "format": "int64"
        },
        "dbMemory": {
          "description": "The database memory configuration.",
          "type": "integer",
          "format": "int64"
        }
      },
      "required": [
        "deploymentLocation",
        "environment",
        "sapProduct",
        "deploymentType",
        "saps",
        "dbMemory"
      ]
    },
    "SAPSizingRecommendationResult": {
      "description": "The SAP sizing recommendation result.",
      "type": "object",
      "required": [
        "deploymentType"
      ],
      "properties": {
        "deploymentType": {
          "$ref": "#/definitions/DeploymentType"
        }
      },
      "discriminator": "deploymentType"
    },
    "VirtualMachineConfiguration": {
      "description": "Defines the virtual machine configuration.",
      "type": "object",
      "properties": {
        "vmSize": {
          "type": "string",
          "description": "The virtual machine size."
        },
        "imageReference": {
          "description": "The image reference.",
          "$ref": "#/definitions/ImageReference"
        },
        "osProfile": {
          "description": "The OS profile.",
          "$ref": "#/definitions/OSProfile"
        }
      },
      "required": [
        "vmSize",
        "imageReference",
        "osProfile"
      ]
    },
    "SingleServerConfiguration": {
      "x-ms-discriminator-value": "SingleServer",
      "description": "Gets or sets the single server configuration.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/InfrastructureConfiguration"
        }
      ],
      "properties": {
        "subnetId": {
          "description": "The subnet id.",
          "type": "string"
        },
        "virtualMachineConfiguration": {
          "description": "Gets or sets the virtual machine configuration.",
          "$ref": "#/definitions/VirtualMachineConfiguration"
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration"
      ]
    },
    "CentralServerConfiguration": {
      "description": "Gets or sets the central server configuration.",
      "type": "object",
      "properties": {
        "subnetId": {
          "description": "The subnet id.",
          "type": "string"
        },
        "virtualMachineConfiguration": {
          "description": "Gets or sets the virtual machine configuration.",
          "$ref": "#/definitions/VirtualMachineConfiguration"
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration"
      ],
      "x-ms-azure-resource": true
    },
    "DatabaseConfiguration": {
      "description": "Gets or sets the database configuration.",
      "type": "object",
      "properties": {
        "subnetId": {
          "description": "The subnet id.",
          "type": "string"
        },
        "virtualMachineConfiguration": {
          "description": "Gets or sets the virtual machine configuration.",
          "$ref": "#/definitions/VirtualMachineConfiguration"
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration"
      ],
      "x-ms-azure-resource": true
    },
    "ApplicationServerConfiguration": {
      "description": "Gets or sets the application server configuration.",
      "type": "object",
      "properties": {
        "subnetId": {
          "description": "The subnet id.",
          "type": "string"
        },
        "virtualMachineConfiguration": {
          "description": "Gets or sets the virtual machine configuration.",
          "$ref": "#/definitions/VirtualMachineConfiguration"
        },
        "instanceCount": {
          "description": "The number of app server instances.",
          "type": "integer",
          "format": "int64"
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration",
        "instanceCount"
      ],
      "x-ms-azure-resource": true
    },
    "ThreeTierConfiguration": {
      "x-ms-discriminator-value": "ThreeTier",
      "x-ms-client-flatten": true,
      "description": "Gets or sets the three tier SAP configuration.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/InfrastructureConfiguration"
        }
      ],
      "properties": {
        "centralServer": {
          "description": "The central server configuration.",
          "$ref": "#/definitions/CentralServerConfiguration"
        },
        "applicationServer": {
          "description": "The application server configuration.",
          "$ref": "#/definitions/ApplicationServerConfiguration"
        },
        "databaseServer": {
          "description": "The database configuration.",
          "$ref": "#/definitions/DatabaseConfiguration"
        }
      },
      "required": [
        "centralServer",
        "applicationServer",
        "databaseServer"
      ]
    },
    "InfrastructureConfiguration": {
      "description": "Deploy SAP Infrastructure Details.",
      "type": "object",
      "required": [
        "deploymentType"
      ],
      "properties": {
        "deploymentType": {
          "$ref": "#/definitions/DeploymentType"
        }
      },
      "discriminator": "deploymentType"
    },
    "SoftwareConfiguration": {
      "description": "The SAP Software configuration Input.",
      "type": "object",
      "properties": {
        "bomUrl": {
          "type": "string",
          "description": "The URL to the SAP BOM."
        }
      }
    },
    "StartRequest": {
      "description": "Start SAP Request.",
      "type": "object",
      "properties": {
        "sapUsername": {
          "type": "string",
          "description": "Specifies the name of the user account having permissions to start the SAP system."
        },
        "sapPassword": {
          "type": "string",
          "x-ms-secret": true,
          "description": "Specifies the name of the user account having permissions to start the SAP system."
        }
      }
    },
    "StopRequest": {
      "description": "Stop SAP Request.",
      "type": "object",
      "properties": {
        "hardStop": {
          "type": "boolean",
          "default": false,
          "description": "A boolean to specify if the SAP system should be hard-stopped."
        },
        "sapUsername": {
          "type": "string",
          "description": "Specifies the name of the user account having permissions to stop the SAP system."
        },
        "sapPassword": {
          "type": "string",
          "x-ms-secret": true,
          "description": "Specifies the name of the user account having permissions to stop the SAP system."
        }
      }
    },
    "DiscoveryConfiguration": {
      "x-ms-discriminator-value": "Discovery",
      "description": "Discovery Details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SAPConfiguration"
        }
      ],
      "properties": {
        "centralServerVmId": {
          "type": "string",
          "description": "The virtual machine ID of the Central Server."
        }
      }
    },
    "DeploymentConfiguration": {
      "x-ms-discriminator-value": "Deployment",
      "description": "Deployment Configuration.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SAPConfiguration"
        }
      ],
      "properties": {
        "infrastructureConfiguration": {
          "$ref": "#/definitions/InfrastructureConfiguration",
          "description": "The infrastructure configuration."
        },
        "softwareConfiguration": {
          "$ref": "#/definitions/SoftwareConfiguration",
          "description": "The software configuration."
        }
      }
    },
    "SAPConfiguration": {
      "description": "The SAP Configuration.",
      "type": "object",
      "required": [
        "configurationType"
      ],
      "properties": {
        "configurationType": {
          "$ref": "#/definitions/ConfigurationType"
        }
      },
      "discriminator": "configurationType"
    },
    "CentralServerVmDetails": {
      "description": "The Central Server VM Details.",
      "type": "object",
      "properties": {
        "virtualMachineId": {
          "type": "string",
          "description": "The central server virtual machine id.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/CentralServerVirtualMachineType",
          "readOnly": true
        }
      }
    },
    "DatabaseVmDetails": {
      "description": "The Database VM Details.",
      "type": "object",
      "properties": {
        "virtualMachineId": {
          "type": "string",
          "description": "The database virtual machine id.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/DatabaseVirtualMachineType",
          "readOnly": true
        }
      }
    },
    "SAPVirtualInstanceProperties": {
      "description": "Defines the SAP Virtual Instance properties.",
      "type": "object",
      "required": [
        "environment",
        "sapProduct"
      ],
      "properties": {
        "environment": {
          "$ref": "#/definitions/EnvironmentType",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "sapProduct": {
          "$ref": "#/definitions/SAPProductType",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "configuration": {
          "description": "The SAP Deployment or discovery configuration",
          "$ref": "#/definitions/SAPConfiguration"
        },
        "status": {
          "$ref": "#/definitions/SAPVirtualInstanceStatus",
          "readOnly": true
        },
        "health": {
          "$ref": "#/definitions/HealthState",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/SAPVirtualInstanceState",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        },
        "errors": {
          "description": "Defines the SAP Virtual Instance errors.",
          "allOf": [
            {
              "$ref": "#/definitions/SAPVirtualInstanceError"
            }
          ],
          "readOnly": true
        }
      }
    },
    "SAPVirtualInstance": {
      "description": "Define the SAP Virtual Instance.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "identity": {
          "allOf": [
            {
              "$ref": "./commonTypes.json#/definitions/UserAssignedServiceIdentity"
            }
          ]
        },
        "systemData": {
          "description": "Resource system data",
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SAPVirtualInstanceProperties"
        }
      },
      "required": [
        "properties"
      ],
      "x-ms-azure-resource": true
    },
    "SAPVirtualInstanceList": {
      "description": "Defines the collection of SAP Virtual Instance.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets the list of SAP virtual instances.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SAPVirtualInstance"
          }
        },
        "nextLink": {
          "description": "Gets the value of next link.",
          "type": "string"
        }
      }
    },
    "SAPCentralInstanceList": {
      "description": "Defines the collection of SAP Central Instances.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets the list of SAP central instances.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SAPCentralServerInstance"
          }
        },
        "nextLink": {
          "description": "Gets the value of next link.",
          "type": "string"
        }
      }
    },
    "SAPDatabaseInstanceList": {
      "description": "Defines the collection of SAP Database Instances.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets the list of SAP Database instances.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SAPDatabaseInstance"
          }
        },
        "nextLink": {
          "description": "Gets the value of next link.",
          "type": "string"
        }
      }
    },
    "SAPApplicationServerInstanceList": {
      "description": "Defines the collection of SAP Application Server Instances.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets the list of SAP Application Server instances.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SAPApplicationServerInstance"
          }
        },
        "nextLink": {
          "description": "Gets the value of next link.",
          "type": "string"
        }
      }
    },
    "SAPApplicationServerProperties": {
      "description": "Defines the SAP Application Server properties.",
      "type": "object",
      "properties": {
        "instanceNo": {
          "type": "integer",
          "format": "int64",
          "description": "The application server instance id.",
          "readOnly": true,
          "x-nullable": true
        },
        "subnet": {
          "type": "string",
          "description": "The application server subnet.",
          "readOnly": true
        },
        "hostname": {
          "type": "string",
          "description": "The application server hostname.",
          "readOnly": true
        },
        "ipAddress": {
          "type": "string",
          "description": "The application server IP Address.",
          "readOnly": true
        },
        "diaPort": {
          "type": "integer",
          "format": "int64",
          "description": "The application server DIA Port.",
          "readOnly": true,
          "x-nullable": true
        },
        "httpPort": {
          "type": "integer",
          "format": "int64",
          "description": "The application server HTTP Port.",
          "readOnly": true,
          "x-nullable": true
        },
        "httpsPort": {
          "type": "integer",
          "format": "int64",
          "description": "The application server HTTPS Port.",
          "readOnly": true,
          "x-nullable": true
        },
        "applicationServerType": {
          "$ref": "#/definitions/ApplicationServerType",
          "readOnly": true
        },
        "virtualMachineId": {
          "type": "string",
          "description": "The virtual machine.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/SAPVirtualInstanceStatus",
          "readOnly": true
        },
        "health": {
          "$ref": "#/definitions/HealthState",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        },
        "errors": {
          "description": "Defines the Application Instance errors.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/SAPVirtualInstanceError"
            }
          ]
        }
      }
    },
    "SAPApplicationServerInstance": {
      "description": "Define the SAP Application Server Instance.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "systemData": {
          "description": "Resource system data",
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SAPApplicationServerProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "SAPCentralServerProperties": {
      "description": "Defines the SAP Central Server properties.",
      "type": "object",
      "properties": {
        "instanceNo": {
          "type": "integer",
          "format": "int64",
          "description": "The central server instance id.",
          "readOnly": true,
          "x-nullable": true
        },
        "subnet": {
          "type": "string",
          "description": "The central server subnet.",
          "readOnly": true
        },
        "ipAddress": {
          "type": "string",
          "description": "The central server IP Address.",
          "readOnly": true
        },
        "msPort": {
          "type": "integer",
          "format": "int64",
          "description": "The central server MS Port.",
          "readOnly": true,
          "x-nullable": true
        },
        "httpPort": {
          "type": "integer",
          "format": "int64",
          "description": "The central server HTTP Port.",
          "readOnly": true,
          "x-nullable": true
        },
        "httpsPort": {
          "type": "integer",
          "format": "int64",
          "description": "The central server HTTPS Port.",
          "readOnly": true,
          "x-nullable": true
        },
        "vmDetails": {
          "type": "object",
          "description": "The list of virtual machines.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/CentralServerVmDetails"
          }
        },
        "status": {
          "$ref": "#/definitions/SAPVirtualInstanceStatus",
          "readOnly": true
        },
        "health": {
          "$ref": "#/definitions/HealthState",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        },
        "errors": {
          "description": "Defines the Central Instance errors.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/SAPVirtualInstanceError"
            }
          ]
        }
      }
    },
    "SAPCentralServerInstance": {
      "description": "Define the SAP Central Server Instance.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "systemData": {
          "description": "Resource system data",
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SAPCentralServerProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "SAPDatabaseProperties": {
      "description": "Defines the SAP Database properties.",
      "type": "object",
      "properties": {
        "subnet": {
          "type": "string",
          "description": "The database subnet.",
          "readOnly": true
        },
        "databaseSid": {
          "type": "string",
          "description": "The database SID.",
          "readOnly": true
        },
        "ipAddress": {
          "type": "string",
          "description": "The database IP Address.",
          "readOnly": true
        },
        "port": {
          "type": "integer",
          "format": "int64",
          "description": "The database port.",
          "readOnly": true,
          "x-nullable": true
        },
        "vmDetails": {
          "type": "object",
          "description": "The list of virtual machines.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/DatabaseVmDetails"
          }
        },
        "status": {
          "$ref": "#/definitions/SAPVirtualInstanceStatus",
          "readOnly": true
        },
        "health": {
          "$ref": "#/definitions/HealthState",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        },
        "errors": {
          "description": "Defines the Database Instance errors.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/SAPVirtualInstanceError"
            }
          ]
        }
      }
    },
    "SAPDatabaseInstance": {
      "description": "Define the SAP Database Instance.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "systemData": {
          "description": "Resource system data",
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SAPDatabaseProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorDefinition": {
      "type": "object",
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SAPVirtualInstanceNameParameter": {
      "name": "sapVirtualInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the SAP Virtual Instance.",
      "x-ms-parameter-location": "method"
    },
    "SAPApplicationInstanceNameParameter": {
      "name": "applicationInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of SAP Application Server instance.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseNameParameter": {
      "name": "databaseInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Database Instance string modeled as parameter for auto generation to work correctly.",
      "x-ms-parameter-location": "method",
      "enum": [
        "databaseServer"
      ],
      "x-ms-enum": {
        "name": "databaseInstanceName",
        "modelAsString": true
      }
    },
    "CentralInstanceNameParameter": {
      "name": "centralInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Central Instance name string modeled as parameter for auto generation to work correctly.",
      "x-ms-parameter-location": "method",
      "enum": [
        "centralServer"
      ],
      "x-ms-enum": {
        "name": "centralInstanceName",
        "modelAsString": true
      }
    }
  }
}
