{
  "swagger": "2.0",
  "info": {
    "version": "2023-07-15-preview",
    "title": "iotHubClient",
    "description": "Use this API to manage the IoT hubs in your Azure subscription.",
    "x-ms-code-generation-settings": {
      "header": "MICROSOFT_MIT_NO_VERSION"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/networkSecurityPerimeterConfigurations": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets a list of NSP configurations for a IotHub.",
        "operationId": "NetworkSecurityPerimeterConfigurations_ListByIotHub",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of configs.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationListResult"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 NullResource - Request body is empty\n\n * 400 NullProperties - Properties collection is not included in request body\n\n * 400 NullNSP - NetworkSecurityPerimeter property is not present in request body\n\n * 400 NullNSPId - NetworkSecurityPerimeter is missing the ID property\n\n * 400 MalformedNSPId - NetworkSecurityPerimeter ID is not correctly formatted\n\n * 400 NullNSPImmutableId - NetworkSecurityPerimeter is missing the ImmutableId property\n\n * 400 MalformedNSPImmutableId - NetworkSecurityPerimeter Immutable ID is not a GUID\n\n * 400 NullLocation - NetworkSecurityPerimeter is missing the location property\n\n * 400 NullNetworkProfile - NetworkProfile is not present in the request body\n\n * 400 NullNetworkProfileName - NetworkProfile is missing the Name property\n\n * 400 NullAccessMode - Access Mode is not present in the request body\n\n * 400 InvalidAccessMode - Supported Access Modes are enforced, audit and learning\n\n * 400 InvalidClient - Client with id '{0}' is not allowed to interact with this resource\n\n * 400 TooManyAssociations - A IotHub may only be associated with one NSP\n\n * 400 MalformedAssociationProxyName - AssociationProxy name is not formed like {perimeterGuid}.{associationName}\n\n * 400 OnlyOneAssociationPerHub - A IotHub may only be associated with one NSP\n\n * 404 AssociationNotFound - This IotHub is not associated with any NSP\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        },
        "x-ms-examples": {
          "List NSP configs by IotHub": {
            "$ref": "./examples/iothub_NetworkSecurityPerimeterConfigurationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/networkSecurityPerimeterConfigurations/{nspConfigName}": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets a network security perimeter configuration.",
        "operationId": "NetworkSecurityPerimeterConfigurations_Get",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "name": "nspConfigName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the config.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 NullResource - Request body is empty\n\n * 400 NullProperties - Properties collection is not included in request body\n\n * 400 NullNSP - NetworkSecurityPerimeter property is not present in request body\n\n * 400 NullNSPId - NetworkSecurityPerimeter is missing the ID property\n\n * 400 MalformedNSPId - NetworkSecurityPerimeter ID is not correctly formatted\n\n * 400 NullNSPImmutableId - NetworkSecurityPerimeter is missing the ImmutableId property\n\n * 400 MalformedNSPImmutableId - NetworkSecurityPerimeter Immutable ID is not a GUID\n\n * 400 NullLocation - NetworkSecurityPerimeter is missing the location property\n\n * 400 NullNetworkProfile - NetworkProfile is not present in the request body\n\n * 400 NullNetworkProfileName - NetworkProfile is missing the Name property\n\n * 400 NullAccessMode - Access Mode is not present in the request body\n\n * 400 InvalidAccessMode - Supported Access Modes are enforced, audit and learning\n\n * 400 InvalidClient - Client with id '{0}' is not allowed to interact with this resource\n\n * 400 TooManyAssociations - A IotHub may only be associated with one NSP\n\n * 400 MalformedAssociationProxyName - AssociationProxy name is not formed like {perimeterGuid}.{associationName}\n\n * 400 OnlyOneAssociationPerHub - A IotHub may only be associated with one NSP\n\n * 404 AssociationNotFound - This IotHub is not associated with any NSP\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        },
        "x-ms-examples": {
          "Get an NSP config by name": {
            "$ref": "./examples/iothub_NetworkSecurityPerimeterConfigurationsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/networkSecurityPerimeterConfigurations/{nspConfigName}/reconcile": {
      "post": {
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Reconcile network security perimeter configuration for IotHub Resource Provider",
        "operationId": "NetworkSecurityPerimeterConfigurations_Reconcile",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "name": "nspConfigName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Reconcile NSP Configuration operation successful",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 OnlyOneAssociationPerHub - A IotHub may only be associated with one NSP\n\n * 404 ResourceNotFound - The requested resource was not found.\n\n * 404 OperationIdNotFound - The operation with Id does not exist.\n\n * 404 OperationIdNotFound - The operation with Id does not exist.\n\n * 404 AssociationNotFound - This IotHub is not associated with any NSP\n\n * 409 OperationCancelled - The operation has been cancelled by user.\n\n * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.\n\n * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.\n\n * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources."
          },
          "202": {
            "description": "Reconcile NSP Configuration operation accepted"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Reconcile NSP Config": {
            "$ref": "./examples/iothub_NetworkSecurityPerimeterConfigurationsReconcile.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkSecurityPerimeterConfiguration": {
      "description": "NSP Configuration for a IotHub.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "NetworkSecurityPerimeterConfigurationListResult": {
      "description": "A list of NSP configurations for a IotHub.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
          },
          "readOnly": true
        }
      }
    },
    "NetworkSecurityPerimeterConfigurationProperties": {
      "description": "The properties of an NSP config.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string"
        },
        "networkSecurityPerimeter": {
          "$ref": "#/definitions/NSPConfigPerimeter"
        },
        "resourceAssociation": {
          "$ref": "#/definitions/NSPConfigAssociation"
        },
        "profile": {
          "$ref": "#/definitions/NSPConfigProfile"
        },
        "provisioningIssues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NSPProvisioningIssue"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "NSPConfigAccessRule": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/NSPConfigAccessRuleProperties"
        }
      }
    },
    "NSPConfigAccessRuleProperties": {
      "type": "object",
      "properties": {
        "direction": {
          "type": "string"
        },
        "addressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fullyQualifiedDomainNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "networkSecurityPerimeters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NSPConfigNetworkSecurityPerimeterRule"
          }
        }
      }
    },
    "NSPConfigAssociation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "accessMode": {
          "type": "string"
        }
      }
    },
    "NSPConfigNetworkSecurityPerimeterRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "perimeterGuid": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "NSPConfigPerimeter": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "perimeterGuid": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "NSPConfigProfile": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "accessRulesVersion": {
          "type": "string"
        },
        "accessRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NSPConfigAccessRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "NSPProvisioningIssue": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/NSPProvisioningIssueProperties"
        }
      }
    },
    "NSPProvisioningIssueProperties": {
      "type": "object",
      "properties": {
        "issueType": {
          "type": "string"
        },
        "severity": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "suggestedResourceIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedAccessRules": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ProxyResource": {
      "title": "Resource",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.EventHub/Namespaces\" or \"Microsoft.EventHub/Namespaces/EventHubs\""
        },
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "The geo-location where the resource lives"
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription identifier.",
      "required": true,
      "type": "string"
    },
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "The version of the API.",
      "required": true,
      "type": "string"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "description": "The name of the resource group that contains the IoT hub.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "resourceName": {
      "name": "resourceName",
      "in": "path",
      "description": "The name of the IoT hub.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
