{
  "swagger": "2.0",
  "info": {
    "title": "DeviceUpdate",
    "version": "2023-07-01",
    "description": "Microsoft Device Update resource provider.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "Instances"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "GroupInformations"
    },
    {
      "name": "PrivateEndpointConnectionProxies"
    }
  ],
  "paths": {
    "/providers/Microsoft.DeviceUpdate/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceUpdate/accounts": {
      "get": {
        "operationId": "Accounts_ListBySubscription",
        "tags": [
          "Accounts"
        ],
        "description": "Returns list of Accounts.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get list of Accounts": {
            "$ref": "./examples/Accounts_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceUpdate/checknameavailability": {
      "post": {
        "operationId": "CheckNameAvailability",
        "description": "Checks ADU resource name availability.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Check Name Availability Request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts": {
      "get": {
        "operationId": "Accounts_ListByResourceGroup",
        "tags": [
          "Accounts"
        ],
        "description": "Returns list of Accounts.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Accounts": {
            "$ref": "./examples/Accounts_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}": {
      "get": {
        "operationId": "Accounts_Get",
        "tags": [
          "Accounts"
        ],
        "description": "Returns account details for the given account name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets Account details": {
            "$ref": "./examples/Accounts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Accounts_Create",
        "tags": [
          "Accounts"
        ],
        "description": "Creates or updates Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "Account",
            "in": "body",
            "description": "Account details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            },
            "x-ms-client-name": "Account"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Account' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "201": {
            "description": "Resource 'Account' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Account"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates Account": {
            "$ref": "./examples/Accounts_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Accounts_Update",
        "tags": [
          "Accounts"
        ],
        "description": "Updates account's patchable properties",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "accountUpdatePayload",
            "in": "body",
            "description": "Updated Account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountUpdate"
            },
            "x-ms-client-name": "accountUpdatePayload"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Account": {
            "$ref": "./examples/Accounts_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Accounts_Delete",
        "tags": [
          "Accounts"
        ],
        "description": "Deletes account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an account": {
            "$ref": "./examples/Accounts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/instances": {
      "get": {
        "operationId": "Instances_ListByAccount",
        "tags": [
          "Instances"
        ],
        "description": "Returns instances for the given account name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Instances by Account": {
            "$ref": "./examples/Instances_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/instances/{instanceName}": {
      "get": {
        "operationId": "Instances_Get",
        "tags": [
          "Instances"
        ],
        "description": "Returns instance details for the given instance and account name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "Instance name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Instance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Instances": {
            "$ref": "./examples/Instances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Instances_Create",
        "tags": [
          "Instances"
        ],
        "description": "Creates or updates instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "Instance name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "Instance",
            "in": "body",
            "description": "Instance details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Instance"
            },
            "x-ms-client-name": "Instance"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Instance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Instance"
            }
          },
          "201": {
            "description": "Resource 'Instance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Instance"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates Instance": {
            "$ref": "./examples/Instances_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Instances_Update",
        "tags": [
          "Instances"
        ],
        "description": "Updates instance's tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "Instance name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            },
            "x-ms-client-name": "tagUpdatePayload"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Instance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Instance": {
            "$ref": "./examples/Instances_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Instances_Delete",
        "tags": [
          "Instances"
        ],
        "description": "Deletes instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "Instance name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes instance": {
            "$ref": "./examples/Instances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateEndpointConnectionProxies": {
      "get": {
        "operationId": "PrivateEndpointConnectionProxies_ListByAccount",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) List all private endpoint connection proxies in a device update account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyList": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyId}": {
      "get": {
        "operationId": "PrivateEndpointConnectionProxies_Get",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) Get the specified private endpoint connection proxy associated with the device update account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionProxyId",
            "in": "path",
            "description": "The ID of the private endpoint connection proxy object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyGet": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnectionProxies_CreateOrUpdate",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) Creates or updates the specified private endpoint connection proxy resource associated with the device update account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionProxyId",
            "in": "path",
            "description": "The ID of the private endpoint connection proxy object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnectionProxy",
            "in": "body",
            "description": "The parameters for creating a private endpoint connection proxy.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            },
            "x-ms-client-name": "privateEndpointConnectionProxy"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnectionProxy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnectionProxy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyCreateOrUpdate": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrivateEndpointConnectionProxies_Delete",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) Deletes the specified private endpoint connection proxy associated with the device update account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionProxyId",
            "in": "path",
            "description": "The ID of the private endpoint connection proxy object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyDelete": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyId}/updatePrivateEndpointProperties": {
      "post": {
        "operationId": "PrivateEndpointConnectionProxies_UpdatePrivateEndpointProperties",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) Updates a private endpoint inside the private endpoint connection proxy object.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionProxyId",
            "in": "path",
            "description": "The ID of the private endpoint connection proxy object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointUpdate",
            "in": "body",
            "description": "The parameters for updating a private endpoint connection proxy.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointUpdate"
            },
            "x-ms-client-name": "privateEndpointUpdate"
          }
        ],
        "responses": {
          "204": {
            "description": "ARM operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyPrivateEndpointUpdate": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_UpdatePrivateEndpointProperties.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyId}/validate": {
      "post": {
        "operationId": "PrivateEndpointConnectionProxies_Validate",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) Validates a private endpoint connection proxy object.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionProxyId",
            "in": "path",
            "description": "The ID of the private endpoint connection proxy object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnectionProxy",
            "in": "body",
            "description": "The parameters for creating a private endpoint connection proxy.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            },
            "x-ms-client-name": "privateEndpointConnectionProxy"
          }
        ],
        "responses": {
          "204": {
            "description": "ARM operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyValidate": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Validate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_ListByAccount",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "List all private endpoint connections in a device update account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionList": {
            "$ref": "./examples/PrivateEndpointConnections_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Get the specified private endpoint connection associated with the device update account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionGet": {
            "$ref": "./examples/PrivateEndpointConnections_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the state of specified private endpoint connection associated with the device update account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnection",
            "in": "body",
            "description": "The parameters for creating a private endpoint connection.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "x-ms-client-name": "privateEndpointConnection"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionCreateOrUpdate": {
            "$ref": "./examples/PrivateEndpointConnections_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the device update account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionDelete": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_ListByAccount",
        "tags": [
          "GroupInformations"
        ],
        "description": "List all private link resources in a device update account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GroupInformationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResourcesList": {
            "$ref": "./examples/PrivateLinkResources_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/accounts/{accountName}/privateLinkResources/{groupId}": {
      "get": {
        "operationId": "PrivateLinkResources_Get",
        "tags": [
          "GroupInformations"
        ],
        "description": "Get the specified private link resource associated with the device update account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID of the private link resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GroupInformation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResourcesGet": {
            "$ref": "./examples/PrivateLinkResources_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Account": {
      "type": "object",
      "description": "Device Update account details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AccountProperties",
          "description": "Device Update account properties.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AccountListResult": {
      "type": "object",
      "description": "The response of a Account list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Account items on this page",
          "items": {
            "$ref": "#/definitions/Account"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AccountProperties": {
      "type": "object",
      "description": "Device Update account properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state.",
          "readOnly": true
        },
        "hostName": {
          "type": "string",
          "description": "API host name.",
          "readOnly": true
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Whether or not public network access is allowed for the account.",
          "default": "Enabled"
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of private endpoint connections associated with the account.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "sku": {
          "$ref": "#/definitions/SKU",
          "description": "Device Update Sku",
          "default": "Standard"
        },
        "encryption": {
          "$ref": "#/definitions/Encryption",
          "description": "CMK encryption at rest properties"
        },
        "locations": {
          "type": "array",
          "description": "Device Update account primary and failover location details",
          "items": {
            "$ref": "#/definitions/Location"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "AccountUpdate": {
      "type": "object",
      "description": "Request payload used to update and existing Accounts.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedServiceIdentity",
          "description": "The type of identity used for the resource."
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives"
        },
        "tags": {
          "type": "object",
          "description": "List of key value pairs that describe the resource. This will overwrite the existing tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AuthenticationType": {
      "type": "string",
      "description": "Authentication Type",
      "enum": [
        "KeyBased"
      ],
      "x-ms-enum": {
        "name": "AuthenticationType",
        "modelAsString": true
      }
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.ResourceManager.Foundations.CheckNameAvailabilityReason": {
      "type": "string",
      "description": "Possible reasons for a name not being available.",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "CheckNameAvailabilityReason",
        "modelAsString": true,
        "values": [
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Name is invalid."
          },
          {
            "name": "AlreadyExists",
            "value": "AlreadyExists",
            "description": "Name already exists."
          }
        ]
      }
    },
    "Azure.ResourceManager.Foundations.ManagedIdentityProperties": {
      "type": "object",
      "description": "The properties of the managed service identities assigned to this resource.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ResourceManager.Foundations.UserAssignedIdentity"
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "Azure.ResourceManager.Foundations.ManagedIdentityType": {
      "type": "string",
      "description": "The kind of managed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No managed identity."
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned, UserAssigned",
            "description": "System and user assigned managed identity."
          }
        ]
      }
    },
    "Azure.ResourceManager.Foundations.UserAssignedIdentity": {
      "type": "object",
      "description": "A managed identity assigned by the user.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      }
    },
    "Azure.ResourceManager.ManagedServiceIdentity": {
      "type": "object",
      "description": "The managed service identities envelope.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      }
    },
    "CheckNameAvailabilityRequest": {
      "type": "object",
      "description": "The check availability request body.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource for which availability needs to be checked."
        },
        "type": {
          "type": "string",
          "description": "The resource type."
        }
      }
    },
    "CheckNameAvailabilityResponse": {
      "type": "object",
      "description": "The check availability result.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Indicates if the resource name is available."
        },
        "reason": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.CheckNameAvailabilityReason",
          "description": "The reason why the given name is not available."
        },
        "message": {
          "type": "string",
          "description": "Detailed reason why the given name is available."
        }
      }
    },
    "ConnectionDetails": {
      "type": "object",
      "description": "Private endpoint connection proxy object properties.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Connection details ID.",
          "readOnly": true
        },
        "privateIpAddress": {
          "type": "string",
          "description": "Private IP address.",
          "readOnly": true
        },
        "linkIdentifier": {
          "type": "string",
          "description": "Link ID.",
          "readOnly": true
        },
        "groupId": {
          "type": "string",
          "description": "Group ID.",
          "readOnly": true
        },
        "memberName": {
          "type": "string",
          "description": "Member name.",
          "readOnly": true
        }
      }
    },
    "DiagnosticStorageProperties": {
      "type": "object",
      "description": "Customer-initiated diagnostic log collection storage properties",
      "properties": {
        "authenticationType": {
          "$ref": "#/definitions/AuthenticationType",
          "description": "Authentication Type"
        },
        "connectionString": {
          "type": "string",
          "description": "ConnectionString of the diagnostic storage account"
        },
        "resourceId": {
          "type": "string",
          "description": "ResourceId of the diagnostic storage account"
        }
      },
      "required": [
        "authenticationType",
        "resourceId"
      ]
    },
    "Encryption": {
      "type": "object",
      "description": "The CMK encryption settings on the Device Update account.",
      "properties": {
        "keyVaultKeyUri": {
          "type": "string",
          "description": "The URI of the key vault"
        },
        "userAssignedIdentity": {
          "type": "string",
          "description": "The full resourceId of the user assigned identity to be used for key vault access. Identity has to be also assigned to the Account"
        }
      }
    },
    "FooPrivateEndpointConnectionProxyProperties": {
      "type": "object",
      "description": "Private endpoint connection proxy object property bag.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/PrivateEndpointConnectionProxyProvisioningState",
          "description": "The provisioning state of the private endpoint connection proxy resource.",
          "readOnly": true
        }
      }
    },
    "GroupConnectivityInformation": {
      "type": "object",
      "description": "Group connectivity details.",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "Group ID.",
          "readOnly": true
        },
        "memberName": {
          "type": "string",
          "description": "Member name.",
          "readOnly": true
        },
        "customerVisibleFqdns": {
          "type": "array",
          "description": "List of customer visible FQDNs.",
          "items": {
            "type": "string"
          }
        },
        "internalFqdn": {
          "type": "string",
          "description": "Internal FQDN.",
          "readOnly": true
        },
        "redirectMapId": {
          "type": "string",
          "description": "Redirect map ID."
        },
        "privateLinkServiceArmRegion": {
          "type": "string",
          "description": "PrivateLinkService ARM region."
        }
      }
    },
    "GroupIdProvisioningState": {
      "type": "string",
      "description": "The provisioning state of private link group ID.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "GroupIdProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "GroupInformation": {
      "type": "object",
      "description": "The group information for creating a private endpoint on an Account",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GroupInformationProperties",
          "description": "The properties for a group information object",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GroupInformationListResult": {
      "type": "object",
      "description": "The response of a GroupInformation list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GroupInformation items on this page",
          "items": {
            "$ref": "#/definitions/GroupInformation"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GroupInformationProperties": {
      "type": "object",
      "description": "The properties for a group information object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/GroupIdProvisioningState",
          "description": "The provisioning state of private link group ID.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PrivateLinkResourceProperties"
        }
      ]
    },
    "Instance": {
      "type": "object",
      "description": "Device Update instance details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/InstanceProperties",
          "description": "Device Update instance properties.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "InstanceListResult": {
      "type": "object",
      "description": "The response of a Instance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Instance items on this page",
          "items": {
            "$ref": "#/definitions/Instance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "InstanceProperties": {
      "type": "object",
      "description": "Device Update instance properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state.",
          "readOnly": true
        },
        "accountName": {
          "type": "string",
          "description": "Parent Device Update Account name which Instance belongs to.",
          "readOnly": true
        },
        "iotHubs": {
          "type": "array",
          "description": "List of IoT Hubs associated with the account.",
          "items": {
            "$ref": "#/definitions/IotHubSettings"
          },
          "x-ms-identifiers": []
        },
        "enableDiagnostics": {
          "type": "boolean",
          "description": "Enables or Disables the diagnostic logs collection"
        },
        "diagnosticStorageProperties": {
          "$ref": "#/definitions/DiagnosticStorageProperties",
          "description": "Customer-initiated diagnostic log collection storage properties"
        }
      }
    },
    "IotHubSettings": {
      "type": "object",
      "description": "Device Update account integration with IoT Hub settings.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "IoTHub resource ID",
          "minLength": 108,
          "maxLength": 244
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "Location": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "$ref": "#/definitions/Role",
          "description": "Whether the location is primary or failover",
          "default": "Primary"
        }
      }
    },
    "ManagedServiceIdentityType": {
      "type": "string",
      "description": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed).",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedServiceIdentityType",
        "modelAsString": true
      }
    },
    "PrivateEndpoint": {
      "type": "object",
      "description": "The Private Endpoint resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM identifier for Private Endpoint",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "The Private Endpoint Connection resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "The response of a PrivateEndpointConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateEndpointConnection items on this page",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Properties of the PrivateEndpointConnectProperties.",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "The resource of private end point."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "A collection of information about the state of the connection between service consumer and provider."
        },
        "groupIds": {
          "type": "array",
          "description": "Array of group IDs.",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/PrivateEndpointConnectionProvisioningState",
          "description": "The provisioning state of the private endpoint connection resource.",
          "readOnly": true
        }
      },
      "required": [
        "privateLinkServiceConnectionState"
      ]
    },
    "PrivateEndpointConnectionProvisioningState": {
      "type": "string",
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Creating",
        "Deleting",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "PrivateEndpointConnectionProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "PrivateEndpointConnectionProxy": {
      "type": "object",
      "description": "Private endpoint connection proxy details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProxyProperties",
          "description": "Private endpoint connection proxy object property bag.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateEndpointConnectionProxyListResult": {
      "type": "object",
      "description": "The response of a PrivateEndpointConnectionProxy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateEndpointConnectionProxy items on this page",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnectionProxy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateEndpointConnectionProxyProperties": {
      "type": "object",
      "description": "Private endpoint connection proxy object properties.",
      "properties": {
        "eTag": {
          "type": "string",
          "description": "ETag from NRP.",
          "readOnly": true
        },
        "remotePrivateEndpoint": {
          "$ref": "#/definitions/RemotePrivateEndpoint",
          "description": "Remote private endpoint details."
        },
        "status": {
          "type": "string",
          "description": "Operation status."
        }
      }
    },
    "PrivateEndpointConnectionProxyProvisioningState": {
      "type": "string",
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Creating",
        "Deleting",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "PrivateEndpointConnectionProxyProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "PrivateEndpointServiceConnectionStatus": {
      "type": "string",
      "description": "The private endpoint connection status.",
      "enum": [
        "Pending",
        "Approved",
        "Rejected"
      ],
      "x-ms-enum": {
        "name": "PrivateEndpointServiceConnectionStatus",
        "modelAsString": true
      }
    },
    "PrivateEndpointUpdate": {
      "type": "object",
      "description": "Private endpoint update details.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Remote endpoint resource ID."
        },
        "location": {
          "type": "string",
          "description": "ARM location of the remote private endpoint."
        },
        "immutableSubscriptionId": {
          "type": "string",
          "description": "Original subscription ID needed by Microsoft.Network."
        },
        "immutableResourceId": {
          "type": "string",
          "description": "Original resource ID needed by Microsoft.Network."
        },
        "vnetTrafficTag": {
          "type": "string",
          "description": "Virtual network traffic tag."
        }
      }
    },
    "PrivateLinkResourceProperties": {
      "type": "object",
      "description": "Properties of a private link resource.",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "The private link resource group id.",
          "readOnly": true
        },
        "requiredMembers": {
          "type": "array",
          "description": "The private link resource required member names.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "requiredZoneNames": {
          "type": "array",
          "description": "The private link resource Private link DNS zone name.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrivateLinkServiceConnection": {
      "type": "object",
      "description": "Private link service connection details.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Private link service connection name."
        },
        "groupIds": {
          "type": "array",
          "description": "List of group IDs.",
          "items": {
            "type": "string"
          }
        },
        "requestMessage": {
          "type": "string",
          "description": "Request message."
        }
      }
    },
    "PrivateLinkServiceConnectionState": {
      "type": "object",
      "description": "A collection of information about the state of the connection between service consumer and provider.",
      "properties": {
        "status": {
          "$ref": "#/definitions/PrivateEndpointServiceConnectionStatus",
          "description": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
        },
        "description": {
          "type": "string",
          "description": "The reason for approval/rejection of the connection."
        },
        "actionsRequired": {
          "type": "string",
          "description": "A message indicating if changes on the service provider require any updates on the consumer."
        }
      }
    },
    "PrivateLinkServiceProxy": {
      "type": "object",
      "description": "Private link service proxy details.",
      "properties": {
        "id": {
          "type": "string",
          "description": "NRP resource ID."
        },
        "remotePrivateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "Remote private link service connection state"
        },
        "remotePrivateEndpointConnection": {
          "$ref": "#/definitions/PrivateLinkServiceProxyRemotePrivateEndpointConnection",
          "description": "Remote private endpoint connection details."
        },
        "groupConnectivityInformation": {
          "type": "array",
          "description": "Group connectivity information.",
          "items": {
            "$ref": "#/definitions/GroupConnectivityInformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PrivateLinkServiceProxyRemotePrivateEndpointConnection": {
      "type": "object",
      "description": "Remote private endpoint connection details.",
      "allOf": [
        {
          "$ref": "#/definitions/RemotePrivateEndpointConnection"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state.",
      "enum": [
        "Succeeded",
        "Deleted",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "PublicNetworkAccess": {
      "type": "string",
      "description": "Whether or not public network access is allowed for the account.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccess",
        "modelAsString": true
      }
    },
    "RemotePrivateEndpoint": {
      "type": "object",
      "description": "Remote private endpoint details.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Remote endpoint resource ID."
        },
        "location": {
          "type": "string",
          "description": "ARM location of the remote private endpoint."
        },
        "immutableSubscriptionId": {
          "type": "string",
          "description": "Original subscription ID needed by Microsoft.Network."
        },
        "immutableResourceId": {
          "type": "string",
          "description": "Original resource ID needed by Microsoft.Network."
        },
        "vnetTrafficTag": {
          "type": "string",
          "description": "Virtual network traffic tag."
        },
        "manualPrivateLinkServiceConnections": {
          "type": "array",
          "description": "List of private link service connections that need manual approval.",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          },
          "x-ms-identifiers": []
        },
        "privateLinkServiceConnections": {
          "type": "array",
          "description": "List of automatically approved private link service connections.",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          },
          "x-ms-identifiers": []
        },
        "privateLinkServiceProxies": {
          "type": "array",
          "description": "List of private link service proxies.",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceProxy"
          }
        },
        "connectionDetails": {
          "type": "array",
          "description": "List of connection details.",
          "items": {
            "$ref": "#/definitions/ConnectionDetails"
          }
        }
      }
    },
    "RemotePrivateEndpointConnection": {
      "type": "object",
      "description": "Remote private endpoint connection details.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Remote private endpoint connection ID.",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    },
    "Role": {
      "type": "string",
      "description": "Whether the location is primary or failover",
      "enum": [
        "Primary",
        "Failover"
      ],
      "x-ms-enum": {
        "name": "Role",
        "modelAsString": true
      }
    },
    "SKU": {
      "type": "string",
      "description": "Device Update Sku",
      "enum": [
        "Free",
        "Standard"
      ],
      "x-ms-enum": {
        "name": "SKU",
        "modelAsString": true
      }
    },
    "TagUpdate": {
      "type": "object",
      "description": "Request payload used to update an existing resource's tags.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "List of key value pairs that describe the resource. This will overwrite the existing tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2023-07-01"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2023_07_01",
            "value": "2023-07-01",
            "description": "The 2023-07-01 API version."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.Core.Foundations.ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "apiVersion"
    }
  }
}
