{
  "swagger": "2.0",
  "info": {
    "title": "Astronomer.Astro",
    "version": "2024-08-27-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Organizations"
    }
  ],
  "paths": {
    "/providers/Astronomer.Astro/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Astronomer.Astro/organizations": {
      "get": {
        "operationId": "Organizations_ListBySubscription",
        "tags": [
          "Organizations"
        ],
        "description": "List OrganizationResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrganizationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_ListBySubscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/Organizations_ListBySubscription_MaximumSet_Gen.json"
          },
          "Organizations_ListBySubscription - generated by [MinimumSet] rule": {
            "$ref": "./examples/Organizations_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Astronomer.Astro/organizations": {
      "get": {
        "operationId": "Organizations_ListByResourceGroup",
        "tags": [
          "Organizations"
        ],
        "description": "List OrganizationResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrganizationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_ListByResourceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/Organizations_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Organizations_ListByResourceGroup - generated by [MinimumSet] rule": {
            "$ref": "./examples/Organizations_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Astronomer.Astro/organizations/{organizationName}": {
      "get": {
        "operationId": "Organizations_Get",
        "tags": [
          "Organizations"
        ],
        "description": "Get a OrganizationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "organizationName",
            "in": "path",
            "description": "Name of the Organizations resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrganizationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/Organizations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Organizations_CreateOrUpdate",
        "tags": [
          "Organizations"
        ],
        "description": "Create a OrganizationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "organizationName",
            "in": "path",
            "description": "Name of the Organizations resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OrganizationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OrganizationResource"
            }
          },
          "201": {
            "description": "Resource 'OrganizationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OrganizationResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Organizations_Update",
        "tags": [
          "Organizations"
        ],
        "description": "Update a OrganizationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "organizationName",
            "in": "path",
            "description": "Name of the Organizations resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrganizationResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/Organizations_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Organizations_Delete",
        "tags": [
          "Organizations"
        ],
        "description": "Delete a OrganizationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "organizationName",
            "in": "path",
            "description": "Name of the Organizations resource",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/Organizations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "LiftrBase.Data.OrganizationProperties": {
      "type": "object",
      "description": "Properties specific to Data Organization resource",
      "properties": {
        "marketplace": {
          "$ref": "#/definitions/LiftrBase.MarketplaceDetails",
          "description": "Marketplace details of the resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetails",
          "description": "Details of the user."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "partnerOrganizationProperties": {
          "$ref": "#/definitions/LiftrBase.Data.PartnerOrganizationProperties",
          "description": "Organization properties"
        }
      },
      "required": [
        "marketplace",
        "user"
      ]
    },
    "LiftrBase.Data.PartnerOrganizationProperties": {
      "type": "object",
      "description": "Properties specific to Partner's organization",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Organization Id in partner's system"
        },
        "workspaceId": {
          "type": "string",
          "description": "Workspace Id in partner's system"
        },
        "organizationName": {
          "type": "string",
          "description": "Organization name in partner's system",
          "minLength": 1,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
        },
        "workspaceName": {
          "type": "string",
          "description": "Workspace name in partner's system",
          "minLength": 1,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
        },
        "singleSignOnProperties": {
          "$ref": "#/definitions/LiftrBase.SingleSignOnProperties",
          "description": "Single Sign On properties for the organization"
        }
      },
      "required": [
        "organizationName"
      ]
    },
    "LiftrBase.Data.PartnerOrganizationPropertiesUpdate": {
      "type": "object",
      "description": "Properties specific to Partner's organization",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Organization Id in partner's system"
        },
        "workspaceId": {
          "type": "string",
          "description": "Workspace Id in partner's system"
        },
        "organizationName": {
          "type": "string",
          "description": "Organization name in partner's system",
          "minLength": 1,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
        },
        "workspaceName": {
          "type": "string",
          "description": "Workspace name in partner's system",
          "minLength": 1,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_\\-.: ]*$"
        },
        "singleSignOnProperties": {
          "$ref": "#/definitions/LiftrBase.SingleSignOnProperties",
          "description": "Single Sign On properties for the organization"
        }
      }
    },
    "LiftrBase.MarketplaceDetails": {
      "type": "object",
      "description": "Marketplace details for an organization",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Azure subscription id for the the marketplace offer is purchased from"
        },
        "subscriptionStatus": {
          "$ref": "#/definitions/LiftrBase.MarketplaceSubscriptionStatus",
          "description": "Marketplace subscription status"
        },
        "offerDetails": {
          "$ref": "#/definitions/LiftrBase.OfferDetails",
          "description": "Offer details for the marketplace that is selected by the user"
        }
      },
      "required": [
        "offerDetails"
      ]
    },
    "LiftrBase.MarketplaceSubscriptionStatus": {
      "type": "string",
      "description": "Marketplace subscription status of a resource.",
      "enum": [
        "PendingFulfillmentStart",
        "Subscribed",
        "Suspended",
        "Unsubscribed"
      ],
      "x-ms-enum": {
        "name": "MarketplaceSubscriptionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "PendingFulfillmentStart",
            "value": "PendingFulfillmentStart",
            "description": "Purchased but not yet activated"
          },
          {
            "name": "Subscribed",
            "value": "Subscribed",
            "description": "Marketplace subscription is activated"
          },
          {
            "name": "Suspended",
            "value": "Suspended",
            "description": "This state indicates that a customer's payment for the Marketplace service was not received"
          },
          {
            "name": "Unsubscribed",
            "value": "Unsubscribed",
            "description": "Customer has cancelled the subscription"
          }
        ]
      }
    },
    "LiftrBase.OfferDetails": {
      "type": "object",
      "description": "Offer details for the marketplace that is selected by the user",
      "properties": {
        "publisherId": {
          "type": "string",
          "description": "Publisher Id for the marketplace offer"
        },
        "offerId": {
          "type": "string",
          "description": "Offer Id for the marketplace offer"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id for the marketplace offer"
        },
        "planName": {
          "type": "string",
          "description": "Plan Name for the marketplace offer"
        },
        "termUnit": {
          "type": "string",
          "description": "Plan Display Name for the marketplace offer"
        },
        "termId": {
          "type": "string",
          "description": "Plan Display Name for the marketplace offer"
        },
        "renewalMode": {
          "$ref": "#/definitions/LiftrBase.RenewalMode",
          "description": "Subscription renewal mode"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "Current subscription end date and time",
          "readOnly": true
        }
      },
      "required": [
        "publisherId",
        "offerId",
        "planId"
      ]
    },
    "LiftrBase.RenewalMode": {
      "type": "string",
      "description": "Subscription renewal mode",
      "enum": [
        "Auto",
        "Manual"
      ],
      "x-ms-enum": {
        "name": "RenewalMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Auto",
            "value": "Auto",
            "description": "Automatic renewal"
          },
          {
            "name": "Manual",
            "value": "Manual",
            "description": "Manual renewal"
          }
        ]
      }
    },
    "LiftrBase.SingleSignOnProperties": {
      "type": "object",
      "description": "Properties specific to Single Sign On Resource",
      "properties": {
        "singleSignOnState": {
          "$ref": "#/definitions/LiftrBase.SingleSignOnStates",
          "description": "State of the Single Sign On for the organization"
        },
        "enterpriseAppId": {
          "type": "string",
          "description": "AAD enterprise application Id used to setup SSO"
        },
        "singleSignOnUrl": {
          "$ref": "#/definitions/LiftrBase.Uri",
          "description": "URL for SSO to be used by the partner to redirect the user to their system"
        },
        "aadDomains": {
          "type": "array",
          "description": "List of AAD domains fetched from Microsoft Graph for user.",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning State of the resource",
          "readOnly": true
        }
      }
    },
    "LiftrBase.SingleSignOnStates": {
      "type": "string",
      "description": "Various states of the SSO resource",
      "enum": [
        "Initial",
        "Enable",
        "Disable"
      ],
      "x-ms-enum": {
        "name": "SingleSignOnStates",
        "modelAsString": true,
        "values": [
          {
            "name": "Initial",
            "value": "Initial",
            "description": "Initial state of the SSO resource"
          },
          {
            "name": "Enable",
            "value": "Enable",
            "description": "State of the SSO resource when it is enabled"
          },
          {
            "name": "Disable",
            "value": "Disable",
            "description": "State of the SSO resource when it is disabled"
          }
        ]
      }
    },
    "LiftrBase.Uri": {
      "type": "string",
      "description": "A string that represents a URI."
    },
    "LiftrBase.UserDetails": {
      "type": "object",
      "description": "User details for an organization",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of the user"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the user"
        },
        "emailAddress": {
          "$ref": "#/definitions/LiftrBase.email",
          "description": "Email address of the user"
        },
        "upn": {
          "type": "string",
          "description": "User's principal name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number"
        }
      },
      "required": [
        "firstName",
        "lastName",
        "emailAddress"
      ]
    },
    "LiftrBase.UserDetailsUpdate": {
      "type": "object",
      "description": "User details for an organization",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of the user"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the user"
        },
        "emailAddress": {
          "$ref": "#/definitions/LiftrBase.email",
          "description": "Email address of the user"
        },
        "upn": {
          "type": "string",
          "description": "User's principal name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number"
        }
      }
    },
    "LiftrBase.email": {
      "type": "string",
      "description": "Reusable representation of an email address.",
      "pattern": "^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z]{2,}$"
    },
    "OrganizationResource": {
      "type": "object",
      "description": "Organization Resource by Astronomer",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LiftrBase.Data.OrganizationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OrganizationResourceListResult": {
      "type": "object",
      "description": "The response of a OrganizationResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OrganizationResource items on this page",
          "items": {
            "$ref": "#/definitions/OrganizationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OrganizationResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the OrganizationResource.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/OrganizationResourceUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "OrganizationResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the OrganizationResource.",
      "properties": {
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetailsUpdate",
          "description": "Details of the user."
        },
        "partnerOrganizationProperties": {
          "$ref": "#/definitions/LiftrBase.Data.PartnerOrganizationPropertiesUpdate",
          "description": "Organization properties"
        }
      }
    }
  },
  "parameters": {}
}
