{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2025-05-04",
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Assessments Metadata"
    },
    {
      "name": "Assessments"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.Security/assessments": {
      "get": {
        "operationId": "Assessments_List",
        "tags": [
          "Assessments"
        ],
        "description": "Get security assessments on all your scanned resources inside a scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security assessments": {
            "$ref": "./examples/Assessments/ListAssessments_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/assessments/{assessmentName}": {
      "get": {
        "operationId": "Assessments_Get",
        "tags": [
          "Assessments"
        ],
        "description": "Get a security assessment on your scanned resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "The Assessment Key - Unique key for the assessment type",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "OData expand. Optional.",
            "required": false,
            "type": "string",
            "enum": [
              "links",
              "metadata"
            ],
            "x-ms-enum": {
              "name": "ExpandEnum",
              "modelAsString": true,
              "values": [
                {
                  "name": "links",
                  "value": "links",
                  "description": "All links associated with an assessment"
                },
                {
                  "name": "metadata",
                  "value": "metadata",
                  "description": "Assessment metadata"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security recommendation task from security data location": {
            "$ref": "./examples/Assessments/GetAssessment_example.json"
          },
          "Get security recommendation task from security data location with expand parameter": {
            "$ref": "./examples/Assessments/GetAssessmentWithExpand_example.json"
          }
        }
      },
      "put": {
        "operationId": "Assessments_CreateOrUpdate",
        "tags": [
          "Assessments"
        ],
        "description": "Create a security assessment on your resource. An assessment metadata that describes this assessment must be predefined with the same name before inserting the assessment result",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "The Assessment Key - Unique key for the assessment type",
            "required": true,
            "type": "string"
          },
          {
            "name": "assessment",
            "in": "body",
            "description": "Calculated assessment on a pre-defined assessment metadata",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityAssessment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SecurityAssessmentResponse' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentResponse"
            }
          },
          "201": {
            "description": "Resource 'SecurityAssessmentResponse' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create security recommendation task on a resource": {
            "$ref": "./examples/Assessments/PutAssessment_example.json"
          }
        }
      },
      "delete": {
        "operationId": "Assessments_Delete",
        "tags": [
          "Assessments"
        ],
        "description": "Delete a security assessment on your resource. An assessment metadata that describes this assessment must be predefined with the same name before inserting the assessment result",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "The Assessment Key - Unique key for the assessment type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a security recommendation task on a resource": {
            "$ref": "./examples/Assessments/DeleteAssessment_example.json"
          }
        }
      }
    },
    "/providers/Microsoft.Security/assessmentMetadata": {
      "get": {
        "operationId": "AssessmentsMetadata_List",
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on all assessment types",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponseList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security assessment metadata": {
            "$ref": "./examples/AssessmentsMetadata/ListAssessmentsMetadata_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Security/assessmentMetadata/{assessmentMetadataName}": {
      "get": {
        "operationId": "AssessmentsMetadata_Get",
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on an assessment type",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "assessmentMetadataName",
            "in": "path",
            "description": "The Assessment Key - Unique key for the assessment type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security assessment metadata": {
            "$ref": "./examples/AssessmentsMetadata/GetAssessmentsMetadata_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentMetadata": {
      "get": {
        "operationId": "AssessmentsMetadata_ListBySubscription",
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on all assessment types in a specific subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponseList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security assessment metadata for subscription": {
            "$ref": "./examples/AssessmentsMetadata/ListAssessmentsMetadata_subscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentMetadata/{assessmentMetadataName}": {
      "get": {
        "operationId": "AssessmentsMetadata_GetInSubscription",
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on an assessment type in a specific subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "assessmentMetadataName",
            "in": "path",
            "description": "The Assessment Key - Unique key for the assessment type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security assessment metadata for subscription": {
            "$ref": "./examples/AssessmentsMetadata/GetAssessmentsMetadata_subscription_example.json"
          }
        }
      },
      "put": {
        "operationId": "AssessmentsMetadata_CreateInSubscription",
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Create metadata information on an assessment type in a specific subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "assessmentMetadataName",
            "in": "path",
            "description": "The Assessment Key - Unique key for the assessment type",
            "required": true,
            "type": "string"
          },
          {
            "name": "assessmentMetadata",
            "in": "body",
            "description": "AssessmentMetadata object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SecurityAssessmentMetadataResponse' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create security assessment metadata for subscription": {
            "$ref": "./examples/AssessmentsMetadata/CreateAssessmentsMetadata_subscription_example.json"
          }
        }
      },
      "delete": {
        "operationId": "AssessmentsMetadata_DeleteInSubscription",
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Delete metadata information on an assessment type in a specific subscription, will cause the deletion of all the assessments of that type in that subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "assessmentMetadataName",
            "in": "path",
            "description": "The Assessment Key - Unique key for the assessment type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a security assessment metadata for subscription": {
            "$ref": "./examples/AssessmentsMetadata/DeleteAssessmentsMetadata_subscription_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AssessmentLinks": {
      "type": "object",
      "description": "Links relevant to the assessment",
      "properties": {
        "azurePortalUri": {
          "type": "string",
          "description": "Link to assessment in Azure Portal",
          "readOnly": true
        }
      }
    },
    "AssessmentStatus": {
      "type": "object",
      "description": "The result of the assessment",
      "properties": {
        "code": {
          "$ref": "#/definitions/AssessmentStatusCode",
          "description": "Programmatic code for the status of the assessment"
        },
        "cause": {
          "type": "string",
          "description": "Programmatic code for the cause of the assessment status"
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the assessment status"
        }
      },
      "required": [
        "code"
      ]
    },
    "AssessmentStatusCode": {
      "type": "string",
      "description": "Programmatic code for the status of the assessment",
      "enum": [
        "Healthy",
        "Unhealthy",
        "NotApplicable"
      ],
      "x-ms-enum": {
        "name": "AssessmentStatusCode",
        "modelAsString": true,
        "values": [
          {
            "name": "Healthy",
            "value": "Healthy",
            "description": "The resource is healthy"
          },
          {
            "name": "Unhealthy",
            "value": "Unhealthy",
            "description": "The resource has a security issue that needs to be addressed"
          },
          {
            "name": "NotApplicable",
            "value": "NotApplicable",
            "description": "Assessment for this resource did not happen"
          }
        ]
      }
    },
    "AssessmentStatusResponse": {
      "type": "object",
      "description": "The result of the assessment",
      "properties": {
        "firstEvaluationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time that the assessment was created and first evaluated. Returned as UTC time in ISO 8601 format",
          "readOnly": true
        },
        "statusChangeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time that the status of the assessment last changed. Returned as UTC time in ISO 8601 format",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AssessmentStatus"
        }
      ]
    },
    "AssessmentType": {
      "type": "string",
      "description": "BuiltIn if the assessment based on built-in Azure Policy definition, Custom if the assessment based on custom Azure Policy definition",
      "enum": [
        "Unknown",
        "BuiltIn",
        "Custom",
        "CustomPolicy",
        "CustomerManaged",
        "BuiltInPolicy",
        "VerifiedPartner",
        "ManualBuiltInPolicy",
        "ManualBuiltIn",
        "ManualCustomPolicy",
        "DynamicBuiltIn"
      ],
      "x-ms-enum": {
        "name": "AssessmentType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown assessment type"
          },
          {
            "name": "BuiltIn",
            "value": "BuiltIn",
            "description": "Microsoft Defender for Cloud managed assessments"
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "User defined custom assessments"
          },
          {
            "name": "CustomPolicy",
            "value": "CustomPolicy",
            "description": "User defined policies that are automatically ingested from Azure Policy to Microsoft Defender for Cloud"
          },
          {
            "name": "CustomerManaged",
            "value": "CustomerManaged",
            "description": "User assessments pushed directly by the user or other third party to Microsoft Defender for Cloud"
          },
          {
            "name": "BuiltInPolicy",
            "value": "BuiltInPolicy",
            "description": "Microsoft Defender for Cloud managed policies"
          },
          {
            "name": "VerifiedPartner",
            "value": "VerifiedPartner",
            "description": "Third party assessments that are verified by Microsoft Defender for Cloud"
          },
          {
            "name": "ManualBuiltInPolicy",
            "value": "ManualBuiltInPolicy",
            "description": "Microsoft Defender for Cloud managed policies that are manually created by the user"
          },
          {
            "name": "ManualBuiltIn",
            "value": "ManualBuiltIn",
            "description": "Microsoft Defender for Cloud managed assessments that are manually created by the user"
          },
          {
            "name": "ManualCustomPolicy",
            "value": "ManualCustomPolicy",
            "description": "User defined policies that are manually created by the user"
          },
          {
            "name": "DynamicBuiltIn",
            "value": "DynamicBuiltIn",
            "description": "Microsoft Defender for Cloud managed assessments that are dynamically created by the system"
          }
        ]
      }
    },
    "AzureResourceDetails": {
      "type": "object",
      "description": "Details of the Azure resource that was assessed",
      "properties": {
        "id": {
          "type": "string",
          "description": "Azure resource Id of the assessed resource",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Azure"
    },
    "Categories": {
      "type": "string",
      "description": "The categories of resource that is at risk when the assessment is unhealthy",
      "enum": [
        "Compute",
        "Networking",
        "Data",
        "IdentityAndAccess",
        "IoT",
        "Container",
        "AppServices"
      ],
      "x-ms-enum": {
        "name": "Categories",
        "modelAsString": true,
        "values": [
          {
            "name": "Compute",
            "value": "Compute",
            "description": "Compute"
          },
          {
            "name": "Networking",
            "value": "Networking",
            "description": "Networking"
          },
          {
            "name": "Data",
            "value": "Data",
            "description": "Data"
          },
          {
            "name": "IdentityAndAccess",
            "value": "IdentityAndAccess",
            "description": "IdentityAndAccess"
          },
          {
            "name": "IoT",
            "value": "IoT",
            "description": "IoT"
          },
          {
            "name": "Container",
            "value": "Container",
            "description": "Container"
          },
          {
            "name": "AppServices",
            "value": "AppServices",
            "description": "AppServices"
          }
        ]
      }
    },
    "CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "readOnly": true
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "readOnly": true
        }
      },
      "x-ms-external": true
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "ImplementationEffort": {
      "type": "string",
      "description": "The implementation effort required to remediate this assessment",
      "enum": [
        "Low",
        "Moderate",
        "High"
      ],
      "x-ms-enum": {
        "name": "ImplementationEffort",
        "modelAsString": true,
        "values": [
          {
            "name": "Low",
            "value": "Low",
            "description": "Low"
          },
          {
            "name": "Moderate",
            "value": "Moderate",
            "description": "Moderate"
          },
          {
            "name": "High",
            "value": "High",
            "description": "High"
          }
        ]
      }
    },
    "OnPremiseResourceDetails": {
      "type": "object",
      "description": "Details of the On Premise resource that was assessed",
      "properties": {
        "source": {
          "type": "string",
          "description": "Discriminator property for OnPremiseResourceDetails."
        },
        "workspaceId": {
          "type": "string",
          "description": "Azure resource Id of the workspace the machine is attached to"
        },
        "vmuuid": {
          "type": "string",
          "description": "The unique Id of the machine"
        },
        "sourceComputerId": {
          "type": "string",
          "description": "The oms agent Id installed on the machine"
        },
        "machineName": {
          "type": "string",
          "description": "The name of the machine"
        }
      },
      "discriminator": "source",
      "required": [
        "source",
        "workspaceId",
        "vmuuid",
        "sourceComputerId",
        "machineName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ResourceDetails"
        }
      ]
    },
    "OnPremiseSqlResourceDetails": {
      "type": "object",
      "description": "Details of the On Premise Sql resource that was assessed",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "The Sql server name installed on the machine"
        },
        "databaseName": {
          "type": "string",
          "description": "The Sql database name installed on the machine"
        }
      },
      "required": [
        "serverName",
        "databaseName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/OnPremiseResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "OnPremiseSql"
    },
    "Resource": {
      "type": "object",
      "description": "Describes an Azure resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Resource type",
          "readOnly": true
        }
      }
    },
    "ResourceDetails": {
      "type": "object",
      "description": "Details of the resource that was assessed",
      "properties": {
        "source": {
          "$ref": "#/definitions/Source",
          "description": "The platform where the assessed resource resides"
        }
      },
      "discriminator": "source",
      "required": [
        "source"
      ]
    },
    "RiskLevel": {
      "type": "string",
      "description": "The risk level",
      "enum": [
        "None",
        "Low",
        "Medium",
        "High",
        "Critical"
      ],
      "x-ms-enum": {
        "name": "RiskLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Low",
            "value": "Low",
            "description": "Low"
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "Medium"
          },
          {
            "name": "High",
            "value": "High",
            "description": "High"
          },
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Critical"
          }
        ]
      }
    },
    "SecurityAssessment": {
      "type": "object",
      "description": "Security assessment on a resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityAssessmentProperties",
          "description": "Describes properties of an assessment.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "SecurityAssessmentList": {
      "type": "object",
      "description": "Page of a security assessments list",
      "properties": {
        "value": {
          "type": "array",
          "description": "[Placeholder] Discription for value property",
          "items": {
            "$ref": "#/definitions/SecurityAssessmentResponse"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "[Placeholder] Discription for nextLink property"
        }
      }
    },
    "SecurityAssessmentMetadata": {
      "type": "object",
      "description": "Security assessment metadata",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityAssessmentMetadataProperties",
          "description": "Describes properties of an assessment metadata.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "SecurityAssessmentMetadataPartnerData": {
      "type": "object",
      "description": "Describes the partner that created the assessment",
      "properties": {
        "partnerName": {
          "type": "string",
          "description": "Name of the company of the partner"
        },
        "productName": {
          "type": "string",
          "description": "Name of the product of the partner that created the assessment"
        },
        "secret": {
          "type": "string",
          "format": "password",
          "description": "Secret to authenticate the partner and verify it created the assessment - write only",
          "x-ms-secret": true
        }
      },
      "required": [
        "partnerName",
        "secret"
      ]
    },
    "SecurityAssessmentMetadataProperties": {
      "type": "object",
      "description": "Describes properties of an assessment metadata.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User friendly display name of the assessment"
        },
        "policyDefinitionId": {
          "type": "string",
          "description": "Azure resource ID of the policy definition that turns this assessment calculation on",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the assessment"
        },
        "remediationDescription": {
          "type": "string",
          "description": "Human readable description of what you should do to mitigate this security issue"
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Categories"
          }
        },
        "severity": {
          "$ref": "#/definitions/Severity",
          "description": "The severity level of the assessment"
        },
        "userImpact": {
          "$ref": "#/definitions/UserImpact",
          "description": "The user impact of the assessment"
        },
        "implementationEffort": {
          "$ref": "#/definitions/ImplementationEffort",
          "description": "The implementation effort required to remediate this assessment"
        },
        "threats": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Threats"
          }
        },
        "preview": {
          "type": "boolean",
          "description": "True if this assessment is in preview release status"
        },
        "assessmentType": {
          "$ref": "#/definitions/AssessmentType",
          "description": "BuiltIn if the assessment based on built-in Azure Policy definition, Custom if the assessment based on custom Azure Policy definition"
        },
        "partnerData": {
          "$ref": "#/definitions/SecurityAssessmentMetadataPartnerData",
          "description": "Describes the partner that created the assessment"
        }
      },
      "required": [
        "displayName",
        "severity",
        "assessmentType"
      ]
    },
    "SecurityAssessmentMetadataPropertiesResponse": {
      "type": "object",
      "description": "Describes properties of an assessment metadata response.",
      "properties": {
        "publishDates": {
          "$ref": "#/definitions/SecurityAssessmentMetadataPropertiesResponsePublishDates"
        },
        "plannedDeprecationDate": {
          "type": "string",
          "pattern": "^[0-9]{2}/[0-9]{4}$"
        },
        "tactics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tactics"
          }
        },
        "techniques": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Techniques"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SecurityAssessmentMetadataProperties"
        }
      ]
    },
    "SecurityAssessmentMetadataPropertiesResponsePublishDates": {
      "type": "object",
      "properties": {
        "GA": {
          "type": "string",
          "pattern": "^([0-9]{2}/){2}[0-9]{4}$"
        },
        "public": {
          "type": "string",
          "pattern": "^([0-9]{2}/){2}[0-9]{4}$"
        }
      },
      "required": [
        "public"
      ]
    },
    "SecurityAssessmentMetadataResponse": {
      "type": "object",
      "description": "Security assessment metadata response",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityAssessmentMetadataPropertiesResponse",
          "description": "Describes properties of an assessment metadata response.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SecurityAssessmentMetadataResponseList": {
      "type": "object",
      "description": "List of security assessment metadata",
      "properties": {
        "value": {
          "type": "array",
          "description": "[Placeholder] Discription for value property",
          "items": {
            "$ref": "#/definitions/SecurityAssessmentMetadataResponse"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "[Placeholder] Discription for nextLink property"
        }
      }
    },
    "SecurityAssessmentPartnerData": {
      "type": "object",
      "description": "Data regarding 3rd party partner integration",
      "properties": {
        "partnerName": {
          "type": "string",
          "description": "Name of the company of the partner"
        },
        "secret": {
          "type": "string",
          "format": "password",
          "description": "secret to authenticate the partner - write only",
          "x-ms-secret": true
        }
      },
      "required": [
        "partnerName",
        "secret"
      ]
    },
    "SecurityAssessmentProperties": {
      "type": "object",
      "description": "Describes properties of an assessment.",
      "properties": {
        "status": {
          "$ref": "#/definitions/AssessmentStatus",
          "description": "The result of the assessment"
        }
      },
      "required": [
        "status"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SecurityAssessmentPropertiesBase"
        }
      ]
    },
    "SecurityAssessmentPropertiesBase": {
      "type": "object",
      "description": "Describes properties of an assessment.",
      "properties": {
        "risk": {
          "$ref": "#/definitions/SecurityAssessmentPropertiesBaseRisk",
          "description": "External model of risk result"
        },
        "resourceDetails": {
          "$ref": "#/definitions/ResourceDetails",
          "description": "Details of the resource that was assessed"
        },
        "displayName": {
          "type": "string",
          "description": "User friendly display name of the assessment",
          "readOnly": true
        },
        "additionalData": {
          "type": "object",
          "description": "Additional data regarding the assessment",
          "additionalProperties": {
            "type": "string"
          }
        },
        "links": {
          "$ref": "#/definitions/AssessmentLinks",
          "description": "Links relevant to the assessment",
          "readOnly": true
        },
        "metadata": {
          "$ref": "#/definitions/SecurityAssessmentMetadataProperties",
          "description": "Describes properties of an assessment metadata."
        },
        "partnersData": {
          "$ref": "#/definitions/SecurityAssessmentPartnerData",
          "description": "Data regarding 3rd party partner integration"
        }
      },
      "required": [
        "resourceDetails"
      ]
    },
    "SecurityAssessmentPropertiesBaseRisk": {
      "type": "object",
      "description": "External model of risk result",
      "properties": {
        "riskFactors": {
          "type": "array",
          "description": "The factors of the risk adding base factor",
          "items": {
            "type": "string"
          }
        },
        "level": {
          "$ref": "#/definitions/RiskLevel",
          "description": "The risk level"
        },
        "attackPathsReferences": {
          "type": "array",
          "description": "The attack paths references of the risk",
          "items": {
            "type": "string"
          }
        },
        "paths": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityAssessmentPropertiesBaseRiskPathsItem"
          }
        },
        "isContextualRisk": {
          "type": "boolean",
          "description": "Indicates if the risk is contextual or static"
        }
      }
    },
    "SecurityAssessmentPropertiesBaseRiskPathsItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the path"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityAssessmentPropertiesBaseRiskPathsItemNodesItem"
          }
        },
        "edges": {
          "type": "array",
          "description": "Connections between nodes",
          "items": {
            "$ref": "#/definitions/SecurityAssessmentPropertiesBaseRiskPathsItemEdgeItem"
          }
        }
      }
    },
    "SecurityAssessmentPropertiesBaseRiskPathsItemEdgeItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Edge identifier"
        },
        "targetId": {
          "type": "string",
          "description": "Target node identifier"
        },
        "sourceId": {
          "type": "string",
          "description": "Source node identifier"
        }
      },
      "required": [
        "id",
        "targetId",
        "sourceId"
      ]
    },
    "SecurityAssessmentPropertiesBaseRiskPathsItemNodesItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Node identifier"
        },
        "nodePropertiesLabel": {
          "type": "array",
          "description": "Properties associated with the node",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SecurityAssessmentPropertiesResponse": {
      "type": "object",
      "description": "Describes properties of an assessment.",
      "properties": {
        "status": {
          "$ref": "#/definitions/AssessmentStatusResponse",
          "description": "The result of the assessment"
        }
      },
      "required": [
        "status"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SecurityAssessmentPropertiesBase"
        }
      ]
    },
    "SecurityAssessmentResponse": {
      "type": "object",
      "description": "Security assessment on a resource - response format",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityAssessmentPropertiesResponse",
          "description": "Describes properties of an assessment.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "Severity": {
      "type": "string",
      "description": "The severity level of the assessment",
      "enum": [
        "Low",
        "Medium",
        "High",
        "Critical"
      ],
      "x-ms-enum": {
        "name": "Severity",
        "modelAsString": true,
        "values": [
          {
            "name": "Low",
            "value": "Low",
            "description": "Low"
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "Medium"
          },
          {
            "name": "High",
            "value": "High",
            "description": "High"
          },
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Critical"
          }
        ]
      }
    },
    "Source": {
      "type": "string",
      "description": "The platform where the assessed resource resides",
      "enum": [
        "Azure",
        "OnPremise",
        "OnPremiseSql"
      ],
      "x-ms-enum": {
        "name": "Source",
        "modelAsString": true,
        "values": [
          {
            "name": "Azure",
            "value": "Azure",
            "description": "Resource is in Azure"
          },
          {
            "name": "OnPremise",
            "value": "OnPremise",
            "description": "Resource in an on premise machine connected to Azure cloud"
          },
          {
            "name": "OnPremiseSql",
            "value": "OnPremiseSql",
            "description": "SQL Resource in an on premise machine connected to Azure cloud"
          }
        ]
      }
    },
    "Tactics": {
      "type": "string",
      "description": "Tactic of the assessment",
      "enum": [
        "Reconnaissance",
        "Resource Development",
        "Initial Access",
        "Execution",
        "Persistence",
        "Privilege Escalation",
        "Defense Evasion",
        "Credential Access",
        "Discovery",
        "Lateral Movement",
        "Collection",
        "Command and Control",
        "Exfiltration",
        "Impact"
      ],
      "x-ms-enum": {
        "name": "Tactics",
        "modelAsString": true,
        "values": [
          {
            "name": "Reconnaissance",
            "value": "Reconnaissance",
            "description": "Reconnaissance"
          },
          {
            "name": "Resource Development",
            "value": "Resource Development",
            "description": "Resource Development"
          },
          {
            "name": "Initial Access",
            "value": "Initial Access",
            "description": "Initial Access"
          },
          {
            "name": "Execution",
            "value": "Execution",
            "description": "Execution"
          },
          {
            "name": "Persistence",
            "value": "Persistence",
            "description": "Persistence"
          },
          {
            "name": "Privilege Escalation",
            "value": "Privilege Escalation",
            "description": "Privilege Escalation"
          },
          {
            "name": "Defense Evasion",
            "value": "Defense Evasion",
            "description": "Defense Evasion"
          },
          {
            "name": "Credential Access",
            "value": "Credential Access",
            "description": "Credential Access"
          },
          {
            "name": "Discovery",
            "value": "Discovery",
            "description": "Discovery"
          },
          {
            "name": "Lateral Movement",
            "value": "Lateral Movement",
            "description": "Lateral Movement"
          },
          {
            "name": "Collection",
            "value": "Collection",
            "description": "Collection"
          },
          {
            "name": "Command and Control",
            "value": "Command and Control",
            "description": "Command and Control"
          },
          {
            "name": "Exfiltration",
            "value": "Exfiltration",
            "description": "Exfiltration"
          },
          {
            "name": "Impact",
            "value": "Impact",
            "description": "Impact"
          }
        ]
      }
    },
    "Techniques": {
      "type": "string",
      "description": "Techniques of the assessment",
      "enum": [
        "Abuse Elevation Control Mechanism",
        "Access Token Manipulation",
        "Account Discovery",
        "Account Manipulation",
        "Active Scanning",
        "Application Layer Protocol",
        "Audio Capture",
        "Boot or Logon Autostart Execution",
        "Boot or Logon Initialization Scripts",
        "Brute Force",
        "Cloud Infrastructure Discovery",
        "Cloud Service Dashboard",
        "Cloud Service Discovery",
        "Command and Scripting Interpreter",
        "Compromise Client Software Binary",
        "Compromise Infrastructure",
        "Container and Resource Discovery",
        "Create Account",
        "Create or Modify System Process",
        "Credentials from Password Stores",
        "Data Destruction",
        "Data Encrypted for Impact",
        "Data from Cloud Storage Object",
        "Data from Configuration Repository",
        "Data from Information Repositories",
        "Data from Local System",
        "Data Manipulation",
        "Data Staged",
        "Defacement",
        "Deobfuscate/Decode Files or Information",
        "Disk Wipe",
        "Domain Trust Discovery",
        "Drive-by Compromise",
        "Dynamic Resolution",
        "Endpoint Denial of Service",
        "Event Triggered Execution",
        "Exfiltration Over Alternative Protocol",
        "Exploit Public-Facing Application",
        "Exploitation for Client Execution",
        "Exploitation for Credential Access",
        "Exploitation for Defense Evasion",
        "Exploitation for Privilege Escalation",
        "Exploitation of Remote Services",
        "External Remote Services",
        "Fallback Channels",
        "File and Directory Discovery",
        "Gather Victim Network Information",
        "Hide Artifacts",
        "Hijack Execution Flow",
        "Impair Defenses",
        "Implant Container Image",
        "Indicator Removal on Host",
        "Indirect Command Execution",
        "Ingress Tool Transfer",
        "Input Capture",
        "Inter-Process Communication",
        "Lateral Tool Transfer",
        "Man-in-the-Middle",
        "Masquerading",
        "Modify Authentication Process",
        "Modify Registry",
        "Network Denial of Service",
        "Network Service Scanning",
        "Network Sniffing",
        "Non-Application Layer Protocol",
        "Non-Standard Port",
        "Obtain Capabilities",
        "Obfuscated Files or Information",
        "Office Application Startup",
        "OS Credential Dumping",
        "Permission Groups Discovery",
        "Phishing",
        "Pre-OS Boot",
        "Process Discovery",
        "Process Injection",
        "Protocol Tunneling",
        "Proxy",
        "Query Registry",
        "Remote Access Software",
        "Remote Service Session Hijacking",
        "Remote Services",
        "Remote System Discovery",
        "Resource Hijacking",
        "Scheduled Task/Job",
        "Screen Capture",
        "Search Victim-Owned Websites",
        "Server Software Component",
        "Service Stop",
        "Signed Binary Proxy Execution",
        "Software Deployment Tools",
        "SQL Stored Procedures",
        "Steal or Forge Kerberos Tickets",
        "Subvert Trust Controls",
        "Supply Chain Compromise",
        "System Information Discovery",
        "Taint Shared Content",
        "Traffic Signaling",
        "Transfer Data to Cloud Account",
        "Trusted Relationship",
        "Unsecured Credentials",
        "User Execution",
        "Valid Accounts",
        "Windows Management Instrumentation",
        "File and Directory Permissions Modification"
      ],
      "x-ms-enum": {
        "name": "Techniques",
        "modelAsString": true,
        "values": [
          {
            "name": "Abuse Elevation Control Mechanism",
            "value": "Abuse Elevation Control Mechanism",
            "description": "Abuse Elevation Control Mechanism"
          },
          {
            "name": "Access Token Manipulation",
            "value": "Access Token Manipulation",
            "description": "Access Token Manipulation"
          },
          {
            "name": "Account Discovery",
            "value": "Account Discovery",
            "description": "Account Discovery"
          },
          {
            "name": "Account Manipulation",
            "value": "Account Manipulation",
            "description": "Account Manipulation"
          },
          {
            "name": "Active Scanning",
            "value": "Active Scanning",
            "description": "Active Scanning"
          },
          {
            "name": "Application Layer Protocol",
            "value": "Application Layer Protocol",
            "description": "Application Layer Protocol"
          },
          {
            "name": "Audio Capture",
            "value": "Audio Capture",
            "description": "Audio Capture"
          },
          {
            "name": "Boot or Logon Autostart Execution",
            "value": "Boot or Logon Autostart Execution",
            "description": "Boot or Logon Autostart Execution"
          },
          {
            "name": "Boot or Logon Initialization Scripts",
            "value": "Boot or Logon Initialization Scripts",
            "description": "Boot or Logon Initialization Scripts"
          },
          {
            "name": "Brute Force",
            "value": "Brute Force",
            "description": "Brute Force"
          },
          {
            "name": "Cloud Infrastructure Discovery",
            "value": "Cloud Infrastructure Discovery",
            "description": "Cloud Infrastructure Discovery"
          },
          {
            "name": "Cloud Service Dashboard",
            "value": "Cloud Service Dashboard",
            "description": "Cloud Service Dashboard"
          },
          {
            "name": "Cloud Service Discovery",
            "value": "Cloud Service Discovery",
            "description": "Cloud Service Discovery"
          },
          {
            "name": "Command and Scripting Interpreter",
            "value": "Command and Scripting Interpreter",
            "description": "Command and Scripting Interpreter"
          },
          {
            "name": "Compromise Client Software Binary",
            "value": "Compromise Client Software Binary",
            "description": "Compromise Client Software Binary"
          },
          {
            "name": "Compromise Infrastructure",
            "value": "Compromise Infrastructure",
            "description": "Compromise Infrastructure"
          },
          {
            "name": "Container and Resource Discovery",
            "value": "Container and Resource Discovery",
            "description": "Container and Resource Discovery"
          },
          {
            "name": "Create Account",
            "value": "Create Account",
            "description": "Create Account"
          },
          {
            "name": "Create or Modify System Process",
            "value": "Create or Modify System Process",
            "description": "Create or Modify System Process"
          },
          {
            "name": "Credentials from Password Stores",
            "value": "Credentials from Password Stores",
            "description": "Credentials from Password Stores"
          },
          {
            "name": "Data Destruction",
            "value": "Data Destruction",
            "description": "Data Destruction"
          },
          {
            "name": "Data Encrypted for Impact",
            "value": "Data Encrypted for Impact",
            "description": "Data Encrypted for Impact"
          },
          {
            "name": "Data from Cloud Storage Object",
            "value": "Data from Cloud Storage Object",
            "description": "Data from Cloud Storage Object"
          },
          {
            "name": "Data from Configuration Repository",
            "value": "Data from Configuration Repository",
            "description": "Data from Configuration Repository"
          },
          {
            "name": "Data from Information Repositories",
            "value": "Data from Information Repositories",
            "description": "Data from Information Repositories"
          },
          {
            "name": "Data from Local System",
            "value": "Data from Local System",
            "description": "Data from Local System"
          },
          {
            "name": "Data Manipulation",
            "value": "Data Manipulation",
            "description": "Data Manipulation"
          },
          {
            "name": "Data Staged",
            "value": "Data Staged",
            "description": "Data Staged"
          },
          {
            "name": "Defacement",
            "value": "Defacement",
            "description": "Defacement"
          },
          {
            "name": "Deobfuscate/Decode Files or Information",
            "value": "Deobfuscate/Decode Files or Information",
            "description": "Deobfuscate/Decode Files or Information"
          },
          {
            "name": "Disk Wipe",
            "value": "Disk Wipe",
            "description": "Disk Wipe"
          },
          {
            "name": "Domain Trust Discovery",
            "value": "Domain Trust Discovery",
            "description": "Domain Trust Discovery"
          },
          {
            "name": "Drive-by Compromise",
            "value": "Drive-by Compromise",
            "description": "Drive-by Compromise"
          },
          {
            "name": "Dynamic Resolution",
            "value": "Dynamic Resolution",
            "description": "Dynamic Resolution"
          },
          {
            "name": "Endpoint Denial of Service",
            "value": "Endpoint Denial of Service",
            "description": "Endpoint Denial of Service"
          },
          {
            "name": "Event Triggered Execution",
            "value": "Event Triggered Execution",
            "description": "Event Triggered Execution"
          },
          {
            "name": "Exfiltration Over Alternative Protocol",
            "value": "Exfiltration Over Alternative Protocol",
            "description": "Exfiltration Over Alternative Protocol"
          },
          {
            "name": "Exploit Public-Facing Application",
            "value": "Exploit Public-Facing Application",
            "description": "Exploit Public-Facing Application"
          },
          {
            "name": "Exploitation for Client Execution",
            "value": "Exploitation for Client Execution",
            "description": "Exploitation for Client Execution"
          },
          {
            "name": "Exploitation for Credential Access",
            "value": "Exploitation for Credential Access",
            "description": "Exploitation for Credential Access"
          },
          {
            "name": "Exploitation for Defense Evasion",
            "value": "Exploitation for Defense Evasion",
            "description": "Exploitation for Defense Evasion"
          },
          {
            "name": "Exploitation for Privilege Escalation",
            "value": "Exploitation for Privilege Escalation",
            "description": "Exploitation for Privilege Escalation"
          },
          {
            "name": "Exploitation of Remote Services",
            "value": "Exploitation of Remote Services",
            "description": "Exploitation of Remote Services"
          },
          {
            "name": "External Remote Services",
            "value": "External Remote Services",
            "description": "External Remote Services"
          },
          {
            "name": "Fallback Channels",
            "value": "Fallback Channels",
            "description": "Fallback Channels"
          },
          {
            "name": "File and Directory Discovery",
            "value": "File and Directory Discovery",
            "description": "File and Directory Discovery"
          },
          {
            "name": "Gather Victim Network Information",
            "value": "Gather Victim Network Information",
            "description": "Gather Victim Network Information"
          },
          {
            "name": "Hide Artifacts",
            "value": "Hide Artifacts",
            "description": "Hide Artifacts"
          },
          {
            "name": "Hijack Execution Flow",
            "value": "Hijack Execution Flow",
            "description": "Hijack Execution Flow"
          },
          {
            "name": "Impair Defenses",
            "value": "Impair Defenses",
            "description": "Impair Defenses"
          },
          {
            "name": "Implant Container Image",
            "value": "Implant Container Image",
            "description": "Implant Container Image"
          },
          {
            "name": "Indicator Removal on Host",
            "value": "Indicator Removal on Host",
            "description": "Indicator Removal on Host"
          },
          {
            "name": "Indirect Command Execution",
            "value": "Indirect Command Execution",
            "description": "Indirect Command Execution"
          },
          {
            "name": "Ingress Tool Transfer",
            "value": "Ingress Tool Transfer",
            "description": "Ingress Tool Transfer"
          },
          {
            "name": "Input Capture",
            "value": "Input Capture",
            "description": "Input Capture"
          },
          {
            "name": "Inter-Process Communication",
            "value": "Inter-Process Communication",
            "description": "Inter-Process Communication"
          },
          {
            "name": "Lateral Tool Transfer",
            "value": "Lateral Tool Transfer",
            "description": "Lateral Tool Transfer"
          },
          {
            "name": "Man-in-the-Middle",
            "value": "Man-in-the-Middle",
            "description": "Man-in-the-Middle"
          },
          {
            "name": "Masquerading",
            "value": "Masquerading",
            "description": "Masquerading"
          },
          {
            "name": "Modify Authentication Process",
            "value": "Modify Authentication Process",
            "description": "Modify Authentication Process"
          },
          {
            "name": "Modify Registry",
            "value": "Modify Registry",
            "description": "Modify Registry"
          },
          {
            "name": "Network Denial of Service",
            "value": "Network Denial of Service",
            "description": "Network Denial of Service"
          },
          {
            "name": "Network Service Scanning",
            "value": "Network Service Scanning",
            "description": "Network Service Scanning"
          },
          {
            "name": "Network Sniffing",
            "value": "Network Sniffing",
            "description": "Network Sniffing"
          },
          {
            "name": "Non-Application Layer Protocol",
            "value": "Non-Application Layer Protocol",
            "description": "Non-Application Layer Protocol"
          },
          {
            "name": "Non-Standard Port",
            "value": "Non-Standard Port",
            "description": "Non-Standard Port"
          },
          {
            "name": "Obtain Capabilities",
            "value": "Obtain Capabilities",
            "description": "Obtain Capabilities"
          },
          {
            "name": "Obfuscated Files or Information",
            "value": "Obfuscated Files or Information",
            "description": "Obfuscated Files or Information"
          },
          {
            "name": "Office Application Startup",
            "value": "Office Application Startup",
            "description": "Office Application Startup"
          },
          {
            "name": "OS Credential Dumping",
            "value": "OS Credential Dumping",
            "description": "OS Credential Dumping"
          },
          {
            "name": "Permission Groups Discovery",
            "value": "Permission Groups Discovery",
            "description": "Permission Groups Discovery"
          },
          {
            "name": "Phishing",
            "value": "Phishing",
            "description": "Phishing"
          },
          {
            "name": "Pre-OS Boot",
            "value": "Pre-OS Boot",
            "description": "Pre-OS Boot"
          },
          {
            "name": "Process Discovery",
            "value": "Process Discovery",
            "description": "Process Discovery"
          },
          {
            "name": "Process Injection",
            "value": "Process Injection",
            "description": "Process Injection"
          },
          {
            "name": "Protocol Tunneling",
            "value": "Protocol Tunneling",
            "description": "Protocol Tunneling"
          },
          {
            "name": "Proxy",
            "value": "Proxy",
            "description": "Proxy"
          },
          {
            "name": "Query Registry",
            "value": "Query Registry",
            "description": "Query Registry"
          },
          {
            "name": "Remote Access Software",
            "value": "Remote Access Software",
            "description": "Remote Access Software"
          },
          {
            "name": "Remote Service Session Hijacking",
            "value": "Remote Service Session Hijacking",
            "description": "Remote Service Session Hijacking"
          },
          {
            "name": "Remote Services",
            "value": "Remote Services",
            "description": "Remote Services"
          },
          {
            "name": "Remote System Discovery",
            "value": "Remote System Discovery",
            "description": "Remote System Discovery"
          },
          {
            "name": "Resource Hijacking",
            "value": "Resource Hijacking",
            "description": "Resource Hijacking"
          },
          {
            "name": "Scheduled Task/Job",
            "value": "Scheduled Task/Job",
            "description": "Scheduled Task/Job"
          },
          {
            "name": "Screen Capture",
            "value": "Screen Capture",
            "description": "Screen Capture"
          },
          {
            "name": "Search Victim-Owned Websites",
            "value": "Search Victim-Owned Websites",
            "description": "Search Victim-Owned Websites"
          },
          {
            "name": "Server Software Component",
            "value": "Server Software Component",
            "description": "Server Software Component"
          },
          {
            "name": "Service Stop",
            "value": "Service Stop",
            "description": "Service Stop"
          },
          {
            "name": "Signed Binary Proxy Execution",
            "value": "Signed Binary Proxy Execution",
            "description": "Signed Binary Proxy Execution"
          },
          {
            "name": "Software Deployment Tools",
            "value": "Software Deployment Tools",
            "description": "Software Deployment Tools"
          },
          {
            "name": "SQL Stored Procedures",
            "value": "SQL Stored Procedures",
            "description": "SQL Stored Procedures"
          },
          {
            "name": "Steal or Forge Kerberos Tickets",
            "value": "Steal or Forge Kerberos Tickets",
            "description": "Steal or Forge Kerberos Tickets"
          },
          {
            "name": "Subvert Trust Controls",
            "value": "Subvert Trust Controls",
            "description": "Subvert Trust Controls"
          },
          {
            "name": "Supply Chain Compromise",
            "value": "Supply Chain Compromise",
            "description": "Supply Chain Compromise"
          },
          {
            "name": "System Information Discovery",
            "value": "System Information Discovery",
            "description": "System Information Discovery"
          },
          {
            "name": "Taint Shared Content",
            "value": "Taint Shared Content",
            "description": "Taint Shared Content"
          },
          {
            "name": "Traffic Signaling",
            "value": "Traffic Signaling",
            "description": "Traffic Signaling"
          },
          {
            "name": "Transfer Data to Cloud Account",
            "value": "Transfer Data to Cloud Account",
            "description": "Transfer Data to Cloud Account"
          },
          {
            "name": "Trusted Relationship",
            "value": "Trusted Relationship",
            "description": "Trusted Relationship"
          },
          {
            "name": "Unsecured Credentials",
            "value": "Unsecured Credentials",
            "description": "Unsecured Credentials"
          },
          {
            "name": "User Execution",
            "value": "User Execution",
            "description": "User Execution"
          },
          {
            "name": "Valid Accounts",
            "value": "Valid Accounts",
            "description": "Valid Accounts"
          },
          {
            "name": "Windows Management Instrumentation",
            "value": "Windows Management Instrumentation",
            "description": "Windows Management Instrumentation"
          },
          {
            "name": "File and Directory Permissions Modification",
            "value": "File and Directory Permissions Modification",
            "description": "File and Directory Permissions Modification"
          }
        ]
      }
    },
    "Threats": {
      "type": "string",
      "description": "Threats impact of the assessment",
      "enum": [
        "accountBreach",
        "dataExfiltration",
        "dataSpillage",
        "maliciousInsider",
        "elevationOfPrivilege",
        "threatResistance",
        "missingCoverage",
        "denialOfService"
      ],
      "x-ms-enum": {
        "name": "Threats",
        "modelAsString": true,
        "values": [
          {
            "name": "accountBreach",
            "value": "accountBreach",
            "description": "accountBreach"
          },
          {
            "name": "dataExfiltration",
            "value": "dataExfiltration",
            "description": "dataExfiltration"
          },
          {
            "name": "dataSpillage",
            "value": "dataSpillage",
            "description": "dataSpillage"
          },
          {
            "name": "maliciousInsider",
            "value": "maliciousInsider",
            "description": "maliciousInsider"
          },
          {
            "name": "elevationOfPrivilege",
            "value": "elevationOfPrivilege",
            "description": "elevationOfPrivilege"
          },
          {
            "name": "threatResistance",
            "value": "threatResistance",
            "description": "threatResistance"
          },
          {
            "name": "missingCoverage",
            "value": "missingCoverage",
            "description": "missingCoverage"
          },
          {
            "name": "denialOfService",
            "value": "denialOfService",
            "description": "denialOfService"
          }
        ]
      }
    },
    "UserImpact": {
      "type": "string",
      "description": "The user impact of the assessment",
      "enum": [
        "Low",
        "Moderate",
        "High"
      ],
      "x-ms-enum": {
        "name": "UserImpact",
        "modelAsString": true,
        "values": [
          {
            "name": "Low",
            "value": "Low",
            "description": "Low"
          },
          {
            "name": "Moderate",
            "value": "Moderate",
            "description": "Moderate"
          },
          {
            "name": "High",
            "value": "High",
            "description": "High"
          }
        ]
      }
    }
  },
  "parameters": {}
}
