{
  "swagger": "2.0",
  "info": {
    "title": "ACE Provisioning ManagementPartner API",
    "version": "2018-02-01",
    "description": "This API describe ACE Provisioning ManagementPartner",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PartnerResponses"
    }
  ],
  "paths": {
    "/providers/Microsoft.ManagementPartner/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ManagementPartner/partners/{partnerId}": {
      "get": {
        "operationId": "Partner_Get",
        "tags": [
          "PartnerResponses"
        ],
        "description": "Get the management partner using the partnerId, objectId and tenantId.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "partnerId",
            "in": "path",
            "description": "Id of the Partner",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PartnerResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPartnerDetails": {
            "$ref": "./examples/Partner_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Partner_Create",
        "tags": [
          "PartnerResponses"
        ],
        "description": "Create a management partner for the objectId and tenantId.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "partnerId",
            "in": "path",
            "description": "Id of the Partner",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartnerResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PartnerResponse' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PartnerResponse"
            }
          },
          "201": {
            "description": "Resource 'PartnerResponse' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PartnerResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PutPartnerDetails": {
            "$ref": "./examples/Partner_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "Partner_Update",
        "tags": [
          "PartnerResponses"
        ],
        "description": "Update the management partner for the objectId and tenantId.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "partnerId",
            "in": "path",
            "description": "Id of the Partner",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PartnerResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchPartnerDetails": {
            "$ref": "./examples/Partner_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Partner_Delete",
        "tags": [
          "PartnerResponses"
        ],
        "description": "Delete the management partner for the objectId and tenantId.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "partnerId",
            "in": "path",
            "description": "Id of the Partner",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletePartnerDetails": {
            "$ref": "./examples/Partner_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "this is the management partner operations error",
      "properties": {
        "error": {
          "$ref": "#/definitions/ExtendedErrorInfo",
          "description": "this is the ExtendedErrorInfo property"
        },
        "code": {
          "type": "string",
          "description": "this is the error response code"
        },
        "message": {
          "type": "string",
          "description": "this is the extended error info message"
        }
      }
    },
    "ExtendedErrorInfo": {
      "type": "object",
      "description": "this is the extended error info",
      "properties": {
        "code": {
          "type": "string",
          "description": "this is the error response code"
        },
        "message": {
          "type": "string",
          "description": "this is the extended error info message"
        }
      }
    },
    "ManagementPartnerState": {
      "type": "string",
      "description": "this is the management partner state: Active or Deleted",
      "enum": [
        "Active",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ManagementPartnerState",
        "modelAsString": true
      }
    },
    "OperationResponse": {
      "type": "object",
      "description": "this is the management partner operations response",
      "properties": {
        "name": {
          "type": "string",
          "description": "this is the operation response name"
        },
        "display": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationDisplay",
          "description": "this is the operation display"
        },
        "origin": {
          "type": "string",
          "description": "the is operation response origin information"
        }
      }
    },
    "PartnerProperties": {
      "type": "object",
      "description": "this is the management partner properties",
      "properties": {
        "partnerId": {
          "type": "string",
          "description": "This is the partner id"
        },
        "partnerName": {
          "type": "string",
          "description": "This is the partner name"
        },
        "tenantId": {
          "type": "string",
          "description": "This is the tenant id."
        },
        "objectId": {
          "type": "string",
          "description": "This is the object id."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "This is the version."
        },
        "updatedTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the DateTime when the partner was updated."
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the DateTime when the partner was created."
        },
        "state": {
          "$ref": "#/definitions/ManagementPartnerState",
          "description": "This is the partner state",
          "x-ms-client-flatten": true
        }
      }
    },
    "PartnerResponse": {
      "type": "object",
      "description": "this is the management partner operations response",
      "properties": {
        "etag": {
          "type": "integer",
          "format": "int32",
          "description": "Type of the partner"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the partner",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of resource. \"Microsoft.ManagementPartner/partners\"",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PartnerProperties",
          "description": "Properties of the partner",
          "x-ms-client-flatten": true
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2018-02-01"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2018_02_01",
            "value": "2018-02-01",
            "description": "The 2018-02-01 API version."
          }
        ]
      }
    }
  },
  "parameters": {}
}
