{
  "swagger": "2.0",
  "info": {
    "version": "2023-08-01-preview",
    "title": "nsptest",
    "description": "Description of the new service",
    "x-ms-code-generation-settings": {
      "name": "nsptestClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [ "https" ],
  "consumes": [ "application/json" ],
  "produces": [ "application/json" ],
  "security": [
    {
      "azure_auth": [ "user_impersonation" ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.NspTestPaasRp/nspTests": {
      "get": {
        "description": "Returns list of NspTests.",
        "operationId": "NspTest_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "NspTest details.",
            "schema": {
              "$ref": "#/definitions/NspTestResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NspTest_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NspTest_ListBySubscription_MaximumSet_Gen.json"
          },
          "NspTest_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/NspTest_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NspTestPaasRp/nspTests": {
      "get": {
        "description": "Returns list of NspTests.",
        "operationId": "NspTest_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "NspTest details.",
            "schema": {
              "$ref": "#/definitions/NspTestResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NspTest_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/NspTest_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "NspTest_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/NspTest_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.NspTestPaasRp/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operation_List_MaximumSet_Gen": {
            "$ref": "./examples/Operation_List_MaximumSet_Gen.json"
          },
          "Operation_List_MinimumSet_Gen": {
            "$ref": "./examples/Operation_List_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "An Azure resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "NspTestResource": {
      "type": "object",
      "description": "NspTest details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "required": [
            "name"
          ],
          "properties": {
            "name": {
              "type": "string",
              "description": "Nsp Test object name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "privateEndpointConnections": {
              "type": "array",
              "readOnly": true,
              "description": "List of Private Endpoint Connections configured for the NspTest.",
              "items": {
                "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
              }
            }
          }
        }
      }
    },
    "NspTestResourceList": {
      "description": "The list of NspTests.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of NspTests list.",
          "type": "string"
        },
        "value": {
          "description": "The list of recommendations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NspTestResource"
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionRequest": {
      "description": "A request to approve or reject a private endpoint connection",
      "type": "object",
      "properties": {
        "id": {
          "description": "Private Endpoint Connection Resource Id.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "description": "The connection state of the private endpoint connection.",
          "properties": {
            "privateLinkServiceConnectionState": {
              "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateLinkServiceConnectionState",
              "description": "A collection of information about the state of the connection between service consumer and provider."
            }
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request.",
      "x-ms-parameter-location": "method"
    }
  }
}
