{
  "swagger": "2.0",
  "info": {
    "title": "StorageInsightsClient",
    "version": "2023-08-01-preview",
    "description": "Storage Insights resource provider API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StorageCollectionRules"
    }
  ],
  "paths": {
    "/providers/Microsoft.StorageInsights/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all provider operations": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageInsights/storageCollectionRules": {
      "get": {
        "operationId": "StorageCollectionRules_ListBySubscription",
        "tags": [
          "StorageCollectionRules"
        ],
        "description": "List StorageCollectionRule resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageCollectionRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List StorageCollectionRule by subscription": {
            "$ref": "./examples/CollectionRuleListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageInsights/storageCollectionRules": {
      "get": {
        "operationId": "StorageCollectionRules_ListByResourceGroup",
        "tags": [
          "StorageCollectionRules"
        ],
        "description": "List StorageCollectionRule resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageCollectionRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List StorageCollectionRule by resource group": {
            "$ref": "./examples/CollectionRuleListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageInsights/storageCollectionRules/{storageCollectionRuleName}": {
      "get": {
        "operationId": "StorageCollectionRules_Get",
        "tags": [
          "StorageCollectionRules"
        ],
        "description": "Get a StorageCollectionRule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageCollectionRuleName",
            "in": "path",
            "description": "Name of the storage collection rule",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,250}$",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageCollectionRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a StorageCollectionRule": {
            "$ref": "./examples/CollectionRuleGet.json"
          }
        }
      },
      "put": {
        "operationId": "StorageCollectionRules_CreateOrReplace",
        "tags": [
          "StorageCollectionRules"
        ],
        "description": "Create a StorageCollectionRule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageCollectionRuleName",
            "in": "path",
            "description": "Name of the storage collection rule",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,250}$",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageCollectionRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StorageCollectionRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageCollectionRule"
            }
          },
          "201": {
            "description": "Resource 'StorageCollectionRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageCollectionRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a StorageCollectionRule": {
            "$ref": "./examples/CollectionRulePut.json"
          }
        }
      },
      "patch": {
        "operationId": "StorageCollectionRules_Update",
        "tags": [
          "StorageCollectionRules"
        ],
        "description": "Update a StorageCollectionRule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageCollectionRuleName",
            "in": "path",
            "description": "Name of the storage collection rule",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,250}$",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageCollectionRuleUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageCollectionRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a StorageCollectionRule": {
            "$ref": "./examples/CollectionRulePatch.json"
          }
        }
      },
      "delete": {
        "operationId": "StorageCollectionRules_Delete",
        "tags": [
          "StorageCollectionRules"
        ],
        "description": "Delete a StorageCollectionRule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageCollectionRuleName",
            "in": "path",
            "description": "Name of the storage collection rule",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,250}$",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a StorageCollectionRule": {
            "$ref": "./examples/CollectionRuleDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApiVersion": {
      "type": "string",
      "enum": [
        "2023-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "ApiVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "v2023_08_01_preview",
            "value": "2023-08-01-preview"
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "NamespaceStructure": {
      "type": "string",
      "description": "Storage account namespace structure",
      "enum": [
        "Hierarchical",
        "Flat"
      ],
      "x-ms-enum": {
        "name": "NamespaceStructure",
        "modelAsString": true,
        "values": [
          {
            "name": "Hierarchical",
            "value": "Hierarchical",
            "description": "Hierarchical namespace"
          },
          {
            "name": "Flat",
            "value": "Flat",
            "description": "Flat namespace"
          }
        ]
      }
    },
    "StorageCollectionRule": {
      "type": "object",
      "description": "A Storage Insights collection rule resource. This resource configures the collection of storage account metrics.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageCollectionRuleProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "StorageCollectionRuleConfiguration": {
      "type": "object",
      "description": "Configuration of a storage collection rule.",
      "properties": {
        "blobIndexTags": {
          "type": "object",
          "description": "The blob index tags and values to emit in Storage Insights metrics.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "StorageCollectionRuleDestinations": {
      "type": "object",
      "description": "Destinations for storage collection rule data.",
      "properties": {
        "dataCollectionRuleResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the log analytics workspace.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Insights/dataCollectionRules"
              }
            ]
          }
        }
      },
      "required": [
        "dataCollectionRuleResourceId"
      ]
    },
    "StorageCollectionRuleDestinationsUpdate": {
      "type": "object",
      "description": "Destinations for storage collection rule data.",
      "properties": {
        "dataCollectionRuleResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the log analytics workspace.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Insights/dataCollectionRules"
              }
            ]
          }
        }
      }
    },
    "StorageCollectionRuleFilter": {
      "type": "object",
      "description": "The filter definition of the storage collection rule. The filters are applied in a logical AND manner, such that only storage accounts that meet all the filters will be included in the collection. Filters that are empty or null have no effect on the selection. For filters that are arrays or dictionaries, any storage account that matches at least one of the array elements or key-value pairs will satisfy the filter condition.",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "The Azure Resource Manager scopes to filter. This can be the resource IDs of management groups, subscriptions, resource groups or specific storage accounts.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an ARM resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "*",
                  "scopes": [
                    "ManagementGroup",
                    "Subscription",
                    "ResourceGroup"
                  ]
                }
              ]
            }
          }
        },
        "names": {
          "type": "array",
          "description": "The storage account names to filter.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "object",
          "description": "The storage account tags to filter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locations": {
          "type": "array",
          "description": "The storage account locations to filter.",
          "items": {
            "type": "string"
          }
        },
        "skus": {
          "type": "array",
          "description": "The storage account SKUs to filter.",
          "items": {
            "$ref": "#/definitions/StorageSku"
          }
        },
        "namespaceStructures": {
          "type": "array",
          "description": "The storage account namespace structures to filter.",
          "items": {
            "$ref": "#/definitions/NamespaceStructure"
          }
        }
      },
      "required": [
        "scopes"
      ]
    },
    "StorageCollectionRuleFilterUpdate": {
      "type": "object",
      "description": "The filter definition of the storage collection rule. The filters are applied in a logical AND manner, such that only storage accounts that meet all the filters will be included in the collection. Filters that are empty or null have no effect on the selection. For filters that are arrays or dictionaries, any storage account that matches at least one of the array elements or key-value pairs will satisfy the filter condition.",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "The Azure Resource Manager scopes to filter. This can be the resource IDs of management groups, subscriptions, resource groups or specific storage accounts.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an ARM resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "*",
                  "scopes": [
                    "ManagementGroup",
                    "Subscription",
                    "ResourceGroup"
                  ]
                }
              ]
            }
          }
        },
        "names": {
          "type": "array",
          "description": "The storage account names to filter.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "object",
          "description": "The storage account tags to filter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locations": {
          "type": "array",
          "description": "The storage account locations to filter.",
          "items": {
            "type": "string"
          }
        },
        "skus": {
          "type": "array",
          "description": "The storage account SKUs to filter.",
          "items": {
            "$ref": "#/definitions/StorageSku"
          }
        },
        "namespaceStructures": {
          "type": "array",
          "description": "The storage account namespace structures to filter.",
          "items": {
            "$ref": "#/definitions/NamespaceStructure"
          }
        }
      }
    },
    "StorageCollectionRuleFilters": {
      "type": "object",
      "description": "Filters definition of the storage collection rule.",
      "properties": {
        "includeFilter": {
          "$ref": "#/definitions/StorageCollectionRuleFilter",
          "description": "The filters to which the storage collection rule is applied."
        },
        "excludeFilter": {
          "$ref": "#/definitions/StorageCollectionRuleFilter",
          "description": "The filters from which the storage collection rule is excluded."
        }
      },
      "required": [
        "includeFilter"
      ]
    },
    "StorageCollectionRuleFiltersUpdate": {
      "type": "object",
      "description": "Filters definition of the storage collection rule.",
      "properties": {
        "includeFilter": {
          "$ref": "#/definitions/StorageCollectionRuleFilterUpdate",
          "description": "The filters to which the storage collection rule is applied."
        },
        "excludeFilter": {
          "$ref": "#/definitions/StorageCollectionRuleFilterUpdate",
          "description": "The filters from which the storage collection rule is excluded."
        }
      }
    },
    "StorageCollectionRuleListResult": {
      "type": "object",
      "description": "The response of a StorageCollectionRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StorageCollectionRule items on this page",
          "items": {
            "$ref": "#/definitions/StorageCollectionRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StorageCollectionRuleProperties": {
      "type": "object",
      "description": "Storage collection rule properties.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Value indicating whether the storage collection rule is enabled or not."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the storage collection rule."
        },
        "description": {
          "type": "string",
          "description": "The description of the storage collection rule."
        },
        "filters": {
          "$ref": "#/definitions/StorageCollectionRuleFilters",
          "description": "The filters definition of the storage collection rule. The storage collection rule will be applied to all of the storage accounts captured by these filters.",
          "x-ms-client-flatten": true
        },
        "destinations": {
          "$ref": "#/definitions/StorageCollectionRuleDestinations",
          "description": "The destinations to which the storage collection rule sends data.",
          "x-ms-client-flatten": true
        },
        "configuration": {
          "$ref": "#/definitions/StorageCollectionRuleConfiguration",
          "description": "The configuration of the storage collection rule.",
          "x-ms-client-flatten": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "enabled",
        "filters",
        "destinations",
        "configuration"
      ]
    },
    "StorageCollectionRuleUpdate": {
      "type": "object",
      "description": "The type used for update operations of the StorageCollectionRule.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/StorageCollectionRuleUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "StorageCollectionRuleUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the StorageCollectionRule.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Value indicating whether the storage collection rule is enabled or not."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the storage collection rule."
        },
        "description": {
          "type": "string",
          "description": "The description of the storage collection rule."
        },
        "filters": {
          "$ref": "#/definitions/StorageCollectionRuleFiltersUpdate",
          "description": "The filters definition of the storage collection rule. The storage collection rule will be applied to all of the storage accounts captured by these filters.",
          "x-ms-client-flatten": true
        },
        "destinations": {
          "$ref": "#/definitions/StorageCollectionRuleDestinationsUpdate",
          "description": "The destinations to which the storage collection rule sends data.",
          "x-ms-client-flatten": true
        },
        "configuration": {
          "$ref": "#/definitions/StorageCollectionRuleConfiguration",
          "description": "The configuration of the storage collection rule.",
          "x-ms-client-flatten": true
        }
      }
    },
    "StorageSku": {
      "type": "string",
      "description": "Storage SKU",
      "enum": [
        "Standard_LRS",
        "Standard_GRS",
        "Standard_RAGRS",
        "Standard_ZRS",
        "Premium_LRS",
        "Premium_ZRS",
        "Standard_GZRS",
        "Standard_RAGZRS"
      ],
      "x-ms-enum": {
        "name": "StorageSku",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard_LRS",
            "value": "Standard_LRS",
            "description": "Standard LRS"
          },
          {
            "name": "Standard_GRS",
            "value": "Standard_GRS",
            "description": "Standard GRS"
          },
          {
            "name": "Standard_RAGRS",
            "value": "Standard_RAGRS",
            "description": "Standard RAGRS"
          },
          {
            "name": "Standard_ZRS",
            "value": "Standard_ZRS",
            "description": "Standard ZRS"
          },
          {
            "name": "Premium_LRS",
            "value": "Premium_LRS",
            "description": "Premium LRS"
          },
          {
            "name": "Premium_ZRS",
            "value": "Premium_ZRS",
            "description": "Premium ZRS"
          },
          {
            "name": "Standard_GZRS",
            "value": "Standard_GZRS",
            "description": "Standard GZRS"
          },
          {
            "name": "Standard_RAGZRS",
            "value": "Standard_RAGZRS",
            "description": "Standard RAGZRS"
          }
        ]
      }
    }
  },
  "parameters": {}
}
