{
  "swagger": "2.0",
  "info": {
    "title": "Extension Images",
    "description": "Extension Images Management Client.",
    "version": "2017-03-30"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}": {
      "get": {
        "tags": [
          "VirtualMachineExtensionImages"
        ],
        "operationId": "VirtualMachineExtensionImages_Get",
        "description": "Gets a virtual machine extension image.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./compute.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./compute.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtensionImage"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types": {
      "get": {
        "tags": [
          "VirtualMachineExtensionImages"
        ],
        "operationId": "VirtualMachineExtensionImages_ListTypes",
        "description": "Gets a list of virtual machine extension image types.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./compute.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./compute.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineExtensionImage"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions": {
      "get": {
        "tags": [
          "VirtualMachineExtensionImages"
        ],
        "operationId": "VirtualMachineExtensionImages_ListVersions",
        "description": "Gets a list of virtual machine extension image versions.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "./compute.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./compute.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineExtensionImage"
              }
            }
          }
        },
        "x-ms-odata": "#/definitions/VirtualMachineExtensionImage"
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImages_Get",
        "description": "Gets a virtual machine image.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher offer."
          },
          {
            "name": "skus",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image SKU."
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image SKU version."
          },
          {
            "$ref": "./compute.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./compute.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineImage"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImages_List",
        "description": "Gets a list of all virtual machine image versions for the specified location, publisher, offer, and SKU.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher offer."
          },
          {
            "name": "skus",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image SKU."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "./compute.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./compute.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          }
        },
        "x-ms-odata": "#/definitions/VirtualMachineImageResource"
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImages_ListOffers",
        "description": "Gets a list of virtual machine image offers for the specified location and publisher.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "$ref": "./compute.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./compute.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImages_ListPublishers",
        "description": "Gets a list of virtual machine image publishers for the specified Azure location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "$ref": "./compute.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./compute.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImages_ListSkus",
        "description": "Gets a list of virtual machine image SKUs for the specified location, publisher, and offer.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher offer."
          },
          {
            "$ref": "./compute.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./compute.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "VirtualMachineExtensionImage": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VirtualMachineExtensionImageProperties"
        }
      },
      "required": [
        "name",
        "location"
      ],
      "allOf": [
        {
          "$ref": "./compute.json#/definitions/Resource"
        }
      ],
      "description": "Describes a Virtual Machine Extension Image."
    },
    "VirtualMachineExtensionImageProperties": {
      "properties": {
        "operatingSystem": {
          "type": "string",
          "description": "The operating system this extension supports."
        },
        "computeRole": {
          "type": "string",
          "description": "The type of role (IaaS or PaaS) this extension supports."
        },
        "handlerSchema": {
          "type": "string",
          "description": "The schema defined by publisher, where extension consumers should provide settings in a matching schema."
        },
        "vmScaleSetEnabled": {
          "type": "boolean",
          "description": "Whether the extension can be used on xRP VMScaleSets. By default existing extensions are usable on scalesets, but there might be cases where a publisher wants to explicitly indicate the extension is only enabled for CRP VMs but not VMSS."
        },
        "supportsMultipleExtensions": {
          "type": "boolean",
          "description": "Whether the handler can support multiple extensions."
        }
      },
      "required": [
        "operatingSystem",
        "computeRole",
        "handlerSchema"
      ],
      "description": "Describes the properties of a Virtual Machine Extension Image."
    },
    "VirtualMachineImage": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VirtualMachineImageProperties"
        }
      },
      "required": [
        "name",
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/VirtualMachineImageResource"
        }
      ],
      "description": "Describes a Virtual Machine Image."
    },
    "VirtualMachineImageProperties": {
      "properties": {
        "plan": {
          "$ref": "#/definitions/PurchasePlan"
        },
        "osDiskImage": {
          "$ref": "#/definitions/OSDiskImage"
        },
        "dataDiskImages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataDiskImage"
          }
        }
      },
      "description": "Describes the properties of a Virtual Machine Image."
    },
    "PurchasePlan": {
      "properties": {
        "publisher": {
          "type": "string",
          "description": "The publisher ID."
        },
        "name": {
          "type": "string",
          "description": "The plan ID."
        },
        "product": {
          "type": "string",
          "description": "Specifies the product of the image from the marketplace. This is the same value as Offer under the imageReference element."
        }
      },
      "required": [
        "publisher",
        "name",
        "product"
      ],
      "description": "Used for establishing the purchase context of any 3rd Party artifact through MarketPlace."
    },
    "OSDiskImage": {
      "properties": {
        "operatingSystem": {
          "type": "string",
          "description": "The operating system of the osDiskImage.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          }
        }
      },
      "required": [
        "operatingSystem"
      ],
      "description": "Contains the os disk image information."
    },
    "DataDiskImage": {
      "properties": {
        "lun": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM."
        }
      },
      "description": "Contains the data disk images information."
    },
    "VirtualMachineImageResource": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource."
        },
        "location": {
          "type": "string",
          "description": "The supported Azure location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Specifies the tags that are assigned to the virtual machine. For more information about using tags, see [Using tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md)."
        }
      },
      "required": [
        "name",
        "location"
      ],
      "allOf": [
        {
          "$ref": "./compute.json#/definitions/SubResource"
        }
      ],
      "description": "Virtual machine image resource information."
    }
  }
}
