{
  "swagger": "2.0",
  "info": {
    "version": "2024-06-01-preview",
    "title": "MySQLManagementClient",
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules and configurations."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/advancedThreatProtectionSettings/{advancedThreatProtectionName}": {
      "get": {
        "tags": [
          "AdvancedThreatProtectionSettings"
        ],
        "description": "Get a server's Advanced Threat Protection state",
        "operationId": "AdvancedThreatProtectionSettings_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/AdvancedThreatProtectionNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the server's Advanced Threat Protection state.",
            "schema": {
              "$ref": "#/definitions/AdvancedThreatProtection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a server's Advanced Threat Protection settings.": {
            "$ref": "./examples/AdvancedThreatProtectionSettingsGet.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AdvancedThreatProtectionSettings"
        ],
        "description": "Updates a server's Advanced Threat Protection state.",
        "operationId": "AdvancedThreatProtectionSettings_Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/AdvancedThreatProtectionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The server's Advanced Threat Protection body to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdvancedThreatProtectionForUpdate"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the server's Advanced Threat Protection state.",
            "schema": {
              "$ref": "#/definitions/AdvancedThreatProtection"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "URL to retrieve the final result after operation completes.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Enable a server's Advanced Threat Protection settings": {
            "$ref": "./examples/AdvancedThreatProtectionSettingsPatchEnabled.json"
          },
          "Disable a server's Advanced Threat Protection settings with all parameters": {
            "$ref": "./examples/AdvancedThreatProtectionSettingsPatchDisabled.json"
          }
        }
      },
      "put": {
        "tags": [
          "AdvancedThreatProtectionSettings"
        ],
        "description": "Updates a server's Advanced Threat Protection state.",
        "operationId": "AdvancedThreatProtectionSettings_UpdatePut",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/AdvancedThreatProtectionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The server's Advanced Threat Protection body to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdvancedThreatProtection"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the server's Advanced Threat Protection state.",
            "schema": {
              "$ref": "#/definitions/AdvancedThreatProtection"
            }
          },
          "201": {
            "description": "Successfully created the server's Advanced Threat Protection settings.",
            "schema": {
              "$ref": "#/definitions/AdvancedThreatProtection"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "URL to retrieve the final result after operation completes.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Enable a server's Advanced Threat Protection settings using PUT": {
            "$ref": "./examples/AdvancedThreatProtectionSettingsPutEnabled.json"
          },
          "Disable a server's Advanced Threat Protection settings with all parameters using PUT": {
            "$ref": "./examples/AdvancedThreatProtectionSettingsPutDisabled.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/advancedThreatProtectionSettings": {
      "get": {
        "tags": [
          "AdvancedThreatProtectionSettings"
        ],
        "description": "Gets a list of server's Advanced Threat Protection states.",
        "operationId": "AdvancedThreatProtectionSettings_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common-types/v1/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the server's Advanced Threat Protection states.",
            "schema": {
              "$ref": "#/definitions/AdvancedThreatProtectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get list of server's Advanced Threat Protection settings": {
            "$ref": "./examples/AdvancedThreatProtectionSettingsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AdvancedThreatProtectionState": {
      "description": "Specifies the state of the Advanced Threat Protection, whether it is enabled or disabled on the server.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "AdvancedThreatProtectionState",
        "modelAsString": true
      }
    },
    "AdvancedThreatProtectionProperties": {
      "description": "Properties of an Advanced Threat Protection setting.",
      "type": "object",
      "properties": {
        "creationTime": {
          "description": "Specifies the UTC creation time of the policy.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "state": {
          "description": "Specifies the state of the Advanced Threat Protection, whether it is enabled or disabled or a state has not been applied yet on the specific database or server.",
          "$ref": "#/definitions/AdvancedThreatProtectionState"
        },
        "provisioningState": {
          "$ref": "#/definitions/AdvancedThreatProtectionProvisioningState",
          "description": "Provisioning state of the Threat Protection."
        }
      }
    },
    "AdvancedThreatProtection": {
      "description": "A server's Advanced Threat Protection.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AdvancedThreatProtectionProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "AdvancedThreatProtectionUpdateProperties": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Specifies the state of the Advanced Threat Protection, whether it is enabled or disabled or a state has not been applied yet on the specific database or server.",
          "$ref": "#/definitions/AdvancedThreatProtectionState"
        }
      },
      "required": [
        "state"
      ],
      "description": "Properties of Advanced Threat Protection that can be updated."
    },
    "AdvancedThreatProtectionForUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AdvancedThreatProtectionUpdateProperties",
          "description": "Resource update properties.",
          "x-ms-client-flatten": true
        }
      },
      "description": "Parameters allowed to update advanced threat protection for a server."
    },
    "AdvancedThreatProtectionListResult": {
      "description": "A list of the server's Advanced Threat Protection configurations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdvancedThreatProtection"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AdvancedThreatProtectionProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Updating",
        "Canceled",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "AdvancedThreatProtectionProvisioningState",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "AdvancedThreatProtectionNameParameter": {
      "name": "advancedThreatProtectionName",
      "in": "path",
      "description": "The name of the Advanced Threat Protection state.",
      "required": true,
      "enum": [
        "Default"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "AdvancedThreatProtectionName",
        "modelAsString": true
      },
      "pattern": "^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*",
      "x-ms-parameter-location": "method"
    }
  }
}
