{
  "swagger": "2.0",
  "info": {
    "version": "2019-06-01",
    "title": "HybridDataManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.HybridData/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "The list of operations for Microsoft.HybridData provider.",
        "operationId": "Operations_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of operations for Microsoft.HybridData provider.",
            "schema": {
              "$ref": "#/definitions/AvailableProviderOperations"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_ListGET11": {
            "$ref": "./examples/Operations_List-GET-example-11.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridData/dataManagers": {
      "get": {
        "tags": [
          "DataManagers"
        ],
        "description": "Lists all the data manager resources available under the subscription.",
        "operationId": "DataManagers_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of data manager resources available under the subscription.",
            "schema": {
              "$ref": "#/definitions/DataManagerList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "DataManagers_ListGET21": {
            "$ref": "./examples/DataManagers_List-GET-example-21.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers": {
      "get": {
        "tags": [
          "DataManagers"
        ],
        "description": "Lists all the data manager resources available under the given resource group.",
        "operationId": "DataManagers_ListByResourceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of data manager resources by resource group.",
            "schema": {
              "$ref": "#/definitions/DataManagerList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "DataManagers_ListByResourceGroupGET31": {
            "$ref": "./examples/DataManagers_ListByResourceGroup-GET-example-31.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}": {
      "get": {
        "tags": [
          "DataManagers"
        ],
        "description": "Gets information about the specified data manager resource.",
        "operationId": "DataManagers_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Data Manager Resource object.",
            "schema": {
              "$ref": "#/definitions/DataManager"
            }
          }
        },
        "x-ms-examples": {
          "DataManagers_GetGET41": {
            "$ref": "./examples/DataManagers_Get-GET-example-41.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataManagers"
        ],
        "description": "Creates a new data manager resource with the specified parameters. Existing resources cannot be updated with this API\r\nand should instead be updated with the Update data manager resource API.",
        "operationId": "DataManagers_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "dataManager",
            "in": "body",
            "description": "Data manager resource details from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataManager"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed request for Create. Returns the Data Manager Resource object.",
            "schema": {
              "$ref": "#/definitions/DataManager"
            }
          },
          "202": {
            "description": "Accepted request for Create."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataManagers_CreatePUT41": {
            "$ref": "./examples/DataManagers_Create-PUT-example-41.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataManagers"
        ],
        "description": "Deletes a data manager resource in Microsoft Azure.",
        "operationId": "DataManagers_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Data Manager Resource deleted."
          },
          "204": {
            "description": "Data Manager Resource deleted."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataManagers_DeleteDELETE41": {
            "$ref": "./examples/DataManagers_Delete-DELETE-example-41.json"
          }
        }
      },
      "patch": {
        "tags": [
          "DataManagers"
        ],
        "description": "Updates the properties of an existing data manager resource.",
        "operationId": "DataManagers_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Defines the If-Match condition. The patch will be performed only if the ETag of the data manager resource on the server matches this value.",
            "type": "string"
          },
          {
            "name": "dataManagerUpdateParameter",
            "in": "body",
            "description": "Data manager resource details from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataManagerUpdateParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed request for Updated. Returns the Data Manager Resource object.",
            "schema": {
              "$ref": "#/definitions/DataManager"
            }
          },
          "202": {
            "description": "Accepted request for Data Manager Update."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataManagers_UpdatePATCH43": {
            "$ref": "./examples/DataManagers_Update-PATCH-example-43.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices": {
      "get": {
        "tags": [
          "DataServices"
        ],
        "description": "This method gets all the data services.",
        "operationId": "DataServices_ListByDataManager",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of data services.",
            "schema": {
              "$ref": "#/definitions/DataServiceList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataServices_ListByDataManagerGET51": {
            "$ref": "./examples/DataServices_ListByDataManager-GET-example-51.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}": {
      "get": {
        "tags": [
          "DataServices"
        ],
        "description": "Gets the data service that matches the data service name given.",
        "operationId": "DataServices_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The name of the data service that is being queried.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The data service that matches the name.",
            "schema": {
              "$ref": "#/definitions/DataService"
            }
          }
        },
        "x-ms-examples": {
          "DataServices_GetGET62": {
            "$ref": "./examples/DataServices_Get-GET-example-62.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions": {
      "get": {
        "tags": [
          "JobDefinitions"
        ],
        "description": "This method gets all the job definitions of the given data service name.",
        "operationId": "JobDefinitions_ListByDataService",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The data service type of interest.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData Filter options",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of job definitions of the given data service type.",
            "schema": {
              "$ref": "#/definitions/JobDefinitionList"
            }
          }
        },
        "x-ms-odata": "#/definitions/JobDefinitionFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "JobDefinitions_ListByDataServiceGET71": {
            "$ref": "./examples/JobDefinitions_ListByDataService-GET-example-71.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}": {
      "get": {
        "tags": [
          "JobDefinitions"
        ],
        "description": "This method gets job definition object by name.",
        "operationId": "JobDefinitions_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The data service name of the job definition",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobDefinitionName",
            "in": "path",
            "description": "The job definition name that is being queried.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The job definition that matches the criteria.",
            "schema": {
              "$ref": "#/definitions/JobDefinition"
            }
          }
        },
        "x-ms-examples": {
          "JobDefinitions_GetGET81": {
            "$ref": "./examples/JobDefinitions_Get-GET-example-81.json"
          }
        }
      },
      "put": {
        "tags": [
          "JobDefinitions"
        ],
        "description": "Creates or updates a job definition.",
        "operationId": "JobDefinitions_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The data service type of the job definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobDefinitionName",
            "in": "path",
            "description": "The job definition name to be created or updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobDefinition",
            "in": "body",
            "description": "Job Definition object to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobDefinition"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Completed request for Create or Update. Returns the JobDefinition object.",
            "schema": {
              "$ref": "#/definitions/JobDefinition"
            }
          },
          "202": {
            "description": "Accepted request for create/update."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobDefinitions_CreateOrUpdatePUT83": {
            "$ref": "./examples/JobDefinitions_CreateOrUpdate-PUT-example-83.json"
          }
        }
      },
      "delete": {
        "tags": [
          "JobDefinitions"
        ],
        "description": "This method deletes the given job definition.",
        "operationId": "JobDefinitions_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The data service type of the job definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobDefinitionName",
            "in": "path",
            "description": "The job definition name to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted request for JobDefinition deletion."
          },
          "204": {
            "description": "Completed request for Delete JobDefinition."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobDefinitions_DeleteDELETE81": {
            "$ref": "./examples/JobDefinitions_Delete-DELETE-example-81.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "This method gets all the jobs of a given job definition.",
        "operationId": "Jobs_ListByJobDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The name of the data service of the job definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobDefinitionName",
            "in": "path",
            "description": "The name of the job definition for which jobs are needed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData Filter options",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of jobs.",
            "schema": {
              "$ref": "#/definitions/JobList"
            }
          }
        },
        "x-ms-odata": "#/definitions/JobFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Jobs_ListByJobDefinitionGET91": {
            "$ref": "./examples/Jobs_ListByJobDefinition-GET-example-91.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "This method gets a data manager job given the jobId.",
        "operationId": "Jobs_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The name of the data service of the job definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobDefinitionName",
            "in": "path",
            "description": "The name of the job definition of the job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "The job id of the job queried.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "$expand is supported on details parameter for job, which provides details on the job stages.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The job that matches the given criteria.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        },
        "x-ms-examples": {
          "Jobs_GetGET101": {
            "$ref": "./examples/Jobs_Get-GET-example-101.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/jobs/{jobId}/cancel": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Cancels the given job.",
        "operationId": "Jobs_Cancel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The name of the data service of the job definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobDefinitionName",
            "in": "path",
            "description": "The name of the job definition of the job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "The job id of the job queried.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted job cancellation request."
          },
          "204": {
            "description": "Completed request for job Cancel."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Jobs_CancelPOST111": {
            "$ref": "./examples/Jobs_Cancel-POST-example-111.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/jobs/{jobId}/resume": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Resumes the given job.",
        "operationId": "Jobs_Resume",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The name of the data service of the job definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobDefinitionName",
            "in": "path",
            "description": "The name of the job definition of the job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "The job id of the job queried.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted job resume request."
          },
          "204": {
            "description": "Complete request for Job resume."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Jobs_ResumePOST121": {
            "$ref": "./examples/Jobs_Resume-POST-example-121.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/run": {
      "post": {
        "tags": [
          "JobDefinitions"
        ],
        "description": "This method runs a job instance of the given job definition.",
        "operationId": "JobDefinitions_Run",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The data service type of the job definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobDefinitionName",
            "in": "path",
            "description": "Name of the job definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "runParameters",
            "in": "body",
            "description": "Run time parameters for the job definition.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Job run accepted."
          },
          "204": {
            "description": "Completed request for Job run. Run has started."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobDefinitions_RunPOST132": {
            "$ref": "./examples/JobDefinitions_Run-POST-example-132.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "This method gets all the jobs of a data service type in a given resource.",
        "operationId": "Jobs_ListByDataService",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataServiceName",
            "in": "path",
            "description": "The name of the data service of interest.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData Filter options",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of jobs that match the service and resource.",
            "schema": {
              "$ref": "#/definitions/JobList"
            }
          }
        },
        "x-ms-odata": "#/definitions/JobFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Jobs_ListByDataServiceGET141": {
            "$ref": "./examples/Jobs_ListByDataService-GET-example-141.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataStores": {
      "get": {
        "tags": [
          "DataStores"
        ],
        "description": "Gets all the data stores/repositories in the given resource.",
        "operationId": "DataStores_ListByDataManager",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData Filter options",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of data stores/repositories in the given resource.",
            "schema": {
              "$ref": "#/definitions/DataStoreList"
            }
          }
        },
        "x-ms-odata": "#/definitions/DataStoreFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataStores_ListByDataManagerGET151": {
            "$ref": "./examples/DataStores_ListByDataManager-GET-example-151.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataStores/{dataStoreName}": {
      "get": {
        "tags": [
          "DataStores"
        ],
        "description": "This method gets the data store/repository by name.",
        "operationId": "DataStores_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataStoreName",
            "in": "path",
            "description": "The data store/repository name queried.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The data store/repository which matches the name given.",
            "schema": {
              "$ref": "#/definitions/DataStore"
            }
          }
        },
        "x-ms-examples": {
          "DataStores_GetGET161": {
            "$ref": "./examples/DataStores_Get-GET-example-161.json"
          },
          "DataStores_GetGET162": {
            "$ref": "./examples/DataStores_Get-GET-example-162.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataStores"
        ],
        "description": "Creates or updates the data store/repository in the data manager.",
        "operationId": "DataStores_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataStoreName",
            "in": "path",
            "description": "The data store/repository name to be created or updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataStore",
            "in": "body",
            "description": "The data store/repository object to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataStore"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Completed request for Create/Update. Returns the Data Store/Repository object.",
            "schema": {
              "$ref": "#/definitions/DataStore"
            }
          },
          "202": {
            "description": "Accepted request for create/update."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataStores_CreateOrUpdate_DataSinkPUT162": {
            "$ref": "./examples/DataStores_CreateOrUpdate_DataSink-PUT-example-162.json"
          },
          "DataStores_CreateOrUpdate_DataSourcePUT162": {
            "$ref": "./examples/DataStores_CreateOrUpdate_DataSource-PUT-example-162.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataStores"
        ],
        "description": "This method deletes the given data store/repository.",
        "operationId": "DataStores_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataStoreName",
            "in": "path",
            "description": "The data store/repository name to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted request for DataStore deletion."
          },
          "204": {
            "description": "Completed request for Delete Data Store."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataStores_Delete_DataSinkDELETE161": {
            "$ref": "./examples/DataStores_Delete_DataSink-DELETE-example-161.json"
          },
          "DataStores_Delete_DataSourceDELETE161": {
            "$ref": "./examples/DataStores_Delete_DataSource-DELETE-example-161.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataStoreTypes": {
      "get": {
        "tags": [
          "DataStoreTypes"
        ],
        "description": "Gets all the data store/repository types that the resource supports.",
        "operationId": "DataStoreTypes_ListByDataManager",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of data store types that are supported.",
            "schema": {
              "$ref": "#/definitions/DataStoreTypeList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataStoreTypes_ListByDataManagerGET171": {
            "$ref": "./examples/DataStoreTypes_ListByDataManager-GET-example-171.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataStoreTypes/{dataStoreTypeName}": {
      "get": {
        "tags": [
          "DataStoreTypes"
        ],
        "description": "Gets the data store/repository type given its name.",
        "operationId": "DataStoreTypes_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataStoreTypeName",
            "in": "path",
            "description": "The data store/repository type name for which details are needed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The data store/repository type.",
            "schema": {
              "$ref": "#/definitions/DataStoreType"
            }
          }
        },
        "x-ms-examples": {
          "DataStoreTypes_GetGET182": {
            "$ref": "./examples/DataStoreTypes_Get-GET-example-182.json"
          },
          "DataStoreTypes_GetGET183": {
            "$ref": "./examples/DataStoreTypes_Get-GET-example-183.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/jobDefinitions": {
      "get": {
        "tags": [
          "JobDefinitions"
        ],
        "description": "This method gets all the job definitions of the given data manager resource.",
        "operationId": "JobDefinitions_ListByDataManager",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData Filter options",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of job definitions in that resource.",
            "schema": {
              "$ref": "#/definitions/JobDefinitionList"
            }
          }
        },
        "x-ms-odata": "#/definitions/JobDefinitionFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "JobDefinitions_ListByDataManagerGET191": {
            "$ref": "./examples/JobDefinitions_ListByDataManager-GET-example-191.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "This method gets all the jobs at the data manager resource level.",
        "operationId": "Jobs_ListByDataManager",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData Filter options",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of jobs in the resource specified.",
            "schema": {
              "$ref": "#/definitions/JobList"
            }
          }
        },
        "x-ms-odata": "#/definitions/JobFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Jobs_ListByDataManagerGET201": {
            "$ref": "./examples/Jobs_ListByDataManager-GET-example-201.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/publicKeys": {
      "get": {
        "tags": [
          "PublicKeys"
        ],
        "description": "This method gets the list view of public keys, however it will only have one element.",
        "operationId": "PublicKeys_ListByDataManager",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of public keys.",
            "schema": {
              "$ref": "#/definitions/PublicKeyList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PublicKeys_ListByDataManagerGET211": {
            "$ref": "./examples/PublicKeys_ListByDataManager-GET-example-211.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/publicKeys/{publicKeyName}": {
      "get": {
        "tags": [
          "PublicKeys"
        ],
        "description": "This method gets the public keys.",
        "operationId": "PublicKeys_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "publicKeyName",
            "in": "path",
            "description": "Name of the public key.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The public keys.",
            "schema": {
              "$ref": "#/definitions/PublicKey"
            }
          }
        },
        "x-ms-examples": {
          "PublicKeys_GetGET222": {
            "$ref": "./examples/PublicKeys_Get-GET-example-222.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AvailableProviderOperation": {
      "description": "Class represents provider operation",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or Sets Name of the operations",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/AvailableProviderOperationDisplay",
          "description": "Gets or sets Display information\r\nContains the localized display information for this particular operation/action"
        },
        "origin": {
          "description": "Gets or sets Origin\r\nThe intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX.\r\nDefault value is “user,system”",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/AvailableProviderOperationProperties",
          "description": "Gets or sets Properties\r\nReserved for future use",
          "x-ms-client-flatten": true
        }
      }
    },
    "AvailableProviderOperationDisplay": {
      "description": "Contains the localized display information for this particular operation / action. \r\nThese value will be used by several clients for \r\n(1) custom role definitions for RBAC; \r\n(2) complex query filters for the event service; and (3) audit history / records for management operations.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Gets or sets Provider\r\nThe localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. \r\nIt should use Title Casing and begin with “Microsoft” for 1st party services.",
          "type": "string"
        },
        "resource": {
          "description": "Gets or sets Resource\r\nThe localized friendly form of the resource type related to this action/operation – it should match the public documentation for the resource provider. \r\nIt should use Title Casing – for examples, please refer to the “name” section.",
          "type": "string"
        },
        "operation": {
          "description": "Gets or sets Operation\r\nThe localized friendly name for the operation, as it should be shown to the user. \r\nIt should be concise (to fit in drop downs) but clear (i.e. self-documenting). It should use Title Casing and include the entity/resource to which it applies.",
          "type": "string"
        },
        "description": {
          "description": "Gets or sets Description\r\nThe localized friendly description for the operation, as it should be shown to the user. \r\nIt should be thorough, yet concise – it will be used in tool tips and detailed views.",
          "type": "string"
        }
      }
    },
    "AvailableProviderOperationProperties": {
      "description": "Class represents Properties in AvailableProviderOperations",
      "type": "object",
      "properties": {}
    },
    "AvailableProviderOperations": {
      "description": "Class for set of operations used for discovery of available provider operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AvailableProviderOperation"
          }
        },
        "nextLink": {
          "description": "Link for the next set of operations.",
          "type": "string"
        }
      }
    },
    "CustomerSecret": {
      "description": "The pair of customer secret.",
      "required": [
        "keyIdentifier",
        "keyValue",
        "algorithm"
      ],
      "type": "object",
      "properties": {
        "keyIdentifier": {
          "description": "The identifier to the data service input object which this secret corresponds to.",
          "type": "string"
        },
        "keyValue": {
          "description": "It contains the encrypted customer secret.",
          "type": "string"
        },
        "algorithm": {
          "description": "The encryption algorithm used to encrypt data.",
          "enum": [
            "None",
            "RSA1_5",
            "RSA_OAEP",
            "PlainText"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SupportedAlgorithm",
            "modelAsString": false
          }
        }
      }
    },
    "DataManager": {
      "description": "The DataManager resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "etag": {
          "description": "Etag of the Resource.",
          "type": "string"
        }
      }
    },
    "DataManagerList": {
      "description": "DataManager resources Collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of data manager resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataManager"
          }
        },
        "nextLink": {
          "description": "Link for the next set of data stores.",
          "type": "string"
        }
      }
    },
    "DataManagerUpdateParameter": {
      "description": "The DataManagerUpdateParameter.",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku type."
        },
        "tags": {
          "description": "The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource\r\n(across resource groups).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DataService": {
      "description": "Data Service.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DmsBaseObject"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataServiceProperties",
          "description": "DataService properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "DataServiceList": {
      "description": "Data Service Collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of data services.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataService"
          }
        },
        "nextLink": {
          "description": "Link for the next set of data services.",
          "type": "string"
        }
      }
    },
    "DataServiceProperties": {
      "description": "Data Service properties.",
      "required": [
        "state"
      ],
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the data service.",
          "enum": [
            "Disabled",
            "Enabled",
            "Supported"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "State",
            "modelAsString": false
          }
        },
        "supportedDataSinkTypes": {
          "description": "Supported data store types which can be used as a sink.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedDataSourceTypes": {
          "description": "Supported data store types which can be used as a source.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DataStore": {
      "description": "Data store.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DmsBaseObject"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataStoreProperties",
          "description": "DataStore properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "DataStoreFilter": {
      "description": "Contains the information about the filters for the DataStore.",
      "type": "object",
      "properties": {
        "dataStoreTypeId": {
          "description": "The data store type id.",
          "type": "string"
        }
      }
    },
    "DataStoreList": {
      "description": "Data Store Collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of data stores.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataStore"
          }
        },
        "nextLink": {
          "description": "Link for the next set of data stores.",
          "type": "string"
        }
      }
    },
    "DataStoreProperties": {
      "description": "Data Store for sources and sinks",
      "required": [
        "state",
        "dataStoreTypeId"
      ],
      "type": "object",
      "properties": {
        "repositoryId": {
          "description": "Arm Id for the manager resource to which the data source is associated. This is optional.",
          "type": "string"
        },
        "state": {
          "description": "State of the data source.",
          "enum": [
            "Disabled",
            "Enabled",
            "Supported"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "State",
            "modelAsString": false
          }
        },
        "extendedProperties": {
          "description": "A generic json used differently by each data source type.",
          "type": "object"
        },
        "dataStoreTypeId": {
          "description": "The arm id of the data store type.",
          "type": "string"
        },
        "customerSecrets": {
          "description": "List of customer secrets containing a key identifier and key value. The key identifier is a way for the specific data source to understand the key. Value contains customer secret encrypted by the encryptionKeys.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerSecret"
          }
        }
      }
    },
    "DataStoreType": {
      "description": "Data Store Type.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DmsBaseObject"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataStoreTypeProperties",
          "description": "DataStoreType properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "DataStoreTypeList": {
      "description": "Data Store Type Collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of DataStoreType.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataStoreType"
          }
        },
        "nextLink": {
          "description": "Link for the next set of data store types.",
          "type": "string"
        }
      }
    },
    "DataStoreTypeProperties": {
      "description": "Data Store Type properties.",
      "required": [
        "state"
      ],
      "type": "object",
      "properties": {
        "repositoryType": {
          "description": "Arm type for the manager resource to which the data source type is associated. This is optional.",
          "type": "string"
        },
        "state": {
          "description": "State of the data store type.",
          "enum": [
            "Disabled",
            "Enabled",
            "Supported"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "State",
            "modelAsString": false
          }
        },
        "supportedDataServicesAsSink": {
          "description": "Supported data services where it can be used as a sink.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedDataServicesAsSource": {
          "description": "Supported data services where it can be used as a source.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DmsBaseObject": {
      "description": "Base class for all objects under DataManager Service",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the object.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id of the object.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of the object.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Error": {
      "description": "Top level error for the job.",
      "required": [
        "code"
      ],
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code that can be used to programmatically identify the error.",
          "type": "string"
        },
        "message": {
          "description": "Describes the error in detail and provides debugging information.",
          "type": "string"
        }
      }
    },
    "ErrorDetails": {
      "description": "Error Details",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Error message.",
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "description": "Error code.",
          "type": "integer"
        },
        "recommendedAction": {
          "description": "Recommended action for the error.",
          "type": "string"
        },
        "exceptionMessage": {
          "description": "Contains the non localized exception message",
          "type": "string"
        }
      }
    },
    "Job": {
      "description": "Data service job.",
      "required": [
        "status",
        "startTime",
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DmsBaseObject"
        }
      ],
      "properties": {
        "status": {
          "description": "Status of the job.",
          "enum": [
            "None",
            "InProgress",
            "Succeeded",
            "WaitingForAction",
            "Failed",
            "Cancelled",
            "Cancelling",
            "PartiallySucceeded"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "JobStatus",
            "modelAsString": false
          }
        },
        "startTime": {
          "format": "date-time",
          "description": "Time at which the job was started in UTC ISO 8601 format.",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "Time at which the job ended in UTC ISO 8601 format.",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/JobProperties",
          "description": "Job properties.",
          "x-ms-client-flatten": true
        },
        "error": {
          "$ref": "#/definitions/Error",
          "description": "Top level error for the job."
        }
      }
    },
    "JobDefinition": {
      "description": "Job Definition.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DmsBaseObject"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobDefinitionProperties",
          "description": "JobDefinition properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "JobDefinitionFilter": {
      "description": "Contains the supported job definition filters.",
      "required": [
        "state"
      ],
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of the job definition.",
          "enum": [
            "Disabled",
            "Enabled",
            "Supported"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "State",
            "modelAsString": false
          }
        },
        "dataSource": {
          "description": "The data source associated with the job definition",
          "type": "string"
        },
        "lastModified": {
          "format": "date-time",
          "description": "The last modified date time of the data source.",
          "type": "string"
        }
      }
    },
    "JobDefinitionList": {
      "description": "Job Definition Collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of job definitions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobDefinition"
          }
        },
        "nextLink": {
          "description": "Link for the next set of job definitions.",
          "type": "string"
        }
      }
    },
    "JobDefinitionProperties": {
      "description": "Job Definition",
      "required": [
        "dataSourceId",
        "dataSinkId",
        "state"
      ],
      "type": "object",
      "properties": {
        "dataSourceId": {
          "description": "Data Source Id associated to the job definition.",
          "type": "string"
        },
        "dataSinkId": {
          "description": "Data Sink Id associated to the job definition.",
          "type": "string"
        },
        "schedules": {
          "description": "Schedule for running the job definition",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Schedule"
          }
        },
        "state": {
          "description": "State of the job definition.",
          "enum": [
            "Disabled",
            "Enabled",
            "Supported"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "State",
            "modelAsString": false
          }
        },
        "lastModifiedTime": {
          "format": "date-time",
          "description": "Last modified time of the job definition.",
          "type": "string"
        },
        "runLocation": {
          "description": "This is the preferred geo location for the job to run.",
          "enum": [
            "none",
            "australiaeast",
            "australiasoutheast",
            "brazilsouth",
            "canadacentral",
            "canadaeast",
            "centralindia",
            "centralus",
            "eastasia",
            "eastus",
            "eastus2",
            "japaneast",
            "japanwest",
            "koreacentral",
            "koreasouth",
            "southeastasia",
            "southcentralus",
            "southindia",
            "northcentralus",
            "northeurope",
            "uksouth",
            "ukwest",
            "westcentralus",
            "westeurope",
            "westindia",
            "westus",
            "westus2"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RunLocation",
            "modelAsString": false
          }
        },
        "userConfirmation": {
          "description": "Enum to detect if user confirmation is required. If not passed will default to NotRequired.",
          "default": "NotRequired",
          "enum": [
            "NotRequired",
            "Required"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "UserConfirmation",
            "modelAsString": false
          }
        },
        "dataServiceInput": {
          "description": "A generic json used differently by each data service type.",
          "type": "object"
        },
        "customerSecrets": {
          "description": "List of customer secrets containing a key identifier and key value. The key identifier is a way for the specific data source to understand the key. Value contains customer secret encrypted by the encryptionKeys.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerSecret"
          }
        }
      }
    },
    "JobDetails": {
      "description": "Job details.",
      "type": "object",
      "properties": {
        "jobStages": {
          "description": "List of stages that ran in the job",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStages"
          }
        },
        "jobDefinition": {
          "$ref": "#/definitions/JobDefinition",
          "description": "JobDefinition at the time of the run"
        },
        "errorDetails": {
          "description": "Error details for failure. This is optional.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetails"
          }
        },
        "itemDetailsLink": {
          "description": "Item Details Link to download files or see details",
          "type": "string"
        }
      }
    },
    "JobFilter": {
      "description": "Contains the information about the filters for the job.",
      "required": [
        "status"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the job.",
          "enum": [
            "None",
            "InProgress",
            "Succeeded",
            "WaitingForAction",
            "Failed",
            "Cancelled",
            "Cancelling",
            "PartiallySucceeded"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "JobStatus",
            "modelAsString": false
          }
        },
        "startTime": {
          "format": "date-time",
          "description": "The start time of the job.",
          "type": "string"
        }
      }
    },
    "JobList": {
      "description": "Job Collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of jobs.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Job"
          }
        },
        "nextLink": {
          "description": "Link for the next set of jobs.",
          "type": "string"
        }
      }
    },
    "JobProperties": {
      "description": "Job Properties",
      "required": [
        "isCancellable"
      ],
      "type": "object",
      "properties": {
        "isCancellable": {
          "description": "Describes whether the job is cancellable.",
          "enum": [
            "NotCancellable",
            "Cancellable"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "IsJobCancellable",
            "modelAsString": false
          }
        },
        "bytesProcessed": {
          "format": "int64",
          "description": "Number of bytes processed by the job as of now.",
          "type": "integer"
        },
        "itemsProcessed": {
          "format": "int64",
          "description": "Number of items processed by the job as of now",
          "type": "integer"
        },
        "totalBytesToProcess": {
          "format": "int64",
          "description": "Number of bytes to be processed by the job in total.",
          "type": "integer"
        },
        "totalItemsToProcess": {
          "format": "int64",
          "description": "Number of items to be processed by the job in total",
          "type": "integer"
        },
        "details": {
          "$ref": "#/definitions/JobDetails",
          "description": "Details of a job run. This field will only be sent for expand details filter."
        },
        "dataSourceName": {
          "description": "Name of the data source on which the job was triggered.",
          "type": "string"
        },
        "dataSinkName": {
          "description": "Name of the data sink on which the job was triggered.",
          "type": "string"
        }
      }
    },
    "JobStages": {
      "description": "Job stages.",
      "required": [
        "stageStatus"
      ],
      "type": "object",
      "properties": {
        "stageName": {
          "description": "Name of the job stage.",
          "type": "string"
        },
        "stageStatus": {
          "description": "Status of the job stage.",
          "enum": [
            "None",
            "InProgress",
            "Succeeded",
            "WaitingForAction",
            "Failed",
            "Cancelled",
            "Cancelling",
            "PartiallySucceeded"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "JobStatus",
            "modelAsString": false
          }
        },
        "jobStageDetails": {
          "description": "Job Stage Details",
          "type": "object"
        },
        "errorDetails": {
          "description": "Error details for the stage. This is optional",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetails"
          }
        }
      }
    },
    "Key": {
      "description": "Encryption Key.",
      "required": [
        "keyModulus",
        "keyExponent",
        "encryptionChunkSizeInBytes"
      ],
      "type": "object",
      "properties": {
        "keyModulus": {
          "description": "Modulus of the encryption key.",
          "type": "string"
        },
        "keyExponent": {
          "description": "Exponent of the encryption key.",
          "type": "string"
        },
        "encryptionChunkSizeInBytes": {
          "format": "int32",
          "description": "The maximum byte size that can be encrypted by the key. For a key size larger than the size, break into chunks and encrypt each chunk, append each encrypted chunk with : to mark the end of the chunk.",
          "type": "integer"
        }
      }
    },
    "PublicKey": {
      "description": "Public key",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DmsBaseObject"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PublicKeyProperties",
          "description": "Public key property.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PublicKeyList": {
      "description": "PublicKey Collection",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of public keys.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PublicKey"
          }
        },
        "nextLink": {
          "description": "Link for the next set of public keys.",
          "type": "string"
        }
      }
    },
    "PublicKeyProperties": {
      "description": "PublicKey Properties",
      "required": [
        "dataServiceLevel1Key",
        "dataServiceLevel2Key"
      ],
      "type": "object",
      "properties": {
        "dataServiceLevel1Key": {
          "$ref": "#/definitions/Key",
          "description": "Level one public key for encryption"
        },
        "dataServiceLevel2Key": {
          "$ref": "#/definitions/Key",
          "description": "Level two public key for encryption"
        }
      }
    },
    "Resource": {
      "description": "Model of the Resource.",
      "required": [
        "location"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The Resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The Resource Name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The Resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The location of the resource. This will be one of the supported and registered Azure Geo Regions (e.g. West US, East\r\nUS, Southeast Asia, etc.). The geo region of a resource cannot be changed once it is created, but if an identical geo\r\nregion is specified on update the request will succeed.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "description": "The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource\r\n(across resource groups).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku type."
        }
      },
      "x-ms-azure-resource": true
    },
    "RunParameters": {
      "description": "Run parameters for a job.",
      "type": "object",
      "properties": {
        "userConfirmation": {
          "description": "Enum to detect if user confirmation is required. If not passed will default to NotRequired.",
          "default": "NotRequired",
          "enum": [
            "NotRequired",
            "Required"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "UserConfirmation",
            "modelAsString": false
          }
        },
        "dataServiceInput": {
          "description": "A generic json used differently by each data service type.",
          "type": "object"
        },
        "customerSecrets": {
          "description": "List of customer secrets containing a key identifier and key value. The key identifier is a way for the specific data source to understand the key. Value contains customer secret encrypted by the encryptionKeys.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerSecret"
          }
        }
      }
    },
    "Schedule": {
      "description": "Schedule for the job run.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the schedule.",
          "type": "string"
        },
        "policyList": {
          "description": "A list of repetition intervals in ISO 8601 format.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Sku": {
      "description": "The sku type.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The sku name. Required for data manager creation, optional for update.",
          "type": "string"
        },
        "tier": {
          "description": "The sku tier. This is based on the SKU name.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API Version",
      "required": true,
      "type": "string"
    },
    "dataManagerNameParameter": {
      "name": "dataManagerName",
      "in": "path",
      "description": "The name of the DataManager Resource within the specified resource group. DataManager names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
      "required": true,
      "type": "string",
      "maxLength": 24,
      "minLength": 3,
      "pattern": "^[-\\w\\.]+$",
      "x-ms-parameter-location": "method"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The Resource Group Name",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Subscription Id",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
