{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2019-01-01-preview",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AlertsSuppressionRules"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/alertsSuppressionRules": {
      "get": {
        "operationId": "AlertsSuppressionRules_List",
        "tags": [
          "AlertsSuppressionRules"
        ],
        "description": "List of all the dismiss rules for the given subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "AlertType",
            "in": "query",
            "description": "Type of the alert to get rules for",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertsSuppressionRulesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get suppression alert rule for subscription, filtered by AlertType": {
            "$ref": "./examples/AlertsSuppressionRules/GetAlertsSuppressionRulesWithAlertType_example.json"
          },
          "Get suppression rules for subscription": {
            "$ref": "./examples/AlertsSuppressionRules/GetAlertsSuppressionRules_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/alertsSuppressionRules/{alertsSuppressionRuleName}": {
      "get": {
        "operationId": "AlertsSuppressionRules_Get",
        "tags": [
          "AlertsSuppressionRules"
        ],
        "description": "Get dismiss rule, with name: {alertsSuppressionRuleName}, for the given subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "alertsSuppressionRuleName",
            "in": "path",
            "description": "The unique name of the suppression alert rule",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertsSuppressionRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get suppression alert rule for subscription": {
            "$ref": "./examples/AlertsSuppressionRules/GetAlertsSuppressionRule_example.json"
          }
        }
      },
      "put": {
        "operationId": "AlertsSuppressionRules_Update",
        "tags": [
          "AlertsSuppressionRules"
        ],
        "description": "Update existing rule or create new rule if it doesn't exist",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "alertsSuppressionRuleName",
            "in": "path",
            "description": "The unique name of the suppression alert rule",
            "required": true,
            "type": "string"
          },
          {
            "name": "alertsSuppressionRule",
            "in": "body",
            "description": "Suppression rule object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlertsSuppressionRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AlertsSuppressionRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AlertsSuppressionRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update or create suppression rule for subscription": {
            "$ref": "./examples/AlertsSuppressionRules/PutAlertsSuppressionRule_example.json"
          }
        }
      },
      "delete": {
        "operationId": "AlertsSuppressionRules_Delete",
        "tags": [
          "AlertsSuppressionRules"
        ],
        "description": "Delete dismiss alert rule for this subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "alertsSuppressionRuleName",
            "in": "path",
            "description": "The unique name of the suppression alert rule",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete suppression rule data for a subscription": {
            "$ref": "./examples/AlertsSuppressionRules/DeleteAlertsSuppressionRule_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AlertsSuppressionRule": {
      "type": "object",
      "description": "Describes the suppression rule",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertsSuppressionRuleProperties",
          "description": "describes AlertsSuppressionRule properties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AlertsSuppressionRuleProperties": {
      "type": "object",
      "description": "describes AlertsSuppressionRule properties",
      "properties": {
        "alertType": {
          "type": "string",
          "description": "Type of the alert to automatically suppress. For all alert types, use '*'"
        },
        "lastModifiedUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The last time this rule was modified",
          "readOnly": true
        },
        "expirationDateUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Expiration date of the rule, if value is not provided or provided as null there will no expiration at all"
        },
        "reason": {
          "type": "string",
          "description": "The reason for dismissing the alert"
        },
        "state": {
          "$ref": "#/definitions/RuleState",
          "description": "Possible states of the rule"
        },
        "comment": {
          "type": "string",
          "description": "Any comment regarding the rule"
        },
        "suppressionAlertsScope": {
          "$ref": "#/definitions/SuppressionAlertsScope",
          "description": "The suppression conditions"
        }
      },
      "required": [
        "alertType",
        "reason",
        "state"
      ]
    },
    "AlertsSuppressionRulesList": {
      "type": "object",
      "description": "Suppression rules list for subscription.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AlertsSuppressionRule items on this page",
          "items": {
            "$ref": "#/definitions/AlertsSuppressionRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "readOnly": true
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "readOnly": true
        }
      },
      "x-ms-external": true
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "RuleState": {
      "type": "string",
      "description": "Possible states of the rule",
      "enum": [
        "Enabled",
        "Disabled",
        "Expired"
      ],
      "x-ms-enum": {
        "name": "RuleState",
        "modelAsString": false,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "Expired",
            "value": "Expired",
            "description": "Expired"
          }
        ]
      }
    },
    "ScopeElement": {
      "type": "object",
      "description": "A more specific scope used to identify the alerts to suppress.",
      "properties": {
        "field": {
          "type": "string",
          "description": "The alert entity type to suppress by."
        }
      },
      "additionalProperties": {}
    },
    "SuppressionAlertsScope": {
      "type": "object",
      "properties": {
        "allOf": {
          "type": "array",
          "description": "All the conditions inside need to be true in order to suppress the alert",
          "items": {
            "$ref": "#/definitions/ScopeElement"
          }
        }
      },
      "required": [
        "allOf"
      ]
    }
  },
  "parameters": {}
}
