{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2019-01-01-preview",
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "RegulatoryCompliance"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards": {
      "get": {
        "operationId": "RegulatoryComplianceStandards_List",
        "tags": [
          "RegulatoryCompliance"
        ],
        "description": "Supported regulatory compliance standards details and state",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter. Optional.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegulatoryComplianceStandardList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get all supported regulatory compliance standards details and state": {
            "$ref": "./examples/RegulatoryCompliance/getRegulatoryComplianceStandardList_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}": {
      "get": {
        "operationId": "RegulatoryComplianceStandards_Get",
        "tags": [
          "RegulatoryCompliance"
        ],
        "description": "Supported regulatory compliance details state for selected standard",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "regulatoryComplianceStandardName",
            "in": "path",
            "description": "Name of the regulatory compliance standard object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegulatoryComplianceStandard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get selected regulatory compliance standard details and state": {
            "$ref": "./examples/RegulatoryCompliance/getRegulatoryComplianceStandard_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls": {
      "get": {
        "operationId": "RegulatoryComplianceControls_List",
        "tags": [
          "RegulatoryCompliance"
        ],
        "description": "All supported regulatory compliance controls details and state for selected standard",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "regulatoryComplianceStandardName",
            "in": "path",
            "description": "Name of the regulatory compliance standard object",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter. Optional.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegulatoryComplianceControlList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get all regulatory compliance controls details and state for selected standard": {
            "$ref": "./examples/RegulatoryCompliance/getRegulatoryComplianceControlList_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}": {
      "get": {
        "operationId": "RegulatoryComplianceControls_Get",
        "tags": [
          "RegulatoryCompliance"
        ],
        "description": "Selected regulatory compliance control details and state",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "regulatoryComplianceStandardName",
            "in": "path",
            "description": "Name of the regulatory compliance standard object",
            "required": true,
            "type": "string"
          },
          {
            "name": "regulatoryComplianceControlName",
            "in": "path",
            "description": "Name of the regulatory compliance control object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegulatoryComplianceControl"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get selected regulatory compliance control details and state": {
            "$ref": "./examples/RegulatoryCompliance/getRegulatoryComplianceControl_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}/regulatoryComplianceAssessments": {
      "get": {
        "operationId": "RegulatoryComplianceAssessments_List",
        "tags": [
          "RegulatoryCompliance"
        ],
        "description": "Details and state of assessments mapped to selected regulatory compliance control",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "regulatoryComplianceStandardName",
            "in": "path",
            "description": "Name of the regulatory compliance standard object",
            "required": true,
            "type": "string"
          },
          {
            "name": "regulatoryComplianceControlName",
            "in": "path",
            "description": "Name of the regulatory compliance control object",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter. Optional.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegulatoryComplianceAssessmentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get all assessments mapped to selected regulatory compliance control": {
            "$ref": "./examples/RegulatoryCompliance/getRegulatoryComplianceAssessmentList_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}/regulatoryComplianceAssessments/{regulatoryComplianceAssessmentName}": {
      "get": {
        "operationId": "RegulatoryComplianceAssessments_Get",
        "tags": [
          "RegulatoryCompliance"
        ],
        "description": "Supported regulatory compliance details and state for selected assessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "regulatoryComplianceStandardName",
            "in": "path",
            "description": "Name of the regulatory compliance standard object",
            "required": true,
            "type": "string"
          },
          {
            "name": "regulatoryComplianceControlName",
            "in": "path",
            "description": "Name of the regulatory compliance control object",
            "required": true,
            "type": "string"
          },
          {
            "name": "regulatoryComplianceAssessmentName",
            "in": "path",
            "description": "Name of the regulatory compliance assessment object",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegulatoryComplianceAssessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get selected regulatory compliance assessment details and state": {
            "$ref": "./examples/RegulatoryCompliance/getRegulatoryComplianceAssessment_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "readOnly": true
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "readOnly": true
        }
      },
      "x-ms-external": true
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "RegulatoryComplianceAssessment": {
      "type": "object",
      "description": "Regulatory compliance assessment details and state",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RegulatoryComplianceAssessmentProperties",
          "description": "Regulatory compliance assessment data",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RegulatoryComplianceAssessmentList": {
      "type": "object",
      "description": "List of regulatory compliance assessment response",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RegulatoryComplianceAssessment items on this page",
          "items": {
            "$ref": "#/definitions/RegulatoryComplianceAssessment"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RegulatoryComplianceAssessmentProperties": {
      "type": "object",
      "description": "Regulatory compliance assessment data",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the regulatory compliance assessment",
          "readOnly": true
        },
        "assessmentType": {
          "type": "string",
          "description": "The expected type of assessment contained in the AssessmentDetailsLink",
          "readOnly": true
        },
        "assessmentDetailsLink": {
          "type": "string",
          "description": "Link to more detailed assessment results data. The response type will be according to the assessmentType field",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/State",
          "description": "Aggregative state based on the assessment's scanned resources states"
        },
        "passedResources": {
          "type": "integer",
          "format": "int32",
          "description": "The given assessment's related resources count with passed state.",
          "readOnly": true
        },
        "failedResources": {
          "type": "integer",
          "format": "int32",
          "description": "The given assessment's related resources count with failed state.",
          "readOnly": true
        },
        "skippedResources": {
          "type": "integer",
          "format": "int32",
          "description": "The given assessment's related resources count with skipped state.",
          "readOnly": true
        },
        "unsupportedResources": {
          "type": "integer",
          "format": "int32",
          "description": "The given assessment's related resources count with unsupported state.",
          "readOnly": true
        }
      }
    },
    "RegulatoryComplianceControl": {
      "type": "object",
      "description": "Regulatory compliance control details and state",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RegulatoryComplianceControlProperties",
          "description": "Regulatory compliance control data",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RegulatoryComplianceControlList": {
      "type": "object",
      "description": "List of regulatory compliance controls response",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RegulatoryComplianceControl items on this page",
          "items": {
            "$ref": "#/definitions/RegulatoryComplianceControl"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RegulatoryComplianceControlProperties": {
      "type": "object",
      "description": "Regulatory compliance control data",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the regulatory compliance control",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/State",
          "description": "Aggregative state based on the control's supported assessments states"
        },
        "passedAssessments": {
          "type": "integer",
          "format": "int32",
          "description": "The number of supported regulatory compliance assessments of the given control with a passed state",
          "readOnly": true
        },
        "failedAssessments": {
          "type": "integer",
          "format": "int32",
          "description": "The number of supported regulatory compliance assessments of the given control with a failed state",
          "readOnly": true
        },
        "skippedAssessments": {
          "type": "integer",
          "format": "int32",
          "description": "The number of supported regulatory compliance assessments of the given control with a skipped state",
          "readOnly": true
        }
      }
    },
    "RegulatoryComplianceStandard": {
      "type": "object",
      "description": "Regulatory compliance standard details and state",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RegulatoryComplianceStandardProperties",
          "description": "Regulatory compliance standard data",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RegulatoryComplianceStandardList": {
      "type": "object",
      "description": "List of regulatory compliance standards response",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RegulatoryComplianceStandard items on this page",
          "items": {
            "$ref": "#/definitions/RegulatoryComplianceStandard"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RegulatoryComplianceStandardProperties": {
      "type": "object",
      "description": "Regulatory compliance standard data",
      "properties": {
        "state": {
          "$ref": "#/definitions/State",
          "description": "Aggregative state based on the standard's supported controls states"
        },
        "passedControls": {
          "type": "integer",
          "format": "int32",
          "description": "The number of supported regulatory compliance controls of the given standard with a passed state",
          "readOnly": true
        },
        "failedControls": {
          "type": "integer",
          "format": "int32",
          "description": "The number of supported regulatory compliance controls of the given standard with a failed state",
          "readOnly": true
        },
        "skippedControls": {
          "type": "integer",
          "format": "int32",
          "description": "The number of supported regulatory compliance controls of the given standard with a skipped state",
          "readOnly": true
        },
        "unsupportedControls": {
          "type": "integer",
          "format": "int32",
          "description": "The number of regulatory compliance controls of the given standard which are unsupported by automated assessments",
          "readOnly": true
        }
      }
    },
    "State": {
      "type": "string",
      "description": "Aggregative state based on the standard's supported controls states",
      "enum": [
        "Passed",
        "Failed",
        "Skipped",
        "Unsupported"
      ],
      "x-ms-enum": {
        "name": "State",
        "modelAsString": true,
        "values": [
          {
            "name": "Passed",
            "value": "Passed",
            "description": "All supported regulatory compliance controls in the given standard have a passed state"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "At least one supported regulatory compliance control in the given standard has a state of failed"
          },
          {
            "name": "Skipped",
            "value": "Skipped",
            "description": "All supported regulatory compliance controls in the given standard have a state of skipped"
          },
          {
            "name": "Unsupported",
            "value": "Unsupported",
            "description": "No supported regulatory compliance data for the given standard"
          }
        ]
      }
    }
  },
  "parameters": {}
}
