{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2019-01-01-preview",
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SubAssessments"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.Security/assessments/{assessmentName}/subAssessments": {
      "get": {
        "operationId": "SubAssessments_List",
        "tags": [
          "SubAssessments"
        ],
        "description": "Get security sub-assessments on all your scanned resources inside a scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the sub-assessment.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "The security assessment key - unique key for the assessment type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecuritySubAssessmentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security sub-assessments": {
            "$ref": "./examples/SubAssessments/ListSubAssessments_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/assessments/{assessmentName}/subAssessments/{subAssessmentName}": {
      "get": {
        "operationId": "SubAssessments_Get",
        "tags": [
          "SubAssessments"
        ],
        "description": "Get a security sub-assessment on your scanned resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope of the sub-assessment.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "The security assessment key - unique key for the assessment type",
            "required": true,
            "type": "string"
          },
          {
            "name": "subAssessmentName",
            "in": "path",
            "description": "The Sub-Assessment Key - Unique key for the sub-assessment type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecuritySubAssessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security recommendation task from security data location": {
            "$ref": "./examples/SubAssessments/GetSubAssessment_example.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/subAssessments": {
      "get": {
        "operationId": "SubAssessments_ListAll",
        "tags": [
          "SubAssessments"
        ],
        "description": "Get security sub-assessments on all your scanned resources inside a subscription scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SecuritySubAssessmentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security sub-assessments": {
            "$ref": "./examples/SubAssessments/ListSubscriptionSubAssessments_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AdditionalData": {
      "type": "object",
      "description": "Details of the sub-assessment",
      "properties": {
        "assessedResourceType": {
          "$ref": "#/definitions/AssessedResourceType",
          "description": "Sub-assessment resource type"
        }
      },
      "discriminator": "assessedResourceType",
      "required": [
        "assessedResourceType"
      ]
    },
    "AssessedResourceType": {
      "type": "string",
      "description": "Sub-assessment resource type",
      "enum": [
        "SqlServerVulnerability",
        "ContainerRegistryVulnerability",
        "ServerVulnerability"
      ],
      "x-ms-enum": {
        "name": "AssessedResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "SqlServerVulnerability",
            "value": "SqlServerVulnerability",
            "description": "SqlServerVulnerability"
          },
          {
            "name": "ContainerRegistryVulnerability",
            "value": "ContainerRegistryVulnerability",
            "description": "ContainerRegistryVulnerability"
          },
          {
            "name": "ServerVulnerability",
            "value": "ServerVulnerability",
            "description": "ServerVulnerability"
          }
        ]
      }
    },
    "CVE": {
      "type": "object",
      "description": "CVE details",
      "properties": {
        "title": {
          "type": "string",
          "description": "CVE title",
          "readOnly": true
        },
        "link": {
          "type": "string",
          "description": "Link url",
          "readOnly": true
        }
      }
    },
    "CVSS": {
      "type": "object",
      "description": "CVSS details",
      "properties": {
        "base": {
          "type": "number",
          "format": "float",
          "description": "CVSS base",
          "readOnly": true
        }
      }
    },
    "Common.CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/Common.CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "Common.CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/Common.CloudErrorBody"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/Common.ErrorAdditionalInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "x-ms-external": true
    },
    "Common.ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "Common.ResourceDetails": {
      "type": "object",
      "description": "Details of the resource that was assessed",
      "properties": {
        "source": {
          "$ref": "#/definitions/Common.Source",
          "description": "The platform where the assessed resource resides"
        }
      },
      "discriminator": "source",
      "required": [
        "source"
      ]
    },
    "Common.Severity": {
      "type": "string",
      "description": "The severity level of the assessment",
      "enum": [
        "Low",
        "Medium",
        "High",
        "Critical"
      ],
      "x-ms-enum": {
        "name": "Severity",
        "modelAsString": true,
        "values": [
          {
            "name": "Low",
            "value": "Low",
            "description": "Low"
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "Medium"
          },
          {
            "name": "High",
            "value": "High",
            "description": "High"
          },
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Critical"
          }
        ]
      }
    },
    "Common.Source": {
      "type": "string",
      "description": "The platform where the assessed resource resides",
      "enum": [
        "Azure",
        "OnPremise",
        "OnPremiseSql",
        "Aws",
        "Gcp"
      ],
      "x-ms-enum": {
        "name": "Source",
        "modelAsString": true,
        "values": [
          {
            "name": "Azure",
            "value": "Azure",
            "description": "Resource is in Azure"
          },
          {
            "name": "OnPremise",
            "value": "OnPremise",
            "description": "Resource in an on premise machine connected to Azure cloud"
          },
          {
            "name": "OnPremiseSql",
            "value": "OnPremiseSql",
            "description": "SQL Resource in an on premise machine connected to Azure cloud"
          },
          {
            "name": "Aws",
            "value": "Aws",
            "description": "Aws"
          },
          {
            "name": "Gcp",
            "value": "Gcp",
            "description": "Gcp"
          }
        ]
      }
    },
    "ContainerRegistryVulnerabilityProperties": {
      "type": "object",
      "description": "Additional context fields for container registry Vulnerability assessment",
      "properties": {
        "type": {
          "type": "string",
          "description": "Vulnerability Type. e.g: Vulnerability, Potential Vulnerability, Information Gathered, Vulnerability",
          "readOnly": true
        },
        "cvss": {
          "type": "object",
          "description": "Dictionary from cvss version to cvss details object",
          "additionalProperties": {
            "$ref": "#/definitions/CVSS"
          },
          "readOnly": true
        },
        "patchable": {
          "type": "boolean",
          "description": "Indicates whether a patch is available or not",
          "readOnly": true
        },
        "cve": {
          "type": "array",
          "description": "List of CVEs",
          "items": {
            "$ref": "#/definitions/CVE"
          },
          "readOnly": true
        },
        "publishedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Published time",
          "readOnly": true
        },
        "vendorReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VendorReference"
          },
          "readOnly": true
        },
        "repositoryName": {
          "type": "string",
          "description": "Name of the repository which the vulnerable image belongs to",
          "readOnly": true
        },
        "imageDigest": {
          "type": "string",
          "description": "Digest of the vulnerable image",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AdditionalData"
        }
      ],
      "x-ms-discriminator-value": "ContainerRegistryVulnerability"
    },
    "SecuritySubAssessment": {
      "type": "object",
      "description": "Security sub-assessment on a resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecuritySubAssessmentProperties",
          "description": "Describes properties of an sub-assessment.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SecuritySubAssessmentList": {
      "type": "object",
      "description": "List of security sub-assessments",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of security sub-assessments",
          "items": {
            "$ref": "#/definitions/SecuritySubAssessment"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page.",
          "readOnly": true
        }
      }
    },
    "SecuritySubAssessmentProperties": {
      "type": "object",
      "description": "Describes properties of an sub-assessment.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Vulnerability ID",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User friendly display name of the sub-assessment",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/SubAssessmentStatus",
          "description": "Status of the sub-assessment"
        },
        "remediation": {
          "type": "string",
          "description": "Information on how to remediate this sub-assessment",
          "readOnly": true
        },
        "impact": {
          "type": "string",
          "description": "Description of the impact of this sub-assessment",
          "readOnly": true
        },
        "category": {
          "type": "string",
          "description": "Category of the sub-assessment",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the assessment status",
          "readOnly": true
        },
        "timeGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time the sub-assessment was generated",
          "readOnly": true
        },
        "resourceDetails": {
          "$ref": "#/definitions/Common.ResourceDetails",
          "description": "Details of the resource that was assessed"
        },
        "additionalData": {
          "$ref": "#/definitions/AdditionalData",
          "description": "Details of the sub-assessment"
        }
      }
    },
    "ServerVulnerabilityProperties": {
      "type": "object",
      "description": "Additional context fields for server vulnerability assessment",
      "properties": {
        "type": {
          "type": "string",
          "description": "Vulnerability Type. e.g: Vulnerability, Potential Vulnerability, Information Gathered",
          "readOnly": true
        },
        "cvss": {
          "type": "object",
          "description": "Dictionary from cvss version to cvss details object",
          "additionalProperties": {
            "$ref": "#/definitions/CVSS"
          },
          "readOnly": true
        },
        "patchable": {
          "type": "boolean",
          "description": "Indicates whether a patch is available or not",
          "readOnly": true
        },
        "cve": {
          "type": "array",
          "description": "List of CVEs",
          "items": {
            "$ref": "#/definitions/CVE"
          },
          "readOnly": true
        },
        "threat": {
          "type": "string",
          "description": "Threat name",
          "readOnly": true
        },
        "publishedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Published time",
          "readOnly": true
        },
        "vendorReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VendorReference"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AdditionalData"
        }
      ],
      "x-ms-discriminator-value": "ServerVulnerabilityAssessment"
    },
    "SqlServerVulnerabilityProperties": {
      "type": "object",
      "description": "Details of the resource that was assessed",
      "properties": {
        "type": {
          "type": "string",
          "description": "The resource type the sub assessment refers to in its resource details",
          "readOnly": true
        },
        "query": {
          "type": "string",
          "description": "The T-SQL query that runs on your SQL database to perform the particular check",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AdditionalData"
        }
      ],
      "x-ms-discriminator-value": "SqlServerVulnerability"
    },
    "SubAssessmentStatus": {
      "type": "object",
      "description": "Status of the sub-assessment",
      "properties": {
        "code": {
          "$ref": "#/definitions/SubAssessmentStatusCode",
          "description": "Programmatic code for the status of the assessment",
          "readOnly": true
        },
        "cause": {
          "type": "string",
          "description": "Programmatic code for the cause of the assessment status",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the assessment status",
          "readOnly": true
        },
        "severity": {
          "$ref": "#/definitions/Common.Severity",
          "description": "The sub-assessment severity level",
          "readOnly": true
        }
      }
    },
    "SubAssessmentStatusCode": {
      "type": "string",
      "description": "Programmatic code for the status of the assessment",
      "enum": [
        "Healthy",
        "Unhealthy",
        "NotApplicable"
      ],
      "x-ms-enum": {
        "name": "SubAssessmentStatusCode",
        "modelAsString": true,
        "values": [
          {
            "name": "Healthy",
            "value": "Healthy",
            "description": "The resource is healthy"
          },
          {
            "name": "Unhealthy",
            "value": "Unhealthy",
            "description": "The resource has a security issue that needs to be addressed"
          },
          {
            "name": "NotApplicable",
            "value": "NotApplicable",
            "description": "Assessment for this resource did not happen"
          }
        ]
      }
    },
    "VendorReference": {
      "type": "object",
      "description": "Vendor reference",
      "properties": {
        "title": {
          "type": "string",
          "description": "Link title",
          "readOnly": true
        },
        "link": {
          "type": "string",
          "description": "Link url",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
