{
    "swagger": "2.0",
    "info": {
        "description": "InfraRole instance operation endpoints and objects.",
        "title": "FabricAdminClient",
        "version": "2016-05-01"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/PowerOff": {
            "post": {
                "x-ms-examples": {
                    "Power off an infra role instance": {
                        "$ref": "./examples/InfraRoleInstance/InfraRoleInstancePowerOffOperation_example.json"
                    }
                },
                "tags": [
                    "InfraRoleInstances"
                ],
                "description": "Power off an infra role instance.",
                "operationId": "InfraRoleInstances_PowerOff",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/InfraRoleInstanceParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "202": {
                        "description": "ACCEPTED",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "500": {
                        "description": "FAILURE",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/PowerOn": {
            "post": {
                "x-ms-examples": {
                    "Power on an infra role instance": {
                        "$ref": "./examples/InfraRoleInstance/InfraRoleInstancePowerOnOperation_example.json"
                    }
                },
                "tags": [
                    "InfraRoleInstances"
                ],
                "description": "Power on an infra role instance.",
                "operationId": "InfraRoleInstances_PowerOn",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/InfraRoleInstanceParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "202": {
                        "description": "ACCEPTED",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "500": {
                        "description": "FAILURE",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/Shutdown": {
            "post": {
                "x-ms-examples": {
                    "Shutdown an infra role instance": {
                        "$ref": "./examples/InfraRoleInstance/InfraRoleInstanceShutdownOperation_example.json"
                    }
                },
                "tags": [
                    "InfraRoleInstances"
                ],
                "description": "Shut down an infra role instance.",
                "operationId": "InfraRoleInstances_Shutdown",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/InfraRoleInstanceParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "202": {
                        "description": "ACCEPTED",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "500": {
                        "description": "FAILURE",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/Reboot": {
            "post": {
                "x-ms-examples": {
                    "Reboot an infra role instance": {
                        "$ref": "./examples/InfraRoleInstance/InfraRoleInstanceRebootOperation_example.json"
                    }
                },
                "tags": [
                    "InfraRoleInstances"
                ],
                "description": "Reboot an infra role instance.",
                "operationId": "InfraRoleInstances_Reboot",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/InfraRoleInstanceParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "202": {
                        "description": "ACCEPTED",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "500": {
                        "description": "FAILURE",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}": {
            "get": {
                "x-ms-examples": {
                    "Get an infra role instance": {
                        "$ref": "./examples/InfraRoleInstance/InfraRoleInstanceGetOperation_example.json"
                    }
                },
                "tags": [
                    "InfraRoleInstances"
                ],
                "description": "Get an infra role instance.",
                "operationId": "InfraRoleInstances_Get",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/InfraRoleInstanceParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/InfraRoleInstance"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances": {
            "get": {
                "x-ms-examples": {
                    "List all infra role instances": {
                        "$ref": "./examples/InfraRoleInstance/InfraRoleInstanceListOperation_example.json"
                    }
                },
                "tags": [
                    "InfraRoleInstances"
                ],
                "description": "Get a list of all infra role instances at a location.",
                "operationId": "InfraRoleInstances_List",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/InfraRoleInstanceList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-ms-odata": "#/definitions/InfraRoleInstance"
            }
        }
    },
    "definitions": {
        "InfraRoleInstance": {
            "description": "The virtual machine resource is used to represent an infrastructure virtual machine in the Azure Stack environment. The fabric resource provider only surfaces infrastructure virtual machines. These machines are never created directly by the admin, but rather as a side effect of expanding admin services.",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "All properties of an infra role instance.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/InfraRoleInstanceModel"
                }
            },
            "allOf": [
                {
                    "$ref": "Fabric.json#/definitions/Resource"
                }
            ]
        },
        "InfraRoleInstanceModel": {
            "description": "All properties of an infra role instance.",
            "type": "object",
            "properties": {
                "scaleUnit": {
                    "description": "The cluster that the virtual machine's host is part of.",
                    "type": "string"
                },
                "scaleUnitNode": {
                    "description": "URI to the scale unit node.",
                    "type": "string"
                },
                "size": {
                    "description": "Size of the virtual machine.",
                    "$ref": "#/definitions/InfraRoleInstanceSize"
                },
                "state": {
                    "description": "The current state of the virtual machine.",
                    "enum": [
                        "Stopped",
                        "Starting",
                        "Running",
                        "Stopping"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                        "modelAsString": true,
                        "name": "InfraRoleInstanceState"
                    }
                }
            }
        },
        "InfraRoleInstanceSize": {
            "description": "The capacity information for a virtual machine.",
            "type": "object",
            "properties": {
                "memoryGb": {
                    "description": "The amount of memory, in GB, currently assigned to the virtual machine.  In Azure Stack V1, only static memory is used for infrastructure VMs.",
                    "format": "float",
                    "type": "number"
                },
                "cores": {
                    "description": "The number of cores assigned to the virtual machine.",
                    "format": "int32",
                    "type": "integer"
                }
            }
        },
        "InfraRoleInstanceList": {
            "description": "Pageable list of infra role instances.",
            "type": "object",
            "properties": {
                "value": {
                    "description": "List of infra role instances for this page.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/InfraRoleInstance"
                    }
                },
                "nextLink": {
                    "description": "URI to the next page.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "InfraRoleInstanceParameter": {
            "name": "infraRoleInstance",
            "description": "Name of an infra role instance.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}