{
    "swagger": "2.0",
    "info": {
        "description": "Ip pool operation endpoints and objects.",
        "title": "FabricAdminClient",
        "version": "2016-05-01"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/ipPools/{ipPool}": {
            "get": {
                "x-ms-examples": {
                    "Get an ip pool": {
                        "$ref": "./examples/IpPool/IpPoolGetOperation_example.json"
                    }
                },
                "tags": [
                    "IpPools"
                ],
                "description": "Get an ip pool.",
                "operationId": "IpPools_Get",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/IpPoolNameParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IpPool"
                        }
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Create an ip pool": {
                        "$ref": "./examples/IpPool/IpPoolCreateOperation_example.json"
                    }
                },
                "tags": [
                    "IpPools"
                ],
                "description": "Create an ip pool.",
                "operationId": "IpPools_Create",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/IpPoolNameParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/IpPoolParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "202": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/ipPools": {
            "get": {
                "x-ms-examples": {
                    "List all ip pools": {
                        "$ref": "./examples/IpPool/IpPoolListOperation_example.json"
                    }
                },
                "tags": [
                    "IpPools"
                ],
                "description": "Get a list of all ip pools at a certain location.",
                "operationId": "IpPools_List",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IpPoolList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-ms-odata": "#/definitions/IpPool"
            }
        }
    },
    "definitions": {
        "IpPool": {
            "description": "This resource defines the range of IP addresses from which addresses are  allocated for nodes within a subnet.",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Properties of an IpPool.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/IpPoolModel"
                }
            },
            "allOf": [
                {
                    "$ref": "Fabric.json#/definitions/Resource"
                }
            ]
        },
        "IpPoolModel": {
            "description": "Properties of an IpPool.",
            "type": "object",
            "properties": {
                "startIpAddress": {
                    "description": "The starting Ip address.",
                    "type": "string"
                },
                "endIpAddress": {
                    "description": "The ending Ip address.",
                    "type": "string"
                },
                "addressPrefix": {
                    "description": "The address prefix.",
                    "type": "string"
                },
                "numberOfIpAddresses": {
                    "description": "The total number of ip addresses.",
                    "type": "integer",
                    "format": "int64"
                },
                "numberOfAllocatedIpAddresses": {
                    "description": "The number of currently allocated ip addresses.",
                    "type": "integer",
                    "format": "int64"
                },
                "numberOfIpAddressesInTransition": {
                    "description": "The current number of ip addresses in transition.",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "IpPoolList": {
            "description": "Pageable list of ip pools.",
            "type": "object",
            "properties": {
                "value": {
                    "description": "List of ip pools for this page.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/IpPool"
                    }
                },
                "nextLink": {
                    "description": "URI to the next page.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "IpPoolParameter": {
            "name": "pool",
            "description": "Ip pool object to send.",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/IpPool"
            },
            "x-ms-parameter-location": "method"
        },
        "IpPoolNameParameter": {
            "name": "ipPool",
            "description": "Ip pool name.",
            "type": "string",
            "in": "path",
            "required": true,
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}