{
  "swagger": "2.0",
  "info": {
    "description": "Scale unit operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2016-05-01"
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/ScaleOut": {
      "post": {
        "tags": [
          "ScaleUnits"
        ],
        "description": "Scales out the cluster.",
        "operationId": "ScaleUnits_ScaleOut",
        "parameters": [
          {
            "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ScaleUnitParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ServersToBeAddedParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "Operations.json#/definitions/ProvisioningState"
            }
          },
          "202": {
            "description": "ACCEPTED",
            "schema": {
              "$ref": "Operations.json#/definitions/ProvisioningState"
            }
          },
          "500": {
            "description": "FAILURE",
            "schema": {
              "$ref": "Operations.json#/definitions/ProvisioningState"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}": {
      "get": {
        "x-ms-examples": {
          "Get a scale unit": {
            "$ref": "./examples/ScaleUnit/ScaleUnitGetOperation_example.json"
          }
        },
        "tags": [
          "ScaleUnits"
        ],
        "description": "Get a scale unit.",
        "operationId": "ScaleUnits_Get",
        "parameters": [
          {
            "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ScaleUnitParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaleUnit"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits": {
      "get": {
        "x-ms-examples": {
          "List all scale units": {
            "$ref": "./examples/ScaleUnit/ScaleUnitListOperation_example.json"
          }
        },
        "tags": [
          "ScaleUnits"
        ],
        "description": "Get a list of all scale units at a location.",
        "operationId": "ScaleUnits_List",
        "parameters": [
          {
            "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/LocationParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Fabric.json#/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaleUnitList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ScaleUnit"
      }
    }
  },
  "definitions": {
    "ScaleUnitCapacity": {
      "description": "The capacity information for a physical machine.",
      "type": "object",
      "properties": {
        "memoryGB": {
          "description": "The memory for the physical machine.",
          "type": "number",
          "format": "float"
        },
        "cores": {
          "description": "The number of CPU cores for the physical machine.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "BareMetalNodeDescription": {
      "description": "The description of a bare metal node used for ScaleOut operation on a cluster.",
      "type": "object",
      "properties": {
        "bmcAddress": {
          "description": "Bmc address of the physical machine.",
          "type": "string"
        },
        "vendor": {
          "description": "Vendor of the physical machine.",
          "type": "string"
        },
        "model": {
          "description": "Model of the physical machine.",
          "type": "string"
        },
        "serialNumber": {
          "description": "Serial number of the physical machine.",
          "type": "string"
        },
        "biosVersion": {
          "description": "Bios version of the physical machine.",
          "type": "string"
        },
        "computerName": {
          "description": "Name of the computer.",
          "type": "string"
        },
        "id": {
          "description": "Name of the cluster.",
          "type": "string"
        },
        "macAddress": {
          "description": "Mac address of the bare metal node.",
          "type": "string"
        }
      }
    },
    "ScaleUnit": {
      "description": "Represents a cluster - generally this will be a collection of Hosts backed by Failover Cluster Manager.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of a scale unit.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ScaleUnitModel"
        }
      },
      "allOf": [
        {
          "$ref": "Fabric.json#/definitions/Resource"
        }
      ]
    },
    "ScaleUnitModel": {
      "description": "Properties of a scale unit.",
      "type": "object",
      "properties": {
        "scaleUnitType": {
          "description": "Type of the cluster.",
          "enum": [
            "Unknown",
            "ComputeOnly",
            "StorageOnly",
            "HyperConverged"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ScaleUnitType"
          }
        },
        "logicalFaultDomain": {
          "description": "Fault domain name of the cluster.",
          "type": "integer",
          "format": "int32"
        },
        "nodes": {
          "description": "List of nodes in the server.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "description": "Current state of the cluster.",
          "enum": [
            "Unknown",
            "Creating",
            "Running",
            "Upgrading",
            "Deleting"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ScaleUnitState"
          }
        },
        "model": {
          "description": "Model of the servers in the cluster.",
          "type": "string"
        },
        "totalCapacity": {
          "description": "Capacity information for the cluster.",
          "$ref": "#/definitions/ScaleUnitCapacity"
        }
      }
    },
    "ScaleUnitList": {
      "description": "A pageable list of scale units.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of scale units on this page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScaleUnit"
          }
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ScaleUnitParameter": {
      "name": "scaleUnit",
      "description": "Name of the scale units.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ServersToBeAddedParameter": {
      "name": "serversToBeAdded",
      "description": "Descripion of the server to be added.",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/BareMetalNodeDescription"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}