{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.DeviceOnboarding",
    "version": "2024-11-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OnboardingServices"
    },
    {
      "name": "Policies"
    },
    {
      "name": "DeviceStates"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.DeviceOnboarding/deviceStates": {
      "get": {
        "operationId": "DeviceStates_ListByParent",
        "tags": [
          "DeviceStates"
        ],
        "description": "List DeviceState resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceStateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_ListByParent_[MaximumSet] - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeviceStates_ListByParent_MaximumSet_Gen.json"
          },
          "DeviceStates_ListByParent_[MaximumSet] - generated by [MinimumSet] rule": {
            "$ref": "./examples/DeviceStates_ListByParent_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.DeviceOnboarding/deviceStates/default": {
      "get": {
        "operationId": "DeviceStates_Get",
        "tags": [
          "DeviceStates"
        ],
        "description": "Get a DeviceState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_Get - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeviceStates_Get_MaximumSet_Gen.json"
          },
          "DeviceStates_Get - generated by [MaximumSet] rule - generated by [MinimumSet] rule": {
            "$ref": "./examples/DeviceStates_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DeviceStates_CreateOrUpdate",
        "tags": [
          "DeviceStates"
        ],
        "description": "Create a DeviceState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DeviceState' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeviceState"
            }
          },
          "201": {
            "description": "Resource 'DeviceState' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeviceState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_CreateOrUpdate - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeviceStates_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "DeviceStates_CreateOrUpdate - generated by [MaximumSet] rule - generated by [MinimumSet] rule": {
            "$ref": "./examples/DeviceStates_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "DeviceStates_Update",
        "tags": [
          "DeviceStates"
        ],
        "description": "Update a DeviceState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceStateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_Update - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeviceStates_Update_MaximumSet_Gen.json"
          },
          "DeviceStates_Update - generated by [MaximumSet] rule - generated by [MinimumSet] rule": {
            "$ref": "./examples/DeviceStates_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DeviceStates_Delete",
        "tags": [
          "DeviceStates"
        ],
        "description": "Delete a DeviceState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_Delete - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/DeviceStates_Delete_MaximumSet_Gen.json"
          },
          "DeviceStates_Delete - generated by [MaximumSet] rule - generated by [MinimumSet] rule": {
            "$ref": "./examples/DeviceStates_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.DeviceOnboarding/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List - generated by [MaximumSet] rule - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceOnboarding/onboardingServices": {
      "get": {
        "operationId": "OnboardingServices_ListBySubscription",
        "tags": [
          "OnboardingServices"
        ],
        "description": "List OnboardingService resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnboardingServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_ListBySubscription - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/OnboardingServices_ListBySubscription_MaximumSet_Gen.json"
          },
          "OnboardingServices_ListBySubscription - generated by [MaximumSet] rule - generated by [MinimumSet] rule": {
            "$ref": "./examples/OnboardingServices_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/onboardingServices": {
      "get": {
        "operationId": "OnboardingServices_ListByResourceGroup",
        "tags": [
          "OnboardingServices"
        ],
        "description": "List OnboardingService resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnboardingServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_ListByResourceGroup - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/OnboardingServices_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "OnboardingServices_ListByResourceGroup - generated by [MaximumSet] rule - generated by [MinimumSet] rule": {
            "$ref": "./examples/OnboardingServices_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/onboardingServices/{onboardingServiceName}": {
      "get": {
        "operationId": "OnboardingServices_Get",
        "tags": [
          "OnboardingServices"
        ],
        "description": "Get a OnboardingService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnboardingService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_Get - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/OnboardingServices_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OnboardingServices_CreateOrUpdate",
        "tags": [
          "OnboardingServices"
        ],
        "description": "Create a OnboardingService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OnboardingService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OnboardingService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OnboardingService"
            }
          },
          "201": {
            "description": "Resource 'OnboardingService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OnboardingService"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_CreateOrUpdate - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/OnboardingServices_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "OnboardingServices_Update",
        "tags": [
          "OnboardingServices"
        ],
        "description": "Update a OnboardingService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OnboardingServiceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnboardingService"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_Update - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/OnboardingServices_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "OnboardingServices_Delete",
        "tags": [
          "OnboardingServices"
        ],
        "description": "Delete a OnboardingService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_Delete - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/OnboardingServices_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/onboardingServices/{onboardingServiceName}/policies": {
      "get": {
        "operationId": "Policies_ListByParent",
        "tags": [
          "Policies"
        ],
        "description": "List Policy resources by OnboardingService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_ListByParent_[MaximumSet] - generated by [MaximumSet] rule": {
            "$ref": "./examples/Policies_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/onboardingServices/{onboardingServiceName}/policies/{policyName}": {
      "get": {
        "operationId": "Policies_Get",
        "tags": [
          "Policies"
        ],
        "description": "Get a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Policy tracked resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,127}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Get - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Policies_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Policies_CreateOrUpdate",
        "tags": [
          "Policies"
        ],
        "description": "Create a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Policy tracked resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,127}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Policy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "201": {
            "description": "Resource 'Policy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Policy"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_CreateOrUpdate - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Policies_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Policies_Update",
        "tags": [
          "Policies"
        ],
        "description": "Update a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Policy tracked resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,127}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Update - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Policies_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Policies_Delete",
        "tags": [
          "Policies"
        ],
        "description": "Delete a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Policy tracked resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,127}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Delete - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Policies_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AllocatedEndpoint": {
      "type": "object",
      "description": "Representation of a previously allocated endpoint",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the endpoint."
        },
        "endpointType": {
          "$ref": "#/definitions/EndpointType",
          "description": "Type of the endpoint."
        },
        "hostName": {
          "type": "string",
          "description": "Hostname of the endpoint."
        }
      },
      "required": [
        "name",
        "endpointType",
        "hostName"
      ]
    },
    "AllocationEndpoint": {
      "type": "object",
      "description": "Allocation endpoint.",
      "properties": {
        "resourceId": {
          "$ref": "#/definitions/AllocationEndpointResourceId",
          "description": "Resource id of the endpoint."
        },
        "hostName": {
          "type": "string",
          "description": "host name of the endpoint."
        }
      },
      "required": [
        "resourceId",
        "hostName"
      ]
    },
    "AllocationEndpointResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.EventGrid/namespaces"
          }
        ]
      }
    },
    "AllocationRule": {
      "type": "object",
      "description": "The allocation rule.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the allocation rule."
        },
        "endpointType": {
          "$ref": "#/definitions/EndpointType",
          "description": "Type of endpoint."
        },
        "type": {
          "$ref": "#/definitions/AllocationType",
          "description": "Type of the allocation rule."
        }
      },
      "discriminator": "type",
      "required": [
        "name",
        "endpointType",
        "type"
      ]
    },
    "AllocationRulePatch": {
      "type": "object",
      "description": "The allocation rule patch model.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the allocation rule."
        },
        "endpointType": {
          "$ref": "#/definitions/EndpointType",
          "description": "Type of endpoint."
        },
        "type": {
          "$ref": "#/definitions/AllocationType",
          "description": "Type of the allocation rule."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "AllocationType": {
      "type": "string",
      "description": "Type of allocation rule.",
      "enum": [
        "EvenlyDistributed"
      ],
      "x-ms-enum": {
        "name": "AllocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "EvenlyDistributed",
            "value": "EvenlyDistributed",
            "description": "Evenly distributed allocation."
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "BootstrapAuthenticationRule": {
      "type": "object",
      "description": "The authentication rule for bootstrap.",
      "properties": {
        "type": {
          "$ref": "#/definitions/BootstrapAuthenticationType",
          "description": "The type of authentication rule."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "BootstrapAuthenticationType": {
      "type": "string",
      "description": "The authentication type for bootstrap.",
      "enum": [
        "X509",
        "Discovery"
      ],
      "x-ms-enum": {
        "name": "BootstrapAuthenticationType",
        "modelAsString": true,
        "values": [
          {
            "name": "X509",
            "value": "X509",
            "description": "The X509 authentication type."
          },
          {
            "name": "Discovery",
            "value": "Discovery",
            "description": "The discovery authentication type."
          }
        ]
      }
    },
    "CaConfig": {
      "type": "object",
      "description": "The configuration for setting up a CA.",
      "properties": {
        "name": {
          "type": "string",
          "description": "System-generated value for referencing the CA.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/CertificateProperties",
          "description": "Certificate properties."
        }
      },
      "required": [
        "properties"
      ]
    },
    "CertPolicyConfig": {
      "type": "object",
      "description": "The configuration for setting up a policy.",
      "properties": {
        "validityPeriodInDays": {
          "type": "integer",
          "format": "int32",
          "description": "The validity period in days.",
          "minimum": 1
        }
      },
      "required": [
        "validityPeriodInDays"
      ]
    },
    "CertificateIssuanceRule": {
      "type": "object",
      "description": "Certificate issuance configurations.",
      "properties": {
        "issuingAuthority": {
          "$ref": "#/definitions/SupportedIssuingAuthority",
          "description": "The type of authority for cert issuance."
        },
        "certificateAuthorityConfiguration": {
          "$ref": "#/definitions/CaConfig",
          "description": "The configuration to set up an ICA."
        },
        "leafCertificateConfiguration": {
          "$ref": "#/definitions/CertPolicyConfig",
          "description": "The leaf certificate configuration."
        },
        "renewalInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Cert renewal interval.",
          "minimum": 1
        }
      },
      "required": [
        "issuingAuthority",
        "certificateAuthorityConfiguration",
        "leafCertificateConfiguration",
        "renewalInterval"
      ]
    },
    "CertificateProperties": {
      "type": "object",
      "description": "Certificate properties.",
      "properties": {
        "keyType": {
          "$ref": "#/definitions/SupportedKeyType",
          "description": "Crypto type: RSA or EC."
        },
        "subject": {
          "type": "string",
          "description": "Certificate subject.",
          "readOnly": true
        },
        "validityPeriodInDays": {
          "type": "integer",
          "format": "int32",
          "description": "System-assigned validity period.",
          "minimum": 365,
          "maximum": 366,
          "readOnly": true
        },
        "validityNotBefore": {
          "type": "string",
          "format": "date-time",
          "description": "Certificate is valid not before this date. Format ISO8601. Generated based on on validity period.",
          "readOnly": true
        },
        "validityNotAfter": {
          "type": "string",
          "format": "date-time",
          "description": "Certificate is valid not after this date. Format ISO8601. Generated based on validity period.",
          "readOnly": true
        }
      },
      "required": [
        "keyType"
      ]
    },
    "DeviceEndpoint": {
      "type": "object",
      "description": "The device endpoint.",
      "properties": {
        "hostName": {
          "type": "string",
          "description": "Hostname of the Endpoint.",
          "readOnly": true
        }
      }
    },
    "DeviceEndpoints": {
      "type": "object",
      "description": "Device endpoints.",
      "properties": {
        "default": {
          "$ref": "#/definitions/DeviceEndpoint",
          "description": "The default endpoint.",
          "readOnly": true
        }
      }
    },
    "DeviceRegistryPolicyResourceDetails": {
      "type": "object",
      "description": "Details of the OnboardingService Device Registry Policy.",
      "properties": {
        "operationalIdentityInfo": {
          "$ref": "#/definitions/IdentityInfo",
          "description": "Identity information."
        },
        "resourceMetadata": {
          "$ref": "#/definitions/ResourceMetadata",
          "description": "Resource metadata."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PolicyResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.DeviceRegistry/devices"
    },
    "DeviceState": {
      "type": "object",
      "description": "The provisioning state of a device.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceStateProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeviceStateListResult": {
      "type": "object",
      "description": "The response of a DeviceState list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeviceState items on this page",
          "items": {
            "$ref": "#/definitions/DeviceState"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeviceStateProperties": {
      "type": "object",
      "description": "Details of the DeviceState",
      "properties": {
        "registrationId": {
          "type": "string",
          "description": "Unique identifier for the device. Allow alphanumeric and '-', '.', '_', ':' only. Last character can only be alphanumeric and '-'",
          "maxLength": 128,
          "pattern": "^([a-z0-9-._:]{0,127}[a-z0-9-])$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "discoveryEnabled": {
          "$ref": "#/definitions/DiscoveryOptions",
          "description": "Indicates if the device is enabled for discovery"
        },
        "onboardingStatus": {
          "$ref": "#/definitions/OnboardingStatus",
          "description": "Onboarding status of the resource this DeviceState extends",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "policyResourceId": {
          "$ref": "#/definitions/PolicyResourceId",
          "description": "The onboarding policy resource id"
        },
        "allocatedEndpoints": {
          "type": "array",
          "description": "Array of previously allocated endpoints",
          "maxItems": 1,
          "items": {
            "$ref": "#/definitions/AllocatedEndpoint"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "registrationId",
        "onboardingStatus",
        "policyResourceId"
      ]
    },
    "DeviceStatePropertiesUpdate": {
      "type": "object",
      "description": "Details of the DeviceState",
      "properties": {
        "discoveryEnabled": {
          "$ref": "#/definitions/DiscoveryOptions",
          "description": "Indicates if the device is enabled for discovery"
        },
        "onboardingStatus": {
          "$ref": "#/definitions/OnboardingStatus",
          "description": "Onboarding status of the resource this DeviceState extends",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "policyResourceId": {
          "$ref": "#/definitions/PolicyResourceId",
          "description": "The onboarding policy resource id"
        },
        "allocatedEndpoints": {
          "type": "array",
          "description": "Array of previously allocated endpoints",
          "maxItems": 1,
          "items": {
            "$ref": "#/definitions/AllocatedEndpoint"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "DeviceStateUpdate": {
      "type": "object",
      "description": "The provisioning state of a device.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceStatePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DiscoveryBootstrapAuthenticationRule": {
      "type": "object",
      "description": "The Discovery-based authentication rule for bootstrapping.",
      "allOf": [
        {
          "$ref": "#/definitions/BootstrapAuthenticationRule"
        }
      ],
      "x-ms-discriminator-value": "Discovery"
    },
    "DiscoveryOptions": {
      "type": "string",
      "description": "Options for enabling or disabling devices for discovery.",
      "enum": [
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "DiscoveryOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "True",
            "value": "True",
            "description": "Value indicating the device is enabled for discovery"
          },
          {
            "name": "False",
            "value": "False",
            "description": "Value indicating the device is disabled for discovery"
          }
        ]
      }
    },
    "DiscoveryPolicyResourceDetails": {
      "type": "object",
      "description": "Details of the OnboardingService Hybrid Compute Machines Policy.",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.HybridCompute/machines"
    },
    "EndpointType": {
      "type": "string",
      "description": "Type of the endpoint.",
      "enum": [
        "Microsoft.EventGrid/namespaces"
      ],
      "x-ms-enum": {
        "name": "EndpointType",
        "modelAsString": true,
        "values": [
          {
            "name": "MicrosoftEventGridNamespace",
            "value": "Microsoft.EventGrid/namespaces",
            "description": "Azure event grid broker."
          }
        ]
      }
    },
    "EvenlyDistributedAllocationRule": {
      "type": "object",
      "description": "The allocation rule for evenly distributed allocation type.",
      "properties": {
        "endpoints": {
          "type": "array",
          "description": "List of endpoints for evenly distributed allocation type.",
          "minItems": 1,
          "maxItems": 10,
          "items": {
            "$ref": "#/definitions/AllocationEndpoint"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "endpoints"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AllocationRule"
        }
      ],
      "x-ms-discriminator-value": "EvenlyDistributed"
    },
    "IdentityInfo": {
      "type": "object",
      "description": "The information related to device identity.",
      "properties": {
        "certificateIssuance": {
          "$ref": "#/definitions/CertificateIssuanceRule",
          "description": "Certificate issuance settings."
        },
        "deviceTemplateId": {
          "type": "string",
          "description": "Guid of the device template.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "staticGroupId": {
          "type": "string",
          "description": "Guid for static AAD group."
        }
      },
      "required": [
        "deviceTemplateId",
        "staticGroupId"
      ]
    },
    "JitRule": {
      "type": "object",
      "description": "The rule for Just-in-time connection.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the policy. Should be greater than 0.",
          "minimum": 1
        },
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the target subscription.",
          "minLength": 1
        },
        "resourceGroupName": {
          "type": "string",
          "description": "The case insensitive name of the target resource group.",
          "minLength": 1,
          "maxLength": 90,
          "pattern": "^[-\\w\\._\\(\\)]+$"
        }
      },
      "required": [
        "priority",
        "subscriptionId",
        "resourceGroupName"
      ]
    },
    "JitRulePatchUpdate": {
      "type": "object",
      "description": "The rule for Just-in-time connection.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the policy. Should be greater than 0.",
          "minimum": 1
        },
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the target subscription.",
          "minLength": 1
        },
        "resourceGroupName": {
          "type": "string",
          "description": "The case insensitive name of the target resource group.",
          "minLength": 1,
          "maxLength": 90,
          "pattern": "^[-\\w\\._\\(\\)]+$"
        }
      }
    },
    "OnboardingResourceType": {
      "type": "string",
      "description": "Type of resource being provisioned.",
      "enum": [
        "Microsoft.DeviceRegistry/devices",
        "Microsoft.HybridCompute/machines"
      ],
      "x-ms-enum": {
        "name": "OnboardingResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "DeviceRegistryDevice",
            "value": "Microsoft.DeviceRegistry/devices",
            "description": "Azure device registry device. Microsoft.DeviceRegistry/devices"
          },
          {
            "name": "HybridComputeMachine",
            "value": "Microsoft.HybridCompute/machines",
            "description": "Arc enabled device. Microsoft.HybridCompute/machines"
          }
        ]
      }
    },
    "OnboardingService": {
      "type": "object",
      "description": "A provisioning resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OnboardingServiceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OnboardingServiceListResult": {
      "type": "object",
      "description": "The response of a OnboardingService list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OnboardingService items on this page",
          "items": {
            "$ref": "#/definitions/OnboardingService"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OnboardingServiceProperties": {
      "type": "object",
      "description": "Details of the EdgeProvisioning OnboardingService.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "deviceEndpoints": {
          "$ref": "#/definitions/DeviceEndpoints",
          "description": "The onboarding service device endpoints.",
          "readOnly": true
        },
        "enableCertificateManagement": {
          "type": "boolean",
          "description": "Selecting 'true' will enable a Microsoft managed PKI to issue certificates. Setting up of the CA and policies for certificate management will be while defining the onboarding policy.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccessOptions",
          "description": "Allow public network access to private links.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "The private endpoint connections.",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        }
      },
      "required": [
        "enableCertificateManagement"
      ]
    },
    "OnboardingServicePropertiesUpdate": {
      "type": "object",
      "description": "Details of the EdgeProvisioning OnboardingService.",
      "properties": {
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccessOptions",
          "description": "Allow public network access to private links.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "OnboardingServiceUpdate": {
      "type": "object",
      "description": "A provisioning resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OnboardingServicePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "OnboardingStatus": {
      "type": "string",
      "description": "The current onboarding status.",
      "enum": [
        "Pending",
        "Provisioned",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "OnboardingStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Onboarding is still pending"
          },
          {
            "name": "Provisioned",
            "value": "Provisioned",
            "description": "The resource has been onboarded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Onboarding has failed"
          }
        ]
      }
    },
    "PatchAllocationEndpoint": {
      "type": "object",
      "description": "Allocation endpoint.",
      "properties": {
        "resourceId": {
          "$ref": "#/definitions/AllocationEndpointResourceId",
          "description": "Resource id of the endpoint."
        },
        "hostName": {
          "type": "string",
          "description": "host name of the endpoint."
        }
      }
    },
    "PatchBootstrapAuthenticationRule": {
      "type": "object",
      "description": "The bootstrap authentication rule for patch.",
      "properties": {
        "type": {
          "$ref": "#/definitions/BootstrapAuthenticationType",
          "description": "The type of authentication rule."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "PatchDeviceRegistryPolicyResourceDetails": {
      "type": "object",
      "description": "Details of the OnboardingService Device Registry Policy.",
      "properties": {
        "operationalIdentityInfo": {
          "$ref": "#/definitions/IdentityInfo",
          "description": "Identity information."
        },
        "resourceMetadata": {
          "$ref": "#/definitions/ResourceMetadata",
          "description": "Resource metadata."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PolicyPatchResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.DeviceRegistry/devices"
    },
    "PatchDiscoveryBootstrapAuthenticationRule": {
      "type": "object",
      "description": "The Discovery-based authentication rule for bootstrapping.",
      "allOf": [
        {
          "$ref": "#/definitions/PatchBootstrapAuthenticationRule"
        }
      ],
      "x-ms-discriminator-value": "Discovery"
    },
    "PatchDiscoveryPolicyResourceDetails": {
      "type": "object",
      "description": "Details of the OnboardingService Hybrid Compute Machines Policy.",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyPatchResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.HybridCompute/machines"
    },
    "PatchEvenlyDistributedAllocationRule": {
      "type": "object",
      "description": "The allocation rule for evenly distributed allocation type.",
      "properties": {
        "endpoints": {
          "type": "array",
          "description": "List of endpoints for evenly distributed allocation type.",
          "minItems": 1,
          "maxItems": 10,
          "items": {
            "$ref": "#/definitions/PatchAllocationEndpoint"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AllocationRulePatch"
        }
      ],
      "x-ms-discriminator-value": "EvenlyDistributed"
    },
    "PatchSelectedIdentity": {
      "type": "object",
      "description": "Information on the selected identity. Can be SystemAssigned or UserAssigned.",
      "properties": {
        "type": {
          "$ref": "#/definitions/SelectedIdentityType",
          "description": "The type of identity."
        },
        "resourceId": {
          "$ref": "#/definitions/SelectedIdentityResourceId",
          "description": "Resource id of the UserAssigned identity."
        }
      }
    },
    "PatchX509BootstrapAuthenticationRule": {
      "type": "object",
      "description": "The x509-based authentication rule for bootstrapping.",
      "properties": {
        "primaryCertificate": {
          "$ref": "#/definitions/PatchX509Certificate",
          "description": "The primary certificate. B64 x509 cert"
        },
        "secondaryCertificate": {
          "$ref": "#/definitions/PatchX509Certificate",
          "description": "The secondary certificate."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PatchBootstrapAuthenticationRule"
        }
      ],
      "x-ms-discriminator-value": "X509"
    },
    "PatchX509Certificate": {
      "type": "object",
      "description": "X509 Certificate.",
      "properties": {
        "certificate": {
          "type": "string",
          "format": "byte",
          "description": "The certificate."
        },
        "thumbprint": {
          "type": "string",
          "description": "Thumbprint extracted from the certificate.",
          "readOnly": true
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "Expiry date for the certificate.",
          "readOnly": true
        }
      }
    },
    "Policy": {
      "type": "object",
      "description": "An onboarding policy resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PolicyProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PolicyListResult": {
      "type": "object",
      "description": "The response of a Policy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Policy items on this page",
          "items": {
            "$ref": "#/definitions/Policy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PolicyPatch": {
      "type": "object",
      "description": "Onboarding policy model for patch.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/PolicyPatchProperties",
          "description": "Policy Patch Properties."
        }
      }
    },
    "PolicyPatchProperties": {
      "type": "object",
      "description": "Onboarding policies properties model for patch.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the policy"
        },
        "status": {
          "$ref": "#/definitions/PolicyStatusOptions",
          "description": "The policy status"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "bootstrapAuthentication": {
          "$ref": "#/definitions/PatchBootstrapAuthenticationRule",
          "description": "The bootstrap authentication rule."
        },
        "allocations": {
          "type": "array",
          "description": "Allocation rules.",
          "maxItems": 1,
          "items": {
            "$ref": "#/definitions/AllocationRulePatch"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "jit": {
          "$ref": "#/definitions/JitRulePatchUpdate",
          "description": "Just-in-time rule to create the device resource."
        },
        "resourceDetails": {
          "$ref": "#/definitions/PolicyPatchResourceDetails",
          "description": "Further details about the policy resource"
        },
        "selectedIdentity": {
          "$ref": "#/definitions/PatchSelectedIdentity",
          "description": "The identity the OnboardingService Policy will use. Must be from the list of enabled managed identities on the resource."
        }
      }
    },
    "PolicyPatchResourceDetails": {
      "type": "object",
      "description": "Common further details about the policy resource for patch",
      "properties": {
        "type": {
          "$ref": "#/definitions/OnboardingResourceType",
          "description": "Type of the resource being provisioned."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "PolicyProperties": {
      "type": "object",
      "description": "Details of the OnboardingService Policy.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the policy"
        },
        "status": {
          "$ref": "#/definitions/PolicyStatusOptions",
          "description": "The policy status"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "bootstrapAuthentication": {
          "$ref": "#/definitions/BootstrapAuthenticationRule",
          "description": "The bootstrap authentication rule."
        },
        "allocations": {
          "type": "array",
          "description": "Allocation rules.",
          "maxItems": 1,
          "items": {
            "$ref": "#/definitions/AllocationRule"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "jit": {
          "$ref": "#/definitions/JitRule",
          "description": "Just-in-time rule to create the device resource."
        },
        "resourceDetails": {
          "$ref": "#/definitions/PolicyResourceDetails",
          "description": "Further details about the policy resource"
        },
        "selectedIdentity": {
          "$ref": "#/definitions/SelectedIdentity",
          "description": "The identity the OnboardingService Policy will use. Must be from the list of enabled managed identities on the resource."
        }
      },
      "required": [
        "status",
        "bootstrapAuthentication",
        "resourceDetails"
      ]
    },
    "PolicyResourceDetails": {
      "type": "object",
      "description": "Common further details about the policy resource",
      "properties": {
        "type": {
          "$ref": "#/definitions/OnboardingResourceType",
          "description": "Type of the resource being provisioned."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "PolicyResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.DeviceOnboarding/onboardingServices/policies"
          }
        ]
      }
    },
    "PolicyStatusOptions": {
      "type": "string",
      "description": "Options for policy status.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PolicyStatusOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The value indicating the policy is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The value indicating the policy is disabled."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "PublicNetworkAccessOptions": {
      "type": "string",
      "description": "Options for public network access for private endpoints.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccessOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The value indicating the public network access is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The value indicating the public network access is disabled."
          }
        ]
      }
    },
    "ResourceMetadata": {
      "type": "object",
      "description": "Resource metadata",
      "properties": {
        "customAttributes": {
          "type": "object",
          "description": "Custom attributes",
          "additionalProperties": {},
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "SelectedIdentity": {
      "type": "object",
      "description": "Information on the selected identity. Can be SystemAssigned or UserAssigned.",
      "properties": {
        "type": {
          "$ref": "#/definitions/SelectedIdentityType",
          "description": "The type of identity."
        },
        "resourceId": {
          "$ref": "#/definitions/SelectedIdentityResourceId",
          "description": "Resource id of the UserAssigned identity."
        }
      },
      "required": [
        "type"
      ]
    },
    "SelectedIdentityResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedIdentity/userAssignedIdentities"
          }
        ]
      }
    },
    "SelectedIdentityType": {
      "type": "string",
      "description": "Supported identity types.",
      "enum": [
        "SystemAssigned",
        "UserAssigned"
      ],
      "x-ms-enum": {
        "name": "SelectedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned identity."
          }
        ]
      }
    },
    "SupportedIssuingAuthority": {
      "type": "string",
      "description": "Supported issuing authority.",
      "enum": [
        "FirstParty"
      ],
      "x-ms-enum": {
        "name": "SupportedIssuingAuthority",
        "modelAsString": true,
        "values": [
          {
            "name": "FirstParty",
            "value": "FirstParty",
            "description": "First party cert issuance."
          }
        ]
      }
    },
    "SupportedKeyType": {
      "type": "string",
      "description": "Supported key types.",
      "enum": [
        "ECC"
      ],
      "x-ms-enum": {
        "name": "SupportedKeyType",
        "modelAsString": true,
        "values": [
          {
            "name": "ECC",
            "value": "ECC",
            "description": "Indicate the ECC key type."
          }
        ]
      }
    },
    "X509BootstrapAuthenticationRule": {
      "type": "object",
      "description": "The x509-based authentication rule for bootstrapping.",
      "properties": {
        "primaryCertificate": {
          "$ref": "#/definitions/X509Certificate",
          "description": "The primary certificate. B64 x509 cert"
        },
        "secondaryCertificate": {
          "$ref": "#/definitions/X509Certificate",
          "description": "The secondary certificate."
        }
      },
      "required": [
        "primaryCertificate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BootstrapAuthenticationRule"
        }
      ],
      "x-ms-discriminator-value": "X509"
    },
    "X509Certificate": {
      "type": "object",
      "description": "X509 Certificate.",
      "properties": {
        "certificate": {
          "type": "string",
          "format": "byte",
          "description": "The certificate."
        },
        "thumbprint": {
          "type": "string",
          "description": "Thumbprint extracted from the certificate.",
          "readOnly": true
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "Expiry date for the certificate.",
          "readOnly": true
        }
      },
      "required": [
        "certificate"
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
