{
  "swagger": "2.0",
  "info": {
    "version": "2017-11-30",
    "title": "ConsumptionManagementClient",
    "description": "Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "name": "UsageDetails",
      "description": "Lists the usage details for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.",
      "externalDocs": {
        "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
      }
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "tags": [
          "UsageDetails"
        ],
        "operationId": "UsageDetails_List",
        "description": "Lists the usage details for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "UsageDetailsListForBillingPeriod": {
            "$ref": "./examples/UsageDetailsListForBillingPeriod.json"
          },
          "UsageDetailsList": {
            "$ref": "./examples/UsageDetailsList.json"
          },
          "UsageDetailsExpand": {
            "$ref": "./examples/UsageDetailsExpand.json"
          }
        },
        "parameters": [
          {
            "name": "scope",
            "description": "The scope of the usage details. The scope can be '/subscriptions/{subscriptionId}' for a subscription, or '/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}' for a billing period.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UsageDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/reservationSummaries": {
      "get": {
        "tags": [
          "ReservedInstances"
        ],
        "operationId": "ReservationsSummaries_List",
        "description": "Lists the reservations summaries for daily or monthly grain.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationSummariesDaily": {
            "$ref": "./examples/ReservationSummariesDaily.json"
          },
          "ReservationSummariesDailyWithReservationId": {
            "$ref": "./examples/ReservationSummariesDailyWithReservationId.json"
          },
          "ReservationSummariesMonthly": {
            "$ref": "./examples/ReservationSummariesMonthly.json"
          },
          "ReservationSummariesMonthlyWithReservationId": {
            "$ref": "./examples/ReservationSummariesMonthlyWithReservationId.json"
          }
        },
        "parameters": [
          {
            "name": "scope",
            "description": "The scope of the reservation summaries. The scope can be 'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}' or 'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}/reservations/{ReservationId}'",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "grain",
            "description": "Can be daily or monthly",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "daily",
              "monthly"
            ],
            "x-ms-enum": {
              "name": "datagrain",
              "modelAsString": true,
              "values": [
                {
                  "value": "daily",
                  "description": "Daily grain of data",
                  "name": "DailyGrain"
                },
                {
                  "value": "monthly",
                  "description": "Monthly grain of data",
                  "name": "MonthlyGrain"
                }
              ]
            }
          },
          {
            "name": "$filter",
            "description": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationSummariesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/reservationDetails": {
      "get": {
        "tags": [
          "ReservedInstances"
        ],
        "operationId": "ReservationsDetails_List",
        "description": "Lists the reservations details for provided date range.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationDetails": {
            "$ref": "./examples/ReservationDetails.json"
          },
          "ReservationDetailsWithReservationId": {
            "$ref": "./examples/ReservationDetailsWithReservationId.json"
          }
        },
        "parameters": [
          {
            "name": "scope",
            "description": "The scope of the reservation details. The scope can be 'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}' or 'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}/reservations/{ReservationId}'",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "description": "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' ",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Consumption/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available consumption REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "MeterDetails": {
      "description": "The properties of the meter detail.",
      "properties": {
        "meterName": {
          "description": "The name of the meter, within the given meter category",
          "type": "string",
          "readOnly": true
        },
        "meterCategory": {
          "description": "The category of the meter, for example, 'Cloud services', 'Networking', etc..",
          "type": "string",
          "readOnly": true
        },
        "meterSubCategory": {
          "description": "The subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)', etc..",
          "type": "string",
          "readOnly": true
        },
        "unit": {
          "description": "The unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.",
          "type": "string",
          "readOnly": true
        },
        "meterLocation": {
          "description": "The location in which the Azure service is available.",
          "type": "string",
          "readOnly": true
        },
        "totalIncludedQuantity": {
          "description": "The total included quantity associated with the offer.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "pretaxStandardRate": {
          "description": "The pretax listing price.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        }
      }
    },
    "UsageDetail": {
      "description": "An usage detail resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UsageDetailProperties",
          "title": "Usage detail properties"
        }
      }
    },
    "UsageDetailsListResult": {
      "description": "Result of listing usage details. It contains a list of available usage details in reverse chronological order by billing period.",
      "properties": {
        "value": {
          "description": "The list of usage details.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/UsageDetail"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UsageDetailProperties": {
      "description": "The properties of the usage detail.",
      "properties": {
        "billingPeriodId": {
          "description": "The id of the billing period resource that the usage belongs to.",
          "type": "string",
          "readOnly": true
        },
        "invoiceId": {
          "description": "The id of the invoice resource that the usage belongs to.",
          "type": "string",
          "readOnly": true
        },
        "usageStart": {
          "description": "The start of the date time range covered by the usage detail.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "usageEnd": {
          "description": "The end of the date time range covered by the usage detail.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "instanceName": {
          "description": "The name of the resource instance that the usage is about.",
          "type": "string",
          "readOnly": true
        },
        "instanceId": {
          "description": "The uri of the resource instance that the usage is about.",
          "type": "string",
          "readOnly": true
        },
        "instanceLocation": {
          "description": "The location of the resource instance that the usage is about.",
          "type": "string",
          "readOnly": true
        },
        "currency": {
          "description": "The ISO currency in which the meter is charged, for example, USD.",
          "type": "string",
          "readOnly": true
        },
        "usageQuantity": {
          "description": "The quantity of usage.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "billableQuantity": {
          "description": "The billable usage quantity.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "pretaxCost": {
          "description": "The amount of cost before tax.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "isEstimated": {
          "description": "The estimated usage is subject to change.",
          "type": "boolean",
          "readOnly": true
        },
        "meterId": {
          "description": "The meter id.",
          "type": "string",
          "readOnly": true
        },
        "meterDetails": {
          "description": "The details about the meter. By default this is not populated, unless it's specified in $expand.",
          "$ref": "#/definitions/MeterDetails",
          "readOnly": true
        },
        "subscriptionGuid": {
          "description": "Subscription guid.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionName": {
          "description": "Subscription name.",
          "type": "string",
          "readOnly": true
        },
        "accountName": {
          "description": "Account name.",
          "type": "string",
          "readOnly": true
        },
        "departmentName": {
          "description": "Department name.",
          "type": "string",
          "readOnly": true
        },
        "product": {
          "description": "Product name.",
          "type": "string",
          "readOnly": true
        },
        "consumedService": {
          "description": "Consumed service name.",
          "type": "string",
          "readOnly": true
        },
        "costCenter": {
          "description": "The cost center of this department if it is a department and a costcenter exists",
          "type": "string",
          "readOnly": true
        },
        "additionalProperties": {
          "description": "Additional details of this usage item. By default this is not populated, unless it's specified in $expand.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ReservationSummaries": {
      "description": "reservation summaries resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReservationSummariesProperties",
          "title": "Reservation Summaries properties"
        }
      }
    },
    "ReservationSummariesListResult": {
      "description": "Result of listing reservation summaries.",
      "properties": {
        "value": {
          "description": "The list of reservation summaries.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ReservationSummaries"
          }
        }
      }
    },
    "ReservationSummariesProperties": {
      "description": "The properties of the reservation summaries.",
      "properties": {
        "reservationOrderId": {
          "description": "The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations.",
          "type": "string",
          "readOnly": true
        },
        "reservationId": {
          "description": "The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to.",
          "type": "string",
          "readOnly": true
        },
        "skuName": {
          "description": "This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records.",
          "type": "string",
          "readOnly": true
        },
        "reservedHours": {
          "description": "This is the total hours reserved. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "usageDate": {
          "description": "Data corresponding to the utilization record. If the grain of data is monthly, it will be first day of month.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "usedHours": {
          "description": "Total used hours by the reservation",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "minUtilizationPercentage": {
          "description": "This is the minimum hourly utilization in the usage time (day or month). E.g. if usage record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 10%, this field will return 10% for that day",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "avgUtilizationPercentage": {
          "description": "This is average utilization for the entire time range. (day or month depending on the grain)",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "maxUtilizationPercentage": {
          "description": "This is the maximum hourly utilization in the usage time (day or month). E.g. if usage record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 100%, this field will return 100% for that day.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        }
      }
    },
    "ReservationDetails": {
      "description": "reservation details resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReservationDetailsProperties",
          "title": "Reservation Details properties"
        }
      }
    },
    "ReservationDetailsListResult": {
      "description": "Result of listing reservation details.",
      "properties": {
        "value": {
          "description": "The list of reservation details.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ReservationDetails"
          }
        }
      }
    },
    "ReservationDetailsProperties": {
      "description": "The properties of the reservation details.",
      "properties": {
        "reservationOrderId": {
          "description": "The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations.",
          "type": "string",
          "readOnly": true
        },
        "reservationId": {
          "description": "The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to.",
          "type": "string",
          "readOnly": true
        },
        "skuName": {
          "description": "This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records.",
          "type": "string",
          "readOnly": true
        },
        "reservedHours": {
          "description": "This is the total hours reserved for the day. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "usageDate": {
          "description": "The date on which consumption occurred.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "usedHours": {
          "description": "This is the total hours used by the instance.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "instanceId": {
          "description": "This identifier is the name of the resource or the fully qualified Resource ID.",
          "type": "string",
          "readOnly": true
        },
        "totalReservedQuantity": {
          "description": "This is the total count of instances that are reserved for the reservationId.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Operation": {
      "description": "A Consumption REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Consumption.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: UsageDetail, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of consumption operations supported by the Microsoft.Consumption resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2017-11-30."
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    }
  }
}
