{
  "swagger": "2.0",
  "info": {
    "title": "Cosmos DB",
    "description": "Azure Cosmos DB Database Service Resource Provider REST API",
    "version": "2020-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{databaseAccountName}/sqlRoleDefinitions/{roleDefinitionId}": {
      "get": {
        "operationId": "SqlResources_GetRoleDefinition",
        "x-ms-examples": {
          "CosmosDBSqlRoleDefinitionGet": {
            "$ref": "./examples/CosmosDBSqlRoleDefinitionGet.json"
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB Role Definition.",
        "parameters": [
          {
            "$ref": "#/parameters/roleDefinitionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/databaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Role Definition was found.",
            "schema": {
              "$ref": "#/definitions/SqlRoleDefinitionGetResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseUpdated"
            }
          }
        }
      },
      "put": {
        "operationId": "SqlResources_CreateOrUpdateRoleDefinition",
        "x-ms-examples": {
          "CosmosDBSqlRoleDefinitionCreateUpdate": {
            "$ref": "./examples/CosmosDBSqlRoleDefinitionCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Creates or updates an Azure Cosmos DB Role Definition.",
        "parameters": [
          {
            "$ref": "#/parameters/roleDefinitionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/databaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "createUpdateSqlRoleDefinitionParameters",
            "in": "body",
            "required": true,
            "description": "The properties required to create a new role definition.",
            "schema": {
              "$ref": "#/definitions/SqlRoleDefinitionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Role Definition create or update request was accepted and will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/SqlRoleDefinitionGetResults"
            }
          }
        }
      },
      "delete": {
        "operationId": "SqlResources_DeleteRoleDefinition",
        "x-ms-examples": {
          "CosmosDBSqlRoleDefinitionDelete": {
            "$ref": "./examples/CosmosDBSqlRoleDefinitionDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Deletes an existing Azure Cosmos DB Role Definition.",
        "parameters": [
          {
            "$ref": "#/parameters/roleDefinitionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/databaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Role Definition delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Role Definition delete operation was completely successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{databaseAccountName}/sqlRoleDefinitions": {
      "get": {
        "operationId": "SqlResources_ListRoleDefinitions",
        "x-ms-examples": {
          "CosmosDBSqlRoleDefinitionList": {
            "$ref": "./examples/CosmosDBSqlRoleDefinitionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the list of all Azure Cosmos DB Role Definitions based on the filter.",
        "parameters": [
          {
            "$ref": "#/parameters/filterRoleDefinitionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/databaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The relevant Role Definitions.",
            "schema": {
              "$ref": "#/definitions/SqlRoleDefinitionListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{databaseAccountName}/sqlRoleAssignments/{roleAssignmentId}": {
      "get": {
        "operationId": "SqlResources_GetRoleAssignment",
        "x-ms-examples": {
          "CosmosDBSqlRoleAssignmentGet": {
            "$ref": "./examples/CosmosDBSqlRoleAssignmentGet.json"
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB Role Assignment.",
        "parameters": [
          {
            "$ref": "#/parameters/roleAssignmentIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/databaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Role Assignment was found.",
            "schema": {
              "$ref": "#/definitions/SqlRoleAssignmentResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "SqlResources_CreateOrUpdateRoleAssignment",
        "x-ms-examples": {
          "CosmosDBSqlRoleAssignmentCreateUpdate": {
            "$ref": "./examples/CosmosDBSqlRoleAssignmentCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Creates or updates an Azure Cosmos DB Role Assignment.",
        "parameters": [
          {
            "$ref": "#/parameters/roleAssignmentIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/databaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "createUpdateSqlRoleAssignmentParameters",
            "in": "body",
            "required": true,
            "description": "The properties required to create a new Role Assignment.",
            "schema": {
              "$ref": "#/definitions/SqlRoleAssignmentProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Role Assignment create or update request was accepted and will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/SqlRoleAssignmentResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "SqlResources_DeleteRoleAssignment",
        "x-ms-examples": {
          "CosmosDBSqlRoleAssignmentDelete": {
            "$ref": "./examples/CosmosDBSqlRoleAssignmentDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Deletes an existing Azure Cosmos DB Role Assignment.",
        "parameters": [
          {
            "$ref": "#/parameters/roleAssignmentIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/databaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Role Assignment delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Role Assignment delete operation was completely successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{databaseAccountName}/sqlRoleAssignments": {
      "get": {
        "operationId": "SqlResources_ListRoleAssignments",
        "x-ms-examples": {
          "CosmosDBSqlRoleAssignmentList": {
            "$ref": "./examples/CosmosDBSqlRoleAssignmentList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the list of all Azure Cosmos DB Role Assignments based on the filter.",
        "parameters": [
          {
            "$ref": "#/parameters/filterRoleAssignmentParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/databaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The relevant Role Assignments",
            "schema": {
              "$ref": "#/definitions/SqlRoleAssignmentListResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SqlRoleDefinitionProperties": {
      "properties": {
        "roleName": {
          "type": "string",
          "description": "A user-friendly name for the Role Definition. Must be unique for the database account."
        },
        "type": {
          "type": "string",
          "enum": [
            "BuiltInRole",
            "CustomRole"
          ],
          "description": "Indicates whether the Role Definition was built-in or user created. Must always be CustomRole or empty.",
          "x-ms-enum": {
            "name": "RoleDefinitionType",
            "modelAsString": false
          }
        },
        "assignableScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of fully qualified Scopes at or below which Role Assignments may be created using this Role Definition. This will allow application of this Role Definition on the entire database account or any underlying Database / Collection. Must have at least one element. Scopes higher than Database account are not enforceable as assignable Scopes. Note that resources referenced in assignable Scopes need not exist."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Permission"
          },
          "description": "The set of operations allowed through this Role Definition."
        }
      },
      "x-ms-azure-resource": true,
      "description": "Role Definition Properties."
    },
    "SqlRoleDefinitionGetResults": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified GUID of the Role Definition containing the resource path and the ID supplied for this Role Definition during create."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The ID supplied for this Role Definition during create."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Microsoft.DocumentDB/databaseAccounts/roleDefinitions."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SqlRoleDefinitionProperties",
          "description": "Properties related to Role Definition."
        }
      },
      "x-ms-azure-resource": true,
      "description": "An Azure Cosmos DB Role Definition."
    },
    "Permission": {
      "type": "object",
      "properties": {
        "dataActions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The set of data plane operations permitted through this Role Definition."
    },
    "ErrorResponseUpdated": {
      "properties": {
        "error": {
          "properties": {
            "code": {
              "description": "Error code.",
              "type": "string"
            },
            "message": {
              "description": "Error message indicating why the operation failed.",
              "type": "string"
            }
          }
        }
      },
      "description": "Error Response."
    },
    "SqlRoleDefinitionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SqlRoleDefinitionGetResults"
          }
        }
      },
      "description": "The relevant Role Definitions."
    },
    "SqlRoleAssignmentProperties": {
      "type": "object",
      "properties": {
        "roleDefinitionId": {
          "type": "string",
          "description": "The unique identifier for the associated Role Definition."
        },
        "scope": {
          "type": "string",
          "description": "The data plane resource path for which access is being granted through this Role Assignment."
        },
        "principalId": {
          "type": "string",
          "description": "The unique identifier for the associated AAD principal in the AAD graph to which access is being granted through this Role Assignment. Tenant ID for the principal is inferred using the tenant associated with the subscription."
        }
      },
      "x-ms-azure-resource": true,
      "description": "Role Assignment Properties."
    },
    "SqlRoleAssignmentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified GUID of the Role Assignment containing the resource path and the ID supplied for this Role Assignment during create."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The ID supplied for this Role Assignment during create."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Microsoft.DocumentDB/databaseAccounts/roleAssignments."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SqlRoleAssignmentProperties",
          "description": "Properties related to Role Assignment."
        }
      },
      "x-ms-azure-resource": true,
      "description": "An Azure Cosmos DB Role Assignment"
    },
    "SqlRoleAssignmentListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SqlRoleAssignmentResponse"
          }
        }
      },
      "description": "The relevant Role Assignments."
    }
  },
  "parameters": {
    "roleDefinitionIdParameter": {
      "name": "roleDefinitionId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The GUID for the Role Definition."
    },
    "databaseAccountNameParameter": {
      "name": "databaseAccountName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Name of Cosmos DB database account."
    },
    "roleAssignmentIdParameter": {
      "name": "roleAssignmentId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The GUID for the Role Assignment."
    },
    "filterRoleDefinitionParameter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The filter to be applied on the request. Use $filter=type eq 'BuiltInRole|CustomRole' to filter by type. Use $filter=roleName eq {name} to retrieve Role Definition with the given name."
    },
    "filterRoleAssignmentParameter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The filter to be applied on the request. Use $filter=principalId eq 'edcf5256-366c-4cf0-9007-d450b8e48737' to retrieve all Role Assignments granted to the given AAD principal. Use $filter=assignedTo('edcf5256-366c-4cf0-9007-d450b8e48737') to retrieve all Role Assignments granted to the given AAD principal. Use $filter=atScope('/dbs/contoso-sales') to retrieve all Role Assignments granted for the database 'contoso-sales' or higher up."
    }
  }
}
