{
  "swagger": "2.0",
  "info": {
    "title": "Cosmos DB",
    "description": "Azure Cosmos DB Database Service Resource Provider REST API",
    "version": "2020-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts": {
      "get": {
        "operationId": "RestorableDatabaseAccounts_ListByLocation",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountList": {
            "$ref": "./examples/CosmosDBRestorableDatabaseAccountList.json"
          }
        },
        "description": "Lists all the restorable Azure Cosmos DB database accounts available under the subscription and in a region.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableDatabaseAccountsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/restorableDatabaseAccounts": {
      "get": {
        "operationId": "RestorableDatabaseAccounts_List",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountList": {
            "$ref": "./examples/CosmosDBRestorableDatabaseAccountNoLocationList.json"
          }
        },
        "description": "Lists all the restorable Azure Cosmos DB database accounts available under the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableDatabaseAccountsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}": {
      "get": {
        "operationId": "RestorableDatabaseAccounts_GetByLocation",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGet": {
            "$ref": "./examples/CosmosDBRestorableDatabaseAccountGet.json"
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB restorable database account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The restorable database account properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableDatabaseAccountGetResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlDatabases": {
      "get": {
        "operationId": "RestorableSqlDatabases_List",
        "x-ms-examples": {
          "CosmosDBRestorableSqlDatabaseList": {
            "$ref": "./examples/CosmosDBRestorableSqlDatabaseList.json"
          }
        },
        "description": "Lists all the restorable Azure Cosmos DB SQL databases available under the restorable account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableSqlDatabasesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlDatabases/{restorableSqlDatabaseId}": {
      "get": {
        "operationId": "RestorableSqlDatabases_Get",
        "x-ms-examples": {
          "CosmosDBRestorableSqlDatabaseGet": {
            "$ref": "./examples/CosmosDBRestorableSqlDatabaseGet.json"
          }
        },
        "description": "Get the properties of a restorable SQL database.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restorableSqlDatabaseIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The restorable SQL databases properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableSqlDatabaseGetResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlContainers": {
      "get": {
        "operationId": "RestorableSqlContainers_List",
        "x-ms-examples": {
          "CosmosDBRestorableSqlContainerList": {
            "$ref": "./examples/CosmosDBRestorableSqlContainerList.json"
          }
        },
        "description": "Lists all the restorable Azure Cosmos DB SQL containers available for a specific database.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restorableSqlDatabaseRidParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableSqlContainersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlContainers/{restorableSqlContainerId}": {
      "get": {
        "operationId": "RestorableSqlContainers_Get",
        "x-ms-examples": {
          "CosmosDBRestorableSqlContainerGet": {
            "$ref": "./examples/CosmosDBRestorableSqlContainerGet.json"
          }
        },
        "description": "Get the properties of a restorable SQL container.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restorableSqlContainerIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableSqlContainerGetResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlResources": {
      "get": {
        "operationId": "RestorableSqlResources_List",
        "x-ms-examples": {
          "CosmosDBRestorableSqlResourceList": {
            "$ref": "./examples/CosmosDBRestorableSqlResourceList.json"
          }
        },
        "description": "Lists all the restorable Azure Cosmos DB SQL resources available for a specific database account at a given time and location.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restoreLocationParameter"
          },
          {
            "$ref": "#/parameters/restoreTimestampInUtcParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableSqlResourcesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbDatabases": {
      "get": {
        "operationId": "RestorableMongodbDatabases_List",
        "x-ms-examples": {
          "CosmosDBRestorableMongodbDatabaseList": {
            "$ref": "./examples/CosmosDBRestorableMongodbDatabaseList.json"
          }
        },
        "description": "Lists all the restorable Azure Cosmos DB MongoDB databases available under the restorable account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableMongodbDatabasesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbDatabases/{restorableMongodbDatabaseId}": {
      "get": {
        "operationId": "RestorableMongodbDatabases_Get",
        "x-ms-examples": {
          "CosmosDBRestorableMongodbDatabaseGet": {
            "$ref": "./examples/CosmosDBRestorableMongodbDatabaseGet.json"
          }
        },
        "description": "Get the properties of a restorable MongoDB database.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restorableMongodbDatabaseIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The restorable MongoDB databases properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableMongodbDatabaseGetResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbCollections": {
      "get": {
        "operationId": "RestorableMongodbCollections_List",
        "x-ms-examples": {
          "CosmosDBRestorableMongodbCollectionList": {
            "$ref": "./examples/CosmosDBRestorableMongodbCollectionList.json"
          }
        },
        "description": "Lists all the restorable Azure Cosmos DB MongoDB collection available for a specific database.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restorableMongodbDatabaseRidParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableMongodbCollectionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbCollections/{restorableMongodbCollectionId}": {
      "get": {
        "operationId": "RestorableMongodbCollections_Get",
        "x-ms-examples": {
          "CosmosDBRestorableMongodbCollectionGet": {
            "$ref": "./examples/CosmosDBRestorableMongodbCollectionGet.json"
          }
        },
        "description": "Get the properties of a restorable MongoDB Collection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restorableMongodbCollectionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableMongodbCollectionGetResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbResources": {
      "get": {
        "operationId": "RestorableMongodbResources_List",
        "x-ms-examples": {
          "CosmosDBRestorableMongodbResourceList": {
            "$ref": "./examples/CosmosDBRestorableMongodbResourceList.json"
          }
        },
        "description": "Lists all the restorable Azure Cosmos DB MongoDB resources available for a specific database account at a given time and location.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restoreLocationParameter"
          },
          {
            "$ref": "#/parameters/restoreTimestampInUtcParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableMongodbResourcesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "RestorableDatabaseAccountsListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableDatabaseAccountGetResult"
          },
          "description": "List of restorable database accounts and their properties."
        }
      },
      "description": "The List operation response, that contains the restorable database accounts and their properties."
    },
    "RestorableDatabaseAccountGetResult": {
      "description": "A Azure Cosmos DB restorable database account.",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "The properties of a restorable database account.",
          "$ref": "#/definitions/RestorableDatabaseAccountProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/ARMResourceProperties"
        }
      ]
    },
    "RestorableDatabaseAccountProperties": {
      "type": "object",
      "description": "The properties of a restorable database account.",
      "properties": {
        "accountName": {
          "type": "string",
          "description": "The name of the global database account"
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "The creation time of the restorable database account (ISO-8601 format)."
        },
        "deletionTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the restorable database account has been deleted (ISO-8601 format)."
        },
        "apiType": {
          "type": "string",
          "readOnly": true,
          "description": "The API type of the restorable database account.",
          "$ref": "#/definitions/ApiType"
        },
        "restorableLocations": {
          "type": "array",
          "readOnly": true,
          "description": "List of regions where the of the database account can be restored from.",
          "items": {
            "$ref": "#/definitions/RestorableLocationResource"
          }
        }
      }
    },
    "ApiType": {
      "description": "Enum to indicate the API type of the restorable database account.",
      "type": "string",
      "readOnly": true,
      "enum": [
        "MongoDB",
        "Gremlin",
        "Cassandra",
        "Table",
        "Sql",
        "GremlinV2"
      ],
      "x-ms-enum": {
        "name": "ApiType",
        "modelAsString": true
      }
    },
    "RestorableLocationResource": {
      "type": "object",
      "description": "Properties of the regional restorable account.",
      "properties": {
        "locationName": {
          "type": "string",
          "readOnly": true,
          "description": "The location of the regional restorable account."
        },
        "regionalDatabaseAccountInstanceId": {
          "type": "string",
          "readOnly": true,
          "description": "The instance id of the regional restorable account."
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The creation time of the regional restorable database account (ISO-8601 format)."
        },
        "deletionTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The time at which the regional restorable database account has been deleted (ISO-8601 format)."
        }
      }
    },
    "RestorableSqlDatabasesListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableSqlDatabaseGetResult"
          },
          "description": "List of restorable SQL databases and their properties."
        }
      },
      "description": "The List operation response, that contains the restorable SQL databases and their properties."
    },
    "RestorableSqlDatabaseGetResult": {
      "description": "An Azure Cosmos DB restorable SQL database",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "The properties of a restorable SQL database.",
          "$ref": "#/definitions/RestorableSqlDatabaseProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/ARMResourceProperties"
        }
      ]
    },
    "RestorableSqlDatabaseProperties": {
      "description": "The properties of an Azure Cosmos DB restorable SQL database",
      "type": "object",
      "properties": {
        "resource": {
          "properties": {
            "_rid": {
              "type": "string",
              "readOnly": true,
              "description": "A system generated property. A unique identifier."
            },
            "operationType": {
              "type": "string",
              "readOnly": true,
              "description": "The operation type of this database event.",
              "$ref": "#/definitions/OperationType"
            },
            "eventTimestamp": {
              "type": "string",
              "readOnly": true,
              "description": "The timestamp of this database event."
            },
            "ownerId": {
              "type": "string",
              "readOnly": true,
              "description": "The name of this restorable SQL database."
            },
            "ownerResourceId": {
              "type": "string",
              "readOnly": true,
              "description": "The resource Id of this restorable SQL database."
            },
            "database": {
              "properties": {
                "_colls": {
                  "type": "string",
                  "readOnly": true,
                  "description": "A system generated property that specified the addressable path of the collections resource."
                },
                "_users": {
                  "type": "string",
                  "readOnly": true,
                  "description": "A system generated property that specifies the addressable path of the users resource."
                },
                "_self": {
                  "type": "string",
                  "readOnly": true,
                  "description": "A system generated property that specifies the addressable path of the database resource."
                }
              },
              "allOf": [
                {
                  "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/SqlDatabaseResource"
                },
                {
                  "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/ExtendedResourceProperties"
                }
              ]
            }
          }
        }
      }
    },
    "RestorableSqlContainersListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableSqlContainerGetResult"
          },
          "description": "List of restorable SQL containers and their properties."
        }
      },
      "description": "The List operation response, that contains the restorable SQL containers and their properties."
    },
    "RestorableSqlContainerGetResult": {
      "description": "An Azure Cosmos DB restorable SQL container",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "The properties of a restorable SQL container.",
          "$ref": "#/definitions/RestorableSqlContainerProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/ARMResourceProperties"
        }
      ]
    },
    "RestorableSqlContainerProperties": {
      "description": "The properties of an Azure Cosmos DB restorable SQL container",
      "type": "object",
      "properties": {
        "resource": {
          "properties": {
            "_rid": {
              "type": "string",
              "readOnly": true,
              "description": "A system generated property. A unique identifier."
            },
            "operationType": {
              "type": "string",
              "readOnly": true,
              "description": "The operation type of this container event.",
              "$ref": "#/definitions/OperationType"
            },
            "eventTimestamp": {
              "type": "string",
              "readOnly": true,
              "description": "The timestamp of this container event."
            },
            "ownerId": {
              "type": "string",
              "readOnly": true,
              "description": "The name of this restorable SQL container."
            },
            "ownerResourceId": {
              "type": "string",
              "readOnly": true,
              "description": "The resource Id of this restorable SQL container."
            },
            "container": {
              "properties": {
                "_self": {
                  "type": "string",
                  "readOnly": true,
                  "description": "A system generated property that specifies the addressable path of the container resource."
                }
              },
              "allOf": [
                {
                  "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/SqlContainerResource"
                },
                {
                  "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/ExtendedResourceProperties"
                }
              ]
            }
          }
        }
      }
    },
    "RestorableSqlResourcesListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DatabaseRestoreResource"
          },
          "description": "List of restorable SQL resources, including the database and collection names."
        }
      },
      "description": "The List operation response, that contains the restorable SQL resources."
    },
    "RestorableMongodbDatabasesListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableMongodbDatabaseGetResult"
          },
          "description": "List of restorable MongoDB databases and their properties."
        }
      },
      "description": "The List operation response, that contains the restorable MongoDB databases and their properties."
    },
    "RestorableMongodbDatabaseGetResult": {
      "description": "An Azure Cosmos DB restorable MongoDB database",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "The properties of a restorable MongoDB database.",
          "$ref": "#/definitions/RestorableMongodbDatabaseProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/ARMResourceProperties"
        }
      ]
    },
    "RestorableMongodbDatabaseProperties": {
      "description": "The properties of an Azure Cosmos DB restorable MongoDB database",
      "type": "object",
      "properties": {
        "resource": {
          "properties": {
            "_rid": {
              "type": "string",
              "readOnly": true,
              "description": "A system generated property. A unique identifier."
            },
            "operationType": {
              "type": "string",
              "readOnly": true,
              "description": "The operation type of this database event.",
              "$ref": "#/definitions/OperationType"
            },
            "eventTimestamp": {
              "type": "string",
              "readOnly": true,
              "description": "The timestamp of this database event."
            },
            "ownerId": {
              "type": "string",
              "readOnly": true,
              "description": "The name of this restorable MongoDB database."
            },
            "ownerResourceId": {
              "type": "string",
              "readOnly": true,
              "description": "The resource Id of this restorable MongoDB database."
            }
          }
        }
      }
    },
    "RestorableMongodbCollectionsListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableMongodbCollectionGetResult"
          },
          "description": "List of restorable MongoDB collections and their properties."
        }
      },
      "description": "The List operation response, that contains the restorable MongoDB collections and their properties."
    },
    "RestorableMongodbCollectionGetResult": {
      "description": "An Azure Cosmos DB restorable MongoDB collection",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "The properties of a restorable MongoDB collection.",
          "$ref": "#/definitions/RestorableMongodbCollectionProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/ARMResourceProperties"
        }
      ]
    },
    "RestorableMongodbCollectionProperties": {
      "description": "The properties of an Azure Cosmos DB restorable MongoDB collection",
      "type": "object",
      "properties": {
        "resource": {
          "properties": {
            "_rid": {
              "type": "string",
              "readOnly": true,
              "description": "A system generated property. A unique identifier."
            },
            "operationType": {
              "type": "string",
              "readOnly": true,
              "description": "The operation type of this collection event.",
              "$ref": "#/definitions/OperationType"
            },
            "eventTimestamp": {
              "type": "string",
              "readOnly": true,
              "description": "The timestamp of this collection event."
            },
            "ownerId": {
              "type": "string",
              "readOnly": true,
              "description": "The name of this restorable MongoDB collection."
            },
            "ownerResourceId": {
              "type": "string",
              "readOnly": true,
              "description": "The resource Id of this restorable MongoDB collection."
            }
          }
        }
      }
    },
    "RestorableMongodbResourcesListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "../../preview/2020-06-01-preview/cosmos-db.json#/definitions/DatabaseRestoreResource"
          },
          "description": "List of restorable MongoDB resources, including the database and collection names."
        }
      },
      "description": "The List operation response, that contains the restorable MongoDB resources."
    },
    "OperationType": {
      "description": "Enum to indicate the operation type of the event.",
      "type": "string",
      "readOnly": true,
      "enum": [
        "Create",
        "Replace",
        "Delete",
        "SystemOperation"
      ],
      "x-ms-enum": {
        "name": "OperationType",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "locationParameter": {
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Cosmos DB region, with spaces between words and each word capitalized."
    },
    "instanceIdParameter": {
      "name": "instanceId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The instanceId GUID of a restorable database account."
    },
    "restorableSqlDatabaseIdParameter": {
      "name": "restorableSqlDatabaseId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The GUID of the restorable SQL database."
    },
    "restorableMongodbDatabaseIdParameter": {
      "name": "restorableMongodbDatabaseId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The GUID of the restorable MongoDB database."
    },
    "restorableSqlContainerIdParameter": {
      "name": "restorableSqlContainerId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The GUID of the restorable SQL container."
    },
    "restorableMongodbCollectionIdParameter": {
      "name": "restorableMongodbCollectionId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The GUID of the restorable MongoDB collection."
    },
    "restorableSqlDatabaseRidParameter": {
      "name": "restorableSqlDatabaseRid",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The resource id of the restorable SQL database."
    },
    "restorableMongodbDatabaseRidParameter": {
      "name": "restorableMongodbDatabaseRid",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The resource id of the restorable Mongo database."
    },
    "restoreLocationParameter": {
      "name": "restoreLocation",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The location where the restorable resources are located."
    },
    "restoreTimestampInUtcParameter": {
      "name": "restoreTimestampInUtc",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The timestamp when the restorable resources existed."
    }
  }
}
