{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AzureStackHCI",
    "version": "2025-12-01-preview",
    "description": "Azure Stack HCI service - EdgeMachine Network Adapter Design",
    "x-typespec-generated": []
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines": {
      "get": {
        "description": "List EdgeMachines",
        "operationId": "EdgeMachines_List",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EdgeMachineListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}": {
      "get": {
        "description": "Get an EdgeMachine",
        "operationId": "EdgeMachines_Get",
        "parameters": [
          {
            "name": "edgeMachineName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          }
        }
      },
      "put": {
        "description": "Create or Update an EdgeMachine",
        "operationId": "EdgeMachines_CreateOrUpdate",
        "parameters": [
          {
            "name": "edgeMachineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "edgeMachine",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/networkAdapters": {
      "get": {
        "tags": [
          "EdgeMachineNetworkAdapters"
        ],
        "description": "List Network Adapters for an EdgeMachine",
        "operationId": "EdgeMachineNetworkAdapters_List",
        "parameters": [
          {
            "name": "edgeMachineName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Edge Machine"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EdgeMachineNetworkAdapterListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/networkAdapters/{networkAdapterName}": {
      "get": {
        "tags": [
          "EdgeMachineNetworkAdapters"
        ],
        "description": "Get a specific Network Adapter",
        "operationId": "EdgeMachineNetworkAdapters_Get",
        "parameters": [
          {
            "name": "edgeMachineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkAdapterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Network Adapter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EdgeMachineNetworkAdapter"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/networkAdapters/{networkAdapterName}/jobs": {
      "get": {
        "tags": [
          "EdgeMachineNetworkAdapterJobs"
        ],
        "description": "List Jobs for a specific Network Adapter",
        "operationId": "EdgeMachineNetworkAdapterJobs_List",
        "parameters": [
          {
            "name": "edgeMachineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkAdapterName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EdgeMachineNetworkAdapterJobListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/networkAdapters/{networkAdapterName}/jobs/{jobName}": {
      "get": {
        "tags": [
          "EdgeMachineNetworkAdapterJobs"
        ],
        "description": "Get a specific Network Adapter Job",
        "operationId": "EdgeMachineNetworkAdapterJobs_Get",
        "parameters": [
          {
            "name": "edgeMachineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkAdapterName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EdgeMachineNetworkAdapterJob"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EdgeMachineNetworkAdapterJobs"
        ],
        "description": "Create or Update a Job for a Network Adapter",
        "operationId": "EdgeMachineNetworkAdapterJobs_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "name": "edgeMachineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkAdapterName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "job",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachineNetworkAdapterJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EdgeMachineNetworkAdapterJob"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EdgeMachineNetworkAdapterJob"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "EdgeMachine": {
      "type": "object",
      "description": "EdgeMachine details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeMachineProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "EdgeMachineProperties": {
      "type": "object",
      "properties": {
        "reportedProperties": {
          "$ref": "#/definitions/EdgeMachineReportedProperties"
        }
      }
    },
    "EdgeMachineReportedProperties": {
      "type": "object",
      "properties": {
        "networkProfile": {
          "description": "deprecated: Individual Network Adapters are now available as child resources under 'networkAdapters'.",
          "$ref": "#/definitions/EdgeMachineNetworkProfile"
        }
      }
    },
    "EdgeMachineNetworkProfile": {
      "type": "object",
      "properties": {
        "networkAdapterDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EdgeMachineNetworkAdapterDetail"
          }
        }
      }
    },
    "EdgeMachineNetworkAdapterDetail": {
      "description": "Common Network Adapter properties (used in both Desired and Reported)",
      "type": "object",
      "properties": {
        "adapterName": { "type": "string" },
        "interfaceDescription": { 
          "type": "string", 
          "description": "Interface Description of NIC",
          "readOnly": true 
        },
        "componentId": { 
          "type": "string", 
          "description": "Component Id of NIC",
          "readOnly": true 
        },
        "driverVersion": { 
          "type": "string", 
          "description": "Driver Version of NIC",
          "readOnly": true 
        },
        "ip4Address": { "type": "string" },
        "subnetMask": { "type": "string" },
        "defaultGateway": { "type": "string" },
        "dnsServers": { "type": "array", "items": { "type": "string" } },
        "defaultIsolationId": { 
          "type": "string", 
          "description": "Default Isolation of Management NIC",
          "readOnly": true 
        },
        "macAddress": { "type": "string", "readOnly": true },
        "slot": { 
          "type": "string", 
          "description": "The slot attached to the NIC",
          "readOnly": true 
        },
        "switchName": { 
          "type": "string", 
          "description": "The switch attached to the NIC, if any",
          "readOnly": true 
        },
        "interfaceType": { 
          "type": "string", 
          "enum": ["Eth", "wifi"],
          "description": "Type of network interface",
          "readOnly": true 
        },
        "interfaceSpeed": { 
          "type": "integer", 
          "format": "int32",
          "description": "Interface speed in Mbps",
          "readOnly": true 
        },
        "interfaceState": { 
          "type": "string", 
          "enum": ["up", "down"],
          "description": "Current state of the interface",
          "readOnly": true 
        },
        "nicType": { 
          "type": "string", 
          "description": "The type of NIC, physical, virtual, management",
          "readOnly": true 
        },
        "nicStatus": { 
          "type": "string", 
          "description": "The status of NIC, up, disconnected",
          "readOnly": true 
        },
        "ipInterfaceType": { 
          "type": "string", 
          "enum": ["Dhcp", "static"],
          "description": "IP configuration type",
          "readOnly": true 
        },
        "vlanId": { 
          "type": "integer", 
          "format": "int32",
          "minimum": 0,
          "maximum": 4096,
          "description": "VLAN identifier",
          "readOnly": true 
        },
        "managementInterface": { 
          "type": "boolean", 
          "description": "Indicates if this is a management interface",
          "readOnly": true 
        },
        "rdmaCapability": { 
          "type": "string", 
          "description": "Describes the RDMA capability of the network adapter",
          "default": "Disabled",
          "enum": ["Enabled", "Disabled"],
          "readOnly": true 
        }
      }
    },
    "EdgeMachineListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EdgeMachine"
          }
        }
      }
    },
    "EdgeMachineNetworkAdapter": {
      "type": "object",
      "description": "Edge Machine Network Adapter Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeMachineNetworkAdapterProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeMachineNetworkAdapterProperties": {
      "type": "object",
      "description": "Properties of the Network Adapter resource",
      "properties": {
        "networkConfiguration": {
          "$ref": "#/definitions/EdgeMachineNetworkAdapterDetail",
          "description": "The authoritative desired configuration for this specific interface. Persisted in cloud until changed by Job."
        },
        "reportedProperties": {
          "description": "The actual applied configuration reported by the device.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/EdgeMachineNetworkAdapterDetail"
            },
            {
              "type": "object",
              "properties": {
                "networkAdapterStatus": {
                  "$ref": "#/definitions/NetworkAdapterStatus",
                  "description": "The observed state of network adapters"
                }
              }
            }
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        }
      }
    },
    "EdgeMachineNetworkAdapterListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EdgeMachineNetworkAdapter"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "EdgeMachineNetworkAdapterJob": {
      "type": "object",
      "description": "Job for an Edge Machine Network Adapter",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeMachineNetworkAdapterJobProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeMachineNetworkAdapterJobProperties": {
      "type": "object",
      "properties": {
        "jobType": {
          "type": "string",
          "enum": ["ApplyConfiguration", "ForcePush"],
          "description": "Type of operation."
        },
        "targetConfiguration": {
          "$ref": "#/definitions/EdgeMachineNetworkAdapterDetail",
          "description": "The desired network configuration to apply."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/NetworkAdapterJobReportedProperties",
          "description": "Reported Properties for Network Adapter Job",
          "readOnly": true
        }
      },
      "required": ["jobType", "targetConfiguration"]
    },
    "EdgeMachineNetworkAdapterJobListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EdgeMachineNetworkAdapterJob"
          }
        },
        "nextLink": { "type": "string" }
      }
    },
    "TrackedResource": {
      "type": "object",
      "properties": {
        "id": { "type": "string", "readOnly": true },
        "name": { "type": "string", "readOnly": true },
        "type": { "type": "string", "readOnly": true },
        "location": { "type": "string", "required": true },
        "tags": { "type": "object", "additionalProperties": { "type": "string" } }
      }
    },
    "ProxyResource": {
      "type": "object",
      "properties": {
        "id": { "type": "string", "readOnly": true },
        "name": { "type": "string", "readOnly": true },
        "type": { "type": "string", "readOnly": true }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "enum": ["Succeeded", "Failed", "Canceled", "Creating", "Updating", "Deleting"]
    },
    "Status": {
      "type": "string",
      "enum": ["Succeeded", "Failed", "InProgress"],
      "description": "The status of the operation [Succeeded, Failed, InProgress]"
    },
    "NetworkAdapterStatusProvisioningStatus": {
      "type": "object",
      "description": "Network adapter provisioning status",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "The ID of the operation performed on the network adapter"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the operation performed on the network adapter [Succeeded, Failed, InProgress]"
        }
      }
    },
    "NetworkAdapterStatus": {
      "type": "object",
      "description": "The observed state of network adapters",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "NetworkAdapter provisioning error code"
        },
        "errorMessage": {
          "type": "string",
          "description": "Descriptive error message"
        },
        "provisioningStatus": {
          "$ref": "#/definitions/NetworkAdapterStatusProvisioningStatus",
          "description": "Network adapter provisioning status"
        }
      }
    },
    "DeploymentStep": {
      "type": "object",
      "description": "The Step of Network Adapter Job.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of step.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of step.",
          "readOnly": true
        },
        "fullStepIndex": {
          "type": "string",
          "description": "FullStepIndex of step.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "description": "Start time of step.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "description": "End time of step.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of step. Allowed values are 'Error', 'Success', 'InProgress'",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of nested steps.",
          "items": {
            "$ref": "#/definitions/DeploymentStep"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "exception": {
          "type": "array",
          "description": "List of exceptions.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "ActionStatus": {
      "type": "object",
      "description": "The action plan deployment status for Network Adapter Job.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of ECE action Network Adapter Job.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of steps of Network Adapter Job.",
          "items": {
            "$ref": "#/definitions/DeploymentStep"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "NetworkAdapterJobReportedProperties": {
      "type": "object",
      "description": "The job status of Network Adapter Job.",
      "properties": {
        "validationStatus": {
          "$ref": "#/definitions/ActionStatus",
          "description": "Validation status of Network Adapter Job.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/ActionStatus",
          "description": "Deployment status of Network Adapter Job.",
          "readOnly": true
        }
      }
    }

  }
}

