{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI Storage Resources",
    "description": "API definition for Disk and Volume resources.",
    "version": "2024-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/disks": {
      "get": {
        "operationId": "Disks_ListByEdgeMachine",
        "description": "List disks in an Edge Machine.",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/DiskListResult" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/disks/{diskName}": {
      "get": {
        "operationId": "Disks_Get",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/DiskName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/Disk" }
          }
        }
      },
      "put": {
        "operationId": "Disks_CreateOrUpdate",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/DiskName" },
          { "$ref": "#/parameters/ApiVersion" },
          {
            "name": "disk",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Disk" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/Disk" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/Disk" }
          }
        }
      },
      "delete": {
        "operationId": "Disks_Delete",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/DiskName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": { "description": "Success" },
          "202": { "description": "Accepted" },
          "204": { "description": "No Content" }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/disks/{diskName}/jobs": {
      "get": {
        "operationId": "DiskJobs_ListByDisk",
        "description": "List DiskJob resources by Disk",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/DiskName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/DiskJobListResult" }
          },
          "default": {
            "description": "Error response",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/disks/{diskName}/jobs/{jobName}": {
      "get": {
        "operationId": "DiskJobs_Get",
        "description": "Get a DiskJob",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/DiskName" },
          { "$ref": "#/parameters/JobName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/DiskJob" }
          },
          "default": {
            "description": "Error response",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          }
        }
      },
      "put": {
        "operationId": "DiskJobs_CreateOrUpdate",
        "description": "Create a DiskJob",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/DiskName" },
          { "$ref": "#/parameters/JobName" },
          { "$ref": "#/parameters/ApiVersion" },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": { "$ref": "#/definitions/DiskJob" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/DiskJob" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/DiskJob" }
          },
          "default": {
            "description": "Error response",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/volumes": {
      "get": {
        "operationId": "Volumes_ListByEdgeMachine",
        "description": "List volumes in an Edge Machine.",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/VolumeListResult" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/volumes/{volumeName}": {
      "get": {
        "operationId": "Volumes_Get",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/VolumeName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/Volume" }
          }
        }
      },
      "put": {
        "operationId": "Volumes_CreateOrUpdate",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/VolumeName" },
          { "$ref": "#/parameters/ApiVersion" },
          {
            "name": "volume",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Volume" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/Volume" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/Volume" }
          }
        }
      },
      "delete": {
        "operationId": "Volumes_Delete",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/EdgeMachineName" },
          { "$ref": "#/parameters/VolumeName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": { "description": "Success" },
          "202": { "description": "Accepted" },
          "204": { "description": "No Content" }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/disks": {
      "get": {
        "operationId": "Disks_ListByCluster",
        "description": "List disks in a Cluster.",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/ClusterName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/DiskListResult" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/disks/{diskName}": {
      "get": {
        "operationId": "Disks_GetForCluster",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/ClusterName" },
          { "$ref": "#/parameters/DiskName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/Disk" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/volumes": {
      "get": {
        "operationId": "Volumes_ListByCluster",
        "description": "List volumes in a Cluster.",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/ClusterName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/VolumeListResult" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/volumes/{volumeName}": {
      "get": {
        "operationId": "Volumes_GetForCluster",
        "parameters": [
          { "$ref": "#/parameters/SubscriptionId" },
          { "$ref": "#/parameters/ResourceGroupName" },
          { "$ref": "#/parameters/ClusterName" },
          { "$ref": "#/parameters/VolumeName" },
          { "$ref": "#/parameters/ApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/Volume" }
          }
        }
      }
    }
  },
  "definitions": {
    "Disk": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Fully qualified resource ID for the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the resource."
        },
        "properties": {
          "$ref": "#/definitions/DiskProperties"
        }
      }
    },
    "DiskProperties": {
      "type": "object",
      "description": "The properties of a disk.",
      "properties": {
        "diskConfiguration": {
          "$ref": "#/definitions/DiskConfiguration",
          "description": "The authoritative desired configuration for this disk. Persisted in cloud until changed."
        },
        "reportedProperties": {
          "$ref": "#/definitions/DiskReportedProperties",
          "description": "The actual state of the disk as reported by the device.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        }
      }
    },
    "DiskConfiguration": {
      "type": "object",
      "description": "Desired configuration for a disk.",
      "properties": {
        "volumes": {
          "type": "array",
          "description": "List of desired volumes on this disk.",
          "items": {
            "$ref": "#/definitions/DiskVolumeConfiguration"
          }
        }
      }
    },
    "DiskVolumeConfiguration": {
      "type": "object",
      "description": "Configuration for a volume.",
      "properties": {
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Size of the volume in bytes."
        },
        "path": {
          "type": "string",
          "description": "Mount path for the volume (e.g., /data or D:\\data)."
        },
        "fileSystem": {
          "type": "string",
          "description": "File system type to format the volume with. Optional - defaults to ext4 on Linux systems, NTFS on Windows systems.",
          "enum": ["ext4", "xfs", "NTFS", "ReFS"]
        }
      },
      "required": ["sizeInBytes", "path"]
    },
    "DiskReportedProperties": {
      "type": "object",
      "description": "The actual state of the disk as reported by the device.",
      "properties": {
        "diskName": {
          "type": "string",
          "description": "The actual disk name as reported by the operating system (e.g., /dev/sda on Linux, PhysicalDrive0 on Windows). This preserves the original name including characters not allowed in ARM resource names.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "Represents the model number of the hardware.",
          "readOnly": true
        },
        "manufacturer": {
          "type": "string",
          "description": "The name of the company responsible for the hardware.",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number.",
          "readOnly": true
        },
        "firmwareVersion": {
          "type": "string",
          "description": "A string representation of the firmware revision.",
          "readOnly": true
        },
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Size in bytes.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the disk.",
          "enum": [
            "Unknown",
            "SCM",
            "NVMe",
            "SATA",
            "SSD",
            "HDD",
            "Virtual",
            "Other"
          ],
          "readOnly": true
        },
        "busLocation": {
          "type": "string",
          "description": "The bus location of the disk (e.g., PCI bus address).",
          "readOnly": true
        },
        "unallocatedSizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Unallocated space on the disk in bytes.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "The current state of the disk.",
          "enum": [
            "Online",
            "Offline",
            "Failed",
            "Missing",
            "Unknown"
          ],
          "readOnly": true
        },
        "volumes": {
          "type": "array",
          "description": "List of volumes currently present on this disk as reported by the device.",
          "items": {
            "$ref": "#/definitions/DiskVolumeReportedProperties"
          },
          "readOnly": true
        }
      }
    },
    "DiskVolumeReportedProperties": {
      "type": "object",
      "description": "Reported properties of a volume on the disk.",
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "Unique identifier for the volume within the operating system (e.g., sda1, sdb1 on Linux; unique GUID or identifier on Windows).",
          "readOnly": true
        },
        "volumeNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The volume/partition number (e.g., 1 for sda1, 2 for sda2).",
          "readOnly": true
        },
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Size of the volume in bytes.",
          "readOnly": true
        },
        "path": {
          "type": "string",
          "description": "Mount path for the volume (e.g., /data or D:\\data). Null if not mounted.",
          "readOnly": true
        },
        "fileSystem": {
          "type": "string",
          "description": "File system type (e.g., ext4, xfs, NTFS, ReFS). Null if not formatted.",
          "readOnly": true
        }
      }
    },
    "DiskListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Disk"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      }
    },
    "Volume": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Fully qualified resource ID for the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the resource."
        },
        "properties": {
          "$ref": "#/definitions/VolumeProperties"
        }
      }
    },
    "VolumeProperties": {
      "type": "object",
      "description": "The properties of a volume.",
      "properties": {
        "volumeConfiguration": {
          "$ref": "#/definitions/VolumeConfiguration",
          "description": "The authoritative desired configuration for this volume. Currently empty but reserved for future use."
        },
        "reportedProperties": {
          "$ref": "#/definitions/VolumeReportedProperties",
          "description": "The actual state of the volume as reported by the device.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        }
      }
    },
    "VolumeConfiguration": {
      "type": "object",
      "description": "Desired configuration for a volume. Currently empty but reserved for future use.",
      "properties": {}
    },
    "VolumeReportedProperties": {
      "type": "object",
      "description": "The actual state of the volume as reported by the device.",
      "properties": {
        "partitionId": {
          "type": "string",
          "description": "Unique identifier for the partition (e.g., GPT GUID). Immutable and stable.",
          "readOnly": true
        },
        "offsetInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The byte offset of the partition start. Used to determine physical order and visualization.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Label of the volume (e.g., Volume1).",
          "readOnly": true
        },
        "path": {
          "type": "string",
          "description": "Access path for the volume (e.g., C:\\ClusterStorage\\Volume1).",
          "readOnly": true
        },
        "parentDiskId": {
          "type": "string",
          "description": "The ARM resource ID of the parent disk that contains this volume.",
          "readOnly": true
        },
        "isBoot": {
          "type": "boolean",
          "description": "Indicates if this volume is a boot volume.",
          "readOnly": true
        },
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Total size of the volume in bytes.",
          "readOnly": true
        },
        "sizeRemainingInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Available space on the volume in bytes.",
          "readOnly": true
        },
        "fileSystem": {
          "type": "string",
          "description": "File system on the volume. Common values include NTFS, ReFS (Windows), ext4, xfs (Linux).",
          "readOnly": true
        }
      }
    },
    "VolumeListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Volume"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      }
    },
    "DiskJob": {
      "type": "object",
      "description": "Disk Job resource",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Fully qualified resource ID for the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the resource."
        },
        "properties": {
          "$ref": "#/definitions/DiskJobProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "DiskJobListResult": {
      "type": "object",
      "description": "The response of a DiskJob list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DiskJob items on this page",
          "items": {
            "$ref": "#/definitions/DiskJob"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "required": ["value"]
    },
    "DiskJobProperties": {
      "type": "object",
      "description": "Disk Job properties",
      "properties": {
        "jobType": {
          "$ref": "#/definitions/DiskJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": ["read", "create"]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of disk job.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ErrorDetail",
          "description": "Error details if job failed.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/DiskJobReportedProperties",
          "description": "Properties reported by the job execution on the device.",
          "readOnly": true
        }
      },
      "discriminator": "jobType",
      "required": ["jobType"]
    },
    "DiskJobType": {
      "type": "string",
      "description": "Job Type supported for disk operations.",
      "enum": ["CreateVolume", "DeleteVolume", "SyncConfiguration"],
      "x-ms-enum": {
        "name": "DiskJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CreateVolume",
            "value": "CreateVolume",
            "description": "Job to create a volume on the disk."
          },
          {
            "name": "DeleteVolume",
            "value": "DeleteVolume",
            "description": "Job to delete a volume from the disk."
          },
          {
            "name": "SyncConfiguration",
            "value": "SyncConfiguration",
            "description": "Job to resolve configuration drift between desired state (ARM) and reported state (device)."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource.",
      "enum": ["Succeeded", "Failed", "Canceled", "Provisioning", "Updating", "Deleting", "Accepted"],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "JobStatus": {
      "type": "string",
      "description": "Status of the job execution.",
      "enum": ["NotStarted", "Running", "Succeeded", "Failed", "Canceled"],
      "x-ms-enum": {
        "name": "JobStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotStarted",
            "value": "NotStarted",
            "description": "Job has not started yet."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Job is currently running."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Job completed successfully."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Job failed to complete."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Job was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "CreateVolumeJobProperties": {
      "type": "object",
      "description": "Properties for creating a volume on a disk.",
      "x-ms-discriminator-value": "CreateVolume",
      "allOf": [
        {
          "$ref": "#/definitions/DiskJobProperties"
        }
      ],
      "properties": {
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Size of the volume to create in bytes. Must be less than or equal to the unallocated space on the disk."
        },
        "path": {
          "type": "string",
          "description": "Absolute path where the volume should be mounted (e.g., /data or D:\\data). Must be unique across all volumes."
        },
        "fileSystem": {
          "type": "string",
          "description": "File system type to format the volume with. Defaults to ext4 on Linux, NTFS on Windows.",
          "enum": ["ext4", "xfs", "NTFS", "ReFS"],
          "x-ms-mutability": ["create"]
        },
        "createdVolumeId": {
          "type": "string",
          "description": "ARM resource ID of the created volume.",
          "readOnly": true
        }
      },
      "required": ["sizeInBytes", "path"]
    },
    "DeleteVolumeJobProperties": {
      "type": "object",
      "description": "Properties for deleting a volume from a disk.",
      "x-ms-discriminator-value": "DeleteVolume",
      "allOf": [
        {
          "$ref": "#/definitions/DiskJobProperties"
        }
      ],
      "properties": {
        "volumePath": {
          "type": "string",
          "description": "The mount path of the volume to delete (e.g., /data or D:\\data). User must type this exactly to confirm deletion."
        },
        "confirmDeletion": {
          "type": "boolean",
          "description": "Confirmation flag that must be set to true to proceed with deletion.",
          "default": false
        }
      },
      "required": ["volumePath"]
    },
    "SyncConfigurationJobProperties": {
      "type": "object",
      "description": "Properties for resolving configuration drift between the desired state in ARM and the reported state on the device.",
      "x-ms-discriminator-value": "SyncConfiguration",
      "allOf": [
        {
          "$ref": "#/definitions/DiskJobProperties"
        }
      ],
      "properties": {
        "resolutionStrategy": {
          "$ref": "#/definitions/ResolutionStrategy",
          "description": "The strategy to use for resolving the configuration drift.",
          "x-ms-mutability": ["create"]
        },
        "driftDetails": {
          "type": "array",
          "description": "Details of the detected drift between desired and reported state. Populated after job validation.",
          "items": {
            "$ref": "#/definitions/DriftDetail"
          },
          "readOnly": true
        }
      },
      "required": ["resolutionStrategy"]
    },
    "ResolutionStrategy": {
      "type": "string",
      "description": "Strategy for resolving configuration drift.",
      "enum": ["ApplyDesired", "AcceptReported"],
      "x-ms-enum": {
        "name": "ResolutionStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "ApplyDesired",
            "value": "ApplyDesired",
            "description": "Trust Cloud. Push the desiredConfiguration down to the device. The device will be modified to match."
          },
          {
            "name": "AcceptReported",
            "value": "AcceptReported",
            "description": "Trust Device. Update the desiredConfiguration in ARM to match the current reportedProperties. No changes are made to the device."
          }
        ]
      }
    },
    "DriftDetail": {
      "type": "object",
      "description": "Describes a single drift discrepancy between desired and reported state.",
      "properties": {
        "driftType": {
          "type": "string",
          "description": "The type of drift detected.",
          "enum": ["MissingOnDevice", "ExtraOnDevice", "PropertyMismatch"],
          "x-ms-enum": {
            "name": "DriftType",
            "modelAsString": true,
            "values": [
              {
                "name": "MissingOnDevice",
                "value": "MissingOnDevice",
                "description": "A volume exists in desiredConfiguration but is not present on the device."
              },
              {
                "name": "ExtraOnDevice",
                "value": "ExtraOnDevice",
                "description": "A volume exists on the device but is not present in desiredConfiguration."
              },
              {
                "name": "PropertyMismatch",
                "value": "PropertyMismatch",
                "description": "A volume exists in both but one or more properties differ (e.g., size, fileSystem)."
              }
            ]
          },
          "readOnly": true
        },
        "volumePath": {
          "type": "string",
          "description": "The mount path of the volume with the drift.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Human-readable description of the drift.",
          "readOnly": true
        }
      }
    },
    "ErrorDetail": {
      "type": "object",
      "description": "Error detail",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code"
        },
        "message": {
          "type": "string",
          "description": "Error message"
        },
        "target": {
          "type": "string",
          "description": "Error target"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Error response",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "description": "Error code"
            },
            "message": {
              "type": "string",
              "description": "Error message"
            },
            "target": {
              "type": "string",
              "description": "Error target"
            },
            "details": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ErrorResponse"
              },
              "description": "Error details"
            }
          }
        }
      }
    },
    "DiskMetrics": {
      "type": "object",
      "description": "Metrics for disk performance monitoring.",
      "properties": {
        "readBytesPerSecond": {
          "type": "number",
          "format": "float",
          "description": "Disk read throughput in bytes per second."
        },
        "readOperationsPerSecond": {
          "type": "number",
          "format": "float",
          "description": "Disk read operations per second."
        },
        "writeBytesPerSecond": {
          "type": "number",
          "format": "float",
          "description": "Disk write throughput in bytes per second."
        },
        "writeOperationsPerSecond": {
          "type": "number",
          "format": "float",
          "description": "Disk write operations per second."
        },
        "averageReadLatencyMs": {
          "type": "number",
          "format": "float",
          "description": "Average read latency in milliseconds."
        },
        "averageWriteLatencyMs": {
          "type": "number",
          "format": "float",
          "description": "Average write latency in milliseconds."
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when the metrics were collected."
        }
      }
    },
    "DiskJobReportedProperties": {
      "type": "object",
      "description": "Reported properties for disk job triggered from cloud.",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/DiskJobActionStatus",
          "description": "Validation status of job.",
          "readOnly": true
        },
        "executionStatus": {
          "$ref": "#/definitions/DiskJobActionStatus",
          "description": "Execution status of job.",
          "readOnly": true
        }
      }
    },
    "DiskJobActionStatus": {
      "type": "object",
      "description": "The action status for disk job execution.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Overall status of the action (e.g., NotStarted, Running, Succeeded, Failed).",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of execution steps for the disk job.",
          "items": {
            "$ref": "#/definitions/DiskJobStep"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "DiskJobStep": {
      "type": "object",
      "description": "Represents a step in the disk job execution.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the step.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the step.",
          "readOnly": true
        },
        "fullStepIndex": {
          "type": "string",
          "description": "Full step index for hierarchical step tracking.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Start time of the step in UTC.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "End time of the step in UTC.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of the step. Allowed values are 'NotStarted', 'InProgress', 'Succeeded', 'Failed', 'Warning'.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of nested sub-steps.",
          "items": {
            "$ref": "#/definitions/DiskJobStep"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "exception": {
          "type": "array",
          "description": "List of exceptions or error messages encountered during this step.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation."
    },
    "EdgeMachineName": {
      "name": "edgeMachineName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the edge machine."
    },
    "ClusterName": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster."
    },
    "DiskName": {
      "name": "diskName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the disk."
    },
    "VolumeName": {
      "name": "volumeName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the volume."
    },
    "JobName": {
      "name": "jobName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the job."
    }
  }
}
