{
  "swagger": "2.0",
  "info": {
    "title": "NotificationHubsManagementClient",
    "description": "Azure NotificationHub client",
    "version": "2014-09-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_CheckAvailability",
        "description": "Checks the availability of the given service namespace across all Windows Azure subscriptions. This is useful because the domain name is created based on the service namespace name.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx"
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityParameters"
            },
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}": {
      "put": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_CreateOrUpdate",
        "description": "Creates/Updates a service namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NamespaceCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to create a Namespace Resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_Delete",
        "description": "Deletes an existing namespace. This operation also removes all associated notificationHubs under the namespace.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "202": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_Get",
        "description": "Returns the description for the specified namespace.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/library/azure/dn140232.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}": {
      "put": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_CreateOrUpdateAuthorizationRule",
        "description": "Creates an authorization rule for a namespace",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Aauthorization Rule Name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
            },
            "description": "The shared access authorization rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_DeleteAuthorizationRule",
        "description": "Deletes a namespace authorization rule",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Authorization Rule Name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_GetAuthorizationRule",
        "description": "Gets an authorization rule for a namespace by name.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name"
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Authorization rule name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          }
        }
      }
    },
    "/{operationStatusLink}": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_GetLongRunningOperationStatus",
        "description": "The Get Operation Status operation returns the status of the specified operation. After calling an asynchronous operation, you can call Get Operation Status to determine whether the operation has succeeded, failed, or is still in progress.",
        "parameters": [
          {
            "name": "operationStatusLink",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Location value returned by the Begin operation.",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "404": {
            "description": ""
          },
          "202": {
            "description": ""
          },
          "200": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_List",
        "description": "Lists the available namespaces within a resourceGroup.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. If resourceGroupName value is null the method lists all the namespaces within subscription"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_ListAll",
        "description": "Lists all the available namespaces within the subscription irrespective of the resourceGroups.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_ListAuthorizationRules",
        "description": "Gets the authorization rules for a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_ListKeys",
        "description": "Gets the Primary and Secondary ConnectionStrings to the namespace ",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The connection string of the namespace for the specified authorizationRule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResourceListKeys"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability": {
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_CheckAvailability",
        "description": "Checks the availability of the given notificationHub in a namespace.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityParameters"
            },
            "description": "The notificationHub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}": {
      "put": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_CreateOrUpdate",
        "description": "Creates/Update a NotificationHub in a namespace.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationHubCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to the create/update a NotificationHub Resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_Delete",
        "description": "Deletes a notification hub associated with a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_Get",
        "description": "Lists the notification hubs associated with a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}": {
      "put": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_CreateOrUpdateAuthorizationRule",
        "description": "Creates/Updates an authorization rule for a NotificationHub",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Authorization Rule Name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
            },
            "description": "The shared access authorization rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_DeleteAuthorizationRule",
        "description": "Deletes a notificationHub authorization rule",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Authorization Rule Name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_GetAuthorizationRule",
        "description": "Gets an authorization rule for a NotificationHub by name.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name"
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "authorization rule name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs": {
      "get": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_List",
        "description": "Lists the notification hubs associated with a namespace.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NotificationHubListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules": {
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_ListAuthorizationRules",
        "description": "Gets the authorization rules for a NotificationHub.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name"
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_ListKeys",
        "description": "Gets the Primary and Secondary ConnectionStrings to the NotificationHub ",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The connection string of the NotificationHub for the specified authorizationRule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResourceListKeys"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials": {
      "post": {
        "tags": [
          "NotificationHubs"
        ],
        "operationId": "NotificationHubs_GetPnsCredentials",
        "description": "Lists the PNS Credentials associated with a notification hub .",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "notificationHubName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The notification hub name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CheckAvailabilityParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets name"
        },
        "location": {
          "type": "string",
          "description": "Gets or sets location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets tags."
        },
        "isAvailiable": {
          "type": "boolean",
          "description": "Gets or sets true if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false."
        }
      },
      "required": [
        "name"
      ],
      "description": "Parameters supplied to the Check Name Availability for Namespace and NotificationHubs."
    },
    "CheckAvailabilityResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id"
        },
        "location": {
          "type": "string",
          "description": "Gets or sets datacenter location"
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name"
        },
        "type": {
          "type": "string",
          "description": "Gets or sets resource type"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets tags"
        },
        "isAvailiable": {
          "type": "boolean",
          "description": "Gets or sets true if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false."
        }
      },
      "description": "Description of a CheckAvailibility resource."
    },
    "NamespaceProperties": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the namespace."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets provisioning state of the Namespace."
        },
        "region": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Specifies the targeted region in which the namespace should be created. It can be any of the following values: Australia EastAustralia SoutheastCentral USEast USEast US 2West USNorth Central USSouth Central USEast AsiaSoutheast AsiaBrazil SouthJapan EastJapan WestNorth EuropeWest Europe"
        },
        "status": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Status of the namespace. It can be any of these values:1 = Created/Active2 = Creating3 = Suspended4 = Deleting"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time the namespace was created."
        },
        "serviceBusEndpoint": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
          },
          "type": "string",
          "description": "Endpoint you can use to perform NotificationHub operations."
        },
        "subscriptionId": {
          "type": "string",
          "description": "The Id of the Azure subscription associated with the namespace."
        },
        "scaleUnit": {
          "type": "string",
          "description": "ScaleUnit where the namespace gets created"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether or not the namespace is currently enabled."
        },
        "critical": {
          "type": "boolean",
          "description": "Whether or not the namespace is set as Critical."
        },
        "namespaceType": {
          "type": "string",
          "description": "Gets or sets the namespace type.",
          "enum": [
            "Messaging",
            "NotificationHub"
          ],
          "x-ms-enum": {
            "name": "NamespaceType",
            "modelAsString": false
          }
        }
      },
      "description": "Namespace properties."
    },
    "NamespaceCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Gets or sets Namespace data center location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets Namespace tags."
        },
        "properties": {
          "$ref": "#/definitions/NamespaceProperties",
          "description": "Gets or sets properties of the Namespace."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "Parameters supplied to the CreateOrUpdate Namespace operation."
    },
    "NamespaceResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the created Namespace."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets datacenter location of the Namespace."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the Namespace."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets resource type of the Namespace."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets tags of the Namespace."
        },
        "properties": {
          "$ref": "#/definitions/NamespaceProperties",
          "description": "Gets or sets properties of the Namespace."
        }
      },
      "description": "Description of a Namespace resource."
    },
    "SharedAccessAuthorizationRuleProperties": {
      "properties": {
        "primaryKey": {
          "type": "string",
          "description": "The primary key that was used."
        },
        "secondaryKey": {
          "type": "string",
          "description": "The secondary key that was used."
        },
        "keyName": {
          "type": "string",
          "description": "The name of the key that was used."
        },
        "claimType": {
          "type": "string",
          "description": "The type of the claim."
        },
        "claimValue": {
          "type": "string",
          "description": "The value of the claim."
        },
        "rights": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Manage",
              "Send",
              "Listen"
            ],
            "x-ms-enum": {
              "name": "AccessRights",
              "modelAsString": false
            }
          },
          "description": "The rights associated with the rule."
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the authorization rule was created."
        },
        "modifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The most recent time the rule was updated."
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The revision number for the rule."
        }
      },
      "description": "SharedAccessAuthorizationRule properties."
    },
    "SharedAccessAuthorizationRuleCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Gets or sets Namespace data center location."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets Name of the Namespace AuthorizationRule."
        },
        "properties": {
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties",
          "description": "Gets or sets properties of the Namespace AuthorizationRules."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules."
    },
    "SharedAccessAuthorizationRuleResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the created Namespace AuthorizationRules."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets datacenter location of the Namespace AuthorizationRules."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the Namespace AuthorizationRules."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets resource type of the Namespace AuthorizationRules."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets tags of the Namespace AuthorizationRules."
        },
        "properties": {
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties",
          "description": "Gets or sets properties of the Namespace."
        }
      },
      "description": "Description of a Namespace AuthorizationRules."
    },
    "NamespaceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NamespaceResource"
          },
          "description": "Gets or sets result of the List Namespace operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets link to the next set of results. Not empty if Value contains incomplete list of Namespaces"
        }
      },
      "description": "The response of the List Namespace operation."
    },
    "SharedAccessAuthorizationRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
          },
          "description": "Gets or sets result of the List AuthorizationRules operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules"
        }
      },
      "description": "The response of the List Namespace operation."
    },
    "ResourceListKeys": {
      "properties": {
        "primaryConnectionString": {
          "type": "string",
          "description": "Gets or sets the primaryConnectionString of the created Namespace AuthorizationRule."
        },
        "secondaryConnectionString": {
          "type": "string",
          "description": "Gets or sets the secondaryConnectionString of the created Namespace AuthorizationRule"
        }
      },
      "description": "Namespace/NotificationHub Connection String"
    },
    "ApnsCredentialProperties": {
      "properties": {
        "apnsCertificate": {
          "type": "string",
          "description": "Gets or sets the APNS certificate."
        },
        "certificateKey": {
          "type": "string",
          "description": "Gets or sets the certificate key."
        },
        "endpoint": {
          "type": "string",
          "description": "Gets or sets the endpoint of this credential."
        },
        "thumbprint": {
          "type": "string",
          "description": "Gets or sets the Apns certificate Thumbprint"
        }
      },
      "description": "Description of a NotificationHub ApnsCredential."
    },
    "ApnsCredential": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApnsCredentialProperties",
          "description": "Gets or sets properties of NotificationHub ApnsCredential."
        }
      },
      "description": "Description of a NotificationHub ApnsCredential."
    },
    "WnsCredentialProperties": {
      "properties": {
        "packageSid": {
          "type": "string",
          "description": "Gets or sets the package ID for this credential."
        },
        "secretKey": {
          "type": "string",
          "description": "Gets or sets the secret key."
        },
        "windowsLiveEndpoint": {
          "type": "string",
          "description": "Gets or sets the Windows Live endpoint."
        }
      },
      "description": "Description of a NotificationHub WnsCredential."
    },
    "WnsCredential": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/WnsCredentialProperties",
          "description": "Gets or sets properties of NotificationHub WnsCredential."
        }
      },
      "description": "Description of a NotificationHub WnsCredential."
    },
    "GcmCredentialProperties": {
      "properties": {
        "gcmEndpoint": {
          "type": "string",
          "description": "Gets or sets the GCM endpoint."
        },
        "googleApiKey": {
          "type": "string",
          "description": "Gets or sets the Google API key."
        }
      },
      "description": "Description of a NotificationHub GcmCredential."
    },
    "GcmCredential": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/GcmCredentialProperties",
          "description": "Gets or sets properties of NotificationHub GcmCredential."
        }
      },
      "description": "Description of a NotificationHub GcmCredential."
    },
    "MpnsCredentialProperties": {
      "properties": {
        "mpnsCertificate": {
          "type": "string",
          "description": "Gets or sets the MPNS certificate."
        },
        "certificateKey": {
          "type": "string",
          "description": "Gets or sets the certificate key for this credential."
        },
        "thumbprint": {
          "type": "string",
          "description": "Gets or sets the Mpns certificate Thumbprint"
        }
      },
      "description": "Description of a NotificationHub MpnsCredential."
    },
    "MpnsCredential": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/MpnsCredentialProperties",
          "description": "Gets or sets properties of NotificationHub MpnsCredential."
        }
      },
      "description": "Description of a NotificationHub MpnsCredential."
    },
    "AdmCredentialProperties": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Gets or sets the client identifier."
        },
        "clientSecret": {
          "type": "string",
          "description": "Gets or sets the credential secret access key."
        },
        "authTokenUrl": {
          "type": "string",
          "description": "Gets or sets the URL of the authorization token."
        }
      },
      "description": "Description of a NotificationHub AdmCredential."
    },
    "AdmCredential": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/AdmCredentialProperties",
          "description": "Gets or sets properties of NotificationHub AdmCredential."
        }
      },
      "description": "Description of a NotificationHub AdmCredential."
    },
    "BaiduCredentialProperties": {
      "properties": {
        "baiduApiKey": {
          "type": "string",
          "description": "Get or Set Baidu Api Key."
        },
        "baiduEndPoint": {
          "type": "string",
          "description": "Get or Set Baidu Endpoint."
        },
        "baiduSecretKey": {
          "type": "string",
          "description": "Get or Set Baidu Secret Key"
        }
      },
      "description": "Description of a NotificationHub BaiduCredential."
    },
    "BaiduCredential": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/BaiduCredentialProperties",
          "description": "Gets or sets properties of NotificationHub BaiduCredential."
        }
      },
      "description": "Description of a NotificationHub BaiduCredential."
    },
    "NotificationHubProperties": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The NotificationHub name."
        },
        "registrationTtl": {
          "type": "string",
          "description": "The RegistrationTtl of the created NotificationHub"
        },
        "authorizationRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties"
          },
          "description": "The AuthorizationRules of the created NotificationHub"
        },
        "apnsCredential": {
          "$ref": "#/definitions/ApnsCredential",
          "description": "The ApnsCredential of the created NotificationHub"
        },
        "wnsCredential": {
          "$ref": "#/definitions/WnsCredential",
          "description": "The WnsCredential of the created NotificationHub"
        },
        "gcmCredential": {
          "$ref": "#/definitions/GcmCredential",
          "description": "The GcmCredential of the created NotificationHub"
        },
        "mpnsCredential": {
          "$ref": "#/definitions/MpnsCredential",
          "description": "The MpnsCredential of the created NotificationHub"
        },
        "admCredential": {
          "$ref": "#/definitions/AdmCredential",
          "description": "The AdmCredential of the created NotificationHub"
        },
        "baiduCredential": {
          "$ref": "#/definitions/BaiduCredential",
          "description": "The BaiduCredential of the created NotificationHub"
        }
      },
      "description": "NotificationHub properties."
    },
    "NotificationHubCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Gets or sets NotificationHub data center location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets NotificationHub tags."
        },
        "properties": {
          "$ref": "#/definitions/NotificationHubProperties",
          "description": "Gets or sets properties of the NotificationHub."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "Parameters supplied to the CreateOrUpdate NotificationHub operation."
    },
    "NotificationHubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the created NotificationHub."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets datacenter location of the NotificationHub."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the NotificationHub."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets resource type of the NotificationHub."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets tags of the NotificationHub."
        },
        "properties": {
          "$ref": "#/definitions/NotificationHubProperties",
          "description": "Gets or sets properties of the NotificationHub."
        }
      },
      "description": "Description of a NotificationHub Resource."
    },
    "NotificationHubListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationHubResource"
          },
          "description": "Gets or sets result of the List NotificationHub operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets link to the next set of results. Not empty if Value contains incomplete list of NotificationHub"
        }
      },
      "description": "The response of the List NotificationHub operation."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}