{
    "swagger": "2.0",
    "info": {
        "description": "Scale unit node operation endpoints and objects.",
        "title": "FabricAdminClient",
        "version": "2016-05-01"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/PowerOff": {
            "post": {
                "x-ms-examples": {
                    "Power off a scale unit node": {
                        "$ref": "./examples/ScaleUnitNode/ScaleUnitNodePowerOffOperation_example.json"
                    }
                },
                "tags": [
                    "ScaleUnitNodes"
                ],
                "description": "Power off a scale unit node.",
                "operationId": "ScaleUnitNodes_PowerOff",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/ScaleUnitNodeParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "202": {
                        "description": "ACCEPTED",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "500": {
                        "description": "FAILURE",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/PowerOn": {
            "post": {
                "x-ms-examples": {
                    "Power on a scale unit node": {
                        "$ref": "./examples/ScaleUnitNode/ScaleUnitNodePowerOnOperation_example.json"
                    }
                },
                "tags": [
                    "ScaleUnitNodes"
                ],
                "description": "Power on a scale unit node.",
                "operationId": "ScaleUnitNodes_PowerOn",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/ScaleUnitNodeParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "202": {
                        "description": "ACCEPTED",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "500": {
                        "description": "FAILURE",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/StartMaintenanceMode": {
            "post": {
                "x-ms-examples": {
                    "Start maintenance mode on a scale unit node": {
                        "$ref": "./examples/ScaleUnitNode/ScaleUnitNodeStartMaintenanceModeOperation_example.json"
                    }
                },
                "tags": [
                    "ScaleUnitNodes"
                ],
                "description": "Start maintenance mode for a scale unit node.",
                "operationId": "ScaleUnitNodes_StartMaintenanceMode",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/ScaleUnitNodeParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "202": {
                        "description": "ACCEPTED",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "500": {
                        "description": "FAILURE",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/StopMaintenanceMode": {
            "post": {
                "x-ms-examples": {
                    "Stop maintenance mode on a scale unit node": {
                        "$ref": "./examples/ScaleUnitNode/ScaleUnitNodeStopMaintenanceModeOperation_example.json"
                    }
                },
                "tags": [
                    "ScaleUnitNodes"
                ],
                "description": "Stop maintenance mode for a scale unit node.",
                "operationId": "ScaleUnitNodes_StopMaintenanceMode",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/ScaleUnitNodeParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "202": {
                        "description": "ACCEPTED",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    },
                    "500": {
                        "description": "FAILURE",
                        "schema": {
                            "$ref": "Operations.json#/definitions/OperationStatus"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}": {
            "get": {
                "x-ms-examples": {
                    "Get a scale unit node": {
                        "$ref": "./examples/ScaleUnitNode/ScaleUnitNodeGetOperation_example.json"
                    }
                },
                "tags": [
                    "ScaleUnitNodes"
                ],
                "description": "Get a specific scale unit node.",
                "operationId": "ScaleUnitNodes_Get",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/ScaleUnitNodeParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ScaleUnitNode"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes": {
            "get": {
                "x-ms-examples": {
                    "List all scale unit node": {
                        "$ref": "./examples/ScaleUnitNode/ScaleUnitNodeListOperation_example.json"
                    }
                },
                "tags": [
                    "ScaleUnitNodes"
                ],
                "description": "Get a list of all scale unit nodes in a location.",
                "operationId": "ScaleUnitNodes_List",
                "parameters": [
                    {
                        "$ref": "Fabric.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "Fabric.json#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ScaleUnitNodeList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-ms-odata": "#/definitions/ScaleUnitNode"
            }
        }
    },
    "definitions": {
        "ScaleUnitNode": {
            "description": "The physical server in a cluster.",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Holds all properties related to a scale unit node.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/ScaleUnitNodeModel"
                }
            },
            "allOf": [
                {
                    "$ref": "Fabric.json#/definitions/Resource"
                }
            ]
        },
        "ScaleUnitNodeModel": {
            "description": "Holds all properties related to a scale unit node.",
            "type": "object",
            "properties": {
                "scaleUnitNodeStatus": {
                    "description": "Status of the physical machine.",
                    "enum": [
                        "Running",
                        "Maintenance",
                        "Stopped"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                        "modelAsString": true,
                        "name": "ScaleUnitNodeStatus"
                    }
                },
                "powerState": {
                    "description": "PowerState of the physical machine.",
                    "enum": [
                        "Stopped",
                        "Starting",
                        "Running",
                        "Stopping"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                        "modelAsString": true,
                        "name": "PowerState"
                    }
                },
                "bmcAddress": {
                    "description": "Bmc address of the physical machine.",
                    "type": "string"
                },
                "scaleUnitName": {
                    "description": "Cluster name of the physical machine.",
                    "type": "string"
                },
                "scaleUnitUri": {
                    "description": "URI of the corresponding cluster.",
                    "type": "string"
                },
                "canPowerOff": {
                    "description": "Value indicating whether the node can be powered off.",
                    "type": "boolean"
                },
                "vendor": {
                    "description": "Vendor of the physical machine.",
                    "type": "string"
                },
                "model": {
                    "description": "Model of the physical machine.",
                    "type": "string"
                },
                "serialNumber": {
                    "description": "Serial number of the physical machine.",
                    "type": "string"
                },
                "biosVersion": {
                    "description": "Bios version of the physical machine.",
                    "type": "string"
                },
                "macAddress": {
                    "description": "MacAddress of the physical machine.",
                    "type": "string"
                },
                "capacity": {
                    "description": "Capacity of the physical machine.",
                    "$ref": "ScaleUnit.json#/definitions/ScaleUnitCapacity"
                }
            }
        },
        "ScaleUnitNodeList": {
            "description": "A pageable list of scale unit nodes.",
            "type": "object",
            "properties": {
                "value": {
                    "description": "The list of nodes in this page.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ScaleUnitNode"
                    }
                },
                "nextLink": {
                    "description": "The URI to the next page.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "ScaleUnitNodeParameter": {
            "name": "scaleUnitNode",
            "description": "Name of the scale unit node.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}