{
  "swagger": "2.0",
  "info": {
    "title": "PolicyClient",
    "version": "2025-12-01-preview",
    "description": "To manage and control access to your resources, you can define customized policies and assign them at a scope.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "PolicyExemptions"
    },
    {
      "name": "Variables"
    },
    {
      "name": "VariableValues"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.Authorization/policyExemptions/{policyExemptionName}": {
      "get": {
        "operationId": "PolicyExemptions_Get",
        "tags": [
          "PolicyExemptions"
        ],
        "summary": "Retrieves a policy exemption.",
        "description": "This operation retrieves a single policy exemption, given its name and the scope it was created at.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "policyExemptionName",
            "in": "path",
            "description": "The name of the policy exemption to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyExemption"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a policy exemption": {
            "$ref": "./examples/getPolicyExemption.json"
          },
          "Retrieve a policy exemption with resource selectors": {
            "$ref": "./examples/getPolicyExemptionWithResourceSelectors.json"
          }
        }
      },
      "put": {
        "operationId": "PolicyExemptions_CreateOrUpdate",
        "tags": [
          "PolicyExemptions"
        ],
        "summary": "Creates or updates a policy exemption.",
        "description": "This operation creates or updates a policy exemption with the given scope and name. Policy exemptions apply to all resources contained within their scope. For example, when you create a policy exemption at resource group scope for a policy assignment at the same or above level, the exemption exempts to all applicable resources in the resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "policyExemptionName",
            "in": "path",
            "description": "The name of the policy exemption to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the policy exemption.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyExemption"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PolicyExemption' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyExemption"
            }
          },
          "201": {
            "description": "Resource 'PolicyExemption' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyExemption"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a policy exemption": {
            "$ref": "./examples/createOrUpdatePolicyExemption.json"
          },
          "Create or update a policy exemption with resource selectors": {
            "$ref": "./examples/createOrUpdatePolicyExemptionWithResourceSelectors.json"
          }
        }
      },
      "patch": {
        "operationId": "PolicyExemptions_Update",
        "tags": [
          "PolicyExemptions"
        ],
        "summary": "Updates a policy exemption.",
        "description": "This operation updates a policy exemption with the given scope and name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "policyExemptionName",
            "in": "path",
            "description": "The name of the policy exemption to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for policy exemption patch request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyExemptionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyExemption"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a policy exemption with resource selectors": {
            "$ref": "./examples/updatePolicyExemptionWithResourceSelectors.json"
          }
        }
      },
      "delete": {
        "operationId": "PolicyExemptions_Delete",
        "tags": [
          "PolicyExemptions"
        ],
        "summary": "Deletes a policy exemption.",
        "description": "This operation deletes a policy exemption, given its name and the scope it was created in. The scope of a policy exemption is the part of its ID preceding '/providers/Microsoft.Authorization/policyExemptions/{policyExemptionName}'.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "policyExemptionName",
            "in": "path",
            "description": "The name of the policy exemption to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a policy exemption": {
            "$ref": "./examples/deletePolicyExemption.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/policyExemptions": {
      "get": {
        "operationId": "PolicyExemptions_ListForManagementGroup",
        "tags": [
          "PolicyExemptions"
        ],
        "summary": "Retrieves all policy exemptions that apply to a management group.",
        "description": "This operation retrieves the list of all policy exemptions applicable to the management group that match the given $filter. Valid values for $filter are: 'atScope()', 'atExactScope()', 'excludeExpired()' or 'policyAssignmentId eq '{value}''. If $filter=atScope() is provided, the returned list includes all policy exemptions that are assigned to the management group or the management group's ancestors.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atScope()', 'atExactScope()', 'excludeExpired()' or 'policyAssignmentId eq '{value}''. If $filter is not provided, no filtering is performed. If $filter is not provided, the unfiltered list includes all policy exemptions associated with the scope, including those that apply directly or apply from containing scopes. If $filter=atScope() is provided, the returned list only includes all policy exemptions that apply to the scope, which is everything in the unfiltered list except those applied to sub scopes contained within the given scope. If $filter=atExactScope() is provided, the returned list only includes all policy exemptions that at the given scope. If $filter=excludeExpired() is provided, the returned list only includes all policy exemptions that either haven't expired or didn't set expiration date. If $filter=policyAssignmentId eq '{value}' is provided. the returned list only includes all policy exemptions that are associated with the give policyAssignmentId.",
            "required": false,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyExemptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy exemptions that apply to a management group": {
            "$ref": "./examples/listPolicyExemptionsForManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/variables": {
      "get": {
        "operationId": "Variables_ListForManagementGroup",
        "tags": [
          "Variables"
        ],
        "summary": "Retrieves all variables that are at this management group level.",
        "description": "This operation retrieves the list of all variables applicable to the management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VariableListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List variables that apply to a management group": {
            "$ref": "./examples/listVariablesForManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/variables/{variableName}": {
      "get": {
        "operationId": "Variables_GetAtManagementGroup",
        "tags": [
          "Variables"
        ],
        "summary": "Retrieves a variable.",
        "description": "This operation retrieves a single variable, given its name and the  management group it was created at.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a variable at management group": {
            "$ref": "./examples/getVariableAtManagementGroup.json"
          }
        }
      },
      "put": {
        "operationId": "Variables_CreateOrUpdateAtManagementGroup",
        "tags": [
          "Variables"
        ],
        "summary": "Creates or updates a variable.",
        "description": "This operation creates or updates a variable with the given  management group and name. Policy variables can only be used by a policy definition at the scope they are created or below.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the variable.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Variable' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          },
          "201": {
            "description": "Resource 'Variable' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a variable at management group": {
            "$ref": "./examples/createOrUpdateVariableAtManagementGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "Variables_DeleteAtManagementGroup",
        "tags": [
          "Variables"
        ],
        "summary": "Deletes a variable.",
        "description": "This operation deletes a variable, given its name and the management group it was created in. The scope of a variable is the part of its ID preceding '/providers/Microsoft.Authorization/variables/{variableName}'.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a variable at management group": {
            "$ref": "./examples/deleteVariableAtManagementGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/variables/{variableName}/values": {
      "get": {
        "operationId": "VariableValues_ListForManagementGroup",
        "tags": [
          "VariableValues"
        ],
        "summary": "List variable values at management group level.",
        "description": "This operation retrieves the list of all variable values applicable the variable indicated at the management group scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VariableValueListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List variable values at a management group scope": {
            "$ref": "./examples/listVariableValuesForManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/variables/{variableName}/values/{variableValueName}": {
      "get": {
        "operationId": "VariableValues_GetAtManagementGroup",
        "tags": [
          "VariableValues"
        ],
        "summary": "Retrieves a variable value.",
        "description": "This operation retrieves a single variable value; given its name,  management group it was created at and the variable it's created for.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "variableValueName",
            "in": "path",
            "description": "The name of the variable value to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a variable value at management group": {
            "$ref": "./examples/getVariableValueAtManagementGroup.json"
          }
        }
      },
      "put": {
        "operationId": "VariableValues_CreateOrUpdateAtManagementGroup",
        "tags": [
          "VariableValues"
        ],
        "summary": "Creates or updates a variable value.",
        "description": "This operation creates or updates a variable value with the given management group and name for a given variable. Variable values are scoped to the variable for which they are created for.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "variableValueName",
            "in": "path",
            "description": "The name of the variable value to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the variable value.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VariableValue' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "201": {
            "description": "Resource 'VariableValue' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a variable value at management group": {
            "$ref": "./examples/createOrUpdateVariableValueAtManagementGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "VariableValues_DeleteAtManagementGroup",
        "tags": [
          "VariableValues"
        ],
        "summary": "Deletes a variable value.",
        "description": "This operation deletes a variable value, given its name, the management group it was created in, and the variable it belongs to. The scope of a variable value is the part of its ID preceding '/providers/Microsoft.Authorization/variables/{variableName}'.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "variableValueName",
            "in": "path",
            "description": "The name of the variable value to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a variable value at management group": {
            "$ref": "./examples/deleteVariableValueAtManagementGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyExemptions": {
      "get": {
        "operationId": "PolicyExemptions_List",
        "tags": [
          "PolicyExemptions"
        ],
        "summary": "Retrieves all policy exemptions that apply to a subscription.",
        "description": "This operation retrieves the list of all policy exemptions associated with the given subscription that match the optional given $filter. Valid values for $filter are: 'atScope()', 'atExactScope()', 'excludeExpired()' or 'policyAssignmentId eq '{value}''. If $filter is not provided, the unfiltered list includes all policy exemptions associated with the subscription, including those that apply directly or from management groups that contain the given subscription, as well as any applied to objects contained within the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atScope()', 'atExactScope()', 'excludeExpired()' or 'policyAssignmentId eq '{value}''. If $filter is not provided, no filtering is performed. If $filter is not provided, the unfiltered list includes all policy exemptions associated with the scope, including those that apply directly or apply from containing scopes. If $filter=atScope() is provided, the returned list only includes all policy exemptions that apply to the scope, which is everything in the unfiltered list except those applied to sub scopes contained within the given scope. If $filter=atExactScope() is provided, the returned list only includes all policy exemptions that at the given scope. If $filter=excludeExpired() is provided, the returned list only includes all policy exemptions that either haven't expired or didn't set expiration date. If $filter=policyAssignmentId eq '{value}' is provided. the returned list only includes all policy exemptions that are associated with the give policyAssignmentId.",
            "required": false,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyExemptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy exemptions that apply to a subscription": {
            "$ref": "./examples/listPolicyExemptionsForSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/variables": {
      "get": {
        "operationId": "Variables_List",
        "tags": [
          "Variables"
        ],
        "summary": "Retrieves all variables that are at this subscription level.",
        "description": "This operation retrieves the list of all variables associated with the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VariableListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List variables that apply to a subscription": {
            "$ref": "./examples/listVariablesForSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/variables/{variableName}": {
      "get": {
        "operationId": "Variables_Get",
        "tags": [
          "Variables"
        ],
        "summary": "Retrieves a variable.",
        "description": "This operation retrieves a single variable, given its name and the subscription it was created at.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a variable": {
            "$ref": "./examples/getVariable.json"
          }
        }
      },
      "put": {
        "operationId": "Variables_CreateOrUpdate",
        "tags": [
          "Variables"
        ],
        "summary": "Creates or updates a variable.",
        "description": "This operation creates or updates a variable with the given subscription and name. Policy variables can only be used by a policy definition at the scope they are created or below.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the variable.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Variable' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          },
          "201": {
            "description": "Resource 'Variable' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a variable": {
            "$ref": "./examples/createOrUpdateVariable.json"
          }
        }
      },
      "delete": {
        "operationId": "Variables_Delete",
        "tags": [
          "Variables"
        ],
        "summary": "Deletes a variable.",
        "description": "This operation deletes a variable, given its name and the subscription it was created in. The scope of a variable is the part of its ID preceding '/providers/Microsoft.Authorization/variables/{variableName}'.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a variable": {
            "$ref": "./examples/deleteVariable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/variables/{variableName}/values": {
      "get": {
        "operationId": "VariableValues_List",
        "tags": [
          "VariableValues"
        ],
        "summary": "List variable values for a variable.",
        "description": "This operation retrieves the list of all variable values associated with the given variable that is at a subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VariableValueListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List variable values that apply to a variable at subscription level": {
            "$ref": "./examples/listVariableValuesForSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/variables/{variableName}/values/{variableValueName}": {
      "get": {
        "operationId": "VariableValues_Get",
        "tags": [
          "VariableValues"
        ],
        "summary": "Retrieves a variable value.",
        "description": "This operation retrieves a single variable value; given its name, subscription it was created at and the variable it's created for.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "variableValueName",
            "in": "path",
            "description": "The name of the variable value to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a variable value": {
            "$ref": "./examples/getVariableValue.json"
          }
        }
      },
      "put": {
        "operationId": "VariableValues_CreateOrUpdate",
        "tags": [
          "VariableValues"
        ],
        "summary": "Creates or updates a variable value.",
        "description": "This operation creates or updates a variable value with the given subscription and name for a given variable. Variable values are scoped to the variable for which they are created for.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "variableValueName",
            "in": "path",
            "description": "The name of the variable value to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the variable value.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VariableValue' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "201": {
            "description": "Resource 'VariableValue' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a variable value": {
            "$ref": "./examples/createOrUpdateVariableValue.json"
          }
        }
      },
      "delete": {
        "operationId": "VariableValues_Delete",
        "tags": [
          "VariableValues"
        ],
        "summary": "Deletes a variable value.",
        "description": "This operation deletes a variable value, given its name, the subscription it was created in, and the variable it belongs to. The scope of a variable value is the part of its ID preceding '/providers/Microsoft.Authorization/variables/{variableName}'.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "variableName",
            "in": "path",
            "description": "The name of the variable to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "variableValueName",
            "in": "path",
            "description": "The name of the variable value to operate on.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a variable value": {
            "$ref": "./examples/deleteVariableValue.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/policyExemptions": {
      "get": {
        "operationId": "PolicyExemptions_ListForResource",
        "tags": [
          "PolicyExemptions"
        ],
        "summary": "Retrieves all policy exemptions that apply to a resource.",
        "description": "This operation retrieves the list of all policy exemptions associated with the specified resource in the given resource group and subscription that match the optional given $filter. Valid values for $filter are: 'atScope()', 'atExactScope()', 'excludeExpired()' or 'policyAssignmentId eq '{value}''. If $filter is not provided, the unfiltered list includes all policy exemptions associated with the resource, including those that apply directly or from all containing scopes, as well as any applied to resources contained within the resource. Three parameters plus the resource name are used to identify a specific resource. If the resource is not part of a parent resource (the more common case), the parent resource path should not be provided (or provided as ''). For example a web app could be specified as ({resourceProviderNamespace} == 'Microsoft.Web', {parentResourcePath} == '', {resourceType} == 'sites', {resourceName} == 'MyWebApp'). If the resource is part of a parent resource, then all parameters should be provided. For example a virtual machine DNS name could be specified as ({resourceProviderNamespace} == 'Microsoft.Compute', {parentResourcePath} == 'virtualMachines/MyVirtualMachine', {resourceType} == 'domainNames', {resourceName} == 'MyComputerName'). A convenient alternative to providing the namespace and type name separately is to provide both in the {resourceType} parameter, format: ({resourceProviderNamespace} == '', {parentResourcePath} == '', {resourceType} == 'Microsoft.Web/sites', {resourceName} == 'MyWebApp').",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The namespace of the resource provider. For example, the namespace of a virtual machine is Microsoft.Compute (from Microsoft.Compute/virtualMachines)",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentResourcePath",
            "in": "path",
            "description": "The parent resource path. Use empty string if there is none.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type name. For example the type name of a web app is 'sites' (from Microsoft.Web/sites).",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "^.+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atScope()', 'atExactScope()', 'excludeExpired()' or 'policyAssignmentId eq '{value}''. If $filter is not provided, no filtering is performed. If $filter is not provided, the unfiltered list includes all policy exemptions associated with the scope, including those that apply directly or apply from containing scopes. If $filter=atScope() is provided, the returned list only includes all policy exemptions that apply to the scope, which is everything in the unfiltered list except those applied to sub scopes contained within the given scope. If $filter=atExactScope() is provided, the returned list only includes all policy exemptions that at the given scope. If $filter=excludeExpired() is provided, the returned list only includes all policy exemptions that either haven't expired or didn't set expiration date. If $filter=policyAssignmentId eq '{value}' is provided. the returned list only includes all policy exemptions that are associated with the give policyAssignmentId.",
            "required": false,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyExemptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all policy exemptions that apply to a resource": {
            "$ref": "./examples/listPolicyExemptionsForResource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/policyExemptions": {
      "get": {
        "operationId": "PolicyExemptions_ListForResourceGroup",
        "tags": [
          "PolicyExemptions"
        ],
        "summary": "Retrieves all policy exemptions that apply to a resource group.",
        "description": "This operation retrieves the list of all policy exemptions associated with the given resource group in the given subscription that match the optional given $filter. Valid values for $filter are: 'atScope()', 'atExactScope()', 'excludeExpired()' or 'policyAssignmentId eq '{value}''. If $filter is not provided, the unfiltered list includes all policy exemptions associated with the resource group, including those that apply directly or apply from containing scopes, as well as any applied to resources contained within the resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atScope()', 'atExactScope()', 'excludeExpired()' or 'policyAssignmentId eq '{value}''. If $filter is not provided, no filtering is performed. If $filter is not provided, the unfiltered list includes all policy exemptions associated with the scope, including those that apply directly or apply from containing scopes. If $filter=atScope() is provided, the returned list only includes all policy exemptions that apply to the scope, which is everything in the unfiltered list except those applied to sub scopes contained within the given scope. If $filter=atExactScope() is provided, the returned list only includes all policy exemptions that at the given scope. If $filter=excludeExpired() is provided, the returned list only includes all policy exemptions that either haven't expired or didn't set expiration date. If $filter=policyAssignmentId eq '{value}' is provided. the returned list only includes all policy exemptions that are associated with the give policyAssignmentId.",
            "required": false,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyExemptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy exemptions that apply to a resource group": {
            "$ref": "./examples/listPolicyExemptionsForResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AssignmentScopeValidation": {
      "type": "string",
      "description": "The option whether validate the exemption is at or under the assignment scope.",
      "enum": [
        "Default",
        "DoNotValidate"
      ],
      "x-ms-enum": {
        "name": "AssignmentScopeValidation",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "This option will validate the exemption is at or under the assignment scope."
          },
          {
            "name": "DoNotValidate",
            "value": "DoNotValidate",
            "description": "This option will bypass the validation the exemption scope is at or under the policy assignment scope."
          }
        ]
      }
    },
    "ExemptionCategory": {
      "type": "string",
      "description": "The policy exemption category. Possible values are Waiver and Mitigated.",
      "enum": [
        "Waiver",
        "Mitigated"
      ],
      "x-ms-enum": {
        "name": "ExemptionCategory",
        "modelAsString": true,
        "values": [
          {
            "name": "Waiver",
            "value": "Waiver",
            "description": "This category of exemptions usually means the scope is not applicable for the policy."
          },
          {
            "name": "Mitigated",
            "value": "Mitigated",
            "description": "This category of exemptions usually means the mitigation actions have been applied to the scope."
          }
        ]
      }
    },
    "PolicyExemption": {
      "type": "object",
      "description": "The policy exemption.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PolicyExemptionProperties",
          "description": "Properties for the policy exemption.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PolicyExemptionListResult": {
      "type": "object",
      "description": "The response of a PolicyExemption list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PolicyExemption items on this page",
          "items": {
            "$ref": "#/definitions/PolicyExemption"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PolicyExemptionProperties": {
      "type": "object",
      "description": "The policy exemption properties.",
      "properties": {
        "policyAssignmentId": {
          "type": "string",
          "description": "The ID of the policy assignment that is being exempted."
        },
        "policyDefinitionReferenceIds": {
          "type": "array",
          "description": "The policy definition reference ID list when the associated policy assignment is an assignment of a policy set definition.",
          "items": {
            "type": "string"
          }
        },
        "exemptionCategory": {
          "$ref": "#/definitions/ExemptionCategory",
          "description": "The policy exemption category. Possible values are Waiver and Mitigated."
        },
        "expiresOn": {
          "type": "string",
          "format": "date-time",
          "description": "The expiration date and time (in UTC ISO 8601 format yyyy-MM-ddTHH:mm:ssZ) of the policy exemption."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the policy exemption."
        },
        "description": {
          "type": "string",
          "description": "The description of the policy exemption."
        },
        "metadata": {
          "description": "The policy exemption metadata. Metadata is an open ended object and is typically a collection of key value pairs."
        },
        "resourceSelectors": {
          "type": "array",
          "description": "The resource selector list to filter policies by resource properties.",
          "items": {
            "$ref": "#/definitions/ResourceSelector"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "assignmentScopeValidation": {
          "$ref": "#/definitions/AssignmentScopeValidation",
          "description": "The option whether validate the exemption is at or under the assignment scope."
        }
      },
      "required": [
        "policyAssignmentId",
        "exemptionCategory"
      ]
    },
    "PolicyExemptionUpdate": {
      "type": "object",
      "description": "The policy exemption for Patch request.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PolicyExemptionUpdateProperties",
          "description": "The policy exemption properties for Patch request.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PolicyExemptionUpdateProperties": {
      "type": "object",
      "description": "The policy exemption properties for Patch request.",
      "properties": {
        "resourceSelectors": {
          "type": "array",
          "description": "The resource selector list to filter policies by resource properties.",
          "items": {
            "$ref": "#/definitions/ResourceSelector"
          },
          "x-ms-identifiers": []
        },
        "assignmentScopeValidation": {
          "$ref": "#/definitions/AssignmentScopeValidation",
          "description": "The option whether validate the exemption is at or under the assignment scope."
        }
      }
    },
    "PolicyVariableColumn": {
      "type": "object",
      "description": "The variable column.",
      "properties": {
        "columnName": {
          "type": "string",
          "description": "The name of this policy variable column."
        }
      },
      "required": [
        "columnName"
      ]
    },
    "PolicyVariableProperties": {
      "type": "object",
      "description": "The variable properties.",
      "properties": {
        "columns": {
          "type": "array",
          "description": "Variable column definitions.",
          "items": {
            "$ref": "#/definitions/PolicyVariableColumn"
          },
          "x-ms-identifiers": [
            "columnName"
          ]
        }
      },
      "required": [
        "columns"
      ]
    },
    "PolicyVariableValueColumnValue": {
      "type": "object",
      "description": "The name value tuple for this variable value column.",
      "properties": {
        "columnName": {
          "type": "string",
          "description": "Column name for the variable value"
        },
        "columnValue": {
          "description": "Column value for the variable value; this can be an integer, double, boolean, null or a string."
        }
      },
      "required": [
        "columnName",
        "columnValue"
      ]
    },
    "PolicyVariableValueProperties": {
      "type": "object",
      "description": "The variable value properties.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Variable value column value array.",
          "items": {
            "$ref": "#/definitions/PolicyVariableValueColumnValue"
          },
          "x-ms-identifiers": [
            "columnName"
          ]
        }
      },
      "required": [
        "values"
      ]
    },
    "ResourceSelector": {
      "type": "object",
      "description": "The resource selector to filter policies by resource properties.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource selector."
        },
        "selectors": {
          "type": "array",
          "description": "The list of the selector expressions.",
          "items": {
            "$ref": "#/definitions/Selector"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Selector": {
      "type": "object",
      "description": "The selector expression.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/SelectorKind",
          "description": "The selector kind."
        },
        "in": {
          "type": "array",
          "description": "The list of values to filter in.",
          "items": {
            "type": "string"
          }
        },
        "notIn": {
          "type": "array",
          "description": "The list of values to filter out.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SelectorKind": {
      "type": "string",
      "description": "The selector kind.",
      "enum": [
        "resourceLocation",
        "resourceType",
        "resourceWithoutLocation",
        "policyDefinitionReferenceId",
        "UserPrincipalId",
        "GroupPrincipalId"
      ],
      "x-ms-enum": {
        "name": "SelectorKind",
        "modelAsString": true,
        "values": [
          {
            "name": "resourceLocation",
            "value": "resourceLocation",
            "description": "The selector kind to filter policies by the resource location."
          },
          {
            "name": "resourceType",
            "value": "resourceType",
            "description": "The selector kind to filter policies by the resource type."
          },
          {
            "name": "resourceWithoutLocation",
            "value": "resourceWithoutLocation",
            "description": "The selector kind to filter policies by the resource without location."
          },
          {
            "name": "policyDefinitionReferenceId",
            "value": "policyDefinitionReferenceId",
            "description": "The selector kind to filter policies by the policy definition reference ID."
          },
          {
            "name": "UserPrincipalId",
            "value": "UserPrincipalId",
            "description": "The selector kind to filter policies by the user principle ID."
          },
          {
            "name": "GroupPrincipalId",
            "value": "GroupPrincipalId",
            "description": "The selector kind to filter policies by the security group membership ID."
          }
        ]
      }
    },
    "Variable": {
      "type": "object",
      "description": "The variable.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PolicyVariableProperties",
          "description": "Properties for the variable.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VariableListResult": {
      "type": "object",
      "description": "The response of a Variable list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Variable items on this page",
          "items": {
            "$ref": "#/definitions/Variable"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VariableValue": {
      "type": "object",
      "description": "The variable value.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PolicyVariableValueProperties",
          "description": "Properties for the variable value.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VariableValueListResult": {
      "type": "object",
      "description": "The response of a VariableValue list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VariableValue items on this page",
          "items": {
            "$ref": "#/definitions/VariableValue"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {}
}
