{
  "swagger": "2.0",
  "info": {
    "title": "winfields service",
    "version": "2024-02-01-preview",
    "description": "Arc-A winfields Service API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Winfields"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/winfields": {
      "get": {
        "operationId": "Winfields_ListBySubscription",
        "tags": [
          "Winfields"
        ],
        "description": "List Winfield resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WinfieldListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_ListBySubscription": {
            "$ref": "./examples/Winfields_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/winfields": {
      "get": {
        "operationId": "Winfields_ListByResourceGroup",
        "tags": [
          "Winfields"
        ],
        "description": "List Winfield resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WinfieldListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_ListByResourceGroup": {
            "$ref": "./examples/Winfields_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/winfields/{name}": {
      "get": {
        "operationId": "Winfields_Get",
        "tags": [
          "Winfields"
        ],
        "description": "Get a Winfield",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Winfield"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_Get": {
            "$ref": "./examples/Winfields_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Winfields_CreateOrUpdate",
        "tags": [
          "Winfields"
        ],
        "description": "Create a Winfield",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Winfield"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Winfield' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Winfield"
            }
          },
          "201": {
            "description": "Resource 'Winfield' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Winfield"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_CreateOrUpdate": {
            "$ref": "./examples/Winfields_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Winfields_Update",
        "tags": [
          "Winfields"
        ],
        "description": "Update a Winfield",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WinfieldUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Winfield"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_Update": {
            "$ref": "./examples/Winfields_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Winfields_Delete",
        "tags": [
          "Winfields"
        ],
        "description": "Delete a Winfield",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_Delete": {
            "$ref": "./examples/Winfields_Delete_MinimumSet_Gen.json"
          },
          "Winfields_Delete - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Winfields_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/winfields/{name}/listDeploymentManifest": {
      "post": {
        "operationId": "Winfields_ListDeploymentManifest",
        "tags": [
          "Winfields"
        ],
        "description": "get deployment manifest.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WinfieldDeploymentManifest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_ListDeploymentManifest": {
            "$ref": "./examples/Winfields_ListDeploymentManifest_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BillingModel": {
      "type": "string",
      "description": "Billing model",
      "enum": [
        "Capacity"
      ],
      "x-ms-enum": {
        "name": "BillingModel",
        "modelAsString": true,
        "values": [
          {
            "name": "Capacity",
            "value": "Capacity",
            "description": "Billed on capacity."
          }
        ]
      }
    },
    "ConnectionIntent": {
      "type": "string",
      "description": "Connection Intent",
      "enum": [
        "Connected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "ConnectionIntent",
        "modelAsString": true,
        "values": [
          {
            "name": "Connected",
            "value": "Connected",
            "description": "Device is connected to cloud."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "Device is disconnected from cloud."
          }
        ]
      }
    },
    "ConnectionStatus": {
      "type": "string",
      "description": "Connection status",
      "enum": [
        "Connected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "ConnectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Connected",
            "value": "Connected",
            "description": "Device is connected to cloud."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "Device is disconnected from cloud."
          }
        ]
      }
    },
    "RegistrationStatus": {
      "type": "string",
      "description": "Registration status",
      "enum": [
        "Registered",
        "Unregistered"
      ],
      "x-ms-enum": {
        "name": "RegistrationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Registered",
            "value": "Registered",
            "description": "Device is registered to cloud."
          },
          {
            "name": "Unregistered",
            "value": "Unregistered",
            "description": "Device is not registered to cloud."
          }
        ]
      }
    },
    "Winfield": {
      "type": "object",
      "description": "Winfield resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WinfieldProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "WinfieldDeploymentManifest": {
      "type": "object",
      "description": "The winfield manifest",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The resource Id",
          "readOnly": true
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name",
          "readOnly": true
        },
        "stampId": {
          "type": "string",
          "description": "The stamp Id",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "readOnly": true
        },
        "billingModel": {
          "$ref": "#/definitions/BillingModel",
          "description": "The billing model",
          "readOnly": true
        },
        "connectionIntent": {
          "$ref": "#/definitions/ConnectionIntent",
          "description": "The connection intent",
          "readOnly": true
        }
      },
      "required": [
        "resourceId",
        "resourceName",
        "stampId",
        "location",
        "billingModel",
        "connectionIntent"
      ]
    },
    "WinfieldListResult": {
      "type": "object",
      "description": "The response of a Winfield list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Winfield items on this page",
          "items": {
            "$ref": "#/definitions/Winfield"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "WinfieldProperties": {
      "type": "object",
      "description": "The winfield properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The resource provisioning state",
          "readOnly": true
        },
        "stampId": {
          "type": "string",
          "description": "The stamp Id",
          "readOnly": true
        },
        "billingModel": {
          "$ref": "#/definitions/BillingModel",
          "description": "The billing model",
          "readOnly": true
        },
        "connectionIntent": {
          "$ref": "#/definitions/ConnectionIntent",
          "description": "The connection intent"
        },
        "connectionStatus": {
          "$ref": "#/definitions/ConnectionStatus",
          "description": "The connection status",
          "readOnly": true
        },
        "registrationStatus": {
          "$ref": "#/definitions/RegistrationStatus",
          "description": "The registration intent",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "deviceVersion": {
          "type": "string",
          "description": "The device version",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        }
      },
      "required": [
        "stampId",
        "billingModel",
        "connectionIntent"
      ]
    },
    "WinfieldUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Winfield.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/WinfieldUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "WinfieldUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Winfield.",
      "properties": {
        "connectionIntent": {
          "$ref": "#/definitions/ConnectionIntent",
          "description": "The connection intent"
        },
        "registrationStatus": {
          "$ref": "#/definitions/RegistrationStatus",
          "description": "The registration intent",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "deviceVersion": {
          "type": "string",
          "description": "The device version",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        }
      }
    }
  },
  "parameters": {}
}
