{
  "swagger": "2.0",
  "info": {
    "title": "ServiceFabricMigrationManagementClient",
    "version": "2026-08-01-preview",
    "description": "Service Fabric migration management client. Provides the cluster migration agent resource used to move a\nclassic Service Fabric cluster to a Service Fabric managed cluster.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ClusterMigrationAgents"
    }
  ],
  "paths": {
    "/providers/Microsoft.ServiceFabric/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List available operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusterMigrationAgents": {
      "get": {
        "operationId": "ClusterMigrationAgents_ListBySubscription",
        "tags": [
          "ClusterMigrationAgents"
        ],
        "description": "Gets all Service Fabric cluster migration agent resources in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterMigrationAgentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List migrations in a subscription": {
            "$ref": "./examples/ClusterMigrationAgents_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusterMigrationAgents": {
      "get": {
        "operationId": "ClusterMigrationAgents_ListByResourceGroup",
        "tags": [
          "ClusterMigrationAgents"
        ],
        "description": "Gets all Service Fabric cluster migration agent resources in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterMigrationAgentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List migrations in a resource group": {
            "$ref": "./examples/ClusterMigrationAgents_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusterMigrationAgents/{clusterMigrationAgentName}": {
      "get": {
        "operationId": "ClusterMigrationAgents_Get",
        "tags": [
          "ClusterMigrationAgents"
        ],
        "description": "Get a Service Fabric cluster migration agent resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterMigrationAgentName",
            "in": "path",
            "description": "The name of the ClusterMigrationAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,62}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterMigrationAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a migration": {
            "$ref": "./examples/ClusterMigrationAgents_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ClusterMigrationAgents_CreateOrUpdate",
        "tags": [
          "ClusterMigrationAgents"
        ],
        "description": "Create or update a Service Fabric cluster migration agent resource. The source cluster, the target\ncluster, and the set of node types cannot be changed after the resource is created.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterMigrationAgentName",
            "in": "path",
            "description": "The name of the ClusterMigrationAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,62}[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterMigrationAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ClusterMigrationAgent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ClusterMigrationAgent"
            }
          },
          "201": {
            "description": "Resource 'ClusterMigrationAgent' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ClusterMigrationAgent"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a migration": {
            "$ref": "./examples/ClusterMigrationAgents_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ClusterMigrationAgent"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ClusterMigrationAgents_Update",
        "tags": [
          "ClusterMigrationAgents"
        ],
        "description": "Update the tags of a Service Fabric cluster migration agent resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterMigrationAgentName",
            "in": "path",
            "description": "The name of the ClusterMigrationAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,62}[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterMigrationAgentTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterMigrationAgent"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update the tags of a migration": {
            "$ref": "./examples/ClusterMigrationAgents_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ClusterMigrationAgent"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ClusterMigrationAgents_Delete",
        "tags": [
          "ClusterMigrationAgents"
        ],
        "description": "Delete a Service Fabric cluster migration agent resource. The migration must be in the NotStarted,\nSucceeded, or RolledBack state.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterMigrationAgentName",
            "in": "path",
            "description": "The name of the ClusterMigrationAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,62}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a migration": {
            "$ref": "./examples/ClusterMigrationAgents_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusterMigrationAgents/{clusterMigrationAgentName}/rollback": {
      "post": {
        "operationId": "ClusterMigrationAgents_Rollback",
        "tags": [
          "ClusterMigrationAgents"
        ],
        "description": "Roll back a migration, undoing the stages that already ran. The migration must be in the\nInProgress, Failed, or RollingBack state.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterMigrationAgentName",
            "in": "path",
            "description": "The name of the ClusterMigrationAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,62}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterMigrationAgent"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Roll back a migration": {
            "$ref": "./examples/ClusterMigrationAgents_Rollback.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ClusterMigrationAgent"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusterMigrationAgents/{clusterMigrationAgentName}/start": {
      "post": {
        "operationId": "ClusterMigrationAgents_Start",
        "tags": [
          "ClusterMigrationAgents"
        ],
        "description": "Start a migration that was created with the Manual start mode. The migration must be in the\nNotStarted state and provisioning must have succeeded.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterMigrationAgentName",
            "in": "path",
            "description": "The name of the ClusterMigrationAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,62}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterMigrationAgent"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start a migration": {
            "$ref": "./examples/ClusterMigrationAgents_Start.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ClusterMigrationAgent"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ClusterMigrationAgent": {
      "type": "object",
      "description": "Describes an agent that migrates a classic Service Fabric cluster to a Service Fabric managed cluster.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterMigrationAgentProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ClusterMigrationAgentListResult": {
      "type": "object",
      "description": "The response of a ClusterMigrationAgent list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ClusterMigrationAgent items on this page",
          "items": {
            "$ref": "#/definitions/ClusterMigrationAgent"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ClusterMigrationAgentMode": {
      "type": "string",
      "description": "The direction in which the migration stages are currently executing.",
      "enum": [
        "Forward",
        "RollingBack"
      ],
      "x-ms-enum": {
        "name": "ClusterMigrationAgentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Forward",
            "value": "Forward",
            "description": "Stages are executing in roll forward order."
          },
          {
            "name": "RollingBack",
            "value": "RollingBack",
            "description": "Stages are executing in rollback order."
          }
        ]
      }
    },
    "ClusterMigrationAgentNodeTypeDescription": {
      "type": "object",
      "description": "Describes a node type that participates in the migration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the node type. The name cannot be changed, added, or removed after the migration is created.",
          "minLength": 1,
          "maxLength": 1024
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Indicates whether the node type hosts the system services of the cluster. This value cannot be\nchanged after the migration is created."
        },
        "vmInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of virtual machine instances to provision for this node type on the target managed cluster.",
          "minimum": 1
        }
      },
      "required": [
        "name",
        "isPrimary",
        "vmInstanceCount"
      ]
    },
    "ClusterMigrationAgentProperties": {
      "type": "object",
      "description": "The properties of a cluster migration agent resource.",
      "properties": {
        "migrationId": {
          "type": "string",
          "description": "The service generated identifier of the migration.",
          "readOnly": true
        },
        "sourceClusterResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the classic Service Fabric cluster to migrate from. The source and the\ntarget cluster must belong to the same subscription. This value cannot be changed after the\nmigration is created.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ServiceFabric/clusters"
              }
            ]
          }
        },
        "targetClusterResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the Service Fabric managed cluster to migrate to. The source and the\ntarget cluster must belong to the same subscription. This value cannot be changed after the\nmigration is created.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ServiceFabric/managedClusters"
              }
            ]
          }
        },
        "nodeTypes": {
          "type": "array",
          "description": "The node types that are migrated to the target managed cluster. At least one node type is required.\nNode types cannot be added or removed after the migration is created.",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/ClusterMigrationAgentNodeTypeDescription"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "retryPolicy": {
          "$ref": "#/definitions/ClusterMigrationAgentRetryPolicy",
          "description": "The policy applied when a migration stage fails."
        },
        "rollbackOnFailure": {
          "type": "boolean",
          "description": "Indicates whether the migration automatically rolls back when a stage fails.",
          "default": false
        },
        "startMode": {
          "type": "string",
          "description": "Controls how the migration is started once provisioning completes.",
          "default": "Auto",
          "enum": [
            "Auto",
            "Manual"
          ],
          "x-ms-enum": {
            "name": "ClusterMigrationAgentStartMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Auto",
                "value": "Auto",
                "description": "The migration starts automatically once provisioning succeeds."
              },
              {
                "name": "Manual",
                "value": "Manual",
                "description": "The migration stays in NotStarted until the start action is invoked."
              }
            ]
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ClusterMigrationAgentProvisioningState",
          "description": "The provisioning state of the cluster migration agent resource.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/ClusterMigrationAgentStatus",
          "description": "The current state of the migration.",
          "readOnly": true
        },
        "migrationMode": {
          "$ref": "#/definitions/ClusterMigrationAgentMode",
          "description": "The direction in which the migration stages are currently executing.",
          "readOnly": true
        },
        "stages": {
          "type": "array",
          "description": "The status of every stage of the migration plan, ordered from the first stage to the last.",
          "items": {
            "$ref": "#/definitions/ClusterMigrationAgentStage"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the cluster migration agent resource was created, in UTC.",
          "readOnly": true
        },
        "lastUpdatedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the cluster migration agent resource was last updated, in UTC.",
          "readOnly": true
        }
      },
      "required": [
        "sourceClusterResourceId",
        "targetClusterResourceId",
        "nodeTypes"
      ]
    },
    "ClusterMigrationAgentProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the cluster migration agent resource.",
      "enum": [
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ClusterMigrationAgentProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource has been provisioned successfully."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Provisioning of the resource failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Provisioning of the resource was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ClusterMigrationAgentRetryPolicy": {
      "type": "object",
      "description": "Describes how a failed migration stage is retried before the migration is considered failed.",
      "properties": {
        "maxRetry": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of times a stage is retried before the migration fails.",
          "default": 10,
          "minimum": 0
        },
        "retryInterval": {
          "type": "string",
          "format": "duration",
          "description": "The initial interval waited between two attempts of the same stage, in ISO 8601 duration format.",
          "default": "PT1M"
        },
        "maxRetryInterval": {
          "type": "string",
          "format": "duration",
          "description": "The upper bound applied to the retry interval as it backs off, in ISO 8601 duration format.",
          "default": "PT1H"
        }
      }
    },
    "ClusterMigrationAgentStage": {
      "type": "object",
      "description": "The status of a single stage of the migration plan.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the stage.",
          "readOnly": true
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The execution order group of the stage, starting at 1. Stages are returned in ascending order and\nstages that share an index execute in parallel. The index is a grouping hint rather than a stable\nidentifier across service versions.",
          "minimum": 1,
          "readOnly": true
        },
        "forward": {
          "$ref": "#/definitions/ClusterMigrationAgentStageProgress",
          "description": "The progress of the roll forward execution of the stage. Not reported until the stage runs.",
          "readOnly": true
        },
        "rollback": {
          "$ref": "#/definitions/ClusterMigrationAgentStageProgress",
          "description": "The progress of the rollback execution of the stage. Not reported until the stage is rolled back.",
          "readOnly": true
        }
      },
      "required": [
        "name",
        "index"
      ]
    },
    "ClusterMigrationAgentStageProgress": {
      "type": "object",
      "description": "The progress of a migration stage in one direction.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ClusterMigrationAgentStageStatus",
          "description": "The execution state of the stage in this direction.",
          "readOnly": true
        },
        "result": {
          "$ref": "#/definitions/ClusterMigrationAgentStageResult",
          "description": "The outcome of the stage. Reported only once the stage finished running.",
          "readOnly": true
        },
        "failureReason": {
          "type": "string",
          "description": "The reason the stage failed. Reported only when the stage failed.",
          "readOnly": true
        },
        "startedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the stage started running, in UTC.",
          "readOnly": true
        },
        "completedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the stage finished running, in UTC.",
          "readOnly": true
        },
        "retryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of times the stage has been retried.",
          "readOnly": true
        },
        "lastAttemptTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time of the most recent attempt of the stage, in UTC.",
          "readOnly": true
        },
        "nextRetryTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the stage is retried next, in UTC.",
          "readOnly": true
        }
      },
      "required": [
        "status"
      ]
    },
    "ClusterMigrationAgentStageResult": {
      "type": "string",
      "description": "The outcome of a migration stage that finished running.",
      "enum": [
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ClusterMigrationAgentStageResult",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The stage completed successfully."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The stage failed."
          }
        ]
      },
      "readOnly": true
    },
    "ClusterMigrationAgentStageStatus": {
      "type": "string",
      "description": "The execution state of a migration stage in a single direction.",
      "enum": [
        "None",
        "InProgress",
        "Completed"
      ],
      "x-ms-enum": {
        "name": "ClusterMigrationAgentStageStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "The stage has not run in this direction."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The stage is currently running."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "The stage finished running."
          }
        ]
      }
    },
    "ClusterMigrationAgentStatus": {
      "type": "string",
      "description": "The observable state of a migration.",
      "enum": [
        "NotStarted",
        "InProgress",
        "Succeeded",
        "Failed",
        "RollingBack",
        "RolledBack"
      ],
      "x-ms-enum": {
        "name": "ClusterMigrationAgentStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotStarted",
            "value": "NotStarted",
            "description": "The migration is provisioned but has not started executing yet."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The migration is executing its stages."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "All migration stages completed successfully."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The migration stopped because a stage failed."
          },
          {
            "name": "RollingBack",
            "value": "RollingBack",
            "description": "The migration is undoing the stages that already ran."
          },
          {
            "name": "RolledBack",
            "value": "RolledBack",
            "description": "The migration finished undoing the stages that already ran."
          }
        ]
      },
      "readOnly": true
    },
    "ClusterMigrationAgentTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in ClusterMigrationAgent resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
