{
  "swagger": "2.0",
  "info": {
    "title": "Azure Site Recovery Management Service API",
    "version": "2021-02-16-preview",
    "description": "A first party Azure service enabling the data replication.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DraModels"
    },
    {
      "name": "FabricModels"
    },
    {
      "name": "EmailConfigurationModels"
    },
    {
      "name": "VaultModels"
    },
    {
      "name": "EventModels"
    },
    {
      "name": "PolicyModels"
    },
    {
      "name": "ProtectedItemModels"
    },
    {
      "name": "RecoveryPointModels"
    },
    {
      "name": "ReplicationExtensionModels"
    },
    {
      "name": "WorkflowModels"
    }
  ],
  "paths": {
    "/providers/Microsoft.DataReplication/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataReplication/locations/{location}/checkNameAvailability": {
      "post": {
        "operationId": "CheckNameAvailability",
        "summary": "Performs the resource name availability check.",
        "description": "Checks the resource name availability.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription. The value must be an UUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The name of the Azure region.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "description": "Resource details.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponseModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataReplication/replicationFabrics": {
      "get": {
        "operationId": "Fabric_ListBySubscription",
        "tags": [
          "FabricModels"
        ],
        "description": "Gets the list of fabrics in the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FabricModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fabric_ListBySubscription": {
            "$ref": "./examples/Fabric_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataReplication/replicationVaults": {
      "get": {
        "operationId": "Vault_ListBySubscription",
        "tags": [
          "VaultModels"
        ],
        "description": "Gets the list of vaults in the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VaultModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Vault_ListBySubscription": {
            "$ref": "./examples/Vault_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/deployments/{deploymentId}/preflight": {
      "post": {
        "operationId": "DeploymentPreflight",
        "summary": "Performs resource deployment validation.",
        "description": "Performs resource deployment validation.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription. The value must be an UUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Deployment preflight model.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DeploymentPreflightModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DeploymentPreflightModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics": {
      "get": {
        "operationId": "Fabric_List",
        "tags": [
          "FabricModels"
        ],
        "description": "Gets the list of fabrics in the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Continuation token from the previous call.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FabricModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fabric_List": {
            "$ref": "./examples/Fabric_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}": {
      "get": {
        "operationId": "Fabric_Get",
        "tags": [
          "FabricModels"
        ],
        "description": "Gets the details of the fabric.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FabricModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fabric_Get": {
            "$ref": "./examples/Fabric_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Fabric_Create",
        "tags": [
          "FabricModels"
        ],
        "description": "Creates the fabric.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Fabric properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FabricModel"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FabricModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FabricModel"
            }
          },
          "201": {
            "description": "Resource 'FabricModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FabricModel"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fabric_Create": {
            "$ref": "./examples/Fabric_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Fabric_Update",
        "tags": [
          "FabricModels"
        ],
        "description": "Performs update on the fabric.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Fabric properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FabricModelUpdate"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FabricModel"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fabric_Update": {
            "$ref": "./examples/Fabric_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Fabric_Delete",
        "tags": [
          "FabricModels"
        ],
        "description": "Removes the fabric.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fabric_Delete": {
            "$ref": "./examples/Fabric_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}/fabricAgents": {
      "get": {
        "operationId": "Dra_List",
        "tags": [
          "DraModels"
        ],
        "description": "Gets the list of fabric agents in the given fabric.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DraModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Dra_List": {
            "$ref": "./examples/Dra_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}/fabricAgents/{fabricAgentName}": {
      "get": {
        "operationId": "Dra_Get",
        "tags": [
          "DraModels"
        ],
        "description": "Gets the details of the fabric agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "fabricAgentName",
            "in": "path",
            "description": "The fabric agent (Dra) name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DraModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Dra_Get": {
            "$ref": "./examples/Dra_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Dra_Create",
        "tags": [
          "DraModels"
        ],
        "description": "Creates the fabric agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "fabricAgentName",
            "in": "path",
            "description": "The fabric agent (Dra) name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Dra model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DraModel"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DraModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DraModel"
            }
          },
          "201": {
            "description": "Resource 'DraModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DraModel"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Dra_Create": {
            "$ref": "./examples/Dra_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Dra_Delete",
        "tags": [
          "DraModels"
        ],
        "description": "Deletes the fabric agent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "fabricAgentName",
            "in": "path",
            "description": "The fabric agent (Dra) name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Dra_Delete": {
            "$ref": "./examples/Dra_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults": {
      "get": {
        "operationId": "Vault_List",
        "tags": [
          "VaultModels"
        ],
        "description": "Gets the list of vaults in the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Continuation token from the previous call.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VaultModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Vault_List": {
            "$ref": "./examples/Vault_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}": {
      "get": {
        "operationId": "Vault_Get",
        "tags": [
          "VaultModels"
        ],
        "description": "Gets the details of the vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VaultModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Vault_Get": {
            "$ref": "./examples/Vault_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Vault_Create",
        "tags": [
          "VaultModels"
        ],
        "description": "Creates the vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Vault properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VaultModel"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VaultModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VaultModel"
            }
          },
          "201": {
            "description": "Resource 'VaultModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VaultModel"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Vault_Create": {
            "$ref": "./examples/Vault_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Vault_Update",
        "tags": [
          "VaultModels"
        ],
        "description": "Performs update on the vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Vault properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VaultModelUpdate"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VaultModel"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Vault_Update": {
            "$ref": "./examples/Vault_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Vault_Delete",
        "tags": [
          "VaultModels"
        ],
        "description": "Removes the vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Vault_Delete": {
            "$ref": "./examples/Vault_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/alertSettings": {
      "get": {
        "operationId": "EmailConfiguration_List",
        "tags": [
          "EmailConfigurationModels"
        ],
        "description": "Gets the list of alert configuration settings for the given vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmailConfigurationModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmailConfiguration_List": {
            "$ref": "./examples/EmailConfiguration_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/alertSettings/{emailConfigurationName}": {
      "get": {
        "operationId": "EmailConfiguration_Get",
        "tags": [
          "EmailConfigurationModels"
        ],
        "description": "Gets the details of the alert configuration setting.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "emailConfigurationName",
            "in": "path",
            "description": "The email configuration name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmailConfigurationModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmailConfiguration_Get": {
            "$ref": "./examples/EmailConfiguration_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EmailConfiguration_Create",
        "tags": [
          "EmailConfigurationModels"
        ],
        "description": "Creates an alert configuration setting for the given vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "emailConfigurationName",
            "in": "path",
            "description": "The email configuration name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "EmailConfiguration model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailConfigurationModel"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EmailConfigurationModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EmailConfigurationModel"
            }
          },
          "201": {
            "description": "Resource 'EmailConfigurationModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EmailConfigurationModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmailConfiguration_Create": {
            "$ref": "./examples/EmailConfiguration_Create.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/events": {
      "get": {
        "operationId": "Event_List",
        "tags": [
          "EventModels"
        ],
        "description": "Gets the list of events in the given vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EventModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Event_List": {
            "$ref": "./examples/Event_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/events/{eventName}": {
      "get": {
        "operationId": "Event_Get",
        "tags": [
          "EventModels"
        ],
        "description": "Gets the details of the event.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "eventName",
            "in": "path",
            "description": "The event name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EventModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Event_Get": {
            "$ref": "./examples/Event_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/jobs": {
      "get": {
        "operationId": "Workflow_List",
        "tags": [
          "WorkflowModels"
        ],
        "description": "Gets the list of jobs in the given vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkflowModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workflow_List": {
            "$ref": "./examples/Workflow_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/jobs/{jobName}": {
      "get": {
        "operationId": "Workflow_Get",
        "tags": [
          "WorkflowModels"
        ],
        "description": "Gets the details of the job.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The job (workflow) name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkflowModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workflow_Get": {
            "$ref": "./examples/Workflow_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems": {
      "get": {
        "operationId": "ProtectedItem_List",
        "tags": [
          "ProtectedItemModels"
        ],
        "description": "Gets the list of protected items in the given vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProtectedItemModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProtectedItem_List": {
            "$ref": "./examples/ProtectedItem_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}": {
      "get": {
        "operationId": "ProtectedItem_Get",
        "tags": [
          "ProtectedItemModels"
        ],
        "description": "Gets the details of the protected item.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The protected item name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProtectedItemModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProtectedItem_Get": {
            "$ref": "./examples/ProtectedItem_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ProtectedItem_Create",
        "tags": [
          "ProtectedItemModels"
        ],
        "description": "Creates the protected item.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The protected item name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Protected item model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProtectedItemModel"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProtectedItemModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProtectedItemModel"
            }
          },
          "201": {
            "description": "Resource 'ProtectedItemModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProtectedItemModel"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProtectedItem_Create": {
            "$ref": "./examples/ProtectedItem_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ProtectedItem_Delete",
        "tags": [
          "ProtectedItemModels"
        ],
        "description": "Removes the protected item.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "forceDelete",
            "in": "query",
            "description": "A flag indicating whether to do force delete or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The protected item name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProtectedItem_Delete": {
            "$ref": "./examples/ProtectedItem_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/plannedFailover": {
      "post": {
        "operationId": "ProtectedItem_PlannedFailover",
        "tags": [
          "ProtectedItemModels"
        ],
        "description": "Performs the planned failover on the protected item.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The protected item name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Planned failover model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlannedFailoverModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlannedFailoverModel"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProtectedItem_PlannedFailover": {
            "$ref": "./examples/ProtectedItem_PlannedFailover.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/recoveryPoints": {
      "get": {
        "operationId": "RecoveryPoints_List",
        "tags": [
          "RecoveryPointModels"
        ],
        "description": "Gets the list of recovery points of the given protected item.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The protected item name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecoveryPointModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RecoveryPoints_List": {
            "$ref": "./examples/RecoveryPoints_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointName}": {
      "get": {
        "operationId": "RecoveryPoints_Get",
        "tags": [
          "RecoveryPointModels"
        ],
        "description": "Gets the details of the recovery point of a protected item.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The protected item name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "recoveryPointName",
            "in": "path",
            "description": "The recovery point name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecoveryPointModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RecoveryPoints_Get": {
            "$ref": "./examples/RecoveryPoints_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationExtensions": {
      "get": {
        "operationId": "ReplicationExtension_List",
        "tags": [
          "ReplicationExtensionModels"
        ],
        "description": "Gets the list of replication extensions in the given vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReplicationExtensionModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReplicationExtension_List": {
            "$ref": "./examples/ReplicationExtension_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationExtensions/{replicationExtensionName}": {
      "get": {
        "operationId": "ReplicationExtension_Get",
        "tags": [
          "ReplicationExtensionModels"
        ],
        "description": "Gets the details of the replication extension.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "replicationExtensionName",
            "in": "path",
            "description": "The replication extension name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReplicationExtensionModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReplicationExtension_Get": {
            "$ref": "./examples/ReplicationExtension_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ReplicationExtension_Create",
        "tags": [
          "ReplicationExtensionModels"
        ],
        "description": "Creates the replication extension in the given vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "replicationExtensionName",
            "in": "path",
            "description": "The replication extension name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Replication extension model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplicationExtensionModel"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ReplicationExtensionModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ReplicationExtensionModel"
            }
          },
          "201": {
            "description": "Resource 'ReplicationExtensionModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ReplicationExtensionModel"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReplicationExtension_Create": {
            "$ref": "./examples/ReplicationExtension_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ReplicationExtension_Delete",
        "tags": [
          "ReplicationExtensionModels"
        ],
        "description": "Deletes the replication extension in the given vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "replicationExtensionName",
            "in": "path",
            "description": "The replication extension name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReplicationExtension_Delete": {
            "$ref": "./examples/ReplicationExtension_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies": {
      "get": {
        "operationId": "Policy_List",
        "tags": [
          "PolicyModels"
        ],
        "description": "Gets the list of policies in the given vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policy_List": {
            "$ref": "./examples/Policy_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies/{policyName}": {
      "get": {
        "operationId": "Policy_Get",
        "tags": [
          "PolicyModels"
        ],
        "description": "Gets the details of the policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The policy name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policy_Get": {
            "$ref": "./examples/Policy_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Policy_Create",
        "tags": [
          "PolicyModels"
        ],
        "description": "Creates the policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The policy name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Policy model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyModel"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PolicyModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyModel"
            }
          },
          "201": {
            "description": "Resource 'PolicyModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyModel"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policy_Create": {
            "$ref": "./examples/Policy_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Policy_Delete",
        "tags": [
          "PolicyModels"
        ],
        "description": "Removes the policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The vault name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The policy name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policy_Delete": {
            "$ref": "./examples/Policy_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AzStackHCIClusterProperties": {
      "type": "object",
      "description": "AzStackHCI cluster properties.",
      "properties": {
        "clusterName": {
          "type": "string",
          "description": "Gets or sets the AzStackHCICluster FQDN name.",
          "minLength": 1
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the AzStackHCICluster resource name.",
          "minLength": 1
        },
        "storageAccountName": {
          "type": "string",
          "description": "Gets or sets the Storage account name.",
          "minLength": 1
        },
        "storageContainers": {
          "type": "array",
          "description": "Gets or sets the list of AzStackHCICluster Storage Container.",
          "items": {
            "$ref": "#/definitions/StorageContainerProperties"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "clusterName",
        "resourceName",
        "storageAccountName",
        "storageContainers"
      ]
    },
    "AzStackHCIFabricModelCustomProperties": {
      "type": "object",
      "description": "AzStackHCI fabric model custom properties.",
      "properties": {
        "azStackHciSiteId": {
          "type": "string",
          "description": "Gets or sets the ARM Id of the AzStackHCI site.",
          "minLength": 1
        },
        "applianceName": {
          "type": "array",
          "description": "Gets or sets the Appliance name.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "cluster": {
          "$ref": "#/definitions/AzStackHCIClusterProperties",
          "description": "AzStackHCI cluster properties."
        },
        "fabricResourceId": {
          "type": "string",
          "description": "Gets or sets the fabric resource Id.",
          "readOnly": true
        },
        "fabricContainerId": {
          "type": "string",
          "description": "Gets or sets the fabric container Id.",
          "readOnly": true
        },
        "migrationSolutionId": {
          "type": "string",
          "description": "Gets or sets the Migration solution ARM Id.",
          "minLength": 1
        },
        "migrationHubUri": {
          "type": "string",
          "description": "Gets or sets the migration hub Uri.",
          "readOnly": true
        }
      },
      "required": [
        "azStackHciSiteId",
        "cluster",
        "migrationSolutionId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/FabricModelCustomProperties"
        }
      ],
      "x-ms-discriminator-value": "AzStackHCI"
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "CheckNameAvailabilityModel": {
      "type": "object",
      "description": "Check name availability model.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the resource name."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the resource type."
        }
      }
    },
    "CheckNameAvailabilityResponseModel": {
      "type": "object",
      "description": "Check name availability response model.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether resource name is available or not."
        },
        "reason": {
          "type": "string",
          "description": "Gets or sets the reason for resource name unavailability."
        },
        "message": {
          "type": "string",
          "description": "Gets or sets the message for resource name unavailability."
        }
      }
    },
    "DeploymentPreflightModel": {
      "type": "object",
      "description": "Deployment preflight model.",
      "properties": {
        "resources": {
          "type": "array",
          "description": "Gets or sets the list of resources.",
          "items": {
            "$ref": "#/definitions/DeploymentPreflightResource"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DeploymentPreflightResource": {
      "type": "object",
      "description": "Deployment preflight resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the resource name."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the resource type."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "apiVersion": {
          "type": "string",
          "description": "Gets or sets the Api version."
        }
      }
    },
    "DraModel": {
      "type": "object",
      "description": "Dra model.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DraModelProperties",
          "description": "Dra model properties.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DraModelCustomProperties": {
      "type": "object",
      "description": "Dra model custom properties.",
      "properties": {
        "instanceType": {
          "type": "string",
          "description": "Discriminator property for DraModelCustomProperties."
        }
      },
      "discriminator": "instanceType",
      "required": [
        "instanceType"
      ]
    },
    "DraModelListResult": {
      "type": "object",
      "description": "The response of a DraModel list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DraModel items on this page",
          "items": {
            "$ref": "#/definitions/DraModel"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DraModelProperties": {
      "type": "object",
      "description": "Dra model properties.",
      "properties": {
        "correlationId": {
          "type": "string",
          "description": "Gets or sets the Dra correlation Id.",
          "readOnly": true
        },
        "machineId": {
          "type": "string",
          "description": "Gets or sets the machine Id where Dra is running.",
          "minLength": 1
        },
        "machineName": {
          "type": "string",
          "description": "Gets or sets the machine name where Dra is running.",
          "minLength": 1
        },
        "authenticationIdentity": {
          "$ref": "#/definitions/IdentityModel",
          "description": "Identity model."
        },
        "resourceAccessIdentity": {
          "$ref": "#/definitions/IdentityModel",
          "description": "Identity model."
        },
        "isResponsive": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether Dra is responsive.",
          "readOnly": true
        },
        "lastHeartbeat": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the time when last heartbeat was sent by the Dra.",
          "readOnly": true
        },
        "versionNumber": {
          "type": "string",
          "description": "Gets or sets the Dra version.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets or sets the provisioning state of the Dra.",
          "readOnly": true
        },
        "healthErrors": {
          "type": "array",
          "description": "Gets or sets the list of health errors.",
          "items": {
            "$ref": "#/definitions/HealthErrorModel"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "customProperties": {
          "$ref": "#/definitions/DraModelCustomProperties",
          "description": "Dra model custom properties."
        }
      },
      "required": [
        "machineId",
        "machineName",
        "authenticationIdentity",
        "resourceAccessIdentity",
        "customProperties"
      ]
    },
    "DraModelSystemData": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SystemDataModel"
        }
      ]
    },
    "EmailConfigurationModel": {
      "type": "object",
      "description": "Email configuration model.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EmailConfigurationModelProperties",
          "description": "Email configuration model properties.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EmailConfigurationModelListResult": {
      "type": "object",
      "description": "The response of a EmailConfigurationModel list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EmailConfigurationModel items on this page",
          "items": {
            "$ref": "#/definitions/EmailConfigurationModel"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EmailConfigurationModelProperties": {
      "type": "object",
      "description": "Email configuration model properties.",
      "properties": {
        "sendToOwners": {
[...]
