{
   "swagger": "2.0",
   "info": {
      "title": "Azure OpenAI DALL-E API version 2023-04-01-preview",
      "description": "Cognitive Services API to support OpenAI Dall-E",
      "version": "2023-04-01-preview"
   },
   "host": "eastus.api.cognitive.microsoft.com",
   "basePath": "/dalle",
   "parameters": {
      "endpoint": {
         "in": "path",
         "name": "endpoint",
         "description": "Supported Cognitive Services endpoints (protocol and hostname, for example: https://aoairesource.openai.azure.com. Replace \"aoairesource\" with your Azure OpenAI account name).",
         "required": true,
         "type": "string",
         "format": "url",
         "x-ms-skip-url-encoding": true,
         "x-ms-parameter-location": "client"
      },
      "apiVersionQueryParameter": {
         "in": "query",
         "name": "api-version",
         "description": "The requested API version.",
         "required": true,
         "type": "string",
         "x-ms-client-default": "2023-04-01-preview",
         "x-ms-parameter-location": "client"
      }
   },
   "paths": {
      "/images/generate": {
         "post": {
            "summary": "Generates a batch of images from a text caption",
            "operationId": "Images_Generate",
            "consumes": [
               "application/json"
            ],
            "produces": [
               "application/json"
            ],
            "parameters": [
               {
                  "$ref": "#/parameters/apiVersionQueryParameter"
               },
               {
                  "in": "body",
                  "name": "body",
                  "required": true,
                  "schema": {
                    "$ref": "#/definitions/GenerateImagesPostRequest"
                  }
                }
            ],
            "responses": {
               "202": {
                  "description": "Created",
                  "headers": {
                     "Operation-Location": {
                        "type": "string",
                        "description": "URL to poll for the operation result."
                     }
                  },
                  "schema": {
                     "$ref": "#/definitions/GenerateImagesPostResponse"
                  }
               },
               "default": {
                  "description": "An error occurred.",
                  "schema": {
                    "$ref": "#/definitions/ErrorResponse"
                  }
               }
            }
         }
      },
      "/operations/{operationId}": {
         "get": {
            "summary": "Returns the status of the operation",
            "operationId": "Operations_Get",
            "produces": [
               "application/json"
            ],
            "parameters": [
               {
                  "$ref": "#/parameters/apiVersionQueryParameter"
               },
               {
                  "in": "path",
                  "name": "operationId",
                  "required": true,
                  "type": "string",
                  "description": "The id of the operation"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "headers": {
                     "Operation-Location": {
                        "schema": {
                           "type": "string"
                        },
                        "description": "The location of the operation."
                     },
                     "Retry-After": {
                        "schema": {
                           "type": "integer"
                        },
                        "description": "Indicates the number of seconds that the client should wait before trying to get the result from the URL identified by the Operation-Location header if the operation did not terminate yet."
                     }
                  },
                  "schema": {
                     "$ref": "#/definitions/OperationResponse"
                  }
               },
               "default": {
                  "description": "An error occurred.",
                  "schema": {
                    "$ref": "#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "delete": {
            "summary": "Deletes an operation (if in terminal state)",
            "operationId": "Operations_Delete",
            "parameters": [
               {
                  "in": "query",
                  "name": "api-version",
                  "required": true,
                  "type": "string",
                  "description": "API version."
               },
               {
                  "in": "path",
                  "name": "operationId",
                  "required": true,
                  "type": "string",
                  "description": "The id of the operation"
               }
            ],
            "responses": {
               "204": {
                  "description": "NoContent"
               },
               "default": {
                  "description": "An error occurred.",
                  "schema": {
                    "$ref": "#/definitions/ErrorResponse"
                  }
               }
            }
         }
      }
   },
   "definitions": {
      "Status": {
         "description": "The status of the operation.",
         "type": "string",
         "enum": [
            "NotStarted",
            "Running",
            "Failed",
            "Canceled",
            "Succeeded"
         ]
      },
      "InnerError": {
         "type": "object",
         "description": "The inner error if a task in a batch failed.",
         "properties": {
            "message": {
               "type": "string",
               "description": "The error message.",
               "example": "Operation failed as a result of our safety system."
            },
            "code": {
               "type": "string",
               "enum": [
                  "ContentFilter",
                  "Internal",
                  "BlockedImages"
               ],
               "description": "The error code."
            }
         }
      },
      "Error": {
         "title": "Error",
         "description": "Error content as defined in the Microsoft REST guidelines\r\n(https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).",
         "type": "object",
         "properties": {
            "message": {
               "description": "The message of this error.",
               "minLength": 1,
               "type": "string"
            },
            "code": {
               "$ref": "#/definitions/ErrorCode"
            },
            "details": {
               "description": "The error details if available.",
               "type": "array",
               "items": {
                  "$ref": "#/definitions/InnerError"
               }
            }
         },
         "required": [
            "message",
            "code"
         ]
      },
      "ErrorCode": {
         "title": "ErrorCode",
         "description": "Error codes as defined in the Microsoft REST guidelines\r\n(https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).",
         "enum": [
            "BadRequest",
            "Internal",
            "TooManyRequests",
            "Unauthorized",
            "NotFound",
            "OperationNotInTerminalState"
         ],
         "type": "string",
         "x-ms-enum": {
           "name": "ErrorCode",
           "modelAsString": true,
           "values": [
            {
               "value": "BadRequest",
               "description": "The request data is invalid for this operation."
            },
            {
               "value": "Internal",
               "description": "Internal error. Please retry."
            },
            {
               "value": "TooManyRequests",
               "description": "Too many requests. Please retry later."
            },
            {
               "value": "Unauthorized",
               "description": "The current user/api key is not authorized for the operation."
            },
            {
               "value": "NotFound",
               "description": "The resource is not found."
            },
            {
               "value": "OperationNotInTerminalState",
               "description": "The operation cannot be executed in the current resource's state."
            }
           ]
         }
      },
      "ErrorResponse": {
         "type": "object",
         "properties": {
            "error": {
               "$ref": "#/definitions/Error"
            }
         },
         "required": [
            "error"
         ]
      },
      "ImageResult": {
         "type": "object",
         "description": "The image url if successful, and an error otherwise.",
         "properties": {
            "url": {
               "type": "string",
               "description": "The image url.",
               "example": "https://www.contoso.com"
            },
            "error": {
               "$ref": "#/definitions/Error"
            }
         }
      },
      "OperationResult": {
         "type": "array",
         "description": "The result data of the operation, if successful",
         "items": {
            "$ref": "#/definitions/ImageResult"
         }
      },
      "OperationResponse": {
         "type": "object",
         "properties": {
            "id": {
               "type": "string",
               "description": "The ID of the operation.",
               "example": "59c7e2ea-7450-4e85-9762-55c78727f4c7"
            },
            "created": {
               "type": "integer",
               "format": "int64",
               "description": "The unix timestamp when the operation was created.",
               "example": "1676540381"
            },
            "last_action": {
               "type": "integer",
               "format": "int64",
               "description": "The unix timestamp for when the current state was entered.",
               "example": "1676540381"
            },
            "expires_at": {
               "type": "integer",
               "format": "int64",
               "description": "The unix timestamp when the operation expires.",
               "example": "1676540381"
            },
            "data": {
               "$ref": "#/definitions/OperationResult"
            },
            "status": {
               "$ref": "#/definitions/Status"
            },
            "error": {
               "$ref": "#/definitions/Error"
            }
         },
         "required": [
            "id",
            "status",
            "created",
            "last_action"
         ]
      },
      "Size": {
         "description": "The size of the generated images. Must be one of 256x256, 512x512, or 1024x1024.",
         "type": "string",
         "enum": [
            "256x256",
            "512x512",
            "1024x1024"
         ],
         "default": "1024x1024"
      },
      "GenerateImagesPostRequest": {
         "type": "object",
         "properties": {
            "prompt": {
               "type": "string",
               "description": "A text description of the desired image(s).",
               "minLength": 1
            },
            "n": {
               "type": "integer",
               "description": "The number of images to generate.",
               "minimum": 1,
               "default": 1
            },
            "size": {
               "$ref": "#/definitions/Size"
            }
         },
         "required": [
            "prompt"
         ]
      },
      "GenerateImagesPostResponse": {
         "type": "object",
         "properties": {
            "status": {
               "$ref": "#/definitions/Status"
            },
            "id": {
               "type": "string",
               "description": " The Id of the asynchronous operation that can be used to query its status later."
            }
         },
         "required": [
            "id",
            "status"
         ]
      }
   },
   "securityDefinitions": {
      "api-key": {
        "type": "apiKey",
        "name": "Api-Key",
        "in": "header",
        "description": "Provide your Cognitive Services Azure OpenAI account key here."
      }
   },
   "security": [
      {
        "api-key": []
      }
   ],
    "schemes": [
      "https"
   ],
   "x-ms-parameterized-host": {
      "hostTemplate": "{endpoint}/openai",
      "useSchemePrefix": false,
      "parameters": [
         {
            "$ref": "#/parameters/endpoint"
         }
      ]
   }
}