{
  "swagger": "2.0",
  "info": {
    "title": "communication",
    "version": "2023-06-01-preview",
    "description": "REST API for Azure Communication Services",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "CommunicationServiceResources"
    },
    {
      "name": "DomainResources"
    },
    {
      "name": "EmailServiceResources"
    },
    {
      "name": "SenderUsernameResources"
    },
    {
      "name": "SuppressionListResources"
    },
    {
      "name": "SuppressionListAddressResources"
    }
  ],
  "paths": {
    "/providers/Microsoft.Communication/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Communication/checkNameAvailability": {
      "post": {
        "operationId": "CommunicationServices_CheckNameAvailability",
        "tags": [
          "CommunicationServiceResources"
        ],
        "description": "Checks that the CommunicationService name is valid and is not already in use.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Check name availability available": {
            "$ref": "./examples/CommunicationServices_CheckNameAvailability_Check_Name_Availability_Available.json"
          },
          "Check name availability unavailable": {
            "$ref": "./examples/CommunicationServices_CheckNameAvailability_Check_Name_Availability_Unavailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Communication/communicationServices": {
      "get": {
        "operationId": "CommunicationServices_ListBySubscription",
        "tags": [
          "CommunicationServiceResources"
        ],
        "description": "Handles requests to list all resources in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List by subscription": {
            "$ref": "./examples/CommunicationServices_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Communication/emailServices": {
      "get": {
        "operationId": "EmailServices_ListBySubscription",
        "tags": [
          "EmailServiceResources"
        ],
        "description": "Handles requests to list all resources in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmailServiceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List EmailService resources by subscription": {
            "$ref": "./examples/EmailServices_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices": {
      "get": {
        "operationId": "CommunicationServices_ListByResourceGroup",
        "tags": [
          "CommunicationServiceResources"
        ],
        "description": "Handles requests to list all resources in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List by resource group": {
            "$ref": "./examples/CommunicationServices_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}": {
      "get": {
        "operationId": "CommunicationServices_Get",
        "tags": [
          "CommunicationServiceResources"
        ],
        "description": "Get the CommunicationService and its properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get resource": {
            "$ref": "./examples/CommunicationServices_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CommunicationServices_CreateOrUpdate",
        "tags": [
          "CommunicationServiceResources"
        ],
        "description": "Create a new CommunicationService or update an existing CommunicationService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResource"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CommunicationServiceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResource"
            }
          },
          "201": {
            "description": "Resource 'CommunicationServiceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update resource": {
            "$ref": "./examples/CommunicationServices_CreateOrUpdate_Create_Or_Update_Resource.json"
          },
          "Create or update resource with managed identity": {
            "$ref": "./examples/CommunicationServices_CreateOrUpdate_Create_Or_Update_Resource_With_Managed_Identity.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CommunicationServices_Update",
        "tags": [
          "CommunicationServiceResources"
        ],
        "description": "Operation to update an existing CommunicationService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResourceUpdate"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update resource": {
            "$ref": "./examples/CommunicationServices_Update_Update_Resource.json"
          },
          "Update resource to add System and User managed identities": {
            "$ref": "./examples/CommunicationServices_Update_Update_Resource_To_Add_System_And_User_Managed_Identities.json"
          },
          "Update resource to add a System Assigned managed identity": {
            "$ref": "./examples/CommunicationServices_Update_Update_Resource_To_Add_A_System_Assigned_Managed_Identity.json"
          },
          "Update resource to add a User Assigned managed identity": {
            "$ref": "./examples/CommunicationServices_Update_Update_Resource_To_Add_A_User_Assigned_Managed_Identity.json"
          },
          "Update resource to remove identity": {
            "$ref": "./examples/CommunicationServices_Update_Update_Resource_To_Remove_Identity.json"
          }
        }
      },
      "delete": {
        "operationId": "CommunicationServices_Delete",
        "tags": [
          "CommunicationServiceResources"
        ],
        "description": "Operation to delete a CommunicationService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete resource": {
            "$ref": "./examples/CommunicationServices_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/linkNotificationHub": {
      "post": {
        "operationId": "CommunicationServices_LinkNotificationHub",
        "tags": [
          "CommunicationServiceResources"
        ],
        "description": "Links an Azure Notification Hub to this communication service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "linkNotificationHubParameters",
            "in": "body",
            "description": "Parameters supplied to the operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LinkNotificationHubParameters"
            },
            "x-ms-client-name": "linkNotificationHubParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LinkedNotificationHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Link notification hub": {
            "$ref": "./examples/CommunicationServices_LinkNotificationHub.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/listKeys": {
      "post": {
        "operationId": "CommunicationServices_ListKeys",
        "tags": [
          "CommunicationServiceResources"
        ],
        "description": "Get the access keys of the CommunicationService resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List keys": {
            "$ref": "./examples/CommunicationServices_ListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/regenerateKey": {
      "post": {
        "operationId": "CommunicationServices_RegenerateKey",
        "tags": [
          "CommunicationServiceResources"
        ],
        "description": "Regenerate CommunicationService access key. PrimaryKey and SecondaryKey cannot be regenerated at the same time.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "communicationServiceName",
            "in": "path",
            "description": "The name of the CommunicationService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[-\\w]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter that describes the Regenerate Key Operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyParameters"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceKeys"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regenerate key": {
            "$ref": "./examples/CommunicationServices_RegenerateKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices": {
      "get": {
        "operationId": "EmailServices_ListByResourceGroup",
        "tags": [
          "EmailServiceResources"
        ],
        "description": "Handles requests to list all resources in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmailServiceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List EmailService resources by resource group": {
            "$ref": "./examples/EmailServices_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}": {
      "get": {
        "operationId": "EmailServices_Get",
        "tags": [
          "EmailServiceResources"
        ],
        "description": "Get the EmailService and its properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get EmailService resource": {
            "$ref": "./examples/EmailServices_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EmailServices_CreateOrUpdate",
        "tags": [
          "EmailServiceResources"
        ],
        "description": "Create a new EmailService or update an existing EmailService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EmailServiceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            }
          },
          "201": {
            "description": "Resource 'EmailServiceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update EmailService resource": {
            "$ref": "./examples/EmailServices_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EmailServices_Update",
        "tags": [
          "EmailServiceResources"
        ],
        "description": "Operation to update an existing EmailService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailServiceResourceUpdate"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmailServiceResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update EmailService resource": {
            "$ref": "./examples/EmailServices_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EmailServices_Delete",
        "tags": [
          "EmailServiceResources"
        ],
        "description": "Operation to delete a EmailService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete EmailService resource": {
            "$ref": "./examples/EmailServices_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains": {
      "get": {
        "operationId": "Domains_ListByEmailServiceResource",
        "tags": [
          "DomainResources"
        ],
        "description": "Handles requests to list all Domains resources under the parent EmailServices resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Domains resources by EmailServiceName": {
            "$ref": "./examples/Domains_ListByEmailServiceResource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}": {
      "get": {
        "operationId": "Domains_Get",
        "tags": [
          "DomainResources"
        ],
        "description": "Get the Domains resource and its properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Domains resource": {
            "$ref": "./examples/Domains_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Domains_CreateOrUpdate",
        "tags": [
          "DomainResources"
        ],
        "description": "Add a new Domains resource under the parent EmailService resource or update an existing Domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DomainResource"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DomainResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "201": {
            "description": "Resource 'DomainResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Domains resource": {
            "$ref": "./examples/Domains_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Domains_Update",
        "tags": [
          "DomainResources"
        ],
        "description": "Operation to update an existing Domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDomainRequestParameters"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Domains resource": {
            "$ref": "./examples/Domains_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Domains_Delete",
        "tags": [
          "DomainResources"
        ],
        "description": "Operation to delete a Domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Domains resource": {
            "$ref": "./examples/Domains_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/cancelVerification": {
      "post": {
        "operationId": "Domains_CancelVerification",
        "tags": [
          "DomainResources"
        ],
        "description": "Cancel verification of DNS record.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Type of verification to be canceled.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerificationParameter"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Cancel verification": {
            "$ref": "./examples/Domains_CancelVerification.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/initiateVerification": {
      "post": {
        "operationId": "Domains_InitiateVerification",
        "tags": [
          "DomainResources"
        ],
        "description": "Initiate verification of DNS record.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Type of verification to be initiated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerificationParameter"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Initiate verification": {
            "$ref": "./examples/Domains_InitiateVerification.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/senderUsernames": {
      "get": {
        "operationId": "SenderUsernames_ListByDomains",
        "tags": [
          "SenderUsernameResources"
        ],
        "description": "List all valid sender usernames for a domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SenderUsernameResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all SenderUsernames resources for a Domain.": {
            "$ref": "./examples/SenderUsernames_ListByDomains.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/senderUsernames/{senderUsername}": {
      "get": {
        "operationId": "SenderUsernames_Get",
        "tags": [
          "SenderUsernameResources"
        ],
        "description": "Get a valid sender username for a domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "senderUsername",
            "in": "path",
            "description": "The valid sender Username.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SenderUsernameResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SenderUsernames resource": {
            "$ref": "./examples/SenderUsernames_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SenderUsernames_CreateOrUpdate",
        "tags": [
          "SenderUsernameResources"
        ],
        "description": "Add a new SenderUsername resource under the parent Domains resource or update an existing SenderUsername resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "senderUsername",
            "in": "path",
            "description": "The valid sender Username.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SenderUsernameResource"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SenderUsernameResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SenderUsernameResource"
            }
          },
          "201": {
            "description": "Resource 'SenderUsernameResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SenderUsernameResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update SenderUsernames resource": {
            "$ref": "./examples/SenderUsernames_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "SenderUsernames_Delete",
        "tags": [
          "SenderUsernameResources"
        ],
        "description": "Operation to delete a SenderUsernames resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "senderUsername",
            "in": "path",
            "description": "The valid sender Username.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SenderUsernames resource": {
            "$ref": "./examples/SenderUsernames_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists": {
      "get": {
        "operationId": "SuppressionLists_ListByDomain",
        "tags": [
          "SuppressionListResources"
        ],
        "description": "List all suppression lists for a domains resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SuppressionListResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all SuppressionLists resources.": {
            "$ref": "./examples/SuppressionLists_ListByDomain.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}": {
      "get": {
        "operationId": "SuppressionLists_Get",
        "tags": [
          "SuppressionListResources"
        ],
        "description": "Get a SuppressionList resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SuppressionListResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a SuppressionList resource.": {
            "$ref": "./examples/SuppressionLists_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SuppressionLists_CreateOrUpdate",
        "tags": [
          "SuppressionListResources"
        ],
        "description": "Add a new SuppressionList resource under the parent Domains resource or update an existing SuppressionList resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuppressionListResource"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SuppressionListResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SuppressionListResource"
            }
          },
          "201": {
            "description": "Resource 'SuppressionListResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SuppressionListResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate SuppressionLists resource.": {
            "$ref": "./examples/SuppressionLists_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "SuppressionLists_Delete",
        "tags": [
          "SuppressionListResources"
        ],
        "description": "Delete a SuppressionList.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a SuppressionLists resource.": {
            "$ref": "./examples/SuppressionLists_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}/suppressionListAddresses": {
      "get": {
        "operationId": "SuppressionListAddresses_List",
        "tags": [
          "SuppressionListAddressResources"
        ],
        "description": "Get all the addresses in a suppression list.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SuppressionListAddressResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all SuppressionListAddresses resources for a SuppressionList resource.": {
            "$ref": "./examples/SuppressionListAddresses_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}/suppressionListAddresses/{addressId}": {
      "get": {
        "operationId": "SuppressionListAddresses_Get",
        "tags": [
          "SuppressionListAddressResources"
        ],
        "description": "Get a SuppressionListAddress.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The id of the address in a suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SuppressionListAddressResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a SuppressionListAddress resource.": {
            "$ref": "./examples/SuppressionListAddresses_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SuppressionListAddresses_CreateOrUpdate",
        "tags": [
          "SuppressionListAddressResources"
        ],
        "description": "Create or update a SuppressionListAddress.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The id of the address in a suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuppressionListAddressResource"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SuppressionListAddressResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SuppressionListAddressResource"
            }
          },
          "201": {
            "description": "Resource 'SuppressionListAddressResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SuppressionListAddressResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate SuppressionListAddress resource": {
            "$ref": "./examples/SuppressionListAddresses_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "SuppressionListAddresses_Delete",
        "tags": [
          "SuppressionListAddressResources"
        ],
        "description": "Operation to delete a single address from a suppression list.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "emailServiceName",
            "in": "path",
            "description": "The name of the EmailService resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The name of the Domains resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          {
            "name": "suppressionListName",
            "in": "path",
            "description": "The name of the suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The id of the address in a suppression list.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a SuppressionListAddress resource.": {
            "$ref": "./examples/SuppressionListAddresses_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.Foundations.CheckNameAvailabilityReason": {
      "type": "string",
      "description": "Possible reasons for a name not being available.",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "CheckNameAvailabilityReason",
        "modelAsString": true,
        "values": [
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Name is invalid."
          },
          {
            "name": "AlreadyExists",
            "value": "AlreadyExists",
            "description": "Name already exists."
          }
        ]
      }
    },
    "Azure.ResourceManager.ManagedServiceIdentity": {
      "type": "object",
      "description": "The managed service identities envelope.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      }
    },
    "CheckNameAvailabilityRequest": {
      "type": "object",
      "description": "The check availability request body.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource for which availability needs to be checked."
        },
        "type": {
          "type": "string",
          "description": "The resource type."
        }
      }
    },
    "CheckNameAvailabilityResponse": {
      "type": "object",
      "description": "The check availability result.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Indicates if the resource name is available."
        },
        "reason": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.CheckNameAvailabilityReason",
          "description": "The reason why the given name is not available."
        },
        "message": {
          "type": "string",
          "description": "Detailed reason why the given name is available."
        }
      }
    },
    "CommunicationServiceKeys": {
      "type": "object",
      "description": "A class representing the access keys of a CommunicationService.",
      "properties": {
        "primaryKey": {
          "type": "string",
          "description": "The primary access key."
        },
        "secondaryKey": {
          "type": "string",
          "description": "The secondary access key."
        },
        "primaryConnectionString": {
          "type": "string",
          "description": "CommunicationService connection string constructed via the primaryKey"
        },
        "secondaryConnectionString": {
          "type": "string",
          "description": "CommunicationService connection string constructed via the secondaryKey"
        }
      }
    },
    "CommunicationServiceProperties": {
      "type": "object",
      "description": "A class that describes the properties of the CommunicationService.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/CommunicationServicesProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "hostName": {
          "type": "string",
          "description": "FQDN of the CommunicationService instance.",
          "readOnly": true
        },
        "dataLocation": {
          "type": "string",
          "description": "The location where the communication service stores its data at rest.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "notificationHubId": {
          "type": "string",
          "description": "Resource ID of an Azure Notification Hub linked to this resource.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Version of the CommunicationService resource. Probably you need the same or higher version of client SDKs.",
          "readOnly": true
        },
        "immutableResourceId": {
          "type": "string",
          "description": "The immutable resource Id of the communication service.",
          "readOnly": true
        },
        "linkedDomains": {
          "type": "array",
          "description": "List of email Domain resource Ids.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "dataLocation"
      ]
    },
    "CommunicationServiceResource": {
      "type": "object",
      "description": "A class representing a CommunicationService resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommunicationServiceProperties",
          "description": "The properties of the service.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CommunicationServiceResourceListResult": {
      "type": "object",
      "description": "The response of a CommunicationServiceResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CommunicationServiceResource items on this page",
          "items": {
            "$ref": "#/definitions/CommunicationServiceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CommunicationServiceResourceUpdate": {
      "type": "object",
      "description": "A class representing update parameters for CommunicationService resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommunicationServiceUpdateProperties",
          "description": "The properties of the service.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedServiceIdentity",
          "description": "Managed service identity (system assigned and/or user assigned identities)"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TaggedResource"
        }
      ]
    },
    "CommunicationServiceUpdateProperties": {
      "type": "object",
      "description": "A class that describes the properties that can be updated for CommunicationService resource.",
      "properties": {
        "linkedDomains": {
          "type": "array",
          "description": "List of email Domain resource Ids.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CommunicationServicesProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Failed",
        "Canceled",
        "Running",
        "Creating",
        "Updating",
        "Deleting",
        "Moving"
      ],
      "x-ms-enum": {
        "name": "CommunicationServicesProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "DnsRecord": {
      "type": "object",
      "description": "A class that represents a VerificationStatus record.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the DNS record. Example: TXT",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the DNS record.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "Value of the DNS record.",
          "readOnly": true
        },
        "ttl": {
          "type": "integer",
          "format": "int32",
          "description": "Represents an expiry time in seconds to represent how long this entry can be cached by the resolver, default = 3600sec.",
          "readOnly": true
        }
      }
    },
    "DomainManagement": {
      "type": "string",
      "description": "Describes how a Domains resource is being managed.",
      "enum": [
        "AzureManaged",
        "CustomerManaged",
        "CustomerManagedInExchangeOnline"
      ],
      "x-ms-enum": {
        "name": "DomainManagement",
        "modelAsString": true
      }
    },
    "DomainProperties": {
      "type": "object",
      "description": "A class that describes the properties of a Domains resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/DomainsProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "dataLocation": {
          "type": "string",
          "description": "The location where the Domains resource data is stored at rest.",
          "readOnly": true
        },
        "fromSenderDomain": {
          "type": "string",
          "description": "P2 sender domain that is displayed to the email recipients [RFC 5322].",
          "readOnly": true
        },
        "mailFromSenderDomain": {
          "type": "string",
          "description": "P1 sender domain that is present on the email envelope [RFC 5321].",
          "readOnly": true
        },
        "domainManagement": {
          "$ref": "#/definitions/DomainManagement",
          "description": "Describes how a Domains resource is being managed."
        },
        "verificationStates": {
          "$ref": "#/definitions/DomainPropertiesVerificationStates",
          "description": "List of VerificationStatusRecord",
          "readOnly": true
        },
        "verificationRecords": {
          "$ref": "#/definitions/DomainPropertiesVerificationRecords",
          "description": "List of DnsRecord",
          "readOnly": true
        },
        "userEngagementTracking": {
          "$ref": "#/definitions/UserEngagementTracking",
          "description": "Describes whether user engagement tracking is enabled or disabled."
        }
      },
      "required": [
        "domainManagement"
      ]
    },
    "DomainPropertiesVerificationRecords": {
      "type": "object",
      "description": "List of DnsRecord",
      "properties": {
        "Domain": {
          "$ref": "#/definitions/DnsRecord",
          "description": "A class that represents a VerificationStatus record.",
          "x-ms-client-name": "domain"
        },
        "SPF": {
          "$ref": "#/definitions/DnsRecord",
          "description": "A class that represents a VerificationStatus record."
        },
        "DKIM": {
          "$ref": "#/definitions/DnsRecord",
          "description": "A class that represents a VerificationStatus record.",
          "x-ms-client-name": "dkim"
        },
        "DKIM2": {
          "$ref": "#/definitions/DnsRecord",
          "description": "A class that represents a VerificationStatus record.",
          "x-ms-client-name": "dkim2"
        },
        "DMARC": {
          "$ref": "#/definitions/DnsRecord",
          "description": "A class that represents a VerificationStatus record.",
          "x-ms-client-name": "dmarc"
        }
      }
    },
    "DomainPropertiesVerificationStates": {
      "type": "object",
      "description": "List of VerificationStatusRecord",
      "properties": {
        "Domain": {
          "$ref": "#/definitions/VerificationStatusRecord",
          "description": "A class that represents a VerificationStatus record.",
          "x-ms-client-name": "domain"
        },
        "SPF": {
          "$ref": "#/definitions/VerificationStatusRecord",
          "description": "A class that represents a VerificationStatus record."
        },
        "DKIM": {
          "$ref": "#/definitions/VerificationStatusRecord",
          "description": "A class that represents a VerificationStatus record.",
          "x-ms-client-name": "dkim"
        },
        "DKIM2": {
          "$ref": "#/definitions/VerificationStatusRecord",
          "description": "A class that represents a VerificationStatus record.",
          "x-ms-client-name": "dkim2"
        },
        "DMARC": {
          "$ref": "#/definitions/VerificationStatusRecord",
          "description": "A class that represents a VerificationStatus record.",
          "x-ms-client-name": "dmarc"
        }
      }
    },
    "DomainResource": {
      "type": "object",
      "description": "A class representing a Domains resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DomainProperties",
          "description": "The properties of a Domains resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DomainResourceListResult": {
      "type": "object",
      "description": "The response of a DomainResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DomainResource items on this page",
          "items": {
            "$ref": "#/definitions/DomainResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DomainsProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Failed",
        "Canceled",
        "Running",
        "Creating",
        "Updating",
        "Deleting",
        "Moving"
      ],
      "x-ms-enum": {
        "name": "DomainsProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "EmailServiceProperties": {
      "type": "object",
      "description": "A class that describes the properties of the EmailService.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/EmailServicesProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "dataLocation": {
          "type": "string",
          "description": "The location where the email service stores its data at rest.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "dataLocation"
      ]
    },
    "EmailServiceResource": {
      "type": "object",
[...]
