{
  "swagger": "2.0",
  "info": {
    "title": "ExtensionTypesClient",
    "version": "2024-11-01-preview",
    "description": "Use these APIs to view extension type resources through ARM, for Kubernetes Clusters.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ExtensionTypes"
    },
    {
      "name": "ExtensionTypeOperationGroup"
    },
    {
      "name": "ExtensionTypeVersionForReleaseTrains"
    },
    {
      "name": "ExtensionTypeVersionForReleaseTrainOperationGroup"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes": {
      "get": {
        "operationId": "ExtensionTypes_LocationList",
        "tags": [
          "ExtensionTypes"
        ],
        "description": "List all Extension Types for the location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "publisherId",
            "in": "query",
            "description": "Filter results by Publisher ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "offerId",
            "in": "query",
            "description": "Filter results by Offer or Product ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "planId",
            "in": "query",
            "description": "Filter results by Plan ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "releaseTrain",
            "in": "query",
            "description": "Filter results by release train (default value is stable)",
            "required": false,
            "type": "string"
          },
          {
            "name": "clusterType",
            "in": "query",
            "description": "Filter results by the cluster type for extension types",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionTypesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Extension Types": {
            "$ref": "./examples/ListExtensionTypesByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes/{extensionTypeName}": {
      "get": {
        "operationId": "ExtensionTypes_LocationGet",
        "tags": [
          "ExtensionTypes"
        ],
        "description": "Get an extension type for the location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "extensionTypeName",
            "in": "path",
            "description": "Name of the Extension Type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-_]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Extension Type": {
            "$ref": "./examples/GetExtensionTypeByLocation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes/{extensionTypeName}/versions": {
      "get": {
        "operationId": "ExtensionTypes_ListVersions",
        "tags": [
          "ExtensionTypeVersionForReleaseTrains"
        ],
        "description": "List the versions for an extension type and location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "extensionTypeName",
            "in": "path",
            "description": "Name of the Extension Type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-_]*$"
          },
          {
            "name": "releaseTrain",
            "in": "query",
            "description": "Filter results by release train (default value is stable)",
            "required": false,
            "type": "string"
          },
          {
            "name": "clusterType",
            "in": "query",
            "description": "Filter results by the cluster type for extension types",
            "required": false,
            "type": "string"
          },
          {
            "name": "majorVersion",
            "in": "query",
            "description": "Filter results by the major version of an extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "showLatest",
            "in": "query",
            "description": "Filter results by only the latest version (based on other query parameters)",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionTypeVersionsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Extension Type Versions": {
            "$ref": "./examples/ListExtensionTypeVersionsByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes/{extensionTypeName}/versions/{versionNumber}": {
      "get": {
        "operationId": "ExtensionTypes_GetVersion",
        "tags": [
          "ExtensionTypeVersionForReleaseTrains"
        ],
        "description": "Get details of a version for an extension type and location",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "extensionTypeName",
            "in": "path",
            "description": "Name of the Extension Type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-_]*$"
          },
          {
            "name": "versionNumber",
            "in": "path",
            "description": "Version number of the Extension Type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionTypeVersionForReleaseTrain"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Extension Type Versions": {
            "$ref": "./examples/GetExtensionTypeVersionByLocation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes": {
      "get": {
        "operationId": "ExtensionTypes_List",
        "tags": [
          "ExtensionTypeOperationGroup"
        ],
        "description": "List installable Extension Types for the cluster based region and type for the cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterRp",
            "in": "path",
            "description": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes, Microsoft.HybridContainerService.",
            "required": true,
            "type": "string"
          },
          {
            "name": "clusterResourceName",
            "in": "path",
            "description": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters, provisionedClusters, appliances.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]*$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the kubernetes cluster.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "publisherId",
            "in": "query",
            "description": "Filter results by Publisher ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "offerId",
            "in": "query",
            "description": "Filter results by Offer or Product ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "planId",
            "in": "query",
            "description": "Filter results by Plan ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "releaseTrain",
            "in": "query",
            "description": "Filter results by release train (default value is stable)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionTypesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Extension Types": {
            "$ref": "./examples/ListExtensionTypes.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes/{extensionTypeName}": {
      "get": {
        "operationId": "ExtensionTypes_Get",
        "tags": [
          "ExtensionTypeOperationGroup"
        ],
        "description": "Get an Extension Type installable to the cluster based region and type for the cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterRp",
            "in": "path",
            "description": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes, Microsoft.HybridContainerService.",
            "required": true,
            "type": "string"
          },
          {
            "name": "clusterResourceName",
            "in": "path",
            "description": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters, provisionedClusters, appliances.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]*$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the kubernetes cluster.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "extensionTypeName",
            "in": "path",
            "description": "Name of the Extension Type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-_]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Extension Types": {
            "$ref": "./examples/GetExtensionType.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes/{extensionTypeName}/versions": {
      "get": {
        "operationId": "ExtensionTypes_ClusterListVersions",
        "tags": [
          "ExtensionTypeVersionForReleaseTrainOperationGroup"
        ],
        "description": "List the version for an Extension Type installable to the cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterRp",
            "in": "path",
            "description": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes, Microsoft.HybridContainerService.",
            "required": true,
            "type": "string"
          },
          {
            "name": "clusterResourceName",
            "in": "path",
            "description": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters, provisionedClusters, appliances.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]*$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the kubernetes cluster.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "extensionTypeName",
            "in": "path",
            "description": "Name of the Extension Type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-_]*$"
          },
          {
            "name": "releaseTrain",
            "in": "query",
            "description": "Filter results by release train (default value is stable)",
            "required": false,
            "type": "string"
          },
          {
            "name": "majorVersion",
            "in": "query",
            "description": "Filter results by the major version of an extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "showLatest",
            "in": "query",
            "description": "Filter results by only the latest version (based on other query parameters)",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionTypeVersionsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Extension Type Versions": {
            "$ref": "./examples/ListExtensionTypeVersions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes/{extensionTypeName}/versions/{versionNumber}": {
      "get": {
        "operationId": "ExtensionTypes_ClusterGetVersion",
        "tags": [
          "ExtensionTypeVersionForReleaseTrainOperationGroup"
        ],
        "description": "Get details of a version for an Extension Type installable to the cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterRp",
            "in": "path",
            "description": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes, Microsoft.HybridContainerService.",
            "required": true,
            "type": "string"
          },
          {
            "name": "clusterResourceName",
            "in": "path",
            "description": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters, provisionedClusters, appliances.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]*$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the kubernetes cluster.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "extensionTypeName",
            "in": "path",
            "description": "Name of the Extension Type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-_]*$"
          },
          {
            "name": "versionNumber",
            "in": "path",
            "description": "Version number of the Extension Type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionTypeVersionForReleaseTrain"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Extension Type Versions": {
            "$ref": "./examples/GetExtensionTypeVersion.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ClusterScopeSettings": {
      "type": "object",
      "description": "Extension scope settings",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterScopeSettingsProperties",
          "description": "Extension scope settings",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ClusterScopeSettingsProperties": {
      "type": "object",
      "description": "Extension scope settings",
      "properties": {
        "allowMultipleInstances": {
          "type": "boolean",
          "description": "Describes if multiple instances of the extension are allowed"
        },
        "defaultReleaseNamespace": {
          "type": "string",
          "description": "Default extension release namespace"
        }
      }
    },
    "ExtensionType": {
      "type": "object",
      "description": "The Extension Type object.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExtensionTypeProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExtensionTypeProperties": {
      "type": "object",
      "properties": {
        "isSystemExtension": {
          "type": "boolean",
          "description": "Is this Extension Type a system extension."
        },
        "isManagedIdentityRequired": {
          "type": "boolean",
          "description": "Should an identity for this cluster resource be created"
        },
        "description": {
          "type": "string",
          "description": "Description of the extension type"
        },
        "publisher": {
          "type": "string",
          "description": "Name of the publisher for the Extension Type"
        },
        "planInfo": {
          "$ref": "#/definitions/ExtensionTypePropertiesPlanInfo",
          "description": "Plan information only for the Marketplace Extension Type."
        },
        "supportedClusterTypes": {
          "type": "array",
          "description": "Cluster Types supported for this Extension Type.",
          "items": {
            "type": "string"
          }
        },
        "supportedScopes": {
          "$ref": "#/definitions/ExtensionTypePropertiesSupportedScopes",
          "description": "Supported Kubernetes Scopes for this Extension Type."
        }
      }
    },
    "ExtensionTypePropertiesPlanInfo": {
      "type": "object",
      "description": "Plan information only for the Marketplace Extension Type.",
      "properties": {
        "publisherId": {
          "type": "string",
          "description": "Publisher ID of the Marketplace Extension Type."
        },
        "planId": {
          "type": "string",
          "description": "Plan ID of the Marketplace Extension Type."
        },
        "offerId": {
          "type": "string",
          "description": "Offer or Product ID of the Marketplace Extension Type."
        }
      }
    },
    "ExtensionTypePropertiesSupportedScopes": {
      "type": "object",
      "description": "Supported Kubernetes Scopes for this Extension Type.",
      "properties": {
        "defaultScope": {
          "type": "string",
          "description": "The default scope of the extension type. This scope will be used if the user does not provide a scope while creating an extension."
        },
        "clusterScopeSettings": {
          "$ref": "#/definitions/ClusterScopeSettings",
          "description": "Extension scope settings"
        }
      }
    },
    "ExtensionTypeVersionForReleaseTrain": {
      "type": "object",
      "description": "The Extension Type Version object.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExtensionTypeVersionForReleaseTrainProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExtensionTypeVersionForReleaseTrainProperties": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version number for the extension type"
        },
        "unsupportedKubernetesVersions": {
          "$ref": "#/definitions/ExtensionTypeVersionForReleaseTrainPropertiesUnsupportedKubernetesVersions",
          "description": "The list of supported Kubernetes cluster versions for this extension type"
        },
        "supportedClusterTypes": {
          "type": "array",
          "description": "A list of supported cluster types for this version of the Extension Type",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExtensionTypeVersionForReleaseTrainPropertiesUnsupportedKubernetesVersions": {
      "type": "object",
      "description": "The list of supported Kubernetes cluster versions for this extension type",
      "properties": {
        "connectedCluster": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionTypeVersionUnsupportedKubernetesMatrixItem"
          },
          "x-ms-identifiers": []
        },
        "appliances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionTypeVersionUnsupportedKubernetesMatrixItem"
          },
          "x-ms-identifiers": []
        },
        "provisionedCluster": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionTypeVersionUnsupportedKubernetesMatrixItem"
          },
          "x-ms-identifiers": []
        },
        "managedCluster": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionTypeVersionUnsupportedKubernetesMatrixItem"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ExtensionTypeVersionUnsupportedKubernetesMatrixItem": {
      "type": "object",
      "description": "The list of Kubernetes Distribution and Versions that are not supported by this version of this Extension Type",
      "properties": {
        "distributions": {
          "type": "array",
          "description": "The list of Kubernetes Cluster Distribution Names not supported",
          "items": {
            "type": "string"
          }
        },
        "unsupportedVersions": {
          "type": "array",
          "description": "The list of Kubernetes Versions not supported by the list of Kubernetes Cluster Distribution names in this object",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExtensionTypeVersionsList": {
      "type": "object",
      "description": "List Extension Type Versions. It contains a list of ExtensionTypeVersionForReleaseTrain objects.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ExtensionTypeVersionForReleaseTrain items on this page",
          "items": {
            "$ref": "#/definitions/ExtensionTypeVersionForReleaseTrain"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExtensionTypesList": {
      "type": "object",
      "description": "List Extension Types. It contains a list of ExtensionType objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ExtensionType items on this page",
          "items": {
            "$ref": "#/definitions/ExtensionType"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {}
}
