{
  "swagger": "2.0",
  "info": {
    "version": "2024-11-01-preview",
    "title": "ExtensionTypesClient",
    "description": "Use these APIs to view extension type resources through ARM, for Kubernetes Clusters."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes": {
      "get": {
        "tags": [
          "ExtensionTypes",
          "ClusterExtensionTypes"
        ],
        "description": "List all Extension Types for the location.",
        "operationId": "ExtensionTypes_LocationList",
        "x-ms-examples": {
          "List Extension Types": {
            "$ref": "./examples/ListExtensionTypesByLocation.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "publisherId",
            "in": "query",
            "description": "Filter results by Publisher ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "offerId",
            "in": "query",
            "description": "Filter results by Offer or Product ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "planId",
            "in": "query",
            "description": "Filter results by Plan ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "releaseTrain",
            "in": "query",
            "description": "Filter results by release train (default value is stable)",
            "required": false,
            "type": "string"
          },
          {
            "name": "clusterType",
            "in": "query",
            "description": "Filter results by the cluster type for extension types",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionTypesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes/{extensionTypeName}": {
      "get": {
        "tags": [
          "ExtensionTypes",
          "ClusterExtensionTypes"
        ],
        "description": "Get an extension type for the location.",
        "operationId": "ExtensionTypes_LocationGet",
        "x-ms-examples": {
          "Get Extension Type": {
            "$ref": "./examples/GetExtensionTypeByLocation.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ExtensionTypeNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionType"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes/{extensionTypeName}/versions": {
      "get": {
        "tags": [
          "ExtensionTypes",
          "ClusterExtensionTypes"
        ],
        "description": "List the versions for an extension type and location.",
        "operationId": "ExtensionTypes_ListVersions",
        "x-ms-examples": {
          "List Extension Type Versions": {
            "$ref": "./examples/ListExtensionTypeVersionsByLocation.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ExtensionTypeNameParameter"
          },
          {
            "name": "releaseTrain",
            "in": "query",
            "description": "Filter results by release train (default value is stable)",
            "required": false,
            "type": "string"
          },
          {
            "name": "clusterType",
            "in": "query",
            "description": "Filter results by the cluster type for extension types",
            "required": false,
            "type": "string"
          },
          {
            "name": "majorVersion",
            "in": "query",
            "description": "Filter results by the major version of an extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "showLatest",
            "in": "query",
            "description": "Filter results by only the latest version (based on other query parameters)",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionTypeVersionsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes/{extensionTypeName}/versions/{versionNumber}": {
      "get": {
        "tags": [
          "ExtensionTypes",
          "ClusterExtensionTypes"
        ],
        "description": "Get details of a version for an extension type and location",
        "operationId": "ExtensionTypes_GetVersion",
        "x-ms-examples": {
          "List Extension Type Versions": {
            "$ref": "./examples/GetExtensionTypeVersionByLocation.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ExtensionTypeNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNumberParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionTypeVersionForReleaseTrain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes": {
      "get": {
        "tags": [
          "ExtensionTypes",
          "ClusterExtensionTypes"
        ],
        "description": "List installable Extension Types for the cluster based region and type for the cluster.",
        "operationId": "ExtensionTypes_List",
        "x-ms-examples": {
          "Get Extension Types": {
            "$ref": "./examples/ListExtensionTypes.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterNameParameter"
          },
          {
            "name": "publisherId",
            "in": "query",
            "description": "Filter results by Publisher ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "offerId",
            "in": "query",
            "description": "Filter results by Offer or Product ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "planId",
            "in": "query",
            "description": "Filter results by Plan ID of a marketplace extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "releaseTrain",
            "in": "query",
            "description": "Filter results by release train (default value is stable)",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionTypesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes/{extensionTypeName}": {
      "get": {
        "tags": [
          "ExtensionTypes",
          "ClusterExtensionTypes"
        ],
        "description": "Get an Extension Type installable to the cluster based region and type for the cluster.",
        "operationId": "ExtensionTypes_Get",
        "x-ms-examples": {
          "Get Extension Types": {
            "$ref": "./examples/GetExtensionType.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionTypeNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionType"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes/{extensionTypeName}/versions": {
      "get": {
        "tags": [
          "ExtensionTypes",
          "ClusterExtensionTypes"
        ],
        "description": "List the version for an Extension Type installable to the cluster.",
        "operationId": "ExtensionTypes_ClusterListVersions",
        "x-ms-examples": {
          "List Extension Type Versions": {
            "$ref": "./examples/ListExtensionTypeVersions.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionTypeNameParameter"
          },
          {
            "name": "releaseTrain",
            "in": "query",
            "description": "Filter results by release train (default value is stable)",
            "required": false,
            "type": "string"
          },
          {
            "name": "majorVersion",
            "in": "query",
            "description": "Filter results by the major version of an extension type",
            "required": false,
            "type": "string"
          },
          {
            "name": "showLatest",
            "in": "query",
            "description": "Filter results by only the latest version (based on other query parameters)",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionTypeVersionsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes/{extensionTypeName}/versions/{versionNumber}": {
      "get": {
        "tags": [
          "ExtensionTypes",
          "ClusterExtensionTypes"
        ],
        "description": "Get details of a version for an Extension Type installable to the cluster.",
        "operationId": "ExtensionTypes_ClusterGetVersion",
        "x-ms-examples": {
          "List Extension Type Versions": {
            "$ref": "./examples/GetExtensionTypeVersion.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "../../../common/2023-05-01-preview/parameters.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionTypeNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNumberParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionTypeVersionForReleaseTrain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ExtensionType": {
      "description": "The Extension Type object.",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "properties": {
            "isSystemExtension": {
              "type": "boolean",
              "description": "Is this Extension Type a system extension."
            },
            "isManagedIdentityRequired": {
              "type": "boolean",
              "description": "Should an identity for this cluster resource be created"
            },
            "description": {
              "type": "string",
              "description": "Description of the extension type"
            },
            "publisher": {
              "type": "string",
              "description": "Name of the publisher for the Extension Type"
            },
            "planInfo": {
              "description": "Plan information only for the Marketplace Extension Type.",
              "type": "object",
              "properties": {
                "publisherId": {
                  "type": "string",
                  "description": "Publisher ID of the Marketplace Extension Type."
                },
                "planId": {
                  "type": "string",
                  "description": "Plan ID of the Marketplace Extension Type."
                },
                "offerId": {
                  "type": "string",
                  "description": "Offer or Product ID of the Marketplace Extension Type."
                }
              }
            },
            "supportedClusterTypes": {
              "description": "Cluster Types supported for this Extension Type.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "supportedScopes": {
              "description": "Supported Kubernetes Scopes for this Extension Type.",
              "type": "object",
              "properties": {
                "defaultScope": {
                  "description": "The default scope of the extension type. This scope will be used if the user does not provide a scope while creating an extension.",
                  "type": "string"
                },
                "clusterScopeSettings": {
                  "$ref": "#/definitions/ClusterScopeSettings"
                }
              }
            }
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ClusterScopeSettings": {
      "type": "object",
      "description": "Extension scope settings",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "Extension scope settings",
          "properties": {
            "allowMultipleInstances": {
              "type": "boolean",
              "description": "Describes if multiple instances of the extension are allowed"
            },
            "defaultReleaseNamespace": {
              "type": "string",
              "description": "Default extension release namespace"
            }
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExtensionTypeVersionForReleaseTrain": {
      "description": "The Extension Type Version object.",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "properties": {
            "version": {
              "type": "string",
              "description": "The version number for the extension type"
            },
            "unsupportedKubernetesVersions": {
              "description": "The list of supported Kubernetes cluster versions for this extension type",
              "type": "object",
              "properties": {
                "connectedCluster": {
                  "$ref": "#/definitions/ExtensionTypeVersionUnsupportedKubernetesMatrix"
                },
                "appliances": {
                  "$ref": "#/definitions/ExtensionTypeVersionUnsupportedKubernetesMatrix"
                },
                "provisionedCluster": {
                  "$ref": "#/definitions/ExtensionTypeVersionUnsupportedKubernetesMatrix"
                },
                "managedCluster": {
                  "$ref": "#/definitions/ExtensionTypeVersionUnsupportedKubernetesMatrix"
                }
              }
            },
            "supportedClusterTypes": {
              "type": "array",
              "description": "A list of supported cluster types for this version of the Extension Type",
              "items": {
                "description": "The individual cluster type that is supported by this extension",
                "type": "string"
              }
            }
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExtensionTypesList": {
      "description": "List Extension Types. It contains a list of ExtensionType objects and a URL link to get the next set of results.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ExtensionType"
          },
          "description": "List of Extension Types."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "URL to get the next set of extension type objects, if any."
        }
      }
    },
    "ExtensionTypeVersionsList": {
      "description": "List Extension Type Versions. It contains a list of ExtensionTypeVersionForReleaseTrain objects.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ExtensionTypeVersionForReleaseTrain"
          },
          "description": "List of Extension Type Versions for an Extension Type in a Release Train."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "URL to get the next set of extension objects, if any."
        }
      }
    },
    "ExtensionTypeVersionUnsupportedKubernetesMatrix": {
      "type": "array",
      "items": {
        "type": "object",
        "description": "The list of Kubernetes Distribution and Versions that are not supported by this version of this Extension Type",
        "properties": {
          "distributions": {
            "type": "array",
            "description": "The list of Kubernetes Cluster Distribution Names not supported",
            "items": {
              "description": "A single Kubernetes Cluster Distribution Name",
              "type": "string"
            }
          },
          "unsupportedVersions": {
            "type": "array",
            "description": "The list of Kubernetes Versions not supported by the list of Kubernetes Cluster Distribution names in this object",
            "items": {
              "type": "string",
              "description": "A Kubernetes Version not supported by the list of Kubernetes Cluster Distribution names"
            }
          }
        }
      },
      "x-ms-identifiers": []
    }
  },
  "parameters": {
    "ExtensionTypeNameParameter": {
      "name": "extensionTypeName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z][a-zA-Z0-9-_]*$",
      "description": "Name of the Extension Type.",
      "x-ms-parameter-location": "method"
    },
    "VersionNumberParameter": {
      "name": "versionNumber",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Version number of the Extension Type.",
      "x-ms-parameter-location": "method"
    }
  }
}
