{
  "swagger": "2.0",
  "info": {
    "version": "2015-12-01-preview",
    "title": "StorageManagementClient",
    "description": "The Admin Storage Management Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/operationresults/{operationId}": {
      "post": {
        "x-ms-examples": {
          "Cancel a container migration job.": {
            "$ref": "./examples/Containers/CancelMigration.json"
          }
        },
        "tags": [
          "Containers"
        ],
        "operationId": "Containers_CancelMigration",
        "description": "Cancel a container migration job.",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Operation has been accepted and processed",
            "schema": {
              "$ref": "#/definitions/MigrationResult"
            }
          },
          "202": {
            "description": "ACCEPTED - Operation has been accepted will be processed asynchronously",
            "schema": {
              "$ref": "#/definitions/MigrationResult"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "x-ms-examples": {
          "Returns the status of a container migration job.": {
            "$ref": "./examples/Containers/MigrationStatus.json"
          }
        },
        "tags": [
          "Containers"
        ],
        "operationId": "Containers_MigrationStatus",
        "description": "Returns the status of a container migration job.",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Operation has been accepted and processed",
            "schema": {
              "$ref": "#/definitions/MigrationResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/containers": {
      "get": {
        "x-ms-examples": {
          "Returns the list of containers which can be migrated in the specified share.": {
            "$ref": "./examples/Containers/List.json"
          }
        },
        "tags": [
          "Containers"
        ],
        "operationId": "Containers_List",
        "description": "Returns the list of containers which can be migrated in the specified share.",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ShareNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/MigrationIntentParameter"
          },
          {
            "$ref": "#/parameters/MaxCountParameter"
          },
          {
            "$ref": "#/parameters/StartIndexParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- The list of containers has been returned.",
            "schema": {
              "$ref": "#/definitions/ContainerList"
            }
          },
          "404": {
            "description": "NOT FOUND -- The specified farm or share was not found."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/destinationshares": {
      "get": {
        "x-ms-examples": {
          "Returns a list of destination shares that the system considers as best candidates for migration.": {
            "$ref": "./examples/Containers/ListDestinationShares.json"
          }
        },
        "tags": [
          "Containers"
        ],
        "operationId": "Containers_ListDestinationShares",
        "description": "Returns a list of destination shares that the system considers as best candidates for migration.",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ShareNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- The list of shares has been returned.",
            "schema": {
              "$ref": "shares.json#/definitions/ShareList"
            }
          },
          "404": {
            "description": "NOT FOUND -- The specified farm or share was not found."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/migrate": {
      "post": {
        "x-ms-examples": {
          "Starts a container migration job to migrate containers to the specified destination share.": {
            "$ref": "./examples/Containers/Migrate.json"
          }
        },
        "tags": [
          "Containers"
        ],
        "operationId": "Containers_Migrate",
        "description": "Starts a container migration job to migrate containers to the specified destination share.",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ShareNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/MigrationParameterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Container has been migrated",
            "schema": {
              "$ref": "#/definitions/MigrationResult"
            }
          },
          "202": {
            "description": "ACCEPTED -- Operation accepted and will be performed asynchronously",
            "schema": {
              "$ref": "#/definitions/MigrationResult"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Container": {
      "description": "Container properties.",
      "type": "object",
      "properties": {
        "sharename": {
          "description": "The name of the share where the container locates.",
          "type": "string",
          "readOnly": true
        },
        "accountname": {
          "description": "The name of storage account where the container locates.",
          "type": "string",
          "readOnly": true
        },
        "containername": {
          "description": "Container name.",
          "type": "string",
          "readOnly": true
        },
        "containerid": {
          "description": "The container ID.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "accountid": {
          "description": "The ID of the storage account.",
          "type": "string",
          "readOnly": true
        },
        "usedBytesInPrimaryVolume": {
          "description": "The used space, in bytes, of the container in the primary volume.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "containerState": {
          "description": "The current state of the container.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ContainerList": {
      "description": "List of containers.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Container"
      }
    },
    "MigrationResult": {
      "description": "The result of the container migration.",
      "type": "object",
      "properties": {
        "jobId": {
          "description": "The migration job ID.",
          "type": "string",
          "readOnly": true
        },
        "sourceShareName": {
          "description": "The name of the source storage share.",
          "type": "string",
          "readOnly": true
        },
        "storageAccountName": {
          "description": "The storage account name.",
          "type": "string",
          "readOnly": true
        },
        "containerName": {
          "description": "The name of the container to be migrated.",
          "type": "string",
          "readOnly": true
        },
        "destinationShareName": {
          "description": "The name of the destination storage share.",
          "type": "string",
          "readOnly": true
        },
        "migrationStatus": {
          "description": "The migration status.",
          "$ref": "#/definitions/MigrationState",
          "readOnly": true
        },
        "subEntitiesCompleted": {
          "description": "The number of entities which have been migrated.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "subEntitiesFailed": {
          "description": "The number of entities which failed in migration.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "failureReason": {
          "description": "The migration failure reason.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MigrationState": {
      "type": "string",
      "enum": [
        "Active",
        "Paused",
        "Deleted",
        "Rollback",
        "Complete",
        "Canceled",
        "Failed",
        "All"
      ],
      "x-ms-enum": {
        "name": "MigrationState",
        "modelAsString": true
      }
    },
    "MigrationParameters": {
      "description": "Parameters of container migration job.",
      "type": "object",
      "properties": {
        "storageAccountName": {
          "type": "string",
          "description": "The name of the storage account where the container locates."
        },
        "containerName": {
          "type": "string",
          "description": "The name of the container to be migrated."
        },
        "destinationShareUncPath": {
          "type": "string",
          "description": "The UNC path of the destination share for migration."
        }
      },
      "required": [
        "storageAccountName",
        "containerName",
        "destinationShareUncPath"
      ]
    }
  },
  "parameters": {
    "MigrationIntentParameter": {
      "description": "The container migration intent.",
      "name": "Intent",
      "in": "query",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "MaxCountParameter": {
      "description": "The maximum number of containers.",
      "name": "MaxCount",
      "in": "query",
      "type": "integer",
      "format": "int32",
      "required": false,
      "x-ms-parameter-location": "method"
    },
    "StartIndexParameter": {
      "description": "The starting index the resource provider uses.",
      "name": "StartIndex",
      "in": "query",
      "type": "integer",
      "format": "int32",
      "required": false,
      "x-ms-parameter-location": "method"
    },
    "MigrationParameterParameter": {
      "description": "The parameters of container migration job.",
      "name": "migrationParameters",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/MigrationParameters"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
