{
  "swagger": "2.0",
  "info": {
    "version": "2015-12-01-preview",
    "title": "StorageManagementClient",
    "description": "The Admin Storage Management Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares": {
      "get": {
        "x-ms-examples": {
          "Returns a list of storage shares.": {
            "$ref": "./examples/Shares/List.json"
          }
        },
        "tags": [
          "Shares"
        ],
        "description": "Returns a list of storage shares.",
        "operationId": "Shares_List",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- The list of storage shares has been returned.",
            "schema": {
              "$ref": "#/definitions/ShareList"
            }
          },
          "404": {
            "description": "NOT FOUND -- The farm cannot be found."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/metrics": {
      "get": {
        "x-ms-examples": {
          "Returns a list of metrics for a storage share.": {
            "$ref": "./examples/Shares/ListMetrics.json"
          }
        },
        "tags": [
          "Shares"
        ],
        "description": "Returns a list of metrics for a storage share.",
        "operationId": "Shares_ListMetrics",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ShareNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- The list of metrics has been returned.",
            "schema": {
              "$ref": "storage.json#/definitions/MetricList"
            }
          },
          "404": {
            "description": "NOT FOUND -- The farm or share cannot be found."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/metricdefinitions": {
      "get": {
        "x-ms-examples": {
          "Returns a list of metric definitions for a storage share.": {
            "$ref": "./examples/Shares/ListMetricDefinitions.json"
          }
        },
        "tags": [
          "Shares"
        ],
        "description": "Returns a list of metric definitions for a storage share.",
        "operationId": "Shares_ListMetricDefinitions",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ShareNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- The list of metric definitions has been returned.",
            "schema": {
              "$ref": "storage.json#/definitions/MetricDefinitionList"
            }
          },
          "404": {
            "description": "NOT FOUND -- The farm cannot be found."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}": {
      "get": {
        "x-ms-examples": {
          "Returns a storage share.": {
            "$ref": "./examples/Shares/Get.json"
          }
        },
        "tags": [
          "Shares"
        ],
        "description": "Returns a storage share.",
        "operationId": "Shares_Get",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ShareNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- The storage share has been returned.",
            "schema": {
              "$ref": "#/definitions/Share"
            }
          },
          "404": {
            "description": "NOT FOUND -- The farm or storage share cannot be found."
          }
        }
      }
    }
  },
  "definitions": {
    "Share": {
      "description": "Storage share.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Storage share properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ShareProperties",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "storage.json#/definitions/Resource"
        }
      ]
    },
    "ShareList": {
      "description": "List of storage shares.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Share"
      }
    },
    "ShareProperties": {
      "description": "Storage share properties.",
      "type": "object",
      "properties": {
        "shareName": {
          "description": "The name of the storage share.",
          "type": "string",
          "readOnly": true
        },
        "uncPath": {
          "description": "The UNC path to the storage share.",
          "type": "string",
          "readOnly": true
        },
        "totalCapacity": {
          "description": "The total capacity of the storage share in bytes.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "usedCapacity": {
          "description": "The used capacity of the storage share in bytes.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "freeCapacity": {
          "description": "The free space of the storage share in bytes.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "healthStatus": {
          "description": "The health status of the storage share.",
          "$ref": "storage.json#/definitions/HealthStatus",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {},
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
