{
  "swagger": "2.0",
  "info": {
    "version": "2015-12-01-preview",
    "title": "StorageManagementClient",
    "description": "The Admin Storage Management Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/storageaccounts": {
      "get": {
        "x-ms-examples": {
          "Returns a list of storage accounts.": {
            "$ref": "./examples/StorageAccounts/List.json"
          }
        },
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_List",
        "description": "Returns a list of storage accounts.",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SummaryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- The list of storage accounts has been returned.",
            "schema": {
              "$ref": "#/definitions/StorageAccountList"
            }
          },
          "404": {
            "description": "NOT FOUND -- The specified farm was not found."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/storageaccounts/{accountId}": {
      "get": {
        "x-ms-examples": {
          "Returns the requested storage account.": {
            "$ref": "./examples/StorageAccounts/Get.json"
          }
        },
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_Get",
        "description": "Returns the requested storage account.",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "#/parameters/AccountIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- The storage account has been returned.",
            "schema": {
              "$ref": "#/definitions/StorageAccount"
            }
          },
          "404": {
            "description": "NOT FOUND -- The storage account or farm was not found."
          }
        }
      },
      "post": {
        "x-ms-examples": {
          "Undelete a deleted storage account.": {
            "$ref": "./examples/StorageAccounts/Undelete.json"
          }
        },
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_Undelete",
        "description": "Undelete a deleted storage account.",
        "parameters": [
          {
            "$ref": "storage.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "storage.json#/parameters/FarmIdParameter"
          },
          {
            "$ref": "#/parameters/AccountIdParameter"
          },
          {
            "$ref": "storage.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Undelete either has been performed or account was not deleted."
          }
        }
      }
    }
  },
  "definitions": {
    "StorageAccountState": {
      "readOnly": true,
      "description": "Storage account state.",
      "type": "string",
      "enum": [
        "Creating",
        "Succeeded",
        "Suspended"
      ],
      "x-ms-enum": {
        "name": "StorageAccountState",
        "modelAsString": true
      }
    },
    "StorageAccountType": {
      "description": "Storage account type.",
      "type": "string",
      "enum": [
        "Standard_LRS",
        "Standard_GRS",
        "Standard_ZRS",
        "Standard_RAGRS",
        "Premium_LRS"
      ],
      "x-ms-enum": {
        "name": "StorageAccountType",
        "modelAsString": true
      }
    },
    "LocationStatus": {
      "readOnly": true,
      "type": "string",
      "description": "Gets the status indicating whether the primary location of the storage account is available or unavailable.",
      "enum": [
        "Available",
        "Unavailable"
      ],
      "x-ms-enum": {
        "name": "LocationStatus",
        "modelAsString": true
      }
    },
    "StorageAccountOperation": {
      "readOnly": true,
      "description": "The permissions of storage account in WAC.",
      "type": "string",
      "enum": [
        "None",
        "Create",
        "Update",
        "Suspend",
        "Delete",
        "Undelete"
      ],
      "x-ms-enum": {
        "name": "StorageAccountOperation",
        "modelAsString": true
      }
    },
    "StorageAccountStatus": {
      "description": "The state of storage account in WAC.",
      "type": "string",
      "enum": [
        "Active",
        "Deleted",
        "OutOfRetentionPeriod",
        "Recycled"
      ],
      "x-ms-enum": {
        "name": "StorageAccountStatus",
        "modelAsString": true
      }
    },
    "WacAccountPermissions": {
      "description": "Current operation being performed on Storage Account",
      "type": "string",
      "enum": [
        "Empty",
        "None",
        "Read",
        "Delete",
        "Write",
        "Full"
      ],
      "x-ms-enum": {
        "name": "WacAccountPermissions",
        "modelAsString": true
      }
    },
    "WacAccountStates": {
      "description": "Current operation being performed on Storage Account",
      "type": "string",
      "enum": [
        "None",
        "Active",
        "Deleted",
        "AboveQuota",
        "Suspended",
        "All"
      ],
      "x-ms-enum": {
        "name": "WacAccountStates",
        "modelAsString": true
      }
    },
    "StorageAccountProperties": {
      "description": "Properties of a storage account.",
      "type": "object",
      "properties": {
        "tenantViewId": {
          "description": "Resource URI of storage account from tenant view.",
          "type": "string",
          "readOnly": true
        },
        "accountType": {
          "description": "Storage account type.",
          "$ref": "#/definitions/StorageAccountType",
          "readOnly": true
        },
        "provisioningState": {
          "description": "The provisioning state of storage account.",
          "$ref": "#/definitions/StorageAccountState",
          "readOnly": true
        },
        "primaryEndpoints": {
          "description": "The URLs that are used to perform a retrieval of a public BLOB, queue, or table object.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "creationTime": {
          "description": "The creation date and time of storage account in UTC.",
          "type": "string",
          "readOnly": true
        },
        "alternateName": {
          "description": "Alternative storage account name being used during undelete operation.",
          "type": "string",
          "readOnly": true
        },
        "primaryLocation": {
          "description": "The primary location for the storage account.",
          "type": "string",
          "readOnly": true
        },
        "statusOfPrimary": {
          "description": "The status of primary location of storage account.",
          "$ref": "#/definitions/LocationStatus",
          "readOnly": true
        },
        "tenantSubscriptionId": {
          "description": "Subscription ID of the subscription under which the storage account locates.",
          "type": "string",
          "readOnly": true
        },
        "tenantStorageAccountName": {
          "description": "Storage account name from tenant view.",
          "type": "string",
          "readOnly": true
        },
        "tenantResourceGroupName": {
          "description": "The name of resource group under which the storage account locates.",
          "type": "string",
          "readOnly": true
        },
        "currentOperation": {
          "description": "Current operation being performed on Storage Account",
          "$ref": "#/definitions/StorageAccountOperation",
          "readOnly": true
        },
        "customDomain": {
          "description": "The custom domain the user assigned to this storage account.",
          "type": "string",
          "readOnly": true
        },
        "acquisitionOperationCount": {
          "description": "The count of acquisitions in the storage account.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "deletedTime": {
          "description": "The date-time when the storage account was deleted.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "accountStatus": {
          "$ref": "#/definitions/StorageAccountStatus",
          "description": "The status of storage account."
        },
        "recoveredTime": {
          "description": "The time when the storage account is undeleted.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "recycledTime": {
          "description": "The time when the storage account is physically deleted.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "permissions": {
          "description": "The permissions on the storage account.",
          "$ref": "#/definitions/WacAccountPermissions",
          "readOnly": true
        },
        "accountId": {
          "description": "Internal storage account ID, which is not visible to tenant.",
          "type": "string",
          "readOnly": true
        },
        "wacInternalState": {
          "description": "The internal state of storage account in WAC.",
          "$ref": "#/definitions/WacAccountStates",
          "readOnly": true
        },
        "resourceAdminApiVersion": {
          "description": "Storage admin REST API version.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StorageAccount": {
      "description": "Properties of the storage account.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties of the storage account.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/StorageAccountProperties",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "storage.json#/definitions/Resource"
        }
      ]
    },
    "StorageAccountList": {
      "description": "Pageable list of storage accounts.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of storage accounts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageAccount"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "AccountIdParameter": {
      "description": "Internal storage account ID, which is not visible to tenant.",
      "name": "accountId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SummaryParameter": {
      "description": "Switch for whether summary or detailed information is returned.",
      "name": "summary",
      "in": "query",
      "required": true,
      "type": "boolean",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
