{
  "swagger": "2.0",
  "info": {
    "title": "ExternalIdentities",
    "version": "2021-04-01",
    "description": "Manage the Azure resource for an Azure Active Directory B2C tenant and guestUsages resource for External Identities in Azure AD"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/checkNameAvailability": {
      "post": {
        "tags": [
          "B2CTenants"
        ],
        "operationId": "B2CTenants_CheckNameAvailability",
        "description": "Checks the availability and validity of a domain name for the tenant.",
        "x-ms-examples": {
          "Check name availability - available": {
            "$ref": "./examples/checkNameAvailability-available.json"
          },
          "Check name availability - taken": {
            "$ref": "./examples/checkNameAvailability-taken.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "checkNameAvailabilityRequestBody",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result of checking for the name availability.",
            "schema": {
              "$ref": "#/definitions/NameAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories": {
      "get": {
        "description": "Get all the Azure AD B2C tenant resources in a resource group.",
        "operationId": "B2CTenants_ListByResourceGroup",
        "tags": [
          "B2CTenants"
        ],
        "x-ms-examples": {
          "B2CTenants_ListByResourceGroup": {
            "$ref": "./examples/listTenantsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Azure AD B2C tenants in resource group successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/B2CTenantResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/b2cDirectories": {
      "get": {
        "description": "Get all the Azure AD B2C tenant resources in a subscription.",
        "operationId": "B2CTenants_ListBySubscription",
        "tags": [
          "B2CTenants"
        ],
        "x-ms-examples": {
          "B2CTenants_ListBySubscription": {
            "$ref": "./examples/listTenantsBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure AD B2C tenant resources in subscription successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/B2CTenantResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories/{resourceName}": {
      "get": {
        "description": "Get the Azure AD B2C tenant resource.",
        "operationId": "B2CTenants_Get",
        "tags": [
          "B2CTenants"
        ],
        "x-ms-examples": {
          "Get tenant": {
            "$ref": "./examples/getTenant.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure AD B2C tenant resource successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/B2CTenantResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "B2CTenants_Create",
        "description": "Initiates an async request to create both the Azure AD B2C tenant and the corresponding Azure resource linked to a subscription.",
        "x-ms-examples": {
          "Create tenant": {
            "$ref": "./examples/createTenant.json"
          }
        },
        "tags": [
          "B2CTenants"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "createTenantRequestBody",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CreateTenantRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Response of the URL in Location header if the async operation is successful. Resource will be created.",
            "schema": {
              "$ref": "#/definitions/B2CTenantResource"
            }
          },
          "202": {
            "description": "Azure AD B2C tenant create request accepted. The Location header indicates the URL/location in which to check to get the async status of the operation.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Contains the number of seconds to wait before polling the location.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "description": "Update the Azure AD B2C tenant resource.",
        "operationId": "B2CTenants_Update",
        "tags": [
          "B2CTenants"
        ],
        "x-ms-examples": {
          "Update tenant": {
            "$ref": "./examples/updateTenant.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "updateTenantRequestBody",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/B2CTenantUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated the Azure AD B2C tenant resource.",
            "schema": {
              "$ref": "#/definitions/B2CTenantResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "B2CTenants_Delete",
        "description": "Initiates an async operation to delete the Azure AD B2C tenant and Azure resource. The resource deletion can only happen as the last step in [the tenant deletion process](https://aka.ms/deleteB2Ctenant). ",
        "x-ms-examples": {
          "Delete tenant": {
            "$ref": "./examples/deleteTenant.json"
          }
        },
        "tags": [
          "B2CTenants"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response of the URL in Location header if the asynchronous operation is successful. Resource will no longer exist."
          },
          "202": {
            "description": "Resource deletion request accepted. The Location header indicates the URL/location in which to poll for a result of the asynchronous operation. ",
            "headers": {
              "Location": {
                "description": "Contains the URL/location which can return the deletion status.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Contains the number of seconds to wait before checking the deletion status.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent - Azure AD B2C tenant resource successfully deleted or didn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/providers/Microsoft.AzureActiveDirectory/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "operations_list": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "description": "Lists the operations available from this provider.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/AvailableOperations"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages/{resourceName}": {
      "put": {
        "operationId": "GuestUsages_Create",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Create": {
            "$ref": "./examples/GuestUsagesCreate.json"
          }
        },
        "summary": "Creates a Guest Usages resource",
        "description": "Creates a Guest Usages resource, which is used to linking a subscription to an instance of Azure AD External Identities. [Learn more](https://aka.ms/extidbilling).",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "Resource",
            "in": "body",
            "description": "Guest Usages resource to be created",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and the resource was created successfully",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "operationId": "GuestUsages_Update",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Update": {
            "$ref": "./examples/GuestUsagesUpdate.json"
          }
        },
        "summary": "Updates a Guest Usages resource",
        "description": "Updates a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "ResourcePatch",
            "in": "body",
            "description": "Guest Usages Resource to be updated",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Guest Usages Resource Successfully Updated",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "GuestUsages_Delete",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Delete": {
            "$ref": "./examples/GuestUsagesDelete.json"
          }
        },
        "summary": "Deletes a Guest Usages resource",
        "description": "Deletes a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Guest Usages resource was successfully deleted."
          },
          "204": {
            "description": "Guest Usages resource successfully deleted or didn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "get": {
        "operationId": "GuestUsages_Get",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsages_Get": {
            "$ref": "./examples/GuestUsagesGet.json"
          }
        },
        "summary": "Gets a Guest Usages resource",
        "description": "Gets a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Guest Usages resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/guestUsages": {
      "get": {
        "operationId": "GuestUsages_ListBySubscription",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsagesSubscription_List": {
            "$ref": "./examples/GuestUsagesSubscriptionGet.json"
          }
        },
        "summary": "Gets Guest Usages resources under a subscription",
        "description": "Gets Guest Usages resources under a subscription for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Guest Usages resources under the subscription successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages": {
      "get": {
        "operationId": "GuestUsages_ListByResourceGroup",
        "tags": [
          "GuestUsages"
        ],
        "x-ms-examples": {
          "GuestUsagesResourceGroup_List": {
            "$ref": "./examples/GuestUsagesResourceGroupGet.json"
          }
        },
        "summary": "Gets Guest Usages resources under resource group",
        "description": "Gets Guest Usages resources under a resource group for the Microsoft.AzureActiveDirectory resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Guest Usages resources under the resourceGroup successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/GuestUsagesResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "AvailableOperations": {
      "description": "Available operations of the service",
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of available operation details",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationDetail"
          }
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "OperationDetail": {
      "description": "Operation detail payload",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Display of the operation"
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display payload",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource provider of the operation",
          "type": "string"
        },
        "resource": {
          "description": "Resource of the operation",
          "type": "string"
        },
        "operation": {
          "description": "Localized friendly name for the operation",
          "type": "string"
        },
        "description": {
          "description": "Localized friendly description for the operation",
          "type": "string"
        }
      }
    },
    "B2CTenantResourceProperties": {
      "description": "Properties of the Azure AD B2C tenant Azure resource.",
      "type": "object",
      "properties": {
        "billingConfig": {
          "type": "object",
          "description": "The billing configuration for the tenant.",
          "properties": {
            "billingType": {
              "type": "string",
              "description": "The type of billing. Will be MAU for all new customers. If 'Auths', it can be updated to 'MAU'. Cannot be changed if value is 'MAU'. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling).",
              "enum": [
                "MAU",
                "Auths"
              ],
              "x-ms-enum": {
                "name": "BillingType",
                "modelAsString": true,
                "values": [
                  {
                    "value": "MAU",
                    "description": "Azure AD B2C usage is billed to a linked Azure subscription and uses a monthly active users (MAU) billing model."
                  },
                  {
                    "value": "Auths",
                    "description": "Azure AD B2C usage is billed to a linked Azure subscription and uses number of authentications based billing."
                  }
                ]
              }
            },
            "effectiveStartDateUtc": {
              "type": "string",
              "readOnly": true,
              "description": "The data from which the billing type took effect"
            }
          }
        },
        "tenantId": {
          "type": "string",
          "description": "An identifier of the Azure AD B2C tenant."
        }
      }
    },
    "B2CResourceSKU": {
      "description": "SKU properties of the Azure AD B2C tenant. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling).",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SKU for the tenant.",
          "enum": [
            "Standard",
            "PremiumP1",
            "PremiumP2"
          ],
          "x-ms-enum": {
            "name": "B2CResourceSKUName",
            "modelAsString": true,
            "values": [
              {
                "value": "Standard",
                "description": "Azure AD B2C usage is billed to a linked Azure subscription and uses a monthly active users (MAU) billing model."
              },
              {
                "value": "PremiumP1",
                "description": "Azure AD B2C usage is billed to a linked Azure subscription and uses number of authentications based billing."
              },
              {
                "value": "PremiumP2",
                "description": "Azure AD B2C usage is billed to a linked Azure subscription and uses number of authentications based billing."
              }
            ]
          }
        },
        "tier": {
          "type": "string",
          "description": "The tier of the tenant.",
          "enum": [
            "A0"
          ],
          "x-ms-enum": {
            "name": "B2CResourceSKUTier",
            "modelAsString": true,
            "values": [
              {
                "value": "A0",
                "description": "The SKU tier used for all Azure AD B2C tenants."
              }
            ]
          }
        }
      }
    },
    "NameAvailabilityResponse": {
      "description": "Response of the CheckNameAvailability operation.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Description of the reason if name is not available."
        },
        "nameAvailable": {
          "type": "boolean",
          "description": "True if the name is available and can be used to create a new tenant. Otherwise false."
        },
        "reason": {
          "$ref": "#/definitions/NameAvailabilityReason"
        }
      }
    },
    "NameAvailabilityReason": {
      "description": "Describes the reason for the 'nameAvailable' value.",
      "type": "string",
      "enum": [
        "AlreadyExists",
        "Invalid"
      ],
      "x-ms-enum": {
        "name": "NameAvailabilityReasonType",
        "modelAsString": true,
        "values": [
          {
            "value": "AlreadyExists",
            "description": "The name is already in use and is therefore unavailable."
          },
          {
            "value": "Invalid",
            "description": "The name provided does not match the resource provider’s naming requirements (incorrect length, unsupported characters, etc.)."
          }
        ]
      }
    },
    "CheckNameAvailabilityRequestBody": {
      "type": "object",
      "description": "The information required to check the availability of the name for the tenant.",
      "required": [
        "name",
        "countryCode"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The domain name to check for availability."
        },
        "countryCode": {
          "$ref": "#/definitions/CountryCode"
        }
      }
    },
    "B2CTenantUpdateRequest": {
      "type": "object",
      "description": "The request body to update the Azure AD B2C tenant resource.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/B2CResourceSKU"
        },
        "properties": {
          "$ref": "#/definitions/B2CTenantResourceProperties",
          "x-ms-client-flatten": true,
          "description": "The Azure AD B2C tenant resource properties."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource Tags"
        }
      }
    },
    "B2CTenantResource": {
      "type": "object",
      "required": [
        "location",
        "sku"
      ],
      "x-ms-azure-resource": true,
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the B2C tenant resource.",
          "readOnly": true,
          "enum": [
            "Microsoft.AzureActiveDirectory/b2cDirectories"
          ],
          "x-ms-enum": {
            "name": "TypeValue",
            "modelAsString": true,
            "values": [
              {
                "value": "Microsoft.AzureActiveDirectory/b2cDirectories",
                "description": "The resource type for Azure AD B2C tenant resource."
              }
            ]
          }
        },
        "sku": {
          "$ref": "#/definitions/B2CResourceSKU"
        },
        "properties": {
          "$ref": "#/definitions/B2CTenantResourceProperties",
          "x-ms-client-flatten": true,
          "description": "The Azure AD B2C tenant resource properties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "An identifier that represents the Azure AD B2C tenant resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the Azure AD B2C tenant resource."
        },
        "location": {
          "type": "string",
          "description": "The location in which the resource is hosted and data resides. Can be one of 'United States', 'Europe', 'Asia Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency) for more information.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource Tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "B2CTenantResourceList": {
      "description": "The collection of Azure AD B2C tenant resources",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Azure AD B2C tenant resources",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/B2CTenantResource"
          }
        }
      }
    },
    "CreateTenantRequestBody": {
      "type": "object",
      "description": "The information needed to create the Azure AD B2C tenant and corresponding Azure resource, which is used for billing purposes.",
      "required": [
        "location",
        "sku",
        "properties"
      ],
      "x-ms-azure-resource": true,
      "properties": {
        "location": {
          "type": "string",
          "description": "The location in which the resource is hosted and data resides. Can be one of 'United States', 'Europe', 'Asia Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency) for more information."
        },
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "properties": {
            "createTenantProperties": {
              "x-ms-client-flatten": true,
              "$ref": "#/definitions/CreateTenantProperties"
            }
          }
        },
        "sku": {
          "$ref": "#/definitions/B2CResourceSKU"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource Tags"
        }
      }
    },
    "CreateTenantProperties": {
      "type": "object",
      "description": "These properties are used to create the Azure AD B2C tenant. These properties are not part of the Azure resource.",
      "properties": {
        "displayName": {
          "description": "The display name of the Azure AD B2C tenant.",
          "type": "string"
        },
        "countryCode": {
          "$ref": "#/definitions/CountryCode"
        }
      }
    },
    "CountryCode": {
      "type": "string",
      "description": "Country code of Azure tenant (e.g. 'US'). Refer to [aka.ms/B2CDataResidency](https://aka.ms/B2CDataResidency) to see valid country codes and corresponding data residency locations. If you do not see a country code in an valid data residency location, choose one from the list."
    },
    "GuestUsagesResourceProperties": {
      "description": "Guest Usages Resource Properties",
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "An identifier for the tenant for which the resource is being created"
        }
      }
    },
    "GuestUsagesResource": {
      "description": "Guest Usages Resource",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "An identifier that represents the Guest Usages resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the Guest Usages resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the Guest Usages resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the Guest Usages resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional resource provisioning properties."
        },
        "properties": {
          "$ref": "#/definitions/GuestUsagesResourceProperties",
          "x-ms-client-flatten": true,
          "description": "The Guest Usages Resource Properties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "GuestUsagesResourcePatch": {
      "description": "Guest Usages Resource for Patch",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional resource provisioning properties."
        }
      }
    },
    "GuestUsagesResourceList": {
      "description": "The collection of guest usages resources",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of guest usages resources",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/GuestUsagesResource"
          }
        }
      }
    },
    "CloudError": {
      "x-ms-external": true,
      "type": "object",
      "properties": {
        "error": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
        }
      },
      "description": "An error response for a resource management request."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The initial domain name of the Azure AD B2C tenant.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request."
    }
  }
}
