{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "version": "2023-09-01",
    "description": "The resources in this API specification will be used to manage attached data network resources in mobile network attached to a particular packet core instance",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AttachedDataNetworks"
    },
    {
      "name": "PacketCoreDataPlanes"
    },
    {
      "name": "PacketCoreControlPlanes"
    },
    {
      "name": "DataNetworks"
    },
    {
      "name": "MobileNetworks"
    },
    {
      "name": "DiagnosticsPackages"
    },
    {
      "name": "PacketCaptures"
    },
    {
      "name": "PacketCoreControlPlaneVersions"
    },
    {
      "name": "Services"
    },
    {
      "name": "Sims"
    },
    {
      "name": "SimGroups"
    },
    {
      "name": "SimPolicies"
    },
    {
      "name": "Sites"
    },
    {
      "name": "Slices"
    }
  ],
  "paths": {
    "/providers/Microsoft.MobileNetwork/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.MobileNetwork/packetCoreControlPlaneVersions": {
      "get": {
        "operationId": "PacketCoreControlPlaneVersions_List",
        "tags": [
          "PacketCoreControlPlaneVersions"
        ],
        "description": "Lists all supported packet core control planes versions.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get supported packet core control plane versions": {
            "$ref": "./examples/PacketCoreControlPlaneVersions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.MobileNetwork/packetCoreControlPlaneVersions/{versionName}": {
      "get": {
        "operationId": "PacketCoreControlPlaneVersions_Get",
        "tags": [
          "PacketCoreControlPlaneVersions"
        ],
        "description": "Gets information about the specified packet core control plane version.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "versionName",
            "in": "path",
            "description": "The name of the packet core control plane version.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get packet core control plane version": {
            "$ref": "./examples/PacketCoreControlPlaneVersions_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/mobileNetworks": {
      "get": {
        "operationId": "MobileNetworks_ListBySubscription",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Lists all the mobile networks in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MobileNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile networks in a subscription": {
            "$ref": "./examples/MobileNetworks_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/packetCoreControlPlaneVersions": {
      "get": {
        "operationId": "PacketCoreControlPlaneVersionsOperations_ListBySubscription",
        "description": "Lists all supported packet core control planes versions.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription. The value must be an UUID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/packetCoreControlPlaneVersions/{versionName}": {
      "get": {
        "operationId": "PacketCoreControlPlaneVersionsOperations_GetBySubscription",
        "description": "Gets information about the specified packet core control plane version.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "versionName",
            "in": "path",
            "description": "The name of the packet core control plane version.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription. The value must be an UUID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes": {
      "get": {
        "operationId": "PacketCoreControlPlanes_ListBySubscription",
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "description": "Lists all the packet core control planes in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List packet core control planes in a subscription": {
            "$ref": "./examples/PacketCoreControlPlanes_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/simGroups": {
      "get": {
        "operationId": "SimGroups_ListBySubscription",
        "tags": [
          "SimGroups"
        ],
        "description": "Gets all the SIM groups in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SimGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SIM groups in a subscription": {
            "$ref": "./examples/SimGroups_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks": {
      "get": {
        "operationId": "MobileNetworks_ListByResourceGroup",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Lists all the mobile networks in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MobileNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile networks in resource group": {
            "$ref": "./examples/MobileNetworks_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}": {
      "get": {
        "operationId": "MobileNetworks_Get",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Gets information about the specified mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MobileNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get mobile network": {
            "$ref": "./examples/MobileNetworks_Get.json"
          }
        }
      },
      "put": {
        "operationId": "MobileNetworks_CreateOrUpdate",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Creates or updates a mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update mobile network operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MobileNetwork"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MobileNetwork' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MobileNetwork"
            }
          },
          "201": {
            "description": "Resource 'MobileNetwork' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MobileNetwork"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create mobile network": {
            "$ref": "./examples/MobileNetworks_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MobileNetworks_UpdateTags",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Updates mobile network tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update mobile network tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MobileNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update mobile network tags": {
            "$ref": "./examples/MobileNetworks_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "MobileNetworks_Delete",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Deletes the specified mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete mobile network": {
            "$ref": "./examples/MobileNetworks_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/dataNetworks": {
      "get": {
        "operationId": "DataNetworks_ListByMobileNetwork",
        "tags": [
          "DataNetworks"
        ],
        "description": "Lists all data networks in the mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List data networks in a mobile network": {
            "$ref": "./examples/DataNetworks_ListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/dataNetworks/{dataNetworkName}": {
      "get": {
        "operationId": "DataNetworks_Get",
        "tags": [
          "DataNetworks"
        ],
        "description": "Gets information about the specified data network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "description": "The name of the data network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get data network": {
            "$ref": "./examples/DataNetworks_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DataNetworks_CreateOrUpdate",
        "tags": [
          "DataNetworks"
        ],
        "description": "Creates or updates a data network. Must be created in the same location as its parent mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "description": "The name of the data network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update data network operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataNetwork' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            }
          },
          "201": {
            "description": "Resource 'DataNetwork' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create data network": {
            "$ref": "./examples/DataNetworks_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DataNetworks_UpdateTags",
        "tags": [
          "DataNetworks"
        ],
        "description": "Updates data network tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "description": "The name of the data network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update data network tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update data network tags": {
            "$ref": "./examples/DataNetworks_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "DataNetworks_Delete",
        "tags": [
          "DataNetworks"
        ],
        "description": "Deletes the specified data network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "description": "The name of the data network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete data network": {
            "$ref": "./examples/DataNetworks_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/services": {
      "get": {
        "operationId": "Services_ListByMobileNetwork",
        "tags": [
          "Services"
        ],
        "description": "Gets all the services in a mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List services in a mobile network": {
            "$ref": "./examples/Services_ListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/services/{serviceName}": {
      "get": {
        "operationId": "Services_Get",
        "tags": [
          "Services"
        ],
        "description": "Gets information about the specified service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the service. You must not use any of the following reserved strings - `default`, `requested` or `service`",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^(?!(default|requested|service)$)[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Service"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get service": {
            "$ref": "./examples/Services_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Services_CreateOrUpdate",
        "tags": [
          "Services"
        ],
        "description": "Creates or updates a service. Must be created in the same location as its parent mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the service. You must not use any of the following reserved strings - `default`, `requested` or `service`",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^(?!(default|requested|service)$)[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update service operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Service"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Service' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Service"
            }
          },
          "201": {
            "description": "Resource 'Service' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Service"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create service": {
            "$ref": "./examples/Services_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Services_UpdateTags",
        "tags": [
          "Services"
        ],
        "description": "Updates service tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the service. You must not use any of the following reserved strings - `default`, `requested` or `service`",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^(?!(default|requested|service)$)[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update service tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Service"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update service tags": {
            "$ref": "./examples/Services_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "Services_Delete",
        "tags": [
          "Services"
        ],
        "description": "Deletes the specified service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the service. You must not use any of the following reserved strings - `default`, `requested` or `service`",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^(?!(default|requested|service)$)[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete service": {
            "$ref": "./examples/Services_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/simPolicies": {
      "get": {
        "operationId": "SimPolicies_ListByMobileNetwork",
        "tags": [
          "SimPolicies"
        ],
        "description": "Gets all the SIM policies in a mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SimPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SIM policies in a mobile network": {
            "$ref": "./examples/SimPolicies_ListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/simPolicies/{simPolicyName}": {
      "get": {
        "operationId": "SimPolicies_Get",
        "tags": [
          "SimPolicies"
        ],
        "description": "Gets information about the specified SIM policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "description": "The name of the SIM policy.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SIM policy": {
            "$ref": "./examples/SimPolicies_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SimPolicies_CreateOrUpdate",
        "tags": [
          "SimPolicies"
        ],
        "description": "Creates or updates a SIM policy. Must be created in the same location as its parent mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "description": "The name of the SIM policy.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update SIM policy operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SimPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            }
          },
          "201": {
            "description": "Resource 'SimPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SIM policy": {
            "$ref": "./examples/SimPolicies_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SimPolicies_UpdateTags",
        "tags": [
          "SimPolicies"
        ],
        "description": "Updates SIM policy tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "description": "The name of the SIM policy.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update SIM policy tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update SIM policy tags": {
            "$ref": "./examples/SimPolicies_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "SimPolicies_Delete",
        "tags": [
          "SimPolicies"
        ],
        "description": "Deletes the specified SIM policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "description": "The name of the SIM policy.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SIM policy": {
            "$ref": "./examples/SimPolicies_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/sites": {
      "get": {
        "operationId": "Sites_ListByMobileNetwork",
        "tags": [
          "Sites"
        ],
        "description": "Lists all sites in the mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile network sites in a mobile network": {
            "$ref": "./examples/Sites_ListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/sites/{siteName}": {
      "get": {
        "operationId": "Sites_Get",
        "tags": [
          "Sites"
        ],
        "description": "Gets information about the specified mobile network site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the mobile network site.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get mobile network site": {
            "$ref": "./examples/Sites_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Sites_CreateOrUpdate",
        "tags": [
          "Sites"
        ],
        "description": "Creates or updates a mobile network site. Must be created in the same location as its parent mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the mobile network site.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update mobile network site operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Site"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Site' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "201": {
            "description": "Resource 'Site' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Site"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create mobile network site": {
            "$ref": "./examples/Sites_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Sites_UpdateTags",
        "tags": [
          "Sites"
        ],
        "description": "Updates site tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the mobile network site.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update network site tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update mobile network site tags": {
            "$ref": "./examples/Sites_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "Sites_Delete",
        "tags": [
          "Sites"
        ],
        "description": "Deletes the specified mobile network site. This will also delete any network functions that are a part of this site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the mobile network site.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete mobile network site": {
            "$ref": "./examples/Sites_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/sites/{siteName}/deletePacketCore": {
      "post": {
        "operationId": "Sites_DeletePacketCore",
        "tags": [
          "Sites"
        ],
        "description": "Deletes a packet core under the specified mobile network site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the mobile network site.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to delete a packet core under a site.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteDeletePacketCore"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "ARM operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete packet core in mobile network site": {
            "$ref": "./examples/Sites_DeletePacketCore.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/slices": {
      "get": {
        "operationId": "Slices_ListByMobileNetwork",
        "tags": [
          "Slices"
        ],
        "description": "Lists all slices in the mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SliceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List network slices in a mobile network": {
            "$ref": "./examples/Slices_ListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/slices/{sliceName}": {
      "get": {
        "operationId": "Slices_Get",
        "tags": [
          "Slices"
        ],
        "description": "Gets information about the specified network slice.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "sliceName",
            "in": "path",
            "description": "The name of the network slice.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Slice"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get network slice": {
            "$ref": "./examples/Slices_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Slices_CreateOrUpdate",
        "tags": [
          "Slices"
        ],
        "description": "Creates or updates a network slice. Must be created in the same location as its parent mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "sliceName",
            "in": "path",
            "description": "The name of the network slice.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update network slice operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Slice"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Slice' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Slice"
            }
          },
          "201": {
            "description": "Resource 'Slice' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Slice"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create network slice": {
            "$ref": "./examples/Slices_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Slices_UpdateTags",
        "tags": [
          "Slices"
        ],
        "description": "Updates slice tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "sliceName",
            "in": "path",
            "description": "The name of the network slice.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update network slice tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Slice"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update network slice tags": {
            "$ref": "./examples/Slices_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "Slices_Delete",
        "tags": [
          "Slices"
        ],
        "description": "Deletes the specified network slice.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "sliceName",
            "in": "path",
            "description": "The name of the network slice.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete network slice": {
            "$ref": "./examples/Slices_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes": {
      "get": {
        "operationId": "PacketCoreControlPlanes_ListByResourceGroup",
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "description": "Lists all the packet core control planes in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List packet core control planes in resource group": {
            "$ref": "./examples/PacketCoreControlPlanes_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}": {
      "get": {
        "operationId": "PacketCoreControlPlanes_Get",
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "description": "Gets information about the specified packet core control plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "packetCoreControlPlaneName",
            "in": "path",
            "description": "The name of the packet core control plane.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlane"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get packet core control plane": {
            "$ref": "./examples/PacketCoreControlPlanes_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PacketCoreControlPlanes_CreateOrUpdate",
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "description": "Creates or updates a packet core control plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "packetCoreControlPlaneName",
            "in": "path",
            "description": "The name of the packet core control plane.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update packet core control plane operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlane"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PacketCoreControlPlane' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlane"
            }
          },
          "201": {
            "description": "Resource 'PacketCoreControlPlane' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlane"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create packet core control plane": {
            "$ref": "./examples/PacketCoreControlPlanes_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "PacketCoreControlPlanes_UpdateTags",
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "description": "Patch packet core control plane resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "packetCoreControlPlaneName",
            "in": "path",
            "description": "The name of the packet core control plane.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to patch packet core control plane resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityAndTagsObject"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlane"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch packet core control plane": {
            "$ref": "./examples/PacketCoreControlPlanes_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "PacketCoreControlPlanes_Delete",
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "description": "Deletes the specified packet core control plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "packetCoreControlPlaneName",
            "in": "path",
            "description": "The name of the packet core control plane.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete packet core control plane": {
            "$ref": "./examples/PacketCoreControlPlanes_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/collectDiagnosticsPackage": {
      "post": {
        "operationId": "PacketCoreControlPlanes_CollectDiagnosticsPackage",
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "description": "Collect a diagnostics package for the specified packet core control plane. This action will upload the diagnostics to a storage account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "packetCoreControlPlaneName",
            "in": "path",
            "description": "The name of the packet core control plane.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the packet core control plane collect diagnostics package operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneCollectDiagnosticsPackage"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AsyncOperationStatus"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Collect diagnostics package from packet core control plane": {
            "$ref": "./examples/PacketCoreControlPlanes_CollectDiagnosticsPackage.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/diagnosticsPackages": {
      "get": {
        "operationId": "DiagnosticsPackages_ListByPacketCoreControlPlane",
        "tags": [
          "DiagnosticsPackages"
        ],
        "description": "Lists all the diagnostics packages under a packet core control plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "packetCoreControlPlaneName",
            "in": "path",
            "description": "The name of the packet core control plane.",
            "required": true,
            "type": "string",
            "maxLength": 64,
[...]
