{
  "swagger": "2.0",
  "info": {
    "version": "2021-01-01-preview",
    "title": "Azure Alerts Management Service Resource Provider",
    "description": "APIs for managing a migration from Smart Detections to Smart Alerts."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/migrateFromSmartDetections": {
      "post": {
        "tags": [
          "SmartDetectionsMigration"
        ],
        "description": "Starts an asynchronous migration process of Smart Detections to Smart Alerts in an Application Insights resource.",
        "operationId": "SmartDetectionsMigration_Trigger",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SmartDetectionMigrationRequest"
            },
            "description": "The parameters controlling the migratio process."
          }
        ],
        "responses": {
          "202": {
            "description": "Migration requst was accepted. Processing will start promptly.",
            "schema": {
              "$ref": "#/definitions/MigrationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/MigrationErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Migration Triggering": {
            "$ref": "./examples/migrateFromSmartDetectionsTrigger.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/migrateFromSmartDetections/{migrationId}": {
      "get": {
        "tags": [
          "SmartDetectionsMigration"
        ],
        "description": "Retrieve the status of a migration process.",
        "operationId": "SmartDetectionsMigration_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigrationIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/MigrationErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Migration Status": {
            "$ref": "./examples/migrateFromSmartDetectionsGet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SmartDetectionMigrationRequest": {
      "required": [
        "scope",
        "actionGroupCreationPolicy"
      ],
      "properties": {
        "scope": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of resource IDs that the requested migration should be performed on."
        },
        "actionGroupCreationPolicy": {
          "type": "string",
          "enum": [
            "Default",
            "Custom",
            "Auto"
          ],
          "x-ms-enum": {
            "name": "ActionGroupCreationPolicy",
            "values": [
              {
                "value": "Default",
                "description": "Create all Alert Rules with the default Smart Alerts Action Group."
              },
              {
                "value": "Custom",
                "description": "Create all Alert Rules with a custom Action Group that is specified in 'customActionGroupName'."
              },
              {
                "value": "Auto",
                "description": "Automatically create an Action Group for each unique setting in the Smart Detection Rules."
              }
            ],
            "modelAsString": true
          },
          "description": "The policy for migrating the email settings in the Smart Detection Rules into Action Groups."
        },
        "customActionGroupName": {
          "type": "string",
          "description": "A custom name of an existing Action Group to attach to the created alert rules. Required only when actionGroupCreationPolicy is set to 'Custom'."
        }
      },
      "description": "The Smart Detection migration request."
    },
    "MigrationStatusResponse": {
      "required": [
        "id",
        "status",
        "scope"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The migration process unique id."
        },
        "status": {
          "type": "string",
          "enum": [
            "Starting",
            "InProcess",
            "Deploying",
            "Completed",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "MigrationStatus",
            "values": [
              {
                "value": "Starting",
                "description": "The migration was accepted and will start shortly."
              },
              {
                "value": "InProcess", 
                "description": "The migration is in progress."
              },
              {
                "value": "Deploying",
                "description": "The migration template is deploying."
              },
              {
                "value": "Completed",
                "description": "The migration completed successfully."
              },
              {
                "value": "Failed",
                "description": "The migration failed."
              },
              {
                "value": "Canceled",
                "description": "The migration was canceled by the user."
              }
            ],
            "modelAsString": true
          },
          "description": "The current status of the migration process"
        },
        "scope": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of resource IDs that the requested migration should be performed on."
        },
        "armDeploymentName": {
          "type": "string",
          "description": "The name of the ARM deployment associated with the migration process."
        }
      },
      "description": "A migration status response."
    },
    "MigrationErrorResponse": {
      "description": "Api error",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/MigrationErrorResponseBody"
        }
      }
    },
    "MigrationErrorResponseBody": {
      "description": "Api error body.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "MigrationIdParameter": {
      "name": "migrationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the migration process.",
      "x-ms-parameter-location": "method"
    }
  }
}