{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.PortalServices",
    "version": "2024-07-01-preview",
    "description": "Microsoft.AzureCoreExperiencesAssistant Resource Provider management API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AzureCoreExperiencesAssistant"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.PortalServices/assistant/default/sendChat": {
      "post": {
        "operationId": "AzureCoreExperiencesAssistant_SendChat",
        "tags": [
          "AzureCoreExperiencesAssistant"
        ],
        "description": "Send chat data to the assistant",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssistantRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssistantResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureCoreExperiencesAssistant_SendChat": {
            "$ref": "./examples/AzureCoreExperiencesAssistant_SendChat_MaximumSet_Gen.json"
          },
          "AzureCoreExperiencesAssistant_SendChat (Minimum set)": {
            "$ref": "./examples/AzureCoreExperiencesAssistant_SendChat_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.PortalServices/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List service Operations (maximum set)": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "List service Operations (minimum set)": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Assistant": {
      "type": "object",
      "description": "Concrete extension resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource.",
          "properties": {
            "provisioningState": {
              "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssistantRequest": {
      "type": "object",
      "description": "Request object to the assistant",
      "properties": {
        "userInput": {
          "type": "string",
          "description": "User question to the assistant"
        },
        "scenarioName": {
          "type": "string",
          "description": "Name of the scenario that can assist in determining the focus of the user's question."
        },
        "windowStartTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Start window for assistant to run analysis on. Formatted as an ISO 8601 UTC timestamp, e.g. YYYY-MM-DDTHH:mm:ss.sssZ"
        },
        "windowEndTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "End window for assistant to run analysis on. Formatted as an ISO 8601 UTC timestamp, e.g. YYYY-MM-DDTHH:mm:ss.sssZ"
        },
        "azureResourceIds": {
          "type": "array",
          "description": "Fully qualified resource IDs of Azure resources that can help the assistant in it's analysis (e.g. analyzing virtual machine performance issues by looking at its disks). Formatted as a fully qualified Azure Resource ID. e.g. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource."
          }
        },
        "bladeContext": {
          "$ref": "#/definitions/PortalBladeContext",
          "description": "The Azure Portal context from which the assistant was invoked"
        },
        "conversationHistory": {
          "type": "array",
          "description": "Past conversation history between the user and the assistant",
          "items": {
            "$ref": "#/definitions/ConversationHistoryContext"
          },
          "x-ms-identifiers": [
            "index",
            "userInput",
            "assistantResult"
          ]
        }
      },
      "required": [
        "userInput",
        "scenarioName"
      ]
    },
    "AssistantResponse": {
      "type": "object",
      "description": "Response object from the assistant",
      "properties": {
        "assistantResult": {
          "type": "string",
          "description": "The response message from the assistant"
        },
        "recommendedActions": {
          "type": "array",
          "description": "Recommended actions the user can take in the Azure Portal",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ConversationHistoryContext": {
      "type": "object",
      "description": "Use to provide the previous conversation history as added context for this particular user request",
      "properties": {
        "index": {
          "type": "integer",
          "format": "int64",
          "description": "Ordered index of this conversation piece in the overall history",
          "minimum": 0
        },
        "userInput": {
          "type": "string",
          "description": "The user input"
        },
        "assistantResult": {
          "type": "string",
          "description": "The assistant response"
        }
      },
      "required": [
        "index",
        "userInput",
        "assistantResult"
      ]
    },
    "PortalBladeContext": {
      "type": "object",
      "description": "The corresponding Azure Portal blade context from which the assistant was invoked",
      "properties": {
        "bladeName": {
          "type": "string",
          "description": "Name of the Portal blade the assistant was invoked from"
        }
      },
      "required": [
        "bladeName"
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
