{
  "swagger": "2.0",
  "info": {
    "title": "DatabricksAccessConnectorClient",
    "version": "2023-05-01",
    "description": "These APIs allow end users to operate on Azure Databricks Access Connector resources."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/accessConnectors/{connectorName}": {
      "get": {
        "tags": [
          "AccessConnector"
        ],
        "operationId": "AccessConnectors_Get",
        "description": "Gets an azure databricks accessConnector.",
        "x-ms-examples": {
          "Get an azure databricks accessConnector": {
            "$ref": "./examples/AccessConnectorGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/ConnectorName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the accessConnector.",
            "schema": {
              "$ref": "#/definitions/AccessConnector"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2022-04-01-preview/databricks.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccessConnector"
        ],
        "operationId": "AccessConnectors_Delete",
        "description": "Deletes the azure databricks accessConnector.",
        "x-ms-examples": {
          "Delete an azure databricks accessConnector": {
            "$ref": "./examples/AccessConnectorDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/ConnectorName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "NoContent"
          },
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2022-04-01-preview/databricks.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "tags": [
          "AccessConnector"
        ],
        "operationId": "AccessConnectors_CreateOrUpdate",
        "description": "Creates or updates azure databricks accessConnector.",
        "x-ms-examples": {
          "Create an azure databricks accessConnector with SystemAssigned Identity": {
            "$ref": "./examples/AccessConnectorCreateOrUpdate.json"
          },
          "Create an azure databricks accessConnector with UserAssigned Identity": {
            "$ref": "./examples/AccessConnectorCreateOrUpdateWithUserAssigned.json"
          }
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessConnector"
            },
            "description": "Parameters supplied to the create or update an azure databricks accessConnector."
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/ConnectorName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the azure databricks accessConnector.",
            "schema": {
              "$ref": "#/definitions/AccessConnector"
            }
          },
          "201": {
            "description": "Created - Returns information about the azure databricks accessConnector.",
            "schema": {
              "$ref": "#/definitions/AccessConnector"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2022-04-01-preview/databricks.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "AccessConnector"
        ],
        "operationId": "AccessConnectors_Update",
        "description": "Updates an azure databricks accessConnector.",
        "x-ms-examples": {
          "Update an azure databricks accessConnector": {
            "$ref": "./examples/AccessConnectorPatchUpdate.json"
          }
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessConnectorUpdate"
            },
            "description": "The update to the azure databricks accessConnector."
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/ConnectorName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "200": {
            "description": "Successfully updated the azure databricks accessConnector.",
            "schema": {
              "$ref": "#/definitions/AccessConnector"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2022-04-01-preview/databricks.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/accessConnectors": {
      "get": {
        "tags": [
          "AccessConnector"
        ],
        "operationId": "AccessConnectors_ListByResourceGroup",
        "description": "Gets all the azure databricks accessConnectors within a resource group.",
        "x-ms-examples": {
          "Lists azure databricks accessConnectors within a resource group": {
            "$ref": "./examples/AccessConnectorsListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of azure databricks accessConnectors.",
            "schema": {
              "$ref": "#/definitions/AccessConnectorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2022-04-01-preview/databricks.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Databricks/accessConnectors": {
      "get": {
        "tags": [
          "AccessConnector"
        ],
        "operationId": "AccessConnectors_ListBySubscription",
        "description": "Gets all the azure databricks accessConnectors within a subscription.",
        "x-ms-examples": {
          "Lists all the azure databricks accessConnectors within a subscription.": {
            "$ref": "./examples/AccessConnectorsListBySubscriptionId.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of azure databricks accessConnectors.",
            "schema": {
              "$ref": "#/definitions/AccessConnectorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../preview/2022-04-01-preview/databricks.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AccessConnector": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity"
        },
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData"
        },
        "properties": {
          "description": "Azure Databricks accessConnector properties",
          "$ref": "#/definitions/AccessConnectorProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../preview/2022-04-01-preview/databricks.json#/definitions/TrackedResource"
        }
      ],
      "description": "Information about azure databricks accessConnector."
    },
    "AccessConnectorProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning status of the accessConnector.",
          "readOnly": true,
          "enum": [
            "Deleted",
            "Failed",
            "Succeeded"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "AccessConnectorUpdate": {
      "description": "An update to an azure databricks accessConnector.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity"
        }
      }
    },
    "AccessConnectorListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessConnector"
          },
          "description": "The array of azure databricks accessConnector."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of azure databricks accessConnector."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation."
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group. The name is case insensitive.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    },
    "ConnectorName": {
      "name": "connectorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the azure databricks accessConnector.",
      "minLength": 3,
      "maxLength": 64,
      "x-ms-parameter-location": "method"
    }
  }
}
