{
  "swagger": "2.0",
  "info": {
    "title": "Workloads Client",
    "version": "2024-09-01",
    "description": "Workloads client provides access to various workload operations.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SAPVirtualInstances"
    },
    {
      "name": "SAPCentralServerInstances"
    },
    {
      "name": "SAPDatabaseInstances"
    },
    {
      "name": "SAPApplicationServerInstances"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getAvailabilityZoneDetails": {
      "post": {
        "operationId": "SapVirtualInstances_InvokeAvailabilityZoneDetails",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Get the recommended SAP Availability Zone Pair Details for your region.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPAvailabilityZoneDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPAvailabilityZoneDetailsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAP Availability zone details in east us": {
            "$ref": "./examples/SapVirtualInstances_InvokeAvailabilityZoneDetails_eastus.json"
          },
          "SAP Availability zone details in north europe": {
            "$ref": "./examples/SapVirtualInstances_InvokeAvailabilityZoneDetails_northeurope.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getDiskConfigurations": {
      "post": {
        "operationId": "SapVirtualInstances_InvokeDiskConfigurations",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Get the SAP Disk Configuration Layout prod/non-prod SAP System.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPDiskConfigurationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPDiskConfigurationsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAP disk configurations for input environment NonProd.": {
            "$ref": "./examples/SapVirtualInstances_InvokeDiskConfigurations_NonProd.json"
          },
          "SAP disk configurations for input environment Prod.": {
            "$ref": "./examples/SapVirtualInstances_InvokeDiskConfigurations_Prod.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getSapSupportedSku": {
      "post": {
        "operationId": "SapVirtualInstances_InvokeSapSupportedSku",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Get a list of SAP supported SKUs for ASCS, Application and Database tier.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPSupportedSkusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPSupportedResourceSkusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAP supported SKUs for distributed HA environment with Availability set.": {
            "$ref": "./examples/SapVirtualInstances_InvokeSapSupportedSku_DistributedHA_AvSet.json"
          },
          "SAP supported SKUs for distributed Non HA environment.": {
            "$ref": "./examples/SapVirtualInstances_InvokeSapSupportedSku_Distributed.json"
          },
          "SAP supported SKUs for single server.": {
            "$ref": "./examples/SapVirtualInstances_InvokeSapSupportedSku_SingleServer.json"
          },
          "SAP supported Skus for HA with availability zone.": {
            "$ref": "./examples/SapVirtualInstances_InvokeSapSupportedSku_DistributedHA_AvZone.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getSizingRecommendations": {
      "post": {
        "operationId": "SapVirtualInstances_InvokeSizingRecommendations",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Gets the sizing recommendations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPSizingRecommendationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPSizingRecommendationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAP sizing recommendations for HA with availability set.": {
            "$ref": "./examples/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_HA_AvSet.json"
          },
          "SAP sizing recommendations for HA with availability zone.": {
            "$ref": "./examples/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_HA_AvZone.json"
          },
          "SAP sizing recommendations for non HA distributed system.": {
            "$ref": "./examples/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_Distributed.json"
          },
          "SAP sizing recommendations for single server.": {
            "$ref": "./examples/SapVirtualInstances_InvokeSizingRecommendations_S4HANA_SingleServer.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/sapVirtualInstances": {
      "get": {
        "operationId": "SapVirtualInstances_ListBySubscription",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Gets all Virtual Instances for SAP solutions resources in a Subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_ListBySubscription": {
            "$ref": "./examples/SapVirtualInstances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances": {
      "get": {
        "operationId": "SapVirtualInstances_ListByResourceGroup",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Gets all Virtual Instances for SAP solutions resources in a Resource Group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_ListByResourceGroup": {
            "$ref": "./examples/SapVirtualInstances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}": {
      "get": {
        "operationId": "SapVirtualInstances_Get",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Gets a Virtual Instance for SAP solutions resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances Get With ACSS Installation Blocked": {
            "$ref": "./examples/SapVirtualInstances_GetAcssInstallationBlocked.json"
          },
          "SAPVirtualInstances_Get": {
            "$ref": "./examples/SapVirtualInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SapVirtualInstances_Create",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Creates a Virtual Instance for SAP solutions (VIS) resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Virtual Instance for SAP solutions resource request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SAPVirtualInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "201": {
            "description": "Resource 'SAPVirtualInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Infrastructure (with OS configuration) with Azure Compute Gallery Image": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraOsComputeGalleryImage.json"
          },
          "Create Infrastructure (with OS configuration) with custom resource names for Distributed System": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraOsCustomResourceNamesDS.json"
          },
          "Create Infrastructure (with OS configuration) with custom resource names for HA System with Availability Set": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraOsCustomResourceNamesHaAvailabilitySet.json"
          },
          "Create Infrastructure (with OS configuration) with custom resource names for HA system with Availability Zone": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraOsCustomResourceNamesHaAvailabilityZone.json"
          },
          "Create Infrastructure (with OS configuration) with custom resource names for Single Server System": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraOsCustomResourceNamesSingleServer.json"
          },
          "Create Infrastructure (with OS configuration) with trusted access enabled": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraWithOsTrustedAccess.json"
          },
          "Create Infrastructure only for Distributed System": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraDS.json"
          },
          "Create Infrastructure only for HA System with Availability Set": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraHaAvailabilitySet.json"
          },
          "Create Infrastructure only for HA System with Availability Zone": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraHaAvailabilityZone.json"
          },
          "Create Infrastructure only for Single Server System": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraSingleServer.json"
          },
          "Create Infrastructure with Disk and OS configuration for Distributed System (Recommended)": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraDiskOsDSRecommended.json"
          },
          "Create Infrastructure with Disk and OS configuration for HA System with Availability Set (Recommended)": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraDiskOsHaAvailabilitySetRecommended.json"
          },
          "Create Infrastructure with Disk and OS configuration for HA System with Availability Zone (Recommended)": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraDiskOsHaAvailabilityZoneRecommended.json"
          },
          "Create Infrastructure with Disk and OS configurations for Single Server System (Recommended)": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraDiskOsSingleServerRecommended.json"
          },
          "Create Infrastructure with OS configuration for Distributed System (Recommended)": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraOsDSRecommended.json"
          },
          "Create Infrastructure with OS configuration for HA System with Availability Set (Recommended)": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraOsHaAvailabilitySetRecommended.json"
          },
          "Create Infrastructure with OS configuration for HA System with Availability Zone (Recommended)": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraOsHaAvailabilityZoneRecommended.json"
          },
          "Create Infrastructure with OS configuration for Single Server System (Recommended)": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraOsSIngleServerRecommended.json"
          },
          "Create Infrastructure with a new SAP Transport Directory Fileshare": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraWithNewFileshare.json"
          },
          "Create Infrastructure with an existing SAP Transport Directory Fileshare": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraWithExistingFileshare.json"
          },
          "Create Infrastructure without a SAP Transport Directory Fileshare": {
            "$ref": "./examples/SapVirtualInstances_CreateInfraWithoutFileshare.json"
          },
          "Detect SAP Software Installation on a Distributed System": {
            "$ref": "./examples/SapVirtualInstances_CreateDetectDS.json"
          },
          "Detect SAP Software Installation on a Single Server System": {
            "$ref": "./examples/SapVirtualInstances_CreateDetectSingleServer.json"
          },
          "Detect SAP Software Installation on an HA System with Availability Set": {
            "$ref": "./examples/SapVirtualInstances_CreateDetectHaAvailabilitySet.json"
          },
          "Detect SAP Software Installation on an HA System with Availability Zone": {
            "$ref": "./examples/SapVirtualInstances_CreateDetectHaAvailabilityZone.json"
          },
          "Install SAP Software on Distributed System": {
            "$ref": "./examples/SapVirtualInstances_CreateInstallDS.json"
          },
          "Install SAP Software on Single Server System": {
            "$ref": "./examples/SapVirtualInstances_CreateInstallSingleServer.json"
          },
          "Register existing SAP system as Virtual Instance for SAP solutions with optional customizations.": {
            "$ref": "./examples/SapVirtualInstances_CreateRegisterSapSolutionsCustom.json"
          },
          "Register existing SAP system as Virtual Instance for SAP solutions.": {
            "$ref": "./examples/SapVirtualInstances_CreateRegisterSapSolutions.json"
          },
          "Register with trusted access enabled": {
            "$ref": "./examples/SapVirtualInstances_CreateRegisterWithTrustedAccess.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SapVirtualInstances_Update",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Updates a Virtual Instance for SAP solutions resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Request body to update a Virtual Instance for SAP solutions resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSAPVirtualInstanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_TrustedAccessEnable_Update": {
            "$ref": "./examples/SapVirtualInstances_UpdateTrustedAccess.json"
          },
          "SAPVirtualInstances_Update": {
            "$ref": "./examples/SapVirtualInstances_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SapVirtualInstances_Delete",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Deletes a Virtual Instance for SAP solutions resource and its child resources, that is the associated Central Services Instance, Application Server Instances and Database Instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_Delete": {
            "$ref": "./examples/SapVirtualInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances": {
      "get": {
        "operationId": "SapApplicationServerInstances_List",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Lists the SAP Application Server Instance resources for a given Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SapApplicationServerInstances List By SAP Virtual Instance": {
            "$ref": "./examples/SapApplicationServerInstances_ListBySapVirtualInstance.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}": {
      "get": {
        "operationId": "SapApplicationServerInstances_Get",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Gets the SAP Application Server Instance corresponding to the Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPApplicationServerInstances_Get": {
            "$ref": "./examples/SapApplicationServerInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SapApplicationServerInstances_Create",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Puts the SAP Application Server Instance resource. &lt;br&gt;&lt;br&gt;This will be used by service only. PUT by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The SAP Application Server Instance resource request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SAPApplicationServerInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "201": {
            "description": "Resource 'SAPApplicationServerInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SAP Application Server Instances for HA System with Availability Set": {
            "$ref": "./examples/SapApplicationServerInstances_CreateForHaWithAvailabilitySet.json"
          },
          "SAPApplicationServerInstances_Create": {
            "$ref": "./examples/SapApplicationServerInstances_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SapApplicationServerInstances_Update",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Puts the SAP Application Server Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The SAP Application Server Instance resource request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSAPApplicationInstanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPApplicationServerInstances_Update": {
            "$ref": "./examples/SapApplicationServerInstances_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "SapApplicationServerInstances_Delete",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Deletes the SAP Application Server Instance resource. &lt;br&gt;&lt;br&gt;This operation will be used by service only. Delete by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPApplicationServerInstances_Delete": {
            "$ref": "./examples/SapApplicationServerInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}/start": {
      "post": {
        "operationId": "SapApplicationServerInstances_Start",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Starts the SAP Application Server Instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SAP Application server instance start request body.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start Virtual Machine and the SAP Application Server Instance on it.": {
            "$ref": "./examples/SapApplicationServerInstances_StartInstanceVM.json"
          },
          "Start the SAP Application Server Instance.": {
            "$ref": "./examples/SapApplicationServerInstances_StartInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}/stop": {
      "post": {
        "operationId": "SapApplicationServerInstances_Stop",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Stops the SAP Application Server Instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SAP Application server instance stop request body.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StopRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Soft Stop the SAP Application Server Instance": {
            "$ref": "./examples/SapApplicationServerInstances_StopInstanceSoft.json"
          },
          "Soft Stop the SAP Application Server Instance and it's infrastructure.": {
            "$ref": "./examples/SapApplicationServerInstances_StopInstanceSoftInfrastructure.json"
          },
          "Stop the SAP Application Server Instance": {
            "$ref": "./examples/SapApplicationServerInstances_StopInstance.json"
          },
          "Stop the SAP Application Server Instance and it's infrastructure.": {
            "$ref": "./examples/SapApplicationServerInstances_StopInstanceInfrastructure.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances": {
      "get": {
        "operationId": "SapCentralServerInstances_List",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Lists the SAP Central Services Instance resource for the given Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPCentralInstances List by SAP virtual instance": {
            "$ref": "./examples/SapCentralServerInstances_ListBySapVirtualInstance.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances/{centralInstanceName}": {
      "get": {
        "operationId": "SapCentralServerInstances_Get",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Gets the SAP Central Services Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SapCentralServerInstances_Get": {
            "$ref": "./examples/SapCentralInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SapCentralServerInstances_Create",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Creates the SAP Central Services Instance resource. &lt;br&gt;&lt;br&gt;This will be used by service only. PUT operation on this resource by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The SAP Central Services Instance request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SAPCentralServerInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "201": {
            "description": "Resource 'SAPCentralServerInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SAP Central Instances for HA System with Availability Set": {
            "$ref": "./examples/SapCentralInstances_CreateForHaWithAvailabilitySet.json"
          },
          "SapCentralServerInstances_Create": {
            "$ref": "./examples/SapCentralInstances_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SapCentralServerInstances_Update",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Updates the SAP Central Services Instance resource. &lt;br&gt;&lt;br&gt;This can be used to update tags on the resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The SAP Central Services Instance resource request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSAPCentralInstanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SapCentralServerInstances_Update": {
            "$ref": "./examples/SapCentralInstances_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "SapCentralServerInstances_Delete",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Deletes the SAP Central Services Instance resource. &lt;br&gt;&lt;br&gt;This will be used by service only. Delete operation on this resource by end user will return a Bad Request error. You can delete the parent resource, which is the Virtual Instance for SAP solutions resource, using the delete operation on it.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SapCentralServerInstances_Delete": {
            "$ref": "./examples/SapCentralInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances/{centralInstanceName}/start": {
      "post": {
        "operationId": "SapCentralServerInstances_Start",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Starts the SAP Central Services Instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SAP Central Services instance start request body.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start the SAP Central Services Instance": {
            "$ref": "./examples/SapCentralInstances_StartInstance.json"
          },
          "Start the virtual machine(s) and the SAP central services instance on it.": {
            "$ref": "./examples/SapCentralInstances_StartInstanceVM.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances/{centralInstanceName}/stop": {
      "post": {
        "operationId": "SapCentralServerInstances_Stop",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Stops the SAP Central Services Instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SAP Central Services instance stop request body.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StopRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Stop the SAP Central Services Instance and its underlying Virtual Machine(s)": {
            "$ref": "./examples/SapCentralInstances_StopInstanceVM.json"
          },
          "Stop the SAP Central Services Instance.": {
            "$ref": "./examples/SapCentralInstances_StopInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances": {
      "get": {
        "operationId": "SapDatabaseInstances_List",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Lists the Database resources associated with a Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPDatabaseInstances list by SAP virtual instance": {
            "$ref": "./examples/SapDatabaseInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}": {
      "get": {
        "operationId": "SapDatabaseInstances_Get",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Gets the SAP Database Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPDatabaseInstances_Get": {
            "$ref": "./examples/SapDatabaseInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SapDatabaseInstances_Create",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Creates the Database resource corresponding to the Virtual Instance for SAP solutions resource. &lt;br&gt;&lt;br&gt;This will be used by service only. PUT by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body of Database resource of a SAP system.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SAPDatabaseInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "201": {
            "description": "Resource 'SAPDatabaseInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SAP Database Instances for HA System with Availability Set": {
            "$ref": "./examples/SapDatabaseInstances_CreateForHaWithAvailabilitySet.json"
          },
          "SAPDatabaseInstances_Create": {
            "$ref": "./examples/SapDatabaseInstances_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SapDatabaseInstances_Update",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Updates the Database resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Database resource update request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSAPDatabaseInstanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPDatabaseInstances_Update": {
            "$ref": "./examples/SapDatabaseInstances_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "SapDatabaseInstances_Delete",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Deletes the Database resource corresponding to a Virtual Instance for SAP solutions resource. &lt;br&gt;&lt;br&gt;This will be used by service only. Delete by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPDatabaseInstances_Delete": {
            "$ref": "./examples/SapDatabaseInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}/start": {
      "post": {
        "operationId": "SapDatabaseInstances_Start",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Starts the database instance of the SAP system.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SAP Database server instance start request body.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start Virtual Machine and the database instance of the SAP system on it.": {
            "$ref": "./examples/SapDatabaseInstances_StartInstanceVM.json"
          },
          "Start the database instance of the SAP system.": {
            "$ref": "./examples/SapDatabaseInstances_StartInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}/stop": {
      "post": {
        "operationId": "SapDatabaseInstances_Stop",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Stops the database instance of the SAP system.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Stop request for the database instance of the SAP system.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StopRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Soft Stop the database instance of the SAP system and the underlying Virtual Machine(s).": {
            "$ref": "./examples/SapDatabaseInstances_StopInstanceSoftVM.json"
          },
          "Soft Stop the database instance of the SAP system.": {
            "$ref": "./examples/SapDatabaseInstances_StopInstanceSoft.json"
          },
          "Stop the database instance of the SAP system and the underlying Virtual Machine(s).": {
            "$ref": "./examples/SapDatabaseInstances_StopInstanceVM.json"
          },
          "Stop the database instance of the SAP system.": {
            "$ref": "./examples/SapDatabaseInstances_StopInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/start": {
      "post": {
        "operationId": "SapVirtualInstances_Start",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Starts the SAP application, that is the Central Services instance and Application server instances.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The Virtual Instance for SAP solutions resource start request body.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_Start": {
            "$ref": "./examples/SapVirtualInstances_Start.json"
          },
          "SAPVirtualInstances_Start_WithInfraOperations": {
            "$ref": "./examples/SapVirtualInstances_StartWithInfraOperations.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/stop": {
      "post": {
        "operationId": "SapVirtualInstances_Stop",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Stops the SAP Application, that is the Application server instances and Central Services instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The Virtual Instance for SAP solutions resource stop request body.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StopRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_Stop": {
            "$ref": "./examples/SapVirtualInstances_Stop.json"
          },
          "Soft Stop of SapVirtualInstances_Stop": {
            "$ref": "./examples/SapVirtualInstances_SoftStop.json"
          },
          "Soft Stop the virtual machine(s) and the SAP system on it.": {
            "$ref": "./examples/SapVirtualInstances_SoftStopVMAndSystem.json"
          },
          "Stop the virtual machine(s) and the SAP system on it.": {
            "$ref": "./examples/SapVirtualInstances_StopVMAndSystem.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApplicationServerConfiguration": {
      "type": "object",
      "description": "Gets or sets the application server configuration.",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "The subnet id."
        },
        "virtualMachineConfiguration": {
          "$ref": "#/definitions/VirtualMachineConfiguration",
          "description": "Gets or sets the virtual machine configuration."
        },
        "instanceCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of app server instances."
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration",
        "instanceCount"
      ]
    },
    "ApplicationServerFullResourceNames": {
      "type": "object",
      "description": "The full resource names object for application layer resources. The number of entries in this list should be equal to the number VMs to be created for application layer.",
      "properties": {
        "virtualMachines": {
          "type": "array",
          "description": "The list of virtual machine naming details.",
          "items": {
            "$ref": "#/definitions/VirtualMachineResourceNames"
          },
          "x-ms-identifiers": []
        },
        "availabilitySetName": {
          "type": "string",
          "description": "The full name for availability set. In case name is not provided, it will be defaulted to {SID}-App-AvSet."
        }
      }
    },
    "ApplicationServerVirtualMachineType": {
      "type": "string",
      "description": "Defines the type of application server VM.",
      "enum": [
        "Active",
        "Standby",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "ApplicationServerVirtualMachineType",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Active Application server vm type."
          },
          {
            "name": "Standby",
            "value": "Standby",
            "description": "Standby Application server vm type."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Application server vm type."
          }
        ]
      }
    },
    "ApplicationServerVmDetails": {
      "type": "object",
      "description": "The Application Server VM Details.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ApplicationServerVirtualMachineType",
          "description": "Defines the type of application server VM.",
          "readOnly": true
        },
        "virtualMachineId": {
          "type": "string",
          "description": "The virtual machine id.",
          "readOnly": true
        },
        "storageDetails": {
          "type": "array",
          "description": "Storage details of all the Storage Accounts attached to the App Virtual Machine. For e.g. NFS on AFS Shared Storage.",
          "items": {
            "$ref": "#/definitions/StorageInformation"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "CentralServerConfiguration": {
      "type": "object",
      "description": "Gets or sets the central server configuration.",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "The subnet id."
        },
        "virtualMachineConfiguration": {
          "$ref": "#/definitions/VirtualMachineConfiguration",
          "description": "Gets or sets the virtual machine configuration."
        },
        "instanceCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of central server VMs."
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration",
        "instanceCount"
      ]
    },
    "CentralServerFullResourceNames": {
      "type": "object",
      "description": "The full resource names object for central server layer resources.",
      "properties": {
        "virtualMachines": {
          "type": "array",
          "description": "The list of names for all ASCS virtual machines to be deployed. The number of entries in this list should be equal to the number VMs to be created for ASCS layer. At maximum, there can be two virtual machines at this layer: ASCS and ERS.",
          "items": {
            "$ref": "#/definitions/VirtualMachineResourceNames"
          },
          "x-ms-identifiers": []
        },
        "availabilitySetName": {
          "type": "string",
          "description": "The full name for availability set. In case name is not provided, it will be defaulted to {SID}-ASCS-AvSet."
        },
        "loadBalancer": {
          "$ref": "#/definitions/LoadBalancerResourceNames",
          "description": "The resource names object for load balancer and related resources."
        }
      }
    },
    "CentralServerVirtualMachineType": {
      "type": "string",
      "description": "Defines the type of central server VM.",
      "enum": [
        "Primary",
        "Secondary",
        "Unknown",
        "ASCS",
        "ERSInactive",
        "ERS",
        "Standby"
      ],
      "x-ms-enum": {
        "name": "CentralServerVirtualMachineType",
        "modelAsString": true,
        "values": [
          {
            "name": "Primary",
            "value": "Primary",
            "description": "Primary central server vm."
          },
          {
            "name": "Secondary",
            "value": "Secondary",
            "description": "Secondary central server vm."
          },
          {
[...]
