{
  "swagger": "2.0",
  "info": {
    "title": "Azure Private Outbound Service",
    "version": "2026-02-09-preview",
    "description": "Microsoft.Network Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AzureServiceConnectionControllers"
    }
  ],
  "paths": {
    "/providers/Microsoft.Network/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureServiceConnectionControllers": {
      "get": {
        "operationId": "AzureServiceConnectionControllers_ListBySubscription",
        "tags": [
          "AzureServiceConnectionControllers"
        ],
        "description": "Lists all Azure Service Connection Controllers within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureServiceConnectionControllerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureServiceConnectionControllers_ListBySubscription": {
            "$ref": "./examples/AzureServiceConnectionControllers_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureServiceConnectionControllers": {
      "get": {
        "operationId": "AzureServiceConnectionControllers_ListByResourceGroup",
        "tags": [
          "AzureServiceConnectionControllers"
        ],
        "description": "Lists all Azure Service Connection Controllers within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureServiceConnectionControllerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureServiceConnectionControllers_ListByResourceGroup": {
            "$ref": "./examples/AzureServiceConnectionControllers_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureServiceConnectionControllers/{azureServiceConnectionControllerName}": {
      "get": {
        "operationId": "AzureServiceConnectionControllers_Get",
        "tags": [
          "AzureServiceConnectionControllers"
        ],
        "description": "Gets an Azure Service Connection Controller.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureServiceConnectionControllerName",
            "in": "path",
            "description": "The name of the Azure Service Connection Controller.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureServiceConnectionController"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureServiceConnectionControllers_Get": {
            "$ref": "./examples/AzureServiceConnectionControllers_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AzureServiceConnectionControllers_CreateOrUpdate",
        "tags": [
          "AzureServiceConnectionControllers"
        ],
        "description": "Create or update an Azure Service Connection Controller.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureServiceConnectionControllerName",
            "in": "path",
            "description": "The name of the Azure Service Connection Controller.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The Azure Service Connection Controller parameters supplied to the CreateOrUpdate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureServiceConnectionController"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureServiceConnectionController' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureServiceConnectionController"
            }
          },
          "201": {
            "description": "Resource 'AzureServiceConnectionController' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureServiceConnectionController"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureServiceConnectionControllers_CreateOrUpdate": {
            "$ref": "./examples/AzureServiceConnectionControllers_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AzureServiceConnectionControllers_Patch",
        "tags": [
          "AzureServiceConnectionControllers"
        ],
        "description": "Updates an Azure Service Connection Controller.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureServiceConnectionControllerName",
            "in": "path",
            "description": "The name of the Azure Service Connection Controller.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureServiceConnectionControllerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureServiceConnectionController"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureServiceConnectionControllers_Patch": {
            "$ref": "./examples/AzureServiceConnectionControllers_Patch.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AzureServiceConnectionControllers_Delete",
        "tags": [
          "AzureServiceConnectionControllers"
        ],
        "description": "Deletes an Azure Service Connection Controller.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureServiceConnectionControllerName",
            "in": "path",
            "description": "The name of the Azure Service Connection Controller.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureServiceConnectionControllers_Delete": {
            "$ref": "./examples/AzureServiceConnectionControllers_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.Core.ipV4Address": {
      "type": "string",
      "description": "Represent an IP V4 address serialized as a string.\n\nIt is formatted as four 8-bit fields separated by periods."
    },
    "AzureServiceConnectionController": {
      "type": "object",
      "description": "Class representing an Azure Service Connection Controller.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureServiceConnectionControllerProperties",
          "description": "The properties of the Azure Service Connection Controller."
        },
        "managedBy": {
          "type": "string",
          "description": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AzureServiceConnectionControllerListResult": {
      "type": "object",
      "description": "The response of a AzureServiceConnectionController list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureServiceConnectionController items on this page",
          "items": {
            "$ref": "#/definitions/AzureServiceConnectionController"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureServiceConnectionControllerProperties": {
      "type": "object",
      "description": "Class representing the Azure Service Connection Controller properties.",
      "properties": {
        "subnetId": {
          "$ref": "#/definitions/SubnetId",
          "description": "The reference to the subnet where the Azure Service Connection Controller is deployed."
        },
        "ipConfigurations": {
          "type": "array",
          "description": "The IP configuration parameters for the Azure Service Connection Controller.",
          "items": {
            "$ref": "#/definitions/IpConfiguration"
          },
          "x-ms-identifiers": []
        },
        "providerConnections": {
          "type": "array",
          "description": "Properties of the related Azure components providing the underlying infrastructure.",
          "items": {
            "$ref": "#/definitions/ProviderConnectionProperties"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "managedOnBehalfOfConfiguration": {
          "$ref": "../../../../../../common-types/resource-management/v6/mobo.json#/definitions/ManagedOnBehalfOfConfiguration",
          "description": "Managed On Behalf Of Configuration.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/AzureServiceConnectionControllerProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "udr": {
          "$ref": "#/definitions/UDR",
          "description": "The reference to the effective UDR (User Defined Route) applied to the Azure Service Connection Controller."
        }
      }
    },
    "AzureServiceConnectionControllerProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the Azure Service Connection Controller resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "AzureServiceConnectionControllerProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "AzureServiceConnectionControllerUpdate": {
      "type": "object",
      "description": "The type used for update operations of the AzureServiceConnectionController.",
      "properties": {
        "managedBy": {
          "type": "string",
          "description": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/AzureServiceConnectionControllerUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "AzureServiceConnectionControllerUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the AzureServiceConnectionController.",
      "properties": {
        "subnetId": {
          "$ref": "#/definitions/SubnetId",
          "description": "The reference to the subnet where the Azure Service Connection Controller is deployed."
        },
        "ipConfigurations": {
          "type": "array",
          "description": "The IP configuration parameters for the Azure Service Connection Controller.",
          "items": {
            "$ref": "#/definitions/IpConfiguration"
          },
          "x-ms-identifiers": []
        },
        "providerConnections": {
          "type": "array",
          "description": "Properties of the related Azure components providing the underlying infrastructure.",
          "items": {
            "$ref": "#/definitions/ProviderConnectionProperties"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "udr": {
          "$ref": "#/definitions/UDR",
          "description": "The reference to the effective UDR (User Defined Route) applied to the Azure Service Connection Controller."
        }
      }
    },
    "IPAllocationMethod": {
      "type": "string",
      "description": "The allowed Private IP allocation methods",
      "enum": [
        "Static"
      ],
      "x-ms-enum": {
        "name": "IPAllocationMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "Static",
            "value": "Static",
            "description": "Static Private IP address allocation"
          }
        ]
      }
    },
    "IpConfiguration": {
      "type": "object",
      "description": "Class representing the IP configuration properties.",
      "properties": {
        "privateIpV4Address": {
          "$ref": "#/definitions/Azure.Core.ipV4Address",
          "description": "The IP V4 address."
        },
        "ipAllocationMethod": {
          "$ref": "#/definitions/IPAllocationMethod",
          "description": "Private IP Allocation Method"
        }
      }
    },
    "ProviderConnectionProperties": {
      "type": "object",
      "description": "Properties describing a provider connection for a Private Outbound resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the provider connection."
        },
        "subnetId": {
          "$ref": "#/definitions/SubnetId",
          "description": "The resource ID of the virtual network associated with the provider connection."
        },
        "ipConfiguration": {
          "$ref": "#/definitions/IpConfiguration",
          "description": "The IP configuration parameters for the provider connection.",
          "x-ms-mutability": [
            "update",
            "create"
          ]
        },
        "sourceResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the source private endpoint associated with the provider connection.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/privateEndpoints"
              }
            ]
          }
        }
      }
    },
    "SubnetId": {
      "type": "string",
      "format": "arm-id",
      "description": "A fully qualified ARM resource ID referencing a subnet.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Network/virtualNetworks/subnets"
          }
        ]
      }
    },
    "UDR": {
      "type": "string",
      "format": "arm-id",
      "description": "A fully qualified ARM resource ID referencing a user-defined route.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Network/routeTables/routes"
          }
        ]
      }
    }
  },
  "parameters": {}
}
