{
  "swagger": "2.0",
  "info": {
    "title": "KubeInventoryClient",
    "version": "2026-06-15-preview",
    "description": "APIs for cluster upgrade assessment reports under Microsoft.KubernetesConfiguration.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "KubeInventory"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/kubeInventory": {
      "get": {
        "operationId": "KubeInventories_List",
        "tags": [
          "KubeInventory"
        ],
        "description": "List kubeInventory containers for the cluster (currently always a single 'default').",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterRp",
            "in": "path",
            "description": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes,\nMicrosoft.HybridContainerService.",
            "required": true,
            "type": "string",
            "pattern": "^Microsoft\\.(ContainerService|Kubernetes|HybridContainerService)$"
          },
          {
            "name": "clusterResourceName",
            "in": "path",
            "description": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters,\nprovisionedClusters, appliances.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]+$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the kubernetes cluster.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_.]{0,62}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubeInventoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List KubeInventory": {
            "$ref": "./examples/ListKubeInventory.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/kubeInventory/{kubeInventoryName}": {
      "get": {
        "operationId": "KubeInventories_Get",
        "tags": [
          "KubeInventory"
        ],
        "description": "Get the kubeInventory singleton for a cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterRp",
            "in": "path",
            "description": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes,\nMicrosoft.HybridContainerService.",
            "required": true,
            "type": "string",
            "pattern": "^Microsoft\\.(ContainerService|Kubernetes|HybridContainerService)$"
          },
          {
            "name": "clusterResourceName",
            "in": "path",
            "description": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters,\nprovisionedClusters, appliances.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]+$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the kubernetes cluster.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_.]{0,62}$"
          },
          {
            "name": "kubeInventoryName",
            "in": "path",
            "description": "Name of the KubeInventory resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z]([a-z0-9._-]{0,126}[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubeInventory"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get KubeInventory": {
            "$ref": "./examples/GetKubeInventory.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Capabilities": {
      "type": "object",
      "description": "Linux capability set to add to or drop from a container's default capabilities.",
      "properties": {
        "add": {
          "type": "array",
          "description": "Capabilities to add (e.g., 'NET_ADMIN').",
          "items": {
            "type": "string"
          }
        },
        "drop": {
          "type": "array",
          "description": "Capabilities to remove (e.g., 'ALL').",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CompatibilityStatus": {
      "type": "string",
      "description": "Compatibility status of a cluster component with the target Kubernetes version.",
      "enum": [
        "Compatible",
        "Untested",
        "Incompatible",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "CompatibilityStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Compatible",
            "value": "Compatible",
            "description": "Component is compatible with the target version."
          },
          {
            "name": "Untested",
            "value": "Untested",
            "description": "Compatibility with the target version has not been tested."
          },
          {
            "name": "Incompatible",
            "value": "Incompatible",
            "description": "Component is incompatible with the target version."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Compatibility status is unknown."
          }
        ]
      }
    },
    "ComponentCompatibility": {
      "type": "object",
      "description": "Compatibility status of a single cluster component with the target Kubernetes version.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Component name (e.g., 'containerd', 'calico')."
        },
        "version": {
          "type": "string",
          "description": "Installed component version."
        },
        "compatibilityStatus": {
          "$ref": "#/definitions/CompatibilityStatus",
          "description": "Compatibility of the component with the target Kubernetes version."
        },
        "severity": {
          "$ref": "#/definitions/Severity",
          "description": "Severity associated with this compatibility result."
        },
        "minCompatibleVersion": {
          "type": "string",
          "description": "Minimum component version known to be compatible with targetKubernetesVersion."
        },
        "notes": {
          "type": "string",
          "description": "Additional notes about compatibility."
        }
      },
      "required": [
        "name",
        "version",
        "compatibilityStatus",
        "severity"
      ]
    },
    "ConditionStatus": {
      "type": "string",
      "description": "Whether a Kubernetes condition is currently active.",
      "enum": [
        "True",
        "False",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "ConditionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "True",
            "value": "True",
            "description": "Condition is currently true."
          },
          {
            "name": "False",
            "value": "False",
            "description": "Condition is currently false."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Condition state cannot be determined."
          }
        ]
      }
    },
    "ContainerPort": {
      "type": "object",
      "description": "A port exposed by a container.",
      "properties": {
        "containerPort": {
          "type": "integer",
          "format": "int32",
          "description": "Port number exposed inside the container."
        },
        "protocol": {
          "$ref": "#/definitions/NetworkProtocol",
          "description": "Network protocol for this port."
        },
        "name": {
          "type": "string",
          "description": "Optional name for this port."
        }
      },
      "required": [
        "containerPort"
      ]
    },
    "ContainerResourceQuantity": {
      "type": "object",
      "description": "CPU and memory resource quantities for a container.\nValues use Kubernetes resource notation: CPU as millicores (e.g., '500m', '2')\nand memory as byte-unit strings (e.g., '256Mi', '1Gi').\nSee: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/",
      "properties": {
        "cpu": {
          "type": "string",
          "description": "CPU quantity (e.g., '500m' for 500 millicores, '2' for 2 cores)."
        },
        "memory": {
          "type": "string",
          "description": "Memory quantity (e.g., '256Mi', '1Gi')."
        }
      }
    },
    "ContainerResourceRequirements": {
      "type": "object",
      "description": "CPU and memory resource declarations for a container.",
      "properties": {
        "limits": {
          "$ref": "#/definitions/ContainerResourceQuantity",
          "description": "Maximum resources the container may consume."
        },
        "requests": {
          "$ref": "#/definitions/ContainerResourceQuantity",
          "description": "Minimum resources the container requires to be scheduled."
        }
      }
    },
    "ContainerSecurityContext": {
      "type": "object",
      "description": "Security context applied to a single container.",
      "properties": {
        "capabilities": {
          "$ref": "#/definitions/Capabilities",
          "description": "Linux capability adjustments for this container."
        },
        "readOnlyRootFilesystem": {
          "type": "boolean",
          "description": "Mount the container's root filesystem as read-only when true."
        },
        "allowPrivilegeEscalation": {
          "type": "boolean",
          "description": "Prevent the container process from gaining more privileges than its parent when false."
        },
        "runAsNonRoot": {
          "type": "boolean",
          "description": "Require the container to run as a non-root user when true."
        },
        "runAsUser": {
          "type": "integer",
          "format": "int64",
          "description": "UID to run the container process as."
        },
        "runAsGroup": {
          "type": "integer",
          "format": "int64",
          "description": "GID to run the container process as."
        }
      }
    },
    "ContainerSpec": {
      "type": "object",
      "description": "Specification of a single container within a pod.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the container, unique within the pod."
        },
        "image": {
          "type": "string",
          "description": "Container image reference (e.g., 'nginx:1.25')."
        },
        "ports": {
          "type": "array",
          "description": "Ports to expose from the container.",
          "items": {
            "$ref": "#/definitions/ContainerPort"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "env": {
          "type": "array",
          "description": "Environment variables to set in the container.",
          "items": {
            "$ref": "#/definitions/EnvVar"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "resources": {
          "$ref": "#/definitions/ContainerResourceRequirements",
          "description": "Compute resource requests and limits."
        },
        "command": {
          "type": "array",
          "description": "Command to override the container default ENTRYPOINT.",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "type": "array",
          "description": "Arguments to override the container default CMD.",
          "items": {
            "type": "string"
          }
        },
        "volumeMounts": {
          "type": "array",
          "description": "Volume paths to mount inside the container.",
          "items": {
            "$ref": "#/definitions/VolumeMount"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "securityContext": {
          "$ref": "#/definitions/ContainerSecurityContext",
          "description": "Security context applied to this container."
        }
      },
      "required": [
        "name",
        "image"
      ]
    },
    "ContainerState": {
      "type": "object",
      "description": "Current or previous state of a container; exactly one of the three fields is populated.",
      "properties": {
        "running": {
          "$ref": "#/definitions/ContainerStateRunning",
          "description": "Populated when the container is currently executing."
        },
        "terminated": {
          "$ref": "#/definitions/ContainerStateTerminated",
          "description": "Populated when the container has exited."
        },
        "waiting": {
          "$ref": "#/definitions/ContainerStateWaiting",
          "description": "Populated when the container is not yet running."
        }
      }
    },
    "ContainerStateRunning": {
      "type": "object",
      "description": "State of a currently running container.",
      "properties": {
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "description": "UTC timestamp when the container started."
        }
      }
    },
    "ContainerStateTerminated": {
      "type": "object",
      "description": "State of a terminated container.",
      "properties": {
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "description": "Exit code of the container process."
        },
        "signal": {
          "type": "integer",
          "format": "int32",
          "description": "Signal that caused the container to terminate, if applicable."
        },
        "reason": {
          "type": "string",
          "description": "Machine-readable reason for termination (e.g., 'OOMKilled', 'Completed')."
        },
        "message": {
          "type": "string",
          "description": "Human-readable message about the termination."
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "description": "UTC timestamp when the container started its last execution."
        },
        "finishedAt": {
          "type": "string",
          "format": "date-time",
          "description": "UTC timestamp when the container terminated."
        }
      },
      "required": [
        "exitCode"
      ]
    },
    "ContainerStateWaiting": {
      "type": "object",
      "description": "State of a container that is not yet running.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Machine-readable reason the container is not running (e.g., 'ContainerCreating', 'ImagePullBackOff')."
        },
        "message": {
          "type": "string",
          "description": "Human-readable message about the waiting state."
        }
      }
    },
    "ContainerStatus": {
      "type": "object",
      "description": "Runtime status of a single container as reported in the pod status.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the container."
        },
        "ready": {
          "type": "boolean",
          "description": "True when the container has passed its readiness probe."
        },
        "restartCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of times the container has restarted since the pod was started."
        },
        "image": {
          "type": "string",
          "description": "Container image including digest as resolved by the runtime."
        },
        "started": {
          "type": "boolean",
          "description": "Whether the container has passed its startup probe and is considered started."
        },
        "state": {
          "$ref": "#/definitions/ContainerState",
          "description": "Current state of the container."
        },
        "lastState": {
          "$ref": "#/definitions/ContainerState",
          "description": "Previous termination state of the container; populated after a restart."
        },
        "containerId": {
          "type": "string",
          "description": "Opaque container runtime identifier (e.g., 'containerd://sha256:...')."
        }
      },
      "required": [
        "name",
        "ready",
        "restartCount"
      ]
    },
    "DeprecatedApiUsage": {
      "type": "object",
      "description": "A deprecated Kubernetes API still in use in the cluster.",
      "properties": {
        "group": {
          "type": "string",
          "description": "API group (e.g., 'flowcontrol.apiserver.k8s.io')."
        },
        "version": {
          "type": "string",
          "description": "API version (e.g., 'v1beta3')."
        },
        "resource": {
          "type": "string",
          "description": "Resource plural name (e.g., 'flowschemas')."
        },
        "removedRelease": {
          "type": "string",
          "description": "Kubernetes release in which this API is removed (e.g., '1.32')."
        },
        "usageMetrics": {
          "$ref": "#/definitions/HttpVerbUsageMetrics",
          "description": "HTTP verb call counts observed for this deprecated API."
        },
        "lastUsageObservedAt": {
          "type": "string",
          "format": "date-time",
          "description": "UTC timestamp of the last observed usage."
        },
        "severity": {
          "$ref": "#/definitions/Severity",
          "description": "Severity of continued use of this deprecated API."
        }
      },
      "required": [
        "group",
        "version",
        "resource",
        "severity"
      ]
    },
    "EnvVar": {
      "type": "object",
      "description": "An environment variable set in a container.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the environment variable."
        },
        "value": {
          "type": "string",
          "description": "Literal string value."
        }
      },
      "required": [
        "name"
      ]
    },
    "HttpVerbUsageMetrics": {
      "type": "object",
      "description": "Observed call counts per HTTP verb for a deprecated Kubernetes API.",
      "properties": {
        "get": {
          "type": "integer",
          "format": "int64",
          "description": "Number of GET requests observed."
        },
        "list": {
          "type": "integer",
          "format": "int64",
          "description": "Number of LIST requests observed."
        },
        "post": {
          "type": "integer",
          "format": "int64",
          "description": "Number of POST (create) requests observed."
        },
        "put": {
          "type": "integer",
          "format": "int64",
          "description": "Number of PUT (replace) requests observed."
        },
        "patch": {
          "type": "integer",
          "format": "int64",
          "description": "Number of PATCH requests observed."
        },
        "delete": {
          "type": "integer",
          "format": "int64",
          "description": "Number of DELETE requests observed."
        },
        "watch": {
          "type": "integer",
          "format": "int64",
          "description": "Number of WATCH requests observed."
        }
      }
    },
    "KubeInventory": {
      "type": "object",
      "description": "Singleton container resource grouping cluster inventory reports.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/KubeInventoryProperties",
          "description": "Properties of the KubeInventory resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "KubeInventoryListResult": {
      "type": "object",
      "description": "The response of a KubeInventory list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The KubeInventory items on this page",
          "items": {
            "$ref": "#/definitions/KubeInventory"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "KubeInventoryProperties": {
      "type": "object",
      "description": "Properties of a single KubeInventory ARM resource.\nEach ARM resource represents one Kubernetes object from the cluster inventory.\nThe ARM resource name encodes the kind, Kubernetes name, and namespace\n(e.g., 'pod-nginx-6d4cf56db6-x7q2p-default', 'upgrade-assessment-current-kube-system').",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "Kubernetes API version of the represented resource\n(e.g., 'v1', 'apps/v1', 'upgrade.config.io/v1alpha1')."
        },
        "kind": {
          "type": "string",
          "description": "Kind of the Kubernetes resource (e.g., 'Pod', 'Deployment', 'Service', 'UpgradeAssessment')."
        },
        "metadata": {
          "$ref": "#/definitions/KubernetesObjectMeta",
          "description": "Standard Kubernetes object metadata."
        },
        "spec": {
          "$ref": "#/definitions/KubernetesResourceSpec",
          "description": "Desired state of the Kubernetes resource."
        },
        "status": {
          "$ref": "#/definitions/KubernetesResourceStatus",
          "description": "Observed state of the Kubernetes resource, written by the controller."
        },
        "events": {
          "type": "array",
          "description": "Kubernetes events recorded against this resource.",
          "items": {
            "$ref": "#/definitions/KubernetesEvent"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "KubernetesAnnotation": {
      "type": "object",
      "description": "A single Kubernetes annotation (key/value pair for non-identifying auxiliary metadata).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Annotation key (e.g., 'kubectl.kubernetes.io/last-applied-configuration').",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "Annotation value."
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "KubernetesCondition": {
      "type": "object",
      "description": "A Kubernetes-style status condition reported by a controller.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the condition (e.g., 'Ready', 'Available', 'Progressing')."
        },
        "status": {
          "$ref": "#/definitions/ConditionStatus",
          "description": "Whether the condition is currently active."
        },
        "reason": {
          "type": "string",
          "description": "Machine-readable reason code for the current status."
        },
        "message": {
          "type": "string",
          "description": "Human-readable explanation of the current status."
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "date-time",
          "description": "UTC timestamp of the last status transition."
        }
      },
      "required": [
        "type",
        "status"
      ]
    },
    "KubernetesEvent": {
      "type": "object",
      "description": "A Kubernetes event recorded against a resource (equivalent to `kubectl describe` Events).",
      "properties": {
        "type": {
          "type": "string",
          "description": "Event type: 'Normal' or 'Warning'."
        },
        "reason": {
          "type": "string",
          "description": "Short machine-readable reason for the event (e.g., 'Scheduled', 'Pulled', 'Failed')."
        },
        "age": {
          "type": "string",
          "description": "Human-readable elapsed time since the event last occurred\nas reported by the Kubernetes API (e.g., '2m28s', '5h')."
        },
        "from": {
          "type": "string",
          "description": "Component that emitted the event\n(e.g., 'default-scheduler', 'kubelet')."
        },
        "message": {
          "type": "string",
          "description": "Human-readable description of the event."
        }
      },
      "required": [
        "type",
        "reason",
        "age",
        "from",
        "message"
      ]
    },
    "KubernetesGenericField": {
      "type": "object",
      "description": "A generic recursive field node used to represent resource-specific fields\nthat are not captured by the typed properties on KubernetesResourceSpec\nor KubernetesResourceStatus (e.g., uncommon fields and CRD-specific data).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Field name.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "Value"
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "KubernetesLabel": {
      "type": "object",
      "description": "A single Kubernetes label (key/value pair used for selection and grouping).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Label key (e.g., 'app.kubernetes.io/name').",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "Label value."
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "KubernetesObjectMeta": {
      "type": "object",
      "description": "Metadata common to all Kubernetes objects (subset of ObjectMeta).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the Kubernetes object, unique within its namespace."
        },
        "namespaceName": {
          "type": "string",
          "description": "Namespace the object belongs to.\nEmpty for cluster-scoped resources such as Node and Namespace."
        },
        "uid": {
          "type": "string",
          "description": "Immutable UID assigned by the Kubernetes API server."
        },
        "resourceVersion": {
          "type": "string",
          "description": "Opaque version string used for optimistic concurrency.\nClients must treat this as opaque and pass it unmodified on updates."
        },
        "generation": {
          "type": "integer",
          "format": "int64",
          "description": "Sequence number incremented each time the object spec changes."
        },
        "creationTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "UTC timestamp when the object was created."
        },
        "deletionTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "UTC timestamp set when a graceful deletion has been requested.\nAbsent when the object is not being deleted."
        },
        "labels": {
          "type": "array",
          "description": "User-defined key/value pairs used for selection and grouping.",
          "items": {
            "$ref": "#/definitions/KubernetesLabel"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "annotations": {
          "type": "array",
          "description": "Key/value pairs for non-identifying auxiliary metadata.",
          "items": {
            "$ref": "#/definitions/KubernetesAnnotation"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "ownerReferences": {
          "type": "array",
          "description": "References to the objects that own this object (e.g., the ReplicaSet that owns a Pod).",
          "items": {
            "$ref": "#/definitions/OwnerReference"
          },
          "x-ms-identifiers": [
            "uid"
          ]
        },
        "finalizers": {
          "type": "array",
          "description": "Named lifecycle hooks that must be resolved before the object is deleted.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "name"
      ]
    },
    "KubernetesResourceSpec": {
      "type": "object",
      "description": "Desired state (spec) of a Kubernetes resource.\n\nWell-known fields for native workloads (Pod, Deployment, Service, etc.) are typed\ndirectly. UpgradeAssessment spec fields are merged in as optional typed properties.\nFields not covered by any typed property can be placed in additionalFields.",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "Name of the node the pod is scheduled on. Populated for Pod resources."
        },
        "restartPolicy": {
          "type": "string",
          "description": "Pod restart policy (e.g., 'Always', 'OnFailure', 'Never'). Populated for Pod resources."
        },
        "containers": {
          "type": "array",
          "description": "Containers belonging to the pod or pod template.\nPopulated for Pod, Deployment, StatefulSet, and DaemonSet resources.",
          "items": {
            "$ref": "#/definitions/ContainerSpec"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "initContainers": {
          "type": "array",
          "description": "Init containers that run before app containers start.\nPopulated for Pod, Deployment, StatefulSet, and DaemonSet resources.",
          "items": {
            "$ref": "#/definitions/ContainerSpec"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "terminationGracePeriodSeconds": {
          "type": "integer",
          "format": "int64",
          "description": "Grace period in seconds before forcibly terminating the pod on deletion."
        },
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "Desired number of pod replicas. Populated for Deployment and StatefulSet resources."
        },
        "serviceName": {
          "type": "string",
          "description": "Headless service name governing StatefulSet pod network identity.\nPopulated for StatefulSet resources."
        },
        "serviceType": {
          "type": "string",
          "description": "How the service is exposed (e.g., 'ClusterIP', 'NodePort', 'LoadBalancer').\nPopulated for Service resources."
        },
        "clusterIp": {
          "type": "string",
          "description": "Cluster-internal IP assigned to the service. Populated for Service resources."
        },
        "serviceAccountName": {
          "type": "string",
          "description": "Name of the ServiceAccount the pod runs as.\nPopulated for Pod, Deployment, StatefulSet, and DaemonSet resources."
        },
        "tolerations": {
          "type": "array",
          "description": "Tolerations allowing the pod to be scheduled on nodes with matching taints.\nPopulated for Pod, Deployment, StatefulSet, and DaemonSet resources.",
          "items": {
            "$ref": "#/definitions/Toleration"
          },
          "x-ms-identifiers": []
        },
        "volumes": {
          "type": "array",
          "description": "Volumes available to containers in the pod or pod template.\nPopulated for Pod, Deployment, StatefulSet, and DaemonSet resources.",
          "items": {
            "$ref": "#/definitions/Volume"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "dnsPolicy": {
          "type": "string",
          "description": "DNS policy for the pod (e.g., 'ClusterFirst', 'Default', 'None').\nPopulated for Pod resources."
        },
        "securityContext": {
          "$ref": "#/definitions/PodSecurityContext",
          "description": "Security context applied at the pod level.\nPopulated for Pod, Deployment, StatefulSet, and DaemonSet resources."
        },
        "currentKubernetesVersion": {
          "type": "string",
          "description": "Current Kubernetes version running on the cluster (e.g., '1.29').\nPopulated for UpgradeAssessment resources."
        },
        "targetKubernetesVersion": {
          "type": "string",
          "description": "Target Kubernetes version to evaluate for upgrade (e.g., '1.30').\nPopulated for UpgradeAssessment resources."
        },
        "additionalFields": {
          "type": "array",
          "description": "Additional resource-specific fields not represented by the typed properties above.\nUsed for uncommon fields and custom resource definition instances.",
          "items": {
            "$ref": "#/definitions/KubernetesGenericField"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "KubernetesResourceStatus": {
      "type": "object",
      "description": "Observed state (status) of a Kubernetes resource, written by the controller.\n\nWell-known fields for native workloads (Pod, Deployment, Service, etc.) are typed\ndirectly. UpgradeAssessment status fields are merged in as optional typed properties.\nFields not covered by any typed property can be placed in additionalFields.",
      "properties": {
        "conditions": {
          "type": "array",
          "description": "Conditions reported by the controller managing this resource.",
          "items": {
            "$ref": "#/definitions/KubernetesCondition"
          },
          "x-ms-identifiers": [
            "type"
          ]
        },
        "phase": {
          "type": "string",
          "description": "High-level lifecycle phase of the resource.\nExamples: 'Running' / 'Pending' / 'Succeeded' / 'Failed' for Pod;\n'Bound' / 'Pending' / 'Lost' for PersistentVolumeClaim;\n'Active' / 'Terminating' for Namespace."
        },
        "message": {
          "type": "string",
          "description": "Human-readable message summarizing the resource state."
        },
        "readyReplicas": {
          "type": "integer",
          "format": "int32",
          "description": "Number of pods ready to serve requests. Populated for Deployment, StatefulSet, DaemonSet."
        },
        "availableReplicas": {
          "type": "integer",
          "format": "int32",
          "description": "Number of pods available for at least minReadySeconds. Populated for Deployment, DaemonSet."
        },
        "podIp": {
          "type": "string",
          "description": "IP address allocated to the pod within the cluster. Populated for Pod resources."
        },
        "hostIp": {
          "type": "string",
          "description": "IP address of the node hosting the pod. Populated for Pod resources."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "UTC timestamp when the pod was accepted by the scheduler. Populated for Pod resources."
        },
        "containerStatuses": {
          "type": "array",
          "description": "Runtime status of each container in the pod.\nPopulated for Pod resources.",
          "items": {
            "$ref": "#/definitions/ContainerStatus"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "qosClass": {
          "type": "string",
          "description": "QoS class assigned by Kubernetes based on resource requests and limits.\nOne of 'Guaranteed', 'Burstable', or 'BestEffort'. Populated for Pod resources."
        },
        "observedGeneration": {
          "type": "integer",
          "format": "int64",
          "description": "Most recent generation observed by the controller.\nPopulated for Deployment, StatefulSet, DaemonSet, and Pod resources."
        },
        "assessmentTime": {
          "type": "string",
          "format": "date-time",
          "description": "UTC timestamp when the in-cluster agent last computed this assessment.\nPopulated for UpgradeAssessment resources.",
          "readOnly": true
        },
        "overallSeverity": {
          "$ref": "#/definitions/Severity",
          "description": "Rolled-up severity across all checks; highest severity wins.\nPopulated for UpgradeAssessment resources."
        },
        "componentCompatibility": {
          "type": "array",
          "description": "Per-component compatibility results with the target Kubernetes version.\nPopulated for UpgradeAssessment resources.",
          "items": {
            "$ref": "#/definitions/ComponentCompatibility"
          },
          "x-ms-identifiers": []
        },
        "deprecatedApis": {
          "type": "array",
          "description": "Deprecated Kubernetes APIs still in use in the cluster.\nPopulated for UpgradeAssessment resources.",
          "items": {
            "$ref": "#/definitions/DeprecatedApiUsage"
          },
          "x-ms-identifiers": []
        },
        "readinessChecks": {
          "type": "array",
          "description": "Cluster readiness check results.\nPopulated for UpgradeAssessment resources.",
          "items": {
            "$ref": "#/definitions/ReadinessCheck"
          },
          "x-ms-identifiers": []
        },
        "additionalFields": {
          "type": "array",
          "description": "Additional resource-specific status fields not represented by the typed properties above.\nUsed for uncommon fields and custom resource definition instances.",
          "items": {
            "$ref": "#/definitions/KubernetesGenericField"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "NetworkProtocol": {
      "type": "string",
      "description": "Network protocol used by a container port.",
      "enum": [
        "TCP",
        "UDP",
        "SCTP"
      ],
      "x-ms-enum": {
        "name": "NetworkProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "TCP",
            "value": "TCP",
            "description": "Transmission Control Protocol."
          },
          {
            "name": "UDP",
            "value": "UDP",
            "description": "User Datagram Protocol."
          },
          {
            "name": "SCTP",
            "value": "SCTP",
            "description": "Stream Control Transmission Protocol."
          }
        ]
      }
    },
    "OwnerReference": {
      "type": "object",
      "description": "A reference from a Kubernetes object to its owner (e.g., a ReplicaSet owning a Pod).",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "API version of the owner (e.g., 'apps/v1')."
        },
        "kind": {
          "type": "string",
          "description": "Kind of the owner (e.g., 'ReplicaSet')."
        },
        "name": {
          "type": "string",
          "description": "Name of the owner object."
        },
        "uid": {
          "type": "string",
          "description": "UID of the owner object."
        },
        "controller": {
          "type": "boolean",
          "description": "True when this owner manages the lifecycle of the referencing object."
        },
        "blockOwnerDeletion": {
          "type": "boolean",
          "description": "If true, deletion of the owner is blocked until this reference is removed."
        }
      },
      "required": [
        "apiVersion",
        "kind",
        "name",
        "uid"
      ]
    },
    "PodSecurityContext": {
      "type": "object",
      "description": "Security context applied at the pod level, affecting all containers.",
      "properties": {
        "fsGroup": {
          "type": "integer",
          "format": "int64",
          "description": "GID of the owning group for volume mounts; processes also run as this GID."
        },
        "runAsUser": {
          "type": "integer",
          "format": "int64",
          "description": "UID to run all containers as. Overridden per-container by ContainerSecurityContext.runAsUser."
        },
        "runAsGroup": {
          "type": "integer",
          "format": "int64",
          "description": "GID to run all containers as."
        },
        "runAsNonRoot": {
          "type": "boolean",
          "description": "Require all containers to run as non-root when true."
        },
        "supplementalGroups": {
          "type": "array",
          "description": "Supplemental GIDs applied to each container in addition to the primary GID.",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "ReadinessCategory": {
      "type": "string",
      "description": "Category of a cluster readiness check.",
      "enum": [
        "NodeStatus",
        "APIServerHealth",
        "PodDisruptionBudget",
        "Addon",
        "Storage",
        "Networking"
      ],
      "x-ms-enum": {
        "name": "ReadinessCategory",
        "modelAsString": true,
        "values": [
          {
            "name": "NodeStatus",
            "value": "NodeStatus",
            "description": "Node status check."
          },
          {
            "name": "APIServerHealth",
            "value": "APIServerHealth",
            "description": "API server health check."
          },
          {
            "name": "PodDisruptionBudget",
            "value": "PodDisruptionBudget",
            "description": "Pod disruption budget check."
          },
          {
            "name": "Addon",
            "value": "Addon",
            "description": "Addon compatibility check."
          },
          {
            "name": "Storage",
            "value": "Storage",
            "description": "Storage compatibility check."
          },
          {
            "name": "Networking",
            "value": "Networking",
            "description": "Networking compatibility check."
          }
        ]
      }
    },
    "ReadinessCheck": {
      "type": "object",
      "description": "A single cluster readiness check result.",
      "properties": {
        "category": {
          "$ref": "#/definitions/ReadinessCategory",
          "description": "Category of the readiness check."
        },
        "name": {
          "type": "string",
          "description": "Subject of the check (node name, workload namespace/name, etc.).\nOptional for cluster-wide checks."
        },
        "severity": {
          "$ref": "#/definitions/Severity",
          "description": "Severity of the check result."
        },
        "details": {
          "type": "string",
          "description": "Human-readable reason when severity is not 'pass'."
        }
      },
      "required": [
        "category",
        "severity"
      ]
    },
    "Severity": {
      "type": "string",
      "description": "Severity of an upgrade-assessment finding or readiness check.",
      "enum": [
        "Pass",
        "Warning",
        "Critical",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "Severity",
        "modelAsString": true,
        "values": [
          {
            "name": "Pass",
            "value": "Pass",
            "description": "No issues found."
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "Non-blocking issues found; upgrade is possible but action is recommended."
          },
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Blocking issues found; upgrade should not proceed without remediation."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Severity could not be determined."
          }
        ]
      }
    },
    "Toleration": {
      "type": "object",
      "description": "A toleration allows a pod to be scheduled on a node with a matching taint.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Taint key the toleration applies to. Empty matches all keys.",
          "readOnly": true
        },
        "operator": {
          "type": "string",
          "description": "Operator to use when matching: 'Equal' matches when key and value both match;\n'Exists' matches when the key is present regardless of value."
        },
        "value": {
          "type": "string",
          "description": "Taint value matched when operator is 'Equal'."
        },
        "effect": {
          "type": "string",
          "description": "Taint effect this toleration applies to\n('NoSchedule', 'PreferNoSchedule', or 'NoExecute'). Empty matches all effects."
        },
        "tolerationSeconds": {
          "type": "integer",
          "format": "int64",
          "description": "Seconds a pod tolerates a NoExecute taint before being evicted."
        }
      },
      "required": [
        "key"
      ]
    },
    "Volume": {
      "type": "object",
      "description": "A volume available to containers in a pod.\nThe sourceType field identifies the kind of volume source\n(e.g., 'emptyDir', 'configMap', 'secret', 'persistentVolumeClaim', 'projected').",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the volume, referenced by container volumeMounts."
        },
        "sourceType": {
          "type": "string",
          "description": "Kind of volume source\n(e.g., 'emptyDir', 'configMap', 'secret', 'persistentVolumeClaim', 'projected')."
        },
        "source": {
          "type": "string",
          "description": "Primary reference for the volume source (e.g., ConfigMap name or PVC name)."
        },
        "sizeLimit": {
          "type": "string",
          "description": "Storage size limit for emptyDir volumes (e.g., '50Mi')."
        }
      },
      "required": [
        "name"
      ]
    },
    "VolumeMount": {
      "type": "object",
      "description": "A volume mount inside a container.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name matching a volume declared in the pod spec."
        },
        "mountPath": {
          "type": "string",
          "description": "Absolute path inside the container where the volume is mounted."
        },
        "readOnly": {
          "type": "boolean",
          "description": "Mount the volume as read-only when true."
        },
        "subPath": {
          "type": "string",
          "description": "Sub-path within the volume to mount instead of the volume root."
        }
      },
      "required": [
        "name",
        "mountPath"
      ]
    }
  },
  "parameters": {}
}
