{
  "swagger": "2.0",
  "info": {
    "title": "Managed DevOps Infrastructure",
    "version": "2023-10-30-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Pools"
    }
  ],
  "paths": {
    "/providers/Microsoft.DevOpsInfrastructure/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevOpsInfrastructure/pools": {
      "get": {
        "operationId": "Pools_ListBySubscription",
        "tags": [
          "Pools"
        ],
        "description": "List Pool resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOpsInfrastructure/pools": {
      "get": {
        "operationId": "Pools_ListByResourceGroup",
        "tags": [
          "Pools"
        ],
        "description": "List Pool resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOpsInfrastructure/pools/{poolName}": {
      "get": {
        "operationId": "Pools_Get",
        "tags": [
          "Pools"
        ],
        "description": "Get a Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "poolName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Pools_CreateOrUpdate",
        "tags": [
          "Pools"
        ],
        "description": "Create a Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "poolName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Pool' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "201": {
            "description": "Resource 'Pool' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Pool"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Pools_Update",
        "tags": [
          "Pools"
        ],
        "description": "Update a Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "poolName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PoolUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Pools_Delete",
        "tags": [
          "Pools"
        ],
        "description": "Delete a Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "poolName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AgentProfile": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Discriminator property for AgentProfile."
        },
        "resourcePredictions": {
          "$ref": "#/definitions/ResourcePredictions"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind",
        "resourcePredictions"
      ]
    },
    "AgentProfileUpdate": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Discriminator property for AgentProfile."
        },
        "resourcePredictions": {
          "$ref": "#/definitions/ResourcePredictions"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "AzureDevOpsOrganizationProfile": {
      "type": "object",
      "properties": {
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Organization"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "organizations"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/OrganizationProfile"
        }
      ],
      "x-ms-discriminator-value": "AzureDevOps"
    },
    "DevOpsAzureSku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "tier": {
          "type": "string",
          "default": "Standard"
        }
      },
      "required": [
        "name",
        "tier"
      ]
    },
    "FabricProfile": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Discriminator property for FabricProfile."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "NetworkProfile": {
      "type": "object",
      "properties": {
        "subnetId": {
          "type": "string"
        }
      },
      "required": [
        "subnetId"
      ]
    },
    "Organization": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "projects": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parallelism": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "url",
        "projects",
        "parallelism"
      ]
    },
    "OrganizationProfile": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Discriminator property for OrganizationProfile."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "OsProfile": {
      "type": "object",
      "properties": {
        "secretsManagementSettings": {
          "$ref": "#/definitions/SecretsManagementSettings"
        }
      },
      "required": [
        "secretsManagementSettings"
      ]
    },
    "Pool": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PoolProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PoolImage": {
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "buffer": {
          "type": "string",
          "default": "*"
        }
      },
      "required": [
        "resourceId",
        "aliases",
        "buffer"
      ]
    },
    "PoolListResult": {
      "type": "object",
      "description": "The response of a Pool list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Pool items on this page",
          "items": {
            "$ref": "#/definitions/Pool"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PoolProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "maximumConcurrency": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 10000
        },
        "organizationProfile": {
          "$ref": "#/definitions/OrganizationProfile"
        },
        "agentProfile": {
          "$ref": "#/definitions/AgentProfile"
        },
        "fabricProfile": {
          "$ref": "#/definitions/FabricProfile"
        }
      },
      "required": [
        "maximumConcurrency",
        "organizationProfile",
        "agentProfile",
        "fabricProfile"
      ]
    },
    "PoolUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Pool.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/PoolUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "PoolUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Pool.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "maximumConcurrency": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 10000
        },
        "organizationProfile": {
          "$ref": "#/definitions/OrganizationProfile"
        },
        "agentProfile": {
          "$ref": "#/definitions/AgentProfileUpdate"
        },
        "fabricProfile": {
          "$ref": "#/definitions/FabricProfile"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Represents a succeeded operation."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Represents a failed operation."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Represents a canceled operation."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Represents a pending operation."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Represents a pending operation."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Represents an operation under deletion."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Represents an accepted operation."
          }
        ]
      }
    },
    "ResourcePredictions": {
      "type": "object"
    },
    "SecretsManagementSettings": {
      "type": "object",
      "properties": {
        "certificateStoreLocation": {
          "type": "string"
        },
        "observedCertificates": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uri"
          }
        },
        "keyExportable": {
          "type": "boolean"
        }
      },
      "required": [
        "certificateStoreLocation",
        "observedCertificates",
        "keyExportable"
      ]
    },
    "Stateful": {
      "type": "object",
      "properties": {
        "maxAgentLifetime": {}
      },
      "required": [
        "maxAgentLifetime"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AgentProfile"
        }
      ],
      "x-ms-discriminator-value": "Stateful"
    },
    "StatefulUpdate": {
      "type": "object",
      "properties": {
        "maxAgentLifetime": {}
      },
      "allOf": [
        {
          "$ref": "#/definitions/AgentProfileUpdate"
        }
      ],
      "x-ms-discriminator-value": "Stateful"
    },
    "StatelessAgentProfile": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AgentProfile"
        }
      ],
      "x-ms-discriminator-value": "Stateless"
    },
    "StatelessAgentProfileUpdate": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AgentProfileUpdate"
        }
      ],
      "x-ms-discriminator-value": "Stateless"
    },
    "VmssFabricProfile": {
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/DevOpsAzureSku"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PoolImage"
          },
          "x-ms-identifiers": []
        },
        "osProfile": {
          "$ref": "#/definitions/OsProfile"
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile"
        }
      },
      "required": [
        "sku",
        "images",
        "osProfile",
        "networkProfile"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/FabricProfile"
        }
      ],
      "x-ms-discriminator-value": "Vmss"
    }
  },
  "parameters": {}
}