{
  "swagger": "2.0",
  "info": {
    "title": "Managed DevOps Infrastructure",
    "version": "2023-10-30-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Pools"
    }
  ],
  "paths": {
    "/providers/Microsoft.DevOpsInfrastructure/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevOpsInfrastructure/pools": {
      "get": {
        "operationId": "Pools_ListBySubscription",
        "tags": [
          "Pools"
        ],
        "description": "List Pool resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pools_ListBySubscription": {
            "$ref": "./examples/ListPoolsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOpsInfrastructure/pools": {
      "get": {
        "operationId": "Pools_ListByResourceGroup",
        "tags": [
          "Pools"
        ],
        "description": "List Pool resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pools_ListByResourceGroup": {
            "$ref": "./examples/ListPoolsBySubscriptionAndResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOpsInfrastructure/pools/{poolName}": {
      "get": {
        "operationId": "Pools_Get",
        "tags": [
          "Pools"
        ],
        "description": "Get a Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "Name of the pool. It needs to be globally unique.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pools_Get": {
            "$ref": "./examples/GetPool.json"
          }
        }
      },
      "put": {
        "operationId": "Pools_CreateOrUpdate",
        "tags": [
          "Pools"
        ],
        "description": "Create a Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "Name of the pool. It needs to be globally unique.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Pool' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "201": {
            "description": "Resource 'Pool' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Pool"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pools_CreateOrUpdate": {
            "$ref": "./examples/CreateOrUpdatePool.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Pools_Update",
        "tags": [
          "Pools"
        ],
        "description": "Update a Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "Name of the pool. It needs to be globally unique.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PoolUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pools_Update": {
            "$ref": "./examples/UpdatePool.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Pools_Delete",
        "tags": [
          "Pools"
        ],
        "description": "Delete a Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "Name of the pool. It needs to be globally unique.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pools_Delete": {
            "$ref": "./examples/DeletePool.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AgentProfile": {
      "type": "object",
      "description": "The agent profile of the machines in the pool.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/AgentProfileKind"
        },
        "resourcePredictions": {
          "$ref": "#/definitions/ResourcePredictions",
          "description": "Defines pool buffer."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "AgentProfileKind": {
      "type": "string",
      "description": "The kinds of agents",
      "enum": [
        "Stateless",
        "Stateful"
      ],
      "x-ms-enum": {
        "name": "AgentProfileKind",
        "modelAsString": true,
        "values": [
          {
            "name": "Stateless",
            "value": "Stateless",
            "description": "Machines will be cleaned up after execution"
          },
          {
            "name": "Stateful",
            "value": "Stateful",
            "description": "Machines returned to the pool after execution"
          }
        ]
      }
    },
    "AgentProfileUpdate": {
      "type": "object",
      "description": "The agent profile of the machines in the pool.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/AgentProfileKind"
        },
        "resourcePredictions": {
          "$ref": "#/definitions/ResourcePredictions",
          "description": "Defines pool buffer."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ]
    },
    "Azure.ResourceManager.Legacy.ManagedServiceIdentityType": {
      "type": "string",
      "description": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed).",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedServiceIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No managed identity."
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned, UserAssigned",
            "description": "System and user assigned managed identity."
          }
        ]
      }
    },
    "Azure.ResourceManager.Legacy.ManagedServiceIdentityV4Update": {
      "type": "object",
      "description": "Managed service identity (system assigned and/or user assigned identities)",
      "properties": {
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.Legacy.ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/UserAssignedIdentity"
          }
        }
      }
    },
    "AzureDevOpsOrganizationProfile": {
      "type": "object",
      "description": "Azure DevOps organization profile",
      "properties": {
        "organizations": {
          "type": "array",
          "description": "The list of Azure DevOps organizations the pool should be present in.",
          "items": {
            "$ref": "#/definitions/Organization"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "organizations"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/OrganizationProfile"
        }
      ],
      "x-ms-discriminator-value": "AzureDevOps"
    },
    "AzureDevOpsOrganizationProfileUpdate": {
      "type": "object",
      "description": "Azure DevOps organization profile",
      "properties": {
        "organizations": {
          "type": "array",
          "description": "The list of Azure DevOps organizations the pool should be present in.",
          "items": {
            "$ref": "#/definitions/Organization"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/OrganizationProfileUpdate"
        }
      ],
      "x-ms-discriminator-value": "AzureDevOps"
    },
    "DevOpsAzureSku": {
      "type": "object",
      "description": "The Azure SKU of the machines in the pool.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The Azure SKU name of the machines in the pool."
        },
        "tier": {
          "type": "string",
          "description": "The Azure SKU tier of the machines in the pool.",
          "default": "Standard"
        }
      },
      "required": [
        "name"
      ]
    },
    "DevOpsAzureSkuUpdate": {
      "type": "object",
      "description": "The Azure SKU of the machines in the pool.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The Azure SKU name of the machines in the pool."
        },
        "tier": {
          "type": "string",
          "description": "The Azure SKU tier of the machines in the pool.",
          "default": "Standard"
        }
      }
    },
    "FabricProfile": {
      "type": "object",
      "description": "Defines the type of fabric the agent will run on.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/FabricProfileKind"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "FabricProfileKind": {
      "type": "string",
      "description": "The kind of fabric profile",
      "enum": [
        "Vmss"
      ],
      "x-ms-enum": {
        "name": "FabricProfileKind",
        "modelAsString": true,
        "values": [
          {
            "name": "Vmss",
            "value": "Vmss",
            "description": "A fabric profile containing virtual machine scale sets"
          }
        ]
      }
    },
    "FabricProfileUpdate": {
      "type": "object",
      "description": "Defines the type of fabric the agent will run on.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/FabricProfileKind"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "NetworkProfile": {
      "type": "object",
      "description": "The network profile of the machines in the pool.",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "The subnet id on which to put all machines created in the pool."
        }
      },
      "required": [
        "subnetId"
      ]
    },
    "NetworkProfileUpdate": {
      "type": "object",
      "description": "The network profile of the machines in the pool.",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "The subnet id on which to put all machines created in the pool."
        }
      }
    },
    "Organization": {
      "type": "object",
      "description": "Defines an Azure DevOps organization.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The Azure DevOps organization URL in which the pool should be created."
        },
        "projects": {
          "type": "array",
          "description": "Optional list of projects in which the pool should be created.",
          "items": {
            "type": "string"
          }
        },
        "parallelism": {
          "type": "integer",
          "format": "int32",
          "description": "How many machines can be created at maximum in this organization out of the maximumConcurrency of the pool."
        }
      },
      "required": [
        "url"
      ]
    },
    "OrganizationProfile": {
      "type": "object",
      "description": "Defines the organization in which the pool will be used.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/OrganizationProfileKind"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "OrganizationProfileKind": {
      "type": "string",
      "description": "The kinds of organization profile",
      "enum": [
        "AzureDevOps"
      ],
      "x-ms-enum": {
        "name": "OrganizationProfileKind",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureDevOps",
            "value": "AzureDevOps",
            "description": "An ADO organization profile"
          }
        ]
      }
    },
    "OrganizationProfileUpdate": {
      "type": "object",
      "description": "Defines the organization in which the pool will be used.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/OrganizationProfileKind"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "OsProfile": {
      "type": "object",
      "description": "The OS profile of the machines in the pool.",
      "properties": {
        "secretsManagementSettings": {
          "$ref": "#/definitions/SecretsManagementSettings",
          "description": "The secret management settings of the machines in the pool."
        }
      },
      "required": [
        "secretsManagementSettings"
      ]
    },
    "OsProfileUpdate": {
      "type": "object",
      "description": "The OS profile of the machines in the pool.",
      "properties": {
        "secretsManagementSettings": {
          "$ref": "#/definitions/SecretsManagementSettingsUpdate",
          "description": "The secret management settings of the machines in the pool."
        }
      }
    },
    "Pool": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PoolProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PoolImage": {
      "type": "object",
      "description": "The VM image of the machines in the pool.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The resource id of the image."
        },
        "aliases": {
          "type": "array",
          "description": "List of aliases to reference the image by.",
          "items": {
            "type": "string"
          }
        },
        "buffer": {
          "type": "string",
          "description": "The percentage of the buffer to be allocated to this image.",
          "default": "*"
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "PoolListResult": {
      "type": "object",
      "description": "The response of a Pool list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Pool items on this page",
          "items": {
            "$ref": "#/definitions/Pool"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PoolProperties": {
      "type": "object",
      "description": "Pool properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the current operation.",
          "readOnly": true
        },
        "maximumConcurrency": {
          "type": "integer",
          "format": "int32",
          "description": "Defines how many resources can there be created at any given time.",
          "minimum": 1,
          "maximum": 10000
        },
        "organizationProfile": {
          "$ref": "#/definitions/OrganizationProfile",
          "description": "Defines the organization in which the pool will be used."
        },
        "agentProfile": {
          "$ref": "#/definitions/AgentProfile",
          "description": "Defines how the machine will be handled once it executed a job."
        },
        "fabricProfile": {
          "$ref": "#/definitions/FabricProfile",
          "description": "Defines the type of fabric the agent will run on."
        },
        "devCenterProjectResourceId": {
          "type": "string",
          "description": "The resource id of the DevCenter Project the pool belongs to."
        }
      },
      "required": [
        "maximumConcurrency",
        "organizationProfile",
        "agentProfile",
        "fabricProfile",
        "devCenterProjectResourceId"
      ]
    },
    "PoolPropertiesUpdate": {
      "type": "object",
      "description": "Pool properties",
      "properties": {
        "maximumConcurrency": {
          "type": "integer",
          "format": "int32",
          "description": "Defines how many resources can there be created at any given time.",
          "minimum": 1,
          "maximum": 10000
        },
        "organizationProfile": {
          "$ref": "#/definitions/OrganizationProfileUpdate",
          "description": "Defines the organization in which the pool will be used."
        },
        "agentProfile": {
          "$ref": "#/definitions/AgentProfileUpdate",
          "description": "Defines how the machine will be handled once it executed a job."
        },
        "fabricProfile": {
          "$ref": "#/definitions/FabricProfileUpdate",
          "description": "Defines the type of fabric the agent will run on."
        },
        "devCenterProjectResourceId": {
          "type": "string",
          "description": "The resource id of the DevCenter Project the pool belongs to."
        }
      }
    },
    "PoolUpdate": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PoolPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.Legacy.ManagedServiceIdentityV4Update",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Represents a succeeded operation."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Represents a failed operation."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Represents a canceled operation."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Represents a pending operation."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Represents a pending operation."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Represents an operation under deletion."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Represents an accepted operation."
          }
        ]
      },
      "readOnly": true
    },
    "ResourcePredictions": {
      "type": "object",
      "description": "Defines pool buffer."
    },
    "SecretsManagementSettings": {
      "type": "object",
      "description": "The secret management settings of the machines in the pool.",
      "properties": {
        "certificateStoreLocation": {
          "type": "string",
          "description": "Where to store certificates on the machine."
        },
        "observedCertificates": {
          "type": "array",
          "description": "The list of certificates to install on all machines in the pool.",
          "items": {
            "type": "string",
            "format": "uri"
          }
        },
        "keyExportable": {
          "type": "boolean",
          "description": "Defines if the key of the certificates should be exportable."
        }
      },
      "required": [
        "observedCertificates",
        "keyExportable"
      ]
    },
    "SecretsManagementSettingsUpdate": {
      "type": "object",
      "description": "The secret management settings of the machines in the pool.",
      "properties": {
        "certificateStoreLocation": {
          "type": "string",
          "description": "Where to store certificates on the machine."
        },
        "observedCertificates": {
          "type": "array",
          "description": "The list of certificates to install on all machines in the pool.",
          "items": {
            "type": "string",
            "format": "uri"
          }
        },
        "keyExportable": {
          "type": "boolean",
          "description": "Defines if the key of the certificates should be exportable."
        }
      }
    },
    "Stateful": {
      "type": "object",
      "description": "Stateful profile meaning that the machines will be returned to the pool after running a job.",
      "properties": {
        "maxAgentLifetime": {
          "type": "string",
          "description": "How long should stateful machines be kept around. The maximum is one week."
        }
      },
      "required": [
        "maxAgentLifetime"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AgentProfile"
        }
      ],
      "x-ms-discriminator-value": "Stateful"
    },
    "StatefulUpdate": {
      "type": "object",
      "description": "Stateful profile meaning that the machines will be returned to the pool after running a job.",
      "properties": {
        "maxAgentLifetime": {
          "type": "string",
          "description": "How long should stateful machines be kept around. The maximum is one week."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AgentProfileUpdate"
        }
      ],
      "x-ms-discriminator-value": "Stateful"
    },
    "StatelessAgentProfile": {
      "type": "object",
      "description": "Stateless profile meaning that the machines will be cleaned up after running a job.",
      "allOf": [
        {
          "$ref": "#/definitions/AgentProfile"
        }
      ],
      "x-ms-discriminator-value": "Stateless"
    },
    "StatelessAgentProfileUpdate": {
      "type": "object",
      "description": "Stateless profile meaning that the machines will be cleaned up after running a job.",
      "allOf": [
        {
          "$ref": "#/definitions/AgentProfileUpdate"
        }
      ],
      "x-ms-discriminator-value": "Stateless"
    },
    "VmssFabricProfile": {
      "type": "object",
      "description": "The agents will run on Virtual Machine Scale Sets.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/DevOpsAzureSku",
          "description": "The Azure SKU of the machines in the pool."
        },
        "images": {
          "type": "array",
          "description": "The VM images of the machines in the pool.",
          "items": {
            "$ref": "#/definitions/PoolImage"
          },
          "x-ms-identifiers": []
        },
        "osProfile": {
          "$ref": "#/definitions/OsProfile",
          "description": "The OS profile of the machines in the pool."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "The network profile of the machines in the pool."
        }
      },
      "required": [
        "sku",
        "images"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/FabricProfile"
        }
      ],
      "x-ms-discriminator-value": "Vmss"
    },
    "VmssFabricProfileUpdate": {
      "type": "object",
      "description": "The agents will run on Virtual Machine Scale Sets.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/DevOpsAzureSkuUpdate",
          "description": "The Azure SKU of the machines in the pool."
        },
        "images": {
          "type": "array",
          "description": "The VM images of the machines in the pool.",
          "items": {
            "$ref": "#/definitions/PoolImage"
          },
          "x-ms-identifiers": []
        },
        "osProfile": {
          "$ref": "#/definitions/OsProfileUpdate",
          "description": "The OS profile of the machines in the pool."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfileUpdate",
          "description": "The network profile of the machines in the pool."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/FabricProfileUpdate"
        }
      ],
      "x-ms-discriminator-value": "Vmss"
    }
  },
  "parameters": {}
}
