{
  "swagger": "2.0",
  "info": {
    "title": "SCVMM",
    "description": "The Microsoft.ScVmm Rest API spec.",
    "version": "2023-10-07"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}": {
      "get": {
        "tags": [
          "VmmServers"
        ],
        "operationId": "VmmServers_Get",
        "summary": "Gets a VMMServer.",
        "description": "Implements VMMServer GET method.",
        "x-ms-examples": {
          "GetVMMServer": {
            "$ref": "./examples/GetVMMServer.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "vmmServerName",
            "required": true,
            "type": "string",
            "description": "Name of the VMMServer.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the VmmServers resource.",
            "schema": {
              "$ref": "#/definitions/VMMServer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "VmmServers"
        ],
        "operationId": "VmmServers_CreateOrUpdate",
        "description": "Onboards the SCVMM fabric as an Azure VmmServer resource.",
        "summary": "Implements VmmServers PUT method.",
        "x-ms-examples": {
          "CreateVMMServer": {
            "$ref": "./examples/CreateVMMServer.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "vmmServerName",
            "required": true,
            "type": "string",
            "description": "Name of the VMMServer.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Request payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VMMServer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Creates or Updates the VmmServers resource.",
            "schema": {
              "$ref": "#/definitions/VMMServer"
            }
          },
          "201": {
            "description": "Creates or Updates the VmmServers resource.",
            "schema": {
              "$ref": "#/definitions/VMMServer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "VmmServers"
        ],
        "operationId": "VmmServers_Delete",
        "description": "Removes the SCVMM fabric from Azure.",
        "summary": "Implements VmmServers DELETE method.",
        "x-ms-examples": {
          "DeleteVMMServer": {
            "$ref": "./examples/DeleteVMMServer.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "vmmServerName",
            "required": true,
            "type": "string",
            "description": "Name of the VMMServer.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "query",
            "name": "force",
            "description": "Forces the resource to be deleted from azure. The corresponding CR would be attempted to be deleted too.",
            "required": false,
            "type": "string",
            "enum": [
              "false",
              "true"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Force"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "VmmServers"
        ],
        "operationId": "VmmServers_Update",
        "summary": "Implements VmmServers PATCH method.",
        "description": "Updates the VmmServers resource.",
        "x-ms-examples": {
          "UpdateVMMServer": {
            "$ref": "./examples/UpdateVMMServer.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "vmmServerName",
            "required": true,
            "type": "string",
            "description": "Name of the VMMServer.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "name": "body",
            "description": "VmmServers patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/VMMServer"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers": {
      "get": {
        "tags": [
          "VmmServers"
        ],
        "operationId": "VmmServers_ListByResourceGroup",
        "summary": "Implements GET VmmServers in a resource group.",
        "description": "List of VmmServers in a resource group.",
        "x-ms-examples": {
          "ListVmmServersByResourceGroup": {
            "$ref": "./examples/ListVMMServersByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VmmServers under the resource group.",
            "schema": {
              "$ref": "#/definitions/VMMServerListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/vmmServers": {
      "get": {
        "tags": [
          "VmmServers"
        ],
        "operationId": "VmmServers_ListBySubscription",
        "summary": "Implements GET VmmServers in a subscription.",
        "description": "List of VmmServers in a subscription.",
        "x-ms-examples": {
          "ListVmmServersBySubscription": {
            "$ref": "./examples/ListVMMServersBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VmmServers under the subscription.",
            "schema": {
              "$ref": "#/definitions/VMMServerListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ScVmm/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Returns list of all operations.",
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/clouds/{cloudResourceName}": {
      "get": {
        "tags": [
          "Clouds"
        ],
        "operationId": "Clouds_Get",
        "summary": "Gets a Cloud.",
        "description": "Implements Cloud GET method.",
        "x-ms-examples": {
          "GetCloud": {
            "$ref": "./examples/GetCloud.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "cloudResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the Cloud.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Clouds resource.",
            "schema": {
              "$ref": "#/definitions/Cloud"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Clouds"
        ],
        "operationId": "Clouds_CreateOrUpdate",
        "description": "Onboards the ScVmm fabric cloud as an Azure cloud resource.",
        "summary": "Implements Clouds PUT method.",
        "x-ms-examples": {
          "CreateCloud": {
            "$ref": "./examples/CreateCloud.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "cloudResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the Cloud.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Request payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cloud"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Creates or Updates the Clouds resource.",
            "schema": {
              "$ref": "#/definitions/Cloud"
            }
          },
          "201": {
            "description": "Creates or Updates the Clouds resource.",
            "schema": {
              "$ref": "#/definitions/Cloud"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "Clouds"
        ],
        "operationId": "Clouds_Delete",
        "description": "Deregisters the ScVmm fabric cloud from Azure.",
        "summary": "Implements Cloud resource DELETE method.",
        "x-ms-examples": {
          "DeleteCloud": {
            "$ref": "./examples/DeleteCloud.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "cloudResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the Cloud.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "query",
            "name": "force",
            "description": "Forces the resource to be deleted from azure. The corresponding CR would be attempted to be deleted too.",
            "required": false,
            "type": "string",
            "enum": [
              "false",
              "true"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Force"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "Clouds"
        ],
        "operationId": "Clouds_Update",
        "summary": "Implements the Clouds PATCH method.",
        "description": "Updates the Clouds resource.",
        "x-ms-examples": {
          "UpdateCloud": {
            "$ref": "./examples/UpdateCloud.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "cloudResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the Cloud.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "name": "body",
            "description": "Clouds patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/Cloud"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/clouds": {
      "get": {
        "tags": [
          "Clouds"
        ],
        "operationId": "Clouds_ListByResourceGroup",
        "summary": "Implements GET Clouds in a resource group.",
        "description": "List of Clouds in a resource group.",
        "x-ms-examples": {
          "ListCloudsByResourceGroup": {
            "$ref": "./examples/ListCloudsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all Clouds under the resource group.",
            "schema": {
              "$ref": "#/definitions/CloudListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/clouds": {
      "get": {
        "tags": [
          "Clouds"
        ],
        "operationId": "Clouds_ListBySubscription",
        "summary": "Implements GET Clouds in a subscription.",
        "description": "List of Clouds in a subscription.",
        "x-ms-examples": {
          "ListCloudsBySubscription": {
            "$ref": "./examples/ListCloudsBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all Clouds under the subscription.",
            "schema": {
              "$ref": "#/definitions/CloudListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks/{virtualNetworkName}": {
      "get": {
        "tags": [
          "VirtualNetworks"
        ],
        "operationId": "VirtualNetworks_Get",
        "summary": "Gets a VirtualNetwork.",
        "description": "Implements VirtualNetwork GET method.",
        "x-ms-examples": {
          "GetVirtualNetwork": {
            "$ref": "./examples/GetVirtualNetwork.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualNetwork.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the VirtualNetworks resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "VirtualNetworks"
        ],
        "operationId": "VirtualNetworks_CreateOrUpdate",
        "description": "Onboards the ScVmm virtual network as an Azure virtual network resource.",
        "summary": "Implements VirtualNetworks PUT method.",
        "x-ms-examples": {
          "CreateVirtualNetwork": {
            "$ref": "./examples/CreateVirtualNetwork.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualNetwork.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Request payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Creates or Updates the VirtualNetworks resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          },
          "201": {
            "description": "Creates or Updates the VirtualNetworks resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "VirtualNetworks"
        ],
        "operationId": "VirtualNetworks_Delete",
        "description": "Deregisters the ScVmm virtual network from Azure.",
        "summary": "Implements VirtualNetwork DELETE method.",
        "x-ms-examples": {
          "DeleteVirtualNetwork": {
            "$ref": "./examples/DeleteVirtualNetwork.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualNetwork.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "query",
            "name": "force",
            "description": "Forces the resource to be deleted from azure. The corresponding CR would be attempted to be deleted too.",
            "required": false,
            "type": "string",
            "enum": [
              "false",
              "true"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Force"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "VirtualNetworks"
        ],
        "operationId": "VirtualNetworks_Update",
        "summary": "Implements the VirtualNetworks PATCH method.",
        "description": "Updates the VirtualNetworks resource.",
        "x-ms-examples": {
          "UpdateVirtualNetwork": {
            "$ref": "./examples/UpdateVirtualNetwork.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualNetwork.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "name": "body",
            "description": "VirtualNetworks patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks": {
      "get": {
        "tags": [
          "VirtualNetworks"
        ],
        "operationId": "VirtualNetworks_ListByResourceGroup",
        "summary": "Implements GET VirtualNetworks in a resource group.",
        "description": "List of VirtualNetworks in a resource group.",
        "x-ms-examples": {
          "ListVirtualNetworksByResourceGroup": {
            "$ref": "./examples/ListVirtualNetworksByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualNetworks under the resource group.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/virtualNetworks": {
      "get": {
        "tags": [
          "VirtualNetworks"
        ],
        "operationId": "VirtualNetworks_ListBySubscription",
        "summary": "Implements GET VirtualNetworks in a subscription.",
        "description": "List of VirtualNetworks in a subscription.",
        "x-ms-examples": {
          "ListVirtualNetworksBySubscription": {
            "$ref": "./examples/ListVirtualNetworksBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualNetworks under the subscription.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachineTemplates/{virtualMachineTemplateName}": {
      "get": {
        "tags": [
          "VirtualMachineTemplates"
        ],
        "operationId": "VirtualMachineTemplates_Get",
        "summary": "Gets a VirtualMachineTemplate.",
        "description": "Implements VirtualMachineTemplate GET method.",
        "x-ms-examples": {
          "GetVirtualMachineTemplate": {
            "$ref": "./examples/GetVirtualMachineTemplate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineTemplateName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualMachineTemplate.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the VirtualMachineTemplates resource.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "VirtualMachineTemplates"
        ],
        "operationId": "VirtualMachineTemplates_CreateOrUpdate",
        "description": "Onboards the ScVmm VM Template as an Azure VM Template resource.",
        "summary": "Implements VirtualMachineTemplates PUT method.",
        "x-ms-examples": {
          "CreateVirtualMachineTemplate": {
            "$ref": "./examples/CreateVirtualMachineTemplate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineTemplateName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualMachineTemplate.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Request payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Creates or Updates the VirtualMachineTemplates resource.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplate"
            }
          },
          "201": {
            "description": "Creates or Updates the VirtualMachineTemplates resource.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "VirtualMachineTemplates"
        ],
        "operationId": "VirtualMachineTemplates_Delete",
        "description": "Deregisters the ScVmm VM Template from Azure.",
        "summary": "Implements VirtualMachineTemplate DELETE method.",
        "x-ms-examples": {
          "DeleteVirtualMachineTemplate": {
            "$ref": "./examples/DeleteVirtualMachineTemplate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineTemplateName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualMachineTemplate.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "query",
            "name": "force",
            "description": "Forces the resource to be deleted from azure. The corresponding CR would be attempted to be deleted too.",
            "required": false,
            "type": "string",
            "enum": [
              "false",
              "true"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Force"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "VirtualMachineTemplates"
        ],
        "operationId": "VirtualMachineTemplates_Update",
        "summary": "Implements the VirtualMachineTemplate PATCH method.",
        "description": "Updates the VirtualMachineTemplate resource.",
        "x-ms-examples": {
          "UpdateVirtualMachineTemplate": {
            "$ref": "./examples/UpdateVirtualMachineTemplate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineTemplateName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualMachineTemplate.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "name": "body",
            "description": "VirtualMachineTemplates patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplate"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachineTemplates": {
      "get": {
        "tags": [
          "VirtualMachineTemplates"
        ],
        "operationId": "VirtualMachineTemplates_ListByResourceGroup",
        "summary": "Implements GET VirtualMachineTemplates in a resource group.",
        "description": "List of VirtualMachineTemplates in a resource group.",
        "x-ms-examples": {
          "ListVirtualMachineTemplatesByResourceGroup": {
            "$ref": "./examples/ListVirtualMachineTemplatesByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualMachineTemplates under the resource group.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplateListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/virtualMachineTemplates": {
      "get": {
        "tags": [
          "VirtualMachineTemplates"
        ],
        "operationId": "VirtualMachineTemplates_ListBySubscription",
        "summary": "Implements GET VirtualMachineTemplates in a subscription.",
        "description": "List of VirtualMachineTemplates in a subscription.",
        "x-ms-examples": {
          "ListVirtualMachineTemplatesBySubscription": {
            "$ref": "./examples/ListVirtualMachineTemplatesBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualMachineTemplates under the subscription.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplateListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/availabilitySets/{availabilitySetResourceName}": {
      "get": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_Get",
        "summary": "Gets an AvailabilitySet.",
        "description": "Implements AvailabilitySet GET method.",
        "x-ms-examples": {
          "GetAvailabilitySet": {
            "$ref": "./examples/GetAvailabilitySet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "availabilitySetResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the AvailabilitySet.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the AvailabilitySet resource.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_CreateOrUpdate",
        "description": "Onboards the ScVmm availability set as an Azure resource.",
        "summary": "Implements AvailabilitySets PUT method.",
        "x-ms-examples": {
          "CreateAvailabilitySet": {
            "$ref": "./examples/CreateAvailabilitySet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "availabilitySetResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the AvailabilitySet.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Request payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Creates or Updates the AvailabilitySets resource.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "201": {
            "description": "Creates or Updates the AvailabilitySets resource.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_Delete",
        "description": "Deregisters the ScVmm availability set from Azure.",
        "summary": "Implements AvailabilitySet DELETE method.",
        "x-ms-examples": {
          "DeleteAvailabilitySet": {
            "$ref": "./examples/DeleteAvailabilitySet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "availabilitySetResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the AvailabilitySet.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "query",
            "name": "force",
            "description": "Forces the resource to be deleted from azure. The corresponding CR would be attempted to be deleted too.",
            "required": false,
            "type": "string",
            "enum": [
              "false",
              "true"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Force"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_Update",
        "summary": "Implements the AvailabilitySets PATCH method.",
        "description": "Updates the AvailabilitySets resource.",
        "x-ms-examples": {
          "UpdateAvailabilitySet": {
            "$ref": "./examples/UpdateAvailabilitySet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "availabilitySetResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the AvailabilitySet.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "name": "body",
            "description": "AvailabilitySets patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/availabilitySets": {
      "get": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_ListByResourceGroup",
        "summary": "Implements GET AvailabilitySets in a resource group.",
        "description": "List of AvailabilitySets in a resource group.",
        "x-ms-examples": {
          "ListAvailabilitySetsByResourceGroup": {
            "$ref": "./examples/ListAvailabilitySetsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all AvailabilitySets under the resource group.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/availabilitySets": {
      "get": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_ListBySubscription",
        "summary": "Implements GET AvailabilitySets in a subscription.",
        "description": "List of AvailabilitySets in a subscription.",
        "x-ms-examples": {
          "ListAvailabilitySetsBySubscription": {
            "$ref": "./examples/ListAvailabilitySetsBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all AvailabilitySets under the subscription.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems/{inventoryItemResourceName}": {
      "put": {
        "tags": [
          "InventoryItems"
        ],
        "operationId": "InventoryItems_Create",
        "summary": "Implements InventoryItem PUT method.",
        "description": "Create Or Update InventoryItem.",
        "x-ms-examples": {
          "CreateInventoryItem": {
            "$ref": "./examples/CreateInventoryItem.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "vmmServerName",
            "required": true,
            "type": "string",
            "description": "Name of the VMMServer.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "in": "path",
            "name": "inventoryItemResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the inventoryItem.",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/InventoryItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InventoryItem"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/InventoryItem"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "InventoryItems"
        ],
        "operationId": "InventoryItems_Get",
        "summary": "Implements GET InventoryItem method.",
        "description": "Shows an inventory item.",
        "x-ms-examples": {
          "GetInventoryItem": {
            "$ref": "./examples/GetInventoryItem.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "vmmServerName",
            "required": true,
            "type": "string",
            "description": "Name of the VMMServer.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "in": "path",
            "name": "inventoryItemResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the inventoryItem.",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InventoryItem"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "InventoryItems"
        ],
        "operationId": "InventoryItems_Delete",
        "summary": "Implements inventoryItem DELETE method.",
        "description": "Deletes an inventoryItem.",
        "x-ms-examples": {
          "DeleteInventoryItem": {
            "$ref": "./examples/DeleteInventoryItem.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "vmmServerName",
            "required": true,
            "type": "string",
            "description": "Name of the VMMServer.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "in": "path",
            "name": "inventoryItemResourceName",
            "required": true,
            "type": "string",
            "description": "Name of the inventoryItem.",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems": {
      "get": {
        "tags": [
          "InventoryItems"
        ],
        "operationId": "InventoryItems_ListByVMMServer",
        "summary": "Implements GET for the list of Inventory Items in the VMMServer.",
        "description": "Returns the list of inventoryItems in the given VMMServer.",
        "x-ms-examples": {
          "InventoryItemsListByVMMServer": {
            "$ref": "./examples/ListInventoryItemsByVMMServer.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "vmmServerName",
            "required": true,
            "type": "string",
            "description": "Name of the VMMServer.",
            "pattern": "[a-zA-Z0-9-_\\.]",
            "minLength": 1,
            "maxLength": 54
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InventoryItemsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default": {
      "get": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_Get",
        "summary": "Gets a virtual machine.",
        "description": "Retrieves information about a virtual machine instance.",
        "x-ms-examples": {
          "GetVirtualMachine": {
            "$ref": "./examples/GetVirtualMachineInstance.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_CreateOrUpdate",
        "description": "The operation to create or update a virtual machine instance. Please note some properties can be set only during virtual machine instance creation.",
        "summary": "Implements virtual machine PUT method.",
        "x-ms-examples": {
          "CreateVirtualMachine": {
            "$ref": "./examples/CreateVirtualMachineInstance.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstance"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_Update",
        "summary": "Updates a virtual machine.",
        "description": "The operation to update a virtual machine instance.",
        "x-ms-examples": {
          "UpdateVirtualMachine": {
            "$ref": "./examples/UpdateVirtualMachineInstance.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Resource properties to update.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstanceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstance"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_Delete",
        "summary": "Deletes an virtual machine.",
        "description": "The operation to delete a virtual machine instance.",
        "x-ms-examples": {
          "DeleteVirtualMachine": {
            "$ref": "./examples/DeleteVirtualMachineInstance.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "query",
            "name": "force",
            "description": "Whether force delete was specified.",
            "required": false,
            "type": "string",
            "enum": [
              "false",
              "true"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Force"
            }
          },
          {
            "in": "query",
            "name": "deleteFromHost",
            "description": "Whether to disable the VM from azure and also delete it from VMM.",
            "required": false,
            "type": "string",
            "enum": [
              "false",
              "true"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DeleteFromHost"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances": {
      "get": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_List",
        "summary": "Implements List virtual machine instances.",
        "description": "Lists all of the virtual machine instances within the specified parent resource.",
        "x-ms-examples": {
          "ListVirtualMachines": {
            "$ref": "./examples/ListVirtualMachineInstances.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstanceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/stop": {
      "post": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_Stop",
        "description": "The operation to power off (stop) a virtual machine instance.",
        "summary": "Implements the operation to stop a virtual machine.",
        "x-ms-examples": {
          "StopVirtualMachine": {
            "$ref": "./examples/StopVirtualMachineInstance.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Virtualmachine stop action payload.",
            "schema": {
              "$ref": "#/definitions/StopVirtualMachineOptions"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/start": {
      "post": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_Start",
        "description": "The operation to start a virtual machine instance.",
        "summary": "Implements the operation to start a virtual machine.",
        "x-ms-examples": {
          "StartVirtualMachine": {
            "$ref": "./examples/StartVirtualMachineInstance.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/restart": {
      "post": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_Restart",
        "description": "The operation to restart a virtual machine instance.",
        "summary": "Implements the operation to restart a virtual machine.",
        "x-ms-examples": {
          "RestartVirtualMachine": {
            "$ref": "./examples/RestartVirtualMachineInstance.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/hybridIdentityMetadata/default": {
      "get": {
        "tags": [
          "VmInstanceHybridIdentityMetadata"
        ],
        "operationId": "VirtualMachineInstanceHybridIdentityMetadata_Get",
        "summary": "Gets HybridIdentityMetadata.",
        "description": "Implements HybridIdentityMetadata GET method.",
        "x-ms-examples": {
          "GetHybridIdentityMetadata": {
            "$ref": "./examples/GetVmInstanceHybridIdentityMetadata.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VmInstanceHybridIdentityMetadata"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/hybridIdentityMetadata": {
      "get": {
        "tags": [
          "VmInstanceHybridIdentityMetadata"
        ],
        "operationId": "VirtualMachineInstanceHybridIdentityMetadata_List",
        "summary": "Implements GET HybridIdentityMetadata in a vm.",
        "description": "Returns the list of HybridIdentityMetadata of the given vm.",
        "x-ms-examples": {
          "HybridIdentityMetadataListByVm": {
            "$ref": "./examples/HybridIdentityMetadata_ListByVmInstance.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VmInstanceHybridIdentityMetadataList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/createCheckpoint": {
      "post": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_CreateCheckpoint",
        "description": "Creates a checkpoint in virtual machine instance.",
        "summary": "Implements the operation to creates a checkpoint in a virtual machine instance.",
        "x-ms-examples": {
          "CreateCheckpointVirtualMachine": {
            "$ref": "./examples/CreateCheckpointVirtualMachineInstance.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Virtualmachine create checkpoint action payload.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineCreateCheckpoint"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/deleteCheckpoint": {
      "post": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_DeleteCheckpoint",
        "description": "Deletes a checkpoint in virtual machine instance.",
        "summary": "Implements the operation to delete a checkpoint in a virtual machine instance.",
        "x-ms-examples": {
          "DeleteCheckpointVirtualMachine": {
            "$ref": "./examples/DeleteCheckpointVirtualMachineInstance.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Virtualmachine delete checkpoint action payload.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineDeleteCheckpoint"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/restoreCheckpoint": {
      "post": {
        "tags": [
          "VirtualMachineInstances"
        ],
        "operationId": "VirtualMachineInstances_RestoreCheckpoint",
        "description": "Restores to a checkpoint in virtual machine instance.",
        "summary": "Implements the operation to restores to a checkpoint in a virtual machine instance.",
        "x-ms-examples": {
          "RestoreCheckpointVirtualMachine": {
            "$ref": "./examples/RestoreCheckpointVirtualMachineInstance.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Virtualmachine restore checkpoint action payload.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineRestoreCheckpoint"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/guestAgents/default": {
      "put": {
        "tags": [
          "VMInstanceGuestAgents"
        ],
        "operationId": "VMInstanceGuestAgents_Create",
        "description": "Create Or Update GuestAgent.",
        "summary": "Implements GuestAgent PUT method.",
        "x-ms-examples": {
          "CreateGuestAgent": {
            "$ref": "./examples/CreateVMInstanceGuestAgent.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/GuestAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GuestAgent"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GuestAgent"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "VMInstanceGuestAgents"
        ],
        "operationId": "VMInstanceGuestAgents_Get",
        "summary": "Gets GuestAgent.",
        "description": "Implements GuestAgent GET method.",
        "x-ms-examples": {
          "GetGuestAgent": {
            "$ref": "./examples/GetVMInstanceGuestAgent.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GuestAgent"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "VMInstanceGuestAgents"
        ],
        "operationId": "VMInstanceGuestAgents_Delete",
        "summary": "Deletes an GuestAgent.",
        "description": "Implements GuestAgent DELETE method.",
        "x-ms-examples": {
          "DeleteGuestAgent": {
            "$ref": "./examples/DeleteVMInstanceGuestAgent.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/guestAgents": {
      "get": {
        "tags": [
          "VMInstanceGuestAgents"
        ],
        "operationId": "VMInstanceGuestAgents_List",
        "summary": "Implements GET GuestAgent in a vm.",
        "description": "Returns the list of GuestAgent of the given vm.",
        "x-ms-examples": {
          "GuestAgentListByVm": {
            "$ref": "./examples/VMInstanceGuestAgent_ListByVm.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GuestAgentList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "VMMServerProperties": {
      "description": "Defines the resource properties.",
      "required": [
        "fqdn"
      ],
      "type": "object",
      "properties": {
        "credentials": {
          "description": "Credentials to connect to VMMServer.",
          "$ref": "#/definitions/VMMCredential"
        },
        "fqdn": {
          "type": "string",
          "description": "Fqdn is the hostname/ip of the vmmServer.",
          "minLength": 1
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port is the port on which the vmmServer is listening.",
          "maximum": 65535,
          "minimum": 1
        },
        "connectionStatus": {
          "type": "string",
          "description": "Gets the connection status to the vmmServer.",
          "readOnly": true
        },
        "errorMessage": {
          "type": "string",
          "description": "Gets any error message if connection to vmmServer is having any issue.",
          "readOnly": true
        },
        "uuid": {
          "type": "string",
          "description": "Unique ID of vmmServer.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Version is the version of the vmmSever.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ResourceProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        }
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "The extended location.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "VMMServer": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource",
          "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/VMMServerProperties"
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location."
        }
      },
      "required": [
        "properties",
        "extendedLocation"
      ],
      "description": "The VmmServers resource definition."
    },
    "VMMServerListResult": {
      "type": "object",
      "description": "List of VmmServers.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of VmmServers.",
          "items": {
            "$ref": "#/definitions/VMMServer"
          }
        },
        "nextLink": {
          "description": "Url to follow for getting next page of resources.",
          "type": "string",
          "format": "uri",
          "readOnly": true
        }
      }
    },
    "CloudProperties": {
      "description": "Defines the resource properties.",
      "type": "object",
      "properties": {
[...]
