{
  "swagger": "2.0",
  "info": {
    "title": "MonitorManagementClient",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "description": "Azure Monitor API reference for Private Links Scopes management.",
    "version": "2021-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/privateLinkScopes": {
      "get": {
        "description": "Gets a list of all Azure Monitor PrivateLinkScopes within a subscription.",
        "operationId": "PrivateLinkScopes_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more Azure Monitor PrivateLinkScope definitions.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorPrivateLinkScopeListResult"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopesList.json": {
            "$ref": "./examples/PrivateLinkScopesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/privateLinkScopes": {
      "get": {
        "description": "Gets a list of Azure Monitor PrivateLinkScopes within a resource group.",
        "operationId": "PrivateLinkScopes_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more Azure Monitor PrivateLinkScope definitions.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorPrivateLinkScopeListResult"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopeListByResourceGroup": {
            "$ref": "./examples/PrivateLinkScopesListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/privateLinkScopes/{scopeName}": {
      "delete": {
        "description": "Deletes a Azure Monitor PrivateLinkScope.",
        "operationId": "PrivateLinkScopes_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request when deleting a Azure Monitor PrivateLinkScope."
          },
          "204": {
            "description": "The specified PrivateLinkScope does not exist."
          },
          "202": {
            "description": "Accepted."
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PrivateLinkScopesDelete": {
            "$ref": "./examples/PrivateLinkScopesDelete.json"
          }
        }
      },
      "get": {
        "description": "Returns a Azure Monitor PrivateLinkScope.",
        "operationId": "PrivateLinkScopes_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "An Azure Monitor PrivateLinkScope definition.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorPrivateLinkScope"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopeGet": {
            "$ref": "./examples/PrivateLinkScopesGet.json"
          }
        }
      },
      "put": {
        "description": "Creates (or updates) a Azure Monitor PrivateLinkScope. Note: You cannot specify a different value for InstrumentationKey nor AppId in the Put operation.",
        "operationId": "PrivateLinkScopes_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "AzureMonitorPrivateLinkScopePayload",
            "description": "Properties that need to be specified to create or update a Azure Monitor PrivateLinkScope.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMonitorPrivateLinkScope"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request when creating or updating a Azure Monitor PrivateLinkScope. The updated PrivateLinkScope is returned.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorPrivateLinkScope"
            }
          },
          "201": {
            "description": "Successful request when creating or updating a Azure Monitor PrivateLinkScope. The updated PrivateLinkScope was created and is returned.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorPrivateLinkScope"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopeCreate": {
            "$ref": "./examples/PrivateLinkScopesCreate.json"
          },
          "PrivateLinkScopeUpdate": {
            "$ref": "./examples/PrivateLinkScopesUpdate.json"
          }
        }
      },
      "patch": {
        "description": "Updates an existing PrivateLinkScope's tags. To update other fields use the CreateOrUpdate method.",
        "operationId": "PrivateLinkScopes_UpdateTags",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "PrivateLinkScopeTags",
            "description": "Updated tag information to set into the PrivateLinkScope instance.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating the Azure Monitor PrivateLinkScope's tags was successful. PrivateLinkScope tags are updated and returned with the rest of the PrivateLinkScope's object properties.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorPrivateLinkScope"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopeUpdateTagsOnly": {
            "$ref": "./examples/PrivateLinkScopesUpdateTagsOnly.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/privateLinkScopeOperationStatuses/{asyncOperationId}": {
      "get": {
        "x-ms-examples": {
          "Get specific operation status": {
            "$ref": "./examples/privateLinkScopeOperationStatuses.json"
          }
        },
        "tags": [
          "asyncOperations"
        ],
        "operationId": "PrivateLinkScopeOperationStatus_Get",
        "description": "Get the status of an azure asynchronous operation associated with a private link scope operation.",
        "parameters": [
          {
            "name": "asyncOperationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The operation Id."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Operation status.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Gets the private link resources that need to be created for a Azure Monitor PrivateLinkScope.",
        "operationId": "PrivateLinkResources_ListByPrivateLinkScope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved private link resources.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets private endpoint connection.": {
            "$ref": "./examples/PrivateLinkScopePrivateLinkResourceListGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateLinkResources/{groupName}": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Gets the private link resources that need to be created for a Azure Monitor PrivateLinkScope.",
        "operationId": "PrivateLinkResources_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "$ref": "#/parameters/GroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a specified private link resource.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets private endpoint connection.": {
            "$ref": "./examples/PrivateLinkScopePrivateLinkResourceGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets a private endpoint connection.",
        "operationId": "PrivateEndpointConnections_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a specified private endpoint connection.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets private endpoint connection.": {
            "$ref": "./examples/PrivateEndpointConnectionGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Approve or reject a private endpoint connection with a given name.",
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully approved or rejected private endpoint connection.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Approve or reject a private endpoint connection with a given name.": {
            "$ref": "./examples/PrivateEndpointConnectionUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes a private endpoint connection with a given name.",
        "operationId": "PrivateEndpointConnections_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted private endpoint connection."
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Private endpoint connection does not exist."
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Deletes a private endpoint connection with a given name.": {
            "$ref": "./examples/PrivateEndpointConnectionDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets all private endpoint connections on a private link scope.",
        "operationId": "PrivateEndpointConnections_ListByPrivateLinkScope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved private endpoint connections.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of private endpoint connections on a private link scope.": {
            "$ref": "./examples/PrivateEndpointConnectionList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/scopedResources/{name}": {
      "get": {
        "tags": [
          "PrivateLinkScopedResources"
        ],
        "description": "Gets a scoped resource in a private link scope.",
        "operationId": "PrivateLinkScopedResources_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the scoped resource object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a scoped resource in a private link scope.",
            "schema": {
              "$ref": "#/definitions/ScopedResource"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets private link scoped resource.": {
            "$ref": "./examples/PrivateLinkScopedResourceGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateLinkScopedResources"
        ],
        "description": "Approve or reject a private endpoint connection with a given name.",
        "operationId": "PrivateLinkScopedResources_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the scoped resource object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScopedResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully create or updated a new azure monitor scoped resource in a private link scope.",
            "schema": {
              "$ref": "#/definitions/ScopedResource"
            }
          },
          "201": {
            "description": "Successfully created a new azure monitor scoped resource in a private link scope.",
            "schema": {
              "$ref": "#/definitions/ScopedResource"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update a scoped resource in a private link scope.": {
            "$ref": "./examples/PrivateLinkScopedResourceUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateLinkScopedResources"
        ],
        "description": "Deletes a private endpoint connection with a given name.",
        "operationId": "PrivateLinkScopedResources_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the scoped resource object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted scoped resource."
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Scoped resource does not exist."
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Deletes a scoped resource with a given name.": {
            "$ref": "./examples/PrivateLinkScopedResourceDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/scopedResources": {
      "get": {
        "tags": [
          "PrivateLinkScopedResources"
        ],
        "description": "Gets all private endpoint connections on a private link scope.",
        "operationId": "PrivateLinkScopedResources_ListByPrivateLinkScope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved scoped resources in a private link scope.",
            "schema": {
              "$ref": "#/definitions/ScopedResourceListResult"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets list of scoped resources in a private link scope.": {
            "$ref": "./examples/PrivateLinkScopedResourceList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "OperationStatus": {
      "description": "The status of operation.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The operation Id."
        },
        "name": {
          "type": "string",
          "description": "The operation name."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "Start time of the job in standard ISO8601 format."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "End time of the job in standard ISO8601 format."
        },
        "status": {
          "type": "string",
          "description": "The status of the operation."
        },
        "error": {
          "type": "object",
          "description": "The error detail of the operation if any.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorDetail",
          "x-nullable": true
        }
      }
    },
    "TagsResource": {
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "A container holding only the Tags for a resource, allowing the user to update the tags on a PrivateLinkScope instance."
    },
    "AzureMonitorPrivateLinkScope": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties that define a Azure Monitor PrivateLinkScope resource.",
          "$ref": "#/definitions/AzureMonitorPrivateLinkScopeProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System data",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "An Azure Monitor PrivateLinkScope definition."
    },
    "AzureMonitorPrivateLinkScopeProperties": {
      "description": "Properties that define a Azure Monitor PrivateLinkScope resource.",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Current state of this PrivateLinkScope: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Provisioning ,Succeeded, Canceled and Failed.",
          "readOnly": true
        },
        "privateEndpointConnections": {
          "readOnly": true,
          "description": "List of private endpoint connections.",
          "type": "array",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateEndpointConnection"
          }
        },
        "accessModeSettings": {
          "type": "object",
          "$ref": "#/definitions/AccessModeSettings",
          "description": "Access mode settings"
        }
      },
      "required": [
        "accessModeSettings"
      ]
    },
    "AccessModeSettings": {
      "type": "object",
      "description": "Properties that define the scope private link mode settings.",
      "properties": {
        "queryAccessMode": {
          "description": "Specifies the default access mode of queries through associated private endpoints in scope. If not specified default value is 'Open'. You can override this default setting for a specific private endpoint connection by adding an exclusion in the 'exclusions' array.",
          "$ref": "#/definitions/AccessMode"
        },
        "ingestionAccessMode": {
          "description": "Specifies the default access mode of ingestion through associated private endpoints in scope. If not specified default value is 'Open'. You can override this default setting for a specific private endpoint connection by adding an exclusion in the 'exclusions' array.",
          "$ref": "#/definitions/AccessMode"
        },
        "exclusions": {
          "description": "List of exclusions that override the default access mode settings for specific private endpoint connections.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessModeSettingsExclusion"
          }
        }
      },
      "required": [
        "queryAccessMode",
        "ingestionAccessMode"
      ]
    },
    "AccessModeSettingsExclusion": {
      "type": "object",
      "description": "Properties that define the scope private link mode settings exclusion item. This setting applies to a specific private endpoint connection and overrides the default settings for that private endpoint connection.",
      "properties": {
        "privateEndpointConnectionName": {
          "description": "The private endpoint connection name associated to the private endpoint on which we want to apply the specific access mode settings.",
          "type": "string"
        },
        "queryAccessMode": {
          "description": "Specifies the access mode of queries through the specified private endpoint connection in the exclusion.",
          "$ref": "#/definitions/AccessMode"
        },
        "ingestionAccessMode": {
          "description": "Specifies the access mode of ingestion through the specified private endpoint connection in the exclusion.",
          "$ref": "#/definitions/AccessMode"
        }
      }
    },
    "AccessMode": {
      "description": "Access mode types.",
      "type": "string",
      "enum": [
        "Open",
        "PrivateOnly"
      ],
      "x-ms-enum": {
        "name": "AccessMode",
        "modelAsString": true
      }
    },
    "AzureMonitorPrivateLinkScopeListResult": {
      "description": "Describes the list of Azure Monitor PrivateLinkScope resources.",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Azure Monitor PrivateLinkScope definitions.",
          "items": {
            "$ref": "#/definitions/AzureMonitorPrivateLinkScope"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to get the next set of Azure Monitor PrivateLinkScope definitions if too many PrivateLinkScopes where returned in the result set."
        }
      }
    },
    "ScopedResourceListResult": {
      "description": "A list of scoped resources in a private link scope.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScopedResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ScopedResource": {
      "description": "A private link scoped resource",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ScopedResourceProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System data",
          "readOnly": true
        }
      }
    },
    "ScopedResourceProperties": {
      "description": "Properties of a private link scoped resource.",
      "type": "object",
      "properties": {
        "linkedResourceId": {
          "description": "The resource id of the scoped Azure monitor resource.",
          "type": "string"
        },
        "provisioningState": {
          "description": "State of the private endpoint connection.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DefaultErrorResponse": {
      "title": "Default error response",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error object.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorDetail"
        }
      }
    }
  },
  "parameters": {
    "PrivateLinkScopeName": {
      "name": "scopeName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure Monitor PrivateLinkScope resource.",
      "x-ms-parameter-location": "method"
    },
    "GroupNameParameter": {
      "name": "groupName",
      "in": "path",
      "description": "The name of the private link resource.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    }
  }
}
