{
  "swagger": "2.0",
  "info": {
    "title": "Azure Defender for IoT",
    "description": "API spec for Microsoft.IoTSecurity (Azure Defender for IoT) resource provider",
    "version": "2021-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.IoTSecurity/sensors": {
      "get": {
        "x-ms-examples": {
          "List IoT sensors": {
            "$ref": "./examples/Sensors/IoTHub/List.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "description": "List IoT sensors",
        "operationId": "Sensors_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SensorScope"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SensorsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.IoTSecurity/sensors/{sensorName}": {
      "get": {
        "x-ms-examples": {
          "Get IoT sensor": {
            "$ref": "./examples/Sensors/IoTHub/Get.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "Sensors_Get",
        "description": "Get IoT sensor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SensorScope"
          },
          {
            "$ref": "#/parameters/SensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SensorModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create or update IoT sensor": {
            "$ref": "./examples/Sensors/IoTHub/Put.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "Sensors_CreateOrUpdate",
        "description": "Create or update IoT sensor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SensorScope"
          },
          {
            "$ref": "#/parameters/SensorName"
          },
          {
            "$ref": "#/parameters/SensorModel"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated IoT sensor",
            "schema": {
              "$ref": "#/definitions/SensorModel"
            }
          },
          "201": {
            "description": "Created IoT sensor",
            "schema": {
              "$ref": "#/definitions/SensorModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete IoT sensor": {
            "$ref": "./examples/Sensors/IoTHub/Delete.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "Sensors_Delete",
        "description": "Delete IoT sensor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SensorScope"
          },
          {
            "$ref": "#/parameters/SensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted IoT sensor"
          },
          "204": {
            "description": "IoT sensor does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.IoTSecurity/sensors/{sensorName}/downloadActivation": {
      "post": {
        "x-ms-examples": {
          "Download activation file": {
            "$ref": "./examples/Sensors/IoTHub/DownloadActivation.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "Sensors_DownloadActivation",
        "description": "Download sensor activation file",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SensorScope"
          },
          {
            "$ref": "#/parameters/SensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded activation file",
            "schema": {
              "type": "object",
              "format": "file"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.IoTSecurity/sensors/{sensorName}/downloadResetPassword": {
      "post": {
        "x-ms-examples": {
          "Download file for reset password of the sensor": {
            "$ref": "./examples/Sensors/IoTHub/DownloadResetPassword.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "Sensors_DownloadResetPassword",
        "description": "Download file for reset password of the sensor",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SensorScope"
          },
          {
            "$ref": "#/parameters/SensorName"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "The reset password input.",
            "schema": {
              "$ref": "#/definitions/ResetPasswordInput"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded reset password file",
            "schema": {
              "type": "object",
              "format": "file"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.IoTSecurity/sensors/{sensorName}/triggerTiPackageUpdate": {
      "post": {
        "x-ms-examples": {
          "Trigger threat intelligence package update": {
            "$ref": "./examples/Sensors/IoTHub/TriggerTiPackageUpdate.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "Sensors_TriggerTiPackageUpdate",
        "description": "Trigger threat intelligence package update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SensorScope"
          },
          {
            "$ref": "#/parameters/SensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Triggered threat intelligence package update"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/sites/{siteName}/sensors": {
      "get": {
        "x-ms-examples": {
          "List Sensors": {
            "$ref": "./examples/Sensors/List.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "description": "List IoT sensors",
        "operationId": "SiteSensors_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SensorsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/sites/{siteName}/sensors/{sensorName}": {
      "get": {
        "x-ms-examples": {
          "Get Sensor": {
            "$ref": "./examples/Sensors/Get.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "SiteSensors_Get",
        "description": "Get IoT sensor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/SiteName"
          },
          {
            "$ref": "#/parameters/SensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SensorModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create or update sensor": {
            "$ref": "./examples/Sensors/Put.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "SiteSensors_CreateOrUpdate",
        "description": "Create or update IoT sensor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/SiteName"
          },
          {
            "$ref": "#/parameters/SensorName"
          },
          {
            "$ref": "#/parameters/SensorModel"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated IoT sensor",
            "schema": {
              "$ref": "#/definitions/SensorModel"
            }
          },
          "201": {
            "description": "Created IoT sensor",
            "schema": {
              "$ref": "#/definitions/SensorModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete Sensor": {
            "$ref": "./examples/Sensors/Delete.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "SiteSensors_Delete",
        "description": "Delete IoT sensor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/SiteName"
          },
          {
            "$ref": "#/parameters/SensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted IoT sensor"
          },
          "204": {
            "description": "IoT sensor does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/sites/{siteName}/sensors/{sensorName}/downloadActivation": {
      "post": {
        "x-ms-examples": {
          "Download sensor activation file": {
            "$ref": "./examples/Sensors/DownloadActivation.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "SiteSensors_DownloadActivation",
        "description": "Download sensor activation file",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/SiteName"
          },
          {
            "$ref": "#/parameters/SensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded activation file",
            "schema": {
              "type": "object",
              "format": "file"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/sites/{siteName}/sensors/{sensorName}/downloadResetPassword": {
      "post": {
        "x-ms-examples": {
          "Download reset password file of the sensor": {
            "$ref": "./examples/Sensors/DownloadResetPassword.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "SiteSensors_DownloadResetPassword",
        "description": "Download file for reset password of the sensor",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/SiteName"
          },
          {
            "$ref": "#/parameters/SensorName"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "The reset password input.",
            "schema": {
              "$ref": "#/definitions/ResetPasswordInput"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded reset password file",
            "schema": {
              "type": "object",
              "format": "file"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/sites/{siteName}/sensors/{sensorName}/triggerTiPackageUpdate": {
      "post": {
        "x-ms-examples": {
          "Trigger threat intelligence package sensor update": {
            "$ref": "./examples/Sensors/TriggerTiPackageUpdate.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "SiteSensors_TriggerTiPackageUpdate",
        "description": "Trigger threat intelligence package update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/SiteName"
          },
          {
            "$ref": "#/parameters/SensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Triggered threat intelligence package update"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SensorsList": {
      "description": "List of IoT sensors",
      "type": "object",
      "properties": {
        "value": {
          "description": "List data",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SensorModel"
          }
        }
      }
    },
    "SensorModel": {
      "type": "object",
      "description": "IoT sensor model",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "IoT sensor properties",
          "$ref": "#/definitions/SensorProperties"
        },
        "systemData": {
          "readOnly": true,
          "type": "object",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/Resource"
        }
      ]
    },
    "SensorProperties": {
      "type": "object",
      "description": "IoT sensor properties",
      "properties": {
        "connectivityTime": {
          "description": "Last connectivity time of the IoT sensor",
          "readOnly": true,
          "type": "string",
          "example": "2020-11-17T12:31:25Z"
        },
        "dynamicLearning": {
          "description": "Dynamic mode status of the IoT sensor",
          "example": true,
          "readOnly": true,
          "type": "boolean"
        },
        "learningMode": {
          "description": "Learning mode status of the IoT sensor",
          "example": true,
          "readOnly": true,
          "type": "boolean"
        },
        "sensorStatus": {
          "readOnly": true,
          "type": "string",
          "example": "Ok",
          "description": "Status of the IoT sensor",
          "enum": [
            "Ok",
            "Disconnected",
            "Unavailable"
          ],
          "x-ms-enum": {
            "name": "sensorStatus",
            "modelAsString": true,
            "values": [
              {
                "value": "Ok"
              },
              {
                "value": "Disconnected"
              },
              {
                "value": "Unavailable"
              }
            ]
          }
        },
        "sensorVersion": {
          "description": "Version of the IoT sensor",
          "readOnly": true,
          "type": "string",
          "example": "2020.11.01.1643"
        },
        "tiAutomaticUpdates": {
          "description": "TI Automatic mode status of the IoT sensor",
          "example": true,
          "type": "boolean"
        },
        "tiStatus": {
          "readOnly": true,
          "type": "string",
          "example": "Ok",
          "description": "TI Status of the IoT sensor",
          "enum": [
            "Ok",
            "Failed",
            "InProgress",
            "UpdateAvailable"
          ],
          "x-ms-enum": {
            "name": "tiStatus",
            "modelAsString": true,
            "values": [
              {
                "value": "Ok"
              },
              {
                "value": "Failed"
              },
              {
                "value": "InProgress"
              },
              {
                "value": "UpdateAvailable"
              }
            ]
          }
        },
        "tiVersion": {
          "description": "TI Version of the IoT sensor",
          "readOnly": true,
          "type": "string",
          "example": "2020-11-17T12:31:25Z"
        },
        "zone": {
          "type": "string",
          "description": "Zone of the IoT sensor",
          "example": "A12"
        },
        "sensorType": {
          "description": "Type of sensor",
          "example": "Ot",
          "type": "string",
          "enum": [
            "Ot",
            "Enterprise"
          ],
          "x-ms-enum": {
            "name": "sensorType",
            "modelAsString": true,
            "values": [
              {
                "value": "Ot"
              },
              {
                "value": "Enterprise"
              }
            ]
          }
        }
      }
    },
    "ResetPasswordInput": {
      "type": "object",
      "description": "Reset password input.",
      "properties": {
        "applianceId": {
          "description": "The appliance id of the sensor.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SensorScope": {
      "name": "scope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Scope of the query (IoT Hub, /providers/Microsoft.Devices/iotHubs/myHub)",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "SiteName": {
      "name": "siteName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Site Name",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "SensorName": {
      "name": "sensorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the IoT sensor",
      "x-ms-parameter-location": "method"
    },
    "SensorModel": {
      "name": "sensorModel",
      "in": "body",
      "required": true,
      "description": "The IoT sensor model",
      "schema": {
        "$ref": "#/definitions/SensorModel"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
