{
  "swagger": "2.0",
  "info": {
    "title": "Azure Defender for IoT",
    "description": "API spec for Microsoft.IoTSecurity (Azure Defender for IoT) resource provider",
    "version": "2021-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.IoTSecurity/sites": {
      "get": {
        "x-ms-examples": {
          "List IoT sites": {
            "$ref": "./examples/Sites/IoTHub/List.json"
          }
        },
        "tags": [
          "Sites"
        ],
        "description": "List IoT sites",
        "operationId": "Sites_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SiteScope"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SitesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.IoTSecurity/sites/default": {
      "get": {
        "x-ms-examples": {
          "Get IoT site": {
            "$ref": "./examples/Sites/IoTHub/Get.json"
          }
        },
        "tags": [
          "Sites"
        ],
        "operationId": "Sites_Get",
        "description": "Get IoT site",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SiteScope"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create or update IoT site": {
            "$ref": "./examples/Sites/IoTHub/Put.json"
          }
        },
        "tags": [
          "Sites"
        ],
        "operationId": "Sites_CreateOrUpdate",
        "description": "Create or update IoT site",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SiteScope"
          },
          {
            "$ref": "#/parameters/SiteModel"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated IoT site",
            "schema": {
              "$ref": "#/definitions/SiteModel"
            }
          },
          "201": {
            "description": "Created IoT site",
            "schema": {
              "$ref": "#/definitions/SiteModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete IoT site": {
            "$ref": "./examples/Sites/IoTHub/Delete.json"
          }
        },
        "tags": [
          "Sites"
        ],
        "operationId": "Sites_Delete",
        "description": "Delete IoT site",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SiteScope"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted IoT site"
          },
          "204": {
            "description": "IoT site does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/sites": {
      "get": {
        "x-ms-examples": {
          "List sites": {
            "$ref": "./examples/Sites/List.json"
          }
        },
        "tags": [
          "Sites"
        ],
        "description": "List IoT sites",
        "operationId": "LocationSites_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SitesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/locations/{iotDefenderLocation}/sites/{siteName}": {
      "get": {
        "x-ms-examples": {
          "Get site": {
            "$ref": "./examples/Sites/Get.json"
          }
        },
        "tags": [
          "Sites"
        ],
        "operationId": "LocationSites_Get",
        "description": "Get IoT site",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create or update site": {
            "$ref": "./examples/Sites/Put.json"
          }
        },
        "tags": [
          "Sites"
        ],
        "operationId": "LocationSites_CreateOrUpdate",
        "description": "Create or update IoT site",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/SiteName"
          },
          {
            "$ref": "#/parameters/SiteModel"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated IoT site",
            "schema": {
              "$ref": "#/definitions/SiteModel"
            }
          },
          "201": {
            "description": "Created IoT site",
            "schema": {
              "$ref": "#/definitions/SiteModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete Site": {
            "$ref": "./examples/Sites/Delete.json"
          }
        },
        "tags": [
          "Sites"
        ],
        "operationId": "LocationSites_Delete",
        "description": "Delete IoT site",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/IotDefenderLocation"
          },
          {
            "$ref": "#/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted IoT site"
          },
          "204": {
            "description": "IoT site does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SitesList": {
      "description": "List of IoT sites",
      "type": "object",
      "properties": {
        "value": {
          "description": "List data",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SiteModel"
          }
        }
      }
    },
    "SiteModel": {
      "type": "object",
      "description": "IoT site model",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "IoT site properties",
          "$ref": "#/definitions/SiteProperties"
        },
        "systemData": {
          "readOnly": true,
          "type": "object",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SiteProperties": {
      "type": "object",
      "description": "IoT site properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the IoT site"
        },
        "tags": {
          "type": "object",
          "description": "Tags of the IoT site",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "displayName"
      ]
    }
  },
  "parameters": {
    "SiteScope": {
      "name": "scope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Scope of the query (IoT Hub, /providers/Microsoft.Devices/iotHubs/myHub)",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "SiteName": {
      "name": "siteName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Site Name",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "SiteModel": {
      "name": "siteModel",
      "in": "body",
      "required": true,
      "description": "The IoT sites model",
      "schema": {
        "$ref": "#/definitions/SiteModel"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
