{
  "swagger": "2.0",
  "info": {
    "title": "AuthorizationManagementClient",
    "version": "2020-10-01-preview",
    "description": "Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These operations enable you to manage role assignments. A role assignment grants access to Azure Active Directory users."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleInstances": {
      "get": {
        "tags": [
          "roleAssignmentScheduleInstances"
        ],
        "operationId": "RoleAssignmentScheduleInstances_ListForScope",
        "description": "Gets role assignment schedule instances of a role assignment schedule.",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The scope of the role assignment schedule.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation. Use $filter=atScope() to return all role assignment schedules at or above the scope. Use $filter=principalId eq {id} to return all role assignment schedules at, above or below the scope for the specified principal.  Use $filter=assignedTo('{userId}') to return all role assignment schedule instances for the user. Use $filter=asTarget() to return all role assignment schedule instances created for the current user."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns array of role assignment schedule instances.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleInstanceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/RoleAssignmentScheduleInstanceFilter",
        "x-ms-examples": {
          "GetRoleAssignmentScheduleInstancesByScope": {
            "$ref": "./examples/GetRoleAssignmentScheduleInstancesByScope.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleInstances/{roleAssignmentScheduleInstanceName}": {
      "get": {
        "tags": [
          "roleAssignmentScheduleInstances"
        ],
        "operationId": "RoleAssignmentScheduleInstances_Get",
        "description": "Gets the specified role assignment schedule instance.",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The scope of the role assignments schedules.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleAssignmentScheduleInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name (hash of schedule name + time) of the role assignment schedule to get."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the role assignment schedule instance.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleAssignmentScheduleInstanceByName": {
            "$ref": "./examples/GetRoleAssignmentScheduleInstanceByName.json"
          }
        }
      }
    }
  },
  "definitions": {
    "RoleAssignmentScheduleInstanceFilter": {
      "properties": {
        "principalId": {
          "type": "string",
          "description": "Returns role assignment schedule instances of the specific principal."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "Returns role assignment schedule instances of the specific role definition."
        },
        "status": {
          "type": "string",
          "description": "Returns role assignment schedule instances of the specific status."
        },
        "roleAssignmentScheduleId": {
          "type": "string",
          "description": "Returns role assignment schedule instances belonging to a specific role assignment schedule."
        }
      },
      "type": "object",
      "description": "Role assignment schedule instance filter"
    },
    "RoleAssignmentScheduleInstanceProperties": {
      "properties": {
        "scope": {
          "type": "string",
          "description": "The role assignment schedule scope."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The role definition ID."
        },
        "principalId": {
          "type": "string",
          "description": "The principal ID."
        },
        "principalType": {
          "type": "string",
          "description": "The principal type of the assigned principal ID.",
          "enum": [
            "User",
            "Group",
            "ServicePrincipal",
            "ForeignGroup",
            "Device"
          ],
          "x-ms-enum": {
            "name": "principalType",
            "modelAsString": true
          }
        },
        "roleAssignmentScheduleId": {
          "type": "string",
          "description": "Id of the master role assignment schedule"
        },
        "originRoleAssignmentId": {
          "type": "string",
          "description": "Role Assignment Id in external system"
        },
        "status": {
          "type": "string",
          "description": "The status of the role assignment schedule instance.",
          "enum": [
            "Accepted",
            "PendingEvaluation",
            "Granted",
            "Denied",
            "PendingProvisioning",
            "Provisioned",
            "PendingRevocation",
            "Revoked",
            "Canceled",
            "Failed",
            "PendingApprovalProvisioning",
            "PendingApproval",
            "FailedAsResourceIsLocked",
            "PendingAdminDecision",
            "AdminApproved",
            "AdminDenied",
            "TimedOut",
            "ProvisioningStarted",
            "Invalid",
            "PendingScheduleCreation",
            "ScheduleCreated",
            "PendingExternalProvisioning"
          ],
          "x-ms-enum": {
            "name": "Status",
            "modelAsString": true
          }
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The startDateTime of the role assignment schedule instance"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The endDateTime of the role assignment schedule instance"
        },
        "linkedRoleEligibilityScheduleId": {
          "type": "string",
          "description": "roleEligibilityScheduleId used to activate"
        },
        "linkedRoleEligibilityScheduleInstanceId": {
          "type": "string",
          "description": "roleEligibilityScheduleInstanceId linked to this roleAssignmentScheduleInstance"
        },
        "assignmentType": {
          "type": "string",
          "description": "Assignment type of the role assignment schedule",
          "enum": [
            "Activated",
            "Assigned"
          ],
          "x-ms-enum": {
            "name": "AssignmentType",
            "modelAsString": true
          }
        },
        "memberType": {
          "type": "string",
          "description": "Membership type of the role assignment schedule",
          "enum": [
            "Inherited",
            "Direct",
            "Group"
          ],
          "x-ms-enum": {
            "name": "MemberType",
            "modelAsString": true
          }
        },
        "condition": {
          "type": "string",
          "description": "The conditions on the role assignment. This limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName] StringEqualsIgnoreCase 'foo_storage_container'"
        },
        "conditionVersion": {
          "type": "string",
          "description": "Version of the condition. Currently accepted value is '2.0'"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime when role assignment schedule was created"
        },
        "expandedProperties": {
          "type": "object",
          "description": "Additional properties of principal, scope and role definition",
          "$ref": "#/definitions/ExpandedProperties"
        }
      },
      "type": "object",
      "description": "Role assignment schedule properties with scope."
    },
    "RoleAssignmentScheduleInstance": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The role assignment schedule instance ID."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The role assignment schedule instance name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The role assignment schedule instance type."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RoleAssignmentScheduleInstanceProperties",
          "description": "Role assignment schedule instance properties."
        }
      },
      "type": "object",
      "description": "Information about current or upcoming role assignment schedule instance"
    },
    "RoleAssignmentScheduleInstanceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoleAssignmentScheduleInstance"
          },
          "description": "Role assignment schedule instance list."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "type": "object",
      "description": "Role assignment schedule instance list operation result."
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "type": "object",
      "description": "An error response from the service."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        }
      },
      "type": "object",
      "description": "An error response from the service."
    },
    "ExpandedProperties": {
      "properties": {
        "scope": {
          "type": "object",
          "description": "Details of the resource scope",
          "properties": {
            "id": {
              "type": "string",
              "description": "Scope id of the resource"
            },
            "displayName": {
              "type": "string",
              "description": "Display name of the resource"
            },
            "type": {
              "type": "string",
              "description": "Type of the resource"
            }
          }
        },
        "roleDefinition": {
          "type": "object",
          "description": "Details of role definition",
          "properties": {
            "id": {
              "type": "string",
              "description": "Id of the role definition"
            },
            "displayName": {
              "type": "string",
              "description": "Display name of the role definition"
            },
            "type": {
              "type": "string",
              "description": "Type of the role definition"
            }
          }
        },
        "principal": {
          "type": "object",
          "description": "Details of the principal",
          "properties": {
            "id": {
              "type": "string",
              "description": "Id of the principal"
            },
            "displayName": {
              "type": "string",
              "description": "Display name of the principal"
            },
            "email": {
              "type": "string",
              "description": "Email id of the principal"
            },
            "type": {
              "type": "string",
              "description": "Type of the principal"
            }
          }
        }
      },
      "type": "object"
    }
  }
}
