{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.EdgeZones",
    "version": "2024-04-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AzureExtendedZones"
    }
  ],
  "paths": {
    "/providers/Microsoft.EdgeZones/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/azureExtendedZones": {
      "get": {
        "operationId": "AzureExtendedZones_ListBySubscription",
        "tags": [
          "AzureExtendedZones"
        ],
        "description": "Lists the Azure Extended Zones for a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureExtendedZoneListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListAzureExtendedZones": {
            "$ref": "./examples/AzureExtendedZones_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/azureExtendedZones/{azureExtendedZoneName}": {
      "get": {
        "operationId": "AzureExtendedZones_Get",
        "tags": [
          "AzureExtendedZones"
        ],
        "description": "Get an Azure Extended Zone for a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "azureExtendedZoneName",
            "in": "path",
            "description": "The name of the AzureExtendedZone",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureExtendedZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetAzureExtendedZone": {
            "$ref": "./examples/AzureExtendedZones_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/azureExtendedZones/{azureExtendedZoneName}/register": {
      "post": {
        "operationId": "AzureExtendedZones_Register",
        "tags": [
          "AzureExtendedZones"
        ],
        "description": "Registers a subscription for an Azure Extended Zone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "azureExtendedZoneName",
            "in": "path",
            "description": "The name of the AzureExtendedZone",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureExtendedZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RegisterAzureExtendedZone": {
            "$ref": "./examples/AzureExtendedZones_Register.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/azureExtendedZones/{azureExtendedZoneName}/unregister": {
      "post": {
        "operationId": "AzureExtendedZones_Unregister",
        "tags": [
          "AzureExtendedZones"
        ],
        "description": "Unregisters a subscription for an Azure Extended Zone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "azureExtendedZoneName",
            "in": "path",
            "description": "The name of the AzureExtendedZone",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureExtendedZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UnregisterAzureExtendedZone": {
            "$ref": "./examples/AzureExtendedZones_Unregister.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AzureExtendedZone": {
      "type": "object",
      "description": "An AzureExtendedZone resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureExtendedZoneProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureExtendedZoneListResult": {
      "type": "object",
      "description": "The response of a AzureExtendedZone list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureExtendedZone items on this page",
          "items": {
            "$ref": "#/definitions/AzureExtendedZone"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureExtendedZoneProperties": {
      "type": "object",
      "description": "The properties of an AzureExtendedZone Resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "registrationState": {
          "$ref": "#/definitions/RegistrationState",
          "description": "AzureExtendedZone registration approved or not",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "AzureExtendedZone displayName"
        },
        "regionalDisplayName": {
          "type": "string",
          "description": "AzureExtendedZone regionalDisplayName"
        },
        "regionType": {
          "type": "string",
          "description": "AzureExtendedZone regionType"
        },
        "regionCategory": {
          "type": "string",
          "description": "AzureExtendedZone regionCategory"
        },
        "geography": {
          "type": "string",
          "description": "AzureExtendedZone geography"
        },
        "geographyGroup": {
          "type": "string",
          "description": "AzureExtendedZone geographyGroup"
        },
        "longitude": {
          "type": "string",
          "description": "AzureExtendedZone longitude"
        },
        "latitude": {
          "type": "string",
          "description": "AzureExtendedZone latitude"
        },
        "homeLocation": {
          "type": "string",
          "description": "AzureExtendedZone homeLocation"
        }
      },
      "required": [
        "displayName",
        "regionalDisplayName",
        "regionType",
        "regionCategory",
        "geography",
        "geographyGroup",
        "longitude",
        "latitude",
        "homeLocation"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Provisioning State"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating State"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting State"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "RegistrationState": {
      "type": "string",
      "description": "The Azure Extended Zone registration status for a subscription.",
      "enum": [
        "NotRegistered",
        "PendingRegister",
        "Registered",
        "PendingUnregister"
      ],
      "x-ms-enum": {
        "name": "RegistrationState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotRegistered",
            "value": "NotRegistered",
            "description": "Not Registered State"
          },
          {
            "name": "PendingRegister",
            "value": "PendingRegister",
            "description": "Pending Register State"
          },
          {
            "name": "Registered",
            "value": "Registered",
            "description": "Registered State"
          },
          {
            "name": "PendingUnregister",
            "value": "PendingUnregister",
            "description": "Pending Unregister State"
          }
        ]
      }
    }
  },
  "parameters": {}
}
