{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationInsightsManagementClient",
    "description": "Azure Application Insights client for Components.",
    "version": "2015-05-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/components": {
      "get": {
        "description": "Gets a list of all Application Insights components within a subscription.",
        "operationId": "Components_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more Application Insights component definitions.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentListResult"
            }
          }
        },
        "x-ms-examples": {
          "ComponentsList.json": {
            "$ref": "./examples/ComponentsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components": {
      "get": {
        "description": "Gets a list of Application Insights components within a resource group.",
        "operationId": "Components_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more Application Insights component definitions.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentListResult"
            }
          }
        },
        "x-ms-examples": {
          "ComponentListByResourceGroup": {
            "$ref": "./examples/ComponentsListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}": {
      "delete": {
        "description": "Deletes an Application Insights component.",
        "operationId": "Components_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request when deleting an Application Insights component."
          },
          "204": {
            "description": "The specified component does not exist."
          }
        },
        "x-ms-examples": {
          "webTestDelete": {
            "$ref": "./examples/ComponentsDelete.json"
          }
        }
      },
      "get": {
        "description": "Returns an Application Insights component.",
        "operationId": "Components_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "An Application Insights Component definition.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponent"
            }
          }
        },
        "x-ms-examples": {
          "ComponentGet": {
            "$ref": "./examples/ComponentsGet.json"
          }
        }
      },
      "put": {
        "description": "Creates (or updates) an Application Insights component. Note: You cannot specify a different value for InstrumentationKey nor AppId in the Put operation.",
        "operationId": "Components_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "InsightProperties",
            "description": "Properties that need to be specified to create an Application Insights component.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request when creating or updating an Application Insights component. The updated component is returned.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponent"
            }
          }
        },
        "x-ms-examples": {
          "ComponentCreate": {
            "$ref": "./examples/ComponentsCreate.json"
          },
          "ComponentUpdate": {
            "$ref": "./examples/ComponentsUpdate.json"
          }
        }
      },
      "patch": {
        "description": "Updates an existing component's tags. To update other fields use the CreateOrUpdate method.",
        "operationId": "Components_UpdateTags",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "ComponentTags",
            "description": "Updated tag information to set into the component instance.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating the Application Insights component's tags was successful. Component tags are updated and returned with the rest of the Component's object properties.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponent"
            }
          }
        },
        "x-ms-examples": {
          "ComponentUpdateTagsOnly": {
            "$ref": "./examples/ComponentsUpdateTagsOnly.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "description": "Azure resource name",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "TagsResource": {
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "A container holding only the Tags for a resource, allowing the user to update the tags on a WebTest instance."
    },
    "ApplicationInsightsComponent": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of application that this component refers to, used to customize UI. This value is a freeform string, values should typically be one of the following: web, ios, other, store, java, phone."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties that define an Application Insights component resource.",
          "$ref": "#/definitions/ApplicationInsightsComponentProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "kind"
      ],
      "description": "An Application Insights component definition."
    },
    "ApplicationInsightsComponentProperties": {
      "description": "Properties that define an Application Insights component resource.",
      "properties": {
        "ApplicationId": {
          "type": "string",
          "description": "The unique ID of your application. This field mirrors the 'Name' field and cannot be changed.",
          "readOnly": true
        },
        "AppId": {
          "type": "string",
          "readOnly": true,
          "description": "Application Insights Unique ID for your Application."
        },
        "Application_Type": {
          "type": "string",
          "description": "Type of application being monitored.",
          "default": "web",
          "enum": [
            "web",
            "other"
          ],
          "x-ms-enum": {
            "name": "ApplicationType",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "Flow_Type": {
          "type": "string",
          "description": "Used by the Application Insights system to determine what kind of flow this component was created by. This is to be set to 'Bluefield' when creating/updating a component via the REST API.",
          "default": "Bluefield",
          "enum": [
            "Bluefield"
          ],
          "x-ms-enum": {
            "name": "FlowType",
            "modelAsString": true
          }
        },
        "Request_Source": {
          "type": "string",
          "description": "Describes what tool created this Application Insights component. Customers using this API should set this to the default 'rest'.",
          "default": "rest",
          "enum": [
            "rest"
          ],
          "x-ms-enum": {
            "name": "RequestSource",
            "modelAsString": true
          }
        },
        "InstrumentationKey": {
          "type": "string",
          "readOnly": true,
          "description": "Application Insights Instrumentation key. A read-only value that applications can use to identify the destination for all telemetry sent to Azure Application Insights. This value will be supplied upon construction of each new Application Insights component."
        },
        "CreationDate": {
          "type": "string",
          "readOnly": true,
          "description": "Creation Date for the Application Insights component, in ISO 8601 format.",
          "format": "date-time"
        },
        "TenantId": {
          "type": "string",
          "readOnly": true,
          "description": "Azure Tenant Id."
        },
        "HockeyAppId": {
          "type": "string",
          "description": "The unique application ID created when a new application is added to HockeyApp, used for communications with HockeyApp.",
          "externalDocs": {
            "url": "https://aka.ms/ewjuel"
          }
        },
        "HockeyAppToken": {
          "type": "string",
          "description": "Token used to authenticate communications with between Application Insights and HockeyApp.",
          "readOnly": true,
          "externalDocs": {
            "url": "https://aka.ms/sls76s"
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Current state of this component: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.",
          "readOnly": true
        },
        "SamplingPercentage": {
          "type": "number",
          "format": "double",
          "description": "Percentage of the data produced by the application being monitored that is being sampled for Application Insights telemetry.",
          "externalDocs": {
            "url": "https://aka.ms/sl0yqd"
          }
        }
      },
      "required": [
        "Application_Type"
      ]
    },
    "ApplicationInsightsComponentListResult": {
      "description": "Describes the list of Application Insights Resources.",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Application Insights component definitions.",
          "items": {
            "$ref": "#/definitions/ApplicationInsightsComponent"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to get the next set of Application Insights component defintions if too many components where returned in the result set."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Application Insights component resource.",
      "x-ms-parameter-location": "method"
    }
  }
}