{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ApiGatewayStages"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/apiGatewayStages": {
      "get": {
        "operationId": "ApiGatewayStages_ListBySubscription",
        "tags": [
          "ApiGatewayStages"
        ],
        "description": "List ApiGatewayStage resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiGatewayStageListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiGatewayStages_ListBySubscription": {
            "$ref": "./examples/ApiGatewayStages_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/apiGatewayStages": {
      "get": {
        "operationId": "ApiGatewayStages_ListByResourceGroup",
        "tags": [
          "ApiGatewayStages"
        ],
        "description": "List ApiGatewayStage resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiGatewayStageListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiGatewayStages_ListByResourceGroup": {
            "$ref": "./examples/ApiGatewayStages_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/apiGatewayStages/{name}": {
      "get": {
        "operationId": "ApiGatewayStages_Get",
        "tags": [
          "ApiGatewayStages"
        ],
        "description": "Get a ApiGatewayStage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ApiGatewayStage",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiGatewayStage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiGatewayStages_Get": {
            "$ref": "./examples/ApiGatewayStages_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ApiGatewayStages_CreateOrUpdate",
        "tags": [
          "ApiGatewayStages"
        ],
        "description": "Create a ApiGatewayStage. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ApiGatewayStage",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiGatewayStage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApiGatewayStage' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApiGatewayStage"
            }
          },
          "201": {
            "description": "Resource 'ApiGatewayStage' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApiGatewayStage"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiGatewayStages_CreateOrUpdate": {
            "$ref": "./examples/ApiGatewayStages_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ApiGatewayStages_Update",
        "tags": [
          "ApiGatewayStages"
        ],
        "description": "Update a ApiGatewayStage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ApiGatewayStage",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiGatewayStageTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiGatewayStage"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiGatewayStages_Update": {
            "$ref": "./examples/ApiGatewayStages_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ApiGatewayStages_Delete",
        "tags": [
          "ApiGatewayStages"
        ],
        "description": "Delete a ApiGatewayStage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ApiGatewayStage",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiGatewayStages_Delete": {
            "$ref": "./examples/ApiGatewayStages_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AccessLogSetting": {
      "type": "object",
      "description": "Definition of AccessLogSetting",
      "properties": {
        "destinationArn": {
          "type": "string",
          "description": "Gets and sets the property destinationArn. The Amazon Resource Name (ARN) of the CloudWatch Logs log group or Kinesis Data Firehose delivery stream to receive access logs. If you specify a Kinesis Data Firehose delivery stream, the stream name must begin with ``amazon-apigateway-``. This parameter is required to enable access logging."
        },
        "format": {
          "type": "string",
          "description": "Gets and sets the property format. A single line format of the access logs of data, as specified by selected [$context variables](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html#context-variable-reference). The format must include at least ``$context.requestId``. This parameter is required to enable access logging."
        }
      }
    },
    "ApiGatewayStage": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApiGatewayStageProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ApiGatewayStageListResult": {
      "type": "object",
      "description": "The response of a ApiGatewayStage list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApiGatewayStage items on this page",
          "items": {
            "$ref": "#/definitions/ApiGatewayStage"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApiGatewayStageProperties": {
      "type": "object",
      "description": "Definition of ApiGatewayStage",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsApiGatewayStageProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ApiGatewayStageTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in ApiGatewayStage resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AwsApiGatewayStageProperties": {
      "type": "object",
      "description": "Definition of awsApiGatewayStage",
      "properties": {
        "accessLogSetting": {
          "$ref": "#/definitions/AccessLogSetting",
          "description": "Gets and sets the property accessLogSetting. Access log settings, including the access log format and access log destination ARN. The ``AccessLogSetting`` property type specifies settings for logging access in this stage.  ``AccessLogSetting`` is a property of the [AWS::ApiGateway::Stage](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-stage.html) resource."
        },
        "cacheClusterEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property cacheClusterEnabled. Specifies whether a cache cluster is enabled for the stage."
        },
        "cacheClusterSize": {
          "type": "string",
          "description": "Gets and sets the property cacheClusterSize. The stage's cache capacity in GB. For more information about choosing a cache size, see [Enabling API caching to enhance responsiveness](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-caching.html)."
        },
        "canarySetting": {
          "$ref": "#/definitions/CanarySetting",
          "description": "Gets and sets the property canarySetting. Settings for the canary deployment in this stage. Configuration settings of a canary deployment."
        },
        "clientCertificateId": {
          "type": "string",
          "description": "Gets and sets the property clientCertificateId. The identifier of a client certificate for an API stage."
        },
        "deploymentId": {
          "type": "string",
          "description": "Gets and sets the property deploymentId. The identifier of the Deployment that the stage points to."
        },
        "description": {
          "type": "string",
          "description": "Gets and sets the property description. The stage's description."
        },
        "documentationVersion": {
          "type": "string",
          "description": "Gets and sets the property documentationVersion. The version of the associated API documentation."
        },
        "methodSettings": {
          "type": "array",
          "description": "Gets and sets the property methodSettings. A map that defines the method settings for a Stage resource. Keys (designated as ``/{method_setting_key`` below) are method paths defined as ``{resource_path}/{http_method}`` for an individual method override, or ``/\\*/\\*`` for overriding all methods in the stage.",
          "items": {
            "$ref": "#/definitions/MethodSetting"
          },
          "x-ms-identifiers": []
        },
        "restApiId": {
          "type": "string",
          "description": "Gets and sets the property restApiId. The string identifier of the associated RestApi."
        },
        "stageName": {
          "type": "string",
          "description": "Gets and sets the property stageName. The name of the stage is the first path segment in the Uniform Resource Identifier (URI) of a call to API Gateway. Stage names can only contain alphanumeric characters, hyphens, and underscores. Maximum length is 128 characters."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags. The collection of tags. Each tag element is associated with a given resource.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "tracingEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property tracingEnabled. Specifies whether active tracing with X-ray is enabled for the Stage."
        },
        "variables": {
          "type": "object",
          "description": "Gets and sets the property variables. A map (string-to-string map) that defines the stage variables, where the variable name is the key and the variable value is the value. Variable names are limited to alphanumeric characters. Values must match the following regular expression: ``[A-Za-z0-9-._~:/?#&=,]+``.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CanarySetting": {
      "type": "object",
      "description": "Definition of CanarySetting",
      "properties": {
        "deploymentId": {
          "type": "string",
          "description": "Gets and sets the property deploymentId. The ID of the canary deployment."
        },
        "percentTraffic": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property percentTraffic. The percent (0-100) of traffic diverted to a canary deployment."
        },
        "stageVariableOverrides": {
          "type": "object",
          "description": "Gets and sets the property stageVariableOverrides. Stage variables overridden for a canary release deployment, including new stage variables introduced in the canary. These stage variables are represented as a string-to-string map between stage variable names and their values.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "useStageCache": {
          "type": "boolean",
          "description": "Gets and sets the property useStageCache. A Boolean flag to indicate whether the canary deployment uses the stage cache or not."
        }
      }
    },
    "MethodSetting": {
      "type": "object",
      "description": "Definition of MethodSetting",
      "properties": {
        "cacheDataEncrypted": {
          "type": "boolean",
          "description": "Gets and sets the property cacheDataEncrypted. Specifies whether the cached responses are encrypted."
        },
        "cacheTtlInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property cacheTtlInSeconds. Specifies the time to live (TTL), in seconds, for cached responses. The higher the TTL, the longer the response will be cached."
        },
        "cachingEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property cachingEnabled. Specifies whether responses should be cached and returned for requests. A cache cluster must be enabled on the stage for responses to be cached."
        },
        "dataTraceEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property dataTraceEnabled. Specifies whether data trace logging is enabled for this method, which affects the log entries pushed to Amazon CloudWatch Logs. This can be useful to troubleshoot APIs, but can result in logging sensitive data. We recommend that you don't enable this option for production APIs."
        },
        "httpMethod": {
          "type": "string",
          "description": "Gets and sets the property httpMethod. The HTTP method. To apply settings to multiple resources and methods, specify an asterisk (``*``) for the ``HttpMethod`` and ``/*`` for the ``ResourcePath``. This parameter is required when you specify a ``MethodSetting``."
        },
        "loggingLevel": {
          "type": "string",
          "description": "Gets and sets the property loggingLevel. Specifies the logging level for this method, which affects the log entries pushed to Amazon CloudWatch Logs. Valid values are ``OFF``, ``ERROR``, and ``INFO``. Choose ``ERROR`` to write only error-level entries to CloudWatch Logs, or choose ``INFO`` to include all ``ERROR`` events as well as extra informational events."
        },
        "metricsEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property metricsEnabled. Specifies whether Amazon CloudWatch metrics are enabled for this method."
        },
        "resourcePath": {
          "type": "string",
          "description": "Gets and sets the property resourcePath. The resource path for this method. Forward slashes (``/``) are encoded as ``~1`` and the initial slash must include a forward slash. For example, the path value ``/resource/subresource`` must be encoded as ``/~1resource~1subresource``. To specify the root path, use only a slash (``/``). To apply settings to multiple resources and methods, specify an asterisk (``*``) for the ``HttpMethod`` and ``/*`` for the ``ResourcePath``. This parameter is required when you specify a ``MethodSetting``."
        },
        "throttlingBurstLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property throttlingBurstLimit. Specifies the throttling burst limit."
        },
        "throttlingRateLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property throttlingRateLimit. Specifies the throttling rate limit."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key. The key name of the tag. You can specify a value that is 1 to 128 Unicode characters in length and cannot be prefixed with aws:."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value. The value for the tag. You can specify a value that is 0 to 256 Unicode characters in length and cannot be prefixed with aws:."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Api versions",
      "enum": [
        "2024-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-08-01-preview",
            "value": "2024-08-01-preview",
            "description": "2024-08-01-preview api version"
          }
        ]
      }
    }
  },
  "parameters": {}
}
