{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "CloudFormationStacks"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/cloudFormationStacks": {
      "get": {
        "operationId": "CloudFormationStacks_ListBySubscription",
        "tags": [
          "CloudFormationStacks"
        ],
        "description": "List CloudFormationStack resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudFormationStackListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudFormationStacks_ListBySubscription": {
            "$ref": "./examples/CloudFormationStacks_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/cloudFormationStacks": {
      "get": {
        "operationId": "CloudFormationStacks_ListByResourceGroup",
        "tags": [
          "CloudFormationStacks"
        ],
        "description": "List CloudFormationStack resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudFormationStackListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudFormationStacks_ListByResourceGroup": {
            "$ref": "./examples/CloudFormationStacks_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/cloudFormationStacks/{name}": {
      "get": {
        "operationId": "CloudFormationStacks_Get",
        "tags": [
          "CloudFormationStacks"
        ],
        "description": "Get a CloudFormationStack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CloudFormationStack",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudFormationStack"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudFormationStacks_Get": {
            "$ref": "./examples/CloudFormationStacks_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CloudFormationStacks_CreateOrUpdate",
        "tags": [
          "CloudFormationStacks"
        ],
        "description": "Create a CloudFormationStack. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CloudFormationStack",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudFormationStack"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CloudFormationStack' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CloudFormationStack"
            }
          },
          "201": {
            "description": "Resource 'CloudFormationStack' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CloudFormationStack"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudFormationStacks_CreateOrUpdate": {
            "$ref": "./examples/CloudFormationStacks_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CloudFormationStacks_Update",
        "tags": [
          "CloudFormationStacks"
        ],
        "description": "Update a CloudFormationStack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CloudFormationStack",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudFormationStackTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudFormationStack"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudFormationStacks_Update": {
            "$ref": "./examples/CloudFormationStacks_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CloudFormationStacks_Delete",
        "tags": [
          "CloudFormationStacks"
        ],
        "description": "Delete a CloudFormationStack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CloudFormationStack",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudFormationStacks_Delete": {
            "$ref": "./examples/CloudFormationStacks_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsCloudFormationStackProperties": {
      "type": "object",
      "description": "Definition of awsCloudFormationStack",
      "properties": {
        "capabilities": {
          "type": "array",
          "description": "Gets and sets the property capabilities.",
          "items": {
            "$ref": "#/definitions/Capabilities"
          },
          "x-ms-identifiers": []
        },
        "changeSetId": {
          "type": "string",
          "description": "Gets and sets the property changeSetId."
        },
        "creationTime": {
          "type": "string",
          "description": "Gets and sets the property creationTime."
        },
        "description": {
          "type": "string",
          "description": "Gets and sets the property description."
        },
        "disableRollback": {
          "type": "boolean",
          "description": "Gets and sets the property disableRollback."
        },
        "enableTerminationProtection": {
          "type": "boolean",
          "description": "Gets and sets the property enableTerminationProtection."
        },
        "lastUpdateTime": {
          "type": "string",
          "description": "Gets and sets the property lastUpdateTime."
        },
        "notificationARNs": {
          "type": "array",
          "description": "Gets and sets the property notificationARNs.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "outputs": {
          "type": "array",
          "description": "Gets and sets the property outputs.",
          "items": {
            "$ref": "#/definitions/Output"
          },
          "x-ms-identifiers": []
        },
        "parameters": {
          "type": "object",
          "description": "Gets and sets the property parameters.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parentId": {
          "type": "string",
          "description": "Gets and sets the property parentId."
        },
        "roleARN": {
          "type": "string",
          "description": "Gets and sets the property roleARN."
        },
        "rootId": {
          "type": "string",
          "description": "Gets and sets the property rootId."
        },
        "stackId": {
          "type": "string",
          "description": "Gets and sets the property stackId."
        },
        "stackName": {
          "type": "string",
          "description": "Gets and sets the property stackName."
        },
        "stackPolicyBody": {
          "description": "Gets and sets the property stackPolicyBody."
        },
        "stackPolicyURL": {
          "type": "string",
          "description": "Gets and sets the property stackPolicyURL."
        },
        "stackStatus": {
          "$ref": "#/definitions/StackStatus",
          "description": "Gets and sets the property stackStatus."
        },
        "stackStatusReason": {
          "type": "string",
          "description": "Gets and sets the property stackStatusReason."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "templateBody": {
          "description": "Gets and sets the property templateBody."
        },
        "templateURL": {
          "type": "string",
          "description": "Gets and sets the property templateURL."
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property timeoutInMinutes."
        }
      }
    },
    "Capabilities": {
      "type": "string",
      "description": "Capabilities enum",
      "enum": [
        "CAPABILITY_AUTO_EXPAND",
        "CAPABILITY_IAM",
        "CAPABILITY_NAMED_IAM"
      ],
      "x-ms-enum": {
        "name": "Capabilities",
        "modelAsString": true,
        "values": [
          {
            "name": "CAPABILITY_AUTO_EXPAND",
            "value": "CAPABILITY_AUTO_EXPAND",
            "description": "Capabilities enum CAPABILITY_AUTO_EXPAND"
          },
          {
            "name": "CAPABILITY_IAM",
            "value": "CAPABILITY_IAM",
            "description": "Capabilities enum CAPABILITY_IAM"
          },
          {
            "name": "CAPABILITY_NAMED_IAM",
            "value": "CAPABILITY_NAMED_IAM",
            "description": "Capabilities enum CAPABILITY_NAMED_IAM"
          }
        ]
      }
    },
    "CloudFormationStack": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CloudFormationStackProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CloudFormationStackListResult": {
      "type": "object",
      "description": "The response of a CloudFormationStack list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CloudFormationStack items on this page",
          "items": {
            "$ref": "#/definitions/CloudFormationStack"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CloudFormationStackProperties": {
      "type": "object",
      "description": "Definition of CloudFormationStack",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsCloudFormationStackProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "CloudFormationStackTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in CloudFormationStack resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Output": {
      "type": "object",
      "description": "Definition of Output",
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets and sets the property description."
        },
        "exportName": {
          "type": "string",
          "description": "Gets and sets the property exportName."
        },
        "outputKey": {
          "type": "string",
          "description": "Gets and sets the property outputKey."
        },
        "outputValue": {
          "type": "string",
          "description": "Gets and sets the property outputValue."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "StackStatus": {
      "type": "string",
      "description": "StackStatus enum",
      "enum": [
        "CREATE_COMPLETE",
        "CREATE_FAILED",
        "CREATE_IN_PROGRESS",
        "DELETE_COMPLETE",
        "DELETE_FAILED",
        "DELETE_IN_PROGRESS",
        "IMPORT_COMPLETE",
        "IMPORT_IN_PROGRESS",
        "IMPORT_ROLLBACK_COMPLETE",
        "IMPORT_ROLLBACK_FAILED",
        "IMPORT_ROLLBACK_IN_PROGRESS",
        "REVIEW_IN_PROGRESS",
        "ROLLBACK_COMPLETE",
        "ROLLBACK_FAILED",
        "ROLLBACK_IN_PROGRESS",
        "UPDATE_COMPLETE",
        "UPDATE_COMPLETE_CLEANUP_IN_PROGRESS",
        "UPDATE_FAILED",
        "UPDATE_IN_PROGRESS",
        "UPDATE_ROLLBACK_COMPLETE",
        "UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS",
        "UPDATE_ROLLBACK_FAILED",
        "UPDATE_ROLLBACK_IN_PROGRESS"
      ],
      "x-ms-enum": {
        "name": "StackStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "CREATE_COMPLETE",
            "value": "CREATE_COMPLETE",
            "description": "StackStatus enum CREATE_COMPLETE"
          },
          {
            "name": "CREATE_FAILED",
            "value": "CREATE_FAILED",
            "description": "StackStatus enum CREATE_FAILED"
          },
          {
            "name": "CREATE_IN_PROGRESS",
            "value": "CREATE_IN_PROGRESS",
            "description": "StackStatus enum CREATE_IN_PROGRESS"
          },
          {
            "name": "DELETE_COMPLETE",
            "value": "DELETE_COMPLETE",
            "description": "StackStatus enum DELETE_COMPLETE"
          },
          {
            "name": "DELETE_FAILED",
            "value": "DELETE_FAILED",
            "description": "StackStatus enum DELETE_FAILED"
          },
          {
            "name": "DELETE_IN_PROGRESS",
            "value": "DELETE_IN_PROGRESS",
            "description": "StackStatus enum DELETE_IN_PROGRESS"
          },
          {
            "name": "IMPORT_COMPLETE",
            "value": "IMPORT_COMPLETE",
            "description": "StackStatus enum IMPORT_COMPLETE"
          },
          {
            "name": "IMPORT_IN_PROGRESS",
            "value": "IMPORT_IN_PROGRESS",
            "description": "StackStatus enum IMPORT_IN_PROGRESS"
          },
          {
            "name": "IMPORT_ROLLBACK_COMPLETE",
            "value": "IMPORT_ROLLBACK_COMPLETE",
            "description": "StackStatus enum IMPORT_ROLLBACK_COMPLETE"
          },
          {
            "name": "IMPORT_ROLLBACK_FAILED",
            "value": "IMPORT_ROLLBACK_FAILED",
            "description": "StackStatus enum IMPORT_ROLLBACK_FAILED"
          },
          {
            "name": "IMPORT_ROLLBACK_IN_PROGRESS",
            "value": "IMPORT_ROLLBACK_IN_PROGRESS",
            "description": "StackStatus enum IMPORT_ROLLBACK_IN_PROGRESS"
          },
          {
            "name": "REVIEW_IN_PROGRESS",
            "value": "REVIEW_IN_PROGRESS",
            "description": "StackStatus enum REVIEW_IN_PROGRESS"
          },
          {
            "name": "ROLLBACK_COMPLETE",
            "value": "ROLLBACK_COMPLETE",
            "description": "StackStatus enum ROLLBACK_COMPLETE"
          },
          {
            "name": "ROLLBACK_FAILED",
            "value": "ROLLBACK_FAILED",
            "description": "StackStatus enum ROLLBACK_FAILED"
          },
          {
            "name": "ROLLBACK_IN_PROGRESS",
            "value": "ROLLBACK_IN_PROGRESS",
            "description": "StackStatus enum ROLLBACK_IN_PROGRESS"
          },
          {
            "name": "UPDATE_COMPLETE",
            "value": "UPDATE_COMPLETE",
            "description": "StackStatus enum UPDATE_COMPLETE"
          },
          {
            "name": "UPDATE_COMPLETE_CLEANUP_IN_PROGRESS",
            "value": "UPDATE_COMPLETE_CLEANUP_IN_PROGRESS",
            "description": "StackStatus enum UPDATE_COMPLETE_CLEANUP_IN_PROGRESS"
          },
          {
            "name": "UPDATE_FAILED",
            "value": "UPDATE_FAILED",
            "description": "StackStatus enum UPDATE_FAILED"
          },
          {
            "name": "UPDATE_IN_PROGRESS",
            "value": "UPDATE_IN_PROGRESS",
            "description": "StackStatus enum UPDATE_IN_PROGRESS"
          },
          {
            "name": "UPDATE_ROLLBACK_COMPLETE",
            "value": "UPDATE_ROLLBACK_COMPLETE",
            "description": "StackStatus enum UPDATE_ROLLBACK_COMPLETE"
          },
          {
            "name": "UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS",
            "value": "UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS",
            "description": "StackStatus enum UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS"
          },
          {
            "name": "UPDATE_ROLLBACK_FAILED",
            "value": "UPDATE_ROLLBACK_FAILED",
            "description": "StackStatus enum UPDATE_ROLLBACK_FAILED"
          },
          {
            "name": "UPDATE_ROLLBACK_IN_PROGRESS",
            "value": "UPDATE_ROLLBACK_IN_PROGRESS",
            "description": "StackStatus enum UPDATE_ROLLBACK_IN_PROGRESS"
          }
        ]
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Api versions",
      "enum": [
        "2024-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-08-01-preview",
            "value": "2024-08-01-preview",
            "description": "2024-08-01-preview api version"
          }
        ]
      }
    }
  },
  "parameters": {}
}
