{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DynamoDBTables"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/dynamoDBTables": {
      "get": {
        "operationId": "DynamoDbTables_ListBySubscription",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "List DynamoDBTable resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamoDBTableListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_ListBySubscription": {
            "$ref": "./examples/DynamoDbTables_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/dynamoDBTables": {
      "get": {
        "operationId": "DynamoDbTables_ListByResourceGroup",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "List DynamoDBTable resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamoDBTableListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_ListByResourceGroup": {
            "$ref": "./examples/DynamoDbTables_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/dynamoDBTables/{name}": {
      "get": {
        "operationId": "DynamoDbTables_Get",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "Get a DynamoDBTable",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of DynamoDBTable",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamoDBTable"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_Get": {
            "$ref": "./examples/DynamoDbTables_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DynamoDbTables_CreateOrUpdate",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "Create a DynamoDBTable. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of DynamoDBTable",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamoDBTable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DynamoDBTable' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DynamoDBTable"
            }
          },
          "201": {
            "description": "Resource 'DynamoDBTable' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DynamoDBTable"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_CreateOrUpdate": {
            "$ref": "./examples/DynamoDbTables_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DynamoDbTables_Update",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "Update a DynamoDBTable",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of DynamoDBTable",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamoDBTableTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamoDBTable"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_Update": {
            "$ref": "./examples/DynamoDbTables_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DynamoDbTables_Delete",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "Delete a DynamoDBTable",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of DynamoDBTable",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_Delete": {
            "$ref": "./examples/DynamoDbTables_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AttributeDefinition": {
      "type": "object",
      "description": "Definition of AttributeDefinition",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "Gets and sets the property attributeName."
        },
        "attributeType": {
          "type": "string",
          "description": "Gets and sets the property attributeType."
        }
      }
    },
    "AwsDynamoDBTableProperties": {
      "type": "object",
      "description": "Definition of awsDynamoDBTable",
      "properties": {
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn."
        },
        "attributeDefinitions": {
          "type": "array",
          "description": "Gets and sets the property attributeDefinitions.",
          "items": {
            "$ref": "#/definitions/AttributeDefinition"
          },
          "x-ms-identifiers": []
        },
        "billingMode": {
          "type": "string",
          "description": "Gets and sets the property billingMode."
        },
        "contributorInsightsSpecification": {
          "$ref": "#/definitions/ContributorInsightsSpecification",
          "description": "Gets and sets the property contributorInsightsSpecification."
        },
        "deletionProtectionEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property deletionProtectionEnabled."
        },
        "globalSecondaryIndexes": {
          "type": "array",
          "description": "Gets and sets the property globalSecondaryIndexes.",
          "items": {
            "$ref": "#/definitions/GlobalSecondaryIndex"
          },
          "x-ms-identifiers": []
        },
        "importSourceSpecification": {
          "$ref": "#/definitions/ImportSourceSpecification",
          "description": "Gets and sets the property importSourceSpecification."
        },
        "keySchema": {
          "type": "array",
          "description": "Gets and sets the property keySchema.",
          "items": {
            "$ref": "#/definitions/KeySchema"
          },
          "x-ms-identifiers": []
        },
        "kinesisStreamSpecification": {
          "$ref": "#/definitions/KinesisStreamSpecification",
          "description": "Gets and sets the property kinesisStreamSpecification."
        },
        "localSecondaryIndexes": {
          "type": "array",
          "description": "Gets and sets the property localSecondaryIndexes.",
          "items": {
            "$ref": "#/definitions/LocalSecondaryIndex"
          },
          "x-ms-identifiers": []
        },
        "pointInTimeRecoverySpecification": {
          "$ref": "#/definitions/PointInTimeRecoverySpecification",
          "description": "Gets and sets the property pointInTimeRecoverySpecification."
        },
        "provisionedThroughput": {
          "$ref": "#/definitions/ProvisionedThroughput",
          "description": "Gets and sets the property provisionedThroughput."
        },
        "sseSpecification": {
          "$ref": "#/definitions/SSESpecification",
          "description": "Gets and sets the property sseSpecification."
        },
        "streamArn": {
          "type": "string",
          "description": "Gets and sets the property streamArn."
        },
        "streamSpecification": {
          "$ref": "#/definitions/StreamSpecification",
          "description": "Gets and sets the property streamSpecification."
        },
        "tableClass": {
          "type": "string",
          "description": "Gets and sets the property tableClass."
        },
        "tableName": {
          "type": "string",
          "description": "Gets and sets the property tableName."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "timeToLiveSpecification": {
          "$ref": "#/definitions/TimeToLiveSpecification",
          "description": "Gets and sets the property timeToLiveSpecification."
        }
      }
    },
    "ContributorInsightsSpecification": {
      "type": "object",
      "description": "Definition of ContributorInsightsSpecification",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Gets and sets the property enabled."
        }
      }
    },
    "Csv": {
      "type": "object",
      "description": "Definition of Csv",
      "properties": {
        "delimiter": {
          "type": "string",
          "description": "Gets and sets the property delimiter."
        },
        "headerList": {
          "type": "array",
          "description": "Gets and sets the property headerList.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DynamoDBTable": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DynamoDBTableProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DynamoDBTableListResult": {
      "type": "object",
      "description": "The response of a DynamoDBTable list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DynamoDBTable items on this page",
          "items": {
            "$ref": "#/definitions/DynamoDBTable"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DynamoDBTableProperties": {
      "type": "object",
      "description": "Definition of DynamoDBTable",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsDynamoDBTableProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "DynamoDBTableTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in DynamoDBTable resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GlobalSecondaryIndex": {
      "type": "object",
      "description": "Definition of GlobalSecondaryIndex",
      "properties": {
        "contributorInsightsSpecification": {
          "$ref": "#/definitions/ContributorInsightsSpecification",
          "description": "Gets and sets the property contributorInsightsSpecification."
        },
        "indexName": {
          "type": "string",
          "description": "Gets and sets the property indexName."
        },
        "keySchema": {
          "type": "array",
          "description": "Gets and sets the property keySchema.",
          "items": {
            "$ref": "#/definitions/KeySchema"
          },
          "x-ms-identifiers": []
        },
        "projection": {
          "$ref": "#/definitions/Projection",
          "description": "Gets and sets the property `projection`."
        },
        "provisionedThroughput": {
          "$ref": "#/definitions/ProvisionedThroughput",
          "description": "Gets and sets the property provisionedThroughput."
        }
      }
    },
    "ImportSourceSpecification": {
      "type": "object",
      "description": "Definition of ImportSourceSpecification",
      "properties": {
        "inputCompressionType": {
          "type": "string",
          "description": "Gets and sets the property inputCompressionType."
        },
        "inputFormat": {
          "type": "string",
          "description": "Gets and sets the property inputFormat."
        },
        "inputFormatOptions": {
          "$ref": "#/definitions/InputFormatOptions",
          "description": "Gets and sets the property inputFormatOptions."
        },
        "s3BucketSource": {
          "$ref": "#/definitions/S3BucketSource",
          "description": "Gets and sets the property s3BucketSource."
        }
      }
    },
    "InputFormatOptions": {
      "type": "object",
      "description": "Definition of InputFormatOptions",
      "properties": {
        "csv": {
          "$ref": "#/definitions/Csv",
          "description": "Gets and sets the property csv."
        }
      }
    },
    "KeySchema": {
      "type": "object",
      "description": "Definition of KeySchema",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "Gets and sets the property attributeName."
        },
        "keyType": {
          "type": "string",
          "description": "Gets and sets the property keyType."
        }
      }
    },
    "KinesisStreamSpecification": {
      "type": "object",
      "description": "Definition of KinesisStreamSpecification",
      "properties": {
        "approximateCreationDateTimePrecision": {
          "$ref": "#/definitions/KinesisStreamSpecificationApproximateCreationDateTimePrecision",
          "description": "Gets and sets the property approximateCreationDateTimePrecision."
        },
        "streamArn": {
          "type": "string",
          "description": "Gets and sets the property streamArn."
        }
      }
    },
    "KinesisStreamSpecificationApproximateCreationDateTimePrecision": {
      "type": "string",
      "description": "KinesisStreamSpecificationApproximateCreationDateTimePrecision enum",
      "enum": [
        "MICROSECOND",
        "MILLISECOND"
      ],
      "x-ms-enum": {
        "name": "KinesisStreamSpecificationApproximateCreationDateTimePrecision",
        "modelAsString": true,
        "values": [
          {
            "name": "MICROSECOND",
            "value": "MICROSECOND",
            "description": "KinesisStreamSpecificationApproximateCreationDateTimePrecision enum MICROSECOND"
          },
          {
            "name": "MILLISECOND",
            "value": "MILLISECOND",
            "description": "KinesisStreamSpecificationApproximateCreationDateTimePrecision enum MILLISECOND"
          }
        ]
      }
    },
    "LocalSecondaryIndex": {
      "type": "object",
      "description": "Definition of LocalSecondaryIndex",
      "properties": {
        "indexName": {
          "type": "string",
          "description": "Gets and sets the property indexName."
        },
        "keySchema": {
          "type": "array",
          "description": "Gets and sets the property keySchema.",
          "items": {
            "$ref": "#/definitions/KeySchema"
          },
          "x-ms-identifiers": []
        },
        "projection": {
          "$ref": "#/definitions/Projection",
          "description": "Gets and sets the property `projection`."
        }
      }
    },
    "PointInTimeRecoverySpecification": {
      "type": "object",
      "description": "Definition of PointInTimeRecoverySpecification",
      "properties": {
        "pointInTimeRecoveryEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property pointInTimeRecoveryEnabled."
        }
      }
    },
    "Projection": {
      "type": "object",
      "description": "Definition of Projection",
      "properties": {
        "nonKeyAttributes": {
          "type": "array",
          "description": "Gets and sets the property nonKeyAttributes.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "projectionType": {
          "type": "string",
          "description": "Gets and sets the property projectionType."
        }
      }
    },
    "ProvisionedThroughput": {
      "type": "object",
      "description": "Definition of ProvisionedThroughput",
      "properties": {
        "readCapacityUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property readCapacityUnits."
        },
        "writeCapacityUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property writeCapacityUnits."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "S3BucketSource": {
      "type": "object",
      "description": "Definition of S3BucketSource",
      "properties": {
        "s3Bucket": {
          "type": "string",
          "description": "Gets and sets the property s3Bucket."
        },
        "s3BucketOwner": {
          "type": "string",
          "description": "Gets and sets the property s3BucketOwner."
        },
        "s3KeyPrefix": {
          "type": "string",
          "description": "Gets and sets the property s3KeyPrefix."
        }
      }
    },
    "SSESpecification": {
      "type": "object",
      "description": "Definition of SSESpecification",
      "properties": {
        "kmsMasterKeyId": {
          "type": "string",
          "description": "Gets and sets the property kmsMasterKeyId."
        },
        "sseEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property sseEnabled."
        },
        "sseType": {
          "type": "string",
          "description": "Gets and sets the property sseType."
        }
      }
    },
    "StreamSpecification": {
      "type": "object",
      "description": "Definition of StreamSpecification",
      "properties": {
        "streamViewType": {
          "type": "string",
          "description": "Gets and sets the property streamViewType."
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "TimeToLiveSpecification": {
      "type": "object",
      "description": "Definition of TimeToLiveSpecification",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "Gets and sets the property attributeName."
        },
        "enabled": {
          "type": "boolean",
          "description": "Gets and sets the property enabled."
        }
      }
    }
  },
  "parameters": {}
}
