{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Ec2Subnets"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2Subnets": {
      "get": {
        "operationId": "Ec2Subnets_ListBySubscription",
        "tags": [
          "Ec2Subnets"
        ],
        "description": "List Ec2Subnet resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2SubnetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Subnets_ListBySubscription": {
            "$ref": "./examples/Ec2Subnets_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Subnets": {
      "get": {
        "operationId": "Ec2Subnets_ListByResourceGroup",
        "tags": [
          "Ec2Subnets"
        ],
        "description": "List Ec2Subnet resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2SubnetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Subnets_ListByResourceGroup": {
            "$ref": "./examples/Ec2Subnets_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Subnets/{name}": {
      "get": {
        "operationId": "Ec2Subnets_Get",
        "tags": [
          "Ec2Subnets"
        ],
        "description": "Get a Ec2Subnet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2Subnet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2Subnet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Subnets_Get": {
            "$ref": "./examples/Ec2Subnets_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Ec2Subnets_CreateOrUpdate",
        "tags": [
          "Ec2Subnets"
        ],
        "description": "Create a Ec2Subnet. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2Subnet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Ec2Subnet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Ec2Subnet' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Ec2Subnet"
            }
          },
          "201": {
            "description": "Resource 'Ec2Subnet' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Ec2Subnet"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Subnets_CreateOrUpdate": {
            "$ref": "./examples/Ec2Subnets_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Ec2Subnets_Update",
        "tags": [
          "Ec2Subnets"
        ],
        "description": "Update a Ec2Subnet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2Subnet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Ec2SubnetTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2Subnet"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Subnets_Update": {
            "$ref": "./examples/Ec2Subnets_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Ec2Subnets_Delete",
        "tags": [
          "Ec2Subnets"
        ],
        "description": "Delete a Ec2Subnet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2Subnet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Subnets_Delete": {
            "$ref": "./examples/Ec2Subnets_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsEc2SubnetProperties": {
      "type": "object",
      "description": "Definition of awsEc2Subnet",
      "properties": {
        "assignIpv6AddressOnCreation": {
          "type": "boolean",
          "description": "Gets and sets the property assignIpv6AddressOnCreation."
        },
        "availabilityZone": {
          "type": "string",
          "description": "Gets and sets the property availabilityZone."
        },
        "availabilityZoneId": {
          "type": "string",
          "description": "Gets and sets the property availabilityZoneId."
        },
        "cidrBlock": {
          "type": "string",
          "description": "Gets and sets the property cidrBlock."
        },
        "enableDns64": {
          "type": "boolean",
          "description": "Gets and sets the property enableDns64."
        },
        "ipv4IpamPoolId": {
          "type": "string",
          "description": "Gets and sets the property ipv4IpamPoolId. The ID of an IPv4 IPAM pool you want to use for allocating this subnet's CIDR"
        },
        "ipv4NetmaskLength": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property ipv4NetmaskLength. The netmask length of the IPv4 CIDR you want to allocate to this subnet from an Amazon VPC IP Address Manager (IPAM) pool"
        },
        "ipv6CidrBlock": {
          "type": "string",
          "description": "Gets and sets the property ipv6CidrBlock."
        },
        "ipv6CidrBlocks": {
          "type": "array",
          "description": "Gets and sets the property ipv6CidrBlocks.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "ipv6IpamPoolId": {
          "type": "string",
          "description": "Gets and sets the property ipv6IpamPoolId. The ID of an IPv6 IPAM pool you want to use for allocating this subnet's CIDR"
        },
        "ipv6Native": {
          "type": "boolean",
          "description": "Gets and sets the property ipv6Native."
        },
        "ipv6NetmaskLength": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property ipv6NetmaskLength. The netmask length of the IPv6 CIDR you want to allocate to this subnet from an Amazon VPC IP Address Manager (IPAM) pool"
        },
        "mapPublicIpOnLaunch": {
          "type": "boolean",
          "description": "Gets and sets the property mapPublicIpOnLaunch."
        },
        "networkAclAssociationId": {
          "type": "string",
          "description": "Gets and sets the property networkAclAssociationId."
        },
        "outpostArn": {
          "type": "string",
          "description": "Gets and sets the property outpostArn."
        },
        "privateDnsNameOptionsOnLaunch": {
          "$ref": "#/definitions/PrivateDnsNameOptionsOnLaunchModelProperties",
          "description": "Gets and sets the property privateDnsNameOptionsOnLaunch."
        },
        "subnetId": {
          "type": "string",
          "description": "Gets and sets the property subnetId."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "vpcId": {
          "type": "string",
          "description": "Gets and sets the property vpcId."
        }
      }
    },
    "Ec2Subnet": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Ec2SubnetProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "Ec2SubnetListResult": {
      "type": "object",
      "description": "The response of a Ec2Subnet list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Ec2Subnet items on this page",
          "items": {
            "$ref": "#/definitions/Ec2Subnet"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Ec2SubnetProperties": {
      "type": "object",
      "description": "Definition of Ec2Subnet",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsEc2SubnetProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "Ec2SubnetTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in Ec2Subnet resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PrivateDnsNameOptionsOnLaunchModelProperties": {
      "type": "object",
      "description": "Definition of PrivateDnsNameOptionsOnLaunchModelProperties",
      "properties": {
        "enableResourceNameDnsAAAARecord": {
          "type": "boolean",
          "description": "Gets and sets the property enableResourceNameDnsAAAARecord."
        },
        "enableResourceNameDnsARecord": {
          "type": "boolean",
          "description": "Gets and sets the property enableResourceNameDnsARecord."
        },
        "hostnameType": {
          "type": "string",
          "description": "Gets and sets the property hostnameType."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Api versions",
      "enum": [
        "2024-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-08-01-preview",
            "value": "2024-08-01-preview",
            "description": "2024-08-01-preview api version"
          }
        ]
      }
    }
  },
  "parameters": {}
}
