{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EcsClusters"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ecsClusters": {
      "get": {
        "operationId": "EcsClusters_ListBySubscription",
        "tags": [
          "EcsClusters"
        ],
        "description": "List EcsCluster resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EcsClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsClusters_ListBySubscription": {
            "$ref": "./examples/EcsClusters_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ecsClusters": {
      "get": {
        "operationId": "EcsClusters_ListByResourceGroup",
        "tags": [
          "EcsClusters"
        ],
        "description": "List EcsCluster resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EcsClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsClusters_ListByResourceGroup": {
            "$ref": "./examples/EcsClusters_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ecsClusters/{name}": {
      "get": {
        "operationId": "EcsClusters_Get",
        "tags": [
          "EcsClusters"
        ],
        "description": "Get a EcsCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EcsCluster",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EcsCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsClusters_Get": {
            "$ref": "./examples/EcsClusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EcsClusters_CreateOrUpdate",
        "tags": [
          "EcsClusters"
        ],
        "description": "Create a EcsCluster. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EcsCluster",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcsCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EcsCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EcsCluster"
            }
          },
          "201": {
            "description": "Resource 'EcsCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EcsCluster"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsClusters_CreateOrUpdate": {
            "$ref": "./examples/EcsClusters_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EcsClusters_Update",
        "tags": [
          "EcsClusters"
        ],
        "description": "Update a EcsCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EcsCluster",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcsClusterTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EcsCluster"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsClusters_Update": {
            "$ref": "./examples/EcsClusters_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EcsClusters_Delete",
        "tags": [
          "EcsClusters"
        ],
        "description": "Delete a EcsCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EcsCluster",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsClusters_Delete": {
            "$ref": "./examples/EcsClusters_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsEcsClusterProperties": {
      "type": "object",
      "description": "Definition of awsEcsCluster",
      "properties": {
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn. The Amazon Resource Name (ARN) of the Amazon ECS cluster, such as arn:aws:ecs:us-east-2:123456789012:cluster/MyECSCluster."
        },
        "capacityProviders": {
          "type": "array",
          "description": "Gets and sets the property capacityProviders.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "clusterName": {
          "type": "string",
          "description": "Gets and sets the property clusterName. A user-generated string that you use to identify your cluster. If you don't specify a name, AWS CloudFormation generates a unique physical ID for the name."
        },
        "clusterSettings": {
          "type": "array",
          "description": "Gets and sets the property clusterSettings.",
          "items": {
            "$ref": "#/definitions/ClusterSettings"
          },
          "x-ms-identifiers": []
        },
        "configuration": {
          "$ref": "#/definitions/ClusterConfiguration",
          "description": "Gets and sets the property configuration. The configurations to be set at cluster level."
        },
        "defaultCapacityProviderStrategy": {
          "type": "array",
          "description": "Gets and sets the property defaultCapacityProviderStrategy.",
          "items": {
            "$ref": "#/definitions/CapacityProviderStrategyItem"
          },
          "x-ms-identifiers": []
        },
        "serviceConnectDefaults": {
          "$ref": "#/definitions/ServiceConnectDefaults",
          "description": "Gets and sets the property serviceConnectDefaults. Service Connect Configuration default for all services or tasks within this cluster"
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CapacityProviderStrategyItem": {
      "type": "object",
      "description": "Definition of CapacityProviderStrategyItem",
      "properties": {
        "base": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property base."
        },
        "capacityProvider": {
          "type": "string",
          "description": "Gets and sets the property capacityProvider."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property weight."
        }
      }
    },
    "ClusterConfiguration": {
      "type": "object",
      "description": "Definition of ClusterConfiguration",
      "properties": {
        "executeCommandConfiguration": {
          "$ref": "#/definitions/ExecuteCommandConfiguration",
          "description": "Gets and sets the property executeCommandConfiguration. The configuration for ExecuteCommand."
        }
      }
    },
    "ClusterSettings": {
      "type": "object",
      "description": "Definition of ClusterSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets and sets the property name."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "EcsCluster": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EcsClusterProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EcsClusterListResult": {
      "type": "object",
      "description": "The response of a EcsCluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EcsCluster items on this page",
          "items": {
            "$ref": "#/definitions/EcsCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EcsClusterProperties": {
      "type": "object",
      "description": "Definition of EcsCluster",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsEcsClusterProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "EcsClusterTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in EcsCluster resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ExecuteCommandConfiguration": {
      "type": "object",
      "description": "Definition of ExecuteCommandConfiguration",
      "properties": {
        "kmsKeyId": {
          "type": "string",
          "description": "Gets and sets the property kmsKeyId."
        },
        "logConfiguration": {
          "$ref": "#/definitions/ExecuteCommandLogConfiguration",
          "description": "Gets and sets the property logConfiguration. The session logging configuration for ExecuteCommand."
        },
        "logging": {
          "type": "string",
          "description": "Gets and sets the property logging."
        }
      }
    },
    "ExecuteCommandLogConfiguration": {
      "type": "object",
      "description": "Definition of ExecuteCommandLogConfiguration",
      "properties": {
        "cloudWatchEncryptionEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property cloudWatchEncryptionEnabled."
        },
        "cloudWatchLogGroupName": {
          "type": "string",
          "description": "Gets and sets the property cloudWatchLogGroupName."
        },
        "s3BucketName": {
          "type": "string",
          "description": "Gets and sets the property s3BucketName."
        },
        "s3EncryptionEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property s3EncryptionEnabled."
        },
        "s3KeyPrefix": {
          "type": "string",
          "description": "Gets and sets the property s3KeyPrefix."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "ServiceConnectDefaults": {
      "type": "object",
      "description": "Definition of ServiceConnectDefaults",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "Gets and sets the property `namespace`. Service Connect Namespace Name or ARN default for all services or tasks within this cluster"
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Api versions",
      "enum": [
        "2024-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-08-01-preview",
            "value": "2024-08-01-preview",
            "description": "2024-08-01-preview api version"
          }
        ]
      }
    }
  },
  "parameters": {}
}
