{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EcsServices"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ecsServices": {
      "get": {
        "operationId": "EcsServices_ListBySubscription",
        "tags": [
          "EcsServices"
        ],
        "description": "List EcsService resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EcsServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsServices_ListBySubscription": {
            "$ref": "./examples/EcsServices_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ecsServices": {
      "get": {
        "operationId": "EcsServices_ListByResourceGroup",
        "tags": [
          "EcsServices"
        ],
        "description": "List EcsService resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EcsServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsServices_ListByResourceGroup": {
            "$ref": "./examples/EcsServices_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ecsServices/{name}": {
      "get": {
        "operationId": "EcsServices_Get",
        "tags": [
          "EcsServices"
        ],
        "description": "Get a EcsService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EcsService",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EcsService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsServices_Get": {
            "$ref": "./examples/EcsServices_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EcsServices_CreateOrUpdate",
        "tags": [
          "EcsServices"
        ],
        "description": "Create a EcsService. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EcsService",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcsService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EcsService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EcsService"
            }
          },
          "201": {
            "description": "Resource 'EcsService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EcsService"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsServices_CreateOrUpdate": {
            "$ref": "./examples/EcsServices_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EcsServices_Update",
        "tags": [
          "EcsServices"
        ],
        "description": "Update a EcsService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EcsService",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcsServiceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EcsService"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsServices_Update": {
            "$ref": "./examples/EcsServices_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EcsServices_Delete",
        "tags": [
          "EcsServices"
        ],
        "description": "Delete a EcsService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EcsService",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EcsServices_Delete": {
            "$ref": "./examples/EcsServices_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsEcsServiceProperties": {
      "type": "object",
      "description": "Definition of awsEcsService",
      "properties": {
        "capacityProviderStrategy": {
          "type": "array",
          "description": "Gets and sets the property capacityProviderStrategy.",
          "items": {
            "$ref": "#/definitions/CapacityProviderStrategyItem"
          },
          "x-ms-identifiers": []
        },
        "cluster": {
          "type": "string",
          "description": "Gets and sets the property cluster."
        },
        "deploymentConfiguration": {
          "$ref": "#/definitions/DeploymentConfiguration",
          "description": "Gets and sets the property deploymentConfiguration."
        },
        "deploymentController": {
          "$ref": "#/definitions/DeploymentController",
          "description": "Gets and sets the property deploymentController."
        },
        "desiredCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property desiredCount."
        },
        "enableECSManagedTags": {
          "type": "boolean",
          "description": "Gets and sets the property enableECSManagedTags."
        },
        "enableExecuteCommand": {
          "type": "boolean",
          "description": "Gets and sets the property enableExecuteCommand."
        },
        "healthCheckGracePeriodSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property healthCheckGracePeriodSeconds."
        },
        "launchType": {
          "$ref": "#/definitions/LaunchType",
          "description": "Gets and sets the property launchType."
        },
        "loadBalancers": {
          "type": "array",
          "description": "Gets and sets the property loadBalancers.",
          "items": {
            "$ref": "#/definitions/LoadBalancer"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Gets and sets the property name."
        },
        "networkConfiguration": {
          "$ref": "#/definitions/NetworkConfiguration",
          "description": "Gets and sets the property networkConfiguration."
        },
        "placementConstraints": {
          "type": "array",
          "description": "Gets and sets the property placementConstraints.",
          "items": {
            "$ref": "#/definitions/PlacementConstraint"
          },
          "x-ms-identifiers": []
        },
        "placementStrategies": {
          "type": "array",
          "description": "Gets and sets the property placementStrategies.",
          "items": {
            "$ref": "#/definitions/PlacementStrategy"
          },
          "x-ms-identifiers": []
        },
        "platformVersion": {
          "type": "string",
          "description": "Gets and sets the property platformVersion."
        },
        "propagateTags": {
          "$ref": "#/definitions/PropagateTags",
          "description": "Gets and sets the property propagateTags."
        },
        "role": {
          "type": "string",
          "description": "Gets and sets the property role."
        },
        "schedulingStrategy": {
          "$ref": "#/definitions/SchedulingStrategy",
          "description": "Gets and sets the property schedulingStrategy."
        },
        "serviceArn": {
          "type": "string",
          "description": "Gets and sets the property serviceArn."
        },
        "serviceConnectConfiguration": {
          "$ref": "#/definitions/ServiceConnectConfiguration",
          "description": "Gets and sets the property serviceConnectConfiguration."
        },
        "serviceName": {
          "type": "string",
          "description": "Gets and sets the property serviceName."
        },
        "serviceRegistries": {
          "type": "array",
          "description": "Gets and sets the property serviceRegistries.",
          "items": {
            "$ref": "#/definitions/ServiceRegistry"
          },
          "x-ms-identifiers": []
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "taskDefinition": {
          "type": "string",
          "description": "Gets and sets the property taskDefinition."
        },
        "volumeConfigurations": {
          "type": "array",
          "description": "Gets and sets the property volumeConfigurations.",
          "items": {
            "$ref": "#/definitions/ServiceVolumeConfiguration"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AwsVpcConfiguration": {
      "type": "object",
      "description": "Definition of AwsVpcConfiguration",
      "properties": {
        "assignPublicIp": {
          "$ref": "#/definitions/AwsVpcConfigurationAssignPublicIp",
          "description": "Gets and sets the property assignPublicIp."
        },
        "securityGroups": {
          "type": "array",
          "description": "Gets and sets the property securityGroups.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "subnets": {
          "type": "array",
          "description": "Gets and sets the property subnets.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AwsVpcConfigurationAssignPublicIp": {
      "type": "string",
      "description": "AwsVpcConfigurationAssignPublicIp enum",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "x-ms-enum": {
        "name": "AwsVpcConfigurationAssignPublicIp",
        "modelAsString": true,
        "values": [
          {
            "name": "DISABLED",
            "value": "DISABLED",
            "description": "AwsVpcConfigurationAssignPublicIp enum DISABLED"
          },
          {
            "name": "ENABLED",
            "value": "ENABLED",
            "description": "AwsVpcConfigurationAssignPublicIp enum ENABLED"
          }
        ]
      }
    },
    "CapacityProviderStrategyItem": {
      "type": "object",
      "description": "Definition of CapacityProviderStrategyItem",
      "properties": {
        "base": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property base."
        },
        "capacityProvider": {
          "type": "string",
          "description": "Gets and sets the property capacityProvider."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property weight."
        }
      }
    },
    "DeploymentAlarms": {
      "type": "object",
      "description": "Definition of DeploymentAlarms",
      "properties": {
        "alarmNames": {
          "type": "array",
          "description": "Gets and sets the property alarmNames.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "enable": {
          "type": "boolean",
          "description": "Gets and sets the property enable."
        },
        "rollback": {
          "type": "boolean",
          "description": "Gets and sets the property rollback."
        }
      }
    },
    "DeploymentCircuitBreaker": {
      "type": "object",
      "description": "Definition of DeploymentCircuitBreaker",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Gets and sets the property enable."
        },
        "rollback": {
          "type": "boolean",
          "description": "Gets and sets the property rollback."
        }
      }
    },
    "DeploymentConfiguration": {
      "type": "object",
      "description": "Definition of DeploymentConfiguration",
      "properties": {
        "alarms": {
          "$ref": "#/definitions/DeploymentAlarms",
          "description": "Gets and sets the property alarms."
        },
        "deploymentCircuitBreaker": {
          "$ref": "#/definitions/DeploymentCircuitBreaker",
          "description": "Gets and sets the property deploymentCircuitBreaker."
        },
        "maximumPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property maximumPercent."
        },
        "minimumHealthyPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property minimumHealthyPercent."
        }
      }
    },
    "DeploymentController": {
      "type": "object",
      "description": "Definition of DeploymentController",
      "properties": {
        "type": {
          "$ref": "#/definitions/DeploymentControllerType",
          "description": "Gets and sets the property type."
        }
      }
    },
    "DeploymentControllerType": {
      "type": "string",
      "description": "DeploymentControllerType enum",
      "enum": [
        "CODE_DEPLOY",
        "ECS",
        "EXTERNAL"
      ],
      "x-ms-enum": {
        "name": "DeploymentControllerType",
        "modelAsString": true,
        "values": [
          {
            "name": "CODE_DEPLOY",
            "value": "CODE_DEPLOY",
            "description": "DeploymentControllerType enum CODE_DEPLOY"
          },
          {
            "name": "ECS",
            "value": "ECS",
            "description": "DeploymentControllerType enum ECS"
          },
          {
            "name": "EXTERNAL",
            "value": "EXTERNAL",
            "description": "DeploymentControllerType enum EXTERNAL"
          }
        ]
      }
    },
    "EBSTagSpecification": {
      "type": "object",
      "description": "Definition of EBSTagSpecification",
      "properties": {
        "propagateTags": {
          "$ref": "#/definitions/EBSTagSpecificationPropagateTags",
          "description": "Gets and sets the property propagateTags."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets and sets the property resourceType."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "EBSTagSpecificationPropagateTags": {
      "type": "string",
      "description": "EBSTagSpecificationPropagateTags enum",
      "enum": [
        "SERVICE",
        "TASK_DEFINITION"
      ],
      "x-ms-enum": {
        "name": "EBSTagSpecificationPropagateTags",
        "modelAsString": true,
        "values": [
          {
            "name": "SERVICE",
            "value": "SERVICE",
            "description": "EBSTagSpecificationPropagateTags enum SERVICE"
          },
          {
            "name": "TASK_DEFINITION",
            "value": "TASK_DEFINITION",
            "description": "EBSTagSpecificationPropagateTags enum TASK_DEFINITION"
          }
        ]
      }
    },
    "EcsService": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EcsServiceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EcsServiceListResult": {
      "type": "object",
      "description": "The response of a EcsService list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EcsService items on this page",
          "items": {
            "$ref": "#/definitions/EcsService"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EcsServiceProperties": {
      "type": "object",
      "description": "Definition of EcsService",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsEcsServiceProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "EcsServiceTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in EcsService resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "LaunchType": {
      "type": "string",
      "description": "LaunchType enum",
      "enum": [
        "EC2",
        "EXTERNAL",
        "FARGATE"
      ],
      "x-ms-enum": {
        "name": "LaunchType",
        "modelAsString": true,
        "values": [
          {
            "name": "EC2",
            "value": "EC2",
            "description": "LaunchType enum EC2"
          },
          {
            "name": "EXTERNAL",
            "value": "EXTERNAL",
            "description": "LaunchType enum EXTERNAL"
          },
          {
            "name": "FARGATE",
            "value": "FARGATE",
            "description": "LaunchType enum FARGATE"
          }
        ]
      }
    },
    "LoadBalancer": {
      "type": "object",
      "description": "Definition of LoadBalancer",
      "properties": {
        "containerName": {
          "type": "string",
          "description": "Gets and sets the property containerName."
        },
        "containerPort": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property containerPort."
        },
        "loadBalancerName": {
          "type": "string",
          "description": "Gets and sets the property loadBalancerName."
        },
        "targetGroupArn": {
          "type": "string",
          "description": "Gets and sets the property targetGroupArn."
        }
      }
    },
    "LogConfiguration": {
      "type": "object",
      "description": "Definition of LogConfiguration",
      "properties": {
        "logDriver": {
          "type": "string",
          "description": "Gets and sets the property logDriver."
        },
        "options": {
          "description": "Gets and sets the property options."
        },
        "secretOptions": {
          "type": "array",
          "description": "Gets and sets the property secretOptions.",
          "items": {
            "$ref": "#/definitions/Secret"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "NetworkConfiguration": {
      "type": "object",
      "description": "Definition of NetworkConfiguration",
      "properties": {
        "awsvpcConfiguration": {
          "$ref": "#/definitions/AwsVpcConfiguration",
          "description": "Gets and sets the property awsvpcConfiguration."
        }
      }
    },
    "PlacementConstraint": {
      "type": "object",
      "description": "Definition of PlacementConstraint",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Gets and sets the property expression."
        },
        "type": {
          "$ref": "#/definitions/PlacementConstraintType",
          "description": "Gets and sets the property type."
        }
      }
    },
    "PlacementConstraintType": {
      "type": "string",
      "description": "PlacementConstraintType enum",
      "enum": [
        "distinctInstance",
        "memberOf"
      ],
      "x-ms-enum": {
        "name": "PlacementConstraintType",
        "modelAsString": true,
        "values": [
          {
            "name": "distinctInstance",
            "value": "distinctInstance",
            "description": "PlacementConstraintType enum distinctInstance"
          },
          {
            "name": "memberOf",
            "value": "memberOf",
            "description": "PlacementConstraintType enum memberOf"
          }
        ]
      }
    },
    "PlacementStrategy": {
      "type": "object",
      "description": "Definition of PlacementStrategy",
      "properties": {
        "field": {
          "type": "string",
          "description": "Gets and sets the property field."
        },
        "type": {
          "$ref": "#/definitions/PlacementStrategyType",
          "description": "Gets and sets the property type."
        }
      }
    },
    "PlacementStrategyType": {
      "type": "string",
      "description": "PlacementStrategyType enum",
      "enum": [
        "binpack",
        "random",
        "spread"
      ],
      "x-ms-enum": {
        "name": "PlacementStrategyType",
        "modelAsString": true,
        "values": [
          {
            "name": "binpack",
            "value": "binpack",
            "description": "PlacementStrategyType enum binpack"
          },
          {
            "name": "random",
            "value": "random",
            "description": "PlacementStrategyType enum random"
          },
          {
            "name": "spread",
            "value": "spread",
            "description": "PlacementStrategyType enum spread"
          }
        ]
      }
    },
    "PropagateTags": {
      "type": "string",
      "description": "PropagateTags enum",
      "enum": [
        "SERVICE",
        "TASK_DEFINITION"
      ],
      "x-ms-enum": {
        "name": "PropagateTags",
        "modelAsString": true,
        "values": [
          {
            "name": "SERVICE",
            "value": "SERVICE",
            "description": "PropagateTags enum SERVICE"
          },
          {
            "name": "TASK_DEFINITION",
            "value": "TASK_DEFINITION",
            "description": "PropagateTags enum TASK_DEFINITION"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "SchedulingStrategy": {
      "type": "string",
      "description": "SchedulingStrategy enum",
      "enum": [
        "DAEMON",
        "REPLICA"
      ],
      "x-ms-enum": {
        "name": "SchedulingStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "DAEMON",
            "value": "DAEMON",
            "description": "SchedulingStrategy enum DAEMON"
          },
          {
            "name": "REPLICA",
            "value": "REPLICA",
            "description": "SchedulingStrategy enum REPLICA"
          }
        ]
      }
    },
    "Secret": {
      "type": "object",
      "description": "Definition of Secret",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets and sets the property name."
        },
        "valueFrom": {
          "type": "string",
          "description": "Gets and sets the property valueFrom."
        }
      }
    },
    "ServiceConnectClientAlias": {
      "type": "object",
      "description": "Definition of ServiceConnectClientAlias",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "Gets and sets the property dnsName."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property port."
        }
      }
    },
    "ServiceConnectConfiguration": {
      "type": "object",
      "description": "Definition of ServiceConnectConfiguration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Gets and sets the property enabled."
        },
        "logConfiguration": {
          "$ref": "#/definitions/LogConfiguration",
          "description": "Gets and sets the property logConfiguration."
        },
        "namespace": {
          "type": "string",
          "description": "Gets and sets the property `namespace`."
        },
        "services": {
          "type": "array",
          "description": "Gets and sets the property services.",
          "items": {
            "$ref": "#/definitions/ServiceConnectService"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ServiceConnectService": {
      "type": "object",
      "description": "Definition of ServiceConnectService",
      "properties": {
        "clientAliases": {
          "type": "array",
          "description": "Gets and sets the property clientAliases.",
          "items": {
            "$ref": "#/definitions/ServiceConnectClientAlias"
          },
          "x-ms-identifiers": []
        },
        "discoveryName": {
          "type": "string",
          "description": "Gets and sets the property discoveryName."
        },
        "ingressPortOverride": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property ingressPortOverride."
        },
        "portName": {
          "type": "string",
          "description": "Gets and sets the property portName."
        },
        "timeout": {
          "$ref": "#/definitions/TimeoutConfiguration",
          "description": "Gets and sets the property timeout."
        },
        "tls": {
          "$ref": "#/definitions/ServiceConnectTlsConfiguration",
          "description": "Gets and sets the property tls."
        }
      }
    },
    "ServiceConnectTlsCertificateAuthority": {
      "type": "object",
      "description": "Definition of ServiceConnectTlsCertificateAuthority",
      "properties": {
        "awsPcaAuthorityArn": {
          "type": "string",
          "description": "Gets and sets the property awsPcaAuthorityArn."
        }
      }
    },
    "ServiceConnectTlsConfiguration": {
      "type": "object",
      "description": "Definition of ServiceConnectTlsConfiguration",
      "properties": {
        "issuerCertificateAuthority": {
          "$ref": "#/definitions/ServiceConnectTlsCertificateAuthority",
          "description": "Gets and sets the property issuerCertificateAuthority."
        },
        "kmsKey": {
          "type": "string",
          "description": "Gets and sets the property kmsKey."
        },
        "roleArn": {
          "type": "string",
          "description": "Gets and sets the property roleArn."
        }
      }
    },
    "ServiceManagedEBSVolumeConfiguration": {
      "type": "object",
      "description": "Definition of ServiceManagedEBSVolumeConfiguration",
      "properties": {
        "encrypted": {
          "type": "boolean",
          "description": "Gets and sets the property encrypted."
        },
        "filesystemType": {
          "type": "string",
          "description": "Gets and sets the property filesystemType."
        },
        "iops": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property iops."
        },
        "kmsKeyId": {
          "type": "string",
          "description": "Gets and sets the property kmsKeyId."
        },
        "roleArn": {
          "type": "string",
          "description": "Gets and sets the property roleArn."
        },
        "sizeInGiB": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property sizeInGiB."
        },
        "snapshotId": {
          "type": "string",
          "description": "Gets and sets the property snapshotId."
        },
        "tagSpecifications": {
          "type": "array",
          "description": "Gets and sets the property tagSpecifications.",
          "items": {
            "$ref": "#/definitions/EBSTagSpecification"
          },
          "x-ms-identifiers": []
        },
        "throughput": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property throughput."
        },
        "volumeType": {
          "type": "string",
          "description": "Gets and sets the property volumeType."
        }
      }
    },
    "ServiceRegistry": {
      "type": "object",
      "description": "Definition of ServiceRegistry",
      "properties": {
        "containerName": {
          "type": "string",
          "description": "Gets and sets the property containerName."
        },
        "containerPort": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property containerPort."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property port."
        },
        "registryArn": {
          "type": "string",
          "description": "Gets and sets the property registryArn."
        }
      }
    },
    "ServiceVolumeConfiguration": {
      "type": "object",
      "description": "Definition of ServiceVolumeConfiguration",
      "properties": {
        "managedEBSVolume": {
          "$ref": "#/definitions/ServiceManagedEBSVolumeConfiguration",
          "description": "Gets and sets the property managedEBSVolume."
        },
        "name": {
          "type": "string",
          "description": "Gets and sets the property name."
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "TimeoutConfiguration": {
      "type": "object",
      "description": "Definition of TimeoutConfiguration",
      "properties": {
        "idleTimeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property idleTimeoutSeconds."
        },
        "perRequestTimeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property perRequestTimeoutSeconds."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Api versions",
      "enum": [
        "2024-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-08-01-preview",
            "value": "2024-08-01-preview",
            "description": "2024-08-01-preview api version"
          }
        ]
      }
    }
  },
  "parameters": {}
}
