{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EksClusters"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.AwsConnector/eksClusters": {
      "get": {
        "operationId": "EksClusters_List",
        "tags": [
          "EksClusters"
        ],
        "description": "List EksCluster resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EksClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EksClusters_List": {
            "$ref": "./examples/EksClusters_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.AwsConnector/eksClusters/default": {
      "get": {
        "operationId": "EksClusters_Get",
        "tags": [
          "EksClusters"
        ],
        "description": "Get a EksCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EksCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EksClusters_Get": {
            "$ref": "./examples/EksClusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EksClusters_CreateOrUpdate",
        "tags": [
          "EksClusters"
        ],
        "description": "Create a EksCluster. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EksCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EksCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EksCluster"
            }
          },
          "201": {
            "description": "Resource 'EksCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EksCluster"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EksClusters_CreateOrUpdate": {
            "$ref": "./examples/EksClusters_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EksClusters_Delete",
        "tags": [
          "EksClusters"
        ],
        "description": "Delete a EksCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EksClusters_Delete": {
            "$ref": "./examples/EksClusters_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AccessConfig": {
      "type": "object",
      "description": "Definition of AccessConfig",
      "properties": {
        "authenticationMode": {
          "$ref": "#/definitions/AccessConfigAuthenticationMode",
          "description": "Gets and sets the property authenticationMode. Specify the authentication mode that should be used to create your cluster."
        },
        "bootstrapClusterCreatorAdminPermissions": {
          "type": "boolean",
          "description": "Gets and sets the property bootstrapClusterCreatorAdminPermissions. Set this value to false to avoid creating a default cluster admin Access Entry using the IAM principal used to create the cluster."
        }
      }
    },
    "AccessConfigAuthenticationMode": {
      "type": "string",
      "description": "AccessConfigAuthenticationMode enum",
      "enum": [
        "API",
        "API_AND_CONFIG_MAP",
        "CONFIG_MAP"
      ],
      "x-ms-enum": {
        "name": "AccessConfigAuthenticationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "API",
            "value": "API",
            "description": "AccessConfigAuthenticationMode enum API"
          },
          {
            "name": "API_AND_CONFIG_MAP",
            "value": "API_AND_CONFIG_MAP",
            "description": "AccessConfigAuthenticationMode enum API_AND_CONFIG_MAP"
          },
          {
            "name": "CONFIG_MAP",
            "value": "CONFIG_MAP",
            "description": "AccessConfigAuthenticationMode enum CONFIG_MAP"
          }
        ]
      }
    },
    "AwsEksClusterProperties": {
      "type": "object",
      "description": "Definition of awsEksCluster",
      "properties": {
        "accessConfig": {
          "$ref": "#/definitions/AccessConfig",
          "description": "Gets and sets the property accessConfig. An object representing the Access Config to use for the cluster."
        },
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn. The ARN of the cluster, such as arn:aws:eks:us-west-2:666666666666:cluster/prod."
        },
        "certificateAuthorityData": {
          "type": "string",
          "description": "Gets and sets the property certificateAuthorityData. The certificate-authority-data for your cluster."
        },
        "clusterSecurityGroupId": {
          "type": "string",
          "description": "Gets and sets the property clusterSecurityGroupId. The cluster security group that was created by Amazon EKS for the cluster. Managed node groups use this security group for control plane to data plane communication."
        },
        "encryptionConfig": {
          "type": "array",
          "description": "Gets and sets the property encryptionConfig.",
          "items": {
            "$ref": "#/definitions/EncryptionConfig"
          },
          "x-ms-identifiers": []
        },
        "encryptionConfigKeyArn": {
          "type": "string",
          "description": "Gets and sets the property encryptionConfigKeyArn. Amazon Resource Name (ARN) or alias of the customer master key (CMK)."
        },
        "endpoint": {
          "type": "string",
          "description": "Gets and sets the property endpoint. The endpoint for your Kubernetes API server, such as https://5E1D0CEXAMPLEA591B746AFC5AB30262.yl4.us-west-2.eks.amazonaws.com."
        },
        "id": {
          "type": "string",
          "description": "Gets and sets the property id. The unique ID given to your cluster."
        },
        "kubernetesNetworkConfig": {
          "$ref": "#/definitions/KubernetesNetworkConfig",
          "description": "Gets and sets the property kubernetesNetworkConfig. The Kubernetes network configuration for the cluster."
        },
        "logging": {
          "$ref": "#/definitions/Logging",
          "description": "Gets and sets the property logging. Enable exporting the Kubernetes control plane logs for your cluster to CloudWatch Logs based on log types. By default, cluster control plane logs aren't exported to CloudWatch Logs."
        },
        "name": {
          "type": "string",
          "description": "Gets and sets the property name. The unique name to give to your cluster."
        },
        "openIdConnectIssuerUrl": {
          "type": "string",
          "description": "Gets and sets the property openIdConnectIssuerUrl. The issuer URL for the cluster's OIDC identity provider, such as https://oidc.eks.us-west-2.amazonaws.com/id/EXAMPLED539D4633E53DE1B716D3041E. If you need to remove https:// from this output value, you can include the following code in your template."
        },
        "outpostConfig": {
          "$ref": "#/definitions/OutpostConfig",
          "description": "Gets and sets the property outpostConfig. An object representing the Outpost configuration to use for AWS EKS outpost cluster."
        },
        "resourcesVpcConfig": {
          "$ref": "#/definitions/ResourcesVpcConfig",
          "description": "Gets and sets the property resourcesVpcConfig. An object representing the VPC configuration to use for an Amazon EKS cluster."
        },
        "roleArn": {
          "type": "string",
          "description": "Gets and sets the property roleArn. The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags. An array of key-value pairs to apply to this resource.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "version": {
          "type": "string",
          "description": "Gets and sets the property version. The desired Kubernetes version for your cluster. If you don't specify a value here, the latest version available in Amazon EKS is used."
        }
      }
    },
    "ClusterLogging": {
      "type": "object",
      "description": "Definition of ClusterLogging",
      "properties": {
        "enabledTypes": {
          "type": "array",
          "description": "Gets and sets the property enabledTypes. Enable control plane logs for your cluster, all log types will be disabled if the array is empty",
          "items": {
            "$ref": "#/definitions/LoggingTypeConfig"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ControlPlanePlacement": {
      "type": "object",
      "description": "Definition of ControlPlanePlacement",
      "properties": {
        "groupName": {
          "type": "string",
          "description": "Gets and sets the property groupName. Specify the placement group name of the control place machines for your cluster."
        }
      }
    },
    "EksCluster": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EksClusterProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EksClusterListResult": {
      "type": "object",
      "description": "The response of a EksCluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EksCluster items on this page",
          "items": {
            "$ref": "#/definitions/EksCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EksClusterProperties": {
      "type": "object",
      "description": "Definition of EksCluster",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsEksClusterProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn."
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Gets and sets the property publicCloudResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "Definition of EncryptionConfig",
      "properties": {
        "provider": {
          "$ref": "#/definitions/Provider",
          "description": "Gets and sets the property provider. The encryption provider for the cluster."
        },
        "resources": {
          "type": "array",
          "description": "Gets and sets the property resources. Specifies the resources to be encrypted. The only supported value is 'secrets'.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "KubernetesNetworkConfig": {
      "type": "object",
      "description": "Definition of KubernetesNetworkConfig",
      "properties": {
        "ipFamily": {
          "$ref": "#/definitions/KubernetesNetworkConfigIpFamily",
          "description": "Gets and sets the property ipFamily. Ipv4 or Ipv6. You can only specify ipv6 for 1.21 and later clusters that use version 1.10.1 or later of the Amazon VPC CNI add-on"
        },
        "serviceIpv4Cidr": {
          "type": "string",
          "description": "Gets and sets the property serviceIpv4Cidr. The CIDR block to assign Kubernetes service IP addresses from. If you don't specify a block, Kubernetes assigns addresses from either the 10.100.0.0/16 or 172.20.0.0/16 CIDR blocks. We recommend that you specify a block that does not overlap with resources in other networks that are peered or connected to your VPC. "
        },
        "serviceIpv6Cidr": {
          "type": "string",
          "description": "Gets and sets the property serviceIpv6Cidr. The CIDR block to assign Kubernetes service IP addresses from."
        }
      }
    },
    "KubernetesNetworkConfigIpFamily": {
      "type": "string",
      "description": "KubernetesNetworkConfigIpFamily enum",
      "enum": [
        "ipv4",
        "ipv6"
      ],
      "x-ms-enum": {
        "name": "KubernetesNetworkConfigIpFamily",
        "modelAsString": true,
        "values": [
          {
            "name": "ipv4",
            "value": "ipv4",
            "description": "KubernetesNetworkConfigIpFamily enum ipv4"
          },
          {
            "name": "ipv6",
            "value": "ipv6",
            "description": "KubernetesNetworkConfigIpFamily enum ipv6"
          }
        ]
      }
    },
    "Logging": {
      "type": "object",
      "description": "Definition of Logging",
      "properties": {
        "clusterLogging": {
          "$ref": "#/definitions/ClusterLogging",
          "description": "Gets and sets the property clusterLogging. The cluster control plane logging configuration for your cluster.  The cluster control plane logging configuration for your cluster. "
        }
      }
    },
    "LoggingTypeConfig": {
      "type": "object",
      "description": "Definition of LoggingTypeConfig",
      "properties": {
        "type": {
          "$ref": "#/definitions/LoggingTypeConfigType",
          "description": "Gets and sets the property type. name of the log type"
        }
      }
    },
    "LoggingTypeConfigType": {
      "type": "string",
      "description": "LoggingTypeConfigType enum",
      "enum": [
        "api",
        "audit",
        "authenticator",
        "controllerManager",
        "scheduler"
      ],
      "x-ms-enum": {
        "name": "LoggingTypeConfigType",
        "modelAsString": true,
        "values": [
          {
            "name": "api",
            "value": "api",
            "description": "LoggingTypeConfigType enum api"
          },
          {
            "name": "audit",
            "value": "audit",
            "description": "LoggingTypeConfigType enum audit"
          },
          {
            "name": "authenticator",
            "value": "authenticator",
            "description": "LoggingTypeConfigType enum authenticator"
          },
          {
            "name": "controllerManager",
            "value": "controllerManager",
            "description": "LoggingTypeConfigType enum controllerManager"
          },
          {
            "name": "scheduler",
            "value": "scheduler",
            "description": "LoggingTypeConfigType enum scheduler"
          }
        ]
      }
    },
    "OutpostConfig": {
      "type": "object",
      "description": "Definition of OutpostConfig",
      "properties": {
        "controlPlaneInstanceType": {
          "type": "string",
          "description": "Gets and sets the property controlPlaneInstanceType. Specify the Instance type of the machines that should be used to create your cluster."
        },
        "controlPlanePlacement": {
          "$ref": "#/definitions/ControlPlanePlacement",
          "description": "Gets and sets the property controlPlanePlacement. Specify the placement group of the control plane machines for your cluster. Specify the placement group of the control plane machines for your cluster."
        },
        "outpostArns": {
          "type": "array",
          "description": "Gets and sets the property outpostArns. Specify one or more Arn(s) of Outpost(s) on which you would like to create your cluster.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Provider": {
      "type": "object",
      "description": "Definition of Provider",
      "properties": {
        "keyArn": {
          "type": "string",
          "description": "Gets and sets the property keyArn. Amazon Resource Name (ARN) or alias of the KMS key. The KMS key must be symmetric, created in the same region as the cluster, and if the KMS key was created in a different account, the user must have access to the KMS key."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "ResourcesVpcConfig": {
      "type": "object",
      "description": "Definition of ResourcesVpcConfig",
      "properties": {
        "endpointPrivateAccess": {
          "type": "boolean",
          "description": "Gets and sets the property endpointPrivateAccess. Set this value to true to enable private access for your cluster's Kubernetes API server endpoint. If you enable private access, Kubernetes API requests from within your cluster's VPC use the private VPC endpoint. The default value for this parameter is false, which disables private access for your Kubernetes API server. If you disable private access and you have nodes or AWS Fargate pods in the cluster, then ensure that publicAccessCidrs includes the necessary CIDR blocks for communication with the nodes or Fargate pods."
        },
        "endpointPublicAccess": {
          "type": "boolean",
          "description": "Gets and sets the property endpointPublicAccess. Set this value to false to disable public access to your cluster's Kubernetes API server endpoint. If you disable public access, your cluster's Kubernetes API server can only receive requests from within the cluster VPC. The default value for this parameter is true, which enables public access for your Kubernetes API server."
        },
        "publicAccessCidrs": {
          "type": "array",
          "description": "Gets and sets the property publicAccessCidrs. The CIDR blocks that are allowed access to your cluster's public Kubernetes API server endpoint. Communication to the endpoint from addresses outside of the CIDR blocks that you specify is denied. The default value is 0.0.0.0/0. If you've disabled private endpoint access and you have nodes or AWS Fargate pods in the cluster, then ensure that you specify the necessary CIDR blocks.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "securityGroupIds": {
          "type": "array",
          "description": "Gets and sets the property securityGroupIds. Specify one or more security groups for the cross-account elastic network interfaces that Amazon EKS creates to use to allow communication between your worker nodes and the Kubernetes control plane. If you don't specify a security group, the default security group for your VPC is used.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "subnetIds": {
          "type": "array",
          "description": "Gets and sets the property subnetIds. Specify subnets for your Amazon EKS nodes. Amazon EKS creates cross-account elastic network interfaces in these subnets to allow communication between your nodes and the Kubernetes control plane.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key. The key name of the tag. You can specify a value that is 1 to 128 Unicode characters in length and cannot be prefixed with aws:. You can use any of the following characters: the set of Unicode letters, digits, whitespace, _, ., /, =, +, and -."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value. The value for the tag. You can specify a value that is 0 to 256 Unicode characters in length and cannot be prefixed with aws:. You can use any of the following characters: the set of Unicode letters, digits, whitespace, _, ., /, =, +, and -."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Api versions",
      "enum": [
        "2024-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-08-01-preview",
            "value": "2024-08-01-preview",
            "description": "2024-08-01-preview api version"
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
