{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EksNodegroups"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/eksNodegroups": {
      "get": {
        "operationId": "EksNodegroups_ListBySubscription",
        "tags": [
          "EksNodegroups"
        ],
        "description": "List EksNodegroup resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EksNodegroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EksNodegroups_ListBySubscription": {
            "$ref": "./examples/EksNodegroups_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/eksNodegroups": {
      "get": {
        "operationId": "EksNodegroups_ListByResourceGroup",
        "tags": [
          "EksNodegroups"
        ],
        "description": "List EksNodegroup resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EksNodegroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EksNodegroups_ListByResourceGroup": {
            "$ref": "./examples/EksNodegroups_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/eksNodegroups/{name}": {
      "get": {
        "operationId": "EksNodegroups_Get",
        "tags": [
          "EksNodegroups"
        ],
        "description": "Get a EksNodegroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EksNodegroup",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EksNodegroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EksNodegroups_Get": {
            "$ref": "./examples/EksNodegroups_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EksNodegroups_CreateOrUpdate",
        "tags": [
          "EksNodegroups"
        ],
        "description": "Create a EksNodegroup. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EksNodegroup",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EksNodegroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EksNodegroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EksNodegroup"
            }
          },
          "201": {
            "description": "Resource 'EksNodegroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EksNodegroup"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EksNodegroups_CreateOrUpdate": {
            "$ref": "./examples/EksNodegroups_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EksNodegroups_Update",
        "tags": [
          "EksNodegroups"
        ],
        "description": "Update a EksNodegroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EksNodegroup",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EksNodegroupTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EksNodegroup"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EksNodegroups_Update": {
            "$ref": "./examples/EksNodegroups_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EksNodegroups_Delete",
        "tags": [
          "EksNodegroups"
        ],
        "description": "Delete a EksNodegroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EksNodegroup",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EksNodegroups_Delete": {
            "$ref": "./examples/EksNodegroups_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsEksNodegroupProperties": {
      "type": "object",
      "description": "Definition of awsEksNodegroup",
      "properties": {
        "amiType": {
          "type": "string",
          "description": "Gets and sets the property amiType. The AMI type for your node group."
        },
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn."
        },
        "capacityType": {
          "type": "string",
          "description": "Gets and sets the property capacityType. The capacity type of your managed node group."
        },
        "clusterName": {
          "type": "string",
          "description": "Gets and sets the property clusterName. Name of the cluster to create the node group in."
        },
        "diskSize": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property diskSize. The root device disk size (in GiB) for your node group instances."
        },
        "forceUpdateEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property forceUpdateEnabled. Force the update if the existing node group's pods are unable to be drained due to a pod disruption budget issue."
        },
        "id": {
          "type": "string",
          "description": "Gets and sets the property id."
        },
        "instanceTypes": {
          "type": "array",
          "description": "Gets and sets the property instanceTypes. Specify the instance types for a node group.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "labels": {
          "type": "object",
          "description": "Gets and sets the property labels. The Kubernetes labels to be applied to the nodes in the node group when they are created.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "launchTemplate": {
          "$ref": "#/definitions/LaunchTemplateSpecification",
          "description": "Gets and sets the property launchTemplate. An object representing a node group's launch template specification. An object representing a launch template specification for AWS EKS Nodegroup."
        },
        "nodeRole": {
          "type": "string",
          "description": "Gets and sets the property nodeRole. The Amazon Resource Name (ARN) of the IAM role to associate with your node group."
        },
        "nodegroupName": {
          "type": "string",
          "description": "Gets and sets the property nodegroupName. The unique name to give your node group."
        },
        "releaseVersion": {
          "type": "string",
          "description": "Gets and sets the property releaseVersion. The AMI version of the Amazon EKS-optimized AMI to use with your node group."
        },
        "remoteAccess": {
          "$ref": "#/definitions/RemoteAccess",
          "description": "Gets and sets the property remoteAccess. The remote access (SSH) configuration to use with your node group. An object representing a remote access configuration specification for AWS EKS Nodegroup."
        },
        "scalingConfig": {
          "$ref": "#/definitions/ScalingConfig",
          "description": "Gets and sets the property scalingConfig. The scaling configuration details for the Auto Scaling group that is created for your node group. An object representing a auto scaling group specification for AWS EKS Nodegroup."
        },
        "subnets": {
          "type": "array",
          "description": "Gets and sets the property subnets. The subnets to use for the Auto Scaling group that is created for your node group.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "tags": {
          "type": "object",
          "description": "Gets and sets the property tags. The metadata, as key-value pairs, to apply to the node group to assist with categorization and organization. Follows same schema as Labels for consistency.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "taints": {
          "type": "array",
          "description": "Gets and sets the property taints. The Kubernetes taints to be applied to the nodes in the node group when they are created.",
          "items": {
            "$ref": "#/definitions/Taint"
          },
          "x-ms-identifiers": []
        },
        "updateConfig": {
          "$ref": "#/definitions/UpdateConfig",
          "description": "Gets and sets the property updateConfig. The node group update configuration. The node group update configuration."
        },
        "version": {
          "type": "string",
          "description": "Gets and sets the property version. The Kubernetes version to use for your managed nodes."
        }
      }
    },
    "EksNodegroup": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EksNodegroupProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EksNodegroupListResult": {
      "type": "object",
      "description": "The response of a EksNodegroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EksNodegroup items on this page",
          "items": {
            "$ref": "#/definitions/EksNodegroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EksNodegroupProperties": {
      "type": "object",
      "description": "Definition of EksNodegroup",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsEksNodegroupProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn."
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Gets and sets the property publicCloudResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "EksNodegroupTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in EksNodegroup resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "LaunchTemplateSpecification": {
      "type": "object",
      "description": "Definition of LaunchTemplateSpecification",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets and sets the property id."
        },
        "name": {
          "type": "string",
          "description": "Gets and sets the property name."
        },
        "version": {
          "type": "string",
          "description": "Gets and sets the property version."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "RemoteAccess": {
      "type": "object",
      "description": "Definition of RemoteAccess",
      "properties": {
        "ec2SshKey": {
          "type": "string",
          "description": "Gets and sets the property ec2SshKey."
        },
        "sourceSecurityGroups": {
          "type": "array",
          "description": "Gets and sets the property sourceSecurityGroups.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ScalingConfig": {
      "type": "object",
      "description": "Definition of ScalingConfig",
      "properties": {
        "desiredSize": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property desiredSize."
        },
        "maxSize": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property maxSize."
        },
        "minSize": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property minSize."
        }
      }
    },
    "Taint": {
      "type": "object",
      "description": "Definition of Taint",
      "properties": {
        "effect": {
          "type": "string",
          "description": "Gets and sets the property effect."
        },
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "UpdateConfig": {
      "type": "object",
      "description": "Definition of UpdateConfig",
      "properties": {
        "maxUnavailable": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property maxUnavailable. The maximum number of nodes unavailable at once during a version update. Nodes will be updated in parallel. This value or maxUnavailablePercentage is required to have a value.The maximum number is 100. "
        },
        "maxUnavailablePercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property maxUnavailablePercentage. The maximum percentage of nodes unavailable during a version update. This percentage of nodes will be updated in parallel, up to 100 nodes at once. This value or maxUnavailable is required to have a value."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Api versions",
      "enum": [
        "2024-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-08-01-preview",
            "value": "2024-08-01-preview",
            "description": "2024-08-01-preview api version"
          }
        ]
      }
    }
  },
  "parameters": {}
}
