{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ElasticsearchDomains"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/elasticsearchDomains": {
      "get": {
        "operationId": "ElasticsearchDomains_ListBySubscription",
        "tags": [
          "ElasticsearchDomains"
        ],
        "description": "List ElasticsearchDomain resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticsearchDomainListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticsearchDomains_ListBySubscription": {
            "$ref": "./examples/ElasticsearchDomains_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticsearchDomains": {
      "get": {
        "operationId": "ElasticsearchDomains_ListByResourceGroup",
        "tags": [
          "ElasticsearchDomains"
        ],
        "description": "List ElasticsearchDomain resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticsearchDomainListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticsearchDomains_ListByResourceGroup": {
            "$ref": "./examples/ElasticsearchDomains_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticsearchDomains/{name}": {
      "get": {
        "operationId": "ElasticsearchDomains_Get",
        "tags": [
          "ElasticsearchDomains"
        ],
        "description": "Get a ElasticsearchDomain",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticsearchDomain",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticsearchDomain"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticsearchDomains_Get": {
            "$ref": "./examples/ElasticsearchDomains_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ElasticsearchDomains_CreateOrUpdate",
        "tags": [
          "ElasticsearchDomains"
        ],
        "description": "Create a ElasticsearchDomain. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticsearchDomain",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticsearchDomain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ElasticsearchDomain' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ElasticsearchDomain"
            }
          },
          "201": {
            "description": "Resource 'ElasticsearchDomain' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ElasticsearchDomain"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticsearchDomains_CreateOrUpdate": {
            "$ref": "./examples/ElasticsearchDomains_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ElasticsearchDomains_Update",
        "tags": [
          "ElasticsearchDomains"
        ],
        "description": "Update a ElasticsearchDomain",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticsearchDomain",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticsearchDomainTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticsearchDomain"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticsearchDomains_Update": {
            "$ref": "./examples/ElasticsearchDomains_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ElasticsearchDomains_Delete",
        "tags": [
          "ElasticsearchDomains"
        ],
        "description": "Delete a ElasticsearchDomain",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticsearchDomain",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticsearchDomains_Delete": {
            "$ref": "./examples/ElasticsearchDomains_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AdvancedSecurityOptionsInput": {
      "type": "object",
      "description": "Definition of AdvancedSecurityOptionsInput",
      "properties": {
        "anonymousAuthEnabled": {
          "type": "boolean",
          "description": "Property anonymousAuthEnabled"
        },
        "enabled": {
          "type": "boolean",
          "description": "Property enabled"
        },
        "internalUserDatabaseEnabled": {
          "type": "boolean",
          "description": "Property internalUserDatabaseEnabled"
        },
        "masterUserOptions": {
          "$ref": "#/definitions/MasterUserOptions",
          "description": "Property masterUserOptions"
        }
      }
    },
    "AwsElasticsearchDomainProperties": {
      "type": "object",
      "description": "Definition of awsElasticsearchDomain",
      "properties": {
        "accessPolicies": {
          "description": "Property accessPolicies"
        },
        "advancedOptions": {
          "type": "object",
          "description": "Property advancedOptions",
          "additionalProperties": {
            "type": "string"
          }
        },
        "advancedSecurityOptions": {
          "$ref": "#/definitions/AdvancedSecurityOptionsInput",
          "description": "Property advancedSecurityOptions"
        },
        "arn": {
          "type": "string",
          "description": "Property arn"
        },
        "cognitoOptions": {
          "$ref": "#/definitions/CognitoOptions",
          "description": "Property cognitoOptions"
        },
        "domainArn": {
          "type": "string",
          "description": "Property domainArn"
        },
        "domainEndpoint": {
          "type": "string",
          "description": "Property domainEndpoint"
        },
        "domainEndpointOptions": {
          "$ref": "#/definitions/DomainEndpointOptions",
          "description": "Property domainEndpointOptions"
        },
        "domainName": {
          "type": "string",
          "description": "Property domainName"
        },
        "ebsOptions": {
          "$ref": "#/definitions/EBSOptions",
          "description": "Property ebsOptions"
        },
        "elasticsearchClusterConfig": {
          "$ref": "#/definitions/ElasticsearchClusterConfig",
          "description": "Property elasticsearchClusterConfig"
        },
        "elasticsearchVersion": {
          "type": "string",
          "description": "Property elasticsearchVersion"
        },
        "encryptionAtRestOptions": {
          "$ref": "#/definitions/EncryptionAtRestOptions",
          "description": "Property encryptionAtRestOptions"
        },
        "id": {
          "type": "string",
          "description": "Property id"
        },
        "logPublishingOptions": {
          "type": "object",
          "description": "Property logPublishingOptions",
          "additionalProperties": {
            "$ref": "#/definitions/LogPublishingOption"
          }
        },
        "nodeToNodeEncryptionOptions": {
          "$ref": "#/definitions/NodeToNodeEncryptionOptions",
          "description": "Property nodeToNodeEncryptionOptions"
        },
        "snapshotOptions": {
          "$ref": "#/definitions/SnapshotOptions",
          "description": "Property snapshotOptions"
        },
        "tags": {
          "type": "array",
          "description": "Property tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "vpcOptions": {
          "$ref": "#/definitions/VPCOptions",
          "description": "Property vpcOptions"
        }
      }
    },
    "CognitoOptions": {
      "type": "object",
      "description": "Definition of CognitoOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Property enabled"
        },
        "identityPoolId": {
          "type": "string",
          "description": "Property identityPoolId"
        },
        "roleArn": {
          "type": "string",
          "description": "Property roleArn"
        },
        "userPoolId": {
          "type": "string",
          "description": "Property userPoolId"
        }
      }
    },
    "ColdStorageOptions": {
      "type": "object",
      "description": "Definition of ColdStorageOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Property enabled"
        }
      }
    },
    "DomainEndpointOptions": {
      "type": "object",
      "description": "Definition of DomainEndpointOptions",
      "properties": {
        "customEndpoint": {
          "type": "string",
          "description": "Property customEndpoint"
        },
        "customEndpointCertificateArn": {
          "type": "string",
          "description": "Property customEndpointCertificateArn"
        },
        "customEndpointEnabled": {
          "type": "boolean",
          "description": "Property customEndpointEnabled"
        },
        "enforceHTTPS": {
          "type": "boolean",
          "description": "Property enforceHTTPS"
        },
        "tlsSecurityPolicy": {
          "type": "string",
          "description": "Property tlsSecurityPolicy"
        }
      }
    },
    "EBSOptions": {
      "type": "object",
      "description": "Definition of EBSOptions",
      "properties": {
        "ebsEnabled": {
          "type": "boolean",
          "description": "Property ebsEnabled"
        },
        "iops": {
          "type": "integer",
          "format": "int32",
          "description": "Property iops"
        },
        "volumeSize": {
          "type": "integer",
          "format": "int32",
          "description": "Property volumeSize"
        },
        "volumeType": {
          "type": "string",
          "description": "Property volumeType"
        }
      }
    },
    "ElasticsearchClusterConfig": {
      "type": "object",
      "description": "Definition of ElasticsearchClusterConfig",
      "properties": {
        "coldStorageOptions": {
          "$ref": "#/definitions/ColdStorageOptions",
          "description": "Property coldStorageOptions"
        },
        "dedicatedMasterCount": {
          "type": "integer",
          "format": "int32",
          "description": "Property dedicatedMasterCount"
        },
        "dedicatedMasterEnabled": {
          "type": "boolean",
          "description": "Property dedicatedMasterEnabled"
        },
        "dedicatedMasterType": {
          "type": "string",
          "description": "Property dedicatedMasterType"
        },
        "instanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Property instanceCount"
        },
        "instanceType": {
          "type": "string",
          "description": "Property instanceType"
        },
        "warmCount": {
          "type": "integer",
          "format": "int32",
          "description": "Property warmCount"
        },
        "warmEnabled": {
          "type": "boolean",
          "description": "Property warmEnabled"
        },
        "warmType": {
          "type": "string",
          "description": "Property warmType"
        },
        "zoneAwarenessConfig": {
          "$ref": "#/definitions/ZoneAwarenessConfig",
          "description": "Property zoneAwarenessConfig"
        },
        "zoneAwarenessEnabled": {
          "type": "boolean",
          "description": "Property zoneAwarenessEnabled"
        }
      }
    },
    "ElasticsearchDomain": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticsearchDomainProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ElasticsearchDomainListResult": {
      "type": "object",
      "description": "The response of a ElasticsearchDomain list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ElasticsearchDomain items on this page",
          "items": {
            "$ref": "#/definitions/ElasticsearchDomain"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ElasticsearchDomainProperties": {
      "type": "object",
      "description": "Definition of ElasticsearchDomain",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsElasticsearchDomainProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ElasticsearchDomainTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in ElasticsearchDomain resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "EncryptionAtRestOptions": {
      "type": "object",
      "description": "Definition of EncryptionAtRestOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Property enabled"
        },
        "kmsKeyId": {
          "type": "string",
          "description": "Property kmsKeyId"
        }
      }
    },
    "LogPublishingOption": {
      "type": "object",
      "description": "Definition of LogPublishingOption",
      "properties": {
        "cloudWatchLogsLogGroupArn": {
          "type": "string",
          "description": "Property cloudWatchLogsLogGroupArn"
        },
        "enabled": {
          "type": "boolean",
          "description": "Property enabled"
        }
      }
    },
    "MasterUserOptions": {
      "type": "object",
      "description": "Definition of MasterUserOptions",
      "properties": {
        "masterUserARN": {
          "type": "string",
          "description": "Property masterUserARN"
        },
        "masterUserName": {
          "type": "string",
          "description": "Property masterUserName"
        },
        "masterUserPassword": {
          "type": "string",
          "description": "Property masterUserPassword"
        }
      }
    },
    "NodeToNodeEncryptionOptions": {
      "type": "object",
      "description": "Definition of NodeToNodeEncryptionOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Property enabled"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "SnapshotOptions": {
      "type": "object",
      "description": "Definition of SnapshotOptions",
      "properties": {
        "automatedSnapshotStartHour": {
          "type": "integer",
          "format": "int32",
          "description": "Property automatedSnapshotStartHour"
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    },
    "VPCOptions": {
      "type": "object",
      "description": "Definition of VPCOptions",
      "properties": {
        "securityGroupIds": {
          "type": "array",
          "description": "Property securityGroupIds",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "subnetIds": {
          "type": "array",
          "description": "Property subnetIds",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ZoneAwarenessConfig": {
      "type": "object",
      "description": "Definition of ZoneAwarenessConfig",
      "properties": {
        "availabilityZoneCount": {
          "type": "integer",
          "format": "int32",
          "description": "Property availabilityZoneCount"
        }
      }
    }
  },
  "parameters": {}
}
