{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ElasticLoadBalancingV2ListenerRules"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2ListenerRules": {
      "get": {
        "operationId": "ElasticLoadBalancingV2ListenerRules_ListBySubscription",
        "tags": [
          "ElasticLoadBalancingV2ListenerRules"
        ],
        "description": "List ElasticLoadBalancingV2ListenerRule resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingV2ListenerRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingV2ListenerRules_ListBySubscription": {
            "$ref": "./examples/ElasticLoadBalancingV2ListenerRules_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2ListenerRules": {
      "get": {
        "operationId": "ElasticLoadBalancingV2ListenerRules_ListByResourceGroup",
        "tags": [
          "ElasticLoadBalancingV2ListenerRules"
        ],
        "description": "List ElasticLoadBalancingV2ListenerRule resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingV2ListenerRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingV2ListenerRules_ListByResourceGroup": {
            "$ref": "./examples/ElasticLoadBalancingV2ListenerRules_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2ListenerRules/{name}": {
      "get": {
        "operationId": "ElasticLoadBalancingV2ListenerRules_Get",
        "tags": [
          "ElasticLoadBalancingV2ListenerRules"
        ],
        "description": "Get a ElasticLoadBalancingV2ListenerRule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticLoadBalancingV2ListenerRule",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingV2ListenerRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingV2ListenerRules_Get": {
            "$ref": "./examples/ElasticLoadBalancingV2ListenerRules_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ElasticLoadBalancingV2ListenerRules_CreateOrUpdate",
        "tags": [
          "ElasticLoadBalancingV2ListenerRules"
        ],
        "description": "Create a ElasticLoadBalancingV2ListenerRule. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticLoadBalancingV2ListenerRule",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingV2ListenerRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ElasticLoadBalancingV2ListenerRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingV2ListenerRule"
            }
          },
          "201": {
            "description": "Resource 'ElasticLoadBalancingV2ListenerRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingV2ListenerRule"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingV2ListenerRules_CreateOrUpdate": {
            "$ref": "./examples/ElasticLoadBalancingV2ListenerRules_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ElasticLoadBalancingV2ListenerRules_Update",
        "tags": [
          "ElasticLoadBalancingV2ListenerRules"
        ],
        "description": "Update a ElasticLoadBalancingV2ListenerRule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticLoadBalancingV2ListenerRule",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingV2ListenerRuleTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingV2ListenerRule"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingV2ListenerRules_Update": {
            "$ref": "./examples/ElasticLoadBalancingV2ListenerRules_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ElasticLoadBalancingV2ListenerRules_Delete",
        "tags": [
          "ElasticLoadBalancingV2ListenerRules"
        ],
        "description": "Delete a ElasticLoadBalancingV2ListenerRule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticLoadBalancingV2ListenerRule",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingV2ListenerRules_Delete": {
            "$ref": "./examples/ElasticLoadBalancingV2ListenerRules_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Action": {
      "type": "object",
      "description": "Definition of Action",
      "properties": {
        "authenticateCognitoConfig": {
          "$ref": "#/definitions/AuthenticateCognitoConfig",
          "description": "Gets and sets the property authenticateCognitoConfig."
        },
        "authenticateOidcConfig": {
          "$ref": "#/definitions/AuthenticateOidcConfig",
          "description": "Gets and sets the property authenticateOidcConfig."
        },
        "fixedResponseConfig": {
          "$ref": "#/definitions/FixedResponseConfig",
          "description": "Gets and sets the property fixedResponseConfig."
        },
        "forwardConfig": {
          "$ref": "#/definitions/ForwardConfig",
          "description": "Gets and sets the property forwardConfig."
        },
        "order": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property order."
        },
        "redirectConfig": {
          "$ref": "#/definitions/RedirectConfig",
          "description": "Gets and sets the property redirectConfig."
        },
        "targetGroupArn": {
          "type": "string",
          "description": "Gets and sets the property targetGroupArn."
        },
        "type": {
          "type": "string",
          "description": "Gets and sets the property type."
        }
      }
    },
    "AuthenticateCognitoConfig": {
      "type": "object",
      "description": "Definition of AuthenticateCognitoConfig",
      "properties": {
        "authenticationRequestExtraParams": {
          "type": "object",
          "description": "Gets and sets the property authenticationRequestExtraParams.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "onUnauthenticatedRequest": {
          "type": "string",
          "description": "Gets and sets the property onUnauthenticatedRequest."
        },
        "scope": {
          "type": "string",
          "description": "Gets and sets the property scope."
        },
        "sessionCookieName": {
          "type": "string",
          "description": "Gets and sets the property sessionCookieName."
        },
        "sessionTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property sessionTimeout."
        },
        "userPoolArn": {
          "type": "string",
          "description": "Gets and sets the property userPoolArn."
        },
        "userPoolClientId": {
          "type": "string",
          "description": "Gets and sets the property userPoolClientId."
        },
        "userPoolDomain": {
          "type": "string",
          "description": "Gets and sets the property userPoolDomain."
        }
      }
    },
    "AuthenticateOidcConfig": {
      "type": "object",
      "description": "Definition of AuthenticateOidcConfig",
      "properties": {
        "authenticationRequestExtraParams": {
          "type": "object",
          "description": "Gets and sets the property authenticationRequestExtraParams.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "authorizationEndpoint": {
          "type": "string",
          "description": "Gets and sets the property authorizationEndpoint."
        },
        "clientId": {
          "type": "string",
          "description": "Gets and sets the property clientId."
        },
        "clientSecret": {
          "type": "string",
          "description": "Gets and sets the property clientSecret."
        },
        "issuer": {
          "type": "string",
          "description": "Gets and sets the property issuer."
        },
        "onUnauthenticatedRequest": {
          "type": "string",
          "description": "Gets and sets the property onUnauthenticatedRequest."
        },
        "scope": {
          "type": "string",
          "description": "Gets and sets the property scope."
        },
        "sessionCookieName": {
          "type": "string",
          "description": "Gets and sets the property sessionCookieName."
        },
        "sessionTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property sessionTimeout."
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "Gets and sets the property tokenEndpoint."
        },
        "useExistingClientSecret": {
          "type": "boolean",
          "description": "Gets and sets the property useExistingClientSecret."
        },
        "userInfoEndpoint": {
          "type": "string",
          "description": "Gets and sets the property userInfoEndpoint."
        }
      }
    },
    "AwsElasticLoadBalancingV2ListenerRuleProperties": {
      "type": "object",
      "description": "Definition of awsElasticLoadBalancingV2ListenerRule",
      "properties": {
        "actions": {
          "type": "array",
          "description": "Gets and sets the property actions.",
          "items": {
            "$ref": "#/definitions/Action"
          },
          "x-ms-identifiers": []
        },
        "conditions": {
          "type": "array",
          "description": "Gets and sets the property conditions.",
          "items": {
            "$ref": "#/definitions/RuleCondition"
          },
          "x-ms-identifiers": []
        },
        "isDefault": {
          "type": "boolean",
          "description": "Gets and sets the property isDefault."
        },
        "listenerArn": {
          "type": "string",
          "description": "Gets and sets the property listenerArn."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property priority."
        },
        "ruleArn": {
          "type": "string",
          "description": "Gets and sets the property ruleArn."
        }
      }
    },
    "ElasticLoadBalancingV2ListenerRule": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticLoadBalancingV2ListenerRuleProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ElasticLoadBalancingV2ListenerRuleListResult": {
      "type": "object",
      "description": "The response of a ElasticLoadBalancingV2ListenerRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ElasticLoadBalancingV2ListenerRule items on this page",
          "items": {
            "$ref": "#/definitions/ElasticLoadBalancingV2ListenerRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ElasticLoadBalancingV2ListenerRuleProperties": {
      "type": "object",
      "description": "Definition of ElasticLoadBalancingV2ListenerRule",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsElasticLoadBalancingV2ListenerRuleProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ElasticLoadBalancingV2ListenerRuleTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in ElasticLoadBalancingV2ListenerRule resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FixedResponseConfig": {
      "type": "object",
      "description": "Definition of FixedResponseConfig",
      "properties": {
        "contentType": {
          "type": "string",
          "description": "Gets and sets the property contentType."
        },
        "messageBody": {
          "type": "string",
          "description": "Gets and sets the property messageBody."
        },
        "statusCode": {
          "type": "string",
          "description": "Gets and sets the property statusCode."
        }
      }
    },
    "ForwardConfig": {
      "type": "object",
      "description": "Definition of ForwardConfig",
      "properties": {
        "targetGroupStickinessConfig": {
          "$ref": "#/definitions/TargetGroupStickinessConfig",
          "description": "Gets and sets the property targetGroupStickinessConfig."
        },
        "targetGroups": {
          "type": "array",
          "description": "Gets and sets the property targetGroups.",
          "items": {
            "$ref": "#/definitions/TargetGroupTuple"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "HostHeaderConfig": {
      "type": "object",
      "description": "Definition of HostHeaderConfig",
      "properties": {
        "values": {
          "type": "array",
          "description": "Gets and sets the property values.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "HttpHeaderConfig": {
      "type": "object",
      "description": "Definition of HttpHeaderConfig",
      "properties": {
        "httpHeaderName": {
          "type": "string",
          "description": "Gets and sets the property httpHeaderName."
        },
        "values": {
          "type": "array",
          "description": "Gets and sets the property values.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "HttpRequestMethodConfig": {
      "type": "object",
      "description": "Definition of HttpRequestMethodConfig",
      "properties": {
        "values": {
          "type": "array",
          "description": "Gets and sets the property values.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PathPatternConfig": {
      "type": "object",
      "description": "Definition of PathPatternConfig",
      "properties": {
        "values": {
          "type": "array",
          "description": "Gets and sets the property values.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "QueryStringConfig": {
      "type": "object",
      "description": "Definition of QueryStringConfig",
      "properties": {
        "values": {
          "type": "array",
          "description": "Gets and sets the property values.",
          "items": {
            "$ref": "#/definitions/QueryStringKeyValue"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "QueryStringKeyValue": {
      "type": "object",
      "description": "Definition of QueryStringKeyValue",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "RedirectConfig": {
      "type": "object",
      "description": "Definition of RedirectConfig",
      "properties": {
        "host": {
          "type": "string",
          "description": "Gets and sets the property host."
        },
        "path": {
          "type": "string",
          "description": "Gets and sets the property path."
        },
        "port": {
          "type": "string",
          "description": "Gets and sets the property port."
        },
        "protocol": {
          "type": "string",
          "description": "Gets and sets the property protocol."
        },
        "query": {
          "type": "string",
          "description": "Gets and sets the property query."
        },
        "statusCode": {
          "type": "string",
          "description": "Gets and sets the property statusCode."
        }
      }
    },
    "RuleCondition": {
      "type": "object",
      "description": "Definition of RuleCondition",
      "properties": {
        "field": {
          "type": "string",
          "description": "Gets and sets the property field."
        },
        "hostHeaderConfig": {
          "$ref": "#/definitions/HostHeaderConfig",
          "description": "Gets and sets the property hostHeaderConfig."
        },
        "httpHeaderConfig": {
          "$ref": "#/definitions/HttpHeaderConfig",
          "description": "Gets and sets the property httpHeaderConfig."
        },
        "httpRequestMethodConfig": {
          "$ref": "#/definitions/HttpRequestMethodConfig",
          "description": "Gets and sets the property httpRequestMethodConfig."
        },
        "pathPatternConfig": {
          "$ref": "#/definitions/PathPatternConfig",
          "description": "Gets and sets the property pathPatternConfig."
        },
        "queryStringConfig": {
          "$ref": "#/definitions/QueryStringConfig",
          "description": "Gets and sets the property queryStringConfig."
        },
        "sourceIpConfig": {
          "$ref": "#/definitions/SourceIpConfig",
          "description": "Gets and sets the property sourceIpConfig."
        },
        "values": {
          "type": "array",
          "description": "Gets and sets the property values.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SourceIpConfig": {
      "type": "object",
      "description": "Definition of SourceIpConfig",
      "properties": {
        "values": {
          "type": "array",
          "description": "Gets and sets the property values.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "TargetGroupStickinessConfig": {
      "type": "object",
      "description": "Definition of TargetGroupStickinessConfig",
      "properties": {
        "durationSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property durationSeconds."
        },
        "enabled": {
          "type": "boolean",
          "description": "Gets and sets the property enabled."
        }
      }
    },
    "TargetGroupTuple": {
      "type": "object",
      "description": "Definition of TargetGroupTuple",
      "properties": {
        "targetGroupArn": {
          "type": "string",
          "description": "Gets and sets the property targetGroupArn."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property weight."
        }
      }
    }
  },
  "parameters": {}
}
