{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "LambdaFunctions"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/lambdaFunctions": {
      "get": {
        "operationId": "LambdaFunctions_ListBySubscription",
        "tags": [
          "LambdaFunctions"
        ],
        "description": "List LambdaFunction resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LambdaFunctionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LambdaFunctions_ListBySubscription": {
            "$ref": "./examples/LambdaFunctions_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/lambdaFunctions": {
      "get": {
        "operationId": "LambdaFunctions_ListByResourceGroup",
        "tags": [
          "LambdaFunctions"
        ],
        "description": "List LambdaFunction resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LambdaFunctionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LambdaFunctions_ListByResourceGroup": {
            "$ref": "./examples/LambdaFunctions_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/lambdaFunctions/{name}": {
      "get": {
        "operationId": "LambdaFunctions_Get",
        "tags": [
          "LambdaFunctions"
        ],
        "description": "Get a LambdaFunction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LambdaFunction",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LambdaFunction"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LambdaFunctions_Get": {
            "$ref": "./examples/LambdaFunctions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LambdaFunctions_CreateOrUpdate",
        "tags": [
          "LambdaFunctions"
        ],
        "description": "Create a LambdaFunction. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LambdaFunction",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LambdaFunction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LambdaFunction' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LambdaFunction"
            }
          },
          "201": {
            "description": "Resource 'LambdaFunction' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LambdaFunction"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LambdaFunctions_CreateOrUpdate": {
            "$ref": "./examples/LambdaFunctions_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LambdaFunctions_Update",
        "tags": [
          "LambdaFunctions"
        ],
        "description": "Update a LambdaFunction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LambdaFunction",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LambdaFunctionTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LambdaFunction"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LambdaFunctions_Update": {
            "$ref": "./examples/LambdaFunctions_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LambdaFunctions_Delete",
        "tags": [
          "LambdaFunctions"
        ],
        "description": "Delete a LambdaFunction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LambdaFunction",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LambdaFunctions_Delete": {
            "$ref": "./examples/LambdaFunctions_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Architectures": {
      "type": "string",
      "description": "Architectures enum",
      "enum": [
        "arm64",
        "x86_64"
      ],
      "x-ms-enum": {
        "name": "Architectures",
        "modelAsString": true,
        "values": [
          {
            "name": "arm64",
            "value": "arm64",
            "description": "Architectures enum arm64"
          },
          {
            "name": "x86_64",
            "value": "x86_64",
            "description": "Architectures enum x86_64"
          }
        ]
      }
    },
    "AwsLambdaFunctionProperties": {
      "type": "object",
      "description": "Definition of awsLambdaFunction",
      "properties": {
        "architectures": {
          "type": "array",
          "description": "Gets and sets the property architectures.",
          "items": {
            "$ref": "#/definitions/Architectures"
          },
          "x-ms-identifiers": []
        },
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn. Unique identifier for function resources"
        },
        "code": {
          "$ref": "#/definitions/Code",
          "description": "Gets and sets the property code. The code for the function."
        },
        "codeSigningConfigArn": {
          "type": "string",
          "description": "Gets and sets the property codeSigningConfigArn. A unique Arn for CodeSigningConfig resource"
        },
        "deadLetterConfig": {
          "$ref": "#/definitions/DeadLetterConfig",
          "description": "Gets and sets the property deadLetterConfig. A dead letter queue configuration that specifies the queue or topic where Lambda sends asynchronous events when they fail processing. The dead-letter queue for failed asynchronous invocations."
        },
        "description": {
          "type": "string",
          "description": "Gets and sets the property description. A description of the function."
        },
        "environment": {
          "$ref": "#/definitions/Environment",
          "description": "Gets and sets the property environment. Environment variables that are accessible from function code during execution. A function's environment variable settings."
        },
        "ephemeralStorage": {
          "$ref": "#/definitions/EphemeralStorage",
          "description": "Gets and sets the property ephemeralStorage. A function's ephemeral storage settings. A function's ephemeral storage settings."
        },
        "fileSystemConfigs": {
          "type": "array",
          "description": "Gets and sets the property fileSystemConfigs. Connection settings for an Amazon EFS file system. To connect a function to a file system, a mount target must be available in every Availability Zone that your function connects to. If your template contains an AWS::EFS::MountTarget resource, you must also specify a DependsOn attribute to ensure that the mount target is created or updated before the function.",
          "items": {
            "$ref": "#/definitions/FileSystemConfig"
          },
          "x-ms-identifiers": []
        },
        "functionName": {
          "type": "string",
          "description": "Gets and sets the property functionName. The name of the Lambda function, up to 64 characters in length. If you don't specify a name, AWS CloudFormation generates one."
        },
        "handler": {
          "type": "string",
          "description": "Gets and sets the property handler. The name of the method within your code that Lambda calls to execute your function. The format includes the file name. It can also include namespaces and other qualifiers, depending on the runtime"
        },
        "imageConfig": {
          "$ref": "#/definitions/ImageConfig",
          "description": "Gets and sets the property imageConfig. ImageConfig"
        },
        "kmsKeyArn": {
          "type": "string",
          "description": "Gets and sets the property kmsKeyArn. The ARN of the AWS Key Management Service (AWS KMS) key that's used to encrypt your function's environment variables. If it's not provided, AWS Lambda uses a default service key."
        },
        "layers": {
          "type": "array",
          "description": "Gets and sets the property layers. A list of function layers to add to the function's execution environment. Specify each layer by its ARN, including the version.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "loggingConfig": {
          "$ref": "#/definitions/LoggingConfig",
          "description": "Gets and sets the property loggingConfig. The logging configuration of your function The function's logging configuration."
        },
        "memorySize": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property memorySize. The amount of memory that your function has access to. Increasing the function's memory also increases its CPU allocation. The default value is 128 MB. The value must be a multiple of 64 MB."
        },
        "packageType": {
          "$ref": "#/definitions/PackageType",
          "description": "Gets and sets the property packageType. PackageType."
        },
        "reservedConcurrentExecutions": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property reservedConcurrentExecutions. The number of simultaneous executions to reserve for the function."
        },
        "role": {
          "type": "string",
          "description": "Gets and sets the property role. The Amazon Resource Name (ARN) of the function's execution role."
        },
        "runtime": {
          "type": "string",
          "description": "Gets and sets the property runtime. The identifier of the function's runtime."
        },
        "runtimeManagementConfig": {
          "$ref": "#/definitions/RuntimeManagementConfig",
          "description": "Gets and sets the property runtimeManagementConfig. RuntimeManagementConfig"
        },
        "snapStart": {
          "$ref": "#/definitions/SnapStart",
          "description": "Gets and sets the property snapStart. The SnapStart setting of your function The function's SnapStart setting. When set to PublishedVersions, Lambda creates a snapshot of the execution environment when you publish a function version."
        },
        "snapStartResponse": {
          "$ref": "#/definitions/SnapStartResponse",
          "description": "Gets and sets the property snapStartResponse. The SnapStart response of your function The function's SnapStart Response. When set to PublishedVersions, Lambda creates a snapshot of the execution environment when you publish a function version."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags. A list of tags to apply to the function.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "timeout": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property timeout. The amount of time that Lambda allows a function to run before stopping it. The default is 3 seconds. The maximum allowed value is 900 seconds."
        },
        "tracingConfig": {
          "$ref": "#/definitions/TracingConfig",
          "description": "Gets and sets the property tracingConfig. Set Mode to Active to sample and trace a subset of incoming requests with AWS X-Ray. The function's AWS X-Ray tracing configuration. To sample and record incoming requests, set Mode to Active."
        },
        "vpcConfig": {
          "$ref": "#/definitions/VpcConfig",
          "description": "Gets and sets the property vpcConfig. For network connectivity to AWS resources in a VPC, specify a list of security groups and subnets in the VPC. The VPC security groups and subnets that are attached to a Lambda function. When you connect a function to a VPC, Lambda creates an elastic network interface for each combination of security group and subnet in the function's VPC configuration. The function can only access resources and the internet through that VPC."
        }
      }
    },
    "Code": {
      "type": "object",
      "description": "Definition of Code",
      "properties": {
        "imageUri": {
          "type": "string",
          "description": "Gets and sets the property imageUri. ImageUri."
        },
        "s3Bucket": {
          "type": "string",
          "description": "Gets and sets the property s3Bucket. An Amazon S3 bucket in the same AWS Region as your function. The bucket can be in a different AWS account."
        },
        "s3Key": {
          "type": "string",
          "description": "Gets and sets the property s3Key. The Amazon S3 key of the deployment package."
        },
        "s3ObjectVersion": {
          "type": "string",
          "description": "Gets and sets the property s3ObjectVersion. For versioned objects, the version of the deployment package object to use."
        },
        "zipFile": {
          "type": "string",
          "description": "Gets and sets the property zipFile. The source code of your Lambda function. If you include your function source inline with this parameter, AWS CloudFormation places it in a file named index and zips it to create a deployment package.."
        }
      }
    },
    "DeadLetterConfig": {
      "type": "object",
      "description": "Definition of DeadLetterConfig",
      "properties": {
        "targetArn": {
          "type": "string",
          "description": "Gets and sets the property targetArn. The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic."
        }
      }
    },
    "Environment": {
      "type": "object",
      "description": "Definition of Environment",
      "properties": {
        "variables": {
          "type": "object",
          "description": "Gets and sets the property variables. Environment variable key-value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "EphemeralStorage": {
      "type": "object",
      "description": "Definition of EphemeralStorage",
      "properties": {
        "size": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property size. The amount of ephemeral storage that your function has access to."
        }
      }
    },
    "FileSystemConfig": {
      "type": "object",
      "description": "Definition of FileSystemConfig",
      "properties": {
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn. The Amazon Resource Name (ARN) of the Amazon EFS access point that provides access to the file system."
        },
        "localMountPath": {
          "type": "string",
          "description": "Gets and sets the property localMountPath. The path where the function can access the file system, starting with /mnt/."
        }
      }
    },
    "ImageConfig": {
      "type": "object",
      "description": "Definition of ImageConfig",
      "properties": {
        "command": {
          "type": "array",
          "description": "Gets and sets the property command. Command.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "entryPoint": {
          "type": "array",
          "description": "Gets and sets the property entryPoint. EntryPoint.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "workingDirectory": {
          "type": "string",
          "description": "Gets and sets the property workingDirectory. WorkingDirectory."
        }
      }
    },
    "LambdaFunction": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LambdaFunctionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LambdaFunctionListResult": {
      "type": "object",
      "description": "The response of a LambdaFunction list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LambdaFunction items on this page",
          "items": {
            "$ref": "#/definitions/LambdaFunction"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LambdaFunctionProperties": {
      "type": "object",
      "description": "Definition of LambdaFunction",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsLambdaFunctionProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "LambdaFunctionTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in LambdaFunction resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "LoggingConfig": {
      "type": "object",
      "description": "Definition of LoggingConfig",
      "properties": {
        "applicationLogLevel": {
          "$ref": "#/definitions/LoggingConfigApplicationLogLevel",
          "description": "Gets and sets the property applicationLogLevel. Application log granularity level, can only be used when LogFormat is set to JSON"
        },
        "logFormat": {
          "$ref": "#/definitions/LoggingConfigLogFormat",
          "description": "Gets and sets the property logFormat. Log delivery format for the lambda function"
        },
        "logGroup": {
          "type": "string",
          "description": "Gets and sets the property logGroup. The log group name."
        },
        "systemLogLevel": {
          "$ref": "#/definitions/LoggingConfigSystemLogLevel",
          "description": "Gets and sets the property systemLogLevel. System log granularity level, can only be used when LogFormat is set to JSON"
        }
      }
    },
    "LoggingConfigApplicationLogLevel": {
      "type": "string",
      "description": "LoggingConfigApplicationLogLevel enum",
      "enum": [
        "DEBUG",
        "ERROR",
        "FATAL",
        "INFO",
        "TRACE",
        "WARN"
      ],
      "x-ms-enum": {
        "name": "LoggingConfigApplicationLogLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "DEBUG",
            "value": "DEBUG",
            "description": "LoggingConfigApplicationLogLevel enum DEBUG"
          },
          {
            "name": "ERROR",
            "value": "ERROR",
            "description": "LoggingConfigApplicationLogLevel enum ERROR"
          },
          {
            "name": "FATAL",
            "value": "FATAL",
            "description": "LoggingConfigApplicationLogLevel enum FATAL"
          },
          {
            "name": "INFO",
            "value": "INFO",
            "description": "LoggingConfigApplicationLogLevel enum INFO"
          },
          {
            "name": "TRACE",
            "value": "TRACE",
            "description": "LoggingConfigApplicationLogLevel enum TRACE"
          },
          {
            "name": "WARN",
            "value": "WARN",
            "description": "LoggingConfigApplicationLogLevel enum WARN"
          }
        ]
      }
    },
    "LoggingConfigLogFormat": {
      "type": "string",
      "description": "LoggingConfigLogFormat enum",
      "enum": [
        "JSON",
        "Text"
      ],
      "x-ms-enum": {
        "name": "LoggingConfigLogFormat",
        "modelAsString": true,
        "values": [
          {
            "name": "JSON",
            "value": "JSON",
            "description": "LoggingConfigLogFormat enum JSON"
          },
          {
            "name": "Text",
            "value": "Text",
            "description": "LoggingConfigLogFormat enum Text"
          }
        ]
      }
    },
    "LoggingConfigSystemLogLevel": {
      "type": "string",
      "description": "LoggingConfigSystemLogLevel enum",
      "enum": [
        "DEBUG",
        "INFO",
        "WARN"
      ],
      "x-ms-enum": {
        "name": "LoggingConfigSystemLogLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "DEBUG",
            "value": "DEBUG",
            "description": "LoggingConfigSystemLogLevel enum DEBUG"
          },
          {
            "name": "INFO",
            "value": "INFO",
            "description": "LoggingConfigSystemLogLevel enum INFO"
          },
          {
            "name": "WARN",
            "value": "WARN",
            "description": "LoggingConfigSystemLogLevel enum WARN"
          }
        ]
      }
    },
    "PackageType": {
      "type": "string",
      "description": "PackageType enum",
      "enum": [
        "Image",
        "Zip"
      ],
      "x-ms-enum": {
        "name": "PackageType",
        "modelAsString": true,
        "values": [
          {
            "name": "Image",
            "value": "Image",
            "description": "PackageType enum Image"
          },
          {
            "name": "Zip",
            "value": "Zip",
            "description": "PackageType enum Zip"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "RuntimeManagementConfig": {
      "type": "object",
      "description": "Definition of RuntimeManagementConfig",
      "properties": {
        "runtimeVersionArn": {
          "type": "string",
          "description": "Gets and sets the property runtimeVersionArn. Unique identifier for a runtime version arn"
        },
        "updateRuntimeOn": {
          "$ref": "#/definitions/RuntimeManagementConfigUpdateRuntimeOn",
          "description": "Gets and sets the property updateRuntimeOn. Trigger for runtime update"
        }
      }
    },
    "RuntimeManagementConfigUpdateRuntimeOn": {
      "type": "string",
      "description": "RuntimeManagementConfigUpdateRuntimeOn enum",
      "enum": [
        "Auto",
        "FunctionUpdate",
        "Manual"
      ],
      "x-ms-enum": {
        "name": "RuntimeManagementConfigUpdateRuntimeOn",
        "modelAsString": true,
        "values": [
          {
            "name": "Auto",
            "value": "Auto",
            "description": "RuntimeManagementConfigUpdateRuntimeOn enum Auto"
          },
          {
            "name": "FunctionUpdate",
            "value": "FunctionUpdate",
            "description": "RuntimeManagementConfigUpdateRuntimeOn enum FunctionUpdate"
          },
          {
            "name": "Manual",
            "value": "Manual",
            "description": "RuntimeManagementConfigUpdateRuntimeOn enum Manual"
          }
        ]
      }
    },
    "SnapStart": {
      "type": "object",
      "description": "Definition of SnapStart",
      "properties": {
        "applyOn": {
          "$ref": "#/definitions/SnapStartApplyOn",
          "description": "Gets and sets the property applyOn. Applying SnapStart setting on function resource type."
        }
      }
    },
    "SnapStartApplyOn": {
      "type": "string",
      "description": "SnapStartApplyOn enum",
      "enum": [
        "None",
        "PublishedVersions"
      ],
      "x-ms-enum": {
        "name": "SnapStartApplyOn",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "SnapStartApplyOn enum None"
          },
          {
            "name": "PublishedVersions",
            "value": "PublishedVersions",
            "description": "SnapStartApplyOn enum PublishedVersions"
          }
        ]
      }
    },
    "SnapStartResponse": {
      "type": "object",
      "description": "Definition of SnapStartResponse",
      "properties": {
        "applyOn": {
          "$ref": "#/definitions/SnapStartResponseApplyOn",
          "description": "Gets and sets the property applyOn. Applying SnapStart setting on function resource type."
        },
        "optimizationStatus": {
          "$ref": "#/definitions/SnapStartResponseOptimizationStatus",
          "description": "Gets and sets the property optimizationStatus. Indicates whether SnapStart is activated for the specified function version."
        }
      }
    },
    "SnapStartResponseApplyOn": {
      "type": "string",
      "description": "SnapStartResponseApplyOn enum",
      "enum": [
        "None",
        "PublishedVersions"
      ],
      "x-ms-enum": {
        "name": "SnapStartResponseApplyOn",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "SnapStartResponseApplyOn enum None"
          },
          {
            "name": "PublishedVersions",
            "value": "PublishedVersions",
            "description": "SnapStartResponseApplyOn enum PublishedVersions"
          }
        ]
      }
    },
    "SnapStartResponseOptimizationStatus": {
      "type": "string",
      "description": "SnapStartResponseOptimizationStatus enum",
      "enum": [
        "Off",
        "On"
      ],
      "x-ms-enum": {
        "name": "SnapStartResponseOptimizationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Off",
            "value": "Off",
            "description": "SnapStartResponseOptimizationStatus enum Off"
          },
          {
            "name": "On",
            "value": "On",
            "description": "SnapStartResponseOptimizationStatus enum On"
          }
        ]
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key. The key name of the tag. You can specify a value that is 1 to 128 Unicode characters in length and cannot be prefixed with aws:. You can use any of the following characters: the set of Unicode letters, digits, whitespace, _, ., /, =, +, and -."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value. The value for the tag. You can specify a value that is 0 to 256 Unicode characters in length and cannot be prefixed with aws:. You can use any of the following characters: the set of Unicode letters, digits, whitespace, _, ., /, =, +, and -."
        }
      }
    },
    "TracingConfig": {
      "type": "object",
      "description": "Definition of TracingConfig",
      "properties": {
        "mode": {
          "$ref": "#/definitions/TracingConfigMode",
          "description": "Gets and sets the property mode. The tracing mode."
        }
      }
    },
    "TracingConfigMode": {
      "type": "string",
      "description": "TracingConfigMode enum",
      "enum": [
        "Active",
        "PassThrough"
      ],
      "x-ms-enum": {
        "name": "TracingConfigMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "TracingConfigMode enum Active"
          },
          {
            "name": "PassThrough",
            "value": "PassThrough",
            "description": "TracingConfigMode enum PassThrough"
          }
        ]
      }
    },
    "VpcConfig": {
      "type": "object",
      "description": "Definition of VpcConfig",
      "properties": {
        "ipv6AllowedForDualStack": {
          "type": "boolean",
          "description": "Gets and sets the property ipv6AllowedForDualStack. A boolean indicating whether IPv6 protocols will be allowed for dual stack subnets"
        },
        "securityGroupIds": {
          "type": "array",
          "description": "Gets and sets the property securityGroupIds. A list of VPC security groups IDs.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "subnetIds": {
          "type": "array",
          "description": "Gets and sets the property subnetIds. A list of VPC subnet IDs.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    }
  },
  "parameters": {}
}
