{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "LightsailInstances"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/lightsailInstances": {
      "get": {
        "operationId": "LightsailInstances_ListBySubscription",
        "tags": [
          "LightsailInstances"
        ],
        "description": "List LightsailInstance resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LightsailInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LightsailInstances_ListBySubscription": {
            "$ref": "./examples/LightsailInstances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/lightsailInstances": {
      "get": {
        "operationId": "LightsailInstances_ListByResourceGroup",
        "tags": [
          "LightsailInstances"
        ],
        "description": "List LightsailInstance resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LightsailInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LightsailInstances_ListByResourceGroup": {
            "$ref": "./examples/LightsailInstances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/lightsailInstances/{name}": {
      "get": {
        "operationId": "LightsailInstances_Get",
        "tags": [
          "LightsailInstances"
        ],
        "description": "Get a LightsailInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LightsailInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LightsailInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LightsailInstances_Get": {
            "$ref": "./examples/LightsailInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LightsailInstances_CreateOrUpdate",
        "tags": [
          "LightsailInstances"
        ],
        "description": "Create a LightsailInstance. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LightsailInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LightsailInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LightsailInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LightsailInstance"
            }
          },
          "201": {
            "description": "Resource 'LightsailInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LightsailInstance"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LightsailInstances_CreateOrUpdate": {
            "$ref": "./examples/LightsailInstances_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LightsailInstances_Update",
        "tags": [
          "LightsailInstances"
        ],
        "description": "Update a LightsailInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LightsailInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LightsailInstanceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LightsailInstance"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LightsailInstances_Update": {
            "$ref": "./examples/LightsailInstances_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LightsailInstances_Delete",
        "tags": [
          "LightsailInstances"
        ],
        "description": "Delete a LightsailInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LightsailInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LightsailInstances_Delete": {
            "$ref": "./examples/LightsailInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AddOn": {
      "type": "object",
      "description": "Definition of AddOn",
      "properties": {
        "addOnType": {
          "type": "string",
          "description": "Gets and sets the property addOnType. The add-on type"
        },
        "autoSnapshotAddOnRequest": {
          "$ref": "#/definitions/AutoSnapshotAddOn",
          "description": "Gets and sets the property autoSnapshotAddOnRequest. An object that represents additional parameters when enabling or modifying the automatic snapshot add-on"
        },
        "status": {
          "$ref": "#/definitions/AddOnStatus",
          "description": "Gets and sets the property status. Status of the Addon"
        }
      }
    },
    "AddOnStatus": {
      "type": "string",
      "description": "AddOnStatus enum",
      "enum": [
        "Disabled",
        "Disabling",
        "Enabled",
        "Enabling",
        "Failed",
        "Terminated",
        "Terminating"
      ],
      "x-ms-enum": {
        "name": "AddOnStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "AddOnStatus enum Disabled"
          },
          {
            "name": "Disabling",
            "value": "Disabling",
            "description": "AddOnStatus enum Disabling"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "AddOnStatus enum Enabled"
          },
          {
            "name": "Enabling",
            "value": "Enabling",
            "description": "AddOnStatus enum Enabling"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "AddOnStatus enum Failed"
          },
          {
            "name": "Terminated",
            "value": "Terminated",
            "description": "AddOnStatus enum Terminated"
          },
          {
            "name": "Terminating",
            "value": "Terminating",
            "description": "AddOnStatus enum Terminating"
          }
        ]
      }
    },
    "AutoSnapshotAddOn": {
      "type": "object",
      "description": "Definition of AutoSnapshotAddOn",
      "properties": {
        "snapshotTimeOfDay": {
          "type": "string",
          "description": "Gets and sets the property snapshotTimeOfDay. The daily time when an automatic snapshot will be created."
        }
      }
    },
    "AwsLightsailInstanceProperties": {
      "type": "object",
      "description": "Definition of awsLightsailInstance",
      "properties": {
        "addOns": {
          "type": "array",
          "description": "Gets and sets the property addOns. An array of objects representing the add-ons to enable for the new instance.",
          "items": {
            "$ref": "#/definitions/AddOn"
          },
          "x-ms-identifiers": []
        },
        "availabilityZone": {
          "type": "string",
          "description": "Gets and sets the property availabilityZone. The Availability Zone in which to create your instance. Use the following format: us-east-2a (case sensitive). Be sure to add the include Availability Zones parameter to your request."
        },
        "blueprintId": {
          "type": "string",
          "description": "Gets and sets the property blueprintId. The ID for a virtual private server image (e.g., app_wordpress_4_4 or app_lamp_7_0 ). Use the get blueprints operation to return a list of available images (or blueprints )."
        },
        "bundleId": {
          "type": "string",
          "description": "Gets and sets the property bundleId. The bundle of specification information for your virtual private server (or instance ), including the pricing plan (e.g., micro_1_0 )."
        },
        "hardware": {
          "$ref": "#/definitions/Hardware",
          "description": "Gets and sets the property hardware. Hardware of the Instance."
        },
        "instanceArn": {
          "type": "string",
          "description": "Gets and sets the property instanceArn."
        },
        "instanceName": {
          "type": "string",
          "description": "Gets and sets the property instanceName. The names to use for your new Lightsail instance."
        },
        "isStaticIp": {
          "type": "boolean",
          "description": "Gets and sets the property isStaticIp. Is the IP Address of the Instance is the static IP"
        },
        "keyPairName": {
          "type": "string",
          "description": "Gets and sets the property keyPairName. The name of your key pair."
        },
        "location": {
          "$ref": "#/definitions/Location",
          "description": "Gets and sets the property location. Location of a resource."
        },
        "networking": {
          "$ref": "#/definitions/Networking",
          "description": "Gets and sets the property networking. Networking of the Instance."
        },
        "privateIpAddress": {
          "type": "string",
          "description": "Gets and sets the property privateIpAddress. Private IP Address of the Instance"
        },
        "publicIpAddress": {
          "type": "string",
          "description": "Gets and sets the property publicIpAddress. Public IP Address of the Instance"
        },
        "resourceType": {
          "type": "string",
          "description": "Gets and sets the property resourceType. Resource type of Lightsail instance."
        },
        "sshKeyName": {
          "type": "string",
          "description": "Gets and sets the property sshKeyName. SSH Key Name of the  Lightsail instance."
        },
        "state": {
          "$ref": "#/definitions/State",
          "description": "Gets and sets the property state. Current State of the Instance."
        },
        "supportCode": {
          "type": "string",
          "description": "Gets and sets the property supportCode. Support code to help identify any issues"
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags. An array of key-value pairs to apply to this resource.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "userData": {
          "type": "string",
          "description": "Gets and sets the property userData. A launch script you can create that configures a server with additional user data. For example, you might want to run apt-get -y update."
        },
        "userName": {
          "type": "string",
          "description": "Gets and sets the property userName. Username of the  Lightsail instance."
        }
      }
    },
    "Disk": {
      "type": "object",
      "description": "Definition of Disk",
      "properties": {
        "attachedTo": {
          "type": "string",
          "description": "Gets and sets the property attachedTo. Instance attached to the disk."
        },
        "attachmentState": {
          "type": "string",
          "description": "Gets and sets the property attachmentState. Attachment state of the disk."
        },
        "diskName": {
          "type": "string",
          "description": "Gets and sets the property diskName. The names to use for your new Lightsail disk."
        },
        "iops": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property iops. IOPS of disk."
        },
        "isSystemDisk": {
          "type": "boolean",
          "description": "Gets and sets the property isSystemDisk. Is the Attached disk is the system disk of the Instance."
        },
        "path": {
          "type": "string",
          "description": "Gets and sets the property path. Path of the disk attached to the instance."
        },
        "sizeInGb": {
          "type": "string",
          "description": "Gets and sets the property sizeInGb. Size of the disk attached to the Instance."
        }
      }
    },
    "Hardware": {
      "type": "object",
      "description": "Definition of Hardware",
      "properties": {
        "cpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property cpuCount. CPU count of the Instance."
        },
        "disks": {
          "type": "array",
          "description": "Gets and sets the property disks. Disks attached to the Instance.",
          "items": {
            "$ref": "#/definitions/Disk"
          },
          "x-ms-identifiers": []
        },
        "ramSizeInGb": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property ramSizeInGb. RAM Size of the Instance."
        }
      }
    },
    "LightsailInstance": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LightsailInstanceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LightsailInstanceListResult": {
      "type": "object",
      "description": "The response of a LightsailInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LightsailInstance items on this page",
          "items": {
            "$ref": "#/definitions/LightsailInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LightsailInstanceProperties": {
      "type": "object",
      "description": "Definition of LightsailInstance",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsLightsailInstanceProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "LightsailInstanceTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in LightsailInstance resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "Definition of Location",
      "properties": {
        "availabilityZone": {
          "type": "string",
          "description": "Gets and sets the property availabilityZone. The Availability Zone in which to create your instance. Use the following format: us-east-2a (case sensitive). Be sure to add the include Availability Zones parameter to your request."
        },
        "regionName": {
          "type": "string",
          "description": "Gets and sets the property regionName. The Region Name in which to create your instance."
        }
      }
    },
    "MonthlyTransfer": {
      "type": "object",
      "description": "Definition of MonthlyTransfer",
      "properties": {
        "gbPerMonthAllocated": {
          "type": "string",
          "description": "Gets and sets the property gbPerMonthAllocated. GbPerMonthAllocated of the Instance."
        }
      }
    },
    "Networking": {
      "type": "object",
      "description": "Definition of Networking",
      "properties": {
        "monthlyTransfer": {
          "$ref": "#/definitions/MonthlyTransfer",
          "description": "Gets and sets the property monthlyTransfer. Monthly Transfer of the Instance."
        },
        "ports": {
          "type": "array",
          "description": "Gets and sets the property ports. Ports to the Instance.",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Port": {
      "type": "object",
      "description": "Definition of Port",
      "properties": {
        "accessDirection": {
          "type": "string",
          "description": "Gets and sets the property accessDirection. Access Direction for Protocol of the Instance(inbound/outbound)."
        },
        "accessFrom": {
          "type": "string",
          "description": "Gets and sets the property accessFrom. Access From Protocol of the Instance."
        },
        "accessType": {
          "type": "string",
          "description": "Gets and sets the property accessType. Access Type Protocol of the Instance."
        },
        "cidrListAliases": {
          "type": "array",
          "description": "Gets and sets the property cidrListAliases. cidr List Aliases",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "cidrs": {
          "type": "array",
          "description": "Gets and sets the property cidrs. cidrs",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "commonName": {
          "type": "string",
          "description": "Gets and sets the property commonName. CommonName for Protocol of the Instance."
        },
        "fromPort": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property fromPort. From Port of the Instance."
        },
        "ipv6Cidrs": {
          "type": "array",
          "description": "Gets and sets the property ipv6Cidrs. IPv6 Cidrs",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "protocol": {
          "type": "string",
          "description": "Gets and sets the property protocol. Port Protocol of the Instance."
        },
        "toPort": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property toPort. To Port of the Instance."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "State": {
      "type": "object",
      "description": "Definition of State",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property code. Status code of the Instance."
        },
        "name": {
          "type": "string",
          "description": "Gets and sets the property name. Status code of the Instance."
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key. The key name of the tag. You can specify a value that is 1 to 128 Unicode characters in length and cannot be prefixed with aws:. You can use any of the following characters: the set of Unicode letters, digits, whitespace, _, ., /, =, +, and -."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value. The value for the tag. You can specify a value that is 0 to 256 Unicode characters in length and cannot be prefixed with aws:. You can use any of the following characters: the set of Unicode letters, digits, whitespace, _, ., /, =, +, and -."
        }
      }
    }
  },
  "parameters": {}
}
