{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkFirewallFirewallPolicies"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/networkFirewallFirewallPolicies": {
      "get": {
        "operationId": "NetworkFirewallFirewallPolicies_ListBySubscription",
        "tags": [
          "NetworkFirewallFirewallPolicies"
        ],
        "description": "List NetworkFirewallFirewallPolicy resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkFirewallFirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkFirewallFirewallPolicies_ListBySubscription": {
            "$ref": "./examples/NetworkFirewallFirewallPolicies_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/networkFirewallFirewallPolicies": {
      "get": {
        "operationId": "NetworkFirewallFirewallPolicies_ListByResourceGroup",
        "tags": [
          "NetworkFirewallFirewallPolicies"
        ],
        "description": "List NetworkFirewallFirewallPolicy resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkFirewallFirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkFirewallFirewallPolicies_ListByResourceGroup": {
            "$ref": "./examples/NetworkFirewallFirewallPolicies_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/networkFirewallFirewallPolicies/{name}": {
      "get": {
        "operationId": "NetworkFirewallFirewallPolicies_Get",
        "tags": [
          "NetworkFirewallFirewallPolicies"
        ],
        "description": "Get a NetworkFirewallFirewallPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of NetworkFirewallFirewallPolicy",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkFirewallFirewallPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkFirewallFirewallPolicies_Get": {
            "$ref": "./examples/NetworkFirewallFirewallPolicies_Get.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkFirewallFirewallPolicies_CreateOrUpdate",
        "tags": [
          "NetworkFirewallFirewallPolicies"
        ],
        "description": "Create a NetworkFirewallFirewallPolicy. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of NetworkFirewallFirewallPolicy",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkFirewallFirewallPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkFirewallFirewallPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkFirewallFirewallPolicy"
            }
          },
          "201": {
            "description": "Resource 'NetworkFirewallFirewallPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkFirewallFirewallPolicy"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkFirewallFirewallPolicies_CreateOrUpdate": {
            "$ref": "./examples/NetworkFirewallFirewallPolicies_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "NetworkFirewallFirewallPolicies_Update",
        "tags": [
          "NetworkFirewallFirewallPolicies"
        ],
        "description": "Update a NetworkFirewallFirewallPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of NetworkFirewallFirewallPolicy",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkFirewallFirewallPolicyTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkFirewallFirewallPolicy"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkFirewallFirewallPolicies_Update": {
            "$ref": "./examples/NetworkFirewallFirewallPolicies_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "NetworkFirewallFirewallPolicies_Delete",
        "tags": [
          "NetworkFirewallFirewallPolicies"
        ],
        "description": "Delete a NetworkFirewallFirewallPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of NetworkFirewallFirewallPolicy",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkFirewallFirewallPolicies_Delete": {
            "$ref": "./examples/NetworkFirewallFirewallPolicies_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ActionDefinition": {
      "type": "object",
      "description": "Definition of ActionDefinition",
      "properties": {
        "publishMetricAction": {
          "$ref": "#/definitions/PublishMetricAction",
          "description": "Gets and sets the property publishMetricAction."
        }
      }
    },
    "AwsNetworkFirewallFirewallPolicyProperties": {
      "type": "object",
      "description": "Definition of awsNetworkFirewallFirewallPolicy",
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets and sets the property description."
        },
        "firewallPolicy": {
          "$ref": "#/definitions/FirewallPolicy",
          "description": "Gets and sets the property firewallPolicy."
        },
        "firewallPolicyArn": {
          "type": "string",
          "description": "Gets and sets the property firewallPolicyArn. A resource ARN."
        },
        "firewallPolicyId": {
          "type": "string",
          "description": "Gets and sets the property firewallPolicyId."
        },
        "firewallPolicyName": {
          "type": "string",
          "description": "Gets and sets the property firewallPolicyName."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CustomAction": {
      "type": "object",
      "description": "Definition of CustomAction",
      "properties": {
        "actionDefinition": {
          "$ref": "#/definitions/ActionDefinition",
          "description": "Gets and sets the property actionDefinition."
        },
        "actionName": {
          "type": "string",
          "description": "Gets and sets the property actionName."
        }
      }
    },
    "Dimension": {
      "type": "object",
      "description": "Definition of Dimension",
      "properties": {
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "FirewallPolicy": {
      "type": "object",
      "description": "Definition of FirewallPolicy",
      "properties": {
        "policyVariables": {
          "$ref": "#/definitions/RuleVariablesModel",
          "description": "Gets and sets the property policyVariables."
        },
        "statefulDefaultActions": {
          "type": "array",
          "description": "Gets and sets the property statefulDefaultActions.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "statefulEngineOptions": {
          "$ref": "#/definitions/StatefulEngineOptions",
          "description": "Gets and sets the property statefulEngineOptions."
        },
        "statefulRuleGroupReferences": {
          "type": "array",
          "description": "Gets and sets the property statefulRuleGroupReferences.",
          "items": {
            "$ref": "#/definitions/StatefulRuleGroupReference"
          },
          "x-ms-identifiers": []
        },
        "statelessCustomActions": {
          "type": "array",
          "description": "Gets and sets the property statelessCustomActions.",
          "items": {
            "$ref": "#/definitions/CustomAction"
          },
          "x-ms-identifiers": []
        },
        "statelessDefaultActions": {
          "type": "array",
          "description": "Gets and sets the property statelessDefaultActions.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "statelessFragmentDefaultActions": {
          "type": "array",
          "description": "Gets and sets the property statelessFragmentDefaultActions.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "statelessRuleGroupReferences": {
          "type": "array",
          "description": "Gets and sets the property statelessRuleGroupReferences.",
          "items": {
            "$ref": "#/definitions/StatelessRuleGroupReference"
          },
          "x-ms-identifiers": []
        },
        "tlsInspectionConfigurationArn": {
          "type": "string",
          "description": "Gets and sets the property tlsInspectionConfigurationArn. A resource ARN."
        }
      }
    },
    "IPSet": {
      "type": "object",
      "description": "Definition of IPSet",
      "properties": {
        "definition": {
          "type": "array",
          "description": "Gets and sets the property definition.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "NetworkFirewallFirewallPolicy": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkFirewallFirewallPolicyProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "NetworkFirewallFirewallPolicyListResult": {
      "type": "object",
      "description": "The response of a NetworkFirewallFirewallPolicy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NetworkFirewallFirewallPolicy items on this page",
          "items": {
            "$ref": "#/definitions/NetworkFirewallFirewallPolicy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NetworkFirewallFirewallPolicyProperties": {
      "type": "object",
      "description": "Definition of NetworkFirewallFirewallPolicy",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsNetworkFirewallFirewallPolicyProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn."
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Gets and sets the property publicCloudResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "NetworkFirewallFirewallPolicyTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in NetworkFirewallFirewallPolicy resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "PublishMetricAction": {
      "type": "object",
      "description": "Definition of PublishMetricAction",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "Gets and sets the property dimensions.",
          "items": {
            "$ref": "#/definitions/Dimension"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RuleVariablesModel": {
      "type": "object",
      "description": "Definition of RuleVariables",
      "properties": {
        "ruleVariables": {
          "type": "object",
          "description": "Gets and sets the property ruleVariables.",
          "additionalProperties": {
            "$ref": "#/definitions/IPSet"
          }
        }
      }
    },
    "StatefulEngineOptions": {
      "type": "object",
      "description": "Definition of StatefulEngineOptions",
      "properties": {
        "ruleOrder": {
          "type": "string",
          "description": "Gets and sets the property ruleOrder."
        },
        "streamExceptionPolicy": {
          "type": "string",
          "description": "Gets and sets the property streamExceptionPolicy."
        }
      }
    },
    "StatefulRuleGroupOverride": {
      "type": "object",
      "description": "Definition of StatefulRuleGroupOverride",
      "properties": {
        "action": {
          "type": "string",
          "description": "Gets and sets the property action."
        }
      }
    },
    "StatefulRuleGroupReference": {
      "type": "object",
      "description": "Definition of StatefulRuleGroupReference",
      "properties": {
        "override": {
          "$ref": "#/definitions/StatefulRuleGroupOverride",
          "description": "Gets and sets the property override."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property priority."
        },
        "resourceArn": {
          "type": "string",
          "description": "Gets and sets the property resourceArn. A resource ARN."
        }
      }
    },
    "StatelessRuleGroupReference": {
      "type": "object",
      "description": "Definition of StatelessRuleGroupReference",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property priority."
        },
        "resourceArn": {
          "type": "string",
          "description": "Gets and sets the property resourceArn. A resource ARN."
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Api versions",
      "enum": [
        "2024-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-08-01-preview",
            "value": "2024-08-01-preview",
            "description": "2024-08-01-preview api version"
          }
        ]
      }
    }
  },
  "parameters": {}
}
