{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "OpenSearchServiceDomains"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/openSearchServiceDomains": {
      "get": {
        "operationId": "OpenSearchServiceDomains_ListBySubscription",
        "tags": [
          "OpenSearchServiceDomains"
        ],
        "description": "List OpenSearchServiceDomain resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OpenSearchServiceDomainListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenSearchServiceDomains_ListBySubscription": {
            "$ref": "./examples/OpenSearchServiceDomains_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/openSearchServiceDomains": {
      "get": {
        "operationId": "OpenSearchServiceDomains_ListByResourceGroup",
        "tags": [
          "OpenSearchServiceDomains"
        ],
        "description": "List OpenSearchServiceDomain resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OpenSearchServiceDomainListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenSearchServiceDomains_ListByResourceGroup": {
            "$ref": "./examples/OpenSearchServiceDomains_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/openSearchServiceDomains/{name}": {
      "get": {
        "operationId": "OpenSearchServiceDomains_Get",
        "tags": [
          "OpenSearchServiceDomains"
        ],
        "description": "Get a OpenSearchServiceDomain",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of OpenSearchServiceDomain",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OpenSearchServiceDomain"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenSearchServiceDomains_Get": {
            "$ref": "./examples/OpenSearchServiceDomains_Get.json"
          }
        }
      },
      "put": {
        "operationId": "OpenSearchServiceDomains_CreateOrUpdate",
        "tags": [
          "OpenSearchServiceDomains"
        ],
        "description": "Create a OpenSearchServiceDomain. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of OpenSearchServiceDomain",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpenSearchServiceDomain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OpenSearchServiceDomain' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OpenSearchServiceDomain"
            }
          },
          "201": {
            "description": "Resource 'OpenSearchServiceDomain' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OpenSearchServiceDomain"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenSearchServiceDomains_CreateOrUpdate": {
            "$ref": "./examples/OpenSearchServiceDomains_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "OpenSearchServiceDomains_Update",
        "tags": [
          "OpenSearchServiceDomains"
        ],
        "description": "Update a OpenSearchServiceDomain",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of OpenSearchServiceDomain",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpenSearchServiceDomainTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OpenSearchServiceDomain"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenSearchServiceDomains_Update": {
            "$ref": "./examples/OpenSearchServiceDomains_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "OpenSearchServiceDomains_Delete",
        "tags": [
          "OpenSearchServiceDomains"
        ],
        "description": "Delete a OpenSearchServiceDomain",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of OpenSearchServiceDomain",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenSearchServiceDomains_Delete": {
            "$ref": "./examples/OpenSearchServiceDomains_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AdvancedSecurityOptionsInput": {
      "type": "object",
      "description": "Definition of AdvancedSecurityOptionsInput",
      "properties": {
        "anonymousAuthDisableDate": {
          "type": "string",
          "description": "Anonymousauthdisabledate"
        },
        "anonymousAuthEnabled": {
          "type": "boolean",
          "description": "Anonymousauthenabled"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enabled"
        },
        "internalUserDatabaseEnabled": {
          "type": "boolean",
          "description": "Internaluserdatabaseenabled"
        },
        "masterUserOptions": {
          "$ref": "#/definitions/MasterUserOptions",
          "description": "Masteruseroptions"
        },
        "samlOptions": {
          "$ref": "#/definitions/SAMLOptions",
          "description": "Samloptions"
        }
      }
    },
    "AwsOpenSearchServiceDomainProperties": {
      "type": "object",
      "description": "Definition of awsOpenSearchServiceDomain",
      "properties": {
        "accessPolicies": {
          "description": "Accesspolicies"
        },
        "advancedOptions": {
          "type": "object",
          "description": "Advancedoptions",
          "additionalProperties": {
            "type": "string"
          }
        },
        "advancedSecurityOptions": {
          "$ref": "#/definitions/AdvancedSecurityOptionsInput",
          "description": "Advancedsecurityoptions"
        },
        "arn": {
          "type": "string",
          "description": "Arn"
        },
        "clusterConfig": {
          "$ref": "#/definitions/ClusterConfig",
          "description": "Clusterconfig"
        },
        "cognitoOptions": {
          "$ref": "#/definitions/CognitoOptions",
          "description": "Cognitooptions"
        },
        "domainArn": {
          "type": "string",
          "description": "Domainarn"
        },
        "domainEndpoint": {
          "type": "string",
          "description": "Domainendpoint"
        },
        "domainEndpointOptions": {
          "$ref": "#/definitions/DomainEndpointOptions",
          "description": "Domainendpointoptions"
        },
        "domainEndpointV2": {
          "type": "string",
          "description": "Domainendpointv2"
        },
        "domainEndpoints": {
          "description": "Domainendpoints"
        },
        "domainName": {
          "type": "string",
          "description": "Domainname"
        },
        "ebsOptions": {
          "$ref": "#/definitions/EBSOptions",
          "description": "Ebsoptions"
        },
        "encryptionAtRestOptions": {
          "$ref": "#/definitions/EncryptionAtRestOptions",
          "description": "Encryptionatrestoptions"
        },
        "engineVersion": {
          "type": "string",
          "description": "Engineversion"
        },
        "ipAddressType": {
          "type": "string",
          "description": "Ipaddresstype"
        },
        "id": {
          "type": "string",
          "description": "Id"
        },
        "logPublishingOptions": {
          "type": "object",
          "description": "Logpublishingoptions",
          "additionalProperties": {
            "$ref": "#/definitions/LogPublishingOption"
          }
        },
        "nodeToNodeEncryptionOptions": {
          "$ref": "#/definitions/NodeToNodeEncryptionOptions",
          "description": "Nodetonodeencryptionoptions"
        },
        "offPeakWindowOptions": {
          "$ref": "#/definitions/OffPeakWindowOptions",
          "description": "Offpeakwindowoptions"
        },
        "serviceSoftwareOptions": {
          "$ref": "#/definitions/ServiceSoftwareOptions",
          "description": "Servicesoftwareoptions"
        },
        "snapshotOptions": {
          "$ref": "#/definitions/SnapshotOptions",
          "description": "Snapshotoptions"
        },
        "softwareUpdateOptions": {
          "$ref": "#/definitions/SoftwareUpdateOptions",
          "description": "Softwareupdateoptions"
        },
        "tags": {
          "type": "array",
          "description": " An arbitrary set of tags (key-value pairs) for this Domain.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "vpcOptions": {
          "$ref": "#/definitions/VPCOptions",
          "description": "Vpcoptions"
        }
      }
    },
    "ClusterConfig": {
      "type": "object",
      "description": "Definition of ClusterConfig",
      "properties": {
        "coldStorageOptions": {
          "$ref": "#/definitions/ColdStorageOptions",
          "description": "Coldstorageoptions"
        },
        "dedicatedMasterCount": {
          "type": "integer",
          "format": "int32",
          "description": "Dedicatedmastercount"
        },
        "dedicatedMasterEnabled": {
          "type": "boolean",
          "description": "Dedicatedmasterenabled"
        },
        "dedicatedMasterType": {
          "type": "string",
          "description": "Dedicatedmastertype"
        },
        "instanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Instancecount"
        },
        "instanceType": {
          "type": "string",
          "description": "Instancetype"
        },
        "multiAZWithStandbyEnabled": {
          "type": "boolean",
          "description": "Multiazwithstandbyenabled"
        },
        "warmCount": {
          "type": "integer",
          "format": "int32",
          "description": "Warmcount"
        },
        "warmEnabled": {
          "type": "boolean",
          "description": "Warmenabled"
        },
        "warmType": {
          "type": "string",
          "description": "Warmtype"
        },
        "zoneAwarenessConfig": {
          "$ref": "#/definitions/ZoneAwarenessConfig",
          "description": "Zoneawarenessconfig"
        },
        "zoneAwarenessEnabled": {
          "type": "boolean",
          "description": "Zoneawarenessenabled"
        }
      }
    },
    "CognitoOptions": {
      "type": "object",
      "description": "Definition of CognitoOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enabled"
        },
        "identityPoolId": {
          "type": "string",
          "description": "Identitypoolid"
        },
        "roleArn": {
          "type": "string",
          "description": "Rolearn"
        },
        "userPoolId": {
          "type": "string",
          "description": "Userpoolid"
        }
      }
    },
    "ColdStorageOptions": {
      "type": "object",
      "description": "Definition of ColdStorageOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enabled"
        }
      }
    },
    "DomainEndpointOptions": {
      "type": "object",
      "description": "Definition of DomainEndpointOptions",
      "properties": {
        "customEndpoint": {
          "type": "string",
          "description": "Customendpoint"
        },
        "customEndpointCertificateArn": {
          "type": "string",
          "description": "Customendpointcertificatearn"
        },
        "customEndpointEnabled": {
          "type": "boolean",
          "description": "Customendpointenabled"
        },
        "enforceHTTPS": {
          "type": "boolean",
          "description": "Enforcehttps"
        },
        "tlsSecurityPolicy": {
          "type": "string",
          "description": "Tlssecuritypolicy"
        }
      }
    },
    "EBSOptions": {
      "type": "object",
      "description": "Definition of EBSOptions",
      "properties": {
        "ebsEnabled": {
          "type": "boolean",
          "description": "Ebsenabled"
        },
        "iops": {
          "type": "integer",
          "format": "int32",
          "description": "Iops"
        },
        "throughput": {
          "type": "integer",
          "format": "int32",
          "description": "Throughput"
        },
        "volumeSize": {
          "type": "integer",
          "format": "int32",
          "description": "Volumesize"
        },
        "volumeType": {
          "type": "string",
          "description": "Volumetype"
        }
      }
    },
    "EncryptionAtRestOptions": {
      "type": "object",
      "description": "Definition of EncryptionAtRestOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enabled"
        },
        "kmsKeyId": {
          "type": "string",
          "description": "Kmskeyid"
        }
      }
    },
    "Idp": {
      "type": "object",
      "description": "Definition of Idp",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Entityid"
        },
        "metadataContent": {
          "type": "string",
          "description": "Metadatacontent"
        }
      }
    },
    "LogPublishingOption": {
      "type": "object",
      "description": "Definition of LogPublishingOption",
      "properties": {
        "cloudWatchLogsLogGroupArn": {
          "type": "string",
          "description": "Cloudwatchlogsloggrouparn"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enabled"
        }
      }
    },
    "MasterUserOptions": {
      "type": "object",
      "description": "Definition of MasterUserOptions",
      "properties": {
        "masterUserARN": {
          "type": "string",
          "description": "Masteruserarn"
        },
        "masterUserName": {
          "type": "string",
          "description": "Masterusername"
        },
        "masterUserPassword": {
          "type": "string",
          "description": "Masteruserpassword"
        }
      }
    },
    "NodeToNodeEncryptionOptions": {
      "type": "object",
      "description": "Definition of NodeToNodeEncryptionOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enabled"
        }
      }
    },
    "OffPeakWindow": {
      "type": "object",
      "description": "Definition of OffPeakWindow",
      "properties": {
        "windowStartTime": {
          "$ref": "#/definitions/WindowStartTime",
          "description": "Windowstarttime"
        }
      }
    },
    "OffPeakWindowOptions": {
      "type": "object",
      "description": "Definition of OffPeakWindowOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enabled"
        },
        "offPeakWindow": {
          "$ref": "#/definitions/OffPeakWindow",
          "description": "Offpeakwindow"
        }
      }
    },
    "OpenSearchServiceDomain": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OpenSearchServiceDomainProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OpenSearchServiceDomainListResult": {
      "type": "object",
      "description": "The response of a OpenSearchServiceDomain list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OpenSearchServiceDomain items on this page",
          "items": {
            "$ref": "#/definitions/OpenSearchServiceDomain"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OpenSearchServiceDomainProperties": {
      "type": "object",
      "description": "Definition of OpenSearchServiceDomain",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsOpenSearchServiceDomainProperties",
          "description": "Awsproperties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "ARN"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "OpenSearchServiceDomainTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in OpenSearchServiceDomain resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "SAMLOptions": {
      "type": "object",
      "description": "Definition of SAMLOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enabled"
        },
        "idp": {
          "$ref": "#/definitions/Idp",
          "description": "Idp"
        },
        "masterBackendRole": {
          "type": "string",
          "description": "Masterbackendrole"
        },
        "masterUserName": {
          "type": "string",
          "description": "Masterusername"
        },
        "rolesKey": {
          "type": "string",
          "description": "Roleskey"
        },
        "sessionTimeoutMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Sessiontimeoutminutes"
        },
        "subjectKey": {
          "type": "string",
          "description": "Subjectkey"
        }
      }
    },
    "ServiceSoftwareOptions": {
      "type": "object",
      "description": "Definition of ServiceSoftwareOptions",
      "properties": {
        "automatedUpdateDate": {
          "type": "string",
          "description": "Automatedupdatedate"
        },
        "cancellable": {
          "type": "boolean",
          "description": "Cancellable"
        },
        "currentVersion": {
          "type": "string",
          "description": "Currentversion"
        },
        "description": {
          "type": "string",
          "description": "Description"
        },
        "newVersion": {
          "type": "string",
          "description": "Newversion"
        },
        "optionalDeployment": {
          "type": "boolean",
          "description": "Optionaldeployment"
        },
        "updateAvailable": {
          "type": "boolean",
          "description": "Updateavailable"
        },
        "updateStatus": {
          "type": "string",
          "description": "Updatestatus"
        }
      }
    },
    "SnapshotOptions": {
      "type": "object",
      "description": "Definition of SnapshotOptions",
      "properties": {
        "automatedSnapshotStartHour": {
          "type": "integer",
          "format": "int32",
          "description": "Automatedsnapshotstarthour"
        }
      }
    },
    "SoftwareUpdateOptions": {
      "type": "object",
      "description": "Definition of SoftwareUpdateOptions",
      "properties": {
        "autoSoftwareUpdateEnabled": {
          "type": "boolean",
          "description": "Autosoftwareupdateenabled"
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": " The value of the tag."
        },
        "value": {
          "type": "string",
          "description": " The key of the tag."
        }
      }
    },
    "VPCOptions": {
      "type": "object",
      "description": "Definition of VPCOptions",
      "properties": {
        "securityGroupIds": {
          "type": "array",
          "description": "Securitygroupids",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "subnetIds": {
          "type": "array",
          "description": "Subnetids",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Api versions",
      "enum": [
        "2024-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-08-01-preview",
            "value": "2024-08-01-preview",
            "description": "2024-08-01-preview api version"
          }
        ]
      }
    },
    "WindowStartTime": {
      "type": "object",
      "description": "Definition of WindowStartTime",
      "properties": {
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes"
        }
      }
    },
    "ZoneAwarenessConfig": {
      "type": "object",
      "description": "Definition of ZoneAwarenessConfig",
      "properties": {
        "availabilityZoneCount": {
          "type": "integer",
          "format": "int32",
          "description": "Availabilityzonecount"
        }
      }
    }
  },
  "parameters": {}
}
