{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "RdsDBInstances"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/rdsDBInstances": {
      "get": {
        "operationId": "RdsDbInstances_ListBySubscription",
        "tags": [
          "RdsDBInstances"
        ],
        "description": "List RdsDBInstance resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RdsDBInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RdsDbInstances_ListBySubscription": {
            "$ref": "./examples/RdsDbInstances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/rdsDBInstances": {
      "get": {
        "operationId": "RdsDbInstances_ListByResourceGroup",
        "tags": [
          "RdsDBInstances"
        ],
        "description": "List RdsDBInstance resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RdsDBInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RdsDbInstances_ListByResourceGroup": {
            "$ref": "./examples/RdsDbInstances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/rdsDBInstances/{name}": {
      "get": {
        "operationId": "RdsDbInstances_Get",
        "tags": [
          "RdsDBInstances"
        ],
        "description": "Get a RdsDBInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of RdsDBInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RdsDBInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RdsDbInstances_Get": {
            "$ref": "./examples/RdsDbInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "RdsDbInstances_CreateOrUpdate",
        "tags": [
          "RdsDBInstances"
        ],
        "description": "Create a RdsDBInstance. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of RdsDBInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RdsDBInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'RdsDBInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/RdsDBInstance"
            }
          },
          "201": {
            "description": "Resource 'RdsDBInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RdsDBInstance"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RdsDbInstances_CreateOrUpdate": {
            "$ref": "./examples/RdsDbInstances_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "RdsDbInstances_Update",
        "tags": [
          "RdsDBInstances"
        ],
        "description": "Update a RdsDBInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of RdsDBInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RdsDBInstanceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RdsDBInstance"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RdsDbInstances_Update": {
            "$ref": "./examples/RdsDbInstances_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "RdsDbInstances_Delete",
        "tags": [
          "RdsDBInstances"
        ],
        "description": "Delete a RdsDBInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of RdsDBInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RdsDbInstances_Delete": {
            "$ref": "./examples/RdsDbInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsRdsDBInstanceProperties": {
      "type": "object",
      "description": "Definition of awsRdsDBInstance",
      "properties": {
        "allocatedStorage": {
          "type": "string",
          "description": "Gets and sets the property allocatedStorage. The amount of storage (in gigabytes) to be initially allocated for the database instance."
        },
        "allowMajorVersionUpgrade": {
          "type": "boolean",
          "description": "Gets and sets the property allowMajorVersionUpgrade. A value that indicates whether major version upgrades are allowed. Changing this parameter doesn't result in an outage and the change is asynchronously applied as soon as possible."
        },
        "associatedRoles": {
          "type": "array",
          "description": "Gets and sets the property associatedRoles. The AWS Identity and Access Management (IAM) roles associated with the DB instance.",
          "items": {
            "$ref": "#/definitions/DBInstanceRole"
          },
          "x-ms-identifiers": []
        },
        "autoMinorVersionUpgrade": {
          "type": "boolean",
          "description": "Gets and sets the property autoMinorVersionUpgrade. A value that indicates whether minor engine upgrades are applied automatically to the DB instance during the maintenance window. By default, minor engine upgrades are applied automatically."
        },
        "automaticBackupReplicationRegion": {
          "type": "string",
          "description": "Gets and sets the property automaticBackupReplicationRegion. Enables replication of automated backups to a different Amazon Web Services Region."
        },
        "availabilityZone": {
          "type": "string",
          "description": "Gets and sets the property availabilityZone. The Availability Zone (AZ) where the database will be created. For information on AWS Regions and Availability Zones."
        },
        "backupRetentionPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property backupRetentionPeriod. The number of days for which automated backups are retained. Setting this parameter to a positive number enables backups. Setting this parameter to 0 disables automated backups."
        },
        "cACertificateIdentifier": {
          "type": "string",
          "description": "Gets and sets the property cACertificateIdentifier. The identifier of the CA certificate for this DB instance."
        },
        "certificateDetails": {
          "$ref": "#/definitions/CertificateDetails",
          "description": "Gets and sets the property certificateDetails. Returns the details of the DB instance's server certificate."
        },
        "certificateRotationRestart": {
          "type": "boolean",
          "description": "Gets and sets the property certificateRotationRestart. A value that indicates whether the DB instance is restarted when you rotate your SSL/TLS certificate.By default, the DB instance is restarted when you rotate your SSL/TLS certificate. The certificate is not updated until the DB instance is restarted.If you are using SSL/TLS to connect to the DB instance, follow the appropriate instructions for your DB engine to rotate your SSL/TLS certificateThis setting doesn't apply to RDS Custom."
        },
        "characterSetName": {
          "type": "string",
          "description": "Gets and sets the property characterSetName. For supported engines, indicates that the DB instance should be associated with the specified character set."
        },
        "copyTagsToSnapshot": {
          "type": "boolean",
          "description": "Gets and sets the property copyTagsToSnapshot. A value that indicates whether to copy tags from the DB instance to snapshots of the DB instance. By default, tags are not copied."
        },
        "customIAMInstanceProfile": {
          "type": "string",
          "description": "Gets and sets the property customIAMInstanceProfile. The instance profile associated with the underlying Amazon EC2 instance of an RDS Custom DB instance. The instance profile must meet the following requirements: * The profile must exist in your account. * The profile must have an IAM role that Amazon EC2 has permissions to assume. * The instance profile name and the associated IAM role name must start with the prefix AWSRDSCustom .For the list of permissions required for the IAM role, see Configure IAM and your VPC in the Amazon RDS User Guide .This setting is required for RDS Custom."
        },
        "dBClusterIdentifier": {
          "type": "string",
          "description": "Gets and sets the property dBClusterIdentifier. The identifier of the DB cluster that the instance will belong to."
        },
        "dBClusterSnapshotIdentifier": {
          "type": "string",
          "description": "Gets and sets the property dBClusterSnapshotIdentifier. The identifier for the RDS for MySQL Multi-AZ DB cluster snapshot to restore from. For more information on Multi-AZ DB clusters, see Multi-AZ deployments with two readable standby DB instances in the Amazon RDS User Guide .Constraints: * Must match the identifier of an existing Multi-AZ DB cluster snapshot. * Can't be specified when DBSnapshotIdentifier is specified. * Must be specified when DBSnapshotIdentifier isn't specified. * If you are restoring from a shared manual Multi-AZ DB cluster snapshot, the DBClusterSnapshotIdentifier must be the ARN of the shared snapshot. * Can't be the identifier of an Aurora DB cluster snapshot. * Can't be the identifier of an RDS for PostgreSQL Multi-AZ DB cluster snapshot."
        },
        "dBInstanceArn": {
          "type": "string",
          "description": "Gets and sets the property dBInstanceArn. The Amazon Resource Name (ARN) for the DB instance."
        },
        "dBInstanceClass": {
          "type": "string",
          "description": "Gets and sets the property dBInstanceClass. The compute and memory capacity of the DB instance, for example, db.m4.large. Not all DB instance classes are available in all AWS Regions, or for all database engines."
        },
        "dBInstanceIdentifier": {
          "type": "string",
          "description": "Gets and sets the property dBInstanceIdentifier. A name for the DB instance. If you specify a name, AWS CloudFormation converts it to lowercase. If you don't specify a name, AWS CloudFormation generates a unique physical ID and uses that ID for the DB instance."
        },
        "dBName": {
          "type": "string",
          "description": "Gets and sets the property dBName. The meaning of this parameter differs according to the database engine you use."
        },
        "dBParameterGroupName": {
          "type": "string",
          "description": "Gets and sets the property dBParameterGroupName. The name of an existing DB parameter group or a reference to an AWS::RDS::DBParameterGroup resource created in the template."
        },
        "dBSecurityGroups": {
          "type": "array",
          "description": "Gets and sets the property dBSecurityGroups. A list of the DB security groups to assign to the DB instance. The list can include both the name of existing DB security groups or references to AWS::RDS::DBSecurityGroup resources created in the template.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "dBSnapshotIdentifier": {
          "type": "string",
          "description": "Gets and sets the property dBSnapshotIdentifier. The name or Amazon Resource Name (ARN) of the DB snapshot that's used to restore the DB instance. If you're restoring from a shared manual DB snapshot, you must specify the ARN of the snapshot."
        },
        "dBSubnetGroupName": {
          "type": "string",
          "description": "Gets and sets the property dBSubnetGroupName. A DB subnet group to associate with the DB instance. If you update this value, the new subnet group must be a subnet group in a new VPC."
        },
        "dBSystemId": {
          "type": "string",
          "description": "Gets and sets the property dBSystemId. The Oracle system ID (Oracle SID) for a container database (CDB). The Oracle SID is also the name of the CDB. This setting is valid for RDS Custom only."
        },
        "dbiResourceId": {
          "type": "string",
          "description": "Gets and sets the property dbiResourceId. The AWS Region-unique, immutable identifier for the DB instance. This identifier is found in AWS CloudTrail log entries whenever the AWS KMS key for the DB instance is accessed."
        },
        "dedicatedLogVolume": {
          "type": "boolean",
          "description": "Gets and sets the property dedicatedLogVolume. Indicates whether the DB instance has a dedicated log volume (DLV) enabled."
        },
        "deleteAutomatedBackups": {
          "type": "boolean",
          "description": "Gets and sets the property deleteAutomatedBackups. A value that indicates whether to remove automated backups immediately after the DB instance is deleted. This parameter isn't case-sensitive. The default is to remove automated backups immediately after the DB instance is deleted."
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Gets and sets the property deletionProtection. A value that indicates whether the DB instance has deletion protection enabled. The database can't be deleted when deletion protection is enabled. By default, deletion protection is disabled."
        },
        "domain": {
          "type": "string",
          "description": "Gets and sets the property domain. The Active Directory directory ID to create the DB instance in. Currently, only MySQL, Microsoft SQL Server, Oracle, and PostgreSQL DB instances can be created in an Active Directory Domain."
        },
        "domainAuthSecretArn": {
          "type": "string",
          "description": "Gets and sets the property domainAuthSecretArn. The ARN for the Secrets Manager secret with the credentials for the user joining the domain."
        },
        "domainDnsIps": {
          "type": "array",
          "description": "Gets and sets the property domainDnsIps. The IPv4 DNS IP addresses of your primary and secondary Active Directory domain controllers.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "domainFqdn": {
          "type": "string",
          "description": "Gets and sets the property domainFqdn. The fully qualified domain name (FQDN) of an Active Directory domain."
        },
        "domainIAMRoleName": {
          "type": "string",
          "description": "Gets and sets the property domainIAMRoleName. Specify the name of the IAM role to be used when making API calls to the Directory Service."
        },
        "domainOu": {
          "type": "string",
          "description": "Gets and sets the property domainOu. The Active Directory organizational unit for your DB instance to join."
        },
        "enableCloudwatchLogsExports": {
          "type": "array",
          "description": "Gets and sets the property enableCloudwatchLogsExports. The list of log types that need to be enabled for exporting to CloudWatch Logs. The values in the list depend on the DB engine being used.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "enableIAMDatabaseAuthentication": {
          "type": "boolean",
          "description": "Gets and sets the property enableIAMDatabaseAuthentication. A value that indicates whether to enable mapping of AWS Identity and Access Management (IAM) accounts to database accounts. By default, mapping is disabled."
        },
        "enablePerformanceInsights": {
          "type": "boolean",
          "description": "Gets and sets the property enablePerformanceInsights. A value that indicates whether to enable Performance Insights for the DB instance."
        },
        "endpoint": {
          "$ref": "#/definitions/Endpoint",
          "description": "Gets and sets the property endpoint. Specifies the connection endpoint."
        },
        "engine": {
          "type": "string",
          "description": "Gets and sets the property engine. The name of the database engine that you want to use for this DB instance."
        },
        "engineVersion": {
          "type": "string",
          "description": "Gets and sets the property engineVersion. The version number of the database engine to use."
        },
        "iops": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property iops. The number of I/O operations per second (IOPS) that the database provisions."
        },
        "kmsKeyId": {
          "type": "string",
          "description": "Gets and sets the property kmsKeyId. The ARN of the AWS Key Management Service (AWS KMS) master key that's used to encrypt the DB instance."
        },
        "licenseModel": {
          "type": "string",
          "description": "Gets and sets the property licenseModel. License model information for this DB instance."
        },
        "manageMasterUserPassword": {
          "type": "boolean",
          "description": "Gets and sets the property manageMasterUserPassword. A value that indicates whether to manage the master user password with AWS Secrets Manager."
        },
        "masterUserPassword": {
          "type": "string",
          "description": "Gets and sets the property masterUserPassword. The password for the master user."
        },
        "masterUserSecret": {
          "$ref": "#/definitions/MasterUserSecret",
          "description": "Gets and sets the property masterUserSecret. Contains the secret managed by RDS in AWS Secrets Manager for the master user password."
        },
        "masterUsername": {
          "type": "string",
          "description": "Gets and sets the property masterUsername. The master user name for the DB instance."
        },
        "maxAllocatedStorage": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property maxAllocatedStorage. The upper limit to which Amazon RDS can automatically scale the storage of the DB instance."
        },
        "monitoringInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property monitoringInterval. The interval, in seconds, between points when Enhanced Monitoring metrics are collected for the DB instance. To disable collecting Enhanced Monitoring metrics, specify 0. The default is 0."
        },
        "monitoringRoleArn": {
          "type": "string",
          "description": "Gets and sets the property monitoringRoleArn. The ARN for the IAM role that permits RDS to send enhanced monitoring metrics to Amazon CloudWatch Logs."
        },
        "multiAZ": {
          "type": "boolean",
          "description": "Gets and sets the property multiAZ. Specifies whether the database instance is a multiple Availability Zone deployment."
        },
        "ncharCharacterSetName": {
          "type": "string",
          "description": "Gets and sets the property ncharCharacterSetName. The name of the NCHAR character set for the Oracle DB instance. This parameter doesn't apply to RDS Custom."
        },
        "networkType": {
          "type": "string",
          "description": "Gets and sets the property networkType. The network type of the DB cluster."
        },
        "optionGroupName": {
          "type": "string",
          "description": "Gets and sets the property optionGroupName. Indicates that the DB instance should be associated with the specified option group."
        },
        "performanceInsightsKMSKeyId": {
          "type": "string",
          "description": "Gets and sets the property performanceInsightsKMSKeyId. The AWS KMS key identifier for encryption of Performance Insights data. The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key."
        },
        "performanceInsightsRetentionPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property performanceInsightsRetentionPeriod. The amount of time, in days, to retain Performance Insights data. Valid values are 7 or 731 (2 years)."
        },
        "port": {
          "type": "string",
          "description": "Gets and sets the property port. The port number on which the database accepts connections."
        },
        "preferredBackupWindow": {
          "type": "string",
          "description": "Gets and sets the property preferredBackupWindow. The daily time range during which automated backups are created if automated backups are enabled, using the BackupRetentionPeriod parameter."
        },
        "preferredMaintenanceWindow": {
          "type": "string",
          "description": "Gets and sets the property preferredMaintenanceWindow. he weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC)."
        },
        "processorFeatures": {
          "type": "array",
          "description": "Gets and sets the property processorFeatures. The number of CPU cores and the number of threads per core for the DB instance class of the DB instance.",
          "items": {
            "$ref": "#/definitions/ProcessorFeature"
          },
          "x-ms-identifiers": []
        },
        "promotionTier": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property promotionTier. A value that specifies the order in which an Aurora Replica is promoted to the primary instance after a failure of the existing primary instance."
        },
        "publiclyAccessible": {
          "type": "boolean",
          "description": "Gets and sets the property publiclyAccessible. Indicates whether the DB instance is an internet-facing instance. If you specify true, AWS CloudFormation creates an instance with a publicly resolvable DNS name, which resolves to a public IP address. If you specify false, AWS CloudFormation creates an internal instance with a DNS name that resolves to a private IP address."
        },
        "replicaMode": {
          "type": "string",
          "description": "Gets and sets the property replicaMode. The open mode of an Oracle read replica. The default is open-read-only."
        },
        "restoreTime": {
          "type": "string",
          "description": "Gets and sets the property restoreTime. The date and time to restore from."
        },
        "sourceDBClusterIdentifier": {
          "type": "string",
          "description": "Gets and sets the property sourceDBClusterIdentifier. The identifier of the Multi-AZ DB cluster that will act as the source for the read replica. Each DB cluster can have up to 15 read replicas."
        },
        "sourceDBInstanceAutomatedBackupsArn": {
          "type": "string",
          "description": "Gets and sets the property sourceDBInstanceAutomatedBackupsArn. The Amazon Resource Name (ARN) of the replicated automated backups from which to restore."
        },
        "sourceDBInstanceIdentifier": {
          "type": "string",
          "description": "Gets and sets the property sourceDBInstanceIdentifier. If you want to create a Read Replica DB instance, specify the ID of the source DB instance. Each DB instance can have a limited number of Read Replicas."
        },
        "sourceDbiResourceId": {
          "type": "string",
          "description": "Gets and sets the property sourceDbiResourceId. The resource ID of the source DB instance from which to restore."
        },
        "sourceRegion": {
          "type": "string",
          "description": "Gets and sets the property sourceRegion. The ID of the region that contains the source DB instance for the Read Replica."
        },
        "storageEncrypted": {
          "type": "boolean",
          "description": "Gets and sets the property storageEncrypted. A value that indicates whether the DB instance is encrypted. By default, it isn't encrypted."
        },
        "storageThroughput": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property storageThroughput. Specifies the storage throughput for the DB instance."
        },
        "storageType": {
          "type": "string",
          "description": "Gets and sets the property storageType. Specifies the storage type to be associated with the DB instance."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags. Tags to assign to the DB instance.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "tdeCredentialArn": {
          "type": "string",
          "description": "Gets and sets the property tdeCredentialArn. The ARN from the key store with which to associate the instance for TDE encryption."
        },
        "tdeCredentialPassword": {
          "type": "string",
          "description": "Gets and sets the property tdeCredentialPassword. The password for the given ARN from the key store in order to access the device."
        },
        "timezone": {
          "type": "string",
          "description": "Gets and sets the property timezone. The time zone of the DB instance. The time zone parameter is currently supported only by Microsoft SQL Server."
        },
        "useDefaultProcessorFeatures": {
          "type": "boolean",
          "description": "Gets and sets the property useDefaultProcessorFeatures. A value that indicates whether the DB instance class of the DB instance uses its default processor features."
        },
        "useLatestRestorableTime": {
          "type": "boolean",
          "description": "Gets and sets the property useLatestRestorableTime. A value that indicates whether the DB instance is restored from the latest backup time. By default, the DB instance isn't restored from the latest backup time."
        },
        "vPCSecurityGroups": {
          "type": "array",
          "description": "Gets and sets the property vPCSecurityGroups. A list of the VPC security group IDs to assign to the DB instance. The list can include both the physical IDs of existing VPC security groups and references to AWS::EC2::SecurityGroup resources created in the template.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CertificateDetails": {
      "type": "object",
      "description": "Definition of CertificateDetails",
      "properties": {
        "cAIdentifier": {
          "type": "string",
          "description": "Gets and sets the property cAIdentifier. The CA identifier of the CA certificate used for the DB instance's server certificate."
        },
        "validTill": {
          "type": "string",
          "description": "Gets and sets the property validTill. The expiration date of the DB instance’s server certificate."
        }
      }
    },
    "DBInstanceRole": {
      "type": "object",
      "description": "Definition of DBInstanceRole",
      "properties": {
        "featureName": {
          "type": "string",
          "description": "Gets and sets the property featureName. The name of the feature associated with the AWS Identity and Access Management (IAM) role. IAM roles that are associated with a DB instance grant permission for the DB instance to access other AWS services on your behalf."
        },
        "roleArn": {
          "type": "string",
          "description": "Gets and sets the property roleArn. The Amazon Resource Name (ARN) of the IAM role that is associated with the DB instance."
        }
      }
    },
    "Endpoint": {
      "type": "object",
      "description": "Definition of Endpoint",
      "properties": {
        "address": {
          "type": "string",
          "description": "Gets and sets the property address. Specifies the DNS address of the DB instance."
        },
        "hostedZoneId": {
          "type": "string",
          "description": "Gets and sets the property hostedZoneId. Specifies the ID that Amazon Route 53 assigns when you create a hosted zone."
        },
        "port": {
          "type": "string",
          "description": "Gets and sets the property port. Specifies the port that the database engine is listening on."
        }
      }
    },
    "MasterUserSecret": {
      "type": "object",
      "description": "Definition of MasterUserSecret",
      "properties": {
        "kmsKeyId": {
          "type": "string",
          "description": "Gets and sets the property kmsKeyId. The AWS KMS key identifier that is used to encrypt the secret."
        },
        "secretArn": {
          "type": "string",
          "description": "Gets and sets the property secretArn. The Amazon Resource Name (ARN) of the secret."
        }
      }
    },
    "ProcessorFeature": {
      "type": "object",
      "description": "Definition of ProcessorFeature",
      "properties": {
        "name": {
          "$ref": "#/definitions/ProcessorFeatureName",
          "description": "Gets and sets the property name. The name of the processor feature. Valid names are coreCount and threadsPerCore."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value. The value of a processor feature name."
        }
      }
    },
    "ProcessorFeatureName": {
      "type": "string",
      "description": "ProcessorFeatureName enum",
      "enum": [
        "coreCount",
        "threadsPerCore"
      ],
      "x-ms-enum": {
        "name": "ProcessorFeatureName",
        "modelAsString": true,
        "values": [
          {
            "name": "coreCount",
            "value": "coreCount",
            "description": "ProcessorFeatureName enum coreCount"
          },
          {
            "name": "threadsPerCore",
            "value": "threadsPerCore",
            "description": "ProcessorFeatureName enum threadsPerCore"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "RdsDBInstance": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RdsDBInstanceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RdsDBInstanceListResult": {
      "type": "object",
      "description": "The response of a RdsDBInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RdsDBInstance items on this page",
          "items": {
            "$ref": "#/definitions/RdsDBInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RdsDBInstanceProperties": {
      "type": "object",
      "description": "Definition of RdsDBInstance",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsRdsDBInstanceProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "RdsDBInstanceTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in RdsDBInstance resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key. The key name of the tag. You can specify a value that is 1 to 128 Unicode characters in length and cannot be prefixed with aws:. You can use any of the following characters: the set of Unicode letters, digits, whitespace, _, ., /, =, +, and -. "
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value. The value for the tag. You can specify a value that is 0 to 256 Unicode characters in length and cannot be prefixed with aws:. You can use any of the following characters: the set of Unicode letters, digits, whitespace, _, ., /, =, +, and -. "
        }
      }
    }
  },
  "parameters": {}
}
