{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "S3Buckets"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/s3Buckets": {
      "get": {
        "operationId": "S3Buckets_ListBySubscription",
        "tags": [
          "S3Buckets"
        ],
        "description": "List S3Bucket resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3BucketListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_ListBySubscription": {
            "$ref": "./examples/S3Buckets_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/s3Buckets": {
      "get": {
        "operationId": "S3Buckets_ListByResourceGroup",
        "tags": [
          "S3Buckets"
        ],
        "description": "List S3Bucket resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3BucketListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_ListByResourceGroup": {
            "$ref": "./examples/S3Buckets_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/s3Buckets/{name}": {
      "get": {
        "operationId": "S3Buckets_Get",
        "tags": [
          "S3Buckets"
        ],
        "description": "Get a S3Bucket",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3Bucket",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3Bucket"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_Get": {
            "$ref": "./examples/S3Buckets_Get.json"
          }
        }
      },
      "put": {
        "operationId": "S3Buckets_CreateOrUpdate",
        "tags": [
          "S3Buckets"
        ],
        "description": "Create a S3Bucket. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3Bucket",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/S3Bucket"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'S3Bucket' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/S3Bucket"
            }
          },
          "201": {
            "description": "Resource 'S3Bucket' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/S3Bucket"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_CreateOrUpdate": {
            "$ref": "./examples/S3Buckets_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "S3Buckets_Update",
        "tags": [
          "S3Buckets"
        ],
        "description": "Update a S3Bucket",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3Bucket",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/S3BucketTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3Bucket"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_Update": {
            "$ref": "./examples/S3Buckets_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "S3Buckets_Delete",
        "tags": [
          "S3Buckets"
        ],
        "description": "Delete a S3Bucket",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3Bucket",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_Delete": {
            "$ref": "./examples/S3Buckets_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AbortIncompleteMultipartUpload": {
      "type": "object",
      "description": "Definition of AbortIncompleteMultipartUpload",
      "properties": {
        "daysAfterInitiation": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property daysAfterInitiation. Specifies the number of days after which Amazon S3 aborts an incomplete multipart upload."
        }
      }
    },
    "AccelerateConfiguration": {
      "type": "object",
      "description": "Definition of AccelerateConfiguration",
      "properties": {
        "accelerationStatus": {
          "$ref": "#/definitions/AccelerateConfigurationAccelerationStatus",
          "description": "Gets and sets the property accelerationStatus. Configures the transfer acceleration state for an Amazon S3 bucket."
        }
      }
    },
    "AccelerateConfigurationAccelerationStatus": {
      "type": "string",
      "description": "AccelerateConfigurationAccelerationStatus enum",
      "enum": [
        "Enabled",
        "Suspended"
      ],
      "x-ms-enum": {
        "name": "AccelerateConfigurationAccelerationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "AccelerateConfigurationAccelerationStatus enum Enabled"
          },
          {
            "name": "Suspended",
            "value": "Suspended",
            "description": "AccelerateConfigurationAccelerationStatus enum Suspended"
          }
        ]
      }
    },
    "AccessControl": {
      "type": "string",
      "description": "AccessControl enum",
      "enum": [
        "AuthenticatedRead",
        "AwsExecRead",
        "BucketOwnerFullControl",
        "BucketOwnerRead",
        "LogDeliveryWrite",
        "Private",
        "PublicRead",
        "PublicReadWrite"
      ],
      "x-ms-enum": {
        "name": "AccessControl",
        "modelAsString": true,
        "values": [
          {
            "name": "AuthenticatedRead",
            "value": "AuthenticatedRead",
            "description": "AccessControl enum AuthenticatedRead"
          },
          {
            "name": "AwsExecRead",
            "value": "AwsExecRead",
            "description": "AccessControl enum AwsExecRead"
          },
          {
            "name": "BucketOwnerFullControl",
            "value": "BucketOwnerFullControl",
            "description": "AccessControl enum BucketOwnerFullControl"
          },
          {
            "name": "BucketOwnerRead",
            "value": "BucketOwnerRead",
            "description": "AccessControl enum BucketOwnerRead"
          },
          {
            "name": "LogDeliveryWrite",
            "value": "LogDeliveryWrite",
            "description": "AccessControl enum LogDeliveryWrite"
          },
          {
            "name": "Private",
            "value": "Private",
            "description": "AccessControl enum Private"
          },
          {
            "name": "PublicRead",
            "value": "PublicRead",
            "description": "AccessControl enum PublicRead"
          },
          {
            "name": "PublicReadWrite",
            "value": "PublicReadWrite",
            "description": "AccessControl enum PublicReadWrite"
          }
        ]
      }
    },
    "AccessControlTranslation": {
      "type": "object",
      "description": "Definition of AccessControlTranslation",
      "properties": {
        "owner": {
          "type": "string",
          "description": "Gets and sets the property owner."
        }
      }
    },
    "AnalyticsConfiguration": {
      "type": "object",
      "description": "Definition of AnalyticsConfiguration",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets and sets the property id. The ID that identifies the analytics configuration."
        },
        "prefix": {
          "type": "string",
          "description": "Gets and sets the property prefix. The prefix that an object must have to be included in the analytics results."
        },
        "storageClassAnalysis": {
          "$ref": "#/definitions/StorageClassAnalysis",
          "description": "Gets and sets the property storageClassAnalysis. Specifies data related to access patterns to be collected and made available to analyze the tradeoffs between different storage classes for an Amazon S3 bucket."
        },
        "tagFilters": {
          "type": "array",
          "description": "Gets and sets the property tagFilters.",
          "items": {
            "$ref": "#/definitions/TagFilter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AwsS3BucketProperties": {
      "type": "object",
      "description": "Definition of awsS3Bucket",
      "properties": {
        "accelerateConfiguration": {
          "$ref": "#/definitions/AccelerateConfiguration",
          "description": "Gets and sets the property accelerateConfiguration. Configuration for the transfer acceleration state."
        },
        "accessControl": {
          "$ref": "#/definitions/AccessControl",
          "description": "Gets and sets the property accessControl. A canned access control list (ACL) that grants predefined permissions to the bucket."
        },
        "analyticsConfigurations": {
          "type": "array",
          "description": "Gets and sets the property analyticsConfigurations. The configuration and any analyses for the analytics filter of an Amazon S3 bucket.",
          "items": {
            "$ref": "#/definitions/AnalyticsConfiguration"
          },
          "x-ms-identifiers": []
        },
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn. The Amazon Resource Name (ARN) of the specified bucket. the Amazon Resource Name (ARN) of the specified bucket."
        },
        "bucketEncryption": {
          "$ref": "#/definitions/BucketEncryption",
          "description": "Gets and sets the property bucketEncryption. Specifies default encryption for a bucket using server-side encryption with either Amazon S3-managed keys (SSE-S3) or AWS KMS-managed keys (SSE-KMS)."
        },
        "bucketName": {
          "type": "string",
          "description": "Gets and sets the property bucketName. A name for the bucket. If you don't specify a name, AWS CloudFormation generates a unique physical ID and uses that ID for the bucket name."
        },
        "corsConfiguration": {
          "$ref": "#/definitions/CorsConfiguration",
          "description": "Gets and sets the property corsConfiguration. Rules that define cross-origin resource sharing of objects in this bucket."
        },
        "domainName": {
          "type": "string",
          "description": "Gets and sets the property domainName. The IPv4 DNS name of the specified bucket."
        },
        "dualStackDomainName": {
          "type": "string",
          "description": "Gets and sets the property dualStackDomainName. The IPv6 DNS name of the specified bucket. For more information about dual-stack endpoints, see [Using Amazon S3 Dual-Stack Endpoints](https://docs.aws.amazon.com/AmazonS3/latest/dev/dual-stack-endpoints.html)."
        },
        "intelligentTieringConfigurations": {
          "type": "array",
          "description": "Gets and sets the property intelligentTieringConfigurations. Specifies the S3 Intelligent-Tiering configuration for an Amazon S3 bucket.",
          "items": {
            "$ref": "#/definitions/IntelligentTieringConfiguration"
          },
          "x-ms-identifiers": []
        },
        "inventoryConfigurations": {
          "type": "array",
          "description": "Gets and sets the property inventoryConfigurations. The inventory configuration for an Amazon S3 bucket.",
          "items": {
            "$ref": "#/definitions/InventoryConfiguration"
          },
          "x-ms-identifiers": []
        },
        "lifecycleConfiguration": {
          "$ref": "#/definitions/LifecycleConfiguration",
          "description": "Gets and sets the property lifecycleConfiguration. Rules that define how Amazon S3 manages objects during their lifetime."
        },
        "loggingConfiguration": {
          "$ref": "#/definitions/LoggingConfiguration",
          "description": "Gets and sets the property loggingConfiguration. Settings that define where logs are stored."
        },
        "metricsConfigurations": {
          "type": "array",
          "description": "Gets and sets the property metricsConfigurations. Settings that define a metrics configuration for the CloudWatch request metrics from the bucket.",
          "items": {
            "$ref": "#/definitions/MetricsConfiguration"
          },
          "x-ms-identifiers": []
        },
        "notificationConfiguration": {
          "$ref": "#/definitions/NotificationConfiguration",
          "description": "Gets and sets the property notificationConfiguration. Configuration that defines how Amazon S3 handles bucket notifications. Describes the notification configuration for an Amazon S3 bucket."
        },
        "objectLockConfiguration": {
          "$ref": "#/definitions/ObjectLockConfiguration",
          "description": "Gets and sets the property objectLockConfiguration. Places an Object Lock configuration on the specified bucket."
        },
        "objectLockEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property objectLockEnabled. Indicates whether this bucket has an Object Lock configuration enabled."
        },
        "ownershipControls": {
          "$ref": "#/definitions/OwnershipControls",
          "description": "Gets and sets the property ownershipControls. Specifies the container element for object ownership rules."
        },
        "publicAccessBlockConfiguration": {
          "$ref": "#/definitions/PublicAccessBlockConfiguration",
          "description": "Gets and sets the property publicAccessBlockConfiguration. Configuration that defines how Amazon S3 handles public access."
        },
        "regionalDomainName": {
          "type": "string",
          "description": "Gets and sets the property regionalDomainName. Returns the regional domain name of the specified bucket."
        },
        "replicationConfiguration": {
          "$ref": "#/definitions/ReplicationConfiguration",
          "description": "Gets and sets the property replicationConfiguration. Configuration for replicating objects in an S3 bucket. A container for replication rules. You can add up to 1,000 rules. The maximum size of a replication configuration is 2 MB."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags. An arbitrary set of tags (key-value pairs) for this S3 bucket.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "versioningConfiguration": {
          "$ref": "#/definitions/VersioningConfiguration",
          "description": "Gets and sets the property versioningConfiguration. Describes the versioning state of an Amazon S3 bucket."
        },
        "websiteConfiguration": {
          "$ref": "#/definitions/WebsiteConfiguration",
          "description": "Gets and sets the property websiteConfiguration. Specifies website configuration parameters for an Amazon S3 bucket."
        },
        "websiteURL": {
          "type": "string",
          "description": "Gets and sets the property websiteURL. The Amazon S3 website endpoint for the specified bucket."
        }
      }
    },
    "BucketEncryption": {
      "type": "object",
      "description": "Definition of BucketEncryption",
      "properties": {
        "serverSideEncryptionConfiguration": {
          "type": "array",
          "description": "Gets and sets the property serverSideEncryptionConfiguration. Specifies the default server-side-encryption configuration.",
          "items": {
            "$ref": "#/definitions/ServerSideEncryptionRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CorsConfiguration": {
      "type": "object",
      "description": "Definition of CorsConfiguration",
      "properties": {
        "corsRules": {
          "type": "array",
          "description": "Gets and sets the property corsRules.",
          "items": {
            "$ref": "#/definitions/CorsRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CorsRule": {
      "type": "object",
      "description": "Definition of CorsRule",
      "properties": {
        "allowedHeaders": {
          "type": "array",
          "description": "Gets and sets the property allowedHeaders. Headers that are specified in the Access-Control-Request-Headers header.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "allowedMethods": {
          "type": "array",
          "description": "Gets and sets the property allowedMethods. An HTTP method that you allow the origin to execute.",
          "items": {
            "$ref": "#/definitions/CorsRuleAllowedMethods"
          },
          "x-ms-identifiers": []
        },
        "allowedOrigins": {
          "type": "array",
          "description": "Gets and sets the property allowedOrigins. One or more origins you want customers to be able to access the bucket from.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "exposedHeaders": {
          "type": "array",
          "description": "Gets and sets the property exposedHeaders. One or more headers in the response that you want customers to be able to access from their applications (for example, from a JavaScript XMLHttpRequest object).",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "id": {
          "type": "string",
          "description": "Gets and sets the property id. A unique identifier for this rule."
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property maxAge. The time in seconds that your browser is to cache the preflight response for the specified resource."
        }
      }
    },
    "CorsRuleAllowedMethods": {
      "type": "string",
      "description": "CorsRuleAllowedMethods enum",
      "enum": [
        "DELETE",
        "GET",
        "HEAD",
        "POST",
        "PUT"
      ],
      "x-ms-enum": {
        "name": "CorsRuleAllowedMethods",
        "modelAsString": true,
        "values": [
          {
            "name": "DELETE",
            "value": "DELETE",
            "description": "CorsRuleAllowedMethods enum DELETE"
          },
          {
            "name": "GET",
            "value": "GET",
            "description": "CorsRuleAllowedMethods enum GET"
          },
          {
            "name": "HEAD",
            "value": "HEAD",
            "description": "CorsRuleAllowedMethods enum HEAD"
          },
          {
            "name": "POST",
            "value": "POST",
            "description": "CorsRuleAllowedMethods enum POST"
          },
          {
            "name": "PUT",
            "value": "PUT",
            "description": "CorsRuleAllowedMethods enum PUT"
          }
        ]
      }
    },
    "DataExport": {
      "type": "object",
      "description": "Definition of DataExport",
      "properties": {
        "destination": {
          "$ref": "#/definitions/Destination",
          "description": "Gets and sets the property destination. Specifies information about where to publish analysis or configuration results for an Amazon S3 bucket and S3 Replication Time Control (S3 RTC)."
        },
        "outputSchemaVersion": {
          "type": "string",
          "description": "Gets and sets the property outputSchemaVersion. The version of the output schema to use when exporting data."
        }
      }
    },
    "DefaultRetention": {
      "type": "object",
      "description": "Definition of DefaultRetention",
      "properties": {
        "days": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property days."
        },
        "mode": {
          "$ref": "#/definitions/DefaultRetentionMode",
          "description": "Gets and sets the property mode."
        },
        "years": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property years."
        }
      }
    },
    "DefaultRetentionMode": {
      "type": "string",
      "description": "DefaultRetentionMode enum",
      "enum": [
        "COMPLIANCE",
        "GOVERNANCE"
      ],
      "x-ms-enum": {
        "name": "DefaultRetentionMode",
        "modelAsString": true,
        "values": [
          {
            "name": "COMPLIANCE",
            "value": "COMPLIANCE",
            "description": "DefaultRetentionMode enum COMPLIANCE"
          },
          {
            "name": "GOVERNANCE",
            "value": "GOVERNANCE",
            "description": "DefaultRetentionMode enum GOVERNANCE"
          }
        ]
      }
    },
    "DeleteMarkerReplication": {
      "type": "object",
      "description": "Definition of DeleteMarkerReplication",
      "properties": {
        "status": {
          "$ref": "#/definitions/DeleteMarkerReplicationStatus",
          "description": "Gets and sets the property status."
        }
      }
    },
    "DeleteMarkerReplicationStatus": {
      "type": "string",
      "description": "DeleteMarkerReplicationStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "DeleteMarkerReplicationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "DeleteMarkerReplicationStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "DeleteMarkerReplicationStatus enum Enabled"
          }
        ]
      }
    },
    "Destination": {
      "type": "object",
      "description": "Definition of Destination",
      "properties": {
        "bucketAccountId": {
          "type": "string",
          "description": "Gets and sets the property bucketAccountId. The account ID that owns the destination S3 bucket. "
        },
        "bucketArn": {
          "type": "string",
          "description": "Gets and sets the property bucketArn. The Amazon Resource Name (ARN) of the bucket to which data is exported."
        },
        "format": {
          "$ref": "#/definitions/DestinationFormat",
          "description": "Gets and sets the property format. Specifies the file format used when exporting data to Amazon S3."
        },
        "prefix": {
          "type": "string",
          "description": "Gets and sets the property prefix. The prefix to use when exporting data. The prefix is prepended to all results."
        }
      }
    },
    "DestinationFormat": {
      "type": "string",
      "description": "DestinationFormat enum",
      "enum": [
        "CSV",
        "ORC",
        "Parquet"
      ],
      "x-ms-enum": {
        "name": "DestinationFormat",
        "modelAsString": true,
        "values": [
          {
            "name": "CSV",
            "value": "CSV",
            "description": "DestinationFormat enum CSV"
          },
          {
            "name": "ORC",
            "value": "ORC",
            "description": "DestinationFormat enum ORC"
          },
          {
            "name": "Parquet",
            "value": "Parquet",
            "description": "DestinationFormat enum Parquet"
          }
        ]
      }
    },
    "EncryptionConfiguration": {
      "type": "object",
      "description": "Definition of EncryptionConfiguration",
      "properties": {
        "replicaKmsKeyID": {
          "type": "string",
          "description": "Gets and sets the property replicaKmsKeyID. Specifies the ID (Key ARN or Alias ARN) of the customer managed customer master key (CMK) stored in AWS Key Management Service (KMS) for the destination bucket."
        }
      }
    },
    "EventBridgeConfiguration": {
      "type": "object",
      "description": "Definition of EventBridgeConfiguration",
      "properties": {
        "eventBridgeEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property eventBridgeEnabled. Specifies whether to send notifications to Amazon EventBridge when events occur in an Amazon S3 bucket."
        }
      }
    },
    "FilterRule": {
      "type": "object",
      "description": "Definition of FilterRule",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets and sets the property name."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "IntelligentTieringConfiguration": {
      "type": "object",
      "description": "Definition of IntelligentTieringConfiguration",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets and sets the property id. The ID used to identify the S3 Intelligent-Tiering configuration."
        },
        "prefix": {
          "type": "string",
          "description": "Gets and sets the property prefix. An object key name prefix that identifies the subset of objects to which the rule applies."
        },
        "status": {
          "$ref": "#/definitions/IntelligentTieringConfigurationStatus",
          "description": "Gets and sets the property status. Specifies the status of the configuration."
        },
        "tagFilters": {
          "type": "array",
          "description": "Gets and sets the property tagFilters. A container for a key-value pair.",
          "items": {
            "$ref": "#/definitions/TagFilter"
          },
          "x-ms-identifiers": []
        },
        "tierings": {
          "type": "array",
          "description": "Gets and sets the property tierings. Specifies a list of S3 Intelligent-Tiering storage class tiers in the configuration. At least one tier must be defined in the list. At most, you can specify two tiers in the list, one for each available AccessTier: ARCHIVE_ACCESS and DEEP_ARCHIVE_ACCESS.",
          "items": {
            "$ref": "#/definitions/Tiering"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "IntelligentTieringConfigurationStatus": {
      "type": "string",
      "description": "IntelligentTieringConfigurationStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "IntelligentTieringConfigurationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "IntelligentTieringConfigurationStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "IntelligentTieringConfigurationStatus enum Enabled"
          }
        ]
      }
    },
    "InventoryConfiguration": {
      "type": "object",
      "description": "Definition of InventoryConfiguration",
      "properties": {
        "destination": {
          "$ref": "#/definitions/Destination",
          "description": "Gets and sets the property destination. Specifies information about where to publish analysis or configuration results for an Amazon S3 bucket and S3 Replication Time Control (S3 RTC)."
        },
        "enabled": {
          "type": "boolean",
          "description": "Gets and sets the property enabled. Specifies whether the inventory is enabled or disabled."
        },
        "id": {
          "type": "string",
          "description": "Gets and sets the property id. The ID used to identify the inventory configuration."
        },
        "includedObjectVersions": {
          "$ref": "#/definitions/InventoryConfigurationIncludedObjectVersions",
          "description": "Gets and sets the property includedObjectVersions. Object versions to include in the inventory list."
        },
        "optionalFields": {
          "type": "array",
          "description": "Gets and sets the property optionalFields. Contains the optional fields that are included in the inventory results.",
          "items": {
            "$ref": "#/definitions/InventoryConfigurationOptionalFields"
          },
          "x-ms-identifiers": []
        },
        "prefix": {
          "type": "string",
          "description": "Gets and sets the property prefix. The prefix that is prepended to all inventory results."
        },
        "scheduleFrequency": {
          "$ref": "#/definitions/InventoryConfigurationScheduleFrequency",
          "description": "Gets and sets the property scheduleFrequency. Specifies the schedule for generating inventory results."
        }
      }
    },
    "InventoryConfigurationIncludedObjectVersions": {
      "type": "string",
      "description": "InventoryConfigurationIncludedObjectVersions enum",
      "enum": [
        "All",
        "Current"
      ],
      "x-ms-enum": {
        "name": "InventoryConfigurationIncludedObjectVersions",
        "modelAsString": true,
        "values": [
          {
            "name": "All",
            "value": "All",
            "description": "InventoryConfigurationIncludedObjectVersions enum All"
          },
          {
            "name": "Current",
            "value": "Current",
            "description": "InventoryConfigurationIncludedObjectVersions enum Current"
          }
        ]
      }
    },
    "InventoryConfigurationOptionalFields": {
      "type": "string",
      "description": "InventoryConfigurationOptionalFields enum",
      "enum": [
        "BucketKeyStatus",
        "ChecksumAlgorithm",
        "ETag",
        "EncryptionStatus",
        "IntelligentTieringAccessTier",
        "IsMultipartUploaded",
        "LastModifiedDate",
        "ObjectAccessControlList",
        "ObjectLockLegalHoldStatus",
        "ObjectLockMode",
        "ObjectLockRetainUntilDate",
        "ObjectOwner",
        "ReplicationStatus",
        "Size",
        "StorageClass"
      ],
      "x-ms-enum": {
        "name": "InventoryConfigurationOptionalFields",
        "modelAsString": true,
        "values": [
          {
            "name": "BucketKeyStatus",
            "value": "BucketKeyStatus",
            "description": "InventoryConfigurationOptionalFields enum BucketKeyStatus"
          },
          {
            "name": "ChecksumAlgorithm",
            "value": "ChecksumAlgorithm",
            "description": "InventoryConfigurationOptionalFields enum ChecksumAlgorithm"
          },
          {
            "name": "ETag",
            "value": "ETag",
            "description": "InventoryConfigurationOptionalFields enum ETag"
          },
          {
            "name": "EncryptionStatus",
            "value": "EncryptionStatus",
            "description": "InventoryConfigurationOptionalFields enum EncryptionStatus"
          },
          {
            "name": "IntelligentTieringAccessTier",
            "value": "IntelligentTieringAccessTier",
            "description": "InventoryConfigurationOptionalFields enum IntelligentTieringAccessTier"
          },
          {
            "name": "IsMultipartUploaded",
            "value": "IsMultipartUploaded",
            "description": "InventoryConfigurationOptionalFields enum IsMultipartUploaded"
          },
          {
            "name": "LastModifiedDate",
            "value": "LastModifiedDate",
            "description": "InventoryConfigurationOptionalFields enum LastModifiedDate"
          },
          {
            "name": "ObjectAccessControlList",
            "value": "ObjectAccessControlList",
            "description": "InventoryConfigurationOptionalFields enum ObjectAccessControlList"
          },
          {
            "name": "ObjectLockLegalHoldStatus",
            "value": "ObjectLockLegalHoldStatus",
            "description": "InventoryConfigurationOptionalFields enum ObjectLockLegalHoldStatus"
          },
          {
            "name": "ObjectLockMode",
            "value": "ObjectLockMode",
            "description": "InventoryConfigurationOptionalFields enum ObjectLockMode"
          },
          {
            "name": "ObjectLockRetainUntilDate",
            "value": "ObjectLockRetainUntilDate",
            "description": "InventoryConfigurationOptionalFields enum ObjectLockRetainUntilDate"
          },
          {
            "name": "ObjectOwner",
            "value": "ObjectOwner",
            "description": "InventoryConfigurationOptionalFields enum ObjectOwner"
          },
          {
            "name": "ReplicationStatus",
            "value": "ReplicationStatus",
            "description": "InventoryConfigurationOptionalFields enum ReplicationStatus"
          },
          {
            "name": "Size",
            "value": "Size",
            "description": "InventoryConfigurationOptionalFields enum Size"
          },
          {
            "name": "StorageClass",
            "value": "StorageClass",
            "description": "InventoryConfigurationOptionalFields enum StorageClass"
          }
        ]
      }
    },
    "InventoryConfigurationScheduleFrequency": {
      "type": "string",
      "description": "InventoryConfigurationScheduleFrequency enum",
      "enum": [
        "Daily",
        "Weekly"
      ],
      "x-ms-enum": {
        "name": "InventoryConfigurationScheduleFrequency",
        "modelAsString": true,
        "values": [
          {
            "name": "Daily",
            "value": "Daily",
            "description": "InventoryConfigurationScheduleFrequency enum Daily"
          },
          {
            "name": "Weekly",
            "value": "Weekly",
            "description": "InventoryConfigurationScheduleFrequency enum Weekly"
          }
        ]
      }
    },
    "LambdaConfiguration": {
      "type": "object",
      "description": "Definition of LambdaConfiguration",
      "properties": {
        "event": {
          "type": "string",
          "description": "Gets and sets the property event. The Amazon S3 bucket event for which to invoke the AWS Lambda function."
        },
        "filter": {
          "$ref": "#/definitions/NotificationFilter",
          "description": "Gets and sets the property filter. The filtering rules that determine which objects invoke the AWS Lambda function. Specifies object key name filtering rules."
        },
        "function": {
          "type": "string",
          "description": "Gets and sets the property function. The Amazon Resource Name (ARN) of the AWS Lambda function that Amazon S3 invokes when the specified event type occurs."
        }
      }
    },
    "LifecycleConfiguration": {
      "type": "object",
      "description": "Definition of LifecycleConfiguration",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Gets and sets the property rules. A lifecycle rule for individual objects in an Amazon S3 bucket.",
          "items": {
            "$ref": "#/definitions/Rule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "LoggingConfiguration": {
      "type": "object",
      "description": "Definition of LoggingConfiguration",
      "properties": {
        "destinationBucketName": {
          "type": "string",
          "description": "Gets and sets the property destinationBucketName. The name of an Amazon S3 bucket where Amazon S3 store server access log files. You can store log files in any bucket that you own. By default, logs are stored in the bucket where the LoggingConfiguration property is defined."
        },
        "logFilePrefix": {
          "type": "string",
          "description": "Gets and sets the property logFilePrefix."
        },
        "targetObjectKeyFormat": {
          "$ref": "#/definitions/TargetObjectKeyFormat",
          "description": "Gets and sets the property targetObjectKeyFormat. Describes the key format for server access log file in the target bucket. You can choose between SimplePrefix and PartitionedPrefix."
        }
      }
    },
    "Metrics": {
      "type": "object",
      "description": "Definition of Metrics",
      "properties": {
        "eventThreshold": {
          "$ref": "#/definitions/ReplicationTimeValue",
          "description": "Gets and sets the property eventThreshold."
        },
        "status": {
          "$ref": "#/definitions/MetricsStatus",
          "description": "Gets and sets the property status."
        }
      }
    },
    "MetricsConfiguration": {
      "type": "object",
      "description": "Definition of MetricsConfiguration",
      "properties": {
        "accessPointArn": {
          "type": "string",
          "description": "Gets and sets the property accessPointArn."
        },
        "id": {
          "type": "string",
          "description": "Gets and sets the property id."
        },
        "prefix": {
          "type": "string",
          "description": "Gets and sets the property prefix."
        },
        "tagFilters": {
          "type": "array",
          "description": "Gets and sets the property tagFilters.",
          "items": {
            "$ref": "#/definitions/TagFilter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "MetricsStatus": {
      "type": "string",
      "description": "MetricsStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "MetricsStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "MetricsStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "MetricsStatus enum Enabled"
          }
        ]
      }
    },
    "NoncurrentVersionExpiration": {
      "type": "object",
      "description": "Definition of NoncurrentVersionExpiration",
      "properties": {
        "newerNoncurrentVersions": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property newerNoncurrentVersions. Specified the number of newer noncurrent and current versions that must exists before performing the associated action"
        },
        "noncurrentDays": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property noncurrentDays. Specified the number of days an object is noncurrent before Amazon S3 can perform the associated action"
        }
      }
    },
    "NoncurrentVersionTransition": {
      "type": "object",
      "description": "Definition of NoncurrentVersionTransition",
      "properties": {
        "newerNoncurrentVersions": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property newerNoncurrentVersions. Specified the number of newer noncurrent and current versions that must exists before performing the associated action"
        },
        "storageClass": {
          "$ref": "#/definitions/NoncurrentVersionTransitionStorageClass",
          "description": "Gets and sets the property storageClass. The class of storage used to store the object."
        },
        "transitionInDays": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property transitionInDays. Specifies the number of days an object is noncurrent before Amazon S3 can perform the associated action."
        }
      }
    },
    "NoncurrentVersionTransitionStorageClass": {
      "type": "string",
      "description": "NoncurrentVersionTransitionStorageClass enum",
      "enum": [
        "DEEP_ARCHIVE",
        "GLACIER",
        "GLACIER_IR",
        "INTELLIGENT_TIERING",
        "ONEZONE_IA",
        "STANDARD_IA"
      ],
      "x-ms-enum": {
        "name": "NoncurrentVersionTransitionStorageClass",
        "modelAsString": true,
        "values": [
          {
            "name": "DEEP_ARCHIVE",
            "value": "DEEP_ARCHIVE",
            "description": "NoncurrentVersionTransitionStorageClass enum DEEP_ARCHIVE"
          },
          {
            "name": "GLACIER",
            "value": "GLACIER",
            "description": "NoncurrentVersionTransitionStorageClass enum GLACIER"
          },
          {
            "name": "GLACIER_IR",
            "value": "GLACIER_IR",
            "description": "NoncurrentVersionTransitionStorageClass enum GLACIER_IR"
          },
          {
            "name": "INTELLIGENT_TIERING",
            "value": "INTELLIGENT_TIERING",
            "description": "NoncurrentVersionTransitionStorageClass enum INTELLIGENT_TIERING"
          },
          {
            "name": "ONEZONE_IA",
            "value": "ONEZONE_IA",
            "description": "NoncurrentVersionTransitionStorageClass enum ONEZONE_IA"
          },
          {
            "name": "STANDARD_IA",
            "value": "STANDARD_IA",
            "description": "NoncurrentVersionTransitionStorageClass enum STANDARD_IA"
          }
        ]
      }
    },
    "NotificationConfiguration": {
      "type": "object",
      "description": "Definition of NotificationConfiguration",
      "properties": {
        "eventBridgeConfiguration": {
          "$ref": "#/definitions/EventBridgeConfiguration",
          "description": "Gets and sets the property eventBridgeConfiguration. Describes the Amazon EventBridge notification configuration for an Amazon S3 bucket."
        },
        "lambdaConfigurations": {
          "type": "array",
          "description": "Gets and sets the property lambdaConfigurations.",
          "items": {
            "$ref": "#/definitions/LambdaConfiguration"
          },
          "x-ms-identifiers": []
        },
        "queueConfigurations": {
          "type": "array",
          "description": "Gets and sets the property queueConfigurations.",
          "items": {
            "$ref": "#/definitions/QueueConfiguration"
          },
          "x-ms-identifiers": []
        },
        "topicConfigurations": {
          "type": "array",
          "description": "Gets and sets the property topicConfigurations.",
          "items": {
            "$ref": "#/definitions/TopicConfiguration"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "NotificationFilter": {
      "type": "object",
      "description": "Definition of NotificationFilter",
      "properties": {
        "s3Key": {
          "$ref": "#/definitions/S3KeyFilter",
          "description": "Gets and sets the property s3Key. A container for object key name prefix and suffix filtering rules."
        }
      }
    },
    "ObjectLockConfiguration": {
      "type": "object",
      "description": "Definition of ObjectLockConfiguration",
      "properties": {
        "objectLockEnabled": {
          "type": "string",
          "description": "Gets and sets the property objectLockEnabled."
        },
        "rule": {
          "$ref": "#/definitions/ObjectLockRule",
          "description": "Gets and sets the property rule. The Object Lock rule in place for the specified object."
        }
      }
    },
    "ObjectLockRule": {
      "type": "object",
      "description": "Definition of ObjectLockRule",
      "properties": {
        "defaultRetention": {
          "$ref": "#/definitions/DefaultRetention",
          "description": "Gets and sets the property defaultRetention. The default retention period that you want to apply to new objects placed in the specified bucket."
        }
      }
    },
    "OwnershipControls": {
      "type": "object",
      "description": "Definition of OwnershipControls",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Gets and sets the property rules.",
          "items": {
            "$ref": "#/definitions/OwnershipControlsRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "OwnershipControlsRule": {
      "type": "object",
      "description": "Definition of OwnershipControlsRule",
      "properties": {
        "objectOwnership": {
          "$ref": "#/definitions/OwnershipControlsRuleObjectOwnership",
          "description": "Gets and sets the property objectOwnership. Specifies an object ownership rule."
        }
      }
    },
    "OwnershipControlsRuleObjectOwnership": {
      "type": "string",
      "description": "OwnershipControlsRuleObjectOwnership enum",
      "enum": [
        "BucketOwnerEnforced",
        "BucketOwnerPreferred",
        "ObjectWriter"
      ],
      "x-ms-enum": {
        "name": "OwnershipControlsRuleObjectOwnership",
        "modelAsString": true,
        "values": [
          {
            "name": "BucketOwnerEnforced",
            "value": "BucketOwnerEnforced",
            "description": "OwnershipControlsRuleObjectOwnership enum BucketOwnerEnforced"
          },
          {
            "name": "BucketOwnerPreferred",
            "value": "BucketOwnerPreferred",
            "description": "OwnershipControlsRuleObjectOwnership enum BucketOwnerPreferred"
          },
          {
            "name": "ObjectWriter",
            "value": "ObjectWriter",
            "description": "OwnershipControlsRuleObjectOwnership enum ObjectWriter"
          }
        ]
      }
    },
    "PartitionedPrefix": {
      "type": "object",
      "description": "Definition of PartitionedPrefix",
      "properties": {
        "partitionDateSource": {
          "$ref": "#/definitions/PartitionedPrefixPartitionDateSource",
          "description": "Gets and sets the property partitionDateSource. Date Source for creating a partitioned prefix. This can be event time or delivery time."
        }
      }
    },
    "PartitionedPrefixPartitionDateSource": {
      "type": "string",
      "description": "PartitionedPrefixPartitionDateSource enum",
      "enum": [
        "DeliveryTime",
        "EventTime"
      ],
      "x-ms-enum": {
        "name": "PartitionedPrefixPartitionDateSource",
        "modelAsString": true,
        "values": [
          {
            "name": "DeliveryTime",
            "value": "DeliveryTime",
            "description": "PartitionedPrefixPartitionDateSource enum DeliveryTime"
          },
          {
            "name": "EventTime",
            "value": "EventTime",
            "description": "PartitionedPrefixPartitionDateSource enum EventTime"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "PublicAccessBlockConfiguration": {
      "type": "object",
      "description": "Definition of PublicAccessBlockConfiguration",
      "properties": {
        "blockPublicAcls": {
          "type": "boolean",
          "description": "Gets and sets the property blockPublicAcls. Specifies whether Amazon S3 should block public access control lists (ACLs) for this bucket and objects in this bucket. Setting this element to TRUE causes the following behavior:- PUT Bucket acl and PUT Object acl calls fail if the specified ACL is public. - PUT Object calls fail if the request includes a public ACL.Enabling this setting doesn't affect existing policies or ACLs."
        },
        "blockPublicPolicy": {
          "type": "boolean",
          "description": "Gets and sets the property blockPublicPolicy. Specifies whether Amazon S3 should block public bucket policies for this bucket. Setting this element to TRUE causes Amazon S3 to reject calls to PUT Bucket policy if the specified bucket policy allows public access.Enabling this setting doesn't affect existing bucket policies."
        },
        "ignorePublicAcls": {
          "type": "boolean",
          "description": "Gets and sets the property ignorePublicAcls. Specifies whether Amazon S3 should ignore public ACLs for this bucket and objects in this bucket. Setting this element to TRUE causes Amazon S3 to ignore all public ACLs on this bucket and objects in this bucket.Enabling this setting doesn't affect the persistence of any existing ACLs and doesn't prevent new public ACLs from being set."
        },
        "restrictPublicBuckets": {
          "type": "boolean",
          "description": "Gets and sets the property restrictPublicBuckets. Specifies whether Amazon S3 should restrict public bucket policies for this bucket. Setting this element to TRUE restricts access to this bucket to only AWS services and authorized users within this account if the bucket has a public policy.Enabling this setting doesn't affect previously stored bucket policies, except that public and cross-account access within any public bucket policy, including non-public delegation to specific accounts, is blocked."
        }
      }
    },
    "QueueConfiguration": {
      "type": "object",
      "description": "Definition of QueueConfiguration",
      "properties": {
        "event": {
          "type": "string",
          "description": "Gets and sets the property event. The Amazon S3 bucket event about which you want to publish messages to Amazon SQS."
        },
        "filter": {
          "$ref": "#/definitions/NotificationFilter",
          "description": "Gets and sets the property filter. The filtering rules that determine which objects trigger notifications. Specifies object key name filtering rules."
        },
        "queue": {
          "type": "string",
          "description": "Gets and sets the property queue. The Amazon Resource Name (ARN) of the Amazon SQS queue to which Amazon S3 publishes a message when it detects events of the specified type."
        }
      }
    },
    "RedirectAllRequestsTo": {
      "type": "object",
      "description": "Definition of RedirectAllRequestsTo",
      "properties": {
        "hostName": {
          "type": "string",
          "description": "Gets and sets the property hostName. Name of the host where requests are redirected."
        },
        "protocol": {
          "$ref": "#/definitions/RedirectAllRequestsToProtocol",
          "description": "Gets and sets the property protocol. Protocol to use when redirecting requests. The default is the protocol that is used in the original request."
        }
      }
    },
    "RedirectAllRequestsToProtocol": {
      "type": "string",
      "description": "RedirectAllRequestsToProtocol enum",
      "enum": [
        "http",
        "https"
      ],
      "x-ms-enum": {
        "name": "RedirectAllRequestsToProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "http",
            "value": "http",
            "description": "RedirectAllRequestsToProtocol enum http"
          },
          {
            "name": "https",
            "value": "https",
            "description": "RedirectAllRequestsToProtocol enum https"
          }
        ]
      }
    },
    "RedirectRule": {
      "type": "object",
      "description": "Definition of RedirectRule",
      "properties": {
        "hostName": {
          "type": "string",
          "description": "Gets and sets the property hostName. The host name to use in the redirect request."
        },
        "httpRedirectCode": {
          "type": "string",
          "description": "Gets and sets the property httpRedirectCode. The HTTP redirect code to use on the response. Not required if one of the siblings is present."
        },
        "protocol": {
          "$ref": "#/definitions/RedirectRuleProtocol",
          "description": "Gets and sets the property protocol. Protocol to use when redirecting requests. The default is the protocol that is used in the original request."
        },
        "replaceKeyPrefixWith": {
          "type": "string",
          "description": "Gets and sets the property replaceKeyPrefixWith. The object key prefix to use in the redirect request."
        },
        "replaceKeyWith": {
          "type": "string",
          "description": "Gets and sets the property replaceKeyWith. The specific object key to use in the redirect request.d"
        }
      }
    },
    "RedirectRuleProtocol": {
      "type": "string",
      "description": "RedirectRuleProtocol enum",
      "enum": [
        "http",
        "https"
      ],
      "x-ms-enum": {
        "name": "RedirectRuleProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "http",
            "value": "http",
            "description": "RedirectRuleProtocol enum http"
          },
          {
            "name": "https",
            "value": "https",
            "description": "RedirectRuleProtocol enum https"
          }
        ]
      }
    },
    "ReplicaModifications": {
      "type": "object",
      "description": "Definition of ReplicaModifications",
      "properties": {
        "status": {
          "$ref": "#/definitions/ReplicaModificationsStatus",
          "description": "Gets and sets the property status. Specifies whether Amazon S3 replicates modifications on replicas."
        }
      }
    },
    "ReplicaModificationsStatus": {
      "type": "string",
      "description": "ReplicaModificationsStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "ReplicaModificationsStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "ReplicaModificationsStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "ReplicaModificationsStatus enum Enabled"
          }
        ]
      }
    },
    "ReplicationConfiguration": {
      "type": "object",
      "description": "Definition of ReplicationConfiguration",
      "properties": {
        "role": {
          "type": "string",
          "description": "Gets and sets the property role. The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that Amazon S3 assumes when replicating objects."
        },
        "rules": {
          "type": "array",
          "description": "Gets and sets the property rules. A container for one or more replication rules.",
          "items": {
            "$ref": "#/definitions/ReplicationRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ReplicationDestination": {
      "type": "object",
      "description": "Definition of ReplicationDestination",
      "properties": {
        "accessControlTranslation": {
          "$ref": "#/definitions/AccessControlTranslation",
          "description": "Gets and sets the property accessControlTranslation. Specify this only in a cross-account scenario (where source and destination bucket owners are not the same), and you want to change replica ownership to the AWS account that owns the destination bucket. If this is not specified in the replication configuration, the replicas are owned by same AWS account that owns the source object."
        },
        "account": {
          "type": "string",
          "description": "Gets and sets the property account."
        },
        "bucket": {
          "type": "string",
          "description": "Gets and sets the property bucket."
        },
        "encryptionConfiguration": {
          "$ref": "#/definitions/EncryptionConfiguration",
          "description": "Gets and sets the property encryptionConfiguration. Specifies encryption-related information for an Amazon S3 bucket that is a destination for replicated objects."
        },
        "metrics": {
          "$ref": "#/definitions/Metrics",
          "description": "Gets and sets the property metrics."
        },
        "replicationTime": {
          "$ref": "#/definitions/ReplicationTime",
          "description": "Gets and sets the property replicationTime."
        },
        "storageClass": {
          "$ref": "#/definitions/ReplicationDestinationStorageClass",
          "description": "Gets and sets the property storageClass. The storage class to use when replicating objects, such as S3 Standard or reduced redundancy."
        }
      }
    },
    "ReplicationDestinationStorageClass": {
      "type": "string",
      "description": "ReplicationDestinationStorageClass enum",
      "enum": [
        "DEEP_ARCHIVE",
        "GLACIER",
        "GLACIER_IR",
        "INTELLIGENT_TIERING",
        "ONEZONE_IA",
        "REDUCED_REDUNDANCY",
        "STANDARD",
        "STANDARD_IA"
      ],
      "x-ms-enum": {
        "name": "ReplicationDestinationStorageClass",
        "modelAsString": true,
        "values": [
          {
            "name": "DEEP_ARCHIVE",
            "value": "DEEP_ARCHIVE",
            "description": "ReplicationDestinationStorageClass enum DEEP_ARCHIVE"
          },
          {
            "name": "GLACIER",
            "value": "GLACIER",
            "description": "ReplicationDestinationStorageClass enum GLACIER"
          },
          {
            "name": "GLACIER_IR",
            "value": "GLACIER_IR",
            "description": "ReplicationDestinationStorageClass enum GLACIER_IR"
          },
          {
            "name": "INTELLIGENT_TIERING",
            "value": "INTELLIGENT_TIERING",
            "description": "ReplicationDestinationStorageClass enum INTELLIGENT_TIERING"
          },
          {
            "name": "ONEZONE_IA",
            "value": "ONEZONE_IA",
            "description": "ReplicationDestinationStorageClass enum ONEZONE_IA"
          },
          {
            "name": "REDUCED_REDUNDANCY",
            "value": "REDUCED_REDUNDANCY",
            "description": "ReplicationDestinationStorageClass enum REDUCED_REDUNDANCY"
          },
          {
            "name": "STANDARD",
            "value": "STANDARD",
            "description": "ReplicationDestinationStorageClass enum STANDARD"
          },
          {
            "name": "STANDARD_IA",
            "value": "STANDARD_IA",
            "description": "ReplicationDestinationStorageClass enum STANDARD_IA"
          }
        ]
      }
    },
    "ReplicationRule": {
      "type": "object",
      "description": "Definition of ReplicationRule",
      "properties": {
        "deleteMarkerReplication": {
          "$ref": "#/definitions/DeleteMarkerReplication",
          "description": "Gets and sets the property deleteMarkerReplication."
        },
        "destination": {
          "$ref": "#/definitions/ReplicationDestination",
          "description": "Gets and sets the property destination. Specifies which Amazon S3 bucket to store replicated objects in and their storage class."
        },
        "filter": {
          "$ref": "#/definitions/ReplicationRuleFilter",
          "description": "Gets and sets the property filter."
        },
        "id": {
          "type": "string",
          "description": "Gets and sets the property id. A unique identifier for the rule."
        },
        "prefix": {
          "type": "string",
          "description": "Gets and sets the property prefix. An object key name prefix that identifies the object or objects to which the rule applies."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property priority."
        },
        "sourceSelectionCriteria": {
          "$ref": "#/definitions/SourceSelectionCriteria",
          "description": "Gets and sets the property sourceSelectionCriteria. A container that describes additional filters for identifying the source objects that you want to replicate."
        },
        "status": {
          "$ref": "#/definitions/ReplicationRuleStatus",
          "description": "Gets and sets the property status. Specifies whether the rule is enabled."
        }
      }
    },
    "ReplicationRuleAndOperator": {
      "type": "object",
      "description": "Definition of ReplicationRuleAndOperator",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "Gets and sets the property prefix."
        },
        "tagFilters": {
          "type": "array",
          "description": "Gets and sets the property tagFilters.",
          "items": {
            "$ref": "#/definitions/TagFilter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ReplicationRuleFilter": {
      "type": "object",
      "description": "Definition of ReplicationRuleFilter",
      "properties": {
        "and": {
          "$ref": "#/definitions/ReplicationRuleAndOperator",
          "description": "Gets and sets the property and."
        },
        "prefix": {
          "type": "string",
          "description": "Gets and sets the property prefix."
        },
        "tagFilter": {
          "$ref": "#/definitions/TagFilter",
          "description": "Gets and sets the property tagFilter. Tags to use to identify a subset of objects for an Amazon S3 bucket."
        }
      }
    },
    "ReplicationRuleStatus": {
      "type": "string",
      "description": "ReplicationRuleStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "ReplicationRuleStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "ReplicationRuleStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "ReplicationRuleStatus enum Enabled"
          }
        ]
      }
    },
    "ReplicationTime": {
      "type": "object",
      "description": "Definition of ReplicationTime",
      "properties": {
        "status": {
          "$ref": "#/definitions/ReplicationTimeStatus",
          "description": "Gets and sets the property status."
        },
        "time": {
          "$ref": "#/definitions/ReplicationTimeValue",
          "description": "Gets and sets the property time."
        }
      }
    },
    "ReplicationTimeStatus": {
      "type": "string",
      "description": "ReplicationTimeStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "ReplicationTimeStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "ReplicationTimeStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "ReplicationTimeStatus enum Enabled"
          }
        ]
      }
    },
    "ReplicationTimeValue": {
      "type": "object",
      "description": "Definition of ReplicationTimeValue",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property minutes."
        }
      }
    },
    "RoutingRule": {
      "type": "object",
      "description": "Definition of RoutingRule",
      "properties": {
        "redirectRule": {
          "$ref": "#/definitions/RedirectRule",
          "description": "Gets and sets the property redirectRule. Container for redirect information. You can redirect requests to another host, to another page, or with another protocol. In the event of an error, you can specify a different error code to return. Specifies how requests are redirected. In the event of an error, you can specify a different error code to return."
        },
        "routingRuleCondition": {
          "$ref": "#/definitions/RoutingRuleCondition",
          "description": "Gets and sets the property routingRuleCondition. A container for describing a condition that must be met for the specified redirect to apply.You must specify at least one of HttpErrorCodeReturnedEquals and KeyPrefixEquals"
        }
      }
    },
    "RoutingRuleCondition": {
      "type": "object",
      "description": "Definition of RoutingRuleCondition",
      "properties": {
        "httpErrorCodeReturnedEquals": {
          "type": "string",
          "description": "Gets and sets the property httpErrorCodeReturnedEquals. The HTTP error code when the redirect is applied. "
        },
        "keyPrefixEquals": {
          "type": "string",
          "description": "Gets and sets the property keyPrefixEquals. The object key name prefix when the redirect is applied."
        }
      }
    },
    "Rule": {
      "type": "object",
      "description": "Definition of Rule",
      "properties": {
        "abortIncompleteMultipartUpload": {
          "$ref": "#/definitions/AbortIncompleteMultipartUpload",
          "description": "Gets and sets the property abortIncompleteMultipartUpload. Specifies the days since the initiation of an incomplete multipart upload that Amazon S3 will wait before permanently removing all parts of the upload."
        },
        "expirationDate": {
          "type": "string",
          "description": "Gets and sets the property expirationDate. The date value in ISO 8601 format. The timezone is always UTC. (YYYY-MM-DDThh:mm:ssZ)"
        },
        "expirationInDays": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property expirationInDays."
        },
        "expiredObjectDeleteMarker": {
          "type": "boolean",
          "description": "Gets and sets the property expiredObjectDeleteMarker."
        },
        "id": {
          "type": "string",
          "description": "Gets and sets the property id."
        },
        "noncurrentVersionExpiration": {
          "$ref": "#/definitions/NoncurrentVersionExpiration",
          "description": "Gets and sets the property noncurrentVersionExpiration. Container for the expiration rule that describes when noncurrent objects are expired. If your bucket is versioning-enabled (or versioning is suspended), you can set this action to request that Amazon S3 expire noncurrent object versions at a specific period in the object's lifetime"
        },
        "noncurrentVersionExpirationInDays": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property noncurrentVersionExpirationInDays."
        },
        "noncurrentVersionTransition": {
          "$ref": "#/definitions/NoncurrentVersionTransition",
          "description": "Gets and sets the property noncurrentVersionTransition. Container for the transition rule that describes when noncurrent objects transition to the STANDARD_IA, ONEZONE_IA, INTELLIGENT_TIERING, GLACIER_IR, GLACIER, or DEEP_ARCHIVE storage class. If your bucket is versioning-enabled (or versioning is suspended), you can set this action to request that Amazon S3 transition noncurrent object versions to the STANDARD_IA, ONEZONE_IA, INTELLIGENT_TIERING, GLACIER_IR, GLACIER, or DEEP_ARCHIVE storage class at a specific period in the object's lifetime."
        },
        "noncurrentVersionTransitions": {
          "type": "array",
          "description": "Gets and sets the property noncurrentVersionTransitions.",
          "items": {
            "$ref": "#/definitions/NoncurrentVersionTransition"
          },
          "x-ms-identifiers": []
        },
        "objectSizeGreaterThan": {
          "type": "string",
          "description": "Gets and sets the property objectSizeGreaterThan."
        },
        "objectSizeLessThan": {
          "type": "string",
          "description": "Gets and sets the property objectSizeLessThan."
        },
        "prefix": {
          "type": "string",
          "description": "Gets and sets the property prefix."
        },
        "status": {
          "$ref": "#/definitions/RuleStatus",
          "description": "Gets and sets the property status."
        },
        "tagFilters": {
          "type": "array",
          "description": "Gets and sets the property tagFilters.",
          "items": {
            "$ref": "#/definitions/TagFilter"
          },
          "x-ms-identifiers": []
        },
        "transition": {
          "$ref": "#/definitions/Transition",
          "description": "Gets and sets the property transition. You must specify at least one of 'TransitionDate' and 'TransitionInDays'"
        },
        "transitions": {
          "type": "array",
          "description": "Gets and sets the property transitions.",
          "items": {
            "$ref": "#/definitions/Transition"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RuleStatus": {
      "type": "string",
      "description": "RuleStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "RuleStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "RuleStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "RuleStatus enum Enabled"
          }
        ]
      }
    },
    "S3Bucket": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/S3BucketProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "S3BucketListResult": {
      "type": "object",
      "description": "The response of a S3Bucket list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The S3Bucket items on this page",
          "items": {
            "$ref": "#/definitions/S3Bucket"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "S3BucketProperties": {
      "type": "object",
      "description": "Definition of S3Bucket",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsS3BucketProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "S3BucketTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in S3Bucket resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "S3KeyFilter": {
      "type": "object",
      "description": "Definition of S3KeyFilter",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Gets and sets the property rules.",
          "items": {
            "$ref": "#/definitions/FilterRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ServerSideEncryptionByDefault": {
      "type": "object",
      "description": "Definition of ServerSideEncryptionByDefault",
      "properties": {
        "kmsMasterKeyID": {
          "type": "string",
          "description": "Gets and sets the property kmsMasterKeyID. 'KMSMasterKeyID' can only be used when you set the value of SSEAlgorithm as aws:kms or aws:kms:dsse."
        },
        "sseAlgorithm": {
          "$ref": "#/definitions/ServerSideEncryptionByDefaultSSEAlgorithm",
          "description": "Gets and sets the property sseAlgorithm."
        }
      }
    },
    "ServerSideEncryptionByDefaultSSEAlgorithm": {
      "type": "string",
      "description": "ServerSideEncryptionByDefaultSSEAlgorithm enum",
      "enum": [
        "AES256",
        "aws:kms",
        "aws:kms:dsse"
      ],
      "x-ms-enum": {
        "name": "ServerSideEncryptionByDefaultSSEAlgorithm",
        "modelAsString": true,
        "values": [
          {
            "name": "AES256",
            "value": "AES256",
            "description": "ServerSideEncryptionByDefaultSSEAlgorithm enum AES256"
          },
          {
            "name": "AwsKms",
            "value": "aws:kms",
            "description": "ServerSideEncryptionByDefaultSSEAlgorithm enum aws:kms"
          },
          {
            "name": "AwsKmsDsse",
            "value": "aws:kms:dsse",
            "description": "ServerSideEncryptionByDefaultSSEAlgorithm enum aws:kms:dsse"
          }
        ]
      }
    },
    "ServerSideEncryptionRule": {
      "type": "object",
      "description": "Definition of ServerSideEncryptionRule",
      "properties": {
        "bucketKeyEnabled": {
          "type": "boolean",
          "description": "Gets and sets the property bucketKeyEnabled. Specifies whether Amazon S3 should use an S3 Bucket Key with server-side encryption using KMS (SSE-KMS) for new objects in the bucket. Existing objects are not affected. Setting the BucketKeyEnabled element to true causes Amazon S3 to use an S3 Bucket Key. By default, S3 Bucket Key is not enabled."
        },
        "serverSideEncryptionByDefault": {
          "$ref": "#/definitions/ServerSideEncryptionByDefault",
          "description": "Gets and sets the property serverSideEncryptionByDefault. Specifies the default server-side encryption to apply to new objects in the bucket. If a PUT Object request doesn't specify any server-side encryption, this default encryption will be applied."
        }
      }
    },
    "SourceSelectionCriteria": {
      "type": "object",
      "description": "Definition of SourceSelectionCriteria",
      "properties": {
        "replicaModifications": {
          "$ref": "#/definitions/ReplicaModifications",
          "description": "Gets and sets the property replicaModifications. A filter that you can specify for selection for modifications on replicas."
        },
        "sseKmsEncryptedObjects": {
          "$ref": "#/definitions/SseKmsEncryptedObjects",
          "description": "Gets and sets the property sseKmsEncryptedObjects. A container for filter information for the selection of Amazon S3 objects encrypted with AWS KMS. A container for filter information for the selection of S3 objects encrypted with AWS KMS."
        }
      }
    },
    "SseKmsEncryptedObjects": {
      "type": "object",
      "description": "Definition of SseKmsEncryptedObjects",
      "properties": {
        "status": {
          "$ref": "#/definitions/SseKmsEncryptedObjectsStatus",
          "description": "Gets and sets the property status. Specifies whether Amazon S3 replicates objects created with server-side encryption using a customer master key (CMK) stored in AWS Key Management Service."
        }
      }
    },
    "SseKmsEncryptedObjectsStatus": {
      "type": "string",
      "description": "SseKmsEncryptedObjectsStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "SseKmsEncryptedObjectsStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "SseKmsEncryptedObjectsStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "SseKmsEncryptedObjectsStatus enum Enabled"
          }
        ]
      }
    },
    "StorageClassAnalysis": {
      "type": "object",
      "description": "Definition of StorageClassAnalysis",
      "properties": {
        "dataExport": {
          "$ref": "#/definitions/DataExport",
          "description": "Gets and sets the property dataExport. Specifies how data related to the storage class analysis for an Amazon S3 bucket should be exported."
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "TagFilter": {
      "type": "object",
      "description": "Definition of TagFilter",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "TargetObjectKeyFormat": {
      "type": "object",
      "description": "Definition of TargetObjectKeyFormat",
      "properties": {
        "simplePrefix": {
          "description": "Gets and sets the property simplePrefix. This format defaults the prefix to the given log file prefix for delivering server access log file."
        },
        "partitionedPrefix": {
          "$ref": "#/definitions/PartitionedPrefix",
          "description": "Gets and sets the property partitionedPrefix. This format appends a time based prefix to the given log file prefix for delivering server access log file."
        }
      }
    },
    "Tiering": {
      "type": "object",
      "description": "Definition of Tiering",
      "properties": {
        "accessTier": {
          "$ref": "#/definitions/TieringAccessTier",
          "description": "Gets and sets the property accessTier. S3 Intelligent-Tiering access tier. See Storage class for automatically optimizing frequently and infrequently accessed objects for a list of access tiers in the S3 Intelligent-Tiering storage class."
        },
        "days": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property days. The number of consecutive days of no access after which an object will be eligible to be transitioned to the corresponding tier. The minimum number of days specified for Archive Access tier must be at least 90 days and Deep Archive Access tier must be at least 180 days. The maximum can be up to 2 years (730 days)."
        }
      }
    },
    "TieringAccessTier": {
      "type": "string",
      "description": "TieringAccessTier enum",
      "enum": [
        "ARCHIVE_ACCESS",
        "DEEP_ARCHIVE_ACCESS"
      ],
      "x-ms-enum": {
        "name": "TieringAccessTier",
        "modelAsString": true,
        "values": [
          {
            "name": "ARCHIVE_ACCESS",
            "value": "ARCHIVE_ACCESS",
            "description": "TieringAccessTier enum ARCHIVE_ACCESS"
          },
          {
            "name": "DEEP_ARCHIVE_ACCESS",
            "value": "DEEP_ARCHIVE_ACCESS",
            "description": "TieringAccessTier enum DEEP_ARCHIVE_ACCESS"
          }
        ]
      }
    },
    "TopicConfiguration": {
      "type": "object",
      "description": "Definition of TopicConfiguration",
      "properties": {
        "event": {
          "type": "string",
          "description": "Gets and sets the property event. The Amazon S3 bucket event about which to send notifications."
        },
        "filter": {
          "$ref": "#/definitions/NotificationFilter",
          "description": "Gets and sets the property filter. The filtering rules that determine for which objects to send notifications. Specifies object key name filtering rules."
        },
        "topic": {
          "type": "string",
          "description": "Gets and sets the property topic. The Amazon Resource Name (ARN) of the Amazon SNS topic to which Amazon S3 publishes a message when it detects events of the specified type."
        }
      }
    },
    "Transition": {
      "type": "object",
      "description": "Definition of Transition",
      "properties": {
        "storageClass": {
          "$ref": "#/definitions/TransitionStorageClass",
          "description": "Gets and sets the property storageClass."
        },
        "transitionDate": {
          "type": "string",
          "description": "Gets and sets the property transitionDate. The date value in ISO 8601 format. The timezone is always UTC. (YYYY-MM-DDThh:mm:ssZ)"
        },
        "transitionInDays": {
          "type": "integer",
          "format": "int32",
          "description": "Gets and sets the property transitionInDays."
        }
      }
    },
    "TransitionStorageClass": {
      "type": "string",
      "description": "TransitionStorageClass enum",
      "enum": [
        "DEEP_ARCHIVE",
        "GLACIER",
        "GLACIER_IR",
        "INTELLIGENT_TIERING",
        "ONEZONE_IA",
        "STANDARD_IA"
      ],
      "x-ms-enum": {
        "name": "TransitionStorageClass",
        "modelAsString": true,
        "values": [
          {
            "name": "DEEP_ARCHIVE",
            "value": "DEEP_ARCHIVE",
            "description": "TransitionStorageClass enum DEEP_ARCHIVE"
          },
          {
            "name": "GLACIER",
            "value": "GLACIER",
            "description": "TransitionStorageClass enum GLACIER"
          },
          {
            "name": "GLACIER_IR",
            "value": "GLACIER_IR",
            "description": "TransitionStorageClass enum GLACIER_IR"
          },
          {
            "name": "INTELLIGENT_TIERING",
            "value": "INTELLIGENT_TIERING",
            "description": "TransitionStorageClass enum INTELLIGENT_TIERING"
          },
          {
            "name": "ONEZONE_IA",
            "value": "ONEZONE_IA",
            "description": "TransitionStorageClass enum ONEZONE_IA"
          },
          {
            "name": "STANDARD_IA",
            "value": "STANDARD_IA",
            "description": "TransitionStorageClass enum STANDARD_IA"
          }
        ]
      }
    },
    "VersioningConfiguration": {
      "type": "object",
      "description": "Definition of VersioningConfiguration",
      "properties": {
        "status": {
          "$ref": "#/definitions/VersioningConfigurationStatus",
          "description": "Gets and sets the property status. The versioning state of the bucket."
        }
      }
    },
    "VersioningConfigurationStatus": {
      "type": "string",
      "description": "VersioningConfigurationStatus enum",
      "enum": [
        "Enabled",
        "Suspended"
      ],
      "x-ms-enum": {
        "name": "VersioningConfigurationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "VersioningConfigurationStatus enum Enabled"
          },
          {
            "name": "Suspended",
            "value": "Suspended",
            "description": "VersioningConfigurationStatus enum Suspended"
          }
        ]
      }
    },
    "WebsiteConfiguration": {
      "type": "object",
      "description": "Definition of WebsiteConfiguration",
      "properties": {
        "errorDocument": {
          "type": "string",
          "description": "Gets and sets the property errorDocument. The name of the error document for the website."
        },
        "indexDocument": {
          "type": "string",
          "description": "Gets and sets the property indexDocument. The name of the index document for the website."
        },
        "redirectAllRequestsTo": {
          "$ref": "#/definitions/RedirectAllRequestsTo",
          "description": "Gets and sets the property redirectAllRequestsTo. Specifies the redirect behavior of all requests to a website endpoint of an Amazon S3 bucket."
        },
        "routingRules": {
          "type": "array",
          "description": "Gets and sets the property routingRules.",
          "items": {
            "$ref": "#/definitions/RoutingRule"
          },
          "x-ms-identifiers": []
        }
      }
    }
  },
  "parameters": {}
}
