{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SnsTopics"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/snsTopics": {
      "get": {
        "operationId": "SnsTopics_ListBySubscription",
        "tags": [
          "SnsTopics"
        ],
        "description": "List SnsTopic resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SnsTopicListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SnsTopics_ListBySubscription": {
            "$ref": "./examples/SnsTopics_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/snsTopics": {
      "get": {
        "operationId": "SnsTopics_ListByResourceGroup",
        "tags": [
          "SnsTopics"
        ],
        "description": "List SnsTopic resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SnsTopicListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SnsTopics_ListByResourceGroup": {
            "$ref": "./examples/SnsTopics_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/snsTopics/{name}": {
      "get": {
        "operationId": "SnsTopics_Get",
        "tags": [
          "SnsTopics"
        ],
        "description": "Get a SnsTopic",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SnsTopic",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SnsTopic"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SnsTopics_Get": {
            "$ref": "./examples/SnsTopics_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SnsTopics_CreateOrUpdate",
        "tags": [
          "SnsTopics"
        ],
        "description": "Create a SnsTopic. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SnsTopic",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SnsTopic"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SnsTopic' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SnsTopic"
            }
          },
          "201": {
            "description": "Resource 'SnsTopic' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SnsTopic"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SnsTopics_CreateOrUpdate": {
            "$ref": "./examples/SnsTopics_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SnsTopics_Update",
        "tags": [
          "SnsTopics"
        ],
        "description": "Update a SnsTopic",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SnsTopic",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SnsTopicTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SnsTopic"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SnsTopics_Update": {
            "$ref": "./examples/SnsTopics_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SnsTopics_Delete",
        "tags": [
          "SnsTopics"
        ],
        "description": "Delete a SnsTopic",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SnsTopic",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SnsTopics_Delete": {
            "$ref": "./examples/SnsTopics_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsSnsTopicProperties": {
      "type": "object",
      "description": "Definition of awsSnsTopic",
      "properties": {
        "archivePolicy": {
          "description": "Gets and sets the property archivePolicy. The archive policy determines the number of days Amazon SNS retains messages. You can set a retention period from 1 to 365 days."
        },
        "contentBasedDeduplication": {
          "type": "boolean",
          "description": "Gets and sets the property contentBasedDeduplication. Enables content-based deduplication for FIFO topics. By default, ContentBasedDeduplication is set to false. If you create a FIFO topic and this attribute is false, you must specify a value for the MessageDeduplicationId parameter for the Publish action.When you set ContentBasedDeduplication to true, Amazon SNS uses a SHA-256 hash to generate the MessageDeduplicationId using the body of the message (but not the attributes of the message).(Optional) To override the generated value, you can specify a value for the the MessageDeduplicationId parameter for the Publish action."
        },
        "dataProtectionPolicy": {
          "description": "Gets and sets the property dataProtectionPolicy. The body of the policy document you want to use for this topic.You can only add one policy per topic.The policy must be in JSON string format.Length Constraints: Maximum length of 30720"
        },
        "deliveryStatusLogging": {
          "type": "array",
          "description": "Gets and sets the property deliveryStatusLogging. Delivery status logging configuration for supported protocols for an Amazon SNS topic.",
          "items": {
            "$ref": "#/definitions/LoggingConfig"
          },
          "x-ms-identifiers": []
        },
        "displayName": {
          "type": "string",
          "description": "Gets and sets the property displayName. The display name to use for an Amazon SNS topic with SMS subscriptions."
        },
        "fifoTopic": {
          "type": "boolean",
          "description": "Gets and sets the property fifoTopic. Set to true to create a FIFO topic."
        },
        "kmsMasterKeyId": {
          "type": "string",
          "description": "Gets and sets the property kmsMasterKeyId. The ID of an AWS-managed customer master key (CMK) for Amazon SNS or a custom CMK. For more information, see Key Terms. For more examples, see KeyId in the AWS Key Management Service API Reference.This property applies only to [server-side-encryption](https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html)."
        },
        "signatureVersion": {
          "type": "string",
          "description": "Gets and sets the property signatureVersion. Version of the Amazon SNS signature used. If the SignatureVersion is 1, Signature is a Base64-encoded SHA1withRSA signature of the Message, MessageId, Type, Timestamp, and TopicArn values. If the SignatureVersion is 2, Signature is a Base64-encoded SHA256withRSA signature of the Message, MessageId, Type, Timestamp, and TopicArn values."
        },
        "subscription": {
          "type": "array",
          "description": "Gets and sets the property subscription. The SNS subscriptions (endpoints) for this topic.",
          "items": {
            "$ref": "#/definitions/Subscription"
          },
          "x-ms-identifiers": []
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "topicArn": {
          "type": "string",
          "description": "Gets and sets the property topicArn."
        },
        "topicName": {
          "type": "string",
          "description": "Gets and sets the property topicName. The name of the topic you want to create. Topic names must include only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long. FIFO topic names must end with .fifo.If you don't specify a name, AWS CloudFormation generates a unique physical ID and uses that ID for the topic name. For more information, see Name Type."
        },
        "tracingConfig": {
          "type": "string",
          "description": "Gets and sets the property tracingConfig. Tracing mode of an Amazon SNS topic. By default TracingConfig is set to PassThrough, and the topic passes through the tracing header it receives from an SNS publisher to its subscriptions. If set to Active, SNS will vend X-Ray segment data to topic owner account if the sampled flag in the tracing header is true. Only supported on standard topics."
        }
      }
    },
    "LoggingConfig": {
      "type": "object",
      "description": "Definition of LoggingConfig",
      "properties": {
        "failureFeedbackRoleArn": {
          "type": "string",
          "description": "Gets and sets the property failureFeedbackRoleArn. The IAM role ARN to be used when logging failed message deliveries in Amazon CloudWatch"
        },
        "protocol": {
          "$ref": "#/definitions/LoggingConfigProtocol",
          "description": "Gets and sets the property protocol. Indicates one of the supported protocols for the SNS topic"
        },
        "successFeedbackRoleArn": {
          "type": "string",
          "description": "Gets and sets the property successFeedbackRoleArn. The IAM role ARN to be used when logging successful message deliveries in Amazon CloudWatch"
        },
        "successFeedbackSampleRate": {
          "type": "string",
          "description": "Gets and sets the property successFeedbackSampleRate. The percentage of successful message deliveries to be logged in Amazon CloudWatch. Valid percentage values range from 0 to 100"
        }
      }
    },
    "LoggingConfigProtocol": {
      "type": "string",
      "description": "LoggingConfigProtocol enum",
      "enum": [
        "application",
        "firehose",
        "http/s",
        "lambda",
        "sqs"
      ],
      "x-ms-enum": {
        "name": "LoggingConfigProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "application",
            "value": "application",
            "description": "LoggingConfigProtocol enum application"
          },
          {
            "name": "firehose",
            "value": "firehose",
            "description": "LoggingConfigProtocol enum firehose"
          },
          {
            "name": "HttpS",
            "value": "http/s",
            "description": "LoggingConfigProtocol enum http/s"
          },
          {
            "name": "lambda",
            "value": "lambda",
            "description": "LoggingConfigProtocol enum lambda"
          },
          {
            "name": "sqs",
            "value": "sqs",
            "description": "LoggingConfigProtocol enum sqs"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "SnsTopic": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SnsTopicProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SnsTopicListResult": {
      "type": "object",
      "description": "The response of a SnsTopic list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SnsTopic items on this page",
          "items": {
            "$ref": "#/definitions/SnsTopic"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SnsTopicProperties": {
      "type": "object",
      "description": "Definition of SnsTopic",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsSnsTopicProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "SnsTopicTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in SnsTopic resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Subscription": {
      "type": "object",
      "description": "Definition of Subscription",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Gets and sets the property endpoint."
        },
        "protocol": {
          "type": "string",
          "description": "Gets and sets the property protocol."
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key. The key name of the tag. You can specify a value that is 1 to 128 Unicode characters in length and cannot be prefixed with aws:. You can use any of the following characters: the set of Unicode letters, digits, whitespace, `_`, `.`, `/`, `=`, `+`, and `-`."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value. The value for the tag. You can specify a value that is 0 to 256 characters in length."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "Api versions",
      "enum": [
        "2024-08-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-08-01-preview",
            "value": "2024-08-01-preview",
            "description": "2024-08-01-preview api version"
          }
        ]
      }
    }
  },
  "parameters": {}
}
