{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-08-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Wafv2IPSets"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/wafv2IPSets": {
      "get": {
        "operationId": "Wafv2IpSets_ListBySubscription",
        "tags": [
          "Wafv2IPSets"
        ],
        "description": "List Wafv2IPSet resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Wafv2IPSetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2IpSets_ListBySubscription": {
            "$ref": "./examples/Wafv2IpSets_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/wafv2IPSets": {
      "get": {
        "operationId": "Wafv2IpSets_ListByResourceGroup",
        "tags": [
          "Wafv2IPSets"
        ],
        "description": "List Wafv2IPSet resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Wafv2IPSetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2IpSets_ListByResourceGroup": {
            "$ref": "./examples/Wafv2IpSets_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/wafv2IPSets/{name}": {
      "get": {
        "operationId": "Wafv2IpSets_Get",
        "tags": [
          "Wafv2IPSets"
        ],
        "description": "Get a Wafv2IPSet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Wafv2IPSet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Wafv2IPSet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2IpSets_Get": {
            "$ref": "./examples/Wafv2IpSets_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Wafv2IpSets_CreateOrUpdate",
        "tags": [
          "Wafv2IPSets"
        ],
        "description": "Create a Wafv2IPSet. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Wafv2IPSet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Wafv2IPSet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Wafv2IPSet' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Wafv2IPSet"
            }
          },
          "201": {
            "description": "Resource 'Wafv2IPSet' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Wafv2IPSet"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2IpSets_CreateOrUpdate": {
            "$ref": "./examples/Wafv2IpSets_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Wafv2IpSets_Update",
        "tags": [
          "Wafv2IPSets"
        ],
        "description": "Update a Wafv2IPSet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Wafv2IPSet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Wafv2IPSetTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Wafv2IPSet"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2IpSets_Update": {
            "$ref": "./examples/Wafv2IpSets_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Wafv2IpSets_Delete",
        "tags": [
          "Wafv2IPSets"
        ],
        "description": "Delete a Wafv2IPSet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Wafv2IPSet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2IpSets_Delete": {
            "$ref": "./examples/Wafv2IpSets_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsWafv2IPSetProperties": {
      "type": "object",
      "description": "Definition of awsWafv2IPSet",
      "properties": {
        "addresses": {
          "type": "array",
          "description": "Gets and sets the property addresses. List of IPAddresses.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "arn": {
          "type": "string",
          "description": "Gets and sets the property arn. ARN of the WAF entity."
        },
        "description": {
          "type": "string",
          "description": "Gets and sets the property description. Description of the entity."
        },
        "ipAddressVersion": {
          "type": "string",
          "description": "Gets and sets the property ipAddressVersion. Type of addresses in the IPSet, use IPV4 for IPV4 IP addresses, IPV6 for IPV6 address."
        },
        "id": {
          "type": "string",
          "description": "Gets and sets the property id. Id of the IPSet"
        },
        "name": {
          "type": "string",
          "description": "Gets and sets the property name. Name of the IPSet."
        },
        "scope": {
          "type": "string",
          "description": "Gets and sets the property scope. Use CLOUDFRONT for CloudFront IPSet, use REGIONAL for Application Load Balancer and API Gateway."
        },
        "tags": {
          "type": "array",
          "description": "Gets and sets the property tags.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Gets and sets the property key."
        },
        "value": {
          "type": "string",
          "description": "Gets and sets the property value."
        }
      }
    },
    "Wafv2IPSet": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Wafv2IPSetProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "Wafv2IPSetListResult": {
      "type": "object",
      "description": "The response of a Wafv2IPSet list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Wafv2IPSet items on this page",
          "items": {
            "$ref": "#/definitions/Wafv2IPSet"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Wafv2IPSetProperties": {
      "type": "object",
      "description": "Definition of Wafv2IPSet",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsWafv2IPSetProperties",
          "description": "Gets and sets the property awsProperties."
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Gets and sets the property publicCloudConnectorsResourceId."
        },
        "awsAccountId": {
          "type": "string",
          "description": "Gets and sets the property awsAccountId."
        },
        "awsResourceName": {
          "type": "string",
          "description": "Gets and sets the property awsResourceName."
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "Gets and sets the property awsSourceSchema."
        },
        "awsSdkVersion": {
          "type": "string",
          "description": "Gets and sets the property awsSdkVersion."
        },
        "awsRegion": {
          "type": "string",
          "description": "Gets and sets the property awsRegion."
        },
        "awsTags": {
          "type": "object",
          "description": "Gets and sets the property awsTags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets and sets the property provisioningState.The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "Wafv2IPSetTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in Wafv2IPSet resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
