{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "Azure Media Services",
    "description": "This Swagger was generated by the API Framework.",
    "version": "2019-09-01-preview"
  },
  "host": "management.azure.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "definitions": {
    "MediaGraphProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Media Graph  description"
        },
        "state": {
          "type": "string",
          "enum": [
            "Running",
            "Starting",
            "Stopped",
            "Stopping"
          ],
          "x-ms-enum": {
            "name": "MediaGraphState",
            "values": [
              {
                "value": "Running",
                "description": "Media Graph is Running"
              },
              {
                "value": "Starting",
                "description": "Media Graph is Starting"
              },
              {
                "value": "Stopped",
                "description": "Media Graph has Stopped"
              },
              {
                "value": "Stopping",
                "description": "Media Graph is Stopping"
              }
            ],
            "modelAsString": true
          },
          "description": "Media Graph state",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Date the Media Graph was created",
          "readOnly": true,
          "x-nullable": false
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "description": "Date the Media Graph was last modified",
          "readOnly": true,
          "x-nullable": false
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaGraphSource"
          },
          "description": "Media Graph sources"
        },
        "sinks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaGraphSink"
          },
          "description": "Media Graph sinks"
        }
      },
      "type": "object",
      "required": [
        "sources",
        "sinks"
      ],
      "description": "Class for Media Graph properties"
    },
    "MediaGraphSource": {
      "discriminator": "@odata.type",
      "properties": {
        "@odata.type": {
          "type": "string",
          "description": "The discriminator for derived types."
        },
        "name": {
          "type": "string",
          "description": "Source name"
        }
      },
      "type": "object",
      "required": [
        "@odata.type",
        "name"
      ],
      "description": "Media source"
    },
    "MediaGraphSink": {
      "discriminator": "@odata.type",
      "properties": {
        "@odata.type": {
          "type": "string",
          "description": "The discriminator for derived types."
        },
        "name": {
          "type": "string",
          "description": "Sink name"
        },
        "inputs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Sink inputs"
        }
      },
      "type": "object",
      "required": [
        "@odata.type",
        "name",
        "inputs"
      ],
      "description": "Media Sink"
    },
    "MediaGraphRtspSource": {
      "x-ms-discriminator-value": "#Microsoft.Media.MediaGraphRtspSource",
      "allOf": [
        {
          "$ref": "#/definitions/MediaGraphSource"
        }
      ],
      "properties": {
        "rtspUrl": {
          "type": "string",
          "description": "RTSP URL"
        },
        "credentials": {
          "$ref": "#/definitions/MediaGraphUserCredentials",
          "description": "RTSP Credentials"
        }
      },
      "type": "object",
      "required": [
        "rtspUrl"
      ],
      "description": "RTSP source"
    },
    "MediaGraphUserCredentials": {
      "properties": {
        "username": {
          "type": "string",
          "description": "User name"
        },
        "password": {
          "type": "string",
          "description": "Password credential"
        }
      },
      "type": "object",
      "required": [
        "username",
        "password"
      ],
      "description": "Credentials to authenticate to Media Graph sources"
    },
    "MediaGraphAssetSink": {
      "x-ms-discriminator-value": "#Microsoft.Media.MediaGraphAssetSink",
      "allOf": [
        {
          "$ref": "#/definitions/MediaGraphSink"
        }
      ],
      "properties": {
        "assetName": {
          "type": "string",
          "description": "Asset name"
        }
      },
      "type": "object",
      "required": [
        "assetName"
      ],
      "description": "Asset sink"
    },
    "MediaGraph": {
      "allOf": [
        {
          "$ref": "./Common.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/MediaGraphProperties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "description": "The Media Graph."
    },
    "MediaGraphOperationError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The operation error code"
        },
        "message": {
          "type": "string",
          "description": "The operation error message"
        }
      },
      "type": "object",
      "description": "The operation error"
    },
    "MediaGraphOperationStatus": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Media Graph operation"
        },
        "status": {
          "type": "string",
          "description": "The status of the Media Graph operation"
        },
        "error": {
          "$ref": "#/definitions/MediaGraphOperationError",
          "description": "The error for the Media Graph operation"
        }
      },
      "type": "object",
      "required": [
        "name"
      ],
      "description": "The status of the Media Graph operation"
    },
    "MediaGraphOperationResult": {
      "properties": {},
      "type": "object",
      "description": "The result of the Media Graph operation"
    },
    "ODataError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "A language-independent error name."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "type": "string",
          "description": "The target of the error (for example, the name of the property in error)."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ODataError"
          },
          "description": "The error details."
        }
      },
      "type": "object",
      "description": "Information about an error."
    },
    "ApiError": {
      "properties": {
        "error": {
          "$ref": "#/definitions/ODataError",
          "description": "The error properties."
        }
      },
      "type": "object",
      "description": "The API error."
    },
    "MediaGraphCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaGraph"
          },
          "description": "A collection of MediaGraph items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of MediaGraph items."
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs": {
      "get": {
        "summary": "List Media Graphs",
        "description": "Lists Media Graphs in the Media Services account",
        "operationId": "MediaGraphs_List",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MediaGraphCollection"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specifies a non-negative integer n that limits the number of items returned from a collection. The service returns the number of available items up to but not greater than the specified value n."
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-examples": {
          "List all Media Graphs": {
            "$ref": "examples/media-graph-list-all.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs/{mediaGraphName}": {
      "get": {
        "summary": "Get a Media Graph",
        "description": "Get the details of a Media Graph in the Media Services account",
        "operationId": "MediaGraphs_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MediaGraph"
            }
          },
          "404": {
            "description": "NotFound"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "mediaGraphName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Media Graph name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get a Media Graph by name": {
            "$ref": "examples/media-graph-get-by-name.json"
          }
        }
      },
      "put": {
        "summary": "Create or update a Media Graph",
        "description": "Create or update a Media Graph in the Media Services account",
        "operationId": "MediaGraphs_CreateOrUpdate",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MediaGraph"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "mediaGraphName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Media Graph name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MediaGraph"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Create or update a Media Graph": {
            "$ref": "examples/media-graph-create.json"
          }
        }
      },
      "delete": {
        "summary": "Delete a Media Graph",
        "description": "Deletes a Media Graph in the Media Services account",
        "operationId": "MediaGraphs_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "mediaGraphName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Media Graph name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Delete a Media Graph": {
            "$ref": "examples/media-graph-delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs/{mediaGraphName}/start": {
      "post": {
        "summary": "Start a Media Graph",
        "description": "Start a Media Graph in the Media Services account",
        "operationId": "MediaGraphs_Start",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "mediaGraphName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Media Graph name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Start Media Graph": {
            "$ref": "examples/media-graph-start.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs/{mediaGraphName}/stop": {
      "post": {
        "summary": "Stop a Media Graph",
        "description": "Stop a Media Graph in the Media Services account",
        "operationId": "MediaGraphs_Stop",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "mediaGraphName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Media Graph name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Stop Media Graph": {
            "$ref": "examples/media-graph-stop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs/{mediaGraphName}/operationsStatus/{operationId}": {
      "get": {
        "summary": "Get the operation status",
        "description": "Get the operation status of a Media Graph in the media services account",
        "operationId": "OperationsStatus_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MediaGraphOperationStatus"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "mediaGraphName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Media Graph name."
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The operation ID"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get the operation status": {
            "$ref": "examples/operation-status-get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs/{mediaGraphName}/operationResults/{operationId}": {
      "get": {
        "summary": "Get the operation result",
        "description": "Get the operation result of a Media Graph in the Media Services account",
        "operationId": "OperationResults_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MediaGraphOperationResult"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "mediaGraphName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Media Graph name."
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The operation ID"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get the operation result": {
            "$ref": "examples/operation-result-get.json"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for a Microsoft Azure subscription."
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the Azure subscription.",
      "x-ms-parameter-location": "method"
    },
    "MediaServicesAccountName": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Media Services account name.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The Version of the API to be used with the client request."
    }
  }
}
