{
  "swagger": "2.0",
  "info": {
    "title": "MonitorManagementClient",
    "version": "2015-04-01",
    "description": "Monitor Management Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ActivityLogs"
    },
    {
      "name": "EventCategories"
    },
    {
      "name": "TenantActivityLogs"
    }
  ],
  "paths": {
    "/providers/Microsoft.Insights/eventcategories": {
      "get": {
        "operationId": "EventCategories_List",
        "tags": [
          "EventCategories"
        ],
        "description": "Get the list of available event categories supported in the Activity Logs Service.<br>The current list includes the following: Administrative, Security, ServiceHealth, Alert, Recommendation, Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EventCategoryCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get event categories": {
            "$ref": "./examples/GetEventCategories.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Insights/eventtypes/management/values": {
      "get": {
        "operationId": "TenantActivityLogs_List",
        "tags": [
          "TenantActivityLogs"
        ],
        "description": "Gets the Activity Logs for the Tenant.<br>Everything that is applicable to the API to get the Activity Logs for the subscription is applicable to this API (the parameters, $filter, etc.).<br>One thing to point out here is that this API does *not* retrieve the logs at the individual subscription of the tenant but only surfaces the logs that were generated at the tenant level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Reduces the set of data collected. <br>The **$filter** is very restricted and allows only the following patterns.<br>- List events for a resource group: $filter=eventTimestamp ge '<Start Time>' and eventTimestamp le '<End Time>' and eventChannels eq 'Admin, Operation' and resourceGroupName eq '<ResourceGroupName>'.<br>- List events for resource: $filter=eventTimestamp ge '<Start Time>' and eventTimestamp le '<End Time>' and eventChannels eq 'Admin, Operation' and resourceUri eq '<ResourceURI>'.<br>- List events for a subscription: $filter=eventTimestamp ge '<Start Time>' and eventTimestamp le '<End Time>' and eventChannels eq 'Admin, Operation'.<br>- List events for a resource provider: $filter=eventTimestamp ge '<Start Time>' and eventTimestamp le '<End Time>' and eventChannels eq 'Admin, Operation' and resourceProvider eq '<ResourceProviderName>'.<br>- List events for a correlation Id: api-version=2014-04-01&$filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z' and eventChannels eq 'Admin, Operation' and correlationId eq '<CorrelationID>'.<br>**NOTE**: No other syntax is allowed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Used to fetch events with only the given properties.<br>The **$select** argument is a comma separated list of property names to be returned. Possible values are: *authorization*, *claims*, *correlationId*, *description*, *eventDataId*, *eventName*, *eventTimestamp*, *httpRequest*, *level*, *operationId*, *operationName*, *properties*, *resourceGroupName*, *resourceProviderName*, *resourceId*, *status*, *submissionTimestamp*, *subStatus*, *subscriptionId*",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EventDataCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Tenant Activity Logs with filter": {
            "$ref": "./examples/GetTenantActivityLogsFiltered.json"
          },
          "Get Tenant Activity Logs with filter and select": {
            "$ref": "./examples/GetTenantActivityLogsFilteredAndSelected.json"
          },
          "Get Tenant Activity Logs with select": {
            "$ref": "./examples/GetTenantActivityLogsSelected.json"
          },
          "Get Tenant Activity Logs without filter or select": {
            "$ref": "./examples/GetTenantActivityLogsNoParams.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/eventtypes/management/values": {
      "get": {
        "operationId": "ActivityLogs_List",
        "tags": [
          "ActivityLogs"
        ],
        "description": "Provides the list of records from the activity logs.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Reduces the set of data collected.<br>This argument is required and it also requires at least the start date/time.<br>The **$filter** argument is very restricted and allows only the following patterns.<br>- *List events for a resource group*: $filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z' and resourceGroupName eq 'resourceGroupName'.<br>- *List events for resource*: $filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z' and resourceUri eq 'resourceURI'.<br>- *List events for a subscription in a time range*: $filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z'.<br>- *List events for a resource provider*: $filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z' and resourceProvider eq 'resourceProviderName'.<br>- *List events for a correlation Id*: $filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z' and correlationId eq 'correlationID'.<br><br>**NOTE**: No other syntax is allowed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Used to fetch events with only the given properties.<br>The **$select** argument is a comma separated list of property names to be returned. Possible values are: *authorization*, *claims*, *correlationId*, *description*, *eventDataId*, *eventName*, *eventTimestamp*, *httpRequest*, *level*, *operationId*, *operationName*, *properties*, *resourceGroupName*, *resourceProviderName*, *resourceId*, *status*, *submissionTimestamp*, *subStatus*, *subscriptionId*",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EventDataCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Activity Logs with filter": {
            "$ref": "./examples/GetActivityLogsFiltered.json"
          },
          "Get Activity Logs with filter and select": {
            "$ref": "./examples/GetActivityLogsFilteredAndSelected.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "description": "Describes the format of Error response.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code"
        },
        "message": {
          "type": "string",
          "description": "Error message indicating why the operation failed."
        }
      }
    },
    "EventCategoryCollection": {
      "type": "object",
      "description": "A collection of event categories. Currently possible values are: Administrative, Security, ServiceHealth, Alert, Recommendation, Policy.",
      "properties": {
        "value": {
          "type": "array",
          "description": "the list that includes the Azure event categories.",
          "items": {
            "$ref": "#/definitions/LocalizableString"
          },
          "x-ms-identifiers": [
            "value"
          ]
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EventData": {
      "type": "object",
      "description": "The Azure event log entries are of type EventData",
      "properties": {
        "authorization": {
          "$ref": "#/definitions/SenderAuthorization",
          "description": "The sender authorization information.",
          "readOnly": true
        },
        "claims": {
          "type": "object",
          "description": "key value pairs to identify ARM permissions.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "caller": {
          "type": "string",
          "description": "the email address of the user who has performed the operation, the UPN claim or SPN claim based on availability.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "the description of the event.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "the Id of this event as required by ARM for RBAC. It contains the EventDataID and a timestamp information.",
          "readOnly": true
        },
        "eventDataId": {
          "type": "string",
          "description": "the event data Id. This is a unique identifier for an event.",
          "readOnly": true
        },
        "correlationId": {
          "type": "string",
          "description": "the correlation Id, usually a GUID in the string format. The correlation Id is shared among the events that belong to the same uber operation.",
          "readOnly": true
        },
        "eventName": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the event name. This value should not be confused with OperationName. For practical purposes, OperationName might be more appealing to end users.",
          "readOnly": true
        },
        "category": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the event category.",
          "readOnly": true
        },
        "httpRequest": {
          "$ref": "#/definitions/HttpRequestInfo",
          "description": "the HTTP request info. Usually includes the 'clientRequestId', 'clientIpAddress' (IP address of the user who initiated the event) and 'method' (HTTP method e.g. PUT).",
          "readOnly": true
        },
        "level": {
          "$ref": "#/definitions/EventLevel",
          "description": "the event level",
          "readOnly": true
        },
        "resourceGroupName": {
          "type": "string",
          "description": "the resource group name of the impacted resource.",
          "readOnly": true,
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/azure/dn790546.aspx"
          }
        },
        "resourceProviderName": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the resource provider name of the impacted resource.",
          "readOnly": true,
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/azure/dn790572.aspx"
          }
        },
        "resourceId": {
          "type": "string",
          "description": "the resource uri that uniquely identifies the resource that caused this event.",
          "readOnly": true,
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx"
          }
        },
        "resourceType": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the resource type",
          "readOnly": true,
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx"
          }
        },
        "operationId": {
          "type": "string",
          "description": "It is usually a GUID shared among the events corresponding to single operation. This value should not be confused with EventName.",
          "readOnly": true
        },
        "operationName": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the operation name.",
          "readOnly": true
        },
        "properties": {
          "type": "object",
          "description": "the set of <Key, Value> pairs (usually a Dictionary<String, String>) that includes details about the event.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/LocalizableString",
          "description": "a string describing the status of the operation. Some typical values are: Started, In progress, Succeeded, Failed, Resolved.",
          "readOnly": true
        },
        "subStatus": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the event sub status. Most of the time, when included, this captures the HTTP status code of the REST call. Common values are: OK (HTTP Status Code: 200), Created (HTTP Status Code: 201), Accepted (HTTP Status Code: 202), No Content (HTTP Status Code: 204), Bad Request(HTTP Status Code: 400), Not Found (HTTP Status Code: 404), Conflict (HTTP Status Code: 409), Internal Server Error (HTTP Status Code: 500), Service Unavailable (HTTP Status Code:503), Gateway Timeout (HTTP Status Code: 504)",
          "readOnly": true
        },
        "eventTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "the timestamp of when the event was generated by the Azure service processing the request corresponding the event. It in ISO 8601 format.",
          "readOnly": true
        },
        "submissionTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "the timestamp of when the event became available for querying via this API. It is in ISO 8601 format. This value should not be confused eventTimestamp. As there might be a delay between the occurrence time of the event, and the time that the event is submitted to the Azure logging infrastructure.",
          "readOnly": true
        },
        "subscriptionId": {
          "type": "string",
          "description": "the Azure subscription Id usually a GUID.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "the Azure tenant Id",
          "readOnly": true
        }
      }
    },
    "EventDataCollection": {
      "type": "object",
      "description": "Represents collection of events.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EventData items on this page",
          "items": {
            "$ref": "#/definitions/EventData"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EventLevel": {
      "type": "string",
      "description": "the event level",
      "enum": [
        "Critical",
        "Error",
        "Warning",
        "Informational",
        "Verbose"
      ],
      "x-ms-enum": {
        "name": "EventLevel",
        "modelAsString": false,
        "values": [
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Critical"
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "Error"
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "Warning"
          },
          {
            "name": "Informational",
            "value": "Informational",
            "description": "Informational"
          },
          {
            "name": "Verbose",
            "value": "Verbose",
            "description": "Verbose"
          }
        ]
      }
    },
    "HttpRequestInfo": {
      "type": "object",
      "description": "The Http request info.",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "the client request id."
        },
        "clientIpAddress": {
          "type": "string",
          "description": "the client Ip Address"
        },
        "method": {
          "type": "string",
          "description": "the Http request method."
        },
        "uri": {
          "type": "string",
          "description": "the Uri."
        }
      }
    },
    "LocalizableString": {
      "type": "object",
      "description": "The localizable string class.",
      "properties": {
        "value": {
          "type": "string",
          "description": "the invariant value."
        },
        "localizedValue": {
          "type": "string",
          "description": "the locale specific value."
        }
      },
      "required": [
        "value"
      ]
    },
    "SenderAuthorization": {
      "type": "object",
      "description": "the authorization used by the user who has performed the operation that led to this event. This captures the RBAC properties of the event. These usually include the 'action', 'role' and the 'scope'",
      "properties": {
        "action": {
          "type": "string",
          "description": "the permissible actions. For instance: microsoft.support/supporttickets/write"
        },
        "role": {
          "type": "string",
          "description": "the role of the user. For instance: Subscription Admin"
        },
        "scope": {
          "type": "string",
          "description": "the scope."
        }
      }
    }
  },
  "parameters": {}
}
